button, .ant-btn {
  color: @fisas-grey-09;
  font-weight: bold;
  border: 2px solid var(--fisas-01);
  border-color: var(--fisas-01);
  height: 30px;
  text-transform: capitalize;

  &:hover, &:active, &:focus, &.active {
    background-color: var(--fisas-01) !important;
    color: @fisas-grey-01;
    border-color: var(--fisas-01);
  }

  &.active {
    padding-left: 7px;
  }

  > i {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;

    svg-icon {
      display: inline-block;
      line-height: 0;
    }
  }
}
