@import './colors.less';
@import './typography.less';
@import './buttons.less';

body,
input,
textarea,
select,
button {
  -moz-font-feature-settings: 'liga' 0, 'clig' 0;
  -webkit-font-feature-settings: 'liga' 0, 'clig' 0;
  font-feature-settings: 'liga' 0, 'clig' 0;

  font-variant-ligatures: no-common-ligatures !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  outline: 0 none;
  box-shadow: none;
}

/* input */
.ant-input:focus {
  outline: 0;
  box-shadow: none;
}

/* modal */
::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
