<div class="content-form">
  <form [formGroup]="requirementForm" nzLayout="vertical">
    <div nz-row>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="gender">Género</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="gender">
            <label *ngFor="let gender of genders" nz-radio nzValue="{{ gender.value}}"><span>
                {{ gender.label }}</span>
            </label>
          </nz-radio-group>
        </nz-form-control>
        <nz-form-explain class="color-required" *ngIf="submitted && f.gender.errors">
          Campo obrigatório
        </nz-form-explain>
      </nz-form-item>
    </div>
    <div nz-row>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="occupation">Ocupação</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="occupation">
            <label *ngFor="let occupation of occupations" nz-radio nzValue="{{ occupation.value}}"><span>
                {{ occupation.label }}</span>
            </label>
          </nz-radio-group>
          <nz-form-explain class="color-required" *ngIf="submitted && f.occupation.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-row>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="allows_pets">Animais</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="allows_pets">
            <label nz-radio [nzValue]="true"><span>
                Permite animais de estimação</span>
            </label>
            <label nz-radio [nzValue]="false"><span>
                Não permite animais de estimação</span>
            </label>
          </nz-radio-group>
        </nz-form-control>
        <nz-form-explain class="color-required" *ngIf="submitted && f.allows_pets.errors">
          Campo obrigatório
        </nz-form-explain>
      </nz-form-item>
    </div>

    <div nz-row>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="allows_smokers">Fumadores</nz-form-label>
        <nz-form-control>

          <nz-radio-group formControlName="allows_smokers">
            <label nz-radio [nzValue]="true"><span>
                Permite fumadores</span>
            </label>
            <label nz-radio [nzValue]="false"><span>
                Não permite fumadores</span>
            </label>
          </nz-radio-group>

        </nz-form-control>
        <nz-form-explain class="color-required" *ngIf="submitted && f.allows_smokers.errors">
          Campo obrigatório
        </nz-form-explain>
      </nz-form-item>
    </div>

    <div nz-row>
      <div nz-col nzXs=24 nzSm=24 nzMd=12 nzLg=8 nzXl=8 nzXXl=4>
        <nz-form-item>
          <nz-form-label nzRequired nzFor="start_date">Data de início</nz-form-label>
          <nz-form-control>
            <nz-date-picker formControlName="start_date" [nzDisabledDate]="disableStartDate" id="start_date"
              (ngModelChange)="clearEndDate();"></nz-date-picker>

          </nz-form-control>
          <nz-form-explain class="color-required" *ngIf="submitted && f.start_date.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzXs=24 nzSm=24 nzMd=12 nzLg=8 nzXl=8 nzXXl=4>
        <nz-form-item>
          <nz-form-label nzRequired nzFor="end_date">Data de fim</nz-form-label>
          <nz-form-control>
            <nz-date-picker [nzDisabled]="requirementForm.get('start_date').value === null" formControlName="end_date"
              [nzDisabledDate]="disableEndDate" id="end_date"></nz-date-picker>

          </nz-form-control>
          <nz-form-explain class="color-required" *ngIf="submitted && f.end_date.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>
      </div>
    </div>

  </form>
</div>