<nz-spin [nzSpinning]="loading">
    <div nz-row nzType="flex" class="list-health__header" *ngIf="!loading">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="6" [nzXl]="12" [nzXXl]="12">
            <div nz-col [nzSm]="2" [nzXs]="0"></div>
            <div nz-col [nzSm]="20" [nzXs]="24">
                <h2 class="title-top-page">{{ 'HEALTH.ATTENDANCES_TAB.TITLE' | translate }}</h2>
                <p class="sub-title-top-page">{{ 'HEALTH.ATTENDANCES_TAB.SUBTITLE' | translate }}</p>
            </div>
        </div>
        
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="6" [nzXl]="4" [nzXXl]="4">
            <div nz-col [nzSm]="2" [nzXs]="0"></div>
            <div nz-col [nzSm]="20" [nzXs]="24">
                <app-button  translate="HEALTH.ATTENDANCES_DETAIL.BUTTONS.START_ATTENDANCE" (click)="startAttendance()" type="primary"  *ngIf="allowAttendance && !attendanceStart"   [buttonStyle]="{'width': '100%'}" [disabled]="checkIfAttendanceIsToday()" [loading]="loadingAttendance"></app-button>
                <app-button  translate="HEALTH.ATTENDANCES_DETAIL.BUTTONS.CLOSE_ATTENDANCE" (click)="closeAttendance()" type="primary"  *ngIf="allowAttendance && attendanceStart" [buttonStyle]="{'width': '100%'}" [loading]="loadingAttendance"></app-button>
            </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="6" [nzXl]="4" [nzXXl]="4">
            <div nz-col [nzSm]="2" [nzXs]="0"></div>
            <div nz-col [nzSm]="20" [nzXs]="24">
                <app-button translate="HEALTH.ATTENDANCES_DETAIL.BUTTONS.NEW_APPOINTMENT" (click)="newAppointment()" type="secundary" [buttonStyle]="{'width': '100%'}" [loading]="loadingAttendance"></app-button>
            </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="6" [nzXl]="4" [nzXXl]="4" >
            <div nz-col [nzSm]="2" [nzXs]="0"></div>
            <div nz-col [nzSm]="20" [nzXs]="24">
                <app-button  translate="HEALTH.ATTENDANCES_DETAIL.BUTTONS.ABSENCE" (click)="registerAbsence()" type="secundary" [buttonStyle]="{'width': '100%'}" [disabled]="!attendanceStart && checkIfAttendanceIsToday()"  [loading]="loadingAttendance"></app-button>
            </div>
        </div>
        <div nz-col [nzSm]="2" [nzXs]="0"></div>
    </div>
    <div nz-row nzType="flex" class="list-health__header" style="margin-bottom: 20px;">
        <div nz-col [nzSm]="2" [nzXs]="0"></div>
        <div nz-col [nzSm]="20" [nzXs]="24">
            <app-button translate="HEALTH.BUTTONS.BACK" (click)="back();" [leftIcon]="'left'" type="tertiary"></app-button>
        </div>
        <div nz-col [nzSm]="2" [nzXs]="0"></div>
    </div>
    <div nz-row nzType="flex" *ngIf="!loading">
        <div nz-col [nzSm]="2" [nzXs]="0"></div>
        <div nz-col [nzSm]="20" [nzXs]="24">
            <div nz-row nzType="flex">
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="attendance_form">
                <nz-tabset>
                  <nz-tab [nzTitle]="'HEALTH.ATTENDANCES_DETAIL.TABS.USER_DATA' | translate" >
                    <div nz-row class="content-card card__body">
                        <app-attendance-user-data [userInformation]="appointment"></app-attendance-user-data>
                    </div>
                  </nz-tab>
                  <nz-tab [nzTitle]="'HEALTH.ATTENDANCES_DETAIL.TABS.DIAGNOSIS_FORM_CHECKLIST' | translate" [nzDisabled]="!attendanceStart">
                    <div nz-row class="content-card card__body" *ngIf="!loadingAttendance && attendance">
                        <app-attendance-diagnosis-checklist [attendance]="attendance"  #checklistForm [checklistInfo]="steps[0].formValues"></app-attendance-diagnosis-checklist>
                    </div>
                  </nz-tab>
                  <nz-tab [nzTitle]="'HEALTH.ATTENDANCES_DETAIL.TABS.ATTENDANCES_USER_DATA' | translate" [nzDisabled]="!attendanceStart">
                    <div nz-row class="content-card card__body" *ngIf="!loadingAttendance && attendance">
                        <app-attendance-diagnosis-historic [attendance]="attendance" ></app-attendance-diagnosis-historic>
                    </div>
                  </nz-tab>
                  <nz-tab [nzTitle]="'HEALTH.ATTENDANCES_DETAIL.TABS.REGISTER_ATTENDANCE_DATA' | translate" [nzDisabled]="!attendanceStart">
                    <div nz-row class="content-card card__body" *ngIf="!loadingAttendance && attendance">
                        <app-attendance-attendace-data [attendance]="attendance"  #attendanceDataForm [attendanceDataInfo]="steps[1].formValues"></app-attendance-attendace-data>
                    </div>
                  </nz-tab>
                </nz-tabset>
              </div>
            </div>
        </div>
    </div>
</nz-spin>