/* You can add global styles to this file, and also import other style files */
@import "../../../../node_modules/ng-zorro-antd/src/ng-zorro-antd.less";
@import "theme";
@import '~@angular/cdk/overlay-prebuilt.css';

/***
 KEYBOARD
*/
mat-keyboard-container {
  min-width: 100% !important;
  padding: unset !important;
  position: absolute !important;
  bottom: 0% !important;
}



::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  width: 8px;
  border: solid 0.5px #838383;
  background-color: #b3b3b3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 2.7px;
  background-color: #666666;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 5px;
  border-radius: 2.7px;
  background-color: #5a5a5a;
}

.screen {
  height: 100vh;
}

.p-8 {
  padding: 8px;
}

.fr {
  float: right;
}

.mr-8 {
  margin-right: 8px;
}

/*
 This is used on the list component on Shared Module
 has to be global because of the ng-content
*/
div[form] { height: 100%; }

/* body */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1;
  overflow-y: hidden;

  fisas-pos {
    background-color: #02090b;
    height: 100%;
    display: block;
    position: relative;
  }
}

nz-input-group {
  height: 40px;
}


.ant-input-prefix {
  font-size: 20px !important;
}

.ant-input {
  //padding-left: 40px !important;
  height: 36px;
}

input {
  font-size: 20px !important;
}

nz-form-explain {
  font-size: 16px !important;
}

.ant-select-selection {
  &--single {
    height: 42px !important;
  }

  &__rendered {
    line-height: 40px !important;
    font-size: 14px !important;
  }
}

.ant-select-arrow .ant-select-arrow-icon {
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.ant-select-dropdown-menu-item {
  font-size: 14px !important;
  line-height: 40px;
}

label {
  font-size: 20px;
}

.ant-tabs-tab {
  font-size: 20px;
}

.button-rounded {
  border-radius: 50%;
  border: solid 2px #e8e8e8;
  background-color: #ffffff;
  padding: 0px;

  i {
    font-size: 24px;
    padding: 8px;
  }
}

.button-rounded-solid {
  border-radius: 50%;
  background: @primary-6;
  border: none;
  padding: 0px;
  i {
    font-size: 24px;
    padding: 8px;
    color:white;
    svg {
      path {
        fill: white;
      }
    }
  }
}

.button-secundary {
  width: 100%;
  border-radius: 15px;
  border: solid 2px @primary-6;
  background-color: #ffffff;
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #333333;

  &:disabled {
    background: #c5c5c5;
    border: solid 2px #8d8c8c;
  }
}

.button-tertiary {
  width: 100%;
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 15px;
  border: solid 2px #e8e8e8;
  background-color: #ffffff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #333333;

  &--danger {
    border: solid 2px #ffbcbc;
    background-color: #fde8e8;
  }

  &--success {
    border: solid 2px #52c41a;
    background-color: #f6ffed;
  }
}
.drawerWrapper {
  box-shadow: -10px 2px 25px 0 rgba(0, 0, 0, 0.2) !important;
}


.chargeDrawerWrapper {
  padding: 0px;

  .ant-drawer-body {
    padding: 0px;
  }
}


.modal {
  &__title {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 900;
        font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #333333;
  }

  &__info {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #333333;
  }
}

.primary-datePicker {
  .ant-calendar-picker-input {
    width: 140px !important;
    height: 43px !important;
    border-radius: 4px !important;
    border: solid 1px #e8e8e8 !important;
    background-color: #ffffff !important;
    font-family: Montserrat;
    font-size: 14px !important;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29 !important;
    letter-spacing: normal;
    color: #333333;
  }

  .ant-calendar-picker-icon {
    color: black;
  }
}

.primary-select {
  width: 148px;
  height: 48px;
  background-color: #ffffff;
  font-family: Montserrat;
  font-size: 14px !important;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29 !important;
  letter-spacing: normal;
  color: #333333;
  .ant-select-selection {
    border-radius: 4px;
    border: solid 1px #e8e8e8;
  }
  .ant-select-dropdown-menu-item {
    font-size: 14px !important;
  }
  .ant-select-selection__rendered {
    line-height: 48px;
    height: 48px;
  }
  .ant-select-selection--single {
    height: 48px;
  }

  .ant-select-arrow .ant-select-arrow-icon {
    color: black;
    font-weight: bold;
    font-size: 14px;
  }
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}
