
<div class="container">
  <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
          <div nz-row>
              <nz-form-label>Termo de Pesquisa</nz-form-label>
              <nz-form-control>
                  <input type="text" nz-input [(ngModel)]="filters.search">
              </nz-form-control>
          </div>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">

          <div nz-row>
              <nz-form-label>Estado</nz-form-label>
              <nz-form-control>
                  <nz-select class="primary-select" [(ngModel)]="filters.active" nzAllowClear nzShowSearch
                      style="width: 100%;">
                      <nz-option *ngFor="let state of status" [nzLabel]="state.description" [nzValue]="state.value">
                      </nz-option>
                  </nz-select>
              </nz-form-control>
          </div>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
      <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
          <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
          style="text-align: left;">
          <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
      </div>
  </div>
</div>

<div class="container">

  <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th nzShowSort nzSortKey="local">Local</th>
        <th nzShowSort nzSortKey="region">Região</th>
        <th nzShowSort nzSortKey="latitude">Latitude</th>
        <th nzShowSort nzSortKey="longitude">Longitude</th>
        <th nzShowSort nzSortKey="created_at">Criado em</th>
        <th nzShowSort nzSortKey="updated_at">Atulizado em</th>
        <th nzShowSort nzSortKey="active">Ativo</th>
        <th *ngIf="('bus:locals:update' | hasPermission) || ('bus:locals:delete' | hasPermission)" nzRight="0px"
          class="text-right">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">
        <tr>
          <td>{{data.local}}</td>
          <td>{{data.region}}</td>
          <td>{{data.latitude}}</td>
          <td>{{data.longitude}}</td>
          <td>{{data.created_at | date :'dd/MM/yyyy' }}</td>
          <td>{{data.updated_at | date :'dd/MM/yyyy'}}</td>
          <td>  <fi-sas-tag [value]="data?.active"></fi-sas-tag></td>
          <td *ngIf="('bus:locals:update' | hasPermission) || ('bus:locals:delete' | hasPermission)" nzRight="0px"
            class="text-right"><button nz-button nz-dropdown nzType="link" [nzDropdownMenu]="menu"
              nzPlacement="bottomRight" class="options_button"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li *ngIf="('bus:locals:update' | hasPermission)" nz-menu-item
                  [routerLink]="'/bus/locals/update/' + data.id">Editar</li>
                <li *ngIf="('bus:locals:delete' | hasPermission)" (click)="deleteLocal(data.id)" nz-menu-item>Eliminar
                </li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>


      </ng-template>
    </tbody>
  </nz-table>

</div>