<ngx-loading-bar></ngx-loading-bar>
<router-outlet></router-outlet>
<ng-template #cookieMsg let-notification>
  <div class="ant-notification-notice-content">
    <div>
      <div class="ant-notification-notice-message">Cookies</div>
      <div class="ant-notification-notice-description">
        ATENÇÃO: Este site utiliza cookies. Ao navegar no site estará a consentir a sua utilização.
      </div>
      <span class="ant-notification-notice-btn">
        <button nz-button nzType="primary" nzSize="small" (click)="cookieConsent(notification)">
          <span>Compreendo e Aceito</span>
        </button>
      </span>
    </div>
  </div>
</ng-template>
