<div class="menu">
  <!-- banner -->
  <section class="banner">
    <img
      src="https://images.unsplash.com/photo-1541616774166-000dbde81e17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80" />
  </section>
  <div nz-row>
    <div nz-col nzSpan="4">
      <!-- menu -->
      <fi-menu-vertical-item height="1220px" [data]="menuCategories" (OnOptionChange)="changeCategory($event)">
      </fi-menu-vertical-item>
    </div>


    <div nz-col nzSpan="16">
      <!-- title -->
      <fi-context-two-col [data]="titleData"></fi-context-two-col>

      <!-- loading -->
      <nz-spin class="menu__loading" [nzSize]="'large'" *ngIf="loadingProducts"></nz-spin>

      <!-- no content -->
      <div class="menu__no-content" *ngIf="!loadingProducts && products?.length === 0">
        <p>{{ 'BAR.MENU.NOCONTENT' | translate }}</p>
      </div>

      <!-- category title -->
      <div class="menu__title"  *ngIf="!loadingProducts && products?.length > 0">
        {{ this.selectedCategory.name }}
      </div>

      <perfect-scrollbar class="list-total">
        <div *ngIf="!loadingProducts && products?.length > 0">
          <!-- meal item -->
          <ng-container *ngFor="let product of products; index as i">
            <div *ngIf="i % 3 === 0" nz-row class="menu__products-row">
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="6">
                <fi-sas-item-list [isUserLogged]="isUserLogged" [service_id]="service?.id" [data]="products[i]"></fi-sas-item-list>
              </div>
              <div nz-col nzSpan="6">
                <fi-sas-item-list [isUserLogged]="isUserLogged" [service_id]="service?.id" [data]="products[i + 1]"></fi-sas-item-list>
              </div>
              <div nz-col nzSpan="6">
                <fi-sas-item-list [isUserLogged]="isUserLogged" [service_id]="service?.id" [data]="products[i + 2]"></fi-sas-item-list>
              </div>
              <div nz-col nzSpan="1"></div>
            </div>
          </ng-container>
          <!-- meal item -->
  
          <div class="menu__products-scroll-space"></div>
        </div>
      </perfect-scrollbar>

    </div>
  </div>
</div>