@import 'default-theme.less';

:host::ng-deep {

  width: 100%;
  height: 100%;

  .banner {

    img {
      width: 100%;
      height: 378px;
      object-fit: cover;
    }

  }

  .list-total {
    height: 1015px; 
  }

  .menu {
    height: auto;

    .ant-col-6 {
      padding-left: 0;
      padding-right: 16px;
    }

    &__products-row {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 200px;
      }
    }

    &__products-scroll-space {
        width: 100%;
        height: 300px;
    }

    /* title */
    &__title {
      font-size: 36px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 42px;
      letter-spacing: -1.8px;
      text-transform: capitalize;
      padding-left: 42px;
      padding-bottom: 24px;
      color:  var(--fisas-06);
      border-top: 1px solid #e8e8e8;
      padding-top: 10px;
    }

    /* no-content */
    &__no-content {
      display: flex;
      width: 100%;
      height: 200px;
      align-items: center;
      justify-content: center;
    }

    /* loading */
    &__loading {
      display: flex;
      width: 100%;
      height: 200px;
      align-items: center;
      justify-content: center;
    }

  }
}