.top {
  padding-top: 25px;
}

:host::ng-deep {
  .application {
    //margin-top: 64px;
    //  margin-top: 25px;
    margin-bottom: 69px;
  }
  .apply-button {
    float: right;
    margin-top: 25px;
  }
}

.closed {
  text-align: center;
  font-size: 18px;
  font-family: Montserrat;
  color: #111111;
  background-color: #f8e4e4;
  padding: 15px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #ffccc7;
  margin-bottom: 40px;
  margin-top: 20px;
}
