<!--Homepage-->
<div nz-row *ngIf="!applicationDetail">
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20" class="top">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
        <h2 class="title-top-page">{{ 'U_BIKE.APPLICATIONS.TITLE' | translate }}</h2>
        <p *ngIf="userApplications?.length > 0 && !loadingApplication" class="sub-title-top-page">
          {{ 'U_BIKE.APPLICATIONS.SUB_TITLE' | translate }}
        </p>
        <p *ngIf="userApplications?.length == 0 && !loadingApplication" class="sub-title-top-page">
          {{ 'U_BIKE.APPLICATIONS.SUB_TITLE_NO_APPLICATIONS' | translate }}
        </p>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4" style="text-align: right">
        <app-apply-form-button></app-apply-form-button>
      </div>
    </div>
    <div nz-row>
      <div *ngIf="!can_apply?.can && !loadingApplication && can_apply?.reason == 'CLOSED_APPLICATIONS'" class="closed">
        {{ 'ACCOMMODATION.APPLICATION_CLOSED' | translate }}
      </div>
    </div>
  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>
</div>

<!--Application Status-->
<div *ngIf="!applicationDetail">
  <div *ngIf="userApplications.length !== 0">
    <div nz-row>
      <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>
      <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
        <app-application-status
          (applicationId)="viewApplicationDetail($event)"
          [translations]="translations"
          [userApplicationsHistory]="userApplicationsHistory"
          [applicantStartDate]="startDate"
          [applicantEndDate]="endDate"
        ></app-application-status>
      </div>
      <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>
    </div>
  </div>
</div>

<div *ngIf="applicationDetail">
  <app-application-info [applicationID]="applicationID" (returnToApplications)="exitViewApplicationDetail($event)">
  </app-application-info>
</div>
