<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title">Revisão</p>
    <p class="detail-text">Por favor, verifique cuidadosamente os dados introduzidos.</p>
  </div>
  <nz-divider></nz-divider>
</div>

<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
    <p class="sub-title">Identificação</p>
  </div>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <p class="title-step">Nome</p>
  <p class="text">{{ steps[1].formValues.name ? steps[1].formValues.name : "---" }}</p>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
    <p class="title-step">Morada</p>
    <p class="text">{{ steps[1].formValues.address ? steps[1].formValues.address : "---" }}</p>
  </div>
  <div nz-col [nzXs]="6" [nzSm]="6" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
    <p class="title-step">Código Postal:</p>
    <p class="text">{{ steps[1].formValues.postal_code ? steps[1].formValues.postal_code : "---" }}</p>
  </div>
  <div nz-col [nzXs]="6" [nzSm]="6" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6"> 
    <p class="title-step">Localidade:</p>
    <p class="text">{{ steps[1].formValues.city ? steps[1].formValues.city : "---" }}</p>
  </div>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="title-step">Data de Nascimento</p>
    <p class="text">{{ steps[1].formValues.birth_date ? steps[1].formValues.birth_date : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="title-step">Nacionalidade</p>
    <p class="text">{{ steps[1].formValues.nationality ? steps[1].formValues.nationality : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="title-step">Nª de Contribuinte</p>
    <p class="text">{{ steps[1].formValues.nif ? steps[1].formValues.nif : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="title-step">Tipo de Documento</p>
    <p class="text">{{ steps[1].formValues.document_type_id ? steps[1].formValues.document_type_id : "---"}}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="title-step">Nº de Identificação</p>
    <p class="text">{{ steps[1].formValues.identification_number ? steps[1].formValues.identification_number : "---" }}</p>
  </div>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="title-step">Nº de Aluno</p>
    <p class="text">{{ steps[1].formValues.student_number ? steps[1].formValues.student_number : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="title-step">Ano Curricular (só para alunos)</p>
    <p class="text">{{ steps[1].formValues.course_year ? steps[1].formValues.course_year : "---" }}</p>
  </div>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <div nz-col [nzXs]="6" [nzSm]="6" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
    <p class="title-step">Curso / Departamento</p>
    <p class="text">{{ steps[1].formValues.course_department_id ? steps[1].formValues.course_department_id : "---" }}</p>
  </div>
  <div nz-col [nzXs]="6" [nzSm]="6" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
    <p class="sub-title-resume">Unidade Orgânica</p>
    <p class="desc-resume">{{ steps[1].formValues.organic_unit_id ? steps[1].formValues.organic_unit_id : "--- " }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume">Bolseiro (só para alunos)</p>
    <p class="desc-resume">{{ steps[1].formValues.has_scholarship ? steps[1].formValues.has_scholarship : "--- " }}</p>
  </div>
</div>
<div nz-row class="padding-top-30">
  <nz-divider></nz-divider>
</div>
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
    <p class="sub-title">Contactos</p>
  </div>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="title-step">Telefone</p>
    <p class="text">{{ steps[1].formValues.telephone_number ? steps[1].formValues.telephone_number : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="title-step">Telemovel</p>
    <p class="text">{{ steps[1].formValues.mobile_phone_number ? steps[1].formValues.mobile_phone_number : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="title-step">E-mail</p>
    <p class="text">{{ steps[1].formValues.email ? steps[1].formValues.email : "---" }}</p>
  </div>
</div>
<div nz-row class="padding-top-30">
  <nz-divider></nz-divider>
</div>
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
    <p class="sub-title">Marcação</p>
  </div>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <p class="title-step">Especialidade / Serviço</p>
  <p class="text">{{ steps[0].formValues.specialty_id ? findSpecialty(steps[0].formValues.specialty_id) : "---" }}</p>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <p class="title-step">Profissional</p>
  <p class="text">{{ steps[0].formValues.doctor_id ? findDoctor(steps[0].formValues.doctor_id) : "---" }}</p>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="title-step">Dia</p>
    <p class="text">{{ steps[0].formValues.date ? steps[0].formValues.date : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="title-step">Hora Inicio</p>
    <p class="text">{{ steps[0].formValues.start_hour ? steps[0].formValues.start_hour : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="title-step">Hora Fim</p>
    <p class="text">{{ steps[0].formValues.end_hour ? steps[0].formValues.end_hour : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="title-step">Tempo Médio</p>
    <p class="text">{{ this.specialtyFound ? this.specialtyFound.avarage_time + " min" : "---" }}</p>
  </div>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <p class="title-step">Permite a consulta do histórico?</p>
  <p class="text">{{ steps[2].formValues.allow_historic ? "Sim" : "Não" }}</p>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="title-step">Meio de Consulta</p>
    <p class="text">{{ steps[0].formValues.appointment_type_id ? findAppointmentType(steps[0].formValues.appointment_type_id) : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="title-step">Local</p>
    <p class="text">{{ this.specialtyFound ? this.specialtyFound.place.name : "---" }}</p>
  </div>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="title-step">Meio de Pagamento</p>
    <p class="text">{{ steps[3].formValues.payment_type ? steps[3].formValues.payment_type : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="title-step">Tarifário</p>
    <p class="text">{{ steps[3].formValues.tariff_id ? findTariff(steps[3].formValues.tariff_id) : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="title-step">Preço</p>
    <p class="text">{{ steps[3].formValues.price ? steps[3].formValues.price : "---" }} €</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step">Observações</p>
    <p class="text">{{ steps[2].formValues.notes ? steps[2].formValues.notes : "---" }}</p>
  </div>
</div>
