@import 'default-theme.less';

:host::ng-deep {

  .fifteen-day {

    position: relative;

    &__wrap {
      width: 100%;
      height: 114px;
      white-space: nowrap;
    }

    &__slide {
      margin-left: 0px;
      margin-top: 20px;
      width: 50vw;
    }

    &__day {
      position: relative;
      display: inline-block;
      margin-right: 65px;
      font-weight: 200;
      opacity: 0.4;
      color: var(--fisas-03);
    }

    &__day.active {
      opacity: 1;
      color: var(--fisas-06);
    }

    &__day.disable {
      opacity: 0.8;
      color: @fisas-grey-03;
    }

    &__name {
      text-transform: capitalize;
      font-size: 36px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.42;
      letter-spacing: -1px;
    }

    &__date {
      text-transform: capitalize;
      font-size: 20px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }

    &__day.active > .days__date {
      opacity: 1;
      color: var(--fisas-03);
    }

    &__select{
      position: absolute;
      z-index: 2;
      bottom: -18px;
      left: 0;
      width: 75%;
      height: 6px;
      background-color: var(--fisas-02);
    }

    &__top-line {
      width: 100%;
      height: 1px;
      background-color: @fisas-grey-03;
    }

    &__bottom-line {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: @fisas-grey-03;
    }

    &__scroll-space {
      display: inline-block;
      width: 200px;
      min-height: 60px;
    }

  }

}