<div nz-row class="complains-header__header">
    <div nz-col [nzSm]="2" [nzXs]="1"></div>
    <div nz-col [nzSm]="20" [nzXs]="22">
        <h2 class="title-top-page">{{ 'VOLUNTEERING.COMPLAINS.TITLE' | translate }}</h2>
        <p class="sub-title-top-page">{{ 'VOLUNTEERING.COMPLAINS.SUBTITLE' | translate }}</p>
    </div>
    <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>

<nz-spin [nzSpinning]="loading">

    <div nz-row nzType="flex">
        <div nz-col [nzSm]="2" [nzXs]="1"></div>
        <div nz-col [nzSm]="20" [nzXs]="22">
            <div *ngIf="complaints.length == 0" nz-row style="padding-bottom: 20px;">
                <nz-empty [nzNotFoundContent]="'VOLUNTEERING.COMPLAINS.NO_COMPLAINS' | translate"></nz-empty>
            </div>
                <div nz-row style="margin-top: 20px;" *ngIf="complaints.length != 0">
                  <div nz-col>
                    <nz-card id="cardComplaintsComponent" class="border-radius-8">
                      <div class="padding-table hidden-xs">
                        <table class="table table-responsive">
                          <tr class="header-table">
                            <th></th>
                            <th>
                              <div class="header-table-div">
                                <span>{{ 'VOLUNTEERING.COMPLAINS.TABLE.SUBMITTED_ON' | translate }}</span>
                              </div>
                            </th>
                            <th>
                              <div class="header-table-div">
                                <span>{{ 'VOLUNTEERING.COMPLAINS.TABLE.TYPE' | translate }}</span>
                              </div>
                            </th>
                            <th>
                              <div class="header-table-div">
                                <span>{{ 'VOLUNTEERING.COMPLAINS.TABLE.HAS_ATTACHEMENTS' | translate }}</span>
                              </div>
                            </th>
                            <th>
                              <div class="header-table-div">
                                <span>
                                  {{ 'VOLUNTEERING.COMPLAINS.TABLE.STATUS' | translate }}
                                </span>
                              </div>
                            </th>
                          </tr>
                          <tbody *ngFor="let complaint of complaints; let idx = index">
                            <tr class="body-table" [ngClass]="{'par':!isPar(idx), 'impar':isPar(idx)}">
                              <td nzShowExpand [(nzExpand)]="mapOfExpandData[complaint.id]" *ngIf="complaint?.answer; else emptyTd"></td>
                              <td><span>{{ complaint?.created_at | date: 'dd-MM-yyyy' }}</span></td>
                              <td><span>{{ 'VOLUNTEERING.COMPLAINS.TYPE.' + complaint.type.toString().toUpperCase() | translate }} </span></td>
                              <td>
                                <div *ngIf="complaint.file">
                                  <i nz-icon nzType="icons:icons-success" class="btn-checked" nzTheme="outline"></i>
                                </div>
                                <div *ngIf="!complaint.file">
                                  <i nz-icon nzType="icons:icons-radiobutton-unchecked" class="btn-unchecked"
                                    nzTheme="outline"></i>
                                </div>
                              </td>
                              <td>
                                <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="body-table padding-top-13">
                                  <nz-tag class="tab-status cursor-cont" [nzColor]="(configStatusComplaint | filterStatusConfig: complaint.status.toString()).color">
                                    <label>{{ 'VOLUNTEERING.COMPLAINS.STATUS.' + complaint.status.toString().toUpperCase() | translate }}</label>
                                  </nz-tag>
                                </div>
                              </td>
                            </tr>
                            <!--<tr [nzExpand]="mapOfExpandData[complaint.id]" class="extra-info background-white" >
                              <td></td>
                              <td [colSpan]="6">
                                <div class="extra-info__row">
                                  <div class="extra-info__title">{{ 'VOLUNTEERING.COMPLAINS.TABLE.ANSWER' | translate }}:</div>
                                  <div class="extra-info__desc">{{ complaint.answer }}</div>
                                </div>
                              </td>
                            </tr>-->
                          </tbody>
                        </table>
                      </div>
        
                      <div class="padding-table hidden-md">
                        <div *ngFor="let complaint of complaints; let idx = index">
                            <div [ngClass]="{'par':isPar(idx), 'impar':!isPar(idx)}">
                                <div nz-row nzType="flex" style="align-items: stretch;">
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                        class="header-table-div padding-left-5">
                                        <span>{{ 'VOLUNTEERING.COMPLAINS.TABLE.SUBMITTED_ON' | translate }}</span>
                                    </div>
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="body-table padding-top-13">
                                        <span> {{ complaint?.created_at | date: 'dd-MM-yyyy' }} </span>
                                    </div>
                                </div>
                                <div nz-row nzType="flex" style="align-items: stretch;">
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                        class="header-table-div padding-left-5">
                                        <span>{{ 'VOLUNTEERING.COMPLAINS.TABLE.TYPE' | translate }}</span>
                                    </div>
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="body-table padding-top-13">
                                        <span>{{ 'VOLUNTEERING.COMPLAINS.TYPE.' + complaint.type.toString().toUpperCase() | translate }}</span>
                                    </div>
                                </div>
                              <div nz-row nzType="flex" style="align-items: stretch;">
                                <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                    class="header-table-div padding-left-5">
                                    <span>{{ 'VOLUNTEERING.COMPLAINS.TABLE.HAS_ATTACHEMENTS' | translate }}</span>
                                </div>
                                <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="body-table header-table-div">
                                  <div *ngIf="complaint.file">
                                    <i nz-icon nzType="icons:icons-success" class="btn-checked" nzTheme="outline"></i>
                                  </div>
                                  <div *ngIf="!complaint.file">
                                    <i nz-icon nzType="icons:icons-radiobutton-unchecked" class="btn-unchecked"
                                      nzTheme="outline"></i>
                                  </div>
                                </div>
                            </div>
                            <div nz-row nzType="flex" style="align-items: stretch;">
                              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                  class="header-table-div padding-left-5">
                                  <span>{{ 'HEALTH.COMPLAINTS_TAB.LIST.COMPLAINT_STATUS' | translate }}</span>
                              </div>
                              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="body-table header-table-div">
                                <nz-tag class="tab-status cursor-cont" [nzColor]="(configStatusComplaint | filterStatusConfig: complaint.status.toString()).color">
                                  <label>{{ 'VOLUNTEERING.COMPLAINS.STATUS.' + complaint.status.toString().toUpperCase() | translate }}</label>
                                </nz-tag>
                              </div>
                          </div>
                          </div>
                        </div>
                    </div>
        
                    </nz-card>
                  </div>
                  <div nz-col [nzXs]="24" [nzMd]="24" style="text-align: center; padding-top: 20px;">
                    <nz-pagination [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzShowSizeChanger]="false"
                      [nzTotal]="total" nzShowSizeChanger (nzPageIndexChange)="paginationSearch()"
                      (nzPageSizeChange)="paginationSearch(true)"></nz-pagination>
                  </div>
                </div>
        </div>
        <div nz-col [nzSm]="2" [nzXs]="1"></div>
    </div>
</nz-spin>

<ng-template #emptyTd><td></td></ng-template>