<div nz-row>

  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
    <h2 class="title-top-page">
      {{'ACCOMMODATION.CHANGE_REQUESTS.IBAN_CHANGE_REQUEST' | translate}}
    </h2>
    <div nz-row>
      <div nz-col>
        <div class="form_information">
          <form nz-form [formGroup]="applicationChangeIbanForm">

            <nz-form-item>
              <nz-form-label nzRequired nzFor="allow_direct_debit">
                <b>{{ 'ACCOMMODATION.CHANGE_REQUESTS.ALLOW_DIRECT_DEBIT' | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <nz-radio-group formControlName="allow_direct_debit" [nzSize]="'small'" [ngClass]="{'disabled-input': consult?true:false}"
                (ngModelChange)="changeValue($event)">
                  <label nz-radio [nzValue]=true>{{ 'MISC.YES' | translate
                    }}</label>
                  <label nz-radio [nzValue]=false>{{ 'MISC.NO' | translate
                    }}</label>
                </nz-radio-group>
              </nz-form-control>
              <nz-form-explain class="error" *ngIf="submitted && f.allow_direct_debit.errors">
                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
              </nz-form-explain>
            </nz-form-item>
            <div nz-row *ngIf="applicationChangeIbanForm.get('allow_direct_debit').value">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="iban">
                    <b> IBAN</b>
                  </nz-form-label>
                  <nz-form-control>
                    <input mask="AA00 0000 0000 0000 0000 0000 0" class="primary-input" formControlName="iban" nz-input
                      id="iban" [ngClass]="{'disabled-input': consult?true:false}" />
                  </nz-form-control>
                  <nz-form-explain class="error" *ngIf="submitted && f.iban.errors">
                    {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                  </nz-form-explain>
                </nz-form-item>
              </div>
            </div>
            <nz-form-item *ngIf="applicationChangeIbanForm.get('allow_direct_debit').value">
              <nz-form-label nzFor="file_id" nzRequired>
                <b>{{ "CONTRACT_ACTIONS.ATTACHMENT" | translate
                  }}</b>
              </nz-form-label>
              <div class="desc-title-form" *ngIf="!consult">
                {{ 'ACCOMMODATION.CHANGE_REQUESTS.FILE_IBAN_MESSAGE' | translate }}
              </div>
              <nz-form-control>
                <app-file-upload *ngIf="!consult" formControlName="file_id" [filterTypes]="filterTypes" (fileDeleted)="f.file_id.setValue(null)">
                </app-file-upload>
                <div class="font-upload">
                  {{ 'MISC.FORMAT_UPLOAD_MORE' | translate }} pdf, png, jpg. {{ 'MISC.LIMIT_MAX_FILE' | translate }}
                </div>
              </nz-form-control>
              <div *ngIf="consult && file">
                <div *ngIf="file?.type == 'IMAGE'">
                  <a target="_blank" [href]="file?.url">
                    <img [src]="file?.url" width="100px">
                  </a>
                </div>
                <div *ngIf="file?.type != 'IMAGE'">
                  <a target="_blank" [href]="file?.url">
                    <img src="/assets/imgs/doc.PNG" width="100px">
                  </a>
                </div>
              </div>
              <div *ngIf="consult && !file">
                -
              </div>
              <nz-form-explain class="error" *ngIf="submitted && f.file_id.errors">
                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
              </nz-form-explain>
            </nz-form-item>

            <div nz-row class="submit">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <app-button (click)="close()" style="margin-right: 15px;"
                  [translate]="!consult?'MISC.CANCEL':'MISC.RETURN'" [type]="'secundary'"></app-button>
                <app-button *ngIf="!consult" [loading]="isLoading" (click)="onSubmit()" [translate]="'MISC.SUBMIT'">
                </app-button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>