<nz-layout class="wrapper">
  <fi-sas-layout-header></fi-sas-layout-header>
  <nz-layout>
    <nz-sider *ngIf="isSiderActive" [nzWidth]="250" [nzCollapsedWidth]="0" [nzCollapsed]="isSiderCollapsed"
              class="sider">
      <fi-sas-layout-sider></fi-sas-layout-sider>
    </nz-sider>
    <nz-layout>
        <fi-sas-layout-breadcrumb *ngIf="isBreadcrumbVisible"></fi-sas-layout-breadcrumb>
        <div class="wrapper__center" [ngClass]="{'wrapper__center--breadcrumbed': isBreadcrumbVisible,'wrapper__center--unbreadcrumbed':!isBreadcrumbVisible}">
          <nz-content class="wrapper__center__content"
                      [class.wrapper__center__content--background]="contentWrapperActive">
            <!-- The real content goes here -->
            <router-outlet></router-outlet>
          </nz-content>
        </div>
        <nz-footer>
          <fi-sas-layout-footer></fi-sas-layout-footer>
        </nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
