@import "theme";

.sider {
  background: white;
}

nz-layout {
  background: var(--background-color);
}

.wrapper {
  min-height: 100vh;
  height: 100%;


  &__center {
    overflow: hidden;
    padding: 24px;
    overflow-y: scroll;

    &--breadcrumbed {
      min-height: calc(~"100vh - 226px ");
    }

    &--unbreadcrumbed {
      min-height: calc(~"100vh - 126px ");
    }

    &__content {
      width: 100%;

      &--background {
        background:#fff;
      }
    }
  }
}

:host::ng-deep {
  .ant-layout-footer {
    padding:0px !important;
  }
}