<form nz-form [formGroup]="form" *ngIf="this.form">
  <p class="title-step-form">{{ 'U_BIKE.APPLICATIONS.STEP_FOUR.TERMS_OF_USE' | translate }}</p>
  <nz-form-item>
    <nz-form-control>
      <div class="switch">
        <div class="switch__label">
          <b> {{ 'U_BIKE.APPLICATIONS.STEP_FOUR.FORM_ELEMENTS.APPLICANT_CONSENT.LABEL' | translate }}</b>
        </div>

        <div>
          <nz-switch formControlName="applicant_consent"> </nz-switch>
        </div>

        <nz-form-explain class="error" *ngIf="hasErrors('applicant_consent')">
          {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
        </nz-form-explain>
        <div class="switch__link">
          <a target="_blank" class="content__readmore" (click)="getTerms()">{{
            'U_BIKE.APPLICATIONS.STEP_FOUR.FORM_ELEMENTS.APPLICANT_CONSENT.LINK_TEXT' | translate
          }}</a>
        </div>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>

<nz-modal [nzVisible]="modalTermsInfo" (nzOnCancel)="modalTermsInfo = false" [nzFooter]="null">
  <div nz-row nzType="flex" nzJustify="center" style="padding-bottom:20px;">
      <div nz-col class="success-model--title title-top-page">{{'EVENTS.ALERTS.TERMS_TITLE'|translate}} </div>
  </div>
  <div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="regulations">
    <nz-spin [nzSpinning]="loadingTerms">
      <div nz-col [nzSpan]="24" class="regulations-body">
        <div *ngFor="let item of terms?.terms_conditions">
          <div *ngIf="item.language_id === getCurrentLanguage()" [innerHTML]="item.text"></div>
        </div>
      </div>
    </nz-spin>
  </div>
</nz-modal>
