<div class="container">
    <div nz-row>
        <div nz-col style="margin-left: 16px;" [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
            <div nz-row>
                <nz-form-label>Serviço</nz-form-label>
                <nz-form-control>
                    <nz-select class="primary-select" nzShowSearch [(ngModel)]="extraFilters.service_id" nzAllowClear
                        style="width: 100%;">
                        <nz-option *ngFor="let service of services"
                            [nzLabel]="(service?.translations | translation)?.name" [nzValue]="service.id">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </div>
        </div>

        <div nz-col style="margin-left: 16px;" [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
            <div nz-row>
                <nz-form-label>Filas</nz-form-label>
                <nz-form-control>
                    <nz-select class="primary-select" nzShowSearch [(ngModel)]="extraFilters.subject_id" nzAllowClear
                        style="width: 100%;">
                        <nz-option *ngFor="let subject of subjects"
                            [nzLabel]="(subject?.translations | translation)?.name" [nzValue]="subject.id">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </div>
        </div>

        <div nz-col style="margin-left: 16px;" [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
            <div nz-row>
                <nz-form-label>Operador</nz-form-label>
                <nz-form-control>
                    <nz-select class="primary-select" nzShowSearch [(ngModel)]="extraFilters.operator_id" nzAllowClear
                        style="width: 100%;">
                        <nz-option *ngFor="let operator of operators" [nzLabel]="operator?.user?.name"
                            [nzValue]="operator.user_id">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </div>
        </div>
        <div nz-col style="margin-left: 16px;" [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
            <div nz-row>
                <nz-form-label>Balcão</nz-form-label>
                <nz-form-control>
                    <nz-select class="primary-select" nzShowSearch style="width: 100%;" [(ngModel)]="extraFilters.desk_id" nzAllowClear>
                        <nz-option *ngFor="let desk of desks" [nzLabel]="desk.name" [nzValue]="desk.id">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </div>
        </div>

    </div>
    <div nz-row>
        <div nz-col style="margin-left: 16px;" [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
            <div nz-row>
                <nz-form-label>Data</nz-form-label>
                <nz-form-control>
                    <nz-range-picker [(ngModel)]="filter_date" [nzPlaceHolder]="[ 'Data inicial','Data final']">
                    </nz-range-picker>
                </nz-form-control>
            </div>
        </div>
        <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
            <button nz-button nzType="primary" class="btn" (click)="updateFilters()">Filtrar</button>
        </div>
        <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
            style="text-align: left;">
            <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
        </div>
    </div>
</div>
<div class="space"></div>

<div class="container">
    <div class="content-table">
        <nz-table class="table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
            (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
            [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
            (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
            <thead (nzSortChange)="sort($event)" nzSingleSort>
                <tr class="table__header">
                    <th></th>
                    <th nzShowSort nzSortKey="ticket_code">
                        Nº Senha
                    </th>
                    <th>
                        Tipo
                    </th>
                    <th>
                        Fila
                    </th>
                    <th>
                        Serviço
                    </th>
                    <th nzShowSort nzSortKey="origin">
                        Origem
                    </th>
                    <th>
                        Atendido Por
                    </th>
                    <th>
                        Utente
                    </th>
                    <th>
                        Estado
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-data [ngForOf]="refTable.data">
                    <tr>
                        <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
                        <td>
                            {{data?.ticket_code}}
                        </td>
                        <td>
                            {{data?.type == 'S' ? 'Senha' : 'Marcação'}}
                        </td>
                        <td>
                            {{(data?.subject?.translations | translation).name}}
                        </td>
                        <td>
                            {{(data?.subject?.service?.translations | translation).name}}
                        </td>
                        <td>
                            {{data?.origin}}
                        </td>
                        <td>
                            {{data?.attended_by_id?.name}}
                        </td>
                        <td>
                            {{data?.user?.name}}
                        </td>
                        <td>
                            <label>{{data?.status == "ATENDIDO" ? 'Atendido' : data?.status == "CANCELADO" ? 'Cancelado'
                                :
                                data?.status == "NAO_COMPARECEU" ? 'Não compareceu' : data?.status == "TRANSFERIDO" ?
                                'Transferido' : ''}}</label>
                        </td>
                    </tr>
                    <tr [nzExpand]="mapOfExpandData[data.id]">
                        <td [attr.colspan]="9">
                            <fi-queue-view-history [data]="data"></fi-queue-view-history>
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </nz-table>
    </div>
</div>