<form nz-form [formGroup]="withdrawalForm">
  <div nz-row>
    <div nz-row>
      <div nz-col>
        <nz-form-item>
          <nz-form-label nzRequired nzFor="end_date">
            <span class="content__title">
              Data de fim
            </span>
          </nz-form-label>
          <nz-form-control [nzErrorTip]="error_end_date">
            <nz-date-picker class="primary-datePicker" formControlName="end_date">
            </nz-date-picker>
            <ng-template #error_end_date let-control>
              <ng-container class="error" *ngIf="f?.end_date.dirty && f?.end_date.errors">
                Campo obrigatório
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <nz-form-item>
        <nz-form-label nzFor="file_id">Anexo</nz-form-label>
        <nz-form-control>
          <fi-sas-upload-file formControlName="file_id" name="file_id"></fi-sas-upload-file>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="reason">
          <span class="content__title">
            Justificação
          </span>
        </nz-form-label>
        <nz-form-control [nzErrorTip]="error_reason">
          <textarea  rows="1" nz-input formControlName="reason" id="reason"></textarea>
          <ng-template #error_reason let-control>
            <ng-container class="error" *ngIf="f.reason.dirty && f.reason.errors">
              Campo obrigatório
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
