@import 'theme';


@media screen and (max-width: 800px) {
  .hidden-xs {
    display: none !important;
  }

  .margin-top-20 {
    margin-top:20px;
  }

  .hidden-md {
    display:block !important;
  }

  .box-table {
    background-color: white;
    padding-left:20px;
    padding-right: 20px;
  }
  .margin-bottom-15 {
    margin-bottom:15px;
  }

  .font-label-mobile {
    color: black;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.font-attendance {
  color: rgb(27, 169, 116) !important;
  font-weight: 600;
}

.font-abesense {
  color: red !important;
  font-weight: 600;
}

#pagination-social-support ::ng-deep .ant-pagination-options {
  display: block !important;
  padding-top:10px;
  margin-left:10px !important;
}

#pagination-social-support ::ng-deep .ant-pagination.mini .ant-pagination-options {
  margin-left:2px;
}

@media screen and (max-width: 600px) {
  .hidden-xs {
    display: none !important;
  }

  .margin-top-20 {
    margin-top:20px;
  }

  .hidden-md {
    display:block !important;
  }
  .box-table {
    background-color: white;
    padding-left:20px;
    padding-right: 20px;
  }
  .margin-bottom-15 {
    margin-bottom:15px;
  }

  .font-label-mobile {
    color: black;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.padding-5 {
  padding: 5px;
}

.text-file {
  text-decoration: underline;
}

.icon-down {
  color: var(--primary-color);
}

.hidden-md {
  display:none;
}

.attendances-table {
  &--header {
    th {
      background-color: #ffffff;
      border: 0;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      line-height: 1.5;
    }
  }
  &--row {
    td {
      border: 0;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.11px;
      line-height: 1.33;
      color: black;
    }
  }

  &--hour-box {
    background-color: var(--primary-color);
    border-radius: 2px;
    color: #ffffff;
    font-weight: bold;
    height: 25px;
    margin: auto;
    text-align: center;
    width: 50px;

    span {
      vertical-align: -webkit-baseline-middle;
    }
  }

  &--period {
    white-space: pre-wrap;
  }

  &--validation {
    display: flex;
    justify-content: center;

    span {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-left: 5px;
      max-width: 250px;
    }
  }
}

.center {
  text-align: center;
}

.row-color1 {
  background-color: #fbfbfb;
}

.row-color2 {
  background-color: #ffffff;
}

:host::ng-deep.close-icon {
  svg {
    height: 22px !important;
    width: 22px !important;

    path {
      fill: #d0021b !important;
    }
  }
}

:host::ng-deep.unchecked-icon {
  svg {
    height: 22px !important;
    width: 22px !important;

    path {
      fill: #aaaaaa !important;
    }
  }
}

:host::ng-deep.checked-icon {
  svg {
    height: 22px !important;
    width: 22px !important;
  }
}

:host::ng-deep.paid-icon {
  svg {
    height: 22px !important;
    width: 22px !important;
  }
}

:host::ng-deep.anticon-left {
  fill: red;
}
