<div class="content-card attendances-table hidden-xs">
  <nz-table #attendancesData [nzFrontPagination]="false" [nzData]="attendances" [nzLoading]="loadingAttendances"
    [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="paginationSearch()"
    (nzPageSizeChange)="paginationSearch(true)" [nzScroll]="{ x: '500px' }">
    <thead>
      <tr class="attendances-table--header">
        <th>{{ 'SOCIAL_SUPPORT.ATTENDANCES.HOURS' | translate }}</th>
        <th>{{ 'SOCIAL_SUPPORT.ATTENDANCES.SUBMISSION_DATE' | translate }}</th>
        <th>{{ 'SOCIAL_SUPPORT.ATTENDANCES.JUSTIFICATION_PERIOD' | translate }}</th>
        <th>{{ 'SOCIAL_SUPPORT.ATTENDANCES.JUSTIFICATION' | translate }}</th>
        <th class="text-center">{{ 'SOCIAL_SUPPORT.ATTENDANCES.FILE_JUSTIFIED' | translate }}</th>
        <th class="text-center">{{ 'SOCIAL_SUPPORT.ATTENDANCES.ACCEPTED' | translate }}</th>
        <th>{{'SOCIAL_SUPPORT.ATTENDANCES.TABS.ATTENDANCES_ABSENCE.TYPE' | translate}}</th>
        <th></th>
        <!--<th></th>-->
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let row of attendancesTable; let i = index" class="attendances-table--row"
        [ngClass]="{ 'row-color1': i % 2 === 0, 'row-color2': i % 2 !== 0 }">
        <!-- SOCIAL_SUPPORT.ATTENDANCES.HOURS -->
        <td>
          <div *ngIf="row.hours" class="attendances-table--hour-box">
            <span>{{ row.hours | HourConvert }}</span>
          </div>
        </td>

        <!-- SOCIAL_SUPPORT.ATTENDANCES.SUBMISSION_DATE -->
        <td>{{ row.submissionDate | date: 'dd-MM-yyyy' }}</td>

        <!-- SOCIAL_SUPPORT.ATTENDANCES.JUSTIFICATION_PERIOD -->
        <td>
          <div *ngFor="let period of row.justificationPeriod" class="attendances-table--period">{{ period }}</div>
        </td>

        <!-- SOCIAL_SUPPORT.ATTENDANCES.JUSTIFICATION -->
        <td>{{ row.justification }}</td>

        <!-- SOCIAL_SUPPORT.ATTENDANCES.ATTACHMENTS -->
        <td class="text-center">
          <span *ngIf="row?.attachments.elemetClasses == 'checked-icon'">
            <a [href]="row.attachments.url" target="_blank" class="text-file">
              <i nz-icon nzType="arrow-down" nzTheme="outline" class="icon-down"></i> {{ 'SOCIAL_SUPPORT.ATTENDANCES.TRANSFER' | translate }}
            </a>
          </span>

          <span *ngIf="row?.attachments.elemetClasses != 'checked-icon'">
            {{ 'SOCIAL_SUPPORT.ATTENDANCES.NO_FILE_JUSTIFIED' | translate }}
          </span>
        </td>

        <!-- SOCIAL_SUPPORT.ATTENDANCES.ACCEPTED -->
        <td class="text-center">
          <div *ngIf="row.accepted" class="attendances-table--validation">
            <ng-container *ngTemplateOutlet="
                row?.accepted?.reason ? acceptedIconTooltipTemplate : acceptedIconTemplate;
                context: { row: row }
              "></ng-container>
          </div>
        </td>
        <td *ngIf="row.attendance.was_present" class="font-attendance">
          {{'SOCIAL_SUPPORT.ATTENDANCES.TABS.ATTENDANCES_ABSENCE.TITLE_ATTENDANCE' | translate}}
        </td>
        <td *ngIf="!row.attendance.was_present" class="font-abesense">
          {{'SOCIAL_SUPPORT.ATTENDANCES.TABS.ATTENDANCES_ABSENCE.TITLE_ABESENCE' | translate}}
        </td>
        <!-- Justification Button -->
        <td class="text-center">
          <app-button *ngIf="row.showJustifyButton" (click)="justify(row.attendance)"
            translate="SOCIAL_SUPPORT.ATTENDANCES.JUSTIFY" type="secundary"></app-button>
        </td>
        <!--<td>
          <nz-dropdown *ngIf="row?.status=='PENDING'" [nzTrigger]="'hover'" [nzPlacement]="'bottomRight'">
            <a nz-dropdown><i nz-icon style="font-size:22px"
                    nzType="icons:icons-more-options" nzTheme="outline"></i></a>
            <ul nz-menu>
                <li
                    nz-menu-item
                    (click)="openDetailEdit(row)">
                    {{ "MISC.EDIT"| translate }}</li>
            </ul>
        </nz-dropdown>
        </td>-->
      </tr>
    </tbody>
  </nz-table>
</div>

<div class="hidden-md box-table">
  <div class="margin-top-20">
    <div *ngFor="let item of attendancesTable; let idx = index">
      <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label
          class="font-label-mobile">{{'SOCIAL_SUPPORT.ATTENDANCES.HOURS' | translate}}:</label>
        <span [ngClass]="{'attendances-table--hour-box':item.hours }" class="padding-5">{{item.hours ? (item.hours |
          HourConvert) : ''}}</span>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label
          class="font-label-mobile">{{'SOCIAL_SUPPORT.ATTENDANCES.SUBMISSION_DATE' | translate}}:</label>
        {{ item.submissionDate | date: 'dd-MM-yyyy'}}
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label
          class="font-label-mobile">{{'SOCIAL_SUPPORT.ATTENDANCES.JUSTIFICATION_PERIOD' | translate}}:</label>
        <span *ngFor="let period of item.justificationPeriod">
          {{ period }}
        </span>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label
          class="font-label-mobile">{{'SOCIAL_SUPPORT.ATTENDANCES.JUSTIFICATION' | translate}}:</label>
        {{ item.justification}}
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label class="font-label-mobile">{{ 'SOCIAL_SUPPORT.ATTENDANCES.FILE_JUSTIFIED' | translate }}</label>
        <span *ngIf="item?.attachments.elemetClasses == 'checked-icon'">
          <a [href]="item.attachments.url" target="_blank" class="text-file">
            <i nz-icon nzType="arrow-down" nzTheme="outline" class="icon-down"></i> {{ 'SOCIAL_SUPPORT.ATTENDANCES.TRANSFER' | translate }}
          </a>
        </span>
       
        <span *ngIf="item?.attachments.elemetClasses != 'checked-icon'">
          {{ 'SOCIAL_SUPPORT.ATTENDANCES.NO_FILE_JUSTIFIED' | translate }}
        </span>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label class="font-label-mobile">{{
          'SOCIAL_SUPPORT.ATTENDANCES.ACCEPTED' | translate }}</label>
        <span *ngIf="item.accepted">
          <ng-container *ngTemplateOutlet="
          item?.accepted?.reason ? acceptedIconTooltipTemplate : acceptedIconTemplate;
                context: { row: item }
              "></ng-container>
        </span>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15">
        <label class="font-label-mobile">{{'SOCIAL_SUPPORT.ATTENDANCES.TABS.ATTENDANCES_ABSENCE.TYPE' | translate}}</label>
        <span *ngIf="item.attendance.was_present" class="font-attendance">
            {{'SOCIAL_SUPPORT.ATTENDANCES.TABS.ATTENDANCES_ABSENCE.TITLE_ATTENDANCE' | translate}}
        </span>
        <span *ngIf="!item.attendance.was_present" class="font-abesense">
          {{'SOCIAL_SUPPORT.ATTENDANCES.TABS.ATTENDANCES_ABSENCE.TITLE_ABESENCE' | translate}}
          </span>
      </div>
      <!-- <div nz-col [nzXs]="24" [nzSm]="24" style="text-align: right;">
        <nz-dropdown *ngIf="item?.status=='PENDING'" [nzTrigger]="'hover'" [nzPlacement]="'bottomRight'">
          <a nz-dropdown><i nz-icon style="font-size:22px"
                  nzType="icons:icons-more-options" nzTheme="outline"></i></a>
          <ul nz-menu>
              <li
                  nz-menu-item
                  (click)="openDetailEdit(item)">
                  {{ "MISC.EDIT"| translate }}</li>
          </ul>
      </nz-dropdown>
      </div>-->
      <nz-divider></nz-divider>
    </div>
    <nz-empty *ngIf="attendancesTable.length==0"></nz-empty>
    <div *ngIf="attendancesTable.length>0" style="text-align: center; padding-bottom:15px">
      <nz-pagination id="pagination-social-support" [nzTotal]="total" [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize" nzShowSizeChanger (nzPageIndexChange)="paginationSearch()"
        (nzPageSizeChange)="paginationSearch(true)"></nz-pagination>
    </div>
  </div>
</div>
<ng-template let-row="row" #acceptedIconTooltipTemplate>
  <span nz-tooltip [nzTitle]="row.accepted.reason">
    <ng-container *ngTemplateOutlet="acceptedIconTemplate; context: { row: row }"></ng-container>
  </span>
</ng-template>

<ng-template let-row="row" #acceptedIconTemplate>
  <i nz-icon [ngClass]="row.accepted.elemetClasses" [nzType]="row.accepted.icon" nzTheme="outline"></i>
</ng-template>