<div nz-row>

  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
    <h2 class="title-top-page" *ngIf="type=='WITHDRAWAL'">
      {{'ACCOMMODATION.CHANGE_REQUESTS.WITHDRAWAL_REQUEST' | translate}}
    </h2>
    <h2 class="title-top-page" *ngIf="type=='EXTENSION'">
      {{'ACCOMMODATION.CHANGE_REQUESTS.EXTENSION_REQUEST' | translate}}
    </h2>
    <h2 class="title-top-page" *ngIf="type=='ABSENCE'">
      {{'ACCOMMODATION.CHANGE_REQUESTS.ABSENCE_REQUEST' | translate}}
    </h2>
    <div nz-row>
      <div nz-col>
        <div class="form_information">
          <form nz-form [formGroup]="applicationChangeForm">
            <div nz-row>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12"
                *ngIf="type=='ABSENCE'">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="start_date">
                    <b> {{'ACCOMMODATION.CHANGE_REQUESTS.INITIAL_DATE' | translate}}</b>
                  </nz-form-label>
                  <nz-form-control>
                    <nz-date-picker formControlName="start_date" class="primary-datePicker"
                      [ngClass]="{ 'error': submitted && f.start_date.errors,'disabled-input': consult?true:false }"
                      [nzDisabledDate]="disabledDate">
                    </nz-date-picker>
                  </nz-form-control>
                  <nz-form-explain class="error" *ngIf="submitted && f.start_date.errors">
                    {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                  </nz-form-explain>
                </nz-form-item>
              </div>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="end_date">
                    <b> {{'ACCOMMODATION.CHANGE_REQUESTS.FINAL_DATE' | translate}}</b>
                  </nz-form-label>
                  <nz-form-control>
                    <nz-date-picker formControlName="end_date" class="primary-datePicker"
                      [nzDisabledDate]="disabledDate"
                      [ngClass]="{ 'error': submitted && f.end_date.errors, 'disabled-input': consult?true:false }">
                    </nz-date-picker>
                  </nz-form-control>
                  <nz-form-explain class="error" *ngIf="submitted && f.end_date.errors">
                    {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                  </nz-form-explain>
                </nz-form-item>
              </div>
            </div>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="reason">
                <b>{{ "CONTRACT_ACTIONS.JUSTIFICATION" | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <textarea class="primary-textarea" nz-input rows="5" formControlName="reason"
                  [ngClass]="{ 'error__input': submitted && f.reason.errors, 'disabled-input': consult?true:false }"
                  placeholder="{{ 'CONTRACT_ACTIONS.JUSTIFICATION_PLACE' | translate }}"></textarea>
              </nz-form-control>
              <nz-form-explain class="error" *ngIf="submitted && f.reason.errors?.required">
                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
              </nz-form-explain>
              <nz-form-explain class="error" *ngIf="submitted && f.reason.errors?.maxlength">
                {{ 'FORM_INPUTS.VALIDATIONS.MAX_LENGTH' | translate }} {{f.reason.errors.maxlength.requiredLength}}
              </nz-form-explain>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzFor="file_id">
                <b>{{ "CONTRACT_ACTIONS.ATTACHMENT" | translate
                  }}</b>
              </nz-form-label>
              <div class="desc-title-form" *ngIf="!consult">
                {{ 'U_BIKE.FORMS.FILES.DESCRIPTION' | translate }}
              </div>
              <nz-form-control *ngIf="!consult">
                <app-file-upload formControlName="file_id" [filterTypes]="filterTypes" (fileDeleted)="f.file_id.setValue(null)">
                </app-file-upload>
                <div class="font-upload">
                  {{ 'MISC.FORMAT_UPLOAD_MORE' | translate }} pdf, png, jpg. {{ 'MISC.LIMIT_MAX_FILE' | translate }}
                </div>
              </nz-form-control>
              <div *ngIf="consult && file">
                <div *ngIf="file?.type == 'IMAGE'">
                  <a target="_blank" [href]="file?.url">
                    <img [src]="file?.url" width="100px">
                  </a>
                </div>
                <div *ngIf="file?.type != 'IMAGE'">
                  <a target="_blank" [href]="file?.url">
                    <img src="/assets/imgs/doc.PNG" width="100px">
                  </a>
                </div>
              </div>
              <div *ngIf="consult && !file">
                -
              </div>
            </nz-form-item>


            <div nz-row class="submit">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <app-button (click)="close()" style="margin-right: 15px;"
                  [translate]="!consult?'MISC.CANCEL':'MISC.RETURN'" [type]="'secundary'">
                </app-button>
                <app-button *ngIf="!consult" [loading]="isLoading" (click)="onSubmit()" [translate]="'MISC.SUBMIT'">
                </app-button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
