@import "theme";

.blur {
  opacity: 50%;
}

.card {
    &__title {
      font-weight: bold;
      font-size: 17px;
      color: var(--primary-7);
      @media screen and (max-width:600px){
        font-size: 15px;
      }
    }
    &__section {
      color: #000000;
      margin-bottom: 0.5cm;
      border-radius: 5px;
      padding-left: 20px;
      padding-right: 20px;
    }
}

:host::ng-deep {

    nz-empty {
      width: 100%;
      height: 100%;
    }

    .list-residence {
      &__body {
        margin-top: 20px;
        //padding-top: 24px;

        @media screen and (max-width: 576px) {
          padding: 16px;
        }
      }

      &__list {
        margin-top: 15px;
        &__item {
          padding-bottom: 24px;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }

          nz-card {
            border-radius: 8px;
            width: 100% !important;
            border: 1px solid var(--primary-1);
            &:hover {
              border-color: var(--primary-color);
              background-color: var(--primary-1);
            }
            nz-carousel {
              border-radius: 8px 8px 0px 0px;

              [nz-carousel-content] {
                //padding: 18px;
                text-align: center;
                height: 130px;
                line-height: 130px;
                background: #293449;
                color: #fff;
                overflow: hidden;
              }
            }
          }
          

          &__info {
            margin-top: 0px;
            margin-bottom: 8px;
            font-size: small;
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.8;
            letter-spacing: normal;
            color: unset;
          }
          

          &__name {
            margin: 0px;
            margin-bottom: 16px;
            font-size: calc(100% + 2px);
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.23;
            letter-spacing: normal;
            color: unset;
          }

          &__price {
            margin: 0px;
            margin-bottom: 10px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.6;
            letter-spacing: normal;
            font-size: 13px;
          }
        }
      }
    }
}

.btw-see-more {
  border: solid 0.4px black;
  color: black;
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}

.btw-see-more:hover {
  color: white !important;
  border: solid 0.4px var(--primary-6);
  background-color: var(--primary-6);
}

#icon-dashboard::ng-deep svg {
  path {
      fill: var(--primary-color);
  }
}

.icon {
  font-size: 40px;
  padding-right: 10px;
  @media screen and (max-width:600px){
    font-size: 27px;
  }
}

.carousel-img {
  height: 250px !important;
}

@media screen and (max-width:600px) {
  .card{
    &__section {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

#icon-accomo::ng-deep svg {
  path {
      fill: white;
  }
}

.carousel-wrapper {
  position: relative;

  .arrow {
    position: absolute;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    margin-top: -20px;
    font-size: 30px;
    font-weight: bold;
    &.icon-left {
      left: 0;
    }
    &.icon-right {
      right: 0;
    }
  }
}