<nz-card class="card__section" [ngClass]="{'blur': !listProperties.active}"
  *ngIf="custumizeToggle || listProperties.data.length">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16" [nzLg]="16" [nzXl]="14" [nzXXl]="14">
      <div nz-row>
        <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="4" [nzLg]="3" [nzXl]="2" [nzXXl]="2">
          <i nz-icon class="icon" type="icons:icons-accomodation" id="icon-dashboard"></i>
        </div>
        <div nz-col [nzXs]="21" [nzSm]="21" [nzMd]="20" [nzLg]="21" [nzXl]="22" [nzXXl]="22" style="padding-top:7px">
          <span class="card__title">{{translations?.length>1 ? ((translations | languageChange)?.name) :
            ('DASHBOARD.WIDGETS.ACCOMMODATION.TITLE' | translate)}}</span>
        </div>
      </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="10" [nzXXl]="10">

      <button nz-button nzType="default" class="btw-see-more" [routerLink]="['/privateaccommodation', 'list-host']">
        {{ "DASHBOARD.WIDGETS.SEE-MORE.TITLE" | translate }}
      </button>
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="space-around" class="list-residence__list" [nzGutter]="24">
    <div nz-col class="list-residence__list__item" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="8" [nzXXl]="6"
      *ngFor="let propertie of listProperties.data">
      <nz-card nzHoverable [routerLink]="['/privateaccommodation', 'list-detail', propertie.id]" [nzBodyStyle]="{
                  'margin-top': '-22px',
                  padding: '16px',
                  height: '170px'
                }" [nzCover]="coverTemplate">
        <p class="list-residence__list__item__info" style="padding-top: 20px;">
          {{ "DASHBOARD.WIDGETS.ACCOMMODATION.RENT" | translate }}
        </p>
        <p class="list-residence__list__item__name">
          {{propertie?.usable_space == "SHARED_ROOM" ? ("DASHBOARD.WIDGETS.ACCOMMODATION.ROOM" | translate) :
          ("DASHBOARD.WIDGETS.ACCOMMODATION.HOUSING" | translate)}} -
          {{
            ((propertie?.translations | languageChange)?.name)
            }}
        </p>
        <p class="list-residence__list__item__info">
          {{propertie?.address}}, nº{{propertie?.address_no}}, {{propertie?.city}}
        </p>
        <p *ngIf="propertie?.usable_space == 'SHARED_ROOM'" class="list-residence__list__item__price">
          {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.PRICEROOM" | translate }}: {{
          propertie?.rooms[0].price | number:'1.2-2' }}{{ 'PRIVATEACCOMMODATION.MONTH_EUR' | translate }}
        </p>
        <p *ngIf="propertie?.usable_space != 'SHARED_ROOM'" class="list-residence__list__item__price">
          {{ propertie.price | number:'1.2-2' }}{{ 'PRIVATEACCOMMODATION.MONTH_EUR' | translate }}
        </p>
      </nz-card>
      <ng-template #coverTemplate>
        <div class="carousel-wrapper">
          <nz-carousel nzEffect="scrollx" #myCarousel>
            <div nz-carousel-content class="carousel-img" *ngFor="let media of propertie?.medias">
              <img alt="House" [src]="media?.file?.url" />
            </div>
            <div *ngIf="!propertie?.medias || propertie?.medias?.length === 0" nz-carousel-content class="carousel-img">
              <img alt="Unavailable Image" src="/assets/imgs/unavailable-image.jpg" />
            </div>
          </nz-carousel>
          <div *ngIf="propertie.medias.length > 1" class="arrow icon-left" (click)="arrowClick($event,'pre', myCarousel)"><i
              nz-icon nzType="left" id="icon-accomo" nzTheme="outline"></i>
          </div>
          <div *ngIf="propertie.medias.length > 1" class="arrow icon-right" (click)="arrowClick($event,'next', myCarousel)">
            <i nz-icon nzType="right" id="icon-accomo" nzTheme="outline"></i></div>
        </div>
      </ng-template>
    </div>
  </div>

</nz-card>
