<div class="food-detail" *ngIf="product">
  <div nz-row class="food-detail__information">
    <div nz-col nzSpan="20" class="food-detail__margin"></div>
    <div nz-col nzSpan="4"></div>
    <div nz-col nzSpan="12">
      <!-- detail -->
      <fi-product-basic-detail>
        <img
          *ngIf="product?.file?.url"
          [src]="product?.file?.url"
          class="basic-detail__image"
          alt="{{
            product?.dish_type_translation?.length
              ? (product?.dish_type_translation)[0]?.name
              : ''
          }}"
        />
        <p class="basic-detail__type">
          {{
            (product?.dish_type_translation?.length
              ? (product?.dish_type_translation)[0]?.name
              : ""
            ) | uppercase
          }}
        </p>
        <h2 class="basic-detail__title">
          <p>
            {{
              (product?.translations?.length
                ? (product?.translations)[0]?.name
                : ""
              ) | lowercase
            }}
          </p>
        </h2>
      </fi-product-basic-detail>

      <!-- more detail -->
      <fi-product-more-detail>
        <!-- nutrients -->
        <div class="more-detail__nutrition" *ngIf="product?.nutrients?.length">
          <h4>{{ "REFECTORY.MEAL.DETAIL.NUTRIENTS" | translate }}</h4>
          <table>
            <tbody>
              <tr *ngFor="let item of product.nutrients">
                <td>
                  {{
                    item?.nutrient?.translations?.length
                      ? (item?.nutrient?.translations)[0]?.name
                      : ""
                  }}
                  <ng-container>
                    ({{ "REFECTORY.MEAL.DETAIL.DDR_ACRONYM" | translate }}:
                    {{ item?.nutrient?.ddr }}
                    {{ item?.nutrient?.unit?.acronym }})
                  </ng-container>
                </td>
                <td>
                  {{ item?.quantity | number: "1.2-4" }}
                  {{ item?.nutrient?.unit?.acronym }}
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>
                  * {{ "REFECTORY.MEAL.DETAIL.DDR_ACRONYM" | translate }} ({{
                    "REFECTORY.MEAL.DETAIL.DDR_TEXT" | translate
                  }})
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- composition -->
        <div
          class="more-detail__ingredients"
          *ngIf="product?.composition?.length"
        >
          <h4>{{ "REFECTORY.MEAL.DETAIL.COMPOSITION" | translate }}</h4>
          <p>
            <ng-container
              *ngFor="let item of product.composition; last as last"
            >
              {{ item.trim() }}<ng-container *ngIf="!last">, </ng-container
              ><ng-container *ngIf="last">. </ng-container>
            </ng-container>
          </p>
        </div>

        <!-- allergens -->
        <div
          class="more-detail__allergens"
          *ngIf="product?.allergens?.length || !product.show_allergens"
        >
          <h4>{{ "REFECTORY.MEAL.DETAIL.ALLERGENS" | translate }}</h4>
          <p style="white-space: break-spaces" *ngIf="!product.show_allergens">
            {{ "REFECTORY.MEAL.DETAIL.ALLERGEN_MESSAGE" | translate }}
          </p>
          <p *ngIf="product.show_allergens">
            <ng-container *ngFor="let item of product.allergens; last as last">
              {{
                item?.translations?.length
                  ? (item?.translations[0]?.name).trim()
                  : ""
              }}<ng-container *ngIf="!last">, </ng-container
              ><ng-container *ngIf="last">. </ng-container>
            </ng-container>
          </p>
        </div>
      </fi-product-more-detail>
    </div>

    <div nz-col nzSpan="4"></div>
    <div nz-col nzSpan="20" class="food-detail__margin"></div>
    <div nz-col nzSpan="20" class="food-detail__margin"></div>
  </div>

  <!-- add to cart -->
  <div
    [ngClass]="{
      'food-detail__shop--with-cart': cartQuantity,
      'food-detail__shop--without-cart': !cartQuantity
    }"
    class="food-detail__shop"
  >
    <div nz-row>
      <div nz-col nzSpan="4"></div>
      <div nz-col nzSpan="12">
        <fi-shop-big
          [isUserLogged]="isUserLogged"
          loading="{{ loading }}"
          quantProd="{{ stock }}"
          quantity="{{ cartQuantity }}"
          price="{{ product.price | number: '1.2-2':'pt-PT' }}"
          type="{{ product.meal }}"
          (OnQtChange)="handlerQtChange($event)"
        ></fi-shop-big>
      </div>
      <div nz-col nzSpan="4"></div>
    </div>
  </div>
</div>
