@import 'default-theme.less';

:host::ng-deep {

  width: 100%;

  .food-detail {

    position: relative;

    &__information {
      height: 1602px;
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__shop {
      position: absolute;
      width: 100%;
      margin: 40px 0 0 0;
      bottom: 0;
      left: 0;

      &--with-cart {
        margin-bottom: 140px;
      }

      &--without-cart {
        margin-bottom: 140px;
      }
    }

    &__margin {
      height: 233px;
    }
  }

}
