<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step-form">{{ attendance.user.name }}</p>
  </div>
</div>
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step-form">{{ "HEALTH.ATTENDANCES_DETAIL.FORM.TITLE_CHECKLIST" | translate }}</p>
  </div>
</div>
<form [formGroup]="checklistForm" nzLayout="vertical">
  <ng-container formArrayName="answers">
    <div nz-row nzGutter="24">
      <div nz-col nzSpan="12">
        <nz-form-label>{{ "HEALTH.ATTENDANCES_DETAIL.FORM.QUESTION" | translate }}</nz-form-label>
      </div>
      <div nz-col="" nzSpan="10" style="padding-left: 10px">
        <nz-form-label nzRequired>{{ "HEALTH.ATTENDANCES_DETAIL.FORM.ANSWER" | translate }}</nz-form-label>
      </div>
    </div>
    <div *ngFor="let check of answers.controls; let i = index;">
      <div nz-row nzGutter="24">
        <ng-container [formGroupName]="i">
          <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-control>
                  <input [attr.disabled]="true" nz-input formControlName="question" id="question" name="question">
                </nz-form-control>
              </nz-form-item>
          </div>
          <div nz-col="" nzSpan="10" style="padding-left: 10px">
            <nz-form-item>
              <nz-form-control *ngIf="check.controls.answer_type.value ==='text'">
                 <input nz-input formControlName="answer" id="answer" name="answer" >
              </nz-form-control>
              <nz-form-control *ngIf="check.controls.answer_type.value ==='number'">
                <nz-input-number class="black-text" formControlName="answer" id="answer"></nz-input-number>
              </nz-form-control>
              <nz-form-control *ngIf="check.controls.answer_type.value ==='date'">
                <nz-date-picker formControlName="answer" id="answer" ></nz-date-picker>
              </nz-form-control>
              <nz-form-control *ngIf="check.controls.answer_type.value ==='boolean'">
                <nz-radio-group formControlName="answer" [nzSize]="'small'">
                  <label nz-radio [nzValue]=true>{{ 'MISC.YES' | translate
                    }}</label>
                  <label nz-radio [nzValue]=false>{{ 'MISC.NO' | translate
                    }}</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </ng-container>
      </div>
    </div>
</ng-container>
  <div nz-row class="padding-top-30">
    <div nz-col [nzXs]="24" [nzMd]="24">
      <nz-form-item>
        <nz-form-label nzFor="notes">
          <b>{{ "HEALTH.ATTENDANCES_DETAIL.FORM.NOTES" | translate }}</b>
        </nz-form-label>
        <nz-form-control>
          <textarea class="primary-textarea" nz-input rows="5" formControlName="notes" maxlength="255"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row class="padding-top-30">
    <div nz-col [nzXs]="24" [nzMd]="24">
      <nz-form-item>
        <nz-form-label nzFor="file_ids">
          <b>{{ "HEALTH.ATTENDANCES_DETAIL.FORM.ATTACHEMNTS" | translate }}</b>
        </nz-form-label>
        <nz-form-control>
          <app-file-upload [listType]="'picture-card'" [filterTypes]="filterFileTypes" [multiUploads]="true"
            [filesList]="file_ids" [multiUploads]="true" (fileAdded)="onFileAdded($event)"
            (fileDeleted)="onFileDeleted($event)"
            [buttonName]="'HEALTH.ATTENDANCES_DETAIL.FORM.BUTTON_ATTACHEMNTS'">
          </app-file-upload>
          <div>
            {{ 'MISC.FORMAT_UPLOAD_MORE' | translate }} pdf, png, jpg. {{ 'MISC.LIMIT_MAX_FILE' | translate }}
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>