<div nz-row nzType="flex" nzJustify="center" nzAlign="middle" class="change_password">
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12" style="padding-top: 25px;">
    <h2 class="title-top-page">{{ 'CHANGE_PASSWORD.DESCRIPTION' | translate }} *</h2>


    <div class="change_password__form" nz-row>
      <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="4" [nzXl]="4" [nzXXl]="4"></div>
      <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="16" [nzXl]="16" [nzXXl]="16">
        <form nz-form [formGroup]="changePasswordForm" class="firstLogin-form">
          <nz-form-item style="margin-top: 24px;"
            [ngClass]="{'error': (changePasswordForm.get('actual_password').dirty && changePasswordForm.get('actual_password').errors) }">
            <nz-form-label nzRequired nzFor="actual_password">
              <b> {{ 'CHANGE_PASSWORD.ACTUAL_PASSWORD' | translate }}</b>
            </nz-form-label>
            <nz-form-extra class="form__tip">{{ 'CHANGE_PASSWORD.INSERT_ACTUAL_PASSWORD' | translate }}</nz-form-extra>
            <nz-form-control>
              <nz-input-group [nzSuffix]="suffixActualPasswordTemplate">
                <input [type]="actualPasswordVisible ? 'text' : 'password'" nz-input formControlName="actual_password"
                  [placeholder]="'CHANGE_PASSWORD.INSERT_ACTUAL_PASSWORD' | translate" />
              </nz-input-group>
              <ng-template #suffixActualPasswordTemplate>
                <i nz-icon [nzType]="actualPasswordVisible ? 'icons:icons-show' : 'icons:icons-dontshow'"
                  (click)="actualPasswordVisible = !actualPasswordVisible"></i>
              </ng-template>
              <nz-form-explain *ngIf="changePasswordForm.get('actual_password').errors">
                <i nz-icon type="icons:icons-info"></i>
                {{getInputError('actual_password') | translate: { value: 'CHANGE_PASSWORD.INSERT_ACTUAL_PASSWORD' |
                translate} }}
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item style="margin-top: 24px;"
            [ngClass]="{'error': (changePasswordForm.get('new_password').dirty && changePasswordForm.get('new_password').errors) }">
            <nz-form-label nzRequired nzFor="new_password">
              <b> {{ 'CHANGE_PASSWORD.NEW_PASSWORD' | translate }}</b>
            </nz-form-label>
            <nz-form-extra class="form__tip">{{ 'CHANGE_PASSWORD.INSERT_NEW_PASSWORD' | translate }}</nz-form-extra>
            <nz-form-control>
              <nz-input-group [nzSuffix]="suffixNewPasswordTemplate">
                <input [type]="newPasswordVisible ? 'text' : 'password'" nz-input formControlName="new_password"
                  [placeholder]="'CHANGE_PASSWORD.INSERT_NEW_PASSWORD' | translate" />
              </nz-input-group>
              <ng-template #suffixNewPasswordTemplate>
                <i nz-icon [nzType]="newPasswordVisible ? 'icons:icons-show' : 'icons:icons-dontshow'"
                  (click)="newPasswordVisible = !newPasswordVisible"></i>
              </ng-template>
              <nz-form-explain *ngIf="changePasswordForm.get('new_password').errors">
                <i nz-icon type="icons:icons-info"></i>
                {{getInputError('new_password') | translate: { value: 'CHANGE_PASSWORD.INSERT_NEW_PASSWORD' | translate}
                }}
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item style="margin-top: 24px;"
            [ngClass]="{'error': (changePasswordForm.get('repeat_password').dirty && changePasswordForm.get('repeat_password').errors) }">
            <nz-form-label nzRequired nzFor="repeat_password">
              <b> {{ 'CHANGE_PASSWORD.REPEAT_NEW_PASSWORD' | translate }}</b>
            </nz-form-label>
            <nz-form-extra class="form__tip">{{ 'CHANGE_PASSWORD.REPEAT_NEW_PASSWORD' | translate }}</nz-form-extra>
            <nz-form-control>
              <nz-input-group [nzSuffix]="suffixRepeatTemplate">
                <input [type]="repearPasswordVisible ? 'text' : 'password'" nz-input formControlName="repeat_password"
                  [placeholder]="'CHANGE_PASSWORD.REPEAT_NEW_PASSWORD' | translate" />
              </nz-input-group>
              <ng-template #suffixRepeatTemplate>
                <i nz-icon [nzType]="repearPasswordVisible ? 'icons:icons-show' : 'icons:icons-dontshow'"
                  (click)="repearPasswordVisible = !repearPasswordVisible"></i>
              </ng-template>
              <nz-form-explain *ngIf="changePasswordForm.get('repeat_password').errors || changePasswordForm.errors">
                <i nz-icon type="icons:icons-info"></i>
                {{getMatchError() | translate: { value: 'CHANGE_PASSWORD.REPEAT_NEW_PASSWORD' | translate} }}
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </form>
        <div class="text-validation">
          <label>* {{ 'FORM.MESSAGE.PASSWORD_PATTERN' | translate }}</label>
        </div>
        <nz-form-item class="change_password__button">
          <nz-form-control>
            <app-button [buttonStyle]="{
              'width': '100%',
              'font-size': '17px',
              'line-height': '24px',
              'margin-bottom': '0px'
            }" [translate]="'MISC.CHANGE'" [ngClass]="{'disabled': disableButtonChangePassword}" type="floating"
              [loading]="loading" (click)="submit(changePasswordForm.value, changePasswordForm.valid)">
            </app-button>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="change_password__cancel">
          <nz-form-control>
            <div nz-col [nzSpan]="24" class="disable_account__form__info">
              <a [routerLink]="['/', 'profile']">{{ 'DISABLE_ACCOUNT.RETURN' | translate }}</a>
            </div>
          </nz-form-control>
        </nz-form-item>

      </div>
      <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="4" [nzXl]="4" [nzXXl]="4"></div>

    </div>

  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>
</div>