.title-modal {
  padding-bottom: 10px;
  padding-top: 20px;
  text-align: center;
}

.desc-modal {
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
}

.text-center {
  text-align: center;
}

.desc-modal2 {
  font-size: 19px;
  text-align: center;
}

.title-modal-space {
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}

.button-cancel {
  border-radius: 50px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: bold;
  margin-top: 5px;
}

.button-confirm {
  background-color: var(--primary-color);
  border-radius: 50px;
  border: 2px solid var(--primary-color);
  color: white;
  font-weight: bold;
  margin-top: 5px;
}

.space-desc {
  padding-bottom: 30px;
  padding-top: 30px;
}
