<div nz-row class="title-modal title-top-page">
  {{
    translations?.length > 1 ? (translations | languageChange)?.name : ('DASHBOARD.BUTTON.VOLUNTEERING' | translate)
  }}
</div>

<div nz-row class="desc-modal">
  {{ 'VOLUNTEERING.INTEREST.MODAL.DESCRIPTION' | translate }}
</div>

<div nz-row class="text-center">
  <img src="assets/imgs/Success.PNG" width="100" />
</div>

<div nz-row class="desc-modal2">
  {{ 'VOLUNTEERING.INTEREST.MODAL.INTEREST_COLAB' | translate }}
</div>

<div nz-row class="title-modal-space">
  {{ (experience?.translations | languageChange)?.title }}
</div>

<div nz-row class="text-center">
  <div nz-col nzXs="24" [nzSm]="{ span: 10, offset: 2 }" [nzLg]="{ span: 9, offset: 3 }">
    <button nz-button type="button" class="button-cancel" (click)="close()">
      {{ 'MISC.CANCEL' | translate }}
    </button>
  </div>

  <div nz-col nzXs="24" nzSm="10" nzLg="9">
    <button nz-button type="button" class="button-confirm" (click)="confirmInterest()" [nzLoading]="isLoading">
      {{ 'MISC.CONFIRM' | translate }}
    </button>
  </div>
</div>

<div nz-row class="desc-modal space-desc">
  {{ 'SOCIAL_SUPPORT.EXPERIENCES.INTEREST_MODAL.FEED' | translate }}
</div>
