<div nzType="flex" nzAlign="middle" nzJustify="center" perfectScrollbar class="page ps">
    <div nz-row class="page__body">
        <form nz-form [formGroup]="formInformationtextGroup" nzLayout="horizontal">
            <nz-form-item>
                <nz-form-label nzFor="formName" nzRequired>Selecione um formulário</nz-form-label>
                <nz-form-control>
                    <nz-select nzShowSearch class="width-select" (ngModelChange)="loadInfo($event)"
                        formControlName="formName">
                        <nz-option *ngFor="let option of dataText" [nzLabel]="option.name" [nzValue]="option.key">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
                <nz-form-explain class="color-required"
                    *ngIf="submitted && !formInformationtextGroup.get('formName').value">
                    Campo obrigatório
                </nz-form-explain>
            </nz-form-item>
            <nz-spin [nzSpinning]="loading">
                <nz-form-item *ngIf="formInformationtextGroup.get('formName').value">
                    <nz-form-label nzFor="name" nzRequired>Nome</nz-form-label>
                    <nz-form-control>
                        <input nz-input readonly formControlName="name" id="name" name="name" placeholder="Nome">
                    </nz-form-control>
                    <nz-form-explain class="color-required"
                        *ngIf="submitted && !formInformationtextGroup.get('name').value">
                        Campo obrigatório
                    </nz-form-explain>
                </nz-form-item>
                <nz-form-item *ngIf="formInformationtextGroup.get('formName').value">
                    <nz-form-label nzFor="visible" nzRequired>Visível</nz-form-label>
                    <nz-form-control>
                        <nz-switch formControlName="visible" id="visible" (ngModelChange)="changeValue($event)"></nz-switch>
                    </nz-form-control>
                </nz-form-item>
                <div *ngIf="formInformationtextGroup.get('formName').value">
                    <ng-container formArrayName="translations">
                        <nz-tabset #translationTabs>
                            <nz-tab *ngFor="let translation of translations.controls; let i = index;"
                                [nzTitle]="getLanguageName(translation.value.language_id)">
                                <div [formGroupName]="i">
                                    <angular-editor formControlName="info" id="editor1" [config]="editorConfig">
                                    </angular-editor>
                                    <nz-form-explain class="color-required"
                                        *ngIf="submitted && formInformationtextGroup.get('translations.' + i + '.info')?.errors">
                                        Campo obrigatório
                                    </nz-form-explain>
                                </div>
                                
                            </nz-tab>
                        </nz-tabset>

                    </ng-container>
                </div>
            </nz-spin>
        </form>
    </div>
</div>


<div nz-row class="space-button">
    <button nz-button (click)="edit()" [nzType]="'primary'" style="margin-top:15px;">Editar</button>
</div>