.page{
    padding: 24px;
    height: 100%;
    background-color: var(--background-color);
    &__title{
      font-size: 30px;
    }
    &__body{
      padding: 24px;
      background-color: white;
      &__title{
        padding: 10px 0px;
      }
    }
}

.languages {
    width: 200px;
}

.color-required{
  color:red;
}

.width-select{
  width: 50%;
}

@media screen and (max-width:600px) {
  .width-select{
    width: 100%;
  }
}

:host::ng-deep {
  .angular-editor-textarea{
    height: 15rem !important;
  }
}

.space-button {
  text-align: right;
  background-color: #f0f2f5;
  padding-right: 20px;
}