<div class="container">
  <div nz-row>
     <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
      <div nz-row>
        <nz-form-label>Nome</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input [(ngModel)]="filters.name">
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
      <div nz-row>
        <nz-form-label>Estado</nz-form-label>
        <nz-form-control>
          <nz-select class="primary-select" nzAllowClear [(ngModel)]="filters.active" nzShowSearch
            style="width: 100%;">
            <nz-option *ngFor="let state of status" [nzLabel]="state.description" [nzValue]="state.value">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>

    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>

    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
      <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter" style="text-align: left;" style="text-align: left;">
      <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
    </div>
  </div>
</div>

<div class="container">
  <div class="hidden-xs">
    <nz-table class="content-table" #refTable [nzScroll]="{ x: '240px' }" [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)"
      [nzLoading]="loading" [nzFrontPagination]="false" [nzShowSizeChanger]="true" [nzTotal]="totalData"
      [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex" (nzPageIndexChange)="pagination()"
      (nzPageSizeChange)="pagination(true)">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr class="table__header">
          <th nzShowSort nzSortKey="created_at">Data de criação</th>
          <th nzShowSort nzSortKey="name">Nome</th>
          <th nzShowSort nzSortKey="description">Descrição</th>
          <th nzShowSort nzSortKey="active">Ativo</th>
          <th nzRight="0px">Ações</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="refTable.data">
          <tr>
            <td>{{data?.created_at | date: 'dd/MM/yyyy'}}</td>
            <td>{{data?.name}}</td>
            <td>{{data?.description}}</td>
            <td>
              <fi-sas-tag [value]="data?.active"></fi-sas-tag>
            </td>
            <td nzRight="0px"><button nz-button nz-dropdown nzType="link" [nzDropdownMenu]="menu" nzPlacement="bottomRight"><i nz-icon
                  nzType="dash" nzTheme="outline" class="font-icon-dash"></i></button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li [nzDisabled]="!('infrastructure:categories:update' | hasPermission)" nz-menu-item (click)="edit(data)">Editar</li>
                  <li [nzDisabled]="!('infrastructure:categories:update' | hasPermission)" *ngIf="data?.active == true" (click)="desactive(data)" nz-menu-item>
                    Desativar</li>
                  <li [nzDisabled]="!('infrastructure:categories:update' | hasPermission)" *ngIf="data?.active == false" (click)="active(data)" nz-menu-item>Ativar
                  </li>
                </ul>
              </nz-dropdown-menu>
            </td>
          </tr>


        </ng-template>
      </tbody>
    </nz-table>
  </div>
  <div class="hidden-md">
    <div *ngFor="let item of data; let idx = index">
      <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label class="font-label-mobile">Data de
          criação:</label> {{item?.created_at | date: 'dd/MM/yyyy'}}</div>
      <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
          class="font-label-mobile">Nome:</label>{{item?.name}}</div>
      <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
          class="font-label-mobile">Descrição:</label>{{item?.description}}</div>
      <div *ngIf="item?.active == true" nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
          class="font-label-mobile">Estado:</label>
        <i nz-icon nzType="icons:icons-radiobutton-checked" id="icon-active-list-categories-infra"
          nzTheme="outline"></i> Ativo
      </div>
      <div *ngIf="item?.active == false" nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
          class="font-label-mobile">Estado:</label>
        <img src="./assets/images/icons-radiobutton-unchecked@2x.png" width="15px"> Inativo
      </div>

      <div style="padding-right: 10px;" class="text-right margin-bottom-15">
        <button nz-button nz-dropdown nzType="link" [nzDropdownMenu]="menu" nzPlacement="bottomRight"><i nz-icon
            nzType="dash" nzTheme="outline" class="font-icon-dash"></i></button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li [nzDisabled]="!('infrastructure:categories:update' | hasPermission)" nz-menu-item (click)="edit(item)">Editar</li>
            <li [nzDisabled]="!('infrastructure:categories:update' | hasPermission)" *ngIf="item?.active == true" (click)="desactive(item)" nz-menu-item>Desativar</li>
            <li [nzDisabled]="!('infrastructure:categories:update' | hasPermission)" *ngIf="item?.active == false" (click)="active(item)" nz-menu-item>Ativar</li>
          </ul>
        </nz-dropdown-menu>
      </div>
      <nz-divider></nz-divider>

    </div>
    <div style="text-align: center; padding-bottom:15px">
      <nz-pagination id="pagination-list-categories-infra" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
        [(nzPageIndex)]="pageIndex" (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)"
        nzShowSizeChanger></nz-pagination>
    </div>

  </div>
</div>
