.container {
    background: white;
    margin-top: 20px;
    padding: 24px 30px 24px 30px;
    margin-bottom: 5px;
    &__title {
        font-size: 16px;
        line-height: 22px;
        margin: 0px;
        font-weight: bold;
        margin-bottom:10px;
        color:black;
    }
    &__subtitle{
      margin-bottom:5px;
    }
  }

.padding-bottom-5{
    padding-bottom: 5px;
}

.color-required{
    color:red;
}

.padding-right-20{
    padding-right:20px;
}

.padding-top-30{
    padding-top:30px;
}

.space{
    background-color: #F2F2F2;
    padding-top:20px;
    padding-bottom: 20px;
}

.button-submit{
  margin-top: 15px;
  text-align: center;
}

.button-back{
    margin-left: 40px;
    float: left;
    margin-bottom:10px;
}


.hidden-md {
    display:none;
}

.content-table {
    margin: 8px;
    
    .table {
        &__header {
            th {
                background: white;
                color: var(--primary-6);
                font-weight: 700;
            }

            & > th:first-child {
                border-top-left-radius: 2px !important;
            }
            
            & > th:last-child {
                border-top-right-radius: 2px !important;
            }
        }
        
        tr {

            /*td {
                color: var(--text-color);
            }*/

            background: white !important;
        }
    }

    .options_button {
        color: var(--text-color);
        font-size: 22px;
    }
}

.container-table {
    background: white;
    padding: 24px 5px 0px 5px;
    margin-bottom: 24px;
    margin-top:20px;
}


#pagination-list-categories-infra ::ng-deep .ant-pagination-options {
    display: block !important;
    padding-top:10px;
    margin-left:10px !important;
}

#pagination-list-categories-infra ::ng-deep .ant-pagination.mini .ant-pagination-options {
    margin-left:2px;
}

.font-icon-dash{
    font-size:22px;
    color: var(--text-color);
}

#icon-active-list-categories-infra::ng-deep svg {
    g path {
        fill: var(--primary-color);
    }
}

.text-right{
    text-align: right;
}

.padding-top-5{
    padding-top:5px;
}

@media screen and (max-width:800px) {
    .hidden-xs {
        display: none;
    }

    .hidden-md {
        display:block;
    }

    .font-label-mobile{
      color: black;
      font-weight: bold;
      padding: 10px;
    }

    .font-icon-dash{
      font-size:26px;
      color: var(--primary-color);
    }

    .margin-bottom-15{
      margin-bottom:15px;
    }

}

@media screen and (max-width:600px) {
    .padding-right-20{
        padding-right:0px;
    }

    .hidden-xs {
        display: none;
    }

    .hidden-md {
        display:block;
    }

    .font-label-mobile{
      color: black;
      font-weight: bold;
      padding: 10px;
    }

    .font-icon-dash{
      font-size:26px;
      color: var(--primary-color);
    }

    .margin-bottom-15{
      margin-bottom:15px;
    }
}

.padding-10{
  padding: 15px 10px;
}

.btn-filter{
  text-align: center;
  .btn-delete{
    cursor: pointer;
    font-size: 18px;
    margin-top: 45px;
  }
  .btn{
    margin-bottom: 4px;
    margin-top: 42px;
  }
}
