<div nz-row>
  <div nz-col nzSpan="6">
    <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
      <div nz-col>
        <i style="font-size: 62px;" nz-icon [type]="state.icon"></i>
      </div>
    </div>
  </div>
  <div nz-col nzSpan="18">
    <p>
      Deseja alterar o estado {{ isMultiple ? 'de ' + totalSelected + ' candidaturas' : ''}} para
      <b>{{ state.text }}?</b>
    </p>
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzFor="notes">Notas</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <textarea  nz-input [(ngModel)]="notes" name="notes" type="notes" id="notes"> </textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item
      *ngIf="(application.status === ApplicationStatus.ANALYSED || application.status === ApplicationStatus.QUEUED || application.status === ApplicationStatus.OPPOSITION) && state.event === 'PENDING'">
      <span *ngIf="application.status === ApplicationStatus.OPPOSITION">
        <nz-form-label [nzSpan]="24" nzFor="opposition_answer">Resposta oposição</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <textarea  nz-input nzAutosize="true" [(ngModel)]="opposition_answer"></textarea>
          <nz-form-explain *ngIf="opposition_answer === ''">Responda a reclamação.</nz-form-explain>
        </nz-form-control>
      </span>
      <b>Residência selecionada:</b> {{ residenceSelect ? residenceSelect : '-' }}

      <nz-form-label [nzSpan]="24" nzFor="residence_id" style="margin-top: 15px;">Residência</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <nz-select style="width: 100%;" (ngModelChange)="residenceChanged($event);room_id = null; getRoom($event)"
          [(ngModel)]="residence_id" [nzLoading]="residencesLoad" name="residence_id" type="notes" id="residence_id"
          nzAllowClear>
          <nz-option *ngFor="let residence of residences" [nzLabel]="residence.name" [nzValue]="residence.id"
            [nzDisabled]="!residence.active">
          </nz-option>
        </nz-select>
        <nz-form-explain *ngIf="residence_id !== null">Vagas: {{ residenceOccupation.maximumCapacity}} /
          {{ residenceOccupation.totalOccupied}} - Vagas disponiveis {{ residenceOccupation.totalAvailable }}
        </nz-form-explain>
        <nz-form-explain *ngIf="residence_id === null">Selecione uma residência.</nz-form-explain>
      </nz-form-control>
      <nz-form-label [nzSpan]="24" nzFor="room_id">Quarto</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <nz-select nzShowSearch style="width: 100%;" [(ngModel)]="room_id" [nzLoading]="roomsLoad" name="room_id"
          id="room_id" nzAllowClear>
          <nz-option *ngFor="let room of rooms"
            [nzLabel]="room.name+' | Tipologia: '+room.typology.translations[0].name+ ' | Vagas: '+(room.typology.max_occupants_number - room.occupants.length)+'/'+room.typology.max_occupants_number"
            [nzValue]="room.id" [nzDisabled]="!room.active"></nz-option>
        </nz-select>
      </nz-form-control>
      <nz-form-label [nzSpan]="24" nzFor="decision">Decisão</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <nz-select style="width: 100%;" [(ngModel)]="decision" [nzLoading]="decisionLoad" name="decision" id="decision"
          nzAllowClear>
          <nz-option *ngFor="let decision of ApplicationDecisionList" [nzLabel]="decision.label"
            [nzValue]="decision.value"
            [nzDisabled]="decision.value === ApplicationDecision.enqueue && application.status === ApplicationStatus.QUEUED">
          </nz-option>
        </nz-select>
        <nz-form-explain *ngIf="decision === null">Selecione uma decisão.</nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="application.status === ApplicationStatus.CONFIRMED">
      <nz-form-label [nzSpan]="24">Residência</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <b>{{ application.assignedResidence.name }}</b>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item
      *ngIf="application.status === ApplicationStatus.CONFIRMED || (application.status === ApplicationStatus.CLOSED &&  state.event === 'CONTRACT')">
      <nz-form-label [nzSpan]="24" nzFor="room_id">Quarto</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <nz-select nzShowSearch style="width: 100%;" [(ngModel)]="room_id" [nzLoading]="roomsLoad" name="room_id"
          id="room_id" nzAllowClear>
          <nz-option *ngFor="let room of rooms"
            [nzLabel]="room.name+' | Tipologia: '+room.typology.translations[0].name+ ' | Vagas: '+(room.typology.max_occupants_number - room.occupants.length)+'/'+room.typology.max_occupants_number"
            [nzValue]="room.id" [nzDisabled]="!room.active"></nz-option>
        </nz-select>
        <nz-form-explain *ngIf="room_id === null">Selecione um quarto.</nz-form-explain>
      </nz-form-control>

      <nz-form-label [nzSpan]="24" nzFor="room_id">Tarifário</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <nz-select nzShowSearch style="width: 100%;" [(ngModel)]="tariff_id" [nzLoading]="tariffLoad" name="tariff_id"
          id="tariff_id" nzAllowClear>
          <nz-option *ngFor="let t of tariffs" [nzLabel]="t.name" [nzValue]="t.id" [nzDisabled]="!t.active">
          </nz-option>
        </nz-select>
        <nz-form-explain *ngIf="tariff_id === null">Selecione um tarifário.</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
