<form nz-form [formGroup]="pastCollaborationsForm">
  <div nz-row >
    <div nz-col>
      <nz-form-item>
        <nz-form-control>
            <nz-form-label nzRequired nzFor="has_collaborated_last_year" class="primary-input-label">{{
              'SOCIAL_SUPPORT.APPLICATIONS.FORM_PAST_COLABORATIONS.SUBTITLE' | translate
            }}</nz-form-label>
              <nz-radio-group formControlName="has_collaborated_last_year" [nzSize]="'small'">
                <label nz-radio [nzValue]=true>{{ 'MISC.YES' | translate
                  }}</label>
                <label nz-radio [nzValue]=false>{{ 'MISC.NO' | translate
                  }}</label>
              </nz-radio-group>
          <nz-form-explain class="error" *ngIf="pastCollaborationsForm.get('has_collaborated_last_year')?.dirty && pastCollaborationsForm.get('has_collaborated_last_year').errors">
            {{ getInputError('has_collaborated_last_year') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
      <nz-form-item>
        <nz-form-label nzFor="previous_activity_description" class="primary-input-label">
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_PAST_COLABORATIONS.ACTIVITY'|translate}}
        </nz-form-label>

        <nz-form-control>
          <input nz-input maxlength="255" class="primary-input"
            placeholder=" {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_PAST_COLABORATIONS.ACTIVITY_PLACEHOLDER'|translate}}"
            formControlName="previous_activity_description" id="previous_activity_description" />


          <nz-form-explain class="error" *ngIf="
            pastCollaborationsForm.get('previous_activity_description')?.dirty
            && pastCollaborationsForm.get('previous_activity_description').errors
          ">
            {{ getInputError('previous_activity_description') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
