<div class="content--padding white">
  <nz-spin [nzSpinning]="isLoading">
    <form nz-form [formGroup]="formCreate">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="name">Nome</nz-form-label>
        <nz-form-control nzErrorTip="Campo obrigatório">
          <input nz-input formControlName="name" id="name" name="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="gender">Género</nz-form-label>
        <nz-form-control nzErrorTip="Campo obrigatório">
          <nz-radio-group formControlName="gender">
            <label *ngFor="let gender of genders" nz-radio nzValue="{{ gender.value}}"><span>
                {{ gender.label }}</span>
            </label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-row>
        <div nz-col nzXs="24" nzMd="11">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="email">Email</nz-form-label>
            <nz-form-control nzErrorTip="Campo inválido">
              <input nz-input formControlName="email" id="email" name="email" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="0" nzMd="2"></div>
        <div nz-col nzXs="24" nzMd="11">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="phone">Contacto</nz-form-label>
            <nz-form-control nzErrorTip="Campo obrigatório">
              <input nz-input formControlName="phone" id="phone" name="phone" mask="000000000"/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzXs="24" nzMd="11">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="nif">NIF</nz-form-label>
            <nz-form-control nzErrorTip="Campo inválido">
              <input nz-input mask="000000000" formControlName="nif" id="nif" name="nif" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="address">Morada</nz-form-label>
        <nz-form-control nzErrorTip="Campo obrigatório">
          <input nz-input formControlName="address" id="address" name="address" />
        </nz-form-control>
      </nz-form-item>

      <div nz-row>
        <div nz-col nzXs="24" nzMd="11">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="postal_code">Código Postal</nz-form-label>
            <nz-form-control nzErrorTip="Campo inválido">
              <input nz-input formControlName="postal_code" id="postal_code" name="postal_code"
                [dropSpecialCharacters]="false" mask="0000-000" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="0" nzMd="2">
        </div>
        <div nz-col nzXs="24" nzMd="11">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="city">Cidade</nz-form-label>
            <nz-form-control nzErrorTip="Campo obrigatório">
              <nz-select nzMode="default" nzShowSearch formControlName="city">
                <nz-option *ngFor="let city of cities" [nzLabel]="city.city" [nzValue]="city.city">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzXs="24" nzMd="11">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="country">País</nz-form-label>
            <nz-form-control nzErrorTip="Campo obrigatório">
              <nz-select nzMode="default" nzShowSearch formControlName="country" id=country>
                <nz-option *ngFor="let country of countries" [nzLabel]="country.value" [nzValue]="country.translate">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <nz-form-item>
          <nz-form-label nzRequired nzFor="allow_historic">Permite Histórico</nz-form-label>
          <nz-form-control>
              <nz-switch formControlName="allow_historic">
              </nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
      <nz-form-item>
        <nz-form-label nzFor="attachments_ids">
          <span class="content__title">Anexos </span>
        </nz-form-label>
        <nz-form-control>
          <fi-sas-auto-upload-file [listType]="'picture-card'" [filesList]="file_ids"
            [multiUploads]="true" [buttonName]="'ANEXAR DOCUMENTOS'" (fileAdded)="onFileAdded($event)"
            (fileDeleted)="onFileDeleted($event)"></fi-sas-auto-upload-file>
        </nz-form-control>
      </nz-form-item>

    </form>
  </nz-spin>
</div>

<div class="space" nz-row>
  <button *ngIf="isEdit" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="isLoading" [disabled]="isLoading"
    (click)="submit()" class="button-submit"
    [nzType]="'primary'">{{isEdit ? 'Editar' : 'Criar'}}</button>
</div>