<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Post Detail"></Label>
    <NavigationButton android.systemIcon="ic_menu_back" text="Back to ActionBar" (tap)="goBack()"></NavigationButton>
</ActionBar>

<GridLayout class="page">

	<StackLayout orientation="vertical" class="post-detail" *ngIf="postDetail">
		<Label class="action-bar-title" text="Id"></Label>
		<Label class="action-bar-title" text="{{ postDetail.id }}"></Label>

		<Label class="action-bar-title" text="Title"></Label>
		<Label class="action-bar-title" text="{{ postDetail.title }}"></Label>

		<Label class="action-bar-title" text="Body"></Label>
		<Label class="action-bar-title" text="{{ postDetail.body }}"></Label>
	</StackLayout>

</GridLayout>