@import "theme";

.container {
    background: white;
    padding: 24px 30px 24px 30px;
  
    &__title {
      font-size: 16px;
      line-height: 22px;
      margin: 0px;
      font-weight: bold;
      margin-bottom:30px;
      color:black;
    }
  &__subtitle{
      margin-bottom:5px;
  }
}

.space{
  background-color: #F2F2F2;
  padding-top:20px;
}


.check-circle{
  font-size: 18px;
  color: var(--primary-color);
}

.hidden-md {
  display:none;
}

.font-icon-dash{
  font-size:29px;
  color: var(--primary-color);
}

.text-right{
  text-align: right;
}

.space{
  background-color: #F2F2F2;
  padding-top:20px;
  padding-bottom: 20px;
  text-align: right
}

.style-button-apply{
  margin-right: 30px;
  margin-top: 20px;
}

.width-modal{
  width: 100%;
}

.pad-modal-edit{
  padding-top: 10px;
}

.padding-bottom-5{
  padding-bottom:5px;
}

.color-required{
  color: red;
}

#pagination-global-configuration-queue ::ng-deep .ant-pagination-options {
  display: block !important;
  padding-top:10px;
  margin-left:10px !important;
}

#pagination-global-configuration-queue ::ng-deep .ant-pagination.mini .ant-pagination-options {
  margin-left:2px;
}

.icon-active{
  font-size:20px;
}

#icon-active-global-configuration-queue::ng-deep svg {
  g path {
      fill: var(--primary-color);
  }
}

@media screen and (max-width:800px) {
  .hidden-xs {
      display: none;
  }

  .hidden-md {
      display:block;
  }

  .font-label-mobile{
    color: black;
    font-weight: bold;
  }

  .font-icon-dash{
    font-size:26px;
    color: var(--primary-color);
  }

  .margin-bottom-15{
    margin-bottom:15px;
  }

}

@media screen and (max-width:600px) {
  .hidden-xs {
      display: none;
  }

  .hidden-md {
      display:block;
  }

  .font-label-mobile{
    color: black;
    font-weight: bold;
  }

  .font-icon-dash{
    font-size:26px;
    color: var(--primary-color);
  }

  .margin-bottom-15{
    margin-bottom:15px;
  }

}