<div class="container">
    <p class="container__title">Relação entre Serviços, Filas e Balcões</p>
    <div nz-row>
        <form nz-form [formGroup]="formCreate">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
                <div nz-row class="padding-bottom-5">
                    <label class="container__subtitle">Serviço <span class="color-required">*</span></label>
                </div>
                <div nz-row>
                    <nz-form-control>
                        <nz-select class="primary-select" formControlName="service" nzShowSearch (ngModelChange)="getSubjects($event)"
                            [attr.disabled]="((servicesLoading ) ? true : null)">
                            <nz-option *ngFor="let service of services" [nzLabel]="(service?.translations | translation)?.name" [nzValue]="service.id">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
                <div nz-row class="padding-bottom-5">
                    <label class="container__subtitle">Fila / Assunto <span class="color-required">*</span></label>
                </div>
                <div nz-row>
                    <nz-form-control>
                        <nz-select class="primary-select" formControlName="subject" nzShowSearch (ngModelChange)="errorForm = ''">
                            <nz-option *ngFor="let subject of subjects" [nzLabel]="(subject?.translations | translation)?.name" [nzValue]="subject.id">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="6" [nzXl]="4" [nzXXl]="4">
                <div nz-row class="padding-bottom-5">
                    <label class="container__subtitle">Operador <span class="color-required">*</span></label>
                </div>
                <div nz-row>
                    <nz-form-control>
                        <nz-select class="primary-select" formControlName="operator" nzShowSearch (ngModelChange)="errorForm = ''"
                            [attr.disabled]="((operatorLoading ) ? true : null)">
                            <nz-option *ngFor="let operator of operators" [nzLabel]="operator?.user?.name"
                                [nzValue]="operator?.id">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="3" [nzXl]="2" [nzXXl]="2">
                <div nz-row class="padding-bottom-5">
                    <label class="container__subtitle">Balcão <span class="color-required">*</span></label>
                </div>
                <div nz-row>
                    <nz-form-control>
                        <nz-select class="primary-select" formControlName="desk" nzShowSearch (ngModelChange)="errorForm = ''"
                            [attr.disabled]="((deskLoading ) ? true : null)">
                            <nz-option *ngFor="let desk of desks" [nzLabel]="desk.name" [nzValue]="desk.id">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </div>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <nz-form-explain class="color-required" *ngIf="errorForm != ''">
                    {{errorForm}}
                </nz-form-explain>
            </div>
        </form>

    </div>
</div>

<div class="space">
    <button *ngIf="id != undefined" nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
    <button nz-button [nzLoading]="loading" [disabled]="loading || noContinue" (click)="id
    != undefined ? editDataSave() : save()" class="button-submit"
      [nzType]="'primary'">{{id
      != undefined ? 'Editar' : 'Criar'}}</button>
  </div>