:host ::ng-deep .create-services-card-separator{
  background-color: #f0f2f5;
  height: 15px;
}

.content {
  padding: 32px;
  background-color: white;
}

.dropdown-edit, .dropdown-edit:hover, .dropdown-edit:focus {
  color: black!important;
}

.space{
  background-color: #F2F2F2;
  padding-top:20px;
  padding-bottom: 20px;
  text-align: right
}

.btn{
  &__group{
    text-align: center;
  }
  &&__clear{
    float: right;
  }
}

.hr {
  border: 0;
  border-top: 1px solid #CCC;
}

.button-new-form{
  text-align: right;
  margin-top: 30px;

}

.font-icon-dash{
  font-size:26px;
  color: var(--primary-color);
}

.title{
  font-size: 16px;
  line-height: 22px;
  margin: 0px;
  font-weight: bold;
  margin-bottom:30px;
  color:black;
}

.button-new-form{
  text-align: right;
  margin-top: 30px;

}

.name-service {
  margin-bottom:15px;
  margin-top:15px;
}

.color-required{
  color: red;
}

.btn-space {
  margin-top:5px
}
