<div class="content">

  <form nz-form [formGroup]="createDeskForm" nzLayout="horizontal">

    <div nz-row>
      <nz-form-label nzRequired>Nome do Balcão</nz-form-label>
      <nz-form-item>
        <nz-form-control>
          <input nz-input formControlName="name" id="name" maxlength="2">
        </nz-form-control>
        <nz-form-explain class="color-required" *ngIf="submitted && f.name.errors">
          Campo obrigatório
        </nz-form-explain>
      </nz-form-item>
    </div>
  </form>

</div>
<div class="space">
  <button *ngIf="id != undefined" nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="validateLoading" [disabled]="validateLoading" (click)="submitForm()" class="button-submit"
    [nzType]="'primary'">{{id
    != undefined ? 'Editar' : 'Criar'}}</button>
</div>