<div class="buttons-panel">
  <div nz-row nzGutter="14" *ngIf="collaborationStillGoing; else closedCollaborationTemplate">
    <div class="buttons-panel--item" nz-col nzXs="24" nzSm="12" nzLg="6">
      <app-button [buttonStyle]="buttonStyle" type="primary" translate="SOCIAL_SUPPORT.ATTENDANCES.ATTENDANCE_REGISTRY"
        [disabled]="disableActiveCollaborationActions" (click)="recordAttendance()"></app-button>
    </div>

    <div class="buttons-panel--item" nz-col nzXs="24" nzSm="12" nzLg="6">
      <app-button [buttonStyle]="buttonStyle2" type="primary" translate="SOCIAL_SUPPORT.ATTENDANCES.ABSENCE_REGISTRY"
        [disabled]="disableActiveCollaborationActions" (click)="absence()"></app-button>
    </div>

    <div class="buttons-panel--item" nz-col nzXs="24" [nzSm]="{ span: 12, offset: 12 }" [nzLg]="{ span: 6, offset: 6 }">
      <app-button [buttonStyle]="buttonStyle" type="red" translate="SOCIAL_SUPPORT.ATTENDANCES.WITHDRAWAL"
        [disabled]="disableActiveCollaborationActions || disableWithdrawal" (click)="withdrawal()"></app-button>
    </div>
  </div>

  <ng-template #closedCollaborationTemplate>
    <div nz-row nzType="flex" nzAlign="middle" nzGutter="14">
      <div nz-col class="buttons-panel--item" nzXs="24" nzXl="8">
        <nz-alert nzType="success" nzDescription="Colaboração concluída" nzShowIcon></nz-alert>
      </div>

      <div nz-col class="buttons-panel--item" nzXs="24" nzLg="12" nzXl="8">
        <app-button [buttonStyle]="buttonStyle2" type="primary" [translate]="
            collaboration?.student_avaliation
              ? 'SOCIAL_SUPPORT.ATTENDANCES.ACCESS_EXPERIENCE_REPORT'
              : 'SOCIAL_SUPPORT.ATTENDANCES.EXPERIENCE_REPORT'
          " (click)="experimentReport()"></app-button>
      </div>

      <div nz-col class="buttons-panel--item" nzXs="24" nzLg="12" nzXl="8">
        <app-button [buttonStyle]="buttonStyle" [loading]="loadingCertificateButton" type="primary"
          translate="SOCIAL_SUPPORT.ATTENDANCES.CERTIFICATE"
          [disabled]="!(collaboration.certificate_file || collaboration.certificate_generated)"
          (click)="getCertificate()"></app-button>
      </div>
    </div>
  </ng-template>
</div>
