<!--Loading-->
<div nz-row nzType="flex" class="list-experience" [ngClass]="{ hidden: !isLoading }">
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="20" [nzXs]="22">
    <nz-spin [nzSpinning]="isLoading" class="list-experience--loading"></nz-spin>
  </div>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>

<!--Experiences List-->
<div *ngIf="!isLoading" nz-row nzType="flex" class="list-experience">
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="20" [nzXs]="22">
    <div nz-row nzType="flex" [nzGutter]="8">
      <div nz-col class="list-experience--item" nzSpan="24" *ngFor="let experience of experiences">
        <app-experience-card [experience]="experience" (experienceChanged)="getExperiences()"></app-experience-card>
      </div>
    </div>
  </div>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>

<!--Text-->
<div *ngIf="!isLoading" nz-row nzType="flex">
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="20" [nzXs]="22">
    <app-service-presentation-text [serviceId]="serviceId"></app-service-presentation-text>
  </div>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>
