:host::ng-deep {
  .list-experience {
    &--item {
      margin-bottom: 8px;
    }

    &--loading {
      background-color: white;
      border-radius: 8px;
      height: 160px;
      margin-bottom: 15px;
    }
  }

  .main-text {
    margin-bottom: 34px;
  }
}
