@import 'theme';

.top {
  padding-top: 25px;
}

.accommodation-application_form {
  padding: 25px;
}

::ng-deep.ant-modal-close {
  color: black;
}

.desc-title-form {
  margin-top: 0px!important;
}

.bottom {
  padding-bottom: 20px;
}

:host::ng-deep {
  .ant-steps-dot .ant-steps-item-content {
    width: 160px !important;
  }
}

.success-model {
  border-radius: 10px;

  &--content {
    margin-top: 10%;
  }

  &--title {
    font-family: Montserrat;
    letter-spacing: normal;
    line-height: 1.14;
    text-align: center !important;
    width: 100%;
  }

  &--subtitle {
    color: #222222;
    font-family: Montserrat;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.6;
    text-align: center;
  }

  &--icon {
    height: 120px;

    img {
      height: 100px;
      width: 100px;
    }
  }

  &--accept-text {
    color: #111111;
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 1.14;
    margin-bottom: 20px;
    text-align: center;
  }

  &--feedback {
    color: #222222;
    font-family: Montserrat;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.38;
    margin-bottom: 20px;
    text-align: center;
  }
}



.icon {
  font-size: 30px;
  cursor: pointer;
}

.with-info {
  width: 100%;
}

.without-info {
  width: 70%;
  float: left;
  padding-right: 10px;
  border-right: 2px solid #f0f2f5;
  @media screen and (max-width:600px) {
    width: 100%;
    border: none;
    padding-right: 0px;
  }
  @media screen and (max-width:800px) {
    width: 100%;
    border: none;
    padding-right: 0px;
  }
}

.info {
  width: 30%;
  padding-left: 20px;
  float: right;
  @media screen and (max-width:600px) {
    width: 100%;
    padding-left: 0px;
  }
  @media screen and (max-width:800px) {
    width: 100%;
    padding-left: 0px;
  }
}

#icon-info-text-form::ng-deep svg {
  g path {
      fill: var(--primary-color) !important;
  }
}


.margin-top-10 {
  margin-top: 10px;
}

.margin-top--10 {
  margin-top:-10px;
}

.divider-web {
  margin-top: 10px;
  width: 100%;
}

.button-space {
  text-align: center;
  margin-bottom: 25px;
}

.steps-minimal-size_sub-title{
  margin: 0px !important;
}

.steps-minimal-size_title{
  font-size: 20px;
  margin-bottom: 1px !important;
  font-weight: 500;
}


.error {
  color: red;
  margin-top:5px;

  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}



.step_divider_title {
  font-weight: bold;
  color: black;
}

#form_application_accommodation_dates.ng-invalid.error ::ng-deep .ant-calendar-picker-input {
  border-color: red !important;
  background-color: #ff00000a !important;
  :focus {
    border-color: red !important;
  }

  :hover {
    border-color: red !important;
  }
}

.total-width{
  width: 100% !important;
}

.divider-web {
  margin-top: 10px;
  width: 100%;
}


.ant-calendar-picker {
  width: 100%;
}

::ng-deep .ant-upload.ant-upload-select, .ant-input-group {
  width: 100% !important;
}

.i-plus-close{
  font-size: 18px;
  color: var(--primary-color);
  cursor: pointer;
}

.link {
  text-decoration: underline;
}

:host::ng-deep {

  .disabled-input {
    cursor: not-allowed;
    opacity: 1;
    pointer-events: none;
    background-color: rgba(239, 239, 239, 0.3);
  }


}

#form_application_accommodation_dates.disabled-input ::ng-deep .ant-calendar-picker-input {
  background-color: rgba(239, 239, 239, 0.3)!important;
}

#select_accommodation_form_application.disabled-input ::ng-deep .ant-select-selection {
  background-color: rgba(239, 239, 239, 0.3)!important;
}

#dateRange_form_application_accommodation.disabled-input ::ng-deep .ant-calendar-picker-input {
  background-color: rgba(239, 239, 239, 0.3)!important;
}



.hidden-md {
  display:none;
}

.title-info {
  font-weight: bold;
  color: black;
  font-size: 14px;
}

@media screen and (max-width: 800px) {

  .hidden-xs {
    display: none;
  }

  .hidden-md {
      display:block;
  }
}

@media screen and (max-width: 600px) {

  .hidden-xs {
    display: none;
  }

  .hidden-md {
      display:block;
  }
}
