@import 'theme';

.application-highlight-card {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 25px 15px 15px 15px;
  position: relative;
  z-index: 2;

  & > div:first-child {
    margin-bottom: 10px;
  }

  &--title {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.33;
    margin-bottom: 5px;

    @media only screen and (max-width: 800px) {
      margin-top: 5px;
    }
  }

  &--button {
    float: right;
    margin-left: 5px;

    @media only screen and (max-width: 600px) {
      margin-top: 5px;
    }
  }

  &--detail-title {
    font-size: 11px;
    color: #979797;
  }

  &--detail-description {
    color: black;
    font-size: 13px;
  }

  &--actions {
    text-align: right;

    app-button:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.title-detail {
  font-size: 13px;
  color: var(--primary-7);
}

@media only screen and (max-width: 575px) {
  .application-highlight-card--title {
    margin-top: 10px;
  }
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.padding-top-15 {
  padding-top: 15px;
}

.cursor-pointer {
  cursor: pointer;
}
