<div class="application-highlight-card">
  <div nz-row nzType="flex">
    <div nz-col nzXs="24" nzLg="4" nzXl="3">
      <app-application-status-badge [data]="application"></app-application-status-badge>
    </div>

    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="11" [nzXl]="12" [nzXXl]="12">
      <div class="application-highlight-card--title cursor-pointer" (click)="reviewApplication(application?.id)">
        {{ 'VOLUNTEERING.BUTTONS.APPLY_TO' | translate }}
        {{
        translations?.length > 1
        ? (translations | languageChange)?.name
        : ('DASHBOARD.BUTTON.VOLUNTEERING' | translate)
        }}
      </div>
    </div>

    <div nz-col nzXs="24" nzLg="9" class="application-highlight-card--actions">
      <app-button *ngIf="canEditApplication" translate="MISC.EDIT"
        [routerLink]="'/volunteering/applications/' + application.id" type="secundary"></app-button>

      <app-button *ngIf="canCancel" [translate]="'MISC.CANCEL'" [type]="'red'" (click)="cancel()"></app-button>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="24">
      <div nz-row>
        <div nz-col nzXs="24" nzLg="4" nzXl="3" class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{
              'SOCIAL_SUPPORT.APPLICATIONS.SUBMITTED_ON' | translate
              }}</span>
          </div>
          <div nz-row>
            <span class="application-highlight-card--detail-description">
              {{ application?.created_at | date: 'dd-MM-yyyy' }}</span>
          </div>
        </div>
        <div nz-col nzXs="24" nzMd="12" nzLg="7" nzXl="7" class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{
              'SOCIAL_SUPPORT.APPLICATIONS.ORGANIC_UNIT' | translate
              }}</span>
          </div>
          <div nz-row>
            <span class="application-highlight-card--detail-description">
              {{ application?.school?.name }} - {{ application?.school?.code }}</span>
          </div>
        </div>
        <div nz-col nzXs="24" nzMd="12" nzLg="13" nzXl="12" nzXXl="12" class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{
              'SOCIAL_SUPPORT.APPLICATIONS.FORM_IDENTIFICATION.SCHOOL_YEAR' | translate
              }}</span>
          </div>
          <div nz-row>
            <span class="application-highlight-card--detail-description">{{ application?.academic_year }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
