<div class="content-card attendances-table">
  <nz-table
    #attendancesData
    [nzFrontPagination]="false"
    [nzData]="attendances"
    [nzLoading]="loadingAttendances"
    [nzTotal]="total"
    [(nzPageIndex)]="pageIndex"
    [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="paginationSearch()"
    (nzPageSizeChange)="paginationSearch(true)"
    [nzScroll]="{ x: '500px' }"
  >
    <thead>
      <tr class="attendances-table--header">
        <th>{{ 'SOCIAL_SUPPORT.ATTENDANCES.HOURS' | translate }}</th>
        <th>{{ 'SOCIAL_SUPPORT.ATTENDANCES.SUBMISSION_DATE' | translate }}</th>
        <th>{{ 'SOCIAL_SUPPORT.ATTENDANCES.JUSTIFICATION_PERIOD' | translate }}</th>
        <th>{{ 'SOCIAL_SUPPORT.ATTENDANCES.JUSTIFICATION' | translate }}</th>
        <th>{{ 'SOCIAL_SUPPORT.ATTENDANCES.ASSIGNMENT' | translate }}</th>
        <th>{{ 'SOCIAL_SUPPORT.ATTENDANCES.ATTACHMENTS' | translate }}</th>
        <th class="text-center">{{ 'SOCIAL_SUPPORT.ATTENDANCES.VALIDATION' | translate }}</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let row of table; let i = index"
        class="attendances-table--row"
        [ngClass]="{ 'row-color1': i % 2 === 0, 'row-color2': i % 2 !== 0 }"
      >
        <!-- SOCIAL_SUPPORT.ATTENDANCES.HOURS -->
        <td>
          <div *ngIf="row.hours" class="attendances-table--hour-box">
            <span>{{ row.hours | HourConvert }}</span>
          </div>
        </td>

        <!-- SOCIAL_SUPPORT.ATTENDANCES.SUBMISSION_DATE -->
        <td>{{ row.submissionDate | date: 'dd-MM-yyyy' }}</td>

        <!-- SOCIAL_SUPPORT.ATTENDANCES.JUSTIFICATION_PERIOD -->
        <td>
          <div *ngFor="let period of row.justificationPeriod" class="attendances-table--period">{{ period }}</div>
        </td>

        <!-- SOCIAL_SUPPORT.ATTENDANCES.JUSTIFICATION -->
        <td>{{ row.justification }}</td>

        <!-- SOCIAL_SUPPORT.ATTENDANCES.ASSIGNMENT -->
        <td>{{ row.assignment }}</td>

        <!-- SOCIAL_SUPPORT.ATTENDANCES.ATTACHMENTS -->
        <td class="text-center">
          <a [href]="row.attachments.url" target="_blank" *ngIf="row.attachments.url; else attachmentsIcon">
            <ng-container *ngTemplateOutlet="attachmentsIcon"></ng-container>
          </a>

          <ng-template #attachmentsIcon>
            <i nz-icon [ngClass]="row.attachments.elemetClasses" [nzType]="row.attachments.icon" nzTheme="outline"></i>
          </ng-template>
        </td>

        <!-- SOCIAL_SUPPORT.ATTENDANCES.VALIDATION -->
        <td>
          <ng-container
            *ngIf="row.attendance.status !== 'ACCEPTED' && row.attendance.status !== 'REJECTED'; else collumnValidated"
          >
            <ng-container *ngIf="row.attendance.was_present; else declineJustification">
              <div nz-row nzGutter="16">
                <div nz-col nzXs="12">
                  <app-button type="red" translate="MISC.REJECT" (click)="reject(row.attendance)"></app-button>
                </div>

                <div nz-col nzXs="12">
                  <app-button
                    type="secundary"
                    translate="MISC.VALIDATE"
                    [loading]="loadingValidate"
                    (click)="validate(row.attendance)"
                  ></app-button>
                </div>
              </div>
            </ng-container>

            <ng-template #declineJustification>
              <div *ngIf="row.attendance?.absence_reason?.length" nz-row nzGutter="16">
                <ng-container *ngIf="row.attendance?.absence_reason[0]?.accept === null; else collumnValidated">
                  <div nz-col nzXs="12">
                    <app-button
                      type="red"
                      translate="MISC.REJECT"
                      (click)="rejectJustification(row.attendance)"
                    ></app-button>
                  </div>

                  <div nz-col nzXs="12">
                    <app-button
                      type="secundary"
                      translate="MISC.VALIDATE"
                      [loading]="loadingValidateJustification"
                      (click)="validateJustification(row.attendance)"
                    ></app-button>
                  </div>
                </ng-container>
              </div>
            </ng-template>
          </ng-container>

          <ng-template #collumnValidated>
            <div class="text-center">
              <i
                *ngIf="row.accepted"
                nz-icon
                [ngClass]="row.accepted.elemetClasses"
                [nzType]="row.accepted.icon"
                nzTheme="outline"
              ></i>
            </div>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
