@import 'theme';

.attendances-table {
  &--header {
    th {
      background-color: #ffffff;
      border: 0;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      line-height: 1.5;
    }
  }
  &--row {
    td {
      border: 0;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.11px;
      line-height: 1.33;
      color: black;
    }
  }
  &--hour-box {
    background-color: var(--primary-color);
    border-radius: 2px;
    color: #ffffff;
    font-weight: bold;
    height: 25px;
    margin: auto;
    text-align: center;
    width: 50px;

    span {
      vertical-align: -webkit-baseline-middle;
    }
  }

  &--period {
    white-space: pre-wrap;
  }
}

.center {
  text-align: center;
}

.row-color1 {
  background-color: #fbfbfb;
}

.row-color2 {
  background-color: #ffffff;
}

:host::ng-deep.close-icon {
  svg {
    width: 22px !important;
    height: 22px !important;
    path {
      fill: #d0021b !important;
    }
  }
}

:host::ng-deep.unchecked-icon {
  svg {
    width: 22px !important;
    height: 22px !important;
    path {
      fill: #aaaaaa !important;
    }
  }
}

:host::ng-deep.checked-icon {
  svg {
    width: 22px !important;
    height: 22px !important;
  }
}

:host::ng-deep.paid-icon {
  svg {
    width: 22px !important;
    height: 22px !important;
  }
}

:host::ng-deep.anticon-left {
  fill: red;
}

::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .vertical-center-modal .ant-modal {
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
