<form *ngIf="form" nz-form [formGroup]="form">
  <div nz-row nzGutter="34">
    <div nz-col class="description">
      <b><span class="error">*</span> {{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.TITLE' | translate }}</b>
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzXl]="{ span: 18 }">
      <nz-form-item>

        <nz-form-control>
          <nz-checkbox-wrapper formGroupName="schedule" (nzOnChange)="onScheduleChange($event)">
            <nz-table class="schedule" [nzData]="scheduleRows" [nzShowPagination]="false" [nzScroll]="{ x: '150px' }">
              <thead>
                <tr>
                  <th></th>
                  <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.MONDAY' | translate }}</th>
                  <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.TUESDAY' | translate }}</th>
                  <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.WEDNESDAY' | translate }}</th>
                  <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.THURSDAY' | translate }}</th>
                  <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.FRIDAY' | translate }}</th>
                  <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.SATURDAY' | translate }}</th>
                  <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.SUNDAY' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of scheduleRows">
                  <td class="schedule--period-day">{{ row.title | translate }}</td>
                  <td *ngFor="let i of row.keys">
                    <label class="checkbox--input primary-checkbox" [nzValue]="i" [formControlName]="i"
                      nz-checkbox></label>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </nz-checkbox-wrapper>
          <nz-form-explain class="error"
            *ngIf="form.get('preferred_schedule')?.dirty && form.get('preferred_schedule').errors">
            {{ getInputError('preferred_schedule') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 8 }" [nzLg]="{ span: 8 }"></div>

    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="has_holydays_availability" class="primary-input-label">{{
          'VOLUNTEERING.FORM_APPLICATION.TIME_AVAILABILITY.HOLIDAYS' | translate
        }}</nz-form-label>

        <nz-form-control>
          <nz-radio-group formControlName="has_holydays_availability" [nzSize]="'small'">
            <label nz-radio [nzValue]=true>{{ 'MISC.YES' | translate
              }}</label>
            <label nz-radio [nzValue]=false>{{ 'MISC.NO' | translate
              }}</label>
          </nz-radio-group>

          <nz-form-explain class="error"
            *ngIf="form.get('has_holydays_availability')?.dirty && form.get('has_holydays_availability').errors">
            {{ getInputError('has_holydays_availability') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
