<nz-spin [nzSpinning]="isLoading">
  <div nz-row><b>Data:</b>
    <nz-select nzMode="multiple" nzPlaceHolder="Datas" [(ngModel)]="selectedDates" style="width: 100%;"
      [nzDropdownRender]="render">
      <nz-option *ngFor="let date of selectedDates" [nzLabel]="date | date: 'fullDate'" [nzValue]="date">
      </nz-option>
    </nz-select>
    <nz-form-explain class="color-required" *ngIf="submitted && selectedDates.length==0">Campo obrigatório</nz-form-explain> 
    <ng-template #render>
      <nz-divider></nz-divider>
      <div class="add-item">
        <button nz-button (click)="addDate(newDate.nzValue)"><i nz-icon nzType="plus"></i></button>
        <nz-date-picker #newDate [nzDisabledDate]="disabledDate"></nz-date-picker>
       
      </div>
    </ng-template>
  </div>
  <div nz-row><b>Serviço:</b>
    <nz-select nzMode="multiple" nzPlaceHolder="Serviços" [(ngModel)]="selectedServices" style="width: 100%;">
      <nz-option *ngFor="let service of services" [nzLabel]="service.name" [nzValue]="service.id"></nz-option>
    </nz-select>
    <nz-form-explain class="color-required" *ngIf="submitted && selectedServices.length==0">Campo obrigatório</nz-form-explain> 
  </div>
</nz-spin>