<div class="container">
  <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th>Route -></th>
        <th>Local -></th>
        <th>
          <- Route</th>
        <th>
          <- Local</th>
        <th nzShowSort nzSortKey="active">Ativa</th>
        <th nzRight="0px" class="text-right">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">
        <tr>
          <td>{{data?.route1?.local}}</td>
          <td>{{data?.local_route1?.local}}</td>
          <td>{{data?.route2?.local}}</td>
          <td>{{data?.local_route2?.local}}</td>
          <td>
            <fi-sas-tag [value]="data.active"></fi-sas-tag>
          </td>
          <td nzRight="0px" class="text-right">
            <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
                nzPlacement="bottomRight">
                <i nz-icon nzType="dash" nzTheme="outline"></i>
              </button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item [nzDisabled]="!('bus:links:delete' | hasPermission)" (click)="deleteLink(data.id)">Eliminar
                  </li>
                </ul>
              </nz-dropdown-menu>
          </td>
        </tr>
      </ng-template>
    </tbody>

  </nz-table>
</div>

<div class="space" nz-row>
  <button nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button *ngIf="data.length==0" nz-button (click)="form()" 
      [nzType]="'primary'">Adicionar ligação</button>
</div>