@import 'default-theme.less';

:host::ng-deep {
  .more-detail {
    position: relative;

    h4 {
      .font-family(22px, 900);
      color: var(--fisas-03);
      line-height: 30px;
    }

    table {
      width: 100%;

      td {
        .font-family(14px, 400);
        line-height: 24px;
        color: var(--fisas-10);

        &:last-child {
          text-align: right;
          font-weight: 700;
        }
      }
    }

    &__ingredients,
    &__allergens,
    &__nutrition {
      h4 {
        margin-top: 42px;
      }

      p {
        .font-family(16px, 300);
        line-height: 24px;
        color: @fisas-grey-10;
      }
    }

    &__ingredients,
    &__allergens {
      white-space: nowrap;
    }
  }
}
