@import "~/scss/_variables";

.meals-detail {
  /* ----------------------- */
  /* Common */

  .fisas {
    
  }


  /* ----------------------- */
  /* Component */
  &__alert {
      padding: 3;
      background-color: $red;
      color: $white;

      &--icon {
        color: $white;
        margin-right: 5;
      } 

      &--text {
        font-family: Montserrat;
        font-size: 10;
        font-weight: bold;
        text-transform: uppercase;
        vertical-align: center;
      }
  }

  &__image {
    width: 100%;
    height: 180;
    margin-bottom: 12;
  }

  &__allergens {
    margin-top: 30;
    
    &__item { 
      border-radius: 3;
      background-color: $super-light-grey;
      padding: 4 5;
      margin-right: 6;
      margin-bottom: 6;

      &--active {
        background-color: $red;
        color: $white;
      }
    }
  }

  &__nutrients {
    margin-top: 30;

    .fisas_p--label {
      margin: 7 0;
    }

    &--grey {
      color: $light-grey;
    }
  }

}
