<AbsoluteLayout>
  <StackLayout class="meals-detail" width="100%" height="100%">
    <!-- action bar -->
    <fi-action-bar
      [actionBarType]="4"
      actionBarTitle="{{ 'MEALS-DETAIL.TITLE' | translate }}"
    ></fi-action-bar>

    <!-- loader -->
    <StackLayout class="fisas__form__block" marginTop="40" *ngIf="isLoading">
      <ActivityIndicator
        row="1"
        #activityIndicator
        [busy]="isLoading"
        width="100%"
        height="50"
        color="lightgray"
        class="fisas__loading"
      ></ActivityIndicator>
    </StackLayout>

    <!-- scroll init -->
    <GridLayout rows="*,0">
      <GridLayout rows="*,70">
        <ScrollView row="0">
          <WrapLayout orientation="horizontal" width="100%">
            <StackLayout
              width="100%"
              textAlignment="center"
              class="meals-detail__alert"
              *ngIf="mealsDetail?.user_allergic"
            >
              <GridLayout columns="auto, auto" horizontalAlignment="center">
                <Label
                  row="0"
                  col="0"
                  class="fisas__icon meals-detail__alert--icon"
                  text="&#xe903;"
                ></Label>
                <Label
                  row="0"
                  col="1"
                  class="meals-detail__alert--text"
                  text="{{ 'MEALS-DETAIL.ALERT' | translate }}"
                ></Label>
              </GridLayout>
            </StackLayout>

            <!-- image -->
            <Image
              *ngIf="mealsDetail?.file.url"
              src="{{ mealsDetail?.file.url }}"
              class="meals-detail__image"
              stretch="aspectFill"
              loadMode="async"
            ></Image>

            <StackLayout class="fisas__content">
              <!-- title -->
              <Label
                class="fisas__p--light"
                text="{{
                  (mealsDetail?.dish_type_translation?.length
                    ? (mealsDetail?.dish_type_translation)[0]?.name
                    : '') | uppercase
                }}"
              ></Label>
              <Label
                class="fisas__h1"
                textWrap="true"
                text="{{ (mealsDetail?.translations)[0]?.name }}"
              ></Label>
              <Label
                class="fisas__p"
                textWrap="true"
                text="{{ (mealsDetail?.translations)[0]?.description }}"
              ></Label>

              <!-- allergens -->
              <StackLayout
                class="meals-detail__allergens"
                *ngIf="mealsDetail?.allergens?.length"
              >
                <Label
                  class="fisas__p--light"
                  textWrap="true"
                  text="{{ 'MEALS-DETAIL.ALLERGENS' | translate | uppercase }}"
                  marginBottom="15"
                ></Label>

                <FlexboxLayout flexWrap="wrap">
                  <Label
                    *ngFor="let item of mealsDetail.allergens; index as i"
                    text="{{ (item?.translations)[0]?.name }}"
                    class="meals-detail__allergens__item fisas__p--label"
                    [ngClass]="{
                      'meals-detail__allergens__item--active': item?.allergic
                    }"
                  ></Label>
                </FlexboxLayout>
              </StackLayout>

              <!-- nutrients -->
              <StackLayout
                class="meals-detail__nutrients"
                *ngIf="mealsDetail?.nutrients?.length"
              >
                <Label
                  class="fisas__p--light"
                  textWrap="true"
                  text="{{
                    'MEALS-DETAIL.NUTRIENTS-TABLE' | translate | uppercase
                  }}"
                  marginBottom="15"
                ></Label>
                <!--  Valor Energetico -->
                <DockLayout
                  stretchLastChild="false"
                  *ngFor="let item of mealsDetail.nutrients"
                >
                  <Label
                    width="60%"
                    dock="left"
                    class="fisas_p--label"
                    textWrap="true"
                    text="{{
                      item?.nutrient?.translations?.length
                        ? (item?.nutrient?.translations)[0]?.name
                        : ''
                    }} ({{ item?.nutrient?.ddr }} {{
                      item?.nutrient?.unit?.acronym
                    }})"
                  ></Label>
                  <Label
                    textWrap="true"
                    dock="right"
                    class="fisas_p--label meals-detail__nutrients--grey"
                    text="{{ item?.quantity | number: '1.2-4' }} {{
                      item?.nutrient?.unit?.acronym
                    }}"
                  ></Label>
                </DockLayout>
              </StackLayout>
            </StackLayout>
          </WrapLayout>
        </ScrollView>
      </GridLayout>

      <StackLayout class="fisas__vertical-down" width="100%">
        <!--button to submit -->
        <DockLayout
          class="fisas__btn-bottom fisas__bg--{{ institution }} fisas__btn--buy"
          stretchLastChild="false"
          (tap)="openModal(mealsDetail)"
        >
          <ActivityIndicator
            row="1"
            #activityIndicator
            [busy]="isLoading"
            width="100%"
            height="20"
            color="lightgray"
            class="fisas__loading"
            *ngIf="isLoading"
          ></ActivityIndicator>

          <Label
            verticalAlignment="center"
            dock="left"
            text="{{ 'MEALS-DETAIL.BUY' | translate }}"
            *ngIf="!isLoading"
          ></Label>
          <Label
            verticalAlignment="center"
            dock="right"
            class="fisas__btn--buy--price"
            *ngIf="!isLoading"
            text="{{ mealsDetail?.price_formated }}"
          ></Label>
        </DockLayout>
      </StackLayout>
    </GridLayout>
  </StackLayout>

  <fi-footer-modal></fi-footer-modal>
</AbsoluteLayout>
