<StackLayout class="create-account">

  <!-- action bar -->
  <fi-action-bar></fi-action-bar>

  <!-- scroll init -->
  <GridLayout rows="*,0">
    <GridLayout rows="*,70">
      <ScrollView row="0">
        <WrapLayout orientation="horizontal" class="create-account__container fisas__content">

          <!-- intro text -->
          <StackLayout>
            <Label class="fisas__h1" text="{{ 'CREATE_ACCOUNT.TITLE' | translate }}" textWrap="true"></Label>
            <Label class="fisas__h2" text="{{ 'CREATE_ACCOUNT.INTRO' | translate }}" textWrap="true"></Label>
          </StackLayout>

          <!-- text -->
          <StackLayout class="create-account__text">
            <Label class="fisas__p" text="{{ 'CREATE_ACCOUNT.TEXT' | translate }}" textWrap="true"></Label>
          </StackLayout>

        </WrapLayout>
      </ScrollView>
    </GridLayout>

    <!-- fixed bottom btns -->
    <StackLayout class="fisas__vertical-down" width="100%">

      <!-- button to accept -->
      <StackLayout width="100%">
        <Label
          [nsRouterLink]="['/login']"
          class="fisas__btn-bottom fisas__bg--{{ institution }}"
          text="{{ 'CREATE_ACCOUNT.SURE' | translate }}"></Label>
      </StackLayout>

    </StackLayout>

  </GridLayout>
</StackLayout>