@import "theme";

.container {
    background: white;
    padding: 24px 30px 24px 30px;
    margin-bottom: 24px;
  
    &__title {
      font-size: 16px;
      line-height: 22px;
      margin: 0px;
      font-weight: bold;
      margin-bottom:30px;
      color:black;
    }
  &__subtitle{
      margin-bottom:5px;
  }
}

.space{
  background-color: #F2F2F2;
  padding-top:20px;
}

.content-table {
    margin: 8px;
    
    .table {
        &__header {
            th {
                background: white;
                color: var(--primary-6);
                font-weight: 700;
            }

            & > th:first-child {
                border-top-left-radius: 2px !important;
            }
            
            & > th:last-child {
                border-top-right-radius: 2px !important;
            }
        }
        
        tr {

            /*td {
                color: var(--text-color);
            }*/

            background: white !important;
        }
    }

    .options_button {
        color: var(--text-color);
        font-size: 22px;
    }
}

.padding-bottom-5{
    padding-bottom:5px;
}

.container-table {
  background: white;
  padding: 24px 0px 0px 0px;
  margin-bottom: 24px;
}

.right{
    text-align: right;
}


.box {
    padding: 30px;
    margin-bottom: 8px;
    border-radius: 2px;
  
    &__text {
      font-size: 14px;
    }
    
    &__value {
      text-align: right;
      color: #4D9DE0;
      font-size: 24px;
    }
    
    &--submitted {
      background-color: fadeout(#88CCF1, 90%);
  
      .box__value {
        color: #4D9DE0;
      }  
    }
    &--enqueued {
        background-color: fadeout(#D4B483, 90%);
    
        .box__value {
          color: #D4B483;
        }  
    }
    &--dispatch {
        background-color: fadeout(#88CCF1, 90%);
    
        .box__value {
          color: #87CCF1;
        }  
    }
    &--rejected {
        background-color: fadeout(#D0021B, 90%);
    
        .box__value {
          color: #D0021A;
        }  
    }
}

.text-align{
    text-align: center;
    font-size: 18px;
    padding-top: 23px;
}

.margin-left-box{
    margin-left:25px;
}

.font-icon-user{
    font-size:30px;
    color: var(--primary-color);
}


.border-balcony{
    color: white;
    background: var(--primary-color);
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    margin-left: 5px;
}

.border-subjectdesk{
    color: var(--primary-color);;
    border: 2px solid var(--primary-color);
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-left: 5px;
}

.button-active{
    border: 2px solid var(--primary-color);
}

.button-active:hover{
    border: 2px solid var(--primary-color);
}

.button-descative{
   color: white;
   background-color: #F6CECE;

}

.button-descative:hover{
    color: white;
    background-color: #F6CECE;
 }

.icon-user{
    text-align: center;
    padding-top: 22px;
}

.hidden-md {
    display:none;
}

.color-required{
    color: red;
}

.status-icon {
    font-size: 30px;
  }
  
#icon-user-desk-management-queue::ng-deep svg {
    g path {
        fill: var(--primary-color);
    }
  }
@media screen and (max-width:800px) {
    .margin-left-box{
        margin-left:0px;
    }
    .hidden-xs {
        display: none;
    }
  
    .hidden-md {
        display:block;
    }

    .font-label-mobile{
        color: black;
        font-weight: bold;
        padding: 10px;
    }

    .margin-bottom-25{
        margin-bottom:25px;
    }
}
@media screen and (max-width:600px) {
    .margin-left-box{
        margin-left:0px;
    }

    .hidden-xs {
        display: none;
    }
  
    .hidden-md {
        display:block;
    }

    .font-label-mobile{
        color: black;
        font-weight: bold;
        padding: 10px;
    }

    .margin-bottom-25{
        margin-bottom:25px;
    }
}