<div class="container-table">
    <div class="hidden-xs">
        <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)"
            [nzFrontPagination]="false" [nzLoading]="loading" [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData"
            [(nzPageSize)]="pageSize" (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
            <thead>
                <tr class="table__header">
                    <th></th>
                    <th>Operador</th>
                    <th>Serviço</th>
                    <th>Fila</th>
                    <th>Balcão / Fila</th>
                    <th>Senhas em Espera</th>
                    <th>Tempo médio</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-data [ngForOf]="refTable.data">
                    <tr>
                        <td>
                            <div *ngIf="data.operator[0]?.user?.picture == null" class="status-icon"><i nz-icon
                                    nzType="icons:avatar_sas" id="icon-user-desk-management-queue"
                                    nzTheme="outline"></i></div>
                            <div *ngIf="data.operator[0]?.user?.picture != null" class="status-icon">
                                <nz-avatar [nzSrc]="data.operator[0]?.user?.picture" nzSize="small">
                                </nz-avatar>
                            </div>
                        </td>
                        <td>{{data.operator[0]?.user?.name}}</td>
                        <td>{{(data.service?.translations | translation)?.name}}</td>
                        <td>
                            <div *ngFor="let subject of data.service?.subjects">
                                {{(subject?.translations | translation)?.name}}<br>
                            </div>

                        </td>
                        <td><span class="border-balcony">{{data.desk[0].name}}</span>
                        </td>
                        <td>
                            {{data.tickets_waiting}}
                        </td>
                        <td>
                            {{formatSecondstoHours(data.media_time)}}
                        </td>
                        <td>
                            <button *ngIf="validUserId(data.operator[0].user_id) && data.operating == false" nz-button
                                [nzLoading]="loading" [disabled]="loading" (click)="startDesk(data)"
                                [nzType]="'primary'"><i nz-icon nzType="plus-circle" nzTheme="outline"></i> Iniciar
                                Balcão</button>
                            <button *ngIf="data.operating == true" nz-button disabled class="button-active">Balcão
                                Ativo</button>
                            <button *ngIf="!validUserId(data.operator[0].user_id) && data.operating == false" nz-button
                                disabled class="button-descative">
                                Balcão Inativo</button>
                        </td>
                    </tr>


                </ng-template>
            </tbody>
        </nz-table>
    </div>
    <div class="hidden-md">
        <div *ngFor="let item of data; let idx = index" nz-row>
            <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-25" style="text-align: center;">
                <div *ngIf="item.operator[0]?.user?.picture == null" class="status-icon"><i nz-icon
                        nzType="icons:avatar_sas" id="icon-user-desk-management-queue" nzTheme="outline"></i></div>
                <div *ngIf="item.operator[0]?.user?.picture != null" class="status-icon">
                    <nz-avatar [nzSrc]="item.operator[0]?.user?.picture" nzSize="small">
                    </nz-avatar>
                </div>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-25"><label
                    class="font-label-mobile">Operador:</label>{{item.operator[0].user?.name}}</div>
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-25"><label
                    class="font-label-mobile">Serviço:</label>{{(item.service?.translations | translation)?.name}}</div>
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-25">
                <div *ngFor="let subject of item.service?.subjects"><label
                        class="font-label-mobile">Fila:</label> {{(subject?.translations | translation)?.name}}</div>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-25"><label class="font-label-mobile">Balcão /
                    Fila:</label> <span class="border-balcony">{{item.desk[0].name}}</span></div>
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-25"><label class="font-label-mobile">Senhas em
                    Espera:</label>{{item.tickets_waiting}}
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-25"><label class="font-label-mobile">Tempo
                    médio:</label>{{formatSecondstoHours(item.media_time)}}</div>
            <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-25" style="text-align: center;">
                <button *ngIf="validUserId(item.operator[0].user_id) && item.operating == false" nz-button
                    [nzLoading]="loading" [disabled]="loading" (click)="startDesk(item)" [nzType]="'primary'"><i nz-icon
                        nzType="plus-circle" nzTheme="outline"></i>
                    Iniciar
                    Balcão</button>
                <button *ngIf="item.operating == true" nz-button disabled class="button-active">Balcão
                    Ativo</button>
                <button *ngIf="!validUserId(item.operator[0].user_id) && item.operating == false" nz-button disabled
                    class="button-descative">
                    Balcão Inativo</button>
            </div>
            <nz-divider></nz-divider>
        </div>
        
    </div>
</div>
<div class="space"></div>
<div class="container">
    <p class="container__title">Modificar</p>
    <div nz-row>
        <form nz-form [formGroup]="formUpdate">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="1" [nzXXl]="1" class="icon-user">
                <i *ngIf="userModel.picture == null" nz-icon class="status-icon" nzType="icons:avatar_sas"
                    id="icon-user-desk-management-queue" nzTheme="outline"></i>
                <nz-avatar *ngIf="userModel.picture != null" [nzSrc]="userModel.picture" nzSize="small">
                </nz-avatar>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="3" [nzXXl]="3" class="text-align">
                {{userModel.name}}
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="5" [nzXXl]="5">
                <div nz-row class="padding-bottom-5">
                    <label class="container__subtitle">Serviço <span class="color-required">*</span></label>
                </div>
                <div nz-row>
                    <nz-form-control>
                        <nz-select class="primary-select" formControlName="service" nzShowSearch
                            (ngModelChange)="getSubjects($event)" [attr.disabled]="((servicesLoading ) ? true : null)">
                            <nz-option *ngFor="let service of services" [nzLabel]="(service?.translations | translation)?.name" [nzValue]="service.id">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="24" [nzXl]="1" [nzXXl]="1"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="5" [nzXXl]="5">
                <div nz-row class="padding-bottom-5">
                    <label class="container__subtitle">Fila / Assunto <span class="color-required">*</span></label>
                </div>
                <div nz-row>
                    <nz-form-control>
                        <nz-select class="primary-select" formControlName="subject" nzShowSearch
                            (ngModelChange)="errorForm = ''">
                            <nz-option *ngFor="let subject of subjects" [nzLabel]="(subject?.translations | translation)?.name" [nzValue]="subject.id">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="24" [nzXl]="1" [nzXXl]="1"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="4" [nzXXl]="4">
                <div nz-row class="padding-bottom-5">
                    <label class="container__subtitle">Balcão <span class="color-required">*</span></label>
                </div>
                <div nz-row>
                    <nz-form-control>
                        <nz-select class="primary-select" formControlName="desk" nzShowSearch
                            (ngModelChange)="errorForm = ''" [attr.disabled]="((deskLoading ) ? true : null)">
                            <nz-option *ngFor="let desk of desks" [nzLabel]="desk.name" [nzValue]="desk.id">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="24" [nzXl]="1" [nzXXl]="1"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="3" [nzXXl]="3" class="text-align">
                <button nz-button [nzLoading]="loadingStartDesk" [disabled]="loadingStartDesk || noContinue"
                    (click)="update()" [nzType]="'primary'"><i nz-icon nzType="plus-circle" nzTheme="outline"></i>
                    Iniciar Balcão</button>
            </div>

        </form>

    </div>
    <div nz-row>
        <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="4" [nzXl]="4" [nzXXl]="4"></div>
        <div style="padding-top:10px" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
            <nz-form-explain class="color-required" *ngIf="errorForm != ''">
                {{errorForm}}
            </nz-form-explain>
        </div>
    </div>

</div>
<div *ngFor="let desk of tickets">
    <div class="space"></div>
    <div class="container">
        <div nz-row>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                <span class="container__title"> {{(desk?.subject?.translations | translation)?.name}} </span> <span *ngIf="desk.desks.length>0">-</span> <span *ngFor="let name of desk.desks" > {{desk.desks.length > 1 ? name + ';' : name}} </span>
            </div>
           <!--<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="right">
                <p class="container__title">{{desk.date}}</p>
            </div>--> 
        </div>

        <div nz-row>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" [nzLg]="5" [nzXl]="5" [nzXXl]="5" class="margin-left-box">
                <div nz-row class="box box--submitted" nzType="flex" nzAlign="middle" nzJustify="space-between">
                    <div nz-col nzSpan="12" class="box__text">Total de Tickets</div>
                    <div nz-col nzSpan="12" class="box__value">{{ desk.total_tickets }}</div>
                </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="2" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
                <div nz-row class="box box--enqueued" nzType="flex" nzAlign="middle" nzJustify="space-between">
                    <div nz-col nzSpan="12" class="box__text">Lista de espera</div>
                    <div nz-col nzSpan="12" class="box__value">{{ desk.tickets_waiting }}</div>
                </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
                <div nz-row class="box box--rejected" nzType="flex" nzAlign="middle" nzJustify="space-between">
                    <div nz-col nzSpan="12" class="box__text">Prioritários</div>
                    <div nz-col nzSpan="12" class="box__value">{{ desk.tickets_priority }}</div>
                </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="2" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
                <div nz-row class="box box--dispatch" nzType="flex" nzAlign="middle" nzJustify="space-between">
                    <div nz-col nzSpan="12" class="box__text">Marcações</div>
                    <div nz-col nzSpan="12" class="box__value">{{ desk.tickets_appointment }}</div>
                </div>
            </div>
        </div>
    </div>
</div>