@import 'theme';

.error {
    color: red;
    margin-top:5px;
  
    &__input {
      border-color: red !important;
      background-color: #ff00000a;
  
      :focus {
        border-color: red !important;
      }
  
      :hover {
        border-color: red !important;
      }
    }
  }

  
.black-text{
    color: black;
  }