<div class="content-form">
  <form [formGroup]="attachmentsForm" nzLayout="vertical">
    <p class="title-step-form"> {{ "HEALTH.APPOINTMENT_FORM.ATTACHMENTS_STEP" | translate }}</p>
    <div nz-row>
      <div nz-col [nzXs]="24" [nzMd]="24">
        <nz-form-item>
          <nz-form-label nzFor="file_ids">
            <b>{{ "HEALTH.APPOINTMENT_FORM.ATTACHMENTS" | translate }}</b>
          </nz-form-label>
          <nz-form-control>
            <app-file-upload [listType]="'picture-card'" [filterTypes]="filterFileTypes" [multiUploads]="true"
              [filesList]="file_ids" [multiUploads]="true" (fileAdded)="onFileAdded($event)"
              (fileDeleted)="onFileDeleted($event)"
              [buttonName]="'HEALTH.BUTTONS.BUTTON_ATTACHEMNTS'">
            </app-file-upload>
            <div>
              {{ 'MISC.FORMAT_UPLOAD_MORE' | translate }} pdf, png, jpg. {{ 'MISC.LIMIT_MAX_FILE' | translate }}
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div nz-row>
      <div nz-col [nzXs]="24" [nzMd]="24">
        <nz-form-item>
          <nz-form-label nzFor="notes">
            <b>{{ "HEALTH.APPOINTMENT_FORM.OBSERVATIONS" | translate }}</b>
          </nz-form-label>
          <nz-form-control>
            <textarea class="primary-textarea" nz-input rows="5" formControlName="notes" maxlength="255"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div nz-row>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="allow_historic">
          <b>{{ 'HEALTH.APPOINTMENT_FORM.ALLOW_HISTORIC' | translate }}</b>
        </nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="allow_historic" [nzSize]="'small'">
            <label nz-radio [nzValue]=true>{{ 'MISC.YES' | translate}}</label>
            <label nz-radio [nzValue]=false>{{ 'MISC.NO' | translate }}</label>
          </nz-radio-group>
          <nz-form-explain class="error"
            *ngIf="attachmentsForm.get('allow_historic')?.dirty && attachmentsForm.get('allow_historic').errors">
            {{ getInputError("allow_historic") | translate }}</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
</div>