<div class="container">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
      <div nz-row>
        <nz-form-label>Termo de pesquisa</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input [(ngModel)]="filters.search">
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
      <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
      style="text-align: left;">
      <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
    </div>
  </div>
</div>
<div class="container">
  <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th></th>
        <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
          [nzSortKey]="column.sortKey ? column.sortKey : column.key"> {{ column.label }}</th>
        <th nzRight="0px" *ngIf="'accommodation:extensions:status' | hasPermission">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">

        <tr>
          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
          <td *ngFor="let column of columns">
            <span *ngIf="!column.tag && !column.template">{{ column.translation ? (data.translations | where: ['language_id', 3]
              )[0][column.key] : (data | flatObject)[column.key]}}</span>
            <span *ngIf="column.template">
              {{ column.template(data) }}
            </span>

            <span *ngIf="column.tag">
              <fi-sas-tag [value]="data[column.key]" [results]="column.tag"></fi-sas-tag>
            </span>
          </td>
          <td nzRight="0px" *ngIf="'accommodation:applications:dispatch' | hasPermission">
            <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
              nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu *ngIf="data.status=='SUBMITTED'">
                <li nz-menu-item (click)="openModal(data, 'reply')" *ngIf="!data.response">Responder</li>
                <li nz-menu-item (click)="openModal(data, 'close')">Fechar</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>

        <tr [nzExpand]="mapOfExpandData[data.id]">
          <td [attr.colspan]="columns.length + 3">
            <fi-sas-view-application-entry-communication [data]="data"></fi-sas-view-application-entry-communication>
          </td>
        </tr>

      </ng-template>
    </tbody>
  </nz-table>
</div>


<nz-modal [(nzVisible)]="isChangeStatusModalVisible" [nzTitle]="modalTitle()" nzWidth="900" [nzOkText]="modalOkButton()"
  nzCancelText="Cancelar" (nzOnOk)="handleChangeStatus()" (nzOnCancel)="handleChangeStatusCancel()"
  [nzOkLoading]="changeStatusModalLoading">

  <div nz-row nzType="flex" *ngIf="changeStatusModalAction =='reply'">
    <div nz-col nzSpan="4">
      Resposta:
    </div>
    <div nz-col nzSpan="20">
      <textarea  nz-input [(ngModel)]="changeStatusModalResponse" rows="4"></textarea>
    </div>
  </div>
  <br>
  <div nz-row nzType="flex" *ngIf="changeStatusModalAction == 'close'">
    <div nz-col nzSpan="4">
      Observações:
    </div>
    <div nz-col nzSpan="20">
      <textarea  nz-input [(ngModel)]="changeStatusModalObservations" rows="4"></textarea>
    </div>
  </div>
</nz-modal>
