<!--- OPTIONS -->
<div nz-row style="margin: 24px 0px;">
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12">
    <div nz-row>
      <div nz-col nzSpan="12" style="text-align: start;">
        <app-button translate="MISC.RETURN" (click)="back()" [leftIcon]="'left'"
          [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}" type="tertiary"></app-button>
      </div>
    </div>
  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
  </div>
</div>

<!--- CONTENT -->
<div nz-row style="margin: 24px 0px;">
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12" class="content">
    <nz-spin [nzSpinning]="loading">
      <div *ngIf="!declaration">
        <nz-empty [nzNotFoundContent]="'MOBILITY.SUB_23_DECLARATIONS.NO_CONTENT' | translate"></nz-empty>
      </div>
      <div *ngIf="declaration">
        <nz-tabset>
          <nz-tab [nzTitle]="'MOBILITY.SUB_23_DECLARATIONS.DECLARATION_INFO' | translate">
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="title-resume">
                {{ 'MOBILITY.SUB_23_DECLARATIONS.IDENTIFICATION' | translate }}
              </div>
            </div>
            <div nz-row>

              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.NAME' | translate }}</p>
                <p class="desc-resume">{{ declaration?.name }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.BIRTH_DATE' | translate }}</p>
                <p class="desc-resume">{{ declaration?.birth_date | date:"dd-MM-yyyy" }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.DOCUMENT_TYPE' | translate }}</p>
                <p class="desc-resume">{{ getDocumentTypeDescription(declaration?.document_type_id) }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.SCHOOL' | translate }}</p>
                <p class="desc-resume">{{ declaration?.organic_unit.name
                  }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.COURSE_DEGREE' | translate }}</p>
                <p class="desc-resume"> {{declaration?.course.courseDegree.name }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.COURSE' | translate }}</p>
                <p class="desc-resume">{{ declaration?.course.name }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.COURSE_YEAR' | translate }}</p>
                <p class="desc-resume">{{ declaration?.course_year }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.SOCIAL_SCHOLARSHIP' | translate }}</p>
                <p *ngIf="declaration?.has_social_scholarship" class="desc-resume">
                  {{'MOBILITY.SUB_23_DECLARATIONS.YES'|translate}}</p>
                <p *ngIf="!declaration?.has_social_scholarship" class="desc-resume">
                  {{'MOBILITY.SUB_23_DECLARATIONS.NO'|translate}}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.APPLIED_SOCIAL_SCHOLARSHIP' | translate }}
                </p>
                <p *ngIf="declaration?.applied_social_scholarship" class="desc-resume">
                  {{'MOBILITY.SUB_23_DECLARATIONS.YES'|translate}}</p>
                <p *ngIf="!declaration?.applied_social_scholarship" class="desc-resume">
                  {{'MOBILITY.SUB_23_DECLARATIONS.NO'|translate}}</p>
              </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="title-resume">
                {{ 'MOBILITY.SUB_23_DECLARATIONS.ADDRESS' | translate }}
              </div>
            </div>
            <div nz-row>

              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.ADDRESS' | translate }}</p>
                <p class="desc-resume">{{ declaration?.address }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.COUNTRY' | translate }}</p>
                <p class="desc-resume">{{ declaration?.country }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.POSTAL_CODE' | translate }}</p>
                <p class="desc-resume">{{ declaration?.postal_code }}</p>
              </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="title-resume">
                {{ 'MOBILITY.SUB_23_DECLARATIONS.OBSERVATIONS' | translate }}
              </div>
            </div>
            <div nz-row>

              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="desc-resume">{{ declaration?.observations?declaration?.observations:"-" }}</p>
              </div>
            </div>

            <div nz-row *ngIf="declaration.status == 'rejected'">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="title-resume">
                {{ 'MOBILITY.SUB_23_DECLARATIONS.REJECT_REASON' | translate }}
              </div>
            </div>
            <div nz-row>

              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="desc-resume">{{ declaration?.reject_reason ? declaration?.reject_reason:"-" }}</p>
              </div>
            </div>

            <div *ngIf="declaration?.declaration">
              <nz-divider></nz-divider>
              <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                  class="title-resume">
                  {{ 'MOBILITY.SUB_23_DECLARATION_VIEW.DECLARATION' | translate }}
                </div>
              </div>
              <div nz-row>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                  <a [href]="declaration?.declaration?.url" target="_blank"> {{
                    'MOBILITY.SUB_23_DECLARATIONS.DECLARATION' | translate }}</a>
                </div>
              </div>
            </div>

          </nz-tab>
          <nz-tab [nzTitle]="'MOBILITY.SUB_23_DECLARATION_VIEW.HISTORY' | translate">
            <ng-container *ngFor="let hist of declaration.history">

              <div nz-row>
                <div nz-col>
                  {{ 'MOBILITY.SUB_23_DECLARATION_VIEW.DATE' | translate }}
                </div>
                <div nz-col class="desc-resume margin-top-bottom">
                  {{hist?.created_at | date: "dd-MM-yyyy HH:mm"}}
                </div>
                <div nz-col>
                  {{ 'MOBILITY.SUB_23_DECLARATION_VIEW.STATUS' | translate }}
                </div>
                <div nz-col class="desc-resume margin-top-bottom">
                  <nz-tag class="tab-status cursor-cont" [nzColor]="Sub23BusDeclarationStatusLabels[hist.status]?.color">
                    {{ Sub23BusDeclarationStatusLabels[hist?.status]?.translation | translate }}
                  </nz-tag>
                </div>
              </div>
              <nz-divider></nz-divider>
            </ng-container>
          </nz-tab>
        </nz-tabset>
      </div>
    </nz-spin>
  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
  </div>
</div>