.content {
    background: white;
    padding   : 24px;

}

.margin-top-bottom {
    margin-top: 5px;
    margin-bottom: 10px;
}


.card {

    &__status {
        font-size: 11px;
        font-weight: bold;
        letter-spacing: 0.5px;
        color: #ffffff;
        text-align: center;
        align-items: center;
        border: none;
        cursor: context-menu;
    }
}