
<nz-tabset nzTabPosition="left">

  <nz-tab nzTitle="Outras informações">

    <nz-descriptions>
      <nz-descriptions-item nzTitle="Consumidor">{{ data?.user?.name ? data?.user?.name : '-' }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Refeição">{{ data?.menu_dish?.menu?.meal === 'lunch' ? 'Almoço' : 'Jantar' }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Tipo">{{ (data?.menu_dish?.type?.translations | translation)?.name ? (data?.menu_dish?.type?.translations | translation)?.name : '-' }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Prato">{{ (data?.menu_dish?.dish?.translations | translation)?.name ? (data?.menu_dish?.dish?.translations | translation)?.name : '-' }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Disponível"><fi-sas-tag [value]="data['is_available']" [results]="YesNoTag"></fi-sas-tag></nz-descriptions-item>
      <nz-descriptions-item nzTitle="Cancelada"><fi-sas-tag [value]="data['has_canceled']" [results]="YesNoTag"></fi-sas-tag></nz-descriptions-item>
      <nz-descriptions-item nzTitle="Servida"><fi-sas-tag [value]="data['is_served']" [results]="YesNoTag"></fi-sas-tag></nz-descriptions-item>
      <nz-descriptions-item nzTitle="Pack"><fi-sas-tag [value]="data['is_from_pack']" [results]="YesNoTag"></fi-sas-tag></nz-descriptions-item>
      <nz-descriptions-item nzTitle="Servida em">{{ data.served_at ? (data.served_at | date: 'medium') : '-'}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Servida por">{{ data.served_by_user ? data.served_by_user.name : '-'}}</nz-descriptions-item>
    </nz-descriptions>
  </nz-tab>
</nz-tabset>