<!--- OPTIONS -->
<div nz-row style="margin: 24px 0px;">
  <div nz-col [nzSm]="1" [nzXs]="1"></div>
  <div nz-col [nzSm]="22" [nzXs]="22">
    <app-button translate="MISC.CANCEL" (click)="back()" [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}"
      type="tertiary"></app-button>
  </div>

  <div nz-col [nzSm]="1" [nzXs]="1"></div>
</div>


<!--- CONTENT -->
<div nz-row>
  <div nz-col [nzSm]="1" [nzXs]="1"></div>
  <div nz-col [nzSm]="22" [nzXs]="22">
    <div nz-row class="content__space" style="margin-top:0px">

      <div class="content content__prog">
        <!--XL to XXL-->
        <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="0" [nzXl]="24" [nzXXl]="24">
          <nz-steps class="content__line" [nzCurrent]="current" nzProgressDot>
            <nz-step nzTitle="{{ 'MOBILITY.APPLICATION_FORM.IDENTIFICATION' | translate }}"
              nzDescription="{{ 'MOBILITY.APPLICATION_FORM.STEP.STEP1' | translate }}">
            </nz-step>
            <nz-step nzTitle="{{ 'MOBILITY.APPLICATION_FORM.CONTACTS' | translate }}"
              nzDescription="{{ 'MOBILITY.APPLICATION_FORM.STEP.STEP2' | translate }}">
            </nz-step>
            <nz-step nzTitle="{{ 'MOBILITY.APPLICATION_FORM.APPLICATION' | translate }}"
              nzDescription="{{ 'MOBILITY.APPLICATION_FORM.STEP.STEP3' | translate }}">
            </nz-step>
            <nz-step nzTitle="{{ 'MOBILITY.APPLICATION_FORM.OBSERVATIONS' | translate }}"
              nzDescription="{{ 'MOBILITY.APPLICATION_FORM.STEP.STEP4' | translate }}">
            </nz-step>
            <nz-step nzTitle="{{ 'MOBILITY.APPLICATION_FORM.REGULATION' | translate }}"
              nzDescription="{{ 'MOBILITY.APPLICATION_FORM.STEP.STEP5' | translate }}">
            </nz-step>
            <nz-step nzTitle="{{ 'MOBILITY.APPLICATION_FORM.REVISION' | translate }}"
              nzDescription="{{ 'MOBILITY.APPLICATION_FORM.STEP.STEP6' | translate }}">
            </nz-step>
          </nz-steps>
        </div>
        <!--XS to SM-->
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="0" [nzXXl]="0">
          <div *ngIf="current===0">
            <p class="steps-minimal-size_title">
              {{ 'MOBILITY.APPLICATION_FORM.IDENTIFICATION' | translate }}
            </p>
            <p class="steps-minimal-size_sub-title">
              {{ 'MOBILITY.APPLICATION_FORM.STEP.STEP1_TOTAL' | translate }}
            </p>
          </div>
          <div *ngIf="current===1">
            <p class="steps-minimal-size_title">
              {{ 'MOBILITY.APPLICATION_FORM.CONTACTS' | translate }}
            </p>
            <p class="steps-minimal-size_sub-title">
              {{ 'MOBILITY.APPLICATION_FORM.STEP.STEP2_TOTAL' | translate }}
            </p>
          </div>
          <div *ngIf="current===2">
            <p class="steps-minimal-size_title">
              {{ 'MOBILITY.APPLICATION_FORM.APPLICATION' | translate }}
            </p>
            <p class="steps-minimal-size_sub-title">
              {{ 'MOBILITY.APPLICATION_FORM.STEP.STEP3_TOTAL' | translate }}
            </p>
          </div>
          <div *ngIf="current===3">
            <p class="steps-minimal-size_title">
              {{ 'MOBILITY.APPLICATION_FORM.OBSERVATIONS' | translate }}
            </p>
            <p class="steps-minimal-size_sub-title">
              {{ 'MOBILITY.APPLICATION_FORM.STEP.STEP4_TOTAL' | translate }}
            </p>
          </div>
          <div *ngIf="current===4">
            <p class="steps-minimal-size_title">
              {{ 'MOBILITY.APPLICATION_FORM.REGULATION' | translate }}
            </p>
            <p class="steps-minimal-size_sub-title">
              {{ 'MOBILITY.APPLICATION_FORM.STEP.STEP5_TOTAL' | translate }}
            </p>
          </div>
          <div *ngIf="current===5">
            <p class="steps-minimal-size_title">
              {{ 'MOBILITY.APPLICATION_FORM.REVISION' | translate }}
            </p>
            <p class="steps-minimal-size_sub-title">
              {{ 'MOBILITY.APPLICATION_FORM.STEP.STEP6_TOTAL' | translate }}
            </p>
          </div>

        </div>
      </div>
      <nz-divider class="divider"></nz-divider>

      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="application_form">
        <form nz-form [formGroup]="applicationGroup" nzLayout="horizontal">
          <div nz-row *ngIf="showErrorMessage" class="bottom">
            <div nz-col nzSpan="24">
              <nz-alert nzType="error" [nzMessage]="'MISC.ERROR_GENERIC' | translate"></nz-alert>
            </div>
          </div>
          <div *ngIf="index === 'identification'">
           
            <p class="title-step-form"> {{ "MOBILITY.APPLICATION_FORM.IDENTIFICATION" | translate }}
            </p>
            <p>{{'MISC.REQUIRED-INFO' | translate }}<span class="error"><b>*</b></span> {{'MISC.REQUIRED-INFO-2' | translate }}</p>
            <div *ngIf="existInfoStep('MOBILITY_APPLICATION_STEP_1')" class="hidden-xs">
              <div *ngIf="!openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="icons:icons-icons-info" nzTheme="outline" class="icon" id="icon-info-text-form"
                  (click)="openInfo = true"></i>
              </div>
              <div *ngIf="openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="close" nzTheme="outline" style="cursor: pointer;" (click)="openInfo = false"></i>
              </div>
            </div>
            <div nzType="flex" style="align-items: stretch;">
              <div [ngClass]="{'with-info': !openInfo, 'without-info': openInfo}">
                <div nz-row>
                  <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="academic_year" class="primary-input-label">
                        {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_IDENTIFICATION.SCHOOL_YEAR'|translate}}
                      </nz-form-label>
                      <nz-form-control>
                        <input  nz-input class="primary-input" mask="0000-0000" [dropSpecialCharacters]="false" [showMaskTyped]="true"
                          formControlName="academic_year" id="academic_year" />
                      </nz-form-control>
                      <nz-form-explain class="error"
                        *ngIf="applicationGroup.get('academic_year')?.dirty && applicationGroup.get('academic_year').errors">
                        {{ getInputError('academic_year') | translate }}
                      </nz-form-explain>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row>
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="name">
                      <b>{{ 'MOBILITY.APPLICATION_FORM.NAME' | translate }}</b>
                    </nz-form-label>
                    <nz-form-control>
                      <input nz-input formCondiv formControlName="name" id="name" placeholder="ex. João Pedro"
                        [attr.disabled]="loggedUser?.name" class="primary-input" />
                      <nz-form-explain class="error"
                        *ngIf="applicationGroup.get('name')?.dirty && applicationGroup.get('name').errors">
                        {{ getInputError("name") | translate }}</nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-row>
                  <div nz-col [nzXs]="24" [nzMd]="11">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="birth_date">
                        <b>{{ 'MOBILITY.APPLICATION_FORM.BIRTH_DATE' | translate }}</b>
                      </nz-form-label>
                      <nz-form-control>
                        <nz-date-picker formCondiv formControlName="birth_date" id="birth_date"
                          class="primary-datePicker" [nzDisabled]="loggedUser?.birth_date"></nz-date-picker>
                        <nz-form-explain class="error"
                          *ngIf="applicationGroup.get('birth_date')?.dirty && applicationGroup.get('birth_date').errors">
                          {{ getInputError("birth_date") | translate }}</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col [nzXs]="24" [nzMd]="11">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="nationality">
                        <b>{{ 'MOBILITY.APPLICATION_FORM.NATIONALITY' | translate }}</b>
                      </nz-form-label>
                      <nz-form-control>
                        <nz-select class="black-text" formCondiv formControlName="nationality" id="nationality"
                          placeholder="Portugal" [nzDisabled]="loggedUser?.country" class="primary-select">
                          <nz-option *ngFor="let country of countries" [nzLabel]="country.translate"
                            [nzValue]="country.value">
                          </nz-option>
                        </nz-select>
                        <nz-form-explain class="error"
                          *ngIf="applicationGroup.get('nationality')?.dirty && applicationGroup.get('nationality').errors">
                          {{ getInputError("nationality") | translate }}</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col [nzXs]="0" [nzMd]="2">
                  </div>
                  <div nz-col [nzXs]="24" [nzMd]="11">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="tin">
                        <b>{{ 'MOBILITY.APPLICATION_FORM.TIN' | translate }}</b>
                      </nz-form-label>
                      <nz-form-control>
                        <input nz-input formCondiv formControlName="tin" id="tin" placeholder="99999990"
                          [attr.disabled]="loggedUser?.tin" class="primary-input" />
                        <nz-form-explain class="error"
                          *ngIf="applicationGroup.get('tin')?.dirty && applicationGroup.get('tin').errors">
                          {{ getInputError("tin") | translate }}</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col [nzXs]="24" [nzMd]="11">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="identification">
                        <b>{{ 'MOBILITY.APPLICATION_FORM.DOCUMENT_TYPE' | translate }}</b>
                      </nz-form-label>
                      <nz-form-control>
                        <nz-select formControlName="document_type_id" [nzMode]="'default'" nzShowSearch nzAllowClear
                          class="black-text" [nzDisabled]="loggedUser?.document_type_id" class="primary-select">
                          <ng-container *ngFor="let type of documentTypes">
                            <nz-option [nzValue]="type.id"
                              [nzLabel]="(type?.translations | languageChange).description">
                            </nz-option>
                          </ng-container>
                        </nz-select>
                        <nz-form-explain class="error"
                          *ngIf="applicationGroup.get('document_type_id')?.dirty && applicationGroup.get('document_type_id').errors">
                          {{ getInputError("document_type_id") | translate }}</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>

                  </div>
                  <div nz-col [nzXs]="0" [nzMd]="2">
                  </div>
                  <div nz-col [nzXs]="24" [nzMd]="11">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="identification">
                        <b>{{ 'MOBILITY.APPLICATION_FORM.IDENTIFICATION_NUMBER' | translate }}</b>
                      </nz-form-label>
                      <nz-form-control>
                        <input nz-input formCondiv formControlName="identification" id="identification"
                          [attr.disabled]="loggedUser?.identification" placeholder="558855647" class="primary-input" />
                        <nz-form-explain class="error"
                          *ngIf="applicationGroup.get('identification')?.dirty && applicationGroup.get('identification').errors">
                          {{ getInputError("identification") | translate }}</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col [nzXs]="24" [nzMd]="11">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="student_number">
                        <b>{{ 'MOBILITY.APPLICATION_FORM.STUDENT_NUMBER' | translate }}</b>
                      </nz-form-label>
                      <nz-form-control>
                        <input nz-input formCondiv formControlName="student_number" id="student_number"
                          placeholder="AA1234" [attr.disabled]="loggedUser?.student_number" class="primary-input" />
                        <nz-form-explain class="error"
                          *ngIf="applicationGroup.get('student_number')?.dirty && applicationGroup.get('student_number').errors">
                          {{ getInputError("student_number") | translate }}</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col [nzXs]="24" [nzMd]="11">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="course_year">
                        <b>{{ 'MOBILITY.APPLICATION_FORM.COURSE_YEAR' | translate }}</b>
                      </nz-form-label>
                      <nz-form-control>
                        <nz-input-number class="primary-input" formCondiv formControlName="course_year" id="course_year"
                          [nzDisabled]="loggedUser?.course_year" placeholder="1">
                        </nz-input-number>
                        <nz-form-explain class="error"
                          *ngIf="applicationGroup.get('course_year')?.dirty && applicationGroup.get('course_year').errors">
                          {{ getInputError("course_year") | translate }}</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row>
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="school_id">
                      <b>{{ 'MOBILITY.APPLICATION_FORM.SCHOOL' | translate }}</b>
                    </nz-form-label>
                    <nz-form-control>
                      <nz-select class="black-text" formCondiv formControlName="school_id" id="school_id"
                        class="primary-select" placeholder="ex. ESTG..." nzShowSearch="div nz-rowue"
                        (ngModelChange)="filterDegrees()" [nzDisabled]="loggedUser?.organic_unit_id">
                        <nz-option *ngFor="let school of schools" [nzLabel]="school.name" [nzValue]="school.id"
                          [nzDisabled]="!school.active">
                        </nz-option>
                      </nz-select>
                      <nz-form-explain class="error"
                        *ngIf="applicationGroup.get('school_id')?.dirty && applicationGroup.get('school_id').errors">
                        {{ getInputError("school_id") | translate }}</nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-row>
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="course_degree_id">
                      <b>{{ 'MOBILITY.APPLICATION_FORM.COURSE_DEGREE' | translate }}</b>
                    </nz-form-label>
                    <nz-form-control>
                      <nz-select class="black-text" formCondiv formControlName="course_degree_id" id="course_degree_id"
                        class="primary-select" placeholder="ex. Licenciatura..." nzShowSearch="div nz-rowue"
                        (ngModelChange)="filterCourses()" [nzDisabled]="loggedUser?.course_degree_id">
                        <nz-option *ngFor="let cd of course_degrees" [nzLabel]="cd.name" [nzValue]="cd.id"
                          [nzDisabled]="!cd.active">
                        </nz-option>
                      </nz-select>
                      <nz-form-explain class="error"
                        *ngIf="applicationGroup.get('course_degree_id')?.dirty && applicationGroup.get('course_degree_id').errors">
                        {{ getInputError("course_degree_id") | translate }}</nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-row>
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="course_id">
                      <b>{{ 'MOBILITY.APPLICATION_FORM.COURSE' | translate }}</b>
                    </nz-form-label>
                    <nz-form-control>
                      <nz-select class="black-text" formCondiv formControlName="course_id" id="course_id"
                        class="primary-select" placeholder="ex. Engenharia ..." nzShowSearch="div nz-rowue"
                        [nzDisabled]="!this.applicationGroup.controls.course_degree_id.value || !this.applicationGroup.controls.school_id.value || loggedUser?.course_id">
                        <nz-option *ngFor="let course of filtered_courses" [nzLabel]="course.name" [nzValue]="course.id"
                          [nzDisabled]="!course.active">
                        </nz-option>
                      </nz-select>
                      <nz-form-explain class="error"
                        *ngIf="applicationGroup.get('course_id')?.dirty && applicationGroup.get('course_id').errors">
                        {{ getInputError("course_id") | translate }}</nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
            <div *ngIf="existInfoStep('MOBILITY_APPLICATION_STEP_1')" class="hidden-md" nz-col>
              <div *ngIf="!openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="icons:icons-icons-info" nzTheme="outline" class="icon" id="icon-info-text-form"
                  (click)="openInfo = true"></i>
              </div>
              <div *ngIf="openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="close" nzTheme="outline" style="cursor: pointer;" (click)="openInfo = false"></i>
              </div>
            </div>
            <div *ngIf="openInfo" [ngClass]="{'info': openInfo}" nz-col>
              <label class="title-info">{{ 'ACCOMMODATION.APPLICATIONS.INFO_TITLE' |
                translate }}</label>
              <div [innerHTML]="getHTML((infoApresent | languageChange)?.info)">
              </div>
            </div>
          </div>

          <div *ngIf="index === 'contacts'">
            <p class="title-step-form"> {{ "MOBILITY.APPLICATION_FORM.CONTACTS" | translate }}
            </p>

            <div *ngIf="existInfoStep('MOBILITY_APPLICATION_STEP_2')" class="hidden-xs">
              <div *ngIf="!openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="icons:icons-icons-info" nzTheme="outline" class="icon" id="icon-info-text-form"
                  (click)="openInfo = true"></i>
              </div>
              <div *ngIf="openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="close" nzTheme="outline" style="cursor: pointer;" (click)="openInfo = false"></i>
              </div>
            </div>
            <div nzType="flex" style="align-items: stretch;">
              <div [ngClass]="{'with-info': !openInfo, 'without-info': openInfo}">
                <div nz-row>
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="email">
                      <b>{{ 'MOBILITY.APPLICATION_FORM.EMAIL' | translate }}</b>
                    </nz-form-label>
                    <nz-form-control>
                      <input nz-input formCondiv formControlName="email" id="email" placeholder="joao@email.pt"
                        [attr.disabled]="loggedUser?.email" class="primary-input" />
                      <nz-form-explain class="error"
                        *ngIf="applicationGroup.get('email')?.dirty && applicationGroup.get('email').errors">
                        {{ getInputError("email") | translate }}</nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-row>
                  <div nz-col [nzXs]="24" [nzMd]="11">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="phone_1">
                        <b>{{ 'MOBILITY.APPLICATION_FORM.PHONE_1' | translate }}</b>
                      </nz-form-label>
                      <nz-form-control>
                        <input nz-input formCondiv formControlName="phone_1" id="phone_1" placeholder="ex. 982426582"
                          [attr.disabled]="loggedUser?.phone" class="primary-input" />
                        <nz-form-explain class="error"
                          *ngIf="applicationGroup.get('phone_1')?.dirty && applicationGroup.get('phone_1').errors">
                          {{ getInputError("phone_1") | translate }}</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col [nzXs]="0" [nzMd]="2">
                  </div>
                  <div nz-col [nzXs]="24" [nzMd]="11">
                    <nz-form-item>
                      <nz-form-label nzFor="phone_2"><b>{{ 'MOBILITY.APPLICATION_FORM.PHONE_2' |
                          translate
                          }}</b>
                      </nz-form-label>
                      <nz-form-control>
                        <input nz-input formCondiv formControlName="phone_2" id="phone_2" placeholder="ex. 256753426"
                          class="primary-input" />
                        <nz-form-explain class="error"
                          *ngIf="applicationGroup.get('phone_2')?.dirty && applicationGroup.get('phone_2').errors">
                          {{ getInputError("phone_2") | translate }}</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="existInfoStep('MOBILITY_APPLICATION_STEP_2')" class="hidden-md" nz-col>
              <div *ngIf="!openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="icons:icons-icons-info" nzTheme="outline" class="icon" id="icon-info-text-form"
                  (click)="openInfo = true"></i>
              </div>
              <div *ngIf="openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="close" nzTheme="outline" style="cursor: pointer;" (click)="openInfo = false"></i>
              </div>
            </div>
            <div *ngIf="openInfo" [ngClass]="{'info': openInfo}" nz-col>
              <label class="title-info">{{ 'ACCOMMODATION.APPLICATIONS.INFO_TITLE' |
                translate }}</label>
              <div [innerHTML]="getHTML((infoApresent | languageChange)?.info)">
              </div>
            </div>
          </div>

          <div *ngIf="index === 'application'">
            <p class="title-step-form"> {{ "MOBILITY.APPLICATION_FORM.APPLICATION" | translate }}
            </p>
            <div *ngIf="existInfoStep('MOBILITY_APPLICATION_STEP_3')" class="hidden-xs">
              <div *ngIf="!openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="icons:icons-icons-info" nzTheme="outline" class="icon" id="icon-info-text-form"
                  (click)="openInfo = true"></i>
              </div>
              <div *ngIf="openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="close" nzTheme="outline" style="cursor: pointer;" (click)="openInfo = false"></i>
              </div>
            </div>
            <div nzType="flex" style="align-items: stretch;">
              <div [ngClass]="{'with-info': !openInfo, 'without-info': openInfo}">
                <div nz-row>
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="renovation">
                      <b>{{ 'MOBILITY.APPLICATION_FORM.RENOVATION' | translate }}</b>
                    </nz-form-label>
                    <nz-form-control>
                      <nz-radio-group formControlName="renovation" [nzSize]="'small'">
                        <label nz-radio [nzValue]=true>{{ 'MISC.YES' | translate
                          }}</label>
                        <label nz-radio [nzValue]=false>{{ 'MISC.NO' | translate
                          }}</label>
                      </nz-radio-group>

                      <nz-form-explain class="error"
                        *ngIf="applicationGroup.get('renovation')?.dirty && applicationGroup.get('renovation').errors">
                        {{ getInputError("renovation") | translate }}</nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div nz-row>
                  <div nz-col nzSpan="6" style="font-size: 16px;padding-top: 15px;">
                    <b>{{ 'MOBILITY.APPLICATION_FORM.MORNING_ROUTE' | translate }}</b>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col [nzXs]="24" [nzMd]="11">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="morning_local_id_from">
                        <b>{{ 'MOBILITY.APPLICATION_FORM.DEPARTURE' | translate }}</b>
                      </nz-form-label>
                      <nz-form-control>
                        <nz-select formCondiv formControlName="morning_local_id_from" id="morning_local_id_from"
                          class="primary-select" nzPlaceHolder="" nzShowSearch="div nz-rowue">
                          <nz-option *ngFor="let local of locals" [nzLabel]="local.local" [nzValue]="local.id">
                          </nz-option>
                        </nz-select>
                        <nz-form-explain class="error"
                          *ngIf="applicationGroup.get('morning_local_id_from')?.dirty && applicationGroup.get('morning_local_id_from').errors">
                          {{ getInputError("morning_local_id_from") | translate }}</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>

                  </div>
                  <div nz-col [nzXs]="0" [nzMd]="2">
                  </div>
                  <div nz-col [nzXs]="24" [nzMd]="11">

                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="morning_local_id_to">
                        <b> {{ 'MOBILITY.APPLICATION_FORM.ARRIVAL' | translate }}</b>
                      </nz-form-label>
                      <nz-form-control>
                        <nz-select formCondiv formControlName="morning_local_id_to" id="morning_local_id_to"
                          class="primary-select" nzPlaceHolder="" nzShowSearch="div nz-rowue">
                          <nz-option *ngFor="let local of locals" [nzLabel]="local.local" [nzValue]="local.id">
                          </nz-option>
                        </nz-select>
                        <nz-form-explain class="error"
                          *ngIf="applicationGroup.get('morning_local_id_to')?.dirty && applicationGroup.get('morning_local_id_to').errors">
                          {{ getInputError("morning_local_id_to") | translate }}</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>

                <div nz-row>
                  <div nz-col nzSpan="6" style="font-size: 16px; padding-top: 20px;">
                    <b>{{ 'MOBILITY.APPLICATION_FORM.LATE_ROUTE' | translate }}</b>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col [nzXs]="24" [nzMd]="11">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="afternoon_local_id_from">
                        <b>{{ 'MOBILITY.APPLICATION_FORM.DEPARTURE' | translate }}</b>
                      </nz-form-label>
                      <nz-form-control>
                        <nz-select formCondiv formControlName="afternoon_local_id_from" id="afternoon_local_id_from"
                          class="primary-select" nzPlaceHolder="" nzShowSearch="div nz-rowue">
                          <nz-option *ngFor="let local of locals" [nzLabel]="local.local" [nzValue]="local.id">
                          </nz-option>
                        </nz-select>
                        <nz-form-explain class="error"
                          *ngIf="applicationGroup.get('afternoon_local_id_from')?.dirty && applicationGroup.get('afternoon_local_id_from').errors">
                          {{ getInputError("afternoon_local_id_from") | translate }}</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col [nzXs]="0" [nzMd]="2">
                  </div>
                  <div nz-col [nzXs]="24" [nzMd]="11">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="afternoon_local_id_to">
                        <b>{{ 'MOBILITY.APPLICATION_FORM.ARRIVAL' | translate }}</b>
                      </nz-form-label>
                      <nz-form-control>
                        <nz-select formCondiv formControlName="afternoon_local_id_to" id="afternoon_local_id_to"
                          class="primary-select" nzPlaceHolder="" nzShowSearch="div nz-rowue">
                          <nz-option *ngFor="let local of locals" [nzLabel]="local.local" [nzValue]="local.id">
                          </nz-option>
                        </nz-select>
                        <nz-form-explain class="error"
                          *ngIf="applicationGroup.get('afternoon_local_id_to')?.dirty && applicationGroup.get('afternoon_local_id_to').errors">
                          {{ getInputError("afternoon_local_id_to") | translate }}</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="existInfoStep('MOBILITY_APPLICATION_STEP_3')" class="hidden-md" nz-col>
              <div *ngIf="!openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="icons:icons-icons-info" nzTheme="outline" class="icon" id="icon-info-text-form"
                  (click)="openInfo = true"></i>
              </div>
              <div *ngIf="openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="close" nzTheme="outline" style="cursor: pointer;" (click)="openInfo = false"></i>
              </div>
            </div>
            <div *ngIf="openInfo" [ngClass]="{'info': openInfo}" nz-col>
              <label class="title-info">{{ 'ACCOMMODATION.APPLICATIONS.INFO_TITLE' |
                translate }}</label>
              <div [innerHTML]="getHTML((infoApresent | languageChange)?.info)">
              </div>
            </div>
          </div>

          <div *ngIf="index === 'observations'">
            <p class="title-step-form"> {{ "MOBILITY.APPLICATION_FORM.OBSERVATIONS" | translate }}
            </p>
            <div *ngIf="existInfoStep('MOBILITY_APPLICATION_STEP_4')" class="hidden-xs">
              <div *ngIf="!openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="icons:icons-icons-info" nzTheme="outline" class="icon" id="icon-info-text-form"
                  (click)="openInfo = true"></i>
              </div>
              <div *ngIf="openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="close" nzTheme="outline" style="cursor: pointer;" (click)="openInfo = false"></i>
              </div>
            </div>
            <div nzType="flex" style="align-items: stretch;">
              <div [ngClass]="{'with-info': !openInfo, 'without-info': openInfo}">
                <div nz-row>
                  <nz-form-item>
                    <nz-form-label nzFor="observations">
                      <b>{{ 'MOBILITY.APPLICATION_FORM.OBSERVATIONS' | translate }}</b>
                    </nz-form-label>
                    <nz-form-control>
                      <textarea nz-input formCondiv formControlName="observations" id="observations"
                      rows="5" maxlength="255" placeholder=""></textarea>
                      <nz-form-explain class="error"
                        *ngIf="applicationGroup.get('observations')?.dirty && applicationGroup.get('observations').errors">
                        {{ getInputError("observations") | translate }}</nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>

              </div>
            </div>
            <div *ngIf="existInfoStep('MOBILITY_APPLICATION_STEP_4')" class="hidden-md" nz-col>
              <div *ngIf="!openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="icons:icons-icons-info" nzTheme="outline" class="icon" id="icon-info-text-form"
                  (click)="openInfo = true"></i>
              </div>
              <div *ngIf="openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="close" nzTheme="outline" style="cursor: pointer;" (click)="openInfo = false"></i>
              </div>
            </div>
            <div *ngIf="openInfo" [ngClass]="{'info': openInfo}" nz-col>
              <label class="title-info">{{ 'ACCOMMODATION.APPLICATIONS.INFO_TITLE' |
                translate }}</label>
              <div [innerHTML]="getHTML((infoApresent | languageChange)?.info)">
              </div>
            </div>
          </div>
          <div *ngIf="index === 'regulamentation'">
            <p class="title-step-form"> {{ "MOBILITY.APPLICATION_FORM.REGULATION" | translate }}
            </p>
            <div *ngIf="existInfoStep('MOBILITY_APPLICATION_STEP_5')" class="hidden-xs">
              <div *ngIf="!openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="icons:icons-icons-info" nzTheme="outline" class="icon" id="icon-info-text-form"
                  (click)="openInfo = true"></i>
              </div>
              <div *ngIf="openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="close" nzTheme="outline" style="cursor: pointer;" (click)="openInfo = false"></i>
              </div>
            </div>
            <div nzType="flex" style="align-items: stretch;">
              <div [ngClass]="{'with-info': !openInfo, 'without-info': openInfo}">

                <div nz-row>
                  <label style="color: black;" nz-checkbox formCondiv formControlName="accept_procedure"
                    id="accept_procedure"><b>{{
                      'MOBILITY.APPLICATION_FORM.ACCEPT_REGULATION' | translate }}</b></label>
                  <nz-form-explain class="error"
                    *ngIf="submitted && applicationGroup.get('accept_procedure').value == false">
                    {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}</nz-form-explain>
                  <br>
                  <br>

                  <a [href]="regulation_url" target="_blank">{{ 'MOBILITY.APPLICATION_FORM.SEE_REGULATION' |
                    translate
                    }}</a>

                </div>
              </div>
            </div>
            <div *ngIf="existInfoStep('MOBILITY_APPLICATION_STEP_5')" class="hidden-md" nz-col>
              <div *ngIf="!openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="icons:icons-icons-info" nzTheme="outline" class="icon" id="icon-info-text-form"
                  (click)="openInfo = true"></i>
              </div>
              <div *ngIf="openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="close" nzTheme="outline" style="cursor: pointer;" (click)="openInfo = false"></i>
              </div>
            </div>
            <div *ngIf="openInfo" [ngClass]="{'info': openInfo}" nz-col>
              <label class="title-info">{{ 'ACCOMMODATION.APPLICATIONS.INFO_TITLE' |
                translate }}</label>
              <div [innerHTML]="getHTML((infoApresent | languageChange)?.info)">
              </div>
            </div>
          </div>

          <div *ngIf="index === 'revision'" class="content__steps-content__revision">
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="title-step-form"> {{ "MOBILITY.APPLICATION_FORM.REVISION" | translate }}
                </p>
                <p class="detail-text">{{ 'ACCOMMODATION.APPLICATIONS.STEP_ELEVEN.DESC' |
                  translate }}</p>
              </div>

              <nz-divider></nz-divider>
            </div>
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
                {{ 'MOBILITY.APPLICATION_FORM.IDENTIFICATION' | translate }}
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
                <button nz-button class="button-edit-review" nzType="default" (click)="goTo(0)">
                  <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
                </button>
              </div>
            </div>
            <div nz-row>

              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.APPLICATION_FORM.NAME' | translate }}</p>
                <p class="desc-resume">{{ applicationGroup.value.name }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.APPLICATION_FORM.BIRTH_DATE' | translate }}</p>
                <p class="desc-resume">{{ applicationGroup.value.birth_date }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.APPLICATION_FORM.NATIONALITY' | translate }}</p>
                <p class="desc-resume">{{ applicationGroup.value.nationality }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.APPLICATION_FORM.TIN' | translate }}</p>
                <p class="desc-resume">{{ applicationGroup.value.tin }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.APPLICATION_FORM.DOCUMENT_TYPE' | translate }}</p>
                <p class="desc-resume">{{ getDocumentTypeDescription(applicationGroup.value.document_type_id) }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.APPLICATION_FORM.IDENTIFICATION_NUMBER' | translate }}</p>
                <p class="desc-resume">{{ applicationGroup.value.identification }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.APPLICATION_FORM.STUDENT_NUMBER' | translate }}</p>
                <p class="desc-resume">{{ applicationGroup.value.student_number }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.APPLICATION_FORM.COURSE_YEAR' | translate }}</p>
                <p class="desc-resume">{{ applicationGroup.value.course_year }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.APPLICATION_FORM.SCHOOL' | translate }}</p>
                <p class="desc-resume"> {{ applicationGroup.value.school_id ?
                  getSchool(applicationGroup.value.school_id).name : '-' }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.APPLICATION_FORM.COURSE_DEGREE' | translate }}</p>
                <p class="desc-resume"> {{ applicationGroup.value.course_degree_id ?
                  getCourseDegree(applicationGroup.value.course_degree_id).name
                  : '-' }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.APPLICATION_FORM.COURSE' | translate }}</p>
                <p class="desc-resume"> {{ applicationGroup.value.course_id ?
                  getCourse(applicationGroup.value.course_id).name : '-' }}</p>
              </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
                {{ 'MOBILITY.APPLICATION_FORM.CONTACTS' | translate }}
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
                <button nz-button class="button-edit-review" nzType="default" (click)="goTo(1)">
                  <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
                </button>
              </div>
            </div>
            <div nz-row>

              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.APPLICATION_FORM.EMAIL' | translate }}</p>
                <p class="desc-resume">{{ applicationGroup.value.email }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.APPLICATION_FORM.PHONE_1' | translate }}</p>
                <p class="desc-resume">{{ applicationGroup.value.phone_1 }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.APPLICATION_FORM.PHONE_2' | translate }}</p>
                <p class="desc-resume">{{ applicationGroup.value.phone_2 }}</p>
              </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
                {{ 'MOBILITY.APPLICATION_FORM.APPLICATION' | translate }}
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
                <button nz-button class="button-edit-review" nzType="default" (click)="goTo(2)">
                  <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
                </button>
              </div>
            </div>
            <div nz-row>

              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.APPLICATION_FORM.RENOVATION' | translate }}</p>
                <p class="desc-resume">{{ applicationGroup.value.renovation | yesOrNo: { yes: 'Sim', no: 'Não' } }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">

                <p class="desc-resume" style="font-size: 15px;">{{ 'MOBILITY.APPLICATION_FORM.MORNING_ROUTE' | translate
                  }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.APPLICATION_FORM.DEPARTURE' | translate }}</p>
                <p class="desc-resume"> {{ applicationGroup.value.morning_local_id_from ?
                  getLocal(applicationGroup.value.morning_local_id_from).local : '-' }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.APPLICATION_FORM.ARRIVAL' | translate }}</p>
                <p class="desc-resume"> {{ applicationGroup.value.morning_local_id_to ?
                  getLocal(applicationGroup.value.morning_local_id_to).local
                  : '-' }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">

                <p class="desc-resume" style="font-size: 15px;">{{ 'MOBILITY.APPLICATION_FORM.LATE_ROUTE' | translate }}
                </p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.APPLICATION_FORM.DEPARTURE' | translate }}</p>
                <p class="desc-resume"> {{ applicationGroup.value.afternoon_local_id_from ?
                  getLocal(applicationGroup.value.afternoon_local_id_from).local : '-' }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.APPLICATION_FORM.ARRIVAL' | translate }}</p>
                <p class="desc-resume"> {{ applicationGroup.value.afternoon_local_id_to ?
                  getLocal(applicationGroup.value.afternoon_local_id_to).local : '-' }}</p>
              </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
                {{ 'MOBILITY.APPLICATION_FORM.OBSERVATIONS' | translate }}
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
                <button nz-button class="button-edit-review" nzType="default" (click)="goTo(3)">
                  <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
                </button>
              </div>
            </div>
            <div nz-row>

              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.APPLICATION_FORM.OBSERVATIONS' | translate }}</p>
                <p class="desc-resume">{{ applicationGroup.value.observations }}</p>
              </div>
            </div>

          </div>
        </form>
      </div>

      <div class="content__steps-action">
        <app-button *ngIf="current > 0" (click)="pre()" style="margin-right: 15px;" [translate]="'MISC.BACK'"
          [type]="'secundary'"></app-button>
        <app-button *ngIf="current < 5" (click)="next()" [translate]="'MISC.NEXT'"></app-button>
        <app-button *ngIf="current === 5" [loading]="loading" (click)="done()" [translate]="'MISC.SUBMIT'">
        </app-button>

      </div>
    </div>
  </div>
  <div nz-col [nzSm]="1" [nzXs]="1"></div>
</div>