::ng-deep:host {
  .list-dish {
    &__row {}
    &__item {
      margin-bottom: 15px;
    }
  }
}

.title {
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  color: var(--primary-color);
}

.success-model {
  border-radius: 10px;

  &--content {
    margin-top: 10%;
  }

  &--title {
    font-family: Montserrat;
    letter-spacing: normal;
    line-height: 1.14;
    text-align: center !important;
    width: 100%;
  }

  &--subtitle {
    color: #222222;
    font-family: Montserrat;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.6;
    text-align: center;
  }

  &--icon {
    height: 120px;

    img {
      height: 100px;
      width: 100px;
    }
  }

  &--accept-text {
    color: #111111;
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 1.14;
    margin-bottom: 20px;
    text-align: center;
  }

  &--feedback {
    color: #222222;
    font-family: Montserrat;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.38;
    margin-bottom: 20px;
    text-align: center;
  }
}