<div class="title" nz-row *ngIf="nameService && meal">
    <label>{{nameService}} - {{meal == 'dinner' ? ('ALIMENTATION.MEALS.DINNER' | translate) : ('ALIMENTATION.MEALS.LUNCH' | translate)}}</label>
</div>

<nz-list [nzSplit]= "false" [nzLoading] = "isLoading" [nzDataSource]="menus"  [nzRenderItem]="dish" [nzGrid]="{gutter: 16 ,xs: 24, sm: 24, md: 12, lg: 8, xl: 6, xxl: 4 }">

  <ng-template #dish let-dish>

    <nz-list-item [nzContent]="nzDish">
      <ng-template #nzDish>
        <app-dish-card [dish]="dish" [meal]="meal" [date]="date.date" (modalSuccess)="modalSuccessChange($event)" [serviceID] = serviceId (newBuy)="returnBuy($event)" (refresh)="refreshMenu($event)"></app-dish-card>
      </ng-template>
    </nz-list-item>

  </ng-template>

</nz-list>






<!--Modal success-->
<nz-modal [nzVisible]="modalSuccess" (nzOnCancel)="modalSuccess = false"  [nzFooter] = "null" [nzWidth]= "350">
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col class="success-model--title title-top-page">{{('DASHBOARD.BUTTON.ALIMENTATION' | translate)}}</div>
  </div>
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col class="success-model--subtitle">{{'ALIMENTATION.MODAL_SUCCESS.TITLE'|translate}}</div>
  </div>
  <div nz-row nzType="flex" nzJustify="center" nzAlign="middle" class="success-model--icon">
    <img src="/assets/imgs/Success.PNG" alt="">
  </div>
  <div nz-row nzType="flex" nzJustify="center" nzAlign="center" class="success-model--accept-text">
    <div nz-col>{{'ALIMENTATION.MODAL_SUCCESS.TEXT'|translate}}</div>
  </div>
</nz-modal>