<div nz-row>
  <p *ngIf="!consultation" class="detail-text">{{ 'ACCOMMODATION.APPLICATIONS.STEP_ELEVEN.DESC' | translate }}
  </p>
  <p *ngIf="consultation" class="detail-text">{{ 'U_BIKE.APPLICATIONS.DESC' | translate
    }}</p>
  <nz-divider></nz-divider>
</div>

<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="title-resume">
    {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.IDENTIFICATION' | translate }}
  </div>
</div>

<div nz-row>

  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume">{{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.NAME' | translate }}</p>
    <p class="desc-resume">{{ application.student_name || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume">{{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.ADDRESS' | translate }}</p>
    <p class="desc-resume">{{ application.student_address || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.POSTAL_CODE' | translate }}</p>
    <p class="desc-resume">{{ application.student_code_postal || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume">{{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.LOCAL' | translate }}</p>
    <p class="desc-resume">{{ application.student_location || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume">{{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.BIRTH_DATE' | translate }}</p>
    <p class="desc-resume"> {{ application.student_birthdate | date: 'dd/MM/yyyy' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_IDENTIFICATION.NATIONALITY' | translate }}</p>
    <p class="desc-resume">{{ application.student_nationality || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24">
    <p class="sub-title-resume"> {{ 'PERSONAL_DATA_PAGE.GENDER' | translate }}</p>
    <p class="desc-resume">{{ application?.genre ? (application?.genre | genderBeautify | translate) : '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume">{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_IDENTIFICATION.VAT' | translate }}</p>
    <p class="desc-resume">{{ application.student_tin || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume">{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_IDENTIFICATION.ID_NUMBER' | translate }}</p>
    <p class="desc-resume">{{ application.student_identification || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume">IBAN</p>
    <p class="desc-resume">{{ application.iban || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.STUDENT_NUMBER' | translate }}</p>
    <p class="desc-resume">{{ application.student_number || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.SCHOOL_YEAR' | translate }}</p>
    <p class="desc-resume">{{ application.academic_year || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.COURSE_YEAR' | translate }}</p>
    <p class="desc-resume">{{ application.course_year || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume">{{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.COURSE' | translate }}</p>
    <p class="desc-resume">{{ auxData.course || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume">{{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.DEGREE' | translate }}</p>
    <p class="desc-resume">{{ auxData.course_degree || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume">{{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.SCHOOL' | translate }}</p>
    <p class="desc-resume">{{ auxData.school || '-' }}</p>
  </div>
</div>
<nz-divider></nz-divider>

<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="title-resume">
    {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.CONTACTS' | translate }}
  </div>
</div>

<div nz-row>

  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume">{{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.EMAIL' | translate }}</p>
    <p class="desc-resume">{{ application.student_email || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume">{{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.PHONE' | translate }}</p>
    <p class="desc-resume">{{ application.student_mobile_phone || '-' }}</p>
  </div>
</div>
<nz-divider></nz-divider>
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="title-resume">
    {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.SOCIAL_BENEFITS' | translate }}
  </div>
</div>
<div nz-row>

  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.SOCIAL_SUPPORT_QUESTION' | translate
      }}</p>
    <p class="desc-resume">{{ application.has_scholarship | yesOrNo: { yes: 'Sim', no: 'Não' } }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.SOCIAL_SUPPORT_CANDIDATE_QUESTION' |
      translate }}</p>
    <p class="desc-resume"> {{ application.has_applied_scholarship | yesOrNo: { yes: 'Sim', no: 'Não' } }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.NO_RESULT_SOCIAL_SUPPORT' |
      translate }}</p>
    <p class="desc-resume"> {{ application.is_waiting_scholarship_response | yesOrNo: { yes: 'Sim', no: 'Não' } }}</p>
  </div>
  <div *ngIf="application.scholarship_monthly_value !== 0" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
    [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.SOCIAL_SUPPORT_MONTHLY_VALUE' |
      translate }}</p>
    <p class="desc-resume"> {{ application.scholarship_monthly_value | euroCurreny }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.EMERGENCY_FUND' | translate }}</p>
    <p class="desc-resume"> {{ application.has_emergency_fund | yesOrNo: { yes: 'Sim', no: 'Não' } }}</p>
  </div>
  <div nz-col [nzXs]="24">
    <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_SOCIAL_BENEFITS.HOUSED_RESIDENCE' | translate }}
    </p>
    <p class="desc-resume"> {{ application.housed_residence | yesOrNo: { yes: 'Sim', no: 'Não' } }}</p>
  </div>
  <div nz-col [nzXs]="24">
    <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_SOCIAL_BENEFITS.OTHER_SCHOLARSHIP' | translate }}
    </p>
    <p class="desc-resume"> {{ application.other_scholarship | yesOrNo: { yes: 'Sim', no: 'Não' } }}</p>
  </div>
  <div *ngIf="application.other_scholarship_values" nz-col [nzXs]="24">
    <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_SOCIAL_BENEFITS.SCHOLARSHIP_VALUES' | translate }}
    </p>
    <p class="desc-resume"> {{ application.other_scholarship_values | euroCurreny }}</p>
  </div>
</div>
<nz-divider></nz-divider>
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="title-resume">
    {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.INTEREST_MANIFESTATION' | translate }}
  </div>
</div>
<div nz-row>

  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.INTEREST_MANIFESTATION2' | translate
      }}</p>
    <p class="desc-resume" *ngFor="let organicUnit of organicUnits">{{ organicUnit }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.PREFERRED_ACTIVITY' | translate }}
    </p>
    <p class="desc-resume" *ngFor="let activity of preferredActivities">{{ activity }}</p>
  </div>
</div>
<nz-divider></nz-divider>
<div *ngIf="application.has_profissional_experience">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="title-resume">
      {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.PREVIOUS_COLABORATIONS' | translate }}
    </div>
  </div>
  <div nz-row>

    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.ACTIVITY' | translate }}</p>
      <p class="desc-resume">{{ application.previous_activity_description || '-' }}</p>
    </div>
  </div>
  <nz-divider></nz-divider>
</div>

<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="title-resume">
    {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.SCHEDULE_DISPONIBILITY' | translate }}
  </div>
</div>

<div nz-row>
  <div nz-col [nzXs]="{ span: 24 }" [nzXl]="{ span: 24 }">
    <nz-table class="schedule" [nzData]="['preferred_schedule']" [nzShowPagination]="false" [nzScroll]="{ x: '100px' }">
      <thead>
        <tr>
          <th></th>
          <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.MONDAY' | translate }}</th>
          <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.TUESDAY' | translate }}</th>
          <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.WEDNESDAY' | translate }}</th>
          <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.THURSDAY' | translate }}</th>
          <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.FRIDAY' | translate }}</th>
          <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.SATURDAY' | translate }}</th>
          <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.SUNDAY' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of scheduleRows">
          <td class="schedule--period-day">{{ row.title | translate }}</td>
          <td *ngFor="let i of row.keys">
            <i *ngIf="application?.preferred_schedule_ids?.includes(i)" nz-icon nzTheme="fill"
              nzType="icons:icons-checkbox-checked" class="schedule--active-checkbox"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.HOLIDAYS' | translate }}</p>
    <div class="review--input-value">
      <i *ngIf="application.has_holydays_availability" nz-icon nzType="icons:icons-checkbox-checked"
        nzTheme="outline"></i>
      <i *ngIf="!application.has_holydays_availability" nz-icon nzType="icons:icons-checkbox-unchecked"
        nzTheme="outline"></i>
    </div>
  </div>
</div>
<nz-divider></nz-divider>
<div *ngIf="application.foreign_languages">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="title-resume">
      {{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM.LINGUISTIC_SKILLS' | translate }}
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.LANGUAGES' | translate }}</p>
      <p class="desc-resume" *ngFor="let language of application.language_skills">{{ language }}</p>
    </div>
  </div>
  <nz-divider></nz-divider>
</div>
<div *ngIf="!application.has_profissional_experience">

  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="title-resume">
      {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.NO_EXPERIENCE' | translate }}
    </div>
  </div>

  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.TYPE_OF_COMPANY' | translate }}
      </p>
      <p class="desc-resume">{{ application.type_of_company || '-' }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.JOB_AT_COMPANY' | translate }}</p>
      <p class="desc-resume">{{ application.job_at_company || '-' }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.ACTIVITY_DESCRIPTION' | translate
        }}</p>
      <p class="desc-resume">{{ application.job_description || '-' }}</p>
    </div>
  </div>
  <nz-divider></nz-divider>
</div>
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="title-resume">
    {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.COMPLEMENTARY_INFORMATION' | translate }}
  </div>
</div>
<div nz-row>

  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="desc-resume" *ngIf="application.observations !== ' '"> {{ application.observations }}</p>
    <p class="desc-resume" *ngIf="application.observations === ' '"> {{
      'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.NO_OBSERVATIONS' | translate }}</p>
  </div>
</div>

<nz-divider></nz-divider>

<div nz-row>
  <div nz-col [nzXs]="24" class="title-resume">{{
    'CORE.ATTACHMENTS' | translate
    }}</div>
  <div nz-col [nzXs]="24" class="desc-resume">
    <ng-container *ngIf="(attachments || []).length; else noAttachmentsTemplate">
      <div class="attachment-url" *ngFor="let attachment of attachments">
        <i nz-icon nzType="paper-clip" nzTheme="outline" class="attachment-url--icon"></i>
        <a [href]="attachment.file.url" rel="noopener noreferrer" target="_blank" [title]="attachment.name">{{ attachment.name }}</a>
      </div>
    </ng-container>

    <ng-template #noAttachmentsTemplate>-</ng-template>
  </div>
</div>

<div *ngIf="application?.experience != null">
  <nz-divider></nz-divider>
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="title-resume">
      {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.COLABORATION' | translate }}
    </div>
  </div>
  <div nz-row>

    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.NAME' | translate }}</p>
      <p class="desc-resume">{{ (application?.experience?.translations | languageChange)?.title }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.DESCRIPTION' | translate }}</p>
      <p class="desc-resume">{{ (application?.experience?.translations | languageChange)?.description }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.APPLICATION_PERIOD' | translate }}
      </p>
      <p class="desc-resume"> {{ application?.experience?.publish_date | localizedDate }}
        {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.TO' | translate }}
        {{ application?.experience?.application_deadline_date | localizedDate }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.COLABORATION_PERIOD' | translate
        }}</p>
      <p class="desc-resume"> {{ application?.experience?.publish_date | localizedDate }}
        {{ application?.experience?.start_date | localizedDate }} -
        {{ application?.experience?.end_date | localizedDate }}</p>
    </div>
  </div>
</div>
