<nz-tabset [nzSelectedIndex]="startIndex">
  <nz-tab
    *ngFor="let option of options; let i = index"
    [nzTitle]="option.translate | translate"
    [nzDisabled]="option.disable"
    (nzClick) = "saveIndex(i)"
  >
    <app-tab-container [option]="option" [index]="i"></app-tab-container>
  </nz-tab>
</nz-tabset>
