@import 'theme.less';

:host::ng-deep {
  .ant-tabs-ink-bar {
    height: 4px;
    background-color: var(--primary-color);
  }

  .ant-tabs-bar {
    height: 64px;
    background: #ffffff;
    margin: 0 0 0 0;
    border: none;
  }


  .ant-tabs-nav .ant-tabs-tab {
    padding: 25px 19px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
  }
}
