<perfect-scrollbar>
  <ul nz-menu [nzMode]="'inline'" class="menu" >
    <span>
      <li nz-menu-item class="menu-title li-initial" [nzDisabled]="true" *ngIf="title">
        <a>
          <span title>
            <i *ngIf="icon" nz-icon [type]="icon"></i>
            {{title ? ((title |
              translation)?.name) : ''}}
          </span>
        </a>
      </li>
    </span>
    <span *ngFor="let item of siderItems | accessibleSiderItem; let i = index">
      <li *ngIf="!item.isSubMenu()" nz-menu-item routerLinkActive="ant-menu-item-selected" class="ant-menu-item--level1"
        >
        <a (click)="closeSider()" [routerLink]="[item.link]">
          <span title>
            {{ item.name }}
            <nz-badge *ngIf="item.badge" [nzCount]="item.badge.value" [nzStyle]="{ backgroundColor: item.badge.color}">
            </nz-badge>
          </span>
        </a>
      </li>

      <li *ngIf="item.isSubMenu()" nz-submenu class="ant-menu-item--level1">
        <span title>{{ item.name }}
          <nz-badge *ngIf="item.badge" [nzCount]="item.badge.value" [nzStyle]="{ backgroundColor: item.badge.color}">
          </nz-badge>
        </span>
        <ul>
          <ng-container *ngFor="let subItem of item.childs | accessibleSiderItem">
            <li *ngIf="subItem.isSubMenu()" routerLinkActive="ant-menu-item-selected"
               class="ant-menu-item--level2" nz-submenu>
              <span title>{{ subItem.name }}
                <nz-badge *ngIf="subItem.badge" [nzCount]="subItem.badge.value"
                  [nzStyle]="{ backgroundColor: subItem.badge.color}"></nz-badge>
              </span>
              <ul>
                <li *ngFor="
                    let subsubItem of subItem.childs | accessibleSiderItem
                  " routerLinkActive="ant-menu-item-selected" class="ant-menu-item--level3"
                   nz-menu-item>
                  <a (click)="closeSider()" [routerLink]="[subsubItem.link]">{{
                    subsubItem.name
                  }}</a>
                  <nz-badge *ngIf="subsubItem.badge" [nzCount]="subsubItem.badge.value"
                    [nzStyle]="{ backgroundColor: subsubItem.badge.color}"></nz-badge>
                </li>
              </ul>
            </li>

            <li *ngIf="!subItem.isSubMenu()" routerLinkActive="ant-menu-item-selected"
               nz-menu-item>
              <a (click)="closeSider()" [routerLink]="[subItem.link]">{{
                subItem.name
              }}
                <nz-badge *ngIf="subItem.badge" [nzCount]="subItem.badge.value"
                  [nzStyle]="{ backgroundColor: subItem.badge.color}"></nz-badge>
              </a>
            </li>
          </ng-container>
        </ul>
      </li>
    </span>
  </ul>
</perfect-scrollbar>