@import "theme";

:host::ng-deep {

  .ant-menu {
    color: var(--menu-text-color);
  }
  
  .ant-menu-item > a {
    color: var(--menu-text-color);
  }

  .ant-menu-item-active,
  .ant-menu-item:hover,
  .ant-menu-submenu-active,
  .ant-menu-submenu-title:hover,
  .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
    color: var(--primary-color);
  }

  .ant-menu-item>a:hover {
    color: var(--primary-color);
  }

  .ant-menu-item-selected,
  .ant-menu-item-selected>a,
  .ant-menu-item-selected>a:hover {
    color: var(--primary-color);
  }

  .ant-menu-item-selected {
    background: var(--primary-3);
  }

  .ant-menu-inline .ant-menu-item::after,
  .ant-menu-vertical .ant-menu-item::after,
  .ant-menu-vertical-left .ant-menu-item::after,
  .ant-menu-vertical-right .ant-menu-item::after {
    position    : absolute;
    top         : 0;
    right       : 0;
    bottom      : 0;
    border-right: 3px solid var(--primary-color);
  }

  .ant-menu-submenu-inline>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-inline>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-vertical-left>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-vertical-left>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-vertical-right>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-vertical-right>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-vertical>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-vertical>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before {
    background: -webkit-gradient(linear, left top, right top, from(var(--primary-color)), to(var(--primary-color)));
    background: linear-gradient(to right, var(--primary-color), var(--primary-color));
  }

  .ant-menu-submenu-selected {
    color:  var(--primary-color);
}

  .menu-title {
    background: var(--primary-color) !important;
    a {
      font-weight: bold;
      cursor     : pointer !important;
      color      : white !important;
    }

    span {
      word-break: break-word;
      white-space: initial;
    }
  }

  .li-initial {
    height: auto !important;
    line-height: 30px !important;
  }

  .ant-menu-item-disabled {
    cursor: pointer;
  }

  .ant-menu-item {
    margin       : 0px;
    border-bottom: 1px solid var(--primary-3);
    padding-left : 32px !important;
    background: var(--menu-bg);
  }

  .ant-menu-item-selected {
    font-weight: bold;
    background : var(--menu-item-active-bg) !important;
  }

  .ant-menu-submenu-title {
    margin       : 0px;
    padding-left : 32px !important;
    border-bottom: 1px solid var(--primary-3);
    background-color: var(--menu-bg);
  }

  .ant-menu-sub {
    .ant-menu-submenu-title {
      padding-left: 64px !important;
    }

    .ant-menu-sub {
      .ant-menu-item {
        padding-left: 88px !important;
      }
    }

    .ant-menu-item {
      background  : var(--menu-sub-bg);
      margin      : 0px;
      padding-left: 48px !important;
    }
  }

  /*  .ant-menu-item {
    margin: 0px;
    border-bottom: 1px solid var(--primary-3);
    background: var(--primary-1);
  }
  
  .ant-menu-submenu {
    border-bottom: 1px solid var(--primary-3);
    background: var(--primary-1);
  }

  .ant-menu-inline .ant-menu-item:not(:last-child) {
    background: lighten(@primary-1, 5%);
    margin-bottom: 0px;
  }

  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: var(--primary-2);
    color: var(--primary-color);
    font-weight: bold;
  }*/
}

/*
.menu {
  border: 0;
  height: 100%;
  a:hover,
  a:visited,
  a:link,
  a:active,
  a:focus {
    display: block;
    width: 100%;
    text-decoration: none;
    font-style: normal;
    color: var(--text-color);
  }

  .ant-menu-item--level1, .ant-menu-item--level2 {
    padding-left: 32px !important;
  }

  .ant-menu-submenu-title {
    padding: 48px !important;
  }

  .ant-menu-item-selected a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
  }

}
*/