<div nz-row class="express-interest-status-header">
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="20" [nzXs]="22">
    <h2 class="title-top-page">
      {{
        translations?.length > 1
          ? (translations | languageChange)?.name
          : ('DASHBOARD.BUTTON.SOCIAL_SUPPORT' | translate)
      }}
    </h2>
    <p class="sub-title-top-page">{{ 'SOCIAL_SUPPORT.INTEREST.SUBTITLE' | translate }}</p>
  </div>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>

<div nz-row nzType="flex">
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="20" [nzXs]="22">
    <div
      nz-row
      class="list-collaborations--item"
      [nzGutter]="8"
      *ngFor="let presentCollaboration of presentCollaborations"
    >
      <div nz-col>
        <app-present-collaboration
          (refresh)="refresh($event)"
          [presentCollaboration]="presentCollaboration"
          [translations]="translations"
        >
        </app-present-collaboration>
      </div>
    </div>
    <div
      nz-row
      nzType="flex"
      nzJustify="center"
      nzAlign="middle"
      *ngIf="presentCollaborations.length === 0 && !loadingCollaboration"
    >
      <div nz-col class="list-collaborations--no-data">
        {{ 'SOCIAL_SUPPORT.INTEREST.NO_RESULTS' | translate }}
      </div>
    </div>
    <div nz-row *ngIf="loadingCollaboration">
      <nz-spin [nzSpinning]="loadingCollaboration" class="list-collaborations--loading"></nz-spin>
    </div>
  </div>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>

<div nz-row nzType="flex">
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="20" [nzXs]="22">
    <nz-collapse [nzBordered]="false">
      <nz-collapse-panel
        #p
        *ngFor="let panel of panels"
        [nzHeader]="header"
        [nzActive]="panel.active"
        [ngStyle]="panel.customStyle"
        [nzShowArrow]="false"
      >
        <div>
          <div *ngIf="manifestations.length != 0" nz-row class="list-collaborations--item" style="margin-top: 10px">
            <div
              nz-col
              [nzXs]="24"
              [nzSm]="24"
              [nzMd]="12"
              [nzLg]="12"
              [nzXl]="8"
              [nzXXl]="8"
              *ngFor="let manifestation of manifestations"
            >
              <app-manifestation-card [manifestation]="manifestation"></app-manifestation-card>
            </div>
          </div>
          <div nz-row *ngIf="manifestations.length === 0" class="list-collaborations--item" style="margin-top: 10px">
            <div nz-col class="list-collaborations--no-data">
              {{ 'SOCIAL_SUPPORT.HISTORY_MANIFESTATIONS.NO_MANI' | translate }}
            </div>
          </div>
        </div>
        <ng-template #header>
          <nz-divider [nzText]="text"></nz-divider>
        </ng-template>

        <ng-template #text>
          <div class="box">
            {{ panel.name | translate
            }}<i nz-icon type="icons:icons-arrow-2-right" [nzRotate]="p.nzActive ? 90 : -90"></i>
          </div>
        </ng-template>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>
