.meals-list {
    background-color: #b4b4b4;
    //height: calc(100% - 48px);
    height: calc(100% - 95px);
    overflow-x: hidden;
    overflow-y: scroll;
}

.loading-spin {
    position: relative;
    top: 50%;
}

.floating-button {
    text-align: center;
    padding: 6px;
    width: 100%;
    //box-shadow: 0 -2px 15px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    height: 48px;

    button {
        border-radius: 24px;
        border: solid 2px #e8e8e8;
        background-color: #ffffff;
    }
}
