<form nz-form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 class="title-top-page"> {{ 'SOCIAL_SUPPORT.ATTENDANCES.FORM.TITLE' | translate }}</h2>
  <p class="sub-title-top-page font"> {{ 'SOCIAL_SUPPORT.ATTENDANCES.FORM.SUBTITLE' | translate }}</p>

  <div nz-row nzGutter="34" class="form__inputs">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="executed_service" class="primary-input-label">
          {{ 'SOCIAL_SUPPORT.ATTENDANCES.FORM.EXECUTED_SERVICE' | translate }}
        </nz-form-label>


        <nz-form-control>
          <textarea nz-input id="executed_service" class="primary-textarea" rows="5" maxlength="255"
            formControlName="executed_service"></textarea>
          <nz-form-explain *ngIf="form.get('executed_service')?.dirty && form.get('executed_service').errors"
            class="error">
            {{ getInputError('executed_service') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="16" class="form__inputs">
    <div nz-col nzXs="24" nzLg="8">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="date" class="primary-input-label">
          {{ 'SOCIAL_SUPPORT.ATTENDANCES.FORM.DATE' | translate }}
        </nz-form-label>

        <nz-form-control>
          <nz-date-picker class="primary-datePicker" formControlName="date" id="date" [nzAllowClear]="false"
            [nzDisabled]="form.get('date').disabled" [nzDisabledDate]="disableDate"
            [nzPlaceHolder]="'SOCIAL_SUPPORT.ATTENDANCES.FORM.DATE' | translate"></nz-date-picker>
          <nz-form-explain class="error" *ngIf="form.get('date')?.dirty && form.get('date').errors">
            {{ getInputError('date') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="24" nzSm="8" nzLg="6">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="initial_time" class="primary-input-label">
          {{ 'SOCIAL_SUPPORT.ATTENDANCES.FORM.INITIAL_TIME' | translate }}

        </nz-form-label>

        <nz-form-control>
          <nz-time-picker class="primary-timePicker" formControlName="initial_time" id="initial_time"
            name="hourInitialModal" nzFormat="HH:mm" [nzMinuteStep]="minuteStep"
            [nzAllowEmpty]="!form.get('initial_time').disabled" [nzDisabledHours]="disabledFutureHours"
            [nzDisabledMinutes]="disabledFutureMinutes"
            [nzPlaceHolder]="'SOCIAL_SUPPORT.ATTENDANCES.FORM.INITIAL_TIME' | translate"></nz-time-picker>
          <nz-form-explain class="error" *ngIf="form.get('initial_time')?.dirty && form.get('initial_time').errors">
            {{ getInputError('initial_time') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="24" nzSm="8" nzLg="6">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="final_time" class="primary-input-label">
          {{ 'SOCIAL_SUPPORT.ATTENDANCES.FORM.FINAL_TIME' | translate }}

        </nz-form-label>

        <nz-form-control>
          <nz-time-picker class="primary-timePicker" formControlName="final_time" id="final_time" name="hourFinalModal"
            nzFormat="HH:mm" [nzMinuteStep]="minuteStep" [nzAllowEmpty]="!form.get('final_time').disabled"
            [nzDisabledHours]="disabledHours" [nzDisabledMinutes]="disabledMinutes"
            [nzPlaceHolder]="'SOCIAL_SUPPORT.ATTENDANCES.FORM.FINAL_TIME' | translate"></nz-time-picker>
        </nz-form-control>
          <nz-form-explain class="error">
            {{ form.get('final_time')?.dirty && form.get('final_time').errors ? getInputError('final_time') : ''}}
            {{ errorDates ? ('FORM.MESSAGE.TIME' | translate) : ''}}
          </nz-form-explain>
       
      </nz-form-item>
    </div>

    <div nz-col nzXs="24" nzSm="8" nzLg="4">
      <nz-form-item class="form__inputs--hours">
        <nz-form-label nzFor="final_time" class="primary-input-label">
          {{ 'SOCIAL_SUPPORT.ATTENDANCES.FORM.TOTAL' | translate }}
        </nz-form-label>
        <nz-form-control>
          <input nz-input class="primary-input text-center" formControlName="n_hours" [dropSpecialCharacters]="false"
            [readonly]="true" [showMaskTyped]="true" mask="Hh:m0" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row class="text-info">
    {{ 'SOCIAL_SUPPORT.ATTENDANCES.ATTENDANCE_REGISTRY_INFO_1' | translate }} ({{start | date: "dd/MM/yyyy"}} - {{end | date: "dd/MM/yyyy"}})
    {{ 'SOCIAL_SUPPORT.ATTENDANCES.ATTENDANCE_REGISTRY_INFO_2' | translate }}
  </div>
  <div class="form--button">
    <app-button type="primary" translate="MISC.SUBMIT" [loading]="loadingSubmit"
      buttonType="submit"></app-button>
  </div>
</form>
