<div class="content">
    <p class="subtitle">Bolsa de Colaboradores - Validar Presença</p>


    <div nz-row [nzGutter]="16" style="margin-top: 5px; margin-bottom: 5px;">
      <div nz-col nzSpan="24"><strong>Data</strong></div>
    </div>

    <div nz-row [nzGutter]="16" style="margin-bottom: 20px;">
      <div nz-col nzSpan="24">{{ attendance.date | date: 'dd/MM/yyyy'}}</div>
    </div>

    <div nz-row [nzGutter]="16" style="margin-bottom: 5px;">
      <div nz-col nzSpan="12"><strong>Hora de inicio</strong></div>
      <div nz-col nzSpan="12"><strong>Hora de fim</strong></div>
      
    </div>

    <div nz-row [nzGutter]="8" style="margin-bottom: 20px;">
      <div nz-col nzSpan="12">{{ attendance.initial_time | date: 'HH:mm'}}</div>
      <div nz-col nzSpan="12"><span style="padding-left:5px !important">{{ attendance.final_time | date: 'HH:mm'}}</span></div>
    </div>

    <div nz-row [nzGutter]="24" style="margin-bottom: 5px;">
      <div nz-col nzSpan="24"><strong>Numero de horas</strong></div>
    </div>

    <div nz-row [nzGutter]="16" style="margin-bottom: 20px;">
      <div nz-col nzSpan="24">{{ attendance.n_hours }}</div>
    </div>

    <div nz-row [nzGutter]="16" style="margin-bottom: 5px;">
      <div nz-col nzSpan="24"><strong>Serviço executado</strong></div>
    </div>
    <div nz-row [nzGutter]="16">
      <div nz-col nzSpan="24">{{ attendance.executed_service }}</div>
    </div>


    <nz-divider></nz-divider>

    <div nz-row nzType="flex" nzJustify="end">
      <div nz-col nzSpan="24" class="actions">
        <button nz-button nzType="default" type="button" (click)="close(false)">Cancelar</button>
        <button nz-button nzType="primary" type="button" (click)="submit()" [nzLoading]="attendanceLoading">
          Validar</button>
      </div>
    </div>

</div>
