<div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="modal__title" style="padding-top: 0px;">
    <div nz-col [nzSpan]="24">
        <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
            <div nz-col [nzSpan]="2">
                <i nz-icon nzType="icons:top-up" id=icon-header-charge style="font-size: 23px;"></i>
            </div>
            <div nz-col [nzSpan]="22" *ngIf="stepModal===0 || stepModal===2">
                Carregar conta
            </div>
            <div nz-col [nzSpan]="22" *ngIf="stepModal===1">
                Confirmação do carregamento de conta
            </div>
        </div>
    </div>
</div>
<!--Sub title-->
<div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="modal__sub-title" *ngIf="stepModal != 2">
    <div nz-col [nzSpan]="24" *ngIf="stepModal===0">
        <div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="modal__title">
            <div nz-col [nzSpan]="8" class="modal__sub-title__service">
                {{selectedAccount.account_name}}
            </div>
            <div nz-col [nzSpan]="8" class="modal__sub-title__money">
                <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
                    <div nz-col [nzSpan]="24" class="modal__sub-title__money__title">
                        Conta corrente
                    </div>
                    <div nz-col [nzSpan]="24" class="modal__sub-title__money__positive">
                        {{ selectedAccount.current_balance | number:'1.2-2' }}€
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8" class="modal__sub-title__money">
                <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
                    <div nz-col [nzSpan]="24" class="modal__sub-title__money__title">
                        Pagamentos pendentes
                    </div>
                    <div nz-col [nzSpan]="24" [ngClass]="{'modal__sub-title__money__neutral':selectedAccount?.in_debt == 0,
                  'modal__sub-title__money__negative':selectedAccount?.in_debt != 0}">
                        {{selectedAccount.in_debt | number:'1.2-2' }}€
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div nz-col [nzSpan]="24" *ngIf="stepModal===1">
        <div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="modal__title">
            <div nz-col [nzSpan]="14" class="modal__sub-title____current-accountservice-two">
                Conta Corrente
            </div>
            <div nz-col [nzSpan]="10" class="modal__sub-title__service-two">
                {{selectedAccount.account_name}}
            </div>
        </div>
    </div>
</div>

<div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="modal__body">
    <div nz-col [nzSpan]="24" *ngIf="stepModal===0">
        <div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="modal__body">
            <div class="modal__row" nz-col [nzSpan]="24">
                <div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="modal__body">
                    <div nz-col [nzSpan]="24" class="modal__body__title" style="padding-bottom: 10px;">
                        Metodo de pagamento:
                    </div>
                    <div nz-col [nzSpan]="24" class="modal__body__title no-methods"
                        *ngIf="!selectedAccount.available_methods.length">
                        Não há métodos de pagamentos disponíveis para este género de Conta Corrente.
                    </div>
                    <div nz-col [nzSpan]="24" *ngIf="selectedAccount.available_methods.length">
                        <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
                            <div nz-col [nzSpan]="12" class="modal__body__btns-choose"
                                *ngFor="let item of selectedAccount.available_methods">
                                <div class="modal__body__btns-choose__span" (click)="formModal.method=item"
                                    [ngClass]="{'modal__body__btns-choose__span-full':formModal.method===item}">
                                    {{item.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="24" class="warning" *ngIf="formModal.errors && formModal.method===null">
                        Este campo é obrigatório
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="24" class="modal__separator"></div>
            <div class="modal__row" nz-col [nzSpan]="24">
                <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
                    <div nz-col [nzSpan]="8" class="modal__body__title">
                        Valor de carregamento:
                    </div>
                    <div nz-col [nzSpan]="16" class="modal__body__btns-choose">
                        <nz-input-group [nzSuffix]="suffixTemplateInfo">
                            <input type="number" nz-input placeholder="0.00" [(ngModel)]="formModal.value" />
                        </nz-input-group>
                        <ng-template #suffixTemplateInfo>
                            <i nz-icon nz-tooltip style="font-size: 20px;" nzType="icons:icons-money"
                                class="modal__body__input-icon"></i>
                        </ng-template>
                    </div>
                    <div nz-col [nzSpan]="24" class="warning" *ngIf="formModal.errors && formModal.value===0">
                        Este campo é obrigatório
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="24" class="modal__separator"></div>
            <div class="modal__row" nz-col [nzSpan]="24">
                <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
                    <div nz-col [nzSpan]="8" class="modal__body__title modal__body__title__charger-desc">
                        Descrição:
                    </div>
                    <div nz-col [nzSpan]="16" class="modal__body__btns-choose">
                        <textarea maxlength="255" rows="4" nz-input [(ngModel)]="formModal.description"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div nz-col [nzSpan]="24" *ngIf="stepModal===1">
        <div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="modal__body">
            <div class="modal__row" nz-col [nzSpan]="24">
                <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
                    <div nz-col [nzSpan]="14" class="modal__body__title">
                        Carregamento de conta no valor de:
                    </div>
                    <div nz-col [nzSpan]="10" class="modal__body__details">
                        <div class="modal__body__details__span">
                            {{getMoneyString(formModal.value,true)}}
                        </div>
                    </div>
                </div>
                <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
                    <div nz-col [nzSpan]="14" class="modal__body__title">
                        Através do método de pagamento:
                    </div>
                    <div nz-col [nzSpan]="10" class="modal__body__details">
                        <div class="modal__body__details__span-full">
                            {{formModal.method.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="formModal.description" nz-col [nzSpan]="24" class="modal__separator"></div>
            <div *ngIf="formModal.description" class="modal__row" nz-col [nzSpan]="24">
                <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
                    <div nz-col [nzSpan]="6" class="modal__body__title">
                        Descrição:
                    </div>
                    <div nz-col [nzSpan]="18" class="modal__body__details">
                        <textarea maxlength="255" rows="4" nz-input [(ngModel)]="formModal.description" readonly></textarea>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="24" class="modal__separator"></div>
            <div class="modal__row" nz-col [nzSpan]="24">
                <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
                    <div nz-col [nzSpan]="14" class="modal__body__title">
                        Conta Corrente antes da transação:
                    </div>
                    <div nz-col [nzSpan]="10" class="modal__body__details">
                        <div class="modal__body__details__span modal__body__details__span__desactice"
                            style="border: 1px solid grey;">
                            {{getMoneyString(selectedAccount.current_balance,true)}}
                        </div>
                    </div>
                </div>
                <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
                    <div nz-col [nzSpan]="14" class="modal__body__title">
                        Conta Corrente após a transação:
                    </div>
                    <div nz-col [nzSpan]="10" class="modal__body__details">
                        <div class="modal__body__details__span"
                            [ngClass]="{'current-accounts-list__money__neutral':verifyMoney(selectedAccount.current_balance + formModal.value,false)==='neutral',
                    'current-accounts-list__money__negative':verifyMoney(selectedAccount.current_balance + formModal.value,false)==='negative',
                    'current-accounts-list__money__positive':verifyMoney(selectedAccount.current_balance + formModal.value,false)==='positive',
                    'modal__body__details__border__neutral':verifyMoney(selectedAccount.current_balance + formModal.value,false)==='neutral',
                    'modal__body__details__border__negative':verifyMoney(selectedAccount.current_balance + formModal.value,false)==='negative',
                    'modal__body__details__border__positive':verifyMoney(selectedAccount.current_balance + formModal.value,false)==='positive'}">
                            {{getMoneyString(selectedAccount.current_balance + formModal.value,true)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div nz-col [nzSpan]="24" *ngIf="stepModal===2">
        <div nz-row class="modal__separator"></div>
        <div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="modal__body">
            <div nz-col [nzSpan]="24" class="modal__confirmation">
                <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
                    <div nz-col [nzSpan]="24">
                        <img src="./assets/images/success.PNG" width="150px">
                    </div>
                </div>
                <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
                    <div nz-col [nzSpan]="24">
                        <span>
                            O Carregamento de conta foi efetuado com sucesso
                            segundo as suas instruções
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div nz-row style="text-align: right;">
    <button nz-button nzType="default" style="margin-right: 10px;" (click)="handleCancel()"
        *ngIf="stepModal < 2">Cancelar</button>
    <button nz-button nzType="default" style="float: left;" (click)="handleBack()"
        *ngIf="stepModal === 1">Anterior</button>
    <button nz-button nzType="primary" (click)="handleNext()" *ngIf="stepModal === 0">Seguinte</button>
    <button nz-button nzType="primary" (click)="chargeAccounts()" *ngIf="stepModal === 1"
        [nzLoading]="isConfirmLoading">Confirmar</button>
    <button nz-button nzType="primary" (click)="confirm()" *ngIf="stepModal === 2"
        [nzLoading]="isConfirmLoading">Confirmar</button>
</div>