@import "theme";
.order {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #333333;
  padding-top: 20px;

  &__info {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #666666;
  }

  &__user-name {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #666666;
  }

  &__hour {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: #222222;
  }
  &__email {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #979797;
  }
  &__date {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: right;
    color: #979797;
  }
  &__type {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #666666;
    margin-bottom: 5px;
  }
  &__name {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #979797;
  }
}

.title-table {
    font-size: 12px;
    color: @primary-6;
    font-weight: bold;
}

.space-text-table {
  padding-top: 10px;
  padding-bottom: 20px;
}

.emptyDate {
  text-align: center;
  margin-top: 10px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #666666;
}

.space-title {
    margin-top: 20px;
    padding-bottom: 10px;
}

.color-green {
    color: #1ba974;
}

.color-red {
    color: #ff0000;
}

.pagination {
    padding: 20px;
    text-align: center;
}

.button-report {
    border-radius: 24px;
    color: #ffffff;
    background-color: @primary-6;
    width: 150px;
    margin-left: 20px;
    border-radius: 17px;
    border-color: @primary-6;
}


.space-button {
  text-align: center; 
  padding-top: 20px;
  padding-bottom: 20px;
}

.total {
  font-size: 15px;
  text-align: right;
}