<div nzType="flex" nz-row nzJustify="space-around" class="screen">
    <div nz-col nzSpan="2"></div>
    <div nz-col nzSpan="20">
        <p class="order">Fecho de Caixa</p>
        <p class="order__info">Consulte o histórico de fecho da caixa selecionada.</p>
        <div nz-row>
            <div nz-col nzSpan="2">
                <label>Caixa</label>
            </div>
            <div nz-col nzSpan="16">
                <nz-form-control>
                    <nz-select [(ngModel)]="box" [nzMode]="'default'"
                        (ngModelChange)="getMovements(startDate,endDate,selectedValue,false)" [nzLoading]="loadingBox"
                        nzShowSearch style="width: 100%;" class="primary-select"
                        [ngClass]="{ 'error__input': !box }">
                        <div>
                            <ng-container *ngFor="let cash of cashAccounts">
                                <nz-option [nzValue]="cash.id" [nzLabel]="cash.code + '-' + cash.description">
                                </nz-option>
                            </ng-container>
                        </div>
                    </nz-select>
                </nz-form-control>
            </div>
            <div nz-col nzSpan="6" style="text-align: right;">
                <fisas-reports></fisas-reports>
            </div>
        </div>
        <nz-divider></nz-divider>
        <div nz-row class="day-input">
            <div nz-col nzSpan="8">
                <nz-select class="primary-select" [(ngModel)]="selectedValue" (ngModelChange)="onChangeSelectInput()">
                    <nz-option *ngFor="let option of selectOptions" [nzValue]="option.value" [nzLabel]="option.label">
                    </nz-option>
                </nz-select>
            </div>
            <div *ngIf="selectedValue === 'CUSTOM'" nz-col class="date" nzSpan="8">
                <span>
                    <label>De</label>
                    <nz-date-picker class="primary-datePicker" [nzDisabledDate]=disableStartDate [nzFormat]="dateFormat"
                        [(ngModel)]="startDate" (ngModelChange)="onChangeStartDate($event)"
                        nzPlaceHolder="Data de início">
                    </nz-date-picker>
                </span>
            </div>
            <div *ngIf="selectedValue === 'CUSTOM'" nz-col class="date" nzSpan="8">
                <span>
                    <label>Até</label>
                    <nz-date-picker class="primary-datePicker" [nzDisabledDate]=disableEndDate [nzFormat]="dateFormat"
                        [(ngModel)]="endDate" (ngModelChange)="onChangeEndDate($event)" nzPlaceHolder="Date de fim">
                    </nz-date-picker>
                </span>
            </div>
        </div>

        <nz-divider></nz-divider>
        <div>
            <div nz-row class="space-title">
                <div nz-col nzSpan="4">
                    <label class="title-table">Caixa</label>
                </div>
                <div nz-col nzSpan="3">
                    <label class="title-table">Data</label>
                </div>
                <div nz-col nzSpan="4">
                    <label class="title-table">Utente</label>
                </div>
                <div nz-col nzSpan="3">
                    <label class="title-table">NIF Utente</label>
                </div>
                <div nz-col nzSpan="3">
                    <label class="title-table">Movimento</label>
                </div>
                <div nz-col nzSpan="4">
                    <label class="title-table">Método Pagamento</label>
                </div>
                <div nz-col nzSpan="2">
                    <label class="title-table">Valor</label>
                </div>

            </div>
            <nz-divider style="margin: 0px;"></nz-divider>
            <div *ngIf="movements.length>0">
                <nz-spin [nzSpinning]="loading">

                </nz-spin>
                <div *ngFor="let movement of movements">
                    <div nz-row class="space-text-table">
                        <div nz-col nzSpan="4">
                            {{movement.cash_account ? (movement.cash_account.code + '-' + movement.cash_account.description) : ''}}
                        </div>
                        <div nz-col nzSpan="3">
                           {{movement.created_at | date: "dd-MM-yyyy" }}
                        </div>
                        <div nz-col nzSpan="4">
                            {{movement.entity}}
                        </div>
                        <div nz-col nzSpan="3">
                            {{movement.tin}}
                        </div>
                        <div nz-col nzSpan="3">
                            {{movement.operation == 'CHARGE' ? 'Carregamento' : 'Devolução'}}
                        </div>
                        <div nz-col nzSpan="4">
                          {{movement.payment_method.name}}
                        </div>
                        <div nz-col nzSpan="2" [ngClass]="{'color-green': movement.operation == 'CHARGE', 'color-red': movement.operation != 'CHARGE' }">
                           {{movement.operation == 'CHARGE' ? ('+' + (movement.paid_value | number: '1.2-2')) :  ('-' + (movement.paid_value | number: '1.2-2')) }} €
                        </div>
                    </div>

                    <nz-divider style="margin: 0px;"></nz-divider>

                </div>

                <div class="pagination">
                    <nz-pagination [nzTotal]="totalData" [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex"
                        (nzPageIndexChange)="getMovements(startDate,endDate,selectedValue,false)"
                        (nzPageSizeChange)="getMovements(startDate,endDate,selectedValue,true)" nzShowSizeChanger>
                    </nz-pagination>
                </div>
                <nz-divider></nz-divider>
                <div class="total">
                    <b>Total:</b> {{totalMov | number: '1.2-2'}} €
                </div>
                <div class="space-button">
                    <button class="button-report" nz-button [nzLoading]="loadingReport" [disabled]="loadingReport" (click)="report(startDate,endDate,selectedValue)">Gerar Relatório</button>
                </div>

            </div>
            <div *ngIf="movements.length==0" class="emptyDate" nz-col>
                Sem Resultados
            </div>
        </div>
    </div>
    <div nz-col nzSpan="2"></div>
</div>