<div nz-row class="application-status-header">
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="10" [nzXs]="22">
    <h2 class="title-top-page">
      {{
        translations?.length > 1
          ? (translations | languageChange)?.name
          : ('DASHBOARD.BUTTON.SOCIAL_SUPPORT' | translate)
      }}
    </h2>
    <p class="sub-title-top-page">{{ 'SOCIAL_SUPPORT.APPLICATIONS.SUBTITLE' | translate }}</p>
  </div>

  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>

<div nz-row nzType="flex">
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="20" [nzXs]="22">
    <div nz-row class="list-applications--item" [nzGutter]="8" *ngFor="let application of applications">
      <div nz-col>
        <app-present-application [application]="application" [translations]="translations" (refresh)="refresh($event)">
        </app-present-application>
      </div>
    </div>
    <div
      nz-row
      nzType="flex"
      nzJustify="center"
      nzAlign="middle"
      *ngIf="applications.length === 0 && !loadingApplications"
    >
      <div nz-col class="list-applications--no-data">
        {{ 'SOCIAL_SUPPORT.APPLICATIONS.NO_APPLICATIONS' | translate }}
      </div>
    </div>
    <div nz-row *ngIf="loadingApplications">
      <nz-spin [nzSpinning]="loadingApplications" class="list-applications--loading"></nz-spin>
    </div>
  </div>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>

<div nz-row nzType="flex">
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="20" [nzXs]="22">
    <nz-collapse [nzBordered]="false">
      <nz-collapse-panel
        #pa
        *ngFor="let panel of panels"
        [nzHeader]="header"
        [nzActive]="panel.active"
        [ngStyle]="panel.customStyle"
        [nzShowArrow]="false"
      >
        <div>
          <div *ngIf="applicationsHistory.length != 0" nz-row class="list-applications--item"  style="margin-top: 10px; align-items: stretch;"  nzType="flex">
            <div
              nz-col
              [nzXs]="24"
              [nzSm]="24"
              [nzMd]="12"
              [nzLg]="12"
              [nzXl]="8"
              [nzXXl]="8"
              *ngFor="let application of applicationsHistory"
            >
              <app-application-card [application]="application" [translations]="translations"> </app-application-card>
            </div>
          </div>
          <div nz-row *ngIf="applicationsHistory.length === 0" class="list-applications--item" style="margin-top: 10px">
            <div nz-col class="list-applications--no-data">
              {{ 'SOCIAL_SUPPORT.APPLICATIONS.NO_APPLICATIONS' | translate }}
            </div>
          </div>
        </div>
        <ng-template #header>
          <nz-divider [nzText]="text"></nz-divider>
        </ng-template>

        <ng-template #text>
          <div class="box">
            {{ panel.name | translate
            }}<i nz-icon type="icons:icons-arrow-2-right" [nzRotate]="pa.nzActive ? 90 : -90"></i>
          </div>
        </ng-template>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>
