<div class="content-form">
  <form [formGroup]="paymentForm" nzLayout="vertical">
    <div nz-row class="padding-bottom-10">
      <label class="content__title">Métodos de Pagamento</label>
    </div>
    <div nz-row >
      <div nz-col nzSpan="6">
        <nz-form-item>
              <nz-form-label nzFor="payment_type">Tipos de Pagamento</nz-form-label>
              <nz-form-control [nzErrorTip]="error_payment_type">
                <nz-select formControlName="payment_type" name="payment_type" [nzDisabled]="true">
                  <nz-option nzLabel="Ato Consulta" nzValue="Ato Consulta"></nz-option>
                  <nz-option nzLabel="Pré Pagamento" nzValue="Pré Pagamento"></nz-option>
                </nz-select>
                <ng-template #error_payment_type let-control>
                  <ng-container class="error" *ngIf="f.payment_type.dirty && f.payment_type.errors">
                    Campo obrigatório
                  </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="tariff_id">Escalão de rendimentos</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="tariff_id" name="tariff_id" [nzLoading]="tariffsLoading" (ngModelChange)="getPriceInformation()">
              <nz-option *ngFor="let tariff of tariffs" [nzLabel]="tariff.description" [nzValue]="tariff.id" [nzDisabled]="isDisabled(tariff.id)"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="price">Valor (€)</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="price" id="price" [attr.disabled]="true">
            <nz-form-explain class="color-required" *ngIf="submitted && f.price.errors">Campo obrigatório</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>


