<nz-tabset nzTabPosition="left">

    <nz-tab nzTitle="Dados Ficha de Evento">
        <div nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                <div nz-row class="title">
                    Título do Evento
                </div>
                <div nz-row class="detail-field">
                    {{(data?.translations | translation).title}}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Tipo de Recorrência
                </div>
                <div nz-row class="detail-field">
                    {{data.recurrence_type == 'RECURRENT' ? 'Recorrente' : 'Único'}}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Categoria
                </div>
                <div nz-row class="detail-field">
                    {{(data?.category?.translations | translation).name}}
                </div>
            </div>
        </div>
        <div nz-row nzType="flex" nzJustify="start" class="padding-top-10">
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
                <div nz-row class="title">
                    Morada
                </div>
                <div nz-row class="detail-field">
                    {{data?.address}} {{data?.address_number}}, {{data?.postal_code}}, {{data?.city}}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Latitude
                </div>
                <div nz-row class="detail-field">
                    {{data?.latitude}}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Longitude
                </div>
                <div nz-row class="detail-field">
                    {{data?.longitude}}
                </div>
            </div>
        </div>
        <div nz-row nzType="flex" nzJustify="start" class="padding-top-10">
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <div nz-row class="title">
                    Descrição
                </div>
                <div nz-row class="detail-field">
                    {{(data?.translations | translation).description}}
                </div>
            </div>
        </div>
        <nz-divider *ngIf="data.recurrence_type == 'RECURRENT'"></nz-divider>
        <div nz-row *ngIf="data.recurrence_type == 'RECURRENT'" nzType="flex" nzJustify="start">
            <div class="title">
                Periocidade personalizada
            </div>
        </div>
        <div nz-row *ngIf="data.recurrence_type == 'RECURRENT'" nzType="flex" nzJustify="start" class="padding-top-10">
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="6"
                nzXl="6">
                <div nz-row class="title">
                    Repetir a cada
                </div>
                <div nz-row class="detail-field">
                    {{data.repeat_frequency_number}} {{data.frequency=='DAILY' ? 'Dia' :
                    data.frequency=='WEEKLY' ? 'Semana' : data.frequency=='MONTHLY' ? 'Mês' : data.frequency=='ANNUALLY'
                    ? 'Ano' : ''}}
                </div>
            </div>
            <div *ngIf="data.frequency=='WEEKLY'" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="6"
                nzXl="6">
                <div nz-row class="title">
                    Repetir
                </div>
                <div nz-row *ngIf="data.repeat_day_monday" class="detail-field">
                    Segunda-feira
                </div>
                <div nz-row *ngIf="data.repeat_day_tuesday" class="detail-field">
                    Terça-feira
                </div>
                <div nz-row *ngIf="data.repeat_day_wednesday" class="detail-field">
                    Quarta-feira
                </div>
                <div nz-row *ngIf="data.repeat_day_thursday" class="detail-field">
                    Quinta-feira
                </div>
                <div nz-row *ngIf="data.repeat_day_friday" class="detail-field">
                    Sexta-feira
                </div>
                <div nz-row *ngIf="data.repeat_day_saturday" class="detail-field">
                    Sábado
                </div>
                <div nz-row *ngIf="data.repeat_day_sunday" class="detail-field">
                    Domingo
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Termina em
                </div>
                <p class="text" *ngIf="data.never_ends">Nunca
                </p>
                <p class="text" *ngIf="data.ends_in_date">Data - {{data.ends_in_date | date:'dd-MM-yyyy'}}
                </p>
                <p class="text" *ngIf="data.end_after_occurrences">Depois de - {{data.end_after_occurrences}}
                    ocorrências
                </p>
            </div>
        </div>
        <nz-divider></nz-divider>
        <div nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <div nz-row class="title">
                    Imagens
                </div>
                <div nz-row *ngFor="let media of data?.images" class="detail-field">
                    <div *ngIf="media?.file?.type == 'IMAGE'">
                        <a target="_blank" [href]="media?.file?.url">
                            <img [src]="media?.file?.url" width="100px">
                        </a>
                    </div>
                    <div *ngIf="media?.file?.type != 'IMAGE'">
                        <a target="_blank" [href]="media?.file?.url">
                            <img src="./assets/images/doc.PNG" width="100px">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <nz-divider></nz-divider>
        <div nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Data Início de Evento
                </div>
                <div nz-row class="detail-field">
                    {{data?.start_date | date: 'dd-MM-yyyy'}}
                </div>
            </div>
            <div *ngIf="!data?.all_day" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Hora Início de Evento
                </div>
                <div nz-row class="detail-field">
                    {{data?.start_date | date: 'HH:mm'}}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Data Fim de Evento
                </div>
                <div nz-row class="detail-field">
                    {{data?.end_date | date: 'dd-MM-yyyy'}}
                </div>
            </div>
            <div *ngIf="!data?.all_day" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Hora Fim de Evento
                </div>
                <div nz-row class="detail-field">
                    {{data?.end_date | date: 'HH:mm'}}
                </div>
            </div>
        </div>
        <div *ngIf="data?.all_day" nz-row nzType="flex" nzJustify="start" class="padding-top-10">
            <div class="detail-field">
                Todo o dia
            </div>
        </div>
        <nz-divider></nz-divider>
        <div nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Data Início de Publicação
                </div>
                <div nz-row class="detail-field">
                    {{data?.start_published_date | date: 'dd-MM-yyyy'}}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Data Fim de Publicação
                </div>
                <div nz-row class="detail-field">
                    {{data?.end_published_date | date: 'dd-MM-yyyy'}}
                </div>
            </div>
        </div>
        <nz-divider></nz-divider>
        <div nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Responsável
                </div>
                <div nz-row class="detail-field">
                    {{data?.responsable}}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Contacto - Email
                </div>
                <div nz-row class="detail-field">
                    {{data?.email}}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Contacto - Telefone
                </div>
                <div nz-row class="detail-field">
                    {{data?.phone}}
                </div>
            </div>
        </div>
        <nz-divider *ngIf="data.file"></nz-divider>
        <div *ngIf="data.file" nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <div nz-row class="title">
                    Anexo
                </div>
                <div nz-row class="detail-field">
                    <div *ngIf="data.file?.type == 'IMAGE'">
                        <a target="_blank" [href]="data?.file?.url">
                            <img [src]="data?.file?.url" width="100px">
                        </a>
                    </div>
                    <div *ngIf="data?.file?.type != 'IMAGE'">
                        <a target="_blank" [href]="data?.file?.url">
                            <img src="./assets/images/doc.PNG" width="100px">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <nz-divider *ngIf="data?.link"></nz-divider>
        <div *ngIf="data?.link" nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <div nz-row class="title">
                    Link para página externa do evento
                </div>
                <div nz-row class="detail-field">
                    {{data?.link}}
                </div>
            </div>
        </div>
        <nz-divider></nz-divider>
        <div nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Tipo de Subscrição
                </div>
                <div nz-row class="detail-field">
                    {{data?.type_subscription == 'MI' ? 'Manifestação de interesse' : 'Inscrição'}}
                </div>
            </div>
            <div *ngIf="data?.type_subscription == 'SUB'" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Nº máximo de inscrições
                </div>
                <div nz-row class="detail-field">
                    {{data?.max_number_subscriptions}}
                </div>
            </div>
        </div>
    </nz-tab>
    <nz-tab *ngIf="data?.type_subscription == 'MI' && data.subscriptions.length>0"
        nzTitle="Lista Manifestações interesse">
        <div nz-row nzType="flex" nzJustify="start">
           
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Nome
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="3" nzXl="3">
                <div nz-row class="title">
                    Data
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Email
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="4" nzXl="4">
                <div nz-row class="title">
                    Telefone
                </div>
            </div>
        </div>
        <div *ngFor="let sub of data?.subscriptions" nz-row nzType="flex" nzJustify="start">
           
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="detail-field">
                    {{sub.name}}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="3" nzXl="3">
                <div nz-row class="detail-field">
                    {{sub.created_at | date:'dd-MM-yyyy'}}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="detail-field">
                    {{sub.email}}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="4" nzXl="4">
                <div nz-row class="detail-field">
                    {{sub.phone}}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="2" nzXl="2">
                <div *ngIf="sub.has_removed" nz-row class="detail-field">
                   Cancelada
                </div>
            </div>
        </div>
        <div nz-row style="padding-top:30px">
            <label class="title">Nº Manifestações de interesse: </label><label
                class="detail-field">{{data?.number_subscriptions}}</label>
        </div>
        <div nz-row style="padding-top:30px">
            <button [nzLoading]="loadingReport" nz-button nzType="primary" class="btn" (click)="getReport()">
                <i nz-icon type="download"></i>Listagem com dados dos utilizadores</button>
        </div>
    </nz-tab>
    <nz-tab *ngIf="data?.type_subscription == 'SUB' && data.subscriptions.length>0" nzTitle="Lista Incrições">
        <div nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Nome
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="3" nzXl="3">
                <div nz-row class="title">
                    Data
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Email
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="4" nzXl="4">
                <div nz-row class="title">
                    Telefone
                </div>
            </div>
        </div>
        <div *ngFor="let sub of data?.subscriptions" nz-row nzType="flex" nzJustify="start">
           
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="detail-field">
                    {{sub.name}}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="3" nzXl="3">
                <div nz-row class="detail-field">
                    {{sub.created_at | date:'dd-MM-yyyy'}}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="detail-field">
                    {{sub.email}}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="4" nzXl="4">
                <div nz-row class="detail-field">
                    {{sub.phone}}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="2" nzXl="2">
                <div *ngIf="sub.has_removed" nz-row class="detail-field">
                   Cancelada
                </div>
            </div>
        </div>
        <div nz-row style="padding-top:30px">
            <label class="title">Nº Incrições: </label><label
                class="detail-field">{{data?.number_subscriptions}}</label>
        </div>
        <div nz-row style="padding-top:30px">
            <button [nzLoading]="loadingReport" nz-button nzType="primary" class="btn" (click)="getReport()">
                <i nz-icon type="download"></i>Listagem com dados dos utilizadores</button>
        </div>
    </nz-tab>
</nz-tabset>