<nz-tabset nzTabPosition="left">
  <nz-tab nzTitle="Geral">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Modelo
        </div>
        <div nz-row class="detail-field">
          {{ data.model }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Tipologia
        </div>
        <div nz-row class="detail-field">
          {{ data.typology[0].name }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Conformidade do modelo
        </div>
        <div nz-row class="detail-field">
          <a *ngIf="data.model_conformity_file" [href]="data.model_conformity_file?.url" target="_blank">Visualizar <i
              nz-icon nzType="file-pdf" nzTheme="outline"></i></a>
          <span *ngIf="!data.model_conformity_file">-</span>
        </div>
      </div>
    </div>

  </nz-tab>
  <nz-tab nzTitle="Características">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Travões
        </div>
        <div nz-row class="detail-field">
          {{ data.brakes }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Tipo de Travão
        </div>
        <div nz-row class="detail-field">
          {{ data.brake_types }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Quadro
        </div>
        <div nz-row class="detail-field">
          {{ data.frame_type }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Suspensão
        </div>
        <div nz-row class="detail-field">
          {{ data.front_suspension }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Pneus
        </div>
        <div nz-row class="detail-field">
          {{ data.tyres }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Guarda corrente
        </div>
        <div nz-row class="detail-field">
          {{ data.chain_guard }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Mecanismo de mudanças
        </div>
        <div nz-row class="detail-field">
          {{ data.gear_mechanism }}
        </div>
      </div>

    </div>

  </nz-tab>
  <nz-tab nzTitle="Mecanismo de fixação">

    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Assento
        </div>
        <div nz-row class="detail-field">
          {{ data.seat_fixation_mechanism }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Roda dianteira
        </div>
        <div nz-row class="detail-field">
          {{ data.front_wheel_fixation_mechanism }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Roda traseira
        </div>
        <div nz-row class="detail-field">
          {{ data.back_wheel_fixation_mechanism }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Guiador
        </div>
        <div nz-row class="detail-field">
          {{ data.handlebar_fixation_mechanism }}
        </div>
      </div>
    </div>

  </nz-tab>
  <nz-tab nzTitle="Iluminação">
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Dianteira
        </div>
        <div nz-row class="detail-field">
          {{ data.front_illumination }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Traseira
        </div>
        <div nz-row class="detail-field">
          {{ data.back_illumination }}
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Reflexão">
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Lateral
        </div>
        <div nz-row class="detail-field">
          {{ data.side_reflections }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Pedal
        </div>
        <div nz-row class="detail-field">
          {{ data.pedal_reflections }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Dianteira
        </div>
        <div nz-row class="detail-field">
          {{ data.front_reflections }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Traseira
        </div>
        <div nz-row class="detail-field">
          {{ data.back_reflections }}
        </div>
      </div>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Extras">
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Descanso
        </div>
        <div nz-row class="detail-field">
          {{ data.rest }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Guarda-Lamas
        </div>
        <div nz-row class="detail-field">
          {{ data.mudguards }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Manual de instrução
        </div>
        <div nz-row class="detail-field">
          {{ data.instruction_manual }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Suporte da bagagem
        </div>
        <div nz-row class="detail-field">
          {{ data.luggage_support }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Sistema de monitorização
        </div>
        <div nz-row class="detail-field">
          {{ data.monitoring_system }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Avisador sonoro
        </div>
        <div nz-row class="detail-field">
          {{ data.sound_warning }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Outros acessórios
        </div>
        <div nz-row class="detail-field">
          {{ data.other_accessories }}
        </div>
      </div>
    </div>

  </nz-tab>

  <nz-tab nzTitle="Requisitos">
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Revestimento
        </div>
        <div nz-row class="detail-field">
          {{ data.coating_requirements }}
        </div>
      </div>
    </div>

  </nz-tab>

</nz-tabset>