:root {
  --primary-11: #02090b;
  --primary-10: #161c1e;
  --primary-9: #2e3233;
  --primary-8: #4b4e4e;
  --primary-7: #5c5e5f;
  --primary-6: #737474;
  --primary-5: #8a8a8a;
  --primary-4: #a3a4a4;
  --primary-3: #babbbb;
  --primary-2: #d5d5d5;
  --primary-1: #eeeeee;

    --primary-color: var(--primary-6); // color used in main actions

    --text-color              : black;
    --input-focus-shadow-color: #107f903b; // outer shadow of input on focus - GIVE 20% ALPHA

    --background-color: #f3f3f3;

    --menu-text-color    : black;
    --menu-item-active-bg: #B7D8DE; // color of the side menu active ite
    --menu-bg            : #F4F9FA; // color of the background of the menu
    --menu-sub-bg        : #FFFFFF; // color of the background of the submenu

    --login-background-color: var(--primary-10);

    --header-logo-background: var(--primary-9);
    --header-background     : var(--primary-color);
    --header-text-color     : #fff;

    --dashboard-text-color      : var(--primary-color);
    --dashboard-hover-text-color: #fff;

    --footer-text-color: #fff;
    --footer-color     : var(--primary-5);
}
