<div class="weather">

  <div class="weather__icon">
  	<img src="{{ weatherIcon }}" width="54" height="54" alt="" />
  </div>
  <div class="weather__temperature">
  	{{ weatherTemp | number : '1.0-0' : 'pt-PT' }}º
  </div>

</div>
