:host::ng-deep {

  display: inline-block;

  .weather {

    display: inline-block;

    &__icon {
      display: inline-block;
      width: 54px;
      height: 54px;
      line-height: 54px;
      filter: brightness(0) invert(1);
    }

    &__temperature  {
      display: inline-block;
      line-height: 54px;
      padding: 0 20px 0 5px;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: right;
      color: #ffffff;
    }

  }

}