<div class="content">
  <form [formGroup]="reportForm" (ngSubmit)="submit(reportForm.valid, reportForm.value)" nzLayout="vertical">
    <p class="subtitle">Relatório mensal</p>

    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="monthYear">Ano-Mês</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <nz-month-picker formControlName="monthYear" id="monthYear" name="monthYear" nzPlaceHolder="Mês" [nzDisabledDate]="dateValidator" ></nz-month-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="report">Relatório</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <textarea maxlength="255" nz-input formControlName="report" name="report" [nzAutosize]="{ minRows: 6, maxRows: 20 }" placeholder="Relatório" (ngModelChange)="onChangeRequired()"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzFor="report">Relatório - Ficheiro</nz-form-label>
          <nz-form-control>
            <fi-sas-upload-file formControlName="file_id" id="file_id" name="file_id" (ngModelChange)="onChangeRequired()"></fi-sas-upload-file>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="end">
      <div nz-col nzSpan="24" class="actions">
        <button nz-button nzType="default" type="button" (click)="close(false)">Cancelar</button>
        <button nz-button nzType="primary" type="submit" [nzLoading]="reportForm_loading" [disabled]="!reportForm.valid">
          <i nz-icon nzType="save"></i>Gravar</button>
      </div>
    </div>
  </form>
</div>
