#first_item::ng-deep svg {
  width: 25px !important;
  height: 25px !important;
  g path {
    fill: var(--primary-color);
  }
}
.buttonsEvents > * {
  padding: 10px;
}
#others_inten::ng-deep svg {
  width: 25px !important;
  height: 25px !important;
  g path {
    fill: #d1d1d1;
  }
}
:host::ng-deep {
  .header-actions {
    margin-top: 25px;
  }

  nz-empty {
    padding-top: 50px;
  }

  .list-application {
    &__header {
      @media screen and (min-width: 576px) {
        padding-top: 25px;
      }

      @media screen and (max-width: 576px) {
        padding: 16px;
        padding-top: 25px;
      }

      &__botton {
        float: right;
      }
    }

    &__body {
      //padding-top: 24px;
      margin-bottom: 75px;

      @media screen and (max-width: 576px) {
        padding: 16px;
      }
    }

    &__list {
      &__item {
        margin: 19px 0;
        cursor: pointer;
        border-radius: 8px;
        box-shadow: 0 2px 4px 0 rgba(223, 223, 223, 0.5);
        background: white;
        padding: 16px;
        &__history {
          &__title {
            font-weight: 600;
          }
          &__info {
            margin: 0px;
            font-size: 10px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.8;
            letter-spacing: normal;
            color: #5c5c5c;
          }
        }
        &__status {
          &__date {
            &__title {
              margin: 5px 41px 5px 0;
              opacity: 0.4;
              font-size: 10px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.6;
              letter-spacing: normal;
              color: #666;
            }
            &__info {
              margin: 5px 37px 5px 0;
              font-size: 10px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #666;
            }
          }
        }
        &__title {
          margin: 0;
          font-size: 24px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          letter-spacing: normal;
          color: #333;
        }
        &__body {
          &__name {
            margin: 0px !important;
            margin-top: 16px !important;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #222222;
          }

          &__info {
            margin: 0px !important;
            margin-top: 8px !important;
            font-family: Montserrat;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            color: #666666;
          }

          &__regime {
            margin: 0px !important;
            margin-top: 16px !important;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #222222;
          }

          &__academic_year {
            margin-bottom: 8px;
            font-family: Montserrat;
            font-size: 11px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 12px;
            letter-spacing: normal;
            color: #222222;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
