<div nz-row>
  <div nz-col [nzSm]="20" [nzXs]="24">
    <h2 class="title-top-page"> {{ "EMERGENCY_FUND.SUBMIT_EXPENSIVE.TITLE_1" | translate }} </h2>
  </div>

  <div nz-col [nzSm]="20" [nzXs]="24">
    <h2 class="title-top-page"> {{ "EMERGENCY_FUND.SUBMIT_EXPENSIVE.TITLE_2" | translate }} </h2>
  </div>

  <div nz-col [nzSm]="20" [nzXs]="24">
    <form nz-form [formGroup]="aplicationForm" class="content__group" *ngIf="!loading" >
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
        <!--DOCUMENTS TYPE-->

        <nz-form-item>
          <nz-form-label nzRequired nzFor="document_type">
            <span class="content__title">
              <b>{{ "EMERGENCY_FUND.SUBMIT_EXPENSIVE.DOC_TYPE" | translate }}</b>
            </span >
          </nz-form-label>
          <nz-form-control>
            <nz-select class="primary-select" formControlName="document_type" id="document_type" [nzMode]="'default'" nzShowSearch >
              <nz-option *ngFor="let doc of documentsTypes" [nzLabel]="getDocumentTypeDescription(doc.id)" [nzValue]="doc.id">

              </nz-option>
            </nz-select>
          </nz-form-control>

          <nz-form-explain class="error" *ngIf="f.document_type.dirty && f.document_type.errors">
            {{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}
          </nz-form-explain>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
        <app-input [label]="'EMERGENCY_FUND.SUBMIT_EXPENSIVE.DOC_NUMBER' | translate" [errors]="'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate"
          [showErro]="f.document_number.dirty && f.document_number.errors" formControlName="document_number">

        </app-input>
      </div>

      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
        <nz-form-item>
          <nz-form-label documents nzRequired nzFor="income_statement_files_ids" >
            <span class="content__title">
              <b>{{ "EMERGENCY_FUND.SUBMIT_EXPENSIVE.DATE" | translate }}</b>
            </span>
          </nz-form-label>
          <nz-form-control>
            <nz-date-picker class="primary-datePicker total-width" formControlName="document_date" id="document_date" >

            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
        <app-input
          [label]="'EMERGENCY_FUND.SUBMIT_EXPENSIVE.NAME' | translate"
          [errors]="'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate"
          [showErro]="f.supplier_name.dirty && f.supplier_name.errors"
          formControlName="supplier_name"
        >
        </app-input>
      </div>
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
        <app-input
          [label]="'EMERGENCY_FUND.SUBMIT_EXPENSIVE.NIF' | translate"
          [errors]="'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate"
          [showErro]="f.supplier_nif.dirty && f.supplier_nif.errors"
          formControlName="supplier_nif"
        >
        </app-input>
      </div>
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
        <app-input
          [label]="'EMERGENCY_FUND.SUBMIT_EXPENSIVE.DOCUMENT_VALUE' | translate"
          [errors]="'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate"
          [showErro]="f.document_value.dirty && f.document_value.errors"
          formControlName="document_value"
          [money]="true"
        >
        </app-input>
      </div>
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
        <!--INTENDED SUPPORTS-->

        <nz-form-item>
          <nz-form-label nzRequired nzFor="intendedSupports">
            <span class="content__title">
              <b>{{ "EMERGENCY_FUND.LIST_APPLICATIONS_EXPENSES.IS" | translate }}</b>
            </span >
          </nz-form-label>
          <nz-form-control>
            <nz-select class="primary-select" formControlName="intendedSupports" id="intendedSupports" [nzMode]="'default'" nzShowSearch >
              <nz-option *ngFor="let sp of intendedSupports" [nzLabel]="getSupportDescription(sp.support_id)" [nzValue]="sp.id">

              </nz-option>
            </nz-select>
          </nz-form-control>

          <nz-form-explain class="error" *ngIf="f.intendedSupports.dirty && f.intendedSupports.errors">
            {{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}
          </nz-form-explain>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
        <nz-form-item>
          <nz-form-label nzFor="observations">
            <span class="content__title">
              <b>{{ "EMERGENCY_FUND.SUBMIT_EXPENSIVE.DESCRIPTION" | translate }}</b>
            </span>
          </nz-form-label>

          <nz-form-control>
            <textarea
              class="primary-textarea" rows="6" nz-input formControlName="expense_description">
            </textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
        <nz-form-label documents nzRequired nzFor="income_statement_files_ids">
          <span class="content__title">
            <b>{{ "EMERGENCY_FUND.SUBMIT_EXPENSIVE.FILE" | translate }}</b>
          </span>
        </nz-form-label>
        <nz-form-control>
          <app-file-upload formControlName="attachment" [listType]="'picture-card'" [filterTypes]="filterFileTypes"
            [multiUploads]="false" [buttonName]="'EMERGENCY_FUND.LIST_APPLICATIONS.ATTACHMENT_PLACEHOLDER'">

          </app-file-upload>
        </nz-form-control>

        <nz-form-explain class="error" *ngIf="filterFileTypes.length == 0" >
          {{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}
        </nz-form-explain>
      </div>

      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
        <app-button [translate]="'EMERGENCY_FUND.SUBMIT_EXPENSIVE.BUTTON'" [type]="'primary'" (click)="submitForm()" >
          
        </app-button>
      </div>
    </form>
  </div>
</div>
