<nz-spin [nzTip]="'A carregar...'" [nzSpinning]="loading">
  <div class="content">
    <form nz-form [formGroup]="currentForm" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzRequired>Data </nz-form-label>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-date-picker
            formControlName="date"
            nzPlaceHolder="Please select data"
            nzShowTime
          ></nz-date-picker>
          <ng-template #errorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Confirme a data
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>Serviço</nz-form-label>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-select
            style="max-width: 200px"
            formControlName="service_id"
            nzPlaceHolder="Serviço"
            nzShowSearch
            nzAllowClear
            [nzLoading]="servicesLoading"
          >
            <nz-option
              *ngFor="let item of services"
              [nzLabel]="item.name"
              [nzValue]="item.id"
              [nzDisabled]="!item.active"
            >
            </nz-option>
          </nz-select>
          <ng-template #errorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Confirme o serviço
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-divider nzText="Linhas" nzOrientation="left"></nz-divider>

      <ng-container formArrayName="lines">
        <table class="table">
          <thead class="table__thead">
            <tr class="table__thead__row">
              <th style="width: 15%">Producto</th>
              <th style="width: 15%">Producto desinfetante</th>
              <th style="width: 15%">Lote</th>
              <th style="width: 10%">Hora inicio</th>
              <th style="width: 10%">Hora fim</th>
              <th style="width: 10%">quantidade</th>
              <th style="width: 10%">water_quantidade</th>
              <th style="width: 10%">Remover</th>
            </tr>
          </thead>
          <tbody class="table_tbody">
            <tr
              class="table__tbody__row"
              *ngFor="let linesForm of lines.controls; let i = index"
              [formGroup]="linesForm"
            >
              <td>
                <nz-form-item>
                  <nz-form-control [nzErrorTip]="errorTpl0">
                    <nz-select
                      formControlName="product_id"
                      nzPlaceHolder="Pesquise o produto..."
                      nzShowSearch
                      nzAllowClear
                      [nzServerSearch]="true"
                      (nzOnSearch)="onProductsSearch($event)"
                      [nzLoading]="isProductsLoading"
                    >
                      <nz-option
                        *ngFor="let item of products"
                        [nzLabel]="(item.translations | translation).name"
                        [nzValue]="item.id"
                        [nzDisabled]="!item.active"
                      >
                      </nz-option>
                    </nz-select>
                    <ng-template #errorTpl0 let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Selecione um produto
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </td>

              <td>
                <nz-form-item>
                  <nz-form-control [nzErrorTip]="errorTpl1">
                    <nz-select
                      formControlName="disinfectant_product_id"
                      nzPlaceHolder="Pesquise o produto..."
                      nzShowSearch
                      nzAllowClear
                      [nzServerSearch]="true"
                      (nzOnSearch)="onDisinfectantProductsSearch($event)"
                      [nzLoading]="isDisinfectantProductsLoading"
                    >
                      <nz-option
                        *ngFor="let item of disinfectant_products"
                        [nzLabel]="(item.translations | translation).name"
                        [nzValue]="item.id"
                        [nzDisabled]="!item.active"
                      >
                      </nz-option>
                    </nz-select>
                    <ng-template #errorTpl1 let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Selecione um produto
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </td>

              <td>
                <nz-form-item>
                  <nz-form-control
                    [nzErrorTip]="errorTpl3"
                    style="text-align: center"
                  >
                    <input nz-input type="text" formControlName="lote" />
                    <ng-template #errorTpl3 let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Produto foi aquecido ?
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </td>

              <td>
                <nz-form-item>
                  <nz-form-control [nzErrorTip]="errorTpl2">
                    <nz-time-picker
                      formControlName="start_date"
                    ></nz-time-picker>

                    <ng-template #errorTpl2 let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Insira a temperatura
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td>
                <nz-form-item>
                  <nz-form-control [nzErrorTip]="errorTpl2_1">
                    <nz-time-picker formControlName="end_date"></nz-time-picker>
                    <ng-template #errorTpl2_1 let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Insira a temperatura
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </td>

              <td>
                <nz-form-item>
                  <nz-form-control [nzErrorTip]="errorTpl3_1">
                    <input nz-input formControlName="quantity" type="number" />
                    <ng-template #errorTpl3_1 let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Insira a temperatura
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </td>

              <td>
                <nz-form-item>
                  <nz-form-control [nzErrorTip]="errorTpl3_2">
                    <input
                      nz-input
                      formControlName="water_quantity"
                      type="number"
                    />
                    <ng-template #errorTpl3_2 let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Insira a temperatura
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </td>

              <td>
                <button
                  nz-button
                  nzSize="small"
                  nzType="danger"
                  (click)="deleteLine(i)"
                >
                  <i nz-icon nzType="delete" nzTheme="outline"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <nz-form-item>
        <nz-form-control nzSpan="24" style="text-align: center">
          <button
            nz-button
            nzType="dashed"
            class="add-button"
            (click)="addLine()"
          >
            <i nz-icon nzType="plus"></i>
            Adicionar Linha
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>

  <div class="space">
    <button nz-button (click)="backList()">Voltar</button>
    <button
      nz-button
      [nzLoading]="loading"
      [disabled]="loading"
      (click)="submit()"
      class="button-submit"
      [nzType]="'primary'"
    >
      {{ id ? 'Editar' : 'Criar' }}
    </button>
  </div>
</nz-spin>
