.content {
    background-color: white;
    margin: 16px;
    padding: 16px;
}

.table {
    width: 100%;
    margin-bottom: 16px;

    &__thead {

        &__row {

            &>th {
                background: #fafafa;
                padding: 16px;
                border-bottom: 1px solid #e8e8e8;
                text-align: center;
            }

            &>th:first-child {
                text-align: left;
            }

            &>th:last-child {
                text-align: right;
            }
        }
    }

    &__tbody {
        &__row {



            &>td {
                padding: 4px;
                border-bottom: 1px solid #e8e8e8;


            }

            &>td:first-child {
                text-align: left;
            }

            &>td:last-child {
                text-align: right;
            }


        }
    }
}

.space {
    background-color: #F2F2F2;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right
}

.button-submit {
    margin-left: 20px;
}

.button-back {
    margin-left: 40px;
    float: left;
}