@import "theme";

::ng-deep.ant-drawer-header {
  border-radius: 0 0 0 0;
  height: 65px;
  background: var(--primary-5);
}

::ng-deep.ant-drawer-title {
  font-family: Montserrat;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #ffffff;
  position: relative;
  top: 14px;
}


//.user {
//  margin-left: calc(100% - 230px);
//  position: absolute;
//}

@media screen and (max-width: 767px) {
  //.user {
  //  margin-left: calc(100% - 120px);
  //  position: absolute;
  //}
}


.header-web {
  line-height: 60px;
}

.header-mobile {
  display: none;
}

.title {
  float: left;
  background: var(--header-background);
  height: 64px;
  width: 205px;
  text-align: center;
  font-size: 26px;
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: var(--header-text-color);
  :focus {
    outline: none;
  }
  p {
    margin-top: 23px;
    font-size: 16px;
    line-height: 18px;
  }

  b {
    font-weight: bold;
  }

  img {
    width: 75%;
    margin-top: 10px;
  }
}

.title-mobile {
  height: 40px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--header-mobile-text-color);
  margin-top: 15px;
  display: flex;
  padding-left: 20px;

}

.user-mobile {
 text-align: right;
}

.fold-button {
    font-size: 20px;
    color: black;
    text-align: center;
    background-color: white;
    cursor: pointer;
}


.hidden-md {
  display:none;
}

@media screen and (max-width: 800px) {
  .header-web {
    display: none;
    line-height: 60px;
  }
  .header-mobile {
    display: -webkit-box;
  }

  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display:block;
  }

  .hidden-tablet{
    display:none;
  }
}

@media screen and (max-width: 600px) {
  .header-web {
    display: none;
    line-height: 60px;
  }
  .header-mobile {
    display: -webkit-box;
  }

  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display:block;
  }

  .hidden-tablet{
    display: block;
  }
}


