<nz-dropdown nzPlacement="bottomRight">
    <div nz-dropdown>
      <nz-avatar nzIcon="user" [nzShape]="'square'"></nz-avatar>
      {{ userModel? userModel.name : 'Utilizador'}}
    </div>
    <ul nz-menu >
      <div nz-menu-item [nzDisabled]="true"><i nz-icon type="user" ></i>{{ userModel? userModel.user_name : 'username' }}</div>
      <li nz-menu-divider></li>
      <div nz-menu-item (click)="logout()"><i nz-icon type="logout"></i>Sair</div>
    </ul>
  </nz-dropdown>
  