
<nz-card class="card__section" [ngClass]="{'blur': !tickets?.active}" *ngIf="custumizeToggle || tickets?.active">
    <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16" [nzLg]="16" [nzXl]="14" [nzXXl]="14">
            <div nz-row>
                <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="4" [nzLg]="3" [nzXl]="2" [nzXXl]="2">
                    <i nz-icon class="icon" type="icons:icons-ticket" id="icon-dashboard"></i>
                </div>
                <div nz-col [nzXs]="21" [nzSm]="21" [nzMd]="20" [nzLg]="21" [nzXl]="22" [nzXXl]="22">
                    <div nz-row>
                        <span class="card__title">{{ "DASHBOARD.WIDGETS.QUEUE.TITLE" | translate }}</span>
                    </div>
                    <div nz-row class="black-text">
                        <span>{{ "DASHBOARD.WIDGETS.QUEUE.DESCRIPTION" | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="10" [nzXXl]="10">
            <button nz-button nzType="default" class="btw-see-more" [routerLink]="['/queue', 'my-tickets']">
                {{ "DASHBOARD.WIDGETS.SEE-MORE.TITLE" | translate }}
            </button>
        </div>

    </div>
    <div nz-row nzType="flex" [nzGutter]="24">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12"
            *ngFor="let ticket of tickets.data" style="margin-top: 20px;">
            <div [ngClass]="{'box-ticket': ticket.type != 'M', 'box-ticket-M': ticket.type == 'M' }">
                <div nz-row>
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="15" [nzLg]="16" [nzXl]="19" [nzXXl]="19">
                        <div nz-row>
                            <span class="text-service">{{(ticket?.subject?.service?.translations | languageChange)?.name}}</span>
                        </div>
                        <div nz-row>
                            <span class="text-subject">{{(ticket?.subject?.translations | languageChange)?.name}}</span>
                        </div>
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="9" [nzLg]="8" [nzXl]="5" [nzXXl]="5" style="text-align: center;">
                        <span class="text-ticket">{{ticket?.ticket_code}}</span>
                    </div>
                </div>
                <div nz-row>
                    <span class="date-title">
                        {{ "DASHBOARD.WIDGETS.QUEUE.DATE" | translate }}
                    </span>
                </div>
                <div nz-row>
                    <span class="date-text">
                       {{ticket?.created_at | date: "dd MMMM yyyy"}} - {{ticket?.created_at | date: "HH:mm"}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</nz-card>