<div *ngIf="project" class="content--padding white">
  <div nz-row class="padding-10">
    <nz-divider nzOrientation="center" nzText="Dados Gerais"></nz-divider>
  </div>


  <nz-row [nzGutter]="16" class="general-stats">
    <nz-col [nzSpan]="8">
      <nz-statistic [nzValue]="project.totalNumberUsers ? project.totalNumberUsers : '---'"
        [nzTitle]="'Total de utilizadores registados'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="8">
      <nz-statistic [nzValue]="project.users_enrolled" [nzTitle]="'Total de utilizadores ativos no U-Bike'">
      </nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="8">
      <nz-statistic [nzValue]="project.users_enrolled_perc | percent"
        [nzTitle]="'Total de utilizadores ativos no U-Bike em percentagem'"></nz-statistic>
    </nz-col>
  </nz-row>
  <div nz-row class="padding-10">
    <nz-divider nzOrientation="center" nzText="Por Perfil"></nz-divider>
  </div>

  <nz-row class="profile-stats" nzType="flex" nzJustify="space-around" nzAlign="middle" [nzGutter]="16"
    *ngFor="let profile of project.aggregate_data">

    <nz-col [nzSpan]="24" class="profile-stats--profile">
      <nz-card>
        <span class="profile-stats--profile-name">{{profile.profile_name}}</span>
      </nz-card>
    </nz-col>

    <nz-col [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="6">
      <nz-card>
        <nz-statistic [nzValue]="profile.total_users_profile" [nzTitle]="'Total de utilizadores'">
        </nz-statistic>
      </nz-card>
    </nz-col>

    <nz-col [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="6">
      <nz-card>
        <nz-statistic [nzValue]="profile.profile_users_perc_of_total | percent"
          [nzTitle]="'Total de utilizadores por %'">
        </nz-statistic>
      </nz-card>
    </nz-col>

    <nz-col [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="6">
      <nz-card>
        <nz-statistic [nzValue]="profile.profile_bike_users" [nzTitle]="'Total de bicicletas'">
        </nz-statistic>
      </nz-card>
    </nz-col>

    <nz-col [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="6">
      <nz-card>
        <nz-statistic [nzValue]="profile.profile_adherence_perc | percent" [nzTitle]="'Adesão'">
        </nz-statistic>
      </nz-card>
    </nz-col>

  </nz-row>

</div>
