.profile-stats {
  margin-bottom: 16px;
  margin-bottom: 26px;
  &--profile {
    margin-bottom: 10px;
  }
  &--profile-name {
    font-size: 24px;
    font-weight: bold;
  }
}

.general-stats {
  margin-bottom: 50px;
  text-align: center;
}

.white {
  background-color: white;
}

.padding-10 {
  padding-top: 15px;
  padding-bottom: 15px;
}