
<!--Ticket-->
<div nz-row class="ticket" [ngClass]="{'ticket___unavailable' : !isAvailable || isExpired() }" >
  <div nz-col [nzXs]="24" [nzSm]="6" [nzMd]="6" >
    <img *ngIf="dish?.file" src="{{dish?.file?.url}}" />
    <img  *ngIf="!dish?.file" alt="Unavailable Image" src="/assets/imgs/unavailable-image.jpg" />
  </div>
  <div nz-col class = "ticket___dish_info" [nzXs]="24" [nzSm]="18" [nzMd]="18" class="mobile-padding-top">

    <div nz-row class="ticket___dish_info___date_meal">
      <div nz-col class="ticket___dish_info___meal" [nzSpan]="12">
        {{ "ALIMENTATION.MEALS."+meal?.toUpperCase() | translate }}
      </div>
      <div nz-col class="ticket___dish_info___date" [nzSpan]="12">
        <nz-tag *ngIf="isFromPack" [nzColor]="'blue'">Pack</nz-tag>
        {{date | date : 'yyyy MM dd'}}

        <nz-dropdown class="ticket___cancel" *ngIf="ticket && isAvailable && !isFromPack && !isExpired()" [nzTrigger]="'click'" [nzPlacement]="'bottomRight'">
          <a nz-dropdown ><i nz-icon nzType="icons:icons-more-options" nzTheme="outline" class="icon-cancel"></i></a>
          <ul nz-menu>
            <li nz-menu-item (click)="cancelPurchased()" >{{ "ALIMENTATION.PURCHASED_TICKETS.CANCEL_PURCHASE"| translate }}</li>
          </ul>
        </nz-dropdown>

      </div>
    </div>

    <div nz-row>
      <div nz-col class="ticket___dish_info___type" [nzSpan]="24">
        {{(dish?.dish_type_translation | languageChange).name}}
      </div>
    </div>

    <div nz-row>
      <div nz-col class="ticket___dish_info___name" [nzSpan]="24">
        {{((dish?.translations | languageChange).name)?.charAt(0).toUpperCase() + ((dish?.translations | languageChange).name)?.slice(1).toLowerCase()}}
      </div>
    </div>

    <div nz-row>
      <div nz-col class="ticket___dish_info___service" [nzSpan]="24">
        {{dish?.location}}
      </div>
    </div>

  </div>
  <div *ngIf="disabled" class="product-list-detail--disabled">
    {{"ALIMENTATION.CANCEL_TICKET.CANCELED" | translate}}
  </div>
  <div *ngIf="isExpired()" class="product-list-detail--expired">
    {{"ALIMENTATION.CANCEL_TICKET.EXPIRED" | translate}}
  </div>
  <div *ngIf="isServed" class="product-list-detail--served">
    {{"ALIMENTATION.CANCEL_TICKET.CONSUMED" | translate}}
  </div>
  
</div>


<!--Cancel Ticket ModalBox-->

<app-cancel-modal-box [reservationID]="reservationId" [nullable]="nullable" #modalBox (refresh)="refreshReservations($event)"></app-cancel-modal-box>

