@import "theme";

@bg: #ffffff;
@hole: .4em;
@font-sum: 1px;
:host::ng-deep {

  .ticket {
    width: 92%;
    height: 100%;
    display: inline-block;
    box-sizing: content-box;
    position: relative;
    padding: 4%;
    color: black;
    border-radius: 7px;
    background-size: 51% 100%;
    background-color: white;

    img {
      width: 72px;
      height: 72px;
      border-radius: 3px;
      object-fit: cover;
    }

    &___unavailable {
      opacity: 0.5;
    }

    &___cancel {
      margin-left: 10px;
      ul > li {
        font-family: Montserrat;
        font-size: 13px + @font-sum;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: normal;
        color: #000000;
      }
    }

    &___dish_info {
      font-family: Montserrat;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      padding-left: 8px;


      &___meal {
        margin: 0px;
        margin-bottom: 8px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        color: #979797;
      }

      &___date {
        line-height: 1.33;
        text-align: right;
        color: var(--primary-color);
      }

      &___type {
        margin: 0px;
        margin-bottom: 16px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.23;
        letter-spacing: normal;
        color: #222222;
      }

      &___name {
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: normal;
        color: #222222;
        padding-bottom: 10px;
      }

      &___service {
        margin: 0px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        color: #979797;
      }
    }
  }
}

.icon-cancel {
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .mobile-padding-top {
    padding-top: 10px;
  }
}


.product-list-detail--disabled {
  position: absolute;
  font-size: 14px;
  top: 100px;
  left: 85%;
  color: red;
  border-radius: 15px;
  font-weight: bold;
  transform: translateX(-50%);
  @media screen and (max-width: 600px) {
    top: 120px;
  }
}

.product-list-detail--expired {
  position: absolute;
  top: 100px;
  left: 85%;
  color: red;
  border-radius: 15px;
  font-weight: 700;
  transform: translateX(-50%);
  @media screen and (max-width: 600px) {
    top: 120px;
  }
}

.product-list-detail--served {
  position: absolute;
  font-size: 14px;
  top: 100px;
  left: 85%;
  color: #64a569;
  border-radius: 15px;
  font-weight: bold;
  transform: translateX(-50%);
  @media screen and (max-width: 600px) {
    top: 120px;
  }
}