<div nz-row *ngIf="event.recurrence_type == 'RECURRENT'" class="padding-top-10">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <nz-divider></nz-divider>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="recurrence_detail__box">
    <div nz-col nzXs="24" nzSm="24" nzMd="8"class="text-center">
      <div nz-row class="recurrence_detail__title uppercase">{{"EVENTS.RECURRENCY.REPEATS" | translate}}</div>
      <div nz-row>
        <b>{{event.repeat_frequency_number}} {{ event.frequency=='DAILY' ? ("EVENTS.RECURRENCY.TYPE.DAYS" | translate)  :  event.frequency=='WEEKLY' ? ("EVENTS.RECURRENCY.TYPE.WEEKLY" | translate) : event.frequency=='MONTHLY' ? ("EVENTS.RECURRENCY.TYPE.MONTHLY" | translate) : event.frequency=='ANNUALLY' ?  ("EVENTS.RECURRENCY.TYPE.ANNUALLY" | translate) : ''}}</b>
      </div>
    </div>
    
    <div nz-col nzXs="24" nzSm="24" nzMd="8" class="text-center" *ngIf="event.frequency=='WEEKLY'" >
      <div nz-row class="recurrence_detail__title uppercase">{{"EVENTS.RECURRENCY.TYPE.DAYS" | translate}}</div>
      <div nz-row *ngIf="event.repeat_day_monday">
        <b>{{"EVENTS.RECURRENCY.WEEK_DAYS.MONDAY" | translate}}</b>
      </div>
      <div nz-row *ngIf="event.repeat_day_tuesday">
        <b>{{"EVENTS.RECURRENCY.WEEK_DAYS.TUESDAY" | translate}}</b>
      </div>
      <div nz-row *ngIf="event.repeat_day_wednesday">
        <b>{{"EVENTS.RECURRENCY.WEEK_DAYS.WEDNESDAY" | translate}}</b>
      </div>
      <div nz-row *ngIf="event.repeat_day_thursday">
        <b>{{"EVENTS.RECURRENCY.WEEK_DAYS.THURSDAY" | translate}}</b>
      </div>
      <div nz-row *ngIf="event.repeat_day_friday">
        <b>{{"EVENTS.RECURRENCY.WEEK_DAYS.FRIDAY" | translate}}</b>
      </div>
      <div nz-row *ngIf="event.repeat_day_saturday">
        <b>{{"EVENTS.RECURRENCY.WEEK_DAYS.SATURDAY" | translate}}</b>
      </div>
      <div nz-row *ngIf="event.repeat_day_sunday">
        <b>{{"EVENTS.RECURRENCY.WEEK_DAYS.SUNDAY" | translate}}</b>
      </div>
    </div>
  
    <div nz-col nzXs="24" nzSm="24" nzMd="8" class="text-center">
      <div nz-row class="recurrence_detail__title uppercase">{{"EVENTS.RECURRENCY.END_IN" | translate}}</div>
      <div nz-row>
        <b *ngIf="event.never_ends">{{"EVENTS.RECURRENCY.NEVER" | translate}}</b>
        <b *ngIf="event.ends_in_date">{{"EVENTS.RECURRENCY.ENDS_IN_DATE" | translate}} - {{event.ends_in_date | date:'dd-MM-yyyy'}}</b>
        <b *ngIf="event.end_after_occurrences">{{"EVENTS.RECURRENCY.ENDS_AFTER" | translate}} - {{event.end_after_occurrences}}</b>
      </div>
    </div>
  </div>
</div>
