.recurrence_detail{
    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__title {
        color: unset;
        font-stretch: normal;
        font-weight: 300;
        line-height: 1.88;
        letter-spacing: normal;
    }
    &__info {
        color: unset;
        font-stretch: normal;
        font-weight: 400;
        line-height: 1.88;
        letter-spacing: normal;
    }
}

.uppercase {
    text-transform: uppercase;
}
