<nz-tabset nzTabPosition="left">
  <nz-tab nzTitle="Dados do Utente">
    <div nz-row nzJustify="start" class="padding-top-20">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
          <p class="title">Nome: </p>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <p class="detail-field">{{ appointment.name }}</p>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Morada: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ appointment.address ? appointment.address : "---" }}</p>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Data de Nascimento: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">----</p>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Código Postal: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ appointment.postal_code ? appointment.postal_code : "---" }}</p>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Nacionalidade: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ appointment.nationality ?  appointment.nationality : "---"}}</p>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Cidade: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ appointment.city ? appointment.city : "---" }}</p>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Documento de Identificação: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ appointment.documentType ? validTranslateName(3, appointment?.documentType?.translations).description : "---" }}</p>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12"></div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Número de Identificação: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ appointment.identification_number ? appointment.identification_number : "---" }}</p>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12"></div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">NISS: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ appointment.niss ? appointment.niss : "---" }}</p>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12"></div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">NIF: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ appointment.nif ? appointment.nif : "---" }}</p>
          </div>
        </div>
      </div>
      <div nz-row class="padding-top-20">
        <nz-divider></nz-divider>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Número de Aluno/Corporate: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ appointment.student_number ? appointment.student_number : appointment.corporate_id ? appointment.corporate_id : "---" }}</p>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Unidade Orgânica: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ appointment?.organicUnit ? appointment?.organicUnit.name : "---" }}</p>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Curso: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ appointment?.course ? appointment.course.name : "---" }}</p>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Ano Curricular </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ appointment.course_year ? appointment.course_year : "---" }}</p>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
          <p class="title">Email: </p>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <p class="detail-field">{{ appointment.email ? appointment.email : "---" }}</p>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
          <p class="title">Nº de Telemóvel: </p>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <p class="detail-field">{{ appointment.mobile_phone_number ? appointment.mobile_phone_number : "---" }}</p>
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Dados da Consulta">
    <div nz-row nzJustify="start" class="padding-top-20">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
          <p class="title">Especialidade: </p>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <p class="detail-field">{{validTranslateName(3,appointment.specialty?.translations).name }}</p>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
          <p class="title">Tipo: </p>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <p class="detail-field">{{validTranslateName(3,appointment.appointment_type?.translations).name }}</p>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
          <p class="title">Local: </p>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <p class="detail-field">{{ appointment.specialty.place ? appointment.specialty.place.name : "---" }}</p>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
          <p class="title">Serviço: </p>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <p class="detail-field">{{ appointment.specialty.is_external ? "Externo" : "Interno" }}</p>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
          <p class="title">Médico: </p>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <p class="detail-field">{{ appointment.doctor.user ? appointment.doctor.user.name : "---" }}</p>
        </div>
      </div>
      <div nz-row class="padding-top-20">
        <nz-divider></nz-divider>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
          <p class="title">Data da Marcação: </p>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <p class="detail-field">{{ appointment.date | date :'dd/MM/yyyy'  }}</p>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
          <p class="title">Hora da Marcação: </p>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <p class="detail-field">{{ appointment.start_hour ? appointment.start_hour : "---" }}</p>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
          <p class="title">Tempo Médio Consulta: </p>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <p class="detail-field">{{ appointment.specialty ? appointment.specialty.avarage_time +" min" : "---" }}</p>
        </div>
      </div>
    </div>
  </nz-tab>
</nz-tabset>