<div class="container">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
      <div nz-row>
        <nz-form-label>Estado</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="filters.status" nzAllowClear nzShowSearch="true" style="width: 100%;">
            <nz-option *ngFor="let status of statusListing" [nzLabel]="status.label" [nzValue]="status.value">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
      <nz-form-label>Proprietários</nz-form-label>
      <nz-form-control>
        <nz-select [(ngModel)]="filters.owner_id" [nzLoading]="owners_loading" style="width: 100%;"
          nzAllowClear nzShowSearch="true">
          <nz-option *ngFor="let owner of owners" [nzLabel]="owner?.user.name" [nzValue]="owner.id">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
      <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
      style="text-align: left;">
      <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
    </div>
  </div>
</div>
<div class="container">
  <nz-table [nzScroll]="{ x: '240px' }" class="content-table" #refTable [nzData]="data"
  (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
  [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
  (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr class="table__header">
      <th></th>
      <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
        [nzSortKey]="column.sortKey ? column.sortKey : column.key">
        {{ column.label }}
      </th>
      <th nzRight="0px" class="text-right">Ações</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="refTable.data">
      <tr>
        <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
        <td *ngFor="let column of columns">
          <span *ngIf="!column.tag">{{
            column.translation
            ? (data.translations | where: ['language_id', 3])[0][column.key]
            : (data | flatObject)[column.key]
            }}</span>
          <span *ngIf="column.tag">
            <fi-sas-tag [value]="data[column.key]" [results]="column.tag"></fi-sas-tag>
          </span>
        </td>
        <td nzRight="0px" class="text-right">
          <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
            nzPlacement="bottomRight">
            <i nz-icon nzType="dash" nzTheme="outline"></i>
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item [nzDisabled]="
                  (!('private_accommodation:owners:approve' | hasPermission) && !('private_accommodation:owners:reject' | hasPermission)) ||
                  data.status === 'Rejected' ||
                  data.status === 'Approved'
                " (click)="
                  changeStateModal(
                    data,
                    data.status === 'Rejected' || data.status === 'Approved'
                  )
                ">
                Alterar estado
              </li>
              <li nz-menu-item [nzDisabled]="!('private_accommodation:listings:update' | hasPermission)"
                [routerLink]="['/private-accommodation', 'listings', 'edit', data.id]">Editar</li>
              <li nz-menu-item [nzDisabled]="!('private_accommodation:listings:delete' | hasPermission)"
                (click)="deleteListing(data.id)">
                Eliminar
              </li>
            </ul>
          </nz-dropdown-menu>
        </td>
      </tr>

      <tr [nzExpand]="mapOfExpandData[data.id]">
        <td [attr.colspan]="columns.length + 3">
          <fi-sas-view-listing [listing]="data"></fi-sas-view-listing>
        </td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>
</div>


<nz-modal [(nzVisible)]="isChangeStatusModalVisible" [nzTitle]="'Mudança de estado'" [nzWidth]="900"
  [nzFooter]="modalFooter" (nzOnCancel)="handleChangeStatusCancel()">
  <p>Mudar estado para:</p>
  <div nz-row nzType="flex" class="actions" nzGutter="24">
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['Approve']">
      <div (click)="changeStatusModalActiveAction('Approve')" class="actions__button--approve" [ngClass]="{
          'actions__button--approve--active':
          changeStatusModalListingAction === 'Approve'
        }">
        Aprovar
      </div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['Reject']">
      <div (click)="changeStatusModalActiveAction('Reject')" class="actions__button--reject" [ngClass]="{
          'actions__button--reject--active':
            changeStatusModalListingAction === 'Reject'
        }">
        Rejeitar
      </div>
    </div>
  </div>

  <nz-divider></nz-divider>
  <div nz-row nzType="flex">
    <div nz-col nzSpan="4">
      Notas:
    </div>
    <div nz-col nzSpan="20">
      <textarea maxlength="255" nz-input [(ngModel)]="changeStatusModalNotes" rows="4"></textarea>
    </div>
  </div>

  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="handleChangeStatusOk()"
      [ngClass]="{ disabled: (changeStatusModalListingAction === null) }" [nzLoading]="changeStatusModalLoading">
      Mudar de estado
    </button>
  </ng-template>
</nz-modal>