<ActionBar class="action-bar">
    <Label class="action-bar-title" text="{{ 'KEY1' | translate }}" (tap)="changeLanguage()"></Label>
</ActionBar>

<GridLayout class="page">

	<ListView class="list-group" [items]="posts">
	    <ng-template let-post="item">
	        <FlexboxLayout flexDirection="row" class="list-group-item" [nsRouterLink]="['/play/posts', post.id]">
	            <Label [text]="post.title" class="list-group-item-heading"
	                verticalAlignment="center"></Label>
	        </FlexboxLayout>
	    </ng-template>
	</ListView>

</GridLayout>