<div perfectScrollbar class="ps scroll-container">
  <!--[ngClass]="{'content--padding': formPadding, 'ps scroll-container': formScroll}"-->
  <div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="footer-home-page-create">
    <div nz-col [nzSpan]="24" class="footer-home-page-create__body">
      <p><span style="color: red;">*</span> Selecione um serviço:</p>
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecione um serviço" [(ngModel)]="selectedService"
        style="width: 50%;" (ngModelChange)="selectServices()">
        <nz-option *ngFor="let option of servicesList" [nzLabel]="(option.translations | translation)?.description"
          [nzValue]="option">
        </nz-option>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="24" class="footer-home-page-create__body">
      <div class="ters-usage-rows" *ngIf="terms && policy && information">
        <div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="ters-usage-rows__title-row">
          <div nz-col [nzSpan]="20" class="title">
            Regulamentos associados 
          </div>
          <div nz-col [nzSpan]="4" class="title" style="text-align:center">
            Ações
          </div>
        </div>
        <div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="ters-usage-rows__devider">
          <div nz-col [nzSpan]="20" class="ters-usage-rows__individual">
            Termos<span class="language">(PT)</span>
          </div>
          <div nz-col [nzSpan]="4" *ngIf="!terms.id" (click)="showModal('pt','create','Termos')"
            class="ters-usage-rows__icons ters-usage-rows__individual">
            <i nz-icon nzType="plus" nzTheme="outline" class="add-icon"></i>
          </div>
          <div nz-col [nzSpan]="2" (click)="showModal('pt','edit','Termos')" *ngIf="terms.id"
            class="ters-usage-rows__icons ters-usage-rows__individual">
            <i nz-icon nzType="edit" nzTheme="outline" class="edit-icon"></i>
          </div>
          <div nz-col [nzSpan]="2" (click)="showDeleteConfirm('pt','Termos')" *ngIf="terms.id"
            class="ters-usage-rows__icons ters-usage-rows__individual">
            <i nz-icon nzType="delete" nzTheme="outline" class="delete-icon"></i>
          </div>
        </div>
        <div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="ters-usage-rows__devider">
          <div nz-col [nzSpan]="20" class="ters-usage-rows__individual">
            Termos<span class="language">(ENG)</span>
          </div>
          <div nz-col [nzSpan]="4" *ngIf="!terms_eng.id" (click)="showModal('eng','create','Termos')"
            class="ters-usage-rows__icons ters-usage-rows__individual">
            <i nz-icon nzType="plus" nzTheme="outline" class="add-icon"></i>
          </div>
          <div nz-col [nzSpan]="2" (click)="showModal('eng','edit','Termos')" *ngIf="terms_eng.id"
            class="ters-usage-rows__icons ters-usage-rows__individual">
            <i nz-icon nzType="edit" nzTheme="outline" class="edit-icon"></i>
          </div>
          <div nz-col [nzSpan]="2" (click)="showDeleteConfirm('eng','Termos')" *ngIf="terms_eng.id"
            class="ters-usage-rows__icons ters-usage-rows__individual">
            <i nz-icon nzType="delete" nzTheme="outline" class="delete-icon"></i>
          </div>
        </div>
        <div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="ters-usage-rows__devider">
          <div nz-col [nzSpan]="20" class="ters-usage-rows__individual">
            Politicas de Privacidade<span class="language">(PT)</span>
          </div>
          <div nz-col [nzSpan]="4" *ngIf="!policy.id" (click)="showModal('pt','create','Politicas de Privacidade')"
            class="ters-usage-rows__icons ters-usage-rows__individual">
            <i nz-icon nzType="plus" nzTheme="outline" class="add-icon"></i>
          </div>
          <div nz-col [nzSpan]="2" (click)="showModal('pt','edit','Politicas de Privacidade')" *ngIf="policy.id"
            class="ters-usage-rows__icons ters-usage-rows__individual">
            <i nz-icon nzType="edit" nzTheme="outline" class="edit-icon"></i>
          </div>
          <div nz-col [nzSpan]="2" (click)="showDeleteConfirm('pt','Politicas de Privacidade')" *ngIf="policy.id"
            class="ters-usage-rows__icons ters-usage-rows__individual">
            <i nz-icon nzType="delete" nzTheme="outline" class="delete-icon"></i>
          </div>
        </div>
        <div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="ters-usage-rows__devider">
          <div nz-col [nzSpan]="20" class="ters-usage-rows__individual">
            Politicas de Privacidade<span class="language">(ENG)</span>
          </div>
          <div nz-col [nzSpan]="4" *ngIf="!policy_eng.id" (click)="showModal('eng','create','Politicas de Privacidade')"
            class="ters-usage-rows__icons ters-usage-rows__individual">
            <i nz-icon nzType="plus" nzTheme="outline" class="add-icon"></i>
          </div>
          <div nz-col [nzSpan]="2" (click)="showModal('eng','edit','Politicas de Privacidade')" *ngIf="policy_eng.id"
            class="ters-usage-rows__icons ters-usage-rows__individual">
            <i nz-icon nzType="edit" nzTheme="outline" class="edit-icon"></i>
          </div>
          <div nz-col [nzSpan]="2" (click)="showDeleteConfirm('eng','Politicas de Privacidade')" *ngIf="policy_eng.id"
            class="ters-usage-rows__icons ters-usage-rows__individual">
            <i nz-icon nzType="delete" nzTheme="outline" class="delete-icon"></i>
          </div>
        </div>
        <div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="ters-usage-rows__devider">
          <div nz-col [nzSpan]="20" class="ters-usage-rows__individual">
            Informações<span class="language">(PT)</span>
          </div>
          <div nz-col [nzSpan]="4" *ngIf="!information.id" (click)="showModal('pt','create','Informações')"
            class="ters-usage-rows__icons ters-usage-rows__individual">
            <i nz-icon nzType="plus" nzTheme="outline" class="add-icon"></i>
          </div>
          <div nz-col [nzSpan]="2" (click)="showModal('pt','edit','Informações')" *ngIf="information.id"
            class="ters-usage-rows__icons ters-usage-rows__individual">
            <i nz-icon nzType="edit" nzTheme="outline" class="edit-icon"></i>
          </div>
          <div nz-col [nzSpan]="2" (click)="showDeleteConfirm('pt','Informações')" *ngIf="information.id"
            class="ters-usage-rows__icons ters-usage-rows__individual">
            <i nz-icon nzType="delete" nzTheme="outline" class="delete-icon"></i>
          </div>
        </div>
        <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
          <div nz-col [nzSpan]="20" class="ters-usage-rows__individual">
            Informações<span class="language">(ENG)</span>
          </div>
          <div nz-col [nzSpan]="4" *ngIf="!information_eng.id" (click)="showModal('eng','create','Informações')"
            class="ters-usage-rows__icons ters-usage-rows__individual">
            <i nz-icon nzType="plus" nzTheme="outline" class="add-icon"></i>
          </div>
          <div nz-col [nzSpan]="2" (click)="showModal('eng','edit','Informações')" *ngIf="information_eng.id"
            class="ters-usage-rows__icons ters-usage-rows__individual">
            <i nz-icon nzType="edit" nzTheme="outline" class="edit-icon"></i>
          </div>
          <div nz-col [nzSpan]="2" (click)="showDeleteConfirm('eng','Informações')" *ngIf="information_eng.id"
            class="ters-usage-rows__icons ters-usage-rows__individual">
            <i nz-icon nzType="delete" nzTheme="outline" class="delete-icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<nz-modal [(nzVisible)]="isVisibleEdit || isVisibleCreate" [nzTitle]="modalTitle" [nzContent]="modalContent"
  [nzFooter]="modalFooter" nzWidth="1100" (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>
    <span *ngIf="isVisibleCreate">
      Novo texto para
    </span>
    <span *ngIf="isVisibleEdit">
      Editar texto de
    </span>
    {{modalType}}
  </ng-template>

  <ng-template #modalContent>
    <angular-editor [(ngModel)]="modalText" id="editor1" [config]="editorConfig"></angular-editor>

    <div nz-row [nzAlign]="'middle'" style="padding-top:20px;">
      <div nz-col nzSpan="20">
        <h3>Ficheiros</h3>
      </div>
    </div>
    <ng-container *ngFor="let file of files">
      <div nz-row [nzAlign]="'middle'">
        <div nz-col nzSpan="20">
          <b>URL:</b> <span nz-typography nzCopyable [nzContent]="file?.url">{{file?.url}}</span>
        </div>
        <div nz-col nzSpan="4"> <button nz-button nzType="danger" (click)="deleteFile(file.id, file)"><i nz-icon
              nzType="delete"></i></button></div>
      </div>
      <nz-divider></nz-divider>
    </ng-container>
    <nz-upload [nzCustomRequest]="uploadFile" [nzShowUploadList]="false">
      <button nz-button><i nz-icon nzType="upload"></i><span> Upload
          ficheiro</span></button>
    </nz-upload>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="submit()" [nzLoading]="isConfirmLoading" style="width: 100%;">
      Guardar
    </button>
  </ng-template>
</nz-modal>
