@import "theme";

.footer-home-page-create{
  padding: 24px;
  background-color: var(--background-color);
  &__title{
    font-size: 30px;
  }
  &__body{
    padding: 24px;
    background-color: white;
    &__title{
      padding: 10px 0px;
    }
  }
}

.scroll-container {
  height  : ~'calc(100%)';
  position: relative;
}

.ters-usage-rows{
  &__devider{
    border-bottom: solid 1px var(--primary-1);
  }
  &__title-row{
    border-bottom: solid 1px var(--primary-1);
    padding-bottom: 10px;
  }
  &__actions{
    text-align: center;
  }
  &__title{
    font-size: 20px;
  }
  &__individual{
    padding: 20px 0px;
  }
  &__icons{
    cursor: pointer;
    text-align: center;
    .edit-icon{
      color: #d2c443;
    }
    .delete-icon{
      color: red;
    }
    .add-icon{
      color: darkgreen;
    }
  }
  &__icons:hover{
    text-align: center;
    background-color: var(--primary-1);
  }
}


.language{
  margin-left: 45px;
}

:host::ng-deep {
  .angular-editor-textarea{
    height: 15rem !important;
  }
}

.title {
  font-size: 17px;
  font-weight: 400;
}