<div class="month-selector">
  <div><button (click)="backYear()" nz-button nzType="link"><i nz-icon nzType="icons:icons-arrow-2-left"></i></button></div>
  <div class="month-selector__year">{{ (date | date : 'LLLL':'UTC+0': translate.currentLang) | titlecase }}/ {{date | date: 'yyyy'}}</div>
  <div><button (click)="forwardYear()" nz-button nzType="link"><i nz-icon nzType="icons:icons-arrow-2-right"></i></button></div>
</div>
