:host::ng-deep {
  .month-selector {
    display: inline-flex;
    i {
      font-size: 20px;
      cursor: pointer;
    }
    &__year {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;
      color: var(--primary-color);
      width: 255px;
    }
  }

  @media screen and (max-width:600px){
    .month-selector {
      display: inline-flex;
      i {
        font-size: 20px;
        cursor: pointer;
      }
      &__year {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        color: #222222;
        width: 180px;
      }
    }
  }
}
