<form nz-form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 class="title-top-page"> {{ 'SOCIAL_SUPPORT.ABSENCES.FORM.TITLE' | translate }}</h2>

  <div nz-row nzGutter="20" class="form__inputs">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="period" class="primary-input-label">
          {{ 'SOCIAL_SUPPORT.ABSENCES.FORM.PERIOD' | translate }}
        </nz-form-label>
        
        <div nz-row>
          <div nz-col [nzXs]="24" [nzMd]="11" style="padding-top: 10px;">
            <nz-form-control>
              <nz-date-picker class="primary-dateRangePicker" formControlName="initial_time" id="initial_time"
                nzFormat="yyyy-MM-dd HH:mm" nzMinuteStep="15" [nzDisabledDate]="disableDate" [nzPlaceHolder]="'MISC.START_DATE' | translate"
                [nzDisabledTime]="disabledTime" [nzShowTime]="{ nzFormat: 'HH:mm' }">

              </nz-date-picker>
              <nz-form-explain class="error" *ngIf="form.get('initial_time')?.dirty && form.get('initial_time').errors">
                {{ getInputError('initial_time') }}
              </nz-form-explain>
            </nz-form-control>
          </div>
          <div nz-col [nzXs]="0" [nzMd]="2"></div>
          <div nz-col [nzXs]="24" [nzMd]="11" style="padding-top: 10px;">
            <nz-form-control>
              <nz-date-picker class="primary-dateRangePicker" formControlName="final_time" id="final_time" [nzPlaceHolder]="'MISC.END_DATE' | translate"
                nzFormat="yyyy-MM-dd HH:mm" nzMinuteStep="15" [nzDisabledDate]="disableDate"
                [nzDisabledTime]="disabledTime" [nzShowTime]="{ nzFormat: 'HH:mm' }">

              </nz-date-picker>
              <nz-form-explain class="error" >
                {{ form.get('final_time')?.dirty && form.get('final_time').errors ? getInputError('final_time') : ''}}
                {{ errorDates ? ('FORM.MESSAGE.DATE' | translate) : ''}}
              </nz-form-explain>
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="notes" class="primary-input-label">
          {{ 'SOCIAL_SUPPORT.ABSENCES.FORM.MOTIVE' | translate }}
        </nz-form-label>
      
        <nz-form-control>
          <textarea class="primary-textarea" maxlength="255"
            placeholder="{{ 'SOCIAL_SUPPORT.ABSENCES.FORM.JUSTIFICATION_DESCRIPTION' | translate }}" rows="5"
            formControlName="notes" id="notes" nz-input></textarea>
            <nz-form-explain class="error" *ngIf="form.get('notes')?.dirty && form.get('notes').errors">
              {{ getInputError('notes') }}
            </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col class="text-info">
      {{ 'SOCIAL_SUPPORT.ATTENDANCES.ATTENDANCE_REGISTRY_INFO_1' | translate }} ({{start | date: "dd/MM/yyyy"}} - {{end | date: "dd/MM/yyyy"}}).
    </div>
    <div nz-col>
      <app-button class="form--button" type="primary"
      translate="SOCIAL_SUPPORT.ABSENCES.FORM.SUBMIT" [loading]="loadingSubmit"></app-button>

    </div>
  </div>
</form>