.error {
  color: red;
  margin-top:5px;

  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}

.text-info{
  font-size: 12px;
  color: grey;
}

.type-file {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #666666;
  margin-top: 8px;
  margin-bottom: 23.5px;
  margin-right: 40px;
}

.input-tab {
  &--label {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #222222;
    margin-bottom: 6.5px;
  }
  &--input {
    width: 105px !important;
  }
}

.form {
  &--title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: #222222;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }
  &--subtitle {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #666666;
    margin-top: 8px;
    margin-bottom: 23.5px;
    margin-left: 40px;
    margin-right: 40px;
  }
  &__inputs {
    &--hours {
      float: right;
    }
  }
  &--button {
    display: block;
    margin-bottom: 40px;
    margin-top: 10px;
    text-align: center;
  }
}

:host::ng-deep {
  &.anticon svg {
    g path {
      fill: black !important;
    }
  }

  .ant-calendar-picker {
    width: 100% !important;
  }
}
