<div perfectScrollbar class="ps scroll-container " style="height: 100%">
  <div class="container">
    <div nz-row>
       <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
        <div nz-row>
          <nz-form-label>Ano letivo</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="selectedAcademicYear" name="academic_year" nzAllowClear style="width: 100%;">
              <nz-option *ngFor="let academic_year of academic_years" [nzLabel]="academic_year.academic_year"
                [nzValue]="academic_year.academic_year">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </div>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
      <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
        <button nz-button nzType="primary" class="btn" (click)="search()">Filtrar</button>
      </div>
    </div>
  </div>
  <nz-spin [nzSpinning]="loadingStats">
    <div class="container">
      <p class="title">Candidaturas</p>
      <div nz-row nzType="flex" nzGutter="16">
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
          (click)="listApplications('SUBMITTED')">
          <div nz-row class="box box--submitted" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Submetidas</div>
            <div nz-col nzSpan="12" class="box__value">{{applicationStats.SUBMITTED}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listApplications('ANALYSED')">
          <div nz-row class="box box--analysed" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Em Análise</div>
            <div nz-col nzSpan="12" class="box__value">{{applicationStats.ANALYSED}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listApplications('INTERVIEWED')">
          <div nz-row class="box box--interviewed" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Entrevista</div>
            <div nz-col nzSpan="12" class="box__value">{{applicationStats.INTERVIEWED}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listApplications('DISPATCH')">
          <div nz-row class="box box--dispatch" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Em Despacho</div>
            <div nz-col nzSpan="12" class="box__value">{{applicationStats.DISPATCH}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listApplications('ACCEPTED')">
          <div nz-row class="box box--accepted" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Aprovada</div>
            <div nz-col nzSpan="12" class="box__value">{{applicationStats.ACCEPTED}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
          (click)="listApplications('EXPIRED')">
          <div nz-row class="box box--closed" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Expirada</div>
            <div nz-col nzSpan="12" class="box__value">{{applicationStats.EXPIRED}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
          (click)="listApplications('DECLINED')">
          <div nz-row class="box box--rejected" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Rejeitadas</div>
            <div nz-col nzSpan="12" class="box__value">{{applicationStats.DECLINED}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
          (click)="listApplications('CANCELLED')">
          <div nz-row class="box box--cancelled" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Cancelada</div>
            <div nz-col nzSpan="12" class="box__value">{{applicationStats.CANCELLED}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <p class="title">Manifestação de interesses em experiências</p>
      <div nz-row nzType="flex" nzGutter="16">
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listUserInterests('SUBMITTED')">
          <div nz-row class="box box--submitted" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Submetidas</div>
            <div nz-col nzSpan="12" class="box__value">{{userInteresStats.SUBMITTED}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listUserInterests('ANALYSED')">
          <div nz-row class="box box--analysed" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Em Análise</div>
            <div nz-col nzSpan="12" class="box__value">{{userInteresStats.ANALYSED}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listUserInterests('INTERVIEWED')">
          <div nz-row class="box box--interviewed" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Entrevista</div>
            <div nz-col nzSpan="12" class="box__value">{{userInteresStats.INTERVIEWED}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listUserInterests('DISPATCH')">
          <div nz-row class="box box--dispatch" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Em Despacho</div>
            <div nz-col nzSpan="12" class="box__value">{{userInteresStats.DISPATCH}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listUserInterests('APPROVED')">
          <div nz-row class="box box--accepted" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Aprovada</div>
            <div nz-col nzSpan="12" class="box__value">{{userInteresStats.APPROVED}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listUserInterests('ACCEPTED')">
          <div nz-row class="box box--acknowledged" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Aceite</div>
            <div nz-col nzSpan="12" class="box__value">{{userInteresStats.ACCEPTED}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listUserInterests('COLABORATION')">
          <div nz-row class="box box--published" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Em Colaboração</div>
            <div nz-col nzSpan="12" class="box__value">{{userInteresStats.COLABORATION}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listUserInterests('WAITING')">
          <div nz-row class="box box--waiting" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Em lista de espera</div>
            <div nz-col nzSpan="12" class="box__value">{{userInteresStats.WAITING}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listUserInterests('NOT_SELECTED')">
          <div nz-row class="box box--closed" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Não selecionado</div>
            <div nz-col nzSpan="12" class="box__value">{{userInteresStats.NOT_SELECTED}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listUserInterests('CANCELLED')">
          <div nz-row class="box box--cancelled" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Cancelada</div>
            <div nz-col nzSpan="12" class="box__value">{{userInteresStats.CANCELLED}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listUserInterests('DECLINED')">
          <div nz-row class="box box--rejected" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Rejeitadas</div>
            <div nz-col nzSpan="12" class="box__value">{{userInteresStats.DECLINED}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listUserInterests('WITHDRAWAL')">
          <div nz-row class="box box--withdrawal" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Em Desistência</div>
            <div nz-col nzSpan="12" class="box__value">{{userInteresStats.WITHDRAWAL}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listUserInterests('CLOSED')">
          <div nz-row class="box box--closed" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Fechada</div>
            <div nz-col nzSpan="12" class="box__value">{{userInteresStats.CLOSED}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <p class="title">Ofertas de Experiência/ Colaboração</p>
      <div nz-row nzType="flex" nzGutter="16">
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listExperiences('SUBMITTED')">
          <div nz-row class="box box--submitted" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Submetidas</div>
            <div nz-col nzSpan="12" class="box__value">{{experienceStats.SUBMITTED}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listExperiences('ANALYSED')">
          <div nz-row class="box box--analysed" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Em Análise</div>
            <div nz-col nzSpan="12" class="box__value">{{experienceStats.ANALYSED}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listExperiences('SELECTION')">
          <div nz-row class="box box--interviewed" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Seleção</div>
            <div nz-col nzSpan="12" class="box__value">{{experienceStats.SELECTION}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listExperiences('DISPATCH')">
          <div nz-row class="box box--dispatch" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Em Despacho</div>
            <div nz-col nzSpan="12" class="box__value">{{experienceStats.DISPATCH}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listExperiences('APPROVED')">
          <div nz-row class="box box--accepted" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Aprovada</div>
            <div nz-col nzSpan="12" class="box__value">{{experienceStats.APPROVED}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listExperiences('PUBLISHED')">
          <div nz-row class="box box--acknowledged" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Publicada</div>
            <div nz-col nzSpan="12" class="box__value">{{experienceStats.PUBLISHED}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listExperiences('IN_COLABORATION')">
          <div nz-row class="box box--published" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Em Colaboração</div>
            <div nz-col nzSpan="12" class="box__value">{{experienceStats.IN_COLABORATION}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listExperiences('SEND_SEEM')">
          <div nz-row class="box box--waiting" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Emitir parecer</div>
            <div nz-col nzSpan="12" class="box__value">{{experienceStats.SEND_SEEM}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listExperiences('EXTERNAL_SYSTEM')">
          <div nz-row class="box box--closed" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Sistema Externo</div>
            <div nz-col nzSpan="12" class="box__value">{{experienceStats.EXTERNAL_SYSTEM}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listExperiences('CANCELLED')">
          <div nz-row class="box box--cancelled" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Cancelada</div>
            <div nz-col nzSpan="12" class="box__value">{{experienceStats.CANCELLED}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listExperiences('REJECTED')">
          <div nz-row class="box box--rejected" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Rejeitadas</div>
            <div nz-col nzSpan="12" class="box__value">{{experienceStats.REJECTED}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listExperiences('RETURNED')">
          <div nz-row class="box box--withdrawal" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Devolvida</div>
            <div nz-col nzSpan="12" class="box__value">{{experienceStats.RETURNED}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl" [nzXXl]="grid.nzXXl" class="cursor"
        (click)="listExperiences('CLOSED')">
          <div nz-row class="box box--closed" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Fechada</div>
            <div nz-col nzSpan="12" class="box__value">{{experienceStats.CLOSED}}</div>
          </div>
        </div>
      </div>
    </div>
  </nz-spin>
</div>
