@import 'theme';

.ps {
  background: var(--background-color);
}

.container {
  background: white;
  padding: 24px 46px 24px 46px;
  margin-bottom: 24px;

  &__title {
    font-size: 14px;
    line-height: 22px;
    margin: 0px;
  }

  &__tag {
    background-color: var(--primary-1);
    padding: 8px;
    display: flex;
    align-items: center;

    &__text {
      margin-left: 18px;
      font-size: 14px;
      line-height: 22px;
    }
    &__value {
      font-size: 24px;
      line-height: 32px;
      color: var(--primary-color);
    }
  }
}

.title {
  padding-top: 16px;
  padding-bottom: 24px;
}

.box {
  padding: 24px;
  margin-bottom: 16px;
  border-radius: 6px;
  height: 90px;

  &__text {
    font-size: 14px;
  }

  &__value {
    text-align: right;
    color: #4d9de0;
    font-size: 24px;
  }

  &--submitted {
    background-color: fadeout(#4d9de0, 90%);

    .box__value {
      color: #4d9de0;
    }
  }

  &--analysed {
    background-color: fadeout(#7768ae, 90%);

    .box__value {
      color: #7768ae;
    }
  }

  &--interviewed {
    background-color: fadeout(#88ccf1, 90%);

    .box__value {
      color: #88ccf1;
    }
  }

  &--waiting {
    background-color: fadeout(#d4b483, 90%);

    .box__value {
      color: #d4b483;
    }
  }

  &--dispatch {
    background-color: fadeout(#88CCF1, 90%);

    .box__value {
      color: #88CCF1;
    }
  }

  &--accepted {
    background-color: fadeout(#076743, 90%);

    .box__value {
      color: #076743;
    }
  }

  &--acknowledged {
    background-color: fadeout(#1ba974, 90%);

    .box__value {
      color: #1ba974;
    }
  }

  &--published {
    background-color: fadeout(#9dbbae, 90%);

    .box__value {
      color: #9dbbae;
    }
  }

  &--closed {
    background-color: fadeout(#000000, 90%);

    .box__value {
      color: #000000;
    }
  }

  &--rejected {
    background-color: fadeout(#f75c03, 90%);

    .box__value {
      color: #f75c03;
    }
  }

  &--withdrawal {
    background-color: fadeout(rgb(172, 52, 66), 90%);

    .box__value {
      color: rgb(138, 44, 55);
    }
  }

  &--cancelled {
    background-color: fadeout(#d0021b, 90%);

    .box__value {
      color: #d0021b;
    }
  }
}

.room {
  padding: 6px !important;
  margin: 8px;
  color: black;
  cursor: pointer;

  &__text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }

  &__available {
    padding: 8px 3px 3px 0px;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;

    &__red {
      color: #d0021b;
    }

    &__green {
      color: #1ba974;
    }
  }

  &__red {
    background: fadeout(#d0021b, 90%);

    &:hover {
      background: #d0021b;
      color: white;

      .room__available {
        &__red {
          color: white;
        }

        &__green {
          color: white;
        }
      }
    }
  }

  &__green {
    background: fadeout(#1ba974, 90%);

    &:hover {
      background: #1ba974;
      color: white;

      .room__available {
        &__red {
          color: white;
        }

        &__green {
          color: white;
        }
      }
    }
  }
}

.cursor{
  cursor: pointer;
}


@import "theme";
  
.content-table {
    margin: 8px;
    
    .table {
        &__header {
            th {
                background: white;
                color: var(--primary-6);
                font-weight: 700;
            }

            & > th:first-child {
                border-top-left-radius: 2px !important;
            }
            
            & > th:last-child {
                border-top-right-radius: 2px !important;
            }
        }
        
        tr {

            /*td {
                color: var(--text-color);
            }*/

            background: white !important;
        }
    }

    .options_button {
        color: var(--text-color);
        font-size: 22px;
    }
}
.container {
  background: white;
  padding: 24px 30px 24px 30px;
  margin-bottom: 5px;
  margin-top: 20px;
  &__title {
      font-size: 16px;
      line-height: 22px;
      margin: 0px;
      font-weight: bold;
      margin-bottom:10px;
      color:black;
  }
  &__subtitle{
    margin-bottom:5px;
  }
}

.text-right{
  text-align: right;
}

.font-icon-dash{
  font-size:29px;
  color: var(--primary-color);
}

.button-list{
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: right;
}
.btn-filter{
  text-align: center;
  .btn-delete{
    cursor: pointer;
    font-size: 18px;
    margin-top: 45px;
  }
  .btn{
    margin-bottom: 4px;
    margin-top: 42px;
  }
}

.container-init{
  padding: 20px;
}

.color-required{
  color:red;
}

.padding-bottom-5{
  padding-bottom:5px;
}

.padding-top-30{
  padding-top:30px;
}
.button-filter{
  text-align: right;
  padding-top:23px;
}
.padding-right-20{
  padding-right:20px;
}
