<form nz-form [formGroup]="withdrawalForm">

  <h2 *ngIf="action === 'WITHDRAWAL'" class="title-top-page"> {{ 'SOCIAL_SUPPORT.FORMWITHDRAWAL.TITLE_WITH' | translate
    }}</h2>
  <h2 *ngIf="action === 'CANCEL'" class="title-top-page"> {{ 'SOCIAL_SUPPORT.FORMWITHDRAWAL.TITLE_CANCEL' | translate }}
  </h2>
  <p *ngIf="action === 'WITHDRAWAL'" class="sub-title-top-page font"> {{ 'SOCIAL_SUPPORT.FORMWITHDRAWAL.DESC_WITH' |
    translate }}</p>
  <p *ngIf="action === 'CANCEL'" class="sub-title-top-page font"> {{ 'SOCIAL_SUPPORT.FORMWITHDRAWAL.DESC_CANCEL' |
    translate
    }}</p>

  <div nz-row [nzGutter]="20" class="form__inputs">
    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="reason" class="primary-input-label">
          {{ 'DASHBOARD.WIDGETS.MY_APPLICATIONS_SOCIAL_SUPPORT.MODAL_WITHDRAWAL.JUSTIFICATION' | translate }}
        </nz-form-label>

        <nz-form-control>
          <textarea class="primary-textarea" maxlength="255"
            [placeholder]="'DASHBOARD.WIDGETS.MY_APPLICATIONS_SOCIAL_SUPPORT.MODAL_WITHDRAWAL.PLACEHOLDER' | translate"
            rows="5" formControlName="reason" id="reason" nz-input></textarea>
          <nz-form-explain id="error-label"
            *ngIf="withdrawalForm.get('reason')?.dirty && withdrawalForm.get('reason').errors">
            {{ getInputError('reason') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row class="form--button">
    <app-button type="primary" translate="MISC.SUBMIT" [loading]="loadingSubmit" (click)="submitWithdrawal()">
    </app-button>

  </div>
</form>