<div nzType="flex" nz-row nzJustify="space-around" class="screen">
    <div nz-col nzSpan="2"></div>
    <div nz-col nzSpan="20">
      <p class="order">Histórico de Pedidos</p>
      <p class="order__info">Consulte o histórico de pedidos validados no bar.</p>

      <div nz-row class="day-input">
        <div nz-col nzSpan="8">
          <nz-select class="primary-select" [(ngModel)]="selectedValue" (ngModelChange)="onChangeSelectInput()">
            <nz-option *ngFor="let option of selectOptions" [nzValue]="option.value" [nzLabel]="option.label">
            </nz-option>
          </nz-select>
        </div>
        <div *ngIf="selectedValue === 'CUSTOM'" nz-col class="date" nzSpan="8">
          <span>
            <label>De</label>
            <nz-date-picker class="primary-datePicker" [nzDisabledDate]=disableStartDate [nzFormat]="dateFormat"
              [(ngModel)]="startDate" (ngModelChange)="onChangeStartDate($event)" nzPlaceHolder="Data de início">
            </nz-date-picker>
          </span>
        </div>
        <div *ngIf="selectedValue === 'CUSTOM'" nz-col class="date" nzSpan="8">
          <span>
            <label>Até</label>
            <nz-date-picker class="primary-datePicker" [nzDisabledDate]=disableEndDate [nzFormat]="dateFormat"
              [(ngModel)]="endDate" (ngModelChange)="onChangeEndDate($event)" nzPlaceHolder="Date de fim">
            </nz-date-picker>
          </span>
        </div>
      </div>

      <nz-divider></nz-divider>
      <div>
        <div nz-row class="space-title">
          <div nz-col nzSpan="3">
            <label class="title-table">Nº Pedido</label>
          </div>
          <div nz-col nzSpan="6">
            <label class="title-table">Items</label>
          </div>
          <div nz-col nzSpan="2">
            <label class="title-table">Data pedido</label>
          </div>
          <div nz-col nzSpan="3">
            <label class="title-table">Pedido por</label>
          </div>
          <div nz-col nzSpan="2">
            <label class="title-table">Data operação</label>
          </div>
          <div nz-col nzSpan="3">
            <label class="title-table">Servido por</label>
          </div>
          <div nz-col nzSpan="3">
            <label class="title-table">Estado</label>
          </div>
          <div nz-col nzSpan="2">
            <label class="title-table">Opções</label>
          </div>
        </div>
        <nz-divider style="margin: 0px;"></nz-divider>
        <div *ngIf="orders.length>0">
          <nz-spin [nzSpinning]="loading">

          </nz-spin>
          <div *ngFor="let order of orders">
            <div nz-row class="space-text-table">
              <div nz-col nzSpan="3">
                <b>{{order?.id}}</b>
              </div>
              <div nz-col nzSpan="6">
                <div *ngFor="let item of order.order_lines">
                  <span [ngClass]="{'item-delete': item?.status == 'DELETED' && order.status == 'SERVED'}">{{item?.quantity}}x {{item?.product?.translations[0]?.name}}</span>
                </div>
              </div>
              <div nz-col nzSpan="2">
                {{order?.created_at | date: "dd-MM-yyyy"}}
              </div>
              <div nz-col nzSpan="3">
                {{order?.user?.name}}
              </div>
              <div nz-col nzSpan="2">
                {{order?.updated_at | date: "dd-MM-yyyy"}}
              </div>
              <div nz-col nzSpan="3">
                {{order?.user_served?.name}}
              </div>
              <div nz-col nzSpan="3">
                <span [ngClass]="{'color-green': order?.status == 'SERVED','color-red': order?.status != 'SERVED'}">{{order?.status == 'SERVED' ? 'Servido' : 'Cancelado'}}</span>
              </div>
              <div nz-col nzSpan="2">
                <button nz-button nz-dropdown  [nzDropdownMenu]="menu"
                  *ngIf="order?.status !== 'CANCELED'" nzPlacement="bottomRight">
                  <i nz-icon nzType="dash" nzTheme="outline"></i>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item
                      *ngIf="order?.status !== 'SERVED'" (click)="markServed(order.id)">
                      Marcar como servida
                    </li>
                    <li nz-menu-item
                      *ngIf="order?.status === 'SERVED'" (click)="markUnserved(order.id)">
                      Marcar como não servida
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </div>
            </div>

            <nz-divider style="margin: 0px;"></nz-divider>
            
          </div>
          <div class="pagination">
            <nz-pagination [nzTotal]="totalData" [(nzPageSize)]="pageSize"
            [(nzPageIndex)]="pageIndex" (nzPageIndexChange)="getOrdersServed(startDate,endDate,selectedValue,false)" (nzPageSizeChange)="getOrdersServed(startDate,endDate,selectedValue,true)"
            nzShowSizeChanger></nz-pagination>
          </div>
          
        </div>
        <div *ngIf="orders.length==0" class="emptyDate" nz-col>
          Sem Resultados
        </div>
      </div>

    </div>
    <div nz-col nzSpan="2"></div>
  </div>