@import "theme";
.order {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #333333;
  padding-top: 20px;

  &__info {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #666666;
  }

  &__user-name {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #666666;
  }

  &__hour {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: #222222;
  }
  &__email {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #979797;
  }
  &__date {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: right;
    color: #979797;
  }
  &__type {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #666666;
    margin-bottom: 5px;
  }
  &__name {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #979797;
  }
}

.user-info-margin {
  margin-bottom: 10px;
}

.user-student-number {
  margin-left: 32px;
}


.date {
  //display: -webkit-inline-flex;
  label {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.29;
    letter-spacing: normal;
    color: #000000;
    margin-right: 8px;
  }
  &__input {
    width: 140px;
    height: 43px;
    border-radius: 4px;
    border: solid 1px #e8e8e8;
    background-color: #ffffff;
  }
}

.border-bottom {
  background-color: @primary-6;
}

.space-title {
  margin-top: 20px;
  padding-bottom: 10px;
}

.title-table {
    font-size: 12px;
    color: @primary-6;
    font-weight: bold;
}

.space-text-table {
  padding-top: 10px;
  padding-bottom: 20px;
}

.emptyDate {
  text-align: center;
  margin-top: 10px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #666666;
}

.color-green {
  color: @primary-6;
}

.color-red {
  color: #ff545a;
}

.pagination {
  padding: 20px;
  text-align: center;
}

.item-delete {
  text-decoration: line-through;
}