<div class="PopAmenities">
  <h2 class="title-top-page">{{ 'PRIVATEACCOMMODATION.POP_AMENITIES.TITLE' | translate }}</h2>
  <p class="sub-title-top-page">{{ 'PRIVATEACCOMMODATION.POP_AMENITIES.SUBTITLE' | translate }}</p>
  <div class="PopAmenities__box">
    <nz-checkbox-group class="PopAmenities__check" [(ngModel)]="options"></nz-checkbox-group>
  </div>
  <div class="button-div">
    <app-button
      class="PopAmenities__btn"
      (click)="confirm()"
      [buttonStyle]="{
        'font-size': '12px',
        'line-height': '20px',
        'margin-top': '30px'
      }"
      translate="PRIVATEACCOMMODATION.POP_LOCAL.BT"
    ></app-button>
  </div>
</div>
