<div class="offer">
  <div nz-row nzType="flex">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="5" [nzXl]="4" [nzXXl]="3">
      <app-action-status-badge [data]="action"></app-action-status-badge>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="11" [nzXl]="12" [nzXXl]="12">
      <div class="title cursor-pointer" (click)="reviewExperience()">
        {{ (action?.translations | languageChange)?.title }}
      </div>

      <div class="description">
        <b> {{ (action?.translations | languageChange)?.description }}</b>
      </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="7" [nzXl]="8" [nzXXl]="9" class="offer--actions">
      <app-button [type]="'secundary'" translate="SOCIAL_SUPPORT.OFFERS.EDIT" (click)="edit(action?.id)"
        [buttonStyle]="{'margin-right':'5px', 'margin-top':'5px'}">
      </app-button>

      <ng-container *ngIf="showButtons">
        <app-button *ngIf="action?.status === 'IN_COLABORATION'" [type]="'secundary'"
          [buttonStyle]="{'margin-right':'5px', 'margin-top':'5px'}"
          translate="SOCIAL_SUPPORT.HISTORY_APPLICATIONS.FORM" (click)="manageCollaborations()">
        </app-button>
        <app-button *ngIf="canGenerateReport" [type]="'primary'" translate="MISC.PRINT" [buttonStyle]="{'margin-right':'5px', 'margin-top':'5px'}"
          [loading]="loadingGenerateReport" (click)="generateReport()">
        </app-button>
        <nz-badge
          *ngIf="action?.status === 'APPROVED' || action?.status === 'SELECTION' || action?.status === 'IN_COLABORATION'"
          [ngStyle]="{ 'margin-right': '5px', 'margin-top': '5px' }"
          [nzCount]="action.number_interests"
          nzOverflowCount="10"
        >
          <app-button [type]="'secundary'" translate="SOCIAL_SUPPORT.APPLICATIONS.MANAGE" (click)="manage()"></app-button>
        </nz-badge>

        <app-button *ngIf="
          action.status === 'SELECTION' ||
          action.status === 'PUBLISHED' ||
          action.status === 'APPROVED' ||
          action.status === 'ANALYSED' ||
          action.status === 'SUBMITTED'
        " [type]="'red'" translate="SOCIAL_SUPPORT.APPLICATIONS.CANCEL"
          [buttonStyle]="{'margin-right':'5px', 'margin-top':'5px'}" (click)="cancel(action?.id)">
        </app-button>

      </ng-container>
    </div>
  </div>

  <div nz-row>
    <div nz-col>
      <div nz-row>
        <div nz-col  [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="3" [nzXXl]="3" class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{ 'SOCIAL_SUPPORT.APPLICATIONS.SUBMITTED_ON' | translate }}</span>
          </div>
          <div nz-row>
            <span class="description-detail">{{ action?.publish_date | date: 'dd-MM-yyyy' }}</span>
          </div>
        </div>
        <div nz-col  [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="4" [nzXXl]="4" class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{ 'SOCIAL_SUPPORT.OFFERS.LOCAL' | translate }}</span>
          </div>
          <div nz-row>
            <span class="description-detail">
              {{ action?.organic_unit?.name }} <br />
              {{ action?.address }}
            </span>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="4" [nzXXl]="4" class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{ 'SOCIAL_SUPPORT.OFFERS.START_DATE' | translate }}</span>
          </div>
          <div nz-row>
            <span class="description-detail"> {{ action?.start_date | date: 'dd-MM-yyyy' }}</span>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="4" [nzXXl]="4" class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{ 'SOCIAL_SUPPORT.OFFERS.END_DATE' | translate }}</span>
          </div>
          <div nz-row>
            <span class="description-detail"> {{ action?.end_date | date: 'dd-MM-yyyy' }}</span>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="4" [nzXXl]="4" class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{ 'SOCIAL_SUPPORT.OFFERS.TOTAL_HOURS' | translate }}</span>
          </div>
          <div nz-row>
            <span class="description-detail"> {{ action?.total_hours_estimation | HourConvert }}</span>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="4" [nzXXl]="4" class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{ 'SOCIAL_SUPPORT.OFFERS.N_SIMULTANEOUS' | translate }}</span>
          </div>
          <div nz-row>
            <span class="description-detail"> {{ action?.number_simultaneous_candidates }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!---------------------------MODAL SUCCESS REPORT----------------------->
<nz-modal [nzVisible]="successModalReport" (nzOnCancel)="successModalReport = false"
  (nzOnOk)="successModalReport = false" [nzFooter]="null" [nzWidth]=400>
  <div nz-row class="text-center text-title-modal-success">
    <label> {{
      ('DASHBOARD.BUTTON.VOLUNTEERING' | translate)
      }}</label>
  </div>
  <app-modal-success-report></app-modal-success-report>

</nz-modal>