@import 'theme';


.text-title-modal-success {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-top: 20px;
}

.offer {
  border-radius: 5px;
  padding: 25px 15px 15px 15px;
  background-color: #ffffff;
  position: relative;
  z-index: 2;

  > div:first-child {
    margin-bottom: 10px;
  }

  &--button {
    margin-left: 5px;

    @media only screen and (max-width: 600px) {
      margin-top: 10px;
    }
  }
  &--label {
    opacity: 0.4;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #666666;
  }

  &--value {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #7d7d7d;
  }

  &--number-interests {
    margin-left: 5px;
    text-decoration: underline;
  }
}

@media only screen and (min-width: 992px) {
  .offer {
    &--actions {
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media only screen and (max-width: 991px) {
  .offer {
    &--actions {
      margin-top: 10px;
      margin-left: -5px;
    }

    &--button {
      display: inline-block;
      margin-top: 10px;
      margin-left: 5px;
    }
  }
}

@media only screen and (max-width: 575px) {
  .offer {
    &--title {
      margin-top: 10px;
    }
  }
}

.PUBLISHED {
  background-color: #9dbbae;
}

.RETURNED {
  background-color: #88ccf1;
}

.ANALYSED {
  background-color: #7768AE;
}

.SUBMITTED {
  background-color: #4d9de0;
}

.APPROVED {
  background-color: #0d69dd;
}

.REJECTED {
  background-color: #D0021B;
}

.SEND_SEEM {
  background-color: #D4B483;
}

.EXTERNAL_SYSTEM {
  background-color: #076743;
}

.SELECTION {
  background-color: #076743;
}

.IN_COLABORATION {
  background-color: #1ba974;
}

.CLOSED {
  background-color: #000000;
}

.CANCELLED {
  background-color: #A4A4A4;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.padding-top-15 {
  padding-top: 15px;
}

.title-detail {
  font-size: 13px;
  color: var(--primary-7);
}

.description-detail {
  color: black;
  font-size: 13px;
}
.title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.33;
  color: #333333;

  @media only screen and (max-width: 800px) {
    margin-top: 5px;
  }
}

.description {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  color: #222222;
}

.cursor-pointer {
  cursor: pointer;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.description {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  color: #222222;
}


.box {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;

  &.box-pair {
    background-color: #f0f2f5;
  }
}

#contacts_info_interest::ng-deep svg {
  g path {
    fill: var(--primary-color);
  }
}

.icon {
  font-size: 25px;
}


::ng-deep {
  .ant-table-expanded-row,
  .ant-table-expanded-row:hover {
    background-color: white;
  }

  nz-badge .ant-badge-count, .ant-badge-dot, .ant-badge .ant-scroll-number-custom-component {
    transform: translate(5px, -60%);
  }
}
