.file-button {
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #e8e8e8;
  display: block;
  padding: 15px 20px;

  &--title {
    align-items: center;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    justify-content: space-between;

    i {
      flex-basis: 20px;
      font-size: 20px;
      flex-grow: 0;
      flex-shrink: 0;
      color: var(--primary-color);

      ::ng-deep svg {
        path {
          fill: var(--primary-color);
        }
      }
    }
  }

  &--label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
