.mobility-detail{
    &__container{
        height: 100%;
        background-color: #f3f3f3;
    }
    &__container2{
        margin-left:18;
        margin-right: 18;
        margin-top: 12;
        margin-bottom: 12;
        background-color: white;
        border-radius: 9;
    }
    &__detailBox{
        background-color:white;
        height:96;
        margin-left:20;
        margin-right:20;
    }
    &__warningBox{
        width: 100%;
        height:49;
        background-color: #d0021b;
        color: white;
    }
    &__icon{
        margin: 12;
        font-size: 18;
        color: white;
    }
    &__warningText{
        color: white;
        font-size: 10;
    }
    &__blueIcon{
        color: #3066ff;
        font-size: 12;
        align-self: center;
        margin-top: 2;
    }
    &__greyIcon{
        color: #e8e8e8;
        font-size: 12;
        align-self: center;
    }
    &__isExternal{
        height: 85%;
        margin-top:2;
        width: 3;
        align-self: center; 
        background-color: #3066ff;
    }
    &__isInternal{
        height: 15%;
        margin-top: 3%;
        width: 3;
        align-self: center;
        background-color: #e8e8e8;
    }
}