<StackLayout>
    <!-- action bar -->
    <fi-action-bar [actionBarType]="4"></fi-action-bar>

    <!-- external route warning -->
    <StackLayout *ngIf="isExternal === true" class="mobility-detail__warningBox" orientation="horizontal">
        <Label class="fisas__icon mobility-detail__icon" text="&#xe903;" horizontalAlignment="center" verticalAlignment="center"></Label>
        <Label class="mobility-detail__warningText" width="85%" textWrap="true" verticalAlignment="center" text="{{ 'mobility-detail.warning' | translate }}"></Label>
    </StackLayout>

    <!-- DETAILS CONTAINER -->
    <!-- hours & local = departure_hour and departure_place of each array item; in the last line is composed by the route search response params -->

    <StackLayout justifyContent="center" class="mobility-detail__container">
        <ScrollView orientation="vertical">
        <StackLayout justifyContent="center" class="mobility-detail__container2">
            <!-- empty space -->
            <label style="height: 24;"></label>

            <!-- detail box (row by row) -->
            <ng-container *ngFor="let item of detail; let i = index">
            <StackLayout class="mobility-detail__detailBox" orientation="horizontal">
                <!-- departure hour and vehicle icon (ngif)-->
                <FlexboxLayout style="flex-direction: column; width: 50; height:100%; align-items: center;">
                    <Label *ngIf="item?.steps[0].vehicle === 'CAMINHADA'" style="font-size: 15;" text="{{ (i < newRouteArray.length) ? newRouteArray[i].hour?.slice(0, 5) : '' }}"></Label>
                    <Label *ngIf="item?.steps[0].vehicle != 'CAMINHADA'" style="font-size: 15;" text="{{ item?.steps[0].departure_time?.slice(0, 5) }}"></Label>

                    <Label *ngIf="item?.steps[0].vehicle === 'AUTOCARRO'" class="fisas__icon" text="&#xe917;" style="font-size: 24; margin-top:24"></Label>
                    <Label *ngIf="item?.steps[0].vehicle === 'CAMINHADA'" class="fisas__icon" text="&#xe941;" style="font-size: 24; margin-top:24"></Label>
                    <Label *ngIf="item?.steps[0].vehicle === 'METRÔ'" class="fisas__icon" text="&#xe92D;" style="font-size: 24; margin-top:24"></Label>
                    <Label *ngIf="item?.steps[0].vehicle === 'TREM'" class="fisas__icon" text="&#xe940;" style="font-size: 24; margin-top:24"></Label>
                </FlexboxLayout>

                <!-- render for color path (icon and line blue or dashed grey) -->

                    <!-- case external true -->
                    <FlexboxLayout *ngIf="item?.external == true" style="flex-direction: column; width: 15; margin-bottom: 2;">
                        <Label class="fisas__icon mobility-detail__blueIcon" text="&#xe956;"></Label>
                        <!-- line/dashed-line zone -->
                        <FlexboxLayout class="mobility-detail__isExternal"></FlexboxLayout>
                    </FlexboxLayout>

                    <!-- case external false -->
                    <FlexboxLayout *ngIf="item?.external != true" style="flex-direction: column; width: 15; margin-bottom: 2;">
                        <Label class="fisas__icon mobility-detail__greyIcon" text="&#xe937;"></Label>
                        <!-- line/dashed-line zone -->
                        <ng-container *ngFor="let item of ' '.repeat(5).split(''), let x = index">
                            <Label class="mobility-detail__isInternal"></Label>
                        </ng-container>
                    </FlexboxLayout>

                <!-- departure local and trip instructions -->
                <FlexboxLayout style="flex-direction: column; width: 210; margin-left: 19;">
                    <Label *ngIf="item?.steps[0].vehicle === 'CAMINHADA'" style="font-size: 15;" text="{{ (i < newRouteArray.length) ? newRouteArray[i].local : '' }}"></Label>
                    <Label *ngIf="item?.steps[0].vehicle != 'CAMINHADA'" style="font-size: 15;" text="{{ item?.steps[0].local }}"></Label>

                    <Label style="font-size: 10; margin-top: 12" textWrap="true" text="{{item?.steps[0].vehicle}}: {{item?.steps[0].instruction}}"></Label>
                </FlexboxLayout>
            </StackLayout>
            </ng-container>
            <!-- last line of data -->
            <StackLayout orientation="horizontal" style="margin-left:20; margin-right:20; height: 25;">
                <Label style="font-size: 15; width: 50; text-align: center;" text="{{ destinationHour.slice(0, 5) }}"></Label>
                <Label class="fisas__icon mobility-detail__greyIcon" style="width:15; text-align: center;" text="&#xe937;"></Label>
                <Label style="font-size: 15; margin-left: 19;" text="{{ destinationLocal }}"></Label>
            </StackLayout>
            <!-- empty space -->
            <label style="height: 24;"></label>
        </StackLayout>
        </ScrollView>
    </StackLayout>
</StackLayout>