<div class="container">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
      <div nz-row>
        <nz-form-label>Termo de Pesquisa</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input [(ngModel)]="filters.search">
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
      <nz-form-label>Estado</nz-form-label>
      <div nz-row>
        <nz-form-control>
          <nz-select [(ngModel)]="filters.status" style="width: 100%;">
            <nz-option *ngFor="let status of statusFilter" [nzLabel]="status.label" [nzValue]="status.value">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
      <nz-form-label>Escola</nz-form-label>
      <div nz-row>
        <nz-form-control>
          <nz-select [(ngModel)]="filters.organic_unit_id" nzAllowClear style="width: 100%;">
            <nz-option *ngFor="let school of schools;" [nzLabel]="school.name" [nzValue]="school.id">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
      <button nz-button nzType="primary" class="btn" (click)="updateFilters(); ">Filtrar</button>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
      style="text-align: left;">
      <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
    </div>
  </div>
  <div nz-row *ngIf="(filters.status === 'submitted') || (filters.status === 'analysed')">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
      <nz-form-label>Decisão</nz-form-label>
      <div nz-row>
        <nz-form-control>
          <nz-select [(ngModel)]="filters.decision" nzAllowClear style="width: 100%;">
            <nz-option *ngFor="let decision of decisionFilter;" [nzLabel]="decision.label" [nzValue]="decision.value">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
      <nz-form-label>Data de submissão</nz-form-label>
      <div nz-row>
        <nz-form-control>
          <nz-date-picker [(ngModel)]="filters.submission_date" nzPlaceHolder="Data submissão"></nz-date-picker>
        </nz-form-control>
      </div>
    </div>
  </div>
</div>


<div nz-row *ngIf="isIndeterminate || isAllDisplayDataChecked" class="content-bulk">
  <button nz-button nzType="primary" [hasPermission]="state.permission" (click)="showStatusModalBulk(state)"
    class="content-bulk__option" [ngClass]="{
    btn__success: state.type === 'success',
    btn__fail: state.type === 'fail',
    btn__warning: state.type === 'warning',
    'hidden': !(state.permission | hasPermission)
    }" *ngFor="let state of getActiveBulkOptions()"><i nz-icon [nzType]="state.icon"></i>{{ state.text }}</button>
</div>


<div class="container">
  <div nz-row style="text-align: right;">
    <button nz-button nz-dropdown nzType="link" class="color-set" [nzDropdownMenu]="settings"
      nzPlacement="bottomRight"><i nz-icon nzType="setting" nzTheme="outline"></i></button>
    <nz-dropdown-menu #settings="nzDropdownMenu">
      <div class="menu">
        <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()">Todas as colunas
        </label>
        <nz-checkbox-group class="menu-check" [(ngModel)]="checkOptionsOne" (ngModelChange)="check()">
        </nz-checkbox-group>
      </div>

    </nz-dropdown-menu>
  </div>
  <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th nzShowCheckbox *ngIf="filters.status == 'pending'" [(nzChecked)]="isAllDisplayDataChecked"
          [nzIndeterminate]="isIndeterminate" (nzCheckedChange)="checkAll($event)"></th>
        <th></th>
        <th *ngFor="let column of columns" [nzShowSort]="column.sortable" [nzSortKey]="column.key"> {{ column.label }}
        </th>
        <th nzRight="0px" class="text-right">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">
        <tr>
          <td nzShowCheckbox *ngIf="filters.status == 'pending'" [(nzChecked)]="mapOfCheckedId[data.id]"
            (nzCheckedChange)="refreshStatus()"></td>
          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
          <td *ngFor="let column of columns"
            [ngClass]="{'text-right': column.key == 'household_total_income' || column.key == 'per_capita_income' }">
            <span
              *ngIf="!column.tag && column.key != 'household_total_income' && column.key != 'per_capita_income'">{{
              column.translation ? (data.translations | where: ['language_id', 3]
              )[0][column.key] : data[column.key]}}</span>
            <span *ngIf="column.key == 'household_total_income'">{{data.household_total_income | number:'1.2-2'}}
              €</span>
            <span *ngIf="column.key == 'per_capita_income'">{{data.per_capita_income | number:'1.2-2'}} €</span>
            <span *ngIf="column.tag">
              <fi-sas-tag [value]="data[column.key]" [results]="column.tag"></fi-sas-tag>
            </span>
            <span *ngIf="column.template">
              {{ column.template(data) }}
            </span>
          </td>
          <td nzRight="0px" class="text-right">
            <div class="table__actions">
              <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
                nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item (click)="downloadApplicationReport(data.id)">Imprimir</li>
                  <li nz-menu-item
                    *ngIf="(data.status === 'analysed' || data.status === 'contracted') && ('accommodation:applications:update' | hasPermission)"
                    (click)="showApplicationDataModal(data)">Alterar informações</li>
                  <!-- <li nz-menu-item
                    *ngIf="data.status === 'contracted' && ('accommodation:applications:update' | hasPermission)"
                    (click)="openPermuteRoomModal(data)">Permutar quarto</li> -->
                  <li nz-menu-item
                    *ngIf="data.status === 'contracted' && ('accommodation:applications:update' | hasPermission)"
                    (click)="showApplicationPeriodModal(data)">Alterar período</li>

                  <li *ngFor="let state of statusMachine[data.status]" nz-menu-item
                    (click)="showStatusModal(state, data)">
                    <div *ngIf="(state.permission | hasPermission)">{{state.text}}</div>
                  </li>
                  <li nz-menu-item
                    *ngIf="showRevertStatus(data.status) && ('accommodation:applications:update' | hasPermission)"
                    (click)="openRollbackStatusModal(data)">Reverter estado</li>
                  <li nz-menu-item
                    *ngIf="data.status === 'contracted' && ('accommodation:applications:update' | hasPermission)"
                    (click)="openRoomChangeModal(data,'TYPOLOGY')">Alterar tipologia</li>
                  <li nz-menu-item
                    *ngIf="data.status === 'contracted' && ('accommodation:applications:update' | hasPermission)"
                    (click)="openRoomChangeModal(data,'RESIDENCE')">Alterar residência</li>
                  <li nz-menu-item
                    *ngIf="data.status === 'contracted' && ('accommodation:applications:update' | hasPermission)"
                    (click)="openRoomChangeModal(data,'PERMUTE')">Permutar quarto</li>
                  <li nz-menu-item
                    *ngIf="data.status === 'contracted' && ('accommodation:applications:update' | hasPermission) && validRegime(data?.assignedResidence?.regimes,data?.current_regime_id)"
                    (click)="openRegimeExtrasChangeModal(data,'REGIME')">Alterar regime</li>
                  <li nz-menu-item
                    *ngIf="data.status === 'contracted' && ('accommodation:applications:update' | hasPermission) && validExtras(data?.assignedResidence?.extras)"
                    (click)="openRegimeExtrasChangeModal(data,'EXTRA')">Alterar extras</li>
                  <li nz-menu-item
                    *ngIf="data.status === 'contracted' && ('accommodation:applications:update' | hasPermission)"
                    (click)="openTariffChangeModal(data)">Alterar regime de bolsa</li>
                  <li nz-menu-item
                    *ngIf="data.status === 'contracted' && ('accommodation:applications:update' | hasPermission)"
                    (click)="openRoomChangeModal(data,'ROOM')">Alterar quarto</li>
                   <li nz-menu-item
                    *ngIf="data.status === 'contracted' && ('accommodation:applications:update' | hasPermission)"
                    (click)="openWithdrawalModal(data)">Desistência do alojamento</li>
                  <li nz-menu-item
                    *ngIf="(data.status === 'closed' || data.status === 'contracted') && ('accommodation:applications:create' | hasPermission)"
                    (click)="openRenewProcess(data)">Renovar Candidatura</li>
                </ul>
              </nz-dropdown-menu>
            </div>
          </td>
        </tr>

        <tr [nzExpand]="mapOfExpandData[data.id]">
          <td [attr.colspan]="filters.status == 'pending' ? columns.length + 3 : columns.length + 4"
            *ngIf="mapOfExpandData[data.id]">
            <fi-sas-view-application #viewApp [(application)]="data" (applicationRemove)="searchData()"
              [residences]="residences"></fi-sas-view-application>
          </td>
        </tr>

      </ng-template>
    </tbody>
  </nz-table>
</div>
