@import "theme";

.btn {
    &__success {
        background-color:  lighten(green, 10%);
    }
    &__warning {
        background-color: lighten(red, 30%);
    }
    &__fail {
        background-color: lighten(red, 10%);        
    }
    &__info {
        background-color: lighten(blue, 30%);        
    }
    &__premute {
        background-color: lighten(gray, 30%);        
    }
}

.color-set {
    color: var(--primary-color);
    font-size: 16px;
}

.btn-filter{
    text-align: center;
    .btn-delete{
      cursor: pointer;
      font-size: 18px;
      margin-top: 45px;
    }
    .btn{
      margin-bottom: 4px;
      margin-top: 42px;
    }
}

.content-table {
    margin: 8px;
    
    .table {
        &__header {
            th {
                background: white;
                color: var(--primary-6);
                font-weight: 700;
            }

            & > th:first-child {
                border-top-left-radius: 2px !important;
            }
            
            & > th:last-child {
                border-top-right-radius: 2px !important;
            }
        }
        
        tr {

            /*td {
                color: var(--text-color);
            }*/

            background: white !important;
        }
    }

    .options_button {
        color: var(--text-color);
        font-size: 22px;
    }
}

.container {
    background: white;
    padding: 24px 30px 24px 30px;
    margin-bottom: 5px;
    margin-top: 20px;
    &__title {
        font-size: 16px;
        line-height: 22px;
        margin: 0px;
        font-weight: bold;
        margin-bottom:10px;
        color:black;
    }
    &__subtitle{
      margin-bottom:5px;
    }
  }
  
.menu {
    background-color: white;
    box-shadow: 
    inset 0 -3em 3em rgba(0,0,0,0.0), 0 0 0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 20px;
    display: inline-grid !important;
    margin: 0px !important;
}

::ng-deep {
    .ant-checkbox-wrapper+.ant-checkbox-wrapper {
        margin: 0px !important;
    }
}

.menu-check {
    display: inline-grid !important;
}

.text-right {
    text-align: right;
}

.content-bulk {
    padding: 20px 54px 0px 54px;
    margin: 8px;

    &__option {
        margin-left: 16px;
    }
}

:host::ng-deep {
    .ant-calendar-picker {
        width: 100% !important;
    }
}