<StackLayout class="contacts">
  <!-- action bar -->
  <fi-action-bar
    [actionBarType]="3"
    actionBarTitle="{{ 'about.title' | translate }}"
    actionBarBack="dashboard"
  ></fi-action-bar>

  <ScrollView row="0">
    <!-- IPCA -->
    <WrapLayout orientation="horizontal" class="fisas__content">
      <StackLayout class="contacts__container">
        <Label class="fisas__h1" text="{{ 'about.credits' | translate }}"></Label>
        <StackLayout marginTop="34">
          <Label class="fisas__p--light" text="{{ 'about.version' | translate }}"></Label>
          <Label
            class="fisas__p--light"
            text="{{ 'about.launch' | translate }}"
          ></Label>
        </StackLayout>

        <StackLayout marginTop="34">
          <Label class="fisas__p--bold" text="{{ 'about.project' | translate }}"></Label>
          <Label
            marginTop="6"
            textWrap="true"
            class="fisas__p"
            text="FI@SAS: Framework de interoperabilidade dos Serviços de Ação Social do IPVC,IPCA e IPB"
          ></Label>
        </StackLayout>

        <StackLayout marginTop="34">
          <Label class="fisas__p--bold" text="{{ 'about.entitys' | translate }}"></Label>
          <Label
            marginTop="6"
            textWrap="true"
            class="fisas__p"
            text="Serviços de Ação Social do Instituto Politécnico de Viana do Castelo"
          ></Label>
          <Label
            marginTop="6"
            textWrap="true"
            class="fisas__p"
            text="Serviços de Ação Social do Instituto Politécnico do Cávado e Ave"
          ></Label>
          <Label
            marginTop="6"
            textWrap="true"
            class="fisas__p"
            text="Serviços de Ação Social do Instituto Politécnico de Bragança"
          ></Label>
        </StackLayout>

        <StackLayout marginTop="34">
          <Label class="fisas__p--bold" text="{{ 'about.projectCoord' | translate }}"></Label>
          <Label
            marginTop="6"
            textWrap="true"
            class="fisas__p"
            text="Diogo Moreira, Sofia Coelho e Elisabete Madeira"
          ></Label>
        </StackLayout>

        <StackLayout marginTop="34">
          <Label class="fisas__p--bold" text="{{ 'about.technicalTeam' | translate }}"></Label>
          <Label
            marginTop="6"
            textWrap="true"
            class="fisas__p"
            text="Rui Carneiro, Pedro Sousa, Sérgio Costa, Sérgio Ferreira, Luís Lobo"
          ></Label>
        </StackLayout>

        <StackLayout marginTop="34">
          <Label
            class="fisas__p--bold"
            text="{{ 'about.architecture' | translate }}"
          ></Label>
          <Label
            marginTop="6"
            textWrap="true"
            class="fisas__p"
            text="IBM Portuguesa, S.A."
          ></Label>
        </StackLayout>

        <StackLayout marginTop="34">
          <Label class="fisas__p--bold" text="{{ 'about.requiAnalyse' | translate }}"></Label>
          <Label
            marginTop="6"
            textWrap="true"
            class="fisas__p"
            text="Datamind – Tecnologias de Informação e Consultadoria"
          ></Label>
        </StackLayout>

        <StackLayout marginTop="34">
          <Label
            class="fisas__p--bold"
            text="{{ 'about.softwareDev' | translate }}"
          ></Label>
          <Label
            marginTop="6"
            textWrap="true"
            class="fisas__p"
            text="Leandro Sá - coordenação"
          ></Label>
          <Label
            marginTop="6"
            textWrap="true"
            class="fisas__p"
            text="André Costa"
          ></Label>
          <Label
            marginTop="6"
            textWrap="true"
            class="fisas__p"
            text="NQDA - Negro Esquisso, Agência Web Lda."
          ></Label>
          <Label
            marginTop="6"
            textWrap="true"
            class="fisas__p"
            text="Ubiwhere Lda."
          ></Label>
        </StackLayout>

        <StackLayout marginTop="34">
          <Label
            class="fisas__p--bold"
            text="{{ 'about.interfaceDev' | translate }}"
          ></Label>
          <Label
            marginTop="6"
            textWrap="true"
            class="fisas__p"
            text="NQDA – Negro Esquisso, Agência Web Lda."
          ></Label>
        </StackLayout>

        <StackLayout marginTop="34">
          <Label class="fisas__p--bold" text="{{ 'about.financial' | translate }}"></Label>
          <Image
            width="500"
            marginTop="24"
            src="~/images/apoios-fisas.png"
            horizontalAligment="center"
            marginBottom="20"
            loadMode="async"
          ></Image>
        </StackLayout>
      </StackLayout>
    </WrapLayout>
  </ScrollView>
</StackLayout>
