@import "~/scss/_variables";

.contacts {
  &__container {
    margin-top: 35;
    margin-bottom: 35;
  }

  &__block {
    margin-bottom: 35;
    color: $black;
    font-size: 13;
    line-height: 1.38;

    &__title {
      font-family: "Montserrat", "Montserrat-Bold";
      text-transform: uppercase;
      margin-bottom: 5;
      font-size: 11;
      font-weight: 700;
      line-height: 1.64;
    }

    &__links {
      margin-top: 8;
      color: $ipca;
      text-decoration: underline;
    }
  }
}
