<div
  nzType="flex"
  nzAlign="middle"
  nzJustify="center"
  perfectScrollbar
  class="page ps scroll-container"
>
  <div class="container">
    <div nz-row>
      <div
        nz-col
        [nzXs]="24"
        [nzSm]="24"
        [nzMd]="8"
        [nzLg]="8"
        [nzXl]="8"
        [nzXXl]="8"
      >
        <div nz-row>
          <nz-form-label>Termo de Pesquisa</nz-form-label>
          <nz-form-control>
            <input type="text" nz-input [(ngModel)]="filters.search" />
          </nz-form-control>
        </div>
      </div>
      <div
        nz-col
        [nzXs]="0"
        [nzSm]="0"
        [nzMd]="1"
        [nzLg]="1"
        [nzXl]="1"
        [nzXXl]="1"
      ></div>

      <div
        nz-col
        [nzXs]="0"
        [nzSm]="0"
        [nzMd]="1"
        [nzLg]="1"
        [nzXl]="1"
        [nzXXl]="1"
      ></div>

      <div
        nz-col
        [nzXs]="12"
        [nzSm]="6"
        [nzMd]="4"
        [nzLg]="3"
        [nzXl]="3"
        [nzXXl]="3"
        class="btn-filter"
      >
        <button
          nz-button
          nzType="primary"
          class="btn"
          (click)="searchData(true)"
        >
          Filtrar
        </button>
      </div>
      <div
        nz-col
        [nzXs]="12"
        [nzSm]="6"
        [nzMd]="4"
        [nzLg]="2"
        [nzXl]="1"
        [nzXXl]="1"
        class="btn-filter"
        style="text-align: left"
      >
        <i
          nz-icon
          nzType="delete"
          class="btn-delete"
          nzTheme="outline"
          (click)="listComplete()"
        ></i>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content-table">
      <nz-table
        class="table"
        [nzScroll]="{ x: '240px' }"
        #refTable
        [nzData]="data"
        (nzCurrentPageDataChange)="currentPageDataChange($event)"
        [nzLoading]="loading"
        [nzFrontPagination]="false"
        [(nzPageIndex)]="pageIndex"
        [nzShowSizeChanger]="true"
        [nzTotal]="totalData"
        [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="pagination()"
        (nzPageSizeChange)="pagination(true)"
      >
        <thead (nzSortChange)="sort($event)" nzSingleSort>
          <tr class="table__header">
            <th>Utilizador</th>
            <th>Cantina almoço</th>
            <th>Prato almoço</th>
            <th>Cantina jantar</th>
            <th>Prato almoço</th>
            <th nzRight="0px">Ações</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="refTable.data">
            <tr>
              <td>{{ data.user ? data.user.name : '--' }}</td>
              <td>{{ data.lunch_canteen.name }}</td>
              <td>
                {{
                  data.lunch_dish_type
                    ? (data.lunch_dish_type.translations | translation).name
                    : '--'
                }}
              </td>
              <td>{{ data.dinner_canteen.name }}</td>
              <td>
                {{
                  data.dinner_dish_type
                    ? (data.dinner_dish_type.translations | translation).name
                    : '--'
                }}
              </td>
              <td nzRight="0px">
                <button
                  nz-button
                  nz-dropdown
                  nzType="link"
                  class="options_button"
                  [nzDropdownMenu]="menu"
                  nzPlacement="bottomRight"
                >
                  <i nz-icon nzType="dash" nzTheme="outline"></i>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li
                      [nzDisabled]="
                        !('alimentation:packs:update' | hasPermission)
                      "
                      nz-menu-item
                      (click)="editConfigs(data)"
                    >
                      Editar
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isModalVisible"
  nzTitle="Definições utilizador"
  (nzOnCancel)="handleModalCancel()"
  (nzOnOk)="handleModalOk()"
>
  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzFor="email">Cantina almoço</nz-form-label>
    <nz-form-control [nzSpan]="24">
      <nz-select
        style="width: 100%"
        [(ngModel)]="selectedServiceLunch"
        nzPlaceHolder="Cantina almoço"
        [nzAllowClear]="false"
      >
        <nz-option
          *ngFor="let sv of services"
          [nzValue]="sv.id"
          [nzLabel]="sv.name"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzFor="email"
      >Tipo de prato almoço</nz-form-label
    >
    <nz-form-control [nzSpan]="24">
      <nz-select
        style="width: 100%"
        [(ngModel)]="selectedDishTypeLunch"
        nzPlaceHolder="Tipo de prato almoço"
        [nzAllowClear]="false"
      >
        <nz-option
          *ngFor="let dt of dishTypeList"
          [nzValue]="dt.id"
          [nzLabel]="(dt.translations | translation)?.name"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzFor="email">Cantina jantar</nz-form-label>
    <nz-form-control [nzSpan]="24">
      <nz-select
        style="width: 100%"
        [(ngModel)]="selectedServiceDinner"
        nzPlaceHolder="Cantina jantar"
        [nzAllowClear]="false"
      >
        <nz-option
          *ngFor="let sv of services"
          [nzValue]="sv.id"
          [nzLabel]="sv.name"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzFor="email"
      >Tipo de prato jantar</nz-form-label
    >
    <nz-form-control [nzSpan]="24">
      <nz-select
        style="width: 100%"
        [(ngModel)]="selectedDishTypeDinner"
        nzPlaceHolder="Tipo de prato jantar"
        [nzAllowClear]="false"
      >
        <nz-option
          *ngFor="let dt of dishTypeList"
          [nzValue]="dt.id"
          [nzLabel]="(dt.translations | translation)?.name"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</nz-modal>
