.manifestation-card {
  border-radius: 5px;
  padding: 25px 15px 15px 15px;
  margin: 10px;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid transparent;
  > div:first-child {
    margin-bottom: 10px;
  }
  &--status {
    padding-left: 5px;
    padding-right: 5px;
    height: 18px;
    border-radius: 4px;
    text-align: center;
    float: left;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.78;
    letter-spacing: 0.5px;
    color: white;
    cursor: pointer;
  }
  &--title {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #333333;
    cursor: pointer;
  }
  &--description {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #333333;
  }
  &--button {
    float: right;
  }
  
}
.manifestation-card:hover {
  border-color: var(--primary-color) !important;
  background-color: var(--primary-1) !important;
}


@media only screen and (max-width: 600px) {
  .application-card {
    &--title {
      margin-top: 10px;
    }
  }
  .padding-bottom-mobile-20 {
    padding-bottom: 20px;
  }
}

.title-detail {
  font-size: 13px;
  color: var(--primary-7);
}

.description-detail {
  color: black;
  font-size: 13px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.PUBLISHED {
  background-color: #9dbbae;
}

.SUBMITTED {
  background-color: #4d9de0;
}

.ANALYSED {
  background-color: #7768AE;
}

.INTERVIEWED {
  background-color: #88ccf1;
}

.WAITING {
  background-color: #f8ca00;
}

.ACCEPTED {
  background-color: #9DBBAE;
}

.APPROVED {
  background-color: #0d69dd;
}

.COLABORATION {
  background-color: #1ba974;
}

.ACKNOWLEDGED {
  background-color: #076743;
}


.CLOSED {
  background-color: #000000;
}

.DECLINED {
  background-color: #D0021B;
}

.WITHDRAWAL,
.WITHDRAWAL_ACCEPTED {
  background-color: #246A73;
}

.NOT_SELECTED {
  background-color: #C1666B;
}

.CANCELLED {
  background-color: #A4A4A4;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}


.card {

  &__status {
      font-size: 11px;
      font-weight: bold;
      letter-spacing: 0.5px;
      color: #ffffff;
      text-align: center;
      align-items: center;
      border: none;
      cursor: pointer;
  }
}

.cursor-context {
  cursor: context-menu !important;
}

#contacts_info_interest::ng-deep svg {
  g path {
      fill: var(--primary-color);
  }
}

.box {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}

.box-pair {
  background-color: #f0f2f5;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}


.icon {
  font-size: 25px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}
