<div class="manifestation-card" (click)="goToManifestationReview(manifestation?.experience_id)">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
      <nz-tag class="tab-status" [ngClass]="checkTagStatusColor()" (click)="openModal($event)">
        {{ status[manifestation.status]| translate }}</nz-tag>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" style="text-align: right">
      <app-button
        class="present-collaboration--button"
        [type]="'secundary'"
        translate="SOCIAL_SUPPORT.HISTORY_APPLICATIONS.FORM"
        (click)="goToManifestationDetail($event,manifestation?.id)"
      >
      </app-button>
    </div>
  </div>

  <div nz-row class="padding-bottom-10">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <div class="manifestation-card--title" >
        {{ (manifestation?.experience?.translations | languageChange)?.title }}
      </div>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="padding-bottom-20">
      <div class="manifestation-card--description">
        {{ (manifestation?.experience?.translations | languageChange)?.description }}
      </div>
    </div>
  </div>
  <div nz-row class="padding-bottom-20">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-bottom-mobile-20">
      <div class="title-detail">{{ 'SOCIAL_SUPPORT.APPLICATIONS.SUBMITTED_ON' | translate }}</div>
      <div class="description-detail">
        {{ manifestation?.experience?.publish_date | date: 'dd-MM-yyyy' }}
      </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16" [nzLg]="16" [nzXl]="16" [nzXXl]="16">
      <div class="title-detail">{{ 'SOCIAL_SUPPORT.APPLICATIONS.ORGANIC_UNIT' | translate }}</div>
      <div class="description-detail">
        {{ manifestation?.experience?.organic_unit?.name }} -
        {{ manifestation?.experience?.organic_unit?.code }}
      </div>
    </div>
  </div>
</div>

<!-- MODAL DETAIL -->
<nz-modal
  (nzOnCancel)="showStatusHistoryModal = false"
  [(nzVisible)]="showStatusHistoryModal"
  [nzTitle]="null"
  [nzContent]="modalContentDetail"
  [nzFooter]="null"
>
  <ng-template #modalContentDetail>
    <div nz-row class="padding-bottom-15">
      <nz-tag class="tab-status cursor-context" [ngClass]="checkTagStatusColor()">
        {{ status[manifestation.status]| translate }}</nz-tag>
    </div>
    <h2 class="title-top-page">{{ (manifestation?.experience?.translations | languageChange)?.title }}</h2>
    <div nz-row class="description padding-bottom-15">
      <b> {{ (manifestation?.experience?.translations | languageChange)?.description }}</b>
    </div>
    <div nz-row class="title-detail">
      {{ manifestation?.experience?.organic_unit?.name }} -
      {{ manifestation?.experience?.organic_unit?.code }}
    </div>
    <div nz-row class="title-detail" style="padding-bottom: 25px">
      {{ 'SOCIAL_SUPPORT.APPLICATIONS.APPLICATIONS' | translate }}
      {{ manifestation?.experience?.publish_date | date: 'dd MMMM yyyy' }}
      {{ 'SOCIAL_SUPPORT.APPLICATIONS.TO' | translate }}
      {{ manifestation?.experience?.application_deadline_date | date: 'dd MMMM yyyy' }}
    </div>
    <div
      *ngFor="let hist of manifestation?.history; let idx = index"
      nz-row
      [ngClass]="{ box: !isPair(idx), 'box-pair': isPair(idx) }"
    >

      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="21" [nzLg]="21" [nzXl]="22" [nzXXl]="22">
        <div nz-row>{{ hist?.created_at | date: 'dd-MM-yyyy' }} - {{ hist?.created_at | date: 'HH:mm' }}h</div>
        <div nz-row>
          <b
            >{{ 'SOCIAL_SUPPORT.INTEREST.CHANGE_STATUS' | translate }}
            {{
              hist?.status == 'SUBMITTED'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.SUBMITTED' | translate)
                : hist?.status == 'ANALYSED'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.ANALYSED' | translate)
                : hist?.status == 'INTERVIEWED'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.INTERVIEWED' | translate)
                : hist?.status == 'APPROVED'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.APPROVED' | translate)
                : hist?.status == 'WAITING'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.WAITING' | translate)
                : hist?.status == 'NOT_SELECTED'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.NOT_SELECTED' | translate)
                : hist?.status == 'ACCEPTED'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.ACCEPTED' | translate)
                : hist?.status == 'COLABORATION'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.COLABORATION' | translate)
                : hist?.status == 'WITHDRAWAL'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.WITHDRAWAL' | translate)
                : hist?.status == 'DECLINED'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.DECLINED' | translate)
                : hist?.status == 'CANCELLED'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.CANCELLED' | translate)
                : hist?.status == 'CLOSED'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.CLOSED' | translate)
                : hist?.status == 'WITHDRAWAL_ACCEPTED'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.WITHDRAWAL_ACCEPTED' | translate)
                : '-'
            }}</b
          >
        </div>
      </div>
    </div>
  </ng-template>
</nz-modal>
