<div class="container">
  <div nz-row>
    <div nz-col nzSm="24" nzMd="24" class="title">
      <label>Dados em bruto declarações</label>
    </div>
    <div nz-col nzSm="12" nzMd="6">
      <div nz-row>
        <nz-form-label>Ano académico</nz-form-label>
        <nz-select [(ngModel)]="academic_year" name="academic_year" nzPlaceHolder="Ano académico" style="width: 100%">
          <nz-option *ngFor="let academic_year of academic_years" [nzLabel]="academic_year" [nzValue]="academic_year">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="6" style="padding-top: 42px;">
      <button nz-button [nzLoading]="loading" [disabled]="loading" (click)="declarations_raw()"
        [nzType]="'primary'">Gerar Relatório</button>
    </div>
  </div>
</div>
<div nz-row class="space"></div>
<div class="container">
  <div nz-row>
    <div nz-col nzSm="24" nzMd="24" class="title">
      <label>Dados em bruto candidaturas</label>
    </div>
    <div nz-col nzSm="12" nzMd="6">
      <div nz-row>
        <nz-form-label>Ano académico</nz-form-label>
        <nz-select [(ngModel)]="academic_year_applications" name="academic_year_applications" nzPlaceHolder="Ano académico" style="width: 100%">
          <nz-option *ngFor="let academic_year of academic_years" [nzLabel]="academic_year" [nzValue]="academic_year">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="6">
      <div nz-row>
        <nz-form-label>Unidade orgânica</nz-form-label>
        <nz-select [(ngModel)]="organic_unit" name="organic_unit" nzPlaceHolder="Unidade orgânica" style="width: 100%">
          <nz-option *ngFor="let organic_unit of organic_units" [nzLabel]="organic_unit?.name" [nzValue]="organic_unit?.id">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="6" style="padding-top: 42px;">
      <button nz-button [nzLoading]="loading" [disabled]="loading" (click)="applications_raw()"
        [nzType]="'primary'">Gerar Relatório</button>
    </div>
  </div>

</div>