@import 'default-theme.less';

:host::ng-deep {

  color           : @fisas-grey-01;
  background-color: var(--fisas-08);

  h1,
  h2 {
    color: @fisas-grey-01;
  }

  .main-content {
    height: 100%;
    padding-top: 20vh;
  }

  .payment {
    &__box {
      flex-direction: column;
      margin        : 0 15%;
 
      &__iconbox {
        height: 260px;
        text-align: center;
  
        &__icon {
          font-size : 190px;
          margin-top: 80px;
        }
  
      }
    }


    &__pos-message {
      width      : 100%;
      text-align : center;
      margin-top : 50px;
      font-size  : 30px;
      line-height: 35px;
    }

    &__pos-qrcode {
      margin-top: 150px;

      &__title {
        margin-bottom: 50px;
      }

      &__qrcode {
        width        : 175px;
        margin-right : auto;
        margin-left  : auto;
        padding      : 10px;
        border       : var(--fisas-04) solid 3px;
        border-radius: 15px;
      }
    }
  }
}