<div class="main-content">
    <div nz-row class="payment__box">
        <h1 class="payment__title">{{'POSPAYMENT.TITLE' | translate }}</h1>
        <h2 class="payment__message display-three">{{'POSPAYMENT.SUBTITLE' | translate}}</h2>
        <div class="payment__box__iconbox">
            <i @fadeAnimation class="payment__box__iconbox__icon"
                *ngIf="status === FiTpaStatusEnum.WAITING || status === FiTpaStatusEnum.CARD_OUT" nz-icon
                nzType="icons:icons-pos"></i>
            <i @fadeAnimation class="payment__box__iconbox__icon" *ngIf="status === FiTpaStatusEnum.WAIT_CARD_OUT" nz-icon
                nzType="icons:icons-remove-card"></i>
            <i @fadeAnimation class="payment__box__iconbox__icon" *ngIf="status === FiTpaStatusEnum.WAIT_CARD_IN" nz-icon
                nzType="icons:icons-insert-card"></i>
                <i @fadeAnimation class="payment__box__iconbox__icon" *ngIf="status === FiTpaStatusEnum.CARD_INSERTED" nz-icon
                    nzType="icons:icons-card-confirm"></i>
            <i @fadeAnimation class="payment__box__iconbox__icon" *ngIf="status === FiTpaStatusEnum.WAIT_PIN" nz-icon
                nzType="icons:icons-insert-pin"></i>
            <i @fadeAnimation class="payment__box__iconbox__icon" *ngIf="status === FiTpaStatusEnum.PRINTING" nz-icon
                nzType="icons:icons-receipt"></i>
            <i @fadeAnimation class="payment__box__iconbox__icon" nzSpin="true"
                *ngIf="status === FiTpaStatusEnum.IN_COMMUNICATION" nz-icon nzType="icons:icons-pos-loading"></i>
        </div>
        <div @fadeAnimation class="payment__pos-message" *ngIf="status === FiTpaStatusEnum.WAITING">{{'POSPAYMENT.STATUS.PREPARING' | translate }}</div>
        <div @fadeAnimation class="payment__pos-message" *ngIf="status === FiTpaStatusEnum.WAIT_CARD_OUT">{{'POSPAYMENT.STATUS.WAIT_CARD_OUT' | translate }}</div>
        <div @fadeAnimation class="payment__pos-message" *ngIf="status === FiTpaStatusEnum.WAIT_CARD_IN">{{'POSPAYMENT.STATUS.WAIT_CARD_IN' | translate }}</div>
        <div @fadeAnimation class="payment__pos-message" *ngIf="status === FiTpaStatusEnum.CARD_INSERTED">{{'POSPAYMENT.STATUS.CARD_INSERTED' | translate }}</div>
        <div @fadeAnimation class="payment__pos-message" *ngIf="status === FiTpaStatusEnum.WAIT_CLIENT_CONFIRMATION">{{'POSPAYMENT.STATUS.WAIT_CLIENT_CONFIRMATION' | translate }}</div>
        <div @fadeAnimation class="payment__pos-message" *ngIf="status === FiTpaStatusEnum.WAIT_PIN">{{'POSPAYMENT.STATUS.WAIT_PIN' | translate }}</div>
        <div @fadeAnimation class="payment__pos-message" *ngIf="status === FiTpaStatusEnum.IN_COMMUNICATION">{{'POSPAYMENT.STATUS.IN_COMMUNICATION' | translate }}</div>
        <div @fadeAnimation class="payment__pos-message" *ngIf="status === FiTpaStatusEnum.PRINTING">{{'POSPAYMENT.STATUS.PRINTING' | translate }}</div>

        <div @fadeAnimation class="payment__pos-message" *ngIf="payment">{{'POSPAYMENT.VALUE_PAY' | translate }} {{ transaction_value | currency: 'EUR'}} </div>
        <!--<div @fadeAnimation class="payment__pos-qrcode" *ngIf="showQrCode && order">
            <div class="payment__pos-qrcode__title display-three">Ou através de MB Way</div>
            <div class="payment__pos-qrcode__qrcode">
                <ngx-qrcode [elementType]="'img'"
                    [value]="'CPMBV200004659200400220082617024500000140978281387769AAA72C89'">
                </ngx-qrcode>
            </div>
        </div>-->
    </div>
</div>
