<div nz-row>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
    <h2 class="title-top-page">
      {{'U_BIKE.APPLICATIONS.REPORTS.MODAL_TITLE' | translate}}
    </h2>
    <div nz-row>
      <div nz-col>
        <div class="form">
          <form nz-form [formGroup]="form">
            <div nz-row>
              <nz-form-item>
                <nz-form-label nzFor="consent_terms_file_id">
                  <b>{{ "U_BIKE.APPLICATIONS.REPORTS.CONSENT_TERMS" | translate }}</b>
                </nz-form-label>
                <div class="desc-title-form">
                  {{ 'U_BIKE.APPLICATIONS.REPORTS.CONSENT_TERMS_INFO' | translate }}
                </div>
                <nz-form-control>
                  <app-file-upload *ngIf="!application.consent_terms_file_id" [filterTypes]="filterTypes" formControlName="consent_terms_file_id" (fileDeleted)="f.consent_terms_file_id.setValue(null)">
                  </app-file-upload>
                  <div class="font-upload">
                    {{ 'MISC.FORMAT_UPLOAD_MORE' | translate }} pdf. {{ 'MISC.LIMIT_MAX_FILE' | translate }}
                  </div>
                </nz-form-control>
                <div *ngIf="consent_terms_file">
                    <a target="_blank" [href]="consent_terms_file?.url">
                      <img src="/assets/imgs/doc.PNG" width="100px">
                    </a>
                </div>
              </nz-form-item>
            </div>
            <div nz-row>
              <nz-form-item>
                <nz-form-label nzFor="delivery_reception_file_id">
                  <b>{{ "U_BIKE.APPLICATIONS.REPORTS.DELIVERY_RECEPTION" | translate }}</b>
                </nz-form-label>
                <div class="desc-title-form">
                  {{ 'U_BIKE.APPLICATIONS.REPORTS.DELIVERY_RECEPTION_INFO' | translate }}
                </div>
                <nz-form-control>
                  <app-file-upload *ngIf="!application.delivery_reception_file_id" [filterTypes]="filterTypes" formControlName="delivery_reception_file_id" (fileDeleted)="f.delivery_reception_file_id.setValue(null)">
                  </app-file-upload>
                  <div class="font-upload">
                    {{ 'MISC.FORMAT_UPLOAD_MORE' | translate }} pdf. {{ 'MISC.LIMIT_MAX_FILE' | translate }}
                  </div>
                </nz-form-control>
                <div *ngIf="delivery_reception_file">
                    <a target="_blank" [href]="delivery_reception_file?.url">
                      <img src="/assets/imgs/doc.PNG" width="100px">
                    </a>
                </div>
              </nz-form-item>
            </div>
            <div nz-row class="submit">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <app-button (click)="close()" style="margin-right: 15px;"
                  [translate]="'MISC.RETURN'" [type]="'secundary'"></app-button>
                <app-button [loading]="loadingSubmit" (click)="onSubmit()" [translate]="'MISC.SUBMIT'">
                </app-button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
