<div nzType="flex" nzAlign="middle" nzJustify="center" perfectScrollbar class="page ps scroll-container">
  <div class="container">
    <form [formGroup]="recipeForm" nzLayout="vertical">
      <nz-spin [nzSpinning]="loading_info">
        <div nz-row>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="22" [nzLg]="22" [nzXl]="22" [nzXXl]="22" class="padding-right-20">
            <div nz-row>
              <nz-form-label nzRequired>
                Nome
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <input nz-input type="text" formControlName="name" id="name" maxlength="255">
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submitted && f.name.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>
        <div nz-row style="padding-top: 20px;">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="22" [nzLg]="22" [nzXl]="22" [nzXXl]="22" class="padding-right-20">
            <div nz-row>
              <nz-form-label nzRequired>
                Descrição
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <input nz-input type="text" formControlName="description" id="description" maxlength="255">
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submitted && f.description.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>
        <div nz-row style="padding-top: 20px;">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="padding-right-20">
            <div nz-row>
              <nz-form-label nzRequired>
                Número de doses
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <input nz-input type="number" formControlName="number_doses" id="number_doses" minlength="1"
                  pattern="\d*">
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submitted && f.number_doses.errors">
                <div class="error" *ngIf="f.number_doses.errors.required">
                  Campo obrigatório
                </div>
                <div class="error" *ngIf="f.number_doses.errors.min">
                  Valor inválido
                </div>
              </nz-form-explain>
            </div>
          </div>
        </div>
        <div nz-row class="padding-top-30">
          <fieldset>

            <legend><span class="color-required">*</span> Produtos </legend>
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="padding-right-20">

                <nz-spin [nzSpinning]="isLoadingSelects">
                  <div nz-row>
                    <nz-form-label>
                      Produtos
                    </nz-form-label>
                    <nz-form-control>
                      <nz-select class="primary-select" formControlName="product" nzAllowClear nzShowSearch [nzServerSearch]="true" (nzOnSearch)="onSearch($event)" >
                        <nz-option *ngFor="let product of products"
                          [nzLabel]="(product?.translations | translation)?.name + ' [' + product.unit.acronym + ']'"
                          [nzValue]="product">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </div>
                </nz-spin>

              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
                <div nz-row>
                  <nz-form-label>
                    Quantidade líquida
                  </nz-form-label>
                  <nz-form-control nzSpan="24">
                    <input nz-input type="number" formControlName="quantity_liquid" id="quantity_liquid" min="0">
                    <nz-form-explain class="color-required" *ngIf="submitted && f.quantity_liquid.errors">
                      Valor inválido
                    </nz-form-explain>
                  </nz-form-control>
                </div>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
                <div nz-row>
                  <nz-form-label>
                    Quantidade bruta
                  </nz-form-label>
                  <nz-form-control nzSpan="24">
                    <input nz-input type="number" formControlName="quantity_gross" id="quantity_gross" min="0">
                    <nz-form-explain class="color-required" *ngIf="submitted && f.quantity_gross.errors">
                      Valor inválido
                    </nz-form-explain>
                  </nz-form-control>
                </div>
              </div>
              <div nz-col nzSpan="4" style="margin-top: 44px">
                <button nz-button [disabled]="f.quantity_liquid.errors || f.quantity_gross.errors"
                  (click)="addProducts()">Adicionar Produto</button>
              </div>
            </div>
            <div nz-row>
              <div style="margin-top: 16px; text-align: center;" *ngIf="listReciceProducts.length === 0" nz-col
                [nzXs]="24" [nzSm]="24" [nzMd]="22" [nzLg]="22" [nzXl]="22" [nzXXl]="22" class="padding-right-20">
                <strong> Lista de produtos vazia.</strong>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="22" [nzLg]="22" [nzXl]="22" [nzXXl]="22"
                class="padding-right-20">
                <nz-list *ngIf="listReciceProducts" style="margin-top: 16px; margin-left: 30px;">
                  <nz-list-item *ngFor="let products of listReciceProducts" style="margin-left: 16px;">
                    <div nz-row nzType="flex" nzAlign="middle" nzJustify="space-between" nzGutter="16"
                      style="width: 75%;">
                      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6"><b>{{
                          (products?.product?.translations | translation)?.name + ' [' + products?.product?.unit.acronym
                          + ']'}}</b></div>
                      <div nz-col><b>(Quantidade Líquida: {{ products?.quantity_liquid }})</b></div>
                      <div nz-col><b>(Quantidade Bruta: {{ products?.quantity_gross }})</b></div>
                      <div nz-col><button nz-button nzType="danger" (click)="removeProduct(products)"><i nz-icon
                            nzType="delete"></i>Remover</button></div>
                    </div>
                  </nz-list-item>
                </nz-list>
              </div>
            </div>
          </fieldset>
        </div>
        <div nz-row style="padding-top: 20px;">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="22" [nzLg]="22" [nzXl]="22" [nzXXl]="22" class="padding-right-20">
            <div nz-row>
              <nz-form-label>
                Preparação
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <input nz-input type="text" formControlName="preparation" id="preparation">
              </nz-form-control>
            </div>
          </div>
        </div>
        <div nz-row style="padding-top: 20px;">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="22" [nzLg]="22" [nzXl]="22" [nzXXl]="22" class="padding-right-20">
            <div nz-row>
              <nz-form-label>
                Modo de preparação
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <input nz-input type="text" formControlName="preparation_mode" id="preparation_mode">
              </nz-form-control>
            </div>
          </div>
        </div>
        <div nz-row style="padding-top: 20px;">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="22" [nzLg]="22" [nzXl]="22" [nzXXl]="22" class="padding-right-20">
            <div nz-row>
              <nz-form-label>
                Critério microbiológico
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <input nz-input type="text" formControlName="microbiological_criteria" id="microbiological_criteria">
              </nz-form-control>
            </div>
          </div>
        </div>
        <div nz-row style="padding-top: 20px;">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="22" [nzLg]="22" [nzXl]="22" [nzXXl]="22" class="padding-right-20">
            <div nz-row>
              <nz-form-label>
                Embalamento
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <input nz-input type="text" formControlName="packaging" id="packaging">
              </nz-form-control>
            </div>
          </div>
        </div>
        <div nz-row style="padding-top: 20px;">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="22" [nzLg]="22" [nzXl]="22" [nzXXl]="22" class="padding-right-20">
            <div nz-row>
              <nz-form-label>
                Utilização
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <input nz-input type="text" formControlName="use" id="use">
              </nz-form-control>
            </div>
          </div>
        </div>
        <div nz-row style="padding-top: 20px;">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="22" [nzLg]="22" [nzXl]="22" [nzXXl]="22" class="padding-right-20">
            <div nz-row>
              <nz-form-label>
                Distribuição
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <input nz-input type="text" formControlName="distribution" id="distribution">
              </nz-form-control>
            </div>
          </div>
        </div>
        <div nz-row style="padding-top: 20px;">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="22" [nzLg]="22" [nzXl]="22" [nzXXl]="22" class="padding-right-20">
            <div nz-row>
              <nz-form-label>
                Comentário
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <input nz-input type="text" formControlName="comment" id="comment">
              </nz-form-control>
            </div>
          </div>
        </div>
        <div nz-row style="padding-top: 20px;">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="22" [nzLg]="22" [nzXl]="22" [nzXXl]="22" class="padding-right-20">
            <div nz-row>
              <nz-form-label>
                Documentos associados
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <input nz-input type="text" formControlName="associated_docs" id="associated_docs">
              </nz-form-control>
            </div>
          </div>
        </div>
        <div nz-row style="padding-top: 20px;">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
            <div nz-row class="padding-bottom-5">
              <nz-form-label nzRequired>
                Ativo
              </nz-form-label>
            </div>
            <div nz-row class="padding-bottom-5 padding-top-5">
              <nz-switch formControlName="active">
              </nz-switch>
              <nz-form-explain class="color-required" *ngIf="submitted && f.active.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>
        <div nz-row style="padding-top: 20px;">
          <div nz-row style="text-align: center;">
            <div nz-col style="margin-top: 20px;">
              <button style="border-radius: 10px;
              width: 300px;" nz-button (click)="addSteps(null,'',null)">Adicionar Passos</button>
            </div>
          </div>
          <div nz-row>
            <ng-container formArrayName="steps">
              <div nz-row *ngFor="let steps of steps.controls; let i = index;" nzGutter="16">
                <ng-container [formGroupName]="i">
                  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3" [nzXl]="3" [nzXXl]="3"
                    style="margin-left: 20px;">
                    <nz-form-item>
                      <nz-form-label nzRequired>
                        Passo
                      </nz-form-label>
                      <nz-form-control>
                        <input type="number" nz-input formControlName="step">
                      </nz-form-control>
                      <nz-form-explain class="color-required"
                        *ngIf="submitted && recipeForm.get('steps.' + i + '.step')?.errors">
                        Campo obrigatório
                      </nz-form-explain>
                    </nz-form-item>
                  </div>

                  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
                    <nz-form-item>
                      <nz-form-label nzRequired>
                        Descrição
                      </nz-form-label>
                      <nz-form-control>
                        <input type="text" nz-input formControlName="description">
                      </nz-form-control>
                      <nz-form-explain class="color-required"
                        *ngIf="submitted && recipeForm.get('steps.' + i + '.description')?.errors">
                        Campo obrigatório
                      </nz-form-explain>
                    </nz-form-item>
                  </div>

                  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
                    <nz-form-item>
                      <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="22" [nzLg]="22" [nzXl]="22" [nzXXl]="22">

                        <nz-form-item>
                          <nz-form-label nzRequired>
                            Imagem
                          </nz-form-label>
                          <nz-form-control>
                            <fi-sas-upload-file formControlName="file_id" [types]="filterTypes"></fi-sas-upload-file>
                          </nz-form-control>
                          <label style="font-size: 12px;">Resolução 300x300</label>
                          <nz-form-explain class="color-required"
                            *ngIf="submitted && recipeForm.get('steps.' + i + '.file_id')?.errors">
                            Campo obrigatório
                          </nz-form-explain>
                        </nz-form-item>
                      </div>
                    </nz-form-item>
                  </div>


                  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3" [nzXl]="3" [nzXXl]="3"
                    style="margin-left: 20px;">
                    <nz-form-item style="margin-top: 44px;">
                      <div nz-col><button nz-button nzType="danger" (click)="removeStep(i)"><i nz-icon
                            nzType="delete"></i>Remover Passo</button></div>
                    </nz-form-item>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </nz-spin>
    </form>
  </div>
  <div class="space">
    <button *ngIf="id != undefined" nz-button (click)="backList()">Voltar</button>
    <button nz-button [nzLoading]="loading" [disabled]="loading"
      (click)="id != undefined ? submitRecipe(true) : submitRecipe(false)" class="button-submit"
      [nzType]="'primary'">{{id
      != undefined ? 'Editar' : 'Criar'}}</button>
  </div>
</div>