<div *ngIf="applicationHistory.length>0">

  <div nz-row>
    <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>

    <div *ngIf="'u_bike:applications:read' | hasPermission" nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20"
      [nzXl]="10" [nzXXl]="10">
      <app-counter [userApplication]="userApplications" [translations]="translations"></app-counter>
    </div>
    <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="1" [nzXXl]="1"></div>

    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="0" [nzXXl]="0"></div>
    <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="0" [nzXXl]="0"></div>
    <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="9" [nzXXl]="9">
      <app-occurrences></app-occurrences>
    </div>

    <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>
  </div>

  <div nz-row>
    <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>

    <div *ngIf="'u_bike:applications:read' | hasPermission" nz-col [nzXs]="22" [nzSm]="20" [nzMd]="20" [nzLg]="20"
      [nzXl]="20" [nzXXl]="20">
      <app-applications></app-applications>
    </div>

    <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>
  </div>

</div>
<div *ngIf="applicationHistory.length==0" nz-row>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20" style="margin-top: 25px;">
    <div nz-row>
      <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
        <h2 class="title-top-page">{{translations?.length>1 ? ((translations | languageChange)?.name) :
          ''}} {{ 'U_BIKE.DASHBOARD.TITLE' | translate }}</h2>
      </div>
      <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" style="text-align: right;">
        <app-button (click)="goToApplication()" type="tertiary"
          [buttonStyle]="{ 'font-size': '12px', 'line-height': '24px' }" translate="U_BIKE.APPLICATIONS.APPLY">
        </app-button>
      </div>

    </div>

    <div class="init">
      <app-service-presentation-text [serviceId]="serviceId"></app-service-presentation-text>
    </div>

  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>
</div>

