<nz-tabset nzTabPosition="left">
    <nz-tab nzTitle="Acessos" >
            <div nz-row nzType="flex" nzJustify="start" *ngIf="users.length>0" class="detail-field">
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" *ngFor="let user of users">
                    {{user?.name}}
                </div>
            </div>
            <div nz-row nzType="flex" nzJustify="start" *ngIf="users.length==0" class="detail-field">
                -
            </div>
        
    </nz-tab>
</nz-tabset>