<div class="topnav">
  <span *ngFor="let itemMenu of barOptions; let iMenu = index">
    <a
      *ngIf="itemMenu.scope == true"
      routerLinkActive="active-link"
      [routerLink]="itemMenu.routerLink"
      >{{ itemMenu.translate | translate }}</a
    >
  </span>
</div>
