@import 'theme';

.days-bar {
    font-style: normal;
    font-stretch: normal;
    font-family: Montserrat;
    &___weekday {
      width: auto;
      height: 24px;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.33;
      letter-spacing: -0.5px;
      color: unset;
    }
    &___date {
      width: 57px;
      height: 18px;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.29;
      letter-spacing: normal;
      color: unset;
    }
  }

  .title-fields {
    font-weight: bold;
    padding-bottom: 10px;
    color: black;
  }

  .padding-top-20 {
    padding-top: 20px;
  }

  .box {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid var(--primary-color);
    font-size: 13px;
    color: var(--primary-color);
    font-weight: bold;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
    &___selected {
      border: 1px solid var(--primary-color);
      background-color: var(--primary-color);
      color: white;
      cursor: pointer;
    }
    &___inactive {
      opacity: 50%;
      cursor: default !important
    }
  }
  
  .box:hover {
    cursor: pointer;
    color: white;
    background-color: var(--primary-color);
  }
  
  .color-required {
    color: red;
  }

  .error {
    color: red;
    margin-top:5px;
  
    &__input {
      border-color: red !important;
      background-color: #ff00000a;
  
      :focus {
        border-color: red !important;
      }
  
      :hover {
        border-color: red !important;
      }
    }
  }

  
.primary-datePicker,
.primary-timePicker,
.primary-input {
  width: 100%;
}

.historicLabel{
  white-space: break-spaces !important;
  text-align: left !important;
}