<form [formGroup]="createAppointmentForm" nzLayout="vertical">
  <div nz-row>
    <div nz-col [nzSm]="24" [nzXs]="24">
      <div nz-row style="margin-top:0px">
  
        <div>
          <!--XL to XXL-->
          <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="0" [nzXl]="24" [nzXXl]="24">
            <nz-steps [nzCurrent]="step" nzProgressDot>
              <nz-step nzTitle="{{ 'HEALTH.ATTENDANCES_TAB.STEPS.STEP1' | translate }}"
                nzDescription="{{ 'HEALTH.ATTENDANCES_TAB.STEPS.STEP1_TITLE' | translate }}">
              </nz-step>
              <nz-step nzTitle="{{ 'HEALTH.ATTENDANCES_TAB.STEPS.STEP2' | translate }}"
                nzDescription="{{ 'HEALTH.ATTENDANCES_TAB.STEPS.STEP2_TITLE' | translate }}">
              </nz-step>

            </nz-steps>
          </div>
          <!--XS to SM-->
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="0" [nzXXl]="0">
            <div *ngIf="step == 0">
              <p class="steps-minimal-size_title">
                {{ 'HEALTH.ATTENDANCES_TAB.STEPS.STEP1_TITLE' | translate }}
              </p>
              <p class="steps-minimal-size_sub-title">
                {{ 'HEALTH.ATTENDANCES_TAB.STEPS.STEP1_TOTAL' | translate }}
              </p>
            </div>
            <div *ngIf="step == 1">
              <p class="steps-minimal-size_title">
                {{ 'HEALTH.ATTENDANCES_TAB.STEPS.STEP2_TITLE' | translate }}
              </p>
              <p class="steps-minimal-size_sub-title">
                {{ 'HEALTH.ATTENDANCES_TAB.STEPS.STEP2_TOTAL' | translate }}
              </p>
            </div>
          </div>
        </div>
        <nz-divider class="divider"></nz-divider>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="appointment_form">
          <div nz-row style="padding-bottom: 10px;" *ngIf="step == 0">
            <h2 class="title-top-page">{{ 'HEALTH.ATTENDANCES_TAB.OPTIONS.NEW_APPOINTMENT' | translate }}</h2>
              <div nz-row nzGutter="34">
                <div nz-col nzXs="24">
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="specialty_id" style="color: black;">
                      <b>{{ 'HEALTH.APPOINTMENT_FORM.SPECIALTY_SERVICE' | translate }}</b>
                    </nz-form-label>
                    <nz-form-control>
                      <nz-select class="black-text" formCondiv formControlName="specialty_id" id="specialty_id" [nzLoading]="specialtiesLoading"
                        nzAllowSearch class="primary-select" (ngModelChange)="selectSpecialty()">
                        <nz-option *ngFor="let specialty of specialties" [nzLabel]="(specialty?.translations | languageChange)?.name" [nzValue]="specialty.id"  [nzDisabled]="!specialty.is_active"></nz-option>
                      </nz-select>
                      <nz-form-explain class="error"
                        *ngIf="createAppointmentForm.get('specialty_id')?.dirty && createAppointmentForm.get('specialty_id').errors">
                        {{ getInputError("doctor_id") | translate }}</nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzXs="24">
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="doctor_id" style="color: black;">
                      <b>{{ 'HEALTH.APPOINTMENT_FORM.PROFESSIONAL' | translate }}</b>
                    </nz-form-label>
                    <nz-form-control>
                      <nz-select class="black-text" formCondiv formControlName="doctor_id" id="doctor_id" [nzLoading]="doctorsLoading"
                        nzAllowSearch class="primary-select" (ngModelChange)="getDoctorSchedule()" [nzDisabled]="!specialtySelected">
                        <nz-option *ngFor="let doctor of doctorsFiltered" [nzLabel]="doctor.user.name" [nzValue]="doctor.id" ></nz-option>
                      </nz-select>
                      <nz-form-explain class="error"
                        *ngIf="createAppointmentForm.get('doctor_id')?.dirty && createAppointmentForm.get('doctor_id').errors">
                        {{ getInputError("doctor_id") | translate }}</nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzXs="24" *ngIf="specialtySelected && !specialtySelected.is_external">
                  <div nz-row >
                    <p><b>{{ 'HEALTH.APPOINTMENT_FORM.DATE_AND_HOUR_INTERNAL' | translate }}</b></p>
                  </div>
                  <div nz-row style="padding-bottom: 10px;">
                    <nz-form-label nzRequired style="color: black;">
                        <b>{{ 'HEALTH.APPOINTMENT_FORM.TITLE_DATE' | translate }}</b>
                    </nz-form-label>
                  </div>
                  <div nz-row>
                      <nz-tabset class="days-bar">
                          <nz-tab *ngFor="let day of fifteenDays; index as i" (nzSelect)="daySelected(day)"
                              [nzTitle]="dates">
                              <ng-template #dates>
                                  <div *ngIf="i === 0" nz-row class="days-bar___weekday"> {{ "HEALTH.APPOINTMENT_FORM.DAYS.TODAY" |
                                      translate }}</div>
                                  <div *ngIf="i=== 1" nz-row class="days-bar___weekday">{{ "HEALTH.APPOINTMENT_FORM.DAYS.TOMORROW" |
                                      translate }}</div>
                                      <div *ngIf="i > 1" nz-row class="days-bar___weekday">{{ (day | date : 'EEEE': null : translate.currentLang).charAt(0).toUpperCase() + (day | date : 'EEEE' : null : translate.currentLang).slice(1) }}</div>
                                  <div nz-row class="days-bar___date"> {{ day | date : 'dd MMM yyyy'}}</div>
                              </ng-template>
                          </nz-tab>
                      </nz-tabset>
                  </div>
                  <nz-spin [nzSpinning]="loadingAppointments">
                    <div nz-row class="title-fields">
                      {{ 'HEALTH.APPOINTMENT_FORM.AVAILABLE_PERIOD' | translate }}
                    </div>
                    <nz-empty *ngIf="appointments.length === 0" [nzNotFoundContent]="'HEALTH.APPOINTMENT_FORM.NO_DATA' | translate"></nz-empty>
                    <div nz-row *ngIf="appointments.length > 0">
                        <div *ngFor="let appointment of appointments" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8"
                            [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="box"
                            [ngClass]="{'box___selected': appointmentSelected ? appointmentSelected === appointment : '' , 'box___inactive': appointment.is_available ? false : true }" (click)="appointmentSelect(appointment)">
                            {{ appointment.is_available ? (appointment.start_date | date: 'HH:mm') : ('HEALTH.APPOINTMENT_FORM.UNAVAILABLE' | translate ) }}
                        </div>
                    </div>
                    <nz-form-explain class="color-required" style="padding-top: 10px"
                        *ngIf="submitted && (appointmentSelected == null || appointmentSelected == undefined)">
                        {{'HEALTH.APPOINTMENT_FORM.REQUIRED_FIELD' | translate}}
                    </nz-form-explain>
                  </nz-spin>
                </div>
                <div nz-col nzXs="24" *ngIf="specialtySelected && specialtySelected.is_external">
                  <div nz-row >
                    <p><b>{{ 'HEALTH.APPOINTMENT_FORM.DATE_AND_HOUR_EXTERNAL' | translate }}</b></p>
                  </div>
                  <div nz-row>
                    
                      <nz-form-item>
                        <nz-form-label nzRequired nzFor="date" style="color: black;">
                          <b>{{ 'HEALTH.APPOINTMENT_FORM.TITLE_DATE' | translate }}</b>
                        </nz-form-label>
                        <nz-form-control>
                          <nz-date-picker formCondiv formControlName="date" id="date" class="primary-datePicker" [nzDisabledDate]="disableDate"></nz-date-picker>
                          <nz-form-explain class="error"
                            *ngIf="createAppointmentForm.get('date')?.dirty && createAppointmentForm.get('date').errors">
                            {{ getInputError("date") | translate }}</nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>
                    
                  </div>
                  <div nz-row>
                    
                      <nz-form-item>
                        <nz-form-label nzRequired nzFor="start_hour" style="color: black;">
                          <b>{{ 'HEALTH.APPOINTMENT_FORM.TITLE_HOUR' | translate }}</b>
                        </nz-form-label>
                        <nz-form-control>
                          <nz-time-picker class="primary-timePicker" formControlName="start_hour" id="start_hour" nzFormat="HH:mm" [nzMinuteStep]="minuteStep"
                          [nzPlaceHolder]="'HEALTH.APPOINTMENT_FORM.START_HOUR' | translate"></nz-time-picker>
                          <nz-form-explain class="error"
                            *ngIf="createAppointmentForm.get('start_hour')?.dirty && createAppointmentForm.get('start_hour').errors">
                            {{ getInputError("start_hour") | translate }}</nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>
                    
                  </div>
                </div>
                <div nz-col nzXs="24" *ngIf="specialtySelected">
                  <nz-spin [nzSpinning]="appointmentTypesLoading">
                    <div nz-row class="title-fields padding-top-20">
                      {{ 'HEALTH.APPOINTMENT_FORM.APPOINTMENT_TYPE' | translate }}
                    </div>
                    <div nz-row>
                      <div *ngFor="let appointment_type of appointmentTypesList" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8"
                        [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="box"
                        [ngClass]="{'box___selected': appointmentTypeIdSelected ? appointmentTypeIdSelected === appointment_type.id : '' , 'box___inactive': isAppointmentTypeDisabled(appointment_type.id)}" (click)="appointmentTypeSelect(appointment_type)">
                        {{(appointment_type?.translations | languageChange)?.name}}
                      </div>
                    </div>
                    <nz-form-explain class="color-required" style="padding-top: 10px"
                        *ngIf="submitted && (appointmentTypeIdSelected == null || appointmentTypeIdSelected == undefined)">
                        {{'HEALTH.APPOINTMENT_FORM.REQUIRED_FIELD' | translate}}
                    </nz-form-explain>
                  </nz-spin>
                </div>
              </div>
            </div>
            <div nz-row style="padding-bottom: 10px;" *ngIf="step == 1">
              <div nz-col nzXs="24">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="payment_type" style="white-space: break-spaces;">
                    <b>{{ 'HEALTH.APPOINTMENT_FORM.PAYMENT_TYPE' | translate }}</b>
                  </nz-form-label>
                  <nz-form-control>
                    <nz-select formControlName="payment_type" [nzMode]="'default'" class="black-text" class="primary-select" [nzDisabled]="specialtySelected">
                      <nz-option nzLabel="Ato Consulta" nzValue="Ato Consulta"></nz-option>
                      <nz-option nzLabel="Pré Pagamento" nzValue="Pré Pagamento"></nz-option>
                    </nz-select>
                    <nz-form-explain class="error"
                      *ngIf="createAppointmentForm.get('payment_type')?.dirty && createAppointmentForm.get('payment_type').errors">
                      {{ getInputError("payment_type") | translate }}</nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzXs="24">
               
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="tariff_id" style="white-space: break-spaces;">
                      <b>{{ 'HEALTH.APPOINTMENT_FORM.TARIFFS' | translate }}</b>
                    </nz-form-label>
                    <nz-form-control>
                      <nz-select formControlName="tariff_id" [nzMode]="'default'" class="black-text"class="primary-select"
                      [nzLoading]="tariffsLoading" (ngModelChange)="getPriceInformation()">
                      <ng-container *ngFor="let tariff of filteredTariffs">
                        <nz-option [nzValue]="tariff.id"
                          [nzLabel]="tariff.description">
                          <!--[nzDisabled]="isDisabled(tariff.id)">-->
                        </nz-option>
                      </ng-container>
                    </nz-select>
                      <nz-form-explain class="error"
                        *ngIf="createAppointmentForm.get('tariff_id')?.dirty && createAppointmentForm.get('tariff_id').errors">
                        {{ getInputError("tariff_id") | translate }}</nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                
                  <nz-form-item>
                    <nz-form-label nzFor="price">
                      <b>{{ 'HEALTH.APPOINTMENT_FORM.PRICE' | translate }}</b>
                    </nz-form-label>
                    <nz-form-control>
                      <input nz-input formCondiv formControlName="price" class="primary-input" id="price" [attr.disabled]="true"/>
                      <nz-form-explain class="error"
                        *ngIf="createAppointmentForm.get('price')?.dirty && createAppointmentForm.get('price').errors">
                        {{ getInputError("price") | translate }}</nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
               
              </div>
              <div nz-col nzXs="24">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="allow_historic" class="historicLabel">
                    <b>{{ 'HEALTH.APPOINTMENT_FORM.ALLOW_HISTORIC' | translate }}</b>
                  </nz-form-label>
                  <nz-form-control>
                    <nz-radio-group formControlName="allow_historic" [nzSize]="'small'">
                      <label nz-radio [nzValue]=true>{{ 'MISC.YES' | translate}}</label>
                      <label nz-radio [nzValue]=false>{{ 'MISC.NO' | translate }}</label>
                    </nz-radio-group>
                    <nz-form-explain class="error"
                      *ngIf="createAppointmentForm.get('allow_historic')?.dirty && createAppointmentForm.get('allow_historic').errors">
                      {{ getInputError("allow_historic") | translate }}</nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div nz-row nzGutter="34" class="form--buttons">
    <div nz-col nzXs="12">
      <app-button type="secundary" translate="MISC.CANCEL" (click)="close()"> </app-button>
    </div>
    <div nz-col nzXs="12" style="text-align: right">
      <app-button [translate]="buttonActionName" (click)="nextStep();"  [disabled]="submitted" type="primary"></app-button>
    </div>
  </div>
</form>