@import 'theme';
.social_support {
    background-color: white;
    padding: 20px;
    margin-top: -14px;
    border-bottom: 1px solid #f0f2f5;

    &__avatar {
        width: 50px !important;
        height: 50px !important;
        line-height: 50px !important;
    }

    &__name-user {
      font-size: 20px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
    }

    &__desc-user {
      font-size: 14px;
      color: grey;
    }

    &__btn {
      text-align: right;
      &__btn-margin{
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
      }
    }

    &__font-hours {
      font-size: 20px;
      font-weight: bold;
      text-align: right;
    }

    &__font-title {
      padding-top: 15px;
      font-weight: 700;
      font-size: 16px;
      color: var(--primary-color);
    }
    &__font-error {
      font-size: 12px;
      color: red;
    }
    &__text_right {
      text-align: right;
    }
}

.border {
  border-bottom: 1px solid #f0f2f5;
}

.space {
  padding: 5px;
  background-color: #f0f2f5;
  margin: 5px;
}

:host::ng-deep {
    .ant-tabs {
        background-color: #f0f2f5 !important;
    }
    .ant-tabs-bar{
        border-bottom: none !important;
    }
    .ant-tabs-tab {
        background-color: white !important;
    }

    .ant-tabs-nav .ant-tabs-tab {
      margin: 0 2px 0 0 !important;
    }

}

.content-filter {
  background: white;
  padding: 24px 54px 24px 54px;
  margin: 8px;

  input {
      width: 100%;
  }

  nz-select {
      width: 100%;
  }

  .search_button {
      text-align: right;

      &__button {
          margin-top: 24px;
      }
  }
}

.content-table {
  margin: 8px;

  .table {
    &__header {
        th {
            background: white;
            color: var(--primary-6);
            font-weight: 700;
        }

        & > th:first-child {
            border-top-left-radius: 2px !important;
        }

        & > th:last-child {
            border-top-right-radius: 2px !important;
        }
    }

    tr {

        /*td {
            color: var(--text-color);
        }*/

        background: white !important;
    }
  }

  .options_button {
      color: var(--text-color);
      font-size: 22px;
  }
}

.container {
  background: white;
  padding: 24px 30px 24px 30px;
  margin-bottom: 5px;
  margin-top: -15px;
  &__title {
      font-size: 16px;
      line-height: 22px;
      margin: 0px;
      font-weight: bold;
      margin-bottom:10px;
      color:black;
  }
  &__subtitle{
    margin-bottom:5px;
  }
}