<div class="content--padding white">
    <form nz-form [formGroup]="formCreate">
        <div nz-row>
            <div nz-col [nzSpan]="11">
                <nz-form-item>
                    <nz-form-label nzRequired>Ano letivo</nz-form-label>
                    <nz-form-control>
                        <input formControlName="academic_year" [dropSpecialCharacters]="false" nz-input type="text" mask="0000-0000" placeholder="2020-2021"> 
                        <nz-form-explain class="color-required" *ngIf="submitted && f.academic_year.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="2">
            </div>
            <div nz-col [nzSpan]="11">
                <nz-form-item>
                    <nz-form-label nzRequired>Intervalo de datas</nz-form-label>
                    <nz-form-control>
                        <nz-range-picker formControlName="dateRange" name="dateRange">
                        </nz-range-picker>
                        <nz-form-explain class="color-required" *ngIf="submitted && f.dateRange.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>

        </div>
    </form>
</div>
<div class="space" nz-row>
    <button *ngIf="isEdit" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
    <button nz-button [nzLoading]="isLoading" [disabled]="isLoading"
      (click)="submit()" class="button-submit"
      [nzType]="'primary'">{{isEdit ? 'Editar' : 'Criar'}}</button>
</div>