<!--- OPTIONS -->
<div nz-row style="margin: 24px 0px;">
  <div nz-col [nzSm]="1" [nzXs]="1"></div>
  <div nz-col [nzSm]="22" [nzXs]="22">
    <app-button translate="HEALTH.BUTTONS.DASHBOARD_RETURN" (click)="back();" [leftIcon]="'left'" type="tertiary"></app-button>
  </div>
  <div nz-col [nzSm]="1" [nzXs]="1"></div>
</div>

<div nz-row>
  <div nz-col [nzSm]="1" [nzXs]="1"></div>
  <div nz-col [nzSm]="22" [nzXs]="22">
    <div nz-row class="content__space" style="margin-top:0px">

      <div class="content content__prog">
        <!--XL to XXL-->
        <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="0" [nzXl]="24" [nzXXl]="24">
          <nz-steps class="content__line" [nzCurrent]="step" nzProgressDot>
            <nz-step nzTitle="{{ 'HEALTH.APPOINTMENT_FORM.STEPS.STEP1' | translate }}"
              nzDescription="{{ 'HEALTH.APPOINTMENT_FORM.STEPS.STEP1_TITLE' | translate }}">
            </nz-step>
            <nz-step nzTitle="{{ 'HEALTH.APPOINTMENT_FORM.STEPS.STEP2' | translate }}"
              nzDescription="{{ 'HEALTH.APPOINTMENT_FORM.STEPS.STEP2_TITLE' | translate }}">
            </nz-step>
            <nz-step nzTitle="{{ 'HEALTH.APPOINTMENT_FORM.STEPS.STEP3' | translate }}"
              nzDescription="{{ 'HEALTH.APPOINTMENT_FORM.STEPS.STEP3_TITLE' | translate }}">
            </nz-step>
            <nz-step nzTitle="{{ 'HEALTH.APPOINTMENT_FORM.STEPS.STEP4' | translate }}"
              nzDescription="{{ 'HEALTH.APPOINTMENT_FORM.STEPS.STEP4_TITLE' | translate }}">
            </nz-step>
            <nz-step nzTitle="{{ 'HEALTH.APPOINTMENT_FORM.STEPS.STEP5' | translate }}"
            nzDescription="{{ 'HEALTH.APPOINTMENT_FORM.STEPS.STEP5_TITLE' | translate }}">
          </nz-step>
          </nz-steps>
        </div>
        <!--XS to SM-->
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="0" [nzXXl]="0">
          <div *ngIf="step == 0">
            <p class="steps-minimal-size_title">
              {{ 'HEALTH.APPOINTMENT_FORM.STEPS.STEP1_TITLE' | translate }}
            </p>
            <p class="steps-minimal-size_sub-title">
              {{ 'HEALTH.APPOINTMENT_FORM.STEPS.STEP1_TOTAL' | translate }}
            </p>
          </div>
          <div *ngIf="step == 1">
            <p class="steps-minimal-size_title">
              {{ 'HEALTH.APPOINTMENT_FORM.STEPS.STEP2_TITLE' | translate }}
            </p>
            <p class="steps-minimal-size_sub-title">
              {{ 'HEALTH.APPOINTMENT_FORM.STEPS.STEP2_TOTAL' | translate }}
            </p>
          </div>
          <div *ngIf="step == 2">
            <p class="steps-minimal-size_title">
              {{ 'HEALTH.APPOINTMENT_FORM.STEPS.STEP3_TITLE' | translate }}
            </p>
            <p class="steps-minimal-size_sub-title">
              {{ 'HEALTH.APPOINTMENT_FORM.STEPS.STEP3_TOTAL' | translate }}
            </p>
          </div>
          <div *ngIf="step == 3">
            <p class="steps-minimal-size_title">
              {{ 'HEALTH.APPOINTMENT_FORM.STEPS.STEP4_TITLE' | translate }}
            </p>
            <p class="steps-minimal-size_sub-title">
              {{ 'HEALTH.APPOINTMENT_FORM.STEPS.STEP4_TOTAL' | translate }}
            </p>
          </div>
          <div *ngIf="step == 4">
            <p class="steps-minimal-size_title">
              {{ 'HEALTH.APPOINTMENT_FORM.STEPS.STEP5_TITLE' | translate }}
            </p>
            <p class="steps-minimal-size_sub-title">
              {{ 'HEALTH.APPOINTMENT_FORM.STEPS.STEP5_TOTAL' | translate }}
            </p>
          </div>
        </div>
  
      </div>

      <nz-divider class="divider"></nz-divider>

      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="appointment_form">
          <div nz-row *ngIf="showErrorMessage" class="bottom">
            <div nz-col nzSpan="24">
              <nz-alert nzType="error" [nzMessage]="'MISC.ERROR_GENERIC' | translate"></nz-alert>
            </div>
          </div>
          <!-- SCHEDULES -->
          <app-appointment-step-one #specialtyForm [specialtyInfo]="steps[0].formValues" *ngIf="step == 0">
          </app-appointment-step-one>
          <!-- IDENTIFICATION -->
          <app-appointment-step-two #userForm [userInformation]="steps[1].formValues" [arrayValues]="arrayValues" *ngIf="step == 1">
          </app-appointment-step-two>
          <!-- ATTACHMENTS -->
          <app-appointment-step-three #attachmentsForm [attachments]="steps[2].formValues" *ngIf="step == 2">
          </app-appointment-step-three>
           <!-- PAYMENT TYPES -->
           <app-appointment-step-four #paymentForm [arrayValues]="arrayValues" [payment]="steps[3].formValues" *ngIf="step == 3">
          </app-appointment-step-four>         
           <!-- REVIEW / SUBMIT -->
           <app-appointment-step-five [steps]="steps" [arrayValues]="arrayValues" *ngIf="step == 4" (changeStep)="changeStep($event)">
          </app-appointment-step-five>             
      </div>

    </div>
  </div>
</div>
<div class="content__steps-action">
  <app-button *ngIf="step != 0" translate='HEALTH.BUTTONS.BACK_STEP' (click)="previousStep();" type="secundary"></app-button>
  <app-button [translate]="buttonActionName" (click)="nextStep();"  [disabled]="submitted" type="primary"></app-button>
</div>

<ng-template #tplSuccess>
  <div nz-row class="title-modal">
    {{
      translations?.length > 1 ? (translations | languageChange)?.name : ('DASHBOARD.BUTTON.HEALTH' | translate)
    }}
  </div>
  <div nz-row class="desc-modal">
    {{ 'HEALTH.APPOINTMENT_FORM.MODAL.SUB_TITLE' | translate }}
  </div>
  <div nz-row class="text-center">
    <img src="assets/imgs/Success.PNG" width="100" />
  </div>
  <div nz-row class="desc-modal2">
    {{ 'HEALTH.APPOINTMENT_FORM.MODAL.DESCRIPTION' | translate }}
  </div>
  <div nz-row class="desc-modal space-desc">
    {{ 'HEALTH.APPOINTMENT_FORM.MODAL.INFO' | translate }}
  </div>
</ng-template>

<!--<app-buy-modal-box [appointment]="appointment" [specialty]="specialty" (successBuy)="confirmAppointment($event)" #modalBox></app-buy-modal-box>-->