<div class="container">
  <nz-table class="content-table" #refTable [nzScroll]="{ x: '240px' }" [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th></th>
        <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
          [nzSortKey]="column.sortKey ? column.sortKey : column.key">
          {{ column.label }}
        </th>
        <th nzRight="0px" class="text-right">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">
        <tr>
          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
          <td *ngFor="let column of columns">
            <span *ngIf="!column.tag">{{
              column.translation
              ? (data.translations | where: ['language_id', 3])[0][column.key]
              : (data | flatObject)[column.key]
              }}</span>
            <span *ngIf="column.tag">
              <fi-sas-tag [value]="data[column.key]" [results]="column.tag"></fi-sas-tag>
            </span>
          </td>
          <td nzRight="0px" class="text-right">
            <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
              nzPlacement="bottomRight">
              <i nz-icon nzType="dash" nzTheme="outline"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li *ngIf="data.status === 'CREATED'"
                  [nzDisabled]="!('volunteering:external_entities:update' | hasPermission)" nz-menu-item
                  (click)="validate(data.id)">Validar</li>
                <li *ngIf="data.status === 'VALIDATED'"
                  [nzDisabled]="!('volunteering:external_entities:update' | hasPermission)" nz-menu-item
                  (click)="changeActive(data.id, data.active)">{{data.active ? 'Desativar' : 'Ativar'}}</li>
                <li [nzDisabled]="!('volunteering:external_entities:update' | hasPermission)" nz-menu-item
                  [routerLink]="['/volunteering', 'external-users', 'edit', data.id]">Editar</li>
                <li [nzDisabled]="!('volunteering:external_entities:delete' | hasPermission)" nz-menu-item
                  (click)="deleteExternalUser(data.id)">
                  Eliminar
                </li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>

        <tr [nzExpand]="mapOfExpandData[data.id]">
          <td [attr.colspan]="columns.length + 3">
            <fi-sas-view-external-user [externalUser]="data"></fi-sas-view-external-user>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</div>