<div class="start-container">
    <div nz-row class="title">
        <label> {{'SCENES.QUEUE.TITLE' | translate}} </label>
    </div>
    <div *ngIf="!loading">
        <div *ngIf="services.length>0">
            <div *ngFor="let service of services; let indServ = index">
                <div *ngIf="service?.subjects != null && service?.subjects != undefined && service?.subjects.length > 0">
                    <div nz-row>
                        <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
                        </div>
                        <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20"
                            class="space-title-service">
                            <label class="title-detail">  {{(service?.translations | languageChange)?.name}}</label>
                        </div>
                        <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
                        </div>
        
                    </div>
                    <div nz-row>
                        <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
                        </div>
                        <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
                            <div nz-row>
                                <div *ngFor="let subject of service?.subjects; let indSubj = index" nz-col [nzXs]="24"
                                    [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12"> 
                                    <div
                                        [ngClass]="{'box-detail': subjectSelected?.id != subject?.id, 'box-selected-detail': subjectSelected?.id == subject?.id}">
                                        <div (click)="subject?.is_open == true ? selected(subject) : ''">
                                            <div nz-row>
                                                <span class="title-detail"> {{(subject?.translations | languageChange)?.name}}</span><span *ngIf="subject?.is_open == false" class="error-subject">{{'SCENES.QUEUE.CLOSE_QUEUE' | translate}}</span>
                                            </div>
                                            <div nz-row
                                                [ngClass]="{'font-size-detail-text': subjectSelected?.id != subject?.id, 'font-size-detail-text-selected': subjectSelected?.id == subject?.id}">
                                                <span>{{'SCENES.QUEUE.AVG_TIME' | translate}}</span><b
                                                    class="font-weight-detail-time">
                                                    {{transformSecontToHour(subject?.avg_time)}}</b>
                                            </div>
                                            <div nz-row
                                                [ngClass]="{'font-size-detail-text': subjectSelected?.id != subject?.id, 'font-size-detail-text-selected': subjectSelected?.id == subject?.id}">
                                                <span>{{'SCENES.QUEUE.TIME' | translate}}
                                                    {{(subject?.translations | languageChange)?.schedule_description}}</span>
                                            </div>
                                        </div>
        
                                    </div>
        
                                </div>
        
                            </div>
        
                        </div>
                        <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="services.length==0" class="top-empty">
            {{'SCENES.QUEUE.EMPTY' | translate}}
        </div>
    </div>

    <!-- <div nz-row>
        <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
        </div>
        <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20"
            class="space-title-service">
            <label class="title-detail">{{ 'SCENES.QUEUE.PRIORITY' | translate }}</label>
        </div>
        <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
        </div>

    </div>
   <div nz-row>
        <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
        </div>
        <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20" class="padding-bottom-70">
            <button nz-button nzType="primary" [nzSize]="size" class="button-yes" [ngClass]="{'button-priority': priority == 'yes'}" (click)="priority = 'yes'">{{ 'SCENES.QUEUE.BUTTONS.YES' | translate }}</button>
            <button nz-button nzType="primary" [nzSize]="size" class="button-no" [ngClass]="{'button-priority': priority == 'no'}" (click)="priority = 'no'">{{ 'SCENES.QUEUE.BUTTONS.NO' | translate }}</button>
        </div>
        <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
        </div>
        
    </div>-->

    <div *ngIf="subjectSelected.id != undefined" nz-row class="issue-ticket" (click)="issueTicket()">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
            <i nz-icon nzType="icons:icons-payment-history" style="font-size: 120px;" nzTheme="outline"></i>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
            <span class="ticket-text">{{ 'SCENES.QUEUE.BUTTONS.TICKET' | translate }}</span>
        </div>

    </div>
</div>

<!---------------------------MODAL SUCCESS----------------------->
<nz-modal [nzVisible]="modalSuccess" nzClosable="false" nzFooter="null">
    <div class="icon-space">
        <img src="assets/imgs/Success.PNG" style="width: 175px;">
    </div>
    <div class="text-modal">
        <label>{{ 'SCENES.QUEUE.MODAL.SUCCESS' | translate }}</label> {{responseDataTicket?.ticket_code}}
    </div>
</nz-modal>