@import 'default-theme.less';

.start-container {
    background-color: white;
}

.title {
    padding-top: 25px;
    padding-left: 25px;
    font-size: 55px;
    font-weight: bold;
    color: var(--fisas-04);
    line-height: initial;
}

.title-detail {
    font-weight: 800;
    font-size: 15px;
}

.space-title-service {
    padding-top: 20px;
    padding-bottom: 15px;
}

.box-detail {
    border: 1px solid var(--fisas-04);
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.error-subject {
    color: red;
    font-weight: bold;
    padding-left: 5px;
}

.box-selected-detail {
    border: 1px solid var(--fisas-04);
    color: white;
    background-color: var(--fisas-04);
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.font-size-detail-text {
    font-size: 12px;
    color: var(--fisas-02);
}

.font-size-detail-text-selected {
    font-size: 12px;
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}

.font-weight-detail-time {
    font-weight: 800;
    padding-left: 7px;
}

.padding-bottom-70 {
    padding-bottom: 70px;
}

.button-yes {
    margin-right: 20px;
    margin-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 13px;
    border: 2px solid #e8e8e8;
    padding-left: 25px;
    padding-right: 25px;
    color: black;
}

.button-no {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 13px;
    border: 2px solid #e8e8e8;
    padding-left: 25px;
    padding-right: 25px;
    color: black;

}

.issue-ticket {
    background-color: var(--fisas-02);
    cursor: pointer;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.ticket-text {
    font-size: 12px;
    color: white;
    font-weight: bold;
}

.button-priority {
    background-color: var(--fisas-02) !important;
    color: #ffffff;
    border-color: var(--fisas-02);
}

.icon-space {
    text-align: center;
    padding-top: 40px;
}

.text-modal {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 25px;
}

  
::ng-deep.ant-modal-footer {
    border-top: none;
}

.top-empty {
    padding-top: 50px;
    text-align: center;
    font-size: 17px;
    padding-bottom: 50px;
}