.font {
  font-size: 13px !important;
}

.font-file {
  line-height: initial;
  font-size: 12px;
  padding-top: 5px;
}

.error {
  color: red;
  margin-top:5px;

  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}

.form {
  &--title {
    color: #222222;
    font-family: Montserrat;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.41;
    margin-bottom: 30px;
  }

  &--button {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
}

.primary-monthPicker {
  display: block;
  width: 100%;

  ::ng-deep .ant-calendar-picker {
    width: 100%;
  }
}
