<StackLayout class="ubike-details__bg">
  <!-- action bar -->
  <fi-action-bar [actionBarType]="4"></fi-action-bar>

  <!-- scroll init -->
  <ScrollView row="0">
    <StackLayout class="fisas__content">
      <StackLayout marginTop="36">
        <Label class="fisas__h1" text="{{ 'record-details.title' | translate }}"></Label>
        <Label
          class="fisas__h2"
          textWrap="true"
          text="{{ 'record-details.data' | translate }}"
        ></Label>
      </StackLayout>

      <GridLayout
        columns="auto, *, auto"
        rows="auto"
        marginTop="48"
        marginBottom="25"
      >
        <StackLayout col="0" (tap)="prev()">
          <Label
            class="fisas__icon"
            fontSize="24"
            text="&#xe906;"
            verticalAlignment="center"
          ></Label>
        </StackLayout>
        <StackLayout col="1">
          <Label
            textAlignment="center"
            class="fisas__h1"
            text="{{ month.format('MMMM - YYYY') }}"
          ></Label>
        </StackLayout>

        <StackLayout col="2" (tap)="next()">
          <Label
            class="fisas__icon"
            fontSize="24"
            text="&#xe907;"
            verticalAlignment="center"
          ></Label>
        </StackLayout>
      </GridLayout>
      <!-- LOADER -->
      <StackLayout class="fisas__form__block" marginTop="40" *ngIf="isLoading">
        <ActivityIndicator
          row="1"
          #activityIndicator
          [busy]="isLoading"
          width="100%"
          height="50"
          color="lightgray"
          class="fisas__loading"
        ></ActivityIndicator>
      </StackLayout>
      <StackLayout *ngIf="!isLoading">
        <GridLayout
          class="ubike-details__trip"
          columns="*, auto"
          rows="*"
          width="100%"
          *ngFor="let item of tripsList; index as i"
          marginBottom="12"
          (tap)=showDetails(item)
        >
        <!-- [nsRouterLink]="[
            '/ubike/register-km',
            {
              id: item?.id,
              distance: item?.distance,
              date: item?.trip_start,
              description: item?.description
            }
          ]" -->
          <StackLayout
            height="42"
            col="0"
            class="ubike-details__trip__box"
            orientation="horizontal"
          >
            <Label
              class="ubike-details__trip__bold"
              text="{{ item?.trip_start | date: 'dd MMM' }} "
            ></Label>
            <Label
              class="ubike-details__trip__name"
              text="- {{ item?.description }}"
            ></Label>
          </StackLayout>
          <StackLayout
            height="42"
            col="1"
            class="ubike-details__trip__box"
            orientation="horizontal"
          >
            <Label
              class="ubike-details__trip__bold"
              text="{{ item?.distance }} km "
            ></Label>
          </StackLayout>
        </GridLayout>
      </StackLayout>

      <StackLayout marginTop="70" [nsRouterLink]="['/ubike/register-km']">
        <Label
          width="100%"
          class="fisas__btn-bottom fisas__bg--{{ institution }}"
          text="Registar km"
        ></Label>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</StackLayout>
