@import "~/scss/_variables";

.ubike-details {
  /* ----------------------- */
  /* Component */

  &__bg {
    background: #f3f3f3;
    &--top {
      background: $white;
    }
  }

  &__trip {
    background: #ffffff;
    min-height: 42;
    border-radius: 4;
    text-align: center;

    &__box {
      height: 100%;
      margin-left: 12;
      margin-right: 15;
      vertical-align: center;
    }

    &__bold {
      font-family: "Montserrat", "Montserrat-Bold";
      font-weight: 500;
      font-size: 14;
      color: $black;
      vertical-align: center;
    }
    &__name {
      font-family: "Montserrat", "Montserrat-Medium";
      font-weight: 500;
      font-size: 14;
      color: $black;
      vertical-align: center;
    }
  }

  /* ----------------------- */
  /* Common */
}
