<div *ngFor="let interview of interviews; let index = index; let last = last" nz-row nzType="flex" nzJustify="start">
  <div nz-col nzSpan="24">
    <div *ngIf="interview.notes" nz-row nzType="flex" nzJustify="start">
      <div nz-col nzSpan="24">
        <nz-card nzTitle="Entrevista do dia {{ interview.date | date: 'dd/MM/yyyy' }}" [nzExtra]="fileTamplate">
          <p>{{ interview.notes }}</p>
        </nz-card>
        <ng-template #fileTamplate>
          <a nz-button *ngIf="interview.file?.url" href="{{ interview.file?.url }}" target="_blank" nzType="link">Abrir relatório</a>
        </ng-template>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzSpan="24"></div>
    </div>

    <form
      *ngIf="!interview.notes"
      nz-form
      [formGroup]="form"
      (ngSubmit)="submit(form.valid, form.value, interview.id, index)"
    >
      <div nz-row nzType="flex" nzJustify="start">
        <div nz-col nzSpan="24">
          <div class="row-details" nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
              <span class="detail-field">Entrevista dia:</span>
            </div>
            <div nz-col nz-col nzXs="20" nzSm="20" nzMd="20" nzLg="20" nzXl="20">
              <span class="detail-data">{{ interview.date | date: 'dd/MM/yyyy' }}</span>
            </div>
          </div>
          <div class="row-details padding-top-20" nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
              <span class="detail-field">Notas:</span>
            </div>
            <div nz-col nz-col nzXs="20" nzSm="20" nzMd="20" nzLg="20" nzXl="20">
              <nz-form-item>
                <nz-form-control nzErrorTip="Campo obrigatório">
                  <textarea maxlength="255" nz-input formControlName="notes" id="notes" name="notes" rows="4" style="width: 100%">{{
                    interview.notes
                  }}</textarea>
                  <nz-form-explain class="color-required" *ngIf="form.get('notes')?.errors">
                    Campo obrigatório
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="row-details" nz-row nzType="flex" nzJustify="start">
            <div nz-col nzOffset="4" nzXs="20" nzSm="20" nzMd="20" nzLg="20" nzXl="20">
              <div>
                <fi-sas-upload-file formControlName="file_id" id="file_id" name="file_id"></fi-sas-upload-file>
              </div>
            </div>
          </div>
          <div style="float: right" class="padding-top-20">
            <button nz-button nzType="default" type="reset"><i nz-icon nzType="delete"></i>Cancelar</button>
            <button
              style="margin-left: 20px"
              nz-button
              nzType="primary"
              type="submit"
              [disabled]="!('social_scholarship:applications:status' | hasPermission)"
              [nzLoading]="isLoading[index]"
            >
              <i nz-icon nzType="save"></i>Gravar Alterações
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <nz-divider *ngIf="!last"></nz-divider>
</div>
