<div nz-row>

  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="13" [nzXl]="11" [nzXXl]="8" style="padding-top:10px">
    <nz-select (ngModelChange)="onChangeService($event)" [(ngModel)]="serviceValue" [nzLoading]="schoolsLoading" id="select-canteen"
      nzShowSearch [nzPlaceHolder]="'ALIMENTATION.CANTEEN_SELECT' | translate">
      <nz-option-group *ngFor="let school of schools" [nzLabel]="getName(school.name)">
        <nz-option nzCustomContent *ngFor="let service of school.services"
          nzLabel="{{school.name+ ' - ' +service.name}}" [nzValue]="service.id" class="canteen_select_text">{{service.name}}</nz-option>
      </nz-option-group>
    </nz-select>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="11" [nzXl]="6" [nzXXl]="10" style="padding-top:10px">
    <nz-select (ngModelChange)="onChangeMeal($event)" [(ngModel)]="mealValue"
      nzShowSearch [nzPlaceHolder]="'ALIMENTATION.MEAL_SELECT' | translate">
        <nz-option *ngFor="let opt of options"
          [nzLabel]="opt.translation | translate" [nzValue]="opt.value"></nz-option>
    </nz-select>

    <!--<app-radio-button class="meals" [optionsValue]="mealValue" [options]="options" [disabled]="disabledOptions"
      (optionSelected)="onChangeMeal($event)" name="meal"></app-radio-button>-->

  </div>

  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="7" [nzXXl]="6" class="button-option"
    style="padding-top:10px">

    <span *ngIf="showPurchasedTickets" >
      <nz-badge class="ticket_count" [nzStyle]="{ backgroundColor: '#d0021b', size: '10px' }" [nzCount]="ticketsCount">
        <app-button [routerLink]="'/alimentation/purchased-tickets'" [translate]="'ALIMENTATION.SHOW_TICKETS'"
        type="tertiary"></app-button>
      </nz-badge>
    </span>

    <span *ngIf="showPacksSettings" >
        <app-button class="packs_settings" [routerLink]="'/alimentation/pack-settings'" [translate]="'ALIMENTATION.PACKS_SETTINGS'"
        type="tertiary"></app-button>
    </span>

    <app-button [routerLink]="'/alimentation/user-allergens'" [translate]="'ALIMENTATION.USER_ALLERGENS.FOOD_ALLERGIES'"
      class="margin-right" type="tertiary"></app-button>

  </div>

</div>
