:host::ng-deep {


  .ant-radio-button-wrapper:first-child {
    border-radius: 11px 0 0 11px;
  }

  .ant-radio-button-wrapper:last-child {
    border-radius: 0 11px 11px 0;
  }

  .ant-radio-button-wrapper-checked {
    font-weight: bold;
  }

  @media screen and (max-width: 576px) {

    .meal-button--lunch {
      margin-left: 0 !important;
    }
  }

  .ant-row {
    margin-bottom: 15px;
  }

  .ant-select-selection {
    width: 230px;
    border-radius: 50px !important;
    background-color: #ffffff;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: normal;
    color: unset;
    border: none;
  }

  .ant-select-selection__placeholder {
    text-align: center;
  }

  .ant-select-dropdown-menu-item {
    text-align: center !important;
  }

  .ant-radio-button-wrapper-checked {
    color: var(--primary-7) !important;
    box-shadow: none !important;
  }

  .ant-radio-button-wrapper-checked::before {
    background-color: white !important;
  }

  .meal-button {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #979797;
    border: none;
  }

  .meal-button--lunch {
    border-radius: 50px 0 0 50px;
    margin-left: 15px;
  }

  .meal-button--dinner {
    border-radius: 0 50px 50px 0;
  }

  .tickets-button {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    border: none;
  }

  .ticket_count {
    size: 2px;
    float: right;
  }

  .margin-right {
    margin-right: 10px;
  }

  .button-option {
    text-align: right;
    @media screen and (max-width: 600px) {
      margin-top: 10px;

    }
    @media screen and (max-width: 800px) {
      margin-top: 10px;

    }
  }

  .packs_settings {
    margin-right: 8px;
  }
}

.canteen_select_text{
  white-space: pre-wrap !important;
  text-overflow: unset !important;
}

#select-canteen::ng-deep {
  .ant-select-selection {
    width: 400px;
  }
  @media screen and (max-width: 600px) {

    .ant-select-selection {
      width: 285px;
    }
  }
}
