
<div class="container">
  <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">

          <div nz-row>
              <nz-form-label>Estado</nz-form-label>
              <nz-form-control>
                  <nz-select class="primary-select" [(ngModel)]="filters.status" nzAllowClear nzShowSearch
                      style="width: 100%;">
                      <nz-option *ngFor="let state of statusFilter" [nzLabel]="state.label" [nzValue]="state.value">
                      </nz-option>
                  </nz-select>
              </nz-form-control>
          </div>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
      <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
          <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
          style="text-align: left;">
          <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
      </div>
  </div>
</div>

<div class="container">
  <nz-table class="content-table" #refTable [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)"
    [nzLoading]="loading" [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true"
    [nzTotal]="totalData" [(nzPageSize)]="pageSize" (nzPageIndexChange)="pagination()"
    (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th></th>
        <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
          [nzSortKey]="column.sortKey ? column.sortKey : column.key"> {{ column.label }}</th>
        <th nzRight="0px" class="text-right" *ngIf="'bus:withdrawals:status' | hasPermission">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">
        <tr>
          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
          <td *ngFor="let column of columns">
            <span *ngIf="!column.tag && !column.template">
              {{ column.translation ? ((data | flatObject)[column.key + '.translations'] | where: ['language_id', 3]
              )[0][column.key] : (data | flatObject)[column.key]}}
            </span>
            <span *ngIf="column.template">
              {{ column.template(data) }}
            </span>
            <span *ngIf="column.tag">
              <fi-sas-tag [value]="data[column.key]" [results]="column.tag"></fi-sas-tag>
            </span>
            <span *ngIf="column.key=='file'">
              <a *ngIf="data.file" [href]="data?.file?.url" target="_blank">Anexo</a>
              <span *ngIf="!data.file">--</span>
            </span>
          </td>
          <td  nzRight="0px" class="text-right" *ngIf="'bus:withdrawals:status' | hasPermission">
            <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
              nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item [nzDisabled]="data.status !== 'submitted'" (click)="openChangeStatusModal(data)">Mudar
                  de estado</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>

        <tr [nzExpand]="mapOfExpandData[data.id]">
          <td [attr.colspan]="columns.length + 3">
            <fi-sas-view-bus-application [application]="data.application"></fi-sas-view-bus-application>
          </td>
        </tr>

      </ng-template>
    </tbody>
  </nz-table>
</div>

<nz-modal [(nzVisible)]="isChangeStatusModalVisible" nzTitle="Mudar de estado" nzWidth="900" nzOkText="Mudar de estado"
  nzCancelText="Cancelar" (nzOnOk)="handleChangeStatus()" (nzOnCancel)="handleChangeStatusCancel()"
  [nzOkLoading]="changeStatusModalLoading">
  <div nz-row nzType="flex" class="actions" nzGutter="24">
    <div nz-col nzSpan="8" class="actions__button">
      <div (click)="changeStatusModalAction ='approve'" class="actions__button--accept" [ngClass]=" { 'actions__button--accept--active' :
    changeStatusModalAction==='approve' }">
        Aprovar
      </div>
    </div>
    <div nz-col nzSpan="8" class="actions__button">
      <div (click)="changeStatusModalAction ='reject'" class="actions__button--reject"
        [ngClass]="{'actions__button--reject--active': changeStatusModalAction === 'reject'}">
        Rejeitar
      </div>
    </div>
  </div>
</nz-modal>
