<div class="container">
  <div nz-row>
    <div nz-col nzSm="24" nzMd="24" class="title">
      <label>Receita pedidos de bar</label>
    </div>
    <div nz-col nzSm="12" nzMd="8">
      <div nz-row>
        <nz-form-label>Data</nz-form-label>
        <nz-range-picker nzShowTime [(ngModel)]="selectedDate" ></nz-range-picker>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="8">
      <div nz-row>
        <nz-form-label>Serviço</nz-form-label>
        <nz-select [(ngModel)]="selectedService" nzMode="multiple" nzAllowClear  [nzLoading]="servicesLoading" nzAllowClear style="min-width: 300px;">
          <nz-option *ngFor="let service of services" [nzLabel]="service.name" [nzValue]="service.id" ></nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="6" class="options">
      <button nz-button [nzLoading]="loading" [disabled]="loading" (click)="ordersRevenue()"
        [nzType]="'primary'">Gerar Relatório</button>
    </div>
  </div>

</div>
<div nz-row class="space"></div>

<div class="container">
  <div nz-row>
    <div nz-col nzSm="24" nzMd="24" class="title">
      <label>Receita por produto</label>
    </div>
    <div nz-col nzSm="12" nzMd="8">
      <div nz-row>
        <nz-form-label>Data</nz-form-label>
        <nz-range-picker nzShowTime [(ngModel)]="selectedDate1" ></nz-range-picker>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="8">
      <div nz-row>
        <nz-form-label>Serviço</nz-form-label>
        <nz-select [(ngModel)]="selectedService1" nzMode="multiple"  [nzLoading]="servicesLoading" nzAllowClear style="width: 350px;">
          <nz-option *ngFor="let service of services" [nzLabel]="service.name" [nzValue]="service.id" ></nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="6" class="options">
      <button nz-button [nzLoading]="loading" [disabled]="loading" (click)="ordersProductsRevenue()"
        [nzType]="'primary'">Gerar Relatório</button>
    </div>
  </div>

</div>
<div nz-row class="space"></div>
