@import 'theme';

.top {
  padding-top: 25px;
}

:host::ng-deep {

  .card {
    padding: 40px 52px 24px 52px;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: #ffffff;

    @media (max-width: 600px) {
      padding: 20px 20px 20px 20px;
    }

   
  }

  .page {
    background-color: #f3f3f3;
  }

  .back-button {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #333333;
    border: none;
    margin-top: 24px;
    //padding-right: 40px;
  }

  .change_contract-button {
    float: right;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #333333;
    border: none;
    margin-top: 24px;
  }

  .content_application_status {
    margin-top: 24px;
  }
  .content_application_resume {
    margin-bottom: 64px;
  }


  .application_opposition {
    &__title {
      font-size: 17px;
      font-weight: bold;
      line-height: 1.41;
      color: #222222;
      margin-bottom: 16px;
    }

    &__info {
      font-size: 15px;
      font-weight: 500;
      line-height: 1.6;
      color: #222222;
      margin-bottom: 16px;
    }
  }

  .application_status {
    &__tag {
      margin-bottom: 16px;
      nz-tag {
        width: auto;
        height: 18px;
        font-size: 11px;
        font-weight: bold;
        line-height: 1.78;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ffffff;
        border: 0;
        cursor: context-menu;
      }
    }
    &__placing {
      font-size: 17px;
      font-weight: bold;
      line-height: 1.41;
      color: #222222;
      margin-bottom: 16px;
    }
    &__residence {
      font-size: 15px;
      font-weight: 500;
      line-height: 1.6;
      color: #222222;
      margin-bottom: 16px;
    }
    &__room {
      font-size: 15px;
      font-weight: 500;
      line-height: 1.6;
      color: #222222;
      margin-bottom: 16px;
    }
    &__regime {
      font-size: 15px;
      font-weight: 500;
      line-height: 1.6;
      color: #222222;
      margin-bottom: 16px;
    }
    &__valid {
      font-size: 15px;
      font-weight: 500;
      line-height: 1.6;
      color: #222222;
      margin-bottom: 16px;
    }
    &__buttons {
      text-align: center;
      app-button {
        margin-right: 8px;
      }
    }
  }
}


.title {
  color: var(--primary-color);
  font-size: 25px;
  font-weight: bold;
}