<app-application-navbar></app-application-navbar>
<div nz-row class="page">
  <!--Back Button-->

  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="4"
    [nzLg]="5"
    [nzXl]="6"
    [nzXXl]="6"
  ></div>

  <div
    nz-col
    [nzXs]="22"
    [nzSm]="22"
    [nzMd]="16"
    [nzLg]="14"
    [nzXl]="12"
    [nzXXl]="12"
    class="top"
  >
    <app-button
      translate="MISC.RETURN"
      [routerLink]="['/accommodation', 'list-applications']"
      [leftIcon]="'left'"
      [buttonStyle]="{ 'font-size': '12px', 'line-height': '18px' }"
      type="tertiary"
    >
    </app-button>

    <div
      [ngClass]="{
        hidden: !(
          application?.status === applicationsStatus.ANALYSED ||
          application?.status === applicationsStatus.SUBMITTED
        )
      }"
      style="float: right; margin-right: 10px"
    >
      <app-button
        *ngIf="'accommodation:applications:create' | hasPermission"
        translate="MISC.EDIT"
        (click)="editApplication()"
        [buttonStyle]="{ 'font-size': '12px', 'line-height': '18px' }"
        type="tertiary"
      >
      </app-button>
    </div>
  </div>

  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="4"
    [nzLg]="5"
    [nzXl]="6"
    [nzXXl]="6"
  ></div>
</div>
<div nz-row class="content_application_status">
  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="4"
    [nzLg]="5"
    [nzXl]="6"
    [nzXXl]="6"
  ></div>

  <div
    nz-col
    class="application_status card"
    [nzXs]="22"
    [nzSm]="22"
    [nzMd]="16"
    [nzLg]="14"
    [nzXl]="12"
    [nzXXl]="12"
  >
    <div nz-row>
      <div nz-col>
        <nz-tag
          class="tab-status cursor-cont"
          [nzColor]="
            (configStatus | filterStatusConfig: application?.status)?.color
          "
        >
          {{
            "VIEW_APPLICATION_STATUS.STATUS." +
              application?.status.toString().toUpperCase() | translate
          }}
        </nz-tag>
      </div>
    </div>
    <div nz-row class="title-resume">
      <div nz-col>
        {{ "VIEW_APPLICATION_STATUS.APPLICATION" | translate }}
      </div>
    </div>
    <div
      nz-row
      class="application_status__residence"
      *ngIf="showAssignedResidence(); else elseBlock"
    >
      <div nz-col>
        <span class="sub-title-resume"
          >{{ "ACCOMMODATION.APPLICATIONS.STEP_THREE.RESIDENCE" | translate }}:
        </span>
        <span class="desc-resume">{{
          application?.assignedResidence?.name
        }}</span>
      </div>
    </div>
    <ng-template #elseBlock>
      <div nz-row class="application_status__residence">
        <div nz-col>
          <span class="sub-title-resume"
            >{{
              "ACCOMMODATION.APPLICATIONS.STEP_THREE.RESIDENCE" | translate
            }}:
          </span>
          <span class="desc-resume">{{ application?.residence.name }}</span>
        </div>
      </div>
    </ng-template>
    <div nz-row *ngIf="application?.room" class="application_status__room">
      <div nz-col [nzSpan]="10">
        <span class="sub-title-resume"
          >{{ "VIEW_APPLICATION_STATUS.ROOM" | translate }}:
        </span>
        <span class="desc-resume">{{ application?.room.name }}</span>
      </div>
      <div nz-col>
        <span class="sub-title-resume"
          >{{ "VIEW_APPLICATION_STATUS.TYPOLOGY" | translate }}:
        </span>
        <span class="desc-resume">{{
          (application?.room.typology.translations | languageChange).name
        }}</span>
      </div>
    </div>
    <div nz-row class="application_status__regime">
      <div nz-col>
        <span class="sub-title-resume"
          >{{
            "ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.REGIME_ID.TITLE"
              | translate
          }}:
        </span>
        <span class="desc-resume">{{
          (application?.regime.translations | languageChange).name
        }}</span>
      </div>
    </div>
    <div nz-row class="application_status__valid">
      <div nz-col>
        <span class="sub-title-resume">{{
          "VIEW_APPLICATION_STATUS.VALID"
            | translate
              : {
                  start_date:
                    (application?.start_date
                      ? application?.start_date
                      : daycurrent
                    ) | date: "dd/MM/yyyy":"UTC+0":translate.currentLang,
                  end_date:
                    (application?.end_date ? application?.end_date : daycurrent)
                    | date: "dd/MM/yyyy":"UTC+0":translate.currentLang
                }
        }}</span>
      </div>
    </div>
    <div nz-row class="application_status__buttons">
      <div nz-col>
        <app-button
          *ngIf="'accommodation:applications:create' | hasPermission"
          [translate]="'VIEW_APPLICATION_STATUS.EVENTS.CANCEL'"
          [type]="'primary'"
          [buttonStyle]="buttonReject"
          (click)="modalCancel()"
          [ngClass]="{
            hidden: !(
              application?.status === applicationsStatus.SUBMITTED ||
              application?.status === applicationsStatus.ANALYSED ||
              application?.status === applicationsStatus.QUEUED
            )
          }"
        >
        </app-button>
        <app-button
          *ngIf="
            (application?.status === applicationsStatus.UNASSIGNED &&
              !application?.has_opposed &&
              application?.unassigned_date != null &&
              validateUnassignedDate(application?.unassigned_date)) ||
            (application?.status === applicationsStatus.ASSIGNED &&
              !application?.has_opposed &&
              ('accommodation:applications:create' | hasPermission))
          "
          [translate]="'VIEW_APPLICATION_STATUS.EVENTS.OPPOSE'"
          [type]="'infoblue'"
          (click)="modalOppose()"
        >
        </app-button>
        <app-button
          *ngIf="'accommodation:applications:create' | hasPermission"
          [translate]="'VIEW_APPLICATION_STATUS.EVENTS.REJECT'"
          [type]="'primary'"
          [buttonStyle]="buttonReject"
          (click)="modalRejected()"
          [ngClass]="{
            hidden: !(application?.status === applicationsStatus.ASSIGNED)
          }"
        >
        </app-button>
        <app-button
          *ngIf="'accommodation:applications:create' | hasPermission"
          [translate]="'VIEW_APPLICATION_STATUS.EVENTS.CONFIRM'"
          [type]="'primary'"
          [buttonStyle]="buttonAccept"
          (click)="modalConfirm()"
          [ngClass]="{
            hidden: !(application?.status === applicationsStatus.ASSIGNED)
          }"
        >
        </app-button>
      </div>
    </div>
  </div>
  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="4"
    [nzLg]="5"
    [nzXl]="6"
    [nzXXl]="6"
  ></div>
</div>

<!-- OPPOSITION-->
<div
  nz-row
  class="content_application_opposition"
  *ngIf="application?.has_opposed"
>
  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="4"
    [nzLg]="5"
    [nzXl]="6"
    [nzXXl]="6"
  ></div>
  <div
    nz-col
    class="application_opposition card"
    [nzXs]="22"
    [nzSm]="22"
    [nzMd]="16"
    [nzLg]="14"
    [nzXl]="12"
    [nzXXl]="12"
  >
    <div nz-row class="title-resume">
      <div nz-col>
        {{ "VIEW_APPLICATION_STATUS.OPPOSITION_CARD.TITLE" | translate }}
      </div>
    </div>
    <div nz-row class="application_opposition__info">
      <div nz-col>
        <span class="sub-title-resume"
          >{{ "VIEW_APPLICATION_STATUS.OPPOSITION_CARD.REQUEST" | translate }}:
        </span>
        <span class="desc-resume">{{ application?.opposition_request }}</span>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div nz-row class="application_opposition__info">
      <div nz-col *ngIf="application?.opposition_answer">
        <span class="sub-title-resume"
          >{{ "VIEW_APPLICATION_STATUS.OPPOSITION_CARD.ANSWER" | translate }}:
        </span>
        <span class="desc-resume">{{ application?.opposition_answer }}</span>
      </div>
      <div
        nz-col
        *ngIf="!application?.opposition_answer"
        class="sub-title-resume"
      >
        {{ "VIEW_APPLICATION_STATUS.OPPOSITION_CARD.EMPTY_ANSWER" | translate }}
      </div>
    </div>
  </div>
  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="4"
    [nzLg]="5"
    [nzXl]="6"
    [nzXXl]="6"
  ></div>
</div>

<div nz-row class="content_application_resume">
  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="4"
    [nzLg]="5"
    [nzXl]="6"
    [nzXXl]="6"
  ></div>

  <div
    nz-col
    class="application_resume card"
    [nzXs]="22"
    [nzSm]="22"
    [nzMd]="16"
    [nzLg]="14"
    [nzXl]="12"
    [nzXXl]="12"
  >
    <app-resume-application
      [form]="false"
      [application]="application"
    ></app-resume-application>
  </div>

  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="4"
    [nzLg]="5"
    [nzXl]="6"
    [nzXXl]="6"
  ></div>
</div>

<nz-modal
  [nzVisible]="oppositionModalVisible"
  [nzTitle]="'VIEW_APPLICATION_STATUS.EVENTS.OPPOSE' | translate"
  (nzOnOk)="modalOpposeOk()"
  (nzOnCancel)="modalOpposeCancel()"
  [nzOkLoading]="oppositionModalLoading"
>
  <textarea
    maxlength="255"
    rows="5"
    [(ngModel)]="oppositionModalRequest"
    nz-input
    nzAutosize
  >
  </textarea>
</nz-modal>
