<div nz-row nzType="flex" style="align-items: stretch;">
    <div nz-col [nzXs]="24" [nzSm]="7" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="container">
        <div nz-row class="padding-left-20">
            <label class="container__subtitle">Tempo médio de pausas</label>
        </div>
        <div nz-row class="padding-left-20 padding-top-15">
            <label class="container__value">{{changeHour(avgPause?.avg_hours)}}</label>
        </div>
        <div nz-row class="text-center padding-top-15">
            <img src="assets/images/chart.PNG" width="90%">
        </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="1" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1" class="space-enter">
    </div>
    <div nz-col [nzXs]="24" [nzSm]="7" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="container">
        <div nz-row class="padding-left-20">
            <label class="container__subtitle">Tempo médio de funcionamento</label>
        </div>
        <div nz-row class="padding-left-20 padding-top-15">
            <label class="container__value">{{changeHour(averageRunningTime?.avg_hours)}}</label>
        </div>
        <div nz-row class="text-center padding-top-15">
            <img src="assets/images/chart.PNG" width="90%">
        </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="1" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1" class="space-enter">

    </div>
    <div nz-col [nzXs]="24" [nzSm]="7" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="container">
        <div nz-row class="padding-left-20">
            <label class="container__subtitle">Tempo médio espera</label>
        </div>
        <div nz-row class="padding-left-20 padding-top-15">
            <label class="container__value">{{changeHour(averageWaitingTime?.avg_hours)}}</label>
        </div>
        <div nz-row class="text-center padding-top-15">
            <img src="assets/images/chart.PNG" width="90%">
        </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="1" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1" class="space-enter">
    </div>
</div>
<div class="space"></div>
<div nz-row nzType="flex" style="align-items: stretch;">
    <div nz-col [nzXs]="24" [nzSm]="7" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="container">
        <div nz-row class="padding-left-20">
            <label class="container__subtitle">Tempo médio atendimento</label>
        </div>
        <div nz-row class="padding-left-20 padding-top-15">
            <label class="container__value">{{changeHour(avgAttendanceTime?.avg_hours)}}</label>
        </div>
        <div nz-row class="text-center padding-top-15">
            <img src="assets/images/chart.PNG" width="90%">
        </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="1" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1" class="space-enter">
    </div>
    <div nz-col [nzXs]="24" [nzSm]="7" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="container">
        <div nz-row class="padding-left-20">
            <label class="container__subtitle">Tempo médio entre a 1º chamada e o atendimento</label>
        </div>
        <div nz-row class="padding-left-20 padding-top-15">
            <label class="container__value">
              {{
                avgBetweenCallAttendence ?
                changeHour(avgBetweenCallAttendence.avg_hours) :
                '--:--:--'
              }}
            </label>
        </div>
        <div nz-row class="text-center padding-top-15">
            <img src="assets/images/chart.PNG" width="90%">
        </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="1" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1" class="space-enter">

    </div>
    <div nz-col [nzXs]="24" [nzSm]="7" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="container">
        <div nz-row class="padding-left-20">
            <label class="container__subtitle">Número total tickets atendidos</label>
        </div>
        <div nz-row class="padding-left-20 padding-top-15">
            <label class="container__value">{{dataTicketsAttendance?.total_number}}</label>
        </div>
        <div nz-row class="text-center padding-top-15">
            <img src="assets/images/chart.PNG" width="90%">
        </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="1" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1" class="space-enter">
    </div>
</div>
<div class="space"></div>
<div nz-row nz-row nzType="flex" style="align-items: stretch;">
    <div nz-col [nzXs]="24" [nzSm]="15" [nzMd]="15" [nzLg]="15" [nzXl]="15" [nzXXl]="15" class="container">
        <div nz-row class="padding-left-20">
            <label class="container__title">Total de Tickets</label>
        </div>
        <div nz-row>
            <div id="chart-total-tickets-reports-queue">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
                    [dataLabels]="chartOptions.dataLabels" [fill]="chartOptions.fill"
                    [responsive]="chartOptions.responsive" [plotOptions]="chartOptions.plotOptions"></apx-chart>
            </div>


        </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="1" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1" class="space-enter">
    </div>
    <div nz-col [nzXs]="24" [nzSm]="7" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="container">
        <div nz-row class="padding-left-20">
            <label class="container__subtitle">Número balcões abertos e fechados</label>
        </div>
        <div nz-row class="text-center">
            <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" style="padding-top:50px;">
                <nz-row><label class="container__title"> Abertos </label></nz-row>
                <nz-row class="padding-top-15"><label class="container__value">{{totalDesksStatus?.total_number_open}}</label></nz-row>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" style="padding-top:50px;">
                <nz-row><label class="container__title"> Fechados </label></nz-row>
                <nz-row class="padding-top-15"><label class="container__value">{{totalDesksStatus?.total_number_close}}</label></nz-row>
            </div>
        </div>
        <div nz-row class="text-center" style="padding-top:25px">
            <img src="assets/images/chart.PNG" width="90%">
        </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="1" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1" class="space-enter">

    </div>

</div>

<div class="space"></div>
<div nz-row nzType="flex" style="align-items: stretch;">
    <div nz-col [nzXs]="24" [nzSm]="7" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="container">
        <div nz-row class="padding-left-20">
            <label class="container__subtitle">Tickets em digital</label>
        </div>
        <div nz-row class="padding-left-20 padding-top-15">
            <label class="container__value">{{dataTicketsDigitalPaper?.total_ticket_digital}}</label>
        </div>
        <div nz-row class="text-center padding-top-15">
            <img src="assets/images/chart.PNG" width="90%">
        </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="1" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1" class="space-enter">
    </div>
    <div nz-col [nzXs]="24" [nzSm]="7" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="container">
        <div nz-row class="padding-left-20">
            <label class="container__subtitle">Tickets em papel</label>
        </div>
        <div nz-row class="padding-left-20 padding-top-15">
            <label class="container__value">{{dataTicketsDigitalPaper?.total_ticket_paper}}</label>
        </div>
        <div nz-row class="text-center padding-top-15">
            <img src="assets/images/chart.PNG" width="90%">
        </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="1" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1" class="space-enter">

    </div>
    <div nz-col [nzXs]="24" [nzSm]="7" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="container">
        <div nz-row class="padding-left-20">
            <label class="container__subtitle">Número total de tickets cancelados/ ausência</label>
        </div>
        <div nz-row class="padding-left-20 padding-top-15">
            <label class="container__value">{{dataTicketsCancelednotappear?.total_number}}</label>
        </div>
        <div nz-row class="text-center padding-top-15">
            <img src="assets/images/chart.PNG" width="90%">
        </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="1" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1" class="space-enter">
    </div>
</div>

<div class="space"></div>
<div nz-row nzType="flex" style="align-items: stretch;">
    <div nz-col [nzXs]="24" [nzSm]="7" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="container">
        <div nz-row class="padding-left-20">
            <label class="container__subtitle">Média de tickets recuperados</label>
        </div>
        <div nz-row class="padding-left-20 padding-top-15">
            <label class="container__value">{{averageRecoveredTickets?.average_recovered}}</label>
        </div>
        <div nz-row class="text-center padding-top-15">
            <img src="assets/images/chart.PNG" width="90%">
        </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="1" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1" class="space-enter">
    </div>
    <div nz-col [nzXs]="24" [nzSm]="7" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="container">
        <div nz-row class="padding-left-20">
            <label class="container__subtitle">Número tickets em espera</label>
        </div>
        <div nz-row class="padding-left-20 padding-top-15">
            <label class="container__value">{{totalTicketsWaiting?.total_number}}</label>
        </div>
        <div nz-row class="text-center padding-top-15">
            <img src="assets/images/chart.PNG" width="90%">
        </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="1" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1" class="space-enter">

    </div>
    <div nz-col [nzXs]="24" [nzSm]="7" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="container">
        <div nz-row class="padding-left-20">
            <label class="container__subtitle">Total de tickets transferidos</label>
        </div>
        <div nz-row class="padding-left-20 padding-top-15">
            <label class="container__value">{{totalTicketsTransfered?.total_number}}</label>
        </div>
        <div nz-row class="text-center padding-top-15">
            <img src="assets/images/chart.PNG" width="90%">
        </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="1" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1" class="space-enter">
    </div>
</div>

<div class="space"></div>
<div nz-row nzType="flex" style="align-items: stretch;">
    <div nz-col [nzXs]="24" [nzSm]="7" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="container">
        <div nz-row class="padding-left-20">
            <label class="container__subtitle">Número total tickets em atendimento</label>
        </div>
        <div nz-row class="padding-left-20 padding-top-15">
            <label class="container__value">{{totalTicketsAttendance?.total_number}}</label>
        </div>
        <div nz-row class="text-center padding-top-15">
            <img src="assets/images/chart.PNG" width="90%">
        </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="1" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1" class="space-enter">
    </div>
    <div nz-col [nzXs]="24" [nzSm]="7" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="container">
        <div nz-row class="padding-left-20">
            <label class="container__subtitle">Número tickets com atendimento acima da média</label>
        </div>
        <div nz-row class="padding-left-20 padding-top-15">
            <label class="container__value">{{attendanceAboveAvg?.total_number}}</label>
        </div>
        <div nz-row class="text-center padding-top-15">
            <img src="assets/images/chart.PNG" width="90%">
        </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="1" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1" class="space-enter">

    </div>
    <div nz-col [nzXs]="24" [nzSm]="7" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="space-enter">

    </div>
    <div nz-col [nzXs]="0" [nzSm]="1" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1" class="space-enter">
    </div>
</div>
<div class="space"></div>

<div nz-row nz-row nzType="flex" style="align-items: stretch;">
    <div nz-col [nzXs]="24" [nzSm]="11" [nzMd]="11" [nzLg]="11" [nzXl]="11" [nzXXl]="11" class="container">
        <div nz-row class="padding-left-20">
            <label class="container__title">Tickets fora do objetivo</label>
        </div>
        <div nz-row>
            <div id="chart-total-tickets-reports-queue">
                <apx-chart [series]="chartOptionsTickets.series" [chart]="chartOptionsTickets.chart" [labels]="chartOptionsTickets.labels"
                    [dataLabels]="chartOptionsTickets.dataLabels" [fill]="chartOptionsTickets.fill"
                    [responsive]="chartOptionsTickets.responsive" [plotOptions]="chartOptionsTickets.plotOptions"></apx-chart>
            </div>
        </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="1" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1" class="space-enter">
    </div>
    <div nz-col [nzXs]="24" [nzSm]="11" [nzMd]="11" [nzLg]="11" [nzXl]="11" [nzXXl]="11"  class="container">
        <div nz-row class="padding-left-20">
            <label class="container__title">Total de Serviços abertos ou fechados</label>
        </div>
        <div nz-row class="text-center">
            <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" style="padding-top:50px;">
                <nz-row><label class="container__title"> Abertos </label></nz-row>
                <nz-row class="padding-top-15"><label class="container__value">{{serviceStatusOpen?.total_number}}</label></nz-row>
                <nz-row class="padding-top-15" *ngFor="let open of serviceStatusOpen?.services">
                    <label class="container__subtitle">{{(open.translations | translation).name}}</label>
                </nz-row>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" style="padding-top:50px;">
                <nz-row><label class="container__title"> Fechados </label></nz-row>
                <nz-row class="padding-top-15"><label class="container__value">{{serviceStatusClose?.total_number}}</label></nz-row>
                <nz-row class="padding-top-15" *ngFor="let close of serviceStatusClose?.services">
                    <label class="container__subtitle">{{(close.translations | translation).name}}</label>
                </nz-row>
            </div>
        </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="1" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1" class="space-enter">

    </div>

</div>
