.container {
    background: white;
    padding: 24px 0px 24px 0px;
  
    &__title {
      font-size: 16px;
      line-height: 22px;
      margin: 0px;
      font-weight: bold;
      margin-bottom:30px;
      color:black;
    }
  &__subtitle{
      margin-bottom:5px;
      color: rgba(0, 0, 0, 0.45);    
  }

  &__value{
    font-size: 30px;
      line-height: 22px;
      margin: 0px;
      font-weight: bold;
      margin-bottom:30px;
      color:black;
  }
}

.padding-left-20{
  padding-left:20px;
}

.padding-top-15{
  padding-top:15px;
}

.text-center{
  text-align: center;
}

.space{
  background-color: #F2F2F2;
  padding-top:20px;
}

.space-enter{
  background-color: #F2F2F2;
}

#chart-total-tickets-reports-queue ::ng-deep .apexcharts-legend-text{
  font-size:15px!important;
}


#chart-total-tickets-reports-queue {
  max-width: 480px;
  margin: auto;
  padding: 0;
}

