@import 'default-theme.less';



.icon-space {
  text-align: center;
  padding-top: 40px;
}


.text-modal {
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 25px;
}


:host::ng-deep {

  .cart-summary {
    width: 100%;
    bottom: 264px;
    overflow: hidden;
    position: fixed;
    height: 96px;
    color: @fisas-grey-01;
    background-color: var(--fisas-07);
    &__cart-wrap {
      display: flex;
      height: 96px;
      align-items: center;
      justify-content: flex-start;
    }

    &__cart-icon {
      position: relative;
    }

    &__cart-total {
      position: absolute;
      top: -5px;
      right: -5px;
      padding: 0 2px;
      border: 3px solid var(--fisas-07);
      border-radius: 5px;
      background-color: @fisas-red-04;
    }

    &__cart-number {
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1px;
      text-align: center;
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      align-items: center;
      justify-content: center;
      height: 96px;
    }

    &__more-items {
      position: absolute;
      width: 100%;
      height: 60px;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(transparent, var(--fisas-07));
    }

    &__items-group {
      width: 100%;
    }

    &__item {
      width: 100%;
      height: 20px;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
    }

    &__item-description {
      text-align: left;
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__item-price {
      text-align: right;
    }

    &__item-quantity {
      text-align: center;
    }

    &__item-total {
      text-align: right;
      font-weight: 700;
    }

    &__cart-link {
      display: flex;
      height: 96px;
      align-items: center;
      justify-content: center;
    }

    &__price-cell {
      display: flex;
      width: 100%;
      height: 96px;
      align-items: center;
      background-color: @fisas-red-04;
    }

    &__price-label {
      width: 30%;
      padding: 0 10px;
      text-align: center;
      font-size: 24px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: normal;
    }

    &__price-total {
      width: 53%;
      padding: 0 10px;
      text-align: left;
      font-size: 24px;
      font-weight: 700;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: normal;
    }

    &__price-cart-link {
      width: 30%;
      text-align: center;
    }

  }

}