<div routerLink="/cart/list" #cartSummary class="cart-summary" *ngIf="total>0">

  <div nz-row>
    <div nz-col nzSpan="1"></div>

    <!-- cart icon and quantity -->
    <div nz-col nzSpan="2" *ngIf="total>0">
      <div class="cart-summary__cart-wrap">
        <div class="cart-summary__cart-icon">
          <svg-icon src="assets/icons/icons-cart.svg" [svgStyle]="{'width.px': 36, 'height.px': 36}"></svg-icon>
          <div class="cart-summary__cart-total">
            <div class="cart-summary__cart-number">{{ total }}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- cart items -->
    <div nz-col nzSpan="8">

      <div class="cart-summary__items">
        <div class="cart-summary__items-group">

          <!-- cart item -->
          <ng-container *ngFor="let cart of cartObjects ">
            <div *ngFor="let item of cart.items; index as i">
              <div nz-row class="cart-summary__item" *ngIf="i < 3">
                <div nz-col nzSpan="10">
                  <div class="cart-summary__item-description">
                    {{item.extra_info?.menu_dish_id ? item.extra_info.refectory_meal_type : item.name}}
                  </div>
                </div>
                <div nz-col nzSpan="3">
                  <div class="cart-summary__item-price">
                    {{translateMoney(item.unit_value)}}
                  </div>
                </div>
                <div nz-col nzSpan="3">
                  <div class="cart-summary__item-quantity">
                    x{{item.quantity}}
                  </div>
                </div>
                <div nz-col nzSpan="4">
                  <div class="cart-summary__item-total">
                    {{translateMoney(item.total_value)}}
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <!-- gradient more items -->
          <div class="cart-summary__more-items"></div>

        </div>
      </div>

    </div>

    <!-- cart list link -->
    <div nz-col nzSpan="2">
      <div class="cart-summary__cart-link">
        <svg-icon src="assets/icons/icons-arrow-3-right.svg" [svgStyle]="{'width.px': 42, 'height.px': 42}"></svg-icon>
      </div>
    </div>

    <!-- cart price summary -->
    <div nz-col nzSpan="6">
      <div class="cart-summary__price-cell">
        <div class="cart-summary__price-label">
          {{ 'CART.SUMMARY.PAY' | translate }}
        </div>
        <div class="cart-summary__price-total">
          {{translateMoney(cartTotalPrice?cartTotalPrice:0)}}
        </div>
        <div class="cart-summary__price-cart-link">
          <svg-icon src="assets/icons/icons-arrow-3-right.svg" [svgStyle]="{'width.px': 42, 'height.px': 42}">
          </svg-icon>
        </div>
      </div>
    </div>

    <div nz-col nzSpan="1"></div>

  </div>

</div>
