<div class="box-loader" *ngIf="pending"><div class="loader"></div></div>

<fi-header></fi-header>

<router-outlet></router-outlet>

<fi-menu></fi-menu>

<fi-footer [language]="language"></fi-footer>

<fi-sas-keyboard></fi-sas-keyboard>
