@import 'theme';

.top {
  padding-top: 25px;
}

:host::ng-deep {
  .experience-detail {
    background-color: white;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    > div {
      margin-left: 15px;
      margin-right: 15px;
      padding: 15px;

      @media screen and (max-width: 600px) {
        padding: 0px;
      }

      @media screen and (max-width: 800px) {
        padding: 0px;
      }
    }

    &--label {
      color: var(--primary-7);
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
    }

    &--value {
      color: unset;
      font-size: 14px;
      font-weight: 400;
      font-stretch: unset;
      font-style: unset;
      line-height: unset;
      letter-spacing: unset;
    }

    &--text {
      color: #5c5c5c;
      font-family: Montserrat;
      font-size: 18px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 300;
      letter-spacing: normal;
      line-height: 1.5;
      padding-top: 10px;
    }

    &--label2 {
      color: #222222;
      display: block;
      font-family: Montserrat;
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      font-weight: bold;
      letter-spacing: normal;
      line-height: 1.23;
      padding-top: 5px;
    }

    &--detail {
      font-size: 14px;
      padding-top: 5px;
    }
  }
}
