
<div class="container">
  <div class="content-table">
    <nz-table class="table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)"
    [nzLoading]="loading" [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true"
    [nzTotal]="totalData" [(nzPageSize)]="pageSize" (nzPageIndexChange)="pagination()"
    (nzPageSizeChange)="pagination(true)">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr class="table__header">

          <th nzShowSort nzSortKey="name">
            Nome
          </th>
          <th>
            Língua
          </th>
          <th nzShowSort nzSortKey="active">
            Ativa
          </th>
          <th nzRight="0px" class="text-right">Ações</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="refTable.data">
          <tr>
            <td>
              {{data.name }}
            </td>
            <td>{{getLanguageName(data.language_id)}}</td>
            <td>
              <fi-sas-tag [value]="data.active"></fi-sas-tag>
            </td>
            <td nzRight="0px" class="text-right">
              <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
                nzPlacement="bottomRight">
                <i nz-icon nzType="dash" nzTheme="outline"></i>
              </button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item [nzDisabled]="!('communication:feeds:update' | hasPermission)"
                    (click)="edit(data.id)">Editar
                  </li>
                  <li nz-menu-item [nzDisabled]="!('communication:feeds:delete' | hasPermission)"
                    (click)="deleteFeed(data.id)">Eliminar</li>
                </ul>
              </nz-dropdown-menu>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </div>
</div>