<div nz-row nzType="flex" nzJustify="center" nzAlign="middle" class="first_login">
  <div nz-col class="first_login__body"[nzXs]="22" [nzSm]="13" [nzMd]="13" [nzLg]="10" [nzXl]="8">
    <p class="first_login__title">
      <b>{{ 'MISC.HELLO' | translate }} {{ user ? user.name : 'user'}},</b>
    </p>
    <p class="first_login__subtitle">
      {{ 'LOGIN.FIRST_LOGIN.INFO' | translate }}
    </p>

    <div class="first_login__form">
      <form nz-form [formGroup]="firstLoginForm" class="firstLogin-form">
        <!--<nz-form-item
          [ngClass]="{'error': (newPasswordForm.get('password').dirty && newPasswordForm.get('password').errors)  }">
          <label class="form__label">Password</label>
          <nz-form-extra class="form__tip">{{ 'LOGIN.FIRST_LOGIN.PASSWORD_INFO' | translate }}</nz-form-extra>
          <nz-form-control>
            <nz-input-group [nzSuffix]="suffixPasswordTemplate">
              <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password"
                [placeholder]="'LOGIN.FIRST_LOGIN.INSERT_NEW_PASSWORD' | translate" />
            </nz-input-group>
            <ng-template #suffixPasswordTemplate>
              <i nz-icon [nzType]="passwordVisible ? 'icons:icons-show' : 'icons:icons-dontshow'"
                (click)="passwordVisible = !passwordVisible"></i>
            </ng-template>
            <nz-form-explain *ngIf="newPasswordForm.get('password').errors">
              <i nz-icon type="icons:icons-info"></i>
              {{getInputError('password') | translate: { value: 'password'} }}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>-->
        <nz-form-item style="margin-top: 24px;" [ngClass]="{'error': (firstLoginForm.get('pin').dirty && firstLoginForm.get('pin').errors) }">
          <label class="form__label">Pin</label>
          <nz-form-extra class="form__tip">{{ 'LOGIN.FIRST_LOGIN.PIN_INFO' | translate }}</nz-form-extra>
          <nz-form-control>
            <nz-input-group [nzSuffix]="suffixPinTemplate">
              <input [type]="pinVisible ? 'text' : 'password'" nz-input formControlName="pin"
                [placeholder]="'LOGIN.FIRST_LOGIN.INSERT_NEW_PIN' | translate" />
            </nz-input-group>
            <ng-template #suffixPinTemplate>
              <i nz-icon [nzType]="pinVisible ? 'icons:icons-show' : 'icons:icons-dontshow'"
                (click)="pinVisible = !pinVisible"></i>
            </ng-template>
            <nz-form-explain *ngIf="firstLoginForm.get('pin').errors">
              <i nz-icon type="icons:icons-info"></i>
              {{getInputError('pin') | translate: { value: 'pin'} }}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>

    <nz-form-item class="first_login__button">
      <nz-form-control>
        <app-button [buttonStyle]="{
          'width': '100%',
          'font-size': '17px',
          'line-height': '24px'
        }"
         translate="LOGIN.FIRST_LOGIN.BUTTON"
         type="floating"
         [loading]="loading"
         (click)="submit(firstLoginForm.value, firstLoginForm.valid)"
         >
        </app-button>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
