.error {
  .form__label {
    color: red;
  }

  input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }

  nz-form-explain {
    color: red;

    i {
      color: red;
      fill: red;
    }

    svg {
      color: red !important;
      fill: red !important;
    }

    path {
      color: red !important;
      fill: red !important;
    }

  }
}

.first_login {


  &__body {

    margin-top: 25px;
    margin-bottom: 25px;
    @media screen and (min-width: 576px) {
      margin-top: 48px;
      margin-bottom: 72px;
    }

    height: 100%;
    background: white;
    padding: 24px;
    padding-top: 64px;
  }

  &__title {
    font-size: 17px;
    line-height: 1.41;
    font-weight: bold;
    line-height: 24px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 32px;
  }

  &__button {
    margin-top: 40px;
  }
}
