<form nz-form [formGroup]="form">
  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="has_collaborated_last_year" class="primary-input-label">{{
          'VOLUNTEERING.FORM_APPLICATION.PAST_COLLABORATIONS.PARTICIPATED_BEFORE' | translate: { institute: institute }
        }}</nz-form-label>

        <nz-form-control>
          <nz-radio-group formControlName="has_collaborated_last_year" [nzSize]="'small'">
            <label nz-radio [nzValue]=true>{{ 'MISC.YES' | translate
              }}</label>
            <label nz-radio [nzValue]=false>{{ 'MISC.NO' | translate
              }}</label>
          </nz-radio-group>

          <nz-form-explain class="error"
            *ngIf="form.get('has_collaborated_last_year')?.dirty && form.get('has_collaborated_last_year').errors">
            {{ getInputError('has_collaborated_last_year') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
      <nz-form-item>
        <nz-form-label nzFor="previous_activity_description" class="primary-input-label">
          {{ 'VOLUNTEERING.FORM_APPLICATION.PAST_COLLABORATIONS.WHAT_ACTIVITY' | translate }}
        </nz-form-label>

        <nz-form-control>
          <input nz-input class="primary-input"
            [placeholder]="'VOLUNTEERING.FORM_APPLICATION.PAST_COLLABORATIONS.WHAT_ACTIVITY_PLACEHOLDER' | translate"
            formControlName="previous_activity_description" id="previous_activity_description" />
          <nz-form-explain class="error"
            *ngIf="form.get('previous_activity_description')?.dirty && form.get('previous_activity_description').errors">
            {{ getInputError('previous_activity_description') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
