<div class="main-content">
    <div class="unavailable__box">
      <label class="unavailable__title">{{'SCENES.UNAVAILABLE.TITLE' | translate }}</label>
      <br>
      <br>
      <label class="unavailable__message display-three">{{'SCENES.UNAVAILABLE.MESSAGE' | translate}}</label>
    </div>
  </div>
  