@import 'default-theme.less';

:host::ng-deep {

  .main-content {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .unavailable {
    &__box {
      flex-direction: column;
      margin: 0 15%;
      padding-top: 50px;
    }

    &__title {
        color: var(--fisas-02);
        font-size: 50px;
        font-weight: bold;
        line-height: initial;
    }

    &__message {
        font-size: 35px;
    }
  }


}
