<div class="movements-details-items hidden-xs">
    <div class="row-item">
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="3" [nzXl]="3">
            <label class="title-table-item">{{ 'CURRENT_ACCOUNT.TABLE.CODE' |
                translate}}</label>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="5" [nzXl]="5">
            <label class="title-table-item">{{ 'CURRENT_ACCOUNT.TABLE.DESCRIPTION' |
                translate}}</label>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="5" [nzXl]="5">
            <label class="title-table-item">{{ 'CURRENT_ACCOUNT.TABLE.NAME' |
                translate}}</label>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="5" [nzXl]="5">
            <label class="title-table-item">{{ 'CURRENT_ACCOUNT.FILTER.SERVICES' |
                translate}}</label>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="2" [nzXl]="2">
            <label class="title-table-item">{{ 'CURRENT_ACCOUNT.TABLE.QUANT' |
                translate}}</label>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="2" [nzXl]="2">
            <label class="title-table-item">{{ 'CURRENT_ACCOUNT.TABLE.PRICE_UNIT' |
                translate}}</label>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="2" [nzXl]="2">
            <label class="title-table-item">{{ 'CURRENT_ACCOUNT.TABLE.VALUE' |
                translate}}</label>
        </div>
    </div>
    <div *ngFor="let item of items" class="row-item">
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="3" [nzXl]="3">
            <label class="text-table-item">{{ item?.product_code ? getValue(item?.product_code) :
                '-'}}</label>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="5" [nzXl]="5">
            <label class="text-table-item">{{ item?.description ? item?.description :
                '-'}}</label>
            <br *ngIf="item?.extra_info?.refectory_consume_at">
            <label class="text-table-item" *ngIf="item?.extra_info?.refectory_consume_at">
                {{'CURRENT_ACCOUNT.DATE_REFECT' | translate}} - {{ item?.extra_info?.refectory_consume_at | date:
                'dd/MM/yyyy' }}</label>
            <br *ngIf="item?.extra_info?.refectory_meal_category">
            <label class="text-table-item" *ngIf="item?.extra_info?.refectory_meal_category">
                {{item?.extra_info?.refectory_meal_category == 'dinner' ? ('ALIMENTATION.MEALS.DINNER' | translate) : ('ALIMENTATION.MEALS.LUNCH' | translate)}}
              </label>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="5" [nzXl]="5">
            <label class="text-table-item">{{ item?.name ? item?.name : '-'}}
            </label>

        </div>
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="5" [nzXl]="5">
            <label class="text-table-item">{{ ((item?.service?.translations |
                languageChange).name) }}</label>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="2" [nzXl]="2">
            <label class="text-table-item">{{ item?.quantity != null ? item?.quantity :
                '-'}}</label>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="2" [nzXl]="2">
            <label class="text-table-item">{{ item?.unit_value != null ? (item?.unit_value |
                number:'1.2-2') +
                '
                €' : '-'}}</label>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="2" [nzXl]="2">
            <label class="text-table-item">{{ item?.total_value != null ? (item?.total_value
                |
                number:'1.2-2')
                + '
                €' : '-'}}</label>
        </div>
    </div>
    <div class="row-item">
        <div class="item-divider"></div>
        <div class="item-name">
            <nz-divider style="Margin:0px;"></nz-divider>
        </div>
    </div>
    <div class="row-item">
        <div class="item-divider"></div>
        <div class="item-value">
            <label class="title-table-item">Total:</label>
        </div>
        <div class="item-value">
            <label class="text-table-item">{{ (getPositiveNumber(transaction_value) |
                number:'1.2-2') +
                '
                €'}}</label>
        </div>
    </div>

</div>

<!----------------------MOBILE----------------------->
<div class="hidden-md">
    <div *ngFor="let itemMovement of items; let i = index">
        <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15 margin-top-20">
            <label class="title-item">Item - {{i + 1}}</label>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
                class="font-label-mobile">{{'CURRENT_ACCOUNT.TABLE.CODE' | translate}}:</label>
            <label class="text-table-item">
                {{ itemMovement?.product_code ? itemMovement?.product_code : '-'}}
            </label>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
                class="font-label-mobile">{{'CURRENT_ACCOUNT.TABLE.DESCRIPTION' | translate}}:</label>
            <label class="text-table-item">
                {{ itemMovement?.description ? itemMovement?.description : '-'}}
            </label>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
                class="font-label-mobile">{{'CURRENT_ACCOUNT.TABLE.NAME' | translate}}:</label>
            <label class="text-table-item">
                {{ itemMovement?.name ? itemMovement?.name : '-'}}
            </label>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
                class="font-label-mobile">{{'CURRENT_ACCOUNT.FILTER.SERVICES' | translate}}:</label>
            <label class="text-table-item">
                {{ ((itemMovement?.service?.translations | languageChange).name) }}
            </label>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
                class="font-label-mobile">{{'CURRENT_ACCOUNT.TABLE.QUANT' | translate}}:</label>
            <label class="text-table-item">{{ itemMovement?.quantity != null ? itemMovement?.quantity :
                '-'}}</label>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
                class="font-label-mobile">{{'CURRENT_ACCOUNT.TABLE.PRICE_UNIT' | translate}}:</label>
            <label class="text-table-item">{{ itemMovement?.unit_value != null ? (itemMovement?.unit_value |
                number:'1.2-2') + '
                €' : '-'}}</label>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
                class="font-label-mobile">{{'CURRENT_ACCOUNT.TABLE.VALUE' | translate}}:</label>
            <label class="text-table-item">{{ itemMovement?.total_value != null ? (itemMovement?.total_value
                |
                number:'1.2-2') + '
                €' : '-'}}</label>
        </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15 text-total"><label
            class="font-label-mobile">Total:</label>
        <label class="text-table-item">{{ (getPositiveNumber(transaction_value) | number:'1.2-2') + '
            €'}}</label>
    </div>
</div>