@import "theme";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 1199px)";
@mobile:    ~"only screen and (min-width: 320px) and (max-width: 719px)";

.movements-details-items{
    padding: 6px 0 14px 0;
    margin-right: 56px;

    .row-item {
      display: flex;
      flex-direction: row;
      align-content: center;
      padding: 6px 0;

      .item-id {
        min-width: 120px;
      }
      .item-name {
        width: 20%;
      }

      .item-value {
        width: 10%;
      }

      .item-divider {
        width: 80%;
      }
    }
}

.text-table-item {
    color: var(--primary-5);
    line-height: initial;
}

.title-table-item {
    font-size: 13px;
    font-weight: bold;
}

.hidden-md {
  display:none;
}

@media @tablet {

    .hidden-xs {
        display: none;
    }

    .hidden-md {
        display:block;
    }

    .font-label-mobile {
        color: black;
        font-weight: bold;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .margin-bottom-15 {
        margin-bottom:15px;
    }

    .text-total {
        text-align: center;
        padding-top: 20px;
    }

    .margin-top-20 {
        margin-top:20px;
    }
}

@media @mobile {

    .hidden-xs {
        display: none;
    }

    .hidden-md {
        display:block;
    }

    .font-label-mobile {
        color: black;
        font-weight: bold;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .margin-bottom-15 {
        margin-bottom:15px;
    }

    .text-total {
        text-align: center;
        padding-top: 20px;
    }

    .margin-top-20 {
        margin-top:20px;
    }
}
