<div class="container">
  <div nz-row>
    <nz-spin [nzSpinning]="loadingEdit">
      <div nz-col [nzSpan]="24">
        <form nz-form [formGroup]="formCreate">
          <div nz-row>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="padding-10">
              <div nz-row>
                <nz-form-label nzRequired>Nome</nz-form-label>
                <nz-form-control>
                  <input type="text" nz-input formControlName="name">
                </nz-form-control>
                <nz-form-explain class="color-required" *ngIf="submitted && f.name.errors">
                  Campo obrigatório
                </nz-form-explain>
              </div>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-10">
              <div nz-row>
                <nz-form-label nzRequired>Código</nz-form-label>
                <nz-form-control>
                  <input type="text" nz-input formControlName="code">
                </nz-form-control>
                <nz-form-explain class="color-required" *ngIf="submitted && f.code.errors">
                  Campo obrigatório
                </nz-form-explain>
              </div>
            </div>
          </div>

          <div nz-row>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16" [nzLg]="16" [nzXl]="16" [nzXXl]="16" class="padding-10">
              <div nz-row>
                <nz-form-label nzRequired>Morada</nz-form-label>
                <nz-form-control>
                  <input type="text" nz-input formControlName="address">
                </nz-form-control>
                <nz-form-explain class="color-required" *ngIf="submitted && f.address.errors">
                  Campo obrigatório
                </nz-form-explain>
              </div>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-10">
              <div nz-row>
                <nz-form-label nzRequired>Localidade</nz-form-label>
                <nz-form-control>
                  <input type="text" nz-input formControlName="locality">
                </nz-form-control>
                <nz-form-explain class="color-required" *ngIf="submitted && f.locality.errors">
                  Campo obrigatório
                </nz-form-explain>
              </div>
            </div>
          </div>
          <div nz-row>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-10">
              <div nz-row>
                <nz-form-label nzRequired>Código postal</nz-form-label>
                <nz-form-control>
                  <input type="text" mask="0000-000" [dropSpecialCharacters]="false" class="primary-input" nz-input
                    [formControl]="formCreate.controls['postal_code']" />
                </nz-form-control>
                <nz-form-explain class="color-required" *ngIf="submitted && f.postal_code.errors">
                  Campo obrigatório
                </nz-form-explain>
              </div>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-10">
              <div nz-row>
                <nz-form-label nzRequired>Concelho</nz-form-label>
                <nz-form-control>
                  <input type="text" nz-input formControlName="city">
                </nz-form-control>
                <nz-form-explain class="color-required" *ngIf="submitted && f.city.errors">
                  Campo obrigatório
                </nz-form-explain>
              </div>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-10">
              <div nz-row>
                <nz-form-label nzRequired>Distrito</nz-form-label>
                <nz-form-control>
                  <input type="text" nz-input formControlName="district">
                </nz-form-control>
                <nz-form-explain class="color-required" *ngIf="submitted && f.district.errors">
                  Campo obrigatório
                </nz-form-explain>
              </div>
            </div>
          </div>


          <div nz-row>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-10">
              <div nz-row>
                <nz-form-label nzRequired>Telefone</nz-form-label>
                <nz-form-control>
                  <input type="text" nz-input formControlName="phone">
                </nz-form-control>
                <nz-form-explain class="color-required" *ngIf="submitted && f.phone.errors">
                  Campo obrigatório
                </nz-form-explain>
              </div>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-10">
              <div nz-row>
                <nz-form-label nzRequired>Email</nz-form-label>
                <nz-form-control>
                  <input type="text" nz-input formControlName="email">
                </nz-form-control>
                <nz-form-explain class="color-required" *ngIf="submitted && f.email.errors">
                  Campo obrigatório
                </nz-form-explain>
              </div>
            </div>
          </div>

          <div nz-row nzAlign="bottom">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-10">
              <nz-form-label>Referência externa</nz-form-label>
              <nz-form-control>
                <input type="text" nz-input formControlName="external_ref">
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submitted && f.external_ref.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-10">
              <nz-form-label>Código DGES</nz-form-label>
              <nz-form-control>
                <input type="text" nz-input formControlName="dgs_code">
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submitted && f.dgs_code.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-10">
              <nz-form-label nzRequired>Escola</nz-form-label>
              <nz-form-control>
                <nz-switch formControlName="is_school">
                </nz-switch>
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submitted && f.is_school.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-10">
              <nz-form-label nzRequired>Ativo</nz-form-label>
              <nz-form-control>
                <nz-switch formControlName="active">
                </nz-switch>
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submitted && f.active.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>

          </div>


        </form>
      </div>
    </nz-spin>
  </div>
</div>


<div class="space" nz-row>
  <button *ngIf="isEdit" nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
  <button nz-button *ngIf="isBack" style="margin-right: 15px;" (click)="back()">Voltar</button>
  <button nz-button [nzLoading]="loading" [disabled]="loading"
    (click)="isEdit ? submitOrganicUnits(true) : submitOrganicUnits(false)" [nzType]="'primary'">{{isEdit ? 'Editar' :
    'Criar'}}</button>
</div>