<nz-card class="m-b-8">
  <label>Observações:</label>
  <textarea  nz-input [(ngModel)]="observations" id="observations" name="observations"
    nzAutosize
    placeholder="Este texto é apresentado ao estudante">
  </textarea>
  <div nz-row nzType="flex" nzGutter="8" nzJustify="end" class="m-8">

      <button nz-button nzType="primary" [nzLoading]="loading" (click)="save()" class="m-r-8">
        <i nz-icon nzType="save"></i>Gravar</button>

  </div>
</nz-card>
