.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.description {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  color: #222222;
}

.title-detail {
  font-size: 13px;
  color: var(--primary-7);
}

.description-detail {
  color: black;
  font-size: 13px;
}


.icon {
  font-size: 25px;
}

.box {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;

  &.box-pair {
    background-color: #f0f2f5;
  }
}


.title {
  font-weight: bold;
  font-size: 25px;
  line-height: 1.33;
  color: #333333;

  @media only screen and (max-width: 800px) {
    margin-top: 5px;
  }
}
