<nz-card class="card__section" [ngClass]="{'blur': !movementsBalance.active}"
    *ngIf="custumizeToggle || movementsBalance.active">
    <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16" [nzLg]="16" [nzXl]="14" [nzXXl]="14">
            <div nz-row>
                <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="4" [nzLg]="3" [nzXl]="2" [nzXXl]="2">
                    <i nz-icon class="icon" type="icons:walltet_v3" id="icon-dashboard"></i>
                </div>
                <div nz-col [nzXs]="21" [nzSm]="21" [nzMd]="20" [nzLg]="21" [nzXl]="22" [nzXXl]="22">
                    <div nz-row>
                        <span class="card__title">{{translations?.length>1 ? ((translations | languageChange)?.name) :
                            ('DASHBOARD.WIDGETS.CURRENT_ACCOUNT.TITLE' | translate)}}</span>
                    </div>
                    <div nz-row class="black-text">
                        <span>{{ "DASHBOARD.WIDGETS.CURRENT_ACCOUNT.DESCRIPTION" | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="10" [nzXXl]="10">
            <button nz-button nzType="default" class="btw-see-more" [routerLink]="['/current-account', 'accounts']">
                {{ "DASHBOARD.WIDGETS.SEE-MORE.TITLE" | translate }}
            </button>
        </div>

    </div>
    <div nz-row nzType="flex" [nzGutter]="24" class="current-account__list">
        <div *ngFor="let balance of movementsBalance.data; let i= index;" class="row-balance">
            <div class="account-item">
                <div class="account-elements-i">
                    <span class="account-name">{{balance.account_name}}</span>
                </div>

                <div class="account-elements-ii">
                    <span class="account-title-value">{{ 'CURRENT_ACCOUNT.CURRENT_ACCOUNT' | translate }}</span>
                    <span
                        [ngClass]="{'account-value-pending': balance?.current_balance < 0, 'account-value-pending-normal': balance?.current_balance == 0, 'account-value-corrent': balance?.current_balance > 0}">{{balance?.current_balance
                        | number:'1.2-2'}} €</span>
                </div>

                <div class="account-elements-iii">
                    <span class="account-title-value">{{ 'CURRENT_ACCOUNT.OUTSTANDING_PAYMENTS' | translate }}</span>
                    <span
                        [ngClass]="{'account-value-pending': balance?.in_debt < 0, 'account-value-pending-normal': balance?.in_debt == 0, 'account-value-corrent': balance?.in_debt > 0}">{{balance?.in_debt
                        | number:'1.2-2'}} €</span>
                </div>
                <div class="account-elements-iv">
                    <button nz-button type="button" class="button-style-movements"  [disabled]="!('current_account:movements:read' | hasPermission)"
                        [routerLink]="['/current-account/movements', balance.account_id]"> {{'CURRENT_ACCOUNT.MOVEMENTS'
                        |
                        translate}}
                    </button>

                    <app-button [buttonStyle]="{'margin-left':'15px'}" 
                        [translate]="'CURRENT_ACCOUNT.DEPOSITS'" [routerLink]="['/current-account/accounts']">
                    </app-button>
                </div>
            </div>

        </div>
    </div>

</nz-card>
