@import "theme";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 1199px)";
@mobile:    ~"only screen and (min-width: 320px) and (max-width: 719px)";


.blur {
    opacity: 50%;
}

.card {
    &__title {
      font-weight: bold;
      font-size: 17px;
      color: var(--primary-7);
    @media @mobile {
        font-size: 15px;
    }
    }
    &__section {
    color: #000000;
    margin-bottom: 0.5cm;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    }
}


#icon-dashboard::ng-deep svg {
    path {
      fill: var(--primary-color);
    }
}

.icon {
    font-size: 40px;
    padding-right: 10px;
    @media @mobile {
      font-size: 27px;
    }
}

.btw-see-more {
  border: solid 0.4px black;
  color: black;
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}

.btw-see-more:hover {
  color: white !important;
  border: solid 0.4px var(--primary-6);
  background-color: var(--primary-6);
}

nz-card {
    border-radius: 8px;
    width: 100% !important;
    box-shadow: 0 2px 4px 0 rgba(223, 223, 223, 0.5);
}

.current-account {
    &__list {
        margin-top: 15px;
    }
}

.row-balance {
    width: 100%;
    margin-left: 13px;
    margin-right: 10px;
    @media @mobile {
        margin-left: 10px;
    }
}

.black-text {
  color: black;
  font-size: 15px;
}

.account-item {
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    color: #333333;
    margin-top: 20px;
    border: 1px solid var(--primary-1);

    @media @tablet {
      flex-wrap: wrap;
    }

    @media @mobile {
      flex-wrap: wrap;
    }

    .account-elements-i {
      padding: 20px;
      width: 25%;
      display: flex;
      flex-direction: row;
      border-right: 1px solid var(--primary-1);
      justify-content: space-between;

      @media @tablet {
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid var(--primary-1);
      }

      @media @mobile {
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid var(--primary-1);
      }

      .account-name {
        width: 50%;
      }
    }

    .account-title-value{
      font-weight: bold;
    }

    .account-elements-ii, .account-elements-iii {
      padding: 20px;
      width: 25%;
      display: flex;
      flex-direction: row;
      border-right: 1px solid var(--primary-1);
      justify-content: space-between;

      @media @tablet {
        width: 50%;
        border-bottom: 1px solid var(--primary-1);
      }

      @media @mobile {
        width: 100%;
        border-bottom: 1px solid var(--primary-1);
      }

      .account-value-corrent {
        color: #1ba974;
        font-weight: 600;
      }

      .account-value-pending{
        color: #d0021b;
        font-weight: 600;
      }

      .account-value-pending-normal{
        color: black;
        font-weight: 600;
      }
    }

    @media @tablet{
      .account-elements-iii {
        border-right: 0;
      }
    }

    @media @mobile {
      .account-elements-ii, .account-elements-iii {
        border-right: 0;
      }
    }

    .account-elements-iv {
      width: 29%;
      min-width: 190px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      @media @tablet {
        padding: 20px;
        width: 100%;
      }

      @media @mobile {
        padding: 20px;
        width: 100%;
      }
    }
}

.button-style-movements{
  color:  var(--primary-color);
  height: 32px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  background-color: white;
  border-radius: 21px;
  border: solid 2px var(--primary-color);
}
.button-style-movements:hover {
  background-color: var(--primary-color);
  color: white;
}

@media @mobile {
    .card{
      &__section {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
}
