<div class="content--padding white">
  <form [formGroup]="zonesForm" nz-form>
    <nz-form-item>
      <nz-form-label nzRequired>Nome</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="name">
        <nz-form-explain class="error" *ngIf="zonesForm.get('name').errors && submitted">Campo obrigatório</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>Locais</nz-form-label>
      <nz-form-control>

        <nz-select nzMode="multiple" nzPlaceHolder="Locais" formControlName="locals_ids">
          <nz-option *ngFor="let local of locals" [nzLabel]="local.local" [nzValue]="local.id"></nz-option>
        </nz-select>
        <nz-form-explain class="error" *ngIf="zonesForm.get('locals_ids').errors && submitted">Campo obrigatório</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Ativa</nz-form-label>
      <nz-form-control>
        <nz-switch formControlName="active"></nz-switch>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<div class="space" nz-row>
  <button nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="isLoading" [disabled]="isLoading" (click)="submit(zonesForm.value, zonesForm.valid)"
    [nzType]="'primary'">Criar</button>
</div>