.unavailable {
  opacity: 0.5;
}

.box-painel {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.counter {
  margin-top: 25px;
  margin-bottom: 40px;

  &__filter {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
}