
<div nz-row>
  <div nz-col>
    <div class="counter__filter">
      <nz-radio-group [(ngModel)]="radioValue" (ngModelChange)="changeRadio()" [nzButtonStyle]="'solid'">
        <label nz-radio-button nzValue="NO_CONSUMED">{{ 'ALIMENTATION.CANCEL_TICKET.NO_CONSUMED' | translate
          }}</label>
        <label nz-radio-button nzValue="CONSUMED">{{ 'ALIMENTATION.CANCEL_TICKET.CONSUMED' | translate
          }}</label>
        <label nz-radio-button nzValue="EXPIRED">{{ 'ALIMENTATION.CANCEL_TICKET.EXPIRED' | translate
          }}</label>
        <label nz-radio-button nzValue="CANCELED">{{ 'ALIMENTATION.CANCEL_TICKET.CANCELED' | translate
          }}</label>

        <label nz-radio-button nzValue="ALL">{{ 'ALIMENTATION.CANCEL_TICKET.ALL' | translate
          }}</label>
      </nz-radio-group>

    </div>
  </div>
  <nz-spin [nzSpinning]="isLoading">
    <div nz-row *ngIf="reservationsFilter.length>0" nzType="flex" style="align-items: stretch;" style="padding-bottom: 30px;">
    
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="11" [nzXl]="8" [nzXXl]="8" class="box-painel"
      *ngFor="let reservation of reservationsFilter">
      <app-ticket [dish]="reservation?.menu_dish?.dish" [ticket]="true"
        [nullable]="reservation.menu_dish?.nullable_until" [meal]="reservation?.menu_dish?.menu?.meal"
        [date]="reservation?.menu_dish?.menu?.date" [purchased]="purchased" [isAvailable]="reservation?.is_available"
        [isServed]="reservation?.is_served" [reservationId]="reservation?.id" [disabled]="reservation.has_canceled"
        [isFromPack]="reservation?.is_from_pack"
        (refresh)="refreshReservations($event)">
      </app-ticket>
    </div>
   
  </div>
  <div nz-row *ngIf="reservationsFilter.length==0">
    <nz-empty></nz-empty>
  </div>
  </nz-spin>

<!--
<div class="top" nz-row>
  <div nz-col [nzSm]="24" [nzMd]="12">
    <h2 class="title-top-page">{{ 'ALIMENTATION.MY_TICKETS.TITLE' | translate }}</h2>
    <p class="sub-title-top-page">{{ 'ALIMENTATION.MY_TICKETS.DESC' | translate }}</p>
  </div>
</div>

<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="margin-top-15">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="3" [nzXXl]="3">
        <div class="content-filter-title">{{ 'CURRENT_ACCOUNT.FILTER_BY' | translate }}</div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="11" [nzMd]="11" [nzLg]="11" [nzXl]="5" [nzXXl]="5" class="margin-5">
        <nz-date-picker [(ngModel)]="dateFilter" style="width: 100%;" (ngModelChange)="onChangeDate($event)">
        </nz-date-picker>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="11" [nzMd]="11" [nzLg]="11" [nzXl]="5" [nzXXl]="5" class="margin-5">
        <nz-select style="width: 100%;" [(ngModel)]="typeFilter" nzAllowClear id="movements-current-account"
          [nzPlaceHolder]="'ALIMENTATION.MY_TICKETS.FILTER_TYPE' | translate" nzShowSearch
          (ngModelChange)="filterType($event)">
          <nz-option *ngFor="let option of optionsType" [nzValue]="option.value"
            [nzLabel]="option.translation | translate">
          </nz-option>
        </nz-select>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="11" [nzMd]="11" [nzLg]="11" [nzXl]="5" [nzXXl]="5" class="margin-5">
        <nz-select style="width: 100%;" [(ngModel)]="statusFilter" nzAllowClear id="movements-current-account"
          [nzPlaceHolder]="'CURRENT_ACCOUNT.FILTER.STATUS' | translate" nzShowSearch
          (ngModelChange)="filterStatus($event)">
          <nz-option [nzValue]="'ALL'" [nzLabel]="'ALIMENTATION.CANCEL_TICKET.ALL' | translate">
          </nz-option>
          <nz-option [nzValue]="'CANCELED'" [nzLabel]="'ALIMENTATION.CANCEL_TICKET.CANCELED' | translate">
          </nz-option>
          <nz-option [nzValue]="'EXPIRED'" [nzLabel]="'ALIMENTATION.CANCEL_TICKET.EXPIRED' | translate">
          </nz-option>
          <nz-option [nzValue]="'NO_CONSUMED'" [nzLabel]="'ALIMENTATION.CANCEL_TICKET.NO_CONSUMED' | translate">
          </nz-option>
          <nz-option [nzValue]="'CONSUMED'" [nzLabel]="'ALIMENTATION.CANCEL_TICKET.CONSUMED' | translate">
          </nz-option>
        </nz-select>
      </div>
    </div>
  </div>

</div>
<div nz-row class="hidden-xs" style="margin-top:20px;">

  <nz-table #applicationsTable [nzFrontPagination]="true" [nzData]="reservations"
    [nzLoading]="isLoading" [nzScroll]="{ x: '240px' }" [nzShowPagination]="'true'" [nzScroll]="{ x: '240px' }" [nzShowPagination]="pagination" [nzTotal]="total"
    [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="getReservations()"
    (nzPageSizeChange)="getReservations(true)">
    <thead>
      <tr>
        <th></th>
        <th>{{'ALIMENTATION.MY_TICKETS.TABLE.DATE_BUY' | translate}}</th>
        <th>{{'ALIMENTATION.MY_TICKETS.TABLE.DATE' | translate}}</th>
        <th>{{'ALIMENTATION.MY_TICKETS.TABLE.TYPE' | translate}}</th>
        <th>{{'ALIMENTATION.MY_TICKETS.TABLE.TYPE_DISH' | translate}}</th>
        <th>{{'ALIMENTATION.MY_TICKETS.TABLE.DESC' | translate}}</th>
        <th>{{'ALIMENTATION.MY_TICKETS.TABLE.CANTEEN' | translate}}</th>
        <th>{{'ALIMENTATION.MY_TICKETS.TABLE.STATUS' | translate}}</th>
        <th>{{'ALIMENTATION.MY_TICKETS.TABLE.PRICE' | translate}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="applicationsTable.data">
        <tr>
          <td> 
            <img width="45" *ngIf="data?.menu_dish?.dish?.file" src="{{data?.menu_dish?.dish?.file?.url}}" />
            <img width="45" *ngIf="!data?.menu_dish?.dish?.file" alt="Unavailable Image" src="/assets/imgs/unavailable-image.jpg" />
          </td>
          <td>
            {{data.created_at | date: 'dd-MM-yyyy'}}
          </td>
          <td>
            {{data.date | date: 'dd-MM-yyyy'}}
          </td>
          <td>
            {{ "ALIMENTATION.MEALS."+data.meal?.toUpperCase() | translate }}
          </td>
          <td>
            {{(data?.menu_dish?.type?.translations | languageChange).name}}
          </td>
          <td>
            {{((data?.menu_dish?.dish?.translations | languageChange).name)?.charAt(0).toUpperCase() + ((data?.menu_dish?.dish?.translations | languageChange).name)?.slice(1).toLowerCase()}}
          </td>
          <td>
            {{data?.location}}
          </td>
          <td>
           <span *ngIf="data.has_canceled">{{'ALIMENTATION.CANCEL_TICKET.CANCELED'  | translate}}</span>
           <span *ngIf="isExpired(data?.is_available,data?.menu_dish?.menu?.date)" >{{'ALIMENTATION.CANCEL_TICKET.EXPIRED'  | translate}}</span>
           <span *ngIf="data?.is_served">{{'ALIMENTATION.CANCEL_TICKET.CONSUMED'  | translate}}</span>
           <span *ngIf="!data.has_canceled && !data?.is_served && !isExpired(data?.is_available,data?.menu_dish?.menu?.date)">{{'ALIMENTATION.CANCEL_TICKET.NO_CONSUMED'  | translate}}</span>
          </td>
          <td>
            {{data?.menu_dish?.type?.price | number: '1.2-2'}}€
          </td>
          <td>

          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</div>-->