<div class="white">
  <ul>
    <li *ngFor="let device of data;" class="space-li">
      {{device.name}}
      <ul>
        <li *ngFor="let payment_method of device.payment_methods;" class="space-li">
          <input type="checkbox" [(ngModel)]="payment_method.active" (ngModelChange)="changeValue(device.id, payment_method.id, $event)"> {{payment_method.name}}
        </li>
      </ul>
    </li>
  </ul>
  
</div>

<div nz-row nzType="flex" nzJustify="end" class="space">
  <div nz-col nzSpan="24" class="actions">
      <button nz-button (click)="backList()">Voltar</button>
  </div>
</div>