.white {
    background-color: white;
    padding: 20px;
}

.space-li {
    padding-top: 10px;
}


.space {
    background-color: #F2F2F2;
    padding-top:20px;
    padding-bottom: 20px;
    text-align: right
}
