<div class="container">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="3" [nzXXl]="3">
      <div nz-row>
        <nz-form-label>Data</nz-form-label>
        <nz-form-control>
          <nz-date-picker [(ngModel)]="filters.created_at"></nz-date-picker>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
      <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
      style="text-align: left;">
      <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
    </div>
  </div>
</div>


<div class="container">
  <nz-table [nzScroll]="{ x: '240px' }" class="content-table" #refTable [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)"
            [nzLoading]="loading" [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true"
            [nzTotal]="totalData" [(nzPageSize)]="pageSize" (nzPageIndexChange)="pagination()"
            (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th></th>
        <th *ngFor="let column of columns" [nzShowSort]="column.sortable" [nzSortKey]="column.sortKey ? column.sortKey : column.key"
            [nzFilters]="column.filters ? column.filters : []" [nzFilterMultiple]="column.filterMultiple" [nzShowFilter]="column.showFilter"
            (nzFilterChange)="onColumnFilterChange($event, column.key)"
        >
          {{ column.label }}
        </th>
        <th nzRight="0px" class="text-right">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">

        <tr>
          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
          <td *ngFor="let column of columns">
            <span *ngIf="!column.tag">{{ column.translation && data.translation ? (data.translations | where: ['language_id', 3]
            )[0][column.key] : (column.template ? column.template(data) : data[column.key])}}</span>
            <span *ngIf="column.tag">
              <fi-sas-tag [value]="data[column.key]" [results]="column.tag"></fi-sas-tag>
            </span>
          </td>
          <td nzRight="0px" class="text-right">
            <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
                    nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item
                    [nzDisabled]="data.status === 'ANALYSED' || data.status === 'REPLYED' || !('social_scholarship:general-complains:status' | hasPermission)"
                    (click)="changeStatus(data, (data.status === 'ANALYSED' || data.status === 'REPLYED'))">
                  Colocar em análise
                </li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>

        <tr [nzExpand]="mapOfExpandData[data.id]">
          <td [attr.colspan]="columns.length + 3">
            <fi-sas-view-complains [data]="data" complain="general"></fi-sas-view-complains>
          </td>
        </tr>


      </ng-template>
    </tbody>
  </nz-table>
</div>
