@import 'theme';

@media screen and (max-width: 800px) {
  .hidden-xs {
    display: none !important;
  }

  .margin-top-20 {
    margin-top:20px;
  }

  .hidden-md {
    display:block !important;
  }

  .box-table {
    background-color: white;
    padding-left:20px;
    padding-right: 20px;
  }
  .margin-bottom-15 {
    margin-bottom:15px;
  }

  .font-label-mobile {
    color: black;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


#pagination-social-support ::ng-deep .ant-pagination-options {
  display: block !important;
  padding-top:10px;
  margin-left:10px !important;
}

#pagination-social-support ::ng-deep .ant-pagination.mini .ant-pagination-options {
  margin-left:2px;
}

@media screen and (max-width: 600px) {
  .hidden-xs {
    display: none !important;
  }

  .margin-top-20 {
    margin-top:20px;
  }

  .hidden-md {
    display:block !important;
  }
  .box-table {
    background-color: white;
    padding-left:20px;
    padding-right: 20px;
  }
  .margin-bottom-15 {
    margin-bottom:15px;
  }

  .font-label-mobile {
    color: black;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.hidden-md {
  display:none;
}
.monthly-reports-table {
  &--header {
    th {
      background-color: #ffffff;
      border: 0;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      line-height: 1.5;
    }
  }

  &--row {
    td {
      border: 0;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.11px;
      line-height: 1.33;
      color: black;
    }

    ::ng-deep {
      .paid-icon,
      .close-icon {
        svg {
          width: 22px;
          height: 22px;
        }
      }

      .close-icon svg path {
        fill: #d0021b;
      }
    }

    &.row-even {
      background-color: #fbfbfb;
    }

    &.row-odd {
      background-color: #ffffff;
    }

    &--attachment {
      padding-bottom: 10px;
      padding-top: 10px;
      text-align: right;

      a {
        background-color: #fff;
        border-radius: 4px;
        border: solid 2px #d9d9d9;
        display: inline-block;
        padding: 8px 15px;
        color: #222;
      }
    }
  }
}
