<nz-row>
  <div nz-col nzSpan="20" class="send_pin">
    <button nz-button class="send_pin__button" (click)="sendPin()">{{'PIN_MODAL.SEND_PIN' | translate }}</button>
  </div>
</nz-row>
<nz-row>
  <div nz-col nzSpan="20" class="input-box"><div class="inner-box">
    {{getInputPinText()}}
  </div></div>
</nz-row>
<nz-row>
  {{ERROR_MESSAGE }}
</nz-row>
<nz-row class="numeric-row">
  <div nz-col nzSpan="6" class="numeric-button" (click)="clickButton('1')"><div class="inner-box">1</div></div>
  <div nz-col nzSpan="6" class="numeric-button" (click)="clickButton('2')"><div class="inner-box">2</div></div>
  <div nz-col nzSpan="6" class="numeric-button" (click)="clickButton('3')"><div class="inner-box">3</div></div>
</nz-row>
<nz-row class="numeric-row">
  <div nz-col nzSpan="6" class="numeric-button" (click)="clickButton('4')"><div class="inner-box">4</div></div>
  <div nz-col nzSpan="6" class="numeric-button" (click)="clickButton('5')"><div class="inner-box">5</div></div>
  <div nz-col nzSpan="6" class="numeric-button" (click)="clickButton('6')"><div class="inner-box">6</div></div>
</nz-row>
<nz-row class="numeric-row">
  <div nz-col nzSpan="6" class="numeric-button" (click)="clickButton('7')"><div class="inner-box">7</div></div>
  <div nz-col nzSpan="6" class="numeric-button" (click)="clickButton('8')"><div class="inner-box">8</div></div>
  <div nz-col nzSpan="6" class="numeric-button" (click)="clickButton('9')"><div class="inner-box">9</div></div>
</nz-row>
<nz-row class="numeric-row">
  <div nz-col nzSpan="6" class="numeric-button" (click)="clickButton('EMPTY')"><div class="inner-box">X</div></div>
  <div nz-col nzSpan="6" class="numeric-button" (click)="clickButton('0')"><div class="inner-box">0</div></div>
  <div nz-col nzSpan="6" class="numeric-button" (click)="clickButton('CLEAR')"><div class="inner-box">C</div></div>
</nz-row>
<!--<nz-row class="footer">
  <div nz-col ><button nz-button class="footer__button" (click)="login()" >{{ 'PIN_MODAL.LOGIN' | translate}}</button></div>
  <div nz-col ><button nz-button class="footer__button footer__button--cancel" (click)="cancel()"  >{{ 'PIN_MODAL.CANCEL' | translate }}</button></div>
</nz-row>-->



<nz-modal [nzVisible]="modalSuccess" nzClosable="false" nzFooter="null" [nzStyle]="{top: '700px'}">
  <div class="icon-space">
      <img src="assets/images/Success.PNG" style="width: 175px;">
  </div>
  <div class="text-modal">
      <label>{{ 'PIN_MODAL.SUCCESS' | translate }}</label>
  </div>
</nz-modal>
