.send_pin {
  margin-bottom: 20px;
  
  &__button {
    width: 100%;
  }
}


.icon-space {
  text-align: center;
  padding-top: 40px;
}

.text-modal {
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 25px;
}

.numeric-row {
  margin-top: 5px;
  width: 230px;
}

.input-box {
  text-align: center;
  .inner-box {
    font-size: 50px;
    color: gray;
  }
}

.numeric-button {
  text-align: center;
  .inner-box {
    margin: 10px;
    width: 45px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
    border: 2px solid var(--fisas-06);
  }

}

.footer {
  margin-top: 20px;
  justify-content: space-evenly;

  &__button {
    &--cancel {
      color: rgb(243, 83, 83) !important;
      border: 2px solid rgb(243, 83, 83) !important;
      border-color: rgb(243, 83, 83) !important;
    }
  }
}