<div nz-row class= "list-applications--item" [nzGutter]="8" *ngFor="let application of applications">
  <div nz-col>
    <app-application-highlight-card [application]="application" [translations]="translations" (refresh)="emitRefresh()"></app-application-highlight-card>
  </div>
</div>

<div nz-row *ngIf="applications.length === 0 && !isLoading">
  <div nz-col class="list-applications--no-data">
    {{ 'VOLUNTEERING.MY_APPLICATIONS.NO_APPLICATIONS' | translate }}
  </div>
</div>

<nz-spin *ngIf="isLoading" [nzSpinning]="isLoading" class="list-applications--loading" ></nz-spin>
 