.list-applications {
  &--item {
    margin-bottom: 30px;
  }

  &--loading {
    height: 115px;
  }

  &--no-data {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #111111;
    text-align: center;
    height: 115px;
    position: relative;
    top: 50px;
  }
}
