:host::ng-deep {

  .demo4 {
    width: 100%;
    margin: 10px 0;
    white-space: nowrap;
  }

  .box {
      display: inline-block;
      margin-right: 10px;
      width: 100px;
      height: 100px;
      background: #666;
      color: #fff;
      text-align: center;
      line-height: 100px;
      font-size: 24px;
  }

}