<div class="content">
  <form nz-form [formGroup]="typologyGroup" nzLayout="horizontal">
    <div nz-row nzGutter="16">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="key">Chave</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="key" id="key">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="name">Nome</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="name" id="name">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col nzSpan="24">
        <div nz-row>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzFor="description">Descrição</nz-form-label>
              <nz-form-control nzErrorTip="Descrição inválida">
                <textarea maxlength="255" nz-input formControlName="description" id="description" nzAutosize="true"></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col nzSpan="24">
        <div nz-row>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="data">Dados</nz-form-label>
              <nz-form-control nzErrorTip="Campo obrigatório">
                <fi-sas-form-jsonfield  formControlName="data" id="data" ></fi-sas-form-jsonfield>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col nzSpan="24">
        <div nz-row>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="options">Opções</nz-form-label>
              <nz-form-control nzErrorTip="Campo obrigatório">
                <fi-sas-form-jsonfield  formControlName="options" id="options" ></fi-sas-form-jsonfield>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col nzSpan="24">
        <div nz-row>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzFor="file_id" nzRequired>Ficheiro</nz-form-label>
              <nz-form-control nzErrorTip="Campo obrigatório">
                <fi-sas-upload-file formControlName="file_id" id="file_id" name="file_id">
                </fi-sas-upload-file>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>


<div class="space" nz-row>
  <button *ngIf="idToUpdate" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="loading" [disabled]="loading" (click)="submitForm(typologyGroup.value)" 
      [nzType]="'primary'">{{idToUpdate ? 'Editar' : 'Criar'}}</button>
</div>