@import "theme";



.title-box {
    padding-top: 10px;
    font-size: 15px;
}

.content-table {
  margin: 8px;

  .table {
      &__header {
          th {
              background: white;
              color: var(--primary-6);
              font-weight: 700;
          }

          & > th:first-child {
              border-top-left-radius: 2px !important;
          }
          
          & > th:last-child {
              border-top-right-radius: 2px !important;
          }
      }
      
      tr {

          /*td {
              color: var(--text-color);
          }*/

          background: white !important;
      }
  }

  .options_button {
      color: var(--text-color);
      font-size: 22px;
  }
}

.text-right {
  text-align: right;
}

.container {
  background: white;
  padding: 24px 30px 24px 30px;
  margin-bottom: 5px;
  &__title {
      font-size: 16px;
      line-height: 22px;
      margin: 0px;
      font-weight: bold;
      margin-bottom:10px;
      color:black;
  }
  &__subtitle{
    margin-bottom:5px;
  }
}


.color-green {
  color: #1ba974;
}

.color-red {
  color: #ff0000;
}

.generate-report{
  margin: 44px;
  border-radius: 20px;
}


.container {
  background: white;
  margin-top: 20px;
  padding: 24px 30px 24px 30px;
  margin-bottom: 5px;
  &__title {
      font-size: 16px;
      line-height: 22px;
      margin: 0px;
      font-weight: bold;
      margin-bottom:10px;
      color:black;
  }
  &__subtitle{
    margin-bottom:5px;
  }
}

.day-input {
  padding-top: 25px;
}