<div nz-col [nzSpan]="24">
    <div class="container">
        <div nz-row>
            <div nz-col nzSpan="2" class="title-box">
                <label>Caixa</label>
            </div>
            <div nz-col nzSpan="16">
                <nz-form-control>
                    <nz-select [(ngModel)]="boxInit" [nzMode]="'default'"
                        (ngModelChange)="getMovements(startDate,endDate,selectedValue)" nzShowSearch
                        style="width: 100%;" nzAllowClear class="primary-select"
                        [ngClass]="{ 'error__input': !boxInit }">
                        <div>
                            <ng-container *ngFor="let cash of cashAccounts">
                                <nz-option [nzValue]="cash.id" [nzLabel]="cash.code + '-' + cash.description">
                                </nz-option>
                            </ng-container>
                        </div>
                    </nz-select>
                </nz-form-control>
            </div>
        </div>
        <div nz-row class="day-input">
            <div nz-col nzSpan="2" class="title-box">
                <label>Data</label>
            </div>
            <div nz-col nzSpan="5">
                <nz-select class="primary-select" [(ngModel)]="selectedValue" (ngModelChange)="onChangeSelectInput()"
                    style="width: 100%;">
                    <nz-option *ngFor="let option of selectOptions" [nzValue]="option.value" [nzLabel]="option.label">
                    </nz-option>
                </nz-select>
            </div>
            <div nz-col nzSpan="1"></div>
            <div *ngIf="selectedValue === 'CUSTOM'" nz-col class="date" nzSpan="5">
                <span>
                    <label>De </label>
                    <nz-date-picker class="primary-datePicker" [nzDisabledDate]=disableStartDate [nzFormat]="dateFormat"
                        [(ngModel)]="startDate" (ngModelChange)="onChangeStartDate($event)"
                        nzPlaceHolder="Data de início">
                    </nz-date-picker>
                </span>
            </div>
            <div *ngIf="selectedValue === 'CUSTOM'" nz-col class="date" nzSpan="5">
                <span>
                    <label>Até </label>
                    <nz-date-picker class="primary-datePicker" [nzDisabledDate]=disableEndDate [nzFormat]="dateFormat"
                        [(ngModel)]="endDate" (ngModelChange)="onChangeEndDate($event)" nzPlaceHolder="Date de fim">
                    </nz-date-picker>
                </span>
            </div>
        </div>
    </div>
    <div nz-row class="container">
        <div class="content-table">
            <nz-table class="table" #refTable [nzScroll]="{ x: '240px' }" [nzData]="data"
                (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading"
                [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData"
                [(nzPageSize)]="pageSize" (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
                <thead (nzSortChange)="sort($event)" nzSingleSort>
                    <tr class="table__header">

                        <th>
                            Caixa
                        </th>
                        <th nzShowSort nzSortKey="created_at">
                            Data
                        </th>
                        <th nzShowSort nzSortKey="entity">
                            Utente
                        </th>
                        <th nzShowSort nzSortKey="tin">
                            NIF Utente
                        </th>
                        <th>
                            Movimento
                        </th>
                        <th nzShowSort nzSortKey="operation">
                            Método Pagamento
                        </th>
                        <th nzShowSort nzSortKey="paid_value">
                            Valor
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-data [ngForOf]="refTable.data">
                        <tr>
                            <td>
                                {{data.cash_account ? (data.cash_account.code + '-' + data.cash_account.description)
                                : ''}}
                            </td>
                            <td> {{data.created_at | date: "dd-MM-yyyy" }}</td>
                            <td>
                                {{data.entity}}
                            </td>
                            <td>
                                {{data.tin}}
                            </td>
                            <td>
                                {{data.operation == 'CHARGE' ? 'Carregamento' : 'Devolução'}}
                            </td>
                            <td>
                                {{data.payment_method?.name}}
                            </td>
                            <td>
                                <div
                                    [ngClass]="{'color-green': data.operation == 'CHARGE', 'color-red': data.operation != 'CHARGE' }">
                                    {{data.operation == 'CHARGE' ? ('+' + (data.paid_value | number: '1.2-2')) : ('-' +
                                    (data.paid_value | number: '1.2-2')) }} €
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </nz-table>
        </div>

    </div>
    <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
        <button nz-button nzType="primary" (click)="generateReport()" [nzLoading]="loadingReport"
            *ngIf="('current_account:cash_account:read' | hasPermission)" class="generate-report">
            Gerar Relatório
        </button>
    </div>
</div>