// FIXME: MS must standardize
.IN_COLABORATION,
.COLABORATION {
  background-color: #1ba974;
}

.APPROVED {
  background-color: #0d69dd;
}

.CLOSED {
  background-color: #000000;
}

.NOT_SELECTED {
  background-color: #C1666B;
}

.WAITING {
  background-color: #f8ca00;
}

.WITHDRAWAL_ACCEPTED,
.WITHDRAWAL {
  background-color: #246A73;
}

// FIXME: MS must standardize
.CANCELLED,
.CANCELED {
  background-color: #A4A4A4;
}

.SELECTION {
  background-color: #076743;
}
