<div nzType="flex" nzAlign="middle" nzJustify="center" perfectScrollbar class="page ps scroll-container">
  <div class="container">
    <div nz-row>
       <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
        <div nz-row>
          <nz-form-label>Termo de Pesquisa</nz-form-label>
          <nz-form-control>
            <input type="text" nz-input [(ngModel)]="filters.search">
          </nz-form-control>
        </div>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
        <div nz-row>
          <nz-form-label>Estado</nz-form-label>
          <nz-form-control>
            <nz-select class="primary-select" nzAllowClear [(ngModel)]="filters.active" nzShowSearch
              style="width: 100%;">
              <nz-option *ngFor="let state of status" [nzLabel]="state.description" [nzValue]="state.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </div>
      </div>

      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>

      <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
        <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter" style="text-align: left;">
        <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content-table">
      <nz-table class="table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)"
        [nzLoading]="loading" [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true"
        [nzTotal]="totalData" [(nzPageSize)]="pageSize" (nzPageIndexChange)="pagination()"
        (nzPageSizeChange)="pagination(true)">
        <thead (nzSortChange)="sort($event)" nzSingleSort>
          <tr class="table__header">

            <th></th>
            <th>
              Nome (PT)
            </th>
            <th>
              Nome (EN)
            </th>
            <th>
              Descrição (PT)
            </th>
            <th>
              Descrição (EN)
            </th>
            <th nzShowSort nzSortKey="active">
              Ativo
            </th>
            <th nzRight="0px">Ações</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="refTable.data">
            <tr>

              <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
              <td>
                {{validTranslateName(3,data.translations)
                }}
              </td>
              <td>
                {{validTranslateName(4,data.translations)
                }}
              </td>
              <td>
                {{validTranslateDescription(3,data.translations)
                }}
              </td>
              <td>
                {{validTranslateDescription(4,data.translations)
                }}
              </td>
              <td>
                <fi-sas-tag [value]="data?.active"></fi-sas-tag>
              </td>
              <td nzRight="0px">
                <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
                  nzPlacement="bottomRight">
                  <i nz-icon nzType="dash" nzTheme="outline"></i>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li [nzDisabled]="!('alimentation:products:read' | hasPermission)" nz-menu-item
                      (click)="toggleAccessPrices(data.id, data.type)">
                      Preços
                    </li>
                    <li [nzDisabled]="!('alimentation:nutrients:read' | hasPermission)" nz-menu-item
                      (click)="toggleAccesNutrients(data.id)">
                      Nutrientes
                    </li>
                    <li [nzDisabled]="!('alimentation:allergens:read' | hasPermission)" nz-menu-item
                      (click)="toggleAccesAllergens(data.id)">
                      Alergénios
                    </li>
                    <li [nzDisabled]="!('alimentation:products:read' | hasPermission)" nz-menu-item
                      (click)="toggleAccesCompositions(data.id)">
                      Composição
                    </li>
                    <li [nzDisabled]="!('alimentation:complements:update' | hasPermission)" nz-menu-item
                      (click)="toggleAccesComplements(data.id)">
                      Complementos
                    </li>
                    <li [nzDisabled]="!('alimentation:products:update' | hasPermission)" *ngIf="data?.active == true"
                      (click)="desactive(data)" nz-menu-item>
                      Desativar</li>
                    <li [nzDisabled]="!('alimentation:products:update' | hasPermission)" *ngIf="data?.active == false"
                      (click)="active(data)" nz-menu-item>Ativar
                    </li>
                    <li [nzDisabled]="!('alimentation:products:update' | hasPermission)" nz-menu-item
                      (click)="editProduct(data.id)">
                      Editar
                    </li>
                    <li [nzDisabled]="!('alimentation:products:create' | hasPermission)" nz-menu-item
                      (click)="duplicateProduct(data.id)">
                      Duplicar
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
            <tr [nzExpand]="mapOfExpandData[data.id]">
              <td [attr.colspan]="columns.length + 7">
                <fi-sas-view-products [data]="data" [languages]="languages"></fi-sas-view-products>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<nz-modal [nzVisible]="accessModalPrices" (nzOnCancel)="accessModalPrices=false" (nzOnOk)="toggleAccessPrices(null, null)"
  nzWidth="1200" [nzOkText]="null" [nzCancelText]="'Fechar'">
  <div nz-row nzType="flex" nzAlign="middle" nzGutter="16">
    <div nz-col nzSpan="24">
      <form [formGroup]="productPricesForm" nzLayout="vertical">
        <div nz-row class="padding-top-30">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4" class="padding-right-20">
            <div nz-row>
              <nz-form-label nzRequired>
                Descrição
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <input nz-input type="text" formControlName="description" id="description">
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submmitedPrice && f.description.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="padding-right-20">
            <div nz-row>
              <nz-form-label nzRequired>
                Preço
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <input nz-input type="number" formControlName="price" id="price" min=1>
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submmitedPrice && f.price.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="padding-right-20">
            <div nz-row>
              <nz-form-label nzRequired>
                Taxa Iva
              </nz-form-label>
              <nz-form-control>
                <nz-select class="primary-select" formControlName="tax_id" nzShowSearch>
                  <nz-option *ngFor="let tax of taxes" [nzLabel]="tax?.name" [nzValue]="tax.id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submmitedPrice && f.tax_id.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="padding-right-20">
            <div nz-row>
              <nz-form-label [nzRequired]="typeProduct == 'canteen'">
                Menu
              </nz-form-label>
              <nz-form-control>
                <nz-select class="primary-select" formControlName="meal" nzShowSearch nzAllowClear>
                  <nz-option *ngFor="let meal of mealList" [nzLabel]="meal?.label" [nzValue]="meal.value">
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submmitedPrice && f.meal.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="padding-right-20">
            <div nz-row>
              <nz-form-label nzRequired>
                Horas
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <nz-time-picker formControlName="time" [(ngModel)]="time1" [nzDefaultOpenValue]="defaultOpenValue">
                </nz-time-picker>
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submmitedPrice && f.time.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4" class="padding-right-20">
            <div nz-row>
              <nz-form-label nzRequired>
                Perfil de utilizador
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <nz-select class="primary-select" formControlName="profile_id" nzShowSearch>
                  <nz-option *ngFor="let profile of profiles" [nzLabel]="profile?.name" [nzValue]="profile.id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submmitedPrice && f.profile_id.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="3" [nzXXl]="3" style="padding-top: 44px;">
            <button nz-button (click)="addPrices()" [disabled]="!('alimentation:products:update' | hasPermission)" >Adicionar</button>
          </div>
        </div>
      </form>
      <div *ngIf="productPrices" style="padding-top: 20px;">
        <nz-spin [nzSpinning]="loading_prices">
            <div nz-row *ngFor="let price of productPrices; let i=index" style="margin-top: 20px;">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4" class="padding-right-20">
                <b>{{ price.description }}</b>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="padding-right-20">
                <b>{{ price.price }} €</b>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="padding-right-20">
                <b>{{ price?.tax?.name }}</b>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="padding-right-20">
                <b *ngIf="price.meal === 'dinner'">Jantar</b>
                <b *ngIf="price.meal === 'lunch'">Almoço</b>
                <b *ngIf="price.meal != 'lunch' && price.meal != 'dinner'">-</b>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="padding-right-20">
                <b>{{ price.time }}</b>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4" class="padding-right-20">
                <b>{{ price?.profile?.name }}</b>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="3" [nzXXl]="3">
                <button nz-button nzType="danger" (click)="removePrices(price)" [disabled]="!('alimentation:products:update' | hasPermission)"><i nz-icon
                  nzType="delete"></i>Remover</button>
              </div>
              <div nz-col [nzXs]="24">
                <nz-divider *ngIf="i<productPrices.length-1"></nz-divider>
              </div>
              
              
            </div>
        </nz-spin>
      </div>
    </div>

  </div>
</nz-modal>


<nz-modal [nzVisible]="accessModalNutrients" (nzOnCancel)="toggleAccesNutrients(null)"
  (nzOnOk)="toggleAccesNutrients(null)" nzWidth="1200" [nzOkText]="null" [nzCancelText]="'Fechar'">
  <div nz-row nzType="flex" nzAlign="middle" nzGutter="16">
    <div nz-col nzSpan="16">
      <form [formGroup]="productNutrientForm" nzLayout="vertical">
        <div nz-row class="padding-top-30" style="margin-left: 16px;">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="13" [nzLg]="13" [nzXl]="13" [nzXXl]="13" class="padding-right-20">
            <div nz-row>
              <nz-form-label nzRequired>
                Nutriente
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <nz-select class="primary-select" formControlName="nutrient_id" nzShowSearch>
                  <nz-option *ngFor="let nutrient of listNutrients" [nzLabel]="(nutrient?.translations | translation)?.name + ' [' + nutrient.unit.acronym + ']'"
                    [nzValue]="nutrient.id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submmitedNutrient && ff.nutrient_id.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
            <div nz-row>
              <nz-form-label nzRequired>
                Quantidade
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <input nz-input type="number" formControlName="quantity" id="quantity">
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submmitedNutrient && ff.quantity.errors">
                Campo inválido
              </nz-form-explain>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div nz-col nzSpan="4" style="margin-top: 60px; margin-left: -18px;">
      <button nz-button (click)="addNutrient()"
        [disabled]="(productNutrientForm.get('quantity').value<=0 || !productNutrientForm.get('nutrient_id').value) && !('alimentation:nutrients:update' | hasPermission)">Adicionar</button>
    </div>
  </div>
  <nz-list *ngIf="productNutrients" style="margin-top: 16px;">
    <nz-spin [nzSpinning]="loading_nutrients">
      <nz-list-item *ngFor="let nutrient of productNutrients" style="margin-left: 16px;">
        <div nz-row nzType="flex" nzAlign="middle" nzJustify="space-between" nzGutter="16" style="width: 75%;">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="10" [nzLg]="10" [nzXl]="10" [nzXXl]="10"><b>{{
              (nutrient?.nutrient?.translations | translation)?.name + ' [' + nutrient?.nutrient?.unit?.acronym + ']'}}</b></div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4"><b>{{ nutrient?.quantity }} </b></div>
          <div nz-col><button nz-button nzType="danger" (click)="removeNutrient(nutrient)" [disabled]="!('alimentation:nutrients:update' | hasPermission)"><i nz-icon
                nzType="delete"></i>Remover</button></div>
        </div>
      </nz-list-item>
    </nz-spin>
  </nz-list>
</nz-modal>


<nz-modal [nzVisible]="accessModalAllergens" (nzOnCancel)="toggleAccesAllergens(null)"
  (nzOnOk)="toggleAccesAllergens(null)" nzWidth="1200" [nzOkText]="null" [nzCancelText]="'Fechar'">
  <div nz-row nzType="flex" nzAlign="middle" nzGutter="16">
    <div nz-col nzSpan="10">
      <form [formGroup]="productAllergenForm" nzLayout="vertical">
        <div nz-row class="padding-top-30" style="margin-left: 16px;">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="padding-right-20">
            <div nz-row>
              <nz-form-label nzRequired>
                Alergénico
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <nz-select class="primary-select" formControlName="allergen_id" nzShowSearch>
                  <nz-option *ngFor="let allergen of listAllergens" [nzLabel]="(allergen?.translations | translation)?.name"
                    [nzValue]="allergen.id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submmitedAllergen && fa.allergen_id.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div nz-col nzSpan="4" style="margin-top: 67px;">
      <button nz-button (click)="addAllergens()"
        [disabled]="!productAllergenForm.get('allergen_id').value && !('alimentation:allergens:update' | hasPermission)">Adicionar</button>
    </div>
  </div>
  <nz-list *ngIf="productAllergens" style="margin-top: 16px;">
    <nz-spin [nzSpinning]="loading_allergens">
      <nz-list-item *ngFor="let allergen of productAllergens" style="margin-left: 16px;">
        <div nz-row nzType="flex" nzAlign="middle" nzJustify="space-between" nzGutter="16" style="width: 70%;">
          <div nz-col><b>{{ (allergen?.translations | translation)?.name }}</b></div>
          <div nz-col style="margin-right: -25px;"><button nz-button nzType="danger" [disabled]="!('alimentation:allergens:update' | hasPermission)" (click)="removeAllergen(allergen)"><i nz-icon
                nzType="delete"></i>Remover</button></div>
        </div>
      </nz-list-item>
    </nz-spin>
  </nz-list>
</nz-modal>


<nz-modal [nzVisible]="accessModalCompositions" (nzOnCancel)="toggleAccesCompositions(null)"
  (nzOnOk)="toggleAccesCompositions(null)" nzWidth="1200" [nzOkText]="null" [nzCancelText]="'Fechar'">
  <div nz-row nzType="flex" nzAlign="middle" nzGutter="16">
    <div nz-col nzSpan="16">
      <form [formGroup]="productCompositionForm" nzLayout="vertical">
        <div nz-row class="padding-top-30" style="margin-left: 16px;">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="13" [nzLg]="13" [nzXl]="13" [nzXXl]="13" class="padding-right-20">
            <div nz-row>
              <nz-form-label nzRequired>
                Composição
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <!--<nz-select class="primary-select" formControlName="compound_id" nzShowSearch>
                  <nz-option *ngFor="let product of listCompositions" [nzLabel]="(product?.translations | translation)?.name + ' [' + product.unit.acronym + ']'"
                    [nzValue]="product.id">
                  </nz-option>
                </nz-select>-->
                <nz-select class="primary-select" formControlName="compound_id"  nzShowSearch [nzServerSearch]="true" (nzOnSearch)="onProductSearch($event)" [nzLoading]="isListCompositionsLoading">
                  <nz-option *ngFor="let product of listCompositions" [nzLabel]="(product?.translations | translation)?.name + ' [' + product.unit.acronym + ']'"
                    [nzValue]="product.id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submmitedComposition && fc.compound_id.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
            <div nz-row>
              <nz-form-label nzRequired>
                Quantidade
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <input nz-input type="number" formControlName="quantity" id="quantity">
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submmitedComposition && fc.quantity.errors">
                Campo inválido
              </nz-form-explain>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div nz-col nzSpan="4" style="margin-top: 67px; margin-left: -18px;">
      <button nz-button (click)="addComposition()"
        [disabled]="!('alimentation:products:update' | hasPermission)">Adicionar</button>
    </div>
  </div>
  <nz-list *ngIf="productCompositions" style="margin-top: 16px;">
    <nz-spin [nzSpinning]="loading_compositions">
      <nz-list-item *ngFor="let compound of productCompositions" style="margin-left: 16px;">
        <div nz-row nzType="flex" nzAlign="middle" nzJustify="space-between" nzGutter="16" style="width: 75%;">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5"><b>{{
              (compound?.compound?.translations | translation)?.name + ' [' + compound?.compound?.unit?.acronym + ']'}}</b></div>
          <div nz-col><b>{{ compound?.quantity }} </b></div>
          <div nz-col><button nz-button nzType="danger" [disabled]="!('alimentation:products:update' | hasPermission)" (click)="removeComposition(compound)"><i nz-icon
                nzType="delete"></i>Remover</button></div>
        </div>
      </nz-list-item>
    </nz-spin>
  </nz-list>
</nz-modal>


<nz-modal [nzVisible]="accessModalComplements" (nzOnCancel)="toggleAccesComplements(null)"
  (nzOnOk)="toggleAccesComplements(null)" nzWidth="1200" [nzOkText]="null" [nzCancelText]="'Fechar'">
  <div nz-row nzType="flex" nzAlign="middle" nzGutter="16">
    <div nz-col nzSpan="10">
      <form [formGroup]="productComplementForm" nzLayout="vertical">
        <div nz-row class="padding-top-30" style="margin-left: 16px;">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="padding-right-20">
            <div nz-row>
              <nz-form-label nzRequired>
                Complemento
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <nz-select class="primary-select" formControlName="complement_id" nzShowSearch>
                  <nz-option *ngFor="let complement of listComplements" [nzLabel]=" (complement?.translations | translation).name"
                    [nzValue]="complement.id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submmitedComplement && fcc.complement_id.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div nz-col nzSpan="4" style="margin-top: 67px;">
      <button nz-button (click)="addComplements()"
        [disabled]="!productComplementForm.get('complement_id').value && !('alimentation:complements:update' | hasPermission)">Adicionar</button>
    </div>
  </div>
  <nz-list *ngIf="productComplements" style="margin-top: 16px;">
    <nz-spin [nzSpinning]="loading_complements">
      <nz-list-item *ngFor="let complement of productComplements" style="margin-left: 16px;">
        <div nz-row nzType="flex" nzAlign="middle" nzJustify="space-between" nzGutter="10" style="width: 70%;">
          <div nz-col><b>{{ (complement?.translations | translation)?.name }}</b></div>
          <div nz-col style="margin-right: -25px;"><button nz-button nzType="danger" [disabled]="!('alimentation:complements:update' | hasPermission)"  (click)="removeComplement(complement)"><i nz-icon
                nzType="delete"></i>Remover</button></div>
        </div>
      </nz-list-item>
    </nz-spin>
  </nz-list>
</nz-modal>