<div class="product-list-options">

  <div nz-row>
    <div nz-col nzSpan=1></div>
    <div nz-col nzSpan=18>
      <div class="product-list-options__title">
        {{ 'PRODUCT.OPTIONS.TITLE' | translate }}
      </div>
      <button nz-button [nzGhost]="true" class="active">
        <i nz-icon>
          <svg-icon
            src="assets/icons/icons-radiobutton-checked.svg"
            [svgStyle]="{ 'width.px': 18, 'height.px': 18 }"
          ></svg-icon>
        </i>
        {{ selectedDishType == 'lunch' ? ('PRODUCT.OPTIONS.TYPE_1' | translate) :  ('PRODUCT.OPTIONS.TYPE_2' | translate) }}
      </button>
      <!--
      <button nz-button [nzGhost]="true">
        Pack semanal
      </button>
      -->
    </div>
    <div nz-col nzSpan=1></div>
  </div>

  <!-- BUTTON ACTIVE TEMPLATE -->

  <!--
  <button nz-button [nzGhost]="true" class="active">
    <i nz-icon>
      <svg-icon src="assets/icons/icons-radiobutton-checked-outline.svg" [svgStyle]="{ 'width.px':22, 'height.px':22 }"></svg-icon>
    </i>
    Diária
  </button>
  -->

</div>
