@import 'default-theme.less';

:host::ng-deep {

  .product-list-options {

    border-top: 1px solid @fisas-grey-03;
    border-bottom: 1px solid @fisas-grey-03;

    .ant-row {
      width: 100%;
    }

    button {
      margin: 0 6px;
    }

    display: flex;
    align-items: center;
    height: 72px;
    padding: 0 6px;
    flex-wrap: nowrap;

    &__title {
      margin-right: 6px;
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      display: inline-block;
      text-transform: uppercase;
      color: @fisas-grey-08;
    }
  }

}
