<nz-tabset nzTabPosition="left">

  <nz-tab nzTitle="Outras informações">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
        <div nz-row class="title">
          Tipo de serviço
        </div>
        <div nz-row class="detail-field">
          <span *ngIf="data.type === 'bar'">
            Bar
          </span>
          <span *ngIf="data.type === 'canteen'">
            Cantina
          </span>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
        <div nz-row class="title">
          Tipo de rastreamento de stock
        </div>
        <div nz-row class="detail-field">
          <span *ngIf="data.track_stock === 'product'">
            Produto
          </span>
          <span *ngIf="data.track_stock === 'composition'">
            Composição
          </span>
          <span *ngIf="data.track_stock === 'product_composition'">
            Produto / Composição
          </span>
          <span *ngIf="data.track_stock === 'none'">
            Nenhum
          </span>
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Disponibilidade">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4">
        <div nz-row class="title">
          Segunda-Feira
        </div>
        <div nz-row>
          <fi-sas-tag [value]="data?.disponibility?.monday"></fi-sas-tag>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4">
        <div nz-row class="title">
          Terça-Feira
        </div>
        <div nz-row>
          <fi-sas-tag [value]="data?.disponibility?.tuesday"></fi-sas-tag>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4">
        <div nz-row class="title">
          Quarta-Feira
        </div>
        <div nz-row>
          <fi-sas-tag [value]="data?.disponibility?.wednesday"></fi-sas-tag>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4">
        <div nz-row class="title">
          Quinta-Feira
        </div>
        <div nz-row>
          <fi-sas-tag [value]="data?.disponibility?.thursday"></fi-sas-tag>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4">
        <div nz-row class="title">
          Sexta-Feira
        </div>
        <div nz-row>
          <fi-sas-tag [value]="data?.disponibility?.friday"></fi-sas-tag>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4">
        <div nz-row class="title">
          Sábado
        </div>
        <div nz-row>
          <fi-sas-tag [value]="data?.disponibility?.saturday"></fi-sas-tag>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4">
        <div nz-row class="title"> 
          Domingo
        </div>
        <div nz-row>
          <fi-sas-tag [value]="data?.disponibility?.sunday"></fi-sas-tag>
        </div>
      </div>
    </div>
    <div nz-row tyle="margin-top: 16px;">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="5" class="title">
          Data de Início
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="detail-field">
        {{data?.disponibility?.begin_date ? (data?.disponibility?.begin_date | date: 'dd/MM/yyyy') : '-'}}
      </div>
    </div>
    <div nz-row style="margin-top: 16px;" >
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="5" class="title">
        Data da Fim
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="detail-field">
        {{data?.disponibility?.end_date ? (data?.disponibility?.end_date | date: 'dd/MM/yyyy') : '-'}}
      </div>
    </div>
    <div nz-row style="margin-top: 16px;">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="5" class="title">
        Hora máxima para anulação
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="detail-field">
        {{annulment_maximum_hour ? (annulment_maximum_hour | date: 'HH:mm') + 'h' : '-'}}
      </div>
    </div>
    <div nz-row style="margin-top: 16px;">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="5" class="title">
        Hora mínima
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="detail-field">
        {{minimum_hour ? (minimum_hour | date: 'HH:mm') + 'h' : '-'}}
      </div>
    </div>
    <div nz-row style="margin-top: 16px;">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="5" class="title">
        Hora máxima
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="detail-field">
        {{maximum_hour ? (maximum_hour | date: 'HH:mm') + 'h' : '-'}}
      </div>
    </div>
  </nz-tab>
</nz-tabset>