<nz-collapse>
  <nz-collapse-panel
    nzHeader="Fechar todas as candidaturas no ano letivo"
  >

  <div class="content-form">
    <form [formGroup]="closeApplications" nzLayout="vertical">
      <div nz-row [nzGutter]="24">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzFor="close_academic_year">Fechar todas as candidaturas no ano letivo
            </nz-form-label>
            <nz-form-control>
              <nz-select
                formControlName="close_academic_year"
                id="close_academic_year"
                name="close_academic_year"
                nzAllowClear
              >
                <nz-option *ngFor="let academic_year of academic_years" [nzLabel]="academic_year.academic_year"
                  [nzValue]="academic_year.academic_year">
                </nz-option>
              </nz-select>
              <nz-form-explain class="error" *ngIf="submit && closeApplications.get('close_academic_year').value==null">
                Campo obrigatório
              </nz-form-explain>
            </nz-form-control>

          </nz-form-item>
        </div>

        <div nz-col nzSpan="12" class="content-form__actions">
          <button nz-button nzType="primary" type="submit"
            (click)="submitFormCloseApplications($event, closeApplications.value)"
            [disabled]="!('social_scholarship:configurations:update' | hasPermission)" [nzLoading]="loading">
            Aplicar
          </button>
        </div>
      </div>
    </form>
  </div>


  </nz-collapse-panel>
</nz-collapse>

<div nz-row class="space-form"></div>

<div class="content-form">
  <form [formGroup]="configurationForm" nzLayout="vertical">
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="financial_notification_email">Email para notifição de pagamentos
          </nz-form-label>
          <nz-form-control nzErrorTip="Campo inválido">
            <input nz-input formControlName="financial_notification_email" id="financial_notification_email"
              name="financial_notification_email"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired nzFor="max_application_monthly_hours">Nº máximo de horas de colaboração
          </nz-form-label>
          <nz-form-control nzErrorTip="Campo inválido">
            <input
              nz-input
              formControlName="max_application_monthly_hours"
              id="max_application_monthly_hours"
              type="number"
              name="max_application_monthly_hours"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired nzFor="has_current_account">Usar conta corrente</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <nz-switch formControlName="has_current_account" id="has_current_account"></nz-switch>
          </nz-form-control>
        </nz-form-item>

        <ng-container *ngIf="configurationForm.get('current_account_id').enabled">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="current_account_id">Conta Corrente</nz-form-label>
            <nz-form-control nzErrorTip="Campo obrigatório">
              <nz-select formControlName="current_account_id" id="current_account_id" name="current_account_id">
                <nz-option *ngFor="let currentAccount of currentAccounts" [nzLabel]="currentAccount.name"
                  [nzValue]="currentAccount.id">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </ng-container>

        <nz-form-item>
          <nz-form-label nzRequired nzFor="profile_id">Perfil para utilizadores externos</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
          <nz-select formControlName="profile_id" id="profile_id" name="profile_id" nzAllowClear>
            <nz-option *ngFor="let profile of profiles" [nzLabel]="profile.name" [nzValue]="profile.id">
            </nz-option>
          </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired nzFor="responsable_profile">Perfis para responsáveis das ofertas</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
          <nz-select nzMode="multiple" formControlName="responsable_profile" id="responsable_profile" name="responsable_profile" nzAllowClear>
            <nz-option *ngFor="let profile of profiles" [nzLabel]="profile.name" [nzValue]="profile.id">
            </nz-option>
          </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired nzFor="assigned_status_auto_change">Mudança de estado automática</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <nz-switch formControlName="assigned_status_auto_change" id="assigned_status_auto_change"></nz-switch>
          </nz-form-control>
        </nz-form-item>

        <ng-container *ngIf="configurationForm.get('assigned_status_auto_change').value">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="status_auto_change_days">Nº de dias para a mudança de estado automática</nz-form-label>
            <nz-form-control nzErrorTip="Campo inválido">
              <input
                nz-input
                formControlName="status_auto_change_days"
                id="status_auto_change_days"
                type="number"
                name="status_auto_change_days"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzFor="event_for_auto_change">Estado para mudança automática</nz-form-label>
            <nz-form-control nzErrorTip="Campo obrigatório">
              <input
                nz-input
                formControlName="event_for_auto_change"
                id="event_for_auto_change"
                type="text"
                name="event_for_auto_change"
              />
            </nz-form-control>
          </nz-form-item>
        </ng-container>
        <!-- Users para notifications -->
        <nz-form-item>
          <nz-form-label nzFor="application_notifications">Responsáveis para receber notificações das Candidaturas</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
          <nz-select nzMode="multiple" formControlName="application_notifications" id="application_notifications" name="application_notifications" nzAllowClear [nzServerSearch]="true" (nzOnSearch)="onSearchUsers($event)">
            <nz-option *ngFor="let user of users" [nzLabel]="user.name" [nzValue]="user.id">
            </nz-option>
          </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="experience_notifications">Responsáveis para receber notificações das Ofertas</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
          <nz-select nzMode="multiple" formControlName="experience_notifications" id="experience_notifications" name="experience_notifications" nzAllowClear [nzServerSearch]="true" (nzOnSearch)="onSearchUsers($event)">
            <nz-option *ngFor="let user of users" [nzLabel]="user.name" [nzValue]="user.id">
            </nz-option>
          </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="interests_notifications">Responsáveis para receber notificações das Manifestações de Interesse</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
          <nz-select nzMode="multiple" formControlName="interests_notifications" id="interests_notifications" name="interests_notifications" nzAllowClear [nzServerSearch]="true" (nzOnSearch)="onSearchUsers($event)">
            <nz-option *ngFor="let user of users" [nzLabel]="user.name" [nzValue]="user.id">
            </nz-option>
          </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="accepted_application_status_auto_change">Mudança automática da candidatura para Aprovada</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <nz-switch formControlName="accepted_application_status_auto_change" id="accepted_application_status_auto_change"></nz-switch>
          </nz-form-control>
        </nz-form-item>

      </div>
    </div>
  </form>
</div>

<div [formGroup]="configurationForm"  class="space" nz-row>
  <button nz-button [nzLoading]="configurationLoading" [disabled]="configurationLoading"
    (click)="submitForm($event)" type="button" [nzType]="'primary'"><i nz-icon nzType="save"></i>Gravar</button>
</div>
