<div nz-row nzType="flex" nzAlign="middle" nzJustify="start">
  <div nz-col [nzSpan]="1"></div>
  <div nz-col [nzSpan]="23">
    <div nz-row nzType="flex" nzAlign="middle" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Código
        </div>
        <div nz-row class="detail-field">
          {{data.code}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Descrição
        </div>
        <div nz-row class="detail-field">
          {{data.description}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Data de criação
        </div>
        <div nz-row class="detail-field">
          {{data.created_at | date}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Ultima atualização
        </div>
        <div nz-row class="detail-field">
          {{data.updated_at | date}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          IBAN
        </div>
        <div nz-row class="detail-field">
          {{data?.iban ? data?.iban : '-'}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Utilizadores autorizados
        </div>
        <div nz-row class="detail-field" *ngIf="data?.users?.length==0">
          Sem utilizadores autorizados
        </div>
        <div nz-row class="detail-field" *ngIf="data?.users?.length>0">
          <div *ngFor="let user of data.users">
            {{user.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>