@import "theme";

.forms {
    margin-top: 25px;
    margin-bottom: 40px;

    
}

.border-radius-8 {
    border-radius: 8px;
}

.button{
  /* padding-bottom: 35px; */
  /* padding-top: 35px; */
  text-align: center;
  display: grid;
  align-items: center;
  /* margin-top: 15px; */
  cursor: pointer;
  font-weight: bold;
  height: 120px;
  margin: 10px;
}

.button:hover{
    background-color:var(--primary-color);
    color: white;
}

.button:active{
    background-color:var(--primary-color);
    color: white;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}
