<div *ngIf="typeForm == '' && typeFormFiles == '' && application_id" nz-row>

  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>
  <div nz-col nz-col [nzXs]="22" [nzSm]="20" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
    <div class="forms">
      <h2 class="title-top-page">{{ 'U_BIKE.FORMS.TITLE' | translate }}</h2>

      <div nz-row nzType="flex" nzAlign="middle" nzJustify="start">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8"
          (click)="changeTypeForm('complaint')" [ngClass]="{ 'disabled' : !validationSigned }">
          <nz-card class="border-radius-8 button">
            <span>{{ 'U_BIKE.FORMS.BUTTONS.COMPLAINT' | translate }}</span>
          </nz-card>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8"
          (click)="changeTypeForm('absence')" [ngClass]="{ 'disabled' : !validationContracted}">
          <nz-card class="border-radius-8 button">
            <span>{{ 'U_BIKE.FORMS.BUTTONS.ABSENCE' | translate }}</span>
          </nz-card>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8"
          (click)="changeTypeForm('renovation')" [ngClass]="{ 'disabled' : !validationContracted}">
          <nz-card class="border-radius-8 button">
            <span>{{ 'U_BIKE.FORMS.BUTTONS.RENOVATION' | translate }}</span>
          </nz-card>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8"
          (click)="changeTypeForm('withdrawal')" [ngClass]="{ 'disabled' : !validationContracted}">
          <nz-card class="border-radius-8 button">
            <span>{{ 'U_BIKE.FORMS.BUTTONS.WITHDRAWAL' | translate }}</span>
          </nz-card>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8"
          (click)="changeTypeFormFiles('maintenance_request')" [ngClass]="{ 'disabled' : !validationContracted}">
          <nz-card class="border-radius-8 button">
            <span>{{ 'U_BIKE.FORMS.BUTTONS.MAINTENANCE' | translate }}</span>
          </nz-card>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8"
          (click)="changeTypeFormFiles('private_maintenance')" [ngClass]="{ 'disabled' : !validationContracted}">
          <nz-card class="border-radius-8 button">
            <span>{{ 'U_BIKE.FORMS.BUTTONS.PRIVATEMAINTENANCE' | translate }}</span>
          </nz-card>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8"
          (click)="changeTypeFormFiles('breakdown')" [ngClass]="{ 'disabled' : !validationContracted}">
          <nz-card class="border-radius-8 button">
            <span>{{ 'U_BIKE.FORMS.BUTTONS.BREAKDOWNS' | translate }}</span>
          </nz-card>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8"
          (click)="changeTypeForm('add_maintenance_kit')" [ngClass]="{ 'disabled' : !validationContracted}">
          <nz-card class="border-radius-8 button">
            <span>{{ 'U_BIKE.FORMS.BUTTONS.MAINTENANCEKIT' | translate }}</span>
          </nz-card>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8"
          (click)="changeTypeFormFiles('theft')" [ngClass]="{ 'disabled' : !validationContracted}">
          <nz-card class="border-radius-8 button">
            <span>{{ 'U_BIKE.FORMS.BUTTONS.THEFT' | translate }}</span>
          </nz-card>
        </div>


      </div>
    </div>
  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>
</div>
<div *ngIf="!application_id" nz-row>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>
  <div nz-col nz-col [nzXs]="22" [nzSm]="20" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
    <div class="forms">
      <h2 class="title-top-page">{{ 'U_BIKE.FORMS.TITLE' | translate }}</h2>
      <p class="sub-title-top-page">{{ 'U_BIKE.APPLICATIONS.NO_APPLICATION' | translate }}</p>
    </div>
  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>

</div>


<app-simple-form *ngIf="typeForm != ''" [typeForm]="typeForm" [application_id]="application_id"
  [formEdit]="formEdit?formEdit:null" (cancelRequest)="cancel($event)"></app-simple-form>

<app-simple-files-form *ngIf="typeFormFiles != ''" [typeForm]="typeFormFiles" [application_id]="application_id"
  [formEdit]="formEdit?formEdit:null" (cancelRequest)="cancel($event)"></app-simple-files-form>
