<nz-spin [nzSpinning]="loadingPage">
  <div class="dashboard">
    <div nz-row style="margin-bottom: 0.8cm;" *ngIf="logged">
      <div nz-col style="float: right;">
        {{ "DASHBOARD.SWITCH_TITLE" | translate}} <nz-switch [(ngModel)]="custumizeToggle">
        </nz-switch>
      </div>
    </div>
    <!-------------------Federated authentication-------------->
    <!--<div nz-row *ngIf="!logged">
      <div nz-col>
        <app-federated-authentication-widget>
        </app-federated-authentication-widget>
      </div>
    </div>-->

    <ng-container cdkDropListGroup>
      <div cdkDropList #sidebarList="cdkDropList" [cdkDropListData]="appArrayWidgets" class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div div *ngFor="let item of appArrayWidgets" class="example-box" [cdkDragDisabled]="!custumizeToggle" cdkDrag>

          <!-------------------buttons menu------------------>
          <div nz-row *ngIf="logged">
            <div nz-col *ngIf="shownActive(buttons) || shownActiveCustomize(buttons)">
              <div nz-row style="margin-bottom: 0.1cm;" *ngIf="custumizeToggle && item.widget.type=='buttons-widget'">
                <div nz-col style="float: right;">
                  <nz-switch [(ngModel)]="buttons.active"></nz-switch>
                </div>
              </div>
              <app-buttons-menu-widget *ngIf="item.widget.type=='buttons-widget'" [active]="buttons.active" [btns]="btns"
                [custumizeToggle]="custumizeToggle">
              </app-buttons-menu-widget>
            </div>
          </div>

          <!-------------------------Posts---------------------------->
          <div *ngIf="(logged && ('communication' | hasPermission)) || !logged">
            <div nz-row *ngIf="shownActive(posts) || shownActiveCustomize(posts)">
              <div nz-col>
                <div nz-row style="margin-bottom: 0.1cm;" *ngIf="custumizeToggle && item.widget.type=='posts-widget'">
                  <div nz-col style="float: right;">
                    <nz-switch [(ngModel)]="posts.active"></nz-switch>
                  </div>
                </div>
                <app-posts-widget *ngIf="item.widget.type=='posts-widget'" [posts]="posts"
                  [custumizeToggle]="custumizeToggle">
                </app-posts-widget>
              </div>
            </div>
          </div>


          <!--------------------------Meals------------------------->
          <div nz-row *ngIf="logged && ('alimentation' | hasPermission)">
            <div nz-col *ngIf="shownActive(meals) || shownActiveCustomize(meals)">
              <div nz-row style="margin-bottom: 0.1cm;" *ngIf="custumizeToggle && item.widget.type=='meals-widget'">
                <div nz-col style="float: right;">
                  <nz-switch [(ngModel)]="meals.active"></nz-switch>
                </div>
              </div>
              <app-meals-logged-widget [meals]="meals" *ngIf="item.widget.type=='meals-widget'"
                [custumizeToggle]="custumizeToggle">
              </app-meals-logged-widget>
            </div>
          </div>

          <div nz-row *ngIf="!logged">
            <div nz-col *ngIf="shownActive(meals) || shownActiveCustomize(meals)">
              <div nz-row style="margin-bottom: 0.1cm;" *ngIf="custumizeToggle && item.widget.type=='meals-widget'">
                <div nz-col style="float: right;">
                  <nz-switch [(ngModel)]="meals.active"></nz-switch>
                </div>
              </div>
              <app-meals-widget [services]="meals" *ngIf="item.widget.type=='meals-widget'"
                [custumizeToggle]="custumizeToggle"></app-meals-widget>
            </div>
          </div>

          <!--------------------------Accommodation-------------------->
          
          <div *ngIf="(logged && ('private_accommodation' | hasPermission)) || !logged">
            <div *ngIf="shownActive(accommodation) || shownActiveCustomize(accommodation)" nz-row>
              <div nz-col>
                <div nz-row style="margin-bottom: 0.1cm;"
                  *ngIf="custumizeToggle && item.widget.type=='accommodation-applications-widget'">
                  <div nz-col style="float: right;">
                    <nz-switch [(ngModel)]="accommodation.active"></nz-switch>
                  </div>
                </div>
                <app-accommodation-widget *ngIf="item.widget.type=='accommodation-applications-widget'"
                  [listProperties]="accommodation" [custumizeToggle]="custumizeToggle" [translations]="translationsAccommo">
                </app-accommodation-widget>
              </div>
            </div>
          </div>


          <!--------------------------Current Account-------------------->
          <div nz-row *ngIf="logged && ('current_account' | hasPermission)">
            <div nz-col *ngIf="shownActive(currentAccount) || shownActiveCustomize(currentAccount)">
              <div nz-row style="margin-bottom: 0.1cm;"
                *ngIf="custumizeToggle && item.widget.type=='current-account-widget'">
                <div nz-col style="float: right;">
                  <nz-switch [(ngModel)]="currentAccount.active"></nz-switch>
                </div>
              </div>
              <app-current-account-widget *ngIf="item.widget.type=='current-account-widget'"
                [movementsBalance]="currentAccount" [custumizeToggle]="custumizeToggle" [translations]="translationsCA">
              </app-current-account-widget>
            </div>
          </div>

          <!-------------------Mobility-------------------->
          <div nz-row *ngIf="logged && ('bus' | hasPermission)">
            <div nz-col *ngIf="shownActive(mobility) || shownActiveCustomize(mobility)">
              <div nz-row style="margin-bottom: 0.1cm;" *ngIf="custumizeToggle && item.widget.type=='mobility-widget'">
                <div nz-col style="float: right;">
                  <nz-switch [(ngModel)]="mobility.active"></nz-switch>
                </div>
              </div>
              <app-mobility-widget [custumizeToggle]="custumizeToggle" *ngIf="item.widget.type=='mobility-widget'"
                [mobility]="mobility" [translations]="translationsMobility">
              </app-mobility-widget>
            </div>
          </div>

          <!----------------------Ubike-------------------->
          <div nz-row *ngIf="logged && ('u_bike' | hasPermission)">
            <div nz-col *ngIf="shownActive(ubike) || shownActiveCustomize(ubike)">
              <div nz-row style="margin-bottom: 0.1cm;" *ngIf="custumizeToggle && item.widget.type=='ubike-widget'">
                <div nz-col style="float: right;">
                  <nz-switch [(ngModel)]="ubike.active"></nz-switch>
                </div>
              </div>
              <app-u-bike-widget [ubike]="ubike" *ngIf="item.widget.type=='ubike-widget'"
                [custumizeToggle]="custumizeToggle" [translations]="translationsUbike">
              </app-u-bike-widget>
            </div>
          </div>

          <!--------------------------Social-support-------------------->
          <div nz-row *ngIf="logged && ('social_scholarship' | hasPermission)">
            <div nz-col *ngIf="shownActive(applicationSocialSupport) || shownActiveCustomize(applicationSocialSupport)">
              <div nz-row style="margin-bottom: 0.1cm;"
                *ngIf="custumizeToggle && item.widget.type=='applications-social-scholarship-widget'">
                <div nz-col style="float: right;">
                  <nz-switch [(ngModel)]="applicationSocialSupport.active"></nz-switch>
                </div>
              </div>
              <app-my-applications-social-support-widget *ngIf="item.widget.type=='applications-social-scholarship-widget'"
                [custumizeToggle]="custumizeToggle" [myApplicationsSocialSupport]="applicationSocialSupport"
                (successWithdrawal)="successWithdrawal($event)">
              </app-my-applications-social-support-widget>
            </div>
          </div>
          <div *ngIf="(logged && ('social_scholarship' | hasPermission)) || !logged">
            <div nz-row *ngIf="shownActive(experienceSocialSupport) || shownActiveCustomize(experienceSocialSupport)">
              <div nz-col>
                <div nz-row style="margin-bottom: 0.1cm;"
                  *ngIf="custumizeToggle && item.widget.type=='experiences-social-scholarship-widget'">
                  <div nz-col style="float: right;">
                    <nz-switch [(ngModel)]="experienceSocialSupport.active"></nz-switch>
                  </div>
                </div>
                <app-social-support-widget *ngIf="item.widget.type=='experiences-social-scholarship-widget'"
                  [experienceSocialSupport]="experienceSocialSupport" [custumizeToggle]="custumizeToggle">
                </app-social-support-widget>
              </div>
            </div>
          </div>


          <!--------------------------Volunteering-------------------->
          <div *ngIf="(logged && ('volunteering' | hasPermission)) || !logged">
            <div nz-row *ngIf="shownActive(volunteering) || shownActiveCustomize(volunteering)">
              <div nz-col>
                <div nz-row style="margin-bottom: 0.1cm;"
                  *ngIf="custumizeToggle && item.widget.type=='volunteering-widget'">
                  <div nz-col style="float: right;">
                    <nz-switch [(ngModel)]="volunteering.active"></nz-switch>
                  </div>
                </div>
                <app-volunteering-widget *ngIf="item.widget.type=='volunteering-widget'"
                  [experienceVolunteering]="volunteering" [custumizeToggle]="custumizeToggle">
                </app-volunteering-widget>
              </div>
            </div>
          </div>


          <!--------------------------Queue-------------------->
          <div nz-row *ngIf="logged && ('queue' | hasPermission)">
            <div nz-col *ngIf="shownActive(queue) || shownActiveCustomize(queue)">
              <div nz-row style="margin-bottom: 0.1cm;" *ngIf="custumizeToggle && item.widget.type=='queue-widget'">
                <div nz-col style="float: right;">
                  <nz-switch [(ngModel)]="queue.active"></nz-switch>
                </div>
              </div>
              <app-queue-widget [custumizeToggle]="custumizeToggle" *ngIf="item.widget.type=='queue-widget'"
                [tickets]="queue">
              </app-queue-widget>
            </div>
          </div>

              <!----------------------Health-------------------->
              <div nz-row *ngIf="logged && ('health' | hasPermission)">
                <div nz-col *ngIf="shownActive(health) || shownActiveCustomize(health)">
                  <div nz-row style="margin-bottom: 0.1cm;" *ngIf="custumizeToggle && item.widget.type=='health-widget'">
                    <div nz-col style="float: right;">
                      <nz-switch [(ngModel)]="health.active"></nz-switch>
                    </div>
                  </div>
                  <app-health-widget [appointments]="health" *ngIf="item.widget.type=='health-widget'"
                    [custumizeToggle]="custumizeToggle" [translations]="translationsHealth">
                  </app-health-widget>
                </div>
              </div>

        </div>
      </div>
    </ng-container>
    <!----------------------BUTTON SAVE CHANGES--------------------->
    <div nz-row class="space-button" *ngIf="custumizeToggle">
      <app-button 
      [type]="'primary'" translate="DASHBOARD.SAVECHANGE" [loading]="loadingPage" 
      (click)="saveChanges()">
    </app-button>

    </div>
  </div>
</nz-spin>