@import "theme";

.dashboard {
  margin-right: 50px;
  margin-left: 50px;
  color: #000000;
  margin-top: 20px;
  &__module {
    text-align: center;
    width: 100%;
    &--inactive {
        background: rgba(0, 0, 0, 0.1);
        cursor: default;
    }
    &--icon {
      font-size: 45px;
      color: black;
    }
    &--name {
      height: 32px;
      font-size: 12px;
      font-weight: bold;
      line-height: 1.33;
      text-align: top;
      align-self: top;
      color: #000000;
    }
  }
  &__title{
    font-weight: bold;
  }
}

.title{
  padding-bottom: 0.5cm;
}

.card{
  &__title{
    font-weight: bold;
  }
  &__individualCard{
    border-radius: 5px;
  }
  &__section{
    margin-bottom: 0.5cm;
    border-radius: 5px;
    padding-left: 15px;
  }
  &__news{
    &__title{
      color: #000000;
      font-weight: bold;
    }
  }
  &__candidatura{
    &__state{
      padding-left: 5px;
      padding-right: 5px;
      background-color: #f8ca00;
      border-radius: 12em;
      font-size: 11px;
      font-weight: bold;
      color: #ffffff;
    }
    &__facilities{
      font-size: 17px;
      color: #000000;
      color: #000000;
      font-weight: bolder;
    }
    &__address{
      color: #000000;
      font-size: 13px;
    }
    &__type{
      font-size: 17px;
      color: #000000;
      font-weight: bold;
    }
    &__studyYear{
      color: #000000;
      font-size: 13px;
      font-weight: bold;
    }
  }
  &__bike{
    &__marginContent{
      margin-top: 1cm;
      &__km{
        font-size: 45px;
        &__number{
          font-weight: 670;
        }
      }
      &__trips{
        font-size: 45px;
      }
    }
    &__marginContentDescription{
      margin-top: .1cm;
    }
  }
}


.ticket {
  position: relative;
  border: 1px solid grey;
  color: black;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 1em 2em;
}
.ticket:before,
.ticket:after{
  height:90px;
  width:45px;
  content: '';
  position: absolute;
  top: 3em;
  top: calc(3.7em - 1px);
  height: 1.2em;
  width: 0.6em;
  border: 1px solid grey;
}
.ticket:before {
  left: -2px;
  border-radius: 0 1em 1em 0;
  border-left-color: white;
}
.ticket:after {
  right: -2px;
  border-radius: 1em 0 0 1em;
  border-right-color: white;
}

.space-button {
  text-align: right;
  margin-bottom: 20px;
}

.button {
  color: white;
  background-color: var(--primary-color);
  border-radius: 20px;
  width: 115px;
}

@media screen and (max-width:600px) {
  .dashboard {
    margin-right: 20px;
    margin-left: 20px;
  }
}
