<nz-card
    [nzBodyStyle]="{'padding-top': '8px', 'padding-right': '16px',  'padding-bottom': '16px', 'padding-left': '16px'}"
    class="border-card" [ngClass]="{'border-card-selec': userSelectedId == user.id }" (click)="getReservationsUser()">
    <p class="name"><b>{{ user.name }}</b></p>
    <p class="nif"><b>NIF: {{ user.tin }}</b></p>
    <p class="student_number"><b>{{ user.student_number ? 'Nº ' + user.student_number : '' }}</b></p>
    <p class="dish_name">{{ user.email }}</p>
</nz-card>