@import "theme";
nz-card {
    margin: 8px 16px 8px 16px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}

.hour {
    margin: 0px;
    text-align: right;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #111111;
}

.name {
    margin: 0px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #111111;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 10px;
}


.border-card-selec {
    border-color: @primary-6 !important;
}

.border-card {
    border: 2px solid transparent;
}

.student_number {
    margin: 0px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #111111;
}

.dish_type {
    margin: 0px;
    margin-top: 8px;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: #666666;
    overflow: hidden;
    white-space: nowrap;
}

.dish_name {
    margin: 0px;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: #666666;
    overflow: hidden;
    white-space: nowrap;
}

.nif {
    margin: 0px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #111111;
    overflow: hidden;
    white-space: nowrap;
}