<div class="content-form">
  <form [formGroup]="userForm" nzLayout="vertical">
    <p class="title-step-form"> {{ "HEALTH.APPOINTMENT_FORM.IDENTIFICATION_STEP" | translate }}</p>
    <p>{{'MISC.REQUIRED-INFO' | translate }}<span class="error"><b>*</b></span> {{'MISC.REQUIRED-INFO-2' | translate }}</p>
    <div nzType="flex" style="align-items: stretch;">
      <div>
        <div nz-row>
          <div nz-col [nzXs]="24" [nzMd]="24">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="name">
                <b>{{ 'HEALTH.APPOINTMENT_FORM.NAME' | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <input nz-input formCondiv formControlName="name" class="primary-input" id="name"
                  placeholder="ex. João Pedro" [attr.disabled]="loggedUser?.name" />
                <nz-form-explain class="error"
                  *ngIf="userForm.get('name')?.dirty && userForm.get('name').errors">
                  {{ getInputError("name") | translate }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <div nz-col [nzXs]="24" [nzMd]="24">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="student_number">
                <b>{{ 'HEALTH.APPOINTMENT_FORM.STUDENT_NUMBER' | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <input nz-input formCondiv formControlName="student_number" class="primary-input" id="student_number"
                  placeholder="ex. João Pedro" [attr.disabled]="loggedUser?.student_number" />
                <nz-form-explain class="error"
                  *ngIf="userForm.get('student_number')?.dirty && userForm.get('student_number').errors">
                  {{ getInputError("student_number") | translate }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <div nz-col [nzXs]="11" [nzMd]="11">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="niss">
                <b>{{ 'HEALTH.APPOINTMENT_FORM.NISS' | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <input nz-input formCondiv formControlName="niss" class="primary-input" id="niss"
                  placeholder="ex. 558855647" [attr.disabled]="loggedUser?.tin" />
                <nz-form-explain class="error"
                  *ngIf="userForm.get('niss')?.dirty && userForm.get('niss').errors">
                  {{ getInputError("niss") | translate }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <div nz-col [nzXs]="24" [nzMd]="11">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="document_type_id" style="white-space: break-spaces;">
                <b>{{ 'HEALTH.APPOINTMENT_FORM.DOCUMENT_TYPE' | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <nz-select formControlName="document_type_id" [nzMode]="'default'" nzShowSearch nzAllowClear
                  class="black-text" [nzDisabled]="loggedUser?.document_type_id" class="primary-select">
                  <ng-container *ngFor="let type of documentTypes">
                    <nz-option [nzValue]="type.id"
                      [nzLabel]="(type?.translations | languageChange).description">
                    </nz-option>
                  </ng-container>
                </nz-select>
                <nz-form-explain class="error"
                  *ngIf="userForm.get('document_type_id')?.dirty && userForm.get('document_type_id').errors">
                  {{ getInputError("document_type_id") | translate }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzXs]="0" [nzMd]="2"></div>
          <div nz-col [nzXs]="24" [nzMd]="11">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="identification_number">
                <b>{{ 'HEALTH.APPOINTMENT_FORM.IDENTIFICATION_NUMBER' | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <input nz-input formCondiv formControlName="identification_number" id="identification_number"
                  [attr.disabled]="loggedUser?.student_number" placeholder="558855647" class="primary-input" />
                <nz-form-explain class="error"
                  *ngIf="userForm.get('identification_number')?.dirty && userForm.get('identification_number').errors">
                  {{ getInputError("identification") | translate }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <div nz-col [nzXs]="11" [nzMd]="11">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="nif">
                <b>{{ 'HEALTH.APPOINTMENT_FORM.NIF' | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <input nz-input formCondiv formControlName="nif" class="primary-input" id="nif"
                  placeholder="ex. 558855647" [attr.disabled]="loggedUser?.tin" />
                <nz-form-explain class="error"
                  *ngIf="userForm.get('nif')?.dirty && userForm.get('nif').errors">
                  {{ getInputError("nif") | translate }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <div nz-col [nzXs]="24" [nzMd]="24">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="address">
                <b>{{ 'HEALTH.APPOINTMENT_FORM.ADDRESS' | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <input nz-input formCondiv formControlName="address" class="primary-input" id="address"
                  placeholder="ex. João Pedro" [attr.disabled]="loggedUser?.address" />
                <nz-form-explain class="error"
                  *ngIf="userForm.get('address')?.dirty && userForm.get('address').errors">
                  {{ getInputError("address") | translate }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <div nz-col [nzXs]="24" [nzMd]="11">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="postal_code" style="white-space: break-spaces;">
                <b>{{ 'HEALTH.APPOINTMENT_FORM.POSTAL_CODE' | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <input nz-input formCondiv formControlName="postal_code" class="primary-input" id="postal_code" [attr.disabled]="loggedUser?.postal_code" />
                <nz-form-explain class="error"
                  *ngIf="userForm.get('postal_code')?.dirty && userForm.get('postal_code').errors">
                  {{ getInputError("postal_code") | translate }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzXs]="0" [nzMd]="2"></div>
          <div nz-col [nzXs]="24" [nzMd]="11">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="city">
                <b>{{ 'HEALTH.APPOINTMENT_FORM.CITY' | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <input nz-input formCondiv formControlName="city" id="city"
                  [attr.disabled]="loggedUser?.city"class="primary-input" />
                <nz-form-explain class="error"
                  *ngIf="userForm.get('city')?.dirty && userForm.get('city').errors">
                  {{ getInputError("city") | translate }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <div nz-col [nzXs]="11" [nzMd]="11">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="nationality">
                <b>{{ 'HEALTH.APPOINTMENT_FORM.NATIONALITY' | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <nz-select formControlName="nationality" [nzMode]="'default'" nzShowSearch nzAllowClear
                class="black-text" [nzDisabled]="loggedUser?.nationality" class="primary-select">
                <ng-container *ngFor="let nati of nationalities">
                  <nz-option [nzLabel]="nati.translate" [nzValue]="nati.value">
                  </nz-option>
                </ng-container>
              </nz-select>
                <nz-form-explain class="error"
                  *ngIf="userForm.get('nationality')?.dirty && userForm.get('nationality').errors">
                  {{ getInputError("nationality") | translate }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <div nz-col [nzXs]="24" [nzMd]="6">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="email" style="white-space: break-spaces;">
                <b>{{ 'HEALTH.APPOINTMENT_FORM.EMAIL' | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <input nz-input formCondiv formControlName="email" class="primary-input" id="email" [attr.disabled]="loggedUser?.postal_code" />
                <nz-form-explain class="error"
                  *ngIf="userForm.get('email')?.dirty && userForm.get('email').errors">
                  {{ getInputError("email") | translate }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzXs]="0" [nzMd]="2"></div>
          <div nz-col [nzXs]="24" [nzMd]="6">
            <nz-form-item>
              <nz-form-label nzFor="mobile_phone_number">
                <b>{{ 'HEALTH.APPOINTMENT_FORM.MOBILE_PHONE_NUMBER' | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <input nz-input formCondiv formControlName="mobile_phone_number" id="mobile_phone_number"
                  [attr.disabled]="loggedUser?.phone"class="primary-input" />
                <nz-form-explain class="error"
                  *ngIf="userForm.get('mobile_phone_number')?.dirty && userForm.get('mobile_phone_number').errors">
                  {{ getInputError("mobile_phone_number") | translate }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzXs]="0" [nzMd]="2"></div>
          <div nz-col [nzXs]="24" [nzMd]="6">
            <nz-form-item>
              <nz-form-label nzFor="telephone_number">
                <b>{{ 'HEALTH.APPOINTMENT_FORM.TELEPHONE_NUMBER' | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <input nz-input formCondiv formControlName="telephone_number" id="telephone_number"
                  [attr.disabled]="loggedUser?.telephone"class="primary-input" />
                <nz-form-explain class="error"
                  *ngIf="userForm.get('telephone_number')?.dirty && userForm.get('telephone_number').errors">
                  {{ getInputError("telephone_number") | translate }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <div nz-col [nzXs]="11" [nzMd]="11">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="birth_date">
                <b>{{ 'HEALTH.APPOINTMENT_FORM.BIRTH_DATE' | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <nz-date-picker formCondiv formControlName="birth_date" id="birth_date"
                  class="primary-datePicker" [nzDisabled]="loggedUser?.birth_date"></nz-date-picker>
                <nz-form-explain class="error"
                  *ngIf="userForm.get('birth_date')?.dirty && userForm.get('birth_date').errors">
                  {{ getInputError("birth_date") | translate }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>


        <div nz-row>
          <div nz-col [nzXs]="24" [nzMd]="11">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="course_id">
                <b>{{ 'HEALTH.APPOINTMENT_FORM.COURSE' | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <nz-select class="black-text" formCondiv formControlName="course_id" id="course_id"
                  placeholder="ex. Engenharia ..." nzShowSearch="div nz-rowue" class="primary-select"
                  [nzDisabled]="!this.userForm.controls.organic_unit_id.value || loggedUser?.course_id">
                  <nz-option *ngFor="let course of filtered_courses" [nzLabel]="course.name" [nzValue]="course.id"
                    [nzDisabled]="!course.active">
                  </nz-option>
                </nz-select>
                <nz-form-explain class="error"
                  *ngIf="userForm.get('course_id')?.dirty && userForm.get('course_id').errors">
                  {{ getInputError("course_id") | translate }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzXs]="0" [nzMd]="2"></div>
          <div nz-col [nzXs]="24" [nzMd]="11">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="organic_unit_id">
                <b>{{ 'HEALTH.APPOINTMENT_FORM.ORGANIC_UNIT' | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <nz-select class="black-text" formCondiv formControlName="organic_unit_id" id="organic_unit_id"
                  placeholder="ex. ESTG..." nzShowSearch="div nz-rowue"
                  [nzDisabled]="loggedUser?.organic_unit_id" class="primary-select">
                  <nz-option *ngFor="let school of schools" [nzLabel]="school.name" [nzValue]="school.id"
                    [nzDisabled]="!school.active">
                  </nz-option>
                </nz-select>
                <nz-form-explain class="error"
                  *ngIf="userForm.get('organic_unit_id')?.dirty && userForm.get('organic_unit_id').errors">
                  {{ getInputError("organic_unit_id") | translate }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <div nz-col [nzXs]="24" [nzMd]="10">
            <nz-form-item>
              <nz-form-label nzFor="course_year">
                <b>{{ 'HEALTH.APPOINTMENT_FORM.COURSE_YEAR' | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <nz-input-number class="black-text" formCondiv formControlName="course_year" id="course_year"
                  [nzDisabled]="loggedUser?.course_year" placeholder="2021" class="primary-input">
                </nz-input-number>
                <nz-form-explain class="error"
                  *ngIf="userForm.get('course_year')?.dirty && userForm.get('course_year').errors">
                  {{ getInputError("course_year") | translate }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="has_scholarship">
              <b>{{ 'HEALTH.APPOINTMENT_FORM.SOCIAL_SCHOLARSHIP' | translate }}</b>
            </nz-form-label>
            <nz-form-control>
              <nz-radio-group formControlName="has_scholarship" [nzSize]="'small'">
                <label nz-radio [nzValue]=true>{{ 'MISC.YES' | translate
                  }}</label>
                <label nz-radio [nzValue]=false>{{ 'MISC.NO' | translate
                  }}</label>
              </nz-radio-group>
              <nz-form-explain class="error"
                *ngIf="userForm.get('has_scholarship')?.dirty && userForm.get('has_scholarship').errors">
                {{ getInputError("has_scholarship") | translate }}</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
  </form>
</div>
