<app-application-navbar></app-application-navbar>
<div nz-row class="page">
  <!--Back Button-->

  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="2"
    [nzLg]="2"
    [nzXl]="2"
    [nzXXl]="2"
  ></div>
  <div
    nz-col
    nz-col
    [nzXs]="22"
    [nzSm]="20"
    [nzMd]="20"
    [nzLg]="20"
    [nzXl]="20"
    [nzXXl]="20"
    class="top"
  >
    <app-button
      translate="MISC.RETURN"
      [routerLink]="['/accommodation', 'list-applications']"
      [leftIcon]="'left'"
      [buttonStyle]="{ 'font-size': '12px', 'line-height': '18px' }"
      type="tertiary"
    >
    </app-button>
  </div>

  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="2"
    [nzLg]="2"
    [nzXl]="2"
    [nzXXl]="2"
  ></div>
</div>

<div *ngIf="!noApplication">
  <div class="container" style="margin-top: 25px">
    <div nz-row>
      <div
        nz-col
        [nzXs]="1"
        [nzSm]="1"
        [nzMd]="2"
        [nzLg]="2"
        [nzXl]="2"
        [nzXXl]="2"
      ></div>
      <div
        nz-col
        nz-col
        [nzXs]="22"
        [nzSm]="20"
        [nzMd]="20"
        [nzLg]="20"
        [nzXl]="20"
        [nzXXl]="20"
      >
        <div class="forms">
          <h2 class="title-top-page">
            {{ "ACCOMMODATION.BILLINGS_TITLE" | translate }}
          </h2>
          <p class="sub-title-top-page">
            {{
              "ACCOMMODATION.CHANGE_REQUESTS.NO_APPLICATION_BILLINGS"
                | translate
            }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="noApplication">
  <div class="container" style="margin-top: 25px">
    <div nz-row>
      <div
        nz-col
        [nzXs]="1"
        [nzSm]="1"
        [nzMd]="2"
        [nzLg]="2"
        [nzXl]="2"
        [nzXXl]="2"
      ></div>
      <div
        nz-col
        [nzXs]="22"
        [nzSm]="22"
        [nzMd]="20"
        [nzLg]="20"
        [nzXl]="20"
        [nzXXl]="20"
      >
        <h2 class="title-top-page">
          {{ "ACCOMMODATION.BILLINGS_TITLE" | translate }}
        </h2>
        <p class="sub-title-top-page">
          {{ "ACCOMMODATION.BILLINGS_SUBTITLE" | translate }}
        </p>
      </div>
    </div>

    <div nz-row>
      <div
        nz-col
        [nzXs]="1"
        [nzSm]="1"
        [nzMd]="2"
        [nzLg]="2"
        [nzXl]="2"
        [nzXXl]="2"
      ></div>

      <div
        nz-col
        [nzXs]="22"
        [nzSm]="22"
        [nzMd]="20"
        [nzLg]="20"
        [nzXl]="20"
        [nzXXl]="20"
      >
        <div nz-row>
          <nz-table
            #billingsTable
            [nzShowSizeChanger]="sizeChanger"
            [nzFrontPagination]="false"
            [nzData]="billings"
            [nzLoading]="loading"
            [nzShowPagination]="true"
            [nzTotal]="total"
            [(nzPageIndex)]="pageIndex"
            [(nzPageSize)]="pageSize"
            (nzPageIndexChange)="getBillings()"
            (nzPageSizeChange)="getBillings(true)"
          >
            <thead>
              <tr>
                <th></th>
                <th>{{ "ACCOMMODATION.BILLINGS.TABLE.PERIOD" | translate }}</th>
                <th>
                  {{ "ACCOMMODATION.BILLINGS.TABLE.START_DATE" | translate }}
                </th>
                <th>
                  {{ "ACCOMMODATION.BILLINGS.TABLE.END_DATE" | translate }}
                </th>
                <th>
                  {{ "ACCOMMODATION.BILLINGS.TABLE.TOTAL_VALUE" | translate }}
                </th>
                <th>
                  {{ "ACCOMMODATION.BILLINGS.TABLE.DUE_DATE" | translate }}
                </th>
                <th>{{ "ACCOMMODATION.BILLINGS.TABLE.STATUS" | translate }}</th>
                <th>
                  {{ "ACCOMMODATION.BILLINGS.TABLE.PAID_AT" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-template
                ngFor
                let-data
                [ngForOf]="billingsTable.data"
                let-i="index"
              >
                <tr>
                  <td
                    nzShowExpand
                    *ngIf="expandable"
                    [(nzExpand)]="data.expand"
                  ></td>
                  <td>{{ data.month }}/{{ data.year }}</td>
                  <td>
                    {{ data.billing_start_date | date: "dd-MM-yyyy" }}
                  </td>
                  <td>
                    {{ data.billing_end_date | date: "dd-MM-yyyy" }}
                  </td>
                  <td>{{ getTotalPrice(i) }}€</td>
                  <td>{{ data.due_date | date: "dd-MM-yyyy" }}</td>
                  <td>
                    {{
                      "ACCOMMODATION.BILLINGS.STATUS." + data.status | translate
                    }}
                  </td>
                  <td>
                    <span *ngIf="data.paid_at">
                      {{ data.paid_at | date: "dd-MM-yyyy" }}</span
                    >
                    <span
                      *ngIf="
                        !data.paid_at &&
                        data.status == 'BILLED' &&
                        ('current_account:movements:pay' | hasPermission)
                      "
                    >
                      <app-button
                        translate="ALIMENTATION.DISH.PAY"
                        [routerLink]="[
                          '/current-account',
                          'movements',
                          application.assignedResidence.current_account_id
                        ]"
                        [buttonStyle]="{
                          'font-size': '12px',
                          'line-height': '18px'
                        }"
                        type="primary"
                      >
                      </app-button>
                    </span>
                    <span
                      *ngIf="
                        (!data.paid_at && data.status != 'BILLED') ||
                        !('current_account:movements:pay' | hasPermission)
                      "
                      >-</span
                    >
                  </td>
                </tr>
                <tr [nzExpand]="data.expand && expandable">
                  <td colspan="8">
                    <nz-table
                      style="
                        margin-right: 56px;
                        margin-left: 56px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                      "
                      #billingItemsTable
                      class="content-table"
                      [nzData]="data.billing_items"
                      [nzFrontPagination]="false"
                      [nzShowPagination]="false"
                    >
                      <thead>
                        <tr>
                          <th></th>
                          <th>
                            <b>{{
                              "ACCOMMODATION.BILLINGS.TABLE.CODE" | translate
                            }}</b>
                          </th>
                          <th>
                            <b>{{
                              "ACCOMMODATION.BILLINGS.TABLE.QUANTITY"
                                | translate
                            }}</b>
                          </th>
                          <th>
                            <b>{{
                              "ACCOMMODATION.BILLINGS.TABLE.UNIT_PRICE"
                                | translate
                            }}</b>
                          </th>
                          <th>
                            <b>{{
                              "ACCOMMODATION.BILLINGS.TABLE.PRICE" | translate
                            }}</b>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td colspan="7">
                            <b>{{
                              "ACCOMMODATION.BILLINGS.TABLE.ACCOMMODATION"
                                | translate
                            }}</b>
                          </td>
                        </tr>
                        <tr
                          *ngFor="
                            let item of getTyplogies(billingItemsTable.data)
                          "
                        >
                          <td>{{ item.name }}</td>
                          <td>{{ item.product_code }}</td>
                          <td>{{ item.quantity }}</td>
                          <td>{{ item.unit_price }}€</td>
                          <td>{{ item.price }}€</td>
                        </tr>
                        <tr>
                          <td colspan="7">
                            <b>{{
                              "ACCOMMODATION.BILLINGS.TABLE.EXTRAS" | translate
                            }}</b>
                          </td>
                        </tr>
                        <tr
                          *ngFor="let item of getExtras(billingItemsTable.data)"
                        >
                          <td>{{ item.name }}</td>
                          <td>{{ item.product_code }}</td>
                          <td>{{ item.quantity }}</td>
                          <td>{{ item.unit_price }}€</td>
                          <td>{{ item.price }}€</td>
                        </tr>
                        <tr>
                          <td colspan="7">
                            <b>{{
                              "ACCOMMODATION.BILLINGS.TABLE.REGIME" | translate
                            }}</b>
                          </td>
                        </tr>
                        <tr
                          *ngFor="
                            let item of getRegimes(billingItemsTable.data)
                          "
                        >
                          <td>{{ item.name }}</td>
                          <td>{{ item.product_code }}</td>
                          <td>{{ item.quantity }}</td>
                          <td>{{ item.unit_price }}€</td>
                          <td>{{ item.price }}€</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><b>Total:</b></td>
                          <td>{{ getTotalPrice(i) }} €</td>
                        </tr>
                      </tbody>
                    </nz-table>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</div>
