
.top {
  padding-top: 25px;
}

.content {
    padding: 24px;
}

.ant-table-thead > tr > th {
  color: unset !important;
  text-align: left;
  background: white !important;
  border-bottom: 1px solid #e8e8e8;
  }
  
  .tr.ant-table-expanded-row, .ant-table-row {
    background: white;
  }
  
  .table-movements-payments {
      background-color: #f0f2f5;
  }
  
  .ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td, .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background: var(--primary-1);
  }
  
  .ant-table-row-expanded {
    background-color: var(--primary-color);
    color:white;
  }
  
  .ant-table-row-collapsed {
    padding-top: 2px;
  }