<div nz-row nzType="flex" nzAlign="middle">
  <span nz-col  nzXs="0" nzSm="6" nzSm="12" class="question-mark-404">
    <i nz-icon type="question-circle"></i>
  </span>
  <span nz-col  nzSpan="12" class="info-404">
    <h1>404</h1>
    <h3>Página não encontrada</h3>
    <button nz-button nzType="primary" (click)="voltar()">Voltar</button>
  </span>
</div>
