<div class="content">
  <form nz-form [formGroup]="occurrenceGroup" nzLayout="vertical">
    <div nz-row nzGutter="16">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzFor="application_id" nzSpan="24">Candidatura</nz-form-label>
          <nz-form-control nzSpan="24">
            <nz-select formControlName="application_id" name="application_id" nzPlaceHolder="Candidatura" nzAllowClear
              [nzLoading]="applications_loading" nzServerSearch="true1" nzShowSearch="true"
              (nzOnSearch)="onSearch($event)" nzRequired>
              <nz-option *ngFor="let application of applications"
                [nzLabel]="'Nome: '+application.full_name+' | NIF: '+application.tin+' | Ano letivo: '+application.academic_year+' | Estado: '+ ApplicationStatusTranslations[application.status].label"
                [nzValue]=" application.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="16">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzFor="subject" nzRequired>Assunto</nz-form-label>
          <nz-form-control nzErrorTip="Campo assunto é obrigatório">
            <input nz-input formControlName="subject" id="subject">
          </nz-form-control>
          <nz-form-explain class="error" *ngIf="submit && f.subject.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="16">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzFor="description" nzRequired>Descrição</nz-form-label>
          <nz-form-control nzErrorTip="Campo descrição é obrigatório">
            <input nz-input formControlName="description" id="description">
          </nz-form-control>
          <nz-form-explain class="error" *ngIf="submit && f.description.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="16">

      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="file_id">Anexo</nz-form-label>
          <nz-form-control>
            <fi-sas-upload-file formControlName="file_id" name="file_id"></fi-sas-upload-file>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="date" nzRequired>Data</nz-form-label>
          <nz-form-control nzErrorTip="Campo data é obrigatório">
            <nz-date-picker formControlName="date" nzPlaceHolder="Data"></nz-date-picker>
          </nz-form-control>
          <nz-form-explain class="error" *ngIf="submit && f.date.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>
      </div>

    </div>
  </form>
</div>
<div class="space">
  <button *ngIf="idToUpdate" nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="loading" [disabled]="loading" (click)="submitForm(occurrenceGroup.value)"
    [nzType]="'primary'">{{idToUpdate ? 'Editar' : 'Criar'}}</button>
</div>