<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step-form">{{ attendance.user.name }}</p>
  </div>
</div>
<form [formGroup]="attendanceDataForm" nzLayout="vertical">
  <div nz-row class="padding-top-30">
    <div nz-col [nzXs]="24" [nzMd]="24">
      <nz-form-item>
        <nz-form-label nzFor="observations">
          <b>{{ "HEALTH.ATTENDANCES_DETAIL.FORM.ATTENDANCE_DATA" | translate }}</b>
        </nz-form-label>
        <nz-form-control>
          <textarea class="primary-textarea" nz-input rows="5" formControlName="observations" maxlength="255"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row class="padding-top-30">
    <div nz-col [nzXs]="24" [nzMd]="24">
      <nz-form-item>
        <nz-form-label nzFor="file_ids">
          <b>{{ "HEALTH.ATTENDANCES_DETAIL.FORM.ATTACHEMNTS" | translate }}</b>
        </nz-form-label>
        <nz-form-control>
          <app-file-upload [listType]="'picture-card'" [filterTypes]="filterFileTypes" [multiUploads]="true"
            [filesList]="file_ids" [multiUploads]="true" (fileAdded)="onFileAdded($event)"
            (fileDeleted)="onFileDeleted($event)"
            [buttonName]="'HEALTH.ATTENDANCES_DETAIL.FORM.BUTTON_ATTACHEMNTS'">
          </app-file-upload>
          <div>
            {{ 'MISC.FORMAT_UPLOAD_MORE' | translate }} pdf, png, jpg. {{ 'MISC.LIMIT_MAX_FILE' | translate }}
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>