@import 'default-theme.less';

:host::ng-deep {

  .context-two-col {

    &__left {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 144px;
      color: var(--fisas-03);
    }

    &__right {
      display: flex;
      padding: 0 45px;
      align-items: center;
      justify-content: flex-start;
      height: 144px;
      color: @fisas-grey-02;
      background-color: var(--fisas-01);
      cursor: pointer;

      .ant-col-6 {
        text-align: center;
      }
    }

    &__right-wrap {
      width: 100%;
    }

    &__hero {
      font-size: 72px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.11;
      letter-spacing: -1.8px;
      text-transform: capitalize;
    }

    &__title {
      font-size: 32px;
      font-weight: 700;
      letter-spacing: -0.89px;
      line-height: 38px;
      text-transform: uppercase;
    }

    &__subtitle {
      font-size: 32px;
      font-weight: 300;
      letter-spacing: -0.89px;
      line-height: 38px;
    }

    &__select {
      display: flex;
      align-items: center;
      height: 76px;
      float: right;
    }

    &__icon {
      font-size: 25px;
      margin: 0 15px 15px 15px;
    }

    &__label {
      padding-top: 10px;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
    }
  }

}