<div nzType="flex" nzAlign="middle" nzJustify="center" perfectScrollbar class="page ps scroll-container">
  <div class="container">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
        <div nz-row>
          <nz-form-label>Nome</nz-form-label>
          <nz-form-control>
            <input type="text" nz-input [(ngModel)]="filters.search">
          </nz-form-control>
        </div>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
        <div nz-row>
          <nz-form-label>Estado</nz-form-label>
          <nz-form-control>
            <nz-select class="primary-select" nzAllowClear [(ngModel)]="filters.active" nzShowSearch
              style="width: 100%;">
              <nz-option *ngFor="let state of status" [nzLabel]="state.description" [nzValue]="state.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </div>
      </div>

      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>

      <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
        <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
        style="text-align: left;">
        <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="content-table">
      <nz-table class="table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
        (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
        [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
        <thead (nzSortChange)="sort($event)" nzSingleSort>
          <tr class="table__header">
            <th></th>
            <th>
              Nome (PT)
            </th>
            <th>
              Nome (EN)
            </th>
            <th nzShowSort nzSortKey="price">
              Preço
            </th>
            <th nzShowSort nzSortKey="active">
              Ativo
            </th>
            <th nzRight="0px">Ações</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="refTable.data">
            <tr>
              <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
              <td>
                {{validTranslateName(3,data?.translations)}}
              </td>
              <td>
                {{validTranslateName(4,data?.translations)}}
              </td>
              <td>
                {{ data?.price | number:'1.2-2' }} €
              </td>
              <td>
                <fi-sas-tag [value]="data?.active"></fi-sas-tag>
              </td>
              <td nzRight="0px">
                <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
                  nzPlacement="bottomRight">
                  <i nz-icon nzType="dash" nzTheme="outline"></i>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li [nzDisabled]="!('alimentation:dishs-types:read' | hasPermission)" nz-menu-item
                      (click)="toggleAccessPrices(data.id)">
                      Preços
                    </li>
                    <li [nzDisabled]="!('alimentation:dishs-types:update' | hasPermission)" nz-menu-item
                      (click)="editDishType(data.id)">
                      Editar
                    </li>
                    <li [nzDisabled]="!('alimentation:dishs-types:update' | hasPermission)" *ngIf="data?.active == true"
                      (click)="desactive(data)" nz-menu-item>
                      Desativar</li>
                    <li [nzDisabled]="!('alimentation:dishs-types:update' | hasPermission)"
                      *ngIf="data?.active == false" (click)="active(data)" nz-menu-item>Ativar
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
            <tr [nzExpand]="mapOfExpandData[data.id]">
              <td [attr.colspan]="6">
                <fi-sas-view-dishtypes [data]="data" [languages]="languages"></fi-sas-view-dishtypes>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>



<nz-modal [nzVisible]="accessModalPrices" (nzOnCancel)="accessModalPrices = false" (nzOnOk)="toggleAccessPrices(null)"
  nzWidth="1200" [nzOkText]="null" [nzCancelText]="'Fechar'">
  <div nz-row nzType="flex" nzAlign="middle" nzGutter="16">
    <div nz-col nzSpan="24">
      <form [formGroup]="productPricesForm" nzLayout="vertical">
        <div nz-row class="padding-top-30">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4" class="padding-right-20">
            <div nz-row>
              <nz-form-label nzRequired>
                Descrição
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <input nz-input type="text" formControlName="description" id="description">
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submmitedPrice && f.description.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="padding-right-20">
            <div nz-row>
              <nz-form-label nzRequired>
                Preço
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <input nz-input type="number" formControlName="price" id="price" min=1>
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submmitedPrice && f.price.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="padding-right-20">
            <div nz-row>
              <nz-form-label nzRequired>
                Taxa Iva
              </nz-form-label>
              <nz-form-control>
                <nz-select class="primary-select" formControlName="tax_id" nzShowSearch>
                  <nz-option *ngFor="let tax of taxes" [nzLabel]="tax?.name" [nzValue]="tax.id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submmitedPrice && f.tax_id.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="padding-right-20">
            <div nz-row>
              <nz-form-label nzRequired>
                Menu
              </nz-form-label>
              <nz-form-control>
                <nz-select class="primary-select" formControlName="meal" nzShowSearch>
                  <nz-option *ngFor="let meal of mealList" [nzLabel]="meal?.label" [nzValue]="meal.value">
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submmitedPrice && f.meal.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="padding-right-20">
            <div nz-row>
              <nz-form-label nzRequired>
                Horas
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <nz-time-picker formControlName="time" [(ngModel)]="time1" [nzDefaultOpenValue]="defaultOpenValue">
                </nz-time-picker>
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submmitedPrice && f.time.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4" class="padding-right-20">
            <div nz-row>
              <nz-form-label nzRequired>
                Perfil de utilizador
              </nz-form-label>
              <nz-form-control nzSpan="24">
                <nz-select class="primary-select" formControlName="profile_id" nzShowSearch>
                  <nz-option *ngFor="let profile of profiles" [nzLabel]="profile?.name" [nzValue]="profile.id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submmitedPrice && f.profile_id.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="3" [nzXXl]="3" style="padding-top: 44px;">
            <button *ngIf="!edit" nz-button (click)="addPrices()"
              [disabled]="!('alimentation:dishs-types:update' | hasPermission)">Adicionar</button>
            <button *ngIf="edit" nz-button (click)="editPrice()"
              [disabled]="!('alimentation:dishs-types:update' | hasPermission)">Editar</button>
            <i *ngIf="edit" nz-icon nzType="close" class="icon-edit" (click)="editClose()" nzTheme="outline"></i>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="typePrices" style="margin-top: 20px">
    <nz-spin [nzSpinning]="loading_prices">
      <div nz-row *ngFor="let price of typePrices; let i=index" style="margin-top: 20px;">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4" class="padding-right-20">
          <b>{{ price.description }}</b>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="padding-right-20">
          <b>{{ price.price }} €</b>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="padding-right-20">
          <b>{{ price?.tax?.name }}</b>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="padding-right-20">
          <b *ngIf="price.meal === 'dinner'">Jantar</b>
          <b *ngIf="price.meal === 'lunch'">Almoço</b>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="padding-right-20">
          <b>{{ price.time }}</b>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4" class="padding-right-20">
          <b>{{ price?.profile?.name }}</b>
        </div>
        <div *ngIf="('alimentation:dishs-types:update' | hasPermission)" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="3" [nzXXl]="3">
          <button nz-button nzType="danger" [disabled]="edit"
            (click)="removePrices(price)"><i nz-icon nzType="delete"></i></button>
          <button nz-button style="margin-left: 10px;"
            (click)="setValuePrices(price)"><i nz-icon nzType="edit"></i></button>
        </div>
        <div nz-col [nzXs]="24">
          <nz-divider *ngIf="i<typePrices.length-1"></nz-divider>
        </div>
      </div>
    </nz-spin>
  </div>
</nz-modal>