<fi-sas-layout-toolstrip>
  <fi-sas-toolstrip-button [isLoading]="isLoading" (onClick)="submit(activityForm.value, activityForm.valid)"
                           iconType="save" [tooltip]="isUpdate ? 'Alterar' : 'Inserir'"></fi-sas-toolstrip-button>
  <fi-sas-toolstrip-button *ngIf="isUpdate" iconType="delete" tooltip="Eliminar"
                           (onClick)="deleteActivity()"></fi-sas-toolstrip-button>
</fi-sas-layout-toolstrip>
<div class="content--padding ps scroll-container" perfectScrollbar>
  <form [formGroup]="activityForm" nz-form>

    <div nz-row nzGutter="16">

      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Nome</nz-form-label>
          <nz-form-control>
            <input  name="name" nz-input formControlName="name">
            <nz-form-explain *ngIf="activityForm.get('name').errors">{{getNameInputError()}}</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Tipo</nz-form-label>
          <nz-form-control>
            <nz-select nzPlaceHolder="Tipo de atividade" nzShowSearch nzAllowClear formControlName="type">
              <nz-option *ngFor="let type of types" [nzLabel]="type.pt" [nzValue]="type.key"></nz-option>
              <nz-form-explain *ngIf="activityForm.get('type').errors">{{getTypeInputError()}}</nz-form-explain>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

    <div nz-row nzGutter="16">

      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Espaço</nz-form-label>
          <nz-form-control>
            <nz-select nzPlaceHolder="Espaço" nzShowSearch nzAllowClear formControlName="venue_id">
              <nz-option *ngFor="let venue of venues" [nzLabel]="venue.name" [nzValue]="venue.id"></nz-option>
              <nz-form-explain *ngIf="activityForm.get('venue_id').errors">{{getVenueInputError()}}</nz-form-explain>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Modalidade</nz-form-label>
          <nz-form-control>
            <nz-select nzPlaceHolder="Modalidade" nzShowSearch nzAllowClear formControlName="modality_id">
              <nz-option *ngFor="let modality of modalities" [nzLabel]="modality.name" [nzValue]="modality.id"></nz-option>
              <nz-form-explain *ngIf="activityForm.get('modality_id').errors">{{getModalityInputError()}}</nz-form-explain>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

    <div nz-row nzGutter="16">

      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Descrição</nz-form-label>
          <nz-form-control>
            <textarea maxlength="255" rows="4" nz-input formControlName="description"></textarea>
            <nz-form-explain *ngIf="activityForm.get('description').errors">{{getDescriptionInputError()}}</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

    <div nz-row nzGutter="16">

      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Data inicial e final</nz-form-label>
          <nz-form-control>
            <nz-range-picker formControlName="date" nzShowTime ></nz-range-picker>
            <nz-form-explain *ngIf="activityForm.get('date').errors">{{getDateInputError()}}</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

    <div nz-row nzGutter="16">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Ativo</nz-form-label>
          <nz-form-control>
            <nz-switch formControlName="active"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

  </form>

</div>

