@import "theme";
.serve {
    background: white;
    height: 100%;

    overflow-x: hidden;
    overflow-y: scroll;

}

.border-bottom {
    background-color: @primary-6;
}

::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    width: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    width: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    width: 0px;
}

.floating-button {
    padding-top: 8px;
    float: left;

    button {
        border-radius: 24px;
        background-color: #ffffff;
        width: 150px;
        margin-left: 20px;
    }
}

.floating-button-right {
    padding-top: 8px;
    float: right;
    text-align: right;

    button {
        border-radius: 24px;
        background-color: @primary-4;
        color: white;
        width: 150px;
        margin-right: 20px;
        border: 1px solid @primary-4;
    }
}