<div nz-row nzType="flex" nzJustify="space-around" class="screen">
  <div nz-col nzSpan="6" style="height: 100%;">
    <fisas-meals-history></fisas-meals-history>
  </div>
  <div nz-col nzSpan="18" style="height: 100%;">
    <div nz-row style="height: 94%;">
      <div nz-col nzSpan="8" style="height: 100%;">
        <fisas-serve-user-info></fisas-serve-user-info>
      </div>
      <div nz-col nzSpan="16" style="height: 100%;">
        <fisas-status-meals-types></fisas-status-meals-types>
      </div>
    </div>
    <div nz-row style="height: 6%;" class="border-bottom">
      <div nz-col class="floating-button">
        <button *ngIf="boxSelected != 'undefined' && boxSelected != null" nz-button style="width: 158px !important;"
          (click)="boxListHistory()">Fecho de Caixa</button>
      </div>
      <div nz-col class="floating-button-right">
        <button nz-button [routerLink]="['/','dashboard']"><i nz-icon nzType="arrow-left"
            nzTheme="outline"></i>Voltar</button>
      </div>
    </div>
  </div>
</div>