<StackLayout>
    <!-- action bar -->
    <fi-action-bar [actionBarType]="4"></fi-action-bar>
    <!-- LOADER -->
    <StackLayout class="fisas__form__block" marginTop="40" *ngIf="isLoading">
        <ActivityIndicator row="1" #activityIndicator [busy]="isLoading" width="100%" height="50" color="lightgray" class="fisas__loading"></ActivityIndicator>
    </StackLayout>
    <!-- scroll init -->
    <ScrollView row="0" *ngIf="!isLoading">
        <StackLayout class="fisas__content">
            <StackLayout marginTop="36">
                <Label class="fisas__h1" text="{{ 'maintenance.title' | translate }}"></Label>
                <Label class="fisas__h2" text="UBike"></Label>
            </StackLayout>
            <!-- Description -->
            <StackLayout paddingTop="54">
                <Label class="step4__p" textWrap="true" text="{{ 'maintenance.desc' | translate }}" paddingBottom="6"></Label>
                <Label class="step4__p--light" textWrap="true" text="{{ 'maintenance.subDesc' | translate }}"></Label>
                <StackLayout paddingTop="6" >
                    <TextField [(ngModel)]="description" style="margin-top: 15px" height="102" class="step4__input"></TextField>
                </StackLayout>
            </StackLayout>
            <StackLayout paddingTop="70">
                <Label (tap)="sendMaintenance()" width="100%" class="fisas__btn-bottom fisas__bg--{{ institution }}" text="{{ 'maintenance.continue' | translate }}"></Label>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>
