<StackLayout class="institutions">
  <!-- action bar -->
  <fi-action-bar></fi-action-bar>

  <!-- scroll init -->
  <ScrollView row="0">
    <WrapLayout orientation="horizontal">
      <!-- intro text -->
      <StackLayout class="institutions__container">
        <StackLayout class="fisas__content">
          <Label
            class="fisas__h1"
            text="{{ 'start-up.institutions.configuration' | translate }}"
          ></Label>
          <Label
            class="fisas__h2"
            text="{{ 'start-up.institutions.intro' | translate }}"
          ></Label>
        </StackLayout>

        <!-- institutions list -->
        <StackLayout class="institutions__list">
          <StackLayout
            *ngFor="let institution of institutions"
            class="institutions__list__li"
          >
            <Label
              textWrap="true"
              width="100%"
              class="fisas__btn fisas__btn--padding"
              (tap)="selectInstituition(institution.acronym)"
            >
              <FormattedString class="fisas__p--label">
                <Span fontWeight="bold" [text]="institution.acronym"></Span>
                <Span [text]="'\n' + institution.name"></Span>
              </FormattedString>
            </Label>
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </WrapLayout>
  </ScrollView>
</StackLayout>
