.institutions {
  /* ----------------------- */
  /* Component */

  &__container {
    vertical-align: top;
    margin-top: 115;
    margin-bottom: 80;
  }

  &__list {
    margin-top: 10;

    &__li {
      margin-top: 10;
    }
  }
}
