@import "theme";

.notifications{
    padding-top: 2px;
}


:host::ng-deep {

  .header-icon {
     svg {
       path {
         fill: white;
       }
     }
  }
  
}


.padding-loading {
  padding-top: 10px;
  padding-bottom: 15px;
}

#icon-noti::ng-deep svg {
  g path {
      fill: var(--primary-color);
  }
}

#icon-noti::ng-deep svg {
  path {
      fill: var(--primary-color);
  }
}

.icon {
  vertical-align: middle;
  font-size: 18px;
  padding-bottom: 6px;
  padding-top: 5px;
}

.border-buttons {
  padding-top:10px;
  border-top: 1px solid #e8e8e8;
}

::ng-deep {
  .ant-popover-title {
    min-height: 32px;
    margin: 0;
    padding: 10px 16px 4px;
    min-width: 120px !important;
    border-bottom: 2px solid var(--primary-color);
    color: black;
    font-size: 17px;
    font-weight: bold;
    width: 120px;
  }
  .ant-popover-arrow {
    display: none;
  }

  .notification-button>span>.ant-badge>.ant-badge-count{
    z-index: 10 !important;
    min-width: 11px !important;
    height: 20px !important;
    padding-top: -1px !important;
    padding: 0 6px !important;
    color: var(--primary-color) !important;
    font-weight: normal !important;
    font-size: 12px !important;
    /* line-height: 20px; */
    white-space: nowrap !important;
    text-align: center !important;
    background: white !important;
    border-radius: 10px !important;
    box-shadow: 0 0 0 1px #fff !important;
  }
}

.button {
  background-color: var(--primary-color);
  color: white;
  border: var(--primary-color);
  font-size: 12px;
}

.space-button {
  text-align: right ;
  
  @media screen and (max-width: 600px) {
    text-align: center ;
  }
}

.button-more {
  @media screen and (max-width: 600px) {
    text-align: center ;
    padding: 5px;
  }
}

.text-title {
  cursor: pointer;
  font-size: 13px;
  color: black;
}

.text-description {
  font-size: 10px;
}

.description {
  font-size: 11px;
}

.bold {
  font-weight: bold;
}

.icon-delete {
  font-size: 14px;
  cursor: pointer;
}