@import 'theme';

.top {
  padding-top: 25px;
  padding-bottom: 25px;
}
.submit {
  margin-top: 25px;
  text-align: right;
}

.border-radius-8 {
  border-radius: 8px;
}

.margin-top-20 {
  margin-top: 20px;
}

.font-info {
  line-height: initial;
  font-size: 12px;
  padding-top: 5px;
}

.form {
  border-radius: 8px;
  background-color: #ffffff;
  padding: 30px 30px 30px 30px;
  margin-bottom: 30px;
}

.error {
  color: red;

  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}

.textarea-height {
  height: 150px;
}
