<div nz-row>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12">
    <div nz-row class="top">
      <app-button
        translate="MISC.RETURN"
        (click)="cancel()"
        [leftIcon]="'left'"
        [buttonStyle]="{ 'font-size': '12px', 'line-height': '18px' }"
        type="tertiary"
      ></app-button>
    </div>

    <div class="forms">
      <h2 class="title-top-page">
        {{
          typeForm == 'withdrawal'
            ? ('U_BIKE.FORMS.WITHDRAWAL.TITLE' | translate)
            : typeForm == 'absence'
            ? ('U_BIKE.FORMS.ABSENCE.TITLE' | translate)
            : typeForm == 'complaint'
            ? ('U_BIKE.FORMS.COMPLAINT.TITLE' | translate)
            : typeForm == 'renovation'
            ? ('U_BIKE.FORMS.RENOVATION.TITLE' | translate)
            : typeForm == 'add_maintenance_kit'
            ? ('U_BIKE.FORMS.ADDITIONAL_MAINTENANCE_KIT.TITLE' | translate)
            : ''
        }}
      </h2>

      <div nz-row>
        <div nz-col>
          <div class="form">
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <form nz-form [formGroup]="formSimple">
                  <div *ngIf="typeForm != 'absence' && formSimple.contains('startDate')" nz-row>
                    <nz-form-item>
                      <nz-form-label nzFor="startDate">
                        <b>
                          {{
                            typeForm == 'withdrawal' || typeForm == 'complaint' || typeForm == 'renovation'
                              ? ('U_BIKE.FORMS.WITHDRAWAL.INFOFORM.TITLEDATE' | translate)
                              : typeForm == 'add_maintenance_kit'
                              ? ('U_BIKE.FORMS.ADDITIONAL_MAINTENANCE_KIT.INFOFORM.TITLESTARTDATE' | translate)
                              : ''
                          }}</b
                        >
                      </nz-form-label>
                      <div class="desc-title-form">
                        {{ 'U_BIKE.FORMS.WITHDRAWAL.INFOFORM.DESCDATE' | translate }}
                      </div>
                      <div nz-col [nzXs]="24" [nzSm]="11" [nzMd]="11" [nzLg]="11" [nzXl]="11" [nzXXl]="11">
                        <nz-form-control>
                          <nz-date-picker
                            class="primary-datePicker"
                            style="width: 100%"
                            formControlName="startDate"
                            [nzDisabledDate]="disableStartDate"
                          >
                          </nz-date-picker>
                        </nz-form-control>
                      </div>
                    </nz-form-item>
                  </div>
                  <div *ngIf="typeForm == 'absence'" nz-row>
                    <div nz-col [nzXs]="24" [nzSm]="11" [nzMd]="11" [nzLg]="11" [nzXl]="11" [nzXXl]="11" *ngIf="formSimple.contains('startDate')">
                      <nz-form-item>
                        <nz-form-label nzFor="startDate">
                          <b> {{ 'U_BIKE.FORMS.ABSENCE.INFOFORM.TITLESTARTDATE' | translate }}</b>
                        </nz-form-label>
                        <nz-form-control>
                          <nz-date-picker
                            class="primary-datePicker"
                            style="width: 100%"
                            formControlName="startDate"
                            [nzDisabledDate]="disableStartDate"
                          >
                          </nz-date-picker>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div nz-col [nzXs]="0" [nzSm]="2" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>
                    <div
                      *ngIf="typeForm == 'absence' && formSimple.contains('endDate')"
                      nz-col
                      [nzXs]="24"
                      [nzSm]="11"
                      [nzMd]="11"
                      [nzLg]="11"
                      [nzXl]="11"
                      [nzXXl]="11"
                    >
                      <nz-form-item>
                        <nz-form-label nzFor="endDate">
                          <b> {{ 'U_BIKE.FORMS.ABSENCE.INFOFORM.TITLEENDDATE' | translate }}</b>
                        </nz-form-label>
                        <nz-form-control>
                          <nz-date-picker
                            class="primary-datePicker"
                            style="width: 100%"
                            formControlName="endDate"
                            [nzDisabledDate]="disableEndDate"
                          >
                          </nz-date-picker>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="description">
                      <b>{{ 'U_BIKE.FORMS.WITHDRAWAL.INFOFORM.DESC' | translate }}</b>
                    </nz-form-label>
                    <div *ngIf="typeForm == 'add_maintenance_kit'" class="desc-title-form">
                      {{ 'U_BIKE.FORMS.ADDITIONAL_MAINTENANCE_KIT.INFOFORM.DESCDESC' | translate }}
                    </div>
                    <nz-form-control>
                      <textarea rows="5"
                        class="primary-textarea textarea-height"
                        nz-input maxlength="255"
                        formControlName="description"
                        [ngClass]="{ error__input: submitted && f.description.errors }"
                      ></textarea>
                      <nz-form-explain class="error" *ngIf="submitted && f.description.errors">
                        {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </form>
                <div class="font-info" *ngIf="typeForm == 'withdrawal'">
                  {{ 'VIEW_APPLICATION_STATUS.STATUS_INFO_WITHDRAWAL' | translate }}
                </div>
              </div>
            </div>

            <div nz-row class="submit">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <app-button
                  (click)="cancel()"
                  style="margin-right: 15px"
                  [translate]="'MISC.CANCEL'"
                  [type]="'secundary'"
                ></app-button>
                <app-button
                  [loading]="loading"
                  (click)="submitRequest()"
                  [disabled]="!('u_bike:application-forms:create' | hasPermission)"
                  [translate]="'MISC.SUBMIT'"
                >
                </app-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>
  </div>
</div>
