<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step-form">{{ userInformation.name }}</p>
  </div>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.ADDRESS" | translate }} </p>
    <p class="desc-resume">{{ userInformation.address ?userInformation.address : "---" }}</p>
  </div>
  <div nz-col [nzXs]="6" [nzSm]="6" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.POSTAL_CODE" | translate }} </p>
    <p class="desc-resume">{{ userInformation.postal_code ? userInformation.postal_code : "---" }}</p>
  </div>
  <div nz-col [nzXs]="6" [nzSm]="6" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6"> 
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.CITY" | translate }} </p>
    <p class="desc-resume">{{ userInformation.city ? userInformation.city : "---" }}</p>
  </div>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.BIRTH_DATE" | translate }} </p>
    <p class="desc-resume">{{ userInformation.birth_date ? (userInformation.birth_date | date: "YYYY-MM-DD" ) : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.NATIONALITY" | translate }} </p>
    <p class="desc-resume">{{ userInformation.nationality ? userInformation.nationality : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.NIF" | translate }} </p>
    <p class="desc-resume">{{ userInformation.nif ? userInformation.nif : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.IDENTIFICATION_NUMBER" | translate }} </p>
    <p class="desc-resume">{{ userInformation.identification_number ? userInformation.identification_number : "---" }}</p>
  </div>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.STUDENT_NUMBER" | translate }} </p>
    <p class="desc-resume">{{ userInformation.student_number ? userInformation.student_number : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.COURSE_YEAR" | translate }} </p>
    <p class="desc-resume">{{ userInformation.course_year ? userInformation.course_year : "---" }}</p>
  </div>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <!--<div nz-col [nzXs]="6" [nzSm]="6" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.COURSE" | translate }} </p>
    <p class="desc-resume">{{ userInformation.course_department_id ? userInformation.course_department_id : "---" }}</p>
  </div>-->
  <div nz-col [nzXs]="6" [nzSm]="6" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.ORGANIC_UNIT" | translate }} </p>
    <p class="desc-resume">{{ userInformation.organic_unit_id ? userInformation.organic_unit_id : "--- " }}</p>
  </div>
</div>
<div nz-row class="padding-top-30">
  <nz-divider></nz-divider>
</div>
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
    <p class="sub-title"> {{ "HEALTH.APPOINTMENT_FORM.CONTACTS" | translate }} </p>
  </div>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.EMAIL" | translate }} </p>
    <p class="desc-resume">{{ userInformation.email ? userInformation.email : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.TELEPHONE_NUMBER" | translate }} </p>
    <p class="desc-resume">{{ userInformation.telephone_number ? userInformation.telephone_number : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.MOBILE_PHONE_NUMBER" | translate }} </p>
    <p class="desc-resume">{{ userInformation.mobile_phone_number ? userInformation.mobile_phone_number : "---" }}</p>
  </div>
</div>