<div class="container">

    <div class="container-table">
        <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
            (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
            [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex"
            (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
            <thead (nzSortChange)="sort($event)" nzSingleSort>
                <tr class="table__header">
                    <th nzShowSort nzSortKey="name">Nome</th>
                    <th nzShowSort nzSortKey="priority">Prioridade</th>
                    <th nzRight="0px">Ações</th>
                </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-data [ngForOf]="refTable.data">
                    <tr>
                        <td>{{data.name}}</td>
                        <td>{{data.priority}}</td>
                        <td nzRight="0px"><button nz-button nz-dropdown nzType="link" [nzDropdownMenu]="menu"
                                nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"
                                    class="font-icon-dash"></i></button>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li [nzDisabled]="!('configuration:sections_bo:update' | hasPermission)"
                                        nz-menu-item (click)="edit(data.id)">Editar</li>
                                    <li [nzDisabled]="!('configuration:sections_bo:delete' | hasPermission)"
                                        nz-menu-item (click)="deleteSection(data.id)">Eliminar</li>
                                </ul>
                            </nz-dropdown-menu>
                        </td>
                    </tr>


                </ng-template>
            </tbody>
        </nz-table>
    </div>
</div>