<div class="offer-card"  (click)="reviewExperience(offer?.id)">
  <div nz-row nzType="flex">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
      <app-offer-status-badge [offer]="offer"></app-offer-status-badge>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
      <app-button  *ngIf="offer?.status === 'CLOSED'"  class="offer-card--button" [type]="'secundary'"
      translate="SOCIAL_SUPPORT.HISTORY_APPLICATIONS.FORM"
      (click)="goToOfferAttendances($event, offer?.id)">
    </app-button>
    </div>
  </div>

  <div nz-row class="padding-bottom-5">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <div class="offer-card--title">
        {{ (offer?.translations | languageChange)?.title }}
      </div>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="padding-bottom-20">
      <div class="offer-card--description">
        {{ (offer?.translations | languageChange)?.description }}
      </div>
    </div>
  </div>
  <div nz-row class="padding-bottom-20">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-bottom-mobile-20">
      <div class="title-detail">{{ 'SOCIAL_SUPPORT.APPLICATIONS.SUBMITTED_ON' | translate }}</div>
      <div class="description-detail">
        {{ offer?.publish_date | date: 'dd-MM-yyyy' }}
      </div>
    </div>
    <div
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="16"
      [nzLg]="16"
      [nzXl]="16"
      [nzXXl]="16"
      class="padding-bottom-mobile-20"
    >
      <div class="title-detail">{{ 'SOCIAL_SUPPORT.OFFERS.LOCAL' | translate }}</div>
      <div class="description-detail">
        {{ offer?.organic_unit?.name }} <br />
        {{ offer?.address }}
      </div>
    </div>
  </div>
</div>
