<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title">Revisão</p>
        <p class="detail-text">Por favor, verifique cuidadosamente os dados introduzidos.</p>
    </div>
    <nz-divider></nz-divider>
</div>


<!--Personal data-->
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
        <p class="sub-title">Dados Pessoais</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
        <button nz-button class="button-back-action" nzType="default" (click)="changeValue(0)">
            <span>Editar</span>
        </button>
    </div>
</div>
<div nz-row>

    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Nome completo</p>
        <p class="text">{{ application?.full_name}}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Data de nascimento</p>
        <p class="text">{{ application?.applicant_birth_date | date: "dd/MM/yyyy" }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Género</p>
        <p class="text">{{ application?.gender == 'M' ? 'Masculino' :
            application?.gender == 'F' ? 'Feminino'
            : application?.gender == 'U' ?
            'Outro' : '-'
            }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Filiação</p>
        <p class="text"><b>Pai:</b>
            {{ application?.father_name ? application?.father_name : '-' }}</p>
        <p class="text"><b>Mãe:</b>
            {{ application?.mother_name ? application?.mother_name : '-' }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Incapacidade</p>
        <p class="text"> {{ application?.incapacity ? 'Sim' : 'Não' }}</p>
    </div>
    <div *ngIf="application?.incapacity" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
        [nzXXl]="24">
        <p class="title-step">Grau de incapacidade</p>
        <p class="text"> {{ application?.incapacity_degree }}</p>
    </div>
    <div *ngIf="application?.incapacity" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
        [nzXXl]="24">
        <p class="title-step">Tipo de incapacidade</p>
        <p class="text"> {{ application?.incapacity_type }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Nacionalidade</p>
        <p class="text"> {{ application?.nationality ? application?.nationality : '-' }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Documento de identificação</p>
        <p class="text"><b>{{(documentType?.translations | translation)?.description ? (documentType?.translations |
                translation)?.description + ' - ' : ''}}</b> {{
            application?.identification }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">N.º identificação fiscal (NIF)</p>
        <p class="text">{{ application?.tin }}</p>
    </div>
    <ng-container *ngIf="application?.allow_direct_debit!=null">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
            <p class="title-step"> Autorização de Pagamento por Débito Direto?</p>
            <p class="text">{{ application?.allow_direct_debit ? 'Sim' : 'Não' }}</p>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
            *ngIf="application?.allow_direct_debit">
            <p class="title-step">IBAN</p>
            <p class="text">{{ application?.iban }}</p>
        </div>
    </ng-container>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Morada</p>
        <p class="text">{{ application?.address }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Código postal</p>
        <p class="text">{{ application?.postal_code }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Localidade</p>
        <p class="text">{{ application?.city }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">País</p>
        <p class="text">{{ application?.country ? application?.country : '-' }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Distância da residência do agregado familiar à escola</p>
        <p class="text">{{ application?.household_distance }} kms</p>
    </div>
</div>
<nz-divider></nz-divider>

<!--Contact-->
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
        <p class="sub-title">Contactos</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
        <button nz-button class="button-back-action" nzType="default" (click)="changeValue(1)">
            <span>Editar</span>
        </button>
    </div>
</div>
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Contacto principal</p>
        <p class="text">{{ application?.phone_1}}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Contacto de emergência</p>
        <p class="text">{{ application?.phone_2}}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">E-Mail institucional</p>
        <p class="text">{{ application?.email}}</p>
    </div>
    <div *ngIf="application?.secundary_email" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
        [nzXXl]="24">
        <p class="title-step">E-Mail Pessoal</p>
        <p class="text">{{ application?.secundary_email }}</p>
    </div>
</div>
<nz-divider></nz-divider>

<!--Residence-->
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
        <p class="sub-title">Residência</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
        <button nz-button class="button-back-action" nzType="default" (click)="changeValue(2)">
            <span>Editar</span>
        </button>
    </div>
</div>
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step"> Residência a que se candidata</p>
        <p class="text">{{ residenceName }}</p>
    </div>
    <div *ngIf="application?.second_option_residence_id" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
        [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Residência alternativa (caso não seja possível a primeira opção)</p>
        <p class="text">{{ nameResidenceSelected }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step"> Período de alojamento a que se candidata</p>
        <p class="text">{{ application?.start_date | date: "dd/MM/yyyy" }} - {{ application?.end_date | date:
            "dd/MM/yyyy" }}</p>
    </div>

    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Regime</p>
        <p class="text">{{ (sendRegime?.regime?.translations | translation)?.name }}</p>
    </div>
    <div *ngIf="extrasSend.length>0" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Extras</p>
        <p *ngFor="let extra of extrasSend" class="text">{{ (extra?.extra?.translations | translation)?.name }}</p>
    </div>
    <div *ngIf="sendTypologies" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Preferência de Tipologia de Quarto</p>
        <p class="text">{{ (sendTypologies?.translations | translation)?.name }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Residência anterior</p>
        <p class="text">{{ application?.has_used_residences_before ? 'Sim' : 'Não' }}</p>
    </div>
    <div *ngIf="application?.has_used_residences_before" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
        [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Em que residência?</p>
        <p class="text">{{ nameUsedResidenceSelected }}</p>
    </div>
    <div *ngIf="application?.has_used_residences_before" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
        [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Em que quarto?</p>
        <p class="text">{{ nameRoom }}</p>
    </div>
</div>
<nz-divider></nz-divider>

<!--Academic data-->
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
        <p class="sub-title">Dados académicos</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
        <button nz-button class="button-back-action" nzType="default" (click)="changeValue(3)">
            <span>Editar</span>
        </button>
    </div>
</div>
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Estatuto de Estudante Internacional</p>
        <p class="text">{{ application?.international_student ? 'Sim' : 'Não' }}</p>
    </div>

    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Escola</p>
        <p class="text">{{ nameOrganic }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Grau</p>
        <p class="text">{{ nameCourseDegree }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Curso</p>
        <p class="text">{{ nameCourse }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Ano do curso</p>
        <p class="text">{{ application?.course_year }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">N.º estudante</p>
        <p class="text">{{ application?.student_number }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Data de ingresso</p>
        <p class="text">{{ application?.admission_date | date: "dd/MM/yyyy" }}</p>
    </div>

</div>

<nz-divider></nz-divider>

<!--Household-->
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
        <p class="sub-title">Agregado familiar</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
        <button nz-button class="button-back-action" nzType="default" (click)="changeValue(4)">
            <span>Editar</span>
        </button>
    </div>
</div>
<div nz-row>
    <div nz-col *ngIf="application?.house_hould_elements.length>0" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
        [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Elementos, parentesco e profissão</p>
        <p *ngFor="let house of application?.house_hould_elements" class="text">{{ house?.kinship }} - {{
            house?.profession }}</p>
    </div>
    <div nz-col *ngIf="application?.househould_elements_in_university" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
        [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Nº de elementos a frequentar o ensino superior</p>
        <p class="text">{{ application?.househould_elements_in_university }}</p>
    </div>
    <div nz-col *ngIf="application?.household_total_income" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
        [nzXXl]="24">
        <p class="title-step">Total de rendimentos do ano civil de {{year-1}}</p>
        <p class="text">{{ application?.household_total_income | number:'1.2-2' }} €</p>
    </div>
    <div nz-col *ngIf="application?.income_source" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
        [nzXXl]="24">
        <p class="title-step">Origem dos Rendimentos</p>
        <p class="text" *ngFor="let income of application?.income_source">
            {{ income == 'DEPENDENT_WORKER' ?
            'Trabalho Dependente' :
            income == 'INDEPENDENT_WORK' ?
            'Trabalho Independente'
            : income == 'PENSIONS' ?
            'Pensão'
            : income == 'UNEMPLOYMENT_ALLOWANCE' ?
            'Subsídio de desemprego'
            : income == 'RSI' ?
            'RSI'
            : income == 'OTHER' ?
            'Outros' : '-'
            }}
        </p>
    </div>
    <div nz-col *ngIf="application?.other_income_source" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
        [nzXXl]="24">
        <p class="title-step">Outros</p>
        <p class="text">{{ application?.other_income_source }} </p>
    </div>
    <div *ngIf="descPatrimony != ''" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Valor do património mobiliário</p>
        <p class="text">{{ descPatrimony ? descPatrimony : '-'}}</p>
    </div>

    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step">O agregado familiar apresentou declaração de IRS</p>
        <p class="text">{{ application?.income_statement_delivered ? 'Sim' : 'Não' }} </p>
    </div>
    <div *ngIf="application?.income_statement_delivered" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
        [nzXl]="24" [nzXXl]="24">
        <p class="title-step">Declaração de IRS do ano civil de {{year-1}}</p>
        <nz-spin [nzSpinning]="loadingFiles">
            <div nz-row nzType="flex" [nzGutter]="6" *ngIf="!this.loadingFiles">

                <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="6" [nzXXl]="4" class="gallery"
                    *ngFor="let media of filesIncomeStatement">
                    <div *ngIf="media?.type == 'IMAGE'">
                        <a target="_blank" [href]="media?.url">
                            <img [src]="media?.url" width="100px">
                        </a>
                    </div>
                    <div *ngIf="media?.type != 'IMAGE'">
                        <a target="_blank" [href]="media?.url">
                            <img src="./assets/images/doc.PNG" width="100px">
                        </a>
                    </div>
                </div>

            </div>
        </nz-spin>
    </div>
</div>
<nz-divider></nz-divider>

<!--BENEFIS-->
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
        <p class="sub-title">Benefícios Sociais</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
        <button nz-button class="button-back-action" nzType="default" (click)="changeValue(5)">
            <span>Editar</span>
        </button>
    </div>
</div>
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step"> No ano letivo {{year}}/{{year+1}} candidatou-se ou vai candidatar-se à
            bolsa de estudo?</p>
        <p class="text">{{ application?.applied_scholarship ? 'Sim' : 'Não' }}</p>
    </div>
    <div *ngIf="application?.scholarship_value" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
        [nzXXl]="24">
        <p class="title-step">Valor da bolsa</p>
        <p class="text">{{ application?.scholarship_value | number:'1.2-2' }} €</p>
    </div>
</div>

<!--Observations-->

<div *ngIf="application?.observations || filesOthers?.length>0" nz-row>
    <nz-divider></nz-divider>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
        <p class="sub-title">Observações</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
        <button nz-button class="button-back-action" nzType="default" (click)="changeValue(6)">
            <span>Editar</span>
        </button>
    </div>
</div>
<div *ngIf="application?.observations" nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="text">{{ application?.observations }}</p>
    </div>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
    style="padding-top: 15px; padding-bottom: 15px;">
    <p *ngIf="filesOthers?.length>0" class="title-step">Outros Anexos</p>
    <nz-spin [nzSpinning]="loadingFiles">
        <div nz-row nzType="flex" [nzGutter]="6" *ngIf="!this.loadingFiles">

            <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="5" [nzXXl]="4" class="gallery"
                *ngFor="let file of filesOthers">
                <div *ngIf="file?.type == 'IMAGE'">
                    <a target="_blank" [href]="file?.url">
                        <img [src]="file?.url" width="100px">
                    </a>
                </div>
                <div *ngIf="file?.type != 'IMAGE'">
                    <a target="_blank" [href]="file?.url">
                        <img src="./assets/images/doc.PNG" width="100px">
                    </a>
                </div>
            </div>

        </div>
    </nz-spin>
</div>