@import 'theme';

.ps {
  background: var(--background-color);
}

.container {
  background: white;
  padding: 24px 46px 24px 46px;
  margin-bottom: 24px;

  &__title {
    font-size: 14px;
    line-height: 22px;
    margin: 0px;
  }

  &__tag {
    background-color: var(--primary-1);
    padding: 8px;
    display: flex;
    align-items: center;

    &__text {
      margin-left: 18px;
      font-size: 14px;
      line-height: 22px;
    }
    &__value {
      font-size: 24px;
      line-height: 32px;
      color: var(--primary-color);
    }
  }
}

.title {
  padding-top: 16px;
  padding-bottom: 24px;
}

.box {
  padding: 24px;
  margin-bottom: 16px;
  border-radius: 6px;
  height: 90px;

  &__text {
    font-size: 14px;
  }

  &__value {
    text-align: right;
    color: #4d9de0;
    font-size: 24px;
  }

  &--elaboration {
    background-color: fadeout(#E1BC29, 90%);

    .box__value {
      color: #E1BC29;
    }
  }

  &--submitted {
    background-color: fadeout(#4D9DE0, 90%);

    .box__value {
      color: #4D9DE0;
    }
  }

  &--analysis {
    background-color: fadeout(#7768AE, 90%);

    .box__value {
      color: #7768AE;
    }
  }

  &--cancelled {
    background-color: fadeout(#D0021B, 90%);

    .box__value {
      color: #D0021B;
    }
  }

  &--dispatch {
    background-color: fadeout(#88CCF1, 90%);

    .box__value {
      color: #88CCF1;
    }
  }

  &--assigned {
    background-color: fadeout(#076743, 90%);

    .box__value {
      color: #076743;
    }
  }

  &--enqueued {
    background-color: fadeout(#D4B483, 90%);

    .box__value {
      color: #D4B483;
    }
  }

  &--unassigned {
    background-color: fadeout(#C1666B, 90%);

    .box__value {
      color: #C1666B;
    }
  }

  &--suspended {
    background-color: fadeout(#8EA4D2, 90%);

    .box__value {
      color: #8EA4D2;
    }
  }

  &--complaint {
    background-color: fadeout(#F75C03, 90%);

    .box__value {
      color: #F75C03;
    }
  }

  &--accepted {
    background-color: fadeout(#9DBBAE, 90%);

    .box__value {
      color: #9DBBAE;
    }
  }

  &--contracted {
    background-color: fadeout(#1BA974, 90%);

    .box__value {
      color: #1BA974;
    }
  }

  &--rejected {
    background-color: fadeout(#D0021B, 90%);

    .box__value {
      color: #D0021B;
    }
  }

  &--quiting {
    background-color: fadeout(#EF476F, 90%);

    .box__value {
      color: #EF476F;
    }
  }

  &--withdrawal {
    background-color: fadeout(#246A73, 90%);

    .box__value {
      color: #246A73;
    }
  }

  &--closed {
    background-color: fadeout(#000000, 90%);

    .box__value {
      color: #000000;
    }
  }
}

.room {
  padding: 6px !important;
  margin: 8px;
  color: black;
  cursor: pointer;

  &__text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }

  &__available {
    padding: 8px 3px 3px 0px;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;

    &__red {
      color: #d0021b;
    }

    &__green {
      color: #1ba974;
    }
  }

  &__red {
    background: fadeout(#d0021b, 90%);

    &:hover {
      background: #d0021b;
      color: white;

      .room__available {
        &__red {
          color: white;
        }

        &__green {
          color: white;
        }
      }
    }
  }

  &__green {
    background: fadeout(#1ba974, 90%);

    &:hover {
      background: #1ba974;
      color: white;

      .room__available {
        &__red {
          color: white;
        }

        &__green {
          color: white;
        }
      }
    }
  }
}
