<div perfectScrollbar class="ps scroll-container " style="height: 100%">
  <nz-spin [nzSpinning]="loadingStats">
    <div class="container">
      <p class="title">Candidaturas</p>
      <div nz-row nzType="flex" nzGutter="16">
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--submitted" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Submetidas</div>
            <div nz-col nzSpan="12" class="box__value">{{stats.submitted}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--analysis" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Em Análise</div>
            <div nz-col nzSpan="12" class="box__value">{{stats.analysis}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--cancelled" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Canceladas</div>
            <div nz-col nzSpan="12" class="box__value">{{stats.cancelled}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--dispatch" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Em Despacho</div>
            <div nz-col nzSpan="12" class="box__value">{{stats.dispatch}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--assigned" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Atribuídas</div>
            <div nz-col nzSpan="12" class="box__value">{{stats.assigned}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--enqueued" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Em Lista de Espera</div>
            <div nz-col nzSpan="12" class="box__value">{{stats.enqueued}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--unassigned" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Não Atribuídas</div>
            <div nz-col nzSpan="12" class="box__value">{{stats.unassigned}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--suspended" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Suspensas</div>
            <div nz-col nzSpan="12" class="box__value">{{stats.suspended}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--complaint" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Queixas</div>
            <div nz-col nzSpan="12" class="box__value">{{stats.complaint}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--accepted" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Aceites pelo Utilizador</div>
            <div nz-col nzSpan="12" class="box__value">{{stats.accepted}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--contracted" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Contratadas</div>
            <div nz-col nzSpan="12" class="box__value">{{stats.contracted}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--rejected" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Rejeitadas pelo Utilizador</div>
            <div nz-col nzSpan="12" class="box__value">{{stats.rejected}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--quiting" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Em Desistência</div>
            <div nz-col nzSpan="12" class="box__value">{{stats.quiting}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--withdrawal" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Retiradas</div>
            <div nz-col nzSpan="12" class="box__value">{{stats.withdrawal}}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--closed" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Fechadas</div>
            <div nz-col nzSpan="12" class="box__value">{{stats.closed}}</div>
          </div>
        </div>

      </div>
    </div>
  </nz-spin>
</div>
