<div class="content">
  <nz-spin [nzSpinning]="isLoading">
    <form nz-form [formGroup]="appointmentTypeGroup" nzLayout="horizontal">
      <nz-spin [nzSpinning]="loadingLanguages">
        <ng-container formArrayName="translations">
          <nz-tabset #translationTabs>
            <nz-tab *ngFor="let translation of translations.controls; let i = index;"
              [nzTitle]="getLanguageName(translation.value.language_id)">
              <ng-container [formGroupName]="i">
                <nz-form-item>
                  <nz-form-label nzFor="name" nzRequired>Nome ( {{getLanguageName(translation.value.language_id)}} )</nz-form-label>
                  <nz-form-control>
                    <input nz-input formControlName="name" id="name">
                  </nz-form-control>
                  <nz-form-explain class="error"
                    *ngIf="submit && appointmentTypeGroup.get('translations.' + i + '.name')?.errors">
                    Campo obrigatório
                  </nz-form-explain>
                </nz-form-item>
              </ng-container>
            </nz-tab>
          </nz-tabset>
        </ng-container>
      </nz-spin>
    </form>
  </nz-spin>
</div>
<div class="space">
  <button *ngIf="idToUpdate" nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="isLoading" [disabled]="isLoading" (click)="submitForm(appointmentTypeGroup.value)"
    [nzType]="'primary'">{{idToUpdate ? 'Editar' : 'Criar'}}</button>
</div>