<div nz-row class="experience-header">
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="10" [nzXs]="22">
    <h2 class="title-top-page">{{
      translations?.length > 1
      ? (translations | languageChange)?.name
      : ('DASHBOARD.BUTTON.SOCIAL_SUPPORT' | translate)
    }}</h2>
    <p class="sub-title-top-page">{{ 'SOCIAL_SUPPORT.COLABORATION_LIST' | translate }}</p>
  </div>
  <div nz-col [nzSm]="10" [nzXs]="22" style="margin-left: 5px; text-align: right">
    <app-button style="margin-right: 15px" [buttonStyle]="{ 'margin-top': '5px' }" *ngIf="
        ('social_scholarship:applications:create' | hasPermission) &&
        ('sasocial:is_student' | hasPermission) &&
        !showExperienceDetail &&
        !activeApplicationButton
      " (click)="goToApplication()" [translate]="'U_BIKE.APPLICATIONS.APPLY'" type="tertiary"></app-button>
    <app-button style="margin-right: 15px" [buttonStyle]="{ 'margin-top': '5px' }" *ngIf="
        idApplication !== null &&
        ('social_scholarship:applications:read' | hasPermission) &&
        !showExperienceDetail &&
        activeApplicationButton
      " (click)="goToReview()" [translate]="'SOCIAL_SUPPORT.BUTTON_DETAIL_APPLICATION'" type="tertiary"></app-button>
    <app-button *ngIf="('social_scholarship:experiences:responsable' | hasPermission) && !showExperienceDetail"
      (click)="goToOffer()" [buttonStyle]="{ 'margin-top': '5px' }" [translate]="'SOCIAL_SUPPORT.CREATE_OFFER'"
      type="tertiary"></app-button>
    <app-button style="margin-left: 15px" [buttonStyle]="{ 'margin-top': '5px' }" (click)="complain()"
      [translate]="'VOLUNTEERING.BUTTONS.COMPLAIN'" type="tertiary"></app-button>
  </div>

  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>

<app-list-experiences *ngIf="!showExperienceDetail"></app-list-experiences>
