<nz-card class="m-b-16" >
  <div nz-row>
    <label><b>Decisão:</b></label>
    {{ application.decision ? (ApplicationDecisionList | where : ['value', application.decision])[0].label : 'Sem informação'}}
  </div>
  <div nz-row>
    <label><b>Residência:</b></label>
    {{ application.assignedResidence ? application.assignedResidence.name : 'Sem informação'}}
  </div>
  <div nz-row *ngIf="application.room_id">
    <label><b>Quarto:</b></label>
    {{ application.room.name}}
  </div>
  <div nz-row nzGutter="8" nzJustify="end" class="m-8">
    <div nz-col nzSpan="6">
      <button nz-button nzType="danger" nz-popconfirm nzTitle="Pretende rejeitar esta decisão?" nzOkText="Rejeitar"
        hasPermission="accommodation:applications:dispatch" nzCancelText="Cancelar" (nzOnConfirm)="reject()" class="m-r-8">Rejeitar</button>

      <button nz-button nzType="primary" nz-popconfirm nzTitle="Pretende aceitar esta decisão?" nzOkText="Aceitar"
      hasPermission="accommodation:applications:dispatch" nzCancelText="Cancelar" (nzOnConfirm)="approve()">Aceitar</button>
    </div>
  </div>
</nz-card>
