<nz-select [(ngModel)]="ngModel" (ngModelChange)="onChange($event)"
                         [nzPlaceHolder]="control.label" style="width: 100%;" nzAllowClear
                         nzShowSearch [nzServerSearch]="control.searchOnServer" (nzOnSearch)="onSelectSearch($event)"
                         >
                <nz-option *ngFor="let key of control.values | keys" [nzLabel]="control.values[key]"
                           [nzValue]="key"></nz-option>
</nz-select>
