<div class="present-application">
    <div nz-row [nzType]="'flex'">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="4" [nzXl]="3" [nzXXl]="3">
            <div class="status">
                <nz-tag class="tab-status" [nzColor]="(configStatus | filterStatusConfig: application?.status)?.color"
                    (click)="openModal($event)">
                    {{ 'VIEW_APPLICATION_STATUS.STATUS.'+ application.status.toString().toUpperCase() | translate }}
                </nz-tag>
            </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="11" [nzXl]="12" [nzXXl]="12">
            <div *ngIf="showAssignedResidence(); else elseBlock" class="application-card--title">
                <div>{{ application.assignedResidence.name }}</div>
                <div>{{ application.assignedResidence.address }}</div>

            </div>
            <ng-template #elseBlock>
                <div class="application-card--title">
                    <div>{{ application.residence.name }}</div>
                    <div>{{ application.residence.address }}</div>
                </div>

            </ng-template>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="9" [nzXl]="9" [nzXXl]="9" style="text-align: right;">

            <app-button
                [ngClass]="{'hidden': !(application?.status === applicationsStatus.ANALYSED||application?.status === applicationsStatus.SUBMITTED)}"
                style="margin-top:2px" *ngIf="('accommodation:applications:create' | hasPermission)"
                [translate]="'MISC.EDIT'" [type]="'secundary'" (click)="editApplication()"></app-button>
            <app-button [translate]="'MISC.CONSULT'" style="margin-left: 2px; margin-top:2px" [type]="'primary'"
                (click)="goToReview(application?.id)"></app-button>
            <app-button *ngIf="('accommodation:applications:create' | hasPermission)"
                style="margin-left: 2px; margin-top:2px" [translate]="'VIEW_APPLICATION_STATUS.EVENTS.CANCEL'"
                [type]="'red'" [buttonStyle]='buttonReject' (click)="modalCancel()" [ngClass]="{'hidden': !(
                    application?.status === applicationsStatus.SUBMITTED ||
                    application?.status === applicationsStatus.ANALYSED ||
                    application?.status === applicationsStatus.PENDING ||
                    application?.status === applicationsStatus.QUEUED ||
                    application?.status === applicationsStatus.CONFIRMED
                   )}">
            </app-button>
            <app-button style="margin-left: 2px; margin-top:2px"
                *ngIf="(application?.status === applicationsStatus.ASSIGNED || application?.status === applicationsStatus.UNASSIGNED) && !application?.has_opposed && ('accommodation:applications:create' | hasPermission)"
                [translate]="'VIEW_APPLICATION_STATUS.EVENTS.OPPOSE'" [type]="'infoblue'" (click)="modalOppose()">
            </app-button>
            <app-button *ngIf="('accommodation:applications:create' | hasPermission)"
                style="margin-left: 2px; margin-top:2px" [translate]="'VIEW_APPLICATION_STATUS.EVENTS.REJECT'"
                [type]="'red'" [buttonStyle]='buttonReject' (click)="modalRejected()"
                [ngClass]="{'hidden': !(application?.status === applicationsStatus.ASSIGNED)}">
            </app-button>
            <app-button *ngIf="('accommodation:applications:create' | hasPermission)"
                style="margin-left: 2px; margin-top:2px" [translate]="'VIEW_APPLICATION_STATUS.EVENTS.CONFIRM'"
                [type]="'primary'" [buttonStyle]='buttonAccept' (click)="modalConfirm()"
                [ngClass]="{'hidden': !(application?.status === applicationsStatus.ASSIGNED)}">
            </app-button>
            <app-button  style="margin-left: 2px; margin-top:2px" *ngIf="('accommodation:applications:create' | hasPermission) && canRenew"
            [translate]="'ACCOMMODATION.RENEW_APPLICATION'" [type]="'secundary'" (click)="renewApplication()"></app-button>

        </div>
    </div>
    <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
            <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="4" [nzXl]="3" [nzXXl]="3"
                    class="padding-top-15">
                    <div nz-row>
                        <span class="title-detail">{{ "ACCOMMODATION.APPLICATIONS.SUBMITTED_ON" | translate }}</span>
                    </div>
                    <div nz-row>
                        <span class="description-detail"> {{ application?.created_at | date: 'dd-MM-yyyy' }}</span>
                    </div>
                </div>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="4" [nzXl]="3" [nzXXl]="3" class="padding-top-15">
                    <div nz-row>
                        <span class="title-detail">{{ "ACCOMMODATION.ACADEMIC_YEAR" | translate }}</span>
                    </div>
                    <div nz-row>
                        <span class="description-detail"> {{ application?.academic_year }}</span>
                    </div>
                </div>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="5" [nzXl]="4" [nzXXl]="4"
                    class="padding-top-15">
                    <div nz-row>
                        <span class="title-detail">{{
                            "ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.REGIME_ID.TITLE" | translate }}</span>
                    </div>
                    <div nz-row>
                        <span class="description-detail"> {{ (application?.currentRegime.translations | languageChange).name
                            }}</span>
                    </div>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="5" [nzXl]="4" [nzXXl]="4"
                    *ngIf="application?.room" class="padding-top-15">
                    <div nz-row>
                        <span class="title-detail">{{'VIEW_APPLICATION_STATUS.ROOM' | translate}}</span>
                    </div>
                    <div nz-row>
                        <span class="description-detail">{{ application?.room.name }}</span>
                    </div>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="5" [nzXl]="4" [nzXXl]="4"
                    *ngIf="application?.room" class="padding-top-15">
                    <div nz-row>
                        <span class="title-detail">{{'VIEW_APPLICATION_STATUS.TYPOLOGY' | translate}}</span>
                    </div>
                    <div nz-row>
                        <span class="description-detail">{{ (application?.room.typology.translations|
                            languageChange).name }}</span>
                    </div>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="5" [nzXl]="6" [nzXXl]="5"
                    class="padding-top-15">
                    <div nz-row>
                        <span class="title-detail">{{
                            "VIEW_APPLICATION_STATUS.VALID_DATE" | translate }}</span>
                    </div>
                    <div nz-row>
                        <span class="description-detail"> {{ "VIEW_APPLICATION_STATUS.VALID" | translate: { start_date:
                            (application?.start_date ? application?.start_date
                            : daycurrent) | date: 'dd/MM/yyyy' :'UTC+0': translate.currentLang, end_date:
                            (application?.end_date ?
                            application?.end_date : daycurrent) | date: 'dd/MM/yyyy' :'UTC+0': translate.currentLang}
                            }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- MODAL DETAIL -->
<nz-modal (nzOnCancel)="modalDetail = false" [(nzVisible)]="modalDetail" [nzTitle]="null"
    [nzContent]="modalContentDetailApplication" [nzFooter]="null">
    <ng-template #modalContentDetailApplication>
        <div nz-row class="padding-bottom-15">
            <nz-tag class="tab-status cursor-cont" [nzColor]="(configStatus | filterStatusConfig: application.status).color">
                {{ 'VIEW_APPLICATION_STATUS.STATUS.'+ application.status.toString().toUpperCase() | translate }}
            </nz-tag>
        </div>
        <h2 class="title-top-page">
            <div *ngIf="showAssignedResidence(); else elseBlock" class="application-card--title">
                <div>{{ application.assignedResidence.name }}</div>
                <div>{{ application.assignedResidence.address }}</div>

            </div>
            <ng-template #elseBlock>
                <div class="application-card--title">
                    <div>{{ application.residence.name }}</div>
                    <div>{{ application.residence.address }}</div>
                </div>

            </ng-template>
        </h2>

        <div *ngFor="let hist of application?.history, let idx = index" nz-row
            [ngClass]="{'box': !isPair(idx), 'box-pair': isPair(idx)}">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="21" [nzLg]="21" [nzXl]="22" [nzXXl]="22">
                <div nz-row>
                    {{hist?.created_at | date: 'dd-MM-yyyy'}} - {{hist?.created_at | date: 'HH:mm'}}h
                </div>
                <div nz-row>
                    <b>
                        <span *ngIf="hist.user_id === userId" class="history__user">{{ 'APPLICATIONS_RESUME.YOU'|
                            translate}}: </span>
                        <span *ngIf="hist.user_id !== userId" class="history__user">{{ 'APPLICATIONS_RESUME.ADMIN'|
                            translate}}: </span>
                        <span class="history__status">{{'APPLICATIONS_RESUME.STATUS.' +
                            hist.status.toString().toUpperCase()
                            | translate}}</span></b>

                </div>
            </div>
        </div>
    </ng-template>
</nz-modal>
