@import 'theme';

.present-application {
  border-radius: 5px;
  padding: 25px 15px 15px 15px;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  > div:first-child {
    margin-bottom: 10px;
  }

  &--button {
    float: right;
    margin-left: 5px;
    @media only screen and (max-width: 600px) {
      margin-top: 5px;
    }

  }
  &--label {
    opacity: 0.4;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #666666;
  }

  &--value {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #7d7d7d;
  }
}

@media only screen and (max-width: 575px) {
  .present-application {
    &--title {
      margin-top: 10px;
    }
  }
}

.application-card {
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  padding: 25px 15px 15px 15px;
  border: 1px solid transparent;
    > div:first-child {
      margin-bottom: 10px;
    }
    &--status {
      padding-left: 5px;
      padding-right: 5px;
      height: 18px;
      border-radius: 4px;
      text-align: center;
      float: left;
      font-size: 11px;
      font-weight: bold;
      line-height: 1.78;
      letter-spacing: 0.5px;
      color: white;
    }
    &--title {
      font-family: Montserrat;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #333333;
    }
    &--button {
      float: right;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .application-card {
      &--title {
        margin-top: 10px;
      }
    }
    .padding-bottom-mobile-20 {
      padding-bottom: 20px;
    }
}


.title-detail {
  font-size: 13px;
  color: var(--primary-7);
}
  
.description-detail {
    color: black;
    font-size: 13px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}
  
.padding-top-15 {
    padding-top: 15px;
}


.padding-bottom-15 {
  padding-bottom: 15px;
}


.box {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}

.box-pair {
  background-color: #f0f2f5;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.icon {
  font-size: 25px;
}

#contacts_info_interest::ng-deep svg {
  g path {
      fill: var(--primary-color);
  }
}