.content {
  padding: 24px;
  background-color: white;

  .subtitle {
      font-weight: bold;
  }
}

.actions {
  text-align : right;
  padding-top: 42px;

  button:first-child {
      margin-right: 24px;
  }

}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.space{
  background-color: #F2F2F2;
  padding-top:20px;
  padding-bottom: 20px;
  text-align: right
}

