<div class="content">
  <form nz-form [formGroup]="bikeForm">
    <div nz-row>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="identification">Identificação</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="identification" id="identification" name="identification" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="0" nzMd="2"></div>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="size">Tamanho</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="size" id="size" name="size" maxlength="4"/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="bike_model_id">Modelo de bicicleta</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <nz-select nzShowSearch nzAllowClear formControlName="bike_model_id"
              [nzLoading]="bikes_models_loading" id="bike_model_id" name="bike_model_id">
              <nz-option *ngFor="let bikeModel of bikeModels" [nzValue]="bikeModel.id" [nzLabel]="bikeModel.model">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="0" nzMd="2">
      </div>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzFor="asset_id">Ativo</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="asset_id" name="asset_id" [nzLoading]="isLoadingAssets" nzShowSearch
              (nzOnSearch)="onSearchAssets($event)">
              <nz-option *ngFor="let asset of assets" [nzLabel]="asset.designation + ' - [ Nº. Serie: ' + asset.serial_number  +']' " [nzValue]="asset.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

  </form>
</div>

<div class="space" nz-row>
  <button *ngIf="idToUpdate" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="bikeLoading" [disabled]="bikeLoading" (click)="submit()" 
      [nzType]="'primary'">{{idToUpdate ? 'Editar' : 'Criar'}}</button>
</div>