<div class="PopLocal">
  <h2 class="title-top-page">{{ 'PRIVATEACCOMMODATION.POP_LOCAL.TITLE' | translate }}</h2>
  <p class="sub-title-top-page">{{ 'PRIVATEACCOMMODATION.POP_LOCAL.SUBTITLE' | translate }}</p>

  <div class="PopLocal__box">
    <nz-checkbox-group class="PopLocal__check" [(ngModel)]="locations"> </nz-checkbox-group>
  </div>
  <div class="button-div">
    <app-button
      class="PopLocal__btn"
      (click)="confirm()"
      [buttonStyle]="{
        'font-size': '12px',
        'line-height': '20px',
        'margin-top': '30px'
      }"
      translate="PRIVATEACCOMMODATION.POP_LOCAL.BT"
    ></app-button>
  </div>
</div>
