<!--*ngIf="keyboardService._keyboardVisible | async"-->
<div style="position: absolute;
bottom: 0px;
width: 100%;
overflow: hidden;
background: white;
height: 250px;z-index: 99999;" [ngStyle]="{ 'display': visible ? 'block' : 'none' }" [hidden]="!visible">
    <mat-keyboard></mat-keyboard>
</div>