<div class="upload" *ngIf="!isLoadingFiles">
  <nz-upload
    [nzFilter]="filters"
    [nzListType]="listType"
    [nzPreview]="handlePreview"
    [nzCustomRequest]="handleUploadFile"
    [nzRemove]="handleFileRemove"
    [nzLimit]="limit"
    [nzFileList]="fileList"
    [nzShowUploadList]="!changeFileName"
  >
    <button nz-button class="upload-file-button" [ngClass]="{ disabled: !canUpload }">
      <i nz-icon nzType="icons:icons-upload"></i><span> {{ buttonName | translate }}</span>
    </button>
  </nz-upload>

  <ng-container *ngIf="changeFileName">
    <div *ngFor="let item of fileList; let index = index" class="uploaded-file">
      <a [href]="item.file.url" [title]="item.originalName" class="uploaded-file--name" target="_blank">
        <i nz-icon nzType="paper-clip" nzTheme="outline"></i> {{ item.name }}
      </a>

      <button nz-button class="uploaded-file--button" (click)="editName(index)">
        <i nz-icon nzType="edit"></i>
      </button>

      <button nz-button class="uploaded-file--button" (click)="removeFile(item.file_id)">
        <i nz-icon nzType="close"></i>
      </button>
    </div>
  </ng-container>
</div>
