:host::ng-deep {
  .upload {
    .upload-file-button {
      height: 48px;
      width: 100%;
      border-radius: 4px;
      border: solid 1px #e8e8e8;
      background-color: #ffffff;
      font-size: 14px !important;
      font-weight: 500 !important;
      line-height: 1.29 !important;
    }
  }
}

.remove-file-button {
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: 30px;
}

.primary-input {
  margin-right: 45px;
}

.uploaded-file {
  align-items: center;
  display: flex;
  line-height: 1;
  margin-bottom: 5px;
  margin-top: 5px;

  &:hover {
    background-color: #e8e8e8;
  }

  &--name {
    flex: 1;
  }

  &--button {
    align-items: center;
    display: flex;
    height: 25px;
    justify-content: center;
    margin-left: 7px;
    padding: 0;
    width: 25px;
  }
}
