<form *ngIf="form" nz-form [formGroup]="form">
  <div nz-row>
    <h2 class="title-top-page">
      {{
        translations?.length > 1
          ? (translations | languageChange)?.name
          : ('SOCIAL_SUPPORT.ATTENDANCES.REJECT_FORM.TITLE' | translate)
      }}
    </h2>
    <p class="sub-title-top-page font">
      {{ 'SOCIAL_SUPPORT.ATTENDANCES.REJECT_JUSTIFICATION_FORM.SUBTITLE' | translate }}
    </p>

  </div>

  <div class="form--description" *ngIf="attendance?.absence_reason?.length">
    <div>{{ 'SOCIAL_SUPPORT.ATTENDANCES.REJECT_JUSTIFICATION_FORM.DESCRIPTION_TITLE' | translate }}</div>
    <div class="form--description-hours">
      {{ attendance.absence_reason[0].reason }}
      <a
        *ngIf="attendance?.absence_reason[0]?.attachment_file?.url"
        target="_blank"
        [href]="attendance?.absence_reason[0]?.attachment_file?.url"
      >
        {{ 'MISC.ATTACHMENT' | translate }} <i nz-icon nzType="icons:icons-download" nzTheme="outline"></i>
      </a>
    </div>
  </div>

  <nz-divider></nz-divider>

  <div nz-row nzGutter="34">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="reject_reason" class="primary-input-label">
          {{ 'SOCIAL_SUPPORT.ATTENDANCES.REJECT_FORM.JUSTIFICATION' | translate }}
        </nz-form-label>

        <nz-form-control>
          <textarea maxlength="255"
            nz-input
            id="reject_reason"
            class="primary-textarea"
            rows="5"
            formControlName="reject_reason"
          ></textarea>
          <nz-form-explain *ngIf="form.get('reject_reason')?.dirty && form.get('reject_reason').errors" class="error">
            {{ getInputError('reject_reason') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34" class="form--buttons">
    <div nz-col nzXs="12">
      <app-button type="secundary" translate="MISC.CANCEL" (click)="close()"> </app-button>
    </div>

    <div nz-col nzXs="12" style="text-align: right">
      <app-button type="red" translate="MISC.REJECT" [loading]="isLoading" (click)="onSubmit()"></app-button>
    </div>
  </div>
</form>
