/*
    HIDE ARROWS FROM INPUT TYPE NUMBER
*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.body {
  padding: 24px;
  height: 90%;
}

.title {
  margin: 0px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #333333;
}

.title-info {
  margin: 0px;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #000000;
}

.input-group {
  display: flex;
  margin: 16px 0px 16px 0px;

  span {
    height: 64px;
    border-radius: 0px 4px 4px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #e8e8e8;
    background-color: #ffffff;
    padding: 16px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #aaaaaa;
  }

  input {
    text-align: right;
    padding: 16px;
    width: 100%;
    height: 64px;
    border-radius: 4px 0px 0px 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #e8e8e8;
    background-color: #ffffff;
  }
}

.number-row {
  margin-top: 8px;
  .button-number {
    border-radius: 43.2px;
    border: solid 1px #e8e8e8;
    background-color: #ffffff;
    padding: 24px 29px 24px 29px;
    font-family: Montserrat;
    font-size: 21.6px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
  }
}

.payment_method {
  padding-top: 40px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #333333;
}

.finish {
  width: 100%;
  background-color: #1ba974;
  color: white;
  text-align: center;
  padding: 12px;
  
  &__info {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff
  }
  
  i {
    font-size: 24px;
  }
}

.cancel {
  width: 100%;
  background-color: #980013;
  color: white;
  text-align: center;
  padding: 12px;
  
  &__info {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff
  }
  
  i {
    font-size: 24px;
  }
}
