<div nzType="flex" nzJustify="space-around" class="screen">
  <div nz-row class="body">
    <div nz-col nzSpan="6"></div>
    <div nz-col nzSpan="12">
      <p class="title">
        Carregamentos
      </p>
      <p class="title-info">
        <nz-spin [nzSpinning]="balancesLoading">
          Saldo Após Carregamentos: {{ balance ? ((balance.current_balance + input) | number: '.2-2') : '-'}}€
        </nz-spin>
      </p>
      <div class="input-group">
        <input type="number" min="0" nz-input step="any" [(ngModel)]="input" />
        <span>€</span>
      </div>

      <div nz-row nzType="flex" nzGutter="8" class="number-row">
        <div nz-col nzSpan="8">
          <button class="button-number" (click)="addToInput('1')">1</button>
        </div>
        <div nz-col nzSpan="8">
          <button class="button-number" (click)="addToInput('2')">2</button>
        </div>
        <div nz-col nzSpan="8">
          <button class="button-number" (click)="addToInput('3')">3</button>
        </div>
      </div>
      <div nz-row nzType="flex" nzGutter="8" class="number-row">
        <div nz-col nzSpan="8">
          <button class="button-number" (click)="addToInput('4')">4</button>
        </div>
        <div nz-col nzSpan="8">
          <button class="button-number" (click)="addToInput('5')">5</button>
        </div>
        <div nz-col nzSpan="8">
          <button class="button-number" (click)="addToInput('6')">6</button>
        </div>
      </div>
      <div nz-row nzType="flex" nzGutter="8" class="number-row">
        <div nz-col nzSpan="8">
          <button class="button-number" (click)="addToInput('7')">7</button>
        </div>
        <div nz-col nzSpan="8">
          <button class="button-number" (click)="addToInput('8')">8</button>
        </div>
        <div nz-col nzSpan="8">
          <button class="button-number" (click)="addToInput('9')">9</button>
        </div>
      </div>
      <div nz-row nzType="flex" nzGutter="8" class="number-row">
        <div nz-col nzSpan="8">
          <button class="button-number" (click)="addToInput('0')">0</button>
        </div>
        <div nz-col nzSpan="8">
          <button style="padding: 24px 34px 24px 34px;" class="button-number" (click)="activeComma()">
            ,
          </button>
        </div>
        <div nz-col nzSpan="8">
          <button style="padding: 24px 27px 24px 27px;" class="button-number" (click)="removeFromInput()">
            <i nz-icon type="icons:clean"></i>
          </button>
        </div>
      </div>
      <p class="payment_method">Meio de pagamento</p>
      <nz-radio-group [(ngModel)]="paymentMethod">
        <label *ngFor="let method of paymentMethods" nz-radio [nzValue]="method.id">{{ method.name }}</label>
      </nz-radio-group>
    </div>
    <div nz-col nzSpan="6"></div>
  </div>
  <div nz-row nzType="flex" style="height: 10%;">
    <div nz-col class="cancel" style="cursor: pointer; height: 100%;" nzSpan="24" *ngIf="input === 0" (click)="close()">
      <div nz-row><i nz-icon type="icons:unpaid-white"></i></div>
      <div nz-row>CANCELAR CARREGAMENTO</div>
    </div>
    <div nz-col class="finish" style="cursor: pointer; height: 100%;" nzSpan="24" *ngIf="input > 0"
      (click)="chargeModalVisible = true;">
      <div nz-row><i nz-icon type="icons:top-up-white"></i></div>
      <div nz-row>FINALIZAR CARREGAMENTO</div>
    </div>
  </div>
</div>


<nz-modal [(nzVisible)]="chargeModalVisible" nzWrapClassName="vertical-center-modal" [nzMask]="false"
  nzCancelText="Cancelar" [nzFooter]="modalFooter" (nzOnCancel)="chargeModalVisible = false;">
  <p class="modal__title">Pretende carregar esta conta-corrente?</p>
  <p class="modal__info">Ao carregar esta conta-corrente o saldo disponível após a operação será de <b>{{ balance ?
      ((balance.current_balance + input) | number: '1.2-2') : '-'}}€</b> .</p>
</nz-modal>
<ng-template #modalFooter>
  <div nz-row [nzGutter]="12">
    <div nz-col nzSpan="12">
      <nz-spin [nzSpinning]="chargeAccountLoading">
        <button class="button-tertiary button-tertiary--danger" (click)="charge()">
          Carregar
        </button>
      </nz-spin>
    </div>
    <div nz-col nzSpan="12">
      <button class="button-secundary" (click)="chargeModalVisible = false;">
        Cancelar
      </button>
    </div>
  </div>
</ng-template>