<div class="content--padding white">
  <nz-spin [nzSpinning]="isLoading">
    <form nz-form [formGroup]="formCreate">
      <div nz-row>
        <nz-form-item>
          <nz-form-label nzRequired nzFor="user_id">Nome</nz-form-label>
          <nz-form-control>
              <nz-select formControlName="user_id" name="user_id" [nzLoading]="usersLoading" [nzDisabled]="(isEdit ? true : null)" nzShowSearch nzAllowClear [nzServerSearch]="true" (nzOnSearch)="onSearchUsers($event)">
                <nz-option *ngFor="let user of users" [nzLabel]="user.name" [nzValue]="user.id"></nz-option>
              </nz-select>
              <nz-form-explain class="color-required" *ngIf="submitted && f.user_id.errors">
                  Campo obrigatório
              </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-row>
        <nz-form-item>
          <nz-form-label nzRequired nzFor="allow_historic">Permite Histórico</nz-form-label>
          <nz-form-control>
              <nz-switch formControlName="allow_historic">
              </nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
      <nz-form-item>
        <nz-form-label nzFor="attachments_ids">
          <span class="content__title">Anexos </span>
        </nz-form-label>
        <nz-form-control>
          <fi-sas-auto-upload-file [listType]="'picture-card'" [filesList]="file_ids"
            [multiUploads]="true" [buttonName]="'ANEXAR DOCUMENTOS'" (fileAdded)="onFileAdded($event)"
            (fileDeleted)="onFileDeleted($event)"></fi-sas-auto-upload-file>
        </nz-form-control>
      </nz-form-item>

    </form>
  </nz-spin>
</div>

<div class="space" nz-row>
  <button *ngIf="isEdit" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="isLoading" [disabled]="isLoading"
    (click)="submit()" class="button-submit"
    [nzType]="'primary'">{{isEdit ? 'Editar' : 'Criar'}}</button>
</div>