<div class="container white" style="padding: 20px;">
    <div style="padding-bottom: 10px;">
        <label class="title">Facebook</label>
    </div>

    <nz-spin [nzSpinning]="loadingConfiguration">
        <form nz-form [formGroup]="formData">
            <div nz-row>
                <nz-form-item>
                    <nz-form-label nzFor="facebook_id">Id da página
                    </nz-form-label>
                    <nz-form-control>
                        <input formControlName="facebook_id" id="facebook_id" type="text" nz-input>
                        <div class="error" *ngIf="submit && f.facebook_id.errors">
                            Campo obrigatório
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-row>
                <nz-form-item>
                    <nz-form-label nzFor="facebook_access">Token
                    </nz-form-label>
                    <nz-form-control>
                        <input formControlName="facebook_access" id="facebook_access" type="text" nz-input>
                        <div class="error" *ngIf="submit && f.facebook_access.errors">
                            Campo obrigatório
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </form>
    </nz-spin>
</div>
<div nz-row nzType="flex" nzJustify="end" class="space">
    <div nz-col nzSpan="24" class="actions">
        <button nz-button nzType="primary" type="button" (click)="submitForm()" [nzLoading]="loading">
            <i nz-icon nzType="save"></i>Gravar</button>
    </div>
</div>