<form nz-form [formGroup]="authenticateForm">
  <div class="authentication">

    <!-- image -->
    <div class="authentication__image">
      <img src="assets/images/hand.jpg" />
    </div>

    <!-- content -->
    <div class="authentication__content">

      <div nz-row>

        <!-- menu -->
        <div nz-col nzSpan="6">
          <div class="authentication__options">
            <h2>{{ 'AUTHENTICATION.MENU.SUBTITLE' | translate }}</h2>
          </div>

          <ul>
            <li>{{ 'AUTHENTICATION.MENU.USERNAME' | translate }}</li>
            <li>{{ 'AUTHENTICATION.MENU.CARD' | translate }}</li>
          </ul>
        </div>

        <!-- form -->
        <div nz-col nzSpan="14">

          <div class="authentication__form">
            <h1>{{ 'AUTHENTICATION.PIN.TITLE' | translate }}</h1>
            <span class="authentication__form-subtitle">{{ 'AUTHENTICATION.PIN.SUBTITLE' | translate }}</span>
            <div nz-row>
              <div nz-col nzSpan="17">
                <nz-form-item>
                  <nz-form-control [class.error]="authenticateForm.get('username').hasError('required') && authenticateForm.get('username').dirty">
                    <nz-input-group nzSize="large" nzAddOnBefore="{{ 'AUTHENTICATION.PIN.INPUT_PLACEHOLDER_USER' | translate | uppercase }}">
                      <input fi-keyboard-input-all type="text" formControlName="username" id="usernameAuth" nz-input placeholder="ex joaosantos" class="color-input"
                        (focus)="inputOnFocus($event)" (blur)="inputOnBlur($event)">
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control [class.error]="authenticateForm.get('pin').hasError('required') && authenticateForm.get('pin').dirty">
                    <nz-input-group nzSize="large" nzAddOnBefore="{{ 'AUTHENTICATION.PIN.INPUT_PLACEHOLDER_PASS' | translate | uppercase }}">
                      <input fi-keyboard-input-numpad type="password" id="pinAuth" formControlName="pin" nz-input placeholder="****" class="color-input" (focus)="inputOnFocus($event)"
                        (blur)="inputOnBlur($event)">
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <div *ngIf="authenticateForm.invalid && !authenticateForm.dirty || authenticateForm.valid">
                  <strong>{{ 'AUTHENTICATION.PIN.INFO_TITLE_A' | translate }}</strong>
                  <p>{{ 'AUTHENTICATION.PIN.INFO_HELP_A' | translate }}</p>
                </div>
    
                <div *ngIf="authenticateForm.invalid && authenticateForm.dirty">
                  <strong>{{ 'AUTHENTICATION.ERROR.LOGIN.TITLE' | translate }}</strong>
                  <p>{{ 'AUTHENTICATION.ERROR.LOGIN.TEXT' | translate }}</p>
                </div>
              </div>
              <div nz-col nzSpan="3" class="button-div">
                <div class="button-autent" (click)="handlerAuthenticate($event)">
                  <i nz-icon nzType="icons:icons-icons-success" style="font-size: 70px; margin-bottom: 15px;"></i>
                  <span>{{ 'AUTHENTICATION.MENU.CONFIRM' | translate }}</span>
                </div>
              
              </div>
            </div>
            <div nz-row>
              <button nz-button class="send_pin__button" type="button" (click)="sendPin()">{{'AUTHENTICATION.PIN.SEND_PIN' | translate }}</button>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</form>


<nz-modal [nzVisible]="modalSuccess" nzClosable="false" nzFooter="null" [nzStyle]="{top: '700px'}">
  <div class="icon-space">
      <img src="assets/images/Success.PNG" style="width: 175px;">
  </div>
  <div class="text-modal">
      <label>{{ 'AUTHENTICATION.PIN.SUCCESS' | translate }}</label>
  </div>
</nz-modal>
