@import 'default-theme.less';

:host::ng-deep {

  width: 100%;
  overflow-y: hidden;

  .authentication {
    display: grid;
    grid-template-rows: 608px auto 192px;
    grid-template-columns: 1fr;
    height: 100%;
    grid-template-areas:
      'image image'
      'content  content';

    /* image */
    &__image {
      grid-area: image;
    }

    /* content */
    &__content {
      grid-area: content;
      max-height: 994px;
      color: white;

      strong {
        font-size: 16px;
      }

      .ant-row {
        .ant-col-6 {
          padding-left: 5%;
          min-height: 994px;
          background-color: var(--fisas-05);
        }
        .ant-col-14 {
          padding: 0 8%;
          min-height: 994px;
          background-color: var(--fisas-03);
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin-left: -20%;

        li {
          padding: 24px 50px;
          font-size: 22px;

          &.active {
            background-color: var(--fisas-01);
          }
        }
      }
    }

    /* options */
    &__options {
      padding-top: 100px;

      p,
      h2 {
        margin-bottom: 0;
        color: white;
      }

      h2 {
        margin-bottom: 30px;
      }
    }

    /* form */
    &__form {
      padding-top: 100px;

      h1 {
        color: white;
      }

      .ant-form-item:nth-of-type(1) {
        margin-top: 70px;
        margin-bottom: 12px;
      }
      .ant-form-item:nth-of-type(2) {
        margin-bottom: 48px;
      }

      .ant-input-group.focus {
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.35);
      }

      .ant-input,
      .ant-input-group-addon {
        border: none;
      }

      .ant-input-lg {
        font-size: 24px;
        padding: 24px;
        height: 78px;
      }

      .ant-input-group-addon {
        background-color: #e8e8e8;
        font-size: 20px;
        font-weight: bold;
        padding: 24px 16px 24px 32px;
        color: #010b07;
      }

      nz-form-control.error {
        border: solid 3px #d0021b;
      }
    }

    &__form-subtitle {
      color: white;
      font-size: 32px;
    }

  }
}

.color-input {
  color: black;
}

.icon-space {
  text-align: center;
  padding-top: 40px;
}

.text-modal {
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 25px;
}


.button-div {
  padding-left: 5px;
}

.button-autent {
  margin-top: 68px;
  padding-left: 6px;
  height: 173px;
  padding-top: 35px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: var(--fisas-01);
  font-size: 11px;
}