.margin-bottom-30{
  margin-bottom:30px;
}

.margin-top-10{
  margin-top:10px;
}

@import 'theme.less';


.white-color {
  background-color: white;
}

.topnav span {
  float: left;
  color: grey;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  cursor:pointer;
}

.topnav span:hover {
  background-color: var(--primary-1);
  color:  var(--primary-6);
  text-decoration: none;
}

.active-menu {
  border-bottom: 4px solid var(--primary-color);
  color: var(--primary-color) !important;
}

@media screen and (max-width:600px) {
  .topnav span{
    width: 50%;
  }

  .active-menu-mobile {
    border-bottom: none !important;
    background-color: var(--primary-color) !important;
    color: white !important;
  }

}
