<div>
  <nz-descriptions nzBordered [nzSize]="'small'">
    <nz-descriptions-item nzSpan="3" nz nzTitle="Nome [PT]">{{validTranslateName(3, data.translations)}}</nz-descriptions-item>
    <nz-descriptions-item nzSpan="3" nzTitle="Descrição [PT]">{{validTranslateDescription(3, data.translations)}}</nz-descriptions-item>
    <nz-descriptions-item nzSpan="3" nzTitle="Nome [EN]">{{validTranslateName(4, data.translations)}}</nz-descriptions-item>
    <nz-descriptions-item nzSpan="3" nzTitle="Descrição [EN]">{{validTranslateDescription(4, data.translations)}}</nz-descriptions-item>
    <nz-descriptions-item nzSpan="1" nzTitle="Preço">{{data.price | currency: 'EUR'}}</nz-descriptions-item>
    <nz-descriptions-item nzSpan="2" nzTitle="IVA">{{data.vat?.name}}</nz-descriptions-item>
    <nz-descriptions-item nzSpan="1" nzTitle="Ativo"><fi-sas-tag [value]="data?.active"></fi-sas-tag></nz-descriptions-item>
    <nz-descriptions-item nzSpan="1" nzTitle="Venda ao publico"><fi-sas-tag [value]="data?.sell_to_public"></fi-sas-tag></nz-descriptions-item>
    <nz-descriptions-item nzSpan="1" nzTitle="Periodo"><fi-sas-tag [results]="weekPeriodResults" [value]="data?.period" ></fi-sas-tag></nz-descriptions-item>
    <nz-descriptions-item nzSpan="1" nzTitle="Numero de almoços">{{data.number_lunchs}}</nz-descriptions-item>
    <nz-descriptions-item nzSpan="2" nzTitle="Bloqueio almoço">{{data.blocking_lunch_at}}</nz-descriptions-item>
    <nz-descriptions-item nzSpan="1" nzTitle="Numero de Jantares">{{data.number_dinners}}</nz-descriptions-item>
    <nz-descriptions-item nzSpan="2" nzTitle="Bloqueio Jantares">{{data.blocking_dinner_at}}</nz-descriptions-item>
    <nz-descriptions-item nzSpan="1" nzTitle="Criado em">{{data.created_at | date: 'medium'}}</nz-descriptions-item>
    <nz-descriptions-item nzSpan="1" nzTitle="Alterado em">{{data.updated_at | date: 'medium'}}</nz-descriptions-item>
    </nz-descriptions>
</div>
