@import 'default-theme.less';

:host::ng-deep {

  .cart-item {

    display: flex;
    padding: 12px 0;
    flex-direction: row;
    border-top: 1px solid @fisas-grey-03;
    position: relative;

    &__column {
      flex: 1;
    }

    &__selection,
    &__remove,
    &__tools {
      max-width: 54px;
      justify-content: center;
      display: flex;
    }

    &__tools {
      position: absolute;
      top: 12px;
      right: -40px;
    }

    &__description {
      h6 {
        .font-family(16px, 700);
        line-height: 1.5;
        color: @fisas-grey-10;
        text-align: left;
        padding-right: 24px;
      }
      p {
        .font-family(12px, 400);
        color: @fisas-grey-06;
        text-align: left;
        line-height: 1.5;
        letter-spacing: -0.2px;
        margin: 0;
      }
      span {
        .font-family(10px, 700);
        color: @fisas-grey-05;
        letter-spacing: -0.17px;
        line-height: 18px;
      }
    }

    &__state {
      max-width: 24px;
    }

    &__price {
      max-width: 135px;
      text-align: center;

      span {
        .font-family(16px, 400);
        color: @fisas-grey-10;
        text-align: right;
        line-height: 1.5;
      }
    }

    &__info {
      display: flex;
      max-width: 194px;
      flex-direction: column;

      &-row {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      &-qt {
        width: 40px;
        text-align: center;

        span {
          .font-family(16px, 400);
          color: @fisas-grey-10;
          text-align: center;
          letter-spacing: 0;
          line-height: 1.5;
        }
      }

      &-vat,
      &-current {
        margin-left: auto;
      }

      &-vat {
        .font-family(12px, 400);
        color: @fisas-grey-06;
        letter-spacing: -0.2px;
        line-height: 18px;
      }

      &-current {
        .font-family(10px, 700);
        color: @fisas-grey-05;
        letter-spacing: -0.17px;
        line-height: 18px;
      }

      &-value {
        .font-family(16px, 700);
        color: @fisas-grey-10;
        margin-left: auto;
      }

      &-decrease {
        a {
          display: block;
          color: @fisas-red-04;
          padding: 0 6px 6px 6px;
        }
      }

      &-increase {
        a {
          display: block;
          color: #0f8156;
          padding: 0 6px 6px 6px;
        }
      }
    }
  }
}

.stock {
  color: red;
  font-weight: bold;
}