<div class="cart-item">

  <!--  select -->
  <div class="cart-item__column cart-item__selection">
  </div>

  <!--  name, description -->
  <div class="cart-item__column cart-item__description">
    <ng-content select=".item-description"></ng-content>
  </div>

  <div class="cart-item__column cart-item__price">
    <ng-container *ngIf="price && price > 0">
      <span>{{ price | number : '1.2-2':'pt-PT' }}€</span>&nbsp;
      <span>[{{ (vat * 100) | number : '1.0-0':'pt-PT' }}%]</span>
    </ng-container>
  </div>

  <div class="cart-item__column cart-item__info">
    <div class="cart-item__info-row">
      <div class="cart-item__info-decrease">
        <a (click)="handlerQtDecrease($event)">
          <svg-icon
            src="assets/icons/icons-minus.svg"
            [svgStyle]="{ 'width.px': 24, 'height.px': 24 }"
          ></svg-icon>
        </a>
      </div>
      <div class="cart-item__info-qt">
        <span>x{{ quantity }}</span>
      </div>
      <div class="cart-item__info-increase">
        <a *ngIf="quantity < stock" (click)="handlerQtIncrease($event)">
          <svg-icon
            src="assets/icons/icons-plus.svg"
            [svgStyle]="{ 'width.px': 24, 'height.px': 24 }"
          ></svg-icon>
        </a>
        <label *ngIf="quantity >= stock" class="stock"> {{ 'CART.ITEM.STOCK' | translate }}</label>
      </div>
      <div class="cart-item__info-value">
        <span>{{ totalValue  | number : '1.2-2':'pt-PT' }}€</span>
      </div>
    </div>

    <!-- vat -->
    <div class="cart-item__info-row cart-item__info-vat">
      {{ 'CART.ITEM.VAT' | translate }} {{ vatValue | number : '1.2-2':'pt-PT' }}€
    </div>

  </div>

  <!-- remove -->
  <div class="cart-item__column cart-item__remove">
    <a (click)="handlerRemoveProduct($event)">
      <svg-icon
        src="assets/icons/icons-close.svg"
        [svgStyle]="{ 'width.px': 24, 'height.px': 24 }"
      ></svg-icon>
    </a>
  </div>

  <div class="cart-item__column cart-item__tools">
    <ng-content select=".item-tool"></ng-content>
  </div>
</div>
