@import "theme";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 1199px)";
@mobile:    ~"only screen and (min-width: 320px) and (max-width: 719px)";
@bg: #ffffff;
@hole: .4em;
@font-sum: 1px;

.blur {
    opacity: 50%;
}

.black-text {
  color: black;
  font-family: Montserrat;
  font-size: 15px;
}

.card {
    &__title {
      font-weight: bold;
      font-size: 17px;
      color: var(--primary-7);
    @media @mobile {
        font-size: 15px;
    }
    }
    &__section {
    color: #000000;
    margin-bottom: 0.5cm;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    }
}

.btw-see-more {
  border: solid 0.4px black;
  color: black;
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}

.btw-see-more:hover {
  color: white !important;
  border: solid 0.4px var(--primary-6);
  background-color: var(--primary-6);
}

#icon-dashboard::ng-deep svg {
    path {
        fill: var(--primary-color);
    }
}

.icon {
    font-size: 40px;
    padding-right: 10px;
    @media @mobile {
      font-size: 27px;
    }
}

.ticket {
  cursor:pointer;
  width: 95%;
  height: 100%;
  display: inline-block;
  border: 1px solid var(--primary-1);
  position: relative;
  padding: 3%;
  color: black;
  font-size: 16px;
  border-radius: 7px;
  background-size: 51% 100%;
  &:hover {
    border-color: var(--primary-color);
    background-color: var(--primary-1);
  }
    img {
        width: 75px;
        height: 75px;
        border-radius: 3px;
        object-fit: cover;
      }

      &___cancel {
        margin-left: 10px;
        a > i {
          font-size: 16px;
          color: var(--primary-color);
        }
        ul > li {
          font-family: Montserrat;
          font-size: 13px + @font-sum;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.38;
          letter-spacing: normal;
          color: #000000;
        }
      }

      &___dish_info {
        font-family: Montserrat;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        padding-left: 8px;

        &___date_meal {
          margin-bottom: 10px;
        }

        &___meal {
          margin: 0px;
          margin-bottom: 8px;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.6;
          letter-spacing: normal;
          color: #979797;
        }

        &___date {
          line-height: 1.33;
          text-align: right;
          color: var(--primary-color);
        }

        &___type {
          margin: 0px;
          margin-bottom: 16px;
          font-weight: 700;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.23;
          letter-spacing: normal;
          color: #222222;
        }

        &___name {
          font-style: normal;
          font-stretch: normal;
          line-height: 1.38;
          letter-spacing: normal;
          color: #222222;
          padding-bottom: 10px;
        }
      }
}


.box-service {
  font-size: 12px;
  color:gray;
  background-color: lightgray;
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.box-service-active {
  font-size: 12px;
  color:white;
  background-color: var(--primary-color);
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;

}


.space-box {
  margin-left: 20px;

}


.box-services {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Montserrat;
  @media @mobile {
    margin-left: 0px;
  }
  @media @tablet {
    margin-left: 10px;
  }
}

.box-painel {
  margin-top: 20px;
}

@media @mobile {
    .card{
      &__section {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
}
