<nz-card
  class="card__section"
  [ngClass]="{ blur: !services.active }"
  *ngIf="custumizeToggle || services.active"
>
  <div nz-row>
    <div
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="16"
      [nzLg]="16"
      [nzXl]="14"
      [nzXXl]="14"
    >
      <div nz-row>
        <div
          nz-col
          [nzXs]="3"
          [nzSm]="3"
          [nzMd]="4"
          [nzLg]="3"
          [nzXl]="2"
          [nzXXl]="2"
        >
          <i
            nz-icon
            class="icon"
            type="icons:icons-food"
            id="icon-dashboard"
          ></i>
        </div>
        <div
          nz-col
          [nzXs]="21"
          [nzSm]="21"
          [nzMd]="20"
          [nzLg]="21"
          [nzXl]="22"
          [nzXXl]="22"
        >
          <div nz-row style="padding-top: 7px">
            <span class="card__title">{{
              "DASHBOARD.WIDGETS.MEALS_LOGGED.TITLE" | translate
            }}</span>
          </div>
        </div>
      </div>
    </div>
    <div
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="8"
      [nzLg]="8"
      [nzXl]="10"
      [nzXXl]="10"
    >
      <button
        nz-button
        nzType="default"
        class="btw-see-more"
        [routerLink]="['/alimentation', 'purchased-tickets']"
      >
        {{ "DASHBOARD.WIDGETS.SEE-MORE.TITLE" | translate }}
      </button>
    </div>
  </div>
  <div nz-row class="box-services" nzType="flex" style="align-items: stretch">
    <div
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="12"
      [nzLg]="6"
      [nzXl]="4"
      [nzXXl]="2"
      *ngFor="let service of services.data"
    >
      <div
        (click)="selectService(service.id, service.menus)"
        [ngClass]="{
          'box-service': serviceSelected != service.id,
          'box-service-active': serviceSelected == service.id
        }"
      >
        {{ service?.name }}
      </div>
    </div>
  </div>
  <div
    nz-row
    nzType="flex"
    style="align-items: stretch"
    class="space-box"
    *ngFor="let menu of meals"
  >
    <div
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="24"
      [nzLg]="11"
      [nzXl]="8"
      [nzXXl]="8"
      class="box-painel"
      *ngFor="let menu_dish of menu.dishs"
    >
      <div
        nz-row
        class="ticket"
        (click)="goDetail(menu?.service_id, menu?.dishs[0].id, menu?.meal)"
      >
        <div
          nz-col
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="6"
          [nzLg]="6"
          [nzXl]="6"
          [nzXXl]="6"
        >
          <img
            *ngIf="menu_dish.dish?.file_id"
            src="{{ menu_dish.dish?.file?.url }}"
          />
          <img
            *ngIf="menu_dish.dish?.file_id == null"
            src="/assets/imgs/unavailable-image.jpg"
          />
        </div>
        <div
          nz-col
          class="ticket___dish_info"
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="18"
          [nzLg]="18"
          [nzXl]="18"
          [nzXXl]="18"
        >
          <div nz-row class="ticket___dish_info___date_meal">
            <div nz-col class="ticket___dish_info___meal" [nzSpan]="12">
              {{
                menu?.meal == "dinner"
                  ? ("DASHBOARD.WIDGETS.MEALS_LOGGED.DINNER" | translate)
                  : ("DASHBOARD.WIDGETS.MEALS_LOGGED.LUNCH" | translate)
              }}
            </div>
            <div nz-col class="ticket___dish_info___date" [nzSpan]="12">
              {{ menu?.date | date: "yyyy MM dd" }}
            </div>
          </div>

          <div nz-row>
            <div nz-col class="ticket___dish_info___type" [nzSpan]="24">
              {{ (menu_dish.dish?.translations | languageChange)?.name }}
            </div>
          </div>

          <div nz-row>
            <div nz-col class="ticket___dish_info___name" [nzSpan]="24">
              {{ (menu_dish.dish?.translations | languageChange)?.description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nz-card>
