
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="21" [nzLg]="22" [nzXl]="21" [nzXXl]="21">
  <div nz-row>
    <b>{{ 'SOCIAL_SUPPORT.INTERVIEW.TITLE' | translate }}</b>
  </div>
  <div nz-row>
    {{ 'SOCIAL_SUPPORT.INTERVIEW.DESCRIPTION' | translate }}{{ interview?.local
    }}{{ 'SOCIAL_SUPPORT.INTERVIEW.DESCRIPTION2' | translate }} {{ interview?.date | date: 'dd-MM-yyyy'
    }}{{ 'SOCIAL_SUPPORT.INTERVIEW.DESCRIPTION3' | translate }}{{ interview?.date | date: 'HH:mm' }}h
    <br>
  </div>
  <div nz-row *ngIf="interview?.responsable">
    <b>{{ 'SOCIAL_SUPPORT.INTERVIEW.RESPONSIBLE' | translate }}</b
    ><br>
    {{ interview?.responsable?.name }}
    <br>
    {{ interview?.responsable?.email }}
    <br>
    {{ interview?.responsable?.phone }}
    <br>
  </div>
  <div nz-row *ngIf="interview?.notes">
    <b>{{ 'SOCIAL_SUPPORT.INTERVIEW.NOTES' | translate }}</b
    > <br>{{ interview?.notes }}
  </div>
  <div nz-row *ngIf="interview?.observations">
    <b>{{ 'SOCIAL_SUPPORT.INTERVIEW.OBSERVATIONS' | translate }}</b
    >
    <br>{{ interview?.observations }}
  </div>
  <div nz-row *ngIf="interview?.file">
    <b>{{ 'SOCIAL_SUPPORT.INTERVIEW.FILE' | translate }}</b>
    <br>
    <a href="{{ interview?.file ? interview?.file.url : '#' }}" download target="_blank">
      <span class="cursor-pointer">
        {{ interview?.file?.filename | replace: 'uploads/':'' }}
        <i nz-icon id="download-icon-social-sup" nzType="icons:icons-download"></i></span>
    </a>
  </div>
</div>
