.technical_data {
    font-family: Montserrat;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;

    &__headline {
        font-size: 12px;
        font-weight: 300;
        line-height: 1.5;
        color: #111;
        text-transform: uppercase;
    }
    &__doctors{
        padding-bottom: 31px;
    }
    &__avarage_time{
       margin-top: 39px;
       padding-bottom: 31px;
    }
    &__location{
        margin-top: 39px;
        padding-bottom: 31px;
     }
    &__doctors_label {
        font-size: 13px;
        font-weight: bold;
        line-height: 1.23;
        color: #222;
        margin: 6px 20px 71px 0px;
    }
}

.badge-specialty{
    font-family: Montserrat;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    border: solid 1px var(--primary-color);
    background-color: var(--white);
    margin-top: 13px;
    cursor: default;
    &__label{
        height: 30px;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: 0.21px;
        text-align: center;
        color: var(--primary-color);
    }
}

.place_info{
    margin: 9px 51px 35px 0;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: #222;
    &__text-style-1{
        font-weight: normal;  
    }
    &__text-style-2{
        font-weight: normal;
        color: var(--primary-color);
    }
    &__text-style-3{
        font-weight: normal;
        color: var(--primary-color);
    }
}

.place_table {
    margin-bottom: 30px;
  
    tr > td {
      background-color: white;
      border-bottom: none;
      padding: 0px
    }
  
    tr:hover > td {
      background-color: white;
    }
}  