  <div class="content-card">
    <div class="technical_data__doctors">
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
          <span class="technical_data__headline">{{ 'HEALTH.SPECIALTY.TECHNICAL_DATA.LABEL_MEDICAL_TEAM' | translate }}</span>
        </div>
      </div>
      <span class="technical_data__doctors_label" *ngFor="let doctor of specialty.doctors">{{ doctor.user.name }}</span>
    </div>
  </div>
  <div class="content-card">
    <div class="technical_data__avarage_time">
      <div nz-row>
          <div nz-row>
            <span class="technical_data__headline">{{ 'HEALTH.SPECIALTY.TECHNICAL_DATA.LABEL_AVAILABLE_ATTENDANCE_TYPE' | translate }}</span>
          </div>
          <div nz-row>
            <nz-tag class="badge-specialty" *ngFor="let appointment_type of specialty.appointment_types" >
              <span class="badge-specialty__label"> {{ (appointment_type.translations | languageChange).name }} </span>
            </nz-tag>
          </div>
      </div>
    </div>
  </div>
  <div class="technical_data__location">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
        <div nz-row>
          <span class="technical_data__headline">{{ 'HEALTH.SPECIALTY.TECHNICAL_DATA.LABEL_LOCATION' | translate }}</span>
        </div>
        <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
          <div nz-row>
            <span class="place_info__text-style-1">{{ 'HEALTH.SPECIALTY.TECHNICAL_DATA.LABEL_PHONE' | translate }}</span>
          </div>
          <div nz-row>
            <span class="place_info__text-style-1">{{ 'HEALTH.SPECIALTY.TECHNICAL_DATA.LABEL_FAX' | translate }}</span>
          </div>
          <div nz-row>
            <span class="place_info__text-style-1">{{ 'HEALTH.SPECIALTY.TECHNICAL_DATA.LABEL_EMAIL' | translate }}</span>
          </div>
          <div nz-row>
            <span class="place_info__text-style-1">{{ 'HEALTH.SPECIALTY.TECHNICAL_DATA.LABEL_ADDRESS' | translate }}</span>
          </div>
          <div nz-row>
            <span class="place_info__text-style-1">  {{ 'HEALTH.SPECIALTY.TECHNICAL_DATA.LABEL_POSTAL_CODE' | translate }} / 
              {{ 'HEALTH.SPECIALTY.TECHNICAL_DATA.LABEL_CITY' | translate }} :</span>
          </div>
        </div>
        <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
          <div nz-row>
            <span class="place_info__text-style-1">{{ specialty.place.phone }}</span>
          </div>
          <div nz-row>
            <span class="place_info__text-style-1">{{ specialty.place.fax }}</span>
          </div>
          <div nz-row>
            <span class="place_info__text-style-1">{{ specialty.place.email }}</span>
          </div>
          <div nz-row>
            <span class="place_info__text-style-1">{{ specialty.place.address }}</span>
          </div>
          <div nz-row>
            <span class="place_info__text-style-1">{{ specialty.place.postal_code}} {{ specialty.place.city}}</span>
          </div>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
        <aol-map [height]="'500px'" >
          <aol-interaction-default></aol-interaction-default>
          <aol-control-defaults></aol-control-defaults>
          <aol-control-scaleline></aol-control-scaleline>
          <aol-view [zoom]="15">
              <aol-coordinate [x]="longitudeInit" [y]="latitudeInit" [srid]="'EPSG:4326'">
              </aol-coordinate>
          </aol-view>
          <aol-layer-tile>
              <aol-source-osm></aol-source-osm>
          </aol-layer-tile>
          <aol-layer-vector>
              <aol-source-vector>
                  <aol-feature>
                      <aol-geometry-point>
                          <aol-coordinate [x]="longitude" [y]="latitude" [srid]="'EPSG:4326'">
                          </aol-coordinate>
                      </aol-geometry-point>
                      <aol-style>
                          <!--<aol-style-icon [src]="'assets/imgs/map-marker-icon.png'" [anchor]="[0.5, 1]"
                      [anchorXUnits]="'fraction'" [anchorYUnits]="'fraction'" [scale]="0.1"
                      [anchorOrigin]="'top-left'">
                  </aol-style-icon>-->
                          <aol-style-circle [radius]="10">
                              <aol-style-stroke [color]="'black'" width="1"></aol-style-stroke>
                              <aol-style-fill [color]="'red'"></aol-style-fill>
                          </aol-style-circle>
                      </aol-style>
                  </aol-feature>
              </aol-source-vector>
          </aol-layer-vector>
      </aol-map>
      </div>
    </div>
  </div>

