@import 'theme';

.monthly-reports-table {
  &--add-button {
    padding: 20px 15px;
    text-align: right;
  }

  &--header {
    th {
      background-color: #ffffff;
      border: 0;
      color: #333333;
      font-stretch: normal;
      font-style: normal;
      font-weight: 600;
      letter-spacing: normal;
      line-height: 1.5;
    }
  }

  &--row {
    td {
      border: 0;
      color: black;
      font-stretch: normal;
      font-style: normal;
      font-weight: 600;
      letter-spacing: 0.11px;
      line-height: 1.33;
    }


    ::ng-deep {
      .paid-icon,
      .close-icon {
        svg {
          height: 22px;
          width: 22px;
        }
      }

      .close-icon svg path {
        fill: #d0021b;
      }
    }

    &.row-even {
      background-color: #fbfbfb;
    }

    &.row-odd {
      background-color: #ffffff;
    }

    &--attachment {
      padding-bottom: 10px;
      padding-top: 10px;
      text-align: right;

      a {
        background-color: #fff;
        border-radius: 4px;
        border: solid 2px #d9d9d9;
        color: #222;
        display: inline-block;
        padding: 8px 15px;
      }
    }
  }
}
