<nz-tabset nzTabPosition="left">

    <nz-tab nzTitle="Informação Adicional">
        <div *ngIf="data?.student_number || data?.email" nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Utente
                </div>
                <div nz-row class="detail-field">
                    {{data?.student_number ? 'Nº' + data?.student_number : ''}}  
                </div>
                <div nz-row class="detail-field">
                    {{data?.email ? data?.email : ''}} 
                </div>
            </div>
        </div>
        <div *ngIf="data.type == 'M' && data?.appointment_schedule" nz-row nzType="flex" nzJustify="start" class="padding-top-10">
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Data da Marcação
                </div>
                <div nz-row class="detail-field">
                    {{data?.appointment_schedule | date: "dd-MM-yyy"}} {{data?.appointment_schedule | date: "HH:mm"}}h
                </div>
            </div>
        </div>        
        <div *ngIf="data.type == 'S' && data?.initial_time && data?.final_time" nz-row nzType="flex" nzJustify="start" class="padding-top-10">
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Data de Início de Atendimento
                </div>
                <div nz-row class="detail-field">
                    {{data?.initial_time | date: "dd-MM-yyy"}} {{data?.initial_time | date: "HH:mm"}}h
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                <div nz-row class="title">
                    Data de Fim de Atendimento
                </div>
                <div nz-row class="detail-field">
                    {{data?.final_time | date: "dd-MM-yyy"}} {{data?.final_time | date: "HH:mm"}}h
                </div>
            </div>
        </div>
        <div nz-row nzType="flex" nzJustify="start" class="padding-top-10">
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <div nz-row class="title">
                    Notas do Utente
                </div>
                <div nz-row class="detail-field">
                    {{data?.appointment_reason ? data?.appointment_reason : 'Sem notas'}}  
                </div>
            </div>
        </div>
        <div nz-row nzType="flex" nzJustify="start" class="padding-top-10">
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <div nz-row class="title">
                    Notas de Atendimento
                </div>
                <div nz-row class="detail-field">
                    {{data?.notes ? data?.notes : 'Sem notas'}}  
                </div>
            </div>
        </div>
    </nz-tab>
</nz-tabset>