<!--- OPTIONS -->
<div nz-row style="margin: 24px 0px;">
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12" style="text-align: start;">
    <app-button translate="MISC.RETURN" (click)="back()" [leftIcon]="'left'"
    [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}" type="tertiary"></app-button>
  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
  </div>
</div>



<div nz-row>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12" class="content">
    <nz-empty *ngIf="!route" [nzNotFoundContent]="'MOBILITY.ROUTE_DETAIL.NO_CONTENT' | translate"></nz-empty>
    <div nz-row *ngIf="route">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="16" [nzXXl]="16" class="content__route_stops">
        <div nz-row *ngFor="let step of steps;let first = first; let last = last;" class="content__route_stops__row">
          <div nz-col [nzXs]="10" [nzSm]="10" [nzMd]="11" [nzLg]="11" [nzXl]="8" [nzXXl]="8">
            <div nz-row class="content__route_stops__row__first">{{ step.departure_time }}</div>
            <div nz-row class="content__route_stops__row__second  content__route_stops__row__second--margin">
              <i nz-icon nzType="icons:icons-walk" *ngIf="step?.vehicle === 'CAMINHADA'"></i>
              <i nz-icon nzType="icons:icons-bus" *ngIf="step?.vehicle === 'AUTOCARRO'"></i>
              <i nz-icon nzType="icons:icons-train"
                *ngIf="step?.vehicle === 'COMBOIO' || step?.vehicle === 'COMBOIO_SUBURBANO'"></i>
              <i nz-icon nzType="icons:icons-metro" *ngIf="step?.vehicle === 'METROPOLITANO'"></i>
            </div>
          </div>
          <div nz-col [nzXs]="2" [nzSm]="2" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1">
            <div nz-row  *ngIf="!last" class="content__route_stops__row__first"
              [ngClass]="{ 'content__route_stops__row__first--first': first }">
              <i nz-icon nzType="icons:icons-spot"></i>
            </div>
            <div *ngIf="!last" nz-row class="content__route_stops__row__second">
              <!-- !prices entao e externo -->
              <div class="content__route_stops__row__second__step-dash"></div>
              <div class="content__route_stops__row__second__step-dash"></div>
              <div class="content__route_stops__row__second__step-dash"></div>
              <div class="content__route_stops__row__second__step-dash"></div>
              <div class="content__route_stops__row__second__step-dash"></div>
              <div class="content__route_stops__row__second__step-dash"></div>
            </div>
            <div *ngIf="last" nz-row class="content__route_stops__row__first"
              [ngClass]="{ 'content__route_stops__row__first--last': last }">
              <i nz-icon nzType="icons:icons-spot"></i>
            </div>
          </div>
          <div nz-col [nzXs]="10" [nzSm]="10" [nzMd]="11" [nzLg]="11" [nzXl]="8" [nzXXl]="8">
            <div nz-row class="content__route_stops__row__first">{{ step.local }}</div>
            <div nz-row class="content__route_stops__row__second content__route_stops__row__second--margin">
              {{ step.route_line ? step.route_line : step.instruction }}</div>
          </div>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="8" [nzXXl]="8" class="content__route_details">
        <p>{{ 'MOBILITY.ROUTE_DETAIL.RESUME' | translate }}</p>
        <table>
          <tr>
            <td><label class="sub-title-resume">{{ 'MOBILITY.ROUTE_DETAIL.DATE' | translate }}</label></td>
            <td><label class="desc-resume">{{ route.date | date:'dd/MM/yyyy'}} {{ route.date | date:'HH:mm'}}</label></td>
          </tr>
          <tr>
            <td><label class="sub-title-resume">{{ 'MOBILITY.ROUTE_DETAIL.DEPARTURE' | translate }}</label></td>
            <td><label class="desc-resume">{{ route.departure_place }}</label></td>
          </tr>
          <tr>
            <td><label class="sub-title-resume">{{ 'MOBILITY.ROUTE_DETAIL.DEPARTURE_TIME' | translate }}</label></td>
            <td><label class="desc-resume">{{ formatHour(route.departure_hour)}}</label></td>
          </tr>
          <tr>
            <td><label class="sub-title-resume">{{ 'MOBILITY.ROUTE_DETAIL.ARRIVAL' | translate }}</label></td>
            <td><label class="desc-resume">{{ route.arrival_place }}</label></td>
          </tr>
          <tr>
            <td><label class="sub-title-resume">{{ 'MOBILITY.ROUTE_DETAIL.ARRIVAL_TIME' | translate }}</label></td>
            <td><label class="desc-resume">{{ formatHour(route.arrival_hour)}}</label></td>
          </tr>
          <tr>
            <td><label class="sub-title-resume">{{ 'MOBILITY.ROUTE_DETAIL.STOPS' | translate }}</label></td>
            <td><label class="desc-resume">{{ route.stops }}</label></td>
          </tr>
          <tr>
            <td><label class="sub-title-resume">{{ 'MOBILITY.ROUTE_DETAIL.DURATION' | translate }}</label></td>
            <td><label class="desc-resume"> {{ convertDuration(route?.duration) }}</label></td>
          </tr>
          <tr>
            <td><label class="sub-title-resume">{{ 'MOBILITY.ROUTE_DETAIL.PRICE' | translate }}</label></td>
            <td><label class="desc-resume">{{ getTicketPrice() | number:'1.2-2'}} €</label></td>
          </tr>
        </table>
        <p style="margin-top: 42px;">{{ 'MOBILITY.ROUTE_DETAIL.INFORMATIONS' | translate }}</p>
        <div class="content__route_details__contact__phone">{{ route?.route_line }}</div>
        <div class="content__route_details__contact">
          <div class="content__route_details__contact__title">{{ (contacts?.translations | languageChange)?.name }}</div>
          <div class="content__route_details__contact__title">{{ contacts?.email }}</div>
          <div class="content__route_details__contact__url">{{ contacts?.url }}</div>
        </div>
      </div>
    </div>
  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
  </div>
</div>
