@import 'theme';

.content {
    background: white;
    padding   : 48px 24px;

    &__route_stops {
        &__row {
            &__first {
                font-family   : Montserrat;
                font-size     : 14px;
                font-weight   : bold;
                font-stretch  : normal;
                font-style    : normal;
                line-height   : 1.5;
                letter-spacing: normal;
                text-align    : center;
                color         : #222222;

                &--first {
                    color: var(--primary-color);
                }

                &--last {
                    color: #d0021b;
                }
            }


            &__second {
                opacity       : 0.5;
                font-family   : Montserrat;
                font-size     : 12px;
                font-weight   : normal;
                font-stretch  : normal;
                font-style    : normal;
                line-height   : 1.5;
                letter-spacing: normal;
                text-align    : center;
                color         : #222222;

                &--margin {
                    padding: 30px 0px;
                }

                i {
                    font-size: 36px;
                }

                &__step-dash {
                    margin          : 10px 7px;
                    width           : 4px;
                    height          : 4px;
                    background-color: #222222;
                }
            }
        }
    }

    &__route_details {
        p {
            font-family   : Montserrat;
            font-size     : 17px;
            font-weight   : 900;
            font-stretch  : normal;
            font-style    : normal;
            line-height   : 1.5;
            letter-spacing: normal;
            color         : var(--primary-color);
            margin-bottom : 18px;
        }

        table {
            width: 100%;

            td:first-child {
                color: grey;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.33;
                letter-spacing: normal;
            }

            td:last-child {
                color: Black;
                font-weight: 700;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.85;
                letter-spacing: normal;
            }
        }

        &__contact {
            &__title {
                font-family   : Montserrat;
                font-size     : 12px;
                font-weight   : bold;
                font-stretch  : normal;
                font-style    : normal;
                line-height   : 1.5;
                letter-spacing: normal;
                color         : black;
            }

            &__phone {
                font-family: Montserrat;
                font-size     : 12px;
                font-weight   : 300;
                font-stretch  : normal;
                font-style    : normal;
                line-height   : 1.5;
                letter-spacing: normal;
                color         : black;
            }

            &__url {
                font-family: Montserrat;
                font-size     : 12px;
                font-stretch  : normal;
                font-style    : normal;
                line-height   : 1.5;
                letter-spacing: normal;
                color         : black;
            }
        }
    }
}
