
<div nz-row nzType="flex" nzJustify="space-around" class="screen list">
  <div *ngIf="selectedUser">

    <div nz-col [nzMd]="24" style="text-align: right;">
      <button class="button-tertiary cursor button-close" (click)="closeUser()">Finalizar</button>
    </div>
    <h1 class="title">
      Refeições para {{ activeMeal === Meal.LUNCH ? 'Almoço' : 'Jantar'}} - {{ today | date: "fullDate" }}
    </h1>
    <nz-skeleton [nzActive]="true" [nzLoading]="reservationsLoading">
      <p *ngIf="(reservations | where: ['is_served', false]).length === 0" class="emptyDate">Sem Resultados</p>
      <fisas-meal-row
        *ngFor="let reservation of reservations | where: ['is_served', false]"
        [data]="reservation"
        type="reservations" [pack]="true"
      ></fisas-meal-row>
    </nz-skeleton>
    <h1 class="title" style="margin-top: 48px;">Senhas usadas</h1>
    <nz-skeleton [nzActive]="true" [nzLoading]="reservationsLoading">
      <p *ngIf="(reservations | where: ['is_served', true]).length === 0" class="emptyDate">Sem Resultados</p>
      <fisas-meal-row
        *ngFor="let reservation of reservations | where: ['is_served', true]"
        [data]="reservation"
        type="used_reservations" [pack]="false"
      ></fisas-meal-row>
    </nz-skeleton>
    <h1 class="title" style="margin-top: 48px;">{{ activeMeal === Meal.LUNCH ? 'Almoço' : 'Jantar'}} de hoje - para comprar</h1>
    <nz-skeleton [nzActive]="true" [nzLoading]="reservationsLoading">
      <p *ngIf="menu.length === 0" class="emptyDate">Sem Resultados</p>
      <fisas-meal-row [data]="m" *ngFor="let m of menu" type="menu" [pack]="false"></fisas-meal-row>
    </nz-skeleton>
  </div>
</div>