@import 'theme';
.status-meals {
    padding-bottom: 16px;
}

.title {
    margin: 0px;
    padding: 16px 16px 8px 16px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #333333;
    border-bottom: solid 1px #e9e9e9;
}

.emptyDate {
    text-align: center;
    margin-top: 10px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #666666;
}

.list {
    height: 100%;
    overflow-x: hidden;
    background-color: white;
}

.button-close {
    background-color: @primary-4;
    border-color: @primary-4;
    color: white;
    width: 18%;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}