
  .canteen {
    margin-top: 25px;
    cursor: default;
    border: 0;
    border-radius: 5px;
    background-color: #ffffff;
    font-style: normal;
    font-stretch: normal;
    font-family: Montserrat;
    letter-spacing: normal;
  
}

.padding-top-30 {
    padding-top: 30px;
}

.text-right {
    text-align: right;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.error {
    color: red;
    margin-top:5px;
  
    &__input {
      border-color: red !important;
      background-color: #ff00000a;
  
      :focus {
        border-color: red !important;
      }
  
      :hover {
        border-color: red !important;
      }
    }
  }