<div nz-row>
    <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>

    <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12">
        <div nz-row>
            <app-button translate="MISC.RETURN" (click)="back()" [leftIcon]="'left'"
                [buttonStyle]="{'font-size': '12px', 'line-height': '18px', 'margin-top': '20px'}" type="tertiary">
            </app-button>
        </div>
        <div nz-row>
            <form nz-form [formGroup]="formPredefined">
                <nz-card class="canteen">
                    <h2 class="title-top-page">{{ "ALIMENTATION.ENTITIES_PREDEFINED.PACK_CONF" | translate }}</h2>
                    <div nz-row>
                        <h4 class="padding-top-30 font-size-16">{{ "ALIMENTATION.ENTITIES_PREDEFINED.TITLE_ENTITIES" |
                            translate }}
                        </h4>
                        <nz-select class="primary-select" formControlName="entity_id" [nzLoading]="entitiesLoading" style="width: 100%;"
                            nzShowSearch (ngModelChange)="findValues($event)"
                            [nzPlaceHolder]="'ALIMENTATION.ENTITIES_PREDEFINED.TITLE_ENTITIES_PLACEHOLDER' | translate">
                            <nz-option nzCustomContent *ngFor="let entity of entities" [nzLabel]="entity.name"
                                [nzValue]="entity.id"> {{entity.name}}
                            </nz-option>
                        </nz-select>

                    </div>
                </nz-card>
                <nz-card *ngIf="formPredefined.get('entity_id').value" class="canteen margin-bottom-20">
                    <div nz-row>
                        <h4 class="title-top-page font-size-18">{{
                            "ALIMENTATION.ENTITIES_PREDEFINED.TITLE_CANTEEN" |
                            translate }}</h4>
                        <h5 class="padding-top-30 font-size-16">{{ "ALIMENTATION.MEALS.LUNCH" | translate }}</h5>
                        <div nz-col>
                            <nz-select class="primary-select" formControlName="canteen_lunch_id" style="width: 100%;" nzShowSearch
                                [nzPlaceHolder]="'ALIMENTATION.ENTITIES_PREDEFINED.CANTEEN_SELECT_LUNCH' | translate">
                                <nz-option nzCustomContent *ngFor="let canteen of canteens" [nzLabel]="canteen.name"
                                    [nzValue]="canteen.id"> {{canteen.name}}
                                </nz-option>
                            </nz-select>
                            <nz-form-explain class="error" *ngIf="submitted && f.canteen_lunch_id.errors">
                                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                            </nz-form-explain>
                        </div>
                        <h5 class="padding-top-30 font-size-16">{{ "ALIMENTATION.MEALS.DINNER" | translate }}</h5>
                        <div nz-col>
                            <nz-select class="primary-select" formControlName="canteen_dinner_id" style="width: 100%;" nzShowSearch
                                [nzPlaceHolder]="'ALIMENTATION.ENTITIES_PREDEFINED.CANTEEN_SELECT_DINNER' | translate">
                                <nz-option nzCustomContent *ngFor="let canteen of canteens" [nzLabel]="canteen.name"
                                    [nzValue]="canteen.id"> {{canteen.name}}
                                </nz-option>
                            </nz-select>
                            <nz-form-explain class="error" *ngIf="submitted && f.canteen_dinner_id.errors">
                                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                            </nz-form-explain>
                        </div>
                        <h4 class="title-top-page font-size-18 padding-top-30">{{
                            "ALIMENTATION.ENTITIES_PREDEFINED.TITLE_DISH_TYPE"
                            | translate }}</h4>
                        <h5 class="padding-top-30 font-size-16">{{ "ALIMENTATION.MEALS.LUNCH" | translate }}</h5>
                        <div nz-col>
                            <nz-select class="primary-select" formControlName="dish_type_lunch_id" style="width: 100%;" nzShowSearch
                                [nzPlaceHolder]="'ALIMENTATION.ENTITIES_PREDEFINED.DISH_SELECT_LUNCH' | translate">
                                <nz-option nzCustomContent *ngFor="let dish of dishTypes"
                                    [nzLabel]="(dish.translations | languageChange).name" [nzValue]="dish.id">
                                    {{(dish.translations
                                    | languageChange).name}}
                                </nz-option>
                            </nz-select>
                            <nz-form-explain class="error" *ngIf="submitted && f.dish_type_lunch_id.errors">
                                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                            </nz-form-explain>
                        </div>
                        <h5 class="padding-top-30 font-size-16">{{ "ALIMENTATION.MEALS.DINNER" | translate }}</h5>
                        <div nz-col>
                            <nz-select class="primary-select" formControlName="dish_type_dinner_id" style="width: 100%;" nzShowSearch
                                [nzPlaceHolder]="'ALIMENTATION.ENTITIES_PREDEFINED.DISH_SELECT_DINNER' | translate">
                                <nz-option nzCustomContent *ngFor="let dish of dishTypes"
                                    [nzLabel]="(dish.translations | languageChange).name" [nzValue]="dish.id">
                                    {{(dish.translations
                                    | languageChange).name}}
                                </nz-option>
                            </nz-select>
                            <nz-form-explain class="error" *ngIf="submitted && f.dish_type_dinner_id.errors">
                                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                            </nz-form-explain>
                        </div>
                        <div nz-col class="padding-top-30 text-right">
                            <app-button [loading]="isLoading" (click)="onSubmit()" [type]="'primary'"
                                [translate]="'MISC.SAVE_CHANGES'">
                            </app-button>
                        </div>
                    </div>
                </nz-card>
            </form>
        </div>



    </div>

    <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>
</div>