#c1, #c2 {
  //overflow: hidden;
  width: calc(100vw - 380px);
}

.map_content {
    background: white;
    padding: 48px;
    margin-top: 24px;

    &__applications-stats {
      padding-top: 20px;
        .box {
            padding: 24px;
            margin-bottom: 16px;
           border-radius: 2px;
          
            &__text {
              font-size: 14px;
            }
            
            &__value {
              text-align: right;
              color: #4D9DE0;
              font-size: 24px;
            }
            
            &--submitted {
              background-color: fadeout(#88CCF1, 90%);
          
              .box__value {
                color: #4D9DE0;
              }  
            }
            
            &--analysed {
              background-color: fadeout(#7768AE, 90%);
          
              .box__value {
                color: #7768AE;
              }  
            }
            
            &--dispatch {
              background-color: fadeout(#88CCF1, 90%);
          
              .box__value {
                color: #87CCF1;
              }  
            }
            
            &--enqueued {
              background-color: fadeout(#D4B483, 90%);
          
              .box__value {
                color: #D4B483;
              }  
            }
            
            &--confirmed {
              background-color: fadeout(#9DBBAE, 90%);
          
              .box__value {
                color: #066743;
              }  
            }
            
            &--rejected {
              background-color: fadeout(#D0021B, 90%);
          
              .box__value {
                color: #D0021A;
              }  
            }
            
            &--contracted {
              background-color: fadeout(#076743, 90%);
          
              .box__value {
                color: #066743;
              }  
            }
          }
    }
}

#chart {
  max-width: 650px;
  margin: 35px auto;
}
