<div class="map_content">
  <div nz-row nzType="flex" nzJustify="start" nzAlign="middle" nzGutter="16" class="p-16">
    <div nz-col>
      Centro Académico
    </div>
    <div nz-col>
      <nz-select style="width: 300px" [(ngModel)]="selectedResidence" (ngModelChange)="onResidenceChange($event)"
        [nzLoading]="residence_loading">
        <nz-option *ngFor="let residence of residences" [nzLabel]="residence.name" [nzValue]="residence.id"></nz-option>
      </nz-select>
    </div>

  </div>

  <div nz-row nzType="flex" nzGutter="16" class="map_content__applications-stats">
    <div nz-col nzXs="24" nzSm="12" nzMd="6">
      <div nz-row class="box box--submitted" nzType="flex" nzAlign="middle" nzJustify="space-between">
        <div nz-col nzSpan="12" class="box__text">Alojados</div>
        <div nz-col nzSpan="12" class="box__value">{{ totalSubmitted }}</div>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="6">
      <div nz-row class="box box--analysed" nzType="flex" nzAlign="middle" nzJustify="space-between">
        <div nz-col nzSpan="12" class="box__text">Ausências</div>
        <div nz-col nzSpan="12" class="box__value">{{ totalAnalyzed }}</div>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="6">
      <div nz-row class="box box--dispatch" nzType="flex" nzAlign="middle" nzJustify="space-between">
        <div nz-col nzSpan="12" class="box__text">Reservas</div>
        <div nz-col nzSpan="12" class="box__value">{{ totalPending }}</div>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="6">
      <div nz-row class="box box--enqueued" nzType="flex" nzAlign="middle" nzJustify="space-between">
        <div nz-col nzSpan="12" class="box__text">Desistências</div>
        <div nz-col nzSpan="12" class="box__value">{{ totalQueued }}</div>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="6">
      <div nz-row class="box box--confirmed" nzType="flex" nzAlign="middle" nzJustify="space-between">
        <div nz-col nzSpan="12" class="box__text">Quartos</div>
        <div nz-col nzSpan="12" class="box__value">{{ totalConfirmed }}</div>
      </div>
    </div>
  </div>

</div>

 <!-- <div class="map_content">
  <div id="c2"></div>
  <div nz-col nzSpan="12">
    <div nz-row style="margin-bottom: 16px;">
    <div id="chart">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
          [dataLabels]="chartOptions.dataLabels" [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend"
          [fill]="chartOptions.fill" [markers]="chartOptions.markers" [title]="chartOptions.title"
          [tooltip]="chartOptions.tooltip"></apx-chart>
      </div>
    </div>
  </div>
</div>-->