.experience {
  padding: 24px 16px 24px 16px;

  &--type {
    color: unset;
    font-size: unset;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: unset;
  }

  &--name {
    color: #333333;
    font-family: Montserrat;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.45;
  }
}

.top {
  padding-top: 10px;
}