<div class="content--padding white">
  <nz-spin [nzSpinning]="isLoading">
      <form nz-form [formGroup]="formCreate">
        <div nz-row [nzGutter]="24">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="doctor_id">Profissional</nz-form-label>
              <nz-form-control>
                  <nz-select formControlName="doctor_id" name="doctor_id" [nzLoading]="doctorsLoading" [nzDisabled]="isEdit" (ngModelChange)="getSpecialtiesByDoctor()">
                    <nz-option *ngFor="let doctor of doctors" [nzLabel]="doctor.user.name" [nzValue]="doctor.id"></nz-option>
                  </nz-select>
                  <nz-form-explain class="color-required" *ngIf="submitted && f.doctor_id.errors">
                      Campo obrigatório
                  </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="specialty_id">Especialidade</nz-form-label>
              <nz-form-control>
                <nz-select formControlName="specialty_id" name="specialty_id" [nzLoading]="specialtiesLoading" [nzDisabled]="isEdit">
                  <nz-option *ngFor="let specialty of specialtiesList" 
                  [nzLabel]="validTranslateName(3,specialty?.translations)" 
                  [nzValue]="specialty.id"
                  [nzDisabled]="isSpecialtyDisabled(specialty.id)"
                  ></nz-option>
                </nz-select>
                <nz-form-explain class="color-required" *ngIf="submitted && f.specialty_id.errors && specialtiesDoctorList.length > 0">
                    Campo obrigatório
                </nz-form-explain>
            </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row class="padding-top-30">
          <nz-divider></nz-divider>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <ng-container *ngTemplateOutlet="schedulesTpl"></ng-container>
        </div>
        
        <div nz-row [nzGutter]="24" >
          <div nz-col nzSpan="24" class="padding-bottom-10">
            <label class="content__title">Horários </label>
          </div>

          <ng-container formArrayName="schedules">
            <div  nz-row *ngFor="let schedule of schedules.controls; let i = index">
              <ng-container [formGroupName]="i">
                <div nz-row nzJustify="start" class="container__data-extra__row">
                    <div nz-col nzSpan="1">
                      <nz-form-control>
                        <button nz-button (click)="deletePeriodSection(i)" style="margin-top: 42px">
                          <i nz-icon nzType="minus-circle-o"></i></button>
                      </nz-form-control>
                    </div>
                    <div nz-col nzSpan="6">
                      <nz-form-item>
                        <nz-form-label nzRequired nzFor="dateRange"> Período Consultas <b>{{ i+1 }}</b></nz-form-label>
                        <nz-form-control [nzErrorTip]="error_dateRange">
                          <nz-range-picker formControlName="dateRange" name="dateRange"
                            [nzDisabledDate]="disabledDatePeriod"
                            (ngModelChange)="filterDaySelection(i)">
                          </nz-range-picker>
                          <ng-template #error_dateRange let-control>
                            <!--<ng-container class="error" *ngIf="f.dateRange.dirty && f.dateRange.errors">
                              Campo obrigatório
                            </ng-container>-->
                          </ng-template>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                </div>
                <div class="container__data-extra__row">
                  <div nz-row class="day-container" formArrayName="days" *ngFor="let day of getDays(schedule); let j = index">
                    <ng-container [formGroupName]="j">
                      <div nz-row  nz-row nzJustify="start" class="container__data-extra__row">
                          <div nz-col nzSpan="1">
                            <nz-form-control>
                              <button nz-button (click)="deleteDaySection(i, j)">
                                <i nz-icon nzType="minus-circle-o"></i></button>
                            </nz-form-control>
                          </div>
                          <div nz-col nzSpan="4">
                            <nz-form-item>   
                              <nz-form-control [nzErrorTip]="error_available_days">
                                <nz-select formControlName="day" name="day">
                                  <nz-option nzValue="Sunday" nzLabel="Domingo" [nzDisabled]="isDisabledDay('Sunday', i)"></nz-option>
                                  <nz-option nzValue="Monday" nzLabel="Segunda-feira" [nzDisabled]="isDisabledDay('Monday', i)"></nz-option>
                                  <nz-option nzValue="Tuesday" nzLabel="Terça-feira" [nzDisabled]="isDisabledDay('Tuesday', i)"></nz-option>
                                  <nz-option nzValue="Wednesday" nzLabel="Quarta-feira" [nzDisabled]="isDisabledDay('Wednesday', i)"></nz-option>
                                  <nz-option nzValue="Thursday" nzLabel="Quinta-feira" [nzDisabled]="isDisabledDay('Thursday', i)"></nz-option>
                                  <nz-option nzValue="Friday" nzLabel="Sexta-feira" [nzDisabled]="isDisabledDay('Friday', i)"></nz-option>
                                  <nz-option nzValue="Saturday" nzLabel="Sábado" [nzDisabled]="isDisabledDay('Saturday', i)"></nz-option>
                                </nz-select>
                                <ng-template #error_available_days let-control>
                                  <!--<ng-container class="error" *ngIf="f.get('schedules')['controls'][i].get('days')['controls'][j].valid">
                                    Campo obrigatório
                                  </ng-container>-->
                                </ng-template>
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                        <div nz-col nzSpan="1"></div>
                        <div nz-col nzSpan="12">
                          <div class="hour-container" formArrayName="hours" *ngFor="let day of getHours(day); let k = index">
                            <ng-container [formGroupName]="k">
                              <div nz-col nzSpan="6" class="hour-element">
                                <div nz-col nzSpan="4">
                                    <nz-form-control>
                                      <button nz-button (click)="deleteHourSection(i,j,k)">
                                        <i nz-icon nzType="minus-circle-o"></i></button>
                                    </nz-form-control>
                                </div>
                                <div nz-col nzSpan="4">
                                    <nz-form-item>
                                      <nz-form-control>
                                        <nz-time-picker formControlName="start_hour" nzFormat="HH:mm" nzPlaceHolder="Hora Início" [nzDefaultOpenValue]="defaultOpenValue" (ngModelChange)="checkHoursPeriod(i,j,k)"></nz-time-picker>
                                        <!--<nz-form-explain *ngIf="submitted && f.start_hour.errors">Hora inválida</nz-form-explain> -->
                                      </nz-form-control>
                                    </nz-form-item>
                                    <nz-form-item>
                                      <nz-form-control>
                                        <nz-time-picker formControlName="end_hour" nzFormat="HH:mm" nzPlaceHolder="Hora Fim" [nzDefaultOpenValue]="defaultOpenValue" (ngModelChange)="checkHoursPeriod(i,j,k)"></nz-time-picker>
                                        <!--<nz-form-explain *ngIf="submitted && f.start_hour.errors">Hora inválida</nz-form-explain> -->
                                      </nz-form-control>
                                    </nz-form-item>
                                </div>
                              </div>
                            </ng-container>
                          </div>
                          <div nz-col nzSpan="1">
                            <nz-form-control>
                              <button nz-button (click)="addHourSection(i,j)">
                                <i nz-icon nzType="plus-circle-o"></i>
                              Adicionar Hora </button>
                            </nz-form-control>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                <div nz-row [nzGutter]="24">
                  <nz-form-control>
                    <button nz-button (click)="addDaySection(i)">
                      <i nz-icon nzType="plus-circle-o"></i>
                      Adicionar Dia</button>
                  </nz-form-control>
                </div>
              </div>
              </ng-container>
              <nz-divider></nz-divider>
            </div>
          </ng-container>
          <div nz-row [nzGutter]="24" *ngIf="!isEdit">
            <div nz-col nzSpan="12">
              <nz-form-control>
                <button nz-button (click)="addScheduleSection()">
                  <i nz-icon nzType="plus-circle-o"></i>
                  Adicionar Período</button>
              </nz-form-control>
            </div>
          </div>
        </div>
      </form>
  </nz-spin>
</div>
<ng-template #schedulesTpl>

</ng-template>

<div class="space" nz-row>
  <button *ngIf="isEdit" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="isLoading" [disabled]="isLoading"
    (click)="submit()" class="button-submit"
    [nzType]="'primary'">{{isEdit ? 'Editar' : 'Criar'}}</button>
</div>