<form nz-form [formGroup]="formCreate">

    <div class="container">
        <nz-spin [nzSpinning]="languages_loading">
            <ng-container formArrayName="translations">
                <nz-tabset [nzTabBarExtraContent]="languageTemplate" #translationTabs>
                    <nz-tab *ngFor="let translation of translations.controls; let i = index;"
                        [nzTitle]="getLanguageName(translation.value.language_id)">
                        <ng-container [formGroupName]="i">
                            <nz-form-item>
                                <nz-form-label nzRequired>
                                    Nome da Fila
                                </nz-form-label>
                                <nz-form-control>
                                    <input type="text" nz-input formControlName="name">
                                </nz-form-control>
                                <nz-form-explain class="color-required" 
                                    *ngIf="submitted && formCreate.get('translations.' + i + '.name')?.errors">
                                    Campo obrigatório
                                </nz-form-explain>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzRequired>
                                    Texto descritivo do horário a aparecer junto da fila
                                </nz-form-label>
                                <nz-form-control>
                                    <input type="text" nz-input formControlName="schedule_description">
                                </nz-form-control>
                                <nz-form-explain class="color-required"
                                    *ngIf="submitted && formCreate.get('translations.' + i + '.schedule_description')?.errors">
                                    Campo obrigatório
                                </nz-form-explain>
                            </nz-form-item>
                        </ng-container>
                    </nz-tab>
                </nz-tabset>
            </ng-container>
        </nz-spin>

        <div nz-row>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="15" [nzLg]="15" [nzXl]="15" [nzXXl]="15">
                <div nz-row>
                    <nz-form-label nzRequired>
                        Serviço
                    </nz-form-label>
                    <nz-form-control>
                        <nz-select class="primary-select" formControlName="service_id" nzShowSearch
                            [attr.disabled]="((servicesLoading ) ? true : null)">
                            <nz-option *ngFor="let service of services"
                                [nzLabel]="(service?.translations | translation)?.name"
                                [nzValue]="service.id">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                    <nz-form-explain class="color-required" *ngIf="submitted && f.service_id.errors">
                        Campo obrigatório
                    </nz-form-explain>
                </div>
            </div>
        </div>
        <div nz-row class="padding-schedule padding-top-mobile">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
                <div nz-row>
                    <nz-form-label nzRequired>Código</nz-form-label>
                    <nz-form-control>
                        <input type="text" nz-input formControlName="code" maxlength=3>
                    </nz-form-control>
                    <nz-form-explain class="color-required" *ngIf="submitted && f.code.errors">
                        Campo obrigatório
                    </nz-form-explain>
                </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
                <div nz-row>
                    <nz-form-label nzRequired>Tempo médio (min)</nz-form-label>
                    <nz-form-control>
                        <input type="number" nz-input formControlName="estimated_time" />
                      
                    </nz-form-control>
                    <nz-form-explain class="color-required" *ngIf="submitted && f.estimated_time.errors">
                        Campo obrigatório
                    </nz-form-explain>
                </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
                <div nz-row>
                    <nz-form-label nzRequired>Tolerância máxima</nz-form-label>
                    <nz-form-control>
                        <input type="number" nz-input formControlName="max_tolerance" minlength="1" min=0 pattern="\d*">
                    </nz-form-control>
                    <nz-form-explain class="color-required" *ngIf="submitted && f.max_tolerance.errors">
                        Campo obrigatório
                    </nz-form-explain>
                </div>
            </div>
        </div>
        <div nz-row class="padding-schedule">
           <span class="color-required">* </span> <label class="container__title">Horário </label> 
        </div>
        <!---------------Monday-------------->
        <div nz-row class="padding-schedule">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="3" [nzXXl]="3">
                Segunda-feira
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="16" [nzXl]="11" [nzXXl]="9">
                <div *ngIf="formCreate.get('monday')['controls'].length>0">
                    <div *ngFor="let schedulesGroup of formCreate.get('monday')['controls'];let i = index"
                        [formGroup]="schedulesGroup">
                        <div nz-row nzType="flex" class="margin-bottom-6 padding-top-5">
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                                <input type="time" nz-input placeholder="Abertura" formControlName="opening_hour"
                                    class="width-data" (change)="errorScheduls = false" />
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="2" class="padding-top-5 text-center " [nzLg]="2"
                                [nzXl]="2" [nzXXl]="2">
                                -
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                                <input type="time" nz-input placeholder="Encerramendo" formControlName="closing_hour"
                                    class="width-data" (change)="errorScheduls = false" />
                            </div>
                            <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"
                                class="text-center padding-top-5">
                                <i nz-icon nzType="plus" nzTheme="outline" class="i-plus-close"
                                    (click)="addNewDay('monday')"></i>
                            </div>
                            <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"
                                class="text-center padding-top-5">
                                <i nz-icon nzType="close" nzTheme="outline" class="i-plus-close"
                                    (click)="deleteDay(i,'monday')"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="formCreate.get('monday')['controls'].length==0">
                    <div nz-row nzAlign="left">
                        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
                            <i nz-icon nzType="plus" nzTheme="outline" class="i-plus-close"
                                (click)="addNewDay('monday')"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------Tuesday------------------->
        <div nz-row class="padding-top-5">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="3" [nzXXl]="3">
                Terça-feira
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="16" [nzXl]="11" [nzXXl]="9">
                <div *ngIf="formCreate.get('tuesday')['controls'].length>0">
                    <div *ngFor="let schedulesGroup of formCreate.get('tuesday')['controls'];let i = index"
                        [formGroup]="schedulesGroup">
                        <div nz-row nzType="flex" class="margin-bottom-6 padding-top-5">
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                                <input type="time" nz-input placeholder="Abertura" formControlName="opening_hour"
                                    class="width-data" (change)="errorScheduls = false" />
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="2" class="padding-top-5 text-center " [nzLg]="2"
                                [nzXl]="2" [nzXXl]="2">
                                -
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                                <input type="time" nz-input placeholder="Encerramendo" formControlName="closing_hour"
                                    class="width-data" (change)="errorScheduls = false" />
                            </div>
                            <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"
                                class="text-center padding-top-5">
                                <i nz-icon nzType="plus" nzTheme="outline" class="i-plus-close"
                                    (click)="addNewDay('tuesday')"></i>
                            </div>
                            <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"
                                class="text-center padding-top-5">
                                <i nz-icon nzType="close" nzTheme="outline" class="i-plus-close"
                                    (click)="deleteDay(i,'tuesday')"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="formCreate.get('tuesday')['controls'].length==0">
                    <div nz-row nzAlign="left">
                        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
                            <i nz-icon nzType="plus" nzTheme="outline" class="i-plus-close"
                                (click)="addNewDay('tuesday')"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!----------------------------Wednesday----------------------->
        <div nz-row class="padding-top-5">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="3" [nzXXl]="3">
                Quarta-feira
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="16" [nzXl]="11" [nzXXl]="9">
                <div *ngIf="formCreate.get('wednesday')['controls'].length>0">
                    <div *ngFor="let schedulesGroup of formCreate.get('wednesday')['controls'];let i = index"
                        [formGroup]="schedulesGroup">
                        <div nz-row nzType="flex" class="margin-bottom-6 padding-top-5">
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                                <input type="time" nz-input placeholder="Abertura" formControlName="opening_hour"
                                    class="width-data" (change)="errorScheduls = false" />
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="2" class="padding-top-5 text-center " [nzLg]="2"
                                [nzXl]="2" [nzXXl]="2">
                                -
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                                <input type="time" nz-input placeholder="Encerramendo" formControlName="closing_hour"
                                    class="width-data" (change)="errorScheduls = false" />
                            </div>
                            <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"
                                class="text-center padding-top-5">
                                <i nz-icon nzType="plus" nzTheme="outline" class="i-plus-close"
                                    (click)="addNewDay('wednesday')"></i>
                            </div>
                            <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"
                                class="text-center padding-top-5">
                                <i nz-icon nzType="close" nzTheme="outline" class="i-plus-close"
                                    (click)="deleteDay(i,'wednesday')"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="formCreate.get('wednesday')['controls'].length==0">
                    <div nz-row nzAlign="left">
                        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
                            <i nz-icon nzType="plus" nzTheme="outline" class="i-plus-close"
                                (click)="addNewDay('wednesday')"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--------------------------Thursday--------------------------->
        <div nz-row class="padding-top-5">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="3" [nzXXl]="3">
                Quinta-feira
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="16" [nzXl]="11" [nzXXl]="9">
                <div *ngIf="formCreate.get('thursday')['controls'].length>0">
                    <div *ngFor="let schedulesGroup of formCreate.get('thursday')['controls'];let i = index"
                        [formGroup]="schedulesGroup">
                        <div nz-row nzType="flex" class="margin-bottom-6 padding-top-5">
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                                <input type="time" nz-input placeholder="Abertura" formControlName="opening_hour"
                                    class="width-data" (change)="errorScheduls = false" />
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="2" class="padding-top-5 text-center " [nzLg]="2"
                                [nzXl]="2" [nzXXl]="2">
                                -
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                                <input type="time" nz-input placeholder="Encerramendo" formControlName="closing_hour"
                                    class="width-data" (change)="errorScheduls = false" />
                            </div>
                            <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"
                                class="text-center padding-top-5">
                                <i nz-icon nzType="plus" nzTheme="outline" class="i-plus-close"
                                    (click)="addNewDay('thursday')"></i>
                            </div>
                            <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"
                                class="text-center padding-top-5">
                                <i nz-icon nzType="close" nzTheme="outline" class="i-plus-close"
                                    (click)="deleteDay(i,'thursday')"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="formCreate.get('thursday')['controls'].length==0">
                    <div nz-row nzAlign="left">
                        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
                            <i nz-icon nzType="plus" nzTheme="outline" class="i-plus-close"
                                (click)="addNewDay('thursday')"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-----------------Friday-------------------->
        <div nz-row class="padding-top-5">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="3" [nzXXl]="3">
                Sexta-feira
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="16" [nzXl]="11" [nzXXl]="9">
                <div *ngIf="formCreate.get('friday')['controls'].length>0">
                    <div *ngFor="let schedulesGroup of formCreate.get('friday')['controls'];let i = index"
                        [formGroup]="schedulesGroup">
                        <div nz-row nzType="flex" class="margin-bottom-6 padding-top-5">
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                                <input type="time" nz-input placeholder="Abertura" formControlName="opening_hour"
                                    class="width-data" (change)="errorScheduls = false" />
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="2" class="padding-top-5 text-center " [nzLg]="2"
                                [nzXl]="2" [nzXXl]="2">
                                -
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                                <input type="time" nz-input placeholder="Encerramendo" formControlName="closing_hour"
                                    class="width-data" (change)="errorScheduls = false" />
                            </div>
                            <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"
                                class="text-center padding-top-5">
                                <i nz-icon nzType="plus" nzTheme="outline" class="i-plus-close"
                                    (click)="addNewDay('friday')"></i>
                            </div>
                            <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"
                                class="text-center padding-top-5">
                                <i nz-icon nzType="close" nzTheme="outline" class="i-plus-close"
                                    (click)="deleteDay(i,'friday')"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="formCreate.get('friday')['controls'].length==0">
                    <div nz-row nzAlign="left">
                        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
                            <i nz-icon nzType="plus" nzTheme="outline" class="i-plus-close"
                                (click)="addNewDay('friday')"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nz-form-explain class="color-required" *ngIf="submitted && errorScheduls">
            Campo obrigatório
        </nz-form-explain>
        <div nz-row style="padding-top: 35px;">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="11" [nzXXl]="11">
                <div nz-row class="padding-bottom-10">
                    <label class="container__title">Marcações </label>
                </div>
                <div nz-row>
                    <div class="switch">
                        <div class="container__title" style=" float: left;">Este Serviço está disponível para receber
                            marcações?</div>
                        <div class="switch__input">
                            <nz-switch formControlName="appointments"></nz-switch>
                        </div>
                    </div>
    
                </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="0" [nzXl]="2" [nzXXl]="2"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                <div nz-row>
                    <nz-form-label nzRequired>Duração da reunião (min) </nz-form-label>
                    <nz-form-control>
                        <input type="number" nz-input formControlName="duration" />
    
                    </nz-form-control>
                    <nz-form-explain class="color-required" *ngIf="submitted && f.duration.errors">
                        Campo obrigatório
                    </nz-form-explain>
                </div>
            </div>
        </div>
    </div>

    <div nz-row style="padding-left: 30px;">
        <nz-form-explain class="color-required" *ngIf="submitted && errorTrans" style="padding-top: 20px;">
            Obrigatório preencher pelo menos uma tradução
        </nz-form-explain>
    </div>

</form>

<div class="space">
    <button *ngIf="id != undefined" nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
    <button nz-button [nzLoading]="loading" [disabled]="loading"
      (click)="id != undefined ? save(true) : save(false)" class="button-submit"
      [nzType]="'primary'">{{id
      != undefined ? 'Editar' : 'Criar'}}</button>
  </div>


<ng-template #languageTemplate>
    <nz-select class="languages" nzMode="multiple" [(ngModel)]="listOfSelectedLanguages" [nzMaxTagCount]="1"
        nzPlaceHolder="Línguas" [nzLoading]="languages_loading" (ngModelChange)="changeLanguage()">
        <nz-option *ngFor="let language of languages" [nzLabel]="language.name" [nzValue]="language.id"></nz-option>
    </nz-select>
</ng-template>