.container-table {
    background: white;
    padding: 24px 0px 0px 0px;
    margin-bottom: 24px;
}

.container-text{
    padding: 40px 30px 40px 30px !important;
}
  
.container {
    background: white;
    padding: 24px 30px 24px 30px;
    margin-bottom: 5px;
    &__title {
        font-size: 16px;
        line-height: 22px;
        margin: 0px;
        font-weight: bold;
        margin-bottom:10px;
        color:black;
    }
    &__subtitle{
      margin-bottom:5px;
    }
}

.color-required{
    color: red;
}

.switch {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    &__input {
      font-size: 12px;
      font-weight: bold;
      color: #ffffff;
      nz-switch {
        margin-left: 10px;
      }
    }
}

.padding-bottom-5{
    padding-bottom:5px;
}

.padding-bottom-10{
    padding-bottom:10px;
}


.space-button{
    padding-top: 15px;
    padding-bottom: 20px;
    padding-right: 20px;
    text-align: right;
}

.padding-schedule{
    padding-top:25px;
}

.i-plus-close{
    font-size: 22px;
    color: darkgrey;
    cursor: pointer;
}
 
  
.margin-bottom-6{
    margin-bottom: 6px;
}

.table {
    &__header {
        th {
            background:white;
            font-weight: bold;
            padding-left: 30px;
        }
  
        & > th:first-child {
            border-top-left-radius: 2px !important;
        }
        
        & > th:last-child {
            border-top-right-radius: 2px !important;
        }
    }
    
    tr {
  
        td {
            color: var(--text-color);
            padding-left: 30px;
        }
  
        background: white !important;
    }
}


.icon-active{
    font-size:20px;
    padding-left: 5px;
  }
  
#icon-active-subjects-queue::ng-deep svg {
    g path {
        fill: var(--primary-color);
    }
}

#pagination-subjects-queue ::ng-deep .ant-pagination-options {
    display: block !important;
    padding-top:10px;
    margin-left:10px !important;
  }
  
#pagination-subjects-queue ::ng-deep .ant-pagination.mini .ant-pagination-options {
    margin-left:2px;
}

.hidden-md {
    display:none;
}

.text-right{
    text-align: right;
}

.font-icon-dash{
  font-size:29px;
  color: var(--primary-color);
}

.text-center{
    text-align: center;
}

.padding-top-5{
    padding-top:5px;
}

.width-data{
    width: 100%;
}

@media screen and (max-width:800px) {
    .hidden-xs {
        display: none;
    }
  
    .hidden-md {
        display:block;
    }
  
    .font-label-mobile{
      color: black;
      font-weight: bold;
    }
  
    .font-icon-dash{
      font-size:26px;
      color: var(--primary-color);
    }
  
    .margin-bottom-15{
      margin-bottom:15px;
    }
  
}
  
@media screen and (max-width:600px) {
    .hidden-xs {
        display: none;
    }
  
    .hidden-md {
        display:block;
    }
  
    .font-label-mobile{
      color: black;
      font-weight: bold;
    }
  
    .font-icon-dash{
      font-size:26px;
      color: var(--primary-color);
    }
  
    .margin-bottom-15{
      margin-bottom:15px;
    }

   .padding-top-mobile{
       padding-top:0px !important;
   }
}


.languages {
    width: 200px;
}
  
.space{
    background-color: #F2F2F2;
    padding-top:20px;
    padding-bottom: 20px;
    text-align: right
}