<div class="container">
  <div nz-row>
    <nz-spin [nzSpinning]="loadingEdit">
      <div nz-col [nzSpan]="24">
        <form nz-form [formGroup]="formUnit">
          <nz-form-label nzRequired>
            Nome
          </nz-form-label>
          <nz-form-control>
            <input type="text" nz-input formControlName="name">
          </nz-form-control>
          <nz-form-explain class="color-required" *ngIf="submitted && f.name.errors">
            Campo obrigatório
          </nz-form-explain>

          <div nz-row class="margin-top-5">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
              <div nz-row>
                <nz-form-label nzRequired>
                  Acrónimo
                </nz-form-label>
                <nz-form-control>
                  <input type="text" nz-input formControlName="acronym">
                </nz-form-control>
                <nz-form-explain class="color-required" *ngIf="submitted && f.acronym.errors">
                  Campo obrigatório
                </nz-form-explain>
              </div>
            </div>
          </div>
          <div nz-row class="margin-top-5">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
              <div nz-row class="padding-bottom-5">
                <nz-form-label nzRequired>
                  Ativo
                </nz-form-label>
              </div>
              <div nz-row>
                <nz-switch formControlName="active">
                </nz-switch>
                <nz-form-explain class="color-required" *ngIf="submitted && f.active.errors">
                  Campo obrigatório
                </nz-form-explain>
              </div>
            </div>
          </div>
        </form>
      </div>
    </nz-spin>
  </div>
</div>
<div class="space">
  <button *ngIf="id != undefined" nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="loadingEdit" [disabled]="loadingEdit"
    (click)="id != undefined ? submitUnit(true) : submitUnit(false)" [nzType]="'primary'">{{id
    != undefined ? 'Editar' : 'Criar'}}</button>
</div>