<StackLayout class="news-detail">
  <fi-action-bar
    [actionBarType]="4"
    actionBarTitle="{{ 'news-detail.title' | translate }}"
  ></fi-action-bar>

  <ScrollView row="0">
    <WrapLayout orientation="horizontal">
      <StackLayout>
        <StackLayout class="news-detail__img">
          <Image
            class="news-detail__img"
            *ngIf="(newsDetail?.translations)[0]?.file_16_9?.url"
            src="{{ (newsDetail?.translations)[0]?.file_16_9?.url }}"
            stretch="aspectFill"
            loadMode="async"
          ></Image>
        </StackLayout>

        <StackLayout class="news-detail__content fisas__content">
          <Label
            class="news-detail__category"
            text="{{ (newsDetail?.category?.translations)[0]?.name }}"
          ></Label>
          <Label
            textWrap="true"
            class="news-detail__title"
            text="{{ (newsDetail?.translations)[0]?.title }}"
          ></Label>
          <Label
            class="news-detail__date"
            text="{{ newsDetail?.date | date: 'dd MMM yyyy':'UTC+0':locale }}"
          ></Label>
          <Label
            textWrap="true"
            class="news-detail__text"
            text="{{ (newsDetail?.translations)[0]?.body }}"
          ></Label>
        </StackLayout>
      </StackLayout>
    </WrapLayout>
  </ScrollView>
</StackLayout>
