@import "~/scss/_variables";

.news-detail {
  /* ----------------------- */
  /* Component */

  &__content {
    margin-bottom: 60;
  }

  &__img {
    background: #e8e8e8;
    width: 100%;
    height: 204;
    margin-bottom: 18;
  }

  &__category {
    font-family: "Montserrat", "Montserrat-Light";
    font-weight: 300;
    font-size: 12;
    color: $black;
    text-transform: uppercase;
    margin-bottom: 6;
  }

  &__title {
    font-family: "Montserrat", "Montserrat-Bold";
    font-weight: 700;
    font-size: 21;
    line-height: 1.14;
    color: $black;
    margin-bottom: 12;
  }

  &__date {
    font-family: "Montserrat", "Montserrat-Medium";
    font-weight: 500;
    font-size: 13;
    line-height: 1.38;
    color: $black;
    margin-bottom: 24;
  }

  &__text {
    font-family: "Montserrat", "Montserrat-Medium";
    font-weight: 500;
    font-size: 15;
    line-height: 1.6;
    color: $black;
  }
}
