
.listdetail {
    @import 'theme';

    &__body {
      margin-top: 30px;

      @media screen and (max-width: 576px) {
        padding: 16px;
      }
    }

    &__center {
      text-align: center;
    }

    &__btn2 {
        display: flex;
    }

    &__information {
      background-color: #ffffff;
      padding: 30px 35px 30px 35px;
      font-family: Montserrat;
      margin-bottom: 30px;
    }

    &__info {
      margin-top: 5px;
      margin-bottom: 15px;
      font-size: 14px;
    }

    &__title-apresentation {
      margin-top: 5px;
      margin-bottom: 15px;
      font-size: 25px;
      font-weight: bold;
      line-height: 1.33;
      color: #333333;
    }

    &__date {
        font-weight: bold;
        text-align: right;
        padding-bottom: 20px;
        font-size: 12px;
    }

    &__img {
        margin-top: 20px;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}

.img {
    text-align: center;
}
