<nz-spin [nzSpinning]="loadingDetailNews">

    <div *ngIf="!loadingDetailNews" nz-row nzType="flex" class="listdetail__body">
        <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>

        <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12">
            <div nz-row>
                <app-button translate="MISC.RETURN" (click)="backList();" [leftIcon]="'left'"
                [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}" type="tertiary"></app-button>
            </div>
            <div nz-row class="img">
                <img class="listdetail__img" *ngIf="(detailNews?.translations | languageChange)?.file_16_9?.id != null  && !existVideo(detailNews)"
                    src="{{(detailNews?.translations | languageChange)?.file_16_9?.url}}" />
                <img class="listdetail__img"  *ngIf="(detailNews?.translations | languageChange)?.file_16_9?.id == null || existVideo(detailNews)"
                    src="/assets/imgs/unavailable-image.jpg" />
            </div>

            <div class="listdetail__information">
                <div nz-row class="listdetail__date">
                    {{ detailNews?.date | date: "dd-MM-yyyy"}}
                </div>
                <div class="title-resume">{{ (detailNews?.translations | languageChange)?.title }}</div>

                <div class="listdetail__info" [innerHTML]="getHTML((detailNews?.translations | languageChange)?.body)">

                </div>
            </div>

        </div>
        <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>
    </div>
</nz-spin>