<div>
  <div nz-row>
    <nz-spin [nzSpinning]="loadingEdit">
      <div nz-col [nzSpan]="24">
        <form nz-form [formGroup]="formSensor">
          <div class="container">
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
                <div nz-row>
                  <nz-form-label nzRequired>
                    Nome
                  </nz-form-label>
                  <nz-form-control>
                    <input type="text" nz-input formControlName="name">
                  </nz-form-control>
                  <nz-form-explain class="color-required" *ngIf="submitted && f.name.errors">
                    Campo obrigatório
                  </nz-form-explain>
                </div>
              </div>
              <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
                <div class="padding-right-20">
                  <div nz-row>
                    <nz-form-label nzRequired>
                      Equipamento
                    </nz-form-label>
                    <nz-form-control>
                      <nz-select class="primary-select" formControlName="measurement_equipment_id" nzShowSearch>
                        <nz-option *ngFor="let equipment of equipments" [nzLabel]="equipment?.name"
                          [nzValue]="equipment?.id">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                    <nz-form-explain class="color-required" *ngIf="submitted && f.measurement_equipment_id.errors">
                      Campo obrigatório
                    </nz-form-explain>
                  </div>
                </div>
              </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
                <strong class="font_size_16">Parâmetros de Medição</strong>
              </div>
            </div>
            <div nz-row class="margin_top_20">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                <div nz-row>
                  <nz-form-label nzRequired>
                    Unidade de medição
                  </nz-form-label>
                  <nz-form-control>
                    <nz-select class="primary-select" formControlName="unit_id" nzShowSearch>
                      <nz-option *ngFor="let unit of list_units" [nzLabel]="unit?.name" [nzValue]="unit?.id">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                  <nz-form-explain class="color-required" *ngIf="submitted && f.unit_id.errors">
                    Campo obrigatório
                  </nz-form-explain>
                </div>
              </div>
              <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                <div nz-row>
                  <nz-form-label nzRequired>
                    Valor Máximo
                  </nz-form-label>
                  <nz-form-control>
                    <input type="number" nz-input formControlName="max_value">
                  </nz-form-control>
                  <nz-form-explain class="color-required" *ngIf="submitted && f.max_value.errors">
                    Campo obrigatório
                  </nz-form-explain>
                </div>
              </div>
              <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                <div nz-row>
                  <nz-form-label nzRequired>
                    Valor Mínimo
                  </nz-form-label>
                  <nz-form-control>
                    <input type="number" nz-input formControlName="min_value">
                  </nz-form-control>
                  <nz-form-explain class="color-required" *ngIf="submitted && f.min_value.errors">
                    Campo obrigatório
                  </nz-form-explain>
                </div>
              </div>
            </div>
            <div nz-row style="text-align: center; padding-top:10px" class="color-required" *ngIf="formSensor.get('min_value').value > formSensor.get('max_value').value">
            O Valor máximo deve ser maior ou igual que o valor mínimo
            </div>
            <div nz-row class="margin_top_20">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                <div nz-row>
                  <nz-form-label>
                    Relevância
                  </nz-form-label>
                  <nz-form-control>
                    <nz-select class="primary-select" formControlName="relevance" nzShowSearch>
                      <nz-option *ngFor="let relevance of relevances" [nzLabel]="relevance.description"
                        [nzValue]="relevance.value">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </div>
              </div>
              <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                <div nz-row>
                  <nz-form-label nzRequired>
                    Intervalo de minutos do alerta
                  </nz-form-label>
                  <nz-form-control>
                    <input type="number" nz-input formControlName="minutes_notifications">
                  </nz-form-control>
                </div>
              </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row nzType="flex" nzAlign="middle">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-10">
                <strong class="font_size_16">ModBus</strong>
              </div>
            </div>
            <div nz-row class="margin_top_20">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                <div nz-row>
                  <nz-form-label nzRequired>
                    Endereço ModBus TCP
                  </nz-form-label>
                  <nz-form-control>
                    <input type="number" nz-input formControlName="registerNumber">
                  </nz-form-control>
                  <nz-form-explain class="color-required" *ngIf="submitted && f.registerNumber.errors">
                    Campo obrigatório
                  </nz-form-explain>
                </div>
              </div>
              <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                <div nz-row>
                  <nz-form-label nzRequired>
                    Formato
                  </nz-form-label>
                  <nz-form-control>
                    <nz-select class="primary-select" formControlName="format" nzShowSearch>
                      <nz-option *ngFor="let format of list_formats" [nzLabel]="format" [nzValue]="format">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                  <nz-form-explain class="color-required" *ngIf="submitted && f.format.errors">
                    Campo obrigatório
                  </nz-form-explain>
                </div>
              </div>
            </div>
            <div nz-row class="margin-top-5">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-10">
                <div nz-row class="padding-bottom-5">
                  <nz-form-label nzRequired>
                    Ativo
                  </nz-form-label>
                </div>
                <div nz-row>
                  <nz-switch formControlName="active">
                  </nz-switch>
                  <nz-form-explain class="color-required" *ngIf="submitted && f.active.errors">
                    Campo obrigatório
                  </nz-form-explain>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </nz-spin>
  </div>
  <div class="space">
    <button *ngIf="id != undefined" nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
    <button nz-button [nzLoading]="loadingEdit" [disabled]="loadingEdit"
      (click)="id != undefined ? submitEquipment(true) : submitEquipment(false)" [nzType]="'primary'">{{id
      != undefined ? 'Editar' : 'Criar'}}</button>
  </div>
</div>