<div class="content">
  <form nz-form [formGroup]="scopeGroup">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="name">Nome</nz-form-label>
      <nz-form-control nzErrorTip="Campo obrigatório">
        <input nz-input formControlName="name" id="name" />
      </nz-form-control>
    </nz-form-item>
    <div nz-row>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="permission">Permissão</nz-form-label>
          <nz-form-control nzErrorTip="Permissão inválida">
            <input nz-input formControlName="permission" id="permission"
              placeholder="microservices:entidade:permissao" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="0" nzMd="2"></div>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzFor="permission">Dependências</nz-form-label>
          <nz-form-control>
            <nz-select nzMode="tags" formControlName="grants">
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

  </form>
</div>

<div class="space" nz-row>
  <button *ngIf="idToUpdate" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="loading" [disabled]="loading" (click)="done()" [nzType]="'primary'">{{idToUpdate ?
    'Editar' : 'Criar'}}</button>
</div>