<!--- OPTIONS -->
<div nz-row style="margin: 24px 0px">
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6" > </div>

  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12" >
    <div nz-row>
      <div nz-col nzSpan="12" style="text-align: start">
        <app-button translate="MISC.RETURN" (click)="back()" [leftIcon]="'left'" type="tertiary"[buttonStyle]="{ 'font-size': '12px', 'line-height': '18px' }">
        
        </app-button>
      </div>
    </div>
  </div>

  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6" > </div>

</div>

<!--- CONTENT -->
<div nz-row style="margin: 24px 0px">
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6" > </div>
  
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12" class="content">

    <nz-spin [nzSpinning]="isLoading">
      <div *ngIf="!application">
        <nz-empty [nzNotFoundContent]="'EMERGENCY_FUND.LIST_APPLICATIONS.NO_CONTENT' | translate"></nz-empty>
      </div>
      <div *ngIf="application">
            <div *ngFor="let step of formSteps; let lastStep = last; let indexStep = index">

              <!-- step -->
              <div nz-row *ngIf="getFormItensBySteps(indexStep).length > 0">
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="title-step-form">
                  {{ step | translate }}
                </div>
              </div>
              
              <div nz-row *ngFor="let item of getFormItensBySteps(indexStep)" nz-col [nzXs]="{ span: 24 }" 
              [nzLg]="{ span: ( (item.expectedValue !== undefined && item.typeInput === 3) ? item.size : (validField(item.field, item.expectedValue) || (item.typeInput === 8 && validField(item.inputName, item.expectedValue))) ? item.size : 0) }" >

                <div *ngIf="item.typeInput!== 7 && item.typeInput!== 8">
                  <div [ngSwitch]="item.typeInput">

                    <p *ngIf="item.typeInput>=0" class="sub-title-resume">
                      {{ item.labelName | translate }}
                    </p>
                    <nz-divider *ngSwitchCase="-1"></nz-divider>
                    <p *ngSwitchCase="-2" class="title-resume" style="margin-top: 15px; margin-bottom: 0;">
                      {{ item.labelName | translate}}
                    </p>

                    <p *ngSwitchCase="0" class="desc-resume">
                      {{ application[item.inputName] }} {{ (item.money !== undefined && item.money === true) ? "€" : "" }}
                    </p>
                    <p *ngSwitchCase="1" class="desc-resume">
                      {{ application[item.inputName] | date: "dd/MM/yyyy" }}
                    </p>
                    <p *ngSwitchCase="21" class="desc-resume">
                      {{ getStudentSchedule(application[item.inputName]) }}
                    </p>
                    <p *ngSwitchCase="22" class="desc-resume">
                      {{ getStudentRegime(application[item.inputName]) }}
                    </p>
                    <p *ngSwitchCase="3" class="desc-resume">
                      {{ application[item.inputName] === true ? ("SWITCH.YES" | translate) : ("SWITCH.NO" | translate) }}
                    </p>
                    <p *ngSwitchCase="4" class="desc-resume">
                      {{ showValueItemTypeFour(item.inputName) }}
                    </p>
                    <p *ngSwitchCase="5" class="desc-resume">
                      {{ getDocumentTypeDescription(application[item.inputName]) }}
                    </p>
                    <p *ngSwitchCase="6" class="desc-resume">
                      {{ application[item.inputName].name }}
                    </p>
                    <p *ngSwitchCase="9" class="desc-resume">
                      {{ application[item.inputName] === true ? ("SWITCH.YES" | translate) : ("SWITCH.NO" | translate) }}
                    </p>

                  </div>
                </div>

                <div *ngIf="item.typeInput === 7 && validField(item.field, item.expectedValue)">
                  <p class="sub-title-resume">
                    {{ item.labelName | translate }}
                  </p>
                  <p class="desc-resume">
                    <span >{{ application[item.inputName] }} {{ (item.money !== undefined && item.money === true) ? "€" : "" }}</span>
                  </p>
                </div>

                <div *ngIf="item.typeInput === 8 ">
                  <p class="sub-title-resume">                  
                    {{ item.labelName | translate }}
                  </p>
                  <p class="desc-resume">
                    <span >{{ item.labelName2 | translate }}</span>
                  </p>
                </div>

                <div *ngIf="item.typeInput === 99">

                  <div class="hidden-xs" style="margin-bottom: 20px;">
                    <nz-table #tableSTEP1 [nzFrontPagination]="false" [nzData]="application[item.inputName]"
                            id="table-emergency_fund_STEP1" [nzLoading]="loading" [nzShowPagination]="false">
                        <thead>
                            <tr>
                              <th>{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.NAME.TITLE' | translate}}</th>
                              <th>{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.KINSHIP.TITLE' | translate}}</th>
                              <th>{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.BIRTH_DATE.TITLE' | translate}}</th>
                              <th>{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.MARITAL_STATUS.TITLE' | translate}}</th>
                              <th>{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.DEPENDENT_LABOR_VALUE.TITLE' | translate}}</th>
                              <th>{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.SELF_EMPLOYMENT_VALUE.TITLE' | translate}}</th>
                              <th>{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.RETIREMENT_PENSION_VALUE.TITLE' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                          <ng-template ngFor let-data [ngForOf]="tableSTEP1.data">
                                <tr>
                                    <td> {{ data?.person_name }}</td>
                                    <td> {{ data?.kinship }}</td>
                                    <td> {{ data?.birth_date | date: "dd-MM-yyyy" }} </td>
                                    <td> {{ data?.marital_status }} </td>
                                    <td> {{ data?.dependent_labor_value }} {{ (data?.self_employment_value !== "0" ) ? "€" : ""}}</td>
                                    <td> {{ data?.self_employment_value }} {{ (data?.self_employment_value !== "0" ) ? "€" : ""}}</td>
                                    <td> {{ data?.retirement_pension_value }} {{ (data?.self_employment_value !== "0" ) ? "€" : ""}}</td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </nz-table>
                  </div>

                  <div class="hidden-md" style="margin-bottom: 20px;" >
                    <div class="margin-top-20 box-mobile" nz-row>
                        <div *ngFor="let item of application[item.inputName]; let idx = index" style="font-size: 15px;">
                            <p  class="margin-bottom-15">
                              <label class="font-label-mobile">{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.NAME.TITLE' | translate}}:</label>
                              {{ item.person_name }}
                            </p>
                            <p  class="margin-bottom-15">
                              <label class="font-label-mobile">{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.KINSHIP.TITLE' | translate}}:</label>
                              {{ item.kinship }}
                            </p>
                            <p  class="margin-bottom-15">
                              <label class="font-label-mobile">{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.BIRTH_DATE.TITLE' | translate}}:</label>
                              {{ item.birth_date | date: "dd-MM-yyyy" }}
                            </p>
                            <p  class="margin-bottom-15">
                              <label class="font-label-mobile">{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.MARITAL_STATUS.TITLE' | translate}}:</label>
                              {{ item.marital_status }}
                            </p>
                            <p  class="margin-bottom-15">
                              <label class="font-label-mobile">{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.DEPENDENT_LABOR_VALUE.TITLE' | translate}}:</label>
                              {{ item.dependent_labor_value }} {{ (item.self_employment_value !== "0" ) ? "€" : ""}}
                            </p>
                            <p  class="margin-bottom-15">
                              <label class="font-label-mobile">{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.SELF_EMPLOYMENT_VALUE.TITLE' | translate}}:</label>
                              {{ item.self_employment_value }} {{ (item.self_employment_value !== "0" ) ? "€" : ""}}
                            </p>
                            <p  class="margin-bottom-15">
                              <label class="font-label-mobile">{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.RETIREMENT_PENSION_VALUE.TITLE' | translate}}:</label>
                              {{ item.retirement_pension_value }} {{ (item.self_employment_value !== "0" ) ? "€" : ""}}
                            </p>

                        </div>

                    </div>
                </div>
            
                </div>

                <div *ngIf="item.typeInput === 98">

                  <div class="hidden-xs" style="margin-bottom: 20px;">
                    <nz-table #tableSTEP1other_incomes [nzFrontPagination]="false" [nzData]="application[item.inputName]"
                            id="table-emergency_fund_STEP1_other_incomes" [nzLoading]="loading" [nzShowPagination]="false">
                        <thead>
                            <tr>
                              <th>{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.EXPENSE_DESCRIPTION.TITLE' | translate}}</th>
                              <th>{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.EXPENSE_VALUE.TITLE2' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                          <ng-template ngFor let-data [ngForOf]="tableSTEP1other_incomes.data">
                                <tr>
                                    <td> {{ data?.income_description }}</td>
                                    <td> {{ data?.income_value }} {{ (data?.income_value !== "0" ) ? "€" : ""}}</td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </nz-table>
                  </div>

                  <div class="hidden-md" style="margin-bottom: 20px;" >
                    <div class="margin-top-20 box-mobile" nz-row>
                        <div *ngFor="let item of application[item.inputName]; let idx = index" style="font-size: 15px;">
                            <p  class="margin-bottom-15">
                              <label class="font-label-mobile">{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.EXPENSE_DESCRIPTION.TITLE' | translate}}:</label>
                              {{ item.income_description }}
                            </p>
                            <p  class="margin-bottom-15">
                              <label class="font-label-mobile">{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.EXPENSE_VALUE.TITLE2' | translate}}:</label>
                              {{ item.income_value }} {{ (item.income_value !== "0" ) ? "€" : ""}} 
                            </p>
                        </div>

                    </div>
                  </div>
            
                </div>

                <div *ngIf="item.typeInput === 10 && item.inputName2 == 'EDUCATION'">

                  <div class="hidden-xs" style="margin-bottom: 20px;">
                    <nz-table #tableSTEP4other_expensesE [nzFrontPagination]="false" [nzData]="otherExpenses_Education"
                            id="table-emergency_fund_STEP4_other_expensesE" [nzLoading]="loading" [nzShowPagination]="false">
                        <thead>
                            <tr>
                              <th>{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.OTHER_EXPENSES.TITLE' | translate}}</th>
                              <th>{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.EXPENSE_VALUE.TITLE2' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                          <ng-template ngFor let-data [ngForOf]="tableSTEP4other_expensesE.data">
                                <tr>
                                    <td> {{ data?.expense_description }}</td>
                                    <td> {{ data?.expense_value }} {{ (data?.expense_value !== "0" ) ? "€" : ""}}</td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </nz-table>
                  </div>

                  <div class="hidden-md" style="margin-bottom: 20px;" >
                    <div class="margin-top-20 box-mobile" nz-row>
                        <div *ngFor="let item of otherExpenses_Education; let idx = index" style="font-size: 15px;">
                            <p  class="margin-bottom-15">
                              <label class="font-label-mobile">{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.OTHER_EXPENSES.TITLE' | translate}}:</label>
                              {{ item.expense_description }}
                            </p>
                            <p  class="margin-bottom-15">
                              <label class="font-label-mobile">{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.EXPENSE_VALUE.TITLE2' | translate}}:</label>
                              {{ item.expense_value }} {{ (item.expense_value !== "0" ) ? "€" : ""}} 
                            </p>
                        </div>

                    </div>
                  </div>
                  
                </div>

                <div *ngIf="item.typeInput === 11 && item.inputName2 == 'FIXED' ">

                  <div class="hidden-xs" style="margin-bottom: 20px;">
                    <nz-table #tableSTEP4other_expensesF [nzFrontPagination]="false" [nzData]="otherExpenses_FIXED"
                            id="table-emergency_fund_STEP4_other_expensesF" [nzLoading]="loading" [nzShowPagination]="false">
                        <thead>
                            <tr>
                              <th>{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.OTHER_EXPENSES.TITLE' | translate}}</th>
                              <th>{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.EXPENSE_VALUE.TITLE2' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                          <ng-template ngFor let-data [ngForOf]="tableSTEP4other_expensesF.data">
                                <tr>
                                    <td> {{ data?.expense_description }}</td>
                                    <td> {{ data?.expense_value }} {{ (data?.expense_value !== "0" ) ? "€" : ""}}</td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </nz-table>
                  </div>

                  <div class="hidden-md" style="margin-bottom: 20px;" >
                    <div class="margin-top-20 box-mobile" nz-row>
                        <div *ngFor="let item of otherExpenses_FIXED; let idx = index" style="font-size: 15px;">
                            <p  class="margin-bottom-15">
                              <label class="font-label-mobile">{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.OTHER_EXPENSES.TITLE' | translate}}:</label>
                              {{ item.expense_description }}
                            </p>
                            <p  class="margin-bottom-15">
                              <label class="font-label-mobile">{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.EXPENSE_VALUE.TITLE2' | translate}}:</label>
                              {{ item.expense_value }} {{ (item.expense_value !== "0" ) ? "€" : ""}} 
                            </p>
                        </div>

                    </div>
                  </div>
                  
                </div>

                <div *ngIf="item.typeInput === 12 && item.inputName2 == 'OTHER' ">

                  <div class="hidden-xs" style="margin-bottom: 20px;">
                    <nz-table #tableSTEP5other_expenses [nzFrontPagination]="false" [nzData]="otherExpenses"
                            id="table-emergency_fund_STEP5_other_expenses" [nzLoading]="loading" [nzShowPagination]="false">
                        <thead>
                            <tr>
                              <th>{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.OTHER_EXPENSES.TITLE' | translate}}</th>
                              <th>{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.EXPENSE_VALUE.TITLE2' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                          <ng-template ngFor let-data [ngForOf]="tableSTEP5other_expenses.data">
                                <tr>
                                    <td> {{ data?.expense_description }}</td>
                                    <td> {{ data?.expense_value }} {{ (data?.expense_value !== "0" ) ? "€" : ""}}</td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </nz-table>
                  </div>

                  <div class="hidden-md" style="margin-bottom: 20px;" >
                    <div class="margin-top-20 box-mobile" nz-row>
                        <div *ngFor="let item of otherExpenses; let idx = index" style="font-size: 15px;">
                            <p  class="margin-bottom-15">
                              <label class="font-label-mobile">{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.OTHER_EXPENSES.TITLE' | translate}}:</label>
                              {{ item.expense_description }}
                            </p>
                            <p  class="margin-bottom-15">
                              <label class="font-label-mobile">{{ 'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.EXPENSE_VALUE.TITLE2' | translate}}:</label>
                              {{ item.expense_value }} {{ (item.expense_value !== "0" ) ? "€" : ""}} 
                            </p>
                        </div>

                    </div>
                  </div>
                  
                </div>

                <div *ngIf="item.typeInput === 13 && filesOthers.length !== 0">
                  <nz-spin [nzSpinning]="loadingFiles">
                    <div nz-row nzType="flex" [nzGutter]="6" *ngIf="!this.loadingFiles">
        
                        <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="5" [nzXXl]="4" class="gallery"
                            *ngFor="let file of filesOthers">     
                              <p class="sub-title-resume">
                                  {{ getTranslate(file?.document_type.translations) }}
                              </p>
                              <div *ngIf="file?.file.type == 'IMAGE'">
                                  <a target="_blank" [href]="file?.file.url">
                                      <img [src]="file?.file.url" width="100px">
                                  </a>
                              </div>
                              <div *ngIf="file?.file.type != 'IMAGE'">
                                  <a target="_blank" [href]="file?.file.url">
                                      <img src="/assets/imgs/doc.PNG" width="100px">
                                  </a>
                              </div>
                        </div>
        
                    </div>
                  </nz-spin>
                </div>
                
              </div>

              <nz-divider *ngIf="!lastStep && getFormItensBySteps(indexStep).length > 0"></nz-divider>
            </div>
      </div>
    </nz-spin>
  </div>
  
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6" > </div>

</div>
