@import "theme";
.main-text {
  margin: 72px 52px;
  padding: 40px;
  border-radius: 8px;
  font-size: 14px;
  color: var(--primary-color);
  background-color: #fff;
}
.title {
  margin: 38px 52px;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #111111;
}

.content {
  background: white;
  padding: 24px;

  [nz-row] {
    div:first-child {
      margin: 6px 0px;
      font-size: 13px;
    }

    div:last-child {
      margin: 6px 0px;
      font-size: 13px;
    }
  }
}

.hidden-md {
  display: none;
}

@media screen and (max-width: 800px) {
  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display: block;
  }
  .margin-bottom-15 {
    margin-bottom: 15px;
  }

  .font-label-mobile {
    color: black;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .box-mobile {
    background-color: white;
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display: block;
  }
  .margin-bottom-15 {
    margin-bottom: 15px;
  }

  .font-label-mobile {
    color: black;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .box-mobile {
    background-color: white;
    padding: 20px;
  }
}
