<div class="content">
  <form nz-form [formGroup]="documentTypeGroup" nzLayout="horizontal">
    <nz-spin [nzSpinning]="loadingLanguages">
      <ng-container formArrayName="translations">
        <nz-tabset #translationTabs>
          <nz-tab *ngFor="let translation of translations.controls; let i = index;"
            [nzTitle]="getLanguageName(translation.value.language_id)">
            <ng-container [formGroupName]="i">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="description">Descrição</nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="description" id="description">
                  <nz-form-explain class="color-required"
                    *ngIf="submitted && documentTypeGroup.get('translations').controls[i].controls.description.errors">
                    Campo obrigatório
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </ng-container>
          </nz-tab>
        </nz-tabset>
      </ng-container>
    </nz-spin>
    <div nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="external_ref">Referência externa</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="external_ref" id="external_ref">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="active">Ativo</nz-form-label>
          <nz-form-control>
            <nz-switch id="active" formControlName="active"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>

<div class="space" nz-row>
  <button *ngIf="idToUpdate" nz-button (click)="back()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="loading" [disabled]="loading" (click)="submitForm()"
    [nzType]="'primary'">{{idToUpdate ? 'Editar' : 'Criar'}}</button>
</div>