@import 'theme';

.top {
  padding-top: 25px;
}

:host::ng-deep {

  nz-empty {
    width: 100%;
    height: 100%;
  }

  .ownerarea {
    @media screen and (max-width: 576px) {
      padding: 16px;
    }

    &__header {

      @media screen and (min-width: 576px) {
        padding-top: 24px;
      }

      @media screen and (max-width: 576px) {
        padding: 16px;
      }
    }

    &__footer {

      @media screen and (max-width: 576px) {
        padding: 16px;
      }

      padding-top: 18px;
      padding-bottom: 63px;

    }

    &__body {
      margin-top: 24px;
      margin-bottom: 24px;
    }

    &__cont {
      background: #FFFFFF;
      padding: 40px;
      @media screen and (max-width:600px) {
        padding: 20px;
      }
    }

    &__title {
      font-size: 30px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: normal;
      color: #333333;
    }

    &__subtitle {
      margin-top: -10px;
      font-size: 26px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: -0.72px;
      color: #5c5c5c;
    }

    &__tit {
      margin-top: 60px;
      font-size: 19px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.41;
      letter-spacing: normal;
      color: #222222;
    }

    &__tex {
      font-size: 18px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #5c5c5c;
    }

    &__image {
      width: 100%;
      height: 400px;
    }

    &__img {
      width: 100%;
      height: 400px;
    }

    &__imgcont {
      position: absolute;
      top: 600;
      left: 0;
      width: 100%;
      height: 400px;
      background: rgba(0, 0, 0, 0.3);
      z-index: 50;
    }

    &__cont2 {
      background: #FFFFFF;
      padding: 80px;
      text-align: center;
      @media screen and (max-width:600px) {
        padding: 20px;
      }
    }

    &__imgtext {
      margin: 120px 0 0 80px;
      font-size: 38px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.41;
      letter-spacing: -0.84px;
      color: #ffffff;
      @media screen and (max-width:600px) {
        margin: 120px 0 0 40px;
        font-size: 30px;
      }
    }
  }
}

.hidden-md {
  display:none;
}


@media screen and (max-width: 600px) {

  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display:block;
  }

}