<div nz-row>
  <!--Back Button-->
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="20" [nzXs]="23" class="top">
    <app-button translate="MISC.RETURN" [routerLink]="['/privateaccommodation', 'list-host']" [leftIcon]="'left'"
      [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}" type="tertiary"></app-button>
  </div>

  <div nz-col [nzSm]="2" [nzXs]="0"></div>
</div>

<div nz-row nzType="flex" class="ownerarea__body">
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="20" [nzXs]="22">
    <div class="ownerarea__cont">
      <div [innerHTML]="getHTML((info | languageChange)?.text)"></div>
    </div>
    <div class="ownerarea__image">
      <div class="ownerarea__imgcont">

        <p class="ownerarea__imgtext">{{ 'PRIVATEACCOMMODATION.OWNER_AREA.IMGTEXT' | translate }}
        </p>

        <app-button class="ownerarea__btn1"
          [ngClass] = "{'disabled': (!ownerLogin || !('private_accommodation:listings:create' | hasPermission)) }"
          [type]="'secundary'"
          [buttonStyle]="{'font-size': '14px', 'margin-top': '80px', 'margin-left': '80px', 'width': '150px', 'height':'36px'}"
          translate="PRIVATEACCOMMODATION.OWNER_AREA.BT_IMG" [routerLink]="['/privateaccommodation', 'owner-properties']">
        </app-button>

      </div>
      <img class="ownerarea__img" src="../../../../../assets/imgs/alojamento-priv.png" />



    </div>
    <div *ngIf="!logged" class="ownerarea__cont2 hidden-xs">
      <app-button
        [loading] = "buttonOwnerRegisterLoading"
        [buttonStyle]="{'font-size': '17px', 'margin-top': '20px', 'width': '300px', 'height':'48px'}"
        translate="PRIVATEACCOMMODATION.OWNER_AREA.BT_REGIST" (click)="formOwner();">
      </app-button>

    </div>

    <div *ngIf="!logged" class="ownerarea__cont2 hidden-md">
      <app-button
        [loading] = "buttonOwnerRegisterLoading"
        [buttonStyle]="{'font-size': '14px', 'margin-top': '20px', width: '220px', 'height':'48px'}"
        translate="PRIVATEACCOMMODATION.OWNER_AREA.BT_REGIST" (click)="formOwner();">
      </app-button>

    </div>

  </div>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>
