@import "theme";
.login {
  &__form {
    padding-top: 8px;

    &__button {
      width: 100%;
    }
  }
}

.auth {
  padding-top: 10vh;
  background: @primary-10;
  height: 100vh;

  &__logo {
    padding: 16px;
    font-size: 36px;
    color: white;
    text-align: center;
  }

  &__title {
    margin-bottom: 16px;
    text-align: left;
    color: black;
    font-size: 24px;
  }
}

.button {
  text-align: right;
}

.error {
  color:red;
}

.box {
  text-align: center;
  border: 1px solid  @primary-10;
  border-radius: 5px;
  padding: 5px;
  color: black;
  margin-right: 5px;
  margin-top: 5px;
}

.box-selected {
  text-align: center;
  border: 1px solid  @primary-10;
  border-radius: 5px;
  padding: 5px;
  color: white;
  background-color: @primary-10;
  margin-right: 5px;
  margin-top: 5px;
}

.scroll {
  height: 100%;
  overflow-x: hidden;
}

.screen-login {
  max-height: 50vh;
}

.number-row {
  margin-top: 8px;
  .button-number {
    border-radius: 43.2px;
    border: solid 1px #e8e8e8;
    background-color: #ffffff;
    padding: 15px 20px 15px 20px;
    font-family: Montserrat;
    font-size: 21.6px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
  }
}
