@import "theme";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 1199px)";
@mobile:    ~"only screen and (min-width: 320px) and (max-width: 719px)";
@bg: #ffffff;
@hole: .4em;
@font-sum: 1px;


.space-box {
  margin-left: 20px;
}

.blur {
    opacity: 50%;
}

.black-text {
  color: black;
  font-family: Montserrat;
  font-size: 15px;
}

.card {
    &__title {
      font-weight: bold;
      font-size: 17px;
      color: var(--primary-7);
    @media @mobile {
        font-size: 15px;
    }
    }
    &__section {
    color: #000000;
    margin-bottom: 0.5cm;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    }
}

.btw-see-more {
  border: solid 0.4px black;
  color: black;
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}
.btw-see-more:hover {
  color: white !important;
  border: solid 0.4px var(--primary-6);
  background-color: var(--primary-6);
}
#icon-dashboard::ng-deep svg {
    path {
      fill: var(--primary-color);
    }
}

.icon {
    font-size: 40px;
    padding-right: 10px;
    @media @mobile {
      font-size: 27px;
    }
}

:host::ng-deep {

  .ticket {
    width: 92%;
    height: 100%;
    @media @mobile {
      width: 100%;
    }
    @media @tablet {
      width: 100%;
    }
    display: inline-block;
    position: relative;
    padding: 1%;
    color: black;
    font-size: 16px;
    border-radius: 7px;
    background-size: 51% 100%;
    border: 1px solid var(--primary-1);


    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 45%;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      z-index: 2;
      background-color: #ffffff;
    }


      &:before {
        border: 1px solid  var(--primary-1);
        border-top-color: transparent;
        border-left-color: transparent;
        transform: rotate(-45deg);
        left: -7px;
      }

      &:after {
        border: 1px solid var(--primary-1);
        border-top-color: transparent;
        border-left-color: transparent;
        transform: rotate(135deg);
        right: -7px;
      }

    &:hover {
      border-color: var(--primary-color);
      background-color: var(--primary-1);


      &:before {
        border: 1px solid  var(--primary-color);
        border-top-color: transparent;
        border-left-color: transparent;
      }

      &:after {
        border: 1px solid var(--primary-color);
        border-top-color: transparent;
        border-left-color: transparent;
      }

    }

    &___mobility_info {
      font-family: Montserrat;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      padding-left: 8px;
      font-size:13px ;

      &___date_typeOfTicket {
        margin-bottom: 10px;
      }

      &___typeOfTicket {
        font-size: 12px + @font-sum;
        font-weight: 300;
        line-height: 1.33;
        color: #111111;
      }

      &___date {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.33;
        text-align: right;
        color: var(--primary-color);
      }

      &___type {
        margin: 0px;
        margin-bottom: 16px;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.23;
        letter-spacing: normal;
        color: #222222;

        cursor: pointer;
      }

      &___bus {
        font-size: 10px + @font-sum;
        font-weight: 500;
        color: #888888;
        line-height: 1.6;
      }
    }
  }
}

.box-painel {
  margin-top: 20px;
}

.hidden-md {
    display: none;
}

@media @mobile {
    .card{
      &__section {
        padding-left: 0px;
        padding-right: 0px;
      }
    }

    .hidden-xs {
        display: none;
    }

    .hidden-md  {
        display: block;
    }
}
