<nz-card class="card__section" [ngClass]="{'blur': !mobility.active}" *ngIf="custumizeToggle || mobility.active">
    <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16" [nzLg]="16" [nzXl]="14" [nzXXl]="14">
            <div nz-row>
                <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="4" [nzLg]="3" [nzXl]="2" [nzXXl]="2">
                    <i nz-icon class="icon" type="icons:icons-mobility" id="icon-dashboard"></i>
                </div>
                <div nz-col [nzXs]="21" [nzSm]="21" [nzMd]="20" [nzLg]="21" [nzXl]="22" [nzXXl]="22">
                    <div nz-row>
                        <span class="card__title">{{translations?.length>1 ? ((translations | languageChange)?.name) :
                            ('DASHBOARD.WIDGETS.MOBILITY.TITLE' | translate)}}</span>
                    </div>
                    <div nz-row class="black-text">
                        <span>{{ "DASHBOARD.WIDGETS.MOBILITY.DESCRIPTION" | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="10" [nzXXl]="10">
            <button nz-button nzType="default" class="btw-see-more" [routerLink]="['/mobility', 'route-search']">
                {{ "DASHBOARD.WIDGETS.SEE-MORE.TITLE" | translate }}
            </button>
        </div>

    </div>
    <div nz-row nzType="flex" style="align-items: stretch;" class="space-box ">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="11" [nzXl]="8" [nzXXl]="8" class="box-painel"
        *ngFor="let item of mobility.data"
            >
            <div nz-row class="ticket" [routerLink]="['/','mobility', 'tickets', item.id]">
                <div nz-col class="ticket___mobility_info">

                    <div nz-row class="ticket___mobility_info___date_typeOfTicket">
                        <div nz-col class="ticket___mobility_info___typeOfTicket" [nzXs]="24" [nzSm]="24" [nzMd]="12"
                            [nzLg]="12" [nzXl]="12" [nzXXl]="12">

                        </div>
                        <div nz-col class="ticket___mobility_info___date" [nzXs]="24" [nzSm]="24" [nzMd]="12"
                            [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                            {{item?.validate_date | date : 'yyyy MM dd'}}

                        </div>
                    </div>

                    <div nz-row >
                      <div nz-col class="ticket___mobility_info___type" [nzXs]="24" [nzSm]="24" [nzMd]="24"
                            [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                            <strong> {{ "DASHBOARD.WIDGETS.MOBILITY.BUYED_AT" | translate }}:</strong> {{item.created_at | date : 'y-MM-dd hh:mm:ss'}}
                      </div>
                      <div nz-col class="ticket___mobility_info___type" [nzXs]="24" [nzSm]="24" [nzMd]="24"
                            [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                            <div nz-row>
                              <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12"><strong>{{ "DASHBOARD.WIDGETS.MOBILITY.DEPARTURE" | translate }}:</strong> {{item?.departure_local?.local}}</div>
                              <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="6"><strong>{{ "DASHBOARD.WIDGETS.MOBILITY.ARRIVAL" | translate }}:</strong> {{item?.arrival_local?.local}}</div>
                            </div>
                      </div>
                      <div nz-col class="ticket___mobility_info___type" [nzXs]="24" [nzSm]="24" [nzMd]="24"
                            [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                            <strong>{{ "DASHBOARD.WIDGETS.MOBILITY.ROUTE" | translate }}:</strong> {{item?.route?.name}}
                      </div>


                        <!--<div nz-col class="ticket___mobility_info___type" [nzXs]="24" [nzSm]="24" [nzMd]="10"
                            [nzLg]="10" [nzXl]="10" [nzXXl]="10">
                            {{item?.departure_local?.local}}
                        </div>
                        <div nz-col class="hidden-xs" [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4"
                            [nzXXl]="4">
                            <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
                        </div>
                        <div nz-col class="hidden-md" [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4"
                            [nzXXl]="4">
                            <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
                        </div>
                        <div nz-col class="ticket___mobility_info___type" [nzXs]="24" [nzSm]="24" [nzMd]="10"
                            [nzLg]="10" [nzXl]="10" [nzXXl]="10">
                            {{item?.arrival_local?.local}}
                        </div>-->
                    </div>

                    <div nz-row>
                        <div nz-col class="ticket___mobility_info___bus">

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</nz-card>
