@import "theme";

:host::ng-deep {

	/* --- NZRadioGroup --- */
	.ant-radio-button-wrapper {
		border: 0;

		&:first-child {
			border-left: 0;
		}
		&:last-child {
			border-right: 0;
		}
		&:not(:first-child)::before {
			background-color: #f0f2f5;
		}
		.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
			border-color: #f0f2f5;
		}
		&.ant-radio-button-wrapper-checked::before {
			background-color: #f0f2f5!important;
		}
	}

	/* --- NZCollapse --- */
	.ant-collapse-header {
		display: flex;
		justify-content: center;
		flex-direction: row-reverse;
		align-items: center;
	}

	.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
		position: relative;
		line-height: 0;
		transform: none;
		margin: 0;
		left: 10px;
	}

	.ant-collapse-content > .ant-collapse-content-box {
		padding: 0px;
	}

	.title-collapse {
		font-size: 12px;
		color: #666666;
	}

	/* --- NzCard --- */
  .ant-card-body {
    padding: 0 8px;
	}

	/* --- PipeDataUnit --- */
	span.data-unit {
		display: inline-block!important;
		font-weight: 300;
		font-size: 14px;
	}

	/* --- Counter --- */
  .counter {
    margin-top: 25px;
    margin-bottom: 40px;

    &__title {
      font-size: 21px;
      font-weight: bold;
      line-height: 1.14;
      color: #111111;
      margin-bottom: 14px;
    }

    &__desc {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      color: #111111;
      margin-bottom: 24px;
    }

    &__filter {
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &__card {
      nz-card {
        border-radius: 8px;
				border: 0;
			}

			&__kms {
        text-align: center;
        color: var(--primary-color);
        line-height: normal;
				font-size: 33px;
				margin-top: 32px;
			}

      &__kms--number {
        font-weight: bold;
      }

      &__kms--metric {
        font-weight: 300;
			}

			.highlight-items, .highlight-subitems {
				span {
					display:block;
				}
			}

			.highlight-items {
				padding: 8px;
			}

			.list-highlight-subitems {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
			}

			.highlight-subitems {
				min-width: calc(20% - 16px);
				margin: 8px;
				background-color: #f9f9f9;
				border-radius: 4px;
				padding: 16px;

				.item-number {
					font-size: 18px;
				}
			}

			.item-number {
				text-align: center;
				color: black;
				line-height: normal;
				font-size: 20px;
				font-weight: bold;
			}

			.item-subtitle {
				font-size: 12px;
				font-weight: normal;
				line-height: normal;
				text-align: center;
				color: grey;
			}

      &__kms {
			text-align: center;
			color: var(--primary-color);
			line-height: normal;
			font-size: 33px;
			margin-top: 32px;
			}

      &__kms--number {
        font-weight: bold;
      }

      &__kms--metric {
        font-weight: 300;
			}

			&__distance {
				text-align: center;
				margin-bottom: 24px;
			}

			&__points {
				margin-bottom: 16px;
			}

      &__button-detail {
        text-align: center;
        margin-bottom: 29px;
      }
    }


    &__add-km {
      text-align: center;
      margin-top: 24px;
      margin-bottom: 25px;
    }

    &__maintenance {

      text-align: center;

      button {
        font-size: 13px;
        font-weight: normal;
        line-height: 3.08;
        color: #000000;
      }
    }
  }

  .details {
    margin-top: 25px;
    margin-bottom: 40px;
  }

}

::ng-deep .ant-radio-button-wrapper{
	background-color: #F2F2F2;
    border-right: 2px solid white !important;
}

.overflow-text-ellips{
  overflow: hidden;
  text-overflow: ellipsis;
}

.date-space {
	text-align: center;
    padding-top: 10px;
}