<div *ngIf="counter" class="counter">

	<h2 class="title-top-page">{{translations?.length>1 ? ((translations | languageChange)?.name) :
		''}} {{ 'U_BIKE.DASHBOARD.TITLE' | translate }}</h2>
	<p class="sub-title-top-page">{{ 'U_BIKE.DASHBOARD.DESC' | translate }}</p>

	<div nz-row style="padding-top: 10px;">

		<div class="counter__card">

			<nz-card [nzLoading]="loadingCounter">
				<div nz-row>
					<div nz-col>
						<div class="counter__filter">
							<nz-radio-group [(ngModel)]="radioValue" (ngModelChange)="changeRadio()"
								[nzButtonStyle]="'solid'">
								<label nz-radio-button nzValue="day">{{ 'U_BIKE.DASHBOARD.FILTER.DAY' | translate
									}}</label>
								<label nz-radio-button nzValue="month">{{ 'U_BIKE.DASHBOARD.FILTER.MONTH' |
									translate
									}}</label>
								<label nz-radio-button nzValue="year">{{ 'U_BIKE.DASHBOARD.FILTER.YEAR' | translate
									}}</label>
								<label nz-radio-button nzValue="ever">{{ 'U_BIKE.DASHBOARD.FILTER.EVER' | translate
									}}</label>
							</nz-radio-group>

						</div>
					</div>
					<div nz-col class="date-space">
						<nz-date-picker *ngIf="mode == 'day'" [(ngModel)]="date"
							(ngModelChange)="getUserDashboard($event)"></nz-date-picker>
						<nz-month-picker *ngIf="mode == 'month'" [(ngModel)]="month"
							(ngModelChange)="getUserDashboard($event)"></nz-month-picker>
						<nz-year-picker *ngIf="mode == 'year'" [(ngModel)]="year"
							(ngModelChange)="getUserDashboard($event)"></nz-year-picker>
					</div>
				</div>
				<div nz-row class="counter__card__kms">
					<div nz-col class="overflow-text-ellips">
						<span
							class="counter__card__kms--number">{{dashboard?.total_kilometers?dashboard.total_kilometers:'--'}}</span>
						<span class="counter__card__kms--metric" *ngIf="dashboard?.total_kilometers"> km</span>
					</div>
				</div>

				<div nz-row class="counter__card__distance">
					<div nz-col>
						<span class="item-subtitle">{{ 'U_BIKE.DASHBOARD.DISTANCE' | translate }}</span>
					</div>
				</div>

				<div nz-row class="counter__card__points">
					<div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
						<div class="highlight-items">
							<span
								class="item-number overflow-text-ellips">{{dashboard?.total_trips?dashboard?.total_trips:'--'}}</span>
							<span class="item-subtitle"
								[innerHTML]=" 'U_BIKE.DASHBOARD.COUNTER.TRAVELS' | translate "></span>
						</div>
					</div>
					<div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
						<div class="highlight-items">
							<div style="text-align: center;" class="overflow-text-ellips"><label
									*ngIf="dashboard?.total_saved_co2" class="item-number">{{convertco2(dashboard.total_saved_co2)}}
								</label>
								<label class="item-number" *ngIf="!dashboard?.total_saved_co2">--</label>
							</div>
							<span class="item-subtitle"
								[innerHTML]=" 'U_BIKE.DASHBOARD.COUNTER.CO2' | translate "></span>
						</div>
					</div>
					<div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
						<div class="highlight-items">
							<div style="text-align: center;" class="overflow-text-ellips">
								<label *ngIf="dashboard?.total_burned_calories" class="item-number">
									{{convertCal(dashboard.total_burned_calories)}}
								</label>
								<label *ngIf="!dashboard?.total_burned_calories" class="item-number">
									--
								</label>

							</div>

							<span class="item-subtitle"
								[innerHTML]=" 'U_BIKE.DASHBOARD.COUNTER.CALORIES' | translate "></span>
						</div>
					</div>
					<div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
						<div class="highlight-items">
							<span
								class="item-number overflow-text-ellips">{{dashboard?.total_points?dashboard.total_points:'--'}}</span>
							<span class="item-subtitle"
								[innerHTML]=" 'U_BIKE.DASHBOARD.COUNTER.POINTS' | translate "></span>
						</div>
					</div>
				</div>

				<div nz-row class="counter__card__extra__points">
					<div nz-col>

						<div class="list-highlight-subitems">

							<div class="highlight-subitems">
								<div style="text-align: center;"><label *ngIf="dashboard?.gained_height"
										class="item-number">{{dashboard.gained_height}} m
									</label>
									<label *ngIf="!dashboard?.gained_height" class="item-number">--
									</label>
								</div>
								<span class="item-subtitle">{{ 'U_BIKE.DASHBOARD.COUNTER.GAINED_HEIGHT' | translate
									}}</span>
							</div>

							<div class="highlight-subitems">
								<div style="text-align: center;"><label *ngIf="dashboard?.max_gained_height"
										class="item-number">{{dashboard?.max_gained_height}} m
									</label>
									<label *ngIf="!dashboard?.max_gained_height" class="item-number">--
									</label>
								</div>
								<span class="item-subtitle">{{ 'U_BIKE.DASHBOARD.COUNTER.MAX_HEIGHT' | translate
									}}</span>
							</div>

							<div class="highlight-subitems">
								<div style="text-align: center;"><label *ngIf="dashboard?.avg_time"
										class="item-number">{{dashboard?.avg_time}} min</label>
									<label *ngIf="!dashboard?.avg_time" class="item-number">--</label>
								</div>
								<span class="item-subtitle">{{ 'U_BIKE.DASHBOARD.COUNTER.AVG_TIME' | translate
									}}</span>
							</div>

							<div class="highlight-subitems">
								<div style="text-align: center;"><label *ngIf="dashboard?.avg_speed"
										class="item-number">{{dashboard?.avg_speed}} km/h
									</label>
									<label *ngIf="!dashboard?.avg_speed" class="item-number">--
									</label>
								</div>
								<span class="item-subtitle">{{ 'U_BIKE.DASHBOARD.COUNTER.AVG_SPEED' | translate
									}}</span>
							</div>

							<div class="highlight-subitems">
								<div style="text-align: center;"><label *ngIf="dashboard?.watts"
										class="item-number">{{dashboard?.watts}} W</label>
									<label *ngIf="!dashboard?.watts" class="item-number">--</label>
								</div>
								<span class="item-subtitle">{{ 'U_BIKE.DASHBOARD.COUNTER.WATTS' | translate
									}}</span>
							</div>

						</div>

					</div>
				</div>
				<nz-collapse [nzBordered]="false" class="style-nzcollapse" *ngIf="otherDashboard">
					<nz-collapse-panel [nzHeader]="titlePanelCo2" [nzActive]="panelCo2.active"
						[ngStyle]="panelCo2.customStyle">
						<div class="list-highlight-subitems">

							<div class="highlight-subitems">
								<span class="item-number">{{otherDashboard?.aggregate_data?.bus_saved_co2}}g</span>
								<span class="item-subtitle">{{ 'U_BIKE.DASHBOARD.COUNTER.BUS_SAVED' | translate }}
									<br>
									{{ 'U_BIKE.DASHBOARD.COUNTER.CO2SAVED' | translate }}</span>
							</div>

							<div class="highlight-subitems">
								<span class="item-number">{{otherDashboard?.aggregate_data?.train_saved_co2}}g</span>
								<span class="item-subtitle">{{ 'U_BIKE.DASHBOARD.COUNTER.TRAIN_SAVED' | translate }}
									<br> {{ 'U_BIKE.DASHBOARD.COUNTER.CO2SAVED' | translate }}</span>
							</div>

							<div class="highlight-subitems">
								<span class="item-number">{{otherDashboard?.aggregate_data?.gasoline_saved_co2}}g</span>
								<span class="item-subtitle">{{ 'U_BIKE.DASHBOARD.COUNTER.GASOLINE_SAVED' | translate
									}}
									<br> {{ 'U_BIKE.DASHBOARD.COUNTER.CO2SAVED' | translate }}</span>
							</div>

							<div class="highlight-subitems">
								<span class="item-number">{{otherDashboard?.aggregate_data?.diesel_saved_co2}}g</span>
								<span class="item-subtitle">{{ 'U_BIKE.DASHBOARD.COUNTER.DIESEL_SAVED' | translate
									}}
									<br> {{ 'U_BIKE.DASHBOARD.COUNTER.CO2SAVED' | translate }}</span>
							</div>

							<div class="highlight-subitems">
								<span class="item-number">{{otherDashboard?.aggregate_data?.gpl_saved_co2}}g</span>
								<span class="item-subtitle">{{ 'U_BIKE.DASHBOARD.COUNTER.GPL_SAVED' | translate }}
									<br>
									{{ 'U_BIKE.DASHBOARD.COUNTER.CO2SAVED' | translate }}</span>
							</div>

							<div class="highlight-subitems">
								<span class="item-number">
									{{otherDashboard?.aggregate_data?.eletric_saved_co2}}g</span>
								<span class="item-subtitle">{{ 'U_BIKE.DASHBOARD.COUNTER.ELETRIC_SAVED' | translate
									}}
									<br> {{ 'U_BIKE.DASHBOARD.COUNTER.CO2SAVED' | translate }} </span>
							</div>

						</div>

						<ng-template #titlePanelCo2>
							<span class="title-collapse"
								[innerHTML]=" 'U_BIKE.DASHBOARD.COUNTER.DESC_COLLAPSE' | translate "></span>
						</ng-template>

					</nz-collapse-panel>
				</nz-collapse>

				<div nz-row class="counter__card__button-detail" *ngIf="dashboard">
					<app-button [translate]="'U_BIKE.DASHBOARD.BUTTONS.SEE_DETAILS'" [type]="'secundary'"
						[buttonStyle]='buttonDetails' [loading]="loadingDetails" (click)="seeDetails()">
					</app-button>
				</div>
				<div *ngIf="userApplication != null && dashboard" nz-row class="counter__add-km">
					<div nz-col>
						<app-button [translate]="'U_BIKE.DASHBOARD.BUTTONS.ADD_KM_LOG'" [type]="'primary'"
							[buttonStyle]='buttonAddKm' (click)="addKm()" [disabled]="!hasContracted"></app-button>
					</div>
				</div>
			</nz-card>
		</div>
	</div>


</div>


<div *ngIf="details" class="details">
	<app-registration-details [trips]="trips" [userApplication]="userApplication" (backToCounter)="back($event)">
	</app-registration-details>
</div>

<div *ngIf="manualRegistration" class="details">
	<app-manual-registration [userApplication]="userApplication" (cancelAddKmButton)="cancelAddKm($event)">
	</app-manual-registration>
</div>

<div *ngIf="maintenance" class="details">
	<app-maintenance-request [userApplication]="userApplication" (cancelMaintenanceRequest)="cancelMaintenance($event)">
	</app-maintenance-request>
</div>