:host::ng-deep {

  .ant-radio-button-wrapper-checked {
    color: var(--primary-7) !important;
    box-shadow: none !important;
  }

  .ant-radio-button-wrapper-checked::before {
    background-color: white !important;
  }

  .ant-radio-button-wrapper:not(:first-child)::before {
    background-color: white !important;
  }

  .option-button {
    font-size: unset;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #979797;
    background-color: white;
    border: none;
  }

  .option-button--first {
    border-radius: 50px 0 0 50px;
  }

  .option-button--last {
    border-radius: 0 50px 50px 0;
  }

}
