<nz-radio-group [ngModel]="optionsValue" [nzDisabled] = disabled (ngModelChange)="onChangeOption($event)" >
  <ng-container *ngFor="let option of options; let i = index">
    <label *ngIf="i === 0" nz-radio-button class="option-button option-button--first" nzValue="{{option.value}}"><span>{{ option.translation | translate }}</span></label>
    <label *ngIf="i !== options.length-1 && i !== 0" nz-radio-button class="option-button" nzValue="{{option.value}}"><span>{{ option.translation | translate }}</span></label>
    <label *ngIf="i === options.length-1" nz-radio-button class="option-button option-button--last" nzValue="{{option.value}}"><span>{{ option.translation | translate }}</span></label>
  </ng-container>
</nz-radio-group>
