@import 'default-theme.less';

:host::ng-deep {
  width: 100%;
  height: 192px;
  position: absolute;
  bottom: 0px;

  .invoice-menu {
    width: 100%;
    height: 100%;
    background-color: var(--fisas-08);

    &__item {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;

      a {
        color: @fisas-grey-01;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }

    &__label {
      .font-family(11px, 700);
      letter-spacing: 0.92px;
      line-height: 18px;
      margin-bottom: 0;
    }

    &__finish {
      background-color: @fisas-green-check;

      svg {
        fill: @fisas-grey-01;
        margin-bottom: 12px;
      }
    }


    &__row,
    &__item {
      height: 100%;
      color: @fisas-grey-01;
    }


  }
}
