@import "theme";

.border-bottom {
    background-color: @primary-6;
}

.floating-button {
    padding-top: 8px;
    float: left;

    button {
        border-radius: 24px;
        background-color: #ffffff;
        width: 150px;
        margin-left: 20px;
    }
}

.floating-button-right {
    padding-top: 8px;
    float: right;
    text-align: right;

    button {
        border-radius: 24px;
        background-color: @primary-4;
        color: white;
        width: 150px;
        margin-right: 20px;
        border: 1px solid @primary-4;
    }
}

.stock-modal {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #333333;

} 


.user_info {
    background-color: #f3f3f3;
    margin: 24px 36px 24px 36px;
    padding-bottom: 25px;

    &__search {
        display: flex;
        flex-direction: row;

        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
        border: solid 1px #e8e8e8;
        background-color: #ffffff;

        &__btn {
            border-radius: 4px;
            background: white;
            border: 0px;
            padding: 12px;
            font-size: 18px;
            width: 100%;
            text-align: left;
            color: #9e9e9e;
        }
    }

    &__avatar {
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 25px;

        &__img {
            width: 85%;
            border-radius: 50%;
            border: solid 3px #bbbbbb;
        }
    }

    &__user_name {
        padding-top: 25px;
        margin: 0px;
        margin-top: 8px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
    }

    &__user_email {
        margin: 0px;
        margin-top: 6px;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #666666;
    }

    &__user_number {
        margin: 0px;
        margin-top: 16px;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #666666;
    }

    &__user_tin {
        margin: 0px;
        margin-top: 16px;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #666666;
    }


    &__balance {
        margin: 0px;
        margin-top: 16px;
        margin-bottom: 40px;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #666666;

        &__box {
            text-align: center;
            border: @primary-6 3px dashed;
            font-size: 24px;
            font-weight: bold;
        }
    }


}

.button {
    padding-left: 10px;
    padding-right: 10px;
}

.balance_positive {
    color: #1ba974;
}
.balance_negative {
    color: #a91b1b;
}