<div nz-row nzType="flex" nzJustify="space-around" class="screen">
    <div nz-col nzSpan="6" style="height: 100%;">
        <fisas-bar-history></fisas-bar-history>
    </div>
    <div nz-col nzSpan="18" style="height: 100%;">
        <div nz-row style="height: 94%;">
            <div nz-col nzSpan="8" style="height: 100%;">
                <fisas-user-info-bar></fisas-user-info-bar>
            </div>
            <div nz-col nzSpan="16" style="height: 100%; background-color: white;">
                <fisas-bar-products></fisas-bar-products>
            </div>
        </div>
        <div nz-row style="height: 6%;" class="border-bottom">
            <nz-spin [nzSpinning]="loadingStock">
                <div nz-col class="floating-button">
                    <button nz-button (click)="modalUser = true" style="width: 35px !important;"><i nz-icon nzType="search"
                            nzTheme="outline"></i></button>
                    <button *ngIf="stockView" nz-button (click)="stock()">Stock</button>
                    <button nz-button style="width: 158px !important;" (click)="history()">Histórico Pedidos</button>
                    <button *ngIf="boxSelected != 'undefined' && boxSelected != null" nz-button style="width: 158px !important;" (click)="boxListHistory()">Fecho de Caixa</button>
                </div>
            </nz-spin>
            
            <div nz-col class="floating-button-right">
                <button nz-button [routerLink]="['/','dashboard']"><i nz-icon nzType="arrow-left"
                        nzTheme="outline"></i>Voltar</button>
            </div>
        </div>
    </div>
</div>

<nz-modal [(nzVisible)]="modalUser" nzWrapClassName="vertical-center-modal" [nzMask]="false" nzWidth="700"
    [nzFooter]="null" (nzOnCancel)="modalUser = false;">
    <div nz-row>
        <label class="stock-modal">Procurar</label>
    </div>
    <div class="user_info" nz-row>
        <div class="user_info__search">
            <button class="user_info__search__btn cursor" (click)="searchUser()"><i nz-icon nzType="icons:search"></i>
                Pesquisar</button>
        </div>
        <div nz-col nzSpan="10">
            <div class="user_info__avatar">
                <img class="user_info__avatar__img" src="assets/imgs/no_avatar.png" />
            </div>
        </div>
        <div nz-col nzSpan="14">
            <p class="user_info__user_name">{{ activeUser ? activeUser.name : '-' }}</p>
            <p class="user_info__user_email">{{ activeUser ? activeUser.email : '-' }}</p>
            <p class="user_info__user_number">n.º {{ activeUser ? activeUser.student_number : '-' }}</p>
            <p class="user_info__user_tin">NIF: {{ activeUser ? activeUser.tin : '-' }}</p>
            <nz-spin [nzSpinning]="balancesLoading">
                <div class="user_info__balance">
                    Saldo disponível <span
                        [ngClass]="{'balance_positive': currentPositive, 'balance_negative': !currentPositive}">{{
                        balance ?
                        balance.current_balance : '-' }}€</span>
                </div>
            </nz-spin>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="8" class="button">
            <button class="button-tertiary cursor" [ngClass]="{'disabled': !activeUser || boxSelected == 'undefined'}" [disabled]="!activeUser || boxSelected == 'undefined'"
                (click)="chargeAccount()">Carregamentos</button>
        </div>
        <div nz-col nzSpan="8" class="button">
            <button class="button-tertiary cursor" [ngClass]="{'disabled': !activeUser}" [disabled]="!activeUser"
                (click)="movements()">Movimentos</button>
        </div>
        <div nz-col nzSpan="8" class="button">
            <button class="button-tertiary cursor"
                [ngClass]="{'disabled': !activeUser || !currentPositive || currentZero || boxSelected == 'undefined'}"
                [disabled]="!activeUser || !currentPositive || currentZero || boxSelected == 'undefined'" (click)="unChargeAccount()">Devolver
                Plafond</button>
        </div>
    </div>

</nz-modal>