<div nz-row class="margin-top-20">
  <label>Entidade fiscal:</label>
</div>
<div nz-row>
  <nz-select style="width: 96%;" [(ngModel)]="entity_id"
   (ngModelChange)="entityChanged($event)"
  >
    <nz-option
      *ngFor="let item of entities"
      [nzLabel]="item.name"
      [nzValue]="item.id"
      [nzDisabled]="!item.active"
      ></nz-option>
  </nz-select>
</div>
<div nz-row class="margin-top-20">
  <label>Serviço cantina:</label>
</div>
<div nz-row>
  <nz-select style="width: 96%;" [(ngModel)]="service_canteen_id">
    <nz-option
      *ngFor="let item of services | where: ['type', 'canteen']"
      [nzLabel]="item.name"
      [nzValue]="item.id"
      [nzDisabled]="!item.active"></nz-option>
  </nz-select>
</div>
<div nz-row class="margin-top-20">
  <label>Serviço bar:</label>
</div>
<div nz-row>
  <nz-select style="width: 96%;" [(ngModel)]="service_bar_id">
    <nz-option
      *ngFor="let item of services | where: ['type', 'bar']"
      [nzLabel]="item.name"
      [nzValue]="item.id"
      [nzDisabled]="!item.active"></nz-option>
  </nz-select>
</div>
<div class="p-8 fr margin-top-20">
    <button class="mr-8" nz-button nzType="danger" nzSize="large" (click)="out()">Sair</button>
    <button  nz-button nzType="primary" nzSize="large" (click)="save()">Gravar</button>
</div>