<div class="content">
  <form [formGroup]="attendanceForm" (ngSubmit)="submit(attendanceForm.valid, attendanceForm.value)" nzLayout="vertical">
    <p class="subtitle">Voluntariado - Rejeitar Presença</p>

    <div nz-row [nzGutter]="16" style="margin-top: 5px; margin-bottom: 5px;">
      <div nz-col nzSpan="24"><strong>Data</strong></div>
    </div>

    <div nz-row [nzGutter]="16" style="margin-bottom: 20px;">
      <div nz-col nzSpan="24">{{ attendance.date | date: 'dd/MM/yyyy'}}</div>
    </div>

    <div nz-row [nzGutter]="16" style="margin-bottom: 5px;">
      <div nz-col nzSpan="12"><strong>Hora de inicio</strong></div>
      <div nz-col nzSpan="12"><strong>Hora de fim</strong></div>
      
    </div>

    <div nz-row [nzGutter]="8" style="margin-bottom: 20px;">
      <div nz-col nzSpan="12">{{ attendance.initial_time | date: 'HH:mm'}}</div>
      <div nz-col nzSpan="12"><span style="padding-left:5px !important">{{ attendance.final_time | date: 'HH:mm'}}</span></div>
    </div>

    <div nz-row [nzGutter]="24" style="margin-bottom: 5px;">
      <div nz-col nzSpan="24"><strong>Numero de horas</strong></div>
    </div>

    <div nz-row [nzGutter]="16" style="margin-bottom: 20px;">
      <div nz-col nzSpan="24">{{ attendance.n_hours }}</div>
    </div>

    <div nz-row [nzGutter]="16" style="margin-bottom: 20px;">
      <div nz-col nzSpan="24"><strong>Serviço executado</strong></div>
    </div>
    <div nz-row [nzGutter]="16">
      <div nz-col nzSpan="24">{{ attendance.executed_service }}</div>
    </div>

    <nz-divider></nz-divider>

    <div nz-row nzGutter="16" nzType="flex">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="n_hours_reject">Numero de horas ajustadas</nz-form-label>
          <nz-form-control nzErrorTip="Campo inválido">
            <nz-input-number formControlName="n_hours_reject" name="n_hours_reject"
              [nzFormatter]="formatterHours"
              nzPlaceHolder="Numero de horas" [nzMin]="0" nzStep="0.5"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
     </div>

    <div nz-row nzGutter="16" nzType="flex">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="reject_reason">Justificação</nz-form-label>
          <nz-form-control nzErrorTip="Campo inválido">
            <textarea maxlength="255"
               nz-input formControlName="reject_reason" name="reject_reason"
               [nzAutosize]="{ minRows: 2, maxRows: 6 }"
               placeholder="Notas">
            </textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="end">
      <div nz-col nzSpan="24" class="actions">
        <button nz-button nzType="default" type="button" (click)="close(false)">Cancelar</button>
        <button nz-button nzType="primary" type="submit" [nzLoading]="attendanceLoading" [disabled]="!attendanceForm.valid">
          <i nz-icon nzType="save"></i>Rejeitar</button>
      </div>
    </div>

  </form>
</div>