<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-control>
      <app-named-file-upload
        [filterTypes]="filterTypes"
        [multiUploads]="true"
        class="primary-file-upload"
        formControlName="attachments"
      ></app-named-file-upload>
      <p class="desc-title-form">
        {{ 'SOCIAL_SUPPORT.ABSENCES.JUSTIFY_FORM.ATTACHMENTS_DESCRIPTION' | translate }}
      </p>
      <nz-form-explain class="error" *ngIf="form.get('attachments')?.dirty && form.get('attachments').errors">{{
        getInputError('attachments')
      }}</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
</form>
