<div *ngIf="!noApplication" style="margin-top: 25px;">
  <div class="container">
      <div nz-row>
          <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>
          <div nz-col nz-col [nzXs]="22" [nzSm]="20" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
              <div class="forms">
                  <h2 class="title-top-page">{{'EMERGENCY_FUND.LIST_APPLICATIONS_CHANGES.TITLE' | translate}}</h2>
                  <p class="sub-title-top-page"> {{'EMERGENCY_FUND.LIST_APPLICATIONS_CHANGES.SUBTITLE_OFF' | translate}}</p>
              </div>
          </div>
      </div>
  </div>
  
</div>

<div *ngIf="noApplication" style="margin-top: 25px; margin-bottom:25px">

  <div class="container">
      <div nz-row>
          <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>
          <div nz-col nz-col [nzXs]="22" [nzSm]="20" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
              <div class="forms">
                  <h2 class="title-top-page">{{'EMERGENCY_FUND.LIST_APPLICATIONS_CHANGES.TITLE' | translate}}</h2>
                  <p class="sub-title-top-page"> {{'EMERGENCY_FUND.LIST_APPLICATIONS_CHANGES.SUBTITLE_ON' | translate}}</p>
              </div>
              <div>
                  <nz-spin [nzSpinning]="loadingChanges">
                      <nz-card id="cardhistorychangerequestsComponent" class="border-radius-8">
                          <div class="padding-table hidden-xs">
                              <table class="table table-responsive">
                                  <tr class="header-table">
                                      <th>
                                        <div class="header-table-div"></div>
                                      </th>
                                      <th>
                                          <div class="header-table-div">
                                              <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_CHANGES.DATE' | translate}}</span>
                                          </div>
                                      </th>
                                      <th>
                                          <div class="header-table-div">
                                              <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_CHANGES.REQUEST' | translate}}</span>
                                          </div>
                                      </th>
                                      <th>
                                          <div class="header-table-div">
                                              <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_CHANGES.STATUS_TITLE' | translate}}</span>
                                          </div>
                                      </th>
                                      <th>
                                          <div class="header-table-div"></div>
                                      </th>
                                  </tr>
                                  <tbody *ngFor="let change of lista; let idx = index">
                                      <tr class="body-table" [ngClass]="{'par':!isPar(idx), 'impar':isPar(idx)}">
                                          <td>

                                          </td>
                                          <td>
                                              <span>
                                                  {{ change?.created_at | date: "dd-MM-yyyy hh:mm" }}
                                              </span>
                                          </td>
                                          <td>
                                            {{ change?.application_change_exposition | truncate:[20, '...'] }}
                                          </td>
                                          <td>
                                              <nz-tag class="tab-status cursor-cont" (click)="consultHistoric(change)"
                                                  [nzColor]="(configStatus | filterStatusConfig: change?.status)?.color">
                                                  {{'EMERGENCY_FUND.STATUS.' + change?.status | translate}}
                                              </nz-tag>
                                          </td>
                                          <td>
                                              <nz-dropdown [nzTrigger]="'hover'" [nzPlacement]="'bottomRight'">
                                                  <a nz-dropdown><i nz-icon style="font-size:22px"
                                                          nzType="icons:icons-more-options" nzTheme="outline"></i></a>
                                                  <ul nz-menu>
                                                      <li *ngIf="change?.status=='SUBMITTED'"
                                                          nz-menu-item
                                                          (click)="modalCancel(change.id)">{{
                                                          "MISC.CANCEL"| translate }}</li>
                                                      <li nz-menu-item
                                                          (click)="openApplicationChangesModal(change, true)">
                                                          {{
                                                          "MISC.CONSULT"| translate }}</li>
                                                  </ul>
                                              </nz-dropdown>
                                          </td>
                                      </tr>
                                  </tbody>

                              </table>
                              <nz-empty *ngIf="changeRequests?.length==0"></nz-empty>
                          </div>
                          <div class="padding-table hidden-md">
                              <div *ngFor="let change of lista; let idx = index">
                                  <div [ngClass]="{'par':isPar(idx), 'impar':!isPar(idx)}">
                                      <div nz-row nzType="flex" style="align-items: stretch;">
                                          <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                              class="header-table-div padding-left-5">
                                              <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_CHANGES.DATE' | translate}}</span>
                                          </div>
                                          <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                              class="body-table padding-top-18">
                                              <span> {{ change.created_at | date: "dd-MM-yyyy hh:mm" }} </span>
                                          </div>
                                      </div>
                                      <div nz-row nzType="flex" style="align-items: stretch;">
                                          <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                              class="header-table-div padding-left-5">
                                              <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_CHANGES.REQUEST' | translate}}</span>
                                          </div>
                                          <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                              class="body-table padding-top-18">
                                              <span> {{ change?.application_change_exposition }} </span>
                                          </div>
                                      </div>
                                      <div nz-row nzType="flex" style="align-items: stretch;">
                                          <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                              class="header-table-div padding-left-5">
                                              <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_CHANGES.STATUS_TITLE' | translate}}</span>
                                          </div>
                                          <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                                class="body-table padding-top-18">
                                                <nz-tag class="tab-status cursor-cont" (click)="consultHistoric(change)"
                                                    [nzColor]="(configStatus | filterStatusConfig: change?.status)?.color">
                                                    {{'EMERGENCY_FUND.STATUS.' + change?.status |
                                                    translate}}
                                                </nz-tag>
                                            </div>
                                      </div>
                                      <div nz-row style="text-align: center;">
                                          <nz-dropdown [nzTrigger]="'hover'" [nzPlacement]="'bottomRight'">
                                              <a nz-dropdown><i nz-icon style="font-size:22px"
                                                      nzType="icons:icons-more-options" nzTheme="outline"></i></a>
                                              <ul nz-menu>
                                                  <li *ngIf="change?.status=='SUBMITTED'"
                                                      nz-menu-item (click)="modalCancel(change.id)">{{
                                                      "MISC.CANCEL"| translate }}</li>
                                                  <li nz-menu-item
                                                      (click)="openApplicationChangesModal(change, true)">{{
                                                      "MISC.CONSULT"| translate }}</li>
                                              </ul>
                                          </nz-dropdown>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </nz-card>
                  </nz-spin>

              </div>
          </div>
      </div>
  </div>
</div>
