<div class="container">
  <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)"
    [nzLoading]="loading" [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true"
    [nzTotal]="totalData" [(nzPageSize)]="pageSize" (nzPageIndexChange)="pagination()"
    (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th></th>
        <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
          [nzSortKey]="column.sortKey ? column.sortKey : column.key"> {{ column.label }}</th>
        <th nzRight="0px" class="text-right" *ngIf="'bus:withdrawals:status' | hasPermission">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">

        <tr>
          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
          <td *ngFor="let column of columns">
            <span *ngIf="!column.tag">{{ column.translation ? (data.translations | where: ['language_id', 3]
              )[0][column.key] : (data | flatObject)[column.key]}}</span>
            <span *ngIf="column.tag">
              <fi-sas-tag [value]="data[column.key]" [results]="column.tag"></fi-sas-tag>
            </span>
          </td>
          <td nzRight="0px" class="text-right" *ngIf="'bus:withdrawals:status' | hasPermission">
            <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
              nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item [nzDisabled]="data.status !== 'pending'" (click)="openModalWithdrawal(data,'approve')">
                  Aprovar</li>
                <li nz-menu-item [nzDisabled]="data.status !== 'pending'" (click)="openModalWithdrawal(data,'reject')">
                  Rejeitar</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>

        <tr [nzExpand]="mapOfExpandData[data.id]">
          <td [attr.colspan]="columns.length + 3">
            <fi-sas-view-bus-application [application]="data.application"></fi-sas-view-bus-application>
          </td>
        </tr>

      </ng-template>
    </tbody>
  </nz-table>
</div>


<nz-modal [(nzVisible)]="isChangeStatusModalVisible"
  [nzTitle]="changeStatusModalAction === 'approve' ? 'Aprovar desistência' : 'Rejeitar desistência'" nzWidth="900"
  [nzOkText]="changeStatusModalAction === 'approve' ? 'Aprovar' : 'Rejeitar'" nzCancelText="Cancelar"
  (nzOnOk)="handleChangeStatus()" (nzOnCancel)="handleChangeStatusCancel()" [nzOkLoading]="changeStatusModalLoading">
  <div nz-row nzType="flex">
    <div nz-col nzSpan="4">
      Observações:
    </div>
    <div nz-col nzSpan="20">
      <textarea maxlength="255" nz-input [(ngModel)]="changeStatusModalNotes" rows="4"></textarea>
    </div>
  </div>
</nz-modal>

<!-- <nz-modal
[(nzVisible)]="isChangeStatusModalVisible"
[nzTitle]="changeStatusModalAction === 'approve' ? 'Aprovar desistência' : 'Rejeitar desistência'"
nzWidth="900"
[nzOkText]="changeStatusModalAction === 'approve' ? 'Aprovar' : 'Rejeitar'"
nzCancelText="Cancelar"
(nzOnOk)="handleChangeStatus()"
(nzOnCancel)="handleChangeStatusCancel()"
[nzOkLoading]="changeStatusModalLoading"
>
<div nz-row nzType="flex">
  <div nz-col nzSpan="4">
    Observações:
  </div>
  <div nz-col nzSpan="20">
    <textarea maxlength="255" nz-input [(ngModel)]="changeStatusModalNotes" rows="4"></textarea>
  </div>
</div>
</nz-modal> -->
