nz-divider {
    margin: 4px 0;
}

.add-item {
    padding: 8px;
    cursor : pointer;

    button {
        margin-right: 8px;
    }
}


.container-init{
    padding: 20px;
}

// .page{
//     padding: 24px;
//     height: 100%;
//     background-color: var(--background-color);
//     &__title{
//       font-size: 30px;
//     }
//     &__body{
//       padding: 24px;
//       background-color: white;
//       &__title{
//         padding: 10px 0px;
//       }
//     }
// }


.container {
    background: white;
    padding: 24px 30px 24px 30px;
    margin-bottom: 5px;
    &__title {
        font-size: 16px;
        line-height: 22px;
        margin: 0px;
        font-weight: bold;
        margin-bottom:10px;
        color:black;
    }
    &__subtitle{
      margin-bottom:5px;
    }
}

.text-center{
    text-align: center;
}

.container-next{
    padding-left: 50px;
    padding-right: 50px;
}

.scroll-container {
    height  : ~'calc(100%)';
    position: relative;
  }

.margin-top-15{
    margin-top:15px;
}

.padding-bottom-20{
    padding-bottom:20px;
}

.button-submit{
    margin-left: 40px;
}

.button-back{
    margin-left: 40px;
    float: left;
}

.padding-top-15{
    padding-top:15px;
}

.space{
    background-color: #F2F2F2;
    padding-top:20px;
    padding-bottom: 20px;
    text-align: right
}

.padding-bottom-5{
    padding-bottom: 5px;
}

.color-required{
    color:red;
}

.padding-top-30{
    padding-top: 30px;
}

.padding-right-20{
    padding-right:20px;
}

.languages {
    width: 200px;
  }
  

@media screen and (max-width:600px) {
    .padding-right-20{
        padding-right:0px;
    }
}

  .text-title{
    font-weight: bold;
    font-size: 18px;
  }

  .content {
    padding: 24px;
  }
  