<div nzType="flex" nzAlign="middle" nzJustify="center" perfectScrollbar class="page ps scroll-container">
  <div class="container">
    <div nz-row>
      <nz-spin [nzSpinning]="isLoading">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="padding-right-20">
          <nz-card>
            <div nz-row><b>Altura:</b>
              <nz-select nzMode="multiple" nzPlaceHolder="Refeição" [(ngModel)]="selectedMeals" style="width: 100%;">
                <nz-option nzLabel="Almoço" [nzValue]="Meal.LUNCH"></nz-option>
                <nz-option nzLabel="Jantar" [nzValue]="Meal.DINNER"></nz-option>
              </nz-select>
              <nz-form-explain class="color-required" *ngIf="submitted && selectedMeals.length==0">Campo obrigatório
              </nz-form-explain>
            </div>
            <div nz-row><b>Data:</b>
              <nz-select nzMode="multiple" nzPlaceHolder="Datas" [(ngModel)]="selectedDates" style="width: 100%;"
                [nzDropdownRender]="render">
                <nz-option *ngFor="let date of selectedDates" [nzLabel]="date | date: 'fullDate'" [nzValue]="date">
                </nz-option>
              </nz-select>
              <ng-template #render>
                <nz-divider></nz-divider>
                <div class="add-item">
                  <button nz-button (click)="addDate(newDate.nzValue)"><i nz-icon nzType="plus"></i></button>
                  <nz-date-picker #newDate [nzDisabledDate]="disabledDate"></nz-date-picker>
                </div>
              </ng-template>
              <nz-form-explain class="color-required" *ngIf="submitted && selectedDates.length==0">Campo obrigatório
              </nz-form-explain>
            </div>
            <div nz-row><b>Serviço:</b>
              <nz-select nzMode="multiple" nzPlaceHolder="Serviços" [(ngModel)]="selectedServices" style="width: 100%;">
                <nz-option *ngFor="let service of services" [nzLabel]="service.name" [nzValue]="service.id"></nz-option>
              </nz-select>
              <nz-form-explain class="color-required" *ngIf="submitted && selectedServices.length==0">Campo obrigatório
              </nz-form-explain>
            </div>
          </nz-card>
        </div>
      </nz-spin>
    </div>
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="padding-right-20"
        style="background-color: white;">
        <nz-spin [nzSpinning]="isLoadingSelects">
          <nz-list [nzDataSource]="updateMenu.dishs" nzBordered [nzRenderItem]="dish" [nzHeader]="headerList"
            style="margin-top: 20px;">
            <ng-template #headerList>
              <nz-list-item nz-row nzType="flex" nzJustify="space-between" style="padding: 0px;">
                <span style="width: 20%;">
                  <b>Tipo</b>
                </span>
                <span style="width: 30%;">
                  <b>Prato</b>
                </span>
                <span style="width: 15%;">
                  <b>Disponível</b>
                </span>
                <span style="width: 10%;">
                  <b>Número doses</b>
                </span>
                <span style="width: 10%;">
                  <b>Opções</b>
                </span>
              </nz-list-item>
            </ng-template>
            <ng-template #dish let-item>
              <nz-list-item nz-row nzType="flex" nzJustify="space-between">
                <span style="width: 20%;">{{(item.type?.translations | where: ['language_id',
                  defaultLang])[0].name}}</span>
                <span style="width: 30%;">{{(item.dish?.translations | where: ['language_id',
                  defaultLang])[0].name}}</span>
                <span style="width: 15%;"><label nz-checkbox [(ngModel)]="item.available">Disponível</label></span>
                <span style="width: 10%;" nz-tooltip nzTitle="Se o valor for 0 não será validada a quantidade"><input
                    type="number" placeholder="Doses" nz-input min="1" [(ngModel)]="item.doses_available" /></span>
                <span style="width: 10%">
                  <button nz-button nzType="danger" (click)="removeDish(item)"><i nz-icon type="delete"></i></button>
                </span>
              </nz-list-item>
            </ng-template>
            <nz-list-item nz-row nzType="flex" nzJustify="space-between" style="margin-top: 20px;">
              <span style="width: 20%;">
                <nz-select style="width: 100%;" [(ngModel)]="selectedDishType" nzPlaceHolder="Escolha o tipo de prato"
                  (ngModelChange)="onTypeChanged($event)" [nzAllowClear]="false">
                  <nz-option *ngFor="let dt of dishTypeList" [nzValue]="dt"
                    [nzLabel]="(dt.translations | where: ['language_id', defaultLang])[0].name"></nz-option>
                </nz-select>
              </span>
              <span style="width: 30%;">
                <nz-spin [nzSpinning]="isLoadingSelects">
                  <nz-select style="width: 100%;" [(ngModel)]="selectedDish" nzPlaceHolder="Escolha o prato"
                    nzAllowClear nzShowSearch [nzServerSearch]="true" (nzOnSearch)="onSearch($event)">
                    <ng-container *ngFor="let o of dishList">
                      <nz-option *ngIf="!isLoading" [nzValue]="o"
                        [nzLabel]="(o.translations | where: ['language_id', defaultLang])[0].name"></nz-option>
                    </ng-container>
                    <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
                      <i nz-icon type="loading" class="loading-icon"></i> Carregar pratos...
                    </nz-option>
                  </nz-select>
                </nz-spin>
              </span>
              <span style="width: 15%">
                <label nz-checkbox [(ngModel)]="selectedAvailable">Disponível</label>
              </span>
              <span style="width: 10%;">
                <input type="number" placeholder="Doses" nz-input min="0" nz-tooltip
                  nzTitle="Se o valor for 0 a quantidade vai ser ilimitada" [(ngModel)]="selectedDoses_Number" />
              </span>
              <span style="width: 10%">
                <button nz-button [nzType]="'primary'" (click)="addDish()"
                  [disabled]="selectedDoses_Number<0">Adicionar</button>
              </span>
            </nz-list-item>
          </nz-list>
        </nz-spin>
      </div>
    </div>
  </div>
  <div class="space">
    <div nz-row style="text-align: right; margin-top: 16px;">
      <button nz-button style="margin-right: 16px;" (click)="reset()">
        <i nz-icon nzType="delete"></i>Limpar</button>
      <button nz-button nzType="primary" (click)="submit()">
        Criar
      </button>
    </div>
  </div>
</div>