<div class="dashboard screen">
  <nz-list [nzDataSource]="modules" [nzRenderItem]="item" [nzGrid]="{gutter: 24, xl:4,lg: 6, md: 8, sm: 12, xs: 24 }">
    <ng-template #item let-item>
      <nz-list-item >
        <nz-card class="dashboard__module" (click)="selectModule(item)">
            <span nz-row style="padding: 8px;">
              <i style="font-size: 55px" nz-icon [type]="item.icon"></i>
            </span>
            <span class="dashboard__module__title" nz-row>{{ item.name}}</span>
        </nz-card>
      </nz-list-item>
    </ng-template>
  </nz-list>
  </div>
