.dashboard {
    margin-left: 24px;
    margin-right: 24px;
    &__module {
      margin-top: 24px;
      text-align: center;
      width: 100%;
      border: 0;
      border-radius: 4px;
      box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
      background-color: #ffffff;
      
      &--inactive {
          background: rgba(0, 0, 0, 0.1);
          cursor: default;
      }

      &__title {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
      }
    }
  }
