@import "theme";
.header {
  padding: 0 24px;
  color: @header-text-color;
  background: @primary-6;

  &__logo {
    text-align: center;
    font-size: 20px;
    color: @header-text-color;
    width: 120px;
    height: 31px;
    /*background: rgba(255,255,255,.2);*/
    margin: 0;
    float: left;

    /* TODO Change this when the backoffice gets a actual icon */

    a {
      color: @header-text-color;
    }

    a:hover,
    a:visited,
    a:link,
    a:active,
    a:focus {
      display: block;
      width: 100%;
      text-decoration: none;
      font-style: normal;
      color: @header-text-color;
    }
  }

  &__clock {
    font-size: 18px;
  }
}