<nz-header class="header">
  <span nz-row nzType="flex" nzJustify="space-between">
    <div nz-col class="header__logo">
      <a routerLink="/"><b>SAS</b>ocial</a>  
    </div>
    <div nz-col class="header__clock">
      {{ time }}
    </div>
    <div nz-col>
      <fisas-layout-header-dropdown></fisas-layout-header-dropdown>
    </div>
  </span>
</nz-header>
