
.start-container {
  background-color: white;
}

.title {
  font-size: 25px;
  font-weight: bold;
  padding: 25px;
}

.description {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.color-required {
  color: red;
}

.row-button {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.button {
  color: black;
  border: 1px solid #d9d9d9;
  font-weight: bold;
}
