<div class="start-container">
    <div nz-row class="title">
        <label> {{'SCENES.INSTALL.TITLE' | translate}} </label>
    </div>
    <div nz-row class="description">
        <span> {{'SCENES.INSTALL.DESCRIPTION' | translate}} </span>
    </div>

    <form [formGroup]="formInstall">
        <nz-card style="width: 100%;" [nzTitle]="'SCENES.INSTALL.FORM.CONFIGURATION' | translate">
            <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="7" nzFor="institute">{{'SCENES.INSTALL.FORM.INSTITUTE' | translate}}
                </nz-form-label>
                <nz-form-control [nzSpan]="14" nzHasFeedback>
                    <nz-select formControlName="institute" id="institute" name="institute">
                        <nz-option nzValue="IPVC" nzLabel="IPVC"></nz-option>
                        <nz-option nzValue="IPViseu" nzLabel="IPViseu"></nz-option>
                        <nz-option nzValue="IPP" nzLabel="IPP"></nz-option>
                        <nz-option nzValue="IPCoimbra" nzLabel="IPCoimbra"></nz-option>
                        <nz-option nzValue="IPL" nzLabel="IPL"></nz-option>
                        <nz-option nzValue="IPB" nzLabel="IPB"></nz-option>
                        <nz-option nzValue="IPCA" nzLabel="IPCA"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired nzFor="device">Device</nz-form-label>
                <nz-form-control [nzSpan]="14" nzHasFeedback>
                    <nz-input-group>
                        <input formControlName="device" type="number" placeholder="id" class="primary-input" nz-input id="device" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired nzFor="domain"> {{'SCENES.INSTALL.FORM.DOMAIN' | translate}}</nz-form-label>
                <nz-form-control [nzSpan]="14" nzHasFeedback>
                    <nz-input-group>
                        <input formControlName="domain" type="text" class="primary-input" nz-input id="domain" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </nz-card>

    </form>
    <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="row-button">
            <button nz-button nzType="primary" type="button" [disabled]="!formInstall.valid" class="button" (click)="saveConfigurations()">
                {{'SCENES.INSTALL.BUTTON.SAVE' | translate}}
            </button>
        </div>
       
    </div>
</div>