.form {
  &--title {
    color: #222;
    font-family: Montserrat;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.41;
    margin-bottom: 10px;
  }

  &--subtitle {
    color: #666666;
    font-family: Montserrat;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.5;
    margin-bottom: 15px;
  }

  &--button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.font {
  font-size: 13px !important;
}
.form__inputs {
  margin-bottom: 30px;
}
.error {
  color: red;
  margin-top:5px;

  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}