<form nz-form [formGroup]="form">
  <h2 class="title-top-page"> {{ 'SOCIAL_SUPPORT.EXPERIENCES.EVALUATION.TITLE' | translate }}</h2>
  <p class="sub-title-top-page font">   {{ 'SOCIAL_SUPPORT.EXPERIENCES.EVALUATION.SUBTITLE' | translate }}</p>


  <div nz-row nzGutter="20" class="form__inputs">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="avaliation" class="primary-input-label">
          {{ 'SOCIAL_SUPPORT.EXPERIENCES.EVALUATION.DESCRIPTION_FIELD_LABEL' | translate }}
        </nz-form-label>
       
        <nz-form-control>
          <textarea maxlength="255" class="primary-textarea" rows="5" formControlName="avaliation" id="avaliation" nz-input></textarea>
          <nz-form-explain class="error" *ngIf="form.get('avaliation')?.dirty && form.get('avaliation').errors">
            {{ getInputError('avaliation') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row *ngIf="form?.enabled">
    <div nz-col>
      <app-button class="form--button" translate="MISC.SUBMIT" type="primary" 
        [loading]="isLoading" (click)="onSubmit()"></app-button>
    </div>
  </div>
</form>