
<div class="topnav" >
    <span *ngFor="let itemMenu of barOptions; let iMenu = index">
        <a *ngIf="itemMenu.type=='string'" routerLinkActive="active-link" [routerLink]="itemMenu.routerLink">{{itemMenu.translate | translate}}</a>
        <a *ngIf="itemMenu.type=='array'" routerLinkActive="active-link" [routerLink]="itemMenu.routerLink">{{itemMenu?.translate ? ((itemMenu?.translate | languageChange)?.name) : ''}}</a>
    </span>
    
</div>

<router-outlet></router-outlet>
