<AbsoluteLayout>
<StackLayout class="ticket__bg" width="100%" height="100%">
    <fi-action-bar [actionBarType]="3" actionBarTitle="{{ 'ticket-list.title' | translate }}" actionBarBack="dashboard"></fi-action-bar>
    <GridLayout rows="*,0">
        <GridLayout rows="*,70">
        <ScrollView row="0">
            <WrapLayout orientation="horizontal" horizontalAlignment="center" width="100%">
                <!-- loader -->
                <StackLayout class="fisas__form__block" marginTop="40" *ngIf="isLoading">
                    <ActivityIndicator row="1" #activityIndicator [busy]="isLoading" width="100%" height="50" color="lightgray" class="fisas__loading"></ActivityIndicator>
                </StackLayout>
                
                <StackLayout horizontalAlignment="center" marginTop="12" *ngIf="!isLoading" width="100%">
                    <StackLayout horizontalAlignment="center" width="100%" paddingLeft="18" paddingRight="18" *ngFor="let item of reservations; index as i">
                        <StackLayout style="background-color: white; border-radius: 7; width: 324; margin-bottom: 7;">
                            <!-- reservation ticket properties -->
                            <fi-canteen-ticket
                                *ngIf="item.isAvailable && !item.isServed"
                                width="100%"
                                maxLines="{{ true }}"
                                id="{{ item?.id }}"
                                image="{{ item?.menu_dish.dish.file.url }}"
                                date="{{ item?.menu_dish.menu.date }}"
                                meal="{{ (item?.menu_dish.type.translations)[0]?.name }}"
                                name="{{ (item?.menu_dish.dish.translations)[0]?.name }}"
                                refectory="{{ item?.location }}"
                                type="{{ item?.menu_dish.menu.meal }}"
                            ></fi-canteen-ticket>
                            <!-- cancel ticket button: it has transparency and has no effect in the case of the nullable_until property is outdated (check function(item)) -->
                            <FlexboxLayout style="justify-content: flex-end; margin-right: 15; margin-top: -12;">
                                <StackLayout>
                                    <Label class="dashboard__cancelBtn" [ngClass]="{'dashboard__cards__container--opacity': !check(item)}" text="{{ 'dashboard.cancelTicket' | translate }}" (tap)=cancelTicket(item)></Label>
                                </StackLayout>
                            </FlexboxLayout>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </WrapLayout>
        </ScrollView>
        </GridLayout>

        <StackLayout class="fisas__vertical-down" width="100%">
            <!--button to open meals list page -->
            <StackLayout [nsRouterLink]="['/meals/list']" class="fisas__btn-bottom fisas__bg--{{ institution }}">
                <Label verticalAlignment="center" text="{{ 'ticket-list.buy' | translate }}"></Label>
            </StackLayout>
        </StackLayout>
    </GridLayout>
</StackLayout>
<fi-footer-modal></fi-footer-modal>
</AbsoluteLayout>
