

@import "theme";
:host::ng-deep {
  .form {
    margin-top: 25px;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 30px 35px 30px 35px;

   
  }

  [nz-radio] {
    display: block;
  }

  nz-radio-group {
    display: block;
    input {
      width: 100px;
      margin-left: 10px;
    }
  }

  nz-checkbox-wrapper {
    width: 100%;
  }

  .switch {
    font-family: Montserrat;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    &__label {
      width: 80%;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.71;
      color: #222222;
      float: left;
    }
    &__input {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
      width: 20%;
      float: right;
      nz-switch {
        float: right;
      }
    }
    &__link {
      font-size: 14px;
      font-weight: normal;
      line-height: 1.71;
      color: var(--primary-color);
      float: left;
      margin-top: 16px;
      a {
        text-decoration: underline;
      }
    }
  }

  .element {
    &__rows {
      margin-bottom: 32px;
    }
    font-family: Montserrat;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;

  }

  .time{
    &__or{
      text-align: center;
    }

  }

}

.submit {
  margin-top: 25px;
  text-align: right;
}

.error {
  color: red;
  padding-top: 5px;

  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }

  &__spacing{
    padding-bottom: 30px;
  }
}



/* take out the arrowa from input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
