<h2 class="title-top-page">{{"U_BIKE.DASHBOARD.MANUAL_REGISTRATION.MANUAL_REGISTRATION_KM" | translate}}</h2>

<div class="form">
  <form nz-form [formGroup]="formUbike">
 <!-- DESCRIPTION -->
    <nz-form-item>
      <nz-form-label nzRequired nzFor="description">
       <b>{{ "U_BIKE.DASHBOARD.MANUAL_REGISTRATION.DESCRIPTION.TITLE" | translate}}</b>
      </nz-form-label>
      <div class="desc-title-form">
        {{"U_BIKE.DASHBOARD.MANUAL_REGISTRATION.DESCRIPTION.DESC" | translate}}
      </div>
      <nz-form-control>
        <input class="primary-input" nz-input formControlName="description"
          [ngClass]="{ 'error__input': submitted && f.description.errors }">
          <nz-form-explain class="error" *ngIf="submitted && f.description.errors">
            {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
          </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <!-- DATE -->

    <nz-form-item>
      <nz-form-label nzRequired nzFor="date">
       <b>{{ "U_BIKE.DASHBOARD.MANUAL_REGISTRATION.DATE.TITLE" | translate}} </b>
      </nz-form-label>
      <div class="desc-title-form">
        {{"U_BIKE.DASHBOARD.MANUAL_REGISTRATION.DATE.DESC" | translate}}
      </div>
      <nz-form-control>
        <nz-date-picker formControlName="date" class="primary-datePicker" [nzDisabledDate]="disableDate"
        [ngClass]="{ 'error__input': submitted && f.date.errors }"></nz-date-picker>
      <nz-form-explain class="error" *ngIf="submitted && f.date.errors">
        {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
      </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <div nz-row class=" element__rows">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <nz-tabset nzSelectedIndex="{{selectedTab}}" (nzSelectedIndexChange)="timeTabChange($event)">
          <!--TIME REGISTRATION -->
          <nz-tab nzTitle="{{'U_BIKE.DASHBOARD.MANUAL_REGISTRATION.SUBMITION_BY_TIME' | translate}}">

            <nz-form-item>
              <nz-form-label nzRequired nzFor="time">
               <b>{{ "U_BIKE.DASHBOARD.MANUAL_REGISTRATION.TIME.TITLE" | translate}} </b>
              </nz-form-label>
              <div class="desc-title-form">
                {{ "U_BIKE.DASHBOARD.MANUAL_REGISTRATION.TIME.DESC" | translate}}
              </div>
              <nz-form-control>
                <input class="primary-input"  type="number" nz-input maxlength=4 suffix=" min." minlength=1 placeholder="0 min."
                  formControlName="time" [ngClass]="{ 'error__input': submitted && f.time.errors }">
              <nz-form-explain class="error" *ngIf="submitted && f.time.errors">
                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
              </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </nz-tab>
          <!--HOUR REGISTRATION -->
          <nz-tab nzTitle="{{'U_BIKE.DASHBOARD.MANUAL_REGISTRATION.SUBMITION_BY_HOURS' | translate}}">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="timeStart">
               <b>{{ "U_BIKE.DASHBOARD.MANUAL_REGISTRATION.TIME.INIT_TIME" |
                translate}}  </b>
              </nz-form-label>
              <div class="desc-title-form">
                {{ "U_BIKE.DASHBOARD.MANUAL_REGISTRATION.TIME.END_TIME" | translate}}
              </div>
              <nz-form-control>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                  <nz-time-picker formControlName="timeStart" nzFormat="HH:mm" style="width: 95%;" [nzClearText]="''" class="primary-timePicker"
                    [ngClass]="{ 'error__input': submitted && f.timeStart.errors }"></nz-time-picker>
                    <nz-form-explain class="error" *ngIf="submitted && f.timeStart.errors">
                      {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                    </nz-form-explain>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                  <nz-time-picker formControlName="timeEnd" nzFormat="HH:mm" style="width: 95%;" [nzClearText]="''" class="primary-timePicker"
                    [ngClass]="{ 'error__input': submitted && f.timeEnd.errors }"></nz-time-picker>
                    <nz-form-explain class="error" *ngIf="submitted && f.timeEnd.errors">
                      {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                    </nz-form-explain>
                </div>
             
              </nz-form-control>
            </nz-form-item>
          </nz-tab>
        </nz-tabset>
      </div>
    </div>

    <!-- DISTANCE -->
    <nz-form-item>
      <nz-form-label nzRequired nzFor="distance">
       <b>{{ "U_BIKE.DASHBOARD.MANUAL_REGISTRATION.DISTANCE.TITLE" | translate}} </b>
      </nz-form-label>
      <div class="desc-title-form">
        {{"U_BIKE.DASHBOARD.MANUAL_REGISTRATION.DISTANCE.DESC" | translate}}
      </div>
      <nz-form-control>
        <nz-input-group class="tab-input" nzAddOnBefore="{{inputOptions.addOnBefore | translate}}"
        [nzAddOnAfter]="'U_BIKE.DASHBOARD.MANUAL_REGISTRATION.DISTANCE.METRIC' | translate">
        <input nz-input type="number" placeholder="0" formControlName="distance"
          [ngClass]="{ 'error__input': submitted && f.distance.errors }" />
      </nz-input-group>
      <nz-form-explain class="error" *ngIf="submitted && f.distance.errors">
        {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
      </nz-form-explain>
      </nz-form-control>
    </nz-form-item>


    <!-- REPEAT -->
    <nz-form-item  *ngIf="!trip">
      <nz-form-label nzFor="dateRepeate">
       <b>{{'U_BIKE.DASHBOARD.MANUAL_REGISTRATION.REPEAT' | translate}} </b>
      </nz-form-label>
      
      <nz-form-control>
        <nz-select formControlName="dateRepeate" class="primary-select">
          <nz-option [nzLabel]="'U_BIKE.REPEATE.REPEATE_1' | translate" [nzValue]="'noRep'"></nz-option>
          <nz-option [nzLabel]="'U_BIKE.REPEATE.REPEATE_2' | translate" [nzValue]="'WEveryD'"></nz-option>
          <nz-option [nzLabel]="'U_BIKE.REPEATE.REPEATE_3' | translate" [nzValue]="'MEveryW'"></nz-option>
          <nz-option [nzLabel]="'U_BIKE.REPEATE.REPEATE_4' | translate" [nzValue]="'MEveryWeekDays'"></nz-option>
          <nz-option [nzLabel]="'U_BIKE.REPEATE.REPEATE_5' | translate" [nzValue]="'MEveryWeekend'"></nz-option>
          <nz-option [nzLabel]="'U_BIKE.REPEATE.REPEATE_6' | translate" [nzValue]="'MEveryD'"></nz-option>
          <nz-option [nzLabel]="'U_BIKE.REPEATE.REPEATE_7' | translate" [nzValue]="'plusW'"></nz-option>
          <nz-option [nzLabel]="'U_BIKE.REPEATE.REPEATE_8' | translate" [nzValue]="'plus1'"></nz-option>
          <nz-option [nzLabel]="'U_BIKE.REPEATE.REPEATE_9' | translate" [nzValue]="'plus2'"></nz-option>
          <nz-option [nzLabel]="'U_BIKE.REPEATE.REPEATE_10' | translate" [nzValue]="'plus3'"></nz-option>
          <nz-option [nzLabel]="'U_BIKE.REPEATE.REPEATE_11' | translate" [nzValue]="'plus4'"></nz-option>
          <nz-option [nzLabel]="'U_BIKE.REPEATE.REPEATE_12' | translate" [nzValue]="'plus5'"></nz-option>
          <nz-option [nzLabel]="'U_BIKE.REPEATE.REPEATE_13' | translate" [nzValue]="'plus6'"></nz-option>
        </nz-select>
     
      </nz-form-control>
    </nz-form-item>
   
  </form>
  <div nz-row class="submit">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <app-button (click)="cancel()" style="margin-right: 15px;"
      [translate]="'MISC.CANCEL'" [type]="'secundary'"></app-button>
      <app-button [loading]="loading" (click)="submit()"
      [translate]="'MISC.SUBMIT'"></app-button>
    </div>
  </div>

</div>
