<div class="content">
  <form nz-form [formGroup]="formMovableHeritage" nzLayout="horizontal">
    <div nz-row nzGutter="24">
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
        <nz-form-item>
          <nz-form-control>
            <nz-form-label nzFor="description" nzSpan="24" nzRequired>Descrição</nz-form-label>
            <input class="primary-input" formControlName="description" nz-input id="description"
              [ngClass]="{ 'error__input': f.description.dirty && f.description.errors}" />
          </nz-form-control>
          <nz-form-explain class="error" *ngIf="submit && f.description.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="24">
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 7 }">
        <nz-form-item>
          <nz-form-control>
            <nz-form-label nzFor="code" nzSpan="24" nzRequired>Código</nz-form-label>
            <input class="primary-input" formControlName="code" nz-input id="code" type="number"
              [ngClass]="{ 'error__input': f.code.dirty && f.code.errors}" />
          </nz-form-control>
          <nz-form-explain class="error" *ngIf="submit && f.code.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>

      </div>
      <div nz-col [nzXs]="{ span: 0 }" [nzLg]="{ span: 1 }"></div>
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 7 }">
        <nz-form-item>
          <nz-form-control>
            <nz-form-label nzFor="reference_value" nzSpan="24" nzRequired>Valor Referência</nz-form-label>
            <input class="primary-input" formControlName="reference_value" nz-input id="reference_value" type="number"
              [ngClass]="{ 'error__input': f.reference_value.dirty && f.reference_value.errors}" />
          </nz-form-control>
          <nz-form-explain class="error" *ngIf="submit && f.reference_value.errors">
            Campo inválido
          </nz-form-explain>
        </nz-form-item>

      </div>
    </div>
    <div nz-row nzGutter="24">
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 7 }">
        <nz-form-item>
          <nz-form-control>
            <nz-form-label nzFor="active" nzSpan="24" nzRequired>Ativo</nz-form-label>
            <nz-switch formControlName="active"></nz-switch>
          </nz-form-control>
          <nz-form-explain class="error" *ngIf="submit && f.active.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>

      </div>
    </div>

  </form>
</div>

<div class="space">
  <button *ngIf="movableHeritageId" nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="loading" [disabled]="loading" (click)="submitForm()"
    [nzType]="'primary'">{{movableHeritageId ? 'Editar' : 'Criar'}}</button>
</div>