<nz-alert
  nzShowIcon
  nzType="info"
  nzMessage="Selecionar todos os processamentos"
  [nzDescription]="descriptionTemplate"
  nzCloseable
  (nzOnClose)="afterClose()"
>
</nz-alert>
<ng-template #descriptionTemplate>
  <div nz-row>
    <p><b>{{ alertInfo.n_selected }}</b> processamentos selecionados. Pretende selecionar todos os {{ alertInfo.total }} processamentos?</p>
  </div>
  <div nz-row>
    <button nz-button nzSize="small" nzType="primary" 
      (click)="selectAction()"
      [disabled]="alertInfo.n_selected === alertInfo.total">Selecionar</button>
  </div>
</ng-template>