.application-card {
    background-color: #ffffff;
    border-radius: 5px;
    cursor: context-menu;
    margin: 10px;
    padding: 25px 15px 15px 15px;
    border: 1px solid transparent;
    > div:first-child {
      margin-bottom: 10px;
    }
    &--status {
      padding-left: 5px;
      padding-right: 5px;
      height: 18px;
      border-radius: 4px;
      text-align: center;
      float: left;
      font-size: 11px;
      font-weight: bold;
      line-height: 1.78;
      letter-spacing: 0.5px;
      color: white;
    }
    &--title {
      font-family: Montserrat;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #333333;
    }
    &--button {
      float: right;
    }
}
  
@media only screen and (max-width: 600px) {
    .application-card {
      &--title {
        margin-top: 10px;
      }
    }
    .padding-bottom-mobile-20 {
      padding-bottom: 20px;
    }
}

.card {

    &__status {
        font-size: 11px;
        font-weight: bold;
        letter-spacing: 0.5px;
        color: #ffffff;
        text-align: center;
        align-items: center;
        border: none;
        cursor: context-menu;
    }
}


.padding-top-15 {
    padding-top: 15px;
}
  
  
.title-detail {
  font-size: 13px;
  color: var(--primary-7);
}
  
.description-detail {
  color: black;
  font-size: 13px;
}

.a-href {
    padding-top: 20px;
    text-decoration: underline;
    @media only screen and (max-width: 600px) {
        padding-top: 0px;
    }
}

.padding-tablet {
    @media only screen and (max-width: 800px) {
        padding-top: 10px;
    }
}