<!--- OPTIONS -->
<div nz-row style="margin: 24px 0px;">
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
    <div nz-row>
      <div nz-col nzSpan="12">
        <app-button translate="MISC.RETURN" (click)="back()" [leftIcon]="'left'"
          [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}" type="tertiary"></app-button>
      </div>
      <div nz-col nzSpan="12" style="text-align: right;">
        <app-button [disabled]="canCreateDeclaration()" [routerLink]="['/mobility', 'sub-23-declaration-form']"
          [translate]="'MOBILITY.SUB_23_DECLARATIONS.NEW_DECLARATION'" type="tertiary"></app-button>
      </div>
    </div>
  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>
</div>

<!--- CONTENT -->
<div nz-row>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20" class="content">
    <nz-spin [nzSpinning]="loading">
      <nz-empty [nzNotFoundContent]="'MOBILITY.SUB_23_DECLARATIONS.NO_CONTENT' | translate"
        *ngIf="declarations.length === 0">
      </nz-empty>
      <div nz-row nzType="flex" *ngIf="declarations.length > 0">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" *ngFor="let declaration of declarations">
          <div class="application-card">
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="5" [nzXl]="4" [nzXXl]="3">
                <nz-tag class="tab-status cursor-cont" [nzColor]="DeclarationStatusLabels[declaration.status]?.color">
                  {{ DeclarationStatusLabels[declaration.status]?.translation | translate }}
                </nz-tag>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="11" [nzXl]="12" [nzXXl]="12" class="padding-tablet">
                <div class="application-card--title">
                  <div>{{'MOBILITY.APPLICATIONS.APPLICATION_SUB23' | translate}}</div>
                </div>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="7" [nzXl]="8" [nzXXl]="9"
                style="text-align: right;">
                <app-button class="margin-left-2" [translate]="'MOBILITY.APPLICATIONS.DETAILS'"
                  [buttonStyle]="{'margin-top':'5px'}" [type]="'secundary'"
                  [routerLink]="['/mobility', 'sub-23-declaration-view', declaration.id]">
                </app-button>
              </div>
            </div>
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="5" [nzXl]="4" [nzXXl]="3"class="padding-top-15">
                <div nz-row class="margin-bottom-5">
                  <span class="title-detail">{{ "SOCIAL_SUPPORT.APPLICATIONS.SUBMITTED_ON" | translate }}</span>
                </div>
                <div nz-row>
                  <span class="description-detail"> {{ declaration.created_at | date:'dd-MM-yyyy' }}</span>
                </div>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="4" [nzXl]="3" [nzXXl]="3" class="padding-top-15">
                <div nz-row class="margin-bottom-5">
                  <span class="title-detail">{{
                    "MOBILITY.SUB_23_DECLARATIONS.ACADEMIC_YEAR" | translate }}</span>
                </div>
                <div nz-row>
                  <span class="description-detail"> {{ declaration.academic_year }}</span>
                </div>
              </div>
              <div *ngIf="declaration.declaration" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="6" [nzXl]="5" [nzXXl]="5" class="padding-top-15">
                <div nz-row class="a-href">
                  <a [href]="declaration.declaration.url" target="_blank">{{
                    'MOBILITY.SUB_23_DECLARATIONS.DECLARATION' |
                    translate }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nz-spin>
  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>
</div>