.offer-card {
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  padding: 25px 15px 15px 15px;
  border: 1px solid transparent;
  > div:first-child {
    margin-bottom: 10px;
  }

  &--status {
    border-radius: 4px;
    color: white;
    float: left;
    font-size: 9px;
    font-weight: bold;
    height: 16px;
    letter-spacing: 0.5px;
    line-height: 1.78;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }

  &--title {
    color: #333333;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.33;
  }

  &--description {
    color: #333333;
    font-family: Montserrat;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.33;
  }

  &--button {
    float: right;
  }
}


.offer-card:hover {
  border-color: var(--primary-color);
  background-color: var(--primary-1);
}

.top-space {
  margin-top: 15px;
}

@media only screen and (max-width: 600px) {
  .application-card {
    &--title {
      margin-top: 10px;
    }
  }

  .padding-bottom-mobile-20 {
    padding-bottom: 20px;
  }
}
.title-detail {
  font-size: 13px;
  color: var(--primary-7);
}

.description-detail {
  color: black;
  font-size: 13px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.CLOSED {
  background-color: #000000;
}

.CANCELLED {
  background-color: #A4A4A4;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}
