<div class="offer-card" (click)="reviewExperience(action?.id)">
  <div nz-row nzType="flex">
    <div nz-col nzXs="24" nzMd="12">
      <app-action-status-badge [data]="action"></app-action-status-badge>
    </div>
    <div nz-col nzXs="24" nzMd="12">
      <app-button
        *ngIf="action?.status === 'CLOSED'"
        class="offer-card--button"
        type="secundary"
        [translate]="'SOCIAL_SUPPORT.HISTORY_APPLICATIONS.FORM'"
        (click)="goToOfferAttendances($event, action?.id)"
      ></app-button>
    </div>
  </div>

  <div nz-row class="padding-bottom-10">
    <div nz-col nzSpan="24">
      <div
        class="offer-card--title"
      >
        {{ (action?.translations | languageChange)?.title }}
      </div>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="24" class="padding-bottom-20">
      <div class="offer-card--description">{{ (action?.translations | languageChange)?.description }}</div>
    </div>
  </div>

  <div nz-row class="padding-bottom-20">
    <div nz-col nzXs="24" nzMd="8" class="padding-bottom-mobile-20">
      <div class="title-detail">{{ 'SOCIAL_SUPPORT.APPLICATIONS.SUBMITTED_ON' | translate }}</div>

      <div class="description-detail">{{ action?.publish_date | date: 'dd-MM-yyyy' }}</div>
    </div>

    <div nz-col nzXs="24" nzMd="16" class="padding-bottom-mobile-20">
      <div class="title-detail">{{ 'SOCIAL_SUPPORT.OFFERS.LOCAL' | translate }}</div>

      <div class="description-detail">
        {{ action?.organic_unit?.name }} <br />
        {{ action?.address }}
      </div>
    </div>
  </div>
</div>
