<nz-tabset nzTabPosition="left">
  <nz-tab nzTitle="Alerta">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Descrição
        </div>
        <div nz-row class="detail-field">
          {{ data.description }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Endpoint URL
        </div>
        <div nz-row class="detail-field">
          {{ data.endpoint_url ? data.endpoint_url : '-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Criado em
        </div>
        <div nz-row class="detail-field">
          {{ data.created_at | date: 'dd/MM/yyyy'}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Alterado em
        </div>
        <div nz-row class="detail-field">
          {{ data.updated_at | date: 'dd/MM/yyyy' }}
        </div>
      </div>
    </div>
    <nz-divider nzText="Métodos de notificação"></nz-divider>
    <div *ngIf="data.notification_methods.length>0">
      <li>
        <ul *ngFor="let nm of data.notification_methods"> {{ nm.priority}} - <nz-tag>{{ nm.notification_method.service
            }}
          </nz-tag>
        </ul>
      </li>
    </div>
    <div *ngIf="data.notification_methods.length==0" style="text-align: center;">
      Sem métodos
    </div>

  </nz-tab>

  <nz-tab nzTitle="Template">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-row class="title">
          Assunto
        </div>
        <div nz-row class="detail-field">
          {{ data.subject }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Mensagem simplificada
        </div>
        <div nz-row class="detail-field">
          {{ data.simplified_message }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Mensagem
        </div>
        <div nz-row class="detail-field">
          <iframe width="800" height="500"
            [src]="domSanitizer.bypassSecurityTrustResourceUrl('data:text/html;charset=utf-8,' + encodeURIComponent(data.message))"></iframe>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Dados
        </div>
        <div nz-row class="detail-field">
          {{ data.data | json }}
        </div>
      </div>
    </div>
  </nz-tab>
</nz-tabset>