@import 'theme';

.top {
  padding-top: 25px;
}

.error-message {
  padding-top: 30px;
  padding-bottom: 10px;
}

.application {
  margin-top: 10px;
  margin-bottom: 34px;
  .ant-row {
    padding-left: 25.5px !important;
    padding-right: 25.5px !important;
  }
  &--title {
    padding-left: 25.5px;
    padding-right: 25.5px;
  }
  &--subtitle {
    color: #111111;
    font-family: Montserrat;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 1.5;
    margin-bottom: 30px;
    margin-top: 4px;
    padding-left: 25.5px;
    padding-right: 25.5px;
  }
  &--form-title {
    margin-top: 17.5px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: var(--primary-color);
    margin-bottom: 8.5px;
    padding-left: 25.5px;
    padding-right: 25.5px;
  }
  &--divider {
    margin-right: -25.5px;
    margin-left: -25.5px;
  }
}
