<div nz-row>
  <div nz-col [nzSm]="1" [nzXs]="1"></div>
  <div nz-col [nzSm]="22" [nzXs]="22" class="top">
    <app-button *ngIf="!review" translate="MISC.RETURN" (click)='back()' [leftIcon]="'left'"
      [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}" type="tertiary"></app-button>

    <div *ngIf="!review" class="top">
      <h2 class="title-top-page">
        {{'SOCIAL_SUPPORT.TITLE'|translate}} {{translations?.length>1 ? ((translations | languageChange)?.name) :
        ('DASHBOARD.BUTTON.SOCIAL_SUPPORT' | translate)}}</h2>
      <p class="sub-title-top-page"> {{'SOCIAL_SUPPORT.APPLICATIONS.FORM.SUBTITLE'|translate}} {{institute}}</p>
    </div>
    <div *ngIf="review">
      <h2 class="title-top-page">
        {{'SOCIAL_SUPPORT.TITLE'|translate}} {{translations?.length>1 ? ((translations | languageChange)?.name) :
        ('DASHBOARD.BUTTON.SOCIAL_SUPPORT' | translate)}}</h2>
      <p class="sub-title-top-page"> {{'SOCIAL_SUPPORT.APPLICATIONS.FORM.SUBTITLE'|translate}} {{institute}}</p>
    </div>
  </div>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>

<div nz-row>
  <div nz-col [nzSm]="1" [nzXs]="1"></div>

  <!--ApplicationForm-->
  <div *ngIf="!review" nz-col [nzSm]="22" [nzXs]="22" class="content-card application">
    <nz-spin [nzSpinning]="isLoadingApplication">
      <div nz-row *ngIf="showErrorMessage" class="error-message">
        <div nz-col nzSpan="24">
          <nz-alert nzType="error" [nzMessage]="'MISC.ERROR_GENERIC' | translate"></nz-alert>
        </div>
      </div>
      <div nz-row class="application--form-title title-resume" [nzType]="'flex'">
        <div nz-col>{{'SOCIAL_SUPPORT.APPLICATIONS.FORM.IDENTIFICATION'|translate}}</div>
      </div>

      <div nz-row>
        <app-identification #identificationForm [user]="user" [application]="application"></app-identification>
      </div>

      <nz-divider class="content-card--divider"></nz-divider>

      <div nz-row class="application--form-title title-resume" [nzType]="'flex'">
        <div nz-col>{{'SOCIAL_SUPPORT.APPLICATIONS.FORM.CONTACTS'|translate}}</div>
      </div>

      <div nz-row>
        <app-contacts #contactsForm [user]="user"></app-contacts>
      </div>

      <nz-divider class="content-card--divider"></nz-divider>

      <div nz-row class="application--form-title title-resume" [nzType]="'flex'">
        <div nz-col>{{'SOCIAL_SUPPORT.APPLICATIONS.FORM.SOCIAL_BENEFITS'|translate}}</div>
      </div>

      <div nz-row>
        <app-social-benefits [application]="application" #socialBenefitsForm></app-social-benefits>
      </div>

      <nz-divider class="content-card--divider"></nz-divider>

      <div nz-row class="application--form-title title-resume" [nzType]="'flex'">
        <div nz-col>
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM.INTERESTS'|translate}}
        </div>
      </div>

      <div nz-row>
        <app-activities-locations [application]="application" #activitiesLocationsForm></app-activities-locations>
      </div>

      <nz-divider class="content-card--divider"></nz-divider>

      <div nz-row class="application--form-title title-resume" [nzType]="'flex'">
        <div nz-col> {{'SOCIAL_SUPPORT.APPLICATIONS.FORM.PREV_COLLABORATIONS'|translate}}</div>
      </div>

      <div nz-row>
        <app-past-collaborations [application]="application" #pastCollaborationsForm></app-past-collaborations>
      </div>

      <nz-divider class="content-card--divider"></nz-divider>

      <div nz-row class="application--form-title title-resume" [nzType]="'flex'">
        <div nz-col>{{'SOCIAL_SUPPORT.APPLICATIONS.FORM.SCHEDULE'|translate}}</div>
      </div>

      <div nz-row>
        <app-time-availability [application]="application" #timeAvailabilityForm></app-time-availability>
      </div>

      <nz-divider class="content-card--divider"></nz-divider>

      <div nz-row class="application--form-title title-resume" [nzType]="'flex'">
        <div nz-col>{{'SOCIAL_SUPPORT.APPLICATIONS.FORM.LINGUISTIC_SKILLS'|translate}}</div>
      </div>

      <div nz-row>
        <app-linguistic-skills [application]="application" #linguisticSkillsForm></app-linguistic-skills>
      </div>

      <nz-divider class="content-card--divider"></nz-divider>

      <div nz-row class="application--form-title title-resume" [nzType]="'flex'">
        <div nz-col>{{'SOCIAL_SUPPORT.APPLICATIONS.FORM.COMPETENCIES'|translate}}</div>
      </div>

      <div nz-row>
        <app-skills-professional-experience [application]="application" #skillsProfessionalExperienceForm>
        </app-skills-professional-experience>
      </div>

      <nz-divider class="content-card--divider"></nz-divider>

      <div nz-row class="application--form-title title-resume" [nzType]="'flex'">
        <div nz-col>{{'SOCIAL_SUPPORT.APPLICATIONS.FORM.EXTRA_INFORMATION'|translate}}</div>
      </div>

      <div nz-row>
        <app-complementary-information [application]="application" #complementaryInformationForm>
        </app-complementary-information>
      </div>

      <nz-divider class="content-card--divider"></nz-divider>

      <div nz-row class="application--form-title title-resume" [nzType]="'flex'">
        <div nz-col>{{ 'CORE.ATTACHMENTS' | translate }}</div>
      </div>

      <div nz-row>
        <app-attachments [application]="application" #attachmentsForm></app-attachments>
      </div>

      <div nz-row>
        <div nz-col style="padding-bottom: 20px; text-align: center;">
          <app-button (click)="goToReview()" [translate]="'SOCIAL_SUPPORT.APPLICATIONS.FORM.CONTINUE'"></app-button>
        </div>
      </div>
    </nz-spin>
  </div>

  <!--Review-->
  <div *ngIf="review" nz-col [nzSm]="22" [nzXs]="22" class="content-card application">


    <div nz-row class="application--form-title title-resume" [nzType]="'flex'">
      <div nz-col> {{'SOCIAL_SUPPORT.APPLICATIONS.FORM.REVISION'|translate}}</div>
    </div>

    <div nz-row>
      <app-review-application [application]="application" [auxData]="auxData" [consultation]="false"></app-review-application>
    </div>

    <div nz-row>
      <div nz-col style="padding-bottom: 20px; text-align: center;">
        <app-button (click)="backToForm()" style="margin-right: 15px;" [translate]="'MISC.BACK'" [type]="'secundary'">
        </app-button>
        <app-button [loading]="loadingSubmit" (click)="submitApplication()"
          [translate]="'SOCIAL_SUPPORT.APPLICATIONS.FORM.' + (application.id ? 'EDIT' : 'SUBMIT')">
        </app-button>
      </div>
    </div>
  </div>

  <div nz-col [nzSm]="1" [nzXs]="1"></div>
</div>
