@import 'default-theme.less';


.btn-buy {
  padding-top: 27px;
  padding-right: 10px;
  text-align: center;
  color: black;
  font-size: 22px;
  font-weight: 600;
}

.buy-remove {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  height: 14px;
  font-size: 10px;
  font-weight: 300;
  line-height: 14px;
  text-transform: uppercase;
  color: @fisas-red-03;
  padding-top: 13px;
  padding-left: 15px;
}

.total-btn {
  width: 100%;
  border: 1px solid  var(--fisas-03);
  border-radius: 20px;
  height: 60px;
}

.btn-info {
  background-color: var(--fisas-03);
  text-align: center;
  border: 1px solid var(--fisas-03);
  border-radius: 20px;
  padding-top: 27px;
  padding-bottom: 2px;
  color: white;
  font-size: 22px;
  font-weight: 600;
}


:host::ng-deep {
  .ant-spin-container {
    padding-top: 10px;
  }
}


.total {
  width: 100%;
  height: 50px;
  margin-left: 50px;
}

:host::ng-deep {
  display: block;
  position: relative;
  width: 100%;
  height: 102px;

  .shop-big {
    padding: 0 26px;
    flex-wrap: wrap;
    display: flex;
    height: 100%;
    align-items: center;

    .item {
      flex-grow: 1;
      color: @fisas-grey-10;

      &__qt {
        display: block;
        width: 100%;
        font-size: 29px;
        font-weight: 700;
        padding-top: 10px;
        text-align: center;
      }
    }

    div.item:nth-last-child(2) {
      text-align: right;
      padding-right: 26px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 280px;

      a {
        color: @fisas-red-04;
        margin-right: 4px;
      }
    }

    p {
      .font-family(20px, 300);
      margin-bottom: 0;
    }

    button {
      .font-family(24px, 900);
      border: 2px solid var(--fisas-01);
      line-height: 24px;
      padding: 12px 40px;
      height: auto;

      &.item {
        color: var(--fisas-01);
      }

      &:hover {
        color: white;
        background-color: var(--fisas-01);
      }

      &.selected {
        color: @fisas-grey-01;
        background-color: var(--fisas-01);
      }
    }
  }

  .stock {
    color: red;
    font-weight: bold;
    padding-top: 10px;
    font-size: 20px;
    margin-left: 60px;
  }
}

.icon-space {
  text-align: center;
  padding-top: 40px;
}

.text-modal {
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 25px;
}

.buy-button-wrap {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  margin-top: -20px;
  button {
    color: white;
    background-color: var(--fisas-03) !important;
    border-color: var(--fisas-03);
    height: 50px;
  }
}