<nz-spin [nzSpinning]="loading">
  <div class="shop-big" *ngIf="loading">
    <div *ngIf="quantity == 0" class="total-btn" nz-row
      (click)="isUserLogged == true ? handlerPrice($event) : modalOpen()">
      <div class="btn-info" nz-col [nzMd]="7">
        {{type == 'dinner' ? ('BUTTONS.SHOP.DINNER' | translate) :
        ('BUTTONS.SHOP.LUNCH' | translate)}}
      </div>
      <div nz-col [nzMd]="12" class="btn-buy">
        {{ price }} €
      </div>
    </div>
    <div *ngIf="quantity > 0" class="total" nz-row>
      <div nz-col [nzMd]="5">
        <a (click)="handlerQtCHange($event)" class="buy-remove">
          <svg-icon src="assets/icons/icons-minus.svg" [svgStyle]="{ 'width.px': 48, 'height.px': 48 }"></svg-icon>
        </a>
      </div>
      <div class="item__qt" nz-col [nzMd]="4">
        x{{ quantity }}
      </div>

      <div class="buy-button-wrap" *ngIf="quantity < quantProd"
        (click)="isUserLogged == true ? handlerPrice($event) : modalOpen()" nz-col [nzMd]="8">
        <button nz-button [nzGhost]="true" [nzType]="'primary'" [disabled]="loading">
          {{ price }} €
        </button>
      </div>
      <div *ngIf="quantity >= quantProd" class="stock">
        {{ 'PRODUCT.LIST.DETAIL.STOCK' | translate }}
      </div>
    </div>
  </div>
</nz-spin>


<!---- Modal Error ---->
<nz-modal [nzVisible]="modalNoLogged" nzClosable="false" nzFooter="null" [nzStyle]="{top: '700px'}">
  <div class="icon-space">
    <img src="assets/images/cards-ilustration-negative.png" style="width: 175px;">
  </div>
  <div class="text-modal">
    <label>{{ 'MODAL.ERROR' |translate }}</label>
  </div>
</nz-modal>