<form nz-form [formGroup]="form">
  <div nz-row nzGutter="34">
    <div nz-col class="desc-title-form">
      {{ 'VOLUNTEERING.FORM_APPLICATION.COMPLEMENTARY_INFORMATION.LABEL' | translate }}
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
      <nz-form-item>
        <nz-form-control>
          <textarea class="primary-textarea" rows="5" maxlength="255"
            [placeholder]="'VOLUNTEERING.FORM_APPLICATION.COMPLEMENTARY_INFORMATION.PLACEHOLDER' | translate" nz-input
            formControlName="observations" id="observations"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>