<nz-tabset nzTabPosition="left">
  <nz-tab nzTitle="Geral">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Utilizador
        </div>
        <div nz-row class="detail-field">
          {{ applicationForm.application?.full_name }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Email
        </div>
        <div nz-row class="detail-field">
          {{ applicationForm.application.email }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Contacto
        </div>
        <div nz-row class="detail-field">
          {{ applicationForm.application.phone_number ? applicationForm.application.phone_number : '-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Resposta do Utilizador
        </div>
        <div nz-row class="detail-field">
          {{ applicationForm.request_description ? applicationForm.request_description : '-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Sua Resposta
        </div>
        <div nz-row class="detail-field">
          {{ applicationForm.answer ? applicationForm.answer : '-' }}
        </div>
      </div>
      <div *ngIf="applicationForm.subject === 'ABSENCE' " nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6"
        class="padding-top-20">
        <div nz-row class="title">
          Período
        </div>
        <div nz-row class="detail-field">
          De {{ applicationForm.begin_date | date:'dd/MM/yyyy' }} até {{ applicationForm.end_date | date:'dd/MM/yyyy' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Submetido em
        </div>
        <div nz-row class="detail-field">
          {{ applicationForm.created_at | date:'dd/MM/yyyy' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Anexo
        </div>
        <div nz-row class="detail-field">
          <a *ngIf="applicationForm?.file" [href]="applicationForm?.file?.url" target="_blank">Visualizar <i nz-icon
              nzType="file-pdf" nzTheme="outline"></i></a>
          <span *ngIf="!applicationForm?.file">-</span>
        </div>
      </div>

    </div>

  </nz-tab>

  <nz-tab nzTitle="Histórico">
    <div *ngFor="let state of applicationForm.history" class="history__row">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Data
        </div>
        <div nz-row class="detail-field">
          {{ state.created_at | date: 'd MMMM y'}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Estado
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="state.status" [results]="ApplicationFormTagStatus"></fi-sas-tag>
        </div>
      </div>
      <div *ngIf="state.notes !== ''" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Notas
        </div>
        <div nz-row class="detail-field">
          {{ state.notes ? state.notes : '-'}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-divider></nz-divider>
      </div>
     
    </div>
  </nz-tab>
</nz-tabset>