
<div nzType="flex" nzAlign="middle" nzJustify="center" perfectScrollbar class="page ps scroll-container">
    <div class="container">
      <form [formGroup]="familyForm" nzLayout="vertical">
        <nz-spin [nzSpinning]="languages_loading">
            <ng-container formArrayName="translations">
                <nz-tabset [nzTabBarExtraContent]="languageTemplate" #translationTabs>
                  <nz-tab *ngFor="let translation of translations.controls; let i = index;"
                    [nzTitle]="getLanguageName(translation.value.language_id)">
                    <ng-container [formGroupName]="i">
                      <nz-form-item>
                        <nz-form-label nzRequired>
                          Nome
                        </nz-form-label>
                        <nz-form-control>
                          <input type="text" nz-input formControlName="name">
                        </nz-form-control>
                        <nz-form-explain class="color-required"
                          *ngIf="submitted && familyForm.get('translations.' + i + '.name')?.errors">
                          Campo obrigatório
                        </nz-form-explain>
                      </nz-form-item>
                    </ng-container>
                  </nz-tab>
                </nz-tabset>
              </ng-container>
              <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <div nz-row>
                      <nz-form-label>
                        Produtos
                      </nz-form-label>
                        <nz-form-control>
                          <nz-spin [nzSpinning]="isLoadingSelects">
                            <nz-select class="primary-select" nzAllowClear nzShowSearch [nzServerSearch]="true" (nzOnSearch)="onSearch($event)"
                            formControlName="products" nzMode="multiple">
                              <nz-option *ngFor="let product of products" [nzLabel]="(product?.translations | translation)?.name"
                                  [nzValue]="product.id">
                              </nz-option>
                          </nz-select>
                          </nz-spin>

                        </nz-form-control>
                        <nz-form-explain class="color-required" *ngIf="submitted && f.products.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </div>
                </div>
            </div>
            <div nz-row style="padding-top: 20px;">
                <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <nz-form-item>
                      <nz-form-label>
                        Imagem
                      </nz-form-label>
                        <nz-form-control>
                            <fi-sas-upload-file [types]="filterTypes" formControlName="file_id"></fi-sas-upload-file>
                        </nz-form-control>
                        <label style="font-size: 12px;">Resolução 300x300</label>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
                  <div nz-row class="padding-bottom-5">
                    <nz-form-label nzRequired>
                      Ativo
                    </nz-form-label>
                  </div>
                  <div nz-row class="padding-bottom-5 padding-top-5">
                    <nz-switch formControlName="active">
                    </nz-switch>
                    <nz-form-explain class="color-required" *ngIf="submitted && f.active.errors">
                      Campo obrigatório
                    </nz-form-explain>
                  </div>
                </div>
              </div>
              <nz-form-explain class="color-required" *ngIf="submitted && errorTrans" style="padding-top: 20px;">
                Obrigatório preencher pelo menos uma tradução
            </nz-form-explain>
        </nz-spin>
      </form>
    </div>
    <div class="space">
        <button *ngIf="id != undefined" nz-button (click)="backList()">Voltar</button>
        <button nz-button [nzLoading]="loading" [disabled]="loading"
          (click)="id != undefined ? submitFamily(true) : submitFamily(false)" class="button-submit"
          [nzType]="'primary'">{{id
          != undefined ? 'Editar' : 'Criar'}}</button>
      </div>
</div>


<ng-template #languageTemplate>
    <nz-select class="languages" nzMode="multiple" [(ngModel)]="listOfSelectedLanguages" [nzMaxTagCount]="1"
      nzPlaceHolder="Línguas" [nzLoading]="languages_loading" (ngModelChange)="changeLanguage()">
      <nz-option *ngFor="let language of languages" [nzLabel]="language.name" [nzValue]="language.id"></nz-option>
    </nz-select>
  </ng-template>
