@import 'default-theme.less';

:host::ng-deep {

  .cart-success {
    width: 100%;
    height: 1602px;

    &__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 736px;
      color: var(--fisas-10);

      h1 {
        color: var(--fisas-03);
        margin-bottom: 12px;
        line-height: 1.08;
      }

      .display-three {
        margin-bottom: 12px;
        line-height: 1.25;
      }

      p {
        color: @fisas-grey-06;
      }
    }

    &__bottom {
      position: absolute;
      bottom: 190px;
      left: 0;
      right: 0;
      background: @fisas-green-check;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.33;
      padding-top: 80px;
      padding-bottom: 60px;
      color: @fisas-grey-01;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      z-index: 9;

      span {
        display: block;
        font-size: 11px;
        font-weight: normal;
        text-transform: uppercase;
        margin-top: 8px;
      }
    }


  }
}
