<!--
    1 - With "Back and Help?"
-->
<StackLayout class="fisas__actionbar" *ngIf="actionBarType === 1">
  <GridLayout columns="auto, auto, *" rows="auto">
    <Label
      col="0"
      verticalAlignment="center"
      class="fisas__icon"
      text="&#xe906;"
      (tap)="back()"
    ></Label>
    <Label
      col="1"
      verticalAlignment="center"
      class="fisas__p--light-medium"
      text="     {{ 'action-bar.back' | translate }}"
      (tap)="back()"
    ></Label>
    <!--  <Label
      col="2"
      textAlignment="right"
      class="fisas__p--light-medium"
      text="{{ 'action-bar.help' | translate }}"
    ></Label> -->
  </GridLayout>
</StackLayout>

<!--
    2 - With "Enter without login"
-->
<GridLayout
  horizontalAlignment="right"
  columns="*,auto"
  rows="auto"
  class="fisas__actionbar"
  *ngIf="actionBarType === 2"
>
  <Label
    col="0"
    verticalAlignment="center"
    textAlignment="right"
    class="fisas__p--light-medium"
    text="{{ 'action-bar.noLogin' | translate }}"
    (tap)="goToDashboard()"
  ></Label>
  <Label col="1" class="fisas__icon" text="   &#xe907;" (tap)="back()"></Label>
</GridLayout>

<!--
    3 - With "Menu" and "Close"
-->
<StackLayout class="fisas__actionbar" *ngIf="actionBarType === 3">
  <GridLayout columns="*, *, *" rows="auto">
    <Label
      verticalAlignment="center"
      class="fisas__icon"
      text="&#xe92c;"
      (tap)="toogleMenu()"
    ></Label>
    <Label
      verticalAlignment="center"
      class="fisas__p--light"
      fontSize="14"
      textAlignment="center"
      col="1"
      text="{{ actionBarTitle }}"
    ></Label>
    <Label
      col="2"
      verticalAlignment="center"
      textAlignment="right"
      class="fisas__icon"
      text="&#xe91f;"
      (tap)="back()"
    ></Label>
  </GridLayout>
</StackLayout>

<!--
    4 - With "Back"
-->
<StackLayout class="fisas__actionbar" *ngIf="actionBarType === 4">
  <GridLayout columns="auto, auto, *" rows="auto">
    <Label
      col="0"
      verticalAlignment="center"
      class="fisas__icon"
      text="&#xe906;"
      (tap)="back()"
    ></Label>
    <Label
      col="1"
      verticalAlignment="center"
      class="fisas__p--light-medium"
      text="     {{ 'action-bar.back' | translate }}"
      (tap)="back()"
    ></Label>
  </GridLayout>
</StackLayout>

<!--
    5 - With "Menu" and "Close"
-->
<StackLayout class="fisas__actionbar" *ngIf="actionBarType === 5">
  <GridLayout columns="*, auto, *" rows="auto">
    <Label verticalAlignment="center" class="fisas__icon" text=""></Label>
    <Label
      class="fisas__p--light"
      col="1"
      fontSize="14"
      text="{{ actionBarTitle }}"
      textAlignment="center"
      verticalAlignment="center"
    ></Label>
    <Label
      (tap)="back()"
      class="fisas__icon"
      col="2"
      text="&#xe91f;"
      textAlignment="right"
      verticalAlignment="center"
    ></Label>
  </GridLayout>
</StackLayout>
