<div class="upload" *ngIf="!loadingFiles">
  <nz-upload [nzFilter]="filters" [nzDisabled] = "disableUploadButton" [nzListType] = "listType" [nzCustomRequest]="uploadFile" [nzRemove]="removeFile" [nzPreview]="handlePreview" [nzLimit]="limit" [nzFileList]="filesUploaded">
    <button nz-button [ngClass]="{ 'disabled': disableUploadButton }"><i nz-icon nzType="upload"></i><span> {{ buttonName }}</span></button>
  </nz-upload>

  <!--<nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
            (nzOnCancel)="previewVisible = false">
    <ng-template #modalContent style="width: 200px; height: 200px;">
      <img alt="property-image" [src]="previewImage" [ngStyle]="{ width: '100%' }" />
    </ng-template>
  </nz-modal>-->
</div>
