


.main {
  min-height: 100vh;

  &__container {
    &__content {
      min-height: 100%;
      background-color: #f0f2f5;
    }
  }

}

.content-main {
  min-height: 100%;
}

.content-children {
  margin-top: 20px;
  margin-bottom: 20px;
}


