<div nz-row nzType="flex" nzJustify="center" nzAlign="middle" class="disable_account">
  <div nz-col class="disable_account__body" [nzXs]="22" [nzSm]="13" [nzMd]="13" [nzLg]="10" [nzXl]="8">

    <div class="disable_account__title">
      {{ 'DISABLE_ACCOUNT.TITLE' | translate }}
    </div>

    <div class="disable_account__subtitle">
      {{ 'DISABLE_ACCOUNT.DESCRIPTION' | translate }}
    </div>

    <div class="disable_account__form">
      <form nz-form [formGroup]="disableAccountForm" >

        <nz-form-item style="margin-top: 24px;" [ngClass]="{'error': (disableAccountForm.get('password').dirty && disableAccountForm.get('password').errors) }">
          <label class="form__label">{{ 'DISABLE_ACCOUNT.PASSWORD' | translate }}</label>
          <nz-form-extra class="form__tip">{{ 'DISABLE_ACCOUNT.INSERT_PASSWORD' | translate }}</nz-form-extra>
          <nz-form-control>
            <nz-input-group [nzSuffix]="suffixNewPasswordTemplate">
              <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password"
                     [placeholder]="'DISABLE_ACCOUNT.INSERT_PASSWORD' | translate" />
            </nz-input-group>
            <ng-template #suffixNewPasswordTemplate>
              <i nz-icon [nzType]="passwordVisible ? 'icons:icons-show' : 'icons:icons-dontshow'"
                 (click)="passwordVisible = !passwordVisible"></i>
            </ng-template>
            <nz-form-explain *ngIf="disableAccountForm.get('password').errors">
              <i nz-icon type="icons:icons-info"></i>
              {{getInputError('password') | translate: { value: 'DISABLE_ACCOUNT.INSERT_PASSWORD' | translate} }}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="disable_account__form__button">
          <nz-form-control>
            <app-button [buttonStyle]="{
            'width': '100%',
            'font-size': '17px',
            'line-height': '24px'
          }" [loading]="isLoading" (click)="disableAccount(disableAccountForm.value, disableAccountForm.valid)"
                        [translate]="'MISC.SUBMIT'">
            </app-button>
          </nz-form-control>
        </nz-form-item>
        <div nz-row nzType="flex" nzJustify="center" nzAlign="middle">
          <div nz-col [nzSpan]="24" class="disable_account__form__info">
            <a [routerLink]="['/', 'profile']">{{ 'DISABLE_ACCOUNT.RETURN' | translate }}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
