@import 'theme';


.forms {
  margin-top: 25px;
  margin-bottom: 40px;
}


:host::ng-deep {
  .disabled-input {
    cursor: not-allowed;
    opacity: 1;
    pointer-events: none;
    background-color: rgba(239, 239, 239, 0.3);
  }
}
#personalDateBirthDate.disabled-input ::ng-deep .ant-calendar-picker-input {
  background-color: rgba(239, 239, 239, 0.3)!important;
}

#select_personaldate.disabled-input::ng-deep .ant-select-selection {
  background-color: rgba(239, 239, 239, 0.3)!important;
}

.top{
  margin-bottom: 25px;
}


.user-info {

  padding-left: 16px;
  padding-right: 16px;
  display: -webkit-inline-box;

  &__align{
    text-align: left;
  }

  &__avatar {
    text-align: left;
    &__img {
      border: solid 2px #979797;

      &__upload {

        position: relative;
        right: -43px;
        bottom: 20px;
        border-radius: 25px;
        background: var(--primary-4);
        width: 24px;
        height: 24px;
        color: white;
        padding: 3px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

        i {
          font-size: 18px !important;
          @media screen and (max-width:600px) {
            font-size: 20px !important;
          }
        }

        @media screen and (max-width:600px) {
          padding: 5px;
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

.element {
  font-family: Montserrat;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  &__title {
    font-size: 14px;
    line-height: 1.29;
    color: #222222;
    font-weight: bold;

    span {
      color: red;
    }
  }
  &__sub-title {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    color: #666666;
  }

}

.img-first {
  width: 64px;
  height: 64px;
  line-height: 64px;
  border-radius: 25px;
  font-size: 32px;
}

.border-radius-8 {
  border-radius: 8px;
}

.margin-top-25{
  margin-top:25px;
}

.padding-form{
  padding: 20px 30px 20px 30px;
  background-color: white;
  border-radius: 7px;
}



.submit {
  margin-top: 25px;
  text-align: right;
}


.buttonCancel {
  color: #333333;
  width: 167px;
  height: 50px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.5;
  border: solid 2px var(--primary-color);
  border-radius:25px;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-line {
  flex-direction: row;
  width: 100%;
  line-height: 24px;
  margin-top: 10px;
}

.error {
  color: red;
  margin-top:5px;

  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}

#personalDateBirthDate.ng-invalid.error ::ng-deep .ant-calendar-picker-input {
  border-color: red !important;
  background-color: #ff00000a !important;
  :focus {
    border-color: red !important;
  }

  :hover {
    border-color: red !important;
  }
}

#select_personaldate.ng-invalid.error ::ng-deep .ant-select-selection {
  border-color: red !important;
  background-color: #ff00000a !important;
  :focus {
    border-color: red !important;
  }

  :hover {
    border-color: red !important;
  }
}

@media screen and (max-width:600px) {
  .padding-form{
    padding: 20px 20px 20px 20px !important;
  }
}
