<div nz-row>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12">
    <div class="forms">
      <div class="top">
        <app-button translate="MISC.RETURN" (click)="cancel()" [leftIcon]="'left'"
          [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}" type="tertiary"></app-button>
      </div>

      <div nz-row>
        <h2 class="title-top-page">{{
          "ACCOMMODATION.APPLICATIONS.STEP_ONE.PERSONAL_DATA" | translate
          }}</h2>
      </div>
      <div nz-row>
        <div nz-col class="margin-top-25 padding-form">
          <form nz-form [formGroup]="formPersonal">
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                class="user-info__align">
                <div nz-row class="user-info__avatar">
                  <img hidden class="img-first" src="/assets/imgs/compete.svg" />
                  <nz-avatar class="user-info__avatar__img" [nzSize]="64" nzIcon="user"></nz-avatar>
                  <div class="user-info__avatar__img__upload">
                    <label for="inputFileImg" style="cursor: pointer">
                      <i nz-icon nzType="icons:icons-photo"></i>
                      <input type="file" hidden id="inputFileImg" (change)="uploadImg($event)" accept="image/*" />
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="name">
                <b> {{ "PERSONAL_DATA_PAGE.NAME" | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <input class="primary-input" nz-input formControlName="name"
                  [ngClass]="{ 'error__input': submitted && f.name.errors, 'disabled-input': validBlockedFields('name')?true:false }"
                  [readonly]="validBlockedFields('name')" />
              </nz-form-control>
              <nz-form-explain class="error" *ngIf="submitted && f.name.errors">
                {{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}
              </nz-form-explain>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzRequired nzFor="birth_date">
                <b> {{ "PERSONAL_DATA_PAGE.BIRTH_DATE" | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <nz-date-picker id="personalDateBirthDate" class="primary-datePicker" formControlName="birth_date"
                  [ngClass]="{ 'error': submitted && f.birth_date.errors,'disabled-input': validBlockedFields('birth_date')?true:false }"
                  [disabled]="validBlockedFields('birth_date')">
                </nz-date-picker>
              </nz-form-control>
              <nz-form-explain class="error" *ngIf="submitted && f.birth_date.errors">
                {{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}
              </nz-form-explain>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzRequired nzFor="gender">
                <b> {{ "PERSONAL_DATA_PAGE.GENDER" | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <nz-radio-group class="primary-radio radio-group" formControlName="gender"
                  [disabled]="validBlockedFields('gender')"
                  [ngClass]="{ 'disabled-input': validBlockedFields('gender') ?true:false }">
                  <label nz-radio nzValue="F" class="radio-line"><span>
                      {{ "GENDER.FEMININE" | translate }}</span></label>
                  <label nz-radio nzValue="M" class="radio-line"><span> {{ "GENDER.MALE" | translate
                      }}</span></label>
                  <label nz-radio nzValue="U" class="radio-line"><span> {{ "GENDER.OTHER" | translate
                      }}</span></label>
                </nz-radio-group>
              </nz-form-control>
              <nz-form-explain class="error" *ngIf="submitted && f.gender.errors">
                {{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}
              </nz-form-explain>
            </nz-form-item>


            <nz-form-item>
              <nz-form-label nzRequired nzFor="phone">
                <b> {{ "PERSONAL_DATA_PAGE.PHONE" | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <input class="primary-input" nz-input formControlName="phone" prefix="+" mask="0*"
                  [readonly]="validBlockedFields('phone')"
                  [ngClass]="{ 'error__input': submitted && f.phone.errors,'disabled-input': validBlockedFields('phone')?true:false }" />
              </nz-form-control>
              <div *ngIf="submitted && f.phone.errors">
                <nz-form-explain class="error" *ngIf="f.phone.errors.required">
                  {{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}
                </nz-form-explain>
                <nz-form-explain class="error" *ngIf="f.phone.errors.minlength">
                  {{ "FORM_INPUTS.VALIDATIONS.MIN_LENGTH" | translate }}
                </nz-form-explain>
                <nz-form-explain class="error" *ngIf="f.phone.errors.maxlength">
                  {{ "FORM_INPUTS.VALIDATIONS.MAX_LENGTH" | translate }}
                </nz-form-explain>
              </div>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzRequired nzFor="document_type_id">
                <b> {{ "PERSONAL_DATA_PAGE.DOCUMENT_TYPE" | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <nz-select class="primary-select" formControlName="document_type_id" id="select_personaldate"
                  nzShowSearch [disabled]="validBlockedFields('document_type_id')" [ngClass]="{
                    'error': submitted && f.document_type_id.errors ,'disabled-input': validBlockedFields('document_type_id')?true:false
                  }">
                  <nz-option *ngFor="let document_type of document_types" [nzLabel]="
                      (document_type?.translations | languageChange)
                        ? (document_type?.translations | languageChange)
                            ?.description
                        : '--'
                    " [nzValue]="document_type.id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain class="error" *ngIf="submitted && f.document_type_id.errors">
                {{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}
              </nz-form-explain>
            </nz-form-item>


            <nz-form-item>
              <nz-form-label nzRequired nzFor="identification">
                <b> {{ "PERSONAL_DATA_PAGE.IDENTIFICATION" | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <input class="primary-input" nz-input formControlName="identification"
                  [readonly]="validBlockedFields('identification')" [ngClass]="{
                  'error__input': submitted && f.identification.errors, 'disabled-input': validBlockedFields('identification')?true:false
                }" />
              </nz-form-control>
              <nz-form-explain class="error" *ngIf="submitted && f.identification.errors">
                {{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}
              </nz-form-explain>
            </nz-form-item>


            <nz-form-item>
              <nz-form-label nzRequired nzFor="tin">
                <b> {{ "PERSONAL_DATA_PAGE.TIN" | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <input class="primary-input" nz-input formControlName="tin" mask="000000000"
                  [readonly]="validBlockedFields('tin')"
                  [ngClass]="{ 'error__input': submitted && f.tin.errors, 'disabled-input': validBlockedFields('tin')?true:false }" />
              </nz-form-control>
              <div *ngIf="submitted && f.tin.errors">
                <nz-form-explain class="error" *ngIf="f.tin.errors.required">
                  {{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}
                </nz-form-explain>
                <nz-form-explain class="error" *ngIf="f.tin.errors.minlength || f.tin.errors.maxlength">
                  {{ "FORM_INPUTS.VALIDATIONS.PATTERN" | translate }}
                </nz-form-explain>
              </div>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzRequired nzFor="nationality">
                <b> {{ "PERSONAL_DATA_PAGE.NATIONALITY" | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <nz-select class="primary-select" formControlName="nationality" id="select_personaldate" nzShowSearch
                  [disabled]="validBlockedFields('nationality')" nzShowSearch
                  [ngClass]="{ 'error': submitted && f.nationality.errors, 'disabled-input': validBlockedFields('nationality')?true:false}">
                  <nz-option *ngFor="let nationality of nationalities"
                  [nzLabel]="translateService.currentLang === 'pt' ? nationality.value : nationality.translate"
                  [nzValue]="nationality.value">
                </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain class="error" *ngIf="submitted && f.nationality.errors">
                {{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}
              </nz-form-explain>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzRequired nzFor="address">
                <b> {{ "PERSONAL_DATA_PAGE.ADDRESS" | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <input class="primary-input" nz-input formControlName="address"
                  [readonly]="validBlockedFields('address')"
                  [ngClass]="{ 'error__input': submitted && f.address.errors, 'disabled-input': validBlockedFields('address')?true:false }" />
              </nz-form-control>
              <nz-form-explain class="error" *ngIf="submitted && f.address.errors">
                {{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}
              </nz-form-explain>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzRequired nzFor="country">
                <b> {{ "PERSONAL_DATA_PAGE.COUNTRY" | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <nz-select class="primary-select" formControlName="country" id="select_personaldate" nzShowSearch
                  [disabled]="validBlockedFields('country')" (ngModelChange)="validCodPost($event)"
                  [ngClass]="{ 'error': submitted && f.country.errors, 'disabled-input': validBlockedFields('country')?true:false}">
                  <nz-option *ngFor="let country of countries" [nzLabel]="country.translate" [nzValue]="country.value">
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain class="error" *ngIf="submitted && f.country.errors">
                {{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}
              </nz-form-explain>
            </nz-form-item>


            <nz-form-item>
              <nz-form-label nzRequired nzFor="city">
                <b> {{ "PERSONAL_DATA_PAGE.CITY" | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <input class="primary-input" nz-input formControlName="city" id="city"
                  [readonly]="validBlockedFields('city')"
                  [ngClass]="{ 'error__input': submitted && f.city.errors, 'disabled-input': validBlockedFields('city')?true:false }" />
              </nz-form-control>
              <nz-form-explain class="error" *ngIf="submitted && f.city.errors">
                {{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}
              </nz-form-explain>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzRequired nzFor="postal_code">
                <b> {{ "PERSONAL_DATA_PAGE.POSTAL_CODE" | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <input [mask]="mask" [dropSpecialCharacters]="false" class="primary-input" nz-input
                  [readonly]="validBlockedFields('postal_code')" formControlName="postal_code" id="postal_code"
                  [ngClass]="{
                      'error__input': submitted && f.postal_code.errors, 'disabled-input': validBlockedFields('postal_code')?true:false 
                    }" />
              </nz-form-control>
              <div *ngIf="submitted && f.postal_code.errors">
                <nz-form-explain class="error" *ngIf="f.postal_code.errors.required">
                  {{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}
                </nz-form-explain>
                <nz-form-explain class="error" *ngIf="f.postal_code.errors.minLength">
                  {{ "FORM_INPUTS.VALIDATIONS.PATTERN" | translate }}
                </nz-form-explain>
              </div>
            </nz-form-item>

            <nz-form-item *ngIf="'sasocial:is_student' | hasPermission">
              <nz-form-label nzRequired nzFor="organic_unit_id">
                <b> {{ "PERSONAL_DATA_PAGE.SCHOOL" | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <nz-select class="primary-select" formControlName="organic_unit_id" id="select_personaldate"
                  [disabled]="validBlockedFields('organic_unit_id')" (ngModelChange)="changeValue()"
                  [nzLoading]="loadingSchools" nzShowSearch [ngClass]="{
                   'disabled-input': validBlockedFields('organic_unit_id')?true:false 
                  }">
                  <nz-option *ngFor="let organicUnit of organicUnits" [nzLabel]="organicUnit.name"
                    [nzValue]="organicUnit.id"></nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain class="error" *ngIf="submitted && f.organic_unit_id.errors">
                {{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}
              </nz-form-explain>
            </nz-form-item>

            <nz-form-item *ngIf="'sasocial:is_student' | hasPermission">
              <nz-form-label nzRequired nzFor="course_degree_id">
                <b> {{ "PERSONAL_DATA_PAGE.COURSE_DEGREE" | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <nz-select class="primary-select" (ngModelChange)="changeValue()" [nzLoading]="loadingDegrees"
                  [ngClass]="{
                  'disabled-input': validBlockedFields('course_degree_id')?true:false 
                 }" formControlName="course_degree_id" id="select_personaldate"
                  [disabled]="validBlockedFields('course_degree_id')" nzShowSearch>
                  <nz-option *ngFor="let degree of degrees" [nzLabel]="degree.name" [nzValue]="degree.id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain class="error" *ngIf="submitted && f.course_degree_id.errors">
                {{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}
              </nz-form-explain>
            </nz-form-item>

            <nz-form-item *ngIf="'sasocial:is_student' | hasPermission">
              <nz-form-label nzRequired nzFor="course_id">
                <b> {{ "PERSONAL_DATA_PAGE.COURSE" | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <nz-select [nzDisabled]="disableCourses" class="primary-select" [nzLoading]="loadingCourses" [ngClass]="{
                  'disabled-input': validBlockedFields('course_id')?true:false 
                 }" formControlName="course_id" id="select_personaldate" [disabled]="validBlockedFields('course_id')"
                  nzShowSearch>
                  <nz-option *ngFor="let course of courses" [nzLabel]="course.name" [nzValue]="course.id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain class="error" *ngIf="submitted && f.course_id.errors">
                {{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}
              </nz-form-explain>
            </nz-form-item>

            <nz-form-item *ngIf="'sasocial:is_student' | hasPermission">
              <nz-form-label nzRequired nzFor="course_year">
                <b> {{ "PERSONAL_DATA_PAGE.COURSE_YEAR" | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <input class="primary-input" [readonly]="validBlockedFields('course_year')" nz-input
                  formControlName="course_year" type="number" placeholder="ex: 2" [ngClass]="{
                    'error__input': submitted && f.course_year.errors,'disabled-input': validBlockedFields('course_year')?true:false 
                  }" />
              </nz-form-control>
              <nz-form-explain class="error" *ngIf="submitted && f.course_year.errors">
                {{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}
              </nz-form-explain>
            </nz-form-item>

          </form>
          <div nz-row class="submit">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
              <app-button (click)="cancel()" style="margin-right: 15px;" [translate]="'MISC.CANCEL'"
                [type]="'secundary'"></app-button>
              <app-button [loading]="loading" (click)="submit()" [translate]="'MISC.SUBMIT'"></app-button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
  </div>
</div>