<div class="present-collaboration" [ngClass]="{ 'approved-collaboration': presentCollaboration.status == 'APPROVED' }">
  <div *ngIf="presentCollaboration.status == 'APPROVED'" nz-row class="congrat">
    {{ 'SOCIAL_SUPPORT.INTEREST.CONGRATULATIONS' | translate }} {{ userName }}
  </div>
  <div *ngIf="presentCollaboration.status == 'APPROVED'" nz-row class="congrat-desc">
    {{ 'SOCIAL_SUPPORT.INTEREST.CONG_DESC' | translate }}
  </div>
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="5" [nzXl]="4" [nzXXl]="3">
      <nz-tag class="tab-status" [ngClass]="checkTagStatusColor()" (click)="modalDetail = true">
        {{ status[presentCollaboration.status]| translate }}</nz-tag>

    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="11" [nzXl]="12" [nzXXl]="12">
      <div class="title cursor-pointer" (click)="reviewExperience(presentCollaboration?.experience?.id)">
        {{ (presentCollaboration?.experience?.translations | languageChange)?.title }}
      </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="7" [nzXl]="8" [nzXXl]="9">
      <app-button *ngIf="presentCollaboration.status === 'COLABORATION' || presentCollaboration.status === 'WITHDRAWAL'"
        class="present-collaboration--button" [type]="'secundary'" translate="SOCIAL_SUPPORT.APPLICATIONS.MANAGE_COLA"
        (click)="manage(presentCollaboration?.id)">
      </app-button>

      <app-button *ngIf="presentCollaboration.status === 'COLABORATION'" class="present-collaboration--button"
        [type]="'red'" translate="SOCIAL_SUPPORT.APPLICATIONS.WITHDRAWAL_COLA"
        (click)="withdrawal(presentCollaboration?.id)">
      </app-button>
      <app-button *ngIf="presentCollaboration.status === 'NOT_SELECTED' || presentCollaboration.status === 'DECLINED'"
        class="present-collaboration--button" [type]="'infoblue'" translate="SOCIAL_SUPPORT.APPLICATIONS.CONTEST"
        (click)="contest(presentCollaboration?.id)">
      </app-button>
      <app-button *ngIf="
          presentCollaboration.status === 'WAITING' ||
          presentCollaboration.status === 'APPROVED' ||
          presentCollaboration.status === 'ACCEPTED' ||
          presentCollaboration.status === 'INTERVIEWED' ||
          presentCollaboration.status === 'SUBMITTED' ||
          presentCollaboration.status === 'ANALYSED'
        " class="present-collaboration--button" [type]="'red'" translate="SOCIAL_SUPPORT.APPLICATIONS.CANCEL"
        (click)="cancel(presentCollaboration?.id)">
      </app-button>
      <app-button *ngIf="presentCollaboration.status === 'APPROVED'" class="present-collaboration--button"
        [type]="'primary'" translate="SOCIAL_SUPPORT.APPLICATIONS.ACCEPT" (click)="modalAccepted = true">
      </app-button>
    </div>
  </div>
  <div nz-row style="margin-top: -15px;">
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="5" [nzXl]="4" [nzXXl]="3"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="19" [nzXl]="20" [nzXXl]="21">
      <div class="description">
        <b> {{ (presentCollaboration?.experience?.translations | languageChange)?.description }}</b>
      </div>
    </div>
  </div>

  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="5" [nzXl]="4" [nzXXl]="3" class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{ 'SOCIAL_SUPPORT.APPLICATIONS.SUBMITTED_ON' | translate }}</span>
          </div>
          <div nz-row>
            <span class="description-detail">
              {{ presentCollaboration?.experience?.publish_date | date: 'dd-MM-yyyy' }}
            </span>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="7" [nzXl]="7" [nzXXl]="7"  class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{ 'SOCIAL_SUPPORT.APPLICATIONS.ORGANIC_UNIT' | translate }}</span>
          </div>
          <div nz-row>
            <span class="description-detail">
              {{ presentCollaboration?.experience?.organic_unit?.name }} -
              {{ presentCollaboration?.experience?.organic_unit?.code }}
            </span>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{ 'SOCIAL_SUPPORT.APPLICATIONS.APPLICATIONS_DEADLINE' | translate }}</span>
          </div>
          <div nz-row>
            <span class="description-detail">
              {{ 'SOCIAL_SUPPORT.APPLICATIONS.APPLICATIONS' | translate }}
              {{ presentCollaboration?.experience?.publish_date | date: 'dd MMMM yyyy' }}
              {{ 'SOCIAL_SUPPORT.APPLICATIONS.TO' | translate }}
              {{ presentCollaboration?.experience?.application_deadline_date | date: 'dd MMMM yyyy' }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PART INTERVIEWED -->
<div *ngIf="presentCollaboration.status == 'INTERVIEWED'">
  <div nz-row class="box-interviewed" *ngFor="let inter of presentCollaboration?.interview">
    <app-interview [interview]="inter"></app-interview>
  </div>
</div>

<!-- MODAL DETAIL -->
<nz-modal (nzOnCancel)="modalDetail = false" [(nzVisible)]="modalDetail" [nzTitle]="null"
  [nzContent]="modalContentDetail" [nzFooter]="null">
  <ng-template #modalContentDetail>
    <div nz-row class="padding-bottom-15">
      <nz-tag class="tab-status cursor-context" [ngClass]="checkTagStatusColor()">
        {{ status[presentCollaboration.status]| translate }}</nz-tag>
    </div>
    <h2 class="title-top-page">{{ (presentCollaboration?.experience?.translations | languageChange)?.title }}</h2>
    <div nz-row class="description padding-bottom-15">
      <b> {{ (presentCollaboration?.experience?.translations | languageChange)?.description }}</b>
    </div>
    <div nz-row class="title-detail">
      {{ presentCollaboration?.experience?.organic_unit?.name }} -
      {{ presentCollaboration?.experience?.organic_unit?.code }}
    </div>
    <div nz-row class="title-detail" style="padding-bottom: 25px">
      {{ 'SOCIAL_SUPPORT.APPLICATIONS.APPLICATIONS' | translate }}
      {{ presentCollaboration?.experience?.publish_date | date: 'dd MMMM yyyy' }}
      {{ 'SOCIAL_SUPPORT.APPLICATIONS.TO' | translate }}
      {{ presentCollaboration?.experience?.application_deadline_date | date: 'dd MMMM yyyy' }}
    </div>
    <div *ngFor="let hist of presentCollaboration?.history; let idx = index" nz-row
      [ngClass]="{ box: !isPair(idx), 'box-pair': isPair(idx) }">

      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="21" [nzLg]="21" [nzXl]="22" [nzXXl]="22">
        <div nz-row>{{ hist?.created_at | date: 'dd-MM-yyyy' }} - {{ hist?.created_at | date: 'HH:mm' }}h</div>
        <div nz-row>
          <b>{{ 'SOCIAL_SUPPORT.INTEREST.CHANGE_STATUS' | translate }}
            {{
              hist?.status == 'SUBMITTED'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.SUBMITTED' | translate)
                : hist?.status == 'ANALYSED'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.ANALYSED' | translate)
                : hist?.status == 'DISPATCH'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS.DISPATCH' | translate)
                : hist?.status == 'INTERVIEWED'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.INTERVIEWED' | translate)
                : hist?.status == 'APPROVED'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.APPROVED' | translate)
                : hist?.status == 'WAITING'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.WAITING' | translate)
                : hist?.status == 'NOT_SELECTED'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.NOT_SELECTED' | translate)
                : hist?.status == 'ACCEPTED'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.ACCEPTED' | translate)
                : hist?.status == 'COLABORATION'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.COLABORATION' | translate)
                : hist?.status == 'WITHDRAWAL'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.WITHDRAWAL' | translate)
                : hist?.status == 'DECLINED'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.DECLINED' | translate)
                : hist?.status == 'CANCELLED'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.CANCELLED' | translate)
                : hist?.status == 'CLOSED'
                ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.CLOSED' | translate)
                : '-'
            }}</b
          >
        </div>
      </div>
    </div>
  </ng-template>
</nz-modal>

<!-- MODAL CONTEST -->
<nz-modal [(nzVisible)]="visibleModalContest" (nzOnCancel)="visibleModalContest = false" [nzTitle]="null"
  [nzContent]="modalContent" [nzFooter]="null">
  <ng-template #modalContent>
    <h2 class="title-top-page">{{ 'SOCIAL_SUPPORT.COMPLAIN_TITLE' | translate }}</h2>
    <p class="sub-title-top-page font">{{ 'SOCIAL_SUPPORT.COMPLAIN_DESC' | translate }}</p>

    <form nz-form [formGroup]="formContest">
      <div nz-row [nzGutter]="20" class="form__inputs">
        <div nz-col [nzSpan]="24">
          <b>
            <nz-form-label nzRequired>
              {{ 'SOCIAL_SUPPORT.REASON' | translate }}
            </nz-form-label>
          </b>

          <textarea class="primary-textarea"
            [placeholder]="'DASHBOARD.WIDGETS.MY_APPLICATIONS_SOCIAL_SUPPORT.MODAL_WITHDRAWAL.PLACEHOLDER' | translate"
            rows="5" maxlength="255" formControlName="complain" id="complain" nz-input></textarea>
        </div>
      </div>
      <div nz-row [nzGutter]="20" class="form__inputs">
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label>
              <b>{{ 'SOCIAL_SUPPORT.FILE' | translate }}</b>
            </nz-form-label>
            <br />
            <nz-form-control>
              <nz-form-control>
                <app-file-upload class="primary-file-upload" (fileDeleted)="formContest.get('file_id').setValue(null)"
                  [filterTypes]="filterTypes" formControlName="file_id">
                </app-file-upload>
                <div class="font-file">
                  {{ 'MISC.FORMAT_UPLOAD' | translate }} pdf. {{ 'MISC.LIMIT_MAX_FILE' | translate }}
                </div>
              </nz-form-control>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
    <div *ngIf="
        formContest.get('complain').value != '' &&
        formContest.get('complain').value != null &&
        formContest.get('complain').value != undefined
      " nz-row style="text-align: center">
      <app-button (click)="submitContest()"
        [translate]="'DASHBOARD.WIDGETS.MY_APPLICATIONS_SOCIAL_SUPPORT.MODAL_WITHDRAWAL.SUBMIT'"></app-button>
    </div>
  </ng-template>
</nz-modal>

<!----------------MODAL SUCCESS WITH CONTRACT------------>
<nz-modal (nzOnCancel)="modalAccepted = false" [(nzVisible)]="modalAccepted" [nzTitle]="null"
  [nzContent]="modalContentAccepted" [nzFooter]="null">
  <ng-template #modalContentAccepted>
    <h2 class="title-top-page title-modal">
      {{
      translations?.length > 1
      ? (translations | languageChange)?.name
      : ('DASHBOARD.BUTTON.SOCIAL_SUPPORT' | translate)
      }}
    </h2>

    <div nz-row class="text-center">
      <img src="assets/imgs/Success.PNG" width="100" />
    </div>
    <div *ngIf="presentCollaboration?.contract_file != null" nz-row class="contract">
      <div nz-col>
        <app-file-button [file]="presentCollaboration.contract_file" title="SOCIAL_SUPPORT.CONTRACT"></app-file-button>
      </div>
    </div>
    <div nz-row class="desc-modal2">
      {{ 'SOCIAL_SUPPORT.CONFIRM_ACCEPTED' | translate }}
    </div>
    <div nz-row>
      <div nz-col [nzXs]="12" style="padding-top: 25px">
        <app-button [type]="'secundary'" translate="MISC.RETURN" (click)="modalAccepted = false"></app-button>
      </div>
      <div nz-col [nzXs]="12" style="padding-top: 25px">
        <app-button class="present-collaboration--button" [type]="'secundary'"
          translate="SOCIAL_SUPPORT.APPLICATIONS.ACCEPT" (click)="acceptedFinally()"></app-button>
      </div>
    </div>
  </ng-template>
</nz-modal>
