@import 'theme';

.approved-collaboration {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}

.font-file {
  font-size: 12px;
  line-height: initial;
  padding-top: 5px;
}

.present-collaboration {
  border-radius: 5px;
  padding: 25px 15px 15px 15px;
  background-color: #ffffff;
  position: relative;
  z-index: 2;

  &--button {
    float: right;
    margin-left: 5px;
    @media only screen and (max-width: 600px) {
      margin-top: 5px;
    }
  }
  &--label {
    opacity: 0.4;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #666666;
  }

  &--value {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #7d7d7d;
  }
}

@media only screen and (max-width: 575px) {
  .present-collaboration {
    &--title {
      margin-top: 10px;
    }
  }
}

.PUBLISHED {
  background-color: #9dbbae;
}

.SUBMITTED {
  background-color: #4d9de0;
}

.ANALYSED {
  background-color: #7768AE;
}

.INTERVIEWED {
  background-color: #88ccf1;
}

.WAITING {
  background-color: #f8ca00;
}

.ACCEPTED {
  background-color: #9DBBAE;
}

.APPROVED {
  background-color: #0d69dd;
}

.COLABORATION {
  background-color: #1ba974;
}

.ACKNOWLEDGED {
  background-color: #076743;
}

.CLOSED {
  background-color: #000000;
}

.DECLINED {
  background-color: #D0021B;
}

.WITHDRAWAL {
  background-color: #246A73;
}

.NOT_SELECTED {
  background-color: #C1666B;
}

.CANCELLED {
  background-color: #A4A4A4;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.padding-top-15 {
  padding-top: 15px;
}

.title-detail {
  font-size: 13px;
  color: var(--primary-7);
}

.description-detail {
  color: black;
  font-size: 13px;
}

.congrat {
  font-size: 23px;
  font-weight: bold;
  color: var(--primary-color);
}

.congrat-desc {
  font-weight: bold;
  color: var(--primary-color);
  padding-bottom: 20px;
  padding-top: 10px;
}

.title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.33;
  color: #333333;
  margin-bottom: 5px;
  @media only screen and (max-width: 800px) {
    margin-top: 5px;
  }
}

.description {
  font-size: 14px;
  line-height: 1.6;
  color: #222222;
}

#contacts_info_interest::ng-deep svg {
  g path {
    fill: var(--primary-color);
  }
}

.icon {
  font-size: 25px;
}

.box {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}

.box-pair {
  background-color: #f0f2f5;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.box-interviewed {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  padding: 20px;
  background-color: var(--menu-bg);
}


//form contest
.form {
  &--title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: #222222;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }
  &--subtitle {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #666666;
    margin-top: 8px;
    margin-bottom: 23.5px;
    margin-left: 40px;
    margin-right: 40px;
  }
  &__inputs {
    margin-left: 30px !important;
    margin-right: 30px !important;
    &--hours {
      float: right;
    }
  }
}

.button-submit {
  background-color: var(--primary-color);
  color: white;
  border-radius: 21px;
  border: 1px solid var(--primary-color);
  margin-top: 10px;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.font {
  font-size: 13px !important;
}
//modal success

.title-modal {
  text-align: center;
  padding-top: 20px;
}

.desc-modal2 {
  text-align: center;
  font-size: 19px;
}

.text-center {
  text-align: center;
}

.contract {
  margin-top: 20px;
  padding-bottom: 20px;
}


.card {

  &__status {
      font-size: 11px;
      font-weight: bold;
      letter-spacing: 0.5px;
      color: #ffffff;
      text-align: center;
      align-items: center;
      border: none;
      cursor: pointer;
  }
}

.cursor-context {
  cursor: context-menu !important;
}