<div nz-row>
  <h2 class="title-top-page">{{ 'SOCIAL_SUPPORT.COMPLAIN_TITLE' | translate }}</h2>

  <p class="sub-title-top-page font">{{ 'SOCIAL_SUPPORT.COMPLAIN_DESC' | translate }}</p>
</div>

<form nz-form [formGroup]="form">
  <div nz-row nzGutter="20">
    <div nz-col nzSpan="24">
      <nz-form-item class="form__inputs">
        <nz-form-label nzRequired nzFor="reason" class="primary-input-label">
          {{ 'SOCIAL_SUPPORT.REASON' | translate }}
        </nz-form-label>

        <nz-form-control>
          <textarea class="primary-textarea" rows="5" maxlength="255" formControlName="complain" id="complain" nz-input></textarea>
          <nz-form-explain class="error" *ngIf="form.get('complain')?.dirty && form.get('complain').errors">
            {{ getInputError('complain') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="24">
      <nz-form-item class="form__inputs">
        <nz-form-label nzFor="reason" class="primary-input-label">
          {{ 'SOCIAL_SUPPORT.FILE' | translate }}
        </nz-form-label>

        <nz-form-control>
          <app-file-upload class="primary-file-upload" [filterTypes]="filterTypes" 
          (fileDeleted)="form.get('file_id').setValue(null)" formControlName="file_id">
          </app-file-upload>
          <div class="font-file">
            {{ 'MISC.FORMAT_UPLOAD' | translate }} pdf. {{ 'MISC.LIMIT_MAX_FILE' | translate }}
          </div>
          <nz-form-explain class="error" *ngIf="form.get('file_id')?.dirty && form.get('file_id').errors">
            {{ getInputError('file_id') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>

<div nz-row class="text-center">
  <app-button type="primary" translate="MISC.SUBMIT" [loading]="isLoading" (click)="onSubmit()"> </app-button>
</div>
