.form {
  &__inputs {
    margin-left: 30px !important;
    margin-right: 30px !important;

    &--hours {
      float: right;
    }
  }
}

.font-file {
  font-size: 12px;
  line-height: initial;
  padding-top: 5px;
}

.font {
  font-size: 13px !important;
}

.error {
  color: red;
  margin-top: 5px;

  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}

.button-submit {
  background-color: var(--primary-color);
  color: white;
  border-radius: 21px;
  border: 1px solid var(--primary-color);
  margin-top: 10px;
  cursor: pointer;
}
