<div class="content-form">
  <form [formGroup]="amenitiesForm" nzLayout="vertical">
    <div nz-row>
      <nz-form-item>
        <nz-form-label>Comodidades</nz-form-label>
        <nz-form-control nzErrorTip="Campo comodidades não válido!">
          <div class="radio_group">
            <label *ngFor="let amenitiesItem of amenitiesList" nz-checkbox [formControlName]="amenitiesItem.value">
              <span>{{ amenitiesItem.label }}</span>
            </label>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
</div>