<!--Steps-->
<div nz-row class="content content__prog">
  <!--XL to XXL-->
  <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="0" [nzXl]="24" [nzXXl]="24">
    <nz-steps class="content__line" [nzCurrent]="3" nzProgressDot>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T1' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_ONE' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T2' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_TWO' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T3' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_THREE' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T4' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_FOUR' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T5' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_FIVE' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.TITLE' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_SIX' | translate }}">
      </nz-step>
    </nz-steps>
  </div>
  <!--MD to LG-->
  <!--XS to SM-->
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="0" [nzXXl]="0">
    <div>
      <p class="steps-minimal-size_sub-title">
        {{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T4' | translate }}
      </p>
      <p class="steps-minimal-size_title">
        {{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_FOUR_TOTAL' | translate }}
      </p>
    </div>

  </div>
</div>

<nz-divider class="divider-web"></nz-divider>

<!--Form-->
<form nz-form [formGroup]="OwnerForm" (ngSubmit)="submitForm()" class="content__group">
  <div class="application_form">
    <div nz-row *ngIf="showErrorMessage" class="bottom">
      <div nz-col nzSpan="24">
        <nz-alert nzType="error" [nzMessage]="'MISC.ERROR_GENERIC' | translate"></nz-alert>
      </div>
    </div>
    <p class="title-step-form"> {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T4" | translate }}
    </p>
    <!--Description-->
    <nz-form-item>
      <nz-form-label nzRequired nzFor="description">
        <b>
          {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_FOUR.FORM_ELEMENTS.DESCRIPTION.TITLE"
          | translate }}
        </b>
      </nz-form-label>
      <div class="desc-title-form">
        {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_FOUR.FORM_ELEMENTS.DESCRIPTION.DESC"
        | translate }}
      </div>
      <nz-form-control>
        <textarea class="primary-input" nz-input maxlength="255" rows="5" [ngModel]="description"
          formControlName="description" id="description"></textarea>
        <nz-form-explain class="error" *ngIf="submitted && f.description.errors">
          {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <input type="hidden" formControlName="back" [ngModel]="back" id="back">

    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="button-space">
      <app-button (click)="backStep()" style="margin-right: 15px;" [translate]="'MISC.BACK'" [type]="'secundary'">
      </app-button>
      <app-button (click)="nextStep()" [translate]="'MISC.NEXT'">
      </app-button>
    </div>
  </div>

</form>