<div nz-row>
  <div nz-col>
    <app-date-bar
      #appDateBar
      [dateBarType]="'weekday'"
      (newDate)="getDate($event)"
    ></app-date-bar>
  </div>
</div>

<div nz-row>
  <div
    nz-col
    [nzXs]="1"
    [nzSm]="2"
    [nzMd]="2"
    [nzLg]="2"
    [nzXl]="2"
    [nzXXl]="2"
  ></div>

  <div
    nz-col
    [nzXs]="22"
    [nzSm]="20"
    [nzMd]="20"
    [nzLg]="20"
    [nzXl]="20"
    [nzXXl]="20"
    style="padding-top: 15px"
  >
    <app-meals-options
      #mealOptions
      (newSuch)="reloadMeals($event)"
      (nameService)="getName($event)"
    ></app-meals-options>
  </div>

  <div
    nz-col
    [nzXs]="1"
    [nzSm]="2"
    [nzMd]="2"
    [nzLg]="2"
    [nzXl]="2"
    [nzXXl]="2"
  ></div>
</div>

<div nz-row>
  <div
    nz-col
    [nzXs]="1"
    [nzSm]="2"
    [nzMd]="2"
    [nzLg]="2"
    [nzXl]="2"
    [nzXXl]="2"
  ></div>
  <div
    nz-col
    [nzXs]="22"
    [nzSm]="20"
    [nzMd]="20"
    [nzLg]="20"
    [nzXl]="20"
    [nzXXl]="20"
  >
    <app-list-dishs
      *ngIf="serviceID !== null && date !== null && meal !== null"
      [meal]="meal"
      [serviceId]="serviceID"
      [date]="date"
      [nameService]="nameService"
      (newBuy)="returnBuy($event)"
    ></app-list-dishs>
  </div>

  <div
    nz-col
    [nzXs]="1"
    [nzSm]="2"
    [nzMd]="2"
    [nzLg]="2"
    [nzXl]="2"
    [nzXXl]="2"
  ></div>
</div>

<div nz-row nzType="flex">
  <div nz-col [nzSm]="{ span: 20, offset: 2 }" [nzXs]="{ span: 24, offset: 0 }">
    <app-service-presentation-text
      [serviceId]="serviceId"
    ></app-service-presentation-text>
  </div>
</div>
