<div nz-row>
  <!--Back Button-->
  <div nz-col [nzSm]="1" [nzXs]="1"></div>
  <div nz-col [nzSm]="22" [nzXs]="22" class="top">
    <app-button translate="MISC.CANCEL" (click)="cancelApplication()"
      [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}" type="tertiary"></app-button>
  </div>

  <div nz-col [nzSm]="1" [nzXs]="1"></div>
</div>


<div nz-row>

  <div nz-col [nzSm]="1" [nzXs]="1"></div>
  <div nz-col [nzSm]="22" [nzXs]="22" class="content__space">

    <!-- chamar a app-form -->
    <app-owner-step-one *ngIf="step == 0"  [formValues]="formsCache[0]" (nextPress)="onStepChange(1, $event)"></app-owner-step-one>
    <app-owner-step-two *ngIf="step == 1" [formValues]="formsCache[1]" (nextPress)="onStepChange(2, $event)"></app-owner-step-two>
    <app-owner-step-three *ngIf="step == 2" [formValues]="formsCache[2]" (nextPress)="onStepChange(3, $event)"></app-owner-step-three>
    <app-owner-step-four *ngIf="step == 3" [formValues]="formsCache[3]" (nextPress)="onStepChange(4, $event)"></app-owner-step-four>
    <app-owner-step-six *ngIf="step == 4" [formValues]="formsCache[4]" [regulation] = "regulation_file" (nextPress)="onStepChange(5, $event)"></app-owner-step-six>
    <app-owner-step-seven [formsCache]="formsCache" [loading] = "loading" *ngIf="step == 5" (backStep) = "onStepChange(6, $event)" (nextPress)="submitForm()" (change)="changeStep($event)">
    </app-owner-step-seven>
  </div>

  <div nz-col [nzSm]="1" [nzXs]="1"></div>

</div>
