@import 'theme';

.top {
  padding-top: 25px;
  padding-bottom: 25px;
}

:host::ng-deep {
    .box {
      /*  border: 2px black; */
      font-family: Montserrat;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #3a3a3a;
      border-radius: 50px;
      background: white;
      padding: 4px 10px 4px 10px;
      i {
        margin-left: 5px;
      }
      i svg {
        transition: transform 0.24s !important;
      }
    }

    .ant-divider-inner-text {
      padding: 0 !important;
    }
    .ant-divider-horizontal.ant-divider-with-text {
      margin: 0;
    }

    .ant-divider-horizontal.ant-divider-with-text::after {
      border-top: 1px solid var(--primary-color) !important;
    }

    .ant-divider-horizontal.ant-divider-with-text::before {
      border-top: 1px solid var(--primary-color) !important;
    }

    .ant-collapse
      > .ant-collapse-item.ant-collapse-no-arrow
      > .ant-collapse-header {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    .ant-collapse-content > .ant-collapse-content-box {
      padding: 0px !important;
    }
}


#table-queue::ng-deep.ant-table-row{
  background-color:white;
  color: black;
}

#table-queue::ng-deep.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td{
    background-color:white;
}


.box-ticket-value{
  color: white;
  background-color: #076743;
  text-align: center;
  border-radius: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.hidden-md {
  display:none;
}

.text-center{
  text-align: center;
}

#pagination-list-my-tickets ::ng-deep .ant-pagination-options {
  display: block !important;
  padding-top:10px;
  margin-left:10px !important;
}

#pagination-list-my-tickets ::ng-deep .ant-pagination.mini .ant-pagination-options {
  margin-left:2px;
}

@media screen and (max-width: 800px) {
  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display:block;
  }
  .margin-bottom-15{
    margin-bottom:15px;
  }

  .font-label-mobile{
    color: black;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .box-mobile{
    background-color: white;
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {

  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display:block;
  }
  .margin-bottom-15{
    margin-bottom:15px;
  }

  .font-label-mobile{
    color: black;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .box-mobile{
    background-color: white;
    padding: 20px;
  }
}

