<div nz-row>
    <div nz-col [nzSm]="1" [nzMd]="2" [nzXs]="1"></div>
    <div nz-col [nzSm]="22" [nzMd]="20" [nzXs]="22">
        <div class="top">
            <h2 class="title-top-page"> {{ 'QUEUE.MY_TICKETS.TITLE_TICKETS' | translate }}</h2>
        </div>
      
        <div class="hidden-xs" style="margin-bottom: 20px;">
            <nz-table #tableTickets  [nzScroll]="{ x: '240px' }" [nzShowSizeChanger]="sizeChanger" [nzFrontPagination]="false"
                [nzData]="listTicketsData" id="table-queue" [nzLoading]="loading" [nzPaginationPosition]="position"
                [nzShowPagination]="pagination" [nzTotal]="totalTableTickets" [(nzPageIndex)]="pageIndexTableTickets"
                [(nzPageSize)]="pageSizeTableTickets" (nzPageIndexChange)="paginationSearchTableTickets()"
                (nzPageSizeChange)="paginationSearchTableTickets(true)">
                <thead>
                    <tr>
                        <th>{{ 'QUEUE.MY_TICKETS.TABLE_TICKETS.SERVICE' | translate}}</th>
                        <th>{{ 'QUEUE.MY_TICKETS.TABLE_TICKETS.QUEUE' | translate}}</th>
                        <th>{{ 'QUEUE.MY_TICKETS.TABLE_TICKETS.AVG_TIME' | translate}}</th>
                        <th>{{ 'QUEUE.MY_TICKETS.TABLE_TICKETS.TICKETSINQUEUE' | translate}}</th>
                        <th>{{ 'QUEUE.MY_TICKETS.TABLE_TICKETS.ESTIMATED_TIME' | translate}}</th>
                        <th>{{ 'QUEUE.MY_TICKETS.TABLE_TICKETS.TICKET' | translate}}</th>
                        <th>{{ 'QUEUE.MY_TICKETS.TABLE_TICKETS.DIGITALTICKET' | translate}}</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-data [ngForOf]="tableTickets.data">
                        <tr>
                            <td>{{(data?.subject?.service?.translations | languageChange)?.name}} </td>
                            <td> {{(data?.subject?.translations | languageChange)?.name}} </td>
                            <td> {{transformSecontToHour(data?.subject?.avg_time)}} </td>
                            <td> {{data?.tickets_in_queue}} </td>
                            <td> {{convertTime(data?.estimated_time)}} </td>
                            <td> {{data?.subject?.ongoing_ticket}} </td>
                            <td>
                                <div *ngIf="data?.ticket_code" class="box-ticket-value">{{data?.ticket_code}} </div>
                            </td>
                            <td><i nz-icon nzType="icons:icons-error-fill" style="font-size: 35px; cursor: pointer;"
                                    (click)="deleteTicket(data?.id)" nzTheme="outline"></i> </td>
                        </tr>
                    </ng-template>
                </tbody>
            </nz-table>
        </div>
        <div class="hidden-md box-mobile" style="margin-bottom: 20px;">
            <div class="margin-top-20" nz-row>
                <div *ngFor="let item of tableTickets.data; let idx = index" style="font-size: 15px;">
                    <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label class="font-label-mobile">{{
                            'QUEUE.MY_TICKETS.TABLE_TICKETS.SERVICE' | translate}}:</label>
                            {{(item?.subject?.service?.translations | languageChange)?.name}}
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label class="font-label-mobile">{{
                            'QUEUE.MY_TICKETS.TABLE_TICKETS.QUEUE' | translate}}:</label> {{(item?.subject?.translations | languageChange)?.name}}
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label class="font-label-mobile">{{
                            'QUEUE.MY_TICKETS.TABLE_TICKETS.AVG_TIME' | translate}}:</label>
                        {{transformSecontToHour(item?.subject?.avg_time)}}
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label class="font-label-mobile">{{
                            'QUEUE.MY_TICKETS.TABLE_TICKETS.TICKETSINQUEUE' |
                            translate}}:</label>{{item?.tickets_in_queue}}
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label class="font-label-mobile">{{
                            'QUEUE.MY_TICKETS.TABLE_TICKETS.ESTIMATED_TIME' |
                            translate}}:</label>{{convertTime(item?.estimated_time)}}
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label class="font-label-mobile">{{
                            'QUEUE.MY_TICKETS.TABLE_TICKETS.TICKET' | translate}}:</label>
                        {{item?.subject?.ongoing_ticket}}
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label class="font-label-mobile">{{
                            'QUEUE.MY_TICKETS.TABLE_TICKETS.DIGITALTICKET' | translate}}:</label>
                        <div *ngIf="item?.ticket_code" class="box-ticket-value" style="width: 30%;margin-top: 10px;">{{item?.ticket_code}} </div>
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15 text-center"><i nz-icon
                            nzType="icons:icons-error-fill" style="font-size: 35px; cursor: pointer;"
                            (click)="deleteTicket(item?.id)" nzTheme="outline"></i>
                    </div>
                    <nz-divider></nz-divider>
                </div>

            </div>
            <nz-empty *ngIf="tableTickets.data.length==0"></nz-empty>
            <div *ngIf="tableTickets.data.length>0" style="text-align: center; padding-bottom:15px">
                <nz-pagination id="pagination-list-my-tickets" nzShowSizeChanger [nzTotal]="totalTableTickets" [(nzPageIndex)]="pageIndexTableTickets"
                [(nzPageSize)]="pageSizeTableTickets" (nzPageIndexChange)="paginationSearchTableTickets()"
                (nzPageSizeChange)="paginationSearchTableTickets(true)">
                </nz-pagination>
            </div>
        </div>

        <nz-collapse [nzBordered]="false" style="padding-bottom: 10px;">
            <nz-collapse-panel #p *ngFor="let panel of panelTicket" [nzHeader]="header" [nzActive]="panel.active"
                [ngStyle]="panel.customStyle" [nzShowArrow]="false">
                <div class="hidden-xs" style="margin-bottom: 20px;  margin-top: 20px;">
                    <nz-table #tableTicketsHistory  [nzScroll]="{ x: '240px' }" [nzShowSizeChanger]="sizeChanger" [nzFrontPagination]="false"
                        [nzData]="listHistoryTicketsData" id="table-queue" [nzLoading]="loadingHistoryTickets"
                        [nzPaginationPosition]="position" [nzShowPagination]="pagination"
                        [nzTotal]="totalTableHistoryTickets" [(nzPageIndex)]="pageIndexTableHistoryTickets"
                        [(nzPageSize)]="pageSizeTableHistoryTickets"
                        (nzPageIndexChange)="paginationSearchTableHistoryTickets()"
                        (nzPageSizeChange)="paginationSearchTableHistoryTickets(true)">
                        <thead>
                            <tr>
                                <th>{{ 'QUEUE.MY_TICKETS.TABLE_TICKETS.SERVICE' | translate}}</th>
                                <th>{{ 'QUEUE.MY_TICKETS.TABLE_TICKETS.QUEUE' | translate}}</th>
                                <th>{{ 'QUEUE.MY_TICKETS.TABLE_HISTORY_TICKETS.DATE' | translate}}</th>
                                <th>{{ 'QUEUE.MY_TICKETS.TABLE_HISTORY_TICKETS.DURATION' | translate}}</th>
                                <th>{{ 'QUEUE.MY_TICKETS.TABLE_TICKETS.DIGITALTICKET' | translate}}</th>

                            </tr>
                        </thead>
                        <tbody>
                            <ng-template ngFor let-data [ngForOf]="tableTicketsHistory.data">
                                <tr>
                                    <td> {{(data?.subject?.service?.translations | languageChange)?.name}} </td>
                                    <td> {{(data?.subject?.translations | languageChange)?.name}} </td>
                                    <td> {{data?.created_at | date: 'dd/MM/yyyy'}} </td>
                                    <td> {{data?.status == 'ATENDIDO' ? convertDuration(data?.initial_time, data?.final_time) : convertStatus(data?.status)}}</td>
                                    <td>
                                        <div *ngIf="data?.ticket_code" class="box-ticket-value" style="width:50%">{{data?.ticket_code}} </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </nz-table>
                </div>
                <div class="hidden-md box-mobile" style="margin-bottom: 20px; margin-top: 20px;">
                    <div class="margin-top-20" nz-row>
                        <div *ngFor="let item of tableTicketsHistory.data; let idx = index" style="font-size: 15px;">
                            <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label
                                    class="font-label-mobile">{{
                                    'QUEUE.MY_TICKETS.TABLE_TICKETS.SERVICE' | translate}}:</label>
                                    {{(item?.subject?.service?.translations | languageChange)?.name}}
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label
                                    class="font-label-mobile">{{
                                    'QUEUE.MY_TICKETS.TABLE_TICKETS.QUEUE' | translate}}:</label>
                                    {{(item?.subject?.translations | languageChange)?.name}}
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label
                                    class="font-label-mobile">{{ 'QUEUE.MY_TICKETS.TABLE_HISTORY_TICKETS.DATE' |
                                    translate}}:</label>
                                {{item?.created_at | date: 'dd/MM/yyyy'}}
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label
                                    class="font-label-mobile">{{
                                    'QUEUE.MY_TICKETS.TABLE_HISTORY_TICKETS.DURATION' |
                                    translate}}:</label>{{item?.status == 'ATENDIDO' ? convertDuration(item?.initial_time, item?.final_time) : convertStatus(item?.status)}}
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label
                                    class="font-label-mobile">{{
                                    'QUEUE.MY_TICKETS.TABLE_TICKETS.DIGITALTICKET' | translate}}:</label>
                                <div *ngIf="item?.ticket_code" class="box-ticket-value" style="width: 30%;margin-top: 10px;">{{item?.ticket_code}} </div>
                            </div>

                            <nz-divider></nz-divider>
                        </div>

                    </div>
                    <nz-empty *ngIf="tableTicketsHistory.data.length==0"></nz-empty>
                    <div *ngIf="tableTicketsHistory.data.length>0" style="text-align: center; padding-bottom:15px">
                        <nz-pagination id="pagination-list-my-tickets" nzShowSizeChanger
                        [nzTotal]="totalTableHistoryTickets" [(nzPageIndex)]="pageIndexTableHistoryTickets"
                        [(nzPageSize)]="pageSizeTableHistoryTickets"
                        (nzPageIndexChange)="paginationSearchTableHistoryTickets()"
                        (nzPageSizeChange)="paginationSearchTableHistoryTickets(true)">
                        </nz-pagination>
                    </div>
                </div>

                <ng-template #header>
                    <nz-divider [nzText]="text"></nz-divider>
                </ng-template>

                <ng-template #text>
                    <div class="box">
                        {{ panel.name | translate
                        }}<i nz-icon type="icons:icons-arrow-2-right" [nzRotate]="p.nzActive ? 90 : -90"></i></div>
                </ng-template>
            </nz-collapse-panel>
        </nz-collapse>
        <div class="top">
            <h2 class="title-top-page">  {{ 'QUEUE.MY_TICKETS.TITLE_MARKING' | translate }}</h2>
        </div>
        
        <div class="hidden-xs" style="margin-bottom: 20px;">

            <nz-table #tableBookings  [nzScroll]="{ x: '240px' }" [nzFrontPagination]="false" [nzData]="listBookingsData"
                [nzShowSizeChanger]="sizeChanger" [nzPaginationPosition]="position" [nzShowPagination]="pagination"
                [nzLoading]="loadingBookings" id="table-queue" [nzTotal]="totalTableBookings"
                [(nzPageIndex)]="pageIndexTableBookings" [(nzPageSize)]="pageSizeTableBookings"
                (nzPageIndexChange)="paginationSearchTableBookings()"
                (nzPageSizeChange)="paginationSearchTableBookings(true)">
                <thead>
                    <tr>
                        <th>{{ 'QUEUE.MY_TICKETS.TABLE_BOOKINGS.DATE' | translate}}</th>
                        <th>{{ 'QUEUE.MY_TICKETS.TABLE_BOOKINGS.HOUR' | translate}}</th>
                        <th>{{ 'QUEUE.MY_TICKETS.TABLE_BOOKINGS.SERVICE' | translate}}</th>
                        <th>{{ 'QUEUE.MY_TICKETS.TABLE_BOOKINGS.QUEUE' | translate}}</th>
                        <th>{{ 'QUEUE.MY_TICKETS.TABLE_BOOKINGS.DIGITALTICKET' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-data [ngForOf]="tableBookings.data">
                        <tr>
                            <td> {{data?.appointment_schedule | date:'dd/MM/yyyy'}}
                            </td>
                            <td>{{data?.appointment_schedule | date:'HH:mm'}}h </td>
                            <td>{{(data?.subject?.service?.translations | languageChange)?.name}} </td>
                            <td> {{(data?.subject?.translations | languageChange)?.name}} </td>
                            <td>
                                <div *ngIf="data?.ticket_code" class="box-ticket-value" style="width:50%;">{{data?.ticket_code}}
                                </div>
                            </td>
                            <td><i nz-icon nzType="icons:icons-error-fill" style="font-size: 35px; cursor: pointer;"
                                (click)="deleteTicketConfirmM(data?.id)" nzTheme="outline"></i> </td>

                        </tr>
                    </ng-template>
                </tbody>
            </nz-table>
        </div>
        <div class="hidden-md box-mobile" style="margin-bottom: 20px;">
            <div class="margin-top-20" nz-row>
                <div *ngFor="let item of tableBookings.data; let idx = index" style="font-size: 15px;">
                    <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label class="font-label-mobile">{{
                            'QUEUE.MY_TICKETS.TABLE_BOOKINGS.DATE' | translate}}:</label>
                        {{item?.appointment_schedule | date:'dd/MM/yyyy'}}
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label class="font-label-mobile">{{
                            'QUEUE.MY_TICKETS.TABLE_BOOKINGS.HOUR' | translate}}:</label> {{item?.appointment_schedule |
                        date:'HH:mm'}}h
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label class="font-label-mobile">{{
                            'QUEUE.MY_TICKETS.TABLE_BOOKINGS.SERVICE' | translate}}:</label>
                            {{(item?.subject?.service?.translations | languageChange)?.name}}
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label class="font-label-mobile">{{
                            'QUEUE.MY_TICKETS.TABLE_BOOKINGS.QUEUE' |
                            translate}}:</label>{{(item?.subject?.translations | languageChange)?.name}}
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label class="font-label-mobile">{{
                            'QUEUE.MY_TICKETS.TABLE_BOOKINGS.DIGITALTICKET' |
                            translate}}:</label>
                        <div *ngIf="item?.ticket_code" class="box-ticket-value" style="width: 30%;margin-top: 10px;">{{item?.ticket_code}} </div>
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15 text-center"><i nz-icon
                        nzType="icons:icons-error-fill" style="font-size: 35px; cursor: pointer;"
                        (click)="deleteTicket(item?.id)" nzTheme="outline"></i>
                </div>

                    <nz-divider></nz-divider>
                </div>
                <nz-empty *ngIf="tableBookings.data.length==0"></nz-empty>
                <div *ngIf="tableBookings.data.length>0" style="text-align: center; padding-bottom:15px">
                    <nz-pagination id="pagination-list-my-tickets" nzShowSizeChanger [nzTotal]="totalTableBookings"
                    [(nzPageIndex)]="pageIndexTableBookings" [(nzPageSize)]="pageSizeTableBookings"
                    (nzPageIndexChange)="paginationSearchTableBookings()"
                    (nzPageSizeChange)="paginationSearchTableBookings(true)">
                    </nz-pagination>
                </div>
            </div>

        </div>
        <nz-collapse [nzBordered]="false" style="padding-bottom: 10px;">
            <nz-collapse-panel #pa *ngFor="let panel of panelMarking" [nzHeader]="header" [nzActive]="panel.active"
                [ngStyle]="panel.customStyle" [nzShowArrow]="false">

                <div class="hidden-xs" style="margin-bottom: 20px; margin-top: 20px;">

                    <nz-table #tableBookingsHistory  [nzScroll]="{ x: '240px' }" [nzFrontPagination]="false" [nzData]="listHistoryBookingsData"
                        [nzShowSizeChanger]="sizeChanger" [nzPaginationPosition]="position"
                        [nzShowPagination]="pagination" [nzLoading]="loadingHistoryBookings" id="table-queue"
                        [nzTotal]="totalTableHistoryBookings" [(nzPageIndex)]="pageIndexTableHistoryBookings"
                        [(nzPageSize)]="pageSizeTableHistoryBookings"
                        (nzPageIndexChange)="paginationSearchTableHistoryBookings()"
                        (nzPageSizeChange)="paginationSearchTableHistoryBookings(true)">
                        <thead>
                            <tr>
                                <th>{{ 'QUEUE.MY_TICKETS.TABLE_BOOKINGS.DATE' | translate}}</th>
                                <th>{{ 'QUEUE.MY_TICKETS.TABLE_BOOKINGS.HOUR' | translate}}</th>
                                <th>{{ 'QUEUE.MY_TICKETS.TABLE_BOOKINGS.SERVICE' | translate}}</th>
                                <th>{{ 'QUEUE.MY_TICKETS.TABLE_BOOKINGS.QUEUE' | translate}}</th>
                                <th>{{ 'QUEUE.MY_TICKETS.TABLE_BOOKINGS.DIGITALTICKET' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-template ngFor let-data [ngForOf]="tableBookingsHistory.data">
                                <tr>
                                    <td> {{data?.appointment_schedule | date:'dd/MM/yyyy'}}
                                    </td>
                                    <td> {{data?.appointment_schedule | date:'HH:mm'}}h </td>
                                    <td>{{(data?.subject?.service?.translations | languageChange)?.name}} </td>
                                    <td>{{(data?.subject?.translations | languageChange)?.name}} </td>
                                    <td>
                                        <div *ngIf="data?.ticket_code" class="box-ticket-value" style="width:50%;">{{data?.ticket_code}}
                                        </div>
                                    </td>

                                </tr>
                            </ng-template>
                        </tbody>
                    </nz-table>
                </div>
                <div class="hidden-md box-mobile" style="margin-bottom: 20px; margin-top: 20px;">
                    <div class="margin-top-20" nz-row>
                        <div *ngFor="let item of tableBookingsHistory.data; let idx = index" style="font-size: 15px;">
                            <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label
                                    class="font-label-mobile">{{
                                    'QUEUE.MY_TICKETS.TABLE_BOOKINGS.DATE' | translate}}:</label>
                                {{item?.appointment_schedule | date:'dd/MM/yyyy'}}
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label
                                    class="font-label-mobile">{{
                                    'QUEUE.MY_TICKETS.TABLE_BOOKINGS.HOUR' | translate}}:</label>
                                {{item?.appointment_schedule |
                                date:'HH:mm'}}h
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label
                                    class="font-label-mobile">{{
                                    'QUEUE.MY_TICKETS.TABLE_BOOKINGS.SERVICE' | translate}}:</label>
                                    {{(item?.subject?.service?.translations | languageChange)?.name}}
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label
                                    class="font-label-mobile">{{
                                    'QUEUE.MY_TICKETS.TABLE_BOOKINGS.QUEUE' |
                                    translate}}:</label>{{(item?.subject?.translations | languageChange)?.name}}
                            </div>
                            <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label
                                    class="font-label-mobile">{{
                                    'QUEUE.MY_TICKETS.TABLE_BOOKINGS.DIGITALTICKET' |
                                    translate}}:</label>
                                <div *ngIf="item?.ticket_code" class="box-ticket-value" style="width: 30%;margin-top: 10px;">{{item?.ticket_code}} </div>
                            </div>

                            <nz-divider></nz-divider>
                        </div>
                        <nz-empty *ngIf="tableBookingsHistory.data.length==0"></nz-empty>
                        <div *ngIf="tableBookingsHistory.data.length>0" style="text-align: center; padding-bottom:15px">
                            <nz-pagination id="pagination-list-my-tickets" nzShowSizeChanger  [nzTotal]="totalTableHistoryBookings" [(nzPageIndex)]="pageIndexTableHistoryBookings"
                            [(nzPageSize)]="pageSizeTableHistoryBookings"
                            (nzPageIndexChange)="paginationSearchTableHistoryBookings()"
                            (nzPageSizeChange)="paginationSearchTableHistoryBookings(true)">
                            </nz-pagination>
                        </div>
                    </div>

                </div>
                <ng-template #header>
                    <nz-divider [nzText]="text"></nz-divider>
                </ng-template>

                <ng-template #text>
                    <div class="box">
                        {{ panel.name | translate
                        }}<i nz-icon type="icons:icons-arrow-2-right" [nzRotate]="pa.nzActive ? 90 : -90"></i></div>
                </ng-template>
            </nz-collapse-panel>
        </nz-collapse>
    </div>
    <div nz-col [nzSm]="1" [nzMd]="2" [nzXs]="1">

    </div>

</div>