@wrapper-spacer-y: 50px;
@row-padding-x: 30px;
@row-padding-y: 20px;

.top {
  padding-top: 25px;
}

.application-review {
  margin-bottom: @wrapper-spacer-y;
  margin-top: 25px;
  padding: 25px;

  .ant-row {
    padding-left: @row-padding-x !important;
    padding-right: @row-padding-x !important;
  }


  &::ng-deep .review--divider {
    margin-left: -@row-padding-x;
    margin-right: -@row-padding-x;
    width: calc(~'100% +' (@row-padding-x * 2));
  }

  &--buttons {
    display: flex;
    justify-content: space-between;

    &::ng-deep button {
      font-size: 12px;
      line-height: 18px;
    }
  }
}
