<div class="content-form">
  <form nzLayout="vertical">
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired>Galeria</nz-form-label>
          <fi-sas-auto-upload-file [listType]="listType" [filesList]="fileList" [multiUploads]="multiUploads"
            [limit]="maxMedias" [buttonName]="buttonName" (fileAdded)="onFileAdded($event)"
            (fileDeleted)="onFileDeleted($event)"></fi-sas-auto-upload-file>
        </nz-form-item>
      </div>
      <nz-form-explain class="color-required"
        *ngIf="submitted">
        Campo Obrigatório
      </nz-form-explain>
    </div>
  </form>
</div>