<nz-spin [nzSpinning]="isLoading">
  <div nz-row><b>Semana:</b><br>
    <nz-week-picker [(ngModel)]="selectedWeek" 
          nzPlaceHolder="Escolha a semana"></nz-week-picker>
    <nz-form-explain class="color-required" *ngIf="submitted && !selectedWeek">Campo obrigatório</nz-form-explain> 
  </div>
  <div nz-row><b>Serviço:</b>
    <nz-select nzMode="multiple" nzPlaceHolder="Serviços" [(ngModel)]="selectedServices" style="width: 100%;">
      <nz-option *ngFor="let service of services" [nzLabel]="service.name" [nzValue]="service.id"></nz-option>
    </nz-select>
    <nz-form-explain class="color-required" *ngIf="submitted && selectedServices.length==0">Campo obrigatório</nz-form-explain> 
  </div>

</nz-spin>