<div class="insufficient-funds-model___content">
  <div nz-row nzType="flex" nzJustify="center"><p class="insufficient-funds___title">{{ "ALIMENTATION.INSUFFICIENT_FUNDS_MODAL.INSUFFICIENT_FUNDS" | translate }}</p></div>
  <div nz-row nzType="flex" nzJustify="center" class="insufficient-funds-model___icon" >
    <img alt="negative" src="/assets/imgs/cards-ilustration-negative.svg" />
  </div>
  <div nz-row nzType="flex" nzAlign="center" class="insufficient-funds___msg" >
    <p>{{ "ALIMENTATION.INSUFFICIENT_FUNDS_MODAL.INFO" | translate }}</p>
  </div>
  <div nz-row class="insufficient-funds___button" nzType="flex" nzJustify="center">
    <button nz-button nzType="link" (click)="handleCancel()">{{ "ALIMENTATION.INSUFFICIENT_FUNDS_MODAL.CANCEL" | translate }}</button>
  </div>
</div>
