<div class="container">
  <div nz-row nzType="flex" nzGutter="16">
    <div nz-col nzSm="24" nzMd="24" class="title">
      <label>Contagem de refeições</label>
    </div>
    <div nz-col nzSm="12" nzMd="4">
      <div nz-row>
        <nz-form-label>Data</nz-form-label>
        <div>
          <nz-range-picker [(ngModel)]="selectedDate"></nz-range-picker>
        </div>
      </div>
    </div>
    <div nz-col nzSm="12" nzMd="4">
      <div nz-row>
        <nz-form-label>Refeição</nz-form-label>
        <nz-select [(ngModel)]="selectedMeal" nzAllowClear style="width: 100%">
          <nz-option nzLabel="Todos" nzValue="null"></nz-option>
          <nz-option nzLabel="Almoço" nzValue="lunch"></nz-option>
          <nz-option nzLabel="Jantar" nzValue="dinner"></nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="12" nzMd="4">
      <div nz-row>
        <nz-form-label>Tipos de pratos</nz-form-label>
        <nz-select
          [(ngModel)]="selectedDishTypes"
          [nzLoading]="dishsTypesLoading"
          nzMode="multiple"
          nzAllowClear
          style="width: 100%"
        >
          <nz-option
            *ngFor="let dishType of dishTypes"
            [nzLabel]="(dishType.translations | translation)?.name"
            [nzValue]="dishType.id"
          ></nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="12" nzMd="4">
      <div nz-row>
        <nz-form-label>Serviço</nz-form-label>
        <nz-select
          [(ngModel)]="selectedServices"
          [nzLoading]="servicesLoading"
          nzMode="multiple"
          nzAllowClear
          style="width: 100%"
        >
          <nz-option
            *ngFor="let service of services"
            [nzLabel]="service.name"
            [nzValue]="service.id"
          ></nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="12" nzMd="4" class="options">
      <button
        nz-button
        [nzLoading]="loadingReport"
        [disabled]="loadingReport"
        (click)="reservationsReport()"
        [nzType]="'primary'"
      >
        Gerar Relatório
      </button>
    </div>
  </div>
</div>
<div nz-row class="space"></div>
<div class="container">
  <div nz-row nzType="flex" nzGutter="16">
    <div nz-col nzSm="24" nzMd="24" class="title">
      <label>Receita das reservas</label>
    </div>
    <div nz-col nzSm="12" nzMd="6">
      <div nz-row>
        <nz-form-label>Data</nz-form-label>
        <div>
          <nz-range-picker
            nzShowTime
            [(ngModel)]="selectedDate1"
          ></nz-range-picker>
        </div>
      </div>
    </div>
    <div nz-col nzSm="12" nzMd="6">
      <div nz-row>
        <nz-form-label>Serviço</nz-form-label>
        <nz-select
          [(ngModel)]="selectedServices1"
          [nzLoading]="servicesLoading"
          nzMode="multiple"
          nzAllowClear
          style="width: 100%"
        >
          <nz-option
            *ngFor="let service of services"
            [nzLabel]="service.name"
            [nzValue]="service.id"
          ></nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="12" nzMd="4" class="options">
      <button
        nz-button
        [nzLoading]="loadingReport"
        [disabled]="loadingReport1"
        (click)="reservationsRevenueReport()"
        [nzType]="'primary'"
      >
        Gerar Relatório
      </button>
    </div>
  </div>
</div>
<div nz-row class="space"></div>
