
.container {
  background: white;
  padding: 24px 30px 24px 30px;
  margin-bottom: 5px;
  margin-top: 20px;
  &__title {
      font-size: 16px;
      line-height: 22px;
      margin: 0px;
      font-weight: bold;
      margin-bottom:10px;
      color:black;
  }
  &__subtitle{
    margin-bottom:5px;
  }
}


.title {
padding-bottom: 15px;
}

.space {
padding: 10px;
background-color: #F2F2F2;
}


.options {
  padding-top: 40px;
  text-align: right;
}

