<div nzType="flex" nzAlign="middle" nzJustify="center" perfectScrollbar>
    <div class="container">
        <form [formGroup]="serviceForm" nzLayout="vertical">
            <nz-spin [nzSpinning]="loading">
                <div nz-row>
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXXl]="18"
                        class="padding-right-20">
                        <div nz-row>
                            <nz-form-label nzRequired>
                                Nome
                            </nz-form-label>
                            <nz-form-control>
                                <input type="text" nz-input formControlName="name">
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && f.name.errors">
                                Campo obrigatório
                            </nz-form-explain>
                        </div>
                    </div>
                </div>
                <div nz-row style="padding-top: 20px;">
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8"
                        class="padding-right-20">
                        <div nz-row>
                            <nz-form-label nzRequired>
                                Armazém
                            </nz-form-label>
                            <nz-form-control>
                                <nz-select class="primary-select" formControlName="wharehouse_id" nzShowSearch>
                                    
                                    <nz-option *ngFor="let wharehouse of wharehouses" [nzLabel]="wharehouse?.name"
                                        [nzValue]="wharehouse.id">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && f.wharehouse_id.errors">
                                Campo obrigatório
                            </nz-form-explain>
                        </div>
                    </div>
                </div>
                <div nz-row style="padding-top: 20px;">
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8"
                        class="padding-right-20">
                        <div nz-row>
                            <nz-form-label nzRequired>
                                Escola
                            </nz-form-label>
                            <nz-form-control>
                                <nz-select class="primary-select" formControlName="organic_unit_id" nzShowSearch>
                                    <nz-option *ngFor="let organicUnit of organicUnits" [nzLabel]="organicUnit?.name"
                                        [nzValue]="organicUnit.id">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && f.organic_unit_id.errors">
                                Campo obrigatório
                            </nz-form-explain>
                        </div>
                    </div>
                </div>
                <div nz-row style="padding-top: 20px;">
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8"
                        class="padding-right-20">
                        <div nz-row>
                            <nz-form-label nzRequired>
                                Serviço
                            </nz-form-label>
                            <nz-form-control>
                                <nz-select class="primary-select" formControlName="service_id" nzShowSearch>
                                    <nz-option *ngFor="let service of services"
                                        [nzLabel]="(service?.translations | translation)?.name" [nzValue]="service.id">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && f.service_id.errors">
                                Campo obrigatório
                            </nz-form-explain>
                        </div>
                    </div>
                </div>
                <div nz-row style="padding-top: 20px;">
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8"
                        class="padding-right-20">
                        <div nz-row>
                            <nz-form-label nzRequired>
                                Tipo
                            </nz-form-label>
                            <nz-form-control>
                                <nz-select class="primary-select" formControlName="type" nzShowSearch
                                    (ngModelChange)="changeType($event)">
                                    <nz-option *ngFor="let type of types" [nzLabel]="type?.name" [nzValue]="type.value">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && f.type.errors">
                                Campo obrigatório
                            </nz-form-explain>
                        </div>
                    </div>
                </div>
                <div nz-row style="padding-top: 20px;">
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXXl]="18"
                        class="padding-right-20">
                        <div nz-row>
                            <nz-form-label nzRequired>
                                Dispositivos
                            </nz-form-label>
                            <nz-form-control>
                                <nz-select class="primary-select" formControlName="devices" nzShowSearch
                                    nzMode="multiple">
                                    <nz-option *ngFor="let device of devices" [nzLabel]="device?.name"
                                        [nzValue]="device.id">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && f.devices.errors">
                                Campo obrigatório
                            </nz-form-explain>
                        </div>
                    </div>
                </div>
                <div nz-row style="padding-top: 20px;">
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXXl]="18"
                        class="padding-right-20">
                        <div nz-row>
                            <nz-form-label [nzRequired]="serviceForm.get('type').value =='bar'">
                                Famílias
                            </nz-form-label>
                            <nz-form-control>
                                <nz-select class="primary-select" formControlName="families" nzShowSearch
                                    nzMode="multiple">
                                    <nz-option *ngFor="let family of families" [nzLabel]="(family?.translations | translation)?.name"
                                        [nzValue]="family.id">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && f.families.errors">
                                Campo obrigatório
                            </nz-form-explain>
                        </div>
                    </div>
                </div>
                <div nz-row style="padding-top: 20px;">
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
                        <div nz-row class="padding-bottom-5">
                            <nz-form-label nzRequired>
                                Ativo
                            </nz-form-label>
                        </div>
                        <div nz-row class="padding-bottom-5 padding-top-5">
                            <nz-switch formControlName="active">
                            </nz-switch>
                            <nz-form-explain class="color-required" *ngIf="submitted && f.active.errors">
                                Campo obrigatório
                            </nz-form-explain>
                        </div>
                    </div>
                </div>
            </nz-spin>
        </form>
    </div>
    <div class="space">
        <button *ngIf="id != undefined" nz-button (click)="backList()">Voltar</button>
        <button nz-button [nzLoading]="loading" [disabled]="loading"
            (click)="id != undefined ? submitService(true) : submitService(false)" class="button-submit"
            [nzType]="'primary'">{{id
            != undefined ? 'Editar' : 'Criar'}}</button>
    </div>
</div>