<StackLayout class="error">
  <fi-action-bar [actionBarType]="1"></fi-action-bar>

  <ScrollView row="0">
    <WrapLayout orientation="horizontal" class="fisas__content">
      <StackLayout width="100%">
        <Label
          fontSize="60"
          marginTop="40"
          marginBottom="30"
          textAlignment="center"
          color="#dc3545"
          class="fisas__icon"
          text="&#xf071;"
        ></Label>
        <Label
          textAlignment="center"
          color="#dc3545"
          class="fisas__h1"
          textWrap="true"
          text="{{ 'error.title' | translate }}"
        ></Label>
        <Label
          textAlignment="center"
          class="fisas__p"
          textWrap="true"
          text="{{ 'error.subtitle' | translate }}"
        ></Label>
      </StackLayout>
    </WrapLayout>
  </ScrollView>
</StackLayout>
