<div class="container">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXXl]="18">
      <div nz-row class="padding-bottom-5">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="10" [nzLg]="10" [nzXl]="10" [nzXXl]="10">
          <nz-form-label>Nome</nz-form-label>
        </div>
        <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="10" [nzLg]="10" [nzXl]="10" [nzXXl]="10">
          <nz-form-label>Ativo</nz-form-label>
        </div>
      </div>
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="10" [nzLg]="10" [nzXl]="10" [nzXXl]="10">
          <nz-form-control>
            <input type="text" nz-input [(ngModel)]="filters.search" style="width: 100%;">
          </nz-form-control>
        </div>
        <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="10" [nzLg]="10" [nzXl]="10" [nzXXl]="10">
          <nz-form-control>
            <nz-select class="primary-select" [(ngModel)]="filters.active" nzAllowClear nzShowSearch
              style="width: 100%;">
              <nz-option nzLabel="Ativo" nzValue="true"> </nz-option>
              <nz-option nzLabel="Inativo" nzValue="false"> </nz-option>
            </nz-select>
          </nz-form-control>
        </div>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
      <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
      style="text-align: left;">
      <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
    </div>
  </div>
</div>
<div class="container">
  <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
          [nzSortKey]="column.sortKey ? column.sortKey : column.key"> {{ column.label }}</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">
        <tr>
          <td *ngFor="let column of columns">
            <span *ngIf="!column.tag">{{ column.translation ? (data.translations | where: ['language_id', 3]
              )[0][column.key] : (data | flatObject)[column.key]}}</span>
            <span *ngIf="column.template">
              {{ column.template(data) }}
            </span>
            <span *ngIf="column.tag">
              <fi-sas-tag [value]="data[column.key]" [results]="column.tag"></fi-sas-tag>
            </span>
          </td>
          <td nzRight="0px" *ngIf="'accommodation:applications:status' | hasPermission">
            <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
              nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item *ngIf="'accommodation:tariffs:create' | hasPermission"
                  [routerLink]="['/accommodation', 'tariffs', 'edit', data.id]">Editar</li>
                <li nz-menu-item *ngIf="data?.active && 'accommodation:tariffs:create' | hasPermission"
                  (click)="changeActive(data.id, false)">
                  Desativar</li>
                <li nz-menu-item *ngIf="!data?.active && 'accommodation:tariffs:create' | hasPermission"
                  (click)="changeActive(data.id, true)">
                  Ativar</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>

      </ng-template>
    </tbody>
  </nz-table>
</div>