<div class="container">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
      <div nz-row>
        <nz-form-label>Termo de Pesquisa</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input [(ngModel)]="filters.search">
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
      <div nz-row class="padding-bottom-5">
        <nz-form-label>Estado</nz-form-label>
      </div>
      <div nz-row>
        <nz-form-control>
          <nz-select class="primary-select" [(ngModel)]="filters.status" nzAllowClear nzShowSearch style="width: 100%;">
            <nz-option nzLabel="Submetido" nzValue="SUBMITTED"> </nz-option>
            <nz-option nzLabel="Analise" nzValue="ANALYSIS"> </nz-option>
            <nz-option nzLabel="Despacho" nzValue="DISPATCH"> </nz-option>
            <nz-option nzLabel="Aprovado c/suspensão de pagamento" nzValue="APPROVED_WITH_SUSPENSION"> </nz-option>
            <nz-option nzLabel="Aprovado s/suspensão de pagamento" nzValue="APPROVED_WITHOUT_SUSPENSION"> </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
      <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
      style="text-align: left;">
      <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
    </div>
  </div>
</div>
<div class="container">
  <nz-table class="content-table" #refTable [nzScroll]="{ x: '240px' }" [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th></th>
        <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
          [nzSortKey]="column.sortKey ? column.sortKey : column.key"> {{ column.label }}</th>
        <th nzRight="0px" *ngIf="'accommodation:withdrawals:status' | hasPermission">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">

        <tr>
          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
          <td *ngFor="let column of columns">
            <span *ngIf="!column.tag && !column.template">{{ column.translation ? (data.translations | where: ['language_id', 3]
              )[0][column.key] : (data | flatObject)[column.key]}}</span>
            <span *ngIf="column.tag">
              <fi-sas-tag [value]="data[column.key]" [results]="column.tag"></fi-sas-tag>
            </span>
            <span *ngIf="column.template">
              {{ column.template(data) }}
            </span>
          </td>
          <td nzRight="0px" *ngIf="'accommodation:applications:status' | hasPermission">
            <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
              nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu *ngIf="data.status != WithdrawalStatus.APPROVED && data.status != WithdrawalStatus.REJECTED && data.status != WithdrawalStatus.CANCELLED">
                <li nz-menu-item *ngIf="data?.status == WithdrawalStatus.DISPATCH"
                  (click)="openModalWithdrawal(data,'approve')">Aprovar</li>
                <li nz-menu-item *ngIf="data?.status == WithdrawalStatus.DISPATCH"
                  (click)="openModalWithdrawal(data, 'reject')">Rejeitar</li>
                <li nz-menu-item *ngIf="data?.status == WithdrawalStatus.SUBMITTED"
                  (click)="openModalWithdrawal(data, 'analyse')">Analisar</li>
                <li nz-menu-item *ngIf="data?.status == WithdrawalStatus.ANALYSIS"
                  (click)="openModalWithdrawal(data, 'dispatch')">Despacho</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>

        <tr [nzExpand]="mapOfExpandData[data.id]">
          <td [attr.colspan]="columns.length + 3">
            <fi-sas-view-withdrawal [data]="data"></fi-sas-view-withdrawal>
          </td>
        </tr>

      </ng-template>
    </tbody>
  </nz-table>
</div>

<nz-modal [(nzVisible)]="isChangeStatusModalVisible" [nzTitle]="modalTitle()" nzWidth="900" [nzOkText]="modalOkButton()"
  nzCancelText="Cancelar" (nzOnOk)="handleChangeStatus()" (nzOnCancel)="handleChangeStatusCancel()"
  [nzOkLoading]="changeStatusModalLoading">

  <div nz-row nzType="flex" *ngIf="changeStatusModalAction=='dispatch'">
    <div nz-col nzSpan="4">
      Decisão:
    </div>
    <div nz-col nzSpan="20">
      <nz-select [(ngModel)]="changeStatusModalDecision" style="width:50%">
        <nz-option nzValue="APPROVE" nzLabel="Aprovar"></nz-option>
        <nz-option nzValue="REJECT" nzLabel="Rejeitar"></nz-option>
      </nz-select>
    </div>
  </div>
  <br>
  <div nz-row nzType="flex">
    <div nz-col nzSpan="4">
      Observações:
    </div>
    <div nz-col nzSpan="20">
      <textarea  nz-input [(ngModel)]="changeStatusModalNotes" rows="4"></textarea>
    </div>
  </div>
</nz-modal>
