<div nz-row>

  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
    <h2 class="title-top-page">
      {{ "EMERGENCY_FUND.LIST_APPLICATIONS.CARD.BUTTON.CHANGE_REQUEST" | translate }}
    </h2>
    <span *ngIf="!consult">{{ "EMERGENCY_FUND.LIST_APPLICATIONS.CARD.CHANGE_REQUEST_INFO" | translate }}</span>
    <div nz-row>
      <div nz-col>
        <div class="form_information">
          <form nz-form [formGroup]="applicationChangeForm">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="reason">
                <b>{{ "EMERGENCY_FUND.LIST_APPLICATIONS.EXPOSURE" | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <textarea class="primary-textarea" nz-input rows="5" formControlName="reason"
                  [ngClass]="{ 'error__input': submitted && f.reason.errors, 'disabled-input': consult?true:false }"
                  placeholder="{{ 'EMERGENCY_FUND.LIST_APPLICATIONS.EXPOSURE_INFO' | translate }}"></textarea>
              </nz-form-control>
              <nz-form-explain class="error" *ngIf="submitted && f.reason.errors?.required">
                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
              </nz-form-explain>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzFor="file_id">
                <b>{{ "CONTRACT_ACTIONS.ATTACHMENT" | translate
                  }}</b>
              </nz-form-label>
              <div class="desc-title-form" *ngIf="!consult">
                {{ 'U_BIKE.FORMS.FILES.DESCRIPTION' | translate }}
              </div>
              <nz-form-control *ngIf="!consult">
                <app-file-upload formControlName="file_id" [filterTypes]="filterTypes" (fileDeleted)="f.file_id.setValue(null)">
                </app-file-upload>
                <div class="font-upload">
                  {{ 'MISC.FORMAT_UPLOAD_MORE' | translate }} pdf, png, jpg. {{ 'MISC.LIMIT_MAX_FILE' | translate }}
                </div>
              </nz-form-control>
              <div *ngIf="consult && file">
                <div *ngIf="file?.type == 'IMAGE'">
                  <a target="_blank" [href]="file?.url">
                    <img [src]="file?.url" width="100px">
                  </a>
                </div>
                <div *ngIf="file?.type != 'IMAGE'">
                  <a target="_blank" [href]="file?.url">
                    <img src="/assets/imgs/doc.PNG" width="100px">
                  </a>
                </div>
              </div>
              <div *ngIf="consult && !file">
                -
              </div>
            </nz-form-item>


            <nz-form-item *ngIf="consult && changesEdit.application_change_response != null">
              <nz-form-label  nzFor="response">
                <b>{{ "EMERGENCY_FUND.LIST_APPLICATIONS_CHANGES.RESPONSE" | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <textarea class="primary-textarea" nz-input rows="5" formControlName="response"
                  [ngClass]="{ 'error__input': submitted && f.response.errors, 'disabled-input': consult?true:false }"
                  placeholder="{{ 'EMERGENCY_FUND.LIST_APPLICATIONS.EXPOSURE_INFO' | translate }}"></textarea>
              </nz-form-control>
            </nz-form-item>


            <div nz-row class="submit">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <app-button (click)="close()" style="margin-right: 15px;"
                  [translate]="!consult?'MISC.CANCEL':'MISC.RETURN'" [type]="'secundary'">
                </app-button>
                <app-button *ngIf="!consult" [loading]="isLoading" (click)="onSubmit()" [translate]="'MISC.SUBMIT'">
                </app-button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
