<p>Selecione o ocupante no qual quer fazer a troca de quarto.</p>
<nz-form-item  nzFlex>
    <nz-select [(ngModel)]="selected_room" name="selected_room" nzPlaceHolder="Quarto" style="width: 100%;">
      <nz-option
        *ngFor="let room of rooms"
        [nzLabel]="room.name"
        [nzValue]="room"
        [nzDisabled]="!room.active">
      </nz-option>
    </nz-select>
</nz-form-item>
<nz-form-item  nzFlex>
    <nz-select [(ngModel)]="premute_with_id" name="premute_with_id" nzPlaceHolder="Ocupante" style="width: 100%;">
      <nz-option
        *ngFor="let application of (selected_room && selected_room.occupants ? selected_room.occupants : [])"
        [nzLabel]="application.full_name"
        [nzValue]="application.id">
      </nz-option>
    </nz-select>
</nz-form-item>