<!--<div *ngFor="let row of formatedSchedule">
  {{ row?.day_week_translation | translate | titlecase }}
  {{ 'SHARED.SCHEDULE.AT' | translate }}
  {{ row?.day_period_translation | translate | titlecase }}
  {{ 'SHARED.SCHEDULE.FROM' | translate }}
  {{ row?.time_begin | date: 'HH:mm' }}h - {{ row?.time_end | date: 'HH:mm' }}h
</div>-->


<table class="schedules hidden-xs">
  <tr>
    <th></th>
    <th>{{'SHARED.SCHEDULE.WEEK_DAYS.SUNDAY' | translate}}</th>
    <th>{{'SHARED.SCHEDULE.WEEK_DAYS.MONDAY' | translate}}</th>
    <th>{{'SHARED.SCHEDULE.WEEK_DAYS.TUESDAY' | translate}}</th>
    <th>{{'SHARED.SCHEDULE.WEEK_DAYS.WEDNESDAY' | translate}}</th>
    <th>{{'SHARED.SCHEDULE.WEEK_DAYS.THURSDAY' | translate}}</th>
    <th>{{'SHARED.SCHEDULE.WEEK_DAYS.FRIDAY' | translate}}</th>
    <th>{{'SHARED.SCHEDULE.WEEK_DAYS.SATURDAY' | translate}}</th>
  </tr>
  <tr>
    <td>{{'SHARED.SCHEDULE.PERIOD.MORNING' | translate}}</td>
    <td class="font-text">
      <i *ngIf="schedules[1].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[1].begin ? (schedules[1].begin | date: 'H:mm') : '-' }}
      {{'SHARED.SCHEDULE.UNTIL' | translate}} {{ schedules[1].end ? (schedules[1].end | date: 'H:mm') : '-' }}
    </td>
    <td class="font-text">
      <i *ngIf="schedules[4].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[4].begin ? (schedules[4].begin | date: 'H:mm') : '-' }}
      {{'SHARED.SCHEDULE.UNTIL' | translate}} {{ schedules[4].end ? (schedules[4].end | date: 'H:mm') : '-' }}
    </td>
    <td class="font-text">
      <i *ngIf="schedules[7].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[7].begin ? (schedules[7].begin | date: 'H:mm') : '-' }}
      {{'SHARED.SCHEDULE.UNTIL' | translate}} {{ schedules[7].end ? (schedules[7].end | date: 'H:mm') : '-' }}
    </td>
    <td class="font-text">
      <i *ngIf="schedules[10].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[10].begin ? (schedules[10].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[10].end ? (schedules[10].end | date: 'H:mm') : '-' }}
    </td>
    <td class="font-text">
      <i *ngIf="schedules[13].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[13].begin ? (schedules[13].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[13].end ? (schedules[13].end | date: 'H:mm') : '-' }}
    </td>
    <td class="font-text">
      <i *ngIf="schedules[16].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[16].begin ? (schedules[16].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[16].end ? (schedules[16].end | date: 'H:mm') : '-' }}
    </td>
    <td class="font-text">
      <i *ngIf="schedules[19].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[19].begin ? (schedules[19].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[19].end ? (schedules[19].end | date: 'H:mm') : '-' }}
    </td>
  </tr>
  <tr>
    <td>{{'SHARED.SCHEDULE.PERIOD.AFTERNOON' | translate}}</td>
    <td class="font-text">
      <i *ngIf="schedules[2].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[2].begin ? (schedules[2].begin | date: 'H:mm') : '-' }}
      {{'SHARED.SCHEDULE.UNTIL' | translate}} {{ schedules[2].end ? (schedules[2].end | date: 'H:mm') : '-' }}
    </td>
    <td class="font-text">
      <i *ngIf="schedules[5].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[5].begin ? (schedules[5].begin | date: 'H:mm') : '-' }}
      {{'SHARED.SCHEDULE.UNTIL' | translate}} {{ schedules[5].end ? (schedules[5].end | date: 'H:mm') : '-' }}
    </td>
    <td class="font-text">
      <i *ngIf="schedules[8].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[8].begin ? (schedules[8].begin | date: 'H:mm') : '-' }}
      {{'SHARED.SCHEDULE.UNTIL' | translate}} {{ schedules[8].end ? (schedules[8].end | date: 'H:mm') : '-' }}
    </td>
    <td class="font-text">
      <i *ngIf="schedules[11].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[11].begin ? (schedules[11].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[11].end ? (schedules[11].end | date: 'H:mm') : '-' }}
    </td>
    <td class="font-text">
      <i *ngIf="schedules[14].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[14].begin ? (schedules[14].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[14].end ? (schedules[14].end | date: 'H:mm') : '-' }}
    </td>
    <td class="font-text">
      <i *ngIf="schedules[17].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[17].begin ? (schedules[17].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[17].end ? (schedules[17].end | date: 'H:mm') : '-' }}
    </td>
    <td class="font-text">
      <i *ngIf="schedules[20].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[20].begin ? (schedules[20].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[20].end ? (schedules[20].end | date: 'H:mm') : '-' }}
    </td>
  </tr>
  <tr>
    <td>{{'SHARED.SCHEDULE.PERIOD.NIGHT' | translate}}</td>
    <td class="font-text">
      <i *ngIf="schedules[3].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[3].begin ? (schedules[3].begin | date: 'H:mm') : '-' }}
      {{'SHARED.SCHEDULE.UNTIL' | translate}} {{ schedules[3].end ? (schedules[3].end | date: 'H:mm') : '-' }}
    </td>
    <td class="font-text">
      <i *ngIf="schedules[6].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[6].begin ? (schedules[6].begin | date: 'H:mm') : '-' }}
      {{'SHARED.SCHEDULE.UNTIL' | translate}} {{ schedules[6].end ? (schedules[6].end | date: 'H:mm') : '-' }}
    </td>
    <td class="font-text">
      <i *ngIf="schedules[9].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[9].begin ? (schedules[9].begin | date: 'H:mm') : '-' }}
      {{'SHARED.SCHEDULE.UNTIL' | translate}} {{ schedules[9].end ? (schedules[9].end | date: 'H:mm') : '-' }}
    </td>
    <td class="font-text">
      <i *ngIf="schedules[12].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[12].begin ? (schedules[12].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[12].end ? (schedules[12].end | date: 'H:mm') : '-' }}
    </td>
    <td class="font-text">
      <i *ngIf="schedules[15].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[15].begin ? (schedules[15].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[15].end ? (schedules[15].end | date: 'H:mm') : '-' }}
    </td>
    <td class="font-text">
      <i *ngIf="schedules[18].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[18].begin ? (schedules[18].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[18].end ? (schedules[18].end | date: 'H:mm') : '-' }}
    </td>
    <td class="font-text">
      <i *ngIf="schedules[21].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[21].begin ? (schedules[21].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[21].end ? (schedules[21].end | date: 'H:mm') : '-' }}
    </td>
  </tr>
</table>

<div class="hidden-md">
  <div nz-row class="text-center">
    {{'SHARED.SCHEDULE.WEEK_DAYS.SUNDAY' | translate}}
  </div>
  <div nz-row>
    <div nz-col [nzXs]="10" >
      {{'SHARED.SCHEDULE.PERIOD.MORNING' | translate}}
    </div>
    <div nz-col [nzXs]="14" class="font-text">
      <i *ngIf="schedules[1].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[1].begin ? (schedules[1].begin | date: 'H:mm') : '-' }}
      {{'SHARED.SCHEDULE.UNTIL' | translate}} {{ schedules[1].end ? (schedules[1].end | date: 'H:mm') : '-' }}
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="10">
      {{'SHARED.SCHEDULE.PERIOD.AFTERNOON' | translate}}
    </div>
    <div nz-col [nzXs]="14" class="font-text">
      <i *ngIf="schedules[2].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[2].begin ? (schedules[2].begin | date: 'H:mm') : '-' }}
      {{'SHARED.SCHEDULE.UNTIL' | translate}} {{ schedules[2].end ? (schedules[2].end | date: 'H:mm') : '-' }}
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="10">
      {{'SHARED.SCHEDULE.PERIOD.NIGHT' | translate}}
    </div>
    <div nz-col [nzXs]="14" class="font-text">
      <i *ngIf="schedules[3].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[3].begin ? (schedules[3].begin | date: 'H:mm') : '-' }}
      {{'SHARED.SCHEDULE.UNTIL' | translate}} {{ schedules[3].end ? (schedules[3].end | date: 'H:mm') : '-' }}
    </div>
  </div>
  <div nz-row class="text-center">
    {{'SHARED.SCHEDULE.WEEK_DAYS.MONDAY' | translate}}
  </div>
  <div nz-row>
    <div nz-col [nzXs]="10">
      {{'SHARED.SCHEDULE.PERIOD.MORNING' | translate}}
    </div>
    <div nz-col [nzXs]="14" class="font-text">
      <i *ngIf="schedules[4].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[4].begin ? (schedules[4].begin | date: 'H:mm') : '-' }}
      {{'SHARED.SCHEDULE.UNTIL' | translate}} {{ schedules[4].end ? (schedules[4].end | date: 'H:mm') : '-' }}
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="10">
      {{'SHARED.SCHEDULE.PERIOD.AFTERNOON' | translate}}
    </div>
    <div nz-col [nzXs]="14" class="font-text">
      <i *ngIf="schedules[5].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[5].begin ? (schedules[5].begin | date: 'H:mm') : '-' }}
      {{'SHARED.SCHEDULE.UNTIL' | translate}} {{ schedules[5].end ? (schedules[5].end | date: 'H:mm') : '-' }}
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="10">
      {{'SHARED.SCHEDULE.PERIOD.NIGHT' | translate}}
    </div>
    <div nz-col [nzXs]="14" class="font-text">
      <i *ngIf="schedules[6].active" nz-icon nzType="check"  nzTheme="outline" class="green"></i>
      {{ schedules[6].begin ? (schedules[6].begin | date: 'H:mm') : '-' }}
      {{'SHARED.SCHEDULE.UNTIL' | translate}} {{ schedules[6].end ? (schedules[6].end | date: 'H:mm') : '-' }}
    </div>
  </div>
  <div nz-row class="text-center">
    {{'SHARED.SCHEDULE.WEEK_DAYS.TUESDAY' | translate}}
  </div>
  <div nz-row>
    <div nz-col [nzXs]="10">
      {{'SHARED.SCHEDULE.PERIOD.MORNING' | translate}}
    </div>
    <div nz-col [nzXs]="14" class="font-text">
      <i *ngIf="schedules[7].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[7].begin ? (schedules[7].begin | date: 'H:mm') : '-' }}
      {{'SHARED.SCHEDULE.UNTIL' | translate}} {{ schedules[7].end ? (schedules[7].end | date: 'H:mm') : '-' }}
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="10">
      {{'SHARED.SCHEDULE.PERIOD.AFTERNOON' | translate}}
    </div>
    <div nz-col [nzXs]="14" class="font-text">
      <i *ngIf="schedules[8].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[8].begin ? (schedules[8].begin | date: 'H:mm') : '-' }}
      {{'SHARED.SCHEDULE.UNTIL' | translate}} {{ schedules[8].end ? (schedules[8].end | date: 'H:mm') : '-' }}
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="10">
      {{'SHARED.SCHEDULE.PERIOD.NIGHT' | translate}}
    </div>
    <div nz-col [nzXs]="14" class="font-text">
      <i *ngIf="schedules[9].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[9].begin ? (schedules[9].begin | date: 'H:mm') : '-' }}
      {{'SHARED.SCHEDULE.UNTIL' | translate}} {{ schedules[9].end ? (schedules[9].end | date: 'H:mm') : '-' }}
    </div>
  </div>
  <div nz-row class="text-center">
    {{'SHARED.SCHEDULE.WEEK_DAYS.WEDNESDAY' | translate}}
  </div>
  <div nz-row>
    <div nz-col [nzXs]="10">
      {{'SHARED.SCHEDULE.PERIOD.MORNING' | translate}}
    </div>
    <div nz-col [nzXs]="14" class="font-text">
      <i *ngIf="schedules[10].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[10].begin ? (schedules[10].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[10].end ? (schedules[10].end | date: 'H:mm') : '-' }}
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="10">
      {{'SHARED.SCHEDULE.PERIOD.AFTERNOON' | translate}}
    </div>
    <div nz-col [nzXs]="14" class="font-text">
      <i *ngIf="schedules[11].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[11].begin ? (schedules[11].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[11].end ? (schedules[11].end | date: 'H:mm') : '-' }}
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="10">
      {{'SHARED.SCHEDULE.PERIOD.NIGHT' | translate}}
    </div>
    <div nz-col [nzXs]="14" class="font-text">
      <i *ngIf="schedules[12].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[12].begin ? (schedules[12].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[12].end ? (schedules[12].end | date: 'H:mm') : '-' }}
    </div>
  </div>

  <div nz-row class="text-center">
    {{'SHARED.SCHEDULE.WEEK_DAYS.THURSDAY' | translate}}
  </div>
  <div nz-row>
    <div nz-col [nzXs]="10">
      {{'SHARED.SCHEDULE.PERIOD.MORNING' | translate}}
    </div>
    <div nz-col [nzXs]="14" class="font-text">
      <i *ngIf="schedules[13].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[13].begin ? (schedules[13].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[13].end ? (schedules[13].end | date: 'H:mm') : '-' }}
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="10">
      {{'SHARED.SCHEDULE.PERIOD.AFTERNOON' | translate}}
    </div>
    <div nz-col [nzXs]="14" class="font-text">
      <i *ngIf="schedules[14].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[14].begin ? (schedules[14].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[14].end ? (schedules[14].end | date: 'H:mm') : '-' }}
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="10">
      {{'SHARED.SCHEDULE.PERIOD.NIGHT' | translate}}
    </div>
    <div nz-col [nzXs]="14" class="font-text">
      <i *ngIf="schedules[15].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[15].begin ? (schedules[15].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[15].end ? (schedules[15].end | date: 'H:mm') : '-' }}
    </div>
  </div>

  <div nz-row class="text-center">
    {{'SHARED.SCHEDULE.WEEK_DAYS.FRIDAY' | translate}}
  </div>
  <div nz-row>
    <div nz-col [nzXs]="10">
      {{'SHARED.SCHEDULE.PERIOD.MORNING' | translate}}
    </div>
    <div nz-col [nzXs]="14" class="font-text">
      <i *ngIf="schedules[16].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[16].begin ? (schedules[16].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[16].end ? (schedules[16].end | date: 'H:mm') : '-' }}
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="10">
      {{'SHARED.SCHEDULE.PERIOD.AFTERNOON' | translate}}
    </div>
    <div nz-col [nzXs]="14" class="font-text">
      <i *ngIf="schedules[17].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[17].begin ? (schedules[17].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[17].end ? (schedules[17].end | date: 'H:mm') : '-' }}
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="10">
      {{'SHARED.SCHEDULE.PERIOD.NIGHT' | translate}}
    </div>
    <div nz-col [nzXs]="14" class="font-text">
      <i *ngIf="schedules[18].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[18].begin ? (schedules[18].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[18].end ? (schedules[18].end | date: 'H:mm') : '-' }}
    </div>
  </div>

  <div nz-row class="text-center">
    {{'SHARED.SCHEDULE.WEEK_DAYS.SATURDAY' | translate}}
  </div>
  <div nz-row>
    <div nz-col [nzXs]="10">
      {{'SHARED.SCHEDULE.PERIOD.MORNING' | translate}}
    </div>
    <div nz-col [nzXs]="14" class="font-text">
      <i *ngIf="schedules[19].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[19].begin ? (schedules[19].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[19].end ? (schedules[19].end | date: 'H:mm') : '-' }}
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="10">
      {{'SHARED.SCHEDULE.PERIOD.AFTERNOON' | translate}}
    </div>
    <div nz-col [nzXs]="14" class="font-text">
      <i *ngIf="schedules[20].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[20].begin ? (schedules[20].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[20].end ? (schedules[20].end | date: 'H:mm') : '-' }}
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="10">
      {{'SHARED.SCHEDULE.PERIOD.NIGHT' | translate}}
    </div>
    <div nz-col [nzXs]="14" class="font-text">
      <i *ngIf="schedules[21].active" nz-icon nzType="check" nzTheme="outline" class="green"></i>
      {{ schedules[21].begin ? (schedules[21].begin | date: 'H:mm') : '-' }} {{'SHARED.SCHEDULE.UNTIL' | translate}}
      {{ schedules[21].end ? (schedules[21].end | date: 'H:mm') : '-' }}
    </div>
  </div>
</div>