<div class="application-card" (click)="goToApplicationReview()">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
      <app-application-status-badge [data]="application"></app-application-status-badge>
    </div>
  </div>

  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="padding-bottom-20">
      <div class="application-card--title">
        {{ 'VOLUNTEERING.BUTTONS.APPLY_TO' | translate }}
        {{
          translations?.length > 1
            ? (translations | languageChange)?.name
            : ('DASHBOARD.BUTTON.VOLUNTEERING' | translate)
        }}
      </div>
    </div>
  </div>
  <div nz-row class="padding-bottom-20">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-bottom-mobile-20">
      <div class="title-detail">{{ 'SOCIAL_SUPPORT.APPLICATIONS.SUBMITTED_ON' | translate }}</div>
      <div class="description-detail">
        {{ application?.created_at | date: 'dd-MM-yyyy' }}
      </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16" [nzLg]="16" [nzXl]="16" [nzXXl]="16">
      <div class="title-detail">{{ 'SOCIAL_SUPPORT.APPLICATIONS.ORGANIC_UNIT' | translate }}</div>
      <div class="description-detail">{{ application?.school?.name }} - {{ application?.school?.code }}</div>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
      <div class="title-detail">{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_IDENTIFICATION.SCHOOL_YEAR' | translate }}</div>
      <div class="description-detail">
        {{ application?.academic_year }}
      </div>
    </div>
  </div>
</div>
