<div class="container">
  <div class="content-table">
    <nz-table
      class="table"
      #refTable
      [nzData]="data"
      (nzCurrentPageDataChange)="currentPageDataChange($event)"
      [nzLoading]="loading"
      [nzFrontPagination]="false"
      [(nzPageIndex)]="pageIndex"
      [nzShowSizeChanger]="true"
      [nzTotal]="totalData"
      [nzScroll]="{ x: '240px' }"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="pagination()"
      (nzPageSizeChange)="pagination(true)"
    >
      <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr class="table__header">
          <th nzShowSort nzSortKey="schedule_date">Data de publicação</th>
          <th>Grupo Destinatário</th>
          <th nzShowSort nzSortKey="created_at">Data de criação</th>
          <th>Categoria</th>
          <th>Criado por</th>
          <th>Estado</th>
          <th nzRight="0px">Ações</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="refTable.data">
          <tr>
            <td>
              {{ data?.schedule_date | date: 'dd/MM/yyyy hh:mm:ss' }}
            </td>
            <td>
              {{ data?.target?.name }}
            </td>
            <td>
              {{ data?.created_at | date: 'dd/MM/yyyy' }}
            </td>
            <td>
              {{ validTranslateName(3, data?.category?.translations) }}
            </td>
            <td>
              {{ data?.created_by?.name }}
            </td>
            <td>
              <nz-tag
                [nzMode]="'checkable'"
                class="cursor"
                *ngIf="data.status === 'APPROVED' || data.status === 'SENT'"
                [nzColor]="'green'"
                >{{
                  data.status === 'APPROVED' ? 'Aprovado' : 'Enviado'
                }}</nz-tag
              >
              <nz-tag
                [nzMode]="'checkable'"
                class="cursor"
                *ngIf="data.status === 'WAITING_APPROVAL'"
                [nzColor]="'blue'"
                >Em espera</nz-tag
              >
              <nz-tag
                [nzMode]="'checkable'"
                class="cursor"
                *ngIf="
                  data.status === 'REJECTED' ||
                  data.status === 'CANCELED' ||
                  data?.status == 'FAILED'
                "
                [nzColor]="'red'"
                >{{
                  data.status === 'REJECTED'
                    ? 'Rejeitado'
                    : data.status === 'CANCELED'
                    ? 'Cancelado'
                    : data.status === 'FAILED'
                    ? 'Falha'
                    : ''
                }}</nz-tag
              >
            </td>
            <td nzRight="0px">
              <button
                nz-button
                nz-dropdown
                nzType="link"
                class="options_button"
                [nzDropdownMenu]="menu"
                nzPlacement="bottomRight"
              >
                <i nz-icon nzType="dash" nzTheme="outline"></i>
              </button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li
                    [nzDisabled]="
                      !('communication:target_posts:status' | hasPermission) ||
                      data?.status != 'WAITING_APPROVAL'
                    "
                    (click)="status(data.id, 'APPROVE', data)"
                    nz-menu-item
                  >
                    Aprovar
                  </li>
                  <li
                    [nzDisabled]="
                      !('communication:target_posts:status' | hasPermission) ||
                      data?.status != 'WAITING_APPROVAL'
                    "
                    (click)="status(data.id, 'CANCEL', data)"
                    nz-menu-item
                  >
                    Cancelar
                  </li>
                  <li
                    [nzDisabled]="
                      !('communication:target_posts:status' | hasPermission) ||
                      data?.status != 'WAITING_APPROVAL'
                    "
                    (click)="status(data.id, 'REJECT', data)"
                    nz-menu-item
                  >
                    Rejeitar
                  </li>
                  <li
                    [nzDisabled]="
                      !('communication:target_posts:update' | hasPermission)
                    "
                    (click)="edit(data.id)"
                    nz-menu-item
                  >
                    Editar
                  </li>
                </ul>
              </nz-dropdown-menu>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </div>
</div>
