<div nzType="flex" nzAlign="middle" nzJustify="center" perfectScrollbar class="page ps scroll-container">
  <div class="container">
    <form [formGroup]="wharehouseForm" nzLayout="vertical">
      <nz-spin [nzSpinning]="loading">
        <div nz-row>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="padding-right-20">
            <div nz-row>
              <nz-form-label nzRequired>
                Nome
              </nz-form-label>
              <nz-form-control>
                <input type="text" nz-input formControlName="name">
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submitted && f.name.errors">
                Campo Obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>
        <div nz-row style="padding-top: 20px;">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
            <div nz-row class="padding-bottom-5">
              <nz-form-label nzRequired>
                Ativo
              </nz-form-label>
            </div>
            <div nz-row class="padding-bottom-5 padding-top-5">
              <nz-switch formControlName="active">
              </nz-switch>
              <nz-form-explain class="color-required" *ngIf="submitted && f.active.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>
      </nz-spin>
    </form>
  </div>
  <div class="space">
    <button *ngIf="id != undefined" nz-button (click)="backList()">Voltar</button>
    <button nz-button [nzLoading]="loading" [disabled]="loading"
      (click)="id != undefined ? submitWharehouse(true) : submitWharehouse(false)" class="button-submit"
      [nzType]="'primary'">{{id
      != undefined ? 'Editar' : 'Criar'}}</button>
  </div>
</div>
