<form *ngIf="form" nz-form [formGroup]="form">
  <div nz-row>
    <h2 class="title-top-page">
      {{
        translations?.length > 1
          ? (translations | languageChange)?.name
          : ('SOCIAL_SUPPORT.ATTENDANCES.REJECT_FORM.TITLE' | translate)
      }}
    </h2>
    <p class="sub-title-top-page font">{{ 'SOCIAL_SUPPORT.ATTENDANCES.REJECT_FORM.SUBTITLE' | translate }}</p>
  </div>

  <nz-divider></nz-divider>

  <div class="form--description">
    <div>{{ 'SOCIAL_SUPPORT.ATTENDANCES.REJECT_FORM.DESCRIPTION_TITLE' | translate }}</div>
    <div class="form--description--name">{{ attendance.user_interest?.user?.name }}</div>
    <div class="form--description-hours">
      {{ 'SOCIAL_SUPPORT.ATTENDANCES.REJECT_FORM.DESCRIPTION.DAY' | translate }}
      <span style="color: black; font-weight: bold">{{ attendance.date | date: 'dd-MM-yyyy' }}</span>
      {{ 'SOCIAL_SUPPORT.ATTENDANCES.REJECT_FORM.DESCRIPTION.TOTAL' | translate }}
      <span style="color: black; font-weight: bold">{{ getHours(attendance.n_hours) }}</span>
      {{ 'SOCIAL_SUPPORT.ATTENDANCES.REJECT_FORM.DESCRIPTION.COLLABORATION' | translate }}
    </div>
  </div>

  <nz-divider></nz-divider>

  <div nz-row nzGutter="34">
    <div nz-col nzXs="24" nzSm="8">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="initial_time" class="primary-input-label">
          {{ 'SOCIAL_SUPPORT.ATTENDANCES.FORM.INITIAL_TIME' | translate }}
        </nz-form-label>

        <nz-form-control>
          <nz-time-picker
            class="primary-timePicker"
            formControlName="initial_time"
            id="initial_time"
            name="hourInitialModal"
            nzFormat="HH:mm"
            [nzMinuteStep]="minuteStep"
            [nzAllowEmpty]="!form.get('initial_time').disabled"
            [nzPlaceHolder]="'SOCIAL_SUPPORT.ATTENDANCES.FORM.INITIAL_TIME' | translate"
          ></nz-time-picker>
          <nz-form-explain class="error" *ngIf="form.get('initial_time')?.dirty && form.get('initial_time').errors">
            {{ getInputError('initial_time') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="24" nzSm="8">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="final_time" class="primary-input-label">
          {{ 'SOCIAL_SUPPORT.ATTENDANCES.FORM.FINAL_TIME' | translate }}
        </nz-form-label>

        <nz-form-control>
          <nz-time-picker
            class="primary-timePicker"
            formControlName="final_time"
            id="final_time"
            name="hourFinalModal"
            nzFormat="HH:mm"
            [nzMinuteStep]="minuteStep"
            [nzAllowEmpty]="!form.get('final_time').disabled"
            [nzPlaceHolder]="'SOCIAL_SUPPORT.ATTENDANCES.FORM.FINAL_TIME' | translate"
          ></nz-time-picker>
        </nz-form-control>
        <nz-form-explain class="error">
          {{ form.get('final_time')?.dirty && form.get('final_time').errors ? getInputError('final_time') : '' }}
          {{ errorDates ? ('FORM.MESSAGE.TIME' | translate) : '' }}
        </nz-form-explain>
      </nz-form-item>
    </div>

    <div nz-col nzXs="24" nzSm="8">
      <nz-form-item class="form__inputs--hours">
        <nz-form-label nzFor="final_time" class="primary-input-label">
          {{ 'SOCIAL_SUPPORT.ATTENDANCES.REJECT_FORM.REAL_HOURS' | translate }}
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            class="primary-input text-center"
            formControlName="real_hours"
            [dropSpecialCharacters]="false"
            [readonly]="true"
            [showMaskTyped]="true"
            mask="Hh:m0"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="reject_reason" class="primary-input-label">
          {{ 'SOCIAL_SUPPORT.ATTENDANCES.REJECT_FORM.JUSTIFICATION' | translate }}
        </nz-form-label>

        <nz-form-control>
          <textarea
            nz-input
            [maxlength]="MAX_TEXTAREA_CHARS"
            id="reject_reason"
            class="primary-textarea"
            rows="5"
            formControlName="reject_reason"
          ></textarea>
          <nz-form-explain *ngIf="form.get('reject_reason')?.dirty && form.get('reject_reason').errors" class="error">
            {{ getInputError('reject_reason') }}
          </nz-form-explain>
          <nz-form-explain class="text-right"
            >{{ (form.get('reject_reason').value || '').length }} / {{ MAX_TEXTAREA_CHARS }}</nz-form-explain
          >
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34" class="form--buttons">
    <div nz-col nzXs="12">
      <app-button type="secundary" translate="MISC.CANCEL" (click)="close()"> </app-button>
    </div>

    <div nz-col nzXs="12" style="text-align: right">
      <app-button type="red" translate="MISC.REJECT" [loading]="isLoading" (click)="onSubmit()"></app-button>
    </div>
  </div>
</form>
