<StackLayout>
    <!-- custom action bar -->
    <StackLayout class="fisas__actionbar">
        <StackLayout orientation="horizontal">
            <!-- back icon -->
            <Label verticalAlignment="center" class="fisas__icon" text="&#xe906;" (tap)="back()"></Label>
            <StackLayout style="width: 100%;">
                <FlexboxLayout style="width:100%; justify-content:center;">
                    <!-- origin -->
                    <StackLayout verticalAlignment="center">
                        <Label class="fisas__p--light-medium" [text]='originProp.label'></Label>
                    </StackLayout>
                    <!-- arrow icon -->
                    <Label class="fisas__icon mobility-route__arrow_icon" text="&#xe90f;"></Label>
                    <!-- destination -->
                    <StackLayout verticalAlignment="center">
                        <Label verticalAlignment="center" class="fisas__p--light-medium" [text]='destinationProp.label'></Label>
                    </StackLayout>
                </FlexboxLayout>
                <!-- date -->
                <FlexboxLayout style="justify-content: center; width: 100%">
                    <Label *ngIf="dateProp" class="mobility-route__dateText" [text]='datePropString'></Label>
                    <Label *ngIf="!dateProp" class="mobility-route__dateText" text="{{ 'mobility.today' | translate }}"></Label>
                </FlexboxLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
    
    <!-- loader -->
    <StackLayout class="fisas__form__block" marginTop="40" *ngIf="isLoading">
        <ActivityIndicator row="1" #activityIndicator [busy]="isLoading" width="100%" height="50" color="lightgray" class="fisas__loading"></ActivityIndicator>
    </StackLayout>

    <!-- loaded content -->
    <StackLayout *ngIf="!isLoading">
        <!-- no content labels -->
        <StackLayout *ngIf="respStatus === undefined || route.length == 0" justifyContent="center" class="mobility-route__container">
            <Label
                class="fisas__p" style="width: 80%;" marginTop="30%" textWrap = "true" textAlignment="center"
                text="{{ 'mobility.noContent' | translate }}"
            ></Label>
            <Label
                class="fisas__icon mobility-route__icon mobility-route__busicon" text="&#xe924;" marginTop="20" horizontalAlignment="center" verticalAlignment="center"
            ></Label>
        </StackLayout>
    

        <!-- available routes list -->
        <StackLayout *ngIf="respStatus === 'sucess'" justifyContent="center" class="mobility-route__container">
            <ScrollView orientation="vertical">
                <StackLayout>
                    <ng-container *ngFor="let item of route">
                        <!-- route box -->
                        <StackLayout class="mobility-route__routebox" orientation="horizontal" (tap)="passDetailProps(item)" [nsRouterLink]="['/mobility/detail']">
                            <!-- bus icon -->
                            <StackLayout verticalAlignment='center'>
                                <Label class="fisas__icon mobility-route__icon mobility-route__busicon" text="&#xe917;"></Label>
                            </StackLayout>
                            <StackLayout>
                                <!-- DIV for arrival & hours -->
                                <FlexboxLayout class="mobility-route__infos">
                                    <StackLayout>
                                        <Label text="{{ 'mobility.departure' | translate }}" class="mobility-route__smalltext"></Label>
                                        <Label textWrap="true" text="{{ item?.departure_hour.slice(0,5) }}"></Label>
                                    </StackLayout>
                                    <!-- arrow icon -->
                                    <Label class="fisas__icon mobility-route__icon" style="color: #f3f3f3;" text="&#xe90f;"></Label>
                                    <StackLayout>
                                        <Label text="{{ 'mobility.arrival' | translate }}" class="mobility-route__smalltext"></Label>
                                        <Label textWrap="true" text="{{ item?.arrival_hour.slice(0, 5) }}"></Label>
                                    </StackLayout>
                                    <Label class="fisas__icon mobility-route__icon" text="&#xe912;"></Label>
                                </FlexboxLayout>
                                <!-- DIVIDER BAR -->
                                <StackLayout class="hr-light" style="width: 90%;"></StackLayout>
                                <!-- DIV for time | stops | prices  -->
                                <FlexboxLayout class="mobility-route__infos">
                                    <Label textWrap="true" class="mobility-route__smalltext" text="{{item?.timedifcalc}}"></Label>
                                    <Label textWrap="true" class="mobility-route__smalltext" text="{{ item?.stops }} {{ 'mobility.stops' | translate }}"></Label>
                                    <Label textWrap="true" class="mobility-route__pricetext fisas__border--{{ institution }}" text="{{ item?.tickets_prices_total | number : '1.2-2' }} €"></Label>
                                </FlexboxLayout>
                            </StackLayout>
                        </StackLayout>
                    </ng-container>
                </StackLayout>
            </ScrollView>
        </StackLayout>
    </StackLayout>
</StackLayout>
