@import "~/scss/_variables";

.mobility-route {
    &__container{
        height: 100%;
        background-color: #f3f3f3;
    }
    &__routebox{
        height:101;
        background-color: white;
        width: 90%;
        margin-top: 10;
        margin-bottom: 10;
        border-radius: 9;
    }
    &__busicon{
        margin: 15;
    }
    &__icon{
        font-size: 30;
    }
    &__arrow_icon{
        font-size: 20;
        color: #888888;
        margin: 7;
    }
    &__smalltext{
        height: 20;
        font-family: "Montserrat";
        font-size: 12;
    }
    &__hourtext{
        height: 18;
        font-family: "Montserrat";
        font-size: 13;
    }
    &__pricetext{
        width: 57;
        height: 24;
        border-radius: 21;
        //border-color: #076743;
        border-width: 2;
        font-size: 13;
        font-weight: bold;
        text-align: center;
        font-family: "Montserrat";
    }
    &__infos{
        height:50; 
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    &__propsText{
        color:black;
        font-weight: 300;
        font-size: 18;
    }
    &__dateText{
        color:black;
        font-weight: 500;
        font-size: 10;
    }
}