<div class="content">
  <form nz-form [formGroup]="alertTypeGroup" nzLayout="horizontal">
    <div nz-row nzGutter="16">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="name" nzRequired>Nome</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="name" id="name" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="service_id" nzRequired>Serviço</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <nz-select formControlName="service_id" id="service_id" name="service_id" 
              style="width: 100%" [nzLoading]="load_services">
              <nz-option *ngFor="let service of services" [nzLabel]="(service.translations | translation).name"
                [nzValue]="service.id" [nzDisabled]="!service.active">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzFor="key" nzRequired>Chave</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="key" id="key" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzFor="description" nzRequired>Descrição</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <textarea maxlength="255" nz-input formControlName="description" id="description" nzAutosize="true"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-divider nzText="Modelo"></nz-divider>

    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzFor="alert_template_id" nzRequired>Modelo</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <nz-select formControlName="alert_template_id" id="alert_template_id" name="alert_template_id"
              style="width: 100%" [nzLoading]="load_alert_templates">
              <nz-option *ngFor="let alert_template of alert_templates" [nzLabel]="alert_template.name"
                [nzValue]="alert_template.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzFor="subject" nzRequired>Assunto</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="subject" id="subject" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzFor="simplified_message" nzRequired>Mensagem Simplificada</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <textarea maxlength="255" nz-input formControlName="simplified_message" id="simplified_message"
              nzAutosize="true"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="message" nzRequired>Mensagem</nz-form-label>
          <nz-form-control>
            <div style="height: 500px">
              <ngx-monaco-editor style="height: 100%" [options]="editorOptions" formControlName="message">
              </ngx-monaco-editor>
            </div>
            <nz-form-explain class="color-required" *ngIf="submit && f.message.errors">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12" #preview [innerHTML]="src"></div>
    </div>
    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzFor="data" nzRequired>Dados</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório e com um JSON válido">
            <fi-sas-form-jsonfield formControlName="data" id="data"></fi-sas-form-jsonfield>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-divider nzText="Medias" nzOrientation="left"></nz-divider>

    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col nzSpan="24" formArrayName="medias">
        <div nz-row nzGutter="16" class="line">
          <div nz-col nzSpan="7"><span class="error">* </span>Tipo</div>
          <div nz-col nzSpan="7"><span class="error">* </span>Chave</div>
          <div nz-col nzSpan="7"><span class="error">* </span>Ficheiro</div>
          <div nz-col nzSpan="3">Eliminar</div>
        </div>
        <div nz-row nzGutter="16" *ngFor="let media of getMedias().controls; let i = index" [formGroupName]="i"
          class="line">
          <div nz-col nzSpan="7">
            <nz-form-item>
              <nz-form-control nzErrorTip="Campo obrigatório">
                <nz-select formControlName="type" name="type">
                  <nz-option nzLabel="Anexo" nzValue="ATTACHMENT"></nz-option>
                  <nz-option nzLabel="Imagem" nzValue="IMAGE"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="7">
            <nz-form-item>
              <nz-form-control nzErrorTip="Campo obrigatório">
                <input nz-input formControlName="key" id="key" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="7">
            <nz-form-item>
              <nz-form-control nzErrorTip="Campo obrigatório">
                <fi-sas-upload-file formControlName="file_id"></fi-sas-upload-file>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="3">
            <button nz-button nzType="danger" type="button" (click)="removeMedia(i)">
              <i nz-icon type="delete"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div nz-row nzType="flex" nzJustify="center">
      <div nz-col nzSpan="4">
        <button nz-button nzType="primary" type="button" (click)="addNewMedia()">
          Adicionar
        </button>
      </div>
    </div>

    <nz-divider nzText="Métodos de notificação" nzOrientation="left"></nz-divider>

    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col nzSpan="24" formArrayName="notification_methods">
        <div nz-row nzGutter="16" class="line">
          <div nz-col nzSpan="3"><span class="error">* </span>Prioridade</div>
          <div nz-col nzSpan="6"><span class="error">* </span>Método de notificação</div>
          <div nz-col nzSpan="2">Eliminar</div>
        </div>
        <div nz-row nzGutter="16" *ngFor="let media of getNotificationMethods().controls; let i = index"
          [formGroupName]="i" class="line">
          <div nz-col nzSpan="3">
            <nz-form-item>
              <nz-form-control nzErrorTip="Campo obrigatório">
                <input nz-input formControlName="priority" id="priority" type="number" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-control nzErrorTip="Campo obrigatório">
                <nz-select formControlName="notification_method_id" name="notification_method_id">
                  <nz-option *ngFor="let method of notificationMethods" [nzLabel]="method.name" [nzValue]="method.id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="2">
            <button nz-button nzType="danger" type="button" (click)="removeNotificationMethod(i)">
              <i nz-icon type="delete"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div nz-row nzType="flex" nzJustify="center">
      <div nz-col nzSpan="4">
        <button nz-button nzType="primary" type="button" (click)="addNewNotificationMethod()">
          Adicionar
        </button>
      </div>
    </div>
  </form>
</div>

<div class="space" nz-row>
  <button *ngIf="idtoUpdate" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="loading" [disabled]="loading" style="margin-right: 15px;"
    (click)="submitForm($event, alertTypeGroup.value, true)"[nzType]="'primary'">Gravar &
    Simular</button>
  <button nz-button [nzLoading]="loading" [disabled]="loading"
    (click)="submitForm($event, alertTypeGroup.value, false)"  [nzType]="'primary'">{{idtoUpdate ?
    'Editar' : 'Criar'}}</button>
</div>



<nz-modal [nzVisible]="simulateModalVisible" nzTitle="Dados a enviar na simulação" (nzOnCancel)="closeSimulateModal()"
  (nzOnOk)="simulate()" [nzOkLoading]="loading" nzCancelText="Cancelar" nzOkText="Enviar">
  <div>
    <nz-form-item>
      <nz-form-label nzFor="data">Dados</nz-form-label>
      <nz-form-control nzErrorTip="Campo dados é obrigatório e com um JSON válido">
        <fi-sas-form-jsonfield [(ngModel)]="simulateData" id="simulate_data"></fi-sas-form-jsonfield>
      </nz-form-control>
    </nz-form-item>
  </div>
</nz-modal>