<div class="content--padding white">
  <form [formGroup]="ticketconfigForm" nz-form>
    <nz-form-item>
      <nz-form-label>Máximo de compra de bilhetes</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="max_to_buy">
        <nz-form-explain *ngIf="ticketconfigForm.get('max_to_buy').errors && submitted">Campo obrigatório</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <div nz-row>
      <span nz-col [nzSpan]="11">
        <nz-form-item>
          <nz-form-label>Venda ativa</nz-form-label>
          <nz-form-control>
            <nz-switch formControlName="active"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </span>
    </div>
  </form>
</div>

<div class="space" nz-row>
  <button nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="isLoading" [disabled]="isLoading" (click)="submit(ticketconfigForm.value, ticketconfigForm.valid)"
    [nzType]="'primary'">Criar</button>
</div>