
<div class="container">
  <div class="content-table">
    <nz-table class="table" #refTable [nzScroll]="{ x: '240px' }" [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)"
    [nzLoading]="loading" [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true"
    [nzTotal]="totalData"  [(nzPageSize)]="pageSize" (nzPageIndexChange)="pagination()"
    (nzPageSizeChange)="pagination(true)">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr class="table__header">

          <th>
            Nome
          </th>
          <th nzShowSort nzSortKey="weight">
            Peso
          </th>
          <th nzShowSort nzSortKey="active">
            Ativa
          </th>
          <th nzRight="0px" class="text-right">Ações</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="refTable.data">
          <tr>
            <td>
              {{data.translations.length > 0 ? (data.translations | translation)?.name : 'Sem nome'}}
            </td>
            <td>{{data.weight}}</td>
            <td>
              <fi-sas-tag [value]="data.active"></fi-sas-tag>
            </td>
            <td nzRight="0px" class="text-right">
              <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
                nzPlacement="bottomRight">
                <i nz-icon nzType="dash" nzTheme="outline"></i>
              </button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item [nzDisabled]="!('communication:categories:update' | hasPermission)" (click)="edit(data.id)">Editar
                  </li>
                  <li nz-menu-item [nzDisabled]="!('communication:categories:delete' | hasPermission)"
                    (click)="deleteCategory(data.id)">Eliminar</li>
                </ul>
              </nz-dropdown-menu>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </div>
</div>