<div nz-row class="container-header">
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="header-date">
    <fi-date></fi-date>
    <fi-clock></fi-clock>
  </div> 
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="header-logo">
    <label class="title">{{institute}}</label><label> sasocial</label>
  </div> 
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="header-translate">
    <button nz-button class="button" [nzDropdownMenu]="menu" nz-dropdown>{{ translate.currentLang == 'en' ? ('HEADER.LANGUAGES.en' | translate) : ('HEADER.LANGUAGES.pt' | translate) }}</button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu *ngFor="let lang of translate.getLangs()" >
          <li nz-menu-item class="menu-translate-li" [ngClass]="{'menu-translate-selected': lang === translate.currentLang}" (click)="langChange(lang);">  {{ 'HEADER.LANGUAGES.' + lang | translate }}</li>
          
        </ul>
      </nz-dropdown-menu>
  </div> 
       
</div>