.container-header {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    background-color: black;
}

.button {
    color: white;
    background-color: black;
    border: black;
    font-weight: bold;
    font-size: 12px;
}

.menu-translate-li {
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: black;
    background-color: white;
}

.menu-translate-selected {
    background-color: lightgray !important;
}

.header-translate {
    text-align: right;
}

.header-logo {
    padding-top: 5px;
    text-align: center;
}

.header-date{
    padding-top: 5px;
}

.title{
    font-weight: bold;
}