@import 'theme';

.text-center{
    text-align: center;
}


.card{
    margin-top: 5px;
    background-color: white;
    border: 1px solid var(--primary-color);
    border-radius: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor:pointer;
    margin-right: 5px;
    margin-top: 5px;
  }
  
.card-visa{
    margin-top: 5px;
    background-color: #26337a;
    border-radius: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor:pointer;
}

.box-current-account-before{
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    padding: 25px;

}


.box-input{
    padding: 12px;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}

  
.box-current-account-after{
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    padding: 25px;
    background-color: var(--primary-color);
    color: white;
}

.after-box{
    background-color: white;
    color: black;
}

.button-box-payments{
    text-align: center;
    margin-top: 40px;
}


.button-style-movements{
    color:  var(--primary-color);
    height: 32px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    background-color: white;
    border-radius: 21px;
    border: solid 2px var(--primary-color);
}

.button-style-movements:hover {
    background-color: var(--primary-color);
    color: white;
}

.button-style-uploads{
  margin-left:15px;
  color: white;
  height: 32px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  background-color: var(--primary-color);
  border-radius: 21px;
  border: solid 2px var(--primary-color);
}

.button-style-uploads:hover {
    background-color: white;
    color: var(--primary-color);
    border: solid 2px var(--primary-color);
  }


.input-value-current-account{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
}

.text-detail{
    padding-top: 40px;
    line-height: 1.5;
}
  
.text-detail-visa{
    line-height: 1.5;
}

.padding-methods {
    padding: 30px;
    @media screen and (max-width: 600px) {
        padding:0px
    }
}

.value-charge{
    padding-top: 25px;
}


.text-img{
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}


.success-atm{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
  
.atm-text{
    color: black;
    font-size: 13px;
    padding-bottom: 20px;
}
  
.detail-atm-success{
    color: black;
    font-size: 13px;
    padding-bottom: 20px;
}


.box-ent-ref{
    border: 2px solid var(--primary-color);
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    border-radius: 4px;
  }
  

#button-confirm{
    margin-top:20px;
    display: initial !important;
    background-color: var(--primary-color);
    border-radius: 21px;
    border: solid 2px var(--primary-color);
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    color: white;
}