<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" style="padding-top:15px; padding-bottom: 15px;">
        <label><b>{{'CURRENT_ACCOUNT.PAYMENTS.TITLE' | translate}}</b></label>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <div nz-row>

            <div *ngIf="validPaymentMethod('PAYPAL')" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="6" [nzXl]="6"
                [nzXXl]="6" class="text-center" style="padding-top:5px">
                <div nz-row>
                    <label style="font-size: 10px;">PayPal</label>
                </div>
                <div nz-row class="card" (click)="method = 'PAYPAL';">
                    <img src="assets/imgs/paypall.svg">
                </div>
            </div>
            <div *ngIf="validPaymentMethod('REFMB_AMA')" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="6"
                [nzXl]="6" [nzXXl]="6" class="text-center" style="padding-top:5px">
                <div nz-row>
                    <label style="font-size: 10px;">{{'CURRENT_ACCOUNT.PAYMENTS.ATM' | translate}}</label>
                </div>
                <div nz-row class="card" (click)="method = 'ATM';">
                    <img src="assets/imgs/multibanco.svg">
                </div>
            </div>
            <div *ngIf="validPaymentMethod('MBWAY')" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="6" [nzXl]="6"
                [nzXXl]="6" class="text-center" style="padding-top:5px">
                <div nz-row>
                    <label style="font-size: 10px;">MB Way</label>
                </div>
                <div nz-row class="card" (click)="method = 'MBWAY'; ">
                    <img src="assets/imgs/MBWAY.svg">
                </div>
            </div>
            <div *ngIf="validPaymentMethod('VISA')" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="6" [nzXl]="6"
                [nzXXl]="6" class="text-center" style="padding-top:5px">
                <div nz-row>
                    <label style="font-size: 10px;">Visa</label>
                </div>
                <div nz-row class="card-visa" (click)="method = 'VISA';">
                    <img src="assets/imgs/VISA.svg">
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="method !=''" style="padding-top: 20px;" nz-col class="padding-methods">
        <!------------------MULTIBANCO && PAYPAL--------------------->
        <div nz-row *ngIf="method == 'ATM' || method == 'PAYPAL'">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="value-charge">
            <div nz-row>
              <label><b>{{'CURRENT_ACCOUNT.PAYMENTS.AMOUNTCHARGE' | translate}}</b></label>
            </div>
            <div nz-row style="padding-top:10px">
              <input [(ngModel)]="valueCharge" nz-input type="number" class="input-value"
                (ngModelChange)="changeValue(balance.current_balance)">
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" style="margin-top:10px"
            class="box-current-account-before">
            <div nz-row>
              <label><b>{{'CURRENT_ACCOUNT.PAYMENTS.CURRENTACCOUNTBEFORE' | translate}}</b></label>
            </div>
            <div nz-row class="box-input">
              {{balance.current_balance | number:'1.2-2'}} €
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" style="margin-top:10px"
            class="box-current-account-after">
            <div nz-row>
              <label><b>{{'CURRENT_ACCOUNT.PAYMENTS.CURRENTACCOUNTAFTER' | translate}}</b></label>
            </div>
            <div nz-row class="box-input after-box">
              {{totalValue | number:'1.2-2'}} €
            </div>

          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
            class="button-box-payments">
            <button nz-button type="button" class="button-style-movements" (click)="closeModel()">
              {{'CURRENT_ACCOUNT.PAYMENTS.CANCEL' |
              translate}}
            </button>

            <button nz-button type="button" class="button-style-uploads"
              [disabled]="valueCharge == 0" [nzLoading]="loadingPayment"
              (click)="method == 'ATM' ? isATM(balance.account_id) : isPaypal()">
              {{'CURRENT_ACCOUNT.PAYMENTS.CONFIRM' | translate}}
            </button>
          </div>
        </div>
        <div nz-row *ngIf="method == 'PAYPAL'" class="text-detail text-center">
          <span> {{'CURRENT_ACCOUNT.PAYMENTS.DESCRIPTION_PAYPAL' | translate}} </span>
        </div>
        <div nz-row *ngIf="method == 'ATM'" class="text-detail text-center">
          <span> {{'CURRENT_ACCOUNT.PAYMENTS.DESCRIPTION1_ATM' | translate}} <br>{{'CURRENT_ACCOUNT.PAYMENTS.DESCRIPTION1_ATM_2' | translate}}
          </span>
        </div>

        <!-----------------------MB WAY----------------------->
        <div nz-row *ngIf="method == 'MBWAY'">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" style="padding:25px">
            <div nz-row>
              <label><b>{{'CURRENT_ACCOUNT.PAYMENTS.NUMBER' | translate}}</b></label>
            </div>

            <div nz-row style="padding-top:10px">
              <input [(ngModel)]="mobileSend" nz-input class="input-value-current-account" prefix="+" mask="0*">
            </div>

          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" style="padding:25px">
            <div nz-row>
              <label><b>{{'CURRENT_ACCOUNT.PAYMENTS.AMOUNTCHARGE' | translate}}</b></label>
            </div>

            <div nz-row style="padding-top:10px">
              <input [(ngModel)]="valueCharge" nz-input class="input-value-current-account">
            </div>

          </div>

          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
            class="button-box-payments" style="margin-top:20px">
            <button nz-button type="button" class="button-style-movements" (click)="method = ''">
              {{'CURRENT_ACCOUNT.PAYMENTS.CANCEL' |
              translate}}
            </button>
            <button nz-button type="button" class="button-style-uploads" (click)="isMbway()">
              {{'CURRENT_ACCOUNT.PAYMENTS.CONFIRM' | translate}}
            </button>
          </div>
        </div>
        <div nz-row *ngIf="method == 'MBWAY'" class="text-detail text-center">
          <span> {{'CURRENT_ACCOUNT.PAYMENTS.DESCRIPTION1_MBWAY' | translate}} </span> <br>
          <span> {{'CURRENT_ACCOUNT.PAYMENTS.DESCRIPTION2_MBWAY' | translate}} </span> <br>
          <span><b> {{'CURRENT_ACCOUNT.PAYMENTS.DESCRIPTION3_MBWAY' | translate}} </b></span>
        </div>

        <!---------------------VISA------------------------>
        <div nz-row *ngIf="method == 'VISA'" class="text-detail-visa text-center">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
            <span> {{'CURRENT_ACCOUNT.PAYMENTS.DESCRIPTION1_VISA' | translate}} </span> <br>
            <span> {{'CURRENT_ACCOUNT.PAYMENTS.DESCRIPTION2_VISA' | translate}} </span>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
            style="padding-top:20px; padding-bottom:20px;">
            <button nz-button type="button" class="button-style-movements" (click)="method = ''">
              {{'CURRENT_ACCOUNT.PAYMENTS.CANCEL' |
              translate}}
            </button>
            <button nz-button type="button" class="button-style-uploads" (click)="isVisa()">
              {{'CURRENT_ACCOUNT.PAYMENTS.CONFIRM' | translate}}
            </button>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
            <span style="font-size: 12px;"> {{'CURRENT_ACCOUNT.PAYMENTS.DESCRIPTION3_VISA' | translate}} </span>
          </div>

        </div>
      </div>
</div>


<!---------------------------MODAL ATM----------------------->
<nz-modal [nzVisible]="modalATM" [nzFooter] = "null"(nzOnCancel)="modalATM = false">
    <div class="text-center">
      <div nz-row class="text-img"><label><b>{{'CURRENT_ACCOUNT.ACCOUNT' | translate}}</b></label></div>
      <div nz-row style="color:black"><label><b>{{'CURRENT_ACCOUNT.PAYMENTS.ATM' | translate}}</b></label></div>
      <div nz-row><img src="assets/imgs/Success.PNG" width="100"></div>
      <div nz-row class="success-atm"><label>{{'CURRENT_ACCOUNT.PAYMENTS.ATM_DETAIL.SUCCESS' | translate}}</label></div>
      <div nz-row class="atm-text"><label><b>{{'CURRENT_ACCOUNT.PAYMENTS.ATM_DETAIL.ATM' | translate}}</b></label></div>
      <div nz-row class="detail-atm-success"><label>{{'CURRENT_ACCOUNT.PAYMENTS.ATM_DETAIL.DESCRIPTION1' |
          translate}}</label></div>
      <div nz-row style="margin-bottom: 20px;">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6"></div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="box-ent-ref">
          <div><label><b>{{'CURRENT_ACCOUNT.PAYMENTS.ATM_DETAIL.ENT' | translate}}</b></label> {{dataPaymentRef?.EntityNumber}}</div>
          <div><label><b>{{'CURRENT_ACCOUNT.PAYMENTS.ATM_DETAIL.REF' | translate}}</b></label> {{dataPaymentRef?.Reference}}</div>
          <div><label><b>{{'CURRENT_ACCOUNT.PAYMENTS.ATM_DETAIL.VALUE' | translate}}</b></label> {{dataPaymentRef?.Amount | number:'1.2-2'}} €</div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6"></div>
      </div>
      <div nz-row class="detail-atm-success"><label>{{'CURRENT_ACCOUNT.PAYMENTS.ATM_DETAIL.DESCRIPTION2' |
          translate}}</label></div>
      <div nz-row style="color:black;"><label><b>{{'CURRENT_ACCOUNT.PAYMENTS.ATM_DETAIL.DESCRIPTION3' |
            translate}}</b></label></div>
      <div nz-row>
        <button nz-button type="button" id="button-confirm" (click)="modalATM = false">{{'CURRENT_ACCOUNT.PAYMENTS.CONFIRM' |
          translate}}</button>
      </div>
    </div>
  
  </nz-modal>