<div class="product-list-detail" *ngIf="product" [ngClass]="{ 'selected': cartQuantity > 0 }">
  <div [ngClass]="{
        disabled: !product?.available || !product?.isStockAvailable
      }">
    <!-- allergens -->
    <ng-container *ngIf="product.allergens.length > 0">
      <div class="product-list-detail__alert-background"></div>
      <div class="product-list-detail__alert">
        <div class="product-list-detail__alert-icon">
          <svg-icon src="assets/icons/icons-alert.svg" [svgStyle]="{ 'width.px': 12, 'height.px': 12 }"></svg-icon>
        </div>
        <div class="product-list-detail__alert-text">
          {{ 'PRODUCT.LIST.DETAIL.ALLERGENS' | translate }}
        </div>
      </div>
    </ng-container>

    <!-- image -->
    <div class="product-list-detail__image-wrap" *ngIf="product?.image != ''">
      <img class="product-list-detail__image" src="{{ product?.image }}" />
    </div>
    <div class="product-list-detail__image-wrap" *ngIf="product?.image == ''">
      <img class="product-list-detail__image" src="/assets/images/unavailable-image.jpg" />
    </div>

    <!-- detail -->
    <div class="product-list-detail__info-wrap">
      <div class="product-list-detail__link">
        <div class="product-list-detail__title">
          <p>{{ product?.title | lowercase }}</p>
        </div>
        <div class="product-list-detail__icon">
          <svg-icon src="assets/icons/icons-info.svg" [svgStyle]="{ 'width.px': 18, 'height.px': 18 }"></svg-icon>
        </div>
        <div class="product-list-detail__description" style="-webkit-box-orient: vertical;">
          <p> {{ product?.description | lowercase }}</p>
        </div>
      </div>
      <div *ngIf="product?.price && product?.available && product?.isStockAvailable">
        <!-- add to cart -->
        <nz-spin [nzSpinning]="loading">
          <div class="product-list-detail__buy-wrap">
            <div *ngIf="cartQuantity == 0 && !loading" class="total-btn" nz-row>

            </div>
            <ng-container *ngIf="cartQuantity > 0 || loading">
              <div class="product-list-detail__buy-remove" (click)="handlerQtChange({ action: 'remove', quantity: 1 })">
                <svg-icon src="assets/icons/icons-minus-filled.svg" [svgStyle]="{ 'width.px': 30, 'height.px': 30 }">
                </svg-icon>
              </div>
              <div class="product-list-detail__buy-qt">
                <div class="product-list-detail__buy-quantity">
                  x{{ cartQuantity }}
                </div>
              </div>
            </ng-container>

            <div *ngIf="cartQuantity < stock " class="product-list-detail__buy-button-wrap"
              (click)="handlerQtChange({ action: 'add', quantity: 1 })">
              <button nz-button [nzGhost]="true" [disabled]="loading">
                {{ product?.price | number: '1.2-2':'pt-PT' }}€
              </button>
            </div>
            <div *ngIf="cartQuantity >= stock" class="product-list-detail__buy-button-wrap">
              <label class="stock"> {{ 'PRODUCT.LIST.DETAIL.STOCK' | translate }}</label>
            </div>

          </div>
        </nz-spin>


      </div>

    </div>
  </div>
  <div *ngIf="!product?.available && product?.isStockAvailable" class="product-list-detail--disabled">
    {{ 'PRODUCT.LIST.DETAIL.NOT-AVAILABLE' | translate }}
  </div>
  <div *ngIf="!product?.isStockAvailable && product?.available" class="product-list-detail--disabled">
    {{ 'PRODUCT.LIST.DETAIL.NOT-EXIST' | translate }}
  </div>
  <div *ngIf="!product?.available && !product?.isStockAvailable" class="product-list-detail--disabled">
    {{ 'PRODUCT.LIST.DETAIL.NOT-AVAILABLE' | translate }}
  </div>
</div>

<!---- Modal Error ---->
<nz-modal [nzVisible]="modalNoLogged" nzClosable="false" nzFooter="null"  [nzStyle]="{top: '700px'}">
  <div class="icon-space">
    <img src="assets/images/cards-ilustration-negative.png" style="width: 175px;">
  </div>
  <div class="text-modal">
    <label>{{ 'MODAL.ERROR' |translate }}</label>
  </div>
</nz-modal>