@import 'default-theme.less';

:host::ng-deep {
  .product-list-detail {
    position: relative;
    height: 400px;
    box-sizing: border-box;
    border: 3px solid transparent;
    background-color: transparent;
    overflow: hidden;
    border-radius: 10px;
    background-color: @fisas-grey-02;

    &.selected {
      box-sizing: border-box;
      border: 3px solid var(--fisas-02);
      background-color: @fisas-grey-02;
    }

    &.disable {
      opacity: 0.4;
    }

    &__image {
      width: 100%;
      height: 186px;
      object-fit: cover;
    }

    &__info-wrap {
      width: 100%;
      padding: 20px;
    }

    &__title, &__title p {
      float: left;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.5px;
      line-height: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 5px;
      width: 80%;
      color: var(--fisas-06);
    }

    &__title p::first-letter {
      text-transform: uppercase;
    }

    &__link {
      cursor: pointer;
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      opacity: 0.4;
      font-size: 16px;
      width: 20%;
      color: @fisas-grey-06;
    }

    &__description {
      width: 100%;
      margin-top: 10px;
      font-size: 15px;
      font-weight: 300;
      line-height: 24px;
      height: 80px;
      margin-bottom: 20px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      color: var(--fisas-09);
      text-overflow: ellipsis;
    }

    &__description p::first-letter {
      text-transform: uppercase;
    }

    &__alert {
      width: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 18px;
    }

    &__alert-background {
      position: absolute;
      width: 100%;
      height: 18px;
      opacity: 0.8;
      background-color: @fisas-red-04;
    }

    &__alert-icon {
      opacity: 1;
      font-size: 9px;
      font-weight: bold;
      line-height: 12px;
      margin-right: 5px;
      color: @fisas-grey-01;
    }

    &__alert-text {
      opacity: 1;
      font-size: 9px;
      font-weight: bold;
      line-height: 12px;
      text-transform: uppercase;
      color: @fisas-grey-01;
    }

    &__buy-wrap {
      display: flex;
      align-items: center;
      min-height: 26px;
      color: var(--fisas-10);
    }

    &__buy-label {
      display: flex;
      flex: auto;
      align-items: center;
      justify-content: flex-start;
      width: 50%;
      height: 14px;
      font-size: 10px;
      font-weight: 300;
      line-height: 14px;
      text-transform: uppercase;
    }

    &__buy-remove {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-start;
      width: 50%;
      height: 14px;
      font-size: 10px;
      font-weight: 300;
      line-height: 14px;
      text-transform: uppercase;
      color: @fisas-red-03;
    }

    &__buy-qt {
      display: flex;
      flex: auto;
      padding-left: 10px;
    }

    &__buy-quantity {
      display: block;
      width: 100%;
      font-size: 20px;
      font-weight: 700;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
    }

    &__buy-button-wrap {
      display: flex;
      flex: unset;
      align-items: center;
      justify-content: flex-end;
      width: 50%;

      button {
        color: white;
        background-color: var(--fisas-03) !important;
        border-color: var(--fisas-03);
        height: 30px;
      }
    }


    .product-list-detail--disabled {
      position: absolute;
      font-size: 16px;
      top: 90px;
      left: 50%;
      color: #333333;
      border-radius: 15px;
      font-weight: bold;
      transform: translateX(-50%);
    }
  }

  .stock {
    color: red;
    font-weight: bold;
    padding-top: 5px;
  }
}


.icon-space {
  text-align: center;
  padding-top: 40px;
}

.text-modal {
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 25px;
}

.total-btn {
  margin-left: 90px;
}
