<div class="container">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
      <div nz-row>
        <nz-form-label>Utilizadores</nz-form-label>
        <nz-form-control>
          <fi-sas-user-select [(ngModel)]="filters.user_id" [returnID]="true"></fi-sas-user-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
      <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
      style="text-align: left;">
      <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
    </div>
  </div>
</div>


<div class="container">
  <nz-table [nzScroll]="{ x: '240px' }" class="content-table" #refTable [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th></th>
        <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
          [nzSortKey]="column.sortKey ? column.sortKey : column.key">
          {{ column.label }}
        </th>
        <th nzRight="0px" class="text-right">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">
        <tr>
          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
          <td *ngFor="let column of columns">
            <span *ngIf="!column.tag">{{
              column.translation
              ? (data.translations | where: ['language_id', 3])[0][column.key]
              : (data | flatObject)[column.key]
              }}</span>
            <span *ngIf="column.tag">
              <fi-sas-tag [value]="data[column.key]" [results]="column.tag"></fi-sas-tag>
            </span>
          </td>
          <td nzRight="0px" class="text-right">
            <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
              nzPlacement="bottomRight">
              <i nz-icon nzType="dash" nzTheme="outline"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item
                  [nzDisabled]="!('private_accommodation:complaints:send-response' | hasPermission) || !responseEmpty(data.response)"
                  (click)="
                    responseModal(!responseEmpty(data.response),data)
                  ">
                  Responder
                </li>
                <li nz-menu-item [nzDisabled]="!('private_accommodation:complaints:delete' | hasPermission)"
                  (click)="deleteComplaint(data.id)">
                  Eliminar
                </li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>

        <tr [nzExpand]="mapOfExpandData[data.id]">
          <td [attr.colspan]="columns.length + 3">
            <fi-sas-view-complaint [complaint]="data"></fi-sas-view-complaint>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</div>

<nz-modal [(nzVisible)]="isResponseModalVisible" [nzTitle]="'Responder à reclamação'" [nzWidth]="900"
  [nzFooter]="modalFooter" (nzOnCancel)="handleResponseCancel()">
  <p>{{responseModalComplaint?.description}}</p>
  <nz-divider></nz-divider>
  <div nz-row nzType="flex">
    <div nz-col nzSpan="4">
      Resposta:
    </div>
    <div nz-col nzSpan="20">
      <textarea maxlength="255" nz-input [(ngModel)]="responseModalDescription" rows="4"></textarea>
    </div>
  </div>

  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="handleResponseOk()"
      [ngClass]="{ disabled: responseModalDescription === '' }" [nzLoading]="responseModalLoading">
      Responder
    </button>
  </ng-template>
</nz-modal>