@import "theme";
.main-text {
  margin: 72px 52px;
  padding: 40px;
  border-radius: 8px;
  font-size: 14px;
  color: var(--primary-color);
  background-color: #fff;
}
.title {
  font-family: Montserrat;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #111111;
}

.Dashboard-top{
  margin: 38px 52px;
}
