<div class="Dashboard-top">

    <div nz-row nzType="flex" class="list-application__header">
      <div nz-col [nzSm]="12" [nzXs]="24">

        <h1 class="title">{{ "DASHBOARD.BUTTON.EMERGENCY_FUND" | translate }}</h1>

      </div>

      <div nz-col [nzSm]="12" [nzXs]="24" style="display: flex; justify-content: flex-end;" *ngIf="!appActive">

        <app-button [translate]="'EMERGENCY_FUND.LIST_APPLICATIONS.CARD.BUTTON.NEW_APPLICATION'"
          [buttonStyle]="buttonReject" [type]="'secundary'" (click)="openApplication()">
        </app-button>

      </div>
    </div>

</div>

<div class="main-text">
  <div
    style="padding-top: 10px"
    [innerHTML]="getHTML((info | languageChange)?.text)"
  ></div>
</div>
