.white {
    background-color: white;
}

.space{
    background-color: #F2F2F2;
    padding-top:20px;
    padding-bottom: 20px;
    text-align: right
}

.color-required {
  color: red;
}

.text-center {
  text-align: center;
}

.delete-condition {
  padding-top: 42px;
  padding-left: 30px;
}

.no-border {
  padding: 0px !important;
}