<div class="content--padding white" [ngClass]="{'no-border': post}">
    <nz-spin [nzSpinning]="editLoading">
        <form [formGroup]="formCreate" nz-form>
            <div nz-row>
                <nz-form-item>
                    <nz-form-label nzRequired>Nome</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="name">
                        <nz-form-explain class="color-required" *ngIf="submitted && f.name.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-row>
                <nz-form-item>
                    <nz-form-label nzRequired>
                        Ativo
                    </nz-form-label>
                    <nz-form-control>
                        <nz-switch formControlName="active">
                        </nz-switch>
                    </nz-form-control>
                    <nz-form-explain class="color-required" *ngIf="submitted && f.active.errors">
                        Campo obrigatório
                    </nz-form-explain>
                </nz-form-item>
            </div>
            <div nz-row>
                <div nz-col [nzSpan]="6">
                    <nz-form-label nzRequired>Valor a filtrar</nz-form-label>
                </div>
                <div nz-col [nzSpan]="10">

                </div>

            </div>
            <div nz-row>
                <div nz-col nzXs="24" nzSm="24" nzMd="9" nzLg="7" nzXl="6" nzXXl="4">
                    <nz-form-label>Ativo</nz-form-label>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="10">
                    <nz-form-item>
                        <nz-form-control>
                            <nz-select nzMode="multiple" formControlName="field_values_status" name="field_values_status">
                                <nz-option nzLabel="Ativo" [nzValue]="1">
                                </nz-option>
                                <nz-option nzLabel="Desativo" [nzValue]="0">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                </div>

            </div>
            <div nz-row>
                <div nz-col nzXs="24" nzSm="24" nzMd="9" nzLg="7" nzXl="6" nzXXl="4">
                    <nz-form-label>Utilizadores</nz-form-label>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="10">
                    <nz-form-item>
                        <nz-form-control>
                            <nz-select nzMode="multiple" formControlName="field_values_user" name="field_values_user" [nzServerSearch]="true"
                            (nzOnSearch)="onSearchUsers($event)">
                                <nz-option *ngFor="let user of listUsers" [nzLabel]="user.name"
                                    [nzValue]="user.id">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                </div>

            </div>
            <div nz-row>
                <div nz-col nzXs="24" nzSm="24" nzMd="9" nzLg="7" nzXl="6" nzXXl="4">
                    <nz-form-label>Perfil</nz-form-label>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="10">
                    <nz-form-item>
                        <nz-form-control>
                            <nz-select nzMode="multiple" formControlName="field_values_profile" name="field_values_profile">
                                <nz-option *ngFor="let profile of listProfiles" [nzLabel]="profile.name"
                                    [nzValue]="profile.id">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                </div>

            </div>
            <div nz-row>
                <div nz-col nzXs="24" nzSm="24" nzMd="9" nzLg="7" nzXl="6" nzXXl="4">
                    <nz-form-label>Unidade Orgânica / Escola</nz-form-label>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="10">
                    <nz-form-item>
                        <nz-form-control>
                            <nz-select nzMode="multiple" (ngModelChange)="changeValueUnitOrganic();"
                                formControlName="field_values_unit_organic" name="field_values_unit_organic">
                                <nz-option *ngFor="let org of organicsList" [nzLabel]="org.name" [nzValue]="org.id">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                </div>

            </div>
            <div nz-row>
                <div nz-col nzXs="24" nzSm="24" nzMd="9" nzLg="7" nzXl="6" nzXXl="4">
                    <nz-form-label>Grau de Curso</nz-form-label>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="10">
                    <nz-form-item>
                        <nz-form-control>
                            <nz-select nzMode="multiple" (ngModelChange)="changeValue()"
                                formControlName="field_values_degree" name="field_values_degree">
                                <nz-option *ngFor="let degree of courseDegreesList" [nzLabel]="degree.name"
                                    [nzValue]="degree.id">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                </div>

            </div>
            <div nz-row>
                <div nz-col nzXs="24" nzSm="24" nzMd="9" nzLg="7" nzXl="6" nzXXl="4">
                    <nz-form-label>Curso</nz-form-label>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="10">
                    <nz-form-item>
                        <nz-form-control>
                            <nz-select nzMode="multiple" formControlName="field_values_course" name="field_values_course">
                                <nz-option *ngFor="let course of coursesList" [nzLabel]="course.name" [nzValue]="course.id">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                </div>

            </div>
            <div nz-row>
                <div nz-col nzXs="24" nzSm="24" nzMd="9" nzLg="7" nzXl="6" nzXXl="4">
                    <nz-form-label>Departamento</nz-form-label>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="10">
                    <nz-form-item>
                        <nz-form-control>
                            <nz-select nzMode="multiple" (ngModelChange)="changeValueDepartement()"
                                formControlName="field_values_department" name="field_values_department">
                                <nz-option *ngFor="let departament of departmentsList" [nzLabel]="departament.name"
                                    [nzValue]="departament.id">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                </div>

            </div>
            <div nz-row>
                <div nz-col nzXs="24" nzSm="24" nzMd="9" nzLg="7" nzXl="6" nzXXl="4">
                    <nz-form-label>Secção</nz-form-label>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="10">
                    <nz-form-item>
                        <nz-form-control>
                            <nz-select nzMode="multiple" formControlName="field_values_section" name="field_values_section">
                                <nz-option *ngFor="let section of sectionsList" [nzLabel]="section.name"
                                    [nzValue]="section.id">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                </div>

            </div>
            <div nz-row>
                <div nz-col nzXs="24" nzSm="24" nzMd="9" nzLg="7" nzXl="6" nzXXl="4">
                    <nz-form-label>Com residência atribuída</nz-form-label>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="10">
                    <nz-form-item>
                        <nz-form-control>
                            <nz-switch formControlName="field_values_accommodation_contracted" (ngModelChange)="changeAccommodatiobContracted($event)">
                            </nz-switch>
                        </nz-form-control>
                        <nz-form-explain class="color-required" *ngIf="submitted && f.field_values_accommodation_contracted.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-item>

                </div>

            </div>
            <div *ngIf="f.field_values_accommodation_contracted.value == true" nz-row>
                <div nz-col nzXs="24" nzSm="24" nzMd="9" nzLg="7" nzXl="6" nzXXl="4">
                    <nz-form-label>Residências</nz-form-label>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="10">
                    <nz-form-item>
                        <nz-form-control>
                            <nz-select nzMode="multiple" formControlName="field_values_residence_id" name="field_values_residence_id">
                                <nz-option *ngFor="let res of residencesList" [nzLabel]="res.name"
                                    [nzValue]="res.id">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>

            </div>
            <div nz-row>
                <div nz-col nzXs="24" nzSm="24" nzMd="9" nzLg="7" nzXl="6" nzXXl="4">
                    <nz-form-label>Com bicicleta atribuída</nz-form-label>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="10">
                    <nz-form-item>
                        <nz-form-control>
                            <nz-switch formControlName="field_values_bike_contracted">
                            </nz-switch>
                        </nz-form-control>
                        <nz-form-explain class="color-required" *ngIf="submitted && f.field_values_bike_contracted.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-item>

                </div>

            </div>
            <div nz-row>
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="9" nzXXl="7">
                    <nz-form-label>Bolsa de Colaboradores - Com candidatura aprovada</nz-form-label>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="10">
                    <nz-form-item>
                        <nz-form-control>
                            <nz-switch formControlName="field_values_scholarship">
                            </nz-switch>
                        </nz-form-control>
                        <nz-form-explain class="color-required" *ngIf="submitted && f.field_values_scholarship.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-item>

                </div>

            </div>
            <div nz-row>
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="9" nzXXl="7">
                    <nz-form-label>Voluntariado - Com candidatura aprovada</nz-form-label>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="10">
                    <nz-form-item>
                        <nz-form-control>
                            <nz-switch formControlName="field_values_volunteering">
                            </nz-switch>
                        </nz-form-control>
                        <nz-form-explain class="color-required" *ngIf="submitted && f.field_values_volunteering.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-item>

                </div>

            </div>
            <div nz-row>
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="9" nzXXl="7">
                    <nz-form-label>Alimentação - Com senhas compradas</nz-form-label>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="10">
                    <nz-form-item>
                        <nz-form-control>
                            <nz-switch formControlName="field_values_food_ticket">
                            </nz-switch>
                        </nz-form-control>
                        <nz-form-explain class="color-required" *ngIf="submitted && f.field_values_food_ticket.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-item>

                </div>

            </div>
            <nz-form-explain class="color-required" *ngIf="submitted && !conditionValid()" style="padding-top: 20px;">
                Obrigatório preencher pelo menos um filtro
            </nz-form-explain>
        </form>
    </nz-spin>

    <div *ngIf="post" style="margin-top: 30px;">
        <button nz-button [nzLoading]="isLoadingCounter" [disabled]="isLoadingCounter" style="margin-right: 15px;"
        (click)="counter()" [nzType]="'secundary'">Contar destinatários</button>
    </div>
    <div nz-row *ngIf="valueCount>=0" style="margin-top: 20px;">
        <nz-alert nzType="info" [nzMessage]="'Foram detetados ' + valueCount + ' destinatários'" nzShowIcon nzCloseable (nzOnClose)="valueCount = -1"></nz-alert>
    </div>
</div>

<div *ngIf="!post" class="space" nz-row>
    <button *ngIf="isEdit" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
    <button nz-button [nzLoading]="isLoadingCounter" [disabled]="isLoadingCounter" style="margin-right: 15px;"
        (click)="counter()" [nzType]="'secundary'">Contar destinatários</button>
    <button nz-button [nzLoading]="isLoading" [disabled]="isLoading" (click)="submitButton()" [nzType]="'primary'">{{isEdit ?
        'Editar' : 'Criar'}}</button>
</div>
