@import 'default-theme.less';

:host::ng-deep {

  .route-line {

    width: 100%;
    min-height: 108px;
    border-bottom: 1px solid @fisas-grey-03;
    padding: 20px 0;
    cursor: pointer;

    font-size: 16px;
    line-height: 24px;
    color: @fisas-grey-10;

    &__id {
      display: flex;
      align-items: center;
      min-height: 36px;
      opacity: 0.4;
      color: var(--fisas-03);
    }

    &__icon {
      display: flex;
      align-items: center;
      min-height: 36px;
    }

    &__hours {
      display: flex;
      align-items: center;
      min-height: 36px;
    }

    &__hours-icon {
      display: flex;
      align-items: center;
      min-height: 36px;
      padding: 0 20px;
    }

    &__stops {
      display: flex;
      align-items: center;
      min-height: 36px;
    }

    &__time {
      display: flex;
      align-items: center;
      min-height: 36px;
    }

    &__buy {
      display: flex;
      align-items: center;
      min-height: 36px;
    }

    &__detail {
      display: flex;
      flex-wrap: nowrap;
      font-size: 12px;
      line-height: 12px;
      color: @fisas-grey-04;
    }

    &__detail-step {
      display: flex;
      align-items: center;
      height: 24px;
    }

    &__detail-step > span {
      margin-left: 6px;
    }

    &__detail-step > i:last-child {
      padding: 0 6px;
    }

    &__buy-wrap {
      display: flex;
      align-items: center;
      min-height: 26px;
      color: var(--fisas-10);
    }

    &__buy-label {
      display: flex;
      flex: auto;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 12px;
      font-size: 8px;
      line-height: 1.5;
      text-transform: uppercase;
    }

    &__buy-remove {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-start;
      width: 50%;
      height: 14px;
      font-size: 10px;
      font-weight: 300;
      line-height: 14px;
      text-transform: uppercase;
      color: @fisas-red-03;
    }

    &__buy-qt {
      display: flex;
      flex: auto;
      width: 50%;
      height: 14px;
    }

    &__buy-quantity {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
    }

    &__buy-button-wrap {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-end;
      width: 50%;

      button {
        height: 30px;
      }
    }
  }
}

.font-size-step {
  font-size: 20px;
}