<div class="route-line" *ngIf="model" (click)="viewRouteDetail($event)">
  <div nz-row>
    <div nz-col nzSpan="1"></div>

    <!-- id -->
    <div nz-col nzSpan="1">
      <div class="route-line__id">#{{ index }}</div>
    </div>
    <div nz-col nzSpan="1">
      <div class="route-line__icon">
        <i nz-icon>
          <svg-icon
            src="assets/icons/icons-mobility.svg"
            [svgStyle]="{ 'width.px': 36, 'height.px': 36 }"
          ></svg-icon>
        </i>
      </div>
    </div>
    <div nz-col nzSpan="8">
      <div class="route-line__hours">
        <span>{{ model?.departure_hour?.slice(0, 5) }}</span>
        <div class="route-line__hours-icon">
          <i nz-icon>
            <svg-icon
              src="assets/icons/icons-arrow-right.svg"
              [svgStyle]="{ 'width.px': 16, 'height.px': 16 }"
            ></svg-icon>
          </i>
        </div>
        <span>{{ model?.arrival_hour?.slice(0, 5) }}</span>
      </div>
    </div>
    <div nz-col nzSpan="2">
      <div class="route-line__stops">
        {{ stops }}
        {{ "MOBILITY.ROUTES.LIST.ITEM.STOPS" | translate | lowercase }}
      </div>
    </div>

    <div nz-col nzSpan="3">
      <div class="route-line__time">{{ convertDuration(duration) }}</div>
    </div>

    <div nz-col nzSpan="3">
      <nz-spin [nzSpinning]="loading">
        <ng-container *ngIf="haveTicketPrice()">
          <div class="route-line__buy-wrap">
            <div class="route-line__buy-label" *ngIf="!this.cartQuantity">
              {{ "MOBILITY.ROUTES.LIST.ITEM.BUY" | translate }}
            </div>

            <ng-container *ngIf="this.cartQuantity">
              <div
                class="route-line__buy-remove"
                (click)="removeProduct($event)"
              >
                <svg-icon
                  src="assets/icons/icons-minus-filled.svg"
                  [svgStyle]="{ 'width.px': 24, 'height.px': 24 }"
                ></svg-icon>
              </div>
              <div class="route-line__buy-qt">
                <div class="route-line__buy-quantity">
                  x{{ this.cartQuantity }}
                </div>
              </div>
            </ng-container>

            <div
              class="route-line__buy-button-wrap"
              (click)="addProduct($event)"
            >
              <button nz-button [nzGhost]="true">
                {{ getTicketPrice() | number: "1.2-2":"pt-PT" }}€
              </button>
            </div>
          </div>
        </ng-container>
      </nz-spin>
    </div>

    <div nz-col nzSpan="1"></div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="2"></div>
    <div nz-col nzSpan="18">
      <div class="route-line__detail">
        <!-- route steps -->
        <ng-container
          *ngFor="let step of model?.steps; index as i; last as isLast"
        >
          <ng-container *ngIf="i < 3">
            <div class="route-line__detail-step">
              <!-- step icon -->
              <i nz-icon>
                <ng-container *ngIf="step?.vehicle === 'CAMINHADA'">
                  <svg-icon
                    src="assets/icons/icons-walk.svg"
                    [svgStyle]="{ 'width.px': 24, 'height.px': 24 }"
                  ></svg-icon>
                </ng-container>
                <ng-container *ngIf="step?.vehicle === 'AUTOCARRO'">
                  <svg-icon
                    src="assets/icons/icons-mobility.svg"
                    [svgStyle]="{ 'width.px': 24, 'height.px': 24 }"
                  ></svg-icon>
                </ng-container>
                <ng-container
                  *ngIf="
                    step?.vehicle === 'COMBOIO' ||
                    step?.vehicle === 'COMBOIO_SUBURBANO'
                  "
                >
                  <svg-icon
                    src="assets/icons/icons-train.svg"
                    [svgStyle]="{ 'width.px': 24, 'height.px': 24 }"
                  ></svg-icon>
                </ng-container>
                <ng-container *ngIf="step?.vehicle === 'METROPOLITANO'">
                  <svg-icon
                    src="assets/icons/icons-metro.svg"
                    [svgStyle]="{ 'width.px': 24, 'height.px': 24 }"
                  ></svg-icon>
                </ng-container>
              </i>
              <!-- step icon -->

              <!-- step description -->
              <span class="route-line__instruction">
                <!--with instructions -->
                <ng-container *ngIf="step?.instruction">
                  {{ step?.instruction }}
                </ng-container>

                <!--without instructions -->
                <ng-container *ngIf="!step?.instruction">
                  <ng-container *ngIf="step?.local">
                    {{ step?.local }}
                  </ng-container>
                  <!--<ng-container *ngIf="model?.route_line">
                    - {{ model?.route_line }}
                  </ng-container>-->
                  <ng-container *ngIf="step?.region">
                    - {{ step?.region }}
                  </ng-container>
                </ng-container>
              </span>
              <span
                *ngIf="model?.steps?.length > 3 && i === 2"
                class="font-size-step"
              >
                ...
              </span>
              <i nz-icon *ngIf="!isLast && i !== 2">
                <svg-icon
                  src="assets/icons/icons-arrow-2-right.svg"
                  [svgStyle]="{ 'width.px': 12, 'height.px': 12 }"
                ></svg-icon>
              </i>
              <!-- step description -->
            </div>
          </ng-container>
        </ng-container>
        <!-- route steps -->
      </div>
    </div>
  </div>
</div>
