<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p><b>Submetida em: </b><span>{{ data.created_at | date: 'medium' }}</span></p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="mt-4"><b>Notas:</b></p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p>{{ data.complain }}</p>
  </div>
</div>
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="mt-4">Anexos: </p>
        <div nz-row nzType="flex" [nzGutter]="6">
            <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="5" [nzXXl]="4" class="gallery">
                <div *ngIf="file?.type == 'IMAGE'">
                    <a target="_blank" [href]="file?.url">
                        <img [src]="file?.url" width="100px">
                    </a>
                </div>
                <div *ngIf="file?.type != 'IMAGE'">
                    <a target="_blank" [href]="file?.url">
                        <img src="./assets/images/doc.PNG" width="100px">
                    </a>
                </div>
            </div>
        </div>
  </div>
</div>

<hr>
<div nz-row *ngIf="data.response">
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="mt-4"><b>Resposta dos serviços: </b></p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p>{{ data.response }}</p>
  </div>
</div>

<form *ngIf="!data.response" nz-form [formGroup]="complainForm"
  (ngSubmit)="submit(complainForm.valid, complainForm.value, data.id)">
  <div nz-row nzType="flex" nzJustify="start">
    <div nz-col nzSpan="24">
      <div class="row-details" nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">

          <nz-form-item>
            <nz-form-label nzRequired>Responder</nz-form-label>
            <nz-form-control nzErrorTip="Campo inválido">
              <textarea nz-input maxlength="255" formControlName="response" id="response" name="response" rows="4"
                style="width: 100%;"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div style="float: right;">
        <button style="margin-left: 20px;" nz-button nzType="primary" type="submit" [disabled]="!complainForm.valid"
          [nzLoading]="complainLoading">
          Responder
        </button>
      </div>
    </div>
  </div>
</form>
