<div class="content">
  <form nz-form [formGroup]="tariffGroup" nzLayout="horizontal">
    <nz-form-item>
      <nz-form-label nzFor="name" nzRequired>Nome</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="name" id="name">
        <nz-form-explain class="error"
          *ngIf="submit && f.name.errors">
          Campo obrigatório
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <div nz-row nzGutter="16">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="active" nzRequired>Ativo</nz-form-label>
          <nz-form-control>
            <nz-switch id="active" formControlName="active"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>

<div class="space">
  <button *ngIf="idToUpdate" nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="loading" [disabled]="loading" (click)="submitForm()" [nzType]="'primary'">{{idToUpdate
    ? 'Editar' : 'Criar'}}</button>
</div>