<app-residence-navbar></app-residence-navbar>
<div nz-row nzType="flex" class="list-application__header">
  <div nz-col [nzSm]="2" [nzXs]="0"></div>
  <div nz-col [nzSm]="20" [nzXs]="24">
    <h2 class="title-top-page">
      {{ "ACCOMMODATION.LIST_APPLICATIONS.TITLE" | translate }}
    </h2>
    <p class="sub-title-top-page">
      {{ "ACCOMMODATION.LIST_APPLICATIONS.SUBTITLE" | translate }}
    </p>
  </div>
  <div nz-col [nzSm]="2" [nzXs]="0"></div>
</div>
<nz-spin [nzSpinning]="loading">
  <div
    *ngIf="applicationsPresent.length == 0"
    nz-row
    style="padding-bottom: 20px"
  >
    <nz-empty></nz-empty>
  </div>

  <div *ngIf="applicationsPresent.length !== 0" nz-row nzType="flex">
    <div nz-col [nzSm]="2" [nzXs]="1"></div>
    <div nz-col [nzSm]="20" [nzXs]="22">
      <div
        nz-row
        class="list-applications__item"
        [nzGutter]="8"
        *ngFor="let application of applicationsPresent"
        style="margin-top: 10px"
      >
        <div nz-col>
          <app-application-card-present-accommodation
            [application]="application"
            [canRenew]="canRenew"
            (cancel)="cancelApplication($event)"
            (oppose)="opposeApplication($event)"
            (reject)="rejectApplication($event)"
            (accept)="acceptedApplication($event)"
            (withdrawal)="withdrawalApplication($event)"
          >
          </app-application-card-present-accommodation>
        </div>
      </div>
    </div>
    <div nz-col [nzSm]="2" [nzXs]="1"></div>
  </div>
  <div nz-row nzType="flex" style="padding-top: 20px">
    <div nz-col [nzSm]="2" [nzXs]="1"></div>
    <div nz-col [nzSm]="20" [nzXs]="22">
      <nz-collapse [nzBordered]="false">
        <nz-collapse-panel
          #pa
          *ngFor="let panel of panels"
          [nzHeader]="header"
          [nzActive]="panel.active"
          [ngStyle]="panel.customStyle"
          [nzShowArrow]="false"
        >
          <div>
            <div
              *ngIf="applicationsHistory.length != 0"
              nz-row
              class="list-applications__item"
              style="margin-top: 10px; align-items: stretch"
              nzType="flex"
            >
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="12"
                [nzLg]="12"
                [nzXl]="8"
                [nzXXl]="8"
                *ngFor="let application of applicationsHistory"
              >
                <app-application-card-accommodation [application]="application">
                </app-application-card-accommodation>
              </div>
            </div>
            <div nz-row style="padding-bottom: 20px">
              <nz-empty *ngIf="applicationsHistory.length === 0"></nz-empty>
            </div>
          </div>
          <ng-template #header>
            <nz-divider [nzText]="text"></nz-divider>
          </ng-template>

          <ng-template #text>
            <div class="box">
              {{ panel.name | translate
              }}<i
                nz-icon
                type="icons:icons-arrow-2-right"
                [nzRotate]="pa.nzActive ? 90 : -90"
              ></i>
            </div>
          </ng-template>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
    <div nz-col [nzSm]="2" [nzXs]="1"></div>
  </div>
</nz-spin>

<nz-modal
  [nzVisible]="oppositionModalVisible"
  [nzTitle]="'VIEW_APPLICATION_STATUS.EVENTS.OPPOSE' | translate"
  (nzOnOk)="modalOpposeOk()"
  (nzOnCancel)="modalOpposeCancel()"
  [nzOkLoading]="oppositionModalLoading"
>
  <textarea
    maxlength="255"
    rows="5"
    [(ngModel)]="oppositionModalRequest"
    nz-input
    nzAutosize
  >
  </textarea>
</nz-modal>
