:root {
  --primary-11: #02090b;
  --primary-10: #232412;
  --primary-9: #4b431a;
  --primary-8: #7c6a24;
  --primary-7: #99802b;
  --primary-6: #bf9f33;
  --primary-5: #c9af54;
  --primary-4: #d5c079;
  --primary-3: #e0d09b;
  --primary-2: #ebe2c1;
  --primary-1: #f7f3e6;
  --primary-color: var(--primary-6); // color used in main actions

  --text-color: black;
  --input-focus-shadow-color: #232412; // outer shadow of input on focus - GIVE 20% ALPHA

  --background-color: #f3f3f3;

  --menu-text-color: black;
  --menu-item-active-bg: #ebe2c1; // color of the side menu active ite
  --menu-bg: #f4f9fa; // color of the background of the menu
  --menu-sub-bg: #ffffff; // color of the background of the submenu

  --login-background-color: var(--primary-10);

  --header-logo-background: var(--primary-9);
  --header-background: var(--primary-color);
  --header-text-color: #fff;

  --footer-text-color: #fff;
  --footer-color: var(--primary-5);
}
