@import "theme";

:host::ng-deep {
  .error {
    color: red;
    margin-top: 5px;

    &__input {
      border-color: red !important;
      background-color: #ff00000a;

      :focus {
        border-color: red !important;
      }

      :hover {
        border-color: red !important;
      }
    }
  }
  .moneyInput {
    width: 90px !important;
  }
  .moneyInput {
    /*width: auto !important;*/
  }
  .disabled-input {
    cursor: not-allowed;
    opacity: 1;
    pointer-events: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.25);
    background: #f5f5f5;
  }

  .ant-select-disabled {
  }
  .ant-select-disabled .ant-select-selection {
    cursor: not-allowed;
  }
  .ant-select-disabled .ant-select-selection:hover,
  .ant-select-disabled .ant-select-selection:focus,
  .ant-select-disabled .ant-select-selection:active {
    border-color: #d9d9d9;
    box-shadow: none;
  }
  .ant-select-disabled .ant-select-selection__clear {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
  .ant-select-disabled
    .ant-select-selection--multiple
    .ant-select-selection__choice {
    padding-right: 10px;
    color: rgba(0, 0, 0, 0.33);
    background: #f5f5f5;
  }
  .ant-select-disabled
    .ant-select-selection--multiple
    .ant-select-selection__choice__remove {
    display: none;
  }
}
