<div
  [ngStyle]="{ 'min-width': money ? '150px' : 'auto', 'margin-right': '5px' }"
>
  <nz-form-item>
    <nz-form-label *ngIf="label ? true : false" nzRequired nzFor="id">
      <b>{{ label }}</b>
    </nz-form-label>
    <nz-form-control>
      <input
        *ngIf="!money"
        class="primary-input"
        nz-input
        id="id"
        [mask]="maskInput"
        [value]="value"
        [disabled]="disabledInput"
        (input)="onChange($event.target.value)"
        (blur)="onTouched()"
        [readonly]="readOnlyValue"
        [ngClass]="{
          error__input: showErro,
          'disabled-input': disabledInput ? true : false
        }"
        [placeholder]="placeholder"
      />

      <nz-input-group nzAddOnAfter="EUR" *ngIf="money" class="moneyInput">
        <input
          class="primary-input"
          nz-input
          id="id"
          [value]="value"
          [disabled]="disabledInput"
          (input)="onChange($event.target.value)"
          (blur)="onTouched()"
          [readonly]="readOnlyValue"
          [ngClass]="{
            moneyInput: true,
            error__input: showErro,
            'disabled-input': disabledInput ? true : false
          }"
          mask="0*,00"
          [dropSpecialCharacters]="false"
          [placeholder]="placeholder"
        />
      </nz-input-group>
    </nz-form-control>
    <nz-form-explain class="error" *ngIf="showErro">
      {{ errors }}
    </nz-form-explain>
  </nz-form-item>
</div>
