<nz-spin [nzTip]="'A carregar...'" [nzSpinning]="loading">
  <div class="content">
    <form nz-form [formGroup]="currentForm" nzLayout="vertical">

      <div nz-row>
        <div nz-col nzXs="24" nzMd="6">
          <nz-form-item>
            <nz-form-label nzRequired>Data </nz-form-label>
            <nz-form-control [nzErrorTip]="errorTpl">
              <nz-date-picker
                formControlName="date"
                nzPlaceHolder="Please select data"
                (ngModelChange)="loadSugestedRecipes()"
                nzShowTime
              ></nz-date-picker>
              <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Confirme a data
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="6">
          <nz-form-item>
            <nz-form-label nzRequired>Refeição</nz-form-label>
            <nz-form-control [nzErrorTip]="errorTpl10">
              <nz-select formControlName="meal" style="max-width: 200px" (ngModelChange)="loadSugestedRecipes()">
                <nz-option nzLabel="Indiferente" [nzValue]="null"></nz-option>
                <nz-option nzLabel="Almoço" nzValue="lunch"></nz-option>
                <nz-option nzLabel="Jantar" nzValue="dinner"></nz-option>
              </nz-select>
              <ng-template #errorTpl10 let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Confirme a refeição
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
    
        </div>
        <div nz-col nzXs="24" nzMd="6">
          <nz-form-item>
            <nz-form-label nzRequired>Serviço</nz-form-label>
            <nz-form-control [nzErrorTip]="errorTpl">
              <nz-select
                style="max-width: 200px"
                formControlName="service_id"
                nzPlaceHolder="Serviço"
                nzShowSearch
                nzAllowClear
                [nzLoading]="servicesLoading"
                (ngModelChange)="loadSugestedRecipes()"
              >
                <nz-option
                  *ngFor="let item of services"
                  [nzLabel]="item.name"
                  [nzValue]="item.id"
                  [nzDisabled]="!item.active"
                >
                </nz-option>
              </nz-select>
              <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Confirme o serviço
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="6">
          <nz-form-item>
            <nz-form-label nzRequired>Doses</nz-form-label>
            <nz-form-control [nzErrorTip]="errorTpl0_4">
              <input nz-input formControlName="doses" type="number">
              <ng-template #errorTpl0_4 let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Insira numero de doses
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>


      

      
      


      

      <nz-divider nzText="Receitas" nzOrientation="left"></nz-divider>

      <div nz-row nzGutter="16">
        <div nz-col nzXs="24" nzMd="23">
          <nz-form-item>
            <nz-form-control [nzErrorTip]="errorTpl0">
              <nz-select 
                formControlName="recipe_ids"
                nzPlaceHolder="Pesquise por receitas..."
                nzShowSearch
                nzAllowClear 
                nzMode="multiple"
                [nzServerSearch]="true"
                (nzOnSearch)="onRecipesSearch($event)"
                [nzLoading]="isRecipesLoading && isSugestedRecipesLoading"
              >
              <nz-option-group nzLabel="Sugestões">
                <nz-option
                  *ngFor="let item of sugested_recipes"
                  [nzLabel]="item.name"
                  [nzValue]="item.id"
                  [nzDisabled]="!item.active"
                >
                </nz-option>
              </nz-option-group>
              <nz-option-group nzLabel="Pesquisa">
                <nz-option
                  *ngFor="let item of recipes"
                  [nzLabel]="item.name"
                  [nzValue]="item.id"
                  [nzDisabled]="!item.active"
                >
                </nz-option>
              </nz-option-group>
              </nz-select>
              <ng-template #errorTpl0 let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Selecione uma receita
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="1">
          <button nz-button nzTitle="Importar produtos"  nz-tooltip (click)="loadSugestedProducts()">
            <i nz-icon nzType="import" nzTheme="outline"></i>
            </button>
        </div>
      </div>

      <nz-divider nzText="Linhas" nzOrientation="left"></nz-divider>

      <ng-container formArrayName="lines">
        <table class="table">
          <thead class="table__thead">
            <tr class="table__thead__row">
              <th style="width: 25%">Producto</th>
              <th style="width: 15%">Preço</th>
              <th style="width: 20%">Unidade</th>
              <th style="width: 15%">Quantidade</th>
              <th style="width: 15%">Lote</th>
              <th style="width: 10%">Remover</th>
            </tr>
          </thead>
          <tbody class="table_tbody">
            <tr
              class="table__tbody__row"
              *ngFor="let linesForm of lines.controls; let i = index"
              [formGroup]="linesForm"
            >
              <td>
                <nz-form-item>
                  <nz-form-control [nzErrorTip]="errorTpl0">
                    <nz-select
                      formControlName="product_id"
                      nzPlaceHolder="Pesquise o produto..."
                      nzShowSearch
                      nzAllowClear
                      [nzServerSearch]="true"
                      (nzOnSearch)="onProductsSearch($event)"
                      [nzLoading]="isProductsLoading"
                      (ngModelChange)="productSelected($event, linesForm)"
                    >
                      <nz-option
                        *ngFor="let item of products"
                        [nzLabel]="(item.translations | translation).name"
                        [nzValue]="item.id"
                        [nzDisabled]="!item.active"
                      >
                      </nz-option>
                    </nz-select>
                    <ng-template #errorTpl0 let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Selecione um produto
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </td>

              <td>
                <nz-form-item>
                  <nz-form-control [nzErrorTip]="errorTpl3_2">
                    <input
                      nz-input
                      formControlName="price"
                      type="number"
                    />
                    <ng-template #errorTpl3_2 let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Insira o preço
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </td>

              <td>
                <nz-form-item>
                  <nz-select formControlName="unit_id" name="value" nzPlaceHolder="" nzAllowClear>
                    <nz-option
                      *ngFor="let item of units"
                      [nzLabel]="(item.translations|translation).name"
                      [nzValue]="item.id"
                      [nzDisabled]="!item.active">
                    </nz-option>
                  </nz-select>
                  
                  <nz-form-control [nzErrorTip]="errorTpl3_6">
                    <ng-template #errorTpl3_6 let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Insira a unidade
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </td>   

              <td>
                <nz-form-item>
                  <nz-form-control [nzErrorTip]="errorTpl3_1">
                    <input nz-input formControlName="quantity" type="number" />
                    <ng-template #errorTpl3_1 let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Insira a quantidade
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </td>

              <td>
                <nz-form-item>
                  <nz-form-control
                    [nzErrorTip]="errorTpl3"
                    style="text-align: center"
                  >
                    <input nz-input type="text" formControlName="lote" />
                    <ng-template #errorTpl3 let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Introduza o lote
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </td>




        

 

              <td>
                <button
                  nz-button
                  nzSize="small"
                  nzType="danger"
                  (click)="deleteLine(i)"
                >
                  <i nz-icon nzType="delete" nzTheme="outline"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <nz-form-item>
        <nz-form-control nzSpan="24" style="text-align: center">
          <button
            nz-button
            nzType="dashed"
            class="add-button"
            (click)="addLine()"
          >
            <i nz-icon nzType="plus"></i>
            Adicionar Linha
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>

  <div class="space">
    <button nz-button (click)="backList()">Voltar</button>
    <button
      nz-button
      [nzLoading]="loading"
      [disabled]="loading"
      (click)="submit()"
      class="button-submit"
      [nzType]="'primary'"
    >
      {{ id ? 'Editar' : 'Criar' }}
    </button>
  </div>
</nz-spin>
