<form *ngIf="form" [formGroup]="form">
  <div nz-row class="row-details">
    <div nz-col nzXs="24" nzLg="8" nzXl="6">
      <span class="detail-field"><b>{{ 'SOCIAL_SUPPORT.INTERVIEW.REGISTER_FORM.DAY' | translate }}</b></span>
    </div>
    <div nz-col nzXs="24" nzLg="16" nzXl="18">
      <span class="detail-data">{{ interview.date | date: 'yyyy-MM-dd HH:mm' }}</span>
    </div>
  </div>

  <div nz-row class="row-details">
    <div nz-col nzXs="24" nzLg="8" nzXl="6">
      <nz-form-label nzRequired>
        <b>{{ 'SOCIAL_SUPPORT.INTERVIEW.REGISTER_FORM.NOTES' | translate }}</b>
      </nz-form-label>
    </div>
    <div nz-col nzXs="24" nzLg="16" nzXl="18">
      <nz-form-item>

        <nz-form-control>
          <textarea maxlength="255" class="primary-textarea" rows="5" formControlName="notes" nz-input></textarea>
          <nz-form-explain class="error" *ngIf="form.get('notes')?.dirty && form.get('notes').errors">
            {{ getInputError('notes') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row class="row-details">
    <div nz-col nzXs="24" [nzLg]="{ span: 16, offset: 8 }" [nzXl]="{ span: 18, offset: 6 }">
      <nz-form-item>
        <nz-form-explain class="error" *ngIf="form.get('file_id')?.dirty && form.get('file_id')?.errors">
          {{ getInputError('file_id') }}
        </nz-form-explain>
        <nz-form-control>
          <app-file-upload
            class="primary-file-upload"
            (fileDeleted)="form.get('file_id').setValue(null)"
            [filterTypes]="filterTypes"
            formControlName="file_id"
          ></app-file-upload>
          <div class="font-file">
            {{ 'MISC.FORMAT_UPLOAD_MORE' | translate }} pdf, png, jpg. {{ 'MISC.LIMIT_MAX_FILE' | translate }}
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24" class="align-right">
      <app-button type="primary" translate="MISC.SAVE_CHANGES" [loading]="isLoading" (click)="onSubmit()"></app-button>
    </div>
  </div>
</form>
