.align-right {
  text-align: right;
}

.font-file {
  line-height: initial;
  font-size: 12px;
  padding-top: 5px;
}

.row-details {
  color: black;
  font-weight: normal;
  margin-bottom: 12px;
  padding: 2px 0;

  .detail-title {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .detail-field::after {
    content: ':';
  }

  .detail-data {
    color: var(--primary-color);
  }
}



.error {
  color: red;
  margin-top:5px;

  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}

