.content {
    padding: 32px;
    background-color: white;
}

.actions {
    text-align : right;
    padding-top: 42px;

    button:first-child {
        margin-right: 24px;
    }

}

.space{
    background-color: #F2F2F2;
    padding-top:20px;
    padding-bottom: 20px;
    text-align: right
}

.error{
    color: red;
}