.accommodation-form-application{
    &__select-user{
      padding-bottom: 50px;
      background-color: white;
      &__title{
        margin-top: 43px;
        font-size: 32px;
        margin-bottom: 40px;
      }
      &__input-group{
        padding: 5px 0px;
      }
      &__input-btn{
        margin-top: 20px;
        padding: 10px 0px;
        .btn{
          width: 100%;
        }
      }
      &__input-title{
        padding: 11px 0px;
        font-size: 16px;
      }
      &__select-input{
        width: 100%;
      }
    }
}