<div nz-row>
  <div nz-col [nzSpan]="24">
    <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
      <div nz-col [nzSpan]="24">
        Selecione uma fase de candidatura:
      </div>
      <div nz-col [nzSpan]="24">
        <nz-select class="primary-select" [(ngModel)]="applicationPhase" style="width: 100%;">
          <nz-option *ngFor="let phase of applicationPhases" [nzLabel]="getPhase(phase)" [nzValue]="phase">
          </nz-option>
        </nz-select>
      </div>
    </div>
  </div>
</div>
