@import 'theme';

.PopExpenses {
  z-index: 23;
  max-width: 350px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  background: #ffffff;
  padding: 30px;

  &__btn {
    display: flex;
    float: right;
  }


  &__box {
    display: flex;
    flex-direction: column;
  }

  &__check {
    display: flex;
    flex-direction: column;
    padding-top: 22px;
    margin-left: 0 !important;
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
  }
}

.button-div {
  height: 40px;
}

::ng-deep.ant-checkbox-wrapper.ant-checkbox-wrapper {
  margin-left: 0px !important;
}
