
    <div class="buy-model___content">
      <div nz-row nzType="flex" nzJustify="center"><p class="buy-model___title">{{ "HEALTH.BUTTONS.CONFIRM_PURCHASE" | translate }}</p></div>

     <div nz-row class="buy_info">
      <div nz-col class = "buy_info___appointment_info" [nzXs]="24" [nzSm]="18" [nzMd]="18" class="mobile-padding-top">
    
        <div nz-row class="buy_info___appointment_info">
          <div nz-col class="buy_info___appointment_info___title" [nzSpan]="12">{{ "HEALTH.APPOINTMENT_FORM.DATE" | translate }}</div>
          <div nz-col class="buy_info___appointment_info___info" [nzSpan]="12">{{ appointment.date | date : 'yyyy MM dd'}}</div>
        </div>
        <div nz-row>
          <div nz-col class="buy_info___appointment_info___title" [nzSpan]="24">{{ "HEALTH.APPOINTMENT_FORM.SPECIALTY_SERVICE" | translate }}</div>
        </div>
        <div nz-row>
          <div nz-col class="buy_info___appointment_info___type" [nzSpan]="24">{{ (specialty?.translations | languageChange)?.name }}</div>
        </div>

        <div nz-row>
          <div nz-col class="buy_info___appointment_info___title" [nzSpan]="24">{{ "HEALTH.APPOINTMENT_FORM.APPOINTMENT_TYPE" | translate }}</div>
        </div>
        <div nz-row>
          <div nz-col class="buy_info___appointment_info___type" [nzSpan]="24"> {{ (getAppointmentType(appointment.appointment_type_id)?.translations | languageChange)?.name }}</div>
        </div>
        <div nz-row>
          <div nz-col class="buy_info___appointment_info___title" [nzSpan]="24">{{ "HEALTH.APPOINTMENT_FORM.SPECIALTY_PLACE" | translate }}</div>
        </div>
        <div nz-row>
          <div nz-col class="buy_info___appointment_info___type" [nzSpan]="24"> {{specialty?.place.name}}</div>
        </div>
      </div>      
    </div>
      <div nz-row class="buy-button hidden-xs" nzType="flex" nzJustify="center">
        <button nz-button nzType="default" (click)="confirmAppointment()">
          <div nz-row nzType="flex" nzJustify="space-between">
            <div nz-col class="pay-text">{{ "HEALTH.BUTTONS.PAY" | translate }}</div>
            <div  nz-col class="price-text"> {{ appointment.price }}€</div>
          </div>
        </button>
      </div>
      <div nz-row class="buy-button hidden-md" nzType="flex" nzJustify="center">
        <button nz-button nzType="default" (click)="confirmAppointment()">
          <div nz-row nzType="flex" nzJustify="space-between">
            <div nz-col class="pay-text">{{ "HEALTH.BUTTONS.PAY" | translate }}</div>
          </div>
        </button>
      </div>
      <div nz-row class="cancel-button" nzType="flex" nzJustify="center">
        <button nz-button nzType="link" (click)="handleCancel()">{{ "HEALTH.BUTTONS.CANCEL" | translate }}</button>
      </div>
    </div>
