::ng-deep.ant-btn > span {
  width: 100%;
}

.buy-model {
  border-radius: 10px;
  border-color: #d0021b;
  &___content {
    margin-top: 10%;
  }

  &___title {
    width: 100%;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #111111;
    text-align: center !important;
  }
}


.buy-button > button {
  margin-top: 10px !important;
  margin-bottom: 5px !important;
  width: 90% !important;
  @media screen and (max-width: 600px) {
    width: 100% !important;
  }
  height: 42px;
  border-radius: 50px !important;
  background-color: white !important;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41;
  letter-spacing: normal;
  color: var(--primary-color);
  font-weight: 700;
  border: solid 2px var(--primary-color);
  .pay-text {
    width: 50%;
    text-align: left;
    @media screen and (max-width: 600px) {
      text-align: center;
      width: 100%;
    }
  }
  .price-text {
    width: 50%;
    text-align: right;
  }
}

.buy-button > button > span {
  width: 100% !important;
 }


.buy-button > button:hover {
 color: white;
 background-color: var(--primary-color) !important;
}

.buy-button > button:focus {
  color: white;
  background-color: var(--primary-color) !important;
}

.cancel-button > button {
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: black;
}

.hidden-md {
  display:none;
}

@media screen and (max-width: 600px) {

  .mobile-padding-top {
    padding-top: 10px;
  }

  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display:block;
  }

}

  .buy_info {
    width: 92%;
    height: 100%;
    display: inline-block;
    box-sizing: content-box;
    position: relative;
    padding: 4%;
    color: black;
    border-radius: 7px;
    background-size: 51% 100%;
    background-color: white;

    &___appointment_info {
      font-family: Montserrat;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;


      &___title {
        margin: 0px;
          margin-bottom: 8px;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.6;
          letter-spacing: normal;
          color: #979797;
      }

        &___info {
          line-height: 1.33;
          text-align: right;
          color: var(--primary-color);
        }

        &___type {
          margin: 0px;
          margin-bottom: 16px;
          font-weight: 700;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.23;
          letter-spacing: normal;
          color: #222222;
        }
      }
    }


