<form nz-form [formGroup]="tariffChangeForm">
  <div nz-row>
    <div nz-col>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="start_date">
          <span class="content__title">
            Data de início
          </span>
        </nz-form-label>
        <nz-form-control [nzErrorTip]="error_start_date">
          <nz-date-picker class="primary-datePicker" formControlName="start_date" [nzDisabledDate]="disabledDate">
          </nz-date-picker>
          <ng-template #error_start_date let-control>
            <ng-container class="error" *ngIf="f?.start_date.dirty && f?.start_date.errors">
              Campo obrigatório
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col>
      <nz-form-item>
        <nz-form-label nzRequired>
          <span class="content__title">
            Possuí bolsa?
          </span>
        </nz-form-label>
        <nz-form-control [nzErrorTip]="error_has_scholarship">
          <nz-switch formControlName="has_scholarship"></nz-switch>
          <ng-template #error_has_scholarship let-control>
            <ng-container class="error" *ngIf="f?.has_scholarship.dirty && f?.has_scholarship.errors">
              Campo obrigatório
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="full_name">
          <span class="content__title">
            Justificação
          </span>
        </nz-form-label>
        <nz-form-control [nzErrorTip]="error_reason">
          <input class="primary-input" formControlName="reason" nz-input id="reason" />
          <ng-template #error_reason let-control>
            <ng-container class="error" *ngIf="f.reason.dirty && f.reason.errors">
              Campo obrigatório
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="residence_id">
          <span class="content__title">
            Novo tarifário
          </span>
        </nz-form-label>
        <nz-form-control [nzErrorTip]="error_tariff_id">
          <nz-select class="primary-select" formControlName="tariff_id" id="tariff_id" nzShowSearch>
            <nz-option *ngFor="let tariff of tariffs" [nzLabel]="tariff.name" [nzValue]="tariff.id">
            </nz-option>
          </nz-select>
          <ng-template #error_tariff_id let-control>
            <ng-container class="error" *ngIf="f?.residence_id.dirty && f?.residence_id.errors">
              Campo obrigatório
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>