@import "theme";

.btn-filter{
    text-align: center;
    .btn-delete{
      cursor: pointer;
      font-size: 18px;
      margin-top: 45px;
    }
    .btn{
      margin-bottom: 4px;
      margin-top: 42px;
    }
}

.content-table {
    margin: 8px;
    
    .table {
        &__header {
            th {
                background: white;
                color: var(--primary-6);
                font-weight: 700;
            }

            & > th:first-child {
                border-top-left-radius: 2px !important;
            }
            
            & > th:last-child {
                border-top-right-radius: 2px !important;
            }
        }
        
        tr {

            /*td {
                color: var(--text-color);
            }*/

            background: white !important;
        }
    }

    .options_button {
        color: var(--text-color);
        font-size: 22px;
    }
}

.container {
    background: white;
    padding: 24px 30px 24px 30px;
    margin-bottom: 5px;
    margin-top: 20px;
    &__title {
        font-size: 16px;
        line-height: 22px;
        margin: 0px;
        font-weight: bold;
        margin-bottom:10px;
        color:black;
    }
    &__subtitle{
      margin-bottom:5px;
    }
  }
  

.text-right {
    text-align: right;
}
.actions {
  &__button {
      cursor: pointer;
      text-align    : center;
      padding-right: 8px;
      padding-bottom: 8px;
      color: black;

      &:hover {
          color: #ffffff;
      }

      div {
          padding: 16px;
          border-radius : 4px;
      }

      &--accept {
          background-color: rgba(192, 252, 190, 0.192);
          &:hover {
              background-color: rgb(30, 153, 40);
          }
          &--active {
              color: #ffffff;
              background-color: rgb(30, 153, 40);
          }
      }

      &--reject {
          background-color: rgba(247, 187, 187, 0.192);
          &:hover {
              background-color: rgb(160, 33, 33);
          }
          &--active {
              color: #ffffff;
              background-color: rgb(160, 33, 33);
          }
      }

      &--cancel {
          background-color: rgba(216, 201, 62, 0.205);
          &:hover {
              background-color: rgb(104, 103, 23);
          }
          &--active {
              color: #ffffff;
              background-color: rgb(104, 103, 23);
          }
      }
      
      &--withdrawal {
          background-color: rgba(158, 101, 78, 0.329);
          &:hover {
              background-color: rgb(231, 126, 65);
          }
          &--active {
              color: #ffffff;
              background-color:  rgb(231, 126, 65);
          }
      }

      &--withdrawal_accept {
        background-color: rgba(192, 252, 190, 0.192);
        &:hover {
            background-color: rgb(30, 153, 40);
        }
        &--active {
            color: #ffffff;
            background-color: rgb(30, 153, 40);
        }
    }

    &--withdrawal_reject {
        background-color: rgba(247, 187, 187, 0.192);
        &:hover {
            background-color: rgb(160, 33, 33);
        }
        &--active {
            color: #ffffff;
            background-color: rgb(160, 33, 33);
        }
    }
  }
}