<div nz-row>
    <div *ngIf="form" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step-form"> {{ "ACCOMMODATION.APPLICATIONS.STEP_ELEVEN.REVISION" | translate }}
        </p>
        <p class="detail-text">{{ 'ACCOMMODATION.APPLICATIONS.STEP_ELEVEN.DESC' |
            translate }}</p>

    </div>
    <div *ngIf="!form" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="detail-text">{{'U_BIKE.APPLICATIONS.DESC' | translate}}</p>
    </div>
    <nz-divider></nz-divider>
</div>

<!--Personal data-->
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
        {{ 'ACCOMMODATION.APPLICATIONS.STEP_ONE.PERSONAL_DATA' |
        translate }}
    </div>
    <div nz-col *ngIf="form" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12"
        class="text-right">
        <button nz-button class="button-edit-review" nzType="default" (click)="changeValue(0)">
            <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
        </button>
    </div>
</div>
<div nz-row>

    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.FULL_NAME.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ application?.full_name}}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.APPLICANT_BIRTH_DATE.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ application?.applicant_birth_date | date: "dd/MM/yyyy" }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.GENDER.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ application?.gender == 'M' ?
            ("ACCOMMODATION.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.GENDER.MALE"
            | translate) :
            application?.gender == 'F' ? ("ACCOMMODATION.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.GENDER.FEMALE" | translate)
            : application?.gender == 'U' ?
            ("ACCOMMODATION.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.GENDER.OTHER" | translate) : '-'
            }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_ONE.AFFILIATION' |
            translate }}</p>
        <p class="desc-resume">{{ "ACCOMMODATION.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.FATHER_NAME.TITLE" | translate }} -
            {{ application?.father_name ? application?.father_name : '-' }}</p>
        <p class="desc-resume">{{ "ACCOMMODATION.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.MOTHER_NAME.TITLE" | translate }} -
            {{ application?.mother_name ? application?.mother_name : '-' }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.HAVE_INCAPACITY.TITLE' |
            translate }}</p>
        <p class="desc-resume"> {{ application?.incapacity ? ('SWITCH.YES' | translate) : ('SWITCH.NO' | translate) }}
        </p>
    </div>
    <div *ngIf="application?.incapacity" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
        [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.INCAPACITY_DEGREE.TITLE' |
            translate }}</p>
        <p class="desc-resume"> {{ application?.incapacity_degree }}</p>
    </div>
    <div *ngIf="application?.incapacity" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
        [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.INCAPACITY_TYPE.TITLE' |
            translate }}</p>
        <p class="desc-resume"> {{ application?.incapacity_type }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.NATIONALITY.TITLE' |
            translate }}</p>
        <p class="desc-resume"> {{ application?.nationality ? application?.nationality : '-' }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.IDENTIFICATION.TITLE' |
            translate }}</p>
        <p class="desc-resume" *ngIf="form">{{ (documentType?.translations | languageChange)?.description ?
            (documentType?.translations | languageChange)?.description + ' - ' : ''}} {{
            application?.identification }}</p>
        <p class="desc-resume" *ngIf="!form">{{ application?.document_type ? (application?.document_type?.translations |
            languageChange)?.description + ' - ' : ''}} {{
            application?.identification }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.TIN.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ application?.tin }}</p>
    </div>
    <ng-container *ngIf="application?.allow_direct_debit!=null">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
            <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.ALLOW_DIRECT_DEBIT.TITLE'
                |
                translate }}</p>
            <p class="desc-resume">{{ application?.allow_direct_debit ? ('SWITCH.YES' | translate) : ('SWITCH.NO' |
                translate) }}</p>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
            *ngIf="application?.allow_direct_debit">
            <p class="sub-title-resume">IBAN</p>
            <p class="desc-resume">{{ application?.iban }}</p>
        </div>
    </ng-container>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.ADDRESS.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ application?.address }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.POSTAL_CODE.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ application?.postal_code }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.CITY.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ application?.city }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.COUNTRY.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ application?.country ? application?.country : '-' }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.HOUSEHOLD_DISTANCE.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ application?.household_distance }} kms</p>
    </div>
</div>
<nz-divider></nz-divider>

<!--Contact-->
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
        {{ 'ACCOMMODATION.APPLICATIONS.STEP_TWO.CONTACTS' |
        translate }}
    </div>
    <div nz-col *ngIf="form" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12"
        class="text-right">
        <button nz-button class="button-edit-review" nzType="default" (click)="changeValue(1)">
            <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
        </button>
    </div>
</div>
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.PHONE_1.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ application?.phone_1}}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.PHONE_2.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ application?.phone_2}}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.EMAIL.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ application?.email}}</p>
    </div>
    <div *ngIf="application?.secundary_email" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
        [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.SECUNDARY_EMAIL.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ application?.secundary_email }}</p>
    </div>
</div>
<nz-divider></nz-divider>

<!--Residence-->
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
        {{ 'ACCOMMODATION.APPLICATIONS.STEP_THREE.RESIDENCE' |
        translate }}
    </div>
    <div nz-col *ngIf="form" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12"
        class="text-right">
        <button nz-button class="button-edit-review" nzType="default" (click)="changeValue(2)">
            <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
        </button>
    </div>
</div>
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.RESIDENCE_ID.TITLE' |
            translate }}</p>
        <p *ngIf="!form" class="desc-resume">{{ application?.residence?.name }}</p>
        <p *ngIf="form" class="desc-resume">{{ residenceName }}</p>
    </div>
    <div *ngIf="application?.second_option_residence_id" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
        [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.SECOND_RESIDENCE_ID.TITLE' |
            translate }}</p>
        <p *ngIf="!form" class="desc-resume">{{ application?.second_option_residence?.name }}</p>
        <p *ngIf="form" class="desc-resume">{{ nameResidenceSelected }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ "ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.PERIOD.TITLE" | translate
            }}</p>
        <p class="desc-resume">{{ application?.start_date | date: "dd/MM/yyyy" }} - {{ application?.end_date | date:
            "dd/MM/yyyy" }}</p>

    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.REGIME_ID.TITLE' |
            translate }}</p>
        <p *ngIf="!form" class="desc-resume">{{ (application?.regime?.translations | languageChange)?.name }}</p>
        <p *ngIf="form" class="desc-resume">{{ (sendRegime?.regime?.translations | languageChange)?.name }}</p>
    </div>
    <div *ngIf="!form && application.extras.length>0" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
        [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.EXTRAS.TITLE' |
            translate }}</p>
        <p *ngFor="let extra of application?.extras" class="desc-resume">{{ (extra?.translations | languageChange)?.name
            }}
        </p>
    </div>
    <div *ngIf="form && extrasSend.length>0" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
        [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.EXTRAS.TITLE' |
            translate }}</p>
        <p *ngFor="let extra of extrasSend" class="desc-resume">{{ (extra?.extra?.translations | languageChange).name }}
        </p>
    </div>
    <div *ngIf="!form && application.preferred_typology" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
        [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.TYPOLOGY.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ (application?.preferred_typology?.translations | languageChange)?.name }}</p>
    </div>
    <div *ngIf="form && sendTypologies" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.TYPOLOGY.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ (sendTypologies?.translations | languageChange)?.name }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{
            'ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.HAS_USED_RESIDENCES_BEFORE.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ application?.has_used_residences_before ? ('SWITCH.YES' | translate) : ('SWITCH.NO' |
            translate) }}</p>
    </div>
    <div *ngIf="application?.has_used_residences_before" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
        [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{
            'ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.WHICH_RESIDENCE.TITLE' |
            translate }}</p>
        <p *ngIf="!form" class="desc-resume">{{ application?.whichResidence?.name }}</p>
        <p *ngIf="form" class="desc-resume">{{ nameUsedResidenceSelected }}</p>
    </div>
    <div *ngIf="application?.has_used_residences_before" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
        [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{
            'ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.WHICH_ROOM.TITLE' |
            translate }}</p>
        <p *ngIf="!form" class="desc-resume">{{ application?.whichRoom?.name }}</p>
        <p *ngIf="form" class="desc-resume">{{ nameRoom }}</p>
    </div>
</div>
<nz-divider></nz-divider>

<!--Academic data-->
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
        {{ 'ACCOMMODATION.APPLICATIONS.STEP_FOUR.ACADEMIC_DATA' |
        translate }}
    </div>
    <div nz-col *ngIf="form" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12"
        class="text-right">
        <button nz-button class="button-edit-review" nzType="default" (click)="changeValue(3)">
            <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
        </button>
    </div>
</div>
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_FOUR.FORM_ELEMENTS.INTERNATIONAL.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ application?.international_student ? ('SWITCH.YES' | translate) : ('SWITCH.NO' |
            translate) }}</p>
    </div>

    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_FOUR.FORM_ELEMENTS.ORGANIC_UNIT.TITLE' |
            translate }}</p>
        <p *ngIf="!form" class="desc-resume">{{ application?.organic_unit?.name ? application?.organic_unit?.name : '-'
            }}</p>
        <p *ngIf="form" class="desc-resume">{{ nameOrganic }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_FOUR.FORM_ELEMENTS.COURSE_DEGREE.TITLE' |
            translate }}</p>
        <p *ngIf="!form" class="desc-resume">{{ application?.course?.courseDegree?.name ?
            application?.course?.courseDegree?.name : '-' }}</p>
        <p *ngIf="form" class="desc-resume">{{ nameCourseDegree }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_FOUR.FORM_ELEMENTS.COURSE.TITLE' |
            translate }}</p>
        <p *ngIf="!form" class="desc-resume">{{ application?.course?.name }}</p>
        <p *ngIf="form" class="desc-resume">{{ nameCourse }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_FOUR.FORM_ELEMENTS.COURSE_YEAR.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ application?.course_year }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_FOUR.FORM_ELEMENTS.STUDENT_NUMBER.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ application?.student_number }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_FOUR.FORM_ELEMENTS.ADMISSION_DATE.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ application?.admission_date | date: "dd/MM/yyyy" }}</p>
    </div>

</div>

<nz-divider></nz-divider>

<!--Household-->
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
        {{ 'ACCOMMODATION.APPLICATIONS.STEP_FIVE.HOUSEHOLD' |
        translate }}
    </div>
    <div nz-col *ngIf="form" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12"
        class="text-right">
        <button nz-button class="button-edit-review" nzType="default" (click)="changeValue(4)">
            <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
        </button>
    </div>
</div>
<div nz-row>
    <div nz-col *ngIf="application?.house_hould_elements.length>0" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
        [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{
            'ACCOMMODATION.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.HOUSEHOLD_ELEMENTS_NUMBER.TITLE' |
            translate }}</p>
        <p *ngFor="let house of application?.house_hould_elements" class="desc-resume">{{ house?.kinship }} - {{
            house?.profession }}</p>
    </div>
    <div nz-col *ngIf="application?.househould_elements_in_university" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
        [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{
            'ACCOMMODATION.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.HOUSEHOLD_ELEMENTS_IN_UNIVERSITY.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ application?.househould_elements_in_university }}</p>
    </div>
    <div nz-col *ngIf="application?.household_total_income" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
        [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.HOUSEHOLD_TOTAL_INCOME.TITLE'
            |
            translate }} {{year-1}}</p>
        <p class="desc-resume">{{ application?.household_total_income | number:'1.2-2' }} €</p>
    </div>
    <div nz-col *ngIf="application?.income_source" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
        [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.ORIGIN_OF_INCOME.TITLE' |
            translate }}</p>
        <p class="desc-resume" *ngFor="let income of application?.income_source">
            {{ income == 'DEPENDENT_WORKER' ?
            ("ACCOMMODATION.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.ORIGIN_OF_INCOME.ORIGIN.DEPENDENT_WORKER"
            | translate) :
            income == 'INDEPENDENT_WORK' ?
            ("ACCOMMODATION.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.ORIGIN_OF_INCOME.ORIGIN.INDEPENDENT_WORK" | translate)
            : income == 'PENSIONS' ?
            ("ACCOMMODATION.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.ORIGIN_OF_INCOME.ORIGIN.PENSIONS" | translate)
            : income == 'UNEMPLOYMENT_ALLOWANCE' ?
            ("ACCOMMODATION.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.ORIGIN_OF_INCOME.ORIGIN.UNEMPLOYMENT_ALLOWANCE" |
            translate)
            : income == 'RSI' ?
            ("ACCOMMODATION.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.ORIGIN_OF_INCOME.ORIGIN.RSI" | translate)
            : income == 'OTHER' ?
            ("ACCOMMODATION.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.ORIGIN_OF_INCOME.ORIGIN.OTHER" | translate) : '-'
            }}
        </p>
    </div>

    <div nz-col *ngIf="application?.other_income_source" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
        [nzXXl]="24">
        <p class="sub-title-resume">{{
            'ACCOMMODATION.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.ORIGIN_OF_INCOME.ORIGIN.OTHER' |
            translate }}</p>
        <p class="desc-resume">{{ application?.other_income_source }} </p>
    </div>
    <div *ngIf="form && descPatrimony != ''" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
        [nzXXl]="24">
        <p class="sub-title-resume">{{
            'ACCOMMODATION.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.HOUSEHOLD_ACCOUNTS_BALANCE.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ descPatrimony ? descPatrimony : '-' }}</p>
    </div>
    <div *ngIf="!form && application?.patrimony_category" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
        [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{
            'ACCOMMODATION.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.HOUSEHOLD_ACCOUNTS_BALANCE.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ application?.patrimony_category }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{
            'ACCOMMODATION.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.INCOME_STATEMENT_DELIVERED.TITLE' |
            translate }}</p>
        <p class="desc-resume">{{ application?.income_statement_delivered ? ('SWITCH.YES' | translate) : ('SWITCH.NO' |
            translate) }} </p>
    </div>
    <div *ngIf="application?.income_statement_delivered" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
        [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{ 'ACCOMMODATION.APPLICATIONS.STEP_FIVE.FORM_ELEMENTS.IRS_HOUSEHOLD.TITLE' |
            translate }} {{year-1}}</p>
        <nz-spin [nzSpinning]="loadingFiles">
            <div nz-row nzType="flex" [nzGutter]="6" *ngIf="!this.loadingFiles">

                <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="5" [nzXXl]="4" class="gallery"
                    *ngFor="let media of filesIncomeStatement">
                    <div *ngIf="media?.type == 'IMAGE'">
                        <a target="_blank" [href]="media?.url">
                            <img [src]="media?.url" width="100px">
                        </a>
                    </div>
                    <div *ngIf="media?.type != 'IMAGE'">
                        <a target="_blank" [href]="media?.url">
                            <img src="/assets/imgs/doc.PNG" width="100px">
                        </a>
                    </div>
                </div>

            </div>
        </nz-spin>
    </div>
</div>
<nz-divider></nz-divider>

<!--BENEFIS-->
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
        {{ 'ACCOMMODATION.APPLICATIONS.STEP_SEVEN.SOCIAL_BENEFITS' |
        translate }}
    </div>
    <div nz-col *ngIf="form" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12"
        class="text-right">
        <button nz-button class="button-edit-review" nzType="default" (click)="changeValue(5)">
            <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
        </button>
    </div>
</div>
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume">{{"ACCOMMODATION.APPLICATIONS.STEP_SEVEN.FORM_ELEMENTS.APPLIED_SCHOLARSHIP.LABEL1" |
            translate}} {{year}}/{{year+1}}
            {{"ACCOMMODATION.APPLICATIONS.STEP_SEVEN.FORM_ELEMENTS.APPLIED_SCHOLARSHIP.LABEL2" |
            translate}}</p>
        <p class="desc-resume">{{ application?.applied_scholarship ? ('SWITCH.YES' | translate) : ('SWITCH.NO' |
            translate) }}
        </p>
    </div>
    <div *ngIf="application?.scholarship_value" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
        [nzXXl]="24">
        <p class="sub-title-resume">{{
            "ACCOMMODATION.APPLICATIONS.STEP_SEVEN.FORM_ELEMENTS.SCHOLARSHIP_VALUE.DESC_REVIEW" | translate
            }}</p>
        <p class="desc-resume">{{ application?.scholarship_value | number:'1.2-2' }} €</p>
    </div>
</div>

<!--Observations-->

<div *ngIf="application?.observations || filesOthers?.length>0" nz-row>
    <nz-divider></nz-divider>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
        {{ 'ACCOMMODATION.APPLICATIONS.STEP_NINE.OBSERVATIONS' |
        translate }}
    </div>
    <div nz-col *ngIf="form" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12"
        class="text-right">
        <button nz-button class="button-edit-review" nzType="default" (click)="changeValue(6)">
            <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
        </button>
    </div>
    <div *ngIf="application?.observations" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
        [nzXXl]="24" style="padding-top: 15px;">
        <p class="desc-resume">{{ application?.observations }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" style="padding-top: 15px;">
        <p *ngIf="filesOthers?.length>0" class="sub-title-resume">{{
            'ACCOMMODATION.APPLICATIONS.STEP_NINE.FORM_ELEMENTS.FILES' |
            translate }}</p>
        <nz-spin [nzSpinning]="loadingFiles">
            <div nz-row nzType="flex" [nzGutter]="6" *ngIf="!this.loadingFiles">

                <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="5" [nzXXl]="4" class="gallery"
                    *ngFor="let file of filesOthers">
                    <div *ngIf="file?.type == 'IMAGE'">
                        <a target="_blank" [href]="file?.url">
                            <img [src]="file?.url" width="100px">
                        </a>
                    </div>
                    <div *ngIf="file?.type != 'IMAGE'">
                        <a target="_blank" [href]="file?.url">
                            <img src="/assets/imgs/doc.PNG" width="100px">
                        </a>
                    </div>
                </div>

            </div>
        </nz-spin>
    </div>


</div>


<div nz-row *ngIf="!form">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" style="text-align: center">
        <app-button (click)="print()" [loading]='loadingPrint' [disabled]="loadingPrint" [translate]="'MISC.PRINT'">
        </app-button>
    </div>
</div>


<!---------------------------MODAL SUCCESS REPORT----------------------->
<nz-modal [nzVisible]="successModalReport" (nzOnCancel)="successModalReport = false" (nzOnOk)="successModalReport = false"
[nzFooter]="null" [nzWidth]=400>
    <div nz-row class="text-center text-title-modal-success">
        <label>{{'DASHBOARD.BUTTON.ACCOMMODATION' | translate}}</label>
    </div>
    <app-modal-success-report></app-modal-success-report>
   
</nz-modal>