

.detail-text {
    font-size: larger;
    color: unset;
    margin-bottom: 5px;
    margin-top: -5px;
}

.text-title-modal-success {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-top: 20px;
  }

.button-edit-review {
    font-size: 14px;
    line-height: 24px;
    margin-top: 20px;
    color: var(--primary-color);
    border-radius: 21px;
    border: solid 2px var(--primary-color);
    font-weight: 700;
}

.text-right {
    text-align: right;
}
