.title {
    font-size: 30px;
}

.container {
    background: white;
    padding: 24px 46px 24px 46px;
    margin-bottom: 24px;
}

.actions {
    text-align: right;
}

.error {
    color: red;
}

.space{
    background-color: #F2F2F2;
    padding-top:20px;
    padding-bottom: 20px;
    text-align: right
}