<div perfectScrollbar class="ps scroll-container " style="height: 100%">
  <div class="container">
      <nz-spin [nzSpinning]="loadingConfiguration">
          <form nz-form [formGroup]="formData">
              <div nz-row>
                  <nz-form-item>
                      <nz-form-label nzFor="assigned_status_auto_change">Passagem automática de estado
                      </nz-form-label>
                      <nz-form-control>
                          <nz-switch formControlName="assigned_status_auto_change" id="assigned_status_auto_change"
                              (ngModelChange)="changeStatus($event)">
                          </nz-switch>
                      </nz-form-control>
                  </nz-form-item>
                  <div nz-row>
                      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="10" [nzLg]="10" [nzXl]="6" [nzXXl]="6">
                          <nz-form-item *ngIf="formData.get('assigned_status_auto_change').value=='true' || formData.get('assigned_status_auto_change').value==true">
                              <nz-form-label nzFor="assigned_status_auto_change_day" nzRequired>Após
                              </nz-form-label>
                              <nz-form-control>
                                  <nz-input-group nzAddOnAfter="Dias">
                                      <input nz-input type="number" minlength="1" pattern="\d*"
                                          formControlName="assigned_status_auto_change_day">
                                  </nz-input-group>

                              </nz-form-control>
                              <div class="error" *ngIf="submit && f.assigned_status_auto_change_day.errors">
                                  O campo é obrigatório
                              </div>
                          </nz-form-item>
                      </div>
                      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="2" [nzXXl]="2"></div>
                      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="10" [nzLg]="10" [nzXl]="10" [nzXXl]="10">
                          <nz-form-item *ngIf="formData.get('assigned_status_auto_change').value=='true' || formData.get('assigned_status_auto_change').value==true">
                              <nz-form-label nzFor="assigned_status_auto_change_state" nzRequired>Para o estado
                              </nz-form-label>
                              <nz-form-control>
                                  <nz-select class="primary-select"
                                      formControlName="assigned_status_auto_change_state">
                                      <nz-option [nzLabel]="'Aceite'" [nzValue]="'ACCEPT'">
                                      </nz-option>
                                      <nz-option [nzLabel]="'Rejeitado'" [nzValue]="'REJECT'">
                                      </nz-option>
                                  </nz-select>
                              </nz-form-control>
                              <div class="error" *ngIf="submit && f.assigned_status_auto_change_state.errors">
                                  O campo é obrigatório
                              </div>
                          </nz-form-item>
                      </div>
                  </div>
              </div>
          </form>
      </nz-spin>
  </div>
</div>
<div *ngIf="('bus:configurations:create' | hasPermission)" nz-row nzType="flex" nzJustify="end" class="space">
  <div nz-col nzSpan="24" class="actions">
      <button nz-button nzType="primary" type="button" (click)="submitForm()" [nzLoading]="loading">
          <i nz-icon nzType="save"></i>Gravar</button>
  </div>
</div>