<div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
  <div nz-col nzSpan="21">
    <b>Nome</b>
  </div>
  <div nz-col nzSpan="3">
      <b>Ativo|Opções</b>
  </div>
</div>
<nz-list [nzDataSource]="components" [nzRenderItem]="item" [nzLoading]="loading">
  <ng-template #item let-c>
    <nz-list-item
     [nzActions]="[active_component,delete_component]"
    >
    <ng-template #active_component>
      <nz-switch [(ngModel)]="c.active" (ngModelChange)="desactivateComponent(c.id, $event)"></nz-switch>
    </ng-template>
    <ng-template #delete_component>
      <button nz-button (click)="removeComponentFromDevice(c.id)" nz-tooltip="Eliminar" nzType="danger">
        <i nz-icon type="delete" ></i>
      </button>
    </ng-template>
      <nz-list-item-meta
        [nzTitle]="c.name">
      </nz-list-item-meta>
    </nz-list-item>
  </ng-template>
</nz-list>
<div *ngIf="'configuration:components:create' | hasPermission">
  <nz-divider></nz-divider>
  <div nz-row nzType="flex" nzGutter="8" nzJustify="space-between" nzAlign="middle">
    <div nz-col nzSpan="18">
      <b>Nome</b>
    </div>
    <div nz-col nzSpan="3">
      <b>Ativo</b>
    </div>
    <div nz-col nzSpan="3">
      <b>Opções</b>
    </div>
  </div>
  <form [formGroup]="formGroupComponent">
    <div nz-row nzGutter="8" nzType="flex" nzAlign="middle">
      <div nz-col nzSpan="18">
        <input nz-input formControlName="name" id="name" name="name" placeholder="Nome Componente">
      </div>
      <div nz-col nzSpan="3">
        <nz-switch formControlName="active" name="active"></nz-switch>
      </div>
      <div nz-col nzSpan="3">
        <button nz-button nzType="primary" (click)="addComponentToDevice(formGroupComponent.value, formGroupComponent.valid)" >Inserir</button>
      </div>
    </div>
  </form>
</div>

