<AbsoluteLayout>
  <StackLayout width="100%" height="100%">
    <!-- action bar -->
    <fi-action-bar [actionBarType]="4"></fi-action-bar>

    <!-- scroll init -->
    <ScrollView row="0">
        <StackLayout class="fisas__content">
            <StackLayout marginTop="36">
                <Label class="fisas__h1" text="{{ 'record.title' | translate }}"></Label>
                <Label class="fisas__h2" text="UBike"></Label>
            </StackLayout>

            <!-- Distance -->
            <StackLayout paddingTop="30">
                <Label class="step4__p" textWrap="true" text="{{ 'record.distance' | translate }}" paddingBottom="6"></Label>
                <Label class="step4__p--light" textWrap="true" text="{{ 'record.distanceDesc' | translate }}"></Label>
                <GridLayout columns="auto, auto" rows="auto" paddingTop="6">
                    <TextField
                        [(ngModel)]="tripDistance" autocapitalizationType="none" autocorrect="false" class="step4__input" col="0" hint="00,0" keyboardType="number" minWidth="102" 
                        textAlignment="right" #element
                    ></TextField>
                    <Label col="1" minWidth="55" class="step4__input--label" text="km"></Label>
                </GridLayout>
            </StackLayout>

            <!-- Time of travel -->
            <StackLayout paddingTop="30">
                <Label class="step4__p" textWrap="true" text="{{ 'record.time' | translate }}" paddingBottom="6"></Label>
                <Label class="step4__p--light" textWrap="true" text="{{ 'record.timeDesc' | translate }}"></Label>
                <GridLayout columns="auto, auto" rows="auto" paddingTop="6">
                    <TextField 
                        [(ngModel)]="tripTime" autocapitalizationType="none" autocorrect="false" class="step4__input" col="0" hint="0" keyboardType="number" minWidth="102" 
                        textAlignment="right" #element
                    ></TextField>
                    <Label col="1" minWidth="55" class="step4__input--label" text="min"></Label>
                </GridLayout>
            </StackLayout>

            <!-- Date -->
            <StackLayout paddingTop="48">
                <Label class="step4__p" textWrap="true" text="{{ 'record.date' | translate }}" paddingBottom="6"></Label>
                <Label class="step4__p--light" textWrap="true" text="{{ 'record.dateDesc' | translate }}"></Label>
                <GridLayout columns="auto, auto" rows="auto" paddingTop="6">
                    <TextField col="0" class="step4__input" hint="2020-01-01" minWidth="169" [(ngModel)]="tripDateString" (tap)="pickDate()" editable="false"></TextField>
                    <Label col="1" minWidth="55" textAlignment="center" fontSize="20" class="step4__input--label fisas__icon" text="&#xe936;"></Label>
                </GridLayout>
            </StackLayout>

            <!-- Description -->
            <StackLayout paddingTop="54">
                <Label class="step4__p" textWrap="true" text="{{ 'record.description' | translate }}" paddingBottom="6"></Label>
                <Label class="step4__p--light" textWrap="true" text="{{ 'record.descriptionDesc' | translate }}"></Label>
                <StackLayout paddingTop="6">
                    <TextField [(ngModel)]="tripDescription" autocapitalizationType="none" autocorrect="false" class="step4__input" hint="ex: escola-ipvc" minWidth="102"></TextField>
                </StackLayout>
            </StackLayout>

            <!-- Button -->
            <StackLayout paddingTop="70">
                <Label *ngIf="error" color="#ff0000" textAlignment="center" textWrap="true" text="{{ 'record.error' | translate }}"></Label>
                <Label *ngIf="option === 1" (tap)="sendTrip()" width="100%" class="fisas__btn-bottom fisas__bg--{{ institution }}" text="{{ 'record.continue' | translate }}"></Label>
                <Label *ngIf="option === 2" (tap)="deleteTrip()" width="100%" borderColor="red" height="36" class="fisas__btn-border" borderWidth="2" textAlignment="center" text="{{ 'record.delete' | translate }}"></Label>
                <Label *ngIf="option === 2" (tap)="updateTrip()" width="100%" marginTop="72" class="fisas__btn-bottom fisas__bg--{{ institution }}" text="{{ 'record.send' | translate }}"></Label>
            </StackLayout>
        </StackLayout>
    </ScrollView>
  </StackLayout>
<fi-footer-modal></fi-footer-modal>
</AbsoluteLayout>
