<form [formGroup]="formGroup" *ngIf="field.hidden !== true">
  <nz-form-item>
    <nz-form-label
      *ngIf="showLabel"
      >{{ field.templateOptions.label }}</nz-form-label
    >
    <nz-form-control>
      <ng-container [ngSwitch]="field.type">
        <input
          nz-input
          *ngSwitchCase="InputType.input"
          [placeholder]="field.defaultValue ? field.defaultValue : ''"
          [formControlName]="field.key"
          [specialCharacters]="['-', '+', ' ', '/']"
          [dropSpecialCharacters]="false"
          [mask]="field.templateOptions.mask ? field.templateOptions.mask : ''"
          [prefix]="
            field.templateOptions.maskPrefix
              ? field.templateOptions.maskPrefix
              : ''
          "
          [suffix]="
            field.templateOptions.maskSufix
              ? field.templateOptions.maskSufix
              : ''
          "
          />
        <input
          nz-input
          *ngSwitchCase="InputType.color"
          [formControlName]="field.key"
          type="color"
        />
        <label
          nz-checkbox
          *ngSwitchCase="InputType.checkbox"
          [formControlName]="field.key"
          >{{ field.templateOptions.label }}</label
        >
        <nz-switch
          *ngSwitchCase="InputType.switch"
          [formControlName]="field.key"
        ></nz-switch>
        <fi-sas-form-select
          *ngSwitchCase="InputType.select"
          [formGroup]="formGroup"
          [field]="field"
        >
        </fi-sas-form-select>
        <nz-date-picker
          *ngSwitchCase="InputType.date"
          [formControlName]="field.key"
          [nzDisabledDate]="field.templateOptions.disableDate"
        ></nz-date-picker>
        <nz-range-picker
          *ngSwitchCase="InputType.daterange"
          [formControlName]="field.key"
        ></nz-range-picker>
        <nz-time-picker
          *ngSwitchCase="InputType.time"
          [formControlName]="field.key"
        ></nz-time-picker>
        <textarea
          nz-input
          *ngSwitchCase="InputType.textarea"
          [formControlName]="field.key"
          nzAutosize
        ></textarea>
        <nz-input-number
          *ngSwitchCase="InputType.number"
          [formControlName]="field.key"
          [nzMax]="field.templateOptions.max"
          [nzMin]="field.templateOptions.min"
          [nzStep]="field.templateOptions.step"
          [nzFormatter]="
            field.templateOptions.hasOwnProperty('formatter')
              ? field.templateOptions.formatter
              : formatterDefault
          "
          [nzParser]="
            field.templateOptions.hasOwnProperty('parser')
              ? field.templateOptions.parser
              : parserDefault
          "
        >
        </nz-input-number>
        <fi-sas-upload-image
          *ngSwitchCase="InputType.uploadImage"
          [formControlName]="field.key"
        ></fi-sas-upload-image>
        <fi-sas-upload-file
          *ngSwitchCase="InputType.uploadFile"
          [formControlName]="field.key"
        ></fi-sas-upload-file>
        <fi-sas-upload-image-gallery
          *ngSwitchCase="InputType.uploadImageGallery"
          [field]="field"
          [formGroup]="formGroup"
        ></fi-sas-upload-image-gallery>
        <fi-sas-form-jsonfield
          *ngSwitchCase="InputType.json"
          [formControlName]="field.key"
        ></fi-sas-form-jsonfield>
        <fi-sas-form-transfer-field
          *ngSwitchCase="InputType.transfer"
          [field]="field"
          [formGroup]="formGroup"
        ></fi-sas-form-transfer-field>

        <nz-month-picker *ngSwitchCase="InputType.monthPicker" [formControlName]="field.key">
        </nz-month-picker>

      </ng-container>
      <nz-form-explain
        *ngIf="
          formGroup.get(field.key) ? formGroup.get(field.key).errors : false
        "
        >{{ getInputError() }}
      </nz-form-explain>
      <nz-form-extra *ngIf="field.templateOptions.tip"
        >{{ field.templateOptions.tip }}.</nz-form-extra
      >




    </nz-form-control>
  </nz-form-item>
</form>
