<div nz-row>
  <div nz-col>
    <p>{{ 'VOLUNTEERING.DISPATCH.TITLE' | translate }}</p>
  </div>

  <div nz-col>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="decision">{{ 'VOLUNTEERING.DISPATCH.DECISION' | translate }}</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-select formControlName="decision" name="decision" id="decision" nzAllowClear>
            <nz-option
              *ngFor="let decision of actions "
              [nzLabel]="decision.label | translate | titlecase"
              [nzValue]="decision.key"
            ></nz-option>
          </nz-select>
          <nz-form-explain class="error" *ngIf="form.get('decision')?.dirty && form.get('decision').errors">
            {{
              'VOLUNTEERING.DISPATCH.SELECT_LABEL' | translate
            }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
