@import "theme";

.detail-field {
  color: var(--primary-color);
  font-weight: normal;
}

.padding-top-20 {
  padding-top: 20px;
}

.title {
  color: black;
}

.space{
  padding-bottom: 20px;
  text-align: right
}

.answer-container{
  padding: 20px;
  background-color: #F2F2F2;
}