<nz-tabset nzTabPosition="left">
  <nz-tab nzTitle="Reclamação">
    <div nz-row nzJustify="start" class="padding-top-20">
      <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
        <p class="title">Submetida em:</p>
      </div>
      <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
        <p class="detail-field">{{ complaint.created_at | date :'dd/MM/yyyy' }}</p>
      </div>
    </div>
    <div nz-row nzJustify="start" class="padding-top-20">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <p class="title">Notas:</p>
      </div>
    </div>
    <div nz-row nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <p class="detail-field">{{ complaint.observation }}</p>
      </div>
    </div>
    <div nz-row nzJustify="start" class="answer-container" *ngIf="complaint.status !=='SOLVED'">
      <form nz-form [formGroup]="complaintResponseForm" nzLayout="horizontal">
        <div nz-row>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="complaint_answer">Responder</nz-form-label>
              <nz-form-control>
                <textarea nz-input formControlName="complaint_answer" id="complaint_answer" name="complaint_answer" rows="4"></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
      <div class="space">
        <button nz-button [nzLoading]="isLoading" (click)="submit()" [nzType]="'primary'">Responder</button>
      </div>
    </div>
    <div nz-row nzJustify="start" class="answer-container" *ngIf="complaint.status !=='CREATED'">
      <div nz-row>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Resposta dos Serviços:</p>
          </div>
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="detail-field">{{ complaint.updated_at | date :'dd/MM/yyyy' }}</p>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Utilizador:</p>
          </div>
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="detail-field">{{ complaint.answered_by }}</p>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <p class="detail-field">{{ complaint.compaint_answer }}</p>
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Dados do Utente">
    <div nz-row nzJustify="start" class="padding-top-20">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
          <p class="title">Nome: </p>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <p class="detail-field">{{ complaint.appointment.name }}</p>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Morada: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ complaint.appointment.address ? complaint.appointment.address : "---" }}</p>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Data de Nascimento: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">----</p>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Código Postal: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ complaint.appointment.postal_code ? complaint.appointment.postal_code : "---" }}</p>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Nacionalidade: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ complaint.appointment.nationality ?  complaint.appointment.nationality : "---"}}</p>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Cidade: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ complaint.appointment.city ? complaint.appointment.city : "---" }}</p>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Documento de Identificação: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ validTranslateName(3,complaint.appointment?.documentType?.translations)}}</p>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12"></div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Número de Identificação: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ complaint.appointment.identification_number ? complaint.appointment.identification_number : "---" }}</p>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12"></div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">NISS: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ complaint.appointment.niss ? complaint.appointment.niss : "---" }}</p>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12"></div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">NIF: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ complaint.appointment.nif ? complaint.appointment.nif : "---" }}</p>
          </div>
        </div>
      </div>
      <div nz-row class="padding-top-20">
        <nz-divider></nz-divider>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Número de Aluno/Corporate: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ complaint.appointment.student_number ? complaint.appointment.student_number : complaint.appointment.corporate_id ? complaint.appointment.corporate_id : "---" }}</p>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Unidade Orgânica: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ complaint.appointment?.organicUnit ? complaint.appointment?.organicUnit.name : "---" }}</p>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Curso: </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ complaint.appointment?.course ? complaint.appointment.course.name : "---" }}</p>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <p class="title">Ano Curricular </p>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{ complaint.appointment.course_year ? complaint.appointment.course_year : "---" }}</p>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
          <p class="title">Email: </p>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <p class="detail-field">{{ complaint.appointment.email ? complaint.appointment.email : "---" }}</p>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
          <p class="title">Nº de Telemóvel: </p>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <p class="detail-field">{{ complaint.appointment.mobile_phone_number ? complaint.appointment.mobile_phone_number : "---" }}</p>
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Dados da Consulta">
    <div nz-row nzJustify="start" class="padding-top-20">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
          <p class="title">Especialidade: </p>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <p class="detail-field">{{validTranslateName(3,complaint.appointment.specialty?.translations)}}</p>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
          <p class="title">Tipo: </p>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <p class="detail-field">{{validTranslateName(3,complaint.appointment.appointment_type?.translations)}}</p>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
          <p class="title">Local: </p>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <p class="detail-field">{{ complaint.appointment.specialty.place ? complaint.appointment.specialty.place.name : "---" }}</p>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
          <p class="title">Serviço: </p>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <p class="detail-field">{{ complaint.appointment.specialty.is_external ? "Externo" : "Interno" }}</p>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
          <p class="title">Médico: </p>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <p class="detail-field">{{ complaint.appointment.doctor.user ? complaint.appointment.doctor.user.name : "---" }}</p>
        </div>
      </div>
      <div nz-row class="padding-top-20">
        <nz-divider></nz-divider>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
          <p class="title">Data da Marcação: </p>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <p class="detail-field">{{ complaint.appointment.date | date :'dd/MM/yyyy'  }}</p>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
          <p class="title">Hora da Marcação: </p>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <p class="detail-field">{{ complaint.appointment.start_hour ? complaint.appointment.start_hour : "---" }}</p>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
          <p class="title">Duração da Consulta: </p>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <p class="detail-field">{{ complaint.appointment.specialty ? complaint.appointment.specialty.avarage_time +" min" : "---" }}</p>
        </div>
      </div>
    </div>
  </nz-tab>
</nz-tabset>