@import 'theme';

.error {
  color: red;
  margin-top:5px;

  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}

.font-file {
  font-size: 12px;
  line-height: initial;
  padding-top: 5px;
}


.text-title {
  font-weight: bold;
  color: black;
}

.padding-text-title {
  padding-top: 15px;
  padding-left: 40px;
}

.input-tab {
  &--label {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #222222;
    margin-bottom: 6.5px;
  }
  &--input {
    width: 105px !important;
  }
}

.form {
  &--title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: #222222;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }
  &--subtitle {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #666666;
    margin-top: 8px;
    margin-bottom: 23.5px;
    margin-left: 40px;
    margin-right: 40px;
  }
  &--file-types {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #666666;
    margin-top: 8px;
    margin-bottom: 23.5px;
    margin-right: 40px;
  }
  &__inputs {
    margin-left: 30px !important;
    margin-right: 30px !important;
    &--hours {
      float: right;
    }
  }
  &--button {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
}

.link-file {
  color: var(--primary-color);
  text-decoration: underline;
}

:host::ng-deep.anticon svg {
  g path {
    fill: black !important;
  }
}
