@import "theme";

.button {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  border: none;

  &__primary {
    background-color: var(--primary-color);
    color: white;
    border: 2px solid transparent;

    &:hover {
      background-color: white;
      color: var(--primary-color);
      border: 2px solid var(--primary-color);
    }

    &:active {
      background-color: white;
      color: var(--primary-color);
      border: 2px solid var(--primary-color);
    }

    &:focus {
      background-color: white;
      color: var(--primary-color);
      border: 2px solid var(--primary-color);
    }

    &:disabled {
      background-color: var(--primary-color);
      color: white;
      border: 2px solid transparent;
      opacity: 0.5;
    }
  }

  &__secundary {
    background-color: white;
    color: var(--primary-color);
    border-radius: 21px;
    border: solid 2px var(--primary-color);

    &:hover {
      background-color: var(--primary-color);
      color: white;
    }

    &:active {
      background-color: var(--primary-color);
      color: white;
    }

    &:focus {
      background-color: var(--primary-color);
      color: white;
    }

    &:disabled {
      background-color: white;
      color: var(--primary-color);
      border-radius: 21px;
      border: solid 2px var(--primary-color);
      opacity: 0.5;
    }
  }

  &__tertiary {
    background-color: white;
    color: var(--primary-color);

    &:hover {
      background-color: var(--primary-color);
      color: white;
    }

    &:active {
      background-color: var(--primary-color);
      color: white;
    }

    &:focus {
      background-color: var(--primary-color);
      color: white;
    }

    &:disabled {
      background-color: white;
      color: var(--primary-color);
      opacity: 0.5;
    }
  }

  &__floating {
    background-color: var(--primary-color);
    color: white;
    box-shadow: unset;
    width:fit-content;

    &:hover {
      background-color: var(--primary-4);
      color: white;
    }

    &:active {
      background-color: var(--primary-4);
      color: white;
    }

    &:focus {
      background-color: var(--primary-4);
      color: white;
    }

    &:disabled {
      background-color: var(--primary-color);
      color: white;
      box-shadow: unset;
      width:fit-content;
      opacity: 0.5;
    }
  }

  &__infoblue {
    background-color: #00aeef;
    color: white;
    border-radius: 21px;
    &:hover {
      background-color: #81BEF7;
      color: white;
    }

    &:active {
      background-color: #1E90FF;
      color: white;
    }

    &:focus {
      background-color: #1E90FF;
      color: white;
    }

    &:disabled {
      background-color: #00aeef;
      color: white;
      border-radius: 21px;
      opacity: 0.5;
    }
  }

  &__red {
    background-color: #d0021b;
    color: white;
    border-radius: 21px;
    &:hover {
      background-color: #b90116;
      color: white;
    }

    &:active {
      background-color: #8B0000;
      color: white;
    }

    &:focus {
      background-color: #8B0000;
      color: white;
    }

    &:disabled {
      background-color: #d0021b;
      color: white;
      border-radius: 21px;
      opacity: 0.5;
    }
  }


}
