<button class="button" nz-button nzShape="round"
  [ngClass]="{'button__primary': type===ButtonType.Primary,'button__secundary': type===ButtonType.Secundary,'button__tertiary': type===ButtonType.Tertiary,'button__floating': type===ButtonType.Floating,'button__red': type===ButtonType.Red, 'button__infoblue': type===ButtonType.InfoBlue }"
  [nzLoading]="loading"
  [disabled]="disabled"
  [ngStyle]="buttonStyle"
>
  <i nz-icon [nzType]="rightIcon" *ngIf="rightIcon !== null" [nzTheme]="'outline'"></i>
  {{ translate | translate }}
  <i nz-icon [nzType]="leftIcon" *ngIf="leftIcon !== null" [nzTheme]="'outline'"></i>
</button>
