@import 'theme';


.bottom {
  padding-bottom: 20px;
}

.icon {
  font-size: 30px;
  cursor: pointer;
}

.with-info {
  width: 100%;
}

.without-info {
  width: 70%;
  float: left;
  padding-right: 10px;
  border-right: 2px solid #f0f2f5;
  @media screen and (max-width:600px) {
    width: 100%;
    border: none;
    padding-right: 0px;
  }
  @media screen and (max-width:800px) {
    width: 100%;
    border: none;
    padding-right: 0px;
  }
}

.info {
  width: 30%;
  padding-left: 20px;
  float: right;
  @media screen and (max-width:600px) {
    width: 100%;
    padding-left: 0px;
  }
  @media screen and (max-width:800px) {
    width: 100%;
    padding-left: 0px;
  }
}

#icon-info-text-form::ng-deep svg {
  g path {
      fill: var(--primary-color) !important;
  }
}


.margin-top-0 {
  margin-top: 0px;
}

.margin-top--10 {
  margin-top:-10px;
}

.button-back-action {
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
  color: black;
  border-radius: 21px;
  border: solid 2px var(--primary-color);
}

.button-next-action {
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 21px;
  border: solid 2px var(--primary-color);
}

.divider {
  margin-top: 70px;
}

.application_form {
  padding: 25px;
}


.steps-minimal-size_sub-title{
  margin: 0px !important;
}

.steps-minimal-size_title{
  font-size: 20px;
  margin-bottom: 1px !important;
  font-weight: 500;
}


.back-button {
  margin-top: 20px;
  margin-left: 25px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #333333;
  border: none;
}

.detail-text {
  font-size: larger;
  color: unset;
  margin-bottom: 5px;
  margin-top: -5px;
}

.error {
  color: red;
  margin-top:5px;

  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}

.title-step {
  color: var(--primary-color);
  font-size: 25px;
  font-weight: bold;
}

.step_divider_title {
  font-weight: bold;
  color: black;
}

#form_application_accommodation_birth_date.ng-invalid.error ::ng-deep .ant-calendar-picker-input {
  border-color: red !important;
  background-color: #ff00000a !important;
  :focus {
    border-color: red !important;
  }

  :hover {
    border-color: red !important;
  }
}

.total-width{
  width: 100% !important;
}

.divider-web {
  margin-top: 10px;
  width: 100%;
}


.ant-calendar-picker {
  width: 100%;
}

::ng-deep .ant-upload.ant-upload-select, .ant-input-group {
  width: 100% !important;
}

.i-plus-close{
  font-size: 18px;
  color: var(--primary-color);
  cursor: pointer;
}

.link {
  text-decoration: underline;
}

:host::ng-deep {

  .disabled-input {
    cursor: not-allowed;
    opacity: 1;
    pointer-events: none;
    background-color: transparent;
  }
}

.hidden-md {
  display:none;
}

.title-info {
  font-weight: bold;
  color: black;
  font-size: 14px;
}

@media screen and (max-width: 800px) {

  .hidden-xs {
    display: none;
  }

  .hidden-md {
      display:block;
  }
}

@media screen and (max-width: 600px) {

  .hidden-xs {
    display: none;
  }

  .hidden-md {
      display:block;
  }
}


.black-text{
  color: black;
}


.button-edit-review {
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
  color: var(--primary-color);
  border-radius: 21px;
  border: solid 2px var(--primary-color);
  font-weight: 700;
}

.text-right {
  text-align: right;
}
