<!--- OPTIONS -->
<div nz-row style="margin: 24px 0px;">
  <div nz-col [nzSm]="1" [nzXs]="1"></div>
  <div nz-col [nzSm]="22" [nzXs]="22">
    <app-button translate="MISC.CANCEL" (click)="back()" [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}"
      type="tertiary"></app-button>
  </div>

  <div nz-col [nzSm]="1" [nzXs]="1"></div>
</div>


<div nz-row>
  <div nz-col [nzSm]="1" [nzXs]="1"></div>
  <div nz-col [nzSm]="22" [nzXs]="22">
    <div nz-row class="content__space" style="margin-top:0px">

      <div class="content content__prog">
        <!--XL to XXL-->
        <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="0" [nzXl]="24" [nzXXl]="24">
          <nz-steps class="content__line" [nzCurrent]="current" nzProgressDot>
            <nz-step nzTitle="{{ 'MOBILITY.SUB_23_DECLARATIONS.IDENTIFICATION' | translate }}"
              nzDescription="{{ 'MOBILITY.SUB_23_DECLARATIONS.STEP.STEP1' | translate }}">
            </nz-step>
            <nz-step nzTitle="{{ 'MOBILITY.SUB_23_DECLARATIONS.ADDRESS' | translate }}"
              nzDescription="{{ 'MOBILITY.SUB_23_DECLARATIONS.STEP.STEP2' | translate }}">
            </nz-step>
            <nz-step nzTitle="{{ 'MOBILITY.SUB_23_DECLARATIONS.OBSERVATIONS' | translate }}"
              nzDescription="{{ 'MOBILITY.SUB_23_DECLARATIONS.STEP.STEP3' | translate }}">
            </nz-step>
            <nz-step nzTitle="{{ 'MOBILITY.SUB_23_DECLARATIONS.REVISION' | translate }}"
              nzDescription="{{ 'MOBILITY.SUB_23_DECLARATIONS.STEP.STEP4' | translate }}">
            </nz-step>
          </nz-steps>
        </div>
        <!--XS to SM-->
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="0" [nzXXl]="0">
          <div *ngIf="current===0">
            <p class="steps-minimal-size_title">
              {{ 'MOBILITY.SUB_23_DECLARATIONS.IDENTIFICATION' | translate }}
            </p>
            <p class="steps-minimal-size_sub-title">
              {{ 'MOBILITY.SUB_23_DECLARATIONS.STEP.STEP1_TOTAL' | translate }}
            </p>
          </div>
          <div *ngIf="current===1">
            <p class="steps-minimal-size_title">
              {{ 'MOBILITY.SUB_23_DECLARATIONS.ADDRESS' | translate }}
            </p>
            <p class="steps-minimal-size_sub-title">
              {{ 'MOBILITY.SUB_23_DECLARATIONS.STEP.STEP2_TOTAL' | translate }}
            </p>
          </div>
          <div *ngIf="current===2">
            <p class="steps-minimal-size_title">
              {{ 'MOBILITY.SUB_23_DECLARATIONS.OBSERVATIONS' | translate }}
            </p>
            <p class="steps-minimal-size_sub-title">
              {{ 'MOBILITY.SUB_23_DECLARATIONS.STEP.STEP3_TOTAL' | translate }}
            </p>
          </div>
          <div *ngIf="current===3">
            <p class="steps-minimal-size_title">
              {{ 'MOBILITY.SUB_23_DECLARATIONS.REVISION' | translate }}
            </p>
            <p class="steps-minimal-size_sub-title">
              {{ 'MOBILITY.SUB_23_DECLARATIONS.STEP.STEP5_TOTAL' | translate }}
            </p>
          </div>

        </div>
      </div>

      <nz-divider class="divider"></nz-divider>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="application_form">
        <form nz-form [formGroup]="declarationGroup" nzLayout="horizontal">
          <div nz-row *ngIf="showErrorMessage" class="bottom">
            <div nz-col nzSpan="24">
              <nz-alert nzType="error" [nzMessage]="'MISC.ERROR_GENERIC' | translate"></nz-alert>
            </div>
          </div>
          <div *ngIf="index === 'identification'">
            <p class="title-step-form"> {{ "MOBILITY.SUB_23_DECLARATIONS.IDENTIFICATION" | translate }}
            </p>
            <p>{{'MISC.REQUIRED-INFO' | translate }}<span class="error"><b>*</b></span> {{'MISC.REQUIRED-INFO-2' | translate }}</p>
            <div *ngIf="existInfoStep('MOBILITY_SUB23_DECLARATION_STEP_1')" class="hidden-xs">
              <div *ngIf="!openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="icons:icons-icons-info" nzTheme="outline" class="icon" id="icon-info-text-form"
                  (click)="openInfo = true"></i>
              </div>
              <div *ngIf="openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="close" nzTheme="outline" style="cursor: pointer;" (click)="openInfo = false"></i>
              </div>
            </div>
            <div nzType="flex" style="align-items: stretch;">
              <div [ngClass]="{'with-info': !openInfo, 'without-info': openInfo}">
                <div nz-row>
                  <div nz-col [nzXs]="24" [nzMd]="11">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="academic_year">
                        <b>{{ 'MOBILITY.SUB_23_DECLARATIONS.ACADEMIC_YEAR' | translate }}</b>
                      </nz-form-label>
                      <nz-form-control nz-row>
                        <input nz-input mask="0000-0000" class="primary-input" [dropSpecialCharacters]="false"
                          [showMaskTyped]="true" formControlName="academic_year" id="academic_year" />
                        <nz-form-explain class="error"
                          *ngIf="declarationGroup.get('academic_year')?.dirty && declarationGroup.get('academic_year').errors">
                          {{ getInputError("academic_year") | translate }}</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col [nzXs]="24" [nzMd]="24">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="name">
                        <b>{{ 'MOBILITY.SUB_23_DECLARATIONS.NAME' | translate }}</b>
                      </nz-form-label>
                      <nz-form-control>
                        <input nz-input formCondiv formControlName="name" class="primary-input" id="name"
                          placeholder="ex. João Pedro" [attr.disabled]="loggedUser?.name" />
                        <nz-form-explain class="error"
                          *ngIf="declarationGroup.get('name')?.dirty && declarationGroup.get('name').errors">
                          {{ getInputError("name") | translate }}</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col [nzXs]="24" [nzMd]="11">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="birth_date">
                        <b>{{ 'MOBILITY.SUB_23_DECLARATIONS.BIRTH_DATE' | translate }}</b>
                      </nz-form-label>
                      <nz-form-control>
                        <nz-date-picker formCondiv formControlName="birth_date" id="birth_date"
                          class="primary-datePicker" [nzDisabled]="loggedUser?.birth_date"></nz-date-picker>
                        <nz-form-explain class="error"
                          *ngIf="declarationGroup.get('birth_date')?.dirty && declarationGroup.get('birth_date').errors">
                          {{ getInputError("birth_date") | translate }}</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col [nzXs]="24" [nzMd]="11">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="identification" style="white-space: break-spaces;">
                        <b>{{ 'MOBILITY.SUB_23_DECLARATIONS.DOCUMENT_TYPE' | translate }}</b>
                      </nz-form-label>
                      <nz-form-control>
                        <nz-select formControlName="document_type_id" [nzMode]="'default'" nzShowSearch nzAllowClear
                          class="black-text" [nzDisabled]="loggedUser?.document_type_id" class="primary-select">
                          <ng-container *ngFor="let type of documentTypes">
                            <nz-option [nzValue]="type.id"
                              [nzLabel]="(type?.translations | languageChange).description">
                            </nz-option>
                          </ng-container>
                        </nz-select>
                        <nz-form-explain class="error"
                          *ngIf="declarationGroup.get('document_type_id')?.dirty && declarationGroup.get('document_type_id').errors">
                          {{ getInputError("document_type_id") | translate }}</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col [nzXs]="0" [nzMd]="2"></div>
                  <div nz-col [nzXs]="24" [nzMd]="11">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="identification">
                        <b>{{ 'MOBILITY.SUB_23_DECLARATIONS.IDENTIFICATION_NUMBER' | translate }}</b>
                      </nz-form-label>
                      <nz-form-control>
                        <input nz-input formCondiv formControlName="identification" id="identification"
                          [attr.disabled]="loggedUser?.identification" placeholder="558855647" class="primary-input" />
                        <nz-form-explain class="error"
                          *ngIf="declarationGroup.get('identification')?.dirty && declarationGroup.get('identification').errors">
                          {{ getInputError("identification") | translate }}</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>

                <!--<div nz-row>
                  <div nz-col [nzXs]="24" [nzMd]="11">
                    <nz-form-item>
                      <nz-form-label nzFor="cc_emitted_in">
                        <b>{{ 'MOBILITY.SUB_23_DECLARATIONS.EMITTED_IN' | translate }}</b>
                      </nz-form-label>
                      <nz-form-control>
                        <nz-date-picker formControlName="cc_emitted_in" id="cc_emitted_in" formCondiv  class="primary-datePicker"  ></nz-date-picker>
                        <nz-form-explain class="error"
                          *ngIf="declarationGroup.get('cc_emitted_in')?.dirty && declarationGroup.get('cc_emitted_in').errors">
                          {{ getInputError("identification") | translate }}</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>-->

                <div nz-row>
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="organic_unit_id">
                      <b>{{ 'MOBILITY.SUB_23_DECLARATIONS.SCHOOL' | translate }}</b>
                    </nz-form-label>
                    <nz-form-control>
                      <nz-select class="black-text" formCondiv formControlName="organic_unit_id" id="organic_unit_id"
                        placeholder="ex. ESTG..." nzShowSearch="div nz-rowue" (ngModelChange)="filterDegrees()"
                        [nzDisabled]="loggedUser?.organic_unit_id" class="primary-select">
                        <nz-option *ngFor="let school of schools" [nzLabel]="school.name" [nzValue]="school.id"
                          [nzDisabled]="!school.active">
                        </nz-option>
                      </nz-select>
                      <nz-form-explain class="error"
                        *ngIf="declarationGroup.get('organic_unit_id')?.dirty && declarationGroup.get('organic_unit_id').errors">
                        {{ getInputError("organic_unit_id") | translate }}</nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-row>
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="course_degree_id">
                      <b>{{ 'MOBILITY.SUB_23_DECLARATIONS.COURSE_DEGREE' | translate }}</b>
                    </nz-form-label>
                    <nz-form-control>
                      <nz-select class="black-text" formCondiv formControlName="course_degree_id" id="course_degree_id"
                        placeholder="ex. Licenciatura..." nzShowSearch="div nz-rowue" (ngModelChange)="filterCourses()"
                        [nzDisabled]="loggedUser?.course_degree_id" class="primary-select">
                        <nz-option *ngFor="let cd of course_degrees" [nzLabel]="cd.name" [nzValue]="cd.id"
                          [nzDisabled]="!cd.active">
                        </nz-option>
                      </nz-select>
                      <nz-form-explain class="error"
                        *ngIf="declarationGroup.get('course_degree_id')?.dirty && declarationGroup.get('course_degree_id').errors">
                        {{ getInputError("course_degree_id") | translate }}</nz-form-explain>


                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-row>
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="course_id">
                      <b>{{ 'MOBILITY.SUB_23_DECLARATIONS.COURSE' | translate }}</b>
                    </nz-form-label>
                    <nz-form-control>
                      <nz-select class="black-text" formCondiv formControlName="course_id" id="course_id"
                        placeholder="ex. Engenharia ..." nzShowSearch="div nz-rowue" class="primary-select"
                        [nzDisabled]="!this.declarationGroup.controls.course_degree_id.value || !this.declarationGroup.controls.organic_unit_id.value || loggedUser?.course_id">
                        <nz-option *ngFor="let course of filtered_courses" [nzLabel]="course.name" [nzValue]="course.id"
                          [nzDisabled]="!course.active">
                        </nz-option>
                      </nz-select>
                      <nz-form-explain class="error"
                        *ngIf="declarationGroup.get('course_id')?.dirty && declarationGroup.get('course_id').errors">
                        {{ getInputError("course_id") | translate }}</nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-row>
                  <div nz-col [nzXs]="24" [nzMd]="10">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="course_year">
                        <b>{{ 'MOBILITY.SUB_23_DECLARATIONS.COURSE_YEAR' | translate }}</b>
                      </nz-form-label>
                      <nz-form-control>
                        <nz-input-number class="black-text" formCondiv formControlName="course_year" id="course_year"
                          [nzDisabled]="loggedUser?.course_year" placeholder="1" class="primary-input">
                        </nz-input-number>
                        <nz-form-explain class="error"
                          *ngIf="declarationGroup.get('course_year')?.dirty && declarationGroup.get('course_year').errors">
                          {{ getInputError("course_year") | translate }}</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row>
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="has_social_scholarship">
                      <b>{{ 'MOBILITY.SUB_23_DECLARATIONS.SOCIAL_SCHOLARSHIP' | translate }}</b>
                    </nz-form-label>
                    <nz-form-control>
                      <nz-radio-group formControlName="has_social_scholarship" [nzSize]="'small'">
                        <label nz-radio [nzValue]=true>{{ 'MISC.YES' | translate
                          }}</label>
                        <label nz-radio [nzValue]=false>{{ 'MISC.NO' | translate
                          }}</label>
                      </nz-radio-group>
                      <nz-form-explain class="error"
                        *ngIf="declarationGroup.get('has_social_scholarship')?.dirty && declarationGroup.get('has_social_scholarship').errors">
                        {{ getInputError("has_social_scholarship") | translate }}</nz-form-explain>
                    </nz-form-control>

                  </nz-form-item>
                </div>
                <div nz-row>
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="applied_social_scholarship" style="width: auto;">
                      <b>{{ 'MOBILITY.SUB_23_DECLARATIONS.APPLIED_SOCIAL_SCHOLARSHIP' | translate }}</b>
                    </nz-form-label>
                    <nz-form-control>
                      <nz-radio-group formControlName="applied_social_scholarship" [nzSize]="'small'">
                        <label nz-radio [nzValue]=true>{{ 'MISC.YES' | translate
                          }}</label>
                        <label nz-radio [nzValue]=false>{{ 'MISC.NO' | translate
                          }}</label>
                      </nz-radio-group>
                      <nz-form-explain class="error"
                        *ngIf="declarationGroup.get('applied_social_scholarship')?.dirty && declarationGroup.get('applied_social_scholarship').errors">
                        {{ getInputError("applied_social_scholarship") | translate }}</nz-form-explain>
                    </nz-form-control>

                  </nz-form-item>
                </div>
              </div>
            </div>
            <div *ngIf="existInfoStep('MOBILITY_SUB23_DECLARATION_STEP_1')" class="hidden-md" nz-col>
              <div *ngIf="!openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="icons:icons-icons-info" nzTheme="outline" class="icon" id="icon-info-text-form"
                  (click)="openInfo = true"></i>
              </div>
              <div *ngIf="openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="close" nzTheme="outline" style="cursor: pointer;" (click)="openInfo = false"></i>
              </div>
            </div>
            <div *ngIf="openInfo" [ngClass]="{'info': openInfo}" nz-col>
              <label class="title-info">{{ 'ACCOMMODATION.APPLICATIONS.INFO_TITLE' |
                translate }}</label>
              <div [innerHTML]="getHTML((infoApresent | languageChange)?.info)">
              </div>
            </div>
          </div>
          <div *ngIf="index === 'address'">
            <p class="title-step-form"> {{ "MOBILITY.SUB_23_DECLARATIONS.ADDRESS" | translate }}
            </p>
            <div *ngIf="existInfoStep('MOBILITY_SUB23_DECLARATION_STEP_2')" class="hidden-xs">
              <div *ngIf="!openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="icons:icons-icons-info" nzTheme="outline" class="icon" id="icon-info-text-form"
                  (click)="openInfo = true"></i>
              </div>
              <div *ngIf="openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="close" nzTheme="outline" style="cursor: pointer;" (click)="openInfo = false"></i>
              </div>
            </div>
            <div nzType="flex" style="align-items: stretch;">
              <div [ngClass]="{'with-info': !openInfo, 'without-info': openInfo}">
                <div nz-row>
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="address">
                      <b>{{ 'MOBILITY.SUB_23_DECLARATIONS.ADDRESS' | translate }}</b>
                    </nz-form-label>
                    <nz-form-control>
                      <input nz-input formCondiv formControlName="address" id="address" class="primary-input" />
                      <nz-form-explain class="error"
                        *ngIf="declarationGroup.get('address')?.dirty && declarationGroup.get('address').errors">
                        {{ getInputError("address") | translate }}</nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-row>
                  <div nz-col [nzXs]="24" [nzMd]="11">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="locality">
                        <b>{{ 'MOBILITY.SUB_23_DECLARATIONS.LOCALITY' | translate }}</b>
                      </nz-form-label>
                      <nz-form-control>
                        <input nz-input formCondiv formControlName="locality" id="locality" class="primary-input" />
                        <nz-form-explain class="error"
                          *ngIf="declarationGroup.get('locality')?.dirty && declarationGroup.get('locality').errors">
                          {{ getInputError("locality") | translate }}</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col [nzXs]="0" [nzMd]="2"></div>
                  <div nz-col [nzXs]="24" [nzMd]="11">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="country">
                        <b>{{ 'MOBILITY.SUB_23_DECLARATIONS.COUNTRY' | translate }}</b>
                      </nz-form-label>
                      <nz-form-control>
                        <input nz-input formCondiv formControlName="country" id="country" class="primary-input" />
                        <nz-form-explain class="error"
                          *ngIf="declarationGroup.get('country')?.dirty && declarationGroup.get('country').errors">
                          {{ getInputError("country") | translate }}</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col [nzXs]="24" [nzMd]="11">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="postal_code">
                        <b>{{ 'MOBILITY.SUB_23_DECLARATIONS.POSTAL_CODE' | translate }}</b>
                      </nz-form-label>
                      <nz-form-control>
                        <input mask="0000-000" nz-input [dropSpecialCharacters]="false" formCondiv
                          formControlName="postal_code" id="postal_code" class="primary-input" />
                        <nz-form-explain class="error"
                          *ngIf="declarationGroup.get('postal_code')?.dirty && declarationGroup.get('postal_code').errors">
                          {{ getInputError("postal_code") | translate }}</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>


              </div>
            </div>
            <div *ngIf="existInfoStep('MOBILITY_SUB23_DECLARATION_STEP_2')" class="hidden-md" nz-col>
              <div *ngIf="!openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="icons:icons-icons-info" nzTheme="outline" class="icon" id="icon-info-text-form"
                  (click)="openInfo = true"></i>
              </div>
              <div *ngIf="openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="close" nzTheme="outline" style="cursor: pointer;" (click)="openInfo = false"></i>
              </div>
            </div>
            <div *ngIf="openInfo" [ngClass]="{'info': openInfo}" nz-col>
              <label class="title-info">{{ 'ACCOMMODATION.APPLICATIONS.INFO_TITLE' |
                translate }}</label>
              <div [innerHTML]="getHTML((infoApresent | languageChange)?.info)">
              </div>
            </div>
          </div>
          <div *ngIf="index === 'observations'">
            <p class="title-step-form"> {{ "MOBILITY.SUB_23_DECLARATIONS.OBSERVATIONS" | translate }}
            </p>
            <div *ngIf="existInfoStep('MOBILITY_SUB23_DECLARATION_STEP_3')" class="hidden-xs">
              <div *ngIf="!openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="icons:icons-icons-info" nzTheme="outline" class="icon" id="icon-info-text-form"
                  (click)="openInfo = true"></i>
              </div>
              <div *ngIf="openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="close" nzTheme="outline" style="cursor: pointer;" (click)="openInfo = false"></i>
              </div>
            </div>
            <div nzType="flex" style="align-items: stretch;">
              <div [ngClass]="{'with-info': !openInfo, 'without-info': openInfo}">
                <div nz-row>
                  <nz-form-item>
                    <nz-form-label nzFor="observations">
                      <b>{{ 'MOBILITY.SUB_23_DECLARATIONS.OBSERVATIONS' | translate }}</b>
                    </nz-form-label>
                    <nz-form-control>
                      <textarea nz-input formCondiv formControlName="observations" id="observations"
                      rows="5" maxlength="255" placeholder=""
                        class="primary-textarea"></textarea>
                      <nz-form-explain class="error"
                        *ngIf="declarationGroup.get('observations')?.dirty && declarationGroup.get('observations').errors">
                        {{ getInputError("observations") | translate }}</nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>

              </div>
            </div>
            <div *ngIf="existInfoStep('MOBILITY_SUB23_DECLARATION_STEP_3')" class="hidden-md" nz-col>
              <div *ngIf="!openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="icons:icons-icons-info" nzTheme="outline" class="icon" id="icon-info-text-form"
                  (click)="openInfo = true"></i>
              </div>
              <div *ngIf="openInfo" nz-row style="text-align: right;">
                <i nz-icon nzType="close" nzTheme="outline" style="cursor: pointer;" (click)="openInfo = false"></i>
              </div>
            </div>
            <div *ngIf="openInfo" [ngClass]="{'info': openInfo}" nz-col>
              <label class="title-info">{{ 'ACCOMMODATION.APPLICATIONS.INFO_TITLE' |
                translate }}</label>
              <div [innerHTML]="getHTML((infoApresent | languageChange)?.info)">
              </div>
            </div>
          </div>
          <div *ngIf="index === 'revision'" nz-row class="content__steps-content__revision">
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="title-step-form"> {{ "ACCOMMODATION.APPLICATIONS.STEP_ELEVEN.REVISION" | translate }}
                </p>
                <p class="detail-text">{{ 'ACCOMMODATION.APPLICATIONS.STEP_ELEVEN.DESC' |
                  translate }}</p>
              </div>

              <nz-divider></nz-divider>
            </div>
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
                {{ 'MOBILITY.SUB_23_DECLARATIONS.IDENTIFICATION' | translate }}
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
                <button nz-button class="button-edit-review" nzType="default" (click)="goTo(0)">
                  <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
                </button>
              </div>
            </div>
            <div nz-row>

              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.NAME' | translate }}</p>
                <p class="desc-resume">{{ declarationGroup.value.name }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.BIRTH_DATE' | translate }}</p>
                <p class="desc-resume">{{ declarationGroup.value.birth_date | date: 'dd-MM-yyyy' }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.DOCUMENT_TYPE' | translate }}</p>
                <p class="desc-resume">{{ getDocumentTypeDescription(declarationGroup.value.document_type_id) }}</p>
              </div>
              <!--<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.EMITTED_IN' | translate }}</p>
                <p class="desc-resume">{{ declarationGroup.value.cc_emitted_in ? (declarationGroup.value.cc_emitted_in | date: 'dd-MM-yyyy') : '-' }}</p>
              </div>-->
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.SCHOOL' | translate }}</p>
                <p class="desc-resume"> {{ declarationGroup.value.organic_unit_id ?
                  getSchool(declarationGroup.value.organic_unit_id).name :
                  '-'
                  }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.COURSE_DEGREE' | translate }}</p>
                <p class="desc-resume"> {{ declarationGroup.value.course_degree_id ?
                  getCourseDegree(declarationGroup.value.course_degree_id).name
                  : '-' }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.COURSE' | translate }}</p>
                <p class="desc-resume"> {{ declarationGroup.value.course_id ?
                  getCourse(declarationGroup.value.course_id).name : '-' }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.COURSE_YEAR' | translate }}</p>
                <p class="desc-resume"> {{ declarationGroup.value.course_year }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.SOCIAL_SCHOLARSHIP' | translate }}</p>
                <p class="desc-resume" *ngIf="declarationGroup.value.has_social_scholarship">
                  {{'MOBILITY.SUB_23_DECLARATIONS.YES'|translate}}</p>
                <p class="desc-resume" *ngIf="!declarationGroup.value.has_social_scholarship">
                  {{'MOBILITY.SUB_23_DECLARATIONS.NO'|translate}}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.APPLIED_SOCIAL_SCHOLARSHIP' | translate }}
                </p>
                <p class="desc-resume" *ngIf="declarationGroup.value.applied_social_scholarship">
                  {{'MOBILITY.SUB_23_DECLARATIONS.YES'|translate}}</p>
                <p class="desc-resume" *ngIf="!declarationGroup.value.applied_social_scholarship">
                  {{'MOBILITY.SUB_23_DECLARATIONS.NO'|translate}}</p>
              </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
                {{ 'MOBILITY.SUB_23_DECLARATIONS.ADDRESS' | translate }}
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
                <button nz-button class="button-edit-review" nzType="default" (click)="goTo(1)">
                  <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
                </button>
              </div>
            </div>
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.ADDRESS' | translate }}</p>
                <p class="desc-resume">{{ declarationGroup.value.address }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.LOCALITY' | translate }}</p>
                <p class="desc-resume">{{ declarationGroup.value.locality }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.COUNTRY' | translate }}</p>
                <p class="desc-resume">{{ declarationGroup.value.country }}</p>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.POSTAL_CODE' | translate }}</p>
                <p class="desc-resume">{{ declarationGroup.value.postal_code }}</p>
              </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
                {{ 'MOBILITY.SUB_23_DECLARATIONS.OBSERVATIONS' | translate }}
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
                <button nz-button class="button-edit-review" nzType="default" (click)="goTo(2)">
                  <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
                </button>
              </div>
            </div>
            <div nz-row>

              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ 'MOBILITY.SUB_23_DECLARATIONS.OBSERVATIONS' | translate }}</p>
                <p class="desc-resume">{{ declarationGroup.value.observations?declarationGroup.value.observations:"-"
                  }}</p>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="content__steps-action">
        <app-button *ngIf="current > 0" (click)="pre()" style="margin-right: 15px;" [translate]="'MISC.BACK'"
          [type]="'secundary'"></app-button>
        <app-button *ngIf="current < 3" (click)="next()" [translate]="'MISC.NEXT'"></app-button>
        <app-button *ngIf="current === 3" [loading]="loading" (click)="done()" [translate]="'MISC.SUBMIT'">
        </app-button>

      </div>
    </div>
  </div>
  <div nz-col [nzSm]="1" [nzXs]="1"></div>

</div>