<div class="content-form">
  <form [formGroup]="paymentForm" nzLayout="vertical">
    <p class="title-step-form"> {{ "HEALTH.APPOINTMENT_FORM.PAYMENT_TYPE_STEP" | translate }}</p>
    <div nz-row>
      <div nz-col [nzXs]="24" [nzMd]="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="payment_type" style="white-space: break-spaces;">
            <b>{{ 'HEALTH.APPOINTMENT_FORM.PAYMENT_TYPE' | translate }}</b>
          </nz-form-label>
          <nz-form-control>
            <nz-select formControlName="payment_type" [nzMode]="'default'" class="black-text" class="primary-select"  [nzDisabled]="selectedSpecialty">
              <nz-option nzLabel="Ato Consulta" nzValue="Ato Consulta"></nz-option>
              <nz-option nzLabel="Pré Pagamento" nzValue="Pré Pagamento"></nz-option>
            </nz-select>
            <nz-form-explain class="error"
              *ngIf="paymentForm.get('payment_type')?.dirty && paymentForm.get('payment_type').errors">
              {{ getInputError("payment_type") | translate }}</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzXs]="11" [nzMd]="11">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="tariff_id" style="white-space: break-spaces;">
            <b>{{ 'HEALTH.APPOINTMENT_FORM.TARIFFS' | translate }}</b>
          </nz-form-label>
          <nz-form-control>
            <nz-select formControlName="tariff_id" [nzMode]="'default'" class="black-text"class="primary-select"
            [nzLoading]="tariffsLoading" (ngModelChange)="getPriceInformation()">
            <ng-container *ngFor="let tariff of filteredTariffs">
              <nz-option [nzValue]="tariff.id"
                [nzLabel]="tariff.description">
                <!--[nzDisabled]="isDisabled(tariff.id)">-->
              </nz-option>
            </ng-container>
          </nz-select>
            <nz-form-explain class="error"
              *ngIf="paymentForm.get('tariff_id')?.dirty && paymentForm.get('tariff_id').errors">
              {{ getInputError("tariff_id") | translate }}</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="0" [nzMd]="2"></div>
      <div nz-col [nzXs]="11" [nzMd]="11">
        <nz-form-item>
          <nz-form-label nzFor="price">
            <b>{{ 'HEALTH.APPOINTMENT_FORM.PRICE' | translate }}</b>
          </nz-form-label>
          <nz-form-control>
            <input nz-input formCondiv formControlName="price" class="primary-input" id="price" [attr.disabled]="true"/>
            <nz-form-explain class="error"
              *ngIf="paymentForm.get('price')?.dirty && paymentForm.get('price').errors">
              {{ getInputError("price") | translate }}</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>