<div class="container">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="3" [nzXXl]="3">
      <div nz-row>
        <nz-form-label>Data início da ação</nz-form-label>
        <nz-form-control>
          <nz-date-picker [(ngModel)]="filters.start_date"></nz-date-picker>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
      <div nz-row>
        <nz-form-label>Ano letivo</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="filters.academic_year" [nzLoading]="academic_years_loading" style="width: 100%;"
            nzAllowClear nzShowSearch="true">
            <nz-option *ngFor="let academic_year of academic_years" [nzLabel]="academic_year.academic_year"
              [nzValue]="academic_year.academic_year"></nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
      <div nz-row>
        <nz-form-label>Unidade Orgânica</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="filters.organic_unit_id" [nzLoading]="organic_units_loading" style="width: 100%;"
            nzAllowClear nzShowSearch="true">
            <nz-option *ngFor="let organic_unit of organic_units" [nzLabel]="organic_unit.name"
              [nzValue]="organic_unit.id">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
      <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
      style="text-align: left;">
      <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
    </div>
  </div>
</div>


<div class="container">
  <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th></th>
        <th>Data de submissão</th>
        <th>Periodo de participação</th>
        <th>Data de publicação</th>
        <th>Titulo da ação</th>
        <th>Requerente</th>
        <th>UA</th>
        <th>Participantes ativos</th>
        <th>Participantes necessários</th>
        <th>Estado</th>
        <th nzRight="0px" class="text-right">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">

        <tr>
          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
          <td><span>{{ data.created_at | date:"dd/MM/yyyy" }}</span></td>
          <td><span>{{ data.start_date | date:"dd/MM/yyyy" }} até {{ data.end_date | date:"dd/MM/yyyy" }}</span></td>
          <td *ngIf="checkTooltip(data)" ><span nz-tooltip [nzTitle]="getTooltip(data.publish_date)">{{ getWarning(data.publish_date)}}</span></td>
          <td *ngIf="!checkTooltip(data)"><span>{{ data.publish_date | date:"dd/MM/yyyy" }}</span></td>
          <td><span>{{ data.translations[0] ? data.translations[0].title : '' }}</span></td>
          <td><span>{{ data.experience_responsible ? data.experience_responsible.name : '' }}</span></td>
          <td><span>{{ data.organic_unit ? data.organic_unit.name : '' }}</span></td>
          <td><span>{{ data.users_colaboration && data.users_colaboration.length > 0 ? data.users_colaboration.length : '-' }}</span></td>
          <td><span>{{ data.number_simultaneous_candidates ? data.number_simultaneous_candidates : '-' }}</span></td>
          <td>
            <fi-sas-tag [value]="data.status" [results]="status"></fi-sas-tag>
          </td>
          <td nzRight="0px" class="text-right">
            <ng-container *ngIf="'volunteering:experiences:status' | hasPermission">
              <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
                nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item [nzDisabled]="!(statusMachine[data.status] | keys).length" (click)="changeStateModal(data, false)">
                    Mudar estado
                  </li>
                  <li nz-menu-item
                    [nzDisabled]="data.status === ExperienceStatus.REJECTED || data.status === ExperienceStatus.CANCELED || data.status === ExperienceStatus.CLOSED"
                    (click)="edit(data, (data.status === ExperienceStatus.REJECTED || data.status === ExperienceStatus.CANCELED || data.status === ExperienceStatus.CLOSED))">
                    Editar
                  </li>
                  <li nz-menu-item [nzDisabled]="data.status === ExperienceStatus.CANCELED || data.status === ExperienceStatus.CLOSED"
                    (click)="notificationModal(data, (data.status === ExperienceStatus.CANCELED || data.status === ExperienceStatus.CLOSED))">
                    Notificar estudantes
                  </li>
                </ul>
              </nz-dropdown-menu>
            </ng-container>
          </td>
        </tr>

        <tr [nzExpand]="mapOfExpandData[data.id]">
          <td [attr.colspan]="12">
            <fi-sas-view-experience *ngIf="mapOfExpandData[data.id]" [data]="data" [languages]="languages" (itemChange)="searchData()">
            </fi-sas-view-experience>
          </td>
        </tr>

      </ng-template>
    </tbody>
  </nz-table>
</div>

<nz-modal [(nzVisible)]="isChangeStatusModalVisible" [nzTitle]="'Mudança de estado da ação'" [nzWidth]="900"
  [nzFooter]="modalFooter" (nzOnCancel)="handleChangeStatusCancel()">
  <p>Mudar estado para:</p>
  <div nz-row nzType="flex" class="actions" nzGutter="24" *ngIf="isChangeStatusModalVisible && changeStatusModalExperience.status!=='DISPATCH'">
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['ANALYSE']">
      <div (click)="changeStatusModalActiveAction('analyse')" class="actions__button--analyse"
        [ngClass]="{ 'actions__button--analyse--active': changeStatusModalExperienceAction === 'analyse'}">Analisar
      </div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['RETURN']">
      <div (click)="changeStatusModalActiveAction('return')" class="actions__button--return"
        [ngClass]="{ 'actions__button--return--active': changeStatusModalExperienceAction === 'return'}">Devolver</div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['SUBMIT']">
      <div (click)="changeStatusModalActiveAction('submit')" class="actions__button--submit"
        [ngClass]="{ 'actions__button--submit--active': changeStatusModalExperienceAction === 'submit'}">Submeter</div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['DISPATCH']">
      <div (click)="changeStatusModalActiveAction('dispatch')" class="actions__button--dispatch"
        [ngClass]="{ 'actions__button--dispatch--active': changeStatusModalExperienceAction === 'dispatch'}">
        Despacho
      </div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['SENDSEEM']">
      <div (click)="changeStatusModalActiveAction('sendseem')" class="actions__button--sendseem"
        [ngClass]="{ 'actions__button--sendseem--active': changeStatusModalExperienceAction === 'sendseem'}">Emitir
        Parecer</div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['SENDEXTERNAL']">
      <div (click)="changeStatusModalActiveAction('sendexternal')" class="actions__button--sendexternal"
        [ngClass]="{ 'actions__button--sendexternal--active': changeStatusModalExperienceAction === 'sendexternal'}">
        Sistema Externo</div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['SELECTION']">
      <div (click)="changeStatusModalActiveAction('selection')" class="actions__button--selection"
        [ngClass]="{ 'actions__button--selection--active': changeStatusModalExperienceAction === 'selection'}">Em
        Seleção</div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['COLABORATION']">
      <div (click)="changeStatusModalActiveAction('colaboration')" class="actions__button--colaboration"
        [ngClass]="{ 'actions__button--colaboration--active': changeStatusModalExperienceAction === 'colaboration'}">Em
        participação</div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['CANCEL']">
      <div (click)="changeStatusModalActiveAction('cancel')" class="actions__button--cancel"
        [ngClass]="{ 'actions__button--cancel--active': changeStatusModalExperienceAction === 'cancel'}">Cancelar</div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['CLOSE']">
      <div (click)="changeStatusModalActiveAction('close')" class="actions__button--close"
        [ngClass]="{ 'actions__button--close--active': changeStatusModalExperienceAction === 'close'}">Fechar</div>
    </div>
  </div>
  <div nz-row nzType="flex" class="actions" nzGutter="24" *ngIf="isChangeStatusModalVisible && changeStatusModalExperience.status==='DISPATCH'">
    <div nz-col nzSpan="8" class="actions__button">
      <div (click)="changeStatusModalActiveAction('accept')" class="actions__button--approve"
        [ngClass]="{ 'actions__button--approve--active': changeStatusModalExperienceAction === 'accept'}">
        Aceitar Despacho
      </div>
    </div>
    <div nz-col nzSpan="8" class="actions__button">
      <div (click)="changeStatusModalActiveAction('reject')" class="actions__button--reject"
        [ngClass]="{ 'actions__button--reject--active': changeStatusModalExperienceAction === 'reject'}">
        Rejeitar Despacho
      </div>
    </div>
  </div>
  <div *ngIf="changeStatusModalExperienceAction === 'dispatch'">
    <div nz-row>
      <form [formGroup]="form">
        <nz-form-item>
          <nz-form-label nzRequired [nzSpan]="24" nzFor="decision">Decisão</nz-form-label>
          <nz-form-control [nzSpan]="24" [nzErrorTip]="decisionErrorTpl">
            <nz-select formControlName="decision" name="decision" id="decision" nzAllowClear>
              <nz-option *ngFor="let decision of getDispatchActions()" [nzLabel]="decision.label" [nzValue]="decision.key"></nz-option>
            </nz-select>
            <ng-template #decisionErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">Selecione uma decisão.</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>

  <nz-divider></nz-divider>
  <nz-form-item>
    <div nz-row nzType="flex" nzGutter="24">
      <div nz-col nzSpan="4">
        Observações:
      </div>
      <div nz-col nzSpan="20">
        <textarea maxlength="255" nz-input [(ngModel)]="changeStatusModalNotes" rows="4"></textarea>
      </div>
    </div>
  </nz-form-item>
  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="handleChangeStatusOk()"
      [ngClass]="{'disabled': changeStatusModalExperienceAction === null}" [nzLoading]="changeStatusModalLoading">Mudar
      de estado</button>
  </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="isNotificationModalVisible" [nzTitle]="'Notificações a estudantes'" [nzWidth]="900"
  [nzFooter]="notificationModalFooter" (nzOnCancel)="handleNotificationCancel()">
  <div class="content-modal">
    <p style="font-weight: bold; font-size: large;">{{ notificationModalExperience?.translations[0]?.title }}</p>
    <p>Notificar segundo critérios de seleção baseado nos dados dos candidatos:</p>
    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="4">
        <nz-form-item>
          <p>Ano</p>
          <input nz-input [(ngModel)]="notificationModalCourseYear">
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item>
          <p>Curso</p>
          <nz-select [(ngModel)]="notificationModalCourseId" [nzLoading]="courses_loading" nzAllowClear
            nzShowSearch="true">
            <nz-option *ngFor="let course of courses" [nzLabel]="course.name" [nzValue]="course.id"></nz-option>
          </nz-select>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item>
          <p>Escola</p>
          <nz-select [(ngModel)]="notificationModalSchoolId" [nzLoading]="organic_units_loading" nzAllowClear
            nzShowSearch="true">
            <nz-option *ngFor="let organic_unit of organic_units" [nzLabel]="organic_unit.name"
              [nzValue]="organic_unit.id"></nz-option>
          </nz-select>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="4">
        <nz-form-item>
          <p>&nbsp;</p>
          <button nz-button nzType="primary" (click)="handleNotificationSearchTargets()">Filtrar</button>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <p>Mensagem:</p>
          <textarea maxlength="255" nz-input [(ngModel)]="notificationModalMessage" rows="4"></textarea>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="24">
        Foram detetados <strong>{{ notificationModalTargetUsers.length }}</strong> estudantes inscritos na Bolsa de
        Colaboradores que correspondem aos critérios de seleção.
      </div>
    </div>
  </div>
  <ng-template #notificationModalFooter>
    <button nz-button (click)="handleNotificationCancel()">Cancelar</button>
    <button nz-button nzType="primary" (click)="handleNotificationOk()"
      [ngClass]="{'disabled': notificationModalTargetUsers.length === 0}" [nzLoading]="notificationModalNotifyLoading">
      Enviar notificação
    </button>
  </ng-template>
</nz-modal>
