@import 'default-theme.less';

:host::ng-deep {

  .large-block {

    &__wrap {
      height: 594px;
    }

    &__left {
      height: 100%;
      background-color: var(--fisas-04);
    }

    &__right {
      height: 100%;
      background-color: var(--fisas-03);
    }

    &__wrap-title {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      padding-top: 96px;
    }

    &__title {
      display: flex;
      align-self: flex-end;
      font-size: 96px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.13;
      letter-spacing:normal;
      color: @fisas-grey-01;
    }

    &__subtitle {
      display: flex;
      font-size: 58px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.34;
      letter-spacing: -0.4px;
      color: @fisas-grey-01;
    }

  }

}