<div class="large-block">

  <div nz-row class="large-block__wrap">

    <div nz-col nzSpan="4" class="large-block__left">
    </div>

    <div nz-col nzSpan="1" class="large-block__right">
    </div>

    <div nz-col nzSpan="14" class="large-block__right">

      <div *ngIf="data" class="large-block__wrap-title">
        <div class="large-block__title">
          {{ data.title }}
        </div>
        <div class="large-block__subtitle">
          {{ data.subtitle }}
        </div>
      </div>

    </div>

    <div nz-col nzSpan="1" class="large-block__right"></div>

  </div>

</div>