<form nz-form [formGroup]="form">
  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="locations" class="primary-input-label">
          {{ 'VOLUNTEERING.FORM_APPLICATION.ACTIVITIES_LOCATIONS.LOCATIONS' | translate }}
        </nz-form-label>
        <nz-form-control>
          <nz-checkbox-wrapper class="checkbox" formGroupName="locations">
            <div nz-row>
              <div *ngFor="let organicUnit of organicUnits" nz-col [nzMd]="{ span: 24 }" [nzLg]="{ span: 12 }" [nzXl]="{ span: 8 }" class="checkbox--item">
                <label class="checkbox--label" [formControlName]="organicUnit.id" nz-checkbox
                  [nzValue]="organicUnit.id">
                  {{ organicUnit.name }}
                </label>
              </div>
            </div>
   
          </nz-checkbox-wrapper>
          <nz-form-explain class="error" *ngIf="form.get('organic_units')?.dirty && form.get('organic_units').errors">
            {{ getInputError('organic_units') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>