.checkbox {
  margin-top: 14px;
  display: block;
  &--item {
    padding-bottom: 15px !important;
  }
  &--label {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #222222;
  }
  &--input {
    margin-left: 11.5px;
  }
}


.error {
  color: red;
  margin-top:5px;
  
  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}
