<fi-sas-form
  [service]="challengeService"
  [fields]="fields"
  [isListUpdate]="isUpdate"
>
  <fi-sas-toolstrip-button tooltip="Jogadores" *ngIf="isUpdate"  (onClick)="playersInChallenge(Title, Content, Footer, 900)" iconType="team"></fi-sas-toolstrip-button>
  <fi-sas-toolstrip-button tooltip="Ranking" *ngIf="isUpdate"  (onClick)="rankings(TitleRanking, ContentRanking, FooterRanking, 900)" iconType="ordered-list"></fi-sas-toolstrip-button>

</fi-sas-form>

<ng-template #Title>
  <span>Jogadores</span>
  <nz-button-group style="float: right;">
    <button nz-button nzType="primary" (click) = "closePlayerModal()"><i nz-icon type="close"></i></button>
  </nz-button-group>
</ng-template>
<ng-template #Content>

  <div *ngIf="challenge" perfectScrollbar class="scroll-container">

    <nz-table #players [nzScroll]="{ x: '240px' }"
              [nzData]="challenge.players"
              [nzShowPagination] = "false">
      <thead>
      <tr>
        <th style="text-align: center">Nome</th>
        <th style="text-align: center">Nickname</th>
        <th style="text-align: center">Pontos</th>
        <th style="text-align: center">Atribuir Pontos</th>
        <th style="text-align: center">Remover</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let player of players.data">
        <td style="text-align: center">{{ player.user_id }}</td>
        <td style="text-align: center">{{ player.nickname }}</td>
        <td style="text-align: center">{{ player.points }}</td>
        <td style="text-align: center">
          <nz-button-group style="padding-left: 5px;">
           <button nz-button nzType="primary" nzTitle="Atribuir" nz-tooltip (click) = "addPlayerPoints(challenge.id, player.id)"><i nz-icon type="save"></i></button>
          </nz-button-group>
        </td>
        <td style="text-align: center">
          <button nz-button nzType="danger" nzTitle="Remover" nz-tooltip (click) = "removePlayer(challenge.id, player.id)"><i nz-icon type="delete"></i></button>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>

</ng-template>
<ng-template #Footer>
  <button nz-button nzType="primary" (click)="closePlayerModal()">Fechar</button>
</ng-template>


<ng-template #TitleRanking>
  <span>Rankings</span>
  <nz-button-group style="float: right;">
    <button nz-button nzType="primary" (click) = "closeRankingModal()"><i nz-icon type="close"></i></button>
  </nz-button-group>
</ng-template>
<ng-template #ContentRanking>

  <div *ngIf="rankingTeams" perfectScrollbar class="scroll-container">

    <div nz-row nzType="flex" nzJustify="center">

      <div nz-col style="padding-bottom: 10px">
        <nz-button-group>
          <button nz-button nzType="primary" (click)="selectRankingTeam()">Equipa</button>
          <button nz-button nzType="primary" (click)="selectRankingPlayer()">Jogador</button>
        </nz-button-group>
      </div>

    </div>

    <nz-table *ngIf="rankingTeams.length !== 0" #teamsRanking
              nzShowSizeChanger [nzScroll]="{ x: '240px' }"
              [nzFrontPagination]="false"
              [nzData]="rankingTeams"
              [nzShowPagination] = "true"
              [nzLoading]="loading"
              [nzTotal]="total"
              [(nzPageIndex)]="pageIndex"
              [(nzPageSize)]="pageSize"
              (nzPageIndexChange)="getTeamsRankings()"
              (nzPageSizeChange)="getTeamsRankings(true)"
    >
      <thead>
      <tr>
        <th style="text-align: center">Posição</th>
        <th style="text-align: center">Equipa</th>
        <th style="text-align: center">Pontos</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let team of teamsRanking.data">
        <td style="text-align: center">{{ team.position }}</td>
        <td style="text-align: center">{{ team.name }}</td>
        <td style="text-align: center">{{ team.score }}</td>
      </tr>
      </tbody>
    </nz-table>

    <nz-table *ngIf="rankingPlayers.length !== 0" #playersRanking
              nzShowSizeChanger [nzScroll]="{ x: '240px' }"
              [nzFrontPagination]="false"
              [nzData]="rankingPlayers"
              [nzShowPagination] = "true"
              [nzLoading]="loading"
              [nzTotal]="total"
              [(nzPageIndex)]="pageIndex"
              [(nzPageSize)]="pageSize"
              (nzPageIndexChange)="getPlayersRankings()"
              (nzPageSizeChange)="getPlayersRankings(true)">
      <thead>
      <tr>
        <th style="text-align: center">Posição</th>
        <th style="text-align: center">Jogador</th>
        <th style="text-align: center">Pontos</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let palyer of playersRanking.data">
        <td style="text-align: center">{{ palyer.position }}</td>
        <td style="text-align: center">{{ palyer.nickname }}</td>
        <td style="text-align: center">{{ palyer.score }}</td>
      </tr>
      </tbody>
    </nz-table>

  </div>

</ng-template>
<ng-template #FooterRanking>
  <button nz-button nzType="primary" (click)="closeRankingModal()">Fechar</button>
</ng-template>
