<nz-spin [nzSpinning]="loading">
  <nz-tabset nzTabPosition="left">
    <nz-tab nzTitle="Despacho" *ngIf="data?.status === 'DISPATCH'">
      <fi-sas-dispatch-decision-card
        [decision]="status[decisionToStateMapper[data?.decision?.toUpperCase()]]?.label"
        (onReject)="dispatchChangeStatues(data, false)"
        (onApprove)="dispatchChangeStatues(data, true)"
      ></fi-sas-dispatch-decision-card>
    </nz-tab>
    <nz-tab nzTitle="Perfil">
      <div nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Nome
          </div>
          <div nz-row class="detail-field">
            {{ data?.application.student_name }}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Género
          </div>
          <div nz-row class="detail-field">
            {{data?.user?.gender === 'M' ? 'Masculino' : data?.user?.gender === 'F' ? 'Feminino' : 'Outro' }}

          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Data de nascimento
          </div>
          <div nz-row class="detail-field">
            {{ data?.application.student_birthdate | date:'dd/MM/yyyy' }}

          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Nacionalidade
          </div>
          <div nz-row class="detail-field">
            {{ data?.application.student_nationality }}

          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Morada
          </div>
          <div nz-row class="detail-field">
            {{ data?.application.student_address }}

          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Código Postal
          </div>
          <div nz-row class="detail-field">
            {{ data?.application.student_code_postal }}

          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Localidade
          </div>
          <div nz-row class="detail-field">
            {{ data?.application.student_location }}

          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            NIF
          </div>
          <div nz-row class="detail-field">
            {{ data?.application.student_tin }}

          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Cartão de Cidadão
          </div>
          <div nz-row class="detail-field">
            {{ data?.application.student_identification }}

          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Número
          </div>
          <div nz-row class="detail-field">
            {{ data?.application.student_number }}

          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Ano Curricular
          </div>
          <div nz-row class="detail-field">
            {{ data?.application.course_year }}

          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Ano Letivo
          </div>
          <div nz-row class="detail-field">
            {{ data?.application.academic_year }}

          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Curso
          </div>
          <div nz-row class="detail-field">
            {{ data?.application.course.name }}

          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Escola
          </div>
          <div nz-row class="detail-field">
            {{ data?.application.school.name }}

          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Email
          </div>
          <div nz-row class="detail-field">
            {{ data?.application.student_email }}

          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Telefone
          </div>
          <div nz-row class="detail-field">
            {{ data?.application.student_mobile_phone }}

          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            IBAN
          </div>
          <div nz-row class="detail-field">
            {{ data.application.iban }}
          </div>
        </div>

      </div>
    </nz-tab>

    <nz-tab nzTitle="Benefícios Sociais">
      <div nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Bolsa de estudo
          </div>
          <div nz-row class="detail-field">
            <fi-sas-tag [value]="data.application.has_scholarship"></fi-sas-tag>
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Ainda sem resultado da Bolsa
          </div>
          <div nz-row class="detail-field">
            <fi-sas-tag [value]="!data.application.is_waiting_scholarship_response"></fi-sas-tag>
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Fundo de emergência
          </div>
          <div nz-row class="detail-field">
            <fi-sas-tag [value]="data.application.has_emergency_fund"></fi-sas-tag>
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Bolsa no valor de
          </div>
          <div nz-row class="detail-field">
            {{ data.application.scholarship_monthly_value ? ((data.application.scholarship_monthly_value | number:
            '1.2-2') + '€') : '-' }}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Candidato a bolsa de estudo
          </div>
          <div nz-row class="detail-field">
            <fi-sas-tag [value]="data.application.has_scholarship"></fi-sas-tag>
          </div>
        </div>

      </div>
    </nz-tab>

    <nz-tab nzTitle="Candidatura">
      <fi-sas-application-detail [application]="data.application"></fi-sas-application-detail>
    </nz-tab>

    <nz-tab nzTitle="Experiência profissional">
      <div nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Experiência profissional
          </div>
          <div nz-row class="detail-field">
            <fi-sas-tag [value]="data.application.has_profissional_experience"></fi-sas-tag>
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Descrição da atividade
          </div>
          <div nz-row class="detail-field">
            {{ data.application.job_description ? data.application.job_description : '-' }}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Informação complementar
          </div>
          <div nz-row class="detail-field">
            {{ data.application.observations ? data.application.observations : '-' }}
          </div>
        </div>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Histórico da candidatura">
      <div nz-row nzType="flex" nzJustify="start" *ngFor="let history of data.historic_applications">
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Ano Académico
          </div>
          <div nz-row class="detail-field">
            {{ history.academic_year}}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="18" nzXl="18" class="padding-top-20">
          <div nz-row class="title">
          </div>
          <div nz-row class="detail-field">
            <button nz-button nzType="default" (click)="viewApplicationModal(history.id)">Consultar formulário
              submetido</button>
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <nz-divider></nz-divider>
        </div>
      </div>

    </nz-tab>

    <nz-tab nzTitle="Entrevista">
      <fi-sas-interviews-list [interviews]="data?.interview"></fi-sas-interviews-list>
    </nz-tab>

    <nz-tab nzTitle="Contrato">
      <form nz-form [formGroup]="contractForm"
        (ngSubmit)="submitContract(contractForm.valid, contractForm.value, data.id)">
        <div nz-row nzType="flex" nzJustify="start">
          <div nz-col nzSpan="24">
            <div class="row-details" nz-row nzType="flex" nzJustify="start">
              <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
                <span class="detail-field">Adicionar contrato:</span>
              </div>
              <div nz-col nzOffset="4" nzXs="18" nzSm="18" nzMd="18" nzLg="18" nzXl="18">
                <div>
                  <fi-sas-upload-file formControlName="contract_file_id" id="contract_file_id" name="contract_file_id">
                  </fi-sas-upload-file>
                </div>
              </div>
            </div>
            <div style="float: right;" class="padding-top-20">
              <button nz-button nzType="default" type="reset"><i nz-icon nzType="delete"></i>Cancelar</button>
              <button style="margin-left: 20px;" nz-button nzType="primary" type="submit"
                [nzLoading]="contractLoading"><i nz-icon nzType="save"></i>Gravar Alterações</button>
            </div>
          </div>
        </div>
      </form>
    </nz-tab>

    <nz-tab nzTitle="Histórico da colaborações">
      <div nz-row nzType="flex" nzJustify="start" *ngFor="let historic_colaborations of data.historic_colaborations">

        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <p style="font-weight: bold; color: #000;">{{ historic_colaborations.experience_translations[0]?.title }}</p>
        </div>


        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Ano letivo
          </div>
          <div nz-row class="detail-field">
            {{ historic_colaborations.academic_year }}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="18" nzXl="18" class="padding-top-20">
          <div nz-row class="title">
          </div>
          <div nz-row class="detail-field">
            <button nz-button nzType="default"
              (click)="getExperienceCertificate(historic_colaborations?.user_manifest_id)">Consultar certificado de
              Experiência</button>

          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <nz-divider></nz-divider>
        </div>
      </div>

    </nz-tab>

    <nz-tab nzTitle="Histórico de alterações">
      <div nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" *ngFor="let history of data.history">
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Estado
            </div>
            <div nz-row class="detail-field">
              <fi-sas-tag [value]="history.status" [results]="UsersInterestTagResult"></fi-sas-tag>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Data / Hora
            </div>
            <div nz-row class="detail-field">
              {{ history.created_at | date:'dd/MM/yyyy h:mm:ss' }}
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Utilizador
            </div>
            <div nz-row class="detail-field">
              {{ history.user.name }}
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Obervações
            </div>
            <div nz-row class="detail-field">
              {{ history.notes }}
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-divider></nz-divider>
          </div>

        </div>
      </div>

    </nz-tab>

  </nz-tabset>
</nz-spin>
