<div
  *ngIf="services"
  [fi-scroll]="{autoHide: true, classScrollbar: 'simplebar-scrollbar-transparent'}"
  class="service-list"
>

  <!-- title -->
  <div class="service-list__help">
    <div class="service-list__help-subtitle">
      {{ 'SERVICES.LIST.SUBTITLE' | translate }}
    </div>
    <div class="service-list__help-title">
      {{ 'SERVICES.LIST.TITLE' | translate }}
    </div>
  </div>
  <div class="service-list__line"></div>

  <!-- item -->
  <ng-container *ngFor="let item of services">
    <ng-container *ngIf="item.type===type || type==='all'">
      <div class="service-list__item" (click)="handlerSelectService(item)">
        <div class="service-list__item-name active">
          {{ item.name }}
        </div>
      </div>
      <div class="service-list__line"></div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="services.length === 0">
    <p class="service-list__no-content">
      {{ 'SERVICES.LIST.NOCONTENT' | translate }}
    </p>
  </ng-container>

  <!-- scroll space -->
  <div class="service-list__scroll-space"></div>

</div>