@import 'default-theme.less';

:host::ng-deep {

  .service-list {

    height: 1008px;

    &__help {
      display: flex;
      flex-wrap: wrap;
      align-items: left;
      align-content: flex-end;
      width: 100%;
      height: 215px;
      padding: 18px 0;
    }

    &__help-subtitle {
      width: 100%;
      align-self: flex-end;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: @fisas-grey-09;
    }

    &__help-title {
      width: 100%;
      align-self: flex-end;
      font-size: 24px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: normal;
      color: @fisas-grey-09;
    }

    &__line {
      width: 100%;
      height: 1px;
      background-color: @fisas-grey-03;
    }

    &__item {
      display: block;
      width: 100%;
      padding: 36px 0;
      cursor: pointer;
    }

    &__item-name {
      height: 42px;
      font-size: 36px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      letter-spacing: -0.6px;
      color: @fisas-grey-07;

      &.active {
        color: var(--fisas-10);
      }
    }

    &__no-content {
      padding: 36px 0;
    }

    &__scroll-space {
      width: 100%;
      height: 200px;
    }

  }

}