<div class="content--padding white">
    <form nz-form [formGroup]="formCreate">
        <nz-form-item>
            <nz-form-label nzRequired>
                Nome
            </nz-form-label>
            <nz-form-control>
                <input formControlName="name" nz-input type="text">
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.name.errors">
                Campo obrigatório
            </nz-form-explain>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired>
                Unidade Orgânica
            </nz-form-label>
            <nz-form-control>
                <nz-select formControlName="organic_unit_id" name="organic_unit_id">
                    <nz-option *ngFor="let org of organicsList" [nzLabel]="org.name" [nzValue]="org.id">
                    </nz-option>
                </nz-select>
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.organic_unit_id.errors">
                Campo obrigatório
            </nz-form-explain>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired>
                Ativo
            </nz-form-label>
            <nz-form-control>
                <nz-switch formControlName="active">
                </nz-switch>
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.active.errors">
                Campo obrigatório
            </nz-form-explain>
        </nz-form-item>
    </form>

</div>
<div class="space" nz-row>
    <button *ngIf="isEdit" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
    <button nz-button [nzLoading]="isLoading" [disabled]="isLoading"
      (click)="submit()" class="button-submit"
      [nzType]="'primary'">{{isEdit ? 'Editar' : 'Criar'}}</button>
</div>