<StackLayout>
  <!-- action bar -->
  <fi-action-bar
    [actionBarType]="4"
    actionBarTitle="Ubike"
  ></fi-action-bar>

  <!-- scroll init -->
  <ScrollView row="0">
    <StackLayout>
      <StackLayout class="fisas__content">
        <StackLayout paddingTop="36" paddingBottom="24">
          <Label class="fisas__h1" text="{{ 'conditions.title' | translate }}"></Label>
          <Label class="fisas__h2" text="Ubike"></Label>
        </StackLayout>
        <StackLayout paddingBottom="48">
          <Label class="conditions__p" textWrap="true" text="{{ 'conditions.1st' | translate }}"></Label>
          <Label class="conditions__p" textWrap="true" text="{{ 'conditions.2nd' | translate }}"></Label>
          <Label class="conditions__p" textWrap="true" text="{{ 'conditions.3rd' | translate }}"></Label>
          <Label class="conditions__p" textWrap="true" text="{{ 'conditions.4th' | translate }}"></Label>
        </StackLayout>
        <!-- <StackLayout>
          <Label
            class="fisas__btn-bottom fisas__bg--{{ institution }}"
            text="Inscrição"
            [nsRouterLink]="['/ubike/candidatura']"
          ></Label>
        </StackLayout> -->
      </StackLayout>
    </StackLayout>
  </ScrollView>
</StackLayout>
