@import "~/scss/_variables";

.conditions {
  /* ----------------------- */
  /* Component */

  &__p {
    font-family: "Montserrat", "Montserrat-Medium";
    font-weight: 500;
    font-size: 15;
    margin-top: 15;
    line-height: 1.6;
    color: $black;
  }

  /* ----------------------- */
  /* Common */
}
