<div class="main-content">
  <div class="unavailable__box">
    <h1 class="unavailable__title">{{'UNAVAILABLE.TITLE' | translate }}</h1>
    <h2 class="unavailable__message display-three">{{'UNAVAILABLE.MESSAGE' | translate}}</h2>
  </div>
</div>
