@import 'theme';

.content {
    background: var(--background-color);
    &__box {
        &--fixed {
          height: 260px;
        }

        &__input {
          padding: 8px;
        }

        margin-bottom: 16px;
        padding: 16px;
        background-color: white;
    }
}

:host::ng-deep {
  .chart-legend .legend-labels {
    width: 95% !important;
  }
  .legend-title-text {
    display: none !important;
  }
}

.text-center {
  text-align: center;
}

