<!-- <div nz-row nzType="flex" nzJustify="space-between" nzGutter="18" class="content">
  <div nz-col nzSpan="24">
    <div class="content__box" nz-row>
      <div class="content__box__input" nz-col nzSm="24" nzMd="12" nzLg="6" nzXl="6">
        <p>Datas:</p>
        <nz-range-picker [(ngModel)]="dataRange" (ngModelChange)="loadMetrics()"></nz-range-picker>
      </div>
      <div class="content__box__input" nz-col nzSm="24" nzMd="12" nzLg="6" nzXl="6">
        <p>Residência:</p>
        <nz-select [(ngModel)]="residencesSelect" (ngModelChange)="loadMetrics()" nzPlaceHolder="" nzAllowClear
          [nzLoading]="residencesLoading" style="width: 100%">
          <nz-option *ngFor="let residence of residences" [nzLabel]="residence.name" [nzValue]="residence.id"
            [nzDisabled]="!residence.active">
          </nz-option>
        </nz-select>
      </div>

      <div class="content__box__input" nz-col nzSm="24" nzMd="12" nzLg="5" nzXl="5"> 
        <p>Operação:</p>
        <nz-radio-group [(ngModel)]="operation" (ngModelChange)="loadMetrics()">
          <label nz-radio-button nzValue="avg"><span>Média</span></label>
          <label nz-radio-button nzValue="min"><span>Máximo</span></label>
          <label nz-radio-button nzValue="min"><span>Mínimo</span></label>
        </nz-radio-group>
      </div>
      <div class="content__box__input" nz-col nzSm="24" nzMd="12" nzLg="5" nzXl="5">
        <p>Periodo:</p>
        <nz-radio-group [(ngModel)]="period" (ngModelChange)="loadMetrics()">
          <label nz-radio-button nzValue="day"><span>Dia</span></label>
          <label nz-radio-button nzValue="week"><span>Semana</span></label>
          <label nz-radio-button nzValue="month"><span>Mês </span></label>
        </nz-radio-group>
      </div>
    </div>
  </div>
</div>
<div nz-row nzType="flex" nzJustify="space-between">
  <div nz-col nzSpan="24">
    <div nz-row nzType="flex" nzGutter="16" nzJustify="space-between" class="content">
      <div nz-col nzSpan="24">
        <div class="content__box content__box--fixed">
          <div nz-row class="text-center">
            <b>Indices Financeiros</b>
          </div>
          <ngx-charts-line-chart [scheme]="colorScheme" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true"
            [xAxis]="true" [yAxis]="true" xAxisLabel="Data" yAxisLabel="Euros" legendTitle="Indices"
            [yAxisTickFormatting]="formatMoney" [xAxisTickFormatting]="formatDate" [timeline]="true"
            [results]="metrics_financial_dataSet" (select)="onSelect($event)" (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)">
          </ngx-charts-line-chart>
        </div>
      </div>
      <div nz-col nzSpan="24">
        <div class="content__box content__box--fixed">
          <div nz-row class="text-center">
            <b>Ocupação</b>
          </div>
          <ngx-charts-line-chart [scheme]="colorScheme" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true"
            [xAxis]="true" [yAxis]="true" xAxisLabel="Data" yAxisLabel="Camas" legendTitle="Ocupação"
            [xAxisTickFormatting]="formatDate" [timeline]="true" [results]="metrics_occupation_dataSet"
            (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
          </ngx-charts-line-chart>
        </div>
      </div>
      <div nz-col nzSpan="24">
        <div class="content__box content__box--fixed">
          <div nz-row class="text-center">
            <b>Percentagem de ocupação</b>
          </div>
          <ngx-charts-line-chart [scheme]="colorScheme" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true"
            [xAxis]="true" [yAxis]="true" [yScaleMin]="0" [yScaleMax]="100" legend="true"
            legendTitle="Percentagem" xAxisLabel="Data" yAxisLabel="Ocupação %" [timeline]="true"
            [results]="metrics_occupation_rate_dataSet" [yAxisTickFormatting]="formatPercentage"
            [xAxisTickFormatting]="formatDate" (select)="onSelect($event)" (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)">
          </ngx-charts-line-chart>
        </div>
      </div>
    </div>
  </div>
</div> -->