<nz-tabset nzTabPosition="left">
  <nz-tab nzTitle="Residência">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6">
        <div nz-row class="title">
          Disponível para Candidaturas
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="data.available_for_application"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6">
        <div nz-row class="title">
          Disponível para Atribuição
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="data.available_for_assign"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6">
        <div nz-row class="title">
          Visível para os estudantes
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="data.visible_for_users"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6">
        <div nz-row class="title">
          Cobra caução
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="data.charge_deposit"></fi-sas-tag>
        </div>
      </div>
    </div>
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Morada
        </div>
        <div nz-row class="detail-field">
          {{ data.address}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Cidade
        </div>
        <div nz-row class="detail-field">
          {{ data.city}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Código Postal
        </div>
        <div nz-row class="detail-field">
          {{ data.postal_code}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Contacto 1
        </div>
        <div nz-row class="detail-field">
          {{ data.phone_1}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Contacto 2
        </div>
        <div nz-row class="detail-field">
          {{ data.phone_2}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Email
        </div>
        <div nz-row class="detail-field">
          {{ data.email}}
        </div>
      </div>
    </div>
    <div nz-row nzType="flex" nzJustify="start" class="padding-top-20">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6">
        <div nz-row class="title">
          Regulamentações
        </div>
        <div nz-row class="detail-field">
          <a *ngIf="data.regulation_file_id && data.regulationFile" [href]="data.regulationFile.url"
            target="_blank">Transferir</a>
          <div *ngIf="!data.regulation_file_id && !data.regulationFile">-</div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6">
        <div nz-row class="title">
          Contrato
        </div>
        <div nz-row class="detail-field">
          <a *ngIf="data.contract_file_id && data.contractFile" [href]="data.contractFile.url"
            target="_blank">Transferir</a>
          <div *ngIf="!data.contract_file_id && !data.contractFile">-</div>
        </div>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="start" class="padding-top-20">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6">
        <div nz-row class="title">
          Regimes
        </div>
        <div nz-row class="detail-field">
          <div *ngIf="data?.regimes.length > 0">
            <div *ngFor="let regime of data?.regimes">
              {{ (regime?.regime?.translations | translation)?.name }}
            </div>
          </div>
          <div *ngIf="data?.regimes.length == 0">
            -
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6">
        <div nz-row class="title">
          Extras
        </div>
        <div nz-row class="detail-field">
          <div *ngIf="data?.extras.length > 0">
            <div *ngFor="let extra of data?.extras">
              {{ (extra?.extra?.translations | translation)?.name }}
            </div>
          </div>
          <div *ngIf="data?.extras.length == 0">
            -
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6">
        <div nz-row class="title">
          Conta corrente
        </div>
        <div nz-row class="detail-field">
          {{ data.current_account?.name }}
        </div>
      </div>
    </div>
  </nz-tab>
</nz-tabset>