<nz-tabset nzTabPosition="left">

  <nz-tab nzTitle="Utilizador">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Nome
        </div>
        <div nz-row class="detail-field">
          {{ complaint?.user.name }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Identificação
        </div>
        <div nz-row class="detail-field">
          {{ complaint?.user.identification }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Morada
        </div>
        <div nz-row class="detail-field">
          {{ complaint?.user.address }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Código Postal
        </div>
        <div nz-row class="detail-field">
          {{ complaint?.user.postal_code }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Contacto
        </div>
        <div nz-row class="detail-field">
          {{ complaint?.user.phone }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Email
        </div>
        <div nz-row class="detail-field">
          {{ complaint?.user.email }}
        </div>
      </div>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Reclamação">
    <div nz-row>
      <label style="font-size: 16px; font-weight: bold;">Assunto</label>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Data
        </div>
        <div nz-row class="detail-field">
          {{ complaint?.created_at | date: 'dd/MM/yyyy'}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Reclamação
        </div>
        <div nz-row class="detail-field">
          {{ complaint?.description }}
        </div>
      </div>
    </div>
    <div nz-row *ngIf="!responseEmpty(complaint.response)">
      <label style="font-size: 16px; font-weight: bold;">Resposta</label>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Utilizador
        </div>
        <div nz-row class="detail-field">
          {{ complaint?.response?.user.name}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Data
        </div>
        <div nz-row class="detail-field">
          {{ complaint?.response.created_at | date: 'dd/MM/yyyy'}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Resposta
        </div>
        <div nz-row class="detail-field">
          {{ complaint?.response.description}}
        </div>
      </div>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Habitação" (nzClick)="loadListingByID()">
    <nz-spin [nzSpinning]="listing_loading" nzSimple></nz-spin>
    <fi-sas-view-listing *ngIf="listing !== null" [listing]="listing"></fi-sas-view-listing>
  </nz-tab>

</nz-tabset>