<div nzType="flex" nzAlign="middle" nzJustify="center" perfectScrollbar class="page ps scroll-container">
    <div class="container">
        <div class="content-table">
            <nz-table class="table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
                (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading"
                [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData"
                [(nzPageSize)]="pageSize" (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
                <thead (nzSortChange)="sort($event)" nzSingleSort>
                    <tr class="table__header">

                        <th>Fila / Assunto</th>
                        <th>Descrição</th>
                        <th>Nome do Serviço</th>
                        <th nzShowSort nzSortKey="appointments">Permite Marcações?</th>
                        <th nzShowSort nzSortKey="active">Ativo</th>
                        <th nzRight="0px">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-data [ngForOf]="refTable.data">
                        <tr>
                            <td> {{(data?.translations | translation)?.name}}</td>
                            <td> {{(data?.translations | translation)?.schedule_description}}</td>
                            <td> {{data?.service ? ((data?.service?.translations | translation)?.name) : ''}}</td>
                            <td>
                                <fi-sas-tag [value]="data.appointments"></fi-sas-tag>
                            </td>
                            <td>
                                <nz-tag [nzColor]="data?.active ? 'green' : 'red'">
                                    {{data?.active ? 'Sim' : 'Não'}}</nz-tag>
                            </td>
                            <td nzRight="0px"><button nz-button nz-dropdown nzType="link" class="options_button"
                                    [nzDropdownMenu]="menu" nzPlacement="bottomRight"><i nz-icon nzType="dash"
                                        nzTheme="outline" class="font-icon-dash"></i></button>
                                <nz-dropdown-menu #menu="nzDropdownMenu">
                                    <ul nz-menu>
                                        <li nz-menu-item [nzDisabled]="!('queue:subjects:update' | hasPermission)"
                                            (click)="edit(data.id)">Editar</li>
                                        <li nz-menu-item *ngIf="data.active == false"
                                            [nzDisabled]="!('queue:subjects:update' | hasPermission)"
                                            (click)="ativeConfirm(data.id)">Ativar</li>
                                        <li nz-menu-item *ngIf="data.active == true"
                                            [nzDisabled]="!('queue:subjects:update' | hasPermission)"
                                            (click)="inativeConfirm(data.id)">Desativar</li>
                                    </ul>
                                </nz-dropdown-menu>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>