<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="title-step-form"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.T7" |
            translate
            }}
        </p>
        <p class="detail-text">{{ 'ACCOMMODATION.APPLICATIONS.STEP_ELEVEN.DESC' |
            translate }}</p>

    </div>

    <nz-divider></nz-divider>
</div>

<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
        {{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.T1' |
        translate }}
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
        <button nz-button class="button-edit-review" nzType="default" (click)="changeStep(0)">
            <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
        </button>
    </div>
</div>
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume"> {{
            "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.TITLE_APRESENTATION" |
            translate }}</p>
            <p class="desc-resume" *ngFor="let translation of formProperty?.value?.translations">
                <span class="language">{{filterLanguage(translation.language_id)}}:
                </span>{{translation?.name}}
            </p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.TYPE_HOUSE" |
            translate }}</p>
        <p class="desc-resume"> {{ formProperty?.value?.house_typology == 'House' ?
            ("PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.R1" | translate) :
            ("PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.R2" | translate)}}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.ROOM_NUMBER" |
            translate }}</p>
        <p class="desc-resume"> {{ getTypology(formProperty?.value?.typology_id)}}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.FLOOR" |
            translate }}</p>
        <p class="desc-resume"> {{ formProperty?.value?.floor }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.TYPE_SPACE" |
            translate }}</p>
        <p class="desc-resume"> {{ formProperty?.value?.usable_space != 'SHARED_ROOM' ?
            ("PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.R9" | translate) :
            ("PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.R10" | translate) }}</p>
    </div>
    <div *ngIf="formProperty?.value?.usable_space == 'WHOLE_HOUSE'" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24"
        [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.AREA" |
            translate }}</p>
        <p class="desc-resume"> {{ formProperty?.value?.area ? formProperty?.value?.area + ' m²' : '' }}</p>
    </div>
    <div *ngIf="formProperty?.value?.usable_space == 'WHOLE_HOUSE'" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24"
        [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.PRICE" |
            translate }}</p>
        <p class="desc-resume"> {{ formProperty?.value?.price }}
            {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.PRICE_EUR" | translate }}</p>
    </div>
    <div *ngIf="formProperty?.value?.usable_space == 'WHOLE_HOUSE'" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24"
        [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.DESCRIPTION" |
            translate }}</p>
        <p class="desc-resume" *ngFor="let translation of formProperty?.value?.translations">
            <span class="language">{{filterLanguage(translation.language_id)}}:
            </span>{{translation?.description}}
        </p>
    </div>
    <div *ngIf="formProperty?.value?.usable_space == 'SHARED_ROOM'" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24"
        [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.NROOMS" |
            translate }}</p>
        <p class="desc-resume"> {{ formProperty?.value?.rooms?.length }}</p>
    </div>
    <div *ngIf="formProperty?.value?.usable_space == 'SHARED_ROOM'" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24"
        [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <div *ngFor="let room of formProperty?.value?.rooms; let indexRoom = index">
            <div nz-row class="title-resume">
                {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.R10" | translate
                }}
                - {{indexRoom + 1}}
            </div>
            <div nz-row>
                <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.PRICE" |
                    translate }}</p>
                <p class="desc-resume"> {{ room?.price }} {{
                    "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.PRICE_EUR" |
                    translate }}</p>
            </div>
            <div nz-row>
                <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.AREA" |
                    translate }}</p>
                <p class="desc-resume"> {{ room?.area ? room?.area + ' m²' : '' }}</p>
            </div>
            <div nz-row>
                <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.TYPE" |
                    translate }}</p>
                <p class="desc-resume"> {{ room?.room_type == 'PRIVATE_ROOM' ? 'Privado' : 'Partilhado' }} </p>
            </div>
            <div nz-row>
                <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.WC" |
                    translate }}</p>
                <p class="desc-resume"> {{ room?.shared_wc == true ? ("SWITCH.YES" | translate) : ("SWITCH.NO" |
                    translate) }} </p>
            </div>
            <div nz-row>
                <p class="sub-title-resume"> {{
                    "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.DESCRIPTION" | translate
                    }}</p>
                <p *ngFor="let translation of formProperty?.value?.rooms[indexRoom].translations" class="desc-resume">
                    <span class="language">{{filterLanguage(translation.language_id)}}:
                    </span>{{translation?.description}}
                </p>
            </div>
        </div>

    </div>
</div>
<nz-divider></nz-divider>
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
        {{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.T2' |
        translate }}
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
        <button nz-button class="button-edit-review" nzType="default" (click)="changeStep(1)">
            <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
        </button>
    </div>
</div>

<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_TWO.FORM_ELEMENTS.ADRESS1" |
            translate }}</p>
        <p class="desc-resume"> {{ formLocation?.value?.address }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_TWO.FORM_ELEMENTS.ADRESS2" |
            translate }}</p>
        <p class="desc-resume"> {{ formLocation?.value?.address_no }}</p>
    </div>
    <div *ngIf="formLocation?.value?.latitude" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_TWO.FORM_ELEMENTS.LATITUDE" |
            translate }}</p>
        <p class="desc-resume"> {{ formLocation?.value?.latitude }}</p>
    </div>
    <div *ngIf="formLocation?.value?.longitude" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_TWO.FORM_ELEMENTS.LONGITUDE" |
            translate }}</p>
        <p class="desc-resume"> {{ formLocation?.value?.longitude }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_TWO.FORM_ELEMENTS.POST_CODE" |
            translate }}</p>
        <p class="desc-resume"> {{ formLocation?.value?.postal_code }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_TWO.FORM_ELEMENTS.LOCAL" |
            translate }}</p>
        <p class="desc-resume"> {{ formLocation?.value?.city }}</p>
    </div>
</div>
<nz-divider></nz-divider>
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
        {{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.T3' |
        translate }}
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
        <button nz-button class="button-edit-review" nzType="default" (click)="changeStep(2)">
            <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
        </button>
    </div>
</div>
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_THREE.FORM_ELEMENTS.DESC1" |
            translate
            }}</p>
        <p class="desc-resume" *ngIf="formAmenities?.value?.dishwasher">{{
            'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_THREE.FORM_ELEMENTS.AMEN1' | translate }}</p>
        <p class="desc-resume" *ngIf="formAmenities?.value?.private_wc">{{
            'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_THREE.FORM_ELEMENTS.AMEN2' | translate }}</p>
        <p class="desc-resume" *ngIf="formAmenities?.value?.parking_garage">{{
            'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_THREE.FORM_ELEMENTS.AMEN3' | translate }}</p>
        <p class="desc-resume" *ngIf="formAmenities?.value?.elevator">{{
            'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_THREE.FORM_ELEMENTS.AMEN4' | translate }}</p>
        <p class="desc-resume" *ngIf="formAmenities?.value?.internet">{{
            'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_THREE.FORM_ELEMENTS.AMEN5' | translate }}</p>
        <p class="desc-resume" *ngIf="formAmenities?.value?.kitchen_access">{{
            'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_THREE.FORM_ELEMENTS.AMEN6' | translate }}</p>
        <p class="desc-resume" *ngIf="formAmenities?.value?.fridge">{{
            'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_THREE.FORM_ELEMENTS.AMEN7' | translate }}</p>
        <p class="desc-resume" *ngIf="formAmenities?.value?.stove">{{
            'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_THREE.FORM_ELEMENTS.AMEN8' | translate }}</p>
        <p class="desc-resume" *ngIf="formAmenities?.value?.microwave">{{
            'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_THREE.FORM_ELEMENTS.AMEN9' | translate }}</p>
        <p class="desc-resume" *ngIf="formAmenities?.value?.washing_machine">{{
            'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_THREE.FORM_ELEMENTS.AMEN10' | translate }}</p>
        <p class="desc-resume" *ngIf="formAmenities?.value?.heating_system">{{
            'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_THREE.FORM_ELEMENTS.AMEN11' | translate }}</p>
        <p class="desc-resume" *ngIf="formAmenities?.value?.cooling_system">{{
            'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_THREE.FORM_ELEMENTS.AMEN12' | translate }}</p>
        <p class="desc-resume" *ngIf="formAmenities?.value?.cable_tv">{{
            'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_THREE.FORM_ELEMENTS.AMEN13' | translate }}</p>
        <p class="desc-resume" *ngIf="formAmenities?.value?.tv">{{
            'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_THREE.FORM_ELEMENTS.AMEN14' | translate }}</p>
    </div>
</div>
<nz-divider></nz-divider>
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
        {{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.T4' |
        translate }}
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
        <button nz-button class="button-edit-review" nzType="default" (click)="changeStep(3)">
            <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
        </button>
    </div>
</div>
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FOUR.FORM_ELEMENTS.DESC1" |
            translate
            }}</p>
        <p class="desc-resume" *ngIf="formExpenses?.value?.electricity">{{
            'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FOUR.FORM_ELEMENTS.EXP1' | translate }}</p>
        <p class="desc-resume" *ngIf="formExpenses?.value?.internet">{{
            'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FOUR.FORM_ELEMENTS.EXP2' | translate }}</p>
        <p class="desc-resume" *ngIf="formExpenses?.value?.cable_tv">{{
            'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FOUR.FORM_ELEMENTS.EXP3' | translate }}</p>
        <p class="desc-resume" *ngIf="formExpenses?.value?.furniture">{{
            'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FOUR.FORM_ELEMENTS.EXP4' | translate }}</p>
        <p class="desc-resume" *ngIf="formExpenses?.value?.cleaning">{{
            'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FOUR.FORM_ELEMENTS.EXP5' | translate }}</p>
        <p class="desc-resume" *ngIf="formExpenses?.value?.bedding">{{
            'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FOUR.FORM_ELEMENTS.EXP6' | translate }}</p>
        <p class="desc-resume" *ngIf="formExpenses?.value?.gas">{{
            'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FOUR.FORM_ELEMENTS.EXP7' | translate }}</p>
        <p class="desc-resume" *ngIf="formExpenses?.value?.water">{{
            'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FOUR.FORM_ELEMENTS.EXP8' | translate }}</p>
        <p class="desc-resume" *ngIf="formExpenses?.value?.condo">{{
            'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FOUR.FORM_ELEMENTS.EXP9' | translate }}</p>
    </div>
</div>
<nz-divider></nz-divider>
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
        {{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.T5' |
        translate }}
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
        <button nz-button class="button-edit-review" nzType="default" (click)="changeStep(4)">
            <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
        </button>
    </div>
</div>
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.GENRE" |
            translate
            }}</p>
        <p class="desc-resume"> {{
            ('PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_SEVEN.'+formReq?.value?.gender
            |
            uppercase) | translate }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.OCCUPATION" |
            translate
            }}</p>
        <p class="desc-resume">
            {{
            ('PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_SEVEN.'+formReq?.value?.occupation
            |
            uppercase) | translate }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.ANIMAL" |
            translate
            }}</p>
        <p class="desc-resume">
            {{
            ('PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_SEVEN.'+(formReq?.value?.allows_pets
            |
            replace: ' ': '_') | uppercase) | translate }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.SMOKE" |
            translate
            }}</p>
        <p class="desc-resume"> 
            {{
            ('PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_SEVEN.'+(formReq?.value?.allows_smokers
            | replace: ' ': '_') | uppercase) | translate }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.START_DATE" |
            translate
            }}</p>
        <p class="desc-resume"> 
            {{formReq?.value?.start_date | date: 'yyyy-MM-dd' }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.END_DATE" |
            translate
            }}</p>
        <p class="desc-resume"> 
            {{ formReq?.value?.end_date | date: 'yyyy-MM-dd' }}</p>
    </div>
</div>
<nz-divider></nz-divider>
<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
        {{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.T6' |
        translate }}
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
        <button nz-button class="button-edit-review" nzType="default" (click)="changeStep(5)">
            <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
        </button>
    </div>
</div>
<div nz-row>
    <nz-spin [nzSpinning]="loadingFiles">
        <div nz-row nzType="flex" [nzGutter]="6" *ngIf="!this.loadingFiles">

            <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="5" [nzXXl]="4" class="gallery"
                *ngFor="let media of medias">
                <div *ngIf="media?.type == 'IMAGE'">
                    <a target="_blank" [href]="media?.url">
                        <img [src]="media?.url" width="100px">
                    </a>
                </div>
                <div *ngIf="media?.type != 'IMAGE'">
                    <a target="_blank" [href]="media?.url">
                        <img src="/assets/imgs/doc.PNG" width="100px">
                    </a>
                </div>
            </div>

        </div>
    </nz-spin>
</div>