@import 'theme';

.content {
  margin-bottom: 10;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(223, 223, 223, 0.5);

  &__group {
    padding: 20px 40px 40px 40px;
  }

  &__title {
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #111111;
  }

  &__divtitle {
    margin-top: 40px !important;
  }

  &__titlegrande {
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--primary-4);

  }

  &__div {
    margin-top: 15px !important;
  }

  &__subtitle {
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: var(--primary-color);
    margin-top: 10px;
  }

  &__check {
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 20px;
    letter-spacing: normal;
    color: var(--primary-color);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 40px;
  }

  &__readmore {
    width: 300px;
    height: 18px;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: var(--primary-7);
    text-decoration: underline;
    :hover {
      color: var(--primary-2);
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-content: space-between;
  }

  &__prog {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  &__line {
    overflow: none !important;
    margin-top: 5px;
    width: 100%;
  }

  &__line-simple {
    overflow: none !important;
    margin-top: 5px;
    width: 100%;
    display: none;
  }
}

.divider-web {
  margin-top: 10px;
  width: 100%;
}

.space {
  height: 30px;
  width: 100%;
}

.ant-steps-item {
  overflow: inherit !important;
}

nz-step {
  min-width: 15px;
}

.title-room{
  font-size: 20px;
  margin-top:25px;
  font-weight: bold;
}

.language{
  font-weight: bold;
}

.detail-text {
  font-size: larger;
  color: unset;
  margin-bottom: 5px;
  margin-top: -5px;
}

.button-edit-review {
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
  color: var(--primary-color);
  border-radius: 21px;
  border: solid 2px var(--primary-color);
  font-weight: 700;
}