@import "theme";

.content-table {
    margin: 8px;

    nz-table {
    }

    .table {
        &__header {
            th {
                background: white;
                color: var(--primary-6);
                font-weight: 700;
            }

            & > th:first-child {
                border-top-left-radius: 2px !important;
            }

            & > th:last-child {
                border-top-right-radius: 2px !important;
            }
        }

        tr {

            /*td {
                color: var(--text-color);
            }*/

            background: white !important;
        }
    }

    .options_button {
        color: var(--text-color);
        font-size: 22px;
    }
}
