<button
  nz-button
  nzType="primary"
  [routerLink]="['/financial', 'configurations', 'accounts', 'list']"
  style="float: left;"
>
  Voltar
</button>

<button
  nz-button
  nzType="primary"
  style="float: right;"
>
  Novo
</button>

<div class="content-table">
  <nz-table class="table"
  #refTable [nzScroll]="{ x: '240px' }"
  [nzData]="data"
  (nzCurrentPageDataChange)="currentPageDataChange($event)"
  [nzLoading]="loading"
  [nzFrontPagination]="false"
  [(nzPageIndex)]="pageIndex"
  [nzShowSizeChanger]="true"
  [nzTotal]="totalData"
  [(nzPageSize)]="pageSize"
  (nzPageIndexChange)="pagination()"
  (nzPageSizeChange)="pagination(true)"
  >
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th
        nzShowCheckbox
        [(nzChecked)]="isAllDisplayDataChecked"
        [nzIndeterminate]="isIndeterminate"
        (nzCheckedChange)="checkAll($event)"
        ></th>
        <th nzShowExpand></th>
        <th
        *ngFor="let column of columns"
        [nzShowSort]="column.sortable"
        [nzSortKey]="column.sortKey ? column.sortKey : column.key"
        > {{ column.label }}</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">

        <tr>
          <td
            nzShowCheckbox
            [(nzChecked)]="mapOfCheckedId[data.id]"
            (nzCheckedChange)="refreshStatus()"
          ></td>
          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]" ></td>
          <td *ngFor="let column of columns" >
            <span *ngIf="!column.tag">{{ column.translation ? (data.translations | where: ['language_id', 3] )[0][column.key] : (data | flatObject)[column.key]}}</span>
            <span *ngIf="column.tag">
              <fi-sas-tag [value]="data[column.key]" [results]="column.tag"></fi-sas-tag>
            </span>
          </td>
          <td>
            <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu" nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item *ngFor="let menuItem of menuItems" (click)="menuItem.action(data)">{{ menuItem.label }}</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>

        <tr [nzExpand]="mapOfExpandData[data.id]">
          <td [attr.colspan]="columns.length + 3">
            <ng-container *ngTemplateOutlet="rowExpand;context : {rowData : data}"></ng-container>
          </td>
        </tr>

      </ng-template>
    </tbody>
  </nz-table>
</div>
