<div nzType="flex" nzAlign="middle" nzJustify="center" perfectScrollbar class="page ps scroll-container">
    <div class="container">
        <div class="content-table">
            <nz-table class="table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)"
                [nzLoading]="loading" [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true"
                [nzTotal]="totalData" [(nzPageSize)]="pageSize" (nzPageIndexChange)="pagination()"
                (nzPageSizeChange)="pagination(true)">
                <thead (nzSortChange)="sort($event)" nzSingleSort>
                    <tr class="table__header">

                        <th>Serviço</th>
                        <th>Fila</th>
                        <th>Operador</th>
                        <th>Balcão</th>
                        <th nzShowSort nzSortKey="active">Ativo</th>
                        <th nzRight="0px">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-data [ngForOf]="refTable.data">
                        <tr>
                            <td>{{(data.subject[0].service[0]?.translations | translation)?.name}}</td>
                            <td>{{(data.subject[0]?.translations | translation)?.name}}</td>
                            <td>{{data.operator[0]?.user?.name}}</td>
                            <td><span class="border-balcony">{{data.desk[0].name}}</span>
                            </td>
                            <td>
                                <fi-sas-tag [value]="data.active"></fi-sas-tag>
                            </td>
                            <td nzRight="0px"><button nz-button nz-dropdown nzType="link" [nzDropdownMenu]="menu" class="options_button"
                                nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"
                                    class="font-icon-dash"></i></button>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item (click)="edit(data.id)">Editar</li>
                                    <li nz-menu-item *ngIf="data.active" (click)="desactiveData(data.id)">Desativar</li>
                                    <li nz-menu-item *ngIf="!data.active" (click)="activeData(data.id)">Ativar</li>
                                </ul>
                            </nz-dropdown-menu>
                        </td>
                        </tr>
                    </ng-template>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>