@import "theme";

:host ::ng-deep nz-upload { display: block; }
:host ::ng-deep .ant-upload.ant-upload-drag { height: 180px; }

::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .vertical-center-modal .ant-modal {
  top: 0;
}

img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

.ant-upload.ant-upload-drag {
  height: auto !important;
}

.preview-container {
  // padding-top: 8px;
  border: var(--primary-5) dashed thin;
  border-radius: 15px;
  width: 100%;
  height: 40px;
  position: relative;

  &__file-name {
    overflow: hidden;
  }

  &__buttons {
    &__button {
      width: 50% !important;
    }
  }

  &__buttons > input {
    display: none;
  }

  &__buttons > button {
    margin: 8px;
  }
}
