<nz-spin [nzSpinning]="isLoading">
  <div nz-row class="preview-container" nzType="flex" nzAlign="middle" nzJustify="space-between">

    <div nz-col style="height: 40px; overflow: hidden;" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
      <a *ngIf="mediaObj" target="_blank" [href]="mediaUrl">{{ mediaObj.filename ? mediaObj.filename : mediaObj.path }}</a>
      <span *ngIf="!mediaObj" class="preview-containe__file-name">{{ file ? file.name : 'Selecione um ficheiro' }}</span>
    </div>
    <div nz-col style="height: 40px;" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
      <div nz-row nzType="flex" nzJustify="center" class="preview-container__buttons">
        <div nz-col>
          <nz-button-group *ngIf="!isSavedOnServer" [nzSize]="'small'">
            <button nz-button type="button" class="preview-container__buttons__button" [disabled]="!isFileLoaded || isSavedOnServer || hasSaved" (click)="confirm()">Confirmar
            </button>
            <button nz-button type="button" class="preview-container__buttons__button" [disabled]="isSavedOnServer" (click)="upload_input.click();">
              <i nz-icon type="upload"></i><span>Upload</span>
            </button>
          </nz-button-group>
          <button nz-button type="button" [nzType]="'danger'"  [nzSize]="'small'" *ngIf="isSavedOnServer" (click)="deleteFile()">Remover</button>
        </div>
        <input nz-input type="file" [accept]="types" (change)="fileChangeEvent($event)" #upload_input />
      </div>
    </div>
  </div>
</nz-spin>
