<div class="container">
  <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th nzShowExpand></th>
        <th>Zona</th>
        <th nzShowSort nzSortKey="active">Ativa</th>
        <th nzRight="0px"
        class="text-right">Ações</th>
      </tr>

    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">
        <tr>
          <td nzShowExpand [(nzExpand)]="data.expand"></td>
          <td>{{data.name}}</td>
          <td>
            <fi-sas-tag [value]="data.active"></fi-sas-tag>
          </td>
          <td nzRight="0px"
          class="text-right">
            <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
              nzPlacement="bottomRight">
              <i nz-icon nzType="dash" nzTheme="outline"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item [nzDisabled]="!('bus:zones:delete' | hasPermission)" (click)="deleteZone(data.id)">
                  Eliminar</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
        <tr [nzExpand]="data.expand">
          <td></td>
          <td colspan="7">
            <nz-table [nzScroll]="{ x: '240px' }" #innerTable [nzData]="data.locals" nzSize="middle"
              [nzShowPagination]="false">
              <thead>
                <tr class="table__header">
                  <th>Local</th>
                  <th>Região</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let local of data.locals">
                  <td>{{local.local}}</td>
                  <td>{{local.region}}</td>
                </tr>
              </tbody>
            </nz-table>
            </td>
            </tr>
      </ng-template>

  </tbody>
  </nz-table>
</div>

<div class="space" nz-row>
  <button nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button *ngIf="data.length==0" nz-button (click)="form()" 
      [nzType]="'primary'">Adicionar zonas</button>
</div>