@import "~/scss/_variables";

.start {
  /* ----------------------- */
  /* Component */

  &__image {
    height: 24.3%;
    width: 100%;
  }

  &__title {
    font-family: "Montserrat", "Montserrat-Bold";
    font-weight: bold;
    font-size: 17;
    line-height: 1.41;
    color: $black;
    margin-bottom: 12;
  }

  &__p {
    font-family: "Montserrat", "Montserrat-Medium";
    font-weight: 500;
    font-size: 15;
    line-height: 1.6;
    color: $black;
    text-align: left;
  }

  /* ----------------------- */
  /* Common */
}
