<StackLayout>
  <!-- action bar -->
  <fi-action-bar
    [actionBarType]="3"
    actionBarTitle="UBike"
    actionBarBack="dashboard"
  ></fi-action-bar>

  <!-- scroll init -->
  <ScrollView row="0">
    <StackLayout>
      <Image
        class="start__image"
        loadMode="async"
        src="{{ data?.value.cover }}"
        stretch="fill"
      >
      </Image>

      <StackLayout class="fisas__content">
        <StackLayout marginTop="49">
          <Label class="start__title" text="{{ data?.value.title }}"></Label>
        </StackLayout>
        <StackLayout marginBottom="15">
          <Label
            class="start__p"
            textWrap="true"
            text="{{ data?.value.text[0] }}"
          ></Label>
        </StackLayout>
        <StackLayout marginBottom="48">
          <Label
            class="start__p"
            textWrap="true"  
            text="{{ data?.value.text[1] }}"
          ></Label>
        </StackLayout>
        <StackLayout>
          <Label
            class="fisas__btn-bottom fisas__bg--{{ institution }}"
            text="{{ 'start.candidature' | translate }}" 
            [nsRouterLink]="['/ubike/candidatura']"
          ></Label>

          <Label
            class="fisas__p--light-medium"
            text="{{ 'start.terms' | translate }}"
            textAlignment="center"
            marginBottom="18"
            [nsRouterLink]="['/ubike/conditions']"
          ></Label>
        </StackLayout>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</StackLayout>
