<div class="experience-card" (click)="experienceDetail()">
  <div nz-row nzType="flex">
    <div nz-col [nzXs]="{ span: 24, order: 2 }" [nzMd]="{ span: 17, order: 1 }">
      <h1 class="title">{{ (experience?.translations | languageChange)?.title }}</h1>
    </div>

    <div
      nz-col
      [nzXs]="{ span: 24, order: 1 }"
      [nzMd]="{ span: 7, order: 2 }"
      class="experience-card--express-interest--lg"
      *ngIf="canExpressInterest && experience?.experience_responsible?.id != user?.id"
    >
      <ng-container *ngTemplateOutlet="expressInterestButton"></ng-container>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXXl]="18">
      <p class="description">
        <b>{{ (experience?.translations | languageChange)?.description }}</b>
      </p>
    </div>

    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6"></div>
  </div>

  <div nz-row class="footer">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="5" [nzXXl]="4" class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{ 'SOCIAL_SUPPORT.APPLICATIONS.SUBMITTED_ON' | translate }}</span>
          </div>
          <div nz-row>
            <span class="description-detail"> {{ experience?.publish_date | date: 'dd-MM-yyyy' }}</span>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="5" [nzXXl]="5" class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{ 'SOCIAL_SUPPORT.APPLICATIONS.ORGANIC_UNIT' | translate }}</span>
          </div>
          <div nz-row>
            <span class="description-detail">
              {{ experience?.organic_unit?.name }} - {{ experience?.organic_unit?.code }}</span
            >
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="14" [nzXXl]="15" class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{ 'SOCIAL_SUPPORT.APPLICATIONS.APPLICATIONS_DEADLINE' | translate }}</span>
          </div>
          <div nz-row>
            <span class="description-detail"
              >{{ 'SOCIAL_SUPPORT.APPLICATIONS.APPLICATIONS' | translate }}
              {{ experience?.publish_date | date: 'dd MMMM yyyy' }}
              {{ 'SOCIAL_SUPPORT.APPLICATIONS.TO' | translate }}
              {{ experience?.application_deadline_date | date: 'dd MMMM yyyy' }}</span
            >
          </div>
        </div>
      </div>
    </div>

    <div nz-col nzSpan="24" class="experience-card--express-interest--xs" *ngIf="canExpressInterest && experience?.experience_responsible?.id != user?.id">
      <ng-container *ngTemplateOutlet="expressInterestButton"></ng-container>
    </div>
  </div>
</div>

<ng-template #expressInterestButton>
  <app-button  nz-tooltip [nzTitle]="'VOLUNTEERING.INTEREST.REGISTER_INFO' | translate" 
    (click)="expressInterest($event)"
    [translate]="'VOLUNTEERING.INTEREST.REGISTER' | translate"
    type="primary"
  ></app-button>
</ng-template>
