@import 'theme';

.experience-card {
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid transparent;
  cursor: pointer;
  &:hover {
    border-color: var(--primary-color);
    background-color: var(--primary-1);
    transition: all .3s;
  }
  &:focus {
    border-color: var(--primary-color);
    background-color: var(--primary-1);
  }

  &--express-interest {
    &--xs {
      margin-top: 15px;
    }
  }
}

.footer p {
  font-size: 12px;
  font-weight: normal;
  line-height: 2;
  color: #666666;
}

.description {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  color: #222222;
}

.application-status {
  width: 142px;
  height: 16px;
  border-radius: 4px;
  text-align: center;
  float: right;
  font-size: 9px;
  font-weight: bold;
  line-height: 1.78;
  letter-spacing: 0.5px;
  color: white;
  background-color: var(--primary-5);
}

.title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.33;
  color: #333333;
  margin-bottom: 5px;
}
.title-detail {
  font-size: 13px;
  color: var(--primary-7);
}

.description-detail {
  color: black;
  font-size: 14px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.padding-top-15 {
  padding-top: 15px;
}

@media only screen and (max-width: 767px) {
  .experience-card {
    &--express-interest {
      &--lg {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .experience-card {
    &--express-interest {
      &--xs {
        display: none;
      }

      &--lg {
        margin-bottom: 15px;
        text-align: right;
      }
    }
  }
}
