<!-- list cart -->

<!-- header -->
<header class="cart-list__head">
  <div nz-row>
    <div nz-col nzSpan="2"></div>
    <div nz-col nzSpan="16">
      <h1 class="cart-list__head-title">
        {{ 'CART.LIST.TITLE' | translate }}
      </h1>
      <h2 class="cart-list__head-info">
        {{ 'CART.LIST.DESCRIPTION' | translate }}
      </h2>
    </div>
    <div nz-col nzSpan="2"></div>
  </div>
</header>
<perfect-scrollbar class="cart-list">
  <!-- empty cart -->
  <section *ngIf="cartData?.length === 0">
    <div nz-row>
      <div nz-col nzSpan="2"></div>
      <div nz-col nzSpan="16">
        <div class="cart-list__no-content">
          <div class="cart-list__no-content-title">
            {{ 'CART.LIST.EMPTY_TITLE' | translate }}
          </div>
          <div class="cart-list__no-content-description">
            {{ 'CART.LIST.EMPTY_DESCRIPTION' | translate }}
          </div>
          <div class="cart-list__no-content-btn-1">
            <button nz-button [nzGhost]="true" routerLink="/dashboard">
              {{ 'CART.LIST.BUTTON_SERVICES' | translate }}
            </button>
          </div>
         <div class="cart-list__no-content-btn-2" (click)="close()">
            <button nz-button [nzGhost]="true">
              {{ 'CART.LIST.BUTTON_CLOSE' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- cart summary module -->
  <ng-container *ngFor="let cart of cartData; let idx = index;">
    <section>
      <div nz-row>
        <div nz-col nzSpan="2"></div>
        <div nz-col nzSpan="16">
          <!-- head -->
          <div class="cart-list__cart-head">
            <div class="cart-list__cart-title-wrap" *ngIf="cart.items.length > 0">
              <!-- title -->
              <div class="cart-list__cart-title">
                {{ getAccountName(cart.account_id)}}
              </div>

              <!-- button clear -->
              <div class="cart-list__cart-clean">
                <button nz-button (click)="removeItemsCart(cart.account_id)">
                  {{ 'CART.LIST.BTN_CLEAR' | translate }}
                </button>
              </div>
            </div>
          </div>

          <!-- cart item -->
          <ng-container *ngFor="let item of cart.items">
            <fi-cart-item id="{{ item.id }}" vat="{{ item.vat }}" vatValue="{{item.vat_value}}"
              price="{{ item.unit_value }}" quantity="{{ item.quantity }}" totalValue="{{item.total_value}}"
              stock={{item.max_quantity}} (quantityChange)="quantityChange($event)">
              <div class="item-description">
                <h6>{{ item.name }} {{item.location ? '- ' + item.location : ''}}</h6>
                <p>{{ item.description }}</p>
              </div>
            </fi-cart-item>
          </ng-container>

          <!-- total -->
          <div *ngIf="cart.items.length > 0">
            <div class="cart-list__cart-total-line"></div>
            <div class="cart-list__cart-total-wrap">
              <div class="cart-list__cart-total-label">
                {{ 'CART.LIST.TOTAL' | translate }}
              </div>
              <div class="cart-list__cart-total-amount">
                {{
                countTotalValue(cart)
                | number: '1.2-2':'pt-PT'
                }}€
                <p class="cart-list__cart-total-tax">
                  {{ 'CART.LIST.TOTAL_TAX' | translate }}&nbsp;
                  {{
                  countTotalValueVat(cart)
                  | number: '1.2-2':'pt-PT'
                  }}€
                </p>
              </div>
            </div>
            <!-- pay buttons -->
            <div>
              <div class="cart-list__pay">
                <div class="cart-list__pay-btn-card"
                  *ngIf="getCurrentBalance(cart.account_id) - countTotalValue(cart)>=0">
                  <button nz-button [nzGhost]="true" class="btn-pay" (click)="payConfirm(cart.account_id)" [disabled]="checkoutLoading">
                   <i nz-icon style="padding-bottom: 4px;">
                      <svg-icon src="assets/icons/euro-svgrepo-com.svg" id="icon-pay-list" [svgStyle]="{ 'width.px': 17, 'height.px': 20 }">
                      </svg-icon>
                    </i>
                    
                    {{ 'CART.LIST.BTN_PAY_CARD' | translate }}
                  </button>
                </div>
                <div *ngIf="validTotal(getCurrentBalance(cart.account_id),countTotalValue(cart))" class="insuf-value">
                  {{ 'CART.LIST.INSUFFICIENT_BALANCE' | translate }}
                </div>

              </div>
            </div>
          </div>

          <!-- module margin -->
          <div class="cart-list__module-margin"></div>
        </div>
        <div nz-col nzSpan="2"></div>
      </div>
    </section>
  </ng-container>

  <!-- scene margin -->
  <div class="cart-list__margin"></div>
</perfect-scrollbar>

<!---------------------------MODAL SUCCESS----------------------->
<nz-modal [nzVisible]="modalSuccess" nzClosable="false" nzFooter="null" [nzStyle]="{top: '700px'}">
  <div class="icon-space">
    <img src="assets/images/Success.PNG" style="width: 175px;">
  </div>
  <div class="text-modal">
    <label>{{ 'CART.LIST.NOTIFICATIONS.CART.SUCCESS.DESCRIPTION' | translate }}</label>
    <br>
    <br>
    <label *ngIf="existRefectory">{{ 'CART.MENU.NOTIFICATIONS.CART.SUCCESS.DESCRIPTION_REFECTORY' | translate }}</label>
  </div>
</nz-modal>
