.content {
    padding: 32px;
    background-color: white;
    &__title {
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #333;
    }
}

.fc-content{
    padding: 5px !important;
}