<div class="options-trip">

  <div class="options-trip__wrap">

    <!-- title -->
    <div class="options-trip__title">
      {{ 'OPTIONS.TRIP.TITLE' | translate }}
    </div>

    <!-- button -->
    <button
      nz-button
      [nzGhost]="true"
      [class.active]="isDeparture()"
      (click)="handlerTripChange($event, 'DEPARTURE')"
    >
      <i nz-icon *ngIf="isDeparture()">
        <svg-icon
          src="assets/icons/icons-radiobutton-checked.svg"
          [svgStyle]="{ 'width.px': 18, 'height.px': 18 }"
        ></svg-icon>
      </i>
      {{ 'OPTIONS.TRIP.DEPARTURE' | translate }}
    </button>

    <!-- button -->
    <button
      nz-button
      [nzGhost]="true"
      [class.active]="!isDeparture()"
      (click)="handlerTripChange($event, 'ARRIVAL')"
    >
      <i nz-icon *ngIf="!isDeparture()">
        <svg-icon
          src="assets/icons/icons-radiobutton-checked.svg"
          [svgStyle]="{ 'width.px': 18, 'height.px': 18 }"
        ></svg-icon>
      </i>
      {{ 'OPTIONS.TRIP.RETURN' | translate }}
    </button>

  </div>

</div>
