@import 'default-theme.less';

:host::ng-deep {

  .options-trip {

    &__wrap {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: nowrap;
    }

    button {
      margin: 0 0 0 16px;
      font-size: 12px;
      font-weight: 700;
      line-height: 18px;
      border: 2px solid @fisas-grey-03;
      border-color: @fisas-grey-03;

      &:hover, &:active, &:focus, &.active {
        background-color: @fisas-grey-01!important;
        border-color: @fisas-grey-03!important;
        color: @fisas-grey-09!important;
      }

      i {
        color: var(--fisas-01);
      }
    }

    &__title {
      margin-right: 6px;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      display: inline-block;
      text-transform: uppercase;
      color: @fisas-grey-09;
    }
  }

}