<!--Steps-->


<div *ngIf="step == 0" class="content-form__steps hidden-md step-mobile">
  <div nz-row><label>Passo 1 de 7</label></div>
  <div nz-row class="title-step"><label>Propriedade</label></div>
</div>
<div *ngIf="step == 1" class="content-form__steps hidden-md step-mobile">
  <div nz-row><label>Passo 2 de 7</label></div>
  <div nz-row class="title-step"><label>Localização</label></div>
</div>
<div *ngIf="step == 2" class="content-form__steps hidden-md step-mobile">
  <div nz-row><label>Passo 3 de 7</label></div>
  <div nz-row class="title-step"><label>Comodidades</label></div>
</div>
<div *ngIf="step == 3" class="content-form__steps hidden-md step-mobile">
  <div nz-row><label>Passo 4 de 7</label></div>
  <div nz-row class="title-step"><label>Despesas incluídas</label></div>
</div>
<div *ngIf="step == 4" class="content-form__steps hidden-md step-mobile">
  <div nz-row><label>Passo 5 de 7</label></div>
  <div nz-row class="title-step"><label>Requisitos</label></div>
</div>
<div *ngIf="step == 5" class="content-form__steps hidden-md step-mobile">
  <div nz-row><label>Passo 6 de 7</label></div>
  <div nz-row class="title-step"><label>Galeria</label></div>
</div>
<div *ngIf="step == 6" class="content-form__steps hidden-md step-mobile">
  <div nz-row><label>Passo 7 de 7</label></div>
  <div nz-row class="title-step"><label>Revisão</label></div>
</div>

<div class="content-form">

  <div class="content-form__steps hidden-xs">
    <nz-steps class="content__line" [nzCurrent]="step" nzProgressDot>
      <nz-step nzTitle="Passo 1 de 7" nzDescription="Propriedade"> </nz-step>
      <nz-step nzTitle="Passo 2 de 7" nzDescription="Localização"> </nz-step>
      <nz-step nzTitle="Passo 3 de 7" nzDescription="Comodidades"> </nz-step>
      <nz-step nzTitle="Passo 4 de 7" nzDescription="Despesas incluídas"></nz-step>
      <nz-step nzTitle="Passo 5 de 7" nzDescription="Requisitos"> </nz-step>
      <nz-step nzTitle="Passo 6 de 7" nzDescription="Galeria"> </nz-step>
      <nz-step nzTitle="Passo 7 de 7" nzDescription="Revisão"> </nz-step>
    </nz-steps>
  </div>

  <nz-divider class="divider-web"></nz-divider>

  <!--Form-->
  <div nz-row class="content-form">

    <nz-spin [nzSpinning]="loadingListing"></nz-spin>

    <div nz-col class="content-form__form" *ngIf="!loadingListing">
      <fi-sas-listing-step-one #propertyForm [properties]="steps[0].formValues" *ngIf="step == 0">
      </fi-sas-listing-step-one>
      <fi-sas-listing-step-two #locationForm [location]="steps[1].formValues" *ngIf="step == 1">
      </fi-sas-listing-step-two>
      <fi-sas-listing-step-three #amenitiesForm [amenities]="steps[2].formValues" *ngIf="step == 2">
      </fi-sas-listing-step-three>
      <fi-sas-listing-step-four #expensesForm [expenses]="steps[3].formValues" *ngIf="step == 3">
      </fi-sas-listing-step-four>
      <fi-sas-listing-step-five #requirementsForm [requirements]="steps[4].formValues" *ngIf="step == 4">
      </fi-sas-listing-step-five>
      <fi-sas-listing-step-six #galleryForm [gallery]="steps[5].formValues" *ngIf="step == 5"></fi-sas-listing-step-six>
      <fi-sas-listing-step-seven [steps]="steps" [arrayValues]="arrayValues" *ngIf="step == 6" (changeStep)="changeStep($event)">
      </fi-sas-listing-step-seven>
    </div>
  </div>
</div>

<div class="space" nz-row>
  <button *ngIf="step != 0" nz-button (click)="previousStep()" style="margin-right: 15px;">Anterior</button>
  <button nz-button [nzLoading]="loading" [disabled]="loading" (click)="nextStep()" 
      [nzType]="'primary'"> {{ buttonActionName }}</button>
</div>