.content-form {
  padding: 24px;
  background: white;

  &__steps {
    padding-top: 30px;
    margin-left:-20px
  }

  &__actions {
    padding: 30px;
    &--next {
      button {
        float: right;
      }
    }
  }
}

.hidden-md {
  display: none;
}

@media screen and (max-width:800px) {
.hidden-xs {
    display: none;
}

.hidden-md {
    display:block;
}

.step-mobile{
  padding-left: 20px;
  font-size: 16px;
}

.title-step{
  padding-top: 10px;
  font-weight: bold;
}

.content-form {
  padding: 24px;
  background: white;

  &__steps {
    padding-top: 30px;
    margin-left:0px
  }
}

}

@media screen and (max-width:600px) {

.hidden-xs {
    display: none;
}

.hidden-md {
    display: block;
}

.step-mobile{
  padding-left: 20px;
  font-size: 16px;
}

.title-step{
  padding-top: 10px;
  font-weight: bold;
}

.content-form {
  padding: 10px;
  background: white;
}

.content-form {
  padding: 10px;
  background: white;

  &__steps {
    padding-top: 30px;
    margin-left:0px
  }
}
}


.space{
  background-color: #F2F2F2;
  padding-top:20px;
  padding-bottom: 20px;
  text-align: right
}
