<nz-spin [nzSpinning]="loading">
  <nz-tabset nzTabPosition="left">
    <nz-tab nzTitle="Regime">
      <nz-tabset>
        <nz-tab *ngFor="let translation of data.translations" [nzTitle]="getLanguageTitle(translation.language_id)">
          <div nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
              <div nz-row class="title">
                Descrição
              </div>
              <div nz-row class="detail-field">
                {{translation.description ? translation.description : '-'}}
              </div>
            </div>
          </div>
          <div nz-row nzType="flex" nzJustify="start" class="padding-top-20">
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6">
              <div nz-row class="title">
                Descriminado na fatura
              </div>
              <div nz-row class="detail-field">
                <fi-sas-tag [value]="data.appear_billing"></fi-sas-tag>
              </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6">
              <div nz-row class="title">
                Código do produto
              </div>
              <div nz-row class="detail-field">
                {{data.product_code}}
              </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6">
              <div nz-row class="title">
                Nome fatura
              </div>
              <div nz-row class="detail-field">
                {{data.billing_name}}
              </div>
            </div>
          </div>
        </nz-tab>
      
      </nz-tabset>
    </nz-tab>
    <nz-tab nzTitle="Preços">
      <nz-table [nzScroll]="{ x: '240px' }" #nzTable [nzData]="data.priceLines" [nzPageSize]="10">
        <thead>
          <tr>
            <th>Tarifário</th>
            <th>Periodo</th>
            <th>Preço</th>
            <th>Taxa</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of nzTable.data">
            <td>{{i.tariff ? i.tariff.name : ' - ' }}</td>
            <td>{{getPeriodTranslations(i.period)}}</td>
            <td>{{i.price}}€</td>
            <td>{{i.vat ? i.vat.name : ' - ' }}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-tab>
  </nz-tabset>
</nz-spin>