@import 'theme';

.auth {
  padding-top: 20vh;
  background: var(--login-background-color);
  height: 100vh;

  &__logo {
    padding: 16px;
    font-size: 24px;
    color: white;
    text-align: center;
    img {
      margin-right: auto;
      margin-left: auto;
      width: 175px;
    }
  }

  &__title {
    margin-bottom: 16px;
    text-align: left;
    color: black;
    font-size: 18px;
  }
}
