<div class="content-form">
  <form [formGroup]="userForm" nzLayout="vertical">
    <div nz-row class="padding-bottom-10">
      <label class="content__title">Identificação do Utente</label>
  </div>
  <div nz-row style="padding-top: 20px;">
    <div nz-col nzXs="24" nzMd="24" nzLg="16" nzXl="16" nzXXl="16">
        <button nz-button nzType="primary" class="button-color" (click)="modalSearch()">
            <span>Procurar</span>
        </button>
    </div>
  </div>
  <div nz-row >
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzFor="name">Nome</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="name" id="name" [attr.disabled]="true">
          <nz-form-explain class="color-required" *ngIf="submitted && f.name.errors">Campo obrigatório</nz-form-explain>
      </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="student_number">Nº de Aluno / Nº de Colaborador (funcionário/docente)</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="student_number" id="student_number" [attr.disabled]="true">
            <nz-form-explain class="color-required" *ngIf="submitted && f.student_number.errors">Campo obrigatório</nz-form-explain>
        </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="niss">Nº Utente Saúde</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="niss" id="niss" [attr.disabled]="true">
            <nz-form-explain class="color-required" *ngIf="submitted && f.niss.errors">Campo obrigatório</nz-form-explain>
        </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="document_type_id">Tipo de Documento de Identificação</nz-form-label>
          <nz-form-control>
            <nz-select nzMode="default" formControlName="document_type_id" [nzLoading]="documentTypesLoading" nzShowSearch [nzDisabled]="true">
              <nz-option *ngFor="let type of documentTypes" [nzLabel]="(type?.translations | translation).description" [nzValue]="type.id"></nz-option>
            </nz-select>
          </nz-form-control>
          <nz-form-explain class="color-required" *ngIf="submitted && f.document_type_id.errors">Campo obrigatório</nz-form-explain>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="identification_number">Nº de Documento de Identificação</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="identification_number" id="identification_number"  [attr.disabled]="true">
            <nz-form-explain class="color-required" *ngIf="submitted && f.identification_number.errors">Campo obrigatório</nz-form-explain>
        </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="nif">NIF</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="nif" id="nif"  [attr.disabled]="true" type="number">
            <nz-form-explain class="color-required" *ngIf="submitted && f.nif.errors">Campo obrigatório</nz-form-explain>
        </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row >
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzFor="address">Morada</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="address" id="address" [attr.disabled]="true">
            <nz-form-explain class="color-required" *ngIf="submitted && f.address.errors">Campo obrigatório</nz-form-explain>
        </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="postal_code">Código Postal</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="postal_code" id="postal_code" [attr.disabled]="true">
            <nz-form-explain class="color-required" *ngIf="submitted && f.postal_code.errors">Campo obrigatório</nz-form-explain>
        </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="city">Cidade</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="city" id="city" [attr.disabled]="true">
            <nz-form-explain class="color-required" *ngIf="submitted && f.city.errors">Campo obrigatório</nz-form-explain>
        </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="nationality">Nacionalidade</nz-form-label>
          <nz-form-control [nzErrorTip]="error_nationality">
            <nz-select class="primary-select" formControlName="nationality" id="nationality" nzShowSearch [nzDisabled]="true">
              <nz-option *ngFor="let nati of nationalities" [nzLabel]="nati.translate" [nzValue]="nati.value">
              </nz-option>
            </nz-select>
            <ng-template #error_nationality let-control>
              <ng-container class="error" *ngIf="f.nationality.dirty && f.nationality.errors">
                Campo obrigatório
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzFor="birth_date">Data de Nascimento</nz-form-label>
          <nz-form-control>
            <nz-date-picker class="primary-datePicker" formControlName="birth_date" id="birth_date" [nzDisabled]="true"></nz-date-picker>
            <nz-form-explain class="color-required" *ngIf="submitted && f.birth_date.errors">Campo obrigatório</nz-form-explain>
        </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzFor="email">E-mail</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="email" id="email" [attr.disabled]="true">
            <nz-form-explain class="color-required" *ngIf="submitted && f.email.errors">Campo obrigatório</nz-form-explain>
        </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzFor="mobile_phone_number">Nº de Telemóvel</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="mobile_phone_number" id="mobile_phone_number" mask="000000000" [attr.disabled]="true">
            <nz-form-explain class="color-required" *ngIf="submitted && f.mobile_phone_number.errors">Campo obrigatório</nz-form-explain>
        </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzFor="telephone_number">Nº de Telefone</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="telephone_number" id="telephone_number" mask="000000000" [attr.disabled]="true">
            <nz-form-explain class="color-required" *ngIf="submitted && f.telephone_number.errors">Campo obrigatório</nz-form-explain>
        </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="course_id">Curso/Departamento</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="course_id" id="course_id" [attr.disabled]="true">
            <nz-form-explain class="color-required" *ngIf="submitted && f.course_id.errors">Campo obrigatório</nz-form-explain>
        </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="organic_unit_id">Unidade Orgânica</nz-form-label>
          <nz-form-control>
            <nz-select nzMode="default" formControlName="organic_unit_id" [nzLoading]="organicUnitsLoading" nzShowSearch [nzDisabled]="true">
              <nz-option *ngFor="let organicUnit of organicUnits" [nzLabel]="organicUnit.name" [nzValue]="organicUnit.id"></nz-option>
            </nz-select>
          </nz-form-control>
          <nz-form-explain class="color-required" *ngIf="submitted && f.organic_unit_id.errors">Campo obrigatório</nz-form-explain>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzFor="course_year">Ano de Frequência (só para alunos)</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="course_year" id="course_year" [attr.disabled]="true">
            <nz-form-explain class="color-required" *ngIf="submitted && f.course_year.errors">Campo obrigatório</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzFor="has_scholarship">Bolseiro (só para alunos)</nz-form-label>
          <nz-form-control [nzErrorTip]="error_has_scholarship">
            <nz-radio-group class="content__radio_group primary-radio" formControlName="has_scholarship">
              <label nz-radio [nzValue]=true>Sim</label>
              <label nz-radio [nzValue]=false>Não</label>
            </nz-radio-group>
            <ng-template #error_has_scholarship let-control>
              <ng-container class="error" *ngIf="f.has_scholarship.dirty && f.has_scholarship.errors">
                Campo obrigatório
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>