@primary-color : #900055;
@normal-color           : #d9d9d9;
@header-text-color: #FFF;

// Color used by default to control hover and active backgrounds and for
// alert info backgrounds.
@primary-1: #F4DFEB;
@primary-2: #E1B1CC;
@primary-3: #CE7FAD;
@primary-4: #BC5191;
@primary-5: #A51A71;
@primary-6: @primary-color;
@primary-7: #740046;
@primary-8: #5F003B;
@primary-9: #3A0027;
@primary-10: #1B0619;
