<form [formGroup]="formGroup">
  <nz-divider
    [nzText]="field.templateOptions.label"
    nzOrientation="left"
  ></nz-divider>
  <div nz-row nzGutter="16" *ngIf="getFormArray().controls.length > 0">
    <div
      nz-col
      *ngFor="let _field of field.fields"
      [nzSpan]="_field.span ? _field.span : (22 / field.fields.length | floor)"
    >
      <b>{{ _field.templateOptions.label }}</b>
    </div>
  </div>
  <div [formArrayName]="field.key">
    <div
      nz-row
      nzGutter="16"
      *ngFor="let line of getFormArray().controls; let i = index"
    >
      <div
        nz-col
        *ngFor="let _field of field.fields"
        [nzSpan]="
          _field.span ? _field.span : (22 / field.fields.length | floor)
        "
      >
        <fi-sas-form-input
          [showLabel]="false"
          [field]="_field"
          [formGroup]="line"
        ></fi-sas-form-input>
      </div>
      <div nz-col nzSpan="2">
        <button
          nz-button
          nzType="danger"
          (click)="removeLine(i)"
          style="width: 100%;"
        >
          <i nz-icon type="delete"></i>
        </button>
      </div>
    </div>
    <div nz-row nzGutter="16" nzType="flex" nzAlign="bottom" nzJustify="center">
      <div nz-col nzSpan="10">
        <button
          nz-button
          nzType="dashed"
          (click)="addLine()"
          style="width: 100%;"
        >
          <i nz-icon type="plus"></i> Adicionar
        </button>
      </div>
    </div>
  </div>
</form>
