@primary-color : #107e90;
@normal-color           : #d9d9d9;

@header-text-color: #FFF;

// Color used by default to control hover and active backgrounds and for
// alert info backgrounds.
@primary-1: #e2eff1;  // replace tint(@primary-color, 90%)
@primary-2: #b7d8dd;  // replace tint(@primary-color, 80%)
@primary-3: #8ac0c9;  // unused
@primary-4: #62aab6;  // unused
@primary-5: #3693a2;  // color used to control the text color in many active and hover states, replace tint(@primary-color, 20%)
@primary-6: @primary-color;                                 // color used to control the text color of active buttons, don't use, use @primary-color
@primary-7: #0d6675;  // replace shade(@primary-color, 5%)
@primary-8: #0a5561;  // unused
@primary-9: #07363e;  // unused
@primary-10: #041e23; // unused
