<div class="user_info">

  <div class="user_info__search">
    <button class="user_info__search__btn cursor" (click)="searchUser()"><i nz-icon nzType="icons:search" ></i> Pesquisar</button>
  </div>
  <div class="user_info__info1">
    <b>Em atendimento</b>
  </div>
  <div class="user_info__avatar" (click)="change()">
    <img class="user_info__avatar__img" src="assets/imgs/no_avatar.png" />
  </div>
  <div>
    <p class="user_info__user_name">{{ activeUser ? activeUser.name : '-' }}</p>
    <p class="user_info__user_email">{{ activeUser ? activeUser.email : '-' }}</p>
    <p class="user_info__user_number">n.º {{ activeUser ? activeUser.student_number : '-' }}</p>
    <p class="user_info__user_tin">NIF: {{ activeUser ? activeUser.tin : '-' }}</p>
  </div>
  <nz-spin [nzSpinning]="balancesLoading">
  <div class="user_info__balance">
    Saldo disponível <span [ngClass]="{'balance_positive': currentPositive, 'balance_negative': !currentPositive}">{{ balance ? balance.current_balance : '-' }}€</span>
  </div>
</nz-spin>

    <div nz-row nzType="flex" nzJustify="center" class="user_info__button">
      <button class="button-tertiary cursor" [ngClass]="{'disabled': !activeUser || boxSelected == 'undefined'}" [disabled]="!activeUser || boxSelected == 'undefined'" (click)="chargeAccount()" >Carregamentos</button>
    </div>
    <div nz-row nzType="flex" nzJustify="center" class="user_info__button">
      <button class="button-tertiary cursor" [ngClass]="{'disabled': !activeUser}" [disabled]="!activeUser" (click)="movements()" >Movimentos</button>
    </div>
    <div nz-row nzType="flex" nzJustify="center" class="user_info__button">
      <button class="button-tertiary cursor" [ngClass]="{'disabled': !activeUser || !currentPositive || currentZero || boxSelected == 'undefined'}" [disabled]="!activeUser || !currentPositive || currentZero || boxSelected == 'undefined'" (click)="unChargeAccount()" >Devolver Plafond</button>
    </div>
</div>
