
.event {
    &__body {
      margin-top: 20px;
      @media screen and (max-width: 576px) {
        padding: 16px;
      }
    }

    &__list {
      margin-top: 15px;
     
      &__item {
        padding-bottom: 24px;

        nz-card { 
          &:hover {
            border-color: var(--primary-color);
            background-color: var(--primary-1);
          }
          cursor: pointer;
          border-radius: 8px;
          width: 100% !important;
        }
        nz-carousel {
            border-radius: 8px 8px 0px 0px;

            [nz-carousel-content] {
              //padding: 18px;
              text-align: center;
              height: 240px;
              line-height: 160px;
              background: #364d79;
              color: #fff;
              overflow: hidden;
            }
          }
      }
    }

}

.carousel-wrapper {
    position: relative;
  
    .arrow {
      position: absolute;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 50%;
      margin-top: -20px;
      font-size: 30px;
      font-weight: bold;
      &.icon-left {
        left: 0;
      }
      &.icon-right {
        right: 0;
      }
    }
}

#icon-accomo::ng-deep svg {
    path {
        fill: white;
    }
}

.error {
    text-align: center;
    font-family: Montserrat;
    color: #111111;
    background-color: #f8e4e4;
    padding: 10px;
    font-weight: 600;
}


.date {
    margin-top: 15px;
    font-size: 13px;
    margin-bottom: 8px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #979797;
}

.summary {
    margin: 0px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #666666;
    font-size: 13px;
    margin-bottom: 10px;
}
  
.title {
    margin: 0px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
}

.category-title {
  font-weight: bold;
  font-size: 13px;
}