<nz-spin [nzSpinning]="loadingEvents">
    <div *ngIf="events.length>0" nz-row nzType="flex" class="event__list" [nzGutter]="24">
        <div nz-col class="event__list__item" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="8" [nzXXl]="6"
            *ngFor="let event of events" (click)="goDetail(event.id)">

            <nz-card nzHoverable id="id-card-event" [nzBodyStyle]="{
                          'margin-top': '-22px',
                          padding: '16px'
                        }" [nzCover]="coverTemplate">

                <p class="date">{{event?.start_date | date: "dd-MM-yyyy"}} - {{event?.end_date | date:
                    "dd-MM-yyyy"}}</p>
                <p class="title">{{ (event?.translations | languageChange)?.title }}</p>
                <p class="summary">{{ (event?.translations | languageChange)?.description }}</p>
                <p [ngStyle]="{'color': event?.category?.color}" class="category-title">
                    {{(event?.category?.translations | languageChange)?.name}}</p>
            </nz-card>
            <ng-template #coverTemplate>
                <div class="carousel-wrapper">
                    <nz-carousel nzEffect="scrollx" #myCarousel>
                        <ng-container *ngFor="let media of event?.images">
                            <ng-container *ngIf="media?.file?.url">
                                <div nz-carousel-content>
                                    <img [src]="media.file?.url" />
                                </div>
                            </ng-container>
                        </ng-container>
                        <div *ngIf="event?.images?.length === 0" nz-carousel-content>
                            <img alt="Unavailable Image" src="/assets/imgs/unavailable-image.jpg" />
                        </div>
                    </nz-carousel>
                    <div *ngIf="event?.images.length > 1" class="arrow icon-left"
                        (click)="arrowClick($event,'pre', myCarousel)"><i nz-icon nzType="left" id="icon-accomo"
                            nzTheme="outline"></i>
                    </div>
                    <div *ngIf="event?.images.length > 1" class="arrow icon-right"
                        (click)="arrowClick($event,'next', myCarousel)"><i nz-icon nzType="right" id="icon-accomo"
                            nzTheme="outline"></i></div>
                </div>
                <span *ngIf="event.status=='CANCELLED'" class="error">
                    {{('EVENTS.CANCEL' | translate)}}
                </span>
            </ng-template>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
            style="text-align: center;padding-bottom: 20px;">
            <nz-pagination [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzShowSizeChanger]="false"
                [nzTotal]="total" nzShowSizeChanger (nzPageIndexChange)="paginationSearch()"
                (nzPageSizeChange)="paginationSearch(true)"></nz-pagination>
        </div>
    </div>
    <div *ngIf="events.length==0">
        <nz-empty></nz-empty>
    </div>
</nz-spin>