<div nz-row class="padding-bottom-15">
  <app-application-status-badge [data]="data" [clickable]="false" *ngIf="isApplication"></app-application-status-badge>
  <app-action-status-badge [data]="data" [clickable]="false" *ngIf="isAction"></app-action-status-badge>
</div>

<ng-container *ngIf="isApplication; else actionTitleTemplate">
  <div nz-row class="title padding-bottom-10">
    {{ 'VOLUNTEERING.BUTTONS.APPLY_TO' | translate }}
    {{
      translations?.length > 1 ? (translations | languageChange)?.name : ('DASHBOARD.BUTTON.VOLUNTEERING' | translate)
    }}
  </div>
</ng-container>

<ng-template #actionTitleTemplate>
  <ng-container *ngIf="data?.translations && isAction">
    <h2 class="title-top-page"> {{ (data?.translations | languageChange)?.title }}</h2>

    <div nz-row class="description padding-bottom-15">
      <b> {{ (data?.translations | languageChange)?.description }}</b>
    </div>
  </ng-container>
</ng-template>

<div nz-row class="title-detail">{{ location }}</div>

<div nz-row class="title-detail" style="padding-bottom: 25px">
  {{ 'VOLUNTEERING.MY_APPLICATIONS.SUBMITED_AT' | translate }}
  {{ data?.created_at | date: 'dd MMMM yyyy' }}
</div>

<div *ngFor="let hist of data?.history; let idx = index" nz-row class="box" [ngClass]="{ 'box-pair': idx % 2 === 0 }">

  <div nz-col nzXs="24" nzMd="21" nzXl="22">
    <div nz-row>{{ hist?.created_at | date: 'dd-MM-yyyy' }} - {{ hist?.created_at | date: 'HH:mm' }}h</div>
    <div nz-row>
      <b>
        {{ 'VOLUNTEERING.MY_APPLICATIONS.STATUS_CHANGED_TO' | translate }}
        {{ statusMapper[hist?.status] | translate | titlecase }}
      </b>
    </div>
  </div>
</div>
