<div nz-row>
  <div nz-col [nzSm]="20" [nzXs]="24">
    <h2 class="title-top-page">
      {{ "EMERGENCY_FUND.LIST_APPLICATIONS.CARD.BUTTON.CHANGE_REQUEST" | translate }}
    </h2>
    {{ "EMERGENCY_FUND.LIST_APPLICATIONS.CARD.CHANGE_REQUEST_INFO" | translate }}
  </div>

  <div nz-col [nzSm]="20" [nzXs]="24">
    <form nz-form [formGroup]="aplicationForm" class="content__group">
      <nz-form-item>
        <nz-form-label nzRequired  nzFor="observations">
          <span class="content__title">
            <b>{{ "EMERGENCY_FUND.LIST_APPLICATIONS.EXPOSURE" | translate }}</b>
          </span>
        </nz-form-label>

        <nz-form-control>
          <textarea class="primary-textarea" rows="6" nz-input formControlName="application_change_exposition" id="application_change_exposition" placeholder="{{ 'EMERGENCY_FUND.LIST_APPLICATIONS.EXPOSURE_INFO' | translate }}">

          </textarea>
        </nz-form-control>
      </nz-form-item>

      <!--<nz-form-item>
        <nz-form-label documents  nzFor="income_statement_files_ids">
          <span class="content__title">
            <b>{{ "EMERGENCY_FUND.LIST_APPLICATIONS.ATTACHMENT" | translate }}</b>
          </span>
        </nz-form-label>
        <nz-form-control>
          <app-file-upload formControlName="attachment" [listType]="'picture-card'" [filterTypes]="filterFileTypes" 
              [multiUploads]="false" [buttonName]=" 'EMERGENCY_FUND.LIST_APPLICATIONS.ATTACHMENT_PLACEHOLDER' " >
          </app-file-upload>
        </nz-form-control>

        <nz-form-explain class="error" *ngIf=" filterFileTypes.length == 0 " >
          {{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}
        </nz-form-explain>
      </nz-form-item>-->


      <nz-form-item>
        <nz-form-label nzFor="file_ids">
          <b>{{ "EMERGENCY_FUND.LIST_APPLICATIONS.ATTACHMENT" | translate }}</b>
        </nz-form-label>
        <nz-form-control>
          <app-file-upload [listType]="'picture-card'" [filterTypes]="filterFileTypes" [multiUploads]="true"
            [filesList]="file_ids" [multiUploads]="true" (fileAdded)="onFileAdded($event)"
            (fileDeleted)="onFileDeleted($event)"
            [buttonName]="'EMERGENCY_FUND.LIST_APPLICATIONS.ATTACHMENT_PLACEHOLDER'">
          </app-file-upload>
          <div>
            {{ 'MISC.FORMAT_UPLOAD_MORE' | translate }} pdf, png, jpg. {{ 'MISC.LIMIT_MAX_FILE' | translate }}
          </div>
        </nz-form-control>
      </nz-form-item>


      <app-button [translate]="'EMERGENCY_FUND.LIST_APPLICATIONS.SUBMIT'" [type]="'primary'" (click)="submitForm()" >
      </app-button>
    </form>
  </div>
</div>
