<div class="container">

  <div nz-row>
    <nz-spin [nzSpinning]="loadingEdit">
      <div nz-col [nzSpan]="24">
        <form nz-form [formGroup]="formCreate">
          <div nz-row nzType="flex" nzAlign="middle">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-10">
              <div nz-row style="margin-top: 5px;">
                <nz-form-label nzRequired>Unidade Orgânica</nz-form-label>
                <nz-form-control>
                  <nz-select formControlName="organic_unit_id" nzShowSearch [nzLoading]="loadingOrganicUnit"
                  class="select" (ngModelChange)="getBuildingByUO($event)">
                  <nz-option *ngFor="let organic of organitUnits" [nzLabel]="organic.name" [nzValue]="organic.id">
                  </nz-option>
                </nz-select>
                </nz-form-control>
                
              </div>
              <div row class="color-required" *ngIf="submitted && f.organic_unit_id.errors" style="padding: 5px 0px;">
                Campo obrigatório
              </div>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-10">
              <div nz-row style="margin-top: 5px;">
                <nz-form-label nzRequired>Edifício</nz-form-label>
                <nz-form-control> 
                  <nz-select formControlName="building_id" nzShowSearch [nzLoading]="loadingBuilding" class="select"
                  [nzDisabled]="!formCreate.get('organic_unit_id').value">
                  <nz-option *ngFor="let building of buindings" [nzLabel]="building.name" [nzValue]="building.id">
                  </nz-option>
                </nz-select>
                </nz-form-control>
               
              </div>
              <div row class="color-required" *ngIf="submitted && f.building_id.errors" style="padding: 5px 0px;">
                Campo obrigatório
              </div>
            </div>
          </div>
          <div nz-row class="padding-top-30">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="padding-10">
              <div nz-row>
                <nz-form-label nzRequired>Nome</nz-form-label>
                <nz-form-control>
                  <input type="text" nz-input formControlName="name">
                </nz-form-control>
                <nz-form-explain class="color-required" *ngIf="submitted && f.name.errors">
                  Campo obrigatório
                </nz-form-explain>
              </div>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-10">
              <div nz-row>
                <nz-form-label nzRequired>Código</nz-form-label>
                <nz-form-control>
                  <input type="text" nz-input formControlName="code">
                </nz-form-control>
                <nz-form-explain class="color-required" *ngIf="submitted && f.code.errors">
                  Campo obrigatório
                </nz-form-explain>
              </div>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-10">
              <div nz-row>
                <nz-form-label nzRequired>Ativo</nz-form-label>
              </div>
              <div nz-row class="padding-bottom-5 padding-top-5">
                <nz-switch formControlName="active">
                </nz-switch>
                <nz-form-explain class="color-required" *ngIf="submitted && f.active.errors">
                  Campo obrigatório
                </nz-form-explain>
              </div>
            </div>
          </div>
        </form>
      </div>
    </nz-spin>

  </div>
</div>


<div class="space" nz-row>
  <button *ngIf="isEdit" nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
  <button nz-button *ngIf="idConfigurationBuild" style="margin-right: 15px;" (click)="back()">Voltar</button>
  <button nz-button [nzLoading]="loading" [disabled]="loading"
    (click)="isEdit ? submitWing(true) : submitWing(false)"
    [nzType]="'primary'">{{isEdit ? 'Editar' : 'Criar'}}</button>
</div>