<div nz-row>
  <div nz-col [nzSm]="20" [nzXs]="24">
    <h2 class="title-top-page">
      {{ "EMERGENCY_FUND.APPLICATIONS.STEP_TWO.TITLE" | translate }}
    </h2>
  </div>

  <form nz-form [formGroup]="aplicationForm" class="content__group">
    <div nz-col [nzSm]="20" [nzXs]="24">
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
        <app-input
          [label]="
            'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.NAME.TITLE'
              | translate
          "
          [errors]="'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate"
          [showErro]="isSubmited && aplicationForm.controls.person_name.errors"
          formControlName="person_name"
        >
        </app-input>
      </div>
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
        <app-input
          [label]="
            'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.KINSHIP.TITLE'
              | translate
          "
          [errors]="'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate"
          [showErro]="isSubmited && aplicationForm.controls.kinship.errors"
          formControlName="kinship"
        >
        </app-input>
      </div>
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 10 }">
        <nz-form-item>
          <nz-form-label nzFor="birth_date">
            <span class="content__title">
              <b>{{
                "EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.BIRTH_DATE.TITLE"
                  | translate
              }}</b>
            </span>
          </nz-form-label>
          <nz-form-control>
            <nz-date-picker
              class="primary-datePicker total-width"
              formControlName="birth_date"
              id="birth_date"
              [ngClass]="{
                error: isSubmited
              }"
            >
            </nz-date-picker>
          </nz-form-control>

          <nz-form-explain
            class="error"
            *ngIf="isSubmited"
          >
            {{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}
          </nz-form-explain>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 14 }">
        <app-input
          [label]="
            'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.MARITAL_STATUS.TITLE'
              | translate
          "
          [errors]="'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate"
          [showErro]="
            isSubmited && aplicationForm.controls.marital_status.errors
          "
          formControlName="marital_status"
        >
        </app-input>
      </div>

      <div
        nz-col
        [nzXs]="{ span: 24 }"
        [nzLg]="{ span: 12 }"
        style="padding: 10px"
      >
        <app-input
          [label]="
            'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.DEPENDENT_LABOR_VALUE.TITLE'
              | translate
          "
          [money]="true"
          [errors]="'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate"
          [showErro]="isSubmited "
          formControlName="dependent_labor_value"
        >
        </app-input>
      </div>

      <div
        nz-col
        [nzXs]="{ span: 24 }"
        [nzLg]="{ span: 12 }"
        style="padding: 10px"
      >
        <app-input
          [label]="
            'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.SELF_EMPLOYMENT_VALUE.TITLE'
              | translate
          "
          [money]="true"
          [errors]="'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate"
          [showErro]="isSubmited "
          formControlName="self_employment_value"
        >
        </app-input>
      </div>

      <div
        nz-col
        [nzXs]="{ span: 24 }"
        [nzLg]="{ span: 12 }"
        style="padding: 10px"
      >
        <app-input
          [label]="
            'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.RETIREMENT_PENSION_VALUE.TITLE'
              | translate
          "
          [money]="true"
          [errors]="'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate"
          [showErro]="
            isSubmited 
          "
          formControlName="retirement_pension_value"
        >
        </app-input>
      </div>

      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
        <app-button
          [type]="'primary'"
          (click)="submitForm()"
          [leftIcon]="'plus'"
          [translate]="
            'EMERGENCY_FUND.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.BUTTON_ADD_HOUSEHOLDS.TITLE'
          "
        >
        </app-button>
      </div>
    </div>
  </form>
</div>
