<div nz-row nzType="flex" class="list-health__header">
  <div nz-col [nzSm]="2" [nzXs]="0"></div>
  <div nz-col [nzSm]="20" [nzXs]="24">
      <h2 class="title-top-page">{{ 'HEALTH.COMPLAINTS_TAB.TITLE' | translate }}</h2>
      <p class="sub-title-top-page">{{ 'HEALTH.COMPLAINTS_TAB.SUBTITLE' | translate }}</p>
  </div>
  <div nz-col [nzSm]="2" [nzXs]="0"></div>
</div>

<nz-spin [nzSpinning]="loading">
  <div *ngIf="complaints.length == 0" nz-row style="padding-bottom: 20px;">
    <nz-empty></nz-empty>
  </div>
  <div *ngIf="complaints.length !== 0" nz-row nzType="flex">
    <div nz-col [nzSm]="2" [nzXs]="1"></div>
    <div nz-col [nzSm]="20" [nzXs]="22" class="complaints-container">
      <nz-spin [nzSpinning]="loading">
        <nz-empty [nzNotFoundFooter]="complaints" class="box-empty"
          [nzNotFoundContent]="'MOBILITY.APPLICATIONS.NO_CONTENT' | translate" *ngIf="complaints.length === 0">
        </nz-empty> <!-- CHECK THIS -->
        <div nz-row style="margin-top: 20px;" *ngIf="complaints.length != 0">
          <div nz-col>
            <nz-card id="cardComplaintsComponent" class="border-radius-8">
              <div class="padding-table hidden-xs">
                <table class="table table-responsive">
                  <tr class="header-table">
                    <th></th>
                    <th>
                      <div class="header-table-div">
                        <span>{{ 'HEALTH.COMPLAINTS_TAB.LIST.SUBMITTED_ON' | translate }}</span>
                      </div>
                    </th>
                    <th>
                      <div class="header-table-div">
                        <span>{{ 'HEALTH.COMPLAINTS_TAB.LIST.DATE' | translate }}</span>
                      </div>
                    </th>
                    <th>
                      <div class="header-table-div">
                        <span>{{ 'HEALTH.COMPLAINTS_TAB.LIST.SPECIALTY' | translate }}</span>
                      </div>
                    </th>
                    <th>
                      <div class="header-table-div">
                        <span>{{ 'HEALTH.COMPLAINTS_TAB.LIST.STATUS_APPOINTMENT' | translate }}</span>
                      </div>
                    </th>
                    <th>
                      <div class="header-table-div">
                        <span>{{ 'HEALTH.COMPLAINTS_TAB.LIST.HAS_ATTACHEMENTS' | translate }}</span>
                      </div>
                    </th>
                    <th>
                      <div class="header-table-div">
                        <span>
                          {{ 'HEALTH.COMPLAINTS_TAB.LIST.COMPLAINT_STATUS' | translate }}
                        </span>
                      </div>
                    </th>
                  </tr>
                  <tbody *ngFor="let complaint of complaints; let idx = index">
                    <tr class="body-table" [ngClass]="{'par':!isPar(idx), 'impar':isPar(idx)}">
                      <td nzShowExpand [(nzExpand)]="mapOfExpandData[complaint.id]" *ngIf="complaint.compaint_answer; else emptyTd"></td>
                      <td><span>{{ complaint?.created_at | date: 'dd-MM-yyyy' }}</span></td>
                      <td>{{ complaint?.appointment.date | date: "dd/MM/yyyy" }}</td>
                      <td><span> {{ (complaint?.appointment.specialty.translations | languageChange).name }}</span></td>
                      <td>
                        <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="body-table padding-top-13">
                          <nz-tag class="tab-status cursor-cont" [nzColor]="(configStatus | filterStatusConfig: complaint.appointment.status.toString()).color">
                            <label>{{ 'HEALTH.APPOINTMENTS_TAB.STATUS.' + complaint.appointment.status.toString().toUpperCase() | translate }}</label>
                          </nz-tag>
                        </div>
                      </td>
                      <td>
                        <div *ngIf="complaint.files.length > 0 ">
                          <i nz-icon nzType="icons:icons-success" class="btn-checked" nzTheme="outline"></i>
                        </div>
                        <div *ngIf="complaint.files.length === 0 ">
                          <i nz-icon nzType="icons:icons-radiobutton-unchecked" class="btn-unchecked"
                            nzTheme="outline"></i>
                        </div>
                      </td>
                      <td>
                        <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="body-table padding-top-13">
                          <nz-tag class="tab-status cursor-cont" [nzColor]="(configStatusComplaint | filterStatusConfig: complaint.status.toString()).color">
                            <label>{{ 'HEALTH.COMPLAINTS_TAB.STATUS.' + complaint.status.toString().toUpperCase() | translate }}</label>
                          </nz-tag>
                        </div>
                      </td>
                    </tr>
                    <tr [nzExpand]="mapOfExpandData[complaint.id]" class="extra-info background-white" >
                      <td></td>
                      <td [colSpan]="6">
                        <div class="extra-info__row">
                          <div class="extra-info__title">{{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.ANSWER' | translate }}:</div>
                          <div class="extra-info__desc">{{ complaint.compaint_answer }}</div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="padding-table hidden-md">
                <div *ngFor="let complaint of complaints; let idx = index">
                    <div [ngClass]="{'par':isPar(idx), 'impar':!isPar(idx)}">
                        <div nz-row nzType="flex" style="align-items: stretch;">
                            <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                class="header-table-div padding-left-5">
                                <span>{{ 'HEALTH.COMPLAINTS_TAB.LIST.SUBMITTED_ON' | translate }}</span>
                            </div>
                            <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="body-table padding-top-13">
                                <span> {{ complaint?.created_at | date: 'dd-MM-yyyy' }} </span>
                            </div>
                        </div>
                        <div nz-row nzType="flex" style="align-items: stretch;">
                            <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                class="header-table-div padding-left-5">
                                <span>{{ 'HEALTH.COMPLAINTS_TAB.LIST.DATE' | translate }}</span>
                            </div>
                            <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="body-table padding-top-13">
                                <span>{{ complaint?.appointment.date | date: "dd/MM/yyyy" }}</span>
                            </div>
                        </div>
                        <div nz-row nzType="flex" style="align-items: stretch;">
                            <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                class="header-table-div padding-left-5">
                                <span>{{ 'HEALTH.COMPLAINTS_TAB.LIST.SPECIALTY' | translate }}</span>
                            </div>
                            <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="body-table header-table-div">
                                <span> {{ (complaint?.appointment.specialty.translations | languageChange).name }}</span>
                            </div>
                        </div>
                        <div nz-row nzType="flex" style="align-items: stretch;">
                          <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                              class="header-table-div padding-left-5">
                              <span>{{ 'HEALTH.COMPLAINTS_TAB.LIST.STATUS_APPOINTMENT' | translate }}</span>
                          </div>
                          <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="body-table header-table-div">
                            <nz-tag class="tab-status cursor-cont" [nzColor]="(configStatus | filterStatusConfig: complaint.appointment.status.toString()).color">
                              <label>{{ 'HEALTH.APPOINTMENTS_TAB.STATUS.' + complaint.appointment.status.toString().toUpperCase() | translate }}</label>
                            </nz-tag>
                          </div>
                      </div>
                      <div nz-row nzType="flex" style="align-items: stretch;">
                        <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                            class="header-table-div padding-left-5">
                            <span>{{ 'HEALTH.COMPLAINTS_TAB.LIST.HAS_ATTACHEMENTS' | translate }}</span>
                        </div>
                        <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="body-table header-table-div">
                          <div *ngIf="complaint.files.length > 0 ">
                            <i nz-icon nzType="icons:icons-success" class="btn-checked" nzTheme="outline"></i>
                          </div>
                          <div *ngIf="complaint.files.length === 0 ">
                            <i nz-icon nzType="icons:icons-radiobutton-unchecked" class="btn-unchecked"
                              nzTheme="outline"></i>
                          </div>
                        </div>
                    </div>
                    <div nz-row nzType="flex" style="align-items: stretch;">
                      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                          class="header-table-div padding-left-5">
                          <span>{{ 'HEALTH.COMPLAINTS_TAB.LIST.COMPLAINT_STATUS' | translate }}</span>
                      </div>
                      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="body-table header-table-div">
                        <nz-tag class="tab-status cursor-cont" [nzColor]="(configStatusComplaint | filterStatusConfig: complaint.status.toString()).color">
                          <label>{{ 'HEALTH.COMPLAINTS_TAB.STATUS.' + complaint.status.toString().toUpperCase() | translate }}</label>
                        </nz-tag>
                      </div>
                  </div>
                  </div>
                </div>
            </div>

            </nz-card>
          </div>
          <div nz-col [nzXs]="24" [nzMd]="24" style="text-align: center; padding-top: 20px;">
            <nz-pagination [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzShowSizeChanger]="false"
              [nzTotal]="total" nzShowSizeChanger (nzPageIndexChange)="paginationSearch()"
              (nzPageSizeChange)="paginationSearch(true)"></nz-pagination>
          </div>
        </div>
      </nz-spin>
    </div>
    <div nz-col [nzSm]="2" [nzXs]="1"></div>
  </div>
</nz-spin>


<ng-template #emptyTd><td></td></ng-template>