<div class="dashboard">
  <div nz-row *ngFor="let module of modules">
    <div nz-col nzXs="0" nzMd="1"></div>
    <div nz-col nzSpan="22" style="padding-top: 20px">
      <label class="title-section">{{ module.name }}</label>
      <div nz-row nzType="flex" style="align-items: stretch">
        <div
          *ngFor="let item of module.services"
          nz-col
          [nzXs]="{ span: 24 }"
          [nzSm]="{ span: 24 }"
          [nzMd]="{ span: 10 }"
          [nzLg]="{ span: 10 }"
          [nzXl]="{ span: 5 }"
          class="box"
        >
          <div (click)="selectModule(item)" nz-row class="card cursor">
            <div
              nz-col
              [nzXs]="{ span: 7 }"
              [nzSm]="{ span: 6 }"
              [nzMd]="{ span: 5 }"
              [nzLg]="{ span: 5 }"
              [nzXl]="{ span: 4 }"
            >
              <span nz-row style="padding: 8px">
                <i style="font-size: 35px" nz-icon [type]="item.icon"></i>
              </span>
            </div>
            <div
              nz-col
              [nzXs]="{ span: 16 }"
              [nzSm]="{ span: 17 }"
              [nzMd]="{ span: 18 }"
              [nzLg]="{ span: 18 }"
              [nzXl]="{ span: 29 }"
              class="text-modules"
            >
              {{ validTranslateName(3, item?.translations) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div nz-col nzXs="0" nzMd="1"></div>
  </div>
</div>
