@import 'theme';

.title-section {
  font-size: 18px;
  font-weight: 700;
  padding-left: 18px;
  color: var(--primary-color);
}

.dashboard {
}

.box {
  border: 1px solid #f0f2f5;
  border-radius: 7px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  background-color: white;

  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
}

.text-modules {
  font-weight: 700;
  padding-top: 20px;
  padding-left: 15px;
}

.card {
  padding: 10px;
}

.cursor {
  cursor: pointer;
}
