@import 'theme';

@row-padding-x: 50px;
@row-padding-y: 30px;


@media screen and (max-width: 600px) {
  .top-mobile {
    padding-top: 10px;
  }
}


.font-file {
  line-height: initial;
  font-size: 12px;
  padding-top: 5px;
}

.top {
  padding-top: 25px;
  padding-bottom: 25px;
}

.offer-form {
  margin-bottom: 30px;
  padding-top: @row-padding-y;
  padding-bottom: @row-padding-y;
  background-color: #fff;

  & > .ant-row {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }

  &--title {
    color: #111111;
    font-family: Montserrat;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 1.14;
    margin-bottom: 30px;
  }

  &--fieldset-title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 18px;
    font-family: Montserrat;
    margin-bottom: 15px;
  }

  .time-availability {
    margin-bottom: 30px;

    tr > th {
      background-color: white;
      color: #2c2c2c;
      font-family: Montserrat;
      font-size: 12px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 600;
      letter-spacing: normal;
      line-height: 1.71;
      text-align: center;
    }

    tr:hover > td {
      background-color: white;
    }

    th,
    td {
      text-align: center;
    }
  }

  &--general-error {
    margin-bottom: 30px;
  }

  &--tab-error {
    color: red;
  }

  &--file-types {
    color: #666666;
    font-family: Montserrat;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.5;
    margin-bottom: 23.5px;
    margin-right: 40px;
    margin-top: 8px;
  }
}

.switch {
  display: inline-flex;

  &--label {
    width: 80%;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #222222;
    margin: auto;
  }

  &--input {
    font-family: Montserrat;
    margin-left: 73px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    width: 20%;
  }
}

.primary-datePicker,
.primary-dateRangePicker {
  width: 100%;
  display: block;

  ::ng-deep .ant-calendar-picker {
    width: 100%;
  }
}

.error {
  color: red;
  margin-top: 5px;

  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}
.primary-slider-wrapper {
  .primary-input-label {
    padding-bottom: 10px;
  }
}

.schedule-hours {
  display: block;
  padding: 5px 0;
}

::ng-deep {
  .ant-input-suffix {
    height: auto;
    right: 0 !important;
    width: auto;

    i {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 50px;
      justify-content: center;
      width: 50px;
    }
  }

  .primary-textarea,
  .primary-input {
    &.input-with-suffix {
      padding-right: 50px !important;
    }
  }

  .ant-input-affix-wrapper .ant-input:not(:last-child).primary-textarea {
    padding-right: 11px;
  }

  .ant-input-affix-wrapper .ant-input:not(:first-child).primary-textarea {
    padding-left: 11px;
  }
}
