<div nz-row *ngIf="form">
  <div nz-col [nzSm]="1" [nzXs]="1"></div>
  <div nz-col [nzSm]="22" [nzXs]="22" class="top">
    <app-button translate="MISC.RETURN" (click)="goBack()" [leftIcon]="'left'"
      [buttonStyle]="{ 'font-size': '12px', 'line-height': '18px' }" type="tertiary"></app-button>

    <div class="top">
      <h2 class="title-top-page">
        {{ 'SOCIAL_SUPPORT.OFFERS.FORM.TITLE' | translate }}
      </h2>
    </div>

    <nz-spin [nzSpinning]="isLoadingOffer">
      <form nz-form [formGroup]="form" class="offer-form">
        <div nz-row *ngIf="showErrorMessage" class="offer-form--general-error">
          <div nz-col nzSpan="24">
            <nz-alert nzType="error" [nzMessage]="'MISC.ERROR_GENERIC' | translate"></nz-alert>
          </div>
        </div>

        <!-- BEGIN: FIELDSETS -->
        <fieldset nz-row nzGutter="34">
          <div nz-col class="offer-form--fieldset-title">
            {{ 'SOCIAL_SUPPORT.OFFERS.FORM.FIELDSETS.INFORMATION' | translate }}
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="academic_year" class="primary-input-label">
                {{ 'SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.ACADEMIC_YEAR' | translate }}
              </nz-form-label>

              <nz-form-control>
                <input nz-input class="primary-input" formControlName="academic_year" id="academic_year"
                  mask="0000-0000" [dropSpecialCharacters]="false" [showMaskTyped]="true"
                  [readOnly]="form.get('academic_year').disabled" />
                <nz-form-explain class="error"
                  *ngIf="form.get('academic_year')?.dirty && form.get('academic_year').errors">
                  {{ getInputError('academic_year') }}
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="24">
            <div nz-row nzGutter="34">
              <div *ngFor="let lang of languages$ | async; let i = index" nz-col [nzXs]="24" [nzLg]="12">
                <nz-form-item [formGroup]="form.get('translations.' + lang.acronym)">
                  <nz-form-label nzRequired [nzFor]="'translations.' + lang.acronym + '.title'" class="primary-input-label">{{
                    ('SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.OFFER_TITLE' | translate) }} [{{ lang.acronym | uppercase }}]</nz-form-label>

                  <ng-template #suffixTemplate>
                    <i
                      *ngIf="i > 0"
                      nz-icon
                      nz-tooltip
                      type="copy"
                      nzTheme="outline"
                      [nzTitle]="'VOLUNTEERING.ACTIONS.FORM.COPY' | translate : { to: (lang.acronym | uppercase) }"
                      (click)="copyField('title', lang.acronym)"
                    ></i>
                  </ng-template>

                  <nz-form-control>
                    <nz-input-group [nzSuffix]="suffixTemplate">
                      <input nz-input class="primary-input" formControlName="title" id="title" [ngClass]="{'input-with-suffix': i > 0}" />
                    </nz-input-group>
                    <nz-form-explain class="error" *ngIf="
                        form.get('translations.' + lang.acronym + '.title')?.dirty &&
                        form.get('translations.' + lang.acronym + '.title').errors
                      ">{{ getInputError('translations.' + lang.acronym + '.title') }}</nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
        </fieldset>

        <nz-divider class="offer-form--divider"></nz-divider>

        <fieldset nz-row nzGutter="34">
          <div nz-col class="offer-form--fieldset-title">
            {{ 'SOCIAL_SUPPORT.OFFERS.FORM.FIELDSETS.LOCATION' | translate }}
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="organic_unit_id" class="primary-input-label">{{
                'SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.ORGANIC_UNIT' | translate
                }}</nz-form-label>

              <nz-form-control>
                <nz-select class="primary-select" formControlName="organic_unit_id" id="organic_unit_id" nzShowSearch [nzLoading]="organicUnitsLoading">
                  <nz-option *ngFor="let option of organicUnits" [nzLabel]="option.name"
                    [nzValue]="option.id"></nz-option>
                </nz-select>
                <nz-form-explain class="error"
                  *ngIf="form.get('organic_unit_id')?.dirty && form.get('organic_unit_id').errors">{{
                  getInputError('organic_unit_id') }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="address" class="primary-input-label">{{
                'SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.ADDRESS' | translate
                }}</nz-form-label>

              <nz-form-control>
                <input nz-input class="primary-input" formControlName="address" id="address" />
                <nz-form-explain class="error" *ngIf="form.get('address')?.dirty && form.get('address').errors">{{
                  getInputError('address')
                  }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </fieldset>

        <nz-divider class="offer-form--divider"></nz-divider>

        <fieldset nz-row nzGutter="34">
          <div nz-col class="offer-form--fieldset-title">
            {{ 'SOCIAL_SUPPORT.OFFERS.FORM.FIELDSETS.DATA' | translate }}
          </div>
          <div nz-col nzLg="10" nzXXl="12">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="collaboration_date_range" class="primary-input-label">{{
                'SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.BEGIN_DATE' | translate
                }} / {{
                'SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.END_DATE' | translate
                }}</nz-form-label>

                <div nz-row>
                  <div nz-col [nzXs]="24" [nzMd]="11" class="top-mobile">
                    <nz-form-control>
                      <nz-date-picker id="collaboration_date_range" class="primary-dateRangePicker" [nzDisabledDate]="disableDate" nzFormat="yyyy-MM-dd"
                        formControlName="initial_time" id="initial_time"
                        [nzPlaceHolder]="'MISC.START_DATE' | translate">
                      </nz-date-picker>
                      <nz-form-explain class="error"
                        *ngIf="form.get('initial_time')?.dirty && form.get('initial_time').errors">{{
                        getInputError('initial_time') }}</nz-form-explain>
                    </nz-form-control>
                  </div>
                  <div nz-col [nzXs]="0" [nzMd]="2"></div>
                  <div nz-col [nzXs]="24" [nzMd]="11" class="top-mobile">
                    <nz-form-control>
                      <nz-date-picker class="primary-dateRangePicker" id="collaboration_date_range" [nzDisabledDate]="disableDate" nzFormat="yyyy-MM-dd"
                        formControlName="final_time" id="final_time" [nzPlaceHolder]="'MISC.END_DATE' | translate">

                      </nz-date-picker>
                      <nz-form-explain class="error">
                        {{ form.get('final_time')?.dirty && form.get('final_time').errors ? getInputError('final_time')
                        : ''}}
                        {{ errorDates ? ('FORM.MESSAGE.DATE' | translate) : ''}}
                      </nz-form-explain>
                    </nz-form-control>
                  </div>
                </div>
            </nz-form-item>
          </div>
          <div nz-col nzMd="12" nzLg="7" nzXXl="6">
            <nz-form-item>
              <nz-form-label nzFor="number_candidates" class="primary-input-label">{{
                'SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.COLABORATIONS_NUMBER' | translate
                }}</nz-form-label>

              <nz-form-control>
                <input nz-input class="primary-input" formControlName="number_candidates" id="number_candidates"
                  type="number" />
                <nz-form-explain class="error"
                  *ngIf="form.get('number_candidates')?.dirty && form.get('number_candidates').errors">{{
                  getInputError('number_candidates') }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSm="24" nzMd="12" nzLg="7" nzXXl="6">
            <nz-form-item>
              <nz-form-label nzFor="number_simultaneous_candidates" class="primary-input-label">{{
                'SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.SIMULTANEOUS_COLABORATIONS_NUMBER' | translate
                }}</nz-form-label>

              <nz-form-control>
                <input nz-input class="primary-input" formControlName="number_simultaneous_candidates"
                  id="number_simultaneous_candidates" type="number" />
                <nz-form-explain class="error" *ngIf="
                    form.get('number_simultaneous_candidates')?.dirty &&
                    form.get('number_simultaneous_candidates').errors
                  ">{{ getInputError('number_simultaneous_candidates') }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="24">
            <div nz-row nzGutter="34">
              <div *ngFor="let lang of languages$ | async; let i = index" nz-col [nzXs]="24" [nzLg]="12">
                <nz-form-item [formGroup]="form.get('translations.' + lang.acronym)">
                  <nz-form-label nzRequired [nzFor]="'translations.' + lang.acronym + '.proponent_service'" class="primary-input-label">{{
                    ('SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.FUNCTIONS' | translate) }} [{{ lang.acronym | uppercase }}]</nz-form-label>

                  <ng-template #suffixTemplate>
                    <i
                      *ngIf="i > 0"
                      nz-icon
                      nz-tooltip
                      type="copy"
                      nzTheme="outline"
                      [nzTitle]="'VOLUNTEERING.ACTIONS.FORM.COPY' | translate : { to: (lang.acronym | uppercase) }"
                      (click)="copyField('proponent_service', lang.acronym)"
                    ></i>
                  </ng-template>

                  <nz-form-control>
                    <nz-input-group [nzSuffix]="suffixTemplate">
                      <textarea
                        maxlength="255"
                        class="primary-textarea"
                        [ngClass]="{'input-with-suffix': i > 0}"
                        nz-input rows="5"
                        formControlName="proponent_service"
                        id="proponent_service"
                      ></textarea>
                    </nz-input-group>
                    <nz-form-explain class="error" *ngIf="
                        form.get('translations.' + lang.acronym + '.proponent_service')?.dirty &&
                        form.get('translations.' + lang.acronym + '.proponent_service').errors
                      ">{{ getInputError('translations.' + lang.acronym + '.proponent_service') }}</nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
          <div nz-col nzMd="12">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="number_weekly_hours" class="primary-input-label">{{
                'SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.COLLABORATION_WEEKLY_HOURS' | translate
                }}</nz-form-label>

              <nz-form-control>
                <input nz-input class="primary-input" formControlName="number_weekly_hours" id="number_weekly_hours"
                  type="number" />
                <nz-form-explain class="error"
                  *ngIf="form.get('number_weekly_hours')?.dirty && form.get('number_weekly_hours').errors">{{
                  getInputError('number_weekly_hours') }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzMd="12">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="total_hours_estimation" class="primary-input-label">{{
                'SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.ESTIMATED_HOURS' | translate
                }}</nz-form-label>

              <nz-form-control>
                <input nz-input class="primary-input" formControlName="total_hours_estimation"
                  id="total_hours_estimation" type="number" />
                <nz-form-explain class="error"
                  *ngIf="form.get('total_hours_estimation')?.dirty && form.get('total_hours_estimation').errors">{{
                  getInputError('total_hours_estimation') }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </fieldset>

        <nz-divider class="offer-form--divider"></nz-divider>

        <fieldset nz-row nzGutter="34">
          <div nz-col class="offer-form--fieldset-title">
            {{ 'SOCIAL_SUPPORT.OFFERS.FORM.FIELDSETS.SCHEDULE' | translate }}
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <app-schedule-input formControlName="schedule"></app-schedule-input>
              <nz-form-explain class="error" *ngIf="form.get('schedule')?.dirty && form.get('schedule').errors">{{
                getInputError('schedule')
                }}</nz-form-explain>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="holydays_availability" class="primary-input-label">{{
                'SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.HOLIDAYS' | translate
                }}</nz-form-label>
              <nz-form-control>

                <nz-radio-group formControlName="holydays_availability" [nzSize]="'small'">
                  <label nz-radio [nzValue]=true>{{ 'MISC.YES' | translate
                    }}</label>
                  <label nz-radio [nzValue]=false>{{ 'MISC.NO' | translate
                    }}</label>
                </nz-radio-group>
                <nz-form-explain class="error" *ngIf="form.get('holydays_availability')?.dirty && form.get('holydays_availability').errors">{{
                  getInputError('holydays_availability')
                  }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </fieldset>

        <!--
        <nz-divider class="offer-form--divider"></nz-divider>

        <fieldset nz-row nzGutter="34">
          <div nz-col class="offer-form--fieldset-title">
            {{ 'SOCIAL_SUPPORT.OFFERS.FORM.FIELDSETS.PAYMENT' | translate }}
          </div>
          <div nz-col nzMd="12" *ngIf="canUseCurrentAccount">
            <nz-form-item class="primary-slider-wrapper">
              <nz-form-label nzRequired nzFor="perc_student_ca" class="primary-input-label">{{
                'SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.PERCENTAGE_STUDENT_CA' | translate
                }}</nz-form-label>
              <nz-form-control>
                <nz-slider formControlName="perc_student_ca" id="perc_student_ca" name="perc_student_ca"
                  nzTooltipVisible="always"></nz-slider>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzMd]="{ span: canUseCurrentAccount ? 12 : 24 }">
            <nz-form-item class="primary-slider-wrapper">
              <nz-form-label nzRequired nzFor="perc_student_iban" class="primary-input-label">{{
                'SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.PERCENTAGE_STUDENT_IBAN' | translate
                }}</nz-form-label>
              <nz-form-control>
                <nz-slider formControlName="perc_student_iban" id="perc_student_iban" name="perc_student_iban"
                  nzTooltipVisible="always"></nz-slider>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzMd="12">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="payment_value" class="primary-input-label">{{
                'SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.PAYMENT_VALUE' | translate
                }}</nz-form-label>

              <nz-form-control>
                <input nz-input class="primary-input" formControlName="payment_value" id="payment_value"
                  type="number" />
                <nz-form-explain class="error"
                  *ngIf="form.get('payment_value')?.dirty && form.get('payment_value').errors">{{
                  getInputError('payment_value') }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzMd="12">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="payment_model" class="primary-input-label">{{
                'SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.PAYMENT_MODEL' | translate
                }}</nz-form-label>

              <nz-form-control>
                <nz-select class="primary-select" formControlName="payment_model" id="payment_model" nzShowSearch>
                  <nz-option nzLabel="Valor total" nzValue="BA"></nz-option>
                  <nz-option nzLabel="Valor hora" nzValue="VH"></nz-option>
                </nz-select>
                <nz-form-explain class="error"
                  *ngIf="form.get('payment_model')?.dirty && form.get('payment_model').errors">{{
                  getInputError('payment_model') }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </fieldset>
      -->
        <nz-divider class="offer-form--divider"></nz-divider>

        <fieldset nz-row nzGutter="34">
          <div nz-col class="offer-form--fieldset-title">
            {{ 'SOCIAL_SUPPORT.OFFERS.FORM.FIELDSETS.RESPONSIBLE' | translate }}
          </div>
          <div nz-col nzSpan="24">
            <div nz-row nzGutter="34">
              <div *ngFor="let lang of languages$ | async; let i = index" nz-col [nzXs]="24" [nzLg]="12">
                <nz-form-item [formGroup]="form.get('translations.' + lang.acronym)">
                  <nz-form-label nzRequired [nzFor]="'translations.' + lang.acronym + 'job'" class="primary-input-label">{{
                    ('SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.OFFICE' | translate) }} [{{ lang.acronym | uppercase }}]</nz-form-label>

                  <ng-template #suffixTemplate>
                    <i
                      *ngIf="i > 0"
                      nz-icon
                      nz-tooltip
                      type="copy"
                      nzTheme="outline"
                      [nzTitle]="'VOLUNTEERING.ACTIONS.FORM.COPY' | translate : { to: (lang.acronym | uppercase) }"
                      (click)="copyField('job', lang.acronym)"
                    ></i>
                  </ng-template>

                  <nz-form-control>
                    <nz-input-group [nzSuffix]="suffixTemplate">
                      <input nz-input class="primary-input" formControlName="job" id="job" [ngClass]="{'input-with-suffix': i > 0}" />
                    </nz-input-group>
                    <nz-form-explain class="error" *ngIf="
                        form.get('translations.' + lang.acronym + '.job')?.dirty &&
                        form.get('translations.' + lang.acronym + '.job').errors
                      ">{{ getInputError('translations.' + lang.acronym + '.job') }}</nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>

          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="email_search_advisor" class="primary-input-label">{{
                'SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.ADVISOR' | translate
                }}</nz-form-label>

              <nz-form-control>
                <input nz-input class="primary-input" type="email" formControlName="email_search_advisor"
                  id="email_search_advisor" />
                <nz-form-explain class="error"
                  *ngIf="form.get('email_search_advisor')?.dirty && form.get('email_search_advisor').errors">{{
                  getInputError('email_search_advisor') }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="24" *ngIf="offer?.experience_advisor_id !== null">
            <span style="font-size: 14px" class="primary-input-label">
              {{ 'SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.ADVISOR_NAME' | translate }} :</span>
            <nz-form-item style="margin-top: 10px">
              <span>
                {{ offer?.experience_advisor?.name }}
              </span>
            </nz-form-item>
          </div>
        </fieldset>
        <nz-divider class="offer-form--divider"></nz-divider>
        <fieldset nz-row nzGutter="34">
          <div nz-col class="offer-form--fieldset-title">{{ '' | translate }}</div>
          <div nz-col nzSpan="24">
            <div nz-row nzGutter="34">
              <div *ngFor="let lang of languages$ | async; let i = index" nz-col [nzXs]="24" [nzLg]="12">
                <nz-form-item [formGroup]="form.get('translations.' + lang.acronym)">
                  <nz-form-label nzRequired [nzFor]="'translations.' + lang.acronym + '.description'" class="primary-input-label">{{
                    ('SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.DESCRIPTION' | translate) }} [{{ lang.acronym | uppercase }}]</nz-form-label>

                  <ng-template #suffixTemplate>
                    <i
                      *ngIf="i > 0"
                      nz-icon
                      nz-tooltip
                      type="copy"
                      nzTheme="outline"
                      [nzTitle]="'VOLUNTEERING.ACTIONS.FORM.COPY' | translate : { to: (lang.acronym | uppercase) }"
                      (click)="copyField('description', lang.acronym)"
                    ></i>
                  </ng-template>

                  <nz-form-control>
                    <nz-input-group [nzSuffix]="suffixTemplate">
                      <textarea
                        maxlength="255"
                        class="primary-textarea"
                        [ngClass]="{'input-with-suffix': i > 0}"
                        nz-input rows="5"
                        formControlName="description"
                        id="description"
                      ></textarea>
                    </nz-input-group>
                    <nz-form-explain class="error" *ngIf="
                        form.get('translations.' + lang.acronym + '.description')?.dirty &&
                        form.get('translations.' + lang.acronym + '.description').errors
                      ">{{ getInputError('translations.' + lang.acronym + '.description') }}</nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
          <div nz-col nzMd="12" nzXl="8" nzXXl="6">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="publish_date" class="primary-input-label">{{
                'SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.APPLICATION_PUBLISH_DATE' | translate
                }}</nz-form-label>

              <nz-form-control>
                <nz-date-picker class="primary-datePicker" formControlName="publish_date" id="publish_date"
                  [nzDisabledDate]="disableDate" [nzAllowClear]="false"></nz-date-picker>
                <nz-form-explain class="error"
                  *ngIf="form.get('publish_date')?.dirty && form.get('publish_date').errors">
                  {{ getInputError('publish_date') }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzMd="12" nzXl="8" nzXXl="6">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="application_deadline_date" class="primary-input-label">{{
                'SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.APPLICATION_CLOSING_DATE' | translate }}</nz-form-label>

              <nz-form-control>
                <nz-date-picker class="primary-datePicker" formControlName="application_deadline_date"
                  id="application_deadline_date" [nzDisabledDate]="disableDate" [nzAllowClear]="false"></nz-date-picker>
                <nz-form-explain class="error"
                  *ngIf="form.get('application_deadline_date')?.dirty && form.get('application_deadline_date').errors">
                  {{ getInputError('application_deadline_date') }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </fieldset>

        <nz-divider class="offer-form--divider"></nz-divider>

        <fieldset nz-row nzGutter="34">
          <div nz-col class="offer-form--fieldset-title">
            {{ 'SOCIAL_SUPPORT.OFFERS.FORM.FIELDSETS.REQUIREMENTS' | translate }}
          </div>
          <div nz-col nzSpan="24">
            <div nz-row nzGutter="34">
              <div *ngFor="let lang of languages$ | async; let i = index" nz-col [nzXs]="24" [nzLg]="12">
                <nz-form-item [formGroup]="form.get('translations.' + lang.acronym)">
                  <nz-form-label nzRequired [nzFor]="'translations.' + lang.acronym + '.selection_criteria'" class="primary-input-label">{{
                    ('SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.SELECTION_CRITERIA' | translate) }} [{{ lang.acronym | uppercase }}]</nz-form-label>

                  <ng-template #suffixTemplate>
                    <i
                      *ngIf="i > 0"
                      nz-icon
                      nz-tooltip
                      type="copy"
                      nzTheme="outline"
                      [nzTitle]="'VOLUNTEERING.ACTIONS.FORM.COPY' | translate : { to: (lang.acronym | uppercase) }"
                      (click)="copyField('selection_criteria', lang.acronym)"
                    ></i>
                  </ng-template>

                  <nz-form-control>
                    <nz-input-group [nzSuffix]="suffixTemplate">
                      <textarea
                        maxlength="255"
                        class="primary-textarea"
                        [ngClass]="{'input-with-suffix': i > 0}"
                        nz-input rows="5"
                        formControlName="selection_criteria"
                        id="selection_criteria"
                      ></textarea>
                      <nz-form-explain class="error" *ngIf="
                          form.get('translations.' + lang.acronym + '.selection_criteria')?.dirty &&
                          form.get('translations.' + lang.acronym + '.selection_criteria').errors
                        ">{{ getInputError('translations.' + lang.acronym + '.selection_criteria') }}</nz-form-explain>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-row nzGutter="34">
              <div *ngFor="let lang of languages$ | async; let i = index" nz-col [nzXs]="24" [nzLg]="12">
                <nz-form-item [formGroup]="form.get('translations.' + lang.acronym)">
                  <nz-form-label nzRequired [nzFor]="'translations.' + lang.acronym + '.applicant_profile'" class="primary-input-label">{{
                    ('SOCIAL_SUPPORT.OFFERS.FORM.FIELDS.CANDIDATE_PROFILE' | translate) }} [{{ lang.acronym | uppercase }}]</nz-form-label>

                  <ng-template #suffixTemplate>
                    <i
                      *ngIf="i > 0"
                      nz-icon
                      nz-tooltip
                      type="copy"
                      nzTheme="outline"
                      [nzTitle]="'VOLUNTEERING.ACTIONS.FORM.COPY' | translate : { to: (lang.acronym | uppercase) }"
                      (click)="copyField('applicant_profile', lang.acronym)"
                    ></i>
                  </ng-template>

                  <nz-form-control>
                    <nz-input-group [nzSuffix]="suffixTemplate">
                      <textarea
                        maxlength="255"
                        class="primary-textarea"
                        [ngClass]="{'input-with-suffix': i > 0}"
                        nz-input rows="5"
                        formControlName="applicant_profile"
                        id="applicant_profile"
                      ></textarea>
                    </nz-input-group>
                    <nz-form-explain class="error" *ngIf="
                        form.get('translations.' + lang.acronym + '.applicant_profile')?.dirty &&
                        form.get('translations.' + lang.acronym + '.applicant_profile').errors
                      ">{{ getInputError('translations.' + lang.acronym + '.applicant_profile') }}</nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
        </fieldset>

        <nz-divider class="offer-form--divider"></nz-divider>

        <fieldset nz-row nzGutter="34">
          <div nz-col class="offer-form--fieldset-title">
            {{ 'SOCIAL_SUPPORT.OFFERS.FORM.FIELDSETS.ATTACHMENT' | translate }}
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-control>
                <app-file-upload class="primary-file-upload" [filterTypes]="filterTypes"
                (fileDeleted)="form.get('attachment_file_id').setValue(null)"
                  formControlName="attachment_file_id"></app-file-upload>
                  <div class="font-file">
                    {{ 'MISC.FORMAT_UPLOAD_MORE' | translate }} pdf, png, jpg. {{ 'MISC.LIMIT_MAX_FILE' | translate }}
                  </div>
                <nz-form-explain class="error"
                  *ngIf="form.get('attachment_file_id')?.dirty && form.get('attachment_file_id').errors">{{
                  getInputError('attachment_file_id') }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </fieldset>
        <!-- END: FIELDSETS -->

        <div nz-row nzJustify="center" nzType="flex">
          <div nz-col>
            <app-button [loading]="isLoading" (click)="onSubmit()" [translate]="'MISC.SUBMIT'"></app-button>
          </div>
        </div>
      </form>
    </nz-spin>
  </div>
  <div nz-col [nzSm]="1" [nzXs]="1"></div>
</div>

<ng-template #tabTitleTemplate let-tabTitle="tabTitle" let-invalid="invalid">
  <div [ngClass]="{ 'offer-form--tab-error': invalid }">{{ tabTitle | translate }}</div>
</ng-template>
