.filter_container {
  background: white;
  padding: 8px;
  margin-bottom: 16px;
}

.btn-filter{
  text-align: center;
  .btn-delete{
    cursor: pointer;
    font-size: 18px;
    margin-top: 12px;
  }
  .btn{
    margin-bottom: 4px;
    margin-top: 8px;
  }
}
