:host::ng-deep {
    .ant-tabs {
        background-color: #f0f2f5 !important;
    }
    .ant-tabs-bar{
        border-bottom: none !important;
    }
    .ant-tabs-tab {
        background-color: white !important;
    }

    .ant-tabs-nav .ant-tabs-tab {
      margin: 0 2px 0 0 !important;
    }

}
#icon-uncharge-current::ng-deep svg {
  path {
    fill: white;
  }
}

.current-accounts {
    background-color: white;
    padding: 20px;
    margin-top: -14px;
    border-bottom: 1px solid #f0f2f5;;

    &__avatar {
        width: 50px !important;
        height: 50px !important;
        line-height: 50px !important;
    }

    &__name-user {
      font-size: 20px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
    }

    &__desc-user {
      font-size: 14px;
      color: grey;
    }

    &__btn {
      text-align: right;
      &__btn-margin{
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    &__value-account {
      text-align: right;
    }
    &__money{
      font-size: 20px;
      font-weight: 500;
      &__neutral{
        color: rgba(0, 0, 0, 0.65) !important;
      }
      &__positive{
        color: #1b9668 !important;
      }
      &__negative{
        color: #d0021b !important;
      }
  }
}

.container {
    background-color: white;
    padding: 20px;

    &__title{
        color: var(--primary-6);
        font-size: 20px;
        font-weight: 500;
    }
    &__tag{
      padding: 5px 0px;
      padding-top: 2px;
      border-radius: 7px;
      font-weight: bold;
      color: #1b9668;
      border: 1px solid #1b9668;
      text-align: center;
      font-size: 10px;
    }
    &__tag-danger{
      padding: 5px 0px;
      padding-top: 2px;
      border-radius: 7px;
      font-weight: bold;
      color: #d0021b;
      border: 1px solid #d0021b;
      text-align: center;
      font-size: 10px;
    }
    &__tag-warning{
      padding: 5px 0px;
      padding-top: 2px;
      border-radius: 7px;
      font-weight: bold;
      color: rgba(178, 181, 15, 0.76);
      border: 1px solid rgba(178, 181, 15, 0.76);
      text-align: center;
      font-size: 10px;
    }

    &__money{
      text-align: right;
      font-weight: 500;
      &__neutral{
        color: rgba(0, 0, 0, 0.65) !important;
      }
      &__positive{
        color: #1b9668 !important;
      }
      &__negative{
        color: #d0021b !important;
      }
    }
   
    &__data-extra{
        padding-top: 5px;
        &__row{
          padding: 15px 0px;
        }
        &__title{
          text-align: left;
          color: rgba(0, 0, 0, 0.65);
        }
        &__desc{
          color: var(--primary-5)!important;
          text-align: left;
        }
        &__separator{
          height: 17px;
          border-bottom: solid 1px var(--primary-4);
        }
        &__table{
          &__row{
            word-wrap: break-word !important;
            padding-right: 20px;
            padding-top: 9px;
          }
          &__desc{
            color: rgba(0, 0, 0, 0.65);
            .money{
              text-align: right;
            }
          }
          &__title{
            font-weight: 600;
            .money{
              text-align: right;
            }
          }
          &__total{
            padding-top: 12px;
            color: rgba(0, 0, 0, 0.85);
            &-value{
              text-align: right;
              border-top: solid 1px #1b9668 !important;
              color: #1b9668 !important;
            }
          }
        }
    }
}

.space {
    padding: 5px;
    background-color: #f0f2f5;
}


.content-table {
    margin: 8px;
    
    .table {
        &__header {
            th {
                background: white;
                color: var(--primary-6);
                font-weight: 700;
            }

            & > th:first-child {
                border-top-left-radius: 2px !important;
            }
            
            & > th:last-child {
                border-top-right-radius: 2px !important;
            }
        }
        
        tr {

            /*td {
                color: var(--text-color);
            }*/

            background: white !important;
        }
    }

    .options_button {
        color: var(--text-color);
        font-size: 22px;
    }
}