<div nz-row>
    <nz-tabset  *ngIf="accountsUserList.length==0" nzTabPosition="top">
        <nz-tab nzTitle="---">
            <div nz-col nzXs="24" nzMd="24" class="current-accounts">
                <div nz-row>
                    <nz-avatar [nzSize]="60" nzIcon="user" class="current-accounts__avatar"></nz-avatar>
                </div>
                <div nz-row style="padding-top: 20px;">
                    <button nz-button nzType="primary" class="button-color" (click)="modalSearch()">
                        <span>Procurar</span>
                    </button>
                </div>
            </div>
            <div nz-col nzXs="24" nzMd="24">
                <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
            </div>

        </nz-tab>
    </nz-tabset>
    <nz-tabset *ngIf="accountsUserList.length>0" nzTabPosition="top" [nzSelectedIndex]="tabIndex">
            <nz-tab *ngFor="let account of accountsUserList; let idx = index" [nzTitle]="account.account_name"
                (nzClick)="selectAccount(account, idx)">
                <div nz-col nzXs="24" nzMd="24" class="current-accounts">
                    <nz-spin [nzSpinning]="loadingInfo">
                        <div nz-row>
                            <div nz-col nzXs="24" nzMd="24" nzLg="24" nzXl="12" nzXXl="12">
                                <div nz-row>
                                    <div nz-col nzXs="24" nzMd="24" nzLg="4" nzXl="3" nzXXl="2">
                                        <nz-avatar [nzSize]="60" nzIcon="user" class="current-accounts__avatar">
                                        </nz-avatar>
                                    </div>
                                    <div nz-col nzXs="24" nzMd="24" nzLg="20" nzXl="21" nzXXl="22">
                                        <div nz-row>
                                            <span class="current-accounts__name-user">{{selectedUser?.name}}</span>
                                        </div>
                                        <div nz-row>
                                            <span class="current-accounts__desc-user"> {{selectedUser?.student_number ?
                                                'Nº: ' + selectedUser?.student_number + '
                                                | ' :
                                                ''}}</span>
                                            <span class="current-accounts__desc-user">Nif: {{selectedUser?.tin}}</span>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div nz-col nzXs="24" nzMd="24" nzLg="24" nzXl="12" nzXXl="12"
                                class="current-accounts__btn">
                                <button
                                    *ngIf="!showHistory && ('current_account:movements:charges-history' | hasPermission)"
                                    nz-button nzType="primary" class="current-accounts__btn__btn-margin"
                                    (click)="showHistory = true; showHistoryTable();"
                                    [disabled]="selectedAccount?.account_id?false:true">
                                    <span>Histórico de carregamento</span>
                                </button>
                                <button *ngIf="showHistory && ('current_account:movements:read' | hasPermission)"
                                    nz-button nzType="primary" class="current-accounts__btn__btn-margin"
                                    (click)="showHistory = false; showHistoryTable();"
                                    [disabled]="selectedAccount?.account_id?false:true">
                                    <span>Conta Corrente</span>
                                </button>
                                <button *ngIf="('current_account:accounts:charge' | hasPermission)" nz-button
                                    nzType="primary" class="current-accounts__btn__btn-margin"
                                    (click)="showDevolutionModal()"
                                    [disabled]="!selectedAccount?.account_id || !this.selectedCashAccount">
                                    <i nz-icon style="font-size: 18px;" id="icon-uncharge-current" nzType="icons:reimbursement" nzTheme="outline"></i> Devolução
                                </button>
                                <button *ngIf="('current_account:accounts:charge' | hasPermission)" nz-button
                                    nzType="primary" class="current-accounts__btn__btn-margin"
                                    (click)="showChargeModal()"
                                    [disabled]="!selectedAccount?.account_id || !this.selectedCashAccount">
                                    <i nz-icon  nzType="icons:top-up" nzTheme="outline"></i> Carregar
                                </button>
                            </div>
                        </div>
                        <div nz-row style="padding-top: 20px;">
                            <div nz-col nzXs="24" nzMd="24" nzLg="16" nzXl="16" nzXXl="16">
                                <button nz-button nzType="primary" class="button-color" (click)="modalSearch()">
                                    <span>Procurar</span>
                                </button>
                            </div>
                            <div nz-col nzXs="24" nzMd="24" nzLg="8" nzXl="8" nzXXl="8" style="padding-right: 5px;">
                                <div nz-row class="current-accounts__value-account">
                                    <div nz-col nzXs="24" nzMd="24" nzLg="12" nzXl="12" nzXXl="12">
                                        <div nz-row>
                                            Conta corrente
                                        </div>
                                        <div nz-row class="current-accounts__money current-accounts__money__positive">
                                            {{ selectedAccount.current_balance | number:'1.2-2' }}€
                                        </div>
                                    </div>
                                    <div nz-col nzXs="24" nzMd="24" nzLg="12" nzXl="12" nzXXl="12">
                                        <div nz-row>
                                            Pagamentos pendentes
                                        </div>
                                        <div nz-row class="current-accounts__money" [ngClass]="{'current-accounts__money__negative':selectedAccount?.in_debt != 0,
                                        'current-accounts__money__neutral': selectedAccount?.in_debt == 0}">
                                            {{selectedAccount.in_debt | number:'1.2-2' }}€
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </nz-spin>

                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
                </div>
            </nz-tab>


    </nz-tabset>

    <ng-template #contentTpl>
        <div nz-row class="container">
            <div nz-col nzXs="24" nzMd="24" nzLg="24" nzXl="24" nzXXl="4" style="padding-bottom: 10px;">
                <span *ngIf="showHistory && selectedAccount" class="container__title">Histórico carregamento</span>
                <span *ngIf="!showHistory && selectedAccount" class="container__title">Conta Corrente</span>
            </div>
            <div nz-col nzXs="24" nzMd="12" nzLg="8" nzXl="10" nzXXl="7">
                <nz-range-picker [(ngModel)]="filter_createDate" [nzPlaceHolder]="[ 'Data inicial','Data final']">
                </nz-range-picker>
            </div>
            <div nz-col nzXs="24" nzMd="12" nzLg="6" nzXl="5" nzXXl="5">
                <nz-select style="width: 90%;" [(ngModel)]="filters.operation" nzPlaceHolder="Operação" nzShowSearch>
                    <nz-option *ngFor="let operation of filterList.operations" [nzValue]="operation.key"
                        [nzLabel]="operation.label">
                    </nz-option>
                </nz-select>
            </div>
            <div nz-col nzXs="24" nzMd="12" nzLg="6" nzXl="5" nzXXl="5">
                <nz-select style="width: 90%;" [(ngModel)]="filters.status" nzPlaceHolder="Estado" nzShowSearch>
                    <nz-option *ngFor="let status of filterList.status" [nzValue]="status.key" [nzLabel]="status.label">
                    </nz-option>
                </nz-select>
            </div>
            <div nz-col nzXs="24" nzMd="3" nzLg="2" nzXl="2" nzXXl="2">
                <button nz-button nzType="primary" class="btn"
                    (click)="selectedAccount?.account_id ? updateFilters() : ''">Filtrar</button>
            </div>

            <div nz-col nzXs="24" nzMd="2" nzLg="2" nzXl="2" nzXXl="1">
                <span style="cursor: pointer;" (click)="selectedAccount?.account_id ? listComplete() : ''">
                    <i nz-icon nzType="delete" nzTheme="outline" style="font-size: 17px; margin-top: 6px;"></i>
                </span>
            </div>
        </div>
        <div nz-row class="space"></div>
        <div nz-row class="container">
            <nz-table [nzScroll]="{ x: '240px' }" class="content-table" #refTable [nzData]="data"
                (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading"
                [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData"
                [(nzPageSize)]="pageSize" (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
                <thead (nzSortChange)="sort($event)" nzSingleSort>
                    <tr class="table__header">

                        <th></th>
                        <th nzShowSort nzSortKey="created_at"> Data</th>
                        <th> Operação </th>
                        <th> Dispositivo </th>
                        <th *ngIf="showHistory">Data Confirmação </th>
                        <th> Documento </th>
                        <th> Estado </th>
                        <th> Meio de pagamento </th>
                        <th class="current-accounts__value-account"> Movimento </th>
                        <th class="current-accounts__value-account"> Conta corrente </th>
                        <th class="current-accounts__value-account"> Pendentes </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-data [ngForOf]="refTable.data">

                        <tr>
                            <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
                            <td>
                                {{data?.created_at | date: 'dd-MM-yyyy'}}<br><span class="hour">{{data?.created_at |
                                    date:'mediumTime'}}</span>
                            </td>
                            <td>
                                {{ data?.operation == 'CHARGE' ? 'Carregamento' :
                                data?.operation == 'CANCEL' ? 'Cancelada' :
                                data?.operation == 'RECEIPT' ? 'Recibo' :
                                data?.operation == 'INVOICE' ? 'Fatura' :
                                data?.operation == 'INVOICE_RECEIPT' ? 'Fatura/Recibo' :
                                data?.operation == 'CREDIT_NOTE' ? 'Nota de crédito' :
                                data?.operation == 'REFUND' ? 'Restituição' :
                                data?.operation == 'CHARGE_NOT_IMMEDIATE' ? 'Carregamento'
                                : '-'
                                }}
                            </td>
                            <td>
                                {{ data.device ? data.device.name : '--'}}
                            </td>
                            <td *ngIf="showHistory && data?.payment != null">
                                {{data?.payment?.confirmed_at | date: 'dd-MM-yyyy' }}<br><span
                                    class="hour">{{data?.payment?.confirmed_at | date:'mediumTime'}}</span>
                            </td>
                            <td>
                                <div *ngIf="data?.middleware_erp_status != 'FAILED'">
                                    <a *ngIf="data?.document_id != null" href="{{ data?.document?.url }}" download
                                        target="_blank">{{
                                        data?.document?.series+"/"+data?.document?.number }}</a>
                                </div>
                                <div *ngIf="data?.middleware_erp_status == 'FAILED'" style="margin: auto;width: 62px;"
                                    title="Erro de integração no ERP">
                                    <i nz-icon nzType="alert" nzTheme="twotone" nzTwotoneColor="#ff0000"
                                        style="font-size: 20px;"></i>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="data?.operation !== 'INVOICE' && data.status ==='PENDING'"
                                    class="container__tag-warning">
                                    Pendente
                                </div>
                                <div *ngIf="data.operation === 'INVOICE'" class="container__tag-danger">
                                    Não Pago
                                </div>
                                <div *ngIf="data.status ==='PAID' && data.operation !== 'INVOICE'"
                                    class="container__tag">
                                    Pago
                                </div>
                                <div *ngIf="data.status === 'CONFIRMED'" class="container__tag">
                                    Confirmado
                                </div>
                                <div *ngIf="data.status === 'CANCELLED'" class="container__tag-danger">
                                    Anulado
                                </div>
                                <div *ngIf="data.status === 'CANCELLED_LACK_PAYMENT'" class="container__tag-danger">
                                    Anulado/Rejeitado
                                </div>

                            </td>
                            <td>
                                {{data?.payment_method?.name}}
                            </td>

                            <td>
                                <div class="container__money" [ngClass]="{'container__money__neutral':verifyMoney(123,false)==='neutral',
                    'container__money__negative':verifyMoney(data.transaction_value,false)==='negative',
                    'container__money__positive':verifyMoney(data.transaction_value,false)==='positive'}">
                                    {{getMoneyString(data.transaction_value, false)}}
                                </div>
                            </td>
                            <td>
                                <div class="container__money" [ngClass]="{'container__money__neutral':data?.current_balance >= 0,
                    'container__money__negative': data?.current_balance < 0}">
                                    {{data.current_balance | number:'1.2-2'}}€
                                </div>
                            </td>
                            <td>
                                <div class="container__money" [ngClass]="{'container__money__neutral':verifyMoney(123,false)==='neutral',
                    'container__money__negative':verifyMoney(data.owing_value,false)==='negative',
                    'container__money__positive':verifyMoney(data.owing_value,false)==='positive'}">
                                    {{getMoneyString(data.owing_value, false)}}
                                </div>
                            </td>
                        </tr>

                        <tr [nzExpand]="mapOfExpandData[data.id]">
                            <td [attr.colspan]="10">
                                <div>
                                    <div nz-row nzType="flex" class="container__data-extra__row">
                                        <div nz-col [nzSpan]="1"></div>
                                        <!--Transction ID-->
                                        <div nz-col [nzSpan]="3" class="container__data-extra__table__title">
                                            ID de transação:
                                        </div>
                                        <div nz-col [nzSpan]="5" class="container__data-extra__desc">
                                            {{data.id?data.id:'-'}}
                                        </div>
                                        <!--Date-->
                                        <div nz-col [nzSpan]="4" class="container__data-extra__table__title">
                                            Data de vencimento:
                                        </div>
                                        <div nz-col [nzSpan]="3" class="container__data-extra__desc">
                                            {{data.payment_method?.created_at ? (data.payment_method?.created_at | date:
                                            'dd-MM-yyyy') : '-'}}
                                        </div>
                                        <!--Documents-->
                                        <div nz-col [nzSpan]="5" class="container__data-extra__table__title">
                                            Documentos associados:
                                        </div>
                                        <div nz-col [nzSpan]="3" class="container__data-extra__desc">
                                            {{data.document_id ? data.document_id : '-'}}
                                        </div>
                                    </div>

                                    <div nz-row nzType="flex" class="container__data-extra__row">
                                        <div nz-col [nzSpan]="1"></div>

                                        <ng-container *ngIf="data?.middleware_erp_status == 'FAILED'">
                                            <div nz-col [nzSpan]="3" class="container__data-extra__table__title">
                                                Integração no ERP:
                                            </div>
                                            <div nz-col [nzSpan]="5" class="container__data-extra__desc">
                                                {{getErpErrors(data?.middleware_erp_result)}}
                                            </div>
                                        </ng-container>
                                    </div>

                                    <div nz-row nzType="flex" class="container__data-extra__row">
                                        <div nz-col [nzSpan]="1"></div>
                                        <!--CashAccount-->
                                        <ng-container *ngIf="data?.cash_account">
                                            <div nz-col [nzSpan]="3" class="container__data-extra__table__title">
                                                Caixa:
                                            </div>
                                            <div nz-col [nzSpan]="5" class="container__data-extra__desc">
                                                {{data?.cash_account?.code}}
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="data?.created_by">
                                            <div nz-col [nzSpan]="4" class="container__data-extra__table__title">
                                                Operador:
                                            </div>
                                            <div nz-col [nzSpan]="3" class="container__data-extra__desc">
                                                {{data?.created_by?.name}}
                                            </div>
                                        </ng-container>
                                    </div>
                                    <!--Table title-->
                                    <div nz-row nzType="flex" class="container__data-extra__table__row">
                                        <div nz-col [nzSpan]="1"></div>
                                        <div nz-col [nzSpan]="3" class="container__data-extra__table__title">
                                            Código
                                        </div>
                                        <div nz-col [nzSpan]="4" class="container__data-extra__table__title">
                                            Descrição
                                        </div>
                                        <div nz-col [nzSpan]="7" class="container__data-extra__table__title">
                                            Nome
                                        </div>
                                        <div nz-col [nzSpan]="3" class="container__data-extra__table__title">
                                            Quantidade
                                        </div>
                                        <div nz-col [nzSpan]="3" class="container__data-extra__table__title">
                                            Preço Unit.
                                        </div>
                                        <div nz-col [nzSpan]="3" class="container__data-extra__table__title">
                                            Valor
                                        </div>
                                    </div>
                                    <div nz-row nzType="flex" class="container__data-extra__table__row"
                                        *ngFor="let items of data.items">
                                        <div nz-col [nzSpan]="1"></div>
                                        <div nz-col [nzSpan]="3"
                                            class="container__data-extra__table__desc special_padding_col">
                                            {{items.product_code}}
                                        </div>
                                        <div nz-col [nzSpan]="4"
                                            class="container__data-extra__table__desc special_padding_col">
                                            {{items.description ? items.description : '-'}}
                                        </div>
                                        <div nz-col [nzSpan]="7"
                                            class="container__data-extra__table__desc special_padding_col">
                                            {{items.name ? items.name : '-'}}
                                        </div>
                                        <div nz-col [nzSpan]="3" class="container__data-extra__table__desc">
                                            {{items.quantity}}
                                        </div>
                                        <div nz-col [nzSpan]="3" class="container__data-extra__table__desc">
                                            {{this.getMoneyString(items.unit_value, true)}}
                                        </div>
                                        <div nz-col [nzSpan]="3" class="container__data-extra__table__desc">
                                            {{this.getMoneyString(items.total_value, true)}}
                                        </div>
                                    </div>
                                    <div nz-row nzType="flex" class="container__data-extra__table__row">
                                        <div nz-col [nzSpan]="18" class="container__data-extra__table__total">
                                        </div>
                                        <div nz-col [nzSpan]="2" class="container__data-extra__table__total">
                                            Total:
                                        </div>
                                        <div nz-col [nzSpan]="4" class="container__data-extra__table__total
                        container__data-extra__table__total-value">
                                            {{(this.getPositiveNumber(data.transaction_value) | number:'1.2-2') + '€'}}
                                        </div>
                                    </div>

                                </div>

                            </td>
                        </tr>

                    </ng-template>
                </tbody>
            </nz-table>
        </div>

        <div nz-row nzType="flex" nzAlign="middle" nzJustify="center" *ngIf="selectedAccount" style="margin-top: 20px;">
            <button nz-button nzType="primary" (click)="generateReport()" [nzLoading]="loadingReport"
                *ngIf="('current_account:movements:read' | hasPermission)" class="generate-report">
                Gerar Relatório
            </button>
        </div>
    </ng-template>
</div>