<div nz-row nzType="flex" nzAlign="middle" style="height: 400px;">
  <span nz-col nzXs="0" nzSm="6" nzSm="12" class="lock-icon">
    <span nz-row nzType="flex" nzJustify="center" nzAlign="middle">
      <i nz-icon type="lock"></i>
    </span>
  </span>
  <span nz-col nzSpan="12" class="info-unauthorized">
    <h1>Stop!</h1>
    <nz-divider></nz-divider>
    <h3>Sem Permissões</h3>
    <p>Não tem permissões para aceder a funcionalidade, deverá contactar o administrador do
      sistema para lhe fornecer as devidas permissões</p>
    <button nz-button (click)="voltar()">Voltar</button>
  </span>
</div>
