<div class="container">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
      <div nz-row>
        <nz-form-label>Termo de Pesquisa</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input [(ngModel)]="filters.search" />
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
      <div nz-row>
        <nz-form-label>Transporte</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="filters.daily_commute" nzShowSearch style="width: 100%">
            <nz-option nzValue="Walk" nzLabel="A pé"></nz-option>
            <nz-option nzValue="Bus" nzLabel="Autocarro"></nz-option>
            <nz-option nzValue="Bike" nzLabel="Bicicleta"></nz-option>
            <nz-option nzValue="Car" nzLabel="Carro"></nz-option>
            <nz-option nzValue="Train" nzLabel="Comboio"></nz-option>
            <nz-option nzValue="Motorcycle" nzLabel="Mota"></nz-option>
            <nz-option nzValue="Other" nzLabel="Outro"></nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
      <div nz-row>
        <nz-form-label>Estado</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="filters.status" nzShowSearch style="width: 100%">
            <nz-option nzValue="accepted" nzLabel="Aceite pelo Utilizador"></nz-option>
            <nz-option nzValue="assigned" nzLabel="Atribuída"></nz-option>
            <nz-option nzValue="cancelled" nzLabel="Cancelada"></nz-option>
            <nz-option nzValue="contracted" nzLabel="Contratada"></nz-option>
            <nz-option nzValue="elaboration" nzLabel="Elaboração"></nz-option>
            <nz-option nzValue="analysis" nzLabel="Em Análise"></nz-option>
            <nz-option nzValue="dispatch" nzLabel="Em Despacho"></nz-option>
            <nz-option nzValue="enqueued" nzLabel="Em Lista de Espera"></nz-option>
            <nz-option nzValue="closed" nzLabel="Fechada"></nz-option>
            <nz-option nzValue="unassigned" nzLabel="Não atribuída"></nz-option>
            <nz-option nzValue="complaint" nzLabel="Queixa"></nz-option>
            <nz-option nzValue="rejected" nzLabel="Rejeitada pelo Utilizador"></nz-option>
            <nz-option nzValue="withdrawal" nzLabel="Retirada"></nz-option>
            <nz-option nzValue="quiting" nzLabel="Em Desistência"></nz-option>
            <nz-option nzValue="submitted" nzLabel="Submetida"></nz-option>
            <nz-option nzValue="suspended" nzLabel="Suspensa"></nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
      <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
      style="text-align: left">
      <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
    </div>
  </div>
</div>
<div nz-row class="space">
  <div nz-col style="float: right">
    <button nz-button nzType="primary" (click)="showPrintModal()">
      <i nz-icon type="download"></i>Imprimir Listagem
    </button>
  </div>
</div>
<div class="container">
  <nz-table class="content-table" #applicationsTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="data"
    [nzLoading]="loading" [nzTotal]="totalData" [nzScroll]="{ x: '240px' }" [(nzPageIndex)]="pageIndex"
    [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th nzShowExpand></th>
        <th nzWidth="110px">Nº Bike</th>
        <th nzWidth="110px" nzShowSort nzSortKey="student_number">Nº Utente</th>
        <th nzShowSort nzSortKey="full_name">Nome</th>
        <th nzShowSort nzSortKey="daily_commute">Transporte Diário</th>
        <th nzShowSort nzSortKey="daily_kms">Distância Diária</th>
        <th nzShowSort nzSortKey="daily_co2">CO<sub>2</sub> Diário</th>
        <th nzShowSort nzSortKey="created_at">Data de Submissão</th>
        <th nzShowSort nzSortKey="status">Estado</th>
        <th nzShowSort nzSortKey="status">Decisão</th>
        <th nzRight="0px" class="text-right">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="applicationsTable.data">
        <tr>
          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
          <td>{{ data?.bike?.identification }}</td>
          <td>{{ data.student_number }}</td>
          <td class="highlight">{{ data.full_name }}</td>
          <td class="highlight">{{ getCommute(data.daily_commute).pt }}</td>
          <td class="highlight">{{ data.daily_kms }} km</td>
          <td class="highlight">{{ data.daily_co2 }} g</td>
          <td>{{ data.created_at | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
          <td>
            <nz-tag [nzColor]="getStatus(data.status).color">{{ getStatus(data.status).pt }}</nz-tag>
          </td>
          <td>
            <nz-tag [nzColor]="getStatus(data.decision).color">{{ getStatus(data.decision).pt }}</nz-tag>
          </td>
          <td nzRight="0px" class="text-right">
            <button nz-button nz-dropdown nzType="link" [nzDropdownMenu]="menu" nzPlacement="bottomRight"
              class="options_button">
              <i nz-icon nzType="dash" nzTheme="outline"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li [nzDisabled]="editBikeButtonEnable(data.status)" nz-menu-item (click)="showBikeModal(data)">
                  Editar
                </li>

                <li [nzDisabled]="changeBikeButtonEnable(data.status)" (click)="showModal(data)" nz-menu-item>
                  Alterar estado
                </li>  
                <li *ngIf="data.status === 'assigned' && data.decision === 'assigned'"
                  [nzDisabled]="!('u_bike:applications:dispatch' | hasPermission)"
                  (click)="applicationAdminAccept(data)" nz-menu-item>
                  Aceitar
                </li>
                <li *ngIf="data.status === 'assigned' && data.decision === 'assigned'"
                  [nzDisabled]="!('u_bike:applications:dispatch' | hasPermission)"
                  (click)="applicationAdminReject(data)" nz-menu-item>
                  Rejeitar
                </li>
                <li *ngIf="data.status === 'contracted'" (click)="showBikeKm(data)" nz-menu-item>
                  Registro de quilómetros
                </li>
                <li (click)="generateQuestionnaire(data)" nz-menu-item>Questionário</li>
                <li *ngIf="data.status === 'dispatch'" [nzDisabled]="!('u_bike:applications:dispatch' | hasPermission)"
                  (click)="applicationAdminReject(data)" nz-menu-item>
                  Declinar
                </li>
                <li *ngIf="data.status === 'contracted' && !data.consent_terms_file_id" (click)="generateConsentFile(data.id)" nz-menu-item>
                  Gerar Consentimento dos termos
                </li>
                <li *ngIf="data.status === 'contracted' && !data.delivery_reception_file_id" (click)="generateDeliveryFile(data.id)" nz-menu-item>
                  Gerar Auto de Entrega/Receção
                </li>
                <li *ngIf="data.status === 'contracted'" (click)="submitReportModal(data.id)" nz-menu-item>
                  Submeter Documentos
                </li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>

        <tr [nzExpand]="mapOfExpandData[data.id]">
          <td colspan="11">
            <fi-sas-view-applications *ngIf="mapOfExpandData[data.id]" [id]="data.id"></fi-sas-view-applications>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</div>

<nz-modal [(nzVisible)]="isModalVisible" [nzTitle]="modalTitle" [nzFooter]="modalFooter" (nzOnCancel)="closeModal()">
  <!-- Form -->
  <ng-template #modalTitle>
    Estado da candidatura
    <nz-tag [nzColor]="getStatus(dataInModal?.status).color">{{ getStatus(dataInModal?.status).pt }}</nz-tag>
  </ng-template>

  <form nz-form [formGroup]="statusForm">
    <ng-container *ngIf="renderFormByStatus !== 'assigned'; else userRequest">
      <nz-form-item>
        <nz-form-control [nzSpan]="24" nzHasFeedback
          nzErrorTip="Por favor coloque as observações de alteração de estado">
          <textarea maxlength="255" formControlName="notes" nz-input rows="2" placeholder="Observações"></textarea>
        </nz-form-control>

      </nz-form-item>
    </ng-container>

    <ng-template #userRequest>
      <div>A aguardar resposta de aceitação por parte do utilizador</div>
    </ng-template>

    <ng-container *ngIf="renderFormByStatus === 'analysis' || renderFormByStatus === 'complaint'">
      <nz-form-item>
        <nz-form-control [nzSpan]="24" nzHasFeedback>
          <nz-select formControlName="decision" nzPlaceHolder="Decisão"
            (ngModelChange)="conditionalFormByStatus($event)">
            <nz-option nzValue="assigned" nzLabel="Atribuído"></nz-option>
            <nz-option nzValue="enqueued" nzLabel="Em Lista de Espera"></nz-option>
            <nz-option nzValue="unassigned" nzLabel="Não Atribuído"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <ng-container *ngIf="decisionApplication === 'assigned' || renderFormByStatus === 'complaint'">
        <nz-form-item>
          <nz-form-control [nzSpan]="24" nzHasFeedback>
            <nz-select nzShowSearch nzAllowClear formControlName="bike" nzPlaceHolder="Selecionar Bike">
              <nz-option nzCustomContent *ngFor="let c of listFreeBikes" [nzValue]="c.id" [nzLabel]="
                  'Bike: ' +
                  c?.bike_model[0]?.typology?.name +
                  ' ID: ' +
                  c.id +
                  ' Identificação: ' +
                  c.identification +
                  ' Tamanho: ' +
                  c.size
                ">
                Bike: {{ c?.bike_model[0]?.typology?.name }} ID: {{ c.id }} Identificação: {{ c.identification }}
                Tamanho:
                {{ c.size }}
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <div nz-row>
          <label>
           Local preferencial: <b>{{ dataInModal?.preferred_pickup_organict_unit?.name }}</b>
          </label>
        </div>
        <nz-form-item>
          <nz-form-control [nzSpan]="24" nzHasFeedback>
            <input nz-input formControlName="pickupLocation" placeholder="Local de Levantamento" maxlength="250" />
          </nz-form-control>
        </nz-form-item>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="renderFormByStatus === 'enqueued'">
      <nz-form-item>
        <nz-form-control [nzSpan]="24" nzHasFeedback>
          <nz-select formControlName="decision" nzPlaceHolder="Decisão"
            (ngModelChange)="conditionalFormByStatus($event)">
            <nz-option nzValue="assigned" nzLabel="Atribuído"></nz-option>
            <nz-option nzValue="unassigned" nzLabel="Não Atribuído"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <ng-container *ngIf="decisionApplication === 'assigned'">
        <nz-form-item>
          <nz-form-control [nzSpan]="24" nzHasFeedback>
            <nz-select nzShowSearch nzAllowClear formControlName="bike" nzPlaceHolder="Selecionar Bike">
              <nz-option nzCustomContent *ngFor="let c of listFreeBikes" [nzValue]="c.id" [nzLabel]="
                  'Bike: ' +
                  c?.bike_model[0]?.typology?.name +
                  ' ID: ' +
                  c.id +
                  ' Identificação: ' +
                  c.identification +
                  ' Tamanho: ' +
                  c.size
                ">
                Bike: {{ c?.bike_model[0]?.typology.name }} ID: {{ c.id }} Identificação: {{ c.identification }}
                Tamanho:
                {{ c.size }}
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzSpan]="24" nzHasFeedback>
            <input nz-input formControlName="pickupLocation" placeholder="Local de Levantamento" />
          </nz-form-control>
        </nz-form-item>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="renderFormByStatus === 'accepted'">
      <nz-form-item>
        <nz-form-control [nzSpan]="24">
          <fi-sas-upload-file id="contract_file_id" formControlName="contract_file_id" style="padding: 0px 17px">
          </fi-sas-upload-file>
        </nz-form-control>
      </nz-form-item>
    </ng-container>
    <ng-container *ngIf="renderFormByStatus === 'dispatch'">
      <nz-form-item>
        <nz-form-control [nzSpan]="24" nzHasFeedback>
          <nz-select nzShowSearch nzAllowClear formControlName="decision" nzPlaceHolder="Selecionar Decisão">
            <nz-option nzCustomContent [nzValue]="'accept'" [nzLabel]="'Aceitar'"> Aceitar </nz-option>
            <nz-option nzCustomContent [nzValue]="'reject'" [nzLabel]="'Rejeitar'"> Rejeitar </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </ng-container>
    <ng-container *ngIf="renderFormByStatus === 'contracted'">
      <nz-form-item>
        <nz-form-control [nzSpan]="24" nzHasFeedback>
          <nz-select nzShowSearch nzAllowClear formControlName="decision" nzPlaceHolder="Selecionar Decisão">
            <nz-option nzCustomContent [nzValue]="'close'" [nzLabel]="'Terminar'"> Terminar </nz-option>
            <nz-option nzCustomContent [nzValue]="'suspend'" [nzLabel]="'Suspender'"> Suspender </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </ng-container>
    <ng-container *ngIf="renderFormByStatus === 'suspended'">
      <nz-form-item>
        <nz-form-control [nzSpan]="24" nzHasFeedback>
          <nz-select nzShowSearch nzAllowClear formControlName="decision" nzPlaceHolder="Selecionar Decisão">
            <nz-option nzCustomContent [nzValue]="'close'" [nzLabel]="'Terminar'"> Terminar </nz-option>
            <nz-option nzCustomContent [nzValue]="'unsuspend'" [nzLabel]="'Voltar'"> Voltar </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </ng-container>
  </form>

  <ng-template #modalFooter>
    <ng-container *ngIf="renderFormByStatus !== 'assigned'">
      <button nz-button nzType="primary" [disabled]="!statusForm.valid || renderFormByStatus === 'assigned'"
      (click)="changeStatus(statusForm.value, dataInModal)">
      {{ getButtonName(dataInModal?.status) }}
    </button>
    <button nz-button (click)="resetForm($event)">Limpar</button>
    </ng-container>
    <ng-container *ngIf="renderFormByStatus === 'assigned'">
      <button nz-button (click)="closeModal()">Fechar</button>
    </ng-container>
  </ng-template>
</nz-modal>

<!-- Chnage Bike -->
<nz-modal [(nzVisible)]="isBikeModalVisible" [nzTitle]="modalBikeTitle" [nzFooter]="modalBikeFooter"
  (nzOnCancel)="closeBikeModal()">
  <!-- Form -->
  <ng-template #modalBikeTitle> Alterar Bicicleta </ng-template>

  <form nz-form [formGroup]="bikeForm">
    <p>
      Bicicleta atribuída: <b>{{ dataInModal?.bike?.identification }}</b>
    </p>
    <nz-form-item>
      <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Campo obrigatório">
        <nz-select nzShowSearch nzAllowClear formControlName="bike_id" nzPlaceHolder="Selecionar Bike">
          <nz-option nzCustomContent *ngFor="let c of listFreeBikes" [nzValue]="c.id" [nzLabel]="
              'Bike: ' +
              c?.bike_model[0]?.typology?.name +
              ' ID: ' +
              c.id +
              ' Identificação: ' +
              c.identification +
              ' Tamanho: ' +
              c.size
            ">
            Bike: {{ c?.bike_model[0]?.typology?.name }} ID: {{ c.id }} Identificação: {{ c.identification }} Tamanho:
            {{ c.size }}
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <p>
      Local de levantamento: <b>{{ dataInModal?.pickup_location }}</b>
    </p>

    <nz-form-item>
      <nz-form-control [nzSpan]="24" nzHasFeedback>
        <input nz-input formControlName="pickup_location" placeholder="Local de Levantamento" />
      </nz-form-control>
    </nz-form-item>
  </form>

  <ng-template #modalBikeFooter>
    <button nz-button nzType="primary" [nzLoading]="changeBikeLoading" [disabled]="!statusForm.valid"
      (click)="changeBike(bikeForm.value, dataInModal)">
      Alterar
    </button>
  </ng-template>
</nz-modal>

<nz-modal [nzOkLoading]="printLoading" [(nzVisible)]="isPrintModalVisible" nzTitle="Imprimir Listagem"
  (nzOnCancel)="closePrintModal()" (nzOnOk)="printFile()">
  <label><span class="red">* </span>Período:</label>
  <div nz-row nzGutter="8" class="print-model-input">
    <nz-range-picker [(ngModel)]="periodDate" [nzDisabledDate]="disableEndDate" style="width: 100%"></nz-range-picker>
  </div>

  <label><span class="red">* </span>Ordenar por:</label>
  <div nz-row nzGutter="8" class="print-model-order">
    <div nz-col nzSpan="12">
      <nz-select [(ngModel)]="orderFilter" name="selectedOrderFilter" nzPlaceHolder="Campo" style="width: 100%">
        <nz-option *ngFor="let orderFilter of orderFilters" [nzLabel]="orderFilter.name" [nzValue]="orderFilter.key">
        </nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="12">
      <nz-select [(ngModel)]="order" name="selectedOrder" nzPlaceHolder="Ordenar" style="width: 100%">
        <nz-option *ngFor="let order of ordering" [nzLabel]="order.name" [nzValue]="order.key"> </nz-option>
      </nz-select>
    </div>
  </div>

  <label><span class="red">* </span>Estado:</label>
  <div nz-row nzGutter="8" class="print-model-input">
    <nz-select [(ngModel)]="status" name="selectedStatus" nzPlaceHolder="Estados" style="width: 100%">
      <nz-option *ngFor="let sts of statusList.status" [nzLabel]="sts.pt" [nzValue]="sts.key"> </nz-option>
    </nz-select>
  </div>

  <label><span class="red">* </span>Tipo de Ficheiro:</label>
  <div nz-row nzGutter="8" class="print-model-input">
    <nz-select [(ngModel)]="file_type" name="file_type" nzPlaceHolder="Tipo ficheiro" style="width: 100%">
      <nz-option *ngFor="let file_type of file_types" [nzLabel]="file_type.label" [nzValue]="file_type.value">
      </nz-option>
    </nz-select>
  </div>
</nz-modal>

<!-- Save Trip -->
<nz-modal [(nzVisible)]="isBikeKilometersVisible" [nzContent]="modalBikeKmContent" [nzFooter]="modalBikeKmFooter"
  nzTitle="Resgistro de quilômetros" (nzOnCancel)="closeBikeKm()">
  <ng-template #modalBikeKmContent>
    <form nz-form [formGroup]="tripForm" (ngSubmit)="submit(tripForm.valid, tripForm.value)">
      <div nz-row nzGutter="16" nzType="flex">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="trip_start">Data</nz-form-label>
            <nz-form-control nzErrorTip="Campo obrigatório">
              <nz-date-picker formControlName="trip_start" id="trip_start" name="trip_start"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row nzType="flex" nzGutter="16">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="distance">Distância</nz-form-label>
            <nz-form-control nzErrorTip="Campo obrigatório">
              <nz-input-group nzAddOnAfter="km">
                <input mask="0*.00" formControlName="distance" id="distance" name="distance" nz-input />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row nzType="flex" nzGutter="16">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="time">Tempo</nz-form-label>
            <nz-form-control nzErrorTip="Campo obrigatório">
              <nz-input-group nzAddOnAfter="minutos">
                <input mask="0*" formControlName="time" id="time" name="time" nz-input />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row nzType="flex" nzGutter="16">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="description">Descrição</nz-form-label>
            <nz-form-control nzErrorTip="Campo obrigatório">
              <textarea rows="5" maxlength="255" nz-input formControlName="description" id="description"
                name="description"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #modalBikeKmFooter>
    <div nz-row nzType="flex" nzJustify="end">
      <div nz-col nzSpan="24" class="actions">
        <button nz-button nzType="default" type="reset" (click)="reset()"><i nz-icon nzType="delete"></i>Limpar</button>
        <button nz-button nzType="primary" type="submit" (click)="submit()" [nzLoading]="tripLoading"
          [disabled]="!tripForm.valid">
          <i nz-icon nzType="save"></i>Gravar
        </button>
      </div>
    </div>
  </ng-template>
</nz-modal>