<div class="container">
  <nz-form-item>
    <nz-form-label nzRequired>Reverter para o estado</nz-form-label>
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-select [(ngModel)]="selected_rollback" class="w-100">
        <nz-option *ngFor="let rollback of possible_rollbacks[application.status]" [nzLabel]="rollback.label"
          [nzValue]="rollback.event">
        </nz-option>
      </nz-select>
      <nz-form-explain *ngIf="!selected_rollback && submitted">
        Escolha o estado apra o qual reverter</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Notas</nz-form-label>
    <nz-form-control [nzSm]="24" [nzXs]="24">
      <textarea  nz-input class="w-100" type="text" [(ngModel)]="notes"> </textarea>
    </nz-form-control>
  </nz-form-item>
</div>
