<!-- BEGIN: Header -->
<div nz-row>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="20" [nzXs]="22">
    <div class="offers-header">
      <h2 class="title-top-page"> {{
        translations?.length > 1
        ? (translations | languageChange)?.name
        : ('DASHBOARD.BUTTON.SOCIAL_SUPPORT' | translate)
        }}</h2>
      <p class="sub-title-top-page"> {{ 'SOCIAL_SUPPORT.MY_COLABORATION_LIST' | translate }}</p>

    </div>
  </div>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>
<!-- END: Header -->

<div nz-row>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="20" [nzXs]="22">
    <!-- BEGIN: Role choices -->
    <div class="list-offer--roles" *ngIf="
        ('social_scholarship:experiences:responsable' | hasPermission) &&
        ('social_scholarship:experiences:advisor' | hasPermission)
      ">
      <span [ngClass]="{ 'box-selected': isAdvisor, box: !isAdvisor }" (click)="isAdvisor = true">
        {{ 'SOCIAL_SUPPORT.OFFERS.ADVISOR' | translate }}
      </span>
      <span [ngClass]="{ 'box-selected': isResponsible, box: !isResponsible }" (click)="isResponsible = true">
        {{ 'SOCIAL_SUPPORT.OFFERS.RESPONSIBLE' | translate }}
      </span>
    </div>
    <!-- END: Role choices -->

    <!-- BEGIN: Offers list -->
    <nz-spin class="list-offer--loading" *ngIf="isLoading; else offerList"></nz-spin>
    <ng-template #offerList>
      <ng-container *ngIf="offers.length !== 0; else noOffersHistoryTemplate">
        <div nz-row class="list-offer--item" nzGutter="8" *ngFor="let offer of offers">
          <div nz-col>
            <app-offers-card [translations]="translations" [isAdvisor]="isAdvisor" [offer]="offer" (isCancel)="onCancel()"
              (openList)="onManage(offer.id)"></app-offers-card>

            <ng-container *ngIf="isAdvisor && offerToManage === offer.id">
              <app-selected-candidates [offerId]="offer.id" (candidatesChange)="onCandidatesChange()">
              </app-selected-candidates>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-template>
    <!-- END: Offers list -->
  </div>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>

<!-- BEGIN: Offers History -->
<div nz-row class="list-offer--item">
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="20" [nzXs]="22">
    <nz-collapse [nzBordered]="false">
      <nz-collapse-panel #collapsePanel *ngFor="let panel of panels" [nzHeader]="collapseHeaderTemplate"
        [nzActive]="panel.active" [ngStyle]="panel.customStyle" [nzShowArrow]="false">
        <ng-template #collapseHeaderTemplate>
          <nz-divider [nzText]="collapseHeaderTextTemplate"></nz-divider>
        </ng-template>

        <ng-template #collapseHeaderTextTemplate>
          <div class="box-panel">
            {{ panel.name | translate }}
            <i nz-icon type="icons:icons-arrow-2-right" [nzRotate]="collapsePanel.nzActive ? 90 : -90"></i>
          </div>
        </ng-template>

        <div *ngIf="offersHistory.length !== 0; else noOffersHistoryTemplate" nz-row class="list-offer--item"
          style="margin-top: 10px;">
          <div nz-row nzType="flex">
            <div nz-col nzMd="12" nzXl="8" *ngFor="let history of offersHistory">
              <app-offers-history-card [offer]="history"></app-offers-history-card>
            </div>
          </div>
        </div>
      </nz-collapse-panel>
    </nz-collapse>

    <ng-template #noOffersHistoryTemplate>
      <div nz-row>
        <div nz-col class="list-offer--no-data">
          {{ 'SOCIAL_SUPPORT.OFFERS.NO_RESULTS' | translate }}
        </div>
      </div>
    </ng-template>
  </div>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>
<!-- END: Offers History -->
