:host::ng-deep {
    .ant-radio-button-wrapper-checked {
        box-shadow: -1px 0 0 0 var(--primary-color) !important;
    }
    .ant-radio-button-wrapper-checked {
        background-color: white;
    }
    .ant-radio-button-wrapper:last-child {
        background-color: white;
    }
}