@import 'theme';
.experience-header {
  margin-top: 40px;
  margin-bottom: 40px;
  &--title {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #111111;
    margin-bottom: 4px;
  }
  &--subtitle {
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #111111;
  }
  &--application-button {
    float: right;
    position: relative;
    top: -10px;
  }
}
.application-button-mobile {
  display: none;
}
@media screen and (max-width: 810px) {
  .experience-header {
    &--application-button {
      display: none;
    }
  }
  .application-button-mobile {
    display: inline;
  }
}

.button-social {
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
  color: black;
  width: 400px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 21px;
  border: solid 2px var(--primary-color);
  @media screen and (max-width: 600px) {
    width: 100%;
    padding: 0px;
  }
  @media screen and (max-width: 800px) {
    width: 100%;
    padding: 0px;
  }
}
