<div nz-row class="experience-header">
  <div nz-col [nzSm]="2" [nzXs]="1"></div>

  <div nz-col [nzSm]="10" [nzXs]="22">
    <h2 class="title-top-page"> {{
      translations?.length > 1 ? (translations | languageChange)?.name : ('DASHBOARD.BUTTON.VOLUNTEERING' | translate)
      }}</h2>
    <p class="sub-title-top-page">{{ 'VOLUNTEERING.VOLUNTEERING_ACTIONS' | translate }}</p>
  </div>

  <!-- Create application button -->



  <div nz-col [nzSm]="10" [nzXs]="22" style="margin-left: 5px; text-align: right;">

    <app-button style="margin-right: 15px;"
      *ngIf="('volunteering:applications:create' | hasPermission) && !showExperienceDetail && !activeApplicationButton"
      (click)="goToApplication()" [translate]="'U_BIKE.APPLICATIONS.APPLY'" type="tertiary"
      [buttonStyle]="{'margin-top':'5px'}"></app-button>

    <app-button style="margin-right: 15px;"
      *ngIf="('volunteering:applications:read' | hasPermission) && !showExperienceDetail && activeApplicationButton"
      (click)="goToReview()" [translate]="'VOLUNTEERING.BUTTONS.DETAIL'" type="tertiary"
      [buttonStyle]="{'margin-top':'5px'}"></app-button>
    <app-button style="margin-right: 15px;"
      *ngIf="('volunteering:experiences:responsable' | hasPermission) && !showExperienceDetail"
      [buttonStyle]="{'margin-top':'5px'}" (click)="goToOffer()" [translate]="'VOLUNTEERING.BUTTONS.CREATE_OFFER'"
      type="tertiary"></app-button>
    <app-button style="margin-right: 15px" [buttonStyle]="{ 'margin-top': '5px' }" (click)="complain()"
    *ngIf="('volunteering:applications:create' | hasPermission)" [translate]="'VOLUNTEERING.BUTTONS.COMPLAIN'" type="tertiary"></app-button>
  </div>

  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>

<app-list-experiences *ngIf="!showExperienceDetail"></app-list-experiences>
