<div nz-row>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>

  <div nz-col nz-col [nzXs]="22" [nzSm]="20" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20" class="top">

    <h2 class="title-top-page">{{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TITLE' | translate }}</h2>

    <div class="occurrences-container">


      <nz-spin [nzSpinning]="loading">
        <nz-empty [nzNotFoundFooter]="userApplications" class="box-empty"
          [nzNotFoundContent]="'MOBILITY.APPLICATIONS.NO_CONTENT' | translate" *ngIf="userApplications.length === 0">
        </nz-empty>
        <div nz-row style="margin-top: 20px;" *ngIf="userApplications.length != 0">
          <div nz-col>
            <nz-card id="cardOccurrencesComponent" class="border-radius-8">

              <div class="padding-table hidden-xs">
                <table class="table table-responsive">
                  <tr class="header-table">
                    <th></th>
                    <th>
                      <div class="header-table-div">
                        <span>{{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.DATESUBMIT' | translate }}</span>
                      </div>
                    </th>
                    <th>
                      <div class="header-table-div">
                        <span>{{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.DATEOCCURRENCE' | translate }}</span>
                      </div>
                    </th>
                    <th>
                      <div class="header-table-div">
                        <span>{{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.TYPEOC' | translate }}</span>
                      </div>
                    </th>
                    <th>
                      <div class="header-table-div">
                        <span>{{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.HAS_ATTACHEMENTS' | translate }}</span>
                      </div>
                    </th>
                    <th>
                      <div class="header-table-div">
                        <span>
                          {{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.STATUSOC' | translate }}
                        </span>
                      </div>
                    </th>
                    <th>
                      <div class="header-table-div"></div>
                    </th>
                  </tr>
                  <tbody *ngFor="let user of userApplications; let idx = index">
                    <tr class="body-table" [ngClass]="{'par':!isPar(idx), 'impar':isPar(idx)}">
                      <td nzShowExpand [(nzExpand)]="mapOfExpandData[idx]" *ngIf="user.answer; else emptyTd"></td>
                      <td>
                        <span>
                          {{ user?.created_at | date: 'dd-MM-yyyy' }}
                        </span>
                      </td>
                      <td>
                        {{ user.begin_date | translate | date :'dd-MM-yyyy' }}
                      </td>
                      <td>
                        <span>
                          {{
                          user?.subject == 'THEFT' ? ('U_BIKE.DASHBOARD.SUBJECT.THEFT' | translate) :
                          user?.subject == 'WITHDRAWAL' ? ('U_BIKE.DASHBOARD.SUBJECT.WITHDRAWAL' | translate) :
                          user?.subject == 'ABSENCE' ? ('U_BIKE.DASHBOARD.SUBJECT.ABSENCE' | translate) :
                          user?.subject == 'COMPLAINT' ? ('U_BIKE.DASHBOARD.SUBJECT.COMPLAINT' | translate) :
                          user?.subject == 'CONTESTATION' ? ('U_BIKE.DASHBOARD.SUBJECT.CONTESTATION' | translate) :
                          user?.subject == 'RENOVATION' ? ('U_BIKE.DASHBOARD.SUBJECT.RENOVATION' | translate) :
                          user?.subject == 'MAINTENANCE_REQUEST' ? ('U_BIKE.DASHBOARD.SUBJECT.MAINTENANCE_REQUEST' |
                          translate) :
                          user?.subject == 'PRIVATE_MAINTENANCE' ? ('U_BIKE.DASHBOARD.SUBJECT.PRIVATE_MAINTENANCE' |
                          translate) :
                          user?.subject == 'ADDITIONAL_MAINTENANCE_KIT' ?
                          ('U_BIKE.DASHBOARD.SUBJECT.ADDITIONAL_MAINTENANCE_KIT' | translate) :
                          user?.subject == 'BREAKDOWN' ? ('U_BIKE.DASHBOARD.SUBJECT.BREAKDOWN' | translate) : '-'
                          }}
                        </span>
                      </td>
                      <td>
                        <div *ngIf="user.file_id">
                          <i nz-icon nzType="icons:icons-success" class="btn-checked" nzTheme="outline"></i>
                        </div>
                        <div *ngIf="!user.file_id">
                          <i nz-icon nzType="icons:icons-radiobutton-unchecked" class="btn-unchecked"
                            nzTheme="outline"></i>
                        </div>
                      </td>
                      <td>
                        <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="body-table padding-top-13">
                         <nz-tag class="tab-status cursor-cont" [ngClass]="checkTagStatusColor(user)">
                            {{ user.subject !== 'PRIVATE_MAINTENANCE' ? ('U_BIKE.APPLICATIONS.STATUS.'+ user.status.toString().toUpperCase() | translate) 
                            : ('U_BIKE.APPLICATIONS.STATUS.CLOSE_AUT'.toUpperCase() | translate) }}
                        </nz-tag>
                        </div>
                      </td>
                      <td>
                        <nz-dropdown [nzTrigger]="'hover'" [nzPlacement]="'bottomRight'" *ngIf="user.status === status.SUBMITTED">
                          <button nz-button nz-dropdown nzType="link" class="shopping-cart__btn">
                            <i nz-icon nzType="ellipsis" style="font-size:22px" nzTheme="outline"></i>
                          </button>
                          <div nz-menu class="cart-dropdown">
                            <button nz-button nzType="link" (click)="goEdit(user)">
                              {{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.EDIT' | translate }}
                            </button>
                          </div>
                        </nz-dropdown>
                      </td>
                    </tr>
                    <tr [nzExpand]="mapOfExpandData[idx]" class="extra-info background-white" >
                      <td></td>
                      <td [colSpan]="6">
                        <div class="extra-info__row">
                          <div class="extra-info__title">{{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.ANSWER' | translate }}:</div>
                          <div class="extra-info__desc">{{ user.answer }}</div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="padding-table hidden-md">
                <div *ngFor="let user of userApplications; let idx = index">
                  <div [ngClass]="{'par':isPar(idx), 'impar':!isPar(idx)}">
                    <div nz-row nzType="flex" style="align-items: stretch;">
                      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="header-table-div padding-left-5">
                        <span>{{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.DATESUBMIT' | translate }}</span>
                      </div>
                      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="body-table padding-top-13">
                        <span> {{ user.created_at | date: 'dd-MM-yyyy' }} </span>
                      </div>
                    </div>
                    <div nz-row nzType="flex" style="align-items: stretch;">
                      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="header-table-div padding-left-5">
                        <span>{{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.DATEOCCURRENCE' | translate }}</span>
                      </div>
                      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="body-table padding-top-13">
                        <span> {{ user.begin_date | date: 'dd-MM-yyyy' }} </span>
                      </div>
                    </div>
                    <div nz-row nzType="flex" style="align-items: stretch;">
                      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="header-table-div padding-left-5">
                        <span>{{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.TYPEOC' | translate }}</span>
                      </div>
                      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="body-table padding-top-13">
                        <span> {{
                          user?.subject == 'THEFT' ? ('U_BIKE.DASHBOARD.SUBJECT.THEFT' | translate) :
                          user?.subject == 'WITHDRAWAL' ? ('U_BIKE.DASHBOARD.SUBJECT.WITHDRAWAL' | translate) :
                          user?.subject == 'ABSENCE' ? ('U_BIKE.DASHBOARD.SUBJECT.ABSENCE' | translate) :
                          user?.subject == 'COMPLAINT' ? ('U_BIKE.DASHBOARD.SUBJECT.COMPLAINT' | translate) :
                          user?.subject == 'CONTESTATION' ? ('U_BIKE.DASHBOARD.SUBJECT.CONTESTATION' | translate) :
                          user?.subject == 'RENOVATION' ? ('U_BIKE.DASHBOARD.SUBJECT.RENOVATION' | translate) :
                          user?.subject == 'MAINTENANCE_REQUEST' ? ('U_BIKE.DASHBOARD.SUBJECT.MAINTENANCE_REQUEST' |
                          translate) :
                          user?.subject == 'PRIVATE_MAINTENANCE' ? ('U_BIKE.DASHBOARD.SUBJECT.PRIVATE_MAINTENANCE' |
                          translate) :
                          user?.subject == 'ADDITIONAL_MAINTENANCE_KIT' ?
                          ('U_BIKE.DASHBOARD.SUBJECT.ADDITIONAL_MAINTENANCE_KIT' | translate) :
                          user?.subject == 'BREAKDOWN' ? ('U_BIKE.DASHBOARD.SUBJECT.BREAKDOWN' | translate) : '-'
                          }}</span>
                      </div>
                    </div>
                    <div nz-row nzType="flex" style="align-items: stretch;">
                      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="header-table-div padding-left-5">
                        <span>{{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.HAS_ATTACHEMENTS' | translate }}</span>
                      </div>
                      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="body-table padding-top-13">
                        <div *ngIf="user.file_id">
                          <i nz-icon nzType="icons:icons-success" class="btn-checked" nzTheme="outline"></i>
                        </div>
                        <div *ngIf="!user.file_id">
                          <i nz-icon nzType="icons:icons-radiobutton-unchecked" class="btn-unchecked"
                            nzTheme="outline"></i>
                        </div>
                      </div>
                    </div>
                    <div nz-row nzType="flex" style="align-items: stretch;">
                      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="header-table-div padding-left-5">
                        <span>{{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.STATUSOC' | translate }}</span>
                      </div>
                      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="body-table padding-top-13">
                        <nz-tag class="tab-status cursor-cont" [ngClass]="checkTagStatusColor(user)">
                          {{ user.subject !== 'PRIVATE_MAINTENANCE' ? ('U_BIKE.APPLICATIONS.STATUS.'+ user.status.toString().toUpperCase() | translate) 
                          : ('U_BIKE.APPLICATIONS.STATUS.CLOSE_AUT'.toUpperCase() | translate) }}
                      </nz-tag>
                      </div>
                    </div>
                    <div nz-row nzType="flex" *ngIf="user?.answer">
                      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="header-table-div padding-left-5">
                        <span>{{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.ANSWER' | translate }}</span>
                      </div>
                      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="body-table padding-top-13">{{
                        user.answer
                      }}</div>
                    </div>
                    <div nz-row style="text-align: right;">
                      <nz-dropdown [nzTrigger]="'hover'" [nzPlacement]="'bottomRight'" *ngIf="user.status === status.SUBMITTED">
                        <button nz-button nz-dropdown nzType="link" class="shopping-cart__btn">
                          <i nz-icon nzType="ellipsis" style="font-size:22px" nzTheme="outline"></i>
                        </button>
                        <div nz-menu class="cart-dropdown">
                          <button nz-button nzType="link" (click)="goEdit(user)">
                            {{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.EDIT' | translate }}
                          </button>
                        </div>
                      </nz-dropdown>
                    </div>
                  </div>
                </div>
              </div>
            </nz-card>
          </div>
          <div nz-col [nzXs]="24" [nzMd]="24" style="text-align: center; padding-top: 20px;">
            <nz-pagination [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzShowSizeChanger]="false"
              [nzTotal]="total" nzShowSizeChanger (nzPageIndexChange)="paginationSearch()"
              (nzPageSizeChange)="paginationSearch(true)"></nz-pagination>
          </div>
        </div>
      </nz-spin>
    </div>
  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>
</div>

<ng-template #emptyTd><td></td></ng-template>