:host::ng-deep {
  i svg path {
    fill: var(--primary-color);
  }
}
.top {
  padding-top: 25px;
}

.card {

  &__status {
      font-size: 11px;
      font-weight: bold;
      letter-spacing: 0.5px;
      color: #ffffff;
      text-align: center;
      align-items: center;
      border: none;
      cursor: context-menu;
  }
}

.occurrences-container {
  margin-top: 25px;
  margin-bottom: 40px;

  &__title {
      font-size: 21px;
      font-weight: bold;
      line-height: 1.14;
      color: #111111;
      margin-bottom: 14px;
    }

  &__desc {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      color: #111111;
      margin-bottom: 24px;
  }

  &__button-more {
      text-align: center;
      margin-bottom: 30px;
      margin-top: 30px;
  }
}

.border-radius-8 {
  border-radius: 8px;
}

.header-table {
  font-size: unset;
  text-transform: unset;
}

.body-table {
  color: #010b07;
  line-height: normal;
  font-size: unset;
  font-weight: normal;
}

.header-table-div {
  padding-bottom:15px;
  padding-top:15px;
  font-weight: normal;
  text-transform: unset;
  color: var(--primary-7);
}

.icon {
  padding-bottom:15px;
  padding-top:15px;
  font-size: 25px;
  padding-left:10px;
  padding-right: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-of-type(even) {
  background: #eee;
}

th {
  background: white;
}

td, th {
  padding: 6px;
  text-align: left;
  font-size:14px;
}




#cardOccurrencesComponent ::ng-deep .ant-card-body {
padding:0px !important;
}


.text-center {
  text-align: center;
}

.padding-table {
  padding-top:3px;
  padding-bottom: 10px;
}

.hidden-md {
  display:none;
}

.par {
  background-color:white;
}

.impar {
  background-color: var(--primary-1);
}


.contracted {
  background-color: #1ba974;
}
.waiting-approval {
  background-color: #f8ca00;
}
.approved {
  background-color: #0d69dd;
}
.finished {
  background-color: #d1d1d1;
}
.elaboration {
  background-color: #E1BC29;
}
.submitted {
  background-color: #4D9DE0;
}
.analysis {
  background-color: #7768AE;
}
.cancelled {
  background-color: #A4A4A4;
}
.dispatch {
  background-color: #88CCF1;
}
.assigned {
  background-color: #076743;
}
.enqueued {
  background-color: #D4B483;
}
.unassigned {
  background-color: #C1666B;
}
.suspended {
  background-color: #8EA4D2;
}
.complaint {
  background-color: #F75C03;
}
.accepted {
  background-color: #9DBBAE;
}
.contracted {
  background-color: #1ba974;
}
.rejected {
  background-color: #D0021B;
}
.quiting {
  background-color: #EF476F;
}
.withdrawal {
  background-color: #246A73;
}
.closed {
  background-color: #000000;
}




.box-empty {
background-color: white;
border-radius: 7px;
padding-top: 10px;
padding-bottom: 15px;
margin: 0px !important;
}

@media screen and (max-width:600px) {
  .hidden-xs {
      display: none;
  }

  .hidden-md {
      display:block;
  }

  .padding-left-5 {
      padding-left:5px;
  }

  .padding-top-13 {
      padding-top: 13px;
  }

}


@media screen and (max-width:800px) {
  .hidden-xs {
      display: none;
  }

  .hidden-md {
      display:block;
  }

  .padding-left-5 {
      padding-left:5px;
  }

  .padding-top-13 {
      padding-top: 13px;
  }

}

.btn{
  &-unchecked{
    font-size: 18px;
    opacity: 50%;
  }
  &-checked{
    font-size: 18px;
  }
}

.dropdown-table{
  &-option{
    font-weight: 600;
    padding: 4px 12px;
    padding-right: 20px;
    font-weight: 600;
  }
  &-option:hover{
    cursor: pointer;
    background-color: #f3f3f3;
  }
}

.min-options{
  align-items: stretch;
  text-align: center;
  &__delete{
    color: red;
    width: 70%;
    border: solid 1px;
    height: 40px;
  }
  &__edit{
    color: #f8ca00;
    width: 70%;
    border: solid 1px;
    height: 40px;
  }
  &__info{

    color: #3d8a87;
    width: 70%;
    border: solid 1px;
    height: 40px;
  }
  &__delete:hover{
    background-color: red;
    color: white;
  }
  &__edit:hover{
    background-color: #f8ca00;
    color: white;
  }
  &__info:hover{
    background-color: #3d8a87;
    color: white;
  }
}

.padding-bottom-4{
  padding-bottom: 4px;
}

.background-white{
  background-color: white;
}

.extra-info{
  background-color: white;

  &__row{
    display: flex;
  }

  &__title{
    font-weight: bold;
  }

  &__desc{
    margin-left: 10px;
  }
}
