<nz-table class="schedule-input" [nzData]="scheduleRows" [nzShowPagination]="false" [nzScroll]="{ x: '100px' }">
  <thead>
    <tr>
      <th></th>
      <th>{{ 'SHARED.SCHEDULE.WEEK_DAYS.MONDAY' | translate }}</th>
      <th>{{ 'SHARED.SCHEDULE.WEEK_DAYS.TUESDAY' | translate }}</th>
      <th>{{ 'SHARED.SCHEDULE.WEEK_DAYS.WEDNESDAY' | translate }}</th>
      <th>{{ 'SHARED.SCHEDULE.WEEK_DAYS.THURSDAY' | translate }}</th>
      <th>{{ 'SHARED.SCHEDULE.WEEK_DAYS.FRIDAY' | translate }}</th>
      <th>{{ 'SHARED.SCHEDULE.WEEK_DAYS.SATURDAY' | translate }}</th>
      <th>{{ 'SHARED.SCHEDULE.WEEK_DAYS.SUNDAY' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of scheduleRows">
      <td>{{ row.title | translate }}</td>
      <td *ngFor="let i of row.keys" [formGroup]="form.get(i)">
        <label class="primary-checkbox" formControlName="active" nz-checkbox></label>
        <a (click)="openScheduleHoursModal(i)" class="schedule-hours">
          {{ form.get(i + '.time_begin').value | date: 'HH:mm' }}
          {{ 'SHARED.SCHEDULE.UNTIL' | translate }}
          {{ form.get(i + '.time_end').value | date: 'HH:mm' }}
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>
