.schedule-input {
  margin-bottom: 30px;

  tr > th {
    background-color: white;
    color: #2c2c2c;
    font-family: Montserrat;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.71;
    text-align: center;
  }

  tr:hover > td {
    background-color: white;
  }

  th,
  td {
    text-align: center;
  }

  .schedule-hours {
    display: block;
    padding: 5px 0;
  }
}
