<nz-table [nzData]="priceVariations" [nzShowPagination]="false">
    <thead>
      <tr>
        <th>{{ 'HEALTH.SPECIALTY.TECHNICAL_DATA.LABEL_TARIFF' | translate }}</th>
        <th>{{ 'HEALTH.SPECIALTY.TECHNICAL_DATA.LABEL_PRICE' | translate }}</th>
        <th>{{ 'HEALTH.SPECIALTY.TECHNICAL_DATA.LABEL_VAT' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-priceVariation [ngForOf]="priceVariations" let-i="index">
        <tr>
          <td>{{ priceVariation.tariffs[0].description }}</td>
          <td>{{ priceVariation.price }} €</td>
          <td>{{ (priceVariation.vat.name).replace("IVA","") }}</td>
        </tr>
      </ng-template>
    </tbody>
</nz-table>
<div style="padding-bottom: 55px">
  <div nz-row nzType="flex" style="margin-top: 25px;"><span class="information__title">{{ 'HEALTH.SPECIALTY.TECHNICAL_DATA.LABEL_INFORMATION' | translate }}</span></div>
  <div  nz-row [innerHTML]="payment_information"></div>
</div>