<div nz-row nzType="flex" nzJustify="start" *ngIf="application">
  <div nz-col nzSpan="24" class="padding-top-20">
    <div nz-row class="title">Disponível para realizar atividades em</div>
    <div nz-row class="detail-field">
      <span *ngFor="let organic_unit of application?.organic_units; let last = last" class="box">
        {{ organic_unit.organic_unit?.name }}{{ !last ? ', ' : '' }}
      </span>
    </div>
  </div>
  <div nz-col nzSpan="24" class="padding-top-20">
    <div nz-row class="title">Atividade Preferencial</div>
    <div nz-row class="detail-field">
      <span *ngFor="let activity of application?.preferred_activities; let last = last" class="box">
        {{ activity?.activity.name }}{{ !last ? ', ' : '' }}
      </span>
    </div>
  </div>
  <div nz-col nzSpan="24" class="padding-top-20">
    <div nz-row class="title">Colaborou no ano passado?</div>
    <div nz-row class="detail-field">
      <fi-sas-tag [value]="application?.has_collaborated_last_year"></fi-sas-tag>
    </div>
  </div>
  <div nz-col nzSpan="24" class="padding-top-20">
    <div nz-row class="title">Qual atividade</div>
    <div nz-row class="detail-field">
      {{ application?.previous_activity_description ? application?.previous_activity_description : '-' }}
    </div>
  </div>
  <div nz-col nzSpan="24" class="padding-top-20">
    <div nz-row class="title">Horário</div>
    <div nz-row class="detail-field">
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
        <nz-table
          class="schedule"
          [nzData]="['preferred_schedule']"
          [nzShowPagination]="false"
          [nzScroll]="{ x: '100px' }"
        >
          <thead>
            <tr>
              <th></th>
              <th>segunda</th>
              <th>terça</th>
              <th>quarta</th>
              <th>quinta</th>
              <th>sexta</th>
              <th>sábado</th>
              <th>domingo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="schedule--period-day">Manhã</td>
              <td>
                <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(4)" [nzTheme]="'outline'"></i>
              </td>
              <td>
                <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(7)" [nzTheme]="'outline'"></i>
              </td>
              <td>
                <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(10)" [nzTheme]="'outline'"></i>
              </td>
              <td>
                <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(13)" [nzTheme]="'outline'"></i>
              </td>
              <td>
                <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(16)" [nzTheme]="'outline'"></i>
              </td>
              <td>
                <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(19)" [nzTheme]="'outline'"></i>
              </td>
              <td>
                <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(1)" [nzTheme]="'outline'"></i>
              </td>
            </tr>

            <tr>
              <td class="schedule--period-day">Tarde</td>
              <td>
                <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(5)" [nzTheme]="'outline'"></i>
              </td>
              <td>
                <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(8)" [nzTheme]="'outline'"></i>
              </td>
              <td>
                <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(11)" [nzTheme]="'outline'"></i>
              </td>
              <td>
                <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(14)" [nzTheme]="'outline'"></i>
              </td>
              <td>
                <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(17)" [nzTheme]="'outline'"></i>
              </td>
              <td>
                <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(20)" [nzTheme]="'outline'"></i>
              </td>
              <td>
                <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(2)" [nzTheme]="'outline'"></i>
              </td>
            </tr>

            <tr>
              <td class="schedule--period-day">Noite</td>
              <td>
                <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(6)" [nzTheme]="'outline'"></i>
              </td>
              <td>
                <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(9)" [nzTheme]="'outline'"></i>
              </td>
              <td>
                <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(12)" [nzTheme]="'outline'"></i>
              </td>
              <td>
                <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(15)" [nzTheme]="'outline'"></i>
              </td>
              <td>
                <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(18)" [nzTheme]="'outline'"></i>
              </td>
              <td>
                <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(21)" [nzTheme]="'outline'"></i>
              </td>
              <td>
                <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(3)" [nzTheme]="'outline'"></i>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
  <div *ngIf="application?.language_skills" nz-col nzSpan="24" class="padding-top-20">
    <div nz-row class="title">Línguas</div>
    <div nz-row class="detail-field">
      <span *ngFor="let language of application?.language_skills; let last = last" class="box">
        {{ language }}{{ !last ? ', ' : '' }}
      </span>
    </div>
  </div>

  <div nz-col nzSpan="24" class="padding-top-20" *ngIf="(application?.files || []).length">
    <div nz-row class="title">Anexos</div>
    <div nz-row class="detail-field">
      <div *ngFor="let file of application.files">
        <i nz-icon nzType="paper-clip" nzTheme="outline"></i>
        <a [href]="file.url" rel="noopener noreferrer" target="_blank" [title]="file.path" class="attachment-url">{{ file.filename ? file.filename : file.path }}</a>
      </div>
    </div>
  </div>
</div>
