@import 'theme';

.detail-field {
  color: var(--primary-color);
  font-weight: normal;
  padding-top: 5px;
}

.padding-top-20 {
  padding-top: 20px;
}

.title {
  color: black;
}

nz-descriptions {
  margin-top: 24px;
}

.schedule {
  margin-bottom: 10px;

  &--title {
    margin-bottom: 10px;
  }
}

.box {
  width: fit-content;
}

.attachment-url {
  padding-left: 10px;
}
