<!-- 
    LOCALS PICKER SCREEN
-->
<!-- FOR ORIGIN LOCATION -->
<StackLayout class="mobility-dashboard__container" style="background-color:white;"  *ngIf="screen == 1">
    <!-- action bar -->
    <StackLayout class="fisas__actionbar">
        <GridLayout columns="auto, auto, *" rows="auto">
          <Label col="0" verticalAlignment="center" class="fisas__icon" text="&#xe906;" (tap)="showScreen(0)"></Label>
          <Label col="1" verticalAlignment="center" class="fisas__p--light-medium" text=" {{ 'action-bar.back' | translate }}" (tap)="showScreen(0)"></Label>
        </GridLayout>
    </StackLayout>
    <!-- local list -->
    <ScrollView>
        <StackLayout style="width: 80%;">
            <Label class="fisas__color--{{ institution }}" style="font-size: 14; font-weight: 500; margin-bottom: 10; margin-top: 10;" text="{{ 'mobility.selectText' | translate }}"></Label>
            <ng-container *ngFor="let item of locals;">
                <Label class="mobility-dashboard__local" text={{item?.local}} (tap)=setOrigin(item?.id,item?.local)></Label>
            </ng-container>
        </StackLayout>
    </ScrollView> 
</StackLayout>

<!-- FOR DESTINY LOCATION -->
<StackLayout class="mobility-dashboard__container" style="background-color:white;"  *ngIf="screen == 2">
    <!-- action bar -->
    <StackLayout class="fisas__actionbar">
        <GridLayout columns="auto, auto, *" rows="auto">
          <Label col="0" verticalAlignment="center" class="fisas__icon" text="&#xe906;" (tap)="showScreen(0)"></Label>
          <Label col="1" verticalAlignment="center" class="fisas__p--light-medium" text=" {{ 'action-bar.back' | translate }}" (tap)="showScreen(0)"></Label>
        </GridLayout>
    </StackLayout>
    <!-- local list -->
    <ScrollView>
        <StackLayout style="width: 80%;">
            <!-- DESTINATION AREA -->
            <Label class="fisas__color--{{ institution }}" style="font-size: 14; font-weight: 500; margin-bottom: 10;" text="{{ 'mobility.searchText' | translate }}" textWrap="true"></Label>
            <FlexboxLayout style="flex-direction: row; margin-bottom: 12; align-items: center;">
                <Label class="fisas__icon mobility-dashboard__icon" text="&#xe934;"></Label>
                <StackLayout>
                    <TextField class="mobility-dashboard__textInputBorder" text='{{destination.label}}' hint="{{ 'mobility.destination' | translate }}" (textChange)=setPlace($event)></TextField>
                </StackLayout>
            </FlexboxLayout>
            <StackLayout class="hr-light"></StackLayout>
            <Label class="fisas__color--{{ institution }}" style="font-size: 14; font-weight: 500; margin-top: 20;" text="{{ 'mobility.selectText2' | translate }}"></Label>
            <ng-container *ngFor="let item of locals;">
                <Label class="mobility-dashboard__local" text={{item?.local}} (tap)=setDestiny(item?.id,item?.local)></Label>
            </ng-container>
        </StackLayout>
    </ScrollView> 
</StackLayout>
<!-- ----------- ----------- ----------- ----------- ----------- ----------- ----------- ----------- ----------- ----------- ----------- -->
<!-- ----------- ----------- ----------- ----------- ----------- ----------- ----------- ----------- ----------- ----------- ----------- -->
<!-- ----------- ----------- ----------- ----------- ----------- ----------- ----------- ----------- ----------- ----------- ----------- -->

<!-- 
    MAIN BOARD SCREEN
-->
<StackLayout class="mobility-dashboard__container" *ngIf="screen == 0">
    <!-- action bar -->
    <fi-action-bar [actionBarType]="3" actionBarTitle="{{ 'mobility.title' | translate }}" actionBarBack="dashboard"></fi-action-bar>

    <ScrollView>
    <StackLayout>
        <!-- BANNER IMAGE -->
        <Image width="100%" src="~/images/bus.png" horizontalAligment="center" loadMode="async"></Image>
        <!-- TICKETS :: PRICES -->
        <FlexboxLayout class="mobility-dashboard__tabBar">
            <StackLayout class="fisas__border--{{ institution }} {{(lowerScreen === 0) ? 'mobility-dashboard__tabBarItem--active' : ''}}" width="50%" verticalAlignment="center" (tap)="setLowerScreen(0)">
                <Label text="{{ 'mobility.tickets' | translate }}" textWrap="true" class="mobility-dashboard__tabBarItem";></Label>
            </StackLayout>
            <StackLayout class="fisas__border--{{ institution }} {{(lowerScreen === 1) ? 'mobility-dashboard__tabBarItem--active' : ''}}" width="50%" verticalAlignment="center" (tap)="setLowerScreen(1)">
                <Label text="{{ 'mobility.prices' | translate }}" class="mobility-dashboard__tabBarItem"></Label>
            </StackLayout>
        </FlexboxLayout>

        <!-- HORARIOS E BILHETES -->
        <StackLayout *ngIf="lowerScreen == 0">
            <!-- TRAVEL TYPE :: ONE WAY :: PASS -->
            <StackLayout orientation="horizontal" marginTop=15>
                <Label
                    class="fisas__btn-rounded mobility-dashboard__travel-type"
                    [ngClass]="{ 'mobility-dashboard__travel-type--active': travelType === 'oneway' }" (tap)="selectType('oneway')" text="{{ 'mobility.oneway' | translate }}">
                </Label>
                <Label
                    class="fisas__btn-rounded mobility-dashboard__travel-type" style="margin-left: 12;"
                    [ngClass]="{ 'mobility-dashboard__travel-type--active': travelType === 'pass' }" (tap)="selectType('pass')" text="{{ 'mobility.pass' | translate }}">
                </Label>
            </StackLayout>

            <!-- SEARCH ZONE -->
            <FlexboxLayout class="mobility-dashboard__searchcontainer">
                <!-- ORIGIN AREA -->
                <FlexboxLayout style="flex-direction: row; align-items: center; margin-top: 12;">
                    <Label class="fisas__icon mobility-dashboard__icon" text="&#xe933;"></Label>
                    <StackLayout>
                        <TextField class="mobility-dashboard__textInputBorder" [text]='origin.label' hint="{{ 'mobility.origin' | translate }}" [(ngModel)]="origin.label" editable="false" (tap)="showScreen(1)"></TextField>
                    </StackLayout>
                </FlexboxLayout>
                    
                <!-- Middle Icon -->
                <FlexboxLayout style="justify-content: flex-end; margin-top: -5; margin-bottom: -5;">
                    <Label class="fisas__icon mobility-dashboard__icon" text="&#xe91B;" (tap)=switchLocalInputs()></Label>
                </FlexboxLayout>

                <!-- DESTINATION AREA -->
                <FlexboxLayout style="flex-direction: row; align-items: center; margin-bottom: 12;">
                    <Label class="fisas__icon mobility-dashboard__icon" text="&#xe934;"></Label>
                    <StackLayout>
                        <TextField class="mobility-dashboard__textInputBorder" [text]='destination.label' hint="{{ 'mobility.destination' | translate }}" [(ngModel)]="destination.label" editable="false" (tap)="showScreen(2)"></TextField>
                    </StackLayout>
                </FlexboxLayout>

                <!-- DIVIDER -->
                <StackLayout class="hr-light"></StackLayout>

                <!-- CALENDAR AREA -->
                <StackLayout orientation="horizontal" style="margin-bottom: 18; margin-top: 17;">
                    <Label class="fisas__icon mobility-dashboard__icon" text="&#xe918;"></Label>
                    <StackLayout>
                        <Label class="mobility-dashboard__datetitle" text="{{ 'mobility.travelDate' | translate }}"></Label>
                        <StackLayout>
                            <Label *ngIf="travelDate" class="mobility-dashboard__datevalue" text="{{travelDateString}}" (tap)="pickTravelDate()"></Label>
                            <Label *ngIf="!travelDate" class="mobility-dashboard__datevalue" text="{{ 'mobility.today' | translate }}" (tap)="pickTravelDate()"></Label>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </FlexboxLayout>
            <Button class="mobility-dashboard__searchbutton fisas__bg--{{ institution }}" [nsRouterLink]="getLink()" text="{{ 'mobility.search' | translate }}"></Button>
            <!-- <Label class="fisas__p--light-medium" text="{{ 'mobility.conditions' | translate }}" textAlignment="center" marginBottom="18"></Label> -->
        </StackLayout>

        <!-- ROUTE LIST -->
        <StackLayout *ngIf="lowerScreen == 1" width=100%>
            <!-- TRAVEL TYPE :: ONE WAY :: PASS -->
            <StackLayout orientation="horizontal" marginTop=15>
                <Label
                    class="fisas__btn-rounded mobility-dashboard__travel-type"
                    [ngClass]="{ 'mobility-dashboard__travel-type--active': travelType === 'oneway' }" (tap)="selectType('oneway')" text="{{ 'mobility.oneway' | translate }}">
                </Label>
                <Label
                    class="fisas__btn-rounded mobility-dashboard__travel-type" style="margin-left: 12;"
                    [ngClass]="{ 'mobility-dashboard__travel-type--active': travelType === 'pass' }" (tap)="selectType('pass')" text="{{ 'mobility.pass' | translate }}">
                </Label>
            </StackLayout>
            <StackLayout style="width: 100%; background-color: white; margin-top: 14;">
                <StackLayout class="mobility-dashboard__routeList">
                    <ng-container *ngFor="let item of routes; let i = index">
                        <FlexboxLayout style="flex-direction: row; justify-content: space-between; width: 100%; margin-top: 15;" [nsRouterLink]="['/mobility/prices', item?.id, travelType, item?.name]">
                            <Label class="mobility-dashboard__datevalue" text="{{ item?.name }}" textWrap="false" width=95%></Label>
                            <Label verticalAlignment="center" class="fisas__icon" text="&#xe907;"></Label>
                        </FlexboxLayout>
                    </ng-container>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
    </ScrollView>
</StackLayout>