
.margin-top-5 {
    margin-top: 5px;
  }
  
  .appointment-card {
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    padding: 25px 15px 15px 15px;
    border: 1px solid transparent;
      > div:first-child {
        margin-bottom: 10px;
      }
      &--title {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #333333;
      }
      &--button {
        float: right;
      }
      
    }
    
    .appointment-card:hover {
      border-color: var(--primary-color);
      background-color: var(--primary-1);
    }
    @media only screen and (max-width: 600px) {
      .appointment-card {
        &--title {
          margin-top: 10px;
        }
      }
      .padding-bottom-mobile-20 {
        padding-bottom: 20px;
      }
  }
  
  
  .padding-bottom-20 {
      padding-bottom: 20px;
  }
  
  .title-detail {
      font-size: 13px;
      color: var(--primary-7);
  }
  
  .description-detail {
      color: black;
      font-size: 13px;
  }
  
  .text-right {
    text-align: right;
  }
  
  .button-history {
    margin-right: 5px;
  }
  
  
  
  .padding-bottom-15 {
    padding-bottom: 15px;
  }
  
  
  .box {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
  }
  
  .box-pair {
    background-color: #f0f2f5;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .icon {
    font-size: 25px;
  }
  
  #contacts_info_interest::ng-deep svg {
    g path {
        fill: var(--primary-color);
    }
  }
  