<div class="appointment-card" (click)="openDetail(appointment.id)">
  <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="4" class="padding-bottom-15 margin-top-5">
        <nz-tag class="tab-status" [nzColor]="(configStatus | filterStatusConfig: appointment.status.toString()).color" (click)="openHistoric($event)">
          <label>{{ 'HEALTH.APPOINTMENTS_TAB.STATUS.' + appointment.status.toString().toUpperCase() | translate }}</label>
        </nz-tag>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="20" class="text-right">
        <app-button type="primary" translate="HEALTH.APPOINTMENTS_TAB.BUTTONS.DISPUTE_COMPLAINT" (click)="complaint(appointment.id, tplContent, $event)"></app-button>
      </div>
  </div>

  <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="padding-bottom-20">
        <div class="appointment-card--title">
          {{ (appointment.specialty.translations | languageChange).name }}
       </div>
      </div>
  </div>

  <div nz-row class="padding-bottom-20">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8"
          class="padding-bottom-mobile-20">
          <div class="title-detail">{{ 'HEALTH.APPOINTMENTS_TAB.TABLE.LABEL_DATE_HOUR' | translate }}</div>
          <div class="description-detail"> {{ appointment.date | date: "dd/MM/yyyy"}} - {{ appointment.start_hour | utcHourConvert  }}</div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16" [nzLg]="16" [nzXl]="16" [nzXXl]="16">
          <div class="title-detail">{{ 'HEALTH.APPOINTMENTS_TAB.TABLE.LABEL_DOCTOR' | translate }}</div>
          <div class="description-detail">{{ appointment.doctor.user.name }}</div>
      </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8"
        class="padding-bottom-mobile-20">
        <div class="title-detail">{{ 'HEALTH.APPOINTMENTS_TAB.TABLE.LABEL_PLACE' | translate }}</div>
        <div class="description-detail"> {{ appointment.specialty.place.name }}</div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16" [nzLg]="16" [nzXl]="16" [nzXXl]="16">
        <div class="title-detail">{{ 'HEALTH.APPOINTMENTS_TAB.TABLE.LABEL_TYPE' | translate }}</div>
        <div class="description-detail">{{ (appointment.appointment_type.translations | languageChange).name }}</div>
    </div>
  </div>
</div>



<ng-template #tplContent>
  <form nz-form [formGroup]="complaintForm">
    <div nz-row>
      <h2 class="title-top-page">{{ 'HEALTH.APPOINTMENTS_TAB.COMPLAINT.TITLE' | translate }}</h2>
      <div nz-row nzGutter="34">
        <div nz-col nzXs="24">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="observation" class="primary-input-label">
              {{ 'HEALTH.APPOINTMENTS_TAB.COMPLAINT.INPUT_COMPLAIN' | translate }}
            </nz-form-label>
            <nz-form-control>
              <textarea class="primary-textarea" rows="5" formControlName="observation" id="observation" nz-input maxlength="255"></textarea>
              <nz-form-explain *ngIf="complaintForm.get('observation')?.complaintForm && complaintForm.get('observation').errors" class="error">
                {{ getInputError('observation') }}
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24">
          <nz-form-item>
            <nz-form-label nzFor="file_ids_array">
              <b>{{ 'HEALTH.APPOINTMENTS_TAB.COMPLAINT.INPUT_ATTACHMENTS' | translate }}</b>
            </nz-form-label>
            <nz-form-control>
              <app-file-upload  class="primary-file-upload" [listType]="'picture-card'" [filterTypes]="filterTypes" [multiUploads]="true"
                [filesList]="file_ids_array" [multiUploads]="true" (fileAdded)="onFileAdded($event)"
                (fileDeleted)="onFileDeleted($event)"
                [buttonName]="'HEALTH.BUTTONS.BUTTON_ATTACHEMNTS'">
              </app-file-upload>
              <div class="font-file">
                {{ 'MISC.FORMAT_UPLOAD_MORE' | translate }} pdf, png, jpg. {{ 'MISC.LIMIT_MAX_FILE' | translate }}
              </div>
              <nz-form-explain class="error" *ngIf="complaintForm.get('file_ids_array')?.dirty && complaintForm.get('file_ids_array').errors">
                {{ getInputError('file_ids_array') }}
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
    <div nz-row nzGutter="34" class="form--buttons">
      <div nz-col nzXs="12">
        <app-button type="secundary" translate="MISC.CANCEL" (click)="close()"> </app-button>
      </div>
      <div nz-col nzXs="12" style="text-align: right">
        <app-button type="primary" translate="MISC.SUBMIT" [loading]="isLoading" (click)="onSubmit()"></app-button>
      </div>
    </div>
  </form>
</ng-template>

<nz-modal (nzOnCancel)="modalDetail = false" [(nzVisible)]="modalDetail" [nzTitle]="null"
    [nzContent]="modalContentDetailApplication" [nzFooter]="null">
    <ng-template #modalContentDetailApplication>
        <div nz-row class="padding-bottom-15">
          <nz-tag class="tab-status cursor-cont" [nzColor]="(configStatus | filterStatusConfig: appointmentHistoric.appointment.status.toString()).color" (click)="openHistoric($event)">
            <label>{{ 'HEALTH.APPOINTMENTS_TAB.STATUS.' + appointmentHistoric.appointment.status.toString().toUpperCase() | translate }}</label>
          </nz-tag>
        </div>
        <h2 class="title-top-page">
            <div class="application-card--title">
                <div>{{ (appointmentHistoric.appointment.specialty.translations | languageChange).name }}</div>
            </div>
        </h2>

        <div *ngFor="let hist of appointmentHistoric?.historic, let idx = index" nz-row
            [ngClass]="{'box': !isPair(idx), 'box-pair': isPair(idx)}">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="21" [nzLg]="21" [nzXl]="22" [nzXXl]="22">
                <div nz-row>
                    {{hist?.created_at | date: 'dd-MM-yyyy'}} - {{hist?.created_at | date: 'HH:mm'}}h
                </div>
                <div nz-row>
                    <b><span class="history__status">{{'HEALTH.APPOINTMENTS_RESUME.STATUS.' + hist.status.toString().toUpperCase() | translate}}</span></b>
                </div>
            </div>
        </div>
    </ng-template>
</nz-modal>