<div nz-row>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12">
    <div nz-row class="top">
      <app-button translate="MISC.RETURN" (click)="cancel()" [leftIcon]="'left'"
        [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}" type="tertiary"></app-button>

    </div>

    <div class="forms">

      <h2 class="title-top-page"> {{
        typeForm == 'theft' ? ('U_BIKE.FORMS.BUTTONS.THEFT' | translate) :
        typeForm == 'maintenance_request' ? ('U_BIKE.FORMS.BUTTONS.MAINTENANCE' | translate) :
        typeForm == 'private_maintenance' ? ('U_BIKE.FORMS.BUTTONS.PRIVATEMAINTENANCE' | translate) :
        typeForm == 'breakdown' ? ('U_BIKE.FORMS.BUTTONS.BREAKDOWNS' | translate) :
        ''
        }}</h2>

      <div nz-row>
        <div nz-col>
          <div class="form">
            <div nz-row>
              <form nz-form [formGroup]="formSimple">
                <nz-form-item>
                  <nz-form-label nzFor="date">
                    <b> {{ 'U_BIKE.FORMS.ADDITIONAL_MAINTENANCE_KIT.INFOFORM.TITLESTARTDATE' | translate }}</b>
                  </nz-form-label>
                  <div class="desc-title-form">
                    {{ 'U_BIKE.FORMS.WITHDRAWAL.INFOFORM.DESCDATE' | translate }}
                  </div>
                  <div nz-col [nzXs]="24" [nzSm]="11" [nzMd]="11" [nzLg]="11" [nzXl]="11" [nzXXl]="11">
                    <nz-form-control>

                      <nz-date-picker style="width: 100%;" class="primary-datePicker" formControlName="date"
                        [nzDisabledDate]="disableStartDate">
                      </nz-date-picker>
                    </nz-form-control>
                  </div>


                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="description">
                    <b> {{ 'U_BIKE.FORMS.WITHDRAWAL.INFOFORM.DESC' | translate }}</b>
                  </nz-form-label>
                  <div class="desc-title-form">
                    {{ 'U_BIKE.FORMS.ADDITIONAL_MAINTENANCE_KIT.INFOFORM.DESCDESC' | translate }}
                  </div>
                  <nz-form-control>
                    <textarea maxlength="255" rows="5" class="primary-textarea textarea-height" nz-input
                      formControlName="description"
                      [ngClass]="{ 'error__input': submitted && f.description.errors }"></textarea>
                    <nz-form-explain class="error" *ngIf="submitted && f.description.errors">
                      {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                    </nz-form-explain>
                  </nz-form-control>

                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzFor="description">
                    <b>{{ 'U_BIKE.FORMS.FILES.TITLE' | translate }}</b>
                  </nz-form-label>
                  <div class="desc-title-form">
                    {{ 'U_BIKE.FORMS.FILES.DESCRIPTION' | translate }}
                  </div>
                  <nz-form-control>
                    <app-file-upload class="primary-file-upload" [filterTypes]="filterTypes" 
                    (fileDeleted)="formSimple.get('file_id').setValue(null)" formControlName="file_id">
                    </app-file-upload>
                    <div class="font-file">
                      {{ 'MISC.FORMAT_UPLOAD_MORE' | translate }} pdf, png, jpg. {{ 'MISC.LIMIT_MAX_FILE' | translate }}
                    </div>
                    <nz-form-explain class="error" *ngIf="submitted && f.file_id.errors">
                      {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                    </nz-form-explain>
                  </nz-form-control>

                </nz-form-item>
              </form>
            </div>
            <div nz-row class="submit">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <app-button (click)="cancel()" style="margin-right: 15px;" [translate]="'MISC.CANCEL'"
                  [type]="'secundary'"></app-button>
                <app-button [loading]="loading" (click)="submitRequest()"
                  [disabled]="!('u_bike:application-forms:create' | hasPermission)" [translate]="'MISC.SUBMIT'">
                </app-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
  </div>
</div>