<div class="media">
  <ng-container *ngIf="medias && medias.length">
    <nz-carousel
      #carousel
      nzAutoPlay="false"
      nzAutoPlaySpeed="6000"
      nzDots="false"
      (nzBeforeChange)="beforeChange($event)"
      (nzAfterChange)="afterChange($event)"
    >
      <div nz-carousel-content *ngFor="let media of medias">
        <iframe
          *ngIf="media?.channel_name === 'UrlMediaTV'"
          title="Frame"
          style="width: 100%; height: 100%"
          [src]="safeIFrameUrl((media?.translations)[0]?.url)"
        ></iframe>
        <video
          *ngIf="
            (!media?.channel_name || media?.channel_name === 'MediaTV') &&
            (media?.translations)[0]?.file_16_9?.type === 'VIDEO'
          "
          [src]="(media?.translations)[0]?.file_16_9?.url"
          (error)="errorSrc($event)"
          data-error="false"
          muted
        ></video>
        <img
          *ngIf="
            (!media?.channel_name || media?.channel_name === 'MediaTV') &&
            (media?.translations)[0]?.file_16_9?.type === 'IMAGE'
          "
          alt="image"
          [src]="(media?.translations)[0]?.file_16_9?.url"
          (error)="errorSrc($event)"
          data-error="false"
        />
        <div class="media--emptySlide">
          <div class="media--emptySlide__content">
            {{ title }}<span>sasocial</span>
          </div>
        </div>
      </div>
    </nz-carousel>

    <div #progressBarBack class="media__progress-bar-back"></div>
    <div #progressBarTimer class="media__progress-bar-timer"></div>
  </ng-container>

  <div *ngIf="!(medias && medias.length)">
    <div class="media--empty">
      <div class="media--empty__content">{{ title }}<span>sasocial</span></div>
    </div>
  </div>
</div>
