@import 'colors.less';

:host::ng-deep {
  z-index: 1;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  .media {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 1080px;
    line-height: 0;
    overflow: hidden;

    .tp-video-play-button {
      display: none !important;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    [nz-carousel-content] {
      text-align: center;
      height: 1080px;
      overflow: hidden;
      line-height: 0;
    }

    .slick-dots {
      display: none;
    }

    .slick-slide {
      position: relative;
    }

    &__progress-bar-back {
      z-index: 1;
      position: fixed;
      width: 100%;
      height: 6px;
      bottom: 0;
      left: 0;
      opacity: 0.6;
      background-color: @fisas-grey-10;
    }

    &__progress-bar-timer {
      z-index: 2;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 0;
      height: 6px;
      background-color: @fisas-red-04;
    }

    &--empty {
      width: 100%;
      height: 100vh;
      background-color: var(--fisas-06);
      display: flex;
      align-items: center;
      justify-content: center;

      &__content {
        font-family: Montserrat;
        font-size: 70px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 1px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        color: @fisas-grey-01;

        span {
          font-weight: 300;
          margin-left: 15px;
        }
      }
    }

    &--emptySlide {
      background-color: var(--fisas-06);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;

      &__content {
        font-family: Montserrat;
        font-size: 70px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 1px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        color: @fisas-grey-01;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        span {
          font-weight: 300;
          margin-left: 15px;
        }
      }
    }
  }
}
