<div class="content--padding white">
    <form nz-form [formGroup]="formCreate">
        <div nz-row>
            <nz-form-item>
                <nz-form-label nzRequired>Nome</nz-form-label>
                <nz-form-control>
                    <input formControlName="name" nz-input type="text">
                    <nz-form-explain class="color-required" *ngIf="submitted && f.name.errors">
                        Campo obrigatório
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="11">
                <nz-form-item>
                    <nz-form-label nzRequired>Tipo</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="type">
                            <nz-option nzLabel="Backoffice" nzValue="BO">
                            </nz-option>
                            <nz-option nzLabel="Genérico" nzValue="GENERIC">
                            </nz-option>
                            <nz-option nzLabel="Kiosk" nzValue="KIOSK">
                            </nz-option>
                            <nz-option nzLabel="Mobile" nzValue="MOBILE">
                            </nz-option>
                            <nz-option nzLabel="POS" nzValue="POS">
                            </nz-option>
                            <nz-option nzLabel="Tv" nzValue="TV">
                            </nz-option>
                        </nz-select>
                        <nz-form-explain class="color-required" *ngIf="submitted && f.type.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="2"></div>
            <div nz-col [nzSpan]="11">
                <nz-form-item>
                    <nz-form-label nzRequired>Orientação</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="orientation">
                            <nz-option nzLabel="Horizontal" nzValue="LANDSCAPE">
                            </nz-option>
                            <nz-option nzLabel="Vertical" nzValue="PORTRAIT">
                            </nz-option>
                        </nz-select>
                        <nz-form-explain class="color-required" *ngIf="submitted && f.orientation.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="6" style="margin-right: 16px;">
                <nz-form-item>
                    <nz-form-label>CPUID</nz-form-label>
                    <nz-form-control>
                        <input formControlName="CPUID" nz-input>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item>
                    <nz-form-label>Segundos para inatividade</nz-form-label>
                    <nz-form-control>
                        <input formControlName="secondsToInactivity" nz-input type="number">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="10">
                <nz-form-item>
                    <nz-form-label nzRequired>Ativo</nz-form-label>
                    <nz-form-control>
                        <nz-switch formControlName="active">
                        </nz-switch>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</div>


<div class="space" nz-row>
    <button *ngIf="isEdit" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
    <button nz-button [nzLoading]="isLoading" [disabled]="isLoading"
      (click)="submit()" class="button-submit"
      [nzType]="'primary'">{{isEdit ? 'Editar' : 'Criar'}}</button>
</div>