<div
  nz-row
  nzType="flex"
  nzJustify="center"
  nzAlign="middle"
  class="verification"
>
  <div nz-col class="verification__body" [nzXs]="24" [nzSm]="13" [nzLg]="8">
    <div class="verification__title">
      {{ "ACCOUNT_VERIFICATION.TITLE" | translate }}
    </div>
    <div class="verification__subtitle">
      {{ "ACCOUNT_VERIFICATION.DESCRIPTION" | translate }}
    </div>
    <div class="verification__content">
      <form
        nz-form
        [formGroup]="verificationForm"
        class="firstLogin-form"
        *ngIf="showForm"
      >
        <nz-form-item
          style="margin-top: 24px"
          [ngClass]="{
            error:
              verificationForm.get('new_password').dirty &&
              verificationForm.get('new_password').errors
          }"
        >
          <label class="form__label">{{
            "ACCOUNT_VERIFICATION.NEW_PASSWORD" | translate
          }}</label>
          <nz-form-extra class="form__tip">{{
            "ACCOUNT_VERIFICATION.INSERT_NEW_PASSWORD" | translate
          }}</nz-form-extra>
          <nz-form-control>
            <nz-input-group [nzSuffix]="suffixNewPasswordTemplate">
              <input
                [type]="newPasswordVisible ? 'text' : 'password'"
                nz-input
                formControlName="new_password"
                [placeholder]="
                  'ACCOUNT_VERIFICATION.INSERT_NEW_PASSWORD' | translate
                "
              />
            </nz-input-group>
            <ng-template #suffixNewPasswordTemplate>
              <i
                nz-icon
                [nzType]="
                  newPasswordVisible
                    ? 'icons:icons-show'
                    : 'icons:icons-dontshow'
                "
                (click)="newPasswordVisible = !newPasswordVisible"
              ></i>
            </ng-template>
            <nz-form-explain
              *ngIf="verificationForm.get('new_password').errors"
            >
              <i nz-icon type="icons:icons-info"></i>
              {{
                getInputError("new_password")
                  | translate
                    : {
                        value:
                          "ACCOUNT_VERIFICATION.INSERT_NEW_PASSWORD" | translate
                      }
              }}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item
          style="margin-top: 24px"
          [ngClass]="{
            error:
              verificationForm.get('repeat_password').dirty &&
              verificationForm.get('repeat_password').errors
          }"
        >
          <label class="form__label">{{
            "ACCOUNT_VERIFICATION.REPEAT_NEW_PASSWORD" | translate
          }}</label>
          <nz-form-extra class="form__tip">{{
            "ACCOUNT_VERIFICATION.REPEAT_NEW_PASSWORD" | translate
          }}</nz-form-extra>
          <nz-form-control>
            <nz-input-group [nzSuffix]="suffixRepeatTemplate">
              <input
                [type]="repearPasswordVisible ? 'text' : 'password'"
                nz-input
                formControlName="repeat_password"
                [placeholder]="
                  'ACCOUNT_VERIFICATION.REPEAT_NEW_PASSWORD' | translate
                "
              />
            </nz-input-group>
            <ng-template #suffixRepeatTemplate>
              <i
                nz-icon
                [nzType]="
                  repearPasswordVisible
                    ? 'icons:icons-show'
                    : 'icons:icons-dontshow'
                "
                (click)="repearPasswordVisible = !repearPasswordVisible"
              ></i>
            </ng-template>
            <nz-form-explain
              *ngIf="verificationForm.get('repeat_password').errors || verificationForm.errors"
            >
              <i nz-icon type="icons:icons-info"></i>
              {{
                getMatchError()
                  | translate
                    : {
                        value:
                          "ACCOUNT_VERIFICATION.REPEAT_NEW_PASSWORD" | translate
                      }
              }}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="verify__button">
          <nz-form-control>
            <app-button
              [buttonStyle]="{
                width: '100%',
                'font-size': '17px',
                'line-height': '24px',
                'margin-bottom': '0px'
              }"
              [translate]="'ACCOUNT_VERIFICATION.VERIFY'"
              [ngClass]="{ disabled: loading }"
              type="floating"
              [loading]="loading"
              (click)="
                verifyAccount(verificationForm.value, verificationForm.valid)
              "
            >
            </app-button>
          </nz-form-control>
        </nz-form-item>
      </form>

      <div *ngIf="error_type && !showForm" class="verification__content__final">
        <div nz-row>
          <i nz-icon type="icons:unpaid"></i>
        </div>
        <span [ngSwitch]="error_type">
          <span *ngSwitchCase="'uuid'">{{
            "ACCOUNT_VERIFICATION.ERRORS.UUID" | translate
          }}</span>
          <span *ngSwitchCase="'AUTH_ACCOUNT_ALREADY_VERIFIED'">{{
            "ACCOUNT_VERIFICATION.ERRORS.AUTH_ACCOUNT_ALREADY_VERIFIED"
              | translate
          }}</span>
          <span *ngSwitchCase="'AUTH_VERIFICATION_TOKEN_EXPIRED'">{{
            "ACCOUNT_VERIFICATION.ERRORS.AUTH_VERIFICATION_TOKEN_EXPIRED"
              | translate
          }}</span>
          <span *ngSwitchDefault>{{
            "ACCOUNT_VERIFICATION.ERRORS.OTHER" | translate
          }}</span>
        </span>
      </div>
      <div *ngIf="success && !showForm" class="verification__content__final">
        <div nz-row>
          <i nz-icon type="icons:paid"></i>
        </div>
        {{ "ACCOUNT_VERIFICATION.SUCCESS" | translate }}
      </div>
    </div>
  </div>
</div>
