@import "theme";

.change_password {
  @media screen and (max-width: 576px) {
    height: 100%;
  }

  &__body {
    @media screen and (min-width: 576px) {
      margin-top: 48px;
      margin-bottom: 72px;
    }

    height: 100%;
    background: white;
    padding: 24px;
    padding-top: 64px;
  }

  &__title {
    font-size: 17px;
    line-height: 1.41;
    font-weight: bold;
    line-height: 24px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 32px;
  }

  &__button {
    margin-top: 40px;
    margin-bottom: 0px;
  }

  &__cancel {
    text-align: center;
    button {
      font-size: 13px;
      font-weight: normal;
      line-height: 3.08;
      color: #000000;
    }
  }
}

.verification {
  @media screen and (max-width: 576px) {
    height: 100%;
  }

  &__body {
    @media screen and (min-width: 576px) {
      margin-top: 48px;
      margin-bottom: 72px;
    }

    height: 100%;
    background: white;
    padding: 24px;
    padding-top: 64px;
  }

  &__title {
    font-size: 17px;
    line-height: 1.41;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 32px;

    b {
      font-weight: 500 !important;
    }
  }

  &__content {
    &__final {
      i {
        font-size: 140px;
      }

      text-align: center;
    }
  }
}
