<div *ngIf="attendance.absence_reason?.length == 0">
  <form nz-form [formGroup]="justificationAbsencesForm">
    <h2 class="title-top-page"> {{ 'SOCIAL_SUPPORT.ABSENCES.JUSTIFY_FORM.TITLE' | translate }}</h2>
    <p class="sub-title-top-page"> {{ 'SOCIAL_SUPPORT.ABSENCES.JUSTIFY_FORM.SUBTITLE' | translate }}</p>

    <div nz-row [nzGutter]="20" class="form__inputs">
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="reason" class="primary-input-label">
            {{ 'SOCIAL_SUPPORT.ABSENCES.JUSTIFY_FORM.JUSTIFICATION' | translate }}
          </nz-form-label>

          <nz-form-control>
            <textarea class="primary-textarea" maxlength="255"
              placeholder="{{ 'SOCIAL_SUPPORT.ABSENCES.JUSTIFY_FORM.JUSTIFICATION_DESCRIPTION' | translate }}" rows="5"
              formControlName="reason" id="reason" nz-input></textarea>
            <nz-form-explain class="error"
              *ngIf="justificationAbsencesForm.get('reason')?.dirty && justificationAbsencesForm.get('reason').errors">
              {{ getInputError('reason') }}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="20" class="form__inputs">
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label nzFor="attachment_file_id" class="primary-input-label">
            {{ 'SOCIAL_SUPPORT.ABSENCES.JUSTIFY_FORM.ATTACHMENTS' | translate }}
          </nz-form-label>

          <nz-form-control>
            <nz-form-control>
              <app-file-upload class="primary-file-upload" [filterTypes]="filterTypes"
              (fileDeleted)="justificationAbsencesForm.get('attachment_file_id').setValue(null)"
                formControlName="attachment_file_id"></app-file-upload>
              <div class="font-file">
                {{ 'MISC.FORMAT_UPLOAD_MORE' | translate }} pdf, png, jpg. {{ 'MISC.LIMIT_MAX_FILE' | translate }}
              </div>
            </nz-form-control>
            <nz-form-explain class="error" *ngIf="
              justificationAbsencesForm.get('attachment_file_id')?.dirty &&
              justificationAbsencesForm.get('attachment_file_id').errors
            ">
              {{ getInputError('attachment_file_id') }}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row class="form--button">
      <app-button [type]="'primary'" [translate]="'SOCIAL_SUPPORT.ABSENCES.JUSTIFY_FORM.SUBMIT'"
        [loading]="loadingSubmit" (click)="submitJustification()"></app-button>

    </div>
  </form>
</div>

<div *ngIf="attendance.absence_reason?.length != 0">
  <div nz-row class="form--title" style="padding-bottom: 15px">
    <div nz-col [nzSpan]="24">
      {{ 'SOCIAL_SUPPORT.ABSENCES.JUSTIFY_FORM.JUSTIFIED_ABCENSE' | translate }}
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="padding-text-title">
      <label class="text-title"> {{ 'SOCIAL_SUPPORT.ABSENCES.JUSTIFY_FORM.DATE' | translate }} :</label>
      {{ attendance?.date | date: 'dd-MM-yyyy' }}
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="padding-text-title">
      <label class="text-title">{{ 'SOCIAL_SUPPORT.ABSENCES.JUSTIFY_FORM.REASON' | translate }} : </label>
      {{ attendance?.absence_reason[0]?.reason }}
    </div>
  </div>

  <div nz-row *ngIf="attendance?.absence_reason[0]?.attachment_file_id != null">
    <div nz-col [nzSpan]="24" class="padding-text-title">
      <label class="text-title">{{ 'SOCIAL_SUPPORT.ABSENCES.JUSTIFY_FORM.ATTACHMENTS' | translate }} : </label>
      <a class="link-file" target="_blank" [href]="doc?.url">
        {{ 'SOCIAL_SUPPORT.ABSENCES.JUSTIFY_FORM.JUSTIFICATION' | translate }}
      </a>
    </div>
  </div>
</div>