<div class="container">
  <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">

      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">
        <div style="margin-top: 10px;"><b style="font-size: 18px;">{{data.type_day.name }}</b>
          <span style="margin-left: 5px;" nz-tooltip nzTitle="Eliminar Tabela">
            <button nz-button [disabled]="!('bus:timetables:delete' | hasPermission)" [nzType]="'danger'"
              (click)="deleteTimetable(data.id)"><i nz-icon type="delete"></i></button>
          </span>
         
        </div>
        <tr *ngFor="let hours of data.hours; let i = index">
          <td *ngFor="let hour of hours" style="text-align: center">
            <div nz-row>
              <span><b>{{hour.local.local }}</b></span>
            </div>
            <span *ngIf="editHour !== hour.id">{{hour.hour !== null ? hour.hour.slice(0,5) : "---" }}</span>
            <span *ngIf="editHour === hour.id">
              <nz-time-picker nzFormat="HH:mm" [ngModel]="date" #date_input></nz-time-picker>
            </span>
            <button nz-button [disabled]="!('bus:timetables:delete' | hasPermission)" nzType="dashed"
              (click)="changeHour(hour.id, hour.hour)"><i nz-icon type="edit"></i></button>
            <button *ngIf="editHour === hour.id" nz-button nzType="dashed" (click)="saveHour(hour.id)"><i nz-icon
                type="save"></i> </button>
          </td>
          <td nzRight="0px" class="text-right">
            <button nz-button nz-dropdown nzType="link" [nzDropdownMenu]="menu" nzPlacement="bottomRight"
              class="options_button"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li [nzDisabled]="!('bus:timetables:delete' | hasPermission)" nz-menu-item
                  (click)="deleteLine(data.id, data.hours[i][0].line_number)">Eliminar</li>

              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      </ng-template>

    </tbody>
  </nz-table>
</div>

<div class="space" nz-row>
  <button nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button *ngIf="data.length==0" nz-button (click)="form()" 
      [nzType]="'primary'">Adicionar horário</button>
</div>