<!--- OPTIONS -->
<div nz-row style="margin: 24px 0px">
  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="2"
    [nzLg]="2"
    [nzXl]="2"
    [nzXXl]="2"
  ></div>
  <div
    nz-col
    [nzXs]="22"
    [nzSm]="22"
    [nzMd]="20"
    [nzLg]="20"
    [nzXl]="20"
    [nzXXl]="20"
  >
    <div nz-row>
      <div nz-col nzSpan="12">
        <app-button
          translate="MISC.RETURN"
          (click)="back()"
          [leftIcon]="'left'"
          [buttonStyle]="{ 'font-size': '12px', 'line-height': '18px' }"
          type="tertiary"
        ></app-button>
      </div>
      <div nz-col nzSpan="12" style="text-align: right">
        <app-button
          [disabled]="
            canCreateApplication() ||
            !('bus:applications:create' | hasPermission)
          "
          [routerLink]="['/mobility', 'application-form']"
          [translate]="'MOBILITY.APPLICATIONS.NEW_APPLICATION'"
          type="tertiary"
        ></app-button>
      </div>
    </div>
  </div>
  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="2"
    [nzLg]="2"
    [nzXl]="2"
    [nzXXl]="2"
  ></div>
</div>

<!--- CONTENT -->
<div nz-row style="margin: 24px 0px">
  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="2"
    [nzLg]="2"
    [nzXl]="2"
    [nzXXl]="2"
  ></div>
  <div
    nz-col
    [nzXs]="22"
    [nzSm]="22"
    [nzMd]="20"
    [nzLg]="20"
    [nzXl]="20"
    [nzXXl]="20"
    class="content"
  >
    <nz-spin [nzSpinning]="loading">
      <nz-empty
        [nzNotFoundContent]="'MOBILITY.APPLICATIONS.NO_CONTENT' | translate"
        *ngIf="applications.length === 0"
      >
      </nz-empty>
      <div nz-row nzType="flex" *ngIf="applications.length > 0">
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="24"
          nzLg="24"
          nzXl="24"
          *ngFor="let app of applications"
        >
          <div class="application-card">
            <div nz-row>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="24"
                [nzLg]="5"
                [nzXl]="4"
                [nzXXl]="3"
              >
                <nz-tag
                  class="tab-status cursor-cont"
                  [nzColor]="ApplicationStatusLabels[app.status]?.color"
                >
                  {{
                    ApplicationStatusLabels[app.status]?.translation | translate
                  }}
                </nz-tag>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="24"
                [nzLg]="11"
                [nzXl]="12"
                [nzXXl]="12"
                class="padding-tablet"
              >
                <div class="application-card--title">
                  <div>
                    {{ "MOBILITY.APPLICATIONS.APPLICATION_TITLE" | translate }}
                  </div>
                </div>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="24"
                [nzLg]="7"
                [nzXl]="8"
                [nzXXl]="9"
                style="text-align: right"
              >
                <app-button
                  *ngIf="app.status === 'approved'"
                  class="margin-left-2"
                  [buttonStyle]="{ 'margin-top': '5px' }"
                  [translate]="'MOBILITY.APPLICATIONS.ACCEPTED'"
                  [type]="'primary'"
                  (click)="acceptApplication(app)"
                >
                </app-button>
                <app-button
                  *ngIf="app.status === 'approved'"
                  class="margin-left-2"
                  [buttonStyle]="{ 'margin-top': '5px' }"
                  [translate]="'MOBILITY.APPLICATIONS.REJECTED'"
                  [type]="'red'"
                  (click)="rejectApplication(app)"
                >
                </app-button>
                <app-button
                  *ngIf="app.status === 'accepted'"
                  class="margin-left-2"
                  [buttonStyle]="{ 'margin-top': '5px' }"
                  [translate]="'MOBILITY.APPLICATIONS.WITHDRAWAL'"
                  [type]="'red'"
                  (click)="withdrawalApplicationModal(app, tplContent)"
                >
                </app-button>
                <app-button
                  *ngIf="app.status === 'accepted'"
                  class="margin-left-2"
                  [buttonStyle]="{ 'margin-top': '5px' }"
                  [translate]="'MOBILITY.APPLICATIONS.ABSENCE_REQUEST'"
                  [type]="'infoblue'"
                  (click)="abcenceApplicationModal(app, abcenceModalContent)"
                >
                </app-button>
                <app-button
                  *ngIf="app.status === 'submitted'"
                  class="margin-left-2"
                  [buttonStyle]="{ 'margin-top': '5px' }"
                  [translate]="'MOBILITY.APPLICATIONS.CANCEL'"
                  [type]="'red'"
                  (click)="cancelApplication(app)"
                >
                </app-button>
                <app-button
                  *ngIf="app.status === 'suspended'"
                  class="margin-left-2"
                  [buttonStyle]="{ 'margin-top': '5px' }"
                  [translate]="'MOBILITY.APPLICATIONS.RESUME'"
                  [type]="'infoblue'"
                  (click)="resumeApplication(app)"
                >
                </app-button>
                <app-button
                  class="margin-left-2"
                  [translate]="'MOBILITY.APPLICATIONS.DETAILS'"
                  [buttonStyle]="{ 'margin-top': '5px' }"
                  [type]="'secundary'"
                  [routerLink]="['/mobility', 'application-view', app.id]"
                >
                </app-button>
              </div>
            </div>
            <div nz-row>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="24"
                [nzLg]="5"
                [nzXl]="4"
                [nzXXl]="3"
                class="padding-top-15"
              >
                <div nz-row class="margin-bottom-5">
                  <span class="title-detail">{{
                    "SOCIAL_SUPPORT.APPLICATIONS.SUBMITTED_ON" | translate
                  }}</span>
                </div>
                <div nz-row>
                  <span class="description-detail">
                    {{ app.date | date: "dd-MM-yyyy" }}</span
                  >
                </div>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="12"
                [nzLg]="6"
                [nzXl]="5"
                [nzXXl]="5"
                class="padding-top-15"
              >
                <div nz-row class="margin-bottom-5">
                  <span class="title-detail">{{
                    "MOBILITY.APPLICATIONS.MORNING_ROUTE" | translate
                  }}</span>
                </div>
                <div nz-row>
                  <span class="description-detail">
                    {{ app.morning_local_from.local }}
                    <i nz-icon nzType="icons:icons-arrow-right"></i>
                    {{ app.morning_local_to.local }}</span
                  >
                </div>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="12"
                [nzLg]="6"
                [nzXl]="5"
                [nzXXl]="5"
                class="padding-top-15"
              >
                <div nz-row class="margin-bottom-5">
                  <span class="title-detail">{{
                    "MOBILITY.APPLICATIONS.LATE_ROUTE" | translate
                  }}</span>
                </div>
                <div nz-row>
                  <span class="description-detail"
                    >{{ app.afternoon_local_from.local }}
                    <i nz-icon nzType="icons:icons-arrow-right"></i>
                    {{ app.afternoon_local_to.local }}</span
                  >
                </div>
              </div>
              <div
                *ngIf="app.declaration"
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="12"
                [nzLg]="6"
                [nzXl]="5"
                [nzXXl]="5"
                class="padding-top-15"
              >
                <div nz-row class="a-href">
                  <a [href]="app.declaration.url" target="_blank">{{
                    "MOBILITY.APPLICATIONS.DECLARATION" | translate
                  }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nz-spin>
  </div>
  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="2"
    [nzLg]="2"
    [nzXl]="2"
    [nzXXl]="2"
  ></div>
</div>

<!-- WITHDRAWAL MODAL -->
<ng-template #absenceModal>
  <span></span>
</ng-template>
<ng-template #tplContent>
  <h2 class="title-top-page">
    {{ "MOBILITY.WITHDRAWAL_APPLICATION.TITLE" | translate }}
  </h2>
  <p class="sub-title-top-page font">
    {{ "MOBILITY.WITHDRAWAL_APPLICATION.DESCRIPTION" | translate }}
  </p>

  <nz-form-item>
    <b>
      <nz-form-label>
        {{ "MOBILITY.WITHDRAWAL_APPLICATION.DECISION" | translate }}
      </nz-form-label>
    </b>

    <nz-form-control>
      <textarea
        rows="5"
        maxlength="255"
        nz-input
        [(ngModel)]="withdrawalDecision"
      ></textarea>
    </nz-form-control>
  </nz-form-item>
  <div nz-row style="text-align: center">
    <app-button
      type="primary"
      translate="DASHBOARD.WIDGETS.MY_APPLICATIONS_SOCIAL_SUPPORT.MODAL_WITHDRAWAL.SUBMIT"
      [loading]="tplModalButtonLoading"
      (click)="withdrawalApplicationSave()"
    ></app-button>
  </div>
</ng-template>

<!-- WITHDRAWAL MODAL -->

<ng-template #abcenceModalTitle>
  <span> </span>
</ng-template>
<ng-template #abcenceModalContent>
  <h2 class="title-top-page">
    {{ "MOBILITY.ABSENCE_MODAL.TITLE" | translate }}
  </h2>

  <form nz-form [formGroup]="abcenseFormGroup">
    <nz-form-item>
      <b>
        <nz-form-label nz-row nzRequired nzFor="range_date">
          {{ "MOBILITY.ABSENCE_MODAL.SELECT_DATE" | translate }}
        </nz-form-label>
      </b>
      <nz-form-control nz-row>
        <nz-range-picker
          id="rangedateChangeContractComponent"
          class="primary-datePicker"
          formControlName="range_date"
          [ngClass]="{ error: f.range_date.errors && f.range_date.dirty }"
        >
        </nz-range-picker>
        <nz-form-explain
          class="error"
          *ngIf="f.range_date.errors && f.range_date.dirty"
        >
          {{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <b>
        <nz-form-label nz-row nzRequired nzFor="justification">
          {{ "MOBILITY.ABSENCE_MODAL.REASON" | translate }}
        </nz-form-label>
      </b>
      <nz-form-control nz-row>
        <textarea
          class="primary-textarea textarea-height"
          nz-input
          formControlName="justification"
          rows="5"
          maxlength="255"
          [ngClass]="{
            error__input: f.justification.errors && f.justification.dirty
          }"
          placeholder="{{ 'CONTRACT_ACTIONS.JUSTIFICATION_PLACE' | translate }}"
        ></textarea>
        <nz-form-explain
          class="error"
          *ngIf="f.justification.errors && f.justification.dirty"
        >
          {{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <b>
        <nz-form-label nz-row nzFor="file">
          {{ "MOBILITY.ABSENCE_MODAL.FILE" | translate }}
        </nz-form-label>
      </b>
      <nz-form-control nz-row>
        <app-file-upload
          formControlName="file"
          (fileDeleted)="onFileDeleted($event)"
          [filesList]="filesList"
          [limit]="1"
        >
        </app-file-upload>
        <div class="font-upload">
          {{ "MISC.LIMIT_MAX_FILE" | translate }}
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
  <div nz-row style="text-align: center">
    <app-button
      type="primary"
      translate="DASHBOARD.WIDGETS.MY_APPLICATIONS_SOCIAL_SUPPORT.MODAL_WITHDRAWAL.SUBMIT"
      [loading]="tplModalButtonLoading"
      (click)="abcenseApplicationSave()"
    ></app-button>
  </div>
</ng-template>
