
@import "theme";
  
:host::ng-deep {
  .ant-calendar-picker {
    width: 100%;
  }
}

.space {
  padding: 10px;
  background-color: #f0f2f5;
}

.container {
  background: white;
  padding: 24px 30px 24px 30px;
  margin-bottom: 5px;
  &__title {
      font-size: 16px;
      line-height: 22px;
      margin: 0px;
      font-weight: bold;
      margin-bottom:10px;
      color:black;
  }
  &__subtitle{
    margin-bottom:5px;
  }
}

.font-icon-dash{
  font-size:29px;
  color: var(--primary-color);
}

.btn-filter{
  text-align: center;
  .btn-delete{
    cursor: pointer;
    font-size: 18px;
    margin-top: 45px;
  }
  .btn{
    margin-bottom: 4px;
    margin-top: 42px;
  }
}
