<div class="container">
    <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="5" [nzXXl]="5">
            <div nz-row>
                <nz-form-label>Data Início Evento</nz-form-label>
                <nz-form-control>
                    <nz-date-picker [(ngModel)]="filters.start_date">
                    </nz-date-picker>
                </nz-form-control>
            </div>
        </div>
        <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="5" [nzXXl]="5">
            <div nz-row>
                <nz-form-label>Data Fim Evento</nz-form-label>
                <nz-form-control>
                    <nz-date-picker [(ngModel)]="filters.end_date">
                    </nz-date-picker>
                </nz-form-control>
            </div>
        </div>
        <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="10" [nzLg]="10" [nzXl]="12" [nzXXl]="12">
            <div nz-row>
                <nz-form-label>Título do Evento</nz-form-label>
                <nz-form-control>
                    <input type="text" nz-input [(ngModel)]="filters.search">
                </nz-form-control>
            </div>
        </div>

    </div>
    <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="5" [nzXXl]="5">
            <div nz-row>
                <nz-form-label>Data Início Publicação</nz-form-label>
                <nz-form-control>
                    <nz-date-picker [(ngModel)]="filters.start_published_date">
                    </nz-date-picker>
                </nz-form-control>
            </div>
        </div>
        <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="5" [nzXXl]="5">
            <div nz-row>
                <nz-form-label>Data Fim Publicação</nz-form-label>
                <nz-form-control>
                    <nz-date-picker [(ngModel)]="filters.end_published_date">
                    </nz-date-picker>
                </nz-form-control>
            </div>
        </div>
        <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="5" [nzXXl]="5">
            <div nz-row>
                <nz-form-label>Categoria</nz-form-label>
                <nz-form-control>
                    <nz-select class="primary-select" [(ngModel)]="filters.category_id" nzAllowClear nzShowSearch
                        style="width: 100%;">
                        <nz-option *ngFor="let category of categories"
                            [nzLabel]="(category?.translations | translation).name" [nzValue]="category.id">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </div>
        </div>
        <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="6" [nzXXl]="6">
            <div nz-row>
                <nz-form-label>Local</nz-form-label>
                <nz-form-control>
                    <nz-select class="primary-select" [(ngModel)]="filters.city" nzAllowClear nzShowSearch
                        style="width: 100%;">
                        <nz-option *ngFor="let city of cities" [nzLabel]="city.city" [nzValue]="city.city">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </div>
        </div>

    </div>
    <div nz-row>
        <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="16" [nzLg]="19" [nzXl]="20" [nzXXl]="20"></div>
        <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
            <button nz-button nzType="primary" class="btn" (click)="filter()">Filtrar</button>
        </div>
        <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
            style="text-align: left;">
            <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
        </div>
    </div>
</div>
<div class="space"></div>

<div nz-row>
    <nz-form-control nzSpan="24">
        <nz-radio-group [(ngModel)]="viewSelected">
          <label nz-radio-button [nzValue]="'list'"
            >Vista de Lista</label
          >
          <label nz-radio-button [nzValue]="'calendar'"
            >Vista de Calendário</label
          >
        </nz-radio-group>
      </nz-form-control>
</div>

<div nz-row>
    <fi-list-normal-events *ngIf="viewSelected == 'list'" #dataListNormalEvent [filtersData]="filters"></fi-list-normal-events>
    <fi-list-calendar-events *ngIf="viewSelected == 'calendar'" #dataListCalendarEvent [filtersData]="filters"></fi-list-calendar-events>
</div>