<div class="container">
  <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th nzShowExpand></th>
        <th nzShowSort nzSortKey="name">Tipo de dia</th>
        <th nzShowSort nzSortKey="active">Ativo</th>
        <th nzRight="0px" class="text-right">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">
        <tr>
          <td nzShowExpand [(nzExpand)]="data.expand"></td>
          <td *ngIf="editTypeDayIdName!== data.id">{{data.name}}</td>
          <td *ngIf="editTypeDayIdName === data.id">
            <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
              <input type="text" size="1" nz-input [value]=data.name #type_day_name>
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button nz-button [disabled]="!('bus:types_days:update' | hasPermission)" [nzType]="'default'" nzSearch
                (click)="saveTypeDayName(type_day_name.value, data.id, data.active)"><i nz-icon
                  type="save"></i></button>
            </ng-template>
          </td>
          <td>
            <fi-sas-tag [value]="data?.active"></fi-sas-tag>
          </td>
          <td nzRight="0px" class="text-right">
            <button nz-button nz-dropdown nzType="link" [nzDropdownMenu]="menu" nzPlacement="bottomRight"
              class="options_button"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li [nzDisabled]="!('bus:types_days:update' | hasPermission)" nz-menu-item
                  (click)="changeTypeDayName(data.id)">Editar</li>
                <li [nzDisabled]="!('bus:types_days:delete' | hasPermission)" (click)="deleteTypeDay(data.id)"
                  nz-menu-item>
                  Eliminar
                </li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
        <tr [nzExpand]="data.expand">
          <td></td>
          <td colspan="7">
            <nz-table #innerTable [nzScroll]="{ x: '240px' }" [nzData]="data.days_weeks" nzSize="middle"
              [nzShowPagination]="false">
              <thead>
                <tr class="table__header">
                  <th>Dia</th>
                  <th>Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let day of data.days_weeks">
                  <td>{{day.day}}</td>
                  <td>
                    <button nz-button [disabled]="!('bus:types_days:delete' | hasPermission)" [nzType]="'danger'"
                      (click)="deleteDay(data.id, day.group_day)"><i nz-icon type="delete"></i></button>
                  </td>
                </tr>
                <tr>
                  <div style="padding-bottom: 10px;">
                    <span nz-tooltip nzTitle="Adicionar Dia">
                      <button nz-button style=" margin-top: 10px; margin-right: 5px;" (click)="day ? addDay(data.id) : ''"><i nz-icon type="plus"></i></button>
                    </span>
                    <nz-select style="width: 120px;" nzAllowClear [(ngModel)]="day" nzPlaceHolder="Dias">
                      <nz-option *ngFor="let day of daysWeeks" nzValue={{day.id}} nzLabel={{day.day}}></nz-option>
                    </nz-select>
                  </div>

                  
                </tr>
              </tbody>
            </nz-table>
          </td>
        </tr>
    </ng-template>
    </tbody>

  </nz-table>
</div>