<div nz-row class="color-grey">
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="4" [nzXXl]="4">
    <div class="space-column">
      <div class="container">
        <div nz-row>
          <label class="container__title">Unidades Orgânicas</label>
        </div>

      </div>
      <div class="container-next">
        <div *ngFor="let organic of organics">
          <nz-row class="box cursor padding-boxes padding-left-10" [ngClass]="{'box-color':idOrganic == organic.id}"
            (click)="getBuildings(organic.id)">
            <label class="cursor" (click)="getBuildings(organic.id)">{{organic.name}}</label>
          </nz-row>
          <nz-divider class="divider"></nz-divider>
        </div>
        <div nz-row class="text-center box">
          <button [disabled]="!('infrastructure:organic-units:create' | hasPermission)" nz-button class="button-submit" [nzType]="'primary'"
            (click)="newData('organic-units/create', idOrganic)">Novo</button>
        </div>

      </div>
    </div>
  </div>

  <div *ngIf="buildingsView" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="4" [nzXXl]="4">
    <div class="space-column">
      <div class="container">
        <div nz-row>
          <label class="container__title">Edifícios</label>
        </div>
      </div>
      <div class="container-next">
        <div *ngFor="let building of buildings">
          <nz-row class="box cursor  padding-boxes padding-left-10" [ngClass]="{'box-color':idBuilding == building.id}"
            (click)="getWings(building.id)">
            <label class="cursor">{{building.name}}</label>
          </nz-row>
          <nz-divider class="divider"></nz-divider>
        </div>
        <div nz-row class="text-center box">
          <button [disabled]="!('infrastructure:buildings:create' | hasPermission)" nz-button class="button-submit" [nzType]="'primary'"
            (click)="newData('buildings/create', idOrganic)">Novo</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="wingsView" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="4" [nzXXl]="4">
    <div class="space-column">
      <div class="container">
        <div nz-row>
          <label class="container__title">Alas</label>
        </div>
      </div>
      <div class="container-next">
        <div *ngFor="let wing of wings">
          <nz-row class="box cursor  padding-boxes padding-left-10 " [ngClass]="{'box-color':idWing == wing.id}"
            (click)="getFloors(wing.id)">
            <label class="cursor">{{wing.name}}</label>
          </nz-row>
          <nz-divider class="divider"></nz-divider>
        </div>
        <div nz-row class="text-center box">
          <button [disabled]="!('infrastructure:wings:create' | hasPermission)" nz-button class="button-submit" [nzType]="'primary'"
            (click)="newData('wings/create', idBuilding)">Novo</button>
        </div>
      </div>

    </div>
  </div>
  <div *ngIf="floorsView" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="4" [nzXXl]="4">
    <div class="space-column">
      <div class="container">
        <div nz-row>
          <label class="container__title">Pisos</label>
        </div>
      </div>
      <div class="container-next">
        <div *ngFor="let floor of floors">
          <nz-row class="box cursor  padding-boxes padding-left-10 " [ngClass]="{'box-color':idFloor == floor.id}"
            (click)="getDivisions(floor.id)">
            <label class="cursor">{{floor.name}}</label>
          </nz-row>
          <nz-divider class="divider"></nz-divider>
        </div>
        <div nz-row class="text-center box">
          <button [disabled]="!('infrastructure:floors:create' | hasPermission)" nz-button class="button-submit" [nzType]="'primary'" 
            (click)="newData('floors/create', idWing)">Novo</button>
        </div>
      </div>
    </div>

  </div>
  <div *ngIf="divisionView" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="4" [nzXXl]="4">
    <div class="space-column">
      <div class="container">
        <div nz-row>
          <label class="container__title">Divisão</label>
        </div>
      </div>
      <div class="container-next">
        <div *ngFor="let division of divisions">
          <nz-row class="box cursor padding-boxes padding-left-10" [ngClass]="{'box-color':idDivision == division.id}"
            (click)="getServices(division.id)">
            <label nz-col class="cursor">{{division.name}}</label>
          </nz-row>
          <nz-divider class="divider"></nz-divider>
        </div>
        <div nz-row class="text-center box">
          <button [disabled]="!('infrastructure:rooms:create' | hasPermission)" nz-button class="button-submit" [nzType]="'primary'"
            (click)="newData('divisions/create', idFloor)">Novo</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="servicesView" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="4" [nzXXl]="4">
    <div class="space-column">
      <div class="container">
        <div nz-row>
          <label class="container__title">Serviço</label>
        </div>
      </div>
      <div class="container-next">
        <div *ngFor="let service of services">
          <nz-row class="box cursor padding-boxes padding-left-10">
            <label class="cursor">{{service.name}}</label>
          </nz-row>
          <nz-divider class="divider"></nz-divider>
        </div>
        <div nz-row class="text-center box">
          <button [disabled]="!('infrastructure:services:create' | hasPermission)" nz-button class="button-submit" [nzType]="'primary'"
            (click)="newData('services/create', idDivision)">Novo</button>
        </div>
      </div>
    </div>
  </div>
</div>