@import "theme";

.container {
    background: white;
    padding: 24px 0px 24px 10px;
    border-bottom: 3px solid var(--primary-color);
    &__title {
        font-size: 16px;
        line-height: 22px;
        margin: 0px;
        font-weight: bold;
        margin-bottom: 10px;
        color:black;
    }
    &__subtitle{
      margin-bottom: 5px;
    }
}

.container-next{
    background: white;
}

.padding-left-10{
    padding-left: 10px;
}

.box{
    padding-top: 25px;
    padding-bottom: 25px;
}

.divider{
    margin: 0px !important;
}

.space-column{
    padding-right: 10px;
    padding-bottom: 10px;
    background-color:  #F2F2F2;
}

.text-center{
    text-align: center;
}

.color-grey{
    background-color:  #F2F2F2;
}

.box-color{
    background-color: var(--primary-3)

}

.cursor{
    cursor:pointer;
}

@media screen and (max-width:800px) {

.space-column{
        padding-right: 0px;
        padding-bottom: 10px;
        background-color:  #F2F2F2;
}

}

@media screen and (max-width:600px) {
    .space-column{
        padding-right: 0px;
        padding-bottom: 10px;
        background-color:  #F2F2F2;
    }

}

.padding-boxes{
  padding: 25px 10px;
}
