<nz-tabset nzTabPosition="left" *ngIf="application">
  <nz-tab nzTitle="Oposição" *ngIf="application.status === 'opposition'">
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="24" nzXl="24">
      <div nz-row class="title">
        Motivo da oposição
      </div>
      <div nz-row class="detail-field">
        {{ application.opposition_request ? application.opposition_request : 'Sem informação' }}
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Despacho" *ngIf="application.status === 'pending'">
    <fi-sas-application-decision-confirm [application]="application" (applicationChanged)="resetList()">
    </fi-sas-application-decision-confirm>
  </nz-tab>
  <nz-tab nzTitle="Decisão" *ngIf="(application.status === 'analysed' || application.status === 'queued')">
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="24" nzXl="24">
      <div nz-row class="title">
        Residência selecionada
      </div>
      <div nz-row class="detail-field">
        <b>{{ residenceSelect ? residenceSelect : '-' }}</b>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="24" nzXl="24" class="padding-top-20">
      <div nz-row class="title">
        Decisão
      </div>
      <div nz-row class="detail-field">
        <nz-select [(ngModel)]="decision" name="decision" nzPlaceHolder="Decisão" nzAllowClear style="width: 100%;">
          <nz-option *ngFor="let decision of ApplicationDecisionList" [nzLabel]="decision.label"
            [nzValue]="decision.value"
            [nzDisabled]="decision.value === ApplicationDecision.enqueue && application.status === ApplicationStatus.QUEUED">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="24" nzXl="24">
      <div nz-row class="title">
        Residência
      </div>
      <div nz-row class="detail-field">
        <nz-select [(ngModel)]="residence_id" name="residence_id" [nzLoading]="residencesLoad"
          (ngModelChange)="room_id = null; getRoom($event)" nzPlaceHolder="Residência" nzAllowClear
          style="width: 100%;">
          <nz-option *ngFor="let residence of residences" [nzLabel]="residence.name" [nzValue]="residence.id"
            [nzDisabled]="!residence.active">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="24" nzXl="24">
      <div nz-row class="title">
        Quarto
      </div>
      <div nz-row class="detail-field">
        <nz-select nzShowSearch style="width: 100%;" [(ngModel)]="room_id" [nzLoading]="roomsLoad" name="room_id"
          id="room_id" nzAllowClear>
          <nz-option *ngFor="let room of rooms" [nzLabel]="room.name" [nzValue]="room.id" [nzDisabled]="!room.active">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="24" nzXl="24" *ngIf="residence_id && decision"
      class="padding-top-20">
      <button nz-button nzType="primary" [nzLoading]="decisionLoad" (click)="saveDecision()">Guardar</button>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Candidatura">
    <div nz-row nzType="flex" nzJustify="start">
      <label class="title-step">Candidatura</label>
    </div>
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Data de submissão
        </div>
        <div nz-row class="detail-field">
          {{ application.submission_date ? (application.submission_date | date: 'd MMMM y') : 'Não submetida' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Submetido fora do prazo
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="application.submitted_out_of_date "></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20"
        *ngIf="application.assigned_residence_id && application.assignedResidence">
        <div nz-row class="title">
          Residência
        </div>
        <div nz-row class="detail-field">
          {{ application.assignedResidence ? application.assignedResidence.name : '-'}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20"
        *ngIf="application.room_id && application.room">
        <div nz-row class="title">
          Quarto
        </div>
        <div nz-row class="detail-field">
          {{ application.room ? application.room.name : '-'}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20"
        *ngIf="application?.room && application?.room?.typology">
        <div nz-row class="title">
          Tipologia
        </div>
        <div nz-row class="detail-field">
          {{(application?.room?.typology?.translations | translation).name}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20" *ngIf="application?.tariff">
        <div nz-row class="title">
          Tarifário
        </div>
        <div nz-row class="detail-field">
          {{application?.tariff?.name}}
        </div>
      </div>
    </div>
    <div nz-row nzType="flex" nzJustify="start" class="padding-top-20">
      <label class="title-step">Residência a que se candidata</label>
    </div>
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Período
        </div>
        <div nz-row class="detail-field">
          {{ application.start_date | date: "dd/MM/yyyy"}} - {{ application.end_date | date: "dd/MM/yyyy"}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Residência
        </div>
        <div nz-row class="detail-field">
          {{ application.residence.name }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Regime de alojamento
        </div>
        <div nz-row class="detail-field">
          {{ (application.regime.translations | where: ['language_id', DEFAULT_LANG_ID])[0].name }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Regime de alojamento atual
        </div>
        <div nz-row class="detail-field">
          {{  application?.currentRegime?.translations ? (application?.currentRegime?.translations | where: ['language_id', DEFAULT_LANG_ID])[0].name : ''}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20"
        *ngIf="application.preferred_typology">
        <div nz-row class="title">
          Preferência de Tipologia de Quarto
        </div>
        <div nz-row class="detail-field">
          {{ (application.preferred_typology.translations | where: ['language_id', DEFAULT_LANG_ID])[0].name }}
        </div>
      </div>

    </div>
    <div nz-row nzType="flex" nzJustify="start" *ngIf="application.extras.length>0">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Extras
        </div>
        <div nz-row class="detail-field">
          <nz-tag *ngFor="let extra of application.extras" nzColor="">{{ (extra.translations | where: ['language_id',
            DEFAULT_LANG_ID])[0].name }}</nz-tag>
        </div>
      </div>
    </div>
    <div nz-row nzType="flex" nzJustify="start" class="padding-top-20"
      *ngIf="application.second_option_residence_id && application.second_option_residence">
      <label class="title-step">Residência alternativa</label>
    </div>
    <div nz-row nzType="flex" nzJustify="start"
      *ngIf="application.second_option_residence_id && application.second_option_residence">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Residência alternativa
        </div>
        <div nz-row class="detail-field">
          {{ application.second_option_residence ? application.second_option_residence.name : '-'}}
        </div>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="start" class="padding-top-20">
      <label class="title-step">Residência anterior</label>
    </div>
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Já esteve alojado(a) em alguma residência dos SAS
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="application.has_used_residences_before"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20"
        *ngIf="application.has_used_residences_before">
        <div nz-row class="title">
          Residência
        </div>
        <div nz-row class="detail-field">
          {{ application.whichResidence? application.whichResidence.name : '-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20"
        *ngIf="application.has_used_residences_before">
        <div nz-row class="title">
          Quarto
        </div>
        <div nz-row class="detail-field">
          {{ application.whichRoom ? application.whichRoom.name : '-' }}
        </div>
      </div>

    </div>
    <div nz-row nzType="flex" nzJustify="start" class="padding-top-20">
      <label class="title-step">Bolsa de estudo</label>
    </div>
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Candidatou-se ou vai
          candidatar-se à
          bolsa de estudo?
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="application.applied_scholarship"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20"
        *ngIf="application.scholarship_value">
        <div nz-row class="title">
          Valor da bolsa
        </div>
        <div nz-row class="detail-field">
          {{
          application.scholarship_value }} €
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Dados pessoais">
    <div nz-row nzType="flex" nzJustify="start">
      <label class="title-step">Dados pessoais</label>
    </div>
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Nome
        </div>
        <div nz-row class="detail-field">
          {{ application.full_name }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Data nascimento
        </div>
        <div nz-row class="detail-field">
          {{ application.applicant_birth_date | date: 'shortDate' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Género
        </div>
        <div nz-row class="detail-field">
          {{ application?.gender == 'M' ? 'Masculino' :
          application?.gender == 'F' ? 'Feminino'
          : application?.gender == 'U' ?
          'Outro' : '-'
          }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Filiação
        </div>
        <div nz-row class="detail-field">
          <b>Pai:</b> {{ application?.father_name ? application?.father_name : '-'
          }} <br>
          <b>Mãe:</b> {{ application?.mother_name ? application?.mother_name : '-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Incapacidade
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="application?.incapacity"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20"
        *ngIf="application?.incapacity">
        <div nz-row class="title">
          Tipo de incapacidade
        </div>
        <div nz-row class="detail-field">
          {{
          application.incapacity_type }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20"
        *ngIf="application?.incapacity">
        <div nz-row class="title">
          Grau de incapacidade
        </div>
        <div nz-row class="detail-field">
          {{
          application.incapacity_degree }}
        </div>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Nacionalidade
        </div>
        <div nz-row class="detail-field">
          {{ application.nationality }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Documento de identificação
        </div>
        <div nz-row class="detail-field">
          <b>{{ application?.document_type ?
            (application?.document_type?.translations | translation)?.description + ' - ' : ''}}</b> {{
          application?.identification }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          NIF
        </div>
        <div nz-row class="detail-field">
          {{ application.tin }}
        </div>
      </div>
      <ng-container *ngIf="application?.allow_direct_debit!=null">
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Autorização de Pagamento por Débito Direto?
          </div>
          <div nz-row class="detail-field">
            <fi-sas-tag [value]="application.allow_direct_debit"></fi-sas-tag>
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20"
          *ngIf="application?.allow_direct_debit">
          <div nz-row class="title">
            IBAN
          </div>
          <div nz-row class="detail-field">
            {{ application.iban }}
          </div>
        </div>
      </ng-container>
    </div>
    <div nz-row class="padding-top-20">
      <button nz-button [nzType]="'primary'" (click)="modalPerfil = true">Dados atuais</button>
    </div>
    <div nz-row nzType="flex" nzJustify="start" class="padding-top-20">
      <label class="title-step">Residência do agregado familiar</label>
    </div>
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Morada
        </div>
        <div nz-row class="detail-field">
          {{ application.address }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Código postal
        </div>
        <div nz-row class="detail-field">
          {{ application.postal_code }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Localidade
        </div>
        <div nz-row class="detail-field">
          {{ application.city }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          País
        </div>
        <div nz-row class="detail-field">
          {{ application.country }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Distância da residência do agregado familiar à escola
        </div>
        <div nz-row class="detail-field">
          {{
          application.household_distance }} kms
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Contactos">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          E-Mail institucional
        </div>
        <div nz-row class="detail-field">
          {{ application.email }}
        </div>
      </div>
      <div nz-col *ngIf="application.secundary_email" nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6"
        class="padding-top-20">
        <div nz-row class="title">
          E-Mail Pessoal
        </div>
        <div nz-row class="detail-field">
          {{ application.secundary_email
          }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Contacto principal
        </div>
        <div nz-row class="detail-field">
          {{ application.phone_1 }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Contacto de emergência
        </div>
        <div nz-row class="detail-field">
          {{ application.phone_2 }}
        </div>
      </div>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Dados académicos">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Estatuto de Estudante Internacional
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="application.international_student"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Escola
        </div>
        <div nz-row class="detail-field">
          {{ application?.organic_unit?.name ? application?.organic_unit?.name : '-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Grau
        </div>
        <div nz-row class="detail-field">
          {{ application?.course?.courseDegree?.name ? application?.course?.courseDegree?.name : '-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Curso
        </div>
        <div nz-row class="detail-field">
          {{ application?.course?.name }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          N.º estudante
        </div>
        <div nz-row class="detail-field">
          {{ application?.student_number }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Data de ingresso
        </div>
        <div nz-row class="detail-field">
          {{ application?.admission_date | date: "dd/MM/yyyy" }}
        </div>
      </div>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Agregado familiar">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col *ngIf="application?.house_hould_elements.length>0" nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12"
        class="padding-top-20">
        <div nz-row class="title">
          Elementos, parentesco e profissão
        </div>
        <div nz-row class="detail-field">
          <nz-tag *ngFor="let house of application?.house_hould_elements">{{ house?.kinship }} - {{
            house?.profession }}</nz-tag>
        </div>
      </div>
      <div nz-col *ngIf="application?.househould_elements_in_university" nzXs="24" nzSm="24" nzMd="12" nzLg="12"
        nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Nº de elementos a frequentar o ensino superior
        </div>
        <div nz-row class="detail-field">
          {{ application.househould_elements_in_university }}
        </div>
      </div>
      <div nz-col *ngIf="application?.household_total_income" nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12"
        class="padding-top-20">
        <div nz-row class="title">
          Total de rendimentos
        </div>
        <div nz-row class="detail-field">
          {{
          application?.household_total_income | number:'1.2-2' }} €
        </div>
      </div>
      <div nz-col *ngIf="application?.patrimony_category" nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12"
        class="padding-top-20">
        <div nz-row class="title">
          Valor do património mobiliário
        </div>
        <div nz-row class="detail-field">
          {{
          application?.patrimony_category }}
        </div>
      </div>
      <div nz-col *ngIf="application?.per_capita_income" nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12"
        class="padding-top-20">
        <div nz-row class="title">
          Rendimento per Capita
        </div>
        <div nz-row class="detail-field">
          {{
          application?.per_capita_income | number:'1.2-2' }} €
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Apresentou declaração de IRS
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="application.income_statement_delivered"></fi-sas-tag>
        </div>
      </div>
      <div *ngIf="application.income_statement_delivered == true" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24"
        nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Declaração de IRS do ano civil
        </div>
        <div nz-row class="detail-field" *ngFor="let media of filesIncomeStatement">
          <div *ngIf="media?.type == 'IMAGE'">
            <a target="_blank" [href]="media?.url">
              <img [src]="media?.url" width="100px">
            </a>
          </div>
          <div *ngIf="media?.type != 'IMAGE'">
            <a target="_blank" [href]="media?.url">
              <img src="./assets/images/doc.PNG" width="100px">
            </a>
          </div>
        </div>
      </div>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Observações">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Observações
        </div>
        <div nz-row class="detail-field">
          {{ application.observations !='' ? application.observations : '-' }}
        </div>
      </div>
    </div>
    <div nz-row *ngIf="filesOthers.length>0">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Outros Anexos
        </div>
        <div nz-row class="detail-field" *ngFor="let media of filesOthers">
          <div *ngIf="media?.type == 'IMAGE'">
            <a target="_blank" [href]="media?.url">
              <img [src]="media?.url" width="100px">
            </a>
          </div>
          <div *ngIf="media?.type != 'IMAGE'">
            <a target="_blank" [href]="media?.url">
              <img src="./assets/images/doc.PNG" width="100px">
            </a>
          </div>
        </div>
      </div>

    </div>
  </nz-tab>
  <nz-tab nzTitle="Oposição" [nzDisabled]="!application.has_opposed">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Requerimento
        </div>
        <div nz-row class="detail-field">
          {{ application.opposition_request }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Resposta
        </div>
        <div nz-row class="detail-field">
          {{ application.opposition_answer }}
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Histórico" [nzDisabled]="!application.history">
    <div nz-row nzType="flex" nzJustify="start" *ngFor="let state of application.history">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Data
        </div>
        <div nz-row class="detail-field">
          {{ state.created_at | date: 'd MMMM y HH:mm'}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Estado
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="state.status" [results]="ApplicationStatusTranslations"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Notas
        </div>
        <div nz-row class="detail-field">
          {{ state.notes ? state.notes : 'Sem notas' }}
        </div>
      </div>
      <div nz-col *ngIf="state.status === 'pending'" nzXs="24" nzSm="24" nzMd="24" nzLg="6" nzXl="6"
        class="padding-top-20">
        <div nz-row class="title">
          Decisão
        </div>
        <div nz-row class="detail-field">
          {{ state.decision ? (ApplicationDecisionList | where : ['value', state.decision])[0].label : 'Sem informação'
          }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Utilizador
        </div>
        <div nz-row class="detail-field">
          {{ state?.user?.name }}
        </div>
      </div>
      <div nz-col *ngIf="state.status === 'contracted' || state.status === 'pending'" nzXs="24" nzSm="24" nzMd="24"
        nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Residência atribuída
        </div>
        <div nz-row class="detail-field">
          {{ state.residence ? state.residence.name : 'Sem informação'}}
        </div>
      </div>
      <div nz-col *ngIf="state.status === 'contracted' || state.status === 'pending'" nzXs="24" nzSm="24" nzMd="24"
        nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Quarto atribuído
        </div>
        <div nz-row class="detail-field">
          {{ state.room ? state.room.name : 'Sem informação'}}
        </div>
      </div>
      <div nz-col *ngIf="state.status === 'contracted' " nzXs="24" nzSm="24" nzMd="24" nzLg="6" nzXl="6"
        class="padding-top-20">
        <div nz-row class="title">
          Tarifário
        </div>
        <div nz-row class="detail-field">
          {{ state.tariff ? state.tariff.name : '-'}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-divider></nz-divider>
      </div>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Ocorrências" [nzDisabled]="!application.occurrences">
    <div nz-row nzType="flex" nzJustify="start" *ngFor="let occurrence of application.occurrences">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Data
        </div>
        <div nz-row class="detail-field">
          {{ occurrence.date | date: 'd MMMM y'}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="9" class="padding-top-20">
        <div nz-row class="title">
          Assunto
        </div>
        <div nz-row class="detail-field">
          {{ occurrence.subject}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="9" class="padding-top-20">
        <div nz-row class="title">
          Descrição
        </div>
        <div nz-row class="detail-field">
          {{ occurrence.description}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Utilizador
        </div>
        <div nz-row class="detail-field">
          {{ occurrence?.created_by?.name }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" *ngIf="occurrence?.file_id" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Anexo
        </div>
        <div nz-row class="detail-field">
          <a target="_blank" [href]="occurrence?.file.url">
            Download
          </a>
        </div>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-divider></nz-divider>
      </div>
    </div>

  </nz-tab>

  <nz-tab nzTitle="Histórico de candidaturas" [nzDisabled]="!application.user_previous_applications">
    <div nz-row nzType="flex" nzJustify="start" *ngFor="let history of application.user_previous_applications">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Data de Submissão
        </div>
        <div nz-row class="detail-field">
          {{history.submission_date | date: 'd MMMM y' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Estado
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="history.status" [results]="ApplicationStatusTranslations"></fi-sas-tag>
        </div>
      </div>
      <div nz-col *ngIf="history.observations" nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          {{history.observations}}
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="history.status" [results]="ApplicationStatusTranslations"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Validade
        </div>
        <div nz-row class="detail-field">
          Válido de {{history.start_date | date: 'd MMMM y' }} a {{history.end_date
          | date: 'd MMMM y' }}
        </div>
      </div>
      <div *ngIf="history?.name" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Residência atribuida
        </div>
        <div nz-row class="detail-field">
          {{history?.name}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-divider></nz-divider>
      </div>

    </div>

  </nz-tab>

  <nz-tab nzTitle="Alterações de contrato" [nzDisabled]="application.status!='contracted'&&application.status!='closed'"
    (nzSelect)="loadContractChanges()">

    <nz-collapse>
      <nz-collapse-panel [nzHeader]="'Alteração de extras'" *ngIf="extraChangeResquests?.length>0">
        <div nz-row nzType="flex" nzJustify="start" *ngFor="let extrasChange of extraChangeResquests">
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Justificação
            </div>
            <div nz-row class="detail-field">
              {{ extrasChange.reason}}
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Novos extras
            </div>
            <div nz-row class="detail-field">
              <nz-tag *ngFor="let e of extrasChange.extras">{{ e.extra.translations[0].name }}</nz-tag>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="4" nzXl="4" class="padding-top-20">
            <div nz-row class="title">
              Data início
            </div>
            <div nz-row class="detail-field">
              {{ extrasChange.start_date | date:'dd-MM-yyyy'}}
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="4" nzXl="4" class="padding-top-20">
            <div nz-row class="title">
              Decisão
            </div>
            <div nz-row class="detail-field">
              <fi-sas-tag [value]="extrasChange.decision" [results]="ExtrasDecisionTranslations"></fi-sas-tag>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="4" nzXl="4" class="padding-top-20">
            <div nz-row class="title">
              Estado
            </div>
            <div nz-row class="detail-field">
              <fi-sas-tag [value]="extrasChange.status" [results]="ExtrasStatusTranslations"></fi-sas-tag>
            </div>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-divider></nz-divider>
          </div>
        </div>

      </nz-collapse-panel>
      <nz-collapse-panel [nzHeader]="'Alteração de regimes'" *ngIf="regimeChangeResquests?.length>0">
        <div nz-row nzType="flex" nzJustify="start" *ngFor="let regimeChange of regimeChangeResquests">
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Justificação
            </div>
            <div nz-row class="detail-field">
              {{ regimeChange.reason}}
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Novo regime
            </div>
            <div nz-row class="detail-field">
              <nz-tag>{{ regimeChange.regime.translations[0].name }}</nz-tag>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="4" nzXl="4" class="padding-top-20">
            <div nz-row class="title">
              Data início
            </div>
            <div nz-row class="detail-field">
              {{ regimeChange.start_date | date:'dd-MM-yyyy'}}
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="4" nzXl="4" class="padding-top-20">
            <div nz-row class="title">
              Decisão
            </div>
            <div nz-row class="detail-field">
              <fi-sas-tag [value]="regimeChange.decision" [results]="ExtrasDecisionTranslations"></fi-sas-tag>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="4" nzXl="4" class="padding-top-20">
            <div nz-row class="title">
              Estado
            </div>
            <div nz-row class="detail-field">
              <fi-sas-tag [value]="regimeChange.status" [results]="ExtrasStatusTranslations"></fi-sas-tag>
            </div>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-divider></nz-divider>
          </div>
        </div>
      </nz-collapse-panel>
      <nz-collapse-panel [nzHeader]="'Alteração de tipologia'" *ngIf="typologyChangeRequests?.length>0">
        <div nz-row nzType="flex" nzJustify="start" *ngFor="let typologyChange of typologyChangeRequests">
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Justificação
            </div>
            <div nz-row class="detail-field">
              {{ typologyChange.reason}}
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Nova tipologia
            </div>
            <div nz-row class="detail-field">
              <nz-tag>{{ typologyChange.typology.translations[0].name }}</nz-tag>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="4" nzXl="4" class="padding-top-20">
            <div nz-row class="title">
              Data início
            </div>
            <div nz-row class="detail-field">
              {{ typologyChange.start_date | date:'dd-MM-yyyy'}}
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="4" nzXl="4" class="padding-top-20">
            <div nz-row class="title">
              Decisão
            </div>
            <div nz-row class="detail-field">
              <fi-sas-tag [value]="typologyChange.decision" [results]="ExtrasDecisionTranslations"></fi-sas-tag>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="4" nzXl="4" class="padding-top-20">
            <div nz-row class="title">
              Estado
            </div>
            <div nz-row class="detail-field">
              <fi-sas-tag [value]="typologyChange.status" [results]="ExtrasStatusTranslations"></fi-sas-tag>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-divider></nz-divider>
          </div>
        </div>
      </nz-collapse-panel>
      <nz-collapse-panel [nzHeader]="'Alteração de residência'" *ngIf="residenceChangeRequests?.length>0">
        <div nz-row nzType="flex" nzJustify="start" *ngFor="let residenceChange of residenceChangeRequests">
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Justificação
            </div>
            <div nz-row class="detail-field">
              {{ residenceChange.reason}}
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Nova residência
            </div>
            <div nz-row class="detail-field">
              <nz-tag>{{ residenceChange.residence.name }}</nz-tag>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="4" nzXl="4" class="padding-top-20">
            <div nz-row class="title">
              Data início
            </div>
            <div nz-row class="detail-field">
              {{ residenceChange.start_date | date:'dd-MM-yyyy'}}
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="4" nzXl="4" class="padding-top-20">
            <div nz-row class="title">
              Decisão
            </div>
            <div nz-row class="detail-field">
              <fi-sas-tag [value]="residenceChange.decision" [results]="ExtrasDecisionTranslations"></fi-sas-tag>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="4" nzXl="4" class="padding-top-20">
            <div nz-row class="title">
              Estado
            </div>
            <div nz-row class="detail-field">
              <fi-sas-tag [value]="residenceChange.status" [results]="ExtrasStatusTranslations"></fi-sas-tag>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-divider></nz-divider>
          </div>
        </div>
      </nz-collapse-panel>
      <nz-collapse-panel [nzHeader]="'Permuta de quarto'" *ngIf="permuteChangeRequests?.length>0">
        <div nz-row nzType="flex" nzJustify="start" *ngFor="let permuteChange of permuteChangeRequests">
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Justificação
            </div>
            <div nz-row class="detail-field">
              {{ permuteChange.reason}}
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              NIF da candidatura para troca
            </div>
            <div nz-row class="detail-field">
              <nz-tag>{{ permuteChange.permute_user_tin }}</nz-tag>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="4" nzXl="4" class="padding-top-20">
            <div nz-row class="title">
              Data início
            </div>
            <div nz-row class="detail-field">
              {{ permuteChange.start_date | date:'dd-MM-yyyy'}}
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="4" nzXl="4" class="padding-top-20">
            <div nz-row class="title">
              Decisão
            </div>
            <div nz-row class="detail-field">
              <fi-sas-tag [value]="permuteChange.decision" [results]="ExtrasDecisionTranslations"></fi-sas-tag>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="4" nzXl="4" class="padding-top-20">
            <div nz-row class="title">
              Estado
            </div>
            <div nz-row class="detail-field">
              <fi-sas-tag [value]="permuteChange.status" [results]="ExtrasStatusTranslations"></fi-sas-tag>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-divider></nz-divider>
          </div>
        </div>
      </nz-collapse-panel>
      <nz-collapse-panel [nzHeader]="'Pedidos de desistência'" *ngIf="withdrawalRequests?.length>0">
        <div nz-row nzType="flex" nzJustify="start" *ngFor="let withdrawal of withdrawalRequests">
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Justificação
            </div>
            <div nz-row class="detail-field">
              {{ withdrawal.reason}}
            </div>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Data final
            </div>
            <div nz-row class="detail-field">
              {{ withdrawal.end_date | date:'dd-MM-yyyy'}}
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Decisão
            </div>
            <div nz-row class="detail-field">
              <fi-sas-tag [value]="withdrawal.decision" [results]="ExtrasDecisionTranslations"></fi-sas-tag>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Estado
            </div>
            <div nz-row class="detail-field">
              <fi-sas-tag [value]="withdrawal.status" [results]="ExtrasStatusTranslations"></fi-sas-tag>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-divider></nz-divider>
          </div>
        </div>
      </nz-collapse-panel>
      <nz-collapse-panel [nzHeader]="'Pedidos de extensão'" *ngIf="extensionRequests?.length>0">
        <div nz-row nzType="flex" nzJustify="start" *ngFor="let extension of extensionRequests">
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Justificação
            </div>
            <div nz-row class="detail-field">
              {{ extension.reason}}
            </div>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Nova data final
            </div>
            <div nz-row class="detail-field">
              {{ extension.end_date | date:'dd-MM-yyyy'}}
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Decisão
            </div>
            <div nz-row class="detail-field">
              <fi-sas-tag [value]="extension.decision" [results]="ExtrasDecisionTranslations"></fi-sas-tag>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Estado
            </div>
            <div nz-row class="detail-field">
              <fi-sas-tag [value]="extension.status" [results]="ExtrasStatusTranslations"></fi-sas-tag>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-divider></nz-divider>
          </div>
        </div>
      </nz-collapse-panel>
      <nz-collapse-panel [nzHeader]="'Ausências'" *ngIf="absenceRequests?.length>0">
        <div nz-row nzType="flex" nzJustify="start" *ngFor="let absence of absenceRequests">
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Justificação
            </div>
            <div nz-row class="detail-field">
              {{ absence.reason}}
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="3" nzXl="3" class="padding-top-20">
            <div nz-row class="title">
              Data início
            </div>
            <div nz-row class="detail-field">
              {{ absence.end_date | date:'dd-MM-yyyy'}}
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="3" nzXl="3" class="padding-top-20">
            <div nz-row class="title">
              Data início
            </div>
            <div nz-row class="detail-field">
              {{ absence.start_date | date:'dd-MM-yyyy'}}
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Decisão
            </div>
            <div nz-row class="detail-field">
              <fi-sas-tag [value]="absence.decision" [results]="AbsenceDecisionTranslations"></fi-sas-tag>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Estado
            </div>
            <div nz-row class="detail-field">
              <fi-sas-tag [value]="absence.status" [results]="AbsenceStatusTranslations"></fi-sas-tag>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-divider></nz-divider>
          </div>
        </div>
      </nz-collapse-panel>
    </nz-collapse>


  </nz-tab>
</nz-tabset>
<nz-empty *ngIf="!application"></nz-empty>



<nz-modal [(nzVisible)]="modalPerfil" (nzOnCancel)="modalPerfil=false" [nzTitle]="'Dados atuais'" nzWidth="900"
  [nzOkText]="null" [nzCancelText]="null">
  <div nz-row>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
      <div nz-row class="title">
        Email
      </div>
      <div nz-row class="detail-field">
        {{application?.user?.email}}
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
      <div nz-row class="title">
        Contacto
      </div>
      <div nz-row class="detail-field">
        {{application?.user?.phone}}
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
      <div nz-row class="title">
        Morada
      </div>
      <div nz-row class="detail-field">
        {{application?.user?.address}}, {{application?.user?.postal_code}} {{application?.user?.city}}
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
      <div nz-row class="title">
        Identificação
      </div>
      <div nz-row class="detail-field">
        {{application?.user?.identification}}
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
      <div nz-row class="title">
        NIF
      </div>
      <div nz-row class="detail-field">
        {{application?.user?.tin}}
      </div>
    </div>
  </div>

</nz-modal>
