@import "theme";

.detail-field {
    color: var(--primary-color);
    font-weight: normal;
    padding-top: 5px;
}

.padding-top-20 {
    padding-top: 20px;
}

.title {
    color: black;
}

.title-step {
    font-size: 15px;
    color: black;
    font-weight: bold;
}
