<div
  nzType="flex"
  nzAlign="middle"
  nzJustify="center"
  perfectScrollbar
  class="page ps scroll-container"
>
  <div class="container">
    <form [formGroup]="dishTypeForm" nzLayout="vertical">
      <nz-spin [nzSpinning]="languages_loading">
        <ng-container formArrayName="translations">
          <nz-tabset [nzTabBarExtraContent]="languageTemplate" #translationTabs>
            <nz-tab
              *ngFor="let translation of translations.controls; let i = index"
              [nzTitle]="getLanguageName(translation.value.language_id)"
            >
              <ng-container [formGroupName]="i">
                <nz-form-item>
                  <nz-form-label nzRequired> Nome </nz-form-label>
                  <nz-form-control>
                    <input type="text" nz-input formControlName="name" />
                  </nz-form-control>
                  <nz-form-explain
                    class="color-required"
                    *ngIf="
                      submitted &&
                      dishTypeForm.get('translations.' + i + '.name')?.errors
                    "
                  >
                    Campo obrigatório
                  </nz-form-explain>
                </nz-form-item>
              </ng-container>
            </nz-tab>
          </nz-tabset>
        </ng-container>

        <nz-form-explain
          class="color-required"
          *ngIf="submitted && errorTrans"
          style="padding-top: 20px"
        >
          Obrigatório preencher pelo menos uma tradução
        </nz-form-explain>

        <div nz-row>
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="7"
            [nzLg]="7"
            [nzXl]="7"
            [nzXXl]="7"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label nzRequired> Código </nz-form-label>
              <nz-form-control nzSpan="24">
                <input nz-input type="text" formControlName="code" id="code" />
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.code.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="5"
            [nzLg]="5"
            [nzXl]="5"
            [nzXXl]="5"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label nzRequired> Preço </nz-form-label>
              <nz-form-control nzSpan="24">
                <input
                  nz-input
                  type="number"
                  formControlName="price"
                  id="price"
                />
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.price.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="7"
            [nzLg]="7"
            [nzXl]="7"
            [nzXXl]="7"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label nzRequired> Taxa de Iva </nz-form-label>
              <nz-form-control nzSpan="24">
                <nz-select
                  class="primary-select"
                  formControlName="tax_id"
                  nzShowSearch
                >
                  <nz-option
                    *ngFor="let tax of taxes"
                    [nzLabel]="tax?.name"
                    [nzValue]="tax.id"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.tax_id.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>

        <div nz-row>
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="3"
            [nzLg]="3"
            [nzXl]="3"
            [nzXXl]="3"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label nzRequired> Activo </nz-form-label>
              <nz-form-control nzSpan="24">
                <nz-switch formControlName="active"> </nz-switch>
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.active.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="4"
            [nzLg]="4"
            [nzXl]="4"
            [nzXXl]="4"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label nzRequired> Operações de POS </nz-form-label>
              <nz-form-control nzSpan="24">
                <nz-switch formControlName="pos_operations"> </nz-switch>
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.pos_operations.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="4"
            [nzLg]="4"
            [nzXl]="4"
            [nzXXl]="4"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label nzRequired> Disponível para pack </nz-form-label>
              <nz-form-control nzSpan="24">
                <nz-switch formControlName="pack_available"> </nz-switch>
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.pack_available.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>

        <div nz-row class="padding-top-30">
          <fieldset>
            <legend>Disponibilidade Almoço</legend>
            <div nz-row class="padding-top-30">
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="4"
                [nzLg]="4"
                [nzXl]="4"
                [nzXXl]="4"
                class="padding-right-20"
              >
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-form-label> Data de início </nz-form-label>
                  <nz-form-control>
                    <nz-date-picker
                      class="primary-datePicker"
                      formControlName="begin_date_lunch"
                      id="begin_date_lunch"
                      [nzDisabledDate]="disableStartDateLunch"
                    >
                    </nz-date-picker>
                    <!-- <nz-form-explain class="color-required" *ngIf="submitted && f.begin_date.errors">Campo obrigatório</nz-form-explain> -->
                  </nz-form-control>
                </div>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="4"
                [nzLg]="4"
                [nzXl]="4"
                [nzXXl]="4"
                class="padding-right-20"
              >
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-form-label> Data de fim </nz-form-label>
                  <nz-form-control>
                    <nz-date-picker
                      class="primary-datePicker"
                      formControlName="end_date_lunch"
                      id="end_date_lunch"
                      [nzDisabledDate]="disableEndDateLunch"
                    >
                    </nz-date-picker>
                    <!-- <nz-form-explain class="color-required" *ngIf="submitted && f.end_date.errors">Campo obrigatório</nz-form-explain> -->
                  </nz-form-control>
                </div>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="4"
                [nzLg]="4"
                [nzXl]="4"
                [nzXXl]="4"
                style="margin-left: 16px"
              >
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-form-label> Hora mínima </nz-form-label>
                  <nz-form-control>
                    <nz-time-picker
                      formControlName="minimum_hour_lunch"
                      [nzDefaultOpenValue]="defaultOpenValue"
                    ></nz-time-picker>
                    <nz-form-explain
                      class="color-required"
                      *ngIf="validTimeMinLunch()"
                      >Hora inválida</nz-form-explain
                    >
                  </nz-form-control>
                </div>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="4"
                [nzLg]="4"
                [nzXl]="4"
                [nzXXl]="4"
              >
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-form-label> Hora máxima </nz-form-label>
                  <nz-form-control>
                    <nz-time-picker
                      formControlName="maximum_hour_lunch"
                      [nzDefaultOpenValue]="defaultOpenValue"
                    ></nz-time-picker>
                    <nz-form-explain
                      class="color-required"
                      *ngIf="validTimeMaxLunch()"
                      >Hora inválida</nz-form-explain
                    >
                  </nz-form-control>
                </div>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="5"
                [nzLg]="5"
                [nzXl]="5"
                [nzXXl]="5"
              >
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-form-label> Hora máxima de anulação </nz-form-label>
                  <nz-form-control>
                    <nz-time-picker
                      formControlName="annulment_maximum_hour_lunch"
                      [nzDefaultOpenValue]="defaultOpenValue"
                    ></nz-time-picker>
                    <nz-form-explain
                      class="color-required"
                      *ngIf="validTimeLunch()"
                      >Hora tem que ser superior a hora mínima</nz-form-explain
                    >
                  </nz-form-control>
                </div>
              </div>
            </div>
            <div nz-row class="padding-top-30">
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="3"
                [nzLg]="3"
                [nzXl]="3"
                [nzXXl]="3"
              >
                <div nz-row class="padding-bottom-5">
                  <nz-form-label> Segunda-feira </nz-form-label>
                </div>

                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-switch formControlName="monday_lunch"> </nz-switch>
                </div>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="3"
                [nzLg]="3"
                [nzXl]="3"
                [nzXXl]="3"
              >
                <div nz-row class="padding-bottom-5">
                  <nz-form-label> Terça-feira </nz-form-label>
                </div>
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-switch formControlName="tuesday_lunch"> </nz-switch>
                </div>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="3"
                [nzLg]="3"
                [nzXl]="3"
                [nzXXl]="3"
              >
                <div nz-row class="padding-bottom-5">
                  <nz-form-label> Quarta-feira </nz-form-label>
                </div>
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-switch formControlName="wednesday_lunch"> </nz-switch>
                </div>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="3"
                [nzLg]="3"
                [nzXl]="3"
                [nzXXl]="3"
              >
                <div nz-row class="padding-bottom-5">
                  <nz-form-label> Quinta-feira </nz-form-label>
                </div>
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-switch formControlName="thursday_lunch"> </nz-switch>
                </div>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="3"
                [nzLg]="3"
                [nzXl]="3"
                [nzXXl]="3"
              >
                <div nz-row class="padding-bottom-5">
                  <nz-form-label> Sexta-feira </nz-form-label>
                </div>
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-switch formControlName="friday_lunch"> </nz-switch>
                </div>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="3"
                [nzLg]="3"
                [nzXl]="3"
                [nzXXl]="3"
              >
                <div nz-row class="padding-bottom-5">
                  <nz-form-label> Sábado </nz-form-label>
                </div>
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-switch formControlName="saturday_lunch"> </nz-switch>
                </div>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="3"
                [nzLg]="3"
                [nzXl]="3"
                [nzXXl]="3"
              >
                <div nz-row class="padding-bottom-5">
                  <nz-form-label> Domingo </nz-form-label>
                </div>
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-switch formControlName="sunday_lunch"> </nz-switch>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div nz-row class="padding-top-30">
          <fieldset>
            <legend>Disponibilidade Jantar</legend>
            <div nz-row class="padding-top-30">
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="4"
                [nzLg]="4"
                [nzXl]="4"
                [nzXXl]="4"
                class="padding-right-20"
              >
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-form-label> Data de início </nz-form-label>
                  <nz-form-control>
                    <nz-date-picker
                      class="primary-datePicker"
                      formControlName="begin_date_dinner"
                      id="begin_date_dinner"
                      [nzDisabledDate]="disableStartDateDinner"
                    >
                    </nz-date-picker>
                    <!-- <nz-form-explain class="color-required" *ngIf="submitted && f.begin_date.errors">Campo obrigatório</nz-form-explain> -->
                  </nz-form-control>
                </div>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="4"
                [nzLg]="4"
                [nzXl]="4"
                [nzXXl]="4"
                class="padding-right-20"
              >
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-form-label> Data de fim </nz-form-label>
                  <nz-form-control>
                    <nz-date-picker
                      class="primary-datePicker"
                      formControlName="end_date_dinner"
                      id="end_date_dinner"
                      [nzDisabledDate]="disableEndDateDinner"
                    >
                    </nz-date-picker>
                    <!-- <nz-form-explain class="color-required" *ngIf="submitted && f.end_date.errors">Campo obrigatório</nz-form-explain> -->
                  </nz-form-control>
                </div>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="4"
                [nzLg]="4"
                [nzXl]="4"
                [nzXXl]="4"
                style="margin-left: 16px"
              >
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-form-label> Hora mínima </nz-form-label>
                  <nz-form-control>
                    <nz-time-picker
                      formControlName="minimum_hour_dinner"
                      [nzDefaultOpenValue]="defaultOpenValue"
                    ></nz-time-picker>
                    <nz-form-explain
                      class="color-required"
                      *ngIf="validTimeMinDinner()"
                      >Hora inválida</nz-form-explain
                    >
                  </nz-form-control>
                </div>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="4"
                [nzLg]="4"
                [nzXl]="4"
                [nzXXl]="4"
              >
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-form-label> Hora máxima </nz-form-label>
                  <nz-form-control>
                    <nz-time-picker
                      formControlName="maximum_hour_dinner"
                      [nzDefaultOpenValue]="defaultOpenValue"
                    ></nz-time-picker>
                    <nz-form-explain
                      class="color-required"
                      *ngIf="validTimeMaxDinner()"
                      >Hora inválida</nz-form-explain
                    >
                  </nz-form-control>
                </div>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="5"
                [nzLg]="5"
                [nzXl]="5"
                [nzXXl]="5"
              >
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-form-label> Hora máxima de anulação </nz-form-label>
                  <nz-form-control>
                    <nz-time-picker
                      formControlName="annulment_maximum_hour_dinner"
                      [nzDefaultOpenValue]="defaultOpenValue"
                    ></nz-time-picker>
                    <nz-form-explain
                      class="color-required"
                      *ngIf="validTimeDinner()"
                      >Hora tem que ser superior a hora mínima</nz-form-explain
                    >
                  </nz-form-control>
                </div>
              </div>
            </div>
            <div nz-row class="padding-top-30">
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="3"
                [nzLg]="3"
                [nzXl]="3"
                [nzXXl]="3"
              >
                <div nz-row class="padding-bottom-5">
                  <nz-form-label> Segunda-feira </nz-form-label>
                </div>
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-switch formControlName="monday_dinner"> </nz-switch>
                </div>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="3"
                [nzLg]="3"
                [nzXl]="3"
                [nzXXl]="3"
              >
                <div nz-row class="padding-bottom-5">
                  <nz-form-label> Terça-feira </nz-form-label>
                </div>
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-switch formControlName="tuesday_dinner"> </nz-switch>
                </div>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="3"
                [nzLg]="3"
                [nzXl]="3"
                [nzXXl]="3"
              >
                <div nz-row class="padding-bottom-5">
                  <nz-form-label> Quarta-feira </nz-form-label>
                </div>
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-switch formControlName="wednesday_dinner"> </nz-switch>
                </div>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="3"
                [nzLg]="3"
                [nzXl]="3"
                [nzXXl]="3"
              >
                <div nz-row class="padding-bottom-5">
                  <nz-form-label> Quinta-feira </nz-form-label>
                </div>
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-switch formControlName="thursday_dinner"> </nz-switch>
                </div>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="3"
                [nzLg]="3"
                [nzXl]="3"
                [nzXXl]="3"
              >
                <div nz-row class="padding-bottom-5">
                  <nz-form-label> Sexta-feira </nz-form-label>
                </div>
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-switch formControlName="friday_dinner"> </nz-switch>
                </div>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="3"
                [nzLg]="3"
                [nzXl]="3"
                [nzXXl]="3"
              >
                <div nz-row class="padding-bottom-5">
                  <nz-form-label> Sábado </nz-form-label>
                </div>
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-switch formControlName="saturday_dinner"> </nz-switch>
                </div>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="3"
                [nzLg]="3"
                [nzXl]="3"
                [nzXXl]="3"
              >
                <div nz-row class="padding-bottom-5">
                  <nz-form-label> Domingo </nz-form-label>
                </div>
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-switch formControlName="sunday_dinner"> </nz-switch>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div nz-row class="padding-top-30">
          <fieldset>
            <legend>Segmentação utilizadores</legend>
            <div nz-row class="padding-top-30">
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="7"
                [nzLg]="7"
                [nzXl]="7"
                [nzXXl]="7"
                class="padding-right-20"
              >
                <div nz-row>
                  <nz-form-label nzRequired>
                    Excluir perfils de utilizadores
                  </nz-form-label>
                  <nz-form-control nzSpan="24">
                    <nz-select
                      class="primary-select"
                      formControlName="excluded_user_profile_ids"
                      nzShowSearch
                      nzMode="multiple"
                    >
                      <nz-option
                        *ngFor="let profile of profiles"
                        [nzLabel]="profile?.name"
                        [nzValue]="profile.id"
                      >
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                  <nz-form-explain
                    class="color-required"
                    *ngIf="submitted && f.excluded_user_profile_ids.errors"
                  >
                    Campo inválido!
                  </nz-form-explain>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </nz-spin>
    </form>
  </div>
  <div class="space">
    <button *ngIf="id != undefined" nz-button (click)="backList()">
      Voltar
    </button>
    <button
      nz-button
      [nzLoading]="loading"
      [disabled]="loading"
      (click)="id != undefined ? submitDishType(true) : submitDishType(false)"
      class="button-submit"
      [nzType]="'primary'"
    >
      {{ id != undefined ? 'Editar' : 'Criar' }}
    </button>
  </div>
</div>

<ng-template #languageTemplate>
  <nz-select
    class="languages"
    nzMode="multiple"
    [(ngModel)]="listOfSelectedLanguages"
    [nzMaxTagCount]="1"
    nzPlaceHolder="Línguas"
    [nzLoading]="languages_loading"
    (ngModelChange)="changeLanguage()"
  >
    <nz-option
      *ngFor="let language of languages"
      [nzLabel]="language.name"
      [nzValue]="language.id"
    ></nz-option>
  </nz-select>
</ng-template>
