@import 'theme';

.form {
  &--title {
    color: #222222;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.41;
  }

  &--subtitle {
    color: #666666;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 15px;
  }

  &--image > img {
    width: 90px;
  }

  &--title,
  &--subtitle,
  &--image {
    text-align: center;
  }

  &--description {
    font-weight: bold;

    &--name {
      color: var(--primary-color);
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &--description-hours {
    font-size: 12px;
    line-height: 1.6;

    & > span {
      font-size: 18px;
      font-weight: normal;
    }
  }

  &--description,
  &--description-hours {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--buttons {
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

.font {
  font-size: 13px !important;
}

.error {
  color: red;
  margin-top: 5px;

  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}

@media screen and (min-width: 450px) {
  .form__inputs--hours .primary-input {
    width: 120px;
  }
}
