<nz-spin [nzSpinning]="scopesLoading">
  <ul>
    <li *ngFor="let scope of tree">
      <span>
        <i
          nz-icon
          [nzType]="expanded[scope.id] ? 'caret-down' : 'caret-right'"
          nzTheme="outline"
          (click)="expanded[scope.id] = !expanded[scope.id]"
        ></i>
        <!--<input type="checkbox" [(ngModel)]="selected[scope.id]" (ngModelChange)="updateValue()">-->
        <label
          nz-checkbox
          [(ngModel)]="selected[scope.id]"
          (ngModelChange)="updateValue(scope)"
          [nzIndeterminate]="indeterminated[scope.id]"
        >
          {{ scope.name }}
        </label>
      </span>
      <ul *ngIf="expanded[scope.id]">
        <li *ngFor="let children of scope.children">
          <span>
            <i
              nz-icon
              [nzType]="expanded[children.id] ? 'caret-down' : 'caret-right'"
              nzTheme="outline"
              (click)="expanded[children.id] = !expanded[children.id]"
            ></i>
            <!--<input type="checkbox" [(ngModel)]="selected[children.id]" (ngModelChange)="updateValue()">-->
            <label
            nz-checkbox
            [(ngModel)]="selected[children.id]"
            (ngModelChange)="updateValue(children)"
            [nzIndeterminate]="indeterminated[children.id]"
            >{{ children.name }}</label>
          </span>
          <ul *ngIf="expanded[children.id]">
            <li *ngFor="let children1 of children.children">
              <span>
                <!--<input type="checkbox" [(ngModel)]="selected[children1.id]" (ngModelChange)="updateValue()">-->
                <label
                nz-checkbox
                [(ngModel)]="selected[children1.id]"
                (ngModelChange)="updateValue(children1)"
                >{{ children1.name }}</label>
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nz-spin>
