<div class="occurrences-container">
    <h2 class="title-top-page">{{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TITLE' | translate }}</h2>
    <p class="sub-title-top-page">{{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.DESC' | translate }}</p>


    <nz-spin [nzSpinning]="loading">
        <nz-empty style="margin-top: 25px !important" [nzNotFoundFooter]="userApplications" class="box-empty"
            [nzNotFoundContent]="'MOBILITY.APPLICATIONS.NO_CONTENT' | translate" *ngIf="userApplications.length == 0">
        </nz-empty>
        <div nz-row style="margin-top: 20px;" *ngIf="userApplications.length != 0">
            <div nz-col>
                <nz-card id="cardOccurrencesComponent" class="border-radius-8">

                    <div class="padding-table hidden-xs">
                        <table class="table table-responsive">
                            <tr class="header-table">
                                <th>
                                    <div class="header-table-div">
                                        <span>{{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.DATESUBMIT' | translate
                                            }}</span>
                                    </div>
                                </th>
                                <th>
                                    <div class="header-table-div">
                                        <span>{{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.TYPEOC' | translate
                                            }}</span>
                                    </div>
                                </th>
                                <th>
                                    <div class="header-table-div">
                                        <span>{{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.STATUSOC' | translate
                                            }}</span>
                                    </div>
                                </th>
                            </tr>
                            <tbody *ngFor="let user of userApplications; let idx = index">
                                <tr class="body-table" [ngClass]="{'par':!isPar(idx), 'impar':isPar(idx)}">
                                    <td>
                                        <div class="text-table"><span> {{ user?.created_at | date: 'dd-MM-yyyy' }}
                                            </span></div>
                                    </td>
                                    <td>
                                        <div class="text-table"><span> {{ user?.subject == 'THEFT' ?
                                                ('U_BIKE.DASHBOARD.SUBJECT.THEFT' |
                                                translate) :
                                                user?.subject == 'WITHDRAWAL' ? ('U_BIKE.DASHBOARD.SUBJECT.WITHDRAWAL' |
                                                translate) :
                                                user?.subject == 'ABSENCE' ? ('U_BIKE.DASHBOARD.SUBJECT.ABSENCE' |
                                                translate) :
                                                user?.subject == 'COMPLAINT' ? ('U_BIKE.DASHBOARD.SUBJECT.COMPLAINT' |
                                                translate) :
                                                user?.subject == 'CONTESTATION' ?
                                                ('U_BIKE.DASHBOARD.SUBJECT.CONTESTATION' |
                                                translate) :
                                                user?.subject == 'RENOVATION' ? ('U_BIKE.DASHBOARD.SUBJECT.RENOVATION' |
                                                translate) :
                                                user?.subject == 'MAINTENANCE_REQUEST' ?
                                                ('U_BIKE.DASHBOARD.SUBJECT.MAINTENANCE_REQUEST' | translate) :
                                                user?.subject == 'PRIVATE_MAINTENANCE' ?
                                                ('U_BIKE.DASHBOARD.SUBJECT.PRIVATE_MAINTENANCE' | translate) :
                                                user?.subject == 'ADDITIONAL_MAINTENANCE_KIT' ?
                                                ('U_BIKE.DASHBOARD.SUBJECT.ADDITIONAL_MAINTENANCE_KIT' | translate) :
                                                user?.subject == 'BREAKDOWN' ? ('U_BIKE.DASHBOARD.SUBJECT.BREAKDOWN' |
                                                translate) : '-'
                                                }} </span></div>
                                    </td>
                                    <td>
                                        <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                            class="body-table text-table">
                                            <nz-tag class="tab-status cursor-cont" [ngClass]="checkTagStatusColor(user)">
                                            {{ user.subject !== 'PRIVATE_MAINTENANCE' ?
                                            ('U_BIKE.APPLICATIONS.STATUS.'+ user.status.toString().toUpperCase() |
                                            translate)
                                            : ('U_BIKE.APPLICATIONS.STATUS.CLOSE_AUT'.toUpperCase() | translate) }}
                                            </nz-tag>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="padding-table hidden-md">
                        <div *ngFor="let user of userApplications; let idx = index">
                            <div [ngClass]="{'par':isPar(idx), 'impar':!isPar(idx)}">
                                <div nz-row nzType="flex" style="align-items: stretch;">
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                        class="header-table-div padding-left-5">
                                        <span>{{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.DATESUBMIT' | translate
                                            }}</span>
                                    </div>
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="body-table padding-top-13">
                                        <span> {{ user.created_at | date: 'dd-MM-yyyy' }} </span>
                                    </div>
                                </div>
                                <div nz-row nzType="flex" style="align-items: stretch;">
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                        class="header-table-div padding-left-5">
                                        <span>{{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.TYPEOC' | translate
                                            }}</span>
                                    </div>
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="body-table padding-top-13">
                                        <span> {{
                                            user?.subject == 'THEFT' ? ('U_BIKE.DASHBOARD.SUBJECT.THEFT' | translate) :
                                            user?.subject == 'WITHDRAWAL' ? ('U_BIKE.DASHBOARD.SUBJECT.WITHDRAWAL' |
                                            translate) :
                                            user?.subject == 'ABSENCE' ? ('U_BIKE.DASHBOARD.SUBJECT.ABSENCE' |
                                            translate) :
                                            user?.subject == 'COMPLAINT' ? ('U_BIKE.DASHBOARD.SUBJECT.COMPLAINT' |
                                            translate) :
                                            user?.subject == 'CONTESTATION' ? ('U_BIKE.DASHBOARD.SUBJECT.CONTESTATION' |
                                            translate) :
                                            user?.subject == 'RENOVATION' ? ('U_BIKE.DASHBOARD.SUBJECT.RENOVATION' |
                                            translate) :
                                            user?.subject == 'MAINTENANCE_REQUEST' ?
                                            ('U_BIKE.DASHBOARD.SUBJECT.MAINTENANCE_REQUEST' |
                                            translate) :
                                            user?.subject == 'PRIVATE_MAINTENANCE' ?
                                            ('U_BIKE.DASHBOARD.SUBJECT.PRIVATE_MAINTENANCE' |
                                            translate) :
                                            user?.subject == 'ADDITIONAL_MAINTENANCE_KIT' ?
                                            ('U_BIKE.DASHBOARD.SUBJECT.ADDITIONAL_MAINTENANCE_KIT' | translate) :
                                            user?.subject == 'BREAKDOWN' ? ('U_BIKE.DASHBOARD.SUBJECT.BREAKDOWN' |
                                            translate) : '-'
                                            }}</span>
                                    </div>
                                </div>
                                <div nz-row nzType="flex" style="align-items: stretch;">
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                        class="header-table-div padding-left-5">
                                        <span>{{ 'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.STATUSOC' | translate
                                            }}</span>
                                    </div>
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" class="body-table header-table-div">
                                        <nz-tag class="tab-status cursor-cont" [ngClass]="checkTagStatusColor(user)">
                                            {{ user.subject !== 'PRIVATE_MAINTENANCE' ? ('U_BIKE.APPLICATIONS.STATUS.'+
                                            user.status.toString().toUpperCase() | translate)
                                            : ('U_BIKE.APPLICATIONS.STATUS.CLOSE_AUT'.toUpperCase() | translate) }}
                                        </nz-tag>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div nz-row class="occurrences-container__button-more">
                        <app-button [translate]="'U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.BUTTONS.MORE'"
                            [type]="'secundary'" [buttonStyle]='buttonDetails' [routerLink]="['/u-bike/occurrences']">
                        </app-button>
                    </div>
                </nz-card>
            </div>
        </div>
    </nz-spin>
</div>
