
.card {

  &__status {
      font-size: 11px;
      font-weight: bold;
      letter-spacing: 0.5px;
      color: #ffffff;
      text-align: center;
      align-items: center;
      border: none;
      cursor: pointer;
  }
}

.cursor-context {
  cursor: context-menu !important;
}

.PUBLISHED {
  background-color: #9dbbae;
}

.RETURNED {
  background-color: #88ccf1;
}

.ANALYSED {
  background-color: #7768AE;
}

.SUBMITTED {
  background-color: #4d9de0;
}

.APPROVED {
  background-color: #0d69dd;
}

.REJECTED {
  background-color: #D0021B;
}

.SEND_SEEM {
  background-color: #D4B483;
}

.EXTERNAL_SYSTEM {
  background-color: #076743;
}

.SELECTION {
  background-color: #076743;
}

.IN_COLABORATION {
  background-color: #1ba974;
}

.CLOSED {
  background-color: #000000;
}

.CANCELLED {
  background-color: #A4A4A4;
}
