<ng-container *ngIf="clickable; else notClickableTemplate">
  <nz-tag *ngIf="offer" class="tab-status" [ngClass]="offer?.status" (click)="openOfferHistory($event)">{{
    statusClassMapper[offer?.status] | translate
  }}</nz-tag>
</ng-container>

<ng-template #notClickableTemplate>
  <nz-tag *ngIf="offer" class="tab-status cursor-context" [ngClass]="offer?.status ">
    {{ statusClassMapper[offer?.status] | translate }}</nz-tag>
</ng-template>
