
<div nz-row class="row" nzType="flex" nzAlign="middle" >
  <div nz-col [nzXs]="2" [nzSm]="2" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2" class="row__type padding-top-10" (click)="viewDetail()"> <i nz-icon nzType="icons:icons-bus"></i></div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="22" [nzLg]="10" [nzXl]="10" [nzXXl]="10" class="row__hours padding-top-10" (click)="viewDetail()"> {{ route.departure_hour }} <i nz-icon
      nzType="icons:icons-arrow-right"></i> {{ route.arrival_hour }} </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="5" [nzXl]="4" [nzXXl]="4" class="row__stops padding-top-10 padding-left-6" (click)="viewDetail()"> {{ stops }} {{ 'MOBILITY.ROUTE_SEARCH.STOPS' | translate }} </div>
  <div nz-col [nzLg]="2" [nzXl]="2" [nzXXl]="2" class="row__duration padding-top-10" (click)="viewDetail()"> {{ route.route_duration }} </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="22" [nzLg]="5" [nzXl]="4" [nzXXl]="4" class="row__buy padding-top-10">
    <div nz-row nzType="flex" nzAlign="middle" nzGutter="8">
      <div nz-col class="row__buy__pre">{{ 'MOBILITY.ROUTE_SEARCH.BUY' | translate }}</div>
      <div nz-col>
        <app-button [translate]="getPrice() ? getPrice() + ' €' : '-.-- €'"
          [type]="'secundary'" [disabled]="!isAvailabletoBuy()" (click)="addToBasket()" [loading]="cartLoading"></app-button>
      </div>
    </div>
  </div>
</div>



<nz-divider></nz-divider>
