@import 'theme';

.row-mobile {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 2px;
    cursor: pointer;
    color: black;
    font-weight: bold;

    &__number {
        color: var(--primary-color);
    }

    &__buy {
        &__pre {
            margin-left: 8px;
            font-family: Montserrat;
            font-size: 8px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: #333333;
        }
    }
}

.row {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0px;
    cursor: pointer;
    color: black;
    font-weight: bold;

    &__number {
        color: var(--primary-color);
    }

    &__type {
        font-size: 24px;
    }

    &__buy {
        text-align: center;
        &__pre {
            margin-left: 8px;
            font-family: Montserrat;
            font-size: 8px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: #333333;
        }
    }
}

.detail  {
    cursor: pointer;
    display: flex;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: grey;
}

@media screen and (max-width:600px) {
    .padding-top-10 {
        padding-top: 10px;
    }
}
@media screen and (max-width:800px) {
    .padding-top-10 {
        padding-top: 10px;
    }
}

.padding-left-6 {
    padding-left: 6px;
}
