
.card {

  &__status {
      font-size: 11px;
      font-weight: bold;
      letter-spacing: 0.5px;
      color: #ffffff;
      text-align: center;
      align-items: center;
      border: none;
      cursor: pointer;
  }
}

.cursor-context {
  cursor: context-menu !important;
}

.status-clickable {
  cursor: pointer;
}


.SUBMITTED {
  background-color: #4d9de0;
}

.ANALYSED {
  background-color: #7768AE;
}

.ACCEPTED {
  background-color: #9DBBAE;
}

.DECLINED {
  background-color: #D0021B;
}

.CANCELLED {
  background-color: #A4A4A4;
}

.DISPATCH {
  background-color: orange;
}