<ng-container *ngIf="clickable; else notClickableTemplate">
  <nz-tag *ngIf="data" class="tab-status" [ngClass]="data?.status" (click)="openHistory($event)">{{
    statusClassMapper[data?.status] | translate | titlecase
  }}</nz-tag>
</ng-container>

<ng-template #notClickableTemplate>
  <nz-tag *ngIf="data" class="tab-status cursor-cont" [ngClass]="data?.status ">
    {{ statusClassMapper[data?.status] | translate  | titlecase}}</nz-tag>
</ng-template>
