@import 'theme';

.footer {
  color: var(--footer-text-color);
  background: var(--footer-color);
  text-align: center;
  padding: 12px;

  &__copyright {
    padding-top: 12px;
    text-align: center;
  }

  &__logo {
    text-align: center;
    img {
      width: 252px
    }
  }
}
