<div nz-row nzType="flex" class="footer">
  <div class="footer__copyright" nz-col [nzXs]="24" [nzLg]="8"></div>
  <div class="footer__copyright" nz-col [nzXs]="24" [nzLg]="8">
    sasocial {{ date | date: 'yyyy'}} - <b>Versão {{ version}}</b>
  </div>
  <div class="footer__logo" nz-col [nzXs]="24" [nzLg]="8">
    <img src="./assets/images/compete.svg" />
  </div>
</div>