<button nz-button nz-tooltip [nzTitle]="tooltip" class="toolstrip__button" (click)="emitEvent($event)" [nzLoading]="isLoading" [ngStyle]="{ 'background-color': color()}"
        [hasPermission]="permission" [buttonDisable]="disabled">
  <i *ngIf="iconType" nz-icon [type]="iconType"></i>
</button>
