@import "theme";

.toolstrip__button {
  background: var(--primary-6);
  height: 40px;
  width: 40px;
  color: white;
  outline: none;
  border-radius: 0px;
  border-width: 0px;
  margin-right: 1px;

  &:hover, &:focus {
    background: var(--text-color);
    color: white;
  }
}
