<fi-sas-layout-toolstrip>
  <fi-sas-toolstrip-button [isLoading]="isLoading" (onClick)="submit(venueForm.value, venueForm.valid)"
                           iconType="save" [tooltip]="isUpdate ? 'Alterar' : 'Inserir'"></fi-sas-toolstrip-button>
  <fi-sas-toolstrip-button *ngIf="isUpdate" iconType="delete" tooltip="Eliminar"
                           (onClick)="deleteVenue()"></fi-sas-toolstrip-button>
</fi-sas-layout-toolstrip>
<div class="content--padding ps scroll-container" perfectScrollbar>
  <form [formGroup]="venueForm" nz-form>

    <div nz-row nzGutter="16">

      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label >Nome</nz-form-label>
          <nz-form-control>
            <input  name="name" nz-input formControlName="name">
            <nz-form-explain *ngIf="venueForm.get('name').errors">{{getNameInputError()}}</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

    <div nz-row nzGutter="16">

      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Morada</nz-form-label>
          <nz-form-control>
            <input  nz-input formControlName="address">
            <nz-form-explain *ngIf="venueForm.get('address').errors">{{getAddressInputError()}}</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Porta</nz-form-label>
          <nz-form-control>
            <input  nz-input formControlName="address_no">
            <nz-form-explain *ngIf="venueForm.get('address_no').errors">{{getAddressNoInputError()}}</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

    <div nz-row nzGutter="16">

      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Cidade</nz-form-label>
          <nz-form-control>
            <input  nz-input formControlName="city">
            <nz-form-explain *ngIf="venueForm.get('city').errors">{{getCityInputError()}}</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Localização</nz-form-label>
          <nz-form-control>
            <nz-select nzPlaceHolder="Localização" nzShowSearch nzAllowClear formControlName="location_id">
              <nz-option *ngFor="let location of locations" [nzLabel]="location.locality" [nzValue]="location.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

    <div nz-row nzGutter="16">

      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Longitude</nz-form-label>
          <nz-form-control>
            <input  nz-input formControlName="longitude">
            <nz-form-explain *ngIf="venueForm.get('longitude').errors">{{getLongitudeInputError()}}</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Latitude</nz-form-label>
          <nz-form-control>
            <input  nz-input formControlName="latitude">
            <nz-form-explain *ngIf="venueForm.get('latitude').errors">{{getLatitudeInputError()}}</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

    <div nz-row nzGutter="16">

      <div nz-col nzSpan="12">

        <nz-form-item>
          <nz-form-label>Ativo</nz-form-label>
          <nz-form-control>
            <nz-switch formControlName="active"></nz-switch>
          </nz-form-control>
        </nz-form-item>

      </div>

    </div>

  </form>
</div>
