<div nzType="flex" nzAlign="middle" nzJustify="center" perfectScrollbar class="page ps scroll-container">
 <div style="background-color: white;">
  <div nz-row class="container">
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
      <div nz-row>
        <nz-form-label>Grupo de equipamentos</nz-form-label>
        <nz-select [(ngModel)]="groupSelected" class="primary-select" nzShowSearch style="width: 100%;">
          <nz-option *ngFor="let group of equipments_group" [nzLabel]="group.description" [nzValue]="group.id">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
      <div nz-row>
        <nz-form-label>Localização</nz-form-label>
        <nz-select [(ngModel)]="locationSelected" class="primary-select" nzShowSearch style="width: 100%;"
          [nzDisabled]="!groupSelected" (ngModelChange)="setLocationGroup($event)">
          <nz-option *ngFor="let location of locations" [nzLabel]="location.description" [nzValue]="location.id">
          </nz-option>
        </nz-select>
      </div>
    </div>
  </div>
  <div nz-row style="padding-bottom: 30px;">
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
      <div nz-row>
        <nz-form-label>Equipamento</nz-form-label>
        <nz-select [(ngModel)]="equipmentSelected" class="primary-select" nzShowSearch style="width: 100%;"
          [nzDisabled]="!locationSelected">
          <nz-option *ngFor="let equipment of equipments" [nzLabel]="equipment.name" [nzValue]="equipment.id">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" style="text-align: right; margin-top: 40px;" [nzLg]="12" [nzXl]="12"
      [nzXXl]="12" class="button-filter">
      <button nz-button (click)="searchData()" [nzType]="'primary'">Filtrar</button>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
      style="text-align: right; margin-top: 40px;">
      <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="clearFilters()"></i>
    </div>
  </div>
 </div>
 
  <div class="space"></div>
  <div class="container">
    <div nz-row style="margin-left: 70px;" *ngIf="search === null">
      <div nz-col [nzXs]="24" class="text-center" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <strong style="font-size: 18px;">Selecione um equipamento para análise</strong>
      </div>
    </div>
    <div nz-row style="margin-left: 70px;" *ngIf="search !== null && sensors.length === 0">
      <div nz-col [nzXs]="24" class="text-center" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <strong style="font-size: 18px;">O equipamento não possui sensores para análise</strong>
      </div>
    </div>
    <div nz-row style="margin-left: 70px;">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXXl]="18">
        <div nz-row>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" *ngFor="let item of sensors"
            class="card_pointer" (click)="selectSensor(item)" [ngClass]="{'selected': sensorSelected == item}">
            <div nz-row [ngClass]="{'card_border_title': sensorSelected != item}">
              <div nz-col>
                <div nz-row class="padding-left-20" style="margin-top: 10px;">
                  <label class="container__subtitle">{{item?.name}}</label>
                </div>
                <div nz-row class="padding-left-20 mrg_10">
                  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                    <span>
                      <strong>Máximo: </strong>{{item?.max}}
                    </span>
                  </div>
                  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                    <span>
                      <strong>Mínimo: </strong>{{item?.min}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div nz-row class="padding-top-15 card_body_sensor">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="text-center">
                <label class="container__value"> {{ item?.value | number : '1.2-2'
                  }}</label> <span>{{item.unit_acronym}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5" *ngIf="sensorSelected !== null">
        <div nz-row class="alert_title">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
            class="text-center mrg_17">
            <strong style="font-size: 20px;">Últimos alertas</strong>
          </div>
        </div>
        <div nz-row class="alert_body" *ngIf="listAlerts.length !== 0">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
            *ngFor="let alert of listAlerts" style="margin-left: 15px;">
            <div nz-row class="mrg_15">
              <strong>{{ alert?.measurement_configuration?.name}} - </strong>
              <span *ngIf="alert?.alert_type === 'MAX'">
                Ultrapassou maxímo <strong> {{alert?.measurement_configuration?.max_value}} </strong>
                {{alert?.measurement_configuration?.unit?.acronym}}
              </span>
              <span *ngIf="alert?.alert_type === 'MIN'">
                Ultrapassou mínimo <strong> {{alert?.measurement_configuration?.min_value}} </strong>
                {{alert?.measurement_configuration?.unit?.acronym}}
              </span>
            </div>
            <div nz-row>
              Na data {{alert?.created_at | date: 'dd/MM/yyyy HH:mm'}}
            </div>
          </div>
        </div>
        <div nz-row class="alert_body text-center" *ngIf="listAlerts.length === 0">
          <div nz-col class="mrg_15" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
            <span>Não tem alertas registados</span>
          </div>

        </div>
      </div>
    </div>
    <div nz-row style="margin-top: 30px;" *ngIf="sensorSelected !== null">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="text-center">
        <strong style="font-size: 20px;">Sensor em Análise</strong>
      </div>
    </div>
    <div nz-row style="margin-top: 25px;">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="text-center">
        <span style="font-size: 17px;" *ngIf="sensorSelected !== null">
          {{sensorSelected?.name}}
        </span>
      </div>
    </div>
    <div nz-row style="margin-top: 25px;" *ngIf="sensorSelected !== null">
      <div class="text-center" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <nz-radio-group [(ngModel)]="radioValue" (ngModelChange)="changeRadio()" [nzButtonStyle]="'solid'">
          <label nz-radio-button nzValue="BY_DAY">Por dia</label>
          <label nz-radio-button nzValue="BY_HOURS">Por Hora</label>
          <label nz-radio-button nzValue="BY_MONTH">Por Mês</label>
          <label nz-radio-button nzValue="NO_FILTER">Sem Filtro</label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-row style="margin-top: 25px;" *ngIf="sensorSelected !== null">
      <div class="text-center" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <nz-date-picker *ngIf="radioValue == 'BY_DAY'" [(ngModel)]="date" (ngModelChange)="changeDate($event)">
        </nz-date-picker>
        <nz-date-picker *ngIf="radioValue == 'BY_HOURS'" [(ngModel)]="date" (ngModelChange)="changeDate($event)">
        </nz-date-picker>
        <nz-range-picker *ngIf="radioValue == 'BY_MONTH'" [nzShowTime]="{ nzFormat: 'HH:mm' }"
          nzFormat="yyyy-MM-dd HH:mm" [(ngModel)]="dataRange" (ngModelChange)="changeDate($event)"></nz-range-picker>
      </div>
    </div>
    <div nz-row style="margin-top: 25px;" *ngIf="sensorSelected !== null">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <div style="text-align:center">
          <apx-chart [series]="series_bar_chart" [chart]="ChartOptions_Max_Min?.chart"
            [dataLabels]="ChartOptions_Max_Min?.dataLabels" [plotOptions]="ChartOptions_Max_Min?.plotOptions"
            [legend]="ChartOptions_Max_Min?.legend" [fill]="ChartOptions_Max_Min?.fill"
            [stroke]="ChartOptions_Max_Min?.stroke" [tooltip]="ChartOptions_Max_Min?.tooltip"
            [xaxis]="{ categories: categories_bar_chart }"></apx-chart>
        </div>
      </div>
    </div>
    <div nz-row style="margin-top: 25px;" *ngIf="sensorSelected !== null">
      <div nz-col class="text-center" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <nz-radio-group [(ngModel)]="radioValueLine" (ngModelChange)="changeRadioLine()" [nzButtonStyle]="'solid'">
          <label nz-radio-button nzValue="BY_DAY">Por dia</label>
          <label nz-radio-button nzValue="AVG_BY_HOURS">Média por Hora</label>
          <label nz-radio-button nzValue="AVG_BY_MONTH">Média por Mês</label>
          <label nz-radio-button nzValue="NO_FILTER">Sem Filtro</label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-row style="margin-top: 25px;" *ngIf="sensorSelected !== null">
      <div class="text-center" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <nz-date-picker *ngIf="radioValueLine == 'BY_DAY'" [(ngModel)]="date_line"
          (ngModelChange)="changeDateLine($event)"></nz-date-picker>
        <span *ngIf="radioValueLine == 'BY_DAY'">
          Data início :
        </span>
        <nz-time-picker *ngIf="radioValueLine == 'BY_DAY'" [(ngModel)]="start_date"
          (ngModelChange)="changeDateLine($event)"></nz-time-picker>
        <span *ngIf="radioValueLine == 'BY_DAY'">
          Data fim :
        </span>
        <nz-time-picker *ngIf="radioValueLine == 'BY_DAY'" placeholder="Data fim" [(ngModel)]="end_date"
          (ngModelChange)="changeDateLine($event)"></nz-time-picker>
        <nz-date-picker *ngIf="radioValueLine == 'AVG_BY_HOURS'" [(ngModel)]="date"
          (ngModelChange)="changeDateLine($event)"></nz-date-picker>
        <nz-range-picker *ngIf="radioValueLine == 'AVG_BY_MONTH'" [nzShowTime]="{ nzFormat: 'HH:mm' }"
          nzFormat="yyyy-MM-dd HH:mm" [(ngModel)]="dataRangeLine" (ngModelChange)="changeDateLine($event)">
        </nz-range-picker>
      </div>
    </div>
    <div nz-row style="margin-top: 25px; height: 60vh;" *ngIf="sensorSelected !== null">
      <div nz-col>
        <div nz-row>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
            <div style="text-align:center">
              <nz-spin [nzSpinning]="loading_chart_line">
                <apx-chart *ngIf="!loading_chart_line" [series]="ChartOptions.series" [chart]="ChartOptions.chart"
                  [xaxis]="{ categories: category_line_chart }" [stroke]="ChartOptions.stroke"></apx-chart>
              </nz-spin>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>