.container {
  background: white;
  padding: 24px 0px 24px 0px;

  &__title {
    font-size: 16px;
    line-height: 22px;
    margin: 0px;
    font-weight: bold;
    margin-bottom:30px;
    color:black;
  }
&__subtitle{
    margin-bottom:5px;
    color: rgba(0, 0, 0, 0.45);    
}

&__value{
  font-size: 25px;
  line-height: 22px;
  margin: 0px;
  font-weight: bold;
  margin-bottom:30px;
  color:black;
}
}

.padding-left-20{
padding-left:20px;
}

.padding-top-15{
padding-top:15px;
}

.text-center{
text-align: center;
}

.space{
background-color: #F2F2F2;
padding-top:20px;
}

.space-enter{
background-color: #F2F2F2;
}

#chart-total-tickets-reports-queue ::ng-deep .apexcharts-legend-text{
font-size:15px!important;
}


#chart-total-tickets-reports-queue {
max-width: 480px;
margin: auto;
padding: 0;
}


:host::ng-deep {
  .apexcharts-menu-icon {
    display: none;
  }
}

.alert_title {
  margin-top: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.mrg_17 {
margin-top: 17px;
margin-bottom: 17px;
}

.alert_body {
  background-color: #f3f3f3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 15px;
}

.mrg_15 {
  margin-top: 15px; margin-bottom: 15px;
}

.card_body_sensor {
  background-color: #f3f3f3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 10vh;
}

.mrg_10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card_border_title {
  border: 1px solid lightgray;
  border-radius: 5px;
}

.card_pointer {
  margin-top: 15px;
  margin-right: 15px;
  cursor: pointer;
}


.btn-filter{
  text-align: center;
  .btn-delete{
    cursor: pointer;
    font-size: 18px;
    margin-top:8px;
  }
  .btn{
    margin-bottom: 4px;
    margin-top: 42px;
  }
}

.selected {
  border-color: var(--primary-color) !important;
  border: 2px solid;
  border-radius: 7px;
}