.content {
  padding: 32px;
  background-color: white;
}

.avatar{
  &__opacity {
    opacity: 30%;
  }
  &__content {
    float: right;
    margin-right: 10px;
  }
}

.space{
  background-color: #F2F2F2;
  padding-top:20px;
  padding-bottom: 20px;
  text-align: right
}


.text-center{
  text-align: center;
}

.padding-top-5{
  padding-top:5px;
}

.space-button{
  padding-top: 15px;
  padding-bottom: 20px;
  padding-right: 20px;
  text-align: right;
}

.title {
  font-size: 16px;
  line-height: 22px;
  margin: 0px;
  font-weight: bold;
  margin-bottom:10px;
  color:black;
}

.padding-schedule{
  padding-top:25px;
  padding-bottom: 10px;
}

.color-required{
  color: red;
}

#danger_btn_counter.ant-btn{
  color: aliceblue;
  background-color: red;
  border-radius: solid 1px red;
}

#danger_btn_counter.ant-btn:hover, #danger_btn_counter.ant-btn:focus{
  color: red;
  background-color: white;
  border: solid 1px red !important;
}
#grey_btn_counter.ant-btn{
  color: aliceblue;
  background-color: grey;
  border-radius: solid 1px grey;
}

#grey_btn_counter.ant-btn:hover, #grey_btn_counter.ant-btn:focus{
  color: grey;
  background-color: white;
  border: solid 1px grey !important;
}

#table_disable_couter_btn {
  opacity: 100% !important;
}


#couter_timer_align_center{
  text-align: center;
}

#create_counter_time_space{
  margin-bottom: 6px;
}


:host ::ng-deep .create-counter-operator-card-separator{
  background-color: #f0f2f5;
  height: 15px;
}


.btn{
  &__group{
    text-align: center;
  }
  &&__clear{
    background-color: grey;
  }
}

.hr {
  border: 0;
  border-top: 1px solid rgb(220, 219, 219);
}

.timpe_input{

  width: 90%;
  border-radius: 5px;
}

.title{
  font-size: 16px;
  line-height: 22px;
  margin: 0px;
  font-weight: bold;
  margin-bottom:30px;
  color:black;
}

.button-new-form{
  text-align: right;
  margin-top: 30px;

}

.i-plus-close{
  font-size: 22px;
  color: darkgrey;
  cursor: pointer;
}

.table {
  &__header {
    th {
      background: white;
      font-weight: bold;
      padding-left: 30px;
    }
    & >th:first-child {
      border-top-left-radius: 2px!important;
    }
    & >th:last-child {
      border-top-right-radius: 2px!important;
    }
  }
  tr {
    td {
      color: var(--text-color);
      padding-left: 30px;
    }
    background: white!important;
  }
}

.icon-active {
  font-size: 20px;
}

#icon-active-create-couter-operator-queue::ng-deep svg {
  g path {
    fill: var(--primary-color)
  }
}

.hidden-md{
  display:none;
}

#pagination-create-couter-operator-queue ::ng-deep .ant-pagination-options{
  display:block !important;
  padding-top:10px;
  margin-left:10px !important;
}

#pagination-create-couter-operator-queue ::ng-deep .ant-pagination-mini .ant-pagination-options{
  margin-left:2px !important;
}
@media screen and (max-width:800px) {
  .hidden-xs{
    display:none;
  }

  .hidden-md{
    display:block;
  }

  .font-label-mobile{
    color:black;
    font-weight: bold;
  }

  .margin-bottom-15{
    margin-bottom:15px;
  }
  .font-icon-dash{
    font-size:26px;
    color: var(--primary-color);
  }
}

@media screen and (max-width:600px){
  .font-icon-dash{
    font-size:26px;
    color: var(--primary-color);
  }
  .hidden-xs{
    display:none;
  }

  .hidden-md{
    display:block;
  }

  .font-label-mobile{
    color:black;
    font-weight: bold;
  }

  .margin-bottom-15{
    margin-bottom:15px;
  }
}

.container-table {
  background: white;
  padding: 24px 0px 0px;
  margin-bottom: 24px;
}

