<div class="content">

  <form nz-form [formGroup]="couterForm" nzLayout="horizontal">
    <div nz-row nzType="flex" nzAlign="bottom">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
        <nz-form-item>
          <nz-form-label nzRequired>Nome do Operador de Balcão</nz-form-label>
          <nz-form-control *ngIf="!edit">
            <fi-sas-user-select formControlName="user_id" id="user_id" name="user_id"
              placeholder="Orientador"></fi-sas-user-select>
           
            <nz-form-explain class="color-required" *ngIf="submitted && f.user_id.errors">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
          <div *ngIf="edit"><label> {{couter?.user?.name}}</label></div>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
        <div class="avatar__content" *ngIf="couter">
          <nz-avatar *ngIf="couter?.photo" [ngClass]="{'avatar__opacity': !show_photo}" [nzShape]="'square'"
            [nzSrc]="couter.photo" [nzSize]="128" class="avatar__border">
          </nz-avatar>
          <nz-avatar [ngClass]="{'avatar__opacity': !couterForm['controls'].show_photo.value}"
            [nzSrc]="'./assets/images/avatar.png'" nzSize="small" [nzShape]="'square'" [nzSize]="90">
          </nz-avatar>
        </div>
      </div>
    </div>
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="show_photo">Usar foto personalizada</label>
      </nz-form-control>
    </nz-form-item>
    <div nz-row class="padding-schedule">
     <span class="color-required">* </span> <label class="title">Horário </label> 
    </div>
    <div nz-row nzType="flex" nzJustify="center" nzAlign="center" [nzJustify]="'center'">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="3" [nzXXl]="3">
        Segunda-feira
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="16" [nzXl]="11" [nzXXl]="9">
        <div *ngIf="couterForm.get('monday')['controls'].length>0">
          <div *ngFor="let schedulesGroup of couterForm.get('monday')['controls'];let i = index"
            [formGroup]="schedulesGroup">
            <div nz-row nzType="flex" nzAlign="center" nzJustify="center" id="create_counter_time_space">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                <div id="couter_timer_align_center">
                  <input type="time" nz-input formControlName="opening_hour" placeHolder="Abertura"
                    (change)="errorScheduls = false" />
                </div>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="2" class="padding-top-5 text-center " [nzLg]="2" [nzXl]="2"
                [nzXXl]="2">
                <div id="couter_timer_align_center">-</div>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                <div id="couter_timer_align_center">
                  <input type="time" nz-input formControlName="closing_hour" placeHolder="Encerramendo"
                    (change)="errorScheduls = false" />
                </div>
              </div>
              <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
                <div id="couter_timer_align_center">
                  <i nz-icon nzType="plus" nzTheme="outline" class="i-plus-close" (click)="addNewGroup('monday')"></i>
                </div>
              </div>
              <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
                <div id="couter_timer_align_center">
                  <i nz-icon nzType="close" nzTheme="outline" class="i-plus-close"
                    (click)="deleteGroup(i,'monday')"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="couterForm.get('monday')['controls'].length==0">
          <div nz-row nzType="flex" nzAlign="center" nzJustify="start">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
              <div id="couter_timer_align_center">
                <i nz-icon nzType="plus" nzTheme="outline" class="i-plus-close" (click)="addNewGroup('monday')"></i>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="4" [nzXl]="10" [nzXXl]="12">
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="center" nzAlign="center" [nzJustify]="'center'">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="3" [nzXXl]="3">
        Terça-feira
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="16" [nzXl]="11" [nzXXl]="9">
        <div *ngIf="couterForm.get('tuesday')['controls'].length>0">
          <div *ngFor="let schedulesGroup of couterForm.get('tuesday')['controls'];let i = index"
            [formGroup]="schedulesGroup">
            <div nz-row nzType="flex" nzAlign="center" nzJustify="center" id="create_counter_time_space">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                <div id="couter_timer_align_center">
                  <input type="time" nz-input formControlName="opening_hour" placeHolder="Abertura"
                    (change)="errorScheduls = false" />
                </div>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="2" class="padding-top-5 text-center " [nzLg]="2" [nzXl]="2"
                [nzXXl]="2">
                <div id="couter_timer_align_center">-</div>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                <div id="couter_timer_align_center">
                  <input type="time" nz-input formControlName="closing_hour" placeHolder="Encerramendo"
                    (change)="errorScheduls = false" />
                </div>
              </div>
              <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
                <div id="couter_timer_align_center">
                  <i nz-icon nzType="plus" nzTheme="outline" class="i-plus-close" (click)="addNewGroup('tuesday')"></i>
                </div>
              </div>
              <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
                <div id="couter_timer_align_center">
                  <i nz-icon nzType="close" nzTheme="outline" class="i-plus-close"
                    (click)="deleteGroup(i,'tuesday')"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="couterForm.get('tuesday')['controls'].length===0">
          <div nz-row nzType="flex" nzAlign="center" nzJustify="start">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
              <div id="couter_timer_align_center">
                <i nz-icon nzType="plus" nzTheme="outline" class="i-plus-close" (click)="addNewGroup('tuesday')"></i>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="4" [nzXl]="10" [nzXXl]="12">
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="center" nzAlign="center" [nzJustify]="'center'">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="3" [nzXXl]="3">
        Quarta-feira
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="16" [nzXl]="11" [nzXXl]="9">
        <div *ngIf="couterForm.get('wednesday')['controls'].length>0">
          <div *ngFor="let schedulesGroup of couterForm.get('wednesday')['controls'];let i = index"
            [formGroup]="schedulesGroup">
            <div nz-row nzType="flex" nzAlign="center" nzJustify="center" id="create_counter_time_space">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                <div id="couter_timer_align_center">
                  <input type="time" nz-input formControlName="opening_hour" placeHolder="Abertura"
                    (change)="errorScheduls = false" />
                </div>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="2" class="padding-top-5 text-center " [nzLg]="2" [nzXl]="2"
                [nzXXl]="2">
                <div id="couter_timer_align_center">-</div>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                <div id="couter_timer_align_center">
                  <input type="time" nz-input formControlName="closing_hour" placeHolder="Encerramendo"
                    (change)="errorScheduls = false" />
                </div>
              </div>
              <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
                <div id="couter_timer_align_center">
                  <i nz-icon nzType="plus" nzTheme="outline" class="i-plus-close"
                    (click)="addNewGroup('wednesday')"></i>
                </div>
              </div>
              <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
                <div id="couter_timer_align_center">
                  <i nz-icon nzType="close" nzTheme="outline" class="i-plus-close"
                    (click)="deleteGroup(i,'wednesday')"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="couterForm.get('wednesday')['controls'].length===0">
          <div nz-row nzType="flex" nzAlign="center" nzJustify="start">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
              <div id="couter_timer_align_center">
                <i nz-icon nzType="plus" nzTheme="outline" class="i-plus-close" (click)="addNewGroup('wednesday')"></i>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="4" [nzXl]="10" [nzXXl]="12">
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="center" nzAlign="center" [nzJustify]="'center'">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="3" [nzXXl]="3">
        Quinta-feira
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="16" [nzXl]="11" [nzXXl]="9">
        <div *ngIf="couterForm.get('thursday')['controls'].length>0">
          <div *ngFor="let schedulesGroup of couterForm.get('thursday')['controls'];let i = index"
            [formGroup]="schedulesGroup">
            <div nz-row nzType="flex" nzAlign="center" nzJustify="center" id="create_counter_time_space">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                <div id="couter_timer_align_center">
                  <input type="time" nz-input formControlName="opening_hour" placeHolder="Abertura"
                    (change)="errorScheduls = false" />
                </div>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="2" class="padding-top-5 text-center " [nzLg]="2" [nzXl]="2"
                [nzXXl]="2">
                <div id="couter_timer_align_center">-</div>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                <div id="couter_timer_align_center">
                  <input type="time" nz-input formControlName="closing_hour" placeHolder="Encerramendo"
                    (change)="errorScheduls = false" />
                </div>
              </div>
              <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
                <div id="couter_timer_align_center">
                  <i nz-icon nzType="plus" nzTheme="outline" class="i-plus-close" (click)="addNewGroup('thursday')"></i>
                </div>
              </div>
              <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
                <div id="couter_timer_align_center">
                  <i nz-icon nzType="close" nzTheme="outline" class="i-plus-close"
                    (click)="deleteGroup(i,'thursday')"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="couterForm.get('thursday')['controls'].length===0">
          <div nz-row nzType="flex" nzAlign="center" nzJustify="start">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
              <div id="couter_timer_align_center">
                <i nz-icon nzType="plus" nzTheme="outline" class="i-plus-close" (click)="addNewGroup('thursday')"></i>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="4" [nzXl]="10" [nzXXl]="12">
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="center" nzAlign="center" [nzJustify]="'center'">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="3" [nzXXl]="3">
        Sexta-feira
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="16" [nzXl]="11" [nzXXl]="9">
        <div *ngIf="couterForm.get('friday')['controls'].length>0">
          <div *ngFor="let schedulesGroup of couterForm.get('friday')['controls'];let i = index"
            [formGroup]="schedulesGroup">
            <div nz-row nzType="flex" nzAlign="center" nzJustify="center" id="create_counter_time_space">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                <div id="couter_timer_align_center">
                  <input type="time" nz-input formControlName="opening_hour" placeHolder="Abertura"
                    (change)="errorScheduls = false" />
                </div>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="2" class="padding-top-5 text-center" [nzLg]="2" [nzXl]="2"
                [nzXXl]="2">
                <div id="couter_timer_align_center">-</div>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
                <div id="couter_timer_align_center">
                  <input type="time" nz-input formControlName="closing_hour" placeHolder="Encerramendo"
                    (change)="errorScheduls = false" />
                </div>
              </div>
              <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
                <div id="couter_timer_align_center">
                  <i nz-icon nzType="plus" nzTheme="outline" class="i-plus-close" (click)="addNewGroup('friday')"></i>
                </div>
              </div>
              <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
                <div id="couter_timer_align_center">
                  <i nz-icon nzType="close" nzTheme="outline" class="i-plus-close"
                    (click)="deleteGroup(i,'friday')"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="couterForm.get('friday')['controls'].length===0">
          <div nz-row nzType="flex" nzAlign="center" nzJustify="start">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
              <div id="couter_timer_align_center">
                <i nz-icon nzType="plus" nzTheme="outline" class="i-plus-close" (click)="addNewGroup('friday')"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="4" [nzXl]="10" [nzXXl]="12">
      </div>

    </div>
    <div nz-row>
      <nz-form-explain class="color-required" *ngIf="submitted && errorScheduls">
        Campo obrigatório
      </nz-form-explain>
    </div>

  </form>
</div>

<div class="space">
  <button *ngIf="id != undefined" nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="submitLoading" [disabled]="submitLoading" (click)="submitForm()" class="button-submit"
    [nzType]="'primary'">{{id
    != undefined ? 'Editar' : 'Criar'}}</button>
</div>