<form nz-form [formGroup]="bikeModelForm">
  <div class="content">
    <div nz-row style="padding-bottom: 10px;">
      <label class="title">Informação Geral</label>
    </div>


    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="12">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="proponent_service">Modelo</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="model" id="model" name="model">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="24">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="typology_id">Tipologia</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <nz-spin [nzTip]="'A carregar...'" [nzSpinning]="typologies_loading">
              <nz-radio-group formControlName="typology_id" id="typology_id" name="typology_id">
                <label *ngFor="let typology of typologies" nz-radio [nzValue]="typology.id">{{ typology.name }}</label>
              </nz-radio-group>
            </nz-spin>
          </nz-form-control>
        </nz-form-item>

      </div>
    </div>

    <div nz-row nzGutter="16" nzType="flex">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="model_conformity_file_id">Conformidade do modelo</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <fi-sas-upload-file formControlName="model_conformity_file_id" id="model_conformity_file_id"
              name="model_conformity_file_id">
            </fi-sas-upload-file>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div nz-row style="padding-bottom: 10px;">
      <label class="title">Características</label>
    </div>

    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="24">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="brakes">Travões</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="brakes" id="model" name="model">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="24">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="brake_types">Tipo de travões</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="brake_types" id="brake_types" name="brake_types">
          </nz-form-control>
        </nz-form-item>

      </div>
    </div>

    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="24">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="frame_type">Quadro</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="frame_type" id="frame_type" name="frame_type">
          </nz-form-control>
        </nz-form-item>

      </div>
    </div>

    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="24">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="front_suspension">Suspensão Traseira</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="front_suspension" id="front_suspension" name="front_suspension">
          </nz-form-control>
        </nz-form-item>

      </div>
    </div>

    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="24">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="tyres">Pneus</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="tyres" id="tyres" name="tyres">
          </nz-form-control>
        </nz-form-item>

      </div>
    </div>

    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="24">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="chain_guard">Guarda corrente</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="chain_guard" id="chain_guard" name="chain_guard">
          </nz-form-control>
        </nz-form-item>

      </div>
    </div>

    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="24">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="gear_mechanism">Mecanismo de mudanças</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="gear_mechanism" id="gear_mechanism" name="gear_mechanism">
          </nz-form-control>
        </nz-form-item>

      </div>
    </div>

    <nz-divider></nz-divider>
    <div nz-row style="padding-bottom: 10px;">
      <label class="title">Mecanismo de fixação</label>
    </div>

    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="12">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="seat_fixation_mechanism">Assento</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="seat_fixation_mechanism" id="seat_fixation_mechanism"
              name="seat_fixation_mechanism">
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="12">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="front_wheel_fixation_mechanism">Roda dianteira</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="front_wheel_fixation_mechanism" id="front_wheel_fixation_mechanism"
              name="front_wheel_fixation_mechanism">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="12">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="back_wheel_fixation_mechanism">Roda traseira</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="back_wheel_fixation_mechanism" id="back_wheel_fixation_mechanism"
              name="back_wheel_fixation_mechanism">
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="12">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="handlebar_fixation_mechanism">Guiador</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="handlebar_fixation_mechanism" id="handlebar_fixation_mechanism"
              name="handlebar_fixation_mechanism">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>


    <nz-divider></nz-divider>
    <div nz-row style="padding-bottom: 10px;">
      <label class="title">Iluminação</label>
    </div>


    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="12">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="front_illumination">Dianteira</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="front_illumination" id="front_illumination" name="front_illumination">
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="12">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="front_wheel_fixation_mechanism">Traseira</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="back_illumination" id="back_illumination" name="back_illumination">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-divider></nz-divider>
    <div nz-row style="padding-bottom: 10px;">
      <label class="title">Reflexão</label>
    </div>

    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="12">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="side_reflections">Lateral</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="side_reflections" id="side_reflections" name="side_reflections">
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="12">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="pedal_reflections">Pedal</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="pedal_reflections" id="pedal_reflections" name="pedal_reflections">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="12">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="front_reflections">Dianteira</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="front_reflections" id="front_reflections" name="front_reflections">
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="12">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="back_reflections">Traseira</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="back_reflections" id="back_reflections" name="back_reflections">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-divider></nz-divider>
    <div nz-row style="padding-bottom: 10px;">
      <label class="title">Extras</label>
    </div>

    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="12">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="instruction_manual">Manual de instrução</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="instruction_manual" id="instruction_manual" name="instruction_manual">
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="12">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="rest">Descanso</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="rest" id="rest" name="rest">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="12">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="mudguards">Guarda-Lamas</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="mudguards" id="mudguards" name="mudguards">
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="12">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="sound_warning">Avisador sonoro</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="sound_warning" id="sound_warning" name="sound_warning">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="24">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="luggage_support">Suporte da bagagem</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="luggage_support" id="luggage_support" name="luggage_support">
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>


    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="24">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="monitoring_system">Sistema de monitorização</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="monitoring_system" id="monitoring_system" name="monitoring_system">
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="24">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="other_accessories">Outros acessórios</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <textarea maxlength="255" nz-input rows="6" formControlName="other_accessories" id="other_accessories"
              name="other_accessories"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

    <nz-divider></nz-divider>
    <div nz-row style="padding-bottom: 10px;">
      <label class="title">Requisitos</label>
    </div>

    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="24">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="coating_requirements">Requisitos de revestimento</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <textarea maxlength="255" nz-input rows="6" formControlName="coating_requirements" id="coating_requirements"
              name="coating_requirements"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

  </div>

</form>


<div class="space" nz-row>
  <button *ngIf="idToUpdate" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="bikeModelLoading" [disabled]="bikeModelLoading" (click)="submit()"
    [nzType]="'primary'">{{idToUpdate ? 'Editar' : 'Criar'}}</button>
</div>