<div class="success-model--content">
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col class="success-model--title title-top-page">
      {{
      translations?.length > 1 ? (translations | languageChange)?.name : ('DASHBOARD.BUTTON.VOLUNTEERING' | translate)
      }}
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col class="success-model--subtitle">{{ 'SOCIAL_SUPPORT.APPLICATIONS.APPLICATION' | translate }}</div>
  </div>
  <div nz-row nzType="flex" nzJustify="center" nzAlign="middle" class="success-model--icon">
    <img src="/assets/imgs/Success.PNG" alt="" />
  </div>
  <div nz-row nzType="flex" nzJustify="center" nzAlign="center" class="success-model--accept-text">
    <div nz-col *ngIf="!isEdit">{{
      'SOCIAL_SUPPORT.APPLICATIONS.SUCCESS_APPLICATION_SUBMITTED.TEXT_1' | translate
    }}</div>
    <div nz-col *ngIf="isEdit">{{ 'SOCIAL_SUPPORT.APPLICATIONS.SUCCESS_APPLICATION_EDITED_TITLE' | translate }}</div>
  </div>
  <div nz-row nzType="flex" nzJustify="center" nzAlign="center" class="success-model--feedback">
    <div nz-col>
      {{ 'SOCIAL_SUPPORT.APPLICATIONS.SUCCESS_APPLICATION_SUBMITTED.TEXT_2' | translate }}
    </div>
  </div>
</div>
