<div style="background-color: white">
  <div nz-row class="content__space">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <div row class="content content__prog" style="margin-top: 20px">
        <!-- XL to XXL -->
        <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="0" [nzXl]="24" [nzXXl]="24">
          <nz-steps class="content__line" [nzCurrent]="step" nzProgressDot>
            <nz-step nzTitle="Passo 1 de 5" nzDescription="Transporte atual"> </nz-step>
            <nz-step nzTitle="Passo 2 de 5" nzDescription="Bicicleta requisitada"> </nz-step>
            <nz-step nzTitle="Passo 3 de 5" nzDescription="Estatura física"> </nz-step>
            <nz-step nzTitle="Passo 4 de 5" nzDescription="Termos de utilização"> </nz-step>
            <nz-step nzTitle="Passo 5 de 5" nzDescription="Revisão"> </nz-step>
          </nz-steps>
        </div>
        <!-- XS to SM -->
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="0" [nzXXl]="0">
          <div *ngIf="step === 0">
            <p class="steps-minimal-size_title">Transporte atual</p>
            <p class="steps-minimal-size_sub-title">Passo 1 de 5</p>
          </div>
          <div *ngIf="step === 1">
            <p class="steps-minimal-size_title">Bicicleta Requisitada</p>
            <p class="steps-minimal-size_sub-title">Passo 2 de 5</p>
          </div>
          <div *ngIf="step === 2">
            <p class="steps-minimal-size_title">Estatura física</p>
            <p class="steps-minimal-size_sub-title">Passo 3 de 5</p>
          </div>
          <div *ngIf="step === 3">
            <p class="steps-minimal-size_title">Temos de utilização</p>
            <p class="steps-minimal-size_sub-title">Passo 4 de 5</p>
          </div>
          <div *ngIf="step === 4">
            <p class="steps-minimal-size_title">Resumo</p>
            <p class="steps-minimal-size_sub-title">Passo 5 de 5</p>
          </div>
        </div>
      </div>
      <div nz-row style="margin-top: 10px; margin-bottom: 25px"></div>
      <nz-divider style="margin-top: 20px"></nz-divider>

      <div nz-row class="application_form">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
          <form nz-form [formGroup]="formApplicationUbike">
            <div *ngIf="step == 0">
              <p class="title-step-form" style="font-size: 20px; font-weight: bold">Transporte atual</p>

              <nz-form-item>
                <nz-form-label nzRequired> Utilizador </nz-form-label>
                <nz-form-control>
                  <fi-sas-user-select formControlName="user_id" id="user_id" name="user_id" placeholder="Utilizador">
                  </fi-sas-user-select>
                </nz-form-control>
                <nz-form-explain class="error" *ngIf="f.user_id.errors && f.user_id.dirty">
                  Campo obrigatório
                </nz-form-explain>
              </nz-form-item>

              <!-- daily_commute -->
              <nz-form-item>
                <nz-form-label nzRequired nzFor="daily_commute"> Deslocação diária </nz-form-label>
                <div class="desc-title-form">Transporte diário usado atualmente nas deslocações</div>
                <nz-form-control>
                  <nz-radio-group class="primary-radio radio-group" formControlName="daily_commute">
                    <label nz-radio nzValue="Walk" class="radio-line"><span> A pé</span></label>
                    <label nz-radio nzValue="Car" class="radio-line"><span> Carro</span></label>
                    <label nz-radio nzValue="Motorcycle" class="radio-line"><span> Motociclo</span></label>
                    <label nz-radio nzValue="Bus" class="radio-line"><span> Autocarro</span></label>
                    <label nz-radio nzValue="Train" class="radio-line"><span> Comboio</span></label>
                    <label nz-radio nzValue="Bike" class="radio-line"><span> Bicicleta</span></label>
                    <label nz-radio nzValue="Other" class="radio-line"><span> Outro</span></label>
                  </nz-radio-group>
                </nz-form-control>
                <nz-form-explain class="error" *ngIf="submitted && f.daily_commute.errors">
                  Campo obrigatório
                </nz-form-explain>
              </nz-form-item>
              <div
                *ngIf="
                  formApplicationUbike.get('daily_commute').value == 'Car' ||
                  formApplicationUbike.get('daily_commute').value == 'Motorcycle'
                "
              >
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="manufacturer"> Marca </nz-form-label>
                  <div class="desc-title-form">Escreva a marca do veículo</div>
                  <nz-form-control>
                    <input class="primary-input" nz-input formControlName="manufacturer" placeholder="ex: Seat" />
                  </nz-form-control>
                  <nz-form-explain class="error" *ngIf="f.manufacturer.errors && f.manufacturer.dirty"
                    >Campo obrigatório</nz-form-explain
                  >
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label nzRequired nzFor="model"> Modelo </nz-form-label>
                  <div class="desc-title-form">Escreva o modelo do veículo</div>
                  <nz-form-control>
                    <input class="primary-input" nz-input formControlName="model" placeholder="ex: Ibiza" />
                  </nz-form-control>
                  <nz-form-explain class="error" *ngIf="f.model.errors && f.model.dirty"
                    >Campo obrigatório</nz-form-explain
                  >
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label nzRequired nzFor="daily_consumption"> Combustível </nz-form-label>
                  <div class="desc-title-form">
                    Combustível do transporte diário (no caso de usar veículo motorizado pessoal)
                  </div>
                  <nz-form-control>
                    <nz-radio-group class="primary-radio radio-group" formControlName="daily_consumption">
                      <label nz-radio nzValue="Gasoline" class="radio-line"><span> Gasolina</span></label>
                      <label nz-radio nzValue="Diesel" class="radio-line"><span> Gasóleo</span></label>
                      <label nz-radio nzValue="GPL" class="radio-line"><span> GPL</span></label>
                      <label nz-radio nzValue="Electric" class="radio-line"><span> Elétrico</span></label>
                    </nz-radio-group>
                  </nz-form-control>
                  <nz-form-explain class="error" *ngIf="f.daily_consumption.errors && f.daily_consumption.dirty"
                    >Campo obrigatório</nz-form-explain
                  >
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label nzRequired nzFor="year_manufactured"> Ano de registo </nz-form-label>
                  <div class="desc-title-form">Insira o ano de registo do veículo</div>
                  <nz-form-control>
                    <nz-year-picker
                      class="primary-yearPicker"
                      [nzFormat]="'yyyy'"
                      formControlName="year_manufactured"
                      nzPlaceHolder="ex: 2019"
                      [nzDisabledDate]="disableYear"
                    ></nz-year-picker>
                  </nz-form-control>
                  <nz-form-explain class="error" *ngIf="f.year_manufactured.errors && f.year_manufactured.dirty"
                    >Campo obrigatório</nz-form-explain
                  >
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label nzFor="engine_power"> Potência </nz-form-label>
                  <div class="desc-title-form">Regista a potência do motor</div>
                  <nz-form-control>
                    <nz-input-group class="tab-input" nzAddOnAfter="cv">
                      <input
                        class="primary-input"
                        nz-input
                        formControlName="engine_power"
                        [ngClass]="{ error__input: submitted && f.engine_power.errors }"
                        mask="0*,00"
                        [dropSpecialCharacters]="false"
                      />
                    </nz-input-group>
                    <div *ngIf="submitted && f.engine_power.errors">
                      <nz-form-explain class="error" *ngIf="f.engine_power.errors.min">
                        O valor é inválido, tem de ser maior
                      </nz-form-explain>
                      <nz-form-explain class="error" *ngIf="f.engine_power.errors.max">
                        O valor é inválido, tem de ser menor
                      </nz-form-explain>
                    </div>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label nzFor="avg_vehicle_consumption_100"> Consumo médio </nz-form-label>
                  <div class="desc-title-form">Consumo médio do veículo aos 100 km</div>
                  <nz-form-control>
                    <nz-input-group class="tab-input" nzAddOnAfter="l/100km">
                      <input
                        class="primary-input"
                        nz-input
                        formControlName="avg_vehicle_consumption_100"
                        [ngClass]="{ error__input: submitted && f.avg_vehicle_consumption_100.errors }"
                        mask="0*,00"
                        [dropSpecialCharacters]="false"
                      />
                    </nz-input-group>
                    <div *ngIf="submitted && f.avg_vehicle_consumption_100.errors">
                      <nz-form-explain class="error" *ngIf="f.avg_vehicle_consumption_100.errors.min">
                        O valor é inválido, tente de ser maior
                      </nz-form-explain>
                      <nz-form-explain class="error" *ngIf="f.avg_vehicle_consumption_100.errors.max">
                        O valor é inválido, tente de ser menor
                      </nz-form-explain>
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <!-- daily_kms -->
              <nz-form-item>
                <nz-form-label nzRequired nzFor="daily_kms"> Quilômetros diários </nz-form-label>
                <div class="desc-title-form">
                  Número de quilômetros realizados diariamente com transportes entre a residência e o instituto
                </div>
                <nz-form-control>
                  <nz-input-group class="tab-input" nzAddOnAfter="km">
                    <input
                      class="primary-input"
                      nz-input
                      formControlName="daily_kms"
                      [dropSpecialCharacters]="false"
                      [ngClass]="{ error__input: submitted && f.daily_kms.errors }"
                      mask="0*,00"
                    />
                  </nz-input-group>
                  <div *ngIf="submitted && f.daily_kms.errors">
                    <nz-form-explain class="error" *ngIf="f.daily_kms.errors.required">
                      Campo obrigatório
                    </nz-form-explain>
                    <nz-form-explain class="error" *ngIf="f.daily_kms.errors.min">
                      O valor é inválido, tente de ser maior
                    </nz-form-explain>
                    <nz-form-explain class="error" *ngIf="f.daily_kms.errors.max">
                      O valor é inválido, tente de ser menor
                    </nz-form-explain>
                  </div>
                </nz-form-control>
              </nz-form-item>
              <!-- number_of_times -->
              <nz-form-item>
                <nz-form-label nzRequired nzFor="number_of_times"> Número de vezes </nz-form-label>
                <div class="desc-title-form">Número de vezes que, por dia, percorre a distância em cima mencionada</div>
                <nz-form-control>
                  <input
                    class="primary-input"
                    nz-input
                    formControlName="number_of_times"
                    mask="0*"
                    [ngClass]="{ error__input: submitted && f.number_of_times.errors }"
                  />
                  <div *ngIf="submitted && f.number_of_times.errors">
                    <nz-form-explain class="error" *ngIf="f.number_of_times.errors.required">
                      Campo obrigatório
                    </nz-form-explain>
                    <nz-form-explain class="error" *ngIf="f.number_of_times.errors.min">
                      O valor é inválido, tente de ser maior
                    </nz-form-explain>
                    <nz-form-explain class="error" *ngIf="f.number_of_times.errors.max">
                      O valor é inválido, tente de ser menor
                    </nz-form-explain>
                  </div>
                </nz-form-control>
              </nz-form-item>
              <!-- avg_weekly_distance -->
              <nz-form-item>
                <nz-form-label nzRequired nzFor="avg_weekly_distance"> Distância média por semana </nz-form-label>
                <div class="desc-title-form">
                  Distância média em quilómetros de outras deslocações realizadas semanalmente (em 7 dias), para além
                  das deslocações pendulares casa/escola
                </div>
                <nz-form-control>
                  <nz-input-group class="tab-input" nzAddOnAfter="km">
                    <input
                      class="primary-input"
                      nz-input
                      formControlName="avg_weekly_distance"
                      [ngClass]="{ error__input: submitted && f.avg_weekly_distance.errors }"
                      mask="0*,00"
                      [dropSpecialCharacters]="false"
                    />
                  </nz-input-group>
                  <div *ngIf="submitted && f.avg_weekly_distance.errors">
                    <nz-form-explain class="error" *ngIf="f.avg_weekly_distance.errors.required">
                      Campo Obrigatório
                    </nz-form-explain>
                    <nz-form-explain class="error" *ngIf="f.avg_weekly_distance.errors.min">
                      O valor é inválido, tente de ser maior
                    </nz-form-explain>
                    <nz-form-explain class="error" *ngIf="f.avg_weekly_distance.errors.max">
                      O valor é inválido, tente de ser menor
                    </nz-form-explain>
                  </div>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzRequired nzFor="total_weekly_distance">
                  Total de quilómetros por semana
                </nz-form-label>
                <div class="desc-title-form">Número de quilómetros que no total realiza semanalmente (em 7 dias)</div>
                <nz-form-control>
                  <nz-input-group class="tab-input" nzAddOnAfter="km">
                    <input
                      class="primary-input"
                      nz-input
                      formControlName="total_weekly_distance"
                      [ngClass]="{ error__input: submitted && f.total_weekly_distance.errors }"
                      mask="0*,00"
                      [dropSpecialCharacters]="false"
                    />
                  </nz-input-group>
                  <div *ngIf="submitted && f.total_weekly_distance.errors">
                    <nz-form-explain class="error" *ngIf="f.total_weekly_distance.errors.required">
                      Campo Obrigatório
                    </nz-form-explain>
                    <nz-form-explain class="error" *ngIf="f.total_weekly_distance.errors.min">
                      O valor é inválido, tente de ser maior
                    </nz-form-explain>
                  </div>
                </nz-form-control>
              </nz-form-item>
              <!-- travel_time_school -->
              <nz-form-item>
                <nz-form-label nzRequired nzFor="travel_time_school"> Tempo de viagem até ao Instituto </nz-form-label>
                <div class="desc-title-form">Tempo de viagem atual nas deslocações casa/escola (só ida)</div>
                <nz-form-control>
                  <nz-time-picker
                    class="primary-timePicker"
                    id="travel_time_school_form_application_ubike"
                    formControlName="travel_time_school"
                    nzFormat="HH:mm"
                    [nzClearText]="''"
                    [ngClass]="{ error: submitted && f.travel_time_school.errors }"
                    [nzDisabledMinutes]="disabledDurationMinutes"
                    [nzDefaultOpenValue]="defaultTimeDurationOpenValue"
                  >
                  </nz-time-picker>
                  <nz-form-explain class="error" *ngIf="submitted && f.travel_time_school.errors">
                    Campo Obrigatório
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
              <!-- travel_time_school_bike -->
              <nz-form-item>
                <nz-form-label nzRequired nzFor="travel_time_school_bike">
                  Tempo de viagem até ao Instituto de bicicleta
                </nz-form-label>
                <div class="desc-title-form">
                  Estimativa do tempo de viagem nas deslocações casa/escola com a bicicleta atribuída (só ida)
                </div>
                <nz-form-control>
                  <nz-time-picker
                    class="primary-timePicker"
                    id="travel_time_school_bike_form_application_ubike"
                    formControlName="travel_time_school_bike"
                    nzFormat="HH:mm"
                    [nzClearText]="''"
                    [ngClass]="{ error: submitted && f.travel_time_school_bike.errors }"
                    [nzDisabledMinutes]="disabledDurationMinutes"
                    [nzDefaultOpenValue]="defaultTimeDurationOpenValue"
                  >
                  </nz-time-picker>
                  <nz-form-explain class="error" *ngIf="submitted && f.travel_time_school_bike.errors">
                    Campo Obrigatório
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div *ngIf="step == 1">
              <p class="title-step-form" style="font-size: 20px; font-weight: bold">Bicicleta Requisitada</p>
              <!-- typology_first_preference -->
              <nz-form-item>
                <nz-form-label nzRequired nzFor="typology_first_preference_id">
                  Que tipo de bicicleta precisas?
                </nz-form-label>
                <div class="desc-title-form">Tipologia de Bicicleta a que te candidatas</div>
                <nz-form-control>
                  <nz-radio-group class="primary-radio radio-group" formControlName="typology_first_preference_id">
                    <label *ngFor="let t of dataTypology" nz-radio [nzValue]="t.id" class="radio-line"
                      ><span> {{ t.name }}</span></label
                    >
                  </nz-radio-group>
                  <nz-form-explain class="error" *ngIf="submitted && f.typology_first_preference_id.errors">
                    Campo Obrigatório
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
              <!-- other_typology_preference -->
              <div nz-row class="margin-top-20">
                <nz-form-item>
                  <nz-form-control>
                    <nz-form-label nzRequired nzFor="start_date">
                      Estou disponível para outra preferência caso não haja a minha opção
                    </nz-form-label>
                    <div class="switch">
                      <div>
                        <nz-switch
                          formControlName="other_typology_preference"
                          [nzCheckedChildren]="'Sim'"
                          [nzUnCheckedChildren]="'Não'"
                        >
                        </nz-switch>
                      </div>
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <!-- preferred_pickup_organict_unit_id -->
              <div nz-row class="margin-top-20">
                <nz-form-item>
                  <nz-form-control>
                    <nz-form-label nzRequired nzFor="preferred_pickup_organict_unit_id">
                      Local preferencial para levantamento da bicicleta
                    </nz-form-label>
                    <nz-select nzShowSearch style="width: 100%;" formControlName="preferred_pickup_organict_unit_id" [nzLoading]="loadingOrganicUnits">
                      <nz-option *ngFor="let organicUnit of organicUnits" [nzLabel]="organicUnit.name" [nzValue]="organicUnit.id">
                      </nz-option>
                    </nz-select>
                    <nz-form-explain class="error" *ngIf="submitted && f.preferred_pickup_organict_unit_id.errors">
                      Campo Obrigatório
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <!-- start_date -->
              <nz-form-item>
                <nz-form-label nzRequired nzFor="start_date"> Data de início </nz-form-label>
                <div class="desc-title-form">Regista a data para começar a utilizar a bicicleta</div>
                <nz-form-control>
                  <nz-date-picker
                    id="startdate-form-application-ubike"
                    class="primary-datePicker"
                    formControlName="start_date"
                    [nzDisabledDate]="disableStartDate"
                    [ngClass]="{ error: submitted && f.start_date.errors }"
                  >
                  </nz-date-picker>
                  <nz-form-explain class="error" *ngIf="submitted && f.start_date.errors">
                    Campo Obrigatório
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
              <!-- end_date -->
              <nz-form-item>
                <nz-form-label nzRequired nzFor="typology_first_preference_id"> Data de fim </nz-form-label>
                <div class="desc-title-form">Regista a data para terminar a utilização da bicicleta</div>
                <nz-form-control>
                  <nz-date-picker
                    id="enddate-form-application-ubike"
                    class="primary-datePicker"
                    formControlName="end_date"
                    [nzDisabledDate]="disableEndDate"
                    [ngClass]="{ error: submitted && f.end_date.errors }"
                    [nzDisabled]="f.start_date.value ? false : true"
                  >
                  </nz-date-picker>
                  <nz-form-explain class="error" *ngIf="submitted && f.end_date.errors">
                    Campo Obrigatório
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div *ngIf="step == 2">
              <p class="title-step-form" style="font-size: 20px; font-weight: bold">Estatura Física</p>
              <!-- weight -->
              <nz-form-item>
                <nz-form-label nzRequired nzFor="typology_first_preference_id"> Peso Aproximado </nz-form-label>
                <div class="desc-title-form">
                  Esta informação serve para cálculo estimativo das calorias gastas com o uso da bicicleta
                </div>
                <nz-form-control>
                  <nz-input-group class="tab-input" nzAddOnAfter="kg">
                    <input
                      class="primary-input"
                      nz-input
                      formControlName="weight"
                      [ngClass]="{ error__input: submitted && f.weight.errors }"
                      mask="0*,00"
                      [dropSpecialCharacters]="false"
                    />
                  </nz-input-group>
                  <div *ngIf="submitted && f.weight.errors">
                    <nz-form-explain class="error" *ngIf="f.weight.errors.required">
                      Campo Obrigatório
                    </nz-form-explain>
                    <nz-form-explain class="error" *ngIf="f.weight.errors.min">
                      O valor é inválido, tente de ser maior
                    </nz-form-explain>
                    <nz-form-explain class="error" *ngIf="f.weight.errors.max">
                      O valor é inválido, tente de ser menor
                    </nz-form-explain>
                  </div>
                </nz-form-control>
              </nz-form-item>
              <!-- height -->
              <nz-form-item>
                <nz-form-label nzRequired nzFor="typology_first_preference_id"> Altura </nz-form-label>
                <div class="desc-title-form">
                  Esta informação serve para cálculo estimativo das calorias gastas com o uso da bicicleta
                </div>
                <nz-form-control>
                  <nz-input-group class="tab-input" nzAddOnAfter="Metros">
                    <input
                      class="primary-input"
                      nz-input
                      formControlName="height"
                      [ngClass]="{ error__input: submitted && f.height.errors }"
                      mask="0*,00"
                      [dropSpecialCharacters]="false"
                    />
                  </nz-input-group>

                  <div *ngIf="submitted && f.height.errors">
                    <nz-form-explain class="error" *ngIf="f.height.errors.required">
                      Campo Obrigatório
                    </nz-form-explain>
                    <nz-form-explain class="error" *ngIf="f.height.errors.min">
                      O valor é inválido, tente de ser maior
                    </nz-form-explain>
                    <nz-form-explain class="error" *ngIf="f.height.errors.max">
                      O valor é inválido, tente de ser menor
                    </nz-form-explain>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div *ngIf="step == 3">
              <p class="title-step-form" style="font-size: 20px; font-weight: bold">Termos de Utilização</p>
              <nz-form-item>
                <nz-form-control>
                  <div class="switch__label">
                    O utilizador declarou que tomou conhecimento dos Termos de Utilização.
                  </div>
                  <div class="switch">
                    <br />
                    <div>
                      <nz-switch
                        formControlName="applicant_consent"
                        [nzCheckedChildren]="'Sim'"
                        [nzUnCheckedChildren]="'Não'"
                      >
                      </nz-switch>
                    </div>
                    <nz-form-explain
                      class="error"
                      *ngIf="submitted && (f.applicant_consent.errors || f.applicant_consent.value == false)"
                    >
                      Campo Obrigatório
                    </nz-form-explain>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div *ngIf="step == 4">
              <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                  <p class="title-step-form" style="font-size: 20px; font-weight: bold">Revisão</p>
                  <p class="detail-text">Por favor, verifique cuidadosamente os dados introduzidos.</p>
                </div>
              </div>
              <nz-divider></nz-divider>
              <!-- Review step 1 -->
              <div nz-row>
                <div
                  nz-col
                  [nzXs]="24"
                  [nzSm]="24"
                  [nzMd]="12"
                  [nzLg]="12"
                  [nzXl]="12"
                  [nzXXl]="12"
                  class="title-resume"
                  style="font-size: 20px; font-weight: bold"
                >
                  Transporte atual
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
                  <button nz-button class="button-edit-review" nzType="default" (click)="step = 0">
                    <span>Editar</span>
                  </button>
                </div>
              </div>
              <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                  <p class="sub-title-resume"><b> Deslocação diária </b></p>
                  <p class="desc-resume">
                    {{
                      f.daily_commute.value == 'Walk'
                        ? 'A pé'
                        : f.daily_commute.value == 'Car'
                        ? 'Carro'
                        : f.daily_commute.value == 'Motorcycle'
                        ? 'Motociclo'
                        : f.daily_commute.value == 'Bus'
                        ? 'Autocarro'
                        : f.daily_commute.value == 'Train'
                        ? 'Comboio'
                        : f.daily_commute.value == 'Bike'
                        ? 'Bicicleta'
                        : 'Outro'
                    }}
                  </p>
                </div>
                <div
                  *ngIf="f.daily_commute.value === 'Car' || f.daily_commute.value === 'Motorcycle'"
                  nz-col
                  [nzXs]="24"
                  [nzSm]="24"
                  [nzMd]="24"
                  [nzLg]="24"
                  [nzXl]="24"
                  [nzXXl]="24"
                >
                  <p class="sub-title-resume"><b>Marca</b></p>
                  <p class="desc-resume">{{ f.manufacturer.value ? f.manufacturer.value : '-' }}</p>
                </div>
                <div
                  *ngIf="f.daily_commute.value === 'Car' || f.daily_commute.value === 'Motorcycle'"
                  nz-col
                  [nzXs]="24"
                  [nzSm]="24"
                  [nzMd]="24"
                  [nzLg]="24"
                  [nzXl]="24"
                  [nzXXl]="24"
                >
                  <p class="sub-title-resume"><b>Modelo</b></p>
                  <p class="desc-resume">{{ f.model.value ? f.model.value : '-' }}</p>
                </div>
                <div
                  *ngIf="f.daily_commute.value === 'Car' || f.daily_commute.value === 'Motorcycle'"
                  nz-col
                  [nzXs]="24"
                  [nzSm]="24"
                  [nzMd]="24"
                  [nzLg]="24"
                  [nzXl]="24"
                  [nzXXl]="24"
                >
                  <p class="sub-title-resume"><b>Combustível</b></p>
                  <p class="desc-resume">{{ f.daily_consumption.value ? f.daily_consumption.value : '-' }}</p>
                </div>
                <div
                  *ngIf="f.daily_commute.value === 'Car' || f.daily_commute.value === 'Motorcycle'"
                  nz-col
                  [nzXs]="24"
                  [nzSm]="24"
                  [nzMd]="24"
                  [nzLg]="24"
                  [nzXl]="24"
                  [nzXXl]="24"
                >
                  <p class="sub-title-resume"><b> Ano de registo</b></p>
                  <p class="desc-resume">{{ f.year_manufactured.value ? f.year_manufactured.value : '-' }}</p>
                </div>
                <div
                  *ngIf="f.daily_commute.value === 'Car' || f.daily_commute.value === 'Motorcycle'"
                  nz-col
                  [nzXs]="24"
                  [nzSm]="24"
                  [nzMd]="24"
                  [nzLg]="24"
                  [nzXl]="24"
                  [nzXXl]="24"
                >
                  <p class="sub-title-resume"><b>Potência</b></p>
                  <p class="desc-resume">{{ f.engine_power.value ? f.engine_power.value + ' cv' : '-' }}</p>
                </div>
                <div
                  *ngIf="f.daily_commute.value === 'Car' || f.daily_commute.value === 'Motorcycle'"
                  nz-col
                  [nzXs]="24"
                  [nzSm]="24"
                  [nzMd]="24"
                  [nzLg]="24"
                  [nzXl]="24"
                  [nzXXl]="24"
                >
                  <p class="sub-title-resume"><b>Consumo médio</b></p>
                  <p class="desc-resume">
                    {{
                      f.avg_vehicle_consumption_100.value
                        ? f.avg_vehicle_consumption_100.value + '
                                        l/100km'
                        : '-'
                    }}
                  </p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                  <p class="sub-title-resume"><b>Quilômetros diários</b></p>
                  <p class="desc-resume">{{ f.daily_kms.value + ' km' }}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                  <p class="sub-title-resume"><b>Número de vezes</b></p>
                  <p class="desc-resume">{{ f.number_of_times.value }}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                  <p class="sub-title-resume"><b>Distância média por semana</b></p>
                  <p class="desc-resume">{{ f.avg_weekly_distance.value + ' km' }}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                  <p class="sub-title-resume"><b>Total de quilómetros por semana</b></p>
                  <p class="desc-resume">{{ f.total_weekly_distance.value + ' km' }}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                  <p class="sub-title-resume"><b>Tempo de viagem até ao Instituto</b></p>
                  <p class="desc-resume">{{ formatMinutes(f.travel_time_school.value) }}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                  <p class="sub-title-resume"><b>Tempo de viagem até ao Instituto de bicicleta</b></p>
                  <p class="desc-resume">{{ formatMinutes(f.travel_time_school_bike.value) }}</p>
                </div>
              </div>
              <nz-divider></nz-divider>
              <!-- Review step 2 -->
              <div nz-row>
                <div
                  nz-col
                  [nzXs]="24"
                  [nzSm]="24"
                  [nzMd]="12"
                  [nzLg]="12"
                  [nzXl]="12"
                  [nzXXl]="12"
                  class="title-resume"
                  style="font-size: 20px; font-weight: bold"
                >
                  Bicicleta Requisitada
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
                  <button nz-button class="button-edit-review" nzType="default" (click)="step = 1">
                    <span>Editar</span>
                  </button>
                </div>
              </div>
              <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                  <p class="sub-title-resume"><b>Que tipo de bicicleta precisas?</b></p>
                  <p class="desc-resume">{{ filterTypology(f.typology_first_preference_id.value) }}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                  <p class="sub-title-resume"><b>Tipologia de Bicicleta a que te candidatas</b></p>
                  <p class="desc-resume">{{ f.other_typology_preference.value == true ? 'Sim' : 'Não' }}</p>
                </div>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                  <p class="sub-title-resume"><b>Local preferencial para levantamento da bicicleta </b></p>
                  <p class="desc-resume">{{ getOrganitUnit(f.preferred_pickup_organict_unit_id.value) }}</p>
                </div>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                  <p class="sub-title-resume"><b>Data</b></p>
                  <p class="desc-resume">
                    {{ f.start_date.value | date: 'dd/MM/yyyy' }} - {{ f.end_date.value | date: 'dd/MM/yyyy' }}
                  </p>
                </div>
              </div>
              <nz-divider></nz-divider>
              <!-- Review step 3 -->
              <div nz-row>
                <div
                  nz-col
                  [nzXs]="24"
                  [nzSm]="24"
                  [nzMd]="12"
                  [nzLg]="12"
                  [nzXl]="12"
                  [nzXXl]="12"
                  class="title-resume"
                  style="font-size: 20px; font-weight: bold"
                >
                  Estatura Física
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
                  <button nz-button class="button-edit-review" nzType="default" (click)="step = 2">
                    <span>Editar</span>
                  </button>
                </div>
              </div>

              <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                  <p class="sub-title-resume"><b>Peso Aproximado</b></p>
                  <p class="desc-resume">{{ f.weight.value + ' kg' }}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                  <p class="sub-title-resume"><b>Altura</b></p>
                  <p class="desc-resume">{{ f.height.value + ' ' + 'metros' }}</p>
                </div>
              </div>
            </div>
          </form>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="button-space">
            <button
              *ngIf="step != 0"
              (click)="
                step == 1 ? (step = 0) : step == 2 ? (step = 1) : step == 3 ? (step = 2) : step == 4 ? (step = 3) : ''
              "
              nz-button
              class="button-edit-review"
              nzType="default"
              style="margin-right: 15px"
            >
              <span> Anterior </span>
            </button>
            <button
              *ngIf="step != 4"
              (click)="
                step == 0
                  ? nextStep(1)
                  : step == 1
                  ? nextStep(2)
                  : step == 2
                  ? nextStep(3)
                  : step == 3
                  ? nextStep(4)
                  : ''
              "
              nz-button
              class="button-edit-review"
              nzType="default"
            >
              <span>Próximo</span>
            </button>
            <button
              style="border-radius: 15px"
              nz-button
              *ngIf="step == 4"
              [disabled]="loadingButton || !('u_bike:applications:create' | hasPermission)"
              (click)="submit()"
              nzType="primary"
            >
              Submeter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
