@import 'theme';

.step-status {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.33;
  color: #111111;
  margin-bottom: 60px;
}

.border-radius-8 {
  border-radius: 8px;
}

.application_form {
  padding: 25px;
}

.margin-top-20 {
  margin-top: 20px;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-line {
  flex-direction: row;
  width: 100%;
  line-height: 24px;
  margin-top: 10px;
}

.button-space {
  text-align: center;
  margin-bottom: 25px;
}

:host::ng-deep {
  .ant-radio-inner {
    border-color: #a9a9a9 !important;
  }
}

.detail-text {
  font-size: 13px;
  color: grey;
  margin-bottom: 5px;
  margin-top: -5px;
}

.button-edit-review {
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
  color: var(--primary-color);
  border-radius: 21px;
  border: solid 2px var(--primary-color);
  font-weight: 700;
}

.text-right {
  text-align: right;
}

.error {
  color: red;
  margin-top: 5px;

  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}

#travel_time_school_bike_form_application_ubike.ng-invalid.error ::ng-deep .ant-time-picker-input {
  border-color: red !important;
  background-color: #ff00000a !important;
  :focus {
    border-color: red !important;
  }

  :hover {
    border-color: red !important;
  }
}

#travel_time_school_form_application_ubike.ng-invalid.error ::ng-deep .ant-time-picker-input {
  border-color: red !important;
  background-color: #ff00000a !important;
  :focus {
    border-color: red !important;
  }

  :hover {
    border-color: red !important;
  }
}

#startdate-form-application-ubike.ng-invalid.error ::ng-deep .ant-calendar-picker-input {
  border-color: red !important;
  background-color: #ff00000a !important;
  :focus {
    border-color: red !important;
  }

  :hover {
    border-color: red !important;
  }
}

#enddate-form-application-ubike.ng-invalid.error ::ng-deep .ant-calendar-picker-input {
  border-color: red !important;
  background-color: #ff00000a !important;
  :focus {
    border-color: red !important;
  }

  :hover {
    border-color: red !important;
  }
}

.switch {
  font-family: Montserrat;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  &__label {
    width: 75%;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    color: #222222;
    float: left;
  }
  &__input {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    width: 25%;
    float: right;
    nz-switch {
      float: right;
    }
  }
  &__link {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
    color: var(--primary-color);
    float: left;
    margin-top: 16px;
    text-decoration: underline;
    cursor: pointer;
  }
}
