<div class="container">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
      <div nz-row>
        <nz-form-label>Especialidade</nz-form-label>
        <nz-form-control>
          <nz-select class="primary-select" [(ngModel)]="filters.name" nzAllowClear nzShowSearch [nzLoading]="specialtiesLoading"  style="width: 100%;">
            <nz-option *ngFor="let specialty of specialties" [nzLabel]="validTranslateName(3,specialty?.translations)" [nzValue]="specialty.id"></nz-option>
          </nz-select>
        </nz-form-control>
    </div>
    </div>
    <!--<div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="2" [nzSm]="2" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
      <div nz-row>
          <nz-form-label>Data de Criação</nz-form-label>
          <nz-form-control>
            <nz-date-picker [(ngModel)]="filters.created_at"></nz-date-picker>
          </nz-form-control>
      </div>
    </div>-->
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
      <div nz-row>
          <nz-form-label>Tipo</nz-form-label>
          <nz-form-control>
            <nz-select class="primary-select" [(ngModel)]="filters.is_external" nzAllowClear nzShowSearch style="width: 100%;">
              <nz-option nzValue=false nzLabel="Internal"></nz-option>
              <nz-option nzValue=true nzLabel="External"></nz-option>
            </nz-select>
          </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
      <div nz-row>
          <nz-form-label>Meios de prestação disponíveis</nz-form-label>
          <nz-form-control>
            <nz-select class="primary-select" [(ngModel)]="filters.is_external" nzAllowClear nzShowSearch [nzLoading]="appointmentTypesLoading"  style="width: 100%;">
              <nz-option *ngFor="let type of appointmentTypes" [nzLabel]="type.name" [nzValue]="type.appointment_type_id"></nz-option>
            </nz-select>
          </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
      <button nz-button class="btn" nzType="primary" (click)="searchData(true)">Filtrar</button>
  </div>
  <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
      style="text-align: left;">
      <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
  </div>
  </div>
</div>
<div class="container">
  <nz-table class="content-table" #refTable [nzScroll]="{ x: '240px' }" [nzData]="data"
            (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
            [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
            (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr class="table__header">
      <th></th>
      <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
          [nzSortKey]="column.sortKey ? column.sortKey : column.key"> {{ column.label }}</th>
      <th nzRight="0px">Ações</th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-data [ngForOf]="refTable.data">

      <tr>
        <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
        <td *ngFor="let column of columns">
            <span *ngIf="!column.tag">{{ column.translation ? (data.translations | where: ['language_id', 3]
            )[0][column.key] : (data | flatObject)[column.key]}}</span>
          <span *ngIf="column.tag">
              <fi-sas-tag [value]="data[column.key]" [results]="column.tag"></fi-sas-tag>
            </span>
          <span *ngIf="column.template">
              {{ column.template(data) }}
            </span>
        </td>
        <td nzRight="0px">
          <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
                  nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li [nzDisabled]="!('health:specialty:update' | hasPermission)" nz-menu-item
                (click)="edit(data.id)">Editar</li>
              <li [nzDisabled]="!('health:specialty:status' | hasPermission)" *ngIf="data?.is_active" nz-menu-item 
                (click)="status(data.id, false)">Desativar</li>
              <li [nzDisabled]="!('health:specialty:status' | hasPermission)" *ngIf="!data?.is_active" nz-menu-item 
                (click)="status(data.id, true)"> Ativar</li>
              <li [nzDisabled]="!('health:specialty:delete' | hasPermission)" nz-menu-item
                (click)="delete(data.id)">Eliminar</li>
            </ul>
          </nz-dropdown-menu>
        </td>
      </tr>

     <tr [nzExpand]="mapOfExpandData[data.id]">
        <td [attr.colspan]="columns.length + 3">
          <fi-sas-view-specialty [specialty]="data"></fi-sas-view-specialty>
        </td>
      </tr>

    </ng-template>
    </tbody>
  </nz-table>
</div>