<div class="content-form">
  <form [formGroup]="documentForm" nzLayout="vertical">
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="name">Operação</nz-form-label>
          <nz-form-control >
            <input nz-input formControlName="operation" disabled
              id="operation" name="operation" placeholder="Operação"
            >
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="name">Nome</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="name" id="name" name="name" placeholder="Nome">
          </nz-form-control>
          <nz-form-explain class="error" *ngIf="submit && f.name.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="iban">Tipo</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="doc_type_acronym" id="doc_type_acronym" name="doc_type_acronym"
              placeholder="Tipo" maxlength="3">
          </nz-form-control>
          <nz-form-explain class="error" *ngIf="submit && f.doc_type_acronym.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="tin">Descrição</nz-form-label>
          <nz-form-control>
            <textarea maxlength="255" rows="4" nz-input formControlName="description" id="description" name="description"
              placeholder="Descrição"></textarea>
          </nz-form-control>
          <nz-form-explain class="error" *ngIf="submit && f.description.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="iban">Ativo</nz-form-label>
          <nz-form-control>
            <nz-switch formControlName="active"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>

<div class="space">
  <button nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="loading" [disabled]="loading" (click)="submitForm()"
    [nzType]="'primary'">Editar</button>
</div>