.fisas {
  /* ----------------------- */
  /* Buttons */

  &__btn {
    font-family: "Montserrat", "Montserrat-Medium";
    font-weight: 500;
    font-size: 13;
    color: $black;
    margin: 0;
    padding: 0;
    background-color: transparent;
    text-align: left;
    //border-width: 1;
    z-index: 0;

    &--padding {
      padding-top: 10;
      padding-bottom: 10;
      padding-left: 30;
    }

    &:highlighted {
      color: $black;
    }

    &--selected {
      background: #f1f1f1;
    }

    &--hover {
      color: $super-light-grey;
    }
  }

  &__btn--buy {
    height: 42;
    padding: 0 20;
    font-family: "Montserrat", "Montserrat-Medium";
    font-size: 17px;
    font-weight: 500;

    &--price {
      font-family: "Montserrat", "Montserrat-Bold";
      font-weight: 700;
    }
  }

  &__btn-bottom {
    font-family: "Montserrat", "Montserrat-Medium";
    font-weight: 500;
    font-size: 17;
    padding: 10;
    background: $grey;
    color: $white;
    border-radius: 50;
    margin-left: 40;
    margin-right: 40;
    margin-bottom: 18;
    text-align: center;
    text-transform: none;
  }

  &__btn-rounded {
    font-family: "Montserrat", "Montserrat-Medium";
    font-weight: 500;
    font-size: 11;
    padding: 5 10;
    background: $white;
    color: $black;
    border-radius: 50;
    text-align: center;
    text-transform: none;
  }

  &__btn-border {
    font-family: "Montserrat", "Montserrat-Bold";
    font-weight: 700;
    font-size: 11;
    padding: 5;
    background: $white;
    color: $black;
    border-radius: 50;
    border-width: 2;
    text-align: center;
  }
}
