.fisas {
  &__label {
    margin-bottom: 5;
  }

  &__input {
    background: #ffffff;
    border-width: 1;
    border-color: #c0c0c0;
    border-radius: 3;
    padding: 15 10;
    margin-bottom: 5;
    color: $black;
    // placeholder-color: #c0c0c0;
    font-size: 15;

    &--no-border {
      border-width: 0;
    }
  }

  &__form {
    &__block {
      margin-bottom: 15;
    }

    &__has-error {
      .fisas__label {
        color: #d0021b;
      }

      .fisas__input {
        background: #fff6f6;
        border-color: #d0021b;
      }

      .fisas__error {
        display: block;
      }
    }

    &__error {
      display: none;
      font-family: "Montserrat", "Montserrat-Medium";
      font-weight: 500;
      font-size: 12;
      line-height: 1.5;
      color: #d0021b;
    }
  }
}
