.fisas {
  /* ----------------------- */
  /* Structure */

  &__content {
    font-family: "Montserrat", "Montserrat-Medium";
    font-weight: 500;
    font-size: 12;
    padding-left: 30;
    padding-right: 30;
    width: 100%;

    &--min {
      padding-left: 18;
      padding-right: 18;
    }
  }

  /* ----------------------- */
  /* Helpers */

  &--opacity {
    opacity: 0.5;
  }

  &__vertical-top {
    vertical-align: top;
  }

  &__vertical-down {
    vertical-align: bottom;
  }

  /* ----------------------- */
  /* Global */

  &__instituition__block {
    padding: 10;
    color: $white;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 30;
    border-radius: 5;
  }

  &__bg {
    &--IPVC {
      background-color: $ipvc;
    }

    &--IPCA {
      background-color: $ipca;
    }

    &--IPB {
      background-color: $ipb;
    }
  }

  &__color {
    &--IPVC {
      color: $ipvc;
    }

    &--IPCA {
      color: $ipca;
    }

    &--IPB {
      color: $ipb;
    }
  }

  &__border {
    &--IPVC {
      border-color: $ipvc;
    }

    &--IPCA {
      border-color: $ipca;
    }

    &--IPB {
      border-color: $ipb;
    }
  }

  &__line {
    border-width: 1;
    border-color: #c0c0c0;
    opacity: 0.3;
    margin: 0 12;
  }
}
