.fisas {
  /* ----------------------- */
  /* Typography */

  &__h1 {
    font-family: "Montserrat", "Montserrat-Bold";
    font-weight: 700;
    font-size: 21;
    line-height: 1.14;
    color: $black;
  }

  &__h2 {
    font-family: "Montserrat", "Montserrat-Light";
    font-weight: 300;
    font-size: 23;
    line-height: 1.3;
    color: $black;
  }

  &__p {
    font-family: "Montserrat", "Montserrat-Medium";
    font-weight: 500;
    font-size: 13;
    line-height: 1.38;
    color: $black;
  }

  &__p--bold {
    font-family: "Montserrat", "Montserrat-Bold";
    font-weight: 700;
    font-size: 13;
    line-height: 1.38;
    color: $black;
  }

  &__p--label {
    font-family: "Montserrat", "Montserrat-Medium";
    font-weight: 500;
    font-size: 14;
    line-height: 1.29;
    color: $black;
  }

  &__icon {
    font-family: "fisas";
    font-size: 20;
    color: $black;

    &--fa {
      font-family: "FontAwesome";
    }
  }


  &__p--light-medium {
    font-family: "Montserrat", "Montserrat-Medium";
    font-weight: 500;
    font-size: 12;
    color: $black;
  }

  &__p--light {
    font-family: "Montserrat", "Montserrat-Light";
    font-weight: 300;
    font-size: 12;
    color: $black;
  }

  &__note {
    font-family: "Montserrat", "Montserrat-Medium";
    font-weight: 500;
    font-size: 10;
    color: $black;
  }
}
