// Colors
$white: #ffffff;
$black: #111111;
$grey: #444444;
$light-grey: #969696;
//$super-light-grey: #e8e8e8;
$super-light-grey: #f3f3f3;
$red: #d0021b;

// Institutes Colors
$ipvc: #3faec0;
$ipca: #076743;
$ipb: #a5006a;
