

<div class="application" *ngIf="userApplications">


  <nz-spin [nzSpinning]="loading">
    <nz-empty [nzNotFoundFooter]="userApplications" class="box-empty"
      [nzNotFoundContent]="'MOBILITY.APPLICATIONS.NO_CONTENT' | translate" *ngIf="userApplications.length === 0">
    </nz-empty>

    <div nz-row *ngFor="let userApplication of userApplications">
      <div nz-col>

        <app-applications-card-ubike [userApplication]="userApplication" [history]="false" (refresh)="refresh($event)"
          (viewApplication)="viewApplication($event)" [view]="true" [applicantEndDate]="applicantEndDate">
        </app-applications-card-ubike>

      </div>
    </div>
  </nz-spin>


</div>

<nz-collapse [nzBordered]="false" style="padding-bottom: 10px;">
  <nz-collapse-panel #pa *ngFor="let panel of panels" [nzHeader]="header" [nzActive]="panel.active"
    [ngStyle]="panel.customStyle" [nzShowArrow]="false">
    <div>
      <div *ngIf="userApplicationsHistory.length != 0" nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8"
          *ngFor="let application of userApplicationsHistory">
          <app-applications-card-ubike [userApplication]="application" [history]="true" (refresh)="refresh($event)"
            (viewApplication)="viewApplication($event)" [view]="true" [applicantEndDate]="applicantEndDate">
          </app-applications-card-ubike>
        </div>
      </div>
      <nz-empty [nzNotFoundFooter]="userApplicationsHistory" class="box-empty"
        [nzNotFoundContent]="'MOBILITY.APPLICATIONS.NO_CONTENT' | translate"
        *ngIf="userApplicationsHistory.length === 0">
      </nz-empty>
    </div>
    <ng-template #header>
      <nz-divider [nzText]="text"></nz-divider>
    </ng-template>

    <ng-template #text>
      <div class="box">
        {{ panel.name | translate
        }}<i nz-icon type="icons:icons-arrow-2-right" [nzRotate]="pa.nzActive ? 90 : -90"></i></div>
    </ng-template>
  </nz-collapse-panel>

</nz-collapse>