@import "theme";

:host::ng-deep {

  .application {
    margin-bottom: 80px;
    &__title {
      font-size: 21px;
      font-weight: bold;
      line-height: 1.14;
      color: #111111;
      margin-bottom: 16px;
    }

    &__sub-title {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      color: #111111;
      margin-bottom: 32px;
    }

    &__for_approval {
      font-size: 12px;
      font-weight: normal;
      line-height: 1.5;
      color: #666666;
    }

    nz-card {
      margin-top: 22px;
      border-radius: 8px;
    }

    .ant-card-body {
      padding: 33px;
    }

    &__card {

      &__status {
        nz-tag {
          //height: 16px;
          font-size: 11px;
          font-weight: bold;
          line-height: 1.78;
          letter-spacing: 0.5px;
          color: #ffffff;
          //cursor: default;
          //pointer-events: none;
          text-align: center;
        }
        margin-bottom: 24px;
        &__waiting-approval {
          background-color: #f8ca00;
        }
        &__approved {
          background-color: #0d69dd;
        }
        &__finished {
          background-color: #d1d1d1;
        }
        &__elaboration {
          background-color: #E1BC29;
        }
        &__submitted {
          background-color: #4D9DE0;
        }
        &__analysis {
          background-color: #7768AE;
        }
        &__cancelled {
          background-color: #A4A4A4;
        }
        &__dispatch {
          background-color: #88CCF1;
        }
        &__assigned {
          background-color: #076743;
        }
        &__enqueued {
          background-color: #D4B483;
        }
        &__unassigned {
          background-color: #C1666B;
        }
        &__suspended {
          background-color: #8EA4D2;
        }
        &__complaint {
          background-color: #F75C03;
        }
        &__accepted {
          background-color: #9DBBAE;
        }
        &__contracted {
          background-color: #1ba974;
        }
        &__rejected {
          background-color: #D0021B;
        }
        &__quiting {
          background-color: #EF476F;
        }
        &__withdrawal {
          background-color: #246A73;
        }
        &__closed {
          background-color: #000000;
        }
      }

      &__ubike {
        font-size: 12px;
        font-weight: normal;
        line-height: 1.6;
        color: #666666;
        margin-bottom: 8px;
      }

      &__title {
        font-size: 22px;
        font-weight: bold;
        line-height: 1.45;
        color: #333333;
        margin-bottom: 8px;
      }

      &__bike-number {
        font-size: 12px;
        font-weight: normal;
        line-height: 1.6;
        color: #666666;
      }

      &__requisition {
        font-size: 12px;
        font-weight: normal;
        line-height: 1.6;
        color: #666666;
      }

      &__survey {
        font-size: 12px;
        font-weight: normal;
        line-height: 1.6;
        color: #666666;
        margin-bottom: 24px;
      }

      &__buttons {
        app-button {
          margin-right: 8px;
        }
      }

    }
  }
}

.ant-collapse
> .ant-collapse-item.ant-collapse-no-arrow
> .ant-collapse-header {
padding-left: 0px !important;
padding-right: 0px !important;
}

.ant-collapse-content > .ant-collapse-content-box {
padding: 0px !important;
background-color: white;
}


:host::ng-deep {
  .box {
    /*  border: 2px black; */
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #3a3a3a;
    border-radius: 50px;
    background: white;
    padding: 4px 10px 4px 10px;
    i {
      margin-left: 5px;
    }
    i svg {
      transition: transform 0.24s !important;
    }
  }
}

.ant-divider-inner-text {
  padding: 0 !important;
}
.ant-divider-horizontal.ant-divider-with-text {
  margin: 0;
}

.ant-divider-horizontal.ant-divider-with-text::after {
  border-top: 1px solid var(--primary-color) !important;
}

.ant-divider-horizontal.ant-divider-with-text::before {
  border-top: 1px solid var(--primary-color) !important;
}

:host::ng-deep {
  .ant-collapse-content-box {
    padding-left: 0px;
    padding-right: 0px;
  }
}