<div class="content">
  <form nz-form [formGroup]="alertTemplateGroup" 
      nzLayout="horizontal">
      <div nz-row nzGutter="16">
          <div nz-col nzSpan="24">
              <nz-form-item>
                  <nz-form-label nzFor="name" nzRequired>Nome</nz-form-label>
                  <nz-form-control nzErrorTip="Campo obrigatório">
                      <input nz-input formControlName="name" id="name">
                  </nz-form-control>
              </nz-form-item>
          </div>
      </div>

      <nz-divider nzText="Modelo"></nz-divider>

      <div nz-row nzType="flex" nzJustify="space-between">
          <div nz-col nzSpan="12">
              <nz-form-item>
                  <nz-form-label nzFor="template" nzRequired>Modelo</nz-form-label>
                  <nz-form-control>
                    <div  style="height: 500px;">
                      <ngx-monaco-editor  style="height: 100%" [options]="editorOptions" formControlName="template" ></ngx-monaco-editor>
                    </div>
                  </nz-form-control>
                  <nz-form-explain class="color-required" *ngIf="submit && f.template.errors">
                    Campo obrigatório
                  </nz-form-explain>
              </nz-form-item>
          </div>
          <div nz-col nzSpan="12" #preview  [innerHTML]="src">
          </div>
      </div>


      <div nz-row nzType="flex" nzJustify="space-between">
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzFor="data" nzRequired>Dados</nz-form-label>
                <nz-form-control nzErrorTip="Campo obrigatório e com um JSON válido">
                    <fi-sas-form-jsonfield formControlName="data" id="data"></fi-sas-form-jsonfield>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

      <nz-divider nzText="Medias" nzOrientation="left"></nz-divider>

      <div nz-row nzType="flex" nzJustify="space-between">
          <div nz-col nzSpan="24" formArrayName="medias">
              <div nz-row nzGutter="16" class="line">
                  <div nz-col nzSpan="7"><span class="error">* </span>Tipo</div>
                  <div nz-col nzSpan="7"><span class="error">* </span>Chave</div>
                  <div nz-col nzSpan="7"><span class="error">* </span>Ficheiro</div>
                  <div nz-col nzSpan="3">Eliminar</div>
              </div>
              <div nz-row nzGutter="16" *ngFor="let media of getMedias().controls; let i=index" [formGroupName]="i"
                  class="line">
                  <div nz-col nzSpan="7">
                      <nz-form-item>
                          <nz-form-control nzErrorTip="Campo mensagem é obrigatório">
                              <nz-select formControlName="type" name="type">
                                  <nz-option nzLabel="Anexo" nzValue="ATTACHMENT"></nz-option>
                                  <nz-option nzLabel="Imagem" nzValue="IMAGE"></nz-option>
                              </nz-select>
                          </nz-form-control>
                      </nz-form-item>
                  </div>
                  <div nz-col nzSpan="7">
                      <nz-form-item>
                          <nz-form-control nzErrorTip="Campo mensagem é obrigatório">
                              <input nz-input formControlName="key" id="key">
                          </nz-form-control>
                      </nz-form-item>
                  </div>
                  <div nz-col nzSpan="7">
                      <nz-form-item>
                          <nz-form-control nzErrorTip="Campo mensagem é obrigatório">
                              <fi-sas-upload-file formControlName="file_id"></fi-sas-upload-file>
                          </nz-form-control>
                      </nz-form-item>
                  </div>
                  <div nz-col nzSpan="3">
                      <button nz-button nzType="danger" type="button" (click)="removeMedia(i)"><i nz-icon
                              type="delete"></i></button>

                  </div>
              </div>
          </div>
      </div>
      <div nz-row nzType="flex" nzJustify="center">
          <div nz-col nzSpan="4">
              <button nz-button nzType="primary" type="button" (click)="addNewMedia()">Adicionar</button>
          </div>
      </div>
  </form>
</div>

<div class="space" nz-row>
    <button *ngIf="idtoUpdate" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
    <button nz-button [nzLoading]="loading" [disabled]="loading"
      (click)="submitForm($event, alertTemplateGroup.value)" [nzType]="'primary'">{{idtoUpdate ?
      'Editar' : 'Criar'}}</button>
  </div>