<nz-tabset nzTabPosition="left">
  <nz-tab nzTitle="Modelo">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
        <div nz-row class="title">
          Chave
        </div>
        <div nz-row class="detail-field">
          {{ data.key }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
        <div nz-row class="title">
          Descrição
        </div>
        <div nz-row class="detail-field">
          {{
          data.description
          }}
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Dados">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <pre>
          {{ data.data | json }}
        </pre>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Opções">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <pre>
          {{ data.options | json }}
        </pre>
      </div>
    </div>
  </nz-tab>
</nz-tabset>