.ticket {
  background: white;
  padding: 16px;

  &__title {
    font-weight: bold;
    font-size: 24px;
  }

  &__subtitle {
    font-size: 11px;
  }

  &__infos {

    &__label {
      font-weight: bold;
      margin-right: 8px;
    }

    &__info {

    }
  }
}

:host::ng-deep {
  .ticket__qrcode {
    text-align: center;
      img {
        width: 80%;
      }
  }
}
