<!--- OPTIONS -->
<div nz-row style="margin: 24px 0px;">
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
    <div nz-row>
      <div nz-col nzSpan="12">
        <app-button translate="MISC.RETURN" (click)="back()" [leftIcon]="'left'"
          [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}" type="tertiary"></app-button>
      </div>
    </div>
  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>
</div>

<div nz-row nzType="flex" *ngIf="!ticket">
  <div nz-col nzXs="1" nzSm="3" nzMd="9"></div>
  <div nz-col nzXs="22" nzSm="18" nzMd="6" class="ticket">
    <nz-spin [nzSpinning]="true"></nz-spin>
  </div>
  <div nz-col nzXs="1" nzSm="3" nzMd="9"></div>
</div>


<div nz-row nzType="flex" *ngIf="ticket">
  <div nz-col nzXs="1" nzSm="3" nzMd="5" nzLg="7" nzXl="9"></div>
  <div nz-col nzXs="22" nzSm="18" nzMd="14"  nzLg="10" nzXl="6" class="ticket">

    <div>
      <div class="ticket__title">{{'MOBILITY.TICKETS.DIGITAL_TICKET' | translate }}</div>
      <div class="ticket__subtitle">#{{ticket.id}} - {{ticket.created_at | date: 'yyy-MM-dd hh:mm:ss' }}</div>
      <div class="ticket__subtitle"><nz-tag [nzColor]="ticket.used ? 'red' : 'green'">{{ ticket.used ? ('MOBILITY.TICKETS.USED' | translate) : ('MOBILITY.TICKETS.UNUSED' | translate)}}</nz-tag></div>
    </div>

    <div *ngIf="ticket_data" style="text-align: center;">
      <img [src]="ticket_url" style="width: 65%;">
    </div>

    <div nz-row class="ticket__infos">
      <div nz-col nzSm="24" nzMd="24" class="ticket__infos__label"> {{'MOBILITY.TICKETS.USER' | translate }}:</div>
      <div nz-col nzSm="24" nzMd="24" class="ticket__infos__info"> {{ticket.user.name }}</div>
    </div>

    <div nz-row class="ticket__infos">
      <div nz-col nzXs="12" nzSm="12" nzMd="12" style="display: flex;" ><div class="ticket__infos__label">  {{'MOBILITY.TICKETS.FROM' | translate }}: </div> <div class="ticket__infos__info"> {{ticket.departure_local.local }}</div></div>
      <div nz-col nzXs="12" nzSm="12" nzMd="12" style="display: flex;" ><div class="ticket__infos__label">  {{'MOBILITY.TICKETS.TO' | translate }}: </div> <div class="ticket__infos__info"> {{ticket.arrival_local.local }}</div></div>
    </div>

    <div nz-row class="ticket__infos">
      <div nz-col nzSm="24" nzMd="24" class="ticket__infos__label"> {{'MOBILITY.TICKETS.ROUTE' | translate }}:</div>
      <div nz-col nzSm="24" nzMd="24" class="ticket__infos__info">  {{ticket.route.name }}</div>
    </div>

  </div>
  <div nz-col nzXs="1" nzSm="3" nzMd="5" nzLg="7"  nzXl="9"></div>
</div>
