@import "theme";

.report{
    padding-top: 2px;
}

.download-button {
    font-size: 12px;
    margin-right: 10px;
    margin-top: 5px;
}

:host::ng-deep {

  .header-icon {
    svg {
      path {
        fill: var(--primary-9);
      }
    }
  }

}


.padding-loading {
  padding-top: 10px;
  padding-bottom: 15px;
}


.border-buttons {
  padding-top:10px;
  border-top: 1px solid #e8e8e8;
}

::ng-deep {
  .ant-popover-title {
    min-height: 32px;
    margin: 0;
    padding: 10px 16px 4px;
    min-width: 170px !important;
    border-bottom: 2px solid var(--primary-color);
    color: black;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: bold;
    width: 140px;
  }
  .ant-popover-inner-content {
    border-top: 1px solid #e8e8e8 !important;
    padding: 12px 16px;
    color: rgba(0, 0, 0, 0.65);
  }
  .ant-popover-arrow {
    display: none;
  }

  
}

.button {
  background-color: var(--primary-color);
  color: white;
  border: var(--primary-color);
  font-size: 12px;
  font-weight: bold;
}

.space-button {
  text-align: right ;
  
  @media screen and (max-width: 600px) {
    text-align: center ;
  }
}

.button-more {
  @media screen and (max-width: 600px) {
    text-align: center ;
    padding: 5px;
  }
}

.text-title {
  font-size: 13px;
  font-family: Montserrat;
  color: black;
}

.description {
  font-size: 10px;
  font-family: Montserrat;
}

.bold {
  font-weight: bold;
}


#icon-report::ng-deep svg {
  g path {
      fill: var(--primary-color);
  }
}

#icon-report::ng-deep svg {
  path {
      fill: var(--primary-color);
  }
}

#waiting-report::ng-deep svg {
  path {
      fill: darkorange;
  }
}

.icon {
  vertical-align: middle;
  font-size: 22px;
  padding-bottom: 6px;
  padding-top: 5px;
}

.icon-file {
  font-size: 18px;
  padding-bottom: 6px;
  padding-top: 5px;
}

.icon-delete {
  font-size: 14px;
  cursor: pointer;
}