.dashboard {
  padding: 24px 0 24px 0;
  &__metric {
    display: inline-grid;
    text-align: center;
    &--value {
      font-family: Montserrat;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.45;
      letter-spacing: normal;
      text-align: center;
      color: #111111;
    }
    &--type {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.6;
      letter-spacing: normal;
      text-align: center;
      color: #666666;
    }
  }
}
