<nz-spin [nzSpinning]="loadingReports">
  <div nz-col class="dashboard" *ngIf="generalReports !== null">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="4" [nzXl]="4" [nzXXl]="4" class="dashboard__metric">
        <span class="dashboard__metric--value">{{ generalReports.total_hours_experience | HourConvert }}</span>
        <span class="dashboard__metric--type"> {{ 'SOCIAL_SUPPORT.DASHBOARD.TOTAL' | translate }}</span>
      </div>

      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="5" [nzXl]="5" [nzXXl]="5" class="dashboard__metric">
        <span class="dashboard__metric--value">{{ generalReports.total_hours_validated | HourConvert }}</span>
        <span class="dashboard__metric--type"> {{ 'SOCIAL_SUPPORT.DASHBOARD.TOTAL_VALIDATED' | translate }}</span>
      </div>

      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="5" [nzXl]="5" [nzXXl]="5" class="dashboard__metric">
        <span class="dashboard__metric--value">{{ generalReports.total_hours_attendance | HourConvert }}</span>
        <span class="dashboard__metric--type"> {{ 'SOCIAL_SUPPORT.DASHBOARD.TOTAL_ATTENDANCES' | translate }}</span>
      </div>

      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="5" [nzXl]="5" [nzXXl]="5" class="dashboard__metric">
        <span class="dashboard__metric--value">{{ generalReports.total_absences_without_accepted_reason }}</span>
        <span class="dashboard__metric--type"> {{ 'SOCIAL_SUPPORT.DASHBOARD.UNJUSTIFIED_ABESENCES' | translate }}</span>
      </div>

      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="5" [nzXl]="5" [nzXXl]="5" class="dashboard__metric">
        <span class="dashboard__metric--value">{{ generalReports.total_absences_with_accepted_reason }}</span>
        <span class="dashboard__metric--type"> {{ 'SOCIAL_SUPPORT.DASHBOARD.JUSTIFIED_ABESENCES' | translate }}</span>
      </div>
    </div>
  </div>
</nz-spin>
