<div class="application-card" (click)="goToReview(application?.id)">
  <div nz-row>
    <div
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="24"
      [nzLg]="24"
      [nzXl]="24"
      [nzXXl]="4"
      class="padding-bottom-15 margin-top-5"
    >
      <nz-tag
        class="tab-status"
        [nzColor]="
          (configStatus | filterStatusConfig: application.status).color
        "
        (click)="openModal($event)"
      >
        {{
          "VIEW_APPLICATION_STATUS.STATUS." +
            application.status.toString().toUpperCase() | translate
        }}
      </nz-tag>
    </div>
    <div
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="24"
      [nzLg]="24"
      [nzXl]="24"
      [nzXXl]="20"
      class="text-right"
    >
      <app-button
        [buttonStyle]="{ 'margin-top': '5px' }"
        [translate]="'ACCOMMODATION.APPLICATIONS.HISTORY_CHANGES'"
        [type]="'secundary'"
        class="button-history"
        (click)="consultHistoryChanges($event)"
      ></app-button>
      <app-button
        [buttonStyle]="{ 'margin-top': '5px' }"
        [translate]="'ACCOMMODATION.BILLINGS_TITLE'"
        [type]="'secundary'"
        class="button-history"
        (click)="consultBillings($event)"
      >
      </app-button>
    </div>
  </div>

  <div nz-row>
    <div
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="24"
      [nzLg]="24"
      [nzXl]="24"
      [nzXXl]="24"
      class="padding-bottom-20"
    >
      <div
        *ngIf="showAssignedResidence(); else elseBlock"
        class="application-card--title"
      >
        <div>{{ application.assignedResidence.name }}</div>
        <div>{{ application.assignedResidence.address }}</div>
      </div>
      <ng-template #elseBlock>
        <div class="application-card--title">
          <div>{{ application.residence.name }}</div>
          <div>{{ application.residence.address }}</div>
        </div>
      </ng-template>
    </div>
  </div>
  <div nz-row class="padding-bottom-20">
    <div
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="8"
      [nzLg]="8"
      [nzXl]="8"
      [nzXXl]="8"
      class="padding-bottom-mobile-20"
    >
      <div class="title-detail">
        {{ "SOCIAL_SUPPORT.APPLICATIONS.SUBMITTED_ON" | translate }}
      </div>
      <div class="description-detail">
        {{ application?.created_at | date: "dd-MM-yyyy" }}
      </div>
    </div>
    <div
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="16"
      [nzLg]="16"
      [nzXl]="16"
      [nzXXl]="16"
    >
      <div class="title-detail">
        {{
          "ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.REGIME_ID.TITLE"
            | translate
        }}
      </div>
      <div class="description-detail">
        {{ (application?.currentRegime.translations | languageChange).name }}
      </div>
    </div>
  </div>
  <div nz-row>
    <div class="title-detail">
      {{ "VIEW_APPLICATION_STATUS.VALID_DATE" | translate }}
    </div>
    <div class="description-detail">
      {{
        "VIEW_APPLICATION_STATUS.VALID"
          | translate
            : {
                start_date:
                  (application?.start_date
                    ? application?.start_date
                    : daycurrent
                  ) | date: "dd/MM/yyyy":"UTC+0":translate.currentLang,
                end_date:
                  (application?.end_date ? application?.end_date : daycurrent)
                  | date: "dd/MM/yyyy":"UTC+0":translate.currentLang
              }
      }}
    </div>
  </div>
</div>

<!-- MODAL DETAIL -->
<nz-modal
  (nzOnCancel)="modalDetail = false"
  [(nzVisible)]="modalDetail"
  [nzTitle]="null"
  [nzContent]="modalContentDetailApplication"
  [nzFooter]="null"
>
  <ng-template #modalContentDetailApplication>
    <div nz-row class="padding-bottom-15">
      <nz-tag
        class="tab-status cursor-cont"
        [nzColor]="
          (configStatus | filterStatusConfig: application.status).color
        "
      >
        {{
          "VIEW_APPLICATION_STATUS.STATUS." +
            application.status.toString().toUpperCase() | translate
        }}
      </nz-tag>
    </div>
    <h2 class="title-top-page">
      <div
        *ngIf="showAssignedResidence(); else elseBlock"
        class="application-card--title"
      >
        <div>{{ application.assignedResidence.name }}</div>
        <div>{{ application.assignedResidence.address }}</div>
      </div>
      <ng-template #elseBlock>
        <div class="application-card--title">
          <div>{{ application.residence.name }}</div>
          <div>{{ application.residence.address }}</div>
        </div>
      </ng-template>
    </h2>

    <div
      *ngFor="let hist of application?.history; let idx = index"
      nz-row
      [ngClass]="{ box: !isPair(idx), 'box-pair': isPair(idx) }"
    >
      <div
        nz-col
        [nzXs]="24"
        [nzSm]="24"
        [nzMd]="21"
        [nzLg]="21"
        [nzXl]="22"
        [nzXXl]="22"
      >
        <div nz-row>
          {{ hist?.created_at | date: "dd-MM-yyyy" }} -
          {{ hist?.created_at | date: "HH:mm" }}h
        </div>
        <div nz-row>
          <b>
            <span *ngIf="hist.user_id === userId" class="history__user"
              >{{ "APPLICATIONS_RESUME.YOU" | translate }}:
            </span>
            <span *ngIf="hist.user_id !== userId" class="history__user"
              >{{ "APPLICATIONS_RESUME.ADMIN" | translate }}:
            </span>
            <span class="history__status">{{
              "APPLICATIONS_RESUME.STATUS." +
                hist.status.toString().toUpperCase() | translate
            }}</span></b
          >
        </div>
      </div>
    </div>
  </ng-template>
</nz-modal>
