/*.checkbox {
  &--item {
    margin: 10px 1px 10px 1px!important;
  }
  &--label {
    font-family: Montserrat;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #222222;
  }
  &--input {
    margin-left: 11.5px;
  }
}*/

.checkbox{
  width: 100%;
  &--item {
    margin: 10px 0px 10px 0px !important;
  }
}

.error {
  color: red;
  margin-top:5px;
  
  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}
