<form nz-form [formGroup]="form" *ngIf="form">
  <div nz-row>
    <!-- Locations -->
    <div nz-col [nzXs]="24">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="locations" class="primary-input-label">
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_ACTIVITIES_LOCATIONS.SUBTITLE'|translate}}
        </nz-form-label>

        <nz-form-control>
          <nz-checkbox-wrapper class="checkbox" formGroupName="locations">
            <div nz-row>
              <div *ngFor="let organicUnit of organicUnits" nz-col [nzXs]="24" [nzXl]="8"
              [nzXXl]="6" class="checkbox--item">
                <label class="checkbox--label" [formControlName]="organicUnit.id" nz-checkbox
                  [nzValue]="organicUnit.id">
                  {{ organicUnit.name }}
                </label>
              </div>
            </div>
          </nz-checkbox-wrapper>
          <nz-form-explain class="error" *ngIf="form.get('organic_units')?.dirty && form.get('organic_units').errors">
            {{ getInputError('organic_units') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <!-- Preferred Activities -->
    <div nz-col [nzXs]="24">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="preferred_activities" class="primary-input-label">
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_ACTIVITIES_LOCATIONS.SUBTITLE_2'|translate}}
        </nz-form-label>
        <nz-form-control>
          <nz-checkbox-wrapper class="checkbox" formGroupName="activities">
      
              <div *ngFor="let activity of activities" nz-col class="checkbox--item" [nzXs]="24" [nzMd]="12" [nzLg]="8">
                <label class="checkbox--label" nz-checkbox [formControlName]="activity.id" [nzValue]="activity.id">
                  {{activity.name }}
                </label>
              </div>
  
          </nz-checkbox-wrapper>
          <nz-form-explain class="error"
            *ngIf="form.get('preferred_activities')?.dirty && form.get('preferred_activities').errors">
            {{ getInputError('preferred_activities') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>