<!-- charging -->
<div class="charging">
  <!-- header -->
  <header class="charging__head">
    <div nz-row>
      <div nz-col nzSpan="2"></div>
      <div nz-col nzSpan="16">
        <h1 class="charging__head-title">
          {{ 'CHARGING.TITLE' | translate }}
        </h1>
      </div>
      <div nz-col nzSpan="2"></div>
    </div>
  </header>

  <!-- balances -->
  <div class="charging__balances">
    <div nz-row>
      <div nz-col nzSpan="2"></div>
      <div nz-col nzSpan="16">
        <ng-container *ngIf="balances?.length && !isLoading">
          <div class="charging__balances-wrap">
            <div class="charging__balance">
              <!-- title -->
              <div class="charging__balance-title">
                {{ 'CHARGING.CURRENT_ACCOUNT' | translate }}
              </div>
              <!-- balance -->
              <div
                class="charging__balance-wrap"
                *ngFor="let balance of balances"
                [ngClass]="{ 'charging__balance-wrap--selected': selected_account_id === balance.account_id}"
                (click)="changeSelectedAccount(balance.account_id)"
              >
                <div class="charging__balance-name">
                  {{ balance.account_name }}
                </div>
                <div class="charging__balance-value">
                  {{ balance.current_balance | number: '1.2-2':'pt-PT' }}€
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div nz-col nzSpan="2"></div>
    </div>
  </div>

  <!-- Content -->
  <section *ngIf="!show_refMBResult">
    <div nz-row>
      <div nz-col nzSpan="2"></div>
      <div nz-col nzSpan="16" class="charging__box">
        <p class="charging__box__payment_method_title">{{'CHARGING.CHOOSE_METHOD' | translate }} :</p>
        <div nz-row>

          <div nz-col nzSpan="20" *ngIf="getSelectedAccountAvailableMethods().length === 0" class="charging__box__payment_method__empty">
            {{'CHARGING.NO_METHODS' | translate }}
          </div>
          <div nz-col nzSpan="5"
            *ngFor="let payment_method of getSelectedAccountAvailableMethods()" class="charging__box__payment_method"
            [ngClass]="{ 'charging__box__payment_method--selected': selected_payment_method_id === payment_method.id, 'charging__box__payment_method--disabled': (payment_method.tag=== 'MB_KIOSK' && !isTpaAvailable)}"
            (click)="changeSelectedPaymentMethod(payment_method.id)"
          >
            <div>
              <img src="assets/images/referencia_multibanco.png" *ngIf="payment_method.tag=== 'REFMB_AMA'" />
              <img src="assets/images/multibanco.png" *ngIf="payment_method.tag=== 'MB_KIOSK'" />
            </div>
            <div>{{payment_method.name}} {{ !isTpaAvailable && payment_method.tag=== 'MB_KIOSK' ? '*' : '' }}</div>
          </div>
          <span style="font-size: 15px;
    font-weight: 700;" *ngIf="!isTpaAvailable">{{ "CHARGING.ATM_UNAVAILABLE" | translate }}</span>
        </div>

        <div class="charging__box__amount">
          <p class="charging__box__amount__title">{{'CHARGING.CHOOSE_VALUE' | translate }} :</p>
          <div nz-row [nzType]="'flex'" [nzJustify]="'center'">
            <div nz-col>
              <div class="charging__box__amount__value">{{amount_to_charge |  currency: 'EUR'}}</div>
              <fi-sas-numeric-pad [(number)]="amount_to_charge" (numberChange)="updateBalanceAfterTransaction()"></fi-sas-numeric-pad>
            </div>
          </div>
          <div class="charging__box__amount__warning">
            <span *ngIf="errorType === 'CHARGE_AMOUNT_LOWER_THAN_ALLOWED'">{{'CHARGING.CHARGE_VALUE_GREATER' | translate }} {{errorData.min_charge_amount ? (errorData.min_charge_amount | currency: 'EUR') : '--'}}</span>
            <span *ngIf="errorType === 'CHARGE_AMOUNT_GREATER_THAN_ALLOWED'">{{'CHARGING.CHARGE_VALUE_LESS' | translate }} {{errorData.max_charge_amount ? (errorData.max_charge_amount | currency: 'EUR') : '--'}}</span>
            <span *ngIf="errorType === 'ERROR_FIELDS_1'">{{'CHARGING.ERROR_VALIDATION_fIELD_1' | translate }}</span>
            <span *ngIf="errorType === 'ERROR_FIELDS_2'">{{'CHARGING.ERROR_VALIDATION_fIELD_2' | translate }}</span>
            <span *ngIf="errorType === 'ERROR_FIELDS_3'">{{'CHARGING.ERROR_VALIDATION_fIELD_3' | translate }}</span>
          </div>
        </div>
        <div class="charging__box__info">
          <p class="charging__box__info__title">{{'CHARGING.OPERATION_RESULT' | translate }} :</p>
          {{'CHARGING.CURRENT_ACCOUNT' | translate }} : {{ getSelectedAccountName() }}<br>
          {{'CHARGING.VALUE_TO_CHARGE' | translate }} : {{ amount_to_charge }}<br>
          {{'CHARGING.BALANCE_AFTER' | translate }} : {{ balance_after_transaction }}<br>
        </div>
      </div>
    </div>
  </section>

  <!-- Content -->
  <section *ngIf="show_refMBResult">
    <div nz-row nzType="flex" class="charging__showMBresult">
      <div nz-col nzSpan="6"></div>
      <div nz-col nzSpan="8" class="charging__showMBresult__content">
        <div class="charging__showMBresult__content__line">
          <div class="charging__showMBresult__content__line__title">{{ 'CHARGING.REFMB_VALUE' | translate }}:</div> {{refMBResult.Amount | currency: 'EUR'}}
        </div>
        <div class="charging__showMBresult__content__line">
          <div class="charging__showMBresult__content__line__title">{{ 'CHARGING.REFMB_ENTITY' | translate }}:</div> {{refMBResult.EntityNumber}}
        </div>
        <div class="charging__showMBresult__content__line">
          <div class="charging__showMBresult__content__line__title">{{ 'CHARGING.REFMB_REFERENCE' | translate }}:</div> {{refMBResult.Reference}}
        </div>
        <div class="charging__showMBresult__content__line">
          <div class="charging__showMBresult__content__line__title">{{ 'CHARGING.REFMB_EXPIRE_DATE' | translate }}:</div> {{refMBResult.ExpirationDate | date: 'dd MMM yyyy' : 'UTC+0' : locale}}
        </div>
        <div class="charging__showMBresult__content__line charging__showMBresult__success" >
          {{'CHARGING.SUCCESS' | translate}}
        </div>
      </div>
      <div nz-col nzSpan="6"></div>
    </div>
  </section>

</div>
  <!--<fi-charging-menu [value]="amount"></fi-charging-menu>-->

<!-- MENU -->
<section class="menu" *ngIf="!show_refMBResult">
  <div class="charging-menu">
    <div nz-row nzType="flex" nzJustify="center" class="charging-menu__row">
      <!-- back -->
      <div nz-col nzSpan="7" class="charging-menu__item" (click)="back($event)">
        <a role="button">
          <svg-icon
          src="assets/icons/icons-arrow-2-left.svg"
          [svgStyle]="{ 'width.px': 108, 'height.px': 108 }"
          ></svg-icon>
          <p class="charging-menu__label">
            {{ 'CHARGING-MENU.BACK' | translate | uppercase }}
          </p>
        </a>
      </div>

      <!-- end -->
      <div
      nz-col
      nzSpan="13"
      class="charging-menu__item charging-menu__finish"
      (click)="chargeAccount()"
      >
      <a role="button">
        <svg-icon
        src="assets/icons/icons-top-up.svg"
        [svgStyle]="{ 'width.px': 108, 'height.px': 108 }"
        ></svg-icon>
        <p class="charging-menu__label">
          {{ 'CHARGING-MENU.FINISH' | translate | uppercase }}
        </p>
      </a>
    </div>
  </div>
</div>
</section>


<!-- MENU -->
<section class="menu" *ngIf="show_refMBResult">
  <div class="charging-menu">
    <div nz-row nzType="flex" nzJustify="center" class="charging-menu__row">
      <!-- back -->
      <div nz-col nzSpan="20" class="charging-menu__item" (click)="goToDashboard($event)">
        <div class="image-service">
          <img src="assets/images/dashboard.svg" width="96px" height="96px" />
        </div>
        <p class="menu__label">
          {{ 'MENU.AUTHENTICATION.SERVICES' | translate }}
        </p>
      </div>
  </div>
</div>
</section>
