@import 'default-theme.less';

:host::ng-deep {

  .charging {
    /* scene head */
    &__head {
      width: 100%;
      height: 594px;
      background-color: var(--fisas-03);
    }

    &__head-title {
      margin-top: 342px;
      .font-family(72px, 900);
      line-height: 1.08;
      letter-spacing: -1.8px;
      margin-bottom: 0;
    }

    &__head-info {
      .font-family(48px, 200);
      line-height: 1.25;
      letter-spacing: -1.2px;
    }

    &__head-info,
    &__head-title {
      color: @fisas-grey-01;
    }


    /* BALANCES*/
     /* balance */
     &__balances {
      width: 100%;
      height: 108px;
      background-color: var(--fisas-02);
    }

    &__balances-wrap {
      display: flex;
      align-items: center;
      height: 108px;
    }

    &__balance {
      display: flex;
      flex-wrap: nowrap;
      height: 100%;
    }

    &__balance-title {
      width: 132px;
      .font-family(18px, 900);
      line-height: 1.33;
      color: @fisas-grey-01;
      text-transform: uppercase;
      padding-top: 32px;
    }

    &__balance-wrap {
      .font-family(18px, 700);
      line-height: 1.33;
      color: @fisas-grey-01;
      padding: 32px 16px 0px 48px;

      &--selected {
        background-color: var(--fisas-06);
      }
    }

    &__balance-name {
      font-weight: bold;
    }

    &__balance-value {
      font-weight: normal;
    }


    &__box {
      font-size: 24px;
      line-height: 32px;
      margin-top: 60px;

      &__payment_method_title {
        color: black;
        .font-family(26px, 200);
        line-height: 1.25;
        letter-spacing: -1.2px;
      }

      &__payment_method {
        display: flex;

        border: 1px solid var(--fisas-02);
        border-radius: 25px;
        padding: 8px;
        .font-family(18px, 600);
        line-height: 1.25;
        letter-spacing: -1.2px;
        align-items: center;

        &:not(:first-child) {
          margin-left: 24px;
        }

        img {
          width: 50px;
          margin-right: 8px;
        }

        &--selected {
          border-color: var(--fisas-06);
          border-width: 5px;
        }

        &--disabled {
          border-color: #ff9b9c !important;
          border-width: 3px !important;
          opacity: 0.3;
          
          img {
            filter: grayscale();
          }

        }
      }

      &__amount {
        margin-top: 40px;
        &__title {
          color: black;
          .font-family(26px, 200);
          line-height: 1.25;
          letter-spacing: -1.2px;
        }

        &__value {
          font-weight: 700;
          font-size: 30px;
          border: 1px solid var(--fisas-01);
          width: 178px;
          margin-left: 20px;
          text-align: right;
          padding: 8px;
          overflow: hidden;
        }

        &__warning {
          color: red;
          .font-family(26px, 200);
          line-height: 1.25;
          text-align: center;
          letter-spacing: -1.2px;
          font-weight: bold;
        }
      }

      &__info {
        margin-top: 40px;
        &__title {
          color: black;
          .font-family(26px, 200);
          line-height: 1.25;
          letter-spacing: -1.2px;
        }

        color: black;
          .font-family(16px, 200);
          line-height: 1.25;
          letter-spacing: -1.2px;
      }
    }

    &__showMBresult {
      margin-top: 100px;

      &__content {
        border: 1px solid var(--fisas-01);
        border-radius: 25px;
        height: 260px;
        display: grid;
        padding: 30px;

        &__line {
          line-height: normal;
          &__title {
            font-weight: bold;
          }
        }
      }
      &__success {
        padding-top: 20px;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
      }
    }
  }

  .menu {
    width: 100%;
  height: 192px;
  position: absolute;
  bottom: 72px;

  .charging-menu {
    width: 100%;
    height: 100%;
    background-color: var(--fisas-08);

    &__item {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;

      a {
        color: @fisas-grey-01;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
    &__label {
      .font-family(11px, 700);
      letter-spacing: 0.92px;
      line-height: 18px;
      margin-bottom: 0;
    }
    

    &__finish {
      background-color: @fisas-green-check;

      svg {
        fill: @fisas-grey-01;
        margin-bottom: 12px;
      }
    }


    &__row,
    &__item {
      height: 100%;
      color: @fisas-grey-01;
    }


  }
  }
}

.image-service {
  margin-bottom: 10px;
  margin-top: 15px;
}