.content {
  padding: 24px;
  background-color: white;

  .subtitle {
    font-weight: bold;
  }
}

.space {
  background-color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
}

.title {
  font-size: 17px;
  font-weight: 400;
}

.color-required {
  color: red;
}

.actions {
  text-align: right;
  padding-top: 42px;

  button:first-child {
    margin-right: 24px;
  }
}

.schedules {
  width: 100%;
}

.schedule_title {
  color: black;
}

::ng-deep {
  .ant-input-suffix {
    height: auto;
    right: 0 !important;
    top: 0 !important;
    transform: none !important;
    width: auto;
    height: 100%;

    i {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 100%;
      max-height: 50px;
      justify-content: center;
      width: 50px;
    }
  }

  .primary-textarea,
  .primary-input {
    &.input-with-suffix {
      padding-right: 50px !important;
    }
  }

  .ant-input-affix-wrapper .ant-input:not(:last-child).primary-textarea {
    padding-right: 11px;
  }

  .ant-input-affix-wrapper .ant-input:not(:first-child).primary-textarea {
    padding-left: 11px;
  }
}
