<fi-sas-layout-toolstrip>
  <fi-sas-toolstrip-button tooltip="Eliminar" (onClick)="deleteTeam(team.id)" [permission]="['gamification:teams:delete']" iconType="delete"></fi-sas-toolstrip-button>
</fi-sas-layout-toolstrip>

<div *ngIf="team" perfectScrollbar class="content--padding scroll-container">

  <div nz-row>
    <div nz-col nzSpan="24">
      <div nz-row>
        <h3>Equipa:</h3>
      </div>
      <div nz-row>
        <p>{{ team.name }}</p>
      </div>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="24">
      <div nz-row>
        <nz-table #players [nzScroll]="{ x: '240px' }" [nzData]="team.players" [nzShowPagination] = "pagination">
          <thead>
          <tr>
            <th>Nome</th>
            <th>Nickname</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let player of players.data">
            <td>{{ player.user_id }}</td>
            <td>{{ player.nickname }}</td>
          </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>

</div>
