<div nz-row class="list">
    <div nz-col [nzSm]="1" [nzMd]="2" [nzXs]="1">

    </div>
    <div nz-col [nzSm]="22" [nzMd]="20" [nzXs]="22" class="top">
        <h2 class="title-top-page">{{ 'DASHBOARD.WIDGETS.POSTS.TITLE' | translate }}</h2>
        <p class="sub-title-top-page">{{ 'DASHBOARD.WIDGETS.POSTS.DESCRIPTION' | translate }}</p>
    </div>
    <div nz-col [nzSm]="1" [nzMd]="2" [nzXs]="1">

    </div>

</div>

<nz-spin [nzSpinning]="loadingNews">
    <div nz-col [nzSm]="1" [nzMd]="2" [nzXs]="1">

    </div>
    <div nz-col [nzSm]="22" [nzMd]="20" [nzXs]="22">
        <div *ngIf="listNews.length>0" nz-row nzType="flex" class="posts__list" [nzGutter]="24">
            <div nz-col class="posts__list__item" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="8" [nzXXl]="6"
                *ngFor="let post of listNews" (click)="goDetail(post?.translations[0]?.post_id)">
                <nz-card nzHoverable  id="id-card-post" [nzBodyStyle]="{
                          'margin-top': '-22px',
                          padding: '16px'
                        }" [nzCover]="coverTemplate">
                    <p class="date">{{post?.date | date: "dd-MM-yyyy"}}</p>
                    <p class="title">{{ getName((post?.translations | languageChange)?.title) }}</p>
                    <p class="summary">{{ (post?.translations | languageChange)?.summary }}</p>
                </nz-card>
                <ng-template #coverTemplate>
                    <img *ngIf="(post?.translations | languageChange)?.file_16_9?.id != null && !existVideo(post)"
                        src="{{(post?.translations | languageChange)?.file_16_9?.url}}" />
                    <img *ngIf="(post?.translations | languageChange)?.file_16_9?.id == null || existVideo(post)"
                        src="/assets/imgs/unavailable-image.jpg" />
                </ng-template>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" style="text-align: center;">
                <nz-pagination [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
                [nzShowSizeChanger]="false" [nzTotal]="totalNews" nzShowSizeChanger (nzPageIndexChange)="paginationSearch()"
                (nzPageSizeChange)="paginationSearch(true)"></nz-pagination>
            </div>
        </div>
        <div *ngIf="listNews.length==0">
            <nz-empty></nz-empty>
        </div>
        
    </div>
    <div nz-col [nzSm]="1" [nzMd]="2" [nzXs]="1">

    </div>

</nz-spin>