@import "theme";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 1199px)";
@mobile:    ~"only screen and (min-width: 320px) and (max-width: 719px)";
@pc:    ~"only screen and (min-width: 1200px) and (max-width: 1440px)";


.top {
  padding-top: 25px;
}

.posts {
    &__body {
      margin-top: 20px;
      //padding-top: 24px;

      @media screen and (max-width: 576px) {
        padding: 16px;
      }
    }

    &__list {
      margin-top: 15px;
     
      &__item {
        padding-bottom: 24px;
       
        img {
          object-fit: cover;
          width: 100%;
          height: 250px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }

        nz-card { 
          &:hover {
            border-color: var(--primary-color);
            background-color: var(--primary-1);
          }
          cursor: pointer;
          border-radius: 8px;
          width: 100% !important;
        }

      }
    }
}


.summary {
  margin: 0px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #666666;
  font-size: 13px;
  margin-bottom: 10px;
}

.title {
  margin: 0px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
}

.date {
  margin-top: 15px;
  font-size: 13px;
  margin-bottom: 8px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #979797;
}

#id-card-post::ng-deep .ant-card-body {
  height: 250px;
  @media @mobile {
    height: auto;
  }

  @media @tablet {
    height: auto;
  }
  @media @pc {
    height: 260px;
  }

}