
<div class="num_pad">
<div nz-row class="num_pad__row" nzType="flex" >
    <div nz-col nzSpan="6" class="num_pad__row__button">
        <div class="num_pad__row__button__area" (click)="addValue(1)">1</div>
    </div>
    <div nz-col nzSpan="6" class="num_pad__row__button">
        <div class="num_pad__row__button__area" (click)="addValue(2)">2</div>
    </div>
    <div nz-col nzSpan="6" class="num_pad__row__button">
        <div class="num_pad__row__button__area" (click)="addValue(3)">3</div>
    </div>
</div>
<div nz-row class="num_pad__row" nzType="flex" >
    <div nz-col nzSpan="6" class="num_pad__row__button">
        <div class="num_pad__row__button__area" (click)="addValue(4)">4</div>
    </div>
    <div nz-col nzSpan="6" class="num_pad__row__button">
        <div class="num_pad__row__button__area" (click)="addValue(5)">5</div>
    </div>
    <div nz-col nzSpan="6" class="num_pad__row__button">
        <div class="num_pad__row__button__area" (click)="addValue(6)">6</div>
    </div>
</div>
<div nz-row class="num_pad__row" nzType="flex" >
    <div nz-col nzSpan="6" class="num_pad__row__button">
        <div class="num_pad__row__button__area" (click)="addValue(7)">7</div>
    </div>
    <div nz-col nzSpan="6" class="num_pad__row__button">
        <div class="num_pad__row__button__area" (click)="addValue(8)">8</div>
    </div>
    <div nz-col nzSpan="6" class="num_pad__row__button">
        <div class="num_pad__row__button__area" (click)="addValue(9)">9</div>
    </div>
</div>
<div nz-row class="num_pad__row" nzType="flex" >
    <div nz-col nzSpan="6" class="num_pad__row__button">
         <!--<div class="num_pad__row__button__area" (click)="addComma()">,</div>-->
    </div>
    <div nz-col nzSpan="6" class="num_pad__row__button">
        <div class="num_pad__row__button__area" (click)="addValue(0)">0</div>
    </div>
    <div nz-col nzSpan="6" class="num_pad__row__button">
        <div class="num_pad__row__button__area" (click)="clearValue()">C</div>
</div>
</div>