<div nzType="flex" nzAlign="middle" nzJustify="center" perfectScrollbar class="page ps scroll-container">
    <div class="container">
        <div nz-row>

            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
                <div nz-row>
                    <nz-form-label>Armazém</nz-form-label>
                    <nz-form-control>
                        <nz-select class="primary-select" [(ngModel)]="filters.wharehouse_id" nzShowSearch
                            style="width: 100%;">
                            <nz-option *ngFor="let wharehouse of wharehouses" [nzLabel]="wharehouse?.name"
                                [nzValue]="wharehouse.id">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
                <div nz-row>
                    <nz-form-label>Produto</nz-form-label>
                    <nz-spin [nzSpinning]="isLoadingSelects">
                        <nz-form-control>
                            <nz-select class="primary-select" [(ngModel)]="filters.product_id" nzAllowClear nzShowSearch
                                [nzServerSearch]="true" (nzOnSearch)="onSearch($event)" style="width: 100%;">
                                <nz-option *ngFor="let product of products"
                                    [nzLabel]="(product?.translations | translation)?.name" [nzValue]="product.id">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-spin>

                </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5" class="filter-check">
                <div nz-row>
                    <label nz-checkbox [(ngModel)]="filters.stock_lower">Stock abaixo do stock mínimo</label>
                </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>

            <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
                <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
            </div>
            <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
                style="text-align: left;">
                <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
            </div>
        </div>
    </div>
    <div nz-row class="button-report">
        <button nz-button nzType="primary" (click)="openGenerateModalReport = true">Relatório stock</button>
    </div>
    <div class="container">
        <div class="content-table">
            <nz-table class="table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
                (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading"
                [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData"
                [(nzPageSize)]="pageSize" (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
                <thead (nzSortChange)="sort($event)" nzSingleSort>
                    <tr class="table__header">

                        <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
                            [nzSortKey]="column.sortKey ? column.sortKey : column.key">
                            {{ column.label }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-data [ngForOf]="refTable.data">
                        <tr>
                            <td>
                                {{data?.wharehouse?.name}}
                            </td>
                            <td>
                                {{(data.product.translations | where: ['language_id', 3])[0]['name']
                                }}
                            </td>
                            <td>
                                {{ (data | flatObject)['quantity'] }} {{data.product.unit.acronym}}
                            </td>
                            <td>
                                {{data.product.minimal_stock}} {{data.product.unit.acronym}}
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>




<nz-modal [(nzVisible)]="openGenerateModalReport" nzTitle="Selecionar Armazém" nzWidth="500" [nzFooter]="null" (nzOnCancel)="openGenerateModalReport=false">
    <div nz-row nzType="flex">
        <div nz-col nzSpan="4" style="padding-top: 7px;">
            Armazém:
        </div>
        <div nz-col nzSpan="20">
            <nz-form-control>
                <nz-select class="primary-select" [(ngModel)]="wharehouseId" nzShowSearch style="width: 100%;">
                    <nz-option *ngFor="let wharehouse of wharehouses" [nzLabel]="wharehouse?.name"
                        [nzValue]="wharehouse.id">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </div>
    </div>
    <div nz-row class="btn-modal">
        <button nz-button nzType="secundary" (click)="openGenerateModalReport = false" style="margin-right: 10px;">
            <span>Cancelar</span>
        </button>
        <button nz-button nzType="primary" (click)="generateReportStock(wharehouseId)" [disabled]="!wharehouseId" [nzLoading]="loadingReport">
            <span>Gerar Relatório</span>
        </button>
    </div>
</nz-modal>