<nz-tabset nzTabPosition="left">

  <nz-tab nzTitle="Dados Pessoais">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Nome
        </div>
        <div nz-row class="detail-field">
          {{ externalDoctor?.name }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          NIF
        </div>
        <div nz-row class="detail-field">
          {{ externalDoctor?.tin }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Morada
        </div>
        <div nz-row class="detail-field">
          {{ externalDoctor?.address }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Código Postal
        </div>
        <div nz-row class="detail-field">
          {{ externalDoctor?.postal_code }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          País
        </div>
        <div nz-row class="detail-field">
          {{ externalDoctor?.country }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Contacto
        </div>
        <div nz-row class="detail-field">
          {{ externalDoctor?.phone }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Email
        </div>
        <div nz-row class="detail-field">
          {{ externalDoctor?.email }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Anexo
        </div>
        <div nz-row class="detail-field">
          <!--<a target="_blank" href="{{ externalUser?.file?.url }}">Abrir anexo</a>-->
        </div>
      </div>

    </div>
  </nz-tab>

</nz-tabset>