<div nz-row nzType="flex" nzJustify="end">
  <button nz-button nzType="primary" class="btn" (click)="addUserPack()">
    Adicionar
  </button>
</div>

<div
  nzType="flex"
  nzAlign="middle"
  nzJustify="center"
  perfectScrollbar
  class="page ps scroll-container"
>
  <div class="container">
    <div nz-row>
      <div
        nz-col
        [nzXs]="24"
        [nzSm]="24"
        [nzMd]="8"
        [nzLg]="8"
        [nzXl]="8"
        [nzXXl]="8"
      >
        <div nz-row>
          <nz-form-label>Termo de Pesquisa</nz-form-label>
          <nz-form-control>
            <input type="text" nz-input [(ngModel)]="filters.search" />
          </nz-form-control>
        </div>
      </div>
      <div
        nz-col
        [nzXs]="0"
        [nzSm]="0"
        [nzMd]="1"
        [nzLg]="1"
        [nzXl]="1"
        [nzXXl]="1"
      ></div>

      <div
        nz-col
        [nzXs]="0"
        [nzSm]="0"
        [nzMd]="1"
        [nzLg]="1"
        [nzXl]="1"
        [nzXXl]="1"
      ></div>

      <div
        nz-col
        [nzXs]="12"
        [nzSm]="6"
        [nzMd]="4"
        [nzLg]="3"
        [nzXl]="3"
        [nzXXl]="3"
        class="btn-filter"
      >
        <button
          nz-button
          nzType="primary"
          class="btn"
          (click)="searchData(true)"
        >
          Filtrar
        </button>
      </div>
      <div
        nz-col
        [nzXs]="12"
        [nzSm]="6"
        [nzMd]="4"
        [nzLg]="2"
        [nzXl]="1"
        [nzXXl]="1"
        class="btn-filter"
        style="text-align: left"
      >
        <i
          nz-icon
          nzType="delete"
          class="btn-delete"
          nzTheme="outline"
          (click)="searchData(true)"
        ></i>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content-table">
      <nz-table
        class="table"
        [nzScroll]="{ x: '240px' }"
        #refTable
        [nzData]="data"
        (nzCurrentPageDataChange)="currentPageDataChange($event)"
        [nzLoading]="loading"
        [nzFrontPagination]="false"
        [(nzPageIndex)]="pageIndex"
        [nzShowSizeChanger]="true"
        [nzTotal]="totalData"
        [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="pagination()"
        (nzPageSizeChange)="pagination(true)"
      >
        <thead (nzSortChange)="sort($event)" nzSingleSort>
          <tr class="table__header">
            <th></th>
            <th>Nome</th>
            <th>Pack</th>
            <th>Ativo</th>
            <th>Data inicio</th>
            <th>Data fim</th>
            <th nzRight="0px">Ações</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="refTable.data">
            <tr>
              <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
              <td>{{ data?.user?.name }}</td>
              <td>{{ validTranslateName(3, data?.pack?.translations) }}</td>
              <td><fi-sas-tag [value]="data.active"></fi-sas-tag></td>
              <td>{{ data.begin_at | date: 'shortDate' }}</td>
              <td>{{ data.end_at | date: 'shortDate' }}</td>
              <td nzRight="0px">
                <button
                  nz-button
                  nz-dropdown
                  nzType="link"
                  class="options_button"
                  [nzDropdownMenu]="menu"
                  nzPlacement="bottomRight"
                >
                  <i nz-icon nzType="dash" nzTheme="outline"></i>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li
                     *ngIf="data.active"
                      [nzDisabled]="
                        !('alimentation:packs:update' | hasPermission)
                      "
                      nz-menu-item

                      (click)="desactivateUserPack(data.id)"
                    >
                      Desativar
                    </li>
                    <li
                      *ngIf="!data.active"
                      [nzDisabled]="
                        !('alimentation:packs:update' | hasPermission)
                      "
                      nz-menu-item

                      (click)="activateUserPack(data.id)"
                    >
                      Ativar
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
            <tr
              [nzExpand]="mapOfExpandData[data.id]"
              *ngIf="mapOfExpandData[data.id]"
            >
              <td [attr.colspan]="7">
                <fi-sas-user-pack-view [data]="data"></fi-sas-user-pack-view>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
