<form nz-form [formGroup]="identificationForm" *ngIf="user !== null">
  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="name" class="primary-input-label">
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_IDENTIFICATION.NAME'|translate}}
        </nz-form-label>

        <nz-form-control>
          <input nz-input class="primary-input" formControlName="name" id="name" />
          <nz-form-explain class="error"
            *ngIf="identificationForm.get('name')?.dirty && identificationForm.get('name').errors">
            {{ getInputError('name') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="address" class="primary-input-label">
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_IDENTIFICATION.ADDRESS'|translate}}
        </nz-form-label>

        <nz-form-control>
          <input nz-input class="primary-input" formControlName="address" id="address" />
          <nz-form-explain class="error"
            *ngIf="identificationForm.get('address')?.dirty && identificationForm.get('address').errors">
            {{ getInputError('address') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="postal_code" class="primary-input-label">
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_IDENTIFICATION.POSTAL_CODE'|translate}}
        </nz-form-label>

        <nz-form-control>
          <input nz-input class="primary-input" mask="0000-000" formControlName="postal_code" id="postal_code" />
          <nz-form-explain class="error"
            *ngIf="identificationForm.get('postal_code')?.dirty && identificationForm.get('postal_code').errors">
            {{ getInputError('postal_code') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="city" class="primary-input-label">
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_IDENTIFICATION.LOCAL'|translate}}
        </nz-form-label>

        <nz-form-control>
          <input nz-input class="primary-input" formControlName="city" id="city" />
          <nz-form-explain class="error"
            *ngIf="identificationForm.get('city')?.dirty && identificationForm.get('city').errors">
            {{ getInputError('city') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 12 }" [nzLg]="{ span: 8 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="birth_date" class="primary-input-label">
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_IDENTIFICATION.BIRTH_DATE'|translate}}
        </nz-form-label>

        <nz-form-control>
          <nz-date-picker style="width: 100%;" class="primary-datePicker" [nzDisabledDate]="disableEndDate"
            formControlName="birth_date" id="birth_date" [nzAllowClear]="false"></nz-date-picker>
          <nz-form-explain class="error"
            *ngIf="identificationForm.get('birth_date')?.dirty && identificationForm.get('birth_date').errors">
            {{ getInputError('birth_date') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="nationality" class="primary-input-label">
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_IDENTIFICATION.NATIONALITY'|translate}}
        </nz-form-label>

        <nz-form-control>
          <nz-select class="primary-select" formControlName="nationality" id="nationality" nzShowSearch>
            <nz-option *ngFor="let nationality of nationalityOptions" [nzLabel]="translate.currentLang === 'pt' ? nationality.value : nationality.translate"
              [nzValue]="nationality.value"></nz-option>
          </nz-select>
          <nz-form-explain class="error"
          *ngIf="identificationForm.get('nationality')?.dirty && identificationForm.get('nationality').errors">
          {{ getInputError('nationality') }}
        </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 24 }" [nzXXl]="{ span: 8 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="gender" class="primary-input-label">{{
          "PERSONAL_DATA_PAGE.GENDER" | translate
        }}</nz-form-label>

        <nz-form-control>
          <nz-radio-group class="primary-radio radio-group" formControlName="gender">
            <label
              *ngFor="let option of genderOptions"
              nz-radio
              [nzValue]="option.value"
              class="radio-line"
            ><span>{{ option.label | translate }}</span></label>
          </nz-radio-group>
        </nz-form-control>

        <nz-form-explain
          *ngIf="identificationForm.get('gender')?.dirty && identificationForm.get('gender').errors"
          class="error"
        >{{ "FORM_INPUTS.VALIDATIONS.REQUIRED" | translate }}</nz-form-explain>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="tin" class="primary-input-label">
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_IDENTIFICATION.VAT'|translate}}
        </nz-form-label>

        <nz-form-control>
          <input nz-input class="primary-input" mask="0*" formControlName="tin" id="tin" />
          <nz-form-explain class="error"
            *ngIf="identificationForm.get('tin')?.dirty && identificationForm.get('tin').errors">
            {{ getInputError('tin') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="identification" class="primary-input-label">
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_IDENTIFICATION.ID_NUMBER'|translate}}
        </nz-form-label>

        <nz-form-control>
          <input nz-input class="primary-input" formControlName="identification" id="identification" />
          <nz-form-explain class="error"
            *ngIf="identificationForm.get('identification')?.dirty && identificationForm.get('identification').errors">
            {{ getInputError('identification') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 16 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="iban" class="primary-input-label">IBAN</nz-form-label>

        <nz-form-control>
          <input nz-input class="primary-input" mask="SS00 0000 0000 0000 0000 0000 0" formControlName="iban"
            id="iban" />
          <nz-form-explain class="error"
            *ngIf="identificationForm.get('iban')?.dirty && identificationForm.get('iban').errors">
            {{ getInputError('iban') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="student_number" class="primary-input-label">
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_IDENTIFICATION.STUDENT_NUMBER'|translate}}
        </nz-form-label>

        <nz-form-control>
          <input nz-input class="primary-input" mask="0*" formControlName="student_number" id="student_number" />
          <nz-form-explain class="error"
            *ngIf="identificationForm.get('student_number')?.dirty && identificationForm.get('student_number').errors">
            {{ getInputError('student_number') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="academic_year" class="primary-input-label">
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_IDENTIFICATION.SCHOOL_YEAR'|translate}}
        </nz-form-label>

        <nz-form-control>
          <input nz-input class="primary-input" mask="0000-0000" [dropSpecialCharacters]="false" [showMaskTyped]="true"
            formControlName="academic_year" id="academic_year" />
        </nz-form-control>
        <nz-form-explain class="error"
          *ngIf="identificationForm.get('academic_year')?.dirty && identificationForm.get('academic_year').errors">
          {{ getInputError('academic_year') }}
        </nz-form-explain>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="course_year" class="primary-input-label">
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_IDENTIFICATION.ACADEMIC_YEAR'|translate}}
        </nz-form-label>

        <nz-form-control>
          <input nz-input class="primary-input" mask="0*" formControlName="course_year" id="course_year" />
          <nz-form-explain class="error"
            *ngIf="identificationForm.get('course_year')?.dirty && identificationForm.get('course_year').errors">
            {{ getInputError('course_year') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="school_id" class="primary-input-label">
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_IDENTIFICATION.SCHOOL'|translate}}
        </nz-form-label>

        <nz-form-control>
          <nz-select class="primary-select" (ngModelChange)="changeValue()" formControlName="school_id" id="school_id"
            [nzLoading]="loadingSchools" nzShowSearch>
            <nz-option *ngFor="let school of organicUnits" [nzLabel]="school.name" [nzValue]="school.id"></nz-option>
          </nz-select>
          <nz-form-explain class="error"
            *ngIf="identificationForm.get('school_id')?.dirty && identificationForm.get('school_id').errors">
            {{ getInputError('school_id') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="course_degree_id" class="primary-input-label">
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_IDENTIFICATION.LEVEL'|translate}}
        </nz-form-label>

        <nz-form-control>
          <nz-select class="primary-select" (ngModelChange)="changeValue()" [nzLoading]="loadingDegrees"
            formControlName="course_degree_id" id="course_degree_id" nzShowSearch>
            <nz-option *ngFor="let degree of degrees" [nzLabel]="degree.name" [nzValue]="degree.id"></nz-option>
          </nz-select>
          <nz-form-explain class="error"
            *ngIf="identificationForm.get('course_degree_id')?.dirty && identificationForm.get('course_degree_id').errors">
            {{ getInputError('course_degree_id') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="course_id" class="primary-input-label">
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_IDENTIFICATION.COURSE'|translate}}
        </nz-form-label>

        <nz-form-control>
          <nz-select class="primary-select" [nzLoading]="loadingCourses" formControlName="course_id" id="course_id"
            nzShowSearch>
            <nz-option *ngFor="let course of courses" [nzLabel]="course.name" [nzValue]="course.id"></nz-option>
          </nz-select>
          <nz-form-explain class="error"
            *ngIf="identificationForm.get('course_id')?.dirty && identificationForm.get('course_id').errors">
            {{ getInputError('course_id') }}
          </nz-form-explain>
        </nz-form-control>

      </nz-form-item>
    </div>
  </div>
</form>
