<div class="container">
  <div nz-row>
    <nz-spin [nzSpinning]="loadingEdit">
      <div nz-col [nzSpan]="24">
        <form nz-form [formGroup]="formGroupEquipments">

          <nz-form-label nzRequired>
            Nome
          </nz-form-label>
          <nz-form-control>
            <input type="text" nz-input formControlName="description">
          </nz-form-control>
          <nz-form-explain class="color-required" *ngIf="submitted && f.description.errors">
            Campo obrigatório
          </nz-form-explain>

          <div nz-row class="padding-bottom-5" style="padding-top: 20px;">
            <nz-form-label nzRequired>
              Ativo
            </nz-form-label>
          </div>
          <div nz-row>
            <nz-switch formControlName="active">
            </nz-switch>
            <nz-form-explain class="color-required" *ngIf="submitted && f.active.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </form>
      </div>
    </nz-spin>
  </div>

</div>
<div class="space">
  <button *ngIf="id != undefined" nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="loadingEdit" [disabled]="loadingEdit"
    (click)="id != undefined ? submitGroup(true) : submitGroup(false)" [nzType]="'primary'">{{id
    != undefined ? 'Editar' : 'Criar'}}</button>
</div>