<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title">Revisão</p>
    <p class="detail-text">Por favor, verifique cuidadosamente os dados introduzidos.</p>
  </div>
  <nz-divider></nz-divider>
</div>

<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
    <p class="sub-title">Propriedade</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
    <button nz-button class="button-back-action" nzType="default" (click)="changeValue(0)">
      <span>Editar</span>
    </button>
  </div>
</div>
<div nz-row>

  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step">Proprietário</p>
    <p class="text">{{ findOwners(steps[0].formValues.owner_id)}}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step">Título da habitação</p>
    <p *ngFor="let translation of steps[0].formValues.translations"><span
      class="language">{{findLanguages(translation.language_id)}}:</span> <span
      class="text">{{translation.name}}</span></p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step">Tipologia da casa</p>
    <p class="text">{{
      houseTypologies[steps[0].formValues.house_typology]?.label }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step">Número de quartos</p>
    <p class="text">{{ findTypology(steps[0].formValues.typology_id) }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step">Piso</p>
    <p class="text">{{steps[0].formValues.floor}}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step">Espaço utilizável</p>
    <p class="text">{{
      usableSpaces[steps[0].formValues.usable_space]?.label }}</p>
  </div>
  <div nz-col *ngIf="usableSpaces[steps[0].formValues.usable_space]?.value == 'SHARED_ROOM'" [nzXs]="24" [nzSm]="24"
    [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step">Número de quartos a alugar</p>
    <p class="text">{{steps[0].formValues.rooms.length}}</p>
  </div>
  <div nz-col *ngIf="usableSpaces[steps[0].formValues.usable_space]?.value == 'WHOLE_HOUSE'" [nzXs]="24" [nzSm]="24"
    [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step">Área</p>
    <p class="text">{{steps[0].formValues.area}}m²</p>
  </div>
  <div nz-col *ngIf="usableSpaces[steps[0].formValues.usable_space]?.value == 'WHOLE_HOUSE'" [nzXs]="24" [nzSm]="24"
    [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step">Preço</p>
    <p class="text">{{steps[0].formValues.price}}€</p>
  </div>
  <div nz-col *ngIf="usableSpaces[steps[0].formValues.usable_space]?.value == 'WHOLE_HOUSE'" [nzXs]="24" [nzSm]="24"
    [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step">Descrição</p>
    <p *ngFor="let translation of steps[0].formValues.translations"><span
        class="language">{{findLanguages(translation.language_id)}}:</span> <span
        class="text">{{translation.description}}</span></p>
  </div>
  <div nz-col *ngIf="usableSpaces[steps[0].formValues.usable_space]?.value == 'SHARED_ROOM'" [nzXs]="24" [nzSm]="24"
    [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <div *ngFor="let room of steps[0].formValues.rooms; let i = index">
      <div nz-row>
        <p class="text" style="padding-top: 10px;font-size: 15px;">Quarto - {{i + 1}}</p>
      </div>
      <div nz-row>
        <p class="title-step">Área</p>
        <p class="text">{{room.area}}m²</p>
      </div>
      <div nz-row>
        <p class="title-step">Preço</p>
        <p class="text">{{room.price}}€</p>
      </div>
      <div nz-row>
        <p class="title-step">Tipo</p>
        <p class="text">{{room.room_type == 'SHARED_ROOM' ? 'Partilhado' : 'Privado'}}</p>
      </div>
      <div nz-row>
        <p class="title-step">Casa de banho privada</p>
        <p class="text">
          <fi-sas-tag [value]="room.shared_wc"></fi-sas-tag>
        </p>
      </div>
      <div nz-row>
        <p class="title-step">Descrição</p>
        <p *ngFor="let translation of room.translations"><span
            class="language">{{findLanguages(translation.language_id)}}:</span><span class="text">
            {{translation.description}}</span></p>
      </div>

    </div>

  </div>
</div>
<nz-divider></nz-divider>
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
    <p class="sub-title">Localização</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
    <button nz-button class="button-back-action" nzType="default" (click)="changeValue(1)">
      <span>Editar</span>
    </button>
  </div>
</div>
<div nz-row>

  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step">Morada</p>
    <p class="text">{{ steps[1].formValues.address }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step">Porta/Andar</p>
    <p class="text">{{ steps[1].formValues.address_no }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step">Código postal</p>
    <p class="text">{{ steps[1].formValues.postal_code }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step">Localidade</p>
    <p class="text">{{ steps[1].formValues.city }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step">Latitude</p>
    <p class="text">{{steps[1].formValues.latitude ? steps[1].formValues.latitude : '-'}}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step">Longitude</p>
    <p class="text">{{steps[1].formValues.longitude ? steps[1].formValues.longitude : '-'}}</p>
  </div>
</div>

<nz-divider></nz-divider>
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
    <p class="sub-title">Comodidades</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
    <button nz-button class="button-back-action" nzType="default" (click)="changeValue(2)">
      <span>Editar</span>
    </button>
  </div>
</div>
<div nz-row>

  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="text" *ngFor="let amenities of amenitiesList">
      <li *ngIf="steps[2].formValues[amenities.value]">{{ amenities.label}}</li>
    </p>
  </div>
</div>
<nz-divider></nz-divider>
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
    <p class="sub-title">Despesas incluídas</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
    <button nz-button class="button-back-action" nzType="default" (click)="changeValue(3)">
      <span>Editar</span>
    </button>
  </div>
</div>
<div nz-row>

  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="text" *ngFor="let expenses of expensesList">
      <li *ngIf="steps[3].formValues[expenses.value]">{{ expenses.label}}</li>
    </p>
  </div>
</div>
<nz-divider></nz-divider>
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
    <p class="sub-title">Requisitos</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
    <button nz-button class="button-back-action" nzType="default" (click)="changeValue(4)">
      <span>Editar</span>
    </button>
  </div>
</div>
<div nz-row>

  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step">Género</p>
    <p class="text">{{ genders[steps[4].formValues.gender]?.label }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step">Ocupação</p>
    <p class="text">{{ occupations[steps[4].formValues.occupation]?.label }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step">Permite animais?</p>
    <p class="text">
      <fi-sas-tag [value]="steps[4].formValues.allows_pets"></fi-sas-tag>
    </p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step">Permite fumadores?</p>
    <p class="text">
      <fi-sas-tag [value]="steps[4].formValues.allows_smokers"></fi-sas-tag>
    </p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step">Data de início</p>
    <p class="text">{{steps[4].formValues.start_date | date:'dd/MM/yyyy'}}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step">Data de fim</p>
    <p class="text">{{steps[4].formValues.end_date | date:'dd/MM/yyyy'}}</p>
  </div>
</div>
<nz-divider></nz-divider>
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
    <p class="sub-title">Galeria</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
    <button nz-button class="button-back-action" nzType="default" (click)="changeValue(5)">
      <span>Editar</span>
    </button>
  </div>
</div>
<div *ngIf="steps[5].formValues.medias.length > 0">
  <nz-spin [nzSpinning]="loadingFiles">
    <div nz-row nzType="flex" [nzGutter]="6" *ngIf="!this.loadingFiles">
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="8" [nzXl]="6" [nzXXl]="4" class="gallery"
        *ngFor="let media of medias">
        <a target="_blank" [href]="media?.url">
          <img [src]="media?.url">
        </a>
      </div>
    </div>
  </nz-spin>
</div>