nz-descriptions {
  margin-bottom: 20px;
}

.gallery {
  img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    margin-bottom: 6px;
  }
}

.language {
  font-weight: bold;
}


.sub-title {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: bold;
}

.title-step {
  font-size: 13px;
  color: grey;
}

.detail-text {
  font-size: 13px;
  color: grey;
  margin-bottom: 5px;
  margin-top: -5px;
}

.text {
  color: Black;
  font-size: 13px;
  font-weight: bold;
  margin-top: -10px;
  font-size: 13px;
}

.button-back-action {
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
  color: var(--primary-color);
  border-radius: 21px;
  border: solid 2px var(--primary-color);
}

.text-right {
  text-align: right;
}
