
<nz-tabset nzTabPosition="left">
  <nz-tab nzTitle="Disponibilidade Almoço">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4">
        <div nz-row class="title">
          Segunda-Feira
        </div>
        <div nz-row>
          <fi-sas-tag [value]="data?.disponibility_lunch?.monday"></fi-sas-tag>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4">
        <div nz-row class="title">
          Terça-Feira
        </div>
        <div nz-row>
          <fi-sas-tag [value]="data?.disponibility_lunch?.tuesday"></fi-sas-tag>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4">
        <div nz-row class="title">
          Quarta-Feira
        </div>
        <div nz-row>
          <fi-sas-tag [value]="data?.disponibility_lunch?.wednesday"></fi-sas-tag>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4">
        <div nz-row class="title">
          Quinta-Feira
        </div>
        <div nz-row>
          <fi-sas-tag [value]="data?.disponibility_lunch?.thursday"></fi-sas-tag>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4">
        <div nz-row class="title">
          Sexta-Feira
        </div>
        <div nz-row>
          <fi-sas-tag [value]="data?.disponibility_lunch?.friday"></fi-sas-tag>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4">
        <div nz-row class="title">
          Sábado
        </div>
        <div nz-row>
          <fi-sas-tag [value]="data?.disponibility_lunch?.saturday"></fi-sas-tag>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4">
        <div nz-row class="title"> 
          Domingo
        </div>
        <div nz-row>
          <fi-sas-tag [value]="data?.disponibility_lunch?.sunday"></fi-sas-tag>
        </div>
      </div>
    </div>
    <div nz-row tyle="margin-top: 16px;">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="5" class="title">
          Data de Início
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="detail-field">
        {{data?.disponibility_lunch?.begin_date ? (data?.disponibility_lunch?.begin_date | date: 'dd/MM/yyyy') : '-'}}
      </div>
    </div>
    <div nz-row style="margin-top: 16px;" >
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="5" class="title">
        Data da Fim
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="detail-field">
        {{data?.disponibility_lunch?.end_date ? (data?.disponibility_lunch?.end_date | date: 'dd/MM/yyyy') : '-'}}
      </div>
    </div>
    <div nz-row style="margin-top: 16px;">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="5" class="title">
        Hora máxima para anulação
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="detail-field">
        {{annulment_maximum_hour_lunch ? (annulment_maximum_hour_lunch | date: 'HH:mm') + 'h' : '-'}}
      </div>
    </div>
    <div nz-row style="margin-top: 16px;">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="5" class="title">
        Hora mínima
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="detail-field">
        {{minimum_hour_lunch ? (minimum_hour_lunch | date: 'HH:mm') + 'h' : '-'}}
      </div>
    </div>
    <div nz-row style="margin-top: 16px;">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="5" class="title">
        Hora máxima
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="detail-field">
        {{maximum_hour_lunch ? (maximum_hour_lunch | date: 'HH:mm') + 'h' : '-'}}
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Disponibilidade Jantar">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4">
        <div nz-row class="title">
          Segunda-Feira
        </div>
        <div nz-row>
          <fi-sas-tag [value]="data?.disponibility_dinner?.monday"></fi-sas-tag>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4">
        <div nz-row class="title">
          Terça-Feira
        </div>
        <div nz-row>
          <fi-sas-tag [value]="data?.disponibility_dinner?.tuesday"></fi-sas-tag>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4">
        <div nz-row class="title">
          Quarta-Feira
        </div>
        <div nz-row>
          <fi-sas-tag [value]="data?.disponibility_dinner?.wednesday"></fi-sas-tag>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4">
        <div nz-row class="title">
          Quinta-Feira
        </div>
        <div nz-row>
          <fi-sas-tag [value]="data?.disponibility_dinner?.thursday"></fi-sas-tag>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4">
        <div nz-row class="title">
          Sexta-Feira
        </div>
        <div nz-row>
          <fi-sas-tag [value]="data?.disponibility_dinner?.friday"></fi-sas-tag>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4">
        <div nz-row class="title">
          Sábado
        </div>
        <div nz-row>
          <fi-sas-tag [value]="data?.disponibility_dinner?.saturday"></fi-sas-tag>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4">
        <div nz-row class="title"> 
          Domingo
        </div>
        <div nz-row>
          <fi-sas-tag [value]="data?.disponibility_dinner?.sunday"></fi-sas-tag>
        </div>
      </div>
    </div>
    <div nz-row tyle="margin-top: 16px;">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="5" class="title">
          Data de Início
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="detail-field">
        {{data?.disponibility_dinner?.begin_date ? (data?.disponibility_dinner?.begin_date | date: 'dd/MM/yyyy') : '-'}}
      </div>
    </div>
    <div nz-row style="margin-top: 16px;" >
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="5" class="title">
        Data da Fim
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="detail-field">
        {{data?.disponibility_dinner?.end_date ? (data?.disponibility_dinner?.end_date | date: 'dd/MM/yyyy') : '-'}}
      </div>
    </div>
    <div nz-row style="margin-top: 16px;">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="5" class="title">
        Hora máxima para anulação
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="detail-field">
        {{annulment_maximum_hour_dinner ? (annulment_maximum_hour_dinner | date: 'HH:mm') + 'h' : '-'}}
      </div>
    </div>
    <div nz-row style="margin-top: 16px;">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="5" class="title">
        Hora mínima
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="detail-field">
        {{minimum_hour_dinner ? (minimum_hour_dinner | date: 'HH:mm') + 'h' : '-'}}
      </div>
    </div>
    <div nz-row style="margin-top: 16px;">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="5" class="title">
        Hora máxima
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="detail-field">
        {{maximum_hour_dinner ? (maximum_hour_dinner | date: 'HH:mm') + 'h' : '-'}}
      </div>
    </div>
  </nz-tab>
  
</nz-tabset>