<nz-modal
  [(nzVisible)]="isPaymentMonthModalVisible"
  [nzTitle]="'Registrar pagamento'"
  [nzWidth]="500"
  [nzFooter]="modalFooterPayments"
  (nzOnCancel)="handlePaymentMonthCancel()"
>
  <div class = "payment-month-row" nz-row nzType="flex">
    <div nz-col nzSpan="4">
      Ano e mês:
    </div>
    <div nz-col nzSpan="20">
      <nz-month-picker
      [(ngModel)]="date"
      (ngModelChange)="onChangeDate($event)"
      nzPlaceHolder="Selecione mês e ano"
    ></nz-month-picker>
    </div>
  </div>
  <div class = "payment-month-row" nz-row nzType="flex">
    <div nz-col nzSpan="4">
      Valor:
    </div>
    <div nz-col nzSpan="8">
      <nz-input-group  nzAddOnAfter="€">
        <input type="number" nz-input [(ngModel)]="value" />
      </nz-input-group>
    </div>
  </div>
  <div class = "payment-month-row" nz-row nzType="flex">
    <div nz-col nzSpan="4">
      Pago:
    </div>
    <div nz-col nzSpan="20">
      <nz-switch
      [(ngModel)]="paid"
      [nzCheckedChildren]="checkedTemplate"
      [nzUnCheckedChildren]="unCheckedTemplate"
    ></nz-switch>
    <ng-template #checkedTemplate><i nz-icon type="check"></i></ng-template>
    <ng-template #unCheckedTemplate><i nz-icon type="close"></i></ng-template>
    </div>
  </div>

  <ng-template #modalFooterPayments>
    <button
      nz-button
      nzType="primary"
      (click)="handlePaymentMonthOk()"
      [ngClass]="{ disabled: disabledPaymentMonthButton() }"
      [nzLoading]="paymentMonthModalLoading"
    >
      Registar o pagamento
    </button>
  </ng-template>
</nz-modal>
