@import 'theme';


.top {
  padding-top: 25px;
}

.title-apresentation {
  font-size: 13px;
  font-weight: bold;
  color: black;
  margin-top: 10px;
  line-height: initial;
}

:host::ng-deep {
  nz-empty {
    width: 100%;
    height: 100%;
  }

  .ownerprops {
    @media screen and (max-width: 576px) {
      padding: 16px;
    }

    &__header {
      @media screen and (min-width: 576px) {
        padding-top: 24px;
      }

      @media screen and (max-width: 576px) {
        padding: 16px;
      }
    }

    &__footer {
      @media screen and (max-width: 576px) {
        padding: 16px;
      }

      padding-top: 18px;
      padding-bottom: 63px;
    }

    &__body {
      margin-top: 24px;
      margin-bottom: 24px;
    }

    &__cont {
      background: #ffffff;
      padding: 80px;
      @media screen and (max-width: 600px) {
        padding-left: 43px;
        padding-right: 60px;
      }
    }

    &__title {
      font-size: 30px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: normal;
      color: #333333;
    }

    &__subtitle {
      margin-top: -10px;
      font-size: 26px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: -0.72px;
      color: #5c5c5c;
      margin-bottom: 20px;
    }
  }
}

.list-residence {
  &__body {
    margin-top: 40px;
    //padding-top: 24px;

    @media screen and (max-width: 576px) {
      padding: 16px;
    }
  }

  &__list {
    &__item {
      padding-bottom: 24px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      nz-card {
        border-radius: 8px;
        width: 100% !important;
        border: 1px solid var(--primary-1);
        &:hover {
          border-color: var(--primary-color);
          background-color: var(--primary-1);
        }

        nz-carousel {
          border-radius: 8px 8px 0px 0px;

          [nz-carousel-content] {
            //padding: 18px;
            text-align: center;
            height: 240px;
            line-height: 160px;
            background: #364d79;
            color: #fff;
            overflow: hidden;
          }
        }
      }

      &__info {
        margin-top: 15px;
        margin-bottom: 6px;
        font-size: 11px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 14px;
        letter-spacing: normal;
        color: #666666;
      }

      &__detail {
        margin: 0px;
        margin-bottom: 10px;
        font-size: 11px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        color: #979797;
      }
      &__title {
        margin: 0px;
        margin-bottom: 16px;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.23;
        letter-spacing: normal;
        color: #222222;
      }

      &__city {
        margin-top: 45px;
        margin-bottom: 8px;
        font-size: 11px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        color: #979797;
      }
    }
  }
}

.list-residence {
  &__body {
    margin-top: 40px;
    //padding-top: 24px;

    @media screen and (max-width: 576px) {
      padding: 16px;
    }
  }

  &__list {
    &__item {
      padding-bottom: 24px;

      nz-card {
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        margin-bottom: 10px;
        width: 100% !important;
        box-shadow: 0 2px 4px 0 rgba(223, 223, 223, 0.5);

        nz-carousel {
          border-radius: 8px 8px 0px 0px;

          [nz-carousel-content] {
            //padding: 18px;
            text-align: center;
            height: 130px;
            line-height: 130px;
            background: #293449;
            color: #fff;
            overflow: hidden;
          }
        }
      }

      &__info {
        margin:0px;
        margin-bottom: 6px;
        font-size: small;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.8;
        letter-spacing: normal;
        color: unset;
      }

      &__name {
        margin-bottom: 8px;
        font-size: calc(100% + 2px);
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.23;
        letter-spacing: normal;
        color: unset;
      }

      &__price {
        margin: 0px;
        font-size: 13px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
      }

      &__btns {
        width: 22px;
        height: 49px;
        position: absolute;
        top: 0;
        right: -20px;
        display: flex;
        flex-direction: column;

        &__delete {
          margin-left: 4px;
          width: 24px;
          height: 24px;
          background: var(--primary-4);
          color: white;
          border: 1px solid rgba(223, 223, 223, 0.5);
          box-shadow: 0 2px 4px 0 rgba(223, 223, 223, 0.5);
          border-top-right-radius: 8px;

          &__text {
            margin-left: 6px;
            font-size: 14px;
            font-weight: 600;
          }
        }

        &__delete:hover {
          color: var(--primary-4);
          background: white;
        }

        &__edit {
          margin-left: 4px;
          margin-top: 1px;
          width: 24px;
          height: 24px;
          color: var(--primary-4);
          background: rgba(255, 255, 255);
          border: 1px solid rgba(223, 223, 223, 0.5);
          box-shadow: 0 2px 4px 0 rgba(223, 223, 223, 0.5);
          border-bottom-right-radius: 8px;

          &__text {
            margin-left: 3px;
            font-size: 14px;
            font-weight: 600;
          }
        }

        &__edit:hover {
          color: white;
          background: var(--primary-4);
        }
      }
    }
  }

  &--pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}

.approved {
  background-color: #0d69dd;
}

.pending {
  background-color: #f8ca00;
}

.rejected {
  background-color: #D0021B;
}

.expired {
  background-color: #ff8000;
}

.published {
  background-color: #9dbbae;
}


.tab-status {
  cursor: context-menu;
  border: none;
  color: white;
}
