<!--<div nz-row>

  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>

  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20" class="top">

    <app-button translate="MISC.RETURN" [routerLink]="['/privateaccommodation', 'list-host']" [leftIcon]="'left'"
      [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}" type="tertiary"></app-button>
  </div>

  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>

</div>-->

<div nz-row nzType="flex" class="ownerprops__body">

  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
    <div nz-row>
      <div nz-col [nzSm]="12" [nzMd]="12" [nzXs]="24">
        <h2 class="title-top-page"> {{ 'PRIVATEACCOMMODATION.OWNER_PROPERTIES.TITLE' | translate }}</h2>
        <p class="sub-title-top-page">{{ 'PRIVATEACCOMMODATION.OWNER_PROPERTIES.SUBTITLE' | translate }}</p>
      </div>

      <div nz-col [nzSm]="12" [nzMd]="12" [nzXs]="24" style="text-align:right; padding-bottom: 10px;">
        <app-button [routerLink]="['/privateaccommodation', 'form-property']" type="tertiary"
          [buttonStyle]="{ 'font-size': '12px', 'line-height': '24px' }"
          translate="PRIVATEACCOMMODATION.OWNER_PROPERTIES.BTN_ADD"></app-button>

      </div>
    </div>



    <div class="ownerprops__cont">


      <div *ngIf="loadingResidences">
        <nz-spin [nzSpinning]="loadingResidences" [nzSize]="'large'"></nz-spin>
      </div>

      <div nz-row class="list-residence__list" [nzGutter]="24">
        <div nz-col class="list-residence__list__item" nzXs="24" nzLg="11" nzXl="6" nzXXl="4"
          *ngFor="let item of listProperties" style="margin-left: 10px; margin-right: 10px">
          <nz-card nzHoverable [nzBodyStyle]="{
              'margin-top': '-22px',
              padding: '16px',
              height: '230px'
            }">
            <div style="height: 130px" [routerLink]="['/privateaccommodation', 'list-detail', item.id]"
              (click)="detail()">
              <p class="title-apresentation" style="margin-top: 12px">
                {{
                ((item?.translations | languageChange)?.name)
                }}
              </p>
              <p class="list-residence__list__item__info">
                {{ item.house_typology | translate }}
              </p>
              <p class="list-residence__list__item__name">{{ item.address }} {{ item.address_no }}</p>
              <p class="list-residence__list__item__info">{{ item.city }}</p>
              <p class="list-residence__list__item__price" *ngIf="item.usable_space == 'WHOLE_HOUSE'">
                {{ item.price }}{{ 'PRIVATEACCOMMODATION.MONTH_EUR' | translate }}
              </p>
              <p *ngIf="item.usable_space == 'SHARED_ROOM'" class="list-residence__list__item__price">
                {{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.PRICEROOM' | translate }}:
                {{ item?.rooms[0].price }}{{ 'PRIVATEACCOMMODATION.MONTH_EUR' | translate }}
              </p>
              <br />

              <div nz-row>
                <div nz-col nzXs="24" nzMd="12">

                  <nz-tag class="tab-status cursor-cont" [ngClass]="checkTagStatusColor(item.status == 'Pending' ? 'pending' : item.status == 'Approved'
                  ? 'approved' : item.status == 'Rejected' ? 'rejected' : item.status == 'Published' ? 'published' : 'expired')">
                    {{
                      item.status == 'Pending'
                      ? ('PRIVATEACCOMMODATION.OWNER_PROPERTIES.STATUS.PENDING' | translate)
                      : item.status == 'Approved'
                      ? ('PRIVATEACCOMMODATION.OWNER_PROPERTIES.STATUS.APPROVED' | translate)
                      : item.status == 'Rejected'
                      ? ('PRIVATEACCOMMODATION.OWNER_PROPERTIES.STATUS.REJECTED' | translate)
                      : item.status == 'Published'
                      ? ('PRIVATEACCOMMODATION.OWNER_PROPERTIES.STATUS.PUBLISHED' | translate)
                      : ('PRIVATEACCOMMODATION.OWNER_PROPERTIES.STATUS.EXPIRED' | translate)
                      }}
                  </nz-tag>

                  <p class="status" [ngClass]="{
                      status__approved: item.status == 'Approved',
                      status__pending: item.status == 'Pending',
                      status__rejected: item.status == 'Rejected',
                      status__expired: item.status == 'Expired',
                      status__published: item.status == 'Published'
                    }">
                    
                  </p>
                </div>
                <div nz-col nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12"></div>
              </div>
            </div>
            <div class="list-residence__list__item__btns">
              <div class="list-residence__list__item__btns__delete">
                <p class="list-residence__list__item__btns__delete__text" (click)="confirm_delete(item.id)">x</p>
              </div>
              <div class="list-residence__list__item__btns__edit">
                <p class="list-residence__list__item__btns__edit__text" (click)="edit(item.id)">
                  <i nz-icon nzType="edit" nzTheme="outline"></i>
                </p>
              </div>
            </div>
          </nz-card>
        </div>
      </div>
      <nz-empty *ngIf="listProperties.length === 0"></nz-empty>
      <div *ngIf="listProperties.length>0" class="list-residence--pagination">
        <nz-pagination (nzPageIndexChange)="changePageIndex($event)" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize"
          [nzShowSizeChanger]="false" [nzTotal]="totalProperties" nzShowSizeChanger></nz-pagination>
      </div>
    </div>
  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>
</div>