<StackLayout class="change-languages">
  <fi-action-bar
    [actionBarType]="3"
    actionBarTitle="{{ 'CHANGE-LANGUAGES.TITLE' | translate }}"
  ></fi-action-bar>

  <ScrollView row="0">
    <WrapLayout orientation="horizontal">
      <StackLayout class="change-languages__ul">
        <StackLayout *ngFor="let language of languages">
          <DockLayout
            stretchLastChild="true"
            width="100%"
            class="fisas__btn fisas__btn--padding"
            [ngClass]="{
              'fisas__btn--selected': languageAcronym == language.acronym
            }"
            (tap)="selectLanguage(language.acronym, language.name)"
          >
            <Label
              class="fisas__p--label"
              dock="left"
              [text]="language.name"
            ></Label>
          </DockLayout>
        </StackLayout>
      </StackLayout>
    </WrapLayout>
  </ScrollView>
</StackLayout>
