<div nz-row nzType="flex" nzAlign="middle" style="height: 400px;">
  <span nz-col nzXs="0" nzSm="6" nzSm="12" class="lock-icon">
    <span nz-row nzType="flex" nzJustify="center" nzAlign="middle">
      <i nz-icon type="lock"></i>
    </span>
  </span>
  <span nz-col nzSpan="12" class="info-unauthorized">
    <h2>{{ 'UNAUTHORIZED.UNAUTHORIZED' | translate }}</h2>
    <nz-divider></nz-divider>
    <p>{{ 'UNAUTHORIZED.MESSAGE' | translate }}</p>
    <button nz-button nzType="primary" (click)="back()">{{ 'MISC.RETURN' | translate }}</button>
  </span>
</div>
