@import 'theme';

.top {
  padding-top: 25px;
}

:host::ng-deep {

  .card {
    padding: 40px 52px 24px 52px;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: #ffffff;

    @media (max-width: 600px) {
      padding: 20px 20px 20px 20px;
    }
  }

  .appointment-information {
    background-color: #f3f3f3;
    
    @media screen and (min-width: 576px) {
      padding-top: 25px;
    }

    @media screen and (max-width: 576px) {
      padding: 16px;
      padding-top: 25px;
    }
  }

  .content_appointment_status {
    margin-top: 24px;
  }
  .content_appointment_resume {
    margin-bottom: 64px;
  }

  .appointment_status {
    &__tag {
      margin-bottom: 16px;
      nz-tag {
        width: auto;
        height: 18px;
        font-size: 11px;
        font-weight: bold;
        line-height: 1.78;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ffffff;
        border: 0;
        cursor: context-menu;
      }
    }
    &__professional {
      font-size: 15px;
      font-weight: 500;
      line-height: 1.6;
      color: #222222;
      margin-bottom: 16px;
    }
    &__date_hour {
      font-size: 15px;
      font-weight: 500;
      line-height: 1.6;
      color: #222222;
      margin-bottom: 16px;
    }
    &__place {
      font-size: 15px;
      font-weight: 500;
      line-height: 1.6;
      color: #222222;
      margin-bottom: 16px;
    }
  }
}


.title {
  color: var(--primary-color);
  font-size: 25px;
  font-weight: bold;
}