
<div nz-row class="appointment-information">
    <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>
    <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12">
        <app-button translate="MISC.RETURN" [leftIcon]="'left'" type="tertiary" (click)="back()"></app-button>
    </div>
    <div nz-col [nzSm]="2" [nzXs]="0"></div>
</div>

<nz-spin [nzSpinning]="loading">  
    <div nz-row class="content_appointment_status" *ngIf="appointment">
        <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>
        <div nz-col class="appointment_status card" [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12">
            <div nz-row >
                <div nz-col>
                <nz-tag class="tab-status cursor-cont" [nzColor]="(configStatus | filterStatusConfig: appointment.status.toString()).color">
                    <label>{{ 'HEALTH.APPOINTMENTS_TAB.STATUS.' + appointment.status.toString().toUpperCase() | translate }}</label>
                </nz-tag>
                </div>
            </div>
            <div nz-row class="title-resume">
                <div nz-col>
                {{ (appointment.specialty.translations | languageChange).name }}
                </div>
            </div>
            <div nz-row class="appointment_status__professional">
                <div nz-col>
                    <span class="sub-title-resume">{{ 'HEALTH.APPOINTMENTS_TAB.TABLE.LABEL_DOCTOR' | translate }}: </span>
                    <span class="desc-resume">{{ appointment.doctor.user.name }}</span>
                </div>
            </div>
    
            <div nz-row class="appointment_status__date_hour">
                <div nz-col [nzSpan]="10">
                    <span class="sub-title-resume">{{ 'HEALTH.APPOINTMENT_FORM.DAY' | translate }}: </span>
                    <span class="desc-resume">{{ appointment.date | date: "dd/MM/yyyy"}}</span>
                </div>
                <div nz-col>
                    <span class="sub-title-resume">{{ 'HEALTH.APPOINTMENT_FORM.START_HOUR' | translate }}: </span>
                    <span class="desc-resume">{{ appointment.start_hour | utcHourConvert  }}</span>
                </div>
            </div>
            <div nz-row class="appointment_status__place">
                <div nz-col>
                    <span class="sub-title-resume">{{ 'HEALTH.APPOINTMENTS_TAB.TABLE.LABEL_PLACE' | translate }}: </span>
                    <span class="desc-resume">{{ appointment.specialty.place.name }}</span>
                </div>
            </div>
        </div>
        <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>
    </div>

    <div nz-row class="content_appointment_resume" *ngIf="appointment">
        <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>

        <div nz-col class="card" [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12"[nzXXl]="12">
            <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="detail-text">{{'HEALTH.APPOINTMENT_FORM.APPOINTMENT_SUBMITTED' | translate}}</p>
                </div>
                <nz-divider></nz-divider>
            </div>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
                    {{ 'ACCOMMODATION.APPLICATIONS.STEP_ONE.PERSONAL_DATA' | translate }}
                </div>
            </div>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.NAME" | translate }}</p>
                    <p class="desc-resume">{{ appointment.name }}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.BIRTH_DATE" | translate }}</p>
                    <p class="desc-resume">{{ appointment.birth_date ?  appointment.birth_date : "---"}}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.NATIONALITY" | translate }}</p>
                    <p class="desc-resume">{{ appointment.nationality ?  appointment.nationality : "---"}}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.NIF" | translate }}</p>
                    <p class="desc-resume">{{ appointment.nif ?  appointment.nif : "---"}}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.DOCUMENT_TYPE" | translate }}</p>
                    <p class="desc-resume">{{ appointment.document_type_id ?  (findDocumentType(appointment.document_type_id) | languageChange).description  : "---" }}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.IDENTIFICATION_NUMBER" | translate }}</p>
                    <p class="desc-resume">{{ appointment.identification_number ? appointment.identification_number : "---" }}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.ADDRESS" | translate }}</p>
                    <p class="desc-resume">{{ appointment.address ? appointment.address : "---" }}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.POSTAL_CODE" | translate }}</p>
                    <p class="desc-resume">{{ appointment.postal_code ? appointment.postal_code : "---" }}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.CITY" | translate }}</p>
                    <p class="desc-resume">{{ appointment.city ? appointment.city : "---" }}</p>
                </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
                    {{ 'HEALTH.APPOINTMENT_FORM.CONTACTS' | translate }}
                </div>  
            </div>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.TELEPHONE_NUMBER" | translate }}</p>
                    <p class="desc-resume">{{ appointment.telephone_number ? appointment.telephone_number : "---" }}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.MOBILE_PHONE_NUMBER" | translate }}</p>
                    <p class="desc-resume">{{ appointment.mobile_phone_number ? appointment.mobile_phone_number : "---" }}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.EMAIL" | translate }}</p>
                    <p class="desc-resume">{{ appointment.email ? appointment.email : "---" }}</p>
                </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
                    {{ "HEALTH.APPOINTMENT_FORM.APPOINTMENT_LABEL" | translate }}
                </div>  
            </div>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.SPECIALTY_SERVICE" | translate }}</p>
                    <p class="desc-resume">{{ (appointment.specialty?.translations | languageChange)?.name }}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.PROFESSIONAL" | translate }}</p>
                    <p class="desc-resume">{{ appointment.doctor ? appointment.doctor.user.name : "---" }}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENTS_TAB.TABLE.LABEL_PLACE" | translate }}</p>
                    <p class="desc-resume">{{ appointment.specialty ? appointment.specialty.place.name : "---" }}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.DAY" | translate }}</p>
                    <p class="desc-resume">{{ appointment.date | date: "dd/MM/yyyy"}}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.START_HOUR" | translate }} - {{ "HEALTH.APPOINTMENT_FORM.END_HOUR" | translate }}</p>
                    <p class="desc-resume">{{ appointment.start_hour | utcHourConvert  }} - {{ appointment.end_hour | utcHourConvert  }}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="sub-title-resume">{{ "HEALTH.SPECIALTY.TECHNICAL_DATA.LABEL_AVARAGE_ATTENDANCE_TIME" | translate }}</p>
                    <p class="desc-resume">{{  appointment.specialty ? appointment.specialty.avarage_time + " min" : "---"  }}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.ALLOW_HISTORIC" | translate }}</p>
                    <p class="desc-resume">{{ appointment.allow_historic ? ("HEALTH.APPOINTMENT_FORM.YES" | translate) : ("HEALTH.APPOINTMENT_FORM.NO" | translate) }}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.OBSERVATIONS" | translate }}</p>
                    <p class="desc-resume">{{ appointment.notes ? appointment.notes : "---" }}</p>
                </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
                    {{ "HEALTH.APPOINTMENT_FORM.PAYMENT_INFORMATION_LABEL" | translate }}
                </div>  
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.PAYMENT_TYPE" | translate }}</p>
                <p class="desc-resume">{{ appointment.payment_type ? appointment.payment_type : "---" }}</p>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.TARIFFS" | translate }}</p>
                <p class="desc-resume">{{ appointment.tariff_id ? findTariff(appointment.tariff_id): "---" }}</p>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.PRICE" | translate }}</p>
                <p class="desc-resume">{{ appointment.price ? getAppointmentFinalPrice(appointment.tariff_id) : "---" }}</p>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <p class="sub-title-resume">{{ "HEALTH.SPECIALTY.TECHNICAL_DATA.LABEL_VAT" | translate }}</p>
                <p class="desc-resume">{{ appointment.tariff_id ? findTax(appointment.tariff_id) : "---" }}</p>
            </div>
        </div>
        <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>
    </div>
</nz-spin>