<div class="content">
  <nz-spin [nzSpinning]="loading">
    <form nz-form [formGroup]="residenceGroup">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="name">Nome</nz-form-label>
        <nz-form-control nzErrorTip="Campo obrigatório">
          <input nz-input formControlName="name" id="name">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="address">Morada</nz-form-label>
        <nz-form-control nzErrorTip="Campo obrigatório">
          <input nz-input formControlName="address" id="address">
        </nz-form-control>
      </nz-form-item>
      <div nz-row nzGutter="24">
        <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="postal_code">Código postal</nz-form-label>
            <nz-form-control nzErrorTip="Campo obrigatório e com o formato 0000-000">
              <input nz-input formControlName="postal_code" id="postal_code">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="city">Cidade</nz-form-label>
            <nz-form-control nzErrorTip="Campo obrigatório">
              <input nz-input formControlName="city" id="city">
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <nz-divider></nz-divider>
      <div nz-row nzGutter="24">
        <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="email">Email</nz-form-label>
            <nz-form-control nzErrorTip="Email inválido">
              <input nz-input formControlName="email" id="email">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="phone_1">Contacto 1</nz-form-label>
            <nz-form-control nzErrorTip="Campo obrigatório">
              <input nz-input formControlName="phone_1" id="phone_1">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="phone_2">Contacto 2</nz-form-label>
            <nz-form-control nzErrorTip="Campo obrigatório">
              <input nz-input formControlName="phone_2" id="phone_2">
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <nz-divider></nz-divider>
      <div nz-row nzGutter="24">
        <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="building_id">Edifício (infrasestruturas)</nz-form-label>
            <nz-form-control nzErrorTip="Campo obrigatório">
              <nz-select formControlName="building_id" name="building_id" [nzLoading]="buildingsLoading">
                <nz-option *ngFor="let building of buildings" [nzLabel]="building.name" [nzValue]="building.id"
                  [nzDisabled]="!building.active">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
          <nz-form-item>
            <nz-form-label nzFor="typology_ids">Tipologias</nz-form-label>
            <nz-form-control nzErrorTip="Campo obrigatório">
              <nz-select formControlName="typology_ids" name="typology_ids" nzMode="multiple"
                [nzLoading]="typologiesLoading">
                <nz-option *ngFor="let typology of typologies" [nzLabel]="(typology.translations | translation).name"
                  [nzValue]="typology.id" [nzDisabled]="!typology.active">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzGutter="24">
        <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
          <nz-form-item>
            <nz-form-label nzFor="service_ids">Serviços</nz-form-label>
            <nz-form-control nzErrorTip="Campo obrigatório">
              <nz-select formControlName="service_ids" name="service_ids" nzMode="multiple"
                [nzLoading]="servicesLoading">
                <nz-option *ngFor="let service of services" [nzLabel]="(service.translations | translation).name"
                  [nzValue]="service.id" [nzDisabled]="!service.active">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <nz-form-item>
        <nz-form-label nzFor="residence_responsible_ids">Responsáveis</nz-form-label>
        <nz-form-control nzErrorTip="Campo obrigatório">
          <nz-select formControlName="residence_responsible_ids" name="residence_responsible_ids" nzMode="multiple"
            [nzServerSearch]="true" (nzOnSearch)="onSearchUsers($event)">
            <nz-option *ngFor="let user of users" [nzLabel]="user.name" [nzValue]="user.id" [nzDisabled]="!user.active">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="wing_responsible_ids">Responsáveis de Ala</nz-form-label>
        <nz-form-control nzErrorTip="Campo obrigatório">
          <nz-select formControlName="wing_responsible_ids" name="wing_responsible_ids" nzMode="multiple"
            [nzServerSearch]="true" (nzOnSearch)="onSearchUsers($event)">
            <nz-option *ngFor="let user of users" [nzLabel]="user.name" [nzValue]="user.id" [nzDisabled]="!user.active">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="kitchen_responsible_ids">Responsáveis cozinha</nz-form-label>
        <nz-form-control nzErrorTip="Campo obrigatório">
          <nz-select formControlName="kitchen_responsible_ids" name="kitchen_responsible_ids" nzMode="multiple"
            [nzServerSearch]="true" (nzOnSearch)="onSearchUsers($event)">
            <nz-option *ngFor="let user of users" [nzLabel]="user.name" [nzValue]="user.id" [nzDisabled]="!user.active">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-divider></nz-divider>
      <div nz-row nzGutter="24" *ngIf="regimes.length > 0 || extras?.length > 0">
        <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }" *ngIf="regimes.length > 0">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="regime_ids">Regime</nz-form-label>
            <nz-form-control nzErrorTip="Campo obrigatório">
              <nz-select formControlName="regime_ids" name="regime_ids" nzMode="multiple" [nzLoading]="regimeLoading">
                <nz-option *ngFor="let regime of regimes" [nzLabel]="(regime?.translations | translation)?.name"
                  [nzValue]="regime.id">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }" *ngIf="extras?.length > 0">
          <nz-form-item>
            <nz-form-label nzFor="extra_ids">Extras</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="extra_ids" name="extra_ids" nzMode="multiple" [nzLoading]="extrasLoading">
                <nz-option *ngFor="let extra of extras" [nzLabel]="(extra?.translations | translation)?.name"
                  [nzValue]="extra.id">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <nz-divider></nz-divider>
      </div>
      <div nz-row nzGutter="24">
        <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="regulation_file_id">Regulamento</nz-form-label>
            <nz-form-control nzErrorTip="Campo obrigatório">
              <fi-sas-upload-file formControlName="regulation_file_id" name="regulation_file_id"></fi-sas-upload-file>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="contract_file_id">Contrato</nz-form-label>
            <nz-form-control nzErrorTip="Campo obrigatório">
              <fi-sas-upload-file formControlName="contract_file_id" name="contract_file_id"></fi-sas-upload-file>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <nz-form-label>Galeria</nz-form-label>
      <div>
        <nz-upload [nzCustomRequest]="uploadFile" nzListType="picture-card" [(nzFileList)]="fileList"
          [nzShowButton]="fileList.length < 5" [nzShowUploadList]="showUploadList" [nzRemove]="removeImage"
          [nzPreview]="handlePreview">
          <i nz-icon nzType="plus"></i>
          <div class="ant-upload-text">Upload</div>
        </nz-upload>
        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
          (nzOnCancel)="previewVisible = false">
          <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
          </ng-template>
        </nz-modal>
      </div>
      <nz-divider></nz-divider>
      <div nz-row>
        <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
          <nz-form-item>
            <nz-form-label nzFor="current_account_id">Conta corrente</nz-form-label>
            <nz-form-control nzErrorTip="Campo obrigatório">
              <nz-select formControlName="current_account_id" name="current_account_id"
                [nzLoading]="currentAccountsLoading">
                <nz-option *ngFor="let ca of currentAccounts" [nzLabel]="ca.name" [nzValue]="ca.id">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzFor="available_for_application">Disponível para Candidaturas</nz-form-label>
            <nz-form-control nzErrorTip="Campo obrigatório">
              <nz-switch formControlName="available_for_application" id="available_for_application"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item *ngIf="residenceGroup.controls.available_for_application.value==false">
            <nz-form-label nzFor="visible_for_users">Visível para os estudantes</nz-form-label>
            <nz-form-control nzErrorTip="Campo obrigatório">
              <nz-switch formControlName="visible_for_users" id="visible_for_users"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <nz-form-item>
          <nz-form-label nzFor="available_for_assign">Disponível para Atribuição</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <nz-switch formControlName="available_for_assign" id="available_for_assign"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-row>
        <nz-form-item>
          <nz-form-label nzFor="charge_deposit">Cobra caução</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <nz-switch formControlName="charge_deposit" id="charge_deposit"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-row>
        <nz-form-item>
          <nz-form-label nzFor="active">Ativo</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <nz-switch formControlName="active" id="active"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>

    </form>
  </nz-spin>
</div>

<div class="space">
  <button *ngIf="idToUpdate" nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="loading" [disabled]="loading" (click)="submitForm(residenceGroup.value)"
    [nzType]="'primary'">{{idToUpdate
    ? 'Editar' : 'Criar'}}</button>
</div>