.content {
    padding         : 24px;
    background-color: white;
}

.actions {
    text-align: right;

    button:first-child {
        margin-right: 16px;
    }
}

.space{
    background-color: #F2F2F2;
    padding-top:20px;
    padding-bottom: 20px;
    text-align: right
}

nz-upload {
    i[nz-icon] {
        font-size: 32px;
        color    : #999;
    }

    .ant-upload-text {
        margin-top: 8px;
        color     : #666;
    }
}