

<nz-tabset nzTabPosition="left">
  <nz-tab nzTitle="Outras informações">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
        <div nz-row class="title">
          Tipo de Prato</div>
        <div *ngIf="data?.type?.length>0">
          <div nz-row *ngFor="let type of data?.type" class="detail-field">
            {{(type?.translations | translation)?.name}}
          </div>
        </div>
        <div *ngIf="data?.type?.length==0" class="detail-field">
          -
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
        <div nz-row class="title">
          Receitas</div>
        <div *ngIf="data?.recipes?.length>0">
          <div nz-row *ngFor="let recipe of data?.recipes" class="detail-field">
            {{recipe?.name}}
          </div>
        </div>
        <div *ngIf="data?.recipes?.length==0" class="detail-field">
          -
        </div>
      </div>
    </div>
  </nz-tab>
</nz-tabset>