@import "~/scss/_variables";

.login {
  /* ----------------------- */
  /* Component */

  &__container {
    margin-top: 10;
    vertical-align: top;
  }

  &__info {
    margin-bottom: 25;
    padding-right: 10;
  }

  &__change {
    font-family: "Montserrat", "Montserrat-Medium";
    font-weight: 500;
    font-size: 9;
    line-height: 1.11;
    color: $light-grey;
    margin-bottom: 6;
  }

  &__bottom {
    margin-top: 80;
    margin-bottom: 10;
  }

  &__recover {
    font-family: "Montserrat", "Montserrat-Light";
    font-weight: 300;
    font-size: 12;
    line-height: 2;
    color: $black;
    margin-top: 5;
  }

  &__new_account {
    font-family: "Montserrat", "Montserrat-Medium";
    font-weight: 500;
    font-size: 12;
    line-height: 2;
    color: $black;
    margin-bottom: 18;
  }

  /* ----------------------- */
  /* Common */

  .fisas {
    &__btn-bottom {
      margin-bottom: 10;
    }
  }
}
