<StackLayout class="login" *ngIf="showScreen">
<!-- action bar -->
<fi-action-bar [actionBarType]="2"></fi-action-bar>

    <GridLayout rows="*,0">
    <!-- scroll init -->
    <ScrollView row="0">
    <WrapLayout orientation="horizontal" class="login__container fisas__content">
        <!-- block to change instituition -->
        <Label width="100%" class="login__change" text="{{ 'login.change' | translate }}" [nsRouterLink]="['/start-up/institutions']"></Label>
        <Label horizontalAlignment="left" class="fisas__instituition__block fisas__bg--{{ institution }}" [nsRouterLink]="['/start-up/institutions']" text="{{ institution }}" textWrap="true"></Label>

        <!-- text intro -->
        <StackLayout width="100%" class="login__info">
            <Label class="fisas__h1" text="{{ 'login.auth' | translate }}"></Label>
            <StackLayout>
                <Label class="fisas__h2" text="{{ 'login.intro' | translate }}" textWrap="true"></Label>
            </StackLayout>
        </StackLayout>

        <!-- loader -->
        <StackLayout class="fisas__form__block" marginTop="40" *ngIf="isLoading">
            <ActivityIndicator row="1" #activityIndicator [busy]="isLoading" width="100%" height="50" color="lightgray" class="fisas__loading"></ActivityIndicator>
        </StackLayout>

        <!-- login -->
        <StackLayout *ngIf="!isLoading">
            <StackLayout class="fisas__form__block" [ngClass]="{ 'fisas__form__has-error': error.email }" width="100%">
                <Label class="fisas__label" text="{{ 'login.email' | translate }}"></Label>
                <TextField
                    [(ngModel)]="user.email" class="fisas__input" hint="{{ 'login.placeholder.email' | translate }}" autocorrect="false" keyboardType="email" 
                    autocorrect="false" autocapitalizationType="none" (focus)="onFocusClear()">
                </TextField>
            </StackLayout>
            <!-- login with password -- case IPVC -->
            <StackLayout *ngIf="institution === 'IPVC'" class="fisas__form__block" [ngClass]="{ 'fisas__form__has-error': error.password }" width="100%">
                <Label class="fisas__label" text="{{ 'login.password' | translate }}"></Label>
                <TextField
                    [(ngModel)]="user.password" class="fisas__input" hint="{{ 'login.placeholder.password' | translate }}"
                    autocorrect="false" autocorrect="false" secure="true" autocapitalizationType="none" (focus)="onFocusClear()">
                </TextField>

                <GridLayout *ngIf="error.password" columns="auto, *" rows="*, *">
                    <Label col="0" class="fisas__icon" marginRight="6" color="#d0021b" text="&#xe924;"></Label>
                    <Label col="1" class="fisas__form__error" text="O teu email ou password está incorreto" textWrap="true"></Label>
                    <Label row="1" col="1" class="fisas__form__error" text="Por favor verifica os teus dados e tenta novamente" textWrap="true" ></Label>
                </GridLayout>
            </StackLayout>
            <!-- login with PIN -->
            <StackLayout *ngIf="institution !== 'IPVC'" class="fisas__form__block" [ngClass]="{ 'fisas__form__has-error': error.pin }" width="100%">
                <Label class="fisas__label" text="{{ 'login.pin' | translate }}"></Label>
                <TextField
                    [(ngModel)]="user.pin" class="fisas__input" hint="{{ 'login.placeholder.pin' | translate }}"
                    autocorrect="false" keyboardType="number" autocorrect="false" secure="true" autocapitalizationType="none" (focus)="onFocusClear()">
                </TextField>

                <GridLayout *ngIf="error.pin" columns="auto, *" rows="*, *">
                    <Label col="0" class="fisas__icon" marginRight="6" color="#d0021b" text="&#xe924;"></Label>
                    <Label col="1" class="fisas__form__error" text="O teu email ou PIN está incorreto" textWrap="true"></Label>
                    <Label row="1" col="1" class="fisas__form__error" text="Por favor verifica os teus dados e tenta novamente" textWrap="true" ></Label>
                </GridLayout>
            </StackLayout>
        </StackLayout>

        <!-- recover pin/password -->
        <StackLayout *ngIf="!isLoading">
            <StackLayout width="100%">
                <Label *ngIf="institution === 'IPVC'" class="login__recover" text="{{ 'login.recoverPass' | translate }}" [nsRouterLink]="['/login/recover']"></Label>
                <Label *ngIf="institution !== 'IPVC'" class="login__recover" text="{{ 'login.recoverPin' | translate }}" [nsRouterLink]="['/login/recover']"></Label>
            </StackLayout>
        </StackLayout>

        <!-- fixed bottom btns -->
        <StackLayout class="fisas__vertical-down login__bottom" width="100%" *ngIf="!isLoading">
            <!-- button to submit -->
            <StackLayout width="100%">
                <!-- login with pass -- case IPVC -->
                <Label *ngIf="institution === 'IPVC'" class="fisas__btn-bottom fisas__bg--{{ institution }}" text="{{ 'login.login' | translate }}" (tap)="submitLoginPass()"></Label>
                <!-- login with pin -->
                <Label *ngIf="institution !== 'IPVC'" class="fisas__btn-bottom fisas__bg--{{ institution }}" text="{{ 'login.login' | translate }}" (tap)="submitLoginPin()"></Label>
            </StackLayout>

            <!-- create new account -->
            <!-- <StackLayout width="100%">
                <Label
                class="login__new_account"
                textAlignment="center"
                text="{{ 'login.create' | translate }}"
                [nsRouterLink]="['/login/create-account']"
                ></Label>
            </StackLayout> -->
        </StackLayout>

    </WrapLayout>
    </ScrollView>
    </GridLayout>
</StackLayout>
