<nz-tabset nzTabPosition="left">
  <nz-tab nzTitle="Geral">

    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Identificação
        </div>
        <div nz-row class="detail-field">
          {{ bike.identification }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Tamanho
        </div>
        <div nz-row class="detail-field">
          {{ bike.size }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Modelo
        </div>
        <div nz-row class="detail-field">
          {{ bike.bike_model.model }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Ativo
        </div>
        <div nz-row class="detail-field">
          {{ bike.asset.designation }}
        </div>
      </div>

     <!-- <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">

          <div class="row-details" nz-row nzType="flex" nzJustify="start">
                    <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                      <span class="detail-field">Tipologia:</span>
                    </div>
                    <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                      <span class="detail-data">{{ bike.bike_model[0].typology[0].name }}</span>
                    </div>
          </div>

          <div class="row-details" nz-row nzType="flex" nzJustify="start">
                    <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                      <span class="detail-field">Conformidade do modelo:</span>
                    </div>
                    <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                      <a *ngIf="bike.bike_model[0].model_conformity_file_id" [href]="bike.bike_model[0].model_conformity_file?.url" target="_blank">
                        Visualizar <i nz-icon nzType="file-pdf" nzTheme="outline"></i>
                      </a>
                      <span *ngIf="!bike.bike_model[0].model_conformity_file_id">-</span>
                    </div>
          </div>

      </div>-->
    </div>

  </nz-tab>

  <!--<nz-tab nzTitle="Características">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">

          <div class="row-details" nz-row nzType="flex" nzJustify="start">
              <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                <span class="detail-field">Travões:</span>
              </div>
              <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                <span class="detail-data">{{ bike.bike_model[0].brakes }}</span>
              </div>
          </div>
          <div class="row-details" nz-row nzType="flex" nzJustify="start">
              <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                <span class="detail-field">Tipo de Travão:</span>
              </div>
              <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                <span class="detail-data">{{ bike.bike_model[0].brake_types }}</span>
              </div>
          </div>
          <div class="row-details" nz-row nzType="flex" nzJustify="start">
              <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                <span class="detail-field">Quadro:</span>
              </div>
              <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                <span class="detail-data">{{ bike.bike_model[0].frame_type }}</span>
              </div>
          </div>
          <div class="row-details" nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <span class="detail-field">Suspensão:</span>
            </div>
            <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <span class="detail-data">{{ bike.bike_model[0].front_suspension }}</span>
            </div>
        </div>
        <div class="row-details" nz-row nzType="flex" nzJustify="start">
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <span class="detail-field">Pneus:</span>
          </div>
          <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <span class="detail-data">{{ bike.bike_model[0].tyres }}</span>
          </div>
      </div>
      <div class="row-details" nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <span class="detail-field">Guarda corrente:</span>
        </div>
        <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <span class="detail-data">{{ bike.bike_model[0].chain_guard }}</span>
        </div>
      </div>
      <div class="row-details" nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <span class="detail-field">Mecanismo de mudanças:</span>
        </div>
        <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <span class="detail-data">{{ bike.bike_model[0].gear_mechanism }}</span>
        </div>
      </div>
      </div>
    </div>

  </nz-tab>
  <nz-tab nzTitle="Mecanismo de fixação">

    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
          <div class="row-details" nz-row nzType="flex" nzJustify="start">
              <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                <span class="detail-field">Assento:</span>
              </div>
              <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                <span class="detail-data">{{ bike.bike_model[0].seat_fixation_mechanism }}</span>
              </div>
          </div>
          <div class="row-details" nz-row nzType="flex" nzJustify="start">
              <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                <span class="detail-field">Roda dianteira:</span>
              </div>
              <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                <span class="detail-data">{{ bike.bike_model[0].front_wheel_fixation_mechanism }}</span>
              </div>
          </div>
          <div class="row-details" nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <span class="detail-field">Roda traseira:</span>
            </div>
            <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <span class="detail-data">{{ bike.bike_model[0].back_wheel_fixation_mechanism }}</span>
            </div>
        </div>
        <div class="row-details" nz-row nzType="flex" nzJustify="start">
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <span class="detail-field">Guiador:</span>
          </div>
          <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <span class="detail-data">{{ bike.bike_model[0].handlebar_fixation_mechanism }}</span>
          </div>
      </div>
      </div>
    </div>

  </nz-tab>
  <nz-tab nzTitle="Iluminação">

    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
      <div class="row-details" nz-row nzType="flex" nzJustify="start">
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <span class="detail-field">Dianteira:</span>
          </div>
          <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <span class="detail-data">{{ bike.bike_model[0].front_illumination }}</span>
          </div>
      </div>
      <div class="row-details" nz-row nzType="flex" nzJustify="start">
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <span class="detail-field">Traseira:</span>
          </div>
          <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <span class="detail-data">{{ bike.bike_model[0].back_illumination }}</span>
          </div>
      </div>
  </div>

  </nz-tab>
  <nz-tab nzTitle="Reflexão">
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
      <div class="row-details" nz-row nzType="flex" nzJustify="start">
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <span class="detail-field">Lateral:</span>
          </div>
          <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <span class="detail-data">{{ bike.bike_model[0].side_reflections }}</span>
          </div>
      </div>
      <div class="row-details" nz-row nzType="flex" nzJustify="start">
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <span class="detail-field">Pedal:</span>
          </div>
          <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <span class="detail-data">{{ bike.bike_model[0].pedal_reflections }}</span>
          </div>
      </div>
      <div class="row-details" nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <span class="detail-field">Dianteira:</span>
        </div>
        <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <span class="detail-data">{{ bike.bike_model[0].front_reflections }}</span>
        </div>
    </div>
    <div class="row-details" nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
        <span class="detail-field">Traseira:</span>
      </div>
      <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
        <span class="detail-data">{{ bike.bike_model[0].back_reflections }}</span>
      </div>
  </div>
  </div>
  </nz-tab>

  <nz-tab nzTitle="Extras">
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
      <div class="row-details" nz-row nzType="flex" nzJustify="start">
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <span class="detail-field">Descanso:</span>
          </div>
          <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <span class="detail-data">{{ bike.bike_model[0].rest }}</span>
          </div>
      </div>
      <div class="row-details" nz-row nzType="flex" nzJustify="start">
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <span class="detail-field">Guarda-Lamas:</span>
          </div>
          <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <span class="detail-data">{{ bike.bike_model[0].mudguards }}</span>
          </div>
      </div>
      <div class="row-details" nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <span class="detail-field">Manual de instrução:</span>
        </div>
        <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <span class="detail-data">{{ bike.bike_model[0].instruction_manual }}</span>
        </div>
    </div>
    <div class="row-details" nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
        <span class="detail-field">Suporte de bagagem:</span>
      </div>
      <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
        <span class="detail-data">{{ bike.bike_model[0].luggage_support }}</span>
      </div>
    </div>
    <div class="row-details" nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
        <span class="detail-field">Sistema de monitorização:</span>
      </div>
      <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
        <span class="detail-data">{{ bike.bike_model[0].monitoring_system }}</span>
      </div>
    </div>
    <div class="row-details" nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
        <span class="detail-field">Avisador sonoro:</span>
      </div>
      <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
        <span class="detail-data">{{ bike.bike_model[0].sound_warning }}</span>
      </div>
    </div>
    <div class="row-details" nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
        <span class="detail-field">Outros acessórios:</span>
      </div>
      <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
        <span class="detail-data">{{ bike.bike_model[0].other_accessories }}</span>
      </div>
    </div>

  </div>
  </nz-tab>

  <nz-tab nzTitle="Requisitos">

    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
      <div class="row-details" nz-row nzType="flex" nzJustify="start">
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <span class="detail-field">Revestimento:</span>
          </div>
          <div nz-col nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <span class="detail-data">{{ bike.bike_model[0].coating_requirements }}</span>
          </div>
      </div>
  </div>

  </nz-tab>-->
</nz-tabset>
