@primary-color : #B84E86;
@normal-color           : #d9d9d9;
@header-text-color: #FFF;

// Color used by default to control hover and active backgrounds and for
// alert info backgrounds.
@primary-1: #F6E9F0;
@primary-2: #E9C9DA;
@primary-3: #DCA8C4;
@primary-4: #D08AAF;
@primary-5: #C46B9A;
@primary-6: @primary-color;
@primary-7: #933F6D;
@primary-8: #78365A;
@primary-9: #49233A;
@primary-10: #221521;
