<!--Steps-->
<div nz-row class="content content__prog">
  <!--XL to XXL-->
  <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="0" [nzXl]="24" [nzXXl]="24">
    <nz-steps class="content__line" [nzCurrent]="4" nzProgressDot>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T1' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_ONE' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T2' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_TWO' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T3' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_THREE' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T4' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_FOUR' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T5' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_FIVE' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.TITLE' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_SIX' | translate }}">
      </nz-step>
    </nz-steps>
  </div>
  <!--MD to LG-->
  <!--XS to SM-->
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="0" [nzXXl]="0">
    <div>
      <p class="steps-minimal-size_sub-title">
        {{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T5' | translate }}
      </p>
      <p class="steps-minimal-size_title">
        {{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_SIX_TOTAL' | translate }}
      </p>
    </div>

  </div>
</div>

<nz-divider class="divider-web"></nz-divider>

<!--Form-->
<form nz-form [formGroup]="OwnerForm" (ngSubmit)="submitForm()" class="content__group">

  <div class="application_form">
    <div nz-row *ngIf="showErrorMessage" class="bottom">
      <div nz-col nzSpan="24">
        <nz-alert nzType="error" [nzMessage]="'MISC.ERROR_GENERIC' | translate"></nz-alert>
      </div>
    </div>
    <p class="title-step-form"> {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T5" | translate }}
    </p>
    <!--Issues Receipt-->
    <nz-form-item>
      <nz-form-control>
        <nz-form-label nzRequired nzFor="issues_receipt">
          <b>
            {{'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_FIVE.FORM_ELEMENTS.ISSUES_RECEIPT' |
            translate}}
          </b>
        </nz-form-label>
        <label nz-checkbox nzRequired [ngModel]="issues_receipt" formControlName="issues_receipt" id="issues_receipt">

        </label>
        <nz-form-explain class="error" *ngIf="(!OwnerForm.value.issues_receipt || OwnerForm.value.issues_receipt == false) && submitted">
          {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>


    <!--Applicant Consent-->
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox nzRequired [ngModel]="applicant_consent" formControlName="applicant_consent"
          id="applicant_consent">
          <span class="content__subtitle">{{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_FIVE.FORM_ELEMENTS.TERM.DESC" | translate }}</span>
        </label>
        <br>
        <a [href]="_regulation?.url" target="_blank" class="content__readmore link">{{
          "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_FIVE.FORM_ELEMENTS.TERM.CLICK" | translate }}</a>
      </nz-form-control>
      <nz-form-explain class="error" *ngIf="!OwnerForm.value.applicant_consent && submitted">
        {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_FIVE.FORM_ELEMENTS.TERM.ERROR" | translate }}
      </nz-form-explain>
    </nz-form-item>



    <input type="hidden" formControlName="back" [ngModel]="back" id="back">

    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="button-space">
      <app-button (click)="backStep()" style="margin-right: 15px;" [translate]="'MISC.BACK'" [type]="'secundary'">
      </app-button>
      <app-button (click)="nextStep()" [translate]="'MISC.NEXT'">
      </app-button>
    </div>
  </div>

</form>