@import "theme";

.current-account {
    padding-top: 2px;

    &__title {
        font-size: 13px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.65);
    }
    &__button {
        padding-top: 4px;
    }

    &__text {
        color: #666666;
        font-size: 10px;
    }
    &__right {
        text-align: right;
    }

    &__account-value-corrent {
        color: #1ba974;
        font-weight: 600;
        font-size: 10px;
      }

    &__account-value-pending{
        color: #d0021b;
        font-weight: 600;
        font-size: 10px;
    }
  
    &__account-value-pending-normal{
        color: black;
        font-weight: 600;
        font-size: 10px;
    }

}

.icon-top {
    margin-top: 3px;
}

:host::ng-deep {

  .header-icon {
     svg {
       path {
         fill: var(--primary-9);
       }
     }
  }
  
}


.padding-loading {
  padding-top: 10px;
  padding-bottom: 15px;
}

#icon-curentac::ng-deep svg {
  g path {
      fill: var(--primary-color);
  }
}

.icon {
  vertical-align: middle;
  font-size: 22px;
  padding-bottom: 6px;
  padding-top: 2px;
}

.border-buttons {
  padding-top:10px;
  border-top: 1px solid #e8e8e8;
}

.host::ng-deep {
  .ant-popover-title {
    min-height: 32px;
    margin: 0;
    padding: 10px 16px 4px;
    min-width: 170px !important;
    border-bottom: 2px solid var(--primary-color);
    color: black;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: bold;
    width: 140px;
  }
  .ant-popover-inner-content {
    border-top: 1px solid #e8e8e8 !important;
    padding: 12px 16px;
    color: rgba(0, 0, 0, 0.65);
  }
  .ant-popover-arrow {
    display: none;
  }

  
}

.button {
  background-color: var(--primary-color);
  color: white;
  border: var(--primary-color);
  font-size: 12px;
  font-weight: bold;
}

.space-button {
  text-align: right ;
  
  @media screen and (max-width: 600px) {
    text-align: center ;
  }
}

.button-more {
  @media screen and (max-width: 600px) {
    text-align: center ;
    padding: 5px;
  }
}

.text-title {
  cursor: pointer;
  font-size: 13px;
  font-family: Montserrat;
  color: black;
}

.text-description {
  font-size: 10px;
  font-family: Montserrat;
}

.bold {
  font-weight: bold;
}


.icon-delete {
  font-size: 14px;
  cursor: pointer;
}