<div class="background">
  <div class="container">
    <nz-row [nzGutter]="16" [nzJustify]="'center'" [nzAlign]="'middle'">
      <nz-col [nzSpan]="12">
        <nz-statistic class="stats" [nzValue]="statistics.bikes_in_use" [nzTitle]="'Bicicletas'"
          [nzSuffix]="'/ '+ statistics.total_bikes"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-statistic class="stats" [nzValue]="statistics.bikes_usage_perc | percent" [nzTitle]="'Percentagem'">
        </nz-statistic>
      </nz-col>
    </nz-row>
  </div>



  <div class="container">
    <div nz-row>
      <div nz-col nzSm="24" nzMd="24" class="title">
        <label>Listagem de Candidaturas</label>
      </div>
      <div nz-col nzSm="12" nzMd="4">
        <div nz-row>
          <nz-form-label>Utilizador</nz-form-label>
          <nz-select [nzLoading]="loadingApplications" [(ngModel)]="userApplicationReport" nzAllowClear nzPlaceHolder="Utilizador" style="width: 100%">
            <nz-option *ngFor="let application of applications" [nzValue]="application" [nzLabel]="application.user.name"></nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col nzSm="0" nzMd="1"></div>
      <div nz-col nzSm="12" nzMd="4">
        <nz-form-label>Bicicleta</nz-form-label>
        <nz-select [nzLoading]="loadingBikes" [(ngModel)]="bikeAppReport" nzAllowClear nzPlaceHolder="Bicicleta" style="width: 100%">
          <nz-option *ngFor="let bike of bikes" [nzValue]="bike.id" [nzLabel]="bike.identification"></nz-option>
        </nz-select>
      </div>
      <div nz-col nzSm="0" nzMd="1"></div>
      <div nz-col nzSm="12" nzMd="4">
        <nz-form-label>Unidade Orgânica</nz-form-label>
        <nz-select [nzLoading]="loadingOrganicUnits" [(ngModel)]="organicUnitApplicationReport" nzAllowClear nzPlaceHolder="Unidade Orgânica" style="width: 100%">
          <nz-option *ngFor="let organicUnit of organicUnits" [nzValue]="organicUnit" [nzLabel]="organicUnit.name"></nz-option>
        </nz-select>
      </div>
      <div nz-col nzSm="0" nzMd="1"></div>
      <div nz-col nzSm="12" nzMd="4">
        <nz-form-label nzFor="dateRange"> Data Início / Fim </nz-form-label>
        <nz-range-picker [(ngModel)]="dateRangeAppReport"></nz-range-picker>
      </div>
      <div nz-col nzSm="0" nzMd="1"></div>
      <div nz-col nzXXl="4" style="padding-top: 40px;">
        <button nz-button [nzLoading]="generatingReportLoading" [disabled]="generatingReportLoading" (click)="generateApplicationsReport()"
        [nzType]="'primary'">Gerar Relatório</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div nz-row>
      <div nz-col nzSm="24" nzMd="24" class="title">
        <label>Quilómetros percorridos entre datas</label>
      </div>
      <div nz-col nz-col nzXs="22" nzSm="22" nzMd="22" nzLg="12" nzXl="6" nzXXl="6">
        <div nz-row>
          <nz-form-label nzFor="dateRange"> Data Início / Fim</nz-form-label>
          <nz-range-picker [(ngModel)]="dateRangeKmsReport"></nz-range-picker>
        </div>
      </div>
      <div nz-col nzSm="0" nzMd="1"></div>
      <div nz-col nzXXl="4" style="padding-top: 40px;">
        <button nz-button [nzLoading]="generatingKmsReportLoading" [disabled]="generatingKmsReportLoading" (click)="generateKmsReport()"
          [nzType]="'primary'">Gerar Relatório</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div nz-row>
      <div nz-col nzSm="24" nzMd="24" class="title">
        <label>Listagem de Bicicletas</label>
      </div>
      <div nz-col nz-col nzXs="22" nzSm="22" nzMd="22" nzLg="12" nzXl="6" nzXXl="6">
        <div nz-row>
          <nz-form-label> Data Início / Fim</nz-form-label>
          <nz-range-picker [(ngModel)]="listBikesReportDataRange"></nz-range-picker>
        </div>
      </div>
      <div nz-col nzSm="0" nzMd="1"></div>
      <div nz-col nzXXl="4" style="padding-top: 40px;">
        <button nz-button [nzLoading]="listBikesReportLoading" [disabled]="listBikesReportLoading" (click)="generatelistBikesReport()"
          [nzType]="'primary'">Gerar Relatório</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
        <div nz-row>
          <nz-form-label>Utilizador</nz-form-label>
          <nz-form-control>
            <nz-select class="search--selected" [nzLoading]="loadingApplications" [(ngModel)]="application"
              nzAllowClear nzPlaceHolder="Utilizador">
              <nz-option *ngFor="let application of applications" [nzValue]="application"
                [nzLabel]="application.user.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </div>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
      <div nz-col class="container--search" nz-col nzXs="22" nzSm="22" nzMd="22" nzLg="12" nzXl="6" nzXXl="6">
        <div nz-row class="search" nzType="flex" nzAlign="middle" nzJustify="space-between">
          <nz-form-label>Bicicleta</nz-form-label>
          <nz-select class="search--selected" [nzLoading]="loadingBikes" [(ngModel)]="bikeID" nzAllowClear
            nzPlaceHolder="Bicicleta">
            <nz-option *ngFor="let bike of bikes" [nzValue]="bike.id" [nzLabel]="bike.identification"></nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
        <div nz-row>
          <nz-form-label>Data início</nz-form-label>
          <nz-form-control>
            <nz-date-picker class="search--date" [(ngModel)]="startDate"></nz-date-picker>
          </nz-form-control>
        </div>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
        <div nz-row>
          <nz-form-label>Data fim</nz-form-label>
          <nz-form-control>
            <nz-date-picker class="search--date" [(ngModel)]="endDate">
            </nz-date-picker>
          </nz-form-control>
        </div>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
      <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
        <button [nzLoading]="loadingStats" nz-button nzType="primary"  class="btn" (click)="getStats()">Filtrar</button>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
        style="text-align: left;">
        <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
      </div>
      <div nz-col nzSm="24" nzMd="24" class="btn-filter">
        <button [nzLoading]="loadingReportFile" nz-button nzType="primary"  class="button" (click)="getReport()">
          <i nz-icon type="download"></i>Imprimir</button>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="stats !== null">
    <p class="title">Dados das Viagens</p>

    <nz-spin [nzSpinning]="loadingStats">

      <div nz-row nzType="flex" nzGutter="16">
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--color1" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Total de viagens</div>
            <div nz-col nzSpan="12" class="box__value">{{ stats?.aggregate_data?.count_trips | number: '1.0' }}</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--color2" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Total de Quilómetros</div>
            <div nz-col nzSpan="12" class="box__value">{{ stats?.aggregate_data?.sum_distance | number: '1.2-2' }}km
            </div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--color3" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">CO2</div>
            <div nz-col nzSpan="12" class="box__value">{{ stats?.aggregate_data?.sum_co2_emissions_saved | number: '1.0'
              }}g</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--color2" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Energia gerada</div>
            <div nz-col nzSpan="12" class="box__value">{{ stats?.aggregate_data?.sum_watts | number: '1.2-2' }}W</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--color5" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Tempo total</div>
            <div nz-col nzSpan="12" class="box__value">{{ stats?.aggregate_data?.sum_time | number: '1.2-2' }}min</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--color4" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Tempo médio</div>
            <div nz-col nzSpan="12" class="box__value">{{ stats?.aggregate_data?.average_time | number: '1.2-2' }}min
            </div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--color6" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="11" class="box__text">Velocidade Média</div>
            <div nz-col nzSpan="13" class="box__value">{{ stats?.aggregate_data?.average_avg_speed | number: '1.2-2'
              }}km/min</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--color6" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Elevação máxima</div>
            <div nz-col nzSpan="12" class="box__value">{{ stats?.aggregate_data?.max_height_diff | number: '1.2-2'}}m
            </div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--color6" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Elevação média</div>
            <div nz-col nzSpan="12" class="box__value">{{ stats?.aggregate_data?.average_height_diff | number: '1.2-2'
              }}m</div>
          </div>
        </div>
      </div>

    </nz-spin>
  </div>

  <div class="container" *ngIf="stats !== null">
    <p class="title">Poupança de co2 face a outros meios de transporte</p>

    <nz-spin [nzSpinning]="loadingStats">

      <div nz-row nzType="flex" nzGutter="16">
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--color1" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Autocarro</div>
            <div nz-col nzSpan="12" class="box__value">{{ stats?.aggregate_data?.bus_saved_co2 | number: '1.0' }}g</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--color2" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Comboio</div>
            <div nz-col nzSpan="12" class="box__value">{{ stats?.aggregate_data?.train_saved_co2 | number: '1.0' }}g
            </div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--color3" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Carro a Gasolina</div>
            <div nz-col nzSpan="12" class="box__value">{{ stats?.aggregate_data?.gasoline_saved_co2 | number: '1.0' }}g
            </div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--color2" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Carro a Diesel</div>
            <div nz-col nzSpan="12" class="box__value">{{ stats?.aggregate_data?.diesel_saved_co2 | number: '1.0' }}g
            </div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--color5" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Carro a GPL</div>
            <div nz-col nzSpan="12" class="box__value">{{ stats?.aggregate_data?.gpl_saved_co2 | number: '1.0' }}g</div>
          </div>
        </div>
        <div nz-col [nzXs]="grid.nzXs" [nzSm]="grid.nzSm" [nzMd]="grid.nzMd" [nzLg]="grid.nzLg" [nzXl]="grid.nzXl"
          [nzXXl]="grid.nzXXl">
          <div nz-row class="box box--color4" nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Carro Elétrico</div>
            <div nz-col nzSpan="12" class="box__value">{{ stats?.aggregate_data?.eletric_saved_co2 | number: '1.0' }}g
            </div>
          </div>
        </div>
      </div>
    </nz-spin>
  </div>
</div>