:host::ng-deep {

    display: inline-block;
  
    .clock {
  
      display: inline-block;

      &__time {
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
        padding-left: 10px;
      }
  
    }
  
  }
  