<div class="content-card monthly-reports-table">
  <div *ngIf="validDate" class="monthly-reports-table--add-button">
    <app-button type="secundary" translate="MISC.ADD" (click)="openAddReportModal()">
    </app-button>
  </div>

  <nz-table #attendancesData [nzFrontPagination]="false" [nzData]="reports" [nzLoading]="isLoading"
    [nzTotal]="reports.length" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="paginationSearch()" (nzPageSizeChange)="paginationSearch(true)" [nzScroll]="{ x: '500px' }">
    <tbody>
      <tr *ngFor="let row of tableRows; let i = index" class="monthly-reports-table--row"
        [ngClass]="{ 'row-even': i % 2 === 0, 'row-odd': i % 2 !== 0 }">
        <!-- SOCIAL_SUPPORT.ATTENDANCES.FORM.ROW_LABEL -->
        <td>
          {{ 'SOCIAL_SUPPORT.ATTENDANCES.TABS.MONTHLY_REPORT.LABEL' | translate }} -
          {{ row.date | date: 'LLLL':'':translateService.currentLang }} {{ row.date | date: 'yyyy' }}
        </td>

        <!-- SOCIAL_SUPPORT.ATTENDANCES.DATE -->
        <td>
          {{ row.created_at | date: 'dd LLLL yyyy':'':translateService.currentLang }}
          {{ 'SOCIAL_SUPPORT.ATTENDANCES.TABS.MONTHLY_REPORT.DATE_SEPARATOR' | translate }}
          {{ row.created_at | date: 'h:mm' }} h
        </td>

        <!-- ATTACHMENTS -->
        <td class="monthly-reports-table--row--attachment">
          <a *ngIf="row.file && row.file.url" [href]="row.file.url" target="_blank" download>
            {{ 'SOCIAL_SUPPORT.ATTENDANCES.TABS.MONTHLY_REPORT.SEE_REPORT' | translate }}
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>