.view-candidates-tabs {
  ::ng-deep {
    .ant-tabs-left-bar .ant-tabs-tab {
      white-space: pre-line;
    }
  }
}

.view-candidates-collapse {
  ::ng-deep {
    .ant-collapse {
      border-width: 0;
      background-color: transparent;

      & > .ant-collapse-item {
        border-width: 0;

        & > .ant-collapse-header {
          padding: 10px 30px;

          .ant-collapse-arrow {
            left: 0;
          }
        }
      }

      .ant-collapse-content {
        padding: 15px 5px;
      }
    }
  }
}

.row-details {
  color: black;
  font-weight: normal;
  margin-bottom: 12px;
  padding: 2px 0;

  .detail-title {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .detail-field::after {
    content: ':';
  }

  .detail-data {
    color: var(--primary-color);
  }
}

.row-details-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mb-0 {
  margin-bottom: 0;
}

:host::ng-deep {
  .ant-tabs-bar {
    width: 25% !important;
  }
  .ant-table-placeholder {
    display: none;
  }
}

.hidden-md {
  display: none;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.box-no {
  color: #f5222d;
  background: #fff1f0;
  border: 1px solid #f5222d;
  border-radius: 5px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 12px;
}

.box-yes {
  color: #52c41a;
  background: #f6ffed;
  border: 1px solid #52c41a;
  border-radius: 5px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 12px;
}

.box-info {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding-left: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 4px;
  font-size: 12px;
  margin-right: 5px;
}

.schedule {
  margin-bottom: 16px;
  th,
  &--period-day {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #2c2c2c;
    background-color: white;
  }
  td {
    text-align: center;
  }

  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background-color: transparent !important;
  }
}

@media screen and (max-width: 800px) {
  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display: block;
  }
  .margin-bottom-15 {
    margin-bottom: 15px;
  }

  .font-label-mobile {
    color: black;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display: block;
  }
  .margin-bottom-15 {
    margin-bottom: 15px;
  }

  .font-label-mobile {
    color: black;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
