<div class="hidden-xs">
  <nz-tabset
    nzTabPosition="left"
    class="view-candidates-tabs"
    [nzSelectedIndex]="selectedTabIndex"
    (nzSelectedIndexChange)="onTabIndexChange($event)"
  >
    <ng-container *ngFor="let tab of tabs">
      <nz-tab *ngIf="tab.show()" [nzTitle]="tab.title | translate">
        <ng-container *ngTemplateOutlet="tab.tempalteRef"></ng-container>
      </nz-tab>
    </ng-container>
  </nz-tabset>
</div>

<div class="hidden-md">
  <nz-collapse nzAccordion class="view-candidates-collapse">
    <ng-container *ngFor="let tab of tabs; let index = index">
      <nz-collapse-panel
        *ngIf="tab.show()"
        [nzHeader]="tab.title | translate"
        [nzActive]="index === selectedTabIndex"
        (nzActiveChange)="onTabIndexChange(index)"
      >
        <ng-container *ngTemplateOutlet="tab.tempalteRef"></ng-container>
      </nz-collapse-panel>
    </ng-container>
  </nz-collapse>
</div>

<!-- BEGIN: PROFILE -->
<ng-template #tabProfile>
  <div nz-row nzType="flex" nzJustify="start" nzGutter="34">
    <div nz-col nzXs="24" nzLg="12">
      <div class="row-details" nz-row nzType="flex" nzJustify="start" nzGutter="16">
        <div nz-col nzXs="12" nzLg="10" nzXl="8">
          <span class="detail-field">{{ 'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.TABLE.NAME' | translate }}</span>
        </div>
        <div nz-col nzXs="12" nzLg="14" nzXl="16">
          <span class="detail-data">{{ application?.student_name || '-' }}</span>
        </div>
      </div>
    </div>

    <div nz-col nzXs="24" nzLg="12">
      <div class="row-details" nz-row nzType="flex" nzJustify="start" nzGutter="16">
        <div nz-col nzXs="12" nzLg="10" nzXl="8">
          <span class="detail-field">{{ 'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.TABLE.NUMBER' | translate }}</span>
        </div>
        <div nz-col nzXs="12" nzLg="14" nzXl="16">
          <span class="detail-data">{{ application?.student_number || '-' }}</span>
        </div>
      </div>
    </div>

    <div nz-col nzXs="24" nzLg="12">
      <div class="row-details" nz-row nzType="flex" nzJustify="start" nzGutter="16">
        <div nz-col nzXs="12" nzLg="10" nzXl="8">
          <span class="detail-field">{{
            'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.TABLE.CURRICULAR_YEAR' | translate
          }}</span>
        </div>
        <div nz-col nzXs="12" nzLg="14" nzXl="16">
          <span class="detail-data">{{ application?.course_year || '-' }}</span>
        </div>
      </div>
    </div>

    <div nz-col nzXs="24" nzLg="12">
      <div class="row-details" nz-row nzType="flex" nzJustify="start" nzGutter="16">
        <div nz-col nzXs="12" nzLg="10" nzXl="8">
          <span class="detail-field">{{ 'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.TABLE.DATE_BIRTH' | translate }}</span>
        </div>
        <div nz-col nzXs="12" nzLg="14" nzXl="16">
          <span class="detail-data">{{
            application?.student_birthdate ? (application?.student_birthdate | date: 'dd/MM/yyyy') : '-'
          }}</span>
        </div>
      </div>
    </div>

    <div nz-col nzXs="24" nzLg="12">
      <div class="row-details" nz-row nzType="flex" nzJustify="start" nzGutter="16">
        <div nz-col nzXs="12" nzLg="10" nzXl="8">
          <span class="detail-field">{{ 'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.TABLE.SCHOOL_YEAR' | translate }}</span>
        </div>
        <div nz-col nzXs="12" nzLg="14" nzXl="16">
          <span class="detail-data">{{ application?.academic_year || '-' }}</span>
        </div>
      </div>
    </div>

    <div nz-col nzXs="24" nzLg="12">
      <div class="row-details" nz-row nzType="flex" nzJustify="start" nzGutter="16">
        <div nz-col nzXs="12" nzLg="10" nzXl="8">
          <span class="detail-field">{{ 'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.TABLE.COURSE' | translate }}</span>
        </div>
        <div nz-col nzXs="12" nzLg="14" nzXl="16">
          <span class="detail-data">{{ application?.course?.name || '-' }}</span>
        </div>
      </div>
    </div>

    <div nz-col nzXs="24" nzLg="12">
      <div class="row-details" nz-row nzType="flex" nzJustify="start" nzGutter="16">
        <div nz-col nzXs="12" nzLg="10" nzXl="8">
          <span class="detail-field">{{ 'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.TABLE.SCHOOL' | translate }}</span>
        </div>
        <div nz-col nzXs="12" nzLg="14" nzXl="16">
          <span class="detail-data">{{ application?.school?.name || '-' }}</span>
        </div>
      </div>
    </div>

    <div nz-col nzXs="24" nzLg="12">
      <div class="row-details" nz-row nzType="flex" nzJustify="start" nzGutter="16">
        <div nz-col nzXs="12" nzLg="10" nzXl="8">
          <span class="detail-field">{{ 'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.TABLE.LOCALTY' | translate }}</span>
        </div>
        <div nz-col nzXs="12" nzLg="14" nzXl="16">
          <span class="detail-data">{{ application?.student_location || '-' }}</span>
        </div>
      </div>
    </div>

    <div nz-col nzXs="24" nzLg="12">
      <div class="row-details" nz-row nzType="flex" nzJustify="start" nzGutter="16">
        <div nz-col nzXs="12" nzLg="10" nzXl="8">
          <span class="detail-field">{{ 'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.TABLE.EMAIL' | translate }}</span>
        </div>
        <div nz-col nzXs="12" nzLg="14" nzXl="16">
          <span class="detail-data">{{ application?.student_email || '-' }}</span>
        </div>
      </div>
    </div>
  </div>
  <div nz-col nzXs="24" nzLg="12"></div>
</ng-template>
<!-- END: PROFILE -->

<!-- BEGIN: APPLICATION -->
<ng-template #tabApplication>
  <div nz-row nzType="flex" nzJustify="start" nzGutter="34">
    <div nz-col nzSpan="24">
      <div class="row-details" nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="12" nzSm="12" nzMd="10" nzLg="7" nzXl="6">
          <span class="detail-field">{{
            'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.TABLE.AVAILABLE_ACTIVITIES_LOC' | translate
          }}</span>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="14" nzLg="17" nzXl="18">
          <span *ngFor="let unit of application?.organic_units" class="box-info">{{ unit?.organic_unit?.name }}</span>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="24">
      <div class="row-details" nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="12" nzSm="12" nzMd="10" nzLg="7" nzXl="6">
          <span class="detail-field">{{ 'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.TABLE.ACTIVITIE_PREF' | translate }}</span>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="14" nzLg="17" nzXl="18">
          <div *ngFor="let activity of application?.preferred_activities">
            <span class="detail-data"> {{ activity?.activity?.name }}</span>
          </div>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="24">
      <div class="row-details" nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="12" nzSm="12" nzMd="10" nzLg="7" nzXl="6">
          <span class="detail-field">{{ 'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.TABLE.COLA_LAST_YEAR' | translate }}</span>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="14" nzLg="17" nzXl="18">
          <ng-container
            *ngTemplateOutlet="trueFalseTemplate; context: { value: application.has_collaborated_last_year }"
          ></ng-container>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="24">
      <div class="row-details" nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="12" nzSm="12" nzMd="10" nzLg="7" nzXl="6">
          <span class="detail-field">{{ 'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.TABLE.ACTIVITY' | translate }}</span>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="14" nzLg="17" nzXl="18">
          <span class="detail-data">{{
            application?.previous_activity_description ? application?.previous_activity_description : '-'
          }}</span>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="24">
      <div class="row-details" nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="24" nzXXl="6">
          <span class="detail-field">{{ 'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.TABLE.SCHEDULE' | translate }}</span>
        </div>
        <div nz-col nzXs="24" nzXXl="18">
          <nz-table
            class="schedule"
            [nzData]="application.preferred_schedule"
            [nzShowPagination]="false"
            [nzScroll]="{ x: '100px' }"
          >
            <thead>
              <tr>
                <th></th>
                <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.MONDAY' | translate }}</th>
                <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.TUESDAY' | translate }}</th>
                <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.WEDNESDAY' | translate }}</th>
                <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.THURSDAY' | translate }}</th>
                <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.FRIDAY' | translate }}</th>
                <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.SATURDAY' | translate }}</th>
                <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.SUNDAY' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of scheduleRows">
                <td class="schedule--period-day">{{ row.title | translate }}</td>
                <td *ngFor="let i of row.keys">
                  <i
                    *ngIf="application.preferred_schedule.includes(i)"
                    nz-icon
                    nzTheme="fill"
                    nzType="icons:icons-checkbox-checked"
                    class="schedule--active-checkbox"
                  ></i>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="24">
      <div class="row-details" nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="12" nzSm="12" nzMd="10" nzLg="7" nzXl="6">
          <span class="detail-field">{{ 'SOCIAL_SUPPORT.APPLICATIONS.REVIEW_APPLICATION.HOLIDAYS' | translate }}</span>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="14" nzLg="17" nzXl="18">
          <ng-container
            *ngTemplateOutlet="trueFalseTemplate; context: { value: application.has_holydays_availability }"
          ></ng-container>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="24">
      <div class="row-details" nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="12" nzSm="12" nzMd="10" nzLg="7" nzXl="6">
          <span class="detail-field">{{ 'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.TABLE.LANGUAGES' | translate }}</span>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="14" nzLg="17" nzXl="18">
          <span *ngFor="let lang of application?.language_skills" class="box-info">{{ lang }}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- END: APPLICATION -->

<!-- BEGIN: PROFESSIONAL EXPERIENCE -->
<ng-template #tabProfessionalExper>
  <div nz-row nzType="flex" nzJustify="start" nzGutter="34">
    <div nz-col nzXs="24">
      <div class="row-details" nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="12" nzMd="10" nzLg="7" nzXl="6">
          <span class="detail-field">{{
            'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.TABLE.PROFESSIONAL_EXPER' | translate
          }}</span>
        </div>
        <div nz-col nzXs="12" nzMd="14" nzLg="17" nzXl="18">
          <ng-container
            *ngTemplateOutlet="trueFalseTemplate; context: { value: application.has_profissional_experience }"
          ></ng-container>
        </div>
      </div>
    </div>
    <div nz-col nzXs="24">
      <div class="row-details" nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="12" nzMd="10" nzLg="7" nzXl="6">
          <span class="detail-field">{{
            'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.TABLE.DESCRIPTION_ACTI' | translate
          }}</span>
        </div>
        <div nz-col nzXs="12" nzMd="14" nzLg="17" nzXl="18">
          <span class="detail-data">{{ application?.job_description ? application?.job_description : '-' }}</span>
        </div>
      </div>
    </div>
    <div nz-col nzXs="24">
      <div class="row-details" nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="12" nzMd="10" nzLg="7" nzXl="6">
          <span class="detail-field">{{
            'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.TABLE.ADDITIONAL_INFO' | translate
          }}</span>
        </div>
        <div nz-col nzXs="12" nzMd="14" nzLg="17" nzXl="18">
          <span class="detail-data">{{ application?.observations ? application?.observations : '-' }}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- END: PROFESSIONAL EXPERIENCE -->

<!-- BEGIN: INTERVIEWS -->
<ng-template #tabInterviews>
  <app-interviews-list [interviews]="listing?.interview || []"></app-interviews-list>
</ng-template>
<!-- END: INTERVIEWS -->

<!-- BEGIN: COLLABORATION HISTORY -->
<ng-template #tabCollaborationHistory>
  <div nz-row nzType="flex" nzJustify="start">
    <div *ngFor="let history of listing?.historic_colaborations; let last = last" nz-col nzXs="24">
      <div nz-row class="row-details" nzGutter="34">
        <div nz-col nzXs="24" class="detail-title">
          {{
            history.experience_translations?.length > 1 ? (history.experience_translations | languageChange)?.title : ''
          }}
        </div>

        <div nz-col nzXs="12">
          <div class="detail-field">{{ 'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.TABLE.SCHOOL_YEAR' | translate }}</div>
          <div class="detail-data">{{ history.academic_year }}</div>
        </div>

        <div nz-col nzXs="12">
          <button
            *ngIf="'social_scholarship:experience-user-interest:certificate' | hasPermission"
            nz-button
            (click)="getExperienceCertificate(history?.user_manifest_id)"
          >
            {{ 'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.TABLE.BUTTON.CONSULT_CERTIFICATE' | translate }}
          </button>
        </div>
      </div>
      <nz-divider *ngIf="!last" class="row-details-divider"></nz-divider>
    </div>
  </div>
</ng-template>
<!-- END: COLLABORATION HISTORY -->

<!-- BEGIN: APPLICATION STATUS CHANGES -->
<ng-template #tabApplicationStatusChanges>
  <div nz-row nzType="flex" nzJustify="start">
    <div *ngFor="let history of listing?.history; let last = last" nz-col nzXs="24">
      <div nz-row class="row-details mb-0" nzGutter="34">
        <div nz-col nzXs="24" nzSm="8">
          <div nzXs="24" nzSm="12">
            <span class="detail-field">{{ 'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.TABLE.STATE' | translate }}</span>
          </div>
          <div nzXs="24" nzSm="12">
            <span class="detail-data">{{
              applicationStatusLabelMapper[history.status]
                ? (applicationStatusLabelMapper[history.status] | translate | titlecase)
                : '-'
            }}</span>
          </div>
        </div>

        <div nz-col nzXs="24" nzSm="8">
          <div nzXs="24" nzSm="12">
            <span class="detail-field">{{ 'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.TABLE.DATE_HOUR' | translate }}</span>
          </div>
          <div nzXs="24" nzSm="12" class="detail-data">{{ history.created_at | date: 'dd/MM/yyyy HH:mm' }}</div>
        </div>

        <div nz-col nzXs="24" nzSm="8">
          <div nzXs="24" nzSm="12">
            <span class="detail-field">{{ 'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.TABLE.USER' | translate }}</span>
          </div>
          <div nzXs="24" nzSm="12" class="detail-data">{{ history?.user?.name }}</div>
        </div>
      </div>
      <nz-divider *ngIf="!last" class="row-details-divider"></nz-divider>
    </div>
  </div>
</ng-template>
<!-- END: APPLICATION STATUS CHANGES -->

<ng-template #trueFalseTemplate let-value="value">
  <span [ngClass]="value ? 'box-yes' : 'box-no'">{{ value ? ('MISC.YES' | translate) : ('MISC.NO' | translate) }}</span>
</ng-template>
