<div class="container">
  <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th nzShowSort nzSortKey="name">Época</th>
        <th nzShowSort nzSortKey="date_begin">Data de Início</th>
        <th nzShowSort nzSortKey="date_end">Data de fim</th>
        <th nzShowSort nzSortKey="date_begin">Criado em</th>
        <th nzShowSort nzSortKey="date_end">Atulizado em</th>
        <th nzShowSort nzSortKey="active">Ativa</th>
        <th nzRight="0px" class="text-right">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">
        <tr>
          <td>{{data.name}}</td>
          <td>{{data.date_begin | date :'dd/MM/yyyy' }}</td>
          <td>{{data.date_end | date :'dd/MM/yyyy'}}</td>
          <td>{{data.created_at | date :'dd/MM/yyyy' }}</td>
          <td>{{data.updated_at | date :'dd/MM/yyyy'}}</td>
          <td>
            <fi-sas-tag [value]="data?.active"></fi-sas-tag>
          </td>
          <td nzRight="0px" class="text-right">
            <button nz-button nz-dropdown nzType="link" [nzDropdownMenu]="menu" nzPlacement="bottomRight"
              class="options_button"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li [nzDisabled]="!('bus:zones:update' | hasPermission)" nz-menu-item
                  [routerLink]="'/bus/season/update/' + data.id">Editar</li>
                <li [nzDisabled]="!('bus:zones:delete' | hasPermission)" (click)="deleteSeason(data.id)" nz-menu-item>
                  Eliminar
                </li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</div>