<nz-card class="m-b-16" >
  <div nz-row>
    <label><b>{{ 'SOCIAL_SUPPORT.DISPATCH.DECISION' | translate }}:</b></label>
    {{ decision | translate | titlecase }}
  </div>
  <div nz-row nzGutter="8" nzJustify="end" class="m-8">
    <div nz-col nzSpan="24">
      <button
        *ngFor="let action of actions; let last = last;"
        nz-button
        nz-popconfirm
        [ngClass]="{ 'm-r-8': !last }"
        [nzCancelText]="action.cancelText | translate"
        [nzOkText]="action.okText | translate"
        [nzTitle]="action.title | translate"
        [nzType]="action.btnType"
        (nzOnConfirm)="action.fn()"
      >{{ action.label | translate }}</button>
    </div>
  </div>
</nz-card>
