<StackLayout class="refectories">
  <!-- action bar -->
  <fi-action-bar [actionBarType]="4"></fi-action-bar>

  <!-- loader -->
  <StackLayout class="fisas__form__block" marginTop="40" *ngIf="isLoading">
    <ActivityIndicator
      row="1"
      #activityIndicator
      [busy]="isLoading"
      width="100%"
      height="50"
      color="lightgray"
      class="fisas__loading"
    ></ActivityIndicator>
  </StackLayout>

  <!-- scroll init -->
  <ScrollView row="0" *ngIf="!isLoading">
    <WrapLayout orientation="horizontal">
      <StackLayout class="refectories__list">
        <!-- schools -->
        <StackLayout class="refectories__list__li" *ngIf="schoolsScreen">
          <Label
            *ngFor="let item of schools; index as i"
            textWrap="true"
            width="100%"
            class="fisas__btn fisas__btn--padding"
            (tap)="choiceSchool(item)"
          >
            <FormattedString class="fisas__p--label">
              <Span fontWeight="bold" text="{{ item.name }}"></Span>
            </FormattedString>
          </Label>
        </StackLayout>

        <!-- refectories -->
        <StackLayout class="refectories__list__li" *ngIf="refectoryScreen">
          <Label
            *ngFor="let item of refectories; index as i"
            textWrap="true"
            width="100%"
            class="fisas__btn fisas__btn--padding"
            (tap)="choiceRefectory(item)"
          >
            <FormattedString class="fisas__p--label">
              <Span fontWeight="bold" text="{{ item.name }}"></Span>
            </FormattedString>
          </Label>
        </StackLayout>

        <!-- no-content -->
        <StackLayout
          width="100%"
          class="refectories__list__li"
          *ngIf="
            (schoolsScreen && !schools?.length) ||
            (refectoryScreen && refectories < 1)
          "
        >
          <Label
            class="fisas__p"
            marginTop="20"
            horizontalAlignment="center"
            verticalAlignment="center"
            text="{{ 'meals-list.no-content' | translate }}"
          ></Label>
        </StackLayout>
      </StackLayout>
    </WrapLayout>
  </ScrollView>
</StackLayout>
