<section class="cart-success">
  <div class="cart-success__content">
    <h1>{{ 'CART.SUCCESS.TITLE' | translate }}</h1>
    <div class="display-three">
      {{ 'CART.SUCCESS.DESCRIPTION' | translate }}
    </div>
  </div>

  <div class="cart-success__bottom" (tap)="back()">
    <div *ngIf="redirectTo">{{ 'CART.SUCCESS.BACK_CART' | translate }}</div>
    <div *ngIf="!redirectTo">{{ 'CART.SUCCESS.BACK' | translate }}</div>
    <span>{{ this.seconds }} {{ 'CART.SUCCESS.SECONDS' | translate }}</span>
  </div>
</section>
