@import 'theme';

@row-padding-x: 50px;
@row-padding-y: 30px;

.font-file {
  font-size: 12px;
  line-height: initial;
  padding-top: 5px;
}

@media screen and (max-width: 600px) {
  .top-mobile {
    padding-top: 10px;
  }
}


.top {
  padding-top: 25px;
  padding-bottom: 25px;
}

.offer-form {
  background-color: #fff;
  margin-bottom: 30px;
  padding-bottom: @row-padding-y;
  padding-top: @row-padding-y;

  & > .ant-row {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }

  &--title {
    color: #111111;
    font-family: Montserrat;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 1.14;
    margin-bottom: 30px;
  }

  &--fieldset-title {
    color: var(--primary-color);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &--general-error {
    margin-bottom: 30px;
  }

  &--tab-error {
    color: red;
  }

  &--file-types {
    color: #666666;
    font-family: Montserrat;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.5;
    margin-bottom: 23.5px;
    margin-right: 40px;
    margin-top: 8px;
  }
}

.switch {
  display: inline-flex;

  &--label {
    color: #222222;
    font-family: Montserrat;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.29;
    margin: auto;
    width: 80%;
  }

  &--input {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    margin-left: 73px;
    text-align: center;
    width: 20%;
  }
}

.primary-datePicker,
.primary-dateRangePicker {
  display: block;
  width: 100%;

  ::ng-deep .ant-calendar-picker {
    width: 100%;
  }
}
.error {
  color: red;
  margin-top: 5px;

  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}

.primary-slider-wrapper {
  .primary-input-label {
    padding-bottom: 10px;
  }
}

::ng-deep {
  .ant-input-suffix {
    height: auto;
    right: 0 !important;
    top: 0 !important;
    transform: none !important;
    width: auto;

    i {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 50px;
      justify-content: center;
      width: 50px;
    }
  }

  .primary-textarea,
  .primary-input {
    &.input-with-suffix {
      padding-right: 50px !important;
    }
  }

  .ant-input-affix-wrapper .ant-input:not(:last-child).primary-textarea {
    padding-right: 11px;
  }

  .ant-input-affix-wrapper .ant-input:not(:first-child).primary-textarea {
    padding-left: 11px;
  }
}
