@import 'theme';

.top {
  padding-top: 25px;
}
.shopping-cart{
  padding-bottom: 25px;
  padding-top: 10px;
  &__head{
    color: black;
    margin-bottom: 30px;
    &__title{
      font-weight: bolder;
      font-size: 24px;
      margin-bottom: 13px;
    }
    &__subtitle{
      font-size: 15px;
    }
  }
  &__body{
    background-color: white;
    color: var(--primary-color);
    padding-bottom: 10px;
    &__header{
      padding: 24px;
      font-size: 15px;
      background-color: #fafafa;
      &__place{
        margin-right: 10px;
        font-weight: bold;
        font-size: 17px;
      }
    }
    &__table{
      &__head{
        padding: 0px 10px;
        border-bottom: solid 1px var(--primary-color);
        &__col{
          padding: 16px 10px;
          background-color: white !important;
        }
      }
      &__row{
        padding: 0px 10px;
        &__individual{
          color: black;
          padding: 10px;
          font-weight: 400;
          &__quantity{
            border: solid 1px;
            padding: 5px;
            border-radius: 4px;
            margin: 0px 8px;
          }
        }
      }
      &__total{
        text-align: center;
        margin: 14px 0px;
        &__title{
          border-top: solid 1px var(--primary-color);
          color: black;
          padding-top: 7px;
          font-weight: 600;
          font-size: 16px;
        }
        &__price{
          border-top: solid 1px var(--primary-color);
          padding-top: 7px;
          font-weight: 600;
          color: black;
        }
      }
      &__proceed{
        border-top: solid 1px var(--primary-color);
        &__btn-div{
          padding: 15px;
          text-align: right;
          &__btn{
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 20px;
            background-color: var(--primary-color);
            border: 2px solid var(--primary-color);
            color: white;
            font-weight: bold;
          }
          &__btn:hover{
            color: var(--primary-color);
            border: 2px solid var(--primary-color);
            background-color: white;
          }
        }
      }
    }
  }
}

.go-right{
  text-align: right;
}


.icon{
  &__minus{
    cursor: pointer;
    font-size: 15px;
    color: red !important;
  }
  &__plus{
    cursor: pointer;
    font-size: 15px;
    color: var(--primary-color);
  }
}



.after-box {
  background-color: white;
  color: black;
}

.after-box-negative-value {
  background-color: white;
  color: red;
}



.box-current-account-before {
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  padding: 25px;
}

.box-current-account-after {
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  padding: 25px;
  background-color: var(--primary-color);
  color: white;
}


.text-center {
  text-align: center;
}


.caret-up-style {
  color:white;
  font-size: 50px;
  &-none {
    color:#f0f2f5;
    font-size: 50px;
  }
}

.detail-payment {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  margin-top:-16px;
}

.margin-top-10 {
  margin: 0px 10px;
  @media screen and (max-width: 600px) {
    margin: 0px 0px !important;
  }
}

.box-input {
  padding: 12px;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
}

.color-text-value {
  color: var(--primary-color);
}


.button-style-movements {
  color: var(--primary-color);
  height: 32px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  background-color: white;
  border-radius: 21px;
  border: solid 2px var(--primary-color);
}
.button-style-movements:hover {
  background-color: var(--primary-color);
  color: white;
}

.button-style-uploads {
  margin-left:15px;
  color: white;
  height: 32px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  background-color: var(--primary-color);
  border-radius: 21px;
  border: solid 2px var(--primary-color);
}

.button-style-uploads:hover {
  background-color: white;
  color: var(--primary-color);
  border: solid 2px var(--primary-color);
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}


#icon-delete-cart::ng-deep svg {
  path {
      fill: var(--primary-color);
  }
}

.button-style-clear {
  color: #333333;
  height: 32px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  background-color: white;
  border-radius: 21px;
  border: solid 2px var(--primary-color);
}


.hidden-md {
  display: none;
}

.icon-delete-item {
  cursor: pointer;
  font-size: 15px;
  padding-left: 10px;
}

#delete-item-cart::ng-deep svg {
  path {
      fill: grey;
  }
}

@media screen and (max-width: 800px) {
  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display: block;
  }
  .margin-bottom-15 {
    margin-bottom: 15px;
  }

  .font-label-mobile {
    color: black;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display: block;
  }
  .margin-bottom-15 {
    margin-bottom: 15px;
  }

  .font-label-mobile {
    color: black;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .padding-top-10 {
    padding-top: 10px;
  }
}

.table-mobile {
  background-color: white;
  padding-top: 10px;
  padding-left: 10px;
}