<div nz-row>
  <div nz-col [nzSm]="1" [nzMd]="2" [nzXs]="1">

  </div>
  <div nz-col [nzSm]="22" [nzMd]="20" [nzXs]="22" class="top">
    <h2 class="title-top-page"> {{'SHOPPING_CART.PAGE.HEAD.TITLE' | translate}}</h2>
    <p class="sub-title-top-page"> {{'SHOPPING_CART.PAGE.HEAD.SUBTITLE' | translate}}</p>
</div>
  <div nz-col [nzSm]="1" [nzMd]="2" [nzXs]="1">

  </div>
</div>

<div nz-row class="shopping-cart">

  <!--BODY-->
  <div nz-col [nzSm]="1" [nzMd]="2" [nzXs]="1">

  </div>
  <div nz-col [nzSm]="22" [nzMd]="20" [nzXs]="22">
    <div nz-row>
      <div nz-col [nzSpan]="24" *ngIf="cartData.length==0" style="text-align: center;">
        <nz-empty [nzNotFoundContent]="'ALIMENTATION.NO_RESULTS' | translate"></nz-empty>
      </div>
      <div *ngIf="cartData.length>0">
        <div nz-col [nzSpan]="24" *ngFor="let cart of cartData, let idx = index;">
          <!--Header-->
          <div nz-row class="shopping-cart__body shopping-cart__body__header">
            <div nz-col [nzSpan]="12">
              <span class="shopping-cart__body__header__place">
                {{getAccountName(cart.account_id)}}
              </span>
            </div>
            <div nz-col [nzSpan]="12" style="text-align: right;">
              <button nz-button type="button" class="button-style-clear" nz-tooltip
                [nzTitle]="'ALIMENTATION.CLEAR' | translate" (click)="clearCart(cart.account_id)">
                <i nz-icon nzType="delete" nzTheme="outline" style="font-size: 16px;" id="icon-delete-cart"></i>
              </button>

            </div>

          </div>
          <!--Table-->
          <div nz-row class="shopping-cart__body shopping-cart__body__table hidden-xs">
            <div nz-col nzXs="24" nzLg="24" nzXl="24">
              <!--Table Header-->
              <div nz-row nzType="flex" class="shopping-cart__body__table__head">
                <div class="shopping-cart__body__table__head__col" nz-col nzXs="5" nzLg="2" nzXl="2">
                  {{ 'SHOPPING_CART.PAGE.TABLE.HEADER.CODE' | translate}}
                </div>
                <div class="shopping-cart__body__table__head__col" nz-col nzXs="5" nzLg="3" nzXl="3">
                  {{("DASHBOARD.WIDGETS.MEALS_LOGGED.DATE_CREATE" | translate)}}
                </div>
                <div class="shopping-cart__body__table__head__col" nz-col nzXs="7" nzLg="4" nzXl="4">
                  {{ 'SHOPPING_CART.PAGE.TABLE.HEADER.DESCRIPTION' | translate}}
                </div>
                <div class="shopping-cart__body__table__head__col" nz-col nzXs="4" nzLg="5" nzXl="5">
                  {{ 'SHOPPING_CART.PAGE.TABLE.HEADER.NAME' | translate}}
                </div>
                <div class="shopping-cart__body__table__head__col go-right" nz-col nzXs="4" nzLg="3" nzXl="3">
                  {{ 'SHOPPING_CART.PAGE.TABLE.HEADER.QUANTITY' | translate}}
                </div>
                <div class="shopping-cart__body__table__head__col go-right" nz-col nzXs="4" nzLg="3" nzXl="3">
                  {{ 'SHOPPING_CART.PAGE.TABLE.HEADER.PRICE_UNIT' | translate}}
                </div>
                <div class="shopping-cart__body__table__head__col go-right" nz-col nzXs="4" nzLg="3" nzXl="3">
                  {{ 'SHOPPING_CART.PAGE.TABLE.HEADER.VALUE' | translate}}
                </div>
              </div>
            </div>
            <div nz-col nzXs="24" nzLg="24" nzXl="24">
              <!--Table Body-->
              <div nz-row nzType="flex" *ngFor="let item of cart.items" class="shopping-cart__body__table__row">
                <div class="shopping-cart__body__table__row__individual" nz-col nzXs="5" nzLg="2" nzXl="2">
                  {{item.extra_info.menu_dish_id ? item.extra_info.menu_dish_id : ' '}}
                </div>
                <div class="shopping-cart__body__table__row__individual" nz-col nzXs="5" nzLg="3" nzXl="3">
                  {{item?.created_at | date: 'dd-MM-yyyy'}}
                </div>
                <div class="shopping-cart__body__table__row__individual" nz-col nzXs="7" nzLg="4" nzXl="4">
                  {{item.description}}
                </div>
                <div class="shopping-cart__body__table__row__individual" nz-col nzXs="4" nzLg="5" nzXl="5">
                  {{item.name }}
                  <br>
                 <span style="font-weight: 500;" *ngIf="item.article_type === 'REFECTORY'">{{item.extra_info.refectory_meal_type}} - {{item.extra_info.refectory_meal_category == "dinner" ?
                  ("DASHBOARD.WIDGETS.MEALS_LOGGED.DINNER" |
                  translate) : ("DASHBOARD.WIDGETS.MEALS_LOGGED.LUNCH" | translate)}} {{item?.extra_info?.refectory_consume_at ? '- ' + (item?.extra_info?.refectory_consume_at | date: 'dd-MM-yyyy') : ''}}</span>
                </div>
                <div class="shopping-cart__body__table__row__individual go-right" nz-col nzXs="4" nzLg="3" nzXl="3">
                  <i nz-icon nzType="icons:icons-minus" class="icon__minus" nzTheme="outline"
                    (click)="quantityChange(item.id, item.quantity, 'DECREMENT', item.max_quantity)"></i>
                  <span class="shopping-cart__body__table__row__individual__quantity">
                    {{item?.quantity}}
                  </span>
                  <i nz-icon nzType="icons:icons-plus" class="icon__plus" nzTheme="outline"
                    (click)="quantityChange(item.id, item.quantity, 'INCREMENT', item.max_quantity)"></i>
                </div>
                <div class="shopping-cart__body__table__row__individual go-right" nz-col nzXs="4" nzLg="3" nzXl="3">
                  {{(item?.unit_value) | currency : 'EUR'}}
                </div>
                <div class="shopping-cart__body__table__row__individual go-right" nz-col nzXs="4" nzLg="3" nzXl="3">
                  {{(item?.total_value) | currency : 'EUR'}}
                  <i nz-icon nzType="close" nzTheme="outline" class="icon-delete-item" id="delete-item-cart"
                    (click)="quantityChange(item.id, item.quantity, 'REMOVE', item.max_quantity)"></i>
                </div>
              </div>
            </div>
            <div nz-col nzXs="24" nzLg="24" nzXl="24">
              <!--Total to Pay-->
              <div nz-row nzType="flex" class="shopping-cart__body__table__total">
                <div nz-col nzXs="24" nzLg="18" nzXl="19"></div>
                <div nz-col nzXs="24" nzLg="4" nzXl="3" class="shopping-cart__body__table__total__title">
                  Total:
                </div>
                <div nz-col nzXs="24" nzLg="2" nzXl="2" class="shopping-cart__body__table__total__price">
                  {{getCartTotal(cart) | currency : 'EUR'}}
                </div>
              </div>
              <!--Proceed to Pay btn-->
              <div nz-row nzType="flex" class="shopping-cart__body__table__proceed">
                <div nz-col [nzSpan]="24" class="shopping-cart__body__table__proceed__btn-div">
                  <button class="shopping-cart__body__table__proceed__btn-div__btn"
                    (click)="setAccountDetails(idx,cart.account_id,cart.id)">
                    {{'SHOPPING_CART.PAGE.BTN' | translate}}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div nz-row class="hidden-md table-mobile">
            <div class="margin-top-20">
              <div *ngFor="let item of cart.items">
                <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label class="font-label-mobile"> {{
                    'SHOPPING_CART.PAGE.TABLE.HEADER.CODE' | translate}}:</label>
                  {{item.extra_info.menu_dish_id ? item.extra_info.menu_dish_id : ' '}}
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label class="font-label-mobile"> {{
                    'SHOPPING_CART.PAGE.TABLE.HEADER.DESCRIPTION' | translate}}:</label>
                  {{item.description}}
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label class="font-label-mobile"> {{
                    'SHOPPING_CART.PAGE.TABLE.HEADER.NAME' | translate}}:</label>
                  {{item.name }} - {{item.extra_info.refectory_meal_category == "dinner" ?
                  ("DASHBOARD.WIDGETS.MEALS_LOGGED.DINNER" |
                  translate) : ("DASHBOARD.WIDGETS.MEALS_LOGGED.LUNCH" | translate)}}
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label class="font-label-mobile"> {{
                    'SHOPPING_CART.PAGE.TABLE.HEADER.QUANTITY' | translate}}:</label>
                  <i nz-icon nzType="icons:icons-minus" class="icon__minus" nzTheme="outline"
                    (click)="quantityChange(item.id, item.quantity, 'DECREMENT', item.max_quantity)"></i>
                  <span class="shopping-cart__body__table__row__individual__quantity">
                    {{item?.quantity}}
                  </span>
                  <i nz-icon nzType="icons:icons-plus" class="icon__plus" nzTheme="outline"
                    (click)="quantityChange(item.id, item.quantity, 'INCREMENT', item.max_quantity)"></i>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label class="font-label-mobile"> {{
                    'SHOPPING_CART.PAGE.TABLE.HEADER.PRICE_UNIT' | translate}}:</label>
                  {{(item?.unit_value) | currency : 'EUR'}}
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label class="font-label-mobile"> {{
                    'SHOPPING_CART.PAGE.TABLE.HEADER.VALUE' | translate}}:</label>
                  {{(item?.total_value) | currency : 'EUR'}}
                  <i nz-icon nzType="close" nzTheme="outline" class="icon-delete-item" id="delete-item-cart"
                    (click)="quantityChange(item.id, item.quantity, 'REMOVE', item.max_quantity)"></i>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" nzType="flex">
                  <div nz-row>
                    <div nz-col nzXs="12" nzLg="12" nzXl="12"></div>
                    <div nz-col nzXs="6" nzLg="6" nzXl="6" class="shopping-cart__body__table__total__title">
                      Total:
                    </div>
                    <div nz-col nzXs="6" nzLg="6" nzXl="6" class="shopping-cart__body__table__total__price">
                      {{getCartTotal(cart) | currency : 'EUR'}}
                    </div>
                  </div>

                </div>
                <nz-divider></nz-divider>
              </div>
              <div nz-col [nzSpan]="24" class="shopping-cart__body__table__proceed__btn-div">
                <button class="shopping-cart__body__table__proceed__btn-div__btn"
                  (click)="setAccountDetails(idx,cart.account_id,cart.id)">
                  {{'SHOPPING_CART.PAGE.BTN' | translate}}
                </button>
              </div>
            </div>
          </div>
          <!--Payment-->
          <div nz-row nzType="flex" nzJustify="center" *ngIf="cart.id === toPayID">
            <div nz-col [nzSpan]="24">
              <div nz-row class="text-center">
                <i nz-icon nzType="caret-up" class="caret-up-style" nzTheme="outline"></i>
              </div>
            </div>
          </div>
          <div nz-row nzType="flex" nzAlign="middle" *ngIf="cart.id === toPayID">
            <div nz-col [nzSpan]="24">
              <div class="detail-payment">
                <div nz-row nzType="flex" nzAlign="middle">
                  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" [nzLg]="11" [nzXl]="5" [nzXXl]="5" style="padding:25px">
                    <div nz-row>
                      <label><b>{{'SHOPPING_CART.PAGE.VALUE_TO_PAY' |
                          translate}}</b></label>
                    </div>
                    <div nz-row class="margin-top-10">
                      <div nz-row class="box-input color-text-value">
                        {{getCartTotal(cart) | currency : 'EUR'}}
                      </div>
                    </div>
                  </div>
                  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="6" [nzXXl]="6"
                    class="box-current-account-before margin-top-10">
                    <div nz-row>
                      <label><b>{{'SHOPPING_CART.PAGE.CC_BEFORE_TRANSACTION' |
                          translate}}</b></label>
                    </div>
                    <div nz-row class="box-input">
                      {{currentBalance ? ((currentBalance) | currency : 'EUR'): '0'}}
                    </div>
                  </div>
                  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="11" [nzXl]="6" [nzXXl]="6">
                    <div class="box-current-account-after margin-left-10 margin-top-10">
                      <div nz-row>
                        <label><b>{{'SHOPPING_CART.PAGE.CC_AFTER_TRANSACTION' |
                            translate}}</b></label>
                      </div>
                      <div nz-row class="box-input" [ngClass]="{
                        'after-box': currentBalance - getCartTotalInt(cart) >= 0,
                        'after-box-negative-value': currentBalance - getCartTotalInt(cart) < 0}
                      ">
                            {{(currentBalance - getCartTotalInt(cart)) | currency : 'EUR' }}
                      </div>
                    </div>


                  </div>

                  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" [nzLg]="11" [nzXl]="6" [nzXXl]="6"
                    class="button-box-payments text-center padding-top-10">
                    <button nz-button type="button" class="button-style-movements" (click)="toPayID = ''">
                      {{'SHOPPING_CART.PAGE.CANCEL_PAYMENT' | translate}}
                    </button>

                    <button *ngIf="true" nz-button type="button" class="button-style-uploads" [nzLoading]="loadingCheckout"
                      (click)="goToCheckout(cart.account_id)"
                      [disabled]="currentBalance - getCartTotalInt(cart)<0 ? true : false">
                      {{'SHOPPING_CART.PAGE.CONFIRM_PAYMENT' | translate}}
                    </button>
                  </div>
                </div>
                <div nz-row *ngIf="currentBalance - getCartTotalInt(cart)<0"
                  class="after-box-negative-value text-center" style="padding-top:20px">
                  <label><b> <i nz-icon nzType="warning" style="font-size: 17px;" nzTheme="outline"></i>
                      {{'CURRENT_ACCOUNT.PAYMENTS.INSUFFICIENT_FOUNDS' |
                      translate}}</b></label>
                </div>
              </div>
            </div>
          </div>
          <!--Footer-->
        </div>
      </div>
    </div>

  </div>
  <div nz-col [nzSm]="1" [nzMd]="2" [nzXs]="1">

  </div>


</div>
