<div class="content-form">
  <form [formGroup]="propertyForm" nzLayout="vertical">

    <div nz-row>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="city">Proprietário</nz-form-label>
        <nz-form-control>
          <nz-select nzMode="default" formControlName="owner_id" [nzLoading]="owners_loading">
            <nz-option *ngFor="let owner of owners" [nzLabel]="owner?.user.name" [nzValue]="owner.id"></nz-option>
          </nz-select>
        </nz-form-control>
        <nz-form-explain class="color-required" *ngIf="submitted && f.owner_id.errors">
          Campo obrigatório
        </nz-form-explain>
      </nz-form-item>
    </div>
    <div nz-row>
      <nz-spin [nzSpinning]="languages_loading">
        <ng-container formArrayName="translations">
          <nz-tabset [nzTabBarExtraContent]="languageTemplate" #translationTabsTitle>
            <nz-tab *ngFor="let translation of translations.controls; let i = index;"
              [nzTitle]="getLanguageName(translation.value.language_id)">
              <ng-container [formGroupName]="i">
                <nz-form-item>
                  <nz-form-label nzFor="name" nzRequired>Título da Propriedade</nz-form-label>
                  <nz-form-control>
                    <input nz-input formControlName="name" id="name" name="name">
                  </nz-form-control>
                  <nz-form-explain class="color-required"
                    *ngIf="submitted && propertyForm.get('translations.' + i + '.name')?.errors">
                    Campo obrigatório
                  </nz-form-explain>
                </nz-form-item>
              </ng-container>

            </nz-tab>

          </nz-tabset>
        </ng-container>
      </nz-spin>
      <nz-form-explain class="color-required" *ngIf="listOfSelectedLanguages.length === 0" style="padding-top: 20px;">
        Obrigatório preencher pelo menos uma tradução
      </nz-form-explain>
    </div>

    <div nz-row>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="house_typology">Tipo de habitação</nz-form-label>
        <nz-form-control>

          <nz-radio-group formControlName="house_typology">
            <label *ngFor="let houseTypology of houseTypologies" nz-radio nzValue="{{ houseTypology.value}}"><span>
                {{ houseTypology.label }}</span>
            </label>
          </nz-radio-group>

        </nz-form-control>
        <nz-form-explain class="color-required" *ngIf="submitted && f.house_typology.errors">
          Campo obrigatório
        </nz-form-explain>
      </nz-form-item>
    </div>
    <div nz-row>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="typology_id">Tipologia</nz-form-label>

        <nz-form-control>

          <nz-radio-group formControlName="typology_id">

            <ng-template #indicatorTemplate><i nz-icon type="loading" style="font-size: 24px;"></i> </ng-template>
            <nz-spin nzSimple [nzSpinning]='typologies_loading' [nzIndicator]="indicatorTemplate"> </nz-spin>

            <label *ngFor="let typology of typologies" nz-radio [nzValue]="typology.id"><span>
                {{ typology.name }}</span>
            </label>
          </nz-radio-group>

        </nz-form-control>
        <nz-form-explain class="color-required" *ngIf="submitted && f.typology_id.errors">
          Campo obrigatório
        </nz-form-explain>

      </nz-form-item>
    </div>

    <div nz-row>
      <div nz-col nzXs=24 nzSm=24 nzMd=12 nzLg=8 nzXl=8 nzXXl=4>
        <nz-form-item>
          <nz-form-label nzRequired nzFor="floor">Piso</nz-form-label>
          <nz-form-control>
            <input nz-input type="number" formControlName="floor" id="floor" name="floor">
          </nz-form-control>
          <nz-form-explain class="color-required" *ngIf="submitted && f.floor.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzXs=24 nzSm=24 nzMd=12 nzLg=12 nzXl=8 nzXXl=8>
        <nz-form-item>
          <nz-form-label nzRequired nzFor="house_typology">Espaço utilizável</nz-form-label>

          <nz-form-control>
            <nz-radio-group formControlName="usable_space" (ngModelChange)="changeUsableSpace($event);">
              <label *ngFor="let usableSpace of usableSpaces" nz-radio nzValue="{{ usableSpace.value}}"><span>
                  {{ usableSpace.label }}</span>
              </label>
            </nz-radio-group>
          </nz-form-control>
          <nz-form-explain class="color-required" *ngIf="submitted && f.usable_space.errors">
            Campo obrigatório
          </nz-form-explain>
          <nz-form-explain class="color-required" *ngIf="submitted && errorRoom">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>
      </div>
    </div>

    <div *ngIf="propertyForm.get('usable_space').value == 'WHOLE_HOUSE'" nz-row>
      <div nz-col nzXs=24 nzSm=24 nzMd=12 nzLg=8 nzXl=8 nzXXl=4>
        <nz-form-item>
          <nz-form-label nzRequired nzFor="area">Área</nz-form-label>
          <nz-form-control>

            <nz-input-group nzAddOnAfter="m²">
              <input type="number" nz-input formControlName="area" />
            </nz-input-group>
            <nz-form-explain class="color-required" *ngIf="submitted && f.area.errors">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div *ngIf="propertyForm.get('usable_space').value == 'WHOLE_HOUSE'" nz-row>
      <div nz-col nzXs=24 nzSm=24 nzMd=12 nzLg=8 nzXl=8 nzXXl=4>
        <nz-form-item>
          <nz-form-label nzRequired nzFor="price">Preço</nz-form-label>
          <nz-form-control>

            <nz-input-group nzAddOnAfter="€">
              <input type="number" nz-input formControlName="price" />
            </nz-input-group>

          </nz-form-control>
          <nz-form-explain class="color-required" *ngIf="submitted && f.price.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>
      </div>
    </div>

    <div *ngIf="propertyForm.get('usable_space').value == 'WHOLE_HOUSE'" nz-row>
      <div nz-col nzSpan="24">

        <nz-spin [nzSpinning]="languages_loading">
          <ng-container formArrayName="translations">
            <nz-tabset [nzTabBarExtraContent]="languageTemplate" #translationTabsWhole>
              <nz-tab *ngFor="let translation of translations.controls; let i = index;"
                [nzTitle]="getLanguageName(translation.value.language_id)">
                <ng-container [formGroupName]="i">
                  <nz-form-item>
                    <nz-form-label nzFor="description" nzRequired>Descrição</nz-form-label>
                    <nz-form-control>
                      <textarea rows="4" maxlength="255" nz-input formControlName="description"></textarea>
                    </nz-form-control>
                    <nz-form-explain class="color-required"
                      *ngIf="submitted && propertyForm.get('translations.' + i + '.description')?.errors">
                      Campo obrigatório
                    </nz-form-explain>
                  </nz-form-item>
                </ng-container>

              </nz-tab>

            </nz-tabset>
          </ng-container>
        </nz-spin>
        <div *ngIf="listOfSelectedLanguages.length === 0">
          <span class="error_languages_min"> Obrigatório preencher pelo menos uma tradução</span>
        </div>

      </div>
    </div>

    <div *ngIf="propertyForm.get('usable_space').value == 'SHARED_ROOM'" formArrayName="rooms">
      <div *ngFor="let room of rooms.controls; let roomIndex = index" [formGroupName]="roomIndex"
        class="padding-top-15">
        <span class="text-title"> Quarto - {{roomIndex + 1}} </span>
        <nz-divider></nz-divider>

        <div nz-row>
          <button nz-button nzType="danger" type="button" (click)="removeRoom(roomIndex)"
            style="float:right; cursor:pointer">
            <i nz-icon type="delete"></i>
          </button>
        </div>

        <div nz-row>
          <div nz-col nzXs=24 nzSm=24 nzMd=12 nzLg=8 nzXl=8 nzXXl=4>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="area">Área</nz-form-label>
              <nz-form-control>

                <nz-input-group nzAddOnAfter="m²">
                  <input type="number" nz-input formControlName="area" />
                </nz-input-group>

              </nz-form-control>
              <nz-form-explain class="color-required"
                *ngIf="submitted && propertyForm.get('rooms.' + roomIndex + '.area')?.errors">
                Campo Obrigatório
              </nz-form-explain>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzXs=24 nzSm=24 nzMd=12 nzLg=8 nzXl=8 nzXXl=4>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="price">Preço</nz-form-label>
              <nz-form-control>

                <nz-input-group nzAddOnAfter="€">
                  <input type="number" nz-input formControlName="price" />
                </nz-input-group>

              </nz-form-control>
              <nz-form-explain class="color-required"
                *ngIf="submitted && propertyForm.get('rooms.' + roomIndex + '.price')?.errors">
                Campo Obrigatório
              </nz-form-explain>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzXs=24 nzSm=24 nzMd=12 nzLg=8 nzXl=8 nzXXl=4>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="room_type">Tipo</nz-form-label>
              <nz-form-control>

                <nz-radio-group formControlName="room_type">
                  <label nz-radio [nzValue]="'PRIVATE_ROOM'"><span>
                      Quarto Privado</span></label>
                  <label nz-radio [nzValue]="'SHARED_ROOM'"><span>
                      Quarto Partilhado</span></label>
                </nz-radio-group>

              </nz-form-control>
              <nz-form-explain class="color-required"
                *ngIf="submitted && propertyForm.get('rooms.' + roomIndex + '.room_type')?.errors">
                Campo Obrigatório
              </nz-form-explain>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzXs=24 nzSm=24 nzMd=12 nzLg=8 nzXl=8 nzXXl=4>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="shared_wc">Casa de banho privada</nz-form-label>
              <nz-form-control>

                <nz-switch formControlName="shared_wc" nzCheckedChildren="Sim" nzUnCheckedChildren="Não">
                </nz-switch>

              </nz-form-control>
              <nz-form-explain class="color-required"
                *ngIf="submitted && propertyForm.get('rooms.' + roomIndex + '.shared_wc')?.errors">
                Campo Obrigatório
              </nz-form-explain>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="24">

            <nz-spin [nzSpinning]="languages_loading">
              <ng-container formArrayName="translations">

                <nz-tabset [nzTabBarExtraContent]="languageTemplateRooms" #tabRoomTrans>

                  <nz-tab *ngFor="let descrip of getDescriptionTranslation(roomIndex).controls; let i = index;"
                    [nzTitle]="getLanguageName(descrip.value.language_id)">
                    <ng-container [formGroupName]="i">
                      <nz-form-item>
                        <nz-form-label nzFor="description" nzRequired>Descrição</nz-form-label>
                        <nz-form-control>
                          <textarea rows="4" maxlength="255" nz-input formControlName="description"></textarea>
                        </nz-form-control>
                        <nz-form-explain class="color-required"
                          *ngIf="submitted && propertyForm.get('rooms.' + roomIndex  + '.translations.' + i + '.description')?.errors">
                          Campo Obrigatório
                        </nz-form-explain>
                      </nz-form-item>
                    </ng-container>
                  </nz-tab>
                </nz-tabset>
              </ng-container>
              <div *ngIf="listOfSelectedLanguagesRooms[roomIndex].length === 0">
                <span class="error_languages_min"> Obrigatório preencher pelo menos uma tradução </span>
              </div>
            </nz-spin>

          </div>
          <ng-template #languageTemplateRooms>
            <nz-select class="languages" nzMode="multiple" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="listOfSelectedLanguagesRooms[roomIndex]" [nzMaxTagCount]="1" nzPlaceHolder="Línguas"
              [nzLoading]="languages_loading" (ngModelChange)="changeLanguageRooms(roomIndex)">
              <nz-option *ngFor="let language of languages" [nzLabel]="language.name" [nzValue]="language.id">
              </nz-option>
            </nz-select>
          </ng-template>
        </div>

      </div>
      <div nz-row class="margin-top-15">
        <button nz-button nzType="primary" type="button" (click)="addNewRoom()">
          Adicionar Quarto
        </button>
      </div>
    </div>


  </form>
</div>


<ng-template #languageTemplate>
  <nz-select class="languages" nzMode="multiple" [(ngModel)]="listOfSelectedLanguages" [nzMaxTagCount]="1"
    nzPlaceHolder="Línguas" [nzLoading]="languages_loading" (ngModelChange)="changeLanguage()">
    <nz-option *ngFor="let language of languages" [nzLabel]="language.name" [nzValue]="language.id"></nz-option>
  </nz-select>
</ng-template>
