<div class="container">
  <form nz-form [formGroup]="experienceForm">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
        <div nz-row>
          <nz-form-label>Mês</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="month" id="month" name="month" style="width: 100%;">
              <nz-option *ngFor="let month of list_months" [nzLabel]="month.description" [nzValue]="month.month">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </div>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
        <div nz-row>
          <nz-form-label>Ano</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="year" id="year" name="year" style="width: 100%;">
              <nz-option *ngFor="let year of list_years" [nzLabel]="year" [nzValue]="year"></nz-option>
            </nz-select>
          </nz-form-control>
        </div>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
        <div nz-row>
          <nz-form-label>Estado</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="status" id="year" name="status" style="width: 100%;">
              <nz-option *ngFor="let status of list_status" [nzLabel]="status.description" [nzValue]="status.status">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </div>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
        <div nz-row>
          <nz-form-label>Experiência</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="experience" id="experience" name="experience" style="width: 100%;"
              (ngModelChange)="selectUserInterest()">
              <nz-option *ngFor="let experience of list_experiences_advisor"
                [nzLabel]="experience.translations[0]?.title" [nzValue]="experience.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </div>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
        <div nz-row>
          <nz-form-label>Colaboradores</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="interest" id="interest" name="interest" style="width: 100%;">
              <nz-option *ngFor="let colaboration of list_user_interests" [nzLabel]="colaboration.user.name"
                [nzValue]="colaboration.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </div>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="12" [nzLg]="16" [nzXl]="17" [nzXXl]="17"></div>
      <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
        <button nz-button nzType="secundary" class="btn"
          [disabled]="!('social_scholarship:payment-grid:create' | hasPermission) || loading" [nzLoading]="loading"
          (click)="createPaymentGrid()">Criar Grelha</button>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
        <button nz-button nzType="primary" class="btn" (click)="applyFilters()">Filtrar</button>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
        style="text-align: left;">
        <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
      </div>

    </div>
  </form>
</div>

<div class="container">
  <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th>Nº Estudante</th>
        <th>Nome Estudante</th>
        <th>NIF</th>
        <th>CC</th>
        <th>IBAN</th>
        <th>Experiência</th>
        <th>Mês/Ano</th>
        <th>Unidade Orgânica</th>
        <th>Orientador</th>
        <th>Nº horas </th>
        <th>Valor a pagar por IBAN</th>
        <th>Valor a pagar por CC</th>
        <th>Horas Transitadas</th>
        <th>Estado</th>
        <th nzRight="0px" class="text-right">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of refTable.data; let i = index">
        <td>
          {{data?.user_interest?.application?.student_number}}
        </td>
        <td>
          {{data?.user_interest?.application?.student_name}}
        </td>
        <td>
          {{data?.user_interest?.application?.student_tin}}
        </td>
        <td>
          {{data?.user_account?.name}}
        </td>
        <td>
          {{data?.iban }}
        </td>
        <td>
          {{data?.user_interest?.experience?.translations[0]?.title}}
        </td>
        <td>
          {{data?.payment_month}}/{{data?.payment_year}}
        </td>
        <td>
          {{data?.user_interest?.experience?.organic_unit?.name}}
        </td>
        <td>
          {{data?.user_interest?.experience?.experience_advisor?.name}}
        </td>
        <td>
          {{data?.hours_pay}} h
        </td>
        <td>
          {{data?.payment_value_iban}} €
        </td>
        <td>
          {{data?.payment_value_ca}} €
        </td>
        <td>
          {{data?.hours_transit}} h
        </td>
        <td *ngIf="data.status === 'PENDING'">
          <div style="font-size: 12px; width: 80px; border-radius: 4px; background-color: #0d69dd; text-align: center; color: white;">
            Pendente
          </div>
        </td>
        <td *ngIf="data.status === 'REOPEN'">
          <div style="font-size: 12px; width: 80px; border-radius: 4px; background-color: #ffc400; text-align: center; color: white;">
            Reaberto
          </div>
        </td>
        <td *ngIf="data.status === 'APPROVED'">
          <div style="font-size: 12px; width: 80px; border-radius: 4px; background-color: #1dba7c; text-align: center; color: white;">
            Aprovado
          </div>
        </td>
        <td *ngIf="data.status === 'PAYED'">
          <div style=" width: 80px; border-radius: 7px; background-color: black; text-align: center; color: white;">
            Pago
          </div>
        </td>
        <td nzRight="0px" class="text-right">
          <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
            nzPlacement="bottomRight">
            <i nz-icon nzType="dash" nzTheme="outline"></i>
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li [nzDisabled]="!('social_scholarship:payment-grid:update' | hasPermission)"
                *ngIf="data.status === 'PENDING'" nz-menu-item (click)="toggleAccessModal(data, 'PENDING')">
                Editar
              </li>
              <li
                [nzDisabled]="(!('social_scholarship:payment-grid:reopen' | hasPermission) || !('social_scholarship:payment-grid:update' | hasPermission))"
                *ngIf="data.status === 'REOPEN'" nz-menu-item (click)="toggleAccessModal(data, 'REOPEN')">
                Editar
              </li>
              <li [nzDisabled]="!('social_scholarship:payment-grid:approve' | hasPermission)"
                *ngIf="(data.status === 'PENDING' || data.status === 'REOPEN')" nz-menu-item
                (click)="confirmApprove(data.id)">
                Aprovar
              </li>
              <li [nzDisabled]="!('social_scholarship:payment-grid:reopen' | hasPermission)"
                *ngIf="data.status === 'APPROVED'" nz-menu-item (click)="confirmReopen(data.id)">
                Reabrir
              </li>
              <li [nzDisabled]="!('social_scholarship:payment-grid:pay' | hasPermission)"
                *ngIf="data.status === 'APPROVED'" nz-menu-item (click)="confirmPay(data.id)">
                Pago
              </li>
              <li nz-menu-item (click)="printGrid(data.id)">
                Imprimir grelha
              </li>
            </ul>
          </nz-dropdown-menu>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<nz-modal [nzVisible]="accessModalVisible" (nzOnCancel)="toggleAccessModal(null, null)" (nzOnOk)="editPaymentGrid()"
  nzWidth="900" [nzOkText]="'Gravar'" [nzCancelText]="'Fechar'">
  <div nz-row nzType="flex" nzAlign="middle" nzGutter="16">
    <div nz-col nzSpan="20">
      <div nz-row class="padding-top-30">
        <div nz-col nzSpan="24" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" nzXXl="24">
          <strong> Nº Estudante: </strong>
        </div>
        <div nz-col nzSpan="24" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" nzXXl="24">
          {{selected_payment_grid?.user_interest?.application?.student_number}}
        </div>
      </div>
      <div nz-row class="padding-top-30">
        <div nz-col nzSpan="24" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" nzXXl="24">
          <strong> Nome do Estudante: </strong>
        </div>
        <div nz-col nzSpan="24" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" nzXXl="24">
          {{selected_payment_grid?.user_interest?.application?.student_name}}
        </div>
      </div>
      <div nz-row class="padding-top-30">
        <div nz-col nzSpan="24" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" nzXXl="24">
          <strong> Número total de horas: </strong>
        </div>
        <div nz-col nzSpan="24" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" nzXXl="24">
          {{selected_payment_grid?.number_hours | HourConvert}}
        </div>
      </div>
      <div nz-row class="padding-top-30">
        <div nz-col nzSpan="24" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" nzXXl="24">
          <strong> Número total de horas a transitar: </strong>
        </div>
        <div nz-col nzSpan="24" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" nzXXl="24">
          {{this.hours_transit | HourConvert}}
        </div>
      </div>
      <form [formGroup]="payment_grid_form" nzLayout="vertical">
        <div nz-row class="padding-top-30">
          <div nz-row>
            <nz-form-label nzRequired>Conta corrente</nz-form-label>
            <nz-form-control>
              <nz-select
                formControlName="user_account_id" id="user_account_id" name="user_account_id">
                <nz-option *ngFor="let currentAccount of currentAccounts" [nzLabel]="currentAccount.name"
                  [nzValue]="currentAccount.id">
                </nz-option>
              </nz-select>
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submit && f.user_account_id.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
        <div nz-row class="padding-top-30">
          <div nz-row>
            <nz-form-label nzRequired>IBAN</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="iban">
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submit && f.iban.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
        <div nz-row class="padding-top-30">
          <div nz-row>
            <nz-form-label nzRequired>Horas a pagar</nz-form-label>
            <nz-form-control>
              <input type="number" (change)="changeHoursPay()" nz-input formControlName="hours_pay">
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submit && f.hours_pay.errors">
              Campo obrigatório e valor máximo de minutos é 59
            </nz-form-explain>
          </div>
        </div>
        <div nz-row class="padding-top-30">
          <div nz-row>
            <nz-form-label nzRequired>Valor a pagar por IBAN </nz-form-label>
            <nz-form-control>
              <input min="0" type="number" (change)="changePaymentIban()" nz-input formControlName="payment_value_iban">
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submit && f.payment_value_iban.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
        <div nz-row class="padding-top-30">
          <div nz-row>
            <nz-form-label nzRequired>Valor a pagar por CC</nz-form-label>
            <nz-form-control>
              <input min="0" type="number" (change)="changePaymentCC()" nz-input formControlName="payment_value_cc">
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submit && f.payment_value_cc.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
      </form>
    </div>
  </div>
</nz-modal>
