<div class="subheader">
<h1 class="title">{{ title }}</h1>
<nz-breadcrumb  class="breadcrumb">
  <nz-breadcrumb-item >
    <a routerLink="/">sasocial</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngFor="let breadcrumb of breadcrumbs; last as activeItem;"  >
    <a [ngClass]="{ 'active-item': activeItem }" [routerLink]="[breadcrumb.url]">
      {{breadcrumb.label?.length<=2 ? ((breadcrumb?.label | translation)?.name) : breadcrumb.label }}
    </a>
    <!-- FALTA OS PARAMETROS NOS BREAD CRUMB -->
  </nz-breadcrumb-item>
</nz-breadcrumb>
</div>
