@import "theme";

.subheader {
  background: white;
  padding: 8px;
  padding-left: 16px;
  border-bottom: var(--primary-6) 2px solid;
}

.title {
  line-height: 48px;
  color: black;
  font-size: 18px;
}

.breadcrumb {
  font-size: 12px;
  margin-bottom: 8px;
}

.active-item {
  color: var(--primary-6);
}
