<div class="error-model__content">
    <div nz-row nzType="flex" nzJustify="center"><p class="error-model__title">Erro no Sistema</p></div>
    <div nz-row nzType="flex" nzJustify="center" class="error-model__icon" >
        <img alt="negative" src="assets/imgs/cards-ilustration-negative.svg" />
    </div>
    <div nz-row nzType="flex" nzAlign="center" class="error-model__msg" >
        <p>Houve um erro no processo, por favor tente novamente.</p>
    </div>
    <div nz-row class="error-model__button" nzType="flex" nzJustify="center">
        <button nz-button nzType="link" (click)="handleCancel()">Fechar</button>
    </div>
</div>
