<nz-tabset nzTabPosition="left">
  <nz-tab nzTitle="Alteração">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
        <div nz-row class="title">Justificação</div>
        <div nz-row class="detail-field">
          {{ data.reason }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6">
        <div nz-row class="title">Data início</div>
        <div nz-row class="detail-field">
          {{ data.start_date | date: 'dd/MM/yyyy' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6">
        <div nz-row class="title">Novo regime</div>
        <div nz-row class="detail-field">
          <nz-tag> {{ (data.regime.translations | translation).name }}</nz-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6">
        <div nz-row class="title">Anexo</div>
        <div nz-row class="detail-field">
          <a *ngIf="data?.file" [href]="data?.file?.url" target="_blank"
            >Download</a
          >
          <span *ngIf="!data?.file">--</span>
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Candidatura">
    <div nz-row nzType="flex" nzJustify="start">
      <div
        nz-col
        nzXs="24"
        nzSm="24"
        nzMd="12"
        nzLg="12"
        nzXl="6"
        class="padding-top-20"
      >
        <div nz-row class="title">Nome</div>
        <div nz-row class="detail-field">
          {{ data.application?.full_name }}
        </div>
      </div>
      <div
        nz-col
        nzXs="24"
        nzSm="24"
        nzMd="12"
        nzLg="12"
        nzXl="6"
        class="padding-top-20"
      >
        <div nz-row class="title">Num. Estudante</div>
        <div nz-row class="detail-field">
          {{ data.application?.student_number }}
        </div>
      </div>
      <div
        nz-col
        nzXs="24"
        nzSm="24"
        nzMd="12"
        nzLg="12"
        nzXl="6"
        class="padding-top-20"
      >
        <div nz-row class="title">Email</div>
        <div nz-row class="detail-field">
          {{ data.application?.email }}
        </div>
      </div>
      <div
        nz-col
        nzXs="24"
        nzSm="24"
        nzMd="12"
        nzLg="12"
        nzXl="6"
        class="padding-top-20"
      >
        <div nz-row class="title">Contacto principal</div>
        <div nz-row class="detail-field">
          {{ data.application?.phone_1 }}
        </div>
      </div>
      <div
        nz-col
        nzXs="24"
        nzSm="24"
        nzMd="12"
        nzLg="12"
        nzXl="6"
        class="padding-top-20"
      >
        <div nz-row class="title">Contacto secundario</div>
        <div nz-row class="detail-field">
          {{ data.application?.phone_2 }}
        </div>
      </div>
      <div
        nz-col
        nzXs="24"
        nzSm="24"
        nzMd="12"
        nzLg="12"
        nzXl="6"
        class="padding-top-20"
      >
        <div nz-row class="title">Candidatou-se a bolsa?</div>
        <div nz-row class="detail-field">
          <fi-sas-tag
            [value]="data.application?.applied_scholarship"
          ></fi-sas-tag>
        </div>
      </div>
      <div
        nz-col
        nzXs="24"
        nzSm="24"
        nzMd="12"
        nzLg="12"
        nzXl="6"
        class="padding-top-20"
      >
        <div nz-row class="title">Tem bolsa?</div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="data.application?.has_scholarship"></fi-sas-tag>
        </div>
      </div>
      <div
        nz-col
        nzXs="24"
        nzSm="24"
        nzMd="12"
        nzLg="12"
        nzXl="6"
        class="padding-top-20"
      >
        <div nz-row class="title">Regime Atual</div>
        <div nz-row class="detail-field">
          <nz-tag *ngIf="data.application.currentRegime">
            {{
              (data.application.currentRegime.translations | translation).name
            }}</nz-tag
          >
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Histórico">
    <div
      nz-row
      nzType="flex"
      nzJustify="start"
      *ngFor="let state of data.history"
    >
      <div
        nz-col
        nzXs="24"
        nzSm="24"
        nzMd="12"
        nzLg="12"
        nzXl="6"
        class="padding-top-20"
      >
        <div nz-row class="title">Data</div>
        <div nz-row class="detail-field">
          {{ state.created_at | date: 'd MMMM y' }}
        </div>
      </div>
      <div
        nz-col
        nzXs="24"
        nzSm="24"
        nzMd="12"
        nzLg="12"
        nzXl="12"
        class="padding-top-20"
      >
        <div nz-row class="title">Estado</div>
        <div nz-row class="detail-field">
          <fi-sas-tag
            [value]="state?.status"
            [results]="RegimeChangeRequestStatusTranslations"
          ></fi-sas-tag>
        </div>
      </div>
      <div
        nz-col
        nzXs="24"
        nzSm="24"
        nzMd="12"
        nzLg="12"
        nzXl="6"
        class="padding-top-20"
      >
        <div nz-row class="title">Notas</div>
        <div nz-row class="detail-field">
          {{ state.notes ? state.notes : 'Sem notas' }}
        </div>
      </div>
    </div>
  </nz-tab>
</nz-tabset>
