<div class="container container-next">
  <nz-spin [nzSpinning]="loadingEdit">
    <form nz-form [formGroup]="formCreate">
      <!--<div nz-row class="padding-bottom-20">
  
          </div>
          <div nz-row class="padding-bottom-20">
              <fi-sas-auto-upload-file formControlName="files" [filesList]="fileList" [multiUploads]="multiUploads"
                  [filterTypes]="['text/csv', 'application/vnd.ms-excel',
              'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet']" [buttonName]="buttonName"
                  (fileAdded)="onFileAdded($event)" (fileDeleted)="onFileDeleted($event)"></fi-sas-auto-upload-file>
          </div>
          <div nz-row>
              <label class="container__subtitle">Formatos permitidos: .xls .csv .xlsx</label>
          </div>
          <div nz-row class="padding-top-30">
              <nz-divider></nz-divider>
          </div>-->
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="padding-right-20">
          <div nz-row>
            <nz-form-label nzRequired>Código do Ativo</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="code">
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.code.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="17" [nzLg]="17" [nzXl]="17" [nzXXl]="17">
          <div nz-row>
            <nz-form-label nzRequired>Designação</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="designation">
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.designation.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
      </div>
      <div nz-row class="padding-top-30">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" [nzLg]="11" [nzXl]="12" [nzXXl]="12" class="padding-right-20">
          <div nz-row>
            <nz-form-label nzRequired>Localização</nz-form-label>
            <nz-form-control>
              <nz-select class="primary-select" formControlName="location_id" nzShowSearch>
                <nz-option *ngFor="let location of locations" [nzLabel]="location.description" [nzValue]="location.id">
                </nz-option>
              </nz-select>
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.location_id.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-right-20">
          <div nz-row>
            <nz-form-label nzRequired>Classificador</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="classifier" placeholder="LOC1001001001001">
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.classifier.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4" style="padding-top: 42px;">
          <button nz-button (click)="openModal()" [nzType]="'primary'" style="width: 100%;">
            <span *ngIf="!edit">Criar</span>
            <span *ngIf="edit">Guardar</span> Localização
          </button>
        </div>

      </div>
      <div nz-row class="padding-top-30">
        <nz-divider></nz-divider>
      </div>
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
          <div nz-row>
            <nz-form-label nzRequired>Marca</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="manufacturer">
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.manufacturer.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
          <div nz-row>
            <nz-form-label nzRequired>Modelo</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="model">
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.model.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
          <div nz-row>
            <nz-form-label nzRequired>Cor</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="color">
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.color.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
          <div nz-row>
            <nz-form-label nzRequired>Número de série</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="serial_number">
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.serial_number.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
      </div>
      <div nz-row class="padding-top-30">
        <nz-divider></nz-divider>
      </div>
      <div nz-row class="padding-bottom-5">
        <label class="container__title">Tamanho </label>
      </div>
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
          <div nz-row>
            <nz-form-control>
              <nz-form-label nzRequired>Comprimento</nz-form-label>
              <nz-input-group [nzSuffix]="suffixComprimento">
                <input type="text" nz-input formControlName="length" mask="0*.00" [dropSpecialCharacters]="false">
              </nz-input-group>
              <ng-template #suffixComprimento>
                cm
              </ng-template>
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.length.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
          <div nz-row>
            <nz-form-control>
              <nz-form-label nzRequired>Largura</nz-form-label>
              <nz-input-group [nzSuffix]="suffixLargura">
                <input type="text" nz-input formControlName="width" mask="0*.00" [dropSpecialCharacters]="false">
              </nz-input-group>
              <ng-template #suffixLargura>
                cm
              </ng-template>
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.width.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
          <div nz-row>
            <nz-form-label nzRequired>Altura</nz-form-label>
            <nz-form-control>
              <nz-input-group [nzSuffix]="suffixHeight">
                <input type="text" nz-input formControlName="height" mask="0*.00" [dropSpecialCharacters]="false">
              </nz-input-group>
              <ng-template #suffixHeight>
                cm
              </ng-template>
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.height.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
      </div>
      <div nz-row class="padding-top-30">
        <nz-divider></nz-divider>
      </div>
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
          <div nz-row>
            <nz-form-label>Potência elétrica</nz-form-label>
            <nz-form-control>
              <nz-input-group [nzSuffix]="suffixElectricPower">
                <input type="text" nz-input formControlName="electric_power" mask="0*.00"
                  [dropSpecialCharacters]="false">
              </nz-input-group>
              <ng-template #suffixElectricPower>
                W
              </ng-template>
            </nz-form-control>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
          <div nz-row>
            <nz-form-label nzRequired>Valor de aquisição</nz-form-label>
            <nz-form-control>
              <nz-input-group [nzSuffix]="suffixAquisitionValue">
                <input type="text" nz-input formControlName="acquisition_value" mask="0*.00"
                  [dropSpecialCharacters]="false">
              </nz-input-group>
              <ng-template #suffixAquisitionValue>
                €
              </ng-template>
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.acquisition_value.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
          <div nz-row>
            <nz-form-label nzRequired>Data de aquisição</nz-form-label>
            <nz-form-control>
              <nz-date-picker class="primary-datePicker" formControlName="acquisition_date">
              </nz-date-picker>
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.acquisition_date.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
      </div>
      <div nz-row class="padding-top-30">
        <nz-divider></nz-divider>
      </div>
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
          <div nz-row class="padding-bottom-5 padding-top-15">
            <label class="container__title">Upload de Ficheiros</label>
          </div>
          <div nz-row>
            <div nz-col formArrayName="documents">
              <div nz-row *ngFor="let document of getDocuments().controls; let i = index" [formGroupName]="i"
                class="padding-top-15">
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12"
                  class="padding-right-20">
                  <nz-form-control>
                    <nz-select formControlName="document_type_id" name="document_type_id">
                      <nz-option *ngFor="let doc of documentsType" [nzLabel]="doc.name" [nzValue]="doc.id">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                  <nz-form-explain class="color-required" 
                    *ngIf="submitted && formCreate.get('documents.' + i + '.document_type_id')?.errors">
                    Campo obrigatório
                  </nz-form-explain>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12"></div>
                <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="22" [nzLg]="22" [nzXl]="22" [nzXXl]="22">
                  <nz-form-item>
                    <nz-form-control>
                      <fi-sas-upload-file formControlName="file_id"></fi-sas-upload-file>
                    </nz-form-control>
                  </nz-form-item>

                </div>
                <div nz-col [nzXs]="2" [nzSm]="2" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2" class="text-center">
                  <button nz-button nzType="danger" type="button" (click)="removeDocument(i)">
                    <i nz-icon type="delete"></i>
                  </button>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                  <nz-form-explain class="color-required padding-top-15"
                    *ngIf="submitted && formCreate.get('documents.' + i + '.file_id')?.errors">
                    Campo obrigatório
                  </nz-form-explain>
                </div>

              </div>

              <div nz-row class="margin-top-15">
                <button nz-button nzType="primary" type="button" (click)="addNewDocuments()">
                  Adicionar
                </button>
              </div>
            </div>
          </div>

        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
          <div nz-row class="padding-bottom-5 padding-top-15">
            <label class="container__title">Observações </label>
          </div>
          <div nz-row class="padding-top-30">
            <textarea maxlength="255" nz-input formControlName="observations" style="height: 100px;"></textarea>
          </div>
        </div>
      </div>
      <div nz-row class="padding-top-30">
        <nz-divider></nz-divider>
      </div>
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
          <div nz-row>
            <nz-form-label nzRequired>RFID</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="rfid">
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.rfid.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
          <div nz-row>
            <nz-form-label nzRequired>BARCODE</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="barcode">
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.barcode.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
          <div nz-row>
            <nz-form-label nzRequired>ERP</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="erp">
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.erp.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
          <div nz-row>
            <nz-form-label nzRequired>N_Sequencia</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="n_sequencial" mask="0*" [dropSpecialCharacters]="false">
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.n_sequencial.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
      </div>
      <div nz-row class="padding-top-30">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
          <div nz-row>
            <nz-form-label nzRequired>N_Bem</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="n_good" mask="0*" [dropSpecialCharacters]="false">
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.n_good.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
          <div nz-row>
            <nz-form-label nzRequired>sigla N_Bem</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="initials_n_good">
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.initials_n_good.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
      </div>
      <div nz-row class="padding-top-30">
        <nz-divider></nz-divider>
      </div>
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
          <div nz-row>
            <nz-form-label nzRequired>Manutenção</nz-form-label>
          </div>
          <div nz-row class="padding-bottom-5">
          
            <nz-switch formControlName="maintenance" (ngModelChange)="changeMaintenance($event);">
            </nz-switch>
            <nz-form-explain class="color-required" *ngIf="submitted && f.maintenance.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
        <div *ngIf="f.maintenance.value == true" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6"
          [nzXXl]="6" class="padding-right-20">
          <div nz-row>
            <nz-form-label nzRequired>Tipo de Manutenção</nz-form-label>
            <nz-form-control>
              <nz-select class="primary-select" formControlName="maintenance_type" nzShowSearch>
                <nz-option nzLabel="Externo" nzValue="EXTERNAL"></nz-option>
                <nz-option nzLabel="Interno" nzValue="INTERNAL"></nz-option>
              </nz-select>
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.maintenance_type.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
          <div nz-row>
            <nz-form-label nzRequired>Categoria</nz-form-label>
            <nz-form-control>
              <nz-select class="primary-select" formControlName="category_id" nzShowSearch>
                <nz-option *ngFor="let category of categories" [nzLabel]="category.name" [nzValue]="category.id">
                </nz-option>
              </nz-select>
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.category_id.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
          <div nz-row>
            <nz-form-label nzRequired>Área</nz-form-label>
            <nz-form-control>
              <nz-select class="primary-select" formControlName="area_id" nzShowSearch>
                <nz-option *ngFor="let area of areas" [nzLabel]="area.name" [nzValue]="area.id">
                </nz-option>
              </nz-select>
            </nz-form-control>
            <nz-form-explain class="color-required" *ngIf="submitted && f.area_id.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
      </div>
      <div nz-row class="padding-top-30">
        <nz-divider></nz-divider>
      </div>
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
          <div nz-row>
            <nz-form-label nzRequired>Ativo</nz-form-label>
          </div>
          <div nz-row class="padding-bottom-5">
           
            <nz-switch formControlName="active">
            </nz-switch>
            <nz-form-explain class="color-required" *ngIf="submitted && f.active.errors">
              Campo obrigatório
            </nz-form-explain>
          </div>
        </div>
      </div>
    </form>
  </nz-spin>

</div>


<div class="space" nz-row>
  <button *ngIf="id != undefined" nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="loading" [disabled]="loading"
    (click)="id != undefined ? submitAsset(true) : submitAsset(false)"
    [nzType]="'primary'">{{id != undefined ? 'Editar' : 'Criar'}}</button>
</div>

<!------------------------LOCALIZAÇÃO------------------------------->

<nz-modal nzTitle="Criar Localização" [(nzVisible)]="modalVisible" (nzOnCancel)="cancelModal()"
  (nzOnOk)="saveLocation()">
  <form nz-form [formGroup]="formLocation">
    <div nz-row class="padding-bottom-5">
      <label> UA </label>
    </div>
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="padding-right-20">
        <nz-form-control>
          <nz-select class="primary-select" formControlName="organic" nzShowSearch
            (ngModelChange)="dataOrganicFilter($event)">
            <nz-option *ngFor="let organic of organics" [nzLabel]="organic.name" [nzValue]="organic.id">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" style="padding-top: 4px;">
        <input type="text" nz-input formControlName="organic_code">
      </div>

    </div>
    <nz-form-explain class="color-required" *ngIf="submittedLocation && ff.organic.errors">
      Campo obrigatório
    </nz-form-explain>
    <div nz-row class="padding-bottom-5 padding-top-15">
      <label> Edifício </label>
    </div>
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="padding-right-20">
        <nz-form-control>
          <nz-select class="primary-select" formControlName="building" nzShowSearch
            (ngModelChange)="dataBuildingFilter($event)">
            <nz-option *ngFor="let building of buildings" [nzLabel]="building.name" [nzValue]="building.id">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" style="padding-top: 4px;">
        <input type="text" nz-input formControlName="building_code">
      </div>
    </div>
    <nz-form-explain class="color-required" *ngIf="submittedLocation && ff.building.errors">
      Campo obrigatório
    </nz-form-explain>
    <div nz-row class="padding-bottom-5 padding-top-15">
      <label> Ala </label>
    </div>
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="padding-right-20">
        <nz-form-control>
          <nz-select class="primary-select" formControlName="wing" nzShowSearch
            (ngModelChange)="dataWingFilter($event)">
            <nz-option *ngFor="let wing of wings" [nzLabel]="wing.name" [nzValue]="wing.id">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" style="padding-top: 4px;">
        <input type="text" nz-input formControlName="wing_code">
      </div>
    </div>
    <nz-form-explain class="color-required" *ngIf="submittedLocation && ff.wing.errors">
      Campo obrigatório
    </nz-form-explain>
    <div nz-row class="padding-bottom-5 padding-top-15">
      <label> Piso </label>
    </div>
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="padding-right-20">
        <nz-form-control>
          <nz-select class="primary-select" formControlName="floor" nzShowSearch
            (ngModelChange)="dataFloorFilter($event)">
            <nz-option *ngFor="let floor of floors" [nzLabel]="floor.name" [nzValue]="floor.id">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" style="padding-top: 4px;">
        <input type="text" nz-input formControlName="floor_code">
      </div>
    </div>
    <nz-form-explain class="color-required" *ngIf="submittedLocation && ff.floor.errors">
      Campo obrigatório
    </nz-form-explain>
    <div nz-row class="padding-bottom-5 padding-top-15">
      <label> Divisão </label>
    </div>
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="padding-right-20">
        <nz-form-control>
          <nz-select class="primary-select" formControlName="division" nzShowSearch
            (ngModelChange)="dataDivisionFilter($event)">
            <nz-option *ngFor="let division of divisions" [nzLabel]="division.name" [nzValue]="division.id">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" style="padding-top: 4px;">
        <input type="text" nz-input formControlName="division_code">
      </div>
    </div>
    <nz-form-explain class="color-required" *ngIf="submittedLocation && ff.division.errors">
      Campo obrigatório
    </nz-form-explain>
    <div nz-row class="padding-bottom-5 padding-top-15">
      <label> Serviço </label>
    </div>
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="padding-right-20">
        <nz-form-control>
          <nz-select class="primary-select" formControlName="service" nzShowSearch
            (ngModelChange)="dataServiceFilter($event)">
            <nz-option *ngFor="let service of services" [nzLabel]="service.name" [nzValue]="service.id">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" style="padding-top: 4px;">
        <input type="text" nz-input formControlName="service_code">
      </div>
    </div>
    <div nz-row class="padding-top-30">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
        <label> Código </label>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
        <nz-form-control>
          <input type="text" nz-input formControlName="code">
        </nz-form-control>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">

      </div>
    </div>
    <div nz-row class="padding-top-30">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
        <label> Designação </label>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXXl]="18">
        <textarea maxlength="255" type="text" nz-input formControlName="description" style="height: 80px;"></textarea>
      </div>
    </div>
  </form>
</nz-modal>