<div class="context-two-col">

  <div nz-row>

    <div nz-col nzSpan="1"></div>

    <div nz-col nzSpan="12">
      <div class="context-two-col__left">
        <div class="context-two-col__hero">
          {{ data?.mainTitle }}
        </div>
      </div>
    </div>

    <div nz-col nzSpan="7">
      <div class="context-two-col__right" routerLink="/refectory/services">
        <div class="context-two-col__right-wrap">
          <div nz-row>
            <div nz-col nzSpan="13">
              <div class="context-two-col__title">
                {{ data?.secondaryTitle }}
              </div>
              <div class="context-two-col__subtitle">
                {{ data?.secondarySubtitle }}
              </div>
            </div>
            <div nz-col nzSpan="6">
              <div class="context-two-col__select">
                <div class="context-two-col__select-wrap">
                  <svg-icon src="assets/icons/icons-arrow-3-down.svg" [svgStyle]="{'width.px': 30, 'height.px': 30}"></svg-icon>
                  <div class="context-two-col__label">
                    {{ data?.secondaryLabel }}
                  </div>
                </div>
              </div>
            </div>
            <div nz-col nzSpan="1"></div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>