@import "theme";

.shopping-cart{
  &__btn{
    vertical-align: middle;
    &__icon{
      font-size: 22px !important;
    }
  }
}

#icon-delete-cart::ng-deep svg {
  path {
      fill: var(--primary-color);
  }
}

.button-style-clear {
  color: #333333;
  height: 32px;
  margin-left: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  background-color: white;
  border-radius: 21px;
  border: solid 2px var(--primary-color);
}

.cart-dropdown{
  width: 275px !important;
  &__item{
    border-bottom: 1px solid #e8e8e8;
    &__place{
      color: #979797;
      font-size: 11px;
      
    }
    &__date{
      color: #979797;
      font-weight: 700;
      font-size: 11px;
    }
    &__plate{
      color: black;
      font-weight: 700;
      font-size: 12px;
    }
    &__meal{
      color: black;
    }
    &__price{
      color: black;
      text-align: end;
      padding-right: 10px;
    }
  }
  &__buttom{
    &__total{
      background-color: rgba(138, 138, 138, 0.23);
      padding: 11px 22px;
      margin-top: 14px;
      margin-bottom: 21px;
      font-size: 14px;
      &__text{
        font-weight: 700;
        color: black;
      }
      &__amount{
        float: right;
      }
    }
    &__btn{
      width: 100%;
      text-align: center;
      margin-bottom: 21px;
    }
  }
  &__place-order-btn{
    background-color: var(--primary-color);
    color: white;
    border: var(--primary-color);
    font-size: 12px;
    font-weight: bold;
  }
}

::ng-deep{
  .ant-popover-title {
    min-height: 32px;
    margin: 0;
    padding: 10px 16px 4px;
    min-width: 170px !important;
    border-bottom: 2px solid var(--primary-color);
    color: black;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: bold;
    width: 140px;
  }
  .ant-popover-inner-content {
    border-top: 1px solid #e8e8e8 !important;
    padding: 12px 16px;
    color: rgba(0, 0, 0, 0.65);
  }
  .ant-popover-arrow {
    display: none;
  }

 

}

.box-cart {
  padding-bottom: 5px;
  padding-top: 5px;
}

.icon-delete-item {
  cursor: pointer;
  font-size: 15px;
  padding-left: 10px;
}

.quantity {
  padding: 1px;
  border-radius: 4px;
  margin: 0px 8px;
}

.icon{
  &__minus{
    cursor: pointer;
    font-size: 15px;
    color: red !important;
  }
  &__plus{
    cursor: pointer;
    font-size: 15px;
    color: var(--primary-color);
  }
}

:host::ng-deep {

  .header-icon {
     svg {
       path {
         fill: var(--primary-9);
       }
     }
  }
  
}