@import 'default-theme.less';

:host::ng-deep {

  .current-account {

    width: 100%;
    height: 1000px;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    /* head */
    &__head {
      width: 100%;
      height: 606px;
      background-color: var(--fisas-03);
    }

    &__head-title {
      margin-top: 342px;
      .font-family(72px, 900);
      line-height: 1.08;
      letter-spacing: -1.8px;
      margin-bottom: 0;
    }

    &__head-info {
      .font-family(48px, 200);
      line-height: 1.25;
      letter-spacing: -1.2px;
    }

    &__head-info,
    &__head-title {
      color: @fisas-grey-01;
    }

    /* balance */
    &__balances {
      width: 100%;
      height: 108px;
      background-color: var(--fisas-02);
    }

    &__balances-wrap {
      display: flex;
      align-items: center;
      height: 108px;
    }

    &__balance {
      display: flex;
      flex-wrap: nowrap;
      height: 100%;
    }

    &__balance-title {
      width: 132px;
      .font-family(18px, 900);
      line-height: 1.33;
      color: @fisas-grey-01;
      text-transform: uppercase;
      padding-top: 32px;
    }

    &__balance-wrap {
      .font-family(18px, 700);
      line-height: 1.33;
      color: @fisas-grey-01;
      padding: 32px 16px 0px 48px;

      &--selected {
        background-color: var(--fisas-06);
      }
    }

    &__balance-name {
      font-weight: bold;
    }

    &__balance-value {
      font-weight: normal;
    }

    /* movements activity */
    &__activity-title {
      .font-family(30px, 400);
      line-height: 1.2;
      color: @fisas-grey-06;
      margin: 112px 0 16px 0;
      padding: 0 54px;
    }

    &__activity-subtitle {
      font-weight: 400;
      display: inline-table;
    }

    /* load more */
    &__load-more {
      width: 100%;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      .current-account__btn-load-more > button {
        cursor: pointer;
        height: 48px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        border: 2px solid @fisas-grey-03!important;
        border-color: @fisas-grey-03!important;
        background-color: var(@fisas-grey-01)!important;
        color: @fisas-grey-10!important;
        padding: 0 24px;
        text-transform: capitalize;
        margin-left: 18px;

        &:hover, &:active, &:focus, &.active {
          border: 2px solid @fisas-grey-03!important;
          border-color: @fisas-grey-03!important;
          background-color: @fisas-grey-03!important;
          color: @fisas-grey-10!important;
        }
      }
    }

    &__loading {
      width: 48px;
      height: 48px;
      font-size: 48px;
      color: @fisas-grey-06;
    }

    /* no movements activity */
    &__no-content {
      width: 100%;

      .current-account__no-content-btn-1 > button {
        cursor: pointer;
        height: 48px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        border: 2px solid var(--fisas-01)!important;
        border-color: var(--fisas-01)!important;
        background-color: var(--fisas-01)!important;
        color: @fisas-grey-01!important;
        padding: 0 32px;

        &:hover, &:active, &:focus, &.active {
          border: 2px solid var(--fisas-01)!important;
          border-color: var(--fisas-01)!important;
          background-color: var(--fisas-01)!important;
          color: @fisas-grey-01!important;
        }
      }

      .current-account__no-content-btn-2 > button {
        cursor: pointer;
        height: 48px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        border: 2px solid @fisas-grey-03;
        border-color: @fisas-grey-03;
        padding: 0 17px;

        &:hover, &:active, &:focus, &.active {
          background-color: @fisas-grey-01!important;
          border-color: @fisas-grey-03!important;
          color: @fisas-grey-09!important;
        }
      }
    }

    &__no-content-title {
      .font-family(48px, 700);
      line-height: 1.25;
      letter-spacing: -1.2px;
      font-weight: bold;
      color: @fisas-grey-10;
      margin-top: 108px;
    }

    &__no-content-description {
      .font-family(48px, 400);
      line-height: 1.25;
      letter-spacing: -1.2px;
      color: @fisas-grey-10;
      margin-bottom: 66px;
    }

    &__no-content-btn-1 {
      float: left;
      margin-right: 16px;
    }

    &__no-contentbtn-2 {
      float: left;
      margin-right: 16px;
    }

  }

}

.orange {
  color:rgba(178, 181, 15, 0.76) !important;
  font-weight: bold !important;
}

.red {
  color:#d0021b !important;
  font-weight: bold !important;
}

.green {
  color: #1b9668 !important;
  font-weight: bold !important;
}