<!-- header -->
<div class="current-account__head">
  <div nz-row>
    <div nz-col nzSpan="2"></div>
    <div nz-col nzSpan="16">
      <h1 class="current-account__head-title">
        {{ 'CURRENT_ACCOUNT.TITLE' | translate }}
      </h1>
      <h2 class="current-account__head-info">
        {{ 'CURRENT_ACCOUNT.SUBTITLE' | translate }}
      </h2>
    </div>
    <div nz-col nzSpan="2"></div>
  </div>
</div>
<div class="current-account">

  <!-- balances -->
  <div class="current-account__balances">
    <div nz-row>
      <div nz-col nzSpan="2"></div>
      <div nz-col nzSpan="16">
        <ng-container *ngIf="balances?.length && !isLoading">
          <div class="current-account__balances-wrap">
            <div class="current-account__balance">
              <!-- title -->
              <div class="current-account__balance-title">
                {{ 'CURRENT_ACCOUNT.MOVEMENTS.BALANCE.TITLE' | translate }}
              </div>
              <!-- balance -->
              <div class="current-account__balance-wrap" *ngFor="let balance of balances"
                [ngClass]="{ 'current-account__balance-wrap--selected': selected_account_id === balance.account_id}"
                (click)="changeSelectedAccount(balance.account_id)">
                <div class="current-account__balance-name">
                  {{ balance.account_name }}
                </div>
                <div class="current-account__balance-value">
                  {{ balance.current_balance | number: '1.2-2':'pt-PT' }}€
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div nz-col nzSpan="2"></div>
    </div>
  </div>

  <!-- no movements activity -->
  <section *ngIf="movements?.length === 0 && !isLoading">
    <div nz-row>
      <div nz-col nzSpan="2"></div>
      <div nz-col nzSpan="16">
        <div class="current-account__no-content">
          <div class="current-account__no-content-title">
            {{ 'CURRENT_ACCOUNT.NO_ACTIVITY.TITLE' | translate }}
          </div>
          <div class="current-account__no-content-description">
            {{ 'CURRENT_ACCOUNT.NO_ACTIVITY.DESCRIPTION' | translate }}
          </div>
          <div class="current-account__no-content-btn-1">
            <button nz-button [nzGhost]="true" routerLink="/dashboard">
              {{ 'CURRENT_ACCOUNT.NO_ACTIVITY.BUTTON_SERVICES' | translate }}
            </button>
          </div>
          <div class="current-account__no-content-btn-2" routerLink="/dashboard">
            <button nz-button [nzGhost]="true">
              {{ 'CURRENT_ACCOUNT.NO_ACTIVITY.BUTTON_CLOSE' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- movements activity -->
  <div *ngIf="movements?.length">
    <div nz-row>
      <div nz-col nzSpan="2"></div>
      <div nz-col nzSpan="16">
        <!-- movement item -->
        <div class="current-account__activity-title">
          <span>{{ 'CURRENT_ACCOUNT.MOVEMENTS.TITLE' | translate }}</span>
        </div>
        <ng-container *ngFor="let movement of movements; last as isFirstLast">
          <ng-container *ngFor="let item of movement?.items; last as issecondLast">
            <div #accountMovement [attr.id]="isFirstLast && issecondLast ? 'last' : null">
              <fi-current-account-item total_value="{{ item?.total_value }}" id="{{ item?.product_code }}"
                price="{{ item?.paid_value }}" vat="{{ item?.vat }}" quantity="{{ item?.quantity }}"
                balance="{{ movement?.current_balance }}" status="{{ movement?.status_id }}"
                operation="{{ movement?.operation_id }}" account="{{ getAccount(movement?.account_id) }}" transaction_value="{{movement?.transaction_value}}">
                <div class="item-description">
                  <h6>
                    {{ item.name }}
                  </h6>
                  <p *ngIf="item?.location">
                    {{item?.location}}
                  </p>
                  <span>
                   {{ movement?.created_at | date: 'dd/MM/yyyy' }} {{movement?.created_at | date: 'HH:mm'}}<br />
                    <span *ngIf="item?.extra_info?.refectory_consume_at">
                      {{'CURRENT_ACCOUNT.DATE_2' | translate}} - {{ item?.extra_info?.refectory_consume_at | date: 'dd/MM/yyyy' }}<br />
                    </span>
                    <span *ngIf="item?.extra_info?.refectory_meal_category">
                      {{ item?.extra_info?.refectory_meal_category == 'lunch' ? ('CURRENT_ACCOUNT.LUNCH' | translate) : ('CURRENT_ACCOUNT.DINNER' | translate) }}
                    </span>
                    <br *ngIf="item?.extra_info?.refectory_consume_at">
                    <strong>
                      {{ movement?.operation == 'CHARGE' ? ('CURRENT_ACCOUNT.OPERATION.CHARGE' | translate) :
                      movement?.operation == 'CANCEL' ? ('CURRENT_ACCOUNT.OPERATION.CANCEL' | translate) :
                      movement?.operation == 'RECEIPT' ? ('CURRENT_ACCOUNT.OPERATION.RECEIPT' | translate) :
                      movement?.operation == 'INVOICE' ? ('CURRENT_ACCOUNT.OPERATION.INVOICE' | translate) :
                      movement?.operation == 'INVOICE_RECEIPT' ? ('CURRENT_ACCOUNT.OPERATION.INVOICE_RECEIPT' |
                      translate) :
                      movement?.operation == 'CREDIT_NOTE' ? ('CURRENT_ACCOUNT.OPERATION.CREDIT_NOTE' | translate) :
                      movement?.operation == 'REFUND' ? ('CURRENT_ACCOUNT.OPERATION.REFUND' | translate) :
                      movement?.operation == 'CHARGE_NOT_IMMEDIATE' ? ('CURRENT_ACCOUNT.OPERATION.CHARGE_NOT_IMMEDIATE'
                      | translate)
                      :
                      '-' }}
                    </strong>
                  </span>
                  <p [ngClass]="{'orange': movement?.status == 'PENDING', 'red': movement?.status == 'CANCELLED'|| movement?.status == 'CANCELLED_LACK_PAYMENT', 'green': movement?.status == 'CONFIRMED' || movement?.status == 'PAID' }">
                    {{ movement?.status == 'CONFIRMED' ? ('CURRENT_ACCOUNT.STATUS.CONFIRMED' | translate) :
                    movement?.status == 'PENDING' ? ('CURRENT_ACCOUNT.STATUS.PENDING' | translate) :
                    movement?.status == 'CANCELLED' ? ('CURRENT_ACCOUNT.STATUS.CANCELLED' | translate) :
                    movement?.status == 'CANCELLED_LACK_PAYMENT' ?
                    ('CURRENT_ACCOUNT.STATUS.CANCELLED_DUE_LACK_PAYMENT'
                    | translate) :
                    movement?.status == 'PAID' ? ('CURRENT_ACCOUNT.STATUS.PAID' | translate) : '-'}}
                  </p>
                </div>
              </fi-current-account-item>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div nz-col nzSpan="2"></div>
    </div>
  </div>

  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <!-- load more -->
  <div class="current-account__load-more">
    <i class="current-account__loading" *ngIf="isLoading && offset > 0" nz-icon type="loading" theme="outline"></i>

    <div class="current-account__btn-load-more" *ngIf="
        !isLoading && offset + limit < total && offset + limit < maxTotalLimit
      ">
      <button nz-button [nzGhost]="true" (click)="getMovements()">
        <i nz-icon>
          <svg-icon src="assets/icons/icons-payment-history.svg" [svgStyle]="{ 'width.px': 24, 'height.px': 24 }">
          </svg-icon>
        </i>
        {{ 'CURRENT_ACCOUNT.LOAD_MORE' | translate }}
      </button>
    </div>
  </div>

  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>