<div class="container">
  <div nz-row>
    <nz-spin [nzSpinning]="loadingEdit">
      <div nz-col [nzSpan]="24">
        <form nz-form [formGroup]="formCreate">
          <div nz-row>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="9" [nzLg]="9" [nzXl]="9" [nzXXl]="9" class="padding-10">
              <div nz-row>
                <nz-form-label nzRequired>Nome</nz-form-label>
                <nz-form-control>
                  <input type="text" nz-input formControlName="name">
                </nz-form-control>
                <nz-form-explain class="color-required" *ngIf="submitted && f.name.errors">
                  Campo obrigatório
                </nz-form-explain>
              </div>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="9" [nzLg]="9" [nzXl]="9" [nzXXl]="9" class="padding-10">
              <div nz-row>
                <nz-form-label nzRequired>Descrição</nz-form-label>
                <nz-form-control>
                  <input type="text" nz-input formControlName="description">
                </nz-form-control>
                <nz-form-explain class="color-required" *ngIf="submitted && f.description.errors">
                  Campo obrigatório
                </nz-form-explain>
              </div>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-10">
              <div nz-row>
                <nz-form-label nzRequired>Ativo</nz-form-label>
              </div>
              <div nz-row class="padding-bottom-5 padding-top-5">
               
                <nz-switch formControlName="active">
                </nz-switch>
                <nz-form-explain class="color-required" *ngIf="submitted && f.active.errors">
                  Campo obrigatório
                </nz-form-explain>
              </div>
            </div>
          </div>
        </form>
      </div>
    </nz-spin>
  </div>
</div>


<div class="space" nz-row>
  <button *ngIf="isEdit" nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="loading" [disabled]="loading"
    (click)="isEdit ? submitCategories(true) : submitCategories(false)"
    [nzType]="'primary'">{{isEdit ? 'Editar' : 'Criar'}}</button>
</div>