.container {
  background: white;
  padding: 24px 30px 24px 30px;
  margin-bottom: 20px;
  &__title {
      font-size: 16px;
      line-height: 22px;
      margin: 0px;
      font-weight: bold;
      margin-bottom:10px;
      color:black;
  }
  &__subtitle{
    margin-bottom:5px;
  }
}

.padding-bottom-5{
    padding-bottom: 5px;
}

.color-required{
  color:red;
}

.infras-select-form{
  padding: 8px 6px;
}

.button-submit{
  text-align: center;
}

.padding-10{
  padding: 3px 10px;
}

.space{
  background-color: #F2F2F2;
  padding-top:20px;
  padding-bottom: 20px;
  text-align: right
}