@import 'theme';

.listdetail {
    &__information {
        padding: 38px 34px 48px 51px;
        border-radius: 8px;
        font-family: Montserrat;
        background-color: #ffffff;
        margin-bottom: 31px
    }
    &__title {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #333;
    }
}
.list-health {
    &__header {
      @media screen and (min-width: 576px) {
        padding-top: 25px;
      }
      @media screen and (max-width: 576px) {
        padding: 16px;
      }
    }
}
.card{
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #5c5c5c;
  &__body{
    margin: 1px 51px 38px 53px;
    padding: 32px 64px 37px 51px;
  }
  &__title{
     font-family: Montserrat;
     font-weight: bold;
     margin-bottom: 10px;
  }
  &__text{
    font-family: Montserrat;
    line-height: 24px;
    letter-spacing: 0;
  }
}
::ng-deep .ant-tabs {
  .ant-tabs-tab{
    height: 56px;
  }
  .ant-tabs-bar {
    margin-bottom: 0px;
  }

  .ant-tabs-nav,
  .ant-tabs-tabpane {
    background-color: #fff;
  }
}

::ng-deep {
  .ant-tabs-ink-bar {
    height: 3px;
  }

  .ant-table-pagination.ant-pagination {
    padding-left: 16px;
    padding-right: 16px;
  }
}