<nz-spin [nzSpinning]="loading">
  <div *ngIf="!specialty" nz-row style="padding-bottom: 20px;">
    <nz-empty></nz-empty>
  </div>
  <div nz-row nzType="flex" class="list-health__header">
    <div nz-col [nzSm]="2" [nzXs]="0"></div>
    <div nz-col [nzSm]="10" [nzXs]="12">
        <h2 class="title-top-page">{{ 'HEALTH.LIST_SPECIALTIES.TITLE' | translate }}</h2>
        <p class="sub-title-top-page">{{ 'HEALTH.LIST_SPECIALTIES.SUBTITLE' | translate }}</p>
    </div>
    <div nz-col [nzSm]="10" [nzXs]="12">
      <app-button  style="float: right;" translate="HEALTH.BUTTONS.REQUEST_APPOINTMENT" (click)="startAppointmentForm()" type="primary"></app-button>
    </div>
    <div nz-col [nzSm]="2" [nzXs]="0"></div>
  </div>
  <div *ngIf="specialty" nz-row nzType="flex" style="margin-bottom: 20px;">
    <div nz-col [nzSm]="2" [nzXs]="0"></div>
    <div nz-col [nzSm]="20" [nzXs]="24">
        <div class="listdetail__information">
          <div nz-row class="listdetail__title">{{ (specialty.translations | languageChange).name }}</div>
        </div>
        <div nz-row nzType="flex">
          <div nz-col nzXs="24">
            <nz-tabset>
              <nz-tab [nzTitle]="'HEALTH.SPECIALTY.TABS.DESCRIPTION' | translate">
                <div nz-row class="content-card card__body">
                  <div nz-row >
                    <p class="card__title">{{ (specialty.translations | languageChange).name }}</p>
                  </div>
                  <div *ngIf="!specialty.description" nz-row style="padding-bottom: 20px;">
                    <nz-empty></nz-empty>
                  </div>
                  <div nz-row >
                    <p class="card__text">{{ specialty.description }}</p>
                  </div>
                </div>
              </nz-tab>
              <nz-tab [nzTitle]="'HEALTH.SPECIALTY.TABS.REGULATION' | translate">
                <div nz-row class="content-card card__body">
                  <div *ngIf="!specialty.regulation" nz-row style="padding-bottom: 20px;">
                    <nz-empty></nz-empty>
                  </div>
                  <div nz-row class="card__text">
                    <p class="card__text">{{ specialty.regulation }}</p>
                  </div>
                </div>
              </nz-tab>
              <nz-tab  [nzTitle]="'HEALTH.SPECIALTY.TABS.TECHNICAL_DATA' | translate">
                <div nz-row class="content-card card__body">
                  <div *ngIf="!specialty.place && !specialty.doctors " nz-row style="padding-bottom: 20px;">
                    <nz-empty></nz-empty>
                  </div>
                  <app-specialty-technical-data [specialty]="specialty"></app-specialty-technical-data>
                </div>
              </nz-tab>
              <nz-tab  [nzTitle]="'HEALTH.SPECIALTY.TABS.PRICE_LIST' | translate">
                <div nz-row class="content-card card__body">
                  <div *ngIf="!specialty.price_variations" nz-row style="padding-bottom: 20px;">
                    <nz-empty></nz-empty>
                  </div>
                  <app-specialty-price-list [priceVariations]="specialty.price_variations" [payment_information]="specialty.payment_information"></app-specialty-price-list>
                </div>
              </nz-tab>
            </nz-tabset>
          </div>
        </div>
        <div nz-row nzType="flex" style="margin-top: 25px;">
          <app-button translate="HEALTH.BUTTONS.BACK" (click)="back();" [leftIcon]="'left'" type="tertiary"></app-button>
        </div>
    </div>
</div>
</nz-spin>