<!-- loader -->
<StackLayout class="fisas__form__block" marginTop="40" *ngIf="isLoading">
    <ActivityIndicator row="1" #activityIndicator [busy]="isLoading" width="100%" height="50" color="lightgray" class="fisas__loading"></ActivityIndicator>
</StackLayout>

<StackLayout class="ubikecard__box" *ngIf="!isLoading">
    <StackLayout marginLeft="18" marginRight="18">
        <StackLayout (tap)="gotoDetails()" width=100%>
            <!-- ACCEPTED -->
            <StackLayout horizontalAlignment="left" marginTop="24" *ngIf="data?.status === 'accepted' ? true : false">
                <Label class="ubikecard__box__selected" backgroundColor="#9DBBAE" text="{{'action-bar.accepted' | translate }}"></Label>
            </StackLayout>

            <!-- APPROVED -->
            <StackLayout horizontalAlignment="left" marginTop="24" *ngIf="data?.status === 'approved' ? true : false">
                <Label class="ubikecard__box__selected" backgroundColor="#0d69dd" text="{{'action-bar.approved' | translate }}"></Label>
            </StackLayout>

            <!-- ENQUEUED -->
            <StackLayout horizontalAlignment="left" marginTop="24" *ngIf="data?.status === 'enqueued' ? true : false">
                <Label class="ubikecard__box__selected" backgroundColor="#D4B483" text="{{'action-bar.enqueued' | translate }}"></Label>
            </StackLayout>

            <!-- COMPLAINT -->
            <StackLayout horizontalAlignment="left" marginTop="24" *ngIf="data?.status === 'complaint' ? true : false">
                <Label class="ubikecard__box__selected" backgroundColor="#F75C03" text="{{'action-bar.complaint' | translate }}"></Label>
            </StackLayout>

            <!-- SUSPENDED -->
            <StackLayout horizontalAlignment="left" marginTop="24" *ngIf="data?.status === 'suspended' ? true : false">
                <Label class="ubikecard__box__selected" backgroundColor="#8EA4D2" text="{{'action-bar.suspended' | translate }}"></Label>
            </StackLayout>

            <!-- ASSIGNED -->
            <StackLayout horizontalAlignment="left" marginTop="24" *ngIf="data?.status === 'assigned' ? true : false">
                <Label class="ubikecard__box__selected" backgroundColor="#076743" text="{{'action-bar.assigned' | translate }}"></Label>
            </StackLayout>

            <!-- CLOSED -->
            <StackLayout horizontalAlignment="left" marginTop="24" *ngIf="data?.status === 'closed' || data?.status === 'withdrawl'  ? true : false">
                <Label class="ubikecard__box__selected" backgroundColor="#000000" text="{{'action-bar.closed' | translate }}"></Label>
            </StackLayout>

            <!-- UNASSIGNED -->
            <StackLayout horizontalAlignment="left" marginTop="24" *ngIf="data?.status === 'unassigned' ? true : false">
                <Label class="ubikecard__box__selected" backgroundColor="#C1666B" text="{{'action-bar.unassigned' | translate }}"></Label>
            </StackLayout>

            <!-- CONTRACTED -->
            <StackLayout horizontalAlignment="left" marginTop="24" *ngIf="data?.status === 'contracted' ? true : false">
                <Label class="ubikecard__box__selected" backgroundColor="#1BA974" text="{{'action-bar.contracted' | translate }}"></Label>
            </StackLayout>

            <!-- CANCELLED -->
            <StackLayout horizontalAlignment="left" marginTop="24" *ngIf="data?.status === 'cancelled' || data?.status === 'quiting' ? true : false">
                <Label class="ubikecard__box__selected" backgroundColor="#D0021B" text="{{'action-bar.cancelled' | translate }}"></Label>
            </StackLayout>

            <!-- SUBMITTED -->
            <StackLayout horizontalAlignment="left" marginTop="24" *ngIf="data?.status === 'submitted' ? true : false">
                <Label class="ubikecard__box__selected" text="{{'action-bar.submitted' | translate }}" backgroundColor="#4D9DE0"></Label>
            </StackLayout>

            <!-- DISPATCH -->
            <StackLayout horizontalAlignment="left" marginTop="24" *ngIf="data?.status === 'dispatch' ? true : false">
                <Label class="ubikecard__box__selected" text="{{'action-bar.dispatch' | translate }}" backgroundColor="#88CCF1"></Label>
            </StackLayout>

            <!-- ANALYSIS -->
            <StackLayout horizontalAlignment="left" marginTop="24" *ngIf="data?.status === 'analysis' ? true : false">
                <Label class="ubikecard__box__selected" text="{{'action-bar.analysis' | translate }}" backgroundColor="#7768AE"></Label>
            </StackLayout>

            <!-- REJECTED -->
            <StackLayout horizontalAlignment="left" marginTop="24" *ngIf="data?.status === 'rejected' ? true : false">
                <Label class="ubikecard__box__selected" backgroundColor="#D0021B" text="{{'action-bar.rejected' | translate }}"></Label>
            </StackLayout>
        </StackLayout>

        <!-- BIKE INFO -->
        <Label marginTop="19" width=100% text="UBIKE" (tap)="gotoDetails()"></Label>
        <Label marginTop="12" width=100% class="fisas__h1" text="{{'action-bar.bike' | translate }}: {{ data?.typology_first_preference.name }}" (tap)="gotoDetails()"></Label>

        <!-- PICK UP INFORMATIONS -->
        <StackLayout marginTop="6" (tap)="gotoDetails()" width=100%>
            <Label textWrap="true" text="{{'action-bar.serviceUntil' | translate }}: {{ data?.end_date | date: 'dd-MM-yyyy' }}" [nsRouterLink]="['/ubike/candidatura-details']"></Label>
            <Label *ngIf="data?.pickup_location === null ? false : true" textWrap="true" text="{{'action-bar.lifting' | translate }} {{ data?.pickup_location }}" [nsRouterLink]="['/ubike/candidatura-details']"></Label>
        </StackLayout>

        <!-- BUTTONS -->
        <FlexboxLayout marginTop="18" width="100%" marginBottom="10">
            <!-- cancel button -->
            <StackLayout *ngIf="data?.status === 'submitted' || data?.status === 'analysis' || data?.status === 'enqueued'" col="0" horizontalAlignment="center" width="90">
                <Label (tap)="withdraw()" textAlignment="center" textWrap="true" class="ubikecard__box__btn ubikecard__box__btn--abort" text="{{'action-bar.cancel' | translate }}"></Label>
            </StackLayout>
            <!-- reject button -->
            <StackLayout *ngIf="data?.status === 'assigned'" horizontalAlignment="center" width="90">
                <Label (tap)="reject()" textWrap="true" class="ubikecard__box__btn ubikecard__box__btn--decline" text="{{'action-bar.rejected' | translate }}"></Label>
            </StackLayout>
            <!-- accept button -->
            <StackLayout *ngIf="data?.status === 'assigned'" horizontalAlignment="center" width="90" style="margin-left: 10;">
                <Label (tap)="approve()" textAlignment="center" textWrap="true" class="ubikecard__box__btn ubikecard__box__btn--accept" text="{{'action-bar.accept' | translate }}"></Label>
            </StackLayout>
        </FlexboxLayout>
    </StackLayout>
</StackLayout>
