<nz-tabset nzTabPosition="left">
  <nz-tab nzTitle="Identificação">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Nome
        </div>
        <div nz-row class="detail-field">
          {{ data.name }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Username
        </div>
        <div nz-row class="detail-field">
          {{ data.user_name?data.user_name:'-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Nº Estudante
        </div>
        <div nz-row class="detail-field">
          {{ data.student_number?data.student_number:'-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Email
        </div>
        <div nz-row class="detail-field">
          {{ data.email?data.email:'-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Identificação
        </div>
        <div nz-row class="detail-field">
          {{ data.identification ? data.identification: '-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          NIF / TIN
        </div>
        <div nz-row class="detail-field">
          {{ data.tin?data.tin:'-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Nacionalidade
        </div>
        <div nz-row class="detail-field">
          {{ data.nationality ? data.nationality :'-'}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Género
        </div>
        <div nz-row class="detail-field">
          {{ data.gender?gender_map[data.gender]:'-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Data de nascimento
        </div>
        <div nz-row class="detail-field">
          {{ data.birth_date | date : 'shortDate' }}
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="RFID">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          RFID
        </div>
        <div nz-row class="detail-field">
          {{ data.rfid ? data.rfid : '-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Validade RFID
        </div>
        <div nz-row class="detail-field">
          {{ data.rfid_validity ? (data.rfid_validity | date:'shortDate') : '-' }}
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Contactos">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Telefone
        </div>
        <div nz-row class="detail-field">
          {{ data.phone ? data.phone: '-'}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Email
        </div>
        <div nz-row class="detail-field">
          {{ data.email }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Facebook ID
        </div>
        <div nz-row class="detail-field">
          {{ data.fb_messenger_id? data.fb_messenger_id:'-'}}
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Dados">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Instituto
        </div>
        <div nz-row class="detail-field">
          {{ data?.institute?data?.institute:'-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Unidade orgânica
        </div>
        <div nz-row class="detail-field">
          {{data?.organicUnit?.name? data?.organicUnit?.name:'-' }}
        </div>
      </div>
      <div *ngIf="'sasocial:is_student' | hasPermission" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6"
        class="padding-top-20">
        <div nz-row class="title">
          Grau
        </div>
        <div nz-row class="detail-field">
          {{ data?.course ? data?.course?.courseDegree?.name:'-' }}
        </div>
      </div>
      <div *ngIf="'sasocial:is_student' | hasPermission" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6"
        class="padding-top-20">
        <div nz-row class="title">
          Curso
        </div>
        <div nz-row class="detail-field">
          {{ data?.course ? data?.course?.name :'-'}}
        </div>
      </div>
      <div *ngIf="'sasocial:is_student' | hasPermission" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6"
        class="padding-top-20">
        <div nz-row class="title">
          Ano que frequenta
        </div>
        <div nz-row class="detail-field">
          {{ data.course_year? data.course_year:'-'}}
        </div>
      </div>
      <div *ngIf="('sasocial:is_employee' | hasPermission)" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6"
        class="padding-top-20">
        <div nz-row class="title">
          Departamento
        </div>
        <div nz-row class="detail-field">
          {{ data?.department ? data?.department?.name:'-' }}
        </div>
      </div>
      <div *ngIf="('sasocial:is_employee' | hasPermission)" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6"
        class="padding-top-20">
        <div nz-row class="title">
          Secção
        </div>
        <div nz-row class="detail-field">
          {{ data?.section ? data?.section?.name:'-' }}
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Morada">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Morada
        </div>
        <div nz-row class="detail-field">
          {{ data.address?data.address:'-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Código postal
        </div>
        <div nz-row class="detail-field">
          {{ data.postal_code ?data.postal_code :'-'}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Cidade
        </div>
        <div nz-row class="detail-field">
          {{ data.city?data.city:'-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          País
        </div>
        <div nz-row class="detail-field">
          {{ data.country? data.country:'-' }}
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Permissões">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Perfil
        </div>
        <div nz-row class="detail-field">
          {{ data.profile ? data.profile.name : '-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Grupos utilizadores
        </div>
        <div nz-row class="detail-field" *ngIf="!data.user_groups">
          -
        </div>
        <div nz-row class="detail-field" *ngIf="data.user_groups">
          <nz-tag *ngFor="let ug of data.user_groups">{{ ug.name }}</nz-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Permissões
        </div>
        <div nz-row class="detail-field" *ngIf="!data.scopes">
          -
        </div>
        <div nz-row class="detail-field" *ngIf="data.scopes">
          <nz-tag *ngFor="let sc of data.scopes">{{ sc.name }}</nz-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Dispositivos
        </div>
        <div nz-row class="detail-field" *ngIf="!data.devices">
          -
        </div>
        <div nz-row class="detail-field" *ngIf="data.devices">
          <nz-tag *ngFor="let dv of data.devices">{{ dv.name }}</nz-tag>
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Outros">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Externo
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="data.external"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Pode alterar password
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="data.can_change_password"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Acesso ao Backoffice
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="data.can_access_BO"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Ativo
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="data.active"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Externo
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="data.external"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Consumidor final
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="data.is_final_consumer"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Criado em
        </div>
        <div nz-row class="detail-field">
          {{ data.created_at | date : "dd/MM/yyyy 'às' hh:mm:ss"}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Atualizado em
        </div>
        <div nz-row class="detail-field">
          {{ data.updated_at | date : "dd/MM/yyyy 'às' hh:mm:ss" }}
        </div>
      </div>
    </div>
  </nz-tab>
</nz-tabset>