<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step-form">{{ attendance.user.name }}</p>
  </div>
</div>
<div nz-row *ngFor="let h of attendance.historic">
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step-form">{{ h.date | date: "yyyy-MM-dd" }}</p>
  </div>
  <div *ngFor="let check of h.checklist_data">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" *ngFor="let answer of check.answers">
      <div nz-col nzSpan="12">
        <p> {{ answer.question}}</p>
      </div>
      <div nz-col nzSpan="12">
        <p> {{ answer.answer}}</p>
      </div>
    </div>
    <div nz-row>
      <p><b>{{ "HEALTH.ATTENDANCES_DETAIL.FORM.NOTES" | translate }}</b></p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p> {{ check.notes }}</p>
    </div>
  </div>
  <nz-divider class="divider"></nz-divider>
</div>
<div *ngIf="!attendance.historic || attendance?.historic.length === 0" nz-row style="padding-bottom: 20px;">
  <nz-empty></nz-empty>
</div>