<form [formGroup]="closeAppointmentForm" nzLayout="vertical">
  <div nz-row style="padding-bottom: 10px;">
    <h2 class="title-top-page">{{ 'HEALTH.ATTENDANCES_TAB.OPTIONS.CLOSE_APPOINTMENT' | translate }}</h2>
        <div nz-col [nzSm]="24" [nzXs]="24">
          <div nz-row>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="date" style="color: black;">
                <b>{{ 'HEALTH.APPOINTMENT_FORM.TITLE_DATE' | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <nz-date-picker formCondiv formControlName="date" id="date" class="primary-datePicker" [nzDisabledDate]="disableDate"></nz-date-picker>
                <nz-form-explain class="error"
                  *ngIf="closeAppointmentForm.get('date')?.dirty && closeAppointmentForm.get('date').errors">
                  {{ getInputError("date") | translate }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-row>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="start_hour" style="color: black;">
                <b>{{ 'HEALTH.APPOINTMENT_FORM.TITLE_HOUR' | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <nz-time-picker class="primary-timePicker" formControlName="start_hour" id="start_hour" nzFormat="HH:mm" 
                [nzPlaceHolder]="'HEALTH.APPOINTMENT_FORM.START_HOUR' | translate" [nzDefaultOpenValue]="defaultOpenValue"></nz-time-picker>
                <nz-form-explain class="error"
                  *ngIf="closeAppointmentForm.get('start_hour')?.dirty && closeAppointmentForm.get('start_hour').errors">
                  {{ getInputError("start_hour") | translate }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-row>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="end_hour" style="color: black;">
                <b>{{ 'HEALTH.APPOINTMENT_FORM.TITLE_HOUR' | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <nz-time-picker class="primary-timePicker" formControlName="end_hour" id="end_hour" nzFormat="HH:mm"
                [nzPlaceHolder]="'HEALTH.APPOINTMENT_FORM.END_HOUR' | translate" [nzDefaultOpenValue]="defaultOpenValue"></nz-time-picker>
                <nz-form-explain class="error"
                  *ngIf="closeAppointmentForm.get('end_hour')?.dirty && closeAppointmentForm.get('end_hour').errors">
                  {{ getInputError("end_hour") | translate }}</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
  </div>
  <div nz-row class="form--buttons">
    <div nz-col nzXs="12">
      <app-button type="secundary" translate="MISC.CANCEL" (click)="close()"> </app-button>
    </div>
    <div nz-col nzXs="12" style="text-align: right">
      <app-button type="primary" translate="MISC.SUBMIT" (click)="onSubmit()" [loading]="loadingSubmit"></app-button>
    </div>
  </div>
</form>