<StackLayout class="change-refectories">
  <fi-action-bar [actionBarType]="3" actionBarTitle="{{ 'CHANGE-REFECTORIES.TITLE' | translate }}"></fi-action-bar>

  <ScrollView row="0">
    <WrapLayout orientation="horizontal">
      <StackLayout class="fisas__content" marginTop="40" *ngIf="isLoading">
        <ActivityIndicator row="1" #activityIndicator [busy]="isLoading" width="100%" height="50" color="lightgray"
          class="fisas__loading"></ActivityIndicator>
      </StackLayout>

      <StackLayout class="refectories__list" *ngIf="!isLoading">
        <StackLayout class="refectories__list__li" *ngIf="refectory?.name" backgroundColor="#f3f3f3">
          <Label textWrap="true" width="100%" class="fisas__btn fisas__btn--padding" (tap)="
              selectRefectory({
                id: refectory.id,
                schoolId: refectory.schoolId,
                name: refectory.name,
                description: refectory.description
              })
            ">
            <FormattedString class="fisas__p--label">
              <Span fontWeight="bold" [text]="refectory?.name"></Span>
              <Span [text]="'\n' + refectory?.description"></Span>
            </FormattedString>
          </Label>
        </StackLayout>
        <StackLayout class="refectories__list__li" *ngFor="let item of refectories">
          <Label textWrap="true" width="100%" class="fisas__btn fisas__btn--padding"
            *ngIf="refectory?.name !== item.name" (tap)="
              selectRefectory({
                id: item.id,
                schoolId: item.schoolId,
                name: item.name,
                description: item.description
              })
            ">
            <FormattedString class="fisas__p--label">
              <Span fontWeight="bold" [text]="item.name"></Span>
              <Span [text]="'\n' + item.description"></Span>
            </FormattedString>
          </Label>
        </StackLayout>
      </StackLayout>
    </WrapLayout>
  </ScrollView>
</StackLayout>