<nz-spin [nzSpinning]="loading">
  <div nz-row>
    <div nz-col>
      <div class="form">
        <form nz-form [formGroup]="form">
          <div nz-row>
            <nz-form-item>
              <nz-form-label nzFor="consent_terms_file_id">Consentimento dos Termos</nz-form-label>
              <nz-form-control>
                <fi-sas-upload-file formControlName="consent_terms_file_id" [types]="filterTypes" *ngIf="!f.consent_terms_file_id.value" ></fi-sas-upload-file>
              </nz-form-control>
              <div *ngIf="consent_terms_file">
                <a target="_blank" [href]="consent_terms_file?.url">
                  <img src="./assets/images/doc.PNG" width="100px">
                </a>
            </div>
            </nz-form-item>
          </div>
          <div nz-row>
            <nz-form-item>
              <nz-form-label nzFor="delivery_reception_file_id">Auto de Entrega/Recepção</nz-form-label>
              <nz-form-control>
                <fi-sas-upload-file formControlName="delivery_reception_file_id" [types]="filterTypes" *ngIf="!f.delivery_reception_file_id.value" ></fi-sas-upload-file>
              </nz-form-control>
              <div *ngIf="delivery_reception_file">
                <a target="_blank" [href]="delivery_reception_file?.url">
                  <img src="./assets/images/doc.PNG" width="100px">
                </a>
            </div>
            </nz-form-item>
          </div>
        </form>
      </div>
    </div>
  </div>   
</nz-spin>
