<button nz-button (click)="regenerate()" style="margin: 16px">
  <i nz-icon nzType="reload" nzTheme="outline"></i>Regenerar endpoints
</button>
<nz-spin [nzSpinning]="loading">
  <div class="content">
    <nz-table #smallTable nzSize="small" [nzData]="data">
      <thead>
        <tr>
          <th>Método</th>
          <th>Visibilidade</th>
          <th>Nome</th>
          <th>Caminho</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of smallTable.data">
          <td>
            <nz-tag [nzColor]="getColorMethod(data.methods)">{{
              data.methods || '--'
            }}</nz-tag>
          </td>
          <td>
            <nz-tag [nzColor]="getColorVisibility(data.action?.visibility)">{{
              data.action?.visibility || '--'
            }}</nz-tag>
          </td>
          <td>{{ data.action?.rawName || '--' }}</td>
          <td>{{ data.fullPath }}</td>
        </tr>
      </tbody>
    </nz-table>

    <!--<pre>
      {{ data | json }}
    </pre>-->
  </div>
</nz-spin>
