<div class="content-form">
  <form [formGroup]="closeApplications" nzLayout="vertical">
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="close_academic_year">Fechar todas as candidaturas no ano letivo
          </nz-form-label>
          <nz-form-control>
            <nz-select formControlName="close_academic_year" id="close_academic_year" name="close_academic_year"
              nzAllowClear>
              <nz-option *ngFor="let academic_year of academic_years" [nzLabel]="academic_year.academic_year"
                [nzValue]="academic_year.academic_year">
              </nz-option>
            </nz-select>
            <nz-form-explain class="error" *ngIf="submit && !closeApplications.get('close_academic_year').value">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>

        </nz-form-item>
      </div>

      <div nz-col nzSpan="12" class="content-form__actions">
        <button nz-button nzType="primary" type="submit"
          (click)="submitFormCloseApplications($event, closeApplications.value)" [nzLoading]="loading">
          Aplicar
        </button>
      </div>
    </div>
  </form>
</div>

<div nz-row class="space-form"></div>

<div class="content-form">
  <form [formGroup]="configurationsForm" nzLayout="vertical">
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="profile_id">Perfil para utilizadores externos</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <nz-select formControlName="profile_id" id="profile_id" name="profile_id" nzAllowClear>
              <nz-option *ngFor="let profile of profiles$ | async" [nzLabel]="profile.name" [nzValue]="profile.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

  </form>
</div>

<div class="space" nz-row>
  <button nz-button [nzLoading]="configurationsFormLoading" [disabled]=" !('volunteering:configurations:update' | hasPermission) ||
  !configurationsForm.valid ||
  configurationsFormLoading" (click)="submitConfigurations()" [nzType]="'primary'"><i nz-icon
      nzType="save"></i>Gravar</button>
</div>