<div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
  <!--User Select-->
  <div nz-col [nzSpan]="24" *ngIf="!studentSelectedFlg" class="emergency-fund-form-application__select-user">
    <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
      <div nz-col [nzXs]="{ span: 2 }" [nzLg]="{ span: 6 }"></div>
      <div nz-col [nzXs]="{ span: 20 }" [nzLg]="{ span: 12 }">
        <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
          <div nz-col [nzSpan]="24" class="emergency-fund-form-application__select-user__title">
            Selecione um estudante:
          </div>
          <div nz-col [nzSpan]="24" class="emergency-fund-form-application__select-user__input-group">
            <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
              <div nz-col [nzSpan]="24" class="emergency-fund-form-application__select-user__input-title">
                Estudante:
              </div>
              <div nz-col [nzSpan]="24">
                <fi-sas-user-select [(ngModel)]="studentSelected" [returnID]="false"></fi-sas-user-select>
              </div>
            </div>
          </div>
          <div nz-col [nzSpan]="24" class="emergency-fund-form-application__select-user__input-btn">
            <button nz-button nzType="default" (click)="goToForm()" [disabled]="!studentSelected"
              class="btn">
              <span>Seguinte</span>
            </button>
          </div>
        </div>
      </div>
      <div nz-col [nzXs]="{ span: 2 }" [nzLg]="{ span: 6 }"></div>
    </div>
  </div>

  <!--Form-->
  <div nz-col [nzSpan]="24" *ngIf="studentSelectedFlg" class="accommodation-form-application__form">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <button class="back-button" nz-button nzShape="round" (click)="cancelApplicationForm()">
          Cancelar
        </button>
      </div>


    </div>
    <div nz-row class="content__space">

      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <!--Steps-->
        <div nz-row class=" content content__prog">
          <!--XL to XXL-->
          <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="0" [nzXl]="0" [nzXXl]="24">
            <nz-steps class="content__line" [nzCurrent]="current" nzProgressDot>
              <nz-step nzTitle="Passo 1" nzDescription="Identificação">
              </nz-step>
              <nz-step nzTitle="Passo 2" nzDescription="Aregado Familiar">
              </nz-step>
              <nz-step nzTitle="Passo 3" nzDescription="Património">
              </nz-step>
              <nz-step nzTitle="Passo 4" nzDescription="Despesas Agregado">
              </nz-step>
              <nz-step nzTitle="Passo 5" nzDescription="Despesas Aluno">
              </nz-step>
              <nz-step nzTitle="Passo 6" nzDescription="Documentos necessários">
              </nz-step>
              <nz-step nzTitle="Passo 7" nzDescription="Apoios pretendidos">
              </nz-step>
              <nz-step nzTitle="Passo 8" nzDescription="Justificação">
              </nz-step>
              <nz-step nzTitle="Passo 9" nzDescription="Revisão">
              </nz-step>
            </nz-steps>
          </div>
          <!--MD to LG-->
          <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="24" [nzXl]="24" [nzXXl]="0">
            <nz-steps class="content__line" [nzCurrent]="current" nzProgressDot>
              <nz-step nzTitle="Passo 1" nzDescription="Identificação">
              </nz-step>
              <nz-step nzTitle="Passo 2" nzDescription="Aregado Familiar">
              </nz-step>
              <nz-step nzTitle="Passo 3" nzDescription="Património">
              </nz-step>
              <nz-step nzTitle="Passo 4" nzDescription="Despesas Agregado">
              </nz-step>
            </nz-steps>
          </div>
          <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="24" [nzXl]="24" [nzXXl]="0" style="margin-top: 25px;">
            <nz-steps class="content__line" [nzCurrent]="current-4" nzProgressDot>
              <nz-step nzTitle="Passo 5" nzDescription="Despesas Aluno">
              </nz-step>
              <nz-step nzTitle="Passo 6" nzDescription="Documentos necessários">
              </nz-step>
              <nz-step nzTitle="Passo 7" nzDescription="Apoios pretendidos">
              </nz-step>
              <nz-step nzTitle="Passo 8" nzDescription="Justificação">
              </nz-step>
              <nz-step nzTitle="Passo 9" nzDescription="Revisão">
              </nz-step>
            </nz-steps>
          </div>
          <!--XS to SM-->
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="0" [nzXl]="0" [nzXXl]="0">
            <div *ngIf="current===0">
              <p class="steps-minimal-size_title">
                Passo 1 de 9
              </p>
              <p class="steps-minimal-size_sub-title">
                Identificação do Aluno
              </p>
            </div>
            <div *ngIf="current===1">
              <p class="steps-minimal-size_title">
                Passo 2 de 9
              </p>
              <p class="steps-minimal-size_sub-title">
                Composição do Agregado Familiar e Rendimentos Mensais
              </p>
            </div>
            <div *ngIf="current===2">
              <p class="steps-minimal-size_title">
                Passo 3 de 9
              </p>
              <p class="steps-minimal-size_sub-title">
                Património Mobiliário / Imobiliário
              </p>
            </div>
            <div *ngIf="current===3">
              <p class="steps-minimal-size_title">
                Passo de 4 de 9
              </p>
              <p class="steps-minimal-size_sub-title">
                Despesas Mensais - Agregado Familiar
              </p>
            </div>
            <div *ngIf="current===4">
              <p class="steps-minimal-size_title">
                Passo 5 de 9
              </p>
              <p class="steps-minimal-size_sub-title">
                Despesas Mensais – Aluno
              </p>
            </div>
            <div *ngIf="current===5">
              <p class="steps-minimal-size_title">
                Passo 6 de 9
              </p>
              <p class="steps-minimal-size_sub-title">
                Documentos necessários para análise do pedido
              </p>
            </div>
            <div *ngIf="current===6">
              <p class="steps-minimal-size_title">
                Passo 7 de 9
              </p>
              <p class="steps-minimal-size_sub-title">
                Apoios pretendidos
              </p>
            </div>
            <div *ngIf="current===7">
              <p class="steps-minimal-size_title">
                Passo 8 de 9
              </p>
              <p class="steps-minimal-size_sub-title">
                Exposição da razão para o pedido de apoio pelo fundo de emergência
              </p>
            </div>
            <div *ngIf="current===8">
              <p class="steps-minimal-size_title">
                Passo 9 de 9
              </p>
              <p class="steps-minimal-size_sub-title">
                Revisão
              </p>
            </div>
          </div>
        </div>

        <nz-divider class="divider-web"></nz-divider>

        <!--        Form!           -->
        <div class="accommodation-application_form">
          <form nz-form [formGroup]="aplicationForm" class="content__group">
            <!--Step 0-->
            <div *ngIf="current===0">
              <!--Name-->
              <nz-form-item>
                <nz-form-label nzRequired nzFor="full_name">
                  <span class="content__title">
                    Nome completo
                  </span>
                </nz-form-label>
                <nz-form-control [nzErrorTip]="error_name">
                  <input class="primary-input" formControlName="full_name" nz-input id="full_name"
                    [readonly]="studentSelected?.name"
                    [ngClass]="{ 'error__input': f.full_name.dirty && f.full_name.errors, 'disabled-input': studentSelected.name?true:false}" />
                  <ng-template #error_name let-control>
                    <ng-container class="error" *ngIf="f.full_name.dirty && f.full_name.errors">
                      Campo obrigatório
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

              <!--Birth Date-->
              <div nz-row nzGutter="24">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="applicant_birth_date">
                      <span class="content__title">
                        Data de nascimento
                      </span>
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="error_applicant_birth_date">
                      <nz-date-picker class="primary-datePicker total-width" formControlName="applicant_birth_date"
                        [nzDisabled]="f.applicant_birth_date.valid" [disabled]="studentSelected?.applicant_birth_date"
                        [ngClass]="{ 'error': f.applicant_birth_date.dirty && f.applicant_birth_date.errors, 'disabled-input': studentSelected?.applicant_birth_date?true:false}"
                        id="form_application_accommodation_birth_date" nzPlaceHolder="">
                      </nz-date-picker>
                      <ng-template #error_applicant_birth_date let-control>
                        <ng-container class="error"
                          *ngIf="f.applicant_birth_date.dirty && f.applicant_birth_date.errors">
                          Campo obrigatório
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <!--Gender-->
              <nz-form-item>
                <nz-form-label nzRequired nzFor="gender">
                  <span class="content__title">
                    Género
                  </span>
                </nz-form-label>
                <nz-form-control [nzErrorTip]="error_gender">
                  <nz-radio-group class="content__radio_group primary-radio" formControlName="gender"
                    [disabled]="studentSelected?.gender && studentSelected?.gender != 'U'"
                    [ngClass]="{ 'disabled-input': studentSelected?.gender && studentSelected?.gender != 'U' ?true:false }">
                    <label nz-radio nzValue="M" class="content__radio_line"><span class="content__radiotitle">
                        Masculino
                      </span></label>
                    <label nz-radio nzValue="F" class="content__radio_line"><span class="content__radiotitle">
                        Feminino
                      </span></label>
                    <label nz-radio nzValue="U" class="content__radio_line"><span class="content__radiotitle">
                        Outro
                      </span></label>
                  </nz-radio-group>
                  <ng-template #error_gender let-control>
                    <ng-container class="error" *ngIf="f.gender.dirty && f.gender.errors">
                      Campo obrigatório
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>




            </div>

            <!--Step 1-->
            <div *ngIf="current===1">

            </div>

            <!--Step 2-->
            <div *ngIf="current===2">

            </div>

            <!--Step 3-->
            <div *ngIf="current===3">

            </div>

            <!--Step 4-->
            <div *ngIf="current===4">

            </div>

            <!--Step 5-->
            <div *ngIf="current===5">

            </div>

            <!--Step 6-->
            <div *ngIf="current===6">

            </div>

            <!--Step 7-->
            <div *ngIf="current===7">

            </div>
            <!--Step 8-->
            <div *ngIf="current===8">

            </div>
          </form>
        </div>

        <!--Buttons NEXT, PREVIOUS and SUBMIT-->

      </div>

    </div>
    <div class="content__steps-action">
      <button nz-button nzType="default" (click)="previous()" *ngIf="current > 0" style="margin-right: 10px;">
        <span>Anterior</span>
      </button>
      <button nz-button nzType="primary" (click)="next()" *ngIf="current < 7">
        <span>Seguinte</span>
      </button>
      <button nz-button nzType="primary" (click)="valuesForm()" *ngIf="current == 7">
        <span>Seguinte</span>
      </button>
      <button nz-button nzType="primary" (click)="submitForm()" *ngIf="current === 8" [nzLoading]="loadingButton"
        [disabled]="loadingButton">
        <span>Submeter</span>
      </button>
    </div>
  </div>
</div>
