
<div class="content--padding white">
  <form [formGroup]="formFeed" nz-form>
    <div nz-row>
      <nz-form-item>
        <nz-form-label nzRequired>Nome</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="name">
          <nz-form-explain class="color-required" *ngIf="submitted && f.name.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="11">
        <nz-form-item>
          <nz-form-label nzRequired>Categoria</nz-form-label>
          <nz-form-control>
            <nz-select nzPlaceHolder="Selecione" nzAllowClear formControlName="category_id">
              <nz-option *ngFor="let category of categories" [nzValue]="category.id"
                [nzLabel]="category.translations.length > 0 ? (category.translations | translation)?.name : 'Sem nome' "></nz-option>
            </nz-select>
            <nz-form-explain class="color-required" *ngIf="submitted && f.category_id.errors">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="2">
      </div>
      <div nz-col [nzSpan]="11">
        <nz-form-item>
          <nz-form-label nzRequired>Língua</nz-form-label>
          <nz-form-control>
            <nz-select nzPlaceHolder="Selecione" formControlName="language_id">
              <nz-option *ngFor="let language of languages" [nzValue]="language.id" [nzLabel]="language.name"
                [nzDisabled]="!language.active"></nz-option>
            </nz-select>
            <nz-form-explain class="color-required" *ngIf="submitted && f.language_id.errors">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <nz-form-item>
        <nz-form-label nzRequired>URL</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="url">
          <nz-form-explain class="color-required" *ngIf="submitted && f.url.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-row>
      <nz-form-item>
        <nz-form-label nzRequired>Activo</nz-form-label>
        <nz-form-control>
          <nz-switch formControlName="active"></nz-switch>
          <nz-form-explain class="color-required" *ngIf="submitted && f.active.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-control>
        </nz-form-item>
    </div>
  </form>
</div>

<div class="space" nz-row>
  <button *ngIf="isUpdate" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="isLoading" [disabled]="isLoading"
    (click)="submit()" class="button-submit"
    [nzType]="'primary'">{{isUpdate ? 'Editar' : 'Criar'}}</button>
</div>