<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="title-step-form">{{ "HEALTH.APPOINTMENT_FORM.REVIEW_TITLE" | translate }}</p>
    <p class="detail-text">{{ "HEALTH.APPOINTMENT_FORM.REVIEW_DESC" | translate }}</p>
  </div>
  <nz-divider></nz-divider>
</div>
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
    <p class="sub-title"> {{ "HEALTH.APPOINTMENT_FORM.IDENTIFICATION_STEP" | translate }} </p>
  </div>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.NAME" | translate }} </p>
  <p class="desc-resume">{{ steps[1].formValues.name ? steps[1].formValues.name : "---" }}</p>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.ADDRESS" | translate }} </p>
    <p class="desc-resume">{{ steps[1].formValues.address ? steps[1].formValues.address : "---" }}</p>
  </div>
  <div nz-col [nzXs]="6" [nzSm]="6" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.POSTAL_CODE" | translate }} </p>
    <p class="desc-resume">{{ steps[1].formValues.postal_code ? steps[1].formValues.postal_code : "---" }}</p>
  </div>
  <div nz-col [nzXs]="6" [nzSm]="6" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6"> 
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.CITY" | translate }} </p>
    <p class="desc-resume">{{ steps[1].formValues.city ? steps[1].formValues.city : "---" }}</p>
  </div>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.BIRTH_DATE" | translate }} </p>
    <p class="desc-resume">{{ steps[1].formValues.birth_date ? (steps[1].formValues.birth_date | date: "YYYY-MM-DD" ) : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.NATIONALITY" | translate }} </p>
    <p class="desc-resume">{{ steps[1].formValues.nationality ? steps[1].formValues.nationality : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.NIF" | translate }} </p>
    <p class="desc-resume">{{ steps[1].formValues.nif ? steps[1].formValues.nif : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.DOCUMENT_TYPE" | translate }} </p>
    <p class="desc-resume">{{ steps[1].formValues.document_type_id ? (findDocumentType(steps[1].formValues.document_type_id) | languageChange).description  : "---"}}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.IDENTIFICATION_NUMBER" | translate }} </p>
    <p class="desc-resume">{{ steps[1].formValues.identification_number ? steps[1].formValues.identification_number : "---" }}</p>
  </div>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.STUDENT_NUMBER" | translate }} </p>
    <p class="desc-resume">{{ steps[1].formValues.student_number ? steps[1].formValues.student_number : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.COURSE_YEAR" | translate }} </p>
    <p class="desc-resume">{{ steps[1].formValues.course_year ? steps[1].formValues.course_year : "---" }}</p>
  </div>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <div nz-col [nzXs]="6" [nzSm]="6" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.COURSE" | translate }} </p>
    <p class="desc-resume">{{ steps[1].formValues.course_department_id ? steps[1].formValues.course_department_id : "---" }}</p>
  </div>
  <div nz-col [nzXs]="6" [nzSm]="6" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.ORGANIC_UNIT" | translate }} </p>
    <p class="desc-resume">{{ steps[1].formValues.organic_unit_id ? steps[1].formValues.organic_unit_id : "--- " }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.SOCIAL_SCHOLARSHIP" | translate }} </p>
    <p class="desc-resume">{{ steps[1].formValues.has_scholarship ? steps[1].formValues.has_scholarship : "--- " }}</p>
  </div>
</div>
<div nz-row class="padding-top-30">
  <nz-divider></nz-divider>
</div>
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
    <p class="sub-title"> {{ "HEALTH.APPOINTMENT_FORM.CONTACTS" | translate }} </p>
  </div>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.TELEPHONE_NUMBER" | translate }} </p>
    <p class="desc-resume">{{ steps[1].formValues.telephone_number ? steps[1].formValues.telephone_number : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.MOBILE_PHONE_NUMBER" | translate }} </p>
    <p class="desc-resume">{{ steps[1].formValues.mobile_phone_number ? steps[1].formValues.mobile_phone_number : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.EMAIL" | translate }} </p>
    <p class="desc-resume">{{ steps[1].formValues.email ? steps[1].formValues.email : "---" }}</p>
  </div>
</div>
<div nz-row class="padding-top-30">
  <nz-divider></nz-divider>
</div>
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
    <p class="sub-title"> {{ "HEALTH.APPOINTMENT_FORM.APPOINTMENT_LABEL" | translate }}</p>
  </div>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <p class="sub-title-resume"> {{ "HEALTH.APPOINTMENT_FORM.SPECIALTY_SERVICE" | translate }} </p>
  
  <p class="desc-resume">{{ (specialtyFound?.translations | languageChange)?.name }}</p>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.PROFESSIONAL" | translate }}</p>
  <p class="desc-resume">{{ steps[0].formValues.doctor_id ? findDoctor(steps[0].formValues.doctor_id) : "---" }}</p>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.DAY" | translate }}</p>
    <p class="desc-resume">{{ steps[0].formValues.date ? steps[0].formValues.date : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.START_HOUR" | translate }}</p>
    <p class="desc-resume">{{ steps[0].formValues.start_hour ? steps[0].formValues.start_hour : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.END_HOUR" | translate }}</p>
    <p class="desc-resume">{{ steps[0].formValues.end_hour ? steps[0].formValues.end_hour : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume">{{ "HEALTH.SPECIALTY.TECHNICAL_DATA.LABEL_AVARAGE_ATTENDANCE_TIME" | translate }}</p>
    <p class="desc-resume">{{ specialtyFound ? specialtyFound.avarage_time + " min" : "---" }}</p>
  </div>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.ALLOW_HISTORIC" | translate }}</p>
  <p class="desc-resume">{{ steps[2].formValues.allow_historic ? ("HEALTH.APPOINTMENT_FORM.YES" | translate) : ("HEALTH.APPOINTMENT_FORM.NO" | translate) }}</p>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.APPOINTMENT_TYPE" | translate }}</p>
    <p class="desc-resume">{{ steps[0].formValues.appointment_type_id ? (findAppointmentType(steps[0].formValues.appointment_type_id)?.translations | languageChange)?.name : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENTS_TAB.TABLE.LABEL_PLACE" | translate }}</p>
    <p class="desc-resume">{{ specialtyFound ? specialtyFound.place.name : "---" }}</p>
  </div>
</div>
<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.PAYMENT_TYPE" | translate }}</p>
    <p class="desc-resume">{{ steps[3].formValues.payment_type ? steps[3].formValues.payment_type : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.TARIFFS" | translate }}</p>
    <p class="desc-resume">{{ steps[3].formValues.tariff_id ? findTariff(steps[3].formValues.tariff_id) : "---" }}</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.PRICE" | translate }}</p>
    <p class="desc-resume">{{ steps[3].formValues.price ? steps[3].formValues.price : "---" }} €</p>
  </div>
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <p class="sub-title-resume">{{ "HEALTH.SPECIALTY.TECHNICAL_DATA.LABEL_VAT" | translate }}</p>
    <p class="desc-resume">{{ steps[3].formValues.tariff_id ? findTax(steps[3].formValues.tariff_id) : "---" }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume">{{ "HEALTH.APPOINTMENT_FORM.OBSERVATIONS" | translate }}</p>
    <p class="desc-resume">{{ steps[2].formValues.notes ? steps[2].formValues.notes : "---" }}</p>
  </div>
</div>
