<div class="content-form">
  <form [formGroup]="expensesForm" nzLayout="vertical">
    <div nz-row>
      <nz-form-item>
        <nz-form-label>Despesas incluídas</nz-form-label>
        <nz-form-control nzErrorTip="Campo despesas incluídas não válido!">
          <div class="radio_group">
            <label *ngFor="let expensesItem of expensesList" nz-checkbox [formControlName]="expensesItem.value">
              <span>
                {{ expensesItem.label }}
              </span>
            </label>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>

  </form>
</div>