
.form {
    margin-top: 25px;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 30px 35px 30px 35px;
    
}
.submit {
  margin-top: 25px;
  text-align: right;
}
.error {
    color: red;
    margin-top:5px;
  
    &__input {
      border-color: red !important;
      background-color: #ff00000a;
  
      :focus {
        border-color: red !important;
      }
  
      :hover {
        border-color: red !important;
      }
    }
}
  
#dateMaintenanceRequestUbike.ng-invalid.error ::ng-deep .ant-calendar-picker-input {
    border-color: red !important;
    background-color: #ff00000a !important;
    :focus {
      border-color: red !important;
    }
  
    :hover {
      border-color: red !important;
    }
}

@media screen and (max-width:600px) {
  .form{
    padding: 10px 10px 10px 10px !important;
  }
}