<h2 class="title-top-page">{{'U_BIKE.DASHBOARD.MAINTENANCE_REQUEST.REQUEST' | translate}}</h2>


<div class="form">
    <form nz-form [formGroup]="formMaintenanceRequest">
        <nz-form-item>
            <nz-form-label nzRequired nzFor="description">
                <b> {{ 'U_BIKE.DASHBOARD.MAINTENANCE_REQUEST.DATE.TITLE' | translate }}</b>
            </nz-form-label>
            <div class="desc-title-form">
                {{ 'U_BIKE.DASHBOARD.MAINTENANCE_REQUEST.DATE.DESC' | translate }}
            </div>
            <nz-form-control>
                <nz-date-picker id="dateMaintenanceRequestUbike" class="primary-datePicker" formControlName="date"
                    [ngClass]="{ 'error': submitted && f.date.errors }">
                </nz-date-picker>
                <nz-form-explain class="error" *ngIf="submitted && f.date.errors">
                    {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzRequired nzFor="description">
                <b> {{ 'U_BIKE.DASHBOARD.MAINTENANCE_REQUEST.BREAKDOWN.TITLE' | translate }}</b>
            </nz-form-label>
            <div class="desc-title-form">
                {{ 'U_BIKE.DASHBOARD.MAINTENANCE_REQUEST.BREAKDOWN.DESC' | translate }}
            </div>
            <nz-form-control>
                <input class="primary-input" nz-input formControlName="description"
                    [ngClass]="{ 'error__input': submitted && f.description.errors }">
                <nz-form-explain class="error" *ngIf="submitted && f.description.errors">
                    {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>

    </form>

    <div nz-row class="submit">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
          <app-button (click)="cancel()" style="margin-right: 15px;"
          [translate]="'MISC.CANCEL'" [type]="'secundary'"></app-button>
          <app-button [loading]="loading" [disabled]="!('u_bike:maintenances:create' | hasPermission)" (click)="submitMaintenanceRequest()"
          [translate]="'MISC.SUBMIT'"></app-button>
        </div>
    </div>

</div>