:root {
    --primary-10: #011814;
    --primary-9 : #012A1D;
    --primary-8 : #00412A;
    --primary-7 : #004D32;
    --primary-6 : #005F3C;
    --primary-5 : #29795B;
    --primary-4 : #57967F;
    --primary-3 : #82B19F;
    --primary-2 : #B2CFC4;
    --primary-1 : #E0EBE7;


    --primary-color: var(--primary-6); // color used in main actions

    --text-color              : black;
    --input-focus-shadow-color: #107f903b; // outer shadow of input on focus - GIVE 20% ALPHA 

    --background-color: #f3f3f3;

    --menu-text-color    : black;
    --menu-item-active-bg: #B7D8DE; // color of the side menu active ite
    --menu-bg            : #F4F9FA; // color of the background of the menu
    --menu-sub-bg        : #FFFFFF; // color of the background of the submenu

    --login-background-color: var(--primary-10);

    --header-logo-background: var(--primary-9);
    --header-background     : var(--primary-color);
    --header-text-color     : #fff;

    --dashboard-text-color      : var(--primary-color);
    --dashboard-hover-text-color: #fff;

    --footer-text-color: #fff;
    --footer-color     : var(--primary-5);
}