<div class="content-form">
  <form [formGroup]="cashAccountForm" nzLayout="vertical">
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="10">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="code">Código</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              formControlName="code"
              id="code"
              name="code"
              placeholder="Código"
            />
          </nz-form-control>
          <nz-form-explain class="error" *ngIf="submit && f.code.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="14">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="description"
            >Descrição</nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              formControlName="description"
              id="description"
              name="description"
              placeholder="Descrição"
            />
          </nz-form-control>
          <nz-form-explain class="error" *ngIf="submit && f.description.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzFor="iban">IBAN</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              formControlName="iban"
              id="iban"
              name="iban"
              placeholder="IBAN"
            />
          </nz-form-control>
          <nz-form-explain
            class="error"
            *ngIf="f.iban.dirty && f.iban.errors && f.iban.errors.invalidIban"
          >
            IBAN inválido
          </nz-form-explain>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzFor="users">Utilizadores autorizados</nz-form-label>
          <nz-form-control>
            <nz-select
              formControlName="users"
              name="users"
              nzMode="multiple"
              [nzServerSearch]="true"
              (nzOnSearch)="onSearchUsers($event)"
            >
              <nz-option
                *ngFor="let user of users"
                [nzLabel]="user.name"
                [nzValue]="user.id"
                [nzDisabled]="!user.active"
              >
              </nz-option>
            </nz-select>
          </nz-form-control>
          <nz-form-explain class="error" *ngIf="submit && f.users.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>

<div class="space">
  <button
    *ngIf="idToUpdate"
    nz-button
    (click)="backList()"
    style="margin-right: 15px"
  >
    Voltar
  </button>
  <button
    nz-button
    [nzLoading]="loading"
    [disabled]="loading"
    (click)="submitForm(cashAccountForm.value)"
    [nzType]="'primary'"
  >
    {{ idToUpdate ? 'Editar' : 'Criar' }}
  </button>
</div>
