@import 'theme';

.PopPrice {
  z-index: 21;
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  background: #ffffff;
  padding: 30px;


  &__btn {
    display: flex;
    float: right;
  }

  &__box {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
  }

  &__number1 {
    margin-right: 30px;
    margin-left: 21px;
    margin-top: 10px;
  }

  &__number2 {
    margin-left: 30px;
    margin-right: 21px;
    margin-top: 10px;
  }

  &__sub {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #111111;
    margin-top: 10px;
  }

  &__bar {
    position: absolute;
    top: 55px;
    width: 325px;
    margin-left: -17px;
  }
}

.button-div {
  height: 40px;
}
