<div class="PopPrice">
  <h2 class="title-top-page">{{ 'PRIVATEACCOMMODATION.POP_PRICE.TITLE' | translate }}</h2>
  <p class="sub-title-top-page">{{ 'PRIVATEACCOMMODATION.POP_PRICE.SUBTITLE' | translate }}</p>
  <div class="PopPrice__box">
    <nz-slider
      class="PopPrice__slider"
      nzRange
      [nzStep]="1"
      [(ngModel)]="rangeValue"
      [nzMin]="_minMaxPrice.min"
      [nzMax]="_minMaxPrice.max"
    >
    </nz-slider>
    <nz-row>
      <nz-input-number
        class="PopPrice__number1"
        [nzStep]="1"
        [ngModel]="rangeValue[0]"
        (ngModelChange)="onChangeBox0($event)"
      ></nz-input-number>
      <span class="PopPrice__sub">-</span>
      <nz-input-number
        class="PopPrice__number2"
        [nzStep]="1"
        [nzMax]="_minMaxPrice.max"
        [ngModel]="rangeValue[1]"
        (ngModelChange)="onChangeBox1($event)"
      ></nz-input-number>
    </nz-row>
    <div class="PopPrice__bar">
      <div id="chartdiv" style="width: 100%">
        <canvas
          baseChart
          style="width: 100%; height: auto"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [options]="lineChartOptions"
          [plugins]="lineChartPlugins"
        >
        </canvas>
      </div>
    </div>
  </div>
  <div class="button-div">
    <app-button
      class="PopPrice__btn"
      (click)="confirm()"
      [buttonStyle]="{
        'font-size': '12px',
        'line-height': '20px',
        'margin-top': '30px'
      }"
      translate="PRIVATEACCOMMODATION.POP_LOCAL.BT"
    ></app-button>
  </div>
</div>
