<nz-header class="header">
  <span nz-row nzType="flex" nzJustify="space-between">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
      <div nz-row nzJustify="space-between" nzAlign="middle">
        <div nz-col [nzXs]="21" [nzSm]="21" [nzMd]="3" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="header__logo">
          <a routerLink="/"><img [src]="'assets/logos/white/' + institute + '.svg'"></a>
        </div>
        <div nz-col nz-col [nzXs]="3" [nzSm]="3" [nzMd]="3" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="header__trigger"
          *ngIf="isSiderActive" (click)="siderButtonClick()">
          <i nz-icon [type]="isSiderCollapsed ? 'menu-unfold' : 'menu-fold'">
          </i>
        </div>
      </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
      <div nz-row nzType="flex" nzJustify="end" nzAlign="middle">
        <fi-sas-layout-header-reports></fi-sas-layout-header-reports>
        <fi-sas-layout-header-notifications></fi-sas-layout-header-notifications>
        <fi-sas-layout-header-user></fi-sas-layout-header-user>
      </div>
    </div>
  </span>

</nz-header>
