@import 'theme';

.header {
  padding: 0 24px 0 0;
  color: var(--header-text-color);
  background: var(--header-background);

  &__logo {
    text-align: center;
    font-size: 20px;
    color: var(--header-text-color);
    width: 250px;
    background: var(--header-logo-background);
    margin: 0;
    float: left;

    img {
      width: 65%;
      margin-top: -5px;
    }

    a:hover,
    a:visited,
    a:link,
    a:active,
    a:focus {
      display: block;
      width: 100%;
      text-decoration: none;
      font-style: normal;
      color: var(--header-text-color);
    }
  }

  &__trigger {
    font-size: 18px;
    padding: 0px 8px 8px 24px;
  }
}
