.content {
    padding: 24px;
    background-color: white;
}


.steps-content {
    margin-top: 16px;
    border-radius: 6px;
    background-color: white;
    min-height: 200px;
    padding-top: 20px;
  }

  .steps-action {
    padding-top: 15px;
    text-align: right;
    background-color: #f0f2f5;
  }


  :host::ng-deep {

    .disabled-input {
      cursor: not-allowed;
      opacity: 1;
      pointer-events: none;
      background-color: transparent;
    }
  }
  .pointer:hover{cursor: pointer;}