<nz-spin [nzSpinning]="loading">
  <div class="content">
    <nz-steps [nzCurrent]="current">
      <nz-step nzTitle="Dados Pessoais" class="pointer" (click)="goToStep(0)"></nz-step>
      <nz-step nzTitle="Contactos" class="pointer" (click)="goToStep(1)"></nz-step>
      <nz-step nzTitle="Morada" class="pointer" (click)="goToStep(2)"></nz-step>
      <nz-step nzTitle="Autenticação" class="pointer" (click)="goToStep(3)"></nz-step>
      <nz-step nzTitle="Permissões" class="pointer" (click)="goToStep(4)"></nz-step>
    </nz-steps>
    <nz-divider></nz-divider>

    <div class="steps-content">
      <form nz-form [formGroup]="userGroup" nzLayout="horizontal">
        <div *ngIf="index === 'personalData'">
          <div nz-row>
            <div nz-col nzXs="24" nzMd="11">
              <nz-form-item>
                <nz-form-label nzFor="student_number">Nº de utilizador</nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="student_number" id="student_number" placeholder="AA1234" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzXs="0" nzMd="2"></div>
            <div nz-col nzXs="24" nzMd="11">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="name">Nome</nz-form-label>
                <nz-form-control nzErrorTip="Campo obrigatório">
                  <input nz-input formControlName="name" id="name" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzXs="24" nzMd="11">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="birth_date">Data nascimento</nz-form-label>
                <nz-form-control nzErrorTip="Data inválida" style="text-align: initial;">
                  <nz-date-picker formControlName="birth_date" id="birth_date"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzXs="24" nzMd="11">

              <nz-form-item>
                <nz-form-label nzRequired nzFor="gender">Género</nz-form-label>
                <nz-form-control nzErrorTip="Campo obrigatório" style="text-align: initial;">
                  <nz-radio-group formControlName="gender" id="gender">
                    <label nz-radio nzValue="M">Masculino</label>
                    <label nz-radio nzValue="F">Feminino</label>
                    <label nz-radio nzValue="U">Outro</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzXs="24" nzMd="11">
              <nz-form-item>
                <nz-form-label nzFor="document_type_id">Documento de identificação</nz-form-label>
                <nz-form-control nzErrorTip="Campo obrigatório">
                  <nz-select formControlName="document_type_id" name="document_type_id"
                    nzPlaceHolder="Documento de Identificação" style="width: 100%;"
                    [nzLoading]="document_types_loading">
                    <nz-option *ngFor="let type of document_types"
                      [nzLabel]="(type.translations | where: ['language_id', 3])[0] ? (type.translations | where: ['language_id', 3])[0].description : '--'"
                      [nzValue]="type.id" [nzDisabled]="!type.active">
                    </nz-option>
                  </nz-select>

                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzXs="0" nzMd="2"></div>
            <div nz-col nzXs="24" nzMd="11">
              <nz-form-item>
                <nz-form-label nzFor="name">Identificação</nz-form-label>
                <nz-form-control nzErrorTip="Identificação inválida">
                  <input nz-input formControlName="identification" id="identification" placeholder="0000000"
                    maxlength="15" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzXs="24" nzMd="11">

              <nz-form-item>
                <nz-form-label nzFor="tin" nzRequired>NIF / TIN</nz-form-label>
                <nz-form-control nzErrorTip="NIT / TIN inválido">
                  <input nz-input formControlName="tin" id="tin" placeholder="999999990" maxlength="11" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzXs="24" nzMd="11">
              <nz-form-item>
                <nz-form-label nzFor="nationality" nzRequired>Nacionalidade</nz-form-label>
                <nz-form-control nzErrorTip="Campo obrigatório">
                  <nz-select formControlName="nationality" id="nationality" nzAllowClear="false">
                    <nz-option *ngFor="let nationality of nationalities" [nzValue]="nationality.value"
                      [nzLabel]="nationality.translate">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzXs="24" nzMd="11">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="active">Ativo</nz-form-label>
                <nz-form-control style="text-align: initial;">
                  <nz-switch formControlName="active" id="active"></nz-switch>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzXs="24" nzMd="11">
              <nz-form-item>
                <nz-form-label nzFor="external">Externo</nz-form-label>
                <nz-form-control style="text-align: initial;">
                  <nz-switch formControlName="external" id="external"></nz-switch>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzXs="24" nzMd="11">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="is_final_consumer">Consumidor final</nz-form-label>
                <nz-form-control style="text-align: initial;">
                  <nz-switch formControlName="is_final_consumer" id="is_final_consumer"></nz-switch>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzXs="24" nzMd="11">
              <nz-form-item>
                <nz-form-label nzFor="institute">Instituto</nz-form-label>
                <nz-form-control nzErrorTip="Instituto inválido">
                  <input nz-input formControlName="institute" id="institute" placeholder="Instituto" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

        </div>


        <div *ngIf="index === 'contactsData'">
          <div nz-row>
            <div nz-col nzXs="24" nzMd="11">
              <nz-form-item>
                <nz-form-label nzFor="phone">Contacto telefónico</nz-form-label>
                <nz-form-control nzErrorTip="Contacto inválido">
                  <input nz-input formControlName="phone" id="phone" placeholder="91000000" />
                </nz-form-control>
              </nz-form-item>


            </div>
            <div nz-col nzXs="0" nzMd="2">
            </div>
            <div nz-col nzXs="24" nzMd="11">
              <nz-form-item *ngIf="!idToUpdate">
                <nz-form-label nzRequired nzFor="email">Email</nz-form-label>
                <nz-form-control [nzErrorTip]="emailErrorTpl" nzHasFeedback nzValidatingTip="A validar o email">
                  <input nz-input formControlName="email" id="email" placeholder="email@sasocial.pt" />
                  <ng-template #emailErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Campo obrigatório
                    </ng-container>
                    <ng-container *ngIf="control.hasError('email')">
                      Email inválido
                    </ng-container>
                    <ng-container *ngIf="control.hasError('emailInUse')">
                      O Email já se encontra em uso
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzXs="24" nzMd="11">
              <nz-form-item>
                <nz-form-label nzFor="fb_messenger_id">FB Mensseger ID</nz-form-label>
                <nz-form-control nzErrorTip="FB Mensseger ID inválido">
                  <input nz-input formControlName="fb_messenger_id" id="fb_messenger_id" placeholder="" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>

        <div *ngIf="index === 'addressData'">
          <div nz-row>
            <div nz-col nzXs="24" nzMd="24">
              <nz-form-item>
                <nz-form-label nzFor="address" nzRequired>Morada</nz-form-label>
                <nz-form-control nzErrorTip="Campo obrigatório">
                  <input nz-input formControlName="address" id="address" placeholder="Morada" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzXs="24" nzMd="11">
              <nz-form-item>
                <nz-form-label nzFor="city" nzRequired>Cidade</nz-form-label>
                <nz-form-control nzErrorTip="Campo obrigatório">
                  <input nz-input formControlName="city" id="city" placeholder="Cidade" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzXs="0" nzMd="2">
            </div>
            <div nz-col nzXs="24" nzMd="11">
              <nz-form-item>
                <nz-form-label nzFor="country" nzRequired>Pais</nz-form-label>
                <nz-form-control nzErrorTip="Campo obrigatório">
                  <nz-select formControlName="country" id="country" nzAllowClear="false">
                    <nz-option *ngFor="let country of countries" [nzValue]="country.value" [nzLabel]="country.translate">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzXs="24" nzMd="11">
              <nz-form-item>
                <nz-form-label  nzFor="postal_code" nzRequired>Código postal</nz-form-label>
                <nz-form-control nzErrorTip="Código postal inválido">
                  <input nz-input formControlName="postal_code" id="postal_code" placeholder="1234-123" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

        </div>

        <div *ngIf="index === 'authenticationData'">
          <div nz-row>
            <div nz-col nzXs="24" nzMd="24">
              <nz-form-item>
                <nz-form-label nzFor="rfid">RFID</nz-form-label>
                <nz-form-control nzErrorTip="RFID inválido">
                  <input nz-input type="text" formControlName="rfid" id="rfid" placeholder="DR32BV56" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzXs="24" nzMd="24">
              <nz-form-item>
                <nz-form-label nzFor="rfid_validity">Validade RFID</nz-form-label>
                <nz-form-control nzErrorTip="Validade RFID inválida" style="text-align: initial;">
                  <nz-date-picker formControlName="rfid_validity" id="rfid_validity"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzXs="24" nzMd="24">
              <nz-form-item *ngIf="!idToUpdate">
                <nz-form-label nzRequired nzFor="user_name">Utilizador</nz-form-label>
                <nz-form-control [nzErrorTip]="emailErrorTpl" nzHasFeedback
                  nzValidatingTip="A validar o username">
                  <input nz-input formControlName="user_name" id="user_name" placeholder="username" />
                  <ng-template #emailErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                     Campo obrigatório
                    </ng-container>
                    <ng-container *ngIf="control.hasError('user_nameInUse')">
                      O Utilizador já se encontra em uso
                    </ng-container>

                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

        </div>

        <div *ngIf="index === 'permissionData'">
          <div nz-row>
            <div nz-col nzXs="24" nzMd="24">
              <nz-form-item>
                <nz-form-label nzFor="can_access_BO">Pode aceder ao backoffice</nz-form-label>
                <nz-form-control
                  style="text-align: initial;">
                  <nz-switch formControlName="can_access_BO" id="can_access_BO"></nz-switch>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzXs="24" nzMd="24">
              <nz-form-item>
                <nz-form-label nzRequired="true" nzFor="profile_id">Perfil</nz-form-label>
                <nz-form-control nzErrorTip="Campo obrigatório">
                  <nz-select nzAllowClear="false" formControlName="profile_id" id="profile_id"
                    [nzLoading]="profiles_loading">
                    <nz-option *ngFor="let profile of profiles" [nzDisabled]="!profile.active" [nzValue]="profile.id"
                      [nzLabel]="profile.name"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzXs="24" nzMd="24">
              <nz-form-item>
                <nz-form-label nzFor="user_group_ids">Grupo de utilizadores</nz-form-label>
                <nz-form-control>
                  <nz-select nzAllowClear="false" formControlName="user_group_ids" id="user_group_ids" nzMode="multiple"
                    [nzLoading]="user_group_loading">
                    <nz-option *ngFor="let user_group of user_groups" [nzValue]="user_group.id" [nzLabel]="user_group.name">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzXs="24" nzMd="24">
              <nz-form-item>
                <nz-form-label nzFor="scope_ids">Permissões extras</nz-form-label>
                <nz-form-control>
                  <nz-select nzAllowClear="false" formControlName="scope_ids" id="scope_ids" nzMode="multiple"
                    [nzLoading]="scopes_loading">
                    <nz-option *ngFor="let scope of scopes" [nzValue]="scope.id" [nzLabel]="scope.name"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <div nz-row>
            <div nz-col nzXs="24" nzMd="24">
              <nz-form-item>
                <nz-form-label nzFor="blocked_fields">Campos bloqueados</nz-form-label>
                <nz-form-control>
                  <nz-select nzAllowClear="false" formControlName="blocked_fields" id="blocked_fields" nzMode="multiple">
                    <nz-option nzValue="name" nzLabel="Nome"></nz-option>
                    <nz-option nzValue="birth_date" nzLabel="Data de nascimento"></nz-option>
                    <nz-option nzValue="gender" nzLabel="Género"></nz-option>
                    <nz-option nzValue="phone" nzLabel="Contacto telefónico"></nz-option>
                    <nz-option nzValue="document_type_id" nzLabel="Tipo de documento de identificação"></nz-option>
                    <nz-option nzValue="identification" nzLabel="Numero de identificação"></nz-option>
                    <nz-option nzValue="tin" nzLabel="NIF"></nz-option>
                    <nz-option nzValue="address" nzLabel="Morada"></nz-option>
                    <nz-option nzValue="city" nzLabel="Cidade"></nz-option>
                    <nz-option nzValue="postal_code" nzLabel="Código postal"></nz-option>
                    <nz-option nzValue="country" nzLabel="Pais"></nz-option>
                    <nz-option nzValue="nationality" nzLabel="Nacionalidade"></nz-option>
                    <nz-option nzValue="course_id" nzLabel="Curso"></nz-option>
                    <nz-option nzValue="course_year" nzLabel="Ano de curso"></nz-option>
                    <nz-option nzValue="organic_unit_id" nzLabel="Unidade orgânica"></nz-option>
                    <nz-option nzValue="course_degree_id" nzLabel="Grau de curso"></nz-option>
                    <nz-option nzValue="section_id" nzLabel="Secção"></nz-option>
                    <nz-option nzValue="department_id" nzLabel="Departamento"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

        </div>

        <div *ngIf="index === 'success'">

        </div>
      </form>
    </div>

  </div>
  <div class="steps-action" *ngIf="index !== 'success'">
    <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0" [disabled]="loading" style="margin-right: 10px;">
      <span>Anterior</span>
    </button>
    <button nz-button nzType="primary" (click)="next()" *ngIf="current < 4">
      <span>Seguinte</span>
    </button>
    <button nz-button nzType="primary" (click)="done()" *ngIf="current === 4" [nzLoading]="loading"
      [disabled]="loading">
      <span>Guardar</span>
    </button>
  </div>
</nz-spin>
