<fi-sas-layout-toolstrip>
  <fi-sas-toolstrip-button [isLoading]="isLoading" (onClick)="submit(modalityForm.value, modalityForm.valid)"
                           iconType="save" [tooltip]="isUpdate ? 'Alterar' : 'Inserir'"></fi-sas-toolstrip-button>
  <fi-sas-toolstrip-button *ngIf="isUpdate" iconType="delete" tooltip="Eliminar"
                           (onClick)="deleteModality()"></fi-sas-toolstrip-button>
</fi-sas-layout-toolstrip>
<div class="content--padding ps scroll-container" perfectScrollbar>
  <form [formGroup]="modalityForm" nz-form>

    <nz-form-item>
      <nz-form-label>Nome</nz-form-label>
      <nz-form-control>
        <input  name="name" nz-input formControlName="name">
        <nz-form-explain *ngIf="modalityForm.get('name').errors">{{getNameInputError()}}</nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Imagem</nz-form-label>
      <nz-form-control>
        <fi-sas-upload-image  formControlName="file_id" [aspectRatio]="null" ></fi-sas-upload-image>
        <nz-form-explain *ngIf="modalityForm.get('file_id').errors">{{getImageInputError()}}</nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Ativo</nz-form-label>
      <nz-form-control>
        <nz-switch formControlName="active"></nz-switch>
      </nz-form-control>
    </nz-form-item>

  </form>
</div>
