<app-application-navbar></app-application-navbar>
<div nz-row class="page">
  <!--Back Button-->

  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="2"
    [nzLg]="2"
    [nzXl]="2"
    [nzXXl]="2"
  ></div>
  <div
    nz-col
    nz-col
    [nzXs]="22"
    [nzSm]="20"
    [nzMd]="20"
    [nzLg]="20"
    [nzXl]="20"
    [nzXXl]="20"
    class="top"
  >
    <app-button
      translate="MISC.RETURN"
      [routerLink]="['/accommodation', 'list-applications']"
      [leftIcon]="'left'"
      [buttonStyle]="{ 'font-size': '12px', 'line-height': '18px' }"
      type="tertiary"
    >
    </app-button>
  </div>

  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="2"
    [nzLg]="2"
    [nzXl]="2"
    [nzXXl]="2"
  ></div>
</div>
<div *ngIf="!noApplication" style="margin-top: 25px">
  <div class="container">
    <div nz-row>
      <div
        nz-col
        [nzXs]="1"
        [nzSm]="1"
        [nzMd]="2"
        [nzLg]="2"
        [nzXl]="2"
        [nzXXl]="2"
      ></div>
      <div
        nz-col
        nz-col
        [nzXs]="22"
        [nzSm]="20"
        [nzMd]="20"
        [nzLg]="20"
        [nzXl]="20"
        [nzXXl]="20"
      >
        <div class="forms">
          <h2 class="title-top-page">
            {{ "ACCOMMODATION.CHANGE_REQUESTS.TITLE" | translate }}
          </h2>
          <p class="sub-title-top-page">
            {{
              "ACCOMMODATION.CHANGE_REQUESTS.NO_APPLICATION_HISTORY" | translate
            }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="noApplication" style="margin-top: 25px; margin-bottom: 25px">
  <div class="container">
    <div nz-row>
      <div
        nz-col
        [nzXs]="1"
        [nzSm]="1"
        [nzMd]="2"
        [nzLg]="2"
        [nzXl]="2"
        [nzXXl]="2"
      ></div>
      <div
        nz-col
        nz-col
        [nzXs]="22"
        [nzSm]="20"
        [nzMd]="20"
        [nzLg]="20"
        [nzXl]="20"
        [nzXXl]="20"
      >
        <div class="forms">
          <h2 class="title-top-page">
            {{ "ACCOMMODATION.CHANGE_REQUESTS.TITLE" | translate }}
          </h2>
          <p class="sub-title-top-page">
            {{ "ACCOMMODATION.CHANGE_REQUESTS.DESC_HISTORY" | translate }}
          </p>
        </div>
        <div>
          <nz-spin [nzSpinning]="loadingChanges">
            <nz-card
              id="cardhistorychangerequestsComponent"
              class="border-radius-8"
            >
              <div class="padding-table hidden-xs">
                <table class="table table-responsive">
                  <tr class="header-table">
                    <th>
                      <div class="header-table-div"></div>
                    </th>
                    <th>
                      <div class="header-table-div">
                        <span>{{
                          "U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.DATESUBMIT"
                            | translate
                        }}</span>
                      </div>
                    </th>
                    <th>
                      <div class="header-table-div">
                        <span>{{
                          "ACCOMMODATION.CHANGE_REQUESTS.HISTORY_TABLE.TYPE"
                            | translate
                        }}</span>
                      </div>
                    </th>
                    <th>
                      <div class="header-table-div">
                        <span>{{
                          "U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.HAS_ATTACHEMENTS"
                            | translate
                        }}</span>
                      </div>
                    </th>
                    <th>
                      <div class="header-table-div">
                        <span>
                          {{
                            "ACCOMMODATION.CHANGE_REQUESTS.STATUS.STATUS"
                              | translate
                          }}
                        </span>
                      </div>
                    </th>
                    <th>
                      <div class="header-table-div"></div>
                    </th>
                  </tr>
                  <tbody *ngFor="let change of changeRequests; let idx = index">
                    <tr
                      class="body-table"
                      [ngClass]="{ par: !isPar(idx), impar: isPar(idx) }"
                    >
                      <td></td>
                      <td>
                        <span>
                          {{ change?.created_at | date: "dd-MM-yyyy" }}
                        </span>
                      </td>
                      <td>
                        {{
                          "ACCOMMODATION.CHANGE_REQUESTS." +
                            change.type +
                            "_REQUEST" | translate
                        }}
                      </td>
                      <td>
                        <div *ngIf="change.file_id">
                          <i
                            nz-icon
                            nzType="icons:icons-success"
                            class="btn-checked"
                            nzTheme="outline"
                          ></i>
                        </div>
                        <div *ngIf="!change.file_id">
                          <i
                            nz-icon
                            nzType="icons:icons-radiobutton-unchecked"
                            class="btn-unchecked"
                            nzTheme="outline"
                          ></i>
                        </div>
                      </td>
                      <td>
                        <nz-tag
                          class="tab-status cursor-cont"
                          [nzColor]="
                            (
                              ApplicationChangeStatusColor
                              | filterStatusConfig: change?.status
                            )?.color
                          "
                        >
                          {{
                            "ACCOMMODATION.CHANGE_REQUESTS.STATUS." +
                              change?.status | translate
                          }}
                        </nz-tag>
                      </td>
                      <td>
                        <nz-dropdown
                          [nzTrigger]="'hover'"
                          [nzPlacement]="'bottomRight'"
                        >
                          <a nz-dropdown
                            ><i
                              nz-icon
                              style="font-size: 22px"
                              nzType="icons:icons-more-options"
                              nzTheme="outline"
                            ></i
                          ></a>
                          <ul nz-menu>
                            <li
                              *ngIf="
                                change?.status == 'SUBMITTED' &&
                                change?.type != 'IBAN_CHANGE' &&
                                !application
                              "
                              nz-menu-item
                              (click)="
                                openDetailEdit(change.type, change, true, false)
                              "
                            >
                              {{ "MISC.EDIT" | translate }}
                            </li>
                            <li
                              *ngIf="
                                change?.status == 'SUBMITTED' &&
                                change.type != 'ENTRY_COMMUNICATION' &&
                                change.type != 'EXIT_COMMUNICATION' &&
                                change?.type != 'IBAN_CHANGE' &&
                                !application
                              "
                              nz-menu-item
                              (click)="confirmCancel(change.id, change.type)"
                            >
                              {{ "MISC.CANCEL" | translate }}
                            </li>
                            <li
                              nz-menu-item
                              (click)="
                                openDetailEdit(change.type, change, false, true)
                              "
                            >
                              {{ "MISC.CONSULT" | translate }}
                            </li>
                          </ul>
                        </nz-dropdown>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <nz-empty *ngIf="changeRequests?.length == 0"></nz-empty>
              </div>
              <div class="padding-table hidden-md">
                <div *ngFor="let change of changeRequests; let idx = index">
                  <div [ngClass]="{ par: isPar(idx), impar: !isPar(idx) }">
                    <div nz-row nzType="flex" style="align-items: stretch">
                      <div
                        nz-col
                        [nzXs]="12"
                        [nzSm]="12"
                        [nzMd]="12"
                        class="header-table-div padding-left-5"
                      >
                        <span>{{
                          "U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.DATESUBMIT"
                            | translate
                        }}</span>
                      </div>
                      <div
                        nz-col
                        [nzXs]="12"
                        [nzSm]="12"
                        [nzMd]="12"
                        class="body-table padding-top-18"
                      >
                        <span>
                          {{ change.created_at | date: "dd-MM-yyyy" }}
                        </span>
                      </div>
                    </div>
                    <div nz-row nzType="flex" style="align-items: stretch">
                      <div
                        nz-col
                        [nzXs]="12"
                        [nzSm]="12"
                        [nzMd]="12"
                        class="header-table-div padding-left-5"
                      >
                        <span>{{
                          "ACCOMMODATION.CHANGE_REQUESTS.HISTORY_TABLE.TYPE"
                            | translate
                        }}</span>
                      </div>
                      <div
                        nz-col
                        [nzXs]="12"
                        [nzSm]="12"
                        [nzMd]="12"
                        class="body-table padding-top-18"
                      >
                        <span>
                          {{
                            "ACCOMMODATION.CHANGE_REQUESTS." +
                              change.type +
                              "_REQUEST" | translate
                          }}
                        </span>
                      </div>
                    </div>

                    <div nz-row nzType="flex" style="align-items: stretch">
                      <div
                        nz-col
                        [nzXs]="12"
                        [nzSm]="12"
                        [nzMd]="12"
                        class="header-table-div padding-left-5"
                      >
                        <span>{{
                          "U_BIKE.DASHBOARD.OCCURRENCES_CONTAINER.TABLE.HAS_ATTACHEMENTS"
                            | translate
                        }}</span>
                      </div>
                      <div
                        nz-col
                        [nzXs]="12"
                        [nzSm]="12"
                        [nzMd]="12"
                        class="body-table padding-top-18"
                      >
                        <div *ngIf="change.file_id">
                          <i
                            nz-icon
                            nzType="icons:icons-success"
                            class="btn-checked"
                            nzTheme="outline"
                          ></i>
                        </div>
                        <div *ngIf="!change.file_id">
                          <i
                            nz-icon
                            nzType="icons:icons-radiobutton-unchecked"
                            class="btn-unchecked"
                            nzTheme="outline"
                          ></i>
                        </div>
                      </div>
                    </div>
                    <div nz-row nzType="flex" style="align-items: stretch">
                      <div
                        nz-col
                        [nzXs]="12"
                        [nzSm]="12"
                        [nzMd]="12"
                        class="header-table-div padding-left-5"
                      >
                        <span>{{
                          "ACCOMMODATION.CHANGE_REQUESTS.STATUS.STATUS"
                            | translate
                        }}</span>
                      </div>
                      <div
                        nz-col
                        [nzXs]="12"
                        [nzSm]="12"
                        [nzMd]="12"
                        class="body-table padding-top-18"
                      >
                        <nz-tag
                          class="tab-status cursor-cont"
                          [nzColor]="
                            (
                              ApplicationChangeStatusColor
                              | filterStatusConfig: change?.status
                            )?.color
                          "
                        >
                          {{
                            "ACCOMMODATION.CHANGE_REQUESTS.STATUS." +
                              change?.status | translate
                          }}
                        </nz-tag>
                      </div>
                    </div>
                    <div nz-row style="text-align: center">
                      <nz-dropdown
                        [nzTrigger]="'hover'"
                        [nzPlacement]="'bottomRight'"
                      >
                        <a nz-dropdown
                          ><i
                            nz-icon
                            style="font-size: 22px"
                            nzType="icons:icons-more-options"
                            nzTheme="outline"
                          ></i
                        ></a>
                        <ul nz-menu>
                          <li
                            *ngIf="
                              change?.status == 'SUBMITTED' &&
                              change?.type != 'IBAN_CHANGE'
                            "
                            nz-menu-item
                            (click)="
                              openDetailEdit(change.type, change, true, false)
                            "
                          >
                            {{ "MISC.EDIT" | translate }}
                          </li>
                          <li
                            *ngIf="
                              change?.status == 'SUBMITTED' &&
                              change.type != 'ENTRY_COMMUNICATION' &&
                              change.type != 'EXIT_COMMUNICATION' &&
                              change?.type != 'IBAN_CHANGE'
                            "
                            nz-menu-item
                            (click)="confirmCancel(change.id, change.type)"
                          >
                            {{ "MISC.CANCEL" | translate }}
                          </li>
                          <li
                            nz-menu-item
                            (click)="
                              openDetailEdit(change.type, change, false, true)
                            "
                          >
                            {{ "MISC.CONSULT" | translate }}
                          </li>
                        </ul>
                      </nz-dropdown>
                    </div>
                  </div>
                </div>
              </div>
            </nz-card>
          </nz-spin>
        </div>
      </div>
    </div>
  </div>
</div>
