.border-radius-8 {
    border-radius: 8px;
}

.top {
    padding-top: 25px;
  }
    
#cardhistorychangerequestsComponent ::ng-deep .ant-card-body {
    padding:0px !important;
}

.padding-table {
    padding-top:3px;
    padding-bottom: 10px;
}
  
.hidden-md {
    display:none;
}
  
.par {
    background-color:white;
}
  
.impar {
    background-color: var(--primary-1);
}

.header-table-div {
    padding-bottom:15px;
    padding-top:15px;
    font-weight: normal;
    text-transform: unset;
    color: var(--primary-7);
}
.btn{
    &-unchecked{
      font-size: 18px;
      opacity: 50%;
    }
    &-checked{
      font-size: 18px;
    }
}

:host::ng-deep {
    i svg path {
      fill: var(--primary-color);
    }
}

.icon {
    padding-bottom:15px;
    padding-top:15px;
    font-size: 25px;
    padding-left:10px;
    padding-right: 10px;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}
  
tr:nth-of-type(even) {
    background: #eee;
}
  
th {
    background: white;
}
  
td, th {
    padding: 6px;
    text-align: left;
    font-size:14px;
}


.body-table {
    color: #010b07;
    line-height: normal;
    font-size: unset;
    font-weight: normal;
    border-bottom: 1px solid #e8e8e8;
}


@media screen and (max-width:600px) {
    .hidden-xs {
        display: none;
    }
  
    .hidden-md {
        display:block;
    }
  
    .padding-left-5 {
        padding-left:5px;
    }
  
    .padding-top-18 {
        padding-top: 18px;
    }
  
}