<nz-table
  class="content-table"
  [nzData]="billing_items"
  [nzFrontPagination]="false"
  [nzShowPagination]="false"
  nzSize="small"
>
  <thead>
    <tr>
      <th></th>
      <th><b>Código</b></th>
      <th><b>Quantidade</b></th>
      <th nzWidth="10%"><b>Preço unitário</b></th>
      <th><b>Desconto %</b></th>
      <th><b>Preço</b></th>
      <th><b>Ações</b></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="7"><b>Alojamento</b></td>
    </tr>
    <tr *ngFor="let item of typologies_items">
      <td>{{ item.name }}</td>
      <td>{{ item.product_code }}</td>
      <td>{{ item.quantity }}</td>
      <td class="text-right">{{ item.unit_price | number: '1.2-2' }}€</td>
      <td class="text-right">{{ item.discount | number: '1.2-2' }}%</td>
      <td class="text-right">{{ item.price | number: '1.2-2' }}€</td>
      <td nzRight="0px">
        <button
          nz-button
          nz-dropdown
          nzType="link"
          class="options_button"
          [nzDropdownMenu]="menu"
          nzPlacement="bottomRight"
        >
          <i nz-icon nzType="dash" nzTheme="outline"></i>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li
              nz-menu-item
              (click)="editBillingItem(item.billing_id, item.id)"
            >
              Editar
            </li>
            <li nz-menu-item (click)="removeBillingItem(item.id)">Eliminar</li>
          </ul>
        </nz-dropdown-menu>
      </td>
    </tr>
    <tr>
      <td colspan="7"><b>Extras</b></td>
    </tr>
    <tr *ngFor="let item of extras_items">
      <td>{{ item.name }}</td>
      <td>{{ item.product_code }}</td>
      <td>{{ item.quantity }}</td>
      <td class="text-right">{{ item.unit_price | number: '1.2-2' }}€</td>
      <td class="text-right">{{ item.discount | number: '1.2-2' }}%</td>
      <td class="text-right">{{ item.price | number: '1.2-2' }}€</td>
      <td nzRight="0px">
        <button
          nz-button
          nz-dropdown
          nzType="link"
          class="options_button"
          [nzDropdownMenu]="menu"
          nzPlacement="bottomRight"
        >
          <i nz-icon nzType="dash" nzTheme="outline"></i>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu *ngIf="billing_status == 'PROCESSED'">
            <li
              nz-menu-item
              (click)="editBillingItem(item.billing_id, item.id)"
            >
              Editar
            </li>
            <li nz-menu-item (click)="removeBillingItem(item.id)">Eliminar</li>
          </ul>
        </nz-dropdown-menu>
      </td>
    </tr>
    <tr>
      <td colspan="7"><b>Regimes</b></td>
    </tr>
    <tr *ngFor="let item of regimes_items">
      <td>{{ item.name }}</td>
      <td>{{ item.product_code }}</td>
      <td>{{ item.quantity }}</td>
      <td class="text-right">{{ item.unit_price | number: '1.2-2' }}€</td>
      <td class="text-right">{{ item.discount | number: '1.2-2' }}%</td>
      <td class="text-right">{{ item.price | number: '1.2-2' }}€</td>
      <td nzRight="0px">
        <button
          nz-button
          nz-dropdown
          nzType="link"
          class="options_button"
          [nzDropdownMenu]="menu"
          nzPlacement="bottomRight"
        >
          <i nz-icon nzType="dash" nzTheme="outline"></i>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu *ngIf="billing_status == 'PROCESSED'">
            <li
              nz-menu-item
              (click)="editBillingItem(item.billing_id, item.id)"
            >
              Editar
            </li>
            <li nz-menu-item (click)="removeBillingItem(item.id)">Eliminar</li>
          </ul>
        </nz-dropdown-menu>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><b>Total:</b></td>
      <td class="text-right">{{ getTotalPrice() | number: '1.2-2' }} €</td>
      <td></td>
    </tr>
    <tr *ngIf="billing_status == 'PROCESSED'">
      <td colspan="7">
        <button
          nz-button
          nzType="primary"
          class="btn"
          (click)="createBillingItem(billing_id)"
        >
          Adicionar item
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
