<StackLayout class="refectories">
  <!-- action bar -->
  <fi-action-bar></fi-action-bar>

  <!-- scroll init -->
  <ScrollView row="0">
    <WrapLayout orientation="horizontal">
      <!-- intro text -->
      <StackLayout class="refectories__container">
        <StackLayout class="fisas__content">
          <Label
            class="fisas__h1"
            text="{{ 'STARTUP.REFECTORIES.CONFIGURATION' | translate }}"
          ></Label>
          <Label
            class="fisas__h2"
            text="{{ 'STARTUP.REFECTORIES.INTRO' | translate }}"
          ></Label>
        </StackLayout>

        <!-- loading refectories -->
        <StackLayout class="fisas__content" marginTop="40" *ngIf="isLoading">
          <ActivityIndicator
            row="1"
            #activityIndicator
            [busy]="isLoading"
            width="100%"
            height="50"
            color="lightgray"
            class="fisas__loading"
          ></ActivityIndicator>
        </StackLayout>

        <!-- refectories -->
        <StackLayout class="refectories__list" *ngIf="!isLoading">
          <StackLayout
            class="refectories__list__li"
            *ngFor="let item of refectories"
          >
            <Label
              textWrap="true"
              width="100%"
              class="fisas__btn fisas__btn--padding"
              (tap)="
                selectRefectory(
                  {
                    id: item.id,
                    schoolId: item.schoolId,
                    name: item.name,
                    description: item.description
                  },
                  {
                    id: item.schoolId,
                    name: item.schoolName,
                    acronym: item.schoolAcronym
                  }
                )
              "
            >
              <FormattedString class="fisas__p--label">
                <Span fontWeight="bold" [text]="item.name"></Span>
                <Span [text]="'\n' + item.description"></Span>
              </FormattedString>
            </Label>
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </WrapLayout>
  </ScrollView>
</StackLayout>
