<div class="container">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="3" [nzXXl]="3">
      <div nz-row>
        <nz-form-label>Data da candidatura</nz-form-label>
        <nz-form-control>
          <nz-date-picker [(ngModel)]="filters.created_at" class="primary-datePicker">
          </nz-date-picker>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
      <div nz-row>
        <nz-form-label>Ano letivo</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="filters.academic_year" name="academic_year" nzAllowClear style="width: 100%;">
            <nz-option *ngFor="let academic_year of academic_years" [nzLabel]="academic_year.academic_year"
              [nzValue]="academic_year.academic_year">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
      <div nz-row>
        <nz-form-label>Escola</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="filters.school_id" [nzLoading]="load_schools" nzAllowClear nzShowSearch="true"
            style="width: 100%;" (ngModelChange)="loadCourses($event)">
            <nz-option *ngFor="let school of schools" [nzLabel]="school.name" [nzValue]="school.id">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
      <div nz-row>
        <nz-form-label>Curso</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="filters.course_id" [nzLoading]="load_courses" nzAllowClear nzShowSearch="true"
            style="width: 100%;">
            <nz-option *ngFor="let course of courses" [nzLabel]="course.name" [nzValue]="course.id">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
      <div nz-row>
        <nz-form-label>Nº do Estudante</nz-form-label>
        <nz-form-control>
          <input nz-input [(ngModel)]="filters.student_number" id="student_number" name="student_number">
        </nz-form-control>
      </div>
    </div>

  </div>
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5" class="filter-check">
      <div nz-row>
        <label nz-checkbox [(ngModel)]="filters.has_holydays_availability">Tem disponibilidade nas férias</label>
      </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5" class="filter-check">
      <div nz-row>
        <label nz-checkbox [(ngModel)]="filters.has_collaborated_last_year">Colaborou no ano passado</label>
      </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5" class="filter-check">
      <div nz-row>
        <label nz-checkbox [(ngModel)]="filters.has_profissional_experience">Tem experiência profissional</label>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
      <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
      style="text-align: left;">
      <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
    </div>
  </div>
</div>


<div class="container">
  <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th></th>
        <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
          [nzSortKey]="column.sortKey ? column.sortKey : column.key" [nzFilters]="column.filters ? column.filters : []"
          [nzFilterMultiple]="column.filterMultiple" [nzShowFilter]="column.showFilter"
          (nzFilterChange)="onColumnFilterChange($event, column.key)">{{ column.label }}</th>
        <th nzRight="0px" class="text-right">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">

        <tr>
          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
          <td *ngFor="let column of columns">
            <span *ngIf="!column.tag">{{ column.translation ? (data.translations | where: ['language_id', 3]
              )[0][column.key] : (data | flatObject)[column.key]}}</span>
            <span *ngIf="column.tag">
              <fi-sas-tag [value]="data[column.key]" [results]="column.tag"></fi-sas-tag>
            </span>
          </td>
          <td nzRight="0px" class="text-right">
            <ng-container *ngIf="'volunteering:applications:status' | hasPermission">
              <button
                nz-button
                nz-dropdown
                nzType="link"
                class="options_button"
                [nzDropdownMenu]="menu"
                nzPlacement="bottomRight"
              >
                <i nz-icon nzType="dash" nzTheme="outline"></i>
              </button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <!--<ng-container *ngIf="data.status === ApplicationStatus.DISPATCH">
                    <li nz-menu-item (click)="dispatchChangeStatues(data, true)">Aceitar Despacho</li>
                    <li nz-menu-item (click)="dispatchChangeStatues(data, false)">Rejeitar Despacho</li>
                  </ng-container>
                  <li
                    nz-menu-item
                    *ngIf="statusMachine[data.status].DISPATCH; else changeStatusTemplate"
                    (click)="dispatchModal(data)"
                  >Despacho</li>
                  <ng-template #changeStatusTemplate>
                    <li  *ngIf="data.status !== ApplicationStatus.DISPATCH"
                      nz-menu-item
                      [nzDisabled]="!(statusMachine[data.status] | keys).length"
                      (click)="changeStateModal(data, false)"
                    >
                      Alterar estado
                    </li>
                  </ng-template>-->
                  <li nz-menu-item [nzDisabled]="!(statusMachine[data.status] | keys).length" (click)="changeStateModal(data, false)" >
                    Alterar estado 
                  </li>
                </ul>
              </nz-dropdown-menu>
            </ng-container>
          </td>
        </tr>

        <tr [nzExpand]="mapOfExpandData[data.id]">
          <td [attr.colspan]="columns.length + 3">
            <fi-sas-view-application *ngIf="mapOfExpandData[data.id]" [data]="data" (itemChange)="searchData()"></fi-sas-view-application>
          </td>
        </tr>

      </ng-template>
    </tbody>
  </nz-table>
</div>


<!--<nz-modal [(nzVisible)]="isChangeStatusModalVisible" [nzTitle]="'Mudança de estado de candidaturas'" [nzWidth]="900"
  [nzFooter]="modalFooter" (nzOnCancel)="handleChangeStatusCancel()">
  <p>Mudar estado para:</p>
  <div nz-row nzType="flex" class="actions" nzGutter="24">
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['RETRY']">
      <div (click)="changeStatusModalActiveAction('retry')" class="actions__button--retry"
        [ngClass]="{ 'actions__button--retry--active': changeStatusModalApplicationAction === 'retry'}">Reanalisar</div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['ANALYSE']">
      <div (click)="changeStatusModalActiveAction('analyse')" class="actions__button--analyse"
        [ngClass]="{ 'actions__button--analyse--active': changeStatusModalApplicationAction === 'analyse'}">Analisar
      </div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['WAIT']">
      <div (click)="changeStatusModalActiveAction('wait')" class="actions__button--wait"
        [ngClass]="{ 'actions__button--wait--active': changeStatusModalApplicationAction === 'wait'}">Lista de espera
      </div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['INTERVIEW']">
      <div (click)="changeStatusModalActiveAction('interview')" class="actions__button--interview"
        [ngClass]="{ 'actions__button--interview--active': changeStatusModalApplicationAction === 'interview'}">
        Entrevistar</div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['SUBMIT']">
      <div (click)="changeStatusModalActiveAction('submit')" class="actions__button--submit"
        [ngClass]="{ 'actions__button--submit--active': changeStatusModalApplicationAction === 'submit'}">Submeter
      </div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['ACCEPT']">
      <div (click)="changeStatusModalActiveAction('accept')" class="actions__button--accept"
        [ngClass]="{ 'actions__button--accept--active': changeStatusModalApplicationAction === 'accept'}">Aprovar
      </div>
    </div>
    <div nz-col nzSpan="8" *ngIf="changeStatusModalActions['ACKNOWLEDGE']">
      <div>A aguardar resposta de aceitação por parte do utilizador</div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['DECLINE']">
      <div (click)="changeStatusModalActiveAction('decline')" class="actions__button--reject"
        [ngClass]="{ 'actions__button--reject--active': changeStatusModalApplicationAction === 'decline'}">Rejeitar
      </div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['PUBLISH']">
      <div (click)="changeStatusModalActiveAction('publish')" class="actions__button--publish"
        [ngClass]="{ 'actions__button--publish--active': changeStatusModalApplicationAction === 'publish'}">Publicar
      </div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['CANCEL']">
      <div (click)="changeStatusModalActiveAction('cancel')" class="actions__button--cancel"
        [ngClass]="{ 'actions__button--cancel--active': changeStatusModalApplicationAction === 'cancel'}">Cancelar
      </div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['EXPIRE']">
      <div (click)="changeStatusModalActiveAction('expire')" class="actions__button--expire"
        [ngClass]="{ 'actions__button--expire--active': changeStatusModalApplicationAction === 'expire'}">Fechar</div>
    </div>
  </div>
  <div *ngIf="changeStatusModalApplicationAction === 'accept'">
    <nz-divider></nz-divider>
    <nz-list [nzDataSource]="published_experiences" [nzRenderItem]="experience"
      [nzLoading]="published_experiences_loading">
      <ng-template #experience let-experience>
        <nz-list-item>
          <div nz-row nzType="flex" nzGutter="16" style="width: 100%;">
            <div nz-col nzSpan="3">
              <nz-radio-group [(ngModel)]="changeStatusModalSelectedExperience">
                <label nz-radio [nzValue]="experience.id">
                </label>
              </nz-radio-group>
            </div>
            <div nz-col nzSpan="8">{{experience.title}}</div>
            <div nz-col nzSpan="8">{{experience.start_date | date: 'MMMM yyyy'}} a {{experience.end_date | date: 'MMMM yyyy'}}</div>
            <div nz-col nzSpan="5">{{experience.organic_unit.name}}</div>
          </div>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </div>
  <nz-divider></nz-divider>
  <div nz-row nzType="flex">
    <div nz-col nzSpan="4">
      Observações:
    </div>
    <div nz-col nzSpan="20">
      <textarea maxlength="255" nz-input [(ngModel)]="changeStatusModalNotes" rows="4"></textarea>
    </div>
  </div>

  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="handleChangeStatusOk()"
      [ngClass]="{'disabled': changeStatusModalApplicationAction === null}" [nzLoading]="changeStatusModalLoading">Mudar
      de estado</button>
  </ng-template>
</nz-modal>-->


<nz-modal [(nzVisible)]="isChangeStatusModalVisible" [nzTitle]="'Mudança de estado da inscrição'" [nzWidth]="900"
  [nzFooter]="changeStatusModalFooter" (nzOnCancel)="handleChangeStatusCancel()">
  <div class="content-modal">
    <p>Mudar estado para:</p>
    <div nz-row nzType="flex" class="actions" nzGutter="24" *ngIf="isChangeStatusModalVisible && changeStatusModalApplication.status!=='DISPATCH'">
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['SUBMIT']">
        <div (click)="changeStatusModalActiveAction('submit')" class="actions__button--submit"
          [ngClass]="{ 'actions__button--submit--active': changeStatusModalApplicationAction === 'submit'}">Submeter
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['ANALYSE']">
        <div (click)="changeStatusModalActiveAction('analyse')" class="actions__button--analyse"
          [ngClass]="{ 'actions__button--analyse--active': changeStatusModalApplicationAction === 'analyse'}">Analisar
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['DISPATCH']">
        <div (click)="changeStatusModalActiveAction('dispatch')" class="actions__button--dispatch"
          [ngClass]="{ 'actions__button--dispatch--active': changeStatusModalApplicationAction === 'dispatch'}">
          Despacho
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['APPROVE']">
        <div (click)="changeStatusModalActiveAction('approve')" class="actions__button--approve"
          [ngClass]="{ 'actions__button--approve--active': changeStatusModalApplicationAction === 'approve'}">Aprovar
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['ACCEPT']">
        <div (click)="changeStatusModalActiveAction('accept')" class="actions__button--accept"
          [ngClass]="{ 'actions__button--accept--active': changeStatusModalApplicationAction === 'accept'}">Aceite
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['WAITING']">
        <div (click)="changeStatusModalActiveAction('waiting')" class="actions__button--waiting"
          [ngClass]="{ 'actions__button--waiting--active': changeStatusModalApplicationAction === 'waiting'}">Lista de
          espera
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['NOTSELECT']">
        <div (click)="changeStatusModalActiveAction('notselect')" class="actions__button--notselect"
          [ngClass]="{ 'actions__button--notselect--active': changeStatusModalApplicationAction === 'notselect'}">Não
          selecionado
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['SELECTION']">
        <div (click)="changeStatusModalActiveAction('selection')" class="actions__button--selection"
          [ngClass]="{ 'actions__button--selection--active': changeStatusModalApplicationAction === 'selection'}">Seleção
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['COLABORATION']">
        <div (click)="changeStatusModalActiveAction('colaboration')" class="actions__button--colaboration"
          [ngClass]="{ 'actions__button--colaboration--active': changeStatusModalApplicationAction === 'colaboration'}">
          Em participação
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['WITHDRAWAL']">
        <div (click)="changeStatusModalActiveAction('withdrawal')" class="actions__button--withdrawal"
          [ngClass]="{ 'actions__button--withdrawal--active': changeStatusModalApplicationAction === 'withdrawal'}">
          Desistir
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['WITHDRAWALACCEPTED']">
        <div (click)="changeStatusModalActiveAction('withdrawalaccepted')" class="actions__button--withdrawalaccepted"
          [ngClass]="{ 'actions__button--withdrawalaccepted--active': changeStatusModalApplicationAction === 'withdrawalaccepted'}">
          Aceitar desistência
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['DECLINE']">
        <div (click)="changeStatusModalActiveAction('decline')" class="actions__button--decline"
          [ngClass]="{ 'actions__button--decline--active': changeStatusModalApplicationAction === 'decline'}">Rejeitar
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['CANCEL']">
        <div (click)="changeStatusModalActiveAction('cancel')" class="actions__button--cancel"
          [ngClass]="{ 'actions__button--cancel--active': changeStatusModalApplicationAction === 'cancel'}">Cancelar
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['CLOSE']">
        <div (click)="changeStatusModalActiveAction('close')" class="actions__button--close"
          [ngClass]="{ 'actions__button--close--active': changeStatusModalApplicationAction === 'close'}">Fechar
        </div>
      </div>
    </div>
    <div nz-row nzType="flex" class="actions" nzGutter="24" *ngIf="isChangeStatusModalVisible && changeStatusModalApplication.status==='DISPATCH'">
      <div nz-col nzSpan="8" class="actions__button">
        <div (click)="changeStatusModalActiveAction('accept')" class="actions__button--accept"
          [ngClass]="{ 'actions__button--accept--active': changeStatusModalApplicationAction === 'accept'}">
          Aceitar Despacho
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button">
        <div (click)="changeStatusModalActiveAction('reject')" class="actions__button--decline"
          [ngClass]="{ 'actions__button--decline--active': changeStatusModalApplicationAction === 'reject'}">
          Rejeitar Despacho
        </div>
      </div>
    </div>
    <div *ngIf="changeStatusModalApplicationAction === 'dispatch'">
      <div nz-row>
        <form [formGroup]="form">
          <nz-form-item>
            <nz-form-label nzRequired [nzSpan]="24" nzFor="decision">Decisão</nz-form-label>
            <nz-form-control [nzSpan]="24" [nzErrorTip]="decisionErrorTpl">
              <nz-select formControlName="decision" name="decision" id="decision" nzAllowClear>
                <nz-option *ngFor="let decision of getDispatchActions()" [nzLabel]="decision.label" [nzValue]="decision.key"></nz-option>
              </nz-select>
              <ng-template #decisionErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Selecione uma decisão.</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>

    <nz-divider></nz-divider>
    <nz-form-item>
      <div nz-row nzType="flex" nzGutter="24">
        <div nz-col nzSpan="4">
          Observações:
        </div>
        <div nz-col nzSpan="20">
          <textarea maxlength="255" nz-input [(ngModel)]="changeStatusModalNotes" rows="4"></textarea>
        </div>
      </div>
    </nz-form-item>
    <ng-template #changeStatusModalFooter>
      <button nz-button nzType="primary" (click)="handleChangeStatusOk()"
        [ngClass]="{'disabled': changeStatusModalApplicationAction === null}" [nzLoading]="changeStatusModalLoading">
        Mudar de estado
      </button>
    </ng-template>
  </div>
</nz-modal>

