@import "theme";

.btn-filter{
    text-align: center;
    .btn-delete{
      cursor: pointer;
      font-size: 18px;
      margin-top: 45px;
    }
    .btn{
      margin-bottom: 4px;
      margin-top: 42px;
    }
  }
  
  .content-table {
    margin: 8px;
    
    .table {
        &__header {
            th {
                background: white;
                color: var(--primary-6);
                font-weight: 700;
            }
  
            & > th:first-child {
                border-top-left-radius: 2px !important;
            }
            
            & > th:last-child {
                border-top-right-radius: 2px !important;
            }
        }
        
        tr {
  
            /*td {
                color: var(--text-color);
            }*/
  
            background: white !important;
        }
    }
  
    .options_button {
        color: var(--text-color);
        font-size: 22px;
    }
  }
  
  .container {
    background: white;
    padding: 24px 30px 24px 30px;
    margin-bottom: 5px;
    margin-top: 20px;
    &__title {
        font-size: 16px;
        line-height: 22px;
        margin: 0px;
        font-weight: bold;
        margin-bottom:10px;
        color:black;
    }
    &__subtitle{
      margin-bottom:5px;
    }
  }
  
  
  .text-right {
    text-align: right;
  }
  
  .space {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f0f2f5;
  }
  

.actions {
    &__button {
        cursor: pointer;
        text-align    : center;
        padding-right: 8px;
        padding-bottom: 8px;
        color: black;
        
        &:hover {
            color: #ffffff;
        }

        div {
            padding: 16px;
            border-radius : 4px;
        }

        &--retry {
            background-color: rgba(180, 170, 170, 0.171);
            &:hover {
                background-color: rgb(100, 100, 100);
            }
            &--active {
                color: #ffffff;
                background-color: rgb(100, 100, 100);
            }   
        }

        &--analyse {
            background-color: rgba(180, 170, 170, 0.171);
            &:hover {
                background-color: rgb(100, 100, 100);
            }
            &--active {
                color: #ffffff;
                background-color: rgb(100, 100, 100);
            }   
        }

        &--dispatch {
            background-color: rgba(180, 170, 170, 0.171);
      
            &:hover {
              background-color: rgb(136, 204, 241);
            }
      
            &--active {
              color: #ffffff;
              background-color: rgb(136, 204, 241);
            }
        }

        &--decline {
            background-color: rgba(252, 189, 189, 0.205);
            &:hover {
              background-color: rgb(160, 33, 33);
            }
            &--active {
              color: #ffffff;
              background-color: rgb(160, 33, 33);
            }
        }

        &--wait {
            background-color: rgba(180, 170, 170, 0.171);
            &:hover {
                background-color: rgb(100, 100, 100);
            }
            &--active {
                color: #ffffff;
                background-color: rgb(100, 100, 100);
            }   
        }

        &--interview {
            background-color: rgba(180, 170, 170, 0.171);
            &:hover {
                background-color: rgb(100, 100, 100);
            }
            &--active {
                color: #ffffff;
                background-color: rgb(100, 100, 100);
            }   
        }

        &--submit {
            background-color: rgba(238, 250, 186, 0.24);
            &:hover {
                background-color: rgb(189, 167, 46);
            }
            &--active {
                color: #ffffff;
                background-color: rgb(189, 167, 46);
            }   
        }

        &--accept {
            background-color: rgba(192, 252, 190, 0.192);
            &:hover {
                background-color: rgb(30, 153, 40);
            }   
            &--active {
                color: #ffffff;
                background-color: rgb(30, 153, 40);
            }   
        }

        &--reject {
            background-color: rgba(247, 187, 187, 0.192);
            &:hover {
                background-color: rgb(160, 33, 33);
            }   
            &--active {
                color: #ffffff;
                background-color: rgb(160, 33, 33);
            }   
        }

        &--publish {
            background-color: rgba(207, 204, 255, 0.226);
            &:hover {
                background-color: rgb(39, 24, 122);
            }   
            &--active {
                color: #ffffff;
                background-color: rgb(39, 24, 122);
            }   
        }

        &--cancel {
            background-color: rgba(252, 189, 189, 0.205);
            &:hover {
                background-color: rgb(104, 23, 23);
            }   
            &--active {
                color: #ffffff;
                background-color: rgb(104, 23, 23);
            }   
        }

        &--close {
            background-color: rgba(245, 205, 205, 0.171);
            &:hover {
                background-color: rgba(100, 100, 100, 0.534);
            }   
            &--active {
                color: #ffffff;
                background-color: rgba(100, 100, 100, 0.534);
            }   
        }

        &--withdraw {
            background-color: rgba(245, 205, 205, 0.171);
            &:hover {
                background-color: rgba(100, 100, 100, 0.534);
            }   
            &--active {
                color: #ffffff;
                background-color: rgba(100, 100, 100, 0.534);
            }   
        }

        &--expire {
            background-color: rgba(133, 96, 96, 0.171);
            &:hover {
                background-color: rgba(100, 100, 100, 0.534);
            }   
            &--active {
                color: #ffffff;
                background-color: rgba(100, 100, 100, 0.534);
            }   
        }
    }
}

.filter-check {
    padding-top: 53px;
}