
<div class="container">
  <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
          <div nz-row>
              <nz-form-label>Nome</nz-form-label>
              <nz-form-control>
                  <input type="text" nz-input [(ngModel)]="filters.search">
              </nz-form-control>
          </div>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
        <div nz-row>
          <nz-form-label>Ano letivo</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="filters.academic_year" name="academic_year" nzAllowClear style="width: 100%;">
              <nz-option *ngFor="let academic_year of academic_years" [nzLabel]="academic_year.academic_year"
                [nzValue]="academic_year.academic_year">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </div>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">

          <div nz-row>
              <nz-form-label>Estado</nz-form-label>
              <nz-form-control>
                  <nz-select class="primary-select" [(ngModel)]="filters.status" nzAllowClear nzShowSearch
                      style="width: 100%;">
                      <nz-option *ngFor="let state of status" [nzLabel]="state.description" [nzValue]="state.value">
                      </nz-option>
                  </nz-select>
              </nz-form-control>
          </div>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
      <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
          <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
          style="text-align: left;">
          <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
      </div>
  </div>
</div>


<div class="container">
  <nz-table class="content-table" #refTable [nzData]="data" [nzScroll]="{ x: '240px' }"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th></th>
        <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
          [nzSortKey]="column.sortKey ? column.sortKey : column.key"> {{ column.label }}</th>
        <th nzRight="0px" class="text-right">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">
        <tr>
          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
          <td *ngFor="let column of columns">
            <span *ngIf="!column.tag">{{ column.translation ? (data.translations | where: ['language_id', 3]
              )[0][column.key] : (data | flatObject)[column.key]}}</span>
            <span *ngIf="column.tag && column.key == 'status'">
              <fi-sas-tag [value]="data[column.key]" [results]="column.tag"></fi-sas-tag>
            </span>
            <span *ngIf="column.tag && column.key == 'application.declaration'">
              <fi-sas-tag [value]="data?.declaration ? true : false"></fi-sas-tag>
            </span>
            <span *ngIf="column.template">
              {{ column.template(data) }}
            </span>
          </td>
          <td nzRight="0px" class="text-right">
            <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
              nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item
                  [nzDisabled]="!('bus:applications:status' | hasPermission) || (data.status === 'canceled' || data.status === 'closed' || data.status === 'withdrawal' || data.status === 'quiting')"
                  (click)="changeStateModal(data, false)">
                  Mudar de estado</li>
                <li nz-menu-item
                  [nzDisabled]="!('bus:applications:declaration' | hasPermission) || data.status !== 'accepted'"
                  (click)="imitBusDeclaration(data)">Emitir
                  declaração</li>
                <li nz-menu-item
                  [nzDisabled]="!('bus:payment_months:create' | hasPermission) || (data.status !== 'accepted')"
                  (click)="paymentMonthModal(data, data.status === 'submitted')">Pagamento</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>

        <tr [nzExpand]="mapOfExpandData[data.id]" *ngIf="mapOfExpandData[data.id]">
          <td [attr.colspan]="columns.length + 3">
            <fi-sas-view-bus-application [application]="data"></fi-sas-view-bus-application>
          </td>
        </tr>

      </ng-template>
    </tbody>
  </nz-table>
</div>



<nz-modal [(nzVisible)]="isChangeStatusModalVisible" [nzTitle]="'Alterar estado'" [nzWidth]="900"
  [nzFooter]="modalFooterStatus" (nzOnCancel)="handleChangeStatusCancel()">
  <p *ngIf="changeStatusModalApplication?.status === 'approved'">
    <strong> Aguarda decisão do utilizador </strong>
  </p>
  <p *ngIf="changeStatusModalApplication?.status !== 'approved'">Mudar estado para:</p>
  <div nz-row nzType="flex" class="actions" nzGutter="24" *ngIf="changeStatusModalApplication">

    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalApplication.status === 'submitted'">
      <div (click)="changeStatusModalActiveAction('approve')" class="actions__button--accept" [ngClass]="{
          'actions__button--accept--active':
            changeStatusModalApplicationAction === 'approve'
        }">
        Aprovar
      </div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalApplication.status === 'submitted'">
      <div (click)="changeStatusModalActiveAction('notapprove')" class="actions__button--reject" [ngClass]="{
          'actions__button--reject--active':
            changeStatusModalApplicationAction === 'notapprove'
        }">
        Rejeitar
      </div>
    </div>

    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalApplication.status === 'accepted'">
      <div (click)="changeStatusModalActiveAction('suspend')" class="actions__button--withdrawal" [ngClass]="{
          'actions__button--withdrawal--active':
            changeStatusModalApplicationAction === 'suspend'
        }">
        Suspender
      </div>
    </div>

    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalApplication.status === 'suspended'">
      <div (click)="changeStatusModalActiveAction('resume')" class="actions__button--accept" [ngClass]="{
          'actions__button--accept--active':
            changeStatusModalApplicationAction === 'resume'
        }">
        Retomar
      </div>
    </div>

    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalApplication.status === 'accepted'">
      <div (click)="changeStatusModalActiveAction('close')" class="actions__button--cancel" [ngClass]="{
          'actions__button--cancel--active':
            changeStatusModalApplicationAction === 'close'
        }">
        Fechar
      </div>
    </div>
  </div>


  <ng-template #modalFooterStatus>
    <button nz-button nzType="primary" (click)="handleChangeStatusOk()"
      [ngClass]="{ disabled: changeStatusModalApplicationAction === null }" [nzLoading]="changeStatusModalLoading">
      Mudar de estado
    </button>
  </ng-template>
</nz-modal>


<fi-sas-model-payment-month #paymentModel [paymentMonthModalApplication]='paymentMonthModalApplication'
  (paymentSubmitted)='paymentSubmitted($event)'></fi-sas-model-payment-month>