<div *ngIf="menu">
  <div nz-row nzType="flex" nzJustify="space-between" nzAlign="center">
    <div nz-col>
      <h3>
        {{ menu?.meal === Meal.LUNCH ? 'Almoço' : 'Jantar' }}
        <button
          nz-button
          nzType="dashed"
          nzShape="circle"
          nz-tooltip
          nzTitle="Copiar Refeição"
          (click)="copyMeal(menu)"
          [disabled]="!('alimentation:menus:update' | hasPermission)"
        >
          <i nz-icon nzType="copy" nzTheme="outline"></i>
        </button>
      </h3>
    </div>
    <div nz-col>
      <nz-tag [nzColor]="menu.validated ? 'green' : 'red'">{{
        menu?.validated ? 'Aceite' : 'Rejeitada'
      }}</nz-tag>
    </div>
  </div>
  <div nz-row nzType="flex" style="padding-bottom: 8px">
    <nz-empty
      *ngIf="!menu.dishs || menu.dishs.length === 0"
      style="margin: auto; margin-bottom: 8px"
      nzNotFoundContent="Ementa sem pratos"
    ></nz-empty>
    <nz-list nzBordered style="width: 100%">
      <nz-list-item *ngFor="let dish of menu.dishs"
        >{{ (dish?.type?.translations | translation)?.name }} -
        {{ (dish?.dish?.translations | translation)?.name }}</nz-list-item
      >
    </nz-list>
  </div>
  <div nz-row nzType="flex" nzGutter="8">
    <div nz-col nzSpan="12">
      <button
        nz-button
        style="width: 100%"
        [disabled]="
          canCreateMeal() || !('alimentation:menus:update' | hasPermission)
        "
        (click)="showValidationModal()"
      >
        Validação
      </button>
    </div>
    <div nz-col nzSpan="12">
      <button
        nz-button
        style="width: 100%"
        [disabled]="
          canCreateMeal() || !('alimentation:menus:update' | hasPermission)
        "
        (click)="showModal()"
      >
        Editar
      </button>
    </div>
  </div>
</div>
<div *ngIf="!menu">
  <div nz-row nzType="flex" nzJustify="space-between" nzAlign="center">
    <div nz-col>
      <h3>{{ meal === Meal.LUNCH ? 'Almoço' : 'Jantar' }}</h3>
    </div>
  </div>
  <div
    nz-row
    nzType="flex"
    nzJustify="middle"
    nzAlign="center"
    style="min-height: 150px"
  >
    <div nz-col>
      <button
        nz-button
        nzType="primary"
        (click)="showModal()"
        [disabled]="
          canCreateMeal() || !('alimentation:menus:create' | hasPermission)
        "
      >
        <i nz-icon type="plus"></i>
        Nova ementa
      </button>
    </div>
  </div>
</div>
<span *ngIf="menu && meal === Meal.LUNCH" class="copyToDinner">
  <button
    nz-button
    nzType="dashed"
    [disabled]="!('alimentation:menus:update' | hasPermission)"
    nzShape="circle"
    nz-tooltip
    nzTitle="Copiar para jantar"
    (click)="copyToDinner()"
  >
    <i nz-icon nzType="right-circle" nzTheme="outline"></i>
  </button>
</span>
