<div class="page-row" nz-row>
  <div class="page-col" nz-col nzSpan="6">
    <fi-sas-layout-toolstrip *ngIf="showToolstrip ">
      <fi-sas-toolstrip-button
        *ngIf="multiSelect"
        (onClick)="deselectAll()"
        tooltip="Desselecionar todos"
        iconType="minus-square"
      ></fi-sas-toolstrip-button>
      <ng-content select="[list]"> </ng-content>
    </fi-sas-layout-toolstrip>
    <div
      #scroller
      (psYReachEnd)="onScroll($event)"
      class="scroll-container ps list"
      perfectScrollbar
    >
      <nz-spin class="column-list" [nzSpinning]="loading">
        <!-- SEARCH BARS-->
        <div
          *ngFor="let custom of customSearch"
          nz-row
          nzJustify="space-around"
          nzType="flex"
          class="list__item"
          style="padding: 8px"
        >
          <div
            *ngIf="custom.type === CustomControlOption.SELECT"
            nz-col
            nzSpan="24"
          >
            <fi-sas-list-select-input
              ngDefaultControl
              [(ngModel)]="customSearchValues[custom.name]"
              [control]="custom"
              (ngModelChange)="searchData(true)"
            ></fi-sas-list-select-input>
          </div>
          <div
            *ngIf="custom.type === CustomControlOption.RADIOGROUP"
            nz-col
            nzSpan="24"
          >
            {{ custom.label }} : <br />
            <nz-radio-group
              [(ngModel)]="customSearchValues[custom.name]"
              (ngModelChange)="searchData(true)"
            >
              <label
                nz-radio-button
                *ngFor="let key of custom.values | keys"
                [nzValue]="key"
                >{{ custom.values[key] }}</label
              >
            </nz-radio-group>
          </div>
          <div
            *ngIf="custom.type === CustomControlOption.DATE"
            nz-col
            nzSpan="24"
          >
            {{ custom.label }} : <br />
            <nz-date-picker
              [(ngModel)]="customSearchValues[custom.name]"
              (ngModelChange)="searchData(true)"
            ></nz-date-picker>
          </div>
        </div>

        <div nz-row nzJustify="space-around" nzType="flex" style="padding: 8px">
          <div nz-col nzSpan="24">
            <nz-input-group nzCompact>
              <nz-select
                [(ngModel)]="searchKey"
                (ngModelChange)="searchData(true)"
                nzPlaceHolder="Termo de Pesquisa"
                style="width: 50%;"
              >
                <nz-option
                  *ngFor="let key of searchKeys | keys"
                  [nzLabel]="searchKeys[key]"
                  [nzValue]="key"
                ></nz-option>
              </nz-select>
              <input
                [(ngModel)]="searchValue"
                (ngModelChange)="searchData(true)"
                nz-input
                placeholder="Pesquisa"
                style="width: 50%;"
              />
            </nz-input-group>
          </div>
        </div>

        <div *ngIf="(sortKeys | json) != '{}'" nz-row nzJustify="space-around" nzType="flex" style="padding: 2px">
          <div nz-col nzSpan="12">
            <nz-select
              [(ngModel)]="sortKey"
              (ngModelChange)="searchData(true)"
              nzplaceholder="Ordenação"
              style="width: 100%"
            >
              <nz-option
                *ngFor="let key of sortKeys | keys"
                [nzLabel]="sortKeys[key]"
                [nzValue]="key"
              ></nz-option>
            </nz-select>
          </div>
          <div nz-col>
            <nz-radio-group
              [(ngModel)]="sortValue"
              (ngModelChange)="searchData(true)"
            >
              <label nz-radio-button nzValue="ascend">Asc</label>
              <label nz-radio-button nzValue="descend">Desc</label>
            </nz-radio-group>
          </div>
        </div>

        <!--END SEARCH BARS-->

        <!-- IN CASE OF EMPTY LIST-->
        <nz-empty class="p-8" *ngIf="data.length === 0"></nz-empty>
        <div
          nz-row
          (click)="selectItem(item)"
          [ngClass]="{ 'list__item--selected': seletectedItem.id === item.id }"
          class="list__item"
          *ngFor="let item of data"
        >
        <div nz-row nzAlign="middle"
        nzGutter="4" nzJustify="space-around" nzType="flex" style="width: 100%; height: 100px;">
     <div *ngIf="multiSelect" nz-col nzSpan="2">
       <label nz-checkbox [(ngModel)]="checkboxSelectedItems[item.id]" (ngModelChange)="checkboxSelectedClick()" style="padding: 4px;"></label>
     </div>
     <div *ngFor="let chunk of fieldKeys | keys | chunk: 2" class="list__item__collumn"
          [nzSpan]="(multiSelect ? 22 : 24)/(((fieldKeys | keys).length / 2) | round)" nz-col>
       <span *ngFor="let key of chunk">
           <span *ngIf="isStringFeild(fieldKeys[key])">
             <div class="feild-title" nz-row>{{ fieldKeys[key] }}:</div>
             <div nz-row>{{ returnValueFromItem(key, item) | truncate  }}</div>
           </span>
           <span *ngIf="isArrayFeild(fieldKeys[key])">
             <div class="feild-title" nz-row>{{ fieldKeys[key].label }}:</div>
             <div nz-row>{{ returnValueFromArray(key, fieldKeys[key], item) | truncate }}</div>
           </span>
           <span *ngIf="isTagFeild(fieldKeys[key])">
             <div class="feild-title" nz-row>{{ fieldKeys[key].label }}:</div>
             <div nz-row>
               <fi-sas-tag [value]="item[key]" [results]="fieldKeys[key].results"></fi-sas-tag>
             </div>
           </span>
           <span *ngIf="isColorFeild(fieldKeys[key])">
               <div class="feild-title" nz-row>{{ fieldKeys[key].color }}:</div>
               <nz-badge nzStatus="default" [nzStyle]="{ padding: '6px', 'background-color': colorItemHashtag(item[key])}"></nz-badge>
           </span>
           <span *ngIf="isTranslationFeild(fieldKeys[key])">
               <div class="feild-title" nz-row>{{ fieldKeys[key].translation }}:</div>
               <div nz-row>{{ returnValueFromTranslation(key, fieldKeys[key], item) | truncate }}</div>
           </span>
       </span>
     </div>
   </div>

        </div>
      </nz-spin>
    </div>
  </div>
  <div class="page-col page-divider page-col" nz-col nzSpan="18">
    <ng-content select="[form]"></ng-content>
  </div>
</div>
