@import "theme";
@deep: ~">>>";

.page-row {
  height: 100%;
}

.page-divider {
  border-left: var(--primary-1) solid thin;
}

 .page-col {
   height: 100%;
 }

.column-list {
  background-color: white;
  border-radius: 4px;
}

.feild-title {
  font-size: 12px;
  line-height: 12px;
  color: var(--primary-4);
}

.list {

  padding: 0px;
  cursor: pointer;

  &__item {
    padding: 8px;
    border-bottom: var(--primary-1) solid thin;

    &__collumn {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 2px;
      padding-right: 2px;
    }

    &:hover {
      background: var(--primary-1);
    }

    &--selected {
      color: black;
      background: var(--primary-3);

      .feild-title {
        color: var(--text-color);
      }
    }
  }
}
