<nz-spin [nzSpinning]="isLoading">
  <div nz-row nzType="flex" class="list-host__body">
    <div nz-col [nzSm]="2" [nzXs]="1"></div>
    <div nz-col [nzSm]="20" [nzXs]="22">
      <div nz-row>
        <div nz-col [nzSm]="12" [nzMd]="12" [nzXs]="24">
          <h2 class="title-top-page">{{ 'PRIVATEACCOMMODATION.LIST_HOST.TITLE' | translate }}</h2>
          <p class="sub-title-top-page">{{ 'PRIVATEACCOMMODATION.LIST_HOST.SUBTITLE' | translate }}</p>
        </div>

        <div nz-col [nzSm]="12" [nzMd]="12" [nzXs]="24" style="text-align:right">
          <app-button *ngIf="!listProp" [disabled]="!('private_accommodation:owners:create' | hasPermission)" class="btn"
            [routerLink]="['/privateaccommodation', 'owner-area']" type="tertiary"
            [buttonStyle]="{ 'font-size': '12px', 'line-height': '24px' }"
            translate="PRIVATEACCOMMODATION.LIST_HOST.OWNER_AREA"></app-button>
          <app-button *ngIf="listProp" [disabled]="!('sasocial:is_private_accommodation_owner' | hasPermission)" class="btn"
            [routerLink]="['/privateaccommodation', 'owner-properties']" type="tertiary"
            [buttonStyle]="{ 'font-size': '12px', 'line-height': '24px' }"
            translate="PRIVATEACCOMMODATION.LIST_HOST.OWNER_AREA"></app-button>
        </div>
      </div>


      <div class="list-host--filters">
        <nz-dropdown nzPlacement="bottomLeft">
          <button nz-button nz-dropdown class="list-host__btn" nzType="primary">
            {{ 'PRIVATEACCOMMODATION.LIST_HOST.LOCAL' | translate }} <i *ngIf="queryParams.city.length>0" class="font-size-icon" nz-icon nzType="filter" nzTheme="outline"></i>
          </button>
          <app-pp-locality nz-menu (locality)="setLocalities($event)"></app-pp-locality>
        </nz-dropdown>

        <nz-dropdown nzPlacement="bottomLeft">
          <button nz-button nz-dropdown class="list-host__btn" nzType="primary">
            {{ 'PRIVATEACCOMMODATION.LIST_HOST.PRICE' | translate }} <i *ngIf="queryParams.minPrice || queryParams.maxPrice" class="font-size-icon" nz-icon nzType="filter" nzTheme="outline"></i>
          </button>
          <app-pp-price (price)="setPrice($event)" [dataMap]="mapPrice" [minMaxPrice]="minMaxPrice" nz-menu>
          </app-pp-price>
        </nz-dropdown>

        <nz-dropdown nzPlacement="bottomLeft">
          <button nz-button nz-dropdown class="list-host__btn" nzType="primary">
            {{ 'PRIVATEACCOMMODATION.LIST_HOST.TYPE' | translate }}  <i *ngIf="queryParams.typology" class="font-size-icon" nz-icon nzType="filter" nzTheme="outline"></i>
          </button>
          <app-pp-type (typology)="setTypology($event)" [typologies]="typologies" *ngIf="typologies.length > 0" nz-menu>
          </app-pp-type>
        </nz-dropdown>

        <nz-dropdown nzPlacement="bottomLeft">
          <button nz-button nz-dropdown class="list-host__btn" nzType="primary">
            {{ 'PRIVATEACCOMMODATION.LIST_HOST.AMENITIES' | translate }}  <i *ngIf="queryParams.amenities.length>0" class="font-size-icon" nz-icon nzType="filter" nzTheme="outline"></i>
          </button>
          <app-pp-amenities (amenities)="setAmenities($event)" nz-menu></app-pp-amenities>
        </nz-dropdown>

        <nz-dropdown nzPlacement="bottomLeft">
          <button nz-button nz-dropdown class="list-host__btn" nzType="primary">
            {{ 'PRIVATEACCOMMODATION.POP_EXPENSES.TITLE' | translate }} <i *ngIf="queryParams.expenses.length>0" class="font-size-icon" nz-icon nzType="filter" nzTheme="outline"></i>
          </button>
          <app-pp-expenses (expenses)="setExpenses($event)" nz-menu></app-pp-expenses>
        </nz-dropdown>

        <button *ngIf="queryParams.city.length>0 || queryParams.minPrice || 
          queryParams.maxPrice || queryParams.typology || queryParams.expenses.length>0 || queryParams.amenities.length>0" nz-button class="list-host__btn2" (click)="onClear()" nzType="primary">
          {{ 'PRIVATEACCOMMODATION.LIST_HOST.FILTERS' | translate }}
        </button>


      </div>
    </div>
    <div nz-col [nzSm]="2" [nzXs]="1"></div>
  </div>

  <div nz-row nzType="flex">
    <div nz-col [nzSm]="{ span: 20, offset: 2 }" [nzXs]="{ span: 24, offset: 0 }">
      <app-service-presentation-text [serviceId]="serviceId"></app-service-presentation-text>
    </div>
  </div>

  <div nz-row nzType="flex" class="list-host__body">
    <div nz-col [nzSm]="2" [nzXs]="0"></div>
    <div nz-col [nzSm]="20" [nzXs]="24">
      <app-list-private-residences [listProperties]="propertiesList"></app-list-private-residences>
      <nz-empty *ngIf="propertiesList.length === 0"></nz-empty>
      <div *ngIf="propertiesList.length>0" class="list-host--pagination">
        <nz-pagination (nzPageIndexChange)="changePageIndex($event)" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize"
          [nzShowSizeChanger]="false" [nzTotal]="totalProperties" nzShowSizeChanger></nz-pagination>
      </div>
    </div>
    <div nz-col [nzSm]="2" [nzXs]="0"></div>
  </div>
</nz-spin>
