@import 'theme';


.font-size-icon {
  font-size: 13px;
}

:host::ng-deep {
  .loading {
    position: absolute;
    top: 50%;
    right: calc(50% - 48px);
  }

  nz-empty {
    width: 100%;
    height: 100%;
  }

  .list-host {
    @media screen and (max-width: 576px) {
      padding: 16px;
    }

    &__header {
      @media screen and (min-width: 576px) {
        padding-top: 24px;
      }

      @media screen and (max-width: 576px) {
        padding: 16px;
      }
    }

    &__footer {
      @media screen and (max-width: 576px) {
        padding: 16px;
      }

      padding-top: 18px;
      padding-bottom: 63px;
    }

    &__body {
      margin-top: 24px;
    }

    

    &__space {
      height: 30px;
    }

    &__btn {
      margin-right: 10px;
      margin-top: 10px;
      background: #ffffff;
      border-color: none;
      color: var(--primary-color);
      text-transform: none;
      font-size: unset;

      &:hover {
        background: var(--primary-color);
        border-color: var(--primary-color);
        color: #ffffff;
      }
    }

    &__btn2 {
      margin-right: 10px;
      margin-top: 10px;
      background: var(--primary-color);
      border-color: var(--primary-color);
      color: #ffffff;
      text-transform: uppercase;
      font-size: 11px;

      &:hover {
        background-color: white;
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
      }
    }

    &--filters {
      margin-bottom: 30px;
    }

    &--pagination {
      display: flex;
      justify-content: center;
      padding-bottom: 50px;
      padding-top: 30px;
    }
  }
}

.btn {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 1202px) {
  .btn {
    float: none;
    margin-right: 10px;
    margin-top: 10px;
    display: block;
  }
}
