<form nz-form [formGroup]="roomChangeForm">
  <div nz-row *ngIf="type=='TYPOLOGY'">
    <div nz-col>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="typology_id">
          <span class="content__title">
            Nova tipologia
          </span>
        </nz-form-label>
        <nz-form-control [nzErrorTip]="error_typology">
          <nz-select class="primary-select" formControlName="typology_id" id="typology_id" nzShowSearch>
            <nz-option *ngFor="let typ of typologies" [nzLabel]="typ.translations[0].name" [nzValue]="typ.id"
              [nzDisabled]="!typ.active">
            </nz-option>
          </nz-select>
          <ng-template #error_typology let-control>
            <ng-container class="error" *ngIf="f?.typology_id.dirty && f?.typology_id.errors">
              Campo obrigatório
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row *ngIf="type=='RESIDENCE'">
    <div nz-col>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="residence_id">
          <span class="content__title">
            Nova residência
          </span>
        </nz-form-label>
        <nz-form-control [nzErrorTip]="error_residence_id">
          <nz-select class="primary-select" formControlName="residence_id" id="residence_id" nzShowSearch>
            <nz-option *ngFor="let residence of residences" [nzLabel]="residence.name" [nzValue]="residence.id">
            </nz-option>
          </nz-select>
          <ng-template #error_residence_id let-control>
            <ng-container class="error" *ngIf="f?.residence_id.dirty && f?.residence_id.errors">
              Campo obrigatório
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row *ngIf="type=='PERMUTE'">
    <div nz-col>
      <nz-form-item>
        <nz-form-label nzFor="permute_user_tin" nzSpan="24">Candidatura para permuta</nz-form-label>
        <nz-form-control nzSpan="24">
          <nz-select formControlName="permute_user_tin" name="permute_user_tin" nzPlaceHolder="Candidatura" nzAllowClear
            [nzLoading]="applications_loading" nzServerSearch="true1" nzShowSearch="true"
            (nzOnSearch)="onSearch($event)" nzRequired>
            <nz-option nzCustomContent *ngFor="let application of applications"
              [nzLabel]="'Nome: '+application?.full_name+' | NIF: '+application?.tin+' | Nº estudante: '+application?.student_number+' | Residência: '+application?.assignedResidence?.name+' | Quarto: '+ application?.room?.name"
              [nzValue]=" application?.tin">
              <div style="white-space: normal; text-overflow: unset;">Nome: {{application?.full_name}} | NIF:
                {{application?.tin}} | Nº estudante: {{application?.student_number}}
                |
                Residência: {{application?.assignedResidence?.name}} | Quarto: {{application?.room?.name}} </div>
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <!-- <nz-form-item>
        <nz-form-label nzRequired nzFor="permute_user_tin">
          <span class="content__title">
            NIF da candidatura para permuta
          </span>
        </nz-form-label>
        <nz-form-control [nzErrorTip]="error_permute_user_tin">
          <input class="primary-input" formControlName="permute_user_tin" nz-input id="permute_user_tin" />
          <ng-template #error_permute_user_tin let-control>
            <ng-container class="error" *ngIf="f.permute_user_tin.dirty && f.permute_user_tin.errors">
              Campo obrigatório
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item> -->
    </div>
  </div>
  <div nz-row *ngIf="type=='ROOM'">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="room_id">
        <span class="content__title">
          Novo quarto
        </span>
      </nz-form-label>
      <nz-form-control [nzErrorTip]="error_room">
        <nz-select class="primary-select" formControlName="room_id" id="room_id" nzShowSearch>
          <nz-option *ngFor="let room of free_rooms" [nzLabel]="room.name" [nzValue]="room.id"
            [nzDisabled]="!room.active">
          </nz-option>
        </nz-select>
        <ng-template #error_room let-control>
          <ng-container class="error" *ngIf="f?.room_id.dirty && f?.room_id.errors">
            Campo obrigatório
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div nz-row>
    <div nz-col>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="start_date">
          <span class="content__title">
            Data de início
          </span>
        </nz-form-label>
        <nz-form-control [nzErrorTip]="error_start_date">
          <nz-date-picker class="primary-datePicker" formControlName="start_date">
          </nz-date-picker>
          <ng-template #error_start_date let-control>
            <ng-container class="error" *ngIf="f?.start_date.dirty && f?.start_date.errors">
              Campo obrigatório
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="full_name">
          <span class="content__title">
            Justificação
          </span>
        </nz-form-label>
        <nz-form-control [nzErrorTip]="error_reason">
          <input class="primary-input" formControlName="reason" nz-input id="reason" />
          <ng-template #error_reason let-control>
            <ng-container class="error" *ngIf="f.reason.dirty && f.reason.errors">
              Campo obrigatório
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>