<div class="content">
  <form nz-form [formGroup]="profileGroup">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="name">Nome</nz-form-label>
      <nz-form-control nzErrorTip="Campo obrigatório">
        <input nz-input formControlName="name" id="name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="external_ref">Referência externa</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="external_ref" id="external_ref">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="active">Ativo</nz-form-label>
      <nz-form-control style="text-align: initial">
        <nz-switch formControlName="active" id="active"></nz-switch>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="scope_ids">Permissões</nz-form-label>
      <nz-form-control>
        <fi-sas-scope-tree formControlName="scope_ids" id="scope_ids">
        </fi-sas-scope-tree>
      </nz-form-control>
    </nz-form-item>

  </form>
</div>

<div class="space" nz-row>
  <button *ngIf="idToUpdate" nz-button (click)="return()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="loading" [disabled]="loading" (click)="done()" [nzType]="'primary'">{{idToUpdate ?
    'Editar' : 'Criar'}}</button>
</div>