<a [href]="file.url" class="file-button" target="_blank" download *ngIf="!pending; else fileStatusTemplate"
  [title]="filename | translate">
  <ng-container *ngTemplateOutlet="fileContentTemplate"></ng-container>
</a>

<ng-template #fileStatusTemplate>
  <div class="file-button" [title]="filename | translate">
    <ng-container *ngTemplateOutlet="fileContentTemplate"></ng-container>
  </div>
</ng-template>

<ng-template #fileContentTemplate>
  <div class="file-button--title">
    {{ filename | translate }}
    <nz-tag nzColor="#ffa400" *ngIf="pending">{{ 'MISC.PENDING' | translate }}</nz-tag>
    <nz-tag nzColor="#fd3a57" *ngIf="failed">{{ 'MISC.FAILED' | translate }}</nz-tag>
    <i nz-icon type="icons:icons-download" *ngIf="!pending"></i>
  </div>

  <div *ngIf="!filename" class="file-button--label" [title]="file?.filename">
    {{ file?.filename }}
  </div>
</ng-template>
