@import 'theme';

.ps {
  background: var(--background-color);
}

.container {
  background: white;
  padding: 24px 46px 24px 46px;
  margin-bottom: 24px;

  &__title {
    font-size: 14px;
    line-height: 22px;
    margin: 0px;
  }

  &__tag {
    background-color: var(--primary-1);
    padding: 8px;
    display: flex;
    align-items: center;

    &__text {
      margin-left: 18px;
      font-size: 14px;
      line-height: 22px;
    }
    &__value {
      font-size: 24px;
      line-height: 32px;
      color: var(--primary-color);
    }
  }
}

.title {
  padding-top: 16px;
  padding-bottom: 24px;
//  font-size: 24px;
}

.box {
  padding: 16px;
  margin-bottom: 8px;
 border-radius: 2px;

  &__text {
    font-size: 14px;
  }
  
  &__value {
    text-align: right;
    color: #4D9DE0;
    font-size: 24px;
  }
  
  &--submitted {
    background-color: fadeout(#88CCF1, 90%);

    .box__value {
      color: #4D9DE0;
    }  
  }
  
  &--analysed {
    background-color: fadeout(#7768AE, 90%);

    .box__value {
      color: #7768AE;
    }  
  }
  
  &--dispatch {
    background-color: fadeout(#88CCF1, 90%);

    .box__value {
      color: #87CCF1;
    }  
  }
  
  &--unassigned {
    background-color: fadeout(#d48383, 90%);

    .box__value {
      color: #d48383;
    }  
  }

  &--assigned {
    background-color: fadeout(#9ad483, 90%);

    .box__value {
      color: #9ad483;
    }  
  }
  &--enqueued {
    background-color: fadeout(#D4B483, 90%);

    .box__value {
      color: #D4B483;
    }  
  }
  
  &--confirmed {
    background-color: fadeout(#9DBBAE, 90%);

    .box__value {
      color: #066743;
    }  
  }
  
  &--rejected {
    background-color: fadeout(#D0021B, 90%);

    .box__value {
      color: #D0021A;
    }  
  }
  
  &--opposition {
    background-color: fadeout(rgb(172, 52, 66), 90%);

    .box__value {
      color: rgb(138, 44, 55);
    }  
  }
  
  &--contracted {
    background-color: fadeout(#076743, 90%);

    .box__value {
      color: #066743;
    }  
  }

  &--closed {
    background-color: fadeout(#a0aaa6, 90%);

    .box__value {
      color: #a0aaa6;
    }  
  }
}

.room {
  padding: 3px !important;
  margin: 5px;
  color: black;
  cursor: pointer;
  width: 100px;
  &__text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;

    &__total {
      font-size: 10px;
      line-height: 12px;
      text-align: center;
    }
  }

  &__available {
    padding: 3px 3px 3px 0px;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    &__red {
      color: #D0021B;

    }

    &__green {
      color: #1BA974;
    }
  }

  &__red {
    background: fadeout(#D0021B,90%);

    &:hover {
      background: #D0021B;
      color: white;

      .room__available {
        
        &__red {
          color: white;
    
        }
    
        &__green {
          color: white;
        }
      }
    }

  }

  &__green {
    background: fadeout(#1BA974, 90%);

    &:hover {
      background: #1BA974;
      color: white;

      .room__available {
        
        &__red {
          color: white;
    
        }
    
        &__green {
          color: white;
        }
      }
    }
  }
}
