<!-- <p class="title"> {{ residence ? residence.name : 'Todas as residências' }}</p>-->
<nz-alert
  nzType="info"
  [nzMessage]="descriptionTemplate"
  
  nzCloseable
  *ngIf="showInfoAcademicYear"
>
</nz-alert>
<ng-template #descriptionTemplate>
  <div nz-row>
    <p>Os dados apresentados correspondem ao ano lectivo <b>{{ academicYear }} </b></p>
  </div>
</ng-template>

<div perfectScrollbar class="ps scroll-container " style="height: 100%">
  <nz-spin [nzSpinning]="loadingStats">
    <div class="container">
      <p class="title">Candidaturas</p>
      <div nz-row nzType="flex" nzGutter="16">
        <div nz-col nzXs="12" nzSm="8" nzMd="4">
          <div nz-row class="box box--submitted" style="cursor:pointer" (click)="goApplication('submitted')"
            nzType="flex" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Submetidas</div>
            <div nz-col nzSpan="12" class="box__value">{{ totalSubmitted }}</div>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="8" nzMd="4">
          <div nz-row class="box box--analysed" nzType="flex" style="cursor:pointer" (click)="goApplication('analysed')"
            nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Em Análise</div>
            <div nz-col nzSpan="12" class="box__value">{{ totalAnalysed }}</div>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="8" nzMd="4">
          <div nz-row class="box box--dispatch" nzType="flex" style="cursor:pointer" (click)="goApplication('pending')"
            nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Despachos</div>
            <div nz-col nzSpan="12" class="box__value">{{ totalPending }}</div>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="8" nzMd="4">
          <div nz-row class="box box--unassigned" nzType="flex" style="cursor:pointer"
            (click)="goApplication('unassigned')" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Não colocadas</div>
            <div nz-col nzSpan="12" class="box__value">{{ totalUnassigned }}</div>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="8" nzMd="4">
          <div nz-row class="box box--assigned" nzType="flex" style="cursor:pointer" (click)="goApplication('assigned')"
            nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Colocadas</div>
            <div nz-col nzSpan="12" class="box__value">{{ totalAssigned }}</div>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="8" nzMd="4">
          <div nz-row class="box box--enqueued" nzType="flex" style="cursor:pointer" (click)="goApplication('queued')"
            nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Lista de espera</div>
            <div nz-col nzSpan="12" class="box__value">{{ totalQueued }}</div>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="8" nzMd="4">
          <div nz-row class="box box--confirmed" nzType="flex" style="cursor:pointer"
            (click)="goApplication('confirmed')" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Confirmados</div>
            <div nz-col nzSpan="12" class="box__value">{{ totalConfirmed }}</div>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="8" nzMd="4">
          <div nz-row class="box box--rejected" nzType="flex" style="cursor:pointer" (click)="goApplication('rejected')"
            nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Rejeitadas</div>
            <div nz-col nzSpan="12" class="box__value">{{ totalRejected }}</div>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="8" nzMd="4">
          <div nz-row class="box box--rejected" nzType="flex" style="cursor:pointer"
            (click)="goApplication('withdrawal')" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Desistências</div>
            <div nz-col nzSpan="12" class="box__value">{{ totalWithdrawal }}</div>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="8" nzMd="4">
          <div nz-row class="box box--opposition" nzType="flex" style="cursor:pointer"
            (click)="goApplication('opposition')" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Oposições</div>
            <div nz-col nzSpan="12" class="box__value">{{ totalOpposition }}</div>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="8" nzMd="4">
          <div nz-row class="box box--contracted" nzType="flex" style="cursor:pointer"
            (click)="goApplication('contracted')" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Em Contrato</div>
            <div nz-col nzSpan="12" class="box__value">{{ totalContracted }}</div>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="8" nzMd="4">
          <div nz-row class="box box--closed" nzType="flex" style="cursor:pointer" (click)="goApplication('closed')"
            nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Fechadas</div>
            <div nz-col nzSpan="12" class="box__value">{{ totalClosed }}</div>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="8" nzMd="4">
          <div nz-row class="box box--rejected" nzType="flex" style="cursor:pointer"
            (click)="goApplication('cancelled')" nzAlign="middle" nzJustify="space-between">
            <div nz-col nzSpan="12" class="box__text">Canceladas</div>
            <div nz-col nzSpan="12" class="box__value">{{ totalCancelled }}</div>
          </div>
        </div>
      </div>
    </div>
  </nz-spin>
  <ng-container>
    <div class="container">
      <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle" nzGutter="16">
        <div nz-col nzSpan="5">
          <p class="container__title">Mapas de Quartos</p>
        </div>
        <div nz-col nzSpan="3">
          <div class="container__tag"><span class="container__tag__value">{{
              residenceOccupation.maximumcapacity}}</span>
            <div class="container__tag__text">Camas</div>
          </div>
        </div>
        <div nz-col nzSpan="4">
          <div class="container__tag"><span class="container__tag__value">{{ residenceOccupation.totalAvailable
              }}</span>
            <div class="container__tag__text"> Disponíveis</div>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <nz-progress [nzPercent]="residenceOccupation.occupationRate" nzStrokeColor="red"></nz-progress>
        </div>
      </div>
      <div style="padding-top: 24px;">
        <div nz-row nzType="flex" nzGutter="18" nzJustify="start" style="align-items: stretch;">
          <div nz-col class="room" [ngClass]="{ 'room__red': room.available <= 0, 'room__green': room.available > 0 }" *ngFor="let room of roomsMap" >
            <div [nzContent]="occupantsTemplate" nzTrigger="click" nz-popover nzPopoverTitle="Ocupantes" *ngIf="room.room_id">
              <div class="room__text">{{ residence ? "Quarto" : ""}} {{ room.name }}</div>
              <div class="room__text__total"> Total ({{ room.max_occupants_number }})</div>
              <div class="room__available"
                [ngClass]="{ 'room__available__red': room.available <= 0, 'room__available__green': room.available > 0 }">
                {{ room.available }}</div>
              <div class="room__text">Camas</div>
            </div>
            <div *ngIf="!room.room_id">
              <div class="room__text">{{ residence ? "Quarto" : ""}} {{ room.name }}</div>
              <div class="room__text__total"> Total ({{ room.max_occupants_number }})</div>
              <div class="room__available"
                [ngClass]="{ 'room__available__red': room.available <= 0, 'room__available__green': room.available > 0 }">
                {{ room.available }}</div>
              <div class="room__text">Camas</div>
            </div>

            <ng-template #occupantsTemplate>
              <fi-sas-room-occupants [roomId]="room.room_id" [academicYear]="academicYear" ></fi-sas-room-occupants>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div nz-row>
          <p class="container__title">Mapas de Tipologias</p>
      </div>
      <div style="padding-top: 24px;">
        <div nz-row nzType="flex" nzGutter="18" nzJustify="start" style="align-items: stretch;">
          <div nz-col class="room" style="cursor: context-menu;" [ngClass]="{ 'room__red': typ.available <= 0, 'room__green': typ.available > 0 }"
            *ngFor="let typ of typlogogiesMap">
            <div class="room__text">{{ typ.name }}</div>
            <div class="room__text__total"> Total ({{ typ.max_occupants_number }})</div>
            <div class="room__available"
              [ngClass]="{ 'room__available__red': typ.available <= 0, 'room__available__green': typ.available > 0 }">
              {{ typ.available }}</div>
            <div class="room__text">Camas</div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>