<div>
  <div nz-row>
    <nz-spin [nzSpinning]="loadingEdit">
      <div nz-col [nzSpan]="24">
        <form nz-form [formGroup]="formEquipment">
          <div class="container">
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
                <div nz-row>
                  <nz-form-label nzRequired>
                    Nome
                  </nz-form-label>
                  <nz-form-control>
                    <input type="text" nz-input formControlName="name">
                    <nz-form-explain class="color-required" *ngIf="submitted && f.name.errors">
                      Campo obrigatório
                    </nz-form-explain>
                  </nz-form-control>
                </div>
              </div>
              <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
                <div nz-row>
                  <nz-form-label nzRequired>
                    Marca
                  </nz-form-label>
                  <nz-form-control>
                    <input type="text" nz-input formControlName="mark">
                    <nz-form-explain class="color-required" *ngIf="submitted && f.mark.errors">
                      Campo obrigatório
                    </nz-form-explain>
                  </nz-form-control>
                </div>
              </div>
              <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
                <div nz-row>
                  <nz-form-label nzRequired>
                    Modelo
                  </nz-form-label>
                  <nz-form-control>
                    <input type="text" nz-input formControlName="model">
                  </nz-form-control>
                  <nz-form-explain class="color-required" *ngIf="submitted && f.model.errors">
                    Campo obrigatório
                  </nz-form-explain>
                </div>
              </div>
              <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
                <div nz-row>
                  <nz-form-label nzRequired>
                    Número de serie
                  </nz-form-label>
                  <nz-form-control>
                    <input type="text" nz-input formControlName="serial_number">
                  </nz-form-control>
                  <nz-form-explain class="color-required" *ngIf="submitted && f.serial_number.errors">
                    Campo obrigatório
                  </nz-form-explain>
                </div>
              </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
                <div class="padding-right-20">
                  <div nz-row>
                    <nz-form-label nzRequired>
                      Grupo de equipamentos
                    </nz-form-label>
                    <nz-form-control>
                      <nz-select class="primary-select" formControlName="measurement_group_id" nzShowSearch>
                        <nz-option *ngFor="let group of equipments_group" [nzLabel]="group?.description"
                          [nzValue]="group.id">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                    <nz-form-explain class="color-required" *ngIf="submitted && f.measurement_group_id.errors">
                      Campo obrigatório
                    </nz-form-explain>
                  </div>
                </div>
              </div>
              <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="10" [nzLg]="10" [nzXl]="10" [nzXXl]="10">
                <div nz-row>
                  <nz-form-label>
                    Certificado de aferição
                  </nz-form-label>
                  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="22" [nzLg]="22" [nzXl]="22" [nzXXl]="22">
                    <nz-form-item>
                      <nz-form-control>
                        <fi-sas-upload-file formControlName="scouting_certificate_file_id"></fi-sas-upload-file>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4" class="padding-right-20">
                <div nz-row class="padding-bottom-5">
                  <nz-form-label>
                    Data de validade
                  </nz-form-label>
                  <nz-form-control>
                    <nz-date-picker class="primary-datePicker" formControlName="validity" id="validity">
                    </nz-date-picker>
                  </nz-form-control>
                </div>
              </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-10">
                <strong class="font_size_16">Localização</strong>
              </div>
            </div>
            <div nz-row nzType="flex" nzAlign="middle" class="margin_top_20">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="padding-10">
                <div class="padding-right-20">
                  <div nz-row>
                    <nz-form-label nzRequired>
                      Localização
                    </nz-form-label>
                    <nz-form-control>
                      <nz-select class="primary-select" formControlName="location_id" nzShowSearch>
                        <nz-option *ngFor="let location of locations" [nzLabel]="location?.description"
                          [nzValue]="location.id">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                    <nz-form-explain class="color-required" *ngIf="submitted && f.location_id.errors">
                      Campo obrigatório
                    </nz-form-explain>
                  </div>
                </div>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4"
                style="padding-top: 34px;">
                <button nz-button (click)="openModal()" [nzType]="'primary'" style="width: 100%;">
                  Criar Localização
                </button>
              </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-10">
                <strong class="font_size_16"> Utilizadores Responsáveis</strong>
              </div>
            </div>
            <div nz-row nzType="flex" nzAlign="middle" class="margin_top_20">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="padding-10">
                <div class="padding-right-20">
                  
                  <div nz-row class="padding-bottom-5">
                    <nz-form-label>
                      Utilizadores
                    </nz-form-label>
                  </div>
                  <nz-select formControlName="users" name="users" nzMode="multiple" [nzServerSearch]="true"
                    (nzOnSearch)="onSearchUsers($event)">
                    <nz-option *ngFor="let user of users" [nzLabel]="user.name + ' [' + user.email + ']' " [nzValue]="user.id"
                      [nzDisabled]="!user.active">
                    </nz-option>
                  </nz-select>
                </div>
              </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-10">
                <strong class="font_size_16"> ModBus</strong>
              </div>
            </div>
            <div nz-row nzType="flex" nzAlign="middle" class="margin_top_20">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="padding-10">
                <div class="padding-right-20">
                  <div nz-row>
                    <nz-form-label nzRequired>
                      Ligação servidor modBus
                    </nz-form-label>
                    <nz-form-control>
                      <nz-select class="primary-select" formControlName="measurement_source_id" nzShowSearch>
                        <nz-option *ngFor="let source of connections_source" [nzLabel]="source?.name"
                          [nzValue]="source.id">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                    <nz-form-explain class="color-required" *ngIf="submitted && f.measurement_source_id.errors">
                      Campo obrigatório
                    </nz-form-explain>
                  </div>
                </div>
              </div>
            </div>
            <div nz-row class="margin-top-5">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-10">
                <div nz-row class="padding-bottom-5">
                  <nz-form-label nzRequired>
                    Ativo
                  </nz-form-label>
                </div>
                <div nz-row class="padding-bottom-5 padding-top-5">
                  <nz-switch formControlName="active">
                  </nz-switch>
                  <nz-form-explain class="color-required" *ngIf="submitted && f.active.errors">
                    Campo obrigatório
                  </nz-form-explain>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </nz-spin>
  </div>
  <div class="space">
    <button *ngIf="id != undefined" style="margin-right: 15px;" nz-button (click)="backList()">Voltar</button>
    <button nz-button [nzLoading]="loadingEdit" [disabled]="loadingEdit"
      (click)="id != undefined ? submitEquipment(true) : submitEquipment(false)" [nzType]="'primary'">{{id
      != undefined ? 'Editar' : 'Criar'}}</button>
  </div>
</div>

<!--LOCALIZAÇÂO-->
<nz-modal nzTitle="Criar Localização" [(nzVisible)]="modalVisible" (nzOnCancel)="cancelModal()"
  (nzOnOk)="saveLocation()">
  <form nz-form [formGroup]="formLocation">
    <div nz-row class="padding-bottom-5">
      <label> UA </label>
    </div>
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="padding-right-20">
        <nz-form-control>
          <nz-select class="primary-select" formControlName="organic" nzShowSearch
            (ngModelChange)="dataOrganicFilter($event)">
            <nz-option *ngFor="let organic of organics" [nzLabel]="organic.name" [nzValue]="organic.id">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" style="padding-top: 4px;">
        <input type="text" nz-input formControlName="organic_code">
      </div>

    </div>
    <nz-form-explain class="color-required" *ngIf="submittedLocation && ff.organic.errors">
      Campo obrigatório
    </nz-form-explain>
    <div nz-row class="padding-bottom-5 padding-top-15">
      <label> Edifício </label>
    </div>
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="padding-right-20">
        <nz-form-control>
          <nz-select class="primary-select" formControlName="building" nzShowSearch
            (ngModelChange)="dataBuildingFilter($event)">
            <nz-option *ngFor="let building of buildings" [nzLabel]="building.name" [nzValue]="building.id">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" style="padding-top: 4px;">
        <input type="text" nz-input formControlName="building_code">
      </div>
    </div>
    <nz-form-explain class="color-required" *ngIf="submittedLocation && ff.building.errors">
      Campo obrigatório
    </nz-form-explain>
    <div nz-row class="padding-bottom-5 padding-top-15">
      <label> Ala </label>
    </div>
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="padding-right-20">
        <nz-form-control>
          <nz-select class="primary-select" formControlName="wing" nzShowSearch
            (ngModelChange)="dataWingFilter($event)">
            <nz-option *ngFor="let wing of wings" [nzLabel]="wing.name" [nzValue]="wing.id">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" style="padding-top: 4px;">
        <input type="text" nz-input formControlName="wing_code">
      </div>
    </div>
    <nz-form-explain class="color-required" *ngIf="submittedLocation && ff.wing.errors">
      Campo obrigatório
    </nz-form-explain>
    <div nz-row class="padding-bottom-5 padding-top-15">
      <label> Piso </label>
    </div>
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="padding-right-20">
        <nz-form-control>
          <nz-select class="primary-select" formControlName="floor" nzShowSearch
            (ngModelChange)="dataFloorFilter($event)">
            <nz-option *ngFor="let floor of floors" [nzLabel]="floor.name" [nzValue]="floor.id">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" style="padding-top: 4px;">
        <input type="text" nz-input formControlName="floor_code">
      </div>
    </div>
    <nz-form-explain class="color-required" *ngIf="submittedLocation && ff.floor.errors">
      Campo obrigatório
    </nz-form-explain>
    <div nz-row class="padding-bottom-5 padding-top-15">
      <label> Divisão </label>
    </div>
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="padding-right-20">
        <nz-form-control>
          <nz-select class="primary-select" formControlName="division" nzShowSearch
            (ngModelChange)="dataDivisionFilter($event)">
            <nz-option *ngFor="let division of divisions" [nzLabel]="division.name" [nzValue]="division.id">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" style="padding-top: 4px;">
        <input type="text" nz-input formControlName="division_code">
      </div>
    </div>
    <nz-form-explain class="color-required" *ngIf="submittedLocation && ff.division.errors">
      Campo obrigatório
    </nz-form-explain>
    <div nz-row class="padding-bottom-5 padding-top-15">
      <label> Serviço </label>
    </div>
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="padding-right-20">
        <nz-form-control>
          <nz-select class="primary-select" formControlName="service" nzShowSearch
            (ngModelChange)="dataServiceFilter($event)">
            <nz-option *ngFor="let service of services" [nzLabel]="service.name" [nzValue]="service.id">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" style="padding-top: 4px;">
        <input type="text" nz-input formControlName="service_code">
      </div>
    </div>
    <div nz-row class="padding-top-30">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
        <label> Código </label>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
        <nz-form-control>
          <input type="text" nz-input formControlName="code">
        </nz-form-control>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">

      </div>
    </div>
    <div nz-row class="padding-top-30">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-right-20">
        <label> Designação </label>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXXl]="18">
        <textarea maxlength="255" type="text" nz-input formControlName="description" style="height: 80px;"></textarea>
      </div>
    </div>
  </form>
</nz-modal>