

<nz-tabset nzTabPosition="left">

  <nz-tab nzTitle="Outras informações">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
        <div nz-row class="title">
          Dispositivos
        </div>
        <div nz-row class="detail-field">
          <div *ngFor="let device of data?.devices">
            {{device?.name}} 
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
        <div nz-row class="title">
          Famílias
        </div>
        <div nz-row class="detail-field" *ngIf="data?.families.length>0">
          <div *ngFor="let family of data?.families">
            {{(family?.translations | translation)?.name}}
          </div>
        </div>
        <div nz-row class="detail-field" *ngIf="data?.families.length==0">
          -
        </div>
      </div>
    </div>
  </nz-tab>
  
</nz-tabset>