<AbsoluteLayout class="dashboard__bg">
  <StackLayout width="100%" height="100%">
    <!-- action bar -->
    <fi-action-bar [actionBarType]="4"></fi-action-bar>

    <!-- scroll init -->
    <ScrollView row="0">
        <StackLayout class="fisas__content">
            <StackLayout marginTop="36">
                <Label class="fisas__h1" text="{{ 'gps-record.recordTrip' | translate }}"></Label>
                <Label class="fisas__h2" text="UBike"></Label>
            </StackLayout>

            <ng-container>
                <StackLayout class="registergpskm__kms__gpscontainer">
                    <Label class="registergpskm__kms__titles" text="{{ 'gps-record.distance' | translate }}"></Label>
                    <Label class="registergpskm__kms__count" text="{{ showKm() }}"></Label>
                    <Label class="registergpskm__kms__label" text="km"></Label>
                    <Label class="registergpskm__kms__titles" text="{{ 'gps-record.duration' | translate }}"></Label>
                    <Label class="registergpskm__kms__time" text="{{ newTimeFormat(timeOF) }}"></Label>
    
                    <StackLayout marginTop="60" marginBottom="30">
                        <Label (tap)="startTrip()" *ngIf="!started" width="90%" class="fisas__btn-bottom fisas__bg--{{ institution }}" text="{{ 'gps-record.start' | translate }}"></Label>
                        <Label (tap)="stopTrip()" *ngIf="started" width="90%" backgroundColor="red" class="fisas__btn-bottom" text="{{ 'gps-record.stop' | translate }}"></Label>
                    </StackLayout>
                </StackLayout>
            </ng-container>
        </StackLayout>
    </ScrollView>
  </StackLayout>
</AbsoluteLayout>
