@import "~/scss/_variables";

.registergpskm {
  /* ----------------------- */
  /* Component */
  &__kms{
    &__gpscontainer{
      background-color: white;
      width: 100%;
      height: 100%;
      margin-top: 17;
      border-radius: 9;
      margin-bottom: 20;
    }
    &__titles{
      margin-top: 24;
      color: #666666;
      font-family: 'Montserrat Light';
      font-size: 12;
      font-weight: 300;
      text-align: center;
    }
    &__label{
      color: #076743;
      font-family: 'Montserrat';
      font-size: 33;
      font-weight: 400;
      text-align: center;
      margin-bottom: 10;
    }
    &__count{
      color: #076743;
      font-family: 'Montserrat';
      font-size: 90;
      font-weight: bold;
      text-align: center;
    }
    &__time{
      opacity: 0.27;
      color: #111111;
      font-family: 'Montserrat Hairline';
      font-size: 67;
      font-weight: 100;
      text-align: center;
    }
  }
  /* ----------------------- */
  /* Common */
}
