.top {
  padding-top: 25px;
  margin-bottom: 25px;
}

.listcomplaints {
  @import 'theme';


  &__information {
    background-color: #ffffff;
    padding: 30px 35px 30px 35px;
    font-family: Montserrat;
    margin-bottom: 30px;
    margin-top: 35px;
  }


}

.submit {
  margin-top: 25px;
  text-align: right;
}


.error {
  color: red;
  margin-top:5px;

  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}