<div nz-row>
  <!--Back Button-->

  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
  </div>

  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12" class="top">

    <app-button translate="MISC.RETURN" [routerLink]="['/privateaccommodation', 'list-detail', id]" [leftIcon]="'left'"
      [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}" type="tertiary"></app-button>
  </div>

  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
  </div>

</div>



<div nz-row>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12">
    <h2 class="title-top-page"> {{ 'PRIVATEACCOMMODATION.COMPLAINTS.TITLE' | translate }}</h2>

    <div class="listcomplaints__information">

      <form nz-form [formGroup]="complaintsForm"  class="content__group">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="contract_action">
            <b>{{
              'PRIVATEACCOMMODATION.COMPLAINTS.SUBTITLE' | translate
              }}</b>
          </nz-form-label>
          <nz-form-control>
            <textarea class="primary-textarea" nz-input rows="5" maxlength="255" formControlName="description"
            id="description"></textarea>
          </nz-form-control>
          <nz-form-explain class="error" *ngIf="submitted && f.description.errors">
            {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
          </nz-form-explain>
        </nz-form-item>
        <div nz-row class="submit">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
            <app-button  [routerLink]="['/privateaccommodation', 'list-detail', id]"  style="margin-right: 15px;"
            [translate]="'MISC.CANCEL'" [type]="'secundary'"></app-button>
            <app-button [loading]="loadingButton" (click)="submitForm()"
            [translate]="'MISC.SUBMIT'"></app-button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
  </div>

</div>