<div
  nzType="flex"
  nzAlign="middle"
  nzJustify="center"
  perfectScrollbar
  class="page ps scroll-container"
>
  <div class="container">
    <form [formGroup]="fiscalEntityForm" nzLayout="vertical">
      <nz-spin [nzSpinning]="loading">
        <div nz-row>
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="16"
            [nzLg]="16"
            [nzXl]="16"
            [nzXXl]="16"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label nzRequired> Nome </nz-form-label>
              <nz-form-control>
                <input type="text" nz-input formControlName="name" />
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.name.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="7"
            [nzLg]="7"
            [nzXl]="7"
            [nzXXl]="7"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label nzRequired> NIF </nz-form-label>
              <nz-form-control>
                <input type="number" nz-input formControlName="tin" />
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="f.tin.dirty && f.tin.errors"
              >
                {{ getTinError() }}
              </nz-form-explain>
            </div>
          </div>
        </div>
        <div nz-row nz-row style="margin-top: 16px">
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="6"
            [nzLg]="6"
            [nzXl]="6"
            [nzXXl]="6"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label> Rua </nz-form-label>
              <nz-form-control>
                <input type="text" nz-input formControlName="street" />
              </nz-form-control>
            </div>
          </div>
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="3"
            [nzLg]="3"
            [nzXl]="3"
            [nzXXl]="3"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label> Porta </nz-form-label>
              <nz-form-control>
                <input type="number" nz-input formControlName="door" />
              </nz-form-control>
            </div>
          </div>
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="7"
            [nzLg]="7"
            [nzXl]="7"
            [nzXXl]="7"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label> Cidade </nz-form-label>
              <nz-form-control>
                <input type="text" nz-input formControlName="city" />
              </nz-form-control>
            </div>
          </div>
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="7"
            [nzLg]="7"
            [nzXl]="7"
            [nzXXl]="7"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label> Código Postal </nz-form-label>
              <nz-form-control>
                <input
                  type="text"
                  nz-input
                  formControlName="cep"
                  mask="0000-000"
                />
              </nz-form-control>
            </div>
          </div>
        </div>
        <div nz-row style="margin-top: 16px">
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="9"
            [nzLg]="9"
            [nzXl]="9"
            [nzXXl]="9"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label> Telefone </nz-form-label>
              <nz-form-control>
                <input type="number" nz-input formControlName="phone" />
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="f.phone.dirty && f.phone.errors"
              >
                {{ getPhoneError() }}
              </nz-form-explain>
            </div>
          </div>
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="7"
            [nzLg]="7"
            [nzXl]="7"
            [nzXXl]="7"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label> Email </nz-form-label>
              <nz-form-control>
                <input type="text" nz-input formControlName="email" />
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.email.errors"
              >
                Campo Inválido
              </nz-form-explain>
            </div>
          </div>
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="7"
            [nzLg]="7"
            [nzXl]="7"
            [nzXXl]="7"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label> Website </nz-form-label>
              <nz-form-control>
                <input type="text" nz-input formControlName="website" />
              </nz-form-control>
            </div>
          </div>
        </div>
        <div nz-row style="padding-top: 20px">
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="9"
            [nzLg]="9"
            [nzXl]="9"
            [nzXXl]="9"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label nzRequired> Conta Corrente </nz-form-label>
              <nz-form-control>
                <nz-select
                  class="primary-select"
                  formControlName="account_id"
                  nzShowSearch
                >
                  <nz-option
                    *ngFor="let account of correntAccounts"
                    [nzLabel]="account.name"
                    [nzValue]="account.id"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.account_id.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>
        <div nz-row style="padding-top: 20px">
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="6"
            [nzLg]="6"
            [nzXl]="6"
            [nzXXl]="6"
          >
            <div nz-row class="padding-bottom-5">
              <nz-form-label nzRequired> Ativo </nz-form-label>
            </div>
            <div nz-row class="padding-bottom-5 padding-top-5">
              <nz-switch formControlName="active"> </nz-switch>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.active.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>
      </nz-spin>
    </form>
  </div>
  <div class="space">
    <button *ngIf="id != undefined" nz-button (click)="backList()">
      Voltar
    </button>
    <button
      nz-button
      [nzLoading]="loading"
      [disabled]="loading"
      (click)="id != undefined ? submitEntity(true) : submitEntity(false)"
      class="button-submit"
      [nzType]="'primary'"
    >
      {{ id != undefined ? 'Editar' : 'Criar' }}
    </button>
  </div>
</div>
