.primary-timePicker {
  width: 100%;
}

.schedule-hours-form--buttons {
  margin-top: 19px;
}

.error {
  color: red;
  margin-top: 5px;

  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}

nz-form-item {
  margin-bottom: 5px;
}
