<form *ngIf="form" nz-form [formGroup]="form" class="schedule-hours-form">
  <div nz-row nzGutter="34">
    <div nz-col nzXs="24" nzMd="12">
      <nz-form-item>
        <nz-form-label nzFor="time_begin" class="primary-input-label"
          >{{ 'SHARED.SCHEDULE.HOURS.TIME_BEGIN' | translate }}<span>*</span></nz-form-label
        >
        <nz-form-explain id="error-label" *ngIf="form.get('time_begin')?.dirty && form.get('time_begin').errors">{{
          getInputError('time_begin')
        }}</nz-form-explain>
        <nz-form-control>
          <nz-time-picker
            class="primary-timePicker"
            formControlName="time_begin"
            id="time_begin"
            name="time_begin"
            nzFormat="HH:mm"
          ></nz-time-picker>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="24" nzMd="12">
      <nz-form-item>
        <nz-form-label nzFor="time_end" class="primary-input-label"
          >{{ 'SHARED.SCHEDULE.HOURS.TIME_END' | translate }}<span>*</span></nz-form-label
        >
        <nz-form-explain id="error-label" *ngIf="form.get('time_end')?.dirty && form.get('time_end').errors">{{
          getInputError('time_end')
        }}</nz-form-explain>
        <nz-form-control>
          <nz-time-picker
            class="primary-timePicker"
            formControlName="time_end"
            id="time_end"
            name="time_end"
            nzFormat="HH:mm"
          ></nz-time-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <nz-form-explain class="error" *ngIf="form.errors?.dateAfter">{{
    'SHARED.SCHEDULE.HOURS.ERROR_MESSAGE' | translate
  }}</nz-form-explain>

  <div nz-row nzJustify="space-between" nzType="flex" class="schedule-hours-form--buttons">
    <div nz-col>
      <app-button (click)="close()" [buttonStyle]="buttonStyle" type="tertiary" translate="MISC.CANCEL"></app-button>
    </div>

    <div nz-col>
      <app-button (click)="onSubmit()" [buttonStyle]="buttonStyle" translate="MISC.UPDATE"></app-button>
    </div>
  </div>
</form>
