<div class="container">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
      <div nz-row>
        <nz-form-label>Termo de Pesquisa</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input [(ngModel)]="filters.search">
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
      <div nz-row class="padding-bottom-5">
        <nz-form-label>Estado</nz-form-label>
      </div>
      <div nz-row>
        <nz-form-control>
          <nz-select class="primary-select" [(ngModel)]="filters.status" nzAllowClear nzShowSearch style="width: 100%;">
            <nz-option nzLabel="Submetido" nzValue="SUBMITTED"> </nz-option>
            <nz-option nzLabel="Expirado" nzValue="EXPIRED"> </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
      <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
      style="text-align: left;">
      <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
    </div>
  </div>
</div>
<div class="container">
  <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">

        <th></th>
        <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
          [nzSortKey]="column.sortKey ? column.sortKey : column.key"> {{ column.label }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">

        <tr>
          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
          <td *ngFor="let column of columns">
            <span *ngIf="!column.tag && !column.template">{{ column.translation ? (data.translations | where: ['language_id', 3]
              )[0][column.key] : (data | flatObject)[column.key]}}</span>
            <span *ngIf="column.template">
              {{ column.template(data) }}
            </span>
            <span *ngIf="column.tag">
              <fi-sas-tag [value]="data[column.key]" [results]="column.tag"></fi-sas-tag>
            </span>
          </td>

        </tr>

        <tr [nzExpand]="mapOfExpandData[data.id]">
          <td [attr.colspan]="columns.length + 3">
            <fi-sas-view-iban-change-request [data]="data"></fi-sas-view-iban-change-request>
          </td>
        </tr>

      </ng-template>
    </tbody>
  </nz-table>
</div>
