<div nz-row>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12">

    <div nz-row>
      <div nz-col nzSpan="24" style="padding-top: 25px;">
        <div class="application-review--buttons">
          <app-button translate="MISC.RETURN" (click)="backToApplicationStatusHistory()" [leftIcon]="'left'"
            type="tertiary"></app-button>

          <app-button *ngIf="canEditApplication" translate="MISC.EDIT"
            [routerLink]="'/social-support/applications/' + application.id" type="tertiary">
          </app-button>
        </div>
      </div>
      <div nz-col nzSpan="24">
        <div nz-row *ngIf="isLoaging; else applicationTemplate">
          <nz-spin nzSpinning="true"></nz-spin>
        </div>
      </div>

    </div>
  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
  </div>



</div>

<ng-template #applicationTemplate>
  <div nz-row *ngIf="application">

    <div class="application-review" [ngClass]="{'content-card': !isLoaging}">
      <app-review-application [application]="application" [auxData]="auxData" [consultation]="true"></app-review-application>
      <div nz-col *ngIf="showCancelButton" class="text-center">
        <app-button type="red" translate="SOCIAL_SUPPORT.APPLICATIONS.CANCEL" [loading]="isCancelLoading"
          (click)="openCancelApplicationConfirmationModal()"></app-button>
      </div>
    </div>

  </div>


</ng-template>
