<div nz-row>
  <div nz-col>
    <app-date-bar [dateBarType]="'months'" (newDate)="getDate($event)"></app-date-bar>
  </div>

</div>

<div nz-row>

  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>

  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20" class="top">
    <app-button translate="MISC.RETURN" (click)="back()" [leftIcon]="'left'"
      [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}" type="tertiary"></app-button>
  </div>

  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>

</div>

<div nz-row>

  <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>

  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
    <app-list-tickets [date]="date"></app-list-tickets>
  </div>

  <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>

</div>