@import 'theme';

.management-attendances {
  margin-bottom: 30px;
  margin-top: 30px;

  &--offer {
    margin-bottom: 30px;
  }

  &--no-manifestations {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }

  ::ng-deep .ant-tabs {
    .ant-tabs-bar {
      margin-bottom: 0px;
    }

    .ant-tabs-nav,
    .ant-tabs-tabpane {
      background-color: #fff;
    }
  }

  ::ng-deep {
    .ant-tabs-ink-bar {
      height: 3px;
    }

    .ant-table-pagination.ant-pagination {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

.users-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-left: -5px;
  margin-right: -5px;
  width: calc(100% + 10px);

  .users-list-item {
    background-color: #fff;
    border-radius: 3px;
    border: solid 0.8px #d1d1d1;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    margin: 5px;
    padding: 5px 10px;

    &:not(.users-list-item-selected) {
      cursor: pointer;
    }
  }

  .users-list-item-selected {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
  }
}
