<div class="header" *ngIf="enable">
  <!-- title -->
  <div nz-row>
    <div nz-col nzSpan="1"></div>

    <!-- date -->
    <div nz-col nzSpan="6" class="header__date">
      <fi-date></fi-date>
    </div>

    <!-- institution -->
    <div nz-col nzSpan="6" class="header__title">
      <div class="header__institution" (click)="goToScreenSaver()">
        {{ title }}
      </div>
      <div class="header__service">
        {{ 'HEADER.SERVICE' | translate }}
      </div>
    </div>

    <!-- weather -->
    <div nz-col nzSpan="6" class="header__weather">
      <fi-weather></fi-weather>
      <fi-clock></fi-clock>
    </div>
    <div nz-col nzSpan="1"></div>
  </div>
</div>
