@import 'default-theme.less';

:host::ng-deep {

  .header {

    position: relative;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    grid-area: head;

    color: @fisas-grey-01;
    background-color: var(--fisas-10);

    &__date {
      text-align: left;
      line-height: 54px;
    }

    &__title {
      text-align: center;
      line-height: 54px;

      .font-family(20px, 300);
      letter-spacing: 1px;
      text-align: center;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

      color: @fisas-grey-01;
    }

    &__institution {
      display: inline-block;
      font-weight: bold;
      padding: 0 5px 0 0;
    }

    &__service {
      display: inline-block;
      font-weight: 300;
    }

    &__weather {
      text-align: right;
    }
  }
}
