<div class="container">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
      <div nz-row>
        <nz-form-label>Estado</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="filters.status" [nzLoading]="status_loading" nzPlaceHolder="Estados" style="width: 100%;" nzAllowClear
            nzShowSearch="true">
            <nz-option *ngFor="let status of statusToFilter" [nzLabel]="status.label" [nzValue]="status.value">
            </nz-option>
          </nz-select>
          </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
      <div nz-row style="padding-top: 50px;">
        <label nz-checkbox [(ngModel)]="filters.read">Foi lida</label>
      </div>

    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
      <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
      style="text-align: left;">
      <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
    </div>
  </div>
</div>

<div class="container">
  <nz-table [nzScroll]="{ x: '240px' }" class="content-table" #refTable [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th></th>
        <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
          [nzSortKey]="column.sortKey ? column.sortKey : column.key">
          {{ column.label }}
        </th>
        <th nzRight="0px" class="text-right">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">
        <tr>
          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
          <td *ngFor="let column of columns">
            <span *ngIf="!column.tag">{{
              column.translation
              ? (data.translations | where: ['language_id', 3])[0][column.key]
              : (data | flatObject)[column.key]
              }}</span>
            <span *ngIf="column.tag">
              <fi-sas-tag [value]="data[column.key]" [results]="column.tag"></fi-sas-tag>
            </span>
          </td>
          <td nzRight="0px" class="text-right">
            <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
              nzPlacement="bottomRight">
              <i nz-icon nzType="dash" nzTheme="outline"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item [nzDisabled]="
                    data.status === 'rejected' ||
                    data.status === 'closed' ||
                    data.status === 'approved' ||
                    data.subject === 'PRIVATE_MAINTENANCE'
                  " (click)="(data.status === 'rejected' ||
                  data.status === 'closed' ||
                  data.status === 'approved' ||
                  data.subject === 'PRIVATE_MAINTENANCE') ? '' :
                    changeStateModal(
                      data,
                      data.status === 'cancelled' || data.status === 'closed'
                    )
                  ">
                  Alterar estado
                </li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>

        <tr [nzExpand]="mapOfExpandData[data.id]">
          <td [attr.colspan]="columns.length + 3">
            <fi-sas-view-application-form [applicationForm]="data"></fi-sas-view-application-form>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</div>

<nz-modal [(nzVisible)]="isChangeStatusModalVisible" [nzTitle]="'Mudança de estado'" [nzWidth]="900"
  [nzFooter]="modalFooter" (nzOnCancel)="handleChangeStatusCancel()">
  <p>Mudar estado para:</p>
  <div nz-row nzType="flex" class="actions" nzGutter="24">
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['analyse']">
      <div (click)="changeStatusModalActiveAction('analyse')" class="actions__button--analyse" [ngClass]="{
          'actions__button--analyse--active':
            changeStatusModalApplicationAction === 'analyse'
        }">
        Analisar
      </div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['dispatch']">
      <div (click)="changeStatusModalActiveAction('dispatch')" class="actions__button--dispatch" [ngClass]="{
          'actions__button--dispatch--active':
            changeStatusModalApplicationAction === 'dispatch'
        }">
        Para Despacho
      </div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['approve']">
      <div (click)="changeStatusModalActiveAction('approve')" class="actions__button--approve" [ngClass]="{
          'actions__button--approve--active':
            changeStatusModalApplicationAction === 'approve'
        }">
        Aprovar
      </div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['reject']">
      <div (click)="changeStatusModalActiveAction('reject')" class="actions__button--reject" [ngClass]="{
          'actions__button--reject--active':
            changeStatusModalApplicationAction === 'reject'
        }">
        Rejeitar
      </div>
    </div>
    <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['close']">
      <div (click)="changeStatusModalActiveAction('close')" class="actions__button--close" [ngClass]="{
          'actions__button--close--active':
            changeStatusModalApplicationAction === 'close'
        }">
        Fechar
      </div>
    </div>
  </div>

  <nz-divider></nz-divider>
  <div class="decision" nz-row nzType="flex" *ngIf="decisionEnable">
    <div nz-col nzSpan="4">
      Decisão:
    </div>
    <div nz-col nzSpan="20">
      <nz-select [(ngModel)]="changeStatusModalDecision" [nzLoading]="status_loading" nzPlaceHolder="Desição"
        nzAllowClear nzShowSearch="true">
        <nz-option *ngFor="let decision of decisions" [nzLabel]="decision.label" [nzValue]="decision.value">
        </nz-option>
      </nz-select>
    </div>
  </div>
  <div class="answer" nz-row nzType="flex" *ngIf="answerEnable">
    <div nz-col nzSpan="4">
      Resposta:
    </div>
    <div nz-col nzSpan="20">
      <textarea maxlength="255" nz-input [(ngModel)]="changeStatusModalAnswer" rows="4"></textarea>
    </div>
  </div>
  <div nz-row nzType="flex">
    <div nz-col nzSpan="4">
      Notas:
    </div>
    <div nz-col nzSpan="20">
      <textarea maxlength="255" nz-input [(ngModel)]="changeStatusModalNotes" rows="4"></textarea>
    </div>
  </div>

  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="handleChangeStatusOk()"
      [ngClass]="{ disabled: changeStatusModalApplicationAction === null }" [nzLoading]="changeStatusModalLoading">
      Mudar de estado
    </button>
  </ng-template>
</nz-modal>
