@import "theme";

.top {
  padding-top: 25px;
}

.forms {
    margin-top: 25px; 
}

.border-radius-8 {
    border-radius: 8px;
}

.button{
  /* padding-bottom: 35px; */
  /* padding-top: 35px; */
  text-align: center;
  display: grid;
  align-items: center;
  /* margin-top: 15px; */
  cursor: pointer;
  font-weight: bold;
  height: 120px;
  margin: 10px;
}

.button:hover{
    background-color:var(--primary-color);
    color: white;
}

.button:active{
    background-color:var(--primary-color);
    color: white;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}


.ant-collapse
> .ant-collapse-item.ant-collapse-no-arrow
> .ant-collapse-header {
padding-left: 0px !important;
padding-right: 0px !important;
}

.ant-collapse-content > .ant-collapse-content-box {
padding: 0px !important;
background-color: white;
}


:host::ng-deep {
  .box {
    /*  border: 2px black; */
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #3a3a3a;
    border-radius: 50px;
    background: white;
    padding: 4px 10px 4px 10px;
    i {
      margin-left: 5px;
    }
    i svg {
      transition: transform 0.24s !important;
    }
  }
}

.ant-divider-inner-text {
  padding: 0 !important;
}
.ant-divider-horizontal.ant-divider-with-text {
  margin: 0;
}

.ant-divider-horizontal.ant-divider-with-text::after {
  border-top: 1px solid var(--primary-color) !important;
}

.ant-divider-horizontal.ant-divider-with-text::before {
  border-top: 1px solid var(--primary-color) !important;
}

:host::ng-deep {
  .ant-collapse-content-box {
    padding-left: 0px;
    padding-right: 0px;
  }
}
























.occurrences-container {
    margin-top: 25px;
    margin-bottom: 40px;


    &__button-more {
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }
}

.border-radius-8 {
    border-radius: 8px;
}

.header-table {
  font-size: unset;
  text-transform: unset;
}

.body-table {
  color: #010b07;
  line-height: normal;
  font-size: unset;
  font-weight: normal;
  border-bottom: 1px solid #e8e8e8;
}

.header-table-div {
  padding-bottom:15px;
  padding-top:15px;
  font-weight: normal;
  text-transform: unset;
  color: var(--primary-7);
}

.icon {
    padding-bottom:15px;
    padding-top:15px;
    font-size: 25px;
    padding-left:10px;
    padding-right: 10px;
}

table { 
    width: 100%; 
    border-collapse: collapse; 
}

tr:nth-of-type(even) { 
    background: #eee; 
}

th { 
    background: white; 
  }

td, th { 
    padding: 6px; 
    text-align: left; 
    font-size:14px;
  }



#cardOccurrencesComponent ::ng-deep .ant-card-body {
  padding:0px !important;
}


.text-center {
    text-align: center;
}

.padding-table {
    padding-top:3px; 
    padding-bottom: 10px;
}

.hidden-md {
    display:none;
}

.par {
    background-color:white;
}

.impar {
    background-color: var(--primary-1);
}


:host::ng-deep {
  i svg path {
    fill: var(--primary-color);
  }
}

.smallButton {
    color: white;
    width: 94px;
    height: 21px;
    border-radius: 5px;
    text-align: center;
    display: grid;
    align-items: center;

      &__waiting-approval {
        background-color: #f8ca00;
      }
      &__approved {
        background-color: #0d69dd;
      }
      &__finished {
        background-color: #d1d1d1;
      }
      &__elaboration {
        background-color: #E1BC29;
      }
      &__submitted {
        background-color: #4D9DE0;
      }
      &__analysis {
        background-color: #7768AE;
      }
      &__cancelled {
        background-color: #A4A4A4;
      }
      &__dispatch {
        background-color: #88CCF1;
      }
      &__assigned {
        background-color: #076743;
      }
      &__enqueued {
        background-color: #D4B483;
      }
      &__unassigned {
        background-color: #C1666B;
      }
      &__suspended {
        background-color: #8EA4D2;
      }
      &__complaint {
        background-color: #F75C03;
      }
      &__accepted {
        background-color: #9DBBAE;
      }
      &__contracted {
        background-color: #1ba974;
      }
      &__rejected {
        background-color: #D0021B;
      }
      &__quiting {
        background-color: #EF476F;
      }
      &__withdrawal {
        background-color: #246A73;
      }
      &__closed {
        background-color: #000000;
      }
}

.box-empty {
  background-color: white;
  border-radius: 7px;
  padding-top: 10px;
  padding-bottom: 15px;
  margin: 0px !important;
}

@media screen and (max-width:600px) {
    .hidden-xs {
        display: none;
    }

    .hidden-md {
        display:block;
    }

    .padding-left-5 {
        padding-left:5px;
    }

    .padding-top-18 {
        padding-top: 18px;
    }

}