<app-application-navbar></app-application-navbar>
<div nz-row class="page">
  <!--Back Button-->

  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="2"
    [nzLg]="2"
    [nzXl]="2"
    [nzXXl]="2"
  ></div>

  <div
    nz-col
    nz-col
    [nzXs]="22"
    [nzSm]="20"
    [nzMd]="20"
    [nzLg]="20"
    [nzXl]="20"
    [nzXXl]="20"
    class="top"
  >
    <app-button
      translate="MISC.RETURN"
      [routerLink]="['/accommodation', 'list-applications']"
      [leftIcon]="'left'"
      [buttonStyle]="{ 'font-size': '12px', 'line-height': '18px' }"
      type="tertiary"
    >
    </app-button>
  </div>

  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="2"
    [nzLg]="2"
    [nzXl]="2"
    [nzXXl]="2"
  ></div>
</div>

<div *ngIf="noApplication">
  <div class="container">
    <div nz-row>
      <div
        nz-col
        [nzXs]="1"
        [nzSm]="1"
        [nzMd]="2"
        [nzLg]="2"
        [nzXl]="2"
        [nzXXl]="2"
      ></div>
      <div
        nz-col
        nz-col
        [nzXs]="22"
        [nzSm]="20"
        [nzMd]="20"
        [nzLg]="20"
        [nzXl]="20"
        [nzXXl]="20"
      >
        <div class="forms">
          <h2 class="title-top-page">
            {{ "ACCOMMODATION.CHANGE_REQUESTS.PAGE_TITLE" | translate }}
          </h2>
          <p class="sub-title-top-page">
            {{
              "ACCOMMODATION.CHANGE_REQUESTS.NO_APPLICATION_CONTRACT"
                | translate
            }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!noApplication">
  <div class="container">
    <nz-spin [nzSpinning]="loadingInfo">
      <div nz-row>
        <div
          nz-col
          [nzXs]="1"
          [nzSm]="1"
          [nzMd]="2"
          [nzLg]="2"
          [nzXl]="2"
          [nzXXl]="2"
        ></div>
        <div
          nz-col
          nz-col
          [nzXs]="22"
          [nzSm]="20"
          [nzMd]="20"
          [nzLg]="20"
          [nzXl]="20"
          [nzXXl]="20"
        >
          <div class="forms">
            <h2 class="title-top-page">
              {{ "ACCOMMODATION.CHANGE_REQUESTS.PAGE_TITLE" | translate }}
            </h2>
          </div>
        </div>
      </div>
      <div nz-row>
        <div
          nz-col
          [nzXs]="1"
          [nzSm]="1"
          [nzMd]="2"
          [nzLg]="2"
          [nzXl]="2"
          [nzXXl]="2"
        ></div>
        <div
          nz-col
          nz-col
          [nzXs]="22"
          [nzSm]="20"
          [nzMd]="20"
          [nzLg]="20"
          [nzXl]="20"
          [nzXXl]="20"
        >
          <div style="margin-top: 10px; margin-bottom: 20px">
            <div nz-row nzType="flex" nzAlign="middle" nzJustify="start">
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="12"
                [nzLg]="12"
                [nzXl]="8"
                [nzXXl]="8"
              >
                <nz-card
                  class="border-radius-8 button"
                  (click)="openApplicationChangesModal('WITHDRAWAL')"
                >
                  <span>
                    {{
                      "ACCOMMODATION.CHANGE_REQUESTS.WITHDRAWAL_REQUEST"
                        | translate
                    }}
                  </span>
                </nz-card>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="12"
                [nzLg]="12"
                [nzXl]="8"
                [nzXXl]="8"
              >
                <nz-card
                  class="border-radius-8 button"
                  (click)="openApplicationChangesModal('ABSENCE')"
                >
                  <span>
                    {{
                      "ACCOMMODATION.CHANGE_REQUESTS.ABSENCE_REQUEST"
                        | translate
                    }}
                  </span>
                </nz-card>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="12"
                [nzLg]="12"
                [nzXl]="8"
                [nzXXl]="8"
              >
                <nz-card
                  class="border-radius-8 button"
                  (click)="openApplicationChangesModal('EXTENSION')"
                >
                  <span>
                    {{
                      "ACCOMMODATION.CHANGE_REQUESTS.EXTENSION_REQUEST"
                        | translate
                    }}
                  </span>
                </nz-card>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="12"
                [nzLg]="12"
                [nzXl]="8"
                [nzXXl]="8"
              >
                <nz-card
                  class="border-radius-8 button"
                  (click)="openApplicationRoomChangesModal('TYPOLOGY')"
                >
                  <span>
                    {{
                      "ACCOMMODATION.CHANGE_REQUESTS.TYPOLOGY_REQUEST"
                        | translate
                    }}
                  </span>
                </nz-card>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="12"
                [nzLg]="12"
                [nzXl]="8"
                [nzXXl]="8"
              >
                <nz-card
                  class="border-radius-8 button"
                  (click)="openApplicationRoomChangesModal('RESIDENCE')"
                >
                  <span>
                    {{
                      "ACCOMMODATION.CHANGE_REQUESTS.RESIDENCE_REQUEST"
                        | translate
                    }}
                  </span>
                </nz-card>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="12"
                [nzLg]="12"
                [nzXl]="8"
                [nzXXl]="8"
              >
                <nz-card
                  class="border-radius-8 button"
                  (click)="openApplicationRoomChangesModal('PERMUTE')"
                >
                  <span>
                    {{
                      "ACCOMMODATION.CHANGE_REQUESTS.PERMUTE_REQUEST"
                        | translate
                    }}
                  </span>
                </nz-card>
              </div>
              <div
                *ngIf="listRegimes.length > 0"
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="12"
                [nzLg]="12"
                [nzXl]="8"
                [nzXXl]="8"
              >
                <nz-card
                  class="border-radius-8 button"
                  (click)="openApplicationRegimeChangesModal()"
                >
                  <span>
                    {{
                      "ACCOMMODATION.CHANGE_REQUESTS.REGIME_REQUEST" | translate
                    }}
                  </span>
                </nz-card>
              </div>
              <div
                *ngIf="listExtras.length > 0"
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="12"
                [nzLg]="12"
                [nzXl]="8"
                [nzXXl]="8"
              >
                <nz-card
                  class="border-radius-8 button"
                  (click)="openApplicationExtrasChangesModal()"
                >
                  <span>
                    {{
                      "ACCOMMODATION.CHANGE_REQUESTS.EXTRA_REQUEST" | translate
                    }}
                  </span>
                </nz-card>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="12"
                [nzLg]="12"
                [nzXl]="8"
                [nzXXl]="8"
              >
                <nz-card
                  class="border-radius-8 button"
                  (click)="openMaintenanceRequestModal()"
                >
                  <span>
                    {{
                      "ACCOMMODATION.CHANGE_REQUESTS.MAINTENANCE_REQUEST"
                        | translate
                    }}
                  </span>
                </nz-card>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="12"
                [nzLg]="12"
                [nzXl]="8"
                [nzXXl]="8"
              >
                <nz-card
                  class="border-radius-8 button"
                  (click)="openScholarshipRequestModal()"
                >
                  <span>
                    {{
                      "ACCOMMODATION.CHANGE_REQUESTS.SCHOLARSHIP_REQUEST"
                        | translate
                    }}
                  </span>
                </nz-card>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="12"
                [nzLg]="12"
                [nzXl]="8"
                [nzXXl]="8"
              >
                <nz-card
                  class="border-radius-8 button"
                  (click)="openCommunicationRequestModal('ENTRY')"
                >
                  <span>
                    {{
                      "ACCOMMODATION.CHANGE_REQUESTS.ENTRY_COMMUNICATION_REQUEST"
                        | translate
                    }}
                  </span>
                </nz-card>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="12"
                [nzLg]="12"
                [nzXl]="8"
                [nzXXl]="8"
              >
                <nz-card
                  class="border-radius-8 button"
                  (click)="openCommunicationRequestModal('EXIT')"
                >
                  <span>
                    {{
                      "ACCOMMODATION.CHANGE_REQUESTS.EXIT_COMMUNICATION_REQUEST"
                        | translate
                    }}
                  </span>
                </nz-card>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="12"
                [nzLg]="12"
                [nzXl]="8"
                [nzXXl]="8"
              >
                <nz-card
                  class="border-radius-8 button"
                  (click)="openApplicationRoomChangesModal('ROOM')"
                >
                  <span>
                    {{
                      "ACCOMMODATION.CHANGE_REQUESTS.ROOM_REQUEST" | translate
                    }}
                  </span>
                </nz-card>
              </div>
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="24"
                [nzMd]="12"
                [nzLg]="12"
                [nzXl]="8"
                [nzXXl]="8"
                *ngIf="show_iban_change_option"
              >
                <nz-card
                  class="border-radius-8 button"
                  (click)="openApplicationIbanChangesModal()"
                >
                  <span>
                    {{
                      "ACCOMMODATION.CHANGE_REQUESTS.IBAN_CHANGE_REQUEST"
                        | translate
                    }}
                  </span>
                </nz-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nz-spin>
  </div>
</div>
