<div perfectScrollbar class="ps scroll-container " style="height: 100%">
    <div *ngIf="('private_accommodation:owners:read' | hasPermission)" style="border-top: 15px solid #F2F2F2;">
        <nz-spin [nzSpinning]="loadingStatsOwner">
            <div class="container">
                <p class="title">Proprietários</p>
                <div nz-row nzType="flex" nzGutter="16">
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="cursor"
                        (click)="detailOwner('Pending')">
                        <div nz-row class="box box--waiting" nzType="flex" nzAlign="middle" nzJustify="space-between">
                            <div nz-col nzSpan="12" class="box__text">Pendentes</div>
                            <div nz-col nzSpan="12" class="box__value">{{ownerPending}}</div>
                        </div>
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="cursor"
                        (click)="detailOwner('Approved')">
                        <div nz-row class="box box--accepted" nzType="flex" nzAlign="middle" nzJustify="space-between">
                            <div nz-col nzSpan="12" class="box__text">Aprovados</div>
                            <div nz-col nzSpan="12" class="box__value">{{ownerApproved}}</div>
                        </div>
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="cursor"
                        (click)="detailOwner('Rejected')">
                        <div nz-row class="box box--cancelled" nzType="flex" nzAlign="middle" nzJustify="space-between">
                            <div nz-col nzSpan="12" class="box__text">Rejeitados</div>
                            <div nz-col nzSpan="12" class="box__value">{{ownerRejected}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </nz-spin>
    </div>

    <div *ngIf="('private_accommodation:listings:read' | hasPermission)" style="border-top: 15px solid #F2F2F2;">
        <nz-spin [nzSpinning]="loadingStatsProperty">
            <div class="container">
                <p class="title">Habitações</p>
                <div nz-row nzType="flex" nzGutter="16">
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="cursor"
                        (click)="detailProperty('Pending')">
                        <div nz-row class="box box--waiting" nzType="flex" nzAlign="middle" nzJustify="space-between">
                            <div nz-col nzSpan="12" class="box__text">Pendentes</div>
                            <div nz-col nzSpan="12" class="box__value">{{propertyPending}}</div>
                        </div>
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="cursor"
                        (click)="detailProperty('Approved')">
                        <div nz-row class="box box--accepted" nzType="flex" nzAlign="middle" nzJustify="space-between">
                            <div nz-col nzSpan="12" class="box__text">Aprovadas</div>
                            <div nz-col nzSpan="12" class="box__value">{{propertyApproved}}</div>
                        </div>
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="cursor"
                        (click)="detailProperty('Rejected')">
                        <div nz-row class="box box--cancelled" nzType="flex" nzAlign="middle" nzJustify="space-between">
                            <div nz-col nzSpan="12" class="box__text">Rejeitadas</div>
                            <div nz-col nzSpan="12" class="box__value">{{propertyRejected}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </nz-spin>
    </div>
</div>