.title {
    padding-top: 16px;
    padding-bottom: 24px;
  }
  
  .box {
    padding: 24px;
    margin-bottom: 16px;
    border-radius: 6px;
    height: 90px;
  
    &__text {
      font-size: 14px;
    }
  
    &__value {
      text-align: right;
      color: #4d9de0;
      font-size: 24px;
    }

    &--waiting {
      background-color: fadeout(#d4b483, 90%);
  
      .box__value {
        color: #d4b483;
      }
    }
  
    &--accepted {
      background-color: fadeout(#076743, 90%);
  
      .box__value {
        color: #076743;
      }
    }
  
    &--cancelled {
        background-color: fadeout(#d0021b, 90%);
    
      .box__value {
        color: #d0021b;
       }
    }
  
}

  
.container {
    background: white;
    padding: 24px 46px 24px 46px;
    margin-bottom: 24px;
  
    &__title {
      font-size: 14px;
      line-height: 22px;
      margin: 0px;
    }
  
    &__tag {
      background-color: var(--primary-1);
      padding: 8px;
      display: flex;
      align-items: center;
  
      &__text {
        margin-left: 18px;
        font-size: 14px;
        line-height: 22px;
      }
      &__value {
        font-size: 24px;
        line-height: 32px;
        color: var(--primary-color);
      }
    }
}
.cursor{
  cursor: pointer;
}