<form nz-form [formGroup]="form" *ngIf="user !== null">
  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }" *ngIf="form.controls['name']">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="name" class="primary-input-label">
          {{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.NAME' | translate }}
        </nz-form-label>

        <nz-form-control>
          <input nz-input class="primary-input" formControlName="name" id="name" />
          <nz-form-explain class="error" *ngIf="form.get('name')?.dirty && form.get('name').errors">
            {{ getInputError('name') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }" *ngIf="form.controls['address']">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="address" class="primary-input-label">
          {{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.ADDRESS' | translate }}
        </nz-form-label>

        <nz-form-control>
          <input nz-input class="primary-input" formControlName="address" id="address" />
        </nz-form-control>
        <nz-form-explain class="error" *ngIf="form.get('address')?.dirty && form.get('address').errors">
          {{ getInputError('address') }}
        </nz-form-explain>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }" *ngIf="form.controls['postal_code']">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="postal_code" class="primary-input-label">
          {{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.POSTAL_CODE' | translate }}
        </nz-form-label>
        <nz-form-control>
          <input nz-input class="primary-input" mask="0000-000" formControlName="postal_code" id="postal_code" />
          <nz-form-explain class="error" *ngIf="form.get('postal_code')?.dirty && form.get('postal_code').errors">
            {{ getInputError('postal_code') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }" *ngIf="form.controls['city']">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="city" class="primary-input-label">
          {{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.LOCAL' | translate }}
        </nz-form-label>
        <nz-form-control>
          <input nz-input class="primary-input" formControlName="city" id="city" />
          <nz-form-explain class="error" *ngIf="form.get('city')?.dirty && form.get('city').errors">
            {{ getInputError('address') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }" *ngIf="form.controls['birth_date']">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="birth_date" class="primary-input-label">
          {{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.BIRTH_DATE' | translate }}
        </nz-form-label>

        <nz-form-control>
          <nz-date-picker style="width: 100%" [nzDisabled]="form.get('birth_date').disabled" class="primary-datePicker"
            [nzDisabledDate]="disableEndDate" formControlName="birth_date" id="birth_date" [nzAllowClear]="false"></nz-date-picker>
          <nz-form-explain class="error" *ngIf="form.get('birth_date')?.dirty && form.get('birth_date').errors">
            {{ getInputError('birth_date') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }" *ngIf="form.controls['nationality']">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="nationality" class="primary-input-label">
          {{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.NATIONALITY' | translate }}
        </nz-form-label>

        <nz-form-control>
          <nz-select class="primary-select" formControlName="nationality" id="nationality" nzShowSearch>
            <nz-option *ngFor="let nationality of nationalityOptions" [nzLabel]="translateService.currentLang === 'pt' ? nationality.value : nationality.translate"
            [nzValue]="nationality.value"></nz-option>
          </nz-select>
          <nz-form-explain class="error" *ngIf="form.get('nationality')?.dirty && form.get('nationality').errors">
            {{ getInputError('nationality') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }" *ngIf="form.controls['tin']">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="tin" class="primary-input-label">
          {{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.VAT' | translate }}
        </nz-form-label>

        <nz-form-control>
          <input nz-input class="primary-input" formControlName="tin" id="tin" />
          <nz-form-explain class="error" *ngIf="form.get('tin')?.dirty && form.get('tin').errors">
            {{ getInputError('tin') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }" *ngIf="form.controls['identification_number']">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="identification_number" class="primary-input-label">
          {{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.ID_NUMBER' | translate }}
        </nz-form-label>
        <nz-form-control>
          <input nz-input class="primary-input" formControlName="identification_number" id="identification_number" />
          <nz-form-explain class="error"
            *ngIf="form.get('identification_number')?.dirty && form.get('identification_number').errors">
            {{ getInputError('identification_number') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }" *ngIf="form.controls['student_number']">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="student_number" class="primary-input-label">
          {{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.INTERNAL_NUMBER' | translate }}
        </nz-form-label>

        <nz-form-control>
          <input nz-input class="primary-input" formControlName="student_number" id="student_number" />
          <nz-form-explain class="error" *ngIf="form.get('student_number')?.dirty && form.get('student_number').errors">
            {{ getInputError('student_number') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }" *ngIf="form.controls['academic_year']">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="academic_year" class="primary-input-label">
          {{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.ACADEMIC_YEAR' | translate }}
        </nz-form-label>

        <nz-form-control>
          <input nz-input class="primary-input" mask="0000-0000" [dropSpecialCharacters]="false" [showMaskTyped]="true"
            formControlName="academic_year" id="academic_year" />
          <nz-form-explain class="error" *ngIf="form.get('academic_year')?.dirty && form.get('academic_year').errors">
            {{ getInputError('academic_year') }}
          </nz-form-explain>
          <nz-form-explain class="error" *ngIf="form.get('academic_year')?.dirty && form.get('academic_year').errors">
            {{ getInputError('academic_year') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }" *ngIf="form.controls['course_year']">
      <nz-form-item>
        <nz-form-label nzFor="course_year" class="primary-input-label">
          {{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.COURSE_YEAR' | translate }}
        </nz-form-label>

        <nz-form-control>
          <input nz-input class="primary-input" mask="0*" formControlName="course_year" id="course_year" />
          <nz-form-explain class="error" *ngIf="form.get('course_year')?.dirty && form.get('course_year').errors">
            {{ getInputError('course_year') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34" *ngIf="'sasocial:is_student' | hasPermission">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }" *ngIf="form.controls['school_id']">
      <nz-form-item>
        <nz-form-label nzFor="school_id" class="primary-input-label">
          {{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.SCHOOL' | translate }}
        </nz-form-label>

        <nz-form-control>
          <nz-select
            class="primary-select"
            (ngModelChange)="resetDegree()"
            formControlName="school_id"
            id="school_id"
            [nzLoading]="loadingSchools"
            nzShowSearch
          >
            <nz-option *ngFor="let school of organicUnits" [nzLabel]="school.name" [nzValue]="school.id"></nz-option>
          </nz-select>
          <nz-form-explain class="error" *ngIf="form.get('school_id')?.dirty && form.get('school_id').errors">
            {{ getInputError('school_id') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34"  *ngIf="'sasocial:is_student' | hasPermission">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }" *ngIf="form.controls['course_degree_id']">
      <nz-form-item>
        <nz-form-label nzFor="course_degree_id" class="primary-input-label">
          {{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.DEGREE' | translate }}
        </nz-form-label>
        <nz-form-control>
          <nz-select
            class="primary-select"
            (ngModelChange)="resetCourse()"
            [nzLoading]="loadingDegrees"
            formControlName="course_degree_id"
            id="course_degree_id"
            nzShowSearch
          >
            <nz-option *ngFor="let degree of degrees" [nzLabel]="degree.name" [nzValue]="degree.id"></nz-option>
          </nz-select>
          <nz-form-explain class="error"
            *ngIf="form.get('course_degree_id')?.dirty && form.get('course_degree_id').errors">
            {{ getInputError('course_degree_id') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34"  *ngIf="'sasocial:is_student' | hasPermission">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }" *ngIf="form.controls['course_id']">
      <nz-form-item>
        <nz-form-label nzFor="course_id" class="primary-input-label">
          {{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.COURSE' | translate }}
        </nz-form-label>

        <nz-form-control>
          <nz-select class="primary-select" [nzLoading]="loadingCourses" formControlName="course_id" id="course_id"
            nzShowSearch>
            <nz-option *ngFor="let course of courses" [nzLabel]="course.name" [nzValue]="course.id"></nz-option>
          </nz-select>
          <nz-form-explain class="error" *ngIf="form.get('course_id')?.dirty && form.get('course_id').errors">
            {{ getInputError('course_id') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
