<button nz-button (click)="loadServices()" style="margin: 16px">
  <i nz-icon nzType="reload" nzTheme="outline"></i>
</button>
<nz-spin [nzSpinning]="loading">
  <div class="content">
    <nz-tabset nzTabPosition="left">
      <nz-tab nzTitle="Geral">
        <nz-descriptions nzTitle="Informação geral" nzBordered>
          <nz-descriptions-item nzTitle="Total espaço utilizado em Backups">
            {{
              general?.total_folder_size
                ? (general?.total_folder_size / (1024 * 1024)
                    | number: '1.2-2') + ' Mb'
                : 'N/D'
            }}</nz-descriptions-item
          >
          <nz-descriptions-item nzTitle="Total de serviços">
            {{ general?.total_services || 'N/D' }}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Fazer backup geral">
            <button nz-button (click)="backupAll()">Backup geral</button>
          </nz-descriptions-item>
        </nz-descriptions>
      </nz-tab>
      <nz-tab [nzTitle]="titleTemplate" *ngFor="let service of services">
        <ng-template #titleTemplate>
          {{ service.name
          }}<nz-badge
            style="margin-bottom: 12px; margin-left: 4px"
            [nzColor]="getStatusColor(service.status || 'IDLE')"
          ></nz-badge>
        </ng-template>

        <div nz-row class="tabcontent" nzType="flex" nzJustify="space-between">
          <div nz-col nzSpan="10">
            <nz-descriptions nzTitle="Informação Serviço" nzBordered>
              <nz-descriptions-item nzTitle="Nome" nzSpan="3">
                <nz-tag [nzColor]="getStatusColor(service.status || 'IDLE')">{{
                  getStatusTranslation(service.status || 'IDLE')
                }}</nz-tag>
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Nome" nzSpan="3">{{
                service.name
              }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Ultimo backup" nzSpan="3">{{
                service.last_backup | date: 'medium'
              }}</nz-descriptions-item>
            </nz-descriptions>

            <ng-template #intervalTemplate>
              Intervalos
              <div style="float: right">
                <button *ngIf="!editable" (click)="activeEdit(service)">
                  <i nz-icon nzType="edit" nzTheme="outline"></i>
                </button>
                <button
                  *ngIf="editable"
                  (click)="saveEdit(service)"
                  style="margin-right: 8px"
                >
                  <i nz-icon nzType="save" nzTheme="outline"></i>
                </button>
                <button *ngIf="editable" (click)="cancelEdit()">
                  <i nz-icon nzType="redo" nzTheme="outline"></i>
                </button>
              </div>
            </ng-template>
            <nz-descriptions [nzTitle]="intervalTemplate" nzBordered>
              <nz-descriptions-item nzTitle="Hora" nzSpan="3">
                <div *ngIf="editable">
                  <nz-switch [(ngModel)]="editing.hourly"></nz-switch>
                </div>
                <div *ngIf="!editable">
                  <i
                    *ngIf="service.hourly"
                    nz-icon
                    nzType="check-circle"
                    style="color: green"
                    nzTheme="outline"
                  ></i>
                  <i
                    *ngIf="!service.hourly"
                    nz-icon
                    nzType="close-circle"
                    style="color: red"
                    nzTheme="outline"
                  ></i>
                </div>
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Dia" nzSpan="3">
                <div *ngIf="editable">
                  <nz-switch [(ngModel)]="editing.daily"></nz-switch>
                </div>
                <div *ngIf="!editable">
                  <i
                    *ngIf="service.daily"
                    nz-icon
                    nzType="check-circle"
                    style="color: green"
                    nzTheme="outline"
                  ></i>
                  <i
                    *ngIf="!service.daily"
                    nz-icon
                    nzType="close-circle"
                    style="color: red"
                    nzTheme="outline"
                  ></i>
                </div>
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Semana" nzSpan="3">
                <div *ngIf="editable">
                  <nz-switch [(ngModel)]="editing.weekly"></nz-switch>
                </div>
                <div *ngIf="!editable">
                  <i
                    *ngIf="service.weekly"
                    nz-icon
                    nzType="check-circle"
                    style="color: green"
                    nzTheme="outline"
                  ></i>
                  <i
                    *ngIf="!service.weekly"
                    nz-icon
                    nzType="close-circle"
                    style="color: red"
                    nzTheme="outline"
                  ></i>
                </div>
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Mês" nzSpan="3">
                <div *ngIf="editable">
                  <nz-switch [(ngModel)]="editing.monthly"></nz-switch>
                </div>
                <div *ngIf="!editable">
                  <i
                    *ngIf="service.monthly"
                    nz-icon
                    nzType="check-circle"
                    style="color: green"
                    nzTheme="outline"
                  ></i>
                  <i
                    *ngIf="!service.monthly"
                    nz-icon
                    nzType="close-circle"
                    style="color: red"
                    nzTheme="outline"
                  ></i>
                </div>
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Ano" nzSpan="3">
                <div *ngIf="editable">
                  <nz-switch [(ngModel)]="editing.yearly"></nz-switch>
                </div>
                <div *ngIf="!editable">
                  <i
                    *ngIf="service.yearly"
                    nz-icon
                    nzType="check-circle"
                    style="color: green"
                    nzTheme="outline"
                  ></i>
                  <i
                    *ngIf="!service.yearly"
                    nz-icon
                    nzType="close-circle"
                    style="color: red"
                    nzTheme="outline"
                  ></i>
                </div>
              </nz-descriptions-item>
            </nz-descriptions>

            <nz-descriptions nzTitle="Infos" nzBordered>
              <nz-descriptions-item
                nzTitle="Ultimo backup de hora"
                nzSpan="3"
                >{{
                  (service.last_hourly_backup | date: 'medium') || 'Nenhum'
                }}</nz-descriptions-item
              >
              <nz-descriptions-item
                nzTitle="Ultima limpeza backups hora"
                nzSpan="3"
                >{{
                  (service.last_hourly_cleanup | date: 'medium') || 'Nenhum'
                }}</nz-descriptions-item
              >
              <nz-descriptions-item nzTitle="Ultimo backup de dia" nzSpan="3">{{
                (service.last_daily_backup | date: 'medium') || 'Nenhum'
              }}</nz-descriptions-item>
              <nz-descriptions-item
                nzTitle="Ultima limpeza backups dia"
                nzSpan="3"
                >{{
                  (service.last_daily_cleanup | date: 'medium') || 'Nenhum'
                }}</nz-descriptions-item
              >
              <nz-descriptions-item
                nzTitle="Ultimo backup de semana"
                nzSpan="3"
                >{{
                  (service.last_weekly_backup | date: 'medium') || 'Nenhum'
                }}</nz-descriptions-item
              >
              <nz-descriptions-item
                nzTitle="Ultima limpeza backups semana"
                nzSpan="3"
                >{{
                  (service.last_weekly_cleanup | date: 'medium') || 'Nenhum'
                }}</nz-descriptions-item
              >
              <nz-descriptions-item nzTitle="Ultimo backup de mês" nzSpan="3">{{
                (service.last_monthly_backup | date: 'medium') || 'Nenhum'
              }}</nz-descriptions-item>
              <nz-descriptions-item
                nzTitle="Ultima limpeza backups mês"
                nzSpan="3"
                >{{
                  (service.last_monthly_cleanup | date: 'medium') || 'Nenhum'
                }}</nz-descriptions-item
              >
              <nz-descriptions-item nzTitle="Ultimo backup de ano" nzSpan="3">{{
                (service.last_yearly_backup | date: 'medium') || 'Nenhum'
              }}</nz-descriptions-item>
              <nz-descriptions-item
                nzTitle="Ultima limpeza backups ano"
                nzSpan="3"
                >{{
                  (service.last_yearly_cleanup | date: 'medium') || 'Nenhum'
                }}</nz-descriptions-item
              >
            </nz-descriptions>
          </div>
          <div nz-col nzSpan="10">
            <nz-radio-group [(ngModel)]="backupListMode" class="radio_group">
              <label nz-radio-button nzValue="hourly">Hora</label>
              <label nz-radio-button nzValue="daily">Dia</label>
              <label nz-radio-button nzValue="weekly">Semana</label>
              <label nz-radio-button nzValue="monthly">Mês</label>
              <label nz-radio-button nzValue="yearly">Ano</label>
              <label nz-radio-button nzValue="others">Outros</label>
            </nz-radio-group>

            <nz-timeline>
              <nz-timeline-item
                *ngFor="let backup of backupListByMode(service)"
                [nzColor]="backup.deleted ? 'red' : 'green'"
              >
                <p>
                  <nz-tag>{{ getTranslationPeriod(backup.period) }}</nz-tag
                  >{{ backup.date | date: 'medium' }}
                </p>
                <p>{{ backup.path }}</p>
                <p>
                  <button
                    nz-button
                    nzType="danger"
                    nzSize="small"
                    (click)="restoreProcess(service, backup)"
                  >
                    Restaurar
                  </button>
                </p>
              </nz-timeline-item>
            </nz-timeline>
          </div>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>
</nz-spin>

<ng-template #restoreModalTitle>
  Restaurar {{ serviceToRestore.name }}
</ng-template>
<nz-modal
  [nzStyle]="{ top: '20px' }"
  [nzOkLoading]="loadingModal"
  [(nzVisible)]="isVisibleRestoreModal"
  [nzTitle]="restoreModalTitle"
  (nzOnCancel)="handleCancelRestoreModal()"
  (nzOnOk)="handleOkRestoreModal()"
>
  <p class="modal__warning">
    <i nz-icon nzType="warning" nzTheme="outline"></i>
  </p>
  <p>
    Insira a password da sua conta e após a confirmação o processo de restauro
    dos dados será executado em plano de fundo.
  </p>
  <br />
  <label class="modal__label">Password: </label>
  <input nz-input type="password" [(ngModel)]="restoreModalPassword" />
</nz-modal>
