nz-descriptions {
  margin-top: 16px;
}

.content {
  padding: 18px;
}

.tabcontent {
  padding: 18px;
}

.modal {
  &__label {
    font-weight: bold;
  }

  &__warning {
    font-size: 70px;
    text-align: center;
    color: orange;
    margin-bottom: 16px;
  }
}

.radio_group {
  padding: 32px;
  margin: auto;
}
