.search {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #333333;

  &__info {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #666666;
  }
}

.search__input {
  display: flex;
  flex-direction: row;

  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  border: solid 1px #e8e8e8;
  background-color: #ffffff;

  input {
    padding: 0px !important;
    margin: 12px;
    border: none;
    flex: 1;

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #333333;
  }
}

.search_divider {
  margin-top: 18px;
}



.user_list {
  margin-top: 10px;
  overflow: scroll;
  overflow-x: hidden;
  height: calc(100vh - 234px);

  &__item {
    cursor: pointer;

    &__name {
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #000000;

      &--bold {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #000000;
      }
    }

    &__info {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: right;
      color: #666666;
    }
  }
}

