<div nz-row nzType="flex">
  <div nz-col nzSpan="6"></div>
  <div nz-col nzSpan="12">
    <p class="search">Procurar</p>
    <p class="search__info">Insira o nome, número ou email.</p>

    <div class="search__input">
        <input nz-input [(ngModel)]="userSearch" (ngModelChange)="changeValue($event)"  matKeyboard id="userSearch" name="userSearch" placeholder="Procure aqui">
    </div>
  
    <nz-divider class="search_divider"></nz-divider>

    <div class="reservation_list">
      <nz-list [nzDataSource]="users" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzLoading]="loading">
          <ng-template #item let-item>
            <nz-list-item >
              <nz-list-item-meta
                [nzTitle]="userName"
                [nzDescription]="userInfo" class="user_list__item" (click)="selectUser(item)">
                <ng-template #userName >
                  <div class="user_list__name" [innerHtml]="item.name | boldSubStr: userSearch"></div>
                </ng-template>
                <ng-template #userInfo>
                    <div nz-row nzType="flex" nzJustify="space-between">
                      <div  class="user_list__item__info" [innerHtml]="item.email  | boldSubStr: userSearch"></div>
                      <div  class="user_list__item__info" [innerHtml]="'nº ' + (item.student_number ? (item.student_number | boldSubStr: userSearch) : '#')"></div>
                    </div>
                </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </div>
  <div nz-col nzSpan="6"></div>
</div>