  
@media screen and (max-width: 600px) {
    .padding-bottom {
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 800px) {
    .padding-bottom {
        padding-bottom: 10px;
    }
}