<nz-spin [nzSpinning]="isLoading">
  <nz-card>
    <div nz-row><b>Altura:</b> {{ meal === Meal.LUNCH ? 'Almoço' : 'Jantar' }}</div>
    <div nz-row><b>Data:</b> {{ day | date:'fullDate' | titlecase }}</div>
    <div nz-row><b>Serviço:</b> {{ service?.name }}</div>
  </nz-card>
  <nz-spin [nzSpinning]="isLoadingSelects">
    <nz-list [nzDataSource]="updateMenu.dishs" nzBordered [nzRenderItem]="dish" [nzHeader]="headerList">

      <ng-template #headerList>
        <nz-list-item nz-row nzType="flex" nzJustify="space-between" style="padding: 0px;">
          <div nz-col [nzXs]="4" [nzMd]="4" [nzLg]="4">
            <b>Tipo</b>
          </div>
          <div nz-col [nzXs]="4" [nzMd]="4" [nzLg]="4">
            <b>Prato</b>
          </div>
          <div nz-col [nzXs]="4" [nzMd]="4" [nzLg]="4">
            <b>Disponível</b>
          </div>
          <div nz-col [nzXs]="4" [nzMd]="4" [nzLg]="4">
            <b>Número doses</b>
          </div>
          <div nz-col [nzXs]="6" [nzMd]="6" [nzLg]="4">
            <b>Opções</b>
          </div>
        </nz-list-item>
      </ng-template>
      <ng-template #dish let-item>
        <nz-list-item nz-row nzType="flex" nzJustify="space-between">
          <div nz-col [nzXs]="4" [nzMd]="4" [nzLg]="4">
            {{item?.type?.translations ? ((item?.type?.translations | where: ['language_id', 3])[0]?.name) : ''}}
          </div>
          <div nz-col [nzXs]="4" [nzMd]="4" [nzLg]="4">
            {{item?.dish?.translations ? ((item?.dish?.translations | where: ['language_id', 3])[0]?.name) : ''}}
          </div>
          <div nz-col [nzXs]="4" [nzMd]="4" [nzLg]="4">
            <label nz-checkbox [(ngModel)]="item.available">Disponível</label>
          </div>
          <div nz-col [nzXs]="4" [nzMd]="4" [nzLg]="4" nz-tooltip
            nzTitle="Se o valor for 0 a quantidade vai ser ilimitada">
            <input type="number" placeholder="Doses" nz-input min="0" [(ngModel)]="item.doses_available" />
          </div>
          <div nz-col [nzXs]="4" [nzMd]="4" [nzLg]="4">
            <button nz-button nzType="danger" (click)="removeDish(item)" [disabled]="item?.reservationCount > 0"><i nz-icon type="delete" ></i></button>
          </div>
        </nz-list-item>
      </ng-template>

      <nz-list-item nz-row nzType="flex" nzJustify="space-between">
        <div nz-col [nzXs]="24" [nzMd]="8" [nzLg]="4" class="padding-bottom">
          <nz-select style="width: 100%;" [(ngModel)]="selectedDishType" nzPlaceHolder="Escolha o tipo de prato"
            (ngModelChange)="onTypeChanged($event)" [nzAllowClear]="false">
            <nz-option *ngFor="let dt of dishTypeList" [nzValue]="dt"
              [nzLabel]="(dt.translations | where: ['language_id', defaultLang])[0]?.name"></nz-option>
          </nz-select>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="16" [nzLg]="9" class="padding-bottom">
          <nz-spin [nzSpinning]="isLoadingSelects">
            <nz-select style="width: 100%;" [(ngModel)]="selectedDish" nzPlaceHolder="Escolha o prato" nzAllowClear
            nzShowSearch [nzServerSearch]="true" (nzOnSearch)="onSearch($event)">
            <ng-container *ngFor="let o of dishList">
              <nz-option *ngIf="!isLoading" [nzValue]="o"
                [nzLabel]="(o.translations | where: ['language_id', defaultLang])[0]?.name"></nz-option>
            </ng-container>
            <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
              <i nz-icon type="loading" class="loading-icon"></i> Carregar pratos...
            </nz-option>
          </nz-select>
          </nz-spin>
          
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="3" class="padding-bottom">
          <label nz-checkbox [(ngModel)]="selectedAvailable">Disponível</label>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="2" class="padding-bottom">
          <input type="number" placeholder="Doses" nz-input min="0" nz-tooltip
          nzTitle="Se o valor for 0 a quantidade vai ser ilimitada" [(ngModel)]="selectedDoses_Number" />
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="3" class="padding-bottom">
          <button nz-button [nzType]="'primary'" (click)="addDish()" [disabled]="selectedDoses_Number<0">Adicionar</button>
        </div>
      </nz-list-item>
    </nz-list>
  </nz-spin>
</nz-spin>