.modal {
  &--validation {
    font-size: 100px;
    text-align: center;
  }
  &--valid {
    font-size: 50px;
    text-align: center;
  }
  &--not_valid {
    font-size: 50px;
    text-align: center;
  }
}
