<div id="reader" width="600px"></div>

<nz-modal [nzVisible]="resultModalVisible" (nzOnCancel)="onModalClose()" (nzOnOk)="onModalClose()">
  <div *ngIf="validating" class="modal--validation">
    <i nz-icon [nzType]="'sync'" [nzSpin]="true"></i>
  </div>
  <div *ngIf="!validating && validatingResult">
    <div class="modal--valid" *ngIf="validatingResult.valid">
      <i
        nz-icon
        [nzType]="'check-circle'"
        [nzTheme]="'twotone'"
        [nzTwotoneColor]="'#52c41a'"
      ></i>
    </div>
    <div class="modal--not_valid" *ngIf="!validatingResult.valid">
      <i
        nz-icon
        [nzType]="'close-circle'"
        [nzTheme]="'twotone'"
        [nzTwotoneColor]="'#c4221a'"
      ></i>
    </div>
    <nz-alert
      nzType="error"
      *ngIf="!validatingResult.valid"
      [nzMessage]="'Bilhete não válido!'"
      [nzDescription]="getErrorTranslation(validatingResult.exception_code)"
    >
    </nz-alert>
    <nz-alert
      nzType="success"
      *ngIf="validatingResult.valid"
      [nzMessage]="'Bilhete válido!'"
      [nzDescription]="'Bilhete válido e marcado como utilizado.'"
    >
    </nz-alert>

    <nz-descriptions nzTitle="Informação bilhete" nzBordered>
      <nz-descriptions-item nzTitle="ID">{{ validatingResult.id}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Nome">{{ validatingResult.name}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Comprado em:">{{ validatingResult.created_at | date: 'medium'}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Rota">{{ validatingResult.route}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Partida">{{ validatingResult.departure_local}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Chegada">{{ validatingResult.arrival_local}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Data de validação">{{ validatingResult.validate_date | date: 'medium'}}</nz-descriptions-item>
    </nz-descriptions>

  </div>
  <div *ngIf="!validating && !validatingResult">
    <div class="modal--not_valid">
      <i
        nz-icon
        [nzType]="'close-circle'"
        [nzTheme]="'twotone'"
        [nzTwotoneColor]="'#c4221a'"
      ></i>
    </div>
    Ocorreu um erro
  </div>
</nz-modal>
