<div class="content-form">
    <form [formGroup]="roomForm" nzLayout="vertical">
        <div nz-row [nzGutter]="24">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="name">Nome</nz-form-label>
                    <nz-form-control>
                    <input nz-input formControlName="name" id="name" name="name" placeholder="Nome">
                    </nz-form-control>
                    <nz-form-explain class="error" *ngIf="submit && f.name.errors">
                        Campo obrigatório
                      </nz-form-explain>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="residence_id">Residência</nz-form-label>
                    <nz-form-control
                    >
                        <nz-select formControlName="residence_id" id="residence_id" nzPlaceHolder="Residência" (ngModelChange)="getResidence($event, '')"
                            nzAllowClear [nzLoading]="load_residences">
                            <nz-option *ngFor="let residence of residences" [nzLabel]="residence.name"
                                [nzValue]="residence.id" [nzDisabled]="!residence.active">
                            </nz-option>
                        </nz-select>
                        <nz-form-explain class="error" *ngIf="submit && f.residence_id.errors">
                            Campo obrigatório
                          </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="room_id">Quarto (Infraestrutura)
                    </nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="room_id" id="room_id" nzPlaceHolder="Quarto (Infraestrutura)"
                            nzAllowClear [nzLoading]="roomsLoad">
                            <nz-option *ngFor="let room of roomsInf" [nzLabel]="room.name" [nzValue]="room.id">
                            </nz-option>
                        </nz-select>
                        <nz-form-explain class="error" *ngIf="submit && f.room_id.errors">
                            Campo obrigatório
                          </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="typology_id">Tipologia</nz-form-label>
                    <nz-form-control
                    >
                        <nz-select formControlName="typology_id" id="typology_id" nzPlaceHolder="Tipologia"
                            nzAllowClear  [nzLoading]="load_typologies">
                            <nz-option *ngFor="let typology of typologies"
                                [nzLabel]="(typology.translations | translation: language_id).name"
                                [nzValue]="typology.id" [nzDisabled]="!typology.active">
                            </nz-option>
                        </nz-select>
                        <nz-form-explain class="error" *ngIf="submit && f.typology_id.errors">
                            Campo obrigatório
                          </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="allow_booking">Permite reserva
                    </nz-form-label>
                    <nz-form-control>
                        <nz-switch formControlName="allow_booking" id="allow_booking"></nz-switch>
                        <nz-form-explain class="error" *ngIf="submit && f.allow_booking.errors">
                            Campo obrigatório
                          </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="active">Ativo</nz-form-label>
                    <nz-form-control>
                        <nz-switch formControlName="active" id="active"></nz-switch>
                        <nz-form-explain class="error" *ngIf="submit && f.active.errors">
                            Campo obrigatório
                          </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            
        </div>
        
    </form>
</div>

<div class="space">
    <button *ngIf="idToUpdate" nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
    <button nz-button [nzLoading]="loading" [disabled]="loading"
      (click)="submitForm()"
      [nzType]="'primary'">{{idToUpdate ? 'Editar' : 'Criar'}}</button>
  </div>