<div nz-row class="header-actions">
  <div nz-col [nzSm]="2" [nzXs]="0"></div>
</div>
<nz-spin [nzSpinning]="loading">

  <span *ngIf="applications.length == 0">
    <div nz-row nzType="flex" class="list-application__header">
      <div
        nz-col
        [nzSm]="24"
        [nzXs]="24"
        style="display: flex; justify-content: flex-end; padding-right: 20px"
      >

        <app-button
        [translate]="'EMERGENCY_FUND.LIST_APPLICATIONS.CARD.BUTTON.NEW_APPLICATION'"
        [buttonStyle]="buttonReject"
        [type]="'secundary'"
        (click)="openApplication()"
        style="margin-right: 10px">
        </app-button>

      </div>
    </div>
    <nz-empty ></nz-empty>
  </span>


  <span *ngIf="applications.length > 0">
    <div nz-row nzType="flex" class="list-application__header">
      <div
        nz-col
        [nzSm]="24"
        [nzXs]="24"
        style="display: flex; justify-content: flex-end; padding-right: 20px"
      >
        <app-button
          [translate]="'EMERGENCY_FUND.LIST_APPLICATIONS.CARD.SUBMIT_EXPENSIVE'"
          [buttonStyle]="buttonReject"
          [type]="'secundary'"
          (click)="submitExpensiveModal()"
          style="margin-right: 10px"
          *ngIf="
            currentActivatedApplication !== undefined &&
            currentActivatedApplication.status &&
            currentActivatedApplication.status === applicationStatus.APPROVED">
        </app-button>

        <app-button
          [translate]="'EMERGENCY_FUND.LIST_APPLICATIONS.CARD.BUTTON.CHANGE_REQUEST'"
          *ngIf="
            currentActivatedApplicationChange == undefined &&
            currentActivatedApplication !== undefined &&
            currentActivatedApplication.status &&
            currentActivatedApplication.status === applicationStatus.APPROVED"
          [buttonStyle]="buttonReject"
          [type]="'secundary'"
          (click)="requestChangesModal()"
          style="margin-right: 10px">
        </app-button>

        <app-button
          *ngIf="
            currentActivatedApplication !== undefined &&
            currentActivatedApplication.status &&
            (currentActivatedApplication.status ===
              applicationStatus.REJECTED ||
              currentActivatedApplication.status === applicationStatus.APPROVED)"
          [translate]="'EMERGENCY_FUND.LIST_APPLICATIONS.CARD.BUTTON.COMPLAIN'"
          [buttonStyle]="buttonReject"
          [type]="'secundary'"
          (click)="complainModal()">
        </app-button>

        <app-button
        *ngIf=" currentActivatedApplication == undefined"
        [translate]="'EMERGENCY_FUND.LIST_APPLICATIONS.CARD.BUTTON.NEW_APPLICATION'"
        [buttonStyle]="buttonReject"
        [type]="'secundary'"
        (click)="openApplication()"
        style="margin-right: 10px">
        </app-button>

      </div>
      <div nz-col [nzSm]="2" [nzXs]="0"></div>
      <div nz-col [nzSm]="20" [nzXs]="24">
        <h2 class="title-top-page">
          {{ "EMERGENCY_FUND.LIST_APPLICATIONS.TITLE" | translate }}
        </h2>
      </div>
      <div nz-col [nzSm]="2" [nzXs]="0"></div>
    </div>
    <div nz-row class="list-application__body">
      <div nz-col [nzSm]="2" [nzXs]="0"></div>
      <div nz-col [nzSm]="20" [nzXs]="24">
        <div
          nz-row
          nzType="flex"
          class="list-application__list"
          [nzGutter]="24"
        >
          <div
            *ngFor="let app of applications; let i = index"
            style="width: 100%"
          >
            <div
              nz-col
              class="list-application__list__item"
              [nzXs]="24"
              [nzSm]="24"
              [nzMd]="24"
              [nzLg]="24"
              [nzXl]="24"
              [nzXXl]="24"
              *ngIf="app.status !== applicationStatus.CANCELLED"
            >
              <div class="list-application__list__item__body">
                <div>
                  <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 3 }">
                    <nz-tag
                      (click)="consultHistoric(app)"
                      [nzColor]="
                        (configStatus | filterStatusConfig: app.status).color
                      "
                    >
                      {{
                        "EMERGENCY_FUND.STATUS." +
                          app.status.toString().toUpperCase() | translate
                      }}</nz-tag
                    >

                    <div
                      class="list-application__list__item__status__date__title"
                    >
                      {{
                        "EMERGENCY_FUND.LIST_APPLICATIONS.CARD.STATUS.DATE.TITLE"
                          | translate
                      }}
                    </div>
                    <div
                      class="list-application__list__item__status__date__info"
                    >
                      {{ app.updated_at | date: "dd-MM-yyyy" }}
                    </div>
                  </div>
                  <div
                    class="list-application__list__item__title"
                    nz-col
                    [nzXs]="{ span: 24 }"
                    [nzLg]="{ span: 8 }"
                  >
                    {{
                      "EMERGENCY_FUND.LIST_APPLICATIONS.CARD.TITLE" | translate
                    }}
                  </div>

                  <div
                    class="list-application__list__item__title"
                    nz-col
                    [nzXs]="{ span: 0 }"
                    [nzLg]="{ span: 0 }"
                  ></div>
                  <div
                    nz-col
                    [nzXs]="{ span: 24 }"
                    [nzLg]="{ span: 12 }"
                    style="display: flex; justify-content: flex-end"
                    class="buttonsEvents"
                  >
                    <app-button
                      *ngIf="app.status === applicationStatus.INTERVIEW"
                      [translate]="
                        'VIEW_APPLICATION_STATUS.EVENTS.CONSULT_REPORTS'
                      "
                      [type]="'secundary'"
                      [buttonStyle]="buttonReject"
                      (click)="consultReportsInterview(app.interviews)"
                    >
                    </app-button>
                    <app-button
                      *ngIf="app.status === applicationStatus.REJECTED"
                      [translate]="
                        'EMERGENCY_FUND.LIST_APPLICATIONS.CARD.BUTTON.COMPLAIN'
                      "
                      [buttonStyle]="buttonReject"
                      [type]="'secundary'"
                      (click)="reviewApplication(app.id)"
                    >
                    </app-button>
                    <app-button
                      *ngIf="
                        app.status === applicationStatus.SUBMITTED ||
                        app.status === applicationStatus.ANALYSED ||
                        app.status === applicationStatus.INTERVIEW ||
                        app.status === applicationStatus.ORDERED ||
                        app.status === applicationStatus.REJECTED ||
                        app.status === applicationStatus.APPROVED
                      "
                      [translate]="
                        'EMERGENCY_FUND.LIST_APPLICATIONS.CARD.BUTTON.CONSULT_FORM'
                      "
                      [buttonStyle]="buttonReject"
                      [type]="'secundary'"
                      (click)="reviewApplication(app.id)"
                    >
                    </app-button>
                    <app-button
                      *ngIf="
                        app.status === applicationStatus.SUBMITTED ||
                        app.status === applicationStatus.ANALYSED ||
                        app.status === applicationStatus.INTERVIEW ||
                        app.status === applicationStatus.ORDERED ||
                        app.status === applicationStatus.REJECTED ||
                        app.status === applicationStatus.APPROVED
                      "
                      [translate]="'VIEW_APPLICATION_STATUS.EVENTS.CANCEL'"
                      [type]="'primary'"
                      [buttonStyle]="buttonReject"
                      (click)="modalCancel()"
                    >
                    </app-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <nz-collapse [nzBordered]="false" style="width: 100%">
            <nz-collapse-panel
              #pa
              *ngFor="let panel of panels"
              [nzHeader]="header"
              [nzActive]="panel.active"
              [ngStyle]="panel.customStyle"
              [nzShowArrow]="false"
            >
              <div>
                <div
                  *ngIf="applications.length != 0"
                  nz-row
                  class="list-applications--item"
                  style="margin-top: 10px"
                >
                  <div
                    nz-col
                    [nzXs]="24"
                    [nzSm]="24"
                    [nzMd]="12"
                    [nzLg]="12"
                    [nzXl]="8"
                    [nzXXl]="8"
                    *ngFor="let application of applicationsHistory"
                  ></div>
                </div>
                <div
                  nz-row
                  *ngIf="applications.length === 0"
                  class="list-applications--item"
                  style="margin-top: 10px"
                >
                  <div nz-col class="list-applications--no-data">
                    {{
                      "SOCIAL_SUPPORT.APPLICATIONS.NO_APPLICATIONS" | translate
                    }}
                  </div>
                </div>
              </div>
              <ng-template #header>
                <nz-divider [nzText]="text"></nz-divider>
              </ng-template>

              <ng-template #text>
                <div class="box">
                  {{ panel.name | translate
                  }}<i
                    nz-icon
                    type="icons:icons-arrow-2-right"
                    [nzRotate]="pa.nzActive ? 90 : -90"
                  ></i>
                </div>
              </ng-template>
              <div
                *ngFor="let app of applications; let i = index"
                style="width: 100%"
              >
                <div
                  nz-col
                  class="list-application__list__item"
                  [nzXs]="24"
                  [nzSm]="24"
                  [nzMd]="24"
                  [nzLg]="24"
                  [nzXl]="24"
                  [nzXXl]="24"
                  *ngIf="app.status === applicationStatus.CANCELLED"
                >
                  <div class="list-application__list__item__body">
                    <div>
                      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 3 }">
                        <nz-tag
                          (click)="consultHistoric(app)"
                          [nzColor]="
                            (configStatus | filterStatusConfig: app.status)
                              .color
                          "
                        >
                          {{
                            "EMERGENCY_FUND.STATUS." +
                              app.status.toString().toUpperCase() | translate
                          }}</nz-tag
                        >

                        <div
                          class="
                            list-application__list__item__status__date__title
                          "
                        >
                          {{
                            "EMERGENCY_FUND.LIST_APPLICATIONS.CARD.STATUS.DATE.TITLE"
                              | translate
                          }}
                        </div>
                        <div
                          class="
                            list-application__list__item__status__date__info
                          "
                        >
                          {{ app.updated_at | date: "dd-MM-yyyy" }}
                        </div>
                      </div>
                      <div
                        class="list-application__list__item__title"
                        nz-col
                        [nzXs]="{ span: 24 }"
                        [nzLg]="{ span: 16 }"
                      >
                        {{
                          "EMERGENCY_FUND.LIST_APPLICATIONS.CARD.TITLE"
                            | translate
                        }}
                      </div>
                      <div
                        nz-col
                        [nzXs]="{ span: 24 }"
                        [nzLg]="{ span: 5 }"
                      >
                          <app-button
                          [translate]="
                            'EMERGENCY_FUND.LIST_APPLICATIONS.CARD.BUTTON.CONSULT_FORM'
                          "
                          [buttonStyle]="buttonReject"
                          [type]="'secundary'"
                          (click)="reviewApplication(app.id)"
                        >
                        </app-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </nz-collapse-panel>
          </nz-collapse>
        </div>
      </div>
      <div nz-col [nzSm]="2" [nzXs]="0"></div>
    </div>
  </span>



</nz-spin>
