<div class="media">
  <ng-container *ngIf="medias && medias.length">
    <nz-carousel
      #carousel
      nzDots="false"
      nzAutoPlay="false"
      nzAutoPlaySpeed="6000"
      (nzBeforeChange)="beforeChange($event)"
      (nzAfterChange)="afterChange($event)"
    >
      <div nz-carousel-content *ngFor="let media of medias">
        <video
          *ngIf="(media?.translations)[0]?.file_9_16?.type === 'VIDEO'"
          [src]="media?.translations[0]?.file_9_16?.url"
          (error)="errorSrc($event)"
          muted
          data-error="false"
        ></video>
        <img
          *ngIf="(media?.translations)[0]?.file_9_16?.type === 'IMAGE'"
          [src]="media?.translations[0]?.file_9_16?.url"
          (error)="errorSrc($event)"
          data-error="false"
        />
        <div class="media--emptySlide">
          <div class="media--emptySlide__content">
            {{ title }}<span>sasocial</span>
          </div>
        </div>
      </div>
    </nz-carousel>

    <div #progressBarBack class="media__progress-bar-back"></div>
    <div #progressBarTimer class="media__progress-bar-timer"></div>
  </ng-container>

  <div *ngIf="!(medias && medias.length)">
    <div class="media--empty">
      <div class="media--empty__content">
        <div nz-row class="media--empty__content__row1">Bem-vind@ ao</div>
        <div nz-row class="media--empty__content__row2">{{ title }} sasocial</div>
      </div>
    </div>
  </div>
</div>
