<div nz-row>
  <div nz-col >
    <nz-card [nzLoading] = loading>
      <div nz-row  class="regulamentations__title">
        <div nz-col>
          {{'U_BIKE.REGULAMENTATIONS.TERMS_AND_CONDITIONS' | translate}}
        </div>
        <div nz-col *ngIf="regulamentations.value === null">
          {{'MISC.NO_CONTENT' | translate}}
        </div>
      </div>
      <div nz-row  class="regulamentations__text">
        <div nz-col>
          <p *ngFor="let text of regulamentations.value?.regulamentation">{{text}}</p>
        </div>
      </div>
    </nz-card>
  </div>
</div>
