@import "theme";

:host::ng-deep {

  .ant-card-body {
    padding: 0;
  }


  @media screen and (max-width: 576px) {
    .regulamentations{
      &__title, &__text {
        padding-left: 30.5px;
        padding-right: 30.5px;
      }
    }
  }

  .regulamentations{
    &__title {
      margin-top: 56px;
      margin-bottom: 14px;
      font-size: 21px;
      font-weight: bold;
      line-height: 1.14;
      color: #111111;
    }
    &__text {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      color: #111111;
    }
  }
}
