
<nz-modal
class = "buy-model"
(nzOnCancel)="handleCancel()"
[(nzVisible)]="isVisible"
[nzTitle] = "null"
[nzContent] = "modalContent"
[nzFooter] = "null"
>
<ng-template #modalContent >
  <div class="buy-model___content">
    <div nz-row nzType="flex" nzJustify="center"><p class="buy-model___title">Confirmar Pagamento</p></div>

    <div nz-row class="buy_info">
      <div nz-col class = "buy_info___appointment_info" [nzXs]="24" [nzSm]="18" [nzMd]="18" class="mobile-padding-top">
    
        <div nz-row class="buy_info___appointment_info">
          <div nz-col class="buy_info___appointment_info___title" [nzSpan]="12">Data</div>
          <div nz-col class="buy_info___appointment_info___info" [nzSpan]="12">{{ appointment.date | date : 'yyyy MM dd'}}</div>
        </div>
        <div nz-row>
          <div nz-col class="buy_info___appointment_info___title" [nzSpan]="24">Especialidade / Serviço</div>
        </div>
        <div nz-row>
          <div nz-col class="buy_info___appointment_info___type" [nzSpan]="24"> {{ validTranslateName(3,specialty?.translations)  }}</div>
        </div>

        <div nz-row class="buy_info___appointment_info">
          <div nz-col class="buy_info___appointment_info___title" [nzSpan]="12">Meio de Consulta</div>
          <div nz-col class="buy_info___appointment_info___info" [nzSpan]="12"> {{ validTranslateName(3,getAppointmentType(appointment.appointment_type_id)) }}</div>
        </div>
        <div nz-row>
          <div nz-col class="buy_info___appointment_info___title" [nzSpan]="24">Local</div>
        </div>
        <div nz-row>
          <div nz-col class="buy_info___appointment_info___type" [nzSpan]="24"> {{specialty?.place.name}}</div>
        </div>
      </div>      
    </div>

    <div nz-row class="buy-button hidden-xs" nzType="flex" nzJustify="center">
      <button nz-button nzType="default" (click)="confirmAppointment()">
        <div nz-row nzType="flex" nzJustify="space-between">
          <div nz-col class="pay-text">Pagar</div>
          <div  nz-col class="price-text"> {{ appointment.price }}€</div>
        </div>
      </button>
    </div>
    <div nz-row class="buy-button hidden-md" nzType="flex" nzJustify="center">
      <button nz-button nzType="default" (click)="confirmAppointment()">
        <div nz-row nzType="flex" nzJustify="space-between">
          <div nz-col class="pay-text">Pagar</div>
        </div>
      </button>
    </div>
    <div nz-row class="cancel-button" nzType="flex" nzJustify="center">
      <button nz-button nzType="link" (click)="handleCancel()">Cancelar</button>
    </div>
  </div>
</ng-template>
</nz-modal>
