<div nz-row>
    <div nz-col [nzSm]="1" [nzMd]="2" [nzXs]="1"></div>
    <div nz-col [nzSm]="22" [nzMd]="20" [nzXs]="22">
        <!------------------------START TABLE--------------------->
        <div *ngIf="!appointment">
            <div *ngFor="let service of services; let i = index">
                <div
                    *ngIf="service?.subjects != null && service?.subjects != undefined && service?.subjects.length > 0">
                    <div class="top">
                        <h2 class="title-top-page"> {{(service?.translations | languageChange)?.name}}</h2>
                    </div>


                    <div nz-row>
                        <div class="hidden-xs" style="margin-bottom: 20px;">
                            <nz-table #tableTickets [nzFrontPagination]="false" [nzData]="service?.subjects"
                                id="table-queue-data" [nzLoading]="loading">
                                <thead>
                                    <tr>
                                        <th>{{ 'QUEUE.MY_TICKETS.TABLE_TICKETS.QUEUE' | translate}}</th>
                                        <th>{{ 'QUEUE.MY_TICKETS.TABLE_TICKETS.AVG_TIME' | translate}}</th>
                                        <th>{{ 'QUEUE.MY_TICKETS.TABLE_TICKETS.TICKETSINQUEUE' | translate}}</th>
                                        <th>{{ 'QUEUE.MY_TICKETS.TABLE_TICKETS.ESTIMATED_TIME' | translate}}</th>
                                        <th>{{ 'QUEUE.MY_TICKETS.TABLE_TICKETS.TICKET' | translate}}</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-template ngFor let-data [ngForOf]="tableTickets.data">
                                        <tr>
                                            <td style="width: 20%;"> <span
                                                    class="text-ticket-dates">{{(data?.translations |
                                                    languageChange)?.name}}</span> <br>
                                                <label class="schedule_description">{{(data?.translations |
                                                    languageChange)?.schedule_description}}</label>
                                            </td>
                                            <td>
                                                {{transformSecontToHour(data?.avg_time)}} </td>
                                            <td>{{data?.tickets_in_queue}} </td>
                                            <td>{{transformSecontToHour(data?.tickets_in_queue * data?.avg_time)}}</td>
                                            <td> {{data?.ongoing_ticket ? data?.ongoing_ticket : '-'}} </td>
                                            <td> <button type="button" class="button-appointment"
                                                    (click)="openModelDetail(service, data)">
                                                    {{'QUEUE.BUTTON_APPOINTMENT' | translate}}</button> </td>

                                        </tr>
                                    </ng-template>
                                </tbody>
                            </nz-table>
                        </div>
                        <div class="hidden-md" style="margin-bottom: 20px;" *ngIf="tableTickets.data.length>=1">
                            <div class="margin-top-20 box-mobile" nz-row>
                                <div *ngFor="let item of tableTickets.data; let idx = index" style="font-size: 15px;">
                                    <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label
                                            class="font-label-mobile">{{
                                            'QUEUE.MY_TICKETS.TABLE_TICKETS.QUEUE' | translate}}:</label>
                                        {{(item?.translations | languageChange)?.name}}
                                    </div>
                                    <div nz-col [nzXs]="24" [nzSm]="24" style="margin-top: -8px; margin-bottom: 10px;">
                                        <label class="schedule_description">{{(item?.translations |
                                            languageChange)?.schedule_description}}</label>
                                    </div>
                                    <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label
                                            class="font-label-mobile">{{
                                            'QUEUE.MY_TICKETS.TABLE_TICKETS.AVG_TIME' | translate}}:</label>
                                        {{transformSecontToHour(item?.avg_time)}}
                                    </div>
                                    <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label
                                            class="font-label-mobile">{{
                                            'QUEUE.MY_TICKETS.TABLE_TICKETS.TICKETSINQUEUE' |
                                            translate}}:</label>
                                    </div>
                                    <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label
                                            class="font-label-mobile">{{
                                            'QUEUE.MY_TICKETS.TABLE_TICKETS.ESTIMATED_TIME' |
                                            translate}}:</label>
                                    </div>
                                    <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15"><label
                                            class="font-label-mobile">{{
                                            'QUEUE.MY_TICKETS.TABLE_TICKETS.TICKET' | translate}}:</label>
                                        {{item?.ongoing_ticket}}
                                    </div>
                                    <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15 text-center">
                                        <button type="button" class="button-appointment"
                                            (click)="openModelDetail(service, item)"> {{'QUEUE.BUTTON_APPOINTMENT' |
                                            translate}}</button>
                                    </div>
                                    <div nz-col *ngIf="idx < (tableTickets.data.length-1)" [nzXs]="24" [nzSm]="24">
                                        <nz-divider></nz-divider>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!---------------------------------------APPOINTMENT----------------------------->

        <div *ngIf="appointment">
            <div nz-row class="top">
                <app-button translate="MISC.RETURN" (click)="appointment = false" [leftIcon]="'left'"
                    [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}" type="tertiary"></app-button>
            </div>
            <div nz-row style="padding-bottom: 25px;">
                <h2 class="title-top-page"> {{ 'QUEUE.TITLE' | translate }}</h2>
            </div>

            <div class="box-content">

                <form nz-form [formGroup]="formAppointment">
                    <div nz-row>

                        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="11" [nzXl]="11" [nzXXl]="11"
                            class="padding-bottom-40">
                            <div nz-row class="title-fields">
                                {{ 'QUEUE.TITLE_SERVICE' | translate }}
                            </div>
                            <div nz-row>
                                <nz-form-control>
                                    <nz-select class="primary-select" formControlName="service" nzShowSearch nzDisabled>
                                        <nz-option *ngFor="let service of services"
                                            [nzLabel]="(service?.translations | languageChange)?.name"
                                            [nzValue]="service.id">
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </div>
                        </div>
                        <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>
                        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="11" [nzXl]="11" [nzXXl]="11"
                            class="padding-bottom-40">
                            <div nz-row class="title-fields">
                                {{ 'QUEUE.TITLE_SUBJECT' | translate }}
                            </div>
                            <div nz-row *ngIf="subjects?.length > 0">
                                <nz-form-control>
                                    <nz-select class="primary-select" formControlName="subject" nzShowSearch nzDisabled>
                                        <nz-option *ngFor="let subject of subjects"
                                            [nzLabel]="(subject?.translations | languageChange)?.name"
                                            [nzValue]="subject.id">
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </div>
                        </div>
                    </div>
                    <div nz-row style="padding-bottom: 10px;">
                        <nz-form-label nzRequired style="color: black;">
                            <b>{{ 'QUEUE.TITLE_DATE' | translate }}</b>
                        </nz-form-label>
                        <div class="desc-title-form">
                            {{(itemSubjectSelected?.translations | languageChange)?.schedule_description}}
                        </div>

                    </div>
                    <div nz-row>
                        <nz-tabset class="days-bar">
                            <nz-tab *ngFor="let day of fifteenDays; index as i" (nzSelect)="daySelected(day)"
                                [nzTitle]="dates">
                                <ng-template #dates>
                                    <div *ngIf="i === 0" nz-row class="days-bar___weekday"> {{ "QUEUE.DAYS.TODAY" |
                                        translate }}</div>
                                    <div *ngIf="i=== 1" nz-row class="days-bar___weekday">{{ "QUEUE.DAYS.TOMORROW" |
                                        translate }}</div>
                                    <div *ngIf="i > 1" nz-row class="days-bar___weekday">{{ (day | date : 'EEEE'
                                        :'UTC+0': translate.currentLang).charAt(0).toUpperCase() + (day | date : 'EEEE'
                                        :'UTC+0': translate.currentLang).slice(1) }}</div>
                                    <div nz-row class="days-bar___date"> {{ day | date : 'dd MMM yyyy'}}</div>
                                </ng-template>
                            </nz-tab>
                        </nz-tabset>

                    </div>
                    <div *ngIf="!loadingAppointmentHours">
                        <div nz-row class="title-fields padding-top-20">
                            {{ 'QUEUE.AVAILABLE_PERIOD' | translate }}
                        </div>
                        <nz-empty *ngIf="hoursAvailable.length === 0" [nzNotFoundContent]="'QUEUE.NO_DATA' | translate">
                        </nz-empty>

                        <div nz-row *ngIf="hoursAvailable.length > 0">
                            <div *ngFor="let hour of hoursAvailable" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="3"
                                [nzLg]="2" [nzXl]="2" [nzXXl]="2" class="hour-box"
                                [ngClass]="{'hour-box-selected': hourSelected == hour}" (click)="hourSelect(hour)">
                                {{hour | date: 'HH:mm'}}
                            </div>
                        </div>
                        <nz-form-explain class="color-required" style="padding-top: 10px"
                            *ngIf="submitted && (hourSelected == null || hourSelected == undefined)">
                            {{'QUEUE.REQUIRED_FIELD' | translate}}
                        </nz-form-explain>
                    </div>

                    <div nz-row class="title-fields padding-top-20">
                        {{ 'QUEUE.TITLE_REASON' | translate }}
                    </div>
                    <div nz-row>
                        <textarea class="primary-textarea" placeholder="{{'QUEUE.DESCRIPTION_REASON' | translate}}"
                            rows="5" nz-input formControlName="appointment_reason" maxlength="255"></textarea>
                    </div>
                </form>
                <div nz-row class="submit">
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                        <app-button (click)="appointment = false" style="margin-right: 15px;"
                            [translate]="'MISC.CANCEL'" [type]="'secundary'"></app-button>
                        <app-button [loading]="loadingCreateAppointment" (click)="submitAppointment()"
                            [translate]="'MISC.SUBMIT'"></app-button>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div nz-col [nzSm]="1" [nzMd]="2" [nzXs]="1"></div>
</div>

<div nz-row nzType="flex">
    <div nz-col [nzSm]="{ span: 20, offset: 2 }" [nzXs]="{ span: 24, offset: 0 }">
        <app-service-presentation-text [serviceId]="serviceId"></app-service-presentation-text>
    </div>
</div>


<!---------------------------MODAL BOOKINGS ----------------------->
<nz-modal [nzVisible]="modalBooking" id="modal-success-queue" (nzOnCancel)="modalBooking = false" [nzFooter]="null">
    <div class="text-center">
        <div nz-row class="text-img"><label><b>{{translations?.length>1 ? ((translations | languageChange)?.name) :
                    ('QUEUE.TITLE_QUEUE' | translate)}}</b></label></div>
        <div nz-row class="black"><label><b>{{'QUEUE.MODAL_SUCCESS.EMISSION2' | translate}}</b></label></div>
        <nz-divider class="divider"></nz-divider>
        <div nz-row>
            <div nz-col [nzXs]="2" [nzSm]="4" [nzMd]="6" [nzLg]="0" [nzXl]="0" [nzXXl]="0"></div>
            <div nz-col [nzXs]="22" [nzSm]="16" [nzMd]="12" [nzLg]="9" [nzXl]="9" [nzXXl]="9">
                <app-logo></app-logo>
            </div>
            <div nz-col [nzXs]="2" [nzSm]="4" [nzMd]="6" [nzLg]="0" [nzXl]="0" [nzXXl]="0"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="15" [nzXl]="15" [nzXXl]="15">
                <div nz-row class="title-service-modal">
                    <label>{{(detailServiceSelected?.translations | languageChange)?.name}}</label>
                </div>
                <div nz-row class="title-service-modal">
                    <label>{{(itemSubjectSelected?.translations | languageChange)?.name}}</label>
                </div>
            </div>
        </div>

        <nz-divider class="divider"></nz-divider>
        <div nz-row>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="11" [nzXl]="11" [nzXXl]="11" class="box-mark">
                <div nz-row class="padding-top-20">
                    <label class="title-box-detail">{{'QUEUE.MODAL_SUCCESS.EMISSION3' | translate}}</label>
                </div>
                <nz-divider class="divider" style="margin-top: 20px;"></nz-divider>
                <div nz-row class="padding-top-20">
                    <label class="font-size-12">{{'QUEUE.MODAL_SUCCESS.TICKET_DATE' | translate}}</label>
                </div>
                <div nz-row>
                    <label class="black"><b>{{dayCurrent | date: 'dd/MM/yyyy'}} - {{dayCurrent | date:
                            'HH:mm'}}h</b></label>
                </div>
                <div nz-row class="padding-top-20">
                    <label class="font-size-12">{{'QUEUE.MODAL_SUCCESS.TICKET_PEOPLE1' | translate}}</label> <label
                        class="black"><b>{{itemSubjectSelected?.tickets_in_queue}}</b></label> <label
                        class="font-size-12">{{'QUEUE.MODAL_SUCCESS.TICKET_PEOPLE2' | translate}}</label>
                </div>
                <div nz-row class="padding-top-20">
                    <label class="font-size-12">{{'QUEUE.MODAL_SUCCESS.TICKET_HOUR' | translate}}</label>
                </div>
                <div nz-row>
                    <label class="black"><b>{{transformSecontToHour(itemSubjectSelected?.tickets_in_queue *
                            itemSubjectSelected?.avg_time)}}</b></label>
                </div>
                <div nz-row *ngIf="itemSubjectSelected?.is_open">
                    <div *ngIf="itemSubjectSelected?.user_open_tickets" class="is_close">
                        {{'QUEUE.MODAL_SUCCESS.TICKET_OPEN' | translate}}
                    </div>
                    <div *ngIf="!itemSubjectSelected?.user_open_tickets" style="padding-bottom: 10px;">
                        <app-button (click)="issueTicket();"
                            translate="QUEUE.MODAL_SUCCESS.EMISSION5" type="primary">
                        </app-button>
                    </div>

                </div>
                <div nz-row *ngIf="!itemSubjectSelected?.is_open" class="is_close">
                    {{'QUEUE.MODAL_SUCCESS.EMISSION6' | translate}}
                </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="11" [nzXl]="11" [nzXXl]="11" class="box-mark">
                <div nz-row class="padding-top-20">
                    <label class="title-box-detail">{{'QUEUE.MODAL_SUCCESS.EMISSION4' | translate}}</label>
                </div>
                <nz-divider class="divider"></nz-divider>
                <div nz-row class="mini-box-detail">
                    <label class="font-size-12">{{'QUEUE.MODAL_SUCCESS.DESCRIPTION_APPOINTMENT' |
                        translate}}</label>
                </div>
                <div nz-row style="padding-bottom: 10px;">
                    <app-button (click)="isAppointment();" translate="QUEUE.MODAL_SUCCESS.EMISSION4" type="primary">
                    </app-button>
                </div>
            </div>
        </div>

    </div>

</nz-modal>


<!---------------------------MODAL SUCCESS ----------------------->
<nz-modal [nzVisible]="modalSuccess" id="modal-success-queue" (nzOnCancel)="closeModal();" [nzFooter]="null">
    <div class="text-center">
        <div nz-row class="text-img"><label><b>{{translations?.length>1 ? ((translations | languageChange)?.name) :
                    ('QUEUE.TITLE_QUEUE' | translate)}}</b></label></div>
        <div nz-row class="black"><label><b>{{'QUEUE.MODAL_SUCCESS.EMISSION1' | translate}}</b></label></div>
        <div nz-row><img src="assets/imgs/Success.PNG" width="100"></div>

        <div *ngIf="!appointment" nz-row style="font-size:19px" class="black"><label>{{'QUEUE.MODAL_SUCCESS.DESC1' |
                translate}}</label><br><label>{{'QUEUE.MODAL_SUCCESS.DESC2' | translate}}</label></div>
        <div *ngIf="appointment" nz-row style="font-size:19px" class="black">
            <label>{{'QUEUE.MODAL_SUCCESS_APPOINTMENT.TITLE_SUCCESS' |
                translate}}</label><br><label>{{'QUEUE.MODAL_SUCCESS.DESC2' | translate}}</label>
        </div>

        <div nz-row class="font-text-big"><label>{{responseDataTicket?.ticket_code}}</label></div>
        <nz-divider class="divider"></nz-divider>
        <div nz-row>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="2" [nzLg]="4" [nzXl]="4" [nzXXl]="4"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="16" [nzXl]="16" [nzXXl]="16">
                <app-logo></app-logo>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="2" [nzLg]="4" [nzXl]="4" [nzXXl]="4"></div>
        </div>
        <div nz-row class="title-service-modal"><label>{{(detailServiceSelected?.translations |
                languageChange)?.name}}</label></div>
        <div nz-row class="title-subject-modal"><label>{{(itemSubjectSelected?.translations |
                languageChange)?.name}}</label></div>
        <div *ngIf="!appointment" nz-row class="padding-top-20">
            <label class="font-size-12">{{'QUEUE.MODAL_SUCCESS.DESC3' | translate}}</label>
        </div>
        <div *ngIf="!appointment" nz-row>
            <label class="black"><b>{{dayCurrent | date: 'dd/MMM/yyyy'}} - {{dayCurrent | date: 'HH:mm'}}h</b></label>
        </div>
        <div *ngIf="!appointment" nz-row class="padding-top-20">
            <label class="font-size-12">{{'QUEUE.MODAL_SUCCESS.DESC4' | translate}}</label>
        </div>
        <div *ngIf="!appointment" nz-row>
            <label class="black"><b>{{transformSecontToHour(itemSubjectSelected?.tickets_in_queue *
                    itemSubjectSelected?.avg_time)}}</b></label>
        </div>
        <div *ngIf="appointment" nz-row class="padding-top-20">
            <label class="font-size-12">{{'QUEUE.MODAL_SUCCESS_APPOINTMENT.DATE_APPOINTENT_TITLE' | translate}}</label>
        </div>
        <div *ngIf="appointment" nz-row>
            <label class="black"><b>{{responseDataTicket?.estimated_time | date: 'dd/MMM/yyyy'}} -
                    {{responseDataTicket?.estimated_time | date: 'HH:mm'}}h</b></label>
        </div>
        <nz-divider class="divider"></nz-divider>
        <div nz-row class="font-desc5"><label>{{'QUEUE.MODAL_SUCCESS.DESC5' | translate}}</label></div>
        <div *ngIf="appointment" nz-row class="padding-top-20">
            <label class="font-size-12">{{'QUEUE.MODAL_SUCCESS_APPOINTMENT.ISSUE_DATE' | translate}}</label>
        </div>
        <div *ngIf="appointment" nz-row>
            <label class="black"><b>{{dayCurrent | date: 'dd/MMM/yyyy'}} - {{dayCurrent | date: 'HH:mm'}}h</b></label>
        </div>
    </div>

</nz-modal>