@import 'theme';

.top {
  padding-top: 25px;
  padding-bottom: 25px;
}

.box-content {
  background-color: white;
  padding-top: 25px;
  margin-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.title-fields {
  font-weight: bold;
  padding-bottom: 10px;
  color: black;
}

.is_close {
  padding-top: 20px;
  padding-bottom: 18px;
  color: red;
  font-weight: bold;
}

.hidden-md {
  display: none;
}

.text-ticket-dates {
  color: var(--primary-color);
  font-weight: bold;
}

.button-appointment {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  :hover {
    background-color: var(--primary-8);
  }
}
.button-appointment:hover {
  background-color: var(--primary-8);
}

.schedule_description {
  color: black;
  font-size: 14px;
}


#modal-success-queue::ng-deep .ant-modal-close {
  color: black;
}

#modal-success-queue::ng-deep .ant-modal-footer {
  border: none;
  text-align: center;
}

#modal-success-queue::ng-deep .ant-btn-primary {
  display: none;
}

.text-center {
  text-align: center;
}

.text-img {
  font-size: 22px;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.title-service-modal {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color);
}

.title-subject-modal {
  font-size: 18px;
  color: black;
}

.divider {
  background-color: var(--primary-color);
}

.padding-top-20 {
  padding-top: 20px;
}

.mini-box-detail {
  padding-top: 46px;
  padding-bottom: 71px;
}

.title-box-detail {
  font-weight: bold;
  font-size: 15px;
  color: var(--primary-color);
}

.font-size-12 {
  font-size: 12px;
}

.black {
  color: black;
}



.days-bar {
  font-style: normal;
  font-stretch: normal;
  font-family: Montserrat;
  &___weekday {
    width: auto;
    height: 24px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: -0.5px;
    color: unset;
  }
  &___date {
    width: 57px;
    height: 18px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
    letter-spacing: normal;
    color: unset;
  }

}

.font-text-big {
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--primary-color);
  font-size: 40px;
  font-weight: bold;
}

.font-desc5 {
  font-size: 13px;
  color: black;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

#table-queue-data::ng-deep.ant-table-row {
  background-color: white;
}

#table-queue-data::ng-deep.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
  background-color: white;
}

#table-queue-data::ng-deep.ant-table-header-column {
  color: unset;
  font-size: 14px;
}

#table-queue-data::ng-deep.ant-table-pagination {
  display: none;
}

.box-mark {
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
}

.button-small-modal {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  padding-right: 25px;
  padding-left: 25px;
  cursor: pointer;
}
.submit {
  margin-top: 25px;
  text-align: right;
}

.hour-box {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid var(--primary-color);
  font-size: 13px;
  color: var(--primary-color);
  font-weight: bold;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
  
}

.hour-box:hover {
  color: white;
  background-color: var(--primary-color);
}

.hour-box-selected {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid var(--primary-color);
  font-size: 13px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.color-required {
  color: red;
}

::ng-deep .main-text {
  margin-bottom: 34px;
}

@media screen and (max-width: 800px) {
  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display: block;
  }
  .margin-bottom-15 {
    margin-bottom: 15px;
  }

  .font-label-mobile {
    color: black;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .box-mobile {
    background-color: white;
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display: block;
  }
  .margin-bottom-15 {
    margin-bottom: 15px;
  }

  .font-label-mobile {
    color: black;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .box-mobile {
    background-color: white;
    padding: 20px;
  }
}
