:host::ng-deep {


    nz-empty {
      width: 100%;
      height: 100%;
    }
  
    .list-health {
  
      &__header {
  
        @media screen and (min-width: 576px) {
          padding-top: 25px;
        }
  
        @media screen and (max-width: 576px) {
          padding: 16px;
        }
  
      }

      &__list {
        &__item {
          padding-bottom: 24px;
          }
        }
      }
    }

    .box {
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;
      border: 1px solid var(--primary-color);
      font-size: 13px;
      color: var(--primary-color);
      background-color: white;
      font-weight: bold;
      border-radius: 5px;
      margin-right: 10px;
      margin-top: 10px;
      text-transform: uppercase;
      &___selected {
        border: 1px solid var(--primary-color);
        background-color: var(--primary-color);
        color: white;
        cursor: pointer;
      }
      &___inactive {
        opacity: 50%;
        cursor: default !important
      }
    }

    .box:hover {
      cursor: pointer;
      color: white;
      background-color: var(--primary-color);
    }

  
