<div nz-row>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="1" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>

  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="22" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
    <div class="top">
      <h2 class="title-top-page">{{ 'CURRENT_ACCOUNT.ACCOUNT' | translate }}</h2>
      <p class="sub-title-top-page">{{ 'CURRENT_ACCOUNT.ACCOUNT_DESC' | translate }}</p>
    </div>


    <div *ngFor="let balance of movementsBalance; let i= index;">
      <div class="account-item">
        <div class="account-elements-i">
          <span class="account-name">{{balance.account_name}}</span>
        </div>

        <div class="account-elements-ii">
          <span class="account-title-value">{{ 'CURRENT_ACCOUNT.CURRENT_ACCOUNT' | translate }}</span>
          <span class="account-value-corrent">{{balance.current_balance | number:'1.2-2'}} €</span>
        </div>

        <div class="account-elements-iii">
          <span class="account-title-value">{{ 'CURRENT_ACCOUNT.OUTSTANDING_PAYMENTS' | translate }}</span>
          <span
            [ngClass]="{'account-value-pending': balance?.in_debt != 0, 'account-value-pending-normal': balance?.in_debt == 0}">{{balance.in_debt
            | number:'1.2-2'}} €</span>
        </div>
        <div class="account-elements-iv">
          <button nz-button type="button" [nzLoading]="loadingDetails" class="button-style-movements" [disabled]="!('current_account:movements:read' | hasPermission)"
            [routerLink]="['/current-account/movements', balance.account_id]"> {{'CURRENT_ACCOUNT.MOVEMENTS' |
            translate}}
          </button>

          <app-button [buttonStyle]="{'margin-left':'15px'}" (click)="movementIndex = i; method = '';"
            [loading]='loadingDetails' [disabled]="loadingDetails" [translate]="'CURRENT_ACCOUNT.DEPOSITS'">
          </app-button>

        </div>
      </div>
      <!---------------------------- PAYMENTS METHODS ------------------------------->

      <div *ngIf="i == movementIndex" class="detail-payment-method" nz-row>
        <div style="text-align: center;"
          *ngIf="(!validPaymentMethod(balance?.available_methods, 'PAYPAL') && !validPaymentMethod(balance?.available_methods, 'REFMB_AMA')
        && !validPaymentMethod(balance?.available_methods, 'MBWAY') && !validPaymentMethod(balance?.available_methods, 'MBWAY') && !validPaymentMethod(balance?.available_methods, 'VISA')); else isMethods">
          <label><b>{{'CURRENT_ACCOUNT.NO_METHODS' | translate}}</b></label>
        </div>
        <ng-template #isMethods>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="7" [nzXXl]="7" style="padding-top:15px">
            <label><b>{{'CURRENT_ACCOUNT.PAYMENTS.TITLE' | translate}}</b></label>
          </div>
        </ng-template>

        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="17" [nzXXl]="17">
          <div nz-row>

            <div *ngIf="validPaymentMethod(balance?.available_methods, 'PAYPAL')" nz-col [nzXs]="24" [nzSm]="24"
              [nzMd]="12" [nzLg]="6" [nzXl]="4" [nzXXl]="4" class="text-center" style="padding-top:5px">
              <div nz-row>
                <label style="font-size: 10px;">PayPal</label>
              </div>
              <div nz-row>
                <div nz-col [nzXs]="7" [nzSm]="7" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6"></div>
                <div nz-col [nzXs]="10" [nzSm]="10" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="card"
                  (click)="method = 'PAYPAL'; valueCharge = 0; totalValue = null; mobileSend = mobileNumber">
                  <img src="assets/imgs/paypall.svg">
                </div>
                <div nz-col [nzXs]="7" [nzSm]="7" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6"></div>
              </div>
            </div>
            <div *ngIf="validPaymentMethod(balance?.available_methods, 'REFMB_AMA')" nz-col [nzXs]="24" [nzSm]="24"
              [nzMd]="12" [nzLg]="6" [nzXl]="4" [nzXXl]="4" class="text-center" style="padding-top:5px">
              <div nz-row>
                <label style="font-size: 10px;">{{'CURRENT_ACCOUNT.PAYMENTS.ATM' | translate}}</label>
              </div>
              <div nz-row>
                <div nz-col [nzXs]="7" [nzSm]="7" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6"></div>
                <div nz-col [nzXs]="10" [nzSm]="10" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="card"
                  (click)="method = 'ATM'; valueCharge = 0; totalValue = 0; mobileSend = mobileNumber">
                  <img src="assets/imgs/multibanco.svg">
                </div>
                <div nz-col [nzXs]="7" [nzSm]="7" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6"></div>
              </div>
            </div>
            <div *ngIf="validPaymentMethod(balance?.available_methods, 'MBWAY')" nz-col [nzXs]="24" [nzSm]="24"
              [nzMd]="12" [nzLg]="6" [nzXl]="4" [nzXXl]="4" class="text-center" style="padding-top:5px">
              <div nz-row>
                <label style="font-size: 10px;">MB Way</label>
              </div>
              <div nz-row>
                <div nz-col [nzXs]="7" [nzSm]="7" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6"></div>
                <div nz-col [nzXs]="10" [nzSm]="10" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="card"
                  (click)="method = 'MBWAY'; valueCharge = 0; totalValue = 0; mobileSend = mobileNumber">
                  <img src="assets/imgs/MBWAY.svg">
                </div>
                <div nz-col [nzXs]="7" [nzSm]="7" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6"></div>
              </div>
            </div>
            <div *ngIf="validPaymentMethod(balance?.available_methods, 'VISA')" nz-col [nzXs]="24" [nzSm]="24"
              [nzMd]="12" [nzLg]="6" [nzXl]="4" [nzXXl]="4" class="text-center" style="padding-top:5px">
              <div nz-row>
                <label style="font-size: 10px;">Visa</label>
              </div>
              <div nz-row>
                <div nz-col [nzXs]="7" [nzSm]="7" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6"></div>
                <div nz-col [nzXs]="10" [nzSm]="10" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="card-visa"
                  (click)="method = 'VISA'; valueCharge = 0; totalValue = 0; mobileSend = mobileNumber">
                  <img src="assets/imgs/VISA.svg">
                </div>
                <div nz-col [nzXs]="7" [nzSm]="7" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="i == movementIndex && method !=''" nz-row class="text-center">
        <i nz-icon nzType="caret-up" class="caret-up-style" nzTheme="outline"></i>
      </div>
      <div *ngIf="i == movementIndex && method !=''" class="detail-payment">
        <!------------------MULTIBANCO && PAYPAL--------------------->
        <div nz-row *ngIf="method == 'ATM' || method == 'PAYPAL'">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" [nzLg]="11" [nzXl]="5" [nzXXl]="5" style="padding:25px">
            <div nz-row>
              <label><b>{{'CURRENT_ACCOUNT.PAYMENTS.AMOUNTCHARGE' | translate}}</b></label>
            </div>
            <div nz-row style="padding-top:10px">
              <input [(ngModel)]="valueCharge" nz-input type="number" class="input-value"
                (ngModelChange)="changeValue(balance.current_balance)">
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="6" [nzXXl]="6" style="margin-top:10px"
            class="box-current-account-before">
            <div nz-row>
              <label><b>{{'CURRENT_ACCOUNT.PAYMENTS.CURRENTACCOUNTBEFORE' | translate}}</b></label>
            </div>
            <div nz-row class="box-input">
              {{balance.current_balance | number:'1.2-2'}} €
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" [nzLg]="11" [nzXl]="6" [nzXXl]="6" style="margin-top:10px"
            class="box-current-account-after margin-left-10">
            <div nz-row>
              <label><b>{{'CURRENT_ACCOUNT.PAYMENTS.CURRENTACCOUNTAFTER' | translate}}</b></label>
            </div>
            <div nz-row class="box-input after-box">
              {{totalValue | number:'1.2-2'}} €
            </div>

          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" [nzLg]="11" [nzXl]="6" [nzXXl]="6"
            class="button-box-payments">
            <button nz-button type="button" class="button-style-movements" (click)="method = ''">
              {{'CURRENT_ACCOUNT.PAYMENTS.CANCEL' |
              translate}}
            </button>

            <button nz-button type="button" class="button-style-uploads" [disabled]="valueCharge == 0"
              [nzLoading]="loadingPayment" (click)="method == 'ATM' ? isATM(balance.account_id) : isPaypal()">
              {{'CURRENT_ACCOUNT.PAYMENTS.CONFIRM' | translate}}
            </button>
          </div>
        </div>
        <div nz-row *ngIf="method == 'PAYPAL'" class="text-detail text-center">
          <span> {{'CURRENT_ACCOUNT.PAYMENTS.DESCRIPTION_PAYPAL' | translate}} </span>
        </div>
        <div nz-row *ngIf="method == 'ATM'" class="text-detail text-center">
          <span> {{'CURRENT_ACCOUNT.PAYMENTS.DESCRIPTION1_ATM' | translate}} <br>{{'CURRENT_ACCOUNT.PAYMENTS.DESCRIPTION1_ATM_2' | translate}}</span>
        </div>

        <!-----------------------MB WAY----------------------->
        <div nz-row *ngIf="method == 'MBWAY'">
          <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="4" [nzXl]="4" [nzXXl]="4">

          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8" style="padding:25px">
            <div nz-row>
              <label><b>{{'CURRENT_ACCOUNT.PAYMENTS.NUMBER' | translate}}</b></label>
            </div>

            <div nz-row style="padding-top:10px">
              <input [(ngModel)]="mobileSend" nz-input class="input-value-current-account" prefix="+" mask="0*">
            </div>

          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8" style="padding:25px">
            <div nz-row>
              <label><b>{{'CURRENT_ACCOUNT.PAYMENTS.AMOUNTCHARGE' | translate}}</b></label>
            </div>

            <div nz-row style="padding-top:10px">
              <input [(ngModel)]="valueCharge" nz-input class="input-value-current-account">
            </div>

          </div>
          <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="4" [nzXl]=4 [nzXXl]="4">

          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
            class="button-box-payments" style="margin-top:20px">
            <button nz-button type="button" class="button-style-movements" (click)="method = ''">
              {{'CURRENT_ACCOUNT.PAYMENTS.CANCEL' |
              translate}}
            </button>
            <button nz-button type="button" class="button-style-uploads" (click)="isMbway()">
              {{'CURRENT_ACCOUNT.PAYMENTS.CONFIRM' | translate}}
            </button>
          </div>
        </div>
        <div nz-row *ngIf="method == 'MBWAY'" class="text-detail text-center">
          <span> {{'CURRENT_ACCOUNT.PAYMENTS.DESCRIPTION1_MBWAY' | translate}} </span> <br>
          <span> {{'CURRENT_ACCOUNT.PAYMENTS.DESCRIPTION2_MBWAY' | translate}} </span> <br>
          <span><b> {{'CURRENT_ACCOUNT.PAYMENTS.DESCRIPTION3_MBWAY' | translate}} </b></span>
        </div>

        <!---------------------VISA------------------------>
        <div nz-row *ngIf="method == 'VISA'" class="text-detail-visa text-center">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
            <span> {{'CURRENT_ACCOUNT.PAYMENTS.DESCRIPTION1_VISA' | translate}} </span> <br>
            <span> {{'CURRENT_ACCOUNT.PAYMENTS.DESCRIPTION2_VISA' | translate}} </span>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
            style="padding-top:20px; padding-bottom:20px;">
            <button nz-button type="button" class="button-style-movements" (click)="method = ''">
              {{'CURRENT_ACCOUNT.PAYMENTS.CANCEL' |
              translate}}
            </button>
            <button nz-button type="button" class="button-style-uploads" (click)="isVisa()">
              {{'CURRENT_ACCOUNT.PAYMENTS.CONFIRM' | translate}}
            </button>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
            <span style="font-size: 12px;"> {{'CURRENT_ACCOUNT.PAYMENTS.DESCRIPTION3_VISA' | translate}} </span>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="1" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>
</div>

<div nz-row class="top">
  <div nz-col [nzXs]="{ span: 22, offset: 1 }" [nzLg]="{ span: 20, offset: 2 }">
    <app-service-presentation-text [serviceId]="serviceId"></app-service-presentation-text>
  </div>
</div>


<!---------------------------MODAL SUCCESS----------------------->
<nz-modal [nzVisible]="successModal" (nzOnCancel)="successModal = false" (nzOnOk)="successModal = false"
  id="modal-success-payments">
  <div class="img-success">
    <img src="assets/imgs/Success.PNG">
  </div>
  <div class="text-img">
    <label>{{'CURRENT_ACCOUNT.PAYMENTS.TEXT_SUCCESS' | translate}}</label>
  </div>
</nz-modal>

<!---------------------------MODAL ATM----------------------->
<nz-modal [nzVisible]="modalATM" id="modal-atm-payments">
  <div class="text-center">
    <div nz-row class="text-img"><label><b>{{'CURRENT_ACCOUNT.ACCOUNT' | translate}}</b></label></div>
    <div nz-row style="color:black"><label><b>{{'CURRENT_ACCOUNT.PAYMENTS.ATM' | translate}}</b></label></div>
    <div nz-row><img src="assets/imgs/Success.PNG" width="100"></div>
    <div nz-row class="success-atm"><label>{{'CURRENT_ACCOUNT.PAYMENTS.ATM_DETAIL.SUCCESS' | translate}}</label></div>
    <div nz-row class="atm-text"><label><b>{{'CURRENT_ACCOUNT.PAYMENTS.ATM_DETAIL.ATM' | translate}}</b></label></div>
    <div nz-row class="detail-atm-success"><label>{{'CURRENT_ACCOUNT.PAYMENTS.ATM_DETAIL.DESCRIPTION1' |
        translate}}</label></div>
    <div nz-row style="margin-bottom: 20px;">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6"></div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="box-ent-ref">
        <div><label><b>{{'CURRENT_ACCOUNT.PAYMENTS.ATM_DETAIL.ENT' | translate}}</b></label>
          {{dataPaymentRef?.EntityNumber}}</div>
        <div><label><b>{{'CURRENT_ACCOUNT.PAYMENTS.ATM_DETAIL.REF' | translate}}</b></label>
          {{dataPaymentRef?.Reference}}</div>
        <div><label><b>{{'CURRENT_ACCOUNT.PAYMENTS.ATM_DETAIL.VALUE' | translate}}</b></label> {{dataPaymentRef?.Amount
          | number:'1.2-2'}} €</div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6"></div>
    </div>
    <div nz-row class="detail-atm-success"><label>{{'CURRENT_ACCOUNT.PAYMENTS.ATM_DETAIL.DESCRIPTION2' |
        translate}}</label></div>
    <div nz-row style="color:black;"><label><b>{{'CURRENT_ACCOUNT.PAYMENTS.ATM_DETAIL.DESCRIPTION3' |
          translate}}</b></label></div>
    <div nz-row>
      <button nz-button type="button" id="button-confirm" (click)="closeModel()">{{'CURRENT_ACCOUNT.PAYMENTS.CONFIRM' |
        translate}}</button>
    </div>
  </div>

</nz-modal>
