@tablet:    ~"only screen and (min-width: 720px) and (max-width: 1199px)";
@mobile:    ~"only screen and (min-width: 320px) and (max-width: 719px)";
@import "theme";

.top {
  padding-top: 25px;
}

.account-item {
  border-radius: 5px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  color: #333333;
  margin-top: 20px;
  border: 1px solid var(--primary-1);

  @media @tablet {
    flex-wrap: wrap;
  }

  @media @mobile {
    flex-wrap: wrap;
  }

  .account-elements-i {
    padding: 20px;
    width: 25%;
    display: flex;
    flex-direction: row;
    border-right: 1px solid var(--primary-1);
    justify-content: space-between;

    @media @tablet {
      width: 100%;
      border-right: 0;
      border-bottom: 1px solid var(--primary-1);
    }

    @media @mobile {
      width: 100%;
      border-right: 0;
      border-bottom: 1px solid var(--primary-1);
    }

    .account-name {
      width: 50%;
      font-weight: bold;
      color: var(--primary-5);
    }


  }

  .account-title-value{
    font-weight: bold;
  }

  .account-elements-ii, .account-elements-iii {
    padding: 20px;
    width: 25%;
    display: flex;
    flex-direction: row;
    border-right: 1px solid var(--primary-1);
    justify-content: space-between;

    @media @tablet {
      width: 50%;
      border-bottom: 1px solid var(--primary-1);
    }

    @media @mobile {
      width: 100%;
      border-bottom: 1px solid var(--primary-1);
    }

    .account-value-corrent {
      color: #1ba974;
      font-weight: 600;
    }

    .account-value-pending{
      color: #d0021b;
      font-weight: 600;
    }

    .account-value-pending-normal{
      color: black;
      font-weight: 600;
    }
  }

  @media @tablet{
    .account-elements-iii {
      border-right: 0;
    }
  }

  @media @mobile {
    .account-elements-ii, .account-elements-iii {
      border-right: 0;
    }
  }

  .account-elements-iv {
    width: 29%;
    min-width: 190px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media @tablet {
      padding: 20px;
      width: 100%;
    }

    @media @mobile {
      padding: 20px;
      width: 100%;
    }
  }
}

.button-style-movements{
    color:  var(--primary-color);
    height: 32px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    background-color: white;
    border-radius: 21px;
    border: solid 2px var(--primary-color);
}
.button-style-movements:hover {
  background-color: var(--primary-color);
  color: white;
}

.button-style-uploads{
  margin-left:15px;
  color: white;
  height: 32px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  background-color: var(--primary-color);
  border-radius: 21px;
  border: solid 2px var(--primary-color);
}

.button-style-uploads:hover {
  background-color: white;
  color: var(--primary-color);
  border: solid 2px var(--primary-color);
}

.detail-payment-method{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(27, 169, 116, 0.05);
  padding-left: 20px;
  padding-right: 20px;
}

.detail-payment{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  margin-top:-15px;
}

.text-center{
  text-align: center;
}

.card{
  margin-top: 5px;
  background-color: white;
  border-radius: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor:pointer;
}

.card-visa{
  margin-top: 5px;
  background-color: #26337a;
  border-radius: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor:pointer;
}

.caret-up-style{
  color:white;
  font-size: 50px;
}

.input-value{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--primary-color);
}

.input-value-current-account{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
}

.box-current-account-before{
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  padding: 25px;
  margin-left: 10px;
  @media screen and (max-width: 600px) {
    margin-left: 0px;
  }
}

.box-input{
  padding: 12px;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
}

.box-input-mobile{
  padding: 20px;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  margin-top: 10px;
}

.after-box{
  background-color: white;
  color: black;
}

.box-current-account-after{
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  padding: 25px;
  background-color: var(--primary-color);
  color: white;
}

.button-box-payments{
  text-align: center;
  margin-top: 40px;
}

.text-detail{
  padding-top: 40px;
  line-height: 1.5;
}

.text-detail-visa{
  line-height: 1.5;
}

@media @mobile {
  .is-mobile{
    display: none !important;
  }
  .margin-left-10{
    margin-left:0px !important;
  }
}

.accounts {
  margin-top: 61px;
  margin-bottom: 27px;

  &__title {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.14;
    color: #111111;
    margin-bottom: 14px;
  }

  &__desc {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #111111;
    margin-bottom: 24px;
  }
}

.margin-left-10{
  margin-left:10px;
}

#modal-success-payments::ng-deep .ant-btn-default{
  display: none;
}

#modal-success-payments::ng-deep .ant-modal-close{
  display: none;
}

#modal-success-payments::ng-deep .ant-modal-footer{
  border: none;
}

.img-success{
  text-align: center;
  padding-top: 30px;
}

.text-img{
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

#modal-atm-payments::ng-deep .ant-btn-default{
  display: none;
}

#modal-atm-payments::ng-deep .ant-modal-close{
  display: none;
}

#modal-atm-payments::ng-deep .ant-modal-footer{
  border: none;
  text-align: center;
}

#modal-atm-payments::ng-deep .ant-btn-primary{
  display: none;
}

#button-confirm{
  margin-top:20px;
  display: initial !important;
  background-color: var(--primary-color);
  border-radius: 21px;
  border: solid 2px var(--primary-color);
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  color: white;
}

.success-atm{
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.atm-text{
  color: black;
  font-size: 13px;
  padding-bottom: 20px;
}

.detail-atm-success{
  color: black;
  font-size: 13px;
  padding-bottom: 20px;
}

.box-ent-ref{
  border: 2px solid var(--primary-color);
  padding-top: 15px;
  padding-bottom: 15px;
  color: black;
  border-radius: 4px;
}
