
.history-card {
  margin:10px;
  cursor: pointer !important;

}
.history-card:hover {
  border-color: var(--primary-color);
  background-color: var(--primary-1);
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.application-card {
  background-color: #ffffff;
  border-radius: 5px;
  cursor: context-menu;
  padding: 25px 15px 15px 15px;
  border: 1px solid transparent;
  > div:first-child {
    margin-bottom: 10px;
  }
  &--status {
    padding-left: 5px;
    padding-right: 5px;
    height: 18px;
    border-radius: 4px;
    text-align: center;
    float: left;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.78;
    letter-spacing: 0.5px;
    color: white;
  }
  &--title {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #333333;
  }
  &--button {
    float: right;
  }

  &--buttons {
    text-align: right;

    app-button:not(:last-of-type) {
      margin-right: 5px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .application-card {
    &--title {
      margin-top: 10px;
    }
  }
  .padding-bottom-mobile-20 {
    padding-bottom: 20px;
  }
}

#cardApplication ::ng-deep .ant-card-body {
    padding:0px !important;
}

#cardApplication ::ng-deep .ant-table-placeholder {
    display:none;
}


.mini-container-default {
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-right: 1px solid lightgrey;
}

.margin-left-2 {
  margin-left: 2px;
}

.padding-top-15 {
  padding-top: 15px;
}


.title-detail {
  font-size: 13px;
  color: var(--primary-7);
}

.description-detail {
  color: black;
  font-size: 13px;
}

.mini-container {
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.cursor {
  cursor: pointer;
}

.contracted {
  background-color: #1ba974;
}
.waiting-approval {
  background-color: #f8ca00;
}
.approved {
  background-color: #0d69dd;
}
.finished {
  background-color: #d1d1d1;
}
.elaboration {
  background-color: #E1BC29;
}
.submitted {
  background-color: #4D9DE0;
}
.analysis {
  background-color: #7768AE;
}
.cancelled {
  background-color: #A4A4A4;
}
.dispatch {
  background-color: #88CCF1;
}
.assigned {
  background-color: #076743;
}
.enqueued {
  background-color: #D4B483;
}
.unassigned {
  background-color: #C1666B;
}
.suspended {
  background-color: #8EA4D2;
}
.complaint {
  background-color: #F75C03;
}
.accepted {
  background-color: #9DBBAE;
}
.contracted {
  background-color: #1ba974;
}
.rejected {
  background-color: #D0021B;
}
.quiting {
  background-color: #EF476F;
}
.withdrawal {
  background-color: #246A73;
}
.closed {
  background-color: #000000;
}
.card {

    &__status {
        font-size: 11px;
        font-weight: bold;
        letter-spacing: 0.5px;
        color: #ffffff;
        text-align: center;
        align-items: center;
        border: none;
        cursor: context-menu;
    }
}

.modal{
    &__title{
      &__icon{
        font-size: 35px;
        color:#a2a221;
      }
      &__text{
        align-self: center;
        margin-left: 10px;
      }
    }
    &__btns{
      margin: 0px 3px !important;
    }
  }


.border-radius-8 {
    border-radius: 8px;
}


.text-container {
    color: var(--primary-5);
}

.div-button {
    text-align: center;
    margin-top:10px;
}


.text-center{
    text-align: center;
}

@media screen and (max-width:800px) {
    .border-none {
        border:none;
    }

    .border-radius {
        border-radius:0px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
}

@media screen and (max-width:600px){
    .border-none {
        border:none;
    }

    .border-radius {
        border-radius:0px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
}
