<div class="application-card" [ngClass]="{'history-card':history}"
  (click)="history ? viewApplicationDetail(userApplication.id) : ''">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="history ? 12 : 5" [nzXl]="history ? 12 : 4"
      [nzXXl]="history ? 12 : 3" [ngClass]="{'margin-bottom-10': history}">
      <nz-tag class="tab-status cursor-cont" [ngClass]="checkTagStatusColor()">
        {{ 'U_BIKE.APPLICATIONS.STATUS.'+ userApplication.status.toString().toUpperCase() | translate }}
      </nz-tag>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="history ? 24 : 11" [nzXl]="history ? 24 : 12"
      [nzXXl]="history ? 24 : 12">
      <div class="application-card--title">
        <div>{{ userApplication?.typology_first_preference?.name }}</div>
      </div>
    </div>
    <div *ngIf="!history" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="7" [nzXl]="8" [nzXXl]="9"
      class="application-card--buttons">
      <app-button *ngIf="userApplication.status == status.ASSIGNED" class="margin-left-2"
        [translate]="'U_BIKE.DASHBOARD.APPLICATIONS_CONTAINER.BUTTONS.ACCEPT'"
        [type]="'primary'" (click)="openModalConfirm(userApplication.id,'accept')" [loading]="loading">
      </app-button>
      <app-button *ngIf="userApplication.status == status.ASSIGNED" class="margin-left-2"
        [translate]="'U_BIKE.DASHBOARD.APPLICATIONS_CONTAINER.BUTTONS.REFUSE'"
        [type]="'red'" (click)="openModalConfirm(userApplication.id,'reject')" [loading]="loading">
      </app-button>

      <app-button *ngIf=" userApplication.status == status.ELABORATION ||
            userApplication.status == status.SUBMITTED||
            userApplication.status == status.ANALYSIS ||
            userApplication.status == status.ENQUEUED " class="margin-left-2" [buttonStyle]="{'margin-top':'5px'}"
        [translate]="'U_BIKE.DASHBOARD.APPLICATIONS_CONTAINER.BUTTONS.CANCEL'" [type]="'red'"
        (click)="openModalConfirm(userApplication.id,'cancel')" [loading]="loading">
      </app-button>

      <app-button *ngIf="userApplication.status == status.ELABORATION" class="margin-left-2"
        translate="MISC.EDIT"
        [type]="'primary'" (click)="continueApplication(userApplication.id)" [loading]="loading">
      </app-button>

      <app-button *ngIf=" userApplication.status == status.CONTRACTED" class="margin-left-2"
        [translate]="'U_BIKE.DASHBOARD.APPLICATIONS_CONTAINER.BUTTONS.QUIT'"
        [type]="'infoblue'" (click)="openModalConfirm(userApplication.id,'quit')" [loading]="loading">
      </app-button>

      <app-button *ngIf=" userApplication.status == status.QUITING" class="margin-left-2"
        [buttonStyle]="{'margin-top':'5px'}"
        [translate]="'U_BIKE.DASHBOARD.APPLICATIONS_CONTAINER.BUTTONS.WITHDRAW_QUIT'" [type]="'red'"
        (click)="openModalConfirm(userApplication.id,'withdraw_quit')" [loading]="loading"></app-button>
      <app-button class="margin-left-2" [translate]="'U_BIKE.DASHBOARD.APPLICATIONS_CONTAINER.BUTTONS.DETAIL'"
        [type]="'secundary'" (click)="viewApplicationDetail(userApplication.id)"
        [loading]="loading">
      </app-button>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="history ? 24 : 5" [nzXl]="history ? 24 : 4"
      [nzXXl]="history ? 24 : 3" class="padding-top-15">
      <div nz-row class="margin-bottom-5">
        <span class="title-detail">{{ "SOCIAL_SUPPORT.APPLICATIONS.SUBMITTED_ON" | translate }}</span>
      </div>
      <div nz-row>
        <span class="description-detail"> {{ userApplication?.created_at | date:'dd-MM-yyyy' }}</span>
      </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="history ? 24 : 12" [nzLg]="history ? 24 : 5" [nzXl]="history ? 24 : 4"
      [nzXXl]="history ? 24 : 4" class="padding-top-15">
      <div nz-row class="margin-bottom-5">
        <span class="title-detail">{{
          "U_BIKE.DASHBOARD.APPLICATIONS_CONTAINER.INFO.N_BICYCLE" | translate }}</span>
      </div>
      <div nz-row>
        <span class="description-detail"> {{ userApplication.bike?.identification ?
          userApplication.bike?.identification : '-' }}</span>
      </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="history ? 24 : 12" [nzLg]="history ? 24 : 5" [nzXl]="history ? 12 : 4"
      [nzXXl]="history ? 12 : 4" class="padding-top-15">
      <div nz-row class="margin-bottom-5">
        <span class="title-detail">{{ 'U_BIKE.DASHBOARD.APPLICATIONS_CONTAINER.INFO.START_DATE' | translate
          }}</span>
      </div>
      <div nz-row>
        <span class="description-detail">{{userApplication.start_date ? (userApplication.start_date | date:
          'dd-MM-yyyy') : '-' }}</span>
      </div>
    </div>
    <div *ngIf="!view" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="history ? 24 : 12" [nzLg]="history ? 24 : 5"
      [nzXl]="history ? 12 : 4" [nzXXl]="history ? 12 : 4" class="padding-top-15">
      <div nz-row class="margin-bottom-5">
        <span class="title-detail">{{ 'U_BIKE.DASHBOARD.APPLICATIONS_CONTAINER.INFO.END_DATE' | translate
          }}</span>
      </div>
      <div nz-row>
        <span class="description-detail">{{userApplication.end_date ? (userApplication.end_date | date:
          'dd-MM-yyyy') : '-' }}</span>
      </div>
    </div>
    <div *ngIf="view" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="history ? 24 : 12" [nzLg]="history ? 24 : 5"
      [nzXl]="history ? 12 : 4" [nzXXl]="history ? 12 : 4" class="padding-top-15">
      <div nz-row class="margin-bottom-5">
        <span *ngIf="userApplication.status != status.ACCEPTED" class="title-detail">{{
          'U_BIKE.DASHBOARD.APPLICATIONS_CONTAINER.INFO.END_DATE' | translate
          }}</span>
        <span *ngIf="userApplication.status == status.ACCEPTED" class="title-detail">{{
          'U_BIKE.APPLICATIONS.REQUISITION' |
          translate
          }}</span>
      </div>
      <div nz-row>
        <span *ngIf="userApplication.status != status.ACCEPTED" class="description-detail">{{userApplication.end_date ?
          (userApplication.end_date | date:
          'dd-MM-yyyy') : '-' }}</span>
        <span *ngIf="userApplication.status == status.ACCEPTED" class="description-detail">{{applicantEndDate | date:
          'dd-MM-yyyy'}}</span>
      </div>
    </div>
  </div>
</div>
