<div class="content-form">
    <form [formGroup]="specialtyForm" nzLayout="vertical">
        <div nz-row >
          <h2 class="title-top-page">{{ 'HEALTH.APPOINTMENT_FORM.CLINICAL_TEAM' | translate }}</h2>
        </div>
        <div nz-row [nzGutter]="24">
            <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="doctor_id" style="color: black;">
                    <b>{{ 'HEALTH.APPOINTMENT_FORM.PROFESSIONAL' | translate }}</b>
                  </nz-form-label>
                  <nz-form-control>
                    <nz-select class="black-text" formCondiv formControlName="doctor_id" id="doctor_id" [nzLoading]="doctorsLoading" [nzDisabled]="isEdit || !this.specialtySelected "
                      nzAllowSearch class="primary-select" (ngModelChange)="getDoctorSchedule()">
                      <nz-option *ngFor="let doctor of doctorsFiltered" [nzLabel]="doctor.user.name" [nzValue]="doctor.id"  [nzDisabled]="isDoctorDisabled(doctor.id)"></nz-option>
                    </nz-select>
                    <nz-form-explain class="error"
                      *ngIf="specialtyForm.get('doctor_id')?.dirty && specialtyForm.get('doctor_id').errors">
                      {{ getInputError("doctor_id") | translate }}</nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <nz-divider class="divider"></nz-divider>
        <div *ngIf="!loading && !specialtySelected.is_external">
          <div nz-row >
            <h2 class="title-top-page">{{ 'HEALTH.APPOINTMENT_FORM.DATE_AND_HOUR_INTERNAL' | translate }}</h2>
          </div>
          <div nz-row style="padding-bottom: 10px;">
            <nz-form-label nzRequired style="color: black;">
                <b>{{ 'HEALTH.APPOINTMENT_FORM.TITLE_DATE' | translate }}</b>
            </nz-form-label>
          </div>
          <div nz-row>
              <nz-tabset class="days-bar">
                  <nz-tab *ngFor="let day of fifteenDays; index as i" (nzSelect)="daySelected(day)"
                      [nzTitle]="dates">
                      <ng-template #dates>
                          <div *ngIf="i === 0" nz-row class="days-bar___weekday"> {{ "HEALTH.APPOINTMENT_FORM.DAYS.TODAY" |
                              translate }}</div>
                          <div *ngIf="i=== 1" nz-row class="days-bar___weekday">{{ "HEALTH.APPOINTMENT_FORM.DAYS.TOMORROW" |
                              translate }}</div>
                              <div *ngIf="i > 1" nz-row class="days-bar___weekday">{{ (day | date : 'EEEE': null : translate.currentLang).charAt(0).toUpperCase() + (day | date : 'EEEE' : null : translate.currentLang).slice(1) }}</div>
                          <div nz-row class="days-bar___date"> {{ day | date : 'dd MMM yyyy'}}</div>
                      </ng-template>
                  </nz-tab>
              </nz-tabset>
          </div>
          <nz-spin [nzSpinning]="loadingAppointments">
            <div nz-row class="title-fields padding-top-20">
              {{ 'HEALTH.APPOINTMENT_FORM.AVAILABLE_PERIOD' | translate }}
            </div>
           <nz-empty *ngIf="appointments.length === 0" [nzNotFoundContent]="'HEALTH.APPOINTMENT_FORM.NO_DATA' | translate"></nz-empty>
            <div nz-row *ngIf="appointments.length > 0">
                <div *ngFor="let appointment of appointments" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="3"
                    [nzLg]="2" [nzXl]="2" [nzXXl]="2" class="box"
                    [ngClass]="{'box___selected': appointmentSelected ? appointmentSelected === appointment : '' , 'box___inactive': appointment.is_available ? false : true }" (click)="appointmentSelect(appointment)">
                    {{ appointment.is_available ? (appointment.start_date | date: 'HH:mm') : ('HEALTH.APPOINTMENT_FORM.UNAVAILABLE' | translate ) }}
                </div>
            </div>
            <nz-form-explain class="color-required" style="padding-top: 10px"
                *ngIf="submitted && (appointmentSelected == null || appointmentSelected == undefined)">
                {{'HEALTH.APPOINTMENT_FORM.REQUIRED_FIELD' | translate}}
            </nz-form-explain>
          </nz-spin>
        </div>
        <div *ngIf="!loading && specialtySelected.is_external">
          <div nz-row >
            <h2 class="title-top-page">{{ 'HEALTH.APPOINTMENT_FORM.DATE_AND_HOUR_EXTERNAL' | translate }}</h2>
          </div>
          <div nz-row style="padding-bottom: 10px;">
            <div nz-col nzXs="24" nzSm="8" nzLg="6">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="date" style="color: black;">
                  <b>{{ 'HEALTH.APPOINTMENT_FORM.TITLE_DATE' | translate }}</b>
                </nz-form-label>
                <nz-form-control>
                  <nz-date-picker formCondiv formControlName="date" id="date" class="primary-datePicker" [nzDisabledDate]="disableDate"></nz-date-picker>
                  <nz-form-explain class="error"
                    *ngIf="specialtyForm.get('date')?.dirty && specialtyForm.get('date').errors">
                    {{ getInputError("date") | translate }}</nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <div nz-row style="padding-bottom: 10px;">
            <div nz-col nzXs="24" nzSm="8" nzLg="6">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="start_hour" style="color: black;">
                  <b>{{ 'HEALTH.APPOINTMENT_FORM.TITLE_HOUR' | translate }}</b>
                </nz-form-label>
                <nz-form-control>
                  <nz-time-picker formCondiv class="primary-timePicker" formControlName="start_hour" id="start_hour" nzFormat="HH:mm" [nzMinuteStep]="minuteStep"
                  [nzPlaceHolder]="'HEALTH.APPOINTMENT_FORM.START_HOUR' | translate"></nz-time-picker>
                  <nz-form-explain class="error"
                    *ngIf="specialtyForm.get('start_hour')?.dirty && specialtyForm.get('start_hour').errors">
                    {{ getInputError("start_hour") | translate }}</nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
        <nz-spin [nzSpinning]="appointmentTypesLoading">
          <div nz-row class="title-fields padding-top-20">
            {{ 'HEALTH.APPOINTMENT_FORM.APPOINTMENT_TYPE' | translate }}
          </div>
          <div nz-row>
            <div *ngFor="let appointment_type of appointmentTypesList" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="3"
              [nzLg]="2" [nzXl]="2" [nzXXl]="2" class="box"
              [ngClass]="{'box___selected': appointmentTypeIdSelected ? appointmentTypeIdSelected === appointment_type.id : '' , 'box___inactive': isAppointmentTypeDisabled(appointment_type.id)}" (click)="appointmentTypeSelect(appointment_type)">
              {{(appointment_type?.translations | languageChange)?.name}}
            </div>
          </div>
          <nz-form-explain class="color-required" style="padding-top: 10px"
              *ngIf="submitted && (appointmentTypeIdSelected == null || appointmentTypeIdSelected == undefined)">
              {{'HEALTH.APPOINTMENT_FORM.REQUIRED_FIELD' | translate}}
          </nz-form-explain>
        </nz-spin>
    </form>
</div>          