<GridLayout
    class="menu__opacity"
    [ngClass]="{
        menu__opacity__active: menuOpen,
        menu__opacity__hidden: !menuOpen && initialMenu
    }"
    top="0" width="100%" height="100%" columns="*" rows="*"
>
    <StackLayout backgroundColor="black"></StackLayout>
</GridLayout>

<StackLayout
    class="menu" [ngClass]="{ menu__active: menuOpen, menu__hidden: !menuOpen && initialMenu }" top="0" width="300" height="100%" backgroundColor="white" (swipe)="swipeClose($event)"
>
<ScrollView row="0">
<WrapLayout orientation="horizontal">
        <!--
            Block to change instituition and school
        -->
        <!--<StackLayout class="menu__content">
        <Label
            class="menu__title"
            text="{{ 'menu.your_institute' | translate }}"
        ></Label>
        <Label
            horizontalAlignment="left"
            class="fisas__instituition__block fisas__bg--{{ institution }}"
            text="{{ institution }} {{ school }}"
            textWrap="true"
        ></Label>
        </StackLayout>
        -->

        <StackLayout class="menu__header fisas__bg--{{ institution }}">
            <Label (tap)="toogleMenuClose()" class="menu__header__close fisas__icon" color="white" text="&#xe91f;"></Label>
            <Label class="menu__header__title" text="{{ 'menu.title' | translate }}"></Label>
        </StackLayout>

        <!--
            Dashboard
        -->
        <StackLayout>
            <Label class="menu__content menu__title" text="{{ 'menu.dashboard' | translate }}"></Label>

            <StackLayout class="menu__li">
                <GridLayout
                class="menu__li-container"
                columns="*, auto"
                (tap)="toogleMenuNav()"
                [nsRouterLink]="['/dashboard']"
                [nsRouterLinkActive]="['menu__li--active']"
                >
                <Label
                    class="menu__li__text"
                    text="{{ 'menu.home' | translate }}"
                    textWrap="true"
                ></Label>
                <Label col="1" class="fisas__icon" text="&#xe939;"></Label>
                </GridLayout>
            </StackLayout>
        </StackLayout>

        <!--
            Services
        -->
    <StackLayout>
        <Label class="menu__content menu__title" text="{{ 'menu.services' | translate }}"></Label>
        <!-- Meals -->
        <StackLayout class="menu__li">
            <GridLayout
                class="menu__li-container"
                columns="*, auto"
                (tap)="toogleMenuNav()"
                [nsRouterLink]="['/meals/list']"
                [nsRouterLinkActive]="['menu__li--active']"
            >
                <Label class="menu__li__text" text="{{ 'menu.meals' | translate }}" textWrap="true"></Label>
                <Label col="1" class="fisas__icon" text="&#xe926;"></Label>
            </GridLayout>
        </StackLayout>
        <!-- News -->
        <StackLayout class="menu__li">
            <GridLayout
                class="menu__li-container"
                columns="*, auto"
                (tap)="toogleMenuNav()"
                [nsRouterLink]="['/news/list']"
                [nsRouterLinkActive]="['menu__li--active']"
            >
                <Label fisasButton class="menu__li__text" text="{{ 'menu.news' | translate }}" textWrap="true"></Label>
                <Label col="1" class="fisas__icon" text="&#xe949;"></Label>
            </GridLayout>
        </StackLayout>

        <!-- Current account -->
        <StackLayout class="menu__li" *ngIf="isLogged">
            <GridLayout class="menu__li-container" columns="*, auto" (tap)="toogleMenuNav()"
                [nsRouterLink]="['/current-account/list']"
                [nsRouterLinkActive]="['menu__li--active']"
            >
                <Label fisasButton class="menu__li__text" text="{{ 'menu.current_account' | translate }}" textWrap="true"></Label>
                <Label col="1" class="fisas__icon" text="&#xe932;"></Label>
            </GridLayout>
        </StackLayout>

        <!-- !Current Account -->
        <StackLayout class="menu__li menu__li--disable" *ngIf="!isLogged">
            <GridLayout
                class="menu__li-container"
                columns="*, auto"
            >
                <Label class="menu__li__text" text="{{ 'menu.current_account' | translate }}" textWrap="true"></Label>
                <Label col="1" class="fisas__icon" text="&#xe932;"></Label>
            </GridLayout>
        </StackLayout>
        <!-- Mobility -->
        <StackLayout class="menu__li">
            <GridLayout class="menu__li-container" columns="*, auto" (tap)="toogleMenuNav()"
                [nsRouterLink]="['/mobility/dashboard']"
                [nsRouterLinkActive]="['menu__li--active']"
            >
                <Label fisasButton class="menu__li__text" text="{{ 'menu.mobility' | translate }}" textWrap="true"></Label>
                <Label col="1" class="fisas__icon" text="&#xe92e;"></Label>
            </GridLayout>
        </StackLayout>
        <!-- !UBike -->
        <StackLayout class="menu__li menu__li--disable" *ngIf="!isLogged">
            <GridLayout
                class="menu__li-container"
                columns="*, auto"
            >
                <Label class="menu__li__text" text="{{ 'menu.ubike' | translate }}" textWrap="true"></Label>
                <Label col="1" class="fisas__icon" text="&#xe948;"></Label>
            </GridLayout>
        </StackLayout>
        <!-- UBike -->
        <StackLayout class="menu__li " *ngIf="isLogged && !ubike">
            <GridLayout
                class="menu__li-container"
                columns="*, auto"
                [nsRouterLink]="['/ubike/start']"
                [nsRouterLinkActive]="['menu__li--active']"
                (tap)="toogleMenuNav()"
            >
                <Label class="menu__li__text" text="{{ 'menu.ubike' | translate }}" textWrap="true"></Label>
                <Label col="1" class="fisas__icon" text="&#xe948;"></Label>
            </GridLayout>
        </StackLayout>
        <!-- UBike -->
        <StackLayout class="menu__li" *ngIf="isLogged && ubike">
            <GridLayout
                class="menu__li-container"
                columns="*, auto"
                [nsRouterLink]="['/ubike/dashboard']"
                [nsRouterLinkActive]="['menu__li--active']"
                (tap)="toogleMenuNav()"
            >
                <Label class="menu__li__text" text="{{ 'menu.ubike' | translate }}" textWrap="true"></Label>
                <Label col="1" class="fisas__icon" text="&#xe948;"></Label>
            </GridLayout>
        </StackLayout>

        <!-- 
          SPORT
         -->
        <!-- <StackLayout class="menu__li menu__li--disable">
          <GridLayout class="menu__li-container" columns="*, auto">
            <Label
              textDecoration="line-through"
              class="menu__li__text"
              text="{{ 'menu.sport' | translate }}"
              textWrap="true"
            ></Label>
            <Label col="1" class="fisas__icon" text="&#xe947;"></Label>
          </GridLayout>
        </StackLayout> -->
    </StackLayout>

    <!--
        About Institute
    -->
    <StackLayout>
        <Label class="menu__content menu__title" text="{{ 'menu.about' | translate }}"></Label>

        <StackLayout class="menu__li">
            <GridLayout
                class="menu__li-container"
                columns="*, auto"
                (tap)="toogleMenuNav()"
                [nsRouterLink]="['/contacts']"
                [nsRouterLinkActive]="['menu__li--active']"
            >
                <Label fisasButton class="menu__li__text" text="{{ 'menu.contacts' | translate }}" textWrap="true"></Label>
            </GridLayout>
        </StackLayout>

        <StackLayout class="menu__li">
            <GridLayout
                class="menu__li-container"
                columns="*, auto"
                (tap)="toogleMenuNav()"
                [nsRouterLink]="['/about']"
                [nsRouterLinkActive]="['menu__li--active']"
            >
                <Label fisasButton class="menu__li__text" text="{{ 'menu.about_app' | translate }}" textWrap="true"></Label>
            </GridLayout>
        </StackLayout>
    </StackLayout>

    <!--
        Profile
    -->
    <StackLayout>
        <Label class="menu__content menu__title" text="{{ 'menu.profile' | translate }}"></Label>

        <StackLayout class="menu__li menu__li--disable" *ngIf="!isLogged">
            <GridLayout
                class="menu__li-container"
                columns="*, auto"
            >
                <Label class="menu__li__text" text="{{ 'menu.allergens' | translate }}" textWrap="true"></Label>
            </GridLayout>
        </StackLayout>


        <StackLayout class="menu__li" *ngIf="isLogged">
            <GridLayout
                class="menu__li-container"
                columns="*, auto"
                (tap)="toogleMenuNav()"
                [nsRouterLink]="['/user/allergens']"
                [nsRouterLinkActive]="['menu__li--active']"
            >
                <Label class="menu__li__text" text="{{ 'menu.allergens' | translate }}" textWrap="true"></Label>
            </GridLayout>
        </StackLayout>

        <StackLayout class="menu__li">
            <GridLayout
                class="menu__li-container"
                columns="*, auto"
                (tap)="toogleMenuNav()"
                [nsRouterLink]="['/user/refectories']"
                [nsRouterLinkActive]="['menu__li--active']"
            >
                <Label class="menu__li__text" text="{{ 'menu.refectory' | translate }}" textWrap="true"></Label>
            </GridLayout>
        </StackLayout>

        <StackLayout class="menu__li">
            <GridLayout
                class="menu__li-container"
                columns="*, auto"
                (tap)="toogleMenuNav()"
                [nsRouterLink]="['/user/languages']"
                [nsRouterLinkActive]="['menu__li--active']"
            >
                <Label class="menu__li__text" text="{{ 'menu.language' | translate }}" textWrap="true"></Label>
            </GridLayout>
        </StackLayout>

        <StackLayout class="menu__li">
            <GridLayout
                class="menu__li-container"
                columns="*, auto"
                (tap)="logout()"
            >
                <Label class="menu__li__text" text="{{ 'menu.logout' | translate }}" textWrap="true"></Label>
            </GridLayout>
        </StackLayout>
    </StackLayout>
</WrapLayout>
</ScrollView>
</StackLayout>
