@import "~/scss/_variables";

.menu {
  /* ----------------------- */
  /* Common */
  transform: translateX(-300);
  color: $black;

  .fisas {
    &__icon {
      color: $black;
      font-size: 24;
    }
  }

  /* ----------------------- */
  /* Component */

  &__active {
    animation-name: openAnimation;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }

  &__hidden {
    animation-name: hiddenAnimation;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }

  &__header {
    width: 100%;
    padding: 10 20 15 30;

    &__close {
      width: 30;
      text-align: right;
      horizontal-align: right;
    }

    &__title {
      font-family: "Montserrat", "Montserrat-Bold";
      font-weight: 700;
      font-size: 21;
      color: $white;
      margin-top: 15;
    }
  }

  &__content {
    padding: 0 30;
  }

  &__title {
    font-family: "Montserrat", "Montserrat-Bold";
    font-weight: 700;
    font-size: 11;
    text-transform: uppercase;
    margin-top: 36;
    margin-bottom: 6;
  }

  &__li {
    vertical-align: center;

    &-container {
      padding: 15 30;
    }

    &__text {
      font-family: "Montserrat", "Montserrat-Medium";
      font-weight: 500;
      font-size: 14;
    }

    &--disable {
      color: #aaaaaa;

      .fisas__icon {
        color: #aaaaaa;
      }
    }

    &--through {
      text-decoration: underline;
    }

    &--active {
      background: $super-light-grey;

      .fisas__icon {
        color: $black;
      }
    }
  }
}

/* ----------------------- */
/* Animations */

@keyframes openAnimation {
  from {
    transform: translateX(-300);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes hiddenAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-300);
  }
}

@keyframes openAnimationOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.65;
  }
}

@keyframes hiddenAnimationOpacity {
  from {
    opacity: 0.65;
  }
  to {
    opacity: 0;
  }
}

.menu__opacity {
  opacity: 0;

  &__active {
    animation-name: openAnimationOpacity;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  &__hidden {
    animation-name: hiddenAnimationOpacity;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
}
