<!--Sidebar Mobile-->
<nz-drawer [nzClosable]="false" [nzVisible]="!($siderDrawerCollapsed | async)" [nzPlacement]="placement" nzTitle="Menu"
  (nzOnClose)="closeSideMenu()" [nzWidth]="300">

  <ul class="menu">

    <li class="menu__group">
      <span [routerLink]="['/']">
        <i class="menu__group__icon" nz-icon type="icons:icons-services"></i>
        <span class="title">{{'MISC.DASHBOARD' | translate}}</span>

      </span>
    </li>

    <ng-container *ngFor="let item of siderItems">

      <li class="menu__group" [class.disabled]='item.disable'>
        <span (click)="selectModule(item)">
          <nz-badge *ngIf="item.serviceId == 2" [nzStyle]="{ backgroundColor: '#d0021b', size: '10px' }"
            [nzCount]="total">
            <i class="menu__group__icon" id="icon-menu-start-mobile" nz-icon type="{{item?.icon}}"></i>
          </nz-badge>
          <i *ngIf="item.serviceId != 2" class="menu__group__icon" id="icon-menu-start-mobile" nz-icon
            type="{{item?.icon}}"></i>
          <span class="title">{{item?.name ? ((item?.name | languageChange)?.name) : ''}}</span>
        </span>
        <ul>
          <ng-container *ngFor="let children of item.children">
            <li *ngIf="children.visible" class="menu__item" [class.disabled]='children.disable'
              [routerLink]="[children.link]">{{children.name | translate}}</li>
          </ng-container>
        </ul>
      </li>

    </ng-container>

    <li class="menu__group menu__language">
      <nz-dropdown>
        <a nz-dropdown>
          <i class="menu__group__icon" nz-icon nzType="icons:icons-language"></i>
          <span *ngIf="!($siderDrawerCollapsed | async)" class="nav-text sidebar__lang__text title">{{ 'CORE.LANGUAGES.'
            +
            translate.currentLang | translate }}</span>

        </a>
        <ul nz-menu nzSelectable>
          <li nz-menu-item *ngFor="let lang of translate.getLangs()" (click)="langChange(lang)"
            [nzSelected]="translate.currentLang === lang">
            {{ 'CORE.LANGUAGES.' + lang | translate }}
          </li>
        </ul>
      </nz-dropdown>
    </li>
  </ul>
</nz-drawer>
