@import 'theme';

::ng-deep {
  .ant-drawer-header {
    background: white!important;
    border: none;
  }

  .ant-drawer-title {
    color: black;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
  }

  .ant-drawer-body {
    padding: 10px;
  }
}

.menu {
    list-style-type:none;
    font-family: Montserrat;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    padding: 0;
    &__group {
      font-weight: 500;
      line-height: 1.64;
      color: #222222;
      cursor: pointer;
      margin-bottom: 25px;
      :focus {
        outline: none;
      }
      ul {
        padding: 0 0 0 48px;
      }
      &__icon {
        font-size: 28px;
      }
    }
    &__item {
      list-style-type:none;
      font-size: 12px;
      font-weight: 300;
      line-height: 1.29;
      color: #222222;
      cursor: pointer;
      margin: 10px 0 10px 0;
    }

      &__language {
        a {
        color: #222222;
        }
        bottom: 8px;
        margin-bottom: 0px !important;
      }
  }

#icon-menu-start-mobile::ng-deep svg {
    g path {
        fill: black;
    }
}

.title {
  padding-left: 20px;
}