<ng-container *ngIf="data">
  <perfect-scrollbar class="menu-vertical-item"  [ngStyle]="{ height: height }">
    <ng-container *ngIf="data">
      <div class="menu-vertical-item__help">
        <div class="menu-vertical-item__help-subtitle">
          {{ data.subtitle ? data.subtitle : ('MENU.ITEM.SUBTITLE' | translate) }}
        </div>
        <div class="menu-vertical-item__help-title">
          {{ data.title ? data.title : ('MENU.ITEM.TITLE' | translate) }}
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="data.categories">

      <div *ngFor="let category of data.categories; index as i">
        <div *ngIf="category.type===type || type==='all'"
          (click)="handlerOptionChange(category.id)"
          [ngClass]="{'active': category.active}"
          class="menu-vertical-item__item-wrap">

          <div class="menu-vertical-item__item">
            {{ category.name }}
            <p *ngIf="category.description" class="menu-vertical-item__item-description">
              {{ category.description }}
            </p>
          </div>
        </div>
      </div>

    </ng-container>

    <div class="menu-vertical-item__scroll-space"></div>

  </perfect-scrollbar>
</ng-container>
