@import 'default-theme.less';

:host::ng-deep {

  .menu-vertical-item {

    width: 100%;
    height: 1008px;

    border: 1px solid @fisas-grey-03;
    background-color: @fisas-grey-02;

    &__help {
      display: flex;
      flex-wrap: wrap;
      align-items: left;
      align-content: flex-end;
      width: 100%;
      height: 215px;
      padding: 18px;
      box-shadow: inset 0 1px 0 0 lighten(@fisas-grey-01, 10%), inset 0 -1px 0 0 darken(@fisas-grey-02, 10%);
    }

    &__help-subtitle {
      width: 100%;
      align-self: flex-end;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: @fisas-grey-09;
    }

    &__help-title {
      width: 100%;
      align-self: flex-end;
      font-size: 24px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: normal;
      color: @fisas-grey-09;
    }

    &__item-wrap {
      padding: 24px 18px;
      box-shadow: inset 0 1px 0 0 lighten(@fisas-grey-01, 10%), inset 0 -1px 0 0 darken(@fisas-grey-02, 10%);
      cursor: pointer;

      &.active {
        background-color: var(--fisas-01);

        .menu-vertical-item__item,
        .menu-vertical-item__item-description {
          color: @fisas-grey-01;
        }
      }
    }

    &__item {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: var(--fisas-07);
    }

    &__item-description {
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: @fisas-grey-07;
    }

    &__scroll-space {
      width: 100%;
      height: 200px;
    }

  }

}