<div class="present-appointment" *ngIf="appointment">
  <div nz-row [nzType]="'flex'">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="4" [nzXl]="3" [nzXXl]="3">
          <div class="status">
            <nz-tag class="tab-status" [nzColor]="(configStatus | filterStatusConfig: appointment.status.toString()).color" (click)="openHistoric($event)">
              <label>{{ 'HEALTH.APPOINTMENTS_TAB.STATUS.' + appointment.status.toString().toUpperCase() | translate }}</label>
            </nz-tag>
          </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="11" [nzXl]="12" [nzXXl]="12">
          <div class="appointment-card--title">
             {{ (appointment.specialty.translations | languageChange).name }}
          </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="9" [nzXl]="9" [nzXXl]="9" style="text-align: right;">
          <app-button [translate]="'MISC.CONSULT'" style="margin-left: 2px; margin-top:2px" [type]="'primary'" (click)="openDetail(appointment.id)" ></app-button>
      </div>
  </div>
  <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
          <div nz-row>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="4" [nzXl]="3" [nzXXl]="3"
                  class="padding-top-15">
                  <div nz-row>
                      <span class="title-detail">{{ 'HEALTH.APPOINTMENTS_TAB.TABLE.LABEL_DATE_HOUR' | translate }}</span>
                  </div>
                  <div nz-row>
                      <span class="description-detail"> {{ appointment.date | date: "dd/MM/yyyy"}} - {{ appointment.start_hour | utcHourConvert  }}</span>
                  </div>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="5" [nzXl]="4" [nzXXl]="4"
                  class="padding-top-15">
                  <div nz-row>
                      <span class="title-detail">{{ 'HEALTH.APPOINTMENTS_TAB.TABLE.LABEL_TYPE' | translate }}</span>
                  </div>
                  <div nz-row>
                      <span class="description-detail">{{ (appointment.appointment_type.translations | languageChange).name }}</span>
                  </div>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="5" [nzXl]="4" [nzXXl]="4" class="padding-top-15">
                  <div nz-row>
                      <span class="title-detail">{{ 'HEALTH.APPOINTMENTS_TAB.TABLE.LABEL_PLACE' | translate }}</span>
                  </div>
                  <div nz-row>
                      <span class="description-detail">{{ appointment.specialty.place.name }}</span>
                  </div>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="5" [nzXl]="4" [nzXXl]="4" class="padding-top-15">
                  <div nz-row>
                      <span class="title-detail">{{ 'HEALTH.APPOINTMENTS_TAB.TABLE.LABEL_DOCTOR' | translate }}</span>
                  </div>
                  <div nz-row>
                      <span class="description-detail">{{ appointment.doctor.user.name }} </span>
                  </div>
              </div>
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="5" [nzXl]="6" [nzXXl]="5"
                  class="padding-top-15">
                  <div nz-row>
                      <span class="title-detail">{{ 'HEALTH.APPOINTMENTS_TAB.TABLE.LABEL_ICS' | translate }}</span>
                  </div>
                  <div nz-row>
                      <span class="description-detail" (click)="getCalendarExport(appointment.id)"><i nz-icon nzType="icons:icons-calendar" class="icon icon__calendar" nzTheme="outline"></i></span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<nz-modal (nzOnCancel)="modalDetail = false" [(nzVisible)]="modalDetail" [nzTitle]="null"
    [nzContent]="modalContentDetailApplication" [nzFooter]="null">
    <ng-template #modalContentDetailApplication>
        <div nz-row class="padding-bottom-15">
          <nz-tag class="tab-status cursor-cont" [nzColor]="(configStatus | filterStatusConfig: appointmentHistoric.appointment.status.toString()).color" (click)="openHistoric($event)">
            <label>{{ 'HEALTH.APPOINTMENTS_TAB.STATUS.' + appointmentHistoric.appointment.status.toString().toUpperCase() | translate }}</label>
          </nz-tag>
        </div>
        <h2 class="title-top-page">
            <div class="application-card--title">
                <div>{{ (appointmentHistoric.appointment.specialty.translations | languageChange).name }}</div>
            </div>
        </h2>

        <div *ngFor="let hist of appointmentHistoric?.historic, let idx = index" nz-row
            [ngClass]="{'box': !isPair(idx), 'box-pair': isPair(idx)}">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="21" [nzLg]="21" [nzXl]="22" [nzXXl]="22">
                <div nz-row>
                    {{hist?.created_at | date: 'dd-MM-yyyy'}} - {{hist?.created_at | date: 'HH:mm'}}h
                </div>
                <div nz-row>
                    <b><span class="history__status">{{'HEALTH.APPOINTMENTS_RESUME.STATUS.' + hist.status.toString().toUpperCase() | translate}}</span></b>
                </div>
            </div>
        </div>
    </ng-template>
</nz-modal>