<div perfectScrollbar style="background-color: white;" class="content--padding ps scroll-container">
  <nz-card style="margin-bottom: 16px;">
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="19">
        <nz-select style="width: 100%;" [(ngModel)]="selectedService" nzAllowClear nzPlaceHolder="Escolha uma cantina"
          (ngModelChange)="serviceChanged($event)">
          <nz-option *ngFor="let service of services" [nzValue]="service" [nzLabel]="service.name"
            ></nz-option>
        </nz-select>
      </div>
      <div nz-col nzSpan="4">
        <nz-week-picker [(ngModel)]="selectedWeek" (ngModelChange)="weekChanged($event)"
          nzPlaceHolder="Escolha a Semana"></nz-week-picker>
      </div>
      <div nz-col nzSpan="1">
        <button nz-button nzType="dashed" nzShape="circle" nz-tooltip nzTitle="Copiar semana" [disabled]="!('alimentation:menus:update' | hasPermission)"
          (click)="copyWeek()"><i nz-icon nzType="copy" nzTheme="outline"></i></button>
      </div>
    </div>
  </nz-card>
  <div style="padding: 8px">
    <nz-spin [nzSpinning]="loading">
      <nz-timeline>
        <nz-timeline-item *ngFor="let day of week">
          <h3>{{ day | date:'fullDate' | titlecase }}
            <button [disabled]="!('alimentation:menus:update' | hasPermission)" nz-button nzType="dashed" nzShape="circle" nz-tooltip nzTitle="Copiar refeições deste dia"
              (click)="copyDay(day)"><i nz-icon nzType="copy" nzTheme="outline"></i></button>
          </h3>

          <div nz-row nzType="flex" [nzGutter]="8" style="padding: 8px;">
            <div nz-col [nzXs]="24" [nzMd]="12" style="padding-bottom: 8px">
              <nz-card>
                <fi-sas-show-menu [menu]="getMenuOfDay(day, Meal.LUNCH)" [meal]="Meal.LUNCH" [day]="day"
                  [service]="selectedService" (update)="updateMenuIfCan($event)"></fi-sas-show-menu>
              </nz-card>
            </div>
            <div nz-col [nzXs]="24" [nzMd]="12" style="padding-bottom: 8px">
              <nz-card>
                <fi-sas-show-menu [menu]="getMenuOfDay(day, Meal.DINNER)" [meal]="Meal.DINNER" [day]="day"
                  [service]="selectedService" (update)="updateMenuIfCan($event)"></fi-sas-show-menu>
              </nz-card>
            </div>
          </div>
        </nz-timeline-item>
      </nz-timeline>
    </nz-spin>
  </div>
</div>