<div class="content">
  <form nz-form [formGroup]="externalUserForm">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="name">Nome</nz-form-label>
      <nz-form-control nzErrorTip="Campo obrigatório">
        <input nz-input formControlName="name" id="name" name="name" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired nzFor="gender">Género</nz-form-label>
      <nz-form-control nzErrorTip="Campo obrigatório">
        <nz-radio-group formControlName="gender">
          <label *ngFor="let gender of genders" nz-radio nzValue="{{ gender.value}}"><span>
              {{ gender.label }}</span>
          </label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <div nz-row>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="email">Email</nz-form-label>
          <nz-form-control nzErrorTip="Campo inválido">
            <input nz-input formControlName="email" id="email" name="email" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="0" nzMd="2"></div>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="phone">Contacto</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="phone" id="phone" name="phone" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>


    <div nz-row>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="tin">NIF</nz-form-label>
          <nz-form-control nzErrorTip="Campo inválido">
            <input nz-input mask="000000000" formControlName="tin" id="tin" name="tin" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>


    <nz-form-item>
      <nz-form-label nzRequired nzFor="function_description">Função</nz-form-label>
      <nz-form-control>
        <textarea maxlength="255" rows="4" nz-input formControlName="function_description" id="function_description"
          name="function_description"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired nzFor="address">Morada</nz-form-label>
      <nz-form-control nzErrorTip="Campo obrigatório">
        <input nz-input formControlName="address" id="address" name="address" />
      </nz-form-control>
    </nz-form-item>

    <div nz-row>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="postal_code">Código Postal</nz-form-label>
          <nz-form-control nzErrorTip="Campo inválido">
            <input nz-input formControlName="postal_code" id="postal_code" name="postal_code"
              [dropSpecialCharacters]="false" mask="0000-000" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="0" nzMd="2">
      </div>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="city">Cidade</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="city" id="city" name="city" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="country">País</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <nz-select nzMode="default" nzShowSearch formControlName="country" id=country>
              <nz-option *ngFor="let country of countries" [nzLabel]="country.value" [nzValue]="country.translate">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>


    <nz-form-item nzErrorTip="Campo obrigatório">
      <nz-form-label nzRequired nzFor="description">Descrição da empresa</nz-form-label>
      <nz-form-control>
        <textarea maxlength="255" rows="4" nz-input formControlName="description" id="description" name="description"
          style="width: 100%;"></textarea>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-label nzFor="description">Anexo</nz-form-label>
      <nz-form-control>
        <fi-sas-upload-file formControlName="file_id" id="file_id" name="file_id"></fi-sas-upload-file>
      </nz-form-control>
    </nz-form-item>

  </form>
</div>

<div class="space" nz-row>
  <button *ngIf="idToUpdate" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="externalUserLoading" [disabled]="externalUserLoading"
    (click)="submit(externalUserForm.valid, externalUserForm.value)" [nzType]="'primary'">{{idToUpdate ? 'Editar' :
    'Criar'}}</button>
</div>