<div class="user_info screen" nzType="flex" nzJustify="space-around" >
    <nz-spin [nzSpinning]="orderLoading" *ngIf="orderSelectedBar" style="height: 100%;">
        <div nz-row class="buttons" style="height: 10%;">
            <div nz-col nzSpan="10">
                <nz-spin [nzSpinning]="isloadingWaitOrder">
                    <button *ngIf="orderSelectedBar.status != 'WAITING'" class="button-tertiary cursor" (click)="wait()">Colocar em Espera</button>
                </nz-spin>
            </div>
            <div nz-col nzSpan="4">

            </div>
            <div nz-col nzSpan="10" class="button-right">
                <nz-spin [nzSpinning]="isloadingDeliverOrder">
                    <button class="button-tertiary cursor button-deliver" (click)="deliver()">Entregar Tudo </button>
                </nz-spin>
               
            </div>
        </div>
        <div class="list">
            <div nz-row class="space-title">
                <div nz-col nzSpan="2">
                    <label class="title-table">QTD</label>
                </div>
                <div nz-col nzSpan="22">
                    <label class="title-table">DESCRIÇÃO</label>
                </div>
            </div>
            <nz-divider style="margin: 0px;"></nz-divider>
            <div *ngIf="orderSelectedBar?.order_lines.length>0">
                <div *ngFor="let prod of orderSelectedBar?.order_lines">
                    <div nz-row class="space-text-table">
                        <div nz-col nzSpan="2" class="color-qtd">
                            <b>{{prod?.quantity}}</b>
                        </div>
                        <div nz-col nzSpan="22">
                          <div nz-row>
                            <div nz-col nzSpan="10">
                                <div nz-row [ngClass]="{'item-delete':prod?.status == 'DELETED'}">
                                    <b>{{prod?.product?.translations[0]?.name}}</b>
                                </div>
                                <div nz-row class="desc">
                                    {{prod?.product?.translations[0]?.description}}
                                </div>
                            </div>
                            <div nz-col nzSpan="3" class="desc">
                                {{prod?.price | number: '1.2-2'}} €
                            </div>
                            <div nz-col nzSpan="10">
                                <div nz-row>
                                    <div nz-col nzSpan="7">
                                        <i nz-icon nzType="close-circle" *ngIf="prod?.status != 'SERVED' && prod?.status != 'DELETED'" nzTheme="outline" style="cursor: pointer; font-size: 20px;" (click)="closeItem(prod)"></i>
                                    </div>
                                    <div nz-col nzSpan="17">
                                        <button disabled class="button-tertiary cursor" *ngIf="prod?.status == 'DELETED'" style="color: grey !important;">Eliminado</button>
                                        <nz-spin [nzSpinning]="loadingDeliverItem"><button class="button-tertiary cursor button-deliver" *ngIf="prod?.status != 'SERVED' && prod?.status != 'DELETED'" [disabled]="loadingDeliverItem" (click)="deliverItem(prod)">Entregar </button></nz-spin>
                                        <button class="button-tertiary cursor button-served" *ngIf="prod?.status == 'SERVED'" disabled>Entregue </button>
                                    </div>
                                </div>
                               
                            </div>
                          </div>
                        </div>
                        
                    </div>

                    <nz-divider style="margin: 0px;"></nz-divider>
                </div>
                <div style="text-align: right;">
                    <label class="title-table">TOTAL: </label>{{orderSelectedBar?.total_price | number: '1.2-2'}} €
                </div>
            </div>
            <div *ngIf="orderSelectedBar?.order_lines.length==0" class="emptyDate" nz-col>
                Sem Resultados
            </div>
        </div>

    </nz-spin>
</div>




<nz-modal [(nzVisible)]="modalDeleteItemVisible" nzWrapClassName="vertical-center-modal" [nzMask]="false"
    nzOkText="Anular" nzCancelText="Cancelar" [nzFooter]="modalDeleteItem"
    (nzOnCancel)="modalDeleteItemVisible = false;">
    <div style="text-align: center;">
        <p class="modal__title">Pretende eliminar o item?</p>
        <span>Ao eliminar o item:</span>
        <div class="balance_positive" >{{selectProd?.product?.translations[0]?.name}}</div>
        <p>receberá o reembolso na totalidade</p>
    </div>

</nz-modal>
<ng-template #modalDeleteItem>
    <div nz-row [nzGutter]="12">
        <div nz-col nzSpan="12">
            <nz-spin [nzSpinning]="isloadingDeleteOrder">
                <button class="button-tertiary button-tertiary--danger cursor" (click)="deleteItem()">
                    Eliminar Item
                </button>
            </nz-spin>
        </div>

        <div nz-col nzSpan="12">
            <button class="button-secundary cursor" (click)="modalDeleteItemVisible = false;">
                Cancelar
            </button>
        </div>
    </div>

</ng-template>