@import "theme";

.buttons {
    padding: 15px;
}

.button-right{
    float: right;
}

.button-deliver {
    color:white;
    background-color: @primary-6;
    border: none;
}

.button-served {
    background-color: white;
    color: @primary-6;
}

.list {
    overflow-x: hidden;
    height: 84%; 
    padding-left: 20px;
    padding-right: 20px;
}

.space-title {
  margin-top: 20px;
  padding-bottom: 10px;
}

.title-table {
    font-size: 12px;
    color: @primary-6;
    font-weight: bold;
}

.space-text-table {
    padding-top: 10px;
    padding-bottom: 20px;
}

.color-qtd {
    color: @primary-6;
}

:host::ng-deep .ant-spin-container {
    height: 100%;
}

.desc {
    font-size: 12px;
    color: #979797;
}

.balance_positive {
    color: #1ba974;
}

.emptyDate {
    text-align: center;
    margin-top: 10px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #666666;
  }

.item-delete {
    text-decoration: line-through;
}