@import "default-theme.less";

.queue-root {
  height: 94vh;
}

:host::ng-deep {

  .height-news {
    height: 340px !important;
    padding-top: 60px !important;
  }

  nz-row {
    width: auto;
  }

  .columnTwo {
    background-color: var(--fisas-06);
  }

  .media {
    height: 681px;
    fi-media {
      .media {
        height: 681px;
        &--empty {
          height: 681px;
        }

        &__progress-bar-timer {
          position: relative;
          bottom: 5px;
        }
      }
    }
  }

  .logo {
    font-size: 60px;
    padding: 20px 0 20px 0;
    font-weight: bold;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.11px;
    text-align: center;
    color: white;
    span {
      font-weight: 300;
      margin-left: 15px;
    }
  }

  .ticker {
    fi-ticker {
      .ticker {
        top: 0px;
      }
    }
  }


  .last-ticket {
    background-color: var(--fisas-06);
    width: 100%;
    height: 281px;
    padding-top: 35px;
    font-family: Montserrat;
    font-style: normal;
    &__content {
      &--titles {
        margin-left: 10px;
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        line-height: 2.4;
        letter-spacing: -0.06px;
        color: #ffffff;
        &--desk {
          padding-right: 10px;
          text-align: right;
        }
      }
      &--values {
        border-radius: 30px;
        background-color: #ffffff;
        line-height: 2.4;
        height: 138px;
        margin-left: 10px;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        &--desk-operator {
          display: flex;
          &--operator-info {
            padding: 47px 10px 47px 10px;
          }
          &--picture {
            width: 138px;
            height: 138px;
            border-radius: 30px;
          }
          &--service-by {
            color: var(--fisas-03);
            font-weight: 300;
          }
          &--name {
            color: var(--fisas-03);
            font-weight: bold;
          }
        }
        &--ticket-number {
          font-size: 55px;
          padding: 30px 10px 20px 10px;
          font-weight: bold;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -1.11px;
          text-align: center;
          color: var(--fisas-01);
          :before {
            content: "";
            position: absolute;
            left: 0;
            top: 10px;
            height: 118px;
            width: 0;
            opacity: 0.21;
            border-right: solid 5px var(--fisas-03);
          }
          &--desk-letter {
            color: var(--fisas-03);
          }
        }
        &--service {
          padding: 30px 10px 30px 10px;
          font-family: Montserrat;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: var(--fisas-03);
          &--name {
            font-size: 32px;
          }
          &--queue {
            opacity: 0.59;
            font-size: 16px;
          }
          :before {
            content: "";
            position: absolute;
            left: 0;
            top: 10px;
            height: 118px;
            width: 0;
            opacity: 0.21;
            border-right: solid 5px var(--fisas-03);
          }
        }
        &--desk {
          font-size: 70px;
          font-weight: bold;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -1.11px;
          text-align: right;
          color: #d7b253;
          padding: 20px 10px 20px 0;
          :before {
            content: "";
            position: absolute;
            left: 0;
            top: 10px;
            height: 118px;
            width: 0;
            opacity: 0.21;
            border-right: solid 5px var(--fisas-03);
          }
        }
      }
    }
  }

  .alt-color-text {
    color: white !important;
  }

  .title-service {
    text-align: center;
    text-transform: uppercase;
  }

  .ticket {
    background-color: var(--fisas-06);
    width: 780px;
    height: 355px;
    font-family: Montserrat;
    font-style: normal;
    &__content {
      position: relative;
      top: 35px;
      &--titles {
        margin-left: 15px;
        font-size: 13px;
        font-weight: 300;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: -0.06px;
        color: #ffffff;

        &--ticket-number {
          padding-left: 10px;
        }
        &--desk {
          padding-left: 10px;
        }
      }
      &--values {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 30px;
        background-color: #ffffff;
        min-height: 40px;
        font-family: Montserrat;

        &--alt-background {
          background-color: var(--fisas-01);
        }
        &--ticket-number {
          font-size: 22px;
          padding: 8px 5px 5px 5px;
          font-weight: bold;
          line-height: normal;
          letter-spacing: -1.11px;
          text-align: center;
          color: var(--fisas-01);
          border-right: solid 1px var(--fisas-01);
          &--desk-letter {
            color: var(--fisas-03);
          }
        }
        &--service {
          padding: 5px 5px 5px 5px;
          font-family: Montserrat;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: var(--fisas-03);
          border-right: solid 1px var(--fisas-01);
          &--name {
            font-size: 16px;
            font-weight: 600;
          }
          &--queue {
            font-size: 14px;
          }
        }
        &--desk {
          font-size: 22px;
          font-weight: bold;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -1.11px;
          text-align: center;
          color: #d7b253;
          padding: 8px 5px 5px 5px;
        }
      }
    }
  }

.service-title {
  padding: 40px 10px 30px 10px !important;
  text-align: left !important;
}

}
