<div nz-row class="queue-root">
  <div nz-col class="columnOne" nzSpan="13">
    <!-- Header -->
    <div nz-col class="header">
      <fi-header></fi-header>
    </div>

    <!-- Media -->
    <div nz-col class="media">
      <fi-media></fi-media>
    </div>

    <!-- Last Ticket -->
  
    <div nz-col class="last-ticket" [ngClass]="{'height-news':!feed}">
      <div class="last-ticket__content">
        <div nz-row class="last-ticket__content--titles">
          <div nz-col class="last-ticket__content--titles--desk-operator" nzSpan="6">
            {{ "LAST_TICKET.DESK_OPERATOR" | translate }}
          </div>
          <div nz-col class="last-ticket__content--titles--ticket-number" nzSpan="5">
            {{ "LAST_TICKET.TICKET" | translate }}
          </div>
          <div nz-col class="last-ticket__content--titles--service" nzSpan="7">
            {{ "LAST_TICKET.SERVICE" | translate }}
          </div>
          <div nz-col class="last-ticket__content--titles--desk" nzSpan="2">
            {{ "LAST_TICKET.DESK" | translate }}
          </div>
        </div>

        <div nz-row class="last-ticket__content--values" [@simpleFadeAnimation]="'in'">
          <div nz-col class="last-ticket__content--values--desk-operator" nzSpan="6">
            <div>
              <img src="assets/images/hand.jpg" class="last-ticket__content--values--desk-operator--picture" />
            </div>
            <div class="last-ticket__content--values--desk-operator--operator-info">
              <div class="last-ticket__content--values--desk-operator--service-by">
                {{ "LAST_TICKET.SERVICED_BY" | translate }}
              </div>

              <div class="last-ticket__content--values--desk-operator--name">
                {{ (nextTicketObservable | async)?.operator }}
              </div>
            </div>
          </div>

          <div nz-col class="last-ticket__content--values--ticket-number" nzSpan="5">
            <span class="last-ticket__content--values--ticket-number--desk-letter">{{ (nextTicketObservable |
              async)?.ticket}}</span>
          </div>

          <div nz-col class="last-ticket__content--values--service" nzSpan="7">
            <div class="last-ticket__content--values--service--name">
              {{(nextTicketObservable | async)?.service_name}}
            </div>
            <div class="last-ticket__content--values--service--queue">
              {{(nextTicketObservable | async)?.subject_name}}
            </div>
          </div>

          <div nz-col class="last-ticket__content--values--desk" nzSpan="2">
            <div>{{ (nextTicketObservable | async)?.desk }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div nz-col class="columnTwo" nzSpan="7">
    <!-- Logo 
    <div nz-col class="logo">
      {{ title }}<span>sasocial</span>
    </div>-->

    <!-- Attendance-Tickets -->
    <div nz-col class="attendance-tickets">
      <!-- Service -->
      <div class="ticket__content" *ngFor="let service of services" style="margin-bottom: 20px;">
        <div nz-row class="ticket__content--titles">
          <div nz-col class="ticket__content--titles--ticket-number" nzSpan="4">
            {{ "LAST_TICKET.TICKET_AND_QUEUE" | translate }}
          </div>
          <div nz-col nzSpan="12" class="title-service">
            {{service?.translations[0]?.name}}
          </div>
          <div nz-col class="ticket__content--titles--desk" nzSpan="3">
            {{ "LAST_TICKET.DESK" | translate }}
          </div>
        </div>
        <!-- Tickets -->
        <div nz-row *ngFor="let subject of service?.subjects" class="ticket__content--values" nzType="flex"
          style="align-items: stretch;">
          <div nz-col class="ticket__content--values--ticket-number" nzSpan="4">
            {{subject?.ongoing_ticket ? subject?.ongoing_ticket : ''}}
          </div>

          <div nz-col class="ticket__content--values--service" nzSpan="13">
            <div class="ticket__content--values--service--name">
              {{subject?.translations[0]?.name}}
            </div>
            <div class="ticket__content--values--service--queue">
              <b>{{ "LAST_TICKET.TIME" | translate }}:</b> {{subject?.translations[0]?.schedule_description}}
            </div>
          </div>

          <div nz-col class="ticket__content--values--desk" nzSpan="2">
            <div>{{subject?.last_desk ? subject?.last_desk : '-'}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div nz-row *ngIf="feed">
  <!-- Ticker -->
  <div nz-col class="ticker" nzSpan="20">
    <fi-ticker class="ticker__component"></fi-ticker>
  </div>
</div>