<StackLayout height="100%" width="100%" *ngIf="active">
<AbsoluteLayout width="100%" height="100%">
    <StackLayout top="0" width="100%" height="100%" backgroundColor="black" opacity="0.5"></StackLayout>
    <DockLayout stretchLastChild="false" height="100%" width="100%" top="0" left="0">
    
    <!-- MODAL STRUCTURE -->
    <StackLayout dock="bottom" class="modal__bg" paddingBottom="12">
        <StackLayout class="modal__container">
        <StackLayout horizontalAlignment="right" paddingTop="21" (tap)="closeModal()">
            <Label class="fisas__icon modal__close-icon" text="&#xe91f;"></Label>
        </StackLayout>
        <!-- --------------------------------- -->
        <!-- ---------- MODAL TITLE ---------- -->
        <!-- --------------------------------- -->
        <StackLayout horizontalAlignment="center" paddingTop="15">
            <!-- buy title -->
            <Label *ngIf="footerType == 0" class="fisas__h1 modal__text-center" textWrap="true" text="{{ 'FOOTER-MODAL.TITLE' | translate }}"></Label>
            <!-- cancel title -->
            <Label *ngIf="footerType == 1" class="fisas__h1 modal__text-center" textWrap="true" text="{{ 'FOOTER-MODAL.TITLE2' | translate }}"></Label>
            <Label *ngIf="footerType == 2" class="fisas__h1 modal__text-center" textWrap="true" text="{{ 'FOOTER-MODAL.UBIKE_TITLE' | translate }}"></Label>
            <!-- canteen name -->
            <Label *ngIf="footerType == 0 || footerType == 1" class="fisas__p--label modal__text-center" textWrap="true" text="{{ ticket?.location }}"></Label>
        </StackLayout>

        <!-- --------------------------------- -->
        <!-- --------- MODAL LOADER ---------- -->
        <!-- --------------------------------- -->
        <StackLayout class="fisas__form__block" marginTop="40" *ngIf="isLoading">
            <ActivityIndicator row="1" #activityIndicator [busy]="isLoading" width="100%" height="50" color="lightgray" class="fisas__loading"></ActivityIndicator>
        </StackLayout>

        <!-- --------------------------------- -->
        <!-- --------- MODAL CONTENT --------- -->
        <!-- --------------------------------- -->
        <StackLayout *ngIf="!isLoading">
            <!-- ticket -->
            <StackLayout *ngIf="!success && !error && !noBalance && !success2 && !successUbike">
                <StackLayout horizontalAlignment="center" marginTop="28" marginBottom="24">
                    <!-- meal ticket properties -->
                    <StackLayout *ngIf="footerType == 0">
                        <fi-canteen-ticket
                            [border]="true"
                            image="{{ ticket?.file.url }}"
                            date="{{ ticket?.date }}"
                            meal="{{ ticket?.dish_type_translation[0]?.name }}"
                            name="{{ ticket?.translations[0]?.name }}"
                            refectory="{{ ticket?.location }}"
                            type="{{ ticket?.meal }}"
                        ></fi-canteen-ticket>
                    </StackLayout>
                    <!-- reservation ticket properties -->
                    <StackLayout *ngIf="footerType == 1">
                        <fi-canteen-ticket
                            [border]="true"
                            image="{{ ticketId?.menu_dish.dish.file.url }}"
                            date="{{ ticketId?.menu_dish.menu.date }}"
                            meal="{{ (ticketId?.menu_dish.type.translations)[0]?.name }}"
                            name="{{ (ticketId?.menu_dish.dish.translations)[0]?.name }}"
                            refectory="{{ ticketId?.location }}"
                            type="{{ ticketId?.menu_dish.menu.meal }}"
                        ></fi-canteen-ticket>
                    </StackLayout>
                    <StackLayout *ngIf="footerType == 2" marginTop=15 marginBottom=15>
                        <Label class="fisas__p--light-medium" textWrap=true text="{{ 'FOOTER-MODAL.UBIKE_DESC' | translate }}"></Label>
                    </StackLayout>
                </StackLayout>

                <DockLayout dock="bottom" stretchLastChild="false" width="100%">
                    <!-- --------------------------------------------- -->
                    <!-- --------- BUTTONS TO SUBMIT ACTIONS --------- -->
                    <!-- --------------------------------------------- -->
                    <StackLayout class="fisas__vertical-down" width="100%">
                        <!--button to submit buying of a meal -->
                        <DockLayout (tap)="buy()" class="fisas__btn-bottom fisas__btn--buy modal__btn" stretchLastChild="false" width="324" *ngIf="footerType == 0">
                            <Label verticalAlignment="center" dock="left" text="{{ 'FOOTER-MODAL.BUY' | translate }}" marginLeft=15></Label>
                            <Label verticalAlignment="center" dock="right" class="fisas__btn--buy--price" text="{{ ticket?.price_formated }}" marginRight=15></Label>
                        </DockLayout>
                        <!--button to submit annulment -->
                        <StackLayout (tap)="cancel()" class="fisas__btn-bottom fisas__btn--buy modal__btn" stretchLastChild="false" width="324" *ngIf="footerType == 1" justifyContent="center">
                            <Label verticalAlignment="center" text="{{ 'FOOTER-MODAL.CANCELTICKET' | translate }}"></Label>
                        </StackLayout>
                        <!--button to cancel ubike application -->
                        <StackLayout (tap)="cancelUbike()" class="fisas__btn-bottom fisas__btn--buy modal__btn" stretchLastChild="false" width="324" *ngIf="footerType == 2" justifyContent="center">
                            <Label verticalAlignment="center" text="{{ 'FOOTER-MODAL.UBIKE_BUTTON' | translate }}"></Label>
                        </StackLayout>
                        <!-- cancel label and close modal -->
                        <Label (tap)="closeModal()" paddingTop="16" width="100%" textAlignment="center" class="fisas__p--light-medium" text="{{ 'FOOTER-MODAL.CANCEL' | translate }}"></Label>
                    </StackLayout>
                </DockLayout>
            </StackLayout>

            <!-- ------------------------------------------ -->
            <!-- --------- SUCCESS/ERROR RESPONSE --------- -->
            <!-- ------------------------------------------ -->

            <!-- success buy -->
            <StackLayout horizontalAlignment="center" width="100%" *ngIf="success">
                <Label color="#1ba974" marginTop="30" marginBottom="25" horizontalAlignment="center" class="fisas__icon modal__icon" text="&#xe942;"></Label>
                <Label width="100%" fontSize="21" class="fisas__p--light" textAlignment="center" textWrap="true" text="{{ 'FOOTER-MODAL.SUCCESS' | translate }}"></Label>
                <Label (tap)="closeModal()" paddingTop="40" paddingBottom="18" width="100%" textAlignment="center" class="fisas__p--light-medium" text="{{ 'FOOTER-MODAL.EXIT' | translate }}"></Label>
            </StackLayout>

            <!-- success annulment -->
            <StackLayout horizontalAlignment="center" width="100%" *ngIf="success2">
                <Label color="#1ba974" marginTop="30" marginBottom="25" horizontalAlignment="center" class="fisas__icon modal__icon" text="&#xe942;"></Label>
                <Label width="100%" fontSize="21" class="fisas__p--light" textAlignment="center" textWrap="true" text="{{ 'FOOTER-MODAL.SUCCESS2' | translate }}"></Label>
                <Label (tap)="closeModal()" paddingTop="40" paddingBottom="18" width="100%" textAlignment="center" class="fisas__p--light-medium" text="{{ 'FOOTER-MODAL.EXIT' | translate }}"></Label>
            </StackLayout>

            <!-- success ubike application cancel -->
            <StackLayout horizontalAlignment="center" width="100%" *ngIf="successUbike">
                <Label color="#1ba974" marginTop="30" marginBottom="25" horizontalAlignment="center" class="fisas__icon modal__icon" text="&#xe942;"></Label>
                <Label width="100%" fontSize="21" class="fisas__p--light" textAlignment="center" textWrap="true" text="{{ 'FOOTER-MODAL.SUCCESSUBIKE' | translate }}"></Label>
                <Label (tap)="closeModal()" paddingTop="40" paddingBottom="18" width="100%" textAlignment="center" class="fisas__p--light-medium" text="{{ 'FOOTER-MODAL.EXIT' | translate }}"></Label>
            </StackLayout>

            <!-- no balance error -->
            <StackLayout horizontalAlignment="center" width="100%" *ngIf="noBalance">
                <Label color="#f5001e" marginTop="30" marginBottom="25" horizontalAlignment="center" class="fisas__icon modal__icon" text="&#xe946;"></Label>
                <Label width="100%" fontSize="21" class="fisas__p--light" textAlignment="center" textWrap="true" text="{{ 'FOOTER-MODAL.NO_BALANCE' | translate }}"></Label>
                <Label width="100%" paddingTop="28" class="fisas__p" textAlignment="center" textWrap="true" text="{{ 'FOOTER-MODAL.NO_BALANCE_RESUME' | translate }}"></Label>
                <Label (tap)="closeModal()" paddingTop="26" paddingBottom="18" width="100%" textAlignment="center" class="fisas__p--light-medium" text="{{ 'FOOTER-MODAL.EXIT' | translate }}"></Label>
            </StackLayout>

            <!-- general error -->
            <StackLayout horizontalAlignment="center" width="100%" *ngIf="error">
                <Label color="#f5001e" marginTop="30" marginBottom="25" horizontalAlignment="center" class="fisas__icon modal__icon" text="&#xe946;"></Label>
                <Label width="100%" fontSize="21" class="fisas__p--light" textAlignment="center" textWrap="true" text="{{ 'FOOTER-MODAL.ERROR' | translate }}"></Label>
                <Label (tap)="closeModal()" paddingTop="26" paddingBottom="18" width="100%" textAlignment="center" class="fisas__p--light-medium" text="{{ 'FOOTER-MODAL.EXIT' | translate }}"></Label>
            </StackLayout>
        </StackLayout>
        </StackLayout>
    </StackLayout>
    </DockLayout>
</AbsoluteLayout>
</StackLayout>
