<div class="content">
  <form [formGroup]="certificateForm" (ngSubmit)="submit(certificateForm.valid, certificateForm.value)" nzLayout="vertical">
    <p class="subtitle">Certificado da experiência</p>

    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="report">Certificado</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <fi-sas-upload-file formControlName="certificate_file_id" id="certificate_file_id" name="certificate_file_id"></fi-sas-upload-file>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="end">
      <div nz-col nzSpan="24" class="actions">
        <button nz-button nzType="default" type="button" (click)="close(false)">Cancelar</button>
        <button nz-button nzType="primary" type="button" [nzLoading]="certificateForm_loading" (click)="generateCertificate()"><i nz-icon nzType="file-pdf" nzTheme="outline"></i>Gerar certificado</button>
        <button nz-button nzType="primary" type="submit" [nzLoading]="certificateForm_loading" [disabled]="!certificateForm.valid">
          <i nz-icon nzType="save"></i>Gravar</button>
      </div>
    </div>
  </form>
</div>
