.content {
  padding: 24px;
  background-color: white;

  .subtitle {
    font-size: 17px;
  }
}

.actions {
  text-align : right;
  padding-top: 42px;

  button:first-child {
      margin-right: 24px;
  }

  button {
    margin-right: 5px;
  }
}
