<div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="regulations">
  <div nz-col [nzSpan]="24" class="regulations-body">
    <div *ngFor="let item of htmlToDisplay">
      <div *ngIf="item.language_id === getCurrentLanguage()" [innerHTML]="item.text"></div>
    </div>
  </div>
</div>
