<div class="container">
  <div nz-row nzGutter="16">
    <div
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="8"
      [nzLg]="8"
      [nzXl]="8"
      [nzXXl]="8"
    >
      <div nz-row>
        <nz-form-label>Termo de Pesquisa</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input [(ngModel)]="filters.search" />
        </nz-form-control>
      </div>
    </div>

    <div
    nz-col
    [nzXs]="24"
    [nzSm]="24"
    [nzMd]="8"
    [nzLg]="8"
    [nzXl]="8"
    [nzXXl]="8"
  >


  <nz-form-label>Serviço</nz-form-label>
  <nz-form-control>

    <nz-select
    style="max-width: 200px"
    [(ngModel)]="filters.service_id"
    nzPlaceHolder="Serviço"
    nzAllowClear
    nzShowSearch
    style="min-width: 200px"
    [nzLoading]="servicesLoading"
  >
    <nz-option
      *ngFor="let item of services"
      [nzLabel]="item.name"
      [nzValue]="item.id"
      [nzDisabled]="!item.active"
    >
    </nz-option>
  </nz-select>
  </nz-form-control>
    </div>
    <div
      nz-col
      [nzXs]="0"
      [nzSm]="0"
      [nzMd]="1"
      [nzLg]="1"
      [nzXl]="1"
      [nzXXl]="1"
    ></div>

    <div
      nz-col
      [nzXs]="12"
      [nzSm]="6"
      [nzMd]="4"
      [nzLg]="3"
      [nzXl]="3"
      [nzXXl]="3"
      class="btn-filter"
    >
      <button nz-button nzType="primary" class="btn" (click)="searchData(true)">
        Filtrar
      </button>
    </div>
    <div
      nz-col
      [nzXs]="12"
      [nzSm]="6"
      [nzMd]="4"
      [nzLg]="2"
      [nzXl]="1"
      [nzXXl]="1"
      class="btn-clear"
      style="text-align: left"
    >
      <i
        nz-icon
        nzType="delete"
        class="btn-delete"
        nzTheme="outline"
        (click)="searchData(true)"
      ></i>
    </div>
  </div>
</div>

<div class="content-table">
  <nz-table
    class="table"
    #refTable
    [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)"
    [nzLoading]="loading"
    [nzFrontPagination]="false"
    [(nzPageIndex)]="pageIndex"
    [nzShowSizeChanger]="true"
    [nzTotal]="totalData"
    [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="pagination()"
    (nzPageSizeChange)="pagination(true)"
  >
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th
          nzShowCheckbox
          [(nzChecked)]="isAllDisplayDataChecked"
          [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"
        ></th>
        <th nzShowExpand></th>
        <th>Serviço</th>
        <th>Data</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">
        <tr>
          <td
            nzShowCheckbox
            [(nzChecked)]="mapOfCheckedId[data.id]"
            (nzCheckedChange)="refreshStatus()"
          ></td>
          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
          <td>
            {{ data.service?.name || '--' }}
          </td>
          <td>
            {{ data.date | date: 'yyyy-MM-dd HH:mm:ss' }}
          </td>
          <td>
            <button
              nz-button
              nz-dropdown
              nzType="link"
              class="options_button"
              [nzDropdownMenu]="menu"
              nzPlacement="bottomRight"
            >
              <i nz-icon nzType="dash" nzTheme="outline"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li
                  nz-menu-item
                  (click)="editEquip(data.id)"
                  [nzDisabled]="!('haccp:food_temperatures:update' | hasPermission)"
                >
                  Editar
                </li>
                <li
                  nz-menu-item
                  (click)="deleteEquip(data.id)"
                  [nzDisabled]="!('haccp:food_temperatures:delete' | hasPermission)"
                >
                  Eliminar
                </li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
        <tr [nzExpand]="mapOfExpandData[data.id]">
          <td [attr.colspan]="5">

            <div class="expandableContent">
            <nz-table #nzTable [nzData]="data.lines || []" [nzPageSize]="10">
              <thead>
                <tr>
                  <th>Receita</th>
                  <th>Temperatura</th>
                  <th>Classe de temperatura</th>
                  <th>Anomalia</th>
                  <th>Observações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of nzTable.data">
                  <td>{{i.recipe_id}}</td>
                  <td>{{i.temperature}} ºC</td>
                  <td>{{i.food_temperature_class_id}}</td>
                  <td>{{i.anomaly_id}}</td>
                  <td>{{i.observations}}</td>
                  
                </tr>
              </tbody>
            </nz-table>
          </div>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</div>
