@primary-color : #005f3c;
@normal-color           : #d9d9d9;
@header-text-color: #FFF;

// Color used by default to control hover and active backgrounds and for
// alert info backgrounds.
@primary-1: #e0ebe7;
@primary-2: #b2cfc4;
@primary-3: #82b19f;
@primary-4: #57967f;
@primary-5: #29795b;
@primary-6: @primary-color;
@primary-7: #004d32;
@primary-8: #00412a;
@primary-9: #012a1d;
@primary-10: #011814;
