<form nz-form [formGroup]="form">
  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 8 }" [nzLg]="{ span: 4 }">
      <nz-form-item>
        <nz-form-control>
          <div class="switch">
            <div class="switch--input">
              <nz-radio-group
                [formControl]="form.get('foreign_languages')"
                [nzSize]="'small'"
                (ngModelChange)="changeLanguage($event)"
              >
                <label nz-radio [nzValue]=true>{{ 'MISC.YES' | translate }}</label>
                <label nz-radio [nzValue]=false>{{ 'MISC.NO' | translate }}</label>
              </nz-radio-group>
            </div>
          </div>

          <nz-form-explain class="error" *ngIf="form.get('foreign_languages')?.dirty && form.get('foreign_languages').errors">
            {{ getInputError('foreign_languages') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 8 }" [nzLg]="{ span: 10 }">
      <nz-form-item>
        <nz-form-control>
          <div class="select">
            <nz-form-label class="primary-input-label">
              {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_SKILLS_PROFESSIONAL.FOREIGN_LANGUAGES'|translate}}
            </nz-form-label>
            <div class="select--input">
              <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="onChangeLanguage($event)">
                <div nz-row>
                  <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 10 }" *ngFor="let lang of languages"><label
                      nz-checkbox [nzValue]="lang" [nzDisabled]="!form.get('foreign_languages').value"
                      [ngModelOptions]="{standalone: true}" [ngModel]="check(lang)">{{lang}}</label></div>
                  <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 10 }"><label nz-checkbox nzValue="OTHER" (click)="changeOther()"
                      [nzDisabled]="!form.get('foreign_languages').value" [ngModelOptions]="{standalone: true}"
                      [ngModel]="check('OTHER')">{{ 'VOLUNTEERING.FORM_APPLICATION.LINGUIST_SKILLS.OTHER_LANGUAGES' |
                      translate }}</label></div>
                </div>
              </nz-checkbox-wrapper>
            </div>
          </div>

          <nz-form-explain class="error" *ngIf="form.get('language_skills')?.dirty && form.get('language_skills').errors">
            {{ getInputError('language_skills') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div *ngIf="other_language" nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 8 }" [nzLg]="{ span: 10 }">
      <nz-form-item>
        <nz-form-label nzFor="other_language_skills" class="primary-input-label">
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_SKILLS_PROFESSIONAL.OTHER_LANGUAGES'|translate}}
        </nz-form-label>

        <nz-form-control>
          <input nz-input class="primary-input" formControlName="other_language_skills" id="other_language_skills" />
          <nz-form-explain
          class="error"
          *ngIf="form.get('other_language_skills')?.dirty && form.get('other_language_skills').errors"
        >
          {{ getInputError('other_language_skills') }}
        </nz-form-explain>

        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
