@import "theme";

::ng-deep.anticon-loading svg {
    fill: black !important;
}

.report{
    padding-right: 10px;
}

.report-button {
    float: right;
    background-color: #ffffff !important;
    border-radius: 24px;
    border: solid 2px #e8e8e8;
    i {
      color: black;
    }
}

.reports-list {
    height: 300px; 
    overflow-y: scroll; 
    max-width: 300px;
}
  
.border-buttons {
    padding-top:10px;
    border-top: 1px solid #e8e8e8;
}

.space-button {
    text-align: right ;
}

#waiting-report::ng-deep svg {
    path {
        fill: darkorange;
    }
}

#failed-report::ng-deep svg {
    path {
        fill: #ff0000;
    }
}

::ng-deep {
    .ant-popover-title {
      min-height: 32px;
      margin: 0;
      padding: 10px 16px 4px;
      min-width: 140px !important;
      border-bottom: 2px solid var(--primary-color);
      color: black;
      font-family: Montserrat;
      font-size: 17px;
      font-weight: bold;
      width: 140px;
    }
    .ant-popover-inner-content {
      border-top: 1px solid #e8e8e8 !important;
      padding: 12px 16px;
      color: rgba(0, 0, 0, 0.65);
    }
    .ant-popover-arrow {
      display: none;
    }

   .report-button>span>.ant-badge>.ant-badge-count{
      z-index: 10 !important;
      min-width: 11px !important;
      height: 20px !important;
      padding-top: -1px !important;
      padding: 0 6px !important;
      color: #fff !important;
      font-weight: normal !important;
      font-size: 12px !important;
      /* line-height: 20px; */
      white-space: nowrap !important;
      text-align: center !important;
      background: @primary-6 !important;
      border-radius: 10px !important;
      box-shadow: 0 0 0 1px #fff !important;
    }
}
  
.download-button {
    font-size: 12px;
}

.button-more {
    color: white;
    background-color: @primary-6;
    border: none;
}

.bold {
    font-weight: bold;
}

#icon-report::ng-deep svg {
    g path {
        fill: var(--primary-color);
    }
  }
  
  #icon-report::ng-deep svg {
    path {
        fill: var(--primary-color);
    }
}

.icon {
    vertical-align: middle;
    font-size: 22px;
    padding-bottom: 6px;
    padding-top: 5px;
  }

.text-title {
    font-size: 13px;
    font-family: Montserrat;
    color: black;
}
  
.description {
    font-size: 10px;
    font-family: Montserrat;
}
  
.icon-delete {
    font-size: 14px;
    cursor: pointer;
  }