<!--Dish-->
<div class="sold-out" *ngIf="!dish?.isStockAvailable || !dish?.available">
  <span class="sold-out___label" *ngIf="!dish?.isStockAvailable">{{
    "ALIMENTATION.SOLD_OUT" | translate
  }}</span>
  <span class="sold-out___label" *ngIf="!dish?.available">{{
    "ALIMENTATION.UNAVAILABLE" | translate
  }}</span>
</div>

<nz-card
  class="dish-card"
  [ngClass]="{
    'dish-card___sold-out': !dish?.isStockAvailable || !dish?.available
  }"
  nzHoverable
  [nzCover]="coverTemplate"
>
  <nz-card-meta
    [nzTitle]="titleTemplate"
    [nzDescription]="descriptionTemplate"
  ></nz-card-meta>
</nz-card>

<ng-template #titleTemplate>
  <span class="dish-card___type">{{
    (dish?.dish_type_translation | languageChange).name | uppercase
  }}</span>
</ng-template>

<ng-template #coverTemplate>
  <div class="dish-card___image" *ngIf="dish">
    <a [routerLink]="['/alimentation/menu', serviceID, dish.id, meal, date]">
      <img *ngIf="dish?.file" src="{{ dish?.file.url }}" />
      <img
        *ngIf="!dish?.file"
        alt="Unavailable Image"
        src="/assets/imgs/unavailable-image.jpg"
      />
    </a>
    <p *ngIf="dish?.user_allergic" class="dish-card___allergen-label">
      <i nz-icon nzType="warning" nzTheme="outline"></i>
      {{ "ALIMENTATION.CONTAINS_ALLERGENS" | translate }}
    </p>
  </div>
</ng-template>

<ng-template #descriptionTemplate>
  <div nz-row class="dish-card___name">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
      <span>
        {{
          getValue(
            (dish?.translations | languageChange).name
              ?.charAt(0)
              .toUpperCase() +
              (dish?.translations | languageChange).name?.slice(1).toLowerCase()
          )
        }}</span
      >
    </div>
  </div>

  <div nz-row [nzJustify]="'center'">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
      <app-button
        [type]="'secundary'"
        [buttonStyle]="buyButton"
        [translate]="nameBuy('ALIMENTATION.BUY', dish?.price | number: '1.2-2')"
        [ngClass]="{ disabled: !dish?.isStockAvailable || !dish?.available }"
        (click)="showBuyModal()"
      ></app-button>
    </div>
  </div>
</ng-template>

<!--Buy-Ticket-->
<app-buy-modal-box
  [dish]="dish"
  [meal]="meal"
  [date]="date"
  (successBuy)="successBuy($event)"
  (newBuy)="returnBuy($event)"
  (refresh)="refreshMenu($event)"
  #modalBox
></app-buy-modal-box>
