@import "theme";

:host::ng-deep {

  @card-radius: 7px;
  @dish-box-width: 100%;

  .ant-card-body{
    padding: 15px;
  }


  .ant-card-cover img  {
    width: 100%;
    height: auto;
    cursor: pointer;
    object-fit: cover;
    max-height: 133px !important;
    border-radius: @card-radius @card-radius 0 0;
  }

  .dish-card {
    //width: @dish-box-width;
    //height: auto;
    //max-height: 400px;
    border-radius: @card-radius !important;
    cursor: default !important;

    img {
      min-height: 170px;
    }

    &___image {
      position: relative;
    }

    &___type {
      margin: 0px;
      margin-bottom: 8px;
      font-size: small;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: normal;
      color: var(--primary-7);
    }

    &___name {
      font-size: unset;
      font-weight: unset;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      color: #222222;
      padding-bottom: 20px;
      height: 66px;
    }

    &___sold-out {
      background-color: var(--primary-1);
      opacity: 0.5;
    }

    &___allergen-label {
      height: 21px;
      position: absolute;
      background: #F7D358;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      //line-height: 1.33;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      width: inherit;
      bottom: -12px;
    }
  }


  .sold-out {
    width: @dish-box-width;
    height: 180px;
    position: absolute;

    &___label {
      padding: 2px 0 2px 0;
      position: absolute;
      background: #E8E8E8;
      border-radius: 50px;
      font-weight: bold;
      text-align: center;
      top: 80px;
      right: 22%;
      left: 22%;
      color: black;
      z-index: 2;
      width: 50%;
      font-size: 12px;
    }

  }

}

::ng-deep.ant-modal {
  width: 416px !important;
  height: 400px !important;
}

::ng-deep.ant-btn > span {
  width: 100%;
}
::ng-deep.ant-modal-close {
  color: black;
}


.error-model {
  border-radius: 10px;

  &___content {
    margin-top: 10%;
  }

  &___title {
    width: 100%;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #111111;
    text-align: center !important;
  }

  .cancel-ticket-button > button {
    width: 90% !important;
    box-shadow: 0 2px 4px 0 rgba(102, 102, 102, 0.5) !important;
    border-radius: 50px !important;
    background-color: #d0021b !important;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: white;
    .pay-text {
      width: 50%;
      font-weight: 500;
      text-align: left;
    }
    .price-text {
      width: 50%;
      font-weight: bold;
      text-align: right;
    }
  }

  .cancel-button > button {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: black;
  }
}



