<div class="content-form">
  <form [formGroup]="configurationForm" nzLayout="vertical">
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="4">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="max_medias_per_listing">Máximo de fotos por habitação</nz-form-label>
          <nz-form-control nzErrorTip="Campo não válido!">
            <input nz-input type="number" min="1" formControlName="max_medias_per_listing" id="max_medias_per_listing" name="max_medias_per_listing" placeholder="Número de fotos">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="4">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="max_listing_publish_days">Dias máximos para as publicações das habitações</nz-form-label>
          <nz-form-control nzErrorTip="Campo não válido!">
            <input nz-input type="number" min="1" formControlName="max_listing_publish_days" id="max_listing_publish_days" name="max_listing_publish_days" placeholder="Número de publicações">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="4">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="max_wantedads_publish_days">Dias máximos para as publicações dos anúncios</nz-form-label>
          <nz-form-control nzErrorTip="Campo não válido!">
            <input nz-input type="number" min="1" formControlName="max_wantedads_publish_days" id="max_wantedads_publish_days" name="max_wantedads_publish_days" placeholder="Número de dias">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="admin_notification_email">Email do administrador para as notificações</nz-form-label>
          <nz-form-control nzErrorTip="Campo não válido!">
            <input nz-input formControlName="admin_notification_email" id="admin_notification_email" name="admin_notification_email" placeholder="Email">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="owner_profile_id">Perfil para o proprietário</nz-form-label>
          <nz-form-control nzErrorTip="Campo não válido!">
            <nz-select nzMode="default" nzPlaceHolder="Perfil" formControlName="owner_profile_id">
              <nz-option *ngFor="let profile of profiles" [nzLabel]="profile.name" [nzValue]="profile.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="owner_user_group_ids">Grupo de utilizadores para o proprietário</nz-form-label>
          <nz-form-control nzErrorTip="Campo não válido!">
            <nz-select nzMode="multiple" nzPlaceHolder="Grupo" formControlName="owner_user_group_ids">
              <nz-option *ngFor="let user_group of user_groups" [nzLabel]="user_group.name" [nzValue]="user_group.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="owner_regulation_file_id">Regulamento do Proprietário</nz-form-label>
          <nz-form-control nzErrorTip="Campo não válido!">
            <fi-sas-upload-file   formControlName="owner_regulation_file_id" ></fi-sas-upload-file>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>

<div class="space" nz-row>
  <button nz-button nzType="primary" type="submit" [nzLoading]="loading" (click)="submitForm(configurationForm.value)"><i nz-icon
    nzType="save"></i>Guardar</button>
</div>
