@import 'default-theme.less';

:host::ng-deep {
  .basic-detail {
    position: relative;

    &__image {
      width: 100%;
      height: 402px;
      object-fit: cover;
    }

    &__title, &__title p {
      color: var(--fisas-03);
      font-weight: 900;
      line-height: 48px;
      margin-top: 18px;
      font-size: 36px;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
    }

    &__title p::first-letter {
      text-transform: uppercase;
    }

    &__type {
      margin-top: 54px;
      .font-family(12px, 700);
      line-height: 24px;
      color: @fisas-grey-08;
    }
  }
}
