:host::ng-deep {

  .header-actions {
    margin-top: 25px;
  }

  nz-empty {
    padding-top: 50px;
  }

  .list-health {
    &__header {

      @media screen and (min-width: 576px) {
        padding-top: 25px;
      }

      @media screen and (max-width: 576px) {
        padding: 16px;
        padding-top: 25px;
      }

      &__botton {
        float: right;
      }
    }
    &__item {
      margin-bottom: 30px;
    }

    &__body {
      //padding-top: 24px;
      margin-bottom: 50px;

      @media screen and (max-width: 576px) {
        padding: 16px;
      }
    }
  }

  .box {
    /*  border: 2px black; */
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #3a3a3a;
    border-radius: 50px;
    background: white;
    padding: 4px 10px 4px 10px;
    i {
      margin-left: 5px;
    }
    i svg {
      transition: transform 0.24s !important;
    }
  }

  .ant-divider-inner-text {
    padding: 0 !important;
  }
  .ant-divider-horizontal.ant-divider-with-text {
    margin: 0;
  }

  .ant-divider-horizontal.ant-divider-with-text::after {
    border-top: 1px solid var(--primary-color) !important;
  }

  .ant-divider-horizontal.ant-divider-with-text::before {
    border-top: 1px solid var(--primary-color) !important;
  }

  .ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 25px;
  }

  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0px !important;
  }
}


  