<div>
  <nz-card
    [ngClass]="{ 'dish-card___sold-out': !dish?.isStockAvailable }"
    nzHoverable
    [nzCover]="coverTemplate"
    class="no-pointer"
  >
    <nz-card-meta
      [nzTitle]="titleTemplate"
      [nzDescription]="descriptionTemplate"
    ></nz-card-meta>
  </nz-card>

  <ng-template #titleTemplate>
    <span class="dish-card___type">{{ dish?.location }}</span>
    <br />
    <br />
    <span class="dish-card___type">{{
      (dish?.dish_type_translation | languageChange).name | uppercase
    }}</span>
  </ng-template>

  <ng-template #coverTemplate>
    <img *ngIf="dish?.file" src="{{ dish?.file.url }}" />
    <img
      *ngIf="!dish?.file"
      alt="Unavailable Image"
      src="/assets/imgs/unavailable-image.jpg"
    />
  </ng-template>

  <ng-template #descriptionTemplate>
    <div nz-row>
      <div
        nz-col
        [nzXs]="{ span: 24 }"
        [nzLg]="{ span: 24 }"
        class="title-resume"
      >
        <span>{{ (dish?.translations | languageChange).name }}</span>
      </div>
    </div>

    <div nz-row class="dish-card___description">
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
        <span>{{ (dish?.translations | languageChange).description }}</span>
      </div>
    </div>

    <div nz-row class="dish-card___allergens">
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
        <div nz-row class="title-resume">
          <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
            <span>{{ "ALIMENTATION.ALLERGENS" | translate | uppercase }}</span>
          </div>
        </div>

        <div nz-row *ngIf="dish?.show_allergens === true">
          <div
            *ngIf="dish?.allergens.length > 0"
            nz-col
            [nzXs]="{ span: 24 }"
            [nzLg]="{ span: 24 }"
          >
            <ng-container *ngFor="let allergen of dish?.allergens">
              <nz-tag
                *ngIf="!allergen.allergic"
                class="dish-card___allergens___name"
                >{{ (allergen.translations | languageChange).name }}</nz-tag
              >
              <nz-tag
                *ngIf="allergen.allergic"
                class="dish-card___allergens___name___allergic"
                >{{ (allergen.translations | languageChange).name }}</nz-tag
              >
            </ng-container>
          </div>
          <div *ngIf="dish?.allergens.length == 0" class="info-extra">
            <span class="dish-card___description">{{
              "ALIMENTATION.NO_ALLERGENS" | translate
            }}</span>
          </div>
        </div>

        <div nz-row *ngIf="dish?.show_allergens === false">
          <div *ngIf="dish?.allergens.length == 0" class="info-extra">
            <span class="dish-card___description">{{
              "ALIMENTATION.GENERIC_ALLERGENS__MESSAGE" | translate
            }}</span>
          </div>
        </div>
      </div>
      <div
        nz-col
        *ngIf="isAllergen"
        [nzXs]="{ span: 24 }"
        [nzLg]="{ span: 24 }"
        class="allergen-info"
      >
        <i
          nz-icon
          nzType="warning"
          nzTheme="outline"
          style="font-size: 14px"
        ></i>
        {{ "ALIMENTATION.ALLERGENS_INFO" | translate }}
      </div>
    </div>

    <div
      nz-row
      *ngIf="dish?.nutrients.length > 0"
      class="dish-card___nutrients"
    >
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
        <div nz-row class="title-resume">
          <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
            <span>{{
              "ALIMENTATION.NUTRITIONAL_TABLE" | translate | uppercase
            }}</span>
          </div>
        </div>

        <div nz-row *ngFor="let nutrient of dish?.nutrients">
          <div
            nz-col
            class="dish-card___nutrients___line"
            [nzXs]="{ span: 24 }"
            [nzLg]="{ span: 24 }"
          >
            <span class="dish-card___nutrients___name">{{
              (nutrient.nutrient.translations | languageChange).name
            }}</span
            ><span class="dish-card___nutrients___quantity"
              >{{ nutrient.quantity | number: "1.2-2" }}
              {{ nutrient.nutrient.unit.acronym }}</span
            >
          </div>
        </div>
      </div>
    </div>

    <div class="hidden-xs" style="text-align: center">
      <app-button
        [ngClass]="{ disabled: !dish?.isStockAvailable || !dish?.available }"
        [buttonStyle]="{
          'font-size': '17px',
          'margin-top': '20px',
          width: '300px',
          height: '48px'
        }"
        [translate]="nameBuy('ALIMENTATION.BUY', dish?.price | number: '1.2-2')"
        (click)="showBuyModal()"
      >
      </app-button>
    </div>

    <div class="hidden-md" style="text-align: center">
      <app-button
        [ngClass]="{ disabled: !dish?.isStockAvailable || !dish?.available }"
        [buttonStyle]="{
          'font-size': '14px',
          'margin-top': '20px',
          width: '220px',
          height: '48px'
        }"
        [translate]="nameBuy('ALIMENTATION.BUY', dish?.price | number: '1.2-2')"
        (click)="showBuyModal()"
      >
      </app-button>
    </div>
  </ng-template>
</div>

<app-buy-modal-box
  [dish]="dish"
  [meal]="meal"
  [date]="date"
  (successBuy)="successBuy($event)"
  #modalBox
></app-buy-modal-box>

<!--Modal success-->
<nz-modal
  [nzVisible]="modalSuccess"
  (nzOnCancel)="modalSuccess = false"
  [nzFooter]="null"
  [nzWidth]="350"
>
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col class="success-model--title title-top-page">
      {{ "DASHBOARD.BUTTON.ALIMENTATION" | translate }}
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col class="success-model--subtitle">
      {{ "ALIMENTATION.MODAL_SUCCESS.TITLE" | translate }}
    </div>
  </div>
  <div
    nz-row
    nzType="flex"
    nzJustify="center"
    nzAlign="middle"
    class="success-model--icon"
  >
    <img src="/assets/imgs/Success.PNG" alt="" />
  </div>
  <div
    nz-row
    nzType="flex"
    nzJustify="center"
    nzAlign="center"
    class="success-model--accept-text"
  >
    <div nz-col>{{ "ALIMENTATION.MODAL_SUCCESS.TEXT" | translate }}</div>
  </div>
</nz-modal>
