@import "theme";

:host::ng-deep {

  @card-radius: 7px;
  @dish-box-width: 100%;

  nz-card {
    margin-bottom: 111px !important;
    border-radius: @card-radius !important;
  }

  .ant-card-cover img  {
    width: 100%;
    height: auto;
    max-height: 500px !important;
    object-fit: cover;
    cursor: default;
  }


  .ant-tag {
    margin-bottom: 8px;
  }

  .dish-card {
    &___type {
      font-size: small;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: normal;
      color: var(--primary-7);
    }

    &___name {
      font-family: Montserrat;
      font-size: 21px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: normal;
      color: #111111;
      padding-bottom: 20px;
    }

    &___description {
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.85;
      letter-spacing: normal;
    }

    &___allergens {
      margin-top: 30px;
      div > div:first-of-type div:first-of-type {
        margin-bottom: 15px;
      }
      &___name {
        cursor: default;
        border: 0;
        border-radius: 3px;
        background-color: #f3f3f3;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: normal;
        color: #222222;
        padding: 5px;
        &___allergic {
          cursor: default;
          border: 0;
          border-radius: 3px;
          background-color: #d0021b;
          color: white;
          font-family: Montserrat;
          font-size: 13px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.38;
          letter-spacing: normal;
          padding: 5px;
        }
      }
    }

    &___nutrients {
      margin-top: 30px;
      div > div:first-of-type div:first-of-type {
        margin-bottom: 15px;
      }
      &___line {
        margin-bottom: 10px;
      }
      &___name {
        color: Black;
        font-size: 13px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.85;
        letter-spacing: normal;
      }

      &___quantity {
        font-size: 13px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #979797;
        float: right;


      }
    }

    &___price-box {
      border-style: solid;
      border-width: 2px;
      border-radius: 50px;
      padding: 1px 15px 1px 15px;
      font-weight: bold;
      color: var(--primary-color);

      &___price {
        color: black;
      }
    }
  }
}

.no-pointer {
  cursor: auto !important;
}



.success-model {
  border-radius: 10px;

  &--content {
    margin-top: 10%;
  }

  &--title {
    font-family: Montserrat;
    letter-spacing: normal;
    line-height: 1.14;
    text-align: center !important;
    width: 100%;
  }

  &--subtitle {
    color: #222222;
    font-family: Montserrat;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.6;
    text-align: center;
  }

  &--icon {
    height: 120px;

    img {
      height: 100px;
      width: 100px;
    }
  }

  &--accept-text {
    color: #111111;
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 1.14;
    margin-bottom: 20px;
    text-align: center;
  }

  &--feedback {
    color: #222222;
    font-family: Montserrat;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.38;
    margin-bottom: 20px;
    text-align: center;
  }
}

.info-extra {
  margin-top: -20px;
}


.hidden-md {
  display:none;
}

.allergen-info {
  font-size: 13px;
  color: red;
  padding-top: 10px;
}

@media screen and (max-width: 600px) {

  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display:block;
  }

}

