@import 'default-theme.less';

:host::ng-deep {

  color: @fisas-grey-01;
  background-color: var(--fisas-08);

  h1,
  h2 {
    color: @fisas-grey-01;
  }

  .main-content {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .unavailable {
    &__box {
      flex-direction: column;
      margin: 0 15%;
    }
  }
}
