<form nz-form [formGroup]="form">
  <div nz-row nzGutter="34">
    <div
      nz-col
      [nzXs]="{ span: 24 }"
      [nzSm]="{ span: 24 }"
      [nzMd]="{ span: 12 }"
      [nzLg]="{ span: 6 }"
    >
      <nz-form-item>
        <nz-form-label
          nzRequired
          nzFor="has_scholarship"
          class="primary-input-label"
          >{{
            "SOCIAL_SUPPORT.APPLICATIONS.FORM_SOCIAL_BENEFITS.SOCIAL_SUPPORT"
              | translate
          }}</nz-form-label
        >
        <nz-form-control>
          <nz-radio-group formControlName="has_scholarship" [nzSize]="'small'">
            <label nz-radio [nzValue]="true">{{
              "MISC.YES" | translate
            }}</label>
            <label nz-radio [nzValue]="false">{{
              "MISC.NO" | translate
            }}</label>
          </nz-radio-group>

          <nz-form-explain
            class="error"
            *ngIf="
              form.get('has_scholarship')?.dirty &&
              form.get('has_scholarship').errors
            "
          >
            {{ getInputError("has_scholarship") }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div
      nz-col
      [nzXs]="{ span: 24 }"
      [nzSm]="{ span: 24 }"
      [nzMd]="{ span: 12 }"
      [nzLg]="{ span: 6 }"
    >
      <nz-form-item>
        <nz-form-label
          nzRequired
          nzFor="has_applied_scholarship"
          class="primary-input-label"
          >{{
            "SOCIAL_SUPPORT.APPLICATIONS.FORM_SOCIAL_BENEFITS.CANDIDATE"
              | translate
          }}</nz-form-label
        >
        <nz-form-control>
          <nz-radio-group
            formControlName="has_applied_scholarship"
            [nzSize]="'small'"
          >
            <label nz-radio [nzValue]="true">{{
              "MISC.YES" | translate
            }}</label>
            <label nz-radio [nzValue]="false">{{
              "MISC.NO" | translate
            }}</label>
          </nz-radio-group>

          <nz-form-explain
            class="error"
            *ngIf="
              form.get('has_applied_scholarship')?.dirty &&
              form.get('has_applied_scholarship').errors
            "
          >
            {{ getInputError("has_applied_scholarship") }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div
      nz-col
      [nzXs]="{ span: 24 }"
      [nzSm]="{ span: 24 }"
      [nzMd]="{ span: 12 }"
      [nzLg]="{ span: 6 }"
    >
      <nz-form-item>
        <nz-form-label
          nzRequired
          nzFor="is_waiting_scholarship_response"
          class="primary-input-label"
        >
          {{
            "SOCIAL_SUPPORT.APPLICATIONS.FORM_SOCIAL_BENEFITS.WITHOUT_RESULTS"
              | translate
          }}
        </nz-form-label>
        <nz-form-control>
          <label
            formControlName="is_waiting_scholarship_response"
            class="checkbox--input primary-checkbox"
            nz-checkbox
            nzValue="true"
          ></label>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div
      nz-col
      [nzXs]="{ span: 24 }"
      [nzSm]="{ span: 24 }"
      [nzMd]="{ span: 24 }"
      [nzLg]="{ span: 24 }"
    >
      <nz-form-item>
        <nz-form-label
          nzRequired
          nzFor="scholarship_monthly_value"
          class="primary-input-label"
        >
          {{
            "SOCIAL_SUPPORT.APPLICATIONS.FORM_SOCIAL_BENEFITS.SUPPORT_VALUE"
              | translate
          }}
        </nz-form-label>
        <nz-form-control>
          <div class="input-tab">
            <div>
              <nz-input-group
                class="tab-input input-tab--input"
                nzAddOnAfter="EUR"
              >
                <input
                  nz-input
                  formControlName="scholarship_monthly_value"
                  [dropSpecialCharacters]="false"
                  maxlength="5"
                  mask="0*,00"
                />
              </nz-input-group>
            </div>
          </div>

          <nz-form-explain
            class="error"
            *ngIf="
              form.get('scholarship_monthly_value')?.dirty &&
              form.get('scholarship_monthly_value').errors
            "
          >
            {{ getInputError("scholarship_monthly_value") }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div
      nz-col
      [nzXs]="{ span: 24 }"
      [nzSm]="{ span: 24 }"
      [nzMd]="{ span: 12 }"
      [nzLg]="{ span: 6 }"
    >
      <nz-form-item>
        <nz-form-label
          nzRequired
          nzFor="has_emergency_fund"
          class="primary-input-label"
          >{{
            "SOCIAL_SUPPORT.APPLICATIONS.FORM_SOCIAL_BENEFITS.EMERGENCY_FUND"
              | translate
          }}</nz-form-label
        >
        <nz-form-control>
          <nz-radio-group
            formControlName="has_emergency_fund"
            [nzSize]="'small'"
          >
            <label nz-radio [nzValue]="true">{{
              "MISC.YES" | translate
            }}</label>
            <label nz-radio [nzValue]="false">{{
              "MISC.NO" | translate
            }}</label>
          </nz-radio-group>

          <nz-form-explain
            class="error"
            *ngIf="
              form.get('has_emergency_fund')?.dirty &&
              form.get('has_emergency_fund').errors
            "
          >
            {{ getInputError("has_emergency_fund") }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="6">
      <nz-form-item>
        <nz-form-label
          nzRequired
          nzFor="other_scholarship"
          class="primary-input-label"
          >{{
            "SOCIAL_SUPPORT.APPLICATIONS.FORM_SOCIAL_BENEFITS.OTHER_SCHOLARSHIP"
              | translate
          }}</nz-form-label
        >
        <nz-form-control>
          <nz-radio-group
            formControlName="other_scholarship"
            [nzSize]="'small'"
          >
            <label nz-radio [nzValue]="true">{{
              "MISC.YES" | translate
            }}</label>
            <label nz-radio [nzValue]="false">{{
              "MISC.NO" | translate
            }}</label>
          </nz-radio-group>

          <nz-form-explain
            class="error"
            *ngIf="
              form.get('other_scholarship')?.dirty &&
              form.get('other_scholarship').errors
            "
          >
            {{ getInputError("other_scholarship") }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="6">
      <nz-form-item>
        <nz-form-label
          nzRequired
          nzFor="other_scholarship_values"
          class="primary-input-label"
        >
          {{
            "SOCIAL_SUPPORT.APPLICATIONS.FORM_SOCIAL_BENEFITS.SCHOLARSHIP_VALUES"
              | translate
          }}
        </nz-form-label>
        <nz-form-control>
          <div class="input-tab">
            <div>
              <nz-input-group
                class="tab-input input-tab--input"
                nzAddOnAfter="EUR"
              >
                <input
                  nz-input
                  formControlName="other_scholarship_values"
                  [dropSpecialCharacters]="false"
                  maxlength="5"
                  mask="0*,00"
                />
              </nz-input-group>
            </div>
          </div>

          <nz-form-explain
            class="error"
            *ngIf="
              form.get('other_scholarship_values')?.dirty &&
              form.get('other_scholarship_values').errors
            "
          >
            {{ getInputError("other_scholarship_values") }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="24" [nzLg]="8">
      <nz-form-item>
        <nz-form-label
          nzRequired
          nzFor="housed_residence"
          class="primary-input-label"
          >{{
            "SOCIAL_SUPPORT.APPLICATIONS.FORM_SOCIAL_BENEFITS.HOUSED_RESIDENCE"
              | translate
          }}</nz-form-label
        >
        <nz-form-control>
          <nz-radio-group formControlName="housed_residence" [nzSize]="'small'">
            <label nz-radio [nzValue]="true">{{
              "MISC.YES" | translate
            }}</label>
            <label nz-radio [nzValue]="false">{{
              "MISC.NO" | translate
            }}</label>
          </nz-radio-group>

          <nz-form-explain
            class="error"
            *ngIf="
              form.get('housed_residence')?.dirty &&
              form.get('housed_residence').errors
            "
          >
            {{ getInputError("housed_residence") }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
