.switch {
  display: inline-flex;
  &--label {
    width: 80%;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #222222;
    margin: auto;
  }

  &--input {
    font-family: Montserrat;
    margin-left: 73px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    width: 20%;
  }
}

.input-tab {
  display: inline-flex;
  &--label {
    width: 80%;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #222222;
    margin: auto;
  }
  &--input {
    margin-left: 12.5px;
  }
}

.checkbox {
  &--label {
    width: 80%;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #222222;
  }
  &--input {
    margin-left: 11.5px;
  }
}

.switch-float-left {
  float: left;
}

#error-label {
  display: inline-block !important;
  min-height: 0;
  font-family: Montserrat;
  font-size: 10px;
  color: #fd3a57;
  position: relative;
  bottom: 2px;
}


.error {
  color: red;
  margin-top:5px;
  
  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}