<div nz-row nzType="flex" nzJustify="center" nzAlign="middle" class="new_password">
  <div nz-col class="new_password__body" [nzXs]="22" [nzSm]="13" [nzMd]="13" [nzLg]="10" [nzXl]="8">
    <p class="new_password__title">
      <b>{{ 'CHANGE_PASSWORD.DESCRIPTION' | translate }}</b>
    </p>

    <div class="new_password__form">
      <form nz-form [formGroup]="newPasswordForm" class="firstLogin-form">

        <nz-form-item style="margin-top: 24px;" [ngClass]="{'error': (newPasswordForm.get('password').dirty && newPasswordForm.get('password').errors) }">
          <label class="form__label">{{ 'CHANGE_PASSWORD.NEW_PASSWORD' | translate }}</label>
          <nz-form-extra class="form__tip">{{ 'CHANGE_PASSWORD.INSERT_NEW_PASSWORD' | translate }}</nz-form-extra>
          <nz-form-control>
            <nz-input-group [nzSuffix]="suffixNewPasswordTemplate">
              <input [type]="newPasswordVisible ? 'text' : 'password'" nz-input formControlName="password"
                     [placeholder]="'CHANGE_PASSWORD.INSERT_NEW_PASSWORD' | translate" />
            </nz-input-group>
            <ng-template #suffixNewPasswordTemplate>
              <i nz-icon [nzType]="newPasswordVisible ? 'icons:icons-show' : 'icons:icons-dontshow'"
                 (click)="newPasswordVisible = !newPasswordVisible"></i>
            </ng-template>
            <nz-form-explain *ngIf="newPasswordForm.get('password').errors">
              <i nz-icon type="icons:icons-info"></i>
              {{getInputError('password') | translate: { value: 'CHANGE_PASSWORD.NEW_PASSWORD' | translate} }}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item style="margin-top: 24px;" [ngClass]="{'error': (newPasswordForm.get('repeat_password').dirty && newPasswordForm.get('repeat_password').errors) }">
          <label class="form__label">{{ 'CHANGE_PASSWORD.REPEAT_NEW_PASSWORD' | translate }}</label>
          <nz-form-control>
            <nz-input-group [nzSuffix]="suffixNewPasswordTemplate">
              <input [type]="newPasswordVisible ? 'text' : 'password'" nz-input formControlName="repeat_password"
                     [placeholder]="'CHANGE_PASSWORD.INSERT_NEW_PASSWORD' | translate" />
            </nz-input-group>
            <ng-template #suffixNewPasswordTemplate>
              <i nz-icon [nzType]="newPasswordVisible ? 'icons:icons-show' : 'icons:icons-dontshow'"
                 (click)="newPasswordVisible = !newPasswordVisible"></i>
            </ng-template>
            <nz-form-explain *ngIf="newPasswordForm.get('repeat_password').errors">
              <i nz-icon type="icons:icons-info"></i>
              {{getInputError('repeat_password') | translate: { value: 'CHANGE_PASSWORD.REPEAT_NEW_PASSWORD' | translate} }}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

      </form>
    </div>

    <nz-form-item class="new_password__button">
      <nz-form-control>
        <app-button [buttonStyle]="{
          'width': '100%',
          'font-size': '17px',
          'line-height': '24px',
          'margin-bottom': '0px'
        }"
                    [translate]="'MISC.CHANGE'"
                    type="floating"
                    [loading]="loading"
                    (click)="submit(newPasswordForm.value, newPasswordForm.valid)"
        >
        </app-button>
      </nz-form-control>
    </nz-form-item>

  </div>
</div>
