<section class="cart-error">
  <div class="cart-error__content">
    <h1>{{ 'CART.ERROR.TITLE' | translate }}</h1>
    <div class="display-three">
      {{ 'CART.ERROR.DESCRIPTION' | translate }}
    </div>
  </div>

  <div class="cart-error__bottom" routerLink="/dashboard">
    {{ 'CART.ERROR.BACK' | translate }}
    <span>{{ this.seconds }} {{ 'CART.ERROR.SECONDS' | translate }}</span>
  </div>
</section>
