@import 'default-theme.less';

:host::ng-deep {

  .cart-error {
    width: 100%;
    height: 1602px;
    background-color: var(--fisas-08);

    &__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 736px;
      color: @fisas-grey-01;

      h1 {
        margin-bottom: 12px;
        line-height: 1.08;
        color: @fisas-grey-01;
      }

      .display-three {
        margin-bottom: 12px;
        line-height: 1.25;
      }
    }

    &__bottom {
      position: absolute;
      bottom: 190px;
      left: 0;
      right: 0;
      background: @fisas-green-check;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.33;
      padding-top: 60px;
      padding-bottom: 60px;
      color: @fisas-grey-01;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      z-index: 9;

      span {
        display: block;
        font-size: 11px;
        font-weight: normal;
        text-transform: uppercase;
        margin-top: 8px;
      }
    }


  }
}
