@import 'theme';

.submit {
    margin-top: 25px;
    text-align: right;
  }

.error {
    color: red;
}

.icon-check {
    color: var(--primary-color);
}

.font-upload {
    font-size: 12px;
    line-height: initial;
    padding-top: 5px;
}

.tab-check {
    color: black;
    background-color: white;
    border: none;
}