<div nz-row>

  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
    <h2 class="title-top-page">
      {{'ACCOMMODATION.CHANGE_REQUESTS.REGIME_REQUEST' | translate}}
    </h2>
    <div nz-row>
      <div nz-col>
        <div class="form_information">
          <form nz-form [formGroup]="applicationChangeRegimeForm">
            <div nz-row>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="start_date">
                    <b> {{'ACCOMMODATION.CHANGE_REQUESTS.INITIAL_DATE' | translate}}</b>
                  </nz-form-label>
                  <nz-form-control>
                    <nz-date-picker formControlName="start_date" class="primary-datePicker"
                      [ngClass]="{ 'error': submitted && f.start_date.errors, 'disabled-input': consult?true:false }"
                      [nzDisabledDate]="disabledDate">
                    </nz-date-picker>
                  </nz-form-control>
                  <nz-form-explain class="error" *ngIf="submitted && f.start_date.errors">
                    {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                  </nz-form-explain>
                </nz-form-item>
              </div>
            </div>
            <div nz-row>
              <div nz-row style="font-size: 13px;">
                <nz-form-label>
                  <b>{{ "ACCOMMODATION.CHANGE_REQUESTS.ACTUAL_REGIME" | translate }}</b>
                </nz-form-label>
                <div>
                  <nz-tag class="tab-check"><i nz-icon nzType="check" nzTheme="outline" class="icon-check"></i>
                    {{(application.currentRegime.translations|languageChange).name}}
                  </nz-tag>
                </div>

              </div>

            </div>
            <nz-form-item style="padding-top: 20px;">
              <nz-form-label nzRequired nzFor="regime_id">
                <b>{{ "ACCOMMODATION.CHANGE_REQUESTS.NEW_REGIME" | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <nz-select class="primary-select" formControlName="regime_id" id="regime_id"
                  [ngClass]="{ 'disabled-input': consult?true:false }" nzShowSearch>
                  <nz-option *ngFor="let regime of regimes" [nzLabel]="(regime.regime.translations|languageChange).name"
                    [nzValue]="regime.regime.id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain class="error" *ngIf="submitted && f.regime_id.errors?.required">
                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
              </nz-form-explain>
              <nz-form-explain class="error" *ngIf="submitted && f.regime_id.errors?.maxlength">
                {{ 'FORM_INPUTS.VALIDATIONS.MAX_LENGTH' | translate }} {{f.regime_id.errors.maxlength.requiredLength}}
              </nz-form-explain>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzRequired nzFor="reason">
                <b>{{ "CONTRACT_ACTIONS.JUSTIFICATION" | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <textarea class="primary-textarea" rows="5" nz-input formControlName="reason"
                  [ngClass]="{ 'error__input': submitted && f.reason.errors, 'disabled-input': consult?true:false }"
                  placeholder="{{ 'CONTRACT_ACTIONS.JUSTIFICATION_PLACE' | translate }}"></textarea>
              </nz-form-control>
              <nz-form-explain class="error" *ngIf="submitted && f.reason.errors?.required">
                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
              </nz-form-explain>
              <nz-form-explain class="error" *ngIf="submitted && f.reason.errors?.maxlength">
                {{ 'FORM_INPUTS.VALIDATIONS.MAX_LENGTH' | translate }} {{f.reason.errors.maxlength.requiredLength}}
              </nz-form-explain>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzFor="file_id">
                <b>{{ "CONTRACT_ACTIONS.ATTACHMENT" | translate
                  }}</b>
              </nz-form-label>
              <div class="desc-title-form" *ngIf="!consult">
                {{ 'U_BIKE.FORMS.FILES.DESCRIPTION' | translate }}
              </div>
              <nz-form-control>
                <app-file-upload *ngIf="!consult" [filterTypes]="filterTypes" formControlName="file_id" (fileDeleted)="f.file_id.setValue(null)">
                </app-file-upload>
                <div class="font-upload">
                  {{ 'MISC.FORMAT_UPLOAD_MORE' | translate }} pdf, png, jpg. {{ 'MISC.LIMIT_MAX_FILE' | translate }}
                </div>
              </nz-form-control>
              <div *ngIf="consult && file">
                <div *ngIf="file?.type == 'IMAGE'">
                  <a target="_blank" [href]="file?.url">
                    <img [src]="file?.url" width="100px">
                  </a>
                </div>
                <div *ngIf="file?.type != 'IMAGE'">
                  <a target="_blank" [href]="file?.url">
                    <img src="/assets/imgs/doc.PNG" width="100px">
                  </a>
                </div>
              </div>
              <div *ngIf="consult && !file">
                -
              </div>
            </nz-form-item>

            <div nz-row class="submit">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <app-button (click)="close()" style="margin-right: 15px;"
                  [translate]="!consult?'MISC.CANCEL':'MISC.RETURN'" [type]="'secundary'"></app-button>
                <app-button *ngIf="!consult" [loading]="isLoading" (click)="onSubmit()" [translate]="'MISC.SUBMIT'">
                </app-button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
