<form [formGroup]="formGroup">
<nz-tabset [nzType]="'card'" [nzTabBarExtraContent]="extraTemplate" [formArrayName]="field.key">

  <nz-tab *ngFor="let tab of getFormLanguages().controls; let i=index" [nzTitle]="languageTitle"
          [formGroupName]="i">
    <ng-template #languageTitle>
      <div>
        {{ getLanguageName(getFormLanguages().controls[i].get('language_id').value) }}
        <i nz-icon type="close" *ngIf="default_language ? (default_language!==getFormLanguages().controls[i].get('language_id').value) : true" (click)="deleteTranslation(i)"></i>
      </div>
    </ng-template>

    <input formControlName="language_id" hidden="true">
    <div nz-row nzGutter="16" *ngFor="let row of field.fields | pluck: 'row' | uniq">
      <div nz-col *ngFor="let _field of field.fields | where: ['row', row] " [nzSpan]="_field.span ? _field.span : 24" >
        <fi-sas-form-input [field]="_field" [formGroup]="tab"></fi-sas-form-input>
      </div>
    </div>
  </nz-tab>

  <ng-template #extraTemplate>
    <nz-select style="width: 120px;" nzPlaceHolder="Linguagem" [(ngModel)]="selected_language"
               [ngModelOptions]="{standalone: true}">
      <nz-option *ngFor="let language of availableLanguages()" [nzValue]="language" [nzLabel]="language.name"
                 [nzDisabled]="!language.active"></nz-option>
    </nz-select>
    <button nz-button style="margin-left: 16px;" (click)="newLanguage(selected_language.id, {})" type="button"><i nz-icon type="plus"></i></button>

  </ng-template>
</nz-tabset>
</form>
<nz-divider></nz-divider>
