.collaborations-list{
  color: black;
  font-size: 16px;
  background-color: white;
  &__body-content, &__body-user-list{
    margin: 10px;
    border-right: solid 2px;
    background-color: white;
  }
  &__user-list{
    &__right-signal{
      opacity: 39%;
      font-size: 15px;
    }
    &__right{
      text-align: left;
      padding: 0px 8px;
    }
    &__card{
      cursor: pointer;
      padding: 10px;
      border-bottom: solid 1px var(--primary-1);
    }
    &__first-row{
      padding-bottom: 10px;
    }
    &__avatar{
      text-align: center;
    }
    &__email{
      text-align: right;
      opacity: 25%;
      font-size: 14px;
    }
    &__id{
      padding-bottom: 6px;
      padding-bottom: 6px;
      opacity: 85%;
      font-weight: 600;
      font-size: 20px;
      padding-top: 3px;
    }
    &__name{
      opacity: 57%;
      font-size: 14px;
    }
    &__btn{
      padding: 15px;
      border-bottom: solid 1px var(--primary-1);
      text-align: center;
      &__search{
        width: 100%;
      }
    }
    &__selected {
      background-color: var(--primary-1);
    }
  }
}

.pagination{
  padding: 10px 10px;
  &__btn {
    cursor: pointer;
    padding: 7px;
    color: var(--primary-5);
    border: solid 1px var(--primary-5);
    border-radius: 6px;
    text-align: center;

  }
  &__btn:hover {
    text-align: center;
    color: white;
    background-color: var(--primary-5);
  }
  &__text{
    text-align: center;
    padding: 7px;
    color: var(--primary-5);
  }
}



.content-table {
  margin: 8px;
  
  .table {
      &__header {
          th {
              background: white;
              color: var(--primary-6);
              font-weight: 700;
          }

          & > th:first-child {
              border-top-left-radius: 2px !important;
          }
          
          & > th:last-child {
              border-top-right-radius: 2px !important;
          }
      }
      
      tr {

          /*td {
              color: var(--text-color);
          }*/

          background: white !important;
      }
  }

  .options_button {
      color: var(--text-color);
      font-size: 22px;
  }
}


.font-attendance {
  color: rgb(27, 169, 116);
  font-weight: 600;
}

.font-abesense {
  color: red;
  font-weight: 600;
}

.container {
  background: white;
  padding: 24px 30px 24px 30px;
  margin-bottom: 5px;
  margin-top: -18px;
  &__title {
      font-size: 16px;
      line-height: 22px;
      margin: 0px;
      font-weight: bold;
      margin-bottom:10px;
      color:black;
  }
  &__subtitle{
    margin-bottom:5px;
  }
}