<div class="container">
  <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
          [nzSortKey]="column.sortKey ? column.sortKey : column.key" [nzFilters]="column.filters ? column.filters : []"
          [nzFilterMultiple]="column.filterMultiple" [nzShowFilter]="column.showFilter"
          (nzFilterChange)="onColumnFilterChange($event, column.key)">
          {{ column.label }}
        </th>
        <th></th>
        <th nzShowSort nzSortKey="was_present">Tipo</th>
        <th nzRight="0px" class="text-right">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-attendance [ngForOf]="refTable.data">
        <tr>
          <td>
            <span>{{ attendance.n_hours | HourConvert }}</span>
          </td>
          <td>
            <span>{{ attendance.date | date:'dd/MM/yyyy' }}</span>
          </td>
          <td>
            <div>{{ attendance.initial_time | date:'dd/MM/yyyy HH:mm' }} a </div>
            <div>{{ attendance.final_time | date:'dd/MM/yyyy HH:mm'}}</div>
          </td>
          <td>
            <span>{{ attendance.reject_reason }}</span>
          </td>
          <td>
            <span>{{ attendance.executed_service }}</span>
          </td>
          <td>
            <span *ngIf="attendance.file_id" nz-tooltip nzTitle="Ver anexo">
              <a href="{{ attendance.file.url }}" target="_blank">
                <i nz-icon nzType="download" nzTheme="outline"></i>
              </a>

            </span>

            <!--<div ngFor='absence of attendance.absence_reason'>
              {{absence.id}}
              <span *ngIf="absence" nz-tooltip nzTitle="Ver anexo">
                <i nz-icon nzType="download" nzTheme="outline"></i>
              </span>
            </div>-->
          </td>
          <td>
            <span nz-tooltip nzTitle="Por validar">
              <i *ngIf="attendance.status == 'PENDING'" nz-icon nzType="clock-circle" nzTheme="outline"
                style="font-size: 18px; color: orange;"></i>
            </span>
            <span nz-tooltip nzTitle="Presença rejeitada">
              <i *ngIf="attendance.status == 'REJECTED'" nz-icon nzType="close-circle" nzTheme="outline"
                style="font-size: 18px; color: red;"></i>
            </span>
            <span nz-tooltip nzTitle="Presença validada">
              <i *ngIf="attendance.status == 'ACCEPTED'" nz-icon nzType="check-circle" nzTheme="outline"
                style="font-size: 18px; color: rgb(27, 169, 116);"></i>
            </span>
          </td>
          <td *ngIf="attendance.was_present" class="font-attendance">
            Presença
          </td>
          <td *ngIf="!attendance.was_present" class="font-abesense">
            Falta
          </td>
          <td nzRight="0px" class="text-right">
            <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
              nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li
                  [nzDisabled]="!('social_scholarship:attendances:status' | hasPermission) || attendance.status != 'PENDING'"
                  nz-menu-item (click)="validateAttendanceModal(attendance)">Validar presença</li>
                <li
                  [nzDisabled]="!('social_scholarship:attendances:status' | hasPermission) || attendance.status != 'PENDING'"
                  nz-menu-item (click)="rejectAttendanceModal(attendance)">Rejeitar presença</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</div>