<div class="container">

  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
      <div nz-row>
        <nz-form-label>Termo de Pesquisa</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input [(ngModel)]="filters.search">
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
      <div nz-row>
        <nz-form-label>Localização</nz-form-label>
        <nz-form-control>
          <nz-select class="primary-select" [(ngModel)]="filters.location_id" nzShowSearch style="width: 100%;">
            <nz-option *ngFor="let location of locations" [nzLabel]="location.description" [nzValue]="location.id">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="4" [nzXXl]="4">
      <div nz-row>
        <nz-form-label>Data de criação</nz-form-label>
        <nz-form-control>
          <nz-date-picker class="primary-datePicker" [(ngModel)]="filters.created_at"
            id="date-create-list-assets-infrastructure">
          </nz-date-picker>
        </nz-form-control>
      </div>
    </div>


    <div nz-col [nzXs]="0" [nzSm]="12" [nzMd]="16" [nzLg]="19" [nzXl]="0" [nzXXl]="0"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="2" [nzXXl]="2" class="assets-btn">
      <button nz-button class="btn" nzType="primary" (click)="searchData(true)">Filtrar</button>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="assets-btn">
      <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
    </div>
  </div>
</div>
<div class="space"></div>

<div class="container">
    <div class="hidden-xs">
      <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)"
        [nzLoading]="loading" [nzFrontPagination]="false" [nzShowSizeChanger]="true" [nzTotal]="totalData"
        [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex" (nzPageIndexChange)="pagination()"
        (nzPageSizeChange)="pagination(true)">
        <thead  (nzSortChange)="sort($event)" nzSingleSort>
          <tr class="table__header">
            <th nzShowSort nzSortKey="created_at">Data de criação</th>
            <th nzShowSort nzSortKey="code">Código</th>
            <th nzShowSort nzSortKey="designation">Designação</th>
            <th>Localização
              <br>
              <span class="description-table">UA</span><span class="color-location"> | </span><span
                class="description-table">Edifício</span><span class="color-location"> | </span>
              <span class="description-table">Ala</span><span class="color-location"> |
              </span><span class="description-table">Piso</span><span class="color-location"> |
              </span><span class="description-table">Divisão</span><span class="color-location"> |
              </span><span class="description-table">Serviço</span>
            </th>
            <th nzShowSort nzSortKey="active">Ativo</th>
            <th nzRight="0px">Ações</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="refTable.data">
            <tr>
              <td>{{data?.created_at | date: 'dd/MM/yyyy'}}</td>
              <td>{{data?.code}}</td>
              <td>{{data?.designation}}</td>
              <td>{{data?.location?.description}}
              </td>
              <td>
                <fi-sas-tag [value]="data?.active"></fi-sas-tag>
              </td>
            
              <td nzRight="0px"><button nz-button nz-dropdown nzType="link" [nzDropdownMenu]="menu" nzPlacement="bottomRight"><i nz-icon
                    nzType="dash" nzTheme="outline" class="font-icon-dash"></i></button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li [nzDisabled]="!('infrastructure:assets:update' | hasPermission)" nz-menu-item
                      (click)="edit(data.id)">Editar</li>
                    <li [nzDisabled]="!('infrastructure:assets:update' | hasPermission)" *ngIf="data?.active == true"
                      (click)="desactive(data)" nz-menu-item>
                      Desativar</li>
                    <li [nzDisabled]="!('infrastructure:assets:update' | hasPermission)" *ngIf="data?.active == false"
                      (click)="active(data)" nz-menu-item>Ativar
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
  
  
          </ng-template>
        </tbody>
      </nz-table>
    </div>
    <div class="hidden-md">
      <div *ngFor="let item of data; let idx = index">
        <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label class="font-label-mobile">Data de
            criação:</label> {{item?.created_at | date: 'dd/MM/yyyy'}}</div>
        <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
            class="font-label-mobile">Código:</label>{{item?.code}}</div>
        <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
            class="font-label-mobile">Designação:</label>{{item?.designation}}</div>
        <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
            class="font-label-mobile">Localização:</label>{{item?.location?.description}}</div>
        <div *ngIf="item?.active == true" nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
            class="font-label-mobile">Estado:</label>
          <i nz-icon nzType="icons:icons-radiobutton-checked" id="icon-active-list-assets-infra" nzTheme="outline"></i>
          Ativo
        </div>
        <div *ngIf="item?.active == false" nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
            class="font-label-mobile">Estado:</label>
          <img src="./assets/images/icons-radiobutton-unchecked@2x.png" width="15px"> Inativo
        </div>
  
        <div style="padding-right: 10px;" class="text-right margin-bottom-15">
          <button nz-button nz-dropdown nzType="link" [nzDropdownMenu]="menu" nzPlacement="bottomRight"><i nz-icon
              nzType="dash" nzTheme="outline" class="font-icon-dash"></i></button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="edit(item.id)">Editar</li>
              <li *ngIf="item?.active == true" (click)="desactive(item)" nz-menu-item>Desativar</li>
              <li *ngIf="item?.active == false" (click)="active(item)" nz-menu-item>Ativar</li>
            </ul>
          </nz-dropdown-menu>
        </div>
        <nz-divider></nz-divider>
  
      </div>
      <div style="text-align: center; padding-bottom:15px">
        <nz-pagination id="pagination-list-assets-infra" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
          (nzPageIndexChange)="pagination()" [(nzPageIndex)]="pageIndex" (nzPageSizeChange)="pagination(true)"
          nzShowSizeChanger></nz-pagination>
      </div>
  
    </div>
</div>
