@import "theme";

.container {
    background: white;
    padding: 24px 30px 24px 30px;
    margin-bottom: 5px;
    &__title {
        font-size: 16px;
        line-height: 22px;
        margin: 0px;
        font-weight: bold;
        margin-bottom:10px;
        color:black;
    }
    &__subtitle{
      margin-bottom:5px;
    }
  }

.container-init{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

.space {
    background-color: #f0f2f5;
    padding: 10px;
  }

.padding-bottom-5{
    padding-bottom:5px;
}

.padding-top-30{
    padding-top:30px;
}
.button-filter{
    text-align: right;
    padding-top:23px;
}

.button-submit{
  margin-top: 15px;
  text-align: center;
}

.hidden-md {
    display:none;
}
.content-table {
    margin: 8px;
    
    .table {
        &__header {
            th {
                background: white;
                color: var(--primary-6);
                font-weight: 700;
            }

            & > th:first-child {
                border-top-left-radius: 2px !important;
            }
            
            & > th:last-child {
                border-top-right-radius: 2px !important;
            }
        }
        
        tr {

            /*td {
                color: var(--text-color);
            }*/

            background: white !important;
        }
    }

    .options_button {
        color: var(--text-color);
        font-size: 22px;
    }
}

.container-table {
    background: white;
    padding: 24px 5px 0px 5px;
    margin-bottom: 24px;
}

.color-location{
    color: var(--primary-color);
}

.description-table{
    font-size: 12px;
    color: grey;
    font-weight: 400;
}
.text-right{
    text-align: right;
}

.font-icon-dash{
    font-size:22px;
    color: var(--text-color);
}

.button-list{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: right;
}
#icon-active-list-assets-infra::ng-deep svg {
    g path {
        fill: var(--primary-color);
    }
}

#pagination-list-assets-infra ::ng-deep .ant-pagination-options {
    display: block !important;
    padding-top:10px;
    margin-left:10px !important;
}

#pagination-list-assets-infra ::ng-deep .ant-pagination.mini .ant-pagination-options {
    margin-left:2px;
}


@media screen and (max-width:800px) {
    .hidden-xs {
        display: none;
    }

    .hidden-md {
        display:block;
    }

    .font-label-mobile{
      color: black;
      font-weight: bold;
      padding: 10px;
    }

    .font-icon-dash{
      font-size:26px;
      color: var(--primary-color);
    }

    .margin-bottom-15{
      margin-bottom:15px;
    }

}

@media screen and (max-width:600px) {
    .hidden-xs {
        display: none;
    }

    .hidden-md {
        display:block;
    }

    .font-label-mobile{
      color: black;
      font-weight: bold;
      padding: 10px;
    }

    .font-icon-dash{
      font-size:26px;
      color: var(--primary-color);
    }

    .margin-bottom-15{
      margin-bottom:15px;
    }

}

.assets-btn{
  text-align: center;
  .btn-delete{
    cursor: pointer;
    font-size: 18px;
    margin-top: 42px;

  }
  .btn{
    margin-bottom: 4px;
    margin-top: 40px;
  }

}
