<nz-spin [nzTip]="'A carregar...'" [nzSpinning]="loading">
  <div class="content">
    <form nz-form [formGroup]="currentForm">
      <nz-form-item>
        <nz-form-label nzRequired>Data</nz-form-label>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-date-picker
            formControlName="date"
            nzPlaceHolder="Please select data"
            nzShowTime
          ></nz-date-picker>
          <ng-template #errorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Confirme a data
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>Serviço</nz-form-label>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-select
            style="max-width: 200px"
            formControlName="service_id"
            nzPlaceHolder="Serviço"
            nzAllowClear
            nzShowSearch
            [nzLoading]="servicesLoading"
          >
            <nz-option
              *ngFor="let item of services"
              [nzLabel]="item.name"
              [nzValue]="item.id"
              [nzDisabled]="!item.active"
            >
            </nz-option>
          </nz-select>
          <ng-template #errorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Confirme o serviço
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-divider nzText="Linhas" nzOrientation="left"></nz-divider>

      <ng-container formArrayName="lines">
        <table class="table">
          <thead class="table__thead">
            <tr class="table__thead__row">
              <th style="width: 20%">Receita</th>
              <th style="width: 20%">Classe</th>
              <th style="width: 10%">Temperatura</th>
              <th style="width: 20%">Anomalia</th>
              <th style="width: 20%">Obersevações</th>
              <th style="width: 10%">Remover</th>
            </tr>
          </thead>
          <tbody class="table_tbody">
            <tr
              class="table__tbody__row"
              *ngFor="let linesForm of lines.controls; let i = index"
              [formGroup]="linesForm"
            >
              <td>
                <nz-form-item>
                  <nz-form-control [nzErrorTip]="errorTpl1">
                    <nz-select
                      formControlName="recipe_id"
                      nzPlaceHolder="Pesquise a receita..."
                      nzShowSearch
                      nzAllowClear
                      [nzServerSearch]="true"
                      (nzOnSearch)="onRecipesSearch($event)"
                      [nzLoading]="isRecipesLoading"
                    >
                      <nz-option
                        *ngFor="let item of recipes"
                        [nzLabel]="item.name"
                        [nzValue]="item.id"
                        [nzDisabled]="!item.active"
                      >
                      </nz-option>
                    </nz-select>
                    <ng-template #errorTpl1 let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Selecione uma receita
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </td>

              <td>
                <nz-form-item style="padding-top: 25px">
                  <nz-form-control
                    [nzErrorTip]="errorTpl3"
                    [nzExtra]="extraTpl3"
                    style="text-align: center"
                  >
                    <nz-select
                      formControlName="food_temperature_class_id"
                      nzPlaceHolder="Pesquise a classe..."
                      nzShowSearch
                      [nzLoading]="isClassesLoading"
                      (ngModelChange)="classChanged(i, $event)"
                    >
                      <nz-option
                        *ngFor="let item of classes"
                        [nzLabel]="item.name"
                        [nzValue]="item.id"
                      >
                      </nz-option>
                    </nz-select>

                    <ng-template #extraTpl3 let-control>
                      <ng-container *ngIf="selectedClasses[i]">
                        Min. {{ selectedClasses[i].minimum }}ºC/ Max.
                        {{ selectedClasses[i].maximum }}ºC
                      </ng-container>
                    </ng-template>
                    <ng-template #errorTpl3 let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Preencha a classe
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </td>

              <td>
                <nz-form-item>
                  <nz-form-control [nzErrorTip]="errorTpl2">
                    <nz-input-group nzAddOnAfter="º C">
                    <input
                      nz-input
                      formControlName="temperature"
                      type="number"
                      (ngModelChange)="temperatureChanged(i, $event, linesForm)"
                    />
                  </nz-input-group>
                    <ng-template #errorTpl2 let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Insira a temperatura
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </td>

              <td>
                <nz-form-item>
                  <nz-form-control [nzErrorTip]="errorTpl4">
                    <nz-select
                      formControlName="anomaly_id"
                      nzPlaceHolder=""
                      nzAllowClear
                    >
                      <nz-option
                        *ngFor="let item of anomalies"
                        [nzLabel]="item.name"
                        [nzValue]="item.id"
                      >
                      </nz-option>
                    </nz-select>
                    <ng-template #errorTpl4 let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Selecione uma anomalia
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td>
                <nz-form-item>
                  <nz-form-control [nzErrorTip]="errorTpl5">
                    <textarea
                      nz-input
                      formControlName="observations"
                    ></textarea>
                    <ng-template #errorTpl5 let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Confirme a data
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td>
                <button
                  nz-button
                  nzSize="small"
                  nzType="danger"
                  (click)="deleteLine(i)"
                >
                  <i nz-icon nzType="delete" nzTheme="outline"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <nz-form-item>
        <nz-form-control nzSpan="24" style="text-align: center">
          <button
            nz-button
            nzType="dashed"
            class="add-button"
            (click)="addLine()"
          >
            <i nz-icon nzType="plus"></i>
            Adicionar Linha
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>

  <div class="space">
    <button nz-button (click)="backList()">Voltar</button>
    <button
      nz-button
      [nzLoading]="loading"
      [disabled]="loading"
      (click)="submit()"
      class="button-submit"
      [nzType]="'primary'"
    >
      {{ id ? 'Editar' : 'Criar' }}
    </button>
  </div>
</nz-spin>
