<div class="title" nz-row *ngIf="nameService && meal">
  <label>{{nameService}} - {{meal == 'dinner' ? ('ALIMENTATION.MEALS.DINNER' | translate) : ('ALIMENTATION.MEALS.LUNCH' | translate)}}</label>
</div>

<nz-list [nzSplit]= "false" [nzLoading] = "isLoading" [nzDataSource]="menus"  [nzRenderItem]="dish" [nzGrid]="{gutter: 16 ,xs: 24, sm: 24, md: 12, lg: 8, xl: 6, xxl: 4 }">

  <ng-template #dish let-dish>

    <nz-list-item [nzContent]="nzDish">
      <ng-template #nzDish>
        <app-dish-card-pack [dish]="dish" [meal]="meal" [date]="date.date" [serviceID] = serviceId (newBuy)="returnBuy($event)" (refresh)="refreshMenu($event)"></app-dish-card-pack>
      </ng-template>
    </nz-list-item>

  </ng-template>

</nz-list>
