<div class="content--padding white">
    <form nz-form [formGroup]="formCreate">
        <nz-form-item>
            <nz-form-label nzRequired>
                Nome
            </nz-form-label>
            <nz-form-control>
                <input formControlName="name" nz-input type="text">
            </nz-form-control>
            <nz-form-explain class="color-required"
                *ngIf="submitted && formCreate.get('name')?.errors">
                Campo obrigatório
            </nz-form-explain>
        </nz-form-item>
        <div nz-row>
            <div nz-col nzSpan="5">
                <nz-form-item>
                    <nz-form-label nzRequired>
                        Prioridade
                    </nz-form-label>
                    <nz-form-control>
                        <input formControlName="priority" nz-input type="number">
                    </nz-form-control>
                    <nz-form-explain class="color-required"
                        *ngIf="submitted && formCreate.get('priority')?.errors">
                        Campo obrigatório
                    </nz-form-explain>
                </nz-form-item>
            </div>
        </div>
        
    </form>
</div>

<div class="space" nz-row>
    <button *ngIf="isUpdate" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
    <button nz-button [nzLoading]="isLoading" [disabled]="isLoading" (click)="submit()" class="button-submit"
        [nzType]="'primary'">{{isUpdate ? 'Editar' : 'Criar'}}</button>
</div>

