<nz-card
  class="card__section"
  [ngClass]="{ blur: !experienceVolunteering.active }"
  *ngIf="custumizeToggle || experienceVolunteering.active"
>
  <div nz-row>
    <div
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="16"
      [nzLg]="16"
      [nzXl]="14"
      [nzXXl]="14"
    >
      <div nz-row>
        <div
          nz-col
          [nzXs]="3"
          [nzSm]="3"
          [nzMd]="4"
          [nzLg]="3"
          [nzXl]="2"
          [nzXXl]="2"
        >
          <i
            nz-icon
            class="icon"
            type="icons:icons-voluntariado_v3"
            id="icon-dashboard"
          ></i>
        </div>
        <div
          nz-col
          [nzXs]="21"
          [nzSm]="21"
          [nzMd]="20"
          [nzLg]="21"
          [nzXl]="22"
          [nzXXl]="22"
        >
          <div nz-row>
            <span class="card__title">{{
              "DASHBOARD.WIDGETS.VOLUNTEERING.TITLE" | translate
            }}</span>
          </div>
          <div nz-row class="black-text">
            <span>{{
              "DASHBOARD.WIDGETS.VOLUNTEERING.DESCRIPTION" | translate
            }}</span>
          </div>
        </div>
      </div>
    </div>
    <div
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="8"
      [nzLg]="8"
      [nzXl]="10"
      [nzXXl]="10"
    >
      <button
        nz-button
        nzType="default"
        class="btw-see-more"
        [routerLink]="['/volunteering', 'experiences']"
      >
        {{ "DASHBOARD.WIDGETS.SEE-MORE.TITLE" | translate }}
      </button>
    </div>
  </div>
  <div
    nz-row
    *ngFor="let exp of experienceVolunteering.data"
    class="box-experiences"
  >
    <div
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="24"
      [nzLg]="24"
      [nzXl]="24"
      [nzXXl]="24"
    >
      <div nz-row>
        <div
          nz-col
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24"
          [nzLg]="24"
          [nzXl]="5"
          [nzXXl]="4"
          style="margin-top: 5px"
        >
          <nz-tag class="tab-status" (click)="goDetailExperience(exp.id)">
            {{ "DASHBOARD.WIDGETS.VOLUNTEERING.CONSULT" | translate }}
          </nz-tag>
        </div>
        <div
          nz-col
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24"
          [nzLg]="24"
          [nzXl]="19"
          [nzXXl]="20"
        >
          <div nz-row>
            <span class="title-exp">{{
              (exp?.translations | languageChange).title
            }}</span>
          </div>
          <div nz-row>
            <b>{{ (exp?.translations | languageChange).description }}</b>
          </div>
        </div>
      </div>
    </div>
    <div
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="24"
      [nzLg]="24"
      [nzXl]="24"
      [nzXXl]="24"
      style="padding-top: 20px"
    >
      <div nz-row>
        <div
          nz-col
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24"
          [nzLg]="24"
          [nzXl]="5"
          [nzXXl]="4"
        >
          <div nz-row>
            <span class="title-detail">{{
              "DASHBOARD.WIDGETS.VOLUNTEERING.SUBMIT" | translate
            }}</span>
          </div>
          <div nz-row>
            <span class="description-detail">
              {{ exp?.created_at | date: "dd MMMM yyyy" }}</span
            >
          </div>
        </div>
        <div
          nz-col
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="12"
          [nzLg]="12"
          [nzXl]="5"
          [nzXXl]="5"
        >
          <div nz-row>
            <span class="title-detail">{{
              "DASHBOARD.WIDGETS.VOLUNTEERING.ORG_UNIT" | translate
            }}</span>
          </div>
          <div nz-row>
            <span class="description-detail">
              {{ exp?.organic_unit?.name }}</span
            >
          </div>
        </div>
        <div
          nz-col
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="12"
          [nzLg]="12"
          [nzXl]="14"
          [nzXXl]="15"
        >
          <div nz-row>
            <span class="title-detail">{{
              "DASHBOARD.WIDGETS.VOLUNTEERING.DATE" | translate
            }}</span>
          </div>
          <div nz-row>
            <span class="description-detail"
              >{{ "DASHBOARD.WIDGETS.VOLUNTEERING.APPLICATION" | translate }}
              {{ exp?.start_date | date: "dd MMMM yyyy" }}
              {{ "DASHBOARD.WIDGETS.VOLUNTEERING.TO" | translate }}
              {{ exp?.end_date | date: "dd MMMM yyyy" }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</nz-card>
