
@import "theme";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 1199px)";
@mobile:    ~"only screen and (min-width: 320px) and (max-width: 719px)";


.blur {
    opacity: 50%;
  }

  .black-text {
    color: black;
    font-size: 15px;
  }
  .card {
    &__title {
        font-weight: bold;
        font-size: 17px;
        color: var(--primary-7);
    @media @mobile {
        font-size: 15px;
    }
    }
    &__section {
    color: #000000;
    margin-bottom: 0.5cm;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    }
}

.btw-see-more {
  border: solid 0.4px black;
  color: black;
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}
.btw-see-more:hover {
  color: white !important;
  border: solid 0.4px var(--primary-6);
  background-color: var(--primary-6);
}
#icon-dashboard::ng-deep svg {
    path {
      fill: var(--primary-color);
    }
}

.icon {
    font-size: 40px;
    padding-right: 10px;
    @media @mobile {
      font-size: 27px;
    }
}

.box-experiences {
    padding: 10px;
    margin-top: 20px;
    border: 1px solid var(--primary-1);
    border-radius: 5px;
}


.tab-status {
  background-color: var(--primary-5);
  color: white;
  border-color:var(--primary-5);
}

.title-exp {
    font-size: 20px;
    font-weight: bold;
}

.title-detail {
  font-size: 13px;
  color: var(--primary-7);
}

.description-detail {
  color: black;
  font-size: 13px;
}

@media @mobile {
    .card{
      &__section {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
}
