<div class="ticker">
  <div fi-ticker-wrap class="ticker__wrap" *ngIf="tickers$ | async as tickers">
    <div class="ticker__background"></div>

    <div class="ticker__container">
      <div
        *ngFor="let ticker of tickers"
        fi-ticker-item
        scope="{{ ticker.category.translations[0].name }}"
      >
        {{ ticker.translations[0].title }}
      </div>
    </div>

    <div *ngIf="tickerScopeNode" class="ticker__scope">
      <div class="ticker__scope-label">
        {{ tickerScopeNode }}
      </div>

      <div class="ticker__scope-tab"></div>
    </div>
  </div>
</div>
