@import 'default-theme.less';

:host::ng-deep {
  .ticker {
    width: 100%;
    position: absolute;
    top: 54px;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: transparent;

    &__background {
      position: absolute;
      width: 100%;
      height: 72px;
      opacity: 0.85;
      background-color: var(--fisas-07);
    }

    &__wrap {
      width: 100%;
      height: 72px;

      overflow: hidden;
      position: relative;
    }

    &__container {
      width: 4000000000000000px;
      height: 30px;
      position: relative;

      height: 72px;
      line-height: 72px;

      font-size: 25px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.8px;
      color: @fisas-grey-01;
      /* opacity: 0.7; */
    }

    &__item {
      display: inline-block;
      padding-right: 200px;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: -0.2px;
      color: @fisas-grey-01;
    }

    &__scope {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: auto;

      height: 72px;
      line-height: 72px;

      font-size: 25px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.8px;
      color: @fisas-grey-01;
    }

    &__scope-label {
      display: block;
      float: left;
      padding: 0 39px 0 63px;
      opacity: 0.9;
      background-color: var(--fisas-07);
    }

    &__scope-tab {
      display: inline-block;
      height: 0px;
      border-right: 20px solid transparent;
      opacity: 0.9;
      border-top: 72px solid var(--fisas-07);
    }
  }
}
