
<div nzType="flex" nzAlign="middle" nzJustify="center" perfectScrollbar class="page ps scroll-container">
  <div class="container">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
        <div nz-row>
          <nz-form-label>Cantina</nz-form-label>
          <nz-form-control>
            <nz-select class="primary-select" nzAllowClear [(ngModel)]="filters.service_id" nzShowSearch style="width: 100%;">
              <nz-option *ngFor="let service of services" [nzLabel]="service?.name" [nzValue]="service.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </div>
      </div>
      <div nz-col style="margin-left: 16px;" [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
        <div nz-row>
          <nz-form-label>Refeição</nz-form-label>
          <nz-form-control>
            <nz-select class="primary-select" nzAllowClear [(ngModel)]="filters['meal']" nzShowSearch style="width: 100%;">
              <nz-option nzLabel="Todos" nzValue=""></nz-option>
              <nz-option nzLabel="Almoço" nzValue="lunch"></nz-option>
              <nz-option nzLabel="Jantar" nzValue="dinner"></nz-option>
            </nz-select>
          </nz-form-control>
        </div>
      </div>
      <div nz-col style="margin-left: 16px;" [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
        <div nz-row>
          <nz-form-label>Consumidor</nz-form-label>
          <nz-form-control>
            <fi-sas-user-select [(ngModel)]="filters.user_id"></fi-sas-user-select>
          </nz-form-control>
        </div>
      </div>
      <div nz-col style="margin-left: 16px;" [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
        <div nz-row>
          <nz-form-label>Data</nz-form-label>
          <nz-form-control>
            <nz-range-picker [(ngModel)]="filter_date" [nzPlaceHolder]="[ 'Data inicial','Data final']">
            </nz-range-picker>
          </nz-form-control>
        </div>
      </div>
    
    </div>
    <div nz-row> 
      <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="16" [nzLg]="20" [nzXl]="20" [nzXXl]="20"></div>
      <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
        <button nz-button nzType="primary" class="btn" (click)="updateFilters()">Filtrar</button>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter" style="text-align: left;">
        <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content-table">
      <nz-table class="table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)"
        [nzLoading]="loading" [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true"
        [nzTotal]="totalData" [(nzPageSize)]="pageSize" (nzPageIndexChange)="pagination()"
        (nzPageSizeChange)="pagination(true)">
        <thead (nzSortChange)="sort($event)" nzSingleSort>
          <tr class="table__header">

            <th></th>
            <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
              [nzSortKey]="column.sortKey ? column.sortKey : column.key">
              {{ column.label }}
            </th>
            <th nzRight="0px">Ações</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="refTable.data">
            <tr>

              <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
              <td>
                {{ (data | flatObject)['date']  | date: 'yyyy-MM-dd' }}
              </td>
              <td>
                {{ data.menu_dish?.menu?.service?.name }}
              </td>
              <td>
                {{ data.menu_dish?.menu?.meal === 'lunch' ? 'Almoço' : 'Jantar' }}
              </td>
              <td>
                {{ (data.menu_dish?.type?.translations | translation)?.name }}
              </td>
              <td>
                {{ (data.menu_dish?.dish?.translations | translation)?.name }}
              </td>
              <td>
                <fi-sas-tag [value]="data['is_available']" [results]="YesNoTag"></fi-sas-tag>
              </td>
              <td>
                <fi-sas-tag [value]="data['has_canceled']" [results]="YesNoTag"></fi-sas-tag>
               </td>
               <td>
                <fi-sas-tag [value]="data['is_served']" [results]="YesNoTag"></fi-sas-tag>
               </td>
               <td>
                <fi-sas-tag [value]="data['is_from_pack']" [results]="YesNoTag"></fi-sas-tag>
               </td>
               <td>
               <span *ngIf="data?.is_served === true"> {{ (data | flatObject)['served_at'] | date: 'yyyy-MM-dd'  }} </span>
               <span *ngIf="data?.is_served === false"> Não servida </span>
               </td>
              <td nzRight="0px">
                <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
                  nzPlacement="bottomRight">
                  <i nz-icon nzType="dash" nzTheme="outline"></i>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li [nzDisabled]="!('alimentation:reservations:status' | hasPermission)" nz-menu-item *ngIf="data?.is_served === false" (click)="markServed(data.id)">
                      Marcar como servida
                    </li>
                    <li [nzDisabled]="!('alimentation:reservations:status' | hasPermission)" nz-menu-item *ngIf="data?.is_served === true" (click)="markUnserved(data.id)">
                     Marcar como não servida
                    </li>
                    <li [nzDisabled]="!('alimentation:reservations:status' | hasPermission)" nz-menu-item *ngIf="data?.is_served === false" (click)="cancelReservation(data.id)">
                      Anular Compra
                     </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
            <tr [nzExpand]="mapOfExpandData[data.id]">
              <td [attr.colspan]="columns.length + 3" *ngIf="mapOfExpandData[data.id]">
                <fi-sas-view-reservations [data]="data"></fi-sas-view-reservations>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>


