@import "~/scss/_variables";

.dashboard-action-bar {
  /* ----------------------- */
  /* Component */
  color: $white;
  padding: 5 20;

  &__title {
    font-size: 15px;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 10px;
  }

  .fisas {
    &__btn {
      color: $white;
      margin: 0;
      padding: 0;
      display: inline;

      &--hover {
        color: $super-light-grey;
      }
    }
  }
}
