<StackLayout class="dashboard-action-bar fisas__bg--{{ institution }}">
  <GridLayout columns="*, *, *" rows="auto">
    <Label
      fisasButton
      verticalAlignment="center"
      class="fisas__btn fisas__icon"
      text="&#xe92c;"
      (tap)="toogleMenu()"
    ></Label>
    <Label
      col="1"
      textAlignment="center"
      textWrap="true"
      verticalAlignment="center"
    >
      <FormattedString>
        <Span
          class="dashboard-action-bar__title"
          text="{{ institution }}"
        ></Span>
        <Span [text]="'\n'"></Span>
        <Span
          class="dashboard-action-bar__subtitle"
          text="{{
            loggedUser
              ? loggedUser
              : ('DASHBOARD_ACTION_BAR.NO_AUTH' | translate)
          }}"
        ></Span>
      </FormattedString>
    </Label>
    <Label
      fisasButton
      col="2"
      textAlignment="right"
      verticalAlignment="center"
      class="fisas__btn fisas__icon"
      text="&#xe902;"
      (tap)="showProfileOrLogin()"
    ></Label>
  </GridLayout>
</StackLayout>
