<StackLayout class="contacts">
  <!-- action bar -->
  <fi-action-bar
    [actionBarType]="3"
    actionBarTitle="{{ 'contacts.title' | translate }}"
    actionBarBack="dashboard"
  ></fi-action-bar>

  <ScrollView row="0">
    <!-- IPCA -->
    <WrapLayout
      *ngIf="institution === 'IPCA'"
      orientation="horizontal"
      class="fisas__content"
    >
      <StackLayout class="contacts__container">
        <Label class="fisas__h1" text="IPCA"></Label>
        <Label
          class="fisas__h2"
          text="{{ 'contacts.subtitle' | translate }}"
        ></Label>
      </StackLayout>

      <StackLayout class="contacts__block">
        <Label
          class="contacts__block__title"
          text="{{ 'contacts.centralservices' | translate }} "
        ></Label>
        <Label
          textWrap="true"
          text="Campus do IPCA, Vila Frescaínha S. Martinho"
        ></Label>
        <Label textWrap="true" text="4750-810 Barcelos"></Label>
        <Label textWrap="true" text="T. 253 802 190  F. 253 812 281"></Label>
        <GridLayout columns="auto,*" class="contacts__block__links">
          <Label
            class="fisas__color--{{ institution }}"
            marginRight="10"
            (tap)="clickUrl('mailto:geral@ipca.pt')"
            text="geral@ipca.pt"
          ></Label>
          <Label
            class="fisas__color--{{ institution }}"
            (tap)="clickUrl('https://www.ipca.pt')"
            text="www.ipca.pt"
            col="1"
          ></Label>
        </GridLayout>
      </StackLayout>
    </WrapLayout>

    <!-- IPVC -->
    <WrapLayout
      *ngIf="institution === 'IPVC'"
      orientation="horizontal"
      class="fisas__content"
    >
      <StackLayout class="contacts__container">
        <Label class="fisas__h1" text="IPVC"></Label>
        <Label
          class="fisas__h2"
          text="{{ 'contacts.subtitle' | translate }}"
        ></Label>
      </StackLayout>

      <StackLayout class="contacts__block">
        <Label
          class="contacts__block__title"
          text="{{ 'contacts.centralservices' | translate }}"
        ></Label>
        <Label textWrap="true" text="Largo 9 de Abril Ap. 186"></Label>
        <Label textWrap="true" text="4901-911 Viana do Castelo"></Label>
        <Label textWrap="true" text="T. 258 825 472"></Label>
        <GridLayout columns="auto,*" class="contacts__block__links">
          <Label
            class="fisas__color--{{ institution }}"
            marginRight="10"
            (tap)="clickUrl('mailto:sas@sas.ipvc.pt')"
            text="sas@sas.ipvc.pt"
          ></Label>
          <Label
            class="fisas__color--{{ institution }}"
            (tap)="clickUrl('https://www.sas.ipvc.pt')"
            text="www.sas.ipvc.pt"
            col="1"
          ></Label>
        </GridLayout>
      </StackLayout>
    </WrapLayout>

    <!-- IPB-->
    <WrapLayout
      *ngIf="institution === 'IPB'"
      orientation="horizontal"
      class="fisas__content"
    >
      <StackLayout class="contacts__container">
        <Label class="fisas__h1" text="IPB"></Label>
        <Label
          class="fisas__h2"
          text="{{ 'contacts.subtitle' | translate }}"
        ></Label>
      </StackLayout>

      <StackLayout class="contacts__block">
        <Label
          class="contacts__block__title"
          text="{{ 'contacts.centralservices' | translate }}"
        ></Label>
        <Label
          textWrap="true"
          text="Instituto Politécnico de Bragança, Campus de Sta.Apolónia Apartado 159"
        ></Label>
        <Label textWrap="true" text="5301-902 Bragança"></Label>
        <Label textWrap="true" text="T. 273 30 3361/3368 F. 273 331557"></Label>
        <GridLayout columns="auto,*" class="contacts__block__links">
          <Label
            class="fisas__color--{{ institution }}"
            marginRight="10"
            (tap)="clickUrl('mailto:sas@ipb.pt')"
            text="sas@ipb.pt"
          ></Label>
          <Label
            class="fisas__color--{{ institution }}"
            (tap)="clickUrl('https://www.sas.ipb.pt')"
            text="www.sas.ipb.pt"
            col="1"
          ></Label>
        </GridLayout>
      </StackLayout>
    </WrapLayout>
  </ScrollView>
</StackLayout>
