@import 'theme.less';

.topnav {
  overflow: hidden;
  border-left: 1px solid #f0f2f5;
  background-color: white;
}

.topnav a {
  float: left;
  color: grey;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: var(--primary-1);
  color:  var(--primary-6);
  text-decoration: none;
}

.topnav a.active-link {
  border-bottom: 4px solid var(--primary-color);
  color: var(--primary-color);
}

@media screen and (max-width: 600px) {
  .topnav a {
    width: 50%;
  }

  .topnav a.active-link {
    border-bottom: none;
    background-color: var(--primary-color);
    color: white;
  }
}
