@import "theme";

.bar-list {
    background-color: #b4b4b4;
    height: 94%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.loading-spin {
    position: relative;
    top: 50%;
}

.floating-button {
    text-align: center;
    padding: 6px;
    width: 100%;
    //box-shadow: 0 -2px 15px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    height: 6%;

    button {
        border-radius: 24px;
        border: solid 2px #e8e8e8;
        background-color: #ffffff;
        width: 240px;
    }
}

.border-card {
    border-radius: 5px;
    border: 2px solid transparent;
    cursor: pointer;
}

.border-card-wait {
    border-radius: 5px;
    border: 2px solid transparent;
    cursor: pointer;
    background-color: @primary-3;
}

.border-card-selec {
    border-color: @primary-6;
}

.id-order {
    font-weight: bold;
    color: @primary-6;
}

.hour {
    font-size: 13px;
}

.white {
    background-color: white;
    padding-bottom: 10px;
}

.title-wait {
    padding-left: 15px;  
    padding-top: 10px;
}