<div class="bar-list">
    <nz-spin *ngIf="orderLoadingTotal" [nzSpinning]="orderLoadingTotal" style="padding-top: 60px;">
    </nz-spin>
    <div *ngIf="ordersWait.length>0" class="white">
        <div nz-row class="title-wait">
            <span><b>Pedidos em Espera</b></span>
        </div>
        <div *ngFor="let order of ordersWait" style="margin: 15px;">
            <nz-card [nzBodyStyle]="{'padding': '5px'}" class="border-card-wait"
                [ngClass]="{'border-card-selec': order.id == idOrderSelect}" (click)="getInfoByIdOrder(order.id)">

                <div nz-col>
                    <p class="id-order">Pedido Nº {{order?.id}}</p>
                </div>
                <div nz-col nzSpan="19"> <span><b>{{ order?.user?.name }}</b></span></div>
                <div nz-col nzSpan="5"> <span class="hour">{{ order?.created_at | date: 'HH:mm' }}</span></div>
                <div nz-col> <span class="hour" *ngIf="order?.user?.student_number">n.º
                        {{order?.user?.student_number}}</span></div>
            </nz-card>
        </div>

    </div>
    <div *ngFor="let order of orders" style="margin: 15px;">
        <nz-card [nzBodyStyle]="{'padding': '5px'}" class="border-card"
            [ngClass]="{'border-card-selec': order.id == idOrderSelect}" (click)="getInfoByIdOrder(order.id)">
            <div nz-col>
                <p class="id-order">Pedido Nº {{order?.id}}</p>
            </div>
            <div nz-col nzSpan="19"> <span><b>{{ order?.user?.name }}</b></span></div>
            <div nz-col nzSpan="5"> <span class="hour">{{ order?.created_at | date: 'HH:mm' }}</span></div>
            <div nz-col> <span class="hour" *ngIf="order?.user?.student_number">n.º
                    {{order?.user?.student_number}}</span></div>
        </nz-card>
    </div>


</div>

<div class="floating-button">
    <button nz-button (click)="refreshListTotal()" [nzLoading]="isLoadingRefresh">Atualizar</button>
</div>