<div class="content-form">
  <form [formGroup]="attachmentsForm" nzLayout="vertical">
    <div nz-row class="padding-bottom-10">
      <label class="content__title">Anexos</label>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">  
          <nz-form-item>
            <nz-form-control>
              <fi-sas-auto-upload-file [listType]="'picture-card'" [filesList]="file_ids"
                [multiUploads]="true" [buttonName]="'ANEXAR DOCUMENTOS'" (fileAdded)="onFileAdded($event)"
                (fileDeleted)="onFileDeleted($event)"></fi-sas-auto-upload-file>
            </nz-form-control>
          </nz-form-item>
      </div>
    </div>
    <div nz-row class="padding-top-30">
      <nz-divider></nz-divider>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzFor="notes">
            <span class="content__title">
              Observações
            </span>
          </nz-form-label>
          <nz-form-control>
            <textarea nz-input formControlName="notes" id="notes" name="notes" rows="4"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row class="padding-top-30">
      <nz-divider></nz-divider>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzFor="allow_historic">Autoriza o acesso do Profissional de Saúde ao histórico das consultas da especialidade</nz-form-label>
          <nz-form-control [nzErrorTip]="error_allow_historic">
            <nz-radio-group class="content__radio_group primary-radio" formControlName="allow_historic">
              <label nz-radio [nzValue]=true>Sim</label>
              <label nz-radio [nzValue]=false>Não</label>
            </nz-radio-group>
            <ng-template #error_allow_historic let-control>
              <ng-container class="error" *ngIf="f.allow_historic.dirty && f.allow_historic.errors">
                Campo obrigatório
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>


