/* override color */
.simplebar-scrollbar:before {
    background: #e8e8e8;
    transition: opacity 0.2s linear;
}

/* transparent scrollbar for horizontal drag */
.simplebar-scrollbar-transparent {
    position: absolute;
    right: 2px;
    width: 7px;
    min-height: 10px;
}

.simplebar-scrollbar-transparent:before {
    position: absolute;
    content: "";
    background: transparent;
    border-radius: 7px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.simplebar-track .simplebar-scrollbar-transparent.visible:before {
    opacity: 0.5;
    transition: opacity 0 linear;
}

.simplebar-track.vertical .simplebar-scrollbar-transparent:before {
    top: 2px;
    bottom: 2px;
}

.simplebar-track.horizontal {
    left: 0;
    width: auto;
    height: 11px;
}

.simplebar-track.horizontal .simplebar-scrollbar-transparent:before {
    height: 100%;
    left: 2px;
    right: 2px;
}

.horizontal.simplebar-track .simplebar-scrollbar-transparent {
    right: auto;
    left: 0;
    top: 2px;
    height: 7px;
    min-height: 0;
    min-width: 10px;
    width: auto;
}