::ng-deep.ant-modal {
  width: 416px !important;
  height: 400px !important;
}

::ng-deep.ant-btn > span {
  width: 100%;
}
::ng-deep.ant-modal-close {
  color: black;
}


.cancel-model {
  border-radius: 10px;

  &___content {
    margin-top: 10%;
  }

  &___title {
    width: 100%;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #111111;
    text-align: center !important;
  }

  &___icon {
      margin-top: 25px !important; ;
      margin-bottom: 19px !important;
      img {
        position: relative;
      }
  }

  &___info > p {
    width: 90% !important;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.38;
    color: #222222;
    text-align: center !important;
  }

  &___infodate > p {
    width: 90% !important;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.38;
    color: red;
    text-align: center !important;
  }

  .cancel-ticket-button > button {
    width: 90% !important;
    height: 42px;
    border-radius: 50px !important;
    background-color: #d0021b !important;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: white;
    border-color: #d0021b !important;
  }

  .cancel-button > button {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: black;
  }
}
