<nz-modal class="cancel-model" (nzOnCancel)="handleCancel()" [(nzVisible)]="isVisible" [nzTitle]="null"
  [nzContent]="modalContent" [nzFooter]="null">
  <ng-template #modalContent>
    <div class="cancel-model___content">
      <div nz-row nzType="flex" nzJustify="center">
        <p class="cancel-model___title">{{ "ALIMENTATION.CANCEL_TICKET.CANCEL_PURCHASE" | translate }}</p>
      </div>
      <div nz-row nzType="flex" nzJustify="center" class="cancel-model___icon">
        <img alt="negative" src="/assets/imgs/cards-ilustration-negative.svg" />
      </div>
      <div nz-row nzType="flex" nzAlign="center" class="cancel-model___info">
        <p>{{ "ALIMENTATION.CANCEL_TICKET.INFO" | translate }}</p>
      </div>
      <div nz-row nzType="flex" nzAlign="center" class="cancel-model___infodate" *ngIf="nullable">
        <p>{{ "ALIMENTATION.CANCEL_TICKET.INFODATE" | translate }} {{nullable | date : 'dd/MM/yyyy'}}
          {{ "ALIMENTATION.CANCEL_TICKET.INFOHOUR" | translate }} {{nullable | date : 'HH:mm'}}.
        </p>
      </div>
      <div nz-row class="cancel-ticket-button" nzType="flex" nzJustify="center" *ngIf="validDate(nullable)">
        <button nz-button nzType="default" [nzLoading]="isloadingCancel" [disabled]="isloadingCancel" (click)="cancelTicket()">
          <div nz-row nzType="flex" nzJustify="center">
            <div nz-col>{{ "ALIMENTATION.CANCEL_TICKET.CANCEL_MEAL" | translate }}</div>
          </div>
        </button>
      </div>
      <div nz-row class="cancel-button" nzType="flex" nzJustify="center">
        <button nz-button nzType="link" (click)="handleCancel()">{{ "ALIMENTATION.CANCEL_TICKET.CANCEL" | translate
          }}</button>
      </div>
    </div>
  </ng-template>
</nz-modal>