
@import "theme";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 1199px)";
@mobile:    ~"only screen and (min-width: 320px) and (max-width: 719px)";


.blur {
    opacity: 50%;
  }

  .black-text {
    color: black;
    font-family: Montserrat;
    font-size: 15px;
  }
  .card {
    &__title {
      font-weight: bold;
      font-size: 17px;
      color: var(--primary-7);
    @media @mobile {
        font-size: 15px;
    }
    }
    &__section {
    color: #000000;
    margin-bottom: 0.5cm;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    }
}

.btw-see-more {
  border: solid 0.4px black;
  color: black;
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}
.btw-see-more:hover {
  color: white !important;
  border: solid 0.4px var(--primary-6);
  background-color: var(--primary-6);
}
#icon-dashboard::ng-deep svg {
    path {
      fill: var(--primary-color);
    }
}

.icon {
    font-size: 40px;
    padding-right: 10px;
    @media @mobile {
      font-size: 27px;
    }
}

.box-experiences {
  padding: 10px;
  margin-top: 20px;
  border: 1px solid var(--primary-1);
  border-radius: 5px 5px 0px 0px;
}

.button-consult {
    font-size: 11px;
    color: white;
    background-color: var(--primary-5);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.title-exp {
    font-size: 21px;
    font-weight: bold;
}

.card {

  &__status {
      font-size: 11px;
      font-weight: bold;
      letter-spacing: 0.5px;
      color: #ffffff;
      text-align: center;
      align-items: center;
      border: none;
      cursor: context-menu;
  }
}

.SUBMITTED {
  background-color: #4d9de0;
}

.ANALYSED {
  background-color: #7768AE;
}

.INTERVIEWED {
  background-color: #88ccf1;
}

.ACCEPTED {
  background-color: #9DBBAE;
}

.DECLINED {
  background-color: #D0021B;
}

.EXPIRED {
  background-color: #ff8000;
}

.CANCELLED {
  background-color: #A4A4A4;
}

.title-detail {
  margin: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  font-size: 13px;
  color: var(--primary-7);
}

.description-detail {
  color: black;
  font-size: 13px;
}


.button-withdrawal {
    font-size: 11px;
    border: 2px solid #d0021b;
    color: black;
    height: auto;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 13px;
    cursor:pointer;
    margin-top: 5px;
}

.text-resum {
    font-weight: bold;
    font-size: 17px;
}

.box-detail-resum {
    text-align: center;
    background-color: var(--menu-bg);
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#modal-withdrawal-widget-my-application-social-support::ng-deep .ant-btn-default {
    display: none;
  }

#modal-withdrawal-widget-my-application-social-support::ng-deep .ant-modal-footer {
    display: none;
}


.form {
    &--title {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.41;
      letter-spacing: normal;
      color: #222222;
      margin-top: 20px;
      margin-left: 40px;
      margin-right: 40px;
    }
    &--subtitle {
      font-family: Montserrat;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #666666;
      margin-top: 8px;
      margin-bottom: 23.5px;
      margin-left: 40px;
      margin-right: 40px;
    }
    &__inputs {
      margin-left: 30px !important;
      margin-right: 30px !important;
      &--hours {
        float: right;
      }
    }
}

.button-submit {
    background-color: var(--primary-color);
    color: white;
    border-radius: 21px;
    border: 1px solid var(--primary-color);
    margin-top: 10px;
    cursor: pointer;
}

@media @mobile {
    .card{
      &__section {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
}

.title-card {
  font-weight: bold;
  font-size: 20px;
}