<nz-spin [nzSpinning]="isLoading">
  <div class="management-attendance-documentation">
    <div nz-row class="management-attendance-documentation--item">
      <div nz-col>
        <ng-container *ngIf="certificate; else uploadCertificateTemplate">
          <app-file-button class="mb-20 d-block" [file]="certificate" [pending]="certificateStatus === 'pending'"
            [failed]="certificateStatus === 'failed'" (fileDeleted)="certificateForm.get('file').setValue(null)"
            filename="SOCIAL_SUPPORT.ATTENDANCES.TABS.DOCUMENTATION.CERTIFICATE"></app-file-button>
        </ng-container>

        <ng-template #uploadCertificateTemplate>
          <div class="management-attendance-documentation--title">
            {{ 'SOCIAL_SUPPORT.ATTENDANCES.TABS.DOCUMENTATION.CERTIFICATE' | translate }}
          </div>

          <form *ngIf="certificateForm" nz-form [formGroup]="certificateForm">
            <nz-form-item>

              <nz-form-control>
                <nz-form-control>
                  <app-file-upload class="primary-file-upload" [filterTypes]="filterTypes" 
                  (fileDeleted)="certificateForm.get('file').setValue(null)" formControlName="file">
                  </app-file-upload>
                </nz-form-control>
                <div class="font-file">
                  {{ 'MISC.FORMAT_UPLOAD_MORE' | translate }} pdf, png, jpg. {{ 'MISC.LIMIT_MAX_FILE' | translate }}
                </div>
                <nz-form-explain class="error" *ngIf="submittedCertificate && certificateForm.get('file')?.dirty && certificateForm.get('file').errors">
                  {{ getInputError(certificateForm, 'file') }}
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>

            <div class="text-right">
              <app-button *ngIf="'social_scholarship:experience-user-interest:certificate' | hasPermission"
                type="primary" class="mr-20 ml-auto"
                translate="SOCIAL_SUPPORT.ATTENDANCES.TABS.DOCUMENTATION.GEN_CERTIFICATE"
                [loading]="isLoadingGenerateCertificate" (click)="generateCertificate()"></app-button>

              <app-button *ngIf="'social_scholarship:experience-user-interest:certificate' | hasPermission"
                type="primary" translate="MISC.SUBMIT" [loading]="isLoadingCertificate" (click)="onSubmitCertificate()">
              </app-button>
            </div>
          </form>
        </ng-template>
      </div>
    </div>

    <nz-divider></nz-divider>

    <div nz-row class="management-attendance-documentation--item">
      <div nz-col>
        <ng-container>
          <div class="management-attendance-documentation--title">
            {{ 'SOCIAL_SUPPORT.ATTENDANCES.TABS.DOCUMENTATION.REPORT' | translate }}
          </div>

          <ng-container *ngIf="report">
            <app-file-button [file]="report" title="SOCIAL_SUPPORT.ATTENDANCES.TABS.DOCUMENTATION.REPORT">
            </app-file-button>
          </ng-container>
          <div nz-row *ngIf="report && !openForm" class="padding-top-20" style="text-align: right;">
            <app-button type="primary" [translate]="'MISC.UPDATE'" (click)="update()"></app-button>
          </div>


          <form *ngIf="reportForm && openForm" nz-form [formGroup]="reportForm" class="padding-top-20">
            <nz-form-item>

              <nz-form-control>
                <nz-form-control>
                  <app-file-upload class="primary-file-upload" [filterTypes]="filterTypes" formControlName="file"
                    (fileDeleted)="reportForm.get('file').setValue(null)">
                  </app-file-upload>
                </nz-form-control>
                <div class="font-file">
                  {{ 'MISC.FORMAT_UPLOAD_MORE' | translate }} pdf, png, jpg. {{ 'MISC.LIMIT_MAX_FILE' | translate }}
                </div>
                <nz-form-explain class="error" *ngIf="submittedReport && reportForm.get('file')?.dirty && reportForm.get('file').errors">
                  {{ getInputError(reportForm, 'file') }}
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>

            <div class="text-right">
              <app-button *ngIf="'social_scholarship:experience-user-interest:final_report' | hasPermission"
                type="primary" [translate]="'MISC.SUBMIT'" [loading]="isLoadingReport"
                (click)="onSubmitReport()"></app-button>
            </div>
          </form>
        </ng-container>
      </div>
    </div>
  </div>
</nz-spin>