
@import 'theme';


.padding-top-20 {
  padding-top: 20px;
}

.management-attendance-documentation {
  padding-bottom: 20px;
  padding-top: 20px;

  &--item {
    padding-left: 15px;
    padding-right: 15px;
  }

  &--title {
    color: var(--primary-color);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.41;
    margin-bottom: 15px;
    display: block;
  }
}

.error {
  color: red;
  margin-top:5px;

  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}
.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-auto {
  margin-left: auto;
}

.d-block {
  display: block;
}

.font-file {
  line-height: initial;
  font-size: 12px;
  padding-top: 5px;
}
