<div nz-row>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="20" [nzXs]="22" class="management-attendances">
    <div nz-row>
      <div nz-col *ngIf="offer" class="management-attendances--offer">
        <app-offers-card [translations]="translations" [isAdvisor]="!isResponsable" [offer]="offer" [showButtons]="false"></app-offers-card>
      </div>
    </div>

    <ng-container *ngIf="manifestations.length > 0; else noManifestations">
      <div class="users-list-wrapper">
        <div
          *ngFor="let interest of manifestations"
          class="users-list-item"
          [ngClass]="{ 'users-list-item-selected': selectedCollaborationId == interest.id }"
          (click)="selectUser(interest.id)"
        >
          {{ interest.user.name }}
        </div>
      </div>

      <div nz-row nzType="flex">
        <div nz-col nzXs="24">
          <nz-tabset>
            <nz-tab [nzTitle]="'SOCIAL_SUPPORT.ATTENDANCES.TABS.ATTENDANCES_ABSENCE.TITLE' | translate">
              <app-list-attendances-advisor [collaborationId]="selectedCollaborationId"></app-list-attendances-advisor>
            </nz-tab>
            <nz-tab [nzTitle]="'SOCIAL_SUPPORT.ATTENDANCES.TABS.MONTHLY_REPORT.TITLE' | translate">
              <app-list-monthly-reports-advisor [offer]="offer"
                [collaborationId]="selectedCollaborationId"
              ></app-list-monthly-reports-advisor>
            </nz-tab>
            <nz-tab [nzTitle]="'SOCIAL_SUPPORT.ATTENDANCES.TABS.DOCUMENTATION.TITLE' | translate">
              <app-management-attendance-documentation
                [collaborationId]="selectedCollaborationId"
              ></app-management-attendance-documentation>
            </nz-tab>
          </nz-tabset>
        </div>
      </div>
    </ng-container>

    <ng-template #noManifestations>
      <div class="management-attendances--no-manifestations">{{
        'SOCIAL_SUPPORT.ATTENDANCES.NO_MANIFESTATIONS' | translate
      }}</div>
    </ng-template>
  </div>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>
