:host::ng-deep {
  .list-experience {
    &--item {
      margin-bottom: 8px;
    }

    &--loading {
      margin-bottom: 15px;
      background-color: white;
      border-radius: 8px;
      height: 160px;
    }

    &--collapse-panel {
      background: #f0f2f5;
      border: 0px;
      margin: 0px;
      padding: 0px;
    }
  }

  .main-text {
    margin: 34px 0;
  }

  .box {
    background: white;
    border-radius: 50px;
    color: #3a3a3a;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 10px 4px 10px;
    text-align: center;

    i {
      margin-left: 5px;
    }

    i svg {
      transition: transform 0.24s !important;
    }
  }
}

.list-past-experiences {
  align-items: stretch;

  &--card {
    margin-bottom: 16px;
  }

  &::ng-deep .experience-card {
    height: 100%;
  }
}
