<!--Loading-->
<div nz-row nzType="flex" class="list-experience" [ngClass]="{ hidden: !isLoading }">
  <div nz-col [nzSm]="2" [nzXs]="1"></div>

  <div nz-col [nzSm]="20" [nzXs]="22">
    <nz-spin [nzSpinning]="isLoading" class="list-experience--loading"></nz-spin>
  </div>

  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>

<!--Experiences List-->
<div *ngIf="!isLoading" nz-row nzType="flex" class="list-experience">
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="20" [nzXs]="22">
    <div nz-row nzType="flex" [nzGutter]="8">
      <div nz-col class="list-experience--item" [nzXs]="24" [nzSm]="24" [nzMd]="24"
        *ngFor="let experience of experiences">
        <app-experience-card [experience]="experience" (experienceChanged)="getExperiences()"></app-experience-card>
      </div>
    </div>
  </div>

  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>

<!-- Experiences History List -->
<div nz-row>
  <div nz-col [nzSm]="{ span: 20, offset: 2 }" [nzXs]="{ span: 22, offset: 1 }">
    <nz-collapse [nzBordered]="false">
      <nz-collapse-panel
        #panelTemplate
        [nzHeader]="collapseHeaderTemplate"
        [nzShowArrow]="false"
        class="list-experience--collapse-panel"
      >
        <div nz-row nzType="flex" nzGutter="16" class="list-past-experiences">
          <ng-container *ngFor="let experience of pastExperiences">
            <div nz-col nzXs="24" nzMd="12" nzXl="8"  class="list-past-experiences--card" *ngIf="experience.translations.length">
              <app-small-experience-card [experience]="experience"></app-small-experience-card>
            </div>
          </ng-container>
        </div>
      </nz-collapse-panel>
    </nz-collapse>

    <ng-template #collapseHeaderTemplate>
      <nz-divider [nzText]="collapseHeaderTextTemplate"></nz-divider>
    </ng-template>

    <ng-template #collapseHeaderTextTemplate>
      <div class="box">
        {{ 'MISC.HISTORIC' | translate }} <i nz-icon type="icons:icons-arrow-2-right" [nzRotate]="panelTemplate.nzActive ? 90 : -90"></i>
      </div>
    </ng-template>
  </div>
</div>

<!--Text-->
<div *ngIf="!isLoading" nz-row nzType="flex">
  <div nz-col [nzSm]="2" [nzXs]="1"></div>

  <div nz-col [nzSm]="20" [nzXs]="22">
    <app-service-presentation-text [serviceId]="serviceId"></app-service-presentation-text>
  </div>

  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>
