@import 'default-theme.less';

:host::ng-deep {

  display: block;
  position: relative;
  width: 100%;
  height: 100%;

  .banner {

    img {
      width: 100%;
      height: 378px;
      object-fit: cover;
    }

  }

  .list-total {
    height: 825px; 
  }

  .meals {

    /* tyes */
    &__list {

      .ant-col-6 {
        padding-left: 0;
        padding-right: 16px;
      }

      .ant-tabs-ink-bar {
        height: 0;
      }

      .ant-tabs-bar {
        border: 0;
        margin-top: 17px;
        margin-bottom: 8px;
        margin-left: 5%;
      }

      .ant-tabs-tab {
        padding: 12px 16px 12px 0;
      }

      .ant-tabs-nav-scroll {
        color: var(--fisas-03);
      }

      .ant-tabs-nav .ant-tabs-tab-active {
        color: var(--fisas-03);
        font-weight: bold;
        border-bottom: 5px solid;
        padding-right: 0px;
        font-size: 22px;
      }

      .ant-tabs-nav {
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
        text-transform: uppercase;
      }

      .ant-tabs-tab {
        opacity: 0.4;
      }

      .ant-tabs-tab-active {
        opacity: 1;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: 400;
      }

    }

    &__products-row {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 200px;
      }
    }

    &__products-scroll-space {
        width: 100%;
        height: 300px;
    }

    /* no-content */
    &__no-content {
      display: flex;
      width: 100%;
      height: 200px;
      align-items: center;
      justify-content: center;
    }

    /* loading */
    &__loading {
      display: flex;
      width: 100%;
      height: 200px;
      align-items: center;
      justify-content: center;
    }

  }
}
