<div class="meals">
  <!-- banner -->
  <section class="banner">
    <img
      src="https://images.unsplash.com/photo-1502015907182-de01a3aad079?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjc0NTJ9&s=c947e3557019a06309342bc98ab613bd&auto=format&fit=crop&w=1080&q=80" />
  </section>

  <!-- title -->
  <fi-context-two-col [data]="titleData"></fi-context-two-col>

  <!-- options -->
  <fi-product-list-options [selectedDishType]="selectedDishType"></fi-product-list-options>

  <!--types-->

  <div class="meals__list">
    <div nz-row>
      <div nz-col nzSpan="4">
        <!-- menu -->
        <fi-menu-vertical-item [data]="menuCategories" [type]="'canteen'"
          (OnOptionChange)="handlerCategoryChange($event)"></fi-menu-vertical-item>
      </div>
      <div nz-col nzSpan="16">
        <!-- days -->
        <fi-fifteen-day [topBorder]="false" (OnOptionChange)="handlerDayChange($event)"></fi-fifteen-day>

        <nz-tabset [nzAnimated]="false" [nzSelectedIndex]="selectedDishTypeActive"
          (nzSelectChange)="handlerDishTypeChange($event)">
          <!-- lunch -->
          <nz-tab nzTitle="{{ 'FOOD.MEALS.LUNCH' | translate }}">
            <!-- loading -->
            <nz-spin class="meals__loading" [nzSize]="'large'" *ngIf="loadingMeals"></nz-spin>

            <!-- no content -->
            <div class="meals__no-content" *ngIf="!loadingMeals && meals?.length === 0">
              <p>{{ 'FOOD.MEALS.NOCONTENT' | translate }}</p>
            </div>
            <perfect-scrollbar class="list-total">
              <div class="meals__products" *ngIf="!loadingMeals && meals?.length > 0">
                <!-- meal item -->
                <ng-container *ngFor="let meal of meals; index as i">
                  <div *ngIf="i % 3 === 0" nz-row class="meals__products-row">
                    <div nz-col nzSpan="1"></div>
                    <div nz-col nzSpan="6">
                      <fi-product-list-detail [selectedDishType]="selectedDishType" [service_id]="service?.id" [isLogged]="isUserLogged" [data]="meals[i]"></fi-product-list-detail>
                    </div>
                    <div nz-col nzSpan="6">
                      <fi-product-list-detail [selectedDishType]="selectedDishType" [service_id]="service?.id" [isLogged]="isUserLogged" [data]="meals[i + 1]"></fi-product-list-detail>
                    </div>
                    <div nz-col nzSpan="6">
                      <fi-product-list-detail [selectedDishType]="selectedDishType" [service_id]="service?.id" [isLogged]="isUserLogged" [data]="meals[i + 2]"></fi-product-list-detail>
                    </div>
                    <div nz-col nzSpan="1"></div>
                  </div>
                </ng-container>
                <!-- meal item -->

                <div class="meals__products-scroll-space"></div>
              </div>
            </perfect-scrollbar>
          </nz-tab>

          <!-- dinner -->
          <nz-tab nzTitle="{{ 'FOOD.MEALS.DINNER' | translate }}">
            <!-- loading -->
            <nz-spin class="meals__loading" [nzSize]="'large'" *ngIf="loadingMeals"></nz-spin>

            <!-- no content -->
            <div class="meals__no-content" *ngIf="!loadingMeals && meals?.length === 0">
              <p>{{ 'FOOD.MEALS.NOCONTENT' | translate }}</p>
            </div>
            <perfect-scrollbar class="list-total">
              <div class="meals__products" *ngIf="!loadingMeals && meals?.length > 0">
                <!-- meal item -->
                <ng-container *ngFor="let meal of meals; index as i">
                  <div *ngIf="i % 3 === 0" nz-row class="meals__products-row">
                    <div nz-col nzSpan="1"></div>
                    <div nz-col nzSpan="6">
                      <fi-product-list-detail [selectedDishType]="selectedDishType" [service_id]="service?.id" [isLogged]="isUserLogged" [data]="meals[i]"></fi-product-list-detail>
                    </div>
                    <div nz-col nzSpan="6">
                      <fi-product-list-detail [selectedDishType]="selectedDishType" [service_id]="service?.id" [isLogged]="isUserLogged" [data]="meals[i + 1]"></fi-product-list-detail>
                    </div>
                    <div nz-col nzSpan="6">
                      <fi-product-list-detail [selectedDishType]="selectedDishType" [service_id]="service?.id" [isLogged]="isUserLogged" [data]="meals[i + 2]"></fi-product-list-detail>
                    </div>
                    <div nz-col nzSpan="1"></div>
                  </div>
                </ng-container>
                <!-- meal item -->

                <div class="meals__products-scroll-space"></div>
              </div>
            </perfect-scrollbar>
          </nz-tab>
        </nz-tabset>

      </div>
    </div>
  </div>


</div>