<form nz-form [formGroup]="formData" *ngIf="application.status == 'contracted'">
  <div class="container">
    <div nz-row>
      <div nz-col>
        <nz-form-item>
          <nz-form-label nzFor="date">Início do periodo de alojamento</nz-form-label>
          <nz-form-control>
            <nz-date-picker formControlName="start_date" nzPlaceHolder="Data início" nzDisabled></nz-date-picker>
            <nz-form-explain *ngIf="formData.get('start_date')?.dirty && formData.get('start_date')?.errors">
              Escolha o início do periodo de alojamento</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col>
        <nz-form-item>
          <nz-form-label nzFor="date">Fim do periodo de alojamento</nz-form-label>
          <nz-form-control>
            <nz-date-picker formControlName="end_date" nzPlaceHolder="Data fim" nzDisabled></nz-date-picker>
            <nz-form-explain *ngIf="formData.get('end_date')?.dirty && formData.get('end_date')?.errors">
              Escolha o fim do periodo de alojamento</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </div>

  <nz-form-item>
    <nz-form-label nzFor="international_student">Estudante internacional ?</nz-form-label>
    <nz-form-control>
      <nz-switch formControlName="international_student"></nz-switch>
      <nz-form-explain
        *ngIf="formData.get('international_student')?.dirty && formData.get('international_student')?.errors">
        Selecione um valor</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="signed_contract_file_id">Contrato de alojamento</nz-form-label>
    <nz-form-control>
      <fi-sas-upload-file formControlName="signed_contract_file_id"></fi-sas-upload-file>
      <nz-form-explain
        *ngIf="formData.get('signed_contract_file_id')?.dirty && formData.get('signed_contract_file_id')?.errors">
        Carregue o contrato de alojemento</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="liability_term_file_id">Termo de resposabilidade</nz-form-label>
    <nz-form-control>
      <fi-sas-upload-file formControlName="liability_term_file_id"></fi-sas-upload-file>
      <nz-form-explain
        *ngIf="formData.get('liability_term_file_id')?.dirty && formData.get('liability_term_file_id')?.errors">
        Carregue o termo de responsabilidade</nz-form-explain>
    </nz-form-control>
  </nz-form-item>


</form>
<form nz-form [formGroup]="formDataAnaysed" *ngIf="application.status == 'analysed'">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzLg]="12">
      <nz-form-item>
        <nz-form-label nzFor="per_capita_income">Rendimento per Capita</nz-form-label>
        <nz-form-control>
          <input type="number" nz-input formControlName="per_capita_income" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>