<form nz-form [formGroup]="skillsProfessionalExperienceForm">
  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 24 }" [nzLg]="{ span: 6 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="has_profissional_experience" class="primary-input-label">
          {{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_SKILLS_PROFESSIONAL.PROFESSIONAL_EXPERIENCE' | translate }}
        </nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="has_profissional_experience"
            (ngModelChange)="setProfissionalExperienceRequired($event)" [nzSize]="'small'">
            <label nz-radio [nzValue]=true>{{ 'MISC.YES' | translate
              }}</label>
            <label nz-radio [nzValue]=false>{{ 'MISC.NO' | translate
              }}</label>
          </nz-radio-group>

          <nz-form-explain class="error" *ngIf="skillsProfessionalExperienceForm.get('has_profissional_experience')?.dirty && skillsProfessionalExperienceForm.get('has_profissional_experience').errors">
            {{ getInputError('has_profissional_experience') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
      <nz-form-item>
        <nz-form-label nzFor="type_of_company" class="primary-input-label">
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_SKILLS_PROFESSIONAL.TYPE_OF_COMPANY'|translate}}
        </nz-form-label>

        <nz-form-control>
          <input nz-input maxlength="255" [ngClass]="{
              'disabled-input': !skillsProfessionalExperienceForm.controls
                .has_profissional_experience.value
            }" class="primary-input"
            placeholder=" {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_SKILLS_PROFESSIONAL.TYPE_OF_COMPANY_PLACEHOLDER'|translate}}"
            formControlName="type_of_company" id="type_of_company" />
          <nz-form-explain class="error" *ngIf="
            skillsProfessionalExperienceForm.get('type_of_company')?.dirty &&
            skillsProfessionalExperienceForm.get('type_of_company').errors
          ">
            {{ getInputError('type_of_company') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
      <nz-form-item>
        <nz-form-label nzFor="job_at_company" class="primary-input-label">
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_SKILLS_PROFESSIONAL.JOB_AT_COMPANY'|translate}}
        </nz-form-label>

        <nz-form-control>
          <input nz-input maxlength="255" [ngClass]="{
              'disabled-input': !skillsProfessionalExperienceForm.controls
                .has_profissional_experience.value
            }" class="primary-input"
            placeholder="  {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_SKILLS_PROFESSIONAL.JOB_AT_COMPANY_PLACEHOLDER'|translate}}"
            formControlName="job_at_company" id="job_at_company" />
          <nz-form-explain class="error" *ngIf="
            skillsProfessionalExperienceForm.get('job_at_company')?.dirty &&
            skillsProfessionalExperienceForm.get('job_at_company').errors
          ">
            {{ getInputError('job_at_company') }}
          </nz-form-explain>
        </nz-form-control>

      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
      <nz-form-item>
        <nz-form-label nzFor="job_description" class="primary-input-label">
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_SKILLS_PROFESSIONAL.JOB_DESCRIPTION'|translate}}
        </nz-form-label>

        <nz-form-control>
          <input nz-input maxlength="255" [ngClass]="{
              'disabled-input': !skillsProfessionalExperienceForm.controls
                .has_profissional_experience.value
            }" class="primary-input"
            placeholder=" {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_SKILLS_PROFESSIONAL.JOB_DESCRIPTION_PLACEHOLDER'|translate}}"
            formControlName="job_description" id="job_description" />
          <nz-form-explain class="error" *ngIf="
            skillsProfessionalExperienceForm.get('job_description')?.dirty &&
            skillsProfessionalExperienceForm.get('job_description').errors
          ">
            {{ getInputError('job_description') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
