.switch {
  display: inline-flex;
  &--label {
    width: 80%;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #222222;
    margin: auto;
  }
  &--input {
    margin: auto;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    width: 20%;
  }
}

.select {
  display: inline-flex;
  width: 100%;
  &--label {
    margin: auto 0 auto 0;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #222222;
  }
  &--input {
    font-family: Montserrat;
    margin-left: 73px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    width: 100%;
    nz-select {
      .ant-select-arrow {
        margin-top: 3px !important;
      }
    }
  }
}


.error {
  color: red;
  margin-top:5px;
  
  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}

:host::ng-deep.primary-select .ant-select-arrow .ant-select-arrow-icon {
  position: relative;
  top: 9px;
}
