.description {
  margin-top: 14px;
  margin-bottom: 13px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: black;
}

.schedule {
  margin-bottom: 16px;
  th,
  &--period-day {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #2c2c2c;
    background-color: white;
  }
  td {
    text-align: center;
  }

  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background-color: transparent !important;
  }
}

.switch {
  display: inline-flex;
  &--label {
    width: 80%;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #222222;
    margin: auto;
  }

  &--input {
    font-family: Montserrat;
    margin-left: 73px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    width: 20%;
  }
}

.ant-checkbox-group {
  display: block;
}

.error {
  color: red;
  margin-top:5px;
  
  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}