<nz-spin [nzSpinning]="loading">
  <nz-tabset nzTabPosition="left">
    <nz-tab nzTitle="Despacho" *ngIf="data?.status === 'DISPATCH'">
      <fi-sas-dispatch-decision-card
        [decision]="status[decisionToStateMapper[data?.decision?.toUpperCase()]]?.label"
        (onReject)="dispatchChangeStatues(data, false)"
        (onApprove)="dispatchChangeStatues(data, true)"
      ></fi-sas-dispatch-decision-card>
    </nz-tab>
    <nz-tab nzTitle="Informação geral">
      <div nz-row nzType="flex" nzJustify="start">
        <div nz-col [nzLg]="24" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Data do pedido
          </div>
          <div nz-row class="detail-field">
            {{ experience?.created_at | date: 'medium' }}
          </div>
        </div>
        <div nz-col [nzLg]="24" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Ano letivo
          </div>
          <div nz-row class="detail-field">
            {{ experience?.academic_year }}
          </div>
        </div>
        <div nz-col [nzLg]="24" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Unidade Orgânica
          </div>
          <div nz-row class="detail-field">
            {{ experience?.organic_unit ? experience?.organic_unit.name : '-' }}
          </div>
        </div>
        <div nz-col [nzLg]="24" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Data de publicação
          </div>
          <div nz-row class="detail-field">
            {{ experience?.publish_date | date: 'medium' }}
          </div>
        </div>
        <div nz-col [nzLg]="24" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Data de fecho das candidaturas
          </div>
          <div nz-row class="detail-field">
            {{ experience?.application_deadline_date | date: 'medium' }}
          </div>
        </div>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Identificação do Requerente">
      <nz-tabset>
        <nz-tab *ngFor="let translation of experience?.translations"
          [nzTitle]="getLanguageTitle(translation.language_id)">
          <div class="row-details" nz-row nzType="flex" nzJustify="start">
            <div nz-col [nzLg]="24" [nzXXl]="6" class="padding-top-20">
              <div nz-row class="title">
                Serviço proponente
              </div>
              <div nz-row class="detail-field">
                {{ translation.proponent_service }}
              </div>
            </div>
            <div nz-col [nzLg]="24" [nzXXl]="6" class="padding-top-20">
              <div nz-row class="title">
                Morada
              </div>
              <div nz-row class="detail-field">
                {{ experience?.address}}
              </div>
            </div>
            <div nz-col [nzLg]="24" [nzXXl]="6" class="padding-top-20">
              <div nz-row class="title">
                Responsável
              </div>
              <div nz-row class="detail-field">
                {{ experience?.experience_responsible_id && experience?.experience_responsible ?
                experience?.experience_responsible.name : '-' }}
              </div>
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
    </nz-tab>

    <nz-tab nzTitle="Dados da atividade">
      <div nz-row nzType="flex" nzJustify="start">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
          <nz-tabset>
            <nz-tab *ngFor="let translation of experience?.translations"
              [nzTitle]="getLanguageTitle(translation.language_id)">
              <div nz-col [nzLg]="24" [nzXXl]="6" class="padding-top-20">
                <div nz-row class="title">
                  Título
                </div>
                <div nz-row class="detail-field">
                  {{ translation.title }}
                </div>
              </div>
              <div nz-col [nzLg]="24" [nzXXl]="6" class="padding-top-20">
                <div nz-row class="title">
                  Descrição
                </div>
                <div nz-row class="detail-field">
                  {{ translation.description}}
                </div>
              </div>
              <div nz-col [nzLg]="24" [nzXXl]="6" class="padding-top-20">
                <div nz-row class="title">
                  Número de candidatos
                </div>
                <div nz-row class="detail-field">
                  {{ experience?.number_candidates }}
                </div>
              </div>
              <div nz-col [nzLg]="24" [nzXXl]="6" class="padding-top-20">
                <div nz-row class="title">
                  Número de candidatos em simultâneo
                </div>
                <div nz-row class="detail-field">
                  {{ experience?.number_simultaneous_candidates }}
                </div>
              </div>

              <div nz-col [nzLg]="24" [nzXXl]="6" class="padding-top-20">
                <div nz-row class="title">
                  Funções a desempenhar
                </div>
                <div nz-row class="detail-field">
                  {{ translation.job }}
                </div>
              </div>
              <div nz-col [nzLg]="24" [nzXXl]="6" class="padding-top-20">
                <div nz-row class="title">
                  Duração da atividade
                </div>
                <div nz-row class="detail-field">
                  {{experience?.start_date | date: 'mediumDate' }} até
                  {{experience?.end_date | date: 'mediumDate' }}
                </div>
              </div>
              <div nz-col [nzLg]="24" [nzXXl]="6" class="padding-top-20">
                <div nz-row class="title">
                  Estimativa de horas semanais
                </div>
                <div nz-row class="detail-field">
                  {{experience?.number_weekly_hours }} h
                </div>
              </div>
              <div nz-col [nzLg]="24" [nzXXl]="6" class="padding-top-20">
                <div nz-row class="title">
                  Estimativa de horas totais
                </div>
                <div nz-row class="detail-field">
                  {{experience?.total_hours_estimation }} h
                </div>
              </div>
              <div nz-col [nzLg]="24" [nzXXl]="6" class="padding-top-20">
                <div nz-row class="title">
                  Feriados
                </div>
                <div nz-row class="detail-field">
                  <fi-sas-tag [value]="experience?.holydays_availability"></fi-sas-tag>
                </div>
              </div>

              <div class="schedule">
                <div nz-row>
                  <div nz-col [nzXXl]="24">
                    <div style="text-align: center; padding-top: 20px;">
                      <b>HORARIO PRETENDIDO</b>
                    </div>
                    <nz-table class="schedule" [nzData]="['preferred_schedule']" [nzShowPagination]="false"
                      [nzScroll]="{ x: '100px' }">
                      <thead>
                        <tr>
                          <th></th>
                          <th>segunda</th>
                          <th>terça</th>
                          <th>quarta</th>
                          <th>quinta</th>
                          <th>sexta</th>
                          <th>sábado</th>
                          <th>domingo</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="schedule--period-day">Manhã</td>
                          <td>
                            <div *ngIf="schedule[4].active">
                              {{schedule[4].start ? (schedule[4].start | date: 'H:mm') : '-'}}
                              até
                              {{schedule[4].end ? (schedule[4].end | date: 'H:mm') : '-'}}
                            </div>
                          </td>
                          <td>
                            <div *ngIf="schedule[7].active">
                              {{schedule[7].start ? (schedule[7].start | date: 'H:mm') : '-'}}
                              até
                              {{schedule[7].end ? (schedule[7].end | date: 'H:mm') : '-'}}
                            </div>
                          </td>
                          <td>
                            <div *ngIf="schedule[10].active">
                              {{schedule[10].start ? (schedule[10].start | date: 'H:mm') : '-'}}
                              até
                              {{schedule[10].end ? (schedule[10].end | date: 'H:mm') : '-'}}
                            </div>
                          </td>
                          <td>
                            <div *ngIf="schedule[13].active">
                              {{schedule[13].start ? (schedule[13].start | date: 'H:mm') : '-'}}
                              até
                              {{schedule[13].end ? (schedule[13].end | date: 'H:mm') : '-'}}
                            </div>
                          </td>
                          <td>
                            <div *ngIf="schedule[16].active">
                              {{schedule[16].start ? (schedule[16].start | date: 'H:mm') : '-'}}
                              até
                              {{schedule[16].end ? (schedule[16].end | date: 'H:mm') : '-'}}
                            </div>
                          </td>
                          <td>
                            <div *ngIf="schedule[19].active">
                              {{schedule[19].start ? (schedule[19].start | date: 'H:mm') : '-'}}
                              até
                              {{schedule[19].end ? (schedule[19].end | date: 'H:mm') : '-'}}
                            </div>
                          </td>
                          <td>
                            <div *ngIf="schedule[1].active">
                              {{schedule[1].start ? (schedule[1].start | date: 'H:mm') : '-'}}
                              até
                              {{schedule[1].end ? (schedule[1].end | date: 'H:mm') : '-'}}
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td class="schedule--period-day">Tarde</td>
                          <td>
                            <div *ngIf="schedule[5].active">
                              {{schedule[5].start ? (schedule[5].start | date: 'H:mm') : '-'}}
                              até
                              {{schedule[5].end ? (schedule[5].end | date: 'H:mm') : '-'}}
                            </div>
                          </td>
                          <td>
                            <div *ngIf="schedule[8].active">
                              {{schedule[8].start ? (schedule[8].start | date: 'H:mm') : '-'}}
                              até
                              {{schedule[8].end ? (schedule[8].end | date: 'H:mm') : '-'}}
                            </div>
                          </td>
                          <td>
                            <div *ngIf="schedule[11].active">
                              {{schedule[11].start ? (schedule[11].start | date: 'H:mm') : '-'}}
                              até
                              {{schedule[11].end ? (schedule[11].end | date: 'H:mm') : '-'}}
                            </div>
                          </td>
                          <td>
                            <div *ngIf="schedule[14].active">
                              {{schedule[14].start ? (schedule[14].start | date: 'H:mm') : '-'}}
                              até
                              {{schedule[14].end ? (schedule[14].end | date: 'H:mm') : '-'}}
                            </div>
                          </td>
                          <td>
                            <div *ngIf="schedule[17].active">
                              {{schedule[17].start ? (schedule[17].start | date: 'H:mm') : '-'}}
                              até
                              {{schedule[17].end ? (schedule[17].end | date: 'H:mm') : '-'}}
                            </div>
                          </td>
                          <td>
                            <div *ngIf="schedule[20].active">
                              {{schedule[20].start ? (schedule[20].start | date: 'H:mm') : '-'}}
                              até
                              {{schedule[20].end ? (schedule[20].end | date: 'H:mm') : '-'}}
                            </div>
                          </td>
                          <td>
                            <div *ngIf="schedule[2].active">
                              {{schedule[2].start ? (schedule[2].start | date: 'H:mm') : '-'}}
                              até
                              {{schedule[2].end ? (schedule[2].end | date: 'H:mm') : '-'}}
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td class="schedule--period-day">Noite</td>
                          <td>
                            <div *ngIf="schedule[6].active">
                              {{schedule[6].start ? (schedule[6].start | date: 'H:mm') : '-'}}
                              até
                              {{schedule[6].end ? (schedule[6].end | date: 'H:mm') : '-'}}
                            </div>
                          </td>
                          <td>
                            <div *ngIf="schedule[9].active">
                              {{schedule[9].start ? (schedule[9].start | date: 'H:mm') : '-'}}
                              até
                              {{schedule[9].end ? (schedule[9].end | date: 'H:mm') : '-'}}
                            </div>
                          </td>
                          <td>
                            <div *ngIf="schedule[12].active">
                              {{schedule[12].start ? (schedule[12].start | date: 'H:mm') : '-'}}
                              até
                              {{schedule[12].end ? (schedule[12].end | date: 'H:mm') : '-'}}
                            </div>
                          </td>
                          <td>
                            <div *ngIf="schedule[15].active">
                              {{schedule[15].start ? (schedule[15].start | date: 'H:mm') : '-'}}
                              até
                              {{schedule[15].end ? (schedule[15].end | date: 'H:mm') : '-'}}
                            </div>
                          </td>
                          <td>
                            <div *ngIf="schedule[18].active">
                              {{schedule[18].start ? (schedule[18].start | date: 'H:mm') : '-'}}
                              até
                              {{schedule[18].end ? (schedule[18].end | date: 'H:mm') : '-'}}
                            </div>
                          </td>
                          <td>
                            <div *ngIf="schedule[21].active">
                              {{schedule[21].start ? (schedule[21].start | date: 'H:mm') : '-'}}
                              até
                              {{schedule[21].end ? (schedule[21].end | date: 'H:mm') : '-'}}
                            </div>
                          </td>
                          <td>
                            <div *ngIf="schedule[3].active">
                              {{schedule[3].start ? (schedule[3].start | date: 'H:mm') : '-'}}
                              até
                              {{schedule[3].end ? (schedule[3].end | date: 'H:mm') : '-'}}
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </nz-table>
                  </div>
                </div>
              </div>
            </nz-tab>
          </nz-tabset>


        </div>

      </div>
    </nz-tab>

    <nz-tab nzTitle="Requisitos de admissão e preferências">
      <nz-tabset>
        <nz-tab *ngFor="let translation of experience?.translations"
          [nzTitle]="getLanguageTitle(translation.language_id)">
          <div nz-row nzType="flex" nzJustify="start">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" class="padding-top-20">
              <div nz-row class="title">
                Critérios de seleção
              </div>
              <div nz-row class="detail-field">
                {{translation.selection_criteria }}
              </div>
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
    </nz-tab>

    <nz-tab nzTitle="Perfil do candidato">
      <nz-tabset>
        <nz-tab *ngFor="let translation of experience?.translations"
          [nzTitle]="getLanguageTitle(translation.language_id)">
          <div nz-row nzType="flex" nzJustify="start">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" class="padding-top-20">
              <div nz-row class="title">
                Perfil do candidato
              </div>
              <div nz-row class="detail-field">
                {{translation.applicant_profile }}
              </div>
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
    </nz-tab>

    <nz-tab nzTitle="Inscrições ativas">
      <nz-list [nzDataSource]="experience?.users_colaboration | where: ['status', 'COLABORATION']"
        [nzRenderItem]="item">
        <ng-template #item let-i>
          <nz-list-item>
            <div nz-row nzType="flex" style="width: 100%;">
              <div nz-col [nzLg]="24" [nzXXl]="4" class="detail-field">
                {{ i.user && i.user.student_number ? i.user.student_number : i.application ? i.application.student_number : '---'}}
              </div>
              <div nz-col [nzLg]="24" [nzXXl]="4" class="detail-field">
                {{ i.user.name }}
              </div>
              <div nz-col [nzLg]="24" [nzXXl]="4" class="detail-field">
                {{ i.user.email }}
              </div>
              <div nz-col [nzLg]="24" [nzXXl]="4" class="margin-top-5px">
                <button nz-button nzType="dashed" [routerLink]="['/volunteering', 'experiences', 'activity', i.id]">
                  Consultar atividade
                </button>
              </div>
            </div>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </nz-tab>

    <nz-tab nzTitle="Lista de interessados">
      <nz-list [nzDataSource]="experience?.users_interest" [nzRenderItem]="item">
        <ng-template #item let-i>
          <nz-list-item>
            <div nz-row nzType="flex" style="width: 100%;">
              <div nz-col [nzLg]="24" [nzXXl]="4" class="detail-field">
                {{ i.user && i.user.student_number ? i.user.student_number : i.application ? i.application.student_number : '---'}}
              </div>
              <div nz-col [nzLg]="24" [nzXXl]="4" class="detail-field">
                {{ i.user.name }}
              </div>
              <div nz-col [nzLg]="24" [nzXXl]="4" class="detail-field">
                {{ i.user.email }}
              </div>
              <div nz-col [nzLg]="24" [nzXXl]="4" class="margin-top-5px">
                <fi-sas-tag [value]="i.status" [results]="UsersInterestTagResult"></fi-sas-tag>
              </div>
              <div nz-col  [nzLg]="24" [nzXXl]="4">
                <button nz-button nzType="primary" (click)="changeStateModal(i)">Alterar estado</button>
              </div>
            </div>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </nz-tab>

    <nz-tab nzTitle="Histórico de alterações">
      <div nz-row *ngFor="let state of experience?.history">
        <div nz-col [nzLg]="24" [nzXl]="6" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">Estado</div>
          <div nz-row class="detail-field">
            <fi-sas-tag [value]="state.status" [results]="ExperienceTagResult"></fi-sas-tag>
          </div>
        </div>
        <div nz-col [nzLg]="24" [nzXl]="6" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">Data / Hora</div>
          <div nz-row class="detail-field">{{ state.created_at | date:'dd/MM/yyyy h:mm:ss' }}</div>
        </div>
        <div nz-col [nzLg]="24" [nzXl]="6" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">Utilizador</div>
          <div nz-row class="detail-field">{{ state.user.name }}</div>
        </div>
        <div nz-col [nzLg]="24" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">Obervações</div>
          <div nz-row class="detail-field">{{ state.notes }}</div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
          <nz-divider></nz-divider>
        </div>
      </div>

    </nz-tab>
  </nz-tabset>
</nz-spin>

<nz-modal [(nzVisible)]="isChangeStatusModalVisible" [nzTitle]="'Mudança de estado da inscrição'" [nzWidth]="900"
  [nzFooter]="changeStatusModalFooter" (nzOnCancel)="handleChangeStatusCancel()">
  <div class="content-modal">
    <p>Mudar estado para:</p>
    <div nz-row nzType="flex" class="actions" nzGutter="24" *ngIf="isChangeStatusModalVisible && changeStatusModalExperience.status!=='DISPATCH'">
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['SUBMIT']">
        <div (click)="changeStatusModalActiveAction('submit')" class="actions__button--submit"
          [ngClass]="{ 'actions__button--submit--active': changeStatusModalExperienceAction === 'submit'}">Submeter
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['ANALYSE']">
        <div (click)="changeStatusModalActiveAction('analyse')" class="actions__button--analyse"
          [ngClass]="{ 'actions__button--analyse--active': changeStatusModalExperienceAction === 'analyse'}">Analisar
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['DISPATCH']">
        <div (click)="changeStatusModalActiveAction('dispatch')" class="actions__button--dispatch"
          [ngClass]="{ 'actions__button--dispatch--active': changeStatusModalExperienceAction === 'dispatch'}">
          Despacho
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['APPROVE']">
        <div (click)="changeStatusModalActiveAction('approve')" class="actions__button--approve"
          [ngClass]="{ 'actions__button--approve--active': changeStatusModalExperienceAction === 'approve'}">Aprovar
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['ACCEPT']">
        <div (click)="changeStatusModalActiveAction('accept')" class="actions__button--accept"
          [ngClass]="{ 'actions__button--accept--active': changeStatusModalExperienceAction === 'accept'}">Aceite
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['WAITING']">
        <div (click)="changeStatusModalActiveAction('waiting')" class="actions__button--waiting"
          [ngClass]="{ 'actions__button--waiting--active': changeStatusModalExperienceAction === 'waiting'}">Lista de
          espera
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['NOTSELECT']">
        <div (click)="changeStatusModalActiveAction('notselect')" class="actions__button--notselect"
          [ngClass]="{ 'actions__button--notselect--active': changeStatusModalExperienceAction === 'notselect'}">Não
          selecionado
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['SELECTION']">
        <div (click)="changeStatusModalActiveAction('selection')" class="actions__button--selection"
          [ngClass]="{ 'actions__button--selection--active': changeStatusModalExperienceAction === 'selection'}">Seleção
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['COLABORATION']">
        <div (click)="changeStatusModalActiveAction('colaboration')" class="actions__button--colaboration"
          [ngClass]="{ 'actions__button--colaboration--active': changeStatusModalExperienceAction === 'colaboration'}">
          Em participação
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['WITHDRAWAL']">
        <div (click)="changeStatusModalActiveAction('withdrawal')" class="actions__button--withdrawal"
          [ngClass]="{ 'actions__button--withdrawal--active': changeStatusModalExperienceAction === 'withdrawal'}">
          Desistir
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['WITHDRAWALACCEPTED']">
        <div (click)="changeStatusModalActiveAction('withdrawalaccepted')" class="actions__button--withdrawalaccepted"
          [ngClass]="{ 'actions__button--withdrawalaccepted--active': changeStatusModalExperienceAction === 'withdrawalaccepted'}">
          Aceitar desistência
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['DECLINE']">
        <div (click)="changeStatusModalActiveAction('decline')" class="actions__button--decline"
          [ngClass]="{ 'actions__button--decline--active': changeStatusModalExperienceAction === 'decline'}">Rejeitar
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['CANCEL']">
        <div (click)="changeStatusModalActiveAction('cancel')" class="actions__button--cancel"
          [ngClass]="{ 'actions__button--cancel--active': changeStatusModalExperienceAction === 'cancel'}">Cancelar
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button" *ngIf="changeStatusModalActions['CLOSE']">
        <div (click)="changeStatusModalActiveAction('close')" class="actions__button--close"
          [ngClass]="{ 'actions__button--close--active': changeStatusModalExperienceAction === 'close'}">Fechar
        </div>
      </div>
    </div>
    <div nz-row nzType="flex" class="actions" nzGutter="24" *ngIf="isChangeStatusModalVisible && changeStatusModalExperience.status==='DISPATCH'">
      <div nz-col nzSpan="8" class="actions__button">
        <div (click)="changeStatusModalActiveAction('accept')" class="actions__button--accept"
          [ngClass]="{ 'actions__button--accept--active': changeStatusModalExperienceAction === 'accept'}">
          Aceitar Despacho
        </div>
      </div>
      <div nz-col nzSpan="8" class="actions__button">
        <div (click)="changeStatusModalActiveAction('reject')" class="actions__button--decline"
          [ngClass]="{ 'actions__button--decline--active': changeStatusModalExperienceAction === 'reject'}">
          Rejeitar Despacho
        </div>
      </div>
    </div>
    <div *ngIf="changeStatusModalExperienceAction === 'dispatch'">
      <div nz-row>
        <form [formGroup]="form">
          <nz-form-item>
            <nz-form-label nzRequired [nzSpan]="24" nzFor="decision">Decisão</nz-form-label>
            <nz-form-control [nzSpan]="24" [nzErrorTip]="decisionErrorTpl">
              <nz-select formControlName="decision" name="decision" id="decision" nzAllowClear>
                <nz-option *ngFor="let decision of getDispatchActions()" [nzLabel]="decision.label" [nzValue]="decision.key"></nz-option>
              </nz-select>
              <ng-template #decisionErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Selecione uma decisão.</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>

    <nz-divider></nz-divider>
    <nz-form-item>
      <div nz-row nzType="flex" nzGutter="24">
        <div nz-col nzSpan="4">
          Observações:
        </div>
        <div nz-col nzSpan="20">
          <textarea maxlength="255" nz-input [(ngModel)]="changeStatusModalNotes" rows="4"></textarea>
        </div>
      </div>
    </nz-form-item>
    <ng-template #changeStatusModalFooter>
      <button nz-button nzType="primary" (click)="handleChangeStatusOk()"
        [ngClass]="{'disabled': changeStatusModalExperienceAction === null}" [nzLoading]="changeStatusModalLoading">
        Mudar de estado
      </button>
    </ng-template>
  </div>
</nz-modal>
