@import "theme";

.detail-field {
    color: var(--primary-color);
    font-weight: normal;
    padding-top: 5px;
}

.padding-top-20 {
    padding-top: 20px;
}

.title {
    color: black;
}

.margin-top-5px{
  margin-top: 5px;
}

.schedule {
    margin-top: 24px;

    table {
        th {
            border: black 1px solid;
            text-align: center;
        }
        td {
            border: black 1px solid;
            text-align: center;
        }
    }
}

.history {
    &__row {
        border-bottom: 1px solid rgba(0,0,0,0.09);
    }
 }


.actions {
  &__button {
    cursor: pointer;
    text-align: center;
    padding-right: 8px;
    padding-bottom: 8px;
    color: black;

    &:hover {
      color: #ffffff;
    }

    div {
      padding: 16px;
      border-radius: 4px;
    }

    &--analyse {
      background-color: rgba(207, 204, 255, 0.226);

      &:hover {
        background-color: rgb(39, 24, 122);
      }

      &--active {
        color: #ffffff;
        background-color: rgb(39, 24, 122);
      }
    }

    &--interview {
      background-color: rgba(180, 170, 170, 0.171);

      &:hover {
        background-color: rgb(100, 100, 100);
      }

      &--active {
        color: #ffffff;
        background-color: rgb(100, 100, 100);
      }
    }
    
    &--dispatch {
      background-color: rgba(180, 170, 170, 0.171);

      &:hover {
        background-color: rgb(136, 204, 241);
      }

      &--active {
        color: #ffffff;
        background-color: rgb(136, 204, 241);
      }
    }

    &--decline {
      background-color: rgba(252, 189, 189, 0.205);
      &:hover {
        background-color: rgb(160, 33, 33);
      }
      &--active {
        color: #ffffff;
        background-color: rgb(160, 33, 33);
      }
    }

    &--notselect {
      background-color: rgba(180, 170, 170, 0.171);

      &:hover {
        background-color: rgb(100, 100, 100);
      }

      &--active {
        color: #ffffff;
        background-color: rgb(100, 100, 100);
      }
    }

    &--waiting {
      background-color: rgba(180, 170, 170, 0.171);

      &:hover {
        background-color: rgb(100, 100, 100);
      }

      &--active {
        color: #ffffff;
        background-color: rgb(100, 100, 100);
      }
    }

    &--approve {
      background-color: rgba(192, 252, 190, 0.192);

      &:hover {
        background-color: rgb(30, 153, 40);
      }

      &--active {
        color: #ffffff;
        background-color: rgb(30, 153, 40);
      }
    }

    &--accept {
      background-color: rgba(192, 252, 190, 0.192);

      &:hover {
        background-color: rgb(30, 153, 40);
      }

      &--active {
        color: #ffffff;
        background-color: rgb(30, 153, 40);
      }
    }

    &--colaboration {
      background-color: rgba(192, 252, 190, 0.192);

      &:hover {
        background-color: rgb(30, 153, 40);
      }

      &--active {
        color: #ffffff;
        background-color: rgb(30, 153, 40);
      }
    }

    &--withdrawal {
      background-color: rgba(247, 187, 187, 0.192);

      &:hover {
        background-color: rgb(160, 33, 33);
      }

      &--active {
        color: #ffffff;
        background-color: rgb(160, 33, 33);
      }
    }

    &--cancel {
      background-color: rgba(252, 189, 189, 0.205);

      &:hover {
        background-color: rgb(104, 23, 23);
      }

      &--active {
        color: #ffffff;
        background-color: rgb(104, 23, 23);
      }
    }

    &--close {
      background-color: rgba(245, 205, 205, 0.171);

      &:hover {
        background-color: rgba(100, 100, 100, 0.534);
      }

      &--active {
        color: #ffffff;
        background-color: rgba(100, 100, 100, 0.534);
      }
    }
  }
}
