<div perfectScrollbar class="ps scroll-container" style="height: 100%">
  <div class="container">
    <nz-spin [nzSpinning]="loadingConfiguration">
      <form nz-form [formGroup]="formData">
        <div nz-row>
          <nz-form-item>
            <nz-form-label nzFor="allow_optional_residence"
              >Residência alternativa disponível nas candidaturas
            </nz-form-label>
            <nz-form-control>
              <nz-switch
                formControlName="allow_optional_residence"
                id="allow_optional_residence"
              >
              </nz-switch>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzFor="allow_application_renew"
              >Permite renovação de candidaturas
            </nz-form-label>
            <nz-form-control>
              <nz-switch
                formControlName="allow_application_renew"
                id="allow_application_renew"
              >
              </nz-switch>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzFor="assigned_status_auto_change"
              >Passagem automática de estado
            </nz-form-label>
            <nz-form-control>
              <nz-switch
                formControlName="assigned_status_auto_change"
                id="assigned_status_auto_change"
                (ngModelChange)="changeStatus($event)"
              >
              </nz-switch>
            </nz-form-control>
          </nz-form-item>
          <div nz-row>
            <div
              nz-col
              [nzXs]="24"
              [nzSm]="24"
              [nzMd]="10"
              [nzLg]="10"
              [nzXl]="6"
              [nzXXl]="6"
            >
              <nz-form-item
                *ngIf="
                  formData.get('assigned_status_auto_change').value == true
                "
              >
                <nz-form-label
                  nzFor="assigned_status_auto_change_day"
                  nzRequired
                  >Após
                </nz-form-label>
                <nz-form-control>
                  <nz-input-group nzAddOnAfter="Dias">
                    <input
                      nz-input
                      type="number"
                      minlength="1"
                      pattern="\d*"
                      formControlName="assigned_status_auto_change_day"
                    />
                  </nz-input-group>
                </nz-form-control>
                <div
                  class="error"
                  *ngIf="submit && f.assigned_status_auto_change_day.errors"
                >
                  O campo inválido
                </div>
              </nz-form-item>
            </div>
            <div
              nz-col
              [nzXs]="0"
              [nzSm]="0"
              [nzMd]="1"
              [nzLg]="1"
              [nzXl]="2"
              [nzXXl]="2"
            ></div>
            <div
              nz-col
              [nzXs]="24"
              [nzSm]="24"
              [nzMd]="10"
              [nzLg]="10"
              [nzXl]="10"
              [nzXXl]="10"
            >
              <nz-form-item
                *ngIf="formData.get('assigned_status_auto_change').value"
              >
                <nz-form-label
                  nzFor="assigned_status_auto_change_state"
                  nzRequired
                  >Para o estado
                </nz-form-label>
                <nz-form-control>
                  <nz-select
                    class="primary-select"
                    formControlName="assigned_status_auto_change_state"
                  >
                    <nz-option [nzLabel]="'Confirmada'" [nzValue]="'CONFIRM'">
                    </nz-option>
                    <nz-option [nzLabel]="'Rejeitada'" [nzValue]="'REJECT'">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
                <div
                  class="error"
                  *ngIf="submit && f.assigned_status_auto_change_state.errors"
                >
                  O campo é obrigatório
                </div>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div
              nz-col
              [nzXs]="24"
              [nzSm]="24"
              [nzMd]="10"
              [nzLg]="10"
              [nzXl]="6"
              [nzXXl]="6"
            >
              <nz-form-item>
                <nz-form-label nzFor="change_status_on_create"
                  >Passagem automática de submetida para em análise
                </nz-form-label>
                <nz-form-control>
                  <nz-switch
                    formControlName="change_status_on_create"
                    id="change_status_on_create"
                    (ngModelChange)="changeStatusValid($event)"
                  >
                  </nz-switch>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div
              nz-col
              [nzXs]="0"
              [nzSm]="0"
              [nzMd]="1"
              [nzLg]="1"
              [nzXl]="2"
              [nzXXl]="2"
            ></div>
            <div
              nz-col
              [nzXs]="24"
              [nzSm]="24"
              [nzMd]="10"
              [nzLg]="10"
              [nzXl]="10"
              [nzXXl]="10"
            >
              <nz-form-item
                *ngIf="formData.get('change_status_on_create').value"
              >
                <nz-form-label nzFor="change_status_on_create_days" nzRequired
                  >Após
                </nz-form-label>
                <nz-form-control>
                  <nz-input-group nzAddOnAfter="Dias">
                    <input
                      nz-input
                      type="number"
                      minlength="0"
                      pattern="\d*"
                      formControlName="change_status_on_create_days"
                    />
                  </nz-input-group>
                </nz-form-control>
                <div
                  class="error"
                  *ngIf="submit && f.change_status_on_create_days.errors"
                >
                  O campo inválido
                </div>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div
              nz-col
              [nzXs]="24"
              [nzSm]="24"
              [nzMd]="10"
              [nzLg]="10"
              [nzXl]="6"
              [nzXXl]="6"
            >
              <nz-form-item>
                <nz-form-label nzFor="billing_out_of_date_type" nzRequired>
                  Cálculo da data de vencimento
                </nz-form-label>
                <nz-form-control>
                  <nz-select
                    class="primary-select"
                    formControlName="billing_out_of_date_type"
                  >
                    <nz-option [nzLabel]="'Dia do mês'" [nzValue]="'MONTH_DAY'">
                    </nz-option>
                    <nz-option
                      [nzLabel]="'Nº de dias após faturado'"
                      [nzValue]="'DAYS'"
                    >
                    </nz-option>
                  </nz-select>
                </nz-form-control>
                <div
                  class="error"
                  *ngIf="submit && f.billing_out_of_date_type.errors"
                >
                  O campo é obrigatório
                </div>
              </nz-form-item>
            </div>
            <div
              nz-col
              [nzXs]="0"
              [nzSm]="0"
              [nzMd]="1"
              [nzLg]="1"
              [nzXl]="2"
              [nzXXl]="2"
            ></div>
            <div
              nz-col
              [nzXs]="24"
              [nzSm]="24"
              [nzMd]="10"
              [nzLg]="10"
              [nzXl]="10"
              [nzXXl]="10"
            >
              <nz-form-item>
                <nz-form-label nzFor="billing_out_of_date_type" nzRequired>
                  <span
                    *ngIf="
                      this.formData.get('billing_out_of_date_type').value ==
                      'MONTH_DAY'
                    "
                    >Dia do mês</span
                  >
                  <span
                    *ngIf="
                      this.formData.get('billing_out_of_date_type').value ==
                      'DAYS'
                    "
                    >Número de dias após faturado</span
                  >
                </nz-form-label>
                <nz-form-control>
                  <nz-input-group>
                    <input
                      nz-input
                      type="number"
                      minlength="1"
                      pattern="\d*"
                      formControlName="billing_out_of_date_day"
                    />
                  </nz-input-group>
                </nz-form-control>
                <div
                  class="error"
                  *ngIf="submit && f.billing_out_of_date_type.errors"
                >
                  O campo é obrigatório
                </div>
              </nz-form-item>
            </div>
          </div>

          <nz-form-item>
            <nz-form-label nzFor="show_iban_on_application_form"
              >IBAN e autorização de debito direto disponivel na candidatura
            </nz-form-label>
            <nz-form-control>
              <nz-switch
                formControlName="show_iban_on_application_form"
                id="show_iban_on_application_form"
              >
              </nz-switch>
            </nz-form-control>
          </nz-form-item>

          <!-- SEPA -->
          <div nz-row>
            <div
              nz-col
              [nzXs]="24"
              [nzSm]="24"
              [nzMd]="10"
              [nzLg]="10"
              [nzXl]="6"
              [nzXXl]="6"
            >
              <nz-form-item>
                <nz-form-label nzFor="institute_iban">
                  IBAN do instituto
                </nz-form-label>
                <nz-form-control>
                  <nz-input-group>
                    <input
                      nz-input
                      type="string"
                      minlength="0"
                      maxlength="25"
                      formControlName="institute_iban"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div
              nz-col
              [nzXs]="0"
              [nzSm]="0"
              [nzMd]="1"
              [nzLg]="1"
              [nzXl]="2"
              [nzXXl]="2"
            ></div>
            <div
              nz-col
              [nzXs]="24"
              [nzSm]="24"
              [nzMd]="10"
              [nzLg]="10"
              [nzXl]="10"
              [nzXXl]="10"
            >
              <nz-form-item>
                <nz-form-label nzFor="institute_swift">
                  BIC/SWIFT do instituto
                </nz-form-label>
                <nz-form-control>
                  <nz-input-group>
                    <input
                      nz-input
                      type="string"
                      minlength="0"
                      maxlength="8"
                      formControlName="institute_swift"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div
              nz-col
              [nzXs]="24"
              [nzSm]="24"
              [nzMd]="10"
              [nzLg]="10"
              [nzXl]="6"
              [nzXXl]="6"
            >
              <nz-form-item>
                <nz-form-label nzFor="institute_sepa_name">
                  Nome Instituto (SEPA max: 70chr)
                </nz-form-label>
                <nz-form-control>
                  <nz-input-group>
                    <input
                      nz-input
                      type="string"
                      minlength="0"
                      maxlength="70"
                      formControlName="institute_sepa_name"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div
              nz-col
              [nzXs]="0"
              [nzSm]="0"
              [nzMd]="1"
              [nzLg]="1"
              [nzXl]="2"
              [nzXXl]="2"
            ></div>
            <div
              nz-col
              [nzXs]="24"
              [nzSm]="24"
              [nzMd]="10"
              [nzLg]="10"
              [nzXl]="10"
              [nzXXl]="10"
            >
              <nz-form-item>
                <nz-form-label nzFor="institute_sepa_private_id">
                  Identificação Credor (SEPA Private Identification)
                </nz-form-label>
                <nz-form-control>
                  <nz-input-group>
                    <input
                      nz-input
                      type="string"
                      formControlName="institute_sepa_private_id"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <!-- /SEPA -->

          <div nz-row>
            <div
              nz-col
              [nzXs]="24"
              [nzSm]="24"
              [nzMd]="10"
              [nzLg]="10"
              [nzXl]="6"
              [nzXXl]="6"
            >
              <nz-form-item>
                <nz-form-label nzFor="unassigned_opposition_limit" nzRequired
                  >Dias para apresentar oposição após candidatura não atribuída
                </nz-form-label>
                <nz-form-control>
                  <nz-input-group nzAddOnAfter="Dias">
                    <input
                      nz-input
                      type="number"
                      minlength="1"
                      pattern="\d*"
                      formControlName="unassigned_opposition_limit"
                    />
                  </nz-input-group>
                </nz-form-control>
                <div
                  class="error"
                  *ngIf="submit && f.unassigned_opposition_limit.errors"
                >
                  O campo inválido
                </div>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <nz-form-item>
              <nz-form-label nzFor="enable_status_external_validate_or_paid"
                >Validação Externo nos processamentos
              </nz-form-label>
              <nz-form-control>
                <nz-switch
                  formControlName="enable_status_external_validate_or_paid"
                  id="enable_status_external_validate_or_paid"
                >
                </nz-switch>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
      <div
        *ngIf="'accommodation:configurations:create' | hasPermission"
        nz-row
        nzType="flex"
        nzJustify="end"
        style="margin-top: 24px"
      >
        <div nz-col nzSpan="24">
          <button
            nz-button
            nzType="danger"
            type="button"
            (click)="processUnprocessedContractedApplications()"
          >
            <i></i>Processar candidaturas contratadas
          </button>
        </div>
      </div>
    </nz-spin>
  </div>
</div>

<div
  *ngIf="'accommodation:configurations:create' | hasPermission"
  nz-row
  nzType="flex"
  nzJustify="end"
  class="space"
>
  <div nz-col nzSpan="24" class="actions">
    <button
      nz-button
      nzType="primary"
      type="button"
      (click)="submitForm()"
      [nzLoading]="loading"
    >
      <i nz-icon nzType="save"></i>Gravar
    </button>
  </div>
</div>
