<div nz-row class="content-table">
  <div class="container">
    <nz-table class="table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
      (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
      [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr class="table__header">
          <th nzShowSort nzSortKey="description">Descrição</th>
          <th nzShowSort nzSortKey="code">Código</th>
          <th nzShowSort nzSortKey="code">Valor Referência</th>
          <th nzShowSort nzSortKey="active">Ativo</th>
          <th nzRight="0px"
            *ngIf="('accommodation:patrimony-categories:create' | hasPermission) || ('accommodation:patrimony-categories:delete' | hasPermission)">
            Ações</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="refTable.data">
          <tr>
            <td>{{ data.description}}</td>
            <td>{{ data.code}}</td>
            <td>{{ data.reference_value!=null ? data.reference_value + '€' : ''}}</td>
            <td>
              <fi-sas-tag [value]="data.active"></fi-sas-tag>
            </td>
            <td nzRight="0px"
              *ngIf="('accommodation:patrimony-categories:create' | hasPermission) || ('accommodation:patrimony-categories:delete' | hasPermission)">
              <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
                nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item *ngIf="'accommodation:patrimony-categories:create' | hasPermission"
                    [routerLink]="['/accommodation', 'movable-heritage', 'edit', data.id]">Editar</li>
                  <li nz-menu-item *ngIf="'accommodation:patrimony-categories:delete' | hasPermission"
                    (click)="deleteMovableHeritage(data.id)">Eliminar</li>
                </ul>
              </nz-dropdown-menu>
            </td>
          </tr>
        </ng-template>

      </tbody>
    </nz-table>

  </div>