<div class="movement-item">

  <!--  select -->
  <div class="movement-item__column movement-item__selection">
  </div>

  <!--  name, description -->
  <div class="movement-item__column movement-item__description">
    <ng-content select=".item-description"></ng-content>
  </div>

  <div class="movement-item__column movement-item__info">

    <!-- quantity, price total -->
    <div class="movement-item__info-row">

      <!-- quantity, show when: "Fatura/Recibo": 4, "Recibo": 5, "Fatura": 6 -->
      <div class="movement-item__info-qt">
        <span>
          <ng-container >
            x{{ quantity }}
          </ng-container>
          &nbsp;
        </span>
      </div>

      <!-- price total -->
      <div class="movement-item__info-value">
        <!-- "Adiantamento": 1, "Anulação de Adiantamento": 2, "Carregamento": 3, "Fatura/Recibo": 4, "Recibo": 5, "Fatura": 6, "Devolução": 7, "Anulação": 8 -->
        <span [ngClass]="{'positive-value': transaction_value > 0, 'negative-value': transaction_value < 0, 'value': transaction_value == 0 }">
        {{ transaction_value == null ? '-' : transaction_value > 0 ?
          ('+'+(total_value |
          number:'1.2-2') + ' €') : '-' +(total_value | number:'1.2-2') + ' €' }}
        </span>
      </div>

    </div>


    <!-- balance -->
    <div class="movement-item__info-row movement-item__info-current">
      <span>{{ account }} {{ balance | number : '1.2-2':'pt-PT' }}€</span>
    </div>

  </div>

  <!-- cancel movement, show when: "Pending": 2 (TODO) -->
  <div class="movement-item__column movement-item__remove">
    <ng-container *ngIf="false">
      <a (click)="handlerRemoveProduct($event)">
        <svg-icon
          src="assets/icons/icons-close.svg"
          [svgStyle]="{ 'width.px': 24, 'height.px': 24 }"
        ></svg-icon>
      </a>
    </ng-container>
  </div>

</div>
