@import 'default-theme.less';

:host::ng-deep {

  .cart-clear {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    &__content {
      width: 736px;
      color: var(--fisas-10);

      h1 {
        color: var(--fisas-03);
        margin-bottom: 12px;
        line-height: 1.08;
      }

      .display-three {
        margin-bottom: 12px;
        line-height: 1.25;
      }

      p {
        color: @fisas-grey-06;
      }
    }

    &__btn {
      font-family: Montserrat;
      font-size: 16.8px;
      font-weight: bold;
      float: left;
      border-radius: 54px;
      padding: 28px 40px;
      margin-top: 70px;
      margin-right: 48px;

      &--clean {
        background-color: @fisas-red-04;
        border: solid 2.4px @fisas-red-04;
        color: @fisas-grey-01;
      }

      &--cancel {
        border: solid 2.4px @fisas-grey-03;
        background-color: @fisas-grey-01;
      }
    }
  }
}
