<section class="cart-clear">
  <div class="cart-clear__content">
    <h1>{{ 'CART.CLEAR.TITLE' | translate }}</h1>
    <div class="display-three">{{ 'CART.CLEAR.DESCRIPTION' | translate }}</div>
    <p>{{ 'CART.CLEAR.SUB_DESCRIPTION' | translate }}</p>

    <div class="cart-clear__btn cart-clear__btn--clean" (click)="resetCart()">
      {{ 'CART.CLEAR.CLEAR_BUTTON' | translate }}
    </div>

    <div
      class="cart-clear__btn cart-clear__btn--cancel"
      routerLink="/cart/list"
    >
      {{ 'CART.CLEAR.CANCEL' | translate }}
    </div>
  </div>
</section>
