<div class="main-content dashboard">
  <img class="dashboard__banner"
    src="https://images.unsplash.com/photo-1520545221203-f6ca6a8e3252?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7dc4075df1d890ebea0175b8c53c01f8&auto=format&fit=crop&w=2089&q=80"
    alt="" />

  <div nz-row nzType="flex" class="dashboard__hero">
    <div nz-col nzSpan="18" nzOffset="1">
      <h1 class="dashboard__title">{{ 'APPS.TITLE' | translate }}</h1>
      <h2 class="dashboard__subtitle display-three">
        {{ 'APPS.INFO' | translate }}
      </h2>
    </div>
  </div>
  <div nz-row nzType="flex" class="dashboard__list">
    <div nz-col nzSpan="18" nzOffset="1">
      <ul>
        <!-- refectory -->
        <li (click)="goLink('/refectory/services',false)" [ngClass]="{ disabled: !isRefectoryActive }">
          <div>
            <svg-icon src="assets/icons/icons-food.svg" [svgStyle]="{ width: 'auto', 'height.px': 54 }"></svg-icon>
          </div>
          <h5>{{ 'APPS.MEALS' | translate }}</h5>
        </li>

        <!-- bar -->
        <li (click)="goLink('/bar/menu/list', false)" [ngClass]="{ disabled: !isBarActive }">
          <div>
            <svg-icon src="assets/icons/icons-bar.svg" [svgStyle]="{ width: 'auto', 'height.px': 54 }"></svg-icon>
          </div>
          <h5>{{ 'APPS.BAR' | translate }}</h5>
        </li>

        <!-- mobility -->
        <li (click)="goLink('/mobility/places', false)" [ngClass]="{ disabled:  !isMobilityActive }">
          <div>
            <svg-icon src="assets/icons/icons-mobility.svg" [svgStyle]="{ width: 'auto', 'height.px': 54 }"></svg-icon>
          </div>
          <h5>{{ 'APPS.TRANSPORTS' | translate }}</h5>
        </li>

        <!-- rechargements -->
        <li (click)="goLink('/charging', true)" [ngClass]="{ disabled: !isChargingActive }">
          <div>
            <svg-icon src="assets/icons/icons-money.svg" [svgStyle]="{ width: 'auto', 'height.px': 54 }"></svg-icon>
          </div>
          <h5>{{ 'APPS.RECHARGEMENTS' | translate }}</h5>
        </li>

        <!-- current account -->
        <li (click)="goLink('/current-account/movements', true)" [ngClass]="{ disabled: !isChargingActive }">
          <div>
            <svg-icon src="assets/icons/icons-payment-history.svg" [svgStyle]="{ width: 'auto', 'height.px': 54 }">
            </svg-icon>
          </div>
          <h5>{{ 'APPS.CURRENT_ACCOUNT' | translate }}</h5>
        </li>

        <!-- queue -->
        <li (click)="goLink('/queue', false)" [ngClass]="{ disabled: !isQueueActive }">
          <div>
            <svg-icon id="icon-menu-init" src="assets/icons/icons-ticket.svg"
              [svgStyle]="{ width: 'auto', 'height.px': 54 }"></svg-icon>
          </div>
          <h5>{{ 'APPS.QUEUE' | translate }}</h5>
        </li>
        <li *ngFor="let external of dataExternal" (click)="linkExternal(external.external_link)">
          <div>
            <svg-icon id="icon-menu-init" [src]="getSrc(external.icon)"
              [svgStyle]="{ width: 'auto', 'height.px': 54 }"></svg-icon>
          </div>
          <h5>{{external?.translations[0]?.name}}</h5>
        </li>
      </ul>
    </div>
  </div>

  <fi-cart-summary></fi-cart-summary>
</div>


<!---- Modal Error ---->
<nz-modal [nzVisible]="modalNoLogged" nzClosable="false" nzFooter="null" [nzStyle]="{top: '700px'}">
  <div class="icon-space">
    <img src="assets/images/cards-ilustration-negative.png" style="width: 175px;">
  </div>
  <div class="text-modal">
    <label>{{ 'APPS.MODAL.ERROR' |translate }}</label>
  </div>
</nz-modal>