@import 'default-theme.less';

:host::ng-deep {

  .dashboard {

    width: 100%;
    height: 1602px;

    position: relative;

    &__banner {
      height: 608px;
      width: auto;
    }

    &__hero {
      margin-top: 85px;
    }

    &__title {
      .font-family(96px);
      margin-bottom: 12px;
      color: var(--fisas-03);
    }

    &__subtitle {
      margin-bottom: 50px;
    }

    &__list {
      padding-bottom: 200px;
      height: 700px;
      overflow: scroll;
  
      &::-webkit-scrollbar {
        display: none;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          position: relative;
          min-height: 160px;
          width: 300px;
          float: left;
          box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.04);
          border-radius: 6px;
          padding: 24px;
          cursor: pointer;
          margin-bottom: 24px;
          margin-left: 20px;
          color: var(--fisas-08);
          background-color: @fisas-grey-02;

          &:nth-child(3n+1) {
            margin-left: 0;
          }

          h5 {
            position: absolute;
            bottom: 18px;
            left: 24px;
            color: var(--fisas-08);
            margin: 0;
          }
        }
      }
    }

  }
}

#icon-menu-init::ng-deep svg {
  defs path {
      fill: black;
  }
}

#icon-menu-init::ng-deep svg {
  g g {
      fill: black;
  }
}


.icon-space {
  text-align: center;
  padding-top: 40px;
}

.text-modal {
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 25px;
}
