<div class="content">
  <form nz-form [formGroup]="typologyGroup" nzLayout="horizontal">
    <nz-spin [nzSpinning]="loadingLanguages">
      <ng-container formArrayName="translations">
        <nz-tabset #translationTabs>
          <nz-tab *ngFor="let translation of translations.controls; let i = index;"
            [nzTitle]="getLanguageName(translation.value.language_id)">
            <ng-container [formGroupName]="i">
              <nz-form-item>
                <nz-form-label nzFor="name" nzRequired>Nome</nz-form-label>
                <nz-form-control nzErrorTip="Campo obrigatório">
                  <input nz-input formControlName="name" id="name">
                </nz-form-control>
              </nz-form-item>
            </ng-container>
          </nz-tab>
        </nz-tabset>
      </ng-container>
    </nz-spin>
    <div nz-row nzGutter="16">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="product_code" nzRequired>Código produto</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório"
            nzExtra="Código de produto usado para faturação. (Deve ser o mesmo que no ERP)">
            <input nz-input formControlName="product_code" id="product_code">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="max_occupants_number" nzRequired>Num. máximo de ocupantes</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="max_occupants_number" id="max_occupants_number" type="number">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col nzSpan="12">
        <div nz-row>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzFor="active" nzRequired>Ativo</nz-form-label>
              <nz-form-control nzErrorTip="Campo obrigatório">
                <nz-switch id="active" formControlName="active"></nz-switch>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="12" *ngIf="idToUpdate!=null">
        <nz-form-item>
          <nz-form-label nzFor="reprocess_since">Aplicar alterações no processamento apartir de:</nz-form-label>
          <nz-form-control>
            <nz-date-picker formControlName="reprocess_since" nzPlaceHolder="Aplicado apartir de:" [nzDisabledDate]=disableDate></nz-date-picker>
            <nz-form-explain
              *ngIf="typologyGroup.get('reprocess_since')?.dirty && typologyGroup.get('reprocess_since')?.errors">
              Escolha data para alteração da faturação</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-divider nzText="Preços"></nz-divider>
    <div nz-row formArrayName="priceLines">
      <div nz-row *ngFor="let priceLine of priceLines.controls; let i = index;">
        <ng-container [formGroupName]="i">
          <div nz-row nzGutter="16">
            <div nz-col nzSpan="5">
              <nz-form-item>
                <nz-form-label nzFor="tariff_id" nzRequired>Tarifário</nz-form-label>
                <nz-form-control nzErrorTip="Campo obrigatório">
                  <nz-select formControlName="tariff_id" name="tariff_id" nzPlaceHolder="" [nzLoading]="loadingTariffs" (ngModelChange)="filterDaySelection(i)">
                    <nz-option *ngFor="let tariff of tariffs" [nzLabel]="tariff.name" [nzValue]="tariff.id"
                    [nzDisabled]="isTariffDisabled(tariff)">
                    </nz-option>
                  </nz-select>

                </nz-form-control>
              </nz-form-item>
            </div>

            <div nz-col nzSpan="5">
              <nz-form-item>
                <nz-form-label nzFor="price" nzRequired>Preço</nz-form-label>
                <nz-form-control nzErrorTip="Campo preço é obrigatório">
                  <input nz-input type="number" formControlName="price" id="price">
                </nz-form-control>
                <nz-form-explain class="error"
                *ngIf="submit && typologyGroup.get('priceLines.' + i + '.price')?.errors">
                Campo obrigatório
              </nz-form-explain>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="5">
              <nz-form-item>
                <nz-form-label nzFor="vat_id" nzRequired>Taxa</nz-form-label>
                <nz-form-control nzErrorTip="Campo obrigatório">
                  <nz-select formControlName="vat_id" name="vat_id" nzPlaceHolder="" [nzLoading]="loadingTaxes">
                    <nz-option *ngFor="let tax of taxes" [nzLabel]="tax.name" [nzValue]="tax.id"
                      [nzDisabled]="!tax.active">
                    </nz-option>
                  </nz-select>

                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="5">
              <nz-form-item>
                <nz-form-label nzFor="period" nzRequired>Periodo</nz-form-label>
                <nz-form-control nzErrorTip="Campo obrigatório">
                  <nz-select formControlName="period" name="period" nzPlaceHolder="">
                    <nz-option nzLabel="Dia" nzValue="DAY" [nzDisabled]="isDisabledPeriod('DAY', i)"></nz-option>
                    <nz-option nzLabel="Semana" nzValue="WEEK" [nzDisabled]="isDisabledPeriod('WEEK', i)"></nz-option>
                    <nz-option nzLabel="Mês" nzValue="MONTH" [nzDisabled]="isDisabledPeriod('MONTH', i)"></nz-option>
                  </nz-select>

                </nz-form-control>
                <nz-form-explain class="error"
                *ngIf="submit && typologyGroup.get('priceLines.' + i + '.period')?.errors &&  typologyGroup.get('priceLines.' + i + '.period')?.touched">
                Campo obrigatório
              </nz-form-explain>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="4">
              <button nz-button nzType="danger" (click)="deletePriceLine(i)" style="margin-top: 42px;"><i nz-icon
                  nzType="delete"></i></button>
            </div>
          </div>
        </ng-container>
      </div>
      <div nz-row nzType="flex" nzJustify="center">
        <div nz-col nzXs="24" nzSm="12" nzMd="6">
          <button nz-button nzType="default" style="width: 100%;margin-top: 42px;" type="button"
            (click)="addPriceLine()">Adicionar</button>
        </div>
      </div>
    </div>
    <nz-divider nzText="Descontos"></nz-divider>
    <div nz-row formArrayName="discounts">
      <div nz-row *ngFor="let discount of discounts.controls; let i = index;">
        <ng-container [formGroupName]="i">
          <div nz-row nzGutter="24">
            <div nz-col nzSpan="5">
              <nz-form-item>
                <nz-form-label nzFor="date" nzRequired>Mês/Ano</nz-form-label>
                <nz-form-control nzErrorTip="Campo Mês/Ano é obrigatório">
                  <nz-month-picker class="w-100" formControlName="date" nzPlaceHolder="Mês"></nz-month-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="5">
              <nz-form-item>
                <nz-form-label nzFor="discount_value" nzRequired>Percentagem Desconto</nz-form-label>
                <nz-form-control nzErrorTip="Campo preço é obrigatório">
                  <input nz-input type="number" formControlName="discount_value" id="discount_value">
                </nz-form-control>
                <nz-form-explain class="error"
                  *ngIf="submit && typologyGroup.get('discounts.' + i + '.discount_value')?.errors">
                  Campo obrigatório
                </nz-form-explain>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="4">
              <button nz-button nzType="danger" (click)="deleteDiscountLine(i)" style="margin-top: 42px;"><i nz-icon
                  nzType="delete"></i></button>
            </div>
          </div>
        </ng-container>
      </div>
      <div nz-row nzType="flex" nzJustify="center">
        <div nz-col nzXs="24" nzSm="12" nzMd="6">
          <button nz-button nzType="default" style="width: 100%;margin-top: 42px;" type="button"
            (click)="addDiscountLine()">Adicionar</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="space">
  <button *ngIf="idToUpdate" nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="loading" [disabled]="loading" (click)="submitForm()" [nzType]="'primary'">{{idToUpdate
    ? 'Editar' : 'Criar'}}</button>
</div>