:host::ng-deep {

  .ant-card-body {
    padding: 0px !important;
    border-radius: 0px 0px 8px 9px;
  }

  nz-empty {
    width: 100%;
    height: 100%;
  }

  .list-residence {

    &__header {

      @media screen and (min-width: 576px) {
        padding-top: 25px;
      }

      @media screen and (max-width: 576px) {
        padding: 16px;
      }

    }

    &__footer {

      @media screen and (max-width: 576px) {
        padding: 16px;
      }

      padding-top: 18px;
      padding-bottom: 63px;

    }


    &__body {
      padding-top: 20px;

     
      @media screen and (max-width: 576px) {
        padding: 16px;
      }
    }

    &__list {
      &__item {
        padding-bottom: 24px;
        cursor: pointer;
        
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }

        nz-card {
          border-radius: 8px;
          width: 100% !important;
          &:hover {
            border-color: var(--primary-color);
            background-color: var(--primary-1);
          }
          &:focus {
            border-color: var(--primary-color);
            background-color: var(--primary-1);
          }
          nz-carousel {
            border-radius: 8px 8px 0px 0px;

            [nz-carousel-content] {
              //padding: 18px;
              text-align: center;
              height: 240px;
              line-height: 160px;
              background: #364d79;
              color: #fff;
              overflow: hidden;
            }
          }
        }

        &__name {
          margin: 0px;
          margin-bottom: 16px;
          font-size: calc(100% + 2px);
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.23;
          letter-spacing: normal;
          color: unset;
        }

        &__info {
          margin: 0px;
          margin-bottom: 8px;
          font-size: small;
          font-weight: 700;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.8;
          letter-spacing: normal;
          color: unset;
        }

        &__info1 {
          margin: 0px;
          margin-bottom: 10px;
          font-size: small;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.8;
          letter-spacing: normal;
          color: unset;
        }

        &__tag {
          padding: 10px;
          font-size: small;
          text-align: center;
          color: black;
          font-weight: 700;
          &__open {
            background-color: #3CB371;
          }
          
          &__out_of_date {
            background-color: #F7D358;
          }

          &__closed {
           
            background-color: #f8e4e4;
          }
        }
      }
    }
  }
}

.buttons-group{
  text-align: right;
  @media screen and (max-width: 770px) {
    text-align: left;
  }

}

.badge-accommodation {
  text-align: right;
}

.closed {
  text-align: center;
  font-family: Montserrat;
  color: #111111;
  background-color: #f8e4e4;
  padding: 15px;
  font-weight: 600;
  border-radius: 5px;
  border:1px solid #ffccc7;
}

.warning {
  border: 1px solid #ffe58f;
  text-align: center;
  font-weight: 600;
  font-family: Montserrat;
  color: #111111;
  background-color: #fffbe6;
  padding: 15px;
  border-radius: 5px;
}

.success {
  text-align: center;
  font-weight: 600;
  font-family: Montserrat;
  color: #111111;
  background-color: #f6ffed;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #b7eb8f;
}

#icon-accomo::ng-deep svg {
  path {
      fill: white;
  }
}

.carousel-wrapper {
  position: relative;

  .arrow {
    position: absolute;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    margin-top: -20px;
    font-size: 30px;
    font-weight: bold;
    &.icon-left {
      left: 0;
    }
    &.icon-right {
      right: 0;
    }
  }
}