<div class="content--padding white">

  <form nz-form [formGroup]="validateForm">
    <div nz-row>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="ticket_type">Ingresso</nz-form-label>
          <nz-form-control>
            <nz-select nzMode="default" nzPlaceHolder="Ingresso" formControlName="ticket_type">
              <nz-option *ngFor="let ticket_type of ticket_types " nzValue={{ticket_type.value}}
                nzLabel={{ticket_type.label}}></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="validateForm.get('ticket_type').errors && submitted">Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="0" nzMd="2"></div>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="type_user">Utilizador
          </nz-form-label>
          <nz-form-control>
            <nz-select nzMode="default" nzPlaceHolder="Perfil" formControlName="profile_id">
              <nz-option *ngFor="let type_user of types_users " nzValue={{type_user.id}} nzLabel={{type_user.name}}>
              </nz-option>
            </nz-select>
            <nz-form-explain *ngIf="validateForm.get('profile_id').errors && submitted">Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzFor="account_id">Conta Corrente
          </nz-form-label>
          <nz-form-control>
            <nz-select nzMode="default" nzPlaceHolder="Conta Corrente" formControlName="account_id">
              <nz-option *ngFor="let account of currentAccounts " nzValue={{account.id}} nzLabel={{account.name}}>
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="0" nzMd="2"></div>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="tax_id">IVA</nz-form-label>
          <nz-form-control>
            <nz-select nzMode="default" nzPlaceHolder="Taxa" formControlName="tax_id">
              <nz-option *ngFor="let tax of taxes " nzValue={{tax.id}} nzLabel={{tax.name}}></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="validateForm.get('tax_id').errors && submitted">Campo obrigatório</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-form-item>
      <nz-form-label>Ativo</nz-form-label>
      <nz-form-control>
        <nz-switch formControlName="active"></nz-switch>
      </nz-form-control>
    </nz-form-item>

    <nz-table #basicTable [nzScroll]="{ x: '240px' }" [nzData]="['nada']" [nzShowPagination]="false"
      [nzScroll]="{x:'600px'}">

      <thead>
        <tr>
          <th>Valor</th>
          <th><span class="error">* </span>Descrição</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let controlArray of controlArrayGroup;let j = index">
          <td *ngFor="let control of controlArray; let i = index">

            <nz-form-control *ngIf="i === 0">

              <nz-input-number [formControlName]="control.controlInstance" [nzMin]="0.00" [nzStep]="0.01"
                [nzFormatter]="formatterValue"></nz-input-number>

            </nz-form-control>
            <nz-form-control *ngIf="i === 1">

              <input nz-input [attr.line]="control.line" [attr.row]="control.row"
                [formControlName]="control.controlInstance">

            </nz-form-control>
          </td>
          <td>
            <i nz-icon type="minus-circle-o" (click)="removeField(controlArrayGroup[j][0].line,$event)"></i>
          </td>
        </tr>

      </tbody>

    </nz-table>

    <nz-form-item style="text-align: center;">
      <nz-form-control>
        <button nz-button nzType="default" style="width: 30%;margin-top: 42px;" type="button" (click)="addField($event)">Adicionar</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<div class="space" nz-row>
  <button nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="isLoading" [disabled]="isLoading" (click)="submit()"
    [nzType]="'primary'">Criar</button>
</div>