@import 'theme';

.no-application{
  margin-top: 10px; 
  align-items: stretch; 
  text-align: center;
}
.application-status-header {
  margin-top: 40px;
  margin-bottom: 40px;
  &--title {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #111111;
    margin-bottom: 4px;
  }
  &--subtitle {
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #111111;
  }
  &--application-button {
    float: right;
    position: relative;
    top: -10px;
  }
}
.application-button-mobile {
  display: none;
}
@media screen and (max-width: 950px) {
  .application-status-header {
    &--application-button {
      display: none;
    }
  }
  .application-button-mobile {
    display: inline;
  }
}

.collapse-content {
  margin-bottom: 20px;
}

:host::ng-deep {
  .box {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #3a3a3a;
    border-radius: 50px;
    background: white;
    padding: 4px 10px 4px 10px;

    i {
      margin-left: 5px;
    }

    i svg {
      transition: transform 0.24s !important;
    }
  }

  .ant-divider-inner-text {
    padding: 0 !important;
  }
  .ant-divider-horizontal.ant-divider-with-text {
    margin: 0;
  }

  .ant-divider-horizontal.ant-divider-with-text::after {
    border-top: 1px solid var(--primary-color) !important;
  }

  .ant-divider-horizontal.ant-divider-with-text::before {
    border-top: 1px solid var(--primary-color) !important;
  }

  .ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0px !important;
  }

  .list-applications--no-data {
    padding: 20px 15px;
    text-align: center;
  }

  .past-applications-panel {
    margin-bottom: 40px;
    margin-top: 20px;
  }
}

.review {
  padding-left: 25.5px !important;
  padding-right: 25.5px !important;
  margin-top: 23.5px;
  margin-bottom: 34px;
}
