<div nz-row class="application-status-header">
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="10" [nzXs]="22">
    <h2 class="title-top-page">
      {{
        translations?.length > 1
          ? (translations | languageChange)?.name
          : ('VOLUNTEERING.MY_APPLICATIONS.TITLE' | translate)
      }}
    </h2>
    <p class="sub-title-top-page">{{ 'SOCIAL_SUPPORT.APPLICATIONS.SUBTITLE' | translate }}</p>
  </div>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>

<div nz-row>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="20" [nzXs]="22">
    <app-list-applications
      [applications]="currentApplications"
      [translations]="translations"
      (refresh)="getCurrentApplications()"
    ></app-list-applications>
  </div>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>

<div nz-row>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="20" [nzXs]="22">
    <nz-collapse [nzBordered]="false">
      <nz-collapse-panel
        #pa
        *ngFor="let panel of panels"
        [nzHeader]="header"
        [nzActive]="panel.active"
        [ngStyle]="panel.customStyle"
        [nzShowArrow]="false"
      >
        <div class="past-applications-panel">
          <div *ngIf="pastApplications.length !== 0" nz-row class="list-applications--item" style="margin-top: 10px; align-items: stretch;"  nzType="flex">
            <div nz-col nzXs="24" nzMd="12" nzXl="8" *ngFor="let application of pastApplications">
              <app-application-card [application]="application"></app-application-card>
            </div>
          </div>
          <div nz-row *ngIf="pastApplications.length === 0" class="list-applications--item no-application">
            <div nz-col class="list-applications--no-data">
              {{ 'VOLUNTEERING.MY_APPLICATIONS.NO_APPLICATIONS' | translate }}
            </div>
          </div>
        </div>
        <ng-template #header>
          <nz-divider [nzText]="text"></nz-divider>
        </ng-template>

        <ng-template #text>
          <div class="box">
            {{ panel.name | translate
            }}<i nz-icon type="icons:icons-arrow-2-right" [nzRotate]="pa.nzActive ? 90 : -90"></i>
          </div>
        </ng-template>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>
