<nz-footer>
    <div nz-row nzType="flex" nzJustify="end" nzAlign="middle">
        <div nz-col nzSpan="12">
          <img width="300px" src="/assets/imgs/logoama.png" />
        </div>
        <div nz-col nzSpan="12" style="text-align: right;">
          sasocial POS v{{ POS_VERSION }}
        </div>
      </div>
  </nz-footer>