<div *ngIf="!noApplication" style="margin-top: 25px;">
  <div class="container">
      <div nz-row>
          <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>
          <div nz-col nz-col [nzXs]="22" [nzSm]="20" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
              <div class="forms">
                  <h2 class="title-top-page">{{'EMERGENCY_FUND.MENU.EXPENSES' | translate}}</h2>
                  <p class="sub-title-top-page"> {{'EMERGENCY_FUND.MENU.CHANGES_SUBTITLE_OFF' | translate}}</p>
              </div>
          </div>
      </div>
  </div>
  
</div>

<div *ngIf="noApplication" style="margin-top: 25px; margin-bottom:25px">

  <div class="container">
      <div nz-row>
          <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>
          <div nz-col nz-col [nzXs]="22" [nzSm]="20" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
              <div class="forms">
                  <h2 class="title-top-page">{{'EMERGENCY_FUND.MENU.EXPENSES' | translate}}</h2>
                  <p class="sub-title-top-page"> {{'EMERGENCY_FUND.MENU.CHANGES_SUBTITLE_ON' | translate}}</p>
              </div>
              <div>
                  <nz-spin [nzSpinning]="loadingChanges">
                      <nz-card id="cardhistorychangerequestsComponent" class="border-radius-8">
                          <div class="padding-table hidden-xs">
                            <table class="table table-responsive">
                              <tr class="header-table">
                                  <th>
                                    <div class="header-table-div"></div>
                                  </th>
                                  <th>
                                    <div class="header-table-div">
                                      <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_EXPENSES.DATE' | translate}}</span>
                                    </div>
                                  </th>
                                  <th>
                                      <div class="header-table-div">
                                          <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_EXPENSES.DOC_TYPE' | translate}}</span>
                                      </div>
                                  </th>
                                  <th>
                                      <div class="header-table-div">
                                          <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_EXPENSES.DOC_N' | translate}}</span>
                                      </div>
                                  </th>
                                  <th>
                                      <div class="header-table-div">
                                          <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_EXPENSES.DATE_DOC' | translate}}</span>
                                      </div>
                                  </th>
                                  <th>
                                      <div class="header-table-div">
                                          <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_EXPENSES.NAME' | translate}}</span>
                                      </div>
                                  </th>
                                  <th>
                                      <div class="header-table-div">
                                          <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_EXPENSES.DESCRIPTION' | translate}}</span>
                                      </div>
                                  </th>
                                  <th>
                                      <div class="header-table-div">
                                          <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_EXPENSES.VALUE' | translate}}</span>
                                      </div>
                                  </th>
                                  <th>
                                      <div class="header-table-div">
                                          <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_EXPENSES.IS' | translate}}</span>
                                      </div>
                                  </th>
                                  <th>
                                      <div class="header-table-div">
                                          <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_EXPENSES.FILES' | translate}}</span>
                                      </div>
                                  </th>
                                  <th>
                                      <div class="header-table-div">
                                          <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_EXPENSES.STATUS' | translate}}</span>
                                      </div>
                                  </th>
                                  <th>
                                      <div class="header-table-div"></div>
                                  </th>
                              </tr>
                              <tbody *ngFor="let data of lista; let idx = index">
                                  <tr class="body-table" [ngClass]="{'par':!isPar(idx), 'impar':isPar(idx)}">
                                      <td>

                                      </td>
                                      <td> <span>{{ data?.created_at | date: "dd-MM-yyyy hh:mm" }}</span> </td>
                                      <td> 
                                        <span *ngIf="data?.documents.length > 0">{{ getDocumentTypeDescription(data?.documents[0].document_type_id) }}</span> 
                                        <span *ngIf="data?.documents.length == 0"> -- </span>
                                      </td>
                                      <td> <span>{{ data?.document_number }}</span> </td>
                                      <td> <span>{{ data?.document_date | date: "dd-MM-yyyy"}}</span> </td>
                                      <td> <span>{{ data?.supplier_name }}</span> </td>
                                      <td> <span>{{ data?.expense_description }}</span> </td>
                                      <td> <span>{{ data?.document_value }}</span> </td>
                                      <td> <span>{{ getSupportDescription(data?.intended_support_id) }}</span> </td>
                                      <td *ngIf="data?.documents.length > 0"> 
                                          <a target="_blank" (click)="loadFile(data?.documents)">
                                             {{ "EMERGENCY_FUND.LIST_APPLICATIONS_EXPENSES.LINK" | translate }}
                                          </a>
                                      </td>
                                      <td *ngIf="data?.documents.length == 0"> -- </td>
                                      <td> <nz-tag class="tab-status cursor-cont" (click)="consultHistoric(data)"
                                        [nzColor]=" (configStatus | filterStatusConfig: data?.status).color ">
                                        {{ "EMERGENCY_FUND.STATUS." + data?.status.toString().toUpperCase() | translate }}
                                        </nz-tag></td>
                                      <td>

                                      </td>
                                  </tr>
                              </tbody>

                          </table>
                          <nz-empty *ngIf="data?.length==0"></nz-empty>
                      </div>
                      <div class="padding-table hidden-md">
                          <div *ngFor="let data of lista; let idx = index">
                              <div [ngClass]="{'par':isPar(idx), 'impar':!isPar(idx)}">
                                  <div nz-row nzType="flex" style="align-items: stretch;">
                                      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                          class="header-table-div padding-left-5">
                                          <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_EXPENSES.DATE' | translate}}</span>
                                      </div>
                                      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                          class="body-table padding-top-18">
                                          <span> {{ data?.created_at | date: "dd-MM-yyyy hh:mm" }} </span>
                                      </div>
                                  </div>
                                  <div nz-row nzType="flex" style="align-items: stretch;">
                                      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                          class="header-table-div padding-left-5">
                                          <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_EXPENSES.DOC_TYPE' | translate}}</span>
                                      </div>
                                      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                          class="body-table padding-top-18">
                                          <span *ngIf="data?.documents.length > 0"> {{ getDocumentTypeDescription(data?.documents[0].document_type_id) }} </span>
                                          <span *ngIf="data?.documents.length == 0"> -- </span>
                                      </div>
                                  </div>
                                  <div nz-row nzType="flex" style="align-items: stretch;">
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                        class="header-table-div padding-left-5">
                                        <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_EXPENSES.DOC_N' | translate}}</span>
                                    </div>
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                        class="body-table padding-top-18">
                                        <span> {{ data?.document_number }} </span>
                                    </div>
                                  </div>
                                  <div nz-row nzType="flex" style="align-items: stretch;">
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                        class="header-table-div padding-left-5">
                                        <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_EXPENSES.DATE_DOC' | translate}}</span>
                                    </div>
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                        class="body-table padding-top-18">
                                        <span> {{ data?.document_date | date: "dd-MM-yyyy"}} </span>
                                    </div>
                                  </div>
                                  <div nz-row nzType="flex" style="align-items: stretch;">
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                        class="header-table-div padding-left-5">
                                        <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_EXPENSES.NAME' | translate}}</span>
                                    </div>
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                        class="body-table padding-top-18">
                                        <span> {{ data?.supplier_name }} </span>
                                    </div>
                                  </div>
                                  <div nz-row nzType="flex" style="align-items: stretch;">
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                        class="header-table-div padding-left-5">
                                        <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_EXPENSES.DESCRIPTION' | translate}}</span>
                                    </div>
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                        class="body-table padding-top-18">
                                        <span> {{ data?.expense_description }} </span>
                                    </div>
                                  </div>
                                  <div nz-row nzType="flex" style="align-items: stretch;">
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                        class="header-table-div padding-left-5">
                                        <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_EXPENSES.VALUE' | translate}}</span>
                                    </div>
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                        class="body-table padding-top-18">
                                        <span> {{ data?.document_value }} </span>
                                    </div>
                                  </div>
                                  <div nz-row nzType="flex" style="align-items: stretch;">
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                        class="header-table-div padding-left-5">
                                        <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_EXPENSES.IS' | translate}}</span>
                                    </div>
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                        class="body-table padding-top-18">
                                        <span> {{ getSupportDescription(data?.intended_support_id) }} </span>
                                    </div>
                                  </div>
                                  <div nz-row nzType="flex" style="align-items: stretch;">
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                        class="header-table-div padding-left-5">
                                        <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_EXPENSES.FILES' | translate}}</span>
                                    </div>
                                    <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                        class="body-table padding-top-18">

                                        <div *ngIf="data?.documents.length > 0">
                                          <a target="_blank" (click)="loadFile(data?.documents)">
                                            {{ "EMERGENCY_FUND.LIST_APPLICATIONS_EXPENSES.LINK" | translate }}
                                          </a>
                                        </div>

                                        
                                        <div *ngIf="data?.documents.length == 0">
                                          <div > -- </div>
                                        </div>

                                    </div>
                                  </div>
                                  <div nz-row nzType="flex" style="align-items: stretch;">
                                      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                          class="header-table-div padding-left-5">
                                          <span>{{ 'EMERGENCY_FUND.LIST_APPLICATIONS_EXPENSES.STATUS' | translate}}</span>
                                      </div>
                                      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12"
                                            class="body-table padding-top-18">
                                            <nz-tag  class="tab-status cursor-cont" (click)="consultHistoric(data)"
                                              [nzColor]=" (configStatus | filterStatusConfig: data?.status).color ">
                                              {{ "EMERGENCY_FUND.STATUS." + data?.status.toString().toUpperCase() | translate }}
                                            </nz-tag>
                                        </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </nz-card>
              </nz-spin>

          </div>
      </div>
  </div>
</div>
</div>
