<nz-tabset nzTabPosition="left" *ngIf="application">
    <nz-tab nzTitle="Candidatura">
        <div nz-row nzType="flex" nzJustify="start">
            <label class="title-step">Candidatura</label>
        </div>
        <div nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
                <div nz-row class="title">
                    Data de submissão
                </div>
                <div nz-row class="detail-field">
                    {{ application.submission_date ? (application.submission_date | date: 'd MMMM y') : 'Não submetida'
                    }}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
                <div nz-row class="title">
                    Submetido fora do prazo
                </div>
                <div nz-row class="detail-field">
                    <fi-sas-tag [value]="application.submitted_out_of_date "></fi-sas-tag>
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20"
                *ngIf="application.assigned_residence_id && application.assignedResidence">
                <div nz-row class="title">
                    Residência
                </div>
                <div nz-row class="detail-field">
                    {{ application.assignedResidence ? application.assignedResidence.name : '-'}}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20"
                *ngIf="application.room_id && application.room">
                <div nz-row class="title">
                    Quarto
                </div>
                <div nz-row class="detail-field">
                    {{ application.room ? application.room.name : '-'}}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20"
                *ngIf="application?.room && application?.room?.typology">
                <div nz-row class="title">
                    Tipologia
                </div>
                <div nz-row class="detail-field">
                    {{(application?.room?.typology?.translations | translation).name}}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20"
                *ngIf="application?.tariff">
                <div nz-row class="title">
                    Tarifário
                </div>
                <div nz-row class="detail-field">
                    {{application?.tariff?.name}}
                </div>
            </div>
        </div>
        <div nz-row nzType="flex" nzJustify="start" class="padding-top-20">
            <label class="title-step">Residência a que se candidata</label>
        </div>
        <div nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
                <div nz-row class="title">
                    Período
                </div>
                <div nz-row class="detail-field">
                    {{ application.start_date | date: "dd/MM/yyyy"}} - {{ application.end_date | date: "dd/MM/yyyy"}}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
                <div nz-row class="title">
                    Residência
                </div>
                <div nz-row class="detail-field">
                    {{ application.residence.name }}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
                <div nz-row class="title">
                    Regime de alojamento
                </div>
                <div nz-row class="detail-field">
                    {{ (application.regime.translations | where: ['language_id', DEFAULT_LANG_ID])[0].name }}
                </div>
            </div>

            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20"
                *ngIf="application.preferred_typology">
                <div nz-row class="title">
                    Preferência de Tipologia de Quarto
                </div>
                <div nz-row class="detail-field">
                    {{ (application.preferred_typology.translations | where: ['language_id', DEFAULT_LANG_ID])[0].name
                    }}
                </div>
            </div>

        </div>
        <div nz-row nzType="flex" nzJustify="start" *ngIf="application.extras.length>0">
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
                <div nz-row class="title">
                    Extras
                </div>
                <div nz-row class="detail-field">
                    <nz-tag *ngFor="let extra of application.extras" nzColor="">{{ (extra.translations | where:
                        ['language_id',
                        DEFAULT_LANG_ID])[0].name }}</nz-tag>
                </div>
            </div>
        </div>
        <div nz-row nzType="flex" nzJustify="start" class="padding-top-20"
            *ngIf="application.second_option_residence_id && application.second_option_residence">
            <label class="title-step">Residência alternativa</label>
        </div>
        <div nz-row nzType="flex" nzJustify="start"
            *ngIf="application.second_option_residence_id && application.second_option_residence">
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
                <div nz-row class="title">
                    Residência alternativa
                </div>
                <div nz-row class="detail-field">
                    {{ application.second_option_residence ? application.second_option_residence.name : '-'}}
                </div>
            </div>
        </div>

        <div nz-row nzType="flex" nzJustify="start" class="padding-top-20">
            <label class="title-step">Residência anterior</label>
        </div>
        <div nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
                <div nz-row class="title">
                    Já esteve alojado(a) em alguma residência dos SAS
                </div>
                <div nz-row class="detail-field">
                    <fi-sas-tag [value]="application.has_used_residences_before"></fi-sas-tag>
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20"
                *ngIf="application.has_used_residences_before">
                <div nz-row class="title">
                    Residência
                </div>
                <div nz-row class="detail-field">
                    {{ application.whichResidence? application.whichResidence.name : '-' }}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20"
                *ngIf="application.has_used_residences_before">
                <div nz-row class="title">
                    Quarto
                </div>
                <div nz-row class="detail-field">
                    {{ application.whichRoom ? application.whichRoom.name : '-' }}
                </div>
            </div>

        </div>
        <div nz-row nzType="flex" nzJustify="start" class="padding-top-20">
            <label class="title-step">Bolsa de estudo</label>
        </div>
        <div nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
                <div nz-row class="title">
                    Candidatou-se ou vai
                    candidatar-se à
                    bolsa de estudo?
                </div>
                <div nz-row class="detail-field">
                    <fi-sas-tag [value]="application.applied_scholarship"></fi-sas-tag>
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20"
                *ngIf="application.scholarship_value">
                <div nz-row class="title">
                    Valor da bolsa
                </div>
                <div nz-row class="detail-field">
                    {{
                    application.scholarship_value }} €
                </div>
            </div>
        </div>
    </nz-tab>
    <nz-tab nzTitle="Dados pessoais">
        <div nz-row nzType="flex" nzJustify="start">
            <label class="title-step">Dados pessoais</label>
        </div>
        <div nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
                <div nz-row class="title">
                    Nome
                </div>
                <div nz-row class="detail-field">
                    {{ application.full_name }}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
                <div nz-row class="title">
                    Data nascimento
                </div>
                <div nz-row class="detail-field">
                    {{ application.applicant_birth_date | date: 'shortDate' }}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
                <div nz-row class="title">
                    Género
                </div>
                <div nz-row class="detail-field">
                    {{ application?.gender == 'M' ? 'Masculino' :
                    application?.gender == 'F' ? 'Feminino'
                    : application?.gender == 'U' ?
                    'Outro' : '-'
                    }}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
                <div nz-row class="title">
                    Filiação
                </div>
                <div nz-row class="detail-field">
                    <b>Pai:</b> {{ application?.father_name ? application?.father_name : '-'
                    }} <br>
                    <b>Mãe:</b> {{ application?.mother_name ? application?.mother_name : '-' }}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
                <div nz-row class="title">
                    Incapacidade
                </div>
                <div nz-row class="detail-field">
                    <fi-sas-tag [value]="application?.incapacity"></fi-sas-tag>
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20"
                *ngIf="application?.incapacity">
                <div nz-row class="title">
                    Tipo de incapacidade
                </div>
                <div nz-row class="detail-field">
                    {{
                    application.incapacity_type }}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20"
                *ngIf="application?.incapacity">
                <div nz-row class="title">
                    Grau de incapacidade
                </div>
                <div nz-row class="detail-field">
                    {{
                    application.incapacity_degree }}
                </div>
            </div>

            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
                <div nz-row class="title">
                    Nacionalidade
                </div>
                <div nz-row class="detail-field">
                    {{ application.nationality }}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
                <div nz-row class="title">
                    Documento de identificação
                </div>
                <div nz-row class="detail-field">
                    <b>{{ application?.document_type ?
                        (application?.document_type?.translations | translation)?.description + ' - ' : ''}}</b> {{
                    application?.identification }}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
                <div nz-row class="title">
                    NIF
                </div>
                <div nz-row class="detail-field">
                    {{ application.tin }}
                </div>
            </div>
            <ng-container *ngIf="application?.allow_direct_debit!=null">
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
                    <div nz-row class="title">
                        Autorização de Pagamento por Débito Direto?
                    </div>
                    <div nz-row class="detail-field">
                        <fi-sas-tag [value]="application.allow_direct_debit"></fi-sas-tag>
                    </div>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20"
                    *ngIf="application?.allow_direct_debit">
                    <div nz-row class="title">
                        IBAN
                    </div>
                    <div nz-row class="detail-field">
                        {{ application.iban }}
                    </div>
                </div>
            </ng-container>
        </div>
        <div nz-row class="padding-top-20">
            <button nz-button [nzType]="'primary'" (click)="modalPerfil = true">Dados atuais</button>
        </div>
        <div nz-row nzType="flex" nzJustify="start" class="padding-top-20">
            <label class="title-step">Residência do agregado familiar</label>
        </div>
        <div nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
                <div nz-row class="title">
                    Morada
                </div>
                <div nz-row class="detail-field">
                    {{ application.address }}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
                <div nz-row class="title">
                    Código postal
                </div>
                <div nz-row class="detail-field">
                    {{ application.postal_code }}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
                <div nz-row class="title">
                    Localidade
                </div>
                <div nz-row class="detail-field">
                    {{ application.city }}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
                <div nz-row class="title">
                    País
                </div>
                <div nz-row class="detail-field">
                    {{ application.country }}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
                <div nz-row class="title">
                    Distância da residência do agregado familiar à escola
                </div>
                <div nz-row class="detail-field">
                    {{
                    application.household_distance }} kms
                </div>
            </div>
        </div>
    </nz-tab>
    <nz-tab nzTitle="Contactos">
        <div nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
                <div nz-row class="title">
                    E-Mail institucional
                </div>
                <div nz-row class="detail-field">
                    {{ application.email }}
                </div>
            </div>
            <div nz-col *ngIf="application.secundary_email" nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6"
                class="padding-top-20">
                <div nz-row class="title">
                    E-Mail Pessoal
                </div>
                <div nz-row class="detail-field">
                    {{ application.secundary_email
                    }}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
                <div nz-row class="title">
                    Contacto principal
                </div>
                <div nz-row class="detail-field">
                    {{ application.phone_1 }}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
                <div nz-row class="title">
                    Contacto de emergência
                </div>
                <div nz-row class="detail-field">
                    {{ application.phone_2 }}
                </div>
            </div>
        </div>
    </nz-tab>
    <nz-tab nzTitle="Ocorrências" [nzDisabled]="!application.occurrences">
        <div nz-row nzType="flex" nzJustify="start" *ngFor="let occurrence of application.occurrences">
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
                <div nz-row class="title">
                    Data
                </div>
                <div nz-row class="detail-field">
                    {{ occurrence.date | date: 'd MMMM y'}}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="9" class="padding-top-20">
                <div nz-row class="title">
                    Assunto
                </div>
                <div nz-row class="detail-field">
                    {{ occurrence.subject}}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="9" class="padding-top-20">
                <div nz-row class="title">
                    Descrição
                </div>
                <div nz-row class="detail-field">
                    {{ occurrence.description}}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="6" nzXl="6" class="padding-top-20">
                <div nz-row class="title">
                    Utilizador
                </div>
                <div nz-row class="detail-field">
                    {{ occurrence?.created_by?.name }}
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="24" *ngIf="occurrence?.file_id" nzLg="6" nzXl="6"
                class="padding-top-20">
                <div nz-row class="title">
                    Anexo
                </div>
                <div nz-row class="detail-field">
                    <a target="_blank" [href]="occurrence?.file.url">
                        Download
                    </a>
                </div>
            </div>

            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <nz-divider></nz-divider>
            </div>
        </div>

    </nz-tab>
</nz-tabset>


<nz-modal [(nzVisible)]="modalPerfil" (nzOnCancel)="modalPerfil=false" [nzTitle]="'Dados atuais'" nzWidth="900"
    [nzOkText]="null" [nzCancelText]="null">
    <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
            <div nz-row class="title">
                Email
            </div>
            <div nz-row class="detail-field">
                {{application?.user?.email}}
            </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
            <div nz-row class="title">
                Contacto
            </div>
            <div nz-row class="detail-field">
                {{application?.user?.phone}}
            </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
            <div nz-row class="title">
                Morada
            </div>
            <div nz-row class="detail-field">
                {{application?.user?.address}}, {{application?.user?.postal_code}} {{application?.user?.city}}
            </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
            <div nz-row class="title">
                Identificação
            </div>
            <div nz-row class="detail-field">
                {{application?.user?.identification}}
            </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
            <div nz-row class="title">
                NIF
            </div>
            <div nz-row class="detail-field">
                {{application?.user?.tin}}
            </div>
        </div>
    </div>

</nz-modal>