<div nz-row class="margin-top-20">
    <label>Lista de utilizadores predefinidos</label>
</div>
<div nz-row class="box-table scroll">
    <nz-empty *ngIf="listUsers?.length==0"></nz-empty>
    <div nz-col nzMd="24" *ngIf="listUsers?.length>0">
        <div nz-row class="border-bottom">
            <div nz-col nzMd="8">
                <b>Nome</b>
            </div>
            <div nz-col nzMd="8">
               <b>Email</b>
            </div>
            <div nz-col nzMd="8">

            </div>
        </div>
        <div nz-row *ngFor="let user of listUsers; let idx = index" class="row-table">
            <div nz-col nzMd="8">
                {{user.nameUser}}
            </div>
            <div nz-col nzMd="8">
                {{user.emailUser}}
            </div>
            <div nz-col nzMd="8">
                <i nz-icon nzType="close" style="font-size: 15px;" nzTheme="outline" (click)="deleteUser(idx)"></i>
            </div>
        </div>
    </div>
</div>

<div nz-row class="margin-top-20">
    <label>Adicionar utilizador:</label>
</div>
<div nz-row>
    <form nz-form [formGroup]="form" class="login-form">
        <div nz-col nzMd="10">
            <nz-form-item>
                <nz-form-control>
                    <input nz-input type="text" formControlName="name" placeholder="Nome do utilizador" matKeyboard
                        style="height: 40px;">
                    <nz-form-explain class="error" *ngIf="form.get('name').errors && submited">Campo obrigatório</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzMd="2"></div>
    <div nz-col nzMd="10">
        <nz-form-item>
            <nz-form-control>
                <input nz-input type="text" formControlName="email" placeholder="Email do utilizador" matKeyboard
                style="height: 40px;">
                <nz-form-explain class="error" *ngIf="form.get('email').errors && submited">Campo inválido</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
      
    </div>
    </form>

</div>

<div class="p-8 fr margin-top-20">
    <button class="mr-8" nz-button nzType="danger" nzSize="large" (click)="out()">Sair</button>
    <button nz-button nzType="primary" nzSize="large" (click)="save()">Gravar</button>
</div>