<div class="container">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
      <div nz-row>
        <nz-form-label>Termo de Pesquisa</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input [(ngModel)]="filters.search">
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">

      <div nz-row>
        <nz-form-label>Estado</nz-form-label>
        <nz-form-control>
          <nz-select class="primary-select" [(ngModel)]="filters.active" nzAllowClear nzShowSearch style="width: 100%;">
            <nz-option *ngFor="let state of status" [nzLabel]="state.description" [nzValue]="state.value">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">

      <div nz-row>
        <nz-form-label>Externo</nz-form-label>
        <nz-form-control>
          <nz-switch [(ngModel)]="filters.external" id="external"></nz-switch>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">

      <div nz-row>
        <nz-form-label>Acesso BO</nz-form-label>
        <nz-form-control>
          <nz-switch [(ngModel)]="filters.can_access_BO" id="can_access_BO"></nz-switch>
        </nz-form-control>
      </div>
    </div>

  </div>
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">

      <div nz-row>
        <nz-form-label>Perfil</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="filters.profile_id" id="profile_id" [nzLoading]="profile_loading" nzAllowClear
           style="width: 100%;">
            <nz-option *ngFor="let profile of profiles" [nzValue]="profile.id" [nzLabel]="profile.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">

      <div nz-row>
        <nz-form-label>Fonte</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="filters.sourced_by" id="sourcer_by" style="width: 100%;" nzAllowClear
           >
            <nz-option nzValue="BO" nzLabel="Backoffice"></nz-option>
            <nz-option nzValue="MIDDLEWARE" nzLabel="Middleware"></nz-option>
            <nz-option nzValue="INTERNAL" nzLabel="Interno"></nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
      <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
      style="text-align: left;">
      <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
    </div>
  </div>
</div>

<div class="container">
  <nz-table class="content-table" #refTable [nzScroll]="{ x: '240px' }" [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th></th>
        <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
          [nzSortKey]="column.sortKey ? column.sortKey : column.key"> {{ column.label }}</th>
        <th nzRight="0px" class="text-right">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">
        <tr>
          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
          <td *ngFor="let column of columns">
            <span *ngIf="!column.tag">{{ column.translation ? (data.translations | where: ['language_id', 3]
              )[0][column.key] : (data | flatObject)[column.key]}}</span>
            <span *ngIf="column.tag">
              <fi-sas-tag [value]="data[column.key]" [results]="column.tag"></fi-sas-tag>
            </span>
          </td>
          <td nzRight="0px" class="text-right">
            <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
              nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item [nzDisabled]="!('authorization:users:update' | hasPermission)"
                  [routerLink]="['/users', 'users', 'update', data.id]">Editar</li>
                <li nz-menu-item (click)="sendVerificationEmail(data)" [nzDisabled]="data.account_verified">Enviar
                  verificação</li>
                <li nz-menu-item (click)="changeStatusAccount(data)">{{data.active ? 'Desativar' : 'Ativar'}}</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>

        <tr [nzExpand]="mapOfExpandData[data.id]">
          <td [attr.colspan]="columns.length + 3">
            <fi-sas-view-user *ngIf="mapOfExpandData[data.id]" [data]="data"></fi-sas-view-user>
          </td>
        </tr>

      </ng-template>
    </tbody>
  </nz-table>
</div>