<nz-tabset nzTabPosition="left">

  <nz-tab nzTitle="Dados Pessoais">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="5" nzXl="5" class="padding-top-20">
        <div nz-row class="title">
          Nome
        </div>
        <div nz-row class="detail-field">
          {{ declaration.name }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="5" nzXl="5" class="padding-top-20">
        <div nz-row class="title">
          Data de nascimento
        </div>
        <div nz-row class="detail-field">
          {{ declaration?.birth_date | date:'dd/MM/yyyy' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="5" nzXl="5" class="padding-top-20">
        <div nz-row class="title">
          Tipo de documento
        </div>
        <div nz-row class="detail-field">
          {{ getDocumentTypeDescription() }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="4" nzXl="4" class="padding-top-20">
        <div nz-row class="title">
          Nº de identificação
        </div>
        <div nz-row class="detail-field">
          {{ declaration?.identification }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="4" nzXl="4" class="padding-top-20">
        <div nz-row class="title">
          Emitido em
        </div>
        <div nz-row class="detail-field">
          {{ declaration?.cc_emitted_in }}
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Morada">

    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Morada
        </div>
        <div nz-row class="detail-field">
          {{ declaration?.address }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Código postal
        </div>
        <div nz-row class="detail-field">
          {{ declaration?.postal_code }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Localidade
        </div>
        <div nz-row class="detail-field">
          {{ declaration?.locality }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Concelho
        </div>
        <div nz-row class="detail-field">
          {{ declaration?.country }}
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Dados Académicos">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Escola
        </div>
        <div nz-row class="detail-field">
          {{ declaration?.organic_unit.name }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Grau
        </div>
        <div nz-row class="detail-field">
          {{ declaration?.course?.courseDegree?.name}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Curso
        </div>
        <div nz-row class="detail-field">
          {{ declaration?.course?.name}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Ano do curso
        </div>
        <div nz-row class="detail-field">
          {{ declaration?.course_year }}
        </div>
      </div>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Outras informações">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Data de submissão
        </div>
        <div nz-row class="detail-field">
          {{ declaration?.created_at | date:'yyyy-MM-dd hh:mm' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Tem bolsa de estudo?
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="declaration?.has_social_scholarship"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Efetuou pedido de renovação de bolsa de estudo?
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="declaration?.applied_social_scholarship"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Declaração
        </div>
        <div nz-row class="detail-field">
          <a *ngIf="declaration?.declaration_id" target="_blank" [href]="declaration?.declaration?.url">Download</a>
          <span *ngIf="!declaration?.declaration_id">
            -
          </span>
        </div>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20"
        *ngIf="declaration.status === 'rejected'">
        <div nz-row class="title">
          Motivo de rejeição
        </div>
        <div nz-row class="detail-field">
          <div nz-row class="detail-field">
            {{ declaration?.reject_reason }}
          </div>
        </div>
      </div>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Observações" *ngIf="declaration?.observations">
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
      <div nz-row class="detail-field">{{ declaration?.observations }}</div>
    </div>
  </nz-tab>
</nz-tabset>
