:host::ng-deep {
  .upload {
    button {
      height: 48px;
      width: 100%;
      border-radius: 4px;
      border: solid 1px #e8e8e8;
      background-color: #ffffff;
      font-size: 14px !important;
      font-weight: 500 !important;
      line-height: 1.29 !important;
    }
  }
}
