<div class="upload" *ngIf="!loadingFiles">
  <nz-upload
    [nzFilter]="filters"
    [nzDisabled]="disableUploadButton"
    [nzListType]="listType"
    [nzPreview]="handlePreview"
    [nzCustomRequest]="uploadFile"
    [nzRemove]="removeFile"
    [nzLimit]="limit"
    [nzFileList]="filesUploaded"
  >
    <button nz-button [ngClass]="{ disabled: disableUploadButton }">
      <i nz-icon nzType="icons:icons-upload"></i><span> {{ buttonName | translate }}</span>
    </button>
  </nz-upload>
</div>
