<div class="content">
  <form [formGroup]="reportForm" (ngSubmit)="submit(reportForm.valid, reportForm.value)" nzLayout="vertical">
    <p class="subtitle">Relatório final</p>

    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="report">Relatório - Ficheiro</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <fi-sas-upload-file formControlName="report_avaliation" id="report_avaliation" name="report_avaliation"></fi-sas-upload-file>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="end">
      <div nz-col nzSpan="24" class="actions">
        <button nz-button nzType="default" type="button" (click)="close(false)">Cancelar</button>
        <button nz-button nzType="primary" type="submit" [nzLoading]="reportForm_loading" [disabled]="!reportForm.valid">
          <i nz-icon nzType="save"></i>Gravar</button>
      </div>
    </div>
  </form>
</div>
