@import "theme";

.card {
  &__title {
    font-weight: bold;
    font-size: 17px;
    color: var(--primary-7);
  }
  &__section {
    background: var(--primary-color);
    //background: fade(var(--primary-1), 5%) !important;
    margin-bottom: 0.5cm;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__bold {
    font-weight: bold;
  }
}

.container {
  align-self: center;
  text-align: center;
}

.black-text {
  color: black;
}

.button-style {
  font-size: 18px;
  line-height: 24px;
  color: white;
  width: 285px;
  background-color: var(--primary-color);
  border-radius: 21px;
  border: solid 2px var(--primary-color);
  @media screen and (max-width: 600px) {
    width: 260px;
    margin-left: -17px;
  }

}

@media screen and (max-width:600px) {
  .card{
    &__section {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}
