
<nz-card class="card__section" *ngIf="ssoEnabled">

  <div nz-row nzType="flex">
    <div nz-col [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="24" [nzSm]="24" [nzXs]="24" class="black-text">

      <p class="card__title">{{ "DASHBOARD.WIDGETS.AUTHENTICATION.TITLE" | translate }}</p>
      <p>{{ "DASHBOARD.WIDGETS.AUTHENTICATION.DESCRIPTION1_1" | translate }}
        <span class="card__bold">{{ "DASHBOARD.WIDGETS.AUTHENTICATION.BUTTON" | translate }}</span>
        {{ "DASHBOARD.WIDGETS.AUTHENTICATION.DESCRIPTION1_2" | translate }}
      </p>
      <p>{{ "DASHBOARD.WIDGETS.AUTHENTICATION.DESCRIPTION2" | translate }}</p>
    </div>
    <div nz-col class="container" [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="24" [nzSm]="24" [nzXs]="24">
      <button type="button" class="button-style" nz-button (click)="goAuthentication();">
        {{'DASHBOARD.WIDGETS.AUTHENTICATION.BUTTON' | translate}} 
      </button>
    </div>
  </div>
</nz-card>