<fi-sas-layout-toolstrip>
  <fi-sas-toolstrip-button tooltip="Histórico" (onClick)="showHistory()" iconType="clock-circle"></fi-sas-toolstrip-button>
  <fi-sas-toolstrip-button tooltip="Estado" (onClick)="showStatusModal()" [permission]="['sport:reservations:approve', 'sport:reservations:reject']" iconType="sync"></fi-sas-toolstrip-button>
</fi-sas-layout-toolstrip>

<div *ngIf="reservation" perfectScrollbar class="content--padding scroll-container">
  <div nz-row>
    <div nz-col nzSpan="12">
      <div nz-row>
        <h3>Nome:</h3>
      </div>
      <div nz-row>
        <p>{{ reservation.name }}</p>
      </div>
    </div>
    <div nz-col nzSpan="12">
      <div nz-row>
        <h3>Perfil:</h3>
      </div>
      <div nz-row>
        <p>{{ reservation.user_profile_name }}</p>
      </div>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="12">
      <div nz-row>
        <h3>Número de estudante:</h3>
      </div>
      <div nz-row>
        <p>{{ reservation.student_number }}</p>
      </div>
    </div>

    <div nz-col nzSpan="12">
      <div nz-row>
        <h3>Email:</h3>
      </div>
      <div nz-row>
        <p>{{ reservation.email }}</p>
      </div>
    </div>

  </div>

  <div nz-row>
    <div nz-col nzSpan="12">
      <div nz-row>
        <h3>NIF:</h3>
      </div>
      <div nz-row>
        <p>{{ reservation.tin }}</p>
      </div>
    </div>

    <div nz-col nzSpan="12">
      <div nz-row>
        <h3>Cartão Cidadão:</h3>
      </div>
      <div nz-row>
        <p>{{ reservation.identification_number }}</p>
      </div>
    </div>

  </div>

  <nz-divider></nz-divider>

  <div nz-row>
    <div nz-col nzSpan="12">
      <div nz-row>
        <h3>Morada:</h3>
      </div>
      <div nz-row>
        <p>{{ reservation.address }}</p>
      </div>
    </div>
    <div nz-col nzSpan="12">
      <div nz-row>
        <h3>Código Postal:</h3>
      </div>
      <div nz-row>
        <p>{{ reservation.postal_code }}</p>
      </div>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="12">
      <div nz-row>
        <h3>Cidade:</h3>
      </div>
      <div nz-row>
        <p>{{ reservation.city }}</p>
      </div>
    </div>
  </div>

  <nz-divider></nz-divider>

  <div nz-row>
    <div nz-col nzSpan="12">
      <div nz-row>
        <h3>Data inicio:</h3>
      </div>
      <div nz-row>
        <p>{{ reservation.start_date | date : 'fullDate' }}</p>
      </div>
    </div>
    <div nz-col nzSpan="12">
      <div nz-row>
        <h3>Data fim:</h3>
      </div>
      <div nz-row>
        <p>{{ reservation.end_date | date : 'fullDate' }}</p>
      </div>
    </div>
  </div>

  <div nz-row>

    <div nz-col nzSpan="12">
      <div nz-row>
        <h3>Recorrência:</h3>
      </div>
      <div nz-row>
        <p>{{ (recurrences | filterRecurrence : reservation.recurrence).pt }}</p>
      </div>
    </div>

    <div nz-col nzSpan="12">
      <div nz-row>
        <h3>Estado:</h3>
      </div>
      <div nz-row>
        <fi-sas-tag [value]="reservation.status" [results]="{
            Approved: { label: 'Aprovado', color: 'green'},
            Rejected: { label: 'Rejeitado', color: 'red'},
            Pending: { label: 'Em espera', color: 'blue'},
            Cancelled: { label: 'Cancelado', color: 'orange'}
        }"></fi-sas-tag>
      </div>
    </div>

  </div>

  <div nz-row>
    <div nz-col nzSpan="24">
      <div nz-row>
        <h3>Uso:</h3>
      </div>
      <div nz-row>
           <p>{{ reservation.usage_description }}</p>
      </div>
    </div>
  </div>

  <nz-divider></nz-divider>


  <nz-modal [(nzVisible)]="isHistoryVisible" nzTitle="Histórico de Estados" [nzCancelText]="null" (nzOnCancel)="handleHistoryCancel()"  (nzOnOk)="handleHistoryOk()">
    <span *ngIf="reservation.history.length === 0">Sem dados para apresentar</span>
    <nz-timeline>
      <nz-timeline-item *ngFor="let state of reservation.history;" [nzColor]="state.status === ReservationStatus.Approved ? 'green' : (state.status === ReservationStatus.Rejected ? 'red' : state.status === ReservationStatus.Pending ? 'blue': 'orange')">
        <p>{{ state.created_at | date:'medium'  }} [{{ state.status === ReservationStatus.Approved? 'Aprovado' : ( state.status === ReservationStatus.Pending ? 'Em Espera' : state.status === ReservationStatus.Rejected? 'Rejeitado' : 'Cancelado') }}] - {{ state.notes }}</p>
      </nz-timeline-item>
    </nz-timeline>
  </nz-modal>

  <nz-modal [(nzVisible)]="isNotesVisible" nzTitle="Notas sobre validação" (nzOnCancel)="handleNotesCancel()" [nzFooter]="modalFooter">
    <textarea maxlength="255" nz-input placeholder="Notas" [(ngModel)]="notes" nzAutosize></textarea>
    <ng-template #modalFooter>
      <button  nz-button nzType="primary"  (click)="approve()" hasPermission="sport:reservations:approve" [ngClass]="{disabled : reservation.status !== ReservationStatus.Pending || notes === ''}" > Aprovar </button>
      <button nz-button style="margin-left: 16px;" nz-button nzType="danger" (click)="reject()"  hasPermission="sport:reservations:reject" [ngClass]="{disabled : reservation.status !== ReservationStatus.Pending || notes === ''}"> Rejeitar </button>
    </ng-template>
  </nz-modal>
</div>

