<div class="content--padding white">
    <form nz-form [formGroup]="formCreate">
        <div nz-row>
            <nz-form-item>
                <nz-form-label nzRequired>Nome</nz-form-label>
                <nz-form-control>
                    <input formControlName="name" nz-input type="text">
                    <nz-form-explain class="color-required" *ngIf="submitted && f.name.errors">
                        Campo obrigatório
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-row>
            <nz-form-item>
                <nz-form-label nzRequired>Descrição</nz-form-label>
                <nz-form-control>
                    <input formControlName="description" nz-input type="text">
                    <nz-form-explain class="color-required" *ngIf="submitted && f.description.errors">
                        Campo obrigatório
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="6">
                <nz-form-item>
                    <nz-form-label nzRequired>Valor taxa</nz-form-label>
                    <nz-form-control>
                        <input formControlName="tax_value" nz-input type="number" min="0" max="1">
                        <div *ngIf="submitted && f.tax_value.errors">
                            <nz-form-explain class="color-required" *ngIf="f.tax_value.errors.required">
                                Campo obrigatório
                            </nz-form-explain>
                            <nz-form-explain class="color-required" *ngIf="f.tax_value.errors.min || f.tax_value.errors.max">
                                Valores entre 0 e 1. Exemplo 0.23
                            </nz-form-explain>
                        </div>
                        
                    </nz-form-control>
                </nz-form-item>
            </div>

        </div>
        <div nz-row>
            <nz-form-item>
                <nz-form-label nzRequired>Ativo</nz-form-label>
                <nz-form-control>
                    <nz-switch formControlName="active">
                    </nz-switch>
                </nz-form-control>
            </nz-form-item>
        </div>
    </form>
</div>

<div class="space" nz-row>
    <button *ngIf="isEdit" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
    <button nz-button [nzLoading]="isLoading" [disabled]="isLoading"
      (click)="submit()" class="button-submit"
      [nzType]="'primary'">{{isEdit ? 'Editar' : 'Criar'}}</button>
</div>