<nz-tabset nzTabPosition="left">
  <nz-tab nzTitle="Info">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
        <div nz-row class="title">
          Estado
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="data.status" [results]="resultStatus"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
        <div nz-row class="title">
          Tipo
        </div>
        <div nz-row class="detail-field">
          {{ data.type.name }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
        <div nz-row class="title">
          Criado em
        </div>
        <div nz-row class="detail-field">
          {{ data.created_at | date: 'fullDate'}}
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Histórico" [nzDisabled]="!data.history">
    <div nz-row nzType="flex" nzJustify="start" *ngFor="let state of data.history">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
        <div nz-row class="title">
          Data
        </div>
        <div nz-row class="detail-field">
          {{ state.created_at | date:  'd MMMM y'}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
        <div nz-row class="title">
          Estado
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="state.status" [results]="resultStatus"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
        <div nz-row class="title">
          Notas
        </div>
        <div nz-row class="detail-field">
          {{ state.notes ? state.notes : 'Sem notas' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-divider></nz-divider>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Notificações">
    <nz-collapse>
      <nz-collapse-panel *ngFor="let notification of data.notifications" [nzHeader]="collapseHeader">
        <ng-template #collapseHeader>
          {{notification.subject}} - <fi-sas-tag [value]="notification.status" [results]="resultNotificationStatus">
          </fi-sas-tag>
        </ng-template>
        <nz-alert *ngIf="notification.error_message" nzType="error" [nzMessage]="notification.error_message"></nz-alert>
        <div [innerHTML]="notification.message" frameborder="0"></div>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-tab>
  <nz-tab nzTitle="Desenvolvimento">
    <code>
      {{ data | json }}
    </code>
  </nz-tab>
</nz-tabset>
