<div class="container">


    <div nz-row nzType="flex" nzJustify="space-between">
        <div nz-col nzSpan="6">
            <nz-button-group style="padding-right: 10px">
                <button nz-button nzType="primary" (click)="calendar.calendar.prev()"><i nz-icon
                        type="arrow-left"></i></button>
                <button nz-button nzType="primary" (click)="calendar.calendar.next()"><i nz-icon
                        type="arrow-right"></i></button>
            </nz-button-group>
            <button nz-button nzType="primary" (click)="calendar.calendar.today()">Hoje</button>

        </div>
        <div nz-col nzSpan="6">
            <h1>{{ calendar.calendar ? (calendar.calendar.getDate() | date: 'LLLL yyyy' | titlecase) : ''}}</h1>
        </div>
        <div nz-col nzSpan="6">

            <div style="float: right">
                <nz-radio-group [(ngModel)]="selectType">
                    <label nz-radio-button [nzValue]="'month'"
                        (click)="calendar.calendar.changeView('month')">Mês</label>
                    <label nz-radio-button [nzValue]="'list'"
                        (click)="calendar.calendar.changeView('listWeek')">Lista</label>
                    <label nz-radio-button [nzValue]="'week'"
                        (click)="calendar.calendar.changeView('basicWeek')">Semana</label>
                </nz-radio-group>

            </div>
        </div>
    </div>

    <ngx-fullcalendar #calendar defaultView="month" [events]="eventsInCalendar" height="auto" [options]="options"
        (onEventClick)="getEventModal($event.event)">
    </ngx-fullcalendar>
</div>

<nz-modal [(nzVisible)]="modalView" [nzTitle]="'Detalhe Evento'" nzWidth="1000" (nzOnOk)="null" (nzOnCancel)="modalView=false" [nzFooter]="null">
    <div>
       <fi-view-list-events *ngIf="modalView" [data]="eventSelected"></fi-view-list-events>
    </div>
</nz-modal>