<div class="content">
  <form nz-form [formGroup]="experienceForm">
    <div nz-row style="padding-bottom: 10px;">
      <label class="title">Informação Geral</label>
    </div>
    <p *ngIf="currentAcademicYear"><strong>Ano letivo: </strong><span>{{ currentAcademicYear }}</span></p>
    <p *ngIf="!currentAcademicYear"><strong>Ano letivo: </strong><span style="color: red;">Nenhum ano letivo atualmente
        selecionado</span></p>
    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="publish_date">Data de publicação</nz-form-label>
          <nz-form-control>
            <nz-date-picker formControlName="publish_date" id="publish_date" name="publish_date" [nzAllowClear]="false"
              [nzDisabledDate]="publishDate"></nz-date-picker>
            <nz-form-explain class="color-required" *ngIf="submitted && experienceForm.get('publish_date')?.errors">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="application_deadline_date">Data de expiração</nz-form-label>
          <nz-form-control>
            <nz-date-picker formControlName="application_deadline_date" id="application_deadline_date"
              [nzAllowClear]="false" name="application_deadline_date" [nzDisabledDate]="publishDate">
            </nz-date-picker>
            <nz-form-explain class="color-required"
              *ngIf="submitted && experienceForm.get('application_deadline_date')?.errors">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="organic_unit_id">Unidade orgânica / funcional </nz-form-label>
          <nz-form-control>
            <nz-spin [nzTip]="'A carregar...'" [nzSpinning]="organitUnits_loading">
              <nz-radio-group formControlName="organic_unit_id" id="organic_unit_id" name="organic_unit_id">
                <label *ngFor="let ou of organicUnits" nz-radio [nzValue]="ou.id">{{ ou.name }}</label>
              </nz-radio-group>
            </nz-spin>
            <nz-form-explain class="color-required" *ngIf="submitted && experienceForm.get('organic_unit_id')?.errors">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="24">
        <div nz-row style="padding-bottom: 10px;">
          <label class="title">Identificação do Requerente</label>
        </div>
        <ng-container formArrayName="translations">
          <nz-tabset #translationTabs2>
            <nz-tab *ngFor="let translation of translations.controls; let i = index;"
              [nzTitle]="getLanguageName(translation.value.language_id)">
              <ng-container [formGroupName]="i">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="proponent_service">Serviço proponente</nz-form-label>
                  <nz-form-control>
                    <input nz-input formControlName="proponent_service" id="proponent_service" name="proponent_service">
                    <nz-form-explain class="color-required"
                      *ngIf="submitted && experienceForm.get('translations.' + i + '.proponent_service')?.errors">
                      Campo obrigatório
                    </nz-form-explain>
                  </nz-form-control>

                </nz-form-item>
              </ng-container>
            </nz-tab>
          </nz-tabset>
        </ng-container>
        <nz-form-item>
          <nz-form-label nzRequired nzFor="address">Morada</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="address" id="address" name="address">
            <nz-form-explain class="color-required" *ngIf="submitted && experienceForm.get('address')?.errors">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired nzFor="experience_responsible_id">Responsável</nz-form-label>
          <nz-form-control>
            <fi-sas-user-select formControlName="experience_responsible_id" id="experience_responsible_id"
              name="experience_responsible_id"></fi-sas-user-select>
            <nz-form-explain class="color-required"
              *ngIf="submitted && experienceForm.get('experience_responsible_id')?.errors">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div nz-row style="padding-bottom: 10px;">
      <label class="title">Dados da atividade</label>
    </div>

    <ng-container formArrayName="translations">
      <nz-tabset #translationTabs>
        <nz-tab *ngFor="let translation of translations.controls; let i = index;"
          [nzTitle]="getLanguageName(translation.value.language_id)">
          <ng-container [formGroupName]="i">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="title">Título</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="title" id="title" name="title">
                <nz-form-explain class="color-required"
                *ngIf="submitted && experienceForm.get('translations.' + i + '.title')?.errors">
                Campo obrigatório
              </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="description">Descrição</nz-form-label>
              <nz-form-control>
                <textarea maxlength="255" nz-input formControlName="description" id="description" name="description"></textarea>
                <nz-form-explain class="color-required"
                *ngIf="submitted && experienceForm.get('translations.' + i + '.description')?.errors">
                Campo obrigatório
              </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="job">Funções a desempenhar</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="job" id="job" name="job">
                <nz-form-explain class="color-required"
                *ngIf="submitted && experienceForm.get('translations.' + i + '.job')?.errors">
                Campo obrigatório
              </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </ng-container>
        </nz-tab>
      </nz-tabset>
    </ng-container>

    <div nz-row nzGutter="16">
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="number_candidates">Número de participantes</nz-form-label>
          <nz-form-control>
            <input #numberCandidates min="1" nz-input type="number" formControlName="number_candidates"
              id="number_candidates" name="number_candidates">
              <nz-form-explain class="color-required"
              *ngIf="submitted && experienceForm.get('number_candidates')?.errors">
              Campo inválido
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="number_simultaneous_candidates">Número de participantes em simultâneo
          </nz-form-label>
          <nz-form-control>
            <input nz-input min="1" max="{{numberCandidates.value}}" type="number"
              formControlName="number_simultaneous_candidates" id="number_simultaneous_candidates"
              name="number_simultaneous_candidates">
              <nz-form-explain class="color-required"
              *ngIf="submitted && experienceForm.get('number_simultaneous_candidates')?.errors">
              Campo inválido
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="interval_job">Intervalo de duração</nz-form-label>
          <nz-form-control>
            <nz-range-picker formControlName="interval_job" id="interval_job" name="interval_job"
              [nzDisabledDate]="disabledIntervalJob">
            </nz-range-picker>
            <nz-form-explain class="color-required" *ngIf="submitted && experienceForm.get('interval_job')?.errors">
              Campo inválido
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="number_weekly_hours">Estimativa horas semanais</nz-form-label>
          <nz-form-control>
            <input nz-input type="number" formControlName="number_weekly_hours" id="number_weekly_hours"
              name="number_weekly_hours">
              <nz-form-explain class="color-required"
              *ngIf="submitted && experienceForm.get('number_weekly_hours')?.errors">
              Campo inválido
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="total_hours_estimation">Estimativa horas totais</nz-form-label>
          <nz-form-control>
            <input nz-input type="number" formControlName="total_hours_estimation" id="total_hours_estimation"
              name="total_hours_estimation">
              <nz-form-explain class="color-required"
              *ngIf="submitted && experienceForm.get('total_hours_estimation')?.errors">
              Campo inválido
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row style="text-align: center;">
      <nz-form-explain class="color-required"
      *ngIf="submitted && (experienceForm.get('number_weekly_hours')?.value > experienceForm.get('total_hours_estimation')?.value)">
      O total de horas tem que ser maior que as horas semanais
    </nz-form-explain>
    </div>
    <label class="schedule_title">Horario pretendido</label>
    <table class="schedules">
      <tr>
        <th></th>
        <th>Domingo</th>
        <th>Segunda</th>
        <th>Terça</th>
        <th>Quarta</th>
        <th>Quinta</th>
        <th>Sexta</th>
        <th>Sábado</th>
      </tr>
      <tr>
        <td>Manhã</td>
        <td>
          <label nz-checkbox [(ngModel)]="schedules[1].active" [ngModelOptions]="{standalone: true}"></label>
          <a (click)="scheduleChanged(1, $event)"> {{ schedules[1].begin ? (schedules[1].begin | date: 'H:mm') : '-' }}
            até {{ schedules[1].end ? (schedules[1].end | date: 'H:mm') : '-' }}</a>
        </td>
        <td>
          <label nz-checkbox [(ngModel)]="schedules[4].active" [ngModelOptions]="{standalone: true}"></label>
          <a (click)="scheduleChanged(4, $event)"> {{ schedules[4].begin ? (schedules[4].begin | date: 'H:mm') : '-' }}
            até {{ schedules[4].end ? (schedules[4].end | date: 'H:mm') : '-' }}</a>
        </td>
        <td>
          <label nz-checkbox [(ngModel)]="schedules[7].active" [ngModelOptions]="{standalone: true}"></label>
          <a (click)="scheduleChanged(7, $event)"> {{ schedules[7].begin ? (schedules[7].begin | date: 'H:mm') : '-' }}
            até {{ schedules[7].end ? (schedules[7].end | date: 'H:mm') : '-' }}</a>
        </td>
        <td>
          <label nz-checkbox [(ngModel)]="schedules[10].active" [ngModelOptions]="{standalone: true}"></label>
          <a (click)="scheduleChanged(10, $event)">
            {{ schedules[10].begin ? (schedules[10].begin | date: 'H:mm') : '-' }} até
            {{ schedules[10].end ? (schedules[10].end | date: 'H:mm') : '-' }}</a>
        </td>
        <td>
          <label nz-checkbox [(ngModel)]="schedules[13].active" [ngModelOptions]="{standalone: true}"></label>
          <a (click)="scheduleChanged(13, $event)">
            {{ schedules[13].begin ? (schedules[13].begin | date: 'H:mm') : '-' }} até
            {{ schedules[13].end ? (schedules[13].end | date: 'H:mm') : '-' }}</a>
        </td>
        <td>
          <label nz-checkbox [(ngModel)]="schedules[16].active" [ngModelOptions]="{standalone: true}"></label>
          <a (click)="scheduleChanged(16, $event)">
            {{ schedules[16].begin ? (schedules[16].begin | date: 'H:mm') : '-' }} até
            {{ schedules[16].end ? (schedules[16].end | date: 'H:mm') : '-' }}</a>
        </td>
        <td>
          <label nz-checkbox [(ngModel)]="schedules[19].active" [ngModelOptions]="{standalone: true}"></label>
          <a (click)="scheduleChanged(19, $event)">
            {{ schedules[19].begin ? (schedules[19].begin | date: 'H:mm') : '-' }} até
            {{ schedules[19].end ? (schedules[19].end | date: 'H:mm') : '-' }}</a>
        </td>
      </tr>
      <tr>
        <td>Tarde</td>
        <td>
          <label nz-checkbox [(ngModel)]="schedules[2].active" [ngModelOptions]="{standalone: true}"></label>
          <a (click)="scheduleChanged(2, $event)"> {{ schedules[2].begin ? (schedules[2].begin | date: 'H:mm') : '-' }}
            até {{ schedules[2].end ? (schedules[2].end | date: 'H:mm') : '-' }}</a>
        </td>
        <td>
          <label nz-checkbox [(ngModel)]="schedules[5].active" [ngModelOptions]="{standalone: true}"></label>
          <a (click)="scheduleChanged(5, $event)"> {{ schedules[5].begin ? (schedules[5].begin | date: 'H:mm') : '-' }}
            até {{ schedules[5].end ? (schedules[5].end | date: 'H:mm') : '-' }}</a>
        </td>
        <td>
          <label nz-checkbox [(ngModel)]="schedules[8].active" [ngModelOptions]="{standalone: true}"></label>
          <a (click)="scheduleChanged(8, $event)"> {{ schedules[8].begin ? (schedules[8].begin | date: 'H:mm') : '-' }}
            até {{ schedules[8].end ? (schedules[8].end | date: 'H:mm') : '-' }}</a>
        </td>
        <td>
          <label nz-checkbox [(ngModel)]="schedules[11].active" [ngModelOptions]="{standalone: true}"></label>
          <a (click)="scheduleChanged(11, $event)">
            {{ schedules[11].begin ? (schedules[11].begin | date: 'H:mm') : '-' }} até
            {{ schedules[11].end ? (schedules[11].end | date: 'H:mm') : '-' }}</a>
        </td>
        <td>
          <label nz-checkbox [(ngModel)]="schedules[14].active" [ngModelOptions]="{standalone: true}"></label>
          <a (click)="scheduleChanged(14, $event)">
            {{ schedules[14].begin ? (schedules[14].begin | date: 'H:mm') : '-' }} até
            {{ schedules[14].end ? (schedules[14].end | date: 'H:mm') : '-' }}</a>
        </td>
        <td>
          <label nz-checkbox [(ngModel)]="schedules[17].active" [ngModelOptions]="{standalone: true}"></label>
          <a (click)="scheduleChanged(17, $event)">
            {{ schedules[17].begin ? (schedules[17].begin | date: 'H:mm') : '-' }} até
            {{ schedules[17].end ? (schedules[17].end | date: 'H:mm') : '-' }}</a>
        </td>
        <td>
          <label nz-checkbox [(ngModel)]="schedules[20].active" [ngModelOptions]="{standalone: true}"></label>
          <a (click)="scheduleChanged(20, $event)">
            {{ schedules[20].begin ? (schedules[20].begin | date: 'H:mm') : '-' }} até
            {{ schedules[20].end ? (schedules[20].end | date: 'H:mm') : '-' }}</a>
        </td>
      </tr>
      <tr>
        <td>Noite</td>
        <td>
          <label nz-checkbox [(ngModel)]="schedules[3].active" [ngModelOptions]="{standalone: true}"></label>
          <a (click)="scheduleChanged(3, $event)"> {{ schedules[3].begin ? (schedules[3].begin | date: 'H:mm') : '-' }}
            até {{ schedules[3].end ? (schedules[3].end | date: 'H:mm') : '-' }}</a>
        </td>
        <td>
          <label nz-checkbox [(ngModel)]="schedules[6].active" [ngModelOptions]="{standalone: true}"></label>
          <a (click)="scheduleChanged(6, $event)"> {{ schedules[6].begin ? (schedules[6].begin | date: 'H:mm') : '-' }}
            até {{ schedules[6].end ? (schedules[6].end | date: 'H:mm') : '-' }}</a>
        </td>
        <td>
          <label nz-checkbox [(ngModel)]="schedules[9].active" [ngModelOptions]="{standalone: true}"></label>
          <a (click)="scheduleChanged(9, $event)"> {{ schedules[9].begin ? (schedules[9].begin | date: 'H:mm') : '-' }}
            até {{ schedules[9].end ? (schedules[9].end | date: 'H:mm') : '-' }}</a>
        </td>
        <td>
          <label nz-checkbox [(ngModel)]="schedules[12].active" [ngModelOptions]="{standalone: true}"></label>
          <a (click)="scheduleChanged(12, $event)">
            {{ schedules[12].begin ? (schedules[12].begin | date: 'H:mm') : '-' }} até
            {{ schedules[12].end ? (schedules[12].end | date: 'H:mm') : '-' }}</a>
        </td>
        <td>
          <label nz-checkbox [(ngModel)]="schedules[15].active" [ngModelOptions]="{standalone: true}"></label>
          <a (click)="scheduleChanged(15, $event)">
            {{ schedules[15].begin ? (schedules[15].begin | date: 'H:mm') : '-' }} até
            {{ schedules[15].end ? (schedules[15].end | date: 'H:mm') : '-' }}</a>
        </td>
        <td>
          <label nz-checkbox [(ngModel)]="schedules[18].active" [ngModelOptions]="{standalone: true}"></label>
          <a (click)="scheduleChanged(18, $event)">
            {{ schedules[18].begin ? (schedules[18].begin | date: 'H:mm') : '-' }} até
            {{ schedules[18].end ? (schedules[18].end | date: 'H:mm') : '-' }}</a>
        </td>
        <td>
          <label nz-checkbox [(ngModel)]="schedules[21].active" [ngModelOptions]="{standalone: true}"></label>
          <a (click)="scheduleChanged(21, $event)">
            {{ schedules[21].begin ? (schedules[21].begin | date: 'H:mm') : '-' }} até
            {{ schedules[21].end ? (schedules[21].end | date: 'H:mm') : '-' }}</a>
        </td>
      </tr>
    </table>
    <nz-form-item style="padding-top: 20px;">
      <label nz-checkbox formControlName="holydays_availability">Feriados</label>
    </nz-form-item>
    <nz-divider></nz-divider>
    <div nz-row style="padding-bottom: 10px;">
      <label class="title">Requisitos de admissão e preferências</label>
    </div>
    <ng-container formArrayName="translations">
      <nz-tabset  #translationTabs3>
        <nz-tab *ngFor="let translation of translations.controls; let i = index;"
          [nzTitle]="getLanguageName(translation.value.language_id)">
          <ng-container [formGroupName]="i">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="selection_criteria">Critérios de seleção</nz-form-label>
              <nz-form-control>
                <textarea maxlength="255" nz-input rows="6" formControlName="selection_criteria" id="selection_criteria"
                  name="selection_criteria"></textarea>
                  <nz-form-explain class="color-required"
                  *ngIf="submitted && experienceForm.get('translations.' + i + '.selection_criteria')?.errors">
                  Campo obrigatório
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
            <nz-divider></nz-divider>
            <div nz-row style="padding-bottom: 10px;">
              <label class="title">Perfil do candidato</label>
            </div>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="applicant_profile">Perfil candidato</nz-form-label>
              <nz-form-control>
                <textarea maxlength="255" nz-input rows="6" formControlName="applicant_profile" id="applicant_profile"
                  name="applicant_profile"></textarea>
                  <nz-form-explain class="color-required"
                  *ngIf="submitted && experienceForm.get('translations.' + i + '.applicant_profile')?.errors">
                  Campo obrigatório
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </ng-container>
        </nz-tab>
      </nz-tabset>
    </ng-container>

  </form>
</div>

<div class="space" nz-row>
  <button *ngIf="idToUpdate" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="experienceLoading" [disabled]="experienceLoading"
    (click)="submit(experienceForm.valid, experienceForm.value)" [nzType]="'primary'">{{idToUpdate ? 'Editar' :
    'Criar'}}</button>
</div>



<nz-modal [(nzVisible)]="isScheduleModalVisible" nzTitle="Horario" (nzOnCancel)="handleScheduleModalCancel()"
  (nzOnOk)="handleScheduleModalOk()">
  <div>
    Inicio:
    <nz-time-picker [(ngModel)]="scheduleModalBegin" name="scheduleModalBegin">
    </nz-time-picker>
    Fim:
    <nz-time-picker [(ngModel)]="scheduleModalEnd" name="scheduleModalEnd">
    </nz-time-picker>
  </div>
</nz-modal>