.content {
    padding: 24px;
    background-color: white;

    .subtitle {
        font-weight: bold;
    }
}

.title {
    font-size: 17px;
    font-weight: 400;
}

.color-required{
    color: red;
} 

.space{
    background-color: #F2F2F2;
    padding-top:20px;
    padding-bottom: 20px;
    text-align: right
}
  

.actions {
    text-align : right;
    padding-top: 42px;

    button:first-child {
        margin-right: 24px;
    }

}

.schedules {
    width: 100%;
}

.schedule_title {
    color:black;
}