<div class="container">
  <nz-table class="content-table" #refTable [nzScroll]="{ x: '240px' }" [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
          [nzSortKey]="column.sortKey ? column.sortKey : column.key"> {{ column.label }}</th>
        <th nzRight="0px" *ngIf="('current_account:document_types:update' | hasPermission)">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">

        <tr>
          <td *ngFor="let column of columns">
            <span *ngIf="!column.tag && column.key!='active'">
              {{ column.translation ? (data.translations | where: ['language_id', 3] )[0][column.key] : (data |
              flatObject)[column.key]}}
            </span>
            <span *ngIf="!column.tag && column.key=='active'">
              {{ data[column.key] ? 'Ativo' : 'Inativo' }}
            </span>
            <span *ngIf="column.tag">
              <fi-sas-tag [value]="data[column.key]" [results]="column.tag"></fi-sas-tag>
            </span>
          </td>
          <td nzRight="0px" *ngIf="('current_account:document_types:update' | hasPermission)">
            <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
              nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item [routerLink]="['/financial', 'configurations', 'documents', 'edit', data.id]">Editar
                </li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>

      </ng-template>
    </tbody>
  </nz-table>
</div>