<div nz-row class="user-header" nzType="flex" nzJustify="end" nzAlign="center">
  <!------------------------CURRENT ACCOUNT-------------------->
  <app-layout-current-account
    *ngIf="
      userModel != null && ('current_account:movements:read' | hasPermission)
    "
  ></app-layout-current-account>
  <!------------------------SHOPPING CART-------------------->
  <app-shopping-cart
    *ngIf="userModel != null && ('payments:cart' | hasPermission)"
  ></app-shopping-cart>
  <!------------------------REPORTS------------------------->
  <app-layout-reports *ngIf="userModel != null"></app-layout-reports>
  <!------------------------NOFITICATIONS------------------------->
  <app-layout-notifications
    *ngIf="userModel != null"
  ></app-layout-notifications>
  <!---------------------------------USER----------------------->
  <button
    nz-button
    nz-dropdown
    nzType="link"
    [routerLink]="['/auth', 'login']"
    *ngIf="!userModel"
  >
    <nz-avatar nzIcon="icons:icons-account" class="avatar"></nz-avatar>
    <span class="user-header___name">{{ userModel ? nameUser : "Login" }}</span>
  </button>
  <nz-dropdown
    [nzTrigger]="'click'"
    [nzPlacement]="'bottomRight'"
    *ngIf="userModel"
  >
    <button nz-button nz-dropdown nzType="link">
      <nz-avatar nzIcon="icons:icons-account" class="avatar"></nz-avatar>
      <span class="user-header___name">{{
        userModel ? nameUser : "Login"
      }}</span>
    </button>
    <ul nz-menu class="user-info">
      <li nz-menu-item>
        <div nz-row nzType="flex" nzJustify="end">
          <div nz-col [nzSpan]="6">
            <nz-avatar
              nzIcon="icons:icons-account"
              nzSize="large"
              class="avatar"
            ></nz-avatar>
          </div>

          <div nz-col [nzSpan]="18">
            <div nz-row class="user-info___name">
              <div nz-col [nzSpan]="24">
                {{ nameUser }}
              </div>
            </div>

            <div nz-row class="user-info___email">
              <div nz-col [nzSpan]="24">
                {{ userModel?.email }}
              </div>
            </div>
          </div>
        </div>
      </li>
      <li nz-menu-divider *ngIf="'alimentation:menu' | hasPermission"></li>
      <li nz-menu-item *ngIf="'alimentation:menu' | hasPermission">
        <a [routerLink]="['/alimentation/user-allergens']">{{
          "ALIMENTATION.USER_ALLERGENS.FOOD_ALLERGIES" | translate
        }}</a>
      </li>
      <li nz-menu-divider *ngIf="'alimentation:menu' | hasPermission"></li>
      <li nz-menu-item>
        <a [routerLink]="['/profile']">{{ "CORE.PROFILE" | translate }}</a>
      </li>
      <li nz-menu-divider *ngIf="showQrCodeLink"></li>
      <li nz-menu-item (click)="qrcode()" *ngIf="showQrCodeLink">
        {{ "QRCODE.TITLE" | translate }}
      </li>
      <li nz-menu-divider></li>
      <li nz-menu-item (click)="logout()">{{ "CORE.LOGOUT" | translate }}</li>
    </ul>
  </nz-dropdown>
</div>
