@import 'theme';

.user-header {
  position: relative;
  right: 15px;
  div {
    width: auto;
  }
  &___name {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    margin-left: 7px;
    margin-right: 10px;
    color: #222222;
  }
  @media screen and (max-width: 767px) {
    &___name {
      display: none;
    }
  }
  button {
    height: auto;
    padding: 2px;
  }
  button:hover {
    border-radius: 15px;
    background-color: #f3f3f3;
  }
  button:focus {
    border-radius: 15px;
    background-color: #f3f3f3;
  }
}

:host::ng-deep {

  .header-icon {
     svg {
       path {
         fill: var(--primary-9);
       }
     }
  }

  .avatar {
    i {
      svg {
        path {
          fill: var(--primary-9);
        }
      }
    }
  }

}


.avatar {

  vertical-align: middle;
  color: black;
  background: white;
  font-size: 24px;

}

.user-info {
  width: 270px;
  border-radius: 2px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  font-stretch: normal;
  li:first-of-type {
    pointer-events: none;
    cursor: default;
  }
  &___name {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.13;
    letter-spacing: -0.4px;
    color: #333333;
    overflow: hidden;
  }

  &___email {
    font-weight: normal;
    line-height: 1.38;
    letter-spacing: -0px;
    color: black;
    font-size: 12px;
  }

  &___balance {
    line-height: 1.8;
    color: #333333;
    margin-top: 5%;
    &___account {
      font-weight: normal;
    }

    &___value {
      font-weight: bold;
      color: black;
    }
  }
}


