<div class="content--padding white">
    <form nz-form [formGroup]="formCreate">
        <div nz-row>
            <div nz-col [nzSpan]="11">
                <nz-form-item>
                    <nz-form-label nzRequired>Nome</nz-form-label>
                    <nz-form-control>
                        <input formControlName="name" nz-input type="text">
                        <nz-form-explain class="color-required" *ngIf="submitted && f.name.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="2">
            </div>
            <div nz-col [nzSpan]="11">
                <nz-form-item>
                    <nz-form-label nzRequired>Acrónimo</nz-form-label>
                    <nz-form-control>
                        <input formControlName="acronym" nz-input type="text" maxlength="2">
                        <nz-form-explain class="color-required" *ngIf="submitted && f.acronym.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="10">
                <nz-form-item>
                    <nz-form-label nzRequired>Ativo</nz-form-label>
                    <nz-form-control>
                        <nz-switch formControlName="active">
                        </nz-switch>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        
    </form>
</div>


<div class="space" nz-row>
    <button *ngIf="isEdit" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
    <button nz-button [nzLoading]="isLoading" [disabled]="isLoading"
      (click)="submit()" class="button-submit"
      [nzType]="'primary'">{{isEdit ? 'Editar' : 'Criar'}}</button>
</div>