<div nz-row>

  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
    <h2 class="title-top-page">
      {{'ACCOMMODATION.CHANGE_REQUESTS.MAINTENANCE_REQUEST' | translate}}
    </h2>
    <div nz-row>
      <div nz-col>
        <div class="form_information">
          <form nz-form [formGroup]="applicationMaintenanceForm">
            <div nz-row>
              <nz-form-item>
                <nz-form-label nzRequired nzFor="local">
                  <b>{{ "ACCOMMODATION.CHANGE_REQUESTS.LOCAL" | translate }}</b>
                </nz-form-label>
                <nz-form-control>
                  <input class="primary-input" formControlName="local" nz-input id="local"
                    [ngClass]="{ 'error__input':  submitted && f.local.errors, 'disabled-input': consult?true:false }" />
                </nz-form-control>
                <nz-form-explain class="error" *ngIf="submitted && f.local.errors?.required">
                  {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                </nz-form-explain>
                <nz-form-explain class="error" *ngIf="submitted && f.local.errors?.maxlength">
                  {{ 'FORM_INPUTS.VALIDATIONS.MAX_LENGTH' | translate }} {{f.local.errors.maxlength.requiredLength}}
                </nz-form-explain>
              </nz-form-item>
            </div>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="description">
                <b>{{ "ACCOMMODATION.CHANGE_REQUESTS.DESCRIPTION" | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <input class="primary-input" formControlName="description" nz-input id="description"
                  [ngClass]="{ 'error__input':  submitted && f.description.errors,  'disabled-input': consult?true:false }" />
              </nz-form-control>
              <nz-form-explain class="error" *ngIf="submitted && f.description.errors?.required">
                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
              </nz-form-explain>
              <nz-form-explain class="error" *ngIf="submitted && f.description.errors?.maxlength">
                {{ 'FORM_INPUTS.VALIDATIONS.MAX_LENGTH' | translate }} {{f.description.errors.maxlength.requiredLength}}
              </nz-form-explain>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzFor="file_id">
                <b>{{ "CONTRACT_ACTIONS.ATTACHMENT" | translate
                  }}</b>
              </nz-form-label>
              <div class="desc-title-form" *ngIf="!consult">
                {{ 'U_BIKE.FORMS.FILES.DESCRIPTION' | translate }}
              </div>
              <nz-form-control>
                <app-file-upload *ngIf="!consult" formControlName="file_id" [filterTypes]="filterTypes" (fileDeleted)="f.file_id.setValue(null)">
                </app-file-upload>
                <div class="font-upload">
                  {{ 'MISC.FORMAT_UPLOAD_MORE' | translate }} pdf, png, jpg. {{ 'MISC.LIMIT_MAX_FILE' | translate }}
                </div>
              </nz-form-control>
              <div *ngIf="consult && file">
                <div *ngIf="file?.type == 'IMAGE'">
                  <a target="_blank" [href]="file?.url">
                    <img [src]="file?.url" width="100px">
                  </a>
                </div>
                <div *ngIf="file?.type != 'IMAGE'">
                  <a target="_blank" [href]="file?.url">
                    <img src="/assets/imgs/doc.PNG" width="100px">
                  </a>
                </div>
              </div>
              <div *ngIf="consult && !file">
                -
              </div>
            </nz-form-item>

            <div nz-row class="submit">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <app-button (click)="close()" style="margin-right: 15px;"
                  [translate]="!consult?'MISC.CANCEL':'MISC.RETURN'" [type]="'secundary'"></app-button>
                <app-button *ngIf="!consult" [loading]="isLoading" (click)="onSubmit()" [translate]="'MISC.SUBMIT'">
                </app-button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>