<div class="content--padding white">
    <nz-list nzBordered>
        <nz-list-item *ngFor="let language of languages;let i=index;">
          <div nz-row nzJustify="space-around" style="width: 100%;">
            <div nz-col nzSpan="6"> <span><b>Posição:</b></span> {{ i+1 }}</div>
            <div nz-col nzSpan="6"><span><b>Nome:</b></span> {{ language.name }}</div>
            <div nz-col nzSpan="6"><span><b>Acrónimo:</b> </span> {{ language.acronym }}</div>
            <div nz-col nzSpan="6" nzJustify="center">
              <button *ngIf="i!=0" nz-button nzType="default" (click)="goUp(i)"><i nz-icon nzType="up"
                  nzTheme="outline"></i></button>
              <button *ngIf="i!=languages.length-1" nz-button nzType="default" (click)="goDown(i)"><i nz-icon nzType="down"
                  nzTheme="outline"></i></button>
            </div>
          </div>
      
        </nz-list-item>
      </nz-list>
</div>


<div class="space" nz-row>
    <button nz-button [nzLoading]="isLoading" [disabled]="isLoading"
      (click)="submit()" class="button-submit"
      [nzType]="'primary'">Editar</button>
</div>