@import 'default-theme.less';

:host::ng-deep {

  input {
    width: 250px;
    height: 78px;
    border-radius: 6px;
    border: solid 1px #e8e8e8;
    background-color: #ffffff;

    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333333;
  }

  .cart-tin {
    width : 100%;
    height: 1602px;

    &__header {
      height    : 606px;
      background: var(--fisas-06);
      padding-left: 118px;
      padding-top: 342px;

      &__title {
        width: 844px;
        height: 78px;
        font-family: Montserrat;
        font-size: 72px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.08;
        letter-spacing: -1.78px;
        color: #ffffff;
      }

      &__subtitle {
          width: 844px;
          height: 120px;
          font-family: Montserrat;
          font-size: 48px;
          font-weight: 200;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.25;
          letter-spacing: -1.18px;
          color: #ffffff;   
      }
    }

    &__content {
      padding-left: 118px;
      padding-top: 54px;

      &__input {
        &__label {
          width: 240px;
          height: 24px;
          font-family: Montserrat;
          font-size: 18px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          letter-spacing: normal;
          color: #333333;
          margin-bottom: 24px;
        }

        &__field {
          width: 250px;
        }
      }

      &__invoice-question {
        margin-top: 72px;
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 200;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #5c5c5c;
      }
    }

    &__options {
      display: inline-flex;
      margin-bottom: 18px;

      &__option {
        display: inline-flex;
        align-items: center;

        margin-right: 24px;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #333333;
        padding: 10px 18px;
        border-radius: 30px;
        border: solid 2px #e8e8e8;
        background-color: #ffffff;

        &__text {
          
        }

        &--checked {
          font-family: Montserrat;
          font-size: 16px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
          padding: 10px 18px;
          border-radius: 30px;
          border: solid 2px var(--fisas-01);
          background-color: var(--fisas-01);

          i {
            margin-right: 8px;
            font-size: 30px;
          }
        }
      }
    }
  }
}