<section class="cart-tin">
  <div class="cart-tin__header">
    <div class="cart-tin__header__title">{{ 'CART.TIN.TITLE' | translate }}</div>
    <div class="cart-tin__header__subtitle">{{ 'CART.TIN.SUBTITLE' | translate }}</div>
  </div>
  <div class="cart-tin__content">


    <div class="cart-tin__content__input__label">{{ 'CART.TIN.YOUR_TIN' | translate }}</div>
    <div class="cart-tin__content__input__field">
      <input fi-keyboard-input formControlName="username" nz-input placeholder="ex. 999999990">
    </div>

    <p class="cart-tin__content__invoice-question">{{ 'CART.TIN.INVOICE_DESTINY.TITLE' | translate }}</p>

    <div class="cart-tin__options">
      <div class="cart-tin__options__option" (click)="selectDestiny(InvoiceDestinyEnum.EMAIL)"
        [ngClass]="{ 'cart-tin__options__option--checked': invoiceDestiny === InvoiceDestinyEnum.EMAIL}">
        <i nz-icon nzType="icons:icons-radiobutton-checked-outline"
          *ngIf="invoiceDestiny === InvoiceDestinyEnum.EMAIL"></i>
        <div class="cart-tin__options__option__text">{{ 'CART.TIN.INVOICE_DESTINY.EMAIL' | translate }}</div>
      </div>
      <div class="cart-tin__options__option" (click)="selectDestiny(InvoiceDestinyEnum.BALCONY)"
        [ngClass]="{ 'cart-tin__options__option--checked': invoiceDestiny === InvoiceDestinyEnum.BALCONY}">
        <i nz-icon nzType="icons:icons-radiobutton-checked-outline"
          *ngIf="invoiceDestiny === InvoiceDestinyEnum.BALCONY"></i>
        <div class="cart-tin__options__option__text">{{ 'CART.TIN.INVOICE_DESTINY.BALCONY' | translate }}</div>
      </div>
    </div>

    <span  *ngIf="invoiceDestiny === InvoiceDestinyEnum.EMAIL">
      <div class="cart-tin__content__input__label">{{ 'CART.TIN.YOUR_EMAIL' | translate }}</div>
      <div class="cart-tin__content__input__field">
        <input fi-keyboard-input formControlName="email" nz-input placeholder="estudante@sasocial.pt" style="width: 40vw;">
      </div>
    </span>
  </div>
</section>
<fi-invoice-menu></fi-invoice-menu>
