<nz-tabset nzTabPosition="left">
  <nz-tab nzTitle="Descrição">
    <div nz-row nzJustify="start" class="padding-top-20">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <p class="detail-field">{{ specialty.description }}</p>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Regulamento">
    <div nz-row nzJustify="start" class="padding-top-20">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <p class="detail-field">{{ specialty.regulation }}</p>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Ficha Técnica">
    <div nz-row nzJustify="start" class="padding-top-20">
        <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
          <div class="title">Equipa clínica</div>
        </div>
        <div nz-col nzSpan="12">
          <div nz-col nzSm="4" nzMd="4" nzLg="6" nzXl="6" *ngFor="let doctor of specialty.doctors">
            <p class="detail-field">{{ doctor.user.name }}</p>
          </div>
        </div>
    </div>
    <div nz-row class="padding-top-30">
      <nz-divider></nz-divider>
    </div>
    <div nz-row nzJustify="start">
      <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
        <div class="title">Tempo médio de Atendimento</div>
      </div>
      <div nz-col nzSpan="12">
        <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
          <p class="detail-field">{{specialty.avarage_time}} min</p>
        </div>
      </div>
    </div>
    <div nz-row class="padding-top-30">
      <nz-divider></nz-divider>
    </div>
    <div nz-row nzJustify="start">
      <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
        <p class="title">Meios de prestação disponíveis</p>
      </div>
      <div nz-col nzSpan="12">
        <div nz-col nzSm="4" nzMd="4" nzLg="6" nzXl="6" *ngFor="let appointmentType of specialty.appointment_types">
          <p class="detail-field">{{validTranslateName(3,appointmentType?.translations)}}</p>
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Local">
    <div nz-row nzJustify="start" class="padding-top-20">
      <div nz-row >
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
            <p class="title">Telefone Geral</p>
          </div>
          <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
            <p class="detail-field"> {{ specialty.place.phone | mask:"000 000 000"}}</p>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
            <p class="title">Fax</p>
          </div>
          <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
            <p class="detail-field"> {{ specialty.place.fax | mask:"000 000 000"}}</p>
          </div>
        </div>
      </div>
      <div nz-row >
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
            <div class="title">Email</div>
          </div>
          <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
            <p class="detail-field">{{specialty.place.email}}</p>
          </div>
        </div>
      </div>
      <div nz-row >
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
            <div class="title">Morada</div>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <p class="detail-field">{{specialty.place.address}}, {{specialty.place.postal_code}} {{specialty.place.city}}</p>
          </div>
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Tabela de Preço">
    <div nz-row nzJustify="start" class="padding-top-20">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" >
        <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
          <p class="title">Tipo de Pagamento</p>
        </div>
        <div nz-col nzSpan="12">
          <fi-sas-tag [value]="specialty.payment_type" [results]="SpecialtyPaymentTypeTags"></fi-sas-tag>
        </div>
      </div>
      <div nz-row class="padding-top-20">
        <nz-divider></nz-divider>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" >
        <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
          <p lass="title">Tarifário</p>
        </div>
        <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
          <p lass="title">Preço</p>
        </div>
        <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
          <p lass="title">IVA</p>
        </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" *ngFor="let priceVariation of specialty.price_variations">
        <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
          <p class="detail-field">{{ priceVariation.tariffs[0].description }}</p>
        </div>
        <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
          <p class="detail-field">{{ priceVariation.price | number:'1.2-2' }} €</p>
        </div>
        <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
          <p class="detail-field">{{ (priceVariation.vat.name).replace("IVA","") }}</p>
        </div>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
      <div nz-row>
        <p class="title" style="margin-bottom: 0;">Informação</p>
      </div>
      <div nz-row>
        <div [innerHTML]="specialty.payment_information"></div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Checklist de diagnóstico">
    <div nz-row nzJustify="start" class="padding-top-20">
      <div nz-row *ngFor="let check of specialty.checklist">
        <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6" >
          <p class="title">{{ check.question }}</p>
        </div>
        <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6" >
          <fi-sas-tag [value]="check.answer_type" [results]="SpecialtyCheckListTypes"></fi-sas-tag>
        </div>
      </div>
    </div>
  </nz-tab>
</nz-tabset>
