@import 'theme';

.item {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    background-color: white;
    color: var(--primary-color);
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 
        inset 0 -3em 3em rgba(0,0,0,0.0), 0 0 0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.2);
    &:hover,
    &:focus {
        background-color: var(--primary-color) !important;
        color: white !important;
        box-shadow: none !important;
    }

}

.box {
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: stretch;
}

.padding-top {
    height: calc(100vh - 226px);
    background-color: #f0f2f5;
}