<StackLayout class="news-list">
  <fi-action-bar
    [actionBarType]="4"
    actionBarTitle="{{ 'news-list.title' | translate }}"
    actionBarBack="dashboard"
  ></fi-action-bar>

  <ScrollView row="0">
    <WrapLayout orientation="horizontal" class="fisas__content--min">
      <ng-container *ngFor="let item of news">
        <StackLayout
          class="news-list__block"
          [nsRouterLink]="['/news/detail/', item?.id]"
        >
          <GridLayout columns="*, auto">
            <!-- information -->
            <StackLayout verticalAlignment="top" class="news-list__block__text">
              <Label
                textWrap="true"
                class="fisas__p--light"
                text="{{ (item?.category?.translations)[0]?.name }}"
              ></Label>
              <!--               <Label
                textWrap="true"
                class="news-list__date"
                text="{{ item?.date | date: 'dd MMM yyyy':'UTC+0':locale }}"
              ></Label> -->
              <Label
                textWrap="true"
                class="fisas__p--label"
                text="{{ (item?.translations)[0]?.title }}"
              ></Label>
            </StackLayout>
            <!-- image -->
            <StackLayout col="1" class="news-list__img">
              <Image
                class="news-list__img"
                *ngIf="(item?.translations)[0]?.file_16_9?.url"
                src="{{ (item?.translations)[0]?.file_16_9?.url }}"
                stretch="aspectFill"
                loadMode="async"
              ></Image>
            </StackLayout>
          </GridLayout>
        </StackLayout>
      </ng-container>

      <StackLayout
        marginTop="50"
        width="100%"
        class="fisas__vertical-down"
        *ngIf="
          !isLoading && offset + limit < total && offset + limit < maxTotalLimit
        "
      >
        <GridLayout
          horizontalAlignment="center"
          class="news-list__more"
          columns="auto, *"
          (tap)="getNews()"
        >
          <Label
            marginRight="10"
            text="{{ 'news-list.see_more' | translate }}"
          ></Label>
          <Label
            textAlignment="center"
            col="1"
            marginRight="10"
            class="fisas__icon--fa"
            text="&#xf067;"
          ></Label>
        </GridLayout>
      </StackLayout>
    </WrapLayout>
  </ScrollView>
</StackLayout>
