@import "~/scss/_variables";

.news-list {
  /* ----------------------- */
  /* Common */

  .fisas {
    &__p--light {
      margin-bottom: 6;
      text-transform: uppercase;
    }
  }

  /* ----------------------- */
  /* Component */

  &__block {
    margin-bottom: 36;

    &__text {
      padding-right: 15;
    }
  }

  &__date {
    font-family: "Montserrat", "Montserrat-Light";
    font-weight: 300;
    font-size: 10;
    color: $black;
    margin-bottom: 10;
  }

  &__img {
    background: #e8e8e8;
    width: 90;
    height: 90;
    border-radius: 3;
  }

  &__more {
    font-family: "Montserrat", "Montserrat-Medium";
    font-weight: 500;
    font-size: 12;
    color: $black;
    border-radius: 50;
    border-color: $black;
    padding: 10 15;
    border-width: 1;
  }
}
