<div class="container">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
      <div nz-row>
        <nz-form-label>Nome</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input [(ngModel)]="filters.search">
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
      <div nz-row class="padding-bottom-5">
        <nz-form-label>Estado</nz-form-label>
      </div>
      <div nz-row>
        <nz-form-control>
          <nz-select class="primary-select" [(ngModel)]="filters.active" nzAllowClear nzShowSearch style="width: 100%;">
            <nz-option *ngFor="let state of status" [nzLabel]="state.description" [nzValue]="state.value">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
      <div nz-row class="padding-bottom-5">
        <nz-form-label>Residência</nz-form-label>
      </div>
      <div nz-row>
        <nz-form-control>
          <nz-select [(ngModel)]="filters.residence_id" [nzLoading]="load_residences" nzAllowClear style="width: 100%;">
            <nz-option *ngFor="let residence of residences" [nzLabel]="residence.name" [nzValue]="residence.id">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>

    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>

  </div>
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
      <div nz-row class="padding-bottom-5">
        <nz-form-label>Tipologia</nz-form-label>
      </div>
      <div nz-row>
        <nz-form-control>
          <nz-select [(ngModel)]="filters.typology_id" [nzLoading]="load_typologies" nzAllowClear style="width: 100%;">
            <nz-option *ngFor="let typology of typologies"
              [nzLabel]="(typology.translations | translation: language_id).name" [nzValue]="typology.id">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>

    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
      <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
      style="text-align: left;">
      <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
    </div>
  </div>
</div>
<div class="container">
  <nz-table [nzScroll]="{ x: '240px' }" class="content-table" #refTable [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
          [nzSortKey]="column.sortKey ? column.sortKey : column.key"> {{ column.label }}</th>
        <th nzRight="0px"
          *ngIf="('accommodation:rooms:create' | hasPermission) || ('accommodation:rooms:delete' | hasPermission)">Ações
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">

        <tr>
          <td *ngFor="let column of columns">
            <span *ngIf="!column.tag && !column.template">
              {{ column.translation ? ((data | flatObject)[column.key + '.translations'] | where: ['language_id', 3]
              )[0][column.key] : (data | flatObject)[column.key]}}
            </span>
            <span *ngIf="column.template">
              {{ column.template(data) }}
            </span>
            <span *ngIf="column.tag">
              <fi-sas-tag [value]="data[column.key]" [results]="column.tag"></fi-sas-tag>
            </span>
          </td>
          <td nzRight="0px"
            *ngIf="('accommodation:rooms:create' | hasPermission) || ('accommodation:rooms:delete' | hasPermission)">
            <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
              nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li *ngIf="'accommodation:rooms:create' | hasPermission" nz-menu-item
                  [routerLink]="['/accommodation', 'rooms', 'edit', data.id]">Editar</li>
                <li *ngIf="'accommodation:rooms:delete' | hasPermission" nz-menu-item (click)="deleteRoom(data.id)">
                  Eliminar</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>

      </ng-template>
    </tbody>
  </nz-table>
</div>