<div nzType="flex" nzAlign="middle" nzJustify="center" perfectScrollbar class="page ps">
  <div nz-row class="page__body">
    <div nz-col>
      <p><span class="color-required">*</span> Selecione um serviço:</p>
      <nz-select nzShowSearch nzPlaceHolder="Selecione um serviço" class="width-select" [(ngModel)]="selectedService"
        (ngModelChange)="selectServices()">
        <nz-option *ngFor="let option of servicesList" [nzLabel]="(option.translations | translation)?.description"
          [nzValue]="option">
        </nz-option>
      </nz-select>
      <nz-form-explain class="color-required" *ngIf="submitted && selectedService == undefined">
        Campo obrigatório
      </nz-form-explain>

    </div>
    <div nz-col style="padding-top:20px;">
      <p><span class="color-required">*</span> Selecione uma linguagem:</p>
      <nz-select nzShowSearch nzPlaceHolder="Selecione uma linguagem" class="width-select"
        [(ngModel)]="selectedLanguage" (ngModelChange)="selectLanguages()">
        <nz-option *ngFor="let language of languages" [nzLabel]="language.name" [nzValue]="language.id">
        </nz-option>
      </nz-select>
    </div>
    <div style="padding-top:40px;">
      <angular-editor [(ngModel)]="modalText" id="editor1" [config]="editorConfig"></angular-editor>
      <div nz-row [nzAlign]="'middle'" style="padding-top:20px;">
        <div nz-col nzSpan="20">
          <h3>Ficheiros</h3>
        </div>
      </div>
      <ng-container *ngFor="let file of files">
        <div nz-row [nzAlign]="'middle'">
          <div nz-col nzSpan="20">
            <b>URL:</b> <span nz-typography nzCopyable [nzContent]="file.url">{{file.url}}</span>
          </div>
          <div nz-col nzSpan="4"> <button nz-button nzType="danger" (click)="deleteFile(file.id)"><i nz-icon
                nzType="delete"></i></button></div>
        </div>
        <nz-divider></nz-divider>
      </ng-container>
      <nz-upload [nzCustomRequest]="uploadFile" [nzShowUploadList]="false">
        <button nz-button><i nz-icon nzType="upload"></i><span> Upload
            ficheiro</span></button>
      </nz-upload>

    </div>
  </div>
</div>

<div nz-row class="space-button">
  <button nz-button *ngIf="textInitWithText" (click)="edit()" [nzType]="'primary'" style="margin-top:15px;">
    Editar
  </button>
  <button nz-button *ngIf="!textInitWithText" (click)="save()" [nzType]="'primary'" style="margin-top:15px;">
    Criar
  </button>
</div>
