<div class="container">
  <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">

      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">
        <div style="margin-top: 10px;"><b style="font-size: 18px;">{{data.profile.name }} / {{ticket_types[data.ticket_type] }}</b>
          <span style="margin-left: 5px;" nz-tooltip nzTitle="Eliminar Tabela">
            <button nz-button [disabled]="!('bus:price_tables:delete' | hasPermission)" [nzType]="'danger'"
              (click)="deletePriceTable(data.id)"><i nz-icon type="delete"></i></button>
          </span>

        </div>
        <tr>
          <td *ngFor="let price of data.prices" style="text-align: center">
            <div nz-row>
              <span><b>{{price.description }}</b></span>
            </div>
            <span *ngIf="editPrice !== price.id">{{price.value}} €</span>
            <span *ngIf="editPrice === price.id">
              <nz-input-number [(ngModel)]="editPriceValue" [nzMin]="0.00" [nzStep]="0.01"></nz-input-number>
            </span>
            <button nz-button (click)="changeHour(price.id, price.value)" nzType="dashed"><i nz-icon
                type="edit"></i></button>
            <button *ngIf="editPrice === price.id" nz-button nzType="dashed" (click)="savePrice(price)"><i nz-icon
                type="save"></i> </button>
          </td>
        </tr>
      </ng-template>

    </tbody>
  </nz-table>
</div>
<div class="space" nz-row>
  <button nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button *ngIf="data.length==0" nz-button (click)="form()"
    [nzType]="'primary'">Adicionar preços</button>
</div>
