<div nz-row>
  <div nz-col [nzSm]="20" [nzXs]="24">
    <h2 class="title-top-page">
      {{ "EMERGENCY_FUND.LIST_APPLICATIONS.CARD.BUTTON.COMPLAIN" | translate }}
    </h2>
    {{ "EMERGENCY_FUND.LIST_APPLICATIONS.CARD.COMPLAIN_INFO" | translate }}
  </div>

  <div nz-col [nzSm]="20" [nzXs]="24">
    <form nz-form [formGroup]="aplicationForm" class="content__group">
      <nz-form-item>
        <nz-form-label nzRequired  nzFor="observations">
          <span class="content__title">
            <b>{{ "EMERGENCY_FUND.LIST_APPLICATIONS.REASON" | translate }}</b>
          </span>
        </nz-form-label>

        <nz-form-control>
          <textarea class="primary-textarea" rows="6" nz-input formControlName="reason" id="reason" placeholder="{{ 'EMERGENCY_FUND.LIST_APPLICATIONS.REASON_PLACEHOLDER' | translate }}">

          </textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label documents  nzFor="income_statement_files_ids">
          <span class="content__title">
            <b>{{ "EMERGENCY_FUND.LIST_APPLICATIONS.ATTACHMENT" | translate }}</b>
          </span>
        </nz-form-label>
        <nz-form-control>
          <app-file-upload formControlName="attachment" [listType]="'picture-card'" [filterTypes]="filterFileTypes" 
              [multiUploads]="false" [buttonName]=" 'EMERGENCY_FUND.LIST_APPLICATIONS.ATTACHMENT_PLACEHOLDER'" >
          </app-file-upload>
        </nz-form-control>

      </nz-form-item>

      <app-button [translate]="'EMERGENCY_FUND.LIST_APPLICATIONS.SUBMIT'" [type]="'primary'" (click)="submitForm()" >
      </app-button>
    </form>
  </div>
</div>
