@import 'default-theme.less';

:host::ng-deep {

  display: block;
  position: relative;

  width: 100%;
  height: 100%;

  .list-total {
    height: 1000px;
  }

  .places {

    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }

    fi-context-title {
      margin-bottom: 64px;
    }

    &__banner {
      img {
        width: 100%;
        height: 378px;
        object-fit: cover;
      }
    }


    &__switch {
      margin-top: 10px;
      text-align: center;
    }

    &__title {
      .font-family(96px, 900);
      color: var(--fisas-03);
      letter-spacing: -2.37px;
      line-height: 108px;
      margin-top: 25px;
    }

    &__origin-title,
    &__destiny-title {
      color: var(--fisas-03);
      margin-bottom: 10px;
      margin-left: 16px;
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: normal;
      text-transform: uppercase;
    }

    &__destiny-title {
      color: @fisas-red-04;
    }

    &__list-title {
      color: var(--fisas-03);
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    &__list {
      margin: 40px 0 0 16px;
      padding: 0;
      list-style: none;
    }

    &__list-item {
      .font-family(16px, 400);
      color: var(--fisas-09);
      line-height: 24px;
      margin-bottom: 18px;

      a {
        display: flex;
        align-items: center;
        color: var(--fisas-09);

        span {
          height: 30px;
          margin-right: 12px;
        }
      }
    }

    &__origin {
      svg-icon {
        color: @fisas-green-check;
      }
    }

    &__destiny {
      svg-icon {
        color: @fisas-red-04;
      }
    }

    &__selection {
      .font-family(18px, 700);
      font-weight: 400;
      border-top: 3px solid @fisas-grey-03;
      border-bottom: 3px solid @fisas-grey-03;
      padding: 12px 16px;
      margin: 0;
      text-transform: capitalize;

      &.active {
        font-weight: 700;
      }

    }

    &__search {

      margin-bottom: 48px;

      .ant-input-affix-wrapper .ant-input-prefix :not(.anticon),
      .ant-input-affix-wrapper .ant-input-suffix :not(.anticon) {
        line-height: 0;
      }

      label {
        .font-family(18px, 700);
        color: var(--fisas-03);
        line-height: 24px;
        margin-top: 45px;
        display: block;
      }

      input {
        width: 80%;
        height: 48px;
        .font-family(16px, 400);
        line-height: 24px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 40px !important;
        border-radius: 6px;
        text-transform: capitalize;
        border: 2px solid @fisas-grey-03;
        color: @fisas-grey-09;
      }

      i {
        line-height: 0.5 !important;
      }
    }

    &__margin {
      height: 250px;
      width: 100%;
    }

    /* schedules */
    &__schedules {
      position: absolute;
      cursor: pointer;
      width: 100%;
      margin: 40px 0 0 0;
      left: 0;
      bottom: 110px;
    }

    &__view-schedules {
      display: flex;
      width: 100%;
      height: 84px;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      padding: 0 26px;
      border-radius: 42px;
      box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.3);
      color: @fisas-grey-01;
      background-color: var(--fisas-01);

      .ant-btn > i, .ant-btn > span {
        vertical-align: middle;
      }
      button {
        height: 48px;
        padding-left: 8px;
        padding-right: 24px;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: @fisas-grey-01;
        font-size: 22px;

        &:hover {
          border-color: none;
        }
      }
    }

    &__view-schedules-label {
      flex: 1;
      padding: 0 5px;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
    }

    &__view-schedules-button {
      flex: auto;
      text-align: right;
    }
  }
}
