<div class="places">

  <!-- banner -->
  <section class="places__banner">
    <img
      src="https://images.unsplash.com/photo-1514954286145-20b13ea8c01b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e8ea28b353d3acca701d55f6a194f84b&auto=format&fit=crop&w=1080&q=80" />
  </section>

  <!-- title -->
  <fi-context-title [bottomBorder]="false" title="{{ 'MOBILITY.ROUTES.PLACES.TITLE' | translate }}"></fi-context-title>

  <perfect-scrollbar class="list-total">
    <div nz-row>
      <div nz-col nzSpan="1"></div>
      <div nz-col nzSpan="18">
        <div nz-row>

          <!-- origins -->
          <div nz-col nzSpan="8">

            <h4 class="places__origin-title">
              {{ 'MOBILITY.ROUTES.PLACES.ORIGIN_TITLE' | translate }}
            </h4>
            <h2 [ngClass]="{'active': (selectedOrigin && selectedOrigin.local)}" class="places__selection">
              {{
              (selectedOrigin && selectedOrigin.local)
              ? selectedOrigin.local
              : ('MOBILITY.ROUTES.PLACES.SELECT_ORIGIN' | translate)
              }}
            </h2>

            <!-- origins places -->
            <ul class="places__list">

              <!-- - search input - -->
              <div class="places__search" >
                <label for="search" class="places__list-title">
                  {{ 'MOBILITY.ROUTES.PLACES.SEARCH_PLACEHOLDER_ORIGIN' | translate }}
                </label>
                <input fi-keyboard-input-all id="searchOrigin" type="text" nz-input
                    placeholder="{{'MOBILITY.ROUTES.PLACES.SEARCH_PLACEHOLDER_ORIGIN'|translate}}"
                    [formControl]="inputSearchOrigin" />
                  <i nz-icon style="padding-left: 10px;">
                    <svg-icon src="assets/icons/icons-search.svg" (click)="setValueInputSearchOrigin()" [svgStyle]="{ 'width.px': 24, 'height.px': 24 }">
                    </svg-icon>
                  </i>
              </div>

              <!-- origins places 
              <li class="places__list-title">
                {{ 'MOBILITY.ROUTES.PLACES.LIST_TITLE' | translate }}
              </li>-->
              <li *ngFor="let origin of originPlaces" class="places__list-item">
                <a class="places__origin" role="button" (click)="handlerOrigin(origin)">
                  <span>{{ origin.local }}</span>
                  <svg-icon *ngIf="
                      origin &&
                      selectedOrigin &&
                      origin.id === selectedOrigin.id
                    " src="assets/icons/icons-radiobutton-checked-outline.svg"
                    [svgStyle]="{ 'width.px': 24, 'height.px': 24 }"></svg-icon>
                </a>
              </li>
            </ul>

          </div>

          <!-- switch -->
          <div nz-col nzSpan="4" class="places__switch">
            <a (click)="handlerSwap()" role="button">
              <svg-icon src="assets/icons/icons-switch-spots.svg" [svgStyle]="{ 'width.px': 110, 'height.px': 110 }">
              </svg-icon>
            </a>
          </div>

          <!-- destinies -->
          <div nz-col nzSpan="8">
            <h4 class="places__destiny-title">
              {{ 'MOBILITY.ROUTES.PLACES.DESTINY_TITLE' | translate }}
            </h4>
            <h2 [ngClass]="{'active': (selectedDestiny && selectedDestiny.local)}" class="places__selection">
              {{
              (selectedDestiny && selectedDestiny.local)
              ? selectedDestiny.local
              : ('MOBILITY.ROUTES.PLACES.SELECT_DESTINY' | translate)
              }}
            </h2>

            <!-- destinies places -->
            <ul class="places__list">

              <!-- - search input - -->
              <div class="places__search">
                <label for="search" class="places__list-title">
                  {{ 'MOBILITY.ROUTES.PLACES.SEARCH_PLACEHOLDER_DESTINY' | translate }}
                </label>
                  <input fi-keyboard-input-all id="searchDestiny" type="text" nz-input
                    placeholder="{{'MOBILITY.ROUTES.PLACES.SEARCH_PLACEHOLDER_DESTINY'|translate}}"
                    [formControl]="inputSearchDestiny" />
                    <i nz-icon style="padding-left: 10px;">
                      <svg-icon src="assets/icons/icons-search.svg" (click)="setValueInputSearchDestiny()" [svgStyle]="{ 'width.px': 24, 'height.px': 24 }">
                      </svg-icon>
                    </i>
              </div>

              <!-- destinies places 
              <li class="places__list-title">
                {{ 'MOBILITY.ROUTES.PLACES.LIST_TITLE' | translate }}
              </li>-->
              <li *ngFor="let destiny of destinyPlaces" class="places__list-item">
                <a class="places__destiny" role="button" (click)="handlerDestiny(destiny)">
                  <span>{{ destiny.local }}</span>
                  <svg-icon *ngIf="
                      destiny &&
                      selectedDestiny &&
                      destiny.id === selectedDestiny.id
                    " src="assets/icons/icons-radiobutton-checked-outline.svg"
                    [svgStyle]="{ 'width.px': 24, 'height.px': 24 }"></svg-icon>
                </a>
              </li>
            </ul>

          </div>

        </div>
      </div>
      <div nz-col nzSpan="1"></div>
    </div>
    <div class="places__margin"></div>

    <!-- view schedules -->
    <div [routerLink]="['/mobility/routes']" [queryParams]="{
      origin: (selectedOrigin.id ? selectedOrigin.id : selectedOrigin.local),
      destiny: (selectedDestiny.id ? selectedDestiny.id : selectedDestiny.local)
    }" *ngIf="selectedOrigin && selectedDestiny" class="places__schedules">
      <div nz-row>
        <div nz-col nzSpan="6"></div>
        <div nz-col nzSpan="8">
          <div class="places__view-schedules">
            <!-- button -->
            <button nz-button [nzGhost]="true">
              <i nz-icon>
                <svg-icon src="assets/icons/icons-pending.svg" [svgStyle]="{ 'width.px': 30, 'height.px': 30 }">
                </svg-icon>
              </i>
              {{ 'MOBILITY.ROUTES.PLACES.SCHEDULES' | translate }}
            </button>

          </div>
        </div>
        <div nz-col nzSpan="6"></div>
      </div>
    </div>
  </perfect-scrollbar>

</div>