<div nz-row class="text-center text-detail-modal-success">
    <label>{{'MISC.REPORT_MODAL.TITLE' | translate}}</label>
</div>
<div class="img-success">
    <img src="assets/imgs/Success.PNG" width="150">
</div>
<div class="text-img">
    <label>{{'MISC.REPORT_MODAL.MESSAGE_SUCCESS' | translate}}</label>
</div>
<div class="text">
    <label>{{'MISC.REPORT_MODAL.MESSAGE_TEXT' | translate}}</label>
</div>