@import 'theme';

.attendances {
  margin-top: 23.5px;
  margin-bottom: 34px;
  &--title {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #111111;
    margin-top: 11px;
  }
  &--subtitle {
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #111111;
    margin-top: 4px;
  }
  &--experience-selector {
    nz-select {
      float: right;
    }
    nz-radio-group {
      float: right;
    }
  }
  @media only screen and (max-width: 767px) {
    &--experience-selector {
      margin-top: 10px;
      margin-bottom: 10px;
      nz-select {
        float: left;
      }
      nz-radio-group {
        float: left;
      }
    }
  }
  &--alert-box {
    margin-top: 10px;
    margin-bottom: 10px;
    /* width: 40%; */
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #111111;
    border-radius: 4px;
    border: solid 0.5px #91d5ff;
    background-color: #e6f7ff;
    padding: 10px;
    i {
      font-size: 20px;
    }
  }
  &--buttons {
    margin-top: 19px;
  }
  &--experience-dashboard {
    margin-top: 19px;
    &--metrics {
      margin-top: 0;
    }
    @media only screen and (max-width: 767px) {
      &--metrics {
        margin-top: 10px;
      }
    }
  }
  &--list-attendances {
    margin-top: 19px;
  }

  &--header {
    margin-bottom: 30px;

    & > div {
      margin-bottom: 20px;
    }
  }

  &--statistics {
    margin-bottom: 30px;

    &--item {
      width: 100%;
    }

    .content-card {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  ::ng-deep .ant-tabs {
    .ant-tabs-bar {
      margin-bottom: 0px;
    }

    .ant-tabs-nav,
    .ant-tabs-tabpane {
      background-color: #fff;
    }
  }

  ::ng-deep {
    .ant-tabs-ink-bar {
      height: 3px;
    }

    .ant-table-pagination.ant-pagination {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &--documentation {
    padding: 20px 15px;
    display: block;

    &--divider {
      margin: 5px 15px;
    }
  }
}
