<div nzType="flex" nzAlign="middle" nzJustify="center" perfectScrollbar class="page ps scroll-container">
  <div class="container">
    <form [formGroup]="dishForm" nzLayout="vertical">
      <nz-spin [nzSpinning]="languages_loading">
        <ng-container formArrayName="translations">
          <nz-tabset [nzTabBarExtraContent]="languageTemplate" #translationTabs>
            <nz-tab *ngFor="let translation of translations.controls; let i = index;"
              [nzTitle]="getLanguageName(translation.value.language_id)">
              <ng-container [formGroupName]="i">
                <nz-form-item>
                  <nz-form-label nzRequired>
                    Nome
                  </nz-form-label>
                  <nz-form-control>
                    <input type="text" nz-input formControlName="name">
                  </nz-form-control>
                  <nz-form-explain class="color-required"
                    *ngIf="submitted && dishForm.get('translations.' + i + '.name')?.errors">
                    Campo obrigatório
                  </nz-form-explain>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>
                    Descrição
                  </nz-form-label>
                  <nz-form-control>
                    <input type="text" nz-input formControlName="description">
                  </nz-form-control>
                  <nz-form-explain class="color-required"
                    *ngIf="submitted && dishForm.get('translations.' + i + '.description')?.errors">
                    Campo obrigatório
                  </nz-form-explain>
                </nz-form-item>
              </ng-container>
            </nz-tab>
          </nz-tabset>
        </ng-container>
        <div nz-row>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXXl]="18">
            <div nz-row>
              <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="22" [nzLg]="22" [nzXl]="22" [nzXXl]="22">
                <nz-form-label nzRequired>
                  Imagem
                </nz-form-label>
                <nz-form-item>
                  <nz-form-control>
                    <fi-sas-upload-file formControlName="file_id" [types]="filterTypes"></fi-sas-upload-file>
                  </nz-form-control>
                  <label style="font-size: 12px;">Resolução 300x300</label>
                  <nz-form-explain class="color-required" *ngIf="submitted && f.file_id.errors">
                    Campo obrigatório
                  </nz-form-explain>
                </nz-form-item>
              </div>
            </div>
          </div>
        </div>
        <div nz-row>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="22" [nzLg]="2" [nzXl]="22" [nzXXl]="22">
            <div nz-row class="padding-bottom-5 padding-top-5">
              <nz-form-label nzRequired>
                Tipo de Prato
              </nz-form-label>
              <nz-form-control>
                <nz-select nzMode="multiple" class="primary-select" formControlName="types_ids" nzShowSearch>
                  <nz-option *ngFor="let dishType of dishTypes" [nzLabel]="(dishType?.translations | translation)?.name"
                    [nzValue]="dishType.id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submitted && f.types_ids.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>

        <div nz-row style="padding-top: 20px;">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="22" [nzLg]="2" [nzXl]="22" [nzXXl]="22">
            <div nz-row class="padding-bottom-5 padding-top-5">
              <nz-form-label nzRequired>
                Receitas
              </nz-form-label>
              <nz-form-control>
                <!--<nz-select class="primary-select" formControlName="recipes_ids" nzShowSearch nzMode="multiple">
                  <nz-option *ngFor="let recipe of recipes" [nzLabel]="recipe?.name" [nzValue]="recipe.id">
                  </nz-option>
                </nz-select>-->
                <nz-select class="primary-select" formControlName="recipes_ids"  nzMode="multiple"
                nzShowSearch [nzServerSearch]="true" (nzOnSearch)="onRecipesSearch($event)" [nzLoading]="isRecipesLoading" >
                  <nz-option *ngFor="let recipe of recipes" [nzLabel]="recipe?.name" [nzValue]="recipe.id">
                  </nz-option>
                </nz-select>

              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="submitted && f.recipes_ids.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>
        <div nz-row style="padding-top: 20px;">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
            <div nz-row class="padding-bottom-5">
              <nz-form-label nzRequired>
                Ativo
              </nz-form-label>
            </div>
            <div nz-row class="padding-bottom-5 padding-top-5">
              <nz-switch formControlName="active">
              </nz-switch>
              <nz-form-explain class="color-required" *ngIf="submitted && f.active.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>
        <nz-form-explain class="color-required"
          *ngIf="submitted && errorTrans" style="padding-top: 20px;">
          Obrigatório preencher pelo menos uma tradução
        </nz-form-explain>
      </nz-spin>
    </form>
  </div>
  <div class="space">
    <button *ngIf="id != undefined" nz-button (click)="backList()">Voltar</button>
    <button nz-button [nzLoading]="loading" [disabled]="loading"
      (click)="id != undefined ? submitDish(true) : submitDish(false)" class="button-submit" [nzType]="'primary'">{{id
      != undefined ? 'Editar' : 'Criar'}}</button>
  </div>
</div>
<ng-template #languageTemplate>
  <nz-select class="languages" nzMode="multiple" [(ngModel)]="listOfSelectedLanguages" [nzMaxTagCount]="1"
    nzPlaceHolder="Línguas" [nzLoading]="languages_loading" (ngModelChange)="changeLanguage()">
    <nz-option *ngFor="let language of languages" [nzLabel]="language.name" [nzValue]="language.id"></nz-option>
  </nz-select>
</ng-template>