.content-form {
  padding: 24px;
  background: white;

  &__actions {
    text-align: right;
    padding-top: 42px;

    button:first-child {
      margin-right: 24px;
    }
  }
}

.title {
  font-size: 17px;
  font-weight: 400;
  padding-bottom: 10px;
  display: block;
}

.space {
  background-color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
}
