<div class="content-form">
  <form [formGroup]="form" nz-form nzLayout="vertical">
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired>Data de início e fim das candidaturas</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <nz-range-picker formControlName="application_date"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col nzXs="24" nzLg="12">
        <nz-form-item>
          <nz-form-label nzFor="missing_trips">
            Nº de dias para Notificação de Falta de Registos de Viagens
          </nz-form-label>
          <nz-form-control nzErrorTip="Campo inválido">
            <input nz-input formControlName="missing_trips" id="missing_trips" type="number" name="missing_trips" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzLg="12">
        <nz-form-item>
          <nz-form-label nzFor="notification_hour"> Hora de Envio de Notificação de Falta de Registos </nz-form-label>
          <nz-form-control nzErrorTip="Campo inválido">
            <nz-time-picker
              class="primary-timePicker"
              formControlName="notification_hour"
              nzFormat="HH:mm"
            ></nz-time-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="24">
        <label class="title">Notificação de Fim e Contrato</label>
      </div>

      <div nz-col nzXs="24" nzLg="12">
        <nz-form-item>
          <nz-form-label nzFor="notifications_antecedence_days">Nº Dias e Antecedência</nz-form-label>
          <nz-form-control nzErrorTip="Campo inválido">
            <input
              nz-input
              formControlName="notifications_antecedence_days"
              id="notifications_antecedence_days"
              type="number"
              name="notifications_antecedence_days"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzLg="12">
        <nz-form-item>
          <nz-form-label nzFor="notifications_frequency">Frequência de Notificação (horas)</nz-form-label>
          <nz-form-control nzErrorTip="Campo inválido">
            <input
              nz-input
              formControlName="notifications_frequency"
              id="notifications_frequency"
              type="number"
              name="notifications_frequency"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>

<div class="space" nz-row>
  <button nz-button [nzLoading]="isLoading" [disabled]="isLoading" (click)="submit()" [nzType]="'primary'">
    <i nz-icon nzType="save"></i>Gravar
  </button>
</div>
