<div nzType="flex" nzAlign="middle" nzJustify="center" perfectScrollbar class="page ps scroll-container">
  <div class="container">
    <div nz-row>
       <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
        <div nz-row>
          <nz-form-label>Termo de Pesquisa</nz-form-label>
          <nz-form-control>
            <input type="text" nz-input [(ngModel)]="filters.search">
          </nz-form-control>
        </div>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
        <div nz-row>
          <nz-form-label>Estado</nz-form-label>
          <nz-form-control>
            <nz-select class="primary-select" nzAllowClear [(ngModel)]="filters.active" nzShowSearch
              style="width: 100%;">
              <nz-option *ngFor="let state of status" [nzLabel]="state.description" [nzValue]="state.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </div>
      </div>

      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>

      <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
        <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter" style="text-align: left;">
        <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content-table">
      <nz-table class="table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)"
        [nzLoading]="loading" [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true"
        [nzTotal]="totalData" [(nzPageSize)]="pageSize" (nzPageIndexChange)="pagination()"
        (nzPageSizeChange)="pagination(true)">
        <thead (nzSortChange)="sort($event)" nzSingleSort>
          <tr class="table__header">
           
            <th></th>
            <th *ngFor="let column of columns"
            [nzShowSort]="column.sortable"
            [nzSortKey]="column.sortKey ? column.sortKey : column.key">
              {{ column.label }}
            </th>
            <th nzRight="0px">Ações</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="refTable.data">
            <tr>
             
              <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
              <td>
                {{ (data | flatObject)['name'] }} 
              </td>
              <td>
                {{ (data | flatObject)['description'] }} 
              </td>
              <td>
                {{ (data | flatObject)['number_doses'] }} 
              </td>
              <td>
                <fi-sas-tag [value]="data['active']" [results]="YesNoTag"></fi-sas-tag>
              </td>
              <td nzRight="0px">
                <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
                  nzPlacement="bottomRight">
                  <i nz-icon nzType="dash" nzTheme="outline"></i>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li [nzDisabled]="!('alimentation:recipes:update' | hasPermission)" nz-menu-item (click)="editRecipe(data.id)">
                      Editar
                    </li>
                    <li [nzDisabled]="!('alimentation:recipes:create' | hasPermission)" nz-menu-item (click)="duplicateRecipe(data.id)">
                      Duplicar
                    </li>
                    <li [nzDisabled]="!('alimentation:recipes:update' | hasPermission)" *ngIf="data?.active == true" (click)="desactive(data)" nz-menu-item>
                      Desativar</li>
                    <li [nzDisabled]="!('alimentation:recipes:update' | hasPermission)" *ngIf="data?.active == false" (click)="active(data)" nz-menu-item>Ativar
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
            <tr [nzExpand]="mapOfExpandData[data.id]">
              <td [attr.colspan]="columns.length + 3">
                <fi-sas-view-recipes [data]="data"></fi-sas-view-recipes>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>