<AbsoluteLayout>
  
<StackLayout class="can-details__bg">
  <!-- action bar -->
  <fi-action-bar [actionBarType]="4"></fi-action-bar>

  <!-- LOADER -->
  <StackLayout class="fisas__form__block" marginTop="40" *ngIf="isLoading">
    <ActivityIndicator
      row="1"
      #activityIndicator
      [busy]="isLoading"
      width="100%"
      height="50"
      color="lightgray"
      class="fisas__loading"
    ></ActivityIndicator>
  </StackLayout>
  <!-- scroll init -->
  <ScrollView row="0" *ngIf="!isLoading">
    <StackLayout>
      <StackLayout class="fisas__content" marginBottom="50">
        <!-- <StackLayout marginTop="50">
          <fi-ubikecard></fi-ubikecard>
        </StackLayout> -->
        <StackLayout marginTop="24" class="can-details__box">
          <StackLayout marginLeft="11" marginRight="25">
            <StackLayout marginTop="48">
              <Label
                class="fisas__h1"
                text="{{ 'applications-details.title' | translate }}"
              ></Label>
              <Label
                class="fisas__p"
                marginTop="11"
                text="{{ 'applications-details.submittedCandidature' | translate }}"
              ></Label>
            </StackLayout>

            <StackLayout marginTop="48">
              <Label class="fisas__p" text="{{ 'applications-details.actualTransport' | translate }}"></Label>
              <StackLayout marginTop="24">
                <Label class="fisas__p--bold" text="{{ 'applications-details.dailyCommute' | translate }}"></Label>
                <Label
                  *ngIf="data.daily_commute === 'Walk'"
                  class="fisas__p--label"
                  text="{{ 'applications-details.onFoot' | translate }}"
                ></Label>
                <Label
                  *ngIf="data.daily_commute === 'Car'"
                  class="fisas__p--label"
                  text="{{ 'applications-details.car.car' | translate }}"
                ></Label>
                <Label
                  *ngIf="data.daily_commute === 'Train'"
                  class="fisas__p--label"
                  text="{{ 'applications-details.car.train' | translate }}"
                ></Label>
                <Label
                  *ngIf="data.daily_commute === 'Bike'"
                  class="fisas__p--label"
                  text="{{ 'applications-details.car.bike' | translate }}"
                ></Label>
                <Label
                  *ngIf="data.daily_commute === 'Motorcycle'"
                  class="fisas__p--label"
                  text="{{ 'applications-details.car.motorcycle' | translate }}"
                ></Label>
              </StackLayout>
              <StackLayout marginTop="20" *ngIf="data.daily_commute === 'Car' || data.daily_commute === 'Motorcycle'">
                <Label class="fisas__p--bold" text="{{ 'applications-details.car.brand' | translate }}"></Label>
                <Label
                  class="fisas__p--label"
                  text="{{ data.manufacturer }}"
                ></Label>
              </StackLayout>
              <StackLayout marginTop="20" *ngIf="data.daily_commute === 'Car' || data.daily_commute === 'Motorcycle'">
                <Label class="fisas__p--bold" text="{{ 'applications-details.car.model' | translate }}"></Label>
                <Label class="fisas__p--label" text="{{ data.model }}"></Label>
              </StackLayout>
              <StackLayout marginTop="20" *ngIf="data.daily_commute === 'Car' || data.daily_commute === 'Motorcycle'">
                <Label class="fisas__p--bold" text="{{ 'applications-details.car.year' | translate }}"></Label>
                <Label
                  class="fisas__p--label"
                  text="{{ data.year_manufactured }}"
                ></Label>
              </StackLayout>
              <StackLayout marginTop="20" *ngIf="data.daily_commute === 'Car' || data.daily_commute === 'Motorcycle'">
                <Label class="fisas__p--bold" text="{{ 'applications-details.car.power' | translate }}"></Label>
                <Label
                  class="fisas__p--label"
                  text="{{ data.engine_power }} {{ 'applications-details.car.hp' | translate }}"
                ></Label>
              </StackLayout>
              <StackLayout marginTop="20" *ngIf="data.daily_commute === 'Car' || data.daily_commute === 'Motorcycle'">
                <Label class="fisas__p--bold" text="{{ 'applications-details.car.fuel' | translate }}"></Label>
                <Label
                  *ngIf="data.daily_consumption === 'Gasoline'"
                  class="fisas__p--label"
                  text="{{ 'applications-details.fuel.gasoline' | translate }}"
                ></Label>
                <Label
                  *ngIf="data.daily_consumption === 'Diesel'"
                  class="fisas__p--label"
                  text="{{ 'applications-details.fuel.diesel' | translate }}"
                ></Label>
                <Label
                  *ngIf="data.daily_consumption === 'GLP'"
                  class="fisas__p--label"
                  text="GLP"
                ></Label>
                <Label
                  *ngIf="data.daily_consumption === 'Electric'"
                  class="fisas__p--label"
                  text="{{ 'applications-details.fuel.electric' | translate }}"
                ></Label>
              </StackLayout>
              <StackLayout marginTop="20">
                <Label
                  class="fisas__p--bold"
                  text="{{ 'applications-details.dailyKms' | translate }}"
                ></Label>
                <Label
                  class="fisas__p--label"
                  text="{{ data.daily_kms }} km"
                ></Label>
              </StackLayout>
            </StackLayout>

            <!-- BIKE -->
            <StackLayout marginTop="48">
              <Label class="fisas__p" text="{{ 'applications-details.requestedBike' | translate }}"></Label>
              <StackLayout marginTop="24">
                <Label
                  class="fisas__p--bold"
                  text="{{ 'applications-details.bikeRequestedType' | translate }}"
                ></Label>
                <Label
                  *ngIf="data.typology_first_preference.name === 'Electric'"
                  class="fisas__p--label"
                  text="Elétrica"
                ></Label>
                <Label
                  *ngIf="data.typology_first_preference.name === 'Convencional'"
                  class="fisas__p--label"
                  text="Convencional"
                ></Label>
              </StackLayout>
              <StackLayout marginTop="24">
                <Label
                  class="fisas__p--bold"
                  text="{{ 'applications-details.bikeOther' | translate }}" textWrap="true"
                ></Label>
                <Label
                  *ngIf="data.other_typology_preference === false"
                  class="fisas__p--label"
                  text="{{ 'applications-details.no' | translate }}"
                ></Label>
                <Label
                  *ngIf="data.other_typology_preference === true"
                  class="fisas__p--label"
                  text="{{ 'applications-details.yes' | translate }}"
                ></Label>
              </StackLayout>

              <StackLayout marginTop="20">
                <Label class="fisas__p--bold" text="{{ 'applications-details.startDate' | translate }}"></Label>
                <Label
                  class="fisas__p--label"
                  text="{{ data.start_date | date: 'dd/MM/yyyy' }}"
                ></Label>
              </StackLayout>
              <StackLayout marginTop="20">
                <Label class="fisas__p--bold" text="{{ 'applications-details.endDate' | translate }}"></Label>
                <Label
                  class="fisas__p--label"
                  text="{{ data.end_date | date: 'dd/MM/yyyy' }}"
                ></Label>
              </StackLayout>
            </StackLayout>
            <!-- USER -->
            <StackLayout marginTop="48">
              <Label class="fisas__p" text="{{ 'applications-details.physicalStature' | translate }}"></Label>
              <StackLayout marginTop="24">
                <Label class="fisas__p--bold" text="{{ 'applications-details.weight' | translate }}"></Label>
                <Label
                  class="fisas__p--label"
                  text="{{ data.weight }} kg"
                ></Label>
              </StackLayout>
              <StackLayout marginTop="24">
                <Label class="fisas__p--bold" text="{{ 'applications-details.height' | translate }}"></Label>
                <Label
                  class="fisas__p--label"
                  text="{{ data.height }} m"
                ></Label>
              </StackLayout>
            </StackLayout>
            <!-- Terms -->
            <StackLayout marginTop="48" marginBottom="60">
              <Label class="fisas__p" text="{{ 'applications-details.terms' | translate }}"></Label>
              <StackLayout marginTop="24">
                <Label
                  class="fisas__p--bold"
                  textWrap="true"
                  text="{{ 'applications-details.termsDesc' | translate }}"
                ></Label>
                <Label
                  *ngIf="data.applicant_consent === true"
                  class="fisas__p--label"
                  text="{{ 'applications-details.yes' | translate }}"
                ></Label>
                <Label
                  *ngIf="data.applicant_consent === false"
                  class="fisas__p--label"
                  text="{{ 'applications-details.no' | translate }}"
                ></Label>
              </StackLayout>
            </StackLayout>
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</StackLayout>

<fi-footer-modal (reloadPage) = "loadPage()"></fi-footer-modal>
</AbsoluteLayout>
