@import "~/scss/_variables";

.can-details {
  /* ----------------------- */
  /* Component */

  &__bg {
    height: 100%;
    width: 100%;
    background: #f3f3f3;
    &--top {
      background: $white;
    }
  }

  /* ----------------------- */
  /* Common */

  &__box {
    background: #ffffff;
    min-height: 258;
    border-radius: 9;
    &__month {
      font-family: "Montserrat", "Montserrat-Light";
      font-weight: 300;
      font-size: 12;
      line-height: 1.5;
      color: $black;
      text-align: center;
    }
    &__kms {
      font-family: "Montserrat", "Montserrat-Light";
      font-weight: 300;
      font-size: 33;
      text-align: center;
    }
    &__km {
      font-family: "Montserrat", "Montserrat-Bold";
      font-weight: 300;
      font-size: 33;
      text-align: center;
    }

    &__selected {
      font-family: "Montserrat", "Montserrat-Bold";
      font-size: 9;
      min-width: 91;
      line-height: 1.78;
      color: #ffffff;
      border-radius: 4;
      padding: 5 10;
      background: #0d69dd;
    }

    &__btn {
      font-family: "Montserrat", "Montserrat-Bold";
      font-size: 11;
      line-height: 1.64;
      color: #ffffff;
      border-radius: 50;
      text-align: center;
      text-transform: none;
      padding: 5 10;
      background: #ffffff;
      &--decline {
        background: #d0021b;
      }
      &--accept {
        background: #52c41a;
      }

      &--abort {
        border-width: 2;
        color: $black;
        border-color: #d0021b;
      }
    }
  }
}
