.color-required {
    color: red;
}

.languages {
    width: 200px;
}

.space{
    background-color: #F2F2F2;
    padding-top:20px;
    padding-bottom: 20px;
    text-align: right
}

.white {
    background-color: white;
  }

:host::ng-deep {
    .ant-calendar-picker {
        width: 100%;
    }
}