<div nz-row class="container">
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
    <div nz-row>
      <nz-form-label>Nome</nz-form-label>
      <nz-form-control>
        <input type="text" nz-input [(ngModel)]="filters.search">
      </nz-form-control>
    </div>
  </div>
  <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <div nz-row>
      <nz-form-label>Equipamento</nz-form-label>
      <nz-form-control>
        <nz-select class="primary-select" [(ngModel)]="filters.measurement_equipment_id" nzShowSearch
          style="width: 100%;">
          <nz-option *ngFor="let equipment of equipments" [nzLabel]="equipment?.name" [nzValue]="equipment?.id">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </div>
  </div>
  <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <div nz-row>
      <nz-form-label>Unidade</nz-form-label>
      <nz-form-control>
        <nz-select class="primary-select" [(ngModel)]="filters.unit_id" nzShowSearch style="width: 100%;">
          <nz-option *ngFor="let unit of list_units" [nzLabel]="unit?.name" [nzValue]="unit?.id">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </div>
  </div>
  <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
    <div nz-row>
      <nz-form-label>Estado</nz-form-label>
      <nz-form-control>
        <nz-select class="primary-select" [(ngModel)]="filters.active" nzShowSearch style="width: 100%;">
          <nz-option *ngFor="let state of status" [nzLabel]="state.description" [nzValue]="state.value">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </div>
  </div>
  <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
    <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
  </div>
  <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
    style="text-align: left;">
    <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
  </div>
</div>
<div class="container">
    <nz-table class="content-table" #refTable [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)"
      [nzLoading]="loading" [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true"
      [nzTotal]="totalData" [(nzPageSize)]="pageSize" (nzPageIndexChange)="pagination()"
      (nzPageSizeChange)="pagination(true)">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr class="table__header">
          <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
            [nzSortKey]="column.sortKey ? column.sortKey : column.key">
            {{ column.label }}
          </th>
          <th nzRight="0px" class="text-right">Ações</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="refTable.data">
          <tr>
            <td>
              {{data?.name}}
            </td>
            <td>
              {{data?.measurement_equipment?.name}}
            </td>
            <td>
              {{data?.max_value}}
            </td>
            <td>
              {{data?.min_value}}
            </td>
            <td>
              {{data?.unit?.name}} ({{data?.unit?.acronym}})
            </td>
            <td>
              <fi-sas-tag [value]="data['active']" [results]="YesNoTag"></fi-sas-tag>
            </td>
            <td nzRight="0px" class="text-right">
              <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
                nzPlacement="bottomRight">
                <i nz-icon nzType="dash" nzTheme="outline"></i>
              </button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item (click)="EditSensor(data.id)">
                    Editar
                  </li>
                  <li *ngIf="data?.active == true" (click)="desactive(data)" nz-menu-item>
                    Desativar</li>
                  <li *ngIf="data?.active == false" (click)="active(data)" nz-menu-item>Ativar
                  </li>
                </ul>
              </nz-dropdown-menu>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
</div>