@import 'theme';

.submit {
    margin-top: 25px;
    text-align: right;
  }

.error {
    color: red;
}

.icon-check {
    color: var(--primary-color);
}

.font-upload {
    font-size: 12px;
    line-height: initial;
    padding-top: 5px;
}

.icon-search {
    color: var(--primary-color);
    font-size: 20px;
    cursor: pointer;
    margin-top: 70px;
    @media screen and (max-width: 600px) {
        margin-top: 10px
    }
    @media screen and (max-width: 800px) {
        margin-top: 10px
    }
}


.tab-check {
    color: black;
    background-color: white;
    border: none;
}