<div nz-row>

  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
    <h2 class="title-top-page" *ngIf="type=='RESIDENCE'">
      {{'ACCOMMODATION.CHANGE_REQUESTS.RESIDENCE_REQUEST' | translate}}
    </h2>
    <h2 class="title-top-page" *ngIf="type=='TYPOLOGY'">
      {{'ACCOMMODATION.CHANGE_REQUESTS.TYPOLOGY_REQUEST' | translate}}
    </h2>
    <h2 class="title-top-page" *ngIf="type=='PERMUTE'">
      {{'ACCOMMODATION.CHANGE_REQUESTS.PERMUTE_REQUEST' | translate}}
    </h2>
    <h2 class="title-top-page" *ngIf="type=='ROOM'">
      {{'ACCOMMODATION.CHANGE_REQUESTS.ROOM_REQUEST' | translate}}
    </h2>
    <div nz-row>
      <div nz-col>
        <div class="form_information">
          <form nz-form [formGroup]="applicationChangeRoomForm">
            <div nz-row>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="start_date">
                    <b> {{'ACCOMMODATION.CHANGE_REQUESTS.INITIAL_DATE' | translate}}</b>
                  </nz-form-label>
                  <nz-form-control>
                    <nz-date-picker formControlName="start_date" class="primary-datePicker"
                      [ngClass]="{ 'error': submitted && f.start_date.errors, 'disabled-input': consult?true:false }"
                      [nzDisabledDate]="disabledDate">
                    </nz-date-picker>
                  </nz-form-control>
                  <nz-form-explain class="error" *ngIf="submitted && f.start_date.errors">
                    {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                  </nz-form-explain>
                </nz-form-item>
              </div>
            </div>
            <ng-container *ngIf="type=='RESIDENCE'">
              <div nz-row>
                <div nz-row style="font-size: 13px;">
                  <nz-form-label>
                    <b>{{ "ACCOMMODATION.CHANGE_REQUESTS.ACTUAL_RESIDENCE" | translate }}</b>
                  </nz-form-label>
                  <div *ngIf="application.room.typology">
                    <nz-tag class="tab-check"><i nz-icon nzType="check" nzTheme="outline" class="icon-check"></i>
                      {{application.assignedResidence.name}}
                    </nz-tag>
                  </div>

                </div>

              </div>
              <nz-form-item>
                <nz-form-label nzRequired nzFor="residence_id">
                  <b>{{ "ACCOMMODATION.CHANGE_REQUESTS.NEW_RESIDENCE" | translate }}</b>
                </nz-form-label>
                <nz-form-control>
                  <nz-select class="primary-select" [ngClass]="{ 'disabled-input': consult?true:false }"
                    formControlName="residence_id" id="residence_id" nzShowSearch>
                    <nz-option *ngFor="let residence of residences" [nzLabel]="residence.name" [nzValue]="residence.id">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
                <nz-form-explain class="error" *ngIf="submitted && f.residence_id.errors?.required">
                  {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                </nz-form-explain>
                <nz-form-explain class="error" *ngIf="submitted && f.residence_id.errors?.maxlength">
                  {{ 'FORM_INPUTS.VALIDATIONS.MAX_LENGTH' | translate }} {{f.reason.errors.maxlength.requiredLength}}
                </nz-form-explain>
              </nz-form-item>
            </ng-container>
            <ng-container *ngIf="type=='TYPOLOGY'">
              <div nz-row>
                <div nz-row style="font-size: 13px;">
                  <nz-form-label>
                    <b>{{ "ACCOMMODATION.CHANGE_REQUESTS.ACTUAL_TYPOLOGY" | translate }}</b>
                  </nz-form-label>
                  <div *ngIf="application.room.typology">
                    <nz-tag class="tab-check"><i nz-icon nzType="check" nzTheme="outline" class="icon-check"></i>
                      {{(application.room.typology.translations | languageChange).name}}
                    </nz-tag>
                  </div>
                  <div *ngIf="!application.room.typology">
                    {{ "ACCOMMODATION.CHANGE_REQUESTS.NO_TYP" | translate }}
                  </div>

                </div>

              </div>

              <nz-form-item>
                <nz-form-label nzRequired nzFor="typology_id">
                  <b>{{ "ACCOMMODATION.CHANGE_REQUESTS.NEW_TYPOLOGY" | translate }}</b>
                </nz-form-label>
                <nz-form-control>
                  <nz-select class="primary-select" [ngClass]="{ 'disabled-input': consult?true:false }"
                    formControlName="typology_id" id="typology_id" nzShowSearch>
                    <nz-option *ngFor="let typology of typologies"
                      [nzLabel]="(typology.translations | languageChange).name" [nzValue]="typology.id">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
                <nz-form-explain class="error" *ngIf="submitted && f.typology_id.errors?.required">
                  {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                </nz-form-explain>
                <nz-form-explain class="error" *ngIf="submitted && f.typology_id.errors?.maxlength">
                  {{ 'FORM_INPUTS.VALIDATIONS.MAX_LENGTH' | translate }} {{f.reason.errors.maxlength.requiredLength}}
                </nz-form-explain>
              </nz-form-item>
            </ng-container>

            <ng-container *ngIf="type=='PERMUTE'">
              <div nz-row style="font-size: 13px;">
                <nz-form-label>
                  <b>{{ "ACCOMMODATION.CHANGE_REQUESTS.ACTUAL_ROOM" | translate }}</b>
                </nz-form-label>
                <div>
                  <nz-tag class="tab-check"><i nz-icon nzType="check" nzTheme="outline" class="icon-check"></i>
                    {{application.room.name}}
                  </nz-tag>
                </div>

              </div>
              <div nz-row>
                <div nz-col nzXs="24" nzLg="24">
                  <nz-form-label nzRequired nzFor="permute_user_tin">
                    <b>{{ "ACCOMMODATION.CHANGE_REQUESTS.USER_TIN" | translate }}</b>
                  </nz-form-label>
                  <nz-form-control>
                    <input class="primary-input" formControlName="permute_user_tin" nz-input id="permute_user_tin"
                      [ngClass]="{ 'error__input':  submitted && f.permute_user_tin.errors,'disabled-input': consult?true:false }" />
                  </nz-form-control>
                  <nz-form-explain class="error" *ngIf="submitted && f.permute_user_tin.errors?.required">
                    {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                  </nz-form-explain>
                  <nz-form-explain class="error" *ngIf="submitted && f.permute_user_tin.errors?.maxlength">
                    {{ 'FORM_INPUTS.VALIDATIONS.MAX_LENGTH' | translate }} {{f.reason.errors.maxlength.requiredLength}}
                  </nz-form-explain>

                </div>
                <!--<div nz-col nzXs="24" nzLg="2" style="text-align: right;">
                  <i nz-icon nzType="search" class="icon-search" nzTheme="outline" (click)="filterNif()"></i>
                </div>-->
              </div>
              <!--<div nz-row>
                <div nz-col nzXs="24" nzLg="22">
                  <nz-spin [nzSpinning]="loadingRoom">
                    <nz-form-item *ngIf="filterRoom">
                      <nz-form-label style="padding-top: 20px;">
                        <b>{{ "ACCOMMODATION.CHANGE_REQUESTS.ROOM_CHANGE" | translate }}</b>
                      </nz-form-label>
                      <div style="font-size: 13px;">

                        <div *ngIf="room">
                          {{room}}
                        </div>
                        <div *ngIf="!room">
                          {{ "ACCOMMODATION.CHANGE_REQUESTS.NO_ROOM" | translate }}
                        </div>
                      </div>
                    </nz-form-item>
                  </nz-spin>
                </div>
              </div>
            -->
            </ng-container>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="reason">
                <b>{{ "CONTRACT_ACTIONS.JUSTIFICATION" | translate }}</b>
              </nz-form-label>
              <nz-form-control>
                <textarea class="primary-textarea" rows="5" nz-input formControlName="reason"
                  [ngClass]="{ 'error__input': submitted && f.reason.errors, 'disabled-input': consult?true:false }"
                  placeholder="{{ 'CONTRACT_ACTIONS.JUSTIFICATION_PLACE' | translate }}"></textarea>
              </nz-form-control>
              <nz-form-explain class="error" *ngIf="submitted && f.reason.errors?.required">
                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
              </nz-form-explain>
              <nz-form-explain class="error" *ngIf="submitted && f.reason.errors?.maxlength">
                {{ 'FORM_INPUTS.VALIDATIONS.MAX_LENGTH' | translate }} {{f.reason.errors.maxlength.requiredLength}}
              </nz-form-explain>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzFor="file_id">
                <b>{{ "CONTRACT_ACTIONS.ATTACHMENT" | translate
                  }}</b>
              </nz-form-label>
              <div class="desc-title-form" *ngIf="!consult">
                {{ 'U_BIKE.FORMS.FILES.DESCRIPTION' | translate }}
              </div>
              <nz-form-control *ngIf="!consult">
                <app-file-upload [filterTypes]="filterTypes" formControlName="file_id" (fileDeleted)="f.file_id.setValue(null)">
                </app-file-upload>
                <div class="font-upload">
                  {{ 'MISC.FORMAT_UPLOAD_MORE' | translate }} pdf, png, jpg. {{ 'MISC.LIMIT_MAX_FILE' | translate }}
                </div>
              </nz-form-control>
              <div *ngIf="consult && file">
                <div *ngIf="file?.type == 'IMAGE'">
                  <a target="_blank" [href]="file?.url">
                    <img [src]="file?.url" width="100px">
                  </a>
                </div>
                <div *ngIf="file?.type != 'IMAGE'">
                  <a target="_blank" [href]="file?.url">
                    <img src="/assets/imgs/doc.PNG" width="100px">
                  </a>
                </div>
              </div>
              <div *ngIf="consult && !file">
                -
              </div>
            </nz-form-item>


            <div nz-row class="submit">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <app-button (click)="close()" style="margin-right: 15px;"
                  [translate]="!consult?'MISC.CANCEL':'MISC.RETURN'" [type]="'secundary'">
                </app-button>
                <app-button *ngIf="!consult" [loading]="isLoading" (click)="onSubmit()" [translate]="'MISC.SUBMIT'">
                </app-button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
