

@font-family-no-number  : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family : 'Montserrat', @font-family-no-number;

:root {
  --fisas-01: @ipvc-01;
  --fisas-02: @ipvc-02;
  --fisas-03: @ipvc-03;
  --fisas-04: @ipvc-04;
  --fisas-05: @ipvc-05;
  --fisas-06: @ipvc-06;
  --fisas-07: @ipvc-07;
  --fisas-08: @ipvc-08;
  --fisas-09: @ipvc-09;
  --fisas-10: @ipvc-10;
}

// -------- Colors -----------
@primary-color : @fisas-grey-05;
@info-color : @blue-6;
@success-color : @green-6;
@processing-color : @blue-6;
@error-color : @red-6;
@highlight-color : @red-6;
@warning-color : @gold-6;
@normal-color : @fisas-grey-02;

@btn-border-radius-base: 24px;
@btn-primary-bg: @fisas-grey-01;