<div nz-row nzType="flex">
  <div nz-col nzSpan="4"></div>
  <div nz-col nzSpan="16">
    <p class="reservation">Histórico de Senhas</p>
    <p class="reservation__info">Consulte o histórico completo de senhas validadas na cantina.</p>

    <div nz-row class="day-input">
      <div nz-col nzSpan="8">
        <nz-select class="primary-select" [(ngModel)]="selectedValue" (ngModelChange)="onChangeSelectInput()" >
          <nz-option *ngFor="let option of selectOptions" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </nz-select>
      </div>
      <div *ngIf="selectedValue === 'CUSTOM'" nz-col class="date" nzSpan="8">
        <span>
          <label>De</label>
          <nz-date-picker
                  class="primary-datePicker"
                  [nzDisabledDate] = disableStartDate
                  [nzFormat] = "dateFormat"
                  [(ngModel)]="startDate"
                  (ngModelChange)="onChangeStartDate($event)"
                  nzPlaceHolder="Data de início"
          ></nz-date-picker>
        </span>
      </div>
      <div *ngIf="selectedValue === 'CUSTOM'" nz-col class="date" nzSpan="8">
        <span>
          <label>Até</label>
          <nz-date-picker
                  class="primary-datePicker"
                  [nzDisabledDate] = disableEndDate
                  [nzFormat] = "dateFormat"
                  [(ngModel)]= "endDate"
                  (ngModelChange)="onChangeEndDate($event)"
                  nzPlaceHolder="Date de fim"
          ></nz-date-picker>
        </span>
      </div>
    </div>

    <nz-divider class="reservation_divider"></nz-divider>

    <div class="user_list">
      <nz-list [nzDataSource]="reservations" [nzRenderItem]="reservation" [nzItemLayout]="'horizontal'" [nzLoading]="loading">
        <ng-template #reservation let-reservation>
          <nz-list-item >
            <nz-list-item-meta
                    [nzTitle]="userInfo"
                    [nzDescription]="reservationInfo" class="reservation_list__item">
              <ng-template #userInfo >
                <div nz-row [nzType]="'flex'">
                  <div nz-col nzSpan="20" class="reservation__user-name">
                    {{ reservation?.user?.name }}
                  </div>
                  <div nz-col nzSpan="4" class="reservation__hour">
                    {{ reservation?.served_at | date : 'HH:mm' }}
                  </div>
                </div>
                <div nz-row [nzType]="'flex'" class="user-info-margin">
                  <div nz-col nzSpan="16" class="reservation__email">
                    <span>{{ reservation?.user?.email }}</span><span class = "user-student-number" *ngIf="reservation?.user?.student_number"> nº{{ reservation?.user?.student_number }} </span>
                  </div>
                  <div nz-col nzSpan="8" class="reservation__date ">
                    {{ reservation?.served_at | date : 'dd/MM/yyyy'  }}
                  </div>
                </div>
              </ng-template>
              <ng-template #reservationInfo>

                <div nz-row [nzType]="'flex'">
                  <div nz-col nzSpan="24" class="reservation__type">
                    {{ (reservation.menu_dish.type.translations |translation)?.name | uppercase }} - {{translateMeal(reservation.menu_dish.menu.meal) | uppercase}}
                  </div>
                </div>

                <div nz-row [nzType]="'flex'">
                  <div nz-col nzSpan="24" class="reservation__name">
                    {{ (reservation.menu_dish.dish.translations | translation)?.name }}
                  </div>
                </div>

              </ng-template>
            </nz-list-item-meta>
            
          </nz-list-item>
         
        </ng-template>
      </nz-list>
      <div class="pagination">
        <nz-pagination [nzTotal]="totalData" [(nzPageSize)]="pageSize"
        [(nzPageIndex)]="pageIndex" (nzPageIndexChange)="getReservations(startDate,endDate,selectedValue,false)" (nzPageSizeChange)="getReservations(startDate,endDate,selectedValue,true)"
        nzShowSizeChanger></nz-pagination>
      </div>
    </div>
    <div nz-col nzSpan="4"></div>
  </div>
</div>
