<div nz-row>

  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
    <h2 class="title-top-page" *ngIf="type=='ENTRY'">
      {{'ACCOMMODATION.CHANGE_REQUESTS.ENTRY_COMMUNICATION_REQUEST' | translate}}
    </h2>
    <h2 class="title-top-page" *ngIf="type=='EXIT'">
      {{'ACCOMMODATION.CHANGE_REQUESTS.EXIT_COMMUNICATION_REQUEST' | translate}}
    </h2>

    <div nz-row>
      <div nz-col>
        <div class="form_information">
          <form nz-form [formGroup]="applicationCommunicationForm">
            <div nz-row>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                <nz-form-item *ngIf="type=='ENTRY'">
                  <nz-form-label nzRequired nzFor="start_date">
                    <b> {{'ACCOMMODATION.CHANGE_REQUESTS.INITIAL_DATE' | translate}}</b>
                  </nz-form-label>
                  <nz-form-control>
                    <nz-date-picker formControlName="start_date" class="primary-datePicker"
                      [ngClass]="{ 'error': submitted && f.start_date.errors, 'disabled-input': consult?true:false }"
                      [nzDisabledDate]="disabledDate">
                    </nz-date-picker>
                  </nz-form-control>
                  <nz-form-explain class="error" *ngIf="submitted && f.start_date.errors">
                    {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                  </nz-form-explain>
                </nz-form-item>

                <nz-form-item *ngIf="type=='EXIT'">
                  <nz-form-label nzRequired nzFor="end_date">
                    <b> {{'ACCOMMODATION.CHANGE_REQUESTS.FINAL_DATE' | translate}}</b>
                  </nz-form-label>
                  <nz-form-control>
                    <nz-date-picker formControlName="end_date" class="primary-datePicker"
                      [ngClass]="{ 'error': submitted && f.end_date.errors, 'disabled-input': consult?true:false }"
                      [nzDisabledDate]="disabledDate">
                    </nz-date-picker>
                  </nz-form-control>
                  <nz-form-explain class="error" *ngIf="submitted && f.end_date.errors">
                    {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                  </nz-form-explain>
                </nz-form-item>
              </div>
            </div>
            <div nz-row>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                <nz-form-item *ngIf="type=='ENTRY'">
                  <nz-form-label nzRequired nzFor="entry_hour">
                    <b> {{'ACCOMMODATION.CHANGE_REQUESTS.ENTRY_HOUR' | translate}}</b>
                  </nz-form-label>    
                  <nz-form-control>
                    <nz-time-picker formControlName="entry_hour" nzFormat="HH:mm" style="width: 95%;" [nzClearText]="''" class="primary-timePicker"
                    [ngClass]="{ 'error__input': submitted && f.entry_hour.errors, 'disabled-input': consult?true:false }"></nz-time-picker>
                    <nz-form-explain class="error" *ngIf="submitted && f.entry_hour.errors">
                      {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item *ngIf="type=='EXIT'">
                  <nz-form-label nzRequired nzFor="exit_hour">
                    <b> {{'ACCOMMODATION.CHANGE_REQUESTS.EXIT_HOUR' | translate}}</b>
                  </nz-form-label>    
                  <nz-form-control>
                    <nz-time-picker formControlName="exit_hour" nzFormat="HH:mm" style="width: 95%;" [nzClearText]="''" class="primary-timePicker"
                    [ngClass]="{ 'error__input': submitted && f.exit_hour.errors, 'disabled-input': consult?true:false }"></nz-time-picker>
                    <nz-form-explain class="error" *ngIf="submitted && f.exit_hour.errors">
                      {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row *ngIf="f.response.value">
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                <nz-form-item style="margin-bottom: 0px;">
                  <nz-form-label nzRequired nzFor="response">
                    <b>{{ "ACCOMMODATION.CHANGE_REQUESTS.REPLY" | translate }}</b>
                  </nz-form-label>
                </nz-form-item>
                <p> {{ f.response.value}}</p>

                <!-- <nz-form-item>
                  <nz-form-label nzRequired nzFor="response">
                    <b> {{'ACCOMMODATION.CHANGE_REQUESTS.INITIAL_DATE' | translate}}</b>
                  </nz-form-label>
                  <nz-form-control>
                    <input readonly formControlName="response" />
                  </nz-form-control>
                </nz-form-item> -->
              </div>
            </div>
            <div nz-row class="submit">
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <app-button *ngIf="!consult" (click)="close()" style="margin-right: 15px;"
                  [translate]="!consult?'MISC.CANCEL':'MISC.RETURN'" [type]="'secundary'"></app-button>
                <app-button *ngIf="!consult" [loading]="isLoading" (click)="onSubmit()" [translate]="'MISC.SUBMIT'">
                </app-button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>