<!--Steps-->
<div nz-row class="content content__prog">
  <!--XL to XXL-->
  <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="0" [nzXl]="24" [nzXXl]="24">
    <nz-steps class="content__line" [nzCurrent]="1" nzProgressDot>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T1' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_ONE' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T2' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_TWO' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T3' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_THREE' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T4' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_FOUR' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T5' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_FIVE' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.TITLE' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_SIX' | translate }}">
      </nz-step>
    </nz-steps>
  </div>
  <!--MD to LG-->
  <!--XS to SM-->
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="0" [nzXXl]="0">
    <div>
      <p class="steps-minimal-size_sub-title">
        {{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T2' | translate }}
      </p>
      <p class="steps-minimal-size_title">
        {{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_TWO_TOTAL' | translate }}
      </p>
    </div>

  </div>
</div>

<nz-divider class="divider-web"></nz-divider>

<!--Form-->
<form nz-form [formGroup]="OwnerForm" (ngSubmit)="submitForm()" class="content__group">
  <div class="application_form">
    <div nz-row *ngIf="showErrorMessage" class="bottom">
      <div nz-col nzSpan="24">
        <nz-alert nzType="error" [nzMessage]="'MISC.ERROR_GENERIC' | translate"></nz-alert>
      </div>
    </div>
    <p class="title-step-form"> {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T2" | translate }}
    </p>
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" [nzLg]="11" [nzXl]="11" [nzXXl]="11">
        <!--Phone-->
        <nz-form-item>
          <nz-form-label nzRequired nzFor="phone">
            <b>
              {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_TWO.FORM_ELEMENTS.PHONE.TITLE" | translate }}
            </b>
          </nz-form-label>
          <nz-form-control>
            <input class="primary-input" formControlName="phone" [ngModel]="phone" nz-input id="phone" mask="0*" />
            <nz-form-explain class="error" *ngIf="submitted && f.phone.errors">
              {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" [nzLg]="11" [nzXl]="11" [nzXXl]="11">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="email">
            <b>{{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_TWO.FORM_ELEMENTS.EMAIL.TITLE" |
              translate }}</b>
          </nz-form-label>
          <nz-form-control>
            <input class="primary-input" type="email" formControlName="email" [ngModel]="email" nz-input id="email" />
            <nz-form-explain class="error" *ngIf="submitted && f.email.errors">
              {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <!--Email-->


    <input type="hidden" formControlName="back" [ngModel]="back" id="back">


    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="button-space">
      <app-button (click)="backStep()" style="margin-right: 15px;" [translate]="'MISC.BACK'" [type]="'secundary'">
      </app-button>
      <app-button (click)="nextStep()" [translate]="'MISC.NEXT'">
      </app-button>
    </div>
  </div>
</form>