<nz-tabset nzTabPosition="left">

  <nz-tab nzTitle="Dados Pessoais">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Nome
        </div>
        <div nz-row class="detail-field">
          {{ application.name }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Data de nascimento
        </div>
        <div nz-row class="detail-field">
          {{ application?.birth_date | date:'dd/MM/yyyy' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          B.I./C.C.
        </div>
        <div nz-row class="detail-field">
          {{ application?.identification }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          NIF
        </div>
        <div nz-row class="detail-field">
          {{ application?.tin }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Nacionalidade
        </div>
        <div nz-row class="detail-field">
          {{ application?.nationality }}
        </div>
      </div>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Dados Académicos">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Nº de Estudante
        </div>
        <div nz-row class="detail-field">
          {{ application?.student_number }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Escola
        </div>
        <div nz-row class="detail-field">
          {{ application?.school?.name }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Ano do curso
        </div>
        <div nz-row class="detail-field">
          {{ application?.course_year }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Curso
        </div>
        <div nz-row class="detail-field">
          {{ application?.course?.name}}
        </div>
      </div>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Contactos">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Contacto 1
        </div>
        <div nz-row class="detail-field">
          {{application?.phone_1}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Contacto 2
        </div>
        <div nz-row class="detail-field">
          {{application?.phone_2}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Email
        </div>
        <div nz-row class="detail-field">
          {{application.email}}
        </div>
      </div>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Percurso">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Manhã
        </div>
        <div nz-row class="detail-field">
          {{ application?.morning_local_from?.local }} até {{
          application?.morning_local_to?.local}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Tarde
        </div>
        <div nz-row class="detail-field">
          {{ application?.afternoon_local_from?.local }} até {{
          application?.afternoon_local_to?.local}}
        </div>
      </div>
    </div>
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Declaração
        </div>
        <div nz-row class="detail-field">
          <span *ngIf="application?.declaration"><a [href]="application?.declaration.url" target="_blank">Download</a></span>
          <span *ngIf="!application?.declaration">Não tem declaração</span>
        </div>
      </div>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Outras informações">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Renovação de inscrição
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="application?.renovation"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Aceitou o regulamento
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="application?.accept_procedure"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Data
        </div>
        <div nz-row class="detail-field">
          {{ application?.date | date:'dd/MM/yyyy' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Observações
        </div>
        <div nz-row class="detail-field">
          {{ application?.observations }}
        </div>
      </div>
    </div>

  </nz-tab>

  <nz-tab nzTitle="Pagamentos" (nzClick)="loadPaymentMonths()">
    <nz-spin *ngIf="payments_months_loading" [nzSpinning]="payments_months_loading" nzSimple></nz-spin>

    <ng-container *ngIf="paymentsMonths.length !== 0">
      <div nz-row *ngFor="let paymentsMonth of paymentsMonths">
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Data
          </div>
          <div nz-row class="detail-field">
            {{ paymentsMonth.created_at | date: 'd MMMM y'}}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Mês
          </div>
          <div nz-row class="detail-field">
            {{ paymentsMonth.month}}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Ano
          </div>
          <div nz-row class="detail-field">
            {{ paymentsMonth.year}}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Valor
          </div>
          <div nz-row class="detail-field">
            {{ paymentsMonth.value | number: '1.2-2' }}€
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Pago
          </div>
          <div nz-row class="detail-field">
            <fi-sas-tag [value]="paymentsMonth.paid"></fi-sas-tag>
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Editar
          </div>
          <div nz-row class="detail-field">
            <button (click)='paymentMonthModal(paymentsMonth)' nz-button nzType="primary"><i nz-icon
                type="edit"></i></button>
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <nz-divider></nz-divider>
        </div>
        
      </div>
    </ng-container>

  </nz-tab>
  <nz-tab nzTitle="Desistências" (nzClick)="loadWithdrawals()">
    <ng-container *ngFor="let withdrawal of withdrawals">
      <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Data
          </div>
          <div nz-row class="detail-field">
            {{withdrawal.created_at | date: "dd-MM-yyyy"}}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
          <div nz-row class="title">
            Justificação
          </div>
          <div nz-row class="detail-field">
            {{withdrawal.justification}}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Estado
          </div>
          <div nz-row class="detail-field">
            <fi-sas-tag [value]="withdrawal.status" [results]="withdrawalStatusLabels"></fi-sas-tag>
          </div>
        </div>
      </div>

      <nz-divider></nz-divider>
    </ng-container>
  </nz-tab>
  <nz-tab nzTitle="Ausências" (nzClick)="loadAbsences()">
    <ng-container *ngFor="let absence of absences">
      <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="5" nzXl="4" class="padding-top-20">
          <div nz-row class="title">
            Data
          </div>
          <div nz-row class="detail-field">
            {{absence.start_date | date: "dd-MM-yyyy"}}/{{absence.end_date | date: "dd-MM-yyyy"}}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
          <div nz-row class="title">
            Justificação
          </div>
          <div nz-row class="detail-field">
            {{absence.justification}}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="5" nzXl="4" class="padding-top-20">
          <div nz-row class="title">
            Anexo
          </div>
          <div nz-row class="detail-field">
            <span *ngIf="!absence.file">--</span>
            <a *ngIf="absence?.file" [href]="absence?.file?.url" target="_blank">Anexo</a>
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="5" nzXl="4" class="padding-top-20">
          <div nz-row class="title">
            Estado
          </div>
          <div nz-row class="detail-field">
            <fi-sas-tag [value]="absence.status" [results]="absenceStatusLabels"></fi-sas-tag>
          </div>
        </div>

      </div>

      <nz-divider></nz-divider>
    </ng-container>


  </nz-tab>

</nz-tabset>

<fi-sas-model-payment-month #paymentModel [paymentMonthModalApplication]='application' [paymentMonth]='paymentMonth'
  (paymentSubmitted)='paymentSubmitted($event)'></fi-sas-model-payment-month>