@import 'theme';

:host::ng-deep {
  .ant-tabs .ant-tabs-left-bar .ant-tabs-nav {
    width: 180px;
  }

  .row-details {
    margin-bottom: 12px;
    padding: 2px 0;

  }

  .row-details-history {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 15px;
  }

  nz-spin {
    text-align: center;
    margin-top: 35px;
  }

  .history {
    &__row {
      margin-top: 15px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    }
  }

  .change-payment {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}


.detail-field {
    color: var(--primary-color);
    font-weight: normal;
    padding-top: 5px;
}

.padding-top-20 {
    padding-top: 20px;
}

.title {
    color: black;
}
