<div style="height: 80px"></div>
<div class="container">
  <div class="container__bottom">
    <p class="container__bottom__title">sasocial</p>
    <p class="container__bottom__institute">{{ institute }}</p>

    <div class="container__bottom__info">
      <div class="container__bottom__info__row">
        <div class="container__bottom__info__label">
          {{ "QRCODE.NAME" | translate }}:
        </div>
        <div class="container__bottom__info__data">{{ data.name }}</div>
      </div>

      <div class="container__bottom__info__row">
        <div class="container__bottom__info__label">
          {{ "QRCODE.EMAIL" | translate }}:
        </div>
        <div class="container__bottom__info__data">{{ data.email }}</div>
      </div>

      <div class="container__bottom__info__row">
        <div class="container__bottom__info__label">
          {{ "QRCODE.STUDENT_NUMBER" | translate }}:
        </div>
        <div class="container__bottom__info__data">
          {{ data.student_number }}
        </div>
      </div>
    </div>

    <div *ngIf="ticket" style="text-align: center">
      <img [src]="ticket_url" style="width: 65%" />
    </div>
  </div>
</div>
<div style="height: 80px"></div>
