.container {   
    
    &__bottom {
        padding-top: 32px;
        margin: auto;
        max-width: 300px;
        background-color: white;
        
        &::after {
            background: 
            linear-gradient(-45deg, transparent 16px, white 0), 
            linear-gradient(45deg, transparent 16px, white  0);
            background-repeat: repeat-x;
            background-position: left bottom;
            background-size: 22px 32px;
            content: "";
            display: block;
            
            width: 100%;
            height: 32px;
            
            position: relative;
            top:32px;
            left:0px;
        }

        &__title {
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 0px;
        }

        &__institute {
            text-align: center;
            width: 80%;
            margin: auto;
        }

        &__info {
            padding: 24px 18px 16px 18px;
            font-size: 11px;

            &__row {
                display: flex;
                justify-content: space-between;
            }

            &__label {
                text-align: left;
                font-weight: bold;
            }

            &__data {
                text-align: right;
            }

            p {
                margin: 0px;
            }
        }
    }
    
}
    