<div class="content--padding white">
    <form nz-form [formGroup]="formCreate">
        <nz-spin [nzSpinning]="languages_loading">
            <ng-container formArrayName="translations">
                <nz-tabset [nzTabBarExtraContent]="languageTemplate" #translationTabs>
                    <nz-tab *ngFor="let translation of translations.controls; let i = index;"
                        [nzTitle]="getLanguageName(translation.value.language_id)">
                        <ng-container [formGroupName]="i">
                            <nz-form-item>
                                <nz-form-label nzRequired>
                                    Nome
                                </nz-form-label>
                                <nz-form-control>
                                    <input formControlName="name" nz-input type="text">
                                </nz-form-control>
                                <nz-form-explain class="color-required"
                                    *ngIf="submitted && formCreate.get('translations.' + i + '.name')?.errors">
                                    Campo obrigatório
                                </nz-form-explain>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzRequired>
                                    Descrição
                                </nz-form-label>
                                <nz-form-control>
                                    <input formControlName="description" nz-input type="text">
                                </nz-form-control>
                                <nz-form-explain class="color-required"
                                    *ngIf="submitted && formCreate.get('translations.' + i + '.description')?.errors">
                                    Campo obrigatório
                                </nz-form-explain>
                            </nz-form-item>
                        </ng-container>
                    </nz-tab>
                </nz-tabset>
            </ng-container>
        </nz-spin>
        <div nz-row>
            <div nz-col [nzSpan]="11">
                <nz-form-item>
                    <nz-form-label nzRequired>URL</nz-form-label>
                    <nz-form-control>
                        <input formControlName="url" nz-input type="text"
                            pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$">
                        <div *ngIf="submitted && f.url.errors">
                            <nz-form-explain class="color-required" *ngIf="f.url.errors.required">
                                Campo obrigatório
                            </nz-form-explain>
                            <nz-form-explain class="color-required" *ngIf="f.url.errors.pattern">
                                Formato inválido. Ex: http://www.site.com
                            </nz-form-explain>
                        </div>
                            
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="2">
            </div>
            <div nz-col [nzSpan]="11">
                <nz-form-item>
                    <nz-form-label nzRequired>Email</nz-form-label>
                    <nz-form-control>
                        <input formControlName="email" nz-input type="text">
                        <div *ngIf="submitted && f.email.errors">
                            <nz-form-explain class="color-required" *ngIf="f.email.errors.required">
                                Campo obrigatório
                            </nz-form-explain>
                            <nz-form-explain class="color-required" *ngIf="f.email.errors.email">
                               Formato inválido
                            </nz-form-explain>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <nz-form-explain class="color-required" *ngIf="submitted && errorTrans" style="padding-top: 20px;">
            Obrigatório preencher pelo menos uma tradução
        </nz-form-explain>
    </form>
</div>

<div class="space" nz-row>
    <button *ngIf="isUpdate" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
    <button nz-button [nzLoading]="isLoading" [disabled]="isLoading" (click)="submit()" class="button-submit"
        [nzType]="'primary'">{{isUpdate ? 'Editar' : 'Criar'}}</button>
</div>

<ng-template #languageTemplate>
    <nz-select class="languages" nzMode="multiple" [(ngModel)]="listOfSelectedLanguages" [nzMaxTagCount]="1"
        nzPlaceHolder="Línguas" [nzLoading]="languages_loading" (ngModelChange)="changeLanguage()">
        <nz-option *ngFor="let language of languages" [nzLabel]="language.name" [nzValue]="language.id"></nz-option>
    </nz-select>
</ng-template>