<div class="container">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
      <div nz-row>
        <nz-form-label>Bicicleta</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="filters.bike_id" style="width: 100%;" [nzAllowClear]="true"
            [nzLoading]="bikes_loading" nzAllowClear nzShowSearch="true">
            <nz-option *ngFor="let bike of bikes" [nzLabel]="bike.identification" [nzValue]="bike.id">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
      <div nz-row>
        <nz-form-label>Utilizador</nz-form-label>
        <nz-form-control>
          <fi-sas-user-select [(ngModel)]="filters.user_id"></fi-sas-user-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
      <div nz-row>
        <nz-form-label>Tipologia</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="filters.typology_name" [nzAllowClear]="true" [nzLoading]="typologies_loading"
            style="width: 100%;" nzAllowClear nzShowSearch="true">
            <nz-option *ngFor="let typology of typologies" [nzLabel]="typology.name" [nzValue]="typology.name">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
      <div nz-row>
        <nz-form-label>Perfil</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="filters.profile_name" [nzAllowClear]="true" [nzLoading]="profiles_loading"
            style="width: 100%;" nzAllowClear nzShowSearch="true">
            <nz-option *ngFor="let profile of profiles" [nzLabel]="profile.name" [nzValue]="profile.name">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
      <div nz-row>
        <nz-form-label>Quilómetros Percorridos</nz-form-label>
        <nz-form-control>
          <input nz-input [(ngModel)]="filters.distance" id="user_age" name="user_age" type="number">
        </nz-form-control>
      </div>
    </div>

  </div>
  <div nz-row>

    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="18" [nzLg]="19" [nzXl]="20" [nzXXl]="20"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
      <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
      style="text-align: left;">
      <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
    </div>
  </div>
</div>

<div class="container">
  <nz-table class="content-table" #refTable [nzScroll]="{ x: '240px' }" [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
    [nzScroll]="{ x: '100%' }" (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th></th>
        <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
          [nzSortKey]="column.sortKey ? column.sortKey : column.key" [ngClass]="{
          'col-width-600': column.key === 'user.name',
          'col-width-145': (column.key === 'distance' || column.key === 'profile_name'),
          'col-width-200': (column.key === 'bike.identification' || column.key === 'typology_name'),
          'col-width-180': (column.key === 'trip_start' || column.key === 'time')
        }"> {{ column.label }}</th>
        <th nzRight="0px" class="text-right">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">

        <tr>
          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
          <td *ngFor="let column of columns"
            [ngClass]="{'align-center': (column.key==='distance' || column.key==='time')}">
            <span *ngIf="column.key!=='trip_start'">
              {{ column.translation ? (data.translations | where: ['language_id', 3] )[0][column.key] : (data |
              splitProperty : column.key) }}
            </span>
            <span *ngIf="column.key==='trip_start'">
              {{ column.translation ? (data.translations | where: ['language_id', 3] )[0][column.key] : (data |
              splitProperty : column.key) | date:'dd/MM/yyyy' }}
            </span>
          </td>
          <td nzRight="0px" class="text-right">
            <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
              nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="showModal(data)">Editar</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>

        <tr [nzExpand]="mapOfExpandData[data.id]">
          <td [attr.colspan]="columns.length + 3">
            <fi-sas-view-trip [data]="data"></fi-sas-view-trip>
          </td>
        </tr>

      </ng-template>
    </tbody>
  </nz-table>
</div>


<nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" [nzTitle]="modalTitle" [nzContent]="modalContent"
  [nzFooter]="modalFooter">
  <ng-template #modalTitle>
    Editar Percurso
  </ng-template>
  <ng-template #modalContent>
    <div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="modal__info__group">
      <div nz-col [nzSpan]="6" class="modal__info">
        <div nz-row nzType="flex" class="modal__info__title">
          Bicicleta
        </div>
        <div nz-row nzType="flex" class="modal__info__desc">
          {{edit_trip.bike.identification}}
        </div>
      </div>
      <div nz-col [nzSpan]="6" class="modal__info">
        <div nz-row nzType="flex" class="modal__info__title">
          Tipologia
        </div>
        <div nz-row nzType="flex" class="modal__info__desc">
          {{edit_trip.typology_name}}
        </div>
      </div>
      <div nz-col [nzSpan]="6" class="modal__info">
        <div nz-row nzType="flex" class="modal__info__title">
          Utilizador
        </div>
        <div nz-row nzType="flex" class="modal__info__desc">
          {{edit_trip.user.name}}
        </div>
      </div>
      <div nz-col [nzSpan]="6" class="modal__info">
        <div nz-row nzType="flex" class="modal__info__title">
          Perfil
        </div>
        <div nz-row nzType="flex" class="modal__info__desc">
          {{edit_trip.profile_name}}
        </div>
      </div>
    </div>
    <div nz-row nzType="flex" nzAlign="middle" nzJustify="start" class="modal__input__group">
      <div nz-col [nzSpan]="11" class="modal__input">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="distance">Quilómetros Percorridos</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="edit_trip.distance" type="number" id="distance" name="distance">
            <nz-form-explain class="color-required" *ngIf="modalErrors && !edit_trip.distance">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

      </div>
      <div nz-col [nzSpan]="2" class="modal__input">
      </div>
      <div nz-col [nzSpan]="11" class="modal__input">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="distance">Tempo de Viagem</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="edit_trip.time" id="distance" type="number" name="distance">
            <nz-form-explain class="color-required" *ngIf="modalErrors && !edit_trip.time">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
       
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="11" class="modal__input">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="trip_start">Início da Viagem</nz-form-label>
          <nz-form-control>
            <nz-date-picker [(ngModel)]="edit_trip.trip_start" [nzDisabledDate]="disableDate"></nz-date-picker>
            <nz-form-explain class="color-required" *ngIf="modalErrors && !edit_trip.trip_start">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="2" class="modal__input">
      </div>
      <!--<div nz-col [nzSpan]="11" class="modal__input">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="trip_end"> Fim da Viagem</nz-form-label>
          <nz-form-control>
            <nz-date-picker [(ngModel)]="edit_trip.trip_end"></nz-date-picker>
            <nz-form-explain class="color-required" *ngIf="modalErrors && !edit_trip.trip_end">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>-->
      <div nz-col [nzSpan]="24" class="modal__input">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="description"> Descrição</nz-form-label>
          <nz-form-control>
            <textarea maxlength="255" nz-input [(ngModel)]="edit_trip.description" placeholder="Descrição"></textarea>
            <nz-form-explain class="color-required" *ngIf="modalErrors && !edit_trip.description">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
    <button nz-button nzType="primary" (click)="editTrip()" [nzLoading]="isConfirmLoading">Guardar</button>
  </ng-template>
</nz-modal>