@import "theme";


.btn-filter{
  text-align: center;
  .btn-delete{
    cursor: pointer;
    font-size: 18px;
    margin-top: 45px;
  }
  .btn{
    margin-bottom: 4px;
    margin-top: 42px;
  }
}

.content-table {
  margin: 8px;
  
  .table {
      &__header {
          th {
              background: white;
              color: var(--primary-6);
              font-weight: 700;
          }

          & > th:first-child {
              border-top-left-radius: 2px !important;
          }
          
          & > th:last-child {
              border-top-right-radius: 2px !important;
          }
      }
      
      tr {

          /*td {
              color: var(--text-color);
          }*/

          background: white !important;
      }
  }

  .options_button {
      color: var(--text-color);
      font-size: 22px;
  }
}

.container {
  background: white;
  padding: 24px 30px 24px 30px;
  margin-bottom: 5px;
  margin-top: 20px;
  &__title {
      font-size: 16px;
      line-height: 22px;
      margin: 0px;
      font-weight: bold;
      margin-bottom:10px;
      color:black;
  }
  &__subtitle{
    margin-bottom:5px;
  }
}


.text-right {
  text-align: right;
}

.modal{
  &__info{
    &__title{
      font-size: 14px;
    }
    &__desc{
      font-weight: 700;
      padding-top: 5px;
      font-size: 14px;
      
    }
    &__group{
      padding-bottom: 15px;
      border-bottom: solid 0.01cm var(--primary-4);
    }
  }
  &__input{

    &__title{
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 10px;
      &__mandatory{
        padding: 0px 3px;
        color: red;
      }
    }
    &__error {
      color: red;
      margin-top: 5px;
    }
    &__group{
      padding-top: 10px;
    }
  }
}



.align-center{
  text-align: center;
}

.color-required {
  color: red;
}


:host::ng-deep {
  .ant-calendar-picker {
      width: 100% !important;
  }
}