<div class="payment-menu">
  <div nz-row nzType="flex" nzJustify="center" class="payment-menu__row">
    <!-- back -->
    <div nz-col nzSpan="6" class="payment-menu__item" (click)="back($event)">
      <a role="button">
        <svg-icon src="assets/icons/icons-arrow-2-left.svg" [svgStyle]="{ 'width.px': 108, 'height.px': 108 }">
        </svg-icon>
        <p class="payment-menu__label">
          {{ 'CART.MENU.BUTTONS.BACK' | translate | uppercase }}
        </p>
      </a>
    </div>
    <div nz-col nzSpan="7" class="payment-menu__item payment-menu__item--account-payment-success"
      (click)="clickCharging()">
      <a role="button">
        <svg-icon src="assets/icons/icons-card.svg" [svgStyle]="{ 'width.px': 108, 'height.px': 108 }"></svg-icon>
        <p class="payment-menu__label">
          {{ 'CART.MENU.BUTTONS.DEPOSIT' | translate | uppercase }}
        </p>
      </a>
    </div>
    <!-- balance -->

    <div nz-col nzSpan="7" class="payment-menu__item payment-menu__item--account-payment-success"
      (click)="loadingCheckout ? '' : payTotalCart(true)">
      <a role="button">
        <svg-icon src="assets/icons/euro-svgrepo-com.svg" [svgStyle]="{ 'width.px': 85, 'height.px': 108 }"></svg-icon>
        <p class="payment-menu__label">
          {{ 'CART.MENU.BUTTONS.PAY_WITH_BALANCE' | translate | uppercase }}
        </p>
      </a>

    </div>

  </div>
</div>


<!---------------------------MODAL SUCCESS----------------------->
<nz-modal [nzVisible]="modalSuccess" nzClosable="false" nzFooter="null" [nzStyle]="{top: '700px'}">
  <div class="icon-space">
    <img src="assets/images/Success.PNG" style="width: 175px;">
  </div>
  <div class="text-modal">
    <label>{{ 'CART.MENU.NOTIFICATIONS.CART.SUCCESS.DESCRIPTION' | translate }}</label>

    <br>
    <br>
    <label *ngIf="existRefectory">{{ 'CART.MENU.NOTIFICATIONS.CART.SUCCESS.DESCRIPTION_REFECTORY' | translate }}</label>
  </div>
</nz-modal>

<!---------------------------MODAL ERROR----------------------->
<nz-modal [nzVisible]="modalError" nzClosable="false" nzFooter="null" [nzStyle]="{top: '700px'}">
  <div class="icon-space">
    <img src="assets/images/cards-ilustration-negative.png" style="width: 175px;">
  </div>
  <div class="text-modal">
    <label>{{ 'CART.MENU.NOTIFICATIONS.CART.ERROR.INSUFFICIENT_BALANCE' |translate }}</label>
  </div>
</nz-modal>
