@import 'default-theme.less';

:host::ng-deep {
  width: 100%;
  height: 192px;
  position: absolute;
  bottom: 0;

  .payment-menu {
    width: 100%;
    height: 100%;
    background-color: var(--fisas-08);

    &__item {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;

      a {
        color: @fisas-grey-01;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }

    &__label {
      .font-family(11px, 700);
      letter-spacing: 0.92px;
      line-height: 18px;
      margin-bottom: 0;
    }

    &__label-logon {
      .font-family(11px, 700);
      letter-spacing: 0.92px;
      line-height: 18px;
      margin-top: 6px;
    }

    &__image-logon {
      margin-top: 6px;
    }

    &__balance {
      .font-family(11px, 400);
      line-height: 18px;
    }

    &__row,
    &__item {
      height: 100%;
      color: @fisas-grey-01;
    }

    // &__item:nth-last-child(2) {
    //   background-color: var(--fisas-01);
    // }

    // &__item:nth-last-child(1) {
    //   background-color: var(--fisas-04);
    // }

    &__item--personal-payment {
      background-color: @fisas-red-05;
    }

    &__item--account {
      background-color: var(--fisas-04);
    }

    &__item--account-payment-success {
      background-color: var(--fisas-03);
    }

    &__item--account-payment-error {
      background-color: @fisas-red-04;
    }

    &__item--disabled {
      pointer-events: none;
      background-color: inherit;

      a {
        color: var(--fisas-07);
      }
    }
  }
}

.icon-space {
  text-align: center;
  padding-top: 40px;
}

:host::ng-deep svg {
  g path {
      fill: white;
  }
}

.text-modal {
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 25px;
}
