nz-card {
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  padding: 25px 15px 15px 15px;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px 0 rgba(223, 223, 223, 0.5);
  &:hover {
    border-color: var(--primary-color);
    background-color: var(--primary-1);
    cursor: pointer
  }
  &:focus {
    border-color: var(--primary-color);
    background-color: var(--primary-1);
  }
}
.inactive {
  opacity: 50%;
  cursor: default !important
}
  .sub-title-specialty{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #666;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .title-specialty{
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: #333;
  }

  .title-card-bottom{
    opacity: 0.4;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #666;
  }
  .info-card-bottom{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666;
  }

.badge--external {
  float: right;
  border-radius: 4px;
  border: solid 1px #1ba974;
  background-color: var(--white);
}

.badge--internal{
  float: right;
  border-radius: 4px;
  border: solid 1px var(--white-three);
  background-color: #f7f7f7;
}

.badge-label{
  font-family: Montserrat;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.18px;
  text-align: center;
  color: #1ba974;
}

/*.tab-status {
  margin: 0 81px 17px 0;
  padding: 0 4px;
  border-radius: 4px;
  label{
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: 0.5px;
    color: var(--white);
  }
}*/
