
<!--Return Button for Menu-->
<div nz-row>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>

  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12" class="top">
    <app-button translate="MISC.RETURN" (click)="back()" [leftIcon]="'left'"
    [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}" type="tertiary"></app-button>
  </div>

  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>

</div>

<!--Dish--Card--Detail-->
<div nz-row>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>

  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12">
    <app-dish-card-detail [dish]="dish" [meal]="meal" [date]="date"></app-dish-card-detail>
  </div>

  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>
</div>
