<div nz-row>
    <nz-tabset *ngIf="userInterests.length==0" nzTabPosition="top">
        <nz-tab nzTitle="---">
            <div nz-col nzXs="24" nzMd="24" class="volunteering">
                <div nz-row>
                    <nz-avatar [nzSize]="60" nzIcon="user" class="volunteering__avatar"></nz-avatar>
                </div>
                <div nz-row style="padding-top: 20px;">
                    <button nz-button nzType="primary" (click)="modalSearch()">
                        <span>Procurar</span>
                    </button>
                </div>
            </div>
            <div nz-col nzXs="24" nzMd="24">
                <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
            </div>

        </nz-tab>
    </nz-tabset>
    <nz-tabset *ngIf="userInterests.length>0" nzTabPosition="top" [nzSelectedIndex]="tabIndex">
        <nz-tab *ngFor="let user of userInterests; let idx = index"
            [nzTitle]="action ?  user.application.student_number || user.user.user_name : user.experience.translations[0].title"
            (nzClick)="changeUserInterest(user,idx)">
            <nz-spin [nzSpinning]="loadingInfo">
                <div nz-col nzXs="24" nzMd="24" class="volunteering border">

                    <div nz-row>
                        <div nz-col nzXs="24" nzMd="24" nzLg="24" nzXl="12" nzXXl="12">
                            <div nz-row>
                                <div nz-col nzXs="24" nzMd="24" nzLg="4" nzXl="3" nzXXl="2">
                                    <nz-avatar [nzSize]="60" nzIcon="user" class="volunteering__avatar">
                                    </nz-avatar>
                                </div>
                                <div nz-col nzXs="24" nzMd="24" nzLg="20" nzXl="21" nzXXl="22">
                                    <div nz-row>
                                        <span class="volunteering__name-user">{{user.application.name}}</span>
                                    </div>
                                    <div nz-row>
                                        <span class="volunteering__desc-user"> {{ user?.application?.student_number ?
                                            'Nº: ' + user?.application?.student_number + '
                                            | ' :
                                            ''}}</span>
                                        <span class="volunteering__desc-user">{{user?.application?.course?.name}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div nz-col nzXs="24" nzMd="24" nzLg="24" nzXl="12" nzXXl="12" class="volunteering__btn">
                            <button [disabled]="!('volunteering:experience-user-interests:certificate' | hasPermission)"
                                nz-button nzType="primary" class="volunteering__btn__btn-margin"
                                (click)="showCertificateModal(user)">
                                Certificado
                            </button>
                            <button [disabled]="!('volunteering:experience-user-interests:read' | hasPermission)"
                                nz-button nzType="primary" class="volunteering__btn__btn-margin"
                                (click)="showStudentEvaluationReport()">
                                Relatório Avaliação
                            </button>
                            <button
                                [disabled]="!('volunteering:experience-user-interests:final_report' | hasPermission)"
                                nz-button nzType="primary" class="volunteering__btn__btn-margin"
                                (click)="showFinalReportModal(user)">
                                Relatório Final
                            </button>
                        </div>
                    </div>
                    <div nz-row style="padding-top: 20px;">
                        <button nz-button nzType="primary" (click)="modalSearch()">
                            <span>Procurar</span>
                        </button>
                    </div>


                </div>
                <div nz-col nzXs="24" nzMd="24" class="space"></div>
                <div nz-col nzXs="24" nzMd="24" class="volunteering">
                    <div nz-row>
                        <div nz-col nzXs="24" nzMd="15" class="volunteering__font-title">
                            {{ user.experience.translations[0]?.title ? user.experience.translations[0]?.title : '-' }}
                        </div>
                        <div nz-col nzXs="24" nzMd="3">
                            <div nz-row class="volunteering__text_right">
                                Total previsto
                            </div>
                            <div nz-row class="volunteering__font-hours">
                                {{ selectedCollaborationTotals?.total_hours_experience ?
                                (selectedCollaborationTotals?.total_hours_experience | HourConvert) : '0h' }}
                            </div>
                        </div>
                        <div nz-col nzXs="24" nzMd="3">
                            <div nz-row class="volunteering__text_right">
                                Total de presenças
                            </div>
                            <div nz-row class="volunteering__font-hours">
                                {{ selectedCollaborationTotals?.total_hours_attendance ?
                                (selectedCollaborationTotals?.total_hours_attendance | HourConvert) : '0h' }}
                            </div>
                        </div>
                        <div nz-col nzXs="24" nzMd="3">
                            <div nz-row class="volunteering__text_right">
                                Total validadas
                            </div>
                            <div nz-row class="volunteering__font-hours">
                                {{ selectedCollaborationTotals?.total_hours_attendance ?
                                (selectedCollaborationTotals?.total_hours_attendance | HourConvert) : '0h' }}
                            </div>
                        </div>
                    </div>
                </div>
            </nz-spin>

            <div nz-col nzXs="24" nzMd="24">
                <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
            </div>
        </nz-tab>
    </nz-tabset>
    <ng-template #contentTpl>
        <div *ngIf="('volunteering:attendances:list' | hasPermission) || ('volunteering:monthly-reports:list' | hasPermission)"
            nz-col [nzSpan]="24" style="padding-top: 20px;">
            <nz-tabset *ngIf="userInterests.length>0" [nzSelectedIndex]="0" nzType="card" nzHideAdd>
                <nz-tab nzTitle="Registo de presenças">
                    <fi-sas-attendance-list [userInterestId]="selectedUserInterest.id"></fi-sas-attendance-list>
                </nz-tab>
            </nz-tabset>
            <div nz-col [nzSpan]="24" *ngIf="userInterests.length==0" class="volunteering">
                <nz-empty></nz-empty>
            </div>

        </div>
    </ng-template>
</div>



<nz-modal [(nzVisible)]="isStudentEvaluationReportVisible" [nzTitle]="'Relatório de avaliação do estudante'" [nzWidth]="900"
    [nzFooter]="modalFooter" (nzOnCancel)="closeStudentEvaluationReport()">
    <div nz-row nzType="flex" class="actions" nzGutter="24">
        <div nz-col nzSpan="4">
            Avaliação:
        </div>
        <div nz-col nzSpan="20">
            {{ selectedUserInterest?.student_avaliation ? selectedUserInterest?.student_avaliation : 'Sem avaliação disponível' }}
        </div>
        <div nz-col nzSpan="24" style="margin-top: 20px;">
            <a nz-button href="{{ studentEvaluationFileUrl }}" target="_blank" nzType="link" [class.disabled]="!studentEvaluationFileUrl">Ver anexo</a>
        </div>
    </div>
    <ng-template #modalFooter>
        <button nz-button nzType="primary" (click)="closeStudentEvaluationReport()">Fechar</button>
    </ng-template>
</nz-modal>