@import "theme";

.btn {
    &__success {
        background-color:  lighten(green, 10%);
    }
    &__warning {
        background-color: lighten(red, 30%);
    }
    &__fail {
        background-color: lighten(red, 10%);        
    }
    &__info {
        background-color: lighten(blue, 30%);        
    }
}

.content-filter {
    background: white;
    padding: 24px 54px 24px 54px;
    margin: 8px;
    
    input {
        width: 100%;
    }

    nz-select {
        width: 100%;
    }

    .search_button {
        text-align: right;
        
        &__button {
            margin-top: 24px;
        }
    }
}

.content-bulk {
    background: white;
    padding: 24px 54px 24px 54px;
    margin: 8px;

    &__option {
        margin-left: 16px;
    }
}

.content-table {
    margin: 8px;

    nz-table {
    }
    
    .table {
        &__header {
            th {
            background: white;
            color: var(--primary-6);
                font-weight: 700;
            }

            & > th:first-child {
                border-top-left-radius: 2px !important;
            }
            
            & > th:last-child {
                border-top-right-radius: 2px !important;
            }
        }
        
        tr {

            /*td {
                color: var(--text-color);
            }*/

            background: white !important;
        }

        &__actions {
            display: flex;

            button {
                border: none;
            }

            button:not(:first-child){
                margin-left: 8px;
            }
        }
    }

    .options_button {
        color: var(--text-color);
        font-size: 22px;
    }
}