<!-- <div nz-row nzType="flex" nzJustify="start" nzAlign="middle" class="content-filter">
  <div nz-col nzSpan="21">
    <div nz-row nzType="flex" nzGutter="8">
      <div nz-col nzSpan="6">
        <p>Procurar:</p>
        <input nz-input [(ngModel)]="filters.search" id="search" name="search" placeholder="Procurar">
      </div>
      <div nz-col nzSpan="6" *ngIf="">
      </div>
    </div>
  </div>
  <div nz-col nzSpan="3" class="search_button">
    <button nz-button nzType="primary" class="search_button__button" (click)="searchData(true)">Filtrar</button>
  </div>
</div>

<div nz-row *ngIf="isIndeterminate || isAllDisplayDataChecked" class="content-bulk">
  <button nz-button nzType="primary" nzSize="small"  class="content-bulk__option btn__success"  (click)="validate()" [nzLoading]="validateLoading" ><i nz-icon nzType="check"></i>Confirmar</button>
  <button nz-button nzType="primary" nzSize="small"  class="content-bulk__option btn__fail"  [nzLoading]="validateLoading" ><i nz-icon nzType="stop"></i>Rejeitar</button>
</div>


<div class="content-table">
  <nz-table [nzScroll]="{ x: '240px' }" class="table" #refTable [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)"
    [nzLoading]="loading" [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true"  nzSize="small"
    [nzTotal]="totalData" [(nzPageSize)]="pageSize" (nzPageIndexChange)="pagination()"
    (nzPageSizeChange)="pagination(true)"  [nzScroll]="{ x: tableXSize(), y: '500px' }">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <th ></th>
        <th nzShowSort nzSortKey="student_number">Num Estudante</th>
        <th nzShowSort nzSortKey="full_name">Nome</th>
        <th nzShowSort nzSortKey="has_scholarship">Bolseiro</th>
        <th nzShowSort nzSortKey="assigned_residence_id">Residência</th>
        <th nzShowSort nzSortKey="room_id">Quarto</th>
        <th nzShowSort nzSortKey="start_date">Data Início</th>
        <th nzShowSort nzSortKey="end_date">Data fim</th>
        <th nzShowSort nzSortKey="next_period">Proximo periodo</th>
        <th nzShowSort nzSortKey="regime_id">Regime</th>
        <th nzShowSort nzSortKey="total_unbilled">Total por vereficar</th>
        <th nzShowSort nzSortKey="total_unpaid">Total por pagar</th>
        <th nzShowSort nzSortKey="billing_status">Estado</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">
        <tr>
          <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>

          <td>{{ data.student_number}}</td>
          <td>{{ data.full_name}}</td>
          <td><fi-sas-tag [value]="data.has_scholarship"></fi-sas-tag></td>
          <td *ngIf="showResidence">{{ data.assignedResidence.name}}</td>
          <td>{{ data.room.name}}</td>
          <td>{{ data.start_date | date }}</td>
          <td>{{ data.end_date | date}}</td>
          <td>{{ data.next_period | date: 'MMM-yyyy'}}</td>
          <td>{{ data.regime.billing_name}}</td>
          <td>{{ data.total_unbilled }} €</td>
          <td>{{ data.total_unpaid }} €</td>
          <td><fi-sas-tag [value]="data.billing_status" [results]="BillingStatusResult"></fi-sas-tag></td>

          <td>
            <div class="table__actions">
              <button nz-button nz-tooltip nzType="primary" nzSize="small" class="btn__success" nzTitle="Confirmar" (click)="validate(data.id)"  [nzLoading]="validateLoading"><i nz-icon nzType="check"></i></button>
              <button nz-button nz-tooltip nzType="primary" nzSize="small" class="btn__fail" nzTitle="Rejeitar" [nzLoading]="validateLoading"><i nz-icon nzType="stop"></i></button>
            </div>
          </td>
        </tr>

        <tr [nzExpand]="mapOfExpandData[data.id]">
          <td [attr.colspan]="15">
            <fi-sas-application-billings *ngIf="mapOfExpandData[data.id]" [application_id]="data.id" [billingItems]="data.billingItems"></fi-sas-application-billings>
          </td>
        </tr>

      </ng-template>
    </tbody>
  </nz-table>
</div> -->