<div class="container">
    <nz-table [nzScroll]="{ x: '240px' }" class="content-table"  #refTable [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)"
        [nzLoading]="loading" [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true"
        [nzTotal]="totalData" [(nzPageSize)]="pageSize" (nzPageIndexChange)="pagination()"
        (nzPageSizeChange)="pagination(true)">
        <thead (nzSortChange)="sort($event)" nzSingleSort>
            <tr class="table__header">
                <th> Descrição (PT)</th>
                <th> Descrição (EN)</th>
                <th nzShowSort nzSortKey="external_ref"> Referência externa</th>
                <th nzShowSort nzSortKey="active"> Ativo</th>
                <th nzRight="0px"
                    *ngIf="('authorization:document-types:update' | hasPermission) || ('authorization:document-types:delete' | hasPermission)">
                    Ações</th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-data [ngForOf]="refTable.data">

                <tr>
                    <td>{{validTranslateDescription(3,data.translations)}}</td>
                    <td>{{validTranslateDescription(4,data.translations)}}</td>
                    <td>{{data.external_ref}}</td>
                    <td><fi-sas-tag [value]="data?.active"></fi-sas-tag></td>
                    <td
                        *ngIf="('authorization:document-types:update' | hasPermission) || ('authorization:document-types:delete' | hasPermission)">
                        <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
                            nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <ul nz-menu>
                                <li nz-menu-item *ngIf="('authorization:document-types:update' | hasPermission)"
                                    [routerLink]="['/users', 'document-type', 'edit', data.id]">Editar</li>
                                <li nz-menu-item *ngIf="('authorization:document-types:delete' | hasPermission)"
                                    (click)="deleteDocumentType(data.id)">Eliminar</li>
                            </ul>
                        </nz-dropdown-menu>
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </nz-table>
</div>