<section class="cart-cancel">
  <div class="cart-cancel__content">
    <h1>{{ 'CART.CANCEL.TITLE' | translate }}</h1>
    <div class="display-three">
      {{ 'CART.CANCEL.DESCRIPTION' | translate }}
    </div>
  </div>

  <div class="cart-cancel__bottom" routerLink="/dashboard">
    {{ 'CART.CANCEL.BACK' | translate }}
    <span>{{ this.seconds }} {{ 'CART.CANCEL.SECONDS' | translate }}</span>
  </div>
</section>
