<form nz-form [formGroup]="regimeExtrasChangeForm">
  <div nz-row *ngIf="type=='REGIME'">
    <div nz-col>
      <nz-form-item>
        <nz-form-label nzFor="regime_id">Regime</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="regime_id" nzShowSearch>
            <nz-option *ngFor="let regime of regimes" [nzLabel]="(regime.regime.translations | translation).name"
              [nzValue]="regime.regime.id" [nzDisabled]="!regime.regime.active">
            </nz-option>
          </nz-select>
          <nz-form-explain *ngIf="f?.regime_id.dirty && f?.regime_id.errors">Selecione um
            regime</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row *ngIf="type=='EXTRA'">
    <div nz-col>
      <nz-form-item>
        <nz-form-label nzFor="extras">Extras</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="extra_ids" name="extra_ids" nzMode="multiple">
            <nz-option *ngFor="let extra of extras" [nzLabel]="(extra?.extra?.translations | translation).name"
              [nzValue]="extra?.extra?.id">
            </nz-option>
          </nz-select>
          <nz-form-explain *ngIf="f?.extra_ids.dirty && f?.extra_ids.errors">Verifique os extras
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="start_date">
          <span class="content__title">
            Data de início
          </span>
        </nz-form-label>
        <nz-form-control [nzErrorTip]="error_start_date">
          <nz-date-picker class="primary-datePicker" formControlName="start_date" [nzDisabledDate]="disabledDate">
          </nz-date-picker>
          <ng-template #error_start_date let-control>
            <ng-container class="error" *ngIf="f?.start_date.dirty && f?.start_date.errors">
              Campo obrigatório
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="full_name">
          <span class="content__title">
            Justificação
          </span>
        </nz-form-label>
        <nz-form-control [nzErrorTip]="error_reason">
          <input class="primary-input" formControlName="reason" nz-input id="reason" />
          <ng-template #error_reason let-control>
            <ng-container class="error" *ngIf="f.reason.dirty && f.reason.errors">
              Campo obrigatório
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>