<div class="fifteen-day">
  <div class="fifteen-day__top-line" *ngIf="showTopBorder"></div>
  <div nz-row>
    <div nz-col nzSpan="1">&nbsp;</div>
    <div nz-col nzSpan="19">

      <perfect-scrollbar  [config]="{useBothWheelAxes: true, suppressScrollX: false, suppressScrollY: false}">
      
        <div #content class="fifteen-day__wrap fifteen-day__slide">

          <ng-container *ngFor="let day of next15Days; index as i">

            <div (click)="selectDay(i, day)"
              [ngClass]="{'active': ((day.date === selectedDay) && (day.weekDay % 6 !== 0))}"
              class="fifteen-day__day">
              <div class="fifteen-day__name">

                <!-- today -->
                <ng-container *ngIf="(i===0) && (day.weekDay % 6 !== 0)">
                  {{ 'DAY.FIFTEEN.TODAY' | translate }}
                </ng-container>

                <!-- tomorrow -->
                <ng-container *ngIf="(i===1) && (day.weekDay % 6 !== 0)">
                  {{ 'DAY.FIFTEEN.TOMORROW' | translate }}
                </ng-container>

                <!-- weekend days -->
                <ng-container *ngIf="day.weekDay % 6 === 0">
                  {{ day.date | date: 'EEEE' : null : locale }}
                </ng-container>

                <!-- week days -->
                <ng-container *ngIf="(i > 1) && (day.weekDay % 6 !== 0)">
                  {{ day.date | date: 'EEEE' : null : locale }}
                </ng-container>

              </div>
              <div class="fifteen-day__date">
                {{ day.date | date: 'dd MMM yyyy' : null : locale }}
              </div>
              <div *ngIf="day.date===selectedDay" class="fifteen-day__select"></div>
            </div>

          </ng-container>

        </div>

      </perfect-scrollbar>

    </div>
  </div>
  <div class="fifteen-day__bottom-line" *ngIf="showBottomBorder"></div>
</div>