<div class="container">
  <nz-table class="content-table" #refTable [nzScroll]="{ x: '240px' }" [nzData]="data"
  (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
  [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
  (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th nzShowSort nzSortKey="academic_year">Ano letivo</th>
        <th nzShowSort nzSortKey="application_phase">Fase nº</th>
        <th nzShowSort nzSortKey="start_date">Data início</th>
        <th nzShowSort nzSortKey="end_date">Data fim</th>
        <th nzShowSort nzSortKey="out_of_date_from">Fora de prazo em</th>
        <th nzShowSort nzSortKey="out_of_date_validation">Fora de prazo pela data de matrícula</th>
        <th nzShowSort nzSortKey="out_of_date_validation_days">Dias após data de matricula</th>
        <th>Estado</th>
        <th nzRight="0px"
          *ngIf="('accommodation:application-phases:create' | hasPermission) || ('accommodation:application-phases:delete' | hasPermission)">
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">
        <tr>
          <td>{{ data.academic_year}}</td>
          <td>{{ data.application_phase}}</td>
          <td>{{ data.start_date | date: 'fullDate'}} - {{ data.start_date | date: 'HH:mm'}}h </td>
          <td>{{ data.end_date | date: 'fullDate'}} - {{ data.end_date | date: 'HH:mm'}}h</td>
          <td>{{ data.out_of_date_from | date: 'fullDate'}}</td>
          <td> <fi-sas-tag [value]="data.out_of_date_validation" [results]="YesNoTag"></fi-sas-tag></td>
          <td>{{ data.out_of_date_validation_days}}</td>
          <td>
            <fi-sas-tag [value]="phaseValue(data)" [results]="phaseResult(data)"></fi-sas-tag>
          </td>
          <td nzRight="0px"
            *ngIf="('accommodation:application-phases:create' | hasPermission) || ('accommodation:application-phases:delete' | hasPermission)">
            <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
              nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item *ngIf="'accommodation:application-phases:create' | hasPermission"
                  [routerLink]="['/accommodation', 'phases', 'edit', data.id]">Editar</li>
                <li nz-menu-item *ngIf="'accommodation:application-phases:delete' | hasPermission"
                  (click)="deletePhase(data.id)">Eliminar</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      </ng-template>
     
    </tbody>
  </nz-table>
</div>