<div class="content--padding white">
    <nz-spin [nzSpinning]="isLoading">
        <form nz-form [formGroup]="formCreate">
            <div nz-row>
                <nz-form-item>
                    <nz-form-label nzRequired>Descrição</nz-form-label>
                    <nz-form-control>
                        <input formControlName="description" nz-input type="text">
                        <nz-form-explain class="color-required" *ngIf="submitted && f.description.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-row>
                <nz-form-label nzRequired>Perfis</nz-form-label>
                <nz-form-control>
                    <nz-select formControlName="profile_ids" name="profile_ids" nzMode="multiple" [nzLoading]="profilesLoading">
                    <nz-option *ngFor="let profile of profiles" [nzLabel]="profile.name"
                    [nzValue]="profile.id">
                    </nz-option>
                    </nz-select>
                    <nz-form-explain class="color-required" *ngIf="submitted && f.profile_ids.errors">
                        Campo obrigatório
                    </nz-form-explain>
                </nz-form-control>
            </div>
            <div nz-row>
                <div nz-col [nzSpan]="10">
                    <nz-form-item>
                        <nz-form-label nzRequired>Bolsa</nz-form-label>
                        <nz-form-control>
                            <nz-switch formControlName="is_scolarship">
                            </nz-switch>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </nz-spin>
</div>

<div class="space" nz-row>
  <button *ngIf="isEdit" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="isLoading" [disabled]="isLoading"
    (click)="submit()" class="button-submit"
    [nzType]="'primary'">{{isEdit ? 'Editar' : 'Criar'}}</button>
</div>