
.container {
    background: white;
    padding: 24px 30px 24px 30px;
    margin-bottom: 5px;
    &__title {
        font-size: 16px;
        line-height: 22px;
        margin: 0px;
        font-weight: bold;
        margin-bottom:10px;
        color:black;
    }
    &__subtitle{
      margin-bottom:5px;
    }
}

.space{
    background-color: #F2F2F2;
    padding-top:20px;
    padding-bottom: 20px;
    text-align: right
}

.color-required{
    color:red;
}

.button-submit{
    margin-left: 20px;
}
