<div class="container">
    <form [formGroup]="categoryForm" nzLayout="vertical">
        <nz-spin [nzSpinning]="languagesLoading">
            <div nz-row>
                <ng-container formArrayName="translations">
                    <div *ngFor="let translation of translations.controls; let i = index;" nz-col nzXs="24" nzMd="12"
                        style="padding-right: 20px ;" [formGroupName]="i">
                        <nz-form-item>
                            <nz-form-label nzRequired [nzFor]="'translations.' + i + '.name'">{{
                                'Nome [' + (languages[i].acronym | uppercase) + ']'
                                }}</nz-form-label>

                            <ng-template #suffixTemplateName>
                                <i *ngIf="i > 0" nz-icon nz-tooltip type="copy" nzTheme="outline"
                                    nzTitle="Copiar de PT para EN" style="cursor: pointer;"
                                    (click)="copyField('name', i)"></i>
                            </ng-template>

                            <nz-form-control nzErrorTip="Campo obrigatório">
                                <nz-input-group [nzSuffix]="suffixTemplateName">
                                    <input type="text" nz-input formControlName="name">
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label nzRequired [nzFor]="'translations.' + i + '.description'">{{
                                'Descrição [' + (languages[i].acronym | uppercase) + ']'
                                }}</nz-form-label>

                            <ng-template #suffixTemplateDescription>
                                <i *ngIf="i > 0" nz-icon nz-tooltip type="copy" nzTheme="outline"
                                    nzTitle="Copiar de PT para EN" style="cursor: pointer;"
                                    (click)="copyField('description', i)"></i>
                            </ng-template>

                            <nz-form-control nzErrorTip="Campo obrigatório">
                                <nz-input-group [nzSuffix]="suffixTemplateDescription">
                                    <textarea maxlength="255" nz-input rows="2"
                                        formControlName="description" [nzAutosize]="{ minRows: 2, maxRows: 10 }"></textarea>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </ng-container>
            </div>
        </nz-spin>

        <div nz-row style="padding-top: 20px;">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
                <nz-form-item>
                    <nz-form-label nzRequired>
                        Cor
                    </nz-form-label>
                    <nz-form-control nzErrorTip="Campo obrigatório">
                        <input nz-input formControlName="color" type="color" />
                    </nz-form-control>

                </nz-form-item>
            </div>
        </div>

        <div nz-row style="padding-top: 20px;">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
                <nz-form-item>
                    <nz-form-label nzRequired>
                        Ativo
                    </nz-form-label>
                    <nz-form-control nzErrorTip="Campo obrigatório">
                        <nz-switch formControlName="active">
                        </nz-switch>
                    </nz-form-control>

                </nz-form-item>


            </div>
        </div>


    </form>

</div>

<div class="space">
    <button *ngIf="idEdit != undefined" nz-button (click)="backList()">Voltar</button>
    <button nz-button [nzLoading]="loading" [disabled]="loading"
        (click)="idEdit != undefined ? submit(true) : submit(false)" class="button-submit" [nzType]="'primary'">{{idEdit
        != undefined ? 'Editar' : 'Criar'}}</button>
</div>