<form nz-form [formGroup]="optionsGroup" nzLayout="vertical">
  <nz-form-control>
    <nz-form-label nzFor="residence_id" nzRequired>Residência</nz-form-label>
    <nz-select name="residence_id" class="w-100" formControlName="residence_id" name="residence_id">
      <nz-option *ngFor="let residence of residences" [nzLabel]="residence.name" [nzValue]="residence.id">
      </nz-option>
    </nz-select>
  </nz-form-control>

  <nz-form-control>
    <nz-form-label nzFor="date" nzRequired>Mês</nz-form-label>
    <nz-month-picker formControlName="date" name="date" nzPlaceHolder="Selecione um mês"></nz-month-picker>
  </nz-form-control>

  <nz-form-control>
    <nz-form-label nzFor="operation" nzRequired>Operação</nz-form-label>
    <nz-select name="operation" formControlName="operation" name="operation">
      <nz-option nzLabel="Validar" nzValue="REVIEW"> </nz-option>
      <nz-option nzLabel="Cancelar" nzValue="CANCEL"> </nz-option>
    </nz-select>
  </nz-form-control>
</form>