<div class="content">
  <form nz-form [formGroup]="ownerApplicationForm">
    <div nz-row>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="name">Nome</nz-form-label>
        <nz-form-control nzErrorTip="Campo obrigatório">
          <input nz-input formControlName="name" id="name" name="name" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-row>
      <nz-form-item>
        <nz-form-label nzFor="gender">Género</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="gender">
            <label *ngFor="let gender of genders" nz-radio nzValue="{{ gender.value}}"><span>
                {{ gender.label }}</span>
            </label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-row>
      <nz-form-item>
        <nz-form-label nzFor="birth_date">Data de nascimento</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="birth_date" [nzDisabledDate]="disableFutureDates" id="birth_date">
          </nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-row>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzFor="identification">
              Documento de identificação
          </nz-form-label>
          <nz-form-control>
            <nz-select formControlName="document_type_id" [nzMode]="'default'" nzShowSearch nzAllowClear
               class="primary-select">
              <ng-container *ngFor="let type of documentTypes">
                <nz-option [nzValue]="type.id" [nzLabel]="(type?.translations | translation).description">
                </nz-option>
              </ng-container>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="0" nzMd="2"></div>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzFor="identification">Identificação</nz-form-label>
          <nz-form-control>
            <input nz-input mask="00000000" formControlName="identification" id="identification" name="identification"/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="tin">NIF / TIN</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input mask="000000000" formControlName="tin" id="tin" name="tin" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="0" nzMd="2"></div>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzFor="nationality">
              Nacionalidade
          </nz-form-label>
          <nz-form-control>
            <nz-select class="primary-select" formControlName="nationality" id="nationality" nzShowSearch>
              <nz-option *ngFor="let nati of nationalities" [nzLabel]="nati.translate" [nzValue]="nati.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="email">Email</nz-form-label>
          <nz-form-control nzErrorTip="Email inválido">
            <input nz-input formControlName="email" id="email" name="email" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="0" nzMd="2"></div>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="phone">Contacto</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="phone" id="phone" name="phone"/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="address">Morada</nz-form-label>
        <nz-form-control nzErrorTip="Campo obrigatório">
          <input nz-input formControlName="address" id="address" name="address" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-row>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="postal_code">Código Postal</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="postal_code" id="postal_code" name="postal_code"[dropSpecialCharacters]="false" mask="0000-000" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="0" nzMd="2"></div>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="city">Cidade</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="city" id="city" name="city" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="country">País</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <nz-select nzMode="default" nzShowSearch formControlName="country" id=country>
              <nz-option *ngFor="let country of countries" [nzLabel]="country.value" [nzValue]="country.translate">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="description">Descrição</nz-form-label>
        <nz-form-control nzErrorTip="Campo obrigatório">
          <textarea maxlength="255" rows="4" nz-input formControlName="description" id="description" name="description"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-row>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="issues_receipt">Emite Recibo</nz-form-label>
        <nz-form-control nzErrorTip="Campo obrigatório">
          <nz-switch formControlName="issues_receipt" id="issues_receipt" name="issues_receipt"
            nzCheckedChildren="Sim" nzUnCheckedChildren="Não">
          </nz-switch>
        </nz-form-control>
      </nz-form-item>
    </div>

  </form>
</div>

<div class="space" nz-row>
  <button nz-button [nzLoading]="ownerLoading" [disabled]="ownerLoading" (click)="submit(ownerApplicationForm.valid, ownerApplicationForm.value)" 
      [nzType]="'primary'">{{idToUpdate ? 'Editar' : 'Criar'}}</button>
</div>