<nz-spin [nzSpinning]="loading">
  <nz-tabset nzTabPosition="left">
    <nz-tab nzTitle="Despacho" *ngIf="data?.status === 'DISPATCH'">
      <fi-sas-dispatch-decision-card
        [decision]="
          status[decisionToStateMapper[data?.decision?.toUpperCase()]]?.label
        "
        (onReject)="dispatchChangeStatues(data, false)"
        (onApprove)="dispatchChangeStatues(data, true)"
      ></fi-sas-dispatch-decision-card>
    </nz-tab>
    <nz-tab nzTitle="Perfil">
      <div nz-row nzType="flex" nzJustify="start">
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
          class="padding-top-20"
        >
          <div nz-row class="title">Nome</div>
          <div nz-row class="detail-field">
            {{ data?.application.name }}
          </div>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
          class="padding-top-20"
        >
          <div nz-row class="title">Género</div>
          <div nz-row class="detail-field">
            {{
              data?.user?.gender === 'M'
                ? 'Masculino'
                : data?.user?.gender === 'F'
                ? 'Feminino'
                : 'Outro'
            }}
          </div>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
          class="padding-top-20"
        >
          <div nz-row class="title">Data de nascimento</div>
          <div nz-row class="detail-field">
            {{ data?.application.birthdate | date: 'dd/MM/yyyy' }}
          </div>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
          class="padding-top-20"
        >
          <div nz-row class="title">Nacionalidade</div>
          <div nz-row class="detail-field">
            {{ data?.application.nationality }}
          </div>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
          class="padding-top-20"
        >
          <div nz-row class="title">Morada</div>
          <div nz-row class="detail-field">
            {{ data?.application.address }}
          </div>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
          class="padding-top-20"
        >
          <div nz-row class="title">Código Postal</div>
          <div nz-row class="detail-field">
            {{ data?.application.code_postal }}
          </div>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
          class="padding-top-20"
        >
          <div nz-row class="title">Localidade</div>
          <div nz-row class="detail-field">
            {{ data?.application.location }}
          </div>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
          class="padding-top-20"
        >
          <div nz-row class="title">NIF</div>
          <div nz-row class="detail-field">
            {{ data?.application.tin }}
          </div>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
          class="padding-top-20"
        >
          <div nz-row class="title">Cartão de Cidadão</div>
          <div nz-row class="detail-field">
            {{ data?.application.identification_number }}
          </div>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
          class="padding-top-20"
        >
          <div nz-row class="title">Número</div>
          <div nz-row class="detail-field">
            {{ data?.application.student_number }}
          </div>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
          class="padding-top-20"
        >
          <div nz-row class="title">Ano Curricular</div>
          <div nz-row class="detail-field">
            {{ data?.application.course_year }}
          </div>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
          class="padding-top-20"
        >
          <div nz-row class="title">Ano Lectivo</div>
          <div nz-row class="detail-field">
            {{ data?.application.academic_year }}
          </div>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
          class="padding-top-20"
        >
          <div nz-row class="title">Curso</div>
          <div nz-row class="detail-field">
            {{ data?.application?.course?.name }}
          </div>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
          class="padding-top-20"
        >
          <div nz-row class="title">Escola</div>
          <div nz-row class="detail-field">
            {{
              data?.application.school ? data?.application.school.name : '--'
            }}
          </div>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
          class="padding-top-20"
        >
          <div nz-row class="title">Email</div>
          <div nz-row class="detail-field">
            {{ data?.application.email }}
          </div>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
          class="padding-top-20"
        >
          <div nz-row class="title">Telefone</div>
          <div nz-row class="detail-field">
            {{ data?.application.phone }}
          </div>
        </div>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Candidatura">
      <div nz-row nzType="flex" nzJustify="start">
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="24"
          nzLg="24"
          nzXl="24"
          class="padding-top-20"
        >
          <div nz-row class="title">Disponível para realizar atividades em</div>
          <div nz-row class="detail-field">
            <span
              *ngFor="
                let organic_unit of data?.application?.organic_units;
                let last = last
              "
              class="box"
            >
              {{ organic_unit.organic_unit?.name }}{{ !last ? ', ' : '' }}
            </span>
          </div>
        </div>
        <div
          *ngIf="data.application?.area_interests"
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="24"
          nzLg="24"
          nzXl="24"
          class="padding-top-20"
        >
          <div nz-row class="title">Área de interesse</div>
          <div nz-row class="detail-field">
            <span
              *ngFor="
                let interest_area of data.application?.area_interests;
                let last = last
              "
              class="box"
            >
              {{ interest_area?.area_interest.translations[0].description
              }}{{ !last ? ', ' : '' }}
            </span>
          </div>
        </div>
        <div
          *ngIf="data.application?.skills"
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="24"
          nzLg="24"
          nzXl="24"
          class="padding-top-20"
        >
          <div nz-row class="title">Competências</div>
          <div nz-row class="detail-field">
            <span
              *ngFor="let skill of data.application?.skills; let last = last"
              class="box"
            >
              {{ skill?.skill.translations[0].description
              }}{{ !last ? ', ' : '' }}
            </span>
          </div>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="24"
          nzLg="24"
          nzXl="24"
          class="padding-top-20"
        >
          <div nz-row class="title">Colaborou no ano passado?</div>
          <div nz-row class="detail-field">
            <fi-sas-tag
              [value]="data.application?.has_collaborated_last_year"
            ></fi-sas-tag>
          </div>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="24"
          nzLg="24"
          nzXl="24"
          class="padding-top-20"
        >
          <div nz-row class="title">Qual atividade</div>
          <div nz-row class="detail-field">
            {{
              data.application?.previous_activity_description
                ? data.application?.previous_activity_description
                : '-'
            }}
          </div>
        </div>

        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="24"
          nzLg="24"
          nzXl="24"
          class="padding-top-20"
        >
          <div class="row-details" nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
              <span class="detail-field">Horário:</span>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
              <div nz-row>
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
                  <nz-table
                    class="schedule"
                    [nzData]="['application.preferred_schedule']"
                    [nzShowPagination]="false"
                    [nzScroll]="{ x: '100px' }"
                  >
                    <thead>
                      <tr>
                        <th></th>
                        <th>segunda</th>
                        <th>terça</th>
                        <th>quarta</th>
                        <th>quinta</th>
                        <th>sexta</th>
                        <th>sábado</th>
                        <th>domingo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="schedule--period-day">Manhã</td>
                        <td>
                          <i
                            nz-icon
                            [nzType]="'check-square'"
                            *ngIf="filterSchedule(4)"
                            [nzTheme]="'outline'"
                          ></i>
                        </td>
                        <td>
                          <i
                            nz-icon
                            [nzType]="'check-square'"
                            *ngIf="filterSchedule(7)"
                            [nzTheme]="'outline'"
                          ></i>
                        </td>
                        <td>
                          <i
                            nz-icon
                            [nzType]="'check-square'"
                            *ngIf="filterSchedule(10)"
                            [nzTheme]="'outline'"
                          ></i>
                        </td>
                        <td>
                          <i
                            nz-icon
                            [nzType]="'check-square'"
                            *ngIf="filterSchedule(13)"
                            [nzTheme]="'outline'"
                          ></i>
                        </td>
                        <td>
                          <i
                            nz-icon
                            [nzType]="'check-square'"
                            *ngIf="filterSchedule(16)"
                            [nzTheme]="'outline'"
                          ></i>
                        </td>
                        <td>
                          <i
                            nz-icon
                            [nzType]="'check-square'"
                            *ngIf="filterSchedule(19)"
                            [nzTheme]="'outline'"
                          ></i>
                        </td>
                        <td>
                          <i
                            nz-icon
                            [nzType]="'check-square'"
                            *ngIf="filterSchedule(1)"
                            [nzTheme]="'outline'"
                          ></i>
                        </td>
                      </tr>

                      <tr>
                        <td class="schedule--period-day">Tarde</td>
                        <td>
                          <i
                            nz-icon
                            [nzType]="'check-square'"
                            *ngIf="filterSchedule(5)"
                            [nzTheme]="'outline'"
                          ></i>
                        </td>
                        <td>
                          <i
                            nz-icon
                            [nzType]="'check-square'"
                            *ngIf="filterSchedule(8)"
                            [nzTheme]="'outline'"
                          ></i>
                        </td>
                        <td>
                          <i
                            nz-icon
                            [nzType]="'check-square'"
                            *ngIf="filterSchedule(11)"
                            [nzTheme]="'outline'"
                          ></i>
                        </td>
                        <td>
                          <i
                            nz-icon
                            [nzType]="'check-square'"
                            *ngIf="filterSchedule(14)"
                            [nzTheme]="'outline'"
                          ></i>
                        </td>
                        <td>
                          <i
                            nz-icon
                            [nzType]="'check-square'"
                            *ngIf="filterSchedule(17)"
                            [nzTheme]="'outline'"
                          ></i>
                        </td>
                        <td>
                          <i
                            nz-icon
                            [nzType]="'check-square'"
                            *ngIf="filterSchedule(20)"
                            [nzTheme]="'outline'"
                          ></i>
                        </td>
                        <td>
                          <i
                            nz-icon
                            [nzType]="'check-square'"
                            *ngIf="filterSchedule(2)"
                            [nzTheme]="'outline'"
                          ></i>
                        </td>
                      </tr>

                      <tr>
                        <td class="schedule--period-day">Noite</td>
                        <td>
                          <i
                            nz-icon
                            [nzType]="'check-square'"
                            *ngIf="filterSchedule(6)"
                            [nzTheme]="'outline'"
                          ></i>
                        </td>
                        <td>
                          <i
                            nz-icon
                            [nzType]="'check-square'"
                            *ngIf="filterSchedule(9)"
                            [nzTheme]="'outline'"
                          ></i>
                        </td>
                        <td>
                          <i
                            nz-icon
                            [nzType]="'check-square'"
                            *ngIf="filterSchedule(12)"
                            [nzTheme]="'outline'"
                          ></i>
                        </td>
                        <td>
                          <i
                            nz-icon
                            [nzType]="'check-square'"
                            *ngIf="filterSchedule(15)"
                            [nzTheme]="'outline'"
                          ></i>
                        </td>
                        <td>
                          <i
                            nz-icon
                            [nzType]="'check-square'"
                            *ngIf="filterSchedule(18)"
                            [nzTheme]="'outline'"
                          ></i>
                        </td>
                        <td>
                          <i
                            nz-icon
                            [nzType]="'check-square'"
                            *ngIf="filterSchedule(21)"
                            [nzTheme]="'outline'"
                          ></i>
                        </td>
                        <td>
                          <i
                            nz-icon
                            [nzType]="'check-square'"
                            *ngIf="filterSchedule(3)"
                            [nzTheme]="'outline'"
                          ></i>
                        </td>
                      </tr>
                    </tbody>
                  </nz-table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="data.application?.language_skills"
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="24"
          nzLg="24"
          nzXl="24"
          class="padding-top-20"
        >
          <div nz-row class="title">Línguas</div>
          <div nz-row class="detail-field">
            <span
              *ngFor="
                let language of data.application?.language_skills;
                let last = last
              "
              class="box"
            >
              {{ language }}{{ !last ? ', ' : '' }}
            </span>
          </div>
        </div>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Experiência profissional">
      <div nz-row nzType="flex" nzJustify="start">
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
          class="padding-top-20"
        >
          <div nz-row class="title">Experiência profissional</div>
          <div nz-row class="detail-field">
            <fi-sas-tag
              [value]="data.application?.has_profissional_experience"
            ></fi-sas-tag>
          </div>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
          class="padding-top-20"
        >
          <div nz-row class="title">Descrição da atividade</div>
          <div nz-row class="detail-field">
            {{
              data.application?.job_description
                ? data.application?.job_description
                : '-'
            }}
          </div>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
          class="padding-top-20"
        >
          <div nz-row class="title">Informação complementar</div>
          <div nz-row class="detail-field">
            {{
              data.application?.observations
                ? data.application?.observations
                : '-'
            }}
          </div>
        </div>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Inscrições">
      <div
        nz-row
        nzType="flex"
        nzJustify="start"
        *ngFor="let history of data.historic_applications"
      >
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
          class="padding-top-20"
        >
          <div nz-row class="title">Ano Académico</div>
          <div nz-row class="detail-field">
            {{ history.academic_year }}
          </div>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="18"
          nzXl="18"
          class="padding-top-20"
        >
          <div nz-row class="title"></div>
          <div nz-row class="detail-field">
            <button
              nz-button
              nzType="default"
              (click)="viewApplicationModal(history.id)"
            >
              Consultar formulário submetido
            </button>
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <nz-divider></nz-divider>
        </div>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Participações">
      <div
        nz-row
        nzType="flex"
        nzJustify="start"
        *ngFor="let historic_colaborations of data.historic_colaborations"
      >
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <p style="font-weight: bold; color: #000">
            {{ historic_colaborations.experience_translations[0]?.title }}
          </p>
        </div>

        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="6"
          nzXl="6"
          class="padding-top-20"
        >
          <div nz-row class="title">Ano letivo</div>
          <div nz-row class="detail-field">
            {{ historic_colaborations.academic_year }}
          </div>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="18"
          nzXl="18"
          class="padding-top-20"
        >
          <div nz-row class="title"></div>
          <div nz-row class="detail-field">
            <button
              nz-button
              nzType="default"
              [nzLoading]="loadingCertificate"
              (click)="
                getExperienceCertificate(
                  historic_colaborations?.user_manifest_id
                )
              "
            >
              Consultar certificado de Experiência
            </button>
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <nz-divider></nz-divider>
        </div>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Histórico de alterações">
      <div nz-row nzType="flex" nzJustify="start">
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="24"
          nzLg="24"
          nzXl="24"
          *ngFor="let history of data.history"
        >
          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="12"
            nzLg="6"
            nzXl="6"
            class="padding-top-20"
          >
            <div nz-row class="title">Estado</div>
            <div nz-row class="detail-field">
              <fi-sas-tag
                [value]="history.status"
                [results]="UsersInterestTagResult"
              ></fi-sas-tag>
            </div>
          </div>
          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="12"
            nzLg="6"
            nzXl="6"
            class="padding-top-20"
          >
            <div nz-row class="title">Data / Hora</div>
            <div nz-row class="detail-field">
              {{ history.created_at | date: 'dd/MM/yyyy h:mm:ss' }}
            </div>
          </div>
          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="12"
            nzLg="6"
            nzXl="6"
            class="padding-top-20"
          >
            <div nz-row class="title">Utilizador</div>
            <div nz-row class="detail-field">
              {{ history.user.name }}
            </div>
          </div>
          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="12"
            nzLg="6"
            nzXl="6"
            class="padding-top-20"
          >
            <div nz-row class="title">Obervações</div>
            <div nz-row class="detail-field">
              {{ history.notes }}
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-divider></nz-divider>
          </div>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>
</nz-spin>
