<div nz-row class="title">
    <label>
        Selecionar Oferta
    </label>
</div>

<div nz-row style="border-bottom: 1px solid #f0f2f5;">
    <div nz-col>
        <div nz-row>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" [nzLg]="11" [nzXl]="11" [nzXXl]="11">
                <div nz-row>
                    <nz-form-label>Título</nz-form-label>
                    <nz-form-control>
                        <input type="text" nz-input [(ngModel)]="filters.search">
                    </nz-form-control>
                </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" [nzLg]="11" [nzXl]="11" [nzXXl]="11"  class="filter">
                <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
                <i nz-icon nzType="delete" class="btn-delete filter__delete" nzTheme="outline"
                    (click)="listComplete()"></i>
            </div>
        </div>
    </div>

</div>
<div nz-row>

    <nz-table class="content-table" #refTable [nzScroll]="{ x: '240px' }" [nzData]="data"
        (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
        [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
        <thead (nzSortChange)="sort($event)" nzSingleSort>
            <tr class="table__header">
                <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
                    [nzSortKey]="column.sortKey ? column.sortKey : column.key"> {{ column.label }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-data [ngForOf]="refTable.data">
                <tr>
                    <td *ngFor="let column of columns">
                        <span *ngIf="!column.tag">{{ column.translation ? (data.translations | where:
                            ['language_id', 3]
                            )[0][column.key] : (data | flatObject)[column.key]}}</span>
                        <span *ngIf="column.template">
                            {{ column.template(data) }}
                        </span>
                    </td>

                    <td>
                        <button nz-button nzType="secundary" (click)="selectOffer(data)">Selecionar</button>
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </nz-table>
</div>