<form nz-form [formGroup]="form" *ngIf="this.form">
  <p class="title-step-form">{{ 'U_BIKE.APPLICATIONS.STEP_TWO.BICYCLE_REQUIRED' | translate }}</p>

  <!-----------typology_first_preference------------->
  <nz-form-item>
    <nz-form-label nzRequired nzFor="typology_first_preference_id">
      <b> {{ 'U_BIKE.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.TYPOLOGY_FIRST_PREFERENCE.TITLE' | translate }}</b>
    </nz-form-label>
    <div class="desc-title-form">
      {{ 'U_BIKE.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.TYPOLOGY_FIRST_PREFERENCE.DESC' | translate }}
    </div>
    <nz-form-control>
      <nz-radio-group class="primary-radio radio-group" formControlName="typology_first_preference_id">
        <label *ngFor="let typology of dataTypology" nz-radio [nzValue]="typology.id" class="radio-line"
          ><span> {{ typology.name }}</span></label
        >
      </nz-radio-group>
      <nz-form-explain class="error" *ngIf="hasErrors('typology_first_preference_id')">
        {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <!-----------other_typology_preference------------->
  <div nz-row class="margin-top-20">
    <nz-form-item>
      <nz-form-control>
        <div class="switch">
          <div class="switch__label">
            <nz-form-label nzRequired nzFor="typology_first_preference_id">
              <b> {{ 'U_BIKE.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.OTHER_TYPOLOGY_PREFERENCE.DESC' | translate }}</b>
            </nz-form-label>
          </div>
          <br />
          <div>
            <nz-radio-group formControlName="other_typology_preference" [nzSize]="'small'">
              <label nz-radio [nzValue]="true">{{ 'MISC.YES' | translate }}</label>
              <label nz-radio [nzValue]="false">{{ 'MISC.NO' | translate }}</label>
            </nz-radio-group>
          </div>
        </div>
      </nz-form-control>
    </nz-form-item>
  </div>

  <!-----------preferred_pickup_location------------->
  <div nz-row class="margin-top-20">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="preferred_pickup_organict_unit_id">
          <b> {{ 'U_BIKE.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.PICKUP_LOCATION.TITLE' | translate }}</b>
        </nz-form-label>
        <div class="desc-title-form">
          {{ 'U_BIKE.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.PICKUP_LOCATION.DESC' | translate }}
        </div>
        <nz-form-control>
          <nz-select
            formControlName="preferred_pickup_organict_unit_id"
            class="primary-select"
            nzShowSearch
            id="preferred_pickup_organict_unit_id"
            [nzPlaceHolder]="'U_BIKE.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.PICKUP_LOCATION.TITLE' | translate"
            [ngClass]="{ error: hasErrors('preferred_pickup_organict_unit_id') }"
            [nzLoading]="organicUnitsLoading"
          >
            <nz-option
              *ngFor="let organicUnit of organicUnits"
              [nzLabel]="organicUnit.name"
              [nzValue]="organicUnit.id"
            ></nz-option>
          </nz-select>

          <nz-form-explain class="error" *ngIf="hasErrors('preferred_pickup_organict_unit_id')">
            {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!-----------start_date------------->
  <nz-form-item>
    <nz-form-label nzRequired nzFor="start_date">
      <b> {{ 'U_BIKE.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.START_DATE.TITLE' | translate }}</b>
    </nz-form-label>
    <div class="desc-title-form">
      {{ 'U_BIKE.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.START_DATE.DESC' | translate }}
    </div>
    <nz-form-control>
      <nz-date-picker
        id="startdate-form-application-ubike"
        class="primary-datePicker"
        formControlName="start_date"
        [nzDisabledDate]="disableStartDate"
        [ngClass]="{ error: hasErrors('start_date') }"
      >
      </nz-date-picker>
      <nz-form-explain class="error" *ngIf="hasErrors('start_date')">
        {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <!-----------end_date------------->
  <nz-form-item>
    <nz-form-label nzRequired nzFor="typology_first_preference_id">
      <b> {{ 'U_BIKE.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.END_DATE.TITLE' | translate }}</b>
    </nz-form-label>
    <div class="desc-title-form">
      {{ 'U_BIKE.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.END_DATE.DESC' | translate }}
    </div>
    <nz-form-control>
      <nz-date-picker
        id="enddate-form-application-ubike"
        class="primary-datePicker"
        formControlName="end_date"
        [nzDisabledDate]="disableEndDate"
        [ngClass]="{ error: hasErrors('end_date') }"
        [nzDisabled]="!(controls.start_date.value && controls.start_date.valid)"
      >
      </nz-date-picker>
      <nz-form-explain class="error" *ngIf="hasErrors('end_date')">
        {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
</form>
