<nz-card class="m-b-16" >
  <div nz-row>
    <label><b>Decisão:</b></label>
    {{ decision | titlecase }}
  </div>
  <div nz-row nzGutter="8" nzJustify="end" class="m-8">
    <div nz-col nzSpan="24">
      <button
        *ngFor="let action of actions; let last = last;"
        nz-button
        nz-popconfirm
        [hasPermission]="action.permission"
        [ngClass]="{ 'm-r-8': !last }"
        [nzCancelText]="action.cancelText"
        [nzOkText]="action.okText"
        [nzTitle]="action.title"
        [nzType]="action.btnType"
        (nzOnConfirm)="action.fn()"
      >{{ action.label }}</button>
    </div>
  </div>
</nz-card>
