<nz-tabset nzTabPosition="left">
  <nz-tab nzTitle="Utilizador">
    <nz-descriptions nzBordered  [nzSize]="'small'">
      <nz-descriptions-item nzTitle="Nome">{{data.user.name}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Num. ">{{data.user.student_number}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="NIF">{{data.user.tin}}</nz-descriptions-item>
    </nz-descriptions>
  </nz-tab>
  <nz-tab nzTitle="Pack">
    <nz-descriptions nzBordered [nzSize]="'small'">
      <nz-descriptions-item nzSpan="3" nz nzTitle="Nome [PT]">{{validPackTranslateName(3, data.pack.translations)}}</nz-descriptions-item>
      <nz-descriptions-item nzSpan="3" nzTitle="Descrição [PT]">{{validPackTranslateDescription(3, data.pack.translations)}}</nz-descriptions-item>
      <nz-descriptions-item nzSpan="3" nzTitle="Nome [EN]">{{validPackTranslateName(4, data.pack.translations)}}</nz-descriptions-item>
      <nz-descriptions-item nzSpan="3" nzTitle="Descrição [EN]">{{validPackTranslateDescription(4, data.pack.translations)}}</nz-descriptions-item>
      </nz-descriptions>
  </nz-tab>
  <nz-tab nzTitle="Refeições">
    <div nz-row>
      <div nz-col nzSpan="24">
        <button nz-button nzType="primary" nzGhost style="float:right;" (click)="loadMeals(data.id)">Carregar</button>
      </div>
    </div>

    <div *ngFor="let um of user_meals" class="user_meal" style="margin-bottom: 8px;">
      <nz-descriptions nzBordered [nzSize]="'small'">
        <nz-descriptions-item nzSpan="3" nz nzTitle="Reservada"><fi-sas-tag [value]="um['reserved']" [results]="YesNoTag"></fi-sas-tag></nz-descriptions-item>
        <nz-descriptions-item nzSpan="3" nz nzTitle="Data">{{um.date | date : 'dd/MM/yyyy'}}</nz-descriptions-item>
        <nz-descriptions-item nzSpan="3" nz nzTitle="Refeição">{{ um?.meal === 'lunch' ? 'Almoço' : 'Jantar' }}</nz-descriptions-item>
        <nz-descriptions-item nzSpan="3" nz nzTitle="Cantina">{{um.service.name}}</nz-descriptions-item>
        <nz-descriptions-item nzSpan="3" nz nzTitle="Prato">{{(um.dish_type.translations | translation)?.name}}</nz-descriptions-item>
      </nz-descriptions>
    </div>

    <!--{{data.user_meals | json }}-->
  </nz-tab>
</nz-tabset>
