<div class="container">
  <div nz-row>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
      <div nz-row>
          <nz-form-label>Nome</nz-form-label>
          <nz-form-control>
              <input type="text" nz-input [(ngModel)]="filters.search">
          </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="2" [nzSm]="2" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
      <div nz-row>
          <nz-form-label>Data da Consulta</nz-form-label>
          <nz-form-control>
            <nz-date-picker [(ngModel)]="filters.appointment_date"></nz-date-picker>
          </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
      <div nz-row>
          <nz-form-label>Tipo</nz-form-label>
          <nz-form-control>
            <nz-select class="primary-select" [(ngModel)]="filters.is_external" nzAllowClear nzShowSearch style="width: 100%;">
              <nz-option nzValue=false nzLabel="Internal"></nz-option>
              <nz-option nzValue=true nzLabel="External"></nz-option>
            </nz-select>
          </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
      <div nz-row>
          <nz-form-label>Meios de prestação disponíveis</nz-form-label>
          <nz-form-control>
            <nz-select class="primary-select" [(ngModel)]="filters.appointment_type" nzAllowClear nzShowSearch [nzLoading]="appointmentTypesLoading"  style="width: 100%;">
              <nz-option *ngFor="let type of appointmentTypes"  [nzLabel]="validTranslateName(3,type?.translations)" [nzValue]="type.id"></nz-option>
            </nz-select>
          </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
      <div nz-row>
          <nz-form-label>Especialidade</nz-form-label>
          <nz-form-control>
            <nz-select class="primary-select" [(ngModel)]="filters.specialty" nzAllowClear nzShowSearch [nzLoading]="specialtiesLoading"  style="width: 100%;">
              <nz-option *ngFor="let specialty of specialties" [nzLabel]="validTranslateName(3,specialty?.translations)" [nzValue]="specialty.id"></nz-option>
            </nz-select>
          </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
      <div nz-row>
          <nz-form-label>Estado</nz-form-label>
          <nz-form-control>
            <nz-select class="primary-select" [(ngModel)]="filters.status" nzAllowClear nzShowSearch style="width: 100%;">
              <nz-option nzValue="APPROVED" nzLabel="Marcada"></nz-option>
              <nz-option nzValue="PENDING" nzLabel="Por Confirmar"></nz-option>
              <nz-option nzValue="MISSED" nzLabel="Faltou"></nz-option>
              <nz-option nzValue="CLOSED" nzLabel="Consulta Realizada"></nz-option>
              <nz-option nzValue="CANCELED" nzLabel="Cancelada"></nz-option>
            </nz-select>
          </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
      <div nz-row>
        <nz-form-label>Profissional</nz-form-label>
        <nz-form-control>
          <nz-select class="primary-select" [(ngModel)]="filters.doctor" nzAllowClear nzShowSearch [nzLoading]="doctorsLoading"  style="width: 100%;">
            <nz-option *ngFor="let doctor of doctors" [nzLabel]="doctor.user.name" [nzValue]="doctor.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
      <button nz-button class="btn" nzType="primary" (click)="searchData(true)">Filtrar</button>
  </div>
  <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
      style="text-align: left;">
      <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
  </div>
  </div>
</div>

<div class="space"></div>

<div class="container">
  <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th></th>
        <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
          [nzSortKey]="column.sortKey ? column.sortKey : column.key"> {{ column.label }}</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">
        <tr>
          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
          <td *ngFor="let column of columns">
            <span *ngIf="!column.tag">{{ column.translation ? (data.translations | where: ['language_id', 3]
              )[0][column.key] : (data | flatObject)[column.key]}}</span>
            <span *ngIf="column.template">
              {{ column.template(data) }}
            </span>
            <span *ngIf="column.tag">
              <fi-sas-tag [value]="data[column.key]" [results]="column.tag"></fi-sas-tag>
            </span>
          </td>
          <!--<td nzRight="0px" *ngIf="'accommodation:applications:status' | hasPermission">-->
            <td nzRight="0px">
            <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
              nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li [nzDisabled]="data.status !=='SOLVED' " nz-menu-item
                (click)="answer(data.id)">Responder</li>
                <!--<li [nzDisabled]="!('health:appointment:answer-complaint' | hasPermission)" nz-menu-item
                    (click)="answer(data.id)">Ver</li>-->
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
        <tr [nzExpand]="mapOfExpandData[data.id]">
          <td [attr.colspan]="columns.length + 3">
            <fi-sas-view-complaint (refresh)="refresh($event)" [complaint]="data"></fi-sas-view-complaint>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</div>