<div nz-row>
  <div nz-col>
    <p>Data Atual para Fecho de candidaturas: <b>{{ experience.application_deadline_date | date:'dd/MM/yyyy' }}</b></p>
  </div>

  <div nz-col>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="new_end_date">Data de Fecho de Candidaturas</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="new_end_date" id="new_end_date" [nzAllowClear]="false" name="new_end_date" [nzDisabledDate]="publishDate">
          </nz-date-picker>
          <nz-form-explain class="color-required" *ngIf="form.get('new_end_date')?.dirty && form.get('new_end_date')?.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
