<div nz-row class="content-table">
  <div class="container">
    <nz-table class="table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
      (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
      [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr class="table__header">
          <th nzShowSort nzSortKey="academic_year">Ano letivo</th>
          <th nzShowSort nzSortKey="start_date">Data início</th>
          <th nzShowSort nzSortKey="end_date">Data fim</th>
          <th nzRight="0px"
            *ngIf="('accommodation:accommodation-periods:create' | hasPermission) || ('accommodation:accommodation-periods:delete' | hasPermission)">Ações
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="refTable.data">
          <tr>
            <td>{{ data.academic_year}}</td>
            <td>{{ data.start_date | date: 'fullDate'}}</td>
            <td>{{ data.end_date | date: 'fullDate'}}</td>
            <td nzRight="0px"
              *ngIf="('accommodation:accommodation-periods:create' | hasPermission) || ('accommodation:accommodation-periods:delete' | hasPermission)">
              <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
                nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li *ngIf="'accommodation:accommodation-periods:create' | hasPermission" nz-menu-item
                    [routerLink]="['/accommodation', 'period', 'edit', data.id]">Editar</li>
                  <li *ngIf="'accommodation:accommodation-periods:delete' | hasPermission" nz-menu-item
                    (click)="deletePeriod(data.id)">Eliminar</li>
                </ul>
              </nz-dropdown-menu>
            </td>
          </tr>
        </ng-template>

      </tbody>
    </nz-table>
  </div>



</div>