<div class="PopSpecialty">
  <h2 class="title-top-page">{{ 'HEALTH.POPUP.STATUS.TITLE' | translate }}</h2>
  <p class="sub-title-top-page">{{ 'HEALTH.POPUP.STATUS.DESCRIPTION' | translate }}</p>

  <div class="PopSpecialty__box">
    <nz-checkbox-group class="PopSpecialty__check" [(ngModel)]="options"> </nz-checkbox-group>
  </div>
  <div class="button-div">
    <app-button
      class="PopSpecialty__btn"
      (click)="confirm()"
      [buttonStyle]="{
        'font-size': '12px',
        'line-height': '20px',
        'margin-top': '30px'
      }"
      translate="HEALTH.POPUP.BUTTONS.APPLY"
    ></app-button>
  </div>
</div>
