<div nz-row class="top">
    <div nz-col [nzSm]="2" [nzXs]="1"></div>
    <div nz-col [nzSm]="10" [nzMd]="16" [nzXs]="22">
        <h2 class="title-top-page">{{ 'EVENTS.TITLE' | translate }}</h2>
        <p class="sub-title-top-page">{{ 'EVENTS.SUB_TITLE' | translate }}</p>
    </div>
    <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>

<div nz-row class="top">
    <div nz-col [nzSm]="2" [nzXs]="1"></div>
    <div nz-col [nzSm]="20" [nzMd]="20" [nzXs]="22">
        <div nz-row>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="11" [nzXl]="11" [nzXXl]="11">
                <nz-select style="width: 100%;" [(ngModel)]="categoryFilter" nzAllowClear
                    [ngStyle]="{'color': colorCategory ? colorCategory : 'black'}"
                    [ngClass]="{'font-weight-600': colorCategory }"
                    [nzPlaceHolder]="'EVENTS.FILTERS.CATEGORY' | translate" nzShowSearch
                    (ngModelChange)="filterCategory($event)">
                    <nz-option *ngFor="let category of categories" [nzValue]="category.id"
                        [nzLabel]="(category.translations | languageChange).name">
                    </nz-option>
                </nz-select>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">

                <nz-select style="width: 100%;" [(ngModel)]="localFilter" nzAllowClear
                    [nzPlaceHolder]="'EVENTS.FILTERS.LOCAL' | translate" nzShowSearch
                    (ngModelChange)="filterLocal($event)">
                    <nz-option *ngFor="let city of cities" [nzLabel]="city.city" [nzValue]="city.city">
                    </nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-row class="padding-select-type">
            <nz-form-control nzSpan="24">
                <nz-radio-group [(ngModel)]="viewSelected">
                    <label nz-radio-button [nzValue]="'list'">Vista de Lista</label>
                    <label nz-radio-button [nzValue]="'calendar'">Vista de Calendário</label>
                </nz-radio-group>
            </nz-form-control>
        </div>
        <!--List-->
        <fi-list-normal-events *ngIf="viewSelected =='list'" #dataListNormalEvent [localFilter]="localFilter" [categoryFilter]="categoryFilter"></fi-list-normal-events>
        <!--Calendar-->
        <div *ngIf="viewSelected =='calendar'" nz-row class="calendar">
            <fi-calendar-view-calendar #dataListCalendarEvent [localFilter]="localFilter" [categoryFilter]="categoryFilter"></fi-calendar-view-calendar>
        </div>
       
    </div>
    <div nz-col [nzSm]="2" [nzXs]="1"></div>

</div>