.top {
    padding-top: 25px;
}

.font-weight-600 {
    font-weight: 600;
}

.padding-select-type {
    padding-top: 20px;
    padding-bottom: 20px;
}

:host::ng-deep {
    .ant-radio-button-wrapper-checked {
        box-shadow: -1px 0 0 0 var(--primary-color) !important;
    }
    .ant-radio-button-wrapper-checked {
        background-color: white;
    }
    .ant-radio-button-wrapper:last-child {
        background-color: white;
    }
}

.calendar {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
}