@import 'default-theme.less';


:host::ng-deep {

  .large-block {

    &__wrap {
      height: 594px;
    }

    &__left {
      height: 100%;
      background-color: var(--fisas-04);
    }

    &__right {
      height: 100%;
      background-color: var(--fisas-03);
      width: 100%;
    }

    &__wrap-title {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      padding-top: 250px;
      flex-direction: column;
      justify-content: center;
      padding-left: 100px;
      padding-right: 80px;
    }

    &__title {
      font-size: 48px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.13;
      letter-spacing: normal;
      color: #ffffff;
      padding-bottom: 15px;
    }

    &__subtitle {
      font-size: 28px;
      font-weight: 100;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.13;
      letter-spacing: normal;
      color: #ffffff;
    }

  }

}
