<div class="large-block">

  <div nz-row class="large-block__wrap">

    <div nz-col nzSpan="24" class="large-block__right">

      <div *ngIf="data" class="large-block__wrap-title">
        <div class="large-block__title">
          {{ data.title }}
        </div>
        <div class="large-block__subtitle">
          {{ 'TEXT_INFO.DESC' | translate }}
        </div>
      </div>
      <div *ngIf="!data" class="large-block__wrap-title">
        <div class="large-block__title">
         {{ 'TEXT_INFO.TITLE' | translate }}
        </div>
        <div class="large-block__subtitle">
          {{ 'TEXT_INFO.DESC' | translate }}
        </div>
      </div>

    </div>

  </div>

</div>