<nz-divider [nzText]="field ? field.templateOptions.label : ''" nzOrientation="left"></nz-divider>
<form [formGroup]="formGroup">
<div nz-row nzGutter="16" [formArrayName]="field.key">
  <div nz-col nzSpan="6"  *ngFor="let image of getFormImages().controls; let i=index" [formGroupName]="i">
    <span class="close--button" (click)="closeImage(i)"><i nz-icon type="close"></i></span>
    <fi-sas-upload-image formControlName="file_id"></fi-sas-upload-image>
  </div>
  <div nz-col nzSpan="6">
    <div (click)="addImage()" nz-row nzType="flex" nzJustify="center" nzAlign="middle" class="container-plus">
      <div nz-col>
        <i nz-icon type="plus"></i>
      </div>
    </div>
  </div>
</div>
</form>
