@import "theme";

.close--button {
  color:white;
  line-height: 10px;
  position: absolute;
  right: 0px;
  top: -5px;
  background: #a31818;
  border-radius: 25px;
  z-index: 1;
  padding: 2px;
}

.container-plus {
  border: var(--primary-5) dashed medium;
  border-radius: 15px;
  width: 100%;
  height: 200px;
  position: relative;

  i {
    color: var(--primary-3);
    font-size: 150px;
  }
}
