<nz-tabset nzTabPosition="left">

  <nz-tab nzTitle="Proprietário">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Nome
        </div>
        <div nz-row class="detail-field">
          {{ listing?.owner?.user.name }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Género
        </div>
        <div nz-row class="detail-field">
          {{ listing?.owner?.user.gender == 'M' ? 'Masculino' : listing?.owner?.user.gender == 'F' ? 'Feminino' :
          'Outro' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Data de nascimento
        </div>
        <div nz-row class="detail-field">
          {{ listing?.owner?.user.birth_date ? (listing?.owner?.user.birth_date | date:'dd/MM/yyyy') : '-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Identificação
        </div>
        <div nz-row class="detail-field">
          {{ listing?.owner?.user.identification }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          NIF / TIN
        </div>
        <div nz-row class="detail-field">
          {{ listing?.owner?.user.tin ? listing?.owner?.user.tin : '-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Nacionalidade
        </div>
        <div nz-row class="detail-field">
          {{ listing?.owner?.user.nationality ? listing?.owner?.user.nationality : '-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Email
        </div>
        <div nz-row class="detail-field">
          {{ listing?.owner?.user.email }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Contacto
        </div>
        <div nz-row class="detail-field">
          {{ listing?.owner?.user.phone }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Morada
        </div>
        <div nz-row class="detail-field">
          {{ listing?.owner?.user.address }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Código Postal
        </div>
        <div nz-row class="detail-field">
          {{ listing?.owner?.user.postal_code }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Cidade
        </div>
        <div nz-row class="detail-field">
          {{ listing?.owner?.user.city }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          País
        </div>
        <div nz-row class="detail-field">
          {{ listing?.owner?.user.country }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Descrição
        </div>
        <div nz-row class="detail-field">
          {{ listing?.owner?.description }}
        </div>
      </div>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Localização">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Morada
        </div>
        <div nz-row class="detail-field">
          {{ listing?.address }}, {{listing?.address_no}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Cidade
        </div>
        <div nz-row class="detail-field">
          {{ listing?.city }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Código Postal
        </div>
        <div nz-row class="detail-field">
          {{ listing?.postal_code }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Latitude
        </div>
        <div nz-row class="detail-field">
          {{ listing?.latitude ? listing?.latitude : '-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Longitude
        </div>
        <div nz-row class="detail-field">
          {{ listing?.longitude ? listing?.longitude : '-' }}
        </div>
      </div>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Características">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Título
        </div>
        <div nz-row class="detail-field">
          {{ (listing?.translations | translation)?.name }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Espaço utilizável
        </div>
        <div nz-row class="detail-field">
          {{ filterEnum('USABLE_SPACE',listing?.usable_space) }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Tipo de habitação
        </div>
        <div nz-row class="detail-field">
          {{ filterEnum('HOUSE_TYPOLOGY', listing?.house_typology) }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Piso
        </div>
        <div nz-row class="detail-field">
          {{ listing?.floor }}
        </div>
      </div>
      <div *ngIf="listing?.usable_space == 'WHOLE_HOUSE'" class="row-details" nz-col nzXs="24" nzSm="24" nzMd="12"
        nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Área
        </div>
        <div nz-row class="detail-field">
          {{ listing?.area }}m²
        </div>
      </div>
      <div *ngIf="listing?.usable_space == 'WHOLE_HOUSE'" class="row-details" nz-col nzXs="24" nzSm="24" nzMd="12"
        nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Preço
        </div>
        <div nz-row class="detail-field">
          {{ listing?.price | number: '1.2-2' }}€
        </div>
      </div>

    </div>
    <div *ngIf="listing?.usable_space == 'SHARED_ROOM'" nz-row>
      <div nz-row>
        <div class="row-details" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Número de quartos a alugar
          </div>
          <div nz-row class="detail-field">
            {{ listing?.rooms_number }}
          </div>
        </div>
        <div *ngFor="let room of listing?.rooms, let i = index">
          <div class="row-details" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
            <label class="title-room">Quarto - {{i+1}}</label>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Preço
            </div>
            <div nz-row class="detail-field">
              {{ room?.price | number: '1.2-2' }}€
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Área
            </div>
            <div nz-row class="detail-field">
              {{ room?.area }}m²
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Tipo
            </div>
            <div nz-row class="detail-field">
              {{ room?.room_type=='SHARED_ROOM' ? 'Partilhado' : 'Privado' }}
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Casa de banho partilhada
            </div>
            <div nz-row class="detail-field">
              <fi-sas-tag [value]="room?.shared_wc"></fi-sas-tag>
            </div>
          </div>
        </div>
      </div>


    </div>
  </nz-tab>

  <nz-tab nzTitle="Requisitos">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Permite fumadores?
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.allows_smokers"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Permite animais?
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.allows_pets"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Género
        </div>
        <div nz-row class="detail-field">
          {{ filterEnum('GENDER', listing?.gender) }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Ocupação
        </div>
        <div nz-row class="detail-field">
          {{ filterEnum('OCCUPATION', listing?.occupation) }}
        </div>
      </div>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Comodidades">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Acesso à cozinha
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.amenities?.kitchen_access"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Fogão
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.amenities?.stove"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Máquina de lavar louça
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.amenities?.dishwasher"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Elevador
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.amenities?.elevator"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Sistema de refrigeração
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.amenities?.cooling_system"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Televisão por cabo
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.amenities?.cable_tv"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Garagem
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.amenities?.parking_garage"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Microondas
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.amenities?.microwave"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Frigorífico
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.amenities?.fridge"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Máquina de lavar a roupa
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.amenities?.washing_machine"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Sistema de aquecimento
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.amenities?.heating_system"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Televisão
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.amenities?.tv"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Internet
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.amenities?.internet"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Quarto de banho privado
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.amenities?.private_wc"></fi-sas-tag>
        </div>
      </div>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Despesas">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Água
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.expenses?.water"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Condomínio
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.expenses?.condo"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Televisão por cabo
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.expenses?.cable_tv"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Limpeza
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.expenses?.cleaning"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Roupa da cama
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.expenses?.bedding"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Gás
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.expenses?.gas"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Eletricidade
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.expenses?.electricity"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Internet
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.expenses?.internet"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Mobiliário
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="listing?.expenses?.furniture"></fi-sas-tag>
        </div>
      </div>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Galeria">
    <div nz-row nzType="flex">

      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="8" [nzXl]="6" [nzXXl]="4" class="gallery"
        *ngFor="let media of listing?.medias">
        <a target="_blank" [href]="media?.file?.url">
          <img [src]="media?.file?.url">
        </a>
      </div>

      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="8" [nzXl]="6" [nzXXl]="4" class="gallery"
        *ngIf="listing.medias.length === 0">
        <img alt="Unavailable Image" src="/assets/images/unavailable-image.jpg" />
      </div>

    </div>

  </nz-tab>

  <nz-tab nzTitle="Publicação">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Data de início
        </div>
        <div nz-row class="detail-field">
          {{ listing?.start_date | date: 'dd/MM/yyyy'}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Data de fim
        </div>
        <div nz-row class="detail-field">
          {{ listing?.end_date | date: 'dd/MM/yyyy'}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Visualizações
        </div>
        <div nz-row class="detail-field">
          {{ listing?.visualizations}}
        </div>
      </div>

    </div>
  </nz-tab>

</nz-tabset>