@import "theme";


@import "theme";

.detail-field {
    color: var(--primary-color);
    font-weight: normal;
    padding-top: 5px;
}

.padding-top-20 {
    padding-top: 20px;
}

.title {
    color: black;
}
:host::ng-deep {
 

  .gallery {
    img {
      object-fit: cover;
      width: 150px;
      height: 150px;
      margin-bottom: 6px;
    }
  }
}

.title-room {
  font-weight: bold;
}
