<div class="content--padding white">
  <form [formGroup]="seasonForm" nz-form>
    <nz-form-item>
      <nz-form-label nzRequired>Nome </nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="name">
        <nz-form-explain class="error" *ngIf="isSubmited && f.name.errors">
          Campo obrigatório
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>Espaço de tempo</nz-form-label>
      <nz-form-control>
        <nz-range-picker [nzFormat]="dateFormat" formControlName="dates"></nz-range-picker>

        <nz-form-explain class="error" *ngIf="isSubmited && f.dates.errors">
          Campo obrigatório
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Ativa</nz-form-label>
      <nz-form-control>
        <nz-switch formControlName="active"></nz-switch>
        <nz-form-explain class="error" *ngIf="isSubmited && f.active.errors">
          Campo obrigatório
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

  </form>

</div>

<div class="space" nz-row>
  <button *ngIf="isUpdate" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="isLoading" [disabled]="isLoading" (click)="submit(seasonForm.value, seasonForm.valid)" 
      [nzType]="'primary'">{{isUpdate ? 'Editar' : 'Criar'}}</button>
</div>