@import "theme";
.list {
    background-color: #b4b4b4;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px;
}


.list-table {
  overflow-x: hidden;
  height: 90%; 
  padding-left: 20px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    font-family: Montserrat;
}

.box {
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    padding: 7px;
    padding-left: 15px;
    margin-bottom: 5px;
    cursor:pointer;
    font-family: Montserrat;
    border: 3px solid transparent;
}

.box-select {
    border-color: @primary-6;
}



.stock {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #333333;
    padding-left: 20px;
  
    &__info {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: black;
      font-weight: bold;
      padding-top: 5px;
    }
}  

.title-table {
  font-size: 12px;
  color: @primary-6;
  font-weight: bold;
}

.space-title {
  margin-top: 20px;
  padding-bottom: 10px;
}

.text-table {
  color:#666666;
}

.space-text-table {
  padding-top: 10px;
  padding-bottom: 20px;
}

.emptyDate {
  text-align: center;
  margin-top: 10px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #666666;
}


.border-bottom {
  background-color: @primary-6;
}

.floating-button-right {
  padding-top: 8px;
  width: 50%;
  float: right;
  text-align: right;

  button {
      border-radius: 24px;
      background-color: @primary-4;
      color: white;
      width: 150px;
      margin-right: 20px;
      border: 1px solid @primary-4;
  }
}

.scroll-hidden {
  overflow: hidden;
}

.icon-minus {
  text-align: center;
  background-color: #ff545a;
  padding-top: 5px;
  padding-bottom: 2px;
  border-radius: 17px;
  margin-right: 3px;
  cursor: pointer;
  width: 24%;
  padding-right: 2px;
  padding-left: 2px;
}

.icon-menu-plus {
  text-align: center;
  background-color: @primary-6;
  padding-top: 5px;
  padding-bottom: 2px;
  border-radius: 17px;
  margin-right: 2px;
  cursor: pointer;
  width: 24%;
  padding-right: 2px;
  padding-left: 2px;
}

.stock-modal {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #333333;

  &__info {
    font-family: Montserrat;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: black;
    font-weight: bold;
  }
}  

#icon-swap::ng-deep svg {
  fill: darkgoldenrod;
}

.padding-bottom-modal {
  padding-bottom: 15px;
}

#expired::ng-deep {
  .ant-calendar-picker-input.ant-input {
    width: 100% !important;
  }
  .ant-calendar-picker {
    width: 100% !important;
  }
}

.number-row {
  margin-top: 8px;
  .button-number {
    border-radius: 43.2px;
    border: solid 1px #e8e8e8;
    background-color: #ffffff;
    padding: 15px 20px 15px 20px;
    font-family: Montserrat;
    font-size: 21.6px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
  }
}


.input-group {
  display: flex;
  margin: 16px 0px 16px 0px;

  input {
    text-align: right;
    padding: 5px;
    width: 100%;
    border-radius: 4px 0px 0px 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #e8e8e8;
    background-color: #ffffff;
  }
}

.border-qtd {
  box-shadow: 
  inset 0 -3em 3em rgba(0,0,0,0.0), 0 0 0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.2)
}

.padding-qtd {
  padding-top: 20px;
  padding-left: 20px;
}

.text-center {
  text-align: center;
}


.finish {
  background-color: #1ba974;
  color: white;
  text-align: center;
  padding: 5px;
  
  i {
    font-size: 19px;
  }
}

.cancel {
  background-color: #980013;
  color: white;
  text-align: center;
  padding: 5px;
  
  i {
    font-size: 19px;
  }
}

.lote-style {
  padding-top: 10px;
  padding-bottom: 20px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.button-select {
  color: white;
  background-color: @primary-6;
  border: 1px solid @primary-6;
}

#icon-up::ng-deep svg {
  fill: #1ba974;
}

#icon-down::ng-deep svg {
  fill: #ff0000;
}

#icon-plus-lote::ng-deep svg {
  g g{
    fill: @primary-6 !important;
  }
}

.modal-height-history {
  height: 400px;
  overflow-y: scroll;
}

.icon-history {
  font-size: 15px;
  margin-right: 5px;
}

.color-button-search {
  background-color: @primary-6;
  border: 1px solid @primary-6;
  color: white;
  cursor: pointer;
  padding: 8px ;
}

.reason-text {
  font-size: 10px;
}

.pagination {
  padding: 20px;
  text-align: center;
}