<div nz-row nzType="flex" nzJustify="space-around" class="screen scroll-hidden">
    <div nz-col nzSpan="6" class="list">

        <div nz-row style="margin-bottom: 10px;">
            <label class="title">Famílias</label>
        </div>
        <nz-spin [nzSpinning]="loadingFam">
            <div nz-row *ngFor="let cat of categories" class="box"
                (click)="catSelectId=cat.id; catSelect = cat;getProdutsByCategory();filterValue = ''"
                [ngClass]="{'box-select': catSelectId == cat.id}">
                {{(cat?.translations | translation)?.name}}
            </div>
        </nz-spin>


    </div>
    <div nz-col nzSpan="18" style="height: 100%;">
        <div style="padding-top: 5px; height: 4%;">
            <label class="stock">Stocks</label>
        </div>

        <div nz-row zType="flex" nzJustify="space-around" class="screen list-table">

            <nz-spin [nzSpinning]="productsLoading">
                <div *ngIf="catSelectId != -1">
                    <p class="stock__info">{{(catSelect?.translations | translation)?.name}}</p>
                    <div nz-col style="padding-right: 10px;">
                        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
                            <input type="text" nz-input placeholder="Filtrar" matKeyboard [(ngModel)]="filterValue" />
                        </nz-input-group>
                        <ng-template #suffixButton>
                            <button class="color-button-search" nzSize="large" nzSearch
                                (click)="getProdutsByCategory()">Procurar</button>
                        </ng-template>

                    </div>
                    <div nz-col>
                        <div nz-row class="space-title">
                            <div nz-col nzSpan="3">
                                <label class="title-table">CÓDIGO</label>
                            </div>
                            <div nz-col nzSpan="8">
                                <label class="title-table">NOME</label>
                            </div>
                            <div nz-col nzSpan="5">
                                <label class="title-table">LOTE</label>
                            </div>
                            <div nz-col nzSpan="2">
                                <label class="title-table">QTD</label>
                            </div>
                            <div nz-col nzSpan="2">
                                <label class="title-table">PREÇO</label>
                            </div>
                            <div nz-col nzSpan="4">
                                <label class="title-table">AÇÕES</label>
                            </div>
                        </div>
                        <nz-divider style="margin: 0px;"></nz-divider>
                        <div *ngIf="products.length>0">
                            <div *ngFor="let prod of products">
                                <div nz-row class="space-text-table">
                                    <div nz-col nzSpan="3">
                                        <b>{{prod?.code}}</b>
                                    </div>
                                    <div nz-col nzSpan="8">
                                        {{(prod?.translations | translation)?.name}}
                                    </div>
                                    <div nz-col nzSpan="5">
                                        <div *ngFor="let stock of prod?.stocks">
                                            {{stock?.lote}}<br>
                                        </div>

                                    </div>
                                    <div nz-col nzSpan="2">
                                        <div *ngFor="let stock of prod?.stocks">
                                            {{stock?.quantity}} {{prod?.unit.acronym}}<br>
                                        </div>

                                    </div>
                                    <div nz-col nzSpan="2">
                                        {{prod?.price ? (prod?.price | number: '1.2-2') + '€' : ''}}
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <div nz-row>
                                            <div nz-col nzSpan="8" class="icon-menu-plus"
                                                (click)="selecMovHistory(false,prod); history=true;"> <i nz-icon
                                                    type="icons:icons-icons-menu" style="font-size: 20px;"></i></div>
                                            <div nz-col nzSpan="8" class="icon-minus" (click)="remove(prod)">
                                                <i nz-icon type="icons:icons-icons-minus" style="font-size: 20px;"></i>
                                            </div>
                                            <div nz-col nzSpan="8" class="icon-menu-plus" (click)="add(prod); "><i
                                                    nz-icon type="icons:icons-icons-plus" style="font-size: 20px;"></i>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <nz-divider style="margin: 0px;"></nz-divider>
                            </div>
                        </div>
                        <div *ngIf="products.length==0" class="emptyDate" nz-col>
                            Sem Resultados
                        </div>
                    </div>


                </div>
            </nz-spin>
        </div>


        <div nz-row style="height: 6%;" class="border-bottom">
            <div class="floating-button-right">
                <button nz-button (click)="closeStock()"><i nz-icon nzType="arrow-left"
                        nzTheme="outline"></i>Voltar</button>
            </div>
        </div>
    </div>

</div>

<!--Modal Add/Remove QTD-->
<nz-modal [(nzVisible)]="modalStockEdit" nzWrapClassName="vertical-center-modal" [nzMask]="false" nzWidth="700"
    [nzFooter]="null" (nzOnCancel)="closeModalEdit();">
    <div nz-row>
        <div nz-col nzSpan="12">
            <div nz-row>
                <label *ngIf="!removeQtd" class="stock-modal">Stocks - Adicionar</label>
                <label *ngIf="removeQtd" class="stock-modal">Saída de Stock</label>
                <p class="stock-modal__info">{{(catSelect?.translations | translation)?.name}}</p>
                <p class="stock-modal__info">{{wharehouseSelect?.wharehouse?.name}}</p>
            </div>
            <div nz-row class="padding-bottom-modal">
                <label class="title-table">CÓDIGO</label>
                <input type="text" disabled nz-input [value]="productSelect?.code">
            </div>
            <div nz-row class="padding-bottom-modal">
                <label class="title-table">NOME</label>
                <input type="text" disabled nz-input [value]="(productSelect?.translations | translation)?.name">
            </div>
            <div nz-row class="padding-bottom-modal">
                <label class="title-table">PREÇO</label>
                <input type="text" disabled nz-input [value]="productSelect?.price | number: '1.2-2'">
            </div>
            <div nz-row class="padding-bottom-modal">
                <div *ngIf="removeQtd">
                    <label class="title-table">LOTE</label>
                    <nz-select class="primary-select" [(ngModel)]="loteSelect" id="lote" style="width: 100%;"
                        (ngModelChange)="changeLote($event); openQTD = true">
                        <nz-option *ngFor="let lote of lotes" [nzLabel]="lote.lote" [nzValue]="lote.lote">
                        </nz-option>
                    </nz-select>
                </div>
                <div *ngIf="!removeQtd">
                    <label class="title-table">LOTE</label>
                    <nz-select *ngIf="inputType == 'select'" class="primary-select" [(ngModel)]="loteSelect" id="lote"
                        style="width: 90%;" (ngModelChange)="openQTD = true">
                        <nz-option *ngFor="let lote of lotes" [nzLabel]="lote.lote" [nzValue]="lote.lote">
                        </nz-option>
                    </nz-select>
                    <i *ngIf="inputType == 'select'" id="icon-plus-lote" (click)="inputType = 'input'; loteSelect = '';" nz-icon
                        type="icons:icons-icons-plus" style="font-size: 20px; margin-left: 5px;"></i>
                    <input *ngIf="inputType == 'input'" nz-input type="text" [(ngModel)]="loteSelect" matKeyboard
                        style="width: 90%;" (ngModelChange)="openQTD = true">

                    <i *ngIf="inputType == 'input'" id="icon-plus-lote" (click)="inputType = 'select';loteSelect = ''" nz-icon nzType="close"
                        style="font-size: 20px; margin-left: 5px;"></i>
                    <!--<nz-select nzMode="tags" matKeyboard nzMaxMultipleCount="1" class="primary-select" nzShowSearch
                        [(ngModel)]="loteSelect" id="lote" style="width: 100%;" (ngModelChange)="openQTD = true">
                        <nz-option *ngFor="let lote of lotes" [nzLabel]="lote.lote" [nzValue]="lote.lote">
                        </nz-option>
                    </nz-select>-->
                </div>

            </div>
            <div *ngIf="!removeQtd" nz-row class="padding-bottom-modal">
                <label class="title-table">DATA EXPIRAÇÃO</label>
                <nz-form-control>
                    <nz-date-picker class="primary-datePicker" [(ngModel)]="dateExpired" id="expired">
                    </nz-date-picker>
                </nz-form-control>

            </div>
        </div>

        <div nz-col nzSpan="12" *ngIf="openQTD && loteSelect != ''" class="padding-qtd">
            <!--QTD-->
            <div class="border-qtd" *ngIf="!step2">
                <div nz-row>
                    <div nz-col nzSpan="4"></div>
                    <div nz-col nzSpan="16" style="padding-top: 10px;">
                        <label class="stock-modal">Quantidade</label>
                        <p *ngIf="removeQtd" class="stock-modal__info">Introduza a quantidade (QTD disponível no momento
                            {{quantityExist}} {{productSelect.unit.acronym}})</p>
                        <p *ngIf="!removeQtd" class="stock-modal__info">Introduza a quantidade</p>
                        <div nz-row class="input-group">
                            <input type="number" min="0" nz-input step="any" [(ngModel)]="input" />
                        </div>
                        <div nz-row nzType="flex" nzGutter="8" class="number-row">
                            <div nz-col nzSpan="8">
                                <button class="button-number" (click)="addToInput('1')">1</button>
                            </div>
                            <div nz-col nzSpan="8">
                                <button class="button-number" (click)="addToInput('2')">2</button>
                            </div>
                            <div nz-col nzSpan="8">
                                <button class="button-number" (click)="addToInput('3')">3</button>
                            </div>
                        </div>
                        <div nz-row nzType="flex" nzGutter="8" class="number-row">
                            <div nz-col nzSpan="8">
                                <button class="button-number" (click)="addToInput('4')">4</button>
                            </div>
                            <div nz-col nzSpan="8">
                                <button class="button-number" (click)="addToInput('5')">5</button>
                            </div>
                            <div nz-col nzSpan="8">
                                <button class="button-number" (click)="addToInput('6')">6</button>
                            </div>
                        </div>
                        <div nz-row nzType="flex" nzGutter="8" class="number-row">
                            <div nz-col nzSpan="8">
                                <button class="button-number" (click)="addToInput('7')">7</button>
                            </div>
                            <div nz-col nzSpan="8">
                                <button class="button-number" (click)="addToInput('8')">8</button>
                            </div>
                            <div nz-col nzSpan="8">
                                <button class="button-number" (click)="addToInput('9')">9</button>
                            </div>
                        </div>
                        <div nz-row nzType="flex" nzGutter="8" class="number-row padding-bottom-modal">
                            <div nz-col nzSpan="8">
                                <button class="button-number" (click)="activeComma()">
                                    ,
                                </button>
                            </div>
                            <div nz-col nzSpan="8">
                                <button class="button-number" (click)="addToInput('0')">0</button>
                            </div>
                            <div nz-col nzSpan="8">
                                <button style="padding: 15px 17px 15px 17px;" class="button-number"
                                    (click)="removeFromInput()">
                                    <i nz-icon type="icons:clean"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div nz-col nzSpan="4"></div>
                </div>
                <div nz-row class="text-center" style="cursor: pointer;">
                    <div *ngIf="removeQtd && input>0 && input>quantityExist" style="color: red;">
                        Só existem {{quantityExist}} para remover
                    </div>
                    <div nz-col nzSpan="24" class="cancel" (click)="openQTD = false; clearVariable();" *ngIf="input==0">
                        <div nz-row><i nz-icon type="icons:unpaid-white"></i></div>
                        <div nz-row>Cancelar</div>
                    </div>
                    <div *ngIf="removeQtd && input>0 && input<=quantityExist" nz-col nzSpan="24" class="finish"
                        (click)="step2 = true">
                        <nz-spin [nzSpinning]="loading">
                            <div nz-row><i nz-icon nzType="right" nzTheme="outline"></i></div>
                            <div nz-row>Seguinte</div>
                        </nz-spin>

                    </div>
                    <div *ngIf="!removeQtd && input>0" nz-col nzSpan="24" class="finish" (click)="step2 = true">
                        <nz-spin [nzSpinning]="loading">
                            <div nz-row><i nz-icon nzType="right" nzTheme="outline"></i></div>
                            <div nz-row>Seguinte</div>
                        </nz-spin>

                    </div>
                </div>

            </div>
            <!--Reason-->
            <div class="border-qtd" *ngIf="step2">
                <div nz-row>
                    <div nz-col nzSpan="4"></div>
                    <div nz-col nzSpan="16" style="padding-top: 10px;">
                        <label class="stock-modal">Motivo</label>
                        <p class="stock-modal__info">Selecione um dos existentes da lista:</p>
                        <div *ngIf="removeQtd" nz-row nzType="flex" nzJustify="center" class="padding-bottom-10">
                            <button class="button-tertiary cursor" [ngClass]="{'button-select': reason == 'Abate'}"
                                (click)="reason = 'Abate'">Abate</button>
                        </div>
                        <div *ngIf="removeQtd" nz-row nzType="flex" nzJustify="center" class="padding-bottom-10">
                            <button class="button-tertiary cursor"
                                [ngClass]="{'button-select': reason == 'Consumo interno'}"
                                (click)="reason = 'Consumo interno'">Consumo interno</button>
                        </div>
                        <div *ngIf="removeQtd" nz-row nzType="flex" nzJustify="center" class="padding-bottom-10">
                            <button class="button-tertiary cursor" [ngClass]="{'button-select': reason == 'Perdas'}"
                                (click)="reason = 'Perdas'">Perdas</button>
                        </div>
                        <div *ngIf="!removeQtd" nz-row nzType="flex" nzJustify="center" class="padding-bottom-10">
                            <button class="button-tertiary cursor" [ngClass]="{'button-select': reason == 'Perdas'}"
                                (click)="reason = 'Compra'">Compra</button>
                        </div>
                        <div nz-row nzType="flex" nzJustify="center" class="padding-bottom-10">
                            <button class="button-tertiary cursor" [ngClass]="{'button-select': reason == 'Outro'}"
                                (click)="reason = 'Outro'">Outro</button>
                        </div>
                        <div nz-row *ngIf="reason == 'Outro'" class="padding-bottom-10">
                            <p class="stock-modal__info">Escreva o motivo:</p>
                            <input nz-input type="text" [(ngModel)]="anotherReason" matKeyboard>
                        </div>
                    </div>
                    <div nz-col nzSpan="4"></div>
                </div>
                <div nz-row class="text-center" style="cursor: pointer;">
                    <div nz-col nzSpan="24" class="cancel" (click)="openQTD = false; step2 = false; clearVariable();">
                        <div nz-row><i nz-icon type="icons:unpaid-white"></i></div>
                        <div nz-row>Cancelar</div>
                    </div>
                    <div *ngIf="removeQtd">
                        <div *ngIf="(reason=='Outro' && anotherReason!='') || reason=='Perdas' || reason=='Consumo interno' || reason=='Abate'"
                            nz-col nzSpan="24" class="finish" (click)="saveQtdRemove(); step2 = false">
                            <nz-spin [nzSpinning]="loading">
                                <div nz-row><i nz-icon type="icons:icons-icons-plus"></i></div>
                                <div nz-row>Gravar</div>
                            </nz-spin>

                        </div>
                    </div>
                    <div *ngIf="!removeQtd">
                        <div *ngIf="(reason=='Outro' && anotherReason!='') || reason=='Compra'" nz-col nzSpan="24"
                            class="finish" (click)="saveQtdPlus(); step2 = false">
                            <nz-spin [nzSpinning]="loading">
                                <div nz-row><i nz-icon type="icons:icons-icons-plus"></i></div>
                                <div nz-row>Gravar</div>
                            </nz-spin>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</nz-modal>

<!--Modal history product stock-->
<nz-modal [(nzVisible)]="modalStockHistory" nzWrapClassName="vertical-center-modal" [nzMask]="false" nzWidth="900"
    [nzFooter]="null" (nzOnCancel)="modalStockHistory = false;">
    <div nz-row>
        <label class="stock-modal">Histórico de movimentos</label>
        <p class="stock-modal__info">Histórico de entradas e saídas</p>
        <p class="stock-modal__info">{{(catSelect?.translations | translation)?.name}} - {{(productSelect?.translations | translation)?.name}}</p>
        <p class="stock-modal__info">{{wharehouseSelect?.wharehouse?.name}}</p>
    </div>
    <div nz-row>
        <nz-spin [nzSpinning]="loadingOperation">
            <div nz-col class="modal-height-history">
                <div nz-row class="space-title">
                    <div nz-col nzSpan="3">
                        <label class="title-table">DATA</label>
                    </div>
                    <div nz-col nzSpan="3">
                        <label class="title-table">CÓD</label>
                    </div>
                    <div nz-col nzSpan="6">
                        <label class="title-table">Nome</label>
                    </div>
                    <div nz-col nzSpan="3">
                        <label class="title-table">MOV</label>
                    </div>
                    <div nz-col nzSpan="3">
                        <label class="title-table">QTD</label>
                    </div>
                    <div nz-col nzSpan="4">
                        <label class="title-table">LOTE</label>
                    </div>
                </div>
                <nz-divider style="margin: 0px;"></nz-divider>
                <div *ngIf="operationStock.length>0">
                    <div *ngFor="let stock of operationStock">
                        <div nz-row class="space-text-table">
                            <div nz-col nzSpan="3">
                                {{stock?.created_at | date: "dd/MM/yyyy"}}
                            </div>
                            <div nz-col nzSpan="3">
                                <b>{{productSelect?.code}}</b>
                            </div>
                            <div nz-col nzSpan="6">
                                {{(productSelect?.translations | translation)?.name}}
                                <br>
                                <span *ngIf="stock?.stock_reason" class="reason-text">Motivo:
                                    {{stock?.stock_reason}}</span>
                            </div>
                            <div nz-col nzSpan="3">
                                <i *ngIf="!stock.transfer_wharehouse_id && stock?.operation == 'in'" nz-icon
                                    nzType="up-circle" id="icon-up" title="Entrada" nzTheme="outline"></i>
                                <i *ngIf="!stock.transfer_wharehouse_id && stock?.operation == 'out'" nz-icon
                                    nzType="down-circle" id="icon-down" title="Saída" nzTheme="outline"></i>
                                <i *ngIf="stock.transfer_wharehouse_id" nz-icon nzType="swap" title="Transferência"
                                    id="icon-swap" nzTheme="outline"></i>
                                {{ !stock.transfer_wharehouse_id && stock?.operation == 'out' ? '-' :
                                ''}}{{stock?.quantity | number:'1.0-3'}} {{stock?.stock?.product?.unit?.acronym}}
                            </div>
                            <div nz-col nzSpan="3">
                                {{stock?.quantity_after}} {{stock?.stock?.product?.unit?.acronym}}
                            </div>
                            <div nz-col nzSpan="4">
                                {{stock?.lote}}
                            </div>
                        </div>

                        <nz-divider style="margin: 0px;"></nz-divider>
                    </div>
                    <div class="pagination">
                        <nz-pagination [nzTotal]="totalData" [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex"
                            (nzPageIndexChange)="selecMovHistory(false)" (nzPageSizeChange)="selecMovHistory(true)"
                            nzShowSizeChanger></nz-pagination>
                    </div>
                </div>
                <div *ngIf="operationStock.length==0" class="emptyDate" nz-col>
                    Sem Resultados
                </div>
            </div>

        </nz-spin>

        <div nz-col style="text-align: right; margin-top: 15px;">
            <button class="button-secundary cursor" style="width: 35%; margin-right: 10px;"
                (click)="modalStockHistory = false; remove(productSelect);"><i nz-icon nzType="minus-circle"
                    nzTheme="outline" class="icon-history"></i>Saída de stock</button>
            <button class="button-secundary cursor" style="width: 35%;"
                (click)="modalStockHistory = false;add(productSelect);"><i nz-icon nzType="plus-circle"
                    nzTheme="outline" class="icon-history"></i>Entrada de stock</button>
        </div>
    </div>
</nz-modal>