<div class="route-list">

  <!-- banner -->
  <section class="route-list__banner">
    <img
      src="https://images.unsplash.com/photo-1514954286145-20b13ea8c01b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e8ea28b353d3acca701d55f6a194f84b&auto=format&fit=crop&w=1080&q=80" />
  </section>

  <!-- title -->
  <fi-context-title title="{{ 'MOBILITY.ROUTES.LIST.TITLE' | translate }}"></fi-context-title>

  <!-- subtitle -->
  <div nz-row class="route-list__subtitle">
    <div nz-col nzSpan="1"></div>
    <div nz-col nzSpan="18">{{ 'MOBILITY.ROUTES.LIST.AVAILABLE_ROUTES' | translate }}</div>
    <div nz-col nzSpan="1"></div>
  </div>


    <!-- places / options -->
    <div class="route-list__places-options">
      <div nz-row *ngIf="routing?.length || (origin?.local && destiny?.local)">
        <div nz-col nzSpan="1"></div>
        <div nz-col nzSpan="9">

          <!-- places -->
          <div class="route-list__places">
            <div class="route-list__route-title">
              {{ 'MOBILITY.ROUTES.LIST.ROUTE' | translate | uppercase }}
            </div>

            <div class="route-list__origin">{{ (routing?.length) ? routing[0]?.departure_place : origin?.local }}</div>

            <div class="route-list__arrow-right">
              <i nz-icon>
                <svg-icon src="assets/icons/icons-arrow-right.svg" [svgStyle]="{ 'width.px': 24, 'height.px': 24 }">
                </svg-icon>
              </i>
            </div>

            <div class="route-list__destiny">{{ (routing?.length) ? routing[0]?.arrival_place : destiny?.local }}</div>

            <div (click)="goPlaces()" class="route-list__change">
              <button nz-button [nzGhost]="true">
                {{ 'MOBILITY.ROUTES.LIST.CHANGE' | translate }}
              </button>
            </div>
          </div>

        </div>
        <div nz-col nzSpan="9">

          <!-- options -->
          <fi-options-trip (tripChange)="handlerTripChange($event)"></fi-options-trip>

        </div>
        <div nz-col nzSpan="1"></div>
      </div>
    </div>

    <!-- days -->
    <fi-fifteen-day (OnOptionChange)="handlerDayChange($event)"></fi-fifteen-day>

    <!-- loader -->
    <div class="route-list__loader" *ngIf="loading">
      <nz-spin [nzSize]="'large'"></nz-spin>
    </div>

    <!-- no content -->
    <div *ngIf="!loading && routing && routing.length === 0" class="route-list__no-content">
      <div nz-row>
        <div nz-col nzSpan="1"></div>
        <div nz-col nzSpan="18">
          <div class="route-list__no-content-title">
            {{ 'MOBILITY.ROUTES.LIST.NO_ROUTES' | translate }}
          </div>
          <div class="route-list__no-content-description">
            {{ 'MOBILITY.ROUTES.LIST.CHANGE_PLACES' | translate }}
          </div>
          <div class="route-list__no-content-btn-1">
            <button nz-button [nzGhost]="true" routerLink="/mobility/places">
              {{ 'MOBILITY.ROUTES.LIST.BUTTON_CHANGE_PLACES' | translate }}
            </button>
          </div>
          <!--<div class="route-list__no-content-btn-2" routerLink="/mobility/places">
            <button nz-button [nzGhost]="true">
              {{ 'MOBILITY.ROUTES.LIST.BUTTON_CLOSE' | translate }}
            </button>
          </div>-->
        </div>
        <div nz-col nzSpan="1"></div>
      </div>
    </div>

    <!-- routes -->
    <perfect-scrollbar class="list-total">
    <ng-container *ngIf="!loading">
      <ng-container *ngFor="let route of routing[0]?.route; index as i">
        <fi-route-item [model]="route" [index]="i + 1" [stops]="routing[0]?.stops" [duration]="routing[0]?.duration"></fi-route-item>
      </ng-container>
    </ng-container>
    </perfect-scrollbar>

    <!-- margin -->
    <div class="route-list__margin"></div>


</div>
