@import 'default-theme.less';

:host::ng-deep {
  width: 100%;

  .list-total {
    height: 775px; 
  }


  .route-list {


    &::-webkit-scrollbar {
      display: none;
    }

    &__banner {
      img {
        width: 100%;
        height: 378px;
        object-fit: cover;
      }
    }

    &__subtitle {
      width: 100%;
      margin-top: 16px;
      font-size: 30px;
      font-weight: 900;
      line-height: 36px;
      color: var(--fisas-03);
    }

    &__places-options {
      margin-top: 24px;
      margin-bottom: 40px;

      button {
        margin: 0 6px;
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        border: 2px solid @fisas-grey-03;
        border-color: @fisas-grey-03;

        &:hover, &:active, &:focus, &.active {
          background-color: @fisas-grey-01!important;
          border-color: @fisas-grey-03!important;
          color: @fisas-grey-09!important;
        }
      }
    }

    &__places {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      height: 30px;
    }

    &__route-title {
      display: flex;
      float: left;
      align-items: center;
      margin-right: 16px;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      display: inline-block;
      text-transform: uppercase;
      color: @fisas-grey-09;
    }

    &__origin {
      color: var(--fisas-06);
      font-size: 16px;
      line-height: 24px;
      text-transform: capitalize;
    }

    &__arrow-right {
      padding: 0 20px;
      color: @fisas-grey-08;
    }

    &__destiny {
      color: var(--fisas-06);
      font-size: 16px;
      line-height: 24px;
      text-transform: capitalize;
    }

    &__change {
      padding: 0 20px;
      text-transform: uppercase;
    }

    &__loader {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__no-content {
      color: @fisas-grey-10;
      margin-top: 112px;

      .route-list__no-content-btn-1 > button {
        cursor: pointer;
        height: 48px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        border: 2px solid var(--fisas-01)!important;
        border-color: var(--fisas-01)!important;
        background-color: var(--fisas-01)!important;
        color: @fisas-grey-01!important;
        padding: 0 32px;

        &:hover, &:active, &:focus, &.active {
          border: 2px solid var(--fisas-01)!important;
          border-color: var(--fisas-01)!important;
          background-color: var(--fisas-01)!important;
          color: @fisas-grey-01!important;
        }
      }

      .route-list__no-content-btn-2 > button {
        cursor: pointer;
        height: 48px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        border: 2px solid @fisas-grey-03;
        border-color: @fisas-grey-03;
        padding: 0 17px;

        &:hover, &:active, &:focus, &.active {
          background-color: @fisas-grey-01!important;
          border-color: @fisas-grey-03!important;
          color: @fisas-grey-09!important;
        }
      }
    }

    &__no-content-title {
      font-size: 48px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: -1.2px;
    }

    &__no-content-description {
      font-size: 48px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: -1.2px;
      margin-bottom: 64px;
    }

    &__no-content-btn-1 {
      float: left;
      margin-right: 16px;
    }

    &__no-contentbtn-2 {
      float: left;
      margin-right: 16px;
    }

    &__margin {
      width: 100%;
      height: 216px;
    }
  }
}