<div nz-row nzType="flex">
  <div nz-col nzSpan="24">
    <p class="reservation">Gestão de reservas</p>
    <p class="reservation__info">
      Consulte a quantidade de reservas para um determinado dia.
    </p>
    <div nz-row class="day-input">
      <div nz-col nzSpan="22">
        <span>
          <label>Dia: </label>
          <nz-date-picker
            class="primary-datePicker"
            [nzFormat]="dateFormat"
            [(ngModel)]="date"
            (ngModelChange)="onChangeDate($event)"
            nzPlaceHolder="Data"
          ></nz-date-picker>
        </span>

        <span class="meal_selected">
          <label>Tipo de Refeição: </label>
          <nz-select
            class="primary-select"
            [(ngModel)]="mealValue"
            (ngModelChange)="onChangeSelectInput()"
          >
            <nz-option
              *ngFor="let meal of meals"
              [nzValue]="meal.type"
              [nzLabel]="meal.translate"
            ></nz-option>
          </nz-select>
        </span>
      </div>
      <div nz-col nzSpan="2">
        <button nz-button (click)="addNewDishModal()">
          <i nz-icon nzType="plus-circle"></i>
        </button>
      </div>
    </div>

    <nz-divider class="reservation_divider"></nz-divider>
  </div>
</div>

<div nz-row nzType="flex">
  <div nz-col nzSpan="24">
    <nz-table
      class="stats-table"
      [nzData]="stats"
      [nzShowPagination]="false"
      [nzLoading]="isLoadingStats"
    >
      <thead>
        <tr>
          <th>Pratos</th>
          <th>Vendidas</th>
          <th>Servidas</th>
          <th>Por Servir</th>
          <th>Canceladas</th>
          <th>Disponíveis</th>
          <th>Alterar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stat of stats">
          <td>
            <span class="stats-table__type">
              {{ stat.type }}
            </span>
            <span class="stats-table__dish">
              {{ stat.dish }}
            </span>
          </td>
          <td>{{ stat.total }}</td>
          <td>{{ stat.served }}</td>
          <td>{{ stat.nonServed }}</td>
          <td>{{ stat.cancelled }}</td>
          <td>{{ stat.available }}</td>
          <td>
            <button nz-button (click)="openModalQtd(stat.id, stat.available)">
              Alterar Qtd.
            </button>
          </td>
        </tr>

        <tr *ngIf="stats.length !== 0">
          <td>Total</td>
          <td>{{ countTotalStats("total") }}</td>
          <td>{{ countTotalStats("served") }}</td>
          <td>{{ countTotalStats("nonServed") }}</td>
          <td>{{ countTotalStats("cancelled") }}</td>
          <td>{{ countTotalStats("available") }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<div nz-row nzType="flex" class="filter-options">
  <div nz-col nzSpan="24">
    <nz-radio-group
      [(ngModel)]="filterOption"
      (ngModelChange)="onChangeFilterInput()"
    >
      <label nz-radio-button nzValue="all">Todas</label>
      <label nz-radio-button nzValue="served">Servidas</label>
      <label nz-radio-button nzValue="nonServed">Por Servir</label>
      <label nz-radio-button nzValue="cancelled">Canceladas</label>
    </nz-radio-group>
  </div>
  <div nz-col nzSpan="4"></div>
</div>

<div class="list-margin" nz-row nzType="flex">
  <div nz-col nzSpan="4"></div>
  <div nz-col nzSpan="16" class="user_list">
    <nz-list
      [nzDataSource]="reservations"
      [nzRenderItem]="reservation"
      [nzPagination]="pagination"
      [nzItemLayout]="'horizontal'"
      [nzLoading]="isLoadingReservations"
    >
      <ng-template #reservation let-reservation>
        <nz-list-item>
          <nz-list-item-meta
            [nzTitle]="userInfo"
            [nzDescription]="reservationInfo"
            class="reservation_list__item"
          >
            <ng-template #userInfo>
              <div nz-row [nzType]="'flex'">
                <div nz-col nzSpan="20" class="reservation__user-name">
                  {{ reservation.user.name }}
                </div>
                <div nz-col nzSpan="4" class="reservation__hour">
                  {{ reservation.served_at | date: "HH:mm" }}
                </div>
              </div>
              <div
                nz-row
                [nzType]="'flex'"
                class="user-info-margin"
                style="padding-bottom: 5px"
              >
                <div nz-col nzSpan="16" class="reservation__email">
                  <span>{{ reservation.user.email }}</span
                  ><span
                    *ngIf="reservation.user.student_number"
                    class="user-student-number"
                  >
                    nº{{ reservation.user.student_number }}
                  </span>
                </div>
                <div nz-col nzSpan="8" class="reservation__date">
                  {{ reservation.served_at | date: "dd/MM/yyyy" }}
                </div>
              </div>
            </ng-template>
            <ng-template #reservationInfo>
              <div nz-row [nzType]="'flex'">
                <div nz-col nzSpan="24" class="reservation__type">
                  {{
                    (reservation.menu_dish.type.translations | translation)?.name | uppercase
                  }}
                  -
                  {{
                    translateMeal(reservation.menu_dish.menu.meal) | uppercase
                  }}
                </div>
              </div>

              <div nz-row [nzType]="'flex'">
                <div nz-col nzSpan="24" class="reservation__name">
                  {{ (reservation.menu_dish.dish.translations | translation)?.name }}
                </div>
              </div>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
      <ng-template #pagination>
        <nz-pagination
          [nzPageSize]="pageSize"
          [nzPageIndex]="pageIndex"
          [nzTotal]="reservationsTotal"
          (nzPageIndexChange)="loadMoreReservations($event)"
        ></nz-pagination>
      </ng-template>
    </nz-list>
  </div>
</div>

<nz-modal
  [nzVisible]="addNewDishModal_visible"
  nzTitle="Adicionar Prato"
  nzWidth="600px"
  (nzOnCancel)="closeNewDishModal()"
  [nzOkText]="null"
  [nzCancelText]="null"
>
  <nz-steps
    nzType="navigation"
    nzSize="small"
    [nzCurrent]="addMenuDishIndex"
    (nzIndexChange)="onMenuDishIndexChange($event)"
  >
    <nz-step nzTitle="Tipo de Prato"> </nz-step>
    <nz-step nzTitle="Prato"> </nz-step>
    <nz-step nzTitle="Quantidade"> </nz-step>
  </nz-steps>
  <div nz-row *ngIf="addMenuDishIndex === 0">
    <nz-spin [nzSpinning]="loadingDishTypes">
      <ul style="list-style: none; padding: 0px; margin-top: 15px">
        <li *ngFor="let dishType of dishTypes">
          <div
            nz-row
            (click)="selectDishType(dishType.id)"
            style="border: 1px solid; padding: 15px;
            margin-top: 10px;"
          >
            {{ (dishType.translations | translation)?.name }}
          </div>
        </li>
      </ul>
    </nz-spin>
  </div>
  <div nz-row *ngIf="addMenuDishIndex === 1">
    <div nz-row>
      <div nz-col nzSpan="24">Pesquisar:</div>
      <div nz-col nzSpan="24">
        <input
          nz-input
          [(ngModel)]="searchDish"
          matKeyboard
          style="height: 45px"
          (ngModelChange)="searchDishByName($event)"
        />
      </div>
    </div>
    <nz-spin [nzSpinning]="loadingDishs">
      <ul style="list-style: none; padding: 0px; margin-top: 15px">
        <li *ngFor="let dish of dishs">
          <div
            nz-row
            (click)="selectDish(dish.id)"
            style="border: 1px solid; padding: 20px; margin-top: 5px;"
          >
            {{ dish.translations ? (dish.translations | translation)?.name : "--" }}
          </div>
        </li>
      </ul>
    </nz-spin>
  </div>
  <div nz-row *ngIf="addMenuDishIndex === 2" style="margin: 15px">
    <div nz-col nzSpan="24">Quantidade:</div>
    <div nz-col nzSpan="24">
      <input nz-input [(ngModel)]="menuDishQuantity" style="margin-bottom: 20px; height: 45px;" />
    </div>

    <!--
            -->
    <div class="input_quantity_box">
      <div nz-row nzType="flex" nzGutter="8" class="number-row">
        <div nz-col nzSpan="8">
          <button class="button-number" (click)="addToQuantityInput('1')">
            1
          </button>
        </div>
        <div nz-col nzSpan="8">
          <button class="button-number" (click)="addToQuantityInput('2')">
            2
          </button>
        </div>
        <div nz-col nzSpan="8">
          <button class="button-number" (click)="addToQuantityInput('3')">
            3
          </button>
        </div>
      </div>
      <div nz-row nzType="flex" nzGutter="8" class="number-row">
        <div nz-col nzSpan="8">
          <button class="button-number" (click)="addToQuantityInput('4')">
            4
          </button>
        </div>
        <div nz-col nzSpan="8">
          <button class="button-number" (click)="addToQuantityInput('5')">
            5
          </button>
        </div>
        <div nz-col nzSpan="8">
          <button class="button-number" (click)="addToQuantityInput('6')">
            6
          </button>
        </div>
      </div>
      <div nz-row nzType="flex" nzGutter="8" class="number-row">
        <div nz-col nzSpan="8">
          <button class="button-number" (click)="addToQuantityInput('7')">
            7
          </button>
        </div>
        <div nz-col nzSpan="8">
          <button class="button-number" (click)="addToQuantityInput('8')">
            8
          </button>
        </div>
        <div nz-col nzSpan="8">
          <button class="button-number" (click)="addToQuantityInput('9')">
            9
          </button>
        </div>
      </div>
      <div nz-row nzType="flex" nzGutter="8" class="number-row">
        <div nz-col nzSpan="8">
         </div>
        <div nz-col nzSpan="8">
          <button class="button-number" (click)="addToQuantityInput('0')">
            0
          </button>
        </div>
        <div nz-col nzSpan="8">
          <button
            style="padding: 24px 27px 24px 27px"
            class="button-number"
            (click)="removeQuantityFromInput()"
          >
            <i nz-icon type="icons:clean"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div nz-row style="margin-top: 25px">
    <div nz-col nzSpan="12" (click)="backStep()" style="height: 60px;
    background: #ff6161;
    color: white;
    text-align: center;
    padding-top: 17px;">
        Voltar
    </div>
    <div nz-col nzSpan="1"></div>
    <div nz-col nzSpan="11"  style="height: 60px;
    background: #439243;
    color: white;
    text-align: center;
    padding-top: 17px;" (click)="confirmDish()">
        Confirmar
    </div>
    <!--<button nz-button (click)="backStep()" [disabled]="addMenuDishIndex === 0">
    </button>-->
  </div>

</nz-modal>

<nz-modal
  [nzVisible]="qtdModalVisible"
  nzTitle="Alterar doses disponíveis"
  (nzOnCancel)="closeModalQtd()"
  (nzOnOk)="confirmQtd()"
>
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzSpan="12">
      <nz-radio-group
        [(ngModel)]="qtdOperationToChange"
        [nzSize]="'large'"
        (ngModelChange)="updateQtdToAfterChange()"
      >
        <label nz-radio-button nzValue="in">Adicionar</label>
        <label nz-radio-button nzValue="out">Remover</label>
      </nz-radio-group>
    </div>
    <div nz-col nzSpan="2">
      <button nz-button (click)="removeQtdToChange()">-</button>
    </div>
    <div nz-col nzSpan="2" class="modal__doses_number">
      {{ qtdToChange }}
    </div>
    <div nz-col nzSpan="2">
      <button nz-button (click)="addQtdToChange()">+</button>
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzSpan="12" class="modal__after_doses_number">
      Ficam disponíveis: <b>{{ qtdToAfterChange }}</b>
    </div>
  </div>
</nz-modal>
