.reservation {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #333333;

  &__info {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #666666;
  }

  &__user-name {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #666666;
  }

  &__hour {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: #222222;
  }
  &__email {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #979797;
  }
  &__date {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: right;
    color: #979797;
  }
  &__type {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #666666;
    margin-bottom: 5px;
  }
  &__name {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #979797;
  }
}

.day-input {
}

.meal_selected {
  margin-left: 15px;
}

.filter-options {
  margin-top: 18px;
}

.reservation_divider {
  margin-top: 18px;
}

.reservation_list {
  overflow: scroll;
  overflow-x: hidden;
  //height: calc(100vh - 234px);

  &__item {
    cursor: pointer;

    &__name {
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #000000;

      &--bold {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #000000;
      }
    }

    &__info {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: right;
      color: #666666;
    }
  }
}

.stats-table {
  border-radius: 4px !important;
  border: solid 1px #e8e8e8;

  th {
    text-align: center;
  }

  td {
    text-align: center;
    font-size: 18px;
  }

  &__type {
    display: block;
  }

  &__dish {
    font-size: 12px;
  }
}

.list-margin {
  margin-top: 25px;
}

.modal {
  &__doses_number {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
  }

  &__after_doses_number {
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
  }
}

.input-row {
  margin-top: 15px;
}

.input_quantity_box {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

.number-row {
  margin-top: 8px;
  .button-number {
    border-radius: 43.2px;
    border: solid 1px #e8e8e8;
    background-color: #ffffff;
    padding: 24px 29px 24px 29px;
    font-family: Montserrat;
    font-size: 21.6px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
  }
}