<div nz-row class="change_pin">
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>

  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12" style="padding-top: 25px;">
    <div nz-row>
      <h2 class="title-top-page">{{ 'CHANGE_PIN.DESCRIPTION' | translate }}</h2>
      <div class="change_pin__form" nz-row>
        <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="4" [nzXl]="4" [nzXXl]="4"></div>
        <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="16" [nzXl]="16" [nzXXl]="16">
          <form nz-form [formGroup]="changePinForm" class="firstLogin-form">

            <nz-form-item style="margin-top: 24px;"
              [ngClass]="{'error': (changePinForm.get('actual_pin').dirty && changePinForm.get('actual_pin').errors) }">
              <nz-form-label nzRequired nzFor="actual_pin">
                <b> {{ 'CHANGE_PIN.OLD_PIN' | translate }}</b>
              </nz-form-label>

              <nz-form-extra class="form__tip">{{ 'CHANGE_PIN.INSERT_OLD_PIN' | translate }}</nz-form-extra>
              <nz-form-control>
                <nz-input-group [nzSuffix]="suffixAtualPinTemplate">
                  <input [type]="actual_pin_visible ? 'text' : 'password'" nz-input formControlName="actual_pin"
                    [placeholder]="'CHANGE_PIN.INSERT_OLD_PIN' | translate" />
                </nz-input-group>
                <ng-template #suffixAtualPinTemplate>
                  <i nz-icon [nzType]="actual_pin_visible ? 'icons:icons-show' : 'icons:icons-dontshow'"
                    (click)="actual_pin_visible = !actual_pin_visible"></i>
                </ng-template>
                <nz-form-explain *ngIf="changePinForm.get('actual_pin').errors">
                  <i nz-icon type="icons:icons-info"></i>
                  {{getInputError('actual_pin') | translate: { value: 'CHANGE_PIN.OLD_PIN' | translate} }}
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>


            <nz-form-item style="margin-top: 24px;"
              [ngClass]="{'error': (changePinForm.get('new_pin').dirty && changePinForm.get('new_pin').errors) }">
              <nz-form-label nzRequired nzFor="new_pin">
                <b> {{ 'CHANGE_PIN.NEW_PIN' | translate }}</b>
              </nz-form-label>

              <nz-form-extra class="form__tip">{{ 'CHANGE_PIN.INSERT_NEW_PIN' | translate }}</nz-form-extra>
              <nz-form-control>
                <nz-input-group [nzSuffix]="suffixNewPinTemplate">
                  <input [type]="newPinVisible ? 'text' : 'password'" nz-input formControlName="new_pin"
                    [placeholder]="'CHANGE_PIN.INSERT_NEW_PIN' | translate" />
                </nz-input-group>
                <ng-template #suffixNewPinTemplate>
                  <i nz-icon [nzType]="newPinVisible ? 'icons:icons-show' : 'icons:icons-dontshow'"
                    (click)="newPinVisible = !newPinVisible"></i>
                </ng-template>
                <nz-form-explain *ngIf="changePinForm.get('new_pin').errors">
                  <i nz-icon type="icons:icons-info"></i>
                  {{getInputError('new_pin') | translate: { value: 'CHANGE_PIN.NEW_PIN' | translate} }}
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>


            <nz-form-item style="margin-top: 24px;"
              [ngClass]="{'error': (changePinForm.get('repeat_new_pin').dirty && changePinForm.get('repeat_new_pin').errors) }">
              <nz-form-label nzRequired nzFor="repeat_new_pin">
                <b>{{ 'CHANGE_PIN.CONFIRM_NEW_PIN' | translate }}</b>
              </nz-form-label>

              <!-- <nz-form-extra class="form__tip">{{ 'CHANGE_PIN.INSERT_NEW_PIN' | translate }}</nz-form-extra> -->
              <nz-form-control>
                <nz-input-group [nzSuffix]="suffixConfirmPinTemplate">
                  <input [type]="confirm_pin_visible ? 'text' : 'password'" nz-input formControlName="repeat_new_pin"
                    [placeholder]="'CHANGE_PIN.CONFIRM_NEW_PIN' | translate" />
                </nz-input-group>
                <ng-template #suffixConfirmPinTemplate>
                  <i nz-icon [nzType]="confirm_pin_visible ? 'icons:icons-show' : 'icons:icons-dontshow'"
                    (click)="confirm_pin_visible = !confirm_pin_visible"></i>
                </ng-template>
                <nz-form-explain *ngIf="changePinForm.get('repeat_new_pin').errors">
                  <i nz-icon type="icons:icons-info"></i>
                  {{getInputError('repeat_new_pin') | translate: { value: 'CHANGE_PIN.CONFIRM_NEW_PIN' | translate} }}
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>


            <nz-alert [ngClass]="{'hidden' : hiddenSendEmailConfirm}" class="send-email-confirm" nzType="success"
              nzMessage="{{ 'CHANGE_PIN.SEND_CONFIRM_MAIL.TITLE' | translate }}"
              nzDescription="{{ 'CHANGE_PIN.SEND_CONFIRM_MAIL.DESC' | translate }}" nzShowIcon>
            </nz-alert>
          </form>
          <nz-form-item class="change_pin__button">
            <nz-form-control>
              <app-button [buttonStyle]="{
                'width': '100%',
                'font-size': '17px',
                'line-height': '24px',
                'margin-bottom': '0px'
              }" [translate]="'MISC.CHANGE'" [ngClass]="{'disabled': this.changePinForm.invalid}" type="floating"
                [loading]="loading" (click)="submit(changePinForm.value, changePinForm.valid)">
              </app-button>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="change_pin__cancel">
            <nz-form-control>
              <div nz-col [nzSpan]="24" class="disable_account__form__info">
                <a [routerLink]="['/', 'profile']">{{ 'DISABLE_ACCOUNT.RETURN' | translate }}</a>
              </div>

            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="4" [nzXl]="4" [nzXXl]="4"></div>


      </div>
    </div>
    <div nz-row>
      <h2 class="title-top-page">{{ 'CHANGE_PIN.TITLE' | translate }}</h2>
      <div class="change_pin__form" nz-row>
        <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="4" [nzXl]="4" [nzXXl]="4"></div>
        <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="16" [nzXl]="16" [nzXXl]="16">
          <div nz-row class="sub-title-top-page" style="padding-top: 20px;">
            {{ 'CHANGE_PIN.DESC_RANDOM' | translate }}
          </div>
          <div nz-row class="padding-40">
            <app-button [buttonStyle]="{
              'width': '100%',
              'font-size': '17px',
              'line-height': '24px',
              'margin-bottom': '0px'
            }" [translate]="'MISC.GENERATE'" type="secundary" [loading]="loadingChangePin"
              (click)="sendPin()">
            </app-button>
          </div>
        </div>
        <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="4" [nzXl]="4" [nzXXl]="4"></div>
      </div>
    </div>

  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>
</div>