.error {
  .form__label {
    color: red;
  }

  input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }

  nz-form-explain {
    color: red;

    i {
      color: red;
      fill: red;
    }

    svg {
      color: red !important;
      fill: red !important;
    }

    path {
      color: red !important;
      fill: red !important;
    }

  }
}

.padding-40 {
  padding-bottom:40px;
  padding-top:20px;
}

.change_pin {

  @media screen and (max-width: 576px) {
    height: 100%;
  }

  &__form {
    background: white;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &__button {
    margin-top: 40px;
    margin-bottom: 0px;
  }

  &__cancel {
    text-align: center;
    button {
      font-size: 13px;
      font-weight: normal;
      line-height: 3.08;
      color: #000000;
    }
  }
}

.send-email-confirm {
  margin-top: 20px;
}
