<div nz-row>
    <!--Back Button-->
    <div nz-col [nzSm]="1" [nzXs]="1"></div>
    <div nz-col [nzSm]="22" [nzXs]="22" class="top">
        <app-button translate="MISC.CANCEL" (click)="cancelApplication()"
            [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}" type="tertiary"></app-button>
    </div>

    <div nz-col [nzSm]="1" [nzXs]="1"></div>
</div>

<div nz-row>

    <div nz-col [nzSm]="1" [nzXs]="1"></div>
    <div nz-col [nzSm]="22" [nzXs]="22">
        <!--Steps-->
        <div nz-row class="content__space">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <div row class="content content__prog">
                    <!--XL to XXL-->
                    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="0" [nzXl]="24" [nzXXl]="24">
                        <nz-steps class="content__line" [nzCurrent]="step" nzProgressDot>
                            <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.T1' | translate }}"
                                nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.STEP_ONE' | translate }}">
                            </nz-step>
                            <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.T2' | translate }}"
                                nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.STEP_TWO' | translate }}">
                            </nz-step>
                            <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.T3' | translate }}"
                                nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.STEP_THREE' | translate }}">
                            </nz-step>
                            <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.T4' | translate }}"
                                nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.STEP_FOUR' | translate }}">
                            </nz-step>
                            <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.T5' | translate }}"
                                nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.STEP_FIVE' | translate }}">
                            </nz-step>
                            <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.T6' | translate }}"
                                nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.STEP_SIX' | translate }}">
                            </nz-step>
                            <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.T7' | translate }}"
                                nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.STEP_SEVEN' | translate }}">
                            </nz-step>
                        </nz-steps>
                    </div>
                    <!--XS to SM-->
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="0" [nzXXl]="0">
                        <div *ngIf="step===0">
                            <p class="steps-minimal-size_title">
                                {{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.T1' | translate }}
                            </p>
                            <p class="steps-minimal-size_sub-title">
                                {{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.STEP_ONE_TOTAL' | translate }}
                            </p>
                        </div>
                        <div *ngIf="step===1">
                            <p class="steps-minimal-size_title">
                                {{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.T2' | translate }}
                            </p>
                            <p class="steps-minimal-size_sub-title">
                                {{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.STEP_TWO_TOTAL' | translate }}
                            </p>
                        </div>
                        <div *ngIf="step===2">
                            <p class="steps-minimal-size_title">
                                {{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.T3' | translate }}
                            </p>
                            <p class="steps-minimal-size_sub-title">
                                {{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.STEP_THREE_TOTAL' | translate }}
                            </p>
                        </div>
                        <div *ngIf="step===3">
                            <p class="steps-minimal-size_title">
                                {{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.T4' | translate }}
                            </p>
                            <p class="steps-minimal-size_sub-title">
                                {{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.STEP_FOUR_TOTAL' | translate }}
                            </p>
                        </div>
                        <div *ngIf="step===4">
                            <p class="steps-minimal-size_title">
                                {{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.T5' | translate }}
                            </p>
                            <p class="steps-minimal-size_sub-title">
                                {{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.STEP_FIVE_TOTAL' | translate }}
                            </p>
                        </div>
                        <div *ngIf="step===5">
                            <p class="steps-minimal-size_title">
                                {{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.T6' | translate }}
                            </p>
                            <p class="steps-minimal-size_sub-title">
                                {{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.STEP_SIX_TOTAL' | translate }}
                            </p>
                        </div>
                        <div *ngIf="step===6">
                            <p class="steps-minimal-size_title">
                                {{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.T7' | translate }}
                            </p>
                            <p class="steps-minimal-size_sub-title">
                                {{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.STEP_SEVEN_TOTAL' | translate }}
                            </p>
                        </div>

                    </div>
                </div>

                <nz-divider class="divider-web"></nz-divider>


                <div row class="application_form">
                    <div nz-row *ngIf="showErrorMessage" class="bottom">
                        <div nz-col nzSpan="24">
                            <nz-alert nzType="error" [nzMessage]="'MISC.ERROR_GENERIC' | translate"></nz-alert>
                        </div>
                    </div>
                    <!----------------------------------STEP 0---------------------------------->
                    <form *ngIf="step == 0" nz-form [formGroup]="formProperty">
                        <p class="title-step-form"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.T1" | translate }}
                        </p>
                        <p>{{'MISC.REQUIRED-INFO' | translate }}<span class="color-required"><b>*</b></span>
                            {{'MISC.REQUIRED-INFO-2' | translate }}</p>
                        <!--Title-->
                        <nz-spin [nzSpinning]="languages_loading">
                            <ng-container formArrayName="translations">
                                <nz-tabset [nzTabBarExtraContent]="languageTemplate" #translationTabsTitle>
                                    <nz-tab *ngFor="let translation of getTranslations().controls; let i = index;"
                                        [nzTitle]="getLanguageName(translation.value.language_id)">
                                        <ng-container [formGroupName]="i">
                                            <nz-form-item>
                                                <nz-form-label nzFor="name" nzRequired> <b>{{
                                                        "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.TITLE_APRESENTATION"
                                                        | translate
                                                        }}</b>
                                                </nz-form-label>
                                                <nz-form-control>
                                                    <input nz-input formControlName="name" id="name" name="name"
                                                        class="primary-input">
                                                </nz-form-control>
                                                <nz-form-explain class="color-required"
                                                    *ngIf="submitted && formProperty.get('translations.' + i + '.name')?.errors">
                                                    {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                                                </nz-form-explain>
                                            </nz-form-item>
                                        </ng-container>

                                    </nz-tab>

                                </nz-tabset>
                            </ng-container>
                        </nz-spin>
                        <nz-form-explain class="color-required" *ngIf="listOfSelectedLanguages.length === 0"
                            style="padding-top: 20px;">
                            {{"PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.MANDATORY_DESCRIPTION"
                            | translate }}
                        </nz-form-explain>
                        <!--House Type-->
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="house_typology">
                                <b>
                                    {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.TYPE_HOUSE" |
                                    translate
                                    }}</b>
                            </nz-form-label>
                            <nz-form-control>
                                <nz-radio-group class="content__radio_group" formControlName="house_typology">
                                    <label nz-radio nzValue="House" class="content__radio_line"><span
                                            class="content__radiotitle">
                                            {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.R1" |
                                            translate
                                            }}</span></label>
                                    <label nz-radio nzValue="Apartment" class="content__radio_line"><span
                                            class="content__radiotitle">
                                            {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.R2" |
                                            translate
                                            }}</span></label>
                                </nz-radio-group>
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && fp.house_typology.errors">
                                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                            </nz-form-explain>
                        </nz-form-item>

                        <!--Typology-->
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="typology_id">
                                <b>
                                    {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.ROOM_NUMBER" |
                                    translate
                                    }}</b>
                            </nz-form-label>
                            <nz-form-control>
                                <nz-radio-group class="content__radio_group" formControlName="typology_id">
                                    <label *ngFor="let t of typologies" nz-radio [nzValue]="t.id"
                                        class="content__radio_line"><span class="content__radiotitle">
                                            {{ t?.name || '' }}</span></label>
                                </nz-radio-group>
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && fp.typology_id.errors">
                                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                            </nz-form-explain>
                        </nz-form-item>

                        <!--Floor-->
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="floor">
                                <b>
                                    {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.FLOOR" |
                                    translate
                                    }}</b>
                            </nz-form-label>
                            <nz-form-control>
                                <div style="display: flex; flex-direction: row; margin-top: 10px;">
                                    <input nz-input type="number" class="content__input2" formControlName="floor"
                                        id="floor" />
                                </div>
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && fp.floor.errors">
                                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                            </nz-form-explain>
                        </nz-form-item>

                        <!--Usable Space-->
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="usable_space">
                                <b>
                                    {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.TYPE_SPACE" |
                                    translate
                                    }}</b>
                            </nz-form-label>
                            <nz-form-control>
                                <nz-radio-group class="content__radio_group" formControlName="usable_space"
                                    (ngModelChange)="changeUsableSpace($event);">
                                    <label nz-radio nzValue="WHOLE_HOUSE" class="content__radio_line"><span
                                            class="content__radiotitle">
                                            {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.R9" |
                                            translate
                                            }}</span></label>
                                    <label nz-radio nzValue="SHARED_ROOM" class="content__radio_line"><span
                                            class="content__radiotitle">
                                            {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.R10" |
                                            translate
                                            }}</span></label>
                                </nz-radio-group>
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && (fp.usable_space.errors)">
                                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                            </nz-form-explain>
                            <nz-form-explain class="color-required" *ngIf="submitted && errorRoom">
                                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                            </nz-form-explain>
                        </nz-form-item>



                        <!--Area-->
                        <nz-form-item *ngIf="formProperty.get('usable_space').value == 'WHOLE_HOUSE'">
                            <nz-form-label nzRequired nzFor="area">
                                <b>
                                    {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.AREA" | translate
                                    }}</b>
                            </nz-form-label>
                            <nz-form-control>
                                <div style="display: flex; flex-direction: row; margin-top: 10px;">
                                    <nz-form-control>
                                        <nz-input-group nzAddOnAfter="m²">
                                            <input nz-input type="number" class="content__input" formControlName="area"
                                                id="area" />
                                        </nz-input-group>
                                    </nz-form-control>



                                </div>
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && fp.area.errors">
                                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                            </nz-form-explain>
                        </nz-form-item>

                        <!--Price-->
                        <nz-form-item *ngIf="formProperty.get('usable_space').value == 'WHOLE_HOUSE'">
                            <nz-form-label nzRequired nzFor="price">
                                <b>
                                    {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.PRICE" |
                                    translate
                                    }}</b>
                            </nz-form-label>
                            <div class="desc-title-form">
                                {{
                                "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.PRICE_DESC" | translate
                                }}
                            </div>

                            <nz-form-control>
                                <div style="display: flex; flex-direction: row; margin-top: 10px;">
                                    <nz-form-control>
                                        <nz-input-group nzAddOnAfter="EUR">
                                            <input nz-input type="number" class="content__input" formControlName="price"
                                                id="price" />
                                        </nz-input-group>

                                    </nz-form-control>

                                </div>
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && fp.price.errors">
                                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                            </nz-form-explain>
                        </nz-form-item>

                        <div *ngIf="formProperty.get('usable_space').value == 'WHOLE_HOUSE'" nz-row [nzGutter]="24">
                            <div nz-col nzSpan="24">

                                <nz-spin [nzSpinning]="languages_loading">
                                    <ng-container formArrayName="translations">
                                        <nz-tabset [nzTabBarExtraContent]="languageTemplate" #translationTabsWhole>
                                            <nz-tab
                                                *ngFor="let translation of getTranslations().controls; let i = index;"
                                                [nzTitle]="getLanguageName(translation.value.language_id)">
                                                <ng-container [formGroupName]="i">
                                                    <nz-form-item>
                                                        <nz-form-label nzFor="description" nzRequired><b>Descrição</b>
                                                        </nz-form-label>
                                                        <nz-form-control>
                                                            <textarea rows="5" maxlength="255" nz-input
                                                                formControlName="description"></textarea>
                                                        </nz-form-control>
                                                        <nz-form-explain class="color-required"
                                                            *ngIf="submitted && formProperty.get('translations.' + i + '.description')?.errors">
                                                            {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                                                        </nz-form-explain>
                                                    </nz-form-item>
                                                </ng-container>
                                            </nz-tab>
                                        </nz-tabset>
                                    </ng-container>
                                    <div *ngIf="listOfSelectedLanguages.length === 0">
                                        <span class="error_languages_min"> {{
                                            "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.MANDATORY_DESCRIPTION"
                                            | translate }} </span>
                                    </div>
                                </nz-spin>
                            </div>
                        </div>

                        <!--------------------Room------------------>
                        <div *ngIf="formProperty.get('usable_space').value == 'SHARED_ROOM'" formArrayName="rooms">
                            <div *ngFor="let room of getRooms().controls; let roomIndex = index"
                                [formGroupName]="roomIndex" class="padding-top-15">
                                <b>
                                    {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.R10" | translate
                                    }} -
                                    {{roomIndex + 1}}</b>
                                <nz-divider></nz-divider>
                                <div nz-row>
                                    <button nz-button nzType="danger" type="button" (click)="removeRoom(roomIndex)"
                                        style="float:right; cursor:pointer">
                                        <i nz-icon type="delete"></i>
                                    </button>

                                </div>
                                <div nz-row>
                                    <nz-form-item>
                                        <nz-form-label nzRequired nzFor="area">
                                            <b>
                                                {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.AREA"
                                                |
                                                translate }}</b>
                                        </nz-form-label>
                                        <nz-form-control>
                                            <div style="display: flex; flex-direction: row; margin-top: 10px;">
                                                <nz-form-control>
                                                    <nz-input-group nzAddOnAfter="m²">
                                                        <input nz-input type="number" class="content__input"
                                                            formControlName="area" />
                                                    </nz-input-group>
                                                </nz-form-control>

                                            </div>
                                        </nz-form-control>
                                        <nz-form-explain class="color-required"
                                            *ngIf="submitted && formProperty.get('rooms.' + roomIndex + '.area')?.errors">
                                            {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                                        </nz-form-explain>
                                    </nz-form-item>
                                </div>
                                <div nz-row>
                                    <nz-form-item>
                                        <nz-form-label nzRequired nzFor="price">
                                            <b>
                                                {{
                                                "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.PRICE" |
                                                translate }}</b>
                                        </nz-form-label>

                                        <div class="desc-title-form">
                                            {{
                                            "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.PRICE_DESC"
                                            |
                                            translate }}
                                        </div>

                                        <nz-form-control>
                                            <div style="display: flex; flex-direction: row; margin-top: 10px;">
                                                <nz-form-control>
                                                    <nz-input-group nzAddOnAfter="EUR">
                                                        <input nz-input type="number" class="content__input"
                                                            formControlName="price" id="price" />
                                                    </nz-input-group>
                                                </nz-form-control>

                                            </div>
                                        </nz-form-control>
                                        <nz-form-explain class="color-required"
                                            *ngIf="submitted && formProperty.get('rooms.' + roomIndex + '.price')?.errors">
                                            {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                                        </nz-form-explain>
                                    </nz-form-item>
                                </div>
                                <div nz-row>
                                    <nz-form-item>
                                        <nz-form-label nzRequired nzFor="room_type">
                                            <b>
                                                {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.TYPE"
                                                |
                                                translate }}</b>
                                        </nz-form-label>
                                        <nz-form-control>
                                            <nz-radio-group class="content__radio_group" formControlName="room_type">
                                                <label nz-radio [nzValue]="'PRIVATE_ROOM'"
                                                    class="content__radio_line"><span class="content__radiotitle">
                                                        {{
                                                        "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.PRIVATE"
                                                        | translate
                                                        }}</span></label>
                                                <label nz-radio [nzValue]="'SHARED_ROOM'"
                                                    class="content__radio_line"><span class="content__radiotitle">
                                                        {{
                                                        "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.SHARED"
                                                        | translate
                                                        }}</span></label>
                                            </nz-radio-group>
                                            <nz-form-explain class="color-required"
                                                *ngIf="submitted && formProperty.get('rooms.' + roomIndex + '.room_type')?.errors">
                                                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                                            </nz-form-explain>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-row>
                                    <nz-form-item>
                                        <nz-form-label nzRequired nzFor="shared_wc">
                                            <b>
                                                {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.WC" |
                                                translate }}</b>
                                        </nz-form-label>
                                        <nz-form-control>
                                            <nz-radio-group formControlName="shared_wc" [nzSize]="'small'">
                                                <label nz-radio [nzValue]=true>{{ 'MISC.YES' | translate
                                                    }}</label>
                                                <label nz-radio [nzValue]=false>{{ 'MISC.NO' | translate
                                                    }}</label>
                                            </nz-radio-group>
                                        </nz-form-control>
                                        <nz-form-explain class="color-required"
                                            *ngIf="submitted && formProperty.get('rooms.' + roomIndex + '.shared_wc')?.errors">
                                            {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                                        </nz-form-explain>
                                    </nz-form-item>
                                </div>
                                <div nz-row>
                                    <div nz-col nzSpan="24">

                                        <nz-spin [nzSpinning]="languages_loading">
                                            <ng-container formArrayName="translations">
                                                <nz-tabset [nzTabBarExtraContent]="languageTemplateRooms" #tabRoomTrans>
                                                    <nz-tab
                                                        *ngFor="let descrip of getDescriptionTranslation(roomIndex).controls; let i = index;"
                                                        [nzTitle]="getLanguageName(descrip.value.language_id)">
                                                        <ng-container [formGroupName]="i">
                                                            <nz-form-item>
                                                                <nz-form-label nzFor="description" nzRequired>
                                                                    <b>Descrição</b>
                                                                </nz-form-label>
                                                                <nz-form-control>
                                                                    <textarea rows="5" maxlength="255" nz-input
                                                                        formControlName="description"></textarea>
                                                                </nz-form-control>
                                                                <nz-form-explain class="color-required"
                                                                    *ngIf="submitted && formProperty.get('rooms.' + roomIndex  + '.translations.' + i + '.description')?.errors">
                                                                    {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                                                                </nz-form-explain>
                                                            </nz-form-item>
                                                        </ng-container>
                                                    </nz-tab>
                                                </nz-tabset>
                                            </ng-container>
                                            <div *ngIf="listOfSelectedLanguagesRooms[roomIndex].length === 0">
                                                <span class="error_languages_min"> {{
                                                    "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.MANDATORY_ROOM_DESCRIPTION"
                                                    | translate }}</span>
                                            </div>
                                        </nz-spin>

                                    </div>
                                    <ng-template #languageTemplateRooms>
                                        <nz-select class="languages" nzMode="multiple"
                                            [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="listOfSelectedLanguagesRooms[roomIndex]" [nzMaxTagCount]="1"
                                            nzPlaceHolder="Línguas" [nzLoading]="languages_loading"
                                            (ngModelChange)="changeLanguageRooms(roomIndex)">
                                            <nz-option *ngFor="let language of languages" [nzLabel]="language.name"
                                                [nzValue]="language.id">
                                            </nz-option>
                                        </nz-select>
                                    </ng-template>
                                </div>
                            </div>

                            <div nz-row class="margin-top-15">
                                <button nz-button nzType="primary" type="button" (click)="addNewRoom()">
                                    {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.BUTTONADDROOM" |
                                    translate }}
                                </button>
                            </div>
                        </div>


                    </form>
                    <!----------------------------------STEP 1---------------------------------->
                    <form *ngIf="step == 1" nz-form [formGroup]="formLocation">
                        <p class="title-step-form"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.T2" | translate }}
                        </p>
                        <!--Address-->
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="address">
                                <b>
                                    {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_TWO.FORM_ELEMENTS.ADRESS1" |
                                    translate
                                    }}</b>
                            </nz-form-label>
                            <nz-form-control>
                                <input nz-input class="primary-input" formControlName="address" id="address"
                                    maxlength="250" />
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && fl.address.errors">
                                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                            </nz-form-explain>
                        </nz-form-item>

                        <!--Address no-->
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="address_no">
                                <b>
                                    {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_TWO.FORM_ELEMENTS.ADRESS2" |
                                    translate
                                    }}</b>
                            </nz-form-label>
                            <nz-form-control>
                                <input nz-input class="primary-input" formControlName="address_no" id="address_no"
                                    maxlength="25" />
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && fl.address_no.errors">
                                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                            </nz-form-explain>
                        </nz-form-item>

                        <!--Postal code-->
                        <nz-form-item>
                            <nz-form-label nzRequired>
                                <b>
                                    {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_TWO.FORM_ELEMENTS.POST_CODE" |
                                    translate
                                    }}</b>
                            </nz-form-label>
                            <nz-form-control>
                                <div style="display: flex; flex-direction: row;">
                                    <input mask="0000-000" [dropSpecialCharacters]="false"
                                        class="content__input1 primary-input" nz-input formControlName="postal_code"
                                        id="postal_code" />
                                </div>
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && fl.postal_code.errors">
                                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                            </nz-form-explain>
                        </nz-form-item>

                        <!--City-->
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="city">
                                <b>
                                    {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_TWO.FORM_ELEMENTS.LOCAL" |
                                    translate
                                    }}</b>
                            </nz-form-label>
                            <nz-form-control>
                                <nz-select class="primary-select" formControlName="city" id="country" nzShowSearch (ngModelChange)="changeCity($event);">
                                    <nz-option *ngFor="let  city of cities" [nzLabel]="city.city" [nzValue]="city.city">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && fl.city.errors">
                                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                            </nz-form-explain>
                        </nz-form-item>

                        <!---------------------LATITUDE LONGITUDE------------------>
                        <div style="padding-top: 20px;">
                            <aol-map [height]="'500'" (onClick)="getLatLong($event)">
                                <aol-interaction-default></aol-interaction-default>
                                <aol-control-defaults></aol-control-defaults>
                                <aol-control-scaleline></aol-control-scaleline>
                                <aol-view [zoom]="15" [center]="[longitudeInit, latitudeInit]">
                                    <aol-coordinate [x]="longitudeInit" [y]="latitudeInit" [srid]="'EPSG:4326'">
                                    </aol-coordinate>
                                </aol-view>
                                <aol-layer-tile>
                                    <aol-source-osm></aol-source-osm>
                                </aol-layer-tile>
                                <aol-layer-vector>
                                    <aol-source-vector>
                                        <aol-feature>
                                            <aol-geometry-point>
                                                <aol-coordinate [x]="longitude" [y]="latitude" [srid]="'EPSG:4326'">
                                                </aol-coordinate>
                                            </aol-geometry-point>
                                            <aol-style>
                                                <!--<aol-style-icon [src]="'assets/imgs/map-marker-icon.png'" [anchor]="[0.5, 1]"
                                            [anchorXUnits]="'fraction'" [anchorYUnits]="'fraction'" [scale]="0.1"
                                            [anchorOrigin]="'top-left'">
                                        </aol-style-icon>-->
                                                <aol-style-circle [radius]="10">
                                                    <aol-style-stroke [color]="'black'" width="1"></aol-style-stroke>
                                                    <aol-style-fill [color]="'red'"></aol-style-fill>
                                                </aol-style-circle>
                                            </aol-style>
                                        </aol-feature>
                                    </aol-source-vector>
                                </aol-layer-vector>
                            </aol-map>
                            <label class="lat-long">Latitude: {{getValueFormat(formLocation.get('latitude').value)}}</label>
                            <label class="lat-long">Longitude: {{getValueFormat(formLocation.get('longitude').value)}}</label>
                        </div>


                    </form>
                    <!----------------------------------STEP 2---------------------------------->
                    <form *ngIf="step == 2" nz-form [formGroup]="formAmenities">
                        <p class="title-step-form"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.T3" | translate }}
                        </p>
                        <nz-form-item>
                            <nz-form-label>
                                <b>
                                    {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_THREE.FORM_ELEMENTS.DESC" |
                                    translate
                                    }}</b>
                            </nz-form-label>
                            <nz-form-control>
                                <div class="content__radio_group primary-radio">
                                    <label *ngFor="let obj of amenitiesData" nz-checkbox class="content__radio_line"
                                        style="margin-left:0px;" [formControlName]="obj.formName">
                                        <span class="content__radiotitle">{{ obj.label | translate }}</span>
                                    </label>
                                </div>
                            </nz-form-control>
                        </nz-form-item>
                    </form>
                    <!----------------------------------STEP 3---------------------------------->
                    <form *ngIf="step == 3" nz-form [formGroup]="formExpenses">
                        <p class="title-step-form"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.T4" | translate }}
                        </p>
                        <nz-form-item>
                            <nz-form-label>
                                <b>
                                    {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FOUR.FORM_ELEMENTS.DESC" |
                                    translate
                                    }}</b>
                            </nz-form-label>
                            <nz-form-control>
                                <div class="content__radio_group primary-radio">
                                    <label *ngFor="let obj of expensesData" nz-checkbox class="content__radio_line"
                                        style="margin-left:0px;" [formControlName]="obj.formName">
                                        <span class="content__radiotitle">{{ obj.label | translate }}</span>
                                    </label>
                                </div>
                            </nz-form-control>
                        </nz-form-item>
                    </form>
                    <!----------------------------------STEP 4---------------------------------->
                    <form *ngIf="step == 4" nz-form [formGroup]="formReq">
                        <p class="title-step-form"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.T5" | translate }}
                        </p>
                        <!--Gender-->
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="gender">
                                <b>
                                    {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.GENRE" |
                                    translate
                                    }}</b>
                            </nz-form-label>
                            <nz-form-control>
                                <nz-radio-group class="content__radio_group primary-radio" formControlName="gender">
                                    <label nz-radio nzValue="Indifferent" class="content__radio_line"><span
                                            class="content__radiotitle">
                                            {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.GEN1" |
                                            translate }}</span></label>
                                    <label nz-radio nzValue="Feminine" class="content__radio_line"><span
                                            class="content__radiotitle">
                                            {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.GEN2" |
                                            translate }}</span></label>
                                    <label nz-radio nzValue="Male" class="content__radio_line"><span
                                            class="content__radiotitle">
                                            {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.GEN3" |
                                            translate }}</span></label>
                                </nz-radio-group>
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && fr.gender.errors">
                                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                            </nz-form-explain>
                        </nz-form-item>

                        <!--Occupation-->
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="occupation">
                                <b>
                                    {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.OCCUPATION" |
                                    translate
                                    }}</b>
                            </nz-form-label>
                            <nz-form-control>
                                <nz-radio-group class="content__radio_group primary-radio" formControlName="occupation">
                                    <label nz-radio nzValue="Indifferent" class="content__radio_line"><span
                                            class="content__radiotitle">
                                            {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.GEN1" |
                                            translate }}</span></label>
                                    <label nz-radio nzValue="Nacional" class="content__radio_line"><span
                                            class="content__radiotitle">
                                            {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.OCCUP1"|
                                            translate }}</span></label>
                                    <label nz-radio nzValue="International" class="content__radio_line"><span
                                            class="content__radiotitle">
                                            {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.OCCUP2"|
                                            translate }}</span></label>
                                </nz-radio-group>
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && fr.occupation.errors">
                                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                            </nz-form-explain>
                        </nz-form-item>

                        <!--Allows Pets-->
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="allows_pets">
                                <b>
                                    {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.ANIMAL" |
                                    translate
                                    }}</b>
                            </nz-form-label>
                            <nz-form-control>
                                <nz-radio-group class="content__radio_group primary-radio"
                                    formControlName="allows_pets">
                                    <label nz-radio nzValue="Pets allowed" class="content__radio_line"><span
                                            class="content__radiotitle">
                                            {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.ANIMAL1"
                                            |
                                            translate }}</span></label>
                                    <label nz-radio nzValue="No pets allowed" class="content__radio_line"><span
                                            class="content__radiotitle">
                                            {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.ANIMAL2"
                                            |
                                            translate }}</span></label>
                                </nz-radio-group>
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && fr.allows_pets.errors">
                                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                            </nz-form-explain>
                        </nz-form-item>

                        <!--Allows smokers-->
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="allows_smokers">
                                <b>
                                    {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.SMOKE" |
                                    translate
                                    }}</b>
                            </nz-form-label>
                            <nz-form-control>
                                <nz-radio-group class="content__radio_group primary-radio"
                                    formControlName="allows_smokers">
                                    <label nz-radio nzValue="Smokers allowed" class="content__radio_line"><span
                                            class="content__radiotitle">
                                            {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.SMOKE1"
                                            |
                                            translate }}</span></label>
                                    <label nz-radio nzValue="No smokers allowed" class="content__radio_line"><span
                                            class="content__radiotitle">
                                            {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.SMOKE2"
                                            |
                                            translate }}</span></label>
                                </nz-radio-group>
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && fr.allows_smokers.errors">
                                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                            </nz-form-explain>
                        </nz-form-item>

                        <!--Start Date-->
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="start_date">
                                <b>{{
                                    "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.START_DATE" |
                                    translate
                                    }}</b>
                            </nz-form-label>
                            <div class="desc-title-form">
                                {{
                                "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.START_DATE1" |
                                translate
                                }}
                            </div>

                            <nz-form-control>
                                <nz-date-picker class="primary-datePicker" formControlName="start_date"
                                    (ngModelChange)="clearEndDate();" [nzDisabledDate]="disableStartDate"
                                    id="start_date" nzPlaceHolder=" ">
                                </nz-date-picker>
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && fr.start_date.errors">
                                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                            </nz-form-explain>
                        </nz-form-item>

                        <!--End Date-->
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="end_date">
                                <b>{{
                                    "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.END_DATE" |
                                    translate
                                    }}</b>
                            </nz-form-label>
                            <div class="desc-title-form">
                                {{
                                "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.END_DATE1" | translate:
                                {maxPublishDays: maxPublishDays} }}
                            </div>

                            <nz-form-control>
                                <nz-date-picker class="primary-datePicker"
                                    [nzDisabled]="formReq.get('start_date').value === null" formControlName="end_date"
                                    [nzDisabledDate]="disableEndDate" id="end_date" nzPlaceHolder=" ">
                                </nz-date-picker>
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && fr.end_date.errors">
                                {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                            </nz-form-explain>
                        </nz-form-item>
                    </form>
                    <!----------------------------------STEP 5--------------------------------->
                    <form *ngIf="step == 5" nz-form [formGroup]="formGalary">
                        <p class="title-step-form"> {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.T6" | translate }}
                        </p>
                        <nz-form-item>
                            <nz-form-label nzRequired>
                                <b>
                                    {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_SIX.FORM_ELEMENTS.PHOTOS" |
                                    translate
                                    }}</b>
                            </nz-form-label>
                            <br>
                            <div class="desc-title-form">
                                {{ "PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_SIX.FORM_ELEMENTS.PHOTOS_DESC" |
                                translate:
                                {
                                maxMedias:
                                maxMedias } }}
                            </div>
                        </nz-form-item>

                        <!--Pictures-->
                        <nz-form-item>
                            <div class="clearfix">
                                <app-file-upload [listType]="'picture-card'" [filesList]="fileList"
                                    [multiUploads]="true" [limit]="maxMedias" (fileAdded)="onFileAdded($event)"
                                    (fileDeleted)="onFileDeleted($event)"
                                    [buttonName]="'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_SIX.FORM_ELEMENTS.UPLOAD'">
                                </app-file-upload>
                                <div class="font-upload">
                                    {{ 'MISC.LIMIT_MAX_FILE' | translate }}
                                </div>
                            </div>
                        </nz-form-item>
                        <nz-form-explain class="color-required" *ngIf="submitted">
                            {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
                        </nz-form-explain>
                    </form>
                    <app-property-form-review *ngIf="step == 6" [languages]="languages" [typologies]="typologies"
                        [formProperty]="formProperty" [formLocation]="formLocation" [formAmenities]="formAmenities"
                        [formExpenses]="formExpenses" [formReq]="formReq" [formGalary]="formGalary"
                        (stepValue)="changeStep($event)">
                    </app-property-form-review>

                </div>

                <!-------------------------- BUTTONS ------------------------>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                    class="button-space">
                    <app-button *ngIf="step != 0"
                        (click)="(step == 1 ? step = 0 : step == 2 ? step = 1 : step == 3 ? step = 2 : step == 4 ? step = 3 : step == 5 ? step = 4 : step == 6 ? step = 5 : '');showErrorMessage = false;"
                        style="margin-right: 15px;" [translate]="'MISC.BACK'" [type]="'secundary'"></app-button>
                    <app-button *ngIf="step != 6"
                        (click)="step == 0 ? nextStep(1) : step == 1 ? nextStep(2) : step == 2 ? nextStep(3) : step == 3 ? nextStep(4) : step == 4 ? nextStep(5) : step == 5 ? nextStep(6) : ''"
                        [translate]="'MISC.NEXT'"></app-button>
                    <app-button *ngIf="step == 6" [loading]="loadingButton" (click)="submit()"
                        [translate]="'MISC.SUBMIT'">
                    </app-button>
                </div>
            </div>
        </div>
        <div nz-col [nzSm]="1" [nzXs]="1"></div>
    </div>

</div>

<ng-template #languageTemplate>
    <nz-select class="languages" nzMode="multiple" [(ngModel)]="listOfSelectedLanguages" [nzMaxTagCount]="1"
        nzPlaceHolder="Línguas" [nzLoading]="languages_loading" (ngModelChange)="changeLanguage()">
        <nz-option *ngFor="let language of languages" [nzLabel]="language.name" [nzValue]="language.id"></nz-option>
    </nz-select>
</ng-template>