@import 'theme';

.application_form {
  padding: 25px;
}

.top {
  padding-top: 25px;
}

.bottom {
  padding-bottom: 20px;
}

.lat-long {
  font-size: 12px;
  padding-right: 10px;
}


.font-upload {
  line-height: initial;
  font-size: 12px;
  padding-top: 5px;
}

.button-space {
  text-align: center;
  margin-bottom: 25px;
}


.margin-top-15{
  margin-top:15px;
}

.content {

  &__bigtitle {
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--primary-2);
    margin-bottom: 30px;
  }

  &__title {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #222222;
    margin-top: 10px;
  }

  &__title-room{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #222222;
    margin-top: 10px;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--primary-color);
    margin-left: 15px;
  }


  &__radiotitle {
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 6px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    margin-left: 10px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-content: space-between;
  }

  &__prog {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  &__line {
    overflow: none !important;
    margin-top: 5px;
    width: 100%;
  }

  &__line-simple {
    overflow: none !important;
    margin-top: 5px;
    width: 100%;
    display: none;
  }

  &__radio_group {
    display: flex;
    flex-direction: column;
  }

  &__radio_line {
    flex-direction: row;
    width: 100%;
    line-height: 24px;
    margin-top: 10px;
  }

  &__input {
    width: 100px;
    height: 40px;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }

  &__input2 {
    width: 100px;
    height: 40px;
  }

  &__eur {
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 9px 11px 9px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 1.5;
    background-color: #fff;
    background-image: none;
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all 0.3s;
  }


}

.divider-web {
  margin-top: 10px;
  width: 100%;
}

.space {
  height: 30px;
  width: 100%;
}

.ant-steps-item {
  overflow: inherit !important;
}

.languages {
  width: 200px;
}

.color-required{
  color:red;
  margin-top:8px;
}

nz-step {
  min-width: 15px;
}

:host::ng-deep {
  .ant-steps-dot .ant-steps-item-content {
    width: 160px !important;
  }
}

textarea {
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all 0.3s;
}

@media only screen and (max-width: 1050px) {
  .content {
    &__line {
      display: none;
    }
    &__line-simple {
      display: block;
    }
  }
}

.error_languages_min {
  color: red;
  margin-bottom: 15px;
}

