<div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
  <nz-tag [nzColor]="(configStatus | filterStatusConfig: data[0].status).color">
    {{
      "EMERGENCY_FUND.STATUS." + data[0].status.toString().toUpperCase()
        | translate
    }}</nz-tag
  >
</div>
<div class="title">
  {{ data[1] | translate }}
</div>

<div
  *ngFor="let hist of listHistoric; let idx = index; let last = last"
  nz-row
  [ngClass]="{ box: !isPair(idx), 'box-pair': isPair(idx) }"
  style="position: relative"
  [ngStyle]="{ 'padding-left': hist.type === 0 ? '10px' : '40px' }"
>
  <div
    *ngIf="idx !== 0"
    style="
      border: 0px;
      background-color: #233455;
      width: 2px;
      height: 100%;
      position: absolute;
      left: 25px;
    "
    [ngStyle]="{
      height: idx !== 0 ? 'calc(50% - 15px)' : '100%',
      top: idx !== 0 ? '0' : 'auto'
    }"
  ></div>
  <div
    *ngIf="!last && hist.type === 0"
    style="
      border: 0px;
      background-color: #233455;
      width: 2px;
      height: 100%;
      position: absolute;
      left: 25px;
    "
    [ngStyle]="{
      height: !last ? 'calc(50% - 15px)' : '100%',
      bottom: !last ? '0' : 'auto'
    }"
  ></div>
  <div
    *ngIf="hist.type === 1 && idx !== 0"
    style="
      border: 0px;
      background-color: #233455;
      width: 2px;
      height: 100%;
      position: absolute;
      left: 25px;
      top: 0px;
    "
  ></div>
  <div
    *ngIf="hist.type === 1"
    style="
      border: 2px dashed #233455;
      border-bottom: 0px;
      border-right: 0px;
      background-color: transparent;
      border-radius: 10px 0px 0px 0px;
      width: 20px;
      height: 50%;
      position: absolute;
      left: 25px;
      bottom: 0;
    "
  ></div>
  <div
    nz-col
    [nzXs]="24"
    [nzSm]="24"
    [nzMd]="3"
    [nzLg]="3"
    [nzXl]="2"
    [nzXXl]="2"
  >
    <i
      *ngIf="hist.type === 0"
      nz-icon
      nzType="icons:icons-icons-contacts-info"
      nzTheme="outline"
      id="contacts_info_interest"
      class="icon"
    ></i>
    <i
      *ngIf="hist.type === 1"
      nz-icon
      nzType="icons:icons8-file"
      nzTheme="outline"
      id="contacts_info_interest"
      class="icon"
    ></i>
  </div>
  <div
    nz-col
    [nzXs]="24"
    [nzSm]="24"
    [nzMd]="21"
    [nzLg]="21"
    [nzXl]="22"
    [nzXXl]="22"
    class="font-size-12"
  >
    <div nz-row>
      {{ hist?.created_at | date: "dd-MM-yyyy" }} -
      {{ hist?.created_at | date: "HH:mm" }}h
    </div>
    <div nz-row>
      <b
        >{{
          (hist.type === 0
            ? "EMERGENCY_FUND.HISTORIC.STATUS_CHANGED_TO"
            : "EMERGENCY_FUND.HISTORIC.REPORT_STATUS_CHANGED_TO"
          ) | translate
        }}

        {{
          "EMERGENCY_FUND.STATUS." +
            hist.status.toString().toUpperCase() | translate
        }}
      </b>
    </div>
  </div>
</div>
