<div class="container white" style="padding: 20px;">

    <nz-spin [nzSpinning]="loadingConfiguration">
        <form nz-form [formGroup]="formData">
            <div nz-row>
                <div nz-col [nzSpan]="13">
                    <nz-form-item>
                        <nz-form-label nzRequired>Método Pagamento</nz-form-label>
                        <nz-form-control>
                            <nz-select nzAllowClear formControlName="payment_method_id"
                                (ngModelChange)="findValue($event)">
                                <nz-option *ngFor="let paym of paymentsMethods" [nzValue]="paym.id"
                                    [nzLabel]="paym.name"></nz-option>
                            </nz-select>
                            <nz-form-explain class="color-required" *ngIf="submitted && f.payment_method_id.errors">
                                Campo obrigatório
                            </nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row *ngIf="formData.get('payment_method_id').value">
                <div nz-col [nzSpan]="6">
                    <nz-form-item>
                        <nz-form-label nzRequired>Mínimo carregamento</nz-form-label>
                        <nz-form-control>
                            <input nz-input type="number" formControlName="min_charge_amount">
                            <div *ngIf="submitted && f.min_charge_amount.errors">
                                <nz-form-explain class="color-required" *ngIf="submitted && f.min_charge_amount.errors.required">
                                    Campo obrigatório
                                </nz-form-explain>
                                <nz-form-explain class="color-required" *ngIf="submitted && f.min_charge_amount.errors.min">
                                    Valor inválido
                                </nz-form-explain>
                            </div>
                           
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="1"></div>
                <div nz-col [nzSpan]="6">
                    <nz-form-item>
                        <nz-form-label nzRequired>Máximo carregamento</nz-form-label>
                        <nz-form-control>
                            <input nz-input type="number" formControlName="max_charge_amount">
                            <div *ngIf="submitted && f.max_charge_amount.errors">
                                <nz-form-explain class="color-required" *ngIf="submitted && f.max_charge_amount.errors.required">
                                    Campo obrigatório
                                </nz-form-explain>
                                <nz-form-explain class="color-required" *ngIf="submitted && f.max_charge_amount.errors.min">
                                    Valor inválido
                                </nz-form-explain>
                            </div>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <nz-form-explain class="color-required" *ngIf="submitted && formData.get('min_charge_amount').value>formData.get('max_charge_amount').value && formData.get('payment_method_id').value">
                O valor máximo de carregamento tem que ser superior ao valor mínimo
            </nz-form-explain>
        </form>
    </nz-spin>
 
</div>

<div nz-row nzType="flex" nzJustify="end" class="space">
    <div nz-col nzSpan="24" class="actions">
        <button nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
        <button nz-button nzType="primary"  *ngIf="('current_account:accounts:update' | hasPermission)" type="button" (click)="submitForm()" [nzLoading]="loading">
            <i nz-icon nzType="save"></i>Gravar</button>
    </div>
</div>