.error {
    color: red;
}

.actions {
    text-align: right;
}

.white {
    background-color: white;
}

.space {
    background-color: #F2F2F2;
    padding-top:20px;
    padding-bottom: 20px;
    text-align: right
}

.color-required {
    color: red;
}