@import "theme";
.body {
    padding: 12px 16px 12px 16px;
    border-bottom: solid 1px #e9e9e9;
}

.meal_pack {
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: @primary-4;
}

.meal_type {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #111111;
}

.cursor {
    cursor: pointer;
}

.cancelled {
    color:red;
    text-align: right;
}

.available-stock {
    color: red;
    font-size: 12px;
}

.meal_name {
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: #979797;
}

::ng-deep .vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }

::ng-deep .vertical-center-modal .ant-modal {
    top: 0;
}
