<div nz-row class="body" nzType="flex" nzAlign="middle">
  <div nz-col nzSpan="14">
    <div nz-row class="meal_type">
      {{ getDishTypeName() }}
    </div>
    <div nz-row class="meal_name">
      <div nz-col [nzSpan]="20">
        {{ getDishName() }}
      </div>
      <div nz-col style="text-align: right" [nzSpan]="4"></div>
      {{ getDishPrice() }}
    </div>
    <div nz-row *ngIf="pack && data?.is_from_pack" class="meal_pack">
      Pack 
    </div>
  </div>
  <div nz-col nzSpan="10">
    <div nz-row nzType="flex" nzGutter="16" nzAlign="middle" nzJustify="end">
      <div nz-col class="cancelled" *ngIf="type === MealRowType.RESERVATIONS && isCancelled()">
        Cancelada
      </div>
      <div nz-col *ngIf="type === MealRowType.RESERVATIONS && !isCancelled() && validDate(data.menu_dish.nullable_until)">
        <nz-spin [nzSpinning]="cancelLoading">
          <button class="button-rounded cursor" (click)="openCancelMealModal()">
            <i nz-icon type="icons:close"></i>
          </button>
        </nz-spin>
      </div>
      <!--<div nz-col *ngIf="type === MealRowType.RESERVATIONS">-->
      <!--<button class="button-rounded">-->
      <!--<i nz-icon type="form"></i>-->
      <!--</button>-->
      <!--</div>-->
      <div nz-col *ngIf="type === MealRowType.RESERVATIONS && !isCancelled()">
        <nz-spin [nzSpinning]="serveLoading">
          <button class="button-rounded-solid cursor" [disabled]="serveLoading" (click)="serveMeal()">
            <i nz-icon type="icons:active"></i>
          </button>
        </nz-spin>
      </div>
      <div nz-col *ngIf="type === MealRowType.USED_RESERVATIONS">
        <nz-spin [nzSpinning]="unserveLoading">
          <button class="button-tertiary cursor" [disabled]="unserveLoading" (click)="unserveMeal()">
            Reverter
          </button>
        </nz-spin>
      </div>
      <div nz-col *ngIf="type === MealRowType.MENU">
        <nz-spin *ngIf="isAvailableStock()" [nzSpinning]="isloadingPurchase">
          <button class="button-secundary cursor" [disabled]="!isAvailable()" (click)="buyModalVisible = true;">
            Comprar {{ getDishPrice() }}
          </button>
        </nz-spin>
        <label class="available-stock" *ngIf="!isAvailableStock()">Sem Stock</label>
      </div>
    </div>
  </div>
</div>

<nz-modal [(nzVisible)]="buyModalVisible" nzWrapClassName="vertical-center-modal" [nzMask]="false" nzOkText="Comprar"
  nzCancelText="Cancelar" [nzFooter]="modalFooter" (nzOnCancel)="buyModalVisible = false;">
  <p class="modal__title">Pretende comprar esta senha?</p>
  <p class="modal__info">Ao comprar esta refeição será debitado o total de <b>{{ getDishPrice()}}</b> da conta
    corrente.</p>
</nz-modal>
<ng-template #modalFooter>
  <div nz-row [nzGutter]="12">
    <div nz-col nzSpan="12">
      <nz-spin [nzSpinning]="isloadingPurchase">
        <button class="button-tertiary button-tertiary--danger cursor" (click)="buyMeal()" [disabled]="isloadingPurchase">
          Comprar
        </button>
      </nz-spin>
    </div>
    <div nz-col nzSpan="12">
      <button class="button-secundary cursor" (click)="buyModalVisible = false;">
        Cancelar
      </button>
    </div>
  </div>
</ng-template>


<nz-modal [(nzVisible)]="cancelModalVisible" nzWrapClassName="vertical-center-modal" [nzMask]="false" nzOkText="Anular"
  nzCancelText="Cancelar" [nzFooter]="modalFooterCancel" (nzOnCancel)="cancelModalVisible = false;">
  <p class="modal__title">Pretende anular esta senha?</p>
  <p class="modal__info">Meio de devolução do dinheiro da reserva.</p>
  <nz-radio-group [(ngModel)]="paymentMethod">
    <label *ngFor="let method of paymentMethods" nz-radio [nzValue]="method.id"
      [nzDisabled]="!method.active">{{ method.name }}</label>
  </nz-radio-group>
</nz-modal>
<ng-template #modalFooterCancel>
  <div nz-row [nzGutter]="12">
    <div nz-col nzSpan="12">
      <nz-spin [nzSpinning]="cancelLoading">
        <button class="button-tertiary button-tertiary--danger cursor" [disabled]="cancelLoading" (click)="cancelMeal(paymentMethod)">
          Anular Senha
        </button>
      </nz-spin>
    </div>

    <div nz-col nzSpan="12">
      <button class="button-secundary cursor" (click)="cancelModalVisible = false;">
        Cancelar
      </button>
    </div>
  </div>

</ng-template>