<nz-card class="card__section" [ngClass]="{'blur': !appointments.active}"
    *ngIf="custumizeToggle || appointments.data.length">
    <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16" [nzLg]="16" [nzXl]="14" [nzXXl]="14">
            <div nz-row>
                <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="4" [nzLg]="3" [nzXl]="2" [nzXXl]="2">
                    <i nz-icon class="icon" type="icons:icons-health" id="icon-dashboard"></i>
                </div>
                <div nz-col [nzXs]="21" [nzSm]="21" [nzMd]="20" [nzLg]="21" [nzXl]="22" [nzXXl]="22">
                    <div nz-row>
                        <span class="card__title">{{ "DASHBOARD.WIDGETS.HEALTH.TITLE" | translate }}</span>
                    </div>
                    <div nz-row class="black-text">
                        <span>{{ "DASHBOARD.WIDGETS.HEALTH.DESCRIPTION" | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="10" [nzXXl]="10">
            <button nz-button nzType="default" class="btw-see-more" [routerLink]="['/health', 'appointments']">
                {{ "DASHBOARD.WIDGETS.SEE-MORE.TITLE" | translate }}
            </button>
        </div>

    </div>
    <div nz-row *ngFor="let appointment of appointments.data" class="box-appointment">
            <div nz-row [nzType]="'flex'">
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="4" [nzXl]="3" [nzXXl]="3">
                    <div class="status">
                      <nz-tag class="tab-status">
                        <label>{{ 'HEALTH.APPOINTMENTS_TAB.STATUS.' + appointment.status.toString().toUpperCase() | translate }}</label>
                      </nz-tag>
                    </div>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="11" [nzXl]="12" [nzXXl]="12">
                    <div class="title-appointment">
                       {{ (appointment.specialty.translations | languageChange).name }}
                    </div>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="9" [nzXl]="9" [nzXXl]="9" style="text-align: right;">
                    <app-button [translate]="'MISC.CONSULT'" style="margin-left: 2px; margin-top:2px" [type]="'primary'" (click)="goDetailAppoitment(appointment.id)" ></app-button>
                </div>
            </div>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <div nz-row>
                        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="4" [nzXl]="3" [nzXXl]="3"
                            class="padding-top-15">
                            <div nz-row>
                                <span class="title-detail">{{ 'HEALTH.APPOINTMENTS_TAB.TABLE.LABEL_DATE_HOUR' | translate }}</span>
                            </div>
                            <div nz-row>
                                <span class="description-detail"> {{ appointment.date | date: "dd/MM/yyyy"}} - {{ appointment.start_hour }}</span>
                            </div>
                        </div>
                        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="5" [nzXl]="4" [nzXXl]="4"
                            class="padding-top-15">
                            <div nz-row>
                                <span class="title-detail">{{ 'HEALTH.APPOINTMENTS_TAB.TABLE.LABEL_TYPE' | translate }}</span>
                            </div>
                            <div nz-row>
                                <span class="description-detail">{{ (appointment.appointment_type.translations | languageChange).name }}</span>
                            </div>
                        </div>
                        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="5" [nzXl]="4" [nzXXl]="4" class="padding-top-15">
                            <div nz-row>
                                <span class="title-detail">{{ 'HEALTH.APPOINTMENTS_TAB.TABLE.LABEL_PLACE' | translate }}</span>
                            </div>
                            <div nz-row>
                                <span class="description-detail">{{ appointment.specialty.place.name }}</span>
                            </div>
                        </div>
                        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="5" [nzXl]="4" [nzXXl]="4" class="padding-top-15">
                            <div nz-row>
                                <span class="title-detail">{{ 'HEALTH.APPOINTMENTS_TAB.TABLE.LABEL_DOCTOR' | translate }}</span>
                            </div>
                            <div nz-row>
                                <span class="description-detail">{{ appointment.doctor.user.name }} </span>
                            </div>
                        </div>
                        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="5" [nzXl]="6" [nzXXl]="5"
                            class="padding-top-15">
                            <div nz-row>
                                <span class="title-detail">{{ 'HEALTH.APPOINTMENTS_TAB.TABLE.LABEL_ICS' | translate }}</span>
                            </div>
                            <div nz-row>
                                <span class="description-detail" (click)="getCalendarExport(appointment.id)"><i nz-icon nzType="icons:icons-calendar" class="icon icon__calendar" nzTheme="outline"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</nz-card>