.experience {
  padding: 24px 16px 24px 16px;
  &--type {
    color: unset;
    font-size: unset;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: unset;
  }

}

.top {
  padding-top: 10px;
}
