<div nz-col class="experience">
  <div nz-row>
    <div nz-col class="experience--type">
      {{
        translations?.length > 1
          ? (translations | languageChange)?.name
          : ('DASHBOARD.BUTTON.SOCIAL_SUPPORT' | translate)
      }}
    </div>
  </div>

  <div nz-row class="top">
    <h2 class="title-top-page">  {{ experienceName }}</h2>
  </div>
</div>
