<nz-tabset nzTabPosition="left">
  <nz-tab nzTitle="Comunicação de entrada">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Resposta
        </div>
        <div nz-row class="detail-field">
          <span *ngIf="data.response">
            {{ data.response }}
          </span>
          <span *ngIf="!data.response">
            Sem resposta
          </span>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="padding-top-20">
        <div nz-row class="title">
          Observações
        </div>
        <div nz-row class="detail-field">
          <span *ngIf="data.observations">
            {{ data.observations }}
          </span>
          <span *ngIf="data.observations==null">
            Sem observações
          </span>
        </div>
      </div>
    </div>
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Data início
        </div>
        <div nz-row class="detail-field">
          {{ data.start_date | date:"dd/MM/yyyy"}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Hora início
        </div>
        <div nz-row class="detail-field">
          {{ data.entry_hour }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Criado em
        </div>
        <div nz-row class="detail-field">
          {{ data.created_at | date:"dd/MM/yyyy"}}
        </div>
      </div>
    </div>

  </nz-tab>
  <nz-tab nzTitle="Candidatura">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Nome
        </div>
        <div nz-row class="detail-field">
          {{ data.application?.full_name }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Num. Estudante
        </div>
        <div nz-row class="detail-field">
          {{ data.application?.student_number }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Email
        </div>
        <div nz-row class="detail-field">
          {{ data.application?.email }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Contacto principal
        </div>
        <div nz-row class="detail-field">
          {{ data.application?.phone_1 }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Contacto secundario
        </div>
        <div nz-row class="detail-field">
          {{ data.application?.phone_2 }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Candidatou-se a bolsa?
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="data.application?.applied_scholarship"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Tem bolsa?
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="data.application?.has_scholarship"></fi-sas-tag>
        </div>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Residência atribuída
        </div>
        <div nz-row class="detail-field">
          <span *ngIf="data.application?.assignedResidence"> {{ data.application?.assignedResidence.name }}</span>
          <span *ngIf="!data.application?.assignedResidence">--</span>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Quarto
        </div>
        <div nz-row class="detail-field">
          <span *ngIf="data.application?.room"> {{ data.application?.room.name }}</span>
          <span *ngIf="!data.application?.room">--</span>
        </div>
      </div>
    </div>
  </nz-tab>

</nz-tabset>