.content {
  padding: 18px;

  &__uptime {
    float: right;

    &__days {
      font-weight: bold;
    }
  }

  &__dbs {
    padding-top: 18px;

    &__title {
      margin-bottom: 20px;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 700;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}
