<div class="month-picker">
  <div><button (click)="backMonth()" nz-button nzType="link"><i nz-icon nzType="icons:icons-arrow-2-left"></i></button></div>
  <div class="month-picker__year">{{ (date | date : 'MMMM yyyy':'UTC+0': 'pt') | titlecase }}</div>
  <div><button (click)="forwardMonth()" nz-button nzType="link"><i nz-icon nzType="icons:icons-arrow-2-right"></i></button></div>
</div>
