@import "~/scss/_variables";

.dashboard {
  /* ----------------------- */
  /* Component */

  &__bg {
    height: 100%;
    width: 100%;
    background: #f3f3f3;
    &--top {
      background: $white;
    }
  }

  &__tab {
    color: $grey;
    font-family: "Montserrat", "Montserrat-Medium";
    font-size: 12;
    font-weight: 500;
    line-height: 1.5;

    &--active {
      &--IPVC {
        color: $ipvc;
      }

      &--IPCA {
        color: $ipca;
      }

      &--IPB {
        color: $ipb;
      }
    }

    &--disable {
      color: $light-grey;
    }

    &--line {
      height: 3;
      width: 82;
    }
  }

  &__p {
    font-family: "Montserrat", "Montserrat-Medium";
    font-weight: 500;
    font-size: 15;
    line-height: 1.6;
    color: $black;
    text-align: left;
  }

  &__box {
    background: #ffffff;
    min-height: 258;
    border-radius: 9;
    &__month {
      font-family: "Montserrat", "Montserrat-Light";
      font-weight: 300;
      font-size: 12;
      line-height: 1.5;
      color: $black;
      text-align: center;
    }
    &__kms {
      font-family: "Montserrat", "Montserrat-Light";
      font-weight: 300;
      font-size: 33;
      text-align: center;
    }
    &__km {
      font-family: "Montserrat", "Montserrat-Bold";
      font-weight: 300;
      font-size: 33;
      text-align: center;
    }

    &__selected {
      font-family: "Montserrat", "Montserrat-Bold";
      font-size: 9;
      min-width: 91;
      line-height: 1.78;
      color: #ffffff;
      border-radius: 4;
      padding: 5 10;
      background: #0d69dd;
    }

    &__btn {
      font-family: "Montserrat", "Montserrat-Bold";
      font-size: 11;
      line-height: 1.64;
      color: #ffffff;
      border-radius: 50;
      text-align: center;
      text-transform: none;
      padding: 5 10;
      background: #ffffff;
      &--decline {
        background: #d0021b;
      }
      &--accept {
        background: #52c41a;
      }

      &--abort {
        border-width: 2;
        color: $black;
        border-color: #d0021b;
      }
    }
  }

  &__uimage {
    height: 24.3%;
    width: 100%;
    margin-top: 12;
  }

  &__utitle {
    font-family: "Montserrat", "Montserrat-Bold";
    font-weight: bold;
    font-size: 17;
    line-height: 1.41;
    color: $black;
    margin-bottom: 12;
  }

  &__up {
    font-family: "Montserrat", "Montserrat-Medium";
    font-weight: 500;
    font-size: 15;
    line-height: 1.6;
    color: $black;
    text-align: left;
  }

  &__btn-disable {
    background: #e8e8e8;
  }

  &__kms{
    &__titles{
      margin-top: 24;
      color: #666666;
      font-family: 'Montserrat Light';
      font-size: 12;
      font-weight: 300;
      text-align: center;
    }
    &__label{
      color: #076743;
      font-family: 'Montserrat';
      font-size: 33;
      font-weight: 400;
      text-align: center;
      margin-bottom: 10;
    }
    &__count{
      color: #076743;
      font-family: 'Montserrat';
      font-size: 90;
      font-weight: bold;
      text-align: center;
    }
    &__time{
      opacity: 0.27;
      color: #111111;
      font-family: 'Montserrat Hairline';
      font-size: 67;
      font-weight: 100;
      text-align: center;
    }
  }
}

/* ----------------------- */
/* Common */
