<AbsoluteLayout>
<StackLayout class="dashboard__bg">
    <!-- action bar -->
    <fi-action-bar [actionBarType]="3" actionBarTitle="UBike" actionBarBack="dashboard"></fi-action-bar>

    <!-- TAB -->
    <ng-container *ngIf="dashboard">
    <GridLayout class="dashboard__bg--top" columns="*, *" height="48" rows="auto">
        <StackLayout col="0" (tap)="enableTab(1)" height="100%">
            <StackLayout height="45" verticalAlignment="center">
                <Label [ngClass]="[tab === 1 ? 'dashboard__tab--active--' + institution : '']" verticalAlignment="center" horizontalAlignment="center" class="dashboard__tab" text="Dashboard"></Label>
            </StackLayout>
            <ng-container *ngIf="tab === 1">
            <StackLayout horizontalAlignment="center" class="hr-dark dashboard__tab--line fisas__bg--{{ institution }}">
            </StackLayout>
            </ng-container>
        </StackLayout>

        <StackLayout col="1" (tap)="enableTab(2)" height="100%">
            <StackLayout verticalAlignment="center" height="45">
                <Label horizontalAlignment="center" class="dashboard__tab" [ngClass]="[tab === 2 ? 'dashboard__tab--active--' + institution : '']" text="{{ 'ubike.dashboard.candidature' | translate }}"></Label>
            </StackLayout>
            <ng-container *ngIf="tab === 2">
                <StackLayout horizontalAlignment="center" class="hr-dark dashboard__tab--line fisas__bg--{{ institution }}"></StackLayout>
            </ng-container>
        </StackLayout>
    </GridLayout>
    </ng-container>

    <!-- LOADER -->
    <StackLayout class="fisas__form__block" marginTop="40" *ngIf="isLoading">
        <ActivityIndicator row="1" #activityIndicator [busy]="isLoading" width="100%" height="90" color="lightgray" class="fisas__loading"></ActivityIndicator>
    </StackLayout>
    <!-- scroll init -->
    <ScrollView row="0" *ngIf="!isLoading">
    <StackLayout class="fisas__content">
        <!-- Dashboard -->
        <ng-container *ngIf="tab === 1">
            <StackLayout marginTop="36">
                <Label class="fisas__h1" text="{{ 'ubike.dashboard.title' | translate }}"></Label>
                <Label marginTop="12" class="fisas__h2" text="{{ 'ubike.dashboard.subtitle' | translate }}"></Label>
            </StackLayout>

            <StackLayout marginTop="24">
                <StackLayout class="dashboard__box">
                    <StackLayout marginTop="12">
                        <Label class="dashboard__box__month" text="{{ 'ubike.dashboard.thismonth' | translate }}"></Label>
                    </StackLayout>
                    <StackLayout marginTop="30" orientation="horizontal" horizontalAlignment="center">
                        <Label class="dashboard__box__km fisas__color--{{ institution }}" text="{{ totalKms }}"></Label>
                        <Label class="dashboard__box__kms fisas__color--{{ institution }}" text=" km"></Label>
                    </StackLayout>

                    <GridLayout columns="*, *, *" rows="auto" marginTop="36" width="100%">
                        <StackLayout col="0" horizontalAlignment="center" width="90">
                            <Label textAlignment="center" textWrap="true" class="fisas__h1" text="{{ totalTrips }}"></Label>
                            <Label textAlignment="center" textWrap="true" class="fisas__note" text="{{ 'ubike.dashboard.trips' | translate }}"></Label>
                        </StackLayout>

                        <StackLayout col="1" horizontalAlignment="center" width="90">
                            <Label textAlignment="center" textWrap="true" class="fisas__h1" text="{{ totalCo }}"></Label>
                            <Label textAlignment="center" textWrap="true" class="fisas__note" text="CO2"></Label>
                        </StackLayout>

                        <StackLayout col="2" horizontalAlignment="center" width="90">
                            <Label textAlignment="center" textWrap="true" class="fisas__h1" text="{{ totalPoints }}"></Label>
                            <Label textAlignment="center" textWrap="true" class="fisas__note" text="{{ 'ubike.dashboard.points' | translate }}"></Label>
                        </StackLayout>
                    </GridLayout>

                    <StackLayout marginTop="36" marginBottom="18" verticalAlignment="center" height="36">
                        <Label [nsRouterLink]="['/ubike/details']" marginLeft="66" marginRight="66" padding=7 class="fisas__btn-border fisas__border--{{ institution }}" 
                        text="{{ 'ubike.dashboard.seedetails' | translate }}"></Label>
                    </StackLayout>
                </StackLayout>

                <StackLayout marginTop="18">
                    <Label [nsRouterLink]="['/ubike/register-gps-km']" width="100%" class="fisas__btn-bottom fisas__bg--{{ institution }}" text="{{ 'ubike.dashboard.recordTrip' | translate }}"></Label>
                </StackLayout>

                <StackLayout marginTop="10">
                    <Label [nsRouterLink]="['/ubike/register-km']" width="100%" class="fisas__btn-border fisas__border--{{ institution }}" 
                    text="{{ 'ubike.dashboard.kmregister' | translate }}" fontSize="17" height="42"></Label>
                </StackLayout>
                <StackLayout marginTop="6" marginBottom="20">
                    <Label [nsRouterLink]="['/ubike/maintenance']" textAlignment="center" class="fisas__p--light-medium" text="{{ 'ubike.dashboard.maintenance' | translate }}"></Label>
                </StackLayout>
            </StackLayout>
        </ng-container>

        <!-- Candidature -->
        <ng-container *ngIf="tab === 2">
            <StackLayout marginTop="36">
                <Label class="fisas__h1" text="{{ 'ubike.dashboard.candidature' | translate }}"></Label>
                <Label marginTop="12" class="fisas__h2" textWrap="true" text="{{ 'ubike.dashboard.candidatureData' | translate }}"></Label>
            </StackLayout>
            <ng-container *ngIf="tab === 2">
                <StackLayout marginTop="18">
                    <fi-ubikecard (ModalPageOpen)="openModal()"></fi-ubikecard>
                </StackLayout>
            </ng-container>
            <StackLayout>
                <StackLayout>
                    <StackLayout marginTop="49">
                        <Label class="dashboard__utitle" text="{{ dataHomepage?.title }}"></Label>
                    </StackLayout>
                    <StackLayout marginBottom="15">
                        <Label class="dashboard__up" textWrap="true" text="{{ dataHomepage?.text[0] }}"></Label>
                    </StackLayout>
                    <StackLayout marginBottom="48">
                        <Label class="dashboard__up" textWrap="true" text="{{ dataHomepage?.text[1] }}"></Label>
                    </StackLayout>
                    <!-- candidature button off -->
                    <StackLayout *ngIf="allowCandidature == 0">
                        <Label width="100%" class="fisas__btn-bottom dashboard__btn-disable" text="{{ 'ubike.dashboard.ubikeApply' | translate }}"></Label>
                        <Label class="fisas__p--light-medium" text="{{ 'ubike.dashboard.serviceConditions' | translate }}" textAlignment="center" marginBottom="18" [nsRouterLink]="['/ubike/conditions']"></Label>
                    </StackLayout>
                    <!-- candidature button on -->
                    <StackLayout *ngIf="allowCandidature == 1">
                        <Label width="100%" class="fisas__btn-bottom fisas__bg--{{ institution }}" text="{{ 'ubike.dashboard.ubikeApply' | translate }}" [nsRouterLink]="['/ubike/candidatura']"></Label>
                        <Label class="fisas__p--light-medium" text="{{ 'ubike.dashboard.serviceConditions' | translate }}" textAlignment="center" marginBottom="18" [nsRouterLink]="['/ubike/conditions']"></Label>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </ng-container>
    </StackLayout>
    </ScrollView>
</StackLayout>

<fi-footer-modal (reloadPage) = "loadPage()"></fi-footer-modal>
</AbsoluteLayout>