.color-required {
    color: red;
}

.languages {
    width: 200px;
}

.space{
    background-color: #F2F2F2;
    padding-top:20px;
    padding-bottom: 20px;
    text-align: right
}

.white {
    background-color: white;
  }

:host::ng-deep {
    .ant-calendar-picker {
        width: 100%;
    }
}

.icon {
    padding-top: 38px;
    padding-left: 20px;
    font-size: 25px;
}

#icon-form-external-service::ng-deep svg {
    defs path {
        fill: black;
    }
}
  
#icon-form-external-service::ng-deep svg {
    g g {
        fill: black;
    }
}