<div class="content--padding white">
    <form nz-form [formGroup]="formCreate">
        <nz-spin [nzSpinning]="languages_loading">
            <ng-container formArrayName="translations">
                <nz-tabset [nzTabBarExtraContent]="languageTemplate" #translationTabs>
                    <nz-tab *ngFor="let translation of translations.controls; let i = index;"
                        [nzTitle]="getLanguageName(translation.value.language_id)">
                        <ng-container [formGroupName]="i">
                            <nz-form-item>
                                <nz-form-label nzRequired>
                                    Nome
                                </nz-form-label>
                                <nz-form-control>
                                    <input formControlName="name" nz-input type="text">
                                </nz-form-control>
                                <nz-form-explain class="color-required"
                                    *ngIf="submitted && formCreate.get('translations.' + i + '.name')?.errors">
                                    Campo obrigatório
                                </nz-form-explain>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzRequired>
                                    Descrição
                                </nz-form-label>
                                <nz-form-control>
                                    <input formControlName="description" nz-input type="text">
                                </nz-form-control>
                                <nz-form-explain class="color-required"
                                    *ngIf="submitted && formCreate.get('translations.' + i + '.description')?.errors">
                                    Campo obrigatório
                                </nz-form-explain>
                            </nz-form-item>
                        </ng-container>
                    </nz-tab>
                </nz-tabset>
            </ng-container>
        </nz-spin>
        <div nz-row>
            <nz-form-item>
                <nz-form-label nzRequired>
                    Url
                </nz-form-label>
                <nz-form-control>
                    <input formControlName="external_link" nz-input type="text">
                </nz-form-control>
                <nz-form-explain class="color-required" *ngIf="submitted && formCreate.get('external_link')?.errors">
                    Campo obrigatório
                </nz-form-explain>
            </nz-form-item>
        </div>
        <div nz-row>
            <nz-form-item>
                <nz-form-label nzRequired>Perfis</nz-form-label>
                <nz-form-control>
                    <nz-select formControlName="profiles" nzMode="multiple" nzAllowClear>
                        <nz-option *ngFor="let profile of profiles" [nzValue]="profile.id" [nzLabel]="profile.name">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain class="color-required" *ngIf="submitted && f.profiles.errors">
                        Campo obrigatório
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-row>
            <div nz-col [nzXs]="24" [nzMd]="12">
                <nz-form-item>
                    <nz-form-label>Icon</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="icon" nzAllowClear nzShowSearch>
                            <nz-option nzValue="icons-food" nzLabel="Alimentação"></nz-option>
                            <nz-option nzValue="icons-accomodation" nzLabel="Alojamento"></nz-option>
                            <nz-option nzValue="icons-pin-a" nzLabel="Alojamento Privado"></nz-option>
                            <nz-option nzValue="icons-scholarship" nzLabel="Bolsa de Colaboradores"></nz-option>
                            <nz-option nzValue="icons-calendar" nzLabel="Calendário"></nz-option>
                            <nz-option nzValue="walltet_v3" nzLabel="Conta Corrente"></nz-option>
                            <nz-option nzValue="icons-external" nzLabel="Externo"></nz-option>
                            <nz-option nzValue="icons-ticket" nzLabel="Filas Espera"></nz-option>
                            <nz-option nzValue="icons-mobility" nzLabel="Mobilidade"></nz-option>
                            <nz-option nzValue="icons-health" nzLabel="Saúde"></nz-option>
                            <nz-option nzValue="icons-ubike" nzLabel="Ubike"></nz-option>
                            <nz-option nzValue="icons-voluntariado_v3" nzLabel="Voluntariado"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzMd]="12" *ngIf="formCreate.get('icon').value" class="icon">
                <i class="card__module--icon" nz-icon [type]="'icons:' + formCreate.get('icon').value" id="icon-form-external-service"></i>
            </div>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="10">
                <nz-form-item>
                    <nz-form-label nzRequired>Ativo</nz-form-label>
                    <nz-form-control>
                        <nz-switch formControlName="active">
                        </nz-switch>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="10">
                <nz-form-item>
                    <nz-form-label nzRequired>Disponível WP</nz-form-label>
                    <nz-form-control>
                        <nz-switch formControlName="webpage_availability">
                        </nz-switch>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="10">
                <nz-form-item>
                    <nz-form-label nzRequired>Disponível Kiosk</nz-form-label>
                    <nz-form-control>
                        <nz-switch formControlName="kiosk_availability">
                        </nz-switch>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="10">
                <nz-form-item>
                    <nz-form-label nzRequired>Disponível App</nz-form-label>
                    <nz-form-control>
                        <nz-switch formControlName="app_availability">
                        </nz-switch>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <nz-form-explain class="color-required" *ngIf="submitted && errorTrans" style="padding-top: 20px;">
            Obrigatório preencher pelo menos uma tradução
        </nz-form-explain>
    </form>
</div>

<div class="space" nz-row>
    <button *ngIf="isUpdate" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
    <button nz-button [nzLoading]="isLoading" [disabled]="isLoading" (click)="submit()" class="button-submit"
        [nzType]="'primary'">{{isUpdate ? 'Editar' : 'Criar'}}</button>
</div>

<ng-template #languageTemplate>
    <nz-select class="languages" nzMode="multiple" [(ngModel)]="listOfSelectedLanguages" [nzMaxTagCount]="1"
        nzPlaceHolder="Línguas" [nzLoading]="languages_loading" (ngModelChange)="changeLanguage()">
        <nz-option *ngFor="let language of languages" [nzLabel]="language.name" [nzValue]="language.id"></nz-option>
    </nz-select>
</ng-template>