<app-residence-navbar></app-residence-navbar>
<div *ngIf="!dataResidence" class="loading top">
  <nz-spin [nzSpinning]="loading" [nzSize]="'large'"></nz-spin>
</div>
<div nz-row>
  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="4"
    [nzLg]="5"
    [nzXl]="6"
    [nzXXl]="6"
  ></div>

  <div
    *ngIf="dataResidence"
    nz-col
    [nzXs]="22"
    [nzSm]="22"
    [nzMd]="16"
    [nzLg]="14"
    [nzXl]="12"
    [nzXXl]="12"
  >
    <div class="top">
      <app-button
        translate="MISC.RETURN"
        (click)="backList()"
        [leftIcon]="'left'"
        [buttonStyle]="{ 'font-size': '12px', 'line-height': '18px' }"
        type="tertiary"
      ></app-button>
    </div>
    <div class="carousel-wrapper">
      <nz-carousel nzEffect="scrollx" #myCarousel>
        <div nz-carousel-content *ngFor="let media of dataResidence?.mediaIds">
          <img alt="House" [src]="media?.url" />
        </div>
        <div *ngIf="dataResidence?.mediaIds?.length === 0" nz-carousel-content>
          <img
            alt="Unavailable Image"
            src="/assets/imgs/unavailable-image.jpg"
          />
        </div>
      </nz-carousel>
      <div
        *ngIf="dataResidence.mediaIds.length > 1"
        class="arrow icon-left"
        (click)="arrowClick($event, 'pre', myCarousel)"
      >
        <i nz-icon nzType="left" id="icon-accomo" nzTheme="outline"></i>
      </div>
      <div
        *ngIf="dataResidence.mediaIds.length > 1"
        class="arrow icon-right"
        (click)="arrowClick($event, 'next', myCarousel)"
      >
        <i nz-icon nzType="right" id="icon-accomo" nzTheme="outline"></i>
      </div>
    </div>

    <div class="listdetail__information">
      <div nz-row class="title-resume">{{ dataResidence?.name }}</div>
      <div *ngIf="!dataResidence?.available_for_application" class="closed">
        {{ "ACCOMMODATION.APPLICATION_CLOSED_AVAILABLE" | translate }}
      </div>
      <div *ngIf="dataResidence?.available_for_application">
        <div *ngIf="!open_phase" class="closed">
          {{ "ACCOMMODATION.APPLICATION_CLOSED" | translate }}
        </div>
        <div *ngIf="open_phase">
          <div *ngIf="!isOutOfValidation(open_phase)">
            <div *ngIf="isOutOfDate(open_phase); else isNotOutOfDate">
              <div class="warning">
                {{ "ACCOMMODATION.APPLICATION_OPEN_OUT_OF_DATE" | translate
                }}<br />
                <span style="font-weight: 500">{{
                  ("ACCOMMODATION.PHASE" | translate) +
                    " " +
                    open_phase.application_phase +
                    " " +
                    ("MISC.FROM" | translate) +
                    " " +
                    (open_phase?.start_date | date: "dd/MM/yyyy") +
                    " " +
                    ("MISC.TO" | translate) +
                    " " +
                    (open_phase?.end_date | date: "dd/MM/yyyy") +
                    ". " +
                    +("ACCOMMODATION.APPLICATIONS.OUT_OF_DATE" | translate) +
                    " " +
                    (open_phase?.out_of_date_from | date: "dd/MM/yyyy") +
                    "."
                }}</span>
              </div>
            </div>

            <ng-template #isNotOutOfDate>
              <div class="success">
                {{ "ACCOMMODATION.APPLICATION_OPEN" | translate }}
                <br />
                <span style="font-weight: 500">{{
                  ("ACCOMMODATION.PHASE" | translate) +
                    " " +
                    open_phase.application_phase +
                    " " +
                    ("MISC.FROM" | translate) +
                    " " +
                    (open_phase?.start_date | date: "dd/MM/yyyy") +
                    " " +
                    ("MISC.TO" | translate) +
                    " " +
                    (open_phase?.end_date | date: "dd/MM/yyyy") +
                    ". " +
                    ("ACCOMMODATION.APPLICATIONS.OUT_OF_DATE" | translate) +
                    " " +
                    (open_phase?.out_of_date_from | date: "dd/MM/yyyy") +
                    "."
                }}</span>
              </div>
            </ng-template>
          </div>
          <div *ngIf="isOutOfValidation(open_phase)">
            <div class="warning">
              {{ "ACCOMMODATION.APPLICATION_OPEN" | translate }}<br />
              <span style="font-weight: 500">{{
                ("ACCOMMODATION.PHASE" | translate) +
                  " " +
                  open_phase.application_phase +
                  " " +
                  ("MISC.FROM" | translate) +
                  " " +
                  (open_phase?.start_date | date: "dd/MM/yyyy") +
                  " " +
                  ("MISC.TO" | translate) +
                  " " +
                  (open_phase?.end_date | date: "dd/MM/yyyy") +
                  ". " +
                  ("ACCOMMODATION.APPLICATIONS.OUT_OF_DATE_VALIDATION"
                    | translate) +
                  " " +
                  open_phase?.out_of_date_validation_days +
                  " " +
                  (open_phase?.out_of_date_validation_days == 1
                    ? ("ACCOMMODATION.APPLICATIONS.OUT_OF_DATE_VALIDATION_DAY"
                      | translate)
                    : ("ACCOMMODATION.APPLICATIONS.OUT_OF_DATE_VALIDATION_DAYS"
                      | translate)) +
                  "."
              }}</span>
            </div>
          </div>
        </div>
      </div>

      <p class="listdetail__ownertitle" style="padding-top: 20px">
        {{
          dataResidence.address +
            ", " +
            dataResidence.postal_code +
            ", " +
            dataResidence.city
        }}
      </p>
      <div nz-row class="title-resume upper">
        {{
          "ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.REGIME_ID.TITLE"
            | translate
        }}
      </div>
      <div nz-row *ngFor="let regime of dataResidence?.regimes">
        <p class="listdetail__ownertitle">
          {{ (regime?.regime?.translations | languageChange)?.name }}
        </p>
        <p class="listdetail__info">
          {{ (regime?.regime?.translations | languageChange)?.description }}
        </p>
        <p
          class="listdetail__info"
          *ngFor="let price of regime?.regime?.priceLines"
        >
          {{
            "ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.REGIME_ID.PRICE"
              | translate
          }}
          {{ price?.tariff ? "- " + price?.tariff?.name : "" }}:
          {{ price?.price | number: "1.2-2" }}€/{{
            price?.period === "DAY"
              ? ("ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.REGIME_ID.PERIOD_DAY"
                | translate)
              : price?.period === "MONTH"
              ? ("ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.REGIME_ID.PERIOD_MONTH"
                | translate)
              : price?.period === "WEEK"
              ? ("ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.REGIME_ID.PERIOD_WEEK"
                | translate)
              : "-"
          }};
        </p>
      </div>
      <div
        nz-row
        class="title-resume upper"
        *ngIf="dataResidence.typologies.length > 0"
      >
        {{ "ACCOMMODATION.FORM.TYPE" | translate }}
      </div>
      <div
        nz-row
        class="listdetail__info"
        *ngFor="let typ of dataResidence.typologies"
      >
        <p class="listdetail__ownertitle">
          {{ (typ?.translations | languageChange)?.name }}
        </p>

        <p class="listdetail__info" *ngFor="let price of typ?.priceLines">
          {{
            "ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.REGIME_ID.PRICE"
              | translate
          }}
          {{ price?.tariff ? "- " + price?.tariff?.name : "" }}:
          {{ price?.price | number: "1.2-2" }}€/{{
            price?.period === "DAY"
              ? ("ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.REGIME_ID.PERIOD_DAY"
                | translate)
              : price?.period === "MONTH"
              ? ("ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.REGIME_ID.PERIOD_MONTH"
                | translate)
              : price?.period === "WEEK"
              ? ("ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.REGIME_ID.PERIOD_WEEK"
                | translate)
              : "-"
          }};
        </p>
      </div>
      <div
        nz-row
        class="title-resume upper"
        *ngIf="dataResidence.services.length > 0"
      >
        {{ "PRIVATEACCOMMODATION.LIST_DETAIL.AMENITIES" | translate }}
      </div>
      <p
        nz-row
        class="listdetail__info"
        *ngFor="let service of dataResidence.services"
      >
        {{ (service?.translations | languageChange)?.name }}
      </p>
      <div
        nz-row
        class="title-resume upper"
        *ngIf="dataResidence.extras.length > 0"
      >
        {{
          "ACCOMMODATION.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.EXTRAS.TITLE"
            | translate
        }}
      </div>
      <p class="listdetail__info" *ngFor="let extra of dataResidence.extras">
        {{ (extra?.extra?.translations | languageChange)?.name }}
      </p>
      <div nz-row class="title-resume upper">
        {{ "ACCOMMODATION.FORM.CONTACTS" | translate }}
      </div>
      <p nz-row class="listdetail__ownertitle">
        {{ dataResidence?.email }}
      </p>
      <p nz-row class="listdetail__ownertitle">
        {{ dataResidence?.phone_1 }}
      </p>
      <p nz-row class="listdetail__ownertitle">
        {{ dataResidence?.phone_2 }}
      </p>
      <div nz-row class="listdetail__regulation">
        <a [href]="dataResidence.regulationFile.url" target="_blank">{{
          "MISC.REGULATION" | translate
        }}</a>
      </div>
      <div
        *ngIf="'accommodation:applications:create' | hasPermission"
        class="listdetail__center hidden-xs"
      >
        <app-button
          (click)="residenceSelected(dataResidence)"
          [buttonStyle]="{
            'font-size': '17px',
            'margin-top': '40px',
            width: '300px',
            height: '48px',
            'margin-left': 'calc(50%-300px)'
          }"
          translate="ACCOMMODATION.APPLY_BTN"
          [ngClass]="{
            disabled:
              !open_phase ||
              checkIfAsActivApplication(open_phase) ||
              !dataResidence?.available_for_application
          }"
        >
        </app-button>
      </div>
      <div
        *ngIf="'accommodation:applications:create' | hasPermission"
        class="listdetail__center hidden-md"
      >
        <app-button
          (click)="residenceSelected(dataResidence)"
          [buttonStyle]="{
            'font-size': '14px',
            'margin-top': '40px',
            width: '200px',
            height: '48px',
            'margin-left': 'calc(50%-300px)'
          }"
          translate="ACCOMMODATION.APPLY_BTN"
          [ngClass]="{
            disabled:
              !open_phase ||
              checkIfAsActivApplication(open_phase) ||
              !dataResidence?.available_for_application
          }"
        >
        </app-button>
      </div>
    </div>
  </div>
  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="4"
    [nzLg]="5"
    [nzXl]="6"
    [nzXXl]="6"
  ></div>
</div>
