
nz-carousel {
    border-radius: 5px 5px 0px 0px;
  
    [nz-carousel-content] {
      text-align: center;
      height: 550px;
      line-height: 130px;
      background: #293449;
      color: #fff;
      overflow: hidden;
    }
}


img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.top {
    padding-bottom: 25px;
    padding-top: 25px;
}

.listdetail {
    &__information {
        background-color: #ffffff;
        padding: 30px 35px 30px 35px;
        font-family: Montserrat;
        margin-bottom: 30px;
    }

    &__ownertitle {
      color: var(--primary-7);
      font-size: unset;
      font-weight: unset;
      font-stretch: unset;
      font-style: unset;
      line-height: unset;
      letter-spacing: unset;
    }

    &__info {
        color: unset;
        font-stretch: normal;
        font-weight: 400;
        line-height: 1.88;
        letter-spacing: normal;
      }

    &__regulation {
        padding-top: 30px;
        text-decoration: underline;
    }

    &__center {
        text-align: center;
      }

}

.upper {
    margin-top: 40px;
    text-transform: uppercase;
}

.hidden-md {
    display:none;
  }
  

@media screen and (max-width: 600px) {

    .hidden-xs {
      display: none;
    }
  
    .hidden-md {
      display:block;
    }
  
  
}


.closed {
  text-align: center;
  font-family: Montserrat;
  color: #111111;
  background-color: #f8e4e4;
  padding: 15px;
  font-weight: 600;
  border-radius: 5px;
  border:1px solid #ffccc7;
}

.warning {
  border: 1px solid #ffe58f;
  text-align: center;
  font-weight: 600;
  font-family: Montserrat;
  color: #111111;
  background-color: #fffbe6;
  padding: 15px;
  border-radius: 5px;
}

.success {
  text-align: center;
  font-weight: 600;
  font-family: Montserrat;
  color: #111111;
  background-color: #f6ffed;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #b7eb8f;
}


#icon-accomo::ng-deep svg {
  path {
      fill: white;
  }
}

.carousel-wrapper {
  position: relative;

  .arrow {
    position: absolute;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    margin-top: -20px;
    font-size: 30px;
    font-weight: bold;
    &.icon-left {
      left: 0;
    }
    &.icon-right {
      right: 0;
    }
  }
}