@import 'default-theme.less';


.padding-bottom-20 {
  padding-bottom: 20px;
}

.margin-top--35 {
  margin-top: -35px;
}

:host::ng-deep {

  width: 100%;
  height: 192px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  position: absolute;
  bottom: 72px;
  left: 0;

  .menu {
    width: 100%;
    height: 100%;

    background-color: var(--fisas-08);

    &__item {
      box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 1px 1px rgba(255, 255, 255, 0.03);
      height: 192px;

      &--lighter,
      &--darker {
        padding-top: 39px;
      }

      &--lighter {
        color: @fisas-grey-01;
        background-color: var(--fisas-01);

        .anticon {
          font-size: 96px;
        }
      }

      &--darker {
        background-color: var(--fisad-08);
      }
    }

    &__image {
      width: 100%;
      margin-top: 39px;
      color: @fisas-grey-01;

      &--flip {
        color: @fisas-grey-01;
      }

      &--disable {
        color:rgba(255 ,255 , 255 , 0.3) !important;
      }
    }

    &__loading {
      font-size: 96px;
    }

    &__label {
      width: 100%;
      margin-top: 20px;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.64;
      letter-spacing: 0.9px;
      text-align: center;
      color: @fisas-grey-01;

      &--disable {
        color:rgba(255 ,255 , 255 , 0.3) !important;
      }
    }

    &__user{
      color: @fisas-grey-01;
      display: flex;
      width: 100%;
      height: 125px;
      align-items: center;
      justify-content: center;
      padding: 0 30px;

      p {
        margin: 0;
        max-width: 198px;
        height: 24px;
        overflow: hidden;
        text-align: left;
        .font-family(18px, 700);
        line-height: 1.33;
        margin-bottom: 0;
      }
    }
    &__out {
      color: @fisas-grey-01;
      display: flex;
      width: 100%;
      height: 66px;
      align-items: center;
      padding-left: 15px;
      padding-right: 10px;

      p {
        margin: 0;
        max-width: 198px;
        height: 24px;
        overflow: hidden;
        text-align: left;
        .font-family(18px, 700);
        line-height: 1.33;
        margin-bottom: 0;
      }
    }

    &__user {
      background-color: var(--fisas-03);
    }

    &__out {
      cursor: pointer;
      background-color: var(--fisas-04);
    }

    &__user-info {
      margin: 0;
      text-align: left;

      p {
        .font-family(18px, 700);
        line-height: 1.33;
        margin-bottom: 0;
      }
    }

    &__icon {
      display: flex;
      width: 21%;
      justify-content: flex-end;
      text-align: right;
    }
  }

  .vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .vertical-center-modal .ant-modal {
    top: 0;
  }
}
