<!-- default template / user not authenticated -->
<ng-template #defaultTemplate>
  <div nz-row nzType="flex" nzJustify="center">

    <ng-container *ngIf="menu$ | async as menu">
      <div fi-menu-item nz-col nzSpan="6">

          <div class="menu__image" (click)="back($event)" role="button" tabindex="0"  [ngClass]="{ 'menu__image--disable': !menu.back }">
            <svg-icon src="assets/icons/icons-arrow-2-left.svg" [svgStyle]="{ width: 'auto', 'height.px': 96 }">
            </svg-icon>
          </div>
          <div class="menu__label" [ngClass]="{ 'menu__label--disable': !menu.back }">
            {{ 'MENU.AUTHENTICATION.BACK' | translate }}
          </div>
      </div>
    </ng-container>
    <div (click)="goToDashboard($event)" fi-menu-item nz-col nzSpan="6">
      <div class="menu__image">
        <img src="assets/images/dashboard.svg" width="96px" height="96px" />
      </div>
      <div class="menu__label">
        {{ 'MENU.AUTHENTICATION.SERVICES' | translate }}
      </div>
    </div>
    <div fi-menu-item nz-col nzSpan="6" (click)="goToAuthentication($event)">
      <div class="menu__image">
        <img *ngIf="!authPresenter.isLoading" src="assets/images/logged.svg" width="96px" height="96px" />
        <i class="menu__loading" *ngIf="authPresenter.isLoading" nz-icon [type]="'loading'"></i>
      </div>
      <div class="menu__label">
        {{ 'MENU.AUTHENTICATION.LOGIN' | translate }}
      </div>
    </div>
  </div>
</ng-template>

<!-- authentication template -->
<ng-template #authTemplate>
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzSpan="6">
      <div class="menu__item menu__item--darker" (click)="back($event)" role="button" tabindex="0">
        <div class="menu__image--flip">
          <svg-icon src="assets/icons/icons-arrow-2-left.svg" [svgStyle]="{ width: 'auto', 'height.px': 96 }">
          </svg-icon>
        </div>
        <div class="menu__label">
          {{ 'MENU.AUTHENTICATION.BACK' | translate }}
        </div>
      </div>
    </div>
    <div nz-col nzSpan="14">
      <div class="menu__item menu__item--lighter" role="button" tabindex="1" (click)="handlerAuthenticate($event)">
        <i *ngIf="authPresenter.isLoading" nz-icon [type]="'loading'"></i>

        <div *ngIf="!authPresenter.isLoading" class="menu__image--flip">
          <svg-icon src="assets/icons/icons-lock.svg" [svgStyle]="{ width: 'auto', 'height.px': 96 }"></svg-icon>
        </div>

        <div class="menu__label">
          {{ 'MENU.AUTHENTICATION.LOGIN' | translate }}
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- logged template -->
<ng-template #loggedTemplate>
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzSpan="6">
      <div class="menu__item menu__item--darker" (click)="back($event)" role="button" tabindex="0">
        <div class="menu__image--flip">
          <svg-icon src="assets/icons/icons-arrow-2-left.svg" [svgStyle]="{ width: 'auto', 'height.px': 96 }">
          </svg-icon>
        </div>
        <div class="menu__label">
          {{ 'MENU.AUTHENTICATION.BACK' | translate }}
        </div>
      </div>
    </div>
    <div (click)="goToDashboard($event)" fi-menu-item nz-col nzSpan="6">
      <div class="menu__image">
        <!--
          <svg-icon src="assets/icons/icons-arrow-2-left.svg" [svgStyle]="{ 'width':'auto', 'height.px':96 }"></svg-icon>
        -->
        <img src="assets/images/dashboard.svg" width="96px" height="96px" />
      </div>
      <div class="menu__label">
        {{ 'MENU.AUTHENTICATION.SERVICES' | translate }}
      </div>
    </div>
    <div fi-menu-item nz-col nzSpan="6">
      <ng-container *ngIf="user$ | async as user">
        <div class="menu__user">
          <div class="menu__user-info">
            <div class="padding-bottom-20">
                  <p>{{ user.name }}</p>
            </div>

            <fi-balance-small [reload]="user?.rfid"></fi-balance-small>
          </div>
          <div class="menu__icon margin-top--35">
            <svg-icon src="assets/icons/icons-account.svg" [svgStyle]="{ 'width.px': 42, 'height.px': 42 }"></svg-icon>
          </div>
        </div>

        <div class="menu__out" (click)="handlerUnauthenticate($event)">
          <div style="width: 75%;">
             <p>{{ 'MENU.AUTHENTICATION.EXIT' | translate }}</p>
          </div>

          <div class="menu__icon">
            <svg-icon src="assets/icons/icons-off.svg" [svgStyle]="{ 'width.px': 38, 'height.px': 38 }"></svg-icon>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>

<div class="menu" *ngIf="enable">
  <ng-container *ngTemplateOutlet="!activeTemplate ? defaultTemplate : activeTemplate"></ng-container>
</div>
