<div class="content">
  <form [formGroup]="form" nzLayout="vertical">
    <p class="subtitle">Rejeitar Justificação de Falta</p>

    <nz-divider></nz-divider>

    <div class="content--description" *ngIf="(attendance?.absence_reason || [])?.length">
      <div>Motivo</div>
      <div class="content--description-hours">
        {{ attendance.absence_reason[0].reason }}
        <a *ngIf="attendance?.absence_reason[0]?.attachment_file?.url" target="_blank"
          [href]="attendance?.absence_reason[0]?.attachment_file?.url">
          Anexo <i nz-icon nzType="icons:icons-download" nzTheme="outline"></i>
        </a>
      </div>
    </div>

    <nz-divider></nz-divider>

    <div nz-row nzGutter="34">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="reject_reason" class="primary-input-label">Justificação</nz-form-label>

          <nz-form-control>
            <textarea maxlength="255"
              nz-input
              id="reject_reason"
              class="primary-textarea"
              rows="6"
              formControlName="reject_reason"
            ></textarea>
            <nz-form-explain *ngIf="form.get('reject_reason')?.dirty && form.get('reject_reason').errors" class="error">
              {{ getInputError('reject_reason') }}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="end">
      <div nz-col nzSpan="24" class="actions">
        <button nz-button nzType="default" type="button" (click)="close()">Cancelar</button>
        <button
          nz-button
          nzType="primary"
          type="submit"
          [nzLoading]="isLoading"
          [disabled]="!form.valid"
          (click)="onSubmit()"
        >
          <i nz-icon nzType="save"></i>Rejeitar
        </button>
      </div>
    </div>
  </form>
