.content {
  background-color: white;

  .subtitle {
    font-size: 17px;
  }

  &--description {
    font-weight: bold;
    text-align: center;
  }

  &--description-hours {
    font-size: 12px;
    line-height: 1.6;
    text-align: center;

    & > span {
      font-size: 18px;
      font-weight: normal;
    }
  }
}

.actions {
  text-align: right;
  padding-top: 10px;

  button:first-child {
    margin-right: 24px;
  }
}
