
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <div nz-row class="title">
      Configurações
    </div>
    <div nz-row class="detail-field">
      <code>{{ data.configs | json }}</code>
    </div>
  </div>