<StackLayout marginLeft="{{ marginLeft }}" marginBottom="{{ marginBottom }}">
    <StackLayout class="card-ticket__container card-ticket__content" [ngClass]="{ 'card-ticket__border': border }"
        width="{{ width ? width : 324 }}">
        <GridLayout columns="auto, *" rows="auto">
        <StackLayout horizontalAlignment="left" verticalAlignment="top" width="82">
            <Image width="72" height="72" *ngIf="image?.length" stretch="aspectFill" loadMode="async" src="{{ image }}">
            </Image>
        </StackLayout>
        <StackLayout col="1" class="card-ticket__meals__info">
            <DockLayout>
            <Label dock="left" textTransform="uppercase" class="fisas__p--light"
                text="{{ 'reservation.' + type | translate }}"></Label>
            <Label dock="right" class="fisas__p--light fisas__color--{{ institution }}" horizontalAlignment="right"
                textTransform="none" fontWeight="500" fontSize="13" paddingRight="5" text="{{ date }}"></Label>
            </DockLayout>

            <Label textWrap="true" class="fisas__p--bold" paddingTop="5" text="{{ meal }}"></Label>
            <Label textWrap="{{ maxLines ? false : true }}" class="fisas__p" text="{{ name }}"></Label>

            <Label paddingTop="12" textWrap="true" class="fisas__p--light-medium" color="#b4b4b4" textTransform="uppercase"
            text="{{ refectory }}"></Label>
        </StackLayout>
        </GridLayout>
    </StackLayout>
</StackLayout>