<nz-tabset nzTabPosition="left">
  <nz-tab nzTitle="Preços">
    <nz-table [nzScroll]="{ x: '240px' }" #nzTable [nzData]="data.priceLines" [nzPageSize]="10">
      <thead>
        <tr>
          <th>Tarifário</th>
          <th>Periodo</th>
          <th>Preço</th>
          <th>Taxa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of nzTable.data">
          <td>{{i.tariff ? i.tariff.name : ' - ' }}</td>
          <td>{{getPeriodTranslations(i.period)}}</td>
          <td>{{i.price}}€</td>
          <td>{{i.vat ? i.vat.name : ' - ' }}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
</nz-tabset>