<div class="error-model___content">
  <div nz-row nzType="flex" nzJustify="center"><p class="error-model___title">{{ messageTitle | translate }}</p></div>
  <div nz-row nzType="flex" nzJustify="center" class="error-model___icon" >
    <img alt="negative" src="/assets/imgs/cards-ilustration-negative.svg" />
  </div>
  <div nz-row nzType="flex" nzAlign="center" class="error-model___msg" >
    <p>{{ message | translate }}</p>
  </div>
  <div nz-row class="error-model___button" nzType="flex" nzJustify="center">
    <button nz-button nzType="link" (click)="handleCancel()">{{ "SHARED.WEBPAGE_ERROR.CLOSE" | translate }}</button>
  </div>
</div>
