::ng-deep.ant-modal {
  height: 400px !important;
}

::ng-deep.ant-modal-close {
  color: black;
}

.error-model {
  border-radius: 10px;

  &___content {
    margin-top: 10%;
  }

  &___title {
    width: 100%;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #111111;
    text-align: center !important;
  }

  &___icon {
    height: 150px;
    img {
      position: relative;
      top: 25px;
    }
  }

  &___msg > p {
    width: 90% !important;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.38;
    color: #222222;
    text-align: center !important;
  }

  &___button > button {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: black;
  }
}
