@import 'theme';

.top {
  padding-top: 25px;
}

:host::ng-deep {
  .experience-detail {
    background-color: white;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    > div {
      padding: 15px;
      @media screen and (max-width: 600px) {
        padding: 0px;
      }
      @media screen and (max-width: 800px) {
        padding: 0px;
      }
      margin-left: 15px;
      margin-right: 15px;
    }
    &--title {
      font-family: Montserrat;
      font-size: 28px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #333333;
    }
    &--description {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.6;
      letter-spacing: normal;
      color: #222222;
    }
    &--download-button {
      font-family: Montserrat;
      letter-spacing: normal;
      font-stretch: normal;
      font-style: normal;
      padding: 8px 10px 8px 10px;
      height: auto;
      border-radius: 4px;
      border: solid 2px #f3f3f3;
      text-align: inherit;
      width: 100%;
      span {
        width: 100%;
      }
      &--name {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        color: #222222;
        text-align: left;
      }
      &--file-name {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.33;
        color: #666666;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      &--icon {
        text-align: end;
        margin: auto;
        font-size: 18px;
        i svg path {
          fill: var(--primary-color);
        }
      }
    }
    &--label {
      color: var(--primary-7);
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
    }
    &--value {
      color: unset;
      font-size: 14px;
      font-weight: 400;
      font-stretch: unset;
      font-style: unset;
      line-height: unset;
      letter-spacing: unset;
    }
    &--text {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #5c5c5c;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    &--detail {
      font-size: 14px;
      padding-top: 5px;
    }
  }
}

//MODAL
.title-modal {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.desc-modal {
  font-weight: bold;
  color: black;
  text-align: center;
  padding-bottom: 20px;
  font-size: 12px;
}

.text-center {
  text-align: center;
}

.desc-modal2 {
  text-align: center;
  font-size: 19px;
}

.title-modal-space {
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.button-cancel {
  border-radius: 50px;
  border: 2px solid var(--primary-color);
  font-weight: bold;
  margin-top: 5px;
}

.button-confirm {
  border-radius: 50px;
  border: 2px solid var(--primary-color);
  font-weight: bold;
  color: white;
  background-color: var(--primary-color);
  margin-top: 5px;
}

.space-desc {
  padding-top: 30px;
  padding-bottom: 30px;
}
