<nz-spin [nzSpinning]="loading">
  <div nz-row>
    <div nz-col [nzSm]="2" [nzXs]="1"></div>

    <div nz-col [nzSm]="20" [nzXs]="22">
      <div class="top">
        <app-button
          translate="MISC.RETURN"
          (click)="backToExperiences()"
          [leftIcon]="'left'"
          [buttonStyle]="{ 'font-size': '12px', 'line-height': '18px' }"
          type="tertiary"
        ></app-button>
      </div>

      <div class="experience-detail">
        <div nz-row nzType="flex">
          <div nz-col nzXs="24" [nzSm]="24" [nzLg]="24">
            <h2 class="title-top-page">
              {{ (experience?.translations | languageChange)?.title }}
            </h2>
          </div>
        </div>

        <div nz-row [nzType]="'flex'" style="padding-top: 5px">
          <div
            nz-col
            [nzXs]="{ span: 24 }"
            [nzSm]="{ span: 24 }"
            [nzLg]="{ span: 24 }"
          >
            <p class="sub-title-top-page">
              {{ (experience?.translations | languageChange)?.description }}
            </p>
          </div>
        </div>

        <nz-divider></nz-divider>

        <div nz-row [nzType]="'flex'">
          <div
            nz-col
            [nzXs]="{ span: 24 }"
            [nzSm]="{ span: 24 }"
            [nzLg]="{ span: 8 }"
          >
            <span class="experience-detail--label">{{
              "SOCIAL_SUPPORT.EXPERIENCES.SCHOOL_YEAR" | translate
            }}</span>
            <br />
            <span class="experience-detail--value">{{
              experience?.academic_year
            }}</span>
          </div>
          <div
            nz-col
            [nzXs]="{ span: 24 }"
            [nzSm]="{ span: 24 }"
            [nzLg]="{ span: 8 }"
          >
            <span class="experience-detail--label">{{
              "SOCIAL_SUPPORT.EXPERIENCES.TOTAL_HOUR" | translate
            }}</span>
            <br />
            <span class="experience-detail--value">
              {{ experience?.total_hours_estimation | HourConvert }}
            </span>
          </div>
          <div
            nz-col
            [nzXs]="{ span: 24 }"
            [nzSm]="{ span: 24 }"
            [nzLg]="{ span: 8 }"
          >
            <span class="experience-detail--label">
              {{ "SOCIAL_SUPPORT.EXPERIENCES.PROPENENT_SERVICE" | translate }}
            </span>
            <br />
            <span class="experience-detail--value">{{
              (experience?.translations | languageChange)?.job
            }}</span>
          </div>
        </div>

        <div nz-row [nzType]="'flex'">
          <div
            nz-col
            [nzXs]="{ span: 24 }"
            [nzSm]="{ span: 24 }"
            [nzLg]="{ span: 8 }"
          >
            <span class="experience-detail--label">
              {{ "SOCIAL_SUPPORT.EXPERIENCES.COLABORATION_PERIOD" | translate }}
            </span>
            <br />
            <span class="experience-detail--value">
              {{ experience?.start_date | localizedDate }}
              {{ "SOCIAL_SUPPORT.EXPERIENCES.TO" | translate }}
              {{ experience?.end_date | localizedDate }}
            </span>
          </div>
          <div
            nz-col
            [nzXs]="{ span: 24 }"
            [nzSm]="{ span: 24 }"
            [nzLg]="{ span: 8 }"
          >
            <span class="experience-detail--label">
              {{ "SOCIAL_SUPPORT.EXPERIENCES.APPLICATION_PERIOD" | translate }}
            </span>
            <br />
            <span class="experience-detail--value">
              {{ experience?.publish_date | localizedDate }}
              {{ "SOCIAL_SUPPORT.EXPERIENCES.TO" | translate }}
              {{ experience?.application_deadline_date | localizedDate }}
            </span>
          </div>
          <div
            nz-col
            [nzXs]="{ span: 24 }"
            [nzSm]="{ span: 24 }"
            [nzLg]="{ span: 8 }"
          ></div>
        </div>

        <nz-divider></nz-divider>

        <div
          *ngIf="(experience?.translations | languageChange)?.applicant_profile"
          nz-row
          [nzType]="'flex'"
        >
          <div
            class="experience-detail--text"
            nz-col
            [nzXs]="{ span: 24 }"
            [nzSm]="{ span: 24 }"
            [nzLg]="{ span: 24 }"
          >
            <span class="title-resume">{{
              "SOCIAL_SUPPORT.EXPERIENCES.APPLICANT_PROFILE" | translate
            }}</span>
            <br />
            <span class="experience-detail--value">{{
              (experience?.translations | languageChange)?.applicant_profile
            }}</span>
          </div>
        </div>

        <div
          *ngIf="
            (experience?.translations | languageChange)?.selection_criteria
          "
          nz-row
          [nzType]="'flex'"
        >
          <div
            class="experience-detail--text"
            nz-col
            [nzXs]="{ span: 24 }"
            [nzSm]="{ span: 24 }"
            [nzLg]="{ span: 24 }"
          >
            <span class="title-resume">{{
              "SOCIAL_SUPPORT.EXPERIENCES.SELECTION_CRITERIA" | translate
            }}</span>
            <br />
            <span class="experience-detail--value">{{
              (experience?.translations | languageChange)?.selection_criteria
            }}</span>
          </div>
        </div>

        <div
          *ngIf="experience?.experience_responsible?.name"
          nz-row
          [nzType]="'flex'"
        >
          <div
            class="experience-detail--text"
            nz-col
            [nzXs]="{ span: 24 }"
            [nzSm]="{ span: 24 }"
            [nzLg]="{ span: 24 }"
          >
            <span class="title-resume">{{
              "SOCIAL_SUPPORT.EXPERIENCES.RESPONSABLE" | translate
            }}</span
            ><br />
            <div class="experience-detail--value">
              {{ experience?.experience_responsible?.name }}
            </div>
          </div>
        </div>

        <div
          *ngIf="experience?.experience_advisor?.name"
          nz-row
          [nzType]="'flex'"
        >
          <div
            class="experience-detail--text"
            nz-col
            [nzXs]="{ span: 24 }"
            [nzSm]="{ span: 24 }"
            [nzLg]="{ span: 24 }"
          >
            <span class="title-resume">{{
              "SOCIAL_SUPPORT.EXPERIENCES.MENTOR" | translate
            }}</span
            ><br />
            <div class="experience-detail--value">
              {{ experience?.experience_advisor?.name }}
            </div>
          </div>
        </div>

        <div nz-row [nzType]="'flex'">
          <div
            class="experience-detail--text"
            nz-col
            [nzXs]="{ span: 24 }"
            [nzSm]="{ span: 24 }"
            [nzLg]="{ span: 24 }"
          >
            <span class="title-resume">{{
              "SOCIAL_SUPPORT.EXPERIENCES.SCHEDULE" | translate
            }}</span
            ><br />

            <div
              class="experience-detail--value"
              *ngIf="(experience?.schedule || []).length"
            >
              <app-schedule-detail
                [schedule]="experience.schedule"
              ></app-schedule-detail>
            </div>
          </div>
        </div>

        <div nz-row [nzType]="'flex'">
          <div
            class="experience-detail--text"
            nz-col
            [nzXs]="{ span: 24 }"
            [nzSm]="{ span: 24 }"
            [nzLg]="{ span: 24 }"
          >
            <span class="title-resume">
              {{ "SOCIAL_SUPPORT.EXPERIENCES.LOCAL" | translate }}</span
            ><br />
            <div class="experience-detail--value">
              {{ experience?.organic_unit?.name }}
            </div>
            <div class="experience-detail--value">
              {{ experience?.address }}
            </div>
          </div>
        </div>
        <div nz-row>
          <div
            *ngIf="experience?.attachment_file_id !== null"
            nz-col
            nzXs="24"
            nzSm="14"
            nzLg="10"
            style="padding-top: 20px"
          >
            <app-file-button
              [file]="experience.attachment_file"
              filename="SOCIAL_SUPPORT.EXPERIENCES.FILE_INFO"
            >
            </app-file-button>
          </div>
        </div>
        <div
          *ngIf="
            canExpressInterest &&
            experience?.experience_advisor?.id != user?.id &&
            experience?.experience_responsible?.id != user?.id
          "
          nz-row
        >
          <div
            nz-col
            [nzXs]="{ span: 2 }"
            [nzSm]="{ span: 4 }"
            [nzLg]="{ span: 8 }"
          ></div>
          <div
            nz-col
            [nzXs]="{ span: 20 }"
            [nzSm]="{ span: 14 }"
            [nzLg]="{ span: 7 }"
          >
            <app-button
              nz-tooltip
              [nzTitle]="'SOCIAL_SUPPORT.EXPERIENCES.INTEREST_INFO' | translate"
              (click)="expressInterest()"
              [buttonStyle]="buttonStyle"
              [loading]="loadingButton"
              [type]="'primary'"
              [translate]="'SOCIAL_SUPPORT.EXPERIENCES.INTEREST' | translate"
            ></app-button>
          </div>
          <div
            nz-col
            [nzXs]="{ span: 2 }"
            [nzSm]="{ span: 4 }"
            [nzLg]="{ span: 8 }"
          ></div>
        </div>
      </div>
    </div>

    <div nz-col [nzSm]="2" [nzXs]="1"></div>
  </div>
</nz-spin>
