:host::ng-deep {
  nz-empty {
    width: 100%;
    height: 100%;
  }

  .list-residence {
    &__body {
      margin-top: 40px;
      //padding-top: 24px;

      @media screen and (max-width: 576px) {
        padding: 16px;
      }
    }

    &__list {
      &__item {
        padding-bottom: 24px;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }

        nz-card {
          border-radius: 8px;
          width: 100% !important;
          &:hover {
            border-color: var(--primary-color);
            background-color: var(--primary-1);
          }
          nz-carousel {
            border-radius: 8px 8px 0px 0px;

            [nz-carousel-content] {
              //padding: 18px;
              text-align: center;
              height: 240px;
              line-height: 160px;
              background: #364d79;
              color: #fff;
              overflow: hidden;
            }
          }
        }

        &__info {
          margin-top: 0px;
          margin-bottom: 8px;
          font-size: small;
          font-weight: 700;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.8;
          letter-spacing: normal;
          color: unset;
        }
        &__price {
          margin: 0px;
          font-size: 13px;
          margin-bottom: 10px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.6;
          letter-spacing: normal;
        }

        &__detail {
          margin: 0px;
          margin-bottom: 10px;
          font-size: small;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.8;
          letter-spacing: normal;
          color: unset;
        }
        &__title {
          margin: 0px;
          margin-bottom: 16px;
          font-size: calc(100% + 2px);
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.23;
          letter-spacing: normal;
          color: #222222;
        }

        &__city {
          margin-top: 45px;
          margin-bottom: 8px;
          font-size: 11px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.6;
          letter-spacing: normal;
          color: #979797;
        }
      }
    }
  }
}



#icon-accomo::ng-deep svg {
  path {
      fill: white;
  }
}

.carousel-wrapper {
  position: relative;

  .arrow {
    position: absolute;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    margin-top: -20px;
    font-size: 30px;
    font-weight: bold;
    &.icon-left {
      left: 0;
    }
    &.icon-right {
      right: 0;
    }
  }
}