<div nz-row nzType="flex" class="list-residence__body">
  <div nz-col nzSpan="24">
    <div nz-row nzType="flex" class="list-residence__list" nzGutter="24">
      <div nz-col class="list-residence__list__item" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="8" [nzXXl]="6"
        [nzXXl]="6" *ngFor="let item of listProperties">
        <nz-card nzHoverable [routerLink]="['/privateaccommodation', 'list-detail', item.id]"
          [nzBodyStyle]="{'margin-top': '-22px', 'padding': '16px'}" [nzCover]="coverTemplate">
          <p class="list-residence__list__item__info" style="padding-top: 20px;">{{ item.city }}</p>

          <p class="list-residence__list__item__title" style="line-height: initial">
            {{
              ((item?.translations | languageChange)?.name)
              }}
          </p>
          <p class="list-residence__list__item__detail">{{ item.address }} {{ item.address_no }}</p>
          <p *ngIf="item.usable_space == 'WHOLE_HOUSE'" class="list-residence__list__item__price">
            {{ item.price }}{{ 'PRIVATEACCOMMODATION.MONTH_EUR' | translate }}
          </p>
          <div *ngIf="item.usable_space == 'SHARED_ROOM'">
            <p class="list-residence__list__item__price">
              {{ 'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_ONE.FORM_ELEMENTS.PRICEROOM' | translate }}:
              {{ item?.rooms[0].price }} {{ 'PRIVATEACCOMMODATION.MONTH_EUR' | translate }}
            </p>
          </div>
        </nz-card>
        <ng-template #coverTemplate>
          <div class="carousel-wrapper">
            <nz-carousel nzEffect="scrollx" #myCarousel>
              <ng-container *ngFor="let media of item?.medias">
                <ng-container *ngIf="media?.file?.url">
                  <div nz-carousel-content>
                    <img alt="House" [src]="media.file?.url" />
                  </div>
                </ng-container>
              </ng-container>
              <div *ngIf="item?.medias?.length === 0" nz-carousel-content>
                <img alt="Unavailable Image" src="/assets/imgs/unavailable-image.jpg" />
              </div>
            </nz-carousel>
            <div *ngIf="item.medias.length > 1" class="arrow icon-left"
              (click)="arrowClick($event,'pre', myCarousel)"><i nz-icon nzType="left" id="icon-accomo"
                nzTheme="outline"></i>
            </div>
            <div *ngIf="item.medias.length > 1" class="arrow icon-right"
              (click)="arrowClick($event,'next', myCarousel)"><i nz-icon nzType="right" id="icon-accomo"
                nzTheme="outline"></i></div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>