@import "theme";

.btn-filter {
    margin-top: 40px;
}

.btn-clear {
    margin-top: 45px;
}

.container {
    margin: 8px;
    background: white;
    padding: 24px 30px 24px 30px;
    margin-bottom: 5px;
    margin-top: 20px;
    &__title {
        font-size: 16px;
        line-height: 22px;
        margin: 0px;
        font-weight: bold;
        margin-bottom:10px;
        color:black;
    }
    &__subtitle{
      margin-bottom:5px;
    }
  }

.content-table {
    margin: 8px;
    nz-table {
    }
    .table {
        &__header {
            th {
                background: white;
                color: var(--primary-6);
                font-weight: 700;
            }
            & > th:first-child {
                border-top-left-radius: 2px !important;
            }
            & > th:last-child {
                border-top-right-radius: 2px !important;
            }
        }
        tr {
            td {
                color: var(--text-color);
            }
            background: white !important;
        }
    }
    .options_button {
        color: var(--text-color);
        font-size: 22px;
    }
}