@import "theme";

:host::ng-deep {
  .ant-tabs .ant-tabs-left-bar .ant-tabs-nav {
    width: 180px;
  }

  .row-details {
    margin-bottom: 12px;
    padding: 2px 0;

    .detail-field {
      color: var(--text-color);
      font-weight: normal;
    }

    .detail-data {
      color: var(--primary-5);
      font-weight: normal;
    }
  }

  .row-details-history {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 15px;
  }
}

/* old */


.modal-padding {
   padding: 1px !important;
}

nz-descriptions {
   margin-top: 24px;
}

.history {
   &__row {
       border: 1px solid rgba(0,0,0,0.09);
   }
}

.schedule {
  margin-bottom: 10px;
  &--title {
    margin-bottom: 10px;
  }
}

.mt-4 {
    margin-top: 1rem;
}