<div nz-row>
  <nz-tabset  *ngIf="specialtiesDoctorList.length==0" nzTabPosition="top">
      <nz-tab nzTitle="---">
          <div nz-col nzXs="24" nzMd="24" class="current-accounts">
            <nz-spin [nzSpinning]="loadingInfo">
                <div nz-row>
                    <div nz-col nzXs="24" nzMd="24" nzLg="24" nzXl="12" nzXXl="12">
                        <div nz-row>
                            <div nz-col nzXs="24" nzMd="24" nzLg="4" nzXl="3" nzXXl="2">
                                <nz-avatar [nzSize]="60" nzIcon="user" class="current-accounts__avatar">
                                </nz-avatar>
                            </div>
                            <div nz-col nzXs="24" nzMd="24" nzLg="20" nzXl="21" nzXXl="22" *ngIf="selectedUser.id">
                                <div nz-row>
                                    <span class="current-accounts__name-user">{{selectedUser?.user.name}}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div nz-row style="padding-top: 20px;">
                  <div nz-col nzXs="24" nzMd="24" nzLg="16" nzXl="16" nzXXl="16">
                      <button nz-button nzType="primary" class="button-color" (click)="modalSearch()">
                          <span>Procurar</span>
                      </button>
                  </div>
                </div>
            </nz-spin>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
        </div>
      </nz-tab>
  </nz-tabset>
  <nz-tabset *ngIf="specialtiesDoctorList.length>0" nzTabPosition="top" [nzSelectedIndex]="tabIndex">
          <nz-tab *ngFor="let specialty of specialtiesDoctorList; let i = index"  [nzTitle]="validTranslateName(3,specialty?.translations)"
              (nzClick)="selectSchedule(specialty, i)">
              <div nz-col nzXs="24" nzMd="24" class="current-accounts">
                  <nz-spin [nzSpinning]="loadingInfo">
                      <div nz-row>
                          <div nz-col nzXs="24" nzMd="24" nzLg="24" nzXl="12" nzXXl="12">
                              <div nz-row>
                                  <div nz-col nzXs="24" nzMd="24" nzLg="4" nzXl="3" nzXXl="2">
                                      <nz-avatar [nzSize]="60" nzIcon="user" class="current-accounts__avatar">
                                      </nz-avatar>
                                  </div>
                                  <div nz-col nzXs="24" nzMd="24" nzLg="20" nzXl="21" nzXXl="22">
                                      <div nz-row>
                                          <span class="current-accounts__name-user">{{selectedUser?.user.name}}</span>
                                      </div>
                                  </div>
                              </div>

                          </div>
                          <div nz-col nzXs="24" nzMd="24" nzLg="24" nzXl="12" nzXXl="12" class="current-accounts__btn">
                            <!--<button
                                *ngIf="!showHistory && ('current_account:movements:charges-history' | hasPermission)"
                                nz-button nzType="primary" class="current-accounts__btn__btn-margin"
                                (click)="showHistory = true; showHistoryTable();"
                                [disabled]="selectedAccount?.account_id?false:true">
                                <span>Ver Calendário</span>
                            </button>-->
                            <button nz-button nzType="primary" class="current-accounts__btn__btn-margin"
                              (click)="openCalendar(specialty, tplTitle, tplContent, tplFooter)">
                              <span>Ver Calendário</span>
                          </button>
                        </div>
                      </div>
                      <div nz-row style="padding-top: 20px;">
                        <div nz-col nzXs="24" nzMd="24" nzLg="16" nzXl="16" nzXXl="16">
                            <button nz-button nzType="primary" class="button-color" (click)="modalSearch()">
                                <span>Procurar</span>
                            </button>
                        </div>
                      </div>
                  </nz-spin>
              </div>
              <div nz-col nzXs="24" nzMd="24">
                  <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
              </div>
          </nz-tab>
  </nz-tabset>

  <ng-template #contentTpl>
    <div nz-row class="container" *ngIf="specialtiesDoctorList.length>0">
      <div nz-col nzXs="24" nzMd="12" nzLg="8" nzXl="10" nzXXl="7">
          <nz-range-picker [(ngModel)]="filter_createDate" [nzPlaceHolder]="[ 'Data inicial','Data final']">
          </nz-range-picker>
      </div>
      <div nz-col nzXs="24" nzMd="12" nzLg="6" nzXl="5" nzXXl="5">
        <nz-select style="width: 90%;" [(ngModel)]="filters.day" nzPlaceHolder="Dia" nzShowSearch>
          <nz-option nzValue="Sunday" nzLabel="Domingo"></nz-option>
          <nz-option nzValue="Monday" nzLabel="Segunda-feira"></nz-option>
          <nz-option nzValue="Tuesday" nzLabel="Terça-feira"></nz-option>
          <nz-option nzValue="Wednesday" nzLabel="Quarta-feira"></nz-option>
          <nz-option nzValue="Thursday" nzLabel="Quinta-feira"></nz-option>
          <nz-option nzValue="Friday" nzLabel="Sexta-feira"></nz-option>
          <nz-option nzValue="Saturday" nzLabel="Sábado"></nz-option>
        </nz-select>
      </div>
      <div nz-col nzXs="24" nzMd="3" nzLg="2" nzXl="2" nzXXl="2">
        <button nz-button nzType="primary" class="btn"
            (click)="updateFilters()">Filtrar</button>
    </div>

    <div nz-col nzXs="24" nzMd="2" nzLg="2" nzXl="2" nzXXl="1">
        <span style="cursor: pointer;" (click)="listComplete()">
            <i nz-icon nzType="delete" nzTheme="outline" style="font-size: 17px; margin-top: 6px;"></i>
        </span>
    </div>
    </div>
      <div nz-row class="space"></div>
      <div nz-row class="container"  *ngIf="specialtiesDoctorList.length>0">
        <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
        (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="isLoading" [nzFrontPagination]="false"
        [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
          <thead (nzSortChange)="sort($event)" nzSingleSort>
            <tr class="table__header">
              <th></th>
              <th> Período</th>
              <th> Dias</th>
              <th>Ações </th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-data [ngForOf]="refTable.data">
              <tr>
                <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
                <td>{{data?.start_date | date: 'dd-MM-yyyy'}} - {{data?.end_date | date: 'dd-MM-yyyy'}}</td>
                <td>{{ getDays(data?.days) }}</td>
                <td nzRight="0px">
                  <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
                    nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                      <li [nzDisabled]="!('health:doctor:schedule:update' | hasPermission)" nz-menu-item
                          (click)="edit(data.id)">Editar</li>
                      <li [nzDisabled]="!('health:doctor:schedule:remove' | hasPermission)" nz-menu-item
                          (click)="delete(data.id)">Eliminar</li>
                    </ul>
                  </nz-dropdown-menu>
                </td>
              </tr>
              <tr [nzExpand]="mapOfExpandData[data.id]">
                <td [attr.colspan]="10">
                      <div nz-row nzJustify="start" class="container__data-extra__row">
                        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                          <div nz-col nzXs="2" nzSm="2" nzMd="2" nzLg="2" nzXl="2">
                            <div class="container__data-extra__table__title">Período</div>
                          </div>
                          <div nz-col nzSpan="12">
                            <div nz-col nzSm="4" nzMd="4" nzLg="6" nzXl="6">
                              <p class="container__data-extra__desc">{{ data.start_date | date: "dd/MM/yyyy" }}  -  {{ data.end_date | date: "dd/MM/yyyy" }}</p>
                            </div>
                          </div>
                        </div>
                        <div nz-row>
                          <div nz-col nzXs="2" nzSm="2" nzMd="2" nzLg="2" nzXl="2">
                            <div class="container__data-extra__table__title">Dias</div>
                          </div>
                          <div nz-col nzSpan="20" >
                            <div nz-row *ngFor="let day of data.days">
                              <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
                                <div class="container__data-extra__table__title">{{ getDay(day.day) }}</div>
                              </div>
                              <div nz-col nzSpan="12">
                                <div nz-col nzSm="10" nzMd="10" nzLg="10" nzXl="10" *ngFor="let d of day.days">
                                  <div nz-row>
                                    <div nz-col nzSm="6" nzMd="6" nzLg="6" nzXl="6" >Inicio: </div>
                                    <div nz-col nzSm="8" nzMd="8" nzLg="8" nzXl="8" >
                                      <p class="container__data-extra__desc">{{ d.start_hour }} h</p>
                                    </div>
                                  </div> 
                                  <div nz-row>
                                    <div nz-col nzSm="6" nzMd="6" nzLg="6" nzXl="6" >Fim: </div>
                                    <div nz-col nzSm="8" nzMd="8" nzLg="8" nzXl="8" >
                                      <p class="container__data-extra__desc">{{ d.end_hour }} h</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <nz-divider></nz-divider>
                            </div>
                          </div>
                        </div>
                      </div>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </nz-table>
      </div>
      <div nz-row class="container" *ngIf="specialtiesDoctorList.length==0">
        <nz-empty></nz-empty>
      </div>
  </ng-template>
</div>

<ng-template #tplTitle>
  <span>Calendário</span>
  <nz-button-group style="float: right;">
    <button nz-button nzType="primary" (click) = "closeEventModal()"><i nz-icon type="close"></i></button>
  </nz-button-group>
</ng-template>
<ng-template #tplContent>
  <div perfectScrollbar class="content--padding scroll-container">
    <div nz-row nzType="flex" nzJustify="space-between">
      <ngx-fullcalendar #calendar defaultView="month" height="auto" aspectRatio="2" [events]="eventsInCalendar" [options]="options"></ngx-fullcalendar>
    </div>
  </div>
</ng-template>
<ng-template #tplFooter>
  <button nz-button nzType="primary" (click)="closeEventModal()">Fechar</button>
</ng-template>