:host::ng-deep {
    .ant-tabs {
        background-color: #f0f2f5 !important;
    }
    .ant-tabs-bar{
        border-bottom: none !important;
    }
    .ant-tabs-tab {
        background-color: white !important;
    }

    .ant-tabs-nav .ant-tabs-tab {
      margin: 0 2px 0 0 !important;
    }

}

.container-init{
    padding: 20px;
    background-color: white;
}

.space {
    background-color: #f0f2f5;
    padding: 10px;
}

.btn-filter{
    text-align: center;
    .btn-delete{
      cursor: pointer;
      font-size: 18px;
      margin-top: 45px;
    }
    .btn{
      margin-bottom: 4px;
      margin-top: 42px;
    }
}

.current-accounts {
    background-color: white;
    padding: 20px;
    margin-top: -14px;
    border-bottom: 1px solid #f0f2f5;;

    &__avatar {
        width: 50px !important;
        height: 50px !important;
        line-height: 50px !important;
    }

    &__name-user {
      font-size: 20px;
      font-weight: 500;
      color:  var(--primary-color);
    }
}

.container {
    background: white;
    padding: 24px 30px 24px 30px;
    margin-bottom: 5px;
    &__title {
        font-size: 16px;
        line-height: 22px;
        margin: 0px;
        font-weight: bold;
        margin-bottom:10px;
        color:black;
    }
    &__subtitle{
      margin-bottom:5px;
    }
  }

  .font-icon-dash{
    font-size:22px;
    color: var(--text-color);
}

.padding-bottom-5 {
    padding-bottom: 5px;
}
.content-table {
    margin: 8px;
    
    .table {
        &__header {
            th {
                background: white;
                color: var(--primary-6);
                font-weight: 700;
            }

            & > th:first-child {
                border-top-left-radius: 2px !important;
            }
            
            & > th:last-child {
                border-top-right-radius: 2px !important;
            }
        }
        
        tr {

            /*td {
                color: var(--text-color);
            }*/

            background: white !important;
        }
    }

    .options_button {
        color: var(--text-color);
        font-size: 22px;
    }
}