.content_filter {
  &__field {
    display: flex;
  }
  &__label {
    margin-right: 8px;
    padding-top: 3px;
  }
}


.ticket-card {

  margin-bottom: 16px;

  border-radius: 5px;
  padding: 10px 15px 15px 15px;
  box-shadow: 1px 1px 2px 1px rgba(223, 223, 223, 0.5);
  margin-top: 2px;
  background-color: #ffffff;


  &:before,
&:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 2;
  background-color: #f0f2f5;
}


  &:before {
    border: 1px solid #ffffff;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(-45deg);
    left: 1px;
  }

  &:after {
    border: 1px solid #ffffff;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(135deg);
    right: 1px;
  }


  &__content {
    &__label {
      font-size: 11px;
      font-weight: bold;
      line-height: 1.78;

      &--tag {
        margin-bottom: 6px;
      }
    }

    &__data {
      font-size: 11px;
      //font-weight: bold;
      line-height: 1.78;
    }
  }

}

.application-card {
  border-radius: 5px;
  padding: 25px 15px 15px 15px;
  box-shadow: 1px 1px 2px 1px rgba(223, 223, 223, 0.5);
  margin-top: 20px;
  background-color: #ffffff;
  > div:first-child {
    margin-bottom: 10px;
  }
  &--status {
    padding-left: 5px;
    padding-right: 5px;
    height: 18px;
    border-radius: 4px;
    text-align: center;
    float: left;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.78;
    letter-spacing: 0.5px;
    color: white;
  }
  &--title {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #333333;
  }
  &--button {
    float: right;
  }
}

@media only screen and (max-width: 600px) {
  .application-card {
    &--title {
      margin-top: 10px;
    }
  }
  .padding-bottom-mobile-20 {
    padding-bottom: 20px;
  }
}

.card {

  &__status {
      font-size: 11px;
      font-weight: bold;
      letter-spacing: 0.5px;
      color: #ffffff;
      text-align: center;
      align-items: center;
      border: none;
      cursor: context-menu;
  }
}


.padding-top-15 {
  padding-top: 15px;
}


.title-detail {
  font-size: 11px;
  color: #979797;
}

.description-detail {
  color: black;
  font-size: 13px;
}

.a-href {
  padding-top: 20px;
  text-decoration: underline;
  @media only screen and (max-width: 600px) {
      padding-top: 0px;
  }
}

.padding-tablet {
  @media only screen and (max-width: 800px) {
      padding-top: 10px;
  }
}
