<!--- OPTIONS -->
<div nz-row style="margin: 24px 0px;">
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
    <div nz-row>
      <div nz-col nzSpan="12">
        <app-button translate="MISC.RETURN" (click)="back()" [leftIcon]="'left'"
          [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}" type="tertiary"></app-button>
      </div>
    </div>
  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>
</div>

<div nz-row>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20" style="font-weight: bold;">
    {{'MOBILITY.TICKETS.FILTERS' | translate }}:
  </div>
</div>

<div nz-row>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20" class="content_filter">
    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzXXl]="4" class="content_filter__field">
        <div class="content_filter__label" >{{'MOBILITY.TICKETS.STATUS' | translate }}:</div>
        <nz-select style="width: 100%;" [(ngModel)]="used_filter" (ngModelChange)="filterChanged()">
          <nz-option [nzValue]="false" [nzLabel]="'MOBILITY.TICKETS.UNUSED' | translate"></nz-option>
          <nz-option [nzValue]="true" [nzLabel]="'MOBILITY.TICKETS.USED' | translate"></nz-option>
        </nz-select>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzXXl]="4" class="content_filter__field">
        <div class="content_filter__label">{{'MOBILITY.TICKETS.MONTH' | translate }}:</div>
        <nz-month-picker
          [(ngModel)]="month_filter"
          [nzAllowClear]="false"
          (ngModelChange)="filterChanged()"
          [nzPlaceHolder]="'MOBILITY.TICKETS.MONTH' | translate "
        ></nz-month-picker>
      </div>
    </div>
  </div>
</div>

<!--- CONTENT -->
<div nz-row>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20" class="content">
    <nz-spin [nzSpinning]="loading">
      <nz-empty [nzNotFoundContent]="'MOBILITY.SUB_23_DECLARATIONS.NO_CONTENT' | translate"
        *ngIf="tickets.length === 0">
      </nz-empty>

      <div nz-row nzType="flex" *ngIf="tickets.length > 0" nzGutter="16">
        <!-- START OF TICKET -->
        <div nz-col nzXs="24" nzMd="24" nzMd="12" nzLg="8" nzXl="6"  *ngFor="let ticket of tickets">
          <div class="ticket-card" [routerLink]="[ticket.id]" >
            <div class="ticket-card__content">

              <div nz-row nzType="flex" nzJustify="end">
                <div nz-col [nzSm]="6" [nzMd]="10" class="ticket-card__content__label ticket-card__content__label--tag">
                  <nz-tag [nzColor]="ticket.used ? 'red' : 'green'">{{ ticket.used ? ('MOBILITY.TICKETS.USED' | translate) : ('MOBILITY.TICKETS.UNUSED' | translate)}}</nz-tag>
                </div>
              </div>

              <div nz-row>
                <div nz-col [nzSm]="24" [nzMd]="12" class="ticket-card__content__label">
                  {{'MOBILITY.TICKETS.BUY_DATE' | translate }}:
                </div>
                <div nz-col [nzSm]="24" [nzMd]="12" class="ticket-card__content__data">
                  {{ticket.created_at | date : 'y-MM-dd hh:mm:ss'}}
                </div>
              </div>
              <div nz-row>
                <div nz-col [nzSm]="12" [nzMd]="6" class="ticket-card__content__label">
                  {{'MOBILITY.TICKETS.FROM' | translate }}:
                </div>
                <div nz-col [nzSm]="12" [nzMd]="6" class="ticket-card__content__data">
                  {{ticket.departure_local.local}}
                </div>
                <div nz-col [nzSm]="12" [nzMd]="6" class="ticket-card__content__label">
                  {{'MOBILITY.TICKETS.TO' | translate }}:
                </div>
                <div nz-col [nzSm]="12" [nzMd]="6" class="ticket-card__content__data">
                  {{ticket.arrival_local.local}}
                </div>
              </div>
              <div nz-row>
                <div nz-col [nzSm]="12" [nzMd]="6" class="ticket-card__content__label">
                  {{'MOBILITY.TICKETS.ROUTE' | translate }}:
                </div>
                <div nz-col [nzSm]="12" [nzMd]="6" class="ticket-card__content__data">
                  {{ticket.route.name}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nz-spin>
  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
  </div>
</div>

