<div class="ticker" *ngIf="tickerScopeNode">

  <div fi-ticker-wrap class="ticker__wrap">

    <div class="ticker__background"></div>

    <div class="ticker__container">
      <ng-content></ng-content>
    </div>

    <div *ngIf="tickerScopeNode" class="ticker__scope">

      <div class="ticker__scope-label">
        {{ tickerScopeNode }}
      </div>

      <div class="ticker__scope-tab"></div>
    </div>

  </div>

</div>
