<nz-layout class="wrapper">
  <fi-sas-layout-header></fi-sas-layout-header>
  <nz-layout>
    <nz-sider *ngIf="isSiderActive" [nzWidth]="250" [nzCollapsedWidth]="0" [nzCollapsed]="isSiderCollapsed"
              class="sider">
      <fi-sas-layout-sider></fi-sas-layout-sider>
    </nz-sider>
    <nz-layout>
      <div class="wrapper__center">
        <fi-sas-layout-breadcrumb *ngIf="isBreadcrumbVisible"></fi-sas-layout-breadcrumb>
        <nz-content class="wrapper__center__content"
        [ngClass]="{'wrapper__center__content--breadcrumbed': isBreadcrumbVisible,'wrapper__center__content--unbreadcrumbed':!isBreadcrumbVisible}"
                    [class.wrapper__center__content--background]="contentWrapperActive">
          <router-outlet></router-outlet>
        </nz-content>
        <nz-footer>
          <fi-sas-layout-footer></fi-sas-layout-footer>
        </nz-footer>
        
      </div>

    </nz-layout>
  </nz-layout>
</nz-layout>
