@import "theme";

.sider {
  background: white;
}

nz-layout {
  background: var(--background-color);
}

.wrapper {
  min-height: 100vh;
  height: 100%;



  &__center {
    overflow: hidden;
    // padding: 24px;
    
    &__content {

      &--breadcrumbed {
        height: calc(~"100vh - 226px ");
      }
  
      &--unbreadcrumbed {
        height: calc(~"100vh - 126px ");
      }

      overflow: hidden;
      width: 100%;

      &--background {
        background:#fff;
      }
    }
  }
}


:host::ng-deep {
  .ant-layout-footer {
    padding:0px !important;
  }
}