@import "theme";

:host::ng-deep {

  .ant-card-body {
    @media screen and (min-width: 576px) {
      margin-top: 30px;
      margin-bottom: 120px;
      padding-top: 48px;
    }

  }

  nz-switch {
    float: right;
    color: var(--primary-color);
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-left: 20px;
  }

  .allergens {
    margin-top: 25px;
    cursor: default;
    border: 0;
    border-radius: 5px;
    background-color: #ffffff;
    font-style: normal;
    font-stretch: normal;
    font-family: Montserrat;
    letter-spacing: normal;

    &___title {
      font-size: 28px;
      font-weight: 900;
      line-height: 1.29;
      color: #333333;
    }

    &___i-have {
      margin-top: 30px;
      margin-bottom: 60px;
      color: #222222;
      line-height: 1.29;
      font-size: 14px;
      font-weight: 700;
    }

    &___allergen {
      margin-top: 20px;
      margin-bottom: 20px;
      color: unset;
      line-height: 1.29;
      font-size: unset;
      font-weight: unset;
    }
  }
}
