<div nz-row>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>

  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12">

    <app-button translate="MISC.RETURN" (click)="back()" [leftIcon]="'left'"
    [buttonStyle]="{'font-size': '12px', 'line-height': '18px', 'margin-top': '20px'}" type="tertiary"></app-button>
    
    <nz-card class="allergens">
      <nz-card-meta *ngIf="userAllergens" [nzTitle]="titleTemplate" [nzDescription]="descriptionTemplate"></nz-card-meta>
    </nz-card>

  </div>

  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>
</div>


<ng-template #titleTemplate>
  <h2 class="title-top-page">{{ "ALIMENTATION.USER_ALLERGENS.FOOD_ALLERGIES" | translate }}</h2>
</ng-template>

<ng-template #descriptionTemplate>
  <div class="allergens___i-have">{{ "ALIMENTATION.USER_ALLERGENS.I_HAVE_FOOD_ALLERGIES" | translate }}<nz-switch [ngModel]="isAllergic" (ngModelChange)="iHaveAllergic($event)" [nzCheckedChildren]="'ALIMENTATION.USER_ALLERGENS.YES' | translate" [nzUnCheckedChildren]="'ALIMENTATION.USER_ALLERGENS.NO' | translate"></nz-switch></div>

  <div *ngIf="isAllergic">
    <div *ngFor="let userAllergen of userAllergens ">
      <div class="allergens___allergen">{{ (userAllergen.translations | languageChange).name }}<nz-switch [(ngModel)]="userAllergen.allergic" (ngModelChange)="changeAllergic()" [nzLoading]="isloading" [nzCheckedChildren]="'ALIMENTATION.USER_ALLERGENS.YES' | translate" [nzUnCheckedChildren]="'ALIMENTATION.USER_ALLERGENS.NO' | translate"></nz-switch></div>
    </div>

  </div>
</ng-template>
