@import "theme";

.top {
  padding-top: 25px;
}

.application_form-Emergency_Fund {
  padding: 25px;
}

.icon {
  font-size: 30px;
  cursor: pointer;
}

.with-info {
  width: 100%;
}

.without-info {
  width: 70%;
  float: left;
  padding-right: 10px;
  border-right: 2px solid #f0f2f5;
  @media screen and (max-width: 600px) {
    width: 100%;
    border: none;
    padding-right: 0px;
  }
  @media screen and (max-width: 800px) {
    width: 100%;
    border: none;
    padding-right: 0px;
  }
}
.step-tow-section {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}
.info {
  width: 30%;
  padding-left: 20px;
  float: right;
  @media screen and (max-width: 600px) {
    width: 100%;
    padding-left: 0px;
  }
  @media screen and (max-width: 800px) {
    width: 100%;
    padding-left: 0px;
  }
}

#icon-info-text-form::ng-deep svg {
  g path {
    fill: var(--primary-color) !important;
  }
}

.margin-top-0 {
  margin-top: 0px;
}

.margin-top--10 {
  margin-top: -10px;
}

.divider-web {
  margin-top: 10px;
  width: 100%;
}

.button-space {
  text-align: center;
  margin-bottom: 25px;
}

.steps-minimal-size_sub-title {
  margin: 0px !important;
}

.steps-minimal-size_title {
  font-size: 20px;
  margin-bottom: 1px !important;
  font-weight: 500;
}

.error {
  color: red;
  margin-top: 5px;

  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}

.step_divider_title {
  font-weight: bold;
  color: black;
}

#form_application_accommodation_birth_date.ng-invalid.error
  ::ng-deep
  .ant-calendar-picker-input {
  border-color: red !important;
  background-color: #ff00000a !important;
  :focus {
    border-color: red !important;
  }

  :hover {
    border-color: red !important;
  }
}

.total-width {
  width: 100% !important;
}

.divider-web {
  margin-top: 10px;
  width: 100%;
}

.ant-calendar-picker {
  width: 100%;
}

::ng-deep .ant-upload.ant-upload-select,
.ant-input-group {
  width: 100% !important;
}

.i-plus-close {
  font-size: 18px;
  color: var(--primary-color);
  cursor: pointer;
}

.link {
  text-decoration: underline;
}

:host::ng-deep {
  .disabled-input {
    cursor: not-allowed;
    opacity: 1;
    pointer-events: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.25) !important;
    background: #f5f5f5 !important;
  }
  .disabled-input-birthdate {
    input {
      cursor: not-allowed;
      opacity: 1;
      pointer-events: none;
      background-color: transparent;
      color: rgba(0, 0, 0, 0.25) !important;
      background: #f5f5f5 !important;
    }
  }
}
.listDefaultExpenses {
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  .listDefaultExpenses {
    flex-direction: column;
  }
}

.primary-datePicker-disable {
  .ant-calendar-picker-input {
    height: 50px !important;
    border-radius: 4px !important;
    border: solid 1px #e8e8e8 !important;
    cursor: not-allowed;
    opacity: 1;
    pointer-events: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.25);
    background: #f5f5f5;
  }
  .ant-calendar-picker {
    color: rgba(0, 0, 0, 0.25);
    background: #f5f5f5;
    width: 100% !important;
  }
}
.hidden-md {
  display: none;
}

.title-info {
  font-weight: bold;
  color: black;
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display: block;
  }
}

:host::ng-deep {
  .ant-radio-inner {
    border-color: #a9a9a9 !important;
  }
}

.main-text {
  margin: 72px 52px;
  padding: 40px;
  border-radius: 8px;
  font-size: 14px;
  color: var(--primary-color);
  background-color: #fff;
}
.title {
  margin: 38px 52px;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #111111;
}

.content {
  background: white;
  padding: 24px;

  [nz-row] {
    div:first-child {
      margin: 6px 0px;
      font-size: 13px;
    }

    div:last-child {
      margin: 6px 0px;
      font-size: 13px;
    }
  }
}

.hidden-md {
  display: none;
}

@media screen and (max-width: 800px) {
  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display: block;
  }
  .margin-bottom-15 {
    margin-bottom: 15px;
  }

  .font-label-mobile {
    color: black;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .box-mobile {
    background-color: white;
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display: block;
  }
  .margin-bottom-15 {
    margin-bottom: 15px;
  }

  .font-label-mobile {
    color: black;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .box-mobile {
    background-color: white;
    padding: 20px;
  }
}
