<fi-sas-layout-toolstrip *ngIf="showToolstrip">
  <fi-sas-toolstrip-button [isLoading]="isLoading" (onClick)="onSubmitClickButton()" [permission]="basePermission ? (basePermission + (isListUpdate ? ':update' : ':create')) : null" iconType="save" tooltip="Guardar"></fi-sas-toolstrip-button>
  <fi-sas-toolstrip-button *ngIf="!isListUpdate" (onClick)="formGroup.reset()" iconType="close" tooltip="Limpar">
  </fi-sas-toolstrip-button>
  <fi-sas-toolstrip-button *ngIf="isListUpdate" (onClick)="deleteEntity()" [permission]="basePermission ? (basePermission + ':delete') : null" iconType="delete" tooltip="Eliminar"></fi-sas-toolstrip-button>
  <ng-content>
  </ng-content>
</fi-sas-layout-toolstrip>
<div perfectScrollbar [ngClass]="{'content--padding': formPadding, 'ps scroll-container': formScroll}">
  <form [formGroup]="formGroup" nz-form class="formGenetaror">
    <div nz-row nzGutter="16" *ngFor="let row of fields | pluck: 'row' | uniq | orderBy">
      <div nz-col *ngFor="let field of fields | where: ['row', row] " [nzSpan]="field.span ? field.span : 24">
        <fi-sas-form-multilanguage [formGroup]="formGroup" [field]="field"
          *ngIf="field.type === InputType.multilanguage"></fi-sas-form-multilanguage>
        <fi-sas-form-arrayfield [formGroup]="formGroup" [field]="field" *ngIf="field.type === InputType.arrayfield">
        </fi-sas-form-arrayfield>
        <fi-sas-form-group [model]="model" [formGroup]="formGroup" [field]="field" *ngIf="field.type === InputType.group">
        </fi-sas-form-group>
        <fi-sas-form-input *ngIf="((field.condition !== undefined) ? (field.condition(getValue())) : true) && field.type !== InputType.multilanguage && field.type !== InputType.arrayfield && field.type !== InputType.group"
          [field]="field" [formGroup]="formGroup"></fi-sas-form-input>
      </div>
    </div>
  </form>
</div>
