<div class="container">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
      <div nz-row>
        <nz-form-label>Termo de Pesquisa</nz-form-label>
        <nz-form-control>
          <input nz-input [(ngModel)]="filters.search" id="search" name="search">
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
      <div nz-row>
        <nz-form-label>Modelo</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="filters.bike_model_id" style="width: 100%;" [nzLoading]="bikes_models_loading" 
          nzAllowClear nzShowSearch="true">
          <nz-option *ngFor="let bikeModel of bikeModels" [nzLabel]="bikeModel.model" [nzValue]="bikeModel.id">
          </nz-option>
        </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
      <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
    </div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
      style="text-align: left;">
      <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
    </div>
  </div>
</div>


<div class="container">
  <nz-table class="content-table" #refTable [nzScroll]="{ x: '240px' }" [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
    [nzScroll]="{ x: '100%' }" (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
       <!-- <th></th>-->
        <th>Identificação</th>
        <th>Tamanho</th>
        <th>Modelo</th>
        <th>Ativo</th>
        <th nzRight="0px" class="text-right">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">

        <tr>
          <!--<td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>-->
          <td>
            {{data?.identification}}
          </td>
          <td>
            {{data?.size}}
          </td>
          <td>
            {{data?.bike_model?.model}}
          </td>
          <td>
            {{data?.asset?.designation}}
          </td>
          <td nzRight="0px" class="text-right"> 
            <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
              nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item [routerLink]="['/u-bike', 'bike', 'edit', data.id]">Editar</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>

      <!-- <tr [nzExpand]="mapOfExpandData[data.id]">
          <td [attr.colspan]="columns.length + 3">
           <fi-sas-view-bike [bike]="data"></fi-sas-view-bike>
          </td>
        </tr>--> 

      </ng-template>
    </tbody>
  </nz-table>
</div>