<div nz-row>
  <div nz-col>
    <p>Deseja alterar o estado para <b>Despacho</b>?</p>
  </div>

  <div nz-col>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="24" nzFor="decision">Decisão</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzErrorTip]="decisionErrorTpl">
          <nz-select formControlName="decision" name="decision" id="decision" nzAllowClear>
            <nz-option *ngFor="let decision of actions" [nzLabel]="decision.label" [nzValue]="decision.key"></nz-option>
          </nz-select>
          <ng-template #decisionErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Selecione uma decisão.</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="notes">Observações</nz-form-label>
        <nz-form-control>
          <textarea formControlName="notes" maxlength="255" nz-input name="notes" id="notes" rows="4"></textarea>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
