<div nz-row nzType="flex" nzJustify="center" nzAlign="middle" class="login">
  <div
    nz-col
    class="login__body"
    [nzXs]="22"
    [nzSm]="13"
    [nzMd]="13"
    [nzLg]="10"
    [nzXl]="8"
  >
    <div class="login__title">
      {{
        (currentLoginStep !== LoginStep.SSO
          ? "LOGIN.AUTHENTICATION"
          : "LOGIN.WELCOME"
        ) | translate
      }}
    </div>
    <div class="login__subtitle" *ngIf="currentLoginStep === LoginStep.EMAIL">
      {{ "LOGIN.EMAIL_STEP" | translate }}
    </div>
    <div class="login__subtitle" *ngIf="currentLoginStep === LoginStep.SSO">
      {{ "LOGIN.SSO_STEP" | translate }}
    </div>
    <div
      class="login__subtitle"
      *ngIf="currentLoginStep === LoginStep.PASSWORD"
      [innerHTML]="'LOGIN.PASSWORD_STEP' | translate"
    ></div>
    <div class="login__form" *ngIf="currentLoginStep !== LoginStep.SSO">
      <form nz-form [formGroup]="loginForm" class="login-form">
        <nz-form-item
          [ngClass]="{
            error:
              (loginForm.get('email').dirty && loginForm.get('email').errors) ||
              showEmailError
          }"
        >
          <label class="form__label">Email</label>
          <nz-form-control>
            <input
              type="text"
              nz-input
              [ngClass]="{ disabled: currentLoginStep === LoginStep.PASSWORD }"
              class="login__form__input_email"
              formControlName="email"
              placeholder="email institucional"
              (blur)="trimSpaceFromEmail()"
            />
            <nz-form-explain *ngIf="submit && loginForm.get('email').errors">
              <i nz-icon type="icons:icons-info"></i>
              {{ getEmailInputError() | translate }}
            </nz-form-explain>
            <nz-form-explain *ngIf="showEmailError">
              <i nz-icon type="icons:icons-info"></i>
              {{ "LOGIN.ACCOUNT_NOT_FOUND" | translate }}
            </nz-form-explain>
          </nz-form-control>
          <!--<label class="form__info"
          *ngIf="currentLoginStep === LoginStep.EMAIL">{{ 'LOGIN.EMAIL_RECOVERY' | translate }}</label>-->
          <label
            class="form__info cursor-pointer"
            (click)="changeEmail()"
            *ngIf="currentLoginStep === LoginStep.PASSWORD"
            >{{ "LOGIN.CHANGE_EMAIL" | translate }}</label
          >
        </nz-form-item>
        <nz-form-item
          [ngClass]="{ error: showError }"
          *ngIf="currentLoginStep === LoginStep.PASSWORD"
          style="padding-top: 20px"
        >
          <label class="form__label">{{ "LOGIN.PASSWORD" | translate }}</label>
          <nz-form-control>
            <nz-input-group [nzSuffix]="suffixTemplate">
              <input
                #passwordRef
                [type]="passwordVisible ? 'text' : 'password'"
                nz-input
                formControlName="password"
                class="login__form__input_password"
                [placeholder]="'LOGIN.INSERT_PASSWORD' | translate"
              />
            </nz-input-group>
            <ng-template #suffixTemplate>
              <i
                nz-icon
                [nzType]="
                  passwordVisible ? 'icons:icons-show' : 'icons:icons-dontshow'
                "
                (click)="passwordVisible = !passwordVisible"
              ></i>
            </ng-template>
            <nz-form-explain *ngIf="loginForm.get('password').errors">
              <i nz-icon type="icons:icons-info"></i>
              {{ getPasswordInputError() | translate }}
            </nz-form-explain>
            <nz-form-explain *ngIf="showError">
              <i nz-icon type="icons:icons-info"></i>
              {{ error | translate }}
            </nz-form-explain>
            <nz-form-explain *ngIf="attempts_remaining !== null">
              <i nz-icon type="icons:icons-info"></i>
              {{
                "LOGIN.REMAINING_ATTEMPTS"
                  | translate: { remaining_attempts: this.attempts_remaining }
              }}
            </nz-form-explain>
          </nz-form-control>
          <!--<label class="form__info">{{ 'LOGIN.PASSWORD_RECOVERY' | translate }}</label>-->
        </nz-form-item>
        <nz-form-item
          class="login__form__button"
          *ngIf="currentLoginStep === LoginStep.EMAIL"
        >
          <nz-form-control>
            <app-button
              [buttonStyle]="{
                width: '100%',
                'font-size': '17px',
                'line-height': '24px'
              }"
              [loading]="isLoading"
              (click)="validateEmailAddress(loginForm.value, loginForm.valid)"
              translate="MISC.CONTINUE"
            >
            </app-button>
            <div
              nz-row
              nzType="flex"
              nzJustify="center"
              nzAlign="middle"
              *ngIf="ssoEnabled"
            >
              <div nz-col [nzSpan]="24" class="login__form__info__back_sso">
                <a (click)="changeSSO()">{{
                  "LOGIN.BACK_FEDERATED_AUTHENTICATION" | translate
                }}</a>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item
          class="login__form__button"
          *ngIf="currentLoginStep === LoginStep.PASSWORD"
        >
          <nz-form-control>
            <app-button
              [buttonStyle]="{
                width: '100%',
                'font-size': '17px',
                'line-height': '24px'
              }"
              [loading]="isLoading"
              (click)="login(loginForm.value, loginForm.valid)"
              translate="LOGIN.LOGIN"
            >
            </app-button>
          </nz-form-control>
        </nz-form-item>

        <div class="login__forgotten_password">
          <button
            nz-button
            nzType="link"
            [routerLink]="['/', 'auth', 'reset-password']"
          >
            {{ "LOGIN.FORGOTTEN_PASSWORD" | translate }}
          </button>
        </div>
        <div class="login__new_verification_link">
          <button
            nz-button
            nzType="link"
            [routerLink]="['/', 'auth', 'new-verification-code']"
          >
            {{ "LOGIN.NEW_VERIFICATION_LINK" | translate }}
          </button>
        </div>
      </form>
    </div>
    <div class="login__sso-info" *ngIf="currentLoginStep === LoginStep.SSO">
      <span class="login__sso-info__title">
        <p>{{ "LOGIN.SSO_TITLE" | translate }}</p>
      </span>
      <p [innerHTML]="'LOGIN.SSO_P1' | translate"></p>
      <p>{{ "LOGIN.SSO_P2" | translate }}</p>
      <p>{{ "LOGIN.SSO_P3" | translate }}</p>
      <app-button
        [buttonStyle]="{
          width: '100%',
          'font-size': '17px',
          'line-height': '24px'
        }"
        [loading]="isLoading"
        (click)="redirectSSOurl()"
        translate="LOGIN.FEDERATED_AUTHENTICATION"
      >
      </app-button>
      <div nz-row nzType="flex" nzJustify="center" nzAlign="middle">
        <div nz-col [nzSpan]="24" class="login__sso-info__back_login">
          <a (click)="changeEmail()">{{
            "LOGIN.BACK_LOCAL_AUTHENTICATION" | translate
          }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  nz-row
  nzType="flex"
  nzJustify="center"
  nzAlign="middle"
  *ngIf="ccLoginEnabled"
>
  <div nz-col>
    <a (click)="redirectCC(form1)">
      <img
        src="../../../assets/imgs/cc_login/bot_autenticacao_azul.png"
        title="Autenticar com Cartão de Cidadão"
      />
    </a>
  </div>
</div>

<!-- HIDDEN FORM FOR CITIZEN CARD LOGIN -->
<form
  id="form1"
  #form1
  [action]="ccSamlRequest ? ccSamlRequest.entityEndpoint : ''"
  method="post"
>
  <!--form id="form1" #form1 [action]="ccSamlRequest ? ccSamlRequest.entityEndpoint : ''" method="post" *ngIf="ccLoginEnabled"-->
  <input
    type="hidden"
    name="RelayState"
    [ngModel]="ccSamlRequest ? ccSamlRequest.relayState : ''"
  />
  <input
    type="hidden"
    name="SAMLRequest"
    [ngModel]="ccSamlRequest ? ccSamlRequest.context : ''"
  />
  <!--input type="submit" style="display:none"/-->
</form>
