@import "theme";

.cursor-pointer {
  cursor: pointer;
}
.error {
  .form__label {
    color: red;
  }

  input {
    border-color    : red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }

  nz-form-explain {
    color: red;

    i {
      color: red;
      fill : red;
    }

    svg {
      color: red !important;
      fill : red !important;
    }

    path {
      color: red !important;
      fill : red !important;
    }

  }
}

.login {


  &__body {

    margin-top: 25px;
    margin-bottom: 25px;
    @media screen and (min-width: 576px) {
      margin-top: 48px;
      margin-bottom: 72px;
    }

    height     : 100%;
    background : white;
    padding    : 24px;
    padding-top: 64px;
  }

  &__title {
    font-size  : 17px;
    line-height: 1.41;
    font-weight: bold;
  }

  &__subtitle {
    font-size    : 16px;
    line-height  : 24px;
    font-weight  : 300;
    margin-bottom: 32px;

    b {
      font-weight: 500 !important;
    }
  }

  &__forgotten_password {
    text-align: center;

    button {
      font-size  : 13px;
      font-weight: normal;
      color      : #000000;
    }
  }

  &__new_verification_link {
    text-align: center;

    button {
      font-size  : 13px;
      font-weight: normal;
      color      : #000000;
    }
  }

  &__form {
    padding-top: 8px;

    &__input_email {
      height          : 48px;
      border-radius   : 4px;
      border          : solid 1px #e8e8e8;
      background-color: #ffffff;
      margin          : 8px 0px 8px 0px;
      font-family     : Montserrat;
      font-size       : 14px;
      font-weight     : 500;
      font-style      : normal;
      font-stretch    : normal;
      line-height     : 1.29;
      letter-spacing  : normal;
      color           : #333333;
    }

    &__input_password {
      height          : 48px;
      border-radius   : 4px;
      box-shadow      : 0 4px 8px 0 rgba(0, 0, 0, 0.24);
      border          : solid 1px #e8e8e8;
      background-color: #ffffff;
      margin          : 8px 0px 8px 0px;
      font-family     : Montserrat;
      font-size       : 14px;
      font-weight     : 500;
      font-style      : normal;
      font-stretch    : normal;
      line-height     : 1.29;
      letter-spacing  : normal;
      color           : #333333;
    }

    &__button {
      margin-top   : 40px;
      margin-bottom: 0;
    }

    &__info {
      &__back_sso {
        padding-top: 24px;
        text-align : center;
      }
    }
  }

  &__sso-info {
    p {
      font-size     : 14px;
      font-weight   : normal;
      font-style    : normal;
      font-stretch  : normal;
      line-height   : 1.71;
      letter-spacing: normal;
      color         : #111111;
    }

    &__title p {
      font-size     : 12px;
      font-weight   : 300;
      font-style    : normal;
      font-stretch  : normal;
      line-height   : 1.33;
      letter-spacing: normal;
      color         : #111111;
    }

    &__back_login {
      padding-top: 24px;
      text-align : center;
    }
  }
}

.ag-button {
  width        : 100%;
  color        : white;
  background   : #3C5DBC;
  margin-bottom: 8px;

  &:hover,
  &:active,
  &:focus,
  &.active {
    background  : rgb(43, 66, 136) !important;
    border-color: rgb(43, 66, 136) !important;
  }

  &[disabled] {

    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background  : rgb(81, 96, 139) !important;
      border-color: rgb(81, 96, 139) !important;
      color       : #FFFFFF !important;
      text-shadow : none;
      box-shadow  : none;
    }
  }
}

.fa-button {
  width        : 100%;
  color        : white;
  background   : var(--primary-color);
  margin-bottom: 8px;

  &:hover,
  &:active,
  &:focus,
  &.active {
    background  : var(--primary-6)  !important;
    border-color: var(--primary-6)  !important;
    color       : white;
  }

  &[disabled] {

    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background  : var(--primary-color)  !important;
      border-color: var(--primary-color)  !important;
      color       : black !important;
      text-shadow : none;
      box-shadow  : none;
    }
  }
}
