<nz-spin [nzSpinning]="loadingEdit">
  <form [formGroup]="formTargetPost" nz-form>
    <div class="content--padding white">
      <div nz-row style="padding-bottom: 10px">
        <label class="title">Destinatário</label>
      </div>
      <div nz-row>
        <div nz-col [nzSpan]="19">
          <nz-form-item>
            <nz-form-label nzRequired>Grupo de Destinatários</nz-form-label>
            <nz-form-control>
              <nz-select
                nzAllowClear
                nzShowSearch
                formControlName="target_id"
                name="target_id"
                (ngModelChange)="changeValue($event)"
              >
                <nz-option
                  *ngFor="let target of listTarget"
                  [nzLabel]="target.name"
                  [nzValue]="target.id"
                >
                </nz-option>
              </nz-select>
              <nz-form-explain
                class="color-required"
                *ngIf="errorGroup && submitted"
              >
                Campo obrigatório
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div
          *ngIf="!formTargetPost.get('target_id').value"
          nz-col
          [nzSpan]="5"
          class="button-add-target"
        >
          <button
            nz-button
            (click)="
              targetOpen = true; targetSelected = null; errorGroup = false
            "
            [nzType]="'primary'"
          >
            Adicionar novo
          </button>
        </div>
      </div>
      <div nz-row *ngIf="targetOpen || formTargetPost.get('target_id').value">
        <fi-sas-form-recipient-groups
          #dataRecipient
          [post]="true"
          [data]="targetSelected"
        >
        </fi-sas-form-recipient-groups>
      </div>
    </div>
    <div nz-row class="space"></div>
    <div class="content--padding white">
      <div nz-row style="padding-bottom: 10px">
        <label class="title">Publicação</label>
      </div>
      <div nz-row>
        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzRequired>Data de publicação</nz-form-label>
            <nz-form-control>
              <nz-date-picker
                formControlName="schedule_date"
                nzShowTime
                [nzDisabledDate]="disabledDate"
              >
              </nz-date-picker>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.schedule_date.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="2"></div>
        <div nz-col [nzSpan]="16">
          <nz-form-item>
            <nz-form-label nzRequired>Categoria</nz-form-label>
            <nz-form-control>
              <nz-select
                nzAllowClear
                nzShowSearch
                formControlName="category_id"
                name="category_id"
              >
                <nz-option
                  *ngFor="let cat of listCategories"
                  [nzLabel]="(cat.translations | translation)?.name"
                  [nzValue]="cat.id"
                >
                </nz-option>
              </nz-select>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.category_id.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <nz-form-item>
          <nz-form-label nzRequired> Ativo </nz-form-label>
          <nz-form-control>
            <nz-switch formControlName="active"> </nz-switch>
          </nz-form-control>
          <nz-form-explain
            class="color-required"
            *ngIf="submitted && f.active.errors"
          >
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>
      </div>
    </div>
    <div nz-row class="space"></div>
    <div class="content--padding white">
      <div nz-row style="padding-bottom: 10px">
        <label class="title">Comunicação</label>
      </div>
      <div nz-row>
        <div nz-col [nzSpan]="10">
          <nz-form-item>
            <nz-form-label nzRequired>Método de notificação</nz-form-label>
            <nz-form-control>
              <nz-select
                nzMode="multiple"
                nzShowSearch
                formControlName="notification_method_id"
                name="notification_method_id"
              >
                <nz-option
                  *ngFor="let not of listNotification"
                  [nzLabel]="not?.name"
                  [nzValue]="not.id"
                >
                </nz-option>
              </nz-select>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.notification_method_id.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <nz-form-item>
          <nz-form-label nzRequired>Assunto</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="subject" />
            <nz-form-explain
              class="color-required"
              *ngIf="submitted && f.subject.errors"
            >
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-row>
        <nz-form-item>
          <nz-form-label nzRequired>Mensagem simplificada</nz-form-label>
          <nz-form-control>
            <textarea
              maxlength="255"
              nz-input
              formControlName="simplified_message"
            ></textarea>
            <nz-form-explain
              class="color-required"
              *ngIf="submitted && f.simplified_message.errors"
            >
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-row>
        <nz-form-item>
          <nz-form-label nzRequired>Mensagem</nz-form-label>
          <nz-form-control>
            <angular-editor
              formControlName="message"
              id="editor1"
              [config]="editorConfig"
            ></angular-editor>
            <nz-form-explain
              class="color-required"
              *ngIf="submitted && f.message.errors"
            >
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-spin>

<div class="space" nz-row>
  <button
    *ngIf="isEdit"
    nz-button
    (click)="returnButton()"
    style="margin-right: 15px"
  >
    Voltar
  </button>
  <button
    nz-button
    [nzLoading]="isLoadingPreview"
    [disabled]="isLoadingPreview"
    style="margin-right: 15px"
    (click)="preview()"
    [nzType]="'primary'"
  >
    Pré-visualizar
  </button>
  <button
    nz-button
    [nzLoading]="isLoading"
    [disabled]="isLoading"
    (click)="submit()"
    [nzType]="'primary'"
  >
    {{ isEdit ? 'Editar' : 'Criar' }}
  </button>
</div>

<nz-modal
  [(nzVisible)]="viewPreview"
  nzTitle="Publicação Direcionada"
  (nzOnCancel)="viewPreview = false"
  (nzOnOk)="viewPreview = false"
>
  <div nz-row class="title-dest">
    <b>Lista de destinatários</b>
  </div>
  <div *ngIf="findConditionsExist()" class="padding-top-15">
    <div nz-row *ngIf="findConditions('active')">
      {{ findConditions('active') }}
    </div>
    <div nz-row *ngIf="findConditions('profile_id')">
      <b>Perfil - </b> {{ findConditions('profile_id') }}
    </div>
    <div nz-row *ngIf="findConditions('organic_unit_id')">
      <b> Unidade Orgânica / Escola - </b
      >{{ findConditions('organic_unit_id') }}
    </div>
    <div nz-row *ngIf="findConditions('course_degree_id')">
      <b> Grau Curso - </b>{{ findConditions('course_degree_id') }}
    </div>
    <div nz-row *ngIf="findConditions('course_id')">
      <b>Curso - </b>{{ findConditions('course_id') }}
    </div>
    <div nz-row *ngIf="findConditions('department_id')">
      <b>Departamento - </b>{{ findConditions('department_id') }}
    </div>
    <div nz-row *ngIf="findConditions('section_id')">
      <b>Secção - </b>{{ findConditions('section_id') }}
    </div>
  </div>
  <div *ngIf="!findConditionsExist()" class="padding-top-15">
    Sem destinatários
  </div>

  <nz-divider></nz-divider>
  <div nz-row>
    <b>Métodos de envio:</b>
  </div>
  <div
    nz-row
    *ngIf="formTargetPost.get('notification_method_id').value?.length == 0"
  >
    Sem métodos de envio selecionados
  </div>
  <div
    nz-row
    *ngIf="formTargetPost.get('notification_method_id').value?.length > 0"
  >
    <div *ngFor="let not of formTargetPost.get('notification_method_id').value">
      {{ findNotification(not) }}
    </div>
  </div>
  <div nz-row class="padding-top-15">
    <b>Assunto:</b>
  </div>
  <div nz-row>
    {{
      formTargetPost.get('subject').value
        ? formTargetPost.get('subject').value
        : 'Sem assunto'
    }}
  </div>
  <div nz-row class="padding-top-15">
    <b>Mensagem Simplificada:</b>
  </div>
  <div nz-row>
    {{
      formTargetPost.get('simplified_message').value
        ? formTargetPost.get('simplified_message').value
        : 'Sem
        mensagem simplificada'
    }}
  </div>
  <div nz-row class="padding-top-15">
    <b>Mensagem:</b>
  </div>
  <div
    *ngIf="formTargetPost.get('message').value"
    nz-row
    [innerHTML]="getHTML(formTargetPost.get('message').value)"
  ></div>
  <div *ngIf="!formTargetPost.get('message').value" nz-row>Sem mensagem</div>
</nz-modal>
