.white {
    background-color: white;
}

.space{
    background-color: #F2F2F2;
    padding-top:10px;
    padding-bottom: 10px;
    text-align: right
}

.color-required {
  color: red;
}

.title {
  font-size: 17px;
  font-weight: 400;
}

.button-add-target{
  padding-top: 44px;
  padding-left: 20px;
}

:host::ng-deep {
  .ant-calendar-picker {
    width: 100%;
  } 
  .angular-editor-textarea{
    height: 15rem !important;
  }
}

.padding-top-15 {
  padding-top: 15px;
}

.title-dest {
  font-size: 16px;
}
