<div class="container">

  <div nz-row>
    <nz-spin [nzSpinning]="loadingEdit">
      <div nz-col [nzSpan]="24">
        <form nz-form [formGroup]="formCreate">
          <div nz-row nzType="flex" nzAlign="middle">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-10">
              <div nz-row style="margin-top: 5px;">
                <nz-form-label nzRequired>Unidade Orgânica</nz-form-label>
                <nz-form-control>
                  <nz-select formControlName="organic_unit_id" nzShowSearch [nzLoading]="loadingOrganicUnit"
                    class="select" (ngModelChange)="getBuildingByUO($event)">
                    <nz-option *ngFor="let organic of organitUnits" [nzLabel]="organic.name" [nzValue]="organic.id">
                    </nz-option>
                  </nz-select>
                </nz-form-control>

              </div>
              <div row class="color-required" *ngIf="submitted && f.organic_unit_id.errors" style="padding: 5px 0px;">
                Campo obrigatório
              </div>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-10">
              <div nz-row style="margin-top: 5px;">
                <nz-form-label nzRequired>Edifício</nz-form-label>
                <nz-form-control>
                  <nz-select formControlName="building_id" nzShowSearch [nzLoading]="loadingBuilding" class="select"
                    [nzDisabled]="!formCreate.get('organic_unit_id').value"
                    (ngModelChange)="getWingsByBuilding($event)">
                    <nz-option *ngFor="let building of buindings" [nzLabel]="building.name" [nzValue]="building.id">
                    </nz-option>
                  </nz-select>
                </nz-form-control>

              </div>
              <div row class="color-required" *ngIf="submitted && f.building_id.errors" style="padding: 5px 0px;">
                Campo obrigatório
              </div>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-10">
              <div nz-row style="margin-top: 5px;">
                <nz-form-label nzRequired>Ala</nz-form-label>
                <nz-form-control>
                  <nz-select formControlName="wing_id" nzShowSearch [nzLoading]="loadingWing" class="select"
                    [nzDisabled]="!formCreate.get('building_id').value" (ngModelChange)="getFloorsByWing($event)">
                    <nz-option *ngFor="let wing of wings" [nzLabel]="wing.name" [nzValue]="wing.id">
                    </nz-option>
                  </nz-select>
                </nz-form-control>

              </div>
              <div row class="color-required" *ngIf="submitted && f.wing_id.errors" style="padding: 5px 0px;">
                Campo obrigatório
              </div>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-10">
              <div nz-row style="margin-top: 5px;">
                <nz-form-label nzRequired>Piso</nz-form-label>
                <nz-form-control>
                  <nz-select formControlName="floor_id" nzShowSearch [nzLoading]="loadingFloors" class="select"
                    [nzDisabled]="!formCreate.get('wing_id').value" (ngModelChange)="getRoomsByFloors($event)">
                    <nz-option *ngFor="let floor of floors" [nzLabel]="floor.name" [nzValue]="floor.id">
                    </nz-option>
                  </nz-select>
                </nz-form-control>

              </div>
              <div row class="color-required" *ngIf="submitted && f.floor_id.errors" style="padding: 5px 0px;">
                Campo obrigatório
              </div>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-10">
              <div nz-row style="margin-top: 5px;">
                <nz-form-label nzRequired>Divisão</nz-form-label>
                <nz-form-control>
                  <nz-select formControlName="room_id" nzShowSearch [nzLoading]="loadingRoom" class="select"
                    [nzDisabled]="!formCreate.get('floor_id').value">
                    <nz-option *ngFor="let room of rooms" [nzLabel]="room.name" [nzValue]="room.id">
                    </nz-option>
                  </nz-select>
                </nz-form-control>

              </div>
              <div row class="color-required" *ngIf="submitted && f.room_id.errors" style="padding: 5px 0px;">
                Campo obrigatório
              </div>
            </div>
          </div>
          <div nz-row>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="16" [nzXl]="16" [nzXXl]="16" class="padding-10">
              <div nz-row>
                <nz-form-label nzRequired>Nome</nz-form-label>
                <nz-form-control>
                  <input type="text" nz-input formControlName="name">
                </nz-form-control>
                <nz-form-explain class="color-required" *ngIf="submitted && f.name.errors" style="padding: 5px 0px;">
                  Campo obrigatório
                </nz-form-explain>
              </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="8" [nzXl]="8" [nzXXl]="8"></div>
          </div>
          <div nz-row>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-10">
              <div nz-row>
                <nz-form-label nzRequired>Código</nz-form-label>
                <nz-form-control>
                  <input type="text" nz-input formControlName="code">
                </nz-form-control>
                <nz-form-explain class="color-required" *ngIf="submitted && f.code.errors">
                  Campo obrigatório
                </nz-form-explain>
              </div>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-10">
              <div nz-row>
                <nz-form-label nzRequired>Ativo</nz-form-label>
              </div>
              <div nz-row class="padding-bottom-5 padding-top-5">
                <nz-switch formControlName="active" style="padding-top: 5px;">
                </nz-switch>
                <nz-form-explain class="color-required" *ngIf="submitted && f.active.errors" style="padding: 5px 0px;">
                  Campo obrigatório
                </nz-form-explain>
              </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="12" [nzXl]="12" [nzXXl]="12"></div>
          </div>
        </form>
      </div>
    </nz-spin>
  </div>
</div>

<div class="space" nz-row>
  <button *ngIf="isEdit" nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
  <button nz-button *ngIf="idConfigurationRoom" style="margin-right: 15px;" (click)="back()">Voltar</button>
  <button nz-button [nzLoading]="loading" [disabled]="loading"
    (click)="isEdit ? submitService(true) : submitService(false)" [nzType]="'primary'">{{isEdit ? 'Editar' :
    'Criar'}}</button>
</div>