@import 'theme';

/*
 This is used on the list component on Shared Module
 has to be global because of the ng-content
*/
div[form] {
  height: 100%;
}

/* body */
html,
body {
  width      : 100%;
  height     : 100%;
  margin     : 0;
  padding    : 0;
  line-height: 1;
  overflow-y : hidden;

  fi-root {
    background-color: #02090b;
    height          : 100%;
    display         : block;
    position        : relative;
  }
}

.m-b-16 {
  margin-bottom: 16px;
}

.m-b-8 {
  margin-bottom: 8px;
}

.m-t-8 {
  margin-top: 8px;
}

.m-r-8 {
  margin-right: 8px;
}

.m-l-8 {
  margin-right: 8px;
}

.m-8 {
  margin: 8px;
}

.p-24 {
  padding: 24px;
}

.p-16 {
  padding: 16px;
}

.p-8 {
  padding: 8px;
}

/***
Used on scroll for complet layout desing
 */
.scroll-container {
  height  : ~'calc(100% - 40px)';
  position: relative;
}

.content {
  &--padding {
    padding: 24px;
  }

  &__buttons {
    margin-right: 8px;
  }
}

.view {
  &__label {
    margin-bottom: 4px;
    font-weight  : bold;
    font-size    : 14px;
  }
}

.disabled {
  opacity       : 0.3;
  pointer-events: none;
}

.hidden {
  display: none !important;
}


.ant-menu-item--level1 {
  padding-left: 0px !important;
}

.ant-menu-item--level2 div {
  padding-left: 48px !important;
}

.ant-menu-item--level3 {
  padding-left: 72px !important;
}

.ant-menu-submenu-title {
  padding: 0px !important;
}

/***
 A PARTIR DAQUI NAO INTERESSA
 */
.box-loader {
  display         : flex;
  align-items     : center;
  height          : 100%;
  position        : absolute;
  width           : 100%;
  z-index         : 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.lds-spinner {
  color   : white;
  margin  : 80px auto;
  position: relative;
  width   : 64px;
  height  : 64px;
}

.lds-spinner div {
  transform-origin: 32px 32px;
  animation       : lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content      : ' ';
  display      : block;
  position     : absolute;
  top          : 3px;
  left         : 29px;
  width        : 5px;
  height       : 14px;
  border-radius: 20%;
  background   : #fff;
}

.lds-spinner div:nth-child(1) {
  transform      : rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform      : rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform      : rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform      : rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform      : rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform      : rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform      : rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform      : rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform      : rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform      : rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform      : rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform      : rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.custom-filter-dropdown {
  padding      : 8px;
  border-radius: 6px;
  background   : #fff;
  box-shadow   : 0 1px 6px rgba(0, 0, 0, 0.2);

  [nz-input] {
    width       : 130px;
    margin-right: 8px;
  }
}

/*
  SELECTION
*/
::-moz-selection { /* Code for Firefox */
  color: white;
  background: var(--primary-color);
}

::selection {
  color: white;
  background: var(--primary-color);
}

/*
  BUTTONS
*/
.ant-btn-primary {
  background  : var(--primary-color);
  border-color: var(--primary-color);

  &:hover,
  &:focus {
    background  : var(--primary-5) !important;
    border-color: var(--primary-5) !important;
    color: #fff !important;
  }
}

.ant-btn:focus, .ant-btn:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}


.ant-btn-danger:hover {
  color: #fff;
  background-color: #ff3029;
  border-color: #ff3029;
}

/*
INPUTS
*/

.ant-input {
  &:focus {
    outline     : none !important;
    border-color: var(--primary-4);
    box-shadow  : 0 0 3px var(--primary-4);
  }

  &:hover {
    border-color: var(--primary-4);
  }

}
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color      : var(--primary-4);
  border-right-width: 1px !important;
}

.ant-select-open .ant-select-selection {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px var(--input-focus-shadow-color);
}

.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: var(--primary-2);
}

.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: var(--primary-1);
}

.ant-select-focused .ant-select-selection, .ant-select-selection:active, .ant-select-selection:focus {
  border-color: var(--primary-4);
  box-shadow: 0 0 0 2px var(--input-focus-shadow-color);
}

.ant-select-selection:hover {
  border-color: var(--primary-4);
  border-right-width: 1px !important;
}

.ant-switch-checked {
  background-color: var(--primary-color);
}

.ant-switch:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--input-focus-shadow-color);
}

.ant-calendar-month-panel-header a:hover {
  color: var(--primary-4);
}

.ant-calendar-month-panel-selected-cell .ant-calendar-month-panel-month, .ant-calendar-month-panel-selected-cell .ant-calendar-month-panel-month:hover {
  color: #fff;
  background: var(--primary-color);
}

.ant-calendar-header a:hover {
  color: var(--primary-4);;
}
.ant-calendar-month-panel-month:hover {
  background: var(--primary-1);
  cursor: pointer;
}

.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled), .ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner, .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner {
  border-color: var(--primary-color);
}

/*
  TABLES
*/
.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td, .ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td {
  background:var(--primary-1);
}

.ant-pagination-item-active a, .ant-pagination-item:focus a, .ant-pagination-item:hover a {
  color: var(--primary-color);
}

.ant-pagination-item-active {
  background: #fff;
  border-color: var(--primary-color);
}

/* 
  TABS 
*/

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  color:var(--primary-color);
}

.ant-tabs-nav .ant-tabs-tab-active {
  color: var(--primary-4);
}

.ant-tabs-nav .ant-tabs-tab:hover {
  color:var(--primary-color);
}

.ant-tabs-ink-bar {
  background-color: var(--primary-color);
}