<div class="offer">
  <div nz-row nzType="flex">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="5" [nzXl]="4" [nzXXl]="3">
      <app-offer-status-badge [offer]="offer"></app-offer-status-badge>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="11" [nzXl]="12" [nzXXl]="12">
      <div class="title cursor-pointer" (click)="reviewExperience()">
        {{ (offer?.translations | languageChange)?.title }}
      </div>

      <div class="description">
        <b> {{ (offer?.translations | languageChange)?.description }}</b>
      </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="7" [nzXl]="8" [nzXXl]="9" class="offer--actions">
      <app-button *ngIf="!isAdvisor" [type]="'secundary'" translate="SOCIAL_SUPPORT.OFFERS.EDIT"
        (click)="edit(offer?.id)" [buttonStyle]="{'margin-right':'5px', 'margin-top':'5px'}">
      </app-button>
      <ng-container *ngIf="showButtons">
        <app-button *ngIf="offer?.status === 'IN_COLABORATION'" [type]="'secundary'"
          [buttonStyle]="{'margin-right':'5px', 'margin-top':'5px'}"
          translate="SOCIAL_SUPPORT.HISTORY_APPLICATIONS.FORM" (click)="manageCollaborations()">
        </app-button>
        <app-button *ngIf="!isAdvisor && canGenerateReport" [type]="'primary'" translate="MISC.PRINT"
          [buttonStyle]="{'margin-right':'5px', 'margin-top':'5px'}" [loading]="loadingPrint" (click)="print()">
        </app-button>
        <nz-badge
          *ngIf="isAdvisor && (offer?.status === 'APPROVED' || offer?.status === 'SELECTION' || offer?.status === 'IN_COLABORATION')"
          [ngStyle]="{ 'margin-right': '5px', 'margin-top': '5px' }" [nzCount]="offer.number_interests"
          nzOverflowCount="10">
          <app-button [type]="'secundary'" translate="SOCIAL_SUPPORT.APPLICATIONS.MANAGE" (click)="manage()">
          </app-button>
        </nz-badge>
        <app-button *ngIf="
          !isAdvisor &&
          (offer.status === 'SELECTION' ||
            offer.status === 'PUBLISHED' ||
            offer.status === 'APPROVED' ||
            offer.status === 'ANALYSED' ||
            offer.status === 'SUBMITTED')
        " [type]="'red'" translate="SOCIAL_SUPPORT.APPLICATIONS.CANCEL"
          [buttonStyle]="{'margin-right':'5px', 'margin-top':'5px'}" (click)="cancel(offer?.id)">
        </app-button>
      </ng-container>
    </div>
  </div>

  <div nz-row>
    <div nz-col>
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="3" [nzXXl]="3" class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{ 'SOCIAL_SUPPORT.APPLICATIONS.SUBMITTED_ON' | translate }}</span>
          </div>
          <div nz-row>
            <span class="description-detail">{{ offer?.publish_date | date: 'dd-MM-yyyy' }}</span>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="4" [nzXXl]="4"  class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{ 'SOCIAL_SUPPORT.OFFERS.LOCAL' | translate }}</span>
          </div>
          <div nz-row>
            <span class="description-detail">
              {{ offer?.organic_unit?.name }} <br />
              {{ offer?.address }}
            </span>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="4" [nzXXl]="4"  class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{ 'SOCIAL_SUPPORT.OFFERS.START_DATE' | translate }}</span>
          </div>
          <div nz-row>
            <span class="description-detail"> {{ offer?.start_date | date: 'dd-MM-yyyy' }}</span>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="4" [nzXXl]="4"  class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{ 'SOCIAL_SUPPORT.OFFERS.END_DATE' | translate }}</span>
          </div>
          <div nz-row>
            <span class="description-detail"> {{ offer?.end_date | date: 'dd-MM-yyyy' }}</span>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="4" [nzXXl]="4" class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{ 'SOCIAL_SUPPORT.OFFERS.TOTAL_HOURS' | translate }}</span>
          </div>
          <div nz-row>
            <span class="description-detail"> {{ offer?.total_hours_estimation | HourConvert }}</span>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="4" [nzXXl]="4"  class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{ 'SOCIAL_SUPPORT.OFFERS.N_SIMULTANEOUS' | translate }}</span>
          </div>
          <div nz-row>
            <span class="description-detail"> {{ offer?.number_simultaneous_candidates }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!---------------------------MODAL SUCCESS REPORT----------------------->
<nz-modal [nzVisible]="successModalReport" (nzOnCancel)="successModalReport = false"
  (nzOnOk)="successModalReport = false" [nzFooter]="null" [nzWidth]=400>
  <div nz-row class="text-center text-title-modal-success">
    <label> {{
      translations?.length > 1
      ? (translations | languageChange)?.name
      : ('DASHBOARD.BUTTON.SOCIAL_SUPPORT' | translate)
      }}</label>
  </div>
  <app-modal-success-report></app-modal-success-report>

</nz-modal>