<div class="container">
  <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
    [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex"
    (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th>Local de partida</th>
        <th>Local de chegada</th>
        <th>Preço</th>
        <th nzShowSort nzSortKey="validate_date">Data do bilhete</th>
        <th nzShowSort nzSortKey="created_at">Data de compra</th>
        <th>Utilizador</th>
        <th>Email</th>
        <th>Tipo de utilizador</th>
        <th nzShowSort nzSortKey="used">Confirmado</th>
        <th nzRight="0px" class="text-right">Ações</th>
      </tr>

    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data">
        <tr>
          <td>{{data.departure_local?.local}}</td>
          <td>{{data.arrival_local?.local}}</td>
          <td>{{data.price?.value}}€</td>
          <td>{{data.validate_date | date :'dd/MM/yyyy'}}</td>
          <td>{{data.created_at | date :'dd/MM/yyyy'}}</td>
          <td>{{data.user?.name}}</td>
          <td>{{data.user?.email}}</td>
          <td>{{data.user?.profile?.name}}</td>
          <td>
            <fi-sas-tag [value]="data.used"></fi-sas-tag>
          </td>
          <td nzRight="0px" class="text-right">
            <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
              nzPlacement="bottomRight">
              <i nz-icon nzType="dash" nzTheme="outline"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li [nzDisabled]="data.used === false || !('bus:tickets_bought' | hasPermission)" nz-menu-item
                  (click)="confirmTicket(data.id, data.used)">Confirmar
                </li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</div>

<div class="space" nz-row>
  <button nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
</div>
