<div perfectScrollbar class="ps scroll-container" style="height: 100%">
  <div class="container">
    <nz-spin [nzSpinning]="loadingConfiguration">
      <form nz-form [formGroup]="formData">
        <div nz-row>
          <nz-form-item>
            <nz-form-label nzFor="SHOW_ALLERGENS_ON_MENU"
              >Apresentar os alergénios na ementa
            </nz-form-label>
            <nz-form-control>
              <nz-switch
                formControlName="SHOW_ALLERGENS_ON_MENU"
                id="SHOW_ALLERGENS_ON_MENU"
              >
              </nz-switch>
            </nz-form-control>
            <nz-form-extra *ngIf="showAllergensOnMenuData">
              Alterado por:
              <a style="margin-left: 8px; margin-right: 8px">
                {{ showAllergensOnMenuData.updated_by?.name }}
              </a>
              em
              <span style="margin-left: 8px">{{
                showAllergensOnMenuData.updated_at | date: 'full'
              }}</span>
            </nz-form-extra>
          </nz-form-item>
        </div>
      </form>
    </nz-spin>
  </div>
</div>

<div
  *ngIf="'alimentation:configurations:create' | hasPermission"
  nz-row
  nzType="flex"
  nzJustify="end"
  class="space"
>
  <div nz-col nzSpan="24" class="actions">
    <button
      nz-button
      nzType="primary"
      type="button"
      (click)="submitForm()"
      [nzLoading]="loading"
    >
      <i nz-icon nzType="save"></i>Gravar
    </button>
  </div>
</div>
