.title {
  margin-top: 64px;
  margin-left: 24px;
  font-size: 32px;
  margin-bottom: 24px;
}

.subtitle {
  margin-top: 16px;
  font-size: 16px;
  margin-bottom: 8px;
}

.body {
  padding: 24px;
  padding-bottom: 64px;

  &__select {
    width: 100%;
  }

  &__button {
    margin-top: 16px;
    width: 100%;
  }
}

.white {
  background-color: white;
}
