<div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="white">
  <div nz-col nzSpan="12" class="title">
    Selecione uma caixa para continuar:
  </div>
</div>
<div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="white">
  <div nz-col nzSpan="12" class="body">
    <div class="subtitle">Caixa</div>
    <nz-select [(ngModel)]="selectedCashAccountId" name="selectedCashAccountId" nzPlaceHolder="Caixa" nzSize="large"
      class="body__select" [nzLoading]="loading">
      <nz-option *ngFor="let ca of cashAccounts" [nzLabel]="ca.code" [nzValue]="ca.id">
      </nz-option>
    </nz-select>
    <button (click)="continueButton()" class="body__button" nz-button>Continuar</button>
  </div>
</div>