<div class="content">
  <nz-spin [nzSpinning]="loading">
    <form nz-form [formGroup]="configurationForm" nzLayout="horizontal">
      <ng-container>
        <div nz-row>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="current_account_id">Conta Corrente</nz-form-label>
              <nz-form-control nzErrorTip="Campo obrigatório">
                <nz-select formControlName="current_account_id" id="current_account_id" name="current_account_id" [nzLoading]="loadingCurrentAccounts">
                  <nz-option *ngFor="let currentAccount of currentAccounts" [nzLabel]="currentAccount.name"
                    [nzValue]="currentAccount.id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </ng-container>
    </form>
  </nz-spin>
</div>

<div class="space" nz-row>
  <button nz-button nzType="primary" [nzLoading]="loading" [disabled]="loading"  (click)="submitForm()">
    <i nz-icon nzType="save"></i>Gravar</button>

  <!--<button nz-button [nzLoading]="loading" [disabled]="loading"
    (click)="submitForm()" [nzType]="'primary'"><i nz-icon nzType="save"></i>Gravar</button>-->
</div>
