@import 'default-theme.less';

.list-total {
    background-color: white;
    &--heigth-with-active {
        height: 1035px;
    }
    &--heigth-with-desactive {
        height: 1200px;
    }
}



.title {
    padding-top: 70px;
    padding-left: 40px;
    font-size: 55px;
    font-weight: bold;
    color: var(--fisas-03);
    line-height: initial;
}

.title-detail {
    font-weight: 800;
    font-size: 16px;
}

.error-subject {
    color: red;
    font-weight: bold;
    padding-left: 5px;
}

.space-title-service {
    padding-top: 25px;
    padding-bottom: 20px;
}

.space-title-subject {
    padding-top: 15px;
    padding-bottom: 25px;
}
.box-detail {
    border: 1px solid var(--fisas-03);
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.box-detail-close {
    border: 1px solid #e8e8e8;
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color:#e8e8e8;
}

.box-selected-detail {
    border: 1px solid var(--fisas-03);
    color: white;
    background-color: var(--fisas-03);
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.font-size-detail-text {
    font-size: 12px;
    color: var(--fisas-02);
}

.font-size-detail-text-selected {
    font-size: 12px;
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}

.font-weight-detail-time {
    font-weight: 800;
    padding-left: 7px;
}

.padding-bottom-70 {
    padding-bottom: 70px;
}

.button-yes {
    margin-right: 20px;
    margin-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 13px;
    border: 2px solid #e8e8e8;
    padding-left: 25px;
    padding-right: 25px;
    color: black;
}

.button-no {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 13px;
    border: 2px solid #e8e8e8;
    padding-left: 25px;
    padding-right: 25px;
    color: black;

}

.issue-ticket {
    position: absolute;
    bottom: 260px;
    left: 0;
    width: 100%;
    background-color: var(--fisas-02);
    cursor: pointer;
    text-align: center;
    padding-top: 30px;
    margin-top: 40px;
    padding-bottom: 30px;
}

.ticket-text {
    font-size: 13px;
    color: white;
    font-weight: bold;
}

.button-priority {
    background-color: var(--fisas-02) !important;
    color: #ffffff;
    border-color: var(--fisas-02);
}

.icon-space {
    text-align: center;
    padding-top: 40px;
}

.text-modal {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 25px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

#issue-ticket-queue::ng-deep svg {
    path {
        fill: white;
    }
}

.banner {

    img {
      width: 100%;
      height: 378px;
      object-fit: cover;
    }

}

.top-empty {
    padding-top: 50px;
    text-align: center;
    font-size: 17px;
}