<!-- banner -->
<section class="banner">
    <img src="assets/images/filas-espera.jpg" />
</section>


<perfect-scrollbar class="list-total"
    [ngClass]="{'list-total--heigth-with-active': subjectSelected.id != undefined, 'list-total--heigth-with-desactive': subjectSelected.id == undefined}">
    <div nz-row class="title">
        <label> {{'QUEUE.TITLE' | translate}} </label>
    </div>
    <div *ngIf="!loading">
        <div *ngIf="services.length>0">
            <div *ngFor="let service of services; let indServ = index">
                <div
                    *ngIf="service?.subjects != null && service?.subjects != undefined && service?.subjects.length > 0">
                    <div nz-row>
                        <div nz-col nzSpan="1"></div>
                        <div nz-col nzSpan="18" class="space-title-service">
                            <label class="title-detail">{{service?.translations[0].name}}</label>
                        </div>
                        <div nz-col nzSpan="1"></div>

                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="1"></div>
                        <div nz-col nzSpan="18">
                            <div nz-row>
                                <div *ngFor="let subject of service?.subjects; let indSubj = index" nz-col nzSpan="10">
                                    <div
                                        [ngClass]="{'box-detail': subjectSelected?.id != subject?.id, 
                                        'box-selected-detail': subjectSelected?.id == subject?.id, 'box-detail-close': !subject?.is_open}">
                                        <div (click)="subject?.is_open ? selected(subject) : ''">
                                            <div nz-row class="space-title-subject">
                                                <span
                                                    class="title-detail">{{subject?.translations[0]?.name}}</span><!--<span
                                                    *ngIf="!subject?.is_open"
                                                    class="error-subject">{{'QUEUE.CLOSE_QUEUE' |
                                                    translate}}</span>-->
                                            </div>
                                            <div nz-row
                                                [ngClass]="{'font-size-detail-text': subjectSelected?.id != subject?.id, 'font-size-detail-text-selected': subjectSelected?.id == subject?.id}"
                                                style="padding-bottom: 20px;">
                                                <span>{{'QUEUE.AVG_TIME' | translate}}</span><b
                                                    class="font-weight-detail-time">
                                                    {{transformSecontToHour(subject?.avg_time)}}</b>
                                            </div>
                                            <div nz-row
                                                [ngClass]="{'font-size-detail-text': subjectSelected?.id != subject?.id, 'font-size-detail-text-selected': subjectSelected?.id == subject?.id}"
                                                style="padding-bottom: 15px;">
                                                <span>{{'QUEUE.TIME' | translate}}
                                                    {{subject?.translations[0]?.schedule_description}}</span>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                        <div nz-col nzSpan="1"></div>
                    </div>
                </div>

            </div>
        </div>
        <div *ngIf="services.length==0" class="top-empty">
            {{'QUEUE.EMPTY' | translate}}
        </div>

    </div>
</perfect-scrollbar>


<div *ngIf="subjectSelected.id != undefined" nz-row class="issue-ticket" (click)="issueTicket()">
    <div nz-col nzSpan="20" class="padding-bottom-10">
        <i nz-icon nzType="icons:icons-payment-history" id="issue-ticket-queue" style="font-size: 120px;"
            nzTheme="outline"></i>
    </div>
    <div nz-col nzSpan="20">
        <span class="ticket-text">{{ 'QUEUE.BUTTONS.TICKET' | translate }}</span>
    </div>

</div>

<!---------------------------MODAL ERROR----------------------->
<nz-modal [nzVisible]="modalError" nzClosable="false" nzFooter="null" [nzStyle]="{top: '700px'}">
    <div class="icon-space">
        <img src="assets/images/cards-ilustration-negative.png" style="width: 175px;">
    </div>
    <div class="text-modal">
        <label>{{ translation | errorTranslation }}</label>
    </div>
</nz-modal>

<!---------------------------MODAL SUCCESS----------------------->
<nz-modal [nzVisible]="modalSuccess" nzClosable="false" nzFooter="null" [nzStyle]="{top: '700px'}">
    <div class="icon-space">
        <img src="assets/images/Success.PNG" style="width: 175px;">
    </div>
    <div class="text-modal">
        <label>{{ 'QUEUE.MODAL.SUCCESS' | translate:
            {
            subject: responseDataTicket?.subject?.translations[0]?.name} }} <b>{{responseDataTicket?.ticket_code }}</b></label>
            <br>
            <label>{{ 'QUEUE.MODAL.SUCCESS_2' | translate}}</label>
    </div>
</nz-modal>


<!---------------------------MODAL ERROR----------------------->
<nz-modal [nzVisible]="printerUnavailable" nzClosable="false" nzFooter="null" [nzStyle]="{top: '700px'}">
    <div class="icon-space">
        <img src="assets/images/cards-ilustration-negative.png" style="width: 175px;">
    </div>
    <div class="text-modal">
        <label>{{ 'PRINTER.UNAVAILABLE' | translate }}</label>
        <p>{{'PRINTER.ERROR_INFO' | translate }}</p>
    </div>
</nz-modal>
