

  <!--Back Button-->
  <div nz-row>
    <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>

    <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12" class="top">
      <app-button
        translate="MISC.RETURN"
        (click)="backToApplications()"
        [leftIcon]="'left'"
        [buttonStyle]="{ 'font-size': '12px', 'line-height': '18px' }"
        type="tertiary"
      ></app-button>
    </div>

    <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>
  </div>
  <!--Application Actions-->

  <div nz-row *ngIf="userApplication">
    <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>

    <div nz-col class="application-info" [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12">
      <div nz-row class="title-resume">
        <div nz-col>
          {{ 'U_BIKE.APPLICATIONS.APPLICATION_STATUS' | translate }}
        </div>
      </div>

      <div nz-row class="sub-title-resume">
        <div nz-col>
          <span *ngIf="userApplication.status === status.APPROVED">{{
            'U_BIKE.APPLICATIONS.STATUS_INFO.APPROVED' | translate
          }}</span>
          <span *ngIf="userApplication.status === status.ELABORATION">{{
            'U_BIKE.APPLICATIONS.STATUS_INFO.ELABORATION' | translate
          }}</span>
          <span *ngIf="userApplication.status === status.SUBMITTED">{{
            'U_BIKE.APPLICATIONS.STATUS_INFO.SUBMITTED' | translate
          }}</span>
          <span *ngIf="userApplication.status === status.ANALYSIS">{{
            'U_BIKE.APPLICATIONS.STATUS_INFO.ANALYSIS' | translate
          }}</span>
          <span *ngIf="userApplication.status === status.CANCELLED">{{
            'U_BIKE.APPLICATIONS.STATUS_INFO.CANCELLED' | translate
          }}</span>
          <span *ngIf="userApplication.status === status.DISPATCH">{{
            'U_BIKE.APPLICATIONS.STATUS_INFO.DISPATCH' | translate
          }}</span>
          <span *ngIf="userApplication.status === status.ENQUEUED">{{
            'U_BIKE.APPLICATIONS.STATUS_INFO.ENQUEUED' | translate
          }}</span>
          <span *ngIf="userApplication.status === status.UNASSIGNED">{{
            'U_BIKE.APPLICATIONS.STATUS_INFO.UNASSIGNED' | translate
          }}</span>
          <span *ngIf="userApplication.status === status.SUSPENDED">{{
            'U_BIKE.APPLICATIONS.STATUS_INFO.SUSPENDED' | translate
          }}</span>
          <span *ngIf="userApplication.status === status.COMPLAINT">{{
            'U_BIKE.APPLICATIONS.STATUS_INFO.COMPLAINT' | translate
          }}</span>
          <span *ngIf="userApplication.status === status.ACCEPTED">{{
            'U_BIKE.APPLICATIONS.STATUS_INFO.ACCEPTED' | translate
          }}</span>
          <span *ngIf="userApplication.status === status.REJECTED">{{
            'U_BIKE.APPLICATIONS.STATUS_INFO.REJECTED' | translate
          }}</span>
          <span *ngIf="userApplication.status === status.QUITING">{{
            'U_BIKE.APPLICATIONS.STATUS_INFO.REJECTED' | translate
          }}</span>
          <span *ngIf="userApplication.status === status.WITHDRAWAL">{{
            'U_BIKE.APPLICATIONS.STATUS_INFO.WITHDRAWAL' | translate
          }}</span>
          <span *ngIf="userApplication.status === status.CLOSE">{{
            'U_BIKE.APPLICATIONS.STATUS_INFO.CLOSE' | translate
          }}</span>
          <span *ngIf="userApplication.status === status.CONTRACTED && !isDateBeforeToday(userApplication.end_date)">{{
            'U_BIKE.APPLICATIONS.STATUS_INFO.CONTRACTED' | translate
          }}</span>
          <span *ngIf="userApplication.status === status.ASSIGNED">{{
            'U_BIKE.APPLICATIONS.STATUS_INFO.ASSIGNED' | translate
          }}</span>
        </div>
        <div nz-col>
          <span *ngIf="userApplication.status === status.WAITING_APPROVAL">{{
            'U_BIKE.APPLICATIONS.STATUS_INFO.WA_DESC' | translate
          }}</span>
          <span *ngIf="userApplication.status === status.APPROVED">{{
            'U_BIKE.APPLICATIONS.STATUS_INFO.APP_DESC' | translate
          }}</span>
          <span *ngIf="userApplication.status === status.ACCEPTED && !isDateBeforeToday(userApplication.end_date)">{{
            'U_BIKE.APPLICATIONS.STATUS_INFO.ACC_DESC' | translate
          }}</span>
        </div>
      </div>

      <div nz-row *ngIf="!userApplication.delivery_reception_file_id || !userApplication.consent_terms_file_id">
        <div nz-row class="sub-title-resume">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
            <span>{{'U_BIKE.APPLICATIONS.STATUS_INFO.REPORTS' | translate}}</span>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4" >
            <app-button
              [translate]="'U_BIKE.APPLICATIONS.REPORTS.SUBMIT'"
              [type]="'primary'"
              (click)="openSubmitReportsModal(userApplication.id)"
              [loading]="loadingDeliveryFile" >
            </app-button>
          </div>
        </div>
        <div *ngIf="!userApplication.delivery_reception_file_id">
          <a class="text-link-doc" (click)="getDeliveryReceptionFile(userApplication.id)">
            {{'U_BIKE.DASHBOARD.APPLICATIONS_CONTAINER.BUTTONS.DOWNLOAD_DELIVERY_RECEPTION_FILE' | translate}}
          </a>
        </div>

        <div *ngIf="!userApplication.consent_terms_file_id">
          <a class="text-link-doc" (click)="getConsentFile(userApplication.id)">
            {{'U_BIKE.DASHBOARD.APPLICATIONS_CONTAINER.BUTTONS.DOWNLOAD_CONSENT_FILE' | translate}}
          </a>
        </div>
      </div>
      <div nz-row *ngIf="userApplication.delivery_reception_file_id || userApplication.consent_terms_file_id">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
          <span>{{'U_BIKE.APPLICATIONS.STATUS_INFO.REPORTS_CONSULT' | translate}}</span>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20" *ngIf="userApplication.consent_terms_file_id">
          <a  class="text-link-doc" target="_blank" [href]="consent_file?.url">
            {{'U_BIKE.DASHBOARD.APPLICATIONS_CONTAINER.BUTTONS.DOWNLOAD_CONSENT_FILE' | translate}}
          </a>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="20" [nzXl]="20" [nzXXl]="20" *ngIf="userApplication.delivery_reception_file_id">
          <a  class="text-link-doc" target="_blank" [href]="delivery_file?.url">
            {{'U_BIKE.DASHBOARD.APPLICATIONS_CONTAINER.BUTTONS.DOWNLOAD_DELIVERY_RECEPTION_FILE' | translate}}
          </a>
        </div>
      </div>

      <div nz-row class="application-info__buttons" *ngIf="userApplication">
        <!--complain-->
        <div
          nz-col
          class="text-center"
          style="margin-top: 5px"
          *ngIf="userApplication.status === status.ASSIGNED || userApplication.status === status.UNASSIGNED"
        >
          <app-button
            [translate]="'U_BIKE.DASHBOARD.APPLICATIONS_CONTAINER.BUTTONS.COMPLAIN'"
            [type]="'infoblue'"
            (click)="complain()"
            [loading]="loading"
          >
          </app-button>
        </div>

        <!--accept-->
        <div nz-col class="text-center" style="margin-top: 5px" *ngIf="userApplication.status == status.ASSIGNED">
          <app-button
            [translate]="'U_BIKE.DASHBOARD.APPLICATIONS_CONTAINER.BUTTONS.ACCEPT'"
            [type]="'primary'"
            (click)="openModalConfirm(userApplication.id, 'accept')"
            [loading]="loading"
          >
          </app-button>
        </div>

        <!--reject-->
        <div nz-col class="text-center" style="margin-top: 5px" *ngIf="userApplication.status == status.ASSIGNED">
          <app-button
            [translate]="'U_BIKE.DASHBOARD.APPLICATIONS_CONTAINER.BUTTONS.REFUSE'"
            [type]="'red'"
            (click)="openModalConfirm(userApplication.id, 'reject')"
            [loading]="loading"
          >
          </app-button>
        </div>

        <!--cancel-->
        <div
          nz-col
          class="text-center"
          style="margin-top: 5px"
          *ngIf="
            userApplication.status == status.ELABORATION ||
            userApplication.status == status.SUBMITTED ||
            userApplication.status == status.ANALYSIS ||
            userApplication.status == status.ENQUEUED
          "
        >
          <app-button
            [translate]="'U_BIKE.DASHBOARD.APPLICATIONS_CONTAINER.BUTTONS.CANCEL'"
            [type]="'red'"
            (click)="openModalConfirm(userApplication.id, 'cancel')"
            [loading]="loading"
          >
          </app-button>
        </div>

        <!--quit-->
        <div nz-col class="text-center" style="margin-top: 5px" *ngIf="userApplication.status == status.CONTRACTED">
          <app-button
            [translate]="'U_BIKE.DASHBOARD.APPLICATIONS_CONTAINER.BUTTONS.QUIT'"
            [type]="'infoblue'"
            (click)="openModalConfirm(userApplication.id, 'quit')"
            [loading]="loading"
          >
          </app-button>
        </div>

        <!--withdraw quit-->
        <div nz-col class="text-center" style="margin-top: 5px" *ngIf="userApplication.status == status.QUITING">
          <app-button
            [translate]="'U_BIKE.DASHBOARD.APPLICATIONS_CONTAINER.BUTTONS.WITHDRAW_QUIT'"
            [type]="'red'"
            (click)="openModalConfirm(userApplication.id, 'withdraw_quit')"
            [loading]="loading"
          ></app-button>
        </div>
      </div>
    </div>

    <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>
  </div>

  <!--Application Detail-->
  <div nz-row>
    <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>

    <div nz-col class="application-info" [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12">
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
          <p class="detail-text">{{ 'U_BIKE.APPLICATIONS.DESC' | translate }}</p>
        </div>
        <nz-divider></nz-divider>
      </div>
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
          {{ 'U_BIKE.APPLICATIONS.STEP_ONE.CURRENT_SHIPPING' | translate }}
        </div>
      </div>
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
          <p class="sub-title-resume">
            {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.DAILY_COMMUTE.TITLE' | translate }}
          </p>
          <p class="desc-resume">
            {{
              userApplication?.daily_commute == 'Walk'
                ? ('U_BIKE.DAILY_COMMUTE.WALK' | translate)
                : userApplication?.daily_commute == 'Car'
                ? ('U_BIKE.DAILY_COMMUTE.CAR' | translate)
                : userApplication?.daily_commute == 'Motorcycle'
                ? ('U_BIKE.DAILY_COMMUTE.MOTORCYCLE' | translate)
                : userApplication?.daily_commute == 'Bus'
                ? ('U_BIKE.DAILY_COMMUTE.BUS' | translate)
                : userApplication?.daily_commute == 'Train'
                ? ('U_BIKE.DAILY_COMMUTE.TRAIN' | translate)
                : userApplication?.daily_commute == 'Bike'
                ? ('U_BIKE.DAILY_COMMUTE.BIKE' | translate)
                : ('U_BIKE.DAILY_COMMUTE.OTHER' | translate)
            }}
          </p>
        </div>
        <div
          *ngIf="userApplication?.daily_commute === 'Car' || userApplication?.daily_commute === 'Motorcycle'"
          nz-col
          nzSpan="24"
        >
          <p class="sub-title-resume">
            {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.MANUFACTURER.TITLE' | translate }}
          </p>
          <p class="desc-resume">{{ userApplication?.manufacturer ? userApplication?.manufacturer : '-' }}</p>
        </div>
        <div
          *ngIf="userApplication?.daily_commute === 'Car' || userApplication?.daily_commute === 'Motorcycle'"
          nz-col
          nzSpan="24"
        >
          <p class="sub-title-resume">{{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.MODEL.TITLE' | translate }}</p>
          <p class="desc-resume">{{ userApplication?.model ? userApplication?.model : '-' }}</p>
        </div>
        <div
          *ngIf="userApplication?.daily_commute === 'Car' || userApplication?.daily_commute === 'Motorcycle'"
          nz-col
          nzSpan="24"
        >
          <p class="sub-title-resume">{{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.FUEL_TYPE.TITLE' | translate }}</p>
          <p class="desc-resume">{{ userApplication?.daily_consumption ? userApplication?.daily_consumption : '-' }}</p>
        </div>
        <div
          *ngIf="userApplication?.daily_commute === 'Car' || userApplication?.daily_commute === 'Motorcycle'"
          nz-col
          nzSpan="24"
        >
          <p class="sub-title-resume">
            {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.YEAR_MANUFACTURED.TITLE' | translate }}
          </p>
          <p class="desc-resume">{{ userApplication?.year_manufactured ? userApplication?.year_manufactured : '-' }}</p>
        </div>
        <div
          *ngIf="userApplication?.daily_commute === 'Car' || userApplication?.daily_commute === 'Motorcycle'"
          nz-col
          nzSpan="24"
        >
          <p class="sub-title-resume">
            {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.ENGINE_POWER.TITLE' | translate }}
          </p>
          <p class="desc-resume">{{ userApplication?.engine_power ? userApplication?.engine_power + ' cv' : '-' }}</p>
        </div>
        <div
          *ngIf="userApplication?.daily_commute === 'Car' || userApplication?.daily_commute === 'Motorcycle'"
          nz-col
          nzSpan="24"
        >
          <p class="sub-title-resume">
            {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.AVG_VEHICLE_CONSUMPTION_100.TITLE' | translate }}
          </p>
          <p class="desc-resume">
            {{
              userApplication?.avg_vehicle_consumption_100
                ? userApplication?.avg_vehicle_consumption_100 + ' l/100 km'
                : '-'
            }}
          </p>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
          <p class="sub-title-resume">{{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.DAILY_KMS.TITLE' | translate }}</p>
          <p class="desc-resume">{{ userApplication?.daily_kms ? userApplication.daily_kms + ' km' : '-' }}</p>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
          <p class="sub-title-resume">
            {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.NUMBER_OF_TIMES.TITLE' | translate }}
          </p>
          <p class="desc-resume">{{ userApplication?.number_of_times ? userApplication.number_of_times : '-' }}</p>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
          <p class="sub-title-resume">
            {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.AVG_WEEKLY_DISTANCE.TITLE' | translate }}
          </p>
          <p class="desc-resume">
            {{ userApplication?.avg_weekly_distance ? userApplication.avg_weekly_distance + ' km' : '-' }}
          </p>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
          <p class="sub-title-resume">
            {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.TOTAL_WEEKLY_DISTANCE.TITLE' | translate }}
          </p>
          <p class="desc-resume">
            {{ userApplication?.total_weekly_distance ? userApplication.total_weekly_distance + ' km' : '-' }}
          </p>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
          <p class="sub-title-resume">
            {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.TRAVEL_TIME_SCHOOL.TITLE' | translate }}
          </p>
          <p class="desc-resume">{{ formatMinutes(userApplication?.travel_time_school) }}</p>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
          <p class="sub-title-resume">
            {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.TRAVEL_TIME_SCHOOL_BIKE.TITLE' | translate }}
          </p>
          <p class="desc-resume">{{ formatMinutes(userApplication?.travel_time_school_bike) }}</p>
        </div>
      </div>
      <nz-divider></nz-divider>
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
          {{ 'U_BIKE.APPLICATIONS.STEP_TWO.BICYCLE_REQUIRED' | translate }}
        </div>
      </div>
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
          <p class="sub-title-resume">
            {{ 'U_BIKE.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.TYPOLOGY_FIRST_PREFERENCE.TITLE' | translate }}
          </p>
          <p class="desc-resume">
            {{ userApplication?.typology_first_preference?.name ? userApplication.typology_first_preference.name : '-' }}
          </p>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
          <p class="sub-title-resume">
            {{ 'U_BIKE.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.OTHER_TYPOLOGY_PREFERENCE.DESC' | translate }}
          </p>
          <p class="desc-resume">
            {{
              userApplication?.other_typology_preference === true
                ? ('U_BIKE.APPLICATIONS.STEP.YES' | translate)
                : userApplication?.other_typology_preference === false
                ? ('U_BIKE.APPLICATIONS.STEP.NO' | translate)
                : '-'
            }}
          </p>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
          <p class="sub-title-resume">
            {{ 'U_BIKE.APPLICATIONS.STEP_TWO.FORM_ELEMENTS.PICKUP_LOCATION.TITLE' | translate }}
          </p>
          <p class="desc-resume">
            {{ userApplication?.preferred_pickup_organict_unit ? userApplication.preferred_pickup_organict_unit.name : '-' }}
          </p>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
          <p class="sub-title-resume">{{ 'U_BIKE.APPLICATIONS.STEP.DATE' | translate }}</p>
          <p class="desc-resume">
            {{ userApplication?.start_date ? (userApplication.start_date | date: 'dd/MM/yyyy') : '' }} -
            {{ userApplication?.end_date ? (userApplication.end_date | date: 'dd/MM/yyyy') : '' }}
          </p>
        </div>
      </div>
      <nz-divider></nz-divider>
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
          {{ 'U_BIKE.APPLICATIONS.STEP_THREE.PHYSICAL_STATURE' | translate }}
        </div>
      </div>
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
          <p class="sub-title-resume">{{ 'U_BIKE.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.WEIGHT.TITLE' | translate }}</p>
          <p class="desc-resume">{{ userApplication?.weight ? userApplication.weight + ' kg' : '-' }}</p>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
          <p class="sub-title-resume">{{ 'U_BIKE.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.HEIGHT.TITLE' | translate }}</p>
          <p class="desc-resume">
            {{
              userApplication?.height
                ? userApplication.height +
                  ' ' +
                  ('U_BIKE.APPLICATIONS.STEP_THREE.FORM_ELEMENTS.HEIGHT.METRIC' | translate)
                : '-'
            }}
          </p>
        </div>
      </div>
      <nz-divider></nz-divider>
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
          {{ 'U_BIKE.APPLICATIONS.STEP_FOUR.TERMS_OF_USE' | translate }}
        </div>
      </div>
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
          <p class="desc-resume">
            {{
              userApplication?.applicant_consent === true
                ? ('U_BIKE.APPLICATIONS.STEP.YES' | translate)
                : userApplication?.applicant_consent === false
                ? ('U_BIKE.APPLICATIONS.STEP.NO' | translate)
                : '-'
            }}
          </p>
        </div>
      </div>

      <div nz-row *ngIf="userApplication?.contract != null" style="text-align: center">
        <app-button
          (click)="download(userApplication?.contract.url)"
          [translate]="'U_BIKE.APPLICATIONS.CONTRACT_DOCUMENT'"
          [type]="'primary'"
        >
        </app-button>
      </div>
    </div>

    <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>
  </div>
