:host::ng-deep {
  .top {
    padding-top: 25px;
  }

  .application-info {
    padding: 40px 52px 24px 52px;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 25px;

    @media (max-width: 600px) {
      padding: 20px 20px 20px 20px;
    }

    &__title {
      font-size: 21px;
      font-weight: bold;
      line-height: 1.14;
      color: #222222;
      margin-bottom: 8px;
    }

    &__text {
      font-size: 15px;
      font-weight: 500;
      line-height: 1.6;
      color: #222222;
      margin-bottom: 15px;
    }
    &__text2 {
      font-size: 15px;
      font-weight: 500;
      line-height: 1.6;
      color: #222222;
    }
    &__buttons {
      margin-top: 28px;
      app-button {
        margin-right: 8px;
      }
    }
  }

  .text-link-doc {
    color: #2E9AFE;
    text-decoration: underline;
    cursor: pointer;
  }
  
  nz-card {
    border-radius: 8px;
    margin-bottom: 55px;
  }

  .ant-card-body {
    padding: 33px;
  }
}

.label-review {
  font-weight: bold;
  color: black;
}

.step {
  font-family: Montserrat;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  margin-bottom: 56px;
  &__title {
    margin-top: 4px;
    float: left;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
    color: #111111;
    font-weight: bold;
    margin-bottom: 20px;
  }
}

.margin-top-20 {
  margin-top: 20px;
}

.title-form {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.14;
  color: #111111;
  margin-bottom: 14px;
}

.modal {
  &__title {
    &__icon {
      font-size: 35px;
      color: #a2a221;
    }
    &__text {
      align-self: center;
      margin-left: 10px;
    }
  }
  &__btns {
    margin: 0px 3px !important;
  }
}

.detail-text {
  font-size: larger;
  color: unset;
  margin-bottom: 5px;
  margin-top: -5px;
}

.text-right {
  text-align: right;
}
