<div class="container">
  <div nz-row>
    <div
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="6"
      [nzLg]="12"
      [nzXl]="12"
      [nzXXl]="12"
    >
      <div nz-row>
        <nz-form-label>Termo de pesquisa</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input [(ngModel)]="filters.search" />
        </nz-form-control>
      </div>
    </div>

    <div
      nz-col
      [nzXs]="0"
      [nzSm]="0"
      [nzMd]="1"
      [nzLg]="1"
      [nzXl]="1"
      [nzXXl]="1"
    ></div>

    <div
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="5"
      [nzLg]="5"
      [nzXl]="5"
      [nzXXl]="5"
    >
      <nz-form-label>Tarifário</nz-form-label>
      <nz-form-control>
        <nz-select
          name="vat_id"
          [(ngModel)]="filters.application.tariff_id"
          class="w-100"
          nzPlaceHolder=""
          [nzLoading]="loadingTariffs"
        >
          <nz-option
            *ngFor="let tariff of tariffs"
            [nzLabel]="tariff.name"
            [nzValue]="tariff.id"
            [nzDisabled]="!tariff.active"
          >
          </nz-option>
        </nz-select>
      </nz-form-control>
    </div>
  </div>
  <div nz-row>
    <div
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="5"
      [nzLg]="5"
      [nzXl]="5"
      [nzXXl]="5"
    >
      <div nz-row class="padding-bottom-5">
        <nz-form-label>Estado</nz-form-label>
      </div>
      <div nz-row>
        <nz-form-control>
          <nz-select name="status" class="w-100" [(ngModel)]="filters.status">
            <nz-option nzLabel="Processado" nzValue="PROCESSED"> </nz-option>
            <nz-option nzLabel="Validado" nzValue="REVIEWED"> </nz-option>
            <nz-option nzLabel="Faturado" nzValue="BILLED"> </nz-option>
            <nz-option nzLabel="Faturado externo" nzValue="EXTERNAL_VALIDATED">
            </nz-option>
            <nz-option nzLabel="Cancelado" nzValue="CANCELLED"> </nz-option>
            <nz-option nzLabel="Pago" nzValue="PAID"> </nz-option>
            <nz-option nzLabel="Pago externo" nzValue="EXTERNAL_PAID">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div
      nz-col
      [nzXs]="0"
      [nzSm]="0"
      [nzMd]="1"
      [nzLg]="1"
      [nzXl]="1"
      [nzXXl]="1"
    ></div>
    <div
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="5"
      [nzLg]="5"
      [nzXl]="5"
      [nzXXl]="5"
    >
      <div nz-row class="padding-bottom-5">
        <nz-form-label>Residencia</nz-form-label>
      </div>
      <div nz-row>
        <nz-form-control>
          <nz-select
            name="status"
            class="w-100"
            [(ngModel)]="filters.application.assigned_residence_id"
            [nzLoading]="loadingResidences"
          >
            <nz-option
              *ngFor="let residence of residences"
              [nzLabel]="residence.name"
              [nzValue]="residence.id"
            >
            </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div
      nz-col
      [nzXs]="0"
      [nzSm]="0"
      [nzMd]="1"
      [nzLg]="1"
      [nzXl]="1"
      [nzXXl]="1"
    ></div>
    <div
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="5"
      [nzLg]="5"
      [nzXl]="5"
      [nzXXl]="5"
    >
      <div nz-row class="padding-bottom-5">
        <nz-form-label>Mês</nz-form-label>
      </div>
      <div nz-row style="padding-top: 4px">
        <nz-month-picker
          class="w-100"
          [(ngModel)]="monthPicker"
          nzPlaceHolder="Mês"
        >
        </nz-month-picker>
      </div>
    </div>

    <div
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="3"
      [nzLg]="3"
      [nzXl]="2"
      [nzXXl]="2"
    >
      <div nz-row class="padding-bottom-5">
        <nz-form-label>Débito Direto</nz-form-label>
      </div>
      <div nz-row>
        <nz-form-control>
          <nz-select
            nzAllowClear
            [(ngModel)]="filters.application.debit_direct_active"
            name="allow_direct_debit"
            class="w-100px"
          >
            <nz-option nzLabel="Sim" [nzValue]="true"> </nz-option>
            <nz-option nzLabel="Não" [nzValue]="false"> </nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div
      nz-col
      [nzXs]="12"
      [nzSm]="6"
      [nzMd]="4"
      [nzLg]="3"
      [nzXl]="3"
      [nzXXl]="3"
      class="btn-filter"
    >
      <button nz-button nzType="primary" class="btn" (click)="search()">
        Filtrar
      </button>
    </div>
    <div
      nz-col
      [nzXs]="12"
      [nzSm]="6"
      [nzMd]="4"
      [nzLg]="2"
      [nzXl]="1"
      [nzXXl]="1"
      class="btn-filter"
      style="text-align: left"
    >
      <i
        nz-icon
        nzType="delete"
        class="btn-delete"
        nzTheme="outline"
        (click)="listComplete()"
      ></i>
    </div>
  </div>
</div>

<div class="container">
  <div nz-row>
    <div
      nz-col
      [nzXs]="12"
      [nzSm]="12"
      [nzMd]="12"
      [nzLg]="5"
      [nzXl]="5"
      [nzXXl]="5"
      class="btn-filter"
      *ngIf="setOfCheckedId.size == 0"
    >
      <button
        nz-button
        nzType="primary"
        class="content-bulk__option"
        (click)="addNewBilling()"
      >
        Adicionar movimento
      </button>
    </div>
    <div
      nz-col
      [nzXs]="0"
      [nzSm]="1"
      [nzMd]="1"
      [nzLg]="1"
      [nzXl]="1"
      [nzXXl]="1"
      class="btn-filter"
    ></div>
    <div
      nz-col
      [nzXs]="12"
      [nzSm]="12"
      [nzMd]="12"
      [nzLg]="5"
      [nzXl]="5"
      [nzXXl]="5"
      class="btn-filter"
    >
      <button
        nz-button
        nzType="primary"
        class="content-bulk__option"
        (click)="changeByResidence()"
      >
        Operações por residência
      </button>
    </div>
    <div
      nz-col
      [nzXs]="0"
      [nzSm]="1"
      [nzMd]="1"
      [nzLg]="1"
      [nzXl]="1"
      [nzXXl]="1"
      class="btn-filter"
    ></div>
    <div
      nz-col
      [nzXs]="12"
      [nzSm]="12"
      [nzMd]="12"
      [nzLg]="5"
      [nzXl]="5"
      [nzXXl]="5"
      class="btn-filter"
    >
      <button
        nz-button
        nzType="primary"
        class="content-bulk__option"
        (click)="generateSepaFile()"
      >
        Gerar ficheiro SEPA
      </button>
    </div>
    <div
      nz-col
      [nzXs]="0"
      [nzSm]="1"
      [nzMd]="1"
      [nzLg]="1"
      [nzXl]="1"
      [nzXXl]="1"
      class="btn-filter"
    ></div>
    <div
      nz-col
      [nzXs]="12"
      [nzSm]="12"
      [nzMd]="12"
      [nzLg]="5"
      [nzXl]="5"
      [nzXXl]="5"
      class="btn-filter"
      *ngIf="setOfCheckedId.size > 0"
    >
      <button
        nz-button
        nzType="primary"
        class="content-bulk__option"
        (click)="bulkOperation('REVIEW')"
      >
        Validar os movimentos
      </button>
    </div>
    <div
      nz-col
      [nzXs]="0"
      [nzSm]="1"
      [nzMd]="1"
      [nzLg]="1"
      [nzXl]="1"
      [nzXXl]="1"
      class="btn-filter"
    ></div>
    <div
      nz-col
      [nzXs]="12"
      [nzSm]="12"
      [nzMd]="12"
      [nzLg]="5"
      [nzXl]="5"
      [nzXXl]="5"
      class="btn-filter"
      *ngIf="setOfCheckedId.size > 0"
    >
      <button
        nz-button
        nzType="danger"
        class="content-bulk__option"
        (click)="bulkOperation('CANCEL')"
      >
        Cancelar os movimentos
      </button>
    </div>
  </div>
</div>

<fi-sas-alert-record-billings *ngIf="showAllRecordsAlert" (selectAllRecords)="selectAllRecords()" (closeAlert)="closeAlert()" [alertInfo]="alertModel" ></fi-sas-alert-record-billings>

<div class="container">
  <nz-table
    [nzScroll]="{ x: '240px' }"
    class="content-table"
    #refTable
    [nzData]="data"
    (nzCurrentPageDataChange)="currentPageDataChange($event)"
    [nzLoading]="loading"
    [nzFrontPagination]="false"
    [(nzPageIndex)]="pageIndex"
    [nzShowSizeChanger]="true"
    [nzTotal]="totalData"
    [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="pagination()"
    (nzPageSizeChange)="pagination(true)"
  >
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr class="table__header">
        <th
          nzShowCheckbox
          [nzChecked]="checked"
          [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="onAllChecked($event)"
        ></th>
        <th></th>
        <th>Periodo</th>
        <th>Data início</th>
        <th>Data fim</th>
        <th>Nome utente</th>
        <th>NIF</th>
        <th>Tarifário</th>
        <th>Tipologia Quarto</th>
        <th>Regime</th>
        <th>Extras</th>
        <th>Total c/IVA</th>
        <th>Estado</th>
        <th nzRight="0px">Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="refTable.data" let-i="index">
        <tr>
          <td
            nzShowCheckbox
            [nzChecked]="setOfCheckedId.has(data.id)"
            [nzDisabled]="data.status == 'CANCELLED'"
            (nzCheckedChange)="onItemChecked(data.id, $event)"
          ></td>

          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
          <td>{{ data.month }}/{{ data.year }}</td>
          <td>
            {{ data.billing_start_date | date: 'dd-MM-yyyy' }}
          </td>
          <td>
            {{ data.billing_end_date | date: 'dd-MM-yyyy' }}
          </td>
          <td>
            {{ data.application.full_name }}
          </td>
          <td>
            {{ data.application.tin }}
          </td>
          <td>
            {{ data?.tariff?.name }}
          </td>
          <td class="text-right">
            {{ getTotalTypologyPrice(i) | number: '1.2-2' }}€
          </td>
          <td class="text-right">
            {{ getTotalRegimePrice(i) | number: '1.2-2' }}€
          </td>
          <td class="text-right">
            {{ getTotalExtrasPrice(i) | number: '1.2-2' }}€
          </td>
          <td class="text-right">{{ getTotalPrice(i) | number: '1.2-2' }}€</td>
          <td>
            <fi-sas-tag
              [value]="data.status"
              [results]="BillingStatusTranslations"
            ></fi-sas-tag>
          </td>
          <td nzRight="0px">
            <button
              nz-button
              nz-dropdown
              nzType="link"
              class="options_button"
              [nzDropdownMenu]="menu"
              nzPlacement="bottomRight"
            >
              <i nz-icon nzType="dash" nzTheme="outline"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu *ngIf="data.status != 'CANCELLED'">
                <li
                  nz-menu-item
                  *ngIf="
                    data.status == 'PROCESSED' && data.billing_items.length > 0
                  "
                  (click)="validateBilling(data.id)"
                >
                  Validar
                </li>
                <li
                  nz-menu-item
                  *ngIf="data.status != 'CANCELLED'"
                  (click)="cancelBilling(data.id)"
                >
                  Cancelar
                </li>
                <li
                  nz-menu-item
                  *ngIf="data.status == 'REVIEWED'"
                  (click)="createInvoice(data.id)"
                >
                  Faturar
                </li>
                <li
                  nz-menu-item
                  *ngIf="
                    data.status == 'PROCESSED' || data.status == 'REVIEWED'
                  "
                  (click)="reprocess(data.id)"
                >
                  Reprocessar
                </li>
                <li
                  nz-menu-item
                  *ngIf="
                    data.status == 'PROCESSED' &&
                    enable_status_external_validate_or_paid
                  "
                  (click)="changeStatusToExternalBilled(data.id)"
                >
                  Validado Externo
                </li>
                <li
                  nz-menu-item
                  *ngIf="data.status == 'EXTERNAL_VALIDATED'"
                  (click)="changeStatusToExternalPaid(data.id)"
                >
                  Pago Externo
                </li>
                <li
                  nz-menu-item
                  *ngIf="
                    data.status == 'PROCESSED' && data.billing_items.length == 0
                  "
                  (click)="remove(data.id)"
                >
                  Eliminar
                </li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
        <tr [nzExpand]="mapOfExpandData[data.id]">
          <td
            [attr.colspan]="columns.length + 14"
            *ngIf="mapOfExpandData[data.id]"
          >
            <fi-sas-view-billing
              (refresh)="refreshList($event)"
              [billing_items]="data.billing_items"
              [billing_status]="data.status"
              [billing_id]="data.id"
            >
            </fi-sas-view-billing>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</div>
