@import 'default-theme.less';

:host::ng-deep {

    width: 100%;
    max-width: 198px;
    height: 24px;
    overflow: hidden;

  .balance {

    &__wrap {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
    }

    &__name {
      .font-family(12px, 300);
      line-height: 1.5;
      color: @fisas-grey-02;
      padding-right: 4px;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 72px;
      overflow: hidden;
    }

    &__value {
      .font-family(12px, 700);
      line-height: 1.5;
      color: @fisas-grey-02;
      padding-right: 8px;
      white-space: nowrap;
    }

    &__no-content {
      .font-family(12px, 300);
      line-height: 1.5;
      color: @fisas-grey-02;
    }

  }

}