<div class="balance">

  <!-- no balances -->
  <div class="balance__no-content" *ngIf="!balances?.length">
    {{ 'BALANCE.SMALL.NO_CURRENT_ACCOUNT' | translate }}
  </div>

  <!-- balances -->
  <div class="balance__wrap" *ngIf="balances?.length">

    <ng-container *ngFor="let balance of balances; index as i">
      <ng-container *ngIf="i < 2">
        <div class="balance__name" *ngIf="!balance.account_name">
          {{ 'BALANCE.SMALL.TITLE' | translate }}:
        </div>
        <div class="balance__name" *ngIf="balance.account_name">
          {{ balance.account_name }}:
        </div>
        <div class="balance__value">{{ balance.current_balance | number : '1.2-2' : 'pt-PT' }}€</div>
      </ng-container>
    </ng-container>

  </div>

</div>