<div class="present-application">
  <div nz-row [nzType]="'flex'">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="4" [nzXl]="3" [nzXXl]="3">
      <nz-tag class="tab-status" [ngClass]="checkTagStatusColor()" (click)="modalDetail = true">
        {{ status[application.status]| translate }}</nz-tag>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="11" [nzXl]="12" [nzXXl]="12">
      <div class="title cursor-pointer" (click)="reviewApplication(application?.id)">
        {{'SOCIAL_SUPPORT.TITLE' | translate}} {{translations?.length>1 ? ((translations | languageChange)?.name) :
        ('DASHBOARD.BUTTON.SOCIAL_SUPPORT' | translate)}}
      </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="9" [nzXl]="9" [nzXXl]="9"
      class="present-application--actions">

      <app-button *ngIf="canEditApplication" translate="MISC.EDIT"
        [routerLink]="'/social-support/applications/' + application.id" type="secundary"></app-button>

      <app-button *ngIf="application.status === 'ACCEPTED' || application.status === 'INTERVIEWED' ||
            application.status === 'SUBMITTED' || application.status === 'ANALYSED'"
        [translate]="'SOCIAL_SUPPORT.APPLICATIONS.CANCEL'" [type]="'red'" (click)="cancel(application?.id)">
      </app-button>

    </div>
  </div>

  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="4" [nzXl]="3" [nzXXl]="3" class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{ "SOCIAL_SUPPORT.APPLICATIONS.SUBMITTED_ON" | translate }}</span>
          </div>
          <div nz-row>
            <span class="description-detail"> {{ application?.created_at | date: 'dd-MM-yyyy' }}</span>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{ "SOCIAL_SUPPORT.APPLICATIONS.ORGANIC_UNIT" | translate }}</span>
          </div>
          <div nz-row>
            <span class="description-detail"> {{ application?.school?.name}} - {{ application?.school?.code}}</span>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{'SOCIAL_SUPPORT.APPLICATIONS.FORM_IDENTIFICATION.SCHOOL_YEAR' |
              translate}}</span>
          </div>
          <div nz-row>
            <span class="description-detail">{{ application?.academic_year }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!---------------PART INTERVIEWED-------------->
<div *ngIf="application.status == 'INTERVIEWED'">
  <div nz-row class="box-interviewed" *ngFor="let inter of application?.interviews">
    <app-interview [interview]="inter"></app-interview>
  </div>
</div>


<!----------------MODAL DETAIL------------>
<nz-modal (nzOnCancel)="modalDetail = false" [(nzVisible)]="modalDetail" [nzTitle]="null"
  [nzContent]="modalContentDetailApplication" [nzFooter]="null">
  <ng-template #modalContentDetailApplication>
    <div nz-row class="padding-bottom-15">
      <nz-tag class="tab-status cursor-context" [ngClass]="checkTagStatusColor()">
        {{ status[application.status]| translate }}</nz-tag>
    </div>
    <h2 class="title-top-page">{{'SOCIAL_SUPPORT.TITLE' | translate}} {{translations?.length>1 ? ((translations |
      languageChange)?.name) :
      ('DASHBOARD.BUTTON.SOCIAL_SUPPORT' | translate)}}</h2>

    <div nz-row class="title-detail">
      {{ application?.school?.name}} - {{ application?.school?.code}}
    </div>
    <div nz-row class="title-detail" style="padding-bottom: 25px;">
      {{ application?.academic_year }}
    </div>
    <div *ngFor="let hist of application?.history, let idx = index" nz-row
      [ngClass]="{'box': !isPair(idx), 'box-pair': isPair(idx)}">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="21" [nzLg]="21" [nzXl]="22" [nzXXl]="22">
        <div nz-row>
          {{hist?.created_at | date: 'dd-MM-yyyy'}} - {{hist?.created_at | date: 'HH:mm'}}h
        </div>
        <div nz-row>
          <b>{{'SOCIAL_SUPPORT.INTEREST.CHANGE_STATUS' | translate}} {{ hist?.status == 'SUBMITTED' ?
            ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.SUBMITTED' | translate) :
            hist?.status == 'ANALYSED' ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.ANALYSED' | translate) :
            hist?.status == 'DISPATCH' ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS.DISPATCH' | translate) :
            hist?.status == 'INTERVIEWED' ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.INTERVIEWED' | translate) :
            hist?.status == 'ACCEPTED' ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.ACCEPTED' | translate) :
            hist?.status == 'DECLINED' ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.DECLINED' | translate) :
            hist?.status == 'CANCELLED' ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.CANCELLED' | translate) :
            hist?.status == 'EXPIRED' ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS.EXPIRED' | translate) : '-'}}</b>
        </div>
      </div>
    </div>

  </ng-template>
</nz-modal>
