@import 'theme';

.present-application {
  border-radius: 5px;
  padding: 25px 15px 15px 15px;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  > div:first-child {
    margin-bottom: 10px;
  }

  &--button {
    float: right;
    margin-left: 5px;
    @media only screen and (max-width: 600px) {
      margin-top: 5px;
    }

  }
  &--label {
    opacity: 0.4;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #666666;
  }

  &--value {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #7d7d7d;
  }

  &--actions {
    text-align: right;

    app-button:not(:last-child) {
      margin-right: 10px;
    }
  }
}

@media only screen and (max-width: 575px) {
  .present-application {
    &--title {
      margin-top: 10px;
    }
  }
}
.SUBMITTED {
  background-color: #4d9de0;
}

.ANALYSED {
  background-color: #7768AE;
}

.INTERVIEWED {
  background-color: #88ccf1;
}

.ACCEPTED {
  background-color: #9DBBAE;
}

.DECLINED {
  background-color: #D0021B;
}

.EXPIRED {
  background-color: #ff8000;
}

.inactive,
.CANCELLED {
  background-color: #A4A4A4;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.padding-top-15 {
  padding-top: 15px;
}

.title-detail {
  font-size: 13px;
  color: var(--primary-7);
}

.description-detail {
  color: black;
  font-size: 13px;
}

.cursor-context {
  cursor: context-menu !important;
}

.title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.33;
  color: #333333;
  margin-bottom: 5px;
  @media only screen and (max-width: 800px) {
    margin-top: 5px;
  }
}

.description {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  color: #222222;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.box-interviewed {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  padding: 20px;
  background-color: var(--menu-bg);
}

.cursor-pointer {
  cursor: pointer;
}


.title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.33;
  color: #333333;
  margin-bottom: 5px;
  @media only screen and (max-width: 800px) {
    margin-top: 5px;
  }
}


.box {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}

.box-pair {
  background-color: #f0f2f5;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

#contacts_info_interest::ng-deep svg {
  g path {
      fill: var(--primary-color);
  }
}

.card {

  &__status {
      align-items: center;
      border: none;
      color: #ffffff;
      cursor: pointer;
      font-size: 11px;
      font-weight: bold;
      letter-spacing: 0.5px;
      line-height: 13px;
      max-width: 100%;
      padding-bottom: 5px;
      padding-top: 5px;
      text-align: center;
      white-space: break-spaces;
  }
}


.icon {
  font-size: 25px;
}

