<!--Steps-->
<div nz-row class="content content__prog">
  <!--XL to XXL-->
  <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="0" [nzXl]="24" [nzXXl]="24">
    <nz-steps class="content__line" [nzCurrent]="6" nzProgressDot>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T1' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_ONE' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T2' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_TWO' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T3' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_THREE' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T4' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_FOUR' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T5' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_FIVE' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.TITLE' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_SIX' | translate }}">
      </nz-step>
    </nz-steps>
  </div>
  <!--MD to LG-->
  <!--XS to SM-->
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="0" [nzXXl]="0">
    <div>
      <p class="steps-minimal-size_sub-title">
        {{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.TITLE' | translate }}
      </p>
      <p class="steps-minimal-size_title">
        {{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_SIX_TOTAL' | translate }}
      </p>
    </div>

  </div>
</div>

<nz-divider class="divider-web"></nz-divider>


<div class="application_form">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="title-step-form"> {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.TITLE" | translate
        }}
      </p>
      <p class="detail-text">{{ 'ACCOMMODATION.APPLICATIONS.STEP_ELEVEN.DESC' |
        translate }}</p>

    </div>

    <nz-divider></nz-divider>
  </div>

  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
      {{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T1' |
      translate }}
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12"
      class="text-right">
      <button nz-button class="button-edit-review" nzType="default" (click)="changeStep(0)">
            <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
        </button>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_ONE.FORM_ELEMENTS.FULL_NAME.TITLE" |
        translate }}</p>
      <p class="desc-resume"> {{ _formsCache[0].controls.name.value }}</p>
    </div>
    
    <div *ngIf="_formsCache[0].controls.birth_date.value" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_ONE.FORM_ELEMENTS.BIRTH_DATE.TITLE" |
        translate }}</p>
      <p class="desc-resume"> {{ _formsCache[0].controls.birth_date.value | date: 'yyyy-MM-dd' }}</p>
    </div>
    <div *ngIf="_formsCache[0].controls.gender.value" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_ONE.FORM_ELEMENTS.GENDER.TITLE" |
        translate }}</p>
      <p class="desc-resume"> {{ "GENDER." + (_formsCache[0].controls.gender.value | uppercase) | translate }}</p>
    </div>
    <div nz-col *ngIf="_formsCache[0].controls.document_type_id.value" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
      [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_ONE.FORM_ELEMENTS.IDENTIFICATION_TYPE.TITLE"
        | translate }} </p>
      <p class="desc-resume"> {{(findDocument(_formsCache[0].controls.document_type_id.value) | languageChange)?.description}}</p>
    </div>
    <div nz-col *ngIf="_formsCache[0].controls.identification.value" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
      [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_ONE.FORM_ELEMENTS.IDENTIFICATION.TITLE"
        | translate }} </p>
      <p class="desc-resume"> {{ _formsCache[0].controls.identification.value }}</p>
    </div>
    <div nz-col *ngIf="_formsCache[0].controls.tin.value" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
      [nzXXl]="24">
      <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_ONE.FORM_ELEMENTS.NIF.TITLE" |
        translate }} </p>
      <p class="desc-resume"> {{ _formsCache[0].controls.tin.value }}</p>
    </div>
    <div *ngIf="_formsCache[0].controls.nationality.value" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_ONE.FORM_ELEMENTS.NATIONALITY.TITLE" |
        translate }}</p>
      <p class="desc-resume"> {{ _formsCache[0].controls.nationality.value }}</p>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
      {{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T2' |
      translate }}
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12"
      class="text-right">
      <button nz-button class="button-edit-review" nzType="default" (click)="changeStep(1)">
            <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
        </button>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_TWO.FORM_ELEMENTS.PHONE.TITLE" |
        translate }}</p>
      <p class="desc-resume"> {{ _formsCache[1].controls.phone.value }} </p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_TWO.FORM_ELEMENTS.EMAIL.TITLE" |
        translate }}</p>
      <p class="desc-resume"> {{ _formsCache[1].controls.email.value }} </p>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
      {{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T3' |
      translate }}
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12"
      class="text-right">
      <button nz-button class="button-edit-review" nzType="default" (click)="changeStep(2)">
            <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
        </button>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume">{{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_THREE.FORM_ELEMENTS.ADRESS.TITLE" |
        translate }}</p>
      <p class="desc-resume"> {{ _formsCache[2].controls.address.value }} </p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_THREE.FORM_ELEMENTS.POST_CODE.TITLE" |
        translate }}</p>
      <p class="desc-resume"> {{ _formsCache[2].controls.postal_code.value }} </p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_THREE.FORM_ELEMENTS.CITY.TITLE" |
        translate }}</p>
      <p class="desc-resume"> {{ _formsCache[2].controls.city.value }} </p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_THREE.FORM_ELEMENTS.COUNTRY.TITLE" |
        translate }}</p>
      <p class="desc-resume"> {{ _formsCache[2].controls.country.value }} </p>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="title-resume">
      {{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T4' |
      translate }}
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12"
      class="text-right">
      <button nz-button class="button-edit-review" nzType="default" (click)="changeStep(3)">
            <span>{{ 'MOBILITY.APPLICATION_FORM.EDIT' | translate }}</span>
        </button>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_FOUR.FORM_ELEMENTS.DESCRIPTION.TITLE" |
        translate }}</p>
      <p class="desc-resume"> {{ _formsCache[3].controls.description.value }} </p>
    </div>
  </div>


  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="button-space">
    <app-button (click)="backToStep()" style="margin-right: 15px;" [translate]="'MISC.BACK'" [type]="'secundary'">
    </app-button>
    <app-button (click)="submitForm()" [loading]="loading" [translate]="'MISC.SUBMIT'">
    </app-button>
  </div>


</div>