@import 'theme';


.application_form {
  padding: 25px;
}

:host::ng-deep {
  .ant-steps-dot .ant-steps-item-content {
    width: 180px !important;
  }
}

.error {
  color: red;
  margin-top:5px;

  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}

.divider-web {
  margin-top: 10px;
  width: 100%;
}

.space {
  height: 30px;
  width: 100%;
}

.ant-steps-item {
  overflow: inherit !important;
}


.link {
  text-decoration: underline;
}

nz-step {
  min-width: 15px;
}

@media only screen and (max-width: 1050px) {
  .content {
    &__line {
      display: none;
    }
    &__line-simple {
      display: block;
    }
  }
}

.button-space {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 20px;
}



.detail-text {
  font-size: larger;
  color: unset;
  margin-bottom: 5px;
  margin-top: -5px;
}

.button-edit-review {
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
  color: var(--primary-color);
  border-radius: 21px;
  border: solid 2px var(--primary-color);
  font-weight: 700;
}

.text-right {
  text-align: right;
}
