@import 'theme.less';

:host::ng-deep {
  .ant-tabs-ink-bar {
    height: 3px;
  }

  .ant-tabs-bar  {
    background: #ffffff;
    border: none;
    border-left: 1px solid #f0f2f5;
  }

  .days-bar {
    font-style: normal;
    font-stretch: normal;
    font-family: Montserrat;
    &___weekday {
      width: auto;
      height: 24px;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.33;
      letter-spacing: -0.5px;
      color: unset;
    }
    &___date {
      width: 57px;
      height: 18px;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.29;
      letter-spacing: normal;
      color: unset;
    }

  }
}
