<nz-tabset
  class="days-bar"
  [nzSelectedIndex]="startIndex"
  *ngIf="dateBarType === 'weekday'"
>
  <nz-tab
    *ngFor="let day of fifteenDays; index as i"
    (nzSelect)="daySelected(day)"
    [nzTitle]="dates"
  >
    <ng-template #dates>
      <div *ngIf="i === 0" nz-row class="days-bar___weekday">
        {{ "ALIMENTATION.DAYS.TODAY" | translate }}
      </div>
      <div *ngIf="i === 1" nz-row class="days-bar___weekday">
        {{ "ALIMENTATION.DAYS.TOMORROW" | translate }}
      </div>
      <div *ngIf="i > 1" nz-row class="days-bar___weekday">
        {{
          (day | date: "EEEE":null:translate.currentLang)
            .charAt(0)
            .toUpperCase() +
            (day | date: "EEEE":null:translate.currentLang).slice(1)
        }}
      </div>
      <div nz-row class="days-bar___date">{{ day | date: "dd MMM yyyy" }}</div>
    </ng-template>
  </nz-tab>
</nz-tabset>

<nz-tabset
  class="days-bar"
  [nzSelectedIndex]="startIndex"
  *ngIf="dateBarType === 'months'"
>
  <nz-tab
    *ngFor="let day of fifteenMonth"
    (nzSelect)="daySelected(day)"
    [nzTitle]="dates"
  >
    <ng-template #dates>
      <div nz-row class="days-bar___weekday">
        {{
          (day | date: "MMMM":null:translate.currentLang)
            .charAt(0)
            .toUpperCase() +
            (day | date: "MMMM":null:translate.currentLang).slice(1)
        }}
      </div>
      <div nz-row class="days-bar___date">{{ day | date: "yyyy" }}</div>
    </ng-template>
  </nz-tab>
</nz-tabset>
