<form nz-form [formGroup]="complementaryInformationForm">
  <div nz-row nzGutter="34">
    <div class="desc-title-form" style="margin-left: 17px;">
      {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_COMPLEMENTARY_INFORMATION.TITLE'|translate}}
    </div>
  </div>

  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
      <nz-form-item>
        <nz-form-control>
          <textarea maxlength="255" class="primary-textarea" rows="5"
            placeholder="{{'SOCIAL_SUPPORT.APPLICATIONS.FORM_COMPLEMENTARY_INFORMATION.PLACEHOLDER'|translate}}"
            nz-input formControlName="observations" id="observations"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>