<div class="context-title">

  <!-- title -->
  <div nz-row>
    <div nz-col nzSpan="1"></div>
    <div nz-col nzSpan="18">
      <div class="context-title__container">
        <div class="context-title__title">
          {{ title ? title : ('CONTEXT.TITLE.TEXT' | translate) }}
        </div>
      </div>
    </div>
    <div nz-col nzSpan="1"></div>
  </div>

  <!-- bottom border -->
  <div *ngIf="showBottomBorder" class="context-title__line"></div>

</div>