<div class="application-container">
  <h2 class="title-top-page">{{ 'U_BIKE.DASHBOARD.APPLICATIONS_CONTAINER.TITLE' | translate }}</h2>
  <p class="sub-title-top-page">{{ 'U_BIKE.DASHBOARD.APPLICATIONS_CONTAINER.DESC' | translate }}</p>

  <nz-spin [nzSpinning]="loading">
    <nz-empty [nzNotFoundFooter]="userApplications" class="box-empty"
      [nzNotFoundContent]="'MOBILITY.APPLICATIONS.NO_CONTENT' | translate" *ngIf="userApplications.length === 0">
    </nz-empty>

    <div nz-row *ngFor="let userApplication of userApplications">
      <div nz-col>

        <app-applications-card-ubike [userApplication]="userApplication" [history]="false" (refresh)="refresh($event)" [view]="false">
        </app-applications-card-ubike>

      </div>
    </div>
  </nz-spin>
</div>