.application-container {
    margin-top: 25px;
    margin-bottom: 40px;
}


.box-empty {
  background-color: white;
  border-radius: 7px;
  padding-top: 10px;
  padding-bottom: 15px;
  margin: 0px !important;
}

