<div nz-row nzType="flex" nzJustify="center" nzAlign="middle" class="new_verification">
  <div nz-col class="new_verification__body" [nzXs]="22" [nzSm]="13" [nzMd]="13" [nzLg]="10" [nzXl]="8">

    <div class="new_verification__title">
      {{ 'NEW_VERIFICATION.TITLE' | translate }}
    </div>

    <div class="new_verification__subtitle">
      {{ 'NEW_VERIFICATION.DESCRIPTION' | translate }}
    </div>

    <div class="new_verification__form">
      <form nz-form [formGroup]="newVerificationForm" class="reset-form">
        <nz-form-item
          [ngClass]="{'error': (newVerificationForm.get('email').dirty && newVerificationForm.get('email').errors) }">
          <label class="form__label">Email</label>
          <nz-form-control>
            <input type="text" nz-input
                   class="new_verification__form__input_email" formControlName="email" placeholder="ex: email@sasocial.pt" />
            <nz-form-explain *ngIf="newVerificationForm.get('email').errors">
              <i nz-icon type="icons:icons-info"></i>
              {{ getEmailInputError() | translate }}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="new_verification__form__button">
          <nz-form-control>
            <app-button [buttonStyle]="{
            'width': '100%',
            'font-size': '17px',
            'line-height': '24px'
          }" [loading]="isLoading" (click)="newVerificationCode(newVerificationForm.value, newVerificationForm.valid)"
                        [translate]="'MISC.SUBMIT'">
            </app-button>
          </nz-form-control>
        </nz-form-item>
        <div nz-row nzType="flex" nzJustify="center" nzAlign="middle">
          <div nz-col [nzSpan]="24" class="new_verification__form__info">
            <a [routerLink]="['/', 'auth', 'login']">{{ 'NEW_VERIFICATION.RETURN' | translate }}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
