<div class="application-card" (click)="goToApplicationReview(application?.id)">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
      <nz-tag class="tab-status" [ngClass]="checkTagStatusColor()" (click)="openModal($event)">
        {{ status[application.status]| translate }}
    </nz-tag>

    </div>
  </div>

  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="padding-bottom-20">
      <div class="application-card--title">
        {{'SOCIAL_SUPPORT.TITLE' | translate}} {{translations?.length>1 ? ((translations | languageChange)?.name) :
        ('DASHBOARD.BUTTON.SOCIAL_SUPPORT' | translate)}}
      </div>
    </div>
  </div>
  <div nz-row class="padding-bottom-20">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="padding-bottom-mobile-20">
      <div class="title-detail">{{ "SOCIAL_SUPPORT.APPLICATIONS.SUBMITTED_ON" | translate }}</div>
      <div class="description-detail">
        {{ application?.created_at | date: 'dd-MM-yyyy' }}
      </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16" [nzLg]="16" [nzXl]="16" [nzXXl]="16">
      <div class="title-detail">{{ "SOCIAL_SUPPORT.APPLICATIONS.ORGANIC_UNIT" | translate }}</div>
      <div class="description-detail">
        {{ application?.school?.name}} - {{ application?.school?.code}}
      </div>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
      <div class="title-detail">{{'SOCIAL_SUPPORT.APPLICATIONS.FORM_IDENTIFICATION.SCHOOL_YEAR' | translate}}</div>
      <div class="description-detail">
        {{ application?.academic_year }}
      </div>
    </div>
  </div>
</div>

<!-- MODAL DETAIL -->
<nz-modal (nzOnCancel)="modalDetail = false" [(nzVisible)]="modalDetail" [nzTitle]="null"
  [nzContent]="modalContentDetailApplication" [nzFooter]="null">
  <ng-template #modalContentDetailApplication>
    <div nz-row class="padding-bottom-15">
      <nz-tag class="tab-status cursor-cont" [ngClass]="checkTagStatusColor()">
        {{ status[application.status]| translate }}</nz-tag>
    </div>
    <h2 class="title-top-page">{{'SOCIAL_SUPPORT.TITLE' | translate}} {{translations?.length>1 ? ((translations | languageChange)?.name) :
        ('DASHBOARD.BUTTON.SOCIAL_SUPPORT' | translate)}}</h2>

    <div nz-row class="title-detail">
        {{ application?.school?.name}} - {{ application?.school?.code}}
    </div>
    <div nz-row class="title-detail" style="padding-bottom: 25px;">
        {{ application?.academic_year }}
    </div>
    <div *ngFor="let hist of application?.history, let idx = index" nz-row
      [ngClass]="{'box': !isPair(idx), 'box-pair': isPair(idx)}">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="21" [nzLg]="21" [nzXl]="22" [nzXXl]="22" >
        <div nz-row>
          {{hist?.created_at | date: 'dd-MM-yyyy'}} - {{hist?.created_at | date: 'HH:mm'}}h
        </div>
        <div nz-row>
          <b>{{'SOCIAL_SUPPORT.INTEREST.CHANGE_STATUS' | translate}} {{ hist?.status == 'SUBMITTED' ?
            ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.SUBMITTED' | translate) :
            hist?.status == 'ANALYSED' ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.ANALYSED' | translate) :
            hist?.status == 'INTERVIEWED' ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.INTERVIEWED' | translate) :
            hist?.status == 'ACCEPTED' ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.ACCEPTED' | translate) :
            hist?.status == 'DECLINED' ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.DECLINED' | translate) :
            hist?.status == 'CANCELLED' ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS_LOWERCASE.CANCELLED' | translate) :
            hist?.status == 'EXPIRED' ? ('SOCIAL_SUPPORT.APPLICATIONS.STATUS.EXPIRED' | translate) : '-'}}</b>
        </div>
      </div>
    </div>
  </ng-template>
</nz-modal>
