<nz-tabset nzTabPosition="left">

  <nz-tab nzTitle="Morada">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
        <div nz-row class="title">
          Morada
        </div>
        <div nz-row class="detail-field">
          {{data?.street ? data?.street : '-'}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="3" nzXl="3">
        <div nz-row class="title">
          Porta
        </div>
        <div nz-row class="detail-field">
          {{ data?.door ? data?.door : '-'}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="4" nzXl="4">
        <div nz-row class="title">
          Código Postal
        </div>
        <div nz-row class="detail-field">
          {{ data?.cep ? data?.cep : '-'}}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="3" nzXl="3">
        <div nz-row class="title">
          Cidade
        </div>
        <div nz-row class="detail-field">
          {{ data?.city ? data?.city : '-'}}
        </div>
      </div>
    </div>
    <div nz-row nzType="flex" nzJustify="start" class="padding-top-10">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
        <div nz-row class="title">
          Website
        </div>
        <div nz-row class="detail-field">
          {{ data?.website ? data?.website : '-'}}
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Acessos">
    <div *ngIf="data?.users?.length>0" nz-row nzType="flex" nzJustify="start" class="detail-field">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" *ngFor="let user of data?.users">
        {{user?.name}}
      </div>
    </div>
    <div *ngIf="data?.users?.length==0" nz-row nzType="flex" nzJustify="start" class="detail-field">
      -
    </div>
  </nz-tab>
</nz-tabset>