body,
html {
	height: 100%;
	margin: 0;
}

.bg {
	/* The image used */
	background-image: url("./static/background.png");
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow:scroll;
}

@font-face {
	font-family:Myriad Pro;
	src: url(./static/MYRIADPRO-BOLD.woff);
  }

h1 {
	text-align: center;
	color: white;
	font-family: Myriad Pro;
	font-size: 24pt;
	
}

.header {
	padding-top: 3%;
	border: black;
	display: block;
	box-sizing: border-box;
}

.header ul {
	display: inline-block;
	width: 100%;
}

span {
	color:#0071BC;
	font-family: Myriad Pro;
	font-size: 18pt;
	
}

.spanHeader{
		color:white;
		font-family: Myriad Pro;
		font-size: 16pt;	
}

.spanHeaderBalcao{
	color:white;
	font-family: Myriad Pro;
	font-size: 18pt;	
}

.header > ul > li {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 30%;
}

#lodestone {
	color: white;
	text-align: left;
	font-family: Myriad Pro;
	font-size: 11pt;
}

#user {
	color: white;
	text-align: right;
	font-family: Myriad Pro;
	font-size: 11pt;
}

#mogstation {
	color: white;
	text-align: center;
	font-family: Myriad Pro;
	font-size: 11pt;

}

.box-green {
	display: inline-block;
	width: 10em;
	height: 2.3em;
	border-radius:50%;
	padding-top: 5%;
	background: white;
}

table, th, td {
	
	margin-top: 5%;
	margin-left: 25%;
  }

 
.buttons{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 5px 0;
	padding-top: 7%;
	padding-left: 10%;
	padding-right: 10%;
	
	
}



.imgHolder {
    position: relative;
}

.imgHolder span {
    position: absolute;
    right: 65px;
	top: 10px;
}
