body,
html {
	height: 100%;
	margin: 0;
}

.loginValidation {
	padding-left: 25%;
	color: #B20000;
	font-family: Myriad Pro;
	font-size: 16pt;
}

.icon_fila {
	padding-top: 20%;
	padding-right: 5%;
	height: 150%;
	width: 70%;
	
}
.bg {
	/* The image used */
	background-image: url("./static/background.png");
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow: scroll;
}

@font-face {
	font-family: Myriad Pro;
	src: url(./static/MYRIADPRO-BOLD.woff);
}

h1 {
	text-align: center;
	color: white;
	font-family: Myriad Pro;
	font-size: 30pt;
}


hr {
	margin-left: 40px;
	margin-right: 40px;
	height: 10px;
	background-color: white;
	border: 1px;
	border-radius: 7px 7px 7px 7px;
}

.input {
	border-radius: 25px;
	border: 2px solid #73ad21;
	padding: 10px;
	width: 200px;
	height: 20px;
	font-size: 24px;
	font-family: Myriad Pro;
	outline: none !important;
}

.header {
	padding-top: 3%;
	border: black;
	display: block;
	box-sizing: border-box;
}

.header ul {
	display: inline-block;
	width: 100%;
}

span {
	color: #0071bc;
	font-family: Myriad Pro;
	font-size: 18pt;
}

.spanHeader {
	color: white;
	font-family: Myriad Pro;
	font-size: 16pt;
}

.spanHeaderBalcao {
	color: white;
	font-family: Myriad Pro;
	font-size: 18pt;
}

.titulo {
	text-align: center;
	color: white;
	font-family: Myriad Pro;
	font-size: 24pt;
}

.header > ul > li {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 30%;
}

#lodestone {
	color: white;
	text-align: left;
	font-family: Myriad Pro;
	font-size: 11pt;
}

#user {
	color: white;
	text-align: right;
	font-family: Myriad Pro;
	font-size: 11pt;
}

#mogstation {
	color: white;
	text-align: center;
	font-family: Myriad Pro;
	font-size: 11pt;
}

.box-green {
	display: inline-block;
	width: 10em;
	height: 2.3em;
	border-radius: 50%;
	padding-top: 5%;
	background: white;
}

table,
th,
td {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
}

.buttons {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 5px 0;
	padding-top: 7%;
	padding-left: 10%;
	padding-right: 10%;
}

.imgHolder {
	padding-left: 5%;
}

.imgHolder span {
	position: absolute;
	right: 65px;
	top: 10px;
}

.buttonLogin {
	background-color: #4caf50; /* Green */
	border: none;
	height: 60px;
	width: 250px;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
	margin: 4px 2px;
	cursor: pointer;
	
	border-radius: 40%;
	font-family: Myriad Pro;
	outline: none !important;
}

.buttonLogin:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
