body,
html {
	height: 200%;
    margin: 0;
   
}

.loginValidation {
	padding-left: 25%;
	color: #B20000;
	font-family: Myriad Pro;
	font-size: 16pt;
}

.icon_fila {
	padding-top: 20%;
	padding-right: 5%;
	height: 150%;
	width: 70%;
	
}

.bg {
	/* The image used */
	background-color: 	#1f2749;
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow: scroll;
}

@font-face {
	font-family: Myriad Pro;
	src: url(./static/MYRIADPRO-BOLD.woff);
}

h1 {
	text-align: center;
	color: white;
	font-family: Myriad Pro;
	font-size: 30pt;
}


hr {
	margin-left: 40px;
	margin-right: 40px;
	height: 10px;
	background-color: white;
	border: 1px;
	border-radius: 7px 7px 7px 7px;
}

.input {
	border-radius: 25px;
	border: 2px solid #73ad21;
	padding: 10px;
	width: 200px;
	height: 20px;
	font-size: 24px;
	font-family: Myriad Pro;
	outline: none !important;
}

.header {
	padding-top: 3%;
	border: black;
	display: block;
	box-sizing: border-box;
}

.header ul {
	display: inline-block;
	width: 100%;
}

span {
	color: #0071bc;
	font-family: Myriad Pro;
	font-size: 18pt;
}

.spanHeader {
	color: white;
	font-family: Myriad Pro;
	font-size: 16pt;
}

.spanHeaderBalcao {
	color: white;
	font-family: Myriad Pro;
	font-size: 18pt;
}

.titulo {
	text-align: center;
	color: white;
	font-family: Myriad Pro;
	font-size: 24pt;
}

.header > ul > li {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 30%;
}

#lodestone {
	color: white;
	text-align: left;
	font-family: Myriad Pro;
	font-size: 11pt;
}

#user {
	color: white;
	text-align: right;
	font-family: Myriad Pro;
	font-size: 11pt;
}

#mogstation {
	color: white;
	text-align: center;
	font-family: Myriad Pro;
    font-size: 11pt;
    padding-left: 30%;
}

.box-green {
	display: inline-block;
	width: 10em;
	height: 2.3em;
	border-radius: 50%;
	padding-top: 5%;
	background: white;
}

table,
th,
td {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
}

.buttons {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 5px 0;
	padding-top: 7%;
	padding-left: 10%;
	padding-right: 10%;
}

.imgHolder {
	padding-left: 5%;
}

.imgHolder span {
	position: absolute;
	right: 65px;
	top: 10px;
}

.buttonLogin {
	background-color: #4caf50; /* Green */
	border: none;
	height: 60px;
	width: 250px;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
	margin: 4px 2px;
	cursor: pointer;
	padding-left: 50%;
	border-radius: 40%;
	font-family: Myriad Pro;
	outline: none !important;
}

.buttonLogin:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.rectangle{
    margin-left: 20%;
    display:block;
    height:40px;
    width:300px;
    background:#81a6c2;
    position:relative;
    margin-top:100px;
  }
  
  .circle{
    border-radius: 50%;
    
    padding: 8px;

    border: 2px solid #666;
    color: black;
    text-align: center;

    font: 32px Arial, sans-serif;
    position:absolute;
    height:36px;
    width:36px;

    left:50%;
    margin-left:-180px;
    top: -10px;
    background:#4a97d1;
  }

  .services{
      padding-left: 20%;
  }

  .serviceName{
    display: inline-block;
    padding-right: 5px;
    width: 250px;
    text-align: center;
	color: black;
	font: 20px Arial, sans-serif;
    padding-left: 15%;
    padding-top: 3%;
  }

  .alert {
    position: fixed;
    padding: 20px;
    background-color: green;
    color: white;
    top:20px;
    margin-left: 10%;   
    text-align: center;
    margin: auto;
    
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }