body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/Logo Title */
  .header {
    padding: 10px;
    text-align: center;
    background: #176fb2;
    color: black;
    font-size: 20px;
  }
  
  /* Page Content */
  .content {
    background: black;  
    padding:60px;
}

.imagem{
    width: 70%;
    height: 70%;
   padding-left: 20%;
}