<div nzType="flex" nzAlign="middle" nzJustify="center" perfectScrollbar class="page ps scroll-container">
  <div class="container">
    <div nz-row>
       <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
        <div nz-row>
          <nz-form-label>Nome</nz-form-label>
          <nz-form-control>
            <input type="text" nz-input [(ngModel)]="filters.search">
          </nz-form-control>
        </div>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
        <div nz-row>
          <nz-form-label>Estado</nz-form-label>
          <nz-form-control>
            <nz-select class="primary-select" nzAllowClear [(ngModel)]="filters.active" nzShowSearch
              style="width: 100%;">
              <nz-option *ngFor="let state of status" [nzLabel]="state.description" [nzValue]="state.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </div>
      </div>

      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>

      <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
        <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter" style="text-align: left;">
        <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="content-table">
      <nz-table class="table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)"
        [nzLoading]="loading" [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true"
        [nzTotal]="totalData" [(nzPageSize)]="pageSize" (nzPageIndexChange)="pagination()"
        (nzPageSizeChange)="pagination(true)">
        <thead (nzSortChange)="sort($event)" nzSingleSort>
          <tr class="table__header">
            <th></th>
            <th nzShowSort nzSortKey="name">
              Nome
            </th>
            <th nzShowSort nzSortKey="active">
              Ativo
            </th>
            <th nzRight="0px"  class="text-right">Ações</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="refTable.data">
            <tr>
              <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
              <td>
                {{data?.name}}
              </td>
              <td>
                <fi-sas-tag [value]="data?.active"></fi-sas-tag>
              </td>
              <td nzRight="0px"  class="text-right">
                <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
                  nzPlacement="bottomRight">
                  <i nz-icon nzType="dash" nzTheme="outline"></i>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li [nzDisabled]="!('alimentation:wharehouses:update' | hasPermission)" nz-menu-item
                      (click)="editWharehouse(data.id)">
                      Editar
                    </li>
                    <li [nzDisabled]="!('alimentation:wharehouses:read' | hasPermission)" nz-menu-item
                      (click)="toggleAccessModal(data.id)">
                      Acessos
                    </li>
                    <li [nzDisabled]="!('alimentation:wharehouses:update' | hasPermission)" *ngIf="data?.active == true"
                      (click)="desactive(data)" nz-menu-item>
                      Desativar</li>
                    <li [nzDisabled]="!('alimentation:wharehouses:update' | hasPermission)" *ngIf="data?.active == false" (click)="active(data)" nz-menu-item>Ativar
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
            <tr [nzExpand]="mapOfExpandData[data.id]">
              <td [attr.colspan]="columns.length + 4">
                <fi-sas-view-wharehouse [data]="data"></fi-sas-view-wharehouse>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>


<nz-modal [nzVisible]="accessModalVisible" (nzOnCancel)="toggleAccessModal(null)" (nzOnOk)="toggleAccessModal(null)"
  nzWidth="900" [nzOkText]="null" [nzCancelText]="'Fechar'">
  <nz-list *ngIf="wharehouseUsers">
    <nz-spin [nzSpinning]="loading_users">
      <nz-list-item *ngFor="let user of wharehouseUsers">
        <div nz-row nzType="flex" nzAlign="middle" nzJustify="space-between" nzGutter="16" style="width: 75%;">
          <div nz-col><b>{{ user.name }}</b></div>
          <div nz-col><button nz-button nzType="danger" [disabled]="!('alimentation:wharehouses:delete' | hasPermission)" (click)="removeUserFromWharehouse(user.id)"><i nz-icon
                nzType="delete"></i>Remover</button></div>
        </div>
      </nz-list-item>
    </nz-spin>
  </nz-list>
  <div nz-row nzType="flex" nzAlign="middle" nzGutter="16">
    <div nz-col nzSpan="20">
      <form [formGroup]="usersWharehouseForm" nzLayout="vertical">
        <div nz-row class="padding-top-30">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="padding-right-20">
            <div nz-row class="padding-bottom-5">
              <label class="container__subtitle">Utilizador </label> <span class="color-required">*</span>
            </div>
            <div nz-row>
              <nz-form-control>
                <fi-sas-user-select formControlName="user_id" id="user_id" name="user_id" placeholder="Utilizador">
                </fi-sas-user-select>
              </nz-form-control>
              <nz-form-explain class="color-required" *ngIf="f.user_id.errors">
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div nz-col nzSpan="4" style="margin-top: 40px;">
      <button nz-button (click)="addUserToWharehouse()" [disabled]="!('alimentation:wharehouses:create' | hasPermission)">Adicionar</button>
    </div>
  </div>
</nz-modal>