@import "default-theme.less";

:host::ng-deep {
  width: 100%;

  .list-total {
    height: 800px;
  }

  .route-detail {
    width: 100%;
    height: 1602px;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    /* banner */
    &__banner {
      img {
        width: 100%;
        height: 378px;
        object-fit: cover;
      }
    }

    /* subtitle */
    &__subtitle {
      width: 100%;
      margin-top: 16px;
      font-size: 30px;
      font-weight: 900;
      line-height: 36px;
      color: var(--fisas-03);
      display: flex;
    }

    /* places */
    &__places-options {
      padding-top: 24px;
      padding-bottom: 40px;
      border-bottom: 1px solid @fisas-grey-03;

      button {
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        border: 2px solid @fisas-grey-03;
        border-color: @fisas-grey-03;

        &:hover,
        &:active,
        &:focus,
        &.active {
          background-color: @fisas-grey-01!important;
          border-color: @fisas-grey-03!important;
          color: @fisas-grey-09!important;
        }
      }
    }

    &__places {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      height: 30px;
    }

    &__route-title,
    &__date-label {
      display: flex;
      float: left;
      align-items: center;
      margin-right: 16px;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      color: @fisas-grey-09;
    }

    &__origin {
      color: var(--fisas-06);
      font-size: 16px;
      line-height: 24px;
      text-transform: capitalize;
    }

    &__arrow-right {
      padding: 0 20px;
      color: @fisas-grey-08;
    }

    &__destiny {
      color: var(--fisas-06);
      font-size: 16px;
      line-height: 24px;
      text-transform: capitalize;
    }

    &__change {
      padding: 0 0 0 24px;
    }

    &__date {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-end;
      height: 30px;
    }

    &__date-value {
      display: flex;
      float: left;
      align-items: center;
      font-size: 18px;
      line-height: 1.33;
      font-weight: 400;
      text-transform: capitalize;
      color: @fisas-grey-09;
    }

    /* warning */
    &__warning {
      width: 100%;
      height: 72px;
      padding: 12px 0;
      background-color: @fisas-red-04;
    }

    &__warning-icon {
      display: inline-block;
      float: left;
      margin-right: 14px;
      color: @fisas-grey-01;
    }

    &__warning-title {
      float: left;
      display: inline-block;
      font-size: 22px;
      font-weight: 700;
      line-height: 1.09;
      color: @fisas-grey-01;
    }

    &__warning-text {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.71;
      color: @fisas-grey-01;
    }

    /* information */
    &__information {
      margin-top: 72px;
      display: flex;
    }

    &__steps {
      display: flex;
    }

    &__step-start {
      width: 100%;
      height: 24px;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      line-height: 1.5;
      color: @fisas-grey-10;
    }

    &__step-icon {
      display: flex;
      height: calc(100% - 24px);
      align-items: center;
      justify-content: center;
    }

    &__step-dashs-wrap {
      width: 100%;
      height: 100%;
      text-align: center;
    }

    &__step-dashs {
      display: inline-block;
      width: 4px;
      height: 100%;
    }

    &__step-dash {
      display: block;
      width: 4px;
      height: 4px;
      margin-bottom: 8px;
      background-color: @fisas-grey-04;
      &.price {
        height: 12px;
        margin-bottom: 0px;
        background-color: @fisas-blue-line;
      }
      &.price:last-child {
        height: 4px;
        margin-bottom: 8px;
        background-color: @fisas-blue-line;
      }
    }

    &__step-descriptions {
      height: 120px;
      overflow: hidden;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
      color: @fisas-grey-10;
    }

    &__step-point {
      width: 16px;
      height: 16px;
      margin-left: -5.5px;
      margin-bottom: 8px;
      border-radius: 50%;
      border: 4px solid @fisas-grey-04;

      &.start {
        border: 4px solid @fisas-green-check;
      }
      &.end {
        border: 4px solid @fisas-red-04;
      }
      &.price {
        border: 4px solid @fisas-blue-line;
      }
    }

    &__step-instructions {
      height: 70px;
      overflow: hidden;
      align-items: center;
      justify-content: flex-start;
      padding: 16px 0;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      text-overflow: ellipsis;

      p {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
      }
    }

    /* detail */
    &__detail-title {
      font-size: 16px;
      font-weight: 900;
      line-height: 1.5;
      margin-bottom: 16px;
      color: var(--fisas-03);
    }

    &__detail-label {
      font-size: 12px;
      font-weight: 700;
      line-height: 1.5;
      padding-bottom: 8px;
      color: var(--fisas-09);
    }

    &__detail-value {
      font-size: 12px;
      font-weight: 300;
      line-height: 1.5;
      padding-bottom: 8px;
      color: var(--fisas-09);
    }

    &__detail-margin-8 {
      width: 100%;
      margin-bottom: 8px;
    }

    &__detail-margin-24 {
      width: 100%;
      margin-bottom: 24px;
    }

    /* margin */
    &__margin {
      width: 100%;
      height: 216px;
    }

    /* buys */
    &__buy {
      position: absolute;
      cursor: pointer;
      width: 100%;
      margin: 40px 0 0 0;
      left: 0;
      bottom: 110px;
    }

    &__buy-ticket {
      display: flex;
      width: 100%;
      height: 84px;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      padding: 0 26px;
      border-radius: 42px;
      box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.3);
      color: @fisas-grey-01;
      background-color: var(--fisas-01);

      .ant-btn > i,
      .ant-btn > span {
        vertical-align: middle;
      }

      &__button {
        background: transparent;
        height: 48px;
        padding-left: 8px;
        padding-right: 24px;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: @fisas-grey-01;
        font-size: 22px;

        &:hover {
          border-color: none;
        }
      }
    }

    &__buy-ticket-label {
      flex: 1;
      padding: 0 5px;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
    }

    &__buy-ticket-button {
      flex: auto;
      text-align: right;
    }

  }
}
