<div class="route-detail">

  <!-- banner -->
  <section class="route-detail__banner">
    <img
      src="https://images.unsplash.com/photo-1514954286145-20b13ea8c01b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e8ea28b353d3acca701d55f6a194f84b&auto=format&fit=crop&w=1080&q=80" />
  </section>

  <!-- title -->
  <fi-context-title title="{{ 'MOBILITY.ROUTES.DETAIL.TITLE' | translate }}"></fi-context-title>

  <!-- subtitle -->
  <div nz-row class="route-detail__subtitle">
    <div nz-col nzSpan="1"></div>
    <div nz-col nzSpan="18">{{ 'MOBILITY.ROUTES.DETAIL.SUBTITLE' | translate }}</div>
    <div nz-col nzSpan="1"></div>
  </div>

  <!-- places and date -->
  <div class="route-detail__places-options">
    <div nz-row style="display: flex;">
      <div nz-col nzSpan="1"></div>
      <div nz-col nzSpan="9">

        <!-- places -->
        <div class="route-detail__places">
          <div class="route-detail__route-title">
            {{ 'MOBILITY.ROUTES.DETAIL.ROUTE' | translate | uppercase }}
          </div>

          <div class="route-detail__origin">{{ routeInit?.departure_place ? routeInit?.departure_place : origin?.local
            }}
          </div>

          <div class="route-detail__arrow-right">
            <i nz-icon>
              <svg-icon src="assets/icons/icons-arrow-right.svg" [svgStyle]="{ 'width.px': 24, 'height.px': 24 }">
              </svg-icon>
            </i>
          </div>

          <div class="route-detail__destiny">{{ routeInit?.arrival_place ? routeInit?.arrival_place : destiny?.local }}
          </div>

          <div (click)="goPlaces()" class="route-detail__change">
            <button nz-button [nzGhost]="true">
              {{ 'MOBILITY.ROUTES.DETAIL.CHANGE' | translate }}
            </button>
          </div>
        </div>

      </div>
      <div nz-col nzSpan="9">

        <!-- date -->
        <div class="route-detail__date">
          <div class="route-detail__date-label">
            {{ 'MOBILITY.ROUTES.DETAIL.DATE' | translate }}
          </div>
          <div class="route-detail__date-value">
            <div (click)="goBack();" class="route-detail__change">
              {{ routeInit.date | date: 'dd MMM yyyy' : 'UTC+0' : locale }}
              <button nz-button [nzGhost]="true">
                {{ 'MOBILITY.ROUTES.DETAIL.CHANGE' | translate }}
              </button>

            </div>
          </div>
        </div>


      </div>
      <div nz-col nzSpan="1"></div>
    </div>
  </div>

  <!-- route line summary -->
  <fi-route-item [model]="route" [index]="index" [stops]="routeInit?.stops" [duration]="routeInit?.duration">
  </fi-route-item>

  <!-- warning -->
  <!-- <div nz-row class="route-detail__warning" *ngIf="warning">
      <div nz-col nzSpan="1"></div>
      <div nz-col nzSpan="3">
        <div class="route-detail__warning-icon">
          <svg-icon src="assets/icons/icons-alert.svg" [svgStyle]="{ 'width.px': 24, 'height.px': 24 }"></svg-icon>
        </div>
        <div class="route-detail__warning-title">
          {{ 'MOBILITY.ROUTES.DETAIL.WARNING_TITLE' | translate }}
        </div>
      </div>
      <div nz-col nzSpan="15">
        <div class="route-detail__warning-text">
          {{ 'MOBILITY.ROUTES.DETAIL.WARNING_TEXT' | translate }}
        </div>
      </div>
      <div nz-col nzSpan="1"></div>
    </div>-->

  <!-- route detail information -->
  <perfect-scrollbar class="list-total">
    <div nz-row class="route-detail__information" *ngIf="route && route?.steps?.length>0">
      <div nz-col nzSpan="1"></div>
      <div nz-col nzSpan="11">

        <!-- steps -->
        <div nz-row class="route-detail__steps" *ngFor="let step of route?.steps; first as isFirst; last as isLast">
          <div nz-col nzSpan="2">
            <div class="route-detail__step-start">
              {{ step?.departure_time ? step?.departure_time?.slice(0, 5) : (isFirst ? route?.departure_hour?.slice(0,
              5) : (isLast ? route?.arrival_hour?.slice(0, 5) : '')) }}
            </div>
            <div class="route-detail__step-icon">

              <!-- icons -->
              <ng-container *ngIf="!isLast">
                <ng-container *ngIf="step?.vehicle === 'CAMINHADA'">
                  <svg-icon src="assets/icons/icons-walk.svg" [svgStyle]="{ 'width.px': 30, 'height.px': 30 }">
                  </svg-icon>
                </ng-container>
                <ng-container *ngIf="step?.vehicle === 'AUTOCARRO'">
                  <svg-icon src="assets/icons/icons-mobility.svg" [svgStyle]="{ 'width.px': 30, 'height.px': 30 }">
                  </svg-icon>
                </ng-container>
                <ng-container *ngIf="step?.vehicle === 'COMBOIO' || step?.vehicle === 'COMBOIO_SUBURBANO'">
                  <svg-icon src="assets/icons/icons-train.svg" [svgStyle]="{ 'width.px': 30, 'height.px': 30 }">
                  </svg-icon>
                </ng-container>
                <ng-container *ngIf="step?.vehicle === 'METROPOLITANO'">
                  <svg-icon src="assets/icons/icons-metro.svg" [svgStyle]="{ 'width.px': 30, 'height.px': 30 }">
                  </svg-icon>
                </ng-container>
              </ng-container>

            </div>
          </div>
          <div nz-col nzSpan="4">
            <div class="route-detail__step-dashs-wrap">
              <div class="route-detail__step-dashs">
                <div [ngClass]="{
                    'price': (route.price > 0 && step?.prices?.purchase_active && !isFirst && !isLast),
                    'start': isFirst,
                    'end': isLast
                  }" class="route-detail__step-point"></div>
                <ng-container *ngIf="!isLast">
                  <div [ngClass]="{
                      'price': (route.price >0 && step?.prices?.purchase_active)
                    }" class="route-detail__step-dash" *ngFor="let i of [1,2,3,4,5,6,7,8]"></div>
                </ng-container>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="13" class="route-detail__step-descriptions">
            {{ step?.local }}

            <div class="route-detail__step-instructions" style="-webkit-box-orient: vertical;">
              <p>
                <ng-container *ngIf="!isLast">
                  <!--with instructions -->
                  <ng-container *ngIf="step?.instruction">
                    {{ step?.instruction }}
                    <ng-container *ngIf="route?.route_line">
                      , {{ route?.route_line }}
                    </ng-container>
                    <ng-container *ngIf="step?.duration">
                      {{ convertDuration(step?.duration) }}
                    </ng-container>
                  </ng-container>

                  <!--without instructions -->
                  <ng-container *ngIf="!step?.instruction">
                    <ng-container *ngIf="route?.route_line">
                      {{ route?.route_line }}
                    </ng-container>
                    <ng-container *ngIf="step?.region">
                      - {{ step?.region }}
                    </ng-container>
                  </ng-container>
                </ng-container>
              </p>
            </div>
            <div nz-col nzSpan="1"></div>

          </div>
        </div>

      </div>
      <div nz-col nzSpan="7">

        <!-- summary -->
        <div class="route-detail__detail-title">
          {{ 'MOBILITY.ROUTES.DETAIL.TITLE_SUMMARY' | translate }}
        </div>
        <div nz-row>
          <div nz-col nzSpan="8">
            <div class="route-detail__detail-label">
              {{ 'MOBILITY.ROUTES.DETAIL.LABEL_DATE' | translate }}
            </div>
          </div>
          <div nz-col nzSpan="12">
            <div class="route-detail__detail-value">
              {{ routeInit.date | date: 'dd MMM yyyy' : 'UTC+0' : locale }}
            </div>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="8">
            <div class="route-detail__detail-label">
              {{ 'MOBILITY.ROUTES.DETAIL.LABEL_ORIGIN' | translate }}
            </div>
          </div>
          <div nz-col nzSpan="12">
            <div class="route-detail__detail-value">
              {{ routeInit?.departure_place }}
            </div>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="8">
            <div class="route-detail__detail-label">
              {{ 'MOBILITY.ROUTES.DETAIL.LABEL_ORIGIN_HOUR' | translate }}
            </div>
          </div>
          <div nz-col nzSpan="12">
            <div class="route-detail__detail-value">
              {{ route?.departure_hour?.slice(0, 5) }}
            </div>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="8">
            <div class="route-detail__detail-label">
              {{ 'MOBILITY.ROUTES.DETAIL.LABEL_DESTINY' | translate }}
            </div>
          </div>
          <div nz-col nzSpan="12">
            <div class="route-detail__detail-value">
              {{ routeInit?.arrival_place }}
            </div>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="8">
            <div class="route-detail__detail-label">
              {{ 'MOBILITY.ROUTES.DETAIL.LABEL_DESTINY_HOUR' | translate }}
            </div>
          </div>
          <div nz-col nzSpan="12">
            <div class="route-detail__detail-value">
              {{ route?.arrival_hour?.slice(0, 5) }}
            </div>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="8">
            <div class="route-detail__detail-label">
              {{ 'MOBILITY.ROUTES.DETAIL.LABEL_STOPS' | translate }}
            </div>
          </div>
          <div nz-col nzSpan="12">
            <div class="route-detail__detail-value">
              {{ routeInit?.stops}}
            </div>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="8">
            <div class="route-detail__detail-label">
              {{ 'MOBILITY.ROUTES.DETAIL.LABEL_DURATION' | translate }}
            </div>
          </div>
          <div nz-col nzSpan="12">
            <div class="route-detail__detail-value">
              {{ convertDuration(routeInit?.duration) }}
            </div>
          </div>
        </div>
        <div nz-row *ngIf="route?.price > 0">
          <div nz-col nzSpan="8">
            <div class="route-detail__detail-label">
              {{ 'MOBILITY.ROUTES.DETAIL.LABEL_PRICE' | translate }}
            </div>
          </div>
          <div nz-col nzSpan="12">
            <div class="route-detail__detail-value">
              {{ route?.tickets_prices_total | number: '1.2-2':'pt-PT' }}€
            </div>
          </div>
        </div>

        <!-- information -->
        <div class="route-detail__detail-margin-24"></div>
        <div class="route-detail__detail-title" *ngIf="contacts">
          {{ 'MOBILITY.ROUTES.DETAIL.TITLE_INFORMATION' | translate }}
        </div>
        <div nz-row *ngIf="contacts">
          <div nz-col nzSpan="20">
            <div class="route-detail__detail-label" *ngIf="contacts?.translations[0] && contacts?.translations[0].name">
              {{contacts?.translations[0].name }}
            </div>

            <div class="route-detail__detail-value" *ngIf="contacts?.email">
              {{ contacts?.email }}
            </div>

            <div class="route-detail__detail-value" *ngIf="contacts?.url">
              {{ contacts?.url }}
            </div>
            <div class="route-detail__detail-margin-8"></div>
          </div>
        </div>

      </div>
      <div nz-col nzSpan="1"></div>
    </div>
    <div class="route-detail__margin"></div>


    <!-- view schedules -->
    <div class="route-detail__buy">
      <div nz-row style="display: flex;">
        <div nz-col nzSpan="6"></div>
        <div nz-col nzSpan="8">
          <div class="route-detail__buy-ticket">
            <!-- button -->

            <button class="route-detail__buy-ticket__button">
              <i >
                <svg-icon src="assets/icons/icons-pending.svg" [svgStyle]="{ 'width.px': 30, 'height.px': 30 }">
                </svg-icon>
              </i>
              <span>{{ 'MOBILITY.ROUTES.DETAIL.BUY_TICKET' | translate }}</span>
            </button>

          </div>
        </div>
        <div nz-col nzSpan="6"></div>
      </div>
    </div>

  </perfect-scrollbar>


  <!-- margin -->


</div>
