.application-form {
  padding: 25px;

  &--generic-error {
    margin-bottom: 20px;
  }

  &--actions {
    margin-top: 25px;
    text-align: center;

    ::ng-deep app-button:not(:last-of-type) {
      margin-right: 15px;
    }
  }
}
