<div nz-row>
  <div nz-col [nzXs]="{ span: 22, offset: 1 }" [nzMd]="{ span: 20, offset: 2 }" class="top">
    <div nz-row class="content__space">
      <nz-spin [nzSpinning]="isLoading">
        <div nz-col nzSpan="24">
          <div row class="content content__prog">
            <!--XL to XXL-->
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="0" [nzXl]="24" [nzXXl]="24">
              <nz-steps class="content__line" [nzCurrent]="currentStep" nzProgressDot nzType="navigation">
                <nz-step
                  *ngFor="let step of steps"
                  [nzTitle]="step.title | translate"
                  [nzDescription]="step.description | translate"
                ></nz-step>
              </nz-steps>
            </div>

            <!--XS to SM-->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="0" [nzXXl]="0">
              <ng-container *ngFor="let step of steps; let index = index">
                <div *ngIf="index === currentStep">
                  <p class="steps-minimal-size_title">{{ step.title | translate }}</p>
                  <p class="steps-minimal-size_sub-title">
                    {{ 'U_BIKE.APPLICATIONS.STEP.STEP_X_TOTAL' | translate: { x: index + 1, total: steps.length } }}
                  </p>
                </div>
              </ng-container>
            </div>
          </div>

          <div nz-row>
            <div nz-col nzSpan="24">
              <nz-divider class="divider-web"></nz-divider>
            </div>
          </div>

          <div nz-row class="application-form">
            <div nz-col nzSpan="24" *ngIf="showErrorMessage" class="application-form--generic-error">
              <nz-alert nzType="error" [nzMessage]="'MISC.ERROR_GENERIC' | translate"></nz-alert>
            </div>

            <div nz-col nzSpan="24">
              <ng-container [ngSwitch]="currentStep">
                <app-form-application-step-one *ngSwitchCase="0"></app-form-application-step-one>
                <app-form-application-step-two *ngSwitchCase="1"></app-form-application-step-two>
                <app-form-application-step-three *ngSwitchCase="2"></app-form-application-step-three>
                <app-form-application-step-four *ngSwitchCase="3"></app-form-application-step-four>
              </ng-container>

              <div nz-col nzSpan="24" class="application-form--actions">
                <app-button
                  *ngIf="currentStep > 0"
                  (click)="onStepChange(currentStep - 1)"
                  translate="MISC.BACK"
                  type="secundary"
                ></app-button>

                <app-button
                  (click)="submitCurrrentStep()"
                  [translate]="currentStep < steps.length - 1 ? 'MISC.NEXT' : 'MISC.SUBMIT'"
                ></app-button>
              </div>
            </div>
          </div>
        </div>
      </nz-spin>
    </div>
  </div>
</div>
