<AbsoluteLayout>
    <StackLayout class="meals-list__bg" width="100%" height="100%">
    <!-- action bar -->
    <fi-action-bar [actionBarType]="3" actionBarTitle="{{ 'meals-list.title' | translate }}" actionBarBack="dashboard"></fi-action-bar>

    <StackLayout class="meals-list__bg--top">
        <!-- CANTEEN SELECTOR -->
        <StackLayout class="meals-list__canteen fisas__btn-border">
            <StackLayout [nsRouterLink]="['/meals/choose']" horizontalAlignment="center" verticalAlignment="center" orientation="horizontal">
                <Label class="fisas__icon meals-list__canteen__icon" text="&#xe905;"></Label>
                <Label class="meals-list__canteen__text" text="{{ school }} - {{ refectory }}"></Label
            ></StackLayout>
        </StackLayout>

        <!-- DAYS -->
        <ScrollView scrollBarIndicatorVisible="false" orientation="horizontal" class="meals-list__content">
            <StackLayout orientation="horizontal" marginLeft="30" marginRight="0">
            <!-- 1 -->
                <StackLayout *ngFor="let day of next15Days; index as i" (tap)="selectDay(i, day)" class="meals-list__tab" 
                    [ngClass]="[day.formated === selectedDay && day.weekDay % 6 !== 0 ? 'meals-list__tab--active--' + institution : '', day.weekDay % 6 === 0 ? 'meals-list__tab--disable' : '']" 
                    orientation="vertical" width="100"
                >
                    <!-- today -->
                    <ng-container *ngIf="i === 0 && day.weekDay % 6 !== 0">
                        <Label text="{{ 'meals-list.today' | translate }}"></Label>
                    </ng-container>

                    <!-- tomorrow -->
                    <ng-container *ngIf="i === 1 && day.weekDay % 6 !== 0">
                        <Label text="{{ 'meals-list.tomorrow' | translate }}"></Label>
                    </ng-container>

                    <!-- weekend days -->
                    <ng-container *ngIf="day.weekDay % 6 === 0">
                        <Label text="{{ day.date | date: 'EEEE':'UTC+0':locale }}"></Label>
                    </ng-container>

                    <!-- week days -->
                    <ng-container *ngIf="i > 1 && day.weekDay % 6 !== 0">
                        <Label text="{{ day.date | date: 'EEEE':'UTC+0':locale }}"></Label>
                    </ng-container>

                    <Label fontWeight="300" text="{{ day.date | date: 'dd MMM yyyy':'UTC+0':locale }}"></Label>
                    <StackLayout *ngIf="day.formated === selectedDay" horizontalAlignment="left" class="hr-dark meals-list__tab--line fisas__bg--{{ institution }}"></StackLayout>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </StackLayout>

    <!-- DIVIDER -->
    <StackLayout class="hr-light"></StackLayout>

    <!-- MEALS-->
    <StackLayout orientation="horizontal" class="meals-list__meal-time__content">
        <Label class="fisas__btn-rounded meals-list__meal-time" [ngClass]="{ 'meals-list__meal-time--active': mealType === 'lunch' }" marginRight="6" 
        (tap)="selectType('lunch')" text="{{ 'meals-list.lunch' | translate }}"></Label>
        <Label class="fisas__btn-rounded meals-list__meal-time"
        [ngClass]="{ 'meals-list__meal-time--active': mealType === 'dinner' }" (tap)="selectType('dinner')" text="{{ 'meals-list.dinner' | translate }}"></Label>
    </StackLayout>

    <!-- loader -->
    <StackLayout class="fisas__form__block" marginTop="40" *ngIf="isLoading">
        <ActivityIndicator row="1" #activityIndicator [busy]="isLoading" width="100%" height="50" color="lightgray" class="fisas__loading"></ActivityIndicator>
    </StackLayout>

    <!-- MEALS LIST -->
    <ScrollView scrollBarIndicatorVisible="false" orientation="vertical" marginTop="12" *ngIf="!isLoading">
        <Label *ngIf="!mealsList?.length" class="fisas__p" marginTop="20" horizontalAlignment="center" verticalAlignment="center" text="{{ 'meals-list.no-content' | translate }}"></Label>
            <WrapLayout *ngIf="mealsList?.length" orientation="horizontal" horizontalAlignment="center" marginLeft="3%" marginRight="3%">
                <DockLayout stretchLastChild="false" class=" meals-list__cards__container" *ngFor="let item of mealsList; index as i">
                    <StackLayout dock="top">
                    <AbsoluteLayout>
                        <StackLayout width="100%" height="100%"
                        [ngClass]="{'fisas--opacity': !item?.available || !item?.isStockAvailable}" [nsRouterLink]="item?.available && item?.isStockAvailable ? ['/meals/detail/', item?.id] : []">
                            <Image src="{{ item?.file.url }}" class="meals-list__cards__img" [ngClass]="{'meals-list__cards__img--alert': item?.user_allergic}" stretch="aspectFill" loadMode="async"></Image>
                            <StackLayout backgroundcolor="#d0021b" height="18" *ngIf="item?.user_allergic">
                                <StackLayout class="meals-list__cards__allergens">
                                    <Label class="fisas__icon meals-list__cards__allergens__icon" text="&#xe903;"></Label>
                                    <Label class="fisas__p--bold meals-list__cards__allergens__text" text="{{ 'meals-list.allergens' | translate }}"></Label>
                                </StackLayout>
                            </StackLayout>

                            <StackLayout dock="top" marginLeft="12" marginRight="12" marginTop="10">
                                <Label class="fisas__p--light meals-list__cards__p--light" text="{{ (item?.dish_type_translation)[0]?.name }}"></Label>
                                <Label textWrap="true" class="fisas__p--light-medium meals-list__cards__p--light-medium" text="{{ (item?.translations)[0]?.name }}"></Label>
                            </StackLayout>
                        </StackLayout>
                        <StackLayout width="100%" top="30">
                            <Label class="meals-list__not" *ngIf="!item?.isStockAvailable && item?.available" text="{{ 'meals-list.not-exist' | translate }}"></Label>
                            <Label class="meals-list__not" *ngIf="!item?.available" top="30" text="{{ 'meals-list.not-available' | translate }}"></Label>
                        </StackLayout>
                    </AbsoluteLayout>
                    </StackLayout>
                    <GridLayout [ngClass]="{'fisas--opacity': !item?.available || !item?.isStockAvailable }" columns="*,*" rows="*" dock="bottom" marginTop="12" marginBottom="12" marginLeft="12" 
                        marginRight="12" (tap)="item?.available && item?.isStockAvailable ? openModal(item) : '' ">
                        <Label class="fisas__note meals-list__cards__buy" col="0" row="0" textWrap="true" text="{{ 'meals-list.buy' | translate }}"></Label>
                        <Label col="1" row="0" padding="5 10" textWrap="true" class="fisas__btn-border meals-list__cards__btn fisas__border--{{ institution }}" text="{{ item?.price_formated }}" horizontalAlignment="right"></Label>
                    </GridLayout>
                </DockLayout>
            </WrapLayout>
        </ScrollView>
    </StackLayout>

<fi-footer-modal></fi-footer-modal>
</AbsoluteLayout>
