@import "~/scss/_variables";

.meals-list {
  &__bg {
    background: #f3f3f3;
    &--top {
      background: $white;
    }
  }

  &__canteen {
    border-color: #e8e8e8;
    // horizontal-align: center;
    margin-bottom: 12;
    min-width: 203;

    &__icon {
      margin-left: 12;
      margin-right: 9;
      font-size: 16;
      color: $light-grey;
    }

    &__text {
      color: $black;
      font-family: "Montserrat", "Montserrat-Bold";
      font-size: 11;
      font-weight: bold;
      line-height: 1.64;
      margin-right: 39;
    }
  }

  &__cards {
    &__container {
      background: #ffffff;
      border-bottom-left-radius: 7;
      border-bottom-right-radius: 7;
      border-top-left-radius: 7;
      border-top-right-radius: 7;
      margin-bottom: 12;
      margin-left: 5.5;
      margin-right: 5.5;
      min-height: 233;
      width: 158;
    }


    &__btn {
      color: $black;
      font-family: "Montserrat", "Montserrat-Bold";
      font-size: 11;
      font-weight: bold;
      line-height: 1.64;
      min-width: 56;
      text-align: center;
    }

    &__allergens {
      // horizontal-align: center;
      orientation: horizontal;
      padding-top: 3;
      vertical-align: center;

      &__text {
        color: $white;
        font-size: 9;
        line-height: 1.33;
        padding-left: 3;
      }

      &__icon {
        color: $white;
        font-size: 13;
      }
    }

    &__buy {
      vertical-align: center;
    }

    &__img {
      border-top-left-radius: 7;
      border-top-right-radius: 7;
      height: 104;
      width: 100%;

      &--alert {
        height: 86;
      }
    }

    &__p--light {
      line-height: 1.5;
      text-transform: uppercase;
    }

    &__p--light-medium {
      font-size: 13;
      line-height: 1.38;
    }
  }

  // &__content {
  //   // margin-left: 30;
  //   // margin-right: 30;
  // }

  &__meal-time {
    color: $black;
    font-family: "Montserrat", "Montserrat-Light";
    font-size: 11;
    font-weight: 300;
    line-height: 1.64;
    text-transform: uppercase;

    &--active {
      font-family: "Montserrat", "Montserrat-Bold";
      font-weight: 700;
    }

    &__content {
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 18;
    }
  }

  &__tab {
    color: $grey;
    font-family: "Montserrat", "Montserrat-Medium";
    font-size: 12;
    font-weight: 500;
    line-height: 1.5;

    &--active {
      &--IPVC {
        color: $ipvc;
      }
  
      &--IPCA {
        color: $ipca;
      }
  
      &--IPB {
        color: $ipb;
      }
    }

    &--disable {
      color: $light-grey;
    }

    &--line {
      height: 3;
      margin-top: 3;
      width: 70;
    }
  }

  &__not {
    border-radius: 21px;
    background-color: $white;
    font-family: "Montserrat", "Montserrat-Medium";
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.64;
    padding: 5 7;
    width: 116;
  }
}
