.font-icon-dash {
  color: white;
  font-size: 22px;
}

.selected-candidates {
  background-color: #fff;
  margin-top: 20px;

  &--actions-dropdown {
    .button-dash {
      background-color: var(--primary-color);
      border-radius: 0;
      border: 1px solid var(--primary-color);
      height: 25px;
      padding: 0 3px;

      & > i {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
      }
    }
  }

  ::ng-deep {
    .ant-table-expanded-row {
      background-color: #fff;
    }

    .ant-table-row-expand-icon {
      align-items: center;
      background-color: transparent;
      border-width: 0;
      color: var(--primary-color);
      display: flex;
      font-size: 25px;
      justify-content: center;
    }

    .ant-table-pagination.ant-pagination {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
