<nz-table #listCandidatesTable [nzShowSizeChanger]="tableConfig.showSizeChanger" [nzFrontPagination]="false"
  [nzData]="selectedCandidates" [nzLoading]="isLoading" [nzPaginationPosition]="tableConfig.position"
  [nzShowPagination]="tableConfig.showPagination" [nzTotal]="tableConfig.total" [(nzPageIndex)]="tableConfig.pageIndex"
  [(nzPageSize)]="tableConfig.pageSize" (nzPageIndexChange)="getListCandidates()"
  (nzPageSizeChange)="getListCandidates(true)" [nzScroll]="{ x: '500px' }" class="selected-candidates">
  <thead>
    <tr>
      <th></th>
      <th *ngIf="tableConfig.checkbox" nzShowCheckbox [nzShowRowSelection]="multiActions.length !== 0"
        [nzSelections]="multiActions" [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate"
        (nzCheckedChange)="checkAll($event)"></th>
      <th>{{ 'VOLUNTEERING.OFFERS.LIST_SELECTED.TABLE.NUMBER' | translate }}</th>
      <th>{{ 'VOLUNTEERING.OFFERS.LIST_SELECTED.TABLE.NAME' | translate }}</th>
      <th>{{ 'VOLUNTEERING.OFFERS.LIST_SELECTED.TABLE.COURSE' | translate }}</th>
      <th>{{ 'VOLUNTEERING.OFFERS.LIST_SELECTED.TABLE.CURRICULAR_YEAR' | translate }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="listCandidatesTable.data">
      <tr>
        <td nzShowExpand *ngIf="tableConfig.expandable" [(nzExpand)]="expandedLines[data.id]"></td>
        <td *ngIf="tableConfig.checkbox" nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]"
          (nzCheckedChange)="refreshStatus()"></td>
        <td>{{ data?.application?.student_number }}</td>
        <td>{{ data?.application?.name }}</td>
        <td>{{ data?.application?.course?.name }}</td>
        <td>{{ data?.application?.course_year }}</td>
        <td>
          <nz-dropdown nzPlacement="bottomRight" class="selected-candidates--actions-dropdown"
            [nzDisabled]="(allowedActions[data.id] || []).length === 0">
            <button nz-button nz-dropdown class="button-dash">
              <i nz-icon nzType="dash" nzTheme="outline" class="font-icon-dash"></i>
            </button>
            <ul nz-menu>
              <ng-container *ngIf="data.status !== INTEREST_STATUS.DISPATCH else dispatchActionsTemplate">
                <li nz-menu-item *ngFor="let action of allowedActions[data.id]">
                  <a (click)="performConfirmationAction(action, data)">{{ action.label | translate }}</a>
                </li>
              </ng-container>
              <ng-template #dispatchActionsTemplate>
                <li nz-menu-item (click)="sendDispatch(data, true)"> {{ 'VOLUNTEERING.DISPATCH.ACCEPT' | translate }} </li>
                <li nz-menu-item (click)="sendDispatch(data, false)"> {{ 'VOLUNTEERING.DISPATCH.REFUSE' | translate }} </li>
              </ng-template>
              <li nz-menu-item *ngIf="data.status === INTEREST_STATUS.ANALYSED " (click)="dispatchModal(data)">
                {{ 'VOLUNTEERING.ACTIONS.STATUS.DISPATCH' | translate }}
              </li>
            </ul>
          </nz-dropdown>
        </td>
      </tr>
      <tr [nzExpand]="tableConfig.expandable && expandedLines[data.id]">
        <td [attr.colspan]="(tableConfig.checkbox ? 8 : 7) - (tableConfig.expandable ? 0 : 1)">
          <app-view-candidates [listing]="data" [application]="data.application"></app-view-candidates>
        </td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>