@import "~/scss/_variables";

.current-account-detail {
    &__layoutStyle{
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center; 
        margin-top:28; 
        margin-left: 30; 
        margin-right: 30;
    }
    &__label{
        font-size:11; 
        font-weight: 500;
    }
    &__redLabel{
        font-size: 13; 
        font-weight: bold; 
        color: #F5001E;
    }
    &__greenLabel{
        font-size: 13; 
        font-weight: bold; 
        color: #1BA974;
    }
    &__cancelLabel{
        font-family: 'Montserrat';
        font-size: 17;
        font-weight: bold;
    }
}