
<div class="content--padding white" >
  <form [formGroup]="formCategory" nz-form>
    <div nz-row>
      <nz-spin [nzSpinning]="languages_loading">
        <ng-container formArrayName="translations">
          <nz-tabset [nzTabBarExtraContent]="languageTemplate" #translationTabs>
            <nz-tab *ngFor="let translation of translations.controls; let i = index;"
              [nzTitle]="getLanguageName(translation.value.language_id)">
              <ng-container [formGroupName]="i">
                <nz-form-item>
                  <nz-form-label nzRequired>
                    Nome
                  </nz-form-label>
                  <nz-form-control>
                    <input type="text" nz-input formControlName="name">
                  </nz-form-control>
                  <nz-form-explain class="color-required"
                    *ngIf="submitted && formCategory.get('translations.' + i + '.name')?.errors">
                    Campo obrigatório
                  </nz-form-explain>
                </nz-form-item>
              </ng-container>
            </nz-tab>
          </nz-tabset>
        </ng-container>
      </nz-spin>
    </div>
    
    <div nz-row>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzRequired>Peso</nz-form-label>
          <nz-form-control>
            <input formControlName="weight" nz-input type="number" minlength="1" pattern="\d*">
            <nz-form-explain class="color-required" *ngIf="submitted && f.weight.errors">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="1"></div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label>Activo</nz-form-label>
          <nz-form-control>
            <nz-switch formControlName="active"></nz-switch>
            <nz-form-explain class="color-required" *ngIf="submitted && f.active.errors">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <nz-form-explain class="color-required" *ngIf="submitted && errorTrans" style="padding-top: 20px;">
        Obrigatório preencher pelo menos uma tradução
      </nz-form-explain>
    </div>
    
    
  </form>
</div>

<div class="space" nz-row>
  <button *ngIf="isUpdate" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="isLoading" [disabled]="isLoading"
    (click)="submit()" class="button-submit"
    [nzType]="'primary'">{{isUpdate ? 'Editar' : 'Criar'}}</button>
</div>

<ng-template #languageTemplate>
  <nz-select class="languages" nzMode="multiple" [(ngModel)]="listOfSelectedLanguages" [nzMaxTagCount]="1"
    nzPlaceHolder="Línguas" [nzLoading]="languages_loading" (ngModelChange)="changeLanguage()">
    <nz-option *ngFor="let language of languages" [nzLabel]="language.name" [nzValue]="language.id"></nz-option>
  </nz-select>
</ng-template>