.languages {
    width: 200px;
}

.space{
    background-color: #F2F2F2;
    padding-top:20px;
    padding-bottom: 20px;
    text-align: right
}

.color-required {
  color: red;
}

.white {
  background-color: white;
}