@import 'theme';

::ng-deep.ant-modal {
  width: 416px !important;
  height: 400px !important;
}

::ng-deep.ant-btn > span {
  width: 100%;
}
::ng-deep.ant-modal-close {
  color: black;
}


.buy-model {
  border-radius: 10px;
  border-color: #d0021b;
  &___content {
    margin-top: 10%;
  }

  &___title {
    width: 100%;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #111111;
    text-align: center !important;
  }

  .buy-ticket-button > button {
    width: 90% !important;
    @media screen and (max-width: 600px) {
      width: 100% !important;
    }
    height: 42px;
    border-radius: 50px !important;
    background-color: #d0021b !important;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: white;
    font-weight: 700;
    border: solid 2px #d0021b;
    .pay-text {
      width: 50%;
      text-align: left;
      @media screen and (max-width: 600px) {
        text-align: center;
        width: 100%;
      }
    }
    .price-text {
      width: 50%;
      text-align: right;
    }
  }

  .add-cart-button > button {
    margin-top: 10px !important;
    margin-bottom: 5px !important;
    width: 90% !important;
    @media screen and (max-width: 600px) {
      width: 100% !important;
    }
    height: 42px;
    border-radius: 50px !important;
    background-color: white !important;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: var(--primary-color);
    font-weight: 700;
    border: solid 2px var(--primary-color);
    .pay-text {
      width: 50%;
      text-align: left;
      @media screen and (max-width: 600px) {
        text-align: center;
        width: 100%;
      }

    }
    .price-text {
      width: 50%;
      text-align: right;
    }
  }

  .add-cart-button > button:hover {
   color: white;
   background-color: var(--primary-color) !important;
  }

  .add-cart-button > button:focus {
    color: white;
    background-color: var(--primary-color) !important;
  }

  .cancel-button > button {
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: black;
  }
}


.hidden-md {
  display:none;
}


@media screen and (max-width: 600px) {

  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display:block;
  }

}

.text-or {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: black;
}