<nz-modal
  class = "buy-model"
  (nzOnCancel)="handleCancel()"
  [(nzVisible)]="isVisible"
  [nzTitle] = "null"
  [nzContent] = "modalContent"
  [nzFooter] = "null"
>
  <ng-template #modalContent >
    <div class="buy-model___content">
      <div nz-row nzType="flex" nzJustify="center"><p class="buy-model___title">{{ "ALIMENTATION.DISH.CONFIRM_PURCHASE" | translate }}</p></div>
      <p><app-ticket [dish]="dish" [meal]="meal" [date]="date" [ticket]="false"></app-ticket></p>

      <div nz-row class="add-cart-button hidden-xs" nzType="flex" nzJustify="center">
        <button nz-button nzType="default" [nzLoading]="isloadingPurchase" [disabled]="isloadingPurchase" (click)="purchaseTicket()">
          <div nz-row nzType="flex" nzJustify="space-between">
            <div nz-col class="pay-text">{{ "ALIMENTATION.DISH.PAY" | translate }}</div>
            <div  nz-col class="price-text">{{dish?.price | number: '1.2-2' }}€</div>
          </div>
        </button>
      </div>
      <div nz-row class="text-or hidden-xs" nzType="flex" nzJustify="center">
        {{ "ALIMENTATION.DISH.OR" | translate }}
      </div>
      <div nz-row class="add-cart-button hidden-xs" nzType="flex" nzJustify="center">
        <button nz-button nzType="default" [nzLoading]="isloadingCard" [disabled]="isloadingCard" (click)="addToCart(dish, meal, date)">
          <div nz-row nzType="flex" nzJustify="space-between">
            <div nz-col class="pay-text">{{ "ALIMENTATION.DISH.ADD_TO_CART" | translate }}</div>
            <div  nz-col class="price-text">{{dish?.price | number: '1.2-2' }}€</div>
          </div>
        </button>
      </div>
      <div nz-row class="add-cart-button hidden-md" nzType="flex" nzJustify="center">
        <button nz-button nzType="default" [nzLoading]="isloadingPurchase" [disabled]="isloadingPurchase" (click)="purchaseTicket()">
          <div nz-row nzType="flex" nzJustify="space-between">
            <div nz-col class="pay-text">{{ "ALIMENTATION.DISH.PAY" | translate }}</div>
          </div>
        </button>
      </div>
      <div nz-row class="text-or hidden-md" nzType="flex" nzJustify="center">
        {{ "ALIMENTATION.DISH.OR" | translate }}
      </div>
      <div nz-row class="add-cart-button hidden-md" nzType="flex" nzJustify="center">
        <button nz-button nzType="default" [nzLoading]="isloadingCard" [disabled]="isloadingCard" (click)="addToCart(dish, meal, date)">
          <div nz-row nzType="flex" nzJustify="space-between">
            <div nz-col class="pay-text">{{ "ALIMENTATION.DISH.ADD_TO_CART" | translate }}</div>
          </div>
        </button>
      </div>
      <div nz-row class="cancel-button" nzType="flex" nzJustify="center">
        <button nz-button nzType="link" (click)="handleCancel()">{{ "ALIMENTATION.DISH.CANCEL" | translate }}</button>
      </div>
    </div>
  </ng-template>
</nz-modal>
