.primary-datePicker,
.primary-input {
  width: 100%;
}

.form {
  &--title {
    color: #222222;
    font-family: Montserrat;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.41;
    margin: 20px 0;
    text-align: center;
  }

  &__inputs {
    margin-left: 30px;
    margin-right: 30px;
  }

  &--button {
    display: block;
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }
}
.error {
  color: red;
  margin-top:5px;

  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}