<form nz-form [formGroup]="form">
  <div nz-row>
    <h2 class="title-top-page"> {{ 'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.SCHEDULE_INTERVIEW.TITLE' | translate }}</h2>
  </div>

  <div nz-row nzGutter="34" class="form__inputs">
    <div nz-col nzXs="24">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="date" class="primary-input-label">
          {{ 'SOCIAL_SUPPORT.ATTENDANCES.FORM.DATE' | translate }}
        </nz-form-label>

        <nz-form-control>
          <nz-date-picker class="primary-datePicker" formControlName="date" id="date" [nzDisabledDate]="disableDate"
            [nzDisabledTime]="disabledTime" [nzShowTime]="{ nzFormat: 'HH:mm' }"
            [nzPlaceHolder]="'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.SCHEDULE_INTERVIEW.DATE' | translate"
            [nzAllowClear]="false">
          </nz-date-picker>
          <nz-form-explain class="error" *ngIf="form.get('date')?.dirty && form.get('date').errors">
            {{ getInputError('date') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="local" class="primary-input-label">
          {{ 'SOCIAL_SUPPORT.OFFERS.LIST_SELECTED.SCHEDULE_INTERVIEW.LOCAL' | translate }}
        </nz-form-label>

        <nz-form-control>
          <input nz-input class="primary-input" formControlName="local" id="local" />
          <nz-form-explain class="error" *ngIf="form.get('local')?.dirty && form.get('local').errors">
            {{ getInputError('local') }}
          </nz-form-explain>
        </nz-form-control>

      </nz-form-item>
    </div>

    <div nz-col nzSpan="24">
      <app-button class="form--button" type="primary" translate="MISC.SUBMIT" [loading]="isLoading"
        (click)="onSubmit()"></app-button>
    </div>
  </div>
</form>
