<form [formGroup]="changeAppointmentForm" nzLayout="vertical">
  <div nz-row style="padding-bottom: 10px;">
    <h2 class="title-top-page">{{ 'HEALTH.ATTENDANCES_TAB.OPTIONS.CHANGE_APPOINTMENT' | translate }}</h2>
      <div nz-row nzGutter="34">
        <div nz-col nzXs="24">
          <div *ngIf="appointment && !appointment.specialty.is_external">
            <div nz-row >
              <p> <b>{{ 'HEALTH.APPOINTMENT_FORM.DATE_AND_HOUR_INTERNAL' | translate }}</b></p>
            </div>
            <div nz-row style="padding-bottom: 10px;">
              <nz-form-label nzRequired style="color: black;">
                  <b>{{ 'HEALTH.APPOINTMENT_FORM.TITLE_DATE' | translate }}</b>
              </nz-form-label>
            </div>
            <div nz-row>
                <nz-tabset class="days-bar">
                    <nz-tab *ngFor="let day of fifteenDays; index as i" (nzSelect)="daySelected(day)"
                        [nzTitle]="dates">
                        <ng-template #dates>
                            <div *ngIf="i === 0" nz-row class="days-bar___weekday"> {{ "HEALTH.APPOINTMENT_FORM.DAYS.TODAY" |
                                translate }}</div>
                            <div *ngIf="i=== 1" nz-row class="days-bar___weekday">{{ "HEALTH.APPOINTMENT_FORM.DAYS.TOMORROW" |
                                translate }}</div>
                                <div *ngIf="i > 1" nz-row class="days-bar___weekday">{{ (day | date : 'EEEE': null : translate.currentLang).charAt(0).toUpperCase() + (day | date : 'EEEE' : null : translate.currentLang).slice(1) }}</div>
                            <div nz-row class="days-bar___date"> {{ day | date : 'dd MMM yyyy'}}</div>
                        </ng-template>
                    </nz-tab>
                </nz-tabset>
            </div>
            <nz-spin [nzSpinning]="loadingAppointments">
              <div nz-row class="title-fields">
                {{ 'HEALTH.APPOINTMENT_FORM.AVAILABLE_PERIOD' | translate }}
              </div>
              <nz-empty *ngIf="appointments.length === 0" [nzNotFoundContent]="'HEALTH.APPOINTMENT_FORM.NO_DATA' | translate"></nz-empty>
              <div nz-row *ngIf="appointments.length > 0">
                  <div *ngFor="let appointment of appointments" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8"
                      [nzLg]="8" [nzXl]="8" [nzXXl]="8" class="box"
                      [ngClass]="{'box___selected': appointmentSelected ? appointmentSelected === appointment : '' , 'box___inactive': appointment.is_available ? false : true }" (click)="appointmentSelect(appointment)">
                      {{ appointment.is_available ? (appointment.start_date | date: 'HH:mm') : ('HEALTH.APPOINTMENT_FORM.UNAVAILABLE' | translate ) }}
                  </div>
              </div>
              <nz-form-explain class="color-required" style="padding-top: 10px"
                  *ngIf="submitted && (appointmentSelected == null || appointmentSelected == undefined)">
                  {{'HEALTH.APPOINTMENT_FORM.REQUIRED_FIELD' | translate}}
              </nz-form-explain>
            </nz-spin>
          </div>
          <div *ngIf="appointment && appointment.specialty.is_external">
            <div nz-row >
              <p><b>{{ 'HEALTH.APPOINTMENT_FORM.DATE_AND_HOUR_EXTERNAL' | translate }}</b></p>
            </div>
   
              <div nz-row>
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="date" style="color: black;">
                    <b>{{ 'HEALTH.APPOINTMENT_FORM.TITLE_DATE' | translate }}</b>
                  </nz-form-label>
                  <nz-form-control>
                    <nz-date-picker formCondiv formControlName="date" id="date" class="primary-datePicker" [nzDisabledDate]="disableDate"></nz-date-picker>
                    <nz-form-explain class="error"
                      *ngIf="changeAppointmentForm.get('date')?.dirty && changeAppointmentForm.get('date').errors">
                      {{ getInputError("date") | translate }}</nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
        
    
              <div nz-row>
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="start_hour" style="color: black;">
                    <b>{{ 'HEALTH.APPOINTMENT_FORM.TITLE_HOUR' | translate }}</b>
                  </nz-form-label>
                  <nz-form-control>
                    <nz-time-picker class="primary-timePicker" formControlName="start_hour" id="start_hour" nzFormat="HH:mm" [nzMinuteStep]="minuteStep"
                    [nzPlaceHolder]="'HEALTH.APPOINTMENT_FORM.START_HOUR' | translate"></nz-time-picker>
                    <nz-form-explain class="error"
                      *ngIf="changeAppointmentForm.get('start_hour')?.dirty && changeAppointmentForm.get('start_hour').errors">
                      {{ getInputError("start_hour") | translate }}</nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
          
            </div>
          </div>
          <div nz-row>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="observations" style="color: black;"><b>{{ 'HEALTH.APPOINTMENT_FORM.OBSERVATIONS' | translate }}</b></nz-form-label>
              <nz-form-control>
                <textarea maxlength="255" nz-input formControlName="observations" id="observations" rows="2"></textarea>
                <nz-form-explain class="error"
                *ngIf="changeAppointmentForm.get('observations')?.dirty && changeAppointmentForm.get('observations').errors">
                {{ getInputError("observations") | translate }}</nz-form-explain>
            </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
  </div>
  <div nz-row nzGutter="34" class="form--buttons">
    <div nz-col nzXs="12">
      <app-button type="secundary" translate="MISC.CANCEL" (click)="close()"> </app-button>
    </div>
    <div nz-col nzXs="12" style="text-align: right">
      <app-button type="primary" translate="MISC.SUBMIT" (click)="onSubmit()"></app-button>
    </div>
  </div>
</form>