<!--<div class="container">

    <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
            <div nz-row>
                <nz-form-label>Termo de Pesquisa</nz-form-label>
                <nz-form-control>
                    <input type="text" nz-input [(ngModel)]="filters.search">
                </nz-form-control>
            </div>
        </div>
        <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1">
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
            <div nz-row>
                <nz-form-label>Estado</nz-form-label>
                <nz-form-control>
                    <nz-select [(ngModel)]="filters.active" style="width: 100%!important;">
                        <nz-option nzValue="true" nzLabel="Ativo"></nz-option>
                        <nz-option nzValue="false" nzLabel="Inativo"></nz-option>
                    </nz-select>
                </nz-form-control>
            </div>
        </div>

        <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
            <button nz-button class="btn" nzType="primary" (click)="searchData(true)">Filtrar</button>
        </div>
        <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
            style="text-align: left;">
            <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
        </div>
    </div>
</div>

<div class="space"></div>-->

<div class="container">

    <div class="container-table">
        <nz-table class="content-table" #refTable [nzScroll]="{ x: '240px' }" [nzData]="data"
            (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
            [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex"
            (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
            <thead (nzSortChange)="sort($event)" nzSingleSort> 
                <tr class="table__header">
                    <th nzShowSort nzSortKey="name">Nome</th>
                    <th nzShowSort nzSortKey="acronym">Acrónimo</th>
                    <th nzShowSort nzSortKey="active">Ativo</th>
                    <!--<th nzRight="0px" class="text-right">Ações</th>-->
                </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-data [ngForOf]="refTable.data">
                    <tr>
                        <td>{{data?.name}}</td>
                        <td>{{data?.acronym}}</td>

                        <td>
                            <nz-tag [nzColor]="data?.active ? 'green' : 'red'">
                                {{data?.active ? 'Sim' : 'Não'}}</nz-tag>
                        </td>
                        <!--<td nzRight="0px" class="text-right"><button nz-button nz-dropdown nzType="link"
                                [nzDropdownMenu]="menu" nzPlacement="bottomRight"><i nz-icon nzType="dash"
                                    nzTheme="outline" class="font-icon-dash"></i></button>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li [nzDisabled]="!('configuration:languages:update' | hasPermission)" nz-menu-item
                                        (click)="edit(data.id)">Editar</li>
                                </ul>
                            </nz-dropdown-menu>
                        </td>-->
                    </tr>


                </ng-template>
            </tbody>
        </nz-table>
    </div>
</div>