<form nz-form [formGroup]="itemGroup" nzLayout="vertical">
  <nz-form-item>
    <nz-form-label nzFor="option" nzSpan="24">Item de Faturação</nz-form-label>
    <nz-form-control nzSpan="24">
      <nz-radio-group formControlName="option" name="option" id="option" [nzButtonStyle]="'solid'">
        <label nz-radio-button nzValue="extra" (click)="resetForm()">Extra</label>
        <label nz-radio-button nzValue="typology" (click)="resetForm()">Tipologia</label>
        <label nz-radio-button nzValue="regime" (click)="resetForm()">Regime</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="itemGroup.value.option === 'typology'">
    <nz-form-label nzRequired nzFor="typology" nzSpan="24">Tipologia</nz-form-label>
    <nz-form-control nzSpan="24">
      <nz-select formControlName="typology_id" name="typology" id="typology" [nzLoading]="loading_typologies" 
        style="width: 100%;" nzPlaceHolder="Tipologia" nzAllowClear="true">
        <nz-option *ngFor="let typology of typologies" [nzLabel]="(typology.translations | translation: 3).name"
          [nzValue]="typology.id" [nzDisabled]="!typology.active">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="itemGroup.value.option === 'regime'">
    <nz-form-label nzRequired nzFor="regime_id" nzSpan="24">Regime</nz-form-label>
    <nz-form-control nzSpan="24">
      <nz-select formControlName="regime_id" name="regime_id" id="regime_id" [nzLoading]="loading_regimes"
        style="width: 100%;" nzPlaceHolder="Regime" nzAllowClear="true">
        <nz-option *ngFor="let regime of regimes" [nzLabel]="regime.billing_name" [nzValue]="regime.id"
          [nzDisabled]="!regime.active">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="itemGroup.value.option === 'extra'">
    <nz-form-label nzRequired nzFor="extra" nzSpan="24">Extra</nz-form-label>
    <nz-form-control nzSpan="24">
      <nz-select formControlName="extra_id" name="extra" id="extra" [nzLoading]="loading_extras" style="width: 100%;"
        nzPlaceHolder="Extra" nzAllowClear="true">
        <nz-option *ngFor="let extra of extras" [nzLabel]="extra.billing_name" [nzValue]="extra.id"
          [nzDisabled]="!extra.active">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <!--<nz-form-item>
    <nz-form-label nzFor="product_code" nzSpan="24" nzRequired>Código Produto</nz-form-label>
    <nz-form-control nzSpan="24">
      <input nz-input formControlName="product_code" id="product_code" name="product_code" placeholder="Código Produto">
    </nz-form-control>
  </nz-form-item>-->
 <!-- <nz-form-item nzFor="name" nzSpan="24">
    <nz-form-label nzRequired>Nome</nz-form-label>
    <nz-form-control nzSpan="24">
      <input nz-input formControlName="name" id="name" name="name" placeholder="Nome">
    </nz-form-control>
  </nz-form-item>-->
  <nz-form-item>
    <nz-form-label nzFor="period" nzSpan="24" nzRequired>Unidade</nz-form-label>
    <nz-form-control nzSpan="24">
      <nz-select formControlName="period" (ngModelChange)="changePeriod()" id="period" name="period"
        nzPlaceHolder="Periodo" style="width: 100%;">
        <nz-option nzLabel="Mês" nzValue="MONTH"></nz-option>
        <nz-option nzLabel="Semana" nzValue="WEEK"></nz-option>
        <nz-option nzLabel="Dia" nzValue="DAY"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="description" nzSpan="24" nzRequired>Descrição</nz-form-label>
    <nz-form-control nzSpan="24">
      <input nz-input formControlName="description" id="description" name="description" placeholder="Descrição">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="vat" nzSpan="24" nzRequired>IVA</nz-form-label>
    <nz-form-control nzSpan="24">
      <nz-select formControlName="vat_id" name="vat" id="vat" [nzLoading]="loading_taxes" style="width: 100%;"
        nzPlaceHolder="IVA">
        <nz-option *ngFor="let tax of taxes" [nzLabel]="tax.name" [nzValue]="tax.id" [nzDisabled]="!tax.active">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="quantity" nzSpan="24" nzRequired>Quantidade</nz-form-label>
    <nz-form-control nzSpan="24">
      <input nz-input type="number" formControlName="quantity" id="quantity" name="quantity" placeholder="Quantidade" (ngModelChange)="priceCalculation()">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="unit_price" nzSpan="24" nzRequired>Preço unidade</nz-form-label>
    <nz-form-control nzSpan="24">
      <input nz-input type="number" formControlName="unit_price" id="unit_price" name="unit_price"
        placeholder="Preço unidade" (ngModelChange)="priceCalculation()">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="discount" >Percentagem Desconto</nz-form-label>
    <nz-form-control>
      <input nz-input type="number" formControlName="discount" id="discount"  (ngModelChange)="priceCalculation()">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="discount_value" >Valor Desconto</nz-form-label>
    <nz-form-control>
      <input nz-input type="number" formControlName="discount_value" id="discount_value" [attr.disabled]="true">
    </nz-form-control>
  </nz-form-item>

  Total: {{ (this.itemGroup.value.discount_value ? ((itemGroup.value.quantity * itemGroup.value.unit_price)-this.itemGroup.value.discount_value) :  (itemGroup.value.quantity * itemGroup.value.unit_price)) | number:'1.2-2' }} €

</form>