<form nz-form [formGroup]="form" *ngIf="this.form">
  <p class="title-step-form">{{ 'U_BIKE.APPLICATIONS.STEP_ONE.CURRENT_SHIPPING' | translate }}</p>
  <p>
    {{ 'MISC.REQUIRED-INFO' | translate }}<span class="color-red"><b>*</b></span>
    {{ 'MISC.REQUIRED-INFO-2' | translate }}
  </p>

  <!-----------daily_commute------------->
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="daily_commute">
          <b> {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.DAILY_COMMUTE.TITLE' | translate }}</b>
        </nz-form-label>
        <div class="desc-title-form">
          {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.DAILY_COMMUTE.DESC' | translate }}
        </div>
        <nz-form-control>
          <nz-select
            formControlName="daily_commute"
            class="primary-select"
            nzShowSearch
            id="select-commute"
            [nzPlaceHolder]="'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.DAILY_COMMUTE.TITLE' | translate"
            [ngClass]="{ error: hasErrors('daily_commute') }"
          >
            <nz-option
              *ngFor="let option of dailyCommuteOptions"
              [nzLabel]="option.label | translate"
              [nzValue]="option.value"
            ></nz-option>
          </nz-select>

          <nz-form-explain class="error" *ngIf="hasErrors('daily_commute')">
            {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!-- BEGIN: CAR & MOTORCYCLE DEPENDENCIES -->
  <!-- manufacturer -->
  <nz-form-item *ngIf="controls.manufacturer.enabled">
    <nz-form-label nzFor="manufacturer">
      <b> {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.MANUFACTURER.TITLE' | translate }}</b>
    </nz-form-label>
    <div class="desc-title-form">
      {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.MANUFACTURER.DESC' | translate }}
    </div>
    <nz-form-control>
      <input
        class="primary-input"
        nz-input
        formControlName="manufacturer"
        placeholder="{{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.MANUFACTURER.PLACEHOLDER' | translate }}"
        [ngClass]="{ error__input: hasErrors('manufacturer') }"
      />
    </nz-form-control>
    <nz-form-explain class="error" *ngIf="hasErrors('manufacturer')">
      {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
    </nz-form-explain>
  </nz-form-item>

  <!-----------model------------->
  <nz-form-item *ngIf="controls.model.enabled">
    <nz-form-label nzFor="model">
      <b> {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.MODEL.TITLE' | translate }}</b>
    </nz-form-label>
    <div class="desc-title-form">
      {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.MODEL.DESC' | translate }}
    </div>
    <nz-form-control>
      <input
        class="primary-input"
        nz-input
        formControlName="model"
        placeholder="{{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.MODEL.PLACEHOLDER' | translate }}"
        [ngClass]="{ error__input: hasErrors('model') }"
      />
    </nz-form-control>
    <nz-form-explain class="error" *ngIf="hasErrors('model')">
      {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
    </nz-form-explain>
  </nz-form-item>

  <!-- daily_consumption -->
  <nz-form-item *ngIf="controls.daily_consumption.enabled">
    <nz-form-label nzFor="daily_consumption">
      <b> {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.FUEL_TYPE.TITLE' | translate }}</b>
    </nz-form-label>
    <div class="desc-title-form">
      {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.FUEL_TYPE.DESC' | translate }}
    </div>
    <nz-form-control>
      <nz-form-control>
        <nz-radio-group class="primary-radio radio-group" formControlName="daily_consumption">
          <label nz-radio nzValue="Gasoline" class="radio-line"
            ><span> {{ 'U_BIKE.DAILY_CONSUMPTION.GASOLINE' | translate }}</span></label
          >
          <label nz-radio nzValue="Diesel" class="radio-line"
            ><span> {{ 'U_BIKE.DAILY_CONSUMPTION.DIESEL' | translate }}</span></label
          >
          <label nz-radio nzValue="GPL" class="radio-line"
            ><span> {{ 'U_BIKE.DAILY_CONSUMPTION.GPL' | translate }}</span></label
          >
          <label nz-radio nzValue="Electric" class="radio-line"
            ><span> {{ 'U_BIKE.DAILY_CONSUMPTION.ELECTRIC' | translate }}</span></label
          >
        </nz-radio-group>
      </nz-form-control>
    </nz-form-control>
    <nz-form-explain class="error" *ngIf="hasErrors('daily_consumption')">
      {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
    </nz-form-explain>
  </nz-form-item>

  <!-- year_manufactured -->
  <nz-form-item *ngIf="controls.year_manufactured.enabled">
    <nz-form-label nzFor="year_manufactured">
      <b> {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.YEAR_MANUFACTURED.TITLE' | translate }}</b>
    </nz-form-label>
    <div class="desc-title-form">
      {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.YEAR_MANUFACTURED.DESC' | translate }}
    </div>
    <nz-form-control>
      <nz-year-picker
        class="primary-yearPicker"
        id="year_manufactured"
        [nzFormat]="'yyyy'"
        formControlName="year_manufactured"
        nzPlaceHolder="{{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.YEAR_MANUFACTURED.PLACEHOLDER' | translate }}"
        [nzDisabledDate]="disableFutureYears"
        [ngClass]="{ error: hasErrors('year_manufactured') }"
      ></nz-year-picker>
    </nz-form-control>
    <nz-form-explain class="error" *ngIf="hasErrors('year_manufactured')">
      {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
    </nz-form-explain>
  </nz-form-item>

  <!-- engine_power -->
  <nz-form-item *ngIf="controls.engine_power.enabled">
    <nz-form-label nzFor="engine_power">
      <b> {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.ENGINE_POWER.TITLE' | translate }}</b>
    </nz-form-label>
    <div class="desc-title-form">
      {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.ENGINE_POWER.DESC' | translate }}
    </div>
    <nz-form-control>
      <nz-input-group class="tab-input" nzAddOnAfter="cv">
        <input
          class="primary-input"
          nz-input
          formControlName="engine_power"
          [ngClass]="{ error__input: hasErrors('engine_power') }"
          mask="0*,00"
          [dropSpecialCharacters]="false"
          placeholder="ex: 75"
        />
      </nz-input-group>
      <div *ngIf="hasErrors('engine_power')">
        <nz-form-explain class="error" *ngIf="controls.engine_power.errors.min">
          {{ 'FORM_INPUTS.VALIDATIONS.MIN' | translate }}
        </nz-form-explain>
        <nz-form-explain class="error" *ngIf="controls.engine_power.errors.max">
          {{ 'FORM_INPUTS.VALIDATIONS.MAX' | translate }}
        </nz-form-explain>
      </div>
    </nz-form-control>
  </nz-form-item>

  <!-- avg_vehicle_consumption_100 -->
  <nz-form-item *ngIf="controls.avg_vehicle_consumption_100.enabled">
    <nz-form-label nzFor="avg_vehicle_consumption_100">
      <b> {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.AVG_VEHICLE_CONSUMPTION_100.TITLE' | translate }}</b>
    </nz-form-label>
    <div class="desc-title-form">
      {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.AVG_VEHICLE_CONSUMPTION_100.DESC' | translate }}
    </div>
    <nz-form-control>
      <nz-input-group class="tab-input" nzAddOnAfter="l/100km">
        <input
          class="primary-input"
          nz-input
          formControlName="avg_vehicle_consumption_100"
          [ngClass]="{ error__input: hasErrors('avg_vehicle_consumption_100') }"
          mask="0*,00"
          [dropSpecialCharacters]="false"
          placeholder="ex: 6,9"
        />
      </nz-input-group>
      <div *ngIf="hasErrors('avg_vehicle_consumption_100')">
        <nz-form-explain class="error" *ngIf="controls.avg_vehicle_consumption_100.errors.min">
          {{ 'FORM_INPUTS.VALIDATIONS.MIN' | translate }}
        </nz-form-explain>
        <nz-form-explain class="error" *ngIf="controls.avg_vehicle_consumption_100.errors.max">
          {{ 'FORM_INPUTS.VALIDATIONS.MAX' | translate }}
        </nz-form-explain>
      </div>
    </nz-form-control>
  </nz-form-item>
  <!-- END: CAR & MOTORCYCLE DEPENDENCIES -->

  <!-- daily_kms -->
  <nz-form-item>
    <nz-form-label nzRequired nzFor="daily_kms">
      <b> {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.DAILY_KMS.TITLE' | translate }}</b>
    </nz-form-label>
    <div class="desc-title-form">
      {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.DAILY_KMS.DESC' | translate }}
    </div>
    <nz-form-control>
      <nz-input-group class="tab-input" nzAddOnAfter="km">
        <input
          class="primary-input"
          nz-input
          formControlName="daily_kms"
          [dropSpecialCharacters]="false"
          [ngClass]="{ error__input: hasErrors('daily_kms') }"
          mask="0*,00"
          placeholder="ex: 48,9"
        />
      </nz-input-group>
      <div *ngIf="hasErrors('daily_kms')">
        <nz-form-explain class="error" *ngIf="controls.daily_kms.errors.required">
          {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
        </nz-form-explain>
        <nz-form-explain class="error" *ngIf="controls.daily_kms.errors.min">
          {{ 'FORM_INPUTS.VALIDATIONS.MIN' | translate }}
        </nz-form-explain>
        <nz-form-explain class="error" *ngIf="controls.daily_kms.errors.max">
          {{ 'FORM_INPUTS.VALIDATIONS.MAX' | translate }}
        </nz-form-explain>
      </div>
    </nz-form-control>
  </nz-form-item>

  <!-- number_of_times -->
  <nz-form-item>
    <nz-form-label nzRequired nzFor="number_of_times">
      <b> {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.NUMBER_OF_TIMES.TITLE' | translate }}</b>
    </nz-form-label>
    <div class="desc-title-form">
      {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.NUMBER_OF_TIMES.DESC' | translate }}
    </div>
    <nz-form-control>
      <input
        class="primary-input"
        nz-input
        formControlName="number_of_times"
        mask="0*"
        [ngClass]="{ error__input: hasErrors('number_of_times') }"
        placeholder="ex: 2"
      />
      <div *ngIf="hasErrors('number_of_times')">
        <nz-form-explain class="error" *ngIf="controls.number_of_times.errors.required">
          {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
        </nz-form-explain>
        <nz-form-explain class="error" *ngIf="controls.number_of_times.errors.min">
          {{ 'FORM_INPUTS.VALIDATIONS.MIN' | translate }}
        </nz-form-explain>
        <nz-form-explain class="error" *ngIf="controls.number_of_times.errors.max">
          {{ 'FORM_INPUTS.VALIDATIONS.MAX' | translate }}
        </nz-form-explain>
      </div>
    </nz-form-control>
  </nz-form-item>

  <!-- avg_weekly_distance -->
  <nz-form-item>
    <nz-form-label nzRequired nzFor="avg_weekly_distance">
      <b> {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.AVG_WEEKLY_DISTANCE.TITLE' | translate }}</b>
    </nz-form-label>
    <div class="desc-title-form">
      {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.AVG_WEEKLY_DISTANCE.DESC' | translate }}
    </div>
    <nz-form-control>
      <nz-input-group class="tab-input" nzAddOnAfter="km">
        <input
          class="primary-input"
          nz-input
          formControlName="avg_weekly_distance"
          [ngClass]="{ error__input: hasErrors('avg_weekly_distance') }"
          mask="0*,00"
          [dropSpecialCharacters]="false"
          placeholder="ex: 245,7"
        />
      </nz-input-group>
      <div *ngIf="hasErrors('avg_weekly_distance')">
        <nz-form-explain class="error" *ngIf="controls.avg_weekly_distance.errors.required">
          {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
        </nz-form-explain>
        <nz-form-explain class="error" *ngIf="controls.avg_weekly_distance.errors.min">
          {{ 'FORM_INPUTS.VALIDATIONS.MIN' | translate }}
        </nz-form-explain>
        <nz-form-explain class="error" *ngIf="controls.avg_weekly_distance.errors.max">
          {{ 'FORM_INPUTS.VALIDATIONS.MAX' | translate }}
        </nz-form-explain>
      </div>
    </nz-form-control>
  </nz-form-item>

  <!-- total_weekly_distance -->
  <nz-form-item>
    <nz-form-label nzRequired nzFor="total_weekly_distance">
      <b> {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.TOTAL_WEEKLY_DISTANCE.TITLE' | translate }}</b>
    </nz-form-label>
    <div class="desc-title-form">
      {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.TOTAL_WEEKLY_DISTANCE.DESC' | translate }}
    </div>
    <nz-form-control>
      <nz-input-group class="tab-input" nzAddOnAfter="km">
        <input
          class="primary-input"
          nz-input
          formControlName="total_weekly_distance"
          [ngClass]="{ error__input: hasErrors('total_weekly_distance') }"
          mask="0*,00"
          [dropSpecialCharacters]="false"
          placeholder="ex: 500,8"
        />
      </nz-input-group>
      <div *ngIf="hasErrors('total_weekly_distance')">
        <nz-form-explain class="error" *ngIf="controls.total_weekly_distance.errors.required">
          {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
        </nz-form-explain>
        <nz-form-explain class="error" *ngIf="controls.total_weekly_distance.errors.min">
          {{ 'FORM_INPUTS.VALIDATIONS.MIN' | translate }}
        </nz-form-explain>
      </div>
    </nz-form-control>
  </nz-form-item>

  <!-----------travel_time_school------------->
  <nz-form-item>
    <nz-form-label nzRequired nzFor="travel_time_school">
      <b> {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.TRAVEL_TIME_SCHOOL.TITLE' | translate }}</b>
    </nz-form-label>
    <div class="desc-title-form">
      {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.TRAVEL_TIME_SCHOOL.DESC' | translate }}
    </div>
    <nz-form-control>
      <nz-time-picker
        class="primary-timePicker"
        id="travel_time_school_form_application_ubike"
        [nzPlaceHolder]="'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.TRAVEL_TIME_SCHOOL.PLACEHOLDER' | translate"
        formControlName="travel_time_school"
        nzFormat="HH:mm"
        [ngClass]="{ error: hasErrors('travel_time_school') }"
        [nzClearText]="''"
        [nzDisabledMinutes]="disabledDurationMinutes"
        [nzDefaultOpenValue]="defaultTimeDurationOpenValue"
      >
      </nz-time-picker>

      <nz-form-explain class="error" *ngIf="hasErrors('travel_time_school')">
        {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
      </nz-form-explain>

      <nz-form-explain
        class="error"
        *ngIf="controls.travel_time_school.touched && validTime(controls.travel_time_school.value)"
      >
        {{ 'FORM_INPUTS.VALIDATIONS.PATTERN' | translate }}</nz-form-explain
      >
    </nz-form-control>
  </nz-form-item>

  <!-----------travel_time_school_bike------------->
  <nz-form-item>
    <nz-form-label nzRequired nzFor="travel_time_school_bike">
      <b> {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.TRAVEL_TIME_SCHOOL_BIKE.TITLE' | translate }}</b>
    </nz-form-label>
    <div class="desc-title-form">
      {{ 'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.TRAVEL_TIME_SCHOOL_BIKE.DESC' | translate }}
    </div>
    <nz-form-control>
      <nz-time-picker
        class="primary-timePicker"
        id="travel_time_school_bike_form_application_ubike"
        [nzPlaceHolder]="'U_BIKE.APPLICATIONS.STEP_ONE.FORM_ELEMENTS.TRAVEL_TIME_SCHOOL_BIKE.PLACEHOLDER' | translate"
        formControlName="travel_time_school_bike"
        nzFormat="HH:mm"
        [ngClass]="{ error: hasErrors('travel_time_school_bike') }"
        [nzClearText]="''"
        [nzDisabledMinutes]="disabledDurationMinutes"
        [nzDefaultOpenValue]="defaultTimeDurationOpenValue"
      >
      </nz-time-picker>

      <nz-form-explain class="error" *ngIf="hasErrors('travel_time_school_bike')">
        {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
      </nz-form-explain>

      <nz-form-explain
        class="error"
        *ngIf="controls.travel_time_school.touched && validTime(controls.travel_time_school_bike.value)"
      >
        {{ 'FORM_INPUTS.VALIDATIONS.PATTERN' | translate }}</nz-form-explain
      >
    </nz-form-control>
  </nz-form-item>
</form>
