<div nzType="flex" nzAlign="middle" nzJustify="center" perfectScrollbar class="page ps scroll-container">
    <div class="container">
        <div class="content-table">
            <nz-table class="table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)"
                [nzLoading]="loading" [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true"
                [nzTotal]="totalData" [(nzPageSize)]="pageSize" (nzPageIndexChange)="pagination()"
                (nzPageSizeChange)="pagination(true)">
                <thead (nzSortChange)="sort($event)" nzSingleSort>
                    <tr class="table__header">

                        <th>
                            Nome
                        </th>
                        <th>
                            Grupos
                        </th>
                        <th nzShowSort nzSortKey="active">Ativo</th>
                        <th class="text-right" nzRight="0px">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-data [ngForOf]="refTable.data">
                        <tr>
                            <td>
                               {{(data?.translations | translation)?.name}}
                            </td>
                            <td>
                               <div *ngFor="let group of data?.groups">
                                    {{group?.group?.name}}
                               </div>
                            </td>
                            <td>
                                <nz-tag [nzColor]="data?.active ? 'green' : 'red'">
                                    {{data?.active ? 'Sim' : 'Não'}}</nz-tag>
                            </td>
                            <td class="text-right" nzRight="0px">
                                <button nz-button nz-dropdown nzType="link" class="options_button"
                                    [nzDropdownMenu]="menu" nzPlacement="bottomRight">
                                    <i nz-icon nzType="dash" nzTheme="outline"></i>
                                </button>
                                <nz-dropdown-menu #menu="nzDropdownMenu">
                                    <ul nz-menu>
                                        <li nz-menu-item [nzDisabled]="!('queue:services:update' | hasPermission)" (click)="editService(data.id)">Editar</li>
                                        <li nz-menu-item *ngIf="data.active == false" [nzDisabled]="!('queue:services:update' | hasPermission)" (click)="ativeServiceConfirm(data.id)">Ativar</li>
                                        <li nz-menu-item *ngIf="data.active == true" [nzDisabled]="!('queue:services:update' | hasPermission)" (click)="inativeServiceConfirm(data.id)">Desativar</li>
                                    </ul>
                                </nz-dropdown-menu>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>