<form [formGroup]="formPost" nz-form>
  <div class="content--padding white">
    <div nz-row style="padding-bottom: 10px;">
      <label class="title">Geral</label>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="11">
        <nz-form-item>
          <nz-form-label [nzRequired]="valid(2) || valid(3) || valid(4) || valid(6) || valid(7)">Categoria
          </nz-form-label>
          <nz-form-control>
            <nz-select nzPlaceHolder="Selecione" nzAllowClear formControlName="category_id">
              <nz-option *ngFor="let category of categories" [nzValue]="category.id"
                [nzLabel]="category.translations.length > 0 ? (category.translations | translation)?.name : 'Sem nome' ">
              </nz-option>
            </nz-select>
            <nz-form-explain class="color-required" *ngIf="submitted && f.category_id.errors">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="2"></div>
      <div nz-col [nzSpan]="11">
        <nz-form-item>
          <nz-form-label nzRequired>Canais</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="channels" nzMode="multiple" nzAllowClear nzPlaceHolder="Selecione">
              <nz-option *ngFor="let channel of channels" [nzValue]="channel.id" [nzLabel]="channel.name"></nz-option>
            </nz-select>
            <nz-form-explain class="color-required" *ngIf="submitted && f.channels.errors">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="11">
        <nz-form-item>
          <nz-form-label>Grupos</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="groups" nzMode="multiple" nzAllowClear nzPlaceHolder="Selecione">
              <nz-option *ngFor="let group of groups" [nzValue]="group.id" [nzLabel]="group.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="2"></div>
      <div nz-col [nzSpan]="11">
        <nz-form-item>
          <nz-form-label>Tags</nz-form-label>
          <nz-form-control>
            <nz-select nzMode="tags" style="width: 100%;" nzPlaceHolder="Tags" formControlName="tags">
            </nz-select>

          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="5">
        <nz-form-item>
          <nz-form-label [nzRequired]="valid(3)">Data do evento</nz-form-label>
          <nz-form-control>
            <nz-date-picker formControlName="date" nzPlaceHolder="Selecione uma data" nzShowTime></nz-date-picker>
            <nz-form-explain class="color-required" *ngIf="submitted && f.date.errors">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="1">
      </div>
      <div nz-col [nzSpan]="5">
        <nz-form-item>
          <nz-form-label nzRequired>Peso</nz-form-label>
          <nz-form-control>
            <nz-input-number formControlName="weight" [nzMin]="1" [nzMax]="10" [nzStep]="1" style="width: 100%;">
            </nz-input-number>
            <div *ngIf="submitted && f.weight.errors">
              <nz-form-explain class="error" *ngIf="f.weight.errors.required">
                Campo obrigatório
              </nz-form-explain>
              <nz-form-explain class="error" *ngIf="f.weight.errors.min">
                O peso minimo é de 1
              </nz-form-explain>
              <nz-form-explain class="error" *ngIf="f.weight.errors.max">
                O peso máximo é de 10
              </nz-form-explain>
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="2"></div>
      <div nz-col [nzSpan]="11">
        <nz-form-item>
          <nz-form-label nzRequired>Intervalo de Apresentação</nz-form-label>
          <nz-form-control>
            <nz-range-picker formControlName="dateRange" nzShowTime></nz-range-picker>
            <nz-form-explain class="color-required" *ngIf="submitted && f.dateRange.errors">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </div>
  <div class="space-form"></div>
  <div class="content--padding white">
    <div nz-row style="padding-bottom: 10px;">
      <label class="title">Conteudo</label>
    </div>
    <nz-spin [nzSpinning]="languages_loading">
      <ng-container formArrayName="translations">
        <nz-tabset [nzTabBarExtraContent]="languageTemplate" #translationTabs>
          <nz-tab *ngFor="let translation of translations.controls; let i = index;"
            [nzTitle]="getLanguageName(translation.value.language_id)"
            (nzClick)="formControlChannelsChanged(channelsSelec)">
            <ng-container [formGroupName]="i">
              <div nz-row>
                <nz-form-item>
                  <nz-form-label nzRequired>Título
                  </nz-form-label>
                  <nz-form-control>
                    <input nz-input formControlName="title">
                    <nz-form-explain class="color-required"
                      *ngIf="submitted && formPost.get('translations.' + i + '.title')?.errors">
                      Campo obrigatório
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-row>
                <nz-form-item>
                  <nz-form-label [nzRequired]="valid(3) || valid(4) || valid(6) || valid(7)">Sumário
                  </nz-form-label>
                  <nz-form-control>
                    <textarea rows="1" maxlength="255" nz-input formControlName="summary"></textarea>
                    <nz-form-explain class="color-required"
                      *ngIf="submitted && formPost.get('translations.' + i + '.summary')?.errors">
                      Campo obrigatório
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-row>
                <nz-form-item>
                  <nz-form-label [nzRequired]="valid(3) || valid(4) || valid(6) || valid(7)">Corpo</nz-form-label>
                </nz-form-item>
                <angular-editor formControlName="body" id="editor1" [config]="editorConfig"></angular-editor>
                <nz-form-explain class="color-required"
                  *ngIf="submitted && formPost.get('translations.' + i + '.body')?.errors">
                  Campo obrigatório
                </nz-form-explain>

              </div>
              <div nz-row>
                <nz-form-item>
                  <nz-form-label [nzRequired]="valid(3)">Localização
                  </nz-form-label>
                  <nz-form-control>
                    <textarea maxlength="255" rows="1" nz-input formControlName="location"></textarea>
                    <nz-form-explain class="color-required"
                      *ngIf="submitted && formPost.get('translations.' + i + '.location')?.errors">
                      Campo obrigatório
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <nz-divider></nz-divider>
              <div nz-row>
                <nz-form-item>
                  <nz-form-label [nzRequired]="valid(8)">Endereço Url
                  </nz-form-label>
                  <nz-form-control>
                    <input maxlength="255" nz-input formControlName="url" />
                    <nz-form-explain class="color-required"
                      *ngIf="submitted && formPost.get('translations.' + i + '.url')?.errors">
                      Campo obrigatório
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-row nzType="flex" nzJustify="center" *ngIf="!existFile()" style="padding-bottom: 15px;">
                <div>
                  <nz-radio-group [(ngModel)]="fileType" (ngModelChange)="changeType()"
                    [ngModelOptions]="{standalone: true}">
                    <label nz-radio-button [nzValue]="FileType.IMAGE">Imagem</label>
                    <label nz-radio-button [nzValue]="FileType.VIDEO">Video</label>
                  </nz-radio-group>
                </div>
              </div>
              <div nz-row *ngIf="(valid(6) || valid(4)) && fileType === FileType.VIDEO" style="margin-top: 5px;">
                <nz-alert nzType="error" nzMessage="Não pode colocar vídeos para o canal Webpage e Mobile" nzShowIcon>
                </nz-alert>
              </div>
              <div nz-row nzGutter="16" *ngIf="fileType === FileType.VIDEO">
                <div nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label [nzRequired]="valid(5) || valid(6) || valid(4)">Video
                      horizontal (16:9)</nz-form-label>
                    <nz-tag *ngIf="valid(4)">Mobile</nz-tag>
                    <nz-tag *ngIf="valid(5)">TV</nz-tag>
                    <nz-tag *ngIf="valid(6)">Webpage</nz-tag>
                    <nz-form-control>
                      <fi-sas-upload-file [maxSize]="100" [isPublic]="true" [types]="'video/mp4,video/ogg,video/webm'"
                        formControlName="file_id_16_9"></fi-sas-upload-file>
                      <nz-form-explain class="color-required"
                        *ngIf="submitted && translations.controls[i].get('file_id_16_9').errors">
                        {{getFileID_16_9_InputError(i)}}
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label [nzRequired]="valid(1)">Video
                      vertical (9:16)</nz-form-label>
                    <nz-tag *ngIf="valid(1)">Kiosk</nz-tag>
                    <nz-form-control>
                      <fi-sas-upload-file [maxSize]="100" [isPublic]="true" [types]="'video/mp4,video/ogg,video/webm'"
                        formControlName="file_id_9_16"></fi-sas-upload-file>
                      <nz-form-explain class="color-required"
                        *ngIf="submitted && translations.controls[i].get('file_id_9_16').errors">
                        {{getFileID_9_16_InputError(i)}}
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label [nzRequired]="valid(7) || valid(3)">Video (1:1)
                    </nz-form-label>
                    <nz-tag *ngIf="valid(3)">Event</nz-tag>
                    <nz-tag *ngIf="valid(7)">Facebook</nz-tag>
                    <nz-form-control>
                      <fi-sas-upload-file [maxSize]="100" [isPublic]="true" [types]="'video/mp4,video/ogg,video/webm'"
                        formControlName="file_id_1_1"></fi-sas-upload-file>
                      <nz-form-explain class="color-required"
                        *ngIf="submitted && translations.controls[i].get('file_id_1_1').errors">
                        {{getFileID_1_1_InputError(i)}}
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-row nzGutter="16" *ngIf="fileType === FileType.IMAGE">
                <div nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label [nzRequired]="valid(5) || valid(6) || valid(4)">Imagem
                      horizontal (16:9)</nz-form-label>
                    <nz-tag *ngIf="valid(4)">Mobile</nz-tag>
                    <nz-tag *ngIf="valid(5)">TV</nz-tag>
                    <nz-tag *ngIf="valid(6)">Webpage</nz-tag>
                    <nz-form-control>
                      <fi-sas-upload-image [aspectRatio]="16/9" formControlName="file_id_16_9"></fi-sas-upload-image>
                      <nz-form-explain class="color-required"
                        *ngIf="submitted && translations.controls[i].get('file_id_16_9').errors">
                        {{getFileID_16_9_InputError(i)}}
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label [nzRequired]="valid(1)">Imagem
                      vertical (9:16)</nz-form-label>
                    <nz-tag *ngIf="valid(1)">Kiosk</nz-tag>
                    <nz-form-control>
                      <fi-sas-upload-image [aspectRatio]="1080/1602" formControlName="file_id_9_16">
                      </fi-sas-upload-image>
                      <nz-form-explain class="color-required"
                        *ngIf="submitted && translations.controls[i].get('file_id_9_16').errors">
                        {{getFileID_9_16_InputError(i)}}
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label [nzRequired]="valid(7) || valid(3)">Imagem (1:1)
                    </nz-form-label>
                    <nz-tag *ngIf="valid(3)">Event</nz-tag>
                    <nz-tag *ngIf="valid(7)">Facebook</nz-tag>
                    <nz-form-control>
                      <fi-sas-upload-image [aspectRatio]="1" formControlName="file_id_1_1"></fi-sas-upload-image>
                      <nz-form-explain class="color-required"
                        *ngIf="submitted && translations.controls[i].get('file_id_1_1').errors">
                        {{getFileID_1_1_InputError(i)}}
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </ng-container>
          </nz-tab>
        </nz-tabset>
      </ng-container>
    </nz-spin>
    <nz-form-explain class="color-required" *ngIf="submitted && errorTrans" style="padding-top: 20px;">
      Obrigatório preencher pelo menos uma tradução
    </nz-form-explain>
  </div>
</form>


<div class="space" nz-row>
  <button *ngIf="isUpdate" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button *ngIf="!isStatusPage" nz-button [nzLoading]="isLoading" [disabled]="isLoading"
    (click)="submit(formPost.value,formPost.valid)" class="button-submit" [nzType]="'primary'">{{isUpdate ? 'Editar' :
    'Criar'}}</button>
</div>


<ng-template #languageTemplate>
  <nz-select class="languages" nzMode="multiple" [(ngModel)]="listOfSelectedLanguages" [nzMaxTagCount]="1"
    nzPlaceHolder="Línguas" [nzLoading]="languages_loading"
    (ngModelChange)="changeLanguage(); formControlChannelsChanged(channelsSelec)">
    <nz-option *ngFor="let language of languages" [nzLabel]="language.name" [nzValue]="language.id"></nz-option>
  </nz-select>
</ng-template>
