.languages {
    width: 200px;
}

.space{
    background-color: #F2F2F2;
    padding-top:20px;
    padding-bottom: 20px;
    text-align: right
}

.color-required {
  color: red;
}

.white {
  background-color: white;
}

.title {
  font-size: 17px;
  font-weight: 400;
}

.space-form {
  padding: 10px;
  background-color: #F2F2F2;
}

:host::ng-deep {
  .ant-calendar-picker {
    width: 100% !important;
  }

  .angular-editor-textarea{
    height: 15rem !important;
  }
}