

@import "theme";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 1199px)";
@mobile:    ~"only screen and (min-width: 320px) and (max-width: 719px)";

/* --- Counter --- */
.top {
  padding-top: 25px;
}

#movements-current-account ::ng-deep .ant-select-selection {
  border-radius: 30px !important;
  color:black !important;
  background-color: white !important;
}

#movements-current-account ::ng-deep .ant-select-arrow {
  color:black !important;
}

.account-item {
  border-radius: 5px 5px 0px 0px;
  background-color: #FAFAFA;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  color: #333333;
  margin-top:25px;

  @media @tablet {
    flex-wrap: wrap;
  }

  @media @mobile {
    flex-wrap: wrap;
  }

  .account-elements-i {
    padding: 20px;
    width: 70%;
    display: flex;
    flex-direction: row;
    border-right: 2px solid #ffffff;

    @media @tablet {
      width: 50%;
      border-right: 0;
      border-right: 2px solid #ffffff;
    }

    @media @mobile {
      width: 100%;
      border-right: 0;
      border-bottom: 2px solid #ffffff;
    }

    .account-name {
      width: 50%;
      font-weight: bold;
      color: var(--primary-5);
    }
  }

  .account-title-value{
    font-weight: bold;
  }

  .account-elements-ii {
    padding: 20px;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media @tablet {
      width: 50%;
    }

    @media @mobile {
      width: 100%;
    }

    .account-value-corrent {
      color: #1ba974;
      font-weight: 600;
    }

    .account-value-pending{
      color: #d0021b;
      font-weight: 600;
    }

    .account-value-pending-normal{
      color: black;
      font-weight: 600;
    }
  }

  @media @mobile {
    .account-elements-ii {
      border-right: 0;
    }
  }

}

.ant-input {
  border-radius: 30px;
  color: #111111;
}

.ant-calendar-range-picker-input::placeholder {
  color: #111111;
}

.content-filter-title {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  color: #111111;
}

.ant-table-thead > tr > th {
  color: unset !important;
  text-align: left;
  background: white !important;
  border-bottom: 1px solid #e8e8e8;
}

.tr.ant-table-expanded-row, .ant-table-row {
  background: white;
 
}

.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td, .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
  background: var(--primary-1);
}

.ant-table-row-expanded {
  background-color: var(--primary-color);
  color:white;
}


.ant-table tbody tr:nth-child(4n + 3) {
  background: var(--menu-bg) !important;
}

  

#pagination-list-movements-account ::ng-deep .ant-pagination-options {
  display: block !important;
  padding-top:10px;
  margin-left:10px !important;
}

#pagination-list-movements-account ::ng-deep .ant-pagination.mini .ant-pagination-options {
  margin-left:2px;
}


.margin-top-15 {
  margin-top:15px;
}

.padding-right-5 {
  padding-right:5px;
}

.hidden-md {
  display:none;
}

.title-table-item {
  font-size: 13px;
  font-weight: bold;
}

.text-table-item {
  color: var(--primary-5);
  line-height: initial;
}

.text-link-doc {
  color: #2E9AFE;
  text-decoration: underline;
  cursor: pointer;
}

.margin-bottom-30 {
  margin-bottom:30px;
}

.margin-top-10 {
  margin-top:10px;
}

.text-align {
  text-align: center;
}

@media @tablet {

  .margin-top-20 {
    margin-top:20px;
  }

  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display:block;
  }

  .margin-bottom-15 {
    margin-bottom:15px;
  }

  .font-label-mobile {
    color: black;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .title-item {
    font-size: 19px;
    font-weight: bold;
  }

  .box-table {
    margin-top: -22px;
    background-color: white;
    padding-left:20px;
    padding-right: 20px;
  }

  .content-filter-title {
    margin-top: 30px;
    font-weight: bold;
    text-align: center;
    color: #111111;
  }
}


@media @mobile {

  .margin-top-10 {
    margin-top:10px;
  }

  .margin-top-20 {
    margin-top:20px;
  }

  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display:block;
  }

  .margin-bottom-15 {
    margin-bottom:15px;
  }

  .font-label-mobile {
    color: black;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  span.font-label-mobile-hour {
    font-size: smaller !important;
  }

  .title-item {
    font-size: 19px;
    font-weight: bold;
  }

  .box-table {
    margin-top: -22px;
    background-color: white;
    padding-left:20px;
    padding-right: 20px;
  }
}


.text-align-right{
  text-align: right;
}
