<div class="top" nz-row>
    <div nz-col [nzSm]="24" [nzMd]="12">
        <h2 class="title-top-page">{{ 'CURRENT_ACCOUNT.HISTORY_DEPOSITS' | translate }}</h2>
        <p class="sub-title-top-page">{{ 'CURRENT_ACCOUNT.HISTORY_DEPOSITS_DESC' | translate }}</p>
    </div>
    <div nz-col [nzSm]="24" [nzMd]="12" style="text-align: right;">
          <app-button translate="CURRENT_ACCOUNT.DEPOSITS_MOV" (click)="modalDeposit = true"
            [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}" type="tertiary"></app-button>
      </div>
</div>


<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="margin-top-15">
        <div nz-row>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="3" [nzXXl]="3">
                <div class="content-filter-title">{{ 'CURRENT_ACCOUNT.FILTER_BY' | translate }}</div>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="7" [nzXXl]="7"
                class="padding-right-5 margin-top-20">
                <nz-range-picker [(ngModel)]="dateRange"
                    [nzPlaceHolder]="[ 'CURRENT_ACCOUNT.FILTER.STARTDATE' | translate,'CURRENT_ACCOUNT.FILTER.ENDDATE' | translate]"
                    (ngModelChange)="onChangeDate($event)">
                </nz-range-picker>
            </div>

            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="6" [nzXXl]="6"
                class="padding-right-5 margin-top-20">
                <nz-select style="width: 100%;" [(ngModel)]="operationFilter" nzAllowClear
                    [nzPlaceHolder]="'CURRENT_ACCOUNT.FILTER.OPERATIONS' | translate" nzShowSearch
                    id="movements-current-account" (ngModelChange)="filterOperation($event)">
                    <nz-option *ngFor="let operation of operationList.operations_history" [nzValue]="operation.key"
                        [nzLabel]="operation.label | translate">
                    </nz-option>
                </nz-select>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="7" [nzXXl]="7"
                class="padding-right-5 margin-top-20">
                <nz-select style="width: 100%;" [(ngModel)]="statusFilter" id="movements-current-account"
                    [nzPlaceHolder]="'CURRENT_ACCOUNT.FILTER.STATUS' | translate" nzShowSearch nzAllowClear
                    (ngModelChange)="filterStatus($event)">
                    <nz-option *ngFor="let status of statusList.status_history" [nzValue]="status.key"
                        [nzLabel]="status.label | translate"></nz-option>
                </nz-select>
            </div>
        </div>
    </div>
</div>

<div class="account-item">

    <div class="account-elements-i">
        <span class="account-name">{{accountBalaceById[0]?.account_name}}</span>
    </div>

    <div class="account-elements-ii">
        <span class="account-title-value">{{ 'CURRENT_ACCOUNT.TOTAL_DEPOSITS' | translate }}</span>
        <span class="account-value-corrent">{{accountBalaceById[0]?.total_charges | number:'1.2-2'}} €</span>
    </div>

</div>

<div nz-row style="margin-top: -22px;" class="hidden-xs">

    <nz-table #applicationsTable [nzScroll]="{ x: '240px' }" [nzShowSizeChanger]="sizeChanger" [nzFrontPagination]="false" [nzData]="listOfData"
        [nzLoading]="loading" [nzPaginationPosition]="position" [nzShowPagination]="pagination" [nzTotal]="total"
        [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="getHistoryDeposits()"
        (nzPageSizeChange)="getHistoryDeposits(true)">
        <thead>
            <tr>
                <th></th>
                <th>{{'CURRENT_ACCOUNT.TABLE.DATE' | translate}}</th>
                <th>{{'CURRENT_ACCOUNT.FILTER.OPERATIONS' | translate}}</th>
                <th>{{'CURRENT_ACCOUNT.TABLE.DEVICE' | translate}}</th>
                <th>{{'CURRENT_ACCOUNT.TABLE.CONFIRMED_AT' | translate}}</th>
                <th>{{'CURRENT_ACCOUNT.TABLE.DOC' | translate}}</th>
                <th>{{'CURRENT_ACCOUNT.TABLE.SATUS' | translate}}</th>
                <th>{{'CURRENT_ACCOUNT.HISTORY_DEPOSITS_TABLE.METHOD_DEPOSIT' | translate}}</th>
                <th class="text-align-right">
                    {{'CURRENT_ACCOUNT.HISTORY_DEPOSITS_TABLE.PENDING' | translate}}
                </th>
                <th class="text-align-right">
                    {{'CURRENT_ACCOUNT.HISTORY_DEPOSITS_TABLE.CANCEL' | translate}}
                </th>
                <th class="text-align-right">
                    {{'CURRENT_ACCOUNT.HISTORY_DEPOSITS_TABLE.CONFIRM' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-data [ngForOf]="applicationsTable.data">
                <tr>
                    <td nzShowExpand *ngIf="expandable" [(nzExpand)]="data.expand"></td>
                    <td>
                        {{ data?.created_at | date: 'dd-MM-yyyy' }}<br><span class="hour">{{data?.created_at | date:'mediumTime'}}</span>
                    </td>
                    <td>
                        {{ data?.operation == 'CHARGE' ? ('CURRENT_ACCOUNT.FILTER.CHARGE' | translate) :
                        data?.operation == 'CANCEL' ? ('CURRENT_ACCOUNT.FILTER.CANCEL' | translate) :
                        data?.operation == 'RECEIPT' ? ('CURRENT_ACCOUNT.FILTER.RECEIPT' | translate) :
                        data?.operation == 'INVOICE' ? ('CURRENT_ACCOUNT.FILTER.INVOICE' | translate) :
                        data?.operation == 'INVOICE_RECEIPT' ? ('CURRENT_ACCOUNT.FILTER.INVOICE_RECEIPT' |
                        translate) :
                        data?.operation == 'CREDIT_NOTE' ? ('CURRENT_ACCOUNT.FILTER.CREDIT_NOTE' | translate) :
                        data?.operation == 'REFUND' ? ('CURRENT_ACCOUNT.FILTER.REFUND' | translate) :
                        data?.operation == 'CHARGE_NOT_IMMEDIATE' ? ('CURRENT_ACCOUNT.FILTER.CHARGE_NOT_IMMEDIATE' |
                        translate)
                        :
                        '-' }}
                    </td>
                    <td>
                        {{data.device ? data.device.name : '--'}}
                    </td>
                    <td>
                        <label *ngIf="data?.payment != null"> 
                            {{data?.payment?.confirmed_at | date: 'dd-MM-yyyy' }}<br><span class="hour">{{data?.payment?.confirmed_at | date:'mediumTime'}}</span>
                        </label>
                    </td>
                    <td>
                        <a *ngIf="data?.document_id != null" class="text-link-doc" href="{{ data?.document?.url }}"
                            download target="_blank">Link </a>
                    </td>
                    <td> {{ data?.status == 'CONFIRMED' ? ('CURRENT_ACCOUNT.FILTER.CONFIRMED' | translate) :
                        data?.status == 'PENDING' ? ('CURRENT_ACCOUNT.FILTER.PENDING' | translate) :
                        data?.status == 'CANCELLED' ? ('CURRENT_ACCOUNT.FILTER.CANCELLED' | translate) :
                        data?.status == 'CANCELLED_LACK_PAYMENT' ?
                        ('CURRENT_ACCOUNT.FILTER.CANCELLED_DUE_LACK_PAYMENT'
                        | translate) :
                        data?.status == 'PAID' ? ('CURRENT_ACCOUNT.FILTER.PAID' | translate) : '-'}}</td>
                    <td> {{ data?.payment_method?.name == 'Referência Multibanco' ? ('CURRENT_ACCOUNT.TABLE.REFATM'
                        |
                        translate) :
                        data?.payment_method?.name == 'Multibanco' ? ('CURRENT_ACCOUNT.TABLE.ATM' | translate) :
                        data?.payment_method?.name == 'Numerario' ? ('CURRENT_ACCOUNT.TABLE.NUM' | translate) :
                        data?.payment_method?.name == 'Conta Corrente' ? ('CURRENT_ACCOUNT.TABLE.CURRENT_ACCOUNT' |
                        translate) :
                        data?.payment_method?.name
                        }}</td>
                    <td class="text-align-right"> <b>{{ data?.status == 'PENDING' ? (data?.transaction_value |
                            number:'1.2-2') + '€' : '-' }}</b> </td>
                    <td class="text-align-right">
                        <b>
                            {{
                            data?.status == 'CANCELLED' ||
                            data?.status== 'CANCELLED_LACK_PAYMENT' ?
                            (data?.transaction_value | number:'1.2-2') + '€' : '-'
                            }}
                        </b>
                    </td>
                    <td class="text-align-right"> <b>{{ data?.status == 'CONFIRMED' ? (data?.transaction_value |
                            number:'1.2-2') + '€' : '-'}}</b> </td>
                </tr>
                <tr class="movements-detail" [nzExpand]="data.expand && expandable">
                    <td></td>
                    <td [attr.colspan]="checkbox ? 12 : 11">
                        <app-item-movements [items]="data?.items" [transaction_value]="data?.transaction_value">
                        </app-item-movements>
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </nz-table>
</div>

<!------------------------------------------MOBILE------------------------------------>

<div nz-row class="hidden-md box-table">
    <div class="margin-top-20">
        <div *ngFor="let item of applicationsTable.data; let idx = index">
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
                    class="font-label-mobile">{{'CURRENT_ACCOUNT.TABLE.DATE' | translate}}:</label>
                {{item?.created_at |
                date:
                'dd/MM/yyyy'}} <span class="font-label-mobile-hour">{{item?.created_at | date:'mediumTime'}}</span>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
                    class="font-label-mobile">{{'CURRENT_ACCOUNT.FILTER.OPERATIONS' | translate}}:</label> {{
                item?.operation
                ==
                'CHARGE' ? ('CURRENT_ACCOUNT.FILTER.CHARGE' | translate) :
                item?.operation == 'CANCEL' ? ('CURRENT_ACCOUNT.FILTER.CANCEL' | translate) :
                item?.operation == 'RECEIPT' ? ('CURRENT_ACCOUNT.FILTER.RECEIPT' | translate) :
                item?.operation == 'INVOICE' ? ('CURRENT_ACCOUNT.FILTER.INVOICE' | translate) :
                item?.operation == 'INVOICE_RECEIPT' ? ('CURRENT_ACCOUNT.FILTER.INVOICE_RECEIPT' | translate) :
                item?.operation == 'CREDIT_NOTE' ? ('CURRENT_ACCOUNT.FILTER.CREDIT_NOTE' | translate) :
                item?.operation == 'REFUND' ? ('CURRENT_ACCOUNT.FILTER.REFUND' | translate) :
                item?.operation == 'CHARGE_NOT_IMMEDIATE' ? ('CURRENT_ACCOUNT.FILTER.CHARGE_NOT_IMMEDIATE' |
                translate)
                :
                '-' }}
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15">
                <label class="font-label-mobile">
                    {{'CURRENT_ACCOUNT.TABLE.DEVICE' | translate}}:
                </label>
                {{item.device ? item.device.name : '--'}}
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label *ngIf="item?.payment != null"
                    class="font-label-mobile">{{'CURRENT_ACCOUNT.TABLE.CONFIRMED_AT' | translate}}:</label>
                    {{item?.payment?.confirmed_at | date: 'dd-MM-yyyy' }}<span class="font-label-mobile-hour">{{item?.payment?.confirmed_at | date:'mediumTime'}}</span>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
                    class="font-label-mobile">{{'CURRENT_ACCOUNT.TABLE.DOC' | translate}}:</label>
                <a *ngIf="item?.document_id != null" class="text-link-doc" href="{{ item?.document?.url }}" download
                    target="_blank">Link </a>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
                    class="font-label-mobile">{{'CURRENT_ACCOUNT.TABLE.SATUS' | translate}}:</label>{{ item?.status
                ==
                'CONFIRMED'
                ? ('CURRENT_ACCOUNT.FILTER.CONFIRMED' | translate) : item?.status ==
                'PENDING' ? ('CURRENT_ACCOUNT.FILTER.PENDING' | translate)
                : item?.status == 'CANCELLED' ? ('CURRENT_ACCOUNT.FILTER.CANCELLED' | translate) : item?.status ==
                'CANCELLED_LACK_PAYMENT' ? ('CURRENT_ACCOUNT.FILTER.CANCELLED_DUE_LACK_PAYMENT' | translate) : '-'}}
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
                    class="font-label-mobile">{{'CURRENT_ACCOUNT.HISTORY_DEPOSITS_TABLE.METHOD_DEPOSIT' |
                    translate}}:</label>
                {{ item?.payment_method?.name == 'Referência Multibanco' ? ('CURRENT_ACCOUNT.TABLE.REFATM'
                |
                translate) :
                item?.payment_method?.name == 'Multibanco' ? ('CURRENT_ACCOUNT.TABLE.ATM' | translate) :
                item?.payment_method?.name == 'Numerario' ? ('CURRENT_ACCOUNT.TABLE.NUM' | translate) :
                item?.payment_method?.name == 'Conta Corrente' ? ('CURRENT_ACCOUNT.TABLE.CURRENT_ACCOUNT' |
                translate) :
                item?.payment_method?.name
                }}
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
                    class="font-label-mobile">{{'CURRENT_ACCOUNT.HISTORY_DEPOSITS_TABLE.PENDING' |
                    translate}}:</label> <b>{{ item?.status == 'PENDING' ? (item?.transaction_value |
                    number:'1.2-2') + '€' : '-' }}</b>

            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
                    class="font-label-mobile">{{'CURRENT_ACCOUNT.HISTORY_DEPOSITS_TABLE.CANCEL' |
                    translate}}:</label><b>{{ item?.status == 'CANCELLED' || item?.status== 'CANCELLED_LACK_PAYMENT'
                    ? (item?.transaction_value | number:'1.2-2') + '€' : '-'}}</b>

            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
                    class="font-label-mobile">{{'CURRENT_ACCOUNT.HISTORY_DEPOSITS_TABLE.CONFIRM' |
                    translate}}:</label>
                <b>{{ item?.status == 'CONFIRMED' ? (item?.transaction_value | number:'1.2-2') + '€' : '-'}}</b>
            </div>
            <app-item-movements [items]="item?.items" [transaction_value]="item?.transaction_value">
            </app-item-movements>
            <nz-divider></nz-divider>

        </div>
        <div style="text-align: center; padding-bottom:15px">
            <nz-pagination *ngIf="applicationsTable.data.length>0" id="pagination-list-movements-account" [nzTotal]="total" [(nzPageIndex)]="pageIndex"
                [(nzPageSize)]="pageSize" nzShowSizeChanger (nzPageIndexChange)="getHistoryDeposits()"
                (nzPageSizeChange)="getHistoryDeposits(true)"></nz-pagination>
        </div>
    </div>


</div>

<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
        class="margin-bottom-30 margin-top-10 text-align">
        <app-button (click)="getReportHistoryDeposits()" [loading]='loadingReport' [disabled]="loadingReport" [translate]="'CURRENT_ACCOUNT.BUTTONS.DOWNLOAD'">
        </app-button>
    </div>

</div>

<!---------------------------MODAL DEPOSIT----------------------->
<nz-modal [nzVisible]="modalDeposit" (nzOnCancel)="modalDeposit = false" (nzOnOk)="modalDeposit = false"  [nzFooter] = "null">
    <app-deposit (close)="closeModal($event)" [balance]="accountBalaceById[0]" [methods]="accountBalaceById[0]?.available_methods"></app-deposit>
</nz-modal>

<!---------------------------MODAL SUCCESS REPORT----------------------->
<nz-modal [nzVisible]="successModalReport" (nzOnCancel)="successModalReport = false" (nzOnOk)="successModalReport = false"
[nzFooter]="null" [nzWidth]=400>
    <div nz-row class="text-center text-title-modal-success">
        <label>{{'CURRENT_ACCOUNT.ACCOUNT' | translate}}</label>
    </div>
    <app-modal-success-report></app-modal-success-report>
   
</nz-modal>