<nz-spin [nzTip]="'A carregar...'" [nzSpinning]="loading">

  <nz-list [nzDataSource]="occupants" nzBordered nzSize="small" [nzRenderItem]="item" nzItemLayout="horizontal">
    <ng-template #item let-item>
      <nz-list-item>
        <div nz-row nzType="flex" nzAlign="middle" nzJustify="space-between" nzGutter="8" style="width: 100%;">
          <div nz-col nzSpan="16">
            {{item.full_name}}
          </div>
          <div nz-col nzSpan="8" style="text-align: right;">
            <nz-button-group nzSize="small">
              <button nz-button nzType="default" nz-tooltip nzTitle="Premutar quarto" (click)="openModal(item, application.residence_id)">
                <i nz-icon type="sync"></i>
              </button>
            </nz-button-group>
          </div>
        </div>
      </nz-list-item>
    </ng-template>
  </nz-list>
  <nz-empty *ngIf="!occupants" nzNotFoundContent="Quarto livre"></nz-empty>
</nz-spin>

