@import "colors.less";

:host::ng-deep {

  .footer {

    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 72px;

    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;

    color: @fisas-grey-01;
    background-color: var(--fisas-09);

    .ant-row {
      > :first-child {
        text-align: left;
      }

      > :last-child {
        text-align: right;
      }
    }

    &__language {
      cursor: pointer;
      height: 72px;
      line-height: 72px;
      padding-left: 24px;

      a {
        padding: 20px 0;
        color: @fisas-grey-01;
      }
    }

    &__mobility {
      height: 72px;
      line-height: 72px;
      margin-right: 72px;
    }

    &__mobility-icon {

      position: absolute;
      top: 0;
      right: 0;
      width: 72px;
      height: 72px;

      &--align {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 72px;
        height: 72px;
      }
    }
  }
}