<!--- OPTIONS -->
<div nz-row style="margin: 24px 0px;">
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="4" [nzXl]="6" [nzXXl]="6">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="16" [nzXl]="12" [nzXXl]="12" style="text-align: end;">

    <app-button class="margin-right-15" [buttonStyle]="{'margin-top':'5px'}" [disabled]="!('bus:tickets_bought:read' | hasPermission)"
    [routerLink]="['/mobility','tickets' ]" [translate]="'MOBILITY.ROUTE_SEARCH.TICKETS'" type="tertiary"></app-button>

    <app-button class="margin-right-15" [buttonStyle]="{'margin-top':'5px'}" [disabled]="!('bus:applications:create' | hasPermission)"
    [routerLink]="['/mobility','sub-23-declarations' ]" [translate]="'MOBILITY.ROUTE_SEARCH.SUB23_PASS_DECLARATION'" type="tertiary"></app-button>

    <app-button [buttonStyle]="{'margin-top':'5px'}" [disabled]="!('bus:applications:create' | hasPermission)"
    [routerLink]="['/mobility','applications' ]" [translate]="'MOBILITY.ROUTE_SEARCH.PASS_APPLICATION'" type="tertiary"></app-button>

  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="4" [nzXl]="6" [nzXXl]="6">
  </div>
</div>

<!-- SEARCH -->
<div nz-row>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="4" [nzXl]="6" [nzXXl]="6">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="16" [nzXl]="12" [nzXXl]="12" class="search">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
        <div nz-row class="search__input_title search__input_title__green">{{ 'MOBILITY.ROUTE_SEARCH.DEPARTURE' | translate }}
        </div>
        <div nz-row>
          <nz-select [(ngModel)]="mobilityService.route1" name="route1" class="primary-select"
          [nzPlaceHolder]="'MOBILITY.ROUTE_SEARCH.DEPARTURE' | translate" nzShowSearch="true" nzAllowClear
          [nzLoading]="mobilityService.loading_locals">
          <nz-option *ngFor="let local of mobilityService.locals" [nzLabel]="local.local" [nzValue]="local.id">
          </nz-option>
        </nz-select>
        </div>

      </div>

      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="search__revert">
        <span (click)="mobilityService.revert()"><i nz-icon nzType="icons:icons-switch-spots"></i></span>
      </div>

      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
        <div nz-row class="search__input_title search__input_title__red">{{ 'MOBILITY.ROUTE_SEARCH.ARRIVAL' | translate }}
        </div>
        <div nz-row>
           <nz-select [(ngModel)]="mobilityService.route2" name="route2" class="primary-select"
          [nzPlaceHolder]="'MOBILITY.ROUTE_SEARCH.ARRIVAL' | translate" nzShowSearch="true" nzAllowClear
          [nzLoading]="mobilityService.loading_locals">
          <nz-option *ngFor="let local of mobilityService.locals" [nzLabel]="local.local" [nzValue]="local.id">
          </nz-option>
        </nz-select>
        </div>

      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="1" [nzXl]="1" [nzXXl]="1">
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="padding-top-mobile">
        <div nz-row class="search__input_title search__input_title__green">{{ 'MOBILITY.ROUTE_SEARCH.DATE' | translate }}</div>
        <div nz-row>
          <nz-date-picker class="primary-datePicker" style="width: 100%;" nzFormat="dd/MM/yyyy" [(ngModel)]="mobilityService.date" name="date" nzAllowClear="true"></nz-date-picker>
        </div>

      </div>
    </div>
  </div>


  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="4" [nzXl]="6" [nzXXl]="6">
  </div>
</div>

<!-- CONTENT -->
<div nz-row>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="4" [nzXl]="6" [nzXXl]="6">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="16" [nzXl]="12" [nzXXl]="12" class="content">
    <nz-empty *ngIf="mobilityService.routes.length === 0" class="content__routes"
      [nzNotFoundContent]="'MOBILITY.ROUTE_SEARCH.NO_CONTENT' | translate"></nz-empty>
    <div *ngIf="mobilityService.routes.length > 0">
      <ul class="content__routes__list">
        <li *ngFor="let route of mobilityService.routes;let i = index;">
          <div *ngFor="let step of route.route;let i = index;">
            <!--<pre>
              {{step | json }}
            </pre>-->
              <app-route-row
              [number]="i + 1"
              [route]="step"
              [stops]="route.stops"
              [prices]="step.prices"
              [departure]="route.departure_place"
              [arrival]="route.arrival_place"
              [date]="route.date"
              [duration]="route.duration"></app-route-row>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="4" [nzXl]="6" [nzXXl]="6">
  </div>
</div>

<!-- BUTTON-->
<div nz-row style="margin: 24px 0px;">
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="4" [nzXl]="5" [nzXXl]="5">
  </div>
  <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="16" [nzXl]="14" [nzXXl]="14">
    <div nz-row nzType="flex" nzJustify="center">
      <app-button [type]="'primary'" (click)="mobilityService.routeSearch()" [buttonStyle]="{'font-size': '17px', 'width': '300px', height: '48px'}" 
      [translate]="'MOBILITY.ROUTE_SEARCH.SEARCH'" [loading]="mobilityService.loading_routes"></app-button>
    </div>
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="0" [nzXl]="0" [nzXXl]="0" >
    <div nz-row nzType="flex" nzJustify="center">
      <div nz-col nzXs="24" nzMd="12" class="search__button" (click)="mobilityService.routeSearch()">
        <nz-spin [nzSpinning]="mobilityService.loading_routes">
          <i nz-icon nzType="icons:icons-money"></i><span>{{ 'MOBILITY.ROUTE_SEARCH.SEARCH' | translate }}</span>
        </nz-spin>
      </div>
    </div>
  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="4" [nzXl]="5" [nzXXl]="5">
  </div>
</div>

<div nz-row nzType="flex" style="margin: 24px 0px;">
  <div nz-col [nzSm]="{ span: 20, offset: 2 }" [nzXs]="{ span: 24, offset: 0 }">
    <app-service-presentation-text [serviceId]="serviceId"></app-service-presentation-text>
  </div>
</div>
