@import 'theme';

.content {
    padding: 24px;
    background: white;

    &__routes {
        padding-bottom: 20px;
        &__list {
            padding: 0px;
            list-style: none;
        }
    }
}

@media screen and (max-width:600px) {
   .padding-top-mobile {
       padding-top: 10px;
   }
   .margin-right-15 {
    margin-right: 0px  !important; 
}
}
@media screen and (max-width:800px) {
    .padding-top-mobile {
        padding-top: 10px;
    }
    .margin-right-15 {
        margin-right: 0px !important;
    }
}

.margin-right-15 {
    margin-right: 15px;
}

.search {
    padding: 16px;
    background: white;
    margin: 0px;

    &__input_title {
        margin-bottom: 8px;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;

        &__green {
            color: var(--primary-color);
        }

        &__red {
            color: #d0021b;
        }
    }

    &__revert {
        cursor: pointer;
        margin-top: 30px;
        @media screen and (max-width:600px) {
            margin-top: 0px;
        }
        @media screen and (max-width:800px) {
            margin-top: 0px;
        }
        text-align: center;
        font-size: 45px;
    }

    nz-select {
        width: 100%;
    }

    &__button {
        background: var(--primary-color);
        color: white;
        border-radius: 42px;
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12);
        padding: 8px 16px ;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        cursor: pointer;

        i {
            font-size: 18px;
            margin-right: 8px;
        }

        &__subbutton {
            padding: 8px;
            border-radius: 30px;
            border: solid 2px #e8e8e8;
        }
    }
}
