<div class="content">
  <form nz-form [formGroup]="serviceGroup" nzLayout="horizontal">
    <nz-spin [nzSpinning]="loadingLanguages">
      <ng-container formArrayName="translations">
        <nz-tabset  #translationTabs>
          <nz-tab *ngFor="let translation of translations.controls; let i = index;"
            [nzTitle]="getLanguageName(translation.value.language_id)">
            <ng-container [formGroupName]="i">
              <nz-form-item>
                <nz-form-label nzFor="name" nzRequired>Nome</nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="name" id="name">
                  <nz-form-explain class="error" *ngIf="submit && serviceGroup.get('translations.' + i + '.name')?.errors">
                    Campo obrigatório
                  </nz-form-explain>
                </nz-form-control>
                
              </nz-form-item>
            </ng-container>
          </nz-tab>
        </nz-tabset>
      </ng-container>
    </nz-spin>
    <div nz-row nzGutter="16">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="active" nzRequired>Ativo</nz-form-label>
          <nz-form-control>
            <nz-switch id="active" formControlName="active"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
   
  </form>
</div>

<div class="space">
  <button *ngIf="idToUpdate" nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="loading" [disabled]="loading"
    (click)="submitForm()"
    [nzType]="'primary'">{{idToUpdate ? 'Editar' : 'Criar'}}</button>
</div>