<div class="content--padding white">

  <form nz-form>
    <div nz-row>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label>Rota 1</nz-form-label>

          <nz-form-control>
            <nz-select [(ngModel)]="routeSelected1" (ngModelChange)="getLocalsOne($event)" nzPlaceHolder="Choose"
              name="route1">
              <nz-option *ngFor="let route of routes" [nzValue]="route" [nzLabel]="route.name"></nz-option>
            </nz-select>
            <nz-form-explain class="error" *ngIf="routeSelected1 === null && submitted">Campo Obrigatório
            </nz-form-explain>
          </nz-form-control>


        </nz-form-item>
      </div>
      <div nz-col nzXs="0" nzMd="2">
      </div>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>

          <nz-form-control style="padding-top: 35px;">
            <nz-select [nzDisabled]="disableOne" [(ngModel)]="localSelected1" (ngModelChange)="getLocal1($event)"
              nzPlaceHolder="Choose" name="local1">
              <nz-option *ngFor="let local of locals1" [nzValue]="local" [nzLabel]="local.local"></nz-option>
            </nz-select>
            <nz-form-explain class="error" *ngIf="localSelected1 === null && !disableOne && submitted">Campo Obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>


    </div>
    <div nz-row>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label>Rota 2</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="routeSelected2" (ngModelChange)="getLocalsTwo($event)" nzPlaceHolder="Choose"
              name="route2">
              <nz-option *ngFor="let route of routes" [nzValue]="route" [nzLabel]="route.name"></nz-option>
            </nz-select>
            <nz-form-explain class="error" *ngIf="routeSelected2 === null && submitted">Campo Obrigatório
            </nz-form-explain>
          </nz-form-control>

        </nz-form-item>
      </div>
      <div nz-col nzXs="0" nzMd="2">
      </div>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>

          <nz-form-control style="padding-top: 35px;">
            <nz-select [nzDisabled]="disableTwo" [(ngModel)]="localSelected2" (ngModelChange)="getLocal2($event)"
              nzPlaceHolder="Choose" name="local2">
              <nz-option *ngFor="let local of locals2" [nzValue]="local" [nzLabel]="local.local"></nz-option>
            </nz-select>
            <nz-form-explain class="error" *ngIf="localSelected2 === null && !disableTwo && submitted">Campo Obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

  </form>

  <nz-form-item>
    <nz-form-label>Ativa</nz-form-label>
    <nz-form-control>
      <nz-switch [(ngModel)]="linkActive"></nz-switch>
    </nz-form-control>
  </nz-form-item>

</div>


<div class="space" nz-row>
  <button nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="isLoading" [disabled]="isLoading" (click)="submit()"
    [nzType]="'primary'">Criar</button>
</div>