<div class="container">
  <div nz-row>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
      <div nz-row>
          <nz-form-label>Nome</nz-form-label>
          <nz-form-control>
              <input type="text" nz-input [(ngModel)]="filters.search">
          </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="2" [nzSm]="2" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
      <div nz-row>
          <nz-form-label>Data da Consulta</nz-form-label>
          <nz-form-control>
            <nz-date-picker [(ngModel)]="filters.appointment_date"></nz-date-picker>
          </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
      <div nz-row>
          <nz-form-label>Tipo</nz-form-label>
          <nz-form-control>
            <nz-select class="primary-select" [(ngModel)]="filters.is_external" nzAllowClear nzShowSearch style="width: 100%;">
              <nz-option nzValue=false nzLabel="Internal"></nz-option>
              <nz-option nzValue=true nzLabel="External"></nz-option>
            </nz-select>
          </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
      <div nz-row>
          <nz-form-label>Meios de prestação disponíveis</nz-form-label>
          <nz-form-control>
            <nz-select class="primary-select" [(ngModel)]="filters.appointment_type" nzAllowClear nzShowSearch [nzLoading]="appointmentTypesLoading"  style="width: 100%;">
              <nz-option *ngFor="let type of appointmentTypes"  [nzLabel]="validTranslateName(3,type?.translations)" [nzValue]="type.id"></nz-option>
            </nz-select>
          </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
      <div nz-row>
          <nz-form-label>Especialidade</nz-form-label>
          <nz-form-control>
            <nz-select class="primary-select" [(ngModel)]="filters.specialty" nzAllowClear nzShowSearch [nzLoading]="specialtiesLoading"  style="width: 100%;">
              <nz-option *ngFor="let specialty of specialties" [nzLabel]="validTranslateName(3,specialty?.translations)" [nzValue]="specialty.id"></nz-option>
            </nz-select>
          </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
      <div nz-row>
          <nz-form-label>Estado</nz-form-label>
          <nz-form-control>
            <nz-select class="primary-select" [(ngModel)]="filters.status" nzAllowClear nzShowSearch style="width: 100%;">
              <nz-option nzValue="APPROVED" nzLabel="Marcada"></nz-option>
              <nz-option nzValue="PENDING" nzLabel="Por Confirmar"></nz-option>
              <nz-option nzValue="MISSED" nzLabel="Faltou"></nz-option>
              <nz-option nzValue="CLOSED" nzLabel="Consulta Realizada"></nz-option>
              <nz-option nzValue="CANCELED" nzLabel="Cancelada"></nz-option>
            </nz-select>
          </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3">
      <div nz-row>
        <nz-form-label>Profissional</nz-form-label>
        <nz-form-control>
          <nz-select class="primary-select" [(ngModel)]="filters.doctor" nzAllowClear nzShowSearch [nzLoading]="doctorsLoading"  style="width: 100%;">
            <nz-option *ngFor="let doctor of doctors" [nzLabel]="doctor.user.name" [nzValue]="doctor.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
    <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
      <button nz-button class="btn" nzType="primary" (click)="searchData(true)">Filtrar</button>
  </div>
  <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
      style="text-align: left;">
      <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
  </div>
  </div>
</div>
<div class="container">
  <!--<nz-table class="content-table" #refTable [nzScroll]="{ x: '240px' }" [nzData]="data"
  (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
  [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex"
  (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">-->
  <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)"
    [nzLoading]="loading" [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true"
    [nzTotal]="totalData" [(nzPageSize)]="pageSize" (nzPageIndexChange)="pagination()"
    (nzPageSizeChange)="pagination(true)">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr class="table__header">
      <th></th>
      <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
          [nzSortKey]="column.sortKey ? column.sortKey : column.key"> {{ column.label }}</th>
      <th nzRight="0px">Ações</th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-data [ngForOf]="refTable.data">
      <tr>
        <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
        <td *ngFor="let column of columns">
            <span *ngIf="!column.tag">{{ column.translation ? (data.translations | where: ['language_id', 3]
            )[0][column.key] : (data | flatObject)[column.key]}}</span>
          <span *ngIf="column.tag">
              <fi-sas-tag [value]="data[column.key]" [results]="column.tag"></fi-sas-tag>
            </span>
          <span *ngIf="column.template">
              {{ column.template(data) }}
            </span>
        </td>
        <td nzRight="0px">
          <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
                  nzPlacement="bottomRight"><i nz-icon nzType="dash" nzTheme="outline"></i></button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li [nzDisabled]="data?.status!=='PENDING' && data?.status!=='APPROVED'" nz-menu-item
                (click)="absenceAppointment(data.id)">Marcar Falta</li>
              <li [nzDisabled]="data?.status!=='PENDING'" nz-menu-item
                (click)="approveRequest(data.id)">Confirmar</li>
              <li nz-menu-item (click)="openHistoric(data.id, tplTitleHistoric, tplContentHistoric, tplFooterHistoric)">Histórico</li>
              <li [nzDisabled]="data?.status!=='PENDING' && data?.status!=='APPROVED'" nz-menu-item
                (click)="changeAppointment(data.id, tplTitle, tplContent, tplFooter)">Alterar</li>
              <li [nzDisabled]="data?.status!=='PENDING' && data?.status!=='APPROVED'" nz-menu-item
                (click)="cancelAppointment(data.id)">Cancelar</li>
              <li [nzDisabled]="data?.status!=='CLOSED'" nz-menu-item
                (click)="generateCertificate(data.id)">Emitir Certificado de presença</li>
              <li [nzDisabled]="data?.status!=='APPROVED'" nz-menu-item
                (click)="generateCalendarExport(data.id)">Exportar para calendário</li>
            </ul>
          </nz-dropdown-menu>
        </td>
      </tr>
      <tr [nzExpand]="mapOfExpandData[data.id]">
        <td [attr.colspan]="columns.length + 3">
          <fi-sas-view-appointment [appointment]="data"></fi-sas-view-appointment>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </nz-table>
  <!--<div style="text-align: center; padding-bottom:15px">
    <nz-pagination id="pagination-list-appointments" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
      [(nzPageIndex)]="pageIndex" (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)"
      nzShowSizeChanger></nz-pagination>
  </div>-->
</div>

<ng-template #tplTitle>
  <span>Alteração de Marcação</span>
</ng-template>
<ng-template #tplContent>
  <div >
    <div nz-row>
      <h3>Pretende alterar a marcação?</h3>
    </div>
    <div nz-row>
      <div nz-col nzSpan="8">
        <div nz-row>
          <h3>Data:</h3>
        </div>
        <div nz-row>
          <p>{{ selectedAppointment.date | date: "dd/MM/yyyy" }}</p>
        </div>
      </div>
      <div nz-col nzSpan="8">
        <div nz-row>
          <h3>Hora Inicio:</h3>
        </div>
        <div nz-row>
          <p>{{ selectedAppointment.start_hour }} h</p>
        </div>
      </div>
      <div nz-col nzSpan="8">
        <div nz-row>
          <h3>Hora Fim:</h3>
        </div>
        <div nz-row>
          <p>{{ selectedAppointment.end_hour }} h</p>
        </div>
      </div>
    </div>
    <form [formGroup]="changeAppointmentForm" nzLayout="vertical">

    <div nz-row *ngIf="!selectedAppointment.specialty.is_external">
      <div class="content--padding scroll-container">
        <div nz-row>
          <ngx-fullcalendar #calendar defaultView="basicWeek" height="auto"  aspectRatio="2" [events]="eventsInCalendar" [options]="options"
          (onEventClick)="selectAppointmentSchedule($event.event)"></ngx-fullcalendar>
        </div> 
      </div>
    </div>
    <div nz-row *ngIf="selectedAppointment.specialty.is_external">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="date">Data Pretendida</nz-form-label>
          <nz-form-control>
            <nz-date-picker class="primary-datePicker" formControlName="date" id="date" [nzDisabledDate]="disableDate"></nz-date-picker>
            <nz-form-explain class="color-required" *ngIf="submitted && f.date.errors">Campo obrigatório</nz-form-explain>
        </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="start_hour">Hora Pretendida</nz-form-label>
          <nz-form-control>       
            <nz-time-picker formControlName="start_hour" nzFormat="HH:mm" nzPlaceHolder="Hora" [nzDefaultOpenValue]="defaultOpenValue"></nz-time-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
      <div nz-row *ngIf="f.date.value && f.start_hour.value">
        <div nz-col nzSpan="24">
          <span class="content__title">Data/Hora Escolhida: <b>{{f.date.value | date:"dd/MM/yyyy" }} - {{ f.start_hour.value | date:"HH:mm:ss" }}</b></span>
        </div>
      </div>
      <div nz-col >
        <nz-form-item>
          <nz-form-label nzRequired nzFor="observations">Observações</nz-form-label>
          <nz-form-control>
            <textarea maxlength="255" nz-input formControlName="observations" id="observations" rows="4"></textarea>
            <nz-form-explain class="color-required" *ngIf="submitted && f.observations.errors">Campo obrigatório</nz-form-explain>
        </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #tplFooter>
  <button nz-button nzType="primary" (click) = "saveAppointmentChanged()">Alterar</button>
  <button nz-button nzType="primary" (click)="closeEventModal()">Fechar</button>
</ng-template>

<ng-template #tplTitleHistoric>
  <span>Consultar o Histórico</span>
</ng-template>
<ng-template #tplContentHistoric>
  <div>
    <div nz-row>
      <h3>Informações da Marcação</h3>
    </div>
    <div nz-row>
      <div nz-col nzSpan="6">
        <div nz-row>
          <h4>Data:</h4>
        </div>
        <div nz-row>
          <p>{{ appointmentHistoric.appointment.date | date: "dd/MM/yyyy" }}</p>
        </div>
      </div>
      <div nz-col nzSpan="6">
        <div nz-row>
          <h4>Hora Inicio:</h4>
        </div>
        <div nz-row>
          <p>{{ appointmentHistoric.appointment.start_hour }}</p>
        </div>
      </div>
      <div nz-col nzSpan="6">
        <div nz-row>
          <h4>Hora Fim:</h4>
        </div>
        <div nz-row>
          <p>{{ appointmentHistoric.appointment.end_hour }}</p>
        </div>
      </div>
      <div nz-col nzSpan="6">
        <div nz-row>
          <h4>Estado:</h4>
        </div>
        <div nz-row>
         <!-- <fi-sas-tag [label]="getAppointmentStatus(appointmentHistoric.appointment.status)" [results]="ApplicationTagResult"></fi-sas-tag>-->
          <p>{{ getAppointmentStatus(appointmentHistoric.appointment.status) }}</p>
        </div>
      </div>
    </div>
    <nz-divider></nz-divider>
      <div nz-row>
        <h3>Histórico da Marcação</h3>
      </div>
      <div nz-row *ngIf="appointmentHistoric.historic.length > 0">
          <nz-table class="content-table" nzTemplateMode>
            <thead>
            <tr class="table__header">
              <th>Data</th>
              <th>Hora Inicio</th>
              <th>Hora Fim</th>
              <th>Estado</th>
              <th>Data/Hora Alteração</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let historic of appointmentHistoric.historic">
                <td><span>{{ historic.date | date: "dd/MM/yyyy" }}</span></td>
                <td><span>{{ historic.start_hour }}</span></td>
                <td><span>{{ historic.end_hour }}</span></td>
                <td><span>{{ getAppointmentStatus(historic.status) }}</span></td>
                <td><span>{{ historic.created_at | date: "dd/MM/yyyy" }} - {{ historic.created_at | date: "HH:mm:ss" }}</span></td>
              </tr>
            </tbody>
          </nz-table>
        </div>
        <div nz-row *ngIf="appointmentHistoric.historic.length === 0">
          <div nz-row>
            <p>Sem Histórico</p>
          </div>
        </div>
  </div>
</ng-template>
<ng-template #tplFooterHistoric>
  <button nz-button nzType="primary" (click)="closeEventModal()">Fechar</button>
</ng-template>