@import "theme";

.report{
    padding-top: 2px;
}

.download-button {
    font-size: 12px;
    margin-right: 10px;
    margin-top: 5px;
}

:host::ng-deep {

  .header-icon {
    svg {
      path {
        fill: white;
      }
    }
  }

}


.padding-loading {
  padding-top: 10px;
  padding-bottom: 15px;
}


.border-buttons {
  padding-top:10px;
  border-top: 1px solid #e8e8e8;
}

::ng-deep {
  .ant-popover-title {
    min-height: 32px;
    margin: 0;
    padding: 10px 16px 4px;
    min-width: 120px !important;
    border-bottom: 2px solid var(--primary-color);
    color: black;
    font-size: 14px;
    font-weight: bold;
    width: 120px;
    color: var(--primary-color);
  }

  .ant-popover-arrow {
    display: none;
  }

  .reports-button>span>.ant-badge>.ant-badge-count{
    z-index: 10 !important;
    min-width: 11px !important;
    height: 20px !important;
    padding-top: -1px !important;
    padding: 0 6px !important;
    color: var(--primary-color) !important;
    font-weight: normal !important;
    font-size: 12px !important;
    /* line-height: 20px; */
    white-space: nowrap !important;
    text-align: center !important;
    background: white !important;
    border-radius: 10px !important;
    box-shadow: 0 0 0 1px #fff !important;
  }
}

.button {
  background-color: var(--primary-color);
  color: white;
  border: var(--primary-color);
  font-size: 12px;
}

.space-button {
  text-align: right ;
  
  @media screen and (max-width: 600px) {
    text-align: center ;
  }
}

.button-more {
  @media screen and (max-width: 600px) {
    text-align: center ;
    padding: 5px;
  }
}

.text-title {
  font-size: 13px;
  color: black;
}

.description {
  font-size: 11px;
}

.bold {
  font-weight: bold;
}


#icon-report::ng-deep svg {
  g path {
      fill: var(--primary-color);
  }
}

#icon-report-file::ng-deep svg {
  path {
      fill: white;
  }
}

#icon-report::ng-deep svg {
  path {
      fill: var(--primary-color);
  }
}

#waiting-report::ng-deep svg {
  path {
      fill: darkorange;
  }
}

#failed-report::ng-deep svg {
  path {
      fill: rgb(208, 2, 27);;
  }
}

.icon {
  vertical-align: middle;
  font-size: 22px;
  padding-bottom: 6px;
  padding-top: 5px;
}

.icon-file{
  vertical-align: middle;
  font-size: 16px;
  padding-bottom: 6px;
  padding-top: 5px;
  background-color: var(--primary-color);
  border-radius: 22px;
  padding-left: 7px;
  padding-right: 7px;
}

.icon-delete {
  font-size: 14px;
  cursor: pointer;
}