<form nz-form [formGroup]="form" class="form">
  <h2 class="title-top-page"> {{ 'SOCIAL_SUPPORT.ATTENDANCES.TABS.MONTHLY_REPORT.TITLE' | translate }}</h2>


  <nz-form-item>
    <nz-form-label nzRequired nzFor="date" class="primary-input-label">
      {{ 'SOCIAL_SUPPORT.ATTENDANCES.TABS.MONTHLY_REPORT.FORM.DATE' | translate}}
    </nz-form-label>

    <nz-form-control>
      <nz-month-picker formControlName="date" class="primary-monthPicker"
        [nzPlaceHolder]="'SOCIAL_SUPPORT.ATTENDANCES.TABS.MONTHLY_REPORT.FORM.DATE_PLACEHOLDER' | translate">
      </nz-month-picker>
      <nz-form-explain class="error" *ngIf="form.get('date')?.dirty && form.get('date').errors">{{ getInputError('date')
        }}</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="report" class="primary-input-label">
      {{ 'SOCIAL_SUPPORT.ATTENDANCES.TABS.MONTHLY_REPORT.FORM.REPORT' | translate }}
    </nz-form-label>
   
    <nz-form-control>
      <textarea maxlength="255" class="primary-textarea" rows="5" formControlName="report" id="report" nz-input (ngModelChange)="onChangeRequired()"></textarea>
      <nz-form-explain class="error" *ngIf="form.get('report')?.dirty && form.get('report').errors">
        {{ getInputError('report') }}
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="file" class="primary-input-label">
      {{ 'SOCIAL_SUPPORT.ATTENDANCES.TABS.MONTHLY_REPORT.FORM.ATTACHMENT' | translate }}
    </nz-form-label>
   
    <nz-form-control>
      <app-file-upload class="primary-file-upload" [filterTypes]="filterTypes" formControlName="file" (fileDeleted)="form.get('file').setValue(null)" (ngModelChange)="onChangeRequired()"></app-file-upload>
      <div class="font-file">
        {{ 'MISC.FORMAT_UPLOAD' | translate }} pdf. {{ 'MISC.LIMIT_MAX_FILE' | translate }}
      </div>
      <nz-form-explain class="error" *ngIf="form.get('file')?.dirty && form.get('file').errors">
        {{ getInputError('file') }}
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <div class="form--button">
    <app-button type="primary" translate="MISC.SUBMIT" [loading]="isLoading"
      buttonType="submit" (click)="onSubmit()"></app-button>
  </div>
</form>