<div nzType="flex" nzAlign="middle" nzJustify="center" perfectScrollbar>
  <div class="container">
    <form [formGroup]="packForm" nzLayout="vertical">
      <nz-spin [nzSpinning]="languages_loading">
        <ng-container formArrayName="translations">
          <nz-tabset [nzTabBarExtraContent]="languageTemplate" #translationTabs>
            <nz-tab
              *ngFor="let translation of translations.controls; let i = index"
              [nzTitle]="getLanguageName(translation.value.language_id)"
            >
              <ng-container [formGroupName]="i">
                <nz-form-item>
                  <nz-form-label nzRequired> Nome </nz-form-label>
                  <nz-form-control>
                    <input type="text" nz-input formControlName="name" />
                  </nz-form-control>
                  <nz-form-explain
                    class="color-required"
                    *ngIf="
                      submitted &&
                      packForm.get('translations.' + i + '.name')?.errors
                    "
                  >
                    Campo obrigatório
                  </nz-form-explain>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired> Descrição </nz-form-label>
                  <nz-form-control>
                    <input type="text" nz-input formControlName="description" />
                  </nz-form-control>
                  <nz-form-explain
                    class="color-required"
                    *ngIf="
                      submitted &&
                      packForm.get('translations.' + i + '.description')?.errors
                    "
                  >
                    Campo obrigatório
                  </nz-form-explain>
                </nz-form-item>
              </ng-container>
            </nz-tab>
          </nz-tabset>
        </ng-container>
        <nz-form-explain
          class="color-required"
          *ngIf="submitted && errorTrans"
          style="padding-top: 20px"
        >
          Obrigatório preencher pelo menos uma tradução
        </nz-form-explain>
        <div nz-row>
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="6"
            [nzLg]="3"
            [nzXl]="3"
            [nzXXl]="3"
          >
            <div nz-row class="padding-bottom-5">
              <nz-form-label nzRequired> Ativo </nz-form-label>
            </div>
            <div nz-row class="padding-bottom-5 padding-top-5">
              <nz-switch formControlName="active"> </nz-switch>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.active.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="6"
            [nzLg]="3"
            [nzXl]="3"
            [nzXXl]="3"
          >
            <div nz-row class="padding-bottom-5">
              <nz-form-label nzRequired> Venda ao público </nz-form-label>
            </div>
            <div nz-row class="padding-bottom-5 padding-top-5">
              <nz-switch formControlName="sell_to_public"> </nz-switch>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.sell_to_public.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>

        <nz-divider nzText="Configuração" nzOrientation="left"></nz-divider>

        <div nz-row nzGutter="14">
          <div nz-col nzSpan="3">
            <div nz-row>
              <nz-form-label nzRequired>Periodo</nz-form-label>
              <nz-form-control nzSpan="24">
                <nz-radio-group formControlName="period">
                  <label nz-radio-button [nzValue]="PackPeriodEnum.WEEK"
                    >Semana</label
                  >
                  <label nz-radio-button [nzValue]="PackPeriodEnum.MONTH"
                    >Mês</label
                  >
                </nz-radio-group>
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.period.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
          <div nz-col nzSpan="4">
            <div nz-row>
              <nz-form-label nzRequired>Numero de Almoços</nz-form-label>
              <nz-form-control nzSpan="24">
                <input nz-input formControlName="number_lunchs" />
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.number_lunchs.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>

          <div nz-col nzSpan="3">
            <div nz-row>
              <nz-form-label nzRequired
                >Almoço bloqueado a partir</nz-form-label
              >
              <nz-form-control nzSpan="24">
                <nz-time-picker
                  formControlName="blocking_lunch_at"
                ></nz-time-picker>
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.blocking_lunch_at.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>

          <div nz-col nzSpan="4">
            <div nz-row>
              <nz-form-label nzRequired>Numero de Jantares</nz-form-label>
              <nz-form-control nzSpan="24">
                <input nz-input formControlName="number_dinners" />
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.number_dinners.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>

          <div nz-col nzSpan="3">
            <div nz-row>
              <nz-form-label nzRequired
                >Jantar bloqueado a partir</nz-form-label
              >
              <nz-form-control nzSpan="24">
                <nz-time-picker
                  formControlName="blocking_dinner_at"
                ></nz-time-picker>
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.blocking_dinner_at.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>

        <nz-divider nzText="Preços" nzOrientation="left"></nz-divider>

        <div nz-row nzGutter="14">
          <div nz-col nzSpan="6">
            <div nz-row>
              <nz-form-label nzRequired>Preço</nz-form-label>
              <nz-form-control nzSpan="24">
                <input nz-input formControlName="price" />
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.price.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>

          <div nz-col nzSpan="6">
            <div nz-row>
              <nz-form-label nzRequired> Taxa de Iva </nz-form-label>
              <nz-form-control nzSpan="24">
                <nz-select
                  class="primary-select"
                  formControlName="vat_id"
                  nzShowSearch
                >
                  <nz-option
                    *ngFor="let tax of taxes"
                    [nzLabel]="tax?.name"
                    [nzValue]="tax.id"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.vat_id.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>
      </nz-spin>
    </form>
  </div>
  <div class="space">
    <button *ngIf="id != undefined" nz-button (click)="backList()">
      Voltar
    </button>
    <button
      nz-button
      [nzLoading]="loading"
      [disabled]="loading"
      (click)="id != undefined ? submitAllergen(true) : submitAllergen(false)"
      class="button-submit"
      [nzType]="'primary'"
    >
      {{ id != undefined ? 'Editar' : 'Criar' }}
    </button>
  </div>
</div>
<ng-template #languageTemplate>
  <nz-select
    class="languages"
    nzMode="multiple"
    [(ngModel)]="listOfSelectedLanguages"
    [nzMaxTagCount]="1"
    nzPlaceHolder="Línguas"
    [nzLoading]="languages_loading"
    (ngModelChange)="changeLanguage()"
  >
    <nz-option
      *ngFor="let language of languages"
      [nzLabel]="language.name"
      [nzValue]="language.id"
    ></nz-option>
  </nz-select>
</ng-template>
