.top {
  padding-top: 25px;
  margin-bottom: 25px;
}

.listcontact {
  @import 'theme';


  &__information {
    background-color: #ffffff;
    padding: 30px 35px 30px 35px;
    font-family: Montserrat;
    margin-bottom: 30px;
    margin-top: 35px;
  }

}

.btn {
  display: flex;
  float: left;
}

