<div nz-row>
  <!--Back Button-->

  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
  </div>

  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12" class="top">

    <app-button translate="MISC.RETURN" [routerLink]="['/privateaccommodation', 'list-detail', id]" [leftIcon]="'left'"
      [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}" type="tertiary"></app-button>
  </div>

  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
  </div>

</div>



<div nz-row>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6"></div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12">
    <h2 class="title-top-page"> {{ 'PRIVATEACCOMMODATION.CONTACT_OWNER.TITLE' | translate }}</h2>
    <div class="listcontact__information">
      <nz-spin [nzSpinning]="loadingContacts" [nzSize]="'large'"></nz-spin>
      <span *ngIf="!loadingContacts">
        <p>
          <span class="sub-title-resume">
            {{ 'PRIVATEACCOMMODATION.CONTACT_OWNER.NAME' | translate }}
          </span>
          <span class="desc-resume"> {{ details?.owner?.user?.name }}</span>

        </p>
        <p>
          <span class="sub-title-resume">
            {{ 'PRIVATEACCOMMODATION.CONTACT_OWNER.GENDER' | translate }}
          </span>
          <span class="desc-resume"> {{
            (details?.owner?.user?.gender === 'F'
            ? 'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.GEN2'
            : 'PRIVATEACCOMMODATION.FORM_PROPERTY.FORM.STEP_FIVE.FORM_ELEMENTS.GEN3'
            ) | translate
            }}</span>

        </p>
        <p>
          <span class="sub-title-resume">
            {{ 'PRIVATEACCOMMODATION.CONTACT_OWNER.PHONE' | translate }}
          </span>
          <span class="desc-resume"> {{ details?.owner?.user?.phone }}</span>

        </p>
        <p>
          <span class="sub-title-resume">
            {{ 'PRIVATEACCOMMODATION.CONTACT_OWNER.EMAIL' | translate }}
          </span>
          <span class="desc-resume"> {{ details?.owner?.user?.email }}</span>

        </p>
        <p>
          <span class="sub-title-resume">
            {{ 'PRIVATEACCOMMODATION.CONTACT_OWNER.COUNTRY' | translate }}
          </span>
          <span class="desc-resume"> {{ details?.owner?.user?.country }}</span>

        </p>
      </span>
    </div>
  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
  </div>
</div>