<div nzType="flex" nzAlign="middle" nzJustify="center" perfectScrollbar class="page ps scroll-container">
    <div class="container">
        <form [formGroup]="nutrientForm" nzLayout="vertical">
            <nz-spin [nzSpinning]="languages_loading">
                <ng-container formArrayName="translations">
                    <nz-tabset [nzTabBarExtraContent]="languageTemplate" #translationTabs>
                        <nz-tab *ngFor="let translation of translations.controls; let i = index;"
                            [nzTitle]="getLanguageName(translation.value.language_id)">
                            <ng-container [formGroupName]="i">
                                <nz-form-item>
                                    <nz-form-label nzRequired>
                                        Nome
                                    </nz-form-label>
                                    <nz-form-control>
                                        <input type="text" nz-input formControlName="name">
                                    </nz-form-control>
                                    <nz-form-explain class="color-required"
                                        *ngIf="submitted && nutrientForm.get('translations.' + i + '.name')?.errors">
                                        Campo obrigatório
                                    </nz-form-explain>
                                </nz-form-item>
                            </ng-container>
                        </nz-tab>
                    </nz-tabset>
                </ng-container>
                <div nz-row>
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7"
                        class="padding-right-20">
                        <div nz-row>
                            <nz-form-label nzRequired>
                                Unidade
                            </nz-form-label>
                            <nz-form-control>
                                <nz-select class="primary-select" formControlName="unit_id" nzShowSearch>
                                    <nz-option *ngFor="let unit of units" [nzLabel]="(unit?.translations | translation)?.name"
                                        [nzValue]="unit.id">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && f.unit_id.errors">
                                Campo obrigatório
                            </nz-form-explain>
                        </div>
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7"
                        class="padding-right-20">
                        <div nz-row>
                            <nz-form-label nzRequired>
                                Dose Diária Recomendada
                            </nz-form-label>
                            <nz-form-control nzSpan="24">
                                <input nz-input type="number" formControlName="ddr" id="quantity">
                            </nz-form-control>
                            <nz-form-explain class="color-required" *ngIf="submitted && f.ddr.errors">
                                Campo obrigatório
                            </nz-form-explain>
                        </div>
                    </div>
                </div>
                <div nz-row style="padding-top: 20px;">
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
                        <div nz-row class="padding-bottom-5">
                            <nz-form-label nzRequired>
                                Ativo
                            </nz-form-label>
                        </div>
                        <div nz-row class="padding-bottom-5 padding-top-5">
                            <nz-switch formControlName="active">
                            </nz-switch>
                            <nz-form-explain class="color-required" *ngIf="submitted && f.active.errors">
                                Campo obrigatório
                            </nz-form-explain>
                        </div>
                    </div>
                </div>
                <nz-form-explain class="color-required" *ngIf="submitted && errorTrans" style="padding-top: 20px;">
                    Obrigatório preencher pelo menos uma tradução
                </nz-form-explain>
            </nz-spin>
        </form>
    </div>
    <div class="space">
        <button *ngIf="id != undefined" nz-button (click)="backList()">Voltar</button>
        <button nz-button [nzLoading]="loading" [disabled]="loading"
            (click)="id != undefined ? submitNutrient(true) : submitNutrient(false)" class="button-submit"
            [nzType]="'primary'">{{id
            != undefined ? 'Editar' : 'Criar'}}</button>
    </div>
</div>
<ng-template #languageTemplate>
    <nz-select class="languages" nzMode="multiple" [(ngModel)]="listOfSelectedLanguages" [nzMaxTagCount]="1"
        nzPlaceHolder="Línguas" [nzLoading]="languages_loading" (ngModelChange)="changeLanguage()">
        <nz-option *ngFor="let language of languages" [nzLabel]="language.name" [nzValue]="language.id"></nz-option>
    </nz-select>
</ng-template>