<div class="container">
    <div class="content-table">
        <nz-table class="table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
            (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
            [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
            (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
            <thead (nzSortChange)="sort($event)" nzSingleSort>
                <tr class="table__header">
                    <th></th>
                    <th>
                        Título do Evento
                    </th>
                    <th nzShowSort nzSortKey="city">
                        Local
                    </th>
                    <th nzShowSort nzSortKey="recurrence_type">
                        Recorrência
                    </th>
                    <th nzShowSort nzSortKey="category_id">
                        Categoria
                    </th>
                    <th nzShowSort nzSortKey="status">
                        Estado
                    </th>
                    <th nzRight="0px">Ações</th>
                </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-data [ngForOf]="refTable.data">
                    <tr>
                        <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
                        <td>
                            {{validTranslateTitle(3,data?.translations)}}
                        </td>
                        <td>
                            {{data?.city}}
                        </td>
                        <td>
                            {{data.recurrence_type == 'RECURRENT' ? 'Recorrente' : 'Único'}}
                        </td>
                        <td>
                            <nz-tag [nzColor]="data?.category?.color">
                                {{validTranslateName(3,data?.category?.translations)}}</nz-tag>
                        </td>
                        <td>
                            <fi-sas-tag [value]="data.status" [results]="StatusEventos"></fi-sas-tag>
                        </td>
                        <td nzRight="0px">
                            <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
                                nzPlacement="bottomRight">
                                <i nz-icon nzType="dash" nzTheme="outline"></i>
                            </button>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li [nzDisabled]="!('calendar:events:update' | hasPermission) || data?.status == 'CANCELLED'"
                                        nz-menu-item (click)="edit(data.id, data?.status)">
                                        Editar
                                    </li>
                                    <li [nzDisabled]="data?.status == 'REJECTED' || data?.status == 'APPROVED' || data?.status == 'CANCELLED' || !('calendar:events:status' | hasPermission)" (click)="aproveEvent(data)" nz-menu-item>
                                        Aprovar
                                    </li>
                                    <li [nzDisabled]="data?.status == 'REJECTED' || data?.status == 'APPROVED' || data?.status == 'CANCELLED' || !('calendar:events:status' | hasPermission)" (click)="rejectEvent(data)" nz-menu-item>
                                        Rejeitar
                                    </li>
                                    <li [nzDisabled]="data?.status == 'REJECTED' || data?.status == 'CANCELLED' || !('calendar:events:status' | hasPermission)" (click)="cancelEvent(data)" nz-menu-item>
                                        Cancelar
                                    </li>
                                    <li [nzDisabled]=" !('calendar:events:report' | hasPermission)" (click)="generateReport(data)" nz-menu-item>
                                        Relatório Inscritos
                                    </li>
                                </ul>
                            </nz-dropdown-menu>
                        </td>
                    </tr>
                    <tr [nzExpand]="mapOfExpandData[data.id]">
                        <td [attr.colspan]="columns.length + 7">
                          <fi-view-list-events [data]="data"></fi-view-list-events>
                        </td>
                      </tr>
                </ng-template>
            </tbody>
        </nz-table>
    </div>
</div>