<!-- BEGIN: Header -->
<div nz-row>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="20" [nzXs]="22">
    <div class="offers-header">
      <h2 class="title-top-page">{{
        translations?.length > 1
        ? (translations | languageChange)?.name
        : ('DASHBOARD.BUTTON.VOLUNTEERING' | translate)
        }}</h2>
      <p class="sub-title-top-page"> {{ 'VOLUNTEERING.MY_PARTICIPATIONS_LIST' | translate }}</p>
    </div>
  </div>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>
<!-- END: Header -->

<div nz-row>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="20" [nzXs]="22">
    <!-- BEGIN: Offers list -->
    <div nz-row class="list-offer--item" nzGutter="8" *ngFor="let action of actions; let i = index">
      <div nz-col>
        <app-actions-card [action]="action" (isCancel)="onCancel()" (openList)="onManage(i)"></app-actions-card>

        <ng-container *ngIf="actionToManage === i">
          <app-selected-candidates [actionId]="action.id" (candidatesChange)="onCandidatesChange()">
          </app-selected-candidates>
        </ng-container>
      </div>
    </div>
    <div nz-row nzType="flex" nzJustify="center" nzAlign="middle" *ngIf="actions.length === 0 && !isLoading">
      <div nz-col class="list-offer--no-data">
        {{ 'VOLUNTEERING.NO_PARTICIPATIONS' | translate }}
      </div>
    </div>
    <div nz-row *ngIf="isLoading">
      <nz-spin [nzSpinning]="isLoading" class="list-offer--loading"></nz-spin>
    </div>
    <!-- END: Offers list -->
  </div>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>

<!-- BEGIN: Offers History -->
<div nz-row class="list-offer--item">
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="20" [nzXs]="22">
    <nz-collapse [nzBordered]="false">
      <nz-collapse-panel #collapsePanel *ngFor="let panel of panels" [nzHeader]="collapseHeaderTemplate"
        [nzActive]="panel.active" [ngStyle]="panel.customStyle" [nzShowArrow]="false">
        <div *ngIf="actionsHistory.length > 0" nz-row class="list-offer--item">
          <div nz-col nzXs="24" nzMd="12" nzXl="8" *ngFor="let history of actionsHistory">
            <app-actions-history-card [action]="history"></app-actions-history-card>
          </div>
        </div>

        <div nz-row *ngIf="actionsHistory.length === 0" class="list-offer--item">
          <div nz-col class="list-offer--no-data">
            {{ 'VOLUNTEERING.NO_PARTICIPATIONS' | translate }}
          </div>
        </div>

        <ng-template #collapseHeaderTemplate>
          <nz-divider [nzText]="text"></nz-divider>
        </ng-template>

        <ng-template #text>
          <div class="box-panel">
            {{ panel.name | translate }}
            <i nz-icon type="icons:icons-arrow-2-right" [nzRotate]="collapsePanel.nzActive ? 90 : -90"></i>
          </div>
        </ng-template>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>
<!-- END: Offers History -->