@import 'theme';

.offers-header {
  margin-bottom: 40px;
  margin-top: 40px;

  &--title {
    color: #111111;
    font-family: Montserrat;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.14;
    margin-bottom: 4px;
  }

  &--subtitle {
    color: #111111;
    font-family: Montserrat;
    font-size: 19px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 1.5;
  }
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.box-selected {
  background-color: var(--primary-color);
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  margin-left: 5px;
  padding: 4px;
}

.box {
  background-color: white;
  border-radius: 3px;
  color: grey;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  margin-left: 5px;
  padding: 4px;
}

.list-offer {
  &--item {
    margin-bottom: 30px;
  }

  &--loading {
    height: 115px;
  }

  &--no-data {
    color: #111111;
    font-family: Montserrat;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    height: 115px;
    letter-spacing: normal;
    line-height: 1.5;
    position: relative;
    text-align: center;
    top: 50px;
  }

  &--roles {
    margin-bottom: 20px;
    text-align: right;
    text-transform: uppercase;
  }
}

.white-color {
  background-color: white;
}

.topnav span {
  color: grey;
  cursor: pointer;
  float: left;
  padding: 25px 20px;
  text-align: center;
  text-decoration: none;
}

.topnav span:hover {
  background-color: #ddd;
  color: black;
}

.active-menu {
  border-bottom: 4px solid var(--primary-color);
  color:  var(--primary-color) !important;
}

.padding-top-15 {
  padding-top: 15px;
}

@media screen and (max-width: 600px) {
  .topnav span {
    width: 50%;
  }

  .active-menu-mobile {
    background-color: var(--primary-color) !important;
    border-bottom: none !important;
    color: white !important;
  }
}

:host::ng-deep {
  .box-panel {
    background: white;
    border-radius: 50px;
    color: #3a3a3a;
    font-family: Montserrat;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.5;
    padding: 4px 10px 4px 10px;
    text-align: center;

    i {
      margin-left: 5px;
    }

    i svg {
      transition: transform 0.24s !important;
    }
  }

  .ant-divider-inner-text {
    padding: 0 !important;
  }

  .ant-divider-horizontal.ant-divider-with-text {
    margin: 0;
  }

  .ant-divider-horizontal.ant-divider-with-text::after {
    border-top: 1px solid var(--primary-color) !important;
  }

  .ant-divider-horizontal.ant-divider-with-text::before {
    border-top: 1px solid var(--primary-color) !important;
  }

  .ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
    margin-bottom: 30px;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0px !important;
  }
}

.hidden-md {
  display: none;
}

.margin-top-20 {
  margin-top: 20px;
}

#pagination-list-offers-status-history ::ng-deep .ant-pagination-options {
  display: block !important;
  margin-left: 10px !important;
  padding-top: 10px;
}

#pagination-list-offers-status-history ::ng-deep .ant-pagination.mini .ant-pagination-options {
  margin-left: 2px;
}

.box-mobile {
  background-color: white;
  padding: 15px;
}

.font-icon-plus {
  font-size: 20px;
  color: var(--primary-color);
}

@media screen and (max-width: 800px) {
  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display: block;
  }

  .margin-bottom-15 {
    margin-bottom: 15px;
  }

  .font-label-mobile {
    color: black;
    font-weight: bold;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }

  .box-mobile {
    background-color: white;
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display: block;
  }

  .margin-bottom-15 {
    margin-bottom: 15px;
  }

  .font-label-mobile {
    color: black;
    font-weight: bold;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }

  .box-mobile {
    background-color: white;
    padding: 20px;
  }
}
