@import 'default-theme.less';

:host::ng-deep {
  display: block;

  .context-title {
    &__container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 168px;
      color: var(--fisas-03);
    }

    &__title {
      font-size: 72px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 78px;
      letter-spacing: -1.78px;
      text-transform: capitalize;
    }

    &__line {
      width: 100%;
      height: 1px;
      background-color: @fisas-grey-03;
    }
  }
}
