<div class="content--padding white">
    <nz-spin [nzSpinning]="isLoading">
        <form nz-form [formGroup]="formCreate">
            <div nz-row>
                <nz-form-item>
                    <nz-form-label nzRequired>Name</nz-form-label>
                    <nz-form-control>
                        <input formControlName="name" nz-input type="text">
                        <nz-form-explain class="color-required" *ngIf="submitted && f.name.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-row>
                <nz-form-item>
                    <nz-form-label nzRequired>Morada</nz-form-label>
                        <nz-form-control>
                            <input formControlName="address" nz-input type="text">
                        <nz-form-explain class="color-required" *ngIf="submitted && f.address.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-row nzGutter="16">
                <div nz-col nzSpan="6">
                <nz-form-item>
                    <nz-form-label nzRequired>Cidade</nz-form-label>
                    <nz-form-control>
                        <nz-select nzMode="default" nzShowSearch formControlName="city">
                            <nz-option *ngFor="let city of cities" [nzLabel]="city.city" [nzValue]="city.city">
                            </nz-option>
                        </nz-select>
                        <nz-form-explain class="color-required" *ngIf="submitted && f.city.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                <nz-form-item>
                    <nz-form-label nzRequired>Código Postal</nz-form-label>
                    <nz-form-control>
                        <input formControlName="postal_code" nz-input type="text" mask="0000-000" placeholder="ex: 4900-000">
                        <nz-form-explain class="color-required" *ngIf="submitted && f.postal_code.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                </div>
            </div>
            <div nz-row nzGutter="24">
                <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label nzRequired>Email</nz-form-label>
                    <nz-form-control>
                        <input formControlName="email" nz-input type="text">
                        <nz-form-explain class="color-required" *ngIf="submitted && f.email.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label nzRequired>Telefone</nz-form-label>
                    <nz-form-control>
                        <input formControlName="phone" nz-input mask="000 000 000">
                        <nz-form-explain class="color-required" *ngIf="submitted && f.phone.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label nzRequired>FAX</nz-form-label>
                    <nz-form-control>
                        <input formControlName="fax" nz-input mask="000 000 000">
                        <nz-form-explain class="color-required" *ngIf="submitted && f.fax.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                </div>
            </div>
            <div nz-row>
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="is_active">Ativo</nz-form-label>
                  <nz-form-control>
                      <nz-switch formControlName="is_active">
                      </nz-switch>
                  </nz-form-control>
                </nz-form-item>
              </div>
        </form>
    </nz-spin>
</div>

<div class="space" nz-row>
  <button *ngIf="isEdit" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="isLoading" [disabled]="isLoading"
    (click)="submit()" class="button-submit"
    [nzType]="'primary'">{{isEdit ? 'Editar' : 'Criar'}}</button>
</div>