<StackLayout class="allergens">
    <fi-action-bar></fi-action-bar>

    <GridLayout rows="*,0">
      <GridLayout rows="*,70">
        <ScrollView row="0">
          <WrapLayout orientation="horizontal" width="100%" class="fisas__content">

            <StackLayout width="100%" class="allergens__intro">
              <Label class="fisas__h1" text="{{ 'ALLERGENS.CONFIGURATION' | translate }}" textWrap="true"></Label>
              <Label class="fisas__h2" text="{{ 'ALLERGENS.INTRO' | translate }}" textWrap="true"></Label>
              <Label class="fisas__note" text="{{ 'ALLERGENS.NOTE' | translate }}" textWrap="true"></Label>
            </StackLayout>


            <StackLayout class="allergens__list" width="100%">

              <!-- allergen -->
              <GridLayout rows="auto auto" columns="* *" class="allergens__list__li" *ngFor="let item of allergens; last as isLast">
                <Label class="fisas__p--label" [text]="item.name" textWrap="true" row="0" col="0"></Label>
                <Switch
                  width="100%"
                  horizontalAlignment="right"
                  [checked]="item.allergic"
                  (checkedChange)="allergensChecked(item.id)"
                  row="0"
                  col="1"></Switch>
                  {{ isLast ? lastAllergen(item) : null }}
              </GridLayout>

            </StackLayout>

          </WrapLayout>
        </ScrollView>
      </GridLayout>

      <StackLayout class="fisas__vertical-down" width="100%">

        <!--button to submit -->
        <StackLayout width="100%">
          <Label class="fisas__btn-bottom fisas__bg--{{ institution }}"
            text="{{ 'ALLERGENS.CONTINUE' | translate }}"
            (tap)="goToDashboard()"></Label>
        </StackLayout>

      </StackLayout>
    </GridLayout>
  </StackLayout>