@import '~/scss/_variables';


.allergens {
    /* ----------------------- */
    /* Component */

    &__intro{
        margin-top: 40;
    }

    &__list {
        margin-top: 30;

        &__li {
            margin-bottom: 10;
        }
    }

    /* ----------------------- */
    /* Common */

    .fisas {
        &__note {
            margin-top: 6;
        }
    }
}