<div nzType="flex" nzAlign="middle" nzJustify="center" perfectScrollbar class="page ps scroll-container">
    <div class="container">
        <div class="content-table">
            <nz-table class="table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)"
                [nzLoading]="loading" [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true"
                [nzTotal]="totalData" [(nzPageSize)]="pageSize" (nzPageIndexChange)="pagination()"
                (nzPageSizeChange)="pagination(true)">
                <thead (nzSortChange)="sort($event)" nzSingleSort>
                    <tr class="table__header">
                        <th></th>
                        <th>
                            Operador de Balcão
                        </th>
                        <th>
                            Foto Personalizada
                        </th>
                        <th nzRight="0px">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-data [ngForOf]="refTable.data">
                        <tr>
                            <td>
                                <nz-avatar *ngIf="data.user.photo && data.show_photo" [nzSrc]="data.photo" nzSize="small" [nzSize]="40">
                                </nz-avatar>
                                <nz-avatar *ngIf="!data.user.photo || !data.show_photo" [nzSrc]="'./assets/images/avatar.png'" nzSize="small"
                                  [nzSize]="40">
                                </nz-avatar>
                            </td>
                            <td>
                                {{data.user.name}}
                            </td>
                            <td>
                                <fi-sas-tag [value]="data.show_photo"></fi-sas-tag>
                            </td>
                           
                            <td nzRight="0px">
                                <button nz-button nz-dropdown nzType="link" class="options_button"
                                    [nzDropdownMenu]="menu" nzPlacement="bottomRight">
                                    <i nz-icon nzType="dash" nzTheme="outline"></i>
                                </button>
                                <nz-dropdown-menu #menu="nzDropdownMenu">
                                    <ul nz-menu>
                                        <li nz-menu-item [nzDisabled]="!('queue:desk_operators:update' | hasPermission)" (click)="edit(data.id)">Editar</li>
                                        <li nz-menu-item [nzDisabled]="!('queue:desk_operators:delete' | hasPermission)" (click)="deleteConfirm(data.id)">Eliminar</li>
                                    </ul>
                                </nz-dropdown-menu>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>