<nz-spin [nzSpinning]="loading">
  <div nz-row nzType="flex" class="list-health__header">
    <div nz-col [nzSm]="2" [nzXs]="0"></div>
    <div nz-col [nzSm]="20" [nzXs]="24">
        <h2 class="title-top-page">{{ 'HEALTH.ATTENDANCES_TAB.TITLE' | translate }}</h2>
        <p class="sub-title-top-page">{{ 'HEALTH.ATTENDANCES_TAB.SUBTITLE' | translate }}</p>
    </div>
    <div nz-col [nzSm]="2" [nzXs]="0"></div>
  </div>
  <div nz-row>
    <div nz-col [nzSm]="2" [nzXs]="0"></div>
    <div nz-col [nzSm]="20" [nzXs]="24">
      <div nz-row class="content__space" style="margin-top:0px">
        <div nz-col [nzSm]="24" [nzXs]="24" class="filters">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
            <div nz-col [nzSm]="1" [nzXs]="0"></div>
            <div nz-col [nzSm]="20" [nzXs]="24">
              <p>{{ 'HEALTH.ATTENDANCES_TAB.BUTTONS.FILTER_BY' | translate }}</p>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
            <div nz-col [nzSm]="2" [nzXs]="0"></div>
            <div nz-col [nzSm]="20" [nzXs]="24">
              <nz-range-picker [nzPlaceHolder]="[ ('HEALTH.ATTENDANCES_TAB.BUTTONS.START_DATE' | translate), ('HEALTH.ATTENDANCES_TAB.BUTTONS.END_DATE' | translate)]" [(ngModel)]="dateRange" (ngModelChange)="setDatesAttendances($event)"></nz-range-picker>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="6" [nzXl]="4" [nzXXl]="4">
            <div nz-col [nzSm]="2" [nzXs]="0"></div>
            <div nz-col [nzSm]="20" [nzXs]="24">
              <nz-dropdown nzPlacement="bottomLeft">
                <button nz-button nz-dropdown class="list-host__btn" nzType="secundary">
                  {{ 'HEALTH.ATTENDANCES_TAB.BUTTONS.SPECIALTY' | translate }} <i *ngIf="queryParams.specialties.length>0" class="font-size-icon" nz-icon nzType="filter" nzTheme="outline"></i>
                </button>
                <app-pop-up-specialty nz-menu [specialties]="doctorSpecialties" (specialty)="setSpecialties($event)"></app-pop-up-specialty>
              </nz-dropdown>

                <!--<app-button translate="HEALTH.ATTENDANCES_TAB.BUTTONS.SPECIALTY" type="secundary" [buttonStyle]="{'width': '100%'}"></app-button>-->
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="6" [nzXl]="4" [nzXXl]="4">
            <div nz-col [nzSm]="2" [nzXs]="0"></div>
            <div nz-col [nzSm]="20" [nzXs]="24">
              <nz-dropdown nzPlacement="bottomLeft">
                <button nz-button nz-dropdown class="list-host__btn" nzType="secundary">
                  {{ 'HEALTH.ATTENDANCES_TAB.BUTTONS.STATUS' | translate }} <i *ngIf="queryParams.status.length>0" class="font-size-icon" nz-icon nzType="filter" nzTheme="outline"></i>
                </button>
                <app-pop-up-status nz-menu (status)="setStatus($event)"></app-pop-up-status>
              </nz-dropdown>
                <!--<app-button translate="HEALTH.ATTENDANCES_TAB.BUTTONS.STATUS" type="secundary" [buttonStyle]="{'width': '100%'}"></app-button>-->
            </div>
          </div>
          <button *ngIf="queryParams.status.length>0 || queryParams.specialties.length>0 || queryParams.start_date || queryParams.end_date" nz-button class="list-host__btn2" (click)="onClear()" nzType="primary">
            {{ 'PRIVATEACCOMMODATION.LIST_HOST.FILTERS' | translate }}
          </button>
        </div>
        <nz-divider class="divider"></nz-divider>

        <div nz-row>
          <nz-tabset class="days-bar" *ngIf="!loading">
              <nz-tab *ngFor="let day of fifteenDays; index as i" (nzSelect)="daySelected(day)"
                  [nzTitle]="dates">
                  <ng-template #dates>
                      <div *ngIf="i === 0" nz-row class="days-bar___weekday"> {{ queryParams.start_date ? (day | date : 'EEEE': null : translate.currentLang).charAt(0).toUpperCase() + (day | date : 'EEEE' : null : translate.currentLang).slice(1) : ("HEALTH.APPOINTMENT_FORM.DAYS.TODAY" | translate) }}</div>
                      <div *ngIf="i=== 1" nz-row class="days-bar___weekday">{{ queryParams.start_date ? (day | date : 'EEEE': null : translate.currentLang).charAt(0).toUpperCase() + (day | date : 'EEEE' : null : translate.currentLang).slice(1) : ("HEALTH.APPOINTMENT_FORM.DAYS.TOMORROW" | translate) }}</div>
                          <div *ngIf="i > 1" nz-row class="days-bar___weekday">{{ (day | date : 'EEEE': null : translate.currentLang).charAt(0).toUpperCase() + (day | date : 'EEEE' : null : translate.currentLang).slice(1) }}</div>
                      <div nz-row class="days-bar___date"> {{ day | date : 'dd MMM yyyy'}}</div>
                  </ng-template>
              </nz-tab>
          </nz-tabset>
          <div nz-row>
            <div nz-col [nzSm]="24" [nzXs]="24">
              <div nz-col [nzSm]="1" [nzXs]="0"></div>
              <h4>{{dayCurrent | date : 'EEEE' : null : translate.currentLang }} - {{dayCurrent | date : 'MMM d yyyy' : null : translate.currentLang }} </h4>
            </div>
          </div>
          <div nz-row>
            <div nz-col [nzSm]="24" [nzXs]="24">
              <nz-table class="content-table" [nzData]="attendances" >
                <tbody>
                  <ng-template ngFor let-appointment [ngForOf]="attendances" let-i="index">
                    <tr (click)="openDetail(appointment.id)">
                      <td>{{ (appointment.appointment_type.translations | languageChange).name }}</td>
                      <td>{{ (appointment.specialty.translations | languageChange).name }}</td>
                      <td class="tdHour"><b>{{ appointment.start_hour | utcHourConvert }}</b></td>
                      <td class="align-left">{{ appointment.name }}</td>
                      <td><nz-tag class="tab-status cursor-cont" [nzColor]="(configStatus | filterStatusConfig: appointment.status.toString()).color">
                        <label>{{ 'HEALTH.APPOINTMENTS_TAB.STATUS.' + appointment.status.toString().toUpperCase() | translate }}</label>
                      </nz-tag></td>
                      <td>
                        <nz-dropdown [nzTrigger]="'hover'" [nzPlacement]="'bottomRight'">
                            <a nz-dropdown><i nz-icon style="font-size:22px" nzType="icons:icons-more-options" nzTheme="outline"></i></a>
                            <ul nz-menu>
                              <li [nzDisabled]="appointment?.status!=='APPROVED'" nz-menu-item (click)="absenceAppointment(appointment.id)">{{ "HEALTH.ATTENDANCES_TAB.OPTIONS.REGISTER_ABSENCE"| translate }}</li>
                              <li [nzDisabled]="appointment?.status!=='CLOSED'" nz-menu-item (click)="generateDeclaration(appointment.id)">{{ "HEALTH.ATTENDANCES_TAB.OPTIONS.DECLARATION_ATTENDANCE"| translate }}</li>
                              <li nz-menu-item (click)="newAppointment(appointment.id)">{{ "HEALTH.ATTENDANCES_TAB.OPTIONS.NEW_APPOINTMENT"| translate }}</li>
                              <li [nzDisabled]="appointment?.status==='STARTED'" nz-menu-item (click)="changeAppointment(appointment.id)">{{ "HEALTH.ATTENDANCES_TAB.OPTIONS.CHANGE_APPOINTMENT"| translate }}</li>
                            </ul>
                        </nz-dropdown>
                      </td>
                    </tr>
                  </ng-template>
                </tbody>
              </nz-table>
            </div>
          </div>
          <div nz-row>
            <div nz-col [nzSm]="24" [nzXs]="24">
              <div nz-col [nzSm]="1" [nzXs]="0"></div>
              <h4>{{ 'HEALTH.ATTENDANCES_TAB.ATTENDANCES_HISTORIC' | translate}}</h4>
            </div>
          </div>
          <div nz-row>
            <div nz-col [nzSm]="24" [nzXs]="24">
              <nz-table class="content-table" [nzData]="attendancesDailyHistoric" >
                <tbody>
                  <ng-template ngFor let-appointment [ngForOf]="attendancesDailyHistoric" let-i="index">
                    <tr>
                      <td>{{ (appointment.appointment_type.translations | languageChange).name }}</td>
                      <td>{{ (appointment.specialty.translations | languageChange).name }}</td>
                      <td class="tdHour"><b>{{ appointment.start_hour | utcHourConvert }}</b></td>
                      <td class="align-left">{{ appointment.name }}</td>
                      <td><nz-tag class="tab-status cursor-cont" [nzColor]="(configStatus | filterStatusConfig: appointment.status.toString()).color">
                        <label>{{ 'HEALTH.APPOINTMENTS_TAB.STATUS.' + appointment.status.toString().toUpperCase() | translate }}</label>
                      </nz-tag></td>
                      <td class="align-right">{{ 'HEALTH.APPOINTMENT_FORM.START_HOUR' | translate}} <span class="tdHour"><b> {{ appointment?.attendance?.start_hour ? (appointment?.attendance.start_hour | utcHourConvert ) : "---" }}</b></span></td>
                      <td>{{ 'HEALTH.APPOINTMENT_FORM.END_HOUR' | translate}} <span class="tdHour"><b>{{ appointment?.attendance?.end_hour ? (appointment?.attendance?.end_hour | utcHourConvert ) : "---" }}</b></span></td>
                      <td>
                        <nz-dropdown [nzTrigger]="'hover'" [nzPlacement]="'bottomRight'">
                            <a nz-dropdown><i nz-icon style="font-size:22px" nzType="icons:icons-more-options" nzTheme="outline"></i></a>
                            <ul nz-menu>
                              <!--<li [nzDisabled]="appointment?.status!=='PENDING' && appointment?.status!=='APPROVED'" nz-menu-item >{{ "HEALTH.ATTENDANCES_TAB.OPTIONS.REGISTER_ABSENCE"| translate }}</li>-->
                              <li [nzDisabled]="appointment?.status!=='CLOSED'" nz-menu-item>{{ "HEALTH.ATTENDANCES_TAB.OPTIONS.DECLARATION_ATTENDANCE"| translate }}</li>
                              <li nz-menu-item (click)="newAppointment(appointment.id)">{{ "HEALTH.ATTENDANCES_TAB.OPTIONS.NEW_APPOINTMENT"| translate }}</li>
                              <!--<li [nzDisabled]="appointment?.status!=='PENDING' && appointment?.status!=='APPROVED'" nz-menu-item>{{ "HEALTH.ATTENDANCES_TAB.OPTIONS.CHANGE_APPOINTMENT"| translate }}</li>-->
                            </ul>
                        </nz-dropdown>
                      </td>
                    </tr>
                  </ng-template>
                </tbody>
              </nz-table>
            </div>
          </div>

          <div nz-row>
            <div nz-col [nzSm]="24" [nzXs]="24">
              <div nz-col [nzSm]="1" [nzXs]="0"></div>
              <h4>{{ 'HEALTH.ATTENDANCES_TAB.ATTENDANCES_OLDER_OPEN' | translate}}</h4>
            </div>
          </div>
          <div nz-row>
            <div nz-col [nzSm]="24" [nzXs]="24">
              <nz-table class="content-table" [nzData]="attendancesHistoric" >
                <tbody>
                  <ng-template ngFor let-appointment [ngForOf]="attendancesHistoric" let-i="index">
                    <tr (click)="openDetail(appointment.id)">
                      <td>{{ (appointment.appointment_type.translations | languageChange).name }}</td>
                      <td>{{ (appointment.specialty.translations | languageChange).name }}</td>
                      <td class="tdHour"><b>{{ appointment.date | date: "yyyy-MM-dd" }}</b></td>
                      <td class="tdHour"><b>{{ appointment.start_hour | utcHourConvert }}</b></td>
                      <td class="align-left">{{ appointment.name }}</td>
                      <td><nz-tag class="tab-status cursor-cont" [nzColor]="(configStatus | filterStatusConfig: appointment.status.toString()).color">
                        <label>{{ 'HEALTH.APPOINTMENTS_TAB.STATUS.' + appointment.status.toString().toUpperCase() | translate }}</label>
                      </nz-tag></td>
                      <td class="align-right">{{ 'HEALTH.APPOINTMENT_FORM.START_HOUR' | translate}} <span class="tdHour"><b> {{ appointment?.attendance?.start_hour ? (appointment?.attendance.start_hour | utcHourConvert ) : "---" }}</b></span></td>
                      <td>{{ 'HEALTH.APPOINTMENT_FORM.END_HOUR' | translate}} <span class="tdHour"><b>{{ appointment?.attendance?.end_hour ? (appointment?.attendance?.end_hour | utcHourConvert ) : "---" }}</b></span></td>
                      <td>
                        <nz-dropdown [nzTrigger]="'hover'" [nzPlacement]="'bottomRight'">
                            <a nz-dropdown><i nz-icon style="font-size:22px" nzType="icons:icons-more-options" nzTheme="outline"></i></a>
                            <ul nz-menu>
                              <li [nzDisabled]="appointment?.status!=='PENDING' && appointment?.status!=='APPROVED'" nz-menu-item (click)="absenceAppointment(appointment.id)">{{ "HEALTH.ATTENDANCES_TAB.OPTIONS.REGISTER_ABSENCE"| translate }}</li>
                              <li [nzDisabled]="appointment?.status!=='CLOSED'" nz-menu-item (click)="generateDeclaration(appointment.id)">{{ "HEALTH.ATTENDANCES_TAB.OPTIONS.DECLARATION_ATTENDANCE"| translate }}</li>
                              <li nz-menu-item (click)="newAppointment(appointment.id)">{{ "HEALTH.ATTENDANCES_TAB.OPTIONS.NEW_APPOINTMENT"| translate }}</li>
                              <li [nzDisabled]="appointment?.status!=='PENDING' && appointment?.status!=='APPROVED'" nz-menu-item (click)="changeAppointment(appointment.id)">{{ "HEALTH.ATTENDANCES_TAB.OPTIONS.CHANGE_APPOINTMENT"| translate }}</li>
                            </ul>
                        </nz-dropdown>
                      </td>
                    </tr>
                  </ng-template>
                </tbody>
              </nz-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nz-spin>