@import 'theme';

nz-empty {
  padding-top: 50px;
}

.list-health {

  &__header {

    @media screen and (min-width: 576px) {
      padding-top: 25px;
    }

    @media screen and (max-width: 576px) {
      padding: 16px;
    }

  }
}

.filters {
  padding: 38px 34px 48px 51px;
}

.days-bar {
    font-style: normal;
    font-stretch: normal;
    font-family: Montserrat;
    margin-bottom: 20px;
    &___weekday {
      width: auto;
      height: 24px;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.33;
      letter-spacing: -0.5px;
      color: unset;
    }
    &___date {
      width: 57px;
      height: 18px;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.29;
      letter-spacing: normal;
      color: unset;
    }
  }

  .title-fields {
    font-weight: bold;
    padding-bottom: 10px;
    color: black;
  }

  .padding-top-20 {
    padding-top: 20px;
  }

  .box {
    text-align: center;
    padding-bottom: 5px;
    border: 1px solid var(--primary-color);
    font-size: 13px;
    color: var(--primary-color);
    font-weight: bold;
    border-radius: 5px;
    margin-right: 10px;
    &___selected {
      border: 1px solid var(--primary-color);
      background-color: var(--primary-color);
      color: white;
      cursor: pointer;
    }
    &___inactive {
      opacity: 50%;
      cursor: default !important
    }
  }
  
  .box:hover {
    cursor: pointer;
    color: white;
    background-color: var(--primary-color);
  }
  
  .color-required {
    color: red;
  }
  
  .tdHour{
    color: var(--primary-color);
  }

  .align-left{
    text-align: left !important;
  }

  .align-right{
    text-align: right !important;
  }


  .error {
    color: red;
    margin-top:5px;
  
    &__input {
      border-color: red !important;
      background-color: #ff00000a;
  
      :focus {
        border-color: red !important;
      }
  
      :hover {
        border-color: red !important;
      }
    }
  }

  
.primary-datePicker,
.primary-timePicker,
.primary-input {
  width: 100%;
}

/*.content-table {
  margin: 8px;
  
  .table {
      &__header {
          th {
              background: white;
              color: var(--primary-6);
              font-weight: 700;
          }

          & > th:first-child {
              border-top-left-radius: 2px !important;
          }
          
          & > th:last-child {
              border-top-right-radius: 2px !important;
          }
      }
      
      tr {
          background: white !important;
      };
  }*/

  .content-table {
    td{
      text-align: center;
      cursor: pointer;
    }
  }
 

  .content-table {
    margin: 8px;
    .options_button {
        color: var(--text-color);
        font-size: 22px;
    }
}