<fi-sas-layout-toolstrip>
  <fi-sas-toolstrip-button tooltip="Eliminar" (onClick)="deletePlayer(player.id)" [permission]="['gamification:players:delete']" iconType="delete"></fi-sas-toolstrip-button>
</fi-sas-layout-toolstrip>

<div *ngIf="player" perfectScrollbar class="content--padding scroll-container">

  <div nz-row>

    <div nz-col nzSpan="12">
      <div nz-row>
        <h3>Nome:</h3>
      </div>
      <div nz-row>
        <p>{{ player.user_id }}</p>
      </div>
    </div>

    <div nz-col nzSpan="12">
      <div nz-row>
        <h3>Nickname:</h3>
      </div>
      <div nz-row>
        <p>{{ player.nickname }}</p>
      </div>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="24">
      <div nz-row>
        <nz-table #teams [nzScroll]="{ x: '240px' }" [nzData]="player.team" [nzShowPagination] = "pagination">
          <thead>
          <tr>
            <th>Equipas</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let team of teams.data">
            <td>{{ team.name }}</td>
          </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>

</div>
