<StackLayout class="mobility-dashboard__container">
    <!-- Action bar -->
    <fi-action-bar [actionBarType]="3" actionBarTitle="{{ 'current-account-list.title' | translate }}" actionBarBack="dashboard"></fi-action-bar>

    <!-- Acccounts horizontal slider -->
    <StackLayout style="width: 100%; background-color: white;">
        <ScrollView orientation="horizontal" class="current-account-list__scrollView" scrollBarIndicatorVisible="false">
            <StackLayout class="current-account-list__content" orientation="horizontal">
                <ng-container *ngFor="let item of accounts;">
                    <StackLayout class="current-account-list__tab {{(item?.account_id === selected) ? 'current-account-list__active--' + institution : 'current-account-list__disabled'}}" (tap)="selectAccount(item?.account_id,item?.account_name,item?.current_balance,item?.in_debt)">
                        <Label class="current-account-list__institute" text="{{ item?.account_name }}"></Label>
                        <Label class="current-account-list__accountName" text="{{ 'current-account-list.account' | translate }}"></Label>
                    </StackLayout>
                </ng-container>
            </StackLayout>
        </ScrollView>
    </StackLayout>
        
    <!-- Main board -->
    <StackLayout style="background-color: #f3f3f3; height: 100%; width: 100%;">
        <!-- Selected account card -->
        <FlexboxLayout class="current-account-list__accountCard">
            <FlexboxLayout *ngIf="isLoading" style="height: 100%; width: 100%;">
                <ActivityIndicator row="1" #activityIndicator [busy]="isLoading" width="100%" height="30" color="lightgray" class="fisas__loading"></ActivityIndicator>
            </FlexboxLayout>

            <FlexboxLayout *ngIf="!isLoading" style="height: 50%; flex-direction: column; align-items: center; justify-content: center;">
                <Label text="{{ account_name }}" class="current-account-list__accountCardTitle"></Label>
                <Label text="{{ 'current-account-list.account' | translate }}" class="current-account-list__accountCardSubtitle"></Label>
            </FlexboxLayout>

            <FlexboxLayout *ngIf="!isLoading" style="height: 50%; flex-direction: row;">
                <FlexboxLayout style="width: 45%; flex-direction: column; align-items: center; justify-content: center">
                    <Label class="current-account-list__accountStatusTitle" text="{{ 'current-account-list.title' | translate }}"></Label>
                    <Label class="current-account-list__accountStatusValue" style="color: #1BA974" text="{{ balance | number : '1.2-2':'pt-PT'}} €"></Label>
                </FlexboxLayout>
                <FlexboxLayout style="width: 55%; flex-direction: column; align-items: center; justify-content: center">
                    <Label class="current-account-list__accountStatusTitle" text="{{ 'current-account-list.pending' | translate }}"></Label>
                    <Label class="current-account-list__accountStatusValue" text="{{ inDebt | number : '1.2-2':'pt-PT' }} €"></Label>
                </FlexboxLayout>
            </FlexboxLayout>
        </FlexboxLayout>

        <!-- Loading movements Activity Indicator -->
        <StackLayout style="height: 100%; width: 100%; margin-top: 40;" *ngIf="isLoading">
            <ActivityIndicator row="1" #activityIndicator [busy]="isLoading" width="100%" height="50" color="lightgray" class="fisas__loading"></ActivityIndicator>
        </StackLayout>

        <!-- Movements list -->
        <StackLayout *ngIf="!isLoading" style="height: 100%; width: 100%; margin-top: 12;">
            <!-- no content labels -->
            <StackLayout *ngIf="total == 0" style="height: 100%; width: 100%;" justifyContent="center">
                    <Label
                        class="fisas__p" style="width: 80%;" marginTop="30%" textWrap = "true" textAlignment="center"
                        text="{{ 'current-account-list.noContent' | translate }}"
                    ></Label>
                    <Label
                        class="fisas__icon current-account-list__icon current-account-list__busicon" text="&#xe924;" marginTop="20" horizontalAlignment="center" verticalAlignment="center"
                    ></Label>
            </StackLayout>

            <!-- Available movements list -->
            <ScrollView orientation="vertical" *ngIf="total > 0">
                <StackLayout>
                    <ng-container *ngFor="let item of movements; let i = index">
                        <!-- Movement box -->
                        <!-- 
                            IF IS NOT EQUAL PREV (movement date is diferent from the prev one) 
                        -->
                        <FlexboxLayout *ngIf="!isEqualPrev(item?.created_at, movements[i-1]?.created_at)" style="flex-direction: column;">
                            <!-- Date and Final balance -->
                            <FlexboxLayout class="current-account-list__dateBalanceSection">
                                <Label text="{{ item?.created_at | date:'longDate':undefined:locale }}" class="current-account-list__dateLabel"></Label>
                                <StackLayout style="background-color: #EAEBEB;" height=34 verticalAlignment="center">
                                    <Label class="current-account-list__balanceLabel" text="{{ item?.current_balance | number : '1.2-2':'pt-PT' }} €"></Label>
                                </StackLayout>
                            </FlexboxLayout>
                            <!-- Movement line -->
                            <FlexBoxLayout class="current-account-list__movementLine" width=100% [nsRouterLink]="['/current-account/detail', item?.id]">
                                <Label *ngIf="item?.operation === 'Anulação'" text="{{ 'current-account-list.annulment' | translate }}: {{ item?.items[0].name }}" class="current-account-list__moveName" textWrap="true"></Label>
                                <Label *ngIf="item?.operation !== 'Anulação'" text="{{ item?.items[0].name }}" class="current-account-list__moveName" textWrap="true"></Label>
                                <!-- Movement color *ngIf [red class or green class] -->
                                <Label *ngIf="item?.operation === 'Carregamento' || item?.operation === 'Anulação'" class="current-account-list__greenMove" text="+{{ item?.total_value | number : '1.2-2':'pt-PT' }} €"></Label>
                                <Label *ngIf="item?.operation === 'Fatura/Recibo'" class="current-account-list__redMove" text="{{ item?.total_value | number : '1.2-2':'pt-PT' }} € "></Label>
                            </FlexBoxLayout>
                        </FlexboxLayout>

                        <!-- 
                            IF IS EQUAL PREV (movement date is the same date as the prev one :: does not show date) 
                        -->
                        <FlexboxLayout *ngIf="isEqualPrev(item?.created_at, movements[i-1]?.created_at)">
                            <FlexBoxLayout class="current-account-list__movementLine" width=100% [nsRouterLink]="['/current-account/detail', item?.id]">
                                <Label *ngIf="item?.operation === 'Fatura/Recibo'" text="{{ item?.items[0].name }}" textWrap="true" class="current-account-list__moveName"></Label>
                                <Label *ngIf="item?.operation === 'Anulação'" text="{{ 'current-account-list.annulment' | translate }}: {{ item?.items[0].name }}" textWrap="true" class="current-account-list__moveName"></Label>
                                <Label *ngIf="item?.operation === 'Carregamento'" text="{{ item?.items[0].name }}" class="current-account-list__moveName2" textWrap="true"></Label>
                                <!-- Movement color *ngIf [red class or green class] -->
                                <Label *ngIf="item?.operation === 'Fatura/Recibo'" class="current-account-list__redMove" text="{{ item?.total_value | number : '1.2-2':'pt-PT'}} € "></Label>
                                <Label *ngIf="item?.operation === 'Carregamento' || item?.operation === 'Anulação'" class="current-account-list__greenMove" text="+{{ item?.total_value | number : '1.2-2':'pt-PT'}} € "></Label>
                            </FlexBoxLayout>
                        </FlexboxLayout>
                    </ng-container>
                    <Button *ngIf="loadMore == true" class="current-account-list__seeMoreButton" text="{{ 'current-account-list.see_more' | translate }}" (tap)="getMovs()"></Button>
                </StackLayout>
            </ScrollView>
        </StackLayout>
    </StackLayout>
</StackLayout>