@import "~/scss/_variables";

.current-account-list {
    &__busicon{
        margin: 15;
    }
    &__icon{
        font-size: 30;
    }
    &__container{
        height: 100%;
        background-color: #f3f3f3;
    }
    &__active{
        &--IPVC {
            border-bottom-width: 3,5;
            border-color: $ipvc;
            color: $ipvc;
        }
    
        &--IPCA {
            border-bottom-width: 3,5;
            border-color: $ipca;
            color: $ipca;
        }
    
        &--IPB {
            border-bottom-width: 3,5;
            border-color: $ipb;
            color: $ipb;
        }
    }
    &__disabled{
        color: $light-grey;
        background-color: white;
    }
    &__scrollView{
        margin-left: 30;
        height: 56;
    }

    &__content{
        height: 100%;
    }
    &__tab{
        flex-direction: column;
        // background-color: white;
        width: 141;
    }

    &__institute{
        margin-top: 7;
        margin-left: 30;
        align-self: center;
        height: 21;
        font-size: 12;
        font-weight: 500;
    }
    &__accountName{
        margin-left: 30;
        align-self: center;
        height: 21;
        font-size: 12;
        font-weight: 300;
    }
    &__accountCard{
        flex-direction: column;
        margin-top: 22;
        background-color: white;
        border-radius: 7;
        height:102;
        width: 85%;
        align-self: center
    }
    &__accountCardTitle{
        font-size: 13;
        font-weight: bold;
        text-align: center;
    }
    &__accountCardSubtitle{
        font-size: 10;
        text-align: center;
    }
    &__accountStatusTitle{
        font-size: 12;
        font-weight: 500;
        text-align: center;
    }
    &__accountStatusValue{
        font-size: 14;
        font-weight: bold;
        text-align: center;
    }
    &__seeMoreButton{
        width: 300; 
        height:42; 
        font-size: 17; 
        font-weight: 500;
        color:black;
        font-family: 'Montserrat Medium';
        background-color: #EAEBEB; 
        margin-top: 30; 
        margin-bottom: 24; 
        border-radius: 70;
    }
    &__dateBalanceSection{
        margin-top: 26; 
        margin-left: 30; 
        margin-right: 30;
        margin-bottom: 13;
        flex-direction: row;
        justify-content: space-between;
        vertical-align: center;
    }
    &__dateLabel{
        font-size: 18; 
        font-weight: 300; 
        font-family: 'Montserrat Light'; 
        color: #666666;
    }
    &__balanceLabel{
        color: #6B6B6B;
        width: 70;
        text-align: center;
        font-size:11; 
        font-weight: bold;
    }
    &__movementLine{
        margin-top: 12;
        margin-bottom: 4;
        margin-left: 30;
        margin-right: 30; 
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center;
    }
    &__moveName{
        font-family: 'Montserrat';
        font-size: 11; 
        font-weight: 500;
        width: 65%;
        text-transform: capitalize;
    }
    &__moveName2{
        font-family: 'Montserrat';
        font-size: 11;
        font-weight: 500;
        width: 65%;
    }
    &__greenMove{
        font-family: 'Montserrat Medium';
        color:#1BA974; 
        font-size:11; 
        font-weight: bold;
    }
    &__redMove{
        font-family: 'Montserrat Medium';
        color:#D0021B; 
        font-size:11; 
        font-weight: bold;
    }
}