<div *ngIf="!edit">
  <h2 class="title-top-page">{{ 'U_BIKE.REGISTRATION_DETAILS.TITLE' | translate }}</h2>
  <p class="sub-title-top-page">{{ 'U_BIKE.REGISTRATION_DETAILS.DESC' | translate }}</p>

  <div nz-row class="details__month">
    <div nz-col>
      <app-month-selector (monthSelected)="getTripsByMonth($event)" [month]="dateSelected"></app-month-selector>
    </div>
  </div>

  <div nz-row class="details__trip" *ngFor="let trip of trips">
    <div nz-col>
      <nz-card [nzLoading]=loadingTrip>
        <div nz-row>
          <div nz-col [nzSpan]="18"><span class="details__trip__start">{{trip.trip_start | date : 'MMM d'}} -
            </span><span class="details__trip__description">{{trip.description}}</span></div>
          <div nz-col [nzSpan]="6" style="text-align: right">
            <span class="details__trip__distance">{{this.numberToDecimalString(trip.distance)}} Km</span>
            <nz-dropdown class="details__trip__options" [nzTrigger]="'click'" [nzPlacement]="'bottomRight'">
              <a nz-dropdown><i nz-icon nzType="icons:icons-more-options" nzTheme="outline"></i></a>
              <ul nz-menu>
                <li nz-menu-item [nzDisabled]="!('u_bike:trips:update' | hasPermission)" (click)="editTrip(trip)">{{ "MISC.EDIT"| translate }}</li>
                <li nz-menu-item [nzDisabled]="!('u_bike:trips:delete' | hasPermission)" (click)="deleteTrip(trip.id)">{{ "MISC.DELETE"| translate }}</li>
              </ul>
            </nz-dropdown>
          </div>
        </div>
      </nz-card>
    </div>
  </div>
  <nz-empty *ngIf="trips.length == 0" [nzNotFoundContent]="'DASHBOARD.WIDGETS.U_BIKE.NO_CONTENT' | translate" class="box-empty"></nz-empty>
  <div nz-row class="details__back">
    <div nz-col>
      <button nz-button nzType="link" (click)="back()">{{ "MISC.BACK" | translate }}</button>
    </div>
  </div>
</div>
<div *ngIf="edit">
  <app-manual-registration [userApplication]="userApplication" [trip]="trip"
    (cancelAddKmButton)="cancelEditTrip($event)"></app-manual-registration>
</div>