:host::ng-deep {

  .ant-card-loading {
    height: 37px;
  }

 .ant-card-loading-block {
   height: 14px;
   margin: 6px 0;
 }

  .details {
    &__title {
      font-size: 21px;
      font-weight: bold;
      line-height: 1.14;
      color: #111111;
      margin-bottom: 14px;
    }

    &__desc {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      color: #111111;
      margin-bottom: 24px;
    }
    &__month {
      text-align: center;
      margin-bottom: 8px;
    }

    &__trip {
      font-size: 14px;
      line-height: 1.71;
      nz-card {
        border: 0;
        border-radius: 8px;
        padding: 20px 32px 20px 32px;
        margin-bottom: 8px;
      }

      &__start {
        font-weight: bold;
        color: black;
      }

      &__description {
        font-weight: unset;
        color: unset;
      }

      &__distance {
        font-weight: bold;
        color: black;
      }

      &__options {
        margin-left: 12px;
        a > i {
          font-size: 20px;
        }
      }
    }

    &__back {
      text-align: center;
      button {
        font-size: 13px;
        font-weight: normal;
        line-height: 3.08;
        color: #000000;
        font-weight: bold;
      }
    }

  }

  .box-empty {
    background-color: white;
    border-radius: 7px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin: 0px !important;
  }
}

