
@import "theme";
  
.content-table {
    margin: 8px;
    
    .table {
        &__header {
            th {
                background: white;
                color: var(--primary-6);
                font-weight: 700;
            }

            & > th:first-child {
                border-top-left-radius: 2px !important;
            }
            
            & > th:last-child {
                border-top-right-radius: 2px !important;
            }
        }
        
        tr {

            /*td {
                color: var(--text-color);
            }*/

            background: white !important;
        }
    }

    .options_button {
        color: var(--text-color);
        font-size: 22px;
    }
}
.container {
  background: white;
  padding: 24px 30px 24px 30px;
  margin-bottom: 5px;
  margin-top: 20px;
  &__title {
      font-size: 16px;
      line-height: 22px;
      margin: 0px;
      font-weight: bold;
      margin-bottom:10px;
      color:black;
  }
  &__subtitle {
    margin-bottom:5px;
  }
}

.text-right {
  text-align: right;
}

#icon-up::ng-deep svg {
  fill: #1ba974;
}

#icon-down::ng-deep svg {
  fill: #ff0000;
}

#icon-swap::ng-deep svg {
  fill: darkgoldenrod;
}

.btn-filter {
  text-align: center;
  .btn-delete{
    cursor: pointer;
    font-size: 18px;
    margin-top: 45px;
  }
  .btn{
    margin-bottom: 4px;
    margin-top: 42px;
  }
}

.container-init {
  padding: 20px;
}

.button-report {
  text-align: right;
  padding-top: 15px;
}
:host::ng-deep {
  .ant-calendar-picker {
    width: 100%;
  }
}