<div nzType="flex" nzAlign="middle" nzJustify="center" perfectScrollbar class="page ps scroll-container">
    <div class="container">
        <div nz-row>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
                <nz-form-label>Data</nz-form-label>
                <nz-date-picker [(ngModel)]="startDate"></nz-date-picker>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
                <nz-form-label>Data Fim</nz-form-label>
                <nz-date-picker [(ngModel)]="endDate"></nz-date-picker>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>

            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
                <div nz-row>
                    <nz-form-label>Produto</nz-form-label>
                    <nz-spin [nzSpinning]="isLoadingSelects">
                        <nz-form-control>
                            <nz-select class="primary-select" [(ngModel)]="filters.product_id" nzAllowClear nzShowSearch [nzServerSearch]="true" (nzOnSearch)="onSearch($event)" 
                                style="width: 100%;">
                                <nz-option *ngFor="let product of products"
                                    [nzLabel]="(product?.translations | translation)?.name" [nzValue]="product.id">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-spin>
                    
                </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
                <div nz-row>
                    <nz-form-label>Armazém</nz-form-label>
                    <nz-form-control>
                        <nz-select class="primary-select" [(ngModel)]="filters.wharehouse_id" nzShowSearch style="width: 100%;">
                            <nz-option *ngFor="let wharehouse of wharehouses" [nzLabel]="wharehouse?.name" [nzValue]="wharehouse.id">
                            </nz-option>
                          </nz-select>
                    </nz-form-control>
                </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
                <div nz-row>
                    <nz-form-label>Tipo movimento</nz-form-label>
                    <nz-form-control>
                        <nz-select class="primary-select" nzAllowClear [(ngModel)]="filters.operation" nzShowSearch
                            style="width: 100%;">
                            <nz-option *ngFor="let mov of typeMovements" [nzLabel]="mov.description"
                                [nzValue]="mov.value">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
                <div nz-row>
                    <nz-form-label>Lote</nz-form-label>
                    <nz-form-control>
                        <input type="text" nz-input [(ngModel)]="filters.search">
                    </nz-form-control>
                </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
                <div nz-row>
                    <nz-form-label>Utilizador</nz-form-label>
                    <nz-form-control>
                        <fi-sas-user-select [(ngModel)]="filters.user_id" [returnID]="true"></fi-sas-user-select>
                    </nz-form-control>
                </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="5">
                <div nz-row>
                    <nz-form-label>Origem</nz-form-label>
                    <nz-form-control>
                        <nz-select class="primary-select" [(ngModel)]="filters.device_id" nzShowSearch style="width: 100%;">
                            <nz-option *ngFor="let device of devices" [nzLabel]="device?.name" [nzValue]="device.id">
                            </nz-option>
                          </nz-select>
                    </nz-form-control>
                </div>
            </div>
           
        </div>
        <div nz-row>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="16" [nzLg]="19" [nzXl]="20" [nzXXl]="20"></div>
            <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
                <button nz-button nzType="primary" class="btn" (click)="filter()">Filtrar</button>
            </div>
            <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter"
                style="text-align: left;">
                <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content-table">
            <nz-table class="table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data"
                (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading"
                [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData"
                [(nzPageSize)]="pageSize" (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
                <thead (nzSortChange)="sort($event)" nzSingleSort>
                    <tr class="table__header">

                        <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
                            [nzSortKey]="column.sortKey ? column.sortKey : column.key">
                            {{ column.label }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-data [ngForOf]="refTable.data">
                        <tr>
                            <td>
                                {{ data.created_at | date: 'yyyy-MM-dd'}} - {{ data.created_at | date: 'HH:mm'}}h
                            </td>
                            <td>
                                {{(data?.stock?.product?.translations | where: ['language_id', 3])[0]['name']
                                }}
                            </td>
                            <td>
                                {{ data.stock.expired | date: 'yyyy-MM-dd'}}
                            </td>
                            <td>
                                {{data?.stock?.wharehouse?.name}}
                            </td>
                            <td>
                                <i *ngIf="!data.transfer_wharehouse_id && data?.operation == 'in'" nz-icon nzType="up-circle" id="icon-up"
                                    title="Entrada" nzTheme="outline"></i>
                                <i *ngIf="!data.transfer_wharehouse_id && data?.operation == 'out'" nz-icon nzType="down-circle" id="icon-down"
                                    title="Saída" nzTheme="outline"></i>
                                <i *ngIf="data.transfer_wharehouse_id" nz-icon nzType="swap" title="Transferência" id="icon-swap" nzTheme="outline"></i>
                                {{ !data.transfer_wharehouse_id && data?.operation == 'out' ? '-' : ''}}{{data?.quantity  | number:'1.0-3'}} {{data?.stock?.product?.unit?.acronym}}
                            </td>
                            <td>
                                {{data.stock_reason}}
                            </td>
                            
                            <td>
                                {{data.lote}}
                            </td>
                            <td>
                                {{data?.quantity_after}} {{data?.stock?.product?.unit?.acronym}}
                            </td>
                            <td>
                                {{data?.device?.name}}
                            </td>
                            <td>
                                {{data?.user?.name}}
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>