<form [formGroup]="userPackForm" nzLayout="vertical">
  <div>
    <div nz-row>
      <div nz-col nzSpan="11">
        <div nz-row>
          <nz-form-label nzRequired>Utilizador</nz-form-label>
          <nz-form-control nzSpan="24">
            <fi-sas-user-select
              formControlName="user_id"
              (ngModelChange)="userChanged($event)"
            ></fi-sas-user-select>
          </nz-form-control>
          <nz-form-explain
            class="color-required"
            *ngIf="submitted && userPackForm.get('user_id').errors"
          >
            Campo obrigatório
          </nz-form-explain>
        </div>

        <div nz-row>
          <nz-form-label nzRequired>Pack</nz-form-label>
          <nz-form-control nzSpan="24">
            <nz-select formControlName="pack_id" [nzLoading]="packs_loading">
              <nz-option
                *ngFor="let pack of packs"
                [nzValue]="pack.id"
                [nzLabel]="validTranslateName(3, pack.translations)"
              ></nz-option>
            </nz-select>
          </nz-form-control>
          <nz-form-explain
            class="color-required"
            *ngIf="submitted && userPackForm.get('pack_id').errors"
          >
            Campo obrigatório
          </nz-form-explain>
        </div>

        <div nz-row nzGutter="16">
          <div nz-col nzSpan="12">
            <div nz-row>
              <nz-form-label nzRequired>Data</nz-form-label>
              <nz-form-control nzSpan="24">
                <nz-month-picker
                  *ngIf="getPackPeriod() === 'month'"
                  formControlName="begin_at"
                  nzPlaceHolder="Selecione o mês"
                ></nz-month-picker>
                <nz-week-picker
                  *ngIf="getPackPeriod() === 'week'"
                  formControlName="begin_at"
                  nzPlaceHolder="Selecione a semana"
                ></nz-week-picker>
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && userPackForm.get('begin_at').errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>
        <div nz-row nzGutter="16">
          <div nz-col nzSpan="12">
            <div nz-row>
              <nz-form-label nzRequired>Data Fim</nz-form-label>
              <nz-form-control nzSpan="24">
                <nz-month-picker
                  *ngIf="getPackPeriod() === 'month'"
                  formControlName="end_at"
                  nzPlaceHolder="Selecione o mês"
                ></nz-month-picker>
                <nz-week-picker
                  *ngIf="getPackPeriod() === 'week'"
                  formControlName="end_at"
                  nzPlaceHolder="Selecione a semana"
                ></nz-week-picker>
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && userPackForm.get('end_at').errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="1">
        <nz-divider nzType="vertical" style="height: 350px"></nz-divider>
      </div>
      <div nz-col nzSpan="12">
        <p class="title">Predefinições</p>
        <nz-form-item>
          <nz-form-label nzRequired [nzSpan]="24" nzFor="canteen_lunch_id"
            >Cantina almoço</nz-form-label
          >
          <nz-form-control [nzSpan]="24">
            <nz-select
              style="width: 100%"
              formControlName="canteen_lunch_id"
              nzPlaceHolder="Cantina almoço"
              [nzAllowClear]="false"
            >
              <nz-option
                *ngFor="let sv of services"
                [nzValue]="sv.id"
                [nzLabel]="sv.name"
              ></nz-option>
            </nz-select>
          </nz-form-control>
          <nz-form-explain
            class="color-required"
            *ngIf="submitted && userPackForm.get('canteen_lunch_id').errors"
          >
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzFor="dish_type_lunch_id" nzRequired
            >Tipo de prato almoço</nz-form-label
          >
          <nz-form-control [nzSpan]="24">
            <nz-select
              style="width: 100%"
              formControlName="dish_type_lunch_id"
              nzPlaceHolder="Tipo de prato almoço"
              [nzAllowClear]="false"
            >
              <nz-option
                *ngFor="let dt of dishTypeList"
                [nzValue]="dt.id"
                [nzLabel]="(dt.translations | translation)?.name"
              ></nz-option>
            </nz-select>
          </nz-form-control>
          <nz-form-explain
            class="color-required"
            *ngIf="submitted && userPackForm.get('dish_type_lunch_id').errors"
          >
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzFor="canteen_dinner_id" nzRequired
            >Cantina jantar</nz-form-label
          >
          <nz-form-control [nzSpan]="24">
            <nz-select
              style="width: 100%"
              formControlName="canteen_dinner_id"
              nzPlaceHolder="Cantina jantar"
              [nzAllowClear]="false"
            >
              <nz-option
                *ngFor="let sv of services"
                [nzValue]="sv.id"
                [nzLabel]="sv.name"
              ></nz-option>
            </nz-select>
          </nz-form-control>
          <nz-form-explain
            class="color-required"
            *ngIf="submitted && userPackForm.get('canteen_dinner_id').errors"
          >
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired [nzSpan]="24" nzFor="dish_type_dinner_id"
            >Tipo de prato jantar</nz-form-label
          >
          <nz-form-control [nzSpan]="24">
            <nz-select
              style="width: 100%"
              formControlName="dish_type_dinner_id"
              nzPlaceHolder="Tipo de prato jantar"
              [nzAllowClear]="false"
            >
              <nz-option
                *ngFor="let dt of dishTypeList"
                [nzValue]="dt.id"
                [nzLabel]="(dt.translations | translation)?.name"
              ></nz-option>
            </nz-select>
          </nz-form-control>
          <nz-form-explain
            class="color-required"
            *ngIf="submitted && userPackForm.get('dish_type_dinner_id').errors"
          >
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>
      </div>
    </div>
  </div>
</form>
