
.error {
  color: red;
  margin-top:5px;

  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}

.text-info{
  font-size: 12px;
  color: grey;
}


.font {
  font-size: 13px !important;
}

.form {
  &--title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: #222222;
    margin-top: 20px;
  }
  &--subtitle {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #666666;
    margin-top: 8px;
    margin-bottom: 23.5px;
  }
  &--button {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
}

.primary-datePicker,
.primary-timePicker,
.primary-input {
  width: 100%;
}

:host::ng-deep.anticon svg {
  g path {
    fill: black !important;
  }
}
