@import "theme";
.main-text {
  margin: 72px 52px;
  padding: 40px;
  border-radius: 8px;
  font-size: 14px;
  color: var(--primary-color);
  background-color: #fff;
}
.title {
  margin: 38px 52px;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #111111;
}
.content {
  background: white;
  padding: 24px;

  [nz-row] {
    div:first-child {
      margin: 6px 0px;
      font-size: 13px;
    }

    div:last-child {
      margin: 6px 0px;
      font-size: 13px;
    }
  }
}

.date_title {
  margin: 5px 11px 5px 0;
  opacity: 0.4;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #666;
}
.date_info {
  margin: 5px 17px 5px 0;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666;
}

.coll{
  padding-top: 20px;
  padding-bottom: 20px;
}
