<!--- OPTIONS -->
<div nz-row style="margin: 24px 0px">
  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="4"
    [nzLg]="5"
    [nzXl]="6"
    [nzXXl]="6"
  ></div>
  <div
    nz-col
    [nzXs]="22"
    [nzSm]="22"
    [nzMd]="16"
    [nzLg]="14"
    [nzXl]="12"
    [nzXXl]="12"
  >
    <div nz-row>
      <div nz-col nzSpan="12" style="text-align: start">
        <app-button
          translate="MISC.RETURN"
          (click)="back()"
          [leftIcon]="'left'"
          [buttonStyle]="{ 'font-size': '12px', 'line-height': '18px' }"
          type="tertiary"
        ></app-button>
      </div>
    </div>
  </div>
  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="4"
    [nzLg]="5"
    [nzXl]="6"
    [nzXXl]="6"
  ></div>
</div>

<!--- CONTENT -->
<div nz-row style="margin: 24px 0px">
  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="4"
    [nzLg]="5"
    [nzXl]="6"
    [nzXXl]="6"
  ></div>
  <div
    nz-col
    [nzXs]="22"
    [nzSm]="22"
    [nzMd]="16"
    [nzLg]="14"
    [nzXl]="12"
    [nzXXl]="12"
    class="content"
  >
    <nz-spin>
      <div *ngIf="!application">
        <nz-empty
          [nzNotFoundContent]="
            'MOBILITY.APPLICATION_VIEW.NO_CONTENT' | translate
          "
        ></nz-empty>
      </div>
      <div *ngIf="application">
        <div class="title-resume">
          {{ "EMERGENCY_FUND.LIST_APPLICATIONS_CHANGES.TITLE" | translate }}
        </div>
        <div class="sub-title-resume">
          {{ "EMERGENCY_FUND.LIST_APPLICATIONS_CHANGES.STATUS_TITLE" | translate }}
          <nz-tag
            style="float: right;"
             >
             <!-- [nzColor]=" (configStatus | filterStatusConfig: application.status).color" -->
              {{ "EMERGENCY_FUND.STATUS." + application.status.toString().toUpperCase() | translate }}
          </nz-tag>
        </div>
        <nz-tabset>
          <nz-tab>
            <div>
              <div
                nz-row
                nz-col
              >
                <div>

                  <div class="coll">
                    <p>  
                      <span class="content__title">
                        <b>{{ "EMERGENCY_FUND.LIST_APPLICATIONS.EXPOSURE" | translate }}</b>
                      </span>
                    </p>
                    <p class="sub-title-resume">
                      {{ application.application_change_exposition }}
                    </p>
                    <p>
                      <span class="date_title">
                        {{ "EMERGENCY_FUND.LIST_APPLICATIONS.CARD.STATUS.DATE.TITLE" | translate }}
                      </span>
                      <span class="date_info ">
                        {{ application.created_at | date: "dd-MM-yyyy" }}
                      </span>
                    </p>
                  </div>

                  <div class="coll" *ngIf="application.application_change_response_date !== null">
                    <p>  
                      <span class="content__title">
                        <b>{{ "EMERGENCY_FUND.LIST_APPLICATIONS_CHANGES.RESPONSE" | translate }}</b>
                      </span>
                    </p>
                    <p class="sub-title-resume">
                      {{ application.application_change_response }}
                    </p>
                    <p>
                      <span class="date_title">
                        {{ "EMERGENCY_FUND.LIST_APPLICATIONS_CHANGES.RESPONSE_DATE" | translate }}
                      </span>
                      <span class="date_info ">
                        {{ application.application_change_response_date | date: "dd-MM-yyyy" }}
                      </span>
                    </p>
                  </div>
                       <app-button
                        [translate]="'EMERGENCY_FUND.LIST_APPLICATIONS_CHANGES.BUTTON_CONSULT_FORM'"
                        [buttonStyle]="buttonReject"
                        [type]="'secundary'"
                        (click)="reviewApplication(application.application_id)"
                        style="float:right">
                    </app-button>
                </div>
              </div>
            </div>
          </nz-tab>
        </nz-tabset>
      </div>
    </nz-spin>
  </div>
  <div
    nz-col
    [nzXs]="1"
    [nzSm]="1"
    [nzMd]="4"
    [nzLg]="5"
    [nzXl]="6"
    [nzXXl]="6"
  ></div>
</div>
