<div nz-row class="express-interest-status-header">
    <div nz-col [nzSm]="2" [nzXs]="1"></div>
    <div nz-col [nzSm]="20" [nzXs]="22">
      <h2 class="title-top-page"> {{
        translations?.length > 1 ? (translations | languageChange)?.name : ('DASHBOARD.BUTTON.VOLUNTEERING' | translate)
        }}</h2>
      <p class="sub-title-top-page"> {{ 'VOLUNTEERING.INTEREST.SUBTITLE' | translate }}</p>
    </div>
    <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>

<div nz-row nzType="flex">
    <div nz-col [nzSm]="2" [nzXs]="1"></div>
    <div nz-col [nzSm]="20" [nzXs]="22">
      <div nz-row class="list-collaborations--item" nzGutter="8" *ngFor="let interest of currentInterests">
        <div nz-col>
          <app-interest-card (refresh)="refresh($event)" [interest]="interest" [translations]="translations">
          </app-interest-card>
        </div>
      </div>
      <div nz-row nzType="flex" nzJustify="center" nzAlign="middle"
        *ngIf="currentInterests.length === 0 && !isLoadingCurrentInterests">
        <div nz-col class="list-collaborations--no-data">
          {{ 'VOLUNTEERING.INTEREST.NO_INTEREST' | translate }}
        </div>
      </div>
      <div nz-row *ngIf="isLoadingCurrentInterests">
        <nz-spin [nzSpinning]="isLoadingCurrentInterests" class="list-collaborations--loading"></nz-spin>
      </div>
    </div>
    <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>

<div nz-row nzType="flex">
    <div nz-col [nzSm]="2" [nzXs]="1"></div>
    <div nz-col [nzSm]="20" [nzXs]="22">
    <nz-collapse [nzBordered]="false">
      <nz-collapse-panel #p *ngFor="let panel of panels" [nzHeader]="header" [nzActive]="panel.active"
        [ngStyle]="panel.customStyle" [nzShowArrow]="false">
        <div>
          <div *ngIf="pastInterests.length > 0" nz-row class="list-collaborations--item" style="margin-top: 10px;">
            <div nz-col nzXs="24" nzMd="12" nzXl="8" *ngFor="let interest of pastInterests">
              <app-interest-card-small [interest]="interest"></app-interest-card-small>
            </div>
          </div>
          <div nz-row *ngIf="pastInterests.length === 0" class="list-collaborations--item" style="margin-top: 10px;">
            <div nz-col class="list-collaborations--no-data">
              {{ 'VOLUNTEERING.INTEREST.NO_INTEREST' | translate }}
            </div>
          </div>
        </div>
        <ng-template #header>
          <nz-divider [nzText]="text"></nz-divider>
        </ng-template>

        <ng-template #text>
          <div class="box">
            {{ panel.name | translate }}
            <i nz-icon type="icons:icons-arrow-2-right" [nzRotate]="p.nzActive ? 90 : -90"></i>
          </div>
        </ng-template>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
    <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>
