@import 'theme';

.express-interest-status-header {
  margin-bottom: 40px;
  margin-top: 40px;

  &--title {
    color: #111111;
    font-family: Montserrat;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.14;
    margin-bottom: 4px;
  }

  &--subtitle {
    color: #111111;
    font-family: Montserrat;
    font-size: 19px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 1.5;
  }
}

.list-collaborations {
  &--item {
    margin-bottom: 30px;
  }

  &--loading {
    height: 115px;
  }

  &--no-data {
    color: #111111;
    font-family: Montserrat;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    height: 115px;
    letter-spacing: normal;
    line-height: 1.5;
    position: relative;
    text-align: center;
    top: 50px;
  }
}

:host::ng-deep {
  .box {
    background: white;
    border-radius: 50px;
    color: #3a3a3a;
    font-family: Montserrat;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.5;
    padding: 4px 10px 4px 10px;
    text-align: center;

    i {
      margin-left: 5px;
    }

    i svg {
      transition: transform 0.24s !important;
    }
  }

  .ant-divider-inner-text {
    padding: 0 !important;
  }
  .ant-divider-horizontal.ant-divider-with-text {
    margin: 0;
  }

  .ant-divider-horizontal.ant-divider-with-text::after {
    border-top: 1px solid var(--primary-color) !important;
  }

  .ant-divider-horizontal.ant-divider-with-text::before {
    border-top: 1px solid var(--primary-color) !important;
  }

  .ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
    margin-bottom: 30px;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0px !important;
  }
}
