<div nz-row nzType="flex">
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
  </div>
  <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12">
    <nz-spin [nzSpinning]="loading">
      <div nz-row nzType="flex" class="body">
        <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="2" [nzLg]="4" [nzXl]="4" [nzXXl]="4"></div>
        <div *ngIf="!loading" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="16" [nzXl]="16" [nzXXl]="16">
          <div nz-row class="user-info">
            <div class="user-info__avatar" nz-col [nzXs]="24" [nzSm]="7" [nzMd]="7" [nzLg]="6" [nzXl]="6" [nzXXl]="5">
              <nz-avatar class="user-info__avatar__img" [nzSize]="64" nzIcon="user"></nz-avatar>
              <!--<div class="user-info__avatar__img__upload">
              <i nz-icon nzType="icons:icons-photo"></i>
            </div>-->
            </div>
            <div class="user-info__data" nz-col [nzXs]="24" [nzSm]="17" [nzMd]="17" [nzLg]="18" [nzXl]="18"
              [nzXXl]="19">
              <div class="user-info__data__name">{{ user?.name}}</div>
              <div class="user-info__data__email">{{ user?.email}}</div>
              <div class="user-info__data__number">n.º {{ user?.student_number ? user?.student_number : '-'}}
              </div>
            </div>

          </div>
          <div nz-row class="balances">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="12" [nzXXl]="12"
              class="balances__account" *ngFor="let balance of balances">
              {{ balance.account_name }}: <span class="balances__account__amount"> {{ balance.current_balance}}€</span>
            </div>
            <nz-divider></nz-divider>
          </div>
         
          <div nz-row nzType="flex" nzJustify="space-between" class="option" [routerLink]="['/personal-data']">
            <div nz-col class="option__title">{{ 'PROFILE_PAGE.PERSONAL_DATA' | translate }}</div>
            <div nz-col class="option__icon"><i nz-icon nzType="icons:icons-arrow-2-right"></i></div>
          </div>
          <div nz-row *ngIf="('alimentation:menu' | hasPermission)" nzType="flex" nzJustify="space-between" class="option"
            [routerLink]="['/alimentation', 'user-allergens']">
            <div nz-col class="option__title">{{ 'PROFILE_PAGE.FOOD_ALERGIES' | translate }}</div>
            <div nz-col class="option__icon"><i nz-icon nzType="icons:icons-arrow-2-right"></i></div>
          </div>
          <div nz-row nzType="flex" nzJustify="space-between" class="option" *ngIf="user && user.can_change_password" [routerLink]="['/', 'change-password']" >
            <div nz-col class="option__title">{{ 'PROFILE_PAGE.CHANGE_PASSWORD' | translate }}</div>
            <div nz-col class="option__icon"><i nz-icon nzType="icons:icons-arrow-2-right"></i></div>
          </div>
          <div nz-row nzType="flex" nzJustify="space-between" class="option" [routerLink]="['/change-pin']">
            <div nz-col class="option__title">{{ 'PROFILE_PAGE.CHANGE_PIN' | translate }}</div>
            <div nz-col class="option__icon"><i nz-icon nzType="icons:icons-arrow-2-right"></i></div>
          </div>
          <div nz-row nzType="flex" nzJustify="space-between" class="option" [routerLink]="['/disable-account']">
            <div nz-col class="option__title">{{ 'PROFILE_PAGE.DISABLE_ACCOUNT' | translate }}</div>
            <div nz-col class="option__icon"><i nz-icon nzType="icons:icons-arrow-2-right"></i></div>
          </div>
          <!--<div nz-row nzType="flex" nzJustify="space-between" class="option" [routerLink]="['/reset-pin']">-->
          <!--<div nz-col class="option__title">{{ 'PROFILE_PAGE.RESET_PIN' | translate }}</div>-->
          <!--<div nz-col class="option__icon"><i nz-icon nzType="icons:icons-arrow-2-right"></i></div>-->
          <!--</div>-->
          <div nz-row nzType="flex" nzJustify="space-between" class="option option-last" (click)="signout()">
            <div nz-col class="option__title">{{ 'PROFILE_PAGE.SIGNOUT' | translate }}</div>
            <div nz-col class="option__icon"><i nz-icon nzType="icons:icons-arrow-2-right"></i></div>
          </div>

        </div>
        <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="2" [nzLg]="4" [nzXl]="4" [nzXXl]="4"></div>
      </div>
    </nz-spin>

  </div>
  <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
  </div>
</div>
