@import "theme";

.body {
  margin: 32px 16px 32px 16px;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 32px 0px 25px 0px;
  @media screen and (max-width: 600px) {
    margin: 32px 0px 32px 0px;
  }
}

.user-info {
  padding-left: 16px;
  padding-right: 16px;

  &__avatar {

    @media screen and (max-width: 767px) {
      position: relative !important;
      top: -45px !important;
      padding-top:30px;
    }
    text-align: left;

    &__img {
      border: solid 2px #979797;

      @media screen and (max-width: 767px) {

        width: 94px !important;
        height: 94px !important;
        line-height: 94px !important;
        font-size: 47px !important;

      }

      &__upload {

        @media screen and (max-width: 767px) {
          right: -65px !important;
          bottom: 35px !important;
          width: 32px !important;
          height: 32px !important;
          padding: 4px !important;
        }

        position: relative;
        right: -43px;
        bottom: 20px;
        border-radius: 25px;
        background: var(--primary-color);
        width: 24px;
        height: 24px;
        color: white;
        padding: 3px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

        i {
          font-size: 18px !important;

          @media screen and (max-width: 767px) {
            font-size: 24px !important;
          }
        }
      }
    }
  }

  &__data {

    &__name {
      font-family: Montserrat;
      font-size: 17px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #222222;
      margin-bottom: 8px;
    }

    &__email {
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: normal;
      color: black;
      margin-bottom: 8px;
    }

    &__number {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: normal;
      color: #979797;
    }
  }
}

.balances {
  margin-top: 24px;
  padding-left: 16px;
  padding-right: 16px;

  &__account {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #222222;
    margin-bottom: 15px;

    &__amount {
      font-weight: bold;
      margin-left: 10px;
    }
  }
}

.option {
  padding-left: 16px;
  padding-right: 16px;
  margin-top:24px;
  cursor: pointer;

  &-last {
    margin-top:48px;

    .option__title {
      font-weight: 500 !important;
      :hover {
        color: var(--primary-7);
      }
    }
  }

  &__title {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #222222;
  }

  &__icon {
    padding-top: 5px;
  }
}
