<div
  nzType="flex"
  nzAlign="middle"
  nzJustify="center"
  perfectScrollbar
  class="page ps scroll-container"
>
  <div class="container">
    <form [formGroup]="equipmentTemperatureForm" nzLayout="vertical">
      <nz-spin [nzSpinning]="loading">
        <div nz-row>
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="8"
            [nzLg]="8"
            [nzXl]="8"
            [nzXXl]="8"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label nzRequired> Data </nz-form-label>
              <nz-form-control>
                <nz-date-picker
                  formControlName="date"
                  name="date"
                  nzPlaceHolder="Selecione uma data"
                  nzShowTime
                ></nz-date-picker>
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.date.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>

          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="24"
            [nzLg]="8"
            [nzXl]="8"
            [nzXXl]="8"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label nzRequired> Equipamento </nz-form-label>
              <nz-form-control>
                <nz-select
                  formControlName="equipment_id"
                  [nzLoading]="equipmentsLoading"
                  name="equipment_id"
                  nzPlaceHolder="Equipamento"
                  (ngModelChange)="validateTemperature()"
                  nzAllowClear
                >
                  <nz-option
                    *ngFor="let item of equipments"
                    [nzLabel]="item.name"
                    [nzValue]="item.id"
                    [nzDisabled]="!item.active"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.equipment_id.errors"
              >
                Campo obrigatório
              </nz-form-explain>
              <nz-form-explain *ngIf="selectedEquipment">
                Min. {{ selectedEquipment.minimum_temperature }}ºC / Max.
                {{ selectedEquipment.maximum_temperature }}ºC
              </nz-form-explain>
            </div>
          </div>

          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="24"
            [nzLg]="8"
            [nzXl]="8"
            [nzXXl]="8"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label nzRequired> Temperatura </nz-form-label>
              <nz-form-control>
                <nz-input-group nzAddOnAfter="º C">
                  <input
                    type="number"
                    nz-input
                    (ngModelChange)="validateTemperature()"
                    formControlName="temperature"
                  />
                </nz-input-group>
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.temperature.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>

        <div nz-row>
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="24"
            [nzLg]="8"
            [nzXl]="8"
            [nzXXl]="8"
            class="padding-right-20"
            *ngIf="!isGoodTemperature"
          >
            <nz-form-label nzRequired> Anomalia </nz-form-label>
            <nz-form-control>
              <nz-select
                formControlName="anomaly_id"
                [nzLoading]="equipmentsAnomaliesLoading"
                name="anomaly_id"
                nzPlaceHolder="Anomalia"
                nzAllowClear
              >
                <nz-option
                  *ngFor="let item of equipmentsAnomalies"
                  [nzLabel]="item.name"
                  [nzValue]="item.id"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
            <nz-form-explain
              class="color-required"
              *ngIf="submitted && f.anomaly_id.errors"
            >
              Campo obrigatório
            </nz-form-explain>
          </div>

          <div
            nz-col
            [nzSpan]="24"
            class="padding-right-20"
            *ngIf="!isGoodTemperature"
          >
            <div nz-row>
              <nz-form-label nzRequired> Justificação </nz-form-label>
              <nz-form-control>
                <textarea
                  rows="4"
                  nz-input
                  formControlName="justification"
                ></textarea>
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.equipment_id.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>
        <div nz-row style="padding-top: 20px">
          <div nz-col [nzSpan]="24" class="padding-right-20">
            <div nz-row>
              <nz-form-label> Observações </nz-form-label>
              <nz-form-control>
                <textarea
                  rows="4"
                  nz-input
                  formControlName="observations"
                ></textarea>
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.equipment_id.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>
      </nz-spin>
    </form>
  </div>
  <div class="space">
    <button *ngIf="id != undefined" nz-button (click)="backList()">
      Voltar
    </button>
    <button
      nz-button
      [nzLoading]="loading"
      [disabled]="loading"
      (click)="id != undefined ? submitEquipment(true) : submitEquipment(false)"
      class="button-submit"
      [nzType]="'primary'"
    >
      {{ id != undefined ? 'Editar' : 'Criar' }}
    </button>
  </div>
</div>
