
.top {
  padding-bottom: 25px;
  padding-top: 25px;
}

.loading {
  position: absolute;
  top: 50%;
  right: calc(50% - 48px);
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

nz-carousel {
  border-radius: 5px 5px 0px 0px;

  [nz-carousel-content] {
    text-align: center;
    height: 550px;
    line-height: 130px;
    background: #293449;
    color: #fff;
    overflow: hidden;
  }
}

.show {
  overflow: visible;
}

.listdetail {
  @import 'theme';

  &__body {
    margin-top: 30px;

    @media screen and (max-width: 576px) {
      padding: 16px;
    }
  }

  &__center {
    text-align: center;
  }

  &__btn {
    display: flex;
    float: right;
  }

  &__btn2 {
    display: flex;
    float: left;
  }

  &__btn3 {
    display: flex;
    float: right;
  }

  &__information {
    background-color: #ffffff;
    padding: 30px 35px 30px 35px;
    font-family: Montserrat;
    margin-bottom: 30px;
  }

  &__info {
    color: unset;
    font-stretch: normal;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: normal;
  }

  &__description {
    margin-top: 20px;
  }

  &__amenities {
    margin-top: 50px;
  }

  &__amenlist {
    margin-top: 20px;
    margin-bottom: 10px;
    p {
      margin-right: 10px;
    }
  }

  &__amentexttrue {
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: black;
    font-weight: bold;
  }

  &__amentextfalse {
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    text-decoration: line-through;
    line-height: 1.23;
    letter-spacing: normal;
    color: #979797;
  }

  &__readmore {
    width: 300px;
    height: 18px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: var(--primary-7);
    text-decoration: underline;
    :hover {
      color: var(--primary-2);
    }
  }

  &__expenses {
    margin-top: 50px;
  }

  &__explist {
    margin-top: 20px;
    margin-bottom: 10px;
    p {
      margin-right: 10px;
    }
  }

  &__exptexttrue {
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: black;
  }

  &__exptextfalse {
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    text-decoration: line-through;
    line-height: 1.23;
    letter-spacing: normal;
    color:#979797;
  }

  &__requirements {
    margin-top: 50px;
  }

  &__reqlist {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &__owner {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  &__ownertitle {
    color: var(--primary-7);
    font-size: unset;
    font-weight: unset;
    font-stretch: unset;
    font-style: unset;
    line-height: unset;
    letter-spacing: unset;
  }

  &__cont {
    display: flex;
  }

  &__cont1 {
    width: 50%;
  }

  &__cont2 {
    width: 50%;
  }

  &__more {
    margin-top: 50px;
    width: 100%;
  }
}

.list-residence {
  &__body {
    margin-top: 40px;

    @media screen and (max-width: 576px) {
      padding: 16px;
    }
  }

  &__list {
    &__item {
      padding-bottom: 20px;
      margin-left: 20px;
      margin-right: 20px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      nz-card {
        border-radius: 8px;
        width: 100% !important;
        box-shadow: 0 2px 4px 0 rgba(223, 223, 223, 0.5);

        nz-carousel {
          border-radius: 8px 8px 0px 0px;

          [nz-carousel-content] {
            //padding: 18px;
            text-align: center;
            height: 350px;
            line-height: 130px;
            background: #293449;
            color: #fff;
            overflow: hidden;
          }
        }
      }

      &__info {
        margin-top: 15px;
        margin-bottom: 6px;
        font-family: Montserrat;
        font-size: 11px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 14px;
        letter-spacing: normal;
        color: #666666;
      }


    }
  }
}

.title-room{
  font-size: 20px;
  margin-top:25px;
  font-weight: bold;
}

.hidden-md {
  display:none;
}


@media screen and (max-width: 600px) {

  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display:block;
  }


}


#icon-accomo::ng-deep svg {
  path {
      fill: white;
  }
}

.carousel-wrapper {
  position: relative;

  .arrow {
    position: absolute;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    margin-top: -20px;
    font-size: 30px;
    font-weight: bold;
    &.icon-left {
      left: 0;
    }
    &.icon-right {
      right: 0;
    }
  }
}