<form nz-form [formGroup]="authenticateForm">
  <div class="authentication">

    <!-- image -->
    <div class="authentication__image">
      <img src="assets/images/hand.jpg" />
    </div>

    <!-- content -->
    <div class="authentication__content">

      <div nz-row>

        <!-- menu -->
        <div nz-col nzSpan="6">
          <div class="authentication__options">
            <p>{{ 'AUTHENTICATION.MENU.TITLE' | translate }}</p>
            <h2>{{ 'AUTHENTICATION.MENU.SUBTITLE' | translate }}</h2>
          </div>

          <ul>
            <li class="active">{{ 'AUTHENTICATION.MENU.USERNAME' | translate }}</li>
            <li (click)="sendNotification('info')">{{ 'AUTHENTICATION.MENU.CARD' | translate }}</li>
          </ul>
        </div>

        <!-- form -->
        <div nz-col nzSpan="14">

          <div class="authentication__form">
            <h1>{{ 'AUTHENTICATION.PIN.TITLE' | translate }}</h1>
            <h2 class="authentication__form-subtitle">{{ 'AUTHENTICATION.PIN.SUBTITLE' | translate }}</h2>

            <nz-form-item>
              <nz-form-control [class.error]="authenticateForm.get('username').hasError('required') && authenticateForm.get('username').dirty">
                <nz-input-group nzSize="large" nzAddOnBefore="{{ 'AUTHENTICATION.PIN.INPUT_PLACEHOLDER_USER' | translate | uppercase }}">
                  <input fi-keyboard-input type="text" formControlName="username" nz-input placeholder="ex joaosantos"
                    (focus)="inputOnFocus($event)" (blur)="inputOnBlur($event)">
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control [class.error]="authenticateForm.get('pin').hasError('required') && authenticateForm.get('pin').dirty">
                <nz-input-group nzSize="large" nzAddOnBefore="{{ 'AUTHENTICATION.PIN.INPUT_PLACEHOLDER_PASS' | translate | uppercase }}">
                  <input fi-keyboard-input type="password" formControlName="pin" nz-input placeholder="****" (focus)="inputOnFocus($event)"
                    (blur)="inputOnBlur($event)">
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <div *ngIf="authenticateForm.invalid && !authenticateForm.dirty || authenticateForm.valid">
              <strong>{{ 'AUTHENTICATION.PIN.INFO_TITLE_A' | translate }}</strong>
              <p>{{ 'AUTHENTICATION.PIN.INFO_HELP_A' | translate }}</p>
              <strong>{{ 'AUTHENTICATION.PIN.INFO_TITLE_B' | translate }}</strong>
              <p>{{ 'AUTHENTICATION.PIN.INFO_HELP_B' | translate }}</p>
            </div>

            <div *ngIf="authenticateForm.invalid && authenticateForm.dirty">
              <strong>{{ 'AUTHENTICATION.ERROR.LOGIN.TITLE' | translate }}</strong>
              <p>{{ 'AUTHENTICATION.ERROR.LOGIN.TEXT' | translate }}</p>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</form>
