@import "~/scss/_variables";

.candidatura {
  /* ----------------------- */
  /* Component */

  &__bg {
    background: #f3f3f3;
    &--top {
      background: $white;
    }
  }

  &__title {
    font-family: "Montserrat", "Montserrat-Bold";
    font-weight: bold;
    font-size: 17;
    line-height: 1.41;
    color: $black;
    margin-bottom: 12;
  }

  &__p {
    font-family: "Montserrat", "Montserrat-Medium";
    font-weight: 500;
    font-size: 15;
    line-height: 1.6;
    color: $black;
    text-align: left;
  }

  &__p--light {
    font-family: "Montserrat", "Montserrat-Regular";
    font-weight: 500;
    font-size: 12;
    color: $light-grey;
    line-height: 1.5;
  }

  &__input {
    background: #ffffff;
    border-width: 1;
    border-color: #c0c0c0;
    border-top-left-radius: 3;
    border-bottom-left-radius: 3;
    padding: 15 10;
    margin-bottom: 5;
    color: #333333;
    placeholder-color: #c0c0c0;
    font-size: 12;
  }
  &__input--label {
    background: #ffffff;
    border-width: 1;
    border-color: #c0c0c0;
    border-top-right-radius: 3;
    border-bottom-right-radius: 3;
    padding: 15 10;
    margin-bottom: 5;
    color: #e8e8e8;
    font-size: 12;
  }

  /* ----------------------- */
  /* Common */
}
