<StackLayout>
  <!-- action bar -->
  <fi-action-bar
    [actionBarType]="5"
    actionBarTitle="{{ 'applications.title' | translate }}"
  ></fi-action-bar>

  <!-- scroll init -->
  <ScrollView row="0">
    <StackLayout class="fisas__content">
      <StackLayout marginTop="30">
        <Label
          class="candidatura__title"
          text="{{ 'applications.actualTransport' | translate }}"
        ></Label>
      </StackLayout>

      <!-- Deslocaçao Diaria -->
      <StackLayout marginTop="12">
        <Label
          class="candidatura__p"
          textWrap="true"
          text="{{ 'applications.dailyCommute' | translate }}"
          paddingBottom="6"
        ></Label>
        <Label
          class="candidatura__p--light"
          textWrap="true"
          text="{{ 'applications.dailyCommuteDesc' | translate }}"
        ></Label>
        <GridLayout columns="auto, *" rows="auto" marginTop="15">
          <Label
            col="0"
            verticalAlignment="middle"
            class="fisas__p--label"
            text="{{ 'applications.onFoot' | translate }}"
          ></Label>
          <Switch
            [isEnabled]="
              transportType === null || transportType === 'Walk' ? true : false
            "
            col="1"
            horizontalAlignment="right"
            checked="false"
            (checkedChange)="onCheckedChangeTransport('Walk')"
          ></Switch>
        </GridLayout>

        <GridLayout columns="auto, *" rows="auto" marginTop="15">
          <Label
            col="0"
            verticalAlignment="middle"
            class="fisas__p--label"
            text="{{ 'applications.car.car' | translate }}"
          ></Label>
          <Switch
            [isEnabled]="
              transportType === null || transportType === 'Car' ? true : false
            "
            col="1"
            horizontalAlignment="right"
            checked="false"
            (checkedChange)="onCheckedChangeTransport('Car')"
          ></Switch>
        </GridLayout>

        <GridLayout columns="auto, *" rows="auto" marginTop="15">
          <Label
            col="0"
            verticalAlignment="middle"
            class="fisas__p--label"
            text="{{ 'applications.car.motorcycle' | translate }}"
          ></Label>
          <Switch
            [isEnabled]="
              transportType === null || transportType === 'Motorcycle' ? true : false
            "
            col="1"
            horizontalAlignment="right"
            checked="false"
            (checkedChange)="onCheckedChangeTransport('Motorcycle')"
          ></Switch>
        </GridLayout>


        <GridLayout columns="auto, *" rows="auto" marginTop="15">
          <Label
            col="0"
            verticalAlignment="middle"
            class="fisas__p--label"
            text="{{ 'applications.car.train' | translate }}"
          ></Label>
          <Switch
            [isEnabled]="
              transportType === null || transportType === 'Train' ? true : false
            "
            col="1"
            horizontalAlignment="right"
            checked="false"
            (checkedChange)="onCheckedChangeTransport('Train')"
          ></Switch>
        </GridLayout>

        <GridLayout columns="auto, *" rows="auto" marginTop="15">
          <Label
            col="0"
            verticalAlignment="middle"
            class="fisas__p--label"
            text="{{ 'applications.car.bike' | translate }}"
          ></Label>
          <Switch
            [isEnabled]="
              transportType === null || transportType === 'Bike' ? true : false
            "
            col="1"
            horizontalAlignment="right"
            checked="false"
            (checkedChange)="onCheckedChangeTransport('Bike')"
          ></Switch>
        </GridLayout>
      </StackLayout>
      <ng-container *ngIf="useCar">
        <!-- BRAND -->
        <StackLayout marginTop="12">
          <Label
            class="candidatura__p"
            textWrap="true"
            text="{{ 'applications.car.brand' | translate }}"
            paddingBottom="6"
          ></Label>
          <Label
            class="candidatura__p--light"
            textWrap="true"
            text="{{ 'applications.car.brandDesc' | translate }}"
          ></Label>
          <GridLayout columns="auto, auto" rows="auto" marginTop="15">
            <TextField
              [(ngModel)]="carBrand"
              (focus)="onFocusClear()"
              autocapitalizationType="none"
              autocorrect="false"
              autocorrect="false"
              class="fisas__input"
              col="0"
              hint="Ex: BMW"
              width="70%"
            ></TextField>
          </GridLayout>
        </StackLayout>
        <!-- MODEL -->
        <StackLayout marginTop="12">
          <Label
            class="candidatura__p"
            textWrap="true"
            text="{{ 'applications.car.model' | translate }}"
            paddingBottom="6"
          ></Label>
          <Label
            class="candidatura__p--light"
            textWrap="true"
            text="{{ 'applications.car.modelDesc' | translate }}"
          ></Label>
          <GridLayout columns="auto, auto" rows="auto" marginTop="15">
            <TextField
              [(ngModel)]="carModel"
              (focus)="onFocusClear()"
              autocapitalizationType="none"
              autocorrect="false"
              autocorrect="false"
              class="fisas__input"
              col="0"
              hint="Ex: 525D"
              width="70%"
            ></TextField>
          </GridLayout>
        </StackLayout>
        <!-- ANO -->
        <StackLayout marginTop="12">
          <Label
            class="candidatura__p"
            textWrap="true"
            text="{{ 'applications.car.year' | translate }}"
            paddingBottom="6"
          ></Label>
          <Label
            class="candidatura__p--light"
            textWrap="true"
            text="{{ 'applications.car.yearDesc' | translate }}"
          ></Label>
          <GridLayout columns="auto, auto" rows="auto" marginTop="15">
            <TextField
              [(ngModel)]="carYear"
              autocapitalizationType="none"
              autocorrect="false"
              autocorrect="false"
              class="fisas__input"
              col="0"
              hint="Ex: 2004"
              keyboardType="number"
              minWidth="144"
            ></TextField>
          </GridLayout>
        </StackLayout>

        <!-- POWER -->

        <StackLayout marginTop="12">
          <Label
            class="candidatura__p"
            textWrap="true"
            text="{{ 'applications.car.power' | translate }}"
            paddingBottom="6"
          ></Label>
          <Label
            class="candidatura__p--light"
            textWrap="true"
            text="{{ 'applications.car.powerDesc' | translate }}"
          ></Label>
          <GridLayout columns="auto, auto" rows="auto" marginTop="15">
            <TextField
              [(ngModel)]="carPower"
              (focus)="onFocusClear()"
              autocapitalizationType="none"
              autocorrect="false"
              class="fisas__input"
              col="0"
              textAlignment="right"
              hint="Ex: 177"
              keyboardType="number"
              minWidth="102"
            ></TextField>
            <Label
              col="1"
              class="candidatura__input--label"
              text="{{ 'applications.car.hp' | translate }}"
            ></Label>
          </GridLayout>
        </StackLayout>

        <!-- Combustivel -->
        <StackLayout marginTop="33">
          <Label
            class="candidatura__p"
            textWrap="true"
            text="{{ 'applications.car.fuel' | translate }}"
            paddingBottom="6"
          ></Label>
          <Label
            class="candidatura__p--light"
            textWrap="true"
            text="{{ 'applications.car.fuelDesc' | translate }}"
          ></Label>
          <GridLayout columns="auto, *" rows="auto" marginTop="15">
            <Label
              col="0"
              class="fisas__p--label"
              text="{{ 'applications.fuel.gasoline' | translate }}"
            ></Label>
            <Switch
              [isEnabled]="
                fuelType === null || fuelType === 'Gasoline' ? true : false
              "
              col="1"
              horizontalAlignment="right"
              checked="false"
              (checkedChange)="onCheckedChangeFuel('Gasoline')"
            ></Switch>
          </GridLayout>
          <GridLayout columns="auto, *" rows="auto" marginTop="15">
            <Label
              col="0"
              class="fisas__p--label"
              text="{{ 'applications.fuel.diesel' | translate }}"
            ></Label>
            <Switch
              [isEnabled]="
                fuelType === null || fuelType === 'Diesel' ? true : false
              "
              col="1"
              horizontalAlignment="right"
              checked="false"
              (checkedChange)="onCheckedChangeFuel('Diesel')"
            ></Switch>
          </GridLayout>
          <GridLayout columns="auto, *" rows="auto" marginTop="15">
            <Label col="0" class="fisas__p--label" text="GLP"></Label>
            <Switch
              [isEnabled]="
                fuelType === null || fuelType === 'GLP' ? true : false
              "
              col="1"
              horizontalAlignment="right"
              checked="false"
              (checkedChange)="onCheckedChangeFuel('GLP')"
            ></Switch>
          </GridLayout>
          <GridLayout columns="auto, *" rows="auto" marginTop="15">
            <Label
              col="0"
              class="fisas__p--label"
              text="{{ 'applications.fuel.electric' | translate }}"
            ></Label>
            <Switch
              [isEnabled]="
                fuelType === null || fuelType === 'Electric' ? true : false
              "
              col="1"
              horizontalAlignment="right"
              checked="false"
              (checkedChange)="onCheckedChangeFuel('Electric')"
            ></Switch>
          </GridLayout>
        </StackLayout>
      </ng-container>

      <!-- Deslocaçao Diaria -->
      <StackLayout marginTop="30">
        <Label
          class="candidatura__p"
          textWrap="true"
          text="{{ 'applications.dailyKms' | translate }}"
          paddingBottom="6"
        ></Label>
        <Label
          class="candidatura__p--light"
          textWrap="true"
          text="{{ 'applications.dailyKmsDesc' | translate }}"
        ></Label>
        <GridLayout columns="auto, auto" rows="auto" marginTop="15">
          <TextField
            [(ngModel)]="dailyKms"
            (focus)="onFocusClear()"
            autocapitalizationType="none"
            autocorrect="false"
            autocorrect="false"
            class="fisas__input"
            col="0"
            hint="000"
            keyboardType="number"
            minWidth="102"
            textAlignment="right"
          ></TextField>
          <Label
            col="1"
            minWidth="55"
            class="candidatura__input--label"
            text="km"
          ></Label>
        </GridLayout>
      </StackLayout>

      <!-- STEP3 -->
      <StackLayout marginTop="48">
        <Label
          class="candidatura__title"
          text="{{ 'applications.bikeRequested' | translate }}"
        ></Label>
      </StackLayout>

      <StackLayout marginTop="12">
        <Label
          class="candidatura__p"
          textWrap="true"
          text="{{ 'applications.bikeRequestedType' | translate }}"
          paddingBottom="6"
        ></Label>
        <Label
          class="candidatura__p--light"
          textWrap="true"
          text="{{ 'applications.bikeRequestedDesc' | translate }}"
        ></Label>
        <GridLayout columns="auto, *" rows="auto" marginTop="15">
          <Label
            col="0"
            class="fisas__p--label"
            text="{{ 'applications.bikeElectric' | translate }}"
          ></Label>
          <Switch
            [isEnabled]="bikeType === null || bikeType === 1 ? true : false"
            col="1"
            horizontalAlignment="right"
            checked="false"
            (checkedChange)="onCheckedChangeBike(1)"
          ></Switch>
        </GridLayout>
        <GridLayout columns="auto, *" rows="auto" marginTop="15">
          <Label
            col="0"
            class="fisas__p--label"
            text="{{ 'applications.bikeConventional' | translate }}"
          ></Label>
          <Switch
            [isEnabled]="bikeType === null || bikeType === 2 ? true : false"
            col="1"
            horizontalAlignment="right"
            checked="false"
            (checkedChange)="onCheckedChangeBike(2)"
          ></Switch>
        </GridLayout>
      </StackLayout>

      <StackLayout>
        <GridLayout columns="*, auto" rows="auto" marginTop="65">
          <Label
            col="0"
            textWrap="true"
            class="candidatura__p"
            paddingRight="6"
            text="{{ 'applications.bikeOther' | translate }}"
          ></Label>
          <Switch
            col="1"
            horizontalAlignment="right"
            row="0"
            verticalAlignment="top"
            (checkedChange)="onCheckedCheckSecond()"
          ></Switch>
        </GridLayout>
      </StackLayout>

      <!-- Data de Inicio-->
      <StackLayout paddingTop="48">
        <Label
          class="candidatura__p"
          textWrap="true"
          text="{{ 'applications.startDate' | translate }}"
          paddingBottom="6"
        ></Label>
        <Label
          class="candidatura__p--light"
          textWrap="true"
          text="{{ 'applications.startDateDesc' | translate }}"
        ></Label>
        <GridLayout columns="auto, auto" rows="auto" paddingTop="6">
          <TextField
            col="0"
            class="fisas__input"
            hint="04/09/2019"
            minWidth="169"
            [(ngModel)]="startDate"
            (tap)="pickStartDate()"
            editable="false"
          ></TextField>
          <Label
            col="1"
            minWidth="55"
            textAlignment="center"
            fontSize="20"
            class="candidatura__input--label fisas__icon"
            text="&#xe936;"
          ></Label>
        </GridLayout>
      </StackLayout>

      <!-- Data de Fim-->
      <StackLayout paddingTop="48">
        <Label
          class="candidatura__p"
          textWrap="true"
          text="{{ 'applications.endDate' | translate }}"
          paddingBottom="6"
        ></Label>
        <Label
          class="candidatura__p--light"
          textWrap="true"
          text="{{ 'applications.endDateDesc' | translate }}"
        ></Label>
        <GridLayout columns="auto, auto" rows="auto" paddingTop="6">
          <TextField
            col="0"
            class="fisas__input"
            hint="04/10/2019"
            minWidth="169"
            [(ngModel)]="endDate"
            (tap)="pickEndDate()"
            editable="false"
          ></TextField>
          <Label
            col="1"
            minWidth="55"
            textAlignment="center"
            fontSize="20"
            class="candidatura__input--label fisas__icon"
            text="&#xe936;"
          ></Label>
        </GridLayout>
      </StackLayout>

      <StackLayout marginTop="48">
        <Label
          class="candidatura__title"
          text="{{ 'applications.physicalStature' | translate }}"
        ></Label>
        <Label
          class="candidatura__p--light"
          textWrap="true"
          text="{{ 'applications.physicalStatureDesc' | translate }}"
        ></Label>
      </StackLayout>

      <!-- Média de deslocações -->
      <StackLayout marginTop="12">
        <Label
          class="candidatura__p"
          textWrap="true"
          text="{{ 'applications.weight' | translate }}"
          paddingBottom="6"
        ></Label>

        <GridLayout columns="auto, auto" rows="auto" marginTop="15">
          <TextField
            [(ngModel)]="weight"
            (focus)="onFocusClear()"
            autocapitalizationType="none"
            autocorrect="false"
            autocorrect="false"
            class="fisas__input"
            col="0"
            hint="000"
            keyboardType="number"
            minWidth="102"
            textAlignment="right"
          ></TextField>
          <Label
            col="1"
            minWidth="55"
            class="candidatura__input--label"
            text="kg"
          ></Label>
        </GridLayout>
      </StackLayout>

      <!-- Height -->
      <StackLayout marginTop="12">
        <Label
          class="candidatura__p"
          textWrap="true"
          text="{{ 'applications.height' | translate }}"
          paddingBottom="6"
        ></Label>

        <GridLayout columns="auto, auto" rows="auto" marginTop="15">
          <TextField
            [(ngModel)]="height"
            (focus)="onFocusClear()"
            autocapitalizationType="none"
            autocorrect="false"
            autocorrect="false"
            class="fisas__input"
            col="0"
            hint="0,00"
            keyboardType="number"
            minWidth="102"
            textAlignment="right"
          ></TextField>
          <Label
            col="1"
            minWidth="55"
            class="candidatura__input--label"
            text="{{ 'applications.meters' | translate }}"
          ></Label>
        </GridLayout>
      </StackLayout>

      <!-- candidatura -->
      <StackLayout marginTop="48">
        <Label
          class="candidatura__title"
          text="{{ 'applications.terms' | translate }}"
        ></Label>
      </StackLayout>
      <StackLayout>
        <GridLayout columns="*, auto" rows="auto" marginTop="15">
          <Label
            col="0"
            textWrap="true"
            class="candidatura__p"
            text="{{ 'applications.termsDesc' | translate }}"
          ></Label>
          <Switch
            col="1"
            horizontalAlignment="right"
            checked="false"
            (checkedChange)="onCheckedChangeTerms(true)"
          ></Switch>
        </GridLayout>
      </StackLayout>

      <!-- <StackLayout marginTop="48">
        <Label
          textWrap="true"
          class="candidatura__link fisas__color--{{ institution }}"
          text="Consultar ou descarregar os Termos de Utilização"
        ></Label>
      </StackLayout> -->

      <StackLayout *ngIf="!terms" marginTop="90">
        <Label
          width="100%"
          class="fisas__btn-bottom"
          text="{{ 'applications.continue' | translate }}"
        ></Label>
      </StackLayout>
      <StackLayout *ngIf="terms" marginTop="90">
        <Label
          *ngIf="error"
          color="#ff0000"
          textAlignment="center"
          textWrap="true"
          text="{{ 'applications.error' | translate }}"
        ></Label>
        <Label
          width="100%"
          class="fisas__btn-bottom fisas__bg--{{ institution }}"
          text="{{ 'applications.continue' | translate }}"
          (tap)="sendCandidature()"
        ></Label>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</StackLayout>
