<div class="user_info screen" nz-row nzType="flex" nzJustify="space-around" style="height: 94%;">


    <nz-spin [nzSpinning]="orderLoading" *ngIf="orderSelectedBar">
        <div class="user_info__info1" style="height: 5%;">
            <b>Em atendimento</b>
        </div>
        <nz-divider></nz-divider>
        <div nz-row style="height: 50%;">
            <div>
                <p class="user_info__user_order">Pedido Nº {{orderSelectedBar?.id ? orderSelectedBar?.id : '-'}}</p>
                <p class="user_info__user_email"><b>{{ orderSelectedBar.created_at ? (orderSelectedBar.created_at | date: 'dd-MM-yyyy') : '-' }}</b></p>
                <p class="user_info__user_name"><b>{{ orderSelectedBar.user.name ? orderSelectedBar.user.name : '-' }}</b></p>
                <p class="user_info__user_email">{{ orderSelectedBar.user.email ? orderSelectedBar.user.email : '-' }}</p>
                <p class="user_info__user_number">n.º {{ orderSelectedBar.user.student_number ? orderSelectedBar.user.student_number : '-' }}</p>
            </div>
            <nz-spin [nzSpinning]="balancesLoading">
                <div class="user_info__balance">
                    Saldo disponível: <span
                        [ngClass]="{'balance_positive': currentPositive, 'balance_negative': !currentPositive}">{{ balance ?
                        balance.current_balance : '-' }}€</span>
                </div>
            </nz-spin>
            <div>
                <button class="button-tertiary cursor button-delete" (click)="modalDeleteOrderVisible = true">Eliminar
                    Pedido</button>
            </div>
        </div>
        <nz-divider></nz-divider>
        <div style="height: 30%;">
            <div nz-row nzType="flex" nzJustify="center" class="user_info__button">
                <button class="button-tertiary cursor" [disabled]="boxSelected == 'undefined'" [ngClass]="{'disabled': boxSelected == 'undefined'}"
                    (click)="chargeAccount()">Carregamentos</button>
            </div>
            <div nz-row nzType="flex" nzJustify="center" class="user_info__button">
                <button class="button-tertiary cursor" 
                    (click)="movements()">Movimentos</button>
            </div>
            <div nz-row nzType="flex" nzJustify="center" class="user_info__button">
                <button class="button-tertiary cursor"
                    [ngClass]="{'disabled': !currentPositive || currentZero || boxSelected == 'undefined'}"
                    [disabled]="!currentPositive || currentZero || boxSelected == 'undefined'" (click)="unChargeAccount()">Devolver
                    Plafond</button>
            </div>
        </div>
    </nz-spin>
   
</div>


<nz-modal [(nzVisible)]="modalDeleteOrderVisible" nzWrapClassName="vertical-center-modal" [nzMask]="false"
    nzOkText="Anular" nzCancelText="Cancelar" [nzFooter]="modalDeleteOrder"
    (nzOnCancel)="modalDeleteOrderVisible = false;">
    <p class="modal__title">Pretende eliminar o pedido?</p>
    <div class="balance_positive" style="text-align: center;">Nº {{orderSelectedBar?.id}}</div>
    <p>Ao eliminar o pedido o valor de <label class="balance_positive">{{orderSelectedBar?.total_price | number: '1.2-2'}}€</label>
        será creditado na conta do cliente</p>

</nz-modal>
<ng-template #modalDeleteOrder>
    <div nz-row [nzGutter]="12">
        <div nz-col nzSpan="12">
            <nz-spin [nzSpinning]="isloadingDeleteOrder">
                <button class="button-tertiary button-tertiary--danger cursor" (click)="deleteOrder()">
                    Eliminar Pedido
                </button>
            </nz-spin>
        </div>

        <div nz-col nzSpan="12">
            <button class="button-secundary cursor" (click)="modalDeleteOrderVisible = false;">
                Cancelar
            </button>
        </div>
    </div>

</ng-template>