@import 'theme';

.cursor {
    cursor: pointer;
}

.user_info {
    margin: 24px 36px 24px 36px;

    &__search {
        display: flex;
        flex-direction: row;

        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
        border: solid 1px #e8e8e8;
        background-color: #ffffff;

        &__btn {
            border-radius: 4px;
            background: white;
            border: 0px;
            padding: 12px;
            font-size: 18px;
            width: 100%;
            text-align: left;
            color: #9e9e9e;
        }
    }

    &__info1 {
        margin-top: 25px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #333333;
    }

    &__user_name {
        margin: 0px;
        margin-top: 8px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
    }

    &__user_order {
        margin: 0px;
        margin-top: 8px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        font-size: 18px;
    }

    &__user_email {
        margin: 0px;
        margin-top: 6px;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #666666;
    }

    &__user_number {
        margin: 0px;
        margin-top: 16px;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #666666;
    }

    &__user_tin {
        margin: 0px;
        margin-top: 16px;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #666666;
    }


    &__balance {
        margin: 0px;
        margin-top: 16px;
        margin-bottom: 40px;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #666666;

        &__box {
            text-align: center;
            border: @primary-6 3px dashed;
            font-size: 24px;
            font-weight: bold;
        }
    }

    &__button {
        margin-bottom: 16px;
    }
}

.balance_positive {
    color: #1ba974;
}
.balance_negative {
    color: #a91b1b;
}


.button-delete {
    background-color: #f5001e;
    color: white;
    border: none;
}