<AbsoluteLayout>
<StackLayout class="dashboard" width="100%" height="100%">
    <!-- action bar -->
    <fi-dashboard-action-bar></fi-dashboard-action-bar>

    <!-- loader -->
    <StackLayout class="fisas__form__block" marginTop="40" *ngIf="isLoading">
        <ActivityIndicator
            row="1"
            #activityIndicator
            [busy]="isLoading"
            width="100%"
            height="50"
            color="lightgray"
            class="fisas__loading"
        ></ActivityIndicator>
    </StackLayout>

    <ScrollView row="0" class="dashboard__bg" height="100%" *ngIf="!isLoading">
    <WrapLayout orientation="horizontal" class="dashboard__container">
        
        <!-- news-->
        <ng-container *ngIf="news?.length">
            <StackLayout class="fisas__content dashboard__titles">
                <GridLayout columns="*, auto" rows="*, *">
                <Label
                    textWrap="true"
                    class="fisas__h1"
                    text="{{ 'dashboard.news.title' | translate }}"
                ></Label>
                <Label
                    row="1"
                    textWrap="true"
                    class="fisas__h2"
                    text="{{ institution.acronym }} {{
                    'dashboard.news.subtitle' | translate
                    }}"
                ></Label>

                <ng-container *ngIf="news?.length">
                    <StackLayout
                    row="1"
                    col="1"
                    verticalAlignment="bottom"
                    horizontalAlignment="right"
                    [nsRouterLink]="['/news/list']"
                    >
                    <Label
                        fisasButton
                        textTransform="none"
                        height="auto"
                        class="fisas__btn-rounded"
                        text="{{ 'dashboard.see_more' | translate }}"
                    ></Label>
                    </StackLayout>
                </ng-container>
                </GridLayout>
            </StackLayout>

            <ScrollView
                scrollBarIndicatorVisible="false"
                orientation="horizontal"
                class="dashboard__cards dashboard__cards__scroll"
            >
                <FlexboxLayout paddingRight="18">
                <StackLayout
                    col="{{ i }}"
                    paddingBottom="10"
                    *ngFor="let item of news; index as i"
                >
                    <StackLayout
                    class="dashboard__cards__container"
                    [ngClass]="{ dashboard__cards__container__first: i === 0 }"
                    width="324"
                    [nsRouterLink]="['/news/detail/', item?.id]"
                    >
                    <StackLayout
                        class="dashboard__cards__img"
                        *ngIf="!(item?.translations)[0]?.file_16_9?.url"
                    ></StackLayout>
                    <Image
                        class="dashboard__cards__img"
                        *ngIf="(item?.translations)[0]?.file_16_9?.url"
                        src="{{ (item?.translations)[0]?.file_16_9?.url }}"
                        stretch="aspectFill"
                        loadMode="async"
                    ></Image>
                    <StackLayout
                        class="dashboard__cards__content"
                        minHeight="95"
                    >
                        <Label
                        class="fisas__p--light"
                        text="{{ (item?.category?.translations)[0]?.name }}"
                        ></Label>
                        <Label
                        maxLines="2"
                        class="fisas__p"
                        text="{{ (item?.translations)[0]?.title }}"
                        ></Label>
                    </StackLayout>
                    </StackLayout>
                </StackLayout>
                </FlexboxLayout>
            </ScrollView>
        </ng-container>

        <!-- meals -->
        <ng-container *ngIf="meals?.length">
            <StackLayout class="fisas__content dashboard__titles">
                <GridLayout columns="*, auto" rows="*, *">
                    <Label textWrap="true" colSpan="2" class="fisas__h1" text="{{ 'dashboard.meals.title' | translate }} {{school}} - {{ refectory }}"></Label>
                    <Label row="2" textWrap="true" class="fisas__h2" text="{{(hour > 13 ? 'dashboard.meals.dinner' : 'dashboard.meals.lunch') | translate}}"></Label>
                    <StackLayout row="2" col="1" verticalAlignment="bottom" horizontalAlignment="right" [nsRouterLink]="['/meals/list/']">
                        <Label fisasButton class="fisas__btn-rounded" text="{{ 'dashboard.see_more' | translate }}"></Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <ScrollView scrollBarIndicatorVisible="false" orientation="horizontal" class="dashboard__cards dashboard__cards__scroll">
                <FlexboxLayout paddingRight="18">
                <StackLayout col="{{ i }}" paddingBottom="10" *ngFor="let item of meals; index as i">
                    <StackLayout class="dashboard__cards__container" [ngClass]="{dashboard__cards__container__first: i === 0, 'fisas--opacity': !item?.available || !item?.isStockAvailable}" width="160">
                        <StackLayout class="dashboard__cards__content" minHeight="140">
                            <StackLayout minHeight="200" [nsRouterLink]="item?.available && item?.isStockAvailable ? ['/meals/detail/', item?.id]: []">
                                <Image src="{{ item?.file.url }}" loadMode="async" style="height: 110; background-color: black;" stretch="aspectFill"></Image>
                                <Label textWrap="true" class="fisas__p--light" text="{{ (item?.dish_type_translation)[0]?.name }}" marginTop= 10></Label>
                                <Label maxLines="2" class="fisas__p dashboard__cards__p" text="{{ (item?.translations)[0]?.name }}" minHeight="40"></Label>
                            </StackLayout>

                            <GridLayout (tap)="item?.available && item?.isStockAvailable ? openModal(item): '' " columns="*, auto">
                                <Label textWrap="true" verticalAlignment="center" class="dashboard__cards__buy" text="{{ 'dashboard.meals.buy' | translate }}"></Label>
                                <Label col="1" textWrap="true" padding="5 10" class="fisas__btn-border fisas__border--{{ institution.acronym }}" textAlignment="center" text="{{ item?.price_formated }}"></Label>
                            </GridLayout>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
                </FlexboxLayout>
            </ScrollView>
        </ng-container>

        <!--  tickets -->
        <ng-container *ngIf="isLogged">
            <StackLayout class="fisas__content dashboard__titles">
                <GridLayout columns="*, auto" rows="*, *">
                    <Label row="1" textWrap="true" class="fisas__h2" text="{{ 'dashboard.meals.your_tickets' | translate }}"></Label>
                    <StackLayout *ngIf="reservations?.length" row="1" col="1" verticalAlignment="bottom" horizontalAlignment="right">
                        <Label fisasButton class="fisas__btn-rounded" text="{{ 'dashboard.see_more' | translate }}" [nsRouterLink]="['/ticket/list/']"></Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </ng-container>
        <!-- !tickets -->
        <ng-container *ngIf="isLogged && !reservations?.length">
            <StackLayout class="dashboard__cards">
                <StackLayout class="dashboard__cards__no-ticket">
                    <StackLayout class="dashboard__cards__no-ticket__content">
                        <Label
                        class="fisas__p"
                        horizontalAlignment="center"
                        verticalAlignment="center"
                        text="{{ 'dashboard.meals.no_tickets' | translate }} "
                        ></Label>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </ng-container>

        <ng-container *ngIf="isLogged && reservations?.length">
            <ScrollView scrollBarIndicatorVisible="false" orientation="horizontal" class="dashboard__cards dashboard__cards__scroll" style="margin-left: 18;">
                <FlexboxLayout paddingRight="18">
                    <StackLayout *ngFor="let item of reservations; index as i">
                        <!-- reservation ticket properties -->
                        <StackLayout style="background-color: white; border-radius: 7; width: 324; margin-left: 6;">
                            <fi-canteen-ticket
                                *ngIf="item.isAvailable && !item.isServed"
                                maxLines="{{ true }}"
                                image="{{ item?.menu_dish.dish.file.url }}"
                                date="{{ item?.menu_dish.menu.date }}"
                                meal="{{ (item?.menu_dish.type.translations)[0]?.name }}"
                                name="{{ (item?.menu_dish.dish.translations)[0]?.name }}"
                                refectory="{{ item?.location }}"
                                type="{{ item?.menu_dish.menu.meal }}"
                                id="{{ item?.id }}"
                            ></fi-canteen-ticket>
                            <!-- cancel ticket button: it has transparency and has no effect in the case of the nullable_until property is outdated (check function(item)) -->
                            <FlexboxLayout style="justify-content: flex-end; margin-right: 15; margin-top: -12;">
                                <StackLayout>
                                    <Label class="dashboard__cancelBtn" [ngClass]="{'dashboard__cards__container--opacity': !check(item)}" text="{{ 'dashboard.cancelTicket' | translate }}" (tap)=cancelTicket(item)></Label>
                                </StackLayout>
                            </FlexboxLayout>
                        </StackLayout>
                    </StackLayout>
                </FlexboxLayout>
            </ScrollView>
        </ng-container>

        <!-- account balances -->
        <StackLayout>
        <ng-container *ngIf="isLogged && balances?.length">
            <StackLayout class="fisas__content dashboard__titles">
                <GridLayout columns="*, auto" rows="*, *">
                <Label
                    textWrap="true"
                    class="fisas__h1"
                    text="{{ 'dashboard.account.title' | translate }}"
                ></Label>
                <Label
                    row="1"
                    textWrap="true"
                    class="fisas__h2"
                    text="{{ 'dashboard.account.subtitle' | translate }}"
                ></Label>
                <!-- see more -->
                    <StackLayout
                        row="1"
                        col="1"
                        verticalAlignment="bottom"
                        horizontalAlignment="right"
                        [nsRouterLink]="['/current-account/list']"
                    >
                        <Label
                            fisasButton
                            class="fisas__btn-rounded"
                            text="{{ 'dashboard.see_more' | translate }}"
                        ></Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <ScrollView
                scrollBarIndicatorVisible="false"
                orientation="horizontal"
                class="dashboard__cards dashboard__cards__scroll"
            >
                <FlexboxLayout>
                <StackLayout
                    col="{{ i }}"
                    paddingBottom="10"
                    *ngFor="let item of balances; index as i"
                >
                    <StackLayout
                    class="dashboard__cards__container"
                    [ngClass]="{ dashboard__cards__container__first: i === 0 }"
                    width="160"
                    >
                    <StackLayout class="dashboard__cards__content">
                        <Label
                        textWrap="true"
                        class="fisas__p"
                        fontSize="19"
                        text="{{ item?.current_balance_formated }}"
                        ></Label>
                        <Label
                        textWrap="true"
                        class="fisas__p"
                        text="{{ item?.account_name }}"
                        ></Label>
                    </StackLayout>
                    </StackLayout>
                </StackLayout>
                </FlexboxLayout>
            </ScrollView>
        </ng-container>
        </StackLayout>

            <!-- mobility -->
            <!--
        <StackLayout class="fisas__content dashboard__titles">
        <GridLayout columns="*, auto" rows="*, *">
            <Label
            textWrap="true"
            class="fisas__h1"
            text="{{ 'dashboard.mobility.title' | translate }}"
            ></Label>
            <Label
            row="1"
            textWrap="true"
            class="fisas__h2"
            text="{{ 'dashboard.mobility.subtitle' | translate }}"
            ></Label>
            <StackLayout
            row="1"
            col="1"
            verticalAlignment="bottom"
            horizontalAlignment="right"
            >
            <Label
                fisasButton
                class="fisas__btn-rounded"
                text="{{ 'dashboard.see_more' | translate }}"
            ></Label>
            </StackLayout>
        </GridLayout>
        </StackLayout>

        <WrapLayout orientation="horizontal" class="fisas__content">
        <StackLayout>
            <label
            fisasButton
            class="fisas__btn-rounded dashboard__tabs dashboard__tabs--active"
            text="{{ 'dashboard.mobility.only_go' | translate }}"
            ></label>
        </StackLayout>
        <StackLayout>
            <label
            fisasButton
            marginLeft="10"
            class="fisas__btn-rounded dashboard__tabs"
            text="{{ 'dashboard.mobility.monthly_ticket' | translate }}"
            ></label>
        </StackLayout>
        </WrapLayout>

        <StackLayout>
        <StackLayout class="dashboard__cards dashboard__cards--mobility">
            <StackLayout class="dashboard__cards__container">
            <GridLayout columns="auto,*,auto" rows="auto,auto">
                -- Origin --
                <StackLayout col="0" class="dashboard__cards__content">
                <Label class="fisas__icon" text="&#xf041;"></Label>
                </StackLayout>
                <StackLayout col="1" verticalAlignment="center">
                <TextField
                    class="fisas__input fisas__input--no-border"
                    hint="{{ 'dashboard.mobility.origin' | translate }}"
                    autocorrect="false"
                    keyboardType="email"
                    autocorrect="false"
                    autocapitalizationType="none"
                ></TextField>
                </StackLayout>

                -- Icon --
                <Label
                col="2"
                rowSpan="2"
                verticalAlignment="center"
                class="fisas__icon dashboard__cards__content"
                text="&#xf07d;"
                ></Label>

                -- Destination --
                <StackLayout row="1" class="dashboard__cards__content">
                <Label class="fisas__icon" text="&#xf041;"></Label>
                </StackLayout>
                <StackLayout row="1" col="1" verticalAlignment="center">
                <TextField
                    class="fisas__input fisas__input--no-border"
                    hint="{{ 'dashboard.mobility.destination' | translate }}"
                    autocorrect="false"
                    keyboardType="email"
                    autocorrect="false"
                    autocapitalizationType="none"
                ></TextField>
                </StackLayout>
            </GridLayout>

            <StackLayout class="fisas__line"></StackLayout>

            <GridLayout columns="auto, *" row="*">
                <Label
                rowSpan="2"
                class="dashboard__cards__content fisas__icon"
                text="&#xf274;"
                ></Label>
                <StackLayout col="1" verticalAlignment="center">
                <Label
                    class="fisas__note"
                    text="{{ 'dashboard.mobility.date' | translate }}"
                ></Label>
                <TextField
                    class="fisas__input fisas__input--no-border"
                    hint="{{ 'dashboard.mobility.date' | translate }}"
                    [(ngModel)]="birthday"
                    (tap)="pickDate()"
                    editable="false"
                ></TextField>
                </StackLayout>
            </GridLayout>
            </StackLayout>
        </StackLayout>
        </StackLayout>
        -->

            <!-- ubike -->
            <!--
        <StackLayout class="fisas__content dashboard__titles">
        <GridLayout columns="*, auto" rows="*, *">
            <Label
            textWrap="true"
            class="fisas__h1"
            text="{{ 'dashboard.ubike.title' | translate }}"
            ></Label>
            <Label
            row="1"
            textWrap="true"
            class="fisas__h2"
            text="{{ 'dashboard.ubike.subtitle' | translate }}"
            ></Label>
            <StackLayout
            row="1"
            col="1"
            verticalAlignment="bottom"
            horizontalAlignment="right"
            >
            <Label
                fisasButton
                class="fisas__btn-rounded"
                text="{{ 'dashboard.see_more' | translate }}"
            ></Label>
            </StackLayout>
        </GridLayout>
        </StackLayout>

        <StackLayout>
        <StackLayout class="dashboard__cards">
            <GridLayout
            columns="*, auto"
            rows="*"
            class="dashboard__cards__container dashboard__cards__content"
            >
            <Label
                textWrap="true"
                class="fisas__p"
                text="{{ 'dashboard.ubike.terms' | translate }}"
            ></Label>
            <Label
                col="1"
                horizontalAlignment="right"
                class="fisas__icon"
                text="&#xf061;"
            ></Label>
            </GridLayout>
        </StackLayout>
        </StackLayout>
        -->

        <ng-container
            *ngIf="!isLogged"
        >
            <StackLayout class="fisas__content" marginBottom="20">
            <Label
                class="fisas__h2"
                text="{{ 'dashboard.no_content' | translate }}"
                textAlignment="center"
            ></Label></StackLayout
        ></ng-container>
        <StackLayout class="fisas__content">
            <Image
            width="500"
            src="~/images/apoios-fisas.png"
            horizontalAligment="center"
            marginBottom="20"
            loadMode="async"
            ></Image>
        </StackLayout>
    </WrapLayout>
    </ScrollView>
</StackLayout>
<fi-footer-modal></fi-footer-modal>
</AbsoluteLayout>
