@import "~/scss/_variables";

.dashboard {
  /* ----------------------- */
  /* Common */

  .fisas {
    &__btn {
      color: $white;
      margin: 0;
      padding: 0;
      display: inline;
    }

    &__input {
      padding: 0;
      margin-bottom: 0;
      color: $black;
    }

    &___icon {
      padding: 0;
      margin: 0;
      //horizontal-align: center;
    }

    &__p--light {
      margin-bottom: 6;
      text-transform: uppercase;
    }
  }

  /* ----------------------- */
  /* Component */

  &__bg {
    background: #f3f3f3;
  }

  &__container {
    padding-top: 18;
  }

  &__titles {
    padding-bottom: 18;
  }

  &__cards {
    margin-bottom: 42;
    //margin-left: 18;
    margin-right: 18;

    &__no-ticket {
      margin-left: 18;

      &__content {
        border-color: $light-grey;
        border-radius: 7;
        border-width: 1;
        height: 96;
        width: 100%;
        vertical-align: center; 
      }
    }

    &__scroll {
      margin-right: 0;
    }

    &__container {
      margin-left: 6;
      border-radius: 7;
      // border-color: #e8e8e8;
      // border-width: 1;
      background: $white;

      &__first {
        margin-left: 18;
      }

      &--opacity {
        opacity: 0.5;
      }
    }

    &__img {
      border-top-left-radius: 7;
      border-top-right-radius: 7;
      width: 324;
      height: 132;
    }

    &__content {
      padding: 18 12;
    }

    &__p {
      text-transform: uppercase;
    }

    &__buy {
      font-family: "Montserrat", "Montserrat-Medium";
      font-size: 10px;
      font-weight: 500;
    }

    &--mobility {
      margin-top: 30;
    }
  }

  &__meals {
    &__length {
      font-size: 11;
      margin-top: 5;
      margin-left: 5;
      padding: 2 10;
      text-align: center;
      border-radius: 7;
      color: $white;
    }

    &__info {
      padding-left: 10;
    }
  }

  &__tabs {
    margin-top: 5;
    text-transform: uppercase;
    font-size: 11px;

    &--active {
      font-weight: bold;
    }
  }
  &__cancelBtn {
    font-family: "Montserrat", "Montserrat-Bold";
    font-size: 11;
    line-height: 1.64;
    color: black;
    border-radius: 50;
    text-align: center;
    padding: 5 10;
    background: #ffffff;
    border-width: 1;
    border-color: #d0021b;
    margin-bottom: 10;
  }
}
