
.box{
    box-shadow: 
          inset 0 -3em 3em rgba(0,0,0,0.0), 0 0 0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.2);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 51px;
    margin-left: 51px;
    @media screen and (max-width: 600px) {
        margin-right: 20px;
        margin-left: 20px;
    }
    @media screen and (max-width: 800px) {
        margin-right: 20px;
        margin-left: 20px;
    }
    @media screen and (max-width: 1400px) {
        margin-right: 37px;
        margin-left: 37px;
    }
    background-color: white;
}

.text-title {
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}

.space-button {
    text-align: center;
    padding-bottom: 20px;
}

.grey {
    background-color: #f0f2f5 !important;
}