<form [formGroup]="formGroup">
  <nz-select
    [formControlName]="field.key"
    [nzMode]="field.templateOptions.multiSelect ? ( field.templateOptions.multiSelect ? 'multiple' : 'default') : 'default'"
    [nzServerSearch]="field.templateOptions.serverSearch ? field.templateOptions.serverSearch : false"
    (nzOnSearch)="onSearch($event)"
    [nzShowSearch]="true"
  >
    <nz-option *ngFor="let option of dataSubject | async" [nzValue]="option.value"
      [nzLabel]="option.label"></nz-option>
    <nz-option *ngIf="isLoading" nzLabel="A carregar..."></nz-option>
  </nz-select>
</form>
