<nz-spin [nzSpinning]="isLoading">
  <div nz-row>
    <div class="preview-container">
      <div  [ngStyle]="{
        'background-image': 'url(' + mediaUrl +')',
        'background-repeat': 'no-repeat',
        'height':' 100%',
        'position':'relative',
        'background-size':'contain',
        'background-position':'center'}">
        <div nz-row nzType="flex" nzJustify="center" class="preview-container__buttons">
            <div nz-col>
            <nz-button-group *ngIf="!isSavedOnServer" [nzSize]="'small'">
              <button nz-button [disabled]="!isImageLoaded || isSavedOnServer || (!isCropped && aspectRatio) || hasSaved" (click)="confirm()">Confirmar</button>
              <button nz-button [disabled]="!isImageLoaded || isSavedOnServer" (click)="showEditingModal()">Recortar</button>
              <button nz-button [disabled]="isSavedOnServer" (click)="upload_input.click();">
                <i nz-icon type="upload"></i><span>Upload</span>
              </button>
            </nz-button-group>
            <button nz-button [nzType]="'danger'" *ngIf="isSavedOnServer" (click)="deleteImage()">Remover</button>
            </div>
            <input nz-input type="file" accept="image/*" (change)="fileChangeEvent($event)" #upload_input/>
          </div>
        </div>
      </div>
  </div>
  <nz-modal
    [(nzVisible)]="isModalVisible"
    nzTitle="Recortar imagem"
    [nzClosable]="true"
    [nzCancelText]="null"
    nzWidth="620"
    (nzOnOk)="confirmEditing()"
    (nzOnCancel)="rejectEditing()">
    <div class="img-container">
      <img #image [src]="originalImage"/>
    </div>
  </nz-modal>
</nz-spin>
