@import "theme";

nz-header {
  padding: 0 !important;
  background: #ffffff !important;
}


.main {
  min-height: 100vh;

  &__header {

  }

  &__container {
    //min-width: 400px;

    &__content {
      // min-height: calc(100vh - 32px);

      //padding: 20px;
      //margin-right: 50px;
      //margin-left: 50px;
      //margin-bottom: 50px;
    }

    &__footer {
      height: 69px;
      background-color: var(--footer-color);
    }

    &__sidebar {
      background: #FAFAFA !important;
      z-index: 999;
      height: 100% !important;
      box-sizing: border-box;
      position: fixed !important;
    }
  }

  @media screen and (max-width: 576px) {
    nz-sider {
      display: none;
    }
  }

}


