<div class="content-form">
  <form [formGroup]="locationForm" nzLayout="vertical">
    <div nz-row>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="address">Morada</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="address" id="address" name="address" maxlength="250">
        </nz-form-control>
        <nz-form-explain class="color-required" *ngIf="submitted && f.address.errors">
          Campo obrigatório
        </nz-form-explain>
      </nz-form-item>
    </div>
    <div nz-row>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="address_no">Porta/Andar</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="address_no" id="address_no" name="address_no" maxlength="25">
          </nz-form-control>
          <nz-form-explain class="color-required" *ngIf="submitted && f.address_no.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>
      </div>
      <div nz-col nzXs="0" nzMd="2"></div>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="postal_code">Código Postal</nz-form-label>
          <nz-form-control>
            <input nz-input [dropSpecialCharacters]="false" mask="0000-000" formControlName="postal_code"
              id="postal_code" name="postal_code">
          </nz-form-control>
          <nz-form-explain class="color-required" *ngIf="submitted && f.postal_code.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>
      </div>

    </div>

    

    <!--
    <div nz-row [nzGutter]="24">
      <div nz-col nzXs= 24 nzSm= 24 nzMd= 12 nzLg= 8 nzXl=8 nzXXl=4>
        <nz-form-item>
          <nz-form-label nzFor="latitude">Latitude</nz-form-label>
          <nz-form-control>
            <input nz-input type = "number" formControlName="latitude" id="latitude" name="latitude" placeholder="Latitude">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col nzXs= 24 nzSm= 24 nzMd= 12 nzLg= 8 nzXl=8 nzXXl=4>
        <nz-form-item>
          <nz-form-label nzFor="longitude">Longitude</nz-form-label>
          <nz-form-control>
            <input nz-input type = "number" formControlName="longitude" id="longitude" name="longitude" placeholder="Longitude">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>-->

    <div nz-row [nzGutter]="24">
      <div nz-col nzXs=24 nzMd=11>
        <nz-form-item>
          <nz-form-label nzRequired nzFor="city">Localidade</nz-form-label>
          <nz-form-control>
            <nz-select nzMode="default" nzShowSearch formControlName="city" (ngModelChange)="changeCity($event);">
              <nz-option *ngFor="let city of cities" [nzLabel]="city.city" [nzValue]="city.city"></nz-option>
            </nz-select>
          </nz-form-control>
          <nz-form-explain class="color-required" *ngIf="submitted && f.city.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>
      </div>
    </div>

    <!---------------------LATITUDE LONGITUDE------------------>
    <aol-map [height]="'500'" (onClick)="getLatLong($event)">
      <aol-interaction-default></aol-interaction-default>
      <aol-control-defaults></aol-control-defaults>
      <aol-control-scaleline></aol-control-scaleline>
      <aol-view [zoom]="15" [center]="[longitudeInit, latitudeInit]">
        <aol-coordinate [x]="longitudeInit" [y]="latitudeInit" [srid]="'EPSG:4326'">
        </aol-coordinate>
      </aol-view>
      <aol-layer-tile>
        <aol-source-osm></aol-source-osm>
      </aol-layer-tile>
      <aol-layer-vector>
        <aol-source-vector>
          <aol-feature>
            <aol-geometry-point>
              <aol-coordinate [x]="longitude" [y]="latitude" [srid]="'EPSG:4326'">
              </aol-coordinate>
            </aol-geometry-point>
            <aol-style>
              <!--<aol-style-icon [src]="'assets/imgs/map-marker-icon.png'" [anchor]="[0.5, 1]"
                            [anchorXUnits]="'fraction'" [anchorYUnits]="'fraction'" [scale]="0.1"
                            [anchorOrigin]="'top-left'">
                        </aol-style-icon>-->
              <aol-style-circle [radius]="10">
                <aol-style-stroke [color]="'black'" width="1"></aol-style-stroke>
                <aol-style-fill [color]="'red'"></aol-style-fill>
              </aol-style-circle>
            </aol-style>
          </aol-feature>
        </aol-source-vector>
      </aol-layer-vector>
    </aol-map>
    <label class="lat-long">Latitude: {{getValueFormat(locationForm.get('latitude').value)}}</label>
    <label class="lat-long">Longitude: {{getValueFormat(locationForm.get('longitude').value)}}</label>


  </form>
</div>