<div nz-row class="title">
  <label>
      Localizar Utente
  </label>
</div>

<div nz-row style="border-bottom: 1px solid #f0f2f5;">
  <div nz-col>
      <div nz-row>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" [nzLg]="11" [nzXl]="11" [nzXXl]="11">
                <div nz-row>
                    <nz-form-label>Nome</nz-form-label>
                    <nz-form-control>
                        <input type="text" nz-input [(ngModel)]="filters.search">
                    </nz-form-control>
                </div>
          </div>
          <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" [nzLg]="11" [nzXl]="11" [nzXXl]="11">
                <div nz-row>
                    <nz-form-label>Nº de Aluno/Funcionário</nz-form-label>
                    <nz-form-control>
                        <input type="text" nz-input [(ngModel)]="filters.student_number">
                    </nz-form-control>
                </div>
          </div>
        </div>
        <div nz-row>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" [nzLg]="11" [nzXl]="11" [nzXXl]="11">
                <div nz-row>
                    <nz-form-label>Nº de Telemóvel</nz-form-label>
                    <nz-form-control>
                        <input type="text" nz-input [(ngModel)]="filters.phone">
                    </nz-form-control>
                </div>
            </div>
            <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" [nzLg]="11" [nzXl]="11" [nzXXl]="11">
                <div nz-row>
                    <nz-form-label>Nº de Identificação Fiscal</nz-form-label>
                    <nz-form-control>
                        <input type="text" nz-input [(ngModel)]="filters.tin">
                    </nz-form-control>
                </div>
            </div>
      </div>
      <div nz-row class="filter">
          <button nz-button nzType="primary" class="btn" (click)="searchData(true)">Filtrar</button>
          <i nz-icon nzType="delete" class="btn-delete" class="filter__delete" nzTheme="outline"
              (click)="listComplete()"></i>
      </div>
  </div>
</div>
<div nz-row>

  <nz-table class="content-table" #refTable [nzScroll]="{ x: '240px' }" [nzData]="data"
      (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="loading" [nzFrontPagination]="false"
      [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true" [nzTotal]="totalData" [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="pagination()" (nzPageSizeChange)="pagination(true)">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
          <tr class="table__header">
              <th *ngFor="let column of columns" [nzShowSort]="column.sortable"
                  [nzSortKey]="column.sortKey ? column.sortKey : column.key"> {{ column.label }}</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <ng-template ngFor let-data [ngForOf]="refTable.data">
              <tr>
                <td *ngFor="let column of columns">
                    <span *ngIf="!column.tag">{{ column.translation ? (data.translations | where: ['language_id', 3]
                      )[0][column.key] : (data | flatObject)[column.key]}}</span>
                    <span *ngIf="column.template">
                      {{ column.template(data) }}
                    </span>
                    <span *ngIf="column.tag">
                      <fi-sas-tag [value]="data[column.key]" [results]="column.tag"></fi-sas-tag>
                    </span>
                  </td>
                  <td>
                      <button nz-button nzType="secundary" (click)="selectUser(data)">Selecionar</button>
                  </td>
              </tr>
          </ng-template>
      </tbody>
  </nz-table>
</div>