.content {
  padding: 24px;
  background-color: white;

  .subtitle {
      font-weight: bold;
  }
}

.actions {
  text-align : right;
  padding-top: 42px;

  button:first-child {
      margin-right: 24px;
  }

}
