@import "theme";

.blur {
  opacity: 50%;
}

.space-card {
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  display: grid;
}

.card {
  &__module {
    background-color: var(--primary-6);
    color: #fff !important;
    padding: 20px;
    border-radius: 7px;
    font-weight: 700;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    @media screen and (max-width:600px){
      margin-right: 0px;
    }

    &--name {
      color: #fff;
      font-size: 13px;
      padding-top: 10px;
    }
    &--icon {
      vertical-align: middle;
      font-size: 40px;
      color: #fff !important;
    }
  }

  &__title {
    color: black;
    font-weight: bold;
    font-size: 17px;
    font-family: Montserrat;
  }
  &__section {
    margin-bottom: 0.5cm;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__button {
    color: #fff !important;
    margin-top: 30px;
  }
  &-icon_color {
    color: #fff !important;
    margin-right: 5px;
  }
}

.card__module:hover {
  background-color: var(--primary-8);

}

:host::ng-deep {

  nz-empty {
    width: 100%;
    height: 100%;
  }

  .list-buttons {
    &__body {
      margin-top: 20px;
      //padding-top: 24px;
    }

    &__list {
      &__item {
        nz-card {
          border-radius: 8px;
          width: 100% !important;
          border: none !important;

          nz-carousel {
            border-radius: 8px 8px 0px 0px;

            [nz-carousel-content] {
              //padding: 18px;
              text-align: center;
              height: 130px;
              line-height: 130px;
              background: #293449;
              color: #fff;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}

.black-text {
  color: black;
  font-family: Montserrat;
  font-size: 15px;
}

#icon-dashboard::ng-deep svg {
  g path {
      fill: white;
  }
}

#icon-dashboard::ng-deep svg {
  path {
      fill: white;
  }
}

@media screen and (max-width:600px){
  .card{
    &__section {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}


.title {
  padding-left: 5px;
}