<div class="list-buttons__list" *ngIf="custumizeToggle || active">
  <div class="list-buttons__list__item">
    <nz-card class="card__section" [ngClass]="{'blur': !active}">
      <div nz-row class="title">
        <div nz-col>
          <app-service-presentation-text [serviceId]="serviceId"></app-service-presentation-text>
        </div>
      </div>
      <div class="card__button">
        <div nz-row nzType="flex" #service_widgets>
          <div *ngFor="let item of modules" nz-col [nzXs]="{ span: 24 }" [nzSm]="{ span: 12 }" [nzMd]="{ span: 12 }"
            [nzLg]="{ span: 12 }" [nzXl]="{ span: 6 }" class="space-card" >
            <div *ngIf="item.active" class="card__module" (click)="selectModule(item)" nz-row>
              <div nz-col [nzXs]="{ span: 7 }" [nzSm]="{ span: 6 }" [nzMd]="{ span: 5 }" [nzLg]="{ span: 5 }"
                [nzXl]="{ span: 4 }" class="card-icon_color">
                <i class="card__module--icon" nz-icon [type]="item.icon" id="icon-dashboard"></i>
              </div>
              <div nz-col [nzXs]="{ span: 16 }" [nzSm]="{ span: 17 }" [nzMd]="{ span: 18 }" [nzLg]="{ span: 18 }"
                [nzXl]="{ span: 29 }" class="card__module--name">
                {{item?.name ? ((item?.name |
                languageChange)?.name) : ''}}
              </div>

            </div>

          </div>

        </div>
      </div>
    </nz-card>
  </div>
</div>