@import "~/scss/_variables";

.mobility-prices {
  &__indicator{
    height: 100%;
    width: 100%;
    margin-top: 40;
  }
  &__description {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 15;
    color: black;
  }
  &__price {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 15;
    color: #aaaaaa;
  }
  &__pricings {
    font-family: "Montserrat";
    font-weight: 300;
    color: black;
    font-size: 15;
  }
  &__route {
    font-family: 'Montserrat';
    font-size: 12;
    font-weight: 500;
    color:black;
  }
}
