<StackLayout>
    <!-- action bar -->
    <fi-action-bar [actionBarType]="4" actionBarTitle="Prices"></fi-action-bar>
    <StackLayout class="mobility-dashboard__routeList">
        <FlexboxLayout style="flex-direction: column; width: 100%; justify-content: center; align-items: center">
            <Label text="{{ 'mobility-prices.prices' | translate }}" class="mobility-prices__pricings"></Label>
            <Label text="{{ routeName }}" class="mobility-prices__route"></Label>
        </FlexboxLayout>

        <!-- Loading movements Activity Indicator -->
        <StackLayout class="mobility-prices__indicator" *ngIf="isLoading">
            <ActivityIndicator row="1" #activityIndicator [busy]="isLoading" width="100%" height="50" color="lightgray" class="fisas__loading"></ActivityIndicator>
        </StackLayout>

        <!-- no content labels -->
        <StackLayout *ngIf="!isLoading && showError == true" justifyContent="center" class="mobility-route__container">
            <Label
                class="fisas__p" style="width: 80%;" marginTop="30%" textWrap = "true" textAlignment="center"
                text="{{ 'mobility-prices.noData' | translate }}"
            ></Label>
            <Label
                class="fisas__icon mobility-route__icon mobility-route__busicon" text="&#xe924;" marginTop="20" horizontalAlignment="center" verticalAlignment="center"
            ></Label>
        </StackLayout>

        <!-- data -->
        <ng-container *ngFor="let item of prices; let i = index" marginTop=15>
            <FlexboxLayout style="flex-direction: row; justify-content: space-between; width: 80%; margin-top: 25; justify-self: center;">
                <Label class="mobility-prices__description" text="{{ item?.description }}"></Label>
                <Label class="mobility-prices__price" text="{{ item?.value | currency:'EUR':'':undefined:'pt-PT'}} €"></Label>
            </FlexboxLayout>
        </ng-container>
    </StackLayout>
</StackLayout>
