@import "theme";
.container {
    background: white;
    padding: 24px 30px 24px 30px;
    margin-bottom: 5px;
    &__title {
        font-size: 16px;
        line-height: 22px;
        margin: 0px;
        font-weight: bold;
        margin-bottom:10px;
        color:black;
    }
    &__subtitle{
      margin-bottom:5px;
    }
}

.space{
    background-color: #F2F2F2;
    padding-top:20px;
    padding-bottom: 20px;
    text-align: right
}

.box-day {
  border: 1px solid lightgrey;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 10px;
  cursor: pointer;
}

.box-day-seleted {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color)  !important;
  color: white;
}

.margin-top-selec {
  margin-top: -25px;
}

.input-selec {
  margin-left: 110px;
  margin-top: -30px;
}

.radio-block {
    display: block !important;
    padding-bottom: 10px;
}

.box-day-other {
  border: 1px solid lightgrey;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.color-required{
    color:red;
}

.text-right {
  text-align: right;
}

.text {
  color: Black;
  font-size: 13px;
  font-weight: bold;
  margin-top: -10px;
  font-size: 13px;
}

.button-submit{
    margin-left: 20px;
}

.lat-long {
    font-size: 12px;
    padding-right: 10px;
}

:host::ng-deep {
    .ant-calendar-picker {
        width: 200px !important;
    }

    .ant-time-picker {
        width: 200px !important;
    }
}

.hidden-md {
    display: none;
}

.content-form {
    padding: 24px;
    background: white;
  
    &__steps {
      padding-top: 30px;
      margin-left:-20px
    }
  
    &__actions {
      padding: 30px;
      &--next {
        button {
          float: right;
        }
      }
    }
}

.gallery {
  img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    margin-bottom: 6px;
  }
}

.button-back-action {
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
  color: var(--primary-color);
  border-radius: 21px;
  border: solid 2px var(--primary-color);
}

.sub-title {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: bold;
}
  
.title-step {
    font-size: 13px;
    color: grey;
}

@media screen and (max-width:800px) {
    .hidden-xs {
        display: none;
    }
    
    .hidden-md {
        display:block;
    }
    
    .step-mobile{
      padding-left: 20px;
      font-size: 16px;
    }
    
    .title-step{
      padding-top: 10px;
      font-weight: bold;
    }
    
    .content-form {
      padding: 24px;
      background: white;
    
      &__steps {
        padding-top: 30px;
        margin-left:0px
      }
    }
    
}
    
@media screen and (max-width:600px) {
    
    .hidden-xs {
        display: none;
    }
    
    .hidden-md {
        display: block;
    }
    
    .step-mobile{
      padding-left: 20px;
      font-size: 16px;
    }
    
    .title-step{
      padding-top: 10px;
      font-weight: bold;
    }
    
    .content-form {
      padding: 10px;
      background: white;
    }
    
    .content-form {
      padding: 10px;
      background: white;
    
      &__steps {
        padding-top: 30px;
        margin-left:0px
      }
    }
}