<div *ngIf="step == 0" class="content-form__steps hidden-md step-mobile">
    <div nz-row><label>Passo 1 de 4</label></div>
    <div nz-row class="title-step"><label>Evento</label></div>
</div>
<div *ngIf="step == 1" class="content-form__steps hidden-md step-mobile">
    <div nz-row><label>Passo 2 de 4</label></div>
    <div nz-row class="title-step"><label>Localização</label></div>
</div>
<div *ngIf="step == 2" class="content-form__steps hidden-md step-mobile">
    <div nz-row><label>Passo 3 de 4</label></div>
    <div nz-row class="title-step"><label>Anexos</label></div>
</div>
<div *ngIf="step == 3" class="content-form__steps hidden-md step-mobile">
    <div nz-row><label>Passo 4 de 4</label></div>
    <div nz-row class="title-step"><label>Revisão</label></div>
</div>
<div class="content-form">
    <div class="content-form__steps hidden-xs">
        <nz-steps class="content__line" [nzCurrent]="step" nzProgressDot>
            <nz-step nzTitle="Passo 1 de 4" nzDescription="Evento"> </nz-step>
            <nz-step nzTitle="Passo 2 de 4" nzDescription="Localização"> </nz-step>
            <nz-step nzTitle="Passo 3 de 4" nzDescription="Anexos"> </nz-step>
            <nz-step nzTitle="Passo 4 de 4" nzDescription="Revisão"></nz-step>
        </nz-steps>
    </div>
    <nz-divider class="divider-web"></nz-divider>
    <form [formGroup]="eventForm" nzLayout="vertical">
        <!--Step 0-->
        <div *ngIf="step == 0">
            <nz-spin [nzSpinning]="languagesLoading">
                <ng-container formArrayName="translations">
                    <div *ngFor="let translation of translations.controls; let i = index;" nz-col nzXs="24" nzMd="12"
                        style="padding-right: 20px ;" [formGroupName]="i">
                        <nz-form-item>
                            <nz-form-label nzRequired [nzFor]="'translations.' + i + '.title'">{{
                                'Título [' + (languages[i].acronym | uppercase) + ']'
                                }}</nz-form-label>

                            <ng-template #suffixTemplateName>
                                <i *ngIf="i > 0" nz-icon nz-tooltip type="copy" nzTheme="outline"
                                    nzTitle="Copiar de PT para EN" style="cursor: pointer;"
                                    (click)="copyField('title', i)"></i>
                            </ng-template>

                            <nz-form-control nzErrorTip="Campo obrigatório">
                                <nz-input-group [nzSuffix]="suffixTemplateName">
                                    <input type="text" nz-input formControlName="title">
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label nzRequired [nzFor]="'translations.' + i + '.description'">{{
                                'Descrição [' + (languages[i].acronym | uppercase) + ']'
                                }}</nz-form-label>

                            <ng-template #suffixTemplateDescription>
                                <i *ngIf="i > 0" nz-icon nz-tooltip type="copy" nzTheme="outline"
                                    nzTitle="Copiar de PT para EN" style="cursor: pointer;"
                                    (click)="copyField('description', i)"></i>
                            </ng-template>

                            <nz-form-control nzErrorTip="Campo obrigatório">
                                <nz-input-group [nzSuffix]="suffixTemplateDescription">
                                    <textarea maxlength="255" nz-input rows="2"
                                        formControlName="description" [nzAutosize]="{ minRows: 2, maxRows: 10 }"></textarea>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </ng-container>
            </nz-spin>
            <nz-divider></nz-divider>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzMd]="11" [nzLg]="11">
                    <nz-form-item>
                        <nz-form-label nzFor="recurrence_type" nzRequired>Tipo de Recorrência</nz-form-label>
                        <nz-form-control nzErrorTip="Campo obrigatório">
                            <nz-radio-group formControlName="recurrence_type"
                                (ngModelChange)="changeRecurrence($event)">
                                <label nz-radio nzValue="UNIQUE"><span>
                                        Único
                                    </span></label>
                                <label nz-radio nzValue="RECURRENT"><span>
                                        Recorrente
                                    </span></label>
                            </nz-radio-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="0" [nzMd]="1" [nzLg]="1"></div>
                <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="12">
                    <nz-form-item>
                        <nz-form-label nzFor="category_id" nzRequired>Categoria</nz-form-label>
                        <nz-form-control nzErrorTip="Campo obrigatório">
                            <nz-select nzMode="default" nzShowSearch formControlName="category_id">
                                <nz-option *ngFor="let category of categories"
                                    [nzLabel]="(category?.translations | translation).name" [nzValue]="category.id">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div *ngIf="eventForm.get('recurrence_type').value == 'RECURRENT'" nz-row>
                <div nz-col [nzXs]="24" [nzMd]="24" [nzLg]="24" style="padding-bottom: 20px;">
                    <label>
                        <b>Periocidade personalizada</b>
                    </label>
                </div>

                <div nz-col [nzXs]="24" [nzMd]="5" [nzLg]="5">
                    <nz-form-item>
                        <nz-form-label nzFor="repeat_frequency_number" nzRequired>Repetir a cada</nz-form-label>
                        <div nz-row>
                            <div nz-col [nzXs]="24" [nzMd]="9" [nzLg]="9">
                                <nz-form-control nzErrorTip="Campo inválido">
                                    <input nz-input formControlName="repeat_frequency_number" type="number">
                                </nz-form-control>
                            </div>
                            <div nz-col [nzXs]="0" [nzMd]="1" [nzLg]="1"></div>
                            <div nz-col [nzXs]="24" [nzMd]="13" [nzLg]="13">
                                <nz-form-control nzErrorTip="Campo obrigatório">
                                    <nz-select nzMode="default" nzShowSearch formControlName="frequency" (ngModelChange)="changeRepeat();">
                                        <nz-option nzLabel="Dia" nzValue="DAILY">
                                        </nz-option>
                                        <nz-option nzLabel="Semana" nzValue="WEEKLY">
                                        </nz-option>
                                        <nz-option nzLabel="Mês" nzValue="MONTHLY">
                                        </nz-option>
                                        <nz-option nzLabel="Ano" nzValue="ANNUALLY">
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>

                            </div>
                        </div>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="0" [nzMd]="1" [nzLg]="1"></div>
                <div nz-col *ngIf="eventForm.get('frequency').value =='WEEKLY'" [nzXs]="24" [nzMd]="8" [nzLg]="8"
                    [nzXl]="8" [nzXXl]="6">
                    <nz-form-item>
                        <nz-form-label nzFor="repeat_day_monday" nzRequired>Repetir</nz-form-label>
                        <nz-form-control>
                            <label class="box-day" [ngClass]="{'box-day-seleted': f.repeat_day_monday.value}"
                                (click)="selectDay('segunda')">S</label>
                            <label class="box-day" [ngClass]="{'box-day-seleted': f.repeat_day_tuesday.value}"
                                (click)="selectDay('terça')">T</label>
                            <label class="box-day-other" [ngClass]="{'box-day-seleted': f.repeat_day_wednesday.value}"
                                (click)="selectDay('quarta')">Q</label>
                            <label (click)="selectDay('quinta')"
                                [ngClass]="{'box-day-seleted': f.repeat_day_thursday.value}"
                                class="box-day-other">Q</label>
                            <label class="box-day" [ngClass]="{'box-day-seleted': f.repeat_day_friday.value}"
                                (click)="selectDay('sexta')">S</label>
                            <label class="box-day" [ngClass]="{'box-day-seleted': f.repeat_day_saturday.value}"
                                (click)="selectDay('sabado')">S</label>
                            <label class="box-day-other" [ngClass]="{'box-day-seleted': f.repeat_day_sunday.value}"
                                (click)="selectDay('domingo')">D</label>
                        </nz-form-control>
                    </nz-form-item>
                    <div nz-row>
                        <nz-form-explain class="color-required" *ngIf="errorRepeat">
                            Obrigatório preencher o dia
                        </nz-form-explain>
                    </div>
                </div>
                <div nz-col [nzXs]="24" [nzMd]="24" [nzLg]="24" [nzXl]="7" [nzXXl]="6">
                    <nz-form-item>
                        <nz-form-label nzFor="closed_in" nzRequired>Termina em</nz-form-label>
                        <nz-form-control nzErrorTip="Campo obrigatório">
                            <nz-radio-group formControlName="closed_in" id="radio-closed"
                                (ngModelChange)="changeCloseIn($event)">
                                <label nz-radio nzValue="never" class="radio-block">
                                    Nunca</label>
                                <label nz-radio nzValue="date" class="radio-block">
                                    Data
                                    <div *ngIf="eventForm.get('closed_in').value === 'date'"
                                        [ngClass]="{'input-selec':eventForm.get('closed_in').value === 'date' }">
                                        <nz-form-control nzErrorTip="Campo obrigatório">
                                            <nz-date-picker nzFormat="yyyy-MM-dd" formControlName="ends_in_date">
                                            </nz-date-picker>
                                        </nz-form-control>
                                    </div>

                                </label>
                                <label nz-radio nzValue="after" class="radio-block"
                                    [ngClass]="{'margin-top-selec': eventForm.get('closed_in').value === 'date'}">
                                    Depois de
                                    <div *ngIf="eventForm.get('closed_in').value === 'after'"
                                        [ngClass]="{'input-selec':eventForm.get('closed_in').value === 'after' }">
                                        <nz-form-control nzErrorTip="Valor inválido">
                                            <input type="number" formControlName="end_after_occurrences" nz-input
                                                style="width: 100px;" /><label> Ocorrências</label>
                                        </nz-form-control>
                                    </div>


                                </label>
                            </nz-radio-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <nz-divider></nz-divider>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6">
                    <div nz-row>
                        <nz-form-item>
                            <nz-form-label nzFor="start_date" nzRequired>Início do Evento</nz-form-label>
                            <nz-form-control nzErrorTip="Campo obrigatório">
                                <nz-date-picker nzFormat="yyyy-MM-dd" formControlName="start_date"
                                    [nzDisabledDate]="disableStartDate">
                                </nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row>
                        <nz-form-item>
                            <label nz-checkbox formControlName="all_day" (ngModelChange)="changeHour($event)">Todo o
                                dia</label>
                        </nz-form-item>
                    </div>

                </div>
                <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6">
                    <nz-form-item>
                        <nz-form-label nzFor="start_date" [nzRequired]="!eventForm.get('all_day').value">Hora Início
                        </nz-form-label>
                        <nz-form-control nzErrorTip="Campo obrigatório">
                            <nz-time-picker nzFormat="HH:mm" formControlName="start_hour"
                                [nzDisabled]="eventForm.get('all_day').value" [nzDefaultOpenValue]="defaultOpenValue"
                                [nzDisabledHours]="disabledStartHours" [nzDisabledMinutes]="disabledStartMinutes" >
                            </nz-time-picker>
                        </nz-form-control>
                        <nz-form-explain class="color-required" *ngIf="validTimeMin()">Hora inválida</nz-form-explain>
                    </nz-form-item>

                </div>
                <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6">
                    <nz-form-item>
                        <nz-form-label nzFor="end_date" nzRequired>Fim do Evento</nz-form-label>
                        <nz-form-control nzErrorTip="Campo obrigatório">
                            <nz-date-picker nzFormat="yyyy-MM-dd" formControlName="end_date"
                                [nzDisabledDate]="disableEndDate">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6">
                    <nz-form-item>
                        <nz-form-label nzFor="end_hour" [nzRequired]="!eventForm.get('all_day').value">Hora Fim
                        </nz-form-label>
                        <nz-form-control nzErrorTip="Campo obrigatório">
                            <nz-time-picker nzFormat="HH:mm" formControlName="end_hour"
                                [nzDisabled]="eventForm.get('all_day').value" [nzDefaultOpenValue]="defaultOpenValue"
                                [nzDisabledHours]="disabledHours" [nzDisabledMinutes]="disabledMinutes">
                            </nz-time-picker>
                        </nz-form-control>
                        <nz-form-explain class="color-required" *ngIf="validTimeMax()">Hora inválida</nz-form-explain>
                    </nz-form-item>
                </div>

            </div>
            <nz-divider></nz-divider>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6">
                    <nz-form-item>
                        <nz-form-label nzFor="start_published_date" nzRequired>Início da Publicação</nz-form-label>
                        <nz-form-control nzErrorTip="Campo obrigatório">
                            <nz-date-picker nzFormat="yyyy-MM-dd" formControlName="start_published_date"
                                [nzDisabledDate]="disableStartDatePublished">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="6">
                    <nz-form-item>
                        <nz-form-label nzFor="end_published_date" nzRequired>Fim da Publicação</nz-form-label>
                        <nz-form-control nzErrorTip="Campo obrigatório">
                            <nz-date-picker nzFormat="yyyy-MM-dd" formControlName="end_published_date"
                                [nzDisabledDate]="disableEndDatePublished">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzMd]="11" [nzLg]="10">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="responsable">
                            Responsável
                        </nz-form-label>
                        <nz-form-control nzErrorTip="Campo obrigatório">
                            <input type="text" nz-input formControlName="responsable">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="0" [nzMd]="1" [nzLg]="1"></div>
                <div nz-col [nzXs]="24" [nzMd]="11" [nzLg]="7">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="email">
                            Email
                        </nz-form-label>
                        <nz-form-control nzErrorTip="Campo inválido">
                            <input type="text" nz-input formControlName="email">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="0" [nzMd]="1" [nzLg]="1"></div>
                <div nz-col [nzXs]="24" [nzMd]="11" [nzLg]="5">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="phone">
                            Telefone Geral
                        </nz-form-label>
                        <nz-form-control nzErrorTip="Campo inválido">
                            <input type="text" nz-input formControlName="phone" mask="+0*">
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzMd]="11" [nzLg]="10">
                    <nz-form-item>
                        <nz-form-label nzFor="link">
                            Link para página externa do evento
                        </nz-form-label>
                        <nz-form-control>
                            <input type="text" nz-input formControlName="link">
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzMd]="11" [nzLg]="10">
                    <nz-form-item>
                        <nz-form-label nzFor="type_subscription" nzRequired>Tipo de Subscrição</nz-form-label>
                        <nz-form-control nzErrorTip="Campo obrigatório">
                            <nz-select nzMode="default" nzShowSearch formControlName="type_subscription"
                                (ngModelChange)="changeTypeSubscription($event)">
                                <nz-option nzLabel="Inscrição" nzValue="SUB">
                                </nz-option>
                                <nz-option nzLabel="Manifestação de interesse" nzValue="MI">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="0" [nzMd]="1" [nzLg]="1"></div>
                <div *ngIf="eventForm.get('type_subscription').value == 'SUB'" nz-col [nzXs]="24" [nzMd]="11"
                    [nzLg]="5">
                    <nz-form-item>
                        <nz-form-label nzFor="max_number_subscriptions" nzRequired>Nº máximo de inscrições
                        </nz-form-label>
                        <nz-form-control nzErrorTip="Campo obrigatório">
                            <input type="number" nz-input formControlName="max_number_subscriptions">
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </div>
        <!--Step 1-->
        <div *ngIf="step == 1">
            <div nz-row>
                <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="18">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="address">
                            Morada
                        </nz-form-label>
                        <nz-form-control nzErrorTip="Campo obrigatório">
                            <input type="text" nz-input formControlName="address" maxlength="250">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="0" [nzMd]="1" [nzLg]="1"></div>
                <div nz-col [nzXs]="24" [nzMd]="11" [nzLg]="5">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="address_number">
                            Porta/Andar
                        </nz-form-label>
                        <nz-form-control nzErrorTip="Campo obrigatório">
                            <input type="text" nz-input formControlName="address_number">
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzMd]="11" [nzLg]="7">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="postal_code">Código Postal</nz-form-label>
                        <nz-form-control nzErrorTip="Campo obrigatório">
                            <input nz-input [dropSpecialCharacters]="false" mask="0000-000"
                                formControlName="postal_code" id="postal_code" name="postal_code">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="0" [nzMd]="1" [nzLg]="1"></div>
                <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="10">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="city">Localidade</nz-form-label>
                        <nz-form-control nzErrorTip="Campo obrigatório">
                            <nz-select nzMode="default" nzShowSearch formControlName="city"
                                (ngModelChange)="changeCity($event);">
                                <nz-option *ngFor="let city of cities" [nzLabel]="city.city" [nzValue]="city.city">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row style="padding-top: 10px;">
                <!---------------------LATITUDE LONGITUDE------------------>
                <aol-map [height]="'500'" (onClick)="getLatLong($event)">
                    <aol-interaction-default></aol-interaction-default>
                    <aol-control-defaults></aol-control-defaults>
                    <aol-control-scaleline></aol-control-scaleline>
                    <aol-view [zoom]="15" [center]="[longitudeInit, latitudeInit]">
                        <aol-coordinate [x]="longitudeInit" [y]="latitudeInit" [srid]="'EPSG:4326'">
                        </aol-coordinate>
                    </aol-view>
                    <aol-layer-tile>
                        <aol-source-osm></aol-source-osm>
                    </aol-layer-tile>
                    <aol-layer-vector>
                        <aol-source-vector>
                            <aol-feature>
                                <aol-geometry-point>
                                    <aol-coordinate [x]="longitude" [y]="latitude" [srid]="'EPSG:4326'">
                                    </aol-coordinate>
                                </aol-geometry-point>
                                <aol-style>
                                    <!--<aol-style-icon [src]="'assets/imgs/map-marker-icon.png'" [anchor]="[0.5, 1]"
                                          [anchorXUnits]="'fraction'" [anchorYUnits]="'fraction'" [scale]="0.1"
                                          [anchorOrigin]="'top-left'">
                                      </aol-style-icon>-->
                                    <aol-style-circle [radius]="10">
                                        <aol-style-stroke [color]="'black'" width="1"></aol-style-stroke>
                                        <aol-style-fill [color]="'red'"></aol-style-fill>
                                    </aol-style-circle>
                                </aol-style>
                            </aol-feature>
                        </aol-source-vector>
                    </aol-layer-vector>
                </aol-map>
                <label class="lat-long">Latitude: {{getValueFormat(eventForm.get('latitude').value)}}</label>
                <label class="lat-long">Longitude: {{getValueFormat(eventForm.get('longitude').value)}}</label>
            </div>
        </div>
        <!--Step 2-->
        <div *ngIf="step == 2">
            <div nz-row>
                <div nz-col [nzXs]="24" [nzMd]="24" [nzLg]="24">
                    <nz-form-item>
                        <nz-form-label nzRequired>Imagens</nz-form-label>
                        <nz-form-control>
                            <fi-sas-auto-upload-file [listType]="'picture-card'" [filesList]="fileListImg"
                                [multiUploads]="true" [buttonName]="'Anexar'" (fileAdded)="onFileAdded($event)"
                                (fileDeleted)="onFileDeletedImg($event)"></fi-sas-auto-upload-file>
                        </nz-form-control>
                        <nz-form-explain class="color-required" *ngIf="submitted && fileListImg.length==0">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-item>
                </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row>
                <nz-form-item>
                    <nz-form-label nzFor="file_id">
                        Anexo
                    </nz-form-label>

                    <nz-form-control>
                        <fi-sas-auto-upload-file [listType]="'picture-card'" [filesList]="listFile" [limit]="1"
                            [multiUploads]="false" [buttonName]="'Anexar'" (fileAdded)="onFileAddedOther($event)"
                            (fileDeleted)="onFileDeleted($event)"></fi-sas-auto-upload-file>
                    </nz-form-control>

                </nz-form-item>
            </div>
        </div>
        <!--Revisão-->
        <div *ngIf="step == 3">
            <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="sub-title">Revisão</p>
                    <p class="detail-text">Por favor, verifique cuidadosamente os dados introduzidos.</p>
                </div>
                <nz-divider></nz-divider>
            </div>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                    <p class="sub-title">Evento</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
                    <button nz-button class="button-back-action" nzType="default" (click)="step = 0">
                        <span>Editar</span>
                    </button>
                </div>
            </div>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="title-step">Título</p>
                    <p class="text">{{ eventForm.get('translations').value[0].title}}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="title-step">Descrição</p>
                    <p class="text">{{ eventForm.get('translations').value[0].description}}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="title-step">Tipo de Recorrência</p>
                    <p class="text">{{ eventForm.get('recurrence_type').value == 'RECURRENT' ? 'Recorrente' : 'Único'}}
                    </p>
                </div>
                <div *ngIf="eventForm.get('recurrence_type').value == 'RECURRENT'" nz-col [nzXs]="24" [nzSm]="24"
                    [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="text" style="margin-top: 5px;"><b>Periocidade personalizada</b></p>

                </div>
                <div *ngIf="eventForm.get('recurrence_type').value == 'RECURRENT'"
                    nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="title-step">Repetir a cada</p>
                    <p class="text">{{ eventForm.get('repeat_frequency_number').value}}
                        {{eventForm.get('frequency').value=='DAILY' ? 'Dia' :
                        eventForm.get('frequency').value=='WEEKLY' ? 'Semana' :
                        eventForm.get('frequency').value=='MONTHLY' ? 'Mês' :
                        eventForm.get('frequency').value=='ANNUALLY' ? 'Ano' : ''}}
                    </p>
                </div>
                <div *ngIf="eventForm.get('recurrence_type').value == 'RECURRENT' && eventForm.get('frequency').value=='WEEKLY'"
                    nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="title-step">Repetir</p>
                    <p class="text" *ngIf="eventForm.get('repeat_day_monday').value">Segunda-feira
                    </p>
                    <p class="text" *ngIf="eventForm.get('repeat_day_tuesday').value">Terça-feira
                    </p>
                    <p class="text" *ngIf="eventForm.get('repeat_day_wednesday').value">Quarta-feira
                    </p>
                    <p class="text" *ngIf="eventForm.get('repeat_day_thursday').value">Quinta-feira
                    </p>
                    <p class="text" *ngIf="eventForm.get('repeat_day_friday').value">Sexta-feira
                    </p>
                    <p class="text" *ngIf="eventForm.get('repeat_day_saturday').value">Sábado
                    </p>
                    <p class="text" *ngIf="eventForm.get('repeat_day_sunday').value">Domingo
                    </p>
                </div>
                <div *ngIf="eventForm.get('recurrence_type').value == 'RECURRENT'" nz-col [nzXs]="24" [nzSm]="24"
                    [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="title-step">Termina em</p>
                    <p class="text" *ngIf="eventForm.get('never_ends').value">Nunca
                    </p>
                    <p class="text" *ngIf="eventForm.get('ends_in_date').value">Data -
                        {{eventForm.get('ends_in_date').value | date:'dd-MM-yyyy'}}
                    </p>
                    <p class="text" *ngIf="eventForm.get('end_after_occurrences').value">Depois de -
                        {{eventForm.get('end_after_occurrences').value}} ocorrências
                    </p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="title-step">Inicío do Evento</p>
                    <p class="text">{{ eventForm.get('start_date').value | date: 'dd-MM-yyyy'}}
                        {{!eventForm.get('all_day').value ? (eventForm.get('start_hour').value | date: 'HH:mm') : '' }}
                    </p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="title-step">Fim do Evento</p>
                    <p class="text">{{ eventForm.get('end_date').value | date: 'dd-MM-yyyy'}}
                        {{!eventForm.get('all_day').value ? (eventForm.get('end_hour').value | date: 'HH:mm') : '' }}
                    </p>
                </div>
                <div *ngIf="eventForm.get('all_day').value" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                    [nzXl]="24" [nzXXl]="24">
                    <p class="text" style="margin-top: 5px;"><b>Todo o dia</b></p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="title-step">Inicío da Publicação</p>
                    <p class="text">{{ eventForm.get('start_published_date').value | date: 'dd-MM-yyyy'}} </p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="title-step">Inicío da Publicação</p>
                    <p class="text">{{ eventForm.get('end_published_date').value | date: 'dd-MM-yyyy'}}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="title-step">Responsável</p>
                    <p class="text">{{ eventForm.get('responsable').value}}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="title-step">Email</p>
                    <p class="text">{{ eventForm.get('email').value}}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="title-step">Telefone</p>
                    <p class="text">{{ eventForm.get('phone').value}}</p>
                </div>
                <div *ngIf="eventForm.get('link').value" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="title-step">Link</p>
                    <p class="text">{{ eventForm.get('link').value}}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="title-step">Tipo de Subscrição</p>
                    <p class="text">{{ eventForm.get('type_subscription').value == 'MI' ? 'Manifestação de interesse' :
                        'Inscrição'}}</p>
                </div>
                <div *ngIf="eventForm.get('type_subscription').value == 'SUB'" nz-col [nzXs]="24" [nzSm]="24"
                    [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="title-step">Nº máximo de inscrições</p>
                    <p class="text">{{ eventForm.get('max_number_subscriptions').value}}</p>
                </div>

            </div>
            <nz-divider></nz-divider>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                    <p class="sub-title">Localização</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
                    <button nz-button class="button-back-action" nzType="default" (click)="step = 1">
                        <span>Editar</span>
                    </button>
                </div>
            </div>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="title-step">Morada</p>
                    <p class="text">{{ eventForm.get('address').value}}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="title-step">Porta/Andar</p>
                    <p class="text">{{ eventForm.get('address_number').value}}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="title-step">Código postal</p>
                    <p class="text">{{ eventForm.get('postal_code').value}}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="title-step">Localidade</p>
                    <p class="text">{{ eventForm.get('city').value}}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="title-step">Longitude</p>
                    <p class="text">{{ eventForm.get('longitude').value}}</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                    <p class="title-step">Latitude</p>
                    <p class="text">{{ eventForm.get('latitude').value}}</p>
                </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                    <p class="sub-title">Anexos</p>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12" class="text-right">
                    <button nz-button class="button-back-action" nzType="default" (click)="step = 2">
                        <span>Editar</span>
                    </button>
                </div>
            </div>
            <div nz-row>
                <p class="title-step">Imagens</p>
                <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="6" [nzXXl]="4" class="gallery"
                    *ngFor="let media of images">
                    <div *ngIf="media?.type == 'IMAGE'">
                        <a target="_blank" [href]="media?.url">
                            <img [src]="media?.url" width="100px">
                        </a>
                    </div>
                    <div *ngIf="media?.type != 'IMAGE'">
                        <a target="_blank" [href]="media?.url">
                            <img src="./assets/images/doc.PNG" width="100px">
                        </a>
                    </div>
                </div>
            </div>
            <div *ngIf="eventForm.get('file_id').value" nz-row>
                <p class="title-step">Anexo</p>
                <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="6" [nzXXl]="4">
                    <div *ngIf="file?.type == 'IMAGE'">
                        <a target="_blank" [href]="file?.url">
                            <img [src]="file?.url" width="100px">
                        </a>
                    </div>
                    <div *ngIf="file?.type != 'IMAGE'">
                        <a target="_blank" [href]="file?.url">
                            <img src="./assets/images/doc.PNG" width="100px">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<div class="space">
    <button *ngIf="step != 0" nz-button (click)="backStep()">Anterior</button>
    <button *ngIf="step != 3" nz-button class="button-submit" [nzType]="'primary'" (click)="next()">Seguinte</button>
    <button *ngIf="step == 3" nz-button [nzLoading]="loading" [disabled]="loading"
        (click)="idEdit != undefined ? submit(true) : submit(false)" class="button-submit" [nzType]="'primary'">{{idEdit
        != undefined ? 'Editar' : 'Criar'}}</button>
</div>
