<nz-spin [nzSpinning]="loading">
  <nz-tabset nzTabPosition="left">
    <nz-tab nzTitle="Despacho" *ngIf="data?.status === 'DISPATCH'">
      <fi-sas-dispatch-decision-card
        [decision]="dispatchDecision"
        (onReject)="dispatchChangeStatues(data, false)"
        (onApprove)="dispatchChangeStatues(data, true)"
      ></fi-sas-dispatch-decision-card>
    </nz-tab>
    <nz-tab nzTitle="Perfil">
      <div nz-row nzType="flex" nzJustify="start">
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Nome
          </div>
          <div nz-row class="detail-field">
            {{ application?.student_name }}
          </div>
        </div>
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Data de nascimento
          </div>
          <div nz-row class="detail-field">
            {{ application?.student_birthdate | date:'dd/MM/yyyy' }}
          </div>
        </div>
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Nacionalidade
          </div>
          <div nz-row class="detail-field">
            {{ application?.student_nationality }}
          </div>
        </div>
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Morada
          </div>
          <div nz-row class="detail-field">
            {{ application?.student_address }}
          </div>
        </div>
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Código Postal
          </div>
          <div nz-row class="detail-field">
            {{ application?.student_code_postal }}
          </div>
        </div>
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Localidade
          </div>
          <div nz-row class="detail-field">
            {{ application?.student_location }}
          </div>
        </div>
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            NIF
          </div>
          <div nz-row class="detail-field">
            {{ application?.student_tin }}
          </div>
        </div>
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Cartão de Cidadão
          </div>
          <div nz-row class="detail-field">
            {{ application?.student_identification }}
          </div>
        </div>
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Género
          </div>
          <div nz-row class="detail-field">
            {{ application?.genre | genderBeautify }}
          </div>
        </div>
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Número
          </div>
          <div nz-row class="detail-field">
            {{ application?.student_number }}
          </div>
        </div>
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Ano Curricular
          </div>
          <div nz-row class="detail-field">
            {{ application?.course_year }}
          </div>
        </div>
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Ano Letivo
          </div>
          <div nz-row class="detail-field">
            {{ application?.academic_year }}
          </div>
        </div>
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Curso
          </div>
          <div nz-row class="detail-field">
            {{ application?.course.name }}
          </div>
        </div>
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Escola
          </div>
          <div nz-row class="detail-field">
            {{ application?.school.name }}
          </div>
        </div>
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Email
          </div>
          <div nz-row class="detail-field">
            {{ application?.student_email }}
          </div>
        </div>
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Telefone
          </div>
          <div nz-row class="detail-field">
            {{ application?.student_mobile_phone }}
          </div>
        </div>
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            IBAN
          </div>
          <div nz-row class="detail-field">
            {{ application?.iban }}
          </div>
        </div>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Benefícios sociais">
      <div nz-row nzType="flex" nzJustify="start">
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Bolsa de estudo
          </div>
          <div nz-row class="detail-field">
            <fi-sas-tag [value]="application?.has_scholarship"></fi-sas-tag>
          </div>
        </div>
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Ainda sem resultado da Bolsa
          </div>
          <div nz-row class="detail-field">
            <fi-sas-tag [value]="!application?.is_waiting_scholarship_response"></fi-sas-tag>
          </div>
        </div>
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Fundo de emergência
          </div>
          <div nz-row class="detail-field">
            <fi-sas-tag [value]="application?.has_emergency_fund"></fi-sas-tag>
          </div>
        </div>
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Bolsa no valor de
          </div>
          <div nz-row class="detail-field">
            {{ application?.scholarship_monthly_value ? ((application?.scholarship_monthly_value | number:
              '1.2-2') + '€') : '-' }}
          </div>
        </div>
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Candidato a bolsa de estudo
          </div>
          <div nz-row class="detail-field">
            <fi-sas-tag [value]="application?.has_scholarship"></fi-sas-tag>
          </div>
        </div>

        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">Residência</div>
          <div nz-row class="detail-field">
            <fi-sas-tag [value]="application?.housed_residence"></fi-sas-tag>
          </div>
        </div>
      </div>

      <div nz-row nzType="flex" nzJustify="start">
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">Outra bolsa</div>
          <div nz-row class="detail-field">
            <fi-sas-tag [value]="application?.other_scholarship"></fi-sas-tag>
          </div>
        </div>
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">Valor da outra bolsa</div>
          <div nz-row class="detail-field">
            {{ application?.other_scholarship_values ? ((application?.other_scholarship_values | number:'1.2-2') + '€') : '-' }}
          </div>
        </div>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Candidatura">
      <div nz-row nzType="flex" nzJustify="start">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" class="padding-top-20">
          <div nz-row class="title">
            Disponível para realizar atividades em
          </div>
          <div nz-row class="detail-field">
            <span *ngFor="let organic_unit of application?.organic_units;let last = last" class="box">
              {{
              organic_unit.organic_unit?.name }}{{ !last ? ', ' : ''}}
            </span>

          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" class="padding-top-20">
          <div nz-row class="title">
            Atividade Preferencial
          </div>
          <div nz-row class="detail-field">
            <span *ngFor="let activity of application?.preferred_activities;let last = last" class="box">
              {{
              activity?.activity.name
              }}{{ !last ? ', ' : ''}}
            </span>

          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" class="padding-top-20">
          <div nz-row class="title">
            Colaborou no ano passado?
          </div>
          <div nz-row class="detail-field">
            <fi-sas-tag [value]="application?.has_collaborated_last_year"></fi-sas-tag>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" class="padding-top-20">
          <div nz-row class="title">
            Qual atividade
          </div>
          <div nz-row class="detail-field">
            {{ application?.previous_activity_description ? application?.previous_activity_description : '-' }}
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" class="padding-top-20">
          <div nz-row class="title">
            Horário
          </div>
          <div nz-row class="detail-field">
            <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
              <nz-table class="schedule" [nzData]="['preferred_schedule']" [nzShowPagination]="false"
                [nzScroll]="{ x: '100px' }" *ngIf="application?.preferred_schedule">
                <thead>
                  <tr>
                    <th></th>
                    <th>segunda</th>
                    <th>terça</th>
                    <th>quarta</th>
                    <th>quinta</th>
                    <th>sexta</th>
                    <th>sábado</th>
                    <th>domingo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="schedule--period-day">Manhã</td>
                    <td>
                      <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(4)" [nzTheme]="'outline'"></i>
                    </td>
                    <td>
                      <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(7)" [nzTheme]="'outline'"></i>
                    </td>
                    <td>
                      <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(10)" [nzTheme]="'outline'"></i>
                    </td>
                    <td>
                      <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(13)" [nzTheme]="'outline'"></i>
                    </td>
                    <td>
                      <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(16)" [nzTheme]="'outline'"></i>
                    </td>
                    <td>
                      <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(19)" [nzTheme]="'outline'"></i>
                    </td>
                    <td>
                      <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(1)" [nzTheme]="'outline'"></i>
                    </td>
                  </tr>

                  <tr>
                    <td class="schedule--period-day">Tarde</td>
                    <td>
                      <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(5)" [nzTheme]="'outline'"></i>
                    </td>
                    <td>
                      <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(8)" [nzTheme]="'outline'"></i>
                    </td>
                    <td>
                      <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(11)" [nzTheme]="'outline'"></i>
                    </td>
                    <td>
                      <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(14)" [nzTheme]="'outline'"></i>
                    </td>
                    <td>
                      <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(17)" [nzTheme]="'outline'"></i>
                    </td>
                    <td>
                      <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(20)" [nzTheme]="'outline'"></i>
                    </td>
                    <td>
                      <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(2)" [nzTheme]="'outline'"></i>
                    </td>
                  </tr>

                  <tr>
                    <td class="schedule--period-day">Noite</td>
                    <td>
                      <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(6)" [nzTheme]="'outline'"></i>
                    </td>
                    <td>
                      <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(9)" [nzTheme]="'outline'"></i>
                    </td>
                    <td>
                      <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(12)" [nzTheme]="'outline'"></i>
                    </td>
                    <td>
                      <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(15)" [nzTheme]="'outline'"></i>
                    </td>
                    <td>
                      <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(18)" [nzTheme]="'outline'"></i>
                    </td>
                    <td>
                      <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(21)" [nzTheme]="'outline'"></i>
                    </td>
                    <td>
                      <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(3)" [nzTheme]="'outline'"></i>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </div>
        </div>
        <div *ngIf="application?.language_skills" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" class="padding-top-20">
          <div nz-row class="title">
            Línguas
          </div>
          <div nz-row class="detail-field">
            <span *ngFor="let language of application?.language_skills;let last = last" class="box">
              {{
              language }}{{
              !last ? ', ' : ''}}
            </span>

          </div>
        </div>

        <div nz-col nzSpan="24" class="padding-top-20" *ngIf="(application?.files || []).length">
          <div nz-row class="title">Anexos</div>
          <div nz-row class="detail-field">
            <div *ngFor="let file of application.files">
              <i nz-icon nzType="paper-clip" nzTheme="outline"></i>
              <a [href]="file.file.url" rel="noopener noreferrer" target="_blank" [title]="file.name" class="attachment-url">{{ file.name }}</a>
            </div>
          </div>
        </div>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Experiência profissional">
      <div nz-row nzType="flex" nzJustify="start">
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Experiência profissional
          </div>
          <div nz-row class="detail-field">
            <fi-sas-tag [value]="application?.has_profissional_experience"></fi-sas-tag>
          </div>
        </div>
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Descrição da atividade
          </div>
          <div nz-row class="detail-field">
            {{ application?.job_description ? application?.job_description : '-' }}
          </div>
        </div>
        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Informação complementar
          </div>
          <div nz-row class="detail-field">
            {{ application?.observations ? application?.observations : '-' }}
          </div>
        </div>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Histórico de candidaturas">

      <div nz-row nzType="flex" nzJustify="start" *ngFor="let history of application?.historic_applications">
        <div nz-col [nzXs]="24"  [nzXXl]="12" class="padding-top-20">
          <div nz-row class="title">
            Ano Académico
          </div>
          <div nz-row class="detail-field">
            {{ history.academic_year}}
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzXXl]="12" class="padding-top-20">
          <div nz-row class="title">
          </div>
          <div nz-row class="detail-field">
            <button nz-button nzType="default" (click)="viewApplicationModal(history.id)">Consultar formulário
              submetido</button>
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
          <nz-divider></nz-divider>
        </div>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Entrevista">
      <fi-sas-interviews-list [interviews]="application?.interviews"></fi-sas-interviews-list>
    </nz-tab>

    <nz-tab nzTitle="Histórico de colaborações">

      <div nz-row nzType="flex" nzJustify="start"
        *ngFor="let historic_colaborations of application?.historic_colaborations">

        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
          <p style="font-weight: bold; color: #000;">{{ historic_colaborations.experience_translations[0]?.title }}</p>
        </div>


        <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
          <div nz-row class="title">
            Ano letivo
          </div>
          <div nz-row class="detail-field">
            {{ historic_colaborations.academic_year }}
          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="18" [nzXl]="18" class="padding-top-20">
          <div nz-row class="title">
          </div>
          <div nz-row class="detail-field">
            <button nz-button nzType="default"  [nzLoading] = "loadingCertificate" (click)="getExperienceCertificate(historic_colaborations?.user_manifest_id)">Consultar certificado de Experiência</button>

          </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
          <nz-divider></nz-divider>
        </div>
      </div>

    </nz-tab>

    <nz-tab nzTitle="Histórico de alterações">
      <div nz-row nzType="flex" nzJustify="start">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" *ngFor="let history of application?.history">
          <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
            <div nz-row class="title">
              Estado
            </div>
            <div nz-row class="detail-field">
              <fi-sas-tag [value]="history.status" [results]="ApplicationTagResult"></fi-sas-tag>
            </div>
          </div>
          <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
            <div nz-row class="title">
              Data / Hora
            </div>
            <div nz-row class="detail-field">
              {{ history.created_at | date:'dd/MM/yyyy h:mm:ss' }}
            </div>
          </div>
          <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
            <div nz-row class="title">
              Utilizador
            </div>
            <div nz-row class="detail-field">
              {{ history.user.name }}
            </div>
          </div>
          <div nz-col [nzSm]="24" [nzXl]="12" [nzXXl]="6" class="padding-top-20">
            <div nz-row class="title">
              Obervações
            </div>
            <div nz-row class="detail-field">
              {{ history.notes }}
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
            <nz-divider></nz-divider>
          </div>

        </div>
      </div>

    </nz-tab>
  </nz-tabset>
</nz-spin>
