@import 'theme';

.detail-field {
  color: var(--primary-color);
  font-weight: normal;
  padding-top: 5px;
  margin-right: 15px;
}

.padding-top-20 {
  padding-top: 20px;
}

.title {
  color: black;
}

/* old */

.modal-padding {
  padding: 1px !important;
}

nz-descriptions {
  margin-top: 24px;
}

.history {
  &__row {
    border: 1px solid rgba(0, 0, 0, 0.09);
  }
}

.schedule {
  margin-bottom: 10px;

  &--title {
    margin-bottom: 10px;
  }
}

.box {
  width: fit-content;
}

.attachment-url {
  padding-left: 10px;
}
