<div class="container">

    <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="7" [nzXl]="7" [nzXXl]="7">
            <div nz-row>
                <nz-form-label>Termo de Pesquisa</nz-form-label>
                <nz-form-control>
                    <input type="text" nz-input [(ngModel)]="filters.search">
                </nz-form-control>
            </div>
        </div>

        <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="3" class="btn-filter">
            <button nz-button class="btn" class="btn" nzType="primary" (click)="searchData(true)">Filtrar</button>
        </div>
        <div nz-col [nzXs]="12" [nzSm]="6" [nzMd]="4" [nzLg]="2" [nzXl]="1" [nzXXl]="1" class="btn-filter" style="text-align: left;">
            <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
        </div>
    </div>
</div>

<div class="space"></div>

<div class="container">

    <div class="container-table">
        <nz-table class="content-table" [nzScroll]="{ x: '240px' }" #refTable [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)"
            [nzLoading]="loading" [nzFrontPagination]="false" [nzShowSizeChanger]="true" [nzTotal]="totalData"
            [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex" (nzPageIndexChange)="pagination()"
            (nzPageSizeChange)="pagination(true)">
            <thead (nzSortChange)="sort($event)" nzSingleSort>
                <tr class="table__header">
                    <th>Nome (PT)</th>
                    <th>Nome (EN)</th>
                    <th>Descrição (PT)</th>
                    <th>Descrição (EN)</th>
                    <th nzShowSort nzSortKey="url">URL</th>
                    <th nzShowSort nzSortKey="email">Email</th>
                    <th nzRight="0px">Ações</th>
                </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-data [ngForOf]="refTable.data">
                    <tr>
                        <td>{{validTranslateName(3,data?.translations)}}</td>
                        <td>{{validTranslateName(4,data?.translations)}}</td>
                        <td>{{validTranslateDescription(3,data?.translations)}}</td>
                        <td>{{validTranslateDescription(4,data?.translations)}}</td>
                        <td>{{data?.url}}</td>
                        <td>
                           {{data?.email}}
                        </td>
                        <td nzRight="0px"><button nz-button nz-dropdown nzType="link" [nzDropdownMenu]="menu" nzPlacement="bottomRight"><i
                                    nz-icon nzType="dash" nzTheme="outline" class="font-icon-dash"></i></button>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li [nzDisabled]="!('configuration:contacts:update' | hasPermission)" nz-menu-item
                                        (click)="edit(data.id)">Editar</li>
                                    <li [nzDisabled]="!('configuration:contacts:delete' | hasPermission)" nz-menu-item
                                        (click)="delete(data.id)">Eliminar</li>
                                </ul>
                            </nz-dropdown-menu>
                        </td>
                    </tr>
    
    
                </ng-template>
            </tbody>
        </nz-table>
    </div>
</div>