@import "theme";

.auth {
  padding-top: 20vh;
  background: var(--primary-color);
  height: calc(100vh - 64px) ;

  &__logo {
    padding: 16px;
    font-size: 24px;
    color: white;
    text-align: center;
  }

  &__title {
    margin-bottom: 16px;
    text-align: left;
    color: black;
    font-size: 18px;
  }

  &__footer {
    height: 64px;
    background-color: var(--footer-color);
  }
}
