#contacts_info_interest::ng-deep svg {
  g path {
    fill: var(--primary-color);
  }
}

.icon {
  font-size: 25px;
}


.cursor-pointer {
  cursor: pointer;
}

#download-icon-social-sup::ng-deep svg {
  path {
    fill: var(--primary-color);
  }
}
