<div class="content-card monthly-reports-table hidden-xs">
  <nz-table #attendancesData [nzFrontPagination]="false" [nzData]="reports" [nzLoading]="isLoading"
    [nzTotal]="reports.length" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="paginationSearch()" (nzPageSizeChange)="paginationSearch(true)" [nzScroll]="{ x: '500px' }">
    <tbody>
      <tr *ngFor="let row of tableRows; let i = index" class="monthly-reports-table--row"
        [ngClass]="{ 'row-even': i % 2 === 0, 'row-odd': i % 2 !== 0 }">
        <!-- SOCIAL_SUPPORT.ATTENDANCES.FORM.ROW_LABEL -->
        <td>
          {{ 'SOCIAL_SUPPORT.ATTENDANCES.TABS.MONTHLY_REPORT.LABEL' | translate }} -
          {{ row.date | date: 'LLLL':'':translateService.currentLang }} {{ row.date | date: 'yyyy' }}
        </td>

        <!-- SOCIAL_SUPPORT.ATTENDANCES.DATE -->
        <td>
          {{ row.created_at | date: 'dd LLLL yyyy':'':translateService.currentLang }}
          {{ 'SOCIAL_SUPPORT.ATTENDANCES.TABS.MONTHLY_REPORT.DATE_SEPARATOR' | translate }}
          {{ row.created_at | date: 'h:mm' }} h
        </td>

        <!-- ATTACHMENTS -->
        <td class="monthly-reports-table--row--attachment">
          <a *ngIf="row.file && row.file.url" [href]="row.file.url" target="_blank" download>
            {{ 'SOCIAL_SUPPORT.ATTENDANCES.TABS.MONTHLY_REPORT.SEE_REPORT' | translate }}
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<div class="hidden-md box-table">
  <div class="margin-top-20">
    <div *ngFor="let item of tableRows; let idx = index">
      <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15">
          {{'SOCIAL_SUPPORT.ATTENDANCES.TABS.MONTHLY_REPORT.LABEL' | translate}} - {{ item.date | date: 'LLLL':'':translateService.currentLang }} {{ item.date | date: 'yyyy' }}
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15">
        {{ item.created_at | date: 'dd LLLL yyyy':'':translateService.currentLang }}
          {{ 'SOCIAL_SUPPORT.ATTENDANCES.TABS.MONTHLY_REPORT.DATE_SEPARATOR' | translate }}
          {{ item.created_at | date: 'h:mm' }} h
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" class="margin-bottom-15 monthly-reports-table--row--attachment">
        <a *ngIf="item.file && item.file.url" [href]="item.file.url" target="_blank" download>
          {{ 'SOCIAL_SUPPORT.ATTENDANCES.TABS.MONTHLY_REPORT.SEE_REPORT' | translate }}
        </a>
      </div>
      <nz-divider></nz-divider>
    </div>
    <nz-empty *ngIf="tableRows.length==0"></nz-empty>
    <div *ngIf="tableRows.length>0" style="text-align: center; padding-bottom:15px">
      <nz-pagination id="pagination-social-support" [nzTotal]="reports.length" [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize" nzShowSizeChanger (nzPageIndexChange)="paginationSearch()"
        (nzPageSizeChange)="paginationSearch(true)"></nz-pagination>
    </div>
  </div>
</div>