<fi-sas-layout-toolstrip>
  <fi-sas-toolstrip-button
    [isLoading]="isLoading"
    (onClick)="submit(configurationForm.value)"
    iconType="save"
    tooltip="Guardar"
  >
  </fi-sas-toolstrip-button>
</fi-sas-layout-toolstrip>

<form perfectScrollbar [formGroup]="configurationForm" nz-form class="content--padding scroll-container" >

  <nz-form-item>
    <nz-form-label>Categoria para treinos Regulares</nz-form-label>
    <nz-form-control>
      <nz-select  nzPlaceHolder="Categoria" nzShowSearch formControlName="regular_training_event_category_id">
        <nz-option *ngFor="let category of categories" [nzLabel]="(category.translations | translation: language_id).name" [nzValue]="category.id"></nz-option>
        <nz-form-explain *ngIf="configurationForm.get('regular_training_event_category_id').errors">{{getRegularTrainingEventCategoryError()}}</nz-form-explain>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Categoria para competições</nz-form-label>
    <nz-form-control>
      <nz-select  nzPlaceHolder="Categoria" nzShowSearch  formControlName="competition_event_category_id">
        <nz-option *ngFor="let category of categories" [nzLabel]="(category.translations | translation: language_id).name" [nzValue]="category.id"></nz-option>
        <nz-form-explain *ngIf="configurationForm.get('competition_event_category_id').errors">{{getCompetitionEventCategoryError()}}</nz-form-explain>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Categoria para atividades gerais</nz-form-label>
    <nz-form-control>
      <nz-select  nzPlaceHolder="Categoria" nzShowSearch  formControlName="general_activity_event_category_id">
        <nz-option *ngFor="let category of categories" [nzLabel]="(category.translations | translation: language_id).name" [nzValue]="category.id"></nz-option>
        <nz-form-explain *ngIf="configurationForm.get('general_activity_event_category_id').errors">{{getGeneralActivityEventCategoryError()}}</nz-form-explain>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Formulário de registro</nz-form-label>
    <nz-form-control>
      <nz-select  nzPlaceHolder="Formulários" nzShowSearch formControlName="activity_registration_form_id">
        <nz-option *ngFor="let registration_form of registration_forms" [nzLabel]="registration_form.name" [nzValue]="registration_form.id"></nz-option>
        <nz-form-explain *ngIf="configurationForm.get('activity_registration_form_id').errors">{{getActivityRegistrationFormError()}}</nz-form-explain>
      </nz-select>
    </nz-form-control>
  </nz-form-item>


</form>
