

#icon-header-charge::ng-deep svg {
  path {
    fill: var(--primary-color);
  }
}
.modal{
    &__header{
      padding: 16px 0px;
    }
    &__title{
      padding: 16px 10px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
    }
    &__sub-title{
      border-bottom: solid 3px var(--primary-6);
      background-color: var(--primary-1);
      margin-left: -24px;
      margin-right: -24px;
      &__service{
        font-weight: bold;
        color: black;
        text-align: center;
      }
      &__service-two{
        font-size: 16px;
        font-weight: bold;
        color: black;
      }
      &__current-account{
        font-size: 10px;
        color: black;
        color: rgba(0, 0, 0, 0.65)
      }
      &__money{
        text-align: right;
        font-weight: 500;
        &__title{
          color: grey;
        }
        &__neutral{
          font-size: 20px;
          color: rgba(0, 0, 0, 0.65) !important;
        }
        &__positive{
          font-size: 20px;
          color: #1b9668 !important;
        }
        &__negative{
          font-size: 20px;
          color: #d0021b !important;
        }
      }
    }
    &__body{
      &__title{
        color: rgba(0, 0, 0, 0.65);
        &-header-icon{
          color: var(--primary-6);
        }
        &__charger-desc{
          align-self: start;
        }
      }
      &__details{
        text-align: center;
        padding: 5px 7px;
        color: rgba(0, 0, 0, 0.65);
        &__span{
          border: solid 1px var(--primary-color);
          border-radius: 4px;
          font-weight: 600;
          color: black;
          padding: 10px 15px;
          &__desactice{
            opacity: 65%;
          }
        }
        &__span-full{
          border-radius: 4px;
          border: solid 1px var(--primary-color);
          background-color: var(--primary-color);
          padding: 10px 15px;
          color: white;
        }
        &__border{
          &__neutral{
            border-color: rgba(0, 0, 0, 0.65) !important;
            color: rgba(0, 0, 0, 0.65);
          }
          &__positive{
            border-color: #1ba974 !important;
            color: #1ba974;
          }
          &__negative{
            border-color: #d0021b !important;
            color:#d0021b;
          }
        }
      }
      &__btns-choose{
        cursor: pointer;
        text-align: center;
        padding: 5px 7px;
        color: rgba(0, 0, 0, 0.65);
        &__span{
          border: solid 1px var(--primary-2);
          border-radius: 4px;
          padding: 10px 15px;
        }
        &__span-full{
          border: solid 1px var(--primary-color);
          background-color: var(--primary-color);
          color: white;
        }
  
        &__span:hover{
          border: solid 1px var(--primary-2);
          background-color: var(--primary-2);
          color: white;
        }
      }
      &__input-icon{
        color: rgba(0, 0, 0, 0.55);
      }
    }
    &__row{
      padding: 24px;
    }
    &__separator{
      border-bottom: solid 1px var(--primary-1);
    }
    &__confirmation{
      color: black;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      span {
        padding-top: 30px;
        color: var(--primary-color);
        font-weight: 600;
      }
      i {
        font-size: 90px;
      }
      &__row{
        padding: 1px 1px;
      }
    }
    &__secondary{
      &__confirmation{
        color: black;
        padding-top: 120px;
        padding-bottom: 70px;
        text-align: center;
        &__title {
          font-size: 30px;
          padding-top: 30px;
          font-weight: 700;
        }
        &__subtitle {
          padding-top: 30px;
          font-size: 16px;
          font-weight: 600;
        }
        &__desc {
          padding-top: 30px;
          font-size: 22px;
        }
        i {
          font-size: 90px;
        }
        &__row{
          padding: 1px 1px;
        }
        &__row-space{
          margin-bottom: 20px!important;
        }
        &__row-space-top{
          margin-top: 20px!important;
        }
      }
      &__title{
        font-size: 13px;
        text-align: center;
        color: rgba(0, 0, 0, 0.65);
        font-weight: bold;
      }
      &__desc{
        font-size: 13px;
        text-align: center;
        color: rgba(0, 0, 0, 0.65);
      }
    }
}

.warning {
  color: red;
}