<div class="content">
    <form nz-form [formGroup]="methodGroup" nzLayout="horizontal">
        <div nz-row nzGutter="16">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzFor="name" nzRequired>Nome</nz-form-label>
                    <nz-form-control nzErrorTip="Campo obrigatório">
                        <input nz-input formControlName="name" id="name">
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzFor="service" nzRequired>Serviço</nz-form-label>
                    <nz-form-control nzErrorTip="Campo obrigatório">
                        <nz-select formControlName="service" id="service" name="service"
                            style="width: 100%;">
                            <nz-option *ngFor="let service of services" [nzLabel]="service.label"
                                [nzValue]="service.value" [nzDisabled]="!service.active">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row nzType="flex" nzJustify="space-between">
            <div nz-col nzSpan="24">
                <div nz-row>
                    <div nz-col nzSpan="24">
                        <nz-form-item>
                            <nz-form-label nzFor="description" nzRequired>Descrição</nz-form-label>
                            <nz-form-control nzErrorTip="Campo obrigatório">
                                <textarea maxlength="255" nz-input formControlName="description" id="description"
                                    nzAutosize="true"></textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
        </div>

        <div nz-row nzType="flex" nzJustify="space-between">
            <div nz-col nzSpan="24">
                <div nz-row>
                    <div nz-col nzSpan="24">
                        <nz-form-item>
                            <nz-form-label nzFor="configs" nzRequired>Configurações</nz-form-label>
                            <nz-form-control nzErrorTip="Campo obrigatório e com JSON válido">
                                <fi-sas-form-jsonfield formControlName="configs" id="configs"></fi-sas-form-jsonfield>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="space" nz-row>
    <button *ngIf="idtoUpdate" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
    <button nz-button [nzLoading]="loading" [disabled]="loading" (click)="submitForm($event, methodGroup.value)"
        [nzType]="'primary'">{{idtoUpdate ?
        'Editar' : 'Criar'}}</button>
</div>