
<div class="top" nz-row>
    <div nz-col [nzSm]="24" [nzMd]="12">
        <h2 class="title-top-page">{{ 'CURRENT_ACCOUNT.MOVEMENTS' | translate }}</h2>
        <p class="sub-title-top-page">{{ 'CURRENT_ACCOUNT.MOVEMENTS_DESC' | translate }}</p>
    </div>
    <div nz-col [nzSm]="24" [nzMd]="12" style="text-align: right;">
          <app-button translate="CURRENT_ACCOUNT.DEPOSITS_MOV" (click)="modalDeposit = true"
            [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}" type="tertiary"></app-button>
      </div>
</div>


<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="margin-top-15">
        <div nz-row>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="3" [nzXXl]="3">
                <div class="content-filter-title">{{ 'CURRENT_ACCOUNT.FILTER_BY' | translate }}</div>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="7" [nzXXl]="7"
                class="padding-right-5 margin-top-20">
                <nz-range-picker [(ngModel)]="dateRange"
                    [nzPlaceHolder]="[ 'CURRENT_ACCOUNT.FILTER.STARTDATE' | translate,'CURRENT_ACCOUNT.FILTER.ENDDATE' | translate]"
                    (ngModelChange)="onChangeDate($event)">
                </nz-range-picker>
            </div>

            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="6" [nzXXl]="6"
                class="padding-right-5 margin-top-20">
                <nz-select style="width: 100%;" [(ngModel)]="operationFilter" nzAllowClear 
                    [nzPlaceHolder]="'CURRENT_ACCOUNT.FILTER.OPERATIONS' | translate" nzShowSearch
                    id="movements-current-account" (ngModelChange)="filterOperation($event)">
                    <nz-option *ngFor="let operation of operationList.operations" [nzValue]="operation.key"
                        [nzLabel]="operation.label | translate">
                    </nz-option>
                </nz-select>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="7" [nzXXl]="7"
                class="padding-right-5 margin-top-20">
                <nz-select style="width: 100%;" [(ngModel)]="statusFilter" id="movements-current-account"
                    [nzPlaceHolder]="'CURRENT_ACCOUNT.FILTER.STATUS' | translate" nzShowSearch nzAllowClear 
                    (ngModelChange)="filterStatus($event)">
                    <nz-option *ngFor="let status of statusList.status" [nzValue]="status.key"
                        [nzLabel]="status.label | translate"></nz-option>
                </nz-select>
            </div>
        </div>
    </div>
</div>

<div class="account-item">

    <div class="account-elements-i">
        <span class="account-name">{{accountBalaceById[0]?.account_name}}</span>
    </div>

    <div class="account-elements-ii">
        <span class="account-title-value">{{ 'CURRENT_ACCOUNT.CURRENT_ACCOUNT' | translate }}</span>
        <span class="account-value-corrent">{{ accountBalaceById[0]?.current_balance | number:'1.2-2'}} €</span>
    </div>

    <div class="account-elements-iii">
        <span class="account-title-value">{{ 'CURRENT_ACCOUNT.OUTSTANDING_PAYMENTS' | translate }}</span>
        <span
            [ngClass]="{'account-value-pending': accountBalaceById[0]?.in_debt != 0, 'account-value-pending-normal': accountBalaceById[0]?.in_debt == 0}">{{
            accountBalaceById[0]?.in_debt | number:'1.2-2' }} €</span>
    </div>

</div>

<div nz-row style="margin-top: -22px;" class="hidden-xs">

    <nz-table #applicationsTable [nzShowSizeChanger]="sizeChanger" [nzFrontPagination]="false" [nzData]="listOfData"
        [nzLoading]="loading" [nzPaginationPosition]="position" [nzScroll]="{ x: '240px' }" [nzShowPagination]="pagination" [nzTotal]="total"
        [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="getMovements()"
        (nzPageSizeChange)="getMovements(true)">
        <thead>
            <tr>
                <th></th>
                <th>{{'CURRENT_ACCOUNT.TABLE.DATE' | translate}}</th>
                <th>{{'CURRENT_ACCOUNT.FILTER.OPERATIONS' | translate}}</th>
                <th>{{'CURRENT_ACCOUNT.TABLE.DEVICE' | translate}}</th>
                <th>{{'CURRENT_ACCOUNT.TABLE.DOC' | translate}}</th>
                <th>{{'CURRENT_ACCOUNT.TABLE.SATUS' | translate}}</th>
                <th>{{'CURRENT_ACCOUNT.TABLE.METHOD_PAYMENT' | translate}}</th>
                <th class="text-align-right">{{'CURRENT_ACCOUNT.TABLE.VALUE_PAYMENT' | translate}}</th>
                <th class="text-align-right">{{'CURRENT_ACCOUNT.TABLE.CURRENT' | translate}}</th>
                <th class="text-align-right">{{'CURRENT_ACCOUNT.TABLE.OWING_VALUE' | translate}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-data [ngForOf]="applicationsTable.data">
                <tr>
                    <td nzShowExpand *ngIf="expandable" [(nzExpand)]="data.expand"></td>
                    <td>
                        {{ data?.created_at | date: 'dd-MM-yyyy' }}<br><span class="hour">{{data?.created_at | date:'mediumTime'}}</span>
                    </td>
                    <td>
                        {{ data?.operation == 'CHARGE' ? ('CURRENT_ACCOUNT.FILTER.CHARGE' | translate) :
                        data?.operation == 'CANCEL' ? ('CURRENT_ACCOUNT.FILTER.CANCEL' | translate) :
                        data?.operation == 'RECEIPT' ? ('CURRENT_ACCOUNT.FILTER.RECEIPT' | translate) :
                        data?.operation == 'INVOICE' ? ('CURRENT_ACCOUNT.FILTER.INVOICE' | translate) :
                        data?.operation == 'INVOICE_RECEIPT' ? ('CURRENT_ACCOUNT.FILTER.INVOICE_RECEIPT' |
                        translate) :
                        data?.operation == 'CREDIT_NOTE' ? ('CURRENT_ACCOUNT.FILTER.CREDIT_NOTE' | translate) :
                        data?.operation == 'REFUND' ? ('CURRENT_ACCOUNT.FILTER.REFUND' | translate) :
                        data?.operation == 'CHARGE_NOT_IMMEDIATE' ? ('CURRENT_ACCOUNT.FILTER.CHARGE_NOT_IMMEDIATE' |
                        translate)
                        :
                        '-' }}
                    </td>
                    <td>
                        {{ data && data.device ? data.device.name : '--' }}
                    </td>
                    <td>
                        <a *ngIf="data?.document_id != null" class="text-link-doc" href="{{ data?.document?.url }}"
                            target="_blank">{{ data?.document?.series+"/"+data?.document?.number }} </a>
                    </td>
                    <td> {{ data?.status == 'CONFIRMED' ? ('CURRENT_ACCOUNT.FILTER.CONFIRMED' | translate) :
                        data?.status == 'PENDING' ? ('CURRENT_ACCOUNT.FILTER.PENDING' | translate) :
                        data?.status == 'CANCELLED' ? ('CURRENT_ACCOUNT.FILTER.CANCELLED' | translate) :
                        data?.status == 'CANCELLED_LACK_PAYMENT' ?
                        ('CURRENT_ACCOUNT.FILTER.CANCELLED_DUE_LACK_PAYMENT'
                        | translate) :
                        data?.status == 'PAID' ? ('CURRENT_ACCOUNT.FILTER.PAID' | translate) : '-'}}</td>
                    <td> {{ data?.payment_method?.name == 'Referência Multibanco' ? ('CURRENT_ACCOUNT.TABLE.REFATM'
                        |
                        translate) :
                        data?.payment_method?.name == 'Multibanco' ? ('CURRENT_ACCOUNT.TABLE.ATM' | translate) :
                        data?.payment_method?.name == 'Numerario' ? ('CURRENT_ACCOUNT.TABLE.NUM' | translate) :
                        data?.payment_method?.name == 'Conta Corrente' ? ('CURRENT_ACCOUNT.TABLE.CURRENT_ACCOUNT' |
                        translate) :
                        data?.payment_method?.name
                        }}</td>
                    <td class="text-align-right"
                        [ngClass]="{'positive-value': data?.transaction_value > 0, 'negative-value': data?.transaction_value < 0, 'value': data?.transaction_value == 0 }">
                        {{ data?.transaction_value == null ? '-' : data?.transaction_value > 0 ?
                        ('+'+(data?.transaction_value |
                        number:'1.2-2') + ' €') : (data?.transaction_value | number:'1.2-2') + ' €' }}</td>
                    <td class="value text-align-right" [ngClass]="{ 'negative-value': data?.current_balance < 0 }"> {{
                        data?.current_balance !=
                        null ? (data?.current_balance | number:'1.2-2') + ' €' : '-' }}</td>
                    <td class="value text-align-right" [ngClass]="{ 'negative-value': data?.owing_value < 0 }"> {{
                        data?.owing_value
                        !=
                        null ?
                        (data?.owing_value | number:'1.2-2') + ' €' : '-' }}</td>
                    <td class="text-align-right"> <button
                            *ngIf="data.operation == 'INVOICE' && data.status == 'PENDING' && data.payment_id == null && ('current_account:movements:pay' | hasPermission)"
                            nz-button type="button" class="button-style-uploads"
                            (click)="payValue(data?.transaction_value, accountBalaceById[0]?.current_balance, data.id)">
                            {{"CURRENT_ACCOUNT.BUTTONS.PAY" | translate}}
                        </button></td>
                </tr>
                <tr class="movements-detail" [nzExpand]="data.expand && expandable">
                    <td></td>
                    <td [attr.colspan]="checkbox ? 12 : 11">
                        <app-item-movements [items]="data?.items" [transaction_value]="data?.transaction_value">
                        </app-item-movements>
                    </td>
                </tr>
                <tr *ngIf="data.id == movementId" class="table-movements-payments">
                    <td [attr.colspan]="checkbox ? 12 : 11" style="padding: 0px;">
                        <div nz-row class="text-center">
                            <i nz-icon nzType="caret-up" class="caret-up-style" nzTheme="outline"></i>
                        </div>
                    </td>
                </tr>

                <tr *ngIf="data.id == movementId">
                    <td [attr.colspan]="checkbox ? 12 : 11" style="padding: 0px;">
                        <div class="detail-payment">
                            <div nz-row>
                                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" [nzLg]="11" [nzXl]="5" [nzXXl]="5"
                                    style="padding:25px">
                                    <div nz-row>
                                        <label><b>{{'CURRENT_ACCOUNT.PAYMENTS.AMOUNTPAY' |
                                                translate}}</b></label>
                                    </div>
                                    <div nz-row class="margin-top-10">
                                        <div nz-row class="box-input color-text-value">
                                            {{ getPositiveNumber(data?.transaction_value) | number:'1.2-2'}} €
                                        </div>
                                    </div>
                                </div>
                                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="6" [nzXXl]="6"
                                    class="box-current-account-before margin-top-10">
                                    <div nz-row>
                                        <label><b>{{'CURRENT_ACCOUNT.PAYMENTS.CURRENTACCOUNTBEFORE' |
                                                translate}}</b></label>
                                    </div>
                                    <div nz-row class="box-input">
                                        {{ accountBalaceById[0]?.current_balance | number:'1.2-2'}} €
                                    </div>
                                </div>
                                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" [nzLg]="11" [nzXl]="6" [nzXXl]="6">
                                    <div class="box-current-account-after margin-left-10 margin-top-10">
                                        <div nz-row>
                                            <label><b>{{'CURRENT_ACCOUNT.PAYMENTS.CURRENTACCOUNTAFTER' |
                                                    translate}}</b></label>
                                        </div>
                                        <div nz-row class="box-input"
                                            [ngClass]="{'after-box': transactionAfterValue >= 0, 'after-box-negative-value': transactionAfterValue<0}">
                                            {{transactionAfterValue | number:'1.2-2'}} €
                                        </div>
                                    </div>

                                    <div nz-row *ngIf="transactionAfterValue<0"
                                        class="after-box-negative-value text-center" style="padding-top:10px">
                                        <label><b> <i nz-icon nzType="warning" style="font-size: 17px;"
                                                    nzTheme="outline"></i>
                                                {{'CURRENT_ACCOUNT.PAYMENTS.INSUFFICIENT_FOUNDS' |
                                                translate}}</b></label>
                                    </div>
                                </div>
                                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" [nzLg]="11" [nzXl]="6" [nzXXl]="6"
                                    class="button-box-payments">
                                    <button nz-button type="button" class="button-style-movements"
                                        (click)="movementId = ''">
                                        {{'CURRENT_ACCOUNT.PAYMENTS.CANCEL' |
                                        translate}}
                                    </button>

                                    <button *ngIf="transactionAfterValue>=0 && ('current_account:movements:pay' | hasPermission)" nz-button type="button"
                                        class="button-style-uploads" [nzLoading]="loadingPayment"
                                        (click)="paymentValue(data.id);">
                                        {{'CURRENT_ACCOUNT.PAYMENTS.CONFIRM' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="data.id == movementId" class="table-movements-payments">
                    <td [attr.colspan]="checkbox ? 12 : 11" style="padding: 0px;">
                        <div nz-row class="text-center">
                            <i nz-icon nzType="caret-up" class="caret-up-style-none" nzTheme="outline"></i>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </nz-table>
</div>

<!------------------------------------------MOBILE------------------------------------>

<div nz-row class="hidden-md box-table">
    <div class="margin-top-20">
        <div *ngFor="let item of applicationsTable.data; let idx = index">
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
                    class="font-label-mobile">{{'CURRENT_ACCOUNT.TABLE.DATE' | translate}}:</label>
                {{item?.created_at |
                date:
                'dd/MM/yyyy'}} <span class="font-label-mobile-hour">{{item?.created_at | date:'mediumTime'}}</span>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
                    class="font-label-mobile">{{'CURRENT_ACCOUNT.FILTER.OPERATIONS' | translate}}:</label> {{
                item?.operation
                ==
                'CHARGE' ? ('CURRENT_ACCOUNT.FILTER.CHARGE' | translate) :
                item?.operation == 'CANCEL' ? ('CURRENT_ACCOUNT.FILTER.CANCEL' | translate) :
                item?.operation == 'RECEIPT' ? ('CURRENT_ACCOUNT.FILTER.RECEIPT' | translate) :
                item?.operation == 'INVOICE' ? ('CURRENT_ACCOUNT.FILTER.INVOICE' | translate) :
                item?.operation == 'INVOICE_RECEIPT' ? ('CURRENT_ACCOUNT.FILTER.INVOICE_RECEIPT' | translate) :
                item?.operation == 'CREDIT_NOTE' ? ('CURRENT_ACCOUNT.FILTER.CREDIT_NOTE' | translate) :
                item?.operation == 'REFUND' ? ('CURRENT_ACCOUNT.FILTER.REFUND' | translate) :
                item?.operation == 'CHARGE_NOT_IMMEDIATE' ? ('CURRENT_ACCOUNT.FILTER.CHARGE_NOT_IMMEDIATE' |
                translate)
                :
                '-' }}
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15">
                <label class="font-label-mobile">
                    {{'CURRENT_ACCOUNT.TABLE.DEVICE' | translate}}:
                </label>
                {{ item && item.device ? item.device.name : '--' }}
            </div>

            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
                    class="font-label-mobile">{{'CURRENT_ACCOUNT.TABLE.DOC' | translate}}:</label>
                <a *ngIf="item?.document_id != null" class="text-link-doc" href="{{ item?.document?.url }}" download
                    target="_blank">{{ item?.document?.series+"/"+item?.document?.number }} </a>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
                    class="font-label-mobile">{{'CURRENT_ACCOUNT.TABLE.SATUS' | translate}}:</label>{{ item?.status
                ==
                'CONFIRMED'
                ? ('CURRENT_ACCOUNT.FILTER.CONFIRMED' | translate) : item?.status ==
                'PENDING' ? ('CURRENT_ACCOUNT.FILTER.PENDING' | translate)
                : item?.status == 'CANCELLED' ? ('CURRENT_ACCOUNT.FILTER.CANCELLED' | translate) : item?.status ==
                'CANCELLED_LACK_PAYMENT' ? ('CURRENT_ACCOUNT.FILTER.CANCELLED_DUE_LACK_PAYMENT' | translate) : '-'}}
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
                    class="font-label-mobile">{{'CURRENT_ACCOUNT.TABLE.VALUE_PAYMENT' | translate}}:</label> <label
                    [ngClass]="{'positive-value': item?.transaction_value > 0, 'negative-value': item?.transaction_value < 0, 'value': item?.transaction_value == 0 }">
                    {{ item?.transaction_value == null ? '-' : item?.transaction_value > 0 ?
                    ('+'+(item?.transaction_value |
                    number:'1.2-2') + ' €') : (item?.transaction_value | number:'1.2-2') + ' €' }}
                </label>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
                    class="font-label-mobile">{{'CURRENT_ACCOUNT.TABLE.CURRENT' | translate}}:</label> <label
                    class="value" [ngClass]="{ 'negative-value': item?.current_balance < 0 }">
                    {{ item?.current_balance !=
                    null ? (item?.current_balance | number:'1.2-2') + ' €' : '-' }}
                </label>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
                    class="font-label-mobile">{{'CURRENT_ACCOUNT.TABLE.OWING_VALUE' | translate}}:</label>
                <label class="value" [ngClass]="{ 'negative-value': item?.owing_value < 0 }">
                    {{ item?.owing_value != null ?
                    (item?.owing_value | number:'1.2-2') + ' €' : '-' }}
                </label>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" class="margin-bottom-15"><label
                    class="font-label-mobile">{{'CURRENT_ACCOUNT.TABLE.METHOD_PAYMENT' | translate}}:</label> {{
                item?.payment_method?.name == 'Referência Multibanco' ? ('CURRENT_ACCOUNT.TABLE.REFATM' | translate)
                :
                item?.payment_method?.name == 'Multibanco' ? ('CURRENT_ACCOUNT.TABLE.ATM' | translate) :
                item?.payment_method?.name == 'Numerario' ? ('CURRENT_ACCOUNT.TABLE.NUM' | translate) :
                item?.payment_method?.name == 'Conta Corrente' ? ('CURRENT_ACCOUNT.TABLE.CURRENT_ACCOUNT' |
                translate) :
                item?.payment_method?.name
                }}
            </div>
            <!--app-item-movements [items]="item?.items" [transaction_value]="item?.transaction_value">
            </app-item-movements-->
            <div *ngIf="item.operation == 'INVOICE' && item.status == 'PENDING' && item.payment_id == null && ('current_account:movements:pay' | hasPermission)" nz-col
                [nzXs]="24" style="text-align: right;" class="margin-bottom-30">
                <button nz-button type="button" class="button-style-uploads"
                    (click)="payValue(item?.transaction_value, accountBalaceById[0]?.current_balance, item.id)">
                    {{"CURRENT_ACCOUNT.BUTTONS.PAY" | translate}}
                </button>
            </div>
            <div *ngIf="item.id == movementId" nz-col [nzXs]="24" class="margin-bottom-30">
                <div nz-row>
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" style="padding:25px">
                        <div nz-row>
                            <label><b>{{'CURRENT_ACCOUNT.PAYMENTS.AMOUNTPAY' | translate}}</b></label>
                        </div>
                        <div nz-row class="margin-top-10">
                            <div nz-row class="box-input color-text-value">
                                {{ getPositiveNumber(item?.transaction_value) | number:'1.2-2'}} €
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" class="box-current-account-before margin-top-10">
                        <div nz-row>
                            <label><b>{{'CURRENT_ACCOUNT.PAYMENTS.CURRENTACCOUNTBEFORE' | translate}}</b></label>
                        </div>
                        <div nz-row class="box-input">
                            {{ accountBalaceById[0]?.current_balance | number:'1.2-2'}} €
                        </div>
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11">
                        <div class="box-current-account-after margin-left-10 margin-top-10">
                            <div nz-row>
                                <label><b>{{'CURRENT_ACCOUNT.PAYMENTS.CURRENTACCOUNTAFTER' | translate}}</b></label>
                            </div>
                            <div nz-row class="box-input"
                                [ngClass]="{'after-box': transactionAfterValue >= 0, 'after-box-negative-value': transactionAfterValue<0}">
                                {{transactionAfterValue | number:'1.2-2'}} €
                            </div>
                        </div>

                        <div nz-row *ngIf="transactionAfterValue<0" class="after-box-negative-value text-center"
                            style="padding-top:10px">
                            <label><b> <i nz-icon nzType="warning" style="font-size: 17px;" nzTheme="outline"></i>
                                    {{'CURRENT_ACCOUNT.PAYMENTS.INSUFFICIENT_FOUNDS' | translate}}</b></label>
                        </div>
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" class="button-box-payments">
                        <button nz-button type="button" class="button-style-movements" (click)="movementId = ''">
                            {{'CURRENT_ACCOUNT.PAYMENTS.CANCEL' |
                            translate}}
                        </button>

                        <button *ngIf="transactionAfterValue>=0 && ('current_account:movements:pay' | hasPermission)" nz-button type="button" class="button-style-uploads"
                            [nzLoading]="loadingPayment" (click)="paymentValue(item.id)">
                            {{'CURRENT_ACCOUNT.PAYMENTS.CONFIRM' | translate}}
                        </button>
                    </div>
                </div>
            </div>

            <nz-divider></nz-divider>

        </div>
        <div *ngIf="applicationsTable.data.length>0" style="text-align: center; padding-bottom:15px">
            <nz-pagination id="pagination-list-movements-account" [nzTotal]="total" [(nzPageIndex)]="pageIndex"
                [(nzPageSize)]="pageSize" nzShowSizeChanger (nzPageIndexChange)="getMovements()"
                (nzPageSizeChange)="getMovements(true)"></nz-pagination>
        </div>
    </div>


</div>

<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
        class="margin-bottom-30 margin-top-10 text-align-button">
        <app-button (click)="getReportMovements()" [loading]='loadingReport' [disabled]="loadingReport" [translate]="'CURRENT_ACCOUNT.BUTTONS.DOWNLOAD'">
        </app-button>
    </div>

</div>



<!---------------------------MODAL SUCCESS----------------------->
<nz-modal [nzVisible]="successModal" (nzOnCancel)="successModal = false" (nzOnOk)="successModal = false"
    id="modal-success-payments">
    <div nz-row class="text-center text-title-modal-success">
        <label>{{'CURRENT_ACCOUNT.ACCOUNT' | translate}}</label>
    </div>
    <div nz-row class="text-center text-detail-modal-success">
        <label>{{'CURRENT_ACCOUNT.PAYMENTS.CURRENT_ACCOUNT_BALANCE' | translate}}</label>
    </div>
    <div class="img-success">
        <img src="assets/imgs/Success.PNG">
    </div>
    <div class="text-img">
        <label>{{'CURRENT_ACCOUNT.PAYMENTS.TEXT_SUCCESS_BALANCE' | translate}}</label>
    </div>
</nz-modal>

<!---------------------------MODAL SUCCESS REPORT----------------------->
<nz-modal [nzVisible]="successModalReport" (nzOnCancel)="successModalReport = false" (nzOnOk)="successModalReport = false"
[nzFooter]="null" [nzWidth]=400>
    <div nz-row class="text-center text-title-modal-success">
        <label>{{'CURRENT_ACCOUNT.ACCOUNT' | translate}}</label>
    </div>
    <app-modal-success-report></app-modal-success-report>
   
</nz-modal>

<!---------------------------MODAL DEPOSIT----------------------->
<nz-modal [nzVisible]="modalDeposit" (nzOnCancel)="modalDeposit = false" (nzOnOk)="modalDeposit = false"  [nzFooter] = "null">
    <app-deposit (close)="closeModal($event)" [balance]="accountBalaceById[0]" [methods]="accountBalaceById[0]?.available_methods"></app-deposit>
</nz-modal>