

@import "theme";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 1199px)";
@mobile:    ~"only screen and (min-width: 320px) and (max-width: 719px)";

/* --- Counter --- */
.top {
  padding-top: 25px;
}

:host::ng-deep {

  .ant-table-title {
    padding: 0;
  }

  nz-table {
    margin-bottom: 35px;
  }

#movements-current-account ::ng-deep .ant-select-selection {
  border-radius: 30px !important;
  color:black !important;
  background-color: white !important;
}

#movements-current-account ::ng-deep .ant-select-arrow {
  color:black !important;
}

.account-item {
  border-radius: 5px 5px 0px 0px;
  background-color: #FAFAFA;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  color: #333333;
  margin-top:25px;

  @media @tablet {
    flex-wrap: wrap;
  }

  @media @mobile {
    flex-wrap: wrap;
  }

  .account-elements-i {
    padding: 20px;
    width: 40%;
    display: flex;
    flex-direction: row;
    border-right: 2px solid #ffffff;
    justify-content: space-between;

    @media @tablet {
      width: 100%;
      border-right: 0;
      border-bottom: 2px solid #ffffff;
    }

    @media @mobile {
      width: 100%;
      border-right: 0;
      border-bottom: 2px solid #ffffff;
    }

    .account-name {
      width: 50%;
      font-weight: bold;
      color: var(--primary-5);
    }
  }

  .account-title-value{
    font-weight: bold;
  }

  .account-elements-ii {
    padding: 20px;
    width: 30%;
    border-right: 2px solid #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media @tablet {
      width: 50%;
    }

    @media @mobile {
      width: 100%;
      border-bottom: 2px solid #ffffff;
    }

    .account-value-corrent {
      color: #1ba974;
      font-weight: 600;
    }

    .account-value-pending{
      color: #d0021b;
      font-weight: 600;
    }

    .account-value-pending-normal{
      color: black;
      font-weight: 600;
    }
  }

.account-elements-iii {
    padding: 20px;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media @tablet {
      width: 50%;
    }

    @media @mobile {
      width: 100%;
    }

    .account-value-corrent {
      color: #1ba974;
      font-weight: 600;
    }

    .account-value-pending{
      color: #d0021b;
      font-weight: 600;
    }

    .account-value-pending-normal{
      color: black;
      font-weight: 600;
    }
  }

  @media @tablet{
    .account-elements-iii {
      border-right: 0;
    }
  }

  @media @mobile {
    .account-elements-ii, .account-elements-iii {
      border-right: 0;
    }
  }

}

}


.ant-input {
  border-radius: 30px;
  color: #111111;
}

.ant-calendar-range-picker-input::placeholder {
  color: #111111;
}

.anticon-calendar {
  color: #111111;
}



.content-filter-title {
  margin-top: 3px;
  font-weight: bold;
  text-align: center;
  color: #111111;
}

.ant-table-thead > tr > th {
  color: unset !important;
  text-align: left;
  background: white !important;
  border-bottom: 1px solid #e8e8e8;
}

.tr.ant-table-expanded-row, .ant-table-row {
  background: white;
}

.table-movements-payments {
    background-color: #f0f2f5;
}

.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td, .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
  background: var(--primary-1);
}

.ant-table-row-expanded {
  background-color: var(--primary-color);
  color:white;
}

.ant-table-row-collapsed {
  padding-top: 2px;
}

#pagination-list-movements-account ::ng-deep .ant-pagination-options {
  display: block !important;
  padding-top:10px;
  margin-left:10px !important;
}

#pagination-list-movements-account ::ng-deep .ant-pagination.mini .ant-pagination-options {
  margin-left:2px;
}


.positive-value {
  color: #1ba974;
  font-weight: bold;
}

.negative-value {
  color: #d0021b;
  font-weight: bold;
}

.value {
  font-weight: bold;
}

.margin-top-15 {
  margin-top:15px;
}

.padding-right-5 {
  padding-right:5px;
}

.hidden-md {
  display:none;
}

.text-link-doc {
  color: #2E9AFE;
  text-decoration: underline;
  cursor: pointer;
}

.margin-bottom-30 {
  margin-bottom:30px;
}

.text-center {
  text-align: center;
}

.img-success {
  text-align: center;
  padding-top: 30px;
}

.text-title-modal-success {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-top: 20px;
}

.text-detail-modal-success {
  color: black;
  font-weight: bold;
}

.text-img {
  font-size: 20px;
  color: black;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.caret-up-style {
  color:white;
  font-size: 50px;
}

.caret-up-style-none {
  color:#f0f2f5;
  font-size: 50px;
}

.detail-payment {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  margin-top:-16px;
}

.box-input {
  padding: 12px;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
}

.box-current-account-before {
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  padding: 25px;
}

.box-current-account-after {
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  padding: 25px;
  background-color: var(--primary-color);
  color: white;
}

.margin-left-10 {
  margin-left:10px;
}

.margin-top-10 {
  margin-top:10px;
}

.after-box {
  background-color: white;
  color: black;
}

.after-box-negative-value {
  background-color: white;
  color: red;
}



#modal-success-payments::ng-deep .ant-btn-default {
  display: none;
}

#modal-success-payments::ng-deep .ant-modal-close {
  display: none;
}

#modal-success-payments::ng-deep .ant-modal-footer {
  border: none;
}

.button-box-payments {
  text-align: center;
  margin-top: 40px;
}

.button-style-movements {
  color: #333333;
  height: 32px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  background-color: white;
  border-radius: 21px;
  border: solid 2px var(--primary-color);
}
.button-style-movements:hover {
  background-color: var(--primary-color);
  color: white;
}

.button-style-uploads {
  margin-left:15px;
  color: white;
  height: 32px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  background-color: var(--primary-color);
  border-radius: 21px;
  border: solid 2px var(--primary-color);
}

.button-style-uploads:hover {
  background-color: white;
  color: var(--primary-color);
  border: solid 2px var(--primary-color);
}

.color-text-value {
  color: var(--primary-color);
}

.text-align-button {
  text-align: center;
}


@media @tablet {
  .margin-top-10 {
    margin-top:10px;
  }

  .margin-top-20 {
    margin-top:20px;
  }

  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display:block;
  }

  .margin-bottom-15 {
    margin-bottom:15px;
  }

  .font-label-mobile {
    color: black;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  span.font-label-mobile-hour {
    font-size: smaller !important;
  }

  .title-item {
    font-size: 19px;
    font-weight: bold;
  }

  .box-table {
    margin-top: -22px;
    background-color: white;
    padding-left:20px;
    padding-right: 20px;
  }

  .content-filter-title {
    margin-top: 30px;
    font-weight: bold;
    text-align: center;
    color: #111111;
  }
}


@media @mobile {

  .margin-left-10 {
    margin-left:0px !important;
  }

  .margin-top-10 {
    margin-top:10px;
  }

  .margin-top-20 {
    margin-top:20px;
  }

  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display:block;
  }

  .margin-bottom-15 {
    margin-bottom:15px;
  }

  .font-label-mobile {
    color: black;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  span.font-label-mobile-hour {
    font-size: smaller !important;
  }

  .title-item {
    font-size: 19px;
    font-weight: bold;
  }

  .box-table {
    margin-top: -22px;
    background-color: white;
    padding-left:20px;
    padding-right: 20px;
  }
}

.text-align-right{
  text-align: right!important;
}
