<div nz-row class="filter_box" nzJustify="space-between" nzType="flex">
  <div nz-col nzSpan="6">
    <div nz-row class="filter_box__label">Data:</div>
    <div nz-row>
      <nz-date-picker
        [nzAllowClear]="false"
        [(ngModel)]="selectedDate"
        (ngModelChange)="this.loadStats()"
      ></nz-date-picker>
    </div>
  </div>
</div>

<nz-spin [nzSpinning]="loading">
  <div *ngFor="let service of data" class="content">
    <h2 class="content__service_name">{{ service.name }}</h2>
    <nz-divider></nz-divider>
    <div class="content__service">
      <div nz-row>
        <div nz-col nzSpan="12">
          <div nz-row class="content__service__meal"><b>Almoço</b></div>

          <table class="content__service__table">
            <thead>
              <th>Tipo</th>
              <th>Prato</th>
              <th>Reservas</th>
            </thead>
            <tbody>
              <tr *ngFor="let meal of getMeals('lunch', service.meals)">
                <td>{{ meal.type }}</td>
                <td>{{ meal.dish }}</td>
                <td>{{ meal.reserved }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div nz-col nzSpan="12">
          <div nz-row class="content__service__meal"><b>Jantar</b></div>
          <table class="content__service__table">
            <thead>
              <th>Tipo</th>
              <th>Prato</th>
              <th>Reservas</th>
            </thead>
            <tbody>
              <tr *ngFor="let meal of getMeals('dinner', service.meals)">
                <td>{{ meal.type }}</td>
                <td>{{ meal.dish }}</td>
                <td>{{ meal.reserved }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</nz-spin>
