.filter_box {
    padding: 25px;
    margin-bottom: 25px;
    background: white;

    &__label {
        margin-bottom: 5px;
    }
}

.content {
    background: white;
    padding: 25px;
    min-height: 200px;

    &__service {
        &__meal {
            margin-bottom: 10px;
            font-size: 16px;
        }

        &__table {
            width: 450px;

            th  {
                border: 1px solid  var(--primary-6); 
                line-height: 28px;
                background: var(--primary-1);
            }

            th:last-child  {
                text-align: right;
            }

            td {
                border: 1px solid  var(--primary-6); 
               line-height: 28px; 
            }

            td:last-child {
                text-align: right;
            }
        }
    }
}