<div
  nzType="flex"
  nzAlign="middle"
  nzJustify="center"
  perfectScrollbar
  class="page ps scroll-container"
>
  <div class="container">
    <form [formGroup]="equipmentForm" nzLayout="vertical">
      <nz-spin [nzSpinning]="loading">
        <div nz-row>
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="16"
            [nzLg]="16"
            [nzXl]="16"
            [nzXXl]="16"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label nzRequired> Tipo de anomalia </nz-form-label>
              <nz-form-control>
                <nz-select
                  formControlName="type"
                  nzPlaceHolder="Selecione o tipo"
                >
                  <nz-option
                    nzLabel="Equipamento"
                    [nzValue]="AnomalyType.EQUIPMENT"
                  >
                  </nz-option>
                  <nz-option
                    nzLabel="Temperatura de alimentos"
                    [nzValue]="AnomalyType.FOOD_TEMPERATURE"
                  >
                  </nz-option>
                  <nz-option
                    nzLabel="Equipamento de transporte de alimentos"
                    [nzValue]="AnomalyType.FOOD_TEMPERATURE_TRANSPORT"
                  >
                  </nz-option>
                  <nz-option
                    nzLabel="Colheita de testemunho"
                    [nzValue]="AnomalyType.TESTIMONY_SAMPLE"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.type.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>

        <div nz-row>
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="16"
            [nzLg]="16"
            [nzXl]="16"
            [nzXXl]="16"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label nzRequired> Código </nz-form-label>
              <nz-form-control>
                <input type="text" nz-input formControlName="code" />
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.code.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>

        <div nz-row>
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="16"
            [nzLg]="16"
            [nzXl]="16"
            [nzXXl]="16"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label nzRequired> Nome </nz-form-label>
              <nz-form-control>
                <input type="text" nz-input formControlName="name" />
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.name.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>
      </nz-spin>
    </form>
  </div>
  <div class="space">
    <button *ngIf="id != undefined" nz-button (click)="backList()">
      Voltar
    </button>
    <button
      nz-button
      [nzLoading]="loading"
      [disabled]="loading"
      (click)="id != undefined ? submitEquipment(true) : submitEquipment(false)"
      class="button-submit"
      [nzType]="'primary'"
    >
      {{ id != undefined ? 'Editar' : 'Criar' }}
    </button>
  </div>
</div>
