
<nz-form-item>
  <nz-form-label [nzSpan]="6" nzFor="email">Mês do relatório?</nz-form-label>
  <nz-form-control [nzSpan]="14">
    <nz-month-picker [(ngModel)]="date" name="date" nzPlaceHolder="Selecione o mês..."></nz-month-picker>
  </nz-form-control>
</nz-form-item >
<br>
Pretende ver o relatório resumido?