<StackLayout class="change-allergens">
  <fi-action-bar
    [actionBarType]="3"
    actionBarTitle="{{ 'CHANGE-ALLERGENS.TITLE' | translate }}"
  ></fi-action-bar>

  <ScrollView row="0">
    <WrapLayout orientation="horizontal" class="fisas__content">
      <StackLayout class="allergens__list" width="100%">
        <!-- allergen -->
        <GridLayout
          rows="auto auto"
          columns="* *"
          class="allergens__list__li"
          *ngFor="let item of allergens; last as isLast"
        >
          <Label
            class="fisas__p--label"
            [text]="item.name"
            textWrap="true"
            row="0"
            col="0"
          ></Label>
          <Switch
            width="100%"
            horizontalAlignment="right"
            [checked]="item.allergic"
            (checkedChange)="allergensChecked(item.id)"
            row="0"
            col="1"
          ></Switch>
          {{ isLast ? lastAllergen(item) : null }}
        </GridLayout>
      </StackLayout>

      <StackLayout width="100%" marginTop="30">
        <Label
          class="fisas__btn-bottom fisas__bg--{{ institution }}"
          text="{{ 'CHANGE-ALLERGENS.CONTINUE' | translate }}"
          (tap)="goToDashboard()"
        ></Label>
      </StackLayout>
    </WrapLayout>
  </ScrollView>
</StackLayout>
