<div class="content--padding white">
  <form [formGroup]="localForm" nz-form>
    <div nz-row>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired>Local</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="local">
            <nz-form-explain class="error" *ngIf="isSubmited && f.local.errors">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="0" nzMd="2"></div>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired>Região</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="region">
            <nz-form-explain class="error" *ngIf="isSubmited && f.region.errors">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired>Latitude</nz-form-label>
          <nz-form-control>
            <input type="number" nz-input formControlName="latitude">
            <nz-form-explain class="error" *ngIf="isSubmited && f.latitude.errors">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="0" nzMd="2"></div>
      <div nz-col nzXs="24" nzMd="11">
        <nz-form-item>
          <nz-form-label nzRequired>Longitude</nz-form-label>
          <nz-form-control>
            <input type="number" nz-input formControlName="longitude">
            <nz-form-explain class="error" *ngIf="isSubmited && f.longitude.errors">
              Campo obrigatório
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
      <aol-map [height]="'500'" [width]="'500'" (onClick)="getLatLong($event)">
        <aol-interaction-default></aol-interaction-default>
        <aol-control-defaults></aol-control-defaults>
        <aol-control-scaleline></aol-control-scaleline>
        <aol-view [zoom]="mapZoom">
          <aol-coordinate [x]="longitudeInit" [y]="latitudeInit" [srid]="'EPSG:4326'">
          </aol-coordinate>
        </aol-view>
        <aol-layer-tile>
          <aol-source-osm></aol-source-osm>
        </aol-layer-tile>
        <aol-layer-vector>
          <aol-source-vector>
            <aol-feature>
              <aol-geometry-point>
                <aol-coordinate [x]="longitude" [y]="latitude" [srid]="'EPSG:4326'">
                </aol-coordinate>
              </aol-geometry-point>
              <aol-style>
                <aol-style-circle [radius]="10">
                  <aol-style-stroke [color]="'black'" width="1"></aol-style-stroke>
                  <aol-style-fill [color]="'red'"></aol-style-fill>
                </aol-style-circle>
              </aol-style>
            </aol-feature>
          </aol-source-vector>
        </aol-layer-vector>
      </aol-map>
      
    <div nz-row>
      <nz-form-item>
        <nz-form-label nzRequired>Ativo</nz-form-label>
        <nz-form-control>
          <nz-switch formControlName="active"></nz-switch>
        </nz-form-control>
      </nz-form-item>
    </div>
  
  </form>
</div>

<div class="space" nz-row>
  <button *ngIf="isUpdate" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="isLoading" [disabled]="isLoading" (click)="submit(localForm.value, localForm.valid)" 
      [nzType]="'primary'">{{isUpdate ? 'Editar' : 'Criar'}}</button>
</div>