<nz-tabset nzTabPosition="left">
  <nz-tab nzTitle="Utilizadores Responsáveis">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-row class="title">
          Utilizadores
        </div>
        <div nz-row class="detail-field" *ngFor="let user of data?.users">
          <span > {{user?.user?.name}} </span>
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Sensores de medição">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-row class="title">
          Sensores de Medição
        </div>
        <div nz-row class="detail-field" *ngFor="let sensor of data?.measurement_config">
          <div nz-col nzXs="24" nzSm="24" nzMd="5" nzLg="5" nzXl="5">
            <span> {{sensor?.name}} </span>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">
            <span> Unidade de medição: </span>
            <span> {{sensor?.unit?.name}} ({{sensor?.unit?.acronym}})</span>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="5" nzLg="5" nzXl="5">
            <span> Valor máximo: </span>
            <span> {{sensor?.max_value}} </span>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="5" nzLg="5" nzXl="5">
            <span> Valor mínimo </span>
            <span> {{sensor?.min_value}} </span>
          </div>
        </div>
      </div>
    </div>
  </nz-tab>
</nz-tabset>
