@primary-color : #bf9f33;
@normal-color           : #d9d9d9;
@header-text-color: #FFF;

// Color used by default to control hover and active backgrounds and for
// alert info backgrounds.
@primary-1: #f7f3e6;
@primary-2: #ebe2c1;
@primary-3: #e0d09b;
@primary-4: #d5c079;
@primary-5: #c9af54;
@primary-6: @primary-color;
@primary-7: #99802b;
@primary-8: #7c6a24;
@primary-9: #4b431a;
@primary-10: #232412;
