<div class="PopType">
  <h2 class="title-top-page">{{ 'PRIVATEACCOMMODATION.POP_TYPE.TITLE' | translate }}</h2>
  <p class="sub-title-top-page">{{ 'PRIVATEACCOMMODATION.POP_TYPE.SUBTITLE' | translate }}</p>

  <div class="PopType__box">
    <nz-radio-group class="PopType__check" [(ngModel)]="typologyId">
      <label *ngFor="let t of typologies" nz-radio [nzValue]="t.id" class="PopType__radio_line">
        <span class="PopType__radiotitle"> {{ t.name || '' }}</span>
      </label>
    </nz-radio-group>
    <div class="button-div">
      <app-button
        class="PopType__btn"
        (click)="confirm()"
        [buttonStyle]="{
          'font-size': '12px',
          'line-height': '20px',
          'margin-top': '30px'
        }"
        translate="PRIVATEACCOMMODATION.POP_LOCAL.BT"
      ></app-button>
    </div>
  </div>
</div>
