@import 'theme';

.PopType {
  z-index: 22;
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  background: #ffffff;
  padding: 30px;
  
  &__btn {
    display: flex;
    float: right;
  }

  &__box {
    display: flex;
    flex-direction: column;
  }

  &__check {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    margin-left: 0 !important;
    font-size: 14px;
    line-height: 26px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
  }

  &__radio_line {
    margin-top: 3px;
  }
}

.button-div {
  height: 40px;
}
