<StackLayout class="user user__container">
  <fi-action-bar
    [actionBarType]="3"
    actionBarTitle="{{ 'USER.TITLE' | translate }}"
    actionBarBack="dashboard"
  ></fi-action-bar>

  <ScrollView row="0">
    <WrapLayout orientation="horizontal" class="user__content">
      <StackLayout class="user__cards">
        <StackLayout class="user__cards__container user__cards__content">
          <!-- name, institution -->
          <GridLayout columns="auto, *">
            <StackLayout class="user__cards__img" marginRight="12">
              <Image
                src="~/images/no-image.png"
                width="78"
                height="78"
                borderRadius="50%"
                stretch="aspectFill"
                loadMode="async"
              ></Image>
            </StackLayout>
            <StackLayout col="1" verticalAlignment="center">
              <Label
                *ngIf="user"
                textWrap="true"
                class="fisas__p--label"
                text="{{ user }}"
              ></Label>
              <Label
                textWrap="true"
                class="fisas__p"
                text="{{ institution?.acronym }} {{
                  institution?.name ? ' - ' + institution?.name : ''
                }}"
              ></Label>
            </StackLayout>
          </GridLayout>

          <!-- allergens -->
          <StackLayout marginTop="20">
            <GridLayout
              class="user__list"
              columns="auto, *"
              rows="*,*"
              (tap)="goAllergens()"
            >
              <Label
                textWrap="true"
                class="fisas__p--bold "
                text="{{ 'USER.ALLERGENS' | translate }}"
              ></Label>
              <Label
                row="1"
                class="fisas__p"
                text="{{ allergensSumary }}"
              ></Label>
              <Label
                rowSpan="2"
                col="1"
                horizontalAlignment="right"
                verticalAlignment="center"
                class="fisas__icon"
                text="&#xe907;"
              ></Label>
            </GridLayout>

            <!-- default dish -->
            <!--
            <GridLayout class="user__list" columns="auto, *" rows="*,*">
              <Label
                textWrap="true"
                class="fisas__p--bold "
                text="{{ 'USER.MEAL' | translate }}"
              ></Label>
              <Label row="1" class="fisas__p" text="Carne"></Label>
              <Label
                rowSpan="2"
                col="1"
                horizontalAlignment="right"
                verticalAlignment="center"
                class="fisas__icon"
                text="&#xf105;"
              ></Label>
            </GridLayout>
            -->

            <!-- refectory (canteen) -->
            <GridLayout
              class="user__list"
              width="100%"
              backrgound="red"
              columns="*, auto"
              rows="*,*"
              (tap)="goRefectories()"
            >
              >
              <Label
                textWrap="true"
                class="fisas__p--bold "
                text="{{ 'USER.REFECTORIES' | translate }}"
              ></Label>
              <Label
                row="1"
                class="fisas__p"
                text="{{ refectory?.name }}{{
                  refectory?.description ? ' - ' + refectory?.description : ''
                }}"
              ></Label>
              <Label
                rowSpan="2"
                col="1"
                horizontalAlignment="right"
                verticalAlignment="center"
                marginLeft="10"
                class="fisas__icon"
                text="&#xe907;"
              ></Label>
            </GridLayout>

            <!-- language -->
            <GridLayout
              class="user__list"
              columns="auto, *"
              rows="*,*"
              (tap)="goLanguages()"
            >
              <Label
                textWrap="true"
                class="fisas__p--bold "
                text="{{ 'USER.LANGUAGES' | translate }}"
              ></Label>
              <Label
                row="1"
                class="fisas__p"
                text="{{ language?.name }}"
              ></Label>
              <Label
                rowSpan="2"
                col="1"
                horizontalAlignment="right"
                verticalAlignment="center"
                class="fisas__icon"
                text="&#xe907;"
              ></Label>
            </GridLayout>

            <!-- logout -->
            <GridLayout
              class="user__list--logout"
              columns="auto, *"
              (tap)="logout()"
            >
              <Label
                textWrap="true"
                class="fisas__p "
                text="{{ 'USER.LOGOUT' | translate }}"
              ></Label>
              <Label
                col="1"
                horizontalAlignment="right"
                verticalAlignment="center"
                class="fisas__icon"
                text="&#xe907;"
              ></Label>
            </GridLayout>
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </WrapLayout>
  </ScrollView>
</StackLayout>
