@import "~/scss/_variables";

.user {
  &__container {
    background: $super-light-grey;
  }

  &__content {
    padding-left: 12;
    padding-right: 12;
  }

  &__cards {
    margin-top: 22;
    margin-bottom: 22;

    &__container {
      border-radius: 7;
      background: $white;
    }

    &__img {
      width: 78;
      height: 78;
      border-radius: 50%;
      
      .fisas__icon {
        font-size: 78;
        color: $black;
      }
    }

    &__content {
      padding: 18;
    }
  }

  &__list {
    margin-top: 30;

    &--logout {
      margin-top: 60;
      margin-bottom: 30;
    }
  }
}
