.content {
    padding: 32px;
    background-color: white;
    &__title {
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #333;
    }
}

.actions {
    text-align : right;
    padding-top: 42px;

    button:first-child {
        margin-right: 24px;
    }

}

.space{
    background-color: #F2F2F2;
    padding-top:20px;
    padding-bottom: 20px;
    text-align: right
}

.error{
    color: red;
}

.disabled-input {
    cursor: not-allowed;
    opacity: 1;
    pointer-events: none;
  }