<div class="content">
<nz-spin [nzSpinning]="isLoading">
    <form nz-form [formGroup]="specialtyGroup" nzLayout="horizontal">
      <nz-spin [nzSpinning]="languagesLoading">
        <ng-container formArrayName="translations">
          <nz-tabset #translationTabs>
            <nz-tab *ngFor="let translation of translations.controls; let i = index;"
              [nzTitle]="getLanguageName(translation.value.language_id)">
              <ng-container [formGroupName]="i">
                <nz-form-item>
                  <nz-form-label nzFor="name" nzRequired>Nome ( {{getLanguageName(translation.value.language_id)}} )</nz-form-label>
                    <nz-form-control>
                      <input nz-input formControlName="name" id="name">
                    </nz-form-control>
                    <nz-form-explain class="error"
                      *ngIf="submit && specialtyGroup.get('translations.' + i + '.name')?.errors">
                      Campo obrigatório
                    </nz-form-explain>
                  </nz-form-item>
                </ng-container>
              </nz-tab>
            </nz-tabset>
          </ng-container>
        </nz-spin>
      <div nz-row [nzGutter]="24">
        <div nz-col nzSpan="4">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="product_code">Código Produto</nz-form-label>
            <nz-form-control>
                <input nz-input formControlName="product_code" id="product_code" name="product_code" placeholder="Código Produto">
            </nz-form-control>
            <nz-form-explain class="error" *ngIf="submit && f.product_code.errors">
                Campo obrigatório
            </nz-form-explain>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="4">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="appointment_types_ids">Tipos de Consulta</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="appointment_types_ids" name="appointment_types_ids" nzMode="multiple" [nzLoading]="appointmentTypesLoading" >
                  <nz-option *ngFor="let type of appointmentTypes" [nzLabel]="type.name" [nzValue]="type.appointment_type_id"></nz-option>
                </nz-select>
                <nz-form-explain class="color-required" *ngIf="submit && f.appointment_types_ids.errors">
                    Campo obrigatório
                </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label nzFor="organic_unit_id">Unidade Orgânica</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="organic_unit_id" name="organic_unit_id" nzAllowClear nzAllowSearch [nzLoading]="organicUnitsLoading" >
                  <nz-option *ngFor="let organicUnit of organicUnits" [nzLabel]="organicUnit.name" [nzValue]="organicUnit.id"></nz-option>
                </nz-select>
                <nz-form-explain class="color-required" *ngIf="submit && f.organic_unit_id.errors">
                    Campo obrigatório
                </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="2">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="is_active">Ativo</nz-form-label>
            <nz-form-control>
                <nz-switch formControlName="is_active">
                </nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="2">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="is_external">Especialidade Externa</nz-form-label>
            <nz-form-control>
                <nz-switch formControlName="is_external">
                </nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="place_id">Nome da Instituição / Clínica / Hospital</nz-form-label>
            <nz-select formControlName="place_id" name="place_id" nzAllowSearch [nzLoading]="placesLoading" (ngModelChange)="setAddressInfo()" >
              <nz-option *ngFor="let place of places" [nzLabel]="place.name" [nzValue]="place.id"></nz-option>
            </nz-select>
            <nz-form-explain class="error" *ngIf="submit && f.place_id.errors">
                Campo obrigatório
            </nz-form-explain>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item >
            <nz-form-label nzFor="postal_code">Morada</nz-form-label>
            <nz-form-control>
              <input nz-input [attr.disabled]="true" formControlName="address" id="address" name="address">
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="24">
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label nzFor="postal_code">Código Postal</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="postal_code" id="postal_code" name="postal_code" 
              [attr.disabled]="true" >
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzFor="city">Localidade / Cidade</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="city" id="city" name="city" 
              [attr.disabled]="true" >
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row class="padding-top-30">
        <nz-divider></nz-divider>
      </div>
      <div nz-row [nzGutter]="24">
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzFor="email">Email</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="email" id="email" name="email" 
              [attr.disabled]="true">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzFor="phone">Telefone</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="phone" id="phone" name="phone" 
              [attr.disabled]="true">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzFor="fax">Fax</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="fax" id="fax" name="fax" 
              [attr.disabled]="true" >
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row class="padding-top-30">
        <nz-divider></nz-divider>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="description">Descrição</nz-form-label>
            <nz-form-control>
              <textarea nz-input formControlName="description" id="description" name="description" rows="4"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row class="padding-top-30">
        <nz-divider></nz-divider>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="regulation">Regulamento</nz-form-label>
            <nz-form-control>
              <textarea nz-input formControlName="regulation" id="regulation" name="regulation" rows="4"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row class="padding-top-30">
        <nz-divider></nz-divider>
      </div>
      <div nz-row class="padding-bottom-5">
        <label class="content__title">Ficha Técnica </label>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="doctors_ids">Equipa clínica</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="doctors_ids" name="doctors_ids" nzMode="multiple" [nzLoading]="doctorsLoading" >
                  <nz-option *ngFor="let doctor of doctors" [nzLabel]="doctor.user.name" [nzValue]="doctor.id"></nz-option>
                </nz-select>
            </nz-form-control>
            <nz-form-explain class="error" *ngIf="submit && f.doctors_ids.errors">
              Campo obrigatório
          </nz-form-explain>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="24">
        <div nz-col nzSpan="4">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="avarage_time">Tempo médio de Atendimento</nz-form-label>
            <nz-form-control>
              <div nz-row class="gutter-row">
                <nz-form-control nzExtra="Tempo em minutos">
                  <nz-input-number nz-input type="number" formControlName="avarage_time" id="avarage_time" name="avarage_time" 
                  [nzMin]="0" pattern="\d*" style="width: 100%"></nz-input-number>
                </nz-form-control>
              </div>
            </nz-form-control>
            <nz-form-explain class="error" *ngIf="submit && f.avarage_time.errors">
                Campo obrigatório
            </nz-form-explain>
          </nz-form-item>
        </div>
      </div>
      <div nz-row class="padding-top-30">
        <nz-divider></nz-divider>
      </div>
      <div nz-row class="padding-bottom-5">
        <label class="content__title">Tabela de Preços </label>
      </div>
        <ng-container formArrayName="price_variations">
          <div *ngFor="let price_variation of price_variations.controls; let i = index;">
            <div nz-row nzGutter="24">
              <ng-container [formGroupName]="i">
                <div nz-col nzSpan="1">
                  <button nz-button (click)="deletePriceLine(i)" style="margin-top: 42px">
                    <i nz-icon nzType="minus-circle-o"></i>
                  </button>                  
                </div>
                <div nz-col nzSpan="12">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="tariff_id">Tarifário</nz-form-label>
                      <nz-form-control>
                        <nz-select formControlName="tariff_id" name="tariff_id" [nzLoading]="tariffsLoading" >
                          <nz-option *ngFor="let tariff of tariffs" [nzDisabled]="isTariffDisabled(tariff.id)" [nzLabel]="tariff.description" [nzValue]="tariff.id"></nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="4">
                  <nz-form-item>
                    <nz-form-label nzFor="price" nzRequired>Preço</nz-form-label>
                    <nz-form-control>
                      <nz-input-number nz-input type="number" formControlName="price" id="price" name="price" 
                      [nzMin]="0" style="width: 100%"></nz-input-number> 
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="4">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="vat_id">IVA</nz-form-label>
                      <nz-form-control>
                        <nz-select formControlName="vat_id" name="vat_id" [nzLoading]="taxsLoading" >
                          <nz-option *ngFor="let tax of taxs" [nzLabel]="tax.name" [nzValue]="tax.id"></nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                </div>
              </ng-container>
            </div>
          </div>
      </ng-container>
      <div nz-row [nzGutter]="24">
          <nz-form-control>
            <button nz-button (click)="addPriceLine(null,null,null)">
              <i nz-icon nzType="plus-circle-o"></i>
              Adicionar Preço</button>
          </nz-form-control>
      </div>
      <div nz-row style="padding-top: 20px;">
        <p>Informação Pagamento:</p>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <angular-editor [(ngModel)]="modalText" id="editor1" [config]="editorConfig" [ngModelOptions]="{standalone: true}"></angular-editor>
          <!--<nz-form-item>
            <nz-form-label nzRequired nzFor="payment_information">Informação</nz-form-label>
            <nz-form-control>
              <textarea nz-input formControlName="payment_information" id="payment_information" name="payment_information" rows="4"></textarea>
            </nz-form-control>
          </nz-form-item>-->
        </div>
      </div>
      <div nz-row class="padding-top-30">
        <nz-divider></nz-divider>
      </div>
      <div nz-row class="padding-bottom-5">
        <label class="content__title">Pagamento:</label>
      </div>
      <div nz-row [nzGutter]="24">
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="payment_type">Tipo</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="payment_type" name="payment_type">
                  <nz-option nzValue="Ato Consulta" nzLabel="Ato Consulta"></nz-option>
                  <nz-option nzValue="Pré Pagamento" nzLabel="Pré Pagamento"></nz-option>
                </nz-select>
                <nz-form-explain class="color-required" *ngIf="submit && f.payment_type.errors">
                    Campo obrigatório
                </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

        <div nz-row class="padding-top-30">
          <nz-divider></nz-divider>
        </div>
        <div nz-row class="padding-bottom-5">
          <label class="content__title">Checklist de diagnóstico:</label>
        </div>
        <ng-container formArrayName="checklist">
          <div *ngFor="let check of checklist.controls; let i = index;">
            <div nz-row nzGutter="24">
              <ng-container [formGroupName]="i">
                <div nz-col nzSpan="1">
                  <button nz-button (click)="deleteChecklistLine(i)" style="margin-top: 42px">
                    <i nz-icon nzType="minus-circle-o"></i>
                  </button>                  
                </div>
                <div nz-col nzSpan="12">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="question">Pergunta</nz-form-label>
                      <nz-form-control>
                        <input nz-input formControlName="question" id="question" name="question">
                      </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col="" nzSpan="10" style="padding-left: 10px">
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="answer_type">Tipo</nz-form-label>
                    <nz-form-control>
                      <nz-radio-group formControlName="answer_type">
                        <label nz-radio nzValue="text">Texto</label>
                        <label nz-radio nzValue="number">Número</label>
                        <label nz-radio nzValue="date">Data</label>
                        <label nz-radio nzValue="boolean">Sim/Não</label>
                      </nz-radio-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </ng-container>
            </div>
          </div>
      </ng-container>
      <div nz-row [nzGutter]="24">
        <nz-form-control>
          <button nz-button (click)="addChecklistLine(null,null)">
            <i nz-icon nzType="plus-circle-o"></i>
            Adicionar Pergunta</button>
        </nz-form-control>
      </div>
    </form>
  </nz-spin> 
</div>

<div class="space">
  <button *ngIf="idToUpdate" nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="isLoading" [disabled]="isLoading" (click)="submitForm()"
    [nzType]="'primary'">{{idToUpdate ? 'Editar' : 'Criar'}}</button>
</div>