:root {
  --primary-11: #02090b;
  --primary-10: #221521;
  --primary-9: #49233a;
  --primary-8: #78365a;
  --primary-7: #933f6d;
  --primary-6: #b84e86;
  --primary-5: #c46b9a;
  --primary-4: #d08aaf;
  --primary-3: #dca8c4;
  --primary-2: #e9c9da;
  --primary-1: #f6e9f0;

  --primary-color: var(--primary-6); // color used in main actions

  --text-color: black;
  --input-focus-shadow-color: #107f903b; // outer shadow of input on focus - GIVE 20% ALPHA

  --background-color: #f3f3f3;

  --menu-text-color: black;
  --menu-item-active-bg: #b7d8de; // color of the side menu active ite
  --menu-bg: #f4f9fa; // color of the background of the menu
  --menu-sub-bg: #ffffff; // color of the background of the submenu

  --login-background-color: var(--primary-10);

  --header-logo-background: var(--primary-9);
  --header-background: var(--primary-color);
  --header-text-color: #fff;

  --dashboard-text-color: var(--primary-color);
  --dashboard-hover-text-color: #fff;

  --footer-text-color: #fff;
  --footer-color: var(--primary-5);
}
