<div nz-row class="title-modal">
  {{
    translations?.length > 1 ? (translations | languageChange)?.name : ('DASHBOARD.BUTTON.SOCIAL_SUPPORT' | translate)
  }}
</div>
<div nz-row class="desc-modal">
  {{ 'SOCIAL_SUPPORT.EXPERIENCES.INTEREST_MODAL.DESCRIPTION2' | translate }}
</div>
<div nz-row class="text-center">
  <img src="assets/imgs/Success.PNG" width="100" />
</div>
<div nz-row class="desc-modal2">
  {{ 'SOCIAL_SUPPORT.EXPERIENCES.INTEREST_MODAL.INTEREST_COLAB_2' | translate }}
</div>
<div nz-row class="title-modal-space">
  {{ (experience?.translations | languageChange)?.title }}
</div>
<div nz-row class="text-center">
  <div nz-col [nzXs]="{ span: 0 }" [nzSm]="{ span: 2 }" [nzLg]="{ span: 3 }"></div>
  <div nz-col [nzXs]="{ span: 24 }" [nzSm]="{ span: 10 }" [nzLg]="{ span: 9 }">
    <button nz-button type="button" class="button-cancel" (click)="close()">
      {{ 'MISC.CANCEL' | translate }}
    </button>
  </div>
  <div nz-col [nzXs]="{ span: 24 }" [nzSm]="{ span: 10 }" [nzLg]="{ span: 9 }">
    <button nz-button type="button" class="button-confirm" (click)="confirmInterest()" [nzLoading]="loadingButton">
      {{ 'MISC.CONFIRM' | translate }}
    </button>
  </div>
  <div nz-col [nzXs]="{ span: 0 }" [nzSm]="{ span: 2 }" [nzLg]="{ span: 3 }"></div>
</div>
<div nz-row class="desc-modal space-desc">
  {{ 'SOCIAL_SUPPORT.EXPERIENCES.INTEREST_MODAL.FEED' | translate }}
</div>
