.title {
  margin-top   : 64px;
  font-size    : 32px;
  margin-bottom: 24px;
}

.subtitle {
  margin-top   : 16px;
  font-size    : 16px;
  margin-bottom: 8px;
}

.body {
  padding: 24px;
  padding-bottom: 64px;

  &__select {
    width: 100%;
  }

  &__button {
    margin-top: 16px;
    width     : 100%;
  }
}

.container {
  background: white;
  padding: 24px 30px 24px 30px;
  margin-bottom: 5px;
  margin-top: 20px;
  &__title {
      font-size: 16px;
      line-height: 22px;
      margin: 0px;
      font-weight: bold;
      margin-bottom:10px;
      color:black;
  }
  &__subtitle{
    margin-bottom:5px;
  }
}