<div class="container">

  <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
    <div nz-col nzSpan="12" class="title">
      Selecione uma residência para continuar:
    </div>
  </div>
  <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
    <div nz-col nzSpan="12" class="body">
      <div class="subtitle">Ano Letivo</div>
      <nz-select [(ngModel)]="selectedAcademicYear" name="selectedAcademicYear" nzPlaceHolder="Ano Letivo"
        nzSize="large" class="body__select" [nzLoading]="loadingPhases" (ngModelChange)="selectedApplicationPhase = null">
        <nz-option nzLabel="Todos" [nzValue]="null"></nz-option>
        <nz-option *ngFor="let academicYear of academicYears" [nzLabel]="academicYear" [nzValue]="academicYear">
        </nz-option>
      </nz-select>
      <div class="subtitle">Residência</div>
      <nz-select [(ngModel)]="selectedResidence" nzSize="large" class="body__select" [nzLoading]="loadingResidences"  (ngModelChange)="selectedApplicationPhase = null">
        <nz-option nzLabel="Todas" [nzValue]="null"></nz-option>
        <nz-option *ngFor="let residence of residences" [nzLabel]="residence.name" [nzValue]="residence"></nz-option>
      </nz-select>
      <div class="subtitle">Fase</div>
      <nz-select 
          [(ngModel)]="selectedApplicationPhase"
          nzSize="large"
          class="body__select"
          [nzLoading]="loadingPhases"
        >
        <nz-option nzLabel="Todas" [nzValue]="null"></nz-option>
        <nz-option *ngFor="let applicationPhase of getApplicationPhases()"
         [nzLabel]=" selectedAcademicYear ? 'Fase - ' + applicationPhase.application_phase : applicationPhase.academic_year + ' Fase - ' + applicationPhase.application_phase " [nzValue]="applicationPhase"></nz-option>
      </nz-select>
      
      <button (click)="continueButton()" class="body__button" nz-button>Continuar</button>
    </div>
  </div>
</div>