<div class="container">
  <div nz-row>
    <div nz-col nzSm="24" nzMd="24" class="title">
      <label>Resultado candidatura alojamento</label>
    </div>
    <div nz-col nzSm="12" nzMd="6">
      <div nz-row>
        <nz-form-label>Residência</nz-form-label>
        <nz-select [(ngModel)]="selectedResidence_report1" 
          name="selectedResidence_report1" nzPlaceHolder="Residência" style="width: 100%">
          <nz-option *ngFor="let residence of residences" [nzLabel]="residence.name" [nzValue]="residence"
            [nzDisabled]="!residence.active">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="6">
      <div nz-row>
        <nz-form-label>Fase</nz-form-label>
        <nz-select [(ngModel)]="selectedPhase" name="selectedPhase" nzPlaceHolder="Fase" style="width: 100%">
          <nz-option *ngFor="let phase of phases"
            [nzLabel]="'Fase: ' + phase.application_phase + ' Ano Letivo: ' + phase.academic_year" [nzValue]="phase">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="6" style="padding-top: 40px;">
      <button nz-button [nzLoading]="alocanres_loading" [disabled]="alocanres_loading" (click)="applications_results()"
        [nzType]="'primary'">Gerar Relatório</button>
    </div>
  </div>

</div>
<div nz-row class="space"></div>
<div class="container">
  <div nz-row>
    <div nz-col nzSm="24" nzMd="24" class="title">
      <label>Dados em bruto candidaturas</label>
    </div>
    <div nz-col nzSm="12" nzMd="6">
      <div nz-row>
        <nz-form-label>Ano Letivo</nz-form-label>
        <nz-select [(ngModel)]="academic_year" name="academic_year" nzPlaceHolder="Ano Letivo" style="width: 100%" (ngModelChange)="onChangeAcademicYearRaw()">
          <nz-option *ngFor="let academic_year of academic_years" [nzLabel]="academic_year" [nzValue]="academic_year">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="6">
      <div nz-row>
        <nz-form-label>Residência</nz-form-label>
        <nz-select [(ngModel)]="selectedResidence_report2" name="selectedResidence_report2" nzPlaceHolder="Residência"
          style="width: 100%">
          <nz-option nzLabel="Todas" [nzValue]="null">
          </nz-option>
          <nz-option *ngFor="let residence of residences" [nzLabel]="residence.name" [nzValue]="residence"
            [nzDisabled]="!residence.active">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="6">
      <div nz-row>
        <nz-form-label>Fase</nz-form-label>
        <nz-select [(ngModel)]="raw_selected_phase" name="raw_selected_phase" nzPlaceHolder="Fase" style="width: 100%"
          [nzAllowClear]="true">
          <nz-option *ngFor="let phase of raw_phases"
            [nzLabel]="'Fase: ' + phase.application_phase + ' Ano Letivo: ' + phase.academic_year" [nzValue]="phase">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="6" nzLg="3" style="padding-top: 40px;">
      <button nz-button [nzLoading]="alocanbruto_loading" [disabled]="alocanbruto_loading" (click)="applications_raw()"
        [nzType]="'primary'">Gerar Relatório</button>
    </div>
  </div>

</div>

<div nz-row class="space"></div>
<div class="container">
  <div nz-row>
    <div nz-col nzSm="24" nzMd="24" class="title">
      <label>Mapa controlo de roupas</label>
    </div>
    <div nz-col nzSm="12" nzMd="6">
      <div nz-row>
        <nz-form-label>Residência</nz-form-label>
        <nz-select [(ngModel)]="selectedResidence_report3"
          name="selectedResidence_report3" nzPlaceHolder="Residência" style="width: 100%">
          <nz-option *ngFor="let residence of residences" [nzLabel]="residence.name" [nzValue]="residence"
            [nzDisabled]="!residence.active">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="6" style="padding-top: 40px;">
      <button nz-button [nzLoading]="aloclothesmap_loading" [disabled]="aloclothesmap_loading" (click)="clothes_map()"
        [nzType]="'primary'">Gerar Relatório</button>
    </div>
  </div>
</div>

<div nz-row class="space"></div>
<div class="container">
  <div nz-row>
    <div nz-col nzSm="24" nzMd="24" class="title">
      <label>Mapa de estudante bolseiro (Bolseiro ou Não Bolseiro)</label>
    </div>
    <div nz-col nzSm="12" nzMd="6">
      <div nz-row>
        <nz-form-label>Fase</nz-form-label>
        <nz-select [(ngModel)]="selected_phase_scholarship_map" name="selected_phase_scholarship_map"
          nzPlaceHolder="Fase" style="width: 100%">
          <nz-option *ngFor="let phase of phases"
            [nzLabel]="'Fase: ' + phase.application_phase + ' Ano Letivo: ' + phase.academic_year" [nzValue]="phase">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="6">
      <div nz-row>
        <nz-form-label>Residência</nz-form-label>
        <nz-select [(ngModel)]="selected_residence_sholarship_map" name="selected_residence_sholarship_map"
          nzPlaceHolder="Residência" style="width: 100%">
          <nz-option nzLabel="Todas" [nzValue]="null">
          </nz-option>
          <nz-option *ngFor="let residence of residences" [nzLabel]="residence.name" [nzValue]="residence"
            [nzDisabled]="!residence.active">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="6" style="padding-top: 40px;">
      <button nz-button [nzLoading]="scolarship_map_loading" [disabled]="scolarship_map_loading"
        (click)="applications_scholarship_map()" [nzType]="'primary'">Gerar Relatório</button>
    </div>
  </div>
</div>
<div nz-row class="space"></div>
<div class="container">
  <div nz-row>
    <div nz-col nzSm="24" nzMd="24" class="title">
      <label>Mapa de Regime de Alojamento</label>
    </div>
    <div nz-col nzSm="12" nzMd="6">
      <div nz-row>
        <nz-form-label>Fase</nz-form-label>
        <nz-select [(ngModel)]="selected_phase_regime_map" name="selected_phase_regime_map" nzPlaceHolder="Fase"
          style="width: 100%">
          <nz-option *ngFor="let phase of phases"
            [nzLabel]="'Fase: ' + phase.application_phase + ' Ano Letivo: ' + phase.academic_year" [nzValue]="phase">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="6">
      <div nz-row>
        <nz-form-label>Residência</nz-form-label>
        <nz-select [(ngModel)]="selected_residence_regime_map" name="selected_residence_regime_map"
          nzPlaceHolder="Residência" style="width: 100%">
          <nz-option nzLabel="Todas" [nzValue]="null">
          </nz-option>
          <nz-option *ngFor="let residence of residences" [nzLabel]="residence.name" [nzValue]="residence"
            [nzDisabled]="!residence.active">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="6" style="padding-top: 40px;">
      <button nz-button [nzLoading]="regime_map_loading" [disabled]="regime_map_loading"
        (click)="applications_regime_map()" [nzType]="'primary'">Gerar Relatório</button>
    </div>
  </div>
</div>

<div nz-row class="space"></div>

<div class="container">
  <div nz-row>
    <div nz-col nzSm="24" nzMd="24" class="title">
      <label>Mapa de Equipamentos Eletrónicos (extras)</label>
    </div>
    <div nz-col nzSm="12" nzMd="6">
      <div nz-row>
        <nz-form-label>Fase</nz-form-label>
        <nz-select [(ngModel)]="selected_phase_extras_map" name="selected_phase_extras_map" nzPlaceHolder="Fase"
          style="width: 100%">
          <nz-option *ngFor="let phase of phases"
            [nzLabel]="'Fase: ' + phase.application_phase + ' Ano Letivo: ' + phase.academic_year" [nzValue]="phase">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="6">
      <div nz-row>
        <nz-form-label>Residência</nz-form-label>
        <nz-select [(ngModel)]="selected_residence_extras_map" name="selected_residence_extras_map"
          nzPlaceHolder="Residência" style="width: 100%">
          <nz-option nzLabel="Todas" [nzValue]="null">
          </nz-option>
          <nz-option *ngFor="let residence of residences" [nzLabel]="residence.name" [nzValue]="residence"
            [nzDisabled]="!residence.active">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="6" style="padding-top: 40px;">
      <button nz-button [nzLoading]="extras_map_loading" [disabled]="extras_map_loading"
        (click)="applications_extras_map()" [nzType]="'primary'">Gerar Relatório</button>
    </div>
  </div>
</div>

<div nz-row class="space"></div>

<div class="container">
  <div nz-row>
    <div nz-col nzSm="24" nzMd="24" class="title">
      <label>Processamentos Efetuados</label>
    </div>
    <div nz-col nzSm="12" nzMd="6">
      <div nz-row>
        <nz-form-label>Residência</nz-form-label>
        <nz-select [(ngModel)]="selected_residence_process" name="selected_residence_process" nzPlaceHolder="Residência"
          style="width: 100%">
          <nz-option nzLabel="Todas" [nzValue]="null">
          </nz-option>
          <nz-option *ngFor="let residence of residences" [nzLabel]="residence.name" [nzValue]="residence"
            [nzDisabled]="!residence.active">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="4">
      <div nz-row>
        <nz-form-label>Ano Letivo</nz-form-label>
        <nz-select [(ngModel)]="academic_year_process" name="academic_year" nzPlaceHolder="Ano Letivo"
          style="width: 100%">
          <nz-option *ngFor="let academic_year of academic_years" [nzLabel]="academic_year" [nzValue]="academic_year">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="3">
      <div nz-row>
        <nz-form-label>Mês/Ano</nz-form-label>
        <nz-month-picker [(ngModel)]="month_year_process"></nz-month-picker>
      </div>
    </div>

    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="4" style="padding-top: 40px;">
      <button nz-button [nzLoading]="process_loading" [disabled]="process_loading"
        (click)="reportProcess()" [nzType]="'primary'">Gerar Relatório</button>
    </div>
  </div>
</div>





<div nz-row class="space"></div>

<div class="container">
  <div nz-row>
    <div nz-col nzSm="24" nzMd="24" class="title">
      <label>Geração do Ficheiro SEPA (Débitos Diretos)</label>
    </div>
    <div nz-col nzSm="12" nzMd="6">
      <div nz-row>
        <nz-form-label>Residência</nz-form-label>
        <nz-select [(ngModel)]="selected_residence_sepa" name="selected_residence_sepa" nzPlaceHolder="Residência"
          style="width: 100%">
          <nz-option nzLabel="Todas" [nzValue]="null">
          </nz-option>
          <nz-option *ngFor="let residence of residences" [nzLabel]="residence.name" [nzValue]="residence"
            [nzDisabled]="!residence.active">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="3">
      <div nz-row>
        <nz-form-label>Mês/Ano</nz-form-label>
        <nz-month-picker [(ngModel)]="month_year_sepa"></nz-month-picker>
      </div>
    </div>

    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="4" style="padding-top: 40px;">
      <button nz-button [nzLoading]="generateSepaFile_loading" [disabled]="generateSepaFile_loading"
        (click)="generateSepaFile()" [nzType]="'primary'">Gerar ficheiro SEPA</button>
    </div>

    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="3" style="padding-top: 40px;">
      <button nz-button [nzLoading]="generateSepaFile_loading" [disabled]="generateSepaFile_loading"
        (click)="reportSepa()" [nzType]="'primary'">Gerar Relatório</button>
    </div>
  </div>
</div>

<div nz-row class="space"></div>
<div class="container">
  <div nz-row>
    <div nz-col nzSm="24" nzMd="24" class="title">
      <label>Mapa de Tarifários</label>
    </div>
    <div nz-col nzSm="12" nzMd="4">
      <div nz-row>
        <nz-form-label>Residência</nz-form-label>
        <nz-select [(ngModel)]="selected_residence_tariff" name="selected_residence_tariff" nzPlaceHolder="Residência" style="width: 100%" nzAllowClear>
          <nz-option nzLabel="Todas" [nzValue]="null"></nz-option>
          <nz-option *ngFor="let residence of residences" [nzLabel]="residence.name" [nzValue]="residence"
            [nzDisabled]="!residence.active">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="4">
      <div nz-row>
        <nz-form-label nzRequired>Ano Letivo</nz-form-label>
        <nz-select [(ngModel)]="academic_year_tariff" name="academic_year_tariff" nzPlaceHolder="Ano Letivo" style="width: 100%">
          <nz-option *ngFor="let academic_year of academic_years" [nzLabel]="academic_year" [nzValue]="academic_year">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="4">
      <div nz-row>
        <nz-form-label>Tarifários</nz-form-label>
        <nz-select [(ngModel)]="selected_tariff" name="selected_tariff" nzPlaceHolder="Tarifário" style="width: 100%" nzAllowClear>
          <nz-option *ngFor="let tariff of tariffs" [nzLabel]="tariff.name" [nzValue]="tariff"
            [nzDisabled]="!tariff.active">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="3">
      <div nz-row>
        <nz-form-label>Mês/Ano</nz-form-label>
        <nz-month-picker [(ngModel)]="month_year_tariff"></nz-month-picker>
      </div>
    </div>
    <div nz-col nzSm="0" nzMd="1"></div>
    <div nz-col nzSm="12" nzMd="6" style="padding-top: 40px;">
      <button nz-button [nzLoading]="alotariffsmap_loading" [disabled]="alotariffsmap_loading" (click)="tariffs_map()"
        [nzType]="'primary'">Gerar Relatório</button>
    </div>
  </div>
</div>
