<div nz-dropdown [nzDropdownMenu]="menu">
  <nz-avatar [nzSrc]="'./assets/images/avatar.png'" nzSize="small"></nz-avatar>
  {{ userModel? nameUser : 'Utilizador'}}
</div>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <div nz-menu-item [nzDisabled]="true"><i nz-icon type="user"></i>{{ userModel? nameUser : 'username' }}
    </div>
    <li nz-menu-divider></li>
    <div nz-menu-item [nzDisabled]="true"><i nz-icon type="profile"></i>Perfil</div>
    <div nz-menu-item [nzDisabled]="true"><i nz-icon type="setting"></i>Configurações</div>
    <li nz-menu-divider></li>
    <div nz-menu-item (click)="logout()"><i nz-icon type="logout"></i>Sair</div>
  </ul>
</nz-dropdown-menu>