<form nz-form [formGroup]="contactsForm" *ngIf="user !== null">
  <div nz-row nzGutter="34">
    <div nz-col [nzXs]="{ span: 8 }" [nzLg]="{ span: 8 }">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="email" class="primary-input-label">
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_CONTACTS.EMAIL'|translate}}
        </nz-form-label>
        <nz-form-control>
          <input nz-input class="primary-input" formControlName="email" id="email" />
          <nz-form-explain class="error"
            *ngIf="contactsForm.get('email')?.dirty && contactsForm.get('email').errors">
            {{ getInputError('email') }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="{ span: 8 }" [nzLg]="{ span: 8 }">
      <nz-form-item>
        <nz-form-label nzFor="phone" class="primary-input-label">
          {{'SOCIAL_SUPPORT.APPLICATIONS.FORM_CONTACTS.PHONE'|translate}}
        </nz-form-label>
        <nz-form-control>
          <input nz-input class="primary-input" formControlName="phone" id="phone" type="number" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
