<div nz-row>
  <p *ngIf="!consultation" class="detail-text">{{ 'ACCOMMODATION.APPLICATIONS.STEP_ELEVEN.DESC' | translate }}
  </p>
  <p *ngIf="consultation" class="detail-text">{{ 'U_BIKE.APPLICATIONS.DESC' | translate
    }}</p>
  <nz-divider></nz-divider>
</div>

<div nz-row *ngIf="!consultation" class="padding-bottom-20">
  <app-application-status-badge [data]="application"></app-application-status-badge>
</div>

<div nz-row *ngIf="!consultation">
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume"> {{ 'SOCIAL_SUPPORT.APPLICATIONS.SUBMITTED_ON' | translate }}</p>
    <p class="desc-resume">{{ application?.created_at | date: 'dd-MM-yyyy' }}</p>
  </div>
  <nz-divider></nz-divider>
</div>

<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="title-resume">
    {{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.TITLE' | translate }}
  </div>
</div>

<div nz-row>

  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume">{{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.NAME' | translate }}</p>
    <p class="desc-resume">{{ application.name || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume">{{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.ADDRESS' | translate }}</p>
    <p class="desc-resume">{{ application.address || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume"> {{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.POSTAL_CODE' | translate }}</p>
    <p class="desc-resume">{{ application.code_postal || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume">{{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.LOCAL' | translate }}</p>
    <p class="desc-resume">{{ application.location || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume">{{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.BIRTH_DATE' | translate }}</p>
    <p class="desc-resume"> {{ application.birthdate | date: 'dd/MM/yyyy' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume"> {{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.NATIONALITY' | translate }}</p>
    <p class="desc-resume">{{ application.nationality || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume">{{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.VAT' | translate }}</p>
    <p class="desc-resume">{{ application.tin || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume">{{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.ID_NUMBER' | translate }}</p>
    <p class="desc-resume">{{ application.identification_number || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" *ngIf="isStudent || isEmployee">
    <p class="sub-title-resume"> {{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.INTERNAL_NUMBER' | translate }}</p>
    <p class="desc-resume">{{ application.student_number || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume"> {{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.ACADEMIC_YEAR' | translate }}</p>
    <p class="desc-resume">{{ application.academic_year || '--' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" *ngIf="isStudent">
    <p class="sub-title-resume">{{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.COURSE_YEAR' | translate }}</p>
    <p class="desc-resume">{{ application.course_year || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" *ngIf="isStudent">
    <p class="sub-title-resume">{{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.COURSE' | translate }}</p>
    <p class="desc-resume">{{ auxData?.course || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" *ngIf="isStudent">
    <p class="sub-title-resume">{{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.DEGREE' | translate }}</p>
    <p class="desc-resume">{{ auxData?.course_degree || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume">{{ 'VOLUNTEERING.FORM_APPLICATION.IDENTIFICATION.SCHOOL' | translate }}</p>
    <p class="desc-resume">{{ auxData?.school || '-' }}</p>
  </div>
</div>
<nz-divider></nz-divider>

<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="title-resume">
    {{ 'VOLUNTEERING.FORM_APPLICATION.CONTACTS.TITLE' | translate }}
  </div>
</div>

<div nz-row>

  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume">{{ 'VOLUNTEERING.FORM_APPLICATION.CONTACTS.EMAIL' | translate }}</p>
    <p class="desc-resume">{{ application.email || '-' }}</p>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume">{{ 'VOLUNTEERING.FORM_APPLICATION.CONTACTS.PHONE' | translate }}</p>
    <p class="desc-resume">{{ application.phone || '-' }}</p>
  </div>
</div>
<nz-divider></nz-divider>
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="title-resume">
    {{ 'VOLUNTEERING.FORM_APPLICATION.ACTIVITIES_LOCATIONS.TITLE' | translate }}
  </div>
</div>
<div nz-row>

  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume"> {{ 'VOLUNTEERING.FORM_APPLICATION.ACTIVITIES_LOCATIONS.LOCATIONS' | translate }}</p>
    <p class="desc-resume" *ngFor="let organicUnit of organicUnits">{{ organicUnit }}</p>
  </div>

</div>
<nz-divider></nz-divider>
<div *ngIf="application.has_collaborated_last_year">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="title-resume">
      {{
      'VOLUNTEERING.FORM_APPLICATION.PAST_COLLABORATIONS.PARTICIPATED_BEFORE' | translate: { institute: institute }
      }}
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ 'VOLUNTEERING.FORM_APPLICATION.PAST_COLLABORATIONS.WHAT_ACTIVITY' | translate }}
      </p>
      <p class="desc-resume">{{ application.previous_activity_description || '-' }}</p>
    </div>
  </div>
  <nz-divider></nz-divider>
</div>
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="title-resume">
    {{ 'VOLUNTEERING.FORM_APPLICATION.TIME_AVAILABILITY.TITLE' | translate }}
  </div>
</div>
<div nz-row>
  <div nz-col [nzXs]="{ span: 24 }" [nzXl]="{ span: 24 }">
    <nz-table class="schedule" [nzData]="['preferred_schedule']" [nzShowPagination]="false" [nzScroll]="{ x: '100px' }">
      <thead>
        <tr>
          <th></th>
          <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.MONDAY' | translate }}</th>
          <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.TUESDAY' | translate }}</th>
          <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.WEDNESDAY' | translate }}</th>
          <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.THURSDAY' | translate }}</th>
          <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.FRIDAY' | translate }}</th>
          <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.SATURDAY' | translate }}</th>
          <th>{{ 'SOCIAL_SUPPORT.APPLICATIONS.FORM_TIME_AVAILABILITY.WEEK_DAYS.SUNDAY' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of scheduleRows">
          <td class="schedule--period-day">{{ row.title | translate }}</td>
          <td *ngFor="let i of row.keys">
            <i *ngIf="application?.preferred_schedule_ids?.includes(i)" nz-icon nzTheme="fill"
              nzType="icons:icons-checkbox-checked" class="schedule--active-checkbox"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="sub-title-resume"> {{ 'VOLUNTEERING.FORM_APPLICATION.TIME_AVAILABILITY.HOLIDAYS' | translate }}</p>
    <div class="review--input-value">
      <i *ngIf="application.has_holydays_availability" nz-icon nzType="icons:icons-checkbox-checked"
        nzTheme="outline"></i>
      <i *ngIf="!application.has_holydays_availability" nz-icon nzType="icons:icons-checkbox-unchecked"
        nzTheme="outline"></i>
    </div>
  </div>
</div>
<nz-divider></nz-divider>
<div *ngIf="application.foreign_languages">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="title-resume">
      {{ 'VOLUNTEERING.FORM_APPLICATION.LINGUIST_SKILLS.TITLE' | translate }}
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ 'VOLUNTEERING.FORM_APPLICATION.LINGUIST_SKILLS.LANGUAGES' | translate }}</p>
      <p class="desc-resume" *ngFor="let language of application.language_skills">{{ language }}</p>
    </div>
  </div>
  <nz-divider></nz-divider>
</div>
<div *ngIf="!application.has_profissional_experience">

  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="title-resume">
      {{ 'VOLUNTEERING.FORM_APPLICATION.PROFESSIONAL_EXPERIENCE.TITLE' | translate }}
    </div>
  </div>

  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ 'VOLUNTEERING.FORM_APPLICATION.PROFESSIONAL_EXPERIENCE.NO_EXPERIENCE' | translate
        }}
      </p>
      <p class="desc-resume">{{ application.type_of_company || '-' }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ 'VOLUNTEERING.FORM_APPLICATION.PROFESSIONAL_EXPERIENCE.JOB_AT_COMPANY' | translate
        }}</p>
      <p class="desc-resume">{{ application.job_at_company || '-' }}</p>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <p class="sub-title-resume"> {{ 'VOLUNTEERING.FORM_APPLICATION.PROFESSIONAL_EXPERIENCE.ACTIVITY_DESCRIPTION' |
        translate }}</p>
      <p class="desc-resume">{{ application.job_description || '-' }}</p>
    </div>
  </div>
  <nz-divider></nz-divider>
</div>
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="title-resume">
    {{ 'VOLUNTEERING.FORM_APPLICATION.COMPLEMENTARY_INFORMATION.TITLE' | translate }}
  </div>
</div>
<div nz-row>

  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
    <p class="desc-resume" *ngIf="application.observations !== ' '"> {{ application.observations }}</p>
    <p class="desc-resume" *ngIf="application.observations === ' '">
      {{'VOLUNTEERING.FORM_APPLICATION.COMPLEMENTARY_INFORMATION.NO_OBSERVATIONS'
      | translate
      }}</p>
  </div>
</div>
