@import 'theme';

.detail-text {
  font-size: larger;
  color: unset;
  margin-bottom: 5px;
  margin-top: -5px;
}


.text-right {
  text-align: right;
}


.review {
  &--title {
    color: var(--primary-color);
    font-family: Montserrat;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.14;
    margin-bottom: 30px;
  }
  &--subtitle {
    color: #666666;
    font-family: Montserrat;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  &--line {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  &--line-title {
    margin-top: 15px;
  }
  &--line-options {
    margin-bottom: 15px;
  }
  &--form-section {
    color: #222222;
    font-family: Montserrat;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.29;
    margin-bottom: 15px;
  }
  &--input-name {
    color: #222222;
    font-family: Montserrat;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.29;
    margin-bottom: 5px;
    opacity: 0.3;
  }
  &--input-value {
    color: #222222;
    font-family: Montserrat;
    font-size: 14.5px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  &--divider {
    margin-left: -25.5px;
    margin-right: -25.5px;
    margin-top: 0;
  }
}

.schedule {
  margin-bottom: 16px;
  th,
  &--period-day {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #2c2c2c;
    background-color: white;
  }
  td {
    text-align: center;
  }

  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background-color: transparent !important;
  }
}

:host::ng-deep.anticon svg {
  width: 22px !important;
  height: 22px !important;
  g path:first-child {
    fill: var(--primary-color) !important;
  }
}

.padding-bottom-20 {
  padding-bottom: 20px;
}