<div class="PopSpecialty">
  <h2 class="title-top-page">{{ 'HEALTH.POPUP.SPECIALTY.TITLE' | translate }}</h2>
  <p class="sub-title-top-page">{{ 'HEALTH.POPUP.SPECIALTY.DESCRIPTION' | translate }}</p>

  <div class="PopSpecialty__box">
    <nz-checkbox-wrapper class="PopSpecialty__check" *ngFor="let option of specialties" (nzOnChange)="setSpecialty($event)">
      <div nz-row>
        <label nz-checkbox [nzValue]="option.value" [ngModel]="option.checked"> {{ (option.translations | languageChange).name }}</label>
      </div>
    </nz-checkbox-wrapper>
  </div>
  <div class="button-div">
    <app-button
      class="PopSpecialty__btn"
      (click)="confirm()"
      [buttonStyle]="{
        'font-size': '12px',
        'line-height': '20px',
        'margin-top': '30px'
      }"
      translate="HEALTH.POPUP.BUTTONS.APPLY"
    ></app-button>
  </div>
</div>
