<nz-tabset nzTabPosition="left">

  <nz-tab nzTitle="Identificação">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Nome
        </div>
        <div nz-row class="detail-field">
          {{ owner?.user.name }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Género
        </div>
        <div nz-row class="detail-field">
          {{ owner?.user.gender == 'M' ? 'Masculino' : owner?.user.gender == 'F' ? 'Feminino' : 'Outro' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Data de nascimento
        </div>
        <div nz-row class="detail-field">
          {{ owner?.user.birth_date ? (owner?.user.birth_date | date:'dd/MM/yyyy') : '-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Documento de identificação
        </div>
        <div nz-row class="detail-field">
          {{ findDocument(owner?.user?.document_type_id) }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Identificação
        </div>
        <div nz-row class="detail-field">
          {{ owner?.user.identification ? owner?.user.identification : '-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          NIF / TIN
        </div>
        <div nz-row class="detail-field">
          {{ owner?.user.tin ? owner?.user.tin : '-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Nacionalidade
        </div>
        <div nz-row class="detail-field">
          {{ owner?.user.nationality ? owner?.user.nationality : '-' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Email
        </div>
        <div nz-row class="detail-field">
          {{ owner?.user.email }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Contacto
        </div>
        <div nz-row class="detail-field">
          {{ owner?.user.phone }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Morada
        </div>
        <div nz-row class="detail-field">
          {{ owner?.user.address }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Código Postal
        </div>
        <div nz-row class="detail-field">
          {{ owner?.user.postal_code }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Cidade
        </div>
        <div nz-row class="detail-field">
          {{ owner?.user.city }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          País
        </div>
        <div nz-row class="detail-field">
          {{ owner?.user.country }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Emite Recibo?
        </div>
        <div nz-row class="detail-field">
          <fi-sas-tag [value]="owner?.issues_receipt"></fi-sas-tag>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
        <div nz-row class="title">
          Descrição
        </div>
        <div nz-row class="detail-field">
          {{ owner.description }}
        </div>
      </div>
    </div>

  </nz-tab>

</nz-tabset>