@import "~/scss/_variables";

.languages {
  /* ----------------------- */
  /* Component */

  &__image {
    horizontal-align: right;
  }

  &__container {
    vertical-align: top;
    //margin-top: 210;
  }

  &__title {
    font-family: "Montserrat", "Montserrat-Bold";
    font-weight: 700;
    font-size: 27;
    line-height: 1.14;
    color: $black;
    margin-bottom: 5;
  }

  &__langs {
    margin-top: 30;
    margin-bottom: 80;
  }

  /* ----------------------- */
  /* Common */

  .fisas {
    &__btn {
      .fisas__icon {
        opacity: 0;
      }

      &--selected {
        .fisas__icon {
          opacity: 1;
          text-align: right;
          margin-right: 20;
        }
      }
    }
  }
}
