<StackLayout class="languages" *ngIf="!isLoading">
  <GridLayout rows="*,0">
    <!-- scroll init -->
    <ScrollView row="0">
      <WrapLayout orientation="horizontal" class="">
        <!-- image -->
        <AbsoluteLayout top="0">
          <StackLayout width="100%">
            <Image
              class="languages__image"
              src="~/images/languages/top.png"
              width="250"
              stretch="aspectFill"
              loadMode="async"
            >
            </Image>
          </StackLayout>
        </AbsoluteLayout>

        <!-- intro text -->
        <StackLayout class="fisas__content">
          <Label
            class="languages__title"
            text="SASOCIAL"
          ></Label>
          <Label *ngIf="!languageAcronym"
            class="fisas__h2"
            text="Bem-vindo"
          ></Label>
          <Label *ngIf="languageAcronym"
            class="fisas__h2"
            text="{{ 'start-up.languages.welcome' | translate }}"
          ></Label>
          <Label *ngIf="!languageAcronym"
            class="fisas__p"
            text="Bem-vindo, escolhe o teu idioma e segue para as Configurações."
            textWrap="true"
          ></Label>
          <Label *ngIf="languageAcronym"
            class="fisas__p"
            text="{{ 'start-up.languages.intro' | translate }}"
            textWrap="true"
          ></Label>
        </StackLayout>

        <!-- languages List -->
        <StackLayout class="languages__langs">
          <StackLayout *ngFor="let language of languages">
            <DockLayout
              stretchLastChild="true"
              width="100%"
              class="fisas__btn fisas__btn--padding"
              [ngClass]="{
                'fisas__btn--selected': languageAcronym == language.acronym
              }"
              (tap)="selectLanguage(language.acronym, language.name)"
            >
              <Label
                [ngClass]="{'fisas__btn--selected': languageAcronym == language.acronym}"
                class="fisas__p--label"
                dock="left"
                [text]="language.name"
              ></Label>
              <Label [ngClass]="{'fisas__btn--selected': languageAcronym == language.acronym}"dock="right" class="fisas__icon" text="&#xe93e;"></Label>
            </DockLayout>
          </StackLayout>
        </StackLayout>

        <!-- button to config -->
        <StackLayout class="fisas__vertical-down" width="100%">
          <Button *ngIf="!languageAcronym"
            class="fisas__btn-bottom"
            text="Configurar"
            (tap)="setLanguage()"
          ></Button>
          <Button *ngIf="languageAcronym"
            class="fisas__btn-bottom"
            text="{{ 'start-up.languages.config' | translate }}"
            (tap)="setLanguage()"
          ></Button>
        </StackLayout>
      </WrapLayout>
    </ScrollView>
  </GridLayout>
</StackLayout>
