@import "theme";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 1199px)";
@mobile:    ~"only screen and (min-width: 320px) and (max-width: 719px)";
@pc:    ~"only screen and (min-width: 1200px) and (max-width: 1440px)";


.blur {
    opacity: 50%;
  }

  .card {
    &__title {
      font-weight: bold;
      font-size: 17px;
      color: var(--primary-7);
    @media @mobile {
        font-size: 15px;
    }
    }
    &__section {
    color: #000000;
    margin-bottom: 0.5cm;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    }
}

.black-text {
  color: black;
  font-family: Montserrat;
  font-size: 15px;
}



.btw-see-more {
  border: solid 0.4px black;
  color: black;
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}
.btw-see-more:hover {
  color: white !important;
  border: solid 0.4px var(--primary-6);
  background-color: var(--primary-6);
}
#icon-dashboard-post::ng-deep svg {
    path {
      fill: var(--primary-color);
    }
}

.icon {
    font-size: 38px;
    padding-right: 10px;
    @media @mobile {
      font-size: 25px;
    }
}


:host::ng-deep {

    nz-empty {
      width: 100%;
      height: 100%;
    }

    .posts {
      &__body {
        margin-top: 20px;
        //padding-top: 24px;

        @media screen and (max-width: 576px) {
          padding: 16px;
        }
      }

      &__list {
        margin-top: 15px;
        &__item {
          padding-bottom: 24px;

          img {
            object-fit: cover;
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }

          nz-card {
            &:hover {
              border-color: var(--primary-color);
              background-color: var(--primary-1);
            }
            border-radius: 8px;
            width: 100% !important;
            border: 1px solid var(--primary-1);
            cursor: pointer;
          }

        }
      }
    }
}

.summary {
  margin: 0px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #666666;
  margin-bottom: 10px;
  font-size: 13px;
}

.title {
  margin: 0px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
}

.date {
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 8px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #979797;
}

@media @mobile {
    .card{
      &__section {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
}


#id-card-post::ng-deep .ant-card-body {
  height: 250px;
  @media @mobile {
    height: auto;
  }

  @media @tablet {
    height: auto;
  }
  @media @pc {
    height: 260px;
  }

}
