<nz-card class="card__section" [ngClass]="{'blur': !posts?.active}" *ngIf="custumizeToggle || posts?.active">
    <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16" [nzLg]="16" [nzXl]="14" [nzXXl]="14">
            <div nz-row>
                <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="4" [nzLg]="3" [nzXl]="2" [nzXXl]="2">
                    <i nz-icon type="icons:icons-news" nzTheme="outline" id="icon-dashboard-post" class="icon"></i>
                </div>
                <div nz-col [nzXs]="21" [nzSm]="21" [nzMd]="20" [nzLg]="21" [nzXl]="22" [nzXXl]="22">
                    <div nz-row>
                        <span class="card__title">{{ "DASHBOARD.WIDGETS.POSTS.TITLE" | translate }}</span>
                    </div>
                    <div nz-row class="black-text">
                        <span>{{ "DASHBOARD.WIDGETS.POSTS.DESCRIPTION" | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="10" [nzXXl]="10">
            <button nz-button nzType="default" class="btw-see-more" [routerLink]="['/news', 'list']">
                {{ "DASHBOARD.WIDGETS.SEE-MORE.TITLE" | translate }}
            </button>
        </div>

    </div>
    <div nz-row nzType="flex" nzJustify="space-around" class="posts__list" [nzGutter]="24">
        <div nz-col class="posts__list__item" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="8" [nzXXl]="6"
            *ngFor="let post of posts.data"  (click)="goDetail(post?.translations[0]?.post_id)">
            <nz-card nzHoverable [nzBodyStyle]="{
                      'margin-top': '-22px',
                      padding: '16px'
                    }" id="id-card-post" [nzCover]="coverTemplate">
                <p class="date">{{post?.date | date: "dd-MM-yyyy"}}</p>
                <p class="title">{{ (post?.translations | languageChange)?.title }}</p>
                <p class="summary">{{ (post?.translations | languageChange)?.summary }}</p>
            </nz-card>
            <ng-template #coverTemplate>
                <img *ngIf="(post?.translations | languageChange)?.file_16_9?.id != null && !existVideo(post)"
                    src="{{(post?.translations | languageChange)?.file_16_9?.url}}" />
                <img *ngIf="(post?.translations | languageChange)?.file_16_9?.id == null || existVideo(post)" src="/assets/imgs/unavailable-image.jpg" />
            </ng-template>
        </div>
    </div>
</nz-card>
