<div nz-row *ngIf="noOperator" class="user-operator-bar background-color-primary-desk-start no-operator">
  Este utilizador não é um operador de balcão
</div>
<nz-spin [nzSpinning]="loadingTicket">
  <div *ngIf="!noOperator" nz-row nzType="flex" nzJustify="center" nzAlign="center">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <div nz-row nzType="flex" nzJustify="center" nzAlign="center" class="color-white">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="8" [nzXl]="5" [nzXXl]="5">

          <div nz-row>
            <nz-spin [nzSpinning]="ticketsLoading">
              <div *ngFor="let item of ticketList; let idx = index" [ngClass]="{'disable': checkMenuTicket()}" nz-col>
                <div [ngClass]="{
                    'beautiful-line': ticketList.length - 1 !== idx,
                    'menu-item-desk-start': item.status!='NAO_COMPARECEU',
                    'menu-item-desk-start-red': item.status==='NAO_COMPARECEU',
                    'selected': selectedTicket && selectedTicket.id === item.id,
                    'menu-item-desk-start-selected-red': ((selectedTicket && selectedTicket.id === item.id) && (item.status==='NAO_COMPARECEU'))
                  }" (click)="selectTicket(item)">
                  <div nz-row nzType="flex" nzJustify="center" nzAlign="center" class="first-major-row-item-menu">
                    <div nz-col [nzSpan]="12" class="hours">
                      {{item?.estimated_time | date: 'dd/MM/yyyy'}} |
                      {{item?.estimated_time | date: 'HH:mm'}}
                    </div>
                    <div nz-col [nzSpan]="12">
                      <div class="ticket-number">
                        {{item.ticket_code}}
                      </div>
                    </div>
                  </div>
                  <div nz-row nzType="flex" nzJustify="right">
                    <div class="warning" *ngIf="item.status==='NAO_COMPARECEU'">Nao Atendeu</div>
                    <div class="warning" *ngIf="item.status==='EM_ATENDIMENTO'">Em Atendimento</div>
                  </div>
                  <div nz-row nzType="flex" nzJustify="center" nzAlign="center" class="second-major-row-item-menu">
                    <div nz-col [nzSpan]="4" class="menu-item-icons-type">
                      <i nz-icon *ngIf="item.origin==='web'" nzType="icons:icons-computer" nzTheme="outline"
                        nzTheme="outline"></i>
                      <i nz-icon *ngIf="item.origin==='mobile'" nzType="icons:icons-computer" nzTheme="outline"
                        nzTheme="outline"></i>
                      <i nz-icon *ngIf="item.origin==='quiosque'" nzType="icons:icons-kioske" nzTheme="outline"
                        nzTheme="outline"></i>
                    </div>
                    <div nz-col [nzSpan]="16">
                      <div nz-row nzType="flex" nzJustify="center" nzAlign="center" class="student-info">
                        <div nz-col [nzSpan]="24" class="student-number">
                          <span *ngIf="item.student_number">{{item.student_number}}</span>
                          <br>
                          <span *ngIf="item.email">{{item.email}}</span>
                        </div>
                      </div>
                    </div>
                    <div nz-col [nzSpan]="1"></div>
                    <div nz-col [nzSpan]="3" class="menu-item-icons-share">
                      <i nz-icon nzType="share-alt" nzTheme="outline" *ngIf="item.status==='NAO_COMPARECEU'"></i>
                      <div class="type" *ngIf="item.type==='P'">P</div>
                      <div class="type" *ngIf="item.type==='M'">M</div>
                    </div>
                  </div>
                </div>
              </div>
            </nz-spin>
            <div nz-col [nzSpan]="24">
              <div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="pagination" *ngIf="pagination">
                <div nz-col [nzSpan]="5">
                  <div class="pagination__btn" (click)="paginationController(-1)">
                    <i nz-icon nzType="left" class="icons_left-right" nzTheme="outline"></i>
                  </div>
                </div>
                <div nz-col [nzSpan]="10">
                  <div class="pagination__text">
                    {{pagination.page}} / {{pagination.totalPages}}
                  </div>
                </div>
                <div nz-col [nzSpan]="5">
                  <div class="pagination__btn" (click)="paginationController(1)">
                    <i nz-icon nzType="right" class="icons_left-right" nzTheme="outline"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div nz-row>
            <button nz-button (click)="getUserLogged()" class="button-refresh"
              [nzLoading]="loadingTicket">Atualizar</button>
          </div>

        </div>
        <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="1" [nzXl]="1" [nzXXl]="1"
          class="background-color-primary-desk-start">
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="15" [nzXl]="18" [nzXXl]="18">

          <div *ngIf="deskSelectedAssociation" class="title-desk">
            Balcão - {{deskSelectedAssociation.desk[0].name}} {{selectedTicket ? '- ' +
            (selectedTicket?.subject?.translations | translation).name : ''}} <span
              [ngClass]="{'pause': actionDesk == 'Pause', 'operating':  actionDesk == 'Operating', 'close':  actionDesk == 'Closed' }">({{
              actionDesk == 'Pause' ? 'Balcão em pausa' : actionDesk == 'Operating' ? 'Balcão em execução' : actionDesk
              ==
              'Closed' ? 'Balcão encerrado' : ''}}) </span>
          </div>
          <div nz-row nzType="flex" nzJustify="center" nzAlign="center"
            class="user-operator-bar background-color-primary-desk-start">
            <div nz-col class="user-photo" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
              <nz-avatar *ngIf="!userModel?.picture" [nzSrc]="'./assets/images/avatar.png'" nzSize="large">
              </nz-avatar>
              <nz-avatar *ngIf="userModel?.picture" [nzSrc]="'./assets/images/avatar.png'" nzSize="large"></nz-avatar>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="9" [nzXl]="8" [nzXXl]="9"
              class="user-operator-name">
              {{userModel?.name}}
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="13" [nzXl]="14" [nzXXl]="13">
              <div *ngIf="checkBtnsControl('call')" class="user-operator-btn">
                <button *ngIf="actionDesk != 'Closed'" nz-button nzType="primary" class="user-operator-btn-pause"
                  (click)="pauseDesk()">
                  <i *ngIf="!deskPaused" nz-icon nzType="pause" nzTheme="outline"></i>
                  <i *ngIf="deskPaused" nz-icon nzType="caret-right" nzTheme="outline"></i>
                  <span *ngIf="!deskPaused">Pausar Balcão</span>
                  <span *ngIf="deskPaused">Retomar Balcão</span>
                </button>
                <button *ngIf="actionDesk != 'Closed'" nz-button nzType="primary" class="user-operator-btn-close"
                  (click)="endDesk()">
                  <i nz-icon nzType="close" nzTheme="outline"></i>
                  Encerrar Balcão
                </button>
                <button *ngIf="actionDesk == 'Closed'" nz-button nzType="primary" class="user-operator-btn-start"
                  (click)="startDesk()">
                  <i nz-icon nzType="caret-right" nzTheme="outline"></i>
                  Iniciar Balcão
                </button>

              </div>
            </div>
          </div>

          <div nz-row class="geston">   
            <!--<label nz-checkbox nzType="primary" [nzValue]="true" class="operating-btn-group-notify-ticket" [ngModelOptions]="{standalone: true}" [(ngModel)]="notifyUsers" style="color: white;">Notificar Utilizadores</label> -->
            <button nz-button nzType="primary" (click)="openModalNotifyUsers()" style="margin-left: 12px;" >Notificar Utilizadores</button>
            <button nz-button nzType="primary" (click)="openModalRetreatTicket()" style="margin-left: 12px;" >Recuar Senhas</button>
            <button nz-button nzType="primary" style="margin-left: 12px;" (click)="goViewModalGeston()">Gestão Filas
              Atendimento</button>
          </div>
          <div nz-row nzType="flex" nzJustify="center" nzAlign="center" class="operating-btn-group color-white">
            <div nz-col [nzLg]="15" [nzXl]="16" [nzXXl]="16" style="display: flex;">
              <div *ngIf="checkBtnsControl('call')" [ngClass]="{'disable': checkDisable()}">
                <div class="operating-btn-group-btns operating-btn-group-call-ticket" (click)="showModal('ticket')">
                  <i nz-icon nzType="icons:icons-ticket" nzTheme="outline" nzTheme="outline"
                    class="operating-btn-group-icon"></i>
                  <div class="operating-btn-group-btn-text">Chamar Senha</div>
                </div>
              </div>
              <div *ngIf="!checkBtnsControl('call')" [ngClass]="{'disable': checkDisable()}">
                <div class="operating-btn-group-btns operating-btn-group-end-ticket" (click)="endTicket()">
                  <i nz-icon nzType="close" nzTheme="outline" nzTheme="outline" class="operating-btn-group-icon"></i>
                  <div class="operating-btn-group-btn-text">Terminar Senha</div>
                </div>
              </div>
              <div *ngIf="selectedTicket && !selectedTicket.email" [ngClass]="{'disable': checkDisable()}"
                class="operating-btn-group-btns operating-btn-group-identify" (click)="showModal('user')">
                <i nz-icon nzType="team" nzTheme="outline" class="operating-btn-group-icon"></i>
                <div class="operating-btn-group-btn-text">Identificar Utente</div>
              </div>
            </div>
            <div nz-col [nzLg]="9" [nzXl]="8" [nzXXl]="8">
              <div class="operating-btn-group-btns operating-btn-group-transfer cursor-pointer"
                (click)="showModal('transfer')" [ngClass]="{'disable': checkDisable()}">
                <i nz-icon nzType="icons:icons-switch-spots-2" nzTheme="outline" nzTheme="outline"
                  class="operating-btn-group-icon"></i>
                <div class="operating-btn-group-btn-text">Transferir Senha</div>
              </div>
            </div>
          </div>
          <div nz-row nzType="flex" nzJustify="center" nzAlign="center"
            class="background-color-primary-desk-start background-desk-start-background-space"></div>
          <div nz-row nzType="flex" class="start-desd-ticket-card color-white">
            <div nz-col [nzSpan]="24">
              <div nz-row nzType="flex" nzJustify="center" nzAlign="center" class="start-desd-ticket-card__details">
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="8" [nzXl]="8" [nzXXl]="8"
                  class="start-desd-ticket-card__details__col">
                  <div nz-row nzType="flex">
                    <div nz-col [nzSpan]="24" class="start-desd-ticket-card__details__title">
                      <span>Senha em Atendimento</span> <span *ngIf="selectedTicket" class="font-size-12"> <br>
                        (Data/hora de criação: {{selectedTicket?.created_at | date: 'dd/MM/yyyy'}} |
                        {{selectedTicket?.created_at | date: 'HH:mm'}})</span>
                    </div>
                  </div>
                  <div nz-row nzType="flex" class="start-desd-ticket-card__details__ticket">
                    <div nz-col [nzSpan]="6">
                      <div *ngIf="selectedTicket?.origin">
                        <i nz-icon *ngIf="selectedTicket.origin==='web'"
                          class="start-desd-ticket-card__details__ticket__icon" nzType="icons:icons-computer"
                          nzTheme="outline" nzTheme="outline"></i>
                        <i nz-icon *ngIf="selectedTicket.origin==='mobile'"
                          class="start-desd-ticket-card__details__ticket__icon" nzType="icons:icons-computer"
                          nzTheme="outline" nzTheme="outline"></i>
                        <i nz-icon *ngIf="selectedTicket.origin==='quiosque'"
                          class="start-desd-ticket-card__details__ticket__icon" nzType="icons:icons-kioske"
                          nzTheme="outline" nzTheme="outline"></i>
                      </div>
                    </div>
                    <div nz-col [nzSpan]="18" class="start-desd-ticket-card__details__ticket__id">
                      <div *ngIf="selectedTicket">
                        <span class="start-desd-ticket-card__details__ticket__id__letter">
                          {{selectedTicket.ticket_code}}
                        </span>

                      </div>
                      <div *ngIf="!selectedTicket">
                        <span class="start-desd-ticket-card__details__ticket__id__letter">-</span>
                        <span class="start-desd-ticket-card__details__ticket__id__number">---</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="8" [nzXl]="8" [nzXXl]="8"
                  class="start-desd-ticket-card__details__col">
                  <div nz-row nzType="flex">
                    <div nz-col [nzSpan]="24" class="start-desd-ticket-card__details__title">
                      Identificação do utente
                    </div>
                  </div>
                  <div nz-row nzType="flex">
                    <div nz-col [nzSpan]="24">
                      <div nz-row nzType="flex">
                        <div nz-col [nzSpan]="24" class="start-desd-ticket-card__details__user__title">
                          Utente
                        </div>
                      </div>
                      <div nz-row nzType="flex" class="start-desd-ticket-card__details__user__desc">
                        <div nz-col [nzSpan]="24">
                          <span *ngIf="selectedTicket?.email"> {{selectedTicket.student_number ? ('Nº' +
                            selectedTicket.student_number) : ''}}<br> {{selectedTicket.email}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="8" [nzXl]="8" [nzXXl]="8"
                  class="start-desd-ticket-card__details__col">
                  <div nz-row nzType="flex">
                    <div nz-col [nzSpan]="12">
                      <div nz-row nzType="flex">
                        <div nz-col [nzSpan]="24" class="start-desd-ticket-card__details__title">
                          Tempo Decorrido
                        </div>
                      </div>
                      <div nz-row nzType="flex" *ngIf="selectedTicket && selectedTicket.initial_time">
                        <div nz-col [nzSpan]="24" class="start-desd-ticket-card__details__time__desc">
                          {{timeOccurred | date: "HH:mm:ss" : 'UTC'}}
                        </div>
                      </div>
                      <div nz-row nzType="flex" *ngIf="!selectedTicket || !selectedTicket.initial_time"
                        class="start-desd-ticket-card__details__time__desc">
                        ---
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div nz-col [nzSpan]="24" class="start-desd-ticket-card__form">
              <div nz-row *ngIf="selectedTicket && selectedTicket?.appointment_reason">
                <div nz-col [nzSpan]="24">
                  <span class="black-color">Notas do Utente</span>
                </div>
                <div nz-col [nzSpan]="24" class="padding-10">
                  {{selectedTicket?.appointment_reason}}
                </div>
              </div>
              <form nz-form [formGroup]="deskStartForm">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="description" class="primary-input-label">Notas</nz-form-label>
                  <nz-form-control>
                    <textarea
                      nz-input
                      [maxlength]="MAX_TEXTAREA_CHARS"
                      id="description"
                      class="primary-textarea"
                      rows="5"
                      formControlName="description">
                    </textarea>
                    <nz-form-explain class="text-right">
                      {{ (deskStartForm.get('description').value || '').length }} / {{ MAX_TEXTAREA_CHARS }}
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <button nz-button nzType="primary" (click)="submit()" [disabled]="actionDesk != 'Operating'"
                      [nzLoading]="proccessLoading" class="start-desd-ticket-card__form__sbmit-btn">Gravar</button>
                  </nz-form-control>
                </nz-form-item>
              </form>
            </div>
          </div>
          <div nz-row nzType="flex" nzJustify="center" nzAlign="center" *ngIf="historyList.length>0">
            <div nz-col [nzSpan]="24" class="background-color-primary-desk-start start-desk-history__title">
              Histórico de atendimento
            </div>
            <div *ngFor="let item of historyList; let idx = index" nz-col [nzSpan]="24"
              class="start-desk-history__card">
              <div nz-row>
                <div nz-col [nzSpan]="4" class="start-desk-history__card__title">
                  Data
                </div>
                <div nz-col [nzSpan]="4" class="start-desk-history__card__title">
                  Serviço
                </div>
                <div nz-col [nzSpan]="4" class="start-desk-history__card__title">
                  Fila
                </div>
                <div nz-col [nzSpan]="8" class="start-desk-history__card__title">
                  Notas
                </div>
              </div>
              <div nz-row nzAlign="middle" class="start-desk-history__card__desc-row">
                <div nz-col [nzSpan]="4" class="start-desk-history__card__desc">
                  {{item?.final_time | date: 'dd/MM/yyyy'}}-{{item?.final_time | date: 'HH:mm'}}h
                </div>
                <div nz-col [nzSpan]="4" class="start-desk-history__card__desc">
                  {{(item?.subject?.service?.translations | translation).name}}
                </div>
                <div nz-col [nzSpan]="4" class="start-desk-history__card__desc">
                  {{(item?.subject?.translations | translation).name}}
                </div>
                <div nz-col [nzSpan]="8" class="start-desk-history__card__desc-note">
                  {{item?.notes ? getNotes(item?.notes) : '-'}}
                </div>
                <div nz-col *ngIf="item?.notes" [nzSpan]="4" class="start-desk-history__card__btn">
                  <button nz-button nzType="primary" (click)="showModal('note', item)">
                    Ver Nota
                  </button>
                </div>
              </div>
              <div *ngIf="historyList.length - 1 !== idx">
                <nz-divider style="margin:10px !important"></nz-divider>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nz-spin>


<!--CALL TICKET MODAL-->
<nz-modal nzWidth="700" *ngIf="isVisible_name=='ticket'" [nzVisible]="isVisible" [nzTitle]="modalTitle"
  [nzContent]="modalContent" [nzFooter]="modalFooter" class="start-desk-modal" (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>Chamar Senha</ng-template>

  <ng-template #modalContent class="teste">
    <div nz-row nzType="flex" nzAlign="center">
      <div nz-col [nzSpan]="24">
        <span class="start-desk-modal__title">Chamar Senha</span>
      </div>
    </div>
    <div nz-row nzType="flex" nzAlign="center">
      <div nz-col [nzSpan]="7">
        <span class="start-desk-modal__number">
          {{selectedTicket.ticket_code}}
        </span>
      </div>
      <div nz-col [nzSpan]="17" class="start-desk-modal__progress-bar">
        <div nz-row nzType="flex" nzAlign="center">
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="0" [nzLg]="0" [nzXl]="0" [nzXXl]="0"
            class="start-desk-modal__btn">
            <span *ngIf="selectedTicket.call_times">Não respondeu às {{getTicketNotResponded()}}</span>
          </div>
        </div>
      </div>
    </div>
    <div nz-row nzType="flex" nzAlign="center">
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="start-desk-modal__btn">
        <button nz-button nzType="default" (click)="callTicket()" class="start-desk-modal__btn__call-again">
          <i nz-icon nzType="question-circle" nzTheme="outline"></i>
          Chamar
        </button>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" class="start-desk-modal__btn">
        <button nz-button nzType="default" (click)="didntComeTicket()" class="start-desk-modal__btn__didnt-pickup">
          <i nz-icon nzType="icons:icons-alert-2" nzTheme="outline"></i>
          Não Atendeu
        </button>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12"
        class="start-desk-modal__warning-desc">
        <span *ngIf="selectedTicket.call_times">{{getTicketNotResponded()}}</span>
      </div>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <div nz-row>
      <div nz-col [nzSpan]="24" class="start-desk-modal__btn__submit">
        <button *ngIf="selectedTicket.call_times && selectedTicket.call_times.length>0" nz-button nzType="primary"
          (click)="beginTicket()" [nzLoading]="isConfirmLoading" class="start-desk-modal__btn__submit__btn">
          <i nz-icon nzType="login" nzTheme="outline" class="icon-begin-call-ticket"></i>
          <span class="begin-call-ticket"> Iniciar Atendimento</span>
        </button>
      </div>
    </div>
  </ng-template>
</nz-modal>

<!--SEE NOTE MODAL-->
<nz-modal *ngIf="isVisible_name=='note'" [nzVisible]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent"
  [nzFooter]="modalFooter" class="start-desk-modal" (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>Ver Nota</ng-template>

  <ng-template #modalContent>
    <div nz-row nzType="flex" nzAlign="center">
      <div nz-col [nzSpan]="24" class="start-desk-modal">
        <div nz-row nzType="flex" nzAlign="center">
          <div nz-col [nzSpan]="12">
            <span class="start-desk-modal__sub-title">Nota do dia:</span>
          </div>
          <div nz-col [nzSpan]="12">
            <span class="start-desk-modal__sub-title">Serviço:</span>


          </div>
        </div>
        <div nz-row nzType="flex" nzAlign="center">
          <div nz-col [nzSpan]="12">
            <span class="start-desk-modal__desc"> {{selectedNote?.final_time | date:
              'dd/MM/yyyy'}}-{{selectedNote?.final_time | date: 'HH:mm'}}h</span>
          </div>
          <div nz-col [nzSpan]="12">
            <span class="start-desk-modal__desc"> {{(selectedNote?.subject?.service?.translations | translation).name}}
              - {{(selectedNote?.subject?.translations | translation).name}}</span>
          </div>
        </div>
      </div>
    </div>
    <div nz-row nzType="flex" nzAlign="center">
      <div nz-col [nzSpan]="24" class="start-desk-modal-divider-note">
      </div>
    </div>
    <div nz-row nzType="flex" nzAlign="center" class="start-desk-modal">
      <div nz-col [nzSpan]="24">
        <span class="start-desk-modal__sub-title">Nota:</span>
      </div>
      <div nz-col [nzSpan]="24" class="start-desk-modal__desc">
        {{selectedNote.notes}}

      </div>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="handleOk()" class="start-desk-modal__btn__submit">Sair</button>
  </ng-template>
</nz-modal>

<!--TRANSFER TICKET MODAL-->
<nz-modal *ngIf="isVisible_name==='transfer'" [nzVisible]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent"
  [nzFooter]="modalFooter" class="start-desk-modal" (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>Transferir Utente</ng-template>

  <ng-template #modalContent>
    <div nz-row nzType="flex" nzAlign="center">
      <div nz-col [nzSpan]="4" class="start-desk-modal__bold-title">
        <span>Nº Ticket</span>
      </div>
      <div nz-col [nzSpan]="20" class="start-desk-modal__bold-title">
        <span>Utente</span>
      </div>
      <div nz-col [nzSpan]="4" class="start-desk-modal__desc">
        <span> {{selectedTicket.ticket_code}}
        </span>
      </div>
      <div nz-col [nzSpan]="20" class="start-desk-modal__desc">
        <span>{{selectedTicket.student_number ? ('N' + selectedTicket.student_number) : '-'}}
          {{selectedTicket.email}}</span>
      </div>
    </div>
    <div nz-row nzType="flex" nzAlign="center">
      <div nz-col [nzSpan]="24" class="start-desk-modal-divider-note">
      </div>
    </div>
    <div nz-row nzType="flex" nzAlign="center" class="start-desk-modal__select-fila">
      <div nz-col [nzSpan]="24" class="start-desk-modal__bold-title">
        <span *ngIf="tranferOptionsList?.length > 0">Selecionar Fila</span>
        <span *ngIf="tranferOptionsList?.length === 0">Sem Filas disponíveis para selecionar</span>
      </div>
    </div>
    <div nz-row nzAlign="center" nzJustify="start" *ngIf="tranferOptionsList?.length > 0">
      <form nz-form [formGroup]="userTransferForm" class="start-desk-modal-form">
        <nz-spin [nzSpinning]="loadingTicketsTransfer">
          <nz-radio-group formControlName="id">
            <div *ngFor="let item of tranferOptionsList; let idx = index">
              <div nz-col [nzSpan]="12" style="padding-left: 20px;">
                <label nz-radio [nzValue]="item.id" FormControlName="id">
                  <span>{{(item.translations | translation).name}}</span>
                </label>
              </div>
              <div *ngIf="idx < (tranferOptionsList.length -1)">
                <div nz-col [nzSpan]="24" class="start-desk-modal-divider-transfer">
                </div>
              </div>
            </div>
          </nz-radio-group>
        </nz-spin>

      </form>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="tranferTicketWhere()" [nzLoading]="isConfirmLoading"
      class="start-desk-modal__btn__submit">Aplicar</button>
  </ng-template>
</nz-modal>

<!--IDENTIFY USER MODAL-->
<nz-modal *ngIf="isVisible_name=='user'" [nzVisible]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent"
  [nzFooter]="modalFooter" class="start-desk-modal" (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>Identificar Utente</ng-template>

  <ng-template #modalContent>
    <div nz-row nzType="flex" nzAlign="center">
      <div class="start-desk-modal__form">
        <div nz-col [nzSpan]="24">
          <nz-form-item style="padding-right: 7px;">
            <nz-form-control>
              <nz-form-label nzFor="n_aluno" nzRequired>
                Utilizador
              </nz-form-label>
              <fi-sas-user-select [(ngModel)]="userSelect"></fi-sas-user-select>
              <!--<nz-select style="width: 90%;" nzAllowClear nzShowSearch nzServerSearch [(ngModel)]="userSelect"
                (ngModelChange)="changeUser()" (nzOnSearch)="onSearch($event)">
                <ng-container *ngFor="let o of studentList">
                  <nz-option *ngIf="o.student_number" [nzValue]="o" [nzLabel]="o.student_number" (click)="changeUser(o)">
                  </nz-option>
                </ng-container>
              </nz-select>-->

            </nz-form-control>
          </nz-form-item>
        </div>
        <!-- <div nz-col [nzSpan]="12">
          <nz-form-item style="padding-left: 8px;">
            <nz-form-control>
              <nz-form-label nzFor="email" nzRequired>
                Email do estudante
              </nz-form-label>
              <nz-select style="width: 90%;" nzAllowClear nzShowSearch nzServerSearch [(ngModel)]="userSelect"
                (ngModelChange)="changeUser()" (nzOnSearch)="onSearch($event)">
                <ng-container *ngFor="let o of studentList">
                  <nz-option *ngIf="o.student_number" [nzValue]="o" [nzLabel]="o.email"></nz-option>
                </ng-container>
              </nz-select>

            </nz-form-control>
          </nz-form-item>
        </div>-->
      </div>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="saveTicketUser()" [nzLoading]="isConfirmLoading"
      class="start-desk-modal__btn__submit">Aplicar</button>
  </ng-template>
</nz-modal>



<!--Geston MODAL-->
<nz-modal [nzVisible]="modalGeston" [nzTitle]="modalTitleGeston" [nzContent]="modalContentGeston"
  [nzFooter]="modalFooterGeston" class="start-desk-modal" (nzOnCancel)="modalGeston = false">
  <ng-template #modalTitleGeston>Gestão de filas de atendimento</ng-template>

  <ng-template #modalContentGeston>
    <nz-spin [nzSpinning]="gestonLoading">
      <div nz-row nzType="flex" nzAlign="center">
        <div class="start-desk-modal__form">
          <div nz-col [nzSpan]="24">
            <div nz-col [nzSpan]="24" class="start-desk-modal__bold-title">
              <span *ngIf="listSubjectsGeston?.length > 0">Selecionar Fila(s)</span>
              <span *ngIf="listSubjectsGeston?.length === 0">Sem Filas disponíveis para selecionar</span>
            </div>
          </div>
          <div nz-col *ngIf="listSubjectsGeston?.length > 0" [nzSpan]="24">
            <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="onChangeSub($event)">
              <div nz-row *ngFor="let sub of listSubjectsGeston">
                <label nz-checkbox [nzValue]="sub.id">
                  {{(sub?.translations | translation).name}}
                </label>
              </div>
            </nz-checkbox-wrapper>
          </div>

        </div>
      </div>
    </nz-spin>

  </ng-template>

  <ng-template #modalFooterGeston>
    <button nz-button nzType="primary" (click)="saveGestonSubject(false)" [nzLoading]="isConfirmLoading"
      class="start-desk-modal__btn__submit">Remover</button>
    <button nz-button nzType="primary" (click)="saveGestonSubject(true)" [nzLoading]="isConfirmLoading"
      class="start-desk-modal__btn__submit">Adicionar</button>
  </ng-template>
</nz-modal>

<!--Modal Retreat-->

<nz-modal [nzVisible]="modalRetreat" [nzTitle]="modalTitleRetreat" [nzContent]="modalContentRetreat" [nzFooter]="null"
  class="start-desk-modal" (nzOnCancel)="modalRetreat = false">
  <ng-template #modalTitleRetreat>Recuar Senhas</ng-template>

  <ng-template #modalContentRetreat>
    <nz-spin [nzSpinning]="loadingRetreat">
      <div *ngIf="ticketsRetreat.length>0">
        <div nz-row *ngFor="let ticket of ticketsRetreat" class="table-modal">
          <div nz-col nzSpan="12" class="ticket-code">
            {{ticket?.ticket_code}}
          </div>
          <div nz-col nzSpan="12" style="text-align: right;">
            <button nz-button nzType="primary" class="start-desk-modal__btn__submit" (click)="recall(ticket)">Recuar</button>
          </div>
        </div>
      </div> 
      <div *ngIf="ticketsRetreat.length==0">
        <nz-empty></nz-empty>
      </div>
     
    </nz-spin>

  </ng-template>

</nz-modal>

<!-- Notify Users Modal -->

<nz-modal [nzVisible]="modalNotify" [nzTitle]="modalTitleNotify" [nzContent]="modalContentNotify" [nzFooter]="modalFooterNotify"
  class="start-desk-modal" (nzOnCancel)="modalNotify = false">
  <ng-template #modalTitleNotify>Notificar Utilizadores</ng-template>

  <ng-template #modalContentNotify>
    <div nz-row>
      <nz-select  style="width: 100%" [(ngModel)]="notifyType">
        <nz-option nzValue="CLOSE_DESK" nzLabel="Encerramento de Balcão"></nz-option>
        <nz-option nzValue="FASTER_ATTENDANCE" nzLabel="Atendimento Rápido"></nz-option>
      </nz-select>
    </div>
  </ng-template>
  <ng-template #modalFooterNotify>
    <button nz-button nzType="primary" (click)="notifyUsers()" [nzLoading]="isNotifing" [disabled]="!notifyType"
      class="start-desk-modal__btn__submit">Notificar</button>
  </ng-template>
</nz-modal>