@import "theme";

.separator {
  background-color: grey!important;
  width: 20px;
}
.font-size-12 {
  font-size: 12px;
}

.black-color {
  color: black;
}

.padding-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.geston {
  text-align: right;
  background-color: #f0f2f5;
  padding-bottom: 20px;
}


:host ::ng-deep{
  .background-color-primary-desk-start{
    background-color: var(--background-color)!important;
  }
  .menu-item-desk-start{
    padding: 10px;

  }
  .menu-item-icons-type{
    font-size: 32px;
    color: #08c;
    font-weight: bolder;
  }
  .menu-item-icons-share{
    opacity: 45%;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.45);
    font-weight: bolder;
  }
  .ticket-number{
    font-size: 25px;
    font-weight: 600;
    text-align: right;
  }
  .warning-col{
    align-self: center;
  }
  .warning{
    color: white;
    background-color: #e04d4d;
    border-radius: 5px;
    text-align:center;
    padding: 3px;
  }

  .type{
    color: white;
    background-color: #1890ff;
    border-radius: 5px;
    text-align:center;
    padding: 3px;
    font-size: 15px;
    border-radius: 15px;
  }

  .hours{
    align-self: center;
    font-size: 12px;
  }

  .student-info{
    align-self: center;
  }
  .student-name{
    padding-bottom: 3px;
    opacity: 85%;
    font-size: 14px;
  }
  .student-number{
    font-size: 14px;
    color: lightgray;
  }

  .first-major-row-item-menu{
    padding-bottom: 7px;
    padding-top: 7px;
  }

  .second-major-row-item-menu{
    padding-bottom: 7px;
  }

  .menu-item-desk-start-red{
    background-color: #e04d4d;
  }

  .menu-item-desk-start-red:hover, .menu-item-desk-start-red:focus, .menu-item-desk-start-selected{
    background-color: #e03636;
    color: #f0f2f5!important;
    cursor: pointer;
  }

  .menu-item-desk-start:hover, .menu-item-desk-start:focus, .menu-item-desk-start-selected{
    color: #f0f2f5!important;
    background-color: var(--primary-7);
    cursor: pointer;
  }

  .selected{
    color: #f0f2f5!important;
    background-color: var(--primary-color);
    cursor: pointer;
  }

  .divider-menu{
    margin: 0%;
  }

  .beautiful-line{
    border-bottom: 1px solid #c4c4c4 !important;
  }

  .user-operator-btn{
    align-self: center !important;
    text-align: end !important;
  }

  .user-operator-btn-pause{
    margin-right: 13px;
    color: white;
    border-color: #1890ff;
    background-color: #1890ff;
  }

  .user-operator-btn-close{
    color: white;
    border-color: #d0021b;
    background-color: #d0021b;
  }

  .user-operator-btn-start{
    color: white;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
  }

  .user-operator-btn-pause:hover, .user-operator-btn-pause:focus{
    color: white !important;
    border-color: #1890ff !important;
    background-color: #1890ff !important;
    opacity: 80% !important;
  }

  .user-operator-btn-close:hover, .user-operator-btn-close:focus{
    color: white !important;
    border-color: #d0021b !important;
    background-color: #d0021b !important;
    opacity: 80% !important;
  }

  .user-operator-bar{
    padding-bottom: 16px;
  }

  .user-operator-name{
    align-self: center !important;
  }

  .operating-btn-group{
    padding: 13px;
  }

  .operating-btn-group-icon{
    font-size: 30px;
  }

  .operating-btn-group-btns{
    color: white;
    display: inline-block;
    padding: 13px;
  }

  .operating-btn-group-btn-text{
    display: inline-block;
    vertical-align: super;
  }
  .operating-btn-group-call-ticket{
    cursor: pointer;
    margin-right: 10px;
    background-color: var(--primary-color);
  }
  .operating-btn-group-identify{
    cursor: pointer;
    background-color: var(--primary-8);
  }
  .operating-btn-group-transfer{
    float: right;
    background-color: #1890ff;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .title-desk {
    font-size: 17px;
    font-weight: bold;
    background-color: #f0f2f5;
    padding-bottom: 20px;
  }

  .pause {
    color: orange;
  }

  .operating {
    color: green;
  }

  .close {
    color: red;
  }

  .operating-btn-group-transfer:hover, .operating-btn-group-identify:hover, .operating-btn-group-call-ticket:hover{
    opacity: 85%;
  }

  .background-desk-start-background-space{
    height: 30px;
  }

}

.operating-btn-group-end-ticket{
  cursor: pointer;
  margin-right: 10px;
  color: white;
  background-color: black;
}

.operating-btn-group-notify-ticket{
  cursor: pointer;
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
  padding: 8px;
  border-radius: 4px;
  :hover{
    opacity: 0.5;
  }
}

.start-desd-ticket-card{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 13px;
  padding-left: 13px;

  &__details{
    margin-bottom: 25px;
    border: solid 1px grey!important;
    &__title{
      margin-bottom: 13px;
      color: rgba(0, 0, 0, 0.45);
    }
    &__col{
      padding: 10px;
    }
    &__ticket{
      &__id{
        font-weight: bolder;
        font-size: 45px;
        &__letter{
          margin-right: 7px;
          color: var(--primary-9);
        }
        &__number{
          color: var(--primary-color);
        }
      }
      &__icon{
        color: black;
      }
    }
    &__user{
      font-size: medium;
      &__title{
        margin-bottom: 10px;
        margin-top: 9px;
        font-weight: bold;
        color: black;
      }
      &__desc{
        color: rgba(0, 0, 0, 0.65);
      }
    }
    &__time{
      &__icon{
        text-align: -webkit-center !important;
      }
      &__desc{
        font-weight: lighter;
        font-size: 25px !important;
        color: #b0b0b0;
      }
    }
    &__ticket{
      font-size: 30px;
    }
  }
  &__form{
    &__input{
      height: 100px!important;
    }
    &__sbmit-btn{
      width: 100%;
      color: white;
    }
  }
}

.start-desk-modal{
  &__form{
    width: 100%!important;
  }
  &-divider-note{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 520px!important;
    border-bottom: solid 1px rgba(0, 0, 0, 0.09) ;
  }
  &-divider-transfer{
    left: -24px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 520px!important;
    border-bottom: solid 1px rgba(0, 0, 0, 0.09) ;
  }
  &__bold-title{
    color: black;
    font-weight: 600;
  }
  &__title{
    color: rgba(0, 0, 0, 0.45);
  }
  &__sub-title{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);
  }
  &__sub-title_2{
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: px;
  }
  &__desc{
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.65);
  }
  &__number{
    color: #e60000;
    font-weight: bolder;
    font-size: 40px;
  }
  &__select-fila{
    margin-bottom: 20px;
  }
  &__progress-bar{
    align-self: center;
  }
  &__btn{
    text-align-last: center;
    text-align: -webkit-center;
    &__call-again{
      width: 90%;
      height: 30px;
      color: white;
      background-color: #1890ff;
    }
    &__didnt-pickup{
      width: 90%;
      height: 30px;
      color: white;
      background-color: #d0021b;
    }
    &____didnt-pickup:hover, &__didnt-pickup:focus, &__call-again:hover, &__call-again:focus{
      opacity: 85%;
    }
    &__submit{

      text-align-last: center;
      &__btn{
        width: 90%;
        height: 57px;
      }
    }
  }
  &__warning-desc{

    text-align: center;
    align-self: center;
  }
}

:host ::ng-deep{.ant-modal{
  width: 700px!important;
}}

.ant-modal{
  width: 700px!important;
}


.start-desk-history{
  &__title{
    padding-top: 35px !important;
    padding-bottom: 15px !important;
    font-weight: 700 !important;
  }
  &__spacing{
    height: 13px !important;
  }
  &__card{
    padding: 15px !important;
    &__title{
      color: rgba(0, 0, 0, 0.45) !important;
    }
    &__desc{
      color: rgba(0, 0, 0, 0.65);
      align-self: self-start !important;
    }
    &__desc-row{
      margin-top: 11px !important;
    }
    &__desc-note{
      color: rgba(0, 0, 0, 0.65) !important;
    }
    &__btn{
      text-align: center !important;
      color: white !important;
    }
  }
}
.certain-search-item-count {
  position: absolute;
  color: #999;
  right: 16px;
}

.desk-operator-xss{
  &__operator{
    padding: 13px;
    border-bottom: solid 1px var(--primary-6);
    &__btn{
      border-radius:20px;
    }
    &__btn-group{
      padding: 13px;
      color: white;
      text-align: center;
      border-radius: 4px;
      &__identify{
        margin-right: 5px;
        cursor: pointer;
        background-color: var(--primary-8);
      }
      &__transfer{
        margin-left: 5px;
        cursor: pointer;
        background-color: #1890ff;
      }
      &__others:focus, &__others:hover{
        opacity: 85%;
      }
      &__call-ticket{
        cursor: pointer;
        width: 100%;
        margin-bottom: 15px;
        background-color: var(--primary-6);;

      }
    }
  }
  &__progress-bar{
    margin-bottom: 15px;
  }
  &__tickets{
   background-color:  var(--primary-1) !important;
    padding-top: 17px;
    padding: 13px;
    &__arrows{
      text-align: -webkit-center;
      align-self: center;
      cursor: pointer;
    }
  }
}

.disable{
  pointer-events: none;
  cursor: no-drop;
}


.begin-call-ticket{
  vertical-align: super;
}

.icon-begin-call-ticket{
  font-size: 26px;
}

.color-white {
  background-color: white;
}

.pagination{
  padding: 10px 10px;
  &__btn {
    cursor: pointer;
    padding: 7px;
    color: var(--primary-5);
    border: solid 1px var(--primary-5);
    border-radius: 6px;
    text-align: center;

  }
  &__btn:hover {
    text-align: center;
    color: white;
    background-color: var(--primary-5);
  }
  &__text{
    text-align: center;
    padding: 7px;
    color: var(--primary-5);
  }
}


.no-operator {
  text-align: center;
  color: red;
}

.button-refresh {
  width: 78%;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.table-modal {
  border-bottom: 1px solid lightgray;
  padding: 5px;
}

.ticket-code {
  font-size: 20px;
  font-weight: 600;
}