<div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
  <!--User Select-->
  <div nz-col [nzSpan]="24" *ngIf="!studentSelectedFlg && !loading" class="accommodation-form-application__select-user">
    <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
      <div nz-col [nzXs]="{ span: 2 }" [nzLg]="{ span: 6 }"></div>
      <div nz-col [nzXs]="{ span: 20 }" [nzLg]="{ span: 12 }">
        <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
          <div nz-col [nzSpan]="24" class="accommodation-form-application__select-user__title">
            Selecione um estudante:
          </div>
          <div nz-col [nzSpan]="24" class="accommodation-form-application__select-user__input-group">
            <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
              <div nz-col [nzSpan]="24" class="accommodation-form-application__select-user__input-title">
                Estudante:
              </div>
              <div nz-col [nzSpan]="24">
                <fi-sas-user-select [(ngModel)]="studentSelected" [returnID]="false"></fi-sas-user-select>
              </div>
            </div>
          </div>
          <div nz-col [nzSpan]="24" class="accommodation-form-application__select-user__title">
            Selecione uma fase de candidatura:
          </div>
          <div nz-col [nzSpan]="24" class="accommodation-form-application__select-user__input-group">
            <div nz-row nzType="flex" nzAlign="middle" nzJustify="center">
              <div nz-col [nzSpan]="24" class="accommodation-form-application__select-user__input-title">
                Fase:
              </div>
              <div nz-col [nzSpan]="24">
                <nz-select class="primary-select" [(ngModel)]="applicationPhase" style="width: 100%;">
                  <nz-option *ngFor="let phase of applicationPhases" [nzLabel]="getPhase(phase)" [nzValue]="phase">
                  </nz-option>
                </nz-select>
              </div>
            </div>
          </div>
          <div nz-col [nzSpan]="24" class="accommodation-form-application__select-user__input-btn">
            <button nz-button nzType="default" (click)="goToForm()" [disabled]="!studentSelected || !applicationPhase"
              class="btn">
              <span>Seguinte</span>
            </button>
          </div>
        </div>
      </div>
      <div nz-col [nzXs]="{ span: 2 }" [nzLg]="{ span: 6 }"></div>
    </div>
  </div>

  <!--Form-->
  <div nz-col [nzSpan]="24" *ngIf="studentSelectedFlg  && !loading" class="accommodation-form-application__form">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <button class="back-button" nz-button nzShape="round" (click)="cancelApplicationForm()">
          Cancelar
        </button>
      </div>


    </div>
    <div nz-row class="content__space">

      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <!--Steps-->
        <div nz-row class=" content content__prog">
          <!--XL to XXL-->
          <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="0" [nzXl]="0" [nzXXl]="24">
            <nz-steps class="content__line" [nzCurrent]="current" nzProgressDot>
              <nz-step nzTitle="Passo 1" nzDescription="Dados pessoais">
              </nz-step>
              <nz-step nzTitle="Passo 2" nzDescription="Contactos">
              </nz-step>
              <nz-step nzTitle="Passo 3" nzDescription="Residência">
              </nz-step>
              <nz-step nzTitle="Passo 4" nzDescription="Dados académicos">
              </nz-step>
              <nz-step nzTitle="Passo 5" nzDescription="Agregado familiar">
              </nz-step>
              <nz-step nzTitle="Passo 6" nzDescription="Benefícios sociais">
              </nz-step>
              <nz-step nzTitle="Passo 7" nzDescription="Observações">
              </nz-step>
              <nz-step nzTitle="Passo 8" nzDescription="Regulamento">
              </nz-step>
              <nz-step nzTitle="Passo 9" nzDescription="Revisão">
              </nz-step>
            </nz-steps>
          </div>
          <!--MD to LG-->
          <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="24" [nzXl]="24" [nzXXl]="0">
            <nz-steps class="content__line" [nzCurrent]="current" nzProgressDot>
              <nz-step nzTitle="Passo 1" nzDescription="Dados pessoais">
              </nz-step>
              <nz-step nzTitle="Passo 2" nzDescription="Contactos">
              </nz-step>
              <nz-step nzTitle="Passo 3" nzDescription="Residência">
              </nz-step>
              <nz-step nzTitle="Passo 4" nzDescription="Dados académicos">
              </nz-step>
            </nz-steps>
          </div>
          <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="24" [nzXl]="24" [nzXXl]="0" style="margin-top: 25px;">
            <nz-steps class="content__line" [nzCurrent]="current-4" nzProgressDot>
              <nz-step nzTitle="Passo 5" nzDescription="Agregado familiar">
              </nz-step>
              <nz-step nzTitle="Passo 6" nzDescription="Benefícios sociais">
              </nz-step>
              <nz-step nzTitle="Passo 7" nzDescription="Observações">
              </nz-step>
              <nz-step nzTitle="Passo 8" nzDescription="Regulamento">
              </nz-step>
              <nz-step nzTitle="Passo 9" nzDescription="Revisão">
              </nz-step>
            </nz-steps>
          </div>
          <!--XS to SM-->
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="0" [nzXl]="0" [nzXXl]="0">
            <div *ngIf="current===0">
              <p class="steps-minimal-size_title">
                Passo 1 de 9
              </p>
              <p class="steps-minimal-size_sub-title">
                Dados pessoais
              </p>
            </div>
            <div *ngIf="current===1">
              <p class="steps-minimal-size_title">
                Passo 2 de 9
              </p>
              <p class="steps-minimal-size_sub-title">
                Contactos
              </p>
            </div>
            <div *ngIf="current===2">
              <p class="steps-minimal-size_title">
                Passo 3 de 9
              </p>
              <p class="steps-minimal-size_sub-title">
                Residência
              </p>
            </div>
            <div *ngIf="current===3">
              <p class="steps-minimal-size_title">
                Passo de 4 de 9
              </p>
              <p class="steps-minimal-size_sub-title">
                Dados académicos
              </p>
            </div>
            <div *ngIf="current===4">
              <p class="steps-minimal-size_title">
                Passo 5 de 9
              </p>
              <p class="steps-minimal-size_sub-title">
                Agregado familiar
              </p>
            </div>
            <div *ngIf="current===5">
              <p class="steps-minimal-size_title">
                Passo 6 de 9
              </p>
              <p class="steps-minimal-size_sub-title">
                Benefícios sociais
              </p>
            </div>
            <div *ngIf="current===6">
              <p class="steps-minimal-size_title">
                Passo 7 de 9
              </p>
              <p class="steps-minimal-size_sub-title">
                Observações
              </p>
            </div>
            <div *ngIf="current===7">
              <p class="steps-minimal-size_title">
                Passo 8 de 9
              </p>
              <p class="steps-minimal-size_sub-title">
                Regulamento
              </p>
            </div>
            <div *ngIf="current===8">
              <p class="steps-minimal-size_title">
                Passo 9 de 9
              </p>
              <p class="steps-minimal-size_sub-title">
                Revisão
              </p>
            </div>
          </div>
        </div>

        <nz-divider class="divider-web"></nz-divider>

        <!--        Form!           -->
        <div class="accommodation-application_form">
          <form nz-form [formGroup]="aplicationForm" class="content__group">
            <!--Step 0-->
            <div *ngIf="current===0">
              <!--Name-->
              <nz-form-item>
                <nz-form-label nzRequired nzFor="full_name">
                  <span class="content__title">
                    Nome completo
                  </span>
                </nz-form-label>
                <nz-form-control [nzErrorTip]="error_name">
                  <input class="primary-input" formControlName="full_name" nz-input id="full_name"
                    [readonly]="studentSelected?.name"
                    [ngClass]="{ 'error__input': f.full_name.dirty && f.full_name.errors, 'disabled-input': studentSelected.name?true:false}" />
                  <ng-template #error_name let-control>
                    <ng-container class="error" *ngIf="f.full_name.dirty && f.full_name.errors">
                      Campo obrigatório
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

              <!--Birth Date-->
              <div nz-row nzGutter="24">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="applicant_birth_date">
                      <span class="content__title">
                        Data de nascimento
                      </span>
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="error_applicant_birth_date">
                      <nz-date-picker class="primary-datePicker total-width" formControlName="applicant_birth_date"
                        [nzDisabled]="f.applicant_birth_date.valid" [attr.disabled]="studentSelected?.applicant_birth_date"
                        [ngClass]="{ 'error': f.applicant_birth_date.dirty && f.applicant_birth_date.errors, 'disabled-input': studentSelected?.applicant_birth_date?true:false}"
                        id="form_application_accommodation_birth_date" nzPlaceHolder="">
                      </nz-date-picker>
                      <ng-template #error_applicant_birth_date let-control>
                        <ng-container class="error"
                          *ngIf="f.applicant_birth_date.dirty && f.applicant_birth_date.errors">
                          Campo obrigatório
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <!--Gender-->
              <nz-form-item>
                <nz-form-label nzRequired nzFor="gender">
                  <span class="content__title">
                    Género
                  </span>
                </nz-form-label>
                <nz-form-control [nzErrorTip]="error_gender">
                  <nz-radio-group class="content__radio_group primary-radio" formControlName="gender"
                    [attr.disabled]="studentSelected?.gender && studentSelected?.gender != 'U'"
                    [ngClass]="{ 'disabled-input': studentSelected?.gender && studentSelected?.gender != 'U' ?true:false }">
                    <label nz-radio nzValue="M" class="content__radio_line"><span class="content__radiotitle">
                        Masculino
                      </span></label>
                    <label nz-radio nzValue="F" class="content__radio_line"><span class="content__radiotitle">
                        Feminino
                      </span></label>
                    <label nz-radio nzValue="U" class="content__radio_line"><span class="content__radiotitle">
                        Outro
                      </span></label>
                  </nz-radio-group>
                  <ng-template #error_gender let-control>
                    <ng-container class="error" *ngIf="f.gender.dirty && f.gender.errors">
                      Campo obrigatório
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
              <!-- Affiliation -->
              <!-- Father name -->
              <nz-form-item>
                <nz-form-label nzRequired nzFor="father_name">
                  <span class="content__title">Filiação</span>
                </nz-form-label>

                <div class="detail-text">
                  Pai:
                </div>
                <nz-form-control [nzErrorTip]="error_father_name">
                  <input class="primary-input" formControlName="father_name" nz-input id="father_name"
                    [ngClass]="{ 'error__input': f.father_name.dirty && f.father_name.errors }" />
                  <ng-template #error_father_name let-control>
                    <ng-container class="error" *ngIf="f.father_name.dirty && f.father_name.errors">
                      Campo obrigatório
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
              <!-- Mother name -->
              <nz-form-item>
                <div class="detail-text">
                  Mãe:
                </div>
                <nz-form-control [nzErrorTip]="error_mother_name">
                  <input class="primary-input" formControlName="mother_name" nz-input id="mother_name"
                    [ngClass]="{ 'error__input': f.mother_name.dirty && f.mother_name.errors }" />
                  <ng-template #error_mother_name let-control>
                    <ng-container class="error" *ngIf="f.mother_name.dirty && f.mother_name.errors">
                      Campo obrigatório
                    </ng-container>
                  </ng-template>
                </nz-form-control>

              </nz-form-item>
              <!-- Incapacity -->
              <nz-form-item>
                <nz-form-control [nzErrorTip]="error_incapacity">
                  <nz-form-label nzRequired>
                    <span class="content__title">Possui alguma incapacidade?</span>
                  </nz-form-label>
                  <div class="switch">
                    <div class="switch__label">
                      <nz-switch formControlName="incapacity" nzCheckedChildren="Sim" (click)="incapacityValueChange()"
                        nzUnCheckedChildren="Não">
                      </nz-switch>
                    </div>
                  </div>
                  <ng-template #error_incapacity let-control>
                    <ng-container class="error" *ngIf="f.incapacity.dirty && f.incapacity.errors">
                      Campo obrigatório
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
              <div nz-row nzGutter="24" *ngIf=" f.incapacity.value==true">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
                  <!-- Incapacity degree -->
                  <nz-form-item>
                    <div class="detail-text">
                      Grau de incapacidade:
                    </div>
                    <nz-form-control [nzErrorTip]="error_incapacity_degree">
                      <input class="primary-input" formControlName="incapacity_degree" nz-input id="incapacity_degree"
                        [ngClass]="{ 'error__input': f.incapacity_degree.dirty && f.incapacity_degree.errors }" />
                      <ng-template #error_incapacity_degree let-control>
                        <ng-container class="error" *ngIf="f.incapacity_degree.dirty && f.incapacity_degree.errors">
                          Campo obrigatório
                        </ng-container>
                      </ng-template>
                    </nz-form-control>


                  </nz-form-item>
                </div>
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
                  <!-- Incapacity type -->
                  <nz-form-item>
                    <div class="detail-text">
                      Tipo de incapacidade:
                    </div>
                    <nz-form-control [nzErrorTip]="error_incapacity_type">
                      <input class="primary-input" formControlName="incapacity_type" nz-input id="incapacity_type"
                        [ngClass]="{ 'error__input': f.incapacity_type.dirty && f.incapacity_type.errors }" />
                      <ng-template #error_incapacity_type let-control>
                        <ng-container class="error" *ngIf="f.incapacity_type.dirty && f.incapacity_type.errors">
                          Campo obrigatório
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>

              </div>
              <!--Nationality-->
              <nz-form-item>
                <nz-form-label nzRequired nzFor="nationality">
                  <span class="content__title">
                    Nacionalidade</span>
                </nz-form-label>
                <nz-form-control [nzErrorTip]="error_nationality">
                  <nz-select class="primary-select" formControlName="nationality" id="nationality" nzShowSearch
                    [attr.disabled]="studentSelected?.nationality"
                    [ngClass]="{'disabled-input': studentSelected?.nationality?true:false }">
                    <nz-option *ngFor="let nati of nationalities" [nzLabel]="nati.translate" [nzValue]="nati.value">
                    </nz-option>
                  </nz-select>
                  <ng-template #error_nationality let-control>
                    <ng-container class="error" *ngIf="f.nationality.dirty && f.nationality.errors">
                      Campo obrigatório
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

              <!--Identification-->
              <div nz-row nzGutter="24">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
                  <nz-form-item style="margin-bottom: 0px !important;">
                    <nz-form-label nzRequired nzFor="identification">
                      <span class="content__title">
                        Documento de identificação
                      </span>
                    </nz-form-label>


                    <div class="detail-text">
                      Escolha o documento de identificação da lista e coloque o N.º de identificação
                    </div>
                  </nz-form-item>
                </div>
              </div>
              <div nz-row nzGutter="24">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
                  <nz-form-item>
                    <nz-form-control [nzErrorTip]="error_document_type">
                      <nz-select formControlName="document_type_id" [nzMode]="'default'"
                        [attr.disabled]="studentSelected?.document_type_id"
                        [ngClass]="{'disabled-input': studentSelected?.document_type_id?true:false }" nzShowSearch
                        nzAllowClear class="primary-select" (ngModelChange)="changeTypeDoc();">

                        <ng-container *ngFor="let type of documentTypes">
                          <nz-option [nzValue]="type.id" [nzLabel]="(type?.translations | translation).description">
                          </nz-option>
                        </ng-container>
                      </nz-select>
                      <ng-template #error_document_type let-control>
                        <ng-container class="error" *ngIf="f.document_type_id.dirty && f.document_type_id.errors">
                          Campo obrigatório
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
                  <nz-form-item>
                    <nz-form-control [nzErrorTip]="error_identification">
                      <input class="primary-input" formControlName="identification" nz-input id="identification"
                        [readonly]="disabledIdentification"
                        [ngClass]="{ 'error__input': f.identification.dirty && f.identification.errors,  'disabled-input': disabledIdentification?true:false }" />
                      <ng-template #error_identification let-control>
                        <ng-container class="error" *ngIf="f.identification.dirty && f.identification.errors">
                          Campo obrigatório
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-row nzGutter="24">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
                  <!--Tin-->
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="tin">
                      <span class="content__title">
                        N.º Identificação Fiscal (NIF)
                      </span>
                    </nz-form-label>

                    <div class="detail-text">
                      O NIF tem de ser válido e conter 9 dígitos
                    </div>
                    <nz-form-control [nzErrorTip]="error_tin">
                      <input mask="000000000" class="primary-input" formControlName="tin" nz-input id="tin"
                        [readonly]="studentSelected?.tin"
                        [ngClass]="{ 'error__input': f.tin.dirty && f.tin.errors, 'disabled-input': studentSelected?.tin?true:false }" />
                      <ng-template #error_tin let-control>
                        <ng-container class="error" *ngIf="f.tin.dirty && f.tin.errors.required">
                          Campo obrigatório
                        </ng-container>
                        <ng-container class="error" *ngIf="f.tin.dirty && f.tin.errors.minlength">
                          O valor é inválido, tente um maior
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-row nzGutter="24" *ngIf="show_iban_on_application_form">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
                  <!--ALLOW DIRECT DEBIT-->
                  <nz-form-item>
                    <nz-form-label nzFor="allow_direct_debit">
                      <span class="content__title">
                        Autorização de Pagamento por Débito Direto?
                      </span>
                    </nz-form-label>
                    <nz-form-control>
                      <nz-switch (ngModelChange)="allowDebitDirectChange($event)" formControlName="allow_direct_debit"
                        nzCheckedChildren="Sim" nzUnCheckedChildren="Não">
                      </nz-switch>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }" *ngIf="f.allow_direct_debit.value">
                  <!--IBAN-->
                  <nz-form-item>
                    <nz-form-label nzFor="iban">
                      <span class="content__title">
                        IBAN
                      </span>
                    </nz-form-label>
                    <div class="detail-text">
                      O IBAN tem de ser válido e conter 25 dígitos
                    </div>
                    <nz-form-control [nzErrorTip]="error_iban">
                      <input mask="AA00 0000 0000 0000 0000 0000 0" class="primary-input" formControlName="iban"
                        nz-input id="iban" />
                      <ng-template #error_iban let-control>
                        <ng-container class="error" *ngIf="f.iban.dirty && f.iban.errors.required">
                          Campo obrigatório
                        </ng-container>
                        <ng-container class="error" *ngIf="f.iban.dirty && f.iban.errors.minlength">
                          O valor é inválido, tem de ter 25 caracteres
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>

              </div>
              <!-- Household address-->
              <div nz-row>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                  <p class="step_divider_title">
                    Residência do agregado familiar
                  </p>
                </div>
              </div>

              <!-- Address -->
              <nz-form-item>
                <nz-form-label nzRequired nzFor="address">
                  <span class="content__title">
                    Morada
                  </span>
                </nz-form-label>
                <nz-form-control [nzErrorTip]="error_address">
                  <input class="primary-input" formControlName="address" nz-input id="address"
                    [ngClass]="{ 'error__input': f.address.dirty && f.address.errors}"
                    placeholder="ex: Rua Manuel Espergueira, nº 172" />
                  <ng-template #error_address let-control>
                    <ng-container class="error" *ngIf="f.address.dirty && f.address.errors">
                      Campo obrigatório
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
              <div nz-row nzGutter="24">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
                  <!-- Postal Code -->
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="postal_code">
                      <span class="content__title">
                        Código Postal
                      </span>
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="error_postal_code">
                      <input class="primary-input" formControlName="postal_code" nz-input id="postal_code"
                        mask="0000-000" placeholder="ex: 4900-000" [dropSpecialCharacters]="false"
                        [ngClass]="{ 'error__input': f.postal_code.dirty && f.postal_code.errors }" />
                      <ng-template #error_postal_code let-control>
                        <ng-container class="error" *ngIf="f.postal_code.dirty && f.postal_code.errors">
                          Campo obrigatório
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>

                </div>
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
                  <!-- City -->
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="city">
                      <span class="content__title">
                        Localidade
                      </span>
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="error_city">
                      <input class="primary-input" formControlName="city" nz-input id="city"
                        [ngClass]="{ 'error__input': f.city.dirty && f.city.errors }"
                        placeholder="ex: Viana do Castelo" />
                      <ng-template #error_city let-control>
                        <ng-container class="error" *ngIf="f.city.dirty && f.city.errors">
                          Campo obrigatório
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
                  <!-- Country -->
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="country">
                      <span class="content__title">País</span>
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="error_country">
                      <input class="primary-input" formControlName="country" nz-input id="country"
                        [ngClass]="{ 'error__input': f.country.dirty && f.country.errors }"
                        placeholder="ex: Portugal" />
                      <ng-template #error_country let-control>
                        <ng-container class="error" *ngIf="f.country.dirty && f.country.errors">
                          Campo obrigatório
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-row nzGutter="24">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="household_distance">
                      <span class="content__title">
                        Distância da residência do agregado familiar à escola
                      </span>
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="error_household_distance">
                      <nz-input-group nzAddOnAfter="km">
                        <input class="primary-input" nz-input formControlName="household_distance"
                          [dropSpecialCharacters]="false"
                          [ngClass]="{ 'error__input': f.household_distance.dirty && f.household_distance.errors }"
                          placeholder="ex: 100 km" mask="0*">
                      </nz-input-group>
                      <ng-template #error_household_distance let-control>
                        <ng-container class="error" *ngIf="f.household_distance.dirty && f.household_distance.errors">
                          Campo obrigatório
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

            </div>

            <!--Step 1-->
            <div *ngIf="current===1">

              <div nz-row nzGutter="24">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
                  <!--Phone 1-->
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="phone_1">
                      <span class="content__title">
                        Contacto principal
                      </span>
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="error_phone_1">
                      <input class="primary-input" placeholder="ex: 999 999 990" [readonly]="studentSelected?.phone"
                        [ngClass]="{ 'error__input': f.phone_1.dirty && f.phone_1.errors,
                                'disabled-input': studentSelected?.phone?true:false }" formControlName="phone_1"
                        nz-input id="phone_1" mask="+0*" />
                      <ng-template #error_phone_1 let-control>
                        <ng-container class="error" *ngIf="f.phone_1.dirty && f.phone_1.errors.required">
                          Campo obrigatório
                        </ng-container>
                        <ng-container class="error" *ngIf="f.phone_1.dirty && f.phone_1.errors.maxlength">
                          Excedeu o número de caracteres
                        </ng-container>
                        <ng-container class="error" *ngIf="f.phone_1.dirty && f.phone_1.errors.minlength">
                          Número de caracteres mínimo por alcançar
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
                  <!--Phone 2-->
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="phone_2">
                      <span class="content__title">
                        Contacto de emergência
                      </span>
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="error_phone_2">
                      <input class="primary-input" placeholder="ex: 999 999 990"
                        [ngClass]="{ 'error__input': f.phone_2.dirty && f.phone_2.errors }" formControlName="phone_2"
                        nz-input id="phone_2" mask="+0*" />
                      <ng-template #error_phone_2 let-control>
                        <ng-container class="error" *ngIf="f.phone_2.dirty && f.phone_2.errors.required">
                          Campo obrigatório
                        </ng-container>
                        <ng-container class="error" *ngIf="f.phone_2.dirty && f.phone_2.errors.minlength">
                          O valor é inválido, tente um maior
                        </ng-container>
                        <ng-container class="error" *ngIf="f.phone_2.dirty && f.phone_2.errors.maxlength">
                          Excedeu o número de caracteres
                        </ng-container>
                        <ng-container class="error" *ngIf="f.phone_2.dirty && f.phone_2.errors.match">
                          O contacto de emergência tem de ser diferente do contacto principal
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-row nzGutter="24">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
                  <!--Email-->
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="email">
                      <span class="content__title">
                        E-Mail institucional
                      </span>
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="error_email">
                      <input class="primary-input" placeholder="ex: mail@gmail.com" [readonly]="studentSelected?.email"
                        [ngClass]="{ 'error__input': f.email.dirty && f.email.errors,
                  'disabled-input': studentSelected?.email?true:false }" formControlName="email" nz-input id="email" />
                      <ng-template #error_email let-control>
                        <ng-container class="error" *ngIf="f.email.dirty && f.email.errors.required">
                          Campo obrigatório
                        </ng-container>
                        <ng-container class="error" *ngIf="f.email.dirty && f.email.errors.pattern">
                          O e-mail é inválido
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
                  <!--Secundary Email-->
                  <nz-form-item>
                    <nz-form-label nzFor="secundary_email">
                      <span class="content__title">
                        E-Mail Pessoal
                      </span>
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="error_secundary_email">
                      <input class="primary-input" placeholder="ex: mail@gmail.com"
                        [ngClass]="{ 'error__input': f.secundary_email.dirty && f.secundary_email.errors }"
                        formControlName="secundary_email" nz-input id="secundary_email" />
                      <ng-template #error_secundary_email let-control>
                        <ng-container class="error" *ngIf="f.secundary_email.dirty && f.secundary_email.errors.pattern">
                          O e-mail é inválido
                        </ng-container>
                        <ng-container class="error" *ngIf="f.secundary_email.dirty && f.secundary_email.errors.match">
                          O e-mail pessoal tem de ser diferente do e-mail institucional
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

            </div>

            <!--Step 2-->
            <div *ngIf="current===2">
              <nz-form-item>
                <nz-form-label nzFor="residence_id">
                  <span class="content__title">
                    Residência a que se candidata
                  </span>
                </nz-form-label>
                <nz-form-control>
                  <nz-radio-group class="content__radio_group primary-radio" formControlName="residence_id"
                    [ngClass]="{ 'error__input': f.residence_id.dirty && f.residence_id.errors }" *ngIf="isRenew" (ngModelChange)="setSelectedResidence($event)">
                    <ng-container *ngFor="let residence of residencesApplication">
                      <div nz-row>
                        <label nz-radio [nzValue]="residence.id">
                          <b> {{ residence.name }}</b>
                        </label>
                      </div>
                    </ng-container>
                    </nz-radio-group>
                    <nz-radio-group class="content__radio_group primary-radio" formControlName="residence_id"
                    [ngClass]="{ 'error__input': f.residence_id.dirty && f.residence_id.errors }" *ngIf="!isRenew">
                    <ng-container *ngFor="let residence of residenceSelected">
                      <div nz-row>
                        <label nz-radio [nzValue]="residence.id">
                          <b> {{ residence.name }}</b>
                        </label>
                      </div>
                    </ng-container>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item *ngIf="residencesExceptSelect.length > 0 && allow_optional_residence">
                <nz-form-label nzFor="second_option_residence_id">
                  <span class="content__title">
                    Residência alternativa (caso não seja possível a primeira opção)
                  </span>
                </nz-form-label>
                <nz-form-control>

                  <nz-select formControlName="second_option_residence_id" [nzMode]="'default'" nzShowSearch nzAllowClear
                    class="primary-select">

                    <ng-container *ngFor="let residence of residencesExceptSelect">
                      <nz-option [nzValue]="residence.id" [nzLabel]="residence.name">
                      </nz-option>
                    </ng-container>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <div nz-row nzGutter="24">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 7 }">
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="dateRange">
                      <span class="content__title">
                        Período de alojamento a que se candidata
                      </span>
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="error_dateRange">
                      <nz-range-picker formControlName="dateRange" name="dateRange"
                        [nzDisabledDate]="disabledDatePeriod" [nzDisabled]="fixed">
                      </nz-range-picker>
                      <ng-template #error_dateRange let-control>
                        <ng-container class="error" *ngIf="f.dateRange.dirty && f.dateRange.errors">
                          Campo obrigatório
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <nz-form-item *ngIf="regimes?.length > 0">
                <nz-form-label nzRequired nzFor="regime">
                  <span class="content__title">
                    Regime
                  </span>
                </nz-form-label>
                <nz-form-control [nzErrorTip]="regime_id">
                  <nz-radio-group class="content__radio_group primary-radio" formControlName="regime_id"
                    [ngClass]="{ 'error__input': f.regime_id.dirty && f.regime_id.errors }">
                    <ng-container *ngFor="let regime of regimes">
                      <div nz-row *ngIf="regime?.regime?.active">
                        <label nz-radio [nzValue]="regime?.regime?.id">
                          <b>{{ (regime?.regime?.translations | translation)?.name }}</b>
                        </label>

                      </div>
                      <div nz-row *ngIf="regime?.regime?.active" style="padding-left: 25px; margin-top: -15px;">
                        {{ (regime?.regime?.translations | translation)?.description }}
                      </div>
                    </ng-container>
                  </nz-radio-group>
                  <ng-template #regime_id let-control>
                    <ng-container class="error" *ngIf="f.regime_id.dirty && f.regime_id.errors.required">
                      Campo obrigatório
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item *ngIf="extrasList.length > 0">
                <nz-form-label nzFor="extra_ids">
                  <span class="content__title">
                    Extras
                  </span>
                </nz-form-label>
                <nz-form-control>
                  <nz-select formControlName="extra_ids" name="extra_ids" nzMode="multiple">
                    <nz-option *ngFor="let extra of extrasList"
                      [nzLabel]="(extra?.extra?.translations | translation).name" [nzValue]="extra?.extra?.id">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item *ngIf="typologies.length > 0">
                <nz-form-label nzFor="preferred_typology_id">
                  <span class="content__title">
                    Preferência de Tipologia de Quarto
                  </span>
                </nz-form-label>
                <nz-form-control>
                  <nz-select formControlName="preferred_typology_id" [nzMode]="'default'" nzShowSearch nzAllowClear
                    class="primary-select">
                    <nz-option *ngFor="let value of typologies" [nzLabel]="(value?.translations | translation).name"
                      [nzValue]="value?.id">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzFor="has_used_residences_before">
                  <span class="content__title">
                    Residência anterior
                  </span>
                </nz-form-label>
                <nz-form-control>
                  <div class="switch">
                    <div class="switch__label">
                      <b> Já esteve alojado(a) em alguma residência dos SAS?</b>
                    </div>
                    <div class="switch__input">
                      <nz-switch formControlName="has_used_residences_before" (click)="onChangeValueResidence()"
                        nzCheckedChildren="Sim" nzUnCheckedChildren="Não" [nzDisabled]="isRenew"></nz-switch>
                    </div>
                  </div>
                </nz-form-control>
              </nz-form-item>

              <div *ngIf="aplicationForm.value.has_used_residences_before && residences?.length > 0">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="which_residence">
                    <span class="content__title">
                      Em que residência?
                    </span>
                  </nz-form-label>

                  <div class="detail-text">
                    Última residência que frequentou
                  </div>
                  <nz-form-control [nzErrorTip]="which_residence">

                    <nz-select formControlName="which_residence" [nzMode]="'default'" nzShowSearch nzAllowClear
                      (ngModelChange)="onSelectValueRoom($event)" class="primary-select" [nzDisabled]="isRenew">
                      <ng-container *ngFor="let residence of residencesAssign">
                        <nz-option [nzValue]="residence.id" [nzLabel]="residence.name">
                        </nz-option>
                      </ng-container>
                    </nz-select>
                    <ng-template #which_residence let-control>
                      <ng-container class="error" *ngIf="f.which_residence.dirty && f.which_residence.errors.required">
                        Campo obrigatório
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label nzRequired nzFor="which_room">
                    <span class="content__title">
                      Em que quarto?
                    </span>
                  </nz-form-label>


                  <div class="detail-text">
                    N.º do último quarto ocupado
                  </div>
                  <nz-form-control [nzErrorTip]="which_room">

                    <nz-select [nzMode]="'default'" formControlName="which_room" nzShowSearch nzAllowClear
                      [nzLoading]="loadingRoom" class="primary-select" [nzDisabled]="isRenew">
                      <div>
                        <ng-container *ngFor="let room of roomsList">
                          <nz-option [nzValue]="room.id" [nzLabel]="room.name"></nz-option>
                        </ng-container>
                      </div>
                    </nz-select>
                    <ng-template #which_room let-control>
                      <ng-container class="error" *ngIf="f.which_room.dirty && f.which_room.errors.required">
                        Campo obrigatório
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <!--Step 3-->
            <div *ngIf="current===3">
              <!-- international_student -->
              <nz-form-item>
                <nz-form-label nzRequired nzFor="international_student">
                  <span class="content__title">Estatuto de Estudante Internacional</span>
                </nz-form-label>
                <nz-form-control [nzErrorTip]="error_international_student">
                  <div class="switch">
                    <div class="switch__label">
                      <nz-switch formControlName="international_student" nzCheckedChildren="Sim"
                        (click)="internationalValueChange()" nzUnCheckedChildren="Não">
                      </nz-switch>
                    </div>
                  </div>
                  <ng-template #error_international_student let-control>
                    <ng-container class="error" *ngIf="f.international_student.dirty && f.international_student.errors">
                      Campo obrigatório
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item *ngIf="organics.length > 0">
                <nz-form-label nzRequired nzFor="organic_unit_id">
                  <span class="content__title">
                    Escola
                  </span>
                </nz-form-label>
                <nz-form-control [nzErrorTip]="error_organic_unit_id">
                  <nz-select formControlName="organic_unit_id" [nzMode]="'default'"
                    [attr.disabled]="studentSelected?.organic_unit_id" nzShowSearch nzAllowClear class="primary-select"
                    (ngModelChange)="changeValue()"
                    [ngClass]="{ 'error__input': f.organic_unit_id.dirty && f.organic_unit_id.errors, 'disabled-input': studentSelected?.organic_unit_id?true:false }">
                    <div>
                      <ng-container *ngFor="let orgUnit of organics">
                        <nz-option [nzValue]="orgUnit.id" [nzLabel]="orgUnit.name"></nz-option>
                      </ng-container>
                    </div>
                  </nz-select>
                  <ng-template #error_organic_unit_id let-control>
                    <ng-container class="error" *ngIf="f.organic_unit_id.dirty && f.organic_unit_id.errors">
                      Campo obrigatório
                    </ng-container>
                  </ng-template>
                </nz-form-control>


              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzRequired nzFor="course_degree_id">
                  <span class="content__title">
                    Grau
                  </span>
                </nz-form-label>

                <div class="detail-text">
                  Grau de ensino que frequentou ou pretende frequentar
                </div>
                <nz-form-control [nzErrorTip]="error_course_degree_id">
                  <nz-radio-group class="content__radio_group primary-radio" formControlName="course_degree_id"
                    (ngModelChange)="changeValue()" [attr.disabled]="studentSelected?.course_degree_id"
                    [ngClass]="{ 'error__input': f.course_degree_id.dirty && f.course_degree_id.errors, 'disabled-input': studentSelected?.course_degree_id?true:false }">
                    <ng-container *ngFor="let value of courseDegreesList;let idx=index;">
                      <div nz-row>
                        <label *ngIf="value.active" nz-radio [nzValue]="value.id" active>
                          {{ value.name }}
                        </label>
                      </div>
                    </ng-container>
                  </nz-radio-group>
                  <ng-template #error_course_degree_id let-control>
                    <ng-container class="error" *ngIf="f.course_degree_id.dirty && f.course_degree_id.errors">
                      Campo obrigatório
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzRequired nzFor="course_id">
                  <span class="content__title">
                    Curso
                  </span>
                </nz-form-label>
                <nz-form-control [nzErrorTip]="error_course_id">
                  <nz-select formControlName="course_id" [nzMode]="'default'" [nzLoading]="courseLoading" nzShowSearch
                    nzAllowClear class="primary-select"
                    [ngClass]="{ 'error__input': f.course_id.dirty && f.course_id.errors }">
                    <ng-container *ngFor="let value of coursesList">
                      <nz-option [nzValue]="value.id" [nzLabel]="value.name"></nz-option>
                    </ng-container>
                  </nz-select>
                  <ng-template #error_course_id let-control>
                    <ng-container class="error" *ngIf="f.course_id.dirty && f.course_id.errors">
                      Campo obrigatório
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
              <div nz-row nzGutter="24">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="course_year">
                      <span class="content__title">
                        Ano do curso
                      </span>
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="error_course_year">
                      <input class="primary-input" formControlName="course_year" nz-input id="course_year"
                        [readonly]="studentSelected?.course_year"
                        [ngClass]="{ 'error__input': f.course_year.dirty && f.course_year.errors,'disabled-input': studentSelected?.course_year?true:false }"
                        mask="0" placeholder="Ano que frequenta" />
                      <ng-template #error_course_year let-control>
                        <ng-container class="error" *ngIf="f.course_year.dirty && f.course_year.errors">
                          Campo obrigatório
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-row nzGutter="24">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="student_number">
                      <span class="content__title">
                        N.º estudante
                      </span>
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="error_student_number">
                      <input class="primary-input" formControlName="student_number" nz-input id="student_number"
                        [readonly]="studentSelected?.student_number"
                        [ngClass]="{ 'error__input': f.student_number.dirty && f.student_number.errors, 'disabled-input': studentSelected?.student_number?true:false }"
                        placeholder="ex: 51213" />
                      <ng-template #error_student_number let-control>
                        <ng-container class="error" *ngIf="f.student_number.dirty && f.student_number.errors">
                          Campo obrigatório
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-row nzGutter="24">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="admission_date">
                      <span class="content__title">
                        Data de ingresso
                      </span>
                    </nz-form-label>

                    <div class="detail-text">
                      Data em que ingressou, pela 1ª vez, no Ensino Superior
                    </div>
                    <nz-form-control [nzErrorTip]="error_admission_date">
                      <nz-date-picker class="primary-datePicker" formControlName="admission_date"
                        [attr.disabled]="studentSelected?.admission_date || applicantInfo?.admission_date"
                        [ngClass]="{'disabled-input': studentSelected?.admission_date || applicantInfo?.admission_date ?true:false}"
                        [nzDisabledDate]="disableEndDate">
                      </nz-date-picker>
                      <ng-template #error_admission_date let-control>
                        <ng-container class="error" *ngIf="f.admission_date.dirty && f.admission_date.errors">
                          Campo obrigatório
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>

                </div>
              </div>

            </div>

            <!--Step 4-->
            <div *ngIf="current===4">

              <div nz-row nzGutter="24">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 18 }">
                  <nz-form-item style="margin-bottom: 0px !important;">
                    <nz-form-label nzFor="household_elements_number">
                      <span *ngIf="!aplicationForm.value.international_student" class="error">*</span> <span
                        class="content__title">
                        Elementos, parentesco e profissão
                      </span>
                    </nz-form-label>
                  </nz-form-item>
                </div>
              </div>
              <div nz-row nzGutter="24"
                *ngFor="let item of aplicationForm.get('house_hould_elements')['controls']; let i = index"
                [formGroup]="item">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 4 }">
                  <nz-form-item>
                    <input class="primary-input" nz-input disabled [value]="i+1" style="margin-top:4px" />
                  </nz-form-item>
                </div>
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 7 }">
                  <nz-form-item>
                    <nz-form-control>
                      <input *ngIf="i==0" class="primary-input" formControlName="kinship" nz-input id="kinship"
                        [ngClass]="{ 'error__input': isSubmited && item.controls.kinship.errors }"
                        placeholder="Coloque o parentesco" [ngModel]="'Candidato'" disabled />
                      <input *ngIf="i>0" class="primary-input" formControlName="kinship" nz-input id="kinship"
                        [ngClass]="{ 'error__input': isSubmited && item.controls.kinship.errors }"
                        placeholder="Coloque o parentesco" />
                    </nz-form-control>
                    <nz-form-explain class="error" *ngIf="isSubmited && item.controls.kinship.errors">
                      Campo obrigatório
                    </nz-form-explain>
                  </nz-form-item>
                </div>
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 7 }">
                  <nz-form-item>
                    <nz-form-control>
                      <input class="primary-input" formControlName="profession" nz-input id="profession"
                        [ngClass]="{ 'error__input': isSubmited && item.controls.profession.errors }"
                        placeholder="Coloque a profissão" />
                    </nz-form-control>
                    <nz-form-explain class="error" *ngIf="isSubmited && item.controls.profession.errors">
                      Campo obrigatório
                    </nz-form-explain>
                  </nz-form-item>
                </div>
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 3 }" style="padding-top: 10px; padding-bottom: 10px;">
                  <i nz-icon nzType="plus" nzTheme="outline" class="i-plus-close" id="icon-plus"
                    (click)="addNewGroup()"></i>
                  <i *ngIf="i>0" nz-icon nzType="close" nzTheme="outline" class="i-plus-close"
                    style="padding-left: 10px;" (click)="deleteGroup(i)"></i>
                </div>
              </div>

              <div nz-row nzGutter="24">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 18 }">
                  <nz-form-item>
                    <nz-form-label nzFor="househould_elements_in_university">
                      <span *ngIf="!aplicationForm.value.international_student" class="error">* </span> <span
                        class="content__title">N.º de elementos a frequentar o ensino superior</span>
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="error_househould_elements_in_university">
                      <input class="primary-input" formControlName="househould_elements_in_university" nz-input
                        id="househould_elements_in_university" mask="0*"
                        [ngClass]="{ 'error__input': f.househould_elements_in_university.dirty && f.househould_elements_in_university.errors }" />
                    </nz-form-control>
                    <ng-template #error_househould_elements_in_university let-control>
                      <ng-container class="error"
                        *ngIf="f.househould_elements_in_university.dirty && f.househould_elements_in_university.errors">
                        Campo obrigatório
                      </ng-container>
                    </ng-template>
                  </nz-form-item>
                </div>
              </div>
              <div nz-row nzGutter="24">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 18 }">
                  <nz-form-item>
                    <nz-form-label nzFor="household_total_income">
                      <span *ngIf="!aplicationForm.value.international_student" class="error">*</span> <span
                        class="content__title">
                        Total de rendimentos do ano civil de {{year-1}}
                      </span>
                    </nz-form-label>

                    <nz-form-control [nzErrorTip]="error_household_total_income">
                      <nz-input-group nzAddOnAfter="EUR">
                        <input class="primary-input" nz-input formControlName="household_total_income"
                          [dropSpecialCharacters]="false" placeholder="0,00"
                          [ngClass]="{ 'error__input': f.household_total_income.dirty && f.household_total_income.errors }"
                          mask="0*,00">
                      </nz-input-group>
                      <ng-template #error_household_total_income let-control>
                        <ng-container class="error"
                          *ngIf="f.household_total_income.dirty && f.household_total_income.errors">
                          Campo obrigatório
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-row nzGutter="24">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 18 }">
                  <nz-form-item>
                    <nz-form-label nzFor="income_source">
                      <span *ngIf="!aplicationForm.value.international_student" class="error">* </span> <span
                        class="content__title">Origem dos rendimentos</span>
                    </nz-form-label>
                    <nz-form-control>
                      <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="onChangeIncomeSource($event)">
                        <div nz-row>
                          <div nz-col nzSpan="8"><label nz-checkbox nzValue="DEPENDENT_WORKER"
                              [ngModelOptions]="{standalone: true}" [ngModel]="check('DEPENDENT_WORKER')">
                              Trabalho dependente
                            </label></div>
                          <div nz-col nzSpan="8"><label nz-checkbox nzValue="INDEPENDENT_WORK"
                              [ngModelOptions]="{standalone: true}" [ngModel]="check('INDEPENDENT_WORK')">
                              Trabalho independente
                            </label></div>
                          <div nz-col nzSpan="8"><label nz-checkbox nzValue="PENSIONS"
                              [ngModelOptions]="{standalone: true}" [ngModel]="check('PENSIONS')">
                              Pensão
                            </label></div>
                          <div nz-col nzSpan="8"><label nz-checkbox nzValue="UNEMPLOYMENT_ALLOWANCE"
                              [ngModelOptions]="{standalone: true}" [ngModel]="check('UNEMPLOYMENT_ALLOWANCE')">
                              Subsídio de desemprego
                            </label></div>
                          <div nz-col nzSpan="8"><label nz-checkbox nzValue="RSI" [ngModelOptions]="{standalone: true}"
                              [ngModel]="check('RSI')">
                              RSI
                            </label></div>
                          <div nz-col nzSpan="8"><label nz-checkbox nzValue="OTHER"
                              [ngModelOptions]="{standalone: true}" [ngModel]="check('OTHER')">
                              Outros
                            </label></div>
                        </div>
                      </nz-checkbox-wrapper>
                    </nz-form-control>
                    <nz-form-explain class="error" *ngIf="f.income_source.dirty && f.income_source.errors">
                      Campo obrigatório
                    </nz-form-explain>
                  </nz-form-item>
                </div>
              </div>
              <div *ngIf="other_income" nz-row nzGutter="24">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 18 }">
                  <nz-form-item>
                    <nz-form-label nzFor="other_income_source">
                      <span *ngIf="!aplicationForm.value.international_student" class="error">* </span> <span
                        class="content__title">Outros</span>
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="other_income_source_erros">
                      <input class="primary-input" formControlName="other_income_source" nz-input
                        id="other_income_source"
                        [ngClass]="{ 'error__input': f.other_income_source.dirty && f.other_income_source.errors}" />
                      <ng-template #other_income_source_erros let-control>
                        <ng-container class="error" *ngIf="f.other_income_source.dirty && f.other_income_source.errors">
                          Campo obrigatório
                        </ng-container>
                      </ng-template>
                    </nz-form-control>

                  </nz-form-item>
                </div>
              </div>
              <div nz-row nzGutter="24">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 18 }">
                  <nz-form-item>
                    <nz-form-label nzFor="patrimony_category_id">
                      <span *ngIf="!aplicationForm.value.international_student" class="error">*</span> <span
                        class="content__title">
                        Valor do património mobiliário
                      </span>
                    </nz-form-label>

                    <div class="detail-text">
                      Valor do património mobiliário a 31 de dezembro de {{year-1}}
                    </div>
                    <nz-form-control [nzErrorTip]="error_patrimony_category_id">
                      <nz-radio-group class="content__radio_group primary-radio"
                        formControlName="patrimony_category_id">
                        <ng-container *ngFor="let patrimony of listPatrimony">
                          <div nz-row *ngIf="patrimony?.active">
                            <label nz-radio [nzValue]="patrimony?.id">
                              <b>{{ patrimony?.description }}</b>
                            </label>
                          </div>
                        </ng-container>
                      </nz-radio-group>
                      <ng-template #error_patrimony_category_id let-control>
                        <ng-container class="error"
                          *ngIf="f.patrimony_category_id.dirty && f.patrimony_category_id.errors">
                          Campo obrigatório
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>

              </div>

              <!-- income_statement_delivered -->
              <nz-form-item>
                <nz-form-label nzFor="income_statement_delivered">
                  <span *ngIf="!aplicationForm.value.international_student" class="error">* </span> <span
                    class="content__title">O agregado familiar apresentou declaração de IRS?</span>
                </nz-form-label>
                <div class="detail-text">
                  No ano civil de {{year-1}}
                </div>
                <nz-form-control [nzErrorTip]="error_income_statement_delivered">
                  <div class="switch">
                    <div class="switch__label">
                      <nz-switch formControlName="income_statement_delivered" nzCheckedChildren="Sim"
                        nzUnCheckedChildren="Não">
                      </nz-switch>
                    </div>
                  </div>
                  <ng-template #error_income_statement_delivered let-control>
                    <ng-container class="error"
                      *ngIf="f.income_statement_delivered.dirty && f.income_statement_delivered.errors">
                      Campo obrigatório
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item *ngIf="aplicationForm.value.income_statement_delivered">
                <nz-form-label nzRequired nzFor="income_statement_files_ids">
                  <span class="content__title">
                    Declaração de IRS do ano civil de {{year-1}}
                  </span>
                </nz-form-label>

                <div class="detail-text">
                  Deverá apresentar a declaração de IRS de todos os membros do agregado familiar do ano civil de
                  {{year-1}} (formatos suportados .png
                  .jpeg .pdf)
                </div>
                <nz-form-control class="input-form-application-accommodation-file-pdf">
                  <fi-sas-auto-upload-file [listType]="'picture-card'" [filesList]="fileListIncomeStatement"
                    [multiUploads]="true" [buttonName]="'ANEXAR DOCUMENTOS'" (fileAdded)="onFileAdded($event)"
                    (fileDeleted)="onFileDeleted($event)"></fi-sas-auto-upload-file>

                </nz-form-control>
                <nz-form-explain class="error"
                  *ngIf="fileListIncomeStatement.length == 0 && isSubmited && aplicationForm.value.income_statement_delivered">
                  Campo obrigatório
                </nz-form-explain>

              </nz-form-item>

            </div>

            <!--Step 5-->
            <div *ngIf="current===5">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="applied_scholarship">
                  <span class="content__title">
                    No ano letivo {{year}}/{{year+1}} candidatou-se ou vai candidatar-se à
                    bolsa de estudo?
                  </span>
                </nz-form-label>
                <nz-form-control>
                  <div class="switch">
                    <div class="switch__input">
                      <nz-switch formControlName="applied_scholarship" nzCheckedChildren="Sim"
                        nzUnCheckedChildren="Não">
                      </nz-switch>
                    </div>
                  </div>
                </nz-form-control>
              </nz-form-item>
              <div nz-row nzGutter="24">
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 15 }">
                  <nz-form-item>
                    <nz-form-label nzFor="scholarship_value">
                      <span class="content__title">
                        Se no ano letivo {{year-1}}/{{year}} teve bolsa de estudo insira o
                        valor anual
                      </span>
                    </nz-form-label>
                    <nz-form-control>
                      <nz-input-group nzAddOnAfter="EUR">
                        <input class="primary-input" nz-input formControlName="scholarship_value"
                          [dropSpecialCharacters]="false" mask="0*,00" placeholder="0,00">
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

            </div>

            <!--Step 6-->
            <div *ngIf="current===6">
              <nz-form-item>
                <nz-form-label nzFor="observations">
                  <span class="content__title">
                    Insira observações ou notas à sua candidatura
                  </span>
                </nz-form-label>
                <nz-form-control>
                  <textarea  class="primary-textarea" placeholder="Insira as observações" rows="6" nz-input
                    formControlName="observations"></textarea>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzFor="file_ids">
                  <span class="content__title">Outros Anexos </span>
                </nz-form-label>

                <nz-form-control>
                  <fi-sas-auto-upload-file [listType]="'picture-card'" [filesList]="fileListOthers"
                    [multiUploads]="true" [buttonName]="'ANEXAR DOCUMENTOS'" (fileAdded)="onFileAddedOther($event)"
                    (fileDeleted)="onFileDeletedOther($event)"></fi-sas-auto-upload-file>

                </nz-form-control>

              </nz-form-item>
            </div>

            <!--Step 7-->
            <div *ngIf="current===7">
              <nz-form-item>
                <nz-form-label nzFor="applicant_consent">
                  <span class="content__title">
                    Regulamento
                  </span>
                </nz-form-label>
                <nz-form-control>
                  <div class="switch">
                    <div class="switch__label">
                      Declaro que tomei conhecimento do Regulamento Interno das Residências
                    </div>
                    <div class="switch__input">
                      <nz-switch formControlName="applicant_consent" nzCheckedChildren="Sim" nzUnCheckedChildren="Não">
                      </nz-switch>
                    </div>
                    <div class="switch__link link">
                      <a href="" target="_blank">
                        Consultar ou descarregar o Regulamento Interno das Residências
                      </a>
                    </div>
                  </div>
                </nz-form-control>
                <nz-form-explain class="error" *ngIf="!aplicationForm.value.applicant_consent && isSubmited">
                  Só pode prosseguir com a candidatura após confirmar que tomou conhecimento do Regulamento
                </nz-form-explain>
              </nz-form-item>
            </div>
            <!--Step 8-->
            <div *ngIf="current===8">
              <app-resume-application [application]="residenceApplicationModel"
                [nameResidenceSelected]="nameResidenceSelected" [nameUsedResidenceSelected]="nameUsedResidenceSelected"
                [nameRoom]="nameRoom" [nameOrganic]="nameOrganic" [sendRegime]="sendRegime"
                [residenceName]="residenceName" [extrasSend]="extrasSend" [nameCourseDegree]="nameCourseDegree"
                [documentType]="documentType" (currentValue)="changeCurrent($event)" [nameCourse]="nameCourse"
                [descPatrimony]="descPatrimony" [year]="year" [sendTypologies]="sendTypologies">
              </app-resume-application>
            </div>
          </form>
        </div>

        <!--Buttons NEXT, PREVIOUS and SUBMIT-->

      </div>

    </div>
    <div class="content__steps-action">
      <button nz-button nzType="default" (click)="previous()" *ngIf="current > 0" style="margin-right: 10px;">
        <span>Anterior</span>
      </button>
      <button nz-button nzType="primary" (click)="next()" *ngIf="current < 7">
        <span>Seguinte</span>
      </button>
      <button nz-button nzType="primary" (click)="valuesForm()" *ngIf="current == 7">
        <span>Seguinte</span>
      </button>
      <button nz-button nzType="primary" (click)="submitForm()" *ngIf="current === 8" [nzLoading]="loadingButton"
        [disabled]="loadingButton">
        <span>Submeter</span>
      </button>
    </div>
  </div>
</div>
