@import "theme";

.accommodation-form-application{
  &__select-user{
    padding-bottom: 50px;
    background-color: white;
    &__title{
      margin-top: 43px;
      font-size: 32px;
      margin-bottom: 40px;
    }
    &__input-group{
      padding: 5px 0px;
    }
    &__input-btn{
      margin-top: 20px;
      padding: 10px 0px;
      .btn{
        width: 100%;
      }
    }
    &__input-title{
      padding: 11px 0px;
      font-size: 16px;
    }
    &__select-input{
      width: 100%;
    }
  }
  &__form{
    background-color: var(--background-color);
  }
}

.disabled-input {
  cursor: not-allowed;
  opacity: 1;
  pointer-events: none;
}

.detail-text {
  font-size: 13px;
  color: grey;
  margin-bottom: 5px;
  margin-top: -5px;
}

.content {
  padding: 25px;
  &__space{
    background: white;
    margin: 25px 0px;
  }
  &__group {
    padding: 20px 40px 20px 40px;
    @media screen and (max-width:600px) {
      padding: 0px 10px 0px 10px;
    }
  }
  &__steps-content {
      margin-top: 50px;
      min-height: 200px;
  }
  &__steps-action {
    margin-bottom: 20px;
    text-align: right;
  }
}

.step_divider_title {
  font-weight: bold;
  color: black;
  font-size: 16px;
}

.divider-web {
  margin-top: 10px;
  width: 100%;
}

.steps-minimal-size_sub-title{
  margin: 0px !important;
}

.steps-minimal-size_title{
  font-size: 20px;
  margin-bottom: 1px !important;
  font-weight: 500;
}

.back-button{
  margin-top: 20px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #333333;
  border: none;
}

.error {
  color: red;
  margin-top:5px;

  &__input {
    border-color: red !important;
    background-color: #ff00000a;

    :focus {
      border-color: red !important;
    }

    :hover {
      border-color: red !important;
    }
  }
}

#form_application_accommodation_birth_date.ng-invalid.error ::ng-deep .ant-calendar-picker-input {
  border-color: red !important;
  background-color: #ff00000a !important;
  :focus {
    border-color: red !important;
  }

  :hover {
    border-color: red !important;
  }
}

.total-width{
  width: 100% !important;
}

.divider-web {
  margin-top: 10px;
  width: 100%;
}

.i-plus-close{
  font-size: 18px;
  color: var(--primary-color);
  cursor: pointer;
}

:host::ng-deep{ 
  .ant-calendar-picker {
    width: 100%;
  }

  .error__input {
    background-color: transparent;
  }
  
  .ant-upload.ant-upload-select, .ant-input-group {
    width: 100% !important;
  }
  
  .ant-input-disabled{
    color: rgba(0,0,0,.65) !important;
    cursor: not-allowed !important;
  }

  .input-form-application-accommodation-file-pdf{
    width: 100%;
    padding: 15px 0px;
  }
  
  .link {
    text-decoration: underline;
  }
  
  .preview-containe__file-name{
    padding-left: 15px;
  }

  .ant-input-disabled {
    background-color: transparent !important;
  }
}

.max-width{
  width: 20%;
}

@media screen and (max-width:800px) {
  .max-width{
    width: 100%;
  }
}

@media screen and (max-width:600px) {
  .max-width{
    width: 100%;
  }
}
