@import 'theme';

.top {
    padding-top: 25px;
}

.right{
  float: right;
}

nz-carousel {
    border-radius: 5px 5px 0px 0px;
  
    [nz-carousel-content] {
      text-align: center;
      height: 550px;
      line-height: 130px;
      background: #293449;
      color: #fff;
      overflow: hidden;
    }
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carousel-wrapper {
    position: relative;
  
    .arrow {
      position: absolute;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 50%;
      margin-top: -20px;
      font-size: 30px;
      font-weight: bold;
      &.icon-left {
        left: 0;
      }
      &.icon-right {
        right: 0;
      }
    }
}

#icon-accomo::ng-deep svg {
    path {
        fill: white;
    }
}

.listdetail {
    &__information {
        background-color: #ffffff;
        padding: 30px 35px 30px 35px;
        font-family: Montserrat;
        margin-bottom: 30px;
    }

    &__category {
        font-weight: 600;
        font-size: 14px;
    }

    &__type_rec {
        background-color: var(--primary-color);
        color: white;
        padding: 5px;
        font-size: 12px;
        border-radius: 5px;
        font-weight: 500;
        font-weight: 600;
    }
    &__info {
        color: unset;
        font-stretch: normal;
        font-weight: 400;
        line-height: 1.88;
        letter-spacing: normal;
    }

    &__info_date {
        font-size: 22px;
        font-weight: 600;
    }


}

.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

.hidden-md {
    display:none;
}


.success-model {
    border-radius: 10px;
  
    &--content {
      margin-top: 10%;
    }
  
    &--title {
      font-family: Montserrat;
      letter-spacing: normal;
      line-height: 1.14;
      text-align: center !important;
      width: 100%;
    }
  
    &--subtitle {
      color: #222222;
      font-family: Montserrat;
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 600;
      letter-spacing: normal;
      line-height: 1.6;
      text-align: center;
    }
  
    &--icon {
      height: 120px;
  
      img {
        height: 100px;
        width: 100px;
      }
    }
  
    &--accept-text {
      color: #111111;
      font-size: 22px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 300;
      letter-spacing: normal;
      line-height: 1.14;
      margin-bottom: 20px;
      text-align: center;
    }
  
}

.text-underline {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {

    .hidden-xs {
      display: none;
    }
  
    .hidden-md {
      display:block;
    }
  
  
}

.icon__calendar{
  font-size: 30px;
  cursor: pointer;
}
  