<div nz-row>
    <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
    </div>

    <div nz-col [nzXs]="22" [nzSm]="22" [nzMd]="16" [nzLg]="14" [nzXl]="12" [nzXXl]="12" class="top">
        <app-button translate="MISC.RETURN" (click)="backList();" [leftIcon]="'left'"
            [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}" type="tertiary"></app-button>
        <nz-spin [nzSpinning]="loadingDetail">
            <div class="carousel-wrapper top">
                <nz-carousel nzEffect="scrollx" #myCarousel>
                    <div nz-carousel-content *ngFor="let media of event?.images">
                        <img alt="House" [src]="media?.file?.url" />
                    </div>
                    <div *ngIf="event?.images?.length === 0" nz-carousel-content>
                        <img alt="Unavailable Image" src="/assets/imgs/unavailable-image.jpg" />
                    </div>
                </nz-carousel>
                <div *ngIf="event?.images?.length > 1" class="arrow icon-left"
                    (click)="arrowClick($event,'pre', myCarousel)"><i nz-icon nzType="left" id="icon-accomo"
                        nzTheme="outline"></i>
                </div>
                <div *ngIf="event?.images?.length > 1" class="arrow icon-right"
                    (click)="arrowClick($event,'next', myCarousel)"><i nz-icon nzType="right" id="icon-accomo"
                        nzTheme="outline"></i></div>
            </div>
            <div class="listdetail__information">
                <div nz-row>
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                        <label [ngStyle]="{'color': event?.category?.color}" class="listdetail__category">
                            {{(event?.category?.translations| languageChange)?.name}}</label>
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12"
                        class="text-right">
                        <label class="listdetail__type_rec"> {{event?.recurrence_type == 'UNIQUE' ?
                            ("EVENTS.DETAIL.UNIQUE" | translate) : ("EVENTS.DETAIL.RECU" | translate)}}</label>
                    </div>
                </div>
                <div nz-row *ngIf="event.status=='CANCELLED'" class="top">
                    <nz-alert nzType="error" [nzDescription]="('EVENTS.CANCEL' | translate) ">
                    </nz-alert>
                </div>
                <div nz-row>
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                        <div class="title-resume top">
                            {{(event?.translations | languageChange)?.title}}
                        </div>
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                        <div class="title-resume top right">
                            <span (click)="getCalendarExport(event)" *ngIf="subscriptions"><i nz-icon nzType="icons:icons-calendar" class="icon__calendar" nzTheme="outline"></i></span>
                        </div>
                    </div>
                </div>
                <div nz-row class="top">
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12"
                        class="text-center">
                        <div nz-row class="listdetail__info uppercase">
                            {{"EVENTS.DETAIL.START_DATE" | translate}}
                        </div>
                        <div nz-row>
                            <label class="listdetail__info_date"> {{event.start_date | date: 'dd/MM/yyyy'}}</label> <br>
                            <b> {{!event.all_day ? ((event.start_date | date: 'HH:mm') + 'h') : ''}}</b>
                            <label *ngIf="event.all_day">{{"EVENTS.DETAIL.ALL_DAY" | translate}}</label>
                        </div>
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12"
                        class="text-center">
                        <div nz-row class="listdetail__info uppercase">
                            {{"EVENTS.DETAIL.END_DATE" | translate}}
                        </div>
                        <div nz-row>
                            <label class="listdetail__info_date"> {{event.end_date | date: 'dd/MM/yyyy'}}</label> <br>
                            <b>{{!event.all_day ? ((event.end_date | date: 'HH:mm') + 'h') : ''}}</b>
                            <label *ngIf="event.all_day">{{"EVENTS.DETAIL.ALL_DAY" | translate}}</label>
                        </div>
                    </div>
                </div>
                <div nz-row class="top">
                    <app-event-recurrence [event]="event"></app-event-recurrence>
                </div>
                <div nz-row class="top">
                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                        <div class="title-resume uppercase"> {{ "EVENTS.DETAIL.DESCRIPTION" | translate }}
                        </div>
                        <p class="listdetail__info">{{
                            ((event?.translations | languageChange).description)
                            }}</p>
                        <a *ngIf="event?.link" [href]="event?.link" target="_blank" class="underline">{{"EVENTS.DETAIL.LINK"
                            | translate}}</a>
                    </div>
                </div>
                <div nz-row class="top">
                    <div class="title-resume uppercase"> {{ "EVENTS.DETAIL.RESPONSABLE" | translate }}
                    </div>
                    <p class="listdetail__info">{{ "EVENTS.DETAIL.NAME_RESPONSABLE" | translate }}: {{event?.responsable}}</p>
                    <p class="listdetail__info">{{ "EVENTS.DETAIL.EMAIL_RESPONSABLE" | translate }}: {{event?.email}}</p>
                    <p class="listdetail__info">{{ "EVENTS.DETAIL.PHONE_RESPONSABLE" | translate }}: {{event?.phone}}</p>
                    <a *ngIf="event?.file" [href]="event?.file?.url" target="_blank"
                        class="underline">{{"EVENTS.DETAIL.FILE" | translate}}</a>
                </div>
                <div nz-row class="top">
                    <div class="title-resume uppercase"> {{ "EVENTS.DETAIL.LOCATION" | translate }}
                    </div>
                    <p class="listdetail__info" *ngIf="event.latitude">
                        Latitude: <span>{{
                            event.latitude }}</span>
                    </p>
                    <p class="listdetail__info" *ngIf="event.longitude">
                        Longitude: <span>{{
                            event.longitude }}</span>
                    </p>
                    <p class="listdetail__info">
                        {{ event.address }}, nº{{ event.address_number }}, {{ event.postal_code }} - {{ event.city }}
                    </p>
                    <aol-map [height]="'500'">
                        <aol-view [zoom]="15" [center]="[event.longitude, event.latitude]">
                            <aol-coordinate [x]="event.longitude" [y]="event.latitude" [srid]="'EPSG:4326'">
                            </aol-coordinate>
                        </aol-view>
                        <aol-layer-tile>
                            <aol-source-osm></aol-source-osm>
                        </aol-layer-tile>
                        <aol-layer-vector>
                            <aol-source-vector>
                                <aol-feature>
                                    <aol-geometry-point>
                                        <aol-coordinate [x]="event.longitude" [y]="event.latitude" [srid]="'EPSG:4326'">
                                        </aol-coordinate>
                                    </aol-geometry-point>
                                    <aol-style>
                                        <aol-style-icon [src]="'assets/imgs/map-marker-icon.png'" [anchor]="[0.5, 30]"
                                            [anchorXUnits]="'fraction'" [anchorYUnits]="'pixels'" [scale]="1"
                                            [anchorOrigin]="'top-left'">
                                        </aol-style-icon>
                                    </aol-style>
                                </aol-feature>
                            </aol-source-vector>
                        </aol-layer-vector>
                    </aol-map>
                </div>
                <div nz-row class="top">
                    <div class="text-center hidden-xs">
                        <app-button *ngIf="event.type_subscription == 'SUB' && !subscriptions" (click)="openModalSub(event)"
                            [buttonStyle]="{
                            'font-size': '17px',
                            'margin-top': '40px',
                            width: '300px',
                            height: '48px',
                            'margin-left': 'calc(50%-300px)'
                          }" translate="EVENTS.BTNS.INSCRIPTION">
                        </app-button>
                        <app-button *ngIf="event.type_subscription == 'SUB' && subscriptions" (click)="removeSub()" [buttonStyle]="{
                            'font-size': '17px',
                            'margin-top': '40px',
                            width: '300px',
                            height: '48px',
                            'margin-left': 'calc(50%-300px)'
                          }" [type]="'red'" [loading]="loading" translate="EVENTS.BTNS.REMOVE_SUB">
                        </app-button>
                        <app-button *ngIf="event.type_subscription == 'MI' && !subscriptions" (click)="openModalMi(event)" [buttonStyle]="{
                            'font-size': '17px',
                            'margin-top': '40px',
                            width: '300px',
                            height: '48px',
                            'margin-left': 'calc(50%-300px)'
                          }" translate="EVENTS.BTNS.MI">
                        </app-button>

                        <app-button *ngIf="event.type_subscription == 'MI' && subscriptions" (click)="removeMi()" [buttonStyle]="{
                            'font-size': '17px',
                            'margin-top': '40px',
                            width: '300px',
                            height: '48px',
                            'margin-left': 'calc(50%-300px)'
                          }" [type]="'red'" [loading]="loading" translate="EVENTS.BTNS.REMOVE_MI">
                        </app-button>
                    </div>
                    <div class="text-center hidden-md">
                        <app-button *ngIf="event.type_subscription == 'SUB' && !subscriptions" (click)="openModalSub(event)"
                            [buttonStyle]="{
                            'font-size': '14px',
                            'margin-top': '40px',
                            width: '235px',
                            height: '48px',
                            'margin-left': 'calc(50%-300px)'
                          }" translate="EVENTS.BTNS.INSCRIPTION">
                        </app-button>
                        <app-button *ngIf="event.type_subscription == 'MI' && subscriptions" (click)="removeSub()" [buttonStyle]="{
                            'font-size': '14px',
                            'margin-top': '40px',
                            width: '235px',
                            height: '48px',
                            'margin-left': 'calc(50%-300px)'
                          }" [type]="'red'" [loading]="loading" translate="EVENTS.BTNS.REMOVE_SUB">
                        </app-button>
                        <app-button *ngIf="event.type_subscription == 'MI' && !subscriptions" (click)="openModalMi(event)" [buttonStyle]="{
                            'font-size': '14px',
                            'margin-top': '40px',
                            width: '235px',
                            height: '48px',
                            'margin-left': 'calc(50%-300px)'
                          }" translate="EVENTS.BTNS.MI">
                        </app-button>
                        <app-button *ngIf="event.type_subscription == 'MI' && subscriptions" (click)="removeMi()" [buttonStyle]="{
                            'font-size': '14px',
                            'margin-top': '40px',
                            width: '235px',
                            height: '48px',
                            'margin-left': 'calc(50%-300px)'
                          }" [type]="'red'" [loading]="loading" translate="EVENTS.BTNS.REMOVE_MI">
                        </app-button>
                    </div>
                </div>
            </div>
        </nz-spin>

    </div>

    <div nz-col [nzXs]="1" [nzSm]="1" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="6">
    </div>

</div>


<!--Modal Terms-->
<nz-modal [nzVisible]="modalTerms" (nzOnCancel)="modalTerms = false" [nzFooter]="null" [nzWidth]="350">
    <div nz-row nzType="flex" nzJustify="center" style="padding-bottom:20px;">
        <div nz-col class="success-model--title title-top-page">{{('DASHBOARD.BUTTON.CALENDAR' | translate)}}</div>
    </div>
    <div nz-row style="padding-bottom:20px;">
        <label nz-checkbox [nzValue]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="termsRead">{{
            "EVENTS.ALERTS.TERMS"
            | translate
            }}</label>
    </div>
    <div nz-row nzType="flex" nzJustify="center" nzAlign="center" style="padding-bottom:20px;">
        <a target="_blank" class="content__readmore text-underline" (click)="openModalTerms()">{{
            "EVENTS.ALERTS.TERMS_DESC" | translate }}</a>
    </div>
    <div nz-row nzType="flex" nzJustify="center" nzAlign="center">
        <app-button translate="MISC.NEXT" (click)="subscription();" [disabled]="!termsRead" [loading]="loading"
            [buttonStyle]="{'font-size': '12px', 'line-height': '18px'}" type="primary"></app-button>
    </div>

</nz-modal>

<!--Modal MI-->
<nz-modal [nzVisible]="modalMi" (nzOnCancel)="modalMi = false" [nzFooter]="null" [nzWidth]="350">
    <div nz-row nzType="flex" nzJustify="center">
        <div nz-col class="success-model--title title-top-page">{{('DASHBOARD.BUTTON.CALENDAR' | translate)}}</div>
    </div>
    <div nz-row nzType="flex" nzJustify="center">
        <div nz-col class="success-model--subtitle">{{'EVENTS.BTNS.MI'|translate}}</div>
    </div>
    <div nz-row nzType="flex" nzJustify="center" nzAlign="middle" class="success-model--icon">
        <img src="/assets/imgs/Success.PNG" alt="">
    </div>
    <div nz-row nzType="flex" nzJustify="center" nzAlign="center" class="success-model--accept-text">
        <div nz-col>{{'EVENTS.ALERTS.SUCCESS_MI'|translate}}</div>
    </div>

</nz-modal>

<!--Modal Sub-->
<nz-modal [nzVisible]="modalSub" (nzOnCancel)="modalSub = false" [nzFooter]="null" [nzWidth]="350">
    <div nz-row nzType="flex" nzJustify="center">
        <div nz-col class="success-model--title title-top-page">{{('DASHBOARD.BUTTON.CALENDAR' | translate)}}</div>
    </div>
    <div nz-row nzType="flex" nzJustify="center">
        <div nz-col class="success-model--subtitle">{{'EVENTS.BTNS.INSCRIPTION'|translate}}</div>
    </div>
    <div nz-row nzType="flex" nzJustify="center" nzAlign="middle" class="success-model--icon">
        <img src="/assets/imgs/Success.PNG" alt="">
    </div>
    <div nz-row nzType="flex" nzJustify="center" nzAlign="center" class="success-model--accept-text">
        <div nz-col>{{'EVENTS.ALERTS.SUCCESS_SUB'|translate}}</div>
    </div>

</nz-modal>

<!--Modal Terms Info-->
<nz-modal [nzVisible]="modalTermsInfo" (nzOnCancel)="modalTermsInfo = false" [nzFooter]="null">
    <div nz-row nzType="flex" nzJustify="center" style="padding-bottom:20px;">
        <div nz-col class="success-model--title title-top-page">{{'EVENTS.ALERTS.TERMS_TITLE'|translate}} </div>
    </div>
    <div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="regulations">
        <div nz-col [nzSpan]="24" class="regulations-body">
          <div *ngFor="let item of event?.terms_conditions">
            <div *ngIf="item.language_id === getCurrentLanguage()" [innerHTML]="item.text"></div>
          </div>
        </div>
    </div>
</nz-modal>
