<div class="content--padding white">

  <form nz-form [formGroup]="validateForm">
    <div nz-row>
      <div nz-col nzXs="24" nzMd="11">
        <div nz-row>
          <div nz-col nzXs="24" nzMd="22">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="type_day">Tipo de dia
              </nz-form-label>
              <nz-form-control>
                <nz-select nzMode="default" nzPlaceHolder="Tipo de dia" formControlName="type_day_id">
                  <nz-option *ngFor="let type_day of typesDays " nzValue={{type_day.id}} nzLabel={{type_day.name}}></nz-option>
                </nz-select>
                <nz-form-explain *ngIf="validateForm.get('type_day_id').errors && submitted">Campo obrigatório</nz-form-explain>
              </nz-form-control>

            </nz-form-item>
          </div>
          <div nz-col nzXs="24" nzMd="2">
            <span nz-tooltip nzTitle="Criar Tipo de dia">
              <button [routerLink]="'/bus/type-day/create'" nz-button style=" margin-top: 44px; margin-left: 5px"><i nz-icon
                  type="plus"></i></button>
            </span>
          </div>
        </div>

      </div>
      <div nz-col nzXs="0" nzMd="2"></div>
      <div nz-col nzXs="24" nzMd="11">
        <div nz-row>
          <div nz-col nzXs="24" nzMd="22">
            <nz-form-item>

              <nz-form-label nzFor="season" nzRequired>Época</nz-form-label>
              <nz-form-control>
                <nz-select nzMode="default" nzPlaceHolder="Época" formControlName="season_id">
                  <nz-option *ngFor="let season of seasons" nzValue={{season.id}} nzLabel={{season.name}}></nz-option>
                </nz-select>
                <nz-form-explain *ngIf="validateForm.get('season_id').errors && submitted">Campo obrigatório</nz-form-explain>
              </nz-form-control>
             
            </nz-form-item>
          </div>
          <div nz-col nzXs="24" nzMd="2">
            <span nz-tooltip nzTitle="Criar época">
              <button [routerLink]="'/bus/season/create'" nz-button style=" margin-top: 44px; margin-left: 5px"><i nz-icon
                  type="plus"></i></button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <nz-form-item>
      <nz-form-label>Ativo</nz-form-label>
      <nz-form-control>
        <nz-switch formControlName="active"></nz-switch>
      </nz-form-control>
    </nz-form-item>

    <nz-table #basicTable [nzData]="route" [nzScroll]="{ x: '240px' }" [nzShowPagination]="false" [nzScroll]="{x:'600px'}">

      <thead>
        <tr>
          <th *ngFor="let local of route[0]?.locals">{{local.region}}<br> {{local.local}}</th>
          <th nzRight="0px"></th>
        </tr>
      </thead>

      <tbody>


        <tr *ngFor="let controlArray of controlArrayGroup;let j = index">
          <td *ngFor="let control of controlArray;let s = index;">
            <nz-form-control>
              <nz-time-picker (ngModelChange)="calculateIntevals($event,j,s)"
                [formControlName]="control.controlInstance" nzFormat="HH:mm"
                [nzDefaultOpenValue]="getDefaultValue(j,s)"></nz-time-picker>
            </nz-form-control>
          </td>
          <td nzRight="0px">
            <i nz-icon type="minus-circle-o" (click)="removeField(controlArrayGroup[j][0].line,$event)"></i>
          </td>
        </tr>

      </tbody>

    </nz-table>

    <nz-form-item style="text-align: center;">
      <nz-form-control>
        <button nz-button nzType="default" style="width: 30%;margin-top: 42px;" type="button" (click)="addField($event)">Adicionar</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<div class="space" nz-row>
  <button nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="isLoading" [disabled]="isLoading" (click)="submit()"
    [nzType]="'primary'">Criar</button>
</div>