@import "theme";


:host::ng-deep {

  .ant-menu {
    color: var(--menu-text-color);
  }

  .ant-menu-item {
    color: var(--menu-text-color);
  }

  .ant-menu-item:hover {
      color: var(--primary-color);
  }


  .ant-menu-item > a {
    color: var(--menu-text-color);
  }

  .ant-menu-item-active,
  .ant-menu-item:hover,
  .ant-menu-submenu-active,
  .ant-menu-submenu-title:hover,
  .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
    color: var(--primary-color);
  }

  .ant-menu-item>a:hover {
    color: var(--primary-color);
  }

  .ant-menu-item-selected {
    font-weight: bold;
    background : var(--menu-item-active-bg) !important;
  }

  .ant-menu-item-selected,
  .ant-menu-item-selected>a,
  .ant-menu-item-selected>a:hover {
    color: var(--primary-color);
  }

  .ant-menu-item-selected {
    background: var(--primary-color);
  }

  .ant-menu-inline .ant-menu-item::after,
  .ant-menu-vertical .ant-menu-item::after,
  .ant-menu-vertical-left .ant-menu-item::after,
  .ant-menu-vertical-right .ant-menu-item::after {
    position    : absolute;
    top         : 0;
    right       : 0;
    bottom      : 0;
    border-right: 3px solid var(--primary-color);
  }

  .ant-menu-submenu-inline>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-inline>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-vertical-left>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-vertical-left>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-vertical-right>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-vertical-right>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-vertical>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-vertical>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before {
    background: -webkit-gradient(linear, left top, right top, from(var(--primary-color)), to(var(--primary-color)));
    background: linear-gradient(to right, var(--primary-color), var(--primary-color));
  }
}


nz-header {
  background: var(--primary-6) !important;
  display: -webkit-box;
}

.ant-menu-submenu-arrow {
  color:red;
}
.sidebar__options__text {
  color: var(--menu-text-color);
}


.sidebar__options__text:hover {
  color: var(--primary-color);
}


.ant-layout-header{
  padding: 0;
}

:host::ng-deep.ant-menu-inline-collapsed {
  .ant-menu-submenu > .ant-menu-submenu-title {
    padding: 0 24px !important;
    margin-bottom: 8px;

  }

  .ant-scroll-number {
    margin-right: 0px;
  }
}

:host::ng-deep.ant-scroll-number {
  margin-right: 10px;
}

.sidebar-fold {

  :focus {
    outline: none;
  }
  &__button {
    width: 80px;
    font-size: 20px;
    color: black;
    text-align: center;
    background-color: white;
    cursor: pointer;
  }

  &__title {
    display: inline-block;
    margin: auto;
    //height: 64px;
    text-align: center;
    font-size: 26px;
    width: 205px;
    font-family: Montserrat;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: #ffffff;

    cursor: pointer;
    img {
      width: 75%;
      margin-top: -2px;
    }
  }

}

.nav-text {
   line-height: 32px !important;
}

:host::ng-deep.sidebar {
    height: calc(100% - 64px);
    &__options {
      :focus {
        outline: none;
      }
      div {
        padding: 0 24px !important;
      }
      span > i {
        font-size: 32px !important;
        font-weight: bold;
      }
      &__text {
        margin-left: 25px;
        position: absolute;
      }

      &__sub-option {
        padding-left: 90px !important;
      }

    }
    &__lang {

      &__text {
        margin-left: 15px;
        position: absolute;
      }

      i {
        font-size: 32px !important;
        font-weight: bold;
      }

      :focus {
        outline: none;
      }

      padding: 0 24px !important;
      position: absolute !important;
      bottom: 0 !important;
    }
}

#lang-padding {
  padding: 0 25px !important;
}

#icon-menu-start::ng-deep svg {
  path {
      fill: var(--primary-9);
  }
}

#icon-menu-start:hover::ng-deep svg {
  path {
    fill: var(--primary-color);
  }
}
