<nz-spin [nzSpinning]="loading">
  <nz-tabset nzTabPosition="left">
    <nz-tab nzTitle="Despacho" *ngIf="data?.status === 'DISPATCH'">
      <fi-sas-dispatch-decision-card
        [decision]="dispatchDecision"
        (onReject)="dispatchChangeStatues(data, false)"
        (onApprove)="dispatchChangeStatues(data, true)"
      ></fi-sas-dispatch-decision-card>
    </nz-tab>
    <nz-tab nzTitle="Perfil">
      <div nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Nome
          </div>
          <div nz-row class="detail-field">
            {{ application?.name }}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Data de nascimento
          </div>
          <div nz-row class="detail-field">
            {{ application?.birthdate | date:'dd/MM/yyyy' }}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Nacionalidade
          </div>
          <div nz-row class="detail-field">
            {{ application?.nationality ? application?.nationality : '--' }}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Morada
          </div>
          <div nz-row class="detail-field">
            {{ application?.address ? application?.address : '--' }}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Código Postal
          </div>
          <div nz-row class="detail-field">
            {{ application?.code_postal ? application?.code_postal : '--' }}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Localidade
          </div>
          <div nz-row class="detail-field">
            {{ application?.location ? application?.location : '--' }}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            NIF
          </div>
          <div nz-row class="detail-field">
            {{ application?.tin ? application?.tin  : '--' }}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Cartão de Cidadão
          </div>
          <div nz-row class="detail-field">
            {{ application?.identification_number ? application?.identification_number : '--' }}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Número
          </div>
          <div nz-row class="detail-field">
            {{ application?.student_number ? application?.student_number : '--' }}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Ano Curricular
          </div>
          <div nz-row class="detail-field">
            {{ application?.course_year ? application?.course_year : '--' }}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Ano Lectivo
          </div>
          <div nz-row class="detail-field">
            {{ application?.academic_year ? application?.academic_year : '--'}}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20" *ngIf="application?.course?.name">
          <div nz-row class="title">
            Curso
          </div>
          <div nz-row class="detail-field">
            {{ application?.course ? application?.course?.name : '--' }}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Escola
          </div>
          <div nz-row class="detail-field">
            {{ application?.school ? application?.school?.name : '--' }}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Email
          </div>
          <div nz-row class="detail-field">
            {{ application?.email ? application?.email : '--'}}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Telefone
          </div>
          <div nz-row class="detail-field">
            {{ application?.mobile_phone ? application?.mobile_phone : '--' }}
          </div>
        </div>

      </div>
    </nz-tab>



    <nz-tab nzTitle="Candidatura">
      <div nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
          <div nz-row class="title">
            Disponível para realizar atividades em
          </div>
          <div nz-row class="detail-field">
            <span *ngFor="let organic_unit of application?.organic_units;let last = last" class="box">
              {{
              organic_unit.organic_unit?.name }}{{ !last ? ', ' : ''}}
            </span>

          </div>
        </div>
        <div *ngIf="application?.area_interests" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24"
          class="padding-top-20">
          <div nz-row class="title">
            Área de interesse
          </div>
          <div nz-row class="detail-field">
            <span *ngFor="let interest_area of application?.area_interests;let last = last" class="box">
              {{
              interest_area?.area_interest.translations[0].description }}{{ !last ? ', ' : ''}}
            </span>
          </div>
        </div>
        <div *ngIf="application?.skills" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24"
          class="padding-top-20">
          <div nz-row class="title">
            Competências
          </div>
          <div nz-row class="detail-field">
            <span *ngFor="let skill of application?.skills;let last = last" class="box">
              {{ skill?.skill.translations[0].description }}{{ !last ? ', ' : ''}}
            </span>
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
          <div nz-row class="title">
            Colaborou no ano passado?
          </div>
          <div nz-row class="detail-field">
            <fi-sas-tag [value]="application?.has_collaborated_last_year"></fi-sas-tag>
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
          <div nz-row class="title">
            Qual atividade
          </div>
          <div nz-row class="detail-field">
            {{ application?.previous_activity_description ? application?.previous_activity_description : '-' }}
          </div>
        </div>


        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="padding-top-20">
          <div class="row-details" nz-row nzType="flex" nzJustify="start">
            <div nz-row class="title">
              Horário
            </div>
            <div nz-col nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
              <div nz-row>
                <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
                  <nz-table class="schedule" [nzData]="['preferred_schedule']" [nzShowPagination]="false"
                    [nzScroll]="{ x: '100px' }" *ngIf="application?.preferred_schedule">
                    <thead>
                      <tr>
                        <th></th>
                        <th>segunda</th>
                        <th>terça</th>
                        <th>quarta</th>
                        <th>quinta</th>
                        <th>sexta</th>
                        <th>sábado</th>
                        <th>domingo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="schedule--period-day">Manhã</td>
                        <td>
                          <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(4)" [nzTheme]="'outline'"></i>
                        </td>
                        <td>
                          <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(7)" [nzTheme]="'outline'"></i>
                        </td>
                        <td>
                          <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(10)" [nzTheme]="'outline'"></i>
                        </td>
                        <td>
                          <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(13)" [nzTheme]="'outline'"></i>
                        </td>
                        <td>
                          <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(16)" [nzTheme]="'outline'"></i>
                        </td>
                        <td>
                          <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(19)" [nzTheme]="'outline'"></i>
                        </td>
                        <td>
                          <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(1)" [nzTheme]="'outline'"></i>
                        </td>
                      </tr>

                      <tr>
                        <td class="schedule--period-day">Tarde</td>
                        <td>
                          <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(5)" [nzTheme]="'outline'"></i>
                        </td>
                        <td>
                          <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(8)" [nzTheme]="'outline'"></i>
                        </td>
                        <td>
                          <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(11)" [nzTheme]="'outline'"></i>
                        </td>
                        <td>
                          <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(14)" [nzTheme]="'outline'"></i>
                        </td>
                        <td>
                          <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(17)" [nzTheme]="'outline'"></i>
                        </td>
                        <td>
                          <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(20)" [nzTheme]="'outline'"></i>
                        </td>
                        <td>
                          <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(2)" [nzTheme]="'outline'"></i>
                        </td>
                      </tr>

                      <tr>
                        <td class="schedule--period-day">Noite</td>
                        <td>
                          <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(6)" [nzTheme]="'outline'"></i>
                        </td>
                        <td>
                          <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(9)" [nzTheme]="'outline'"></i>
                        </td>
                        <td>
                          <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(12)" [nzTheme]="'outline'"></i>
                        </td>
                        <td>
                          <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(15)" [nzTheme]="'outline'"></i>
                        </td>
                        <td>
                          <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(18)" [nzTheme]="'outline'"></i>
                        </td>
                        <td>
                          <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(21)" [nzTheme]="'outline'"></i>
                        </td>
                        <td>
                          <i nz-icon [nzType]="'check-square'" *ngIf="filterSchedule(3)" [nzTheme]="'outline'"></i>
                        </td>
                      </tr>
                    </tbody>
                  </nz-table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="application?.language_skills" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24"
          class="padding-top-20">
          <div nz-row class="title">
            Línguas
          </div>
          <div nz-row class="detail-field">
            <span *ngFor="let language of application?.language_skills;let last = last" class="box">
              {{
              language }}{{
              !last ? ', ' : ''}}
            </span>

          </div>
        </div>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Experiência profissional">
      <div nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Experiência profissional
          </div>
          <div nz-row class="detail-field">
            <fi-sas-tag [value]="application?.has_profissional_experience"></fi-sas-tag>
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Descrição da atividade
          </div>
          <div nz-row class="detail-field">
            {{ application?.job_description ? application?.job_description : '-' }}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Informação complementar
          </div>
          <div nz-row class="detail-field">
            {{ application?.observations ? application?.observations : '-' }}
          </div>
        </div>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Histórico de candidaturas">
      <div nz-row nzType="flex" nzJustify="start" *ngFor="let history of application?.historic_applications">
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Ano Académico
          </div>
          <div nz-row class="detail-field">
            {{ history.academic_year}}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="18" nzXl="18" class="padding-top-20">
          <div nz-row class="title">
          </div>
          <div nz-row class="detail-field">
            <button nz-button nzType="default" (click)="viewApplicationModal(history.id)">Consultar formulário
              submetido</button>
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <nz-divider></nz-divider>
        </div>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Histórico de participações">
      <div nz-row nzType="flex" nzJustify="start"
        *ngFor="let historic_colaborations of application?.historic_colaborations">

        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <p style="font-weight: bold; color: #000;">{{ historic_colaborations.experience_translations[0]?.title }}</p>
        </div>


        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
          <div nz-row class="title">
            Ano letivo
          </div>
          <div nz-row class="detail-field">
            {{ historic_colaborations.academic_year }}
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="18" nzXl="18" class="padding-top-20">
          <div nz-row class="title">
          </div>
          <div nz-row class="detail-field">
            <button nz-button nzType="default" [nzLoading] = "loadingCertificate"
              (click)="getExperienceCertificate(historic_colaborations?.user_manifest_id)">Consultar certificado de
              Experiência</button>

          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <nz-divider></nz-divider>
        </div>
      </div>

    </nz-tab>

    <nz-tab nzTitle="Histórico de alterações">
      <div nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" *ngFor="let history of application?.history">
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Estado
            </div>
            <div nz-row class="detail-field">
              <fi-sas-tag [value]="history.status" [results]="ApplicationTagResult"></fi-sas-tag>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Data / Hora
            </div>
            <div nz-row class="detail-field">
              {{ history.created_at | date:'dd/MM/yyyy h:mm:ss' }}
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Utilizador
            </div>
            <div nz-row class="detail-field">
              {{ history.user.name }}
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
            <div nz-row class="title">
              Obervações
            </div>
            <div nz-row class="detail-field">
              {{ history.notes }}
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-divider></nz-divider>
          </div>

        </div>
      </div>

    </nz-tab>
  </nz-tabset>
</nz-spin>
