<!--Steps-->

<div *ngIf="step == 0" class="content-form__steps hidden-md step-mobile">
  <div nz-row><label>Passo 1 de 5</label></div>
  <div nz-row class="title-step"><label>Profissional disponível e Horários</label></div>
</div>
<div *ngIf="step == 1" class="content-form__steps hidden-md step-mobile">
  <div nz-row><label>Passo 2 de 5</label></div>
  <div nz-row class="title-step"><label>Identificação do Utente</label></div>
</div>
<div *ngIf="step == 2" class="content-form__steps hidden-md step-mobile">
  <div nz-row><label>Passo 3 de 5</label></div>
  <div nz-row class="title-step"><label>Anexos</label></div>
</div>
<div *ngIf="step == 3" class="content-form__steps hidden-md step-mobile">
  <div nz-row><label>Passo 4 de 5</label></div>
  <div nz-row class="title-step"><label>Métodos de Pagamento</label></div>
</div>
<div *ngIf="step == 4" class="content-form__steps hidden-md step-mobile">
  <div nz-row><label>Passo 5 de 5</label></div>
  <div nz-row class="title-step"><label>Resumo e Validação</label></div>
</div>

<div class="content-form">

  <div class="content-form__steps hidden-xs">
    <nz-steps class="content__line" [nzCurrent]="step" nzProgressDot>
      <nz-step nzTitle="Passo 1 de 5" nzDescription="Profissional disponível e Horários"> </nz-step>
      <nz-step nzTitle="Passo 2 de 5" nzDescription="Identificação do Utente"> </nz-step>
      <nz-step nzTitle="Passo 3 de 5" nzDescription="Anexos"> </nz-step>
      <nz-step nzTitle="Passo 4 de 5" nzDescription="Métodos de Pagamento"></nz-step>
      <nz-step nzTitle="Passo 5 de 5" nzDescription="Resumo e Validação"> </nz-step>
    </nz-steps>
  </div>

  <nz-divider class="divider-web"></nz-divider>

  <!--Form-->
  <div nz-row class="content-form">

    <nz-spin [nzSpinning]="loadingAppointment"></nz-spin>

    <div nz-col class="content-form__form" *ngIf="!loadingAppointment">
      <fi-sas-appointment-step-one #specialtyForm [specialtyInfo]="steps[0].formValues" *ngIf="step == 0">
      </fi-sas-appointment-step-one>
      <fi-sas-appointment-step-two #userForm [userInformation]="steps[1].formValues" *ngIf="step == 1">
      </fi-sas-appointment-step-two>
      <fi-sas-appointment-step-three #attachmentsForm [attachments]="steps[2].formValues" *ngIf="step == 2">
      </fi-sas-appointment-step-three>
      <fi-sas-appointment-step-four #paymentForm [specialty]="steps[0].formValues" [arrayValues]="arrayValues" [payment]="steps[3].formValues" *ngIf="step == 3">
      </fi-sas-appointment-step-four>
      <fi-sas-appointment-step-five [steps]="steps"  [arrayValues]="arrayValues" *ngIf="step == 4" (changeStep)="changeStep($event)">
      </fi-sas-appointment-step-five>
    </div>
  </div>
</div>

<div class="space" nz-row>
  <button *ngIf="step != 0" nz-button (click)="previousStep()" style="margin-right: 15px;">Anterior</button>
  <button nz-button [nzLoading]="loading" [disabled]="loading" (click)="nextStep()" 
      [nzType]="'primary'"> {{ buttonActionName }}</button>
</div>

<fi-sas-buy-modal-box [appointment]="appointment" [specialty]="specialty" (successBuy)="confirmAppointment($event)" #modalBox></fi-sas-buy-modal-box>