<div class="content-form">
  <form [formGroup]="typologyForm" nzLayout="vertical">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="name">Nome</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <input nz-input formControlName="name" id="name" name="name">
          </nz-form-control>
        </nz-form-item>
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="4">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="active">Ativo</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <nz-switch formControlName="active" id="active"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>

<div class="space" nz-row>
  <button *ngIf="idToUpdate" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="loading" [disabled]="loading" (click)="submitForm($event, typologyForm.value)" 
      [nzType]="'primary'">{{idToUpdate ? 'Editar' : 'Criar'}}</button>
</div>