<div nz-row>
  <div nz-col [nzSm]="20" [nzXs]="24">
    <h2 class="title-top-page">
      {{
        "EMERGENCY_FUND.LIST_APPLICATIONS.CONSULT_INTERVIEW.INTERVIEW"
          | translate
      }}
    </h2>
  </div>
  <div *ngFor="let item of interview; let lastItem = last">
    <div>
      <div
        class="list-application__list__item__history__info"
        nz-col
        [nzXs]="{ span: 24 }"
        [nzLg]="{ span: 24 }"
      >
        <div class="list-application__list__item__history__title">
          {{
            "EMERGENCY_FUND.LIST_APPLICATIONS.CONSULT_INTERVIEW.RESPONSABLE"
              | translate
          }}
        </div>
        {{ item.responsable.name }}
      </div>
      <div
        class="list-application__list__item__history__info"
        nz-col
        [nzXs]="{ span: 8 }"
        [nzLg]="{ span: 8 }"
      >
        <div class="list-application__list__item__history__title">
          {{
            "EMERGENCY_FUND.LIST_APPLICATIONS.CONSULT_INTERVIEW.INTERVIEW_DATE"
              | translate
          }}
        </div>
        {{ item.interview_date | date: "dd-MM-yyyy" }}
      </div>
      <div
        class="list-application__list__item__history__info"
        nz-col
        [nzXs]="{ span: 8 }"
        [nzLg]="{ span: 8 }"
      >
        <div class="list-application__list__item__history__title">
          {{
            "EMERGENCY_FUND.LIST_APPLICATIONS.CONSULT_INTERVIEW.INTERVIEW_HOUR"
              | translate
          }}
        </div>
        {{ item.interview_hour | date: "mediumTime" }}
      </div>
      <div
        class="list-application__list__item__history__info"
        nz-col
        [nzXs]="{ span: 8 }"
        [nzLg]="{ span: 8 }"
      >
        <div class="list-application__list__item__history__title">
          {{
            "EMERGENCY_FUND.LIST_APPLICATIONS.CONSULT_INTERVIEW.INTERVIEW_LOCAL"
              | translate
          }}
        </div>
        {{ item.interview_local }}
      </div>
      <div
        class="list-application__list__item__history__info"
        nz-col
        [nzXs]="{ span: 24 }"
        [nzLg]="{ span: 24 }"
      >
        <div class="list-application__list__item__history__title">
          {{
            "EMERGENCY_FUND.LIST_APPLICATIONS.CONSULT_INTERVIEW.INTERVIEW_OBSERVATIONS"
              | translate
          }}
        </div>
        {{ item.interview_observations }}
      </div>
    </div>
    <!--div *ngFor="let document of item.documents">
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 3 }">
        <i
          *ngIf="true"
          nz-icon
          nzType="icons:icons-icons-contacts-info"
          nzTheme="outline"
          id="first_item"
          class="icon"
        ></i>
        <i
          *ngIf="false"
          nz-icon
          id="others_inten"
          nzType="icons:icons-icons-contacts-info"
          nzTheme="outline"
          class="icon"
        ></i>
      </div>
      <div
        class="list-application__list__item__history__info"
        nz-col
        [nzXs]="{ span: 24 }"
        [nzLg]="{ span: 20 }"
      >
        <div class="list-application__list__item__history__title">
          {{
            "EMERGENCY_FUND.LIST_APPLICATIONS.CARD.HISTORY.TITLE" | translate
          }}
          appStep.updated_at | date: "dd-MM-yyyy" }}
        </div>
        {{ "EMERGENCY_FUND.LIST_APPLICATIONS.CARD.HISTORY.INFO" | translate }}
      </div>
    </div-->
    <nz-divider *ngIf="!lastItem"></nz-divider>
  </div>
</div>
