
.content-filter {
  background: white;
  padding: 24px 54px 24px 54px;

  input nz-date-picker {
      width: 100%;
  }

  nz-select {
      width: 100%;
  }

  .search_button {
      text-align: right;
      width: 75%;
      &__button {
          margin-top: 24px;
      }
  }
  &--search {
    margin-top: 4px;
    margin-bottom: 4px;

  }

}
:host::ng-deep{
  .ant-calendar-picker  {
    width: 100%;
  }
}


.content-table {
  margin: 8px;

  .table {
      &__header {
          th {
              background: white;
              color: var(--primary-6);
              font-weight: 700;
          }

          & > th:first-child {
              border-top-left-radius: 2px !important;
          }
          
          & > th:last-child {
              border-top-right-radius: 2px !important;
          }
      }
      
      tr {

          /*td {
              color: var(--text-color);
          }*/

          background: white !important;
      }
  }

  .options_button {
      color: var(--text-color);
      font-size: 22px;
  }
}

.text-right {
  text-align: right;
}

.space {
  padding: 10px;
  background-color: #f0f2f5;
}

.btn-delete{
  cursor: pointer;
  font-size: 18px;
  padding-left: 20px;
}

.cursor {
  cursor: pointer;
}

.container {
  background: white;
  padding: 24px 30px 24px 30px;
  margin-bottom: 5px;
  &__title {
      font-size: 16px;
      line-height: 22px;
      margin: 0px;
      font-weight: bold;
      margin-bottom:10px;
      color:black;
  }
  &__subtitle{
    margin-bottom:5px;
  }
}