<div nz-row nzType="flex" nzJustify="start" nzAlign="middle" class="content-filter">
  <div nz-col nzSpan="24">
    <div nz-row nzType="flex" nzGutter="8">
      <div nz-col class="content-filter--search" nz-col nzXs="22" nzSm="22" nzMd="22" nzLg="11" nzXl="7" nzXXl="7">
        <nz-form-label>Título</nz-form-label>
        <input nz-input [(ngModel)]="filters.search" id="search" name="search">
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
      <div nz-col class="content-filter--search" nz-col nzXs="22" nzSm="22" nzMd="22" nzLg="11" nzXl="7" nzXXl="7">
        <nz-form-label>Estado</nz-form-label>
        <nz-select [(ngModel)]="filters.status"  nzAllowClear nzShowSearch="true">
          <nz-option nzLabel="Aprovado" nzValue="APPROVED"></nz-option>
          <nz-option nzLabel="Em espera" nzValue="WAITING_APPROVAL"></nz-option>
          <nz-option nzLabel="Rejeitado" nzValue="REJECTED"></nz-option>
        </nz-select>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
      <div nz-col class="content-filter--search" nz-col nzXs="22" nzSm="22" nzMd="22" nzLg="12" nzXl="8" nzXXl="8">
        <nz-form-label>Categoria</nz-form-label>
        <nz-select [(ngModel)]="filters.category_id" [nzLoading]="typologies_loading" 
          nzAllowClear nzShowSearch="true">
          <nz-option *ngFor="let category of categories" [nzLabel]="(category.translations | translation)?.name"
            [nzValue]="category.id">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-row nzType="flex" nzGutter="8">
      <div nz-col class="content-filter--search" nz-col nzXs="22" nzSm="22" nzMd="22" nzLg="11" nzXl="7" nzXXl="7">
        <nz-form-label>Criado por</nz-form-label>
        <fi-sas-user-select [(ngModel)]="filters.created_by_id" [returnID]="true"></fi-sas-user-select>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
      <div nz-col class="content-filter--search" nz-col nzXs="22" nzSm="22" nzMd="22" nzLg="11" nzXl="7" nzXXl="7">
        <nz-form-label>Data início</nz-form-label>
        <nz-date-picker style="width: 100%;" [(ngModel)]="filters.date_begin">
        </nz-date-picker>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzLg]="1" [nzXl]="1" [nzXXl]="1"></div>
      <div nz-col class="content-filter--search" nz-col nzXs="22" nzSm="22" nzMd="22" nzLg="12" nzXl="8" nzXXl="8">
        <nz-form-label>Data Fim</nz-form-label>
        <nz-date-picker style="width: 100%;" [(ngModel)]="filters.date_end" >
        </nz-date-picker>
      </div>
    </div>
    <div nz-row nzType="flex" nzGutter="8" nzJustify="end">
      <div nz-col class="content-filter--search" style="text-align: right;" nz-col nzXs="22" nzSm="22" nzMd="22"
        nzLg="12" nzXl="8" nzXXl="8">
        <button nz-button nzType="primary" class="search_button__button" (click)="searchData(true)">Filtrar</button>
        <i nz-icon nzType="delete" class="btn-delete" nzTheme="outline" (click)="listComplete()"></i>
      </div>
    </div>
  </div>
</div>

<div nz-row class="space">
  <div nz-col style="float: right; margin: 12px;">
    <button nz-button nzType="primary" (click)="fetchRss()">Atualizar Tickers</button>
  </div>
</div>



<div class="container">
  <div class="content-table">
    <nz-table class="table" #refTable [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)"
      [nzLoading]="loading" [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex" [nzShowSizeChanger]="true"
      [nzTotal]="totalData" [nzScroll]="{ x: '240px' }" [(nzPageSize)]="pageSize" (nzPageIndexChange)="pagination()"
      (nzPageSizeChange)="pagination(true)">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr class="table__header">

          <th>
            Título
          </th>
          <th nzShowSort nzSortKey="date_begin">
            Data Início
          </th>
          <th nzShowSort nzSortKey="date_end">
            Data Fim
          </th>
          <th nzShowSort nzSortKey="weight">
            Peso
          </th>
          <th>
            Categoria
          </th>
          <th>
            Criada por
          </th>
          <th>
            Estado
          </th>
          <th nzRight="0px">Ações</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="refTable.data">
          <tr>
            <td>
              {{ (data.translations.length > 0 ? ((data.translations | translation)?.title ? (data.translations | translation)?.title : 'Sem
              titulo') :
              'Sem titulo') | truncate : [30 , '...']}}
            </td>
            <td>{{ data.date_begin | date:'dd/MM/yyyy' }} - {{ data.date_begin | date:'HH:mm' }}h</td>
            <td>{{ data.date_end | date:'dd/MM/yyyy' }} - {{ data.date_end | date:'HH:mm' }}h</td>
            <td>{{ data.weight }}</td>
            <td>{{data?.category?.translations?.length > 0 ? (data?.category?.translations | translation)?.name : 'Sem Categoria' }}</td>
            <td>{{data.created_by?.name ? data.created_by?.name : '-' }}</td>

            <td>
              <nz-tag [nzMode]="'checkable'" (nzCheckedChange)="showHistory(data.history)" class="cursor"
                *ngIf="data.status === PostStatus.Approved" [nzColor]="'green'">Aprovado</nz-tag>
              <nz-tag [nzMode]="'checkable'" (nzCheckedChange)="showHistory(data.history)"  class="cursor"
                *ngIf="data.status === PostStatus.WaitingApproval" [nzColor]="'blue'">Em espera</nz-tag>
              <nz-tag [nzMode]="'checkable'" (nzCheckedChange)="showHistory(data.history)"  class="cursor"
                *ngIf="data.status === PostStatus.Rejected" [nzColor]="'red'">Rejeitado</nz-tag>
            </td>
            <td nzRight="0px">
              <button nz-button nz-dropdown nzType="link" class="options_button" [nzDropdownMenu]="menu"
                nzPlacement="bottomRight">
                <i nz-icon nzType="dash" nzTheme="outline"></i>
              </button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item [nzDisabled]="!('communication:posts:update' | hasPermission)"
                    (click)="edit(data.id)">Editar
                  </li>
                  <li nz-menu-item [nzDisabled]="!(('communication:posts:approve' | hasPermission) && ('communication:posts:reject' | hasPermission))"
                    (click)="editStatus(data)">Alterar estado
                  </li>
                  <li nz-menu-item [nzDisabled]="!('communication:posts:delete' | hasPermission)"
                    (click)="deletePost(data.id)">Eliminar</li>
                </ul>
              </nz-dropdown-menu>
            </td>
          </tr> 
        </ng-template>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal [(nzVisible)]="isHistoryVisible" nzTitle="Histórico de Estados" [nzCancelText]="null"
  (nzOnCancel)="handleHistoryCancel()" (nzOnOk)="handleHistoryOk()">
  <span *ngIf="tempHistory.length === 0">Sem dados para apresentar</span>
  <nz-timeline>
    <nz-timeline-item *ngFor="let state of tempHistory;"
      [nzColor]="state.status === PostStatus.Approved ? 'green' : (state.status === PostStatus.Rejected ? 'red' : 'blue')">
      <p>{{ state.created_at | date:'medium' }} [{{ state.status === PostStatus.Approved ? 'Aprovado' : ( state.status
        === PostStatus.WaitingApproval ? 'Em Espera' : 'Rejeitado') }}] - {{ state.notes }}</p>
    </nz-timeline-item>
  </nz-timeline>
</nz-modal>

<nz-modal [(nzVisible)]="isNotesVisible" nzTitle="Notas sobre validação" (nzOnCancel)="isNotesVisible = false"
  [nzFooter]="modalFooter">
  <textarea maxlength="255" nz-input placeholder="Notas" [(ngModel)]="notes" nzAutosize></textarea>
  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="approve()"
      hasPermission="communication:posts:approve"> Aprovar </button>
    <button nz-button style="margin-left: 16px;" nz-button nzType="danger"
      (click)="reject()" hasPermission="communication:posts:reject"> Rejeitar </button>
  </ng-template>
</nz-modal>