<form *ngIf="form" nz-form [formGroup]="form">
  <div nz-row>
    <h2 class="title-top-page">{{ 'VOLUNTEERING.GENERAL_COMPLAIN.TITLE' | translate }}</h2>

    <div nz-row nzGutter="34">
      <div nz-col nzXs="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="real_hours" class="primary-input-label">
            {{ 'VOLUNTEERING.GENERAL_COMPLAIN.INPUT_COMPLAIN' | translate }}
          </nz-form-label>

          <nz-form-control>
            <textarea class="primary-textarea" rows="5" formControlName="complain" id="complain" nz-input maxlength="255"></textarea>
            <nz-form-explain *ngIf="form.get('complain')?.dirty && form.get('complain').errors" class="error">
              {{ getInputError('complain') }}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24">
        <nz-form-item>
          <nz-form-label nzFor="file_id" class="primary-input-label">
            {{ 'VOLUNTEERING.GENERAL_COMPLAIN.INPUT_FILE' | translate }}
          </nz-form-label>

          <nz-form-control>
            <nz-form-control>
              <app-file-upload
                class="primary-file-upload"
                [filterTypes]="filterTypes"
                formControlName="file_id"
                (fileDeleted)="form.get('file_id').setValue(null)"
              ></app-file-upload>
              <div class="font-file">
                {{ 'MISC.FORMAT_UPLOAD_MORE' | translate }} pdf, png, jpg. {{ 'MISC.LIMIT_MAX_FILE' | translate }}
              </div>
              <nz-form-explain class="error" *ngIf="form.get('file_id')?.dirty && form.get('file_id').errors">
                {{ getInputError('file_id') }}
              </nz-form-explain>
            </nz-form-control>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </div>

  <div nz-row nzGutter="34" class="form--buttons">
    <div nz-col nzXs="12">
      <app-button type="secundary" translate="MISC.CANCEL" (click)="close()"> </app-button>
    </div>

    <div nz-col nzXs="12" style="text-align: right">
      <app-button type="primary" translate="MISC.SUBMIT" [loading]="isLoading" (click)="onSubmit()"></app-button>
    </div>
  </div>
</form>
