<nz-tabset nzTabPosition="left">
  <nz-tab nzTitle="Bicicleta">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Bicicleta
        </div>
        <div nz-row class="detail-field">
          {{ data.bike.identification }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Tipologia
        </div>
        <div nz-row class="detail-field">
          {{ data.typology_name }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Tamanho da bicicleta
        </div>
        <div nz-row class="detail-field">
          {{ data.bike.size }}
        </div>
      </div>
    </div>

  </nz-tab>

  <nz-tab nzTitle="Utilizador">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Utilizador
        </div>
        <div nz-row class="detail-field">
          {{ data?.user?.name }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Perfil
        </div>
        <div nz-row class="detail-field">
          {{ data.profile_name }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Idade
        </div>
        <div nz-row class="detail-field">
          {{ data.user_age }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Email
        </div>
        <div nz-row class="detail-field">
          {{ data.user?.email }}
        </div>
      </div>
    </div>

  </nz-tab>


  <nz-tab nzTitle="Dados dos Percurso">
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Distância
        </div>
        <div nz-row class="detail-field">
          {{ data.distance | number: '1.2-2' }}Km
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Energia Poupada
        </div>
        <div nz-row class="detail-field">
          {{ data.energy | number: '1.2-2' }}g
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Duração
        </div>
        <div nz-row class="detail-field">
          {{ formatTime(data.time) }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Energia gerada
        </div>
        <div nz-row class="detail-field">
          {{ data.watts }}W
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Elevação
        </div>
        <div nz-row class="detail-field">
          {{ data.height_diff }}m
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Redução de emissões de Co2
        </div>
        <div nz-row class="detail-field">
          {{ data.co2_emissions_saved | number: '1.2-2' }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Velocidade média
        </div>
        <div nz-row class="detail-field">
          {{ data.avg_speed | number: '1.2-2'}}Km/h
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Descrição
        </div>
        <div nz-row class="detail-field">
          {{ data.description }}
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6" class="padding-top-20">
        <div nz-row class="title">
          Data de início do percurso
        </div>
        <div nz-row class="detail-field">
          {{ data.trip_start | date: "dd/MM/yyyy"}}
        </div>
      </div>

    </div>

  </nz-tab>

</nz-tabset>