<div class="footer" nz-row nzType="flex">
  <!--Informations links-->
  <div class="footer__informations" nz-col [nzXs]="24" [nzLg]="8">
    <span>
      <a [routerLink]="['/regulations', 'informations']" target="_blank">
        {{ "FOOTER.INFORMATIONS" | translate }} ∙
      </a>
      <a [routerLink]="['/regulations', 'terms']" target="_blank">
        {{ "FOOTER.TERMS" | translate }} ∙
      </a>
      <a [routerLink]="['/regulations', 'privacy_politics']" target="_blank">
        {{ "FOOTER.PRIVACY_POLICIES" | translate }} ∙
      </a>
      <a href="https://forms.gle/5NydgVdQMvHyewCk6" target="_blank">
        {{"FOOTER.FAULT_COMMUNICATION" | translate}}
      </a>
    </span>
  </div>

  <!--Copyright-->
  <div class="footer__copyright" nz-col [nzXs]="0" [nzLg]="8">
    <span>sasocial © {{ current_date | date: "yyyy" }} | v{{ version }}</span>
  </div>

  <!--Logo Ama-->
  <div class="footer__logo" nz-col [nzXs]="0" [nzLg]="8">
    <img src="/assets/imgs/compete.svg" />
  </div>
</div>
