<form nz-form [formGroup]="billingGroup" nzLayout="vertical">
  <nz-form-item>
    <nz-form-label nzFor="application_id" nzSpan="24">Candidatura</nz-form-label>
    <nz-form-control nzSpan="24">
      <nz-select formControlName="application_id" name="application_id" nzPlaceHolder="Candidatura" nzAllowClear
        (ngModelChange)="selectTariff()" [nzLoading]="loading" nzServerSearch="true" nzShowSearch="true"
        (nzOnSearch)="onSearch($event)">
        <nz-option *ngFor="let application of applications" nzCustomContent [nzLabel]="'Nome: '+application.full_name+' | NIF: '+
          application.tin+' | Nº estudante: '+application.student_number+
          '| Residência: '+application.assignedResidence.name+' | Quarto: '+application.room.name+' | Estado:' +
          ApplicationStatusTranslations[application.status].label" [nzValue]=" application.id">
          <div style="white-space: normal; text-overflow: unset;">Nome: {{application.full_name}} | NIF:
            {{application.tin}} | Nº estudante: {{application.student_number}}
            | Residência: {{application.assignedResidence.name}} | Quarto: {{application.room.name}} | Estado:
            {{ApplicationStatusTranslations[application.status].label}}</div>
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="application_id" nzSpan="24">Tarifário</nz-form-label>
    <nz-form-control nzSpan="24">
      <nz-select formControlName="tariff_id" name="tariff_id" nzPlaceHolder="Tarifário" nzAllowClear
        [nzLoading]="loading">
        <nz-option *ngFor="let tariff of tariffs" [nzLabel]="tariff.name" [nzValue]=" tariff.id">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="monthPicker" nzSpan="24">Periodo</nz-form-label>
    <nz-form-control nzSpan="24">
      <nz-month-picker [(ngModel)]="monthPicker" (ngModelChange)="updateFormValues()"
        [ngModelOptions]="{standalone: true}" nzPlaceHolder="Mês">
      </nz-month-picker>
    </nz-form-control>
  </nz-form-item>

  <div nz-row>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzFor="billing_start_date" nz-row>Data início</nz-form-label>
        <nz-form-control nz-row>
          <nz-date-picker formControlName="billing_start_date" nzPlaceHolder="Data início">
          </nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzFor="billing_end_date" nz-row>Data fim</nz-form-label>
        <nz-form-control nz-row>
          <nz-date-picker formControlName="billing_end_date" nzPlaceHolder="Data fim">
          </nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>





</form>