<div nz-row>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
  <div nz-col [nzSm]="20" [nzXs]="22" class="attendances" *ngIf="currentColaboration">
    <nz-spin [nzSpinning]="isLoading">
      <div nz-row class="attendances--header">
        <div nz-col nzXs="24" [nzLg]="{ span: currentColaboration?.contract_file ? 12 : 24 }">
          <h2 class="title-top-page">  {{
            translations?.length > 1
            ? (translations | languageChange)?.name
            : ('VOLUNTEERING.ATTENDANCES.TITLE' | translate)
            }}</h2>

          <p class="sub-title-top-page" *ngIf="collaborationStillGoing"> {{ 'VOLUNTEERING.ATTENDANCES.SUBTITLE' | translate }}</p>
          <p class="sub-title-top-page" *ngIf="!collaborationStillGoing && !collaborationInWithdrawl"> {{ 'VOLUNTEERING.ATTENDANCES.FINISHED_PARTICIPATION' | translate }}</p>
          <p class="sub-title-top-page" *ngIf="!collaborationStillGoing && collaborationInWithdrawl"> {{ 'VOLUNTEERING.ATTENDANCES.WITHDRAWAL' | translate }}</p>

          <!--<ng-template #closedCollaborationTemplate>
            <p class="sub-title-top-page"> {{ 'VOLUNTEERING.ATTENDANCES.FINISHED_PARTICIPATION' | translate }}</p>
          </ng-template>-->
        </div>

        <div *ngIf="currentColaboration.contract_file" nz-col nzXs="24"
          [nzLg]="{ span: currentColaboration?.contract_file ? 12 : 24 }">
          <app-file-button [file]="currentColaboration.contract_file" filename="SOCIAL_SUPPORT.CONTRACT" title="SOCIAL_SUPPORT.CONTRACT"></app-file-button>
        </div>
      </div>

      <app-buttons-panel [collaboration]="currentColaboration"></app-buttons-panel>

      <div nz-row nzGutter="15" nzType="flex" nzAlign="stretch" class="attendances--statistics">
        <div nz-col nzXs="24" nzLg="6">
          <div class="content-card">
            <app-experience-name class="attendances--statistics--item" [translations]="translations"
              [experienceName]="(currentColaboration?.experience?.translations | languageChange)?.title">
            </app-experience-name>
          </div>
        </div>

        <div nz-col nzXs="24" nzLg="18">
          <div class="content-card">
            <app-dashboard class="attendances--statistics--item" [applicationID]="currentColaboration.id">
            </app-dashboard>
          </div>
        </div>
      </div>

      <nz-tabset>
        <nz-tab [nzTitle]="'SOCIAL_SUPPORT.ATTENDANCES.TABS.ATTENDANCES_ABSENCE.TITLE' | translate">
          <app-list-attendances [collaborationId]="currentColaboration.id" [collaborationDateStart]="currentColaboration.experience.start_date"  [collaborationDateEnd]="currentColaboration.experience.end_date"></app-list-attendances>
        </nz-tab>

        <nz-tab [nzTitle]="'SOCIAL_SUPPORT.ATTENDANCES.TABS.MONTHLY_REPORT.TITLE' | translate">
          <app-list-monthly-reports [collaborationId]="currentColaboration.id"></app-list-monthly-reports>
        </nz-tab>
      </nz-tabset>
    </nz-spin>
  </div>
  <div nz-col [nzSm]="2" [nzXs]="1"></div>
</div>
