<div class="content--padding white">
    <form nz-form [formGroup]="formCreate">
        <div nz-row>
            <div nz-col [nzSpan]="11">
                <nz-form-item>
                    <nz-form-label nzRequired>Nome</nz-form-label>
                    <nz-form-control>
                        <input formControlName="name" nz-input type="text">
                        <nz-form-explain class="color-required" *ngIf="submitted && f.name.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="2">
            </div>
            <div nz-col [nzSpan]="11">
                <nz-form-item>
                    <nz-form-label>Referência externa</nz-form-label>
                    <nz-form-control>
                        <input formControlName="external_ref" nz-input type="text">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="11">
                <nz-form-item>
                    <nz-form-label nzRequired>Acrónimo</nz-form-label>
                    <nz-form-control>
                        <input formControlName="acronym" nz-input type="text">
                        <nz-form-explain class="color-required" *ngIf="submitted && f.acronym.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="2">
            </div>
            <div nz-col [nzSpan]="11">
                <nz-form-item>
                    <nz-form-label nzRequired>Grau curso</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="course_degree_id">
                            <nz-option *ngFor="let courseDegree of lisCourseDegree" [nzLabel]="courseDegree.name" [nzValue]="courseDegree.id">
                            </nz-option>
                        </nz-select>
                        <nz-form-explain class="color-required" *ngIf="submitted && f.course_degree_id.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="11">
                <nz-form-item>
                    <nz-form-label nzRequired>Escola</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="organic_unit_id">
                            <nz-option *ngFor="let unit of unitOrganic" [nzLabel]="unit.name" [nzValue]="unit.id">
                            </nz-option>
                        </nz-select>
                        <nz-form-explain class="color-required" *ngIf="submitted && f.organic_unit_id.errors">
                            Campo obrigatório
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div> 
        <div nz-row>
            <div nz-col [nzSpan]="11">
                <nz-form-item>
                    <nz-form-label nzRequired>Ativo</nz-form-label>
                    <nz-form-control>
                        <nz-switch formControlName="active">
                        </nz-switch>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</div>

<div class="space" nz-row>
    <button *ngIf="isEdit" nz-button (click)="returnButton()" style="margin-right: 15px;">Voltar</button>
    <button nz-button [nzLoading]="isLoading" [disabled]="isLoading"
      (click)="submit()" class="button-submit"
      [nzType]="'primary'">{{isEdit ? 'Editar' : 'Criar'}}</button>
</div>