<h3 class="title-top-page">{{ 'SHARED.NAMED_FILE.EDIT_TITLE' | translate }}</h3>

<form nz-form [formGroup]="form" *ngIf="form" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-control>
      <input nz-input class="primary-input" formControlName="name" id="filename_edit" />
      <nz-form-explain class="orginal-name-label">
        {{ 'SHARED.NAMED_FILE.ORIGINAL_NAME' | translate }}: <b>{{ originalName }}</b>
      </nz-form-explain>
      <nz-form-explain class="error" *ngIf="form.get('name')?.dirty && form.get('name').errors">
        {{ 'MISC.REQUIRED_FIELD' | translate }}
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <div class="file-name-edit-actions">
    <app-button translate="SHARED.NAMED_FILE.SAVE" style="margin-left: auto;"></app-button>
  </div>
</form>
