<div
  nzType="flex"
  nzAlign="middle"
  nzJustify="center"
  perfectScrollbar
  class="page ps scroll-container"
>
  <div class="container">
    <form [formGroup]="equipmentForm" nzLayout="vertical">
      <nz-spin [nzSpinning]="loading">
        <div nz-row>
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="16"
            [nzLg]="16"
            [nzXl]="16"
            [nzXXl]="16"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label nzRequired> Nome </nz-form-label>
              <nz-form-control>
                <input type="text" nz-input formControlName="name" />
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.name.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>

        <div nz-row style="padding-top: 20px">
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="7"
            [nzLg]="7"
            [nzXl]="7"
            [nzXXl]="7"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label nzRequired> Serviço / Área </nz-form-label>
              <nz-form-control>
                <nz-select
                  formControlName="service_id"
                  [nzLoading]="servicesLoading"
                  name="service_id"
                  nzPlaceHolder="Serviço"
                  nzAllowClear
                >
                  <nz-option
                    *ngFor="let item of services"
                    [nzLabel]="item.name"
                    [nzValue]="item.id"
                    [nzDisabled]="!item.active"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.service_id.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>

          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="7"
            [nzLg]="7"
            [nzXl]="7"
            [nzXXl]="7"
            class="padding-right-20"
          >
            <div nz-row>
              <nz-form-label nzRequired> Tipo </nz-form-label>
              <nz-form-control>
                <nz-select
                  formControlName="type"
                  name="type"
                  nzPlaceHolder="Tipo"
                  (ngModelChange)="onTypeChange($event)"
                >
                  <nz-option
                    nzLabel="Refrigeração"
                    [nzValue]="EquipmentType.REFRIGERATION"
                  >
                  </nz-option>
                  <nz-option
                    nzLabel="Fritadeira"
                    [nzValue]="EquipmentType.DEEP_FRYER"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.type.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>

          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="6"
            [nzLg]="6"
            [nzXl]="6"
            [nzXXl]="6"
          >
            <div nz-row class="padding-bottom-5">
              <nz-form-label nzRequired> Higienização </nz-form-label>
            </div>
            <div nz-row class="padding-bottom-5 padding-top-5">
              <nz-switch formControlName="sanatize"> </nz-switch>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.sanatize.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>

        <div nz-row style="padding-top: 20px">
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="7"
            [nzLg]="7"
            [nzXl]="7"
            [nzXXl]="7"
            class="padding-right-20"
            *ngIf="equipmentForm.value.type === EquipmentType.REFRIGERATION"
          >
            <div nz-row>
              <nz-form-label nzRequired> Temperatura mínima </nz-form-label>
              <nz-form-control>
                <input
                  type="number"
                  nz-input
                  formControlName="minimum_temperature"
                />
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.minimum_temperature.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="7"
            [nzLg]="7"
            [nzXl]="7"
            [nzXXl]="7"
            class="padding-right-20"
            *ngIf="
              equipmentForm.value.type === EquipmentType.REFRIGERATION ||
              equipmentForm.value.type === EquipmentType.DEEP_FRYER
            "
          >
            <div nz-row>
              <nz-form-label nzRequired> Temperatura máxima </nz-form-label>
              <nz-form-control>
                <input
                  type="number"
                  nz-input
                  formControlName="maximum_temperature"
                />
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.maximum_temperature.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="7"
            [nzLg]="7"
            [nzXl]="7"
            [nzXXl]="7"
            class="padding-right-20"
            *ngIf="equipmentForm.value.type === EquipmentType.DEEP_FRYER"
          >
            <div nz-row>
              <nz-form-label nzRequired>
                Limite compostos polares %
              </nz-form-label>
              <nz-form-control>
                <input
                  type="number"
                  nz-input
                  formControlName="polar_compounds_limit"
                />
              </nz-form-control>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.polar_compounds_limit.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>

        <div nz-row style="padding-top: 20px">
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="6"
            [nzLg]="6"
            [nzXl]="6"
            [nzXXl]="6"
          >
            <div nz-row class="padding-bottom-5">
              <nz-form-label nzRequired> Ativo </nz-form-label>
            </div>
            <div nz-row class="padding-bottom-5 padding-top-5">
              <nz-switch formControlName="active"> </nz-switch>
              <nz-form-explain
                class="color-required"
                *ngIf="submitted && f.active.errors"
              >
                Campo obrigatório
              </nz-form-explain>
            </div>
          </div>
        </div>
      </nz-spin>
    </form>
  </div>
  <div class="space">
    <button *ngIf="id != undefined" nz-button (click)="backList()">
      Voltar
    </button>
    <button
      nz-button
      [nzLoading]="loading"
      [disabled]="loading"
      (click)="id != undefined ? submitEquipment(true) : submitEquipment(false)"
      class="button-submit"
      [nzType]="'primary'"
    >
      {{ id != undefined ? 'Editar' : 'Criar' }}
    </button>
  </div>
</div>
