<div class="content-form">
    <form [formGroup]="reportForm" (ngSubmit)="submitForm($event, reportForm.value)" nzLayout="vertical">
        <div nz-row nzGutter="24" nzAlign="middle" nzType="flex">
            <div nz-col nzSpan="8">
                Mapa de Candidatos na Bolsa de Voluntariado (por ano letivo)
            </div>
            <div nz-col nzSpan="4">
                <nz-select formControlName="academic_year" id="academic_year" name="academic_year"
                    nzPlaceHolder="Ano letivo">
                    <nz-option *ngFor="let academic_year of academic_years" [nzLabel]="academic_year.academic_year"
                        [nzValue]="academic_year.academic_year">
                    </nz-option>
                </nz-select>
            </div>

            <div nz-col nzSpan="12" class="content-form__actions">
                <button nz-button nzType="primary" type="submit" [disabled]="!reportForm.get('academic_year').value"
                    [nzLoading]="loading">Gerar relatório em XLS</button>
            </div>
        </div>
    </form>
</div>