<div class="interest-card" [ngClass]="{ 'approved-collaboration': approved }">
  <ng-container *ngIf="approved">
    <div class="approved-collaboration--title">
      {{ 'VOLUNTEERING.INTEREST.APPROVED.TITLE' | translate }}
    </div>
    <div class="approved-collaboration--subtitle">
      {{ 'VOLUNTEERING.INTEREST.APPROVED.SUBTITLE' | translate }}
    </div>
  </ng-container>

  <div nz-row>
    <div nz-col nzXs="24" nzLg="4" nzXl="3">
      <app-action-status-badge [data]="interest"></app-action-status-badge>
    </div>

    <div nz-col nzXs="24" nzLg="11" nzXl="12" class="interest-card--title" [routerLink]="['/volunteering/experiences/', interest?.experience?.id]">
        {{ (interest?.experience?.translations | languageChange)?.title }}
    </div>

    <div nz-col nzXs="24" nzLg="9">
      <ng-container *ngFor="let button of buttons; let i = index">
        <app-button *ngIf="button.show" class="interest-card--button" [type]="button.type"
          [translate]="button.title" [loading]="button.loading" (click)="button.action(i)"></app-button>
      </ng-container>
    </div>
  </div>

  <div nz-row >
    <div nz-col nzXs="24" [nzLg]="{ span: 20, offset: 4 }" [nzXl]="{ span: 21, offset: 3 }">
      <div class="interest-card--description">
        <b> {{ (interest?.experience?.translations | languageChange)?.description }}</b>
      </div>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="24">
      <div nz-row>
        <div nz-col nzXs="24" nzLg="4" nzXl="3" class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{ 'SOCIAL_SUPPORT.APPLICATIONS.SUBMITTED_ON' | translate }}</span>
          </div>
          <div nz-row>
            <span class="description-detail">{{ interest?.experience?.publish_date | date: 'dd-MM-yyyy' }}</span>
          </div>
        </div>
        <div nz-col nzXs="24" nzMd="12" nzLg="7" nzXl="7" class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{ 'SOCIAL_SUPPORT.APPLICATIONS.ORGANIC_UNIT' | translate }}</span>
          </div>
          <div nz-row>
            <span class="description-detail">{{ interest?.experience?.organic_unit?.name }} - {{
              interest?.experience?.organic_unit?.code }}</span>
          </div>
        </div>
        <div nz-col nzXs="24" nzMd="12" nzLg="13" nzXl="12" nzXXl="12" class="padding-top-15">
          <div nz-row>
            <span class="title-detail">{{ 'SOCIAL_SUPPORT.APPLICATIONS.APPLICATIONS_DEADLINE' | translate }}</span>
          </div>
          <div nz-row>
            <span class="description-detail">
              {{ 'SOCIAL_SUPPORT.APPLICATIONS.APPLICATIONS' | translate }}
              {{ interest?.experience?.publish_date | date: 'dd MMMM yyyy' }}
              {{ 'SOCIAL_SUPPORT.APPLICATIONS.TO' | translate }}
              {{ interest?.experience?.application_deadline_date | date: 'dd MMMM yyyy' }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>