@border-radius: 5px;

.interest-card {
  background-color: #ffffff;
  border-radius: @border-radius;
  padding: 25px 15px 15px 15px;
  border: 2px solid white;

  &--title {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.33;
    margin-bottom: 5px;
    cursor: pointer;
  }

  &--button {
    float: right;
    margin-left: 5px;
  }

  &--description {
    color: #222222;
    font-size: 14px;
    margin-top: -12px;
    font-weight: 500;
    line-height: 1.6;
  }

  .margin-bottom-5 {
    margin-top: 5px;
  }

  .padding-top-15 {
    padding-top: 15px;
  }

  .title-detail {
    font-size: 13px;
    color: var(--primary-7);
  }
  
  .description-detail {
    color: black;
    font-size: 13px;
  }
}

.approved-collaboration {
  border-color: var(--primary-color);

  &--title {
    color: var(--primary-color);
    font-size: 23px;
    font-weight: bold;
  }

  &--subtitle {
    color: var(--primary-color);
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 10px;
  }
}

@media only screen and (max-width: 575px) {
  .present-collaboration {
    &--title {
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .present-collaboration {
    &--button {
      margin-top: 5px;
    }
  }
}
