.error {
  margin-top: 32px;
  margin-bottom: 32px;
  &__body {
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
      background-color: #ffffff;
      padding: 24px;

      &__title {
        font-family: Montserrat;
        font-size: 21px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: normal;
        color: #111111;
        text-align: center;
      }

      &__subtitle {
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: normal;
        color: #222222;
        text-align: center;
      }

      &__img {
        margin-top: 10%;
      }

      &__btn {
        margin-top: 48px;
      }
  }
}
