<div nz-row nzType="flex" nzJustify="center" nzAlign="middle" class="error">
  <div nz-col class="error__body" [nzXs]="24" [nzSm]="13" [nzLg]="8">
    <p class="error__body__title">{{ 'SSO_ERROR.TITLE' | translate }}</p>
    <p class="error__body__subtitle">{{ 'SSO_ERROR.SUBTITLE' | translate }}</p>
    <nz-empty class="error__body__img"
 nzNotFoundContent="{{ 'SSO_ERROR.CONTENT' | translate }}"
 nzNotFoundImage="assets/imgs/cards-ilustration-negative.svg"
></nz-empty>
    <div nz-row nzType="flex" nzJustify="center">
        <button [routerLink]="['/', 'auth', 'login']" class="error__body__btn" nz-button nzType="link" >{{ 'SSO_ERROR.RETRY' | translate }}</button>
    </div>
  </div>
</div>
