.title {
  margin-top: 2px;
  margin-bottom: 8px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #333333;
}
.description {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 32px;
}
.month-picker-component {
  text-align: center;
  margin-bottom: 32px ;
}

.movement-divider {
  margin: 0;
}

.debit {
  color: #ec001d;
}

.credit {
  color: #1ba974;
}


.movements {
  &__list {}
  &__operation {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #000000;
  }
  &__icon{
    size: 16px;
    text-align: center;
  }
  &__total_value {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: right;
  }
  &__description {
    font-family: Montserrat;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: #979797;
  }
  &__balance {
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: right;
    color: #9e9e9e;
  }
  &__date {
    font-family: Montserrat;
    font-size: 11px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: #979797;
  }
}
