<div nz-row [nzType]="'flex'">
  <div nz-col nzSpan="1"></div>
  <div nz-col nzSpan="22">

    <div nz-row>
      <div nz-col class="title">
        Movimentos
      </div>
    </div>

    <div nz-row>
      <div nz-col class="description">
        Consulte os movimentos relacionados com as refeições.
      </div>
    </div>

    <div nz-row>
      <div nz-col class="month-picker-component">
        <fisas-month-picker (monthSelected)="movementsSearchForMonth($event)" ></fisas-month-picker>
      </div>
    </div>

    <nz-divider class="movement-divider"></nz-divider>

    <div nz-row class="movements__list">
      <nz-list [nzDataSource]="movementsByItems" [nzRenderItem]="movement" [nzItemLayout]="'horizontal'" [nzLoading]="loading">
        <ng-template #movement let-movement>
          <nz-list-item >
            <nz-list-item-meta
                    [nzTitle]="operation"
                    [nzDescription]="movementInfo">
              <ng-template #operation >
                <div nz-row [nzType]="'flex'">
                  <div nz-col nzSpan="16" class="movements__operation">
                    {{ movement.item.name }}
                  </div>
                  <div nz-col nzSpan="4" class="movements__icon">
                    <i *ngIf="movement.status === MovementStatus.CONFIRMED" nz-icon nzType="icons:top-up"></i>
                    <i *ngIf="movement.status === MovementStatus.PAID" nz-icon nzType="icons:icons-success"></i>
                    <i *ngIf="movement.status === MovementStatus.PENDING" nz-icon nzType="icons:icons-alert-2"></i>
                    <i *ngIf="movement.status === MovementStatus.CANCELLED" nz-icon nzType="icons:unpaid"></i>
                    <i *ngIf="movement.status === MovementStatus.CANCELLED_DUE_TO_LACK_OF_PAYMENT" nz-icon nzType="icons:unpaid"></i>
                  </div>
                  <div nz-col nzSpan="4"  class="movements__total_value">
                    <span *ngIf="movement.transaction_value < 0" class="debit">-{{ movement.item.total_value | number: '1.2-2' }}€</span>
                    <span *ngIf="movement.transaction_value > 0" class="credit">+{{ movement.item.total_value | number: '1.2-2' }}€</span>
                  </div>
                </div>
              </ng-template>
              <ng-template #movementInfo>

                <div nz-row [nzType]="'flex'">
                  <div nz-col nzSpan="18" class="movements__description">
                    {{ movement.item.description }}
                  </div>
                  <div nz-col nzSpan="6" class="movements__balance">
                    {{ movement.current_balance | number: '1.2-2' }}€
                  </div>
                </div>

                <div nz-row [nzType]="'flex'">
                  <div nz-col nzSpan="24" class="movements__date">
                    {{ movement.item.created_at | date: 'dd-MM-yyyy' }}
                  </div>
                </div>
                <div nz-row [nzType]="'flex'">
                  <div *ngIf="movement?.item?.extra_info && movement?.item?.extra_info?.refectory_meal_category" nz-col nzSpan="24" class="movements__date">
                    {{ movement?.item?.extra_info?.refectory_meal_category == 'lunch' ? 'Almoço' : 'Jantar' }}
                  </div>
                </div>

              </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </div>

  </div>
  <div nz-col nzSpan="1"></div>
</div>
