<div nz-row nzType="flex" nzJustify="start">
  <div *ngFor="let interview of interviews; let last = last" nz-col nzXs="24">
    <div nz-row class="row-details" nzGutter="34">
      <div nz-col nzXs="24">
        <app-register-interview [interview]="interview" (hasChanged)="close($event)"></app-register-interview>
      </div>
    </div>
    <nz-divider *ngIf="!last" class="row-details-divider"></nz-divider>
  </div>
</div>
