<nz-tabset class="days-bar" *ngIf="dateTabType === 'weekday'">
  <nz-tab
    *ngFor="let day of fifteenDays; index as i"
    (nzSelect)="daySelected(day)"
    [nzTitle]="dates"
  >
    <ng-template #dates>
      <div *ngIf="i === 0" nz-row class="days-bar--weekday">
        {{ 'ALIMENTATION.DAYS.TODAY' | translate }}
      </div>
      <div *ngIf="i === 1" nz-row class="days-bar--weekday">
        {{ 'ALIMENTATION.DAYS.TOMORROW' | translate }}
      </div>
      <div *ngIf="i > 1" nz-row class="days-bar--weekday">
        {{
          (day | date: 'EEEE':'UTC+0':translate.currentLang)
            .charAt(0)
            .toUpperCase() +
            (day | date: 'EEEE':'UTC+0':translate.currentLang).slice(1)
        }}
      </div>
      <div nz-row class="days-bar--date">{{ day | date: 'dd MMM yyyy' }}</div>
    </ng-template>
  </nz-tab>
</nz-tabset>

<nz-tabset
  class="days-bar"
  [nzSelectedIndex]="startIndex"
  *ngIf="dateTabType === 'months'"
>
  <nz-tab
    *ngFor="let day of fifteenMonth"
    (nzSelect)="daySelected(day)"
    [nzTitle]="dates"
  >
    <ng-template #dates>
      <div nz-row class="days-bar--weekday">
        {{
          (day | date: 'MMMM':'UTC+0':translate.currentLang)
            .charAt(0)
            .toUpperCase() +
            (day | date: 'MMMM':'UTC+0':translate.currentLang).slice(1)
        }}
      </div>
      <div nz-row class="days-bar--date">{{ day | date: 'yyyy' }}</div>
    </ng-template>
  </nz-tab>
</nz-tabset>
