@import 'theme.less';

:host::ng-deep {
  .ant-tabs-ink-bar {
    width: 50px !important;
    height: 6px;
  }

  .ant-tabs-bar {
    background: #ffffff;
    border: none;
    height: auto;
  }

  .ant-tabs-tab-prev-icon-target .ant-tabs-tab-next-icon-target {
    font-size: 20px;
  }

  .ant-tabs-nav .ant-tabs-tab {
    padding: 22px 19px 10px 0;
  }

  .ant-tabs-nav .ant-tabs-tab-active {
    .days-bar {
      &--weekday {
        color: var(--primary-6);
       }
      &--date {
        color: var(--primary-6);
      }
     }

  }

  .days-bar {
    font-style: normal;
    font-stretch: normal;
    font-family: Montserrat;
    &--weekday {
      width: auto;
      height: 24px;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.33;
      letter-spacing: -0.5px;
      color: #c3c3c3;
    }
    &--date {
      width: 57px;
      height: 18px;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.29;
      letter-spacing: normal;
      color: #c3c3c3;
    }
  }
}
