
<nz-card class="card__section" [ngClass]="{'blur': !ubike.active}" *ngIf="custumizeToggle || ubike.active">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16" [nzLg]="16" [nzXl]="14" [nzXXl]="14">
      <div nz-row>
        <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="4" [nzLg]="3" [nzXl]="2" [nzXXl]="2">
          <i nz-icon class="icon" type="icons:icons-ubike" id="icon-dashboard"></i>
        </div>
        <div nz-col [nzXs]="21" [nzSm]="21" [nzMd]="20" [nzLg]="21" [nzXl]="22" [nzXXl]="22">
          <div nz-row>
            <span class="card__title">{{translations?.length>1 ? ((translations | languageChange)?.name) :
              ('DASHBOARD.WIDGETS.U_BIKE.TITLE' | translate)}}</span>
          </div>
          <div nz-row class="black-text">
            <span>{{ "DASHBOARD.WIDGETS.U_BIKE.DESCRIPTION" | translate }}</span>
          </div>
        </div>
      </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="10" [nzXXl]="10">
      <button nz-button nzType="default" class="btw-see-more" [routerLink]="['/u-bike', 'dashboard']">
        {{ "DASHBOARD.WIDGETS.SEE-MORE.TITLE" | translate }}
      </button>
    </div>

  </div>

  <div nz-row class="card__bike">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="4" [nzXXl]="4">
      <div nz-row>
        <span class="card__bike__distance"> {{ubike?.data?.total_kilometers}} km </span>
      </div>
      <div nz-row>
        <span class="card__bike__description">{{"DASHBOARD.WIDGETS.U_BIKE.DISTANCE" | translate }}</span>
      </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="4" [nzXXl]="4">
      <div nz-row>
        <span class="card__bike__title">{{ubike?.data?.total_trips}}</span>
      </div>
      <div nz-row>
        <span class="card__bike__description">{{"DASHBOARD.WIDGETS.U_BIKE.TRIPS" | translate }}</span>
      </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="4" [nzXXl]="4">
      <div nz-row>
        <span class="card__bike__title">{{ubike?.data?.avg_speed}} km/h</span>
      </div>
      <div nz-row>
        <span class="card__bike__description">{{"DASHBOARD.WIDGETS.U_BIKE.AVG_SPEED" | translate }}</span>
      </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="4" [nzXXl]="4">
      <div nz-row>
        <span class="card__bike__title">{{ubike?.data?.total_saved_co2}} g</span>
      </div>
      <div nz-row>
        <span class="card__bike__description">C02</span>
      </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="4" [nzXXl]="4">
      <div nz-row>
        <span class="card__bike__title">{{ubike?.data?.total_burned_calories}} cal</span>
      </div>
      <div nz-row>
        <span class="card__bike__description">{{"DASHBOARD.WIDGETS.U_BIKE.CALORIES" | translate }}</span>
      </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="4" [nzXXl]="4">
      <div nz-row>
        <span class="card__bike__title">{{ubike?.data?.total_points}} </span>
      </div>
      <div nz-row>
        <span class="card__bike__description">{{"DASHBOARD.WIDGETS.U_BIKE.POINTS" | translate }}</span>
      </div>
    </div>
  </div>

</nz-card>
