@import "theme";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 1199px)";
@mobile:    ~"only screen and (min-width: 320px) and (max-width: 719px)";


.blur {
  opacity: 50%;
}

.card {
  &__title {
    font-weight: bold;
    font-size: 17px;
    color: var(--primary-7);
  @media @mobile {
      font-size: 15px;
  }
  }
  &__section {
  color: #000000;
  margin-bottom: 0.5cm;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  }
  &__bike {
    padding-top: 40px;
    text-align: center;
    &__distance {
      font-size: 21px;
      color: var(--primary-color);
      font-weight: bold;
    }
    &__title {
      font-size: 21px;
      font-weight: bold;
    }
    &__description {
      margin: 0px;
      margin-bottom: 10px;
      font-family: Montserrat;
      font-size: 13px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: normal;
      color: #666666;
    }
  }
}

.black-text {
  color: black;
  font-family: Montserrat;
  font-size: 15px;
}

.btw-see-more {
  border: solid 0.4px black;
  color: black;
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}
.btw-see-more:hover {
  color: white !important;
  border: solid 0.4px var(--primary-6);
  background-color: var(--primary-6);
}
#icon-dashboard::ng-deep svg {
  path {
    fill: var(--primary-color);
  }
}

.icon {
  font-size: 40px;
  padding-right: 10px;
  @media @mobile {
    font-size: 27px;
  }
}

@media @mobile {
  .card{
    &__section {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}
