/* You can add global styles to this file, and also import other style files */
@import 'ng-zorro-antd/src/ng-zorro-antd.less';
@import 'variables.less';
@import './default-theme.less';
@import 'app/directives/simplebar.less';
@import 'app/directives/simplebar-override.less';

/* body */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
  overflow-y: hidden;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=), none;
  user-select: none;

  fi-root {
    background-color: #02090b;
    height: 100%;
    display: block;
    position: relative;
  }

  .box-loader {
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .loader,
  .loader:before,
  .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
  }

  .loader {
    color: white;
    font-size: 12px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  .loader:before,
  .loader:after {
    content: '';
    position: absolute;
    top: 0;
  }

  .loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .loader:after {
    left: 3.5em;
  }

  @-webkit-keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }

  @keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
}

.page {
  display: grid;
  grid-template-rows: 54px auto 72px;
  grid-template-columns: 1fr;
  height: 100vh;
  grid-template-areas:
    'head head'
    'content  content'
    'foot  foot';

  router-outlet {
    display: none;
  }

  fi-header {
    grid-area: head;
  }

  &__body {
    grid-area: content;
  }

  fi-footer {
    grid-area: foot;
  }

  .hidden {
    display: none;
  }
}

.component-hide {
  display: none !important;
}

/* user select */

/* text selection*/
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* outline */
*:focus {
  outline: none;
}
