<div class="content">
  <nz-spin [nzSpinning]="isLoading">
    <form nz-form [formGroup]="formCreate" nzLayout="horizontal">
      <nz-spin [nzSpinning]="loadingLanguages">
        <ng-container formArrayName="translations">
          <nz-tabset #translationTabs>
            <nz-tab *ngFor="let translation of translations.controls; let i = index;"
              [nzTitle]="getLanguageName(translation.value.language_id)">
              <ng-container [formGroupName]="i">
                <nz-form-item>
                  <nz-form-label nzFor="name" nzRequired>Nome ( {{getLanguageName(translation.value.language_id)}} )</nz-form-label>
                  <nz-form-control [nzErrorTip]="error_translations">
                    <input nz-input formControlName="name" id="name">
                  </nz-form-control>
                  <ng-template #error_translations let-control>
                    <ng-container class="error" *ngIf="submit && formCreate.get('translations.' + i + '.name')?.errors">
                      Campo obrigatório
                    </ng-container>
                  </ng-template>
                </nz-form-item>
              </ng-container>
            </nz-tab>
          </nz-tabset>
        </ng-container>
      </nz-spin>
      <div nz-row>
        <nz-form-item>
            <nz-form-label nzRequired>Data</nz-form-label>
            <nz-form-control [nzErrorTip]="error_date">
              <nz-date-picker class="primary-datePicker total-width" formControlName="date" id="date" nzPlaceHolder="">
              </nz-date-picker>
                <ng-template #error_date let-control>
                  <ng-container class="error" *ngIf="submitted && f.date.errors">
                    Campo obrigatório
                  </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
    </div>
    <div nz-row>
      <nz-form-item>
        <nz-form-label nzFor="error_organic_unit_ids">Unidades Orgânicas</nz-form-label>
        <nz-form-control [nzErrorTip]="error_organic_unit_ids">
          <nz-select formControlName="organic_unit_ids" name="organic_unit_ids" nzMode="multiple" [nzLoading]="organicUnitsLoading">
          <nz-option *ngFor="let organicUnit of organicUnits" [nzLabel]="organicUnit.name"
          [nzValue]="organicUnit.id">
          </nz-option>
          </nz-select>
          <ng-template #error_organic_unit_ids let-control>
            <ng-container class="error" *ngIf="f?.error_organic_unit_ids.dirty && f?.error_organic_unit_ids.errors">
              Campo obrigatório
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
  </div>
    </form>
  </nz-spin>
</div>

<div class="space" nz-row>
  <button *ngIf="idToUpdate" nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="isLoading" [disabled]="isLoading"
    (click)="submit(formCreate.value)" class="button-submit"
    [nzType]="'primary'">{{idToUpdate ? 'Editar' : 'Criar'}}</button>
</div>