<div #keyboardContainer class="keyboard" [ngClass]="{ 'keyboard--numpad': currentType === KeyboardType.Numpad}" *ngIf="isVisible">

  <div *ngIf="currentType === KeyboardType.All">
    <div *ngFor="let row of (showSpecials  ? specialsRows : (isUpperCase ? upperKeyboardRows : keyboardRows))" class="keyboard__all__row" >
      <div class="keyboard__all__key" *ngFor="let key of row" (click)="clickKey($event, key)">{{key}}</div>
    </div>
    <div  class="keyboard__all__row" >
      <div class="keyboard__all__key keyboard__all__key--shift" (click)="toggleShift($event)" >
        <i nz-icon nzType="icons:shift"></i>
        <div class="keyboard__all__key__marker"
         [ngClass]="{
          'keyboard__all__key__marker--active': isUpperCase
         }"
        ></div>
      </div>
      <div class="keyboard__all__key keyboard__all__key--special" (click)="toggleSpecials($event)"  >
        <span>#@+</span>
        <div class="keyboard__all__key__marker"
         [ngClass]="{
          'keyboard__all__key__marker--active': showSpecials
         }"
        ></div>
      </div>
      <div class="keyboard__all__key keyboard__all__key--space"  (click)="space($event)"  >
        <i nz-icon nzType="icons:spacebar"></i>
      </div>

      <div class="keyboard__all__key" (click)="clickKey($event, '.')">.</div>
      
      <div class="keyboard__all__key keyboard__all__key--backspace" (click)="backspace($event)" >
        <i nz-icon nzType="icons:backspace"></i>
      </div>
    </div>
  </div>

  <div *ngIf="currentType === KeyboardType.Numpad">
    <div class="keyboard__numpad__row" >
      <div class="keyboard__numpad__key" (click)="clickKeyNumpad($event, 1)">1</div>
      <div class="keyboard__numpad__key" (click)="clickKeyNumpad($event, 2)">2</div>
      <div class="keyboard__numpad__key" (click)="clickKeyNumpad($event, 3)">3</div>
    </div>
    <div class="keyboard__numpad__row" >
      <div class="keyboard__numpad__key" (click)="clickKeyNumpad($event, 4)">4</div>
      <div class="keyboard__numpad__key" (click)="clickKeyNumpad($event, 5)">5</div>
      <div class="keyboard__numpad__key" (click)="clickKeyNumpad($event, 6)">6</div>
    </div>
    <div class="keyboard__numpad__row" >
      <div class="keyboard__numpad__key" (click)="clickKeyNumpad($event, 7)">7</div>
      <div class="keyboard__numpad__key" (click)="clickKeyNumpad($event, 8)">8</div>
      <div class="keyboard__numpad__key" (click)="clickKeyNumpad($event, 9)">9</div>
    </div>
    <div class="keyboard__numpad__row" >
      <div class="keyboard__numpad__key" (click)="clickKeyNumpad($event, 0)">0</div>
      <!--<div class="keyboard__numpad__key" (click)="clickKey($event, ',')">,</div>-->
      <div class="keyboard__numpad__key" (click)="backspace($event)">
        <i nz-icon nzType="icons:backspace"></i>
      </div>
    </div>
  </div>
</div>

