:host {
  position: absolute;
  bottom: 0px;
  z-index: 999;
}

.keyboard {
  background-color: #000000;
  color: #fff;

  // THEME
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.25),
    0 0 20px -8px rgba(0, 0, 0, 0.15);
  background: #151515;
  background: linear-gradient(
    to left top,
    #151515,
    #171717,
    #1a1a1a,
    #1c1c1c,
    #1e1e1e
  );

  width: 100vw;
  height: 430px;
  padding: 20px;

  &--numpad {
    height: 350px;
  }

  &__all {
    &__row {
      display: flex;
      align-items: center;
      justify-content: center;

      //padding-bottom: 10px;
      &:first-of-type {
        margin-bottom: 10px;
      }
      &:last-of-type {
        margin-top: 10px;
      }
    }

    &__key {
      border-radius: 8px;
      background: #fafafa;
      color: #707070;
      border: 2px solid rgba(255, 255, 255, 0.04);
      border-top-color: rgba(255, 255, 255, 0.04);
      border-right-color: rgba(255, 255, 255, 0.04);
      border-bottom-color: rgba(255, 255, 255, 0.04);
      border-bottom-width: 2px;
      border-left-color: rgba(255, 255, 255, 0.04);

      // THEME
      border-color: rgba(255, 255, 255, 0.02);
      border-bottom-color: rgba(255, 255, 255, 0.02);
      border-bottom-color: rgba(255, 255, 255, 0.04);
      -webkit-box-shadow: 0 5px 0 0.05px rgba(255, 255, 255, 0.2);
      box-shadow: 0 5px 0 0.05px rgba(255, 255, 255, 0.2);
      color: #b7b7b7;
      background: #323232;

      margin: 8px;
      width: 60px;
      height: 50px;
      font-size: 25px;
      line-height: 25px;
      padding: 8px;
      padding-left: 20px;

      &--shift {
        width: 100px;
      }

      &--special {
        width: 100px;
        font-size: 18px;
      }

      &--space {
        width: 410px;
      }

      &--backspace {
        width: 100px;
      }

      &__marker {
        &--active {
          background: green;
        }
        background: rgb(149, 149, 149);
        width: 10px;
        height: 10px;
        position: relative;
        bottom: 25px;
        left: 50px;
        border-radius: 15px;
      }

      &:hover {
        transform: scaleY(0.98) translateY(1px);
      }

      &:active {
        transform: scaleY(0.95) translateY(4px);
      }
    }
  }

  &__numpad {
    &__row {
      display: flex;
      align-items: center;
      justify-content: center;

      &:last-of-type {
        .keyboard__numpad__key {
          width: 130px;
        }
      }
    }

    &__key {
      border-radius: 8px;
      background: #fafafa;
      color: #707070;
      border: 2px solid rgba(255, 255, 255, 0.04);
      border-top-color: rgba(255, 255, 255, 0.04);
      border-right-color: rgba(255, 255, 255, 0.04);
      border-bottom-color: rgba(255, 255, 255, 0.04);
      border-bottom-width: 2px;
      border-left-color: rgba(255, 255, 255, 0.04);

      // THEME
      border-color: rgba(255, 255, 255, 0.02);
      border-bottom-color: rgba(255, 255, 255, 0.02);
      border-bottom-color: rgba(255, 255, 255, 0.04);
      -webkit-box-shadow: 0 5px 0 0.05px rgba(255, 255, 255, 0.2);
      box-shadow: 0 5px 0 0.05px rgba(255, 255, 255, 0.2);
      color: #b7b7b7;
      background: #323232;

      margin: 8px;
      width: 80px;
      height: 60px;
      font-size: 33px;
      line-height: 33px;
      padding: 14px;

      &:hover {
        transform: scaleY(0.98) translateY(1px);
      }

      &:active {
        transform: scaleY(0.95) translateY(4px);
      }
    }
  }
}
