<div class="auth__title">Login</div>
<nz-alert *ngIf="showError" nzType="error" [nzDescription]="error"> </nz-alert>
<div class="login__form">
  <form
    nz-form
    [formGroup]="loginForm"
    class="login-form"
    (ngSubmit)="login(loginForm.value, loginForm.valid)"
  >
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixTemplateUser">
          <input
            type="text"
            nz-input
            formControlName="email"
            placeholder="email"
          />
        </nz-input-group>
        <ng-template #prefixTemplateUser
          ><i nz-icon type="user"></i
        ></ng-template>
        <nz-form-explain *ngIf="loginForm.get('email').errors">{{
          getEmailInputError()
        }}</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixTemplatePassword">
          <input
            type="password"
            nz-input
            formControlName="password"
            placeholder="Password"
          />
        </nz-input-group>
        <ng-template #prefixTemplatePassword
          ><i nz-icon type="lock"></i
        ></ng-template>
        <nz-form-explain *ngIf="loginForm.get('password').errors">{{
          getPasswordInputError()
        }}</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button
          nz-button
          class="login__form__button"
          [nzType]="'primary'"
          [nzLoading]="isLoading"
        >
          Entrar
        </button>
      </nz-form-control>
      <nz-form-explain *ngIf="this.remaining_attempts !== null">
        Restam {{ this.remaining_attempts }} tentativas.
      </nz-form-explain>
      <nz-form-explain *ngIf="this.too_many_attempts">
        Demasiadas tentativas de login falhadas, tente novamente mais tarde.
      </nz-form-explain>
    </nz-form-item>
  </form>
</div>

<div *ngIf="hasSSO">
  <nz-divider nzText="Ou"></nz-divider>

  <div>
    <button
      nz-button
      (click)="redirectSSOUrl()"
      class="login__form__button"
      [nzType]="'primary'"
    >
      Autenticação Federada
    </button>
  </div>
</div>
