.content {
  padding: 32px;
  background-color: white;
}

.actions {
  text-align : right;
  padding-top: 42px;

  button:first-child {
      margin-right: 24px;
  }

}


.space{
  background-color: #F2F2F2;
  padding-top:20px;
  padding-bottom: 20px;
  text-align: right
}
.error {
    color: red;
    margin-top:5px;
  
    &__input {
      border-color: red !important;
      background-color: #ff00000a;
  
      :focus {
        border-color: red !important;
      }
  
      :hover {
        border-color: red !important;
      }
    }
}