<div class="content">
  <form nz-form [formGroup]="phaseGroup">
    <div nz-row nzType="flex" nzGutter="16" nzJustify="start">
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 5 }">
        <nz-form-item>
          <nz-form-control>
            <nz-form-label nzFor="academic_year" nzSpan="24" nzRequired>Ano académico</nz-form-label>
            <nz-select formControlName="academic_year" name="academic_year" nzAllowClear>
              <nz-option *ngFor="let academic_year of academic_years" [nzLabel]="academic_year.academic_year"
                [nzValue]="academic_year.academic_year">
              </nz-option>
            </nz-select>
          </nz-form-control>
          <nz-form-explain class="error" *ngIf="submit && f.academic_year.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 5 }">
        <nz-form-item>
          <nz-form-control>
            <nz-form-label nzFor="application_phase" nzSpan="24" nzRequired>Fase nº</nz-form-label>
            <input nz-input type="number" formControlName="application_phase" name="application_phase">
          </nz-form-control>
          <nz-form-explain class="error" *ngIf="submit && f.application_phase.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 7 }">
        <nz-form-item>
          <nz-form-control>
            <nz-form-label nzFor="dateRange" nzSpan="24" nzRequired>Intervalo de datas</nz-form-label>
            <nz-range-picker [nzShowTime]="true" formControlName="dateRange" name="dateRange"
              nzPlaceHolder="Por favor selecione uma data"></nz-range-picker>
          </nz-form-control>
          <nz-form-explain class="error" *ngIf="submit && f.dateRange.errors">
            Campo obrigatório
          </nz-form-explain>
        </nz-form-item>
      </div>

    </div>
    <div nz-row nzType="flex" nzGutter="16">
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 7 }">
        <nz-form-item>
          <nz-form-control [nzValidateStatus]="phaseGroup.errors && phaseGroup.errors.notBetween ? 'error' : 'success'"
            nzErrorTip="A data deve ser entre a data de inicio e a data de fim">
            <nz-form-label [nzRequired]="!phaseGroup.get('out_of_date_validation').value" nzFor="out_of_date_from" nzSpan="24">Fora de prazo a partir de:</nz-form-label>
            <nz-date-picker formControlName="out_of_date_from" name="out_of_date_from"
              nzPlaceHolder="Por favor selecione uma data"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>
    <div nz-row>
      <nz-form-item>
        <nz-form-label nzFor="fixed_accommodation_period">Fixar período de alojamento</nz-form-label>
        <nz-form-control nzErrorTip="Campo obrigatório">
          <nz-switch formControlName="fixed_accommodation_period" id="fixed_accommodation_period"></nz-switch>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-row>
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 7 }">
        <nz-form-item>
          <nz-form-label nzFor="out_of_date_validation">Fora de prazo pela data de matrícula</nz-form-label>
          <nz-form-control nzErrorTip="Campo obrigatório">
            <nz-switch formControlName="out_of_date_validation" id="out_of_date_validation" (ngModelChange)="changeOutDate($event)"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div *ngIf="phaseGroup.get('out_of_date_validation').value" nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 7 }">
        <nz-form-item>
          <nz-form-label nzFor="out_of_date_validation_days" nzRequired>Após</nz-form-label>
          <nz-form-control nzErrorTip="Campo inválido">
            <nz-input-group nzAddOnAfter="Dias">
              <input nz-input type="number" minlength="1" pattern="\d*" formControlName="out_of_date_validation_days">
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>


  </form>
</div>


<div class="space">
  <button *ngIf="idToUpdate" nz-button (click)="backList()" style="margin-right: 15px;">Voltar</button>
  <button nz-button [nzLoading]="loading" [disabled]="loading" (click)="submitForm(phaseGroup.value)"
    [nzType]="'primary'">{{idToUpdate ? 'Editar' : 'Criar'}}</button>
</div>