<!--Steps-->
<div nz-row class="content content__prog">
  <!--XL to XXL-->
  <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="0" [nzXl]="24" [nzXXl]="24">
    <nz-steps class="content__line" [nzCurrent]="0" nzProgressDot>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T1' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_ONE' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T2' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_TWO' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T3' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_THREE' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T4' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_FOUR' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T5' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_FIVE' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.TITLE' | translate }}"
        nzDescription="{{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_SIX' | translate }}">
      </nz-step>
    </nz-steps>
  </div>
  <!--MD to LG-->
  <!--XS to SM-->
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="0" [nzXXl]="0">
    <div>
      <p class="steps-minimal-size_sub-title">
        {{ 'PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T1' | translate }}
      </p>
      <p class="steps-minimal-size_title">
        {{ 'PRIVATEACCOMMODATION.FORM_OWNER.STEP_ONE_TOTAL' | translate }}
      </p>
    </div>

  </div>
</div>

<nz-divider class="divider-web"></nz-divider>


<!--Form-->
<form nz-form [formGroup]="OwnerForm" (ngSubmit)="submitForm()" class="content__group">
  <div class="application_form">
    <div nz-row *ngIf="showErrorMessage" class="bottom">
      <div nz-col nzSpan="24">
        <nz-alert nzType="error" [nzMessage]="'MISC.ERROR_GENERIC' | translate"></nz-alert>
      </div>
    </div>
    <p class="title-step-form"> {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_SIX.FORM_ELEMENTS.REV.T1" | translate }}
    </p>
    <p>{{'MISC.REQUIRED-INFO' | translate }}<span class="error"><b>*</b></span> {{'MISC.REQUIRED-INFO-2' | translate }}</p>

    <!--Name-->
    <nz-form-item>
      <nz-form-label nzRequired nzFor="name">
        <b>{{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_ONE.FORM_ELEMENTS.FULL_NAME.TITLE" | translate }}</b>

      </nz-form-label>
      <nz-form-control>
        <input class="primary-input" [ngModel]="name" formControlName="name" nz-input id="name" />
        <nz-form-explain class="error" *ngIf="submitted && f.name.errors">
          {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <!--Birth Date-->
    <nz-form-item>
      <nz-form-label nzFor="birth_date">
        <b>
          {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_ONE.FORM_ELEMENTS.BIRTH_DATE.TITLE" |
          translate }}
        </b>
      </nz-form-label>
      <nz-form-control>
        <nz-date-picker class="primary-datePicker" formControlName="birth_date" [ngModel]="birth_date" id="birth_date"
          nzPlaceHolder="">
        </nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <!--Gender-->
    <nz-form-item>
      <nz-form-label nzFor="gender">
        <b>
          {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_ONE.FORM_ELEMENTS.GENDER.TITLE" | translate }}
        </b>
      </nz-form-label>
      <nz-form-control>
        <nz-radio-group class="content__radio_group primary-radio" [ngModel]="gender" formControlName="gender">
          <label nz-radio nzValue="Feminine"><span>
              {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_ONE.FORM_ELEMENTS.GENDER.GENDER1" | translate
              }}</span></label>
          <label nz-radio nzValue="Male"><span>
              {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_ONE.FORM_ELEMENTS.GENDER.GENDER2" | translate
              }}</span></label>
          <label nz-radio nzValue="Other"><span>
              {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_ONE.FORM_ELEMENTS.GENDER.GENDER3" | translate
              }}</span></label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <!--Identification-->
    <div nz-row>
      <div nz-col [nzXs]="24" [nzMd]="11">
        <nz-form-item>
          <nz-form-label nzFor="document_type_id">
            <b>
              {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_ONE.FORM_ELEMENTS.IDENTIFICATION_TYPE.TITLE" | translate }}
            </b>
          </nz-form-label>
          <nz-form-control>
            <nz-select formControlName="document_type_id" [nzMode]="'default'" [ngModel]="document_type_id" nzShowSearch
              nzAllowClear class="primary-select">

              <ng-container *ngFor="let type of documentTypes">
                <nz-option [nzValue]="type.id" [nzLabel]="(type?.translations | languageChange).description">
                </nz-option>
              </ng-container>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="0" [nzMd]="2">

      </div>
      <div nz-col [nzXs]="24" [nzMd]="11">
        <nz-form-item>
          <nz-form-label nzFor="identification">
            <b>
              {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_ONE.FORM_ELEMENTS.IDENTIFICATION.TITLE" | translate }}
            </b>
          </nz-form-label>
          <nz-form-control>
            <input mask="00000000" class="primary-input" formControlName="identification" [ngModel]="identification"
              nz-input id="identification" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzXs]="24" [nzMd]="11">
        <!--Tin-->
        <nz-form-item>
          <nz-form-label nzRequired nzFor="tin">
            <b>
              {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_ONE.FORM_ELEMENTS.NIF.TITLE" | translate }}</b>
          </nz-form-label>
          <nz-form-control>
            <input mask="000000000" class="primary-input" formControlName="tin" [ngModel]="tin" nz-input id="tin" />
            <nz-form-explain class="error" *ngIf="submitted && f.tin.errors">
              {{ 'FORM_INPUTS.VALIDATIONS.REQUIRED' | translate }}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="0" [nzMd]="2">

      </div>
      <div nz-col [nzXs]="24" [nzMd]="11">
        <nz-form-item>
          <nz-form-label nzFor="nationality">
            <b>
              {{ "PRIVATEACCOMMODATION.FORM_OWNER.FORM.STEP_ONE.FORM_ELEMENTS.NATIONALITY.TITLE" | translate }}
            </b>
          </nz-form-label>
          <nz-form-control>
            <nz-select class="primary-select" formControlName="nationality" [ngModel]="nationality" id="nationality"
              nzShowSearch>
              <nz-option *ngFor="let nationality of nationalities"
                [nzLabel]="translateService.currentLang === 'pt' ? nationality.value : nationality.translate"
                [nzValue]="nationality.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <!--Advance Button-->
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="button-space">
      <app-button (click)="nextStep()" [translate]="'MISC.NEXT'">
      </app-button>
    </div>
  </div>

</form>
