<div class="interest-card-small" *ngIf="interest" [routerLink]="['/volunteering/experiences/', interest?.experience_id]">
  <div nz-row>
    <div nz-col nzXs="24" nzMd="12">
      <app-action-status-badge [data]="interest"></app-action-status-badge>
    </div>

    <div nz-col nzXs="24" nzMd="12" style="text-align: right">
      <app-button
        class="present-collaboration--button"
        [type]="'secundary'"
        translate="SOCIAL_SUPPORT.HISTORY_APPLICATIONS.FORM" (click)="goDetail($event,interest?.id)"
      ></app-button>
    </div>
  </div>

  <div nz-row class="padding-bottom-10">
    <div nz-col nzSpan="24" class="interest-card-small--title">
        {{ (interest?.experience?.translations | languageChange)?.title }}
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24" class="padding-bottom-20">
      <div class="interest-card-small--description">
        {{ (interest?.experience?.translations | languageChange)?.description }}
      </div>
    </div>
  </div>
  <div nz-row class="padding-bottom-20">
    <div nz-col nzXs="24" nzMd="8" class="padding-bottom-mobile-20">
      <div class="title-detail">{{ 'SOCIAL_SUPPORT.APPLICATIONS.SUBMITTED_ON' | translate }}</div>
      <div class="description-detail">
        {{ interest?.experience?.publish_date | date: 'dd-MM-yyyy' }}
      </div>
    </div>
    <div nz-col nzXs="24" nzMd="16">
      <div class="title-detail">{{ 'SOCIAL_SUPPORT.APPLICATIONS.ORGANIC_UNIT' | translate }}</div>
      <div class="description-detail">
        {{ interest?.experience?.organic_unit?.name }} - {{ interest?.experience?.organic_unit?.code }}
      </div>
    </div>
  </div>
</div>
